[2015-05-01 21:16] alexeagle commented on #1636
I think it's an issue in tsd, actually. Filed https://github.com/DefinitelyTyped/tsd/issues/151

[2015-05-01 21:32] rkirov opened #1640 "Safari's ES6 Map does not support constructor params, we need a better facade for it."
Open hello world in Safari (tested 7 and 8), the following error appears `TypeError: Map constructor does not accept arguments`.

[2015-05-01 21:43] alexeagle commented on #1636
Not sure yet how frequent this problem will be, so I'm going to prioritize other things. If it bites us again, we can do something like force-delete the typings every time. Or, maybe it will be fixed upstream before then.

[2015-05-01 22:08] matanlurey commented on #1639
Any reason you can't put the Service binding in the bootstrap or in a common parent component?

[2015-05-01 22:28] jbdeboer opened #1642 "Provide a TestBed which allows Angular2 apps to test their components"
There is an internal Angular testbed, but we need something that can be used outside of the Angular codebase.

[2015-05-01 22:34] jelbourn commented on #1642
Dupe of #1609 ?

[2015-05-01 22:34] jelbourn opened #1643 "DynamicChangeDetector values missing context for #var binding"
I have some code like this:
[code]
This worked previously, but now gives `TypeError: Cannot read property 'value' of undefined in [Your selection: {{scifi.value}} in null]`

Investigation shows that the `ProtoRecord` for this binding has a `contextIndex` of `32`, but in the `DynamicChangeDetector` instance, `values[32]` is `undefined`.

To see this in action:
Pull `https://github.com/jelbourn/angu

[2015-05-01 22:50] jelbourn commented on #1619
The syntax should actually be `"body:^click"`. There seems to be a more subtle issue w/ Dynamically loaded components, though. I'll investigate that more and file a new issue.

[2015-05-01 22:50] #1619 closed

[2015-05-01 22:56] jbdeboer commented on #1642
Yes, also dup of #1144 which was closed without implementing a externally-visible TestBed.

[2015-05-01 22:56] #1642 closed

[2015-05-01 22:56] jbdeboer commented on #1144
This is closed, but https://github.com/angular/angular/pull/1160#issuecomment-88772048 claims that the fix doesn't actually cover the "non Angular-core developer" case.  There is also #1609 now, which is asking for the same time.

[2015-05-01 23:11] alexeagle commented on #1636
FYI for the team:
fix is `rm -rf modules/angular2/typings` and then `tsd reinstall --config=modules/angular2/tsd.json`

[2015-05-01 23:34] yjbanov commented on #1146
@mhevery the existing test bed API is based on internal classes and lacks integration with the event loop (specifically microtasks) and change detection.

@vicb what do you think of the above proposal? We need to start working on this asap. If you are blocked on something urgent, please  we can reassign.

I'm ok with dropping the static API for the short term solution.

[2015-05-01 23:43] dvlsg commented on #1639
Not any technical reason. It works fine that way, but feels unintuitive (IMHO). It would be the difference between importing services and listing them as injectables where they are needed, and importing *everything* required by your app in the top level components to ensure that services will always be single instances. Not the end of the world, by any means, and it's certainly simple to pull off

[2015-05-02 03:45] tbosch commented on #1541
Proposed design: https://docs.google.com/document/d/1M9FmT05Q6qpsjgvH1XvCm840yn2eWEg0PMskSQz7k4E/edit#heading=h.vqv7a69lcwsl

[2015-05-02 03:45] tbosch commented on #1541
I.e. allow component based renderers.

[2015-05-02 04:42] armorik83 opened #1646 "PhantomJS 2 not working"
Hi.

Maybe because of the vicinity of `src/facade/lang.js`, to work on the browser, but it does not work with PhantomJS 2.

[code]

For some reason it was run when I comment out the `es6/dev/src/facade/lang.es6#L66-69`. I have no idea! :sob:  Thanks.

[2015-05-02 05:13] IgorMinar opened #31763 "don't export Zone constructor"
Since zone.js is such a delicate system, it is important that users can interact with it only in a safe manner using only the apis we intend them to be using.

I'm not sure what's the full scope of this work but here are some items we should definitely do:
- [ ] don't export the `Zone` constructor, users should use only `zone.fork` api to create new zones
- [ ] hide or at least prefix all of the p

[2015-05-02 07:15] pkozlowski-opensource commented on #1639
@dvlsg This works as expected. I've got an impression that you are confusing _registration_ of what is available in the injector (via `injectables`) versus _using_ (injecting) what is available. You can only inject what was registered before, so things need to be registered _somewhere_.

Now, as far as registration goes, in ng2 there is _hierarchy_ of injectors and you can register things on any l

[2015-05-02 07:17] pkozlowski-opensource commented on #1639
I'm going to close this one as things work as expected / designed. Having said this I can see this as a recurring "confusion point". @mhevery @vsavkin I'm not sure if we just need to have better docs for this, name things differently or re-work concepts, but I can see people bumping into this over and over again...

Personally it is confusing to me why things are confusing to people, as for me the

[2015-05-02 07:17] #1639 closed

[2015-05-02 07:35] pkozlowski-opensource opened #1647 "Build: `test.unit.dart` fails silently in case of errors in Dart code"
It seems that no errors in Dart code are reported while `test.unit.dart` is run - the only symptom is that Dartium doesn't get captured in Karma. This leads to very long and painful investigations, especially for cases where you need to update Dart version (and is extra-confusing for people not familiar with Dart and its tooling).

@alexeagle @IgorMinar I know that you guys are planning to move fr

[2015-05-02 09:16] pkozlowski-opensource commented on #1566
@TedSander just to be sure that I understand your use-case, could you please have a look at this (failing) test and confirm that this is what you are trying to do: https://github.com/pkozlowski-opensource/angular/commit/1e554f91a3c4112a297d950072b23678712fa301 ?

@tbosch I wonder how we should treat injectables from the dynamic components: shell we make them available to dynamically loaded compone

[2015-05-02 15:26] KhaosTheory1012 opened #1649 "When to expect the first angular2 version working with tsc?"
I am currently using the angular2 bundle and .d.ts from ngconf2015demo but it is not enough to work with if I want to use typescript.

Are there any ways to get ts and ng2 work at the moment?

[2015-05-02 18:58] alexpods commented on #1598
Here is my two cents: let's introduce some "propsAttribute" which will contain attribute name for directive properties. For example:

[code]

[code]

**Props**
* prevent collisions between components
* much sorter and cleaner syntax than prefixes

**Cons**
* maybe it can not be realized because it completely contradicts with already implemented directive interface :(

[2015-05-02 19:29] shtefanntz opened #1650 "Template annotation - Is it removed in the developer preview"
Greetings!

I am trying to prepare a demo to show the new stuff in angular2, but it seems that the @Template annotation is missing. Other people have used it in their example, but I cannot find it.

Also, is there a type definition file with all the directives/components on github?

Thanks,
Stefan

[2015-05-02 19:31] jianliao opened #1651 "Custom Elements does not work inside of angular component"
I try to make a very simple custom element([copied from here](http://webcomponents.org/articles/introduction-to-custom-elements/)) work with Angular2. If I use it directly in top level index.html, everything works fine. But if use it in a angular2 component template, my custom element does not seem to work. Please check the full demo from my [Plunker](http://plnkr.co/edit/sAnwQZ?p=preview). The an

[2015-05-02 19:41] matanlurey commented on #1651
I think this is a known bug: #1442.

[2015-05-02 19:41] #1651 closed

[2015-05-02 19:42] matanlurey commented on #1650
It is currently the `@View` annotation.

See: https://angular.io/docs/js/latest/quickstart.html

[2015-05-02 22:03] johnlindquist commented on #1143
@jelbourn @ThomasBurleson What's the es5 story for this?

[2015-05-03 00:52] TedSander commented on #1566
It looks a lot like what I was seeing, but the particular bug probably
would have been fixed by removing DynamicComponent. The injectable
parameters on DynamicComponent wasn't doing anything, but now that they are
gone it should be OK :)

On Sat, May 2, 2015 at 2:16 AM, Pawel Kozlowski <notifications@github.com>
wrote:

--
Ted Sander | Software Engineer | tsander@google.com | 408-857-5591

[2015-05-03 09:19] pkozlowski-opensource commented on #1650
@matanlurey is totally right - `@Template` was renamed to `@View` in developer preview.

[2015-05-03 09:19] #1650 closed

[2015-05-03 09:21] pkozlowski-opensource commented on #1649
@KhaosTheory1012 it should be already possible with the latest development preview - please check https://angular.io/docs/js/latest/quickstart.html (and the corresponding repo: https://github.com/angular/ts-quickstart)

It might still have some rough edges so please do report issues in https://github.com/angular/ts-quickstart if you bump into any issues.

[2015-05-03 09:21] #1649 closed

[2015-05-03 12:31] gionkunz commented on #1623
Same goes for `@InjectPromise` on Components. It also tries to do a synchronous inject.

[2015-05-03 18:08] hourliert opened #1652 "JSPM install angular2"
Hi,

I am trying to get angular2 working using jspm.

To setup this, I ran this command:
`jspm init && jspm i npm:angular2 && jspm i npm:rtts_assert`

Here are my files:

package.json
[code]

my system js config file :
[code]

My index.html

[code]

And finally my lib/app.js

[code]

I get this error on boot :
[code]

I inspect the code. It seems, the require of 'angular2/src/dom/dom_adapter' work

[2015-05-03 21:28] dgbonomo opened #1653 "Suggestion for ng2 docs: cookbook examples"
I'm not sure where else to place this, but I think having a dedicated cookbook section in the Angular 2 docs would be great.  It could provide minimal working examples on how to achieve specific goals that aren't immediately straightforward with step-by-step documentation.  For example, sharing data between nested components, creating components that "pop up" a detail screen, and so on (these are

[2015-05-04 04:05] #1600 closed

[2015-05-04 06:55] SamVerschueren opened #1655 "Error: No Directive annotation found on AppComponent"
Hi everyone

I was doing the first step in the getting started guide. When using es5, the example works but when using TypeScript, not so much.

First of all, I think the documentation forgot to include the traceurRuntime script.

[code]

But when everything is included correctly, it gives me the following erro

[code]

This is a little piece of the `main.js` file transpiled from the `main.ts` fil

[2015-05-04 08:52] vicb opened #1656 "[Question] JS dev bundle & lst zones"
I'm wondering why we have the following code in out gulpfile:

[code]

Considering that we already use the lst in `vm_turn_zone.es6`:

[code]

@rkirov any insights ?

[2015-05-04 10:48] SekibOmazic opened #1658 "Proposal: rename @Decorator to @Behavior"
With the switch from annotations to decorators the term @Decorator could be confusing.

WDYT?

[2015-05-04 11:02] vicb commented on #1146
@yjbanov I think most of the requested features are available (`fakeAsync` excepted).

The priority right now should be to make the TestBed public (#1609) - might be a good idea to re-assign this item to someone with more bandwidth & who knows the render architecture better than I do.

I have been working a lot on zones lately (#1609). Once we come with a working solution for microtasks in JS/Dart

[2015-05-04 12:52] otodockal commented on #1658
Decorator will be Directive.

https://github.com/angular/angular/issues/1244 (Decorator => Directive)

[2015-05-04 14:57] dg192 opened #1660 "input[date] changes reference to Date object"
I've created a jsbin to demonstrate what's happening.  Basically, it looks like the input[date] directive may be changing the reference to the Date object model.  This is on angular 1.3.15, and I'm able to reproduce in Chrome and Firefox.

http://jsbin.com/dexakuriro/4/edit

In the demo, if you click "update formDate" it will change the input[date] model and update the view in two places - one usi

[2015-05-04 15:07] vicb commented on #1660
This repo is for angular2, please reopen on https://github.com/angular/angular.js

[2015-05-04 15:07] #1660 closed

[2015-05-04 15:21] dg192 commented on #1660
Oops, sorry about that.  Will open at the other repo.

[2015-05-04 15:55] btford commented on #1630
We can get rid of `newrouter`

[2015-05-04 16:00] btford opened #1662 "Feat: components without a selector"
With the router, it's now possible to have components that are instantiated without needing a selector. However, a call to `compiler.compileInHost` with a component without a `selector` in the `Component` annotation throws:

[code]

I think this is a reasonable case to support.

Related: https://github.com/angular/angular/issues/2336

[2015-05-04 16:15] dvlsg commented on #1639
Thanks for the clarification, I appreciate it.

I can't speak for anyone else, but my confusion probably stemmed from using other dependency injection methods which would only inject a single instance, even when parent/child relationships were used. Even in di.js and Angular 1.x, if I'm remembering correctly. I know the parent/child relationships in Angular 2.x are probably handled differently --

[2015-05-04 16:55] SekibOmazic commented on #1658
Missed that. OK, closing this.

[2015-05-04 16:55] #1658 closed

[2015-05-04 17:34] tbosch commented on #1662
Someone needs to define what kind of element the router should create for this component. Right now, we are using the `selector` for this.

[2015-05-04 17:35] tbosch commented on #1630
perftest needs to stay as we use it in our (currently not working) local
travis machine for manually pushing changes on which perftests should be
executed...

On Mon, May 4, 2015 at 8:55 AM Brian Ford <notifications@github.com> wrote:

[2015-05-04 17:38] vicb opened #1665 "Unit tests broken on my machine"
Any idea what is happening ?
I've tried to `rm dist tmp` & re `npm install` but the same error is there is at least since Friday 05.01 morning (PST).

[code]

[2015-05-04 17:45] jelbourn commented on #1662
This is also something that makes sense for Components you always want to open dynamically (such as overlays).

It would be totally reasonable to, in the absence of a selector, just use a `<div>`

[2015-05-04 17:56] rkirov commented on #1656
The important line is `var zone = new VmTurnZone({enableLongStackTrace: assertionsEnabled()});` which means assertions are already enabled in dev mode.

You can remove that line from the bundle code.

[2015-05-04 17:58] jelbourn opened #1666 "Proposal: support expression on left-hand-side of hostProperties"
Say I have a Component `Tile` that has a bunch of style properties it needs to bind:
[code]

There is also another class responsible for figuring out what all of these styles should be:
[code]
It would be nice to be able to contain all of these related properties into one model object on the component (`TileStyle`) instead of manually unrolling it into individual properties:
[code]
[code]

[2015-05-04 19:37] btford commented on #1662
Wait, so `compileInHost` will create an element matching the selector in the containing element? That's kind of surprising to me.

I agree with @jelbourn; a div would suffice as a default.

[2015-05-04 19:55] tbosch commented on #1662
@btford yes.

[2015-05-04 19:58] juliemr opened #1668 "Karma dart should watch broccoli output"

[2015-05-04 20:02] btford commented on #1662
I don't think this behavior is bad, but `selector` doesn't really imply that to me. We should definitely make sure this is documented.

Can we use a `div` in cases when `selector` is missing, then?

[2015-05-04 22:07] denzp opened #1671 "SVG element inside template is not initializing properly"
Following html code in template should at least make a request to **filename.svg**, but it doesn't.
[code]

Browser won't make a request to the external file while `svg` is inside `template` element.
But normally when we copying `svg` to DOM browser should make a request to the file.

I found a two workarounds:
* create any other than `template` element in [BrowserDomAdapter::createTemplate](https

[2015-05-04 22:18] matanlurey opened #1672 "Dart: How to extend/add to existing DI bindings? [Angular 1 --> 2 Migration]"
In Angular Dart 1.0, modules were imperative, and non-const, allowing the following:

[code]

[code]

However, because injectables in Dart in Angular 2 are const, it's less clear how to do this pattern. I understand the following would be possible using the App injector:

[code]

My understanding though is this is not statically analyzable anymore.

@yjbanov, plz respond :)

[2015-05-04 22:59] tbosch opened #1675 "Simplify renderer architecture"
Remove ViewPool and recursion on renderer side. Implement renderer per component.

See https://docs.google.com/document/d/1M9FmT05Q6qpsjgvH1XvCm840yn2eWEg0PMskSQz7k4E/edit#heading=h.vstlgrec0sr

[2015-05-04 22:59] tbosch commented on #1541
See https://github.com/angular/angular/issues/1675

[2015-05-04 23:00] tbosch commented on #1541
Closing this in favor of #1675

[2015-05-04 23:00] #1541 closed

[2015-05-04 23:00] tbosch commented on #1477
Missing refactor is not needed, as we want to simplify the renderer api. See https://github.com/angular/angular/issues/1675.

[2015-05-04 23:00] #1477 closed

[2015-05-05 00:50] juliemr commented on #1665
I'm getting something very similar when I run the dart build more than once. See https://github.com/juliemr/angular/commit/985d62c67665793bad925b9a4ec143e2dc49f5bc

[2015-05-05 01:45] yjbanov commented on #1319
Updated the proposal based on offline design discussions. Changes:

* We only publishing into the component view (i.e. shadow DOM, not light DOM)
* Parent bindings are not mixed with `injectables` because `injectables` are made available to the declaring component itself, so it is counter-intuitive to put the component in the same list.

[2015-05-05 02:44] redguardtoo opened #1678 "angular ng-click triigered 3 times, why this happens?"
sorry, I repost the issue to angularjs

[2015-05-05 03:15] #1678 closed

[2015-05-05 03:24] mhevery commented on #1672
I believe this is already solved because module definitions can be nested.

[code]

Does the above solved your problem? If so could you close the issue?

[2015-05-05 03:31] mhevery commented on #1666
I think this should work:

[code]

The above should work since it is equivalent to:

[code]

And we need to special case the `[style]` to bind to object literals.

[2015-05-05 03:33] mhevery commented on #1662
:+1: for using `div` where no `selector`

[2015-05-05 03:36] mhevery commented on #1656
Is it resolved? Can this be closed?

[2015-05-05 03:44] matanlurey commented on #1672
This might be good enough. I'll re-open if I run into any issues.

[2015-05-05 03:44] #1672 closed

[2015-05-05 03:48] mhevery commented on #1632
1. Yes we want to support SVG
2. not sure what custom element inside SVG really means. SVG does not have shadow DOM. Can you better describe your use case?

[2015-05-05 03:56] mhevery commented on #1630
cleaned up

[2015-05-05 03:56] #1630 closed

[2015-05-05 04:02] mhevery commented on #1625
1. We are missing a good way to register the Pipes in ng2.
2. I think we would like to keep the same syntax unless there is a technical reason not to.
3. I am a bit confused about the `$collection`. What probelm does it solve?
4. can you file a bug on the correct order bit. I would file it for you, but I don't think I understand what you mean about wrong order. There is only one argument, so how c

[2015-05-05 04:03] mhevery commented on #1623
seems lie a bug

[2015-05-05 04:08] mhevery commented on #1056
closing as no comments

[2015-05-05 04:08] #1056 closed

[2015-05-05 04:50] rkirov commented on #1655
Can you link to the page that has the step that you are following?

The instructions here:
https://angular.io/docs/js/latest/quickstart.html should support TS, but note they need a pre-release bundle included in a github repo.

The rest of the dev guides needs slight modification to be used with TS 1.5.0-beta.

The errors that you are reporting look like `Component and View` are the annotations, n

[2015-05-05 04:54] rkirov commented on #1652
The default npm published sources are transpiled using commonJS for module imports. Our dom wrappers use a feature of ES6 modules that does not transpile well to CommonJS - modifying the exported object after it has been required. Thus the error that your are seeing.

We are looking into fixing that, but for now the fastest way to get started with angular 2 is to use the bundles https://code.angul

[2015-05-05 05:20] SamVerschueren commented on #1655
This is the page I was referring to. https://angular.io/docs/js/latest/guide/setup.html

I compared that code with the getting started guide you refered to and that's when I saw the traceur script was missing in the TS example. But that was not the main issue here :).

I installed typescript@1.5.0-beta with npm and used the `tsc` command line tool to transpile from TS to es5.

[2015-05-05 06:10] gdi2290 opened #1680 "bug: w/jsbin: template expressions with Pipes as function argument"
## jsbin
http://jsbin.com/fimucu/8/edit?js,console,output

`Rating {{ rate(model.getValue('rating') | async) }}`
this should work but it doesn't

`Rating {{ rate((model.getValue('rating') | async)) }}`
in order for this to work you have to tell the compiler that it's an expression since it's getting confused by the number of parentheses

![screen shot 2015-05-04 at 10 02 30 pm](https://cloud.githu

[2015-05-05 06:29] rkirov commented on #1655
I see, that explains it - `<script src="https://code.angularjs.org/2.0.0-alpha.19/angular2.dev.js"></script>` does not have decorators. Stay tuned for alpha-21 to be released in a day or so.

[2015-05-05 06:31] SamVerschueren commented on #1655
Oh oke, thanks for pointing that out :)!

[2015-05-05 07:33] hourliert commented on #1522
Same issue in PhantomJS2. This fix solves the problem.

[2015-05-05 08:01] vicb commented on #1665
I have tried many things to get this to work.
I finally have a working setup. Not sure what has fixed this but at least I've switched from node 0.12 to 0.10.38 which is the version used by Travis.

[2015-05-05 14:16] Deithrian opened #1682 "Angular2 Dart tutorial missing async library import"
https://angular.io/docs/dart/latest/guide/displaying-data.html
The first part of the code "Showing properties with interpolation" does not import the async library, but apparently uses a class from it "Timer", which fails to run.
Please mention that we need to import the library.

The library is added much further down at "Conditionally display data using *if".

[2015-05-05 16:37] jelbourn commented on #1666
That would work for style, but I was thinking it could be more generally useful. Other examples I could think of where it makes sense to group related properties into some model object:

* `aria` attributes (however,  a lot of the time you actually want to bind those to some other existing property, such as `disabled` or `checked`).
* `<video>` config: autoplay, autobuffer, controls, loop, muted,

[2015-05-05 16:58] juliemr commented on #1665
I am still seeing issues, using Node 0.10.32 or 0.10.38.

[2015-05-05 17:50] ewinslow commented on #1598
+1 for @jvandemo latest proposal of passing an object hash. Except I'd argue for just standardizing on using the pass-an-object approach and eliminate the prefixed-extra-properties approach. Why bother allowing both? Pick one so it's consistent across teams.

Plus, if you have `<span [some-dir]="stuff" [some-dir-foo]="otherStuf"></span>` you can't tell very well whethere `some-dir-foo` configures

[2015-05-05 18:39] ewinslow opened #1685 "$event is never declared anywhere in the template"
Currently you can write a handler like this:

[code]

`$event` here is magical, and is the one exception I can think of to the very-nice policy of "all template variables are declared explicitly".

Consider if we instead wrote event handlers a bit more like JS method declarations:

[code]

So the win here is: no more magic $event variable.

Also a plus: this resembles ES6 method shorthand syntax s

[2015-05-05 22:23] TommyM opened #1689 "Router should support router-link without [router-params]"
The following doesn't seem to work with the new router. It never updates the hrefs on the anchors.
[code]

This is because of the isPresent(this._params) check in RouterLink:updateHref
[code]

The problem with this is that this forces you to always define both. However I would want the following unit test to work in outlet_spec.
[code]

Maybe it would be an option to set params to default to {} in

[2015-05-05 22:33] alexeagle commented on #1646
Sorry, I need some more context - what is the error? How to reproduce?

[2015-05-05 23:09] TommyM opened #1690 "Router should support RouteConfigs with paths that contain hashes"
I think that RouteConfig should support hashes. I would like to have the following type of urls should be supported by the router:
[code]

Imagine the following App:
[code]
I expect to be able to click on the links to navigate between the two components. This doesn't work because of the following code in Location:
[code]

With the fix supplied in #1689 and the following change to Location the link

[2015-05-05 23:16] matanlurey opened #1691 "DI: Using generics in Angular 2.0"
In Angular 1.0 Dart, it is possible to use a TypeLiteral to bind and inject generics:

[code]

An example of use:
[code]

In Angular 2, [based on this snippet](https://github.com/angular/angular/blob/master/modules/angular2/src/di/binding.js#L467) Tim linked me to, it looks like that is no longer possible. Can we add this is a FR for NG 2.0/DI? If not, is there an alternative that will also play w

[2015-05-05 23:47] mhevery opened #1693 "Implement element size/position/visible event or a general read/write queue again"
## Purpose

A component should be able to read its size and react to it. This is hard because we have to wait until DOM is fully rendered before causing layout and reading its position. (Additionally the browser does not have a resize event on elements)

## Mental Model

A component can register a `size` host event which the framework will call:

1. On initial render of the component to supply the

[2015-05-05 23:51] mhevery commented on #1693
/cc @kseamon

[2015-05-06 00:33] tbosch opened #1694 "Wait for included css to be fully loaded before instantiating a component / finishing the compilation"
Use case:

A component needs to know how high it is. Right now it would schedule a promise / eventually use the new `size` event (see #1693). However, if we don't wait for nested CSS to be fully loaded before we instantiate a component the component has no way of knowing the right size.

The problem probably only appears for `NativeShadowDomStrategy`, as in the emulated mode we load nested stylesh

[2015-05-06 00:33] tbosch commented on #1694
Needed for migrating the GT calendar picker.

[2015-05-06 00:33] tbosch commented on #1693
Needed for migrating the GT calendar picker.

[2015-05-06 00:40] kseamon commented on #1693
On the surface, this seems reasonable. I know it's marked for later, but finding out of a dirtied bit of dom i out of flow might be more costly than just triggering the event naively.

Is it possible to trigger the event and subsequent dirty check synchronously (I assume using a promise makes it asynchronous)? If it's asynchronous, the user may perceive a flicker as the UI readjusts.

[2015-05-06 02:24] juliemr commented on #1668
Done with bb6f59e423a80055256eb4a847e6d4a8db243022

[2015-05-06 02:24] #1668 closed

[2015-05-06 02:51] juliemr commented on #1665
I still see this with `gulp test.unit.js`, both before and after bb6f59e423a80055256eb4a847e6d4a8db243022. It only happens after I edit a file.

[2015-05-06 04:00] tbosch commented on #1693
@kseamon Yes, this should be possible to do without leaving the current vm turn (i.e. there should not be flicker).

And maybe you are right that trying to reduce the number of elements that need to be checked might be slower than just checking all of them. Unless the application can give guarantees in some ways that don't rely on walking / checking the DOM at all.
E.g. a component could say that

[2015-05-06 04:44] matanlurey commented on #1693
I like the API. Will run by some engineers tomorrow for any additional input.

[2015-05-06 05:03] IgorMinar commented on #1665
I'm not quite sure what's going on here but the way test.unit.js is setup right now is not right.

I have some local changes pending. I'll fix this once #1692 lands

[2015-05-06 05:11] mhevery commented on #868
superseded by #1598

[2015-05-06 05:11] #868 closed

[2015-05-06 05:12] mhevery commented on #1295
@yjbanov by adding `ng-if` instead of `if` (see #1598) this dart problem goes away. (not sure how #868 got pulled into the discussion.)

[2015-05-06 15:32] vicb commented on #1691
@matanlurey IIRC (the DI repo might have more info) `TypeLiteral` was a workaround of some bugs in the mirrors.

While looking at this, it would be great to check if the following is now possible:
[code]

[2015-05-06 15:47] IgorMinar commented on #1665
#1692 landed this morning and I'm guessing that it resolves this particular issue as well.

I also have #1695 pending which is very important to get in to solve additional issues with our test.unit.* tasks

[2015-05-06 16:19] rscottfree opened #1696 "Multiple named validators per form field"
In Angular 2 is it possible to assign multiple validators to a single form input field? If not, I propose it be added.

I currently use the ui-validate directive in UI-Utils for this, and having something similar in Angular 2 would be nice.

The reason for this functionality is to display different error messages based on which validators failed. From the code example on the [blog post](http://ang

[2015-05-06 16:19] vicb commented on #1656
fixed in 8e1d53b5e9ac2e3e080efb46c29d6ed28eafca9c

[2015-05-06 16:19] #1656 closed

[2015-05-06 16:28] juliemr commented on #1665
Confirmed that this is working after #1692 and #1695. Thanks!

[2015-05-06 16:28] #1665 closed

[2015-05-06 16:35] juliemr commented on #1340
I believe this is fixed with #1333, #1311, and recent fixes https://github.com/angular/angular/commit/9d1df21d915f28316de398c0c7fda0d27a90bbc1

[2015-05-06 16:35] #1340 closed

[2015-05-06 16:44] tbosch commented on #1161
Needed for benchmarks in Greentea!

[2015-05-06 16:49] tbosch opened #1697 "Benchpress: only use promises of selenium-webdriver and not the patch by traceur"
Right now, we are using both, promises of selenium-webdriver and the promises of traceur.
This leads to race conditions and prevents long stacktraces to show up correctly.

As selenium-webdriver now has an A+ compliant promise implementation, we can just use this (i.e. export this as global `Promise` function).

[2015-05-06 16:49] tbosch commented on #1697
See https://code.google.com/p/selenium/source/browse/javascript/node/selenium-webdriver/CHANGES.md

[2015-05-06 16:52] tbosch opened #1698 "benchpress: make sure output of JsonFileReporter is consistent between Dart and JS"
In Dart, we create json files via `toJson` methods (see https://github.com/angular/angular/blob/master/modules/benchpress/src/measure_values.js#L15). However, these are not used in JavaScript, as JavaScript looks for `toJSON` files.

Change our `toJson` method in `facade/lang` to also look for `toJson` methods (via the third argument of `JSON.toJson` in JavaScript).

[2015-05-06 16:53] tbosch opened #1699 "benchpress: update demo to current version"
See https://github.com/jeffbcross/benchpress-tree

[2015-05-06 16:55] vsavkin commented on #1623
It looks like a bug in the compiler. This is a valid use case and should be fixed.

[2015-05-06 16:58] goderbauer opened #1700 "Benchpress: report wall clock time from start of first captured event until end of last captured event"
We want to know the total duration of a benchmark including time periods where the browser was doing nothing between events. For this, I would like to have a metric that captures the time from the start of the first event to the end of the last event within benchpress' execute function.

Example: When somebody schedules an asynchronous task (duration: 100ms) with a delay of 1s, benchpress right no

[2015-05-06 18:48] hterkelsen opened #1706 "naive_infinite_scroll benchmark occasionally times out with JS"
When I try to run the naive_infinite_scroll with JS, it does not work for appSize=1, but works for appSize=2 or 4. Here is the command output:

[code]

[2015-05-06 20:07] jbdeboer opened #1708 "Failed to load the template "XXXXComponent" error message is unhelpful"
My tests are failing with a "Failed to load the template" error:
[code]

This error should (a) tell me _why_ the template failed to load and (b) give some hint to how to fix that error.

[2015-05-06 20:10] Pajn commented on #1632
For this project I more or less desided on UIX at least for this part, but I can still discuss the use case if you want.

I'm working on a visual programming tool using nodes/blocks that connects via wires. Similar to Unreal Engines Bluprint system (https://docs.unrealengine.com/latest/images/Engine/Blueprints/Editor/blueprint_editor_example.png). The work area are completely rendered in SVG to be

[2015-05-06 20:47] jbdeboer opened #1709 "PromiseWrapper.reject does not preserve stack traces"
My application is throwing an error and I see a nonsensical stack trace instead of a stack leading to the source of the error.

[code]

Going to ```package:angular2/src/core/application.dart 313:24```, which is a reject call: ```bootstrapProcess.reject(err);```

Instead of passing only the error; please pass the error and the stack trace to the user.

[2015-05-06 21:29] kegluneq opened #1712 "Refactor ProtoViewFactory to avoid direct use of Directive"
[ProtoViewFactory#createProtoView](https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/proto_view_factory.js#L112) requires `DirectiveBinding` instances.

`DirectiveBinding` has a [direct use of `Directive`](https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/element_injector.js#L229), which is problematic for running the `Compiler` in th

[2015-05-06 21:30] kegluneq commented on #1712
@vsavkin , as we discussed today

[2015-05-06 21:31] kegluneq opened #1713 "Provide method which converts ProtoViewDto to information needed for Change Detectors"
Also @tbosch

The Dart transformer runs the `render.Compiler`, generating a `ProtoViewDto` object. Please provide a method which converts this object to the components necessary for generating Change Detector classes.

Thank you!

[2015-05-06 21:34] kegluneq opened #1714 "Provide a method for registering ChangeDetector classes with the Angular system"
Also @tbosch

Provide a way to register generated Change Detector classes with the Angular system.

fyi, on the Dart side we are currently using `'${library}.${ClassName}'` as component identifiers, but I'm fine with changing that.

[2015-05-06 21:42] jbdeboer opened #1715 "angular2/lib/src/services/xhr_impl.dart:14 Future.then(onError) is incorrectly typed"
It is (Error e) => throw 'Failed to load $url', but the HttpRequest will call it with a ```_XMLHttpRequestProgressEvent``` that is not an ```Error```

[2015-05-06 21:54] jbdeboer opened #1716 "Unhelpful error message: Invalid binding Shapes"
The error message should explain (a) why the binding is invalid and (b) hints to fix it.

In this case, there are multiple locations in _resolveBindings() that produce the same error
e.g.
[code]

[2015-05-06 22:05] jbdeboer commented on #1715
Please include a test for this issue when it is fixed.

[2015-05-06 22:28] jelbourn opened #1718 "Directive selector doesn't support children"
If I have the following:

[code]
[code]

The `MdInput` directive is never instantiated.

[2015-05-06 22:35] jelbourn commented on #1718
False alarm

[2015-05-06 22:35] #1718 closed

[2015-05-06 22:41] matanlurey commented on #1146
I am looking into how Yegor's proposal could work, focusing on Dart. Will report back with any blockers.

[2015-05-06 22:53] IgorMinar opened #1719 "Implement file extension filter in DiffingBroccoliPlugin"
Currently [DiffingBroccoliPlugin](https://github.com/angular/angular/blob/ab28676d0260772b477b6382cfa4f367b67fee60/tools/broccoli/diffing-broccoli-plugin.ts#L29-L32) provides full tree diff to plugins. This means that plugins that care about only `.js` or `.ts` files need to filter the diff [themselves](https://github.com/angular/angular/blob/ab28676d0260772b477b6382cfa4f367b67fee60/tools/broccoli

[2015-05-06 22:55] IgorMinar opened #1720 "Make ts2dart broccoli plugin incremental"
the existing [ts2dart plugin](https://github.com/angular/angular/blob/ab28676d0260772b477b6382cfa4f367b67fee60/tools/broccoli/broccoli-ts2dart.ts) needs to be converted into [DiffingBroccoliPlugin](https://github.com/angular/angular/blob/ab28676d0260772b477b6382cfa4f367b67fee60/tools/broccoli/diffing-broccoli-plugin.ts) to make it incremental

Depends on #1719

[2015-05-06 22:56] IgorMinar commented on #1720
you can check out the existing typescript and traceur plugins to see what the incremental plugin usually does.

[2015-05-07 02:23] hydrotik commented on #1640
This was also reported here: https://github.com/google/traceur-compiler/issues/1650

[2015-05-07 04:56] naomiblack opened #1729 "dgeni link handling is broken by conversion to .ts"
...I think this is as simple as telling dgeni to look in .ts files for changes? commit cb87fa0970f9ecd04212c55d158e4021bc1fc541 breaks doc generation with `gulp docs/angular.io`.

[2015-05-07 09:36] petebacondarwin commented on #1729
I have pushed a few changes that include the TypeScript source files in the doc-gen but there is a bigger problem:

Dgeni uses Traceur to read in the code from the source files. Unfortunately it doesn't understand some TypeScript syntax, which is causing Traceur to fail to parse some parts of the newly migrated files. For example, the change to use optional parameter syntax in the `Binding` class

[2015-05-07 09:54] pkozlowski-opensource commented on #1566
@TedSander OK, so it looks like a non-issue after recent code changes. Feel free to open a new issue if / when it re-surfaces in this form or another.

[2015-05-07 09:54] #1566 closed

[2015-05-07 10:57] PascalPrecht commented on #1551
@mhevery could you be a bit more specific on what exactly you'd do with a try-finally block? There's no exception thrown, so I'm not sure how I can use that construct to suppress anything...

[2015-05-07 11:09] armorik83 commented on #1646
My report was too simple.
I will provide a reproducible way, please wait.

[2015-05-07 12:15] pkozlowski-opensource commented on #1611
@ajoslin a reproduce scenario would be awesome - there are so many changes in the repo that I'm not sure which version of Angular you've used to test...

[2015-05-07 12:51] pkozlowski-opensource commented on #1611
@ajoslin I don't see it throwing in alpha.21 (http://plnkr.co/edit/Lq60xFISlTzZ7UekWy44?p=preview) - but I can't seem to make it work either...

[2015-05-07 12:54] pkozlowski-opensource commented on #1611
Ah, actually it works correctly, the proper syntax to use is:

[code]

This seems to work perfectly fine in alpha.21: http://plnkr.co/edit/Lq60xFISlTzZ7UekWy44?p=preview

@ajoslin I'm going to close this one since it seems to be working fine (see the plunker). But do let me know if you still see pbs with other versions, I'm going to re-open then and look into it.

[2015-05-07 12:54] #1611 closed

[2015-05-07 13:07] pkozlowski-opensource commented on #1159
Hmm, I think we've got a non-addressed problem here. _Normally_ we could use `[attr.view-box]="expr"`  to bind to an attribute. But currently we are not doing dash->camel case conversion in a compiler since there are attributes (ex.: `aria-role`) where a dash a valid part of an attribute name...

So the crux of a problem is that we've got both camel and dash-cased valid attribute names....

As for

[2015-05-07 14:07] vicb commented on #1146
@matanlurey I'm working on `fakeAsync` ATM (making sure we don't duplicate the effort)

[2015-05-07 14:37] jpsfs commented on #1598
Hi!

@timjacobi, I think the rename of a component (by overriding a selector) is a must for enterprise grade applications.

In my opinion, the composition pattern is a good approach when dealing with small applications but hell breaks loose when you start to think about massive enterprise grade apps. Keeping components loosely coupled is not looking easy on Angular2, and this simple feature can be

[2015-05-07 14:56] caitp commented on #721
so, the examples have been working in WebKit Nightly for a few months, and the june or july Safari update will maybe/hopefully incorporate the fixes.

Babel at least works around this by polyfilling collections on Safari (maybe in all browsers), not sure if TS does. This bug is probably closable since the collections issue is likely the only blocker at the moment

[2015-05-07 16:55] benpetersen commented on #1451
Also, for route annotations, there seems to be a lot of ways like ui-router .state, john papa's suggestion .when; would it be possible to add smart defaults similar to a boiler plate, so annotations are a little simpler?

[2015-05-07 17:39] pkozlowski-opensource opened #1731 "TestBed / integration test swallows exceptions"
@vicb I guess you will be the one most familiar with the topic - as of today any exception in the code executed under integration test (compiler's `integration_spec.js`) seems to be swallowed somewhere (test bed?). By "swallowed" I mean that it doesn't get printed anywhere, a test fails with non-informative:

	Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFA

[2015-05-07 17:53] vicb commented on #1731
Is this JS only ?

[2015-05-07 17:54] vicb commented on #1731
relates to #864 ?

[2015-05-07 17:59] pkozlowski-opensource commented on #1731
@vicb hard to say since Dartium crashes in this case :-/

[2015-05-07 18:18] jbdeboer commented on #1731
Related to #1709?

[2015-05-07 18:21] matanlurey commented on #1146
I am just using the Dart (quiver/testing/async) library, which can be replaced by yours when it's ready.

[2015-05-07 18:22] matanlurey commented on #1691
I am 100% sure that is not possible, you would still need TypeLiteral to get accurate typing.

As you said, in static mode, it may or may not be necessary.

[2015-05-07 18:24] vicb commented on #1146
My plan is to use [fake_async (Dart)](https://pub.dartlang.org/packages/fake_async) and [lolex (JS)](https://github.com/sinonjs/lolex) and come with Dart & JS wrappers.

I think it will be easier now that JS zone also has a `scheduleMicrotask`

[2015-05-07 18:29] jbdeboer opened #1732 "Document the UrlResolver interface"
[ <3 GT, but not in the critical path ]

The ```UrlResolver``` API is not documented and has non-obvious behaviour with respect to ```null``` inputs.

The interface should be documented and explain when ```baseUrl``` and ```url``` can be null and what that actually means.

[2015-05-07 18:53] jbdeboer opened #1734 "Abilitiy to specify UrlResolvers on a per-component basis"
Components from different packages may use different url schemes for ```templateUrl```.

To allow an application to use components with different url schemes, the ```UrlResolver``` should be bound per-component (or, for bonus points, per-package) instead of the current implementation where it is a global service injected into the ```Compiler```

[2015-05-07 18:58] tbosch commented on #1734
This might lead to problems with Dart transformers, as it is hard for them to execute the code that they are transforming. @kegluneq What do you think?

[2015-05-07 19:08] jbdeboer opened #1735 "Document and verify component lifecycle"
The lifecycle of a component (the order which the getters and setters are called) is unclear.

Please document the lifecycle and ensure that it is consistent.

e.g. I have a component ```my-comp``` that is created from a template ```<my-comp [my-prop]="true"></my-comp>```

The component has the following template:
[code]

While creating the component, the ```myProp``` setter is called once and the

[2015-05-07 19:16] vicb commented on #1734
Let me comment with the idea I had during the implementation:

For the `UrlResolver` the idea was that it would be simple and have a single responsibility of resolving (ie ~concatenating) URLs.

At that time I added a `ComponentUrlMapper` which responsibility is to return relative path of the component (from the app path).

The idea is that the template Url would be `UrlResolver(UrlResolver(app pa

[2015-05-07 19:26] alexeagle commented on #1729
I can help, are you still working? Or I can set aside tomorrow morning pacific time.

[2015-05-07 19:48] vicb commented on #1522
zone.js 0.4.4 has been release earlier today

[2015-05-07 20:12] alexeagle opened #1737 "Easy to break shrinkwrap"
At present, the checked-in shrinkwrap file includes qq but our package.json does not, so they are out of sync.

Whenever someone changes package.json, it is easy to do the wrong thing with shrinkwrapping. They might not run the shrinkwrapper, or they might run it with unclean state in node_modules.

We should have some verification in the build that the files are in sync, and maybe also update the

[2015-05-07 20:12] alexeagle commented on #1737
cc: @rkirov

[2015-05-07 20:24] kegluneq opened #1738 "Prevent double-initialization in generated Dart code"
For example

[code]

results in

[code]

Which uses the "initializing formal constructor parameter" `this.key` and then explicitly sets `this.key = key;` This could be collapsed to:

[code]

[2015-05-07 20:25] jbdeboer opened #1739 "Document correct practice for @View(directives) list in large apps."
Angular2 introduces the 'directives' list in the @View annotation where the component author must list all the directives used in the template.

The default option is to list all directives explicitly for each @View().  This option has significant maintenance overhead by requiring template authors to list out all of the directives they use, include simple directives such as ```If```. This task is

[2015-05-07 20:25] kegluneq commented on #1738
@vsavkin I'm not sure you're the right person to assign this to, but it looks like you have some background on the generation here.

Feel free to reassign, unassign, etc.

Thanks!

[2015-05-07 20:29] alexeagle opened #1741 "process for updating dependencies"
Now that we are using shrinkwrap, we lock our npm dependencies, and only through a periodic manual process will we ever get bugfixes and improvements in newer versions.

We should do this periodically and ideally automate it, so we just get a PR with a green travis build and rubber-stamp the merge. Such a practice is called "continuous integration" :)

[2015-05-07 20:35] pkozlowski-opensource commented on #1739
@jbdeboer I've opened similar (identical ?) issue some time ago, see https://github.com/angular/angular/issues/1293

Maybe it would be beneficial to centralise the discussion in one place?

[2015-05-07 20:39] jbdeboer commented on #1739
Yes. Closed as dup.

In this issue I was trying to be very open to discussion. If the answer is "Yes, the Angular framework demands a verbose list", that is a possible outcome, but we need to be very open about it.

[2015-05-07 20:39] #1739 closed

[2015-05-07 20:40] PeEllAvaj opened #1744 "Angular2 Throws Security Exceptions under the CSP (Content Security Policy)"
I build and evangelize building mobile Chrome Apps using CCA. I do this extensively with Angular 1.x today but right now Angular 2 causes me some problems.  It does not seem to support a "CSP mode" like angular 1x.

This code runs just fine when I include the library locally, but it throws a security error when I put any variables into my templates.

    function AppComponent() {
      this.name =

[2015-05-07 20:41] rkirov opened #1745 "`assertionsEnabled()` is always false after move to TS"
However, assertionEnabled is used as a proxy for developer mode, where extra checks are performed.

`assertionsEnabled` should be changed to `isProductionMode` as a simple bool and hooked to the right gulp tasks.

[2015-05-07 20:42] jbdeboer commented on #1293
@mhevery @tbosch @naomiblack

At the moment, this issue does not have a good resolution -- and we need one in the next couple weeks as we are migrating a large number of components.

At very least, could you document the proposed solution?

[2015-05-07 20:51] juliemr opened #1746 "ElementBinder class names should be clarified"
At the moment, `ElementBinder` refers to both https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/element_binder.js and https://github.com/angular/angular/blob/master/modules/angular2/src/render/dom/view/element_binder.js

They should be renamed separately, maybe `AppElementBinder` and `DomElementBinder`

cc @tbosch

[2015-05-07 20:53] kegluneq opened #1747 "Support Directive dependency aliases"
I had a request for `directive` aliases, for example:

shared.js
[code]

component1.js
[code]

component2.js
[code]

`Component1` would depend on `Dep1`, `Dep2`, and `Dep3`, while `Component2` would be those as well as `AdditionalDep`.

@yjbanov , @mhevery , does Angular 2 Js already support this?

[2015-05-07 21:00] #1719 closed

[2015-05-07 21:37] kegluneq opened #1750 "Allow short-circuiting `createTypeMap` in DirectiveProcessor"
`createTypeMap` walks the import graph looking for classes that extend or implement `Injectable`, which we expect to be slow for large applications. It currently does this in `DirectiveProcessor` for every processed file.

@jakemac53 and I have discussed some potential optimizations for this:
- Create the map once as the first phase of the transform, then serialize it out and read in during `Direc

[2015-05-07 22:42] jbdeboer commented on #1735
Also #tests !

[2015-05-08 00:55] calebboyd commented on #1744
It looks like you can set the Change Detection interface for CSP environments.

https://github.com/angular/angular/blob/fa28b28d0aec63dd721d2b0821b889c4d73a63db/modules/angular2/src/change_detection/interfaces.ts#L20-L36

[2015-05-08 05:41] IgorMinar opened #1759 "test.unit.js rebuilds stuff many times when jumping between branches"
looks like gulp-watch calls us once for each file changed or something like that, which means that if we are jumping between branches lots the build task gets called lots of times.

repro:

[code]

in another shell
[code]

expected: one rebuild happens followed by one test run
actual: many rebuilds happen followed by one test run

[2015-05-08 05:42] IgorMinar commented on #1759
@caitp can you look into this please?

[2015-05-08 05:42] IgorMinar commented on #1759
relevant recent change: 5e4fa5cf078db667a7b45dcf2e45b9a9f46b2690

[2015-05-08 06:23] naomiblack commented on #1492
@tbosch any update on this?

[2015-05-08 06:24] naomiblack commented on #1402
@mhevery is this closed? it looks like it should be.

[2015-05-08 06:30] pkozlowski-opensource commented on #1402
@naomiblack there is a PR for this that got reviewed, needs minor clean up, will land it in few hours and close this issue.

[2015-05-08 06:32] naomiblack commented on #1283
@mhevery I think this is closed now? Can you confirm?

[2015-05-08 06:34] pkozlowski-opensource commented on #1283
Nope, there is a PR for this but its review is blocked on the decision on how to transpire const in Dart.

[2015-05-08 06:44] naomiblack commented on #1283
This is blocked on https://github.com/angular/angular/pull/1648

[2015-05-08 06:54] naomiblack commented on #932
@jelbourn still open?

[2015-05-08 07:08] naomiblack commented on #1116
@vicb any status?

[2015-05-08 07:45] vicb commented on #1522
closed via #1751

[2015-05-08 07:45] #1522 closed

[2015-05-08 08:01] vicb commented on #1731
ref https://github.com/mhevery/jasmine-node/issues/267
Not sure if this will help but I'll investigate the `--captureExceptions` flag (found while investigating a zone.js issue)

[2015-05-08 08:10] vicb commented on #1731
@pkozlowski-opensource could you try to add this to your config:

[code]

and report if it helps ?

[2015-05-08 12:28] vicb commented on #1116
Closer than ever :)

I'm currently working on zone.js with the help of @IgorMinar and @btford to get v0.5.0 out. There are a few bugs that are still resists but I'm about to kill them (hopefully).

We should have something early next week.

[2015-05-08 12:46] #1402 closed

[2015-05-08 13:02] pkozlowski-opensource commented on #1731
@vicb are you talking about Karma's config here? I've added it to `karma-js.conf.js` but it doesn't seem to help (not I'm not sure how this would be related to jasmine-node....)

[2015-05-08 13:54] tbosch commented on #1492
Will finish this today

[2015-05-08 14:43] caitp commented on #1759
The watching behaviour doesn't seem to be working locally at all, don't seem to get triggered when any of the modules/** sources change

[2015-05-08 14:48] jakemac53 commented on #1750
Another thing we could do is provide a linter phase, which runs locally in each file and for now just checks if you declare any classes with the blacklisted names and gives a warning? This wouldn't be able to catch package dependencies that declare classes with the blacklisted names though (if they don't have the angular transformer in their pubspec).

[2015-05-08 14:59] vicb commented on #1344
`bootstrap()` 3rd argument is a custom exception handler, what else do we need here ?

[2015-05-08 15:22] IgorMinar commented on #1759
isn't this because you haven't done `npm install`?

On Fri, May 8, 2015 at 7:43 AM ⭐caitp⭐ <notifications@github.com> wrote:

[2015-05-08 15:23] caitp commented on #1759
I had done an npm install, but it was broken until completely cleaning out node_modules and npm installing again.

Anyways, I don't have "drastically different" branches locally, artificially making changes to a few files doesn't seem to repro the behaviour on my mac, just builds once

[2015-05-08 15:26] IgorMinar commented on #1759
pull in an upstream tag and use that or even easier is:

[code]

I see that with this we rebuild twice (the second rebuild is noop)

On Fri, May 8, 2015 at 8:23 AM ⭐caitp⭐ <notifications@github.com> wrote:

[2015-05-08 15:34] caitp commented on #1759
[code]

It looks like it's just one `!brocolli.js.dev` build following the touch, to me --- same behaviour with git checkouts.

Could be that it's seeing differences in files before git checkout is finished running, though.

[2015-05-08 15:35] jelbourn commented on #932
@matanlurey and I haven't been able to sit down to talk about this yet. Will try to do it today.

[2015-05-08 15:45] caitp commented on #1759
One thing gulp.watch / gaze has natively is the `debounceDelay` option, which defaults to 500 in shama/gaze@master --- which might be useful for switching between branches. gulp-watch seems to have a `readDelay` option which defaults to 10, but it's not especially clear that it will debounce mass changes from a git checkout.

The gaze docs do offer some info about avoiding the EMFILE issues, have

[2015-05-08 16:13] jbdeboer commented on #1569
I have a test that is using ```if``` and passing in dart2js; there may be something more subtle here.

[2015-05-08 16:42] yjbanov opened #1763 "Support @Ancestor in app injectors"
Use-case:

[code]

## Current workaround

In AngularDart 1.x the workaround is to inject the injector and call to parent:

[code]

/cc @mhevery @vsavkin @tbosch

[2015-05-08 16:43] yjbanov commented on #1763
/cc @matanlurey

[2015-05-08 16:46] IgorMinar commented on #1759
debounce should not matter. gulp-watch/chokidar properly detects that two files were changed:

trigger:
[code]

output:
[code]

notice that we ran the build twice:
[code]

the second build contains no diffs since the first one picked up all the src changes..

also notice that karma runs only onces. I think that this is because the first rebuild triggers karma test and while that is running, the se

[2015-05-08 16:47] tbosch commented on #1693
I think we probably need a general debate of whether we want to have this event, or the DOM read/write queue back, based on concrete use cases. In GT, we should talk to isoos@...

Some use cases where GT uses the DOM read/write queue right now:

1. Third-party like charted need to know when angular is done with its work so not as to trigger additional reflows.
2. Some components need to read the s

[2015-05-08 17:14] tbosch commented on #1207
This is very close after the latest simplifications to the render layer.

The `LineChartRenderer` would extend from `DomRenderer`.

Instead of the MessageBus we will use actions or special bound element indices for app side -> render side, and events for communicating from render -> app side.

The general idea for this communication is to assume that parts of the template of a component can be "vi

[2015-05-08 17:16] tbosch commented on #1207
Implementation notes:

* Create a `RendererDispatcher` that also implements the `Renderer` interface and forwards calls to the right `Renderer` implementation.
* `RenderViewRef` / `RenderProtoViewRef` should already contain a `renderer` property so this dispatcher does not need to know anything about the concrete `ProtoView`/`View` classes.

[2015-05-08 17:17] mhevery commented on #1709
Dup of #1407

[2015-05-08 17:21] yjbanov opened #1764 "Karma should run formatted Dart code"
Not sure when this happened, but now Karma runs unformatted Dart code, which is super hard to debug.

/cc @IgorMinar

[2015-05-08 17:23] vsavkin commented on #1763
How often does this situation happen? Cause we can just make the parent property public to make the same workaround possible:

[code]

Another option would be to change Injector to provide the following guarantee: when Binding A requests Dependency A, it gets it from the parent.

[2015-05-08 17:23] jbdeboer commented on #1709
Yes, it is.

[2015-05-08 18:04] matanlurey commented on #1691
After talking offline with @yjbanov, DI would need to support the following:

[code]

When Angular DI sees a `TypeLiteral`, they would invoke the `.type` getter to get the `Type`:

[code]

@kegluneq for reference.

[2015-05-08 18:06] yjbanov commented on #1763
One use-case is the event bus pattern: you want a hierarchy of event buses where a given event bus delegates to its parent event bus. All even buses implement the same interface:

[code]

[2015-05-08 18:08] yjbanov commented on #1691
@kevmoo, is this something that could be made easier on Dart side?

[2015-05-08 18:25] jelbourn opened #1765 "API to make it easier to render components with floating panels (menu / select)"
This issue tracks leftover work that fell under the large umbrella of "overlays" #932.

It is desired to be able to build a Component that includes a pop-up / floating panel as _part_ of the component, without having to break up the code into individual components. The idea is to do something similar to the following (just the semantics):

[code]

Notes:
* This would put the trigger part and the p

[2015-05-08 18:26] jelbourn commented on #932
Talked with Matan today and went over the dialog prototype I built. Impressions:
The existing primitives (DynamicComponentLoader) seem fine for doing things like dialogs, notifications, etc., but those APIs are are still very clunky for things like menu / select / autocomplete.

I am thinking that @tbosch's changes for component renderers have the potential to solve this issue.

We also talked abo

[2015-05-08 18:26] #932 closed

[2015-05-08 18:31] mhevery commented on #1763
We should make the `parent` public in the injector and leave this issue for later.

[2015-05-08 18:32] mhevery opened #1766 "Make Injector.parent public"

[2015-05-08 18:32] mhevery commented on #1766
see: #1763

[2015-05-08 18:36] naomiblack commented on #1691
Internal tracking: see https://b2/20945733

[2015-05-08 18:39] naomiblack commented on #1729
@mprobst since Alex is out next week (and you're in a Euro time zone again), could you pair with @petebacondarwin please and figure out if this is going to be a big fix or a small one? We are unable to update API docs until it is resolved.

[2015-05-08 18:40] andresaraujo commented on #1569
I just tested it on alpha 22 and still fails, `pub build` doesn't show errors but running the page in chrome results in the above output, maybe I'm missing something?

Here is a sample project that fails [https://github.com/andresaraujo/ng2_if_for](https://github.com/andresaraujo/ng2_if_for)

[2015-05-08 18:42] mhevery commented on #1283
Unblocked: https://github.com/angular/ts2dart/commit/2e0210353280e6c555722541fbb04d651df0c011 and @pkozlowski-opensource  is working on merging it in.

[2015-05-08 18:45] mhevery commented on #1146
I will work on this.

[2015-05-08 19:38] jbdeboer commented on #1765
This looks closer to the API that we want. Typically we hide the redistribution and content selection logic in a separate component (e.g. ```<g-popup>```) and depend Angular transclusion.

Here you are using the ```content``` tag instead -- is that intentional (e.g. will the other approach not work?) or is there an opportunity for both strategies?

[2015-05-08 20:12] juliemr commented on #1746
Oh and there is also
https://github.com/angular/angular/blob/master/modules/angular2/src/render/api.js#L32

[2015-05-08 20:20] jelbourn commented on #1765
@jbdeboer could you give an example of what you mean w/ the `g-popup`?

I was trying to get across that `redistribute` is a component with that appends the elements to element matched by the `to` selector. I _think_ this would be straightforward to implement with the custom component Renderer feature @tbosch is working on.

@tbosch: can you comment on how custom component renders might fit in here

[2015-05-08 20:23] kegluneq commented on #1569
This works for me on `pub serve` the first time but refresh fails -- this may be the same issue @jakemac53 is seeing in https://github.com/angular/angular/issues/1617

`pub build` works for me

[2015-05-08 20:34] vicb commented on #1731
@pkozlowski-opensource good point !

may be https://github.com/jasmine/jasmine/issues/529

[2015-05-08 21:09] gdi2290 opened #1768 "ElementRef.domElement broken"
a few of us at ng-vegas updated to 22 and `ElementRef.domElement` isn't returning the HTMLElement anymore

[2015-05-08 21:15] mhevery commented on #1765
I think your `redistribute` component is just https://github.com/angular/angular/issues/1492

[2015-05-08 21:23] matanlurey opened #1769 "Bootstrap: The binding of bind(VmTurnZone) after resolved bindings is wrong behavior"
Angular should insert the binding at the *top* of the list of bindings, not at the bottom.

Doing it at the top makes it possible to override VmTurnZone (for testing, for example).

[2015-05-08 21:24] kevmoo commented on #1691
This is a pending language request: https://code.google.com/p/dart/issues/detail?id=11923

[2015-05-08 21:26] kevmoo commented on #1691
We may have a duplicate here: https://code.google.com/p/dart/issues/detail?id=23221

[2015-05-08 22:44] alexeagle commented on #1764
I wonder who was formatting the code previously, when ts2dart was a karma preprocessor. Are you sure this was working before? I don't think we were running the dart_style:format package on every file save?

Looked in https://github.com/angular/angular/blob/c1579222bd74f83f73d1d6c7e1636c7ebd0ea3bc/tools/transpiler/karma-ts2dart-preprocessor.js
https://github.com/angular/angular/blob/c1579222bd74f83

[2015-05-08 22:47] jelbourn opened #1773 "Proposal: declaring rate-limited event handlers (debounce, throttle)"
It's very common to need to rate-limit DOM events that fire too quickly, such as `scroll` or `mousemove` for performance reasons. In the ES5 world, it is very easy to create this kind of handler. For example, if you were using underscore:

[code]

[code]

However, in ES6 / TypeScript, the `class` syntax does not have a way to define a method based on the output of some function like this. You can

[2015-05-08 22:57] jelbourn commented on #1765
@mhevery seems very similar. The difference is being able to add something to the document body (when the bootstrapped app is underneath that). This would be important for cases when the rot component is not at the root of the document, such as during migration, when the Angular 2 root component might only be a small portion of the overall application.

[2015-05-08 23:14] #1319 closed

[2015-05-08 23:15] jelbourn opened #1774 "Support 'class' in hostAttributes"
I want to simply add a css class to the host element of a directive (either `@Component` or `@Directive`):

[code]

Any `hostProperties` or user bindings should be in _addition_ to these classes. In cases where there are collisions, the user defined binding should win.

@mhevery @pkozlowski-opensource

[2015-05-08 23:46] mwq27 opened #1776 "es5build.js broken with alpha22"
File di.es6, with map di.map, is now di.es6.map, which is breaking the es5build.js.  There are a lot of files which were switched to
[code]
instead of
[code]

[2015-05-08 23:52] rkirov opened #1777 "commonJs adapter should use an external library"
The commonJs adapter is starting to look like a full commonJS shim for the browser environment. Currently it implements event listeners, querySelector etc. At that point we should make its own project or (preferably) reuse an existing one.

ref:
https://github.com/angular/angular/blob/master/modules/angular2/src/dom/parse5_adapter.cjs

[2015-05-09 00:04] btford commented on #1777
https://github.com/tmpvar/jsdom ?

[2015-05-09 00:13] yjbanov commented on #1766
Fixed by #1775

[2015-05-09 00:13] #1766 closed

[2015-05-09 00:16] jbdeboer commented on #1709
Talking with @alexeagle, this is a different issue from #1407

[2015-05-09 00:17] jbdeboer commented on #1709
Repo case: https://github.com/jbdeboer/angular2_stack_traces

Clone that repo, run pub serve.  In the DevTools console, you should see

[code]

I expect to see some value in the "Stack" output.

[2015-05-09 00:24] jbdeboer commented on #1709
I believe the fix is to pass the stack trace to ```Future.error``` in facade/async.dart

and, anywhere you call ```PromiseWrapper.reject```, there are only a handful of places where this occurs in the code.

[2015-05-09 01:24] armorik83 commented on #1646
I've tried to provide a reproducible way, it was used Babel and Browserify.
However, I became unable to convert at Babel by `export var __esModule` has been added from alpha.22.

[code]

Because the Angular 2 are presently considered to be a transition period, I wait and see a little more about how PhantomJS correspondence. I will try again once the situation has changed.

[2015-05-09 01:54] rkirov opened #1783 "router should be adding baseUrl to navigable routes"
When I say `router.navigate('foo')`, the matched url is normalized to `/foo`, which in turn when passed to location.pushState results is `server:port/foo` instead of the desired `server:port/base/url/foo`.

[2015-05-09 03:25] nikhildev opened #1786 "Script url to import angular2.dev.js is broken"
Just happened to notice that https://code.angularjs.org/2.0.0-alpha.21/angular2.dev.js returns a 404. Should have been https://code.angularjs.org/2.0.0-alpha.22/angular2.dev.js I guess.

[2015-05-09 04:14] PeEllAvaj commented on #1744
Forgive my ignorance, but how would this be done using ES5?

[2015-05-09 04:26] tbosch commented on #1377
Another approach:

ViewCobtainer moves

Add a `bulkMove` method: Gets records with from, to positions
- No from->  create, no to -> delete

Impl: create a temporary new array that may contain nulls while the move is executed

With this, we don't need to change change detection, but still have an atomic operation, and it should be fast.

[2015-05-09 05:00] #1492 closed

[2015-05-09 05:12] drozzy opened #1787 "Step by Step Guide - Display Data discontinuity"
The "DISPLAYING DATA" section in "Step by Step Guide" has got me very confused:
https://angular.io/docs/js/latest/guide/displaying-data.html

First of all, let me ask if there is a complete code for the guide - because that would solve most of my problems. I can even fix most of the mistakes myself. However, without it, I am truly stumped by the following:

1. Page starts off with "Let's walk thro

[2015-05-09 09:15] margielm opened #1789 "local variable undefined in html template"
Hello,

Looks like local variables are broken in alpha-22.

This simple code:
[code]

is throwing following exception:
[code]
It was working previously in a version bundled with quick start project.

What is interesting it is that it doesn't work only for, lets call it, bind operations. When I pass local variable to as a parameter to an event, then everything is working:
[code]

[2015-05-09 14:32] mlynch opened #1790 "Expose _control in ControlDirective for Custom Form Controls"
One use case that we have at Ionic (and angular2_material will) is making custom for elements. For example, imagine a 3 state SegmentedControl toggle:

![screenshot 2015-05-09 09 19 23](https://cloud.githubusercontent.com/assets/11214/7550568/8207a96e-f62c-11e4-9782-fde91e7b86c3.png)

This specific one could be built with radios, of course, but assume we want a completely custom control. The marku

[2015-05-09 14:33] mlynch opened #1791 "Expose _control in ControlDirective for Custom Form Controls"
One use case that we have at Ionic (and angular2_material will) is making custom for elements. For example, imagine a 3 state SegmentedControl toggle:

![screenshot 2015-05-09 09 19 23](https://cloud.githubusercontent.com/assets/11214/7550568/8207a96e-f62c-11e4-9782-fde91e7b86c3.png)

This specific one could be built with radios, of course, but assume we want a completely custom control. The marku

[2015-05-09 14:40] calebboyd commented on #1744
I'm pretty sure that is es5 :)

[2015-05-09 14:55] jbdeboer commented on #1731
Upon further investigation; I don't think this issue affects GT

[2015-05-09 16:25] aminroosta commented on #1776
i have the same problem ...

[2015-05-09 18:10] alexpods commented on #1744
@PeEllAvaj I think you should do something like:

[code]

but for unknown reasons `angular` (alpha.22) does not contain 'build' function (see [plunker](http://plnkr.co/edit/aZXjLjtnqYdbmu3vAbFr?p=preview)). I think this is the bug.

/cc @IgorMinar @pkozlowski-opensource

[2015-05-10 01:10] abakirov opened #1792 "QueryList.onChange callback never called"
In example like this ...
[code]

... `onChange` callback is never called using this version:
https://code.angularjs.org/2.0.0-alpha.22/angular2.dev.js

Please let me know if I'm doing something wrong or this is not supposed in alpha 22.

Thanks!

[2015-05-10 01:28] ewinslow opened #1793 "Need separate Angular 2 help forum"
The current forum at https://groups.google.com/forum/#!forum/angular is mixed with Angular1/2 stuff. This makes it hard to find help because you have to filter through a bunch of irrelevant posts. I tried adding "angular2" to my query but Google Groups seems to think the 2 is meaningless and matches "angular" anyways.

If there is already a new forum, then https://angular.io/docs/js/latest/help.ht

[2015-05-10 01:32] viztastic commented on #1793
Agreed, an Angular 2 forum would be incredibly helpful.
+1

[2015-05-10 01:34] ewinslow opened #1794 "Provide "send feedback" feature for the docs at angular.io"
There's no link to report a problem or "improve these docs" from the docs pages themselves. Something like this along the lines of what Google does with screenshots and stuff would be helpful, methinks, for making sure all the docs stay up to date as Angular evolves right now.

[2015-05-10 01:43] ewinslow opened #1795 "Failing to denote the local variable in *for="field of fields" should give some kind of error"
I was beating my head against the wall trying to figure out what I was doing wrong because this clearly was not unrolling my loop.

`*for="field of fields"` of course needs to be `*for="#field of fields"`  >_<

Silently failing here seems bad. The for directive should at least check at runtime that it is receiving a valid variable declaration and throw if not. I'll leave it to you all to figure ou

[2015-05-10 02:17] joshkurz commented on #1794
so someone needs to send a PR that improves the docs to improve the docs? Self Improvement.

[2015-05-10 03:06] joshkurz commented on #1794
Just for the record I totally agree with you @ewinslow.

[2015-05-10 10:10] pkozlowski-opensource commented on #1791
@mlynch look like you've opened it twice (see #1790)

[2015-05-10 10:10] #1791 closed

[2015-05-10 10:16] pkozlowski-opensource commented on #1774
@jelbourn @mhevery this would be trivial to special-case this one (that is - have a special case for _merging_ different classes specified on a host element, will send a PR later today) but the more I think about all the `host*` properties of a `@Component`, the more I'm leaning towards using a string-based syntax, sth like:

[code]

This would be close to what we write in templates, so users don'

[2015-05-10 10:18] SekibOmazic commented on #1793
@ewinslow You can get some help from gitter channel: https://gitter.im/angular/angular

[2015-05-10 14:34] mlynch commented on #1791
Ah, sorry about that, dang tethered network :)

[2015-05-10 15:12] cexbrayat opened #1797 "EventEmitter error with alpha.22"
Updating an app based on `ng2-play` from alpha 20 to 22, I'm having the following error on every screen with a `Control`:

    TypeError: Cannot read property 'Subject' of undefined
      at new EventEmitter (http://localhost:9000/lib/angular2.js:14930:46)

These lines are the problem :

    this._subject = new Rx.default.Rx.Subject();
    this._immediateScheduler = Rx.default.Rx.Scheduler.immedia

[2015-05-10 15:43] cexbrayat commented on #1797
It looks like it is related to https://github.com/systemjs/builder/issues/123

If I force the autodetection with :
[code]

then the problem disappear.

@alexeagle @rkirov is this the proper fix and not an issue with Angular ?

[2015-05-10 18:13] matanlurey commented on #1774
I sort of like Pawel's concept. Could go one step further:

[code]

This would likely be more toolable as a +.

[2015-05-10 19:27] yjbanov commented on #1764
No, not 100%. I'm 100% sure I debugged formatted code in the past, but perhaps those were integration tests, not unit tests. The two use different build targets.

[2015-05-10 20:05] yjbanov commented on #1747
This should already be supported in reflective mode. There's a bit of a debate going about the `directives` field. Not 100% sure `directives` are here to stay. Let's wait until the dust settles on the topic.

[2015-05-10 20:17] pkozlowski-opensource commented on #1747
Right, currently there is logic to flatten directives list: https://github.com/angular/angular/blob/28022f472d5dbc231bb5c60da696744da40cf322/modules/angular2/src/core/compiler/compiler.js#L241

[2015-05-10 21:45] ghaddon1 commented on #1787
I would agree... Would nice to see the total solution for each phase.

[2015-05-10 21:57] ewinslow commented on #1793
Thanks, wasn't aware of that. Will try that next time.

I still think it would be useful to have a forum to serve as good reference material for others.

[2015-05-10 23:42] johnjelinek commented on #1655
I'm getting this error on alpha.22

[2015-05-11 01:16] ewinslow opened #1800 "Streamline directive definitions with more liberal use of decorators"
According to the docs, making a directive that listens for events on the host element is like so:

[code]

This seems like it could be streamlined:

 * The listeners are registered far away from where the handlers are defined
 * The registration duplicates a) the method names and b) arguments.
 * The registration uses strings which makes obfuscation and refactoring more difficult.
 * You can liste

[2015-05-11 01:24] ewinslow opened #1801 "`@Component('selector')` as shorthand/replacement for `@Component({selector:'selector'})`"
So frequently I see `selector` being the only argument to `@Component` or `@Directive` (e.g. `@Component({selector:'selector'})`. I imagine if #1800 is accepted then this will be the case pretty often even in real-world apps.

`@Component('selector')` would be just swell. If you need options you could just pass a second argument.

[code]

It's a minor issue, but you know how we developers hate boi

[2015-05-11 04:55] johnjelinek commented on #1655
Nevermind, I had to change my imports: `import { ComponentAnnotation as Component, ViewAnnotation as View } from "angular2/angular2";`

[2015-05-11 05:29] SamVerschueren commented on #1655
This works on 22.

[2015-05-11 08:30] pkozlowski-opensource commented on #1801
There is an alternative proposal in https://github.com/angular/angular/issues/1451 where we say that a selector could be inferred from a class name.

I must say that I'm not really big fan of `@Component('selector')` as it essentially replaces named "arguments" with positional ones. On top of this currently one can have components with the sole "selector" argument only for the most basic component

[2015-05-11 09:10] SekibOmazic opened #1802 "Attribute as component selector not recognized"
After updating my plunk from alpha.20 to alpha.22 I've got following exception:

[code]
See console in plunk for detailed stack trace.

Plunk: http://plnkr.co/edit/yXqVIkJXG3OXsoouYTN2?p=preview

[2015-05-11 09:11] mprobst commented on #1729
FYI talked to @petebacondarwin, and apparently there is good progress already being made. On standby now, in case something pops up :-)

[2015-05-11 09:57] pkozlowski-opensource commented on #1802
Was introduced in e3c11045bf335b141cc986be411ed7d71dd4ed5b and seems to be a concussion change: https://github.com/angular/angular/commit/e3c11045bf335b141cc986be411ed7d71dd4ed5b#diff-20dbf210147462b49d6b70e5186c7f2fR186

@vsavkin is the best person to confirm that this is new, required behavior (in this case we should probably add a note to the changelog).

[2015-05-11 10:48] SekibOmazic commented on #1802
@pkozlowski-opensource What is/was the intention (mental model) for this behavior? Should Components be elements only and Directives attributes?

[2015-05-11 10:54] pkozlowski-opensource commented on #1802
For me this change makes sense, if we take simple examples:
* Component -> element
* Directive -> attribute

As I would expect components with their own templates to reside on their own element. Then it is not fully  clear to me how this will play for the viewport directives. Let's see what @vsavkin has to say here.

[2015-05-11 11:28] FloWi opened #1803 "Provide TypeScript type definitions (.d.ts) for each release"
Is it possible to include the angular.d.ts in the release archives? It'd be great to have an "all-inclusive-archive" of a release.

[2015-05-11 11:42] pkozlowski-opensource commented on #1803
Those are available as part of the DefinitelyTyped repo at https://github.com/borisyankov/DefinitelyTyped/tree/master/angular2 but I wonder how this repo handles different APIs for different versions...

I kind of like the idea of distributing type definitions as part of the release

[2015-05-11 11:44] FloWi commented on #1803
Jep - that's what I thought. I'm currently playing with the webjar - but it has not the latest release packages yet. Therefore I don't know, if the type-definitions of the DefinitelyTyped repo fit to that release.

[2015-05-11 13:35] eternalstudent2015 opened #1805 "Just In Time Download of JS files"
Dear Friends,

Recently I am going through angular and learned many new things like gulp, gulp-inject, wiredep, browser-sync, jshint, jscs, etc. But since, I tried to learn everything at once, I am bit lost.

I have a very basic question.
This is the front end of Application.
![app](https://cloud.githubusercontent.com/assets/12291261/7565752/346ccd2a-f810-11e4-9bfe-0f454298a35d.jpg)

This is the i

[2015-05-11 13:41] pkozlowski-opensource commented on #1805
@eternalstudent2015 this is wrong repo - this one is for Angular 2. Angular 1 repo is available under https://github.com/angular/angular.js. But I can answer your question here - Angular 1 doesn't oficially support on-demand code download, but this is something we are looking into in the 1.5 release time-frame.

[2015-05-11 13:41] #1805 closed

[2015-05-11 15:49] Verdier opened #1806 "Proposal: support @Inject on ES7 Class Property"
Most of the time injected services are attached to the instance to be used in instance methods:
[code]
But using ES7 Class Properties (available with both Babel and TypeScript) it would be great to have something like:
[code]

[2015-05-11 16:21] nomack84 commented on #1806
This could be an improvement. As the property should probably have a type, then the service could be guessed, just like how it works in Java EE.
[code]
Even better, if the service implements an interface, like `Service`, then we could use the interface as the type and abstract the service implementation, like this:

[code]
I'm not sure if this is possible with TypeScript, just proposing the way it

[2015-05-11 16:42] ewinslow commented on #1801
Thanks for the reply! My thoughts:

The directives argument is only for the @View annotation, so I think that didn't affect this case.

I would assume that only the selector would be positional. It is really the only required argument. Agree that in general named is better than positional.

I'm not a huge fan of basing the name on the class because that hurts obfuscation.

[2015-05-11 16:44] #1675 closed

[2015-05-11 16:44] tbosch commented on #1675
Simplification is done, implementation of component / element based renderer will be done in a separate issue.

[2015-05-11 16:45] jelbourn commented on #1801
Dart doesn't currently support union types, so this proposal wouldn't work there.

[2015-05-11 16:53] ewinslow commented on #1451
I think having `@Inject(ables)` annotation near the constructor would be great. Moves the information closer to where it is relevant.

[2015-05-11 16:59] ewinslow commented on #1801
You don't need union types. You just need two arguments.

[2015-05-11 17:01] ewinslow commented on #1801
E.g. `@Component('name', {...})`

[2015-05-11 17:05] jelbourn commented on #1801
Selector is going to be optional (See #1662), so it gets kind of awkward without union types.

[2015-05-11 17:07] vsavkin commented on #1802
There are a few reasons to have enforce this constraint:

* We dynamically create components. Without this constraint, the creation is a bit weird. For instance, what element would we create for this selector `not([a=5])`, or for this one `[a],[b]`? It is possible to make it work, but the behavior may be confusing.
* You cannot have more than one component on the same element.
* It aligns better w

[2015-05-11 17:08] tbosch opened #1807 "Custom renderers"
Right now, we have one class that implements all methods of the `Renderer` API. This issue describes how to distribute the responsibilities of this renderer onto multiple renderers

## Use cases

### Use case: Wrap jQuery widget:

[code]

[code]

### Use case: component with custom table

[code]

### use case: hack behavior of an element in a component's template

[code]

[code]

## Interfaces

[c

[2015-05-11 17:09] ewinslow commented on #1801
Ah well yes that does make things interesting doesn't it? Thanks for the clarification.

[2015-05-11 17:11] pkozlowski-opensource commented on #1802
Personally I like the current behaviour and would keep it (unless we discover some use-cases further down the road). My vote goes to closing this one with the changelog update.

[2015-05-11 17:15] pkozlowski-opensource commented on #1801
@ewinslow right, sorry for the confusion with `directives`. But this doesn't change other parts of my comment.

Hmm, most of the time you would be exporting those directives, so I don't think you can obfuscate them, can you?

[2015-05-11 17:31] IgorMinar commented on #1759
@caitp any update?

[2015-05-11 17:31] vsavkin opened #1809 "Implement hostActions"
[code]

The first part of https://github.com/angular/angular/issues/1251

[2015-05-11 17:35] caitp commented on #1759
I started work on this on friday, should have a PR tonight or tomorrow morning

[2015-05-11 17:56] ewinslow opened #1810 "Support server side rendering"
This has been mentioned a few times in passing at various conferences or interviews but I haven't heard of an official way to track status on this feature. I figure this can be the ticket where we get an official word from the core team on the extent to which this is supported, if at all.

Currently my understanding is that this is:
 * possible given the architecture, but still hard
 * there are o

[2015-05-11 17:58] SekibOmazic commented on #1802
@vsavkin That makes sense of course.
@pkozlowski-opensource The documentation also needs an update:
Remove https://github.com/angular/angular/blob/master/modules/angular2/src/core/annotations_impl/annotations.js#L380
and add a description for `selector` in `Component` section

Will close this as everything is clear.

[2015-05-11 18:29] pavelgj opened #1811 "XHR service should support methods other than GET"
Currently `XHR` service only supports GET HTTP method. Please implement support for other methods.

[2015-05-11 18:36] pkozlowski-opensource commented on #1811
@pavelgj I think that the current XHR service is to be used by the compiler only to fetch templates for directives. @jeffbcross is working on the fully-featured backend-access service.

@tbosch @mhevery I think that we had similar issues already, IMO we should make it very clear that the current XHR is only for the compiler. Happy to send a PR if we all agree that the current service is compiler-p

[2015-05-11 18:45] tbosch opened #1812 "Implement TestComponentBuilder"
Implement requirements of #1146

[code]

[2015-05-11 18:51] tbosch commented on #1807
TODO

- [ ] Update renderer [design doc](https://docs.google.com/document/d/1M9FmT05Q6qpsjgvH1XvCm840yn2eWEg0PMskSQz7k4E/edit#)

[2015-05-11 18:51] vsavkin opened #1813 "Karma outputs every message twice"
To reproduce:

* Add `console.log('test')` to a test
* Iit that test
* Run `test.unit.js`
* `test` will appear twice

[2015-05-11 18:54] rkirov commented on #1787
Can you repost to https://github.com/angular/angular.io

[2015-05-11 19:01] IgorMinar opened #1814 "Rewrite the broccoli-funnel plugin to be incremental"
Similarly to how we changed ts2dart plugin in #1720, we should do the same for [broccoli-funnel](https://github.com/broccolijs/broccoli-funnel).

I suggest we fork funnel, wrap it into DiffingBroccoliPlugin and have it incrementally respond to changes.

Since funnel is a third-party code and DiffingBroccoliPlugin is not on npm yet, likely the best way to do this would be to pull in the fork via np

[2015-05-11 19:03] IgorMinar commented on #1814
cc: @vsavkin

[2015-05-11 19:07] jelbourn commented on #1812
Related: #1609 and #1610

[2015-05-11 19:08] IgorMinar opened #1815 "Rebuild broccoli-merge-trees plugin to be incremental"
This issue is similar to #1814 but targets [broccoli-merge-trees](https://github.com/broccolijs/broccoli-merge-trees) plugin.

Should take off another 200-500ms of build latency.

[2015-05-11 19:08] IgorMinar commented on #1815
cc: @vsavkin

[2015-05-11 19:11] IgorMinar commented on #1813
I was able to repro this.

@caitp could you take a look at this one as well?

[2015-05-11 19:12] IgorMinar commented on #1813
I don't think that this is related to any of our build changes. I wonder if it's some kind of karma misconfiguration.

[2015-05-11 19:31] tbosch commented on #1810
Hi,
yes, agree with your analysis!

[2015-05-11 19:32] tbosch commented on #1810
Here is a design doc that is a lot work in progress / place for putting ideas: https://docs.google.com/document/d/1M9FmT05Q6qpsjgvH1XvCm840yn2eWEg0PMskSQz7k4E/edit

[2015-05-11 19:32] matanlurey commented on #1769
Hold this PR. Looking for better alternative :)

[2015-05-11 19:53] adamdbradley commented on #1802
While I do fully agree and recommend this pattern:

- Component -> element
- Directive -> attribute

I think the forced constraint will have more negative impacts than positive. For example, I was able to use `<body my-app>` as the root component, and provide a template for it. Another that comes to mind is the button element, where for accessibility we'd still want to use the actual `<button>` el

[2015-05-11 20:07] btford commented on #1783
:+1:

[2015-05-11 20:10] aciccarello commented on #1800
I like the way that looks. I've been a little concerned about having a huge annotation before the class definition. This would be a good way to tie things together. I haven't looked at the decorators/annotations spec yet but I hope they're available on a method level.

[2015-05-11 20:14] aciccarello commented on #1800
Just noticed a similar suggestion with injectables on [#1451](https://github.com/angular/angular/issues/1451#issuecomment-94545503)

[2015-05-11 20:36] kegluneq commented on #1734
@tbosch agreed, this would be difficult but not impossible. We may be able to use [Isolate#spawnUri](https://api.dartlang.org/apidocs/channels/stable/dartdoc-viewer/dart:isolate.Isolate#id_spawnUri) to execute a generated `main` method that calls a `UrlResolver` implementation which is specified in the `@Component` annotation. I think it would be at least as nasty as it sounds to make it work.

Fo

[2015-05-11 20:42] ewinslow commented on #1801
@pkozlowski-opensource If you can tell the compiler about your whole world ahead of time, it can get rather fancy with bundling modules and rewriting names and such even when those names are needed across modules. I sure hope this continues to be supported :)

[2015-05-11 20:51] pkozlowski-opensource commented on #1800
I think that there is some confusion going on regarding #1451 as it mixes up _configuration_ of the DI container with specifying what should be injected from the previously configured DI container.  In this example:

[code]

You don't really need `@Inject(SomeServiceImpl)` - type annotation is enough. But you still need to say what is available in the DI container (this is what `injectables` does

[2015-05-11 20:54] jakemac53 opened #1817 "Support part files in the dart transformer"
There are a few things that need to happen to support using parts, lets collect them here.

- [ ] Add support for discovering angular annotations in parts.
    - Skip any dart files with a `part of` directive if they are primary inputs (do not output a `.ng.deps` file).
    - Whenever we find a `part` directive in a primary input load the file and treat any annotations found as if they were in the

[2015-05-11 21:00] jelbourn opened #1818 "Support a way to get all the attributes for a directive"
In the existing material design library for Angular 1, there are some components that use a concept of "responsive attributes". Say you have a component like `md-grid-list`, which has an attribute `cols`. You can specify the value conditionally on screen size, for example:
[code]

We currently have a way to inject a _single_ attribute (`@Attribute('cols')`), but the number of combinations gets lar

[2015-05-11 21:16] jamm commented on #1802
What will say @marcysutton (or other a11y experts) about replacing all <button>s by custom elements?
Also, some CSS frameworks expect exact names of elements to apply selectors/rules.
Also I think SVG will not be as flexible to be able use custom tags and nested elements everywhere without consequences (although not tested, maybe it's wrong assumption).

I like explicit limitation "1 template per

[2015-05-11 21:30] ewinslow commented on #1800
Type annotation is enough only if you type on a concrete class. Agree that in that case any other info should be unnecessary. That would certainly be nice.

`@Inject` may be a poor name. I'm sure we can come up with a better one. Maybe `@Injectables`? It could take an array. This would be decoupled from Component. Seems like a positive to decouple injector configuration from Component configuratio

[2015-05-11 22:28] yjbanov opened #1822 "Add option in Dart transformers to just inline templates"
This is needed for tests that mock out HTTP (or don't have a server at all). It is also required to be able to use FakeAsync in tests.

/cc @matanlurey

[2015-05-11 22:34] hankduan commented on #353
See https://github.com/hankduan/firefoxExtension for an update.

The extension exposes 3 functions: `startProfiler`, `stopAndRecord`, and `forceGC`, which can be called via protractor (see https://github.com/hankduan/firefoxExtension/blob/master/spec.js).

The functions should achieve approximately what is desired. However, I don't know what is the expected format for the profile JSON. Here's an e

[2015-05-11 23:56] jelbourn opened #1826 "Flip hostProperties map key-values"
Currently, `hostProperties` are set like:
[code]

This is problematic because it prevents binding multiple properties / attributes to the same directive instance property. Flipping these would fix this and also make `hostProperties` consistent with `hostAttributes`, which is already in the format
[code]

FYI @pkozlowski-opensource

[2015-05-12 00:33] jelbourn opened #1828 "Support finding child classes via @Query"
When writing
[code]

Angular should give you any directives that extend `SomeBaseClass`.

[2015-05-12 00:39] #1643 closed

[2015-05-12 00:40] andresdominguez opened #1829 "Cannot find EventEmitter in angular2/angular2 in typescript component"
I am trying to use the `EventEmitter` in a Typescript component. I am following the instructions from the website:

[code]

Now add the following lines to app.ts:

[code]

Expected:
It should compile.

Actual:
[code]

[2015-05-12 01:00] tbosch commented on #353
So you solved the problem that you can now access these functions also
during webdriver tests?

On Mon, May 11, 2015 at 3:34 PM Hank Duan <notifications@github.com> wrote:

[2015-05-12 01:05] hankduan commented on #353
Yes, although I'm not certain what I did to fix it. It might be a browser upgrade or a config change.

[2015-05-12 01:14] tbosch commented on #353
So the plugin should just forward the original data from Firefox to keep it
as simple as possible. We will then add a new WebDriverExtension class to
benchpress that does the transformation outside of the plugin.

What would you think how long it takes to move the plugin to the Angular2
repo and add unit and integration tests to it?
On Mon, May 11, 2015 at 6:06 PM Hank Duan <notifications@github.c

[2015-05-12 01:25] hankduan commented on #353
How do you want the data forwarded? Right now it just saves the data to a specified file.
In terms of tests, I can add an integration test fairly quickly. Unit tests don't make much sense since this is just a wrapper over core firefox

[2015-05-12 01:32] cexbrayat commented on #1797
I'll close the issue, as @SekibOmazic ended up on the same workaround for rx autodetection, and it works for him too.

[2015-05-12 01:32] #1797 closed

[2015-05-12 01:54] rkirov commented on #1797
https://github.com/angular/angular/blob/master/gulpfile.js#L682 we already use this for our bundles. Right now the only officially supported workflows are through the bundles (as we are still in dev preview). When we are ready for custom builds of angular + your app, we will have to document or deal somehow with such special steps.

[2015-05-12 01:55] #1783 closed

[2015-05-12 04:15] 0Decoherence opened #1830 "Does the order in single typescript file matter?"
In a single typescript file this throws TypeError: Cannot read property 'annotations' of undefined
[code]
if i define the components before the app such as
[code]
it works fine.

is this a normal behavior, does the order really matter?

[2015-05-12 04:52] 0Decoherence opened #1831 "Parent and Ancestor annotations in typescript"
the equivalent of the following in dart works perfectly, in typescript after defining the Parent and  the Ancestor annotations in typescript typings as:

[code]
it throws:
[code]

[2015-05-12 05:20] matanlurey commented on #1828
Is this even possible? I was under the impression that `@Query` did some sort of selector check. How would it know the ancestor chain?

[2015-05-12 05:22] matanlurey commented on #1822
Even if this isn't used in the build system, it should be an option for transforming tests for a rapid-refresh cycle. Let's chat offline.

[2015-05-12 06:10] pkozlowski-opensource commented on #1826
@jelbourn tend to agree, I also find the current order not very intuitive, was about to propose this myself. Having said this I think that switching to string-based host specification would make this problem go away, see: https://github.com/angular/angular/issues/1774#issuecomment-100617019

[2015-05-12 06:22] SekibOmazic commented on #1831
@0Decoherence This should help:
[code]

[2015-05-12 06:39] 0Decoherence commented on #1831
@SekibOmazic Yes alpha.22 as you can see from the exceptions, but can you please explain how that import statement you included helps?

[2015-05-12 07:23] vicb opened #1832 "Travis is green event if unit test fails !"
see https://travis-ci.org/angular/angular/jobs/62190040

[2015-05-12 08:20] vicb opened #1833 "Inifinite recursion in gulp task 'cleanup.builder'"
see https://travis-ci.org/angular/angular/jobs/62194897#L1383

I was able to workaround by modifying the `gulpfile.js`:

[code]

To reproduce the issue: add an unexisting file in `vendorScriptsTree` (`browser_tree.ts`) :
[code]

[2015-05-12 08:25] vicb opened #1834 "npm shrinkwrap modifying all the deps "from" in npm-shrinkwrap.json"
After I execute "npm shrinkwrap --dev" as indicated in the readme, all the deps have their from key modified:

[code]

Any idea what's going wrong ?

[2015-05-12 08:37] pkozlowski-opensource commented on #1830
This is more of a TypeScript questions than angular question, but if put this TS code in the [TS playground](http://www.typescriptlang.org/Playground):

[code]

you will see that it is going to be transpiled to:

[code]

and with JS variable hoisting you will get Foo and Bar being undefined at the place of usage. So yes, the order does seem to matter. Feel free to take it with https://github.com/M

[2015-05-12 08:37] #1830 closed

[2015-05-12 08:50] josecasimiro opened #1835 "Building src/facade/lang"
I am using VS2013, Typescript 1.5, Windows 8.1.

I am trying to setup Angular2 so I can go through the starting steps and examples, alas I am failing to do the basic and include the angular2 modules.

This is the first issue I got.

![image](https://cloud.githubusercontent.com/assets/807882/7583091/e9641876-f88a-11e4-9d7d-e7394f95877a.png)

The path is correct the naming is correct, however typesc

[2015-05-12 09:21] vicb commented on #1832
At least error in cjs tests are not detected (there is one failure in the current master and Travis is still green)

[2015-05-12 09:31] pkozlowski-opensource commented on #1832
Seems like it started to break with 92d6aa1 (see https://travis-ci.org/angular/angular/builds/62139867) but I'm not sure how this commit could break things...

But yeh, the build should fail in this case....

[2015-05-12 10:59] 0Decoherence commented on #1831
When i do the following it fixes the problem but as to why it works i don't know, nor it makes sense because in dart the above sample works
[code]
now it prints
```C1 {}```

[2015-05-12 12:19] pkozlowski-opensource commented on #1834
@vicb yeh, saw the same during 2 last updates to npm dependencies. At the beginning I thought it is due to npm version, but it seems like things are flipped back and forth between 2 different forms. Just compare my 2 PRs that were send in 2 consecutive days with the same npm version: e8ad0d177669cd7177d2f6936097831a5467a3c8 and f8f79dc76ce16b84b987ed3aef41480cca87cb7d.

Not sure what is going on h

[2015-05-12 12:26] rightisleft opened #1836 "Dart Output In Quickstart Is Massive"
I just ran through the demo for Dart here:

https://angular.io/docs/dart/latest/quickstart.html

* Running through the built in Dart2JS transformer via pub serve results in a 5.2 MB main.dart.js file
* Running through pub build results in a 2.5 MB main.dart.js file

[2015-05-12 12:42] pkozlowski-opensource commented on #1716
@jbdeboer I've changed this error message recently, hopefully it is a bit better now, see https://github.com/angular/angular/blob/655ed851f021d5faa6e1d56d19375c8e9ab0bae0/modules/angular2/src/di/exceptions.ts#L164-L165

What would be the ideal wording you would like to see here?

[2015-05-12 14:26] matanlurey commented on #1836
Right now Dart only (formally) supports operation using reflection (mirrors), which disables tree-shaking code that is unused (including core libraries, etc). Angular 2 includes a (in development) transformer that removes reflection and replaces with statically generated code that makes the size more normal.

You can try this in your `pubspec.yaml`:
[code]

[2015-05-12 14:40] vicb opened #1838 "`gulp test.unit.js` run test multiple times"
`gulp test.unit.js` used to run test twice and I think @juliemr fixed this.

I have a branch based on the current master, it is even worse:
[code]

Is this a known issue ?

/cc @IgorMinar @alexeagle

[2015-05-12 14:41] caitp commented on #1838
Is this #1759?

[2015-05-12 14:43] pkozlowski-opensource commented on #1838
@vicb as those test really run twice or is it "just" the reporter going crazy? I saw some issues with this progress reporter in the past, as it uses a trick of going back to a previous line in a terminal and editing it. It can break depending on a terminal and its size....

[2015-05-12 14:45] vicb commented on #1838
I think they are actually executed twice (exception messages are displayed twice).
Seems like it was executing 4 times because I ended up with 2 karma instances running in parallel.

Closing for now until 1759 gets fixed.

[2015-05-12 14:45] #1838 closed

[2015-05-12 15:10] josecasimiro commented on #1835
I have managed to get through this.

I was missing the following line on top of my .ts file that wanted to import angular2 modules.

/// <reference path="typings/angular2/angular2.d.ts" />

Also to create the folder and get the file I ran the following commands.

$ npm install -g tsd
$ tsd query angular2 --action install

That way I don't need to have the entire angular2 package, just that file.

[2015-05-12 15:10] #1835 closed

[2015-05-12 15:24] pkozlowski-opensource commented on #1806
How would this affect unit testing, that is, how one should pass mock dependencies? Reading through https://gist.github.com/jeffmo/054df782c05639da2adb it seems like property initilizers are executed before a constructor (?). If this is true than I should be setting mocks on object instances before a constructor is run (as a constructor might be accessing them). But how I could do without construc

[2015-05-12 15:52] Verdier commented on #1806
@pkozlowski-opensource: the property decorator gives you access to the property descriptor. The decorator could set the `get` function which is responsible of returning the service.

[code]

[2015-05-12 16:15] Verdier commented on #1806
`get` attribute exists only on accessor properties. But, according to the current babel's implementation of class properties, property initialisers are called before the constructor, but no idea how to override the initialiser... looks like there is no solutions for now, will wait for proposal evolution.

[2015-05-12 16:15] #1806 closed

[2015-05-12 16:20] #1035 closed

[2015-05-12 16:44] #1283 closed

[2015-05-12 16:50] mhevery commented on #1774
@matanlurey, @PascalPrecht  That is a good idea. (I vote for hash). Need to discuss with @vsavkin about how it fits with `actions`.

[2015-05-12 17:08] matanlurey opened #1842 "Component stabilization/lifecycle hook."
In Angular 1.0 Dart, there is an event called `attach` that can be used, e.g.

[code]

It's not clear how to reproduce this elegantly in Angular 2. One option would be using `onChange`:

[code]

Is something like 'attach' planned on being supported? Or we are expected to use onChange?

@yjbanov, who mentioned this offline. @jbdeboer may be interested.

[2015-05-12 17:34] jbdeboer commented on #1842
IIUC, the fundamental difference between ```attach``` and ```onChange``` is where the application's state is stored. With ```attach```, we compute and store state in the component during initialization.  With ```onChange```, the component is expected to react to any new data: the source of truth is elsewhere, not in the component.

Comparing the two, the ```onChange``` system is purer and more cor

[2015-05-12 17:35] jbdeboer commented on #1836
Since transformers are mostly transparent; this bug should be fixed by added that ```transformers``` line to the quickstart pubspec.yaml

@rightisleft If you have success with @matanlurey's suggestion, could you send a PR?

[2015-05-12 17:37] jbdeboer commented on #1817
FYI, We are about to ban ```part of``` from our codebase because is smells bad.

[2015-05-12 17:37] matanlurey commented on #1693
My two cents:

- Keep a read/write queue option for advanced use cases. There will always be cases where you integrate with 3rd party libraries that will not be able to consume events, e.g., chart libraries, but still want to synchronize renders.

- Implement experimental events for size, position, visibility.

[2015-05-12 17:40] matanlurey commented on #1732
Ping on this. Is it possible to just a quick explanation (in this issue) of what the two are? Thanks!

[2015-05-12 17:46] tbosch commented on #1694
@naomiblack I assigned this to M9, could you double check with Matan?

[2015-05-12 17:47] tbosch commented on #1693
@naomiblack I assigned this to M9, could you double check with Matan?

[2015-05-12 17:59] jakemac53 commented on #1817
Ok, but should external developers also be banned from using parts in their angular apps? I am not necessarily opposed to that being the case, but some people really like them.

[2015-05-12 17:59] drozzy commented on #1787
Reposted.

[2015-05-12 18:10] tbosch commented on #1812
@matanlurey Do you have time to discuss this?

[2015-05-12 18:56] ewinslow commented on #1293
Personally I find the explicitness of api to be refreshing because it means compilers/tools can do tree-shaking and drop unused directives automatically, or lazy-load them in the correct order or whatever.

The `@View` and `@RawView` distinction seems like a good compromise. Gets people up and running quickly without boilerplate but then also offers the control you need when you want to optimize y

[2015-05-12 19:17] vicb commented on #1050
Fixed since last 0.4 release of zone.js

[2015-05-12 19:17] #1050 closed

[2015-05-12 19:18] vicb commented on #1116
fixed via #1574

[2015-05-12 19:18] #1116 closed

[2015-05-12 19:19] vicb commented on #1224
Closing as most todo items are part of #1574.
@mhevery what about opening an other issue if the change detector should drain the queue. As of today the queue is the broowser queue / the Dart queue and is not exposed to NgZone.

[2015-05-12 19:19] #1224 closed

[2015-05-12 19:27] vicb commented on #1834
I've discussed with @IgorMinar: the changes in the shrinkwrap file are harmless and they do not occur in the clean version.

I leave this PR opened until @IgorMinar amend the readme with more info.

[2015-05-12 20:12] vicb commented on #1812
This should hopefuly be available this week, see https://github.com/angular/angular/pull/1837

[2015-05-12 20:13] matanlurey commented on #1693
:+1: on M9

[2015-05-12 20:34] baio opened #1846 "Object as a component property in For directive"
Hi!

Inside `for` directive, I had repeated component which have property `item`, when this component is generated I had exception. If I bind not object but some property all work fine.

[code]

Throw exception

TypeError: Cannot read property 'name' of undefined in [{{item.name}} in ResortsListItem: <p>]
STACKTRACE:

Error
    at Function.getStacktraceWithUncaughtError (http://127.0.0.1:8080/bund

[2015-05-12 20:43] naomiblack commented on #1729
@petebacondarwin any update? Wondering if we can push an API doc update for alpha-23

[2015-05-12 20:57] yjbanov opened #1847 "'cleanup.builder' stuck in infinite loop when build fails"
This happens both locally and on [Travis](https://travis-ci.org/angular/angular/jobs/62268311).

You get something like this:

[code]

[2015-05-12 21:27] yjbanov commented on #1146
This has been superseded by https://github.com/angular/angular/issues/1812. Closing.

[2015-05-12 21:27] #1146 closed

[2015-05-12 21:36] vicb commented on #1847
Duplicate of #1833

[2015-05-12 21:36] #1847 closed

[2015-05-12 22:05] kegluneq commented on #1714
Pulling in @keertip , who is interested in this in terms of the analyzer plugin

[2015-05-12 22:05] kegluneq commented on #1713
Pulling in @keertip , who is interested in this in terms of the analyzer plugin

[2015-05-12 22:05] kegluneq commented on #1712
Pulling in @keertip , who is interested in this in terms of the analyzer plugin

[2015-05-12 22:18] rightisleft commented on #1836
I'm not seeing any change:

$  angular2  cat pubspec.yaml
name: hello_world
version: 0.0.1
dependencies:
  angular2: any
  browser: any
transformers:
-  angular2

Results from pub build : 2.5MB

[2015-05-12 22:32] #1295 closed

[2015-05-12 22:32] #1598 closed

[2015-05-12 22:41] rkirov opened #1850 "router-link does not support baseHref"
The following html
`</router-outlet><a router-link="foo">link</a>`
and config
[code]
with baseHref `/hello/web` should generate href `/hello/web/foo`, while it generates `/foo` right now.

Similarly `router.navigate('foo')` (router injected into the given component) should act like clicking on that anchor tag.

[2015-05-12 23:10] #1640 closed

[2015-05-12 23:12] kegluneq opened #1851 "Provide a tool that populates AnnotationMatcher settings"
Provide a standalone tool users can run to detect custom implementations of `Injectable`, `Directive`, `Component`, and `View` and update `pubspec.yaml` with the appropriate information.

See PR https://github.com/angular/angular/pull/1772 and issue https://github.com/angular/angular/issues/1750 for additional context

[2015-05-12 23:12] kegluneq commented on #1750
Closed by https://github.com/angular/angular/pull/1772

[2015-05-12 23:12] #1750 closed

[2015-05-12 23:14] tbosch commented on #1812
Talked to @matanlurey: Also add a feature to the `ComponentProxy` to allow to query for a nested component.

[2015-05-12 23:34] natebosch opened #1853 "Support arbitrary number of bindings per ElementInjector"
# Goal

- remove the limit of 10 bindings per ElementInjector
- Keep the field optimization for sub 10 bindings

# Implementation

Currently the `ElementInjector` uses fields rather then hash map to look up bindings. This is because field reads are faster then hash reads. The break even number is somewhere around 17 fields, where reading Map is faster than linear search on the fields.

Currently t

[2015-05-13 02:42] adamdbradley opened #1857 "Default to `div` if no selector provided in compileHost"
I dynamically created a component using `loadNextToExistingLocation`, but forgot to add a selector to `@Component`, so the generated DOM element was `<undefined></undefined>`.

Could it either default to creating a `<div>`, or throw an error if `directiveMetadata.selector` is `undefined` or `null`?

`var element = DOM.createElement(directiveMetadata.selector);`

https://github.com/angular/angular/

[2015-05-13 03:25] anakinjay opened #1858 "Can't retrieve attributes of the top-level component"
http://plnkr.co/edit/5731Z9N6tQ391gQtfZrA?p=preview

I've been over the documentation 10 times, I've read through the source code, tutorials, the works...  and I still can't wrap my head around what I'm doing wrong.

all I want to do is:

[code]

and access myTitle from inside the constructor.

Is that possible in NG2?

[2015-05-13 03:27] matanlurey commented on #1836
Ah I think you need to tell the transformer which file is your entrypoint. See Angular's (own example)[https://github.com/angular/angular/blob/master/modules/examples/pubspec.yaml]). @kegluneq, shouldn't the transformer warn you if it's missing an entrypoint, or what is the default expected behavior?

[2015-05-13 03:29] matanlurey commented on #1846
I think the required syntax is `*for="var #item in items"`. The `#` is important.

[2015-05-13 05:03] vicb commented on #1732
When the `baseUrl` is null, the `url` is resolved in the context of the current document:
- `./path` would resolve to `path/to/doc/path`,
- `http://custom/url` would resolve to `http://custom/url`

When the `url` is null and `baseUrl` specified, it resolves to `baseUrl`

Note that is is not possible to resolve a `baseUrl` + an `url` starting with `/` and the reason is that when you have:
- `baseUr

[2015-05-13 05:10] vicb commented on #1846
I think it's either `#item` or `var item` both being synonym

[2015-05-13 05:26] vicb commented on #1832
@mhevery was this solved by your commit ?

[2015-05-13 05:39] vicb commented on #1858
In your example the `myTitle` property would only be available after the change detection has first runned, ie in the `onChange` event (you have to register to the `onchange` lifecycle hook), see [the md button](https://github.com/angular/angular/blob/af9dcad8e347a4c82874feab6f8f9c44df7da499/modules/angular2_material/src/components/button/button.js#L20) for an example.

If you need the value in th

[2015-05-13 05:56] vicb opened #1860 "[Question] Can we update Jasmine to 2.3.3, how ?"
For [fakeAsync](https://github.com/angular/angular/pull/1837), jasmine would need to be updated to 2.3.3

Could this cause conflict with other test libs ?

There is no direct jasmine dep in the package.json, how can we update ?

@juliemr ?

Background:
`fakeAsync` fakes timers and before jasmine 2.3.3, it is not possible to cancel a `setInterval` from within its callback. That's not a major issue

[2015-05-13 06:13] PascalPrecht commented on #1598
@mhevery could you add some transparency on why `ng-` is re-introduced again?

[2015-05-13 06:19] vicb opened #1861 "Perf: add a benchmark for NgZone"
/ref #1574, https://github.com/angular/angular/pull/1288#issuecomment-93494991

What we should benchmarks:
- zone.js uses `Promise.then` as the default way to enqueue microtasks (when native Promise are available). When not available, it would use other fallbacks from es6-promise (`MutationObserver`, ...). We should make sure that we pick the fastest way, see [zone.js](https://github.com/angular/z

[2015-05-13 06:35] jvandemo commented on #1598
@mhevery &mdash; great call on prefixing the directives, makes a lot of sense.

However, as @PascalPrecht noticed, is there a consensus on handling properties yet?

To prefix or not to prefix? Or pass as object?

Would be great to hear your thoughts instead of letting this thread (and valuable inputs from multiple people) die without some kind of best practice. Thanks!!

[2015-05-13 06:48] matanlurey commented on #1732
Thanks, that is a good start.

[2015-05-13 07:09] vicb opened #1862 "Patch jasmine to execute the done() function in the root zone"
The jasmine patch will exported when https://github.com/angular/zone.js/pull/105 lands and a new release of zone.js is available.

[2015-05-13 07:29] vicb commented on #1732
Submitted a PR could one of you review it ? Thanks.

[2015-05-13 07:58] #1833 closed

[2015-05-13 08:02] #1834 closed

[2015-05-13 08:24] timjacobi commented on #1598
+1
Would be nice to know what the conclusion of this is.

[2015-05-13 08:44] timjacobi opened #1865 "Allow overriding directive selector in @View"
In large scale apps that use directives from different sources name clashes are inevitable. Hence it would be great if you could *rename* directives in the `@View` annotation.
##### Proposed syntax
[code]

[2015-05-13 08:49] pkozlowski-opensource commented on #1865
Funny, I was about to propose sth similar :-) I guess by "renaming" you mean overriding a selector, right? Syntax will need work, but IMO the idea is here.

[2015-05-13 08:53] timjacobi commented on #1865
Yes overriding a selector is the more precise way of saying it.

[2015-05-13 10:31] SekibOmazic commented on #1857
Throwing an exception would be better IMHO. Generating `<undefined></undefined>` or `<div></div>` is not what user expects.

[2015-05-13 11:00] vicb opened #1866 "`gulp test.unit.js` sometimes fails to close the browser on failures"
On some failures, `gulp test.unit.js` fails to close the browser.

Then if you re-run the task, it will launch a new browser and the tests will be executed in both the client. This is how you can end-up with tests running 4 times (there is a separate issue that tests are executed twice and 2*2 = 4 !).

I'll try to add a way to reproduce on next failure.

[2015-05-13 11:14] Eslem opened #1867 "TemplateUrl no reload html"
When i make a change in the html file of the templateUrl this doesn't update, in Chrome takes some time and in mozilla doesn't update it at all.

[2015-05-13 11:14] SekibOmazic commented on #1831
@0Decoherence Sorry but I mixed typescript and atscript. My proposal helps when you use atscript/traceur. I had similar issues after updating to alpha.22, but I don't use typescript yet.

[2015-05-13 11:30] Eslem opened #1868 "Document injectables error"
In [documentation](https://angular.io/docs/js/latest/guide/displaying-data.html#Create-a-class) the injectables for the component is wrong,  is:
[code]
and has to be:
[code]

[2015-05-13 11:37] vicb commented on #1868
Thanks for the report.
What about submitting a PR to https://github.com/angular/angular.io ?

[2015-05-13 11:49] vicb commented on #1866
just happened with the dart test, similar issue: the browser does not get closed

[code]

[2015-05-13 12:41] junajan opened #1869 "Send event only to targeted directive"
It would be great to have some tool to send events only to specific directive, something like:
[code]
Usecase example: I have one service, which translates dates to more human readable format like "one second ago". In view, there is directive which is calling this service for translation but if I want to update translations in time I have to use $interval in each instance of directive or $broadcas

[2015-05-13 12:43] vicb commented on #1869
Seems like you're targeting ng 1 ?
If it is the case please use https://github.com/angular/angular.js, this repo is ng 2

[2015-05-13 12:44] junajan commented on #1869
@vicb that was fast reply .. thank you

[2015-05-13 13:37] vicb commented on #1869
could you please close this if n/a ?

[2015-05-13 13:42] junajan commented on #1869
sure.. thanks

[2015-05-13 13:42] #1869 closed

[2015-05-13 13:49] piflex commented on #1789
:+1 I encountered this too, the demo example from docs does not work

    <input #myname (keyup)>
    <p>{{myname.value}}</p>

[2015-05-13 13:51] igorpan commented on #1789
:+1:  I encountered this too, the demo example from docs does not work

    <input #myname (keyup)>
    <p>{{myname.value}}</p>

It throws exactly the same error as for @margielm

[2015-05-13 13:51] vicb commented on #1866
and the repro in JS:

[code]

does not close the browser

[2015-05-13 14:01] vicb commented on #1789
Was it alpha-22 or alpha-23 ?
Do you have the code available somewhere ?

[2015-05-13 14:08] rightisleft commented on #1836
This worked for me: 403KB - this is less terrifying. Should I open a bug on angular.io?

name: 'angular_2_quickstart'
environment:
  sdk: '>=1.10.0-dev.1.10 <2.0.0'
dependencies:
  angular2: any
  browser: '^0.10.0'
transformers:
- angular2:
    entry_points:
        - web/main.dart
    reflection_entry_points:
        - web/main.dart
- $dart2js:
    minify: true
    commandLineOptions:
    - --du

[2015-05-13 14:09] igorpan commented on #1789
It's alpha-22 as that's the one that gets installed when using:

    tsd query angular2 --action install

The code is empty really:

    import {Component, View} from 'angular2/angular2'

    @Component({
	    selector: 'todo-app'
    })
    @View({
    	template: `
    		<h1>Todo</h1>
		<input #myname (keyup)>
		<p>{{myname.value}}</p>
	`
    })
    export class TodoAppComponent {
    }

[2015-05-13 14:16] joelrich opened #1870 "[Question] How is it possible to render a list of variable components?"
Is it somehow possible to render a list of variable components? Using switch is not an option since it must be possible to import component types from other modules which are therefore unknown to the core application at compile time.

An example use case might be a notification list which supports different types of notifications. All notification types have it's own component which extend from a

[2015-05-13 14:40] cssensei commented on #1598
I think prefixing it's the best approach just to avoid confusion and leave some space for a lighter syntax instead of passing a config object.

[2015-05-13 14:43] cssensei commented on #1860
Good idea to use the latest version of jasmine for testing. We'll have to refactor some of the tests. Replace the old `runs` and `waitsFor` functions so we can make use of `done`.

[2015-05-13 14:50] vicb commented on #1860
We do already use `done` via the `AsyncTestCompleter`.

[2015-05-13 15:01] cssensei commented on #1860
That's great!

From what I see [here](https://github.com/angular/angular/blob/master/package.json#L87) the used version of jasmine should be already at least 2.2.
Normally from the [release notes of jasmine](https://github.com/jasmine/jasmine/tree/master/release_notes) there are no breaking changes until 2.3.3.

[2015-05-13 16:03] kegluneq opened #1872 "Transformer should warn users if no entry points are provided"
See https://github.com/angular/angular/issues/1836

Context: We currently need to run the angular transformer on the angular codebase with no entry points, which is why we have no warnings currently.

Potential solutions:
- Create a "private" transformer in `lib/src/` for the angular codebase that does not require an entry point
- Codegen the necessary files in the angular codebase and check them

[2015-05-13 16:04] kegluneq commented on #1836
This is a rough edge - there are situations where we need to run the angular transformer without entry points which is why there are no warnings, but there are ways to make this work.

Just opened https://github.com/angular/angular/issues/1872 to track

[2015-05-13 16:48] kegluneq opened #1874 "Do not parse function bodies in the transformer"
We do not need to parse function bodies and `package:analyzer` now supports this -- update the transformer code to avoid the extra work.

Thanks!

[2015-05-13 16:49] mlaval opened #1875 "test.unit.dart failing on Windows"
Here is what I get when running `gulp test.unit.dart`:

[code]

The transpilation from TS to Dart is failing, issue opened in ts2dart repo: https://github.com/angular/ts2dart/issues/157

[2015-05-13 17:04] juliemr commented on #1860
We're working on upgrading Protractor to 2.3.3 (from 2.1, we skipped 2.2 due to some pending jasmine issues). So yes, I'd say we should go for it.

For unit tests, we get Jasmine through karma-jasmine, I'm not sure if it'll need updates or not. https://github.com/karma-runner/karma-jasmine/blob/master/package.json#L31

[2015-05-13 17:07] jelbourn commented on #1870
There is the `DynamicComponentLoader` available which can probably do what you're thinking of. To see an example, look at `dialog.js` in the source. The API, though, will definitely be changing.

[2015-05-13 17:26] IgorMinar opened #1876 "code.angularjs.org doesn't contain build artifacts"
https://code.angularjs.org/2.0.0-alpha.23/

[code]

[2015-05-13 17:31] mhevery commented on #1802
I am re-opening this becouse it is not clear to me that we solve the `<button>` use case. Will chat with @vsavkin

[2015-05-13 17:37] margielm commented on #1789
I confirm that the error appears in alpha 22. Just wanted to try in 23 but it is not published yet.
https://code.angularjs.org/2.0.0-alpha.23/

[2015-05-13 17:50] jelbourn commented on #1857
Dupe of #1662

[2015-05-13 17:50] #1857 closed

[2015-05-13 18:01] matanlurey opened #1878 "Angular 2.0 should have a (documented) a11y story."
In Angular 1.0 Dart, it was necessary to add all kind of wild hacks to get this support, e.g.

[code]

We would like to be able to follow the [Google accessibility guidelines](https://sites.google.com/a/google.com/accessibility/design-guide/standard-keyboard-conventions). Ideally, Angular should offer examples and user guides on how to do this in a non-hacky way.

@jelbourn, who may already have a

[2015-05-13 18:04] marcysutton commented on #1802
@jelbourn's comments on https://github.com/angular/angular/issues/1598#issuecomment-97599750 are great: developers should be encouraged to use semantic elements and reuse native behavior whenever possible. This isn't limited to just `button`–there are also the `details`/`summary` elements, headings, lists, links, and so many other semantic elements I could see people reinventing *just 'cause*. Att

[2015-05-13 18:21] jelbourn commented on #1878
I don't quote follow what you mean by "wild hacks".
(I've never used Angular dart, just AngularJS)

In the AngularJS 1.X world, the framework was mostly agnostic to a11y (before ngAria)- it didn't do anything to make it easier, but it also didn't make it any harder. As far as I see it now, Angular 2 is in about the same boat. Did you have something specific in mind for what you'd want angular to d

[2015-05-13 18:30] jelbourn commented on #1802
This is a dupe of #1602

[2015-05-13 18:51] marcysutton commented on #1878
One of the biggest issues with Angular 1 was lack of discouragement for binding `ng-click` to `div` and other non-semantic elements. Although you could just as easily bind a click event to a div with native JavaScript, Angular can encourage best practices (like only ng-clicking interactive elements like buttons) and avoid the widespread accessibility issues previously encountered.

I agree that a

[2015-05-13 19:09] #1832 closed

[2015-05-13 19:11] vicb commented on #1867
Does Ctrl+F5 help here ? (cache issue)

[2015-05-13 19:16] Pacane commented on #1868
It was fixed in this [PR](https://github.com/angular/angular.io/pull/100)

[2015-05-13 19:27] vicb commented on #1868
thanks to both of you

[2015-05-13 19:27] #1868 closed

[2015-05-13 20:00] btford commented on #1850
Clarification:
[code]

you want to be able to do `router.navigate('bar')`, or `router.navigate('foo')` ? Right now, I assume `navigate` takes a URL.

[2015-05-13 20:12] rkirov commented on #1850
Right, so for now `router-link` takes component aliases and params, but `navigate` takes urls. Maybe we should make this more explicit by `navigateUrl` and `navigateComponent(componentSymbol or alias, params) .`

For now lets' keep `navigate` taking Url, so `router.navigate('foo')`

[2015-05-13 20:13] btford commented on #1850
SGTM.

[2015-05-13 20:22] vsavkin commented on #1809
Merged https://github.com/angular/angular/commit/f9c1de46b3c7889607ecfa7e36cdeb69ccbb0aec

[2015-05-13 20:22] #1809 closed

[2015-05-13 20:34] mhevery opened #1881 "confusing error while running test.unit.cjs"
If you have a test which is failing then you get this error.

[code]

[2015-05-13 20:36] vicb commented on #1881
sounds like an issue with `inject()`. Is it possible to see the test source ?

[2015-05-13 20:42] mhevery commented on #1881
@vicb the issues is that when the test fails, it than causes gulp to generate stack trace which is confusing and not relevant.

[2015-05-13 20:45] mhevery opened #1882 "Have watch gulp targets print separators"
When using the watch mode it is not clear where one run starts and another ends. Printing something like this would be useful.

[code]

[2015-05-13 20:56] mhevery opened #1883 "When files change during the brocoli tasks they are not picked up."
1. Edit and save file
2. Watch kicks in and starts transforming files.
3. While files are being transformed change another file
4. Observe that the second change is lost. (It does not cause the watcher to rerun.)

[2015-05-13 21:09] mhevery commented on #1773
@vsavkin Do you have an opinion?

I think this should not be the concern of angular but rather of some third party plugin, as there could be lots of different ways you may want to limit this, and I would rather not get into this business. Also `|` is already used for pipe syntax so it can't be reused here.

[2015-05-13 21:17] pumpk1n opened #1885 "New router example with Angular2 Quickstart"
Could someone provide a working example of the new router based on https://angular.io/docs/js/latest/quickstart.html? I'm pretty sure it would be useful for many of us!

[2015-05-13 21:34] yjbanov commented on #1876
Fixed. Something went wrong in the scripts. A second attempt fixed it.

[2015-05-13 21:34] #1876 closed

[2015-05-13 21:48] petebacondarwin commented on #1729
I have a WIP at #1886.

[2015-05-13 21:55] yjbanov commented on #1842
For this request to fit with ng2 we'd have to resurrect one-shot bindings. Do we want to do that?

[2015-05-13 22:01] vicb commented on #1842
James not sure what you mean by every sequence & onChange. The onChange would only be called when all the properties have been updated and not after each single property update of that helps.

[2015-05-13 22:21] yjbanov commented on #1842
@vicb, the issue is that `onChange` _can_ be called multiple times at all, which in ng2 is determined by the _user_ of your component, not by the component itself. This wasn't the case for `attach`. My view on this is that if the author of the component would like to receive bound values once and forbid any future updates, they could add an explicit guard in the `onChange` method. This workaround/

[2015-05-13 23:08] IgorMinar commented on #1860
we'll also need to update the [traceur-jasmine](https://github.com/angular/angular/blob/master/tools/traceur-jasmine/index.js) runtime we use for our cjs tests.

[2015-05-13 23:10] yjbanov commented on #1691
fixed by #1779

[2015-05-13 23:10] #1691 closed

[2015-05-13 23:16] IgorMinar commented on #1832
yeah. that commit looks right.

[2015-05-13 23:21] #1759 closed

[2015-05-13 23:22] vsavkin commented on #1773
Since there are few events that need to be handled this way (those are not really events, but rather continuous behaviors), I would prefer not to bake this mechanism into the framework unless we have to. Imo it should be done on a lower-level.

[2015-05-13 23:23] #1714 closed

[2015-05-13 23:53] matanlurey opened #1888 "DI/Dart: "toFactory"'s dependencies argument should be optional"
Now:

[code]

Proposed:

[code]

@kegluneq for analyzer reference.

[2015-05-13 23:56] IgorMinar commented on #1883
this should already be fixed in master via 23cec1e8e247f8d7f36cad2306fe0b36eae4fc8d. reopen if that's not the case.

[2015-05-13 23:56] #1883 closed

[2015-05-14 00:05] IgorMinar opened #1889 "Watch tasks don't work and log (CarbonCore.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-21)"
@jeffbcross came across an issue with Sublime and our build setup. The symptom was that a message:

[code]

Appeared in the terminal while watch on the `modules` folder was being setup. This was while we were using `gulp-watch`, which got since replaced by `chokidar`. But since the problem originates from `chokidar` I suspect that it's still present event today.

After this log appeared in termina

[2015-05-14 00:33] #1712 closed

[2015-05-14 00:33] #1713 closed

[2015-05-14 01:21] #1720 closed

[2015-05-14 01:59] Pacane commented on #1885
+1

[2015-05-14 03:55] matanlurey commented on #1878
"Crazy hacks" = anti-patterns (injecting element and doing changes yourself)

[2015-05-14 05:00] IgorMinar commented on #1881
this is an unwanted side-effect of @mhevery's 4f2b9a4c283225e4a1e85eea3e95bc4cbc1349b5

I have a fix in progress...

[2015-05-14 05:04] caitp commented on #1881
Igor, the simplest fix is to just bind the done callback with a null first argument, or else wrap calling done in a closure. (Right now, the done callback is just used as the close event handler, and gulp eats the non-0 exit code)

[2015-05-14 05:05] caitp commented on #1881
I do this in my follow-up PR sing tests for the chokidar thing, so there is a fix available already

[2015-05-14 05:12] caitp commented on #1881
I guess there are a few cases in the gulpfile where calling the done function is already wrapped in a closure, and the exit code is explicitly passed... so all that's needed is to not pass it =)

[2015-05-14 05:28] IgorMinar commented on #1881
@caitp I just came across your bind(null, null) approach. it breaks the ci. my proposed fix is in #1892

[2015-05-14 05:29] IgorMinar commented on #1882
@caitp could you take care of this one please?

[2015-05-14 05:30] caitp commented on #1881
yes, I just tried your Error fix locally and it works well enough (I think the stack trace is kind of pointless in this case, but what can you do).

[2015-05-14 05:41] #1881 closed

[2015-05-14 05:42] matanlurey commented on #1773
Jeremy, couldn't you create a function at runtime in ES6, e.g.?

[code]

[2015-05-14 05:49] baio commented on #1885
+1

[2015-05-14 06:06] IgorMinar commented on #1881
I don't have a way to stop gulp from printing the stack trace, while having
it exit with non-zero error code and also executing cleanup. So while the
extra stack trace is not great, it's a  trade off.

On Wed, May 13, 2015 at 10:30 PM ⭐caitp⭐ <notifications@github.com> wrote:

[2015-05-14 06:23] Eslem commented on #1867
No for mozilla

[2015-05-14 09:26] 0Decoherence commented on #1829
How is this a bug? its only because the type script typings are not complete. in 'angular2/angular2' only  bootstrap,Component,View,For,If,NonBindable,Switch , there is no EventEmitter but you can add it yourself for now until the full typescript typings are released.

[2015-05-14 12:22] anwarhusain opened #1894 "Angular2 - DI -> toAsyncFactory example seems to be incorrect (probably a typo)"
Hello team,

In line 6 of the toAsyncFactory example in https://angular.io/docs/js/latest/api/di/Binding-class.html, (as I understand it) the dependency type name should be "Number" and not "String" , or did I get it wrong?

Thanks
Anwar

[2015-05-14 12:29] vicb commented on #1894
you're right, just submitted a PR. Thanks for the report.

[2015-05-14 13:48] realph opened #1897 "$scope.msg Appearing in Console, Not on DOM"
I've ran into a bit of a problem, wherein I've created a `$scope.msg` and it's printing to my console just fine, but it won't render itself on the DOM. I'm using Browserify to require angular and bundle my js.

**index.html**

    <body ng-app="zeroApp" ng-controller="MainCtrl">
      <div class="container">
        <div class="item">
          <h1>{{ msg }}</h1>
        </div>
      </div>
    <s

[2015-05-14 13:53] vicb commented on #1897
This repo is for ng2, please re-open on https://github.com/angular/angular.js

[2015-05-14 13:53] #1897 closed

[2015-05-14 13:54] jelbourn commented on #1773
The method has to be on the prototype, otherwise you're creating a copy of it for every component instance.

[2015-05-14 14:27] gdi2290 commented on #1773
this is why decorators are awesome
[code]

[2015-05-14 15:31] Pacane commented on #1885
Someone gave me this link https://github.com/rkirov/angular2-dart-router-demo for Dart. It seems to be using code around beta23-24

[2015-05-14 15:43] tbosch commented on #1773
The only problem are zones. We don't want to trigger dirty checking when
the denouncing decides to ignore the event.

doing denouncing inside of an event handler in a directive or component
will always trigger change detection, as our event handlers run inside the
Angular zone.

So I think we need to think about this a little more...

On Thu, May 14, 2015 at 7:27 AM PatrickJS <notifications@github

[2015-05-14 15:50] vicb commented on #1789
fixed in .23

[2015-05-14 15:50] #1789 closed

[2015-05-14 15:58] IgorMinar opened #1901 "build error: "SyntaxError: Unexpected token �""
If one of our build plugins throw an error, the error gets mangled by `source-map-support` installed by `ts2dart`.

[code]

I'm not sure if this is an issue with `source-map-support`, `ts2dart` or something else, but it's quite concerning that `ts2dart` can cause this issue in our build process.

[2015-05-14 15:59] IgorMinar commented on #1901
@mprobst do you have any insight into this? or did alex setup the source-map-support?

[2015-05-14 16:10] IgorMinar opened #1902 "Build errors are logged multiple times"
Currently we don't have a consistent way of handling error in our build, which results in confusing or duplicate errors being logged to console.

- some broccoli plugin logs stuff to console (e.g. broccoli-typescript plugin prints type errors) and throws at the end to indicate that a build failed
- `AngularBuilder` captures any broccoli plugin errors, prints them and rethrows them
- gulp tasks als

[2015-05-14 16:23] tbosch opened #1903 "benchpress: bundle for G3"
E.g. bundle via `browserify` and then add explicit exports:

[code]

Open questions:

- what `WebDriverAdapter` to use? Does `SeleniumWebDriverAdapter` work? @juliemr
- the output is about 500k, as we include a lot of things. Is that a problem for G3?

[2015-05-14 16:43] tbosch commented on #1807
Note: Don't implement a `ViewRenderer` for now, as it seems like `ElementRenderer` are flexible enough...

[2015-05-14 16:57] jelbourn commented on #1878
Is manually doing stuff with the element considered an anti-pattern in angular dart? I thinking is that Angular makes a lot of stuff easier for the application engineer, but there are always going to be times when you need to do something more complex that requires you to get into the underlying platform.

I think Angular 2 will make some things easier, such as being able to set up listeners for _

[2015-05-14 17:05] jelbourn commented on #1773
@tbosch that's a very good point

@vsavkin this kind of rate limiting is *very* common. Looking at the current material design components, some uses:
- Text entry into the autocomplete
- Text entry into md-input (for auto-resizing a `textarea` element)
- Window resize events for several components (such as drawing ticks for a slider)
- Scrolling events for things (headers, etc) that are "stickied"

[2015-05-14 17:16] vicb commented on #1773
If the implementation has not changed the event handler actually runs in the outer zone.

In the outer zone, we test if the event target is our actual element. Only when they match, we execute code in the angular zone which triggers the CD.

May be we can generalize the target = actual test some more generic predicate support that would also work w/ debounce ?

[2015-05-14 17:21] vicb opened #1904 "Zones & server environment"
If we want to run angular server side, we need to have zones available there.

As of today, zones are not supported in the CJS env.

## Proposal

### Short term:

Port the PR from @mlval (https://github.com/angular/zone.js/pull/78) to zone 0.5.

Then it would be possible to start running server side but a lot of things would not be intercepted. That is not a valid solution for mid-term.

However i

[2015-05-14 17:23] juliemr commented on #1903
Depends on whether we want it to be consumed by JS or Dart users - from the rest of the issue, I think you're thinking for JS, in which case `SeleniumWebDriverAdapter` should be fine.

[2015-05-14 17:42] caitp commented on #721
as mentioned, think this is safe to close for now --- google/traceur-compiler#1650 seems like it might fix the remaining issues eventually, but since moving away from traceur it probably doesn't matter

[2015-05-14 17:42] #721 closed

[2015-05-14 17:47] vicb commented on #1846
@vsavkin do you have time to take a look at this issue ?

What seems to happens here is that we try to evaluate `item.name` before the `item` is set.

It works with the following update:
[code]

[2015-05-14 18:13] yjbanov commented on #1888
This requires that we reflect on the `createFoo` function and extract dependencies the same way we extract them from constructors. Should be doable, but only for const bindings that appear in the annotations. Imperative bindings still require that dependencies are listed explicitly.

[2015-05-14 18:53] jelbourn opened #1908 "Confusing error message when `directives` contains non-directive"
If I have:
[code]
The resulting error is `Cannot read property 'annotations' of undefined`, which is rather opaque.

It would be better if the compiler checks that the thing given is 1) defined / not null, and 2) is actually a `Directive` or `Component`.

[2015-05-14 19:38] matanlurey commented on #1878
Manually editing the element makes code  *mostly* non-portable in Angular 2. This is the prime issue.

[2015-05-14 19:41] gdi2290 commented on #1768
I didn't run into this problem after updating to 23+

[2015-05-14 19:41] #1768 closed

[2015-05-14 19:48] matanlurey opened #1911 "API: ComponentRef should support generics for 'instance'."
e.g.

[code]

[2015-05-14 20:36] jelbourn commented on #1878
AFAIK, the "portability" for Angular 2 is meant for the framework itself. I don't think the goal is to be able to build components that can run on any arbitrary platform.

[2015-05-14 23:25] matthewjh opened #1912 "[Question] How to test directives that have templateUrls"
Hi.

I'm currently stuck on trying to unit test a view of a directive that has a templateUrl.

[code]

[code]

The request for the template goes through to `MockXHR#get`, but unfortunately using `xhr.when` and `xhr.flush` doesn't seem to work because `MockXHR#get` is called asynchronously after the call to `tb.createView`.

Does anyone have any ideas?

[2015-05-15 01:35] robwormald commented on #1652
Couple of notes from poking around at this the past few days, I got a single-file bundle output working via jspm and the builder tool, but its a bit hacky at the moment:

### workaround
You can add an overrride to your app's package.json as follows:
[code]
Then if you do jspm install npm:angular2, that'll get you 90% of the way there. I had to add an additional mapping in my config.js, because of

[2015-05-15 02:02] mjw56 opened #1913 "UI not updating when retrieving data via fetch"
I'm trying to use fetch to retrieve data, but the UI is not updating when I bind the data retrieved. Is there a way I can do this, or should I only be using the XHR module?

https://gist.github.com/mjw56/1c44e0aba514f1952235

[2015-05-15 02:21] jelbourn commented on #1912
This is an open issue: #1610

[2015-05-15 04:23] IgorMinar opened #1914 "change detection error when root of an expression is undefined or null"
template:
[code]

component:
[code]

results in:

[code]

[2015-05-15 04:44] mhevery opened #1915 "TypeScript error breaks file watching"
run `gulp unit.test.cjs` then error occurs as show below, then any changes are no longer being watched.

[code]

[2015-05-15 04:45] matanlurey commented on #1610
I implemented this internally by creating a Map<String, String> (templateUrl: HTML) via a build process, and using that with the test bed and a custom `TemplateLoader`. Angular may consider providing this out of the box.

[2015-05-15 05:49] vicb commented on #1913
see https://github.com/angular/zone.js/issues/108

Could you give more info info on where `fetch()` is called ? inside a component ? in the bootstrap `.then()` ?

[2015-05-15 06:16] vicb commented on #1914
Isn't this expected in such a case ?

If the expression is evaluated before `users` is set that's the expected behavior.

#1846 has the same symptoms but it seems to be a legit issue in that case.

[2015-05-15 06:43] anakinjay commented on #1858
Thanks but I still dont think it's working like it should.  I have pretty much the most basic scenario, as you described, and still just does not work.  No errors, but the attribute is null.

index.html
[code]

app.ts
[code]

[2015-05-15 07:05] anakinjay opened #1916 "[ Documentation Question / Suggestion ] Advanced Environment Setup."
After a week of trying, I'm still unable to get anything more than the basic 5 min. quick start functioning. I'm about ready to give up on NG2.

It seems like there's a lot of manual configuration required that isn't actually documented anywhere.  Like manually configuring the typings file, or importing directives from modules other than angular2/angular2.

As a user ready to give your framework a

[2015-05-15 07:13] vicb commented on #1916
Sorry to learn that.

Angular2 is still in its early stage (developer preview) and there are still too many rough edges.

Be sure that we make our best for users to have the best possible experience but angular2 is moving very fast and sometimes we might break some things or need some time for the doc to catch up!

It would really help us help you if you can submit detailed issues / PRs for any is

[2015-05-15 07:22] vicb commented on #1913
@mjw56 Could you please also try:

[code]

and reports if helps ?

[2015-05-15 07:32] anakinjay commented on #1916
I'd like to help out as much as possible. I'm not sure what I have to offer in terms of details or PRs since I can get a working angular 2 environment running.

If I do figure it out, I'll definitely submit my notes. :)

I love the direction you guys are headed in.

[2015-05-15 08:19] vicb commented on #1916
You can open a GH issue with what's not working. It could help us improve the docs or the code.

Thanks !

[2015-05-15 09:38] vicb commented on #1916
@anakinjay also I forgot to mention the gitter channel: https://gitter.im/angular/angular
There are a bunch of early adopters ready to help there.

[2015-05-15 11:33] mjw56 commented on #1913
@vicb I'm calling fetch from a Util API which I inject into ```Injectables```. The full component code is here: https://gist.github.com/mjw56/1c44e0aba514f1952235

[code]

and the ```API``` looks just like this with trying to use Zones (I'm not sure that this is right):

[code]
I had to add Zones to ```angular.d.ts``` to get this working with TypeScript:

[code]

but when I run it I get a new erro

[2015-05-15 11:39] vicb commented on #1913
Sorry I've seen the gist afterwards.

`bindPromiseFn` is a property of **`Zone`** which is defined globally (not of `NgZone`)

[2015-05-15 11:53] mjw56 commented on #1913
Ah, my bad. I can definitely play around with this more later.

Does something like this look like the right approach?

[code]

[2015-05-15 12:33] vicb commented on #1858
You're right, it does not work on the top level component, re-opening

http://plnkr.co/edit/tLAv5uFH49t4o54HlQ0U?p=preview

[2015-05-15 12:38] vicb commented on #1913
Hum, my bad.

Could you please try:

[code]

[2015-05-15 12:50] vicb commented on #1913
Actually:

[code]

Should be the last version :)

[2015-05-15 13:18] rightisleft opened #1918 "Pub build Fails on Angular2 Transformers in Vanilla Project"
pubspec.yaml
[code]

Output:

[code]

Full Output:
http://pastebin.com/Q2KrdcmC

[2015-05-15 13:19] matthewjh commented on #1610
It would be nice if there was a solution to this that didn't involve a build step, e.g.

[code]

Then I could add `templates/**/*.html` to my karma.conf so that these files are served.

[2015-05-15 13:43] Bogatinov commented on #1867
I concur with @Eslem, this happens a lot.
The easiest fix is to Disable Caching in your Dev Tools while they are open.

@vicb CTRL+F5 though it should remove cache, it does not, so the HTML is not updated.

[2015-05-15 13:48] Bogatinov commented on #1831
@0Decoherence [TS definition file](https://github.com/borisyankov/DefinitelyTyped/tree/master/angular2) is not yet complete, so it does not support @Parent and @Ancestor annotations. You can make a PR since I have been trying to complete the annotations for @Inject and @Injectable without much luck.

[2015-05-15 14:23] mjw56 commented on #1913
That works! w00t! Thank you @vicb! :)

[2015-05-15 14:23] #1913 closed

[2015-05-15 14:26] vicb commented on #1913
What is your browser ?
(There seems to be no need to patch on Chrome 44)

[2015-05-15 14:27] mjw56 commented on #1913
Oh yes, I am only testing this on Chrome Version 44.0.2398.0 dev (64-bit)

[2015-05-15 15:03] vicb commented on #1913
Thanks !

[2015-05-15 15:03] pkozlowski-opensource commented on #1867
Right, but since those HTML fragments are cached in browser, I'm not sure Angular is part of the solution here.... Closing for now, but happy to re-open if people believe that there is something on the framework level to make things easier...

[2015-05-15 15:03] #1867 closed

[2015-05-15 16:41] IgorMinar opened #1919 "tmp directory is not being cleaned up when an exception is thrown within a pipeline"
repro steps:

- `rm -rf tmp/`
- make a syntax error in a processed file (e.g. a `.ts` file)
- build (e.g. `gulp build.js.dev`)
- `ls -l tmp/`

[2015-05-15 16:53] tbosch opened #1920 "ViewManager: split `inPlace` host views into root and free host views."
Previously, there was only one method called `createInPlaceHostView`,
which would always hijack the given element as the host element. It was used
for bootstrapping a root component as well as in components that directly modify the DOM
and want to place a new Angular component into this custom DOM.

However, this had the following problems:

1. Hijacking an existing element does not allow to move

[2015-05-15 17:20] tbosch commented on #1594
For serverside rendering, it would be nice to separate compiling from instantiating in the API as well, as we would compile only once but instantiate on every request.

[2015-05-15 17:26] yjbanov opened #1922 "`gulp test.unit.dart` is not retesting on file changes"
I currently have to kill and restart karma every time I need to rerun the tests.

[2015-05-15 17:33] caitp commented on #1922
I've just checked out master, npm installed, and ran `gulp test.unit.dart` --- after the run, opened `modules/angular2/src/transform/directive_metadata_extractor/transformer.dart`, saved the file, and dart was rebuilt and tests run again.

Is there any additional info that we're missing?

[2015-05-15 17:46] #1908 closed

[2015-05-15 17:56] yjbanov commented on #1922
Nope, it simply doesn't work for me. I tried saving a test `*_spec.dart ` file, a `_spec.js` file, a `*.ts` file in `modules`. Nothing triggers Karma to rebuild. I'm going to rebase (and re-npm everything) and try again, but I'm on 666336b, which is quite fresh.

[2015-05-15 18:00] vicb commented on #1922
works for me on master (Ubuntu)

[2015-05-15 18:05] yjbanov commented on #1709
@jbdeboer we will fix stacks for `Error` descendants, but not for arbitrary thrown objects (yet), such as strings. In Dart, to capture stack from a non-`Error` you have to use special syntax `catch(e, s)`, which is not supported by TypeScript and not shimmed in ts2dart (there's a separate [discussion](https://github.com/angular/ts2dart/issues/152) and a [proposal](https://github.com/angular/ts2dar

[2015-05-15 18:07] tbosch commented on #1914
This would be solved by the elvis operator, see https://github.com/angular/angular/issues/791

[2015-05-15 18:57] mhevery opened #1925 "Introduce public/private element injector (rename Injectables to Injector)"
# Goal
- Have a way for directives to configure types in the DOM injection hierarchy without needing to create directives for those types.
- Have the types be visible either in private view (encapsulation) or in light dom. i.e. private/public
- Align the naming terminology of the injectors.
- Make injection explicit (from which injector the types are being fetched from, we don't cross between inje

[2015-05-15 19:31] matanlurey commented on #1920
Could you help clarify if this removes the necessity to query select when inserting dynamically?

[2015-05-15 19:33] matanlurey commented on #1925
+1 to approach.

[2015-05-15 19:43] naomiblack commented on #1925
+1 to this from me too. But please do not land this until https://github.com/angular/angular/pull/1886 is closed, since we can't generate API docs to reflect the rename until it is in.

[2015-05-15 20:00] jbdeboer commented on #1709
If my repo case (above) is fixed, I am happy for now.

For reference, in our codebase, ~40% of our ```throw``` statements throw an ```Error```. The rest are throwing strings or other ```Exception```s. I would say that both ```Error```s and non-Errors are important.

[2015-05-15 20:04] jelbourn commented on #1925
What is the use-case is for `@Self`

[2015-05-15 20:24] #1920 closed

[2015-05-15 20:41] mhevery opened #1926 "gulp test.unit.js shows output twice"
[code]

[2015-05-15 20:43] tbosch commented on #1920
Yes, it does. So the idea is that calling `DynamicComponentLoader.loadIntoNewLocation` also creates the host element of the component, but does not attach it. Then a user can manually attach it to the DOM. To get the host element out of the created `ComponentRef` the method `DomRenderer.getHostElement(componentRef.hostView)` can be used.

[2015-05-15 20:47] mhevery opened #1927 "Ts2Dart does not understand casts"
[code]

should transpile too

[code]

[2015-05-15 20:57] yjbanov commented on #1925
"Unbounded" sounds too much like "unbound". A new user might mistake it for "not having a binding". I propose:

s/Ancestor/LocalAncestor/
s/Unbounded/Ancestor/

[2015-05-15 21:17] yjbanov commented on #1709
@jbdeboer

Your repro case is throwing a string, which is why I brought it up. We won't fix it by #1924, but we will fix the same repro in the `Error` case.

As for 40%. You don't need a `throw` statement to get a `NoSuchMethodError`, all you need is `foo` to be `null` in `foo.bar`, same goes for things like `RangeError` as it is thrown by the standard library, not your code. So the 40% of `throw`

[2015-05-15 21:21] kegluneq opened #1929 "Do not create .ng_deps.dart files when unnecessary"
TL;DR: Do not generate `.ng_deps.dart` files for `.dart` files that do not declare any `@Injectable` classes and only import `dart:` libraries.

Currently we generate a `.ng_deps.dart` file for every `.dart` file in the project, but some of these are unnecessary.

#### Changes to `DirectiveProcessor`
In `DirectiveProcessor`, we can avoid creating the `.ng_deps.dart` file iff:

1. The `.dart` file

[2015-05-15 21:23] kegluneq opened #1930 "Consume .ng_meta.json files"
`DirectiveMetadataExtractor` creates `.ng_meta.json` files which are consumed by `TemplateCompiler` but are not otherwise necessary - they are implementation details.

Create a phase that removes these files via `Transform#consumePrimary`

[2015-05-15 21:37] jelbourn opened #1931 "Add API for marking manually a Directive as a "template directive""
Currently, for a directive to be able to inject its own ProtoViewRef, if has to be used like this:
[code]

This works, but doesn't provide for the nicest API when you want to build a component wants to get a hold of the ProtoViews to do something special. I ran into this when trying to build a Tabs component.

The API for the tabs should look like this:
[code]

As far as the user is concerned, thi

[2015-05-15 22:45] anil789 opened #1934 "Component's controller / service cannot be specialized (extended) without creating a new selector (element tag)"
Say there is DataGridComponent Component with its View-Annotation, Component-Annotation and Controller function. It has to be extended as SrollableDataGridComponent. It can only be done by defining a new set of annotations and a new controller function (which can extend the original function). This would be a serious limitation especially when in Angular 2.0 Component means View + Controller. Same

[2015-05-15 22:46] mhevery opened #1935 "Support ViewQuery in addition to Query, clean up work"
# Goals
- [x] `@Query(Type, {descendants: true})` currently queries light DOM
- [ ] `@ViewQuery(Type, {descendants: true})` should query view DOM
- [x] `QueryList<Type>` should be parametrizable.
- [x] `QueryList.length` length should be defined on `QueryList` as it is convenient to bind to.
- [x] `QueryList.first|last` should have `first` and `last` convenience methods on `QueryList`

[2015-05-15 23:22] tbosch commented on #1931
I think it is important for a user to know whether something is a template or not. So hiding this behind a flag on the directive seems wrong to me. However, there might be different opinions here...

[2015-05-15 23:34] jrote1 opened #1937 "Replacement for bindings"
I was looking into using this and am wondering what the replacements are for:
   - @NgOneWay()
   - @NgOneWayOneTime()
   - @NgTwoWay()

[2015-05-16 01:09] ibhi opened #1938 "Typo in "Displaying Data" docs page"
There is a typo in the angular.io docs page under 'Displaying Data' section on the Typescript version of example code. Refer attached image.
![untitled image](https://cloud.githubusercontent.com/assets/7778638/7664070/0f8f21b8-fb96-11e4-8020-fb5adf1ede49.png)

[2015-05-16 01:17] ibhi commented on #1938
Sorry posted in wrong repo

[2015-05-16 01:17] #1938 closed

[2015-05-16 02:18] matanlurey opened #1939 "Creating a template directive using DynamicComponentLoader?"
A template directive (e.g. `*`) lets you attach a `ViewRef` from another location.

What if I want to add a template directive dynamically at runtime?

@jelbourn in case he knows :smile:

[2015-05-16 03:34] tbosch commented on #1939
Let's talk in person, there might be a little confusion between
ProtoViewRef, ViewRef and ViewContainerRef...
On Fri, May 15, 2015 at 7:18 PM Matan Lurey <notifications@github.com>
wrote:

[2015-05-16 04:08] anakinjay commented on #1916
thank you so much!   I'll start posting more specific ideas :)  really appreciate the help!

[2015-05-16 04:08] #1916 closed

[2015-05-16 11:57] gonzofish opened #1942 "Step by Step Guide: Displaying Data: Continuity Issue"
In the step-by-step guide, there is a distinct effort made to show the separation of data out of the controller and into a service (in the section "Create a class for the array property and inject into component"), but then in the very next section ("Conditionally displaying data with If") the usage of a service is missing.

[2015-05-16 16:48] memolog commented on #1776
Although I don't think it's good way to fix this issue, as a quick workround, I overwrote the es5build.js as follows:

[code]
https://gist.github.com/memolog/99e93f473060a77618e8

[2015-05-16 18:03] zoechi commented on #1817
Why does `part of` smell bad?
`part of` is used in this tutorial even though it doesn't work https://angular.io/docs/dart/latest/guide/displaying-data.html

[2015-05-17 00:17] bwiklund commented on #1655
I'm getting this error on 22

[2015-05-17 01:36] ericwj commented on #35
Even if you will test other browsers later, it'd be nice to get some issues out of the way perhaps - simple things such as vendor prefixes?

For example would you like me to patch elementMatches in browser_adapter.ts? It calls Element.matches(string) which is still prefixed as msMatchesSelector in IE and Edge and that breaks my template that uses <content select="[ding]"/> in those browsers and ev

[2015-05-17 04:29] bukharin opened #1943 "Proposal: lifecycle over convention"
If a component has a onDestroy|onChange... method, angular automatically bind a same lifecycle, without explicit declaration?

[code]

[2015-05-17 04:39] SamVerschueren commented on #1655
Can you copy paste what you have @bwiklund?

[2015-05-17 04:43] bwiklund commented on #1655
I've only started with typescript for the angular2 preview, so I fully expect that I'm doing something foolish. I had the annotations out of order before, but now I have a new error, `TypeError: Cannot read property 'toString' of undefined`

[code]

[2015-05-17 05:36] gdi2290 commented on #1943
No, Angular checks first if there is a lifecycle annotation before invoking. Or at least that's what I read in the code awhile back

[2015-05-17 05:47] bukharin commented on #1943
@gdi2290 yes, but it's a proposal to check method existence instead of annotation

[2015-05-17 06:43] gdi2290 commented on #1943
@bukharin oops my bad, I was on mobile and didn't read the title. It seems like there needs to be a strict mode to maintain better static analysis of their code. The annotations are verbose on purpose as a feature but that also seems to be hurting the developer experience (at least for small/toy apps which is what everyone is building right now)

[2015-05-17 06:53] matanlurey commented on #1931
Is there ever a case where you'd want a Directive to both work in template and non-template mode, or is that even possible? If not, I tend to agree with Jeremy.

[2015-05-17 12:00] jomeier opened #1944 "Alpha 23: _zipTypesAndAnnotaions throws exception -> no DI possible !"
Hi,

I get exceptions in the dependency injection code of Angular alpha 23.

In angular2/src/reflection/reflection_capabilities.ts I always get an error message if I use dependency injection with typscript 1.5beta. In a debugging session I found this code snippet:

[code]

In my case paramTypes is undefined but paramAnnotations contains an array and cause of the || _zipTypesAndAnnotaions (a typo?

[2015-05-17 15:16] mprobst commented on #1901
@IgorMinar I sent [a pull request](https://github.com/evanw/node-source-map-support/pull/48) for `node-source-map-support` to fix the issue. [My fork of the repo](http://github.com/mprobst/node-source-map-support) has the correct fix, but I hope the pull request closing the issue should go in soon. Let's wait a couple of days and see if it's accepted, otherwise switch to the fork.

[2015-05-17 16:07] jomeier commented on #1944
This is the function with a few of my modifications. Mostly I check if paramTypes is undefined. If so, paramAnnotations will be used for the length of the result array.
If paramTypes is undefined, the result array will be filled with the values from paramAnnotations:

[code]

Could someone acknowledge that this is the solution to a bug, please?

[2015-05-17 16:51] ibhi opened #1945 "[Question] Where can I find forms type definition file?"
I want to import FormBuilder, ControlGroup, FormDriectives etc from forms module. However I cannot find the forms.d.ts file anywhere even after googling for hours. Can any one help me please?

[2015-05-17 17:00] rgrasso opened #1946 "Documentation - Step By Step Guide: Making Components (minor issue)"
For clarity a comment that the ChildComponent code should precede the ParentComponent code in the .ts file would be helpful.

[2015-05-17 17:13] pumpk1n opened #1947 "Router error: Cannot instantiate Token(ComponentRef) synchronously."
I've built Angular2 and the router from src and I get an error `Cannot instantiate Token(ComponentRef) synchronously. It is provided as a promise! (RouterOutlet -> Router -> Token(ComponentRef))`

The code I use:

[code]

[2015-05-17 17:49] gdi2290 commented on #1947
@pumpk1n it's working fine with my starter kit https://github.com/angular-class/angular2-webpack-starter Are you using Angular2 alpha.23?

[2015-05-17 18:08] pumpk1n commented on #1947
Nope, I cloned this repo and built it from src. Alpha.23 is kinda buggy (back doesn't work, can't open links directly, etc), that's why I tried to build.

[2015-05-17 18:11] gdi2290 commented on #1947
@pumpk1n can you provide a repo

[2015-05-17 18:37] pumpk1n commented on #1947
Here it is: https://github.com/pumpk1n/angular2-router-test

[2015-05-17 19:09] rightisleft opened #1948 "Dart Router Requiring Reflection"
I've been running the Dart Angular2 Alpha. I'm using the angular2 transformer to ensure i can output compact code.

I went to integrate the new router. Upon providing routerInjectables as an argument to bootstrap() i start getting the following errors:

[code]

[code]

If i turn mirrors on in my pubspec.yaml file, i can run the application. (with corresponding mirros bloat of index.dart.js )

[cod

[2015-05-17 19:16] matthewjh opened #1949 "AST.toString() === 'AST'?"
Is there any particular reason why subclasses of `AST` do not override the 'abstract' `AST` implementation of `toString`?

For this reason, change detection errors that use `ProtoRecord#expressionAsString`, which is derived from `bindingRecord.ast.toString()` throw unhelpful, garbage errors like this:

`Expression 'AST' has changed after it was checked. Previous value: ''. Current value: ''`

[2015-05-17 20:05] matthewjh commented on #1949
Actually, it'd probably be better to simply get the expression string from the upstream `ASTWithSource`, and pass it in to the `BindingRecord` constructor, rather than derive it (wastefully) from the AST.

Thoughts? Any reason why this wouldn't work / is a bad idea?

[2015-05-17 22:00] rightisleft commented on #1885
+1

[2015-05-17 22:15] rightisleft opened #1950 "Null response from RouteRegistry when using Dart Router and RouterLinker"
Here's my main.dart file:
[code]

In router_link.dart i see newHref coming back as null

[code]

This results in an error and kills the navigation request.
[code]

[2015-05-17 22:25] rightisleft commented on #1950
Link to example code:
https://github.com/rightisleft/angular2-dart-router-demo

[2015-05-17 22:59] kourosh2451 opened #1951 "IE bug or Ng-grid bug"
This works in chrome but not IE ( not even in IE11)

in the cell-template  when you set style="{{ anything }}"  it does not work in IE.
when you inspect the element you get blank  style=""

in chrome you get exactly what you want.

what is really funny is that if I change the attributes names from style to xstyle
ie does not delete it.
When I inspect the element I get xstyle="width: whatever"

it

[2015-05-17 23:44] anil789 opened #1952 "How to implement efficient infinite scroll using Angular?"
We have been designing a system based on Angular 2.0 and going thru various use-cases. One  common use-case is infinite scroll of a large collection. At a high level we understand how it could be done in Angular 2.0. But things get complicated when we bring data driven rendering into picture (data to view mapping complicated enough to justify the use of imperative logic ).

It makes us nervous whe

[2015-05-18 00:17] pkozlowski-opensource commented on #1951
@kourosh2451 this is repository for Angular2, AngularJS repo is at https://github.com/angular/angular.js

But this type of general support questions should be asked using a dedicated support channel, and not opened as issues on GitHub, see: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question

[2015-05-18 00:17] #1951 closed

[2015-05-18 03:14] mfrancis107 opened #1953 "Proposal: Use Polymer project for Material Design."
Would it be more beneficial to just use the Material Design web components from the polymer project instead of rewriting Angular Material? If additional functionality is needed we could easily wrap the polymer components in angular components.

[2015-05-18 03:41] gdi2290 commented on #1952
you're looking for this https://github.com/angular/angular/issues/1693

[2015-05-18 04:25] zoechi commented on #1948
The links are broken.

[2015-05-18 06:08] C4Grey opened #1954 "The templateUrl property of @View don't work in nw.js(nor in Electron)"
A component with template specified via built-in string(using "template" property) works fine, but when I've tried to use "templateUrl", got an error: Failed to load the template "TestComponent". Template is defined in such way: `@View({templateUrl: 'templates/test.html'})`, also tried `@View({templateUrl: './templates/test.html'})` with a same result.
But when I've created a local http server and

[2015-05-18 09:00] jonrimmer commented on #1953
Personally, I find the Angular 1 Material Design library to be a great source of inspiration and instruction on how to write high-quality components. Having something similar for Angular 2 would be very helpful. Plus being able to use them without taking a dependency on Polymer is a plus.

[2015-05-18 09:09] avstudios commented on #1954
I'm using Angular Dart but version 1. And I had similar problem with the nw.js/Electron. I found solution here:
http://stackoverflow.com/questions/28704577/angular-dart-relative-url-resolution-requires-a-valid-base-uri
Please let me know if that will work for you. I would like to switch to Angular 2 but not sure if it will be ready for production in 2 months.

[2015-05-18 12:38] rightisleft commented on #1948
Apologies, they where marked as private - the should now be public

[2015-05-18 14:32] jakemac53 commented on #1817
People tend use parts to create a single library for their entire package. This means they are essentially creating a single scope for their whole package and are more likely to have naming conflicts. Also since privacy is at the library level in dart then all your private variables can be accessed from other `parts` (sometimes this is useful).

Little things are also annoying like having to find

[2015-05-18 15:41] zoechi commented on #1817
Sure, I try to avoid parts as well, but Dart is very limited in expressing what should be accessible from where. And there are times where you don't want to have everything in on file. Parts are not perfect, but I still don't see why they would smell.
I don't think it's a good idea for tools to limit Dart limited capabilities even further.

[2015-05-18 15:54] kpko commented on #1953
Hi,

I thought about the exact same thing a few days ago. Angular 2 does work with web components, right? Doesn't polymer provide web components? And isn't the material design library of polymer just a collection of web components? I'm not a polymer expert, but this came into my mind, too.

Does Angular 2 work out of the box with polymer web components?

[2015-05-18 16:01] jakemac53 commented on #1817
Yes, I agree that regardless of how you feel about them they shouldn't be banned by angular, which is why I opened this bug :).

[2015-05-18 16:11] vicb commented on #1953
I think one of the problem is that Polymer uses web components...

When web components are not natively available  (most browsers) Polymer do use a shim which slow things down too much (as of polymer 0.5, not sure about 0.8+).

Angular2 should be faster when web components are not available (it does not use the JS shim).

I think we have some remaining opened issues on ng2 and on zone.js but it sh

[2015-05-18 16:43] caitp commented on #1814
@IgorMinar personally I'm finding changes to this to make the initial build significantly slower. Are we sure we want to do this? At the very least, the initial build should behave as it is now, which is sort of tricky.

[2015-05-18 16:44] zoechi commented on #1817
:+1:

[2015-05-18 17:06] wisesascha opened #1959 "Propogate Changes Up"
Is it possible to have changes from a sub component be propagated to the parent. I found issue #962, but the code he uses seems out dated. Is there a new way of doing this with events?

[2015-05-18 17:41] nomack84 commented on #1953
@vicb Polymer was almost completely rewrited from 0.5 to 0.8/0.9, focusing on performance and the stats are incrediblely promising. For browser which don't natively support WC they made a shim of `Shadow Dom` they call `Shady Dom` which is much more performante than what they have at 0.5. Also, the polyfill they use now is way shorter in size.

[2015-05-18 17:55] yjbanov commented on #1709
Closing this one. Let's fix the non-`Error` in https://github.com/angular/ts2dart/issues/152.

[2015-05-18 17:55] #1709 closed

[2015-05-18 17:57] jbdeboer commented on #1709
Please keep a tracking bug for this issue open in this repo. The reproduction case I posted is *not* fixed and I am not convinced it is a ts2dart-only bug.

[2015-05-18 18:12] yjbanov opened #1962 "Preserve stack trace for thrown non-Error objects"
This is a follow up to #1709 and https://github.com/angular/ts2dart/issues/152.

Make sure we are preserving stack traces for errors that do not descend from `Error`. Make [this repro case](https://github.com/jbdeboer/angular2_stack_traces) work.

(This is Dart only. JS cannot preserve non-`Error` stack traces.)

/cc @jbdeboer

[2015-05-18 18:17] jbdeboer commented on #1962
+1, thank you.

[2015-05-18 18:29] jelbourn commented on #1040
Assigning back to @mhevery for decision or further assignment.

[2015-05-18 18:30] jelbourn commented on #1959
Are you referring to `EventEmitter` events or native DOM events?

For the latter, there are two separate issues: #1168 (bug) and #1040 (proposal).

[2015-05-18 18:38] samccone opened #1964 "Possible For directive change detection bug."
### ;TLDR

Change detection failing when removing an element from an array that is displayed using the `For` loop directive

-----------

#### Hypothesis

I am removing an element from a list of items that is shown in the DOM via the `For` directive. There is a dirty checking loop that is run ¿before¿ the element is removed however reaches the check **after** the element has been removed, thus cau

[2015-05-18 19:49] matanlurey opened #1965 "Q: Define a custom DI token (e.g. appDocumentToken)"
I see Angular defines some constants/tokens to use internally, e.g. `appDocumentToken`.

I could see this also being useful in applications, specifically for injecting things like version numbers, DOM handles, etc. Imagine the following:

[code]

[code]

(This may already work, if so, this should be in DI's docs if possible)

[2015-05-18 20:29] C4Grey commented on #1954
Found a problem, it was in the [status code check](https://github.com/angular/angular/blob/bb2eda2d151092cdd318cbdbb6b22edc1dd39896/modules/angular2/src/services/xhr_impl.es6#L15).
At first, XHR for a local file in the nw.js will alway return a status code 0, so the dirty way will be to add such condition to this check. But it seems a better way to create a NodeJS-specfic implementation that will

[2015-05-18 21:02] alexeagle opened #1966 "Generate the angular2.d.ts file along with documentation"
As discussed with @petebacondarwin we would like to generate a complete .d.ts file for angular2. TypeScript roadmap indicates they will include .d.ts bundling in their 1.6 release, but we don't want to wait that long, and also want to have the ability to restrict what we emit to be just the public API surface.

Since we already generate the human-readable API doc, it would be great to produce exac

[2015-05-18 21:10] #1894 closed

[2015-05-18 21:12] naomiblack opened #1967 "Create public API doc for pipes"
Currently, we have a top-level entry exported, but no public docs.

[2015-05-18 21:16] jbdeboer commented on #1732
Your explanation is good, except it is describing the default implementation in Angular. We are confused because we need to override that implementation.

A specific question that is not answered by #1863: In what cases will ```baseUrl``` be null?

[2015-05-18 21:24] petebacondarwin commented on #1967
See https://github.com/angular/angular/blob/master/modules/angular2/pipes.js

If you do a search for `@exportedAs angular2/pipes` then you find all the things that "ought" to be exported there.  (These `@exprtedAs` tags are no longer used and can be removed but provide pointer to what should be exported here).

[2015-05-18 21:37] alexeagle commented on #1407
I just released ts2dart 0.5.3 which includes the fix in angular/ts2dart#153

[2015-05-18 21:37] IgorMinar commented on #1914
I spoke with Misko and learned that this actually is an intended behavior, but in that case the problem is that the behavior is not consistent and non-root expressions are forgiving.

So if I have:

[code]

I can then do
[code]

And no exceptions are thrown, so it looks like it's forgiving.

[2015-05-18 21:39] vicb commented on #1965
@matanlurey a token can be anything already.

[2015-05-18 21:48] #1774 closed

[2015-05-18 21:48] #1882 closed

[2015-05-18 21:51] wisesascha commented on #1959
I was referring to the event emitter event

[2015-05-18 21:56] jelbourn commented on #1959
Furthermore, do you mean that `EventEmitter` events currently don't break component boundaries?

[2015-05-18 22:46] aomahony opened #1969 "@Attribute annotation not working"
I have this code for my component:

[code]

I'm running it in Chrome, and when I run it, I get this error:

[code]

Looks like it's complaining about this line in the Javascript: __metadata('design:paramtypes', [String, String])

[2015-05-18 22:46] aomahony commented on #1969
Apologies, the first line (with the triple forward slash) wasn't fully copied.  Here it is:

<reference path="../typings/angular2/angular2.d.ts" />

[2015-05-18 23:20] chirino commented on #1885
+1

[2015-05-18 23:22] yjbanov commented on #1407
Thanks, Alex! Let's close this. https://github.com/angular/angular/issues/1962 should do the rest.

[2015-05-18 23:22] #1407 closed

[2015-05-18 23:32] alexeagle commented on #1927
Err, I think you mean `(foo as Bar)`

[2015-05-18 23:36] matanlurey commented on #1965
Thanks! I'll leave this open for documentation additions.

[2015-05-18 23:39] alexeagle commented on #1927
closed in https://github.com/angular/ts2dart/issues/160

[2015-05-18 23:39] #1927 closed

[2015-05-19 00:07] pumpk1n commented on #1947
Since there was a bigger update to the router a couple minutes ago I've updated to the latest rev, but still the same error.

@btford any idea what's going wrong?

[2015-05-19 01:11] rkirov opened #1975 "Remove default exports hack in async.ts"
TS and traceur disagreed on the semantics of exporting defaults in the presence of `*` so we needed https://github.com/angular/angular/blob/master/modules/angular2/src/facade/async.ts#L88.

Looks like TS was correct - https://github.com/systemjs/systemjs/pull/432 and traceur will include a fix in the next version.

We need to update traceur and remove the hack.

[2015-05-19 01:16] hankduan commented on #353
See https://github.com/angular/angular/pull/1976

[2015-05-19 01:24] #1967 closed

[2015-05-19 01:32] vsavkin commented on #1925
Implemented in #1960

[2015-05-19 01:32] #1925 closed

[2015-05-19 03:47] matanlurey opened #1978 "Zone: NgZone should allow an application to install custom hooks into onTurnStart/Done."
In the past, it was possible to hook into `VmTurnZone` (now renamed `NgZone`) by wrapping onTurnStart/Done with a custom callback that called the Angular registered function, then your own. This allowed things like syncing with non-Angular services or for profiling.

Now the only method is `initCallbacks`, which doesn't give access to the existing callbacks. It's possible to get around this by rea

[2015-05-19 06:28] petebacondarwin commented on #1966
@alexeagle - were the documentation comments in this file taken from the source or hand coded?

[2015-05-19 06:34] vicb opened #1980 "FakeAsync: allow mocking of dates"
ref #1837

- js: [Jasmine clock](http://jasmine.github.io/2.1/introduction.html#section-Mocking_the_Date)
- dart: [Quiver Clock](https://github.com/google/quiver-dart/blob/6bab7dec34189eee579178eb16d3063c8ae69031/lib/testing/src/async/fake_async.dart#L52)

[2015-05-19 06:36] vicb commented on #1860
Once Jasmine is 2.3.3+, update fakeAsync to re-enable JS tests, ref #1837

[2015-05-19 06:36] vicb commented on #1862
Once this is fixed, re-enable fakeAsync tests that have been disabled, ref #1837

[2015-05-19 07:50] vicb commented on #1969
I think it should be `String`

also note that :
- the type is not required here `constructor(@Attribute('title') title, @Attribute('name') name)`
- it can not be used to set the attribute

[2015-05-19 08:01] vicb commented on #1947
@pumpk1n this could be linked to https://github.com/angular/angular/issues/1111 which is a "bug" in Angular.

[2015-05-19 08:13] vicb commented on #1732
From the PR:

IIRC this is used only once to get the application URL:

We call [`this._appUrl = urlResolver.resolve(null, './');`](https://github.com/angular/angular/blob/0f002a5b18120d1f7bdfc7dca78f4e1c53794659/modules/angular2/src/core/compiler/compiler.js#L74) to get the base URL of the application

[2015-05-19 09:05] vicb commented on #1944
please close if fixed by #1955

[2015-05-19 10:09] vicb commented on #1964
@samccone could you try to submit a smaller snippet that triggers the error. It would really help for debugging the issue. Thanks.

[2015-05-19 12:14] vicb commented on #1914
I have tried on master in a text interpolation `<p>Undefined: {{myModel.a.b}}</p>`

it generates the expected error: `TypeError: Cannot read property 'b' of undefined in [Undefined: {{myModel.a.b}} in HelloCmp]`

[2015-05-19 13:04] vicb commented on #1846
Hum... took me a while to figure out... and the issue is:
`<resorts-list-item [item]='item'><resorts-list-item>`

Take a look at the "closing" tag ! (should be `</resorts-list-item>`)

[2015-05-19 13:04] #1846 closed

[2015-05-19 13:52] zoechi commented on #1885
+1 (Dart)

[2015-05-19 13:56] geekrumper commented on #1885
+1

[2015-05-19 15:44] rightisleft commented on #1885
I made a fork of the above link. I tried to clean it up a bit, but im getting some odd behavior out of RouterLink

http://stackoverflow.com/questions/30292484/whats-the-proper-way-to-set-a-router-routerlink-in-angular2-dart

[2015-05-19 16:59] alexeagle commented on #1966
They are copied from the source, with a bit of hand-editing (only removing
the @exportedAs IIRC)

On Mon, May 18, 2015 at 11:28 PM Pete Bacon Darwin <notifications@github.com>
wrote:

[2015-05-19 17:05] alexeagle commented on #718
This issue should probably be broken into smaller ones; most of the work is done (npm shrinkwrap)
If we make smaller bugs, we should also have one for making the shrinkwrap work better. We need npm and node to be the same version as travis, and fix the rough edges that everyone hits when they have to update shrinkwrap

[2015-05-19 17:22] #1729 closed

[2015-05-19 17:27] mhevery opened #1989 "Support for manual content reprojection"
# GOAL

- provide `<content>`-like way of re-projecting content from one location of the tree to another.
- Preserve the injection and context variables of the source

## Implementation

Here is a proposed implementation skeleton.

* make `TemplateRef` queryable (it already is injectable)

### `ng-outlet`

[code]

## Example of Usage

[code]

[2015-05-19 17:29] mhevery commented on #1989
/cc @ajoslin @jbdeboer @matanlurey

[2015-05-19 17:30] wisesascha commented on #1959
I couldn't find any existing documentation on how to use the EvenEmitter even, as using the

    @EventEmitter
syntax doesn't seem to work

[2015-05-19 17:32] vicb commented on #1795
Discussed this with @tbosch, we would need to catch the error at compile time (we don't want to wait for the template to be instantiated) so we probably need to add more metadata to the `Directive`.

[2015-05-19 17:34] jelbourn commented on #1959
The docs show how it is used here: https://angular.io/docs/js/latest/api/annotations/Directive-class.html

[2015-05-19 17:46] petebacondarwin commented on #1966
Right. I am working on it today.

[2015-05-19 17:47] alexeagle commented on #1966
Great! You made quick work of that migration from Traceur to Typescript!

On Tue, May 19, 2015 at 10:46 AM Pete Bacon Darwin <notifications@github.com>
wrote:

[2015-05-19 18:02] mhevery opened #1992 "ElementProbe API"
# GOAL

- simplify debugging in the browser, by allowing adhoc access to the content of the `ElementInjector` in the dev mode

## API

[code]

## Implementation

In the debug mode only (perf reasons) Angular should use expandos to attach the `ElementInjector` to the DOM Element. The developer can than use the API to get a `Probe` which wraps the `ElementInjector` and allows the user to retrieve th

[2015-05-19 18:41] mhevery opened #1996 "TypeScript-ify: render"

[2015-05-19 18:41] mhevery opened #1997 "TypeScript-ify: core"

[2015-05-19 18:41] mhevery opened #1998 "TypeScript-ify: directives"

[2015-05-19 18:42] mhevery opened #1999 "TypeScript-ify: forms"

[2015-05-19 18:43] mhevery opened #2000 "TypeScript-ify: mock"

[2015-05-19 18:43] mhevery opened #2001 "TypeScript-ify: router"

[2015-05-19 18:43] mhevery opened #2002 "TypeScript-ify: services"

[2015-05-19 18:43] mhevery opened #2003 "TypeScript-ify: test_lib"
This cannot be started until `core` (#1997), `services` (#2002) , `directives` (#1998) and `mock` (#2000) are in.

[2015-05-19 18:43] mhevery opened #2004 "TypeScript-ify: util"

[2015-05-19 18:44] mhevery opened #2005 "TypeScript-ify: angular2_material"
- [ ] code
- [ ] examples

This cannot be started until `core` (#1997), `services` (#2002) , `directives` (#1998) and `forms`(#1999) are done.

[2015-05-19 18:44] mhevery opened #2006 "TypeScript-ify: benchmarks"
- [ ] change_detection
- [ ] compiler
- [ ] costs
- [ ] di
- [ ] element_injector
- [ ] largetable
- [ ] naive_infinite_scroll
- [ ] tree

[2015-05-19 18:44] mhevery opened #2007 "TypeScript-ify: benchpress"

[2015-05-19 18:45] mhevery opened #2008 "TypeScript-ify: examples"
- [x] benchpress
- [x] forms
- [x] gestures
- [x] hello_world
- [x] key_events
- [x] material
- [x] sourcemap
- [x] todo
- [x] e2e_test

[2015-05-19 18:47] mhevery opened #2009 "TypeScript-ify: Tests"
- [x] dom
- [x] renderer
- [x] change-detection
- [x] core
- [x] di
- [x] directives
- [x] facade
- [x] forms
- [x] mock
- [x] reflection
- [x] router
- [x] services
- [x] test_lib

[2015-05-19 19:45] samccone opened #2010 "Consider aliasing escape to esc"
When registering for key events I found it slightly awkward to specify `keyup.escape` and instead expected `keyup.esc` to work (since **esc** is what printed on most keyboards :) )

https://github.com/angular/angular/blob/853d1de6ecf2acb69e86ba4f39ad95a6a97c0ea7/modules/angular2/src/dom/browser_adapter.dart#L27

Just an idea thanks again :palm_tree:

[2015-05-19 20:12] IgorMinar commented on #1570
I believe that this is fixed since we switched to chokidar/fsevents based-watching.

it this is still an issue, please reopen.

[2015-05-19 20:12] #1570 closed

[2015-05-19 20:18] mhevery commented on #1853
@vsavkin please help @vicb with implementation details.

[2015-05-19 20:33] jomeier commented on #1944
[code]
After putting this in my njsproj file dependency injection works like a charme :-) Thanks a lot!

Josef

[2015-05-19 20:33] #1944 closed

[2015-05-19 20:46] #1962 closed

[2015-05-19 20:59] mhevery opened #2013 "Convert properties in @Component/@Directive to Arrays"
Currently the `properties`, (and somewhat `events`) in `@Directive` take a `Map` rather then an `Array`.

The argument for an list rather then a map, is that most of the time we should not be renaming the properties, which creates a lists such as these:

[code]

These are necessarily wordy! In addition it is hard to spot the renames. Did you notice it? Instead we should have this syntax:

[code]

[2015-05-19 21:06] mhevery opened #2014 "Have a schema for bindings, and report error on miss-typed bindings."
Quick, can you spot an error? (Currently it fails silently.)

[code]
There are two issues:
- It is `for of` not `for in`
- It needs `var item` or `#item` instead of `item`

The current binding expands to

[code]

but it should have been:

[code]

- [x] it fails to match `[ng-for][ng-for-of]` and turns the binding to element property bindings (ie monkey patches the properties on template element) (

[2015-05-19 21:12] gdi2290 commented on #2013
what about pipes?
[code]
What about with a pipe? What about something like this `model < data | async` using `<` rather than `<=` so the bash-like syntax is more consistent

[code]

[2015-05-19 21:13] vsavkin opened #2015 "Merge injectables when creating ElementInjector"
Currently we concatenate the `hostInjector` injectables before creating a ProtoElementInjector. This does not handle corner cases.

We need to handle the two scenarios.

## Scenario 1

We should throw when two directives instantiated on the same element declare the same injectable.

[code]

## Scenario 2

We should take the hostInjector implementation if the same token is present in both the `host

[2015-05-19 21:14] samccone commented on #1964
alright @vicb bug created!

https://github.com/samccone/angular2-base/blob/sjs/bug/app.ts

you can reproduce by ...

* cloning the repo
* checking out the branch
* `npm i`
* `npm run dev`
* `python -m SimpleHTTPServer `
* visit localhost:8000
* click on a list item
* check the text to nothing
* press enter

:boom: :bug:

[2015-05-19 21:37] #1947 closed

[2015-05-19 22:14] mhevery opened #2018 "Support === operator in expressions"
Should de-sugar to `a===b` in JS and `identical(a, b)` in Dart

[2015-05-19 22:28] mhevery commented on #2018
Dup of #1983

[2015-05-19 22:32] jeffbcross opened #2019 "local variable binding with input doesn't work as described"
The [user input guide](https://angular.io/docs/js/latest/guide/user-input.html) on angular.io indicates that this code should bind an input to a local variable, and set a paragraph's text to the value:

[code]

Instead, it throws:

[code]

Plnkr: http://plnkr.co/edit/Wim9GhNIdCsaW9WVWDaQ?p=preview

[2015-05-19 22:39] mhevery opened #2020 "Require all injectable Types to have @Injectable annotation"
If a Type is referenced in the injector it needs tohave `@Injectable` or the DI system should throw (Both, Injector as well as ElementInjector). Should probably be done during the `ResolvedBinidng` creation.

[2015-05-19 22:47] jeffbcross commented on #2019
The change to angular.io introduced in this PR should be reverted when this issue is resolved https://github.com/angular/angular.io/pull/127.

[2015-05-19 22:56] IgorMinar opened #2021 "Remove duplicate error messages from the build"
currently there are several layers in our build system that log and rethrow exceptions, we need to unify these and suppress errors (or stack traces for errors) so that the output is easy to understand and doesn't contain duplicate messages or useless stack traces.

Sources of exceptions/exception logging:
- broccoli plugins
- angular_builder.ts
- gulp's runSequence
- gulp's tasks

common scenarios

[2015-05-19 22:56] mhevery opened #2022 "Implement if-else in parser statements"
Parser for statements (event) should support `if` - `else`

[code]

[2015-05-19 22:56] mhevery commented on #2022
/cc @vsavkin

[2015-05-19 22:56] IgorMinar commented on #850
closing in favor of #2021

[2015-05-19 22:56] #850 closed

[2015-05-19 23:10] btford opened #2023 "test(router): race condition where "activate" is called multiple times"
There's a race condition I encountered and fixed when adding the integration spec, but I need to add a unit test around this behavior. See: https://github.com/angular/angular/pull/1991#discussion_r30637801

In this condition, "activate" is called multiple times with the same `Instruction` instance, which ended up bypassing the `reuse` check. I might need to refactor to generalize the added behavio

[2015-05-19 23:15] #1915 closed

[2015-05-20 00:03] jbdeboer opened #2025 "ng-class equivalent behaviour"
[If this already exists, a pointer to the docs would be awesome.]

In AngularDart, I have an element:
`<div class="a" ng-class="someExpr"></div>` where `someExpr` evaluates to "b c".

The rendered output is `<div class="a b c"></div>`.

How do I use this pattern in Angular 2?

[2015-05-20 00:07] pkozlowski-opensource commented on #2025
This syntax is not currently supported with the existing `class` directive (it understand only object literals syntax right now). Last time I've discussed string-based with @IgorMinar it sounded like we might not want to support it in ng2 as it makes it easy to "hard-code" CSS classes in JS/Dart code.

We should probably re-discuss this and have definitive stance on this one.

[2015-05-20 00:14] jbdeboer commented on #2025
The current best option, AFAICT, is to re-write the above example as:
```<div [class-name]="'a ' + someExpr"></div>```

which is super-fugly.

[2015-05-20 00:43] naomiblack commented on #1996
This is complete.

[2015-05-20 00:43] #1996 closed

[2015-05-20 01:03] naomiblack commented on #2001
This cannot be started until `core` and `services` are done.

[2015-05-20 01:04] naomiblack commented on #2007
This cannot be started until `core` and `services` are done.

[2015-05-20 01:07] naomiblack commented on #2008
This cannot be started until `core` (#1997), `services` (#2002) , `directives` (#1998) and `forms`(#1999) are done.

[2015-05-20 01:08] naomiblack commented on #2006
This cannot be started until `core` (#1997), `services` (#2002) , `directives` (#1998) and `forms`(#1999) are done.

[2015-05-20 01:10] naomiblack commented on #2009
This cannot be started until `core` (#1997), `services` (#2002) , `directives` (#1998), `mock` (#2000), and `test_lib` (#2003)  are in.

[2015-05-20 01:15] tbosch commented on #2019
@alexeagle FYI
On Tue, May 19, 2015 at 3:47 PM Jeff Cross <notifications@github.com> wrote:

[2015-05-20 01:49] ewinslow commented on #1795
Sounds good! Thanks for looking into it!

[2015-05-20 02:04] naomiblack opened #2027 "update dev guide for alpha-24"

[2015-05-20 02:30] jeffbcross opened #2028 "land basic http lib"
Scope: Should perform basic request/response, returning `EventEmitter` object, using XHR, with mock backend.

Example:

[code]

[2015-05-20 02:31] jeffbcross commented on #2007
@tbosch I will take this one. I might bug you.

[2015-05-20 03:50] matanlurey opened #2029 "UrlResolver: Why does it require an anchor element to resolve a URL?"
This puts the requirement to run your test in a content shell/web driver in order to use the DOM. Is there a better way to do this, or at least an alternative implementation (even inefficient) that doesn't use the DOM for testing?

[2015-05-20 03:58] dylanb commented on #1050
Nice - I can confirm this works

[2015-05-20 04:25] cexbrayat opened #2031 "Test sample"
It would be wonderful to have a small example on how to setup tests with the alpha releases.

I don't know if it is currently possible. I've tried on my own, but no luck until now (angular2-tests.d.ts is not including describe, it? etc... for example).

That would an incredible help for the developers trying to build projects based on the alpha, and would help catch a great number of regressions i

[2015-05-20 04:33] tbosch commented on #2007
Thanks!
On Tue, May 19, 2015 at 7:31 PM Jeff Cross <notifications@github.com> wrote:

[2015-05-20 04:45] rkirov commented on #2029
dart can simply use https://api.dartlang.org/apidocs/channels/be/dartdoc-viewer/dart:core.Uri#id_parse as we did in angular.dart 1.x

[2015-05-20 05:01] matanlurey commented on #2029
:+1:

[2015-05-20 05:04] IgorMinar commented on #1901
the PR was merged in

[2015-05-20 05:20] vicb commented on #1795
Should be adressed by https://github.com/angular/angular/issues/2014

[2015-05-20 05:32] IgorMinar commented on #1926
dupe of #1813

[2015-05-20 05:32] #1926 closed

[2015-05-20 06:04] mprobst commented on #1901
It was. However even before that, we had depended on a fixed, forked
version of the library. Is it possible that there's an outdated library in
your installation?

Igor Minar <notifications@github.com> schrieb am Mi., 20. Mai 2015 07:04:

[2015-05-20 06:16] #1813 closed

[2015-05-20 06:16] #1919 closed

[2015-05-20 06:20] IgorMinar commented on #1813
I was able to narrow this down to the fact that we run both karma server and runner in a single process and they both log the same thing into the terminal.

[2015-05-20 06:32] vicb commented on #2018
fixed via 0ae89ac096f6e5eaee026b578615c93c3ea2851b

[2015-05-20 06:32] #2018 closed

[2015-05-20 06:35] #1715 closed

[2015-05-20 07:08] vicb commented on #2019
@jeffbcross I had close one issue some days ago: this is fixed in alpha .23 (haven't look for the exact commit). Switching to .23 fixes your plunk

[2015-05-20 07:09] ewinslow commented on #1795
Closing this as duplicate. Reopen if you think we need to...

[2015-05-20 07:09] #1795 closed

[2015-05-20 07:42] vicb commented on #2029
For reference, my [first implementation](https://github.com/vicb/angular/commit/9df8ba07899c9920dd7acfd1c7f0770b44911057#diff-6a3e64f22b71a1aab00d9415656eaa7bR1) was not using an anchor element. After discussing with @mhevery we decided that the browser was more capable or resolving urls.

I've kept the branch if at some later point we need to have an implementation that do not depend on the brows

[2015-05-20 08:20] ewinslow commented on #2014
Thanks for working on this, Misko! This is really the first developer-happiness-related issue I noticed when I tried out the dev preview, so glad to see it is being addressed and thought about. I like the idea of being able to declare schemas. Do we also need to be able to declare exposed events for the same reasons given?

There are a few more magic symbols introduced here which makes me a bit ne

[2015-05-20 08:42] vicb commented on #1964
No :boom: for me after I've fixed :point_down: obvious :bug:

[code]

should be

[code]

[2015-05-20 10:16] ericmdantas commented on #2031
+1. I've been looking for it too.

[2015-05-20 11:24] #1966 closed

[2015-05-20 12:00] aravindtrue opened #2035 "Sort multiple columns including the date in string format"
I am not able to manipulate and sort multiple columns in orderBy filter.

[code]
[Fiddle](http://jsfiddle.net/br5sssv7/7/)

Is it possible to manipulate a date string before sorting? or Am i missing something?

[2015-05-20 12:29] nomack84 commented on #2035
@aravindtrue That question should be asked in Angular1 repo: https://github.com/angular/angular.js This is Angular2's repo, so you should probably close this issue and open it there.
Regards

[2015-05-20 12:55] #2035 closed

[2015-05-20 13:43] samccone commented on #1964
whoops :tired_face:

Sorry I am going to work on this reduced test case some more.

I am still able to get the error 100% of the time on the original todo example that I put together. There must be something that I am overlooking when I am trying to recreate the issue.

[2015-05-20 13:45] matthewjh commented on #1949
What do you think, @vicb?

[2015-05-20 13:46] vicb commented on #1964
unless one of your item is `null` in your original example, your should try to dump it.

[2015-05-20 13:47] vicb commented on #1964
A good solution might be to add a getter for the todos and check if one of them is null on access.

[2015-05-20 14:19] aeigenmann commented on #1047
+1

[2015-05-20 14:19] aeigenmann commented on #1043
+1

[2015-05-20 15:30] IgorMinar commented on #1901
nevermind! I didn't notice that we were depending on your fork already. all
good

On Tue, May 19, 2015 at 11:05 PM Martin Probst <notifications@github.com>
wrote:

[2015-05-20 15:46] mprobst commented on #1901
OK, closing the issue.

[2015-05-20 15:46] #1901 closed

[2015-05-20 16:11] IgorMinar commented on #1922
I can't repro this with master and clean npm install. Please reopen if it's still a problem.

[2015-05-20 16:11] #1922 closed

[2015-05-20 16:14] IgorMinar commented on #1764
the code is being formatted in master. it looks like the formatting is not incremental though, which slows down the iteration. I'll open a new issue for that.

[2015-05-20 16:14] #1764 closed

[2015-05-20 16:16] IgorMinar opened #2036 "Incrementally format the dart code for test.unit.dart"
Currently we run full reformatting on each change which is very slow.