[2015-09-16 22:37] mlaval commented on #4216
We used to use Traceur, so the shims were provided by the runtime.
@rkirov did the switch in #4148, I guess he can satisfy your curiosity

[2015-09-16 22:56] rkirov commented on #4216
Sorry for the pain @mlaval, I wasn't aware of the other browser runs (hard to keep track of things outside whatever travis runs). Given that `Symbol.iterator` is claimed to be a infeasible runtime shim, I wonder how did traceur make it work. If they did some compile time tricks, we can talk to TS folks about replicating them (depending on complexity). The other option is see if we can remove Symbo

[2015-09-16 23:07] alexeagle opened #4221 "Missing dart reflection of interfaces on superclass"
pattern like this
`class AttachAware implements OnChanges`
`class MyComponent extends AttachAware`

we never call the event listener.

[2015-09-17 00:21] cscott commented on #4216
If you were using traceur before, you should use core-js now.
On Sep 16, 2015 6:56 PM, "Rado Kirov" <notifications@github.com> wrote:

[2015-09-17 00:24] yjbanov commented on #4202
Fixed by https://github.com/angular/angular/pull/4203

[2015-09-17 00:24] #4202 closed

[2015-09-17 00:32] cscott commented on #4216
Elaborating slightly: core-js was originally written for Babel, so it fits in better as a complete es6 runtime.  See https://github.com/google/traceur-compiler/issues/1976 for example: traceur itself might be using core-js under the hood before long.

es6-shim's goals are deliberately more modest: not to implement all of ES6, just the "es5 compatible subset".  Basically the low-hanging fruit from

[2015-09-17 01:02] vsavkin opened #4224 "DI should not require nesting arrays when specifying deps"
Currently the following does not work `bind(token).toFactory((one) => "one", [new Inject("one")]);` because the deps array has to be nested, as follows `bind(token).toFactory((one) => "one", [[new Inject("one")]]);`

DI should be able to handle it, so that the examples 1 and 2 should be equivalent.

[2015-09-17 01:24] #4215 closed

[2015-09-17 01:44] sumigoma opened #4225 "Read query parameters from route"
Is there currently a way to read query parameters from the route? For instance, if RouteConfig is configured with { path: '/articles/:id', as: 'article', component: Article } and the user navigates in the browser to

http://localhost:3000/articles/someId?sort=ASC&page=2

how do I get access to the value of "sort" and "page"? Will this be supported in the router?
(N.B. I can get id: "someId" throug

[2015-09-17 06:39] itslenny commented on #2340
It looks like `currency`, `decimal`, and `percent` pipes were all created as part of `number`.

https://github.com/piloopin/angular/commit/5f28d1473931e85c3c30d7585dd760389cad5e79

[2015-09-17 06:49] gkalpak commented on #2340
No `filter` and `orderBy` filters in ng2 ? :disappointed:
(Seriously, is it just to avoid ng-wat (a filter named filter) ?)

[2015-09-17 07:03] danicomas commented on #3838
@mhevery Are you saying we should use the DynamicComponentLoader passing the root elementRef (By now we can't use this without elementRef) or exist something like Angular1(get template + create scope and compile both)?

[2015-09-17 07:15] pelallemant opened #4227 "nginclude - properties declared in onload can't be modified"
Hi,

When I use `<nginclude ... onload="element = some_scope_element"></nginclude>` :

I can edit "element" with:  `<a ng-click="element.someattribute = somevalue;">click here</a>`

I can't change the "element" with: `<a ng-click="element = {name: "mynewelement"};">click here</a>`

I'm searching a way to modify a property set inside the onload, and I didn't find it, so I think it's an issue.

Best

[2015-09-17 07:40] cghislai opened #4228 "Router: Cannot reuse an outlet that does not contain a component"
After an update to alpha 37, I run into this error.

The scenario is as follow : I navigate to /my/sub/path. My app subscribed to the router, so that on each location change it checks that user credentials are still valid. In this case, I am redirected to /login. Upon sucessfull login, I am redirected to /my/sub/path, and this is where the following exception is thrown:
[code]

It seems the instru

[2015-09-17 07:45] cghislai opened #4229 "Missing NG_VALIDATORS from angular2.d.ts"
Using alpha37, I expected the changes introduced by this commit (https://github.com/angular/angular/commit/79994b2abfd598ffbdee2cf1b29442e90c6b414d) to be present.

But compiler complains that NG_VALIDATORS has not been exported.

Edit: My tsd.d.ts contains the following:
[code]
Angular2.d.ts contains the following header:
[code]

[2015-09-17 07:58] marcesso opened #4230 "ng-if bug: model not updated controller-side in select"
Hello,

Here is the pluker:
http://plnkr.co/edit/6ak03OKD996ybeGWA3YS?p=preview
You can see 2 drop down lists: the 1st one is always displayed, the 2nd is displayed if ng-if=true (my case study was to display the 2nd if the 1st one had a selected item).
I print in the console the value selected in the 2nd drop down, via ng-change function. You can see that the value of select doesn't change.
Remov

[2015-09-17 08:19] naomiblack commented on #4199
we currently use a third-party (swiftype) for in-site search. this gives us granular control over search on angular.io but a known limitation is that you have to push to production to review. this is probably a low priority to fix right now.

[2015-09-17 08:35] martinsik opened #4231 "feat(http): add support for withCredentials"
Hey, I'm trying to figure out how to send cookies throught CORS but since I can't access `XMLHttpRequest` objects directly I'm not able to set `withCredentials` option. I remember using it with [$http in Angular 1.4](https://docs.angularjs.org/api/ng/service/$http).
Maybe I could do this by writting custom `XHRBackend`? Or is there any easier way?

[2015-09-17 08:42] PascalPrecht commented on #4231
@martinsik there are currently `credentials` properties, but they are not used anywhere yet. In fact, there's a pending PR to remove those properties until they are actually properly implemented: https://github.com/angular/angular/pull/3823

[2015-09-17 08:46] dantheman999301 opened #4232 "ngAnimate doesn't work when you use ngView on the body"
http://plnkr.co/edit/PgfQaoDE5iCaxV2AX8OA

Example here. Basically it doesn't add the intermediate classes when showing and hiding.

The workaround is pretty simple, just don't use ngView on the body. In the example if you move ngView down onto a div it works fine.

There are a few scattered issues on stackoverflow where it does say you get some odd behaviour when adding ngView to the body but mos

[2015-09-17 08:47] PascalPrecht commented on #4232
@dantheman999301 this is the Angular 2 repository. Please close this one and file your issue at http://github.com/angular/angular.js

Thanks!

[2015-09-17 08:55] cghislai commented on #4228
Here's a plunkr reproducing this scenario:
http://plnkr.co/edit/hXAxOj73G5CrAPhV4hkJ?p=preview

[2015-09-17 09:00] martinsik commented on #4231
@PascalPrecht This explains why setting `mode = RequestModesOpts.NoCors` or `credentials = RequestCredentialsOpts.Include` had no effect at all :).

So, the only thing I can do not is to wait until the Fetch spec is properly defined and properties are re-implemented?

[2015-09-17 09:09] dantheman999301 commented on #4232
My apologies!

[2015-09-17 09:09] #4232 closed

[2015-09-17 10:08] martinsik commented on #3803
I wonder why at the same time I can use other attributes like `name="{{ myName }}"` but `for` attribute inside `<label>` throws error `<label for="{{ myId }}"></label>`:

[2015-09-17 10:17] pkozlowski-opensource commented on #3803
@martinsik you are _never_ binding to attributes, but _always_ to properties. You can write `[name]="foo"` since an element that you are using has a `name` property: https://developer.mozilla.org/en-US/docs/Web/API/Element/name

In short: ng2 is _always_ binding to properties and a given DOM element must have this property (there is no point of changing a property that doesn't exist / is not suppo

[2015-09-17 10:22] PascalPrecht commented on #4224
I this only a problem when using `new Inject()` expression? Because with Types, this just works already...

[2015-09-17 10:54] btford opened #4233 "bug(router): target attribute not respected when used with router-link"
[code]

The expectation is that this link should open in a separate tab/window.

Tracks internal b/24125739.

[2015-09-17 12:00] pkozlowski-opensource commented on #2340
There were some problems with filter / orderby and types, don't remember the details, probably only in Dart. IMO we should have them, at least for JS / TS.

`date` and `number` work only in Chrome (due to the use of internationalization API) so they need more work before being usable in practice.

[2015-09-17 12:03] pkozlowski-opensource commented on #4227
@pelallemant this is wrong repo. This one is for ng2, I guess you meant to open in https://github.com/angular/angular.js

Having said this it sounds like a general support question so you should try a support channel first: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question
GitHub issues are only for bug reports / feature requests.

[2015-09-17 12:03] #4227 closed

[2015-09-17 12:05] pkozlowski-opensource commented on #4230
@marcesso this is wrong repo. This one is for ng2, I guess you meant to open in https://github.com/angular/angular.js

Having said this it sounds like a general support question so you should try a support channel first: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question
GitHub issues are only for bug reports / feature requests.

After having a quick look at your code you s

[2015-09-17 12:05] #4230 closed

[2015-09-17 12:15] pkozlowski-opensource commented on #4229
Nope, this is not the case, see:
https://github.com/angular/angular/commits/7374153db562fecad3490f5bf8ad8193523ab21a

We can release an arbitrary point and .37 has commits till ~ 2nd of September.

[2015-09-17 12:15] #4229 closed

[2015-09-17 12:18] marcesso commented on #4230
sorry about wrong repo
I read the doc about scopes but I didn't found nothing about ng-if behaviour
the code is broken only if I add ng-if so I think that there is a bug

[2015-09-17 12:20] pkozlowski-opensource commented on #4230
There is _no_ bug. ngIf is simply creating a new scope with all its consequences. Go over the linked doc or google for "angular dot in model", ex.: http://stackoverflow.com/questions/17606936/angularjs-dot-in-ng-model

[2015-09-17 12:35] PascalPrecht commented on #4231
Yes I'm afraid that's the case. Maybe @jeffbcross has some thoughts on this.

[2015-09-17 12:40] PascalPrecht commented on #4225
This should actually work as we can see here: https://github.com/angular/angular/blob/master/modules/angular2/test/router/integration/router_integration_spec.ts#L185-L203

Did you use `.get()` to get access to the value? https://github.com/angular/angular/blob/master/modules/angular2/test/router/integration/router_integration_spec.ts#L252

[2015-09-17 12:50] zloirock commented on #4216
If you choose to use `core-js` and if you need any help - welcome :) I'm interesting as minimum because I use `angular` with `core-js` in some projects.

[2015-09-17 12:55] marcesso commented on #4230
Thanks for your answer, I didn't see that ng-if documentation explained how a new scope was created.
Sorry about that and many thanks for your help

[2015-09-17 12:58] PascalPrecht commented on #3803
@martinsik FYI this is explained here: http://blog.thoughtram.io/angular/2015/08/11/angular-2-template-syntax-demystified-part-1.html

[2015-09-17 13:37] tpiere opened #4234 "Angular JS 1 api reference page is broken"
I'm not sure if this is the correct place to report an issue with the angular.js website....but the API reference page is not working:

https://docs.angularjs.org/api

See attached screenshot.  It looks like the version is missing from the url to load angular scripts.

![angular-js-api-reference-errors](https://cloud.githubusercontent.com/assets/1138652/9934468/47757c48-5d17-11e5-9503-f3462d3d29a7

[2015-09-17 13:51] pkozlowski-opensource commented on #4234
Right, tracked in https://github.com/angular/angular.js/issues/12877

[2015-09-17 13:51] #4234 closed

[2015-09-17 13:51] gionkunz commented on #3754
@pkozlowski-opensource Actually it's debatable if that feature was "hacky". I actually really liked to specify what events on an element causes change detection. It was explicit but also flexible. Also this is whats (maybe still and shouldn't) listed on this example: https://angular.io/docs/js/latest/guide/user-input.html#local-variables

[2015-09-17 13:52] pkozlowski-opensource commented on #3754
Right - we should definitively update examples then.

[2015-09-17 15:04] sumigoma commented on #4225
Ah, I see that this works indeed - where "sort" and "page" come in through routeParams.
```<a href="#" [router-link]="['/articles', {id:'someId',sort:'Asc',page:'2'}]">Some Link</a> ```

but I have a usecase where I'd like to share the URL i.e. have someone jump into that page directly through the browser address bar. Right now the router just redirects the user, omitting all query params and leav

[2015-09-17 15:08] robwormald commented on #4231
We're not actually using fetch at all, though in general we want the Http implementation to be fetch-like in its interfaces (of course, using Observables over Promises)

Once I finish RxNext porting (see: https://github.com/angular/angular/issues/4149), hopefully in the next couple of days, and then this sort of thing will be much easier to work with and improve on.

[2015-09-17 15:19] tbosch opened #4235 "Transformer: refactor to use new TemplateCompiler"
See https://github.com/angular/angular/blob/master/modules/angular2/src/compiler/template_compiler.ts

## Process

Phase 1:

1. walk over all files that contain directives and create an instance of [`DirectiveMetadata`](https://github.com/angular/angular/blob/master/modules/angular2/src/compiler/directive_metadata.ts#L142)
2. normalize this `DirectiveMetadata` via a call to `TemplateCompiler. norm

[2015-09-17 15:24] tbosch commented on #4235
Note: This needs to be merged at the same time as the runtime parts of the new compiler land...

[2015-09-17 16:20] #4115 closed

[2015-09-17 16:54] gdi2290 commented on #4068
is also a `tsd` problem.
`tsd` released  breaking change as a patch which run `tsd link` on install which in turn links the type definition files to any in `node_modules/`. They released another patch to revert that change so you might have a conflict of a local copy install for your project and your global copy of tsd. Which would cause the inconsistent behavior

What I did was update both copies

[2015-09-17 18:18] lilotop opened #4239 "FormBuilder.group typings doesn't work as expected"
Found during js-il ng2 hackathon.

fb.group({street: [this.address.street, required]});
throws an error - unexpected type.

Victor Savkin of the angular team suggested the following workaround for now:

fb.group(<any>{street: [this.address.street, required]});

[2015-09-17 19:01] talgleichger opened #4240 "Angular2 Injectors errors"
When trying to inject a service, with "viewInjector" or others an error will occur that isn't in the right context. I.e:

EXCEPTION: No provider for ngService

But when changing to "bindings" i.e
[code]

It will work like a charm, but on the documentation there are no explanation for the differences or which one is deprecated.

[2015-09-17 19:04] talgleichger opened #4241 "Angular2 when calling a variable in a function same as the type will raise an out of context error"
I.E
[code]

will raise:
[code]

When the proper way of-course will be to name it properly
[code]

But! the error is out of context and makes it difficult to debug.

[2015-09-17 19:06] pkozlowski-opensource commented on #4241
@talgleichger were your component (directive) named `Home`?

[2015-09-17 19:11] talgleichger commented on #4241
Yes.

(in this snippet my service named ngToast).

[code]

when the right way to write it is:

[code]

but again, the error that was raised wasn't in the right context so it makes it harder to debug.

[2015-09-17 19:12] gdi2290 commented on #4240
"viewInjector" was renamed to "viewBindings"
"hostInjector" was renamed to "bindings"
"appInjector" was removed in favor of bootstrap's appInjector

are you referring to the documentation on angular.io or in the source code? if on angular.io then the website is outdated still

[2015-09-17 19:16] pkozlowski-opensource commented on #4240
@gdi2290 this issue is more about error messages that we are getting here - we should try to improve those if possible

[2015-09-17 19:23] gdi2290 commented on #4241
(the js convention is capital first letter for classes so your service `ngToast` should be `NgToast` so in this example I renamed it)
[code]

@talgleichger the problem might be `NgToast`
if you're injecting services then you should use an @Injectable decorator

[code]

[2015-09-17 20:23] tyleranton commented on #4028
Is this already being worked on? I'd like to start contributing to this project.

[2015-09-17 20:44] jeffbcross commented on #4028
@tyleranton please take it!

[2015-09-17 20:48] tyleranton commented on #4028
@jeffbcross awesome, will do!

[2015-09-17 21:43] btford commented on #4184
I have an enormous WIP PR refactoring angular 1 + router code incoming that addresses this.

[2015-09-17 21:59] PascalPrecht commented on #2788
For everyones interest, everything related to that issue is written down here: http://blog.thoughtram.io/angular/2015/09/17/resolve-service-dependencies-in-angular-2.html

I think this can be closed now.

[2015-09-17 21:59] #2788 closed

[2015-09-17 22:03] PascalPrecht commented on #4241
@gdi2290 is right here. @talgleichger you can read a full explanation here http://blog.thoughtram.io/angular/2015/09/17/resolve-service-dependencies-in-angular-2.html

Can you verify that this is you issue?

[2015-09-17 22:07] PascalPrecht commented on #4240
@pkozlowski-opensource the error message sounds fine to me here. Due to @talgleichger using `viewInjector` which isn't a property on `@Component` configuration anymore, there's basically no binding for `ngService` which means Angular can't find a provider.

@talgleichger as @gdi2290 `viewInjector` is `viewBindings` now. If you want an explanation of why `bindings` and `viewBindings`, you might wan

[2015-09-17 22:12] PascalPrecht commented on #4174
Just mentioning here that `@Query` and `@ViewQuery` are going away in favour of `@ContentChildren` and `@ViewChildren` via https://github.com/angular/angular/pull/4237

Your issue might remain tho.

[2015-09-17 22:14] PascalPrecht commented on #4084
@MrPardeep hey I took a look at your plunk. Unfortunately it's entirely broken. Template paths don't match etc. could you fix that first? Otherwise it's hard to follow and understand your actual problem

[2015-09-17 22:58] morsdyce opened #4244 "Improve Binding errors for directives"
In the hackaton today I've come across some very confusing error messages that could be greatly improved.

Here are some suggestions to improve these error messages if its possible to detect each case individually, the actual messages need some more work (english is not my first language) but the main direction should be letting you know what you did wrong.

I can see many people falling for these

[2015-09-17 23:03] tcigrand commented on #4239
Those two lines are identical.

[2015-09-17 23:57] jeffbcross opened #4245 "fix(http): should throw an exception if input to `http.request` is not string or `Request`"
I forgot to import `Request` in an example where I instantiate `Request` manually, which meant I was instantiating the global `Request` object instead of `Request` provided by `angular2/http`. When passing this to `Http.prototype.request`, the input didn't match the string or `instanceof Request` check, so the method was returning `undefined. Instead, an exception should be raised.

[2015-09-18 00:01] jeffbcross commented on #4245
Here's where the change should occur: https://github.com/angular/angular/blob/2acc1ad08be7ee2f71e0173558cb6f7c14739e6f/modules/angular2/src/http/http.ts#L121

[2015-09-18 00:09] bkyarger commented on #4245
I'd like to tackle this one.

[2015-09-18 00:39] jeffbcross commented on #4245
It's all you, @bkyarger! LMK if you need help writing/running unit tests.

[2015-09-18 00:47] #3339 closed

[2015-09-18 04:10] tyleranton commented on #4028
There's an existing lifecycle folder in `src/core`

Should it go in

`modules/angular2/src/core/lifecycle/lifecycle_hooks.ts`

instead of

`modules/angular2/src/core/lifecycle_hooks.ts`

[2015-09-18 05:50] IgorMinar opened #4246 "Broken error message when ng-for and ng-if are on the same element"
see: http://plnkr.co/edit/FnmjWBd6flYiyUTkXuTs?p=preview

[code]

- why do we print `ng-if true` rather than just `ng-if`
- why is there `null` at the end of error message?
- what's up the second `elementBinders` exception?

[2015-09-18 08:29] #4216 closed

[2015-09-18 11:18] tamascsaba commented on #2965
@btford when you'll have time resolve this issue?

[2015-09-18 14:26] pkozlowski-opensource commented on #4246
* "why do we print ng-if true rather than just ng-if" => sent a PR #4249 to fix it
* "why is there null at the end of error message?" => duplicate of #3506 (even if doesn't look like it at the first sight, it has the same root cause)

"what's up the second elementBinders exception?" remains to be investigated.

[2015-09-18 15:38] bkyarger commented on #4245
@jeffbcross can you show me an example of how you instantiate the global ```Request``` object manually?  I'm not sure how to do that in Typescript for my test.

[2015-09-18 15:49] pkozlowski-opensource commented on #4240
@gdi2290 @PascalPrecht all you are saying is true and the crux here is not to solve the pb but rather provide an error msg that can be understood by a newbie in like 30 secs max. For me a message like

[2015-09-18 16:50] jeffbcross commented on #4245
@bkyarger what we could do instead of instantiating a global `Request` (which isn't present in all test environments) is just provide a value to the request function that isn't really a `Request` or string, but tell typescript that it is.

[code]

[2015-09-18 16:51] bkyarger commented on #4245
Awesome, I'll do that.  Thanks!

[2015-09-18 18:18] yjbanov opened #4253 "Forms: cyclic DI dependency when component is both valueAccessor and validator"
The following pattern results in a cyclic DI dependency (roughly: MyComponent > NgControl > MyComponent):

[code]

## Workaround

[code]

## Solution

Two possibilities:

1. We bless the above workaround and perhaps even provide a `DeferredValidator` as part of ng2 Forms API
2. We alter the value accessor API so that it does not cause the dependency cycle.

[2015-09-18 18:47] IgorMinar opened #4255 "Missing type signatures in api docs"
Check out https://angular.io/docs/js/latest/api/core/ViewContainerRef-interface.html

- [ ] `element` (will be renamed to anchorElement soon) is a field and it is missing the type signature
- [ ] `length` is a getter and is missing the type signature
- [ ] `createEmbeddedView` is a method and is missing the return type in the signature

[2015-09-18 18:50] petebacondarwin commented on #4255
These "should" be fairly simple to fix.

[2015-09-18 18:55] bkyarger commented on #4245
@jeffbcross I've got the change implemented with a test, but I'm having trouble getting the entire ```npm test``` suite to complete.  When it launches firefox to perf tests FF is crashing (I think when installing the xpi) so the perf tests eventually time out.  I'm on OSX and my FF is up to date.  Any suggestions or workarounds?

[2015-09-18 19:06] IgorMinar opened #4256 "Navigating to a docs url with a fragment causes the the browser to over-scroll"
go to https://angular.io/docs/js/latest/api/core/ViewContainerRef-interface.html#createEmbeddedView

the title of the `createEmbeddedView` is hidden behind the top-level site header.

[2015-09-18 19:08] jeffbcross commented on #4245
@bkyarger If unit tests are passing, and if `gulp check-format` passes, I would just go ahead and open a PR and let Travis run the tests. If `gulp check-format` fails, it provides a script you can run to automatically clean up formatting.

[2015-09-18 19:09] bkyarger commented on #4245
Yep, both of those are passing.  PR on the way.  Thanks!

[2015-09-18 19:23] IgorMinar opened #4258 "Combine api member title and type signature into a single line"
Currently our docs for [createHostView](https://angular.io/docs/js/latest/api/core/ViewContainerRef-interface.html#createEmbeddedView) view look like this:

[code]

The member name is present there twice. It would be great to have just a single title that contains both the name and signature (the signature should be syntax highlighted in a different style than our examples to prevent visual confus

[2015-09-18 19:29] IgorMinar opened #4259 "Docs should differentiate between class/interface constructor, fields/getters and methods"
Currently they are all mixed together together under members which makes it hard to understand the interface/class. We should create groupings of members by type.

Constructor is special, so if we expose a public constructor, it should be in it's own section.

Fields and getters are usually treated by the user as the same, so maybe we can document them together? I'm not sure, we should look for a

[2015-09-18 21:11] rkirov opened #4261 "A single error in the compiler is reported as 3+ errors"
See #4246 for a sample error, but any compiler error will work. After the error is reported other errors are thrown:

[code]

This makes is very confusing for users as only the first error is useful.

cc @tbosch (compiler) @alxhub (in case this is bootstrap specific)

[2015-09-18 22:31] IgorMinar opened #4262 "Class/Interface members marked as @private should not be present in the d.ts files"
We have cases where class members are "package private" - used internally by Angular, but not part of the external api. Currently the documentation for these members is hidden, but the d.ts file contains them. We should hide them from the d.ts files as well.

We can't use Typescripts visibility markers like `private` for this, because we need Angular core code outside of the current class to be ab

[2015-09-18 22:53] IgorMinar opened #4265 "d.ts file contains several symbols marked as @private"
We have some classes, functions, etc marked with `@private` doc annotation that are part of the d.ts file.

This looks like an reexport error that should be fixed. Once fixed, we can throw an error if we see this during the d.ts generation.

@mhevery please review the d.ts file and determine if these are being reexported by mistake.

[2015-09-18 23:19] mprobst commented on #4262
Have you considered solving this problem using the normal language internal mechanisms that don't need a special language feature?

E.g. if you have a class that needs a field exposed to other Angular code, you could define a separate interface that's used in the public API, and doesn't declare that property. Export only the interface in the public API, use the class in the private API.

[2015-09-18 23:31] #4262 closed

[2015-09-19 00:07] #4245 closed

[2015-09-19 00:45] btford opened #4269 "fix(angular_1_router): use string tokens for DI"
via @IgorMinar https://github.com/btford/angular/commit/3038eb17b472f1137c09390c477e4259142702d8#commitcomment-13321844

[2015-09-19 01:03] btford commented on #4015
This is a planned feature. There's another issue where I've expended on my plan for implementing it.

[2015-09-19 01:06] btford commented on #3993
I agree. See #4266, which includes this change.

[2015-09-19 01:08] btford commented on #3959
Thanks! I'll spend some time investigating next week. In the meantime, can you see if this is still an issue with alpha-37? There were many fixes in that release, which may have addressed this problem.

[2015-09-19 01:22] btford opened #4270 "RFC: routing to template/controller pairs in Angular 1 router"
In order to aid migration to Component Router, we need a convenient way to configure a route as controller + template pair.

We have a couple options:

- support this in route declaration, overloading the `component` property
- provide this mechanism through the `module.component` API

[2015-09-19 10:18] endash opened #4272 "`router-link` and URL have divergent behaviour with respect to non-string params"
Using the `[router-link]` directive, a param can be bound to an array:

    <a [router-link]="['/card', {card_ids: cardIds}]">cards</a>

    ...
    @RouteConfig([
        { path: '/cards/:card_id', component: Cards, as: 'card' }
    ])
    ...
    class App {
        public cardIds: number[] = [1, 2];
    }

This results, for my dev environment, in the URL `http://localhost:5555/cards/1,2`, and a

[2015-09-19 11:16] gkalpak commented on #4256
`$anchorScroll` had a solution for this in ng1 :)
(Hint: [`yOffset`][1])

[1]: https://docs.angularjs.org/api/ng/service/$anchorScroll#yOffset

[2015-09-19 12:40] webteckie commented on #3838
I also have a use case for this.  Can a plunkr example be provided on how to use the compiler as suggested by @mhevery ?

[2015-09-19 15:10] #3934 closed

[2015-09-19 16:07] azasypkin commented on #1744
@bestander I don't have the patched version anymore, but IIRC I've just replaced ```Function``` with ordinary ```function() {...}```, like:
[code]
converted to:
[code]

There is additional closure, but it was OK for my case.

I was able to do it for Angular itself only.

[2015-09-19 18:24] mgechev opened #4273 "Race condition in npm install"
After I clone the repo:

[code]
...do all the setup described at `DEVELOPER.md` and run `npm install` I **usually** get errors of this form (with different files):

[code]

One every *X* amount of calls of `npm install` the installation works (I usually use `while true; do npm install; done` and suspend it when the installation passes successfully...).

Environment:
- git version 2.5.0
- node 0.12

[2015-09-20 00:33] StacyGay opened #4275 "Proposal: Compiler should attempt to resolve view directives from injector"
Currently directives used by a component are resolved only by type or binding specified in the directives property of the View decorator.  This is fine to prevent selector collision and to help for testing but it does not truly allow dependency injection for components or directives.  It would be incredibly useful for directives to be resolved from the parent injector, especially in multi-tenant a

[2015-09-20 01:11] bestander commented on #1744
Thanks, @azasypkin .
I suppose we'd better open an issue for Angular to provide a CSP compliant reflection_capabilites module.

[2015-09-20 01:43] ruwhan opened #4276 "ng-class and class bugs"
This issue is related with _jqplot_,

Following code will make the jqplot appear
[code]

But **not** with this code:
[code]

As additional note, another element appear normally, just the _jqplot_ chart missing.

It is seems this is an Angular bug.

EDIT: I'm using Angular 1.3.0

[2015-09-20 06:38] azasypkin commented on #1744
@bestander, yeah, definitely. Maybe we just need to reopen this one.

[2015-09-20 07:36] bestander commented on #1744
I'll let you do the honours then :)

On Sun, Sep 20, 2015 at 6:38 PM, Aleh Zasypkin <notifications@github.com>
wrote:

[2015-09-20 07:47] azasypkin commented on #1744
Ha-ha, I don't have rights to do this :) But let's ask reporter or Misko.

Hey @PeEllAvaj or @mhevery, can we reopen this issue at least for the tracking purposes?

Angular2 still has  CSP related issues (```new Function```) [1] at least in ```reflection_capabilities.ts``` [2] that prevents us from using the lib in highly restrictive environment, e.g. Firefox OS apps or add-ons.

[1] https://devel

[2015-09-20 11:41] PascalPrecht commented on #4276
@ruwhan this is the Angular 2 repository. Please submit your issue at http://github.com/angular/angular.js/issues and close this one, thanks!

[2015-09-20 18:35] #4276 closed

[2015-09-20 22:37] wardbell opened #4277 "Add fakeAsync to the bundle"
I see that Igor started exporting fakeAsync on Sept 3rd  in commit 687e7b.  And alpha37 was released on Sept 9th. Is it possible that a Sept 9th release missed a Sept 3rd commit?

All I can say for sure is that fakeAsync is not in the bundle. It does not turn up in a text search of  `angular2.dev.js` or `test_lib.dev.js` of the alpha37 bundles.

P.S. There is a lot of work to be done to make this

[2015-09-20 23:43] mhevery commented on #1744
This works as expected. To run the Angular 2 in CSP mode you have to switch into Dynamic mode or pre-generate change detectors offline. This all has to be documented, so it is done, docs for this and many other things are missing.

[2015-09-21 01:11] vsavkin opened #4278 "Replace System.register bundle with a CJS bundle"
Most developer workflows are based around CJS (Browserify or WebPack) and not System.js. Since System.js can consume cjs bundles, I suggest we replace our System.register bundle with a CJS bundle. In this case, developers that use Browserify or WebPack will be able to use it, and it should still work with System.

Notes:

* System.register has a lot of overhead comparing to CJS. My naive measureme

[2015-09-21 03:08] johnpapa opened #4279 "Pipes is missing from @ViewFactory in angular.d.ts"
In alpha 37 and using TypeScript 1.6, I get an error when I try to use pipes in a component. The component (trimmed) is below.

[code]

This now generates this `tsc` error when using the `/node_modules/angular2/bundles/typings/angular2.d.ts` typings file bundled with alpha 37.

[code]

I added `pipes` as a valid property as shown below (see the comments inline).

[code]

Is this the right way to g

[2015-09-21 05:21] mgechev commented on #4279
Here is a [PR](https://github.com/angular/angular/pull/4250) is related to this issue.

[2015-09-21 07:48] mgechev commented on #2840
Since `Request` is exposed by the public API, it may create confusion if the users can pass both strings and `RequestMethods` to the `http` methods when using object literals and only `RequestMethods` when using `Request`.

@jeffbcross I added support of passing HTTP method names as strings to `RequestOptions` [here](https://github.com/mgechev/angular/commit/d363256de1876f8abaf381de945957084fbad6e

[2015-09-21 09:00] ckrad opened #4280 "ng-change inside directive not work"
[code]

it will not work.

[2015-09-21 09:02] mgechev commented on #4280
This repository is for Angular 2 only. You can post AngularJS 1.x related issues [here](https://github.com/angular/angular.js/issues).

[2015-09-21 09:05] pkozlowski-opensource commented on #4280
@mgechev is right. On top of this it sounds like a general support question that should be asked using a dedicated support channel: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question

[2015-09-21 09:05] #4280 closed

[2015-09-21 11:03] Litor opened #4281 "sourcemap not work in chrome"
i run 'gulp serve.js.dev' in cmd and is worked in chrome,  but in chrome debug tools i see only .js file is loaded, the .js.map is not loaded. in server dist folder .js.map is existed in the same directory.

the end of .js file like this:
exports.AnimateApp = AnimateApp;
//# sourceMappingURL=animate-app.js.map
}).apply(__cjsWrapper.exports, __cjsWrapper.args);

[2015-09-21 12:06] johnpapa commented on #4279
Awesome. Thanks.

[2015-09-21 13:08] johnpapa commented on #4278
Great topic! Thanks for raising this.

You say "Most developer workflows are based around CJS (Browserify or WebPack) and not System.js. " ... I am not sure how that is being measured. I find that most developers I interact with have very little experience with any of these, thus making any guess on who the leader is a pure guess.

I believe there should be a few goals for the module loader:

1. L

[2015-09-21 15:09] brandonroberts commented on #3959
I tested it with the new build and it does work correctly now. Thanks!

[2015-09-21 15:23] leibale opened #4283 "rebind expressions by filter"
my filter has config that my change at any time,
i need listen to `config.change` and rebind all the expressions using this filter (and only them, i don't want to set the `$stateful` on the filter to `true` and run `$rootScope.$apply();` when i need to rebind).

[2015-09-21 15:38] mgechev commented on #4283
This repository is for Angular 2 only. You can post AngularJS 1.x related issues [here](https://github.com/angular/angular.js/issues).

[2015-09-21 15:43] pkozlowski-opensource commented on #4278
@vsavkin I will be talking about modules / module loading and tools during AngularConnect so this topic is close to my hart and I was planning to discuss more about it with @rkirov. For now I've started to gathering my thoughts in https://docs.google.com/document/d/13crBXngwx9f7pcn0DeniZn12XqnbJuyiuh5dbT5nz64/edit?usp=sharing (comments welcomed!)

Now, regarding the issue at hand: while I agree wi

[2015-09-21 15:45] #4283 closed

[2015-09-21 16:41] splintercode opened #4285 "Input type radio with FormBuilder"
Radio inputs does not work with FormBuilder. Looks like radio buttons are not yet implemented?

https://github.com/angular/angular/tree/master/modules/angular2/src/core/forms/directives

[2015-09-21 16:42] #3959 closed

[2015-09-21 17:54] jeffbcross opened #4287 "refactor(EventEmitter): rename "next" to "emit""
As `EventEmitter`'s ultimate fate is being decided in #4149, small steps should be taken to start de-coupling it from Rx, since it is an abstraction of Rx. One small step to disambiguate `EventEmitter` from Subject is to change the `next` method to `emit`.

Note that in #4149, there's more substantial discussion about how to properly leverage Observables inside the Angular codebase.

[2015-09-21 17:56] jeffbcross commented on #2788
Thanks for linking the article, @PascalPrecht! I hope we can find a good way to remove the need for `@Injectable`...

[2015-09-21 17:58] rkirov commented on #4278
There are two separate proposals here:

- replacing the bundling tool we use in this repo.
- changing getting-started on angular.io, which naturally extends into picking a recommended module loader for angular2.

I think we can move forward on the first one purely based on code-size, since a CJS bundle is consumable by every tool, including System.js. I would like to see browserify as a comparison

[2015-09-21 17:59] jeffbcross commented on #4043
@robwormald seems like this goes hand in hand with #2794 that you'll be working on this week, so I'll assign this to you.

[2015-09-21 18:04] Mc128k opened #4288 "View not updated if using JSPM package"
Hi all,
I am pretty new to Angular, and I am starting to learn the whole JS stack using the latest technologies (TypeScript, Angular2, node, SystemJS, ES6). During the development of a specific test code I see that the view does not get updated, while it works perfectly if I link different Angular2 and Traceur libraries. Installing them via JSPM does not create any error in the console, but it jus

[2015-09-21 18:05] pkozlowski-opensource commented on #4278
Totally agree with @rkirov that we should separate discussion about the format / tools used to produce bundles on our side vs. what we recommend to ng2 users. And I would be really careful about recommending WebPack at this point, this should be consisted with CLI efforts. Still few remarks:

Is this the only trade-off? Do we've got the same semantic of ES6 modules?
So I would really love to see a

[2015-09-21 18:22] tbosch opened #4289 "Lifecycle callback `onChange` is not in sync with directive creation order"
Directives are created in the order defined by the dependency information of their constructors. However, the order of directives when calling the `onChanges` callback of directives is only depending on the order defined by the `SelectorMatcher`.

E.g. in forms: `DefaultValueAccessor#ngClassUntouched` relies on the fact that `NgControlName#onChanges()` has already been called when both of them mat

[2015-09-21 18:22] tbosch commented on #4289
Note that this is non trivial as the transformer also has to read out these dependencies and calculate the correct order!

[2015-09-21 18:24] tbosch commented on #4289
Will be solved together with https://github.com/angular/angular/issues/3605

[2015-09-21 19:43] cmsdesigner opened #4291 "problem with the es6-shim under ie (edge) v 11"
Hi ,
i have a angular 2 sample (ng2-play)
 when i execute gulp play i have my ie browser is launched automatically and my page browser show only Loading...., and when i check a console i have an error on
Fichier : localhost:9000, ligne : 19, colonne : 5 and it says in french
System.config({defaultJSExtensions: true});
L’objet ne gère pas la propriété ou la méthode « config »
But the strange is it

[2015-09-21 19:48] Jandalf commented on #4288
I have the exact same problem. I created a very simple todo app with angular2+jspm and on adding a todo the console will log the bigger todo array but the view won't update.

https://github.com/Jandalf/angular2-jspm-docker-vscode-template/tree/master/client

(using alpha.37)

[2015-09-21 19:49] PascalPrecht commented on #4291
@cmsdesigner this is rather an issue for the https://github.com/pkozlowski-opensource/ng2-play.ts repository. Please file an issue there. Thanks!

[2015-09-21 19:56] pkozlowski-opensource commented on #4291
@PascalPrecht nope, this is not an issue about the starter repo but rather about browsers support.

[2015-09-21 19:56] btford commented on #4184
Addressed in #4266.

[2015-09-21 19:56] #4184 closed

[2015-09-21 19:57] btford commented on #3993
Addressed in #4266.

[2015-09-21 19:57] #3993 closed

[2015-09-21 19:58] pkozlowski-opensource commented on #4291
Although I'm afraid it is hardly actionable in the current form. @mlaval is doing tons of work on various browsers support so this issue will be resolved as part of this work.

[2015-09-21 19:58] #4291 closed

[2015-09-21 20:01] ericmartinezr commented on #4288
My two cents.

[This user had the same issue](http://stackoverflow.com/questions/32581373/angular-2-binding-issue-on-child-routes) and although he didn't find the solution per se, he found out that the config generated by JSPM is causing the issue.

 I had a similar issue using Promise from `es6-promise` directly, then I was suggested to remove the import and just use `Promise` which is patched by

[2015-09-21 20:12] tbosch commented on #4289
Also, right now, the transformer does not have a type resolver, it only copies the imports from the original source code..

[2015-09-21 20:13] tbosch commented on #4289
We could also determine the order of directives when creating the `ProtoElementInjector`, as we need to do this anyways when creating the injector...

[2015-09-21 20:15] tbosch commented on #4289
Note that this needs to be done while we generate code for the change detectors already!

[2015-09-21 20:18] vsavkin commented on #4278
@johnpapa

You are probably right in saying that most developers do not user bundlers at all. But early adopters and innovators, who are going to play with Angular 2 first, probably use bundlers. Just one survey http://ashleynolan.co.uk/blog/frontend-tooling-survey-2015-results (WebPack + Browserify = 30%, JSPM = 2.5%)

I think there is no significant downside in switching to a CJS bundle. The Sys

[2015-09-21 20:19] Mc128k commented on #4288
Hi, thanks for the update. In the code I am trying I am not even importing es6, I just use systemjs to import Angular2 and reflect-metadata, using Traceur to handle code in the browser. About the config file you mentioned, I don't think there could be anything interesting, it's primarily made of file mappings; what is *really* loaded is then specified in the .ts files I think (correct me if I'm wr

[2015-09-21 20:24] jeffbcross commented on #4278
@pkozlowski-opensource for Angular itself, what ES6 semantics do we need in our output? The internal imports/exports are already designed to not require cyclic dependency resolution, since we are already supporting CJS.

[2015-09-21 20:34] vsavkin opened #4294 "Classes with static members cannot have private constructors (d.ts)"
[code]

Generates the following d.ts file:

[code]

This is incorrect because interfaces cannot have static members.

We should probably generate the MyClass namespace in addition to the MyClass interface.

[2015-09-21 20:37] alexeagle commented on #3694
@rkirov fixed this last week by using es6-shim instead.

[2015-09-21 20:37] #3694 closed

[2015-09-21 20:39] alexeagle commented on #2829
@rkirov finished this last week.

[2015-09-21 20:39] #2829 closed

[2015-09-21 20:40] petebacondarwin commented on #4294
@vsavkin and @mhevery - if you could agree what is the best solution here then I can implement it.

[2015-09-21 20:41] alexeagle opened #4296 "remove es5build.js from our npm releases"
Now that we don't use traceur this feature is not useful for users

[2015-09-21 20:43] alexeagle opened #4297 "Remove traceur-runtime.d.ts"
Now that we don't use traceur-runtime at runtime, we shouldn't have a typings file for it.
es6-shim.d.ts exists on definitely typed.

[2015-09-21 20:45] mhevery commented on #4294
My first thought is:

1. can we not just have both static and `@private`? @vsavkin what are some examples where this is an issue.
2. If 1 can not be fixed then the proposal is correct one.

[2015-09-21 20:55] jrote1 opened #4298 "feat(router): Ability to specify route on Component"
It would be cool to be able to specify a route on a component for easy reference of what the route is. So possibly a Route attribute with the same parameters for a single route in RouteConfig attribute minus the component type.

[2015-09-21 21:34] cmsdesigner commented on #4291
Tank's very much for you reply , and hop that is will be solved soon
 
Good luck
 
----- Mail original -----

De: "Pawel Kozlowski" <notifications@github.com>
À: "angular/angular" <angular@noreply.github.com>
Cc: "mjhdesigner" <mjhdesigner@laposte.net>
Envoyé: Lundi 21 Septembre 2015 19:59:29
Objet: Re: [angular] problem with the es6-shim under ie (edge) v 11 (#4291)

Although I'm afraid it is har

[2015-09-21 21:54] naomiblack opened #4300 "docs: router docs have old style square bracket links not recognized by dgeni"
Needs a search and fix pass -- e.g. `Defines route lifecycle method [onActivate]` which should be `Defines route lifecycle method {@link onActivate}`

[2015-09-21 23:43] vsavkin opened #4301 "@private should work for classes"
[code]

MyClass should appear neither in the d.ts file nor in the docs.

@IgorMinar

[2015-09-22 02:39] robwormald commented on #4278
My 2c - We should be moving away from bundling as a internal thing anyway. ES5 users will of course need a pre-bundled ES5 build (and I don't have much of an opinion there, since whatever mechanic we use to build it is irrelevant to the end user - they just use the `ng` global). Modern users (who are quite used to using browserify/webpack/etc) likely don't need the handholding, and us building mas

[2015-09-22 02:43] robwormald commented on #4278
Further - as we move closer to beta, if we continue to distribute a big System.register bundle (which @guybedford  has more or less explicitly stated as a *bad* idea) users will begin to expect that to be an "angular responsibility"

It's useful for plunkers (which was the original stated use case for the big bundle) but not something we want to own going forward, and certainly not recommend as we

[2015-09-22 03:05] robwormald commented on #4288
might be a zoneJS issue, though I would expect it to throw...

try out the steps here: https://gist.github.com/robwormald/429e01c6d802767441ec

note the zone.js import

[2015-09-22 03:22] btford commented on #4272
Non-string params are not yet supported. See #2959.

[2015-09-22 04:48] Mc128k commented on #4288
Great, that was even the guide I followed, I just forgot to include zone.js. After doing that, data binding works. Still it's weird that no message are raised. Is this a bug or an expected feature? Should I notify it to zone.js?

Thanks a lot

[2015-09-22 06:48] subhrajyotiw5rtc opened #4305 "Unable to get query string value using $location in angular.js 1.4.6."
Hi, i have a big issue here.I have a URL like this ```localhost://phpdemo/edit_data.php?edt_id=1```.Here i need the query string value ```i.e-1```.I used two process such as 1) $location.search() 2) $location.search()['edt_id'] but did not get any required value in browser's console.I am explaining my code below.

[code]
Please help me to resolve this issue and find out the required value.

[2015-09-22 07:04] gdi2290 commented on #4305
this is the Angular 2 repo. could you create an issue in the Angular 1 repo?
https://github.com/angular/angular.js

[2015-09-22 08:43] bharathm03 opened #4307 "Optional `params` argument in create method of KeyValueDifferFactory and IterableDifferFactory"
Apart from `ChangeDectorRef`, it is better to have optional `params` argument in the `create` method of `DifferFactory`. This could be useful in sending additional settings to Factory for creating customized Differ while using custom DifferFactory.

Also it could be useful to make `DefaultIterableDiffer` and `DefaultKeyValueDiffer` public.

[2015-09-22 08:45] pkozlowski-opensource commented on #4305
As @gdi2290 pointed out, this is wrong repo. Having said this I _suspect_ that you are using #-mode for routing and want to read server-side request params using client-side routing API, which obviously won't work. I would suggest that you carefully go over https://docs.angularjs.org/guide/$location and ask support questions using one of the support channels (https://github.com/angular/angular.js/

[2015-09-22 08:45] #4305 closed

[2015-09-22 08:47] pkozlowski-opensource commented on #4288
Yes, zone.js is required. We've got an issue to throw if it is not present: https://github.com/angular/angular/issues/2683

[2015-09-22 08:47] #4288 closed

[2015-09-22 12:06] mediacad opened #4309 "ES5 ComponentRouter script for Angular 1 and documentation"
Where can I find ES5 ComponentRouter script for Angular 1 and documentation ?

[2015-09-22 13:24] echonax opened #4311 "getting started doc small typo mistake"
"live-server --open src" in the getting started section (Run it!) should be "live-server --open=src"

[2015-09-22 13:51] PascalPrecht commented on #4311
@echonax thanks! Do you mean the getting started guide on angular.io?

[2015-09-22 13:52] PascalPrecht commented on #4309
@mediacad the angular 1 router is here: https://github.com/angular/angular/tree/master/modules/angular1_router

Docs are being written as of right now. Stay tuned.

[2015-09-22 14:02] mediacad commented on #4309
Thank you !

[2015-09-22 14:02] #4309 closed

[2015-09-22 14:04] pkozlowski-opensource opened #4313 "docs: special treatment / template for directive docs"
Currently documentation generated for directives is using the same template / contains the same info as any other regular TypeScript class (so all the annotations, constructor, members etc.). While this makes the documentation complete it is not very useful for people using directives in templates.

Taking the example of the [NgClass directive](https://angular.io/docs/js/latest/api/core/NgClass-cl

[2015-09-22 14:23] echonax commented on #4311
@PascalPrecht yes exactly, the typescript part. I thought I should point that out just to save people a couple of seconds :)

[2015-09-22 14:25] pkozlowski-opensource commented on #4278
@jeffbcross oh, right. I was under the impression that we still got some cyclic dependencies. But from what you are saying we should be safe here. So the only other item would be importing things from "outside" of `angular2/angular2`.

The other item I would like to test before moving to CJS is what is the impact on the loader (more files / bigger files to include) and its configuration. Will play

[2015-09-22 14:37] pkozlowski-opensource commented on #4278
@robwormald could you elaborate? What is the alternative proposal? People doing the bundling on their own? Or serving un-packaged ng2 with HTTP2 "magic"? Or sth else?

As the framework user I would love to use a bundled framework version even if writing in ES6 / TS. Bundling your own version of ng2 is pain in a neck (downloading, configuring tools etc.). IMO it is too much to expect from an averag

[2015-09-22 15:13] petebacondarwin commented on #4313
I can knock up a PR for this...

[2015-09-22 15:14] petebacondarwin commented on #4313
Oh and this issue should probably in the https://github.com/angular/angular.io project, since we have moved the doc generation there.

[2015-09-22 15:20] pkozlowski-opensource commented on #4313
@petebacondarwin glad to hear that it sounds doable :-)

Thinking about the topic some more we've got now `@Property` and `@Event` decorators which probably make things a bit more complex. On the other hand it gives us opportunity to have type information for properties.

Oh, and feel free to move it over to https://github.com/angular/angular.io if this is a better place.

[2015-09-22 17:34] PascalPrecht commented on #4311
Could you file that issue over at http://github.com/angular/angular.io then?

Thanks!

[2015-09-22 17:49] rkirov opened #4315 "add common js bundles output"
- [x] make e2e examples use bundles (otherwise we have no automated testing for the bundles)
- [ ] decide which tool to produce a CJS bundle (webpack vs browserify vs systemjs builder)
- [ ] add the CJS bundle to the build (while keeping system bundle)

// cc @pkozlowski-opensource @vsavkin @IgorMinar @jeffbcross

[2015-09-22 17:51] rkirov commented on #4315
This takes over the first proposal in #4278

[2015-09-22 18:27] Jandalf commented on #4288
thanks, that did it

[2015-09-22 18:29] jeffbcross opened #4316 "fix(build): restore pub serve version of PR Travis Job"
Currently all PRs are failing on Travis, but master and presubmit jobs are unaffected. This is due to an unknown issue with `pub serve`, which is how PRs are tested as opposed to dart2js compilation that happens on presubmit and master branches.

I'm submitting a PR to run dart2js for all PRs until this issue can be investigated. This will add about 10m to each PR, but it's better than outright fa

[2015-09-22 19:47] alexeagle commented on #3431
Made some progress, I now have our broccoli build toolchain bootstrapping and running.
Next blocker I've run into is https://github.com/Microsoft/TypeScript/issues/4929

[2015-09-22 20:11] IgorMinar opened #4318 "Bootstrap complexity creep due to ROUTER_PRIMARY_COMPONENT"
With the recent platform/bootstrap refactoring we now added a requirement for people to bind the primary component during bootstrap:

[code]

Since 99% of applications will not utilize the multiple app feature which this api change enables, we are making the bootstrapping significantly more complicated for the majority of our developers.

Can we consider creating a special bootstrap entry point fo

[2015-09-22 20:15] btford opened #4319 "feat(router): provide RouteConfig object for AuxRoute"
Right now, you must do:

[code]

To use auxiliary routes. We should provide a more ES5-friendly version like:

[code]

Or:

[code]

I'm open to suggestions.

[2015-09-22 20:16] PascalPrecht commented on #4318
Do you think of an replacement for the currently exported `routerBindings(PRIMARY_APP)` helper function?

I just had a discussion about this with @btford, where he mentioned that we might just want to export that helper function. Didn't think about multi-app apps yet, also not sure how this affects the bootstrap process.

AFAIK we use `platform()` to bootstrap multiple apps with the same change de

[2015-09-22 20:19] PascalPrecht commented on #4319
Without thinking about it too much, I'd vote for something like:

[code]

[2015-09-22 20:25] btford commented on #4319
I think that's a bad option. Consider scanning down a list of routes:

[code]

You can't easily tell when scanning this list which ones are auxiliary. For instance, it looks like a mistake that you have two routes with path `/bar`, when it's in fact a valid config because one is auxiliary. You won't notice this until you scan all the way right through the different options.

[2015-09-22 20:29] btford commented on #4318
@PascalPrecht the helper still has the same additional complexity problem.

[2015-09-22 20:37] alxhub commented on #4318
The goal is to actually get rid of `ROUTER_PRIMARY_COMPONENT` as well, and have `Router` inject and query `ApplicationRef` to retrieve the root component(s) and process their configuration.

I agree that `routerBindings()` vs `ROUTER_BINDINGS` is confusing - I didn't want to remove the latter because `routerBindings()` is only temporary until `Router` implements the above.

[2015-09-22 20:51] DannyMeister commented on #4275
Agreed.  So far I haven't been getting any traction on getting injectable component support within the framework.  I'd want it to be taken a little further as well, as the projects I'm working on can't really be done with a static DI binding like you show in your example.  Right now I've gotten around it by creating my own DynamicComponentLoader-based solution.

[2015-09-22 21:03] PascalPrecht commented on #4319
Hm.. I understand. But it feels inconsistent otherwise.. Thing is, that other route definitions like `Redirect` for example, also just introduce another property which is (prolly) used to determine the route definition type. It just made sense to me to introduce such a property for aux route too, while keeping the rest consistent..

[2015-09-22 21:04] StacyGay commented on #4275
@DannyMeister do you have a public example of this DynamicComponentLoader I could peek at?  I've been meaning to get at a workaround but haven't found the time yet.

[2015-09-22 21:06] vicb opened #4320 "Should we rename `@HostBinding` to `@HostProperty`"
"binding" is mostly used in the context of the DI (`bindings`, `viewBindings`) and IMO `@HostBinding` can be confusing.

What about renaming `@HostBinding` to `@HostProperty` ?

/cc @vsavkin @mhevery @IgorMinar

[2015-09-22 21:14] pkozlowski-opensource commented on #4320
+1 for the proposed rename. We should really find 2 different names as not confuse DI and property bindings.

[2015-09-22 21:23] yanivefraim commented on #2961
@vsavkin @mhevery - can I take this one? Thanks!

[2015-09-22 21:47] yjbanov opened #4322 "Angular's Event type in conflict with dart:html and lib.d.ts Event types"
We should rename it. There's too much code that uses both DOM APIs and Angular 2. It would be unreasonable to have users rename/hide or otherwise manually resolve these two types.

NOTE: also have to rename the `events` property in `Directive`.

[2015-09-22 21:48] yjbanov commented on #4322
/cc @mhevery

[2015-09-22 22:35] alxhub opened #4323 "Change detection error -> infinite loop"
I found a case where change detection enters an infinite loop on an error.

The code in question:

[code]

The key is the `ng-if` expression `!d.valid`. `d` is not defined, and this triggers an infinite loop.

Here is a [full Plunker example](http://plnkr.co/edit/03L0zfq0RI0oRpPB662U?p=info).

[2015-09-22 22:59] #4221 closed

[2015-09-22 23:45] #2800 closed

[2015-09-23 00:12] jeffbcross commented on #2840
@mgechev I left a couple of comments on the commit, but yeah, looks good! Please PR! I will assign this to myself just to show that someone's working on it (github issues can only be assigned to those with commit access).

[2015-09-23 00:18] jeffbcross commented on #2840
I agree, please also add the `normalizeMethod` to `Request`. `Request` actually is a useful public API, especially in tests.

[2015-09-23 00:36] vsavkin opened #4326 "Create Setters for Query Fields"
Transformers should create setters for all keys in the queries map.

For instance, the following should create setters for the `children` and `viewChild` fields.

[code]

This should also work with property decorators (which should already work if transformers delegate reading annotations to directive resolver):

[code]

[2015-09-23 00:47] #4300 closed

[2015-09-23 03:16] butaixianran opened #4328 "Need a solution to speed up Angular2!!"
Angular 2 is really wonderful in many ways, but A BIG problem is: It's tooo slow when you open an Angular 2 page for the first time.

Here is an example: (in Chinese)
https://771dian.com/danmu

![2015-09-23 11-10-03](https://cloud.githubusercontent.com/assets/5558722/10037119/35722218-61e4-11e5-8e5b-b9bb910466aa.jpg)

This simple page includes nearly 20 angular2 components, each one with a .js fil

[2015-09-23 03:47] todoubaba opened #4330 "Exception raised when dynamic load component with template"
Plunker demo http://plnkr.co/edit/OjK2u16P3ZcO1fSPnNAf?p=preview

[code]

When click load button, throws the following exception:
[code]

[2015-09-23 03:57] mhevery commented on #4318
@IgorMinar what @alxhub said https://github.com/angular/angular/issues/4318#issuecomment-142412617 I believe he is working on redoing this work.

[2015-09-23 04:18] mhevery commented on #4322
Do you have a suggestion for a good name?

[2015-09-23 04:25] mhevery commented on #4320
@vsavkin can you comment?

I don`t think we should use `@HostProperty` since it would imply that it has same semantics as `@Property`, which it does not. `@Property` copies data from the binding to the component, where as `@HostProperty` would create a binding which would update the DOM. Can you suggest something other than `@HostProperty`?

[2015-09-23 04:26] mhevery commented on #2961
@yanivefraim it is all yours! We would love your contribution.

[2015-09-23 04:31] mmrath commented on #3804
Yes another form is unwanted. @danicomas @mhevery  you got any workaround?

[2015-09-23 04:44] yanivefraim commented on #2961
Cool, I am on it. Thanks!

[2015-09-23 04:46] mhevery commented on #3804
@vsavkin can you comment on how we could create a `<input>` without  a `<form>`. Can we demarcate the container in some other way?

[2015-09-23 05:15] btford commented on #4273
This line is surprising to me:

- Do you have some global git hooks or aliases or something?
- Can you try updating npm? `npm install -g npm`
- Otherwise idk if there's much we can do– might be worth filing this on npm's issue tracker.

[2015-09-23 05:21] yjbanov commented on #4322
Dunno. How about this?

[code]

[2015-09-23 05:24] btford commented on #4225
@sumigoma there's a related known bug right now: #3957

[2015-09-23 05:25] btford commented on #4089
Duplicate of #3957.

Please track that issue, closing this one in favor.

[2015-09-23 05:25] #4089 closed

[2015-09-23 05:31] mhevery commented on #4322
@vsavkin @pkozlowski-opensource @IgorMinar @vicb can you comment?

[2015-09-23 07:01] mgechev commented on #2840
I took another look at `Request`. It accepts `RequestOptions`, however, inside the `RequestOptions`'s constructor we already normalize the method name. Which means the following is valid:

[code]

However, in case the `Request` constructor function is used with ES5 it won't work. I added one extra call of `normalizeMethodName` inside `Request`'s constructor.

Here is the [PR](https://github.com/an

[2015-09-23 07:04] gdi2290 commented on #4319
what do you think of a type property?
`{type: 'aux'}`|`{type: 'redirect'}`|`{type: 'async'}`

[2015-09-23 07:06] btford commented on #4319
@gdi2290 I think that suffers the same problem I mentioned in https://github.com/angular/angular/issues/4319#issuecomment-142409323

Each other type introduces a new "target" (redirectTo, component, etc.) while keeping "path". Aux routes are different because the meaning of their "path" is different. For this reason, I think something about `path` (or whatever property comes first) needs to be dif

[2015-09-23 07:14] mgechev commented on #4328
@butaixianran you can inline the component templates (for example you can try this [gulp task](https://github.com/ludohenin/gulp-inline-ng2-template) by @ludohenin) and after that create a single bundle with all your scripts.

This will reduce the requests dramatically.

[2015-09-23 07:22] gdi2290 commented on #4328
can you provide a github repo? perhaps a clone showing similar problems in case you can't share the current codebase. There are many ways to optimize initial loads include one method that is yet to be released

[2015-09-23 07:24] btford opened #4333 "fix(router): router-link does not respect location strategy"
In particular, binding the `HashLocationStrategy` still makes router-link produce an href without the leading hash, which obviously does not work when copying or opening a link in another tab.

Tracks internal bug b/24126114.

[2015-09-23 07:26] btford commented on #2965
@tamascsaba maybe early next week. I'll update this issue as I make progress.

[2015-09-23 07:31] danicomas commented on #3804
We should reopen this issue @mhevery. Isn't it?

[2015-09-23 07:45] gdi2290 commented on #4319
@btford ya that's a good point. I also agree @PascalPrecht that it is inconsistent otherwise. The benefit of my proposal is that it's following a javascript convention for the most part. For example, we can look at the GeoJson spec
[code]
notice how there are two types here as it's one way to serialize types. We soon realized that this convention may result in maintainability problems when communi

[2015-09-23 08:11] gdi2290 commented on #3804
imho I think what you're looking for is `ng-form` for InputText
http://plnkr.co/edit/bFNqDrH0akyZ4ua0vzHz?p=preview
[code]
there's also a mix between template-driven forms and model-driven forms which is totally fine. I can elaborate more on why this is the case and how we reached this point but that also takes a bit of effort so I'll only do so if you need more explanation

[2015-09-23 08:14] pkozlowski-opensource commented on #4322
I like the current `@Event` but I understand the issue on the Dart side. `@Emits` sounds like a good name but it is not consistent with other names (`@Property`, `@HostBinding`) which are nouns.

Having said this I don't have great name candidates. The only thing that comes to my mind is `@CustomEvent` or `@DirectiveEvent` if we want to stick with nouns. `@Emitter` sounds too confusing...

[2015-09-23 10:47] danicomas commented on #3804
@gdi2290 and why the console.log doesn't return the modified value?

[2015-09-23 11:06] devmark commented on #4328
just minify js or html.

[2015-09-23 11:20] S-YOU commented on #4328
your server is just slow, it took 10s to download angular2.dev.js. (non-minified, no gzip)

![2015-09-23 20 16 06](https://cloud.githubusercontent.com/assets/1001175/10043684/fdab4390-622f-11e5-9585-c5bcd836e3df.png)

while google cdn can serve it around 100ms for angular 1x (non-minified, with gzip)
![2015-09-23 20 18 15](https://cloud.githubusercontent.com/assets/1001175/10043731/4efc73ae-6230-1

[2015-09-23 11:36] TiagoBraga39 opened #4334 "Resolving service as a dependency"
Hi all!

I am having troubles while instanciating dependencies. The dependency is called NagivationMapper.
[code]

I have a Component that I bootstrap:
[code]
As you can see, I inject the NavigationMapper service and I also have a Home component in my router.
This time only, the dependency is resolved.
[code]

As far as I am concerned, I don't need to inject the NavigationMapper also on the Home C

[2015-09-23 11:39] pkozlowski-opensource commented on #4334
For a start the "ReferenceError: NavigationMapper is not defined" would probably mean that you are not importing it (ES6 import) in your code. Share a plunk so we can help more.

[2015-09-23 11:40] TiagoBraga39 commented on #4334
@pkozlowski-opensource I forgot to say that I am importng on both components

[2015-09-23 12:06] mgechev commented on #4273
I updated npm to 3.3.3 with node 0.12.7 and it still doesn't work. I'll close this issue and open one in npm's tracker.

[2015-09-23 12:06] #4273 closed

[2015-09-23 12:57] mgechev commented on #4334
I think there're a couple of problems here:
- Incorrect use of `ComponentMetadata` and `ViewMetadata`. Both are not decorators, instead you need to use `Component` and `View` (take a look [here](https://github.com/angular/angular/blob/cc0c30484f52ceff81a95318c883ffe7eb280fa1/modules/angular2/src/core/metadata.ts#L536-L547))
- You haven't declared `navigationMapper` as property of `Shell`

However,

[2015-09-23 13:02] pkozlowski-opensource commented on #4334
This depends on the setup. This would work with traceur.

This is why I've asked for a plunk - there is just not enough context to help here.

[2015-09-23 13:04] TiagoBraga39 commented on #4334
I am using traceur yes.
I know, I am working on the plunkr which still has some issues.

[2015-09-23 13:13] mgechev commented on #4334
@pkozlowski-opensource @TiagoBraga39 ah, my mistake. Excuse me for my ignorance.

[2015-09-23 13:30] TiagoBraga39 commented on #4334
My plunkr keeps on sending this:
![image](https://cloud.githubusercontent.com/assets/8090726/10046213/3d84ddea-61ff-11e5-8666-86cd6fa71297.png)

This only happens with the router in the constructor (I searched on github for the error, but nothing solved)...

This is the plunkr: http://plnkr.co/edit/HC9qA16QiSt8TZMwziZN?p=preview
Keep in mind this is not happening in my "real" code.

Best regards,

[2015-09-23 13:32] pkozlowski-opensource commented on #4334
@TiagoBraga39 is router essential to reproducing your pb? If not - drop it.

[2015-09-23 13:42] TiagoBraga39 commented on #4334
Getting the same error while instanciating: http://plnkr.co/edit/HC9qA16QiSt8TZMwziZN?p=preview

[2015-09-23 13:49] pkozlowski-opensource commented on #4334
@TiagoBraga39 you are trying to use type annotations with Babel - I'm not sure it supports those...

[2015-09-23 14:01] TiagoBraga39 commented on #4334
@pkozlowski-opensource  removed types. Still the same :/
http://plnkr.co/edit/0XaZLeiaUPZO9woQ0dzI?p=preview

[2015-09-23 14:03] pkozlowski-opensource commented on #4328
@butaixianran I think that people in this thread have identified a number of optimizations that you can make today. At the same time @tbosch is working hard on the compiler changes that will make it possible to pre-compile all the templates as part of the build step. This means that you will be able to compile templates off-line and combine / minify resulting JS output.

But yeh, for now you need

[2015-09-23 14:03] #4328 closed

[2015-09-23 14:22] pkozlowski-opensource commented on #4278
@vsavkin @rkirov so I've played a bit with bundling angular2 using CJS instead of System.register. Using webpack to generate a minified bundle I can also see ~20% size difference in favor of CJS.

The funny thing is that most of the overhead seems to be coming from ... paths usage in the System.register format. Indeed we have this: `System.register("path", ["dep1path", "dep2path"]` and our paths g

[2015-09-23 14:42] IgorMinar commented on #4262
We did and in the future we will likely refactor the code, but this change
will require a lot of casting on the public api perimeter which we are not
keen on to do right now.

On Fri, Sep 18, 2015 at 4:19 PM Martin Probst <notifications@github.com>
wrote:

[2015-09-23 14:45] IgorMinar commented on #4320
+1 for rename

I think that `@HostProperty` is a good name, we should add a note about the different semantics compared to `@Property`. It's not that different though.

[2015-09-23 14:54] pkozlowski-opensource commented on #4320
Yeh, when I saw +1 for the rename I was thinking "at the end of the day we are setting a property". It is very true that we either setting this property on a DOM element or a directive, but in both cases we are updating a property in response to model changes.

[2015-09-23 14:57] IgorMinar commented on #4320
@mhevery your use of the term "binding" is confusing (which is related to what this issue is trying to fix)

[2015-09-23 15:27] mhevery commented on #4320
I am fine with rename, but I think renaming to `@HostProperty` is a mistake, so let's brainstorm some other names.

@IgorMinar as I said before `@HostProperty` is wrong since it has completely different semantics to `@Property` when you add prefix you are clarifying something. So it is not just a property, it is a special `Host` property, except in this case it would be something completely differ

[2015-09-23 15:30] mhevery commented on #4278
https://github.com/angular/angular/issues/4278#issuecomment-142616954 goes to show that we need a bundler which removes all internal traces of import structure, and just gives us a single bundle. Seems like savings are 20%+ and I think it would be even higher if we would remove all of the `iif`s which are generated from the files.

[2015-09-23 15:36] mhevery commented on #4322
@pkozlowski-opensource I think `@Property` is declaring what it is. So noun here is fine.  Where as event is an action so `Emits` sounds nice.

[2015-09-23 15:37] guybedford commented on #4278
Have you looked into https://github.com/rollup/rollup? It does these sorts of static optimizations - we will be integrating it into SystemJS builder by default for static bundles with optimization soon (https://github.com/systemjs/builder/pull/205). Certainly optimized builds are preferable to bundling - bundling is only necessary when specifically wanting to populate a loader registry with that l

[2015-09-23 15:40] pkozlowski-opensource commented on #4322
I can definitively live with `Emits`

[2015-09-23 15:42] devmark commented on #4333
So all href link should add hash?

router_link.ts
[code]

[2015-09-23 15:48] pkozlowski-opensource commented on #4278
@guybedford I had a brief look at https://github.com/rollup/rollup few weeks back it looked like it at the very early stage back then... Would be keen on having another look at it.

@guybedford would you mind if I reach out to you when I've got more findings regarding System.register vs. CJS? Personally I love all the goodies of `System.register` but we hit some issues with it, as you can see from

[2015-09-23 16:01] guybedford commented on #4278
@pkozlowski-opensource sure I'm more than happy to discuss further. Yes exactly as mentioned to @robwormald System.register is not a distribution format, rather a static optimized module (which is what SystemJS SFX builds are becoming as we integrate optimizations like rollup) or separate raw ES modules are best to provide to users for further use in their own environments.

[2015-09-23 16:06] vicb commented on #4322
Emits sounds good

[2015-09-23 16:15] vicb commented on #4320
Some brainstorming:

- `@LinkHostProperty`
- `@MirrorToHostProperty`

[2015-09-23 16:25] IgorMinar commented on #4318
is there an issue for the refactoring? if not, we should make this the issue and put it on the breaking hotlist.

[2015-09-23 16:27] todoubaba commented on #4278
Inline typescript helper functions such as `__decorate`, `__metadata`, `__param` take up 6.4% in angular2.min.js.

[2015-09-23 16:31] mhevery commented on #4318
Done

[2015-09-23 17:44] brandonroberts commented on #4334
@TiagoBraga39 You had a couple of typos in your example. Here is a working example

http://plnkr.co/edit/OVSfJ0xqUpPH7XIW6wag?p=preview

[2015-09-23 17:52] pkozlowski-opensource commented on #4334
@brandonroberts are you sure you've linked a good plunk? Look at the console, it is full of errors.

[2015-09-23 17:53] brandonroberts commented on #4334
@pkozlowski-opensource missed a typo myself. It should be correct now

[2015-09-23 17:56] pkozlowski-opensource commented on #4334
@brandonroberts yep, it works OK now. Thnx for helping out!
@TiagoBraga39 I hope it answers your question, at least with this setup. Let's move this discussion to gitter since I don't think we are seeing a bug here.

[2015-09-23 17:56] #4334 closed

[2015-09-23 18:02] todoubaba commented on #4330
It is caused by DI can't find `IterableDiffers` binding for `ng-for`. The temp workaround is passing a new `ResolvedBinding` into `loadNextToLocation`.

[2015-09-23 18:15] alxhub commented on #4323
It seems like `<div ng-control-group='crenentials'></div>` combined with the `ng-if` is enough to trigger the bug.

[2015-09-23 18:22] jeffbcross commented on #4028
@tyleranton I would just move it into `src/core`.

[2015-09-23 18:28] jeffbcross commented on #4026
@mhevery: @IgorMinar and I were just talking about changing the angular2 bundle to not provide an `angular2/angular2` import path, but would still include core, router, and http dependencies, which could be imported from their documented export: `angular2/core`, `angular2/http`, `angular2/router`. This would remove some ambiguity for docs, so that we don't have two messages about where to import t

[2015-09-23 18:55] mhevery commented on #4026
@jeffbcross I thought that we will break up, but still keep `angular2/angular2` as a super bundle. so you could still import from there. Looks like we need to chat some more about this.

[2015-09-23 19:04] pkozlowski-opensource commented on #4026
@jeffbcross I'm experimenting with CJS bundles as discussed yesterday and one thing that comes to my mind now, as we discussing splitting code is this: if we move to CJS and want to have separate bundles for core, http etc. I guess we need to make sure that other bundles (ex. http) only import from "public" part of the core, no? Otherwise we would end up pulling the same code into multiple bundles

[2015-09-23 20:54] matanlurey opened #4340 "Change detection: Support accessing a non-instance-based context."
The most common example is for enums, for example

[code]

[code]

As discussed shortly with @vsavkin this is a non-trivial change. Some suggestions:

_Provide the idea of a static context_

[code]

_Make it specific in the template_

[code]

[2015-09-23 21:05] TommyM commented on #4340
Would it not be nicer to use a handler?

[code]

[code]

[2015-09-23 21:07] matanlurey commented on #4340
It would, until you have

[code]

[2015-09-23 21:12] TommyM commented on #4340
Ah yes, that would be painful... In that case I agree with your suggestion of exposing non-instance based contexts.

[code]

[code]

[2015-09-23 21:19] IgorMinar opened #4342 "rename modules/examples directory to modules/dev-playground or modules/playground"
the contents of that directory are really just end2end tests and mini apps for testing/developing/playing with the core in ts2dart pseudolanguage. we should not make it look like this is the canonical place for examples.

related to: #4341

[2015-09-23 21:20] tiziano88 commented on #4340
Another real-world example, this time a property binding:

[code]

[2015-09-23 21:27] jeffbcross commented on #2840
@mgechev eventually `Request` should accept `RequestOptionsArgs` interface, but that's not in scope for this PR. I think I removed that when I was making `Http` work for dart some time ago.

[2015-09-23 21:31] btford commented on #4333
No, but apps where `HashLocationStrategy` is used should generate links with hashes.

[2015-09-23 21:32] btford commented on #4273
Thanks!

[2015-09-23 21:40] IgorMinar commented on #3824
this has been fixed already

[2015-09-23 21:40] #3824 closed

[2015-09-23 22:08] rafacm commented on #2961
@yanivefraim: I started to work on this yesterday an saw your comment today. :-)
See my work so far here: https://github.com/rafacm/angular/commit/e5c4150525a4836d9b67bf4bb92e41bae166446a

Basically, implementation for Validators.minlength and Validators.maxlength and unit tests passing.

IMHO: the next step would be to add directive support, see modules/angular2/src/forms/directives/validators.ts

[2015-09-23 22:14] alexeagle commented on #3431
Have fixed ts2dart, gulp build.js, and gulp docs.
Handing off to @vsavkin to continue fixing the introduced errors in Angular.
Current WIP is in https://github.com/angular/angular/tree/ts1.6

[2015-09-23 22:14] yanivefraim commented on #2961
@rafacm: Thanks you very much... I did similar work - minlength + unit testing (:

[2015-09-23 23:56] jeffbcross commented on #4026
@mhevery that was still the assumption you and I were operating under. @IgorMinar and I were just re-considering what value was added by letting users import from `angular2/angular2` vs importing from `angular2/core`, 'angular2/http`, and `angular2/router`. angular2.js would still be a super bundle, it just wouldn't re-export its contents as `angular2/angular2`. We can chat in the office.

[2015-09-23 23:59] jeffbcross commented on #4026
@pkozlowski-opensource I think you're correct that modules should require public APIs. Http should be easy because facades could all be removed, given that it no longer supports Dart.

[2015-09-24 00:06] jeffbcross commented on #4026
I think the best use case for the angular2.js bundle is prototypes and reproductions. Given that I don't think it should be the default recommended way to use angular in production, I don't think we should standardize our docs and examples on the `angular2/angular2` import.

[2015-09-24 00:28] tyleranton commented on #4028
@jeffbcross Cool, got it done. Last question.

When re-exporting all `lifecycle_hooks` exports, should it be done like so:

[code]

Or is there a way to specify exporting only `lifecycle_hooks` from `angular2/core`?

[2015-09-24 04:09] IgorMinar commented on #4265
Based on the discussion with @vsavkin it seems that these should be private. @mhevery?

[2015-09-24 04:28] rolandjitsu commented on #3824
@IgorMinar but it does not look like it made it to DT yet.

[2015-09-24 06:10] rvramesh commented on #4333
This is my first time looking at angular 2  source code. My analysis is as below. Please let me know if it is right.

The location_strategy.ts should expose a method `generateNavigationUrl` which should accept a string and return it as is (which is default implementation).

The hash_location_strategy.ts should override the `generateNavigationUrl` method and return the string with "#" + url passed.

[2015-09-24 07:07] yanivefraim commented on #2961
@mhevery: I will have to change public API by adding the following:
```Javascript```
Validators#minlength()
Validators#maxlength()
Validators#min()
Validators#max()
Validators#pattern()
[code]

[2015-09-24 08:03] mgechev opened #4347 "Question: remove URLSearchParamsUnionFixer"
Since http doesn't support Dart anymore, is [URLSearchParamsUnionFixer](https://github.com/angular/angular/blob/master/modules/angular2/src/http/interfaces.ts#L8-L9) required?

//cc @jeffbcross

[2015-09-24 08:26] TiagoBraga39 commented on #4334
@brandonroberts Thank you very much for helping!
@pkozlowski-opensource
Well, I told you this second bug was not my original issue. It was an issue that only showed up on plunkr (because in my local project I use traceur, which does not need that Component.parameters property and goes fine with types)...

So the issue is still up, but I agree this is more of a gitter discussion. I will ask about t

[2015-09-24 08:59] peishan0528 opened #4349 "how to call a function when ng-for has finished"
how to call a function when ng-for has finished?

[2015-09-24 09:04] KalpeshChheda opened #4350 "How to persist data when switching tabs/routes?"
When switching routes. How to keep state of the application as it is? I observed that Angular2 class is reinitialize every time I switch tabs but view is not reinitializing.

Can we make class to initialize once when route is accessed first time only?

Eg.
http://plnkr.co/edit/Mw9OdOyHQZYt9KyyAS9d?p=preview

[2015-09-24 09:44] #4209 closed

[2015-09-24 10:47] satish860 commented on #4270
Components of angular 2 will be similar to the controller-view pair. In this case when we provide controller(Component) name we are making it work the similar as angular 2 component.

Also I am not aware of module.component Api. Can you please throw some light on the same.

[2015-09-24 11:31] butaixianran commented on #4328
@pkozlowski-opensource , that's great news. And thanks guys. My target is Chinese people, my server is in China for now, so your visiting should be slow. For now, I may try gulp-inline-ng2-template, looks like a great tool for me.

[2015-09-24 12:44] pkozlowski-opensource commented on #4349
@peishan0528 please direct general support questions like this one to an appropriate support channel: https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2015-09-24 12:44] #4349 closed

[2015-09-24 13:09] pkozlowski-opensource commented on #4278
@todoubaba yes, you are right. Discussion in https://github.com/Microsoft/TypeScript/issues/3364#issuecomment-142867876

[2015-09-24 13:19] kasperpeulen commented on #4350
I had the same problem while implementing routing for the standard TodoMVC application:
https://github.com/ng2-dart-samples/todomvc

The application uses routing to filter todos.I had to store the todos to local storage, otherwise the todos would be deleted by routing.

[2015-09-24 13:57] mgechev commented on #2840
@jeffbcross I updated the PR. If declaring that the argument of the constructor of `Request` should be of type `RequestOptionsArgs` is out of the scope of this PR I can open another one?

[2015-09-24 15:27] danicomas commented on #3838
@mhevery do you have news about that? Or @vicb @gdi2290?

[2015-09-24 15:51] yjbanov opened #4352 "Angular should not subscribe to an event unless user subscribes to it"
Currently, Angular will subscribe to every event published by a component, whether or not the use site declared a subscriptions via `(event)` binding. This prevents components from tracking subscriptions (e.g. to allocate resources on demand rather than eagerly).

[2015-09-24 16:03] rafacm commented on #2962
Is this feature being worked on? Otherwise I would like to have a go at it. I would need some pointers in regards to whether "design decisions vs how forms work in angular 1" were made or not. Thanks!
/cc @caitp @naomiblack @IgorMinar

[2015-09-24 16:19] KalpeshChheda commented on #4350
Ya but wouldn't it be good if my object does not dispose on route change?

[2015-09-24 16:31] weswigham commented on #4278
You may be interested in [this work](https://github.com/Microsoft/TypeScript/pull/4754). I've actually been testing it [against angular](https://github.com/weswigham/angular). Angular's input on bundling in the TS compiler would always be appreciated.

[2015-09-24 17:49] pkozlowski-opensource commented on #4026
@jeffbcross I agree that just sticking to public API of the core would be doable for http, probably harder for other parts (router, animation), though.

@jeffbcross what would be your recommended setup then? People bundling they app + framework with things like webpack / browserify / systemjs? Or serving non-bundled files thnx to the HTTP2 goodies? Or sth else?

Once

[2015-09-24 18:21] gdi2290 commented on #4349
@peishan0528  what's your goal? you can message me on https://gitter.im at @gdi2290

[2015-09-24 18:22] zoechi commented on #4350
Registering a service that holds the data in main() in DI and requesting it where ever you need to access the  data should work. I don't know how to achieve this in Ng2 DI

[2015-09-24 18:38] ericmartinezr commented on #4349
@peishan0528 check out this issue https://github.com/angular/angular/pull/3991

[2015-09-24 20:43] rkirov opened #4354 "upgrade systemjs builder"
The repo is using system.js `0.18`, but still on systemjs-builder `0.10` (roughly corresponding to system 0.16). There has been a number of breaking changes in the way path configuration works, so this is not be trivial - https://github.com/systemjs/builder.

// cc @IgorMinar @pkozlowski-opensource

[2015-09-24 20:51] IgorMinar opened #4355 "Better syntax for multi-element structural directives"
Currently I can do this:

[code]

but there are many use-cases when ng-for, ng-if, or other structural directive should be applied to multiple elements. it's possible to do it today using `<template>` element, but the syntax is ugly and unnatural because I'm forced to manually desugar the data-binding:

[code]

What I'd like is:

[code]

I'm intentionally avoiding `*` in front of ng-for because, c

[2015-09-24 23:25] tlancina opened #4358 "Misleading error when incorrectly binding toClass"
Doing something like `bind(Number).toClass(4)` instead of `bind(Number).toValue(4)` throws `Cannot create a factory for '4' because its constructor has more than 20 arguments`, when really it's because we're being silly and trying to bind a value as a class.

Simple plunkr: http://plnkr.co/edit/WY7JA4Z66IDgzRs3n5Qf?p=preview

[2015-09-24 23:40] jomeier commented on #4240
@pkozlowski-opensource: +1

[2015-09-25 02:05] jgw96 commented on #3188
@sledan @jidesakin @Dunken to solve the module errors did you run this command by chance?
tsd install angular2 es6-promise rx rx-lite --save
I am getting the same server when running the live-server command and have not yet figured that one out.

[2015-09-25 03:09] brandonroberts opened #4361 "Router lifecycle interfaces not exported in builds"
The router lifecycle interfaces (CanReuse, CanDeactivate, OnActivate, etc) aren't being included in the builds. No error is thrown even when implementing interfaces that don't exist.

Example: http://plnkr.co/edit/GPpGROHzUJ6dlCibwFGE?p=preview

[2015-09-25 06:29] matsko opened #4362 "Allow host components to register `data` attributes"
If I try something like this then Angular gets angry:

[code]

What's the plan for supporting this?

[2015-09-25 07:44] pkozlowski-opensource commented on #4362
You can do `[attr.data-state]: state` since you want to set an attribute. There is no `data-state` property, right?

[2015-09-25 07:45] matsko commented on #4362
Ah yes that's correct. I wasn't aware that the host values are properties and not attributes. Thank you Pawel for clearing this up.

[2015-09-25 07:45] #4362 closed

[2015-09-25 08:04] pkozlowski-opensource commented on #4355
Ha! This is _exactly_ what I was discussing with some folks yesterday when introducing them to ng2 :-)

[2015-09-25 08:13] cristinecula opened #4363 "Cannot use `press` as event name"
I have a component defined like so:

[code]

Here it is used in the template:

[code]

An exception is thrown regarding the press event.

[code]

I renamed the event to `pressed` but I expected that component event definitions would take precedence over defaults.

Angular2 version alpha.35

[2015-09-25 08:16] pkozlowski-opensource commented on #4354
Right, I was raising it already in https://github.com/angular/angular/issues/3562 (going to close it as a duplicate of this one, as it is more specific - we've updated the loader already).

And yes, there are some breaking changes - I gave it a go at one point in the past but couldn't figure out things quickly (<1h).

[2015-09-25 08:17] pkozlowski-opensource commented on #3562
Duplicate of https://github.com/angular/angular/issues/4354

[2015-09-25 08:17] #3562 closed

[2015-09-25 08:31] PascalPrecht commented on #4363
@cristinecula As the error states, there's a missing Hammer.js dependency in your code. `press` event is apparently implemented in Hammer.js, however if it's not there, the event can't be used/bound by your component. Make sure to include Hammer.js as well.

[2015-09-25 08:49] mmrath commented on #3804
I think the modified value need to be propagated to the parent component somehow. Probably write something custom like ng-model, I am not too sure though.

What I am trying to do is I think related to this. I have posted some sample code and question on SO at http://stackoverflow.com/questions/32778163/creating-dynamic-forms-in-angular2-using-metadata

@danicomas could you see if you are also tryi

[2015-09-25 08:59] PascalPrecht commented on #4270
@satish860 the `module.component` helper API has been proposed a very long time ago right here https://github.com/angular/angular.js/issues/10007. AFAIK this is under consideration to land in Angular 1.5.

[2015-09-25 09:02] kasperpeulen commented on #4149
Coming from Dart, I would probably call `EventEmitter` just `EventStream`. Because I believe that is what it is in Dart. Not sure though how the typescript version is implemented.

[2015-09-25 09:19] kasperpeulen commented on #4149
@jeffbcross

I'm not an expert, but I think if you want to make EventEmitter sync by default in dart, you should make it like this:

[code]

[2015-09-25 09:25] PascalPrecht commented on #4320
I'd actually also vote for `@HostProperty` ... @mhevery if the main semantic difference is that this decorator causes a write to a DOM property (rather than a component property), what about `@DOMProperty` then? We just need to keep in mind to update the desugared version too.

OTOH, I'm not sure if that proposal would work in all scenarios. Do we have/use host properties in web worker world where

[2015-09-25 09:25] KalpeshChheda commented on #4350
@zoechi Ya it can be done, but the point is angular 2 is still in alpha and if we get control of disposing component object would be nice to keep the state of the application with out any extra effort. I even don't know this would be possible or not. Can some one from angular team comment on this?

[2015-09-25 09:31] PascalPrecht commented on #4322
Based on @mhevery 's arguments, I'd also vote for `@Emits`. It's very declarative, which is nice.

[2015-09-25 09:38] PascalPrecht commented on #4319
I think a more abstracted way is better here. I'm not sure if that's possible, but what if there's a new route definition type that comes up in the future? Do we need to introduce a new property then? This sure depends on the semantics of that particular definition type then, but if we had decided for something like a simple flag, or a `type` property (which I even like more), we don't have to int

[2015-09-25 09:53] PascalPrecht commented on #4298
@jrote1 I assume with "attributes" you mean decorators.

Decorators are used to add meta data to your code which is then used by the framework to do various different things. Having a new `@Route` decorator that's basically the same as `@RouteConfig` except that you as a developer can immediately see what route this component represents, doesn't seem the right thing to do IMO.

So the question rea

[2015-09-25 09:56] PascalPrecht commented on #4285
I think you can use `ng-control` etc with input radios as well. What exactly is not implemented?

Note that Angular 2 doesn't need to "reimplement" all form input as a directive due to zones. As you can see, there's also no checkbox or input directive etc.

Anything you ran into that didn't work?

[2015-09-25 09:58] jrote1 commented on #4298
@PascalPrecht

Sorry yes I mean Decorator, Dart is not my main language to sometimes call the wrong name.

And yes a comment could work but if you change the route you would always forget to change the comment so unless you are strict about it you would always forget.

Yes I see what you mean that it might get a bit confusing/unusable but possibly with a bit of work I think it could be a useful ad

[2015-09-25 10:00] PascalPrecht commented on #4298
@jrote1 My main concern is that this wouldn't add any value to the framework itself. Why exactly can't you just use `@RouteConfig` for that?

[2015-09-25 13:21] BlackHC opened #4365 "Angular2 (dart): improve BaseException and AbstractBindingError to show the original stacktrace and message (!)"
BaseException swallows the original exception and stack trace when it is dumped to the console. This is not very useful :(

Suggestion:
[code]

AbstractBindingError.toString should be removed probably.

Also. Injector.debugContext() throws a null pointer exception because _debugContext is null by default.

Thanks,
 Andreas

[2015-09-25 14:07] blesh commented on #4149
You need a Dart Observable, IMO. It would be lighter weight than EventStream, but compatible with it. In reality, EventStream looks like it could be subclassed from an Observable.

[2015-09-25 16:08] gdi2290 commented on #3804
I updated the example so it's easier to see. The problem is that you're pushing data into `<input-text>` but you're not pulling data out of it. `ng-model` sets up two-way data binding since you're trying to set this up similar to how you would in ng1. You're using `ng-model` in  `<input-text>` but that's setting up the binding to the value property of that component not it's parent.

http://plnkr.

[2015-09-25 18:03] albertosantini commented on #4176
I would close this issue.

PR ready in `angular.io` repo: https://github.com/angular/angular.io/pull/226.

[2015-09-25 18:05] brandonroberts commented on #4176
The quick start guide has been deprecated. See https://github.com/angular/angular.io/pull/207

[2015-09-25 18:08] albertosantini commented on #4176
Thanks for the notice.

[2015-09-25 18:38] Berkana commented on #4319
@btford the fix is to teach good conventions, and to have people put the `aux: true` property first. Then it is more visually apparent at a glance, and still more succinct.

The tension between typing a whole lot more to remove potential confusion and typing less for the folks who use a feature a lot is resolved by this convention. If you have to remember the convention of including `aux: true` fi

[2015-09-25 19:00] Berkana commented on #4319
Actually, let me amend my recommendation. Adding a type property would be better than `aux: true`. But I would also add that it should be a convention that the type is entered first, as a best practice.

[2015-09-25 19:12] gkalpak commented on #4319
I haven't played with the new router at all (is it still "new" ? :P), but would it make sense to overload the `@RouteConfig` decorator like this:

[code]

And have the current (most common ?) form be a shortcut. E.g.:

[code]

This proposal might not make sense at all, but hey :neutral_face:

[2015-09-25 19:15] Berkana commented on #4319
@gkalpak I like that one you suggested. It makes the types explicit, but doesn't require instantiation to be done by the user at the time something is passed into `RouteConfig`.

[2015-09-25 19:23] wardbell opened #4368 "forced lower case in binding declarations means <h1 [innerHTML]="title"> won't work"
Yes, I know this is [issue #1447](https://github.com/angular/angular/issues/1447) again.

That issue is closed ... as if closing it solved the problem. Well this is ANOTHER example of the problem and it means that we can't write simple binding declarations that touch existing DOM properties that happen to be mixed case (and there are a ton of them). We'll be force to write directives when we shoul

[2015-09-25 19:38] pkozlowski-opensource commented on #4368
@wardbell there is a special syntax for this already: `<h1 [inner-html]="title">` should do the trick. There are 2 things at play here:
* we've got `snake-case` to `camelCase` convention, so writing `foo-bar` will bind to `fooBar`
* the above doesn't solve the pb for `innerHTML` (one would have to write `inner-h-t-m-l` which isn't pretty) so few commonly used properties are special-cased in the co

[2015-09-25 19:40] pkozlowski-opensource commented on #4368
@tbosch @mhevery I'm wondering if we couldn't allow mixedCase attributes with the new compiler? It should be technically possible now, as we are parsing string representation of a template, no?

I know that it would be depart from the HTML standard but soooooo many people are bumping into it....

[2015-09-25 19:41] wardbell commented on #4368
Oooo.  I was about to change this to "textContent" which is safer but your comment makes a much more interesting observation so I reverted.

We HAVE to document this!!!

[2015-09-25 19:43] pkozlowski-opensource commented on #4368
@wardbell totally!!!!

There are probably other "goodies" in the compiler that are not well known. Ping me on slack so we can discuss those

[2015-09-25 20:35] kegluneq opened #4370 "transformer hangs on export cycle in Dart inputs"

[2015-09-25 22:11] kasperpeulen opened #4373 "using (ng-model) instead of [(ng-model)] does nothing"
I have this simple example:

[code]

Which I thought would work as setting the text to be the same as the value of the input element, but that doesn't work. If I set also an `ng-model` attribute,  it works as expected:
[code]

Is this by design? Or is this a bug?

[2015-09-25 22:24] vicb commented on #4373
An `(ng-model)` attribute would not match the directive's selector [`[ng-model]:not([ng-control]):not([ng-form-control])`](https://github.com/angular/angular/blob/5bf6a3af152ac9e9bf5c62def396575fc82db903/modules/angular2/src/core/forms/directives/ng_model.ts#L36) - while `ng-model`, `[ng-model]` and `[(ng-model)] would.

[2015-09-25 22:24] #4373 closed

[2015-09-25 22:30] kasperpeulen commented on #4373
I see @vicb thanks

Is it possible to have a selector match `(ng-model)` ?

[2015-09-25 22:36] #4358 closed

[2015-09-25 22:38] jbdeboer commented on #4019
This is likely a dup of #3408

[2015-09-25 22:58] ericmartinezr commented on #3701
Was this fix merged? I'm using alpha37 and I ran into a similar issue (not sure if it's exactly the same), so I don't know if to open a new issue or use this one.

[2015-09-25 23:08] #4370 closed

[2015-09-25 23:19] naomiblack commented on #4019
@vsavkin is this closed by https://github.com/angular/angular/commit/f6cc57368768e0c2f47c6646620c4cff73e5d5a7?

[2015-09-25 23:19] naomiblack commented on #3408
@vsavkin is this closed by https://github.com/angular/angular/commit/f6cc57368768e0c2f47c6646620c4cff73e5d5a7?

[2015-09-25 23:30] #3408 closed

[2015-09-25 23:30] #4019 closed

[2015-09-26 00:33] vicb commented on #3701
It has not been merged. I expect to restart working on this in the coming weeks (was pending the bootstrap refactoring which just happened)

[2015-09-26 00:58] vicb commented on #4373
It's not and I don't think I would make sense

[2015-09-26 03:33] wesleycho opened #4379 "`host` does not support directives"
I have an example [here](http://plnkr.co/edit/blhYNtxDtZxUFB4IQdsf?p=preview) in attempting to reimplement a dropdown, and I tried refactoring it to be simpler & not as reliant on a template [here](http://plnkr.co/edit/ZqpoOsWkdkO2XikRV9fc?p=preview) - however, this causes a problem because it seems to error out on a directive being used as a host property.

Is my understanding of this correct? Sh

[2015-09-26 12:31] tapas4java opened #4380 "Angular2's property binding not working with Polymer element"
I am trying to use Polymer elements inside Angular2 component. There are no errors on console and polymer paper input is rendering fine but message is blank.

[code]

[2015-09-26 15:14] albertosantini commented on #3651
I am sorry but I still miss about components, services, etc. registration in ES5 without polluting the global scope.

After reading - a few times - @PascalPrecht and @IgorMinar comments above, I don't get yet the solution.

I have the following tiny working example:

[code]

So far it is ok, but I would like that example refactored in this way:

[code]

It seems I cannot understand how to port `.m

[2015-09-26 15:28] IgorMinar commented on #3824
I believe we stopped publishing d.ts files into definitely typed in favor
of distributing them via npm. @alexeagle can you confirm?

On Wed, Sep 23, 2015, 9:28 PM Roland Groza <notifications@github.com> wrote:

[2015-09-26 15:33] zheffie commented on #4156
I'm experiencing the same as @mi6crazyheart

[2015-09-26 15:33] IgorMinar commented on #4322
Emits is a verb, all the other decorators are nouns. We should be
consistent about this.

On Fri, Sep 25, 2015, 2:31 AM Pascal Precht <notifications@github.com>
wrote:

[2015-09-26 19:11] talgleichger commented on #4241
Yes thank you!

[2015-09-26 19:11] #4241 closed

[2015-09-27 04:25] alexeagle commented on #3082
TypeScript 1.6 includes a module resolution feature which mirrors Node. So we can now do this.

In https://github.com/angular/angular/commit/3dd9919bbdbe7f4bd820e6c1bd27f7c16ee61b40 I changed how Angular depends on ts2dart typings, as a proof of concept. Next step is to update angular package.json and do the documentation/examples for users.

[2015-09-27 04:33] alexeagle commented on #3824
We have still been publishing to DefinitelyTyped for each angular release. I'm tracking work to make it *possible* to depend on angular typings through NPM here: https://github.com/angular/angular/issues/3082  but we haven't decided if we will still publish to DefinitelyTyped as well.
However I don't see `test_lib.d.ts` in the `bundles/typings/angular2/` folder of latest angular2 npm (alpha 37) ei

[2015-09-27 06:52] rolandjitsu commented on #3824
@alexeagle thanks. I was just curious about it since this issue was closed and I could not see the typings anywhere yet. Looking forward to the next release though :)

[2015-09-27 09:32] robwormald commented on #4350
IMHO, like in Angular1, data/state/"Model" should live in a service. Whether or not components are disposed is a different issue, and a valid concern, but your data should probably live in a service.

[2015-09-27 09:42] robwormald commented on #4322
what about `@Events(['click', 'drag'])` - avoids the conflict, keeps the noun, prevents boilerplate when there are lots of events?

Note that `EventEmitter` will likely be renamed to ____? and will have an `emit()` method on it - see https://github.com/angular/angular/issues/4287

[2015-09-27 10:36] kasperpeulen commented on #4350
@robwormald my data does live in a service class, that I inject into my component class. But everytime I change the param of my component, my service class is disposed as well.

To fix that I had to save the the service class to local storage.

[2015-09-27 11:07] fronterweb opened #4383 "ngModel for contenteditable - html entities bug"
As in this example: https://docs.angularjs.org/api/ng/type/ngModel.NgModelController#custom-control-example

Try to remove 'Change me!' from input. When caret will move to space between 'change' and 'me' you will notice, that in textarea below content will contain: "Change&nbsp;"

So there're some weird issue with handling html entities.
This is unwanted behaviour. I'd expect "Change " instead of

[2015-09-27 13:31] shikloshi commented on #1789
+1
same issue on alpah 35

[2015-09-27 14:47] pkozlowski-opensource commented on #4383
Wrong repo, I guess you wanted to open it here: https://github.com/angular/angular.js
This repository is for Angular 2.

[2015-09-27 14:47] #4383 closed

[2015-09-27 14:49] pkozlowski-opensource commented on #4380
@tapas4java there is not enough context here to help. Property bindings should work without problems for custom elements, including ones created with Polymer.

Please prepare a live reproduce scenario using plunker or similar so we can take a look. Thnx.

[2015-09-27 16:13] vagabondtt1503 commented on #4380
@tapas4java, @pkozlowski-opensource I tried angular 2.0 with polymer starter Kit. Polymer component render quite good. But, when I used angulard router (ex. <router-outlet></router-outlet>). My app is broken. I am waiting for next version polymer or next version angular which can run together.

[2015-09-27 16:14] tapas4java commented on #4380
Thanks @pkozlowski-opensource,

It worked when i tried on a fresh repo.

[2015-09-27 16:14] #4380 closed

[2015-09-27 16:34] carlosrymer opened #4384 "Guide for 1.5.0 Beta is Broken"
Just noticed that the guide with the latest release is broken:

https://docs.angularjs.org/guide

There seems to be a module that's not being injected because it's missing.

![error-angular-guide](https://cloud.githubusercontent.com/assets/4654390/10123905/1cb94b10-6514-11e5-9538-88850decc511.png)

[2015-09-27 16:36] pkozlowski-opensource commented on #4384
Already reported, see: https://github.com/angular/angular.js/issues/12960

[2015-09-27 16:36] #4384 closed

[2015-09-27 17:30] nosachamos opened #4385 "Binding to unknown properties (such as Aria attributes) results in error."
Binding to unknown properties such as Aria attributes result in error. For example:

[code]

Will result in the following exception when the component whose template includes this code is loaded:

**EXCEPTION: Can't bind to 'ariaExpanded' since it isn't a known property of the '\<a>' element and there are no matching directives with a corresponding property**

It turns out, aria attributes often i

[2015-09-27 17:50] pkozlowski-opensource commented on #4385
DOM elements don't have `aria-expanded` _property_ there is only an _attribute_ with such name. If you want to bind to an attribute you need to prefix its name with `attr.`, ex.: `[attr.aria-expanded]="isFirstError(error)"`.

So the error is correct and we definitively want to throw for unknown properties since binding to a non-existing properties wouldn't have any effect - this is a user error mo

[2015-09-27 17:50] #4385 closed

[2015-09-27 18:27] robwormald commented on #4350
@kasperpeulen i extended @KalpeshChheda plunker to show how it works: http://plnkr.co/edit/twCC5Tpb8goX7NV0Cl6f?p=preview

Note that i'm using bindings the in *parent* component, and simply injecting into the children. If you add another binding in the children, that will force the injector to create another instance.

[2015-09-27 18:29] robwormald commented on #4350
closing this as it works as intended. feel free to carry on the discussion.

[2015-09-27 18:29] #4350 closed

[2015-09-27 19:54] kasperpeulen commented on #4350
@robwormald

not sure if it works as intended with *router parameters*. If I do the routing in my todomvc app without parameters, like this:

[code]

Then I don't loose the data. But if I do it with parameters, which looks cleaner:

[code]

Then I loose the data:

![](http://i.imgur.com/EqhpDSl.gif)

Here is my repo: https://github.com/kasperpeulen/todomvc-1 where I commented out the local storage

[2015-09-27 22:46] #4043 closed

[2015-09-27 22:56] robwormald commented on #4350
@kasperpeulen I had a quick look at your repo - I'll pull it down later this afternoon and have a proper look. Still pretty sure your issue is related to you defining the bindings in the child.

Assuming you want a singleton todoStore (probably) - you should bind that in the root/app component, and not in the child. That way, each time a new todo component is instantiated, it'll look "up" to the p

[2015-09-27 22:59] robwormald commented on #4350
The other thing to check, just to clarify what's going on, would be that your filter is working as you're expecting it to - that is, is the todoStore being reinstantiated, or is there another issue with the filtering logic perhaps?

[2015-09-28 00:09] mmrath commented on #3804
I just have found solution for my case. http://plnkr.co/edit/N1W8XqIS8ykU1Vsm7hjf?p=preview
The answer in SO post helped me.

[2015-09-28 04:01] robwormald commented on #4350
@kasperpeulen so i pulled down your repo - you're definitely having the issue as described

if you remove the viewBindings option from your TodoComp, and add:
[code]
to your root component, it works as expected. hope that helps.

[2015-09-28 04:20] gdi2290 opened #4389 "feat: NgCache Service?"
### summary
it would be great to have a `Cache` service similar to Angular 1. For server-rendering we're able to hook into all `Http` calls made during bootstrap and we can even wait for all calls to be done via `zone.js`. Transferring state to the client should be transparent to the developer at least for the framework.

### problem
If I have to create my own `Cache` service just for for `Http` t

[2015-09-28 04:33] robwormald opened #4390 "Determine which Observable operators and extensions to include in angular core"
Now that https://github.com/angular/angular/pull/2974 has landed, we're exposing the "bare" RxNext Observable without any operators included. This is partially because including the main Rx import caused everything to explode (as it has a large amount of files) and partially to avoid bloating the core codebase with another ~125k of operators.

The list of currently implemented operators is here: h

[2015-09-28 04:42] gdi2290 commented on #4390
can you also include `Observable.of` and `Observable.defer`?

[2015-09-28 05:25] gdi2290 opened #4391 "feat(Http): implement `toString` for `Headers` type"
`.toString()` should serialize into `StringMap<string, string[]>`

update:
this could be done via
[code]
update:
on the client I need to reconstruct server responses
[code]

[2015-09-28 05:27] mhevery commented on #4322
@IgorMinar Why do you think verb/noun distinction is so important, given that you are declaring an action? What you are declaring is a verb and you will use a verb.

@naomiblack @bradlygreen do you want to comment?

[2015-09-28 05:58] jeffbcross commented on #4390
It would be nice to provide a minimum set of operators, as you've described, by default from Angular APIs that export `Observables`. And to allow users who'd like a different set of operators, they should be able to override an `ObservableFactory` binding with DI (name not important right now). So when overriding that binding, calling `http.get()` would return an observable with the operators I ne

[2015-09-28 06:05] jeffbcross commented on #4390
If we include an `Observable` factory in DI, it's worth considering whether the same should be done for `Promise`.

[2015-09-28 06:16] cexbrayat opened #4392 "[router]: using @inject for ROUTE_DATA"
Don't you think that having to use @Inject for ROUTE_DATA is a bit surprising compared to RouteParams which gives us a service? I think this is a very rare case (the only one?) where we can't rely on Type annotation in an app for something provided by the framework. And we obtain an object, whereas RouteParams provides a get method.

    constructor(routeParams: RouteParams, @Inject(ROUTE_DATA) ro

[2015-09-28 06:16] cexbrayat commented on #4392
cc @btford @TommyM @PascalPrecht

[2015-09-28 06:32] gkalpak commented on #4390
:+1: and :+1: (1 for `Observable` and 1 for `Promise` factory).

[2015-09-28 07:35] danicomas commented on #3804
@gdi2290 Yes, It is the problem we don't know the child value in the parent component. I think that it should work. What do you think? @gdi2290 @mhevery

[2015-09-28 07:40] bl-nero commented on #2379
https://angular.io/docs/ts/latest/guide/displaying-data.html still refers to the outdated syntax.

[2015-09-28 07:45] danicomas commented on #3804
@mmrath your solution is working well but I don't know why if I add [click]="onSubmit(form)" on <button type="submit" the console after click on the button print two equal logs :S

[2015-09-28 07:55] gdi2290 commented on #4392
The injector allows for any token include types. I agree with @cexbrayat that we should allow the type token `RouteData` on the merit that it's a valid token. I guess naming conventions should also have ref in the name `RouteParamsRef` and `RouteDataRef`. The real problem here is that `ROUTE_DATA ` can only guarantee a shallow copy (since only two types are allowed array|object) as it's unaware of

[2015-09-28 08:00] gdi2290 commented on #3804
you made a small typo. It's `(click)="onSubmit(form)"` rather than `[click]="onSubmit(form)"` which is why you're seeing two logs rather than one

[2015-09-28 08:03] danicomas commented on #3804
Nice @gdi2290 . What do you think about @mmrath solution?

[2015-09-28 08:25] danicomas commented on #3804
Nice @gdi2290

[2015-09-28 09:23] PascalPrecht commented on #2379
@bl-nero docs are being rewritten, hold your horses :)

[2015-09-28 10:41] cristinecula commented on #4363
@PascalPrecht Thank you for the quick response. I understand that including Hammer.js would make the exception go away, but I am not trying to use the `press` event supplied by Hammer.js. I am trying to define my own component that launches a custom event named `press` when a given key combination is pressed.

[2015-09-28 11:28] pkozlowski-opensource commented on #4379
I really don't think we want to go into supporting directives in the `host` property as this would open a can of wired corner use-cases.

Having said this you can easily set a particular class on the host using:

[code]

See: http://plnkr.co/edit/VTQbCQ44g7YoyZ115uNS?p=preview

[2015-09-28 11:28] #4379 closed

[2015-09-28 12:17] danicomas opened #4393 "How can I use an observable / watch?"
I am trying to do something like this:

[code]

is it correct? this.variable is not an EventEmitter.

[2015-09-28 15:11] vsavkin commented on #4326
Merged via https://github.com/angular/angular/commit/589ce31dfc4fc2840b675ed0266d4e2c60b26f07

[2015-09-28 15:11] #4326 closed

[2015-09-28 16:03] gdi2290 commented on #4393
you can create a component where you're able to hook into the `onChange` lifecycle hook for when the bindings change

[2015-09-28 16:14] #4393 closed

[2015-09-28 17:04] nosachamos commented on #4385
Cool, I was not aware of the .attr prefix. This must be clearly documented, whenever the time to go GA comes.

I do think, however, that there is an opportunity to improve the message we give when the binding misses the .attr prefix. If we could just print out something like this, I wouldn't even need the documentation:

**EXCEPTION: Can't bind to 'foo' since it isn't a known property of the '\<a>

[2015-09-28 17:10] kasperpeulen commented on #4350
@robwormald thanks a lot :) it is working now, will read the article you linked

[2015-09-28 18:59] mhevery commented on #4368
@pkozlowski-opensource we can't allow this with new compiler. It may work at build time, bit it would fail in the browser always. So for the sake of consistence we have to honor the browser.

[2015-09-28 19:19] pkozlowski-opensource commented on #4368
@mhevery oh, I was under the impression that we are going to use the same text-based compiler in both build-based compilation and in a browser.

What is the advantage of having 2 different code paths in the compiler? I was assuming that we are always getting text of a template and not DOM tree so could use the same code....

[2015-09-28 19:20] mhevery commented on #4320
@PascalPrecht We can't have `DOM` in the name as the render may be native.

@vicb Appreciate your suggestions https://github.com/angular/angular/issues/4320#issuecomment-142651575. I believe fewer words are better then 3 or 4. Can you think of something shorter?

`@Property` means that you are declaring a property. Which may or may not be data bound to. But it is part of the public API of the comp

[2015-09-28 19:22] mhevery commented on #4368
@

[2015-09-28 19:22] mhevery commented on #4368
Sorry closed by accident.

I was not aware that we are not going to use the browser parser. @tbosch can you comment?

[2015-09-28 19:23] gdi2290 commented on #4320
`@PublicProperty` (host)
`@PrivateProperty` (view)
we already do this with TypeScript

[2015-09-28 19:26] pkozlowski-opensource commented on #4368
@mhevery @tbosch I'm not sure how the new compiler works so I don't know if it is using browser parser or not. I was just wondering _why_ we would have 2 different compilers when we can parse text in both cases?

What would be the advantage of such approach?

[2015-09-28 19:26] PascalPrecht commented on #4320
Not sure if `"Private"` should be in the name either. This could confuse ppl as well, since what we're actually doing is exposing a property binding to the outside world. Ppl might that this is `@PublicProperty` then.

[2015-09-28 19:30] mhevery commented on #2961
@vsavkin I don't think such names should be attached to `Validators` API, as it is just one of many kinds of validations we could have. Do you have thoughts on how to handle this?

[2015-09-28 19:31] mhevery commented on #4265
SGTM. But then they should also be prefixed by `_` so that they are private in Dart as well.

[2015-09-28 21:04] mhevery commented on #3882
@tbosch can you comment

[2015-09-28 21:06] KalpeshChheda opened #4401 "Angular2 Object Undefined"
Getting "object undefined" while accessing object of Service Component. But hard coded below data to javaScript variable working fine and shows object type "object Array"

Data.json

    [
          {
            "id": 1,
            "name": "Malad",
            "gateway": "10.10.100.1",
            "device": "cisco"
          }, {
            "id": 2,
            "name": "Kandhivali",

[2015-09-28 21:08] mhevery commented on #3868
Sounds like this has been resloved. Closing.

[2015-09-28 21:08] #3868 closed

[2015-09-28 21:09] #3860 closed

[2015-09-28 21:14] mhevery commented on #3838
You can create components on the fly like this: https://github.com/angular/angular/blob/1f2302e39e42220e0ad5179fb63abbd667e3d1f3/modules/upgrade/src/upgrade_module.ts#L66-L77 and than load them using `DynamicComponentLoader`

[2015-09-28 21:14] #3838 closed

[2015-09-28 21:16] mhevery commented on #4002
When we feel it is ready. Sorry we don't know either.

[2015-09-28 21:16] #4002 closed

[2015-09-28 21:25] mhevery commented on #3930
dup

[2015-09-28 21:25] #3930 closed

[2015-09-28 21:25] #3918 closed

[2015-09-28 21:26] mhevery commented on #3903
yes this should work.

[2015-09-28 21:27] mhevery commented on #3899
this should have been resloved

[2015-09-28 21:27] #3899 closed

[2015-09-28 21:28] mhevery commented on #3892
stale

[2015-09-28 21:28] #3892 closed

[2015-09-28 21:28] mhevery commented on #3890
This should be resolved now that we have removed traceur

[2015-09-28 21:28] #3890 closed

[2015-09-28 21:43] mhevery commented on #4021
obsolete

[2015-09-28 21:43] #4021 closed

[2015-09-28 21:46] mhevery commented on #4030
absolete

[2015-09-28 21:46] #4030 closed

[2015-09-28 21:50] mhevery commented on #4084
stale

[2015-09-28 21:50] #4084 closed

[2015-09-28 21:50] mhevery commented on #4068
Closing since it is a DefinitelyTyped/tsd#204 issue

[2015-09-28 21:50] #4068 closed

[2015-09-28 21:57] cexbrayat opened #4402 "[ngFor] trackby equivalent ?"
I don't think there is an equivalent of AngularJS 1.x `trackBy` for `ngFor` right now (alpha-37).
Is there a way to do the same (maybe using a custom `IterableDiffers`, but that looks like a bit difficult...), or is it a feature planned for later?

[2015-09-28 21:58] mhevery commented on #4035
It exists so that we have a type for injection. Otherwise how do you refer to the function

Example:

`(done:Function) => ...; `  can not be injected. What is `Function`?
you could write
`(@Inject(AsyncTestCompleter) done:Function) => ...` that would work but at that point you may as well just do
`(done:AsyncTestCompleter) => ...`

[2015-09-28 22:02] PascalPrecht commented on #4402
I think more interesting here is, if this feature is still needed in A2

[2015-09-28 22:08] danicomas commented on #4393
Sorry @gdi2290 @vicb could you do some plunker example?

[2015-09-28 22:30] gdi2290 commented on #4393
@danicomas here's one
http://plnkr.co/edit/HfdjvOxGcP0FuAsVeD71?p=preview

[2015-09-28 22:54] IgorMinar opened #4403 "angular2.d.ts contains ViewFactory twice"
[code]

The content looks the same. There might be more dupes like this. Can someone investigate?

[2015-09-28 22:59] vicb commented on #4393
@danicomas in the future, please use the [gitter channel](https://gitter.im/angular/angular) for support request, thanks. GH should be used to report bugs only.

[2015-09-28 23:31] PascalPrecht opened #4404 "chore(decorators): rename @Injectable decorator"
When building Angular 2 apps in TypeScript, we have cases where we need to enforce metadata generation by adding **any** decorator to a class. This is explained in detail here: http://blog.thoughtram.io/angular/2015/09/17/resolve-service-dependencies-in-angular-2.html

For example, the following services (just a class) has a dependency, but TS doesn't emit decorator metadata, because there are no

[2015-09-28 23:50] vicb commented on #4404
We're not using reflection in Dart because it would metadata for **all** the classes. The `@Injectable()` annotation is used by the transformer to trigger metadata generation.

That's quite similar to why `@Injectable()` is required in TS (while it could be any decorator for TS).

IMO `@Injectable` is a reasonable name.

[2015-09-28 23:52] jeffbcross opened #4405 "In case of error, DynamicChangeDetector assumes propertyBindingIndex is set"
Other errors get obfuscated by exceptions raised by DynamicChangeDetector when evaluating `_currentBinding()` on a `DynamicChangeDetector` instance if the `propertyBindingIndex` is null. This occurred in dart.

[2015-09-29 00:07] vicb commented on #4320
`@UpdateHost`, `@ToHost` ???

[2015-09-29 01:44] wardbell commented on #4404
"*`@Injectable` is a reasonable name.*"

I guess I see where you're coming from.  But the objection is reasonable.

In fact, the  `@Injectable` decoration really means that this thing expects to have *its own* dependencies injected.

The problem with `@Injectable` is that it means ***exactly the opposite of what it does**. It means that the decorated class *can be injected into something else*. It

[2015-09-29 02:00] vicb commented on #4404
[code]

I'm probably biased by my Angular Dart background: in Dart there is no way to know if the class has dependencies unless you have some kind of reflection info that is `Foo.length` is not available in Dart & `@Injectable()` isn't optional.

[2015-09-29 02:39] vicb opened #4407 "[Dart] Transformers handling of Input, Output, HostBinding and HostListener"
As of today the `Input`, `Output`, `HostBinding` and `HostListener` are added to the `propMetadata` property of a `RegisteredType`.

As a result `Property` does not generate setters and `Event` does not generate getters.

I think that a best way to handle them would be:
- to merge the info into the metadata
- to not record the property decorator on the `RegisteredType`

[code]

/cc @vsavkin

[2015-09-29 03:06] vicb opened #4408 "[Dart] transformers handling of queries"
Similarly to #4407 there are two way to define queries on an Angular component:

- The queries key in a `@Component`,
- The `@ContentChild`, `@ContentChildren`, `@ViewChild` and `@ViewChildren` property decorators.

Shouldn't the queries be recorded in the metadata for the component some around [here](https://github.com/angular/angular/blob/8ff65a30c724e99f4b48935024751180baa9477a/modules_dart/tra

[2015-09-29 03:19] jessegood commented on #4404
Why not make create another separate decorator for TS use and leave `@Injectable()` for ts2dart only?

[2015-09-29 03:59] wardbell commented on #4035
My first reaction is "why are we using DI to supply this value to the callback?"  I don't have to do that in any of my wrapper functions. I do say that the first argument past to the callback will be the `done` function as we see here:  `injectAsync([], done => { done()})`

If I'm injecting something, well that looks like this:  `injectAsync([d1, d2], (done, d1, d2) => { done()})`

This works grea

[2015-09-29 04:44] vicb commented on #4035
[code]

would the TS compiler be happy with that ?

One reason to have a class is to make the Dart compiler happy. But actually you should be able to implement the `Function` interface:
[code]

Looking forward to your PR :)

[2015-09-29 04:52] dsebastien commented on #4404
It's kind of funny how naming things is actually one of the hardest things in IT :)

With Spring in Java, we have the @Autowired annotation for the same purpose (not anything related to metadata generation, but simply as a means to state that dependencies of the annotated class should be injected by the DI system): http://docs.spring.io/autorepo/docs/spring-framework/3.0.x/api/org/springframework/

[2015-09-29 04:53] wardbell commented on #4035
@vicb I tried it in VS Code before I wrote the above. I expected it to complain. For some reason it didn't but if it had I would have moved on to the technique for telling TS that an object (the instantiated `DoneFn` class) can be called.

No PR from me, I'm afraid, because I don't know the test-lib well enough to know where to slide this in ... or to fix the `beforeEach`.  I know we are all scram

[2015-09-29 05:00] #4401 closed

[2015-09-29 05:01] KalpeshChheda commented on #4401
http://stackoverflow.com/questions/32831801/angular2-object-undefined/32832037#32832037

[2015-09-29 05:57] mgechev commented on #4404
The issue makes sense to me. Here are my thoughts on the suggested names:

- `@InjectedParameters` - I like it but also find it a little bit confusing because of the past tense.
- `@HasInjectables` - I like it, makes sense.  Not sure how clear it is that the DI is required for resolving the arguments of the constructor.
- `@HasInjects` - `Injects` is a bit confusing for me.
- `@Injected` - It does

[2015-09-29 06:03] mgechev commented on #4347
Fixed by https://github.com/angular/angular/pull/4364

[2015-09-29 06:03] #4347 closed

[2015-09-29 07:17] danicomas commented on #4393
Thanks @gdi2290 but is it only possible statically via template and directives? I would like to do it dinamically.

[2015-09-29 07:21] Robertmw opened #4409 "Module "angular2/angular2" has no exported member "FormDirectives""
I'm attempting to follow some examples related to using forms in angular2 and it looks like angular can't find the FormDirectives in angular2.d.ts.

[code]

I'm using https://code.angularjs.org/2.0.0-alpha.36/angular2.dev.js

[2015-09-29 07:24] danicomas commented on #3838
Nice @mhevery . But I see that you are using ng1 services. It only will be possible via ng1 injection in ng2 or with ng2 core too? Are you saying that in ng2 the correct way is load via loader.loadNextToLocation or other DynamicComponentLoader method instead the get the template and compile?

[2015-09-29 07:41] mgechev commented on #4409
Probably you're looking for [`FORM_DIRECTIVES`](https://github.com/angular/angular/blob/master/CHANGELOG.md#200-alpha35-2015-08-19)? Here is now its definition looks like in `angular2.d.ts`:

[code]

[2015-09-29 07:48] Robertmw commented on #4409
@mgechev That's it, thanks!

[2015-09-29 07:48] #4409 closed

[2015-09-29 08:45] vvo commented on #3337
I think you can have multiple checks so that you see that tests passes for ongoing PRs

Yep just need to run it in another CI check

[2015-09-29 11:31] PascalPrecht commented on #4404
@jessegood It was surely not the intention, but it just happens that it's a decorator lying a round there, that can be used to workaround the issue. We **do** need a way to enforce TS to emit metadata.

@mgechev sure they have to, but in the end it's a thing that TS should do (even if we're not using Angular's DI). So it maybe something generic like `@EmitMetadata()` is a good fit. Because that wh

[2015-09-29 11:56] PascalPrecht commented on #4320
The more I think about the suggested names and the reasoning behind renaming the original one at all, the more I think `@HostBinding` is the best fit. Thing is that even ppl like us that know sort of what's happening behind the scenes, came up with `@HostProperty` or anything `@xxxProperty` in the first place, even though it's semantically different from what `@Property` does.

Think about what us

[2015-09-29 12:09] TommyM commented on #4404
Some more suggestions:

@Populate
@PopulateInjections
@EnableDI
@NeedsInjections
@InjectDependencies

[2015-09-29 12:52] ericmartinezr commented on #4404
I think we should stop thinking about the word Injection. That's limiting the options. The purpose of @PascalPrecht proposal is to emit the metadata to bind a class into some component. In most cases we use for Services, so what about `@Service()`? Or maybe something more generic, thinking that it will be injected into `bindings/viewBindings`, like `@Bindable()`.

[2015-09-29 13:13] TommyM commented on #4404
@ericmartinezr The decorator is not needed to make the class itself injectable/bindable, which is why ```@Injectable``` is not a great name and why @PascalPrecht is suggesting to rename it. We actually need the decorator to have DI be able to inject into the constructor of the class itself. ```@Bindable```, just like ```@Injectable``` also gives us the impression that we make the class itself inje

[2015-09-29 13:42] mgechev commented on #4404
@PascalPrecht with `@EmitMetadata()` we're getting tightly coupled to the underlaying language used for the implementation (i.e. TypeScript).
It might be a good idea to have such decorator for enforcing the meta data generation in the general case but when talking about dependency injection something more specific could be more suitable.

[2015-09-29 13:48] pkozlowski-opensource commented on #4404
I must say that I kind of like the `@Service` idea from @ericmartinezr .

I saw a similar approach in Spring framework where there are annotations like `@Service`, `@Controller` etc. Those annotations don't do much but serve 2 important purposes:
* allow DI to consume those
* add more "documentation" / context to what a given class does / what it the purpose of it.

I agree that `@EmitMetadata` (a

[2015-09-29 14:07] TommyM commented on #4404
I like ```@Service``` as well. It describes the purpose of the class, and fits nicely in the list of ```@Component```, ```@View```, ```@Directive``` etc.

[2015-09-29 14:48] ericmartinezr commented on #4404
@TommyM You could say that of any proposed naming, so I think the main issue is the fact that "is not needed", probably this issue should be tackled from another angle : force the user to add some decorator in the classes being injected through `binding/viewBindings`, this way metadata will be emitted no matter what.

So, if we have something like this

[code]
it should throw something like

[code

[2015-09-29 15:35] kegluneq commented on #4407
This approach makes sense to me, however I do not have the cycles to make it happen currently.

In addition, the work done on the [compiler-integration](https://github.com/angular/angular/tree/compiler-integration) branch will obsolete any effort put into this now, so I recommend we wait until that has landed to make these sugar-y kind of changes.

[2015-09-29 15:38] kegluneq commented on #4408
I agree with the approach you outline, but see my comment on #4407: I do not think we should do this prior to the compiler-integration changes landing.

If this is an urgent update, @vicb you or @vsavkin could branch off compiler-integration and update `DirectiveMetadataReader` to understand property annotations. I'd be happy to point you in the right direction.

[2015-09-29 16:08] rosendi commented on #3745
@antonmoiseev same issue. have you found where the point is?

[2015-09-29 16:23] mhevery commented on #4197
This works as expected. The issue is that bootstrap returns a promise which is outside the angular zone, and as a result the `then`s also execute outside the zone. The plan is to remove the Promise return from here to prevent these kinds of issues.

[2015-09-29 16:23] #4197 closed

[2015-09-29 16:27] jeffbcross commented on #3914
I believe both requirements were satisfied by https://github.com/angular/angular/commit/a8bdb693b9d9df82c0078eb327ba6f9fe0e8ca0a

[2015-09-29 16:27] #3914 closed

[2015-09-29 16:28] PascalPrecht commented on #4404
Having sth. like @Service might encourage ppl to *always* put @Service on a
service class because... Well, it's a service. This would take us to the
original problem that metadata is generated even though it's not needed.

Which means we have to explain in any case why and when this @Service
decorator needs to be added and when not. And as soon as we do that, we're
talking about the underlying nat

[2015-09-29 16:31] jeffbcross commented on #3807
As an aside, `capitalize` could now be implemented as a pure pipe, which would cause transform to only be called when the input has changed.
https://github.com/angular/angular/commit/a8bdb693b9d9df82c0078eb327ba6f9fe0e8ca0a

[2015-09-29 16:31] mhevery commented on #4190
Remove this warning as it is normal behavior.

[2015-09-29 16:33] mhevery commented on #4186
@rkirov This is not valid code??? Could you rewrite? `addCallback` takes a function.

[2015-09-29 16:33] #4186 closed

[2015-09-29 16:36] mhevery commented on #4179
https://github.com/angular/zone.js/issues/187

[2015-09-29 16:43] jrote1 commented on #4190
Why is this expected behaviour dart can only have one unnamed constructor

[2015-09-29 16:45] #4176 closed

[2015-09-29 16:48] mhevery commented on #4168
We are in the process of redoing the docs. Closing for now.

[2015-09-29 16:48] #4168 closed

[2015-09-29 16:49] nosachamos opened #4413 "Query string parameters are lost when entering a route"
I have a small test app on alpha 38 with three routes, configured as follows:

[code]

I can access the routes using router-link, and when I place query string params in the URL I can read them just fine. However, a few instants after I read the parameters, I noticed that the route loads fine and the URL is updated, removing the query string parameters.

In other words, accessing this route:

**ht

[2015-09-29 16:51] mhevery commented on #4156
This is a configuration issue of missing annotations. The error message is telling you that. Closing as working as intended. If you have trouble getting the project running please check with gitter.

[2015-09-29 16:51] #4156 closed

[2015-09-29 17:12] pkozlowski-opensource commented on #4186
@mhevery @rkirov we've got a use case, actually: let's say I've got a component that updates its internal state based on what happens to its children.

More specifically: say I've got a `<carousel>` component with several `<slide>` children. I want to observe a list of slides to update carousel's state (for example to make sure that the current slide is not the deleted one, update navigation indic

[2015-09-29 17:20] rosendi commented on #3745
@antonmoiseev `import 'zone.js'` fixes the problem.

[2015-09-29 18:43] splintercode commented on #4285
Hmm ok let me go back and double check and try to make a plunker. I had issues using a radio list created with a form builder.  It was probably my mess up. Do you know of any examples?

[2015-09-29 18:49] alxhub commented on #4323
I tracked down the root cause:

`NgControlGroup` declares an `onInit` method, which schedules some work to be completed asynchronously, via `PromiseWrapper.resolve`.

The problem is that `onInit` is not idempotent - it is called if change detection runs and has never completed successfully. If an exception happens during change detection after `onInit` is called, `AbstractChangeDetector.alreadyChe

[2015-09-29 20:58] vsavkin opened #4416 "Discussion: Rename DI Bindings into Providers"
Using the same word "binding" for two core ideas of the framework causes some confusion.

Proposal: Rename Binding into Provider, and bindings into providers.

[code]

Pros:
* Similar to Angular 1
* Binding means only data-bindings

Cons:
* Different from other DI systems, which mostly use the word binding

@IgorMinar @mhevery

[2015-09-29 21:12] mhevery commented on #4207
This works as intended, even thought it is confusing. That is because `<div (selected-value)="...">` binds to what event? Because we don't have casing in HTML, we have to assume that it binds to `selectedValue` event since that is the convention we use for converting skewer-case to camelCase. Therefore `['valueUpdate: selectedValue']` is correct.

[2015-09-29 21:12] #4207 closed

[2015-09-29 21:12] hess-google commented on #4416
+1. I was just writing up my observations on my first 2+ week deep-dive into Angular 2, and one of them was:
_Overloaded terminology may cause confusion when learning the framework._
“A component has property and event bindings” ([ref](http://victorsavkin.com/post/118372404541/the-core-concepts-of-angular-2))...but also has a property ‘bindings’ which is its private dependency injector.

Related t

[2015-09-29 21:14] mhevery commented on #4240
TypeScript v1.6 will solve this issue.

[2015-09-29 21:14] #4240 closed

[2015-09-29 21:20] mhevery commented on #4225
closing as dup

[2015-09-29 21:20] #4225 closed

[2015-09-29 21:26] TiagoBraga39 commented on #4207
I understand it is correct. It is about consistency.
I just think that an alias to a property should be similar to an event.
An alias works as an outside way to use a property.

In property aliases we use the hyphens and works.
Not the case with events. We need the alias to be camel case.

As I understood:
<property/event> : <alias to use from the outside>

[2015-09-29 21:59] mhevery opened #4417 "Use our own parser for HTML (instead of browser)"
Advantages:
* We could use it in WebWorker, Server side, or with native renderers.
* Proper camel casing. (We can get rid of `inner-html` vs `innerHTML`) #4923
* Errors have proper line numbers.
* We can rely on attribute order (not sure if it would be relevant)
* We could support self closing tags `<name />` for custom elements
* No need to ship parser when doing offline compilation.

/cc: @pkozl

[2015-09-29 22:03] mhevery commented on #4275
I am sorry, this is not something we will support. This is how things worked in AngularDart v1.0 and it created many issues. Namely that it was not possible to analyze the templates locally. You could get to situations where depending who is above you different directives are active on the same template, and this is something which negatively impacts speed.

[2015-09-29 22:03] #4275 closed

[2015-09-29 22:03] vicb commented on #4417
Couldn't we rely on parse5 here ? (AFAIR it also supports line numbers)

I'm not sure if I like your "proper camel casing" point: I think we should conform to what HTML is and don't try to re-invent the wheel.

[2015-09-29 22:08] vicb commented on #4416
I'm with @vsavkin on this.

I think it would help with `@HostBinding` (we can then keep this name). I was thinking about this renaming when submitting the issue about `HostBinding` but didn't end up proposing because `bind` seems like a common terminology for DI (see Guice) - I personally don't mind dropping `bind`.

We should rename `toXXX` as well: `new Provider(Http, {toClass: CustomHttp})` doe

[2015-09-29 22:15] PascalPrecht commented on #4416
Think it would be `viaValue()` and `viaClass()` then. I understand why
renaming that concept (yet) again might be good. But we should keep in mind
that people got used to the term "binding" now. Also, using the term
"provider" might make people think that we have the concept of providers
like in A1 again...

Although otoh that's what a provider is somehow all about, even in A1.

On Wed, Sep 30, 20

[2015-09-29 22:21] PascalPrecht commented on #4416
@hess-google I think you're confusing two different things here. Providing
a binding for DI and injecting something are not the same thing. I don't
think that this renaming will help with the enforcing of emitting metadata
in typescript.

However, I do agree that "binding" is a heavily overloaded term in A2

On Wed, Sep 30, 2015, 12:15 AM Pascal Precht <pascal.precht@gmail.com>
wrote:

[2015-09-29 22:39] mhevery commented on #4368
I think we should do #4417  which would then solve all of these issues once and for good.

[2015-09-29 22:43] mhevery commented on #4390
I would vote to not include any in Angular2.

[2015-09-29 22:43] robwormald commented on #4416
I've long thought this was sort of confusing too. That said, I feel like "providers" as key sort of isn't much better.

I've just been referring to things as "services" and "components", personally. So:

[code]

Most ng1 users are quite happy with the term service, I think.

[2015-09-29 22:45] mhevery commented on #4392
:+1: for having `RouteData` type so that it can be cleanly injected.

[2015-09-29 22:45] robwormald commented on #4404
Ha, I just posted "services" as the replacement for bindings over in #4416, so +1 on `@Service` for me.

[2015-09-29 22:46] mhevery commented on #4402
The feature is needed and needs to be implemented.

[2015-09-29 22:46] robwormald commented on #4404
@PascalPrecht

decorator needs to be added and when not. And as soon as we do that, we're
talking about the underlying nature of TS anyways.

Fair point, but my answer to that is kind of "so what?" It's a lot better to have a bit of extra metadata than have the whole thing blow up without it. I dunno.

[2015-09-29 22:51] btford commented on #4392
I think I'm convinced a type would be better.

PR welcome :)

[2015-09-29 22:53] mhevery commented on #4404
1) I am fine for renaming
2) None of the suggestions so far are objectionably any better then what we currently have

So unless we could come up with good alternative we are stuck with status quo.

My rules:
1) Less words is better `Injectable` is better then `EmitMetadata`

[2015-09-29 22:57] mhevery commented on #4416
@wardbell and @matanlurey  do you have comments? I am leaning towards changing this to `providers`

[2015-09-29 23:03] robwormald commented on #4390
Problem with that is at the moment there's not really a good way to add them after the fact to Observables returned from the core, at least in TS:
[code]

The ES7 functionBind proposal gives us a nice solution, but its not currently supported in TS:
[code]

Dart has a distinct advantage here as they provide a similar set in the language itself on Streams:
https://api.dartlang.org/1.12.1/dart-async

[2015-09-29 23:08] #4179 closed

[2015-09-29 23:23] mhevery commented on #4405
I think this needs more context.

[2015-09-29 23:26] mhevery commented on #4281
known issue. Closing as dup

[2015-09-29 23:26] #4281 closed

[2015-09-29 23:27] mhevery commented on #4285
reopen once you have a plunker

[2015-09-29 23:27] #4285 closed

[2015-09-29 23:29] mhevery commented on #4298
reopen when more data is provided

[2015-09-29 23:29] #4298 closed

[2015-09-29 23:30] mhevery commented on #4301
if you don't want it then don't export it. I think `@private` is only meant for hiding parts of the implementation.

[2015-09-29 23:32] #4301 closed

[2015-09-29 23:33] mhevery commented on #4307
Could you provide a concrete use case?

[2015-09-29 23:38] wardbell commented on #4404
I vote to keep `@Injectable` and move on.  As I am the person who objected to this name early on this I am now filled with regret.

First, we wouldn't have to worry about this if there were pragmas (per @robwormald ).  But we don't have it.

Second, if we must have it, the name should convey what in means to the developer, not how it works. Therefore, I am opposed to anything like "emit metadata".

[2015-09-29 23:39] IgorMinar commented on #4416
+1 for naming change, but we should take a look at the big picture view and see how this impacts all the public apis (e.g. `hostBindings`, `bindings`, is there more?)

[2015-09-29 23:47] robwormald commented on #4404
I'm filled with regret for even mentioning the word "pragma" anywhere near a JS project, so we're even.

That's sort of why I suggested "service". It keeps the "things in Angular you build" scoped to 'Component', 'Directive', and 'Service' - which is a reasonably simple thing to grok.

[2015-09-29 23:48] wardbell commented on #4416
I want to change it from `bindings` as well. Way overloaded.

The problem with `providers` is that it introduces ***yet another new concept*** ... something we don't need right now.

I'm inclined toward @robwormald suggestion of `services` ... although that introduces a new concept as well albeit a familiar concept.

We already teach "dependencies" as part of Dependency Injection.

Why not call th

[2015-09-30 00:36] vicb commented on #4417
To give more details on why I'm not keen on this idea:
- I can not really remember of any techno aimed at improving the standard (coffe script, dart, ...) being very successful and widely adopted,
- Having our own parser would Make it easy & tempting to deviate from HTML. IMO this could only increase fragmentation & frighten users,
- do we really want to maintain a parser as part of Angular (for r

[2015-09-30 00:39] #4297 closed

[2015-09-30 01:45] StacyGay commented on #4275
@mhevery A solution for this would be not to resolve a created instance from the injector, but to instead just pull the binding containing the type from the injector.  In this way it could pass though  and be processed by the Compiler._bindDirective() method in the same way that a type or binding does now.  The only side affect in this case is that you couldn't have a directive as a singleton.

[2015-09-30 03:12] IgorMinar commented on #4301
there was a case where it was not possible to not reexport the class. @vsavkin what was the exact scenario?

[2015-09-30 06:14] bharathm03 commented on #4307
Hi mhevery

I’m developing custom component in angular2. For change detection, I’m writing custom Differ which will merge some features of KeyValue and Iterable differs. For ex, refer following object, differ can detect the changes in name, hobbies and city & country in knownAddresses.
[code]
For this differ, I need an extra parameter like `detectLevel`, which I will use to determine how deep the

[2015-09-30 10:49] mgechev commented on #3595
I can take this one. As far as I see, soon [EventEmitter will removed](https://github.com/angular/angular/pull/4424) as dependency of http so there will be no more blocking issues.

[2015-09-30 10:57] alexpods commented on #4417
@vicb Angular2 has already deviated from HTML. Please, don't pretend that `[prop]`="expr", `(event)="expr"`, `*ng-for="#value of values"`, `<div #element>` are valid HTML syntax. And it has already frighten some users. The way I see it, remembering of dashCase/camelCase conversion and [its special cases](https://github.com/angular/angular/issues/4207) are terrible developer experience. It will fri

[2015-09-30 10:57] PascalPrecht commented on #4416
@wardbell I think `dependencies` would be too generic, since we also have a `directives` property in the `@View()` decorator, which are also some sort of dependencies. Ppl might wonder why those are not treated as "dependencies".

[2015-09-30 10:59] PascalPrecht commented on #4404
Keep in mind that this isn't just code size. It can also have impact on the applications runtime performance since there are unnecessary calls to `__metadata()`.

[2015-09-30 11:18] mgechev commented on #4416
I agree that `dependencies` is too generic. `services` seems too specific. Especially if we bind to a value or a factory it doesn't make a lot of sense to me.

I'm for `providers` although I realize it may create some confusion to the users who are familiar with AngularJS 1.x.

[2015-09-30 11:39] pkozlowski-opensource commented on #4417
@vicb looking at the current user experience / feedback there are _toons_ of people that bump into this issue. I all for following standards, but I'm also for given users' a tool that works according to their expectation.

I'm not saying that we should do one or another - I can totally live with the current system since I understand it now. But yeh, we've got trade-offs to make here.

My understan

[2015-09-30 12:17] cexbrayat commented on #4392
@mhevery @btford Thx for your answers.

Do we agree on a  ̀RouteData` type that we can inject, and which would offer a getter (as `RouteParams` does)?

    constructor(routeParams: RouteParams, routeData: RouteData) {
      let id = routeParams.get('id');
      let isAdmin = routeData.get('isAdmin');
    }

If so, I guess a `Route` data should be a simple object, like:

    new Route({path: '/user

[2015-09-30 12:41] ericmdantas commented on #4416
So, we wouldn't have `viewBindings` and `bindings` anymore, it'd be just `providers`?

Also, even though it might cause some confusion at first:
`provide(Something).viaFactory(() => new SomethingElse('yay'))` sounds cool.

[2015-09-30 12:44] PascalPrecht commented on #4416
It really does.

I think we'd have `providers` and `viewProviders` then.

[2015-09-30 12:45] martinsik opened #4427 "Support <select multiple> with Control class"
Hey guys, I'm trying to use `<select>` field with multiple selectable options, in the same way as its documented in [select_control_value_accessor.ts](https://github.com/angular/angular/blob/master/modules/angular2/src/core/forms/directives/select_control_value_accessor.ts) (although the doc block is maybe slightly outdated) eg.:

[code]

But when I want to get selected values with `control.value`

[2015-09-30 13:01] cexbrayat commented on #4392
(I opened a related PR #4428 to start the discussion, feedback welcome)

[2015-09-30 13:20] PascalPrecht commented on #4392
@cexbrayat thanks for starting this, I already took a look and it LVGTM!

[2015-09-30 13:59] kasperpeulen commented on #4417
I would love this. If you are going to set a `javascript` property, I feel like I should use the `javascript` name, not some html enforced name.

About the html standards argument. It doesn't feel like the angular2 project is much into standard. I mean writing the code base in Typescript. Supporting Dart. Also the `[...]`, `(...)` `#input` notation etc.

Some people will not like this. But is that

[2015-09-30 14:02] d10genes commented on #3188
@Dunken @jgw96 try including the equals sign: `live-server --open=src`, it worked for me

[2015-09-30 14:25] brunocascio opened #4429 "Prepend Strange value in ng-options"
Hi everybody,

I created a select directive, and when inspect the options i see that the values has prepend with the type.

for example:

`<option value="string:person">Person</option>``

My directive:

[code]

Calling in template:

[code]

[code]

Thanks!

[2015-09-30 14:33] brunocascio commented on #4429
I move this issue to angular 1.x, sorry

[2015-09-30 14:33] #4429 closed

[2015-09-30 15:45] vicb commented on #4417
@alexpods

They all are valid HTML syntax.

@pkozlowski-opensource

AFAIU we use parse5 to parse templates on the server side.

As of today, we use the browser built-in parser so we already do not need to embed any kind of parser in the runtime. The situation would be even regarding the runtime footprint.

I fully agree here. We should consider it and carefully weigh the pros & cons before we jump

[2015-09-30 16:00] pkozlowski-opensource commented on #4417
@vicb IMO there are more benefits that just camel-casing and self-closing tags:
* Errors have proper line numbers <- this would be huge wine. Especially that we can detect more pbs (ex.: funky auto-corrections done to HTML by browsers)
* From what I understand we would have still some runtime code-size gains - we should measure.
* Not having several versions of a parser would be good (only one cod

[2015-09-30 16:01] wardbell commented on #4416
As a matter of pure English and within the world of s/w, provider and dependency  are equally generic.

The biggest problem with provider is that it is yet another word in the Angular lexicon. We don't need more of those.

What does a provider provide? How is it used? If you were to answer in this context, you would say it provides something that is injected into another thing.

We have that word

[2015-09-30 16:05] wardbell commented on #4416
My phone mangled my text. "instinct, not reason". The point being that the dev doesn't have to understand or reason about "providers". She simply knows without thinking that she must supply a thing that goes into a constructor because that's what she learned to di she she leaned dependency injection.

[2015-09-30 16:06] wardbell commented on #4416
Learned to do when she

[2015-09-30 17:25] vsavkin commented on #4416
@wardbell You are right, providers is yet another concept, but I thought Angular 1 developer are familiar with the notion of providers. Would not you agree?

I don't think we can use the word dependencies because the following use case.

Say we have a directive that wants to publish itself as a validator. It is reasonable to use the name provider or binding here. The directive either is a validato

[2015-09-30 17:28] wardbell commented on #4404
@PascalPrecht I might. One might list "Remove unnecessary `@Injectable` decorations" among the perf optimization techniques.  The bigger problem is finding a term that won't trigger the dev to apply this decoration anyway "as a precaution". I'm not sure that is solvable.

[2015-09-30 17:30] robwormald commented on #4404
Valid point.

Just to murky the waters a biiiit more, the issue that this little hack is solving isn't making it "injectable" or a "dependency" - its notating that it "injects" or that it "has dependencies"

/me ducks

[2015-09-30 17:31] wardbell commented on #4404
"@HasDependencies" was my favorite but I think we have bigger fish to fry.

[2015-09-30 17:46] jeffbcross commented on #3595
@mgechev yep! And you should coordinate with @robwormald to prevent stepping on each other's toes, since he's doing a lot inside `Http`.

[2015-09-30 17:47] jeffbcross commented on #3595
I'll self-assign this for now, but will consider @mgechev as the actual assignee.

[2015-09-30 17:49] robwormald commented on #3595
i've more or less completed this anyway whilst refactoring the Observable stuff, just a couple more bits on the MockBackend to remove to go, and then it should be just the isFunction and whatnot kind of things.

[2015-09-30 17:58] jeffbcross commented on #3595
In that case, do you want to just task on a commit to your PR removing the remaining facade stuff, @robwormald ?

[2015-09-30 18:00] robwormald commented on #3595
OK with me. I'd love some help with the next phase (refax of EventEmitter and such in the facade itself), but i think in Http i have it under control.

Q - handy things like "isFunction" - they're in the facade but useful, should they be pulled as well?

[2015-09-30 18:15] jeffbcross commented on #3595
@robwormald I think @mhevery is the one to ask about what should be in facade. From my most recent convo with him, I think his opinion is that utilities like `isFunction` should be pulled out of facade, and facade should just be treated as common abstractions over platform APIs that have subtle differences between JS and Dart.

[2015-09-30 18:17] tbosch opened #4432 "Performance regression in tree update benchmark"
See
b/24534960

Numbers went from about 7ms to about 9ms

[2015-09-30 20:25] kegluneq opened #4433 "Remove generate_change_detectors deprecation message"
After 30 Oct, remove `generate_change_detectors` code and deprecation message from `common/options.dart` and `common/options_reader.dart`.

[2015-09-30 20:26] wardbell commented on #4416
OK ... I am sold on `providers`  WITH THE PROVISO that we start talking about them early and often in the context of Dependency Injection.

@igorMinar: We must add this "provider" term to the Glossary.

**@PascalPrecht take heed.**  We need to **start driving the term, "provider", throughout the DI chapter** so that we lock it into the developer's brain.

I'm about to think out-loud about what the

[2015-09-30 21:22] blesh commented on #4390
Without es7 function bind support in TypeScript, I'd recommend just including the current RxJS 5 Core Operators. There are a lot, but frankly they're a subset, and they're things that people want.

If you really don't want to include those, you could just mirror the Rx.ts file and create your own "lite" version... But then you'll be stuck supporting requests for the other operators.

... So my rec

[2015-09-30 21:25] blesh commented on #4390
FWIW, the ones in RxJS 5 Core are ones that are non-trivial to reproduce with any combination of other operators. That's the goal at least.

Most of them were chosen because of their usage within Netflix apps.

[2015-09-30 21:38] IgorMinar commented on #4320
In the light of #4416 which renames all di binding terminology to di provider, which frees up "binding" to be used only as data-binding, this API name might remain as is.

[2015-09-30 22:08] martinmcwhorter commented on #4417
I am wondering if any of the new TypeScript tsx/jsx features in TS 1.6 could be leveraged with an Angular2 parser in order to allow type safe templates?

[2015-09-30 23:22] Berkana commented on #4416
Well, considering your listed pros and cons, how about renaming data-bindings as such, and leaving this similar to other DI systems?

[2015-09-30 23:52] matsko opened #4438 "Binding to datastore attributes (data-*) within a template"
Currently doing this throws an error:

[code]
Variations such as `data-something="{{ }}"` also do not work.

Are there plans to add support for `data-*` attributes?

[2015-09-30 23:54] kegluneq commented on #4433
Also remove `inline_views`.

[2015-09-30 23:59] vicb commented on #4438
see https://github.com/angular/angular/pull/2719

the consensus there was to have a `[data.something]="expr"`.

@pkozlowski-opensource has the corresponding been created ?

[2015-10-01 01:18] #4405 closed

[2015-10-01 02:54] IgorMinar opened #4441 "tmp directory is not being cleaned up correctly"
Several of us have noticed that the `tmp` directory keeps on growing over time in spite of the `cleanup.builder` gulp task that runs when gulp is about to exit.

It seems that while `build.js.dev` cleans up stuff correctly, exiting `test.unit.js` leaves files behind in the tmp folder.

[2015-10-01 07:05] gdi2290 opened #4443 "include setTimeout in EventEmitter onError and onComplete"
### summary
`EventEmitter` should also resolve onError and onComplete asynchronously for both onError and onComplete.

### problem
On the server, I'm running into a problem EventEmitter because onComplete is called before onNext

[code]
should be

[code]

### current workaround
include `setTimeout` for `onError` and `onComplete`

### background/why
as far as I know, `setTimeout` was added in order

[2015-10-01 08:14] DavidGangel opened #4444 "Main app components constructor or onInit method runs multiple time"
I have the following code:
https://gist.github.com/DavidGangel/dd9d5da245784a9a5fa8

Now the execution is the following:
1.It initialize my restManager and routerManager
2.Returns to skins and sets the 2 variables in the constructor.
3.invokes the onInit mehtod.
4.Inside the onInit invokes:
var promise = this.restManager.getSiteMapConfiguration();
5.Moves inside the above method and returns a prom

[2015-10-01 08:42] PascalPrecht commented on #4416
I would rather stick with the term `token` instead of `key` since `key` has yet another meaning in the DI source code.

Other than that, I'm with you.

[2015-10-01 08:45] PascalPrecht commented on #4416
Oh one last thing, we still use the term "Binding" that is passed to an injector configuration, right @wardbell ?

Because then I'm not sure if that frees up the naming entirely for #4320. @IgorMinar wdyt?

[2015-10-01 09:40] inikulin commented on #4417
@vicb

Correct. v2.0 will come up with line/col support as well.

[2015-10-01 09:50] PascalPrecht commented on #4416
@wardbell I'll streamline the DI guide, once this change landed in the code base..

[2015-10-01 10:44] bd715 commented on #3188
The solution by d10genes works for me :+1: thank you
live-server --open=src

[2015-10-01 11:27] pkozlowski-opensource commented on #4416
@PascalPrecht my impression was that we are going to drop the 'binding' word from DI altogether, otherwise the confusion stays.

How about this:

[code]

or

[code]

[2015-10-01 11:32] kasperpeulen commented on #4417
@vicb I think I didn't word myself clearly. I didn't meant to say I see dart support as an issue. I love dart.

As an outsider, it looks like the philosophy of angular2 is more in sense of, "no problem to go a bit off standards, if it gives big gains". Actively recommending typescript, supporting dart. I like that way of thinking. It feels like this proposal is in the same line.

Where polymer see

[2015-10-01 11:33] markharding opened #4445 "(bug): Date pipe throws Reference error in Safari"
The issue appears to be related to DateFormatter 'Intl' service.

[code]

[2015-10-01 11:37] pkozlowski-opensource commented on #4445
Yes, those filters need update. This is duplicate of https://github.com/angular/angular/issues/3333

[2015-10-01 11:37] #4445 closed

[2015-10-01 11:39] pkozlowski-opensource commented on #4438
@vicb nope, sorry, forgotten, creating straight away.

@matsko you are trying to bind to an _attribute_ so you can make it work today by doing `[attr.data-foo]="exp"`

[2015-10-01 11:39] pkozlowski-opensource commented on #4438
Well, actually, we can keep this issue open - I will just rename it sligtly

[2015-10-01 15:01] tbosch commented on #2982
This might work now with the new compiler (not yet in master)...

[2015-10-01 15:37] TiagoBraga39 opened #4446 "Extending DOM Elements"
Hi all!

Is it possible to extend DOM Elements with Angular 2?
In a way I can use it like:
[code]

Thanks in advance,
Tiago Braga

[2015-10-01 15:46] TiagoBraga39 commented on #4446
Aparently it's not standard, so the answer is probably not.
Not present here: http://www.w3.org/TR/html-markup/global-attributes.html
Neither here: http://www.w3.org/TR/html-markup/input.text.html

Can anyone just confirm these assumptions?
Then close this any time you want :)

[2015-10-01 15:52] wardbell commented on #4416
@PascalPrecht @pkozlowski-opensource I woke up this morning regretting that I had called it `DI binding`. Wanted to rush here to update before you saw it. Too late ;-)

I don't have a problem with the word "binding" as long as it is qualified. In order to strengthen the notion of "provider" I wanted to refer to it as a **provider binding**.

It is not easy to get rid of the "bind" word.  That is t

[2015-10-01 15:55] wardbell commented on #4416
@PascalPrecht Refresh my memory on the difference between "key" and "token" in a DI context.  I have no problem with "token" if necessary. I prefer "key" because programmers are so familiar with "key/value pairs".

"key" is also faster to type because it is 60% shorter than "token"  <wink>

[2015-10-01 16:00] wardbell commented on #4416
@Berkana  "data binding" is the predominant form of binding in Angular applications. It will be too painful to oblige people to use four syllables where they are used to using two. They simply will not do it.

Moreover, by calling it simply "binding" we can avoid the spelling question ... "with a hypen or no hyphen?" ... that has plagued this term since the earth cooled.

[2015-10-01 16:11] tbosch commented on #2982
Fixed by #3605

[2015-10-01 16:36] mhevery commented on #4416
Just as a refresher:

1) Binding will refer to data-binding. The reason for the change is to lose the ambiguity with DI. Yes all DI systems use the word binding for providers, but they have tho luxury, because they don't have to deal with data-binding as well.  Hence forth binding refers to data.
2) DI has providers. DI configurations sets up providers. Yes, it is a bit awkward but no one has prov

[2015-10-01 16:47] wardbell commented on #4416
@mhevery  Please **no** to `resolve`.    That term is most commonly encountered with promises ... in much the way that "binding" comes up most frequently in the context of data binding.  I was already bummed out by `createAndResolve`.

I would prefer plain old `create`.  Why `createAndAnything`?  We don't do that for other classes.  It is perfectly usual to supply an optional array of stuff to cre

[2015-10-01 16:49] pkozlowski-opensource commented on #4446
You can do `<button extended-button>Click!</button>` today, where `extended-button` is a custom directive. This should cover most of the use-cases (adding new properties / events, changing properties of the underlying button etc.).

Closing for now, share a concrete use-case if you believe that things are missing here.

[2015-10-01 16:49] #4446 closed

[2015-10-01 17:05] pkozlowski-opensource commented on #4416
@wardbell IMO `provide('bar')` will be quite rare in practice, IMO. I would expect that most people will use sth like `provide(Foo).fromClass(FooImpl)` where `Foo` is an "interface". In this case I truly do provide `Foo` (interface should be the only thing that a user of Foo cares about).

Agree on _not_  using `resolve` - used already in a different context.

[2015-10-01 17:11] yjbanov commented on #4407
We should also wait until the `Event` rename is done, and we should postpone the rename till after pre-compilation lands on master.

[2015-10-01 17:12] yjbanov commented on #4407
This is blocked by #3605

[2015-10-01 17:13] yjbanov commented on #4322
We should postpone this till after #3605 lands. Marking as blocked.

[2015-10-01 17:17] mhevery commented on #4416
ok we don't have to do `resolve` I was just throwing it out there. So let's stick with `provide`

The reason we are going against DSL is this:

`provide(Key).asValue(123)` Works OK.
`provide(Key)` Missing method call is tricky to detect but possible. No compile time error.
`provide(Key, {multi: true}).asValue(123)` Is just awkward.
`provide(Key, {asValue(123), multi: true})` Is equally readable as

[2015-10-01 17:17] mhevery commented on #4322
It already landed: https://github.com/angular/angular/commit/adbfd29fd761135d51985564edcb4db7f8b6a26a

[2015-10-01 17:17] #4322 closed

[2015-10-01 17:21] todoubaba commented on #4416
What about just config with [key, factory] tuple array?
[code]

[2015-10-01 17:31] pkozlowski-opensource commented on #4416
Agreed. I was toying with the `provide(Key).asValue(123).multi` (where `multi` could be implemented as a getter?) or `provide(Key).multi.asValue(123)` but I'm not sure how I feel about it :-)

[2015-10-01 17:55] moacir-selinger opened #4448 "Bug Dialog in AngularJS@1.4.4"
Built a module to manage the loading templates for Modal Bootstrap. After upgrading my version of *angularjs@1.4.4*, to close a Modal, I can not open it.

**Simulation**: (http://embed.plnkr.co/3fLH5OaVQrnzalj8831U/preview)
Open your console in the browser, click the "Open Modal" button, it opened perfectly and the island was writing an element I scored. After open, close the Modal and try to open

[2015-10-01 17:56] mgechev commented on #4448
This repository is for Angular 2 related issues only. You can use https://github.com/angular/angular.js/issues.

[2015-10-01 17:59] moacir-selinger commented on #4448
Sorry, I will be enrolling there.

[2015-10-01 18:11] mgechev commented on #4448
It's ok, would you close this issue?

[2015-10-01 18:36] #4448 closed

[2015-10-01 21:23] wardbell commented on #4416
I'm cool with `provide`.  I could survive w/o the DSL; tricky injector configuration isn't something we do a lot. I am cool with it ... IF ... we keep the simple `[Engine]` special case so that the 90% scenario remains simple.

[2015-10-01 21:31] juliemr commented on #3829
FYI, this should eventually be done in Protractor. Setting up the next Protractor release to take care of it.

[2015-10-01 21:44] btford opened #4452 "feat(router): binding from router-outlet to child component"
For example:

[code]

`RouterOutlet` should be able to pass the `prop-passed-to-child` binding to `ChildCmp`.

[2015-10-01 22:21] alxhub commented on #4444
Hi David,

I'm not an expert on the router - @btford would know more, but I believe this is caused by use of the `router-link` directive in the `Skins` component template. Change detection causes the `router-link` invocation to be evaluated immediately after `onInit` returns, and the exception is thrown because no router configuration has been set yet.

I'm not sure, but you might be able to delay

[2015-10-01 22:33] btford commented on #4444
Try adding an empty `@RouteConfig([])` annotation to `Skins`.

[2015-10-01 22:49] mhevery commented on #4416
No one is suggesting of taking `[Engine]` away This is not a semantic change, purely syntactical change.

[2015-10-01 22:58] gdi2290 commented on #4452
:+1:

[2015-10-01 23:46] rkirov opened #4457 "In dart extending a lifecycle class like `OnInit` does not register the hook."
It is very easy to mistakenly write `class MyComponent extends OnInit` instead of `class MyComponent implements OnInit` and currently we won't call the hook in the first case.

[2015-10-02 00:50] kegluneq commented on #4457
This is currently working as intended, there's even a [unit test](https://github.com/angular/angular/blob/master/modules_dart/transform/test/transform/directive_processor/all_tests.dart#L275) for this behavior (and [here](https://github.com/angular/angular/blob/master/modules_dart/transform/test/transform/directive_processor/superclass_lifecycle_files/soup.dart) is the file that test operates on).

[2015-10-02 00:53] yjbanov commented on #4457
I think for consistency we should make people implement them. Perhaps the transformer should emit a warning?

[2015-10-02 01:52] #3605 closed

[2015-10-02 04:16] batdelger opened #4460 "ngform disable validation when control disabled"
I think ng-control validators should be disabled when control is disabled. For example: Control's disabled property could change depending on value of other control. Also I need functionality of disable/enable validity on NgControl.

[2015-10-02 07:50] wardbell commented on #4416
Yup.  Just nailing down the loose ends ;-)

[2015-10-02 07:54] danicomas commented on #3580
I have this:

[code]
@TiagoBraga39 @pkozlowski-opensource Why event emitter is not firing the second time?

[2015-10-02 08:21] TiagoBraga39 commented on #3580
1. Don't forget subscribe is not a synchronous call. So you don't see console.log("a") because this.text = "Open" actually happens first.
2. setTimeout for itself does not make it trigger since you are only subscribing to that emit() function.

This is basically what you need:
[code]
// Now you can do:
[code]

<b>But I am not sure if you can just watch a variable</b>. I never tried that, since i d

[2015-10-02 10:01] naomiblack opened #4462 "doc errors introduced by recent di and change detection changes"
There are a bunch of issues in the docs that seem to be related to the latest set of di and change detection changes (links that don't have a target). Victor, please review and fix?

You can reproduce the errors below (plus others not related to your changes) with the command `gulp/docs.angular.io`

[code]

[2015-10-02 10:20] naomiblack opened #4463 "doc errors introduced by recent bootstrap API changes"
There are two issues in the docs that seem to be related to the latest set of bootstrap API changes (links that don't have a target). Alex, please review and fix?

You can reproduce the errors below (plus others not related to your changes) with the command gulp/docs.angular.io

[code]

[2015-10-02 10:23] naomiblack opened #4464 "doc errors introduced by recent compiler/View API doc changes"
There's a new issue in the docs that seems to be related to your recent set of compiler/view API changes (links that don't have a target). Igor, please review and fix?

You can reproduce the errors below (plus others not related to your changes) with the command gulp/docs.angular.io

[code]

[2015-10-02 12:06] ericmdantas commented on #4389
Would it be part of the main module or a separated one?

[2015-10-02 15:28] tbosch opened #4467 "Dart Dev 1.13.0-dev.5.0 breaks our build"
Last dev version 1.13.0-dev.3.1 was good.
To test: run `dom_adapter_spec` / `it should clone correctly`

[2015-10-02 16:00] IgorMinar commented on #4464
There is a whole bunch of broken links in the docs because some of the docs are still missing.

I want to do a complete sweep through the links once we have all the docs in place.

[2015-10-02 16:44] gdi2290 commented on #4389
Hopefully a main module. The idea is that someone can use the `Cache` service in their 3rd party module then I can transfer the data to the client for server rendering e.g. `Http`. At the moment I'm relying on my own implementation of `Http` with a cache that I bind to on the server.  Someone can use their own prefered ajax service as well as bind it to the `Http` token. Since the framework is cou

[2015-10-02 17:58] vicb opened #4469 "Invalid binding, error message & input vs property"
As of a251df9df4a34592afb4984f7a3e13a186562234 if the template contains ie `<p *ng-if="..."></p>` and the `NgIf` directive is not added to the view, Ng will generate the following errors:

[code]

The first error should probably read: "is not an **input of** HelloComp".

We can bind to either an input (ie `ngIf`) or a property (ie `title`). Should we now call `title` an input instead of a property

[2015-10-02 18:03] pkozlowski-opensource commented on #4469
@vicb IMO if you say "input of a div" people will be really confused....

[2015-10-02 18:15] vicb opened #4471 "Invalid nested binding & error message"
Consider `MyCmp` with the following template `<p [tittle]="'should be title'">I'am a P</p>` (spot the typo in "tittle")

The error message would be: `Can't bind to 'tittle' since it isn't a known native property in MyCmp > p:nth-child(0)[[tittle]='should be title']`

While it should be: `Can't bind to 'tittle' since it isn't a known native property in <p> > p:nth-child(0)[[tittle]='should be title

[2015-10-02 18:28] jeffbcross opened #4472 "refactor(http): convert Connection interface to be Observable of Response"
(recapping discussion with @blesh, who will probably correct me)

## Current State

Right now, the [`Connection`](https://github.com/angular/angular/blob/a251df9df4a34592afb4984f7a3e13a186562234/modules/angular2/src/http/interfaces.ts#L22) interface, which is implemented by `XHRConnection`, `JSONPConnection`, and `MockConnection`, has simple interface:

[code]

Calls to the [Http](https://github.c

[2015-10-02 18:32] tbosch commented on #4037
I just did this: move current `core/compiler` into `core/linker` and `compiler` into `core/compiler`.

[2015-10-02 18:32] #4037 closed

[2015-10-02 18:32] blesh commented on #4472
You could use the `.ts` files from RxJS directly. At this point, and given your contributor status and our level of partnership, I really doubt there will be any reason to change the guts of `Observable` any time soon.

[2015-10-02 18:33] tbosch commented on #3272
Closing this for now. Let's resurrect this when we really want it.

[2015-10-02 18:33] #3272 closed

[2015-10-02 18:50] mhevery opened #4473 "Missing EventEmitter produces a tricky message"
[code]

Produces this error. The error is hard to understand since it is not clear what the issue is.

[code]

[2015-10-02 18:54] robwormald commented on #4472
Sounds good to me, makes a lot of sense.

Is there any reason not to add mockRespond / mockError methods to the mockConnection? Trying to avoid too many new concepts to end users ("you have to call next() and then complete() on every request")
[code]

This would simply stuff nicely, but it would mean distributing Rx as part of the Angular codebase (vs as an npm dependency) I think? Any issues with

[2015-10-02 19:27] kegluneq commented on #4457
Works for me - @rkirov , what's your take?

[2015-10-02 20:03] tbosch commented on #3200
Just measured again on current master with the following results in Dart:

Static tree: 19.02+-5%ms
Static tree baseline: 18.55+-7%ms

[2015-10-02 20:03] #3200 closed

[2015-10-02 20:05] yjbanov opened #4475 "Develop Angular Improvement Process"
So far we've been leaning upon learnings from the previous versions of Angular to drive feature development in Angular 2. We sort of *knew* what we wanted to do, and are doing it. However, we are slowly exhausting this body of knowledge. We should prepare to take the framework beyond simply improving on the old stuff, and accept proposals to improve based on Angular 2's own usage, which is growing

[2015-10-02 20:32] yjbanov opened #4476 "Make Angular 2 for Dart work in IE 9+"
This is getting critical for many customers.

[2015-10-02 20:34] alexeagle commented on #3082
Update, I have written a doc proposing that we switch to the built-in support for distributing typings in TS 1.6.
https://docs.google.com/document/d/1jiB1SHfM2AXacKdTbQBoPyKlp7ZSH-LBbfc5gzeMKVY/edit#
This could be in addition to providing a bundled typings file, or could replace it. We'll discuss that next week at Microsoft.

There are a few steps listed in the doc, which I'll start sending PRs fo

[2015-10-02 20:37] alxhub opened #4478 "View caching leads to unexpected reuse of stateful elements (e.g. <input>)"
See this [Plunker](http://plnkr.co/edit/EmY16weMpjzpVxKjz5AV?p=preview) example.

`NgFor` creates and destroys views as its underlying iterable changes. If those views contain a stateful element like `<input>`, when rehydrated their state remains unchanged. For example, if the user enters text into the `<input>` element, then that element is removed and a new view is requested (by adding to the `N

[2015-10-02 20:49] alexeagle commented on #4294
I think this will be fixed by removing the magic interface -> class logic, @mhevery and I have proposed to create abstract parent classes for those which have internal constructors.

[2015-10-02 20:53] rkirov commented on #4457
This came straight from a confused user. It is very frustrating when you expect a framework to call a callback and it doesnt. There was no way for the user to debug it.

If we are shooting for consistency, we should at least throw in the transformer when lifecycle hooks are `extended` and hence ignored by angular.

[2015-10-02 20:57] jeffbcross commented on #4472
@blesh yeah, I think we should try that. My real meaning about typings was that we haven't yet brought the new Rx typings into angular since our own typings distribution process has been changing, and we just wanted to get the new Rx in, so right now we have `any` in places where it shouldn't.

[2015-10-02 21:00] blesh commented on #4472
Distributing a library that returns an Observable type with no combinators is like distributing kegs of beer and no taps.

[2015-10-02 21:04] jeffbcross commented on #4472
@blesh whoa.

[2015-10-02 21:04] pkozlowski-opensource commented on #4473
Totally agree :-)
This is why I've opened https://github.com/angular/angular/issues/3664 :-)

[2015-10-02 21:40] jeffbcross opened #4480 "fix(docs): add support for type aliases in doc generation process"
I was documenting a couple of type aliases in http/interfaces.ts, and the Jade output was not parsing correctly, therefore causing errors when serving locally from angular.io (at SHA 34518f0f2d23019f34829bb49eb3d3f4efe80516). The problems only become obvious when I add code samples, because Jade tries to parse my sample's indentations as Jade statements.

Comments with sample code, followed by sou

[2015-10-02 21:41] alexeagle commented on #2300
See https://github.com/angular/ts2dart/issues/278
We have an option you could enable:
https://github.com/angular/angular/compare/master...alexeagle:underscore?expand=1#diff-cb068e9a6a1837586e67d28648bf2067R18

But this enforces too much. We don't have a good answer for marking fields/methods in TS as 'may be accessed anywhere in this file', we cannot currently make them private.

In the meantime,

[2015-10-02 21:57] jessegood commented on #4469
I agree.
And that's where the input/output analogy breaks down... :wink:

[2015-10-02 22:15] mhevery commented on #4473
Closing as dup of #3664

[2015-10-02 22:15] #4473 closed

[2015-10-02 22:31] #3856 closed

[2015-10-02 22:48] kegluneq opened #4481 "Transformer does not handle const instance annotations on properties."
For example:

[code]

Registers the annotation as:
[code]

Rather than
[code]

[2015-10-02 22:57] alexeagle opened #4483 "Remove StringMap"
Discussed with @mhevery:
StringMap is the one strange type, which we use in angular code without importing it, and which we provide to users through a side-channel of listing it directly in the dgeni template for angular2.d.ts but never re-export from the library.
Also, it is unconstrained, every object is a StringMap:
[code]
It has been the subject of numerous discussions with @vsavkin and @tbosc

[2015-10-02 23:03] btford opened #4485 "core: better errors for malformed bindings"
Consider `[router-link="['/HomeCmp']"]` (as opposed to `[router-link]="['/HomeCmp']"`; the closing square bracket is in the wrong place).

Right now, this silently fails.

[2015-10-02 23:15] robwormald commented on #2794
closed by #4455

[2015-10-02 23:15] #2794 closed

[2015-10-02 23:26] mhevery commented on #4483
:+1:

[2015-10-02 23:44] jbdeboer opened #4486 "Error: "Caught Attempt to detect changes on a dehydrated detector." is common & very difficult to debug"
c.f: internal bug id  24619573

[2015-10-03 00:54] #4481 closed

[2015-10-03 01:34] #4483 closed

[2015-10-03 02:02] fernandomoraes commented on #4448
I have ta same problem...

[2015-10-03 03:04] johnpapa commented on #4083
I the changelog and error message it says CamelCase. I think you meant TitleCase

`router: enforce convention of CamelCase names in route aliases (5298eb0), closes #4083`

@btford

[2015-10-03 03:07] ericmartinezr commented on #4174
I'm updating this issue to a38, still reproducible

[code]

Repro http://plnkr.co/edit/zWmKMQ

[2015-10-03 03:18] ericmartinezr opened #4489 "Missing forwardRef in ViewChild/ViewChildren should throw"
Follow up of https://github.com/angular/angular/issues/4174

I'm updating this issue to a38, still reproducible. I added an issue with `@ViewChild` that returns null instead when there's no `forwardRef`.

[code]

Again, I assume that ContentChild/ContentChildren works the same way that ViewChild/ViewChildren so I didn't test the issue against both of them.

Repro http://plnkr.co/edit/zWmKMQ

[2015-10-03 04:01] jessegood commented on #4083
Nitpick, but isn't the correct terminology `PascalCase`? `Title Case` I thought has spaces in between words.

[2015-10-03 04:02] johnpapa commented on #4083
PascalCase is not known everywhere, I found. So I have been calling it UpperCamelCase

[2015-10-03 04:15] jessegood commented on #4083
Now that you mention it, I've only seen `PascalCase` on MSDN or other MS-related documentation, although we are using Typescript and the [TypeScript Guidlines](https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines) use it.

[2015-10-03 05:47] johnpapa opened #4490 "Router's navigate() throws exception for component has no route config (in Alpha 38)"
Just tried alpha 38 … found a few minor things, but this one is confusing on the router. We can now use `navigate` or `navigateByUrl`/ The latter accepts a string (the old style) and works. The former accepts a tuple, and tosses an error at me.

[code]

The error is `ORIGINAL EXCEPTION: Component "HeroesComponent" has no route config.`

See example here

https://github.com/johnpapa/angular2-tour-o

[2015-10-03 06:26] bernardyen commented on #3306
Has anyone actually tried the combination of [ng-switch] and *ng-switch-when in an actual application or test? I've been trying various combinations, and when I put a breakpoint on NgSwitch's setValue() and NgSwitchWhen's setValue(), I always only see the NgSwitch setValue() being called. The NgSwitchWhen one never hits.

As a result, I always see all the ng-switch-when elements not be added regar

[2015-10-03 06:42] johnpapa commented on #4490
if i change the tuple to `this._router.navigate([`/${Routes.detail.as}`, {id: this.selectedHero.id}]);` - it seems to work

notice i am not prefixing with a dot this time.

Should the dot matter?

if so, the error message should be clearer.

[2015-10-03 08:56] mgechev commented on #4448
@fernandomoraes as I mentioned above, this repository is for Angular 2 related issues only. This occurs in 1.x.

[2015-10-03 09:30] pkozlowski-opensource commented on #4485
@btford Ha, this is an interesting one! So, when a browser parses this it will come up with `<a [router-link="['/HomeCmp']" ]="">` (BTW, it also proves, in a funny way, that using `]` as an attribute name is "legal" :-))

I still have to dive into the new compiler, but we will have hard time tracking down / properly reporting such errors if we use browsers to parse things. One more argument to con

[2015-10-03 12:45] ericmartinezr commented on #4083
Now that we have to write aliases `LikeThis`,  I ended writing a link this way

[code]

It just doesn't feel natural :/

[2015-10-03 13:11] pkozlowski-opensource opened #4493 "2.0.0-alpha.38 not published to https://code.angularjs.org/"
2.0.0-alpha.38 is not available at https://code.angularjs.org/ while it is very useful for plunkers and the like

@jeffbcross was there sth that went wrong during the release process? Or maybe this part is not automated yet?

[2015-10-03 13:24] endash opened #4494 "ViewEncapsulation.Emulated no longer default in alpha38?"
I've just updated from alpha37 to alpha38, and all my components are now seemingly rendered with the behaviour `ViewEncapsulation.None`. Manually setting a component's encapsulation to `Emulated` restores the previous behaviour.

Going through the ng2 source, there no longer seems to be any code to make `Emulated` the default. In particular, this line:

`this.encapsulation = isPresent(encapsulatio

[2015-10-03 13:38] fernandomoraes commented on #4448
oh, sorry for my mistake.

[2015-10-03 13:43] kasperpeulen commented on #4493
alpha.38 also doesn't seem to be published to dart yet:
https://pub.dartlang.org/packages/angular2

[2015-10-03 13:45] ericmartinezr commented on #4493
True, I wrote my skeleton plnkr by copy & pasting min bundle directly to plnkr in the meanwhile.

[2015-10-03 14:08] pkozlowski-opensource opened #4495 "Several bundle size problems for non-core bundles"
There are several issues with non-core (angular2.js) bundles we publish to npm:

* we are not using any bundle arithmetic which means that we bundle parts of the core with those optional bundles. This is mostly visible in http where the bundle is pulling most of ng2 (if not all!) and is in fact bigger than ng2 itself (!)

* non-core bundle import non-public APIs (ex.: `angular2/src/core/facade/lan

[2015-10-03 14:10] todoubaba opened #4496 "alpha.38: The actual type of QueryList<T>.changes is EventEmitter"
So the [changelog](https://github.com/angular/angular/blob/master/CHANGELOG.md#breaking-changes) and [the jsdoc of `QueryList`](https://github.com/angular/angular/blob/master/modules/angular2/src/core/linker/query_list.ts#L25) is misleading, `changes` does not have the `subscribe` method.

[2015-10-03 14:11] pkozlowski-opensource commented on #4495
Obviously this issue raises many questions:
* do we want to tell people that they can use bundles for their app dev or only for plunkers?
* even if those bundles are only for plunkers, is there anything that we can do about those bundles size (an interesting question for @jeffbcross and @btford: do we want to make http / router working _outside_ of ng2 app, with other frameworks, or is it non-goal

[2015-10-03 14:14] todoubaba opened #4497 "alpha-38: Need @Inject to inject ElementRef and DynamicComponentLoader"
DI works fine in alpha-37, now it needs `@Inject`.

[2015-10-03 14:49] vicb commented on #3306
@bernardyen You can have a look at the [unit tests](https://github.com/angular/angular/blob/master/modules/angular2/test/core/directives/ng_switch_spec.ts) and there is the pending PR https://github.com/angular/angular/pull/4423 that adds doc with a plunker example. Hope this helps.

[2015-10-03 15:06] thelgevold opened #4499 "NgNonBindable no longer working as standalone injection"
I just noticed that injecting NgNonBindable no longer works if I include it as an individual directive.
I get the following error:

Error: Unexpected directive value 'undefined' on the View of component 'IgnoreBindings'
    at new BaseException (http://localhost:63342/angular2-poc/node_modules/angular2/bundles/angular2.js:15158:21)
    at RuntimeMetadataResolver.getViewDirectivesMetadata (http://l

[2015-10-03 15:19] thelgevold opened #4500 "Route typing not compiling with type ng.Type"
I was updating my Routing code to reflect the latest Angular 2.0 source example. However I noticed that the Router typings for Alpha.38 don't compile:
To work around it I had to tweak the component part from ng.Type to 'any'
[code]

[2015-10-03 15:30] ericmartinezr commented on #4496
You can use as a workaround

[code]

[EventEmitter](https://github.com/angular/angular/blob/master/modules/angular2/src/core/facade/async.ts) is not exposing `Subject` anymore (through `toRx()`).  I don't know if that is intended and the usage changed too, or is just a mistake.

[2015-10-03 15:58] pkozlowski-opensource commented on #4499
@thelgevold see https://github.com/angular/angular/blob/09531d89868007eb0d62fc9ccd6d0836e4587809/CHANGELOG.md#compiler

I've sent a PR to update the changelog as we've missed this breaking change from it.

[2015-10-03 16:06] bernardyen commented on #3306
Thanks. I did look at the doc before posting my comment, but I still cannot
get this to work when I use it in AngularDart. I'm not sure if it's a Dart
translation issue or ng2 issue, so posting here first. If it turns out that
it's a Dart issue, I can repost.

But basically, the combination of [ng-switch] and *ng-switch-when does not
recall in a call to NgSwitchWhen's methods even when the value m

[2015-10-03 16:09] thelgevold commented on #4499
@pkozlowski-opensource Ah, thanks for clarifying

[2015-10-03 16:56] PascalPrecht commented on #4497
@todoubaba could you provide more context here (ideally a plunk)? Usually you need to use `@Inject` if no metadata is generated, which is usually the case when injecting services into services. But it's hard to tell if there's no actual code we can take a look at.

[2015-10-03 17:42] pkozlowski-opensource commented on #4495
Correction: router is using correct bundle arithmetic, but this is not the case for http. Not sure if this is intentional or not.

[2015-10-03 17:43] mgechev commented on #2806
@mhevery I think that we need to enforce both - compile-time type checking but also run-time type checking for ES5 DSL users.

However, there’s small problem for enforcing compile-time type checking by using mandatory `url` field in `RequestOptionsArgs` because it is used in both:
- `Request` and…
- Http method aliases like `get`, `post`, etc. where we pass the url as first argument and we don’t n

[2015-10-03 18:15] pkozlowski-opensource commented on #4278
OK, I did some more experiments with the CJS bundling and here is the summary of my findings:
* CJS output is ~20% smaller as compared to System.register
* The main difference in size between CJS and System.register comes from the fact that with CJS we don't expose internal structure of the bundle - that is - one can't import from any "file" - only from public API exported on the top-level bundle

[2015-10-03 18:18] johnpapa commented on #4278
We can compile TS to CJS or SystemJS. Then we can use SystemJS to load either format.  That way you can use whichever bundle is better

Have you tested both of these to see which pros and cons?

[2015-10-03 18:20] pkozlowski-opensource commented on #4278
@guybedford would you mind elaborating on this? My worry is that if we tell our users: "hey, here are raw (unpackaged) files, you can use those to bundle those with your application" we are immediately telling them to use one of the bundlers (JSPM, WebPack or sth else). My fear is that it might be too much for some users as judging from supporting people. For example we've released a new version y

[2015-10-03 18:23] pkozlowski-opensource commented on #4278
Of course. This is not an issue

I'm not sure there is clear "better" here

Yes, this is what I'm doing right now. For now it goes pretty much like this:

System.register:
+ can import from any "file" / path
- big

CJS:
+ smaller than CJS
- can't import from any "file" / path which might be a pb for router / http bundles

Next step: check if we can have "proper" bundle arithmetic with the way we i

[2015-10-03 18:31] johnpapa commented on #4278
OK, it sounded as if you were importing with CJS (maybe browserify) and SystemJS. My mistake.

[2015-10-03 18:35] Belkar opened #4504 "Interpolation in Router-Templates not working with SystemJS"
I have a simple Application with a router. The router currently has 2 Pages. The pages only consist of a simple binding with `{{name}}`. The problem is, that the whole object containing this binding is empty when the router loads the page up. (`<p>I am {{name}}<p>` becomes `<p class="ng-binding"></p>`)

The intressting thing hereby is that this issue only occures if I use SystemJS to load Angular2

[2015-10-03 18:46] todoubaba commented on #4497
@PascalPrecht code.angularjs.org does not have alpha.38, I can not create a plunker.
HTML:
[code]

TS file:
[code]

error:
[code]

The following code works fine:
[code]

[2015-10-03 18:47] alexpods commented on #4504
Try to add `import 'zone.js';` right after `import 'reflect-metadata';` [here](https://github.com/Belkar/CampinaAsAService/blob/master/src/CampinaAsAService/app/main.ts#L1)

[2015-10-03 18:56] Belkar commented on #4504
WOW that was a fast response.
That did the trick. Thanks :-)

[2015-10-03 18:56] #4504 closed

[2015-10-03 18:56] Belkar commented on #2597
If this is still a thing. That might help.
https://github.com/angular/angular/issues/4504

[2015-10-03 19:06] guybedford commented on #4278
Using bundles as a distribution format is not encouraged because bundles contain environment-specific names - that is they assume what names are going to be used in the users' environment loader. For maximum portability usually users should consume separate anonymous modules like you get with CommonJS, AMD or ES6 files.

SFX bundles are going to be optimized further to be a small as format as poss

[2015-10-03 21:05] mgechev commented on #4497
I started debugging your issue and found that `MyApp` gets transpiled to:

[code]

Which means that the generated metadata for the param types is wrong. However, if you use `@Inject` instead of `Object` you get `angular2_1.ElementRef`, which is correct.

Another thing I noticed - when using [angular2-seed](https://github.com/mgechev/angular2-seed) with gulp task with the following [src](https://gi

[2015-10-03 21:51] skybrian opened #4505 "stack trace in transformer when importing angular.dart as ng."
In one of my dart files, I tried changing this statement:

    import 'package:angular2/angular2.dart';

To this:

    import 'package:angular2/angular2.dart' as ng;

After fixing up all the references, I get a build error:

Build error:
Transform TemplateCompiler on miniml|lib/src/playground/app.ng_deps.dart threw error: Invalid argument(s)
dart:core-patch/regexp_patch.dart 151

[2015-10-03 21:53] skybrian commented on #4505
In this file, I'm not using a template at all. (It is a @Directive which I changed to @ng.Directive.)

[2015-10-03 23:04] r-park commented on #4497
I've experienced this same issue with `ChangeDetectorRef` as well.

[2015-10-03 23:15] robwormald commented on #4497
@r-park could you paste your tsconfig? i'll often see this when i forget to turn on "emitDecoratorMetadata" in the ts compiler options...

[2015-10-03 23:19] r-park commented on #4497
@robwormald here's my tsconfig:
[code]

[2015-10-03 23:22] mgechev commented on #4489
@pkozlowski-opensource I guess the `DirectiveResolver` should be responsible for throwing an error here?

[2015-10-03 23:26] Krustie101 commented on #4497
In alpha-37, ElementRef was a class, now it is an interface.

[2015-10-03 23:30] robwormald commented on #4497
well, that would explain @mgechev's comment - `[Object]` is the expected result (i believe) when interfaces get transpiled - which is obviously not the expected result for consumers.

[2015-10-03 23:31] r-park opened #4506 "SVG elements are rendering incorrectly (alpha.38)"
SVG elements inside templates are not visible with alpha.38. From what I can see, the browser is not recognizing the svg element.

Works in alpha.37: http://plnkr.co/edit/GOEp4DSa0Q3HGZGxXVAi
Breaks in alpha.38: http://plnkr.co/edit/thIhnOB9zhzIQeEnmZUA

[code]

[2015-10-03 23:39] mgechev commented on #4497
@Krustie101 @robwormald [`ElementRef`](https://github.com/angular/angular/blob/2.0.0-alpha.38/modules/angular2/src/core/linker/element_ref.ts#L15) is still a class.

[2015-10-03 23:49] Krustie101 commented on #4497
@mgechev It is a class in angular2/src/core/linker but an interface in the typings file. That is why we got hit by it but not the Angular team itself.

[2015-10-04 00:05] alexeagle opened #4507 "Cannot compile browser_tree with type checking on."
@vsavkin accidentally turned off our type checking for the non-cjs tree.
I'm turning it back on, but it fails because of
`upgrade/typings/jquery/jquery.d.ts (3186, 13): Subsequent variable declarations must have the same type.  Variable '$' must be of type 'cssSelectorHelper', but here has type 'JQueryStatic'.`
The reason is well-known and documented at https://github.com/borisyankov/DefinitelyTyp