[2015-03-03 17:57] mhevery commented on #532
There is no value in having `NgIf` since ES6 has proper import statements. There is a separate debate to be had if we should prefix the `ng-if` attribute in HTML. Given that each component has its own directive registry, I think it would be unlikely that we would have collision. I think a better solution would be to allow specifying prefix during the directive import. #868.

[2015-03-03 18:02] mhevery commented on #604
@davideast  Can you comment on this.

- Are we planning to have this as a separate repo or part of Angular? I would argue as part of angular so that we can have it run a end to end tests and verify that the app works, and so that we can keep it in sync with all of the changes.
- If above true, can you send a PR? I think it should be in here: https://github.com/angular/angular/tree/master/modules/e

[2015-03-03 18:23] jelbourn commented on #791
Feels kind of weird to me; it's surprising to have language extensions within the binding expression syntax.

This might also need some more thinking, but I don't see this as being that useful. If angular defaults to gracefully handling null dereferencing in expression then the developer doesn't *have* to care whether something is loaded lazy or not. The times when people *do* care is when somethi

[2015-03-03 18:25] mhevery commented on #791
@yjbanov, @vsavkin Please comment. I can be convinced either way.

[2015-03-03 18:30] pkozlowski-opensource commented on #791
Yeh, I might be used to Angular 1.x ways of doing things too much, but I find forgiving evaluation of NG 1 expressions quite handy. I'm not sure if I like the idea of being forced to mark all the optional parts in the expressions: this does things more obvious but more laborious as well.

[2015-03-03 19:18] erwinmombay commented on #791
i think the explicitness of `?.` is welcome, but i also actually feel that the forgiving nature of angular 1.x bindings to be useful to. i guess my question is if the elvis operator `?.` is added will the binding still be forgiving? or will accssing a prop from undefined cause a `TypeError`

[2015-03-03 20:42] kevmoo opened #871 "Fix names of Dart libraries - remove _dart from name"
...and `angular2.angular2_dart` should just be `angular2`

![screen shot 2015-03-03 at 12 38 14 pm](https://cloud.githubusercontent.com/assets/17034/6471757/9e43bdb6-c1a2-11e4-9550-1939394dec04.png)

[2015-03-03 21:23] yjbanov commented on #791
I am in favor of having the null-coalescing operator. It exists in C#, Swift and others, and will likely be [added to Dart](http://news.dartlang.org/2015/01/dart-language-evolution-discussed-in.html). So I don't think there is going to be any confusion around it. It will also allow us to retain the JS and Dart semantics of expressions without this operator. Finally, it will result in smaller and m

[2015-03-03 21:38] rkirov commented on #871
This was added because we have a directive named `if` and if we naively transpile to `library if;` dart barfs - `if` is a keyword.

So we added `_dart` to all library names, but it would be better if we keep a list of forbidden library names and just append `_dart` to those.

[2015-03-03 21:38] jelbourn commented on #791
@yjbanov This is different from a null-coalesce operator, though. The null-coalesce operator in C# and Swift is `??` and works like:
`someValue = possiblyNullValue ?? defaultValue`

This can already be accomplished in JavaScript with the OR operator:
`someValue = possiblyNullValue || defaultValue`

The question here is about the nullsafe dereference operator `?.`, which would work like:
`someValue

[2015-03-03 21:43] rkirov commented on #776
Additionally the dev mode property checks also fail for inactive web components.

check is here:
https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/pipeline/directive_parser.js#L137

I don't see an easy solution for this one, suggestion?

[2015-03-03 21:50] kevmoo commented on #871
@rkirov that sounds great.

Or we could ponder changing the name of the `if` library?

[2015-03-03 21:51] yjbanov commented on #791
My bad. I meant [safe navigation operator](http://blogs.msdn.com/b/jerrynixon/archive/2014/02/26/at-last-c-is-getting-sometimes-called-the-safe-navigation-operator.aspx), a.k.a. the elvis. I will edit my original post. The point still stands.

[2015-03-03 21:51] rkirov opened #872 "Support for absolute paths in component urls."
Currently, component templates do not accept absolute paths i.e. `/foo/bar/template.html`.
First, should we support absolute paths in component templates? If yes, how should they resolve?
- `current_domain + absolute path`
- `current_url + absolute path`

I think, yes, and it should resolve just like anchor tag would resolve that path - `current_domain + absolute path`.

Note, that we all agree th

[2015-03-03 22:05] yjbanov commented on #791
Advantages of having this operator:

* It is a syntactic extension and not semantic deviation from the main language (JS or Dart)
* Especially for Dart, which is getting the operator in the future, it is also consistent with the language
* It results in more efficient change detector code both in code size and speed
* It serves as an early warning system. Developers will know where they are not ha

[2015-03-03 22:27] jelbourn commented on #791
I see additional disadvantages:
* The operator is not standard JavaScript and would be confusing to JavaScript developers (I would have been confused if I just saw this in a template).
* We're already introducing a lot of new syntax constructs; adding more further increases the mental cost of getting started.
* Deviates from how other template systems out there handle nulls (Polymer, Handlebars)

[2015-03-03 22:35] pkozlowski-opensource commented on #791
I tend to side with @jelbourn - Angular 1 did excellent job at making "the right thing most of the time". Using it felt natural and enjoyable from the start. I feel like introducing `?` makes the framework do "the right thing all the times" and makes the internal implementation easier / better but at the expense of developer ergonomics.

I totally agree that having null-safe behaviour by default c

[2015-03-03 23:22] yjbanov commented on #791
@jelbourn, all three points are along the lines of "this is different from what people are used to and they will have to adjust". I do not see this as a big problem. It's pretty easy, IMO, to get used to typing `?.`. It's a tiny portion of your template code anyway. Also, saying "developers would want the nullsafe behavior by default" is not the same thing as "developers would want `.` to be nulls

[2015-03-03 23:26] pkozlowski-opensource commented on #791
* need to _think_ about which parts are optional and which not
* need to _type_ more characters in _proper_ places

Coming from Angular 1 World I see it as an unnecessary burden, compared with the listed benefits. Then again, maybe I've spent too much time writing 1.x code to be objective here.

[2015-03-03 23:34] caitp commented on #791
so it's basically between either **hypothetical** performance improvements / simplifed code, or making upgrade path easier.

Would the change detector code be just as fast/small if every field in an expression was `?`-optional? If not, then how would it be any better than the "easier upgrade path" variation?

[2015-03-04 00:08] gdi2290 commented on #872
Can we also have a way for us to configure TemplateResolver or UrlResolver with SystemJS maps/paths/baseUrl. I want a way to explicitly configure them independently of the module system

[2015-03-04 00:10] yjbanov commented on #791
@pkozlowski-opensource, you don't have to think. Just use `?.` everywhere, like you used `.` everywhere in Angular 1. I already admitted the extra character as a disadvantage. However, the explicitness and early warnings are advantages in terms of developer ergonomics. As web app developers we spend a lot more time trying to figure out what to do than typing code. So it seems like a good trade to

[2015-03-04 00:16] pkozlowski-opensource commented on #791
@yjbanov of course "thinking" part is more important / time consuming than "typing" but proposing "use ?. everywhere, like you used ." would make all the expressions look really ugly / less readable (personal opinion). So I would have to still add them selectively (and here comes the thinking part). So maybe an app-level global setting is a way to go?

Anyway, I guess I got my opinion / arguments

[2015-03-04 00:20] yjbanov commented on #791
Unfortunately, I don't think a global setting will work as you want to be able to consume third-party components without breaking them. It would also kill the explicitness in the proposed syntax. This is something we have to decide now.

[2015-03-04 00:22] pkozlowski-opensource commented on #791
Oh, we can't have a switch, you are totally right.

[2015-03-04 00:45] hworld commented on #791
Any way to have an option on the template annotation to _opt-in_ to it?

- This would allow template authors to decide if they want the error catching/optimized change detection.
- It would make migration easier with the ability to "upgrade" templates piece-by-piece.
- Third-party would be fine since each component/template tells Angular what it wants.
- CD code shouldn't get more complicated sinc

[2015-03-04 02:29] jbdeboer opened #873 "A story for accessing the DOM from components"
We need a solid story for accessing and manipulating the DOM. Right now, there is ```NgElement```, but it appears to be very rough and not complete (it has a single "getAttribute" method).

In particular, we have a use case where we want to query elements in a component's shadow DOM and then manipulate attributes on that element.

[2015-03-04 07:43] vicb commented on #872
Some background on why we only support relative paths:
- it makes component re-usable because they need not be aware of their own urls,
- it is also easier to handle server-side compilation where the compiler works with file paths rather than urls.

That's probably the best thing to do. Nobody would expect an absolute url to resolve to current_url + absolute path.
OTOH if your application is serve

[2015-03-04 16:30] jphedley commented on #850
I'm having build problems also, but my error is different from yours. On Win 7, with
-a---          3/4/2015   7:54 AM      17648 gulpfile.js (Pacific Standard Time)

C:\progs\JavaScript\AngularJS\src\angular>gulp build.js.dev
Dart SDK is not available, Dart tasks will be skipped.

AssertionError: path must be a string
    at Module.require (module.js:362:3)
    at require (module.js:380:17)
    a

[2015-03-04 17:46] mhevery commented on #791
* the `?.` will have almost no impact on speed. The reason for that is that we have to read the field (the expensive part) and load it into register. The actual cost of checking for null once data is in register is essentially nothing (single CPU instruction, on modern CPUs with branch prediction this is very cheap). So I would not say that speed is an argument for/or against anything.
* We can ce

[2015-03-04 18:03] yjbanov commented on #791
I think having the template switch is worse than having the operator. We should aim for readability, and this means we should avoid non-locally defined semantics. If I'm reading someone else's code, I shouldn't have to check their options to know if the expressions are null-safe or not (especially when doing code reviews where review tools collapse full file contents). So I think our options are:

[2015-03-05 00:11] jbdeboer opened #876 "Unable to set the property 'classList' on an element"
This needs to be implemented.
[code]

### Original Text

I tried both

[code]
and

[code]

at element_binder_builder.dart:158, the first example is checking the property 'class-list' on the JS element.
The second example is checking the property 'classlist'.

I would expect it to set the property 'classList'.

This is with the Dart release 2.0.0-alpha-12

[2015-03-05 00:34] pkozlowski-opensource commented on #876
@jbdeboer you can't really write `[classList]="'one two'"` as a browser will see it as `[classlist]="'one two'"`  (lower-casing, HTML is not case sensitive).

Now, doing `<div [class-list]="'one two'"></div>` will be possible as soon as #866 is fixed. Having said this, binding to the `classList` property directly would mean that you overriding any CSS classes set before (for example, by the `class

[2015-03-05 02:34] xxjyen opened #877 "input number step"
<input type=number min=0 max=100 step=1 ng-model="test">

when test = 0.5

validation pass

[2015-03-05 05:22] #877 closed

[2015-03-05 17:59] marcin-wosinek opened #879 "angular.io header has wrong color in firefox at ubuntu"
Colors at the angular.io home page are broken at firefox at (l)ubuntu.
![angular io-firefox](https://cloud.githubusercontent.com/assets/1024920/6510925/2b4e1caa-c361-11e4-969b-67267cb8c47f.png)

Is there a repo where I can PR fix for that?

[2015-03-05 20:49] marcin-wosinek commented on #879
looks that somebody fix that:)

[2015-03-05 20:49] #879 closed

[2015-03-05 21:55] tbosch commented on #354
For forcing gc, maybe we can get to https://github.com/WebKit/webkit/blob/master/Source/WebCore/bindings/js/GCController.h somehow...

[2015-03-06 11:32] vicb commented on #640
/ref https://github.com/google/traceur-compiler/pull/1791

[2015-03-06 16:54] ldiego08 commented on #133
After reading the thread, these are my favorite suggestions:
* Period notation for attributes.
* JS object-like expressions for complex directives like ng-repeat.
* Namespacing for prefixing attributes.
* ${} enclosure for string interpolation.

Based on that, this is what I'm thinking of:

<h5>Template With Property Binding</h5>
[code]
<h5>Repeating, Event Binding, etc.</h5>
[code]
<h5>Multi-line

[2015-03-06 21:29] kegluneq opened #886 "fix(dart/transform) Merge setter registrations with the same name"
Currently we generate one setter registration per `bind` value. For example, this annotation:

    'bind': {'text': 'tool-tip'}

attached to two classes, `A` and `B` would generate

    registerSetters({'text': (A obj, String value) => obj.text = value})
    registerSetters({'text': (B obj, String value) => obj.text = value})

Instead we need to generate a single setter registration using a common

[2015-03-06 21:59] zzo opened #887 "es5build failure"
v$ node es5build.js  -d tmp

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: src/directives/foreach.js:11:5: super call is only allowed in derived constructor

Don't know if just getting rid of that 'super()' call is legit.

[2015-03-06 22:03] caitp commented on #887
there are a lot of incorrect uses of super() in the tree, especially in the transpiler. Basically, it's never valid to use `super()` in a base class, so it's totally safe to remove it from base classes

[2015-03-06 22:08] zzo commented on #887
thanks!  So maybe the original AtScript files should be directly transpiled into ES5 instead of ES6 and then into ES5?  I don't really want to hand-edit auto-generated files to get to ES5...

[2015-03-06 22:09] caitp commented on #887
it's the source files that are wrong

[2015-03-06 22:10] caitp commented on #887
Last time I counted, there were less than 10 instances of this error in the project, but that was about a week ago, who knows if anyone added any news ones =) anyways it should be cleaned up next week, hopefully

[2015-03-06 22:11] zzo commented on #887
ah right I see them in the AtScript - ok so someone is cleaning it up I shouldn't make a PR?

[2015-03-06 22:12] caitp commented on #887
there's one open, it's blocked on some fixes in traceur which need to ship first

[2015-03-06 22:15] zzo commented on #887
great thank I'll follow https://github.com/angular/angular/issues/844

[2015-03-06 22:15] #887 closed

[2015-03-07 18:15] SonofNun15 opened #889 "Flexible templating in the DOM"
We have built several components (directives in Angular 1.3) in which we have used transclusion in a very flexible and powerful way. We are pulling transcluded HTML out of the DOM and using it for templating. This feature was possible in Angular 1.3, but seemed to slightly be working against the way Angular 1.3 wanted to work. We chose to do it this way because it allowed us to define our template

[2015-03-07 23:41] gdi2290 opened #890 "ng2 website missing [View Source] [Improve this Doc]"
it would be nice to have these buttons back. I couldn't find where angular.io is located on github since [github.com/angular/angular.io](https://github.com/angular/angular.io) seems empty

[2015-03-08 11:49] samkuhn opened #891 "Directive transclude: 'element' working?"
I am wondering if I have discovered a problem with transclude: 'element' in a directive definition (or whether I am just confused!) Specifically, there appears to be no way to replace the transcluded element in the DOM.

[code]

(Angular 1.3.13)

[2015-03-08 12:00] samkuhn commented on #891
It appears that you can use element.replaceWith() - Apologies.. closing this issue (perhaps this wasn't the best place to post this)

[2015-03-08 12:00] #891 closed

[2015-03-08 14:29] SonofNun15 commented on #889
Looks like the specification for shadow DOM actually handles this *very* nicely (http://w3c.github.io/webcomponents/spec/shadow/#content-insertion-points). So if you guys stick to the spec this should just work beautifully. I am loving everything that I see about Angular 2.0 so far. Keep up the great work!

[2015-03-08 14:29] #889 closed

[2015-03-09 01:45] ajoslin opened #894 "A component 'transcluded' with content isn't compiled"
I don't know if this is a duplicate, but I figured I'd post anyway.

In this case, the `tab` component is never compiled.

[code]
[code]
[code]

The alert never fires. I played this for awhile and I'm convinced it's a bug.

I end up with a `background: red` CONTENT

[2015-03-09 01:49] ajoslin commented on #894
If I look into the DOM, it *is* transcluding the HTML. Just it's not compiling `tab` with angular.

[2015-03-09 01:57] jamm opened #895 "Annotations looks dangerously big"
That line 9: http://youtu.be/Xw93oketp18?t=11m3s (db binding) bothers me. Why it's not in constructor? Should we move DI from constructors to annotations? (usually we shouldn't hardcode path to DB in controller). How will look analogue in ES6?

[2015-03-09 01:59] gdi2290 commented on #894
do you have the repo on github? (it's easier if I you your env since the api changes a lot)

[2015-03-09 02:04] ajoslin commented on #894
Closing because David East just proved me wrong!

[2015-03-09 02:04] #894 closed

[2015-03-09 02:04] ajoslin commented on #894
@gdi2290 I'll put it up on Github soon.

[2015-03-09 02:09] gdi2290 commented on #894
yeah I just got it working. was it the backticks?

[2015-03-09 02:26] gdi2290 commented on #895
so if I understand this correctly you can avoid this via moving your Di to the app level

[code]
then in your components you only need to use Firebase constructor as the token. Again if I'm understanding this correctly I think that's how you avoid that

[2015-03-09 02:41] jamm commented on #895
thanks, @gdi2290

[2015-03-09 02:41] #895 closed

[2015-03-09 05:16] lgalfaso commented on #791
I have to agree with @pkozlowski-opensource, the forgiving nature of Angular 1 expressions worked well, and should be kept.

Note: Adding `?.` would imply that `?[...]` and `?(...)` should also be added

[2015-03-09 09:48] vicb opened #896 "Element injector & Parent, Ancestor, Optional, ... annotations"
While working on #882, I have identified a potential issue:

Let's say you have a directive that injects a parent directive:

[code]

[_bindDirectiveProperty()](https://github.com/angular/angular/blob/2e488f3559588042b7e06110c552c6d4c07169cc/modules/angular2/src/core/compiler/pipeline/element_binder_builder.js#L202) will setup the bindings of `pdir` (if the annotation has a bind property).

Howeve

[2015-03-09 10:07] vicb commented on #896
Actually this is not a pb for `_bindDirectiveProperty()` because we do not bind properties on deps but only on the directive itself. Closing for now.

[2015-03-09 10:07] #896 closed

[2015-03-09 12:34] davideast commented on #890
Hey Patrick,

We're working on getting the code into the repo. Should have it up soon.

[2015-03-09 12:36] #890 closed

[2015-03-09 12:43] SekibOmazic commented on #709
Hi ng-team,

I tried to solve this issue and came up with the following solution:
https://github.com/SekibOmazic/angular/commit/bfb3acc876bbdcdf386b895b4679e4e5ec836c64

Since I'm not sure if this is good enough, so I haven't made a PR yet. It would be nice if someone could look at this and give me feedback. If this is OK I'd send a PR.

Thanks!

[2015-03-09 13:51] vicb commented on #709
@SekibOmazic It would be much simpler to discuss on a PR, do not hesitate to send (and don't be afraid to be wrong, you'll learn).

` Object.getPrototypeOf(item.factory()).constructor`  is probably problematic:
- It would not work with Dart target,
- It would not work with `bind(...).toValue()` or `bind(...).toFactory()`

Do we actually need to special case `Binding` ?

The following code might he

[2015-03-09 14:07] vicb commented on #709
I just had a quick look at the code and it looks like the implementation would require more changes to the compiler internals.

@mhevery when we have something like  `bind(Directive2).toClass(Directive2Impl)`, should the annotation be retrieved from `Directive2` or `Directive2Impl` ?
_If we want to be able to have any Binding, `bind(Directive2).toValue(directive)` should also be supported_

[2015-03-09 14:16] SekibOmazic commented on #709
@vicb Thanks for the feedback!
I've just tried another test with: `bind(SomeDirective).toValue(new SomeDirective())` and that worked (It still has to be thoroughly tested, of course).

Could you also give a hint, where to look in Dart code? (Please bear with me, I'm Dart newbe)

[2015-03-09 14:29] vicb commented on #709
The same code is transpiled to either JS or Dart. However you should make sure that your code work for both.

You should run the tests for both version `gulp test.unit.js` & `gulp test.unit.dart`.

Check modules/angular2/src/facade to see how you can execute dart or js specific code according to the target language. ie lang.es6 and lang.dart.

[2015-03-09 14:33] pkozlowski-opensource commented on #709
@vicb actually, U was wondering, what was the motivation behind this issue? I mean, directives got a selector that will match occurrences in templates...

[2015-03-09 17:38] vicb opened #901 "[Dart transformers]: generate a setter for `@PropertySetter`"
PR #883 add a new `@PropertySetter` annotation that is used this way:

[code]

Internally we we need to have a setter to set the property on the `Element`.

@kegluneq Could you please update the Dart transformers to generate those setters ? Thanks.

[2015-03-09 20:20] ruslanulyanets opened #902 "Declarative property initialization"
<p>Angular had a paradigm shift and became component-oriented. Having taken a fresh look it would be natural to treat html markup as serialized hierarchy of objects of any type(components are just particular case of the objects). The objects then could have properties of other complex types.</p>
<p>Right now setting component properties is limited and can be done using JSON inserts only in html at

[2015-03-09 21:17] #612 closed

[2015-03-09 22:02] kegluneq commented on #901
Just to make sure I understand:

I want to set `title` on my DOM element from within my Component. I *could* do this:
[code]

But instead we want the syntactic sugar above and to have the transform create that code.

Additional consideration: if the property is one that is known by dart:html, we do not have to go through the `JsObject.fromBrowserObject` pain and can (should, they're faster) use th

[2015-03-09 22:17] mhevery commented on #866
@pkozlowski-opensource can we prioritize this so that we can close this milestone? Thanks in advance.

[2015-03-09 22:18] pkozlowski-opensource commented on #866
@mhevery sure, will submit a PR tomorrow.

[2015-03-09 22:28] vicb commented on #901
@kegluneq that is correct.

The goal is that the could be executed on an element proxy (when we do not run in the UI thread).

@mhevery considering this, what should the setter look like in Dart ?

[2015-03-09 22:53] mhevery commented on #505
Closing since https://github.com/angular/angular/issues/876 covers the missing use case and the rest is already in.

[2015-03-09 22:53] #505 closed

[2015-03-09 22:55] mhevery commented on #901
I think it is just:

[code]

I don't think we need to do property name matching.

[2015-03-09 23:08] dylanb opened #903 "Selectors on Decorators and Shadow DOM"
Here is some code that does not work the way I would expect it to work.

Specifically, I want to write a component that uses a decorator that should be applied to content that is included into the template from the instantiating document through the use of a `<content>` element.

To illustrate this, I have one decorator and two components in this code, one of which works as expected and one which

[2015-03-09 23:16] kegluneq commented on #901
@mhevery , am I correct that your code is what should be generated instead of what I wrote above and the framework will auto-magically transform the `element` passed in from Dart to Js?

[2015-03-10 03:53] mhevery opened #904 "Dynamic loading of Components"
# Problem

In order to support lazy loading of components or to select components based on runtime value, we need a way of selecting the component at runtime (rather than at template compile time)

## Mental Model

The place where the component should be loaded will contain headless component. (i.e. a component which does not have a `@Template`) The headless component will inject `PrivateComponent

[2015-03-10 04:31] mhevery commented on #904
@yjbanov @vicb @rkirov Can you comment please, so that we can iterate on this?

[2015-03-10 06:13] yjbanov opened #906 "Reflector._typeInfo should be object not map"
It is always made of "factory", "parameters" and "annotations", so there's no reason for it to be `Map`. Making it an object would speed up instantiation of type info and lookup.

[2015-03-10 06:14] yjbanov commented on #906
@vsavkin @mhevery, does it make sense?

[2015-03-10 06:14] yjbanov commented on #906
Forgot to mention that it will also make

[2015-03-10 06:32] vicb commented on #903
@dylanb the component template (`<content></content>`) is the shadow DOM while your div (in `<my-shadow-app><div class="target"></div></my-shadow-app>`) is the light DOM. Templates directives only apply to the shadow DOM.

But it is the way it should work with shadow DOM.

Might be easier to reason if you think of a complete app:

[code]

then the `ShadowSelector`  directives must be declared on t

[2015-03-10 06:32] #903 closed

[2015-03-10 08:42] SekibOmazic commented on #709
@vicb It really seems that a bigger change to the compiler is needed. Dart test failed with:
[code]

Well, at least I learned more about Angular compiler.

[2015-03-10 11:09] SerkanSipahi opened #907 "confused about angular 2.0, microsoft<ngconf2015demo> typescript, traceur, rtts_assert"
Im confused about all these ( see below ) news, libs:

1.) typescript [announced](http://blogs.msdn.com/b/typescript/archive/2015/03/05/angular-2-0-built-on-typescript.aspx) that angular 2.0 will use typescript but why i cant find anything about typescript in https://github.com/angular/angular/search?utf8=%E2%9C%93&q=typescript ?

2.) If angular 2 team really want to use typescript, does that mean

[2015-03-10 14:39] vicb opened #908 "Error in BenchPress output"
See the "0.00+-NaN%" in [the output](https://travis-ci.org/angular/angular/jobs/53807177#L2176)

[code]

[2015-03-10 16:47] TylerEich opened #909 "Extend *foreach syntax to support ES6 data structures"
~~This might be a pedantic request, but shouldn't `*foreach` microsyntax use `of` instead of `in`, since a for-in loop (`for (item in items)`) iterates an array's keys rather than its values?~~

This issue has expanded to include more than array iteration. [One of my comments on this thread](https://github.com/angular/angular/issues/909#issuecomment-78165514) describes one possibility for making t

[2015-03-10 16:49] pkozlowski-opensource commented on #909
Hmm, ng1 is uses `in`: https://docs.angularjs.org/api/ng/directive/ngRepeat

[2015-03-10 16:58] TylerEich commented on #909
@pkozlowski-opensource when ng1 was designed, for-of loops didn't exist in JavaScript. Maybe it would make more sense now to adopt the ES6 `of` operator…

[2015-03-10 17:03] pkozlowski-opensource commented on #909
@TylerEich sure, my comments was more a "note to self" to take historical reasons into account to ease migration.

[2015-03-10 17:04] caitp commented on #909
personally, I love it. closer to the language people are actually writing

[2015-03-10 17:55] mhevery commented on #909
I could go either way. Can you point us to some prior art showing that foreach-of is common?

[2015-03-10 18:07] rkirov commented on #904
Conceptually, I like the idea very much. We need to spec out a few more things:

* the DOM will have no reference to the private component, other than its shadow dom. In the example - ```
<vehicle>
  #shadowRoot
     ... car template here ...
</vehicle>
[code]

[2015-03-10 18:20] vicb commented on #621
closed via #882 & #883

[2015-03-10 18:20] #621 closed

[2015-03-10 18:25] pkozlowski-opensource commented on #866
@mhevery @rkirov I'm on it at the moment but while changing the compiler I was wondering if we want to see dash-cased or cammelCased property names through the compiler pipeline. In other words, I can either normalise property name either in:
* `PropertyBindingParser` step but this is pretty early on, so next steps need to be aware of this mapping (ex.: `DirectiveParser` / selector matching)
* `El

[2015-03-10 18:39] ladyborg commented on #866
Well, it sounds nice to be able to safely assume that you're always working
with camelCase, not having to check for dash-case or camelCase anywhere by
normalizing asap. But it doesn't really make sense to convert from
dash-case -> camelCase and then back to dash-case later on for certain use
cases. I think the best approach is to leave property names dash-case for
as long as they are still needed

[2015-03-10 19:13] kegluneq commented on #886
After spending some more time thinking about this, the method above will not work because it will no longer be safe to use `import`s from the `.dart` file in a `.ng_deps.dart` file if we need to generate all setters into a single file.

I haven't spent much time thinking about this, but since the `reflector` passed into `setupReflection` is untyped, perhaps it would be easiest to generate a `Refle

[2015-03-10 20:57] marshallmick007 commented on #850
@buberdds I had a similar problem on Windows and solved it by running a command prompt as Administrator and then launching `gulp build`. `fs.symlinkSync()` requires elevated privileges on a Windows platform.

I would agree that it would be nice to trap that error and notify Windows users to run this under Administrator privileges.

@jbdeboer Those errors were similar to the ones I was seeing on Wi

[2015-03-10 21:00] jelbourn opened #913 "Add facade for window.matchMedia"
[window.matchMedia](https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia) is used to determine if the current window matches a given media query. Some material design components use this in order to do responsive rendering.

[2015-03-10 21:42] mhevery opened #914 "Throw error when template declared but no Viewport directive match"
[code]

The above code should throw an error during compilation. This is because each of the sub-template syntaxes ref to a directive but no Viewport directive was matched.

In general it should be an error to have sub-template without a Viewport

[2015-03-10 21:43] gdi2290 commented on #914
+1

[2015-03-10 21:51] mhevery commented on #791
We would fallow this proposal: https://github.com/gbracha/nullAwareOperators/blob/master/README.md

[2015-03-10 22:00] gdi2290 commented on #909
I was also thinking the same way with `of` but that would also mean switching `foreach` to `for`. The `of` implies that you're providing a functor (iterable objects [aka you can use .map or .filter etc]) which is why js introduced `of`. This include Arrays and Objects but is not limited by them since you can provide your own functors. an example in es6/es7 is
[code]
in angular you do this with fil

[2015-03-10 22:06] mhevery commented on #909
So it sounds like we can have `foreach-in` or `for-of`.

Our choices are:

1. do nothing `foreach-in`
2. switch to `foreach-of`
3. switch to `for-of`
4. have selector which supports all of the above.

Anyone want to vote?

[2015-03-10 22:10] mhevery commented on #133
I know this is a sensitive topic to a lot of you. We have gotten a lot of good feedback from this discussion which was incorporated into our thinking, and so I think this thread has served its purpose, and will be not retired.

Please watch my presentation on this topic: https://www.youtube.com/watch?v=-dMBcqwvYA0 which tries to answer many of the questions.

[2015-03-10 22:10] #133 closed

[2015-03-10 22:12] caitp commented on #909
I like the idea of using "for="#thing of collection", but unfortunately html itself uses the "for" attribute for some elements, so it might not be a great thing to use. I'd prefer not supporting "both", though.

[2015-03-10 22:16] gdi2290 commented on #909
I'm all in for only providing `for-of` (keeping foreach during alpha) since we (js community) is trying to convert the everyone to use `for-of` (sadly perf problems atm for js). Doing so would be more inline with the original principles of angular (using future js/html today) but may or may not need work to rework some of the patterns of the codebase. The minimal amount of work leaving everything

[2015-03-10 22:20] caitp commented on #909
I'm aware of the "workarounds", but I've expressed pretty loud and clear that the workarounds are bad ideas (wider api surface for no good reason, higher learning curve for new users, more cases to test and maintain with no real benefit, etc). Lets not turn this into #133 though, I've said my piece =)

[2015-03-10 22:26] gdi2290 commented on #909
haha I wasn't trying to bikeshed but I do see your point. I'm not the best at names (case in point my username) so I couldn't say I'm qualified to suggest one to replace `for` other than keeping `foreach` with the difference being `of` and `in`

[2015-03-10 22:32] Alxandr commented on #909
@gdi2290 As far as I know, `for .. of` is a pull-based mechanism, and given that javascript does not support async -> sync execution (or blocking), using `for .. of` to aggregate a event stream (like a websocket) does not make sense.

[2015-03-10 22:37] SekibOmazic commented on #909
`*for="#item of items"` would be nice.

[2015-03-10 22:42] mhevery opened #915 "Support overriding selectors of directives on import."
It should be possible to override the selector of a component on import.

[code]

# PROBLEMS
  - this would make it hard to know all selectors statically, as it requires execution of code to know what the selector is.

[2015-03-10 22:44] gdi2290 commented on #909
My argument is trying to provide concepts that are trying to be pushed in the future of javascript into the framework today. @jhusain is better suited to articulate the reason behind the example (using `for var item of new WebSocket()`)  but I may also be wrong in my assessment. I'm sure I'm missing the `await` keyword that would be more inline with the pipe version but then also begs the question

[2015-03-10 22:44] mhevery commented on #907
This was just announced. Once TypeScript v1.5 will be released we will switch to it. Yes, we will drop traceur. You can still use rtts_assert

[2015-03-10 22:44] #907 closed

[2015-03-10 22:45] mhevery commented on #913
can you tell me more about the use case? What are you planning to do with the information?

[2015-03-10 22:48] TylerEich commented on #909
I would **love** to see something like:

  - `*for="let prop in object"`
  - `*for="let item of iterable"`

I share @caitp's concern with the `for` attribute already being defined by the HTML standard; maybe the `*` prefix removes that concern…

I also believe `*foreach` has a place alongside `*for`, possibly as follows:

  - `*foreach="arrayOrMapOrSet as #value"`
  - `*foreach="arrayOrMapOrSet as

[2015-03-10 22:57] jelbourn commented on #913
This is used to programmatically check media queries in order to use a different layout or a different behavior based on window size. The material library also has the ability to set up a callback for when the result of a query changes so that the layout of a component can change (which is just used by the grid-list component presently)

[2015-03-10 23:11] chalin commented on #907
@mhevery: once Traceur is dropped, which tool will be handling the TypeScript to Dart transpiling and who will be driving the (continued) development of this functionality. I'm asking because I would like to contribute. Thanks

[2015-03-10 23:41] mhevery commented on #909
Sounds like people are voting for: `*for="#item of iterable"` (existing `for` property on `Element` is not an issue)

[2015-03-11 00:07] TylerEich commented on #909
@mhevery Is there any merit to expanding the `*foreach` syntax? Or should `*for` replace `*foreach`? I can't recall if there will be an internal `$index` property anymore; if that's gone, should there be some way to assign the index to a variable as well?

[2015-03-11 00:17] #708 closed

[2015-03-11 00:51] vsavkin commented on #906
It makes sense.

[2015-03-11 03:15] gdi2290 commented on #915
why not something more declarative
`Directive.selectorAs('other-selector')`
or something like
[code]
define overwrites in the prototype
or
[code]
create a container but then the container needs to know the types of annotations so what if you can just annotate the container which will overwrite the Directive
[code]
I'm not even sure if that's possible or even if that is something people want since

[2015-03-11 03:16] SanderElias commented on #909
+1 for the `*for="#item of iterable"`
This is nicely aligning with the new es6 syntax, and as it is clearly stating it demands a iterator, you don't need to take special care for objects.
However this brings up a new question.  how about destructuring? an usecase:

`*for='[#key, #val] of Object.entries(myModel)"`

The Object.entries(myModel)  is a substitute for something in the controller that pr

[2015-03-11 03:46] gdi2290 commented on #909
in order to keep `$index` helper it does make sense to keep `*foreach` for those who want to use the old style and everything that may come with it. Maybe there should even be a way for users to define their own helpers so they can create `$even`, `$odd`, `$middle`, `$last`, `$first`. That might be asking too much

Destructuring is a good point since es6 introduced a lot of sugar the template synt

[2015-03-11 03:48] mhevery commented on #909
`*for` is replacement for `ng-repeat` we can move all of the existing features over once we settle on the basics.

[2015-03-11 03:49] mhevery commented on #909
@gdi2290 your proposal do not fallow the micro-syntax expansion rules. (see: https://github.com/angular/angular/blob/master/modules/angular2/docs/core/01_templates.md#template-microsyntax)

[2015-03-11 03:56] SanderElias commented on #909
@mhevery I did reread the micro-syntax. As I see it it does not prevent destructuring as in my use-case.
Supporting it would make the micro-syntax line up with ES6 quite nicely.

[2015-03-11 03:58] gdi2290 commented on #909
yeah it doesn't work haha I was only suggesting that we could probably add it. deconstructing is probably too much for the template microsyntax but it might be a good idea to consider it
[code]
I just had the # in the wrong places

[2015-03-11 04:15] mhevery commented on #866
I think we should convert to camel case as soon as we read it. So it sounds like `PropertyBindingParser`. We should just assume that everything is camelCase.

We should than apply the same transform when reading the `bind` from the `Directive` annotation.

[2015-03-11 04:16] gdi2290 commented on #909
After double checking out the microsyntax again in order to exporting the internal variables are done with `#` which mean you would use `[#key, #val]` after deconstructing but the question is if the microsyntax can detect deconstructing

[2015-03-11 04:17] SanderElias opened #917 "proposal: promises in templates."
In line with how ES7 is going to support some more async operators and stuff I was wondering on how to support async in templates now. Do we have a way to resolve a promise in the template?
here is an example of what I would like to propose:

[code]

this makes it possible to handle a array of promises right in the template like this:
[code]

Or is this just stretching it too far?

[2015-03-11 04:33] gdi2290 commented on #917
you should check out this talk
[FalcorJS](http://youtu.be/WiO1f6h15c8)
basically it's `| async` pipe that will resolve your promise so you can write your

[code]
if you have promises in your promises or in Falcor's case Observables in Observables then it's something like

[code]

[2015-03-11 04:35] gdi2290 commented on #917
keep in mind this is isn't in angular2 at the moment and only lives on a branch by @vsavkin until it's finalized

[2015-03-11 04:39] mhevery commented on #873
Can you provide a concrete use case? Our current thinking is to provide a special Directive which would run in UI Thread which would have full access to DOM, but most components should not need DOM access.

Have you seen:
- https://github.com/angular/angular/issues/621
- https://github.com/angular/angular/pull/882
- https://github.com/angular/angular/pull/883

[2015-03-11 04:46] mhevery commented on #856
1. Agree that it should be configurable, we will work on it.
2. Can you better explain your concerns of trust? If Angular solely controls the DOM, the app can't break the DOM, and so it should be safe for reuse.

[2015-03-11 04:51] mhevery commented on #850
I think this is an error from dart formatter. Are you using Dart v1.9(dev) ?

[2015-03-11 04:56] mhevery commented on #909
@gdi2290 Not sure I understand you goal.

1. We think iterating over maps was a bad idea, and we don't want to support it. Instead we will have a pipe which can convent a map into iterable. `<div *for="var i in map | toArray">{{i.key}}: {{i.value}}</div>`
2. We don't want to have special `$index` variables. instead: `<div *for="var o in os; var  i = index">{{i}}: {{o}}</div>`

[2015-03-11 05:00] mhevery commented on #915
@gdi2290 your examples don't work in practice. :-( It has to do with types of objects which need to be created to satisfy both Dart and JS.

prefix idea does not work with selectors. For example `input[type=text][required]` What exactly should be prefixed? That is why we are just going for replacing the selector outright.

[2015-03-11 05:11] gdi2290 commented on #915
oh that's right, I'm still thinking of selectors as element only. no worries I should probably learn a bit more about Dart to figure something that works for both. `DirectiveBinding` is totally fine

[2015-03-11 05:25] gdi2290 commented on #909
The goal was trying to bring more imperative es6 features to the declarative template world but that's probably defeating the purpose of writing declaratively

as template
[code]
as js
[code]
`Object.entries` converts an object into an iterable where each time you invoke `.next()` you get a 2-tuple (to preserve the key) providing the key and value. So providing something like `| entries` (assuming

[2015-03-11 07:03] SanderElias commented on #917
@gdi2290 I have seen the talk. The talk is about observables. Those are coming to ES7/8. As I have been looking into/started using observables, I was very happy about the announcement that NG2 would have full support for those.
However, an observable is not an promise. As promises are now grasped by the main-stream developer, I feel that there should be support for those in the template itself. Th

[2015-03-11 07:23] SerkanSipahi commented on #907
@mhevery rtts_assert is a part of Angular 2.0 ?

[2015-03-11 09:49] otodockal commented on #909
<pre>*for="#item of iterable"</pre>

because of ES6 (ES2015) syntax alignment, it's good idea!

[2015-03-11 10:53] alexpods commented on #909
@gdi2290 When you're writing:
[code]

I think you're confusing it with [`for on` loop] (https://github.com/jhusain/asyncgenerator) for asynchronous generators:
[code]

`WebSocket` does not implement [iteratable](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols) interface (at least in ES6). In ES7 it'll become an asynchronous generator, if TC39 will decide it so

[2015-03-11 11:03] gdi2290 commented on #909
the TC39 is trying to push js towards a unified method of dealing with async so an iterable WebSocket is the ideal solution. since it was just example code I figured I might as well. I did get the `await` wrong

[2015-03-11 11:12] Alxandr commented on #909
The problem isn't `await`, it's `for .. of` as opposed to `for .. on`, which behaves very differently.

[2015-03-11 11:17] gdi2290 commented on #909
oh that's right, I totally overlooked that subtle.

[2015-03-11 14:57] jrgleason opened #923 "Provide promise list from forEach"
Would it be possible to provide a list of promises that the transclude can use to tell when rendering is complete?

We tend to use automated testing and without this information I have to revert to using something like ng-class="$last" in the actual ng-repeat div. If I had a collection of promises it would help me know when individual objects are rendered.

[2015-03-11 16:39] vicb commented on #923
This repo is for Angular2. You are probably looking for https://github.com/angular/angular.js

[2015-03-11 16:41] jbdeboer commented on #873
Seeing that #882 and #883 were filed after this issue, no, I have not seen them. Looking now, they don't seem to be related.

I have provided you a list of our use-cases offline, but here are two to tackle:
1. setting attributes on a component's element (the actual element, not the shadow root)
2. integrating with D3: a component should be able to invoke an external renderer to fill in the shadow

[2015-03-11 16:46] jrgleason commented on #923
No actually I was thinking ahead. Will the for Each handle transclusion in a differant way? Doesn't look too differant from the code. Is the only reason you say that because I said ngRepeat once? Did you not see for Each in the title

[2015-03-11 16:49] vicb commented on #923
Sorry ! "transclude", "ng-repeat" and "ng-class" make me think your were referring to ng1 - btw `foreach` should become `for`

[2015-03-11 17:02] pkozlowski-opensource commented on #866
@mhevery so, after spending some time knee-deep in the compiler code, we need to discuss the `CssSelector` design where all the [rules are lower-cased](https://github.com/angular/angular/blob/1d4ff9bcdcb6dd4e033a4404261b15b13a32c44f/modules/angular2/test/core/compiler/selector_spec.js#L35-L48).

Now, this becomes problematic if we want to camel-case property / attribute names early on in the `Prop

[2015-03-11 17:04] gdi2290 commented on #923
similar to #917 you can use the new pipeline api to update your bindings. There is an example ( you can't define your components like this with <template> and <script> but it easier to look at)
[code]

[2015-03-11 17:14] vicb commented on #614
@mhevery this could probably not land before we switch to TS as there is no way to introspect the type of anonymous fn parameters.

However I have started to work on it, could you please give feedback on the following (we can discuss about it on our next sync)

[code]

[2015-03-11 20:06] jelbourn opened #927 "Add support for Component @Children injection"
This is a nice-to-have for container components that are responsible for configuring / interacting with the contained components. Currently, the child Component has to inject the `@Parent` and register/deregister itself manually.

[2015-03-11 20:08] chalin opened #928 "Share Angular 1.x Google Groups or create new ones?"
We currently have the following **Google groups**:
* angular-dart: [#!forum/angular-dart](https://groups.google.com/forum/#!forum/angular-dart).
* AngularJS: [#!forum/angular](https://groups.google.com/forum/#!forum/angular).
* angular-dev (for JS): [#!forum/angular-dev](https://groups.google.com/forum/#!forum/angular-dev).

@mhevery et al.: With contributions to Angular 2 picking up, where do you

[2015-03-11 21:06] tbosch opened #929 "transpiler: use traceur's implementation of parseObjectType"
Right now we are implementing `Parser.parseObjectType_` ourselves.
This is not needed any more as upstream traceur supports it now, although with a different implementation. So:

1. remove our hack
2. rewrite the places where we use object types into the format that traceur uses (a list of types, instead of an object hash)

[2015-03-11 21:07] tbosch commented on #929
Our implementation: https://github.com/angular/angular/blob/master/tools/transpiler/src/parser.js#L12
Traceur's implementation: https://github.com/google/traceur-compiler/blob/832b12dea3a9e6de7ff9da0e26d91b4088369140/src/syntax/Parser.js#L4073

[2015-03-11 21:09] tbosch commented on #929
Note: This should be already possible with the traceur version that we are using, so no need to upgrade traceur to solve this

[2015-03-11 21:09] jrgleason commented on #923
Thanks I will take a look at it and yes it is a bit of a feat to be able to remember which terms for which version :-)

[2015-03-11 21:19] gdi2290 commented on #928
join [gitter/angular](https://gitter.im/angular/angular)

[2015-03-11 21:33] chalin commented on #928
:) thanks, I am on gitter, but IMHO, it is no replacement for a discussion list. Misko, any opinion?
/cc @mhevery

[2015-03-11 22:25] ewinslow commented on #909
Since we're voting, big +1 from me to `*for="#item of items"`.

[2015-03-11 22:56] ewinslow commented on #791
My team has been bitten during refactorings by the default behavior of 1.x (renamed some property but get no warning when rendering the template). Would love to see that default change and have `?.` be a way to opt back in for people who really need the behavior.

[2015-03-11 23:21] #526 closed

[2015-03-11 23:28] mhevery opened #932 "Overlay Service"
# Goal

Allow developers to build overlays such as popups, dialog boxes, toasters, etc.. without the access to the native DOM.

Basic idea is that the service allows the developer to load overplayed components and the service manages the size, position, and event handling.

## API

[code]

[2015-03-11 23:39] yjbanov commented on #791
@ewinslow, this is a great point. The tools should be able to produce static warnings for both null-safe and strict property access when you are accessing typed objects. However, POJOs and maps would still have this issue.

[2015-03-12 00:34] #7 closed

[2015-03-12 00:34] gdi2290 commented on #928
github is the discussion list ;)

[2015-03-12 00:44] jelbourn commented on #932
Previously filed as #620

The biggest unknown here for me is the Position. Most of the time you will want to have a position relative to some other element with special handling around preventing the overlay from being off-screen.

The API for `close` here also isn't the best; ideally the component inside of the Overlay would be responsible for closing itself, as that's where it makes the most sen

[2015-03-12 00:54] jelbourn opened #934 "Need a way for a parent component to know when children are "ready""
Use case:
A parent container component is responsible for performing the layout for some number of children. The parent is unable to know *how* to layout these children until all of their bindings have been resolved. However, `onChange` wouldn't work for this, because it will not be fired for child components with all static attributes.

Specific example: Material Design [grid-list](https://materi

[2015-03-12 03:39] #711 closed

[2015-03-12 16:52] pkozlowski-opensource commented on #606
I think that we can close this one as the support for role and aria- attributes is in master. What reminds to be done is a refactoring that would remove special casing but I'm going to tackle this as part of #773

[2015-03-12 16:52] #606 closed

[2015-03-12 19:45] mhevery commented on #620
Closing in favor of https://github.com/angular/angular/issues/932

[2015-03-12 19:45] #620 closed

[2015-03-12 21:07] tbosch commented on #850
@buberdds Yes, sorry, we all use Linux / Mac dev environment, so we don't know whether Windows is broken...

@jbdeboer
If you get an error before that points to `dart_format` with something like "wrong snapshot", you should clean your global pub cache, i.e. `rm -rm ~/.pub-cache`.
Background: We are using `dart_style` to format the Dart code. For this, we need to install it globally. However, when

[2015-03-12 22:14] #871 closed

[2015-03-13 02:18] lookfirst opened #944 "angular/bower-* projects don't specify their dependencies in the package.json"
I am installing packages using [jspm](http://jspm.io/) via npm, for example:

`jspm install npm:angular-animate`

While the dependency is specified [in the bower.json file](https://github.com/angular/bower-angular-animate/blob/master/bower.json#L6), it is not specified [in the package.json](https://github.com/angular/bower-angular-animate/blob/master/package.json).

This causes issues for loading

[2015-03-13 03:09] lookfirst commented on #944
I'm going to close this. I've found a discrepancy in jspm where dependencies installed from github pay attention to the bower.json, but dependencies installed from npm do not.

While it would be nice if this could be solved by adding the dependencies to package.json, I don't think this should be required from the angular project.

Sorry for the trouble.

[2015-03-13 03:09] #944 closed

[2015-03-13 03:59] chalin opened #945 "JS tests (test.unit.js/ci) use Dartium under CLI and Travis rather than Chrome"
I'm putting together some developer notes and the following came up.

Gulp target `test.unit.js` makes use of Chrome Canary
[code]
Understandably, `test.unit.dart` and `test.unit.dart/ci` use Dartium
[code]
So far so good.

**The surprise is that gulp target `test.unit.js/ci` launches Dartium both from the command line and under Travis**: e.g. here is an excerpt from the Travis [angular build 2000

[2015-03-13 17:20] #614 closed

[2015-03-13 17:26] #609 closed

[2015-03-13 17:54] vicb opened #949 "dgeni is too harsh !"
Background: I've just broken the build by adding some documentation...

But I think dgeni is too harsh.

I think we should encourage adding documentation and may be dgeni does not help here. This is the error I had:

[code]

- Could we make the error message clearer by making explicit what is wrong & where ?
- Could it be a warning rather than an error ?
- What about some documentation on what is

[2015-03-13 18:32] vicb opened #950 "Issue in Dart transformer"
On master (afda43dc0281e3671d6df3218749d5050d47f188),

[code]
+ open http://localhost:8080/src/hello_world/index.html

gives the following error:

[code]

/cc @tbosch should we add e2e for this ?

[2015-03-13 18:36] mhevery opened #951 "bootstrapping non-Component should give better error message."
[code]

Results in Erro: `No template found for ExtendedInput` ands should probably say: `Only Components cane be bootstrapped.`

[2015-03-13 18:51] #866 closed

[2015-03-13 19:42] petebacondarwin commented on #949
@vicb - sorry about this. I have had a chat with dgeni about its soft-skills and we are working on it being less harsh.

It turns out that the problem is a bug in the jsdoc **type** parser that the jsdoc dgeni package uses to extract type information from `@param` and `@return` tags. In this case, it got confused by this line:

[code]

It saw the word FunctionWithParamTokens and didn't realise tha

[2015-03-13 20:27] vicb commented on #949
Great, thanks for the quick reply.

Where could I find some information on the expected doc format ? Thanks.

[2015-03-13 20:28] kegluneq commented on #950
This is due to use of `async` / `await` in [the benchpress test code](https://github.com/angular/angular/blob/master/modules/examples/test/benchpress/webdriver_async.server.spec.dart). package:analyzer has some problems parsing it prior to v0.24.0, so the solution is to bump that version.

However, package:angular and package:di both place constraints on package:analyzer, so we'll need to change t

[2015-03-13 20:35] petebacondarwin commented on #949
I turns out it was actually a bug in the [catharsis jsdoc parser](https://github.com/hegemonic/catharsis) that dgeni-packages/jsdoc is using.

Upgrading to the latest version seems to solve this...

I will fix up and push out a new version of dgeni-packages using new catharsis and better errors.

[2015-03-13 20:36] pkozlowski-opensource commented on #917
@SanderElias we've been down this path in 1.x and it was declared a "bad idea". It might have been due to impl details (promises where handled in `$parse` and it was reducing flexibility of this service for cases where you wanted to get a promise instance from an expression) but 2 other arguments against this were:
* impossible to handle promise rejection errors
* "too magical" (argument largely d

[2015-03-13 20:43] #949 closed

[2015-03-13 21:02] pkozlowski-opensource commented on #604
Resolved in afda43dc0281e3671d6df3218749d5050d47f188

[2015-03-13 21:02] #604 closed

[2015-03-14 00:33] jbdeboer commented on #932
@jelbourn There are cases where you want an external service to close the dialog (e.g. pressing ESC on a text box should close the auto-complete popup).  The component itself should definitely have access to this API though.

There are many use-cases that need to be considered: popups on top of popups, multiple persistent popups, relative and absolute positioning.

[2015-03-14 00:50] jelbourn commented on #932
@jbdeboer Definitely. Other examples include having multiple panel-inducing components (say, like a `select`, `autocomplete`, `bubble`, etc.) and enforcing that only one panel is open at a time.

An API I like is being able to inject something like a `DialogBridge` into a component that it can use to close itself and return some value to the invoking site. If the component is instantiated outside

[2015-03-14 00:57] jbdeboer commented on #850
@tbosch I fixed the underlying issue in my environment.  The point of this issue is that the error that gulp gives is unhelpful. A good error message would not only tell me that the build failed, but also why it failed and how I might fix the issue.

[2015-03-14 03:14] tbosch opened #960 "update polymer tree benchmark to released version of polymer 0.8"
Right now we are using the preview version, which has the following effects:

- does not yet use ShadowDOM
- does not use a builtin conditional like `if`
- uses a temporary bower repository

When Polymer 0.8 is released, these limitations should be removed.

[2015-03-14 06:53] chalin commented on #949
Since 8407aa68fe8109798cfafc99b5ea07c28ef80b40, I am unable to run `npm install` without errors (on a clean checkout):
[code]
Have you tried a clean `npm install` and if so, do you get errors too?

[2015-03-14 07:09] chalin commented on #949
Actually, I reverted to `0.10.10` but that didn't help. Any idea what might be the problem with the `dgeni-packages`?

[2015-03-14 07:23] petebacondarwin commented on #949
Those errors appear when I run npm install too but it doesn't prevent the installation from completing successfully.

[2015-03-14 07:29] chalin commented on #949
Thanks for confirming that you get the errors too. I couldn't tell for sure if it completed successfully or not. So you suggest we just ignore the errors?

[2015-03-14 07:44] petebacondarwin commented on #949
The problem is that the version of nunjucks in dgeni-packages is using, what appears to be, an out of date version of fsevents. I think we might benefit from upgrading nunjucks in dgeni-packages to version 1.2.0.

[2015-03-14 08:15] manfredsteyer opened #962 "Sub-Component that changes binded value"
Hi,

I've written a simple Web-Compontant/ directive in Angular2 that binds to a passed value und provides a mehtod that changes it:

[code]

The template looks like this:

[code]

And the directive is used this way:

[code]

When I click the like, doStuff is called and updates the bound value. But unfortunatelly, the binding of {{ someValue }} is not updated.

Now I'm wondering, if a) this is a b

[2015-03-14 08:16] manfredsteyer commented on #962
formatting

[2015-03-14 09:06] SanderElias commented on #917
@pkozlowski-opensource I know we have been there, but that was about promises handled in the background. This is visible declared in the template. No magic anymore, so that takes care of the magical part ;)
About rejections. I thought about that too. Let me write out the full form, a bit like what @mhevery did for the forEach directive.

[code]
(hmm, hard to not type ngShow! The !!! may seem stran

[2015-03-14 10:24] pkozlowski-opensource commented on #962
I believe that this is due to (c) in your list. If you want a component to propagate state changes to the outside world you can have a custom event (ex.: on-valuechange).

[2015-03-14 12:28] manfredsteyer commented on #962
Thx for your information. Is there already a mechanism in angular 2 to fire a custom event, like valuechanged? In Polymer they seem to just call something like this.fire('valuechanged');

[2015-03-14 14:27] manfredsteyer commented on #962
Oh, I just digged around in the code and in the issues list here and found out, that one can accompish this using EventEmitter:

[code]

[2015-03-14 14:45] pkozlowski-opensource commented on #914
@mhevery what is the version you've tested with? As I think that we do have checks for this already, [see those tests](https://github.com/angular/angular/blob/da4862a0c82866e117ee3727f80b205c00da0710/modules/angular2/test/core/compiler/integration_spec.js#L548-L570 ).

Or is it a different condition / different error that you are looking for?

[2015-03-14 15:08] mhevery commented on #914
Must have been an old version. Closing

[2015-03-14 15:08] #914 closed

[2015-03-14 15:21] AliMD commented on #907
:-1:
WTF !

[2015-03-14 16:46] Evertt commented on #909
Also +1 from me to `*for="#item of items"`

[2015-03-14 16:57] pkozlowski-opensource commented on #776
@rkirov OK, I've looked into this one a bit more and I'm slightly worried about this assumption:

If I understand you correctly you are saying that in case like this:

[code]
and template like `<div [title]='exp'>` we would bind to the TitleDecor's property, but not to the div's title property, right? In other words, directives would be more "eager" in consuming property bindings?

I'm not sure ho

[2015-03-14 17:19] pkozlowski-opensource commented on #776
So, the other problem (?) with skipping this check altogether is that Dart gets very upset about setting a non-existing property, ex: `<div [someprop]="exp>"` will fail at run-time with:

This might a "good thing", though, depending on one's perception...

[2015-03-14 18:50] gdi2290 commented on #923
@jrgleason I can make you an angular1 version of async if you like. Keep in mind the api isn't finalized yet so it may change

[2015-03-14 19:08] mhevery commented on #907
@AliMD I have deleted your comment because it violates our https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md

[2015-03-14 20:18] jrgleason commented on #923
Sure just give me the branch info might at least help me get a grasp things. I am working on stuff I wouldn't push forward with till August. Just trying to get a jump start and compare it to what we need.

[2015-03-14 20:51] gdi2290 commented on #923
@jrgleason I don't really recommend this in production but it helps to play around with it. I didn't want to hold state in the filter so I'm taking advantage of the interval state of the promise. I have an example in the repo for you to start playing around with
[code]
or
[code]
https://github.com/gdi2290/angular-async

[2015-03-15 11:19] SekibOmazic commented on #809
@PascalPrecht I've debugged through the code and couldn't reproduce the bug. Then I looked at you template and found that the closing element ist wrong. It should be `</li>` (it was missing `/`). Took me some time to realize it, but hey I learned more about `Foreach` directive.

[2015-03-15 11:40] PascalPrecht commented on #809
@SekibOmazic Sorry, I haven't had time to look into all that stuff myself yet. But it looks like you nailed it. Thank you so much!

[2015-03-15 16:24] Xesued opened #965 "@EventEmitter Requires Type"
Not sure if this is a bug or not.  I have a Component called PickList and if I don't type the EventEmitter it, I get this error:
`Cannot resolve all parameters for PickList -> Failed to compile MyAppComponent`

[code]

[2015-03-15 20:36] petebacondarwin commented on #949
I pushed a new version of dgeni-packages (0.10.12) which uses a newer version of nunjucks. A clean install of angular should no longer have these errors.

[2015-03-15 20:51] chalin commented on #949
Great, thanks Pete. Looking forward to trying it. Will you also be pushing an update to `angular/angular/package.json`?

[2015-03-15 20:52] petebacondarwin commented on #949
It will automatically update since angular is dependent upon ^0.10.11 and 0.10.12 is a compatible version

[2015-03-15 21:14] chalin commented on #949
I confirm that a fresh `npm install` ran smoothly for me. Thanks!

[2015-03-15 21:19] petebacondarwin commented on #949
Magic!

On 15 March 2015 at 21:14, Patrice Chalin <notifications@github.com> wrote:

[2015-03-16 10:04] vicb commented on #949
@petebacondarwin Thanks!

[2015-03-16 10:39] jaysondaquer opened #971 "ng-mouseleave triggers on mouse right-click"
On latest version of Chrome 41.x this behavior happens. On previous versions (40.x below) you can right click elements and perform different actions without triggering ng-mouseleave.

Affected scenarios are for Header Menus which contains hyperlinks. If element is dependent on ng-if which is updated by ng-mouseleave.

One good example of issue can be replicated here: https://docs.angularjs.org/api

[2015-03-16 11:00] vicb commented on #971
This repo is for Angular2, please use https://github.com/angular/angular.js for angular1

[2015-03-16 11:00] #971 closed

[2015-03-16 13:46] brakmic opened #972 "TypeError in gulp-traceur during Angular-Build on Windows 8.1 x64"
Hello,

I've tried to build the current sources by following the given steps but unfortunately there's an error at *DestroyableTransform._transform* in *gulp-traceur*.

I run the VisualStudio 2013 Toolchain and therefore I always use *npm install --msvs_version=2013*
I encountered no problems with downloading/building npm's. All needed prerequisites are in place (gulp, protractor,  webdriver-manag

[2015-03-16 14:02] brakmic commented on #972
I changed index.js of gulp-traceur to use the err-object only if there's a proper function join(). I know it's an ugly hack but I wanted to know if the angular can be built at all.

*index.js* **36-43**
[code]

Now I get the build and all other files. Of course, there are now a lot of warnings that the err-object is empty. :smile:

[code]

[2015-03-16 17:31] kegluneq commented on #950
Waiting on these PRs, then we'll have to pull those changes into [pub](//pub.dartlang.org) before the errors will go away.
- [ ] [Angular.dart](https://github.com/angular/angular.dart/pull/1694)
- [ ] [Angular.di](https://github.com/angular/di.dart/pull/210)

[2015-03-16 17:33] naomiblack opened #973 "Rename Directive.services to Directive.injectables"
All -- please leave a comment to vote for/against this change, or suggest a better name.

We are proposing this change to make the language more specific to what this actually does, and align better with the existing DI vocabulary.

@pkozlowski-opensource assigning to you to make the change when we have some input.

[2015-03-16 17:40] rkirov commented on #422
Will be done or become obsolete after splitting of the views.

[2015-03-16 17:40] #422 closed

[2015-03-16 17:42] jeffwhelpley commented on #973
How about Directive.things or Directive.stuff? j/k

Are there different types of injectables? I guess the main reason why this would not be a good idea is if there is something outside what you now consider "injectables" that would be able to be "injected" at some point. If not, then this probably makes sense and I would vote for it.

[2015-03-16 19:24] pkozlowski-opensource commented on #876
OK, so with b39d2c0101491006979c7d7b8436edd9c25d32bf it should be possible to bind to both [className](https://developer.mozilla.org/en-US/docs/Web/API/Element/className) (`<div class-name="exp">`. I don't think that binding to [classList](https://developer.mozilla.org/en-US/docs/Web/API/Element/classList) will work as `classList` is a mutable structure.

The problem with binding to `className`, t

[2015-03-16 19:35] divdavem commented on #904
Hello,

I have created an **InsertComponent** directive to easily insert dynamic components from a template:
[code]

Each time `myDynamicComponent` changes, the component referenced by `myDynamicComponent` is compiled, then the corresponding view is instantiated, inserted and hydrated, then the given properties are assigned.

If you are interested, you can have a look to the code of the component

[2015-03-16 22:21] marcysutton commented on #932
There are also accessibility considerations for this, including `role`, `tabindex`, trapping focus/screen reader interaction in a modal dialog, and more. The exact ARIA attributes required will depend on the component (e.g. toast is different than alertdialog in terms of purpose and interaction).

[2015-03-16 22:23] rkirov commented on #973
There are plenty of other objects that we allow to inject, but do not need to be explicitly listed in the `services` annotation - EventEmitters, PropertySetters, parent Directives.

So `injectables` is too broad for my liking.

[2015-03-16 22:46] TommyM commented on #973
I prefer services over injectables. Mostly because of the reasons Rado gave. Also, the services terminology has been part of angular and describes very well what they are, services!

Really liked the change from componentServices to services though!

[2015-03-16 22:46] jelbourn opened #978 "Add support for directives that can insert arbitrary content into the DOM"
Use case:
Angular Material has a directive called `md-icon` that lets the user embed SVG content via URL:
[code]
We need to be able to build a directive in angular 2 that directly embeds content in this way. Using a binding on innerHTML is possible, but susceptible to XSS and would require ugly string manipulation of DOM-like content.

[2015-03-16 23:15] jelbourn opened #979 "Add support for overriding ShadowDomStrategy per Component"
Use case:
Angular Material has a directive called `md-icon` that lets the user embed SVG content via URL:
[code]

This component exists to give people an easy way to insert SVG content into the document (there is no easy way to load SVG into the document by URL). Loading the content into the document directly (instead of using something like background-image) gives the user the power to style the

[2015-03-16 23:35] jwcarroll commented on #973
My knee jerk reaction is to vote against it.

It feels a little too much like pushing the framework terminology onto the developer instead of the other way around. `Injectables` is sufficiently ambiguous that I can see it leading to a really big source of confusion for a lot of people.

[2015-03-17 03:41] rkirov commented on #776
I see your concern about Angular components taking over the binding. However, consider the alternative, always binding to both DOM element and Angular component. Most of the time the developer uses bindings to propagate data between his own directives and the extra work we are doing to sync with the DOM is unnecessary. That work is not without a cost, especially in environments like webworkers whe

[2015-03-17 04:20] mhevery opened #981 "Event bindings should allow assignments"
This code

[code]

Throws:
[code]

But it should work since assignments should be supported in event binding (not in data binding)

[2015-03-17 04:23] Xesued commented on #973
I think I like `Directives.Injectables`.  It is a lot more clear to me.
[code]
Looking at the code above, I don't think I would have to read the documentation to know what the injectables property is for.  I agree that `Injectables` might be broad, but unless there are plans to limit what someone can inject into their component, I think it works.

[2015-03-17 04:44] mhevery commented on #876
@pkozlowski-opensource yes, we should be bale to

[code]

should work as `ng-class`

Can you make that happen.

[2015-03-17 04:56] jwcarroll commented on #973
What about `dependencies` ??? That is more inline with the domain.

**Dependency** Inversion Principle
**Dependency** Injection
Injecting **Dependencies** into a class, service, directive, etc...

I think the term `dependencies` is going to be widely recognized. Otherwise I can see myself having this conversation when teaching people about Angular 2.

Dev: "injectables... what is that?"
Me: "Those

[2015-03-17 07:02] SekibOmazic commented on #973
+1 for `Directive.dependencies`

[2015-03-17 08:45] TommyM commented on #973
I like dependencies as well.

[2015-03-17 10:33] vicb commented on #979
There used to be some kind of support for it in the core but after discussion with @mhevery, @tbosch and @vsavkin it has been decided to drop this functionality.

The support was for html only and it is when I've worked on `<style>` support that we decided to drop this support. The rationale being that you would need to insert the `<style>` tag for emulated components in the closest enclosing shad

[2015-03-17 13:12] jamm commented on #973
+1 for dependencies
or injectables, if dependencies will not be accepted

[2015-03-17 15:40] Xesued commented on #973
This might be a crazy idea, but what about removing it and creating a new annotation (if there isn't already one)?

[code]
Or `@Dependencies` :)  This way, we have a clean api of injecting into any class.

[2015-03-17 15:49] SekibOmazic commented on #973
@Xesued or maybe:

[code]

[2015-03-17 15:52] Xesued commented on #973
Oooooh.  I like that as well.  I want both please. :smiley:

[2015-03-17 15:53] pkozlowski-opensource commented on #973
@Xesued @SekibOmazic it is not the same semantic:
* `@Inject` - this is an existing annotation and means "inject something previously declared in this injector or one of its parents"
* `services` (or injectables) means _configure_ child injector with new items that can be injected into a directive or its children

What @SekibOmazic is proposing already exists, but once again, we are looking for a

[2015-03-17 16:29] hrajchert opened #985 "ref binding with attribute components"
Hi! Most of the examples I see are for element components like `<google-youtube>` and in ng-conf, misko show how you can get a hold to the component  API [using ref binding (#)](https://www.youtube.com/watch?v=-dMBcqwvYA0&list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrRiY7&t=1128)

But what happens if I have attribute components, like `tooltip` coexisting with the element one. Can I get a reference to them?

[2015-03-17 16:39] Xesued commented on #973
I was unaware of the existing `@Inject`.  So, the current `services` just configures an existing Di Container (Injector?) with items to be injected?  Is the Di Container created by the `@Directive`?  If so, that makes a lot more sense why it is a property of the `@Component`.  If not, I still think and option like what I suggested would be nice (maybe named `@Dependencies`).  This might be a discu

[2015-03-17 16:45] pkozlowski-opensource commented on #973
Yes, each directive will kind of have child injector, see http://victorsavkin.com/post/102965317996/angular-2-bits-unified-dependency-injection

So yes, `services` is here to configure the injector and not to express what should be injected into a directive.

[2015-03-17 16:49] jelbourn commented on #979
@vicb I don't quite follow. The issue here is that the SVG content added by `md-icon` needs to be affected by any style rules that live in the light-DOM outside of the component. For example:
[code]

Where the `error` class changes the icon to be red. Appending `<style>` elements inside the icon's shadow DOM wouldn't really help.

[2015-03-17 17:40] jwcarroll commented on #973
Hmm... That's a bit different than I had imagined it working. That means
it's not necessarily a set of dependencies for *that* directive... only a
way of configuring the things that *could* be injected for that component
and it's children.

Is that accurate?

If that is the case then I take back my vote for **dependencies**. Not sure
what would make it more explicit though.

On Tue, Mar 17, 2015,

[2015-03-17 19:12] wzr1337 commented on #979
Shadow Dom is decoupled from the light Dom also for styles. If you want to use styles from light Dom, you can either use ::shadow pseudo selector or /deep/ combiner in you light Dom Css

[2015-03-17 21:06] vicb commented on #979
@jelbourn I'm only trying to understand if this is really needed. the host-context selector might be able to help in your use case,  not as flexible as emulated strategy though.

[2015-03-17 21:11] vicb opened #990 "support >>> in the shadow dom polyfill (css)"
Which is the new name for the css deep combinator, see http://dev.w3.org/csswg/css-scoping-1/#deep-combinator

Mostly a note to self for when I'm back. But feel free to tackle this before - would be nice to update webcomponents.js at the same time.

[2015-03-17 21:16] jelbourn commented on #979
@vicb The benefit of using Shadow DOM at all is the encapsulation (styles, events, queries, etc). In this case, using the shadow DOM would makes things harder for the user without adding any benefits. There are many cases where Shadow DOM is a good tool to solve a problem, but it isn't appropriate for this use case.

[2015-03-17 21:57] vicb commented on #979
The reason why we made the strategy global is perf.  If emulated mode is exclusive,  you can insert styles once at compile time.  If modes are mixed you have to check if styles have been inserted in the closest shadow root and insert them otherwise each time an emulated component is rendered.

[2015-03-17 23:27] chalin opened #992 "Template <input> local variable value not updated as user types"
To illustrate this problem, I setup the [Angular 2 quickstart example for **Dart**](https://angular.io/docs/dart/latest/quickstart.html) named `hello_world`, and changed the template to be:
[code]
When I launch the app I see "Hello Al" as expected. If I **type new input text in the browser, the `<h1>` greeting DOES NOT update**. But if I click on the "Do nothing" link (which invokes a noop event h

[2015-03-18 04:15] gdi2290 opened #993 "missing git tags"
Without tags how are we suppose to see the state of the repo for each version :/

[2015-03-18 04:24] yjbanov commented on #645
Moved to https://github.com/angular/ts2dart/issues/9

[2015-03-18 04:24] #645 closed

[2015-03-18 04:25] yjbanov commented on #644
Moved to https://github.com/angular/ts2dart/issues/10

[2015-03-18 04:25] #644 closed

[2015-03-18 04:28] yjbanov commented on #640
Moved to https://github.com/angular/ts2dart/issues/11

[2015-03-18 04:28] #640 closed

[2015-03-18 04:34] yjbanov commented on #639
Moved to https://github.com/angular/ts2dart/issues/12

[2015-03-18 04:34] #639 closed

[2015-03-18 04:37] yjbanov commented on #638
Moved to https://github.com/angular/ts2dart/issues/13

[2015-03-18 04:37] #638 closed

[2015-03-18 04:39] yjbanov commented on #636
Moved to https://github.com/angular/ts2dart/issues/14

[2015-03-18 04:39] #636 closed

[2015-03-18 04:40] yjbanov commented on #635
Moved to https://github.com/angular/ts2dart/issues/15

[2015-03-18 04:40] #635 closed

[2015-03-18 04:42] yjbanov commented on #599
Moved to https://github.com/angular/ts2dart/issues/16

[2015-03-18 04:43] yjbanov commented on #598
Moved to https://github.com/angular/ts2dart/issues/17

[2015-03-18 04:43] #598 closed

[2015-03-18 04:49] yjbanov commented on #491
After chatting with @tbosch about this we agreed on the proposal outlined here: https://github.com/angular/ts2dart/issues/4. In Angular 2 code if anything is returned at all it should have a return type. Lack of type is assumed to be `void` as a matter of style. Of course, specifying `void` explicitly in TypeScript should be ok too. Let's continue the conversation in the ts2dart repo. Closing this

[2015-03-18 04:49] #491 closed

[2015-03-18 04:51] yjbanov commented on #490
This is fixed. We have the analyzer running as part of the CI build and fails builds with unused imports among other things.

[2015-03-18 04:51] #490 closed

[2015-03-18 04:53] yjbanov commented on #637
Moved to https://github.com/angular/ts2dart/issues/18

[2015-03-18 04:53] #637 closed

[2015-03-18 05:00] vsavkin opened #994 "ElementInjector should throw when cannot find a required prebuild objects"
The following should throw if it is not a Viewport directive.
[code]

The following should inject null.
[code]

[2015-03-18 05:04] vsavkin opened #995 "Add a directive lifecycle hook that is called after the children of a directive are checked"
[code]

There should be a hook that `parent ` can implement that will be called after change detection checks child1 and child2.

Implementation notes:
One way to implement it is to walk through the list of directives in reversed order and for every directive that supports the hook invoke it.

[2015-03-18 07:09] SekibOmazic commented on #992
@chalin If I understand it correctly #nm is the variable local to the input field so you'd need a handler that propagates your changes. In Angular1 ng-model did that for us. As there is no 2-way binding in Angular2 you have to do it manually. I played with data binding here: https://github.com/SekibOmazic/angular2-playground/blob/master/hello_app/greeter.html (with some help from the community) if

[2015-03-18 07:55] vicb commented on #990
/ref https://github.com/webcomponents/webcomponentsjs/pull/245

[2015-03-18 15:09] divdavem opened #997 "TypeError exception when using foreach inside switch"
An exception (`TypeError: Cannot read property 'removeChild' of null`) happens when the value of a `[switch]` directive changes in a way that should hide a nested `*foreach`.

**Template / component**

[code]

[code]

Cf [here](https://github.com/divdavem/ng2-play/blob/switchIssue/src/hello.js) for the full file.

**Steps to reproduce**

To reproduce the issue:
* git clone https://github.com/divda

[2015-03-18 16:04] divdavem commented on #997
The issue also happens with different directives than `switch` and `foreach`:

[code]

Having a template directly inside another one seems to trigger the exception when the child view is detached (`<li *if="true">...</li>` is equivalent to `<template [if]="true"><li>...</li></template>` which is directly inside another `template` tag) .

[2015-03-18 18:10] #981 closed

[2015-03-18 18:13] mlaval commented on #683
Solved by #980

[2015-03-18 18:13] #683 closed

[2015-03-18 18:29] mhevery opened #1001 "Binding regexp too liberal"
`<div  x[value]='exp>` and  `<div  [value]='exp>` get processed same way. The first one should be ignored.

[2015-03-18 19:00] ajoslin opened #1002 "feature request: provide a getter for a component's template"
In Ionic v2, we need to be able to change the template that a component at run-time, based on any combination of these factors:

- The current device
- The screen size
- User-set configuration
- Attributes the user puts on the element

We could do this in angular 1:

[code]

In Angular 2, we can't do this. @mhevery mentioned a proposed syntax where different templates could be set based upon some

[2015-03-18 21:21] kegluneq opened #1005 "Remove `src` from library directives"
Per discussion on https://github.com/angular/angular/pull/956. This will be done from TS in https://github.com/angular/ts2dart/issues/25

[2015-03-18 22:33] mhevery commented on #776
I was thinking about this, and I would like to suggest a possible solution.

What if we have a list of element-names and their attributes overrides.

Algorithm.
1. Check `hasOwnProperty`
2. Check exeception list
3. Throw error

[2015-03-18 22:42] rkirov commented on #776
@mhevery so given `<google-youtube>` component with property binding `video`. During the compiler run `<google-youtube>` hasn't waked up as a web component so it does not `haveOwnProperty('video')`, should `google-youtube` or `video` be in the exception list?

Who will be responsible for maintaining the exception list?

[2015-03-18 23:03] jelbourn commented on #995
See #934

[2015-03-18 23:11] ajoslin opened #1006 "2.0.0-alpha.13 fails in Safari"
Error: http://ajoslin.co/Vi2o
`SyntaxError: Cannot use initialiser syntax in a strict mode enumeration.`

Line 5155 of code has the error:  http://ajoslin.co/9NDW

It looks like MapWrapper#createFromStringMap does an illegal strict mode operation in Safari.

It's the first line of this for loop: https://github.com/angular/angular/blob/master/modules/angular2/src/facade/collection.es6#L11-L17

This

[2015-03-18 23:55] jelbourn opened #1007 "Preventing duplicate IDs when emulating shadow DOM"
#### Problem
Say you have a component template:
[code]

In this example, use of an ID is necessary for the `aria-owns` attribute. With the current shadow DOM emulation, it will not work to have multiple instances of this component on the page at the same time because the IDs would be duplicated.

Other use cases include `<label>`, `aria-labelledby`, `aria-controls`, `aria-described-by`, `aria-flow

[2015-03-19 00:00] jelbourn opened #1008 "Add support for setting attributes to Component host element"
We currently have `@PropertySetter` to set properties to a component host element, but there's no way to set *attributes*, specifically for aria purposes. This would be useful for things like `aria-checked`, `aria-disabled`, `aria-selected`, etc.

[2015-03-19 00:02] jelbourn commented on #979
The use-case for this issue would probably be addressed by having a Decorator-like directive with no shadow DOM (instead of a Component) that can append arbitrary content into itself as a resolution to #978.

[2015-03-19 01:09] ajoslin opened #1009 "Ability to set attrs/properties on root element of a component"
I have a `<side-menu>` component in 2.0.0-alpha.13. Currently, to set the `open` class on the side menu to show/hide it, I have to manually manipulate the dom element:

[code]

I'd like to be able to setup a `[class.open]="isOpen"` binding on my component's element instead of having to do this.

@mhevery suggested injecting `@PropertySetter('class.open') setter: Function` into the constructor, but

[2015-03-19 01:24] ajoslin commented on #1009
Duplicate of #1008

[2015-03-19 03:31] mhevery commented on #1008
@pkozlowski-opensource both#1008 and #1009. I think that `@PropertySetter('a.b')` should go through same code path as `[a.b]`. Since we already have `[a.b]` this should be straight forward.

[2015-03-19 03:31] mhevery commented on #1009
@pkozlowski-opensource both#1008 and #1009. I think that `@PropertySetter('a.b')` should go through same code path as `[a.b]`. Since we already have `[a.b]` this should be straight forward.

[2015-03-19 04:13] mhevery commented on #776
Also we should be using `'property' in instance` rather than `instance.hasOwnProperty('property')`

The waking up is a general problem, and it seems like we need to delay checking the property until after we import into `document` from the `template`.

The exception list is something we may have to do after all else fails.

(Just throwing crazy ideas out.)

Perhaps we should disable the check for

[2015-03-19 04:17] mhevery commented on #776
@pkozlowski-opensource  can we just disable this check for now, until we figure out a proper way to handle this?

[2015-03-19 04:52] #951 closed

[2015-03-19 04:52] #1001 closed

[2015-03-19 08:24] IgorMinar opened #1011 "CONTRIBUTING.md contains a lot of misinformation"
It looks like the file was just compied from Angular 1 repo with some superficial changes.

Concrete problems:

- `Got a Question or Problem?` section points people to gitter and Angualar 1 mailing list that we don't actively monitor.
- `Coding Rules` section is mostly obsolete
- `Signing the CLA` section references the steps from before SignCLA launch

[2015-03-19 08:45] IgorMinar opened #1012 "Skip Dart tests + issue a warning when Dart environment is not setup"
Currently we skip all the dart related tasks when building Angular if Dart environment is not setup. We should do the same for tests.

The justification for this is that if someone not familiar with Dart wants to contribute a small fix, asking them to setup Dart environment is a not reasonable.

[2015-03-19 08:47] IgorMinar opened #1013 "DEVELOPER.md contains misinformation"
- [x] the dart dependencies are not required in order to build Angular 2 (however we currently do require dart dependencies to run tests, see #1012)
- [x] instructions state that either dev or stable version can be downloaded from the archive but that's not currently true since no stable dart version is supported
- [ ] `npm install -g gulp` - we should really encourage people to install `gulp-cli`

[2015-03-19 09:28] IgorMinar commented on #1013
we should also simplify the dart installation instruction and just tell people how to install dart via brew on mac or point mac users down that path as the recommended option.

[2015-03-19 12:40] armorik83 opened #1016 "What's about actual for multiple statements?"
https://github.com/angular/angular/blame/e0710c4613ba51f008bc8a2f4874fb1fade9d09f/modules/angular2/docs/core/01_templates.md#L620

As a matter of fact, does Angular allow multiple statements? What does mean "i.e. no doA(); doB()"?

[2015-03-19 15:45] chalin commented on #1011
It is a first cut / work-in-progress. Feedback is most welcome!

Right, and this issue has been raised in #928. Once a decision is made, I'll gladly update the docs (once new groups are created, if that is what is decided).

On a similar topic, someone might want to give some though to which [Stackoverflow tags](http://stackoverflow.com/tags) we want to standardize on for Angular 2. FYI: so far th

[2015-03-19 16:06] chalin commented on #1012
Blocked by #945, *JS tests (test.unit.js/ci) use Dartium under CLI and Travis rather than Chrome*. If someone on the Angular team can confirm that use of *Dartium* for JS tests was a mistake, then please respond to #945 so I can fix it. Then addressing this issue will be mostly done.

The source of the problem currently is that `scripts/ci/test_unit_js.sh` makes use of Dartium, hence it invokes th

[2015-03-19 17:16] vsavkin opened #1022 "Support ngOptions"
Currently, the only way to use select is to generate the list of options manually, as follows:

[code]

It might be a good idea to support something like `ngOptions`.

Implementation notes:

* One way to implement it is to define a new component that can be used as follows:

[code]

[2015-03-19 18:54] jelbourn commented on #979
I'm closing this issue because I thought more about how things like `:host` would work and it would be bad.

[2015-03-19 18:54] #979 closed

[2015-03-19 20:37] vsavkin opened #1025 "Compiler does not support selectors with multiple attributes"
Currently, the compiler will not match `input[type=text][control]` with  `<input type=text control=one>`, but it should.

[2015-03-20 06:44] yjbanov commented on #599
Moving back to this repo. Decided this should be a job for a linter, not transpiler.

[2015-03-20 19:06] mhevery opened #1033 "create hasError API on forms"

[2015-03-20 19:08] mhevery commented on #904
Implemented: 2041860a21c021efc10589533f23c8df6dc611d3

[2015-03-20 19:08] #904 closed

[2015-03-20 20:36] mhevery commented on #973
I don't hear a reason why we should not rename it (other than I don't like it).

Just a remainder that `injectables` configures the injector, not what gets injected into the constructor of the component.

[2015-03-20 20:55] mhevery opened #1034 "Data driven forms"
Goals:
- To be able to generate a form dynamical based on specified structure.
- It should allow for marshaling data from/to form and model.
- Should support layout strategies
- Should support selecting of right component type

Things to consider:
- Impedance mismatch of model vs form control

Implementation note:
- We need to develop a component which will look through this and generate a dynamic

[2015-03-20 21:57] kegluneq opened #1035 "Transform `Template#url` values to `inline` templates"
Per @yjbanov 's recommendation, this avoids unnecessary `XmlHttpRequest`s in the deployed application.

[2015-03-20 22:01] rkirov opened #1036 "Component testing in isolation"
As components are the basic building blocks of angular 2 applications, it is important to have a solid testing story for them. If the user has a component:
[code]
it is important to be able to mock or stub out `B` and `C` while testing `A` and its template. Since the template annotation is static, we need a new mechanism of dynamically rewiring the template directives list.

To support this I sugg

[2015-03-20 23:11] jelbourn opened #1039 "Framework should `preventDefault` for form submit events"
The `ng-submit` directive in angular 1 automatically does `preventDefault()` for form submit events, since most people haven't wanted this behavior for about a decade. Angular 2 should probably do the same thing.

UPDATE:
Event handling for `submit` seems to be broken. I have this in my template:
[code]
(tried both `(submit)` and `(^submit)`)

and this method in my component:
[code]

Interacting w

[2015-03-20 23:13] chalin commented on #992
@SekibOmazic As far as I know, `#nm` is local to the template. I am aware of how to achieve an equivalent result using a model field. Since template-local variables are new to Angular 2, I was mainly wondering about the **expected** behavior of Angular in the case I mention above.

[2015-03-20 23:41] SekibOmazic commented on #992
@chalin You seem to be right, `#nm` is local to the template. Hmm, now I'm also wondering why `(input)` is needed to propagate changes within the template.

[2015-03-21 00:45] jelbourn commented on #934
@mhevery @vsavkin Here's another use case for something like this:
[code]

I want to set the `tabIndex` of the host element based on whether the anchor is disabled. As it stands, if I have a static template:
[code]
I have no way of ever figuring out if the component is disabled. Resolving #622 would give me a way to do this, but it would be more boilerplate: I would have to check for a static valu

[2015-03-21 01:42] jelbourn opened #1040 "Swap default behavior for event propagation"
Right now:
` (click)="run()"` does not do anything for propagated events, and
`(^click)="run()"` does

Here's my argument for swapping those.
Say I have an `MdButton` component:
[code]
with template:
[code]

Very simple, great! Now I pass this component along to a user to put in an app. User writes:
[code]

But alas, there is no party. The click handler won't fire now because of that `<span>` in t

[2015-03-21 02:09] jelbourn opened #1041 "Need some way to manage focus"
### Goals:

* Different templates may have different ways of invoking bahavior. For example the `<video>` tag on mobile may have `play()` method where as desktop template may have a `start()` method.
* By invoking do commands we can marshal the events across UI/WebWorker boundries.
* We assume tha all subexpressions which start with `$` must be avaluated on the UI thread and everything else is eva

[2015-03-21 02:44] nomack84 opened #1042 "[Form] Collection type in the new API"
Hello,
I've just end reading the post on Angular2 new Form API and I think is awesome. I have great expectations for Angular2. This new Form API seems to be very powerful, much more that Angular1's.
I'd just like to know if it will be possible to have a better API for collections within the form, which could mark the entire form as invalid when validators such as GreaterThanX, LessThanX or EqualsT

[2015-03-21 08:17] akorchev opened #1043 "Reduce forms boilerplate code"
I've just finished reading [Victor Savkin's blog post](http://angularjs.blogspot.com/2015/03/forms-in-angular-2.html) about Angular 2 Forms. The general idea is spot on but the code required to make it work looks too much to me.

I couldn't help but [implement the last demo in Angular 1.x](http://jsbin.com/fareharupi/1/edit?html,output). It was a lot shorter and didn't have any code for setting up

[2015-03-21 15:37] trinarytree commented on #1036
thanks, rado.  let me suggest a tweak to this idea.  as you have it, if my component uses 100 directives and i want to mock just 2, then i would need to import all 100 in my test and write 98 of them repetitiously in this mockDirectives list.  since the number of things we want to mock is probably small compared to the number we want to leave as is, why not use a map instead?: `mockDirectives({B:

[2015-03-21 22:08] #997 closed

[2015-03-21 22:08] #945 closed

[2015-03-21 22:08] #990 closed

[2015-03-21 22:08] #1005 closed

[2015-03-21 22:08] #1012 closed

[2015-03-22 00:20] martinmcwhorter commented on #1034
There are a few prior arts that should be considered, as they provide real world use cases.

    * angular-formly
    * angular-autoFields
    * angular-schema-form

I believe a real world use case that each of these provide is the ability to test form business logic independent of the controller.

In essence you should be testing the form/schema isolated from the controller. Ideally with the new

[2015-03-22 03:00] jwcarroll opened #1044 "Rendering using emulated shadow DOM is an order of magnitude slower than native"
I have written a simple Angular 2.0 application that simply displays a list of custom `message` components to the screen using `*foreach`.

**When using native Shadow DOM, the application can render 5000 messages to the screen in ~1 second. However, when switching to emulated mode (default rendering mode), then it takes upwards of 10 seconds to render the list.**

It's possible that something in m

[2015-03-22 13:14] #776 closed

[2015-03-22 13:38] pkozlowski-opensource commented on #789
This is no longer relevant after the [recent changes](0fb9f3bd6c6efb471da8069a2c6eb2f843ce8050) to the compiler.

[2015-03-22 13:38] #789 closed

[2015-03-22 13:41] pkozlowski-opensource commented on #827
So, with recent changes to the DOM facade this is no longer relevant. The original issue of using annotations from Dart still exists but with the migration to TypeScript I don't think it makes much sense to keep this issue open.

@rkirov if I recall properly our conversation at ng-conf you were planning to open a separate issue for Dart transpiler. But it moved to a separate repo, no?

Anyway, I d

[2015-03-22 13:41] #827 closed

[2015-03-22 13:43] pkozlowski-opensource commented on #773
This was fixed via 02aa8e794579ba8e19c2296d92e86513afe112bb. @mlaval if you add something like `Fixes #773` to the commit message this issue would get closed automatically when a commit lands.

[2015-03-22 13:43] #773 closed

[2015-03-22 13:51] pkozlowski-opensource commented on #1016
@armorik83 It does and does not depending on the context :-) As described in https://github.com/angular/angular/blob/master/modules/angular2/docs/core/01_templates.md you _can_ use them in event handlers but _not_ in binding expressions. For example `<div [id]='foo' (click)='doFoo(); doBar()' >` is perfectly fine but doing `[id]='foo; bar'` would be an error.

This makes perfect sense since bindin

[2015-03-22 13:51] #1016 closed

[2015-03-22 17:20] filipbech opened #1046 "Change detection on referenced input fields"
I really don't know if this is a bug, a missing/forgotten feature or a choice, however I think

[code]

should work, but the change-detection doesn't kick in on change. It needs an (possibly empty) event-listener, like this.

[code]

Thoughts on this?

[2015-03-22 17:49] DanWahlin opened #1047 "Form Controls and Model Field Annotations (Suggestion)"
One concept that's available in some other frameworks is the ability to apply "annotations" directly to fields/properties. That way a model that's used in multiple views/apps is ready to go without much work in situations where the requirements stay the same from view to view or app to app. It's an optional approach but one that I've liked in some situations since it makes things easier to maintai

[2015-03-22 17:57] DanWahlin commented on #1043
I saw this after adding my own form suggestion. Very similar to what I suggested so I'm in total agreement with you. Here was what I posted:

https://github.com/angular/angular/issues/1047

[2015-03-22 18:01] DanWahlin commented on #1034
It'd be really nice to reduce the amount of code required by annotating the model (something that would be optional). I suggested this and just saw that someone else did as well to reduce the amount of boilerplate code:

https://github.com/angular/angular/issues/1047
https://github.com/angular/angular/issues/1043

[2015-03-22 18:58] chalin commented on #1046
FYI: might be related to #992, though there has been no response yet for that issue either.

[2015-03-22 18:59] xbagir opened #1048 "Controller 'ngMessages', required by directive 'ngMessagesInclude', can't be found!"
Does not work directive ngMessagesInclude:

`<ng-messages for="myForm.myName.$error" ng-messages-include="common/templates/errors.html">
</ng-messages>`

[2015-03-22 19:13] pkozlowski-opensource commented on #1048
Wrong repo, this one is for Angular 2, I guess you are looking for https://github.com/angular/angular.js

Having said this, I don't think anyone will be able to help you based just on the info provided - there is just not enough context... Put together a minimal reproduce scenario using plunker or similar before opening a new issue....

[2015-03-22 19:13] #1048 closed

[2015-03-22 19:56] alexpods commented on #992
@chalin @SekibOmazic  I think the problem is that change detection is fired after some async actions which was initialized by user. For example:  "on-" binding (  (click)="0" ). So I think if you will initialize empty  "input" event binding it will be working fine:

[code]

I don't know whether it's feature of bug. But if it's feature, I think it must be documented very well.

[2015-03-22 20:02] alexpods commented on #1046
@filipbech It's really related to #992. See this comment https://github.com/angular/angular/issues/992#issuecomment-84688354. Your code will work if you just declare "change" event binding (without initializing it with empty string):

[code]

[2015-03-22 20:24] martinmcwhorter commented on #1034
@DanWahlin I like it. This is very similar to attributes in ASP.Net MVC where we have a model and we use attributes (annotations in TypeScript) to provide field metadata for generating the form. I can still see valid use cases where the field metadata (form schema) would come from a seperate datasource than property annotations.

Example use case: A single model that can use multiple message form

[2015-03-22 22:17] chalin commented on #992
Agreed.

[2015-03-23 01:21] mhevery commented on #928
@naomiblack Sounds like we should have another google group. What do you think?

[2015-03-23 03:21] dylanb opened #1050 "calling setTimeout throws a maximum call stack exception"
1. Load any Angular 2 application
2. Open the Chrome developer tools
3. Switch to the console
4. Enter `setTimeout(function () {console.log('timeout');}, 0);`
5. Note the exception (reproduced below) for the maximum stack exception

This is simply a very easy way to reproduce a problem that occurs in real applications/components that need to use timeouts inside event handlers. Needs to be fixed.

[2015-03-23 06:45] filipbech commented on #1046
Agreed, its a dublicate!
Ill close this issue again!

[2015-03-23 06:45] #1046 closed

[2015-03-23 09:07] #867 closed

[2015-03-23 09:14] armorik83 commented on #1016
I see, thank you!

[2015-03-23 13:57] pkozlowski-opensource commented on #973
OK, so reading through the comments I can extract the following proposals:
* `dependencies` - I think that this proposal was coming from misunderstanding of what `services` do currently as I think that finally this one is discarded
* `injectables` - proposal from this issue - the only "criticism" I can hear is one from @rkirov who raises 2 points: "to broad" and that there are other things that ar

[2015-03-23 15:19] pensierinmusica opened #1053 "Server-side rendering (isomorphic JavaScript)"
Is Angular 2.0 going to provide server-side rendering and isomorphic JavaScript features?

My impression is that this is a pretty relevant theme, and that folks at Ember are getting it mostly right:

http://emberjs.com/blog/2014/12/22/inside-fastboot-the-road-to-server-side-rendering.html

Thoughts? Cheers  :)

**Edit**
Meteor is also providing it: https://github.com/meteorhacks/fast-render

[2015-03-23 15:50] martinmcwhorter commented on #791
It seems that type-checking template linters (none exists that I know of, yet) would have an easier time with the 1.x behavior.

I think we would all like IDE or gulp/grunt linters that could plug into the TypeScript compiler service and  validate `user.location.address` i.e. that `user: User` has a property `location: Location` which has a property `address`.

Not that this would be impossible wi

[2015-03-23 16:03] ladyborg commented on #1053
+1

[2015-03-23 17:13] matanlurey opened #1054 "Form API lacks type annotations"
Almost every method on `Control` and `ControlGroup` have return types of dynamic, and some important constructors (e.g. ControlGroup) have no type annotations. It would be nice to add whatever is possible to make consuming easier (and lower bugs as you refactor/finish the API).

[2015-03-23 17:15] matanlurey opened #1055 "Component lifecycle needs documentation, interfaces."
Right now I see `onDestroy` and `onChange`, but use of `onChange` within Angular's own code base seem to be more like `onAttached` from Angular 1.0 Dart. Is that the case? If so, can that be made more clear?

Additionally, it would be useful to provide interfaces/abstract classes (DestroyAware, AttachAware) to get compile-time checking if the lifecycle methods are missing.

[2015-03-23 17:18] matanlurey opened #1056 "Browser adapter: DOM.on is not cancelable."

[2015-03-23 17:28] mlaval commented on #631
Thanks to #1052 , this is doable with `@PropertySetter('attr.role')`. Is it good enough or do we still need the map ?

[2015-03-23 17:33] jelbourn commented on #631
@mlaval I think it will be good enough to move forward. There might be another issue in the future about how much boilerplate is involved with `@PropertySetter`

[2015-03-23 18:20] jelbourn opened #1057 "Class bindings shouldn't camelCase normalize CSS class names."
If I have a binding:
[code]

Then the class name added to the element should be `md-radio-checked`. Currently, it is `mdRadioChecked`.

[2015-03-23 18:22] pkozlowski-opensource commented on #1057
Oh, will fix it asap...

[2015-03-23 19:02] mohsen1 commented on #1034
One very common use case for data-driven forms is generating forms based on a JSON Schema. Backend and API developers love to give front-end developers a JSON Schema and tell them this is what the model should look like when you're submitting a from. It makes a lot of sense to use that same schema to build the form. Please take a look at [json-editor](https://github.com/jdorn/json-editor). It does

[2015-03-23 19:08] jelbourn opened #1058 "Shadow DOM Emulation: two components in a template, the second does not get content projection"
I have two components: `MdButton` and `MdAnchor`. Their selectors are `[md-button]:not([href])` and `[md-button][href]`, respectively. They both use the same template:
[code]

I have a demo where I render out some buttons and some anchors. It looks something like this:
[code]

Whichever component is second on the page does not receive content projection. Instead, the placeholder `<script>` tags ar

[2015-03-23 19:14] pkozlowski-opensource commented on #1057
@jelbourn here it is: #1059

[2015-03-23 19:56] dylanb commented on #934
I would like to claim that this example

https://github.com/dylanb/Axponents/blob/master/angular2/ariamenubar.es6#L156

Is an example of where this notification would be good, but not having access to the `@Children` implementation, or enough information about it, it becomes difficult to determine whether it would suffice. However the above mentioned example is one that I plan to refactor once `@C

[2015-03-23 20:27] jelbourn commented on #934
`@Parent` already works. `@Children` is in-progress presently.

[2015-03-23 20:29] yjbanov commented on #791
@martinmcwhorter IDE support (or general toolability) is one of the goals of Angular 2. This is also why we are making sure that Angular 2 compiler works outside the web browser. This means that IDEs would be able to reuse the code that Angular itself uses to interpret the expressions.

[2015-03-23 22:03] mlynch commented on #932
Thinking through this, I wonder if it belongs in Angular proper? Instead, it might be more useful to have a very simple component injection system (sort of like we had with `document.body.appendChild($compile(template)($scope)[0])` in v1) so that different UI kits can implement their own Overlay style systems.

I only worry that an Overlay service might not be generic enough for Ionic (as an examp

[2015-03-23 22:35] ajoslin opened #1062 "bug: PrivateComponentLoader can add decorators to a DynamicComponent"
If I add a decorator to a component with PrivateComponentLoader, it errors.

But it tells me "You don't have a template", not that "You shouldn't be adding decorators dynamically".

When I do add a temlpate to my decorator, PrivateComponentLoader lets me add it:
[code]

[2015-03-23 22:37] ajoslin opened #1063 "bug: PrivateComponentLoader and PrivateComponentLocation must be listed in services to work"
Works:

[code]

Fails with `No provider for PrivateComponentLoader! (MyDynamic -> PrivateComponentLoader)`:

[code]

[2015-03-24 00:28] pensierinmusica opened #1067 "Authentication / authorization module"
Is Angular 2.0 going to provide any official authentication / authorization module out of the box?

I think this would be a pretty relevant feature. See [this thread on Quora](http://www.quora.com/What-is-better-for-a-Hybrid-app-MeteorJS-or-AngularJS) for example.

Thoughts? Cheers  :)

[2015-03-24 00:39] kpko opened #1068 "Forms: Support asynchronous validation"
I saw the demos of the new Forms API in Angular 2 on http://angularjs.blogspot.de/2015/03/forms-in-angular-2.html and wondered, if asynchronous validation will be supported. A common use-case for asynchronous validation would be a user registration form. The user name should be validated on the server.

We need a new state to indicate that the form/a particular field is currently validating. This

[2015-03-24 00:47] matanlurey commented on #1040
+1. Almost any event with a ShadowDOM component body won't work without `^`.

[2015-03-24 04:59] jpopesculian opened #1069 "Building with grunt-traceur"
I'm attempting to build angular with grunt-traceur in my project, and these errors arise. They seem like legitimate errors, and can be easily fixed. I can submit a pull request if you'd like.

[2015-03-24 05:12] jpopesculian opened #1070 "zone.js should be included as dependency by import"
Throws error if not included before angular
example in `angular2/src/core/zone/vm_turn_zone.es6`

[2015-03-24 05:34] alexpods commented on #1068
:+1:

It would be cool if validator could return a promise:

[code]

[2015-03-24 05:49] naomiblack opened #1071 "API docs - path shown instead of var name"
See doc for angular2/annotations at https://angular-mhevery.c9.io/angular2

The variables onDestroy and onChange show their path instead of the name in the top H1 on the page.

@petebacondarwin is this an easy dgeni fix perhaps?

[2015-03-24 05:56] naomiblack opened #1072 "API docs - missed text doesn't show up in output?"
See doc for angular2/annotations/Viewport at https://angular-mhevery.c9.io/angular2

![screen shot 2015-03-23 at 10 53 31 pm](https://cloud.githubusercontent.com/assets/2286589/6796392/7da963fe-d1af-11e4-9520-b375c67f5742.png)

This content for that constructor exists in the doc as a comment at https://github.com/angular/angular/blob/master/modules/angular2/src/core/annotations/annotations.js#L699

[2015-03-24 05:59] Invis1ble commented on #1050
The same issue with `setInterval` and `requestAnimationFrame`

[2015-03-24 07:21] petebacondarwin commented on #1071
Should be easy

[2015-03-24 07:23] petebacondarwin commented on #1072
Hmm so dgeni was taking the first of the preceding come but this was problematic so I changed it to the last. Instead it should use them all. I'll fix that.

[2015-03-24 09:15] vicb commented on #1063
The `PrivateComponentLocation` [is retrieved as a "pre-built object"](https://github.com/angular/angular/blob/0e61a86763e14999be91ff4c1d5c1fc9c8c3ac0f/modules/angular2/src/core/compiler/element_injector.js#L596) from the element injectors then there is no need to add it as a service.

I think `PrivateComponentLoader` should be added to the app injector, I'll open a PR for that

[2015-03-24 09:27] vicb opened #1077 "PrivateComponent & Shadow DOM"
@vsavkin I'm not sure how dynamic components are supposed to work but IMO they should honor `<content>` tags, don't they ?

_If this is how they are supposed to work and we get this to work there might be a follow up issue: in scoped shadow DOM mode, the class on the component tag must be set according to the (loaded) component UID for the CSS shim to work. It seems like this is not done right now

[2015-03-24 09:46] dustyrockpyle opened #1078 "Support creating new factories with different dependencies"
In angular 1.3 the source for the factory provider is as follows:

[code]

enforceReturnValue shadows the factoryFn from being exposed, which prevents doing something like:

[code]

I'd like it if factory passed something like {$get: ..., $factoryFn: factoryFn} to provider.

Is this an acceptable change? If I'd be happy to submit a pull request.

Thanks.

[2015-03-24 09:51] vicb commented on #1078
This repo is for angular2, could you please re-open on https://github.com/angular/angular.js

[2015-03-24 09:51] #1078 closed

[2015-03-24 10:06] vicb commented on #809
Seems like foreach works as expected

[2015-03-24 10:06] #809 closed

[2015-03-24 10:13] PascalPrecht commented on #809
@vicb right, I thought this issue has already been closed. Hey would you mind taking a look at my latest snapshot in https://github.com/angular/angular/pull/729 ?

The code compiles, but I get an error at runtime due to `Function` annotations... Dunno what to do about it.

[2015-03-24 10:45] martinmcwhorter commented on #791
@yjbanov sounds good. I am a bit off topic at the moment. Right now a hole in using statically typed data/message contracts is in the templates. With TypeScript breaking changes can easily be detected in CI. Unfortunately this falls down when the types are expressed in templates. The ability to have tooling to compile these expressions and then validate them against the TS compiler service would f

[2015-03-24 10:58] #1071 closed

[2015-03-24 11:26] #1072 closed

[2015-03-24 11:52] SekibOmazic opened #1079 "Wrong path to source map in rtts_assert.js"
In alpha.14 there is:

[code]

in `rtts_assert.js`

(pulled from npm)

[2015-03-24 12:27] SekibOmazic commented on #1053
@pensierinmusica Some thoughts: https://docs.google.com/document/d/1q6g9UlmEZDXgrkY88AJZ6MUrUxcnwhBGS0EXbVlYicY/edit

[2015-03-24 12:29] finfort opened #1080 "How can I contribute to Angular 2 docs development?"
I really need to use Angular 2 as much as I can, [Todo  app](https://github.com/davideast/ng2do) is works but to improve it,  I have no idea what syntax is

[2015-03-24 12:30] wesleycho commented on #1050
If you load just zone.js and not angular 2, does this occur still?

[2015-03-24 14:01] vicb commented on #1069
see #1073, #845

please also note that we intend to switch to TypeScript (over Traceur) shortly.

[2015-03-24 14:01] #1069 closed

[2015-03-24 14:05] krimple commented on #909
Angular 2 learning question: Is the * prefix solving a problem with a specific naming collision as mentioned above? Saw this at ng-conf, been reading and still haven't found where the reasoning of prefixing with * came from.  Googling "*foreach" and "*for" with "angular2" isn't bringing up any explanations.  Can this be clarified?

[2015-03-24 14:08] pkozlowski-opensource commented on #909
@krimple nope - this is not to avoid naming collisions - this is just sugar on top of the full form, see: https://github.com/angular/angular/blob/master/modules/angular2/docs/core/01_templates.md#template-microsyntax

[2015-03-24 14:53] KamilSzot opened #1082 "Resource interceptor is not actually an interceptor, just a function that returns what becomes result of resource promise."
Here you can see that behaviour of interceptor added to $httpProvider.interceptors is completely different from interceptor declared in resource methods: http://jsfiddle.net/Lzgts/269/

I think we need to update the documentation to reflect this changing the behaviour now might break apps of people who adapted to this behaviour.

That's how I found out about this bug. Behaviour of my app was diffe

[2015-03-24 14:54] pkozlowski-opensource commented on #1082
Wrong repo, I guess you are looking for https://github.com/angular/angular.js

[2015-03-24 14:54] #1082 closed

[2015-03-24 15:43] BatsShadow opened #1083 "Problem with socket.io?"
I've been building a little test app using node, socket.io and angular2. When originally angularjs 1.3, the socket calls worked fine, but I'm now getting:

es6-shim.js:29889 Uncaught RangeError: Maximum call stack size exceeded
run @ es6-shim.js:29889
zoneBoundFn @ es6-shim.js:29866
fnNames.map.forEach.zone.(anonymous function).arguments.(anonymous function) @ es6-shim.js:29940
(anonymous function

[2015-03-24 15:44] KamilSzot commented on #1082
yup, sorry, thanks for pointing me in the right direction

[2015-03-24 16:30] mhevery commented on #675
@jelbourn is this resolved? (I believe so.)

[2015-03-24 16:39] jelbourn commented on #675
Closed by https://github.com/angular/angular/commit/ba0a1ec459cbf03879084e91766d28cd86e14ee2

[2015-03-24 16:39] #675 closed

[2015-03-24 16:58] dylanb commented on #1050
@wesleycho tried to figure out how to just load zone.js, but I am using the quickstart repo and it seems like `vm_turn_zone.js` pulls a bunch of dependencies along with it.

How do I test just the zone code?

[2015-03-24 17:09] Invis1ble commented on #1050
I'm not sure is fiddle is correct, but seems like using just zone.js is not triggering this error
http://jsfiddle.net/d6k05n3z/

[2015-03-24 17:55] zzo commented on #733
Also fixes a bug that transpiled:

    for (var prop in ...) {}

into

    for (var prop = void 0 in ...) {}

which is invalid es6.
There are 6 occurrences of this syntax in src/facade/collection.es6 and nowhere else.
Another 'fix' for this is to change the code in collection.es6 to read:

    var prop;
    for (prop in ...) {..}

https://github.com/google/traceur-compiler/issues/1647

[2015-03-24 17:59] mlaval commented on #622
After a discussion with @vsavkin , the intent here is to access the static attributes which were in the template. In fact, this already doable by injecting `NgElement`, which is going to be replaced very soon by some `BoundElementId`.

So this raises some questions for @mhevery :
-  Do we need this @Static if we have `BoundElementId`?
- If yes, is `Static` the appropriate name for this annotation?

[2015-03-24 18:33] jelbourn commented on #602
Misguided issue.

[2015-03-24 18:33] #602 closed

[2015-03-24 18:55] jelbourn opened #1084 "Proposal: Assertion API"
#### Idea
Write assertions in components that are applied in dev mode, but stripped out in production mode. The is similar to the type assertions, but more general.

For example, say you have a `CustomRadio` component that can either in an a `CustomRadioGroup` or be given a name attribute, but not both. The component author could write an assertion:
[code]

This gives the component user a meaningf

[2015-03-24 20:28] vicb commented on #1084
similar to #112

[2015-03-24 20:32] jelbourn commented on #1084
I'll close this as a dupe of #112

[2015-03-24 20:32] #1084 closed

[2015-03-24 20:32] jelbourn commented on #112
_copied from my duplicate issue_

#### Idea
Write assertions in components that are applied in dev mode, but stripped out in production mode. The is similar to the type assertions, but more general.

For example, say you have a `CustomRadio` component that can either in an a `CustomRadioGroup` or be given a name attribute, but not both. The component author could write an assertion:
[code]

This g

[2015-03-24 20:38] dylanb commented on #1050
@Invis1ble looks like you are correct

[2015-03-24 20:53] royreiss commented on #1034
@mohsen1 I agree.  JSON schema already has a large ecosystem for server-side APIs and would be a great starting point if nothing else.

You can create reusable component schemas via the [$ref / definitions keywords](http://json-schema.org/latest/json-schema-validation.html#anchor94)

[2015-03-24 20:57] pkozlowski-opensource opened #1085 "Publish AtScript -> ES6 transpiled files with *.js suffix"
Currently npm-published ES6 files got *.es6 extension which complicates the build process. If there are no strong technical reasons for naming those as *.es6, we should stick to *.js.

(BTW: to be correct we should use *.es2015 now :-))

This is part of the build / packaging discussion, //cc: @rkirov

[2015-03-24 20:59] vsavkin commented on #1077
Yes, we do have this issue in the emulated mode.

The reason why it is not done is that we refactoring of the compiler/view, basically splitting it in half. After the refactoring  the shadow dom emulation will be pushed to the render view. So we decided to wait until it is done.

[2015-03-24 21:03] vsavkin commented on #748
Closed via https://github.com/angular/angular/pull/936/files

[2015-03-24 21:03] #748 closed

[2015-03-24 21:08] vicb commented on #1077
Thanks for clarification.
Should we live the issue opened until the code is merged ?

[2015-03-24 21:10] #1063 closed

[2015-03-24 21:12] #1062 closed

[2015-03-24 21:31] jamm commented on #1085
+1

[2015-03-25 00:17] rkirov commented on #1085
My latest thinking is that .es6 output itself is of limited value and we should converge to es5 output - obviously with `.js` and pure source - with `.ts`.

[2015-03-25 03:45] mhevery commented on #1080
Best way is to send Pull-Requests. See https://github.com/angular/angular/blob/master/CONTRIBUTING.md

[2015-03-25 03:45] #1080 closed

[2015-03-25 04:07] mhevery opened #1087 "Introduce a concept of DirectiveRef"
A `DirectiveRef` represents internal reference to a directive, which the application can get a hold of to interact with. The `DirectiveRef` is subclassed to `ComponentRef` and `DecoratorRef` to match the directive concepts

## API

[code]

All of the component/directive refs should return `DirectiveRef`. This includes `bootstrap()`, `DynamicComponent`, and `Overlay`. The API allows setting propert

[2015-03-25 04:26] mhevery opened #1088 "Components with imperative views"
A component which is responsible for rendering its own shadow DOM rather then loading it from template.

The mental model is that this is a component, but because it does not have a `@Template` it is responsible for rendering its own content. To reproject the light DOM it can add `<content>` tag. The component can inject `DocumentFragment` to do its own DOM manipulation. (WebWorkers, will be addre

[2015-03-25 04:54] robwormald commented on #1006
yeah, this is an indeed an issue in traceur, fixed here https://github.com/google/traceur-compiler/issues/1647

We fixed it temporarily with perhaps the dirtiest hack I have ever done, ever.
[code]

[2015-03-25 05:02] mhevery opened #1089 "Service for querying positional/size information"
A service which given a [`DirectiveRef`](https://github.com/angular/angular/issues/1087) can return position information about the component.

### API
[code]

See: https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect

[2015-03-25 05:51] yjbanov opened #1090 "Review render shadow DOM code & tests"
@tbosch

I added unit-tests for shadow DOM strategy (plus some minor fixes) in https://github.com/angular/angular/commit/7d63bbcdd39246b643b00a59af5250b8721083e7

I had to `xit` one of the tests because the code that adds the attribute to the parent is gone. I'm assuming you removed it intentionally, so let's figure out what we want to do with the test. All other tests are passing.

[2015-03-25 06:36] matanlurey commented on #1088
Can you give an example of what the API for moving child elements would look like?

[2015-03-25 07:33] finfort commented on #1053
Short answer: Yes
https://www.youtube.com/watch?v=2fx4F0tdvN0

[2015-03-25 07:47] pkozlowski-opensource commented on #1085
@rkirov this is very true provided that migration to TS is done. So I was referring to the current AtScript situation. Depending on the time-frame of TS migration tackling this item might or not might not make sense. At the same time this is just an extension name so I figured it is worth to make people live easier today.

[2015-03-25 11:14] mlaval commented on #631
It is true that it can be a lot of boilerplate with `@PropertySetter`, `@EventEmitter`, the future `@Static` if it happens, etc.
We could add some sugar with an option in the directive's configuration, but it will for sure make the annotation more complex.

@mhevery any thoughts ?

[2015-03-25 14:26] nomack84 opened #1093 "Component inheritance"
Hi,
It's going to be any way to do component inheritance? Polymer 0.5 currently support this, for custom and native components. This could be a nice feature IMO.
Cheers.

[2015-03-25 15:24] cssensei commented on #1093
:+1:

[2015-03-25 15:26] cssensei commented on #1085
The `.ts` naming convention makes more sense since typescript it's here to stay in angular 2.0. @rkirov :+1:

[2015-03-25 16:33] #1008 closed

[2015-03-25 16:33] #1009 closed

[2015-03-25 17:08] jelbourn commented on #631
I agree that we absolutely need some way to cut down on the boilerplate of the sheer number of things a component needs to inject. For example, the material grid-list tile would be something like
[code]

[2015-03-25 17:27] tbosch commented on #1090
Yes, this was by purpose.
Looks good. Added a new test that captures the content of the disabled tests.

[2015-03-25 17:27] #1090 closed

[2015-03-25 17:30] jelbourn commented on #1088
* When you say "child elements can be moved to simulate reprojection", do you mean support projection to `<content>` tags?
* Will these components be able to receive injection (both element and app services)?
* Does data-binding _within_ the component work normally in the `NativeComponent` leaf?

[2015-03-25 17:37] matanlurey opened #1095 "A syntax for static/at-construction-time bindings"
Assume I have a directive called "Hello":

[code]

It would be used something like this:

[code]

The issue here is I have to add a getter/setter for something that will never change, and if I want to wait until `name` is set, I have to use a setter. What if the following was possible:

[code]

At creation time, the `name` attribute would be read and passed. If it wasn't available, it could either

[2015-03-25 17:54] pkozlowski-opensource commented on #1095
It sounds a lot like https://github.com/angular/angular/issues/622 (and some other issues) for which we've got a PR already: https://github.com/angular/angular/pull/1091. Would the proposed solution work for you?

[2015-03-25 18:09] matanlurey commented on #876
Any update? This should also support `style` (per misko)

[2015-03-25 18:11] pkozlowski-opensource commented on #876
This one is next on my list.

[2015-03-25 18:26] mhevery commented on #973
Let's rename to `injectables` @pkozlowski-opensource  can you make it so?

[2015-03-25 18:32] jelbourn commented on #1089
Does it make sense to allow the user to specify _which_ properties their querying for? We might have to check if there is a performance cost to just pulling everything.

The measurements would also have to give you scroll info (scrollTop, scrollWidth, scrollHeight)

[2015-03-25 18:40] pkozlowski-opensource commented on #973
OK, `injectables` then!

[2015-03-25 18:47] vicb opened #1097 "Factorize common util code dash <-> camel"
`dashCaseToCamelCase` and `camelCaseToDashCase` are duplicated:

https://github.com/angular/angular/blob/58dd75a1c8abfa8396ead9b2b1c95dc6c6558668/modules/angular2/src/core/compiler/property_setter_factory.js#L9 & https://github.com/angular/angular/blob/58dd75a1c8abfa8396ead9b2b1c95dc6c6558668/modules/angular2/src/core/compiler/pipeline/util.js

Where should be move them and short support fns in ge

[2015-03-25 18:49] pkozlowski-opensource commented on #1097
Oh, I'm surprised it got duplicated. Will talk with @mlaval and will send a PR tomorrow. I think that for now we should keep it compiler-private (so for example, create sth like string_utils.js in the compiler dir). Any other suggestions?

[2015-03-25 18:58] vicb commented on #1097
My first thought was to make it available outside of the compiler - together with other general purpose util functions we can come with in the future. But I have no strong opinion about it.

[2015-03-25 19:45] pkozlowski-opensource commented on #1097
So, I would prefer to keep it as part of the compiler for now due to bad memories from ng 1 where we've opened up helpers as public API and those helpers are expanding into all-purpose monsters that are doing wayyy to much for the ng internals. So this is why I would prefer to play it on the safe side this time and open up things gradually when needed.

But I don't feel too strong about it so if o

[2015-03-25 20:44] mlaval commented on #1097
Oups, my intention was to keep these functions in the `util` file where they were ... I'll fix that following the ouput of this discussion.
I would favor the private solution from @pkozlowski-opensource

[2015-03-25 20:58] jelbourn opened #1098 "Need some way for directives to react to "global" events"
There needs to be some way for directives to react to things like a `resize` event on the window or a `scroll` event on the document body.

[2015-03-25 21:04] yjbanov commented on #1088
This sounds like what @tbosch and I have been calling "render directive". I think directives that access platform-specific APIs should not participate in data binding, DI, the view hierarchy, or anything else that lives in the "application layer". According to the new [rendering architecture](https://docs.google.com/document/d/1M9FmT05Q6qpsjgvH1XvCm840yn2eWEg0PMskSQz7k4E/edit#) such directives wou

[2015-03-25 21:06] ajoslin opened #1099 "bug: Dashed class name in @PropertySetter causes error"
[code]

This is from:
[code]

As soon as I set it to non-dashed-case, it works fine.

[code]

[2015-03-25 21:08] pkozlowski-opensource commented on #1099
@ajoslin are you on the latest master? Isn't 58dd75a1c8abfa8396ead9b2b1c95dc6c6558668 fixing this for you?

[2015-03-25 21:09] ajoslin commented on #1099
Actually, no class binding works. `class.asidecontent` just fails when you run the setter.

[2015-03-25 21:09] ajoslin commented on #1099
Yes, I'm on the latest master.

[2015-03-25 21:09] pkozlowski-opensource commented on #1099
How do you call your setter function?

[2015-03-25 21:10] ajoslin commented on #1099
Just with a boolean. `setter(true)`

[2015-03-25 21:22] ajoslin commented on #1099
Temp fix:
[code]

[2015-03-25 21:53] matanlurey commented on #1095
Nice catch. Thanks.

[2015-03-25 21:53] #1095 closed

[2015-03-25 22:49] mhevery commented on #1099
@pkozlowski-opensource can we add a use case to a test to demonstrate that this works as expected.

[2015-03-25 22:57] mhevery commented on #709
@SekibOmazic updated the issue with reasoning.

[2015-03-25 23:12] mhevery commented on #849
We are working on this. Some progress can be seen here: https://angular-mhevery.c9.io currently only have `angular2/annotations`.

as this is ongoing moving to later milestone.

[2015-03-25 23:14] mhevery commented on #688
@pkozlowski-opensource Please add this to your list.

[2015-03-25 23:18] jbdeboer commented on #849
The bulk of this work will be needed for M7, we will scope it, though.
On Mar 26, 2015 7:12 AM, "Miško Hevery" <notifications@github.com> wrote:

[2015-03-25 23:20] mhevery commented on #622
@mlaval I think `BoundElementId` will be async, where as `Static` can be resolved at compile time and hence be faster. It also makes it clear that you can not change the binding.

Proposed syntax:

[code]

1. we know that it always have to be a string (or `null` if no attribute found).
2. it can be computed during the compilation phase and be part of the `ElementInjector`

[2015-03-25 23:21] mhevery commented on #688
moved text to #622 and closing this issue because of duplicate

[2015-03-25 23:21] #688 closed

[2015-03-25 23:23] mhevery commented on #633
closing since it is a duplicate from #622

[2015-03-25 23:23] #633 closed

[2015-03-25 23:48] juliemr opened #1102 "Investigate `ECONNREFUSED` issues on Travis CI"
These have been coming up a lot recently. It's the type of error that happens when the selenium standalone server shuts down in the middle of a run of tests.

Todo
 - [x] Update to Protractor 2.0 to get selenium standalone v 2.45 and see if that helps
 - [x] Start capturing selenium standalone server logs

[2015-03-25 23:52] tbosch commented on #552
Deferring, as we might now need this.

[2015-03-25 23:53] tbosch commented on #432
Decided to keep the test drivers in JS only and create custom implementations for Google internal.

[2015-03-25 23:53] #432 closed

[2015-03-25 23:53] tbosch commented on #429
Done, see https://github.com/angular/angular/blob/master/modules/benchpress/src/web_driver_adapter.js

[2015-03-25 23:53] #429 closed

[2015-03-25 23:54] mhevery commented on #615
https://docs.google.com/document/d/1qFfHwYCOLpLuTap_l6TCEaU4I0C-pVFVbTl2o4-XbUo/edit

[2015-03-25 23:56] #14 closed

[2015-03-25 23:56] #37 closed

[2015-03-25 23:56] #57 closed

[2015-03-25 23:56] #75 closed

[2015-03-25 23:56] #25 closed

[2015-03-25 23:56] #30 closed

[2015-03-25 23:56] #66 closed

[2015-03-25 23:56] #95 closed

[2015-03-25 23:56] #115 closed

[2015-03-25 23:56] #153 closed

[2015-03-25 23:57] #10 closed

[2015-03-25 23:57] #22 closed

[2015-03-25 23:57] #52 closed

[2015-03-26 00:01] #162 closed

[2015-03-26 00:01] #233 closed

[2015-03-26 00:01] #240 closed

[2015-03-26 00:01] #242 closed

[2015-03-26 00:01] #243 closed

[2015-03-26 02:22] ajoslin opened #1109 "angular changes `class.*` bindings to camelCase."
This will set the `dashCase` class on the button to true or false depending upon the value of `binding`.

[code]

I know dash-case to camelCase conversion is actually a "feature" built into the attribute parser, but it should have exceptions in cases like this.

The last thing I would expect is for angular to camel my classNames.

[2015-03-26 04:14] mprobst commented on #70
@vicb what would the equivalent Dart code be? super(...args) probably won't work, and cannot be type checked.

[2015-03-26 04:23] mhevery commented on #1098
Could this be handled by event manager? By binding to events such as `window-resize` or something along those lines?

We want to make sure that we clean up these events when the component is destroyed.

[code]

@pkozlowski-opensource would you like to take a crack on this?

[2015-03-26 04:25] mhevery commented on #1093
ES6 supports inheritance, and you can have your own inheritance hierarchies.

Angular favor composition over inheritance. http://en.wikipedia.org/wiki/Composition_over_inheritance and does not have any base class for you to extend from.

[2015-03-26 04:25] #1093 closed

[2015-03-26 04:28] mhevery commented on #1079
What do you expect it to be?

[2015-03-26 04:29] mhevery commented on #1077
yes, let's leave it open

[2015-03-26 04:31] mhevery commented on #1070
This must be this way because zone.js must be first thing to intercept all the calls. This requires better error/documentation.

[2015-03-26 04:32] mhevery commented on #1067
not sure yet. Closing as not an issue.

[2015-03-26 04:33] mhevery commented on #1056
Tell me more? What do you expect? What is the use case.

[2015-03-26 04:35] mhevery commented on #1053
We have not decided yet.

Closing since it is not an issue (but a question)

[2015-03-26 04:35] #1053 closed

[2015-03-26 04:37] mhevery commented on #1044
Our tests show otherwise. Are you sure you are not running dev mode? (which has all kinds of assertions which make the code slow)

[2015-03-26 04:41] mhevery commented on #1035
Sounds right to me.

[2015-03-26 04:43] mhevery commented on #1022
we dropped this in AngularDart and just went with `ng-repeat` and `ng-value`. Any reason why we can't do the same for Ng2?

[2015-03-26 04:46] mhevery commented on #993
Can we change the release process to tag the git repo when we cut a release?

[2015-03-26 04:47] mhevery commented on #978
Duplicate of #1088

[2015-03-26 04:47] #978 closed

[2015-03-26 04:49] mhevery commented on #992
This works as intended. You must have a listener such as `<input (keyup)>` to trigger change detection.

We will document this.

[2015-03-26 04:49] #992 closed

[2015-03-26 04:54] jwcarroll commented on #1044
Not sure how to know if I am in dev mode or not.

[2015-03-26 06:31] pkozlowski-opensource commented on #1109
This is duplicate of https://github.com/angular/angular/issues/1057 and has a PR already (https://github.com/angular/angular/pull/1059)

@mhevery @jelbourn @vicb could one of you guys please review #1059 so it gets in? There is a second person bumping into this issue in the last couple of days...

[2015-03-26 06:31] #1109 closed

[2015-03-26 06:35] SekibOmazic commented on #709
@mhevery Thanks.

[2015-03-26 06:44] SekibOmazic commented on #1079
Well, there is an absolute path to `/Users/yjbanov/code/...`
Better would be  `//# sourceMappingURL=rtts_assert/rtts_assert.map` but I admit it's not a real issue.

[2015-03-26 06:52] yjbanov commented on #993
We started using tags as of alpha.13: https://github.com/angular/angular/tags. Is that what you are referring to?

[2015-03-26 07:36] vicb commented on #70
[code]

In this case for Dart you should generate `Child(foo: Foo): super(foo);`

I think you should always have access to the parent class ctor signature in TS ? (which is not the case with Traceur).

[2015-03-26 08:08] vicb opened #1111 "Async binding onto an async dependency should throw an error regardless of dependency resolution"
We have the following pattern in application.js:

[code]

The change detector is bound with a **sync** dependency on the root view while the root view is **async**.

It works because the root view has been instantiated before the change detector is instantiated, as demonstrated with the test added in #1101:

[code]

As demonstrated by the tests above, with the **same DI config**, the behavior is d

[2015-03-26 08:32] pkozlowski-opensource commented on #1070
Right. @rkirov we also need to take this into account while preparing one-file-that-has-them-all build.

[2015-03-26 08:54] pensierinmusica commented on #1053
Shall we keep it open as a feature request instead?

[2015-03-26 09:01] pkozlowski-opensource commented on #1099
Apparently @mlaval checked it on the latest master and things seem to work. We are going to add a test to prove it :-)

[2015-03-26 09:52] #622 closed

[2015-03-26 11:32] vicb opened #1116 "Zones"
Some questions / remarks that come from working on async tests.

## Zones in Dart

### Current Angular2 setup ([vm_turn_zone.dart](https://github.com/angular/angular/blob/master/modules/angular2/src/core/zone/vm_turn_zone.dart))
- The inner zone overrides `run()`, function execution are wrapped in `_onRunBase()`
- `_onRunBase()` executes:
  - `_onTurnStart()`
  - the wrapped function
  - `_onTurnD

[2015-03-26 12:28] ajoslin commented on #1099
Sorry guys, bad call. I found a bug where my update script wasn't actually updating to master.

Ill close this now and confirm later today when I get it to work. Thanks

[2015-03-26 12:28] #1099 closed

[2015-03-26 13:23] mprobst commented on #70
This issue was moved to angular/ts2dart#100

[2015-03-26 13:23] #70 closed

[2015-03-26 13:52] pkozlowski-opensource commented on #1025
@mlaval is saying that it seems to work under test, let's add one to see.

[2015-03-26 14:04] jelbourn commented on #1088
If this type of directive does not participate in DI, you lose the ability to make a directive that uses something like `canvas` and consumes both built-in and your own defined services.

@yjbanov are you suggesting that a directive that uses canvas wouldn't be able to define custom property bindings?

[2015-03-26 14:14] mlaval commented on #1025
Here are the tests which are passing successfully:
https://github.com/mlaval/angular/commit/c1d6cfb23c15418eb2070a077faea769a7d1bd47

@vsavkin Can you please clarify the issue?

[2015-03-26 14:22] #1097 closed

[2015-03-26 14:25] pkozlowski-opensource commented on #1025
@mlaval maybe open a PR with those tests so we've got them for the future?

[2015-03-26 14:31] chalin commented on #992
Thanks for confirming @mhevery.

[2015-03-26 14:47] mlaval commented on #1025
Done with #1117

[2015-03-26 15:22] pkozlowski-opensource opened #1118 "Can't access values from KVChangeRecord"
I'm working on the binding to the classList (#876) and shaping my directive as follows:

[code]

This works fine in JS but it looks like I'm accessing "private" variable `record._currentValue`. It seems to me that both `_previousValue` and `_currentValue` should be public - otherwise we can't really access values of the individual change records.

@vicb it seems like you've written this part - doe

[2015-03-26 15:35] mlaval commented on #965
The same error is happening for `@PropertySetter` and `@Attribute` when the type is not set.

[2015-03-26 16:00] vsavkin commented on #1022
Not really. I actually did not use ngOptions even in Angular 1 because I always found it too confusing.

I created this issue so we can talk about it here.

[2015-03-26 16:01] vicb commented on #1118
Yep, the leading "_" should be removed if we want to be able to access the values in Dart

[2015-03-26 16:10] vsavkin commented on #1047
I think this is a good idea for many scenarios. We can spike it on top of the core forms module.

I am thinking it should be a separate module for the following reason: the core forms module is compiled both to JS and Dart. If you want to reduce boilerplate to the minimum, you may have to take advantage of some language features that is available only in TS or only in Dart.

[2015-03-26 16:13] pkozlowski-opensource commented on #1118
OK, thnx - will send a PR

[2015-03-26 16:14] vsavkin commented on #1058
I think since @tbosch and @yjbanov moved/moving shadow dom emulation into the render module, one of them should take look.

[2015-03-26 16:38] matanlurey opened #1120 "NgIf directive throws in ProtoView instantiation"
[code]

Where `material-shadow` is a component, and `raised` is a boolean in `material_button`, on:

[code]

This is using `NativeShadowDomStrategy` and Dart, if it's not clear.

[2015-03-26 16:50] jelbourn commented on #1088
Here's a use case that might inform this:

In Material, we have a directive called `md-icon`. This directive lets the user load an SVG icon either directly by URL or by an alias. The alias is what we're concerned with here. The icons are configured with a provider:
[code]
and then referenced by name:
[code]

In Angular two, the analog to this provider would be creating a service at the root level

[2015-03-26 17:09] dylanb opened #1121 "events does not work if content is positioned absolute"
Given the following code:

[code]

and the following HTML file

[code]

If the `position:absolute;` is removed from the style on the template then the event handlers for the native and the Angular 2 events attribute will be called. If it remains there, only the native event handler is called.

Both event handlers should be called regardless of the positioning

[2015-03-26 17:28] jelbourn commented on #1121
Does it work if you change `'click': 'onClick($event)'` to `'^click': 'onClick($event)'` ?

[2015-03-26 17:29] juliemr commented on #1102
Here is some output with selenium logs captured: https://travis-ci.org/angular/angular/jobs/55901774

The relevant section before failure is:

[code]

[2015-03-26 17:38] pensierinmusica commented on #1067
Hi @mhevery, instead of closing this, is it possible to label it as a "feature request"?

As far as I understand, generally feature requests get closed in two ways:

1) The feature has been implemented
2) The team and the community behind the project, after discussing the feature, decide it should not be implemented.

Do you think this would make sense? Thanks!

[2015-03-26 17:47] juliemr commented on #1102
This always happens on the `ng1.tree` benchmark.

[2015-03-26 17:59] yjbanov commented on #1068
Removed from M7. We should do this, but it's not a blocker for M7.

[2015-03-26 18:00] yjbanov commented on #1022
Removed from M7. It's not a blocker.

[2015-03-26 18:05] dylanb commented on #1121
yes

[2015-03-26 18:25] #1057 closed

[2015-03-26 18:26] matanlurey opened #1124 "Caching/code-gen story for CSS needed"
Spoke briefly with @jelbourn, but it looks like the Angular 2 "way" to use CSS in a component is:

[code]

For templates, we use the `Template` annotation:

[code]

The advantage of this is a pre-compile step can do static analysis, and convert URLs into an inline of the HTML, reducing the number of HTTP requests and files needed for a statically generated application. In angular 1, this was calle

[2015-03-26 18:58] yjbanov commented on #1124
Yes. We want to inline templates and styles for production deployment.

[2015-03-26 19:00] jelbourn commented on #1121
Are you sure your click is actually on the element with the click handler and not some child?

[2015-03-26 19:02] yjbanov commented on #1124
As for story, the templates are processed by compiler, which can run in the browser as well as outside in the transformer. For production deployment the compiler runs as part of the pub transformer and inlines everything, as well as turns expressions in the templates into plain Dart code, links to directives, etc. Very little of template interpretation will be done at runtime.

[2015-03-26 19:04] dylanb commented on #1121
In both instances, I am clicking the same element. In both instances the native handler always gets called once. Only with the Angular 2 events attribute does the component callback not get called when position:absolute styling is applied to the child. This makes no sense.

Yes, the actual element getting click is inside the child but if that is not correct behavior, then the bug is that it gets c

[2015-03-26 19:10] yjbanov commented on #1088
@jelbourn While render directives do not participate in DI, you can still data-bind to them. In your example `md-icon` would be a normal component that participates in the DI. So the user of `md-icon` can still do:

[code]

However, internally, it would use a render directive and pass data to it, e.g. this way:

[code]

Here `[svg]="svgData"` binds SVG data (or any custom data) to an `svg` render

[2015-03-26 19:13] tbosch commented on #1053
We are just starting an initiative to support server sider rendering. See this [design doc](https://docs.google.com/document/d/1q6g9UlmEZDXgrkY88AJZ6MUrUxcnwhBGS0EXbVlYicY/edit) (still work in progress)

[2015-03-26 19:23] matanlurey commented on #1124
Thanks. I'll make a note of this and continue using <style>@import</style> then.

Feel free to close if tracked elsewhere.

[2015-03-26 19:24] dylanb commented on #1121
wait a minute, my bad, looks like I was mixing up two changes here and this does in fact look like its working properly - apologoies

[2015-03-26 19:24] #1121 closed

[2015-03-26 19:55] dylanb commented on #1040
+1

[2015-03-26 20:18] #1118 closed

[2015-03-26 21:10] juliemr commented on #1102
OK, switching from Dartium to Chromium _seems_ to resolve the issue. I'm running again to get a little more data.

[2015-03-26 22:32] rkirov commented on #1120
I have encountered this before, the one liner in `modules/angular2/src/core/compiler/pipeline/element_binder_builder.js` in #996 might fix it. Needs a proper integration test in `shadow_dom_integration_spec`.

[2015-03-26 22:37] matanlurey commented on #1124
I have an additional complexity: in current applications, we have some components that optimize:

[code]

Unless the `<style>` tag supports some sort of custom property, we lose this ability.

Strawman:

[code]

++ @jbdeboer.

[2015-03-26 23:04] matanlurey commented on #792
Please promote to M7 if possible.

[2015-03-27 00:05] juliemr commented on #1102
See https://github.com/angular/angular/pull/1129 for a potential workaround, by forcing performance tests to use a fresh instance of the browser whenever they run.

[2015-03-27 00:52] vsavkin commented on #1055
I updated the docs here: https://github.com/angular/angular/pull/1130.

W cannot use interfaces until we switch to TypeScript, and we cannot abstract classes because you can have only one superclass. There are a lot of places in the code where we need to introduce interfaces.

[2015-03-27 00:54] matanlurey commented on #709
The syntax needs to be slightly different to support Dart static analysis, e.g.:

[code]

[2015-03-27 00:58] matanlurey opened #1131 "Form API should allow simple binding to a single control"
In the simplest case, a component author may want to bind to single input, and not create a control group. Something equivalent to this is desired:

[code]

[code]

(API above is just a suggestion)

As a freebie, this will vastly ease migration off of `ng-model`.

[2015-03-27 01:03] matanlurey commented on #872
Is this planned in an upcoming milestone? Most places that use Angular 1.0 will have to change all of their URLs to support Angular 2.0 right now.

[2015-03-27 01:20] vsavkin opened #1132 "Add DestroyAware, OnChangeAware"
Add DestroyAware, OnChangeAware interfaces interfaces to get compile-time checking if the lifecycle methods are missing.

[2015-03-27 01:21] vsavkin commented on #1055
Added a separate issue to add the missing interfaces https://github.com/angular/angular/issues/1132

[2015-03-27 01:21] #1055 closed

[2015-03-27 01:21] vsavkin commented on #1131
Closed via https://github.com/angular/angular/commit/b02bd65871c6d5a004efd661267a0d7304da7b7f

[2015-03-27 01:21] #1131 closed

[2015-03-27 01:51] rkirov commented on #1070
A better error message is a must.

However, not sure if module import is the right solution for `zone.js`. With an import we can guarantee that zone runs before all of angular. But in fact, it might need to run before every other JS on the page and that includes 'system.js' itself.

@pkozlowski-opensource the ES5 SystemJS (or CommonJS) bundle will not have zone.js. However, the ES5 consumable self

[2015-03-27 07:10] vicb commented on #872
@matanlurey do you have links to code / docs related to this for ng1 ?

[2015-03-27 09:30] vicb opened #1134 "gulp build.dart errors"
On my local machine
- master branch (9d21a6f40d4c5abb7aae3dab87867e64360fdc5a)
- fresh `npm install`
- `gulp clean`

`gulp build.dart` generates errors:

ie
[code]

For some reason it works on the CI.

/cc @mprobst @alexeagle

[2015-03-27 09:35] vicb commented on #1134
Seems like `/dist/dart.ts2dart` is not `gulp clean`ed but it does not solve the errors

[2015-03-27 13:13] jimthedev commented on #1040
Just a clarifying question. Are you proposing that the default functionality of `(event)` change to bubble in all cases or just in the case of nested elements in a template.

To put it another way, after this change, would an `(event)` on a top level template element still, by default, bubble up or would it stop at the component boundary?

[2015-03-27 14:09] jelbourn commented on #1040
It should always bubble but, as in the shadow dom spec, the event target should be changed whenever the event crosses a component boundary.

[2015-03-27 14:15] vicb commented on #1134
@alexeagle points me to the answer, `ts2dart@0.1.5+`  is required, might need an `npm update` to get the latest version, check with `npm ls | grep ts2dart`

[2015-03-27 14:39] alexeagle commented on #719
It would also be good to cache the pub dependencies. The Travis build sometimes flakes when it cannot download a pub package.

[2015-03-27 15:52] jimthedev commented on #1040
Great. Thanks for clarifying.

[2015-03-27 16:11] tbosch commented on #1134
Yes, I had a similar problem...

On Fri, Mar 27, 2015 at 7:15 AM Victor Berchet <notifications@github.com>
wrote:

[2015-03-27 16:11] tbosch commented on #1134
With the same way how to solve it

On Fri, Mar 27, 2015 at 9:12 AM Tobias Bosch <tbosch@google.com> wrote:

[2015-03-27 16:56] matanlurey commented on #872
Best example I can give is [how the template cache generator/transformer works in ng1](https://github.com/angular/angular.dart/blob/73b4153fad623a01eac25bd6f9a6b3489f2f5cd6/test/tools/transformer/template_cache_generator_spec.dart):

[code]

[2015-03-27 17:00] juliemr opened #1137 "Re-enable naive infinite scrolling benchmark"
This was causing timeout issues, since the `#done` element never appears.

[2015-03-27 17:22] matanlurey opened #1138 ""Directives" field of @Template annotation should have optional checked-mode enforcement"
Assume I have a component, `Foo`, which is represented by:

[code]

In my parent component, `FooList`, I forget to pass `directives`:

[code]

It would be very helpful, in development mode, if we could receive warnings when/if unregistered selectors are used in the template. In Dart, this could be done something like:

[code]

(I assume something similar is available in the TS/Transpilation layer)

[2015-03-27 18:13] matanlurey opened #1140 "Support binding to the attribute map (similar to [class.foo])"
Some web components style or react based on the existence of an attribute, for example:

[code]

Make the following possible:

[code]

This should work similar to the [class.] syntax.

[2015-03-27 18:31] #1054 closed

[2015-03-27 18:32] pkozlowski-opensource commented on #1140
@matanlurey isn't 58dd75a1c8abfa8396ead9b2b1c95dc6c6558668 implementing what you are looking for? The syntax is `[attributes.disabled]="disableButtonIfTrue"`

[2015-03-27 18:39] pkozlowski-opensource commented on #1140
Having said this it would be cool if those web components got properties as well :-)

[2015-03-27 19:33] matanlurey commented on #1140
Let me verify, I wasn't aware this already was completed.

[2015-03-27 20:27] #995 closed

[2015-03-27 20:40] jelbourn opened #1143 "Setting a default value to an attribute or property is painful"
Say I have a component that should be focus-able, like a radio-button. Since it's not a real input, we've got to set the `tabindex` manually. The default should be `0` (in the normal document flow). However, if the user set a tabindex, we don't want to overwrite it. Let's take a look at the amount of code **just** this takes:

[code]

We have to check and set the tabindex in two places because `on

[2015-03-27 20:45] yjbanov commented on #1140
@pkozlowski-opensource attributes are used to match CSS selectors. CSS does not support matching on properties. BTW, we should also support binding maps to attributes `[attributes]="myAttrMap"`.

[2015-03-27 20:48] matanlurey opened #1144 "Test bed and user story for Angular 2"
There are a handful of tests in Angular's code base, but nothing that really does a good job giving non-Angular-core developers a way to test their components. See Angular Dart 1.0's `TestBed` for examples.

[2015-03-27 20:50] yjbanov commented on #1138
How would you tell an Angular component from a Web Component? That's the biggest question. I think we should be able to tell at runtime that an element is none of the following:

* a standard HTML element, e.g. `div`
* an Angular directive
* a web component

Then we could log a warning. But it's harder to do statically, unless the app developer also provides a whitelist of web components they use

[2015-03-27 20:51] juliemr commented on #1102
The workaround commit is merged; hopefully this should be solved for the moment.

I'd like to leave this issue open since we still don't know what actually causes the problem. Tobias and I suspect some kind of memory issue having to do with fetching lots of massive performance logs.

[2015-03-27 20:53] pkozlowski-opensource commented on #1140
@yjbanov not sure I got your comment. We've got currently special-casing in the compiler that allows you to bind to attributes (on top of standard binding to properties) using special syntax, see: https://github.com/angular/angular/blob/3afb744e7765cfe99fbb14974827cbc5617cc84b/modules/angular2/src/core/compiler/property_setter_factory.js#L13

Not sure how CSS selectors are coming into play here...

[2015-03-27 20:54] yjbanov commented on #1124
What if we also support importing HTML into the template, e.g.:

button.html:
[code]

button_flat.html:
[code]

[2015-03-27 20:55] vicb commented on #1144
duplicate of #615
There is a google doc (early stage) attached in this issue, feel free to comment there

[2015-03-27 20:55] #1144 closed

[2015-03-27 21:16] jelbourn opened #1145 "[Proposal] Rename facades to be shorter"
Proposal: rename `ListWrapper`, `MapWrapper`, `StringWrapper`, etc. to just `Lists`, `Maps`, `Strings`, etc. The naming idea comes from Guava.

Thoughts?

NOTE: This only affects the angular2 codebase itself; these are not exposed to framework consumers.

[2015-03-27 21:17] yjbanov opened #1146 "Strawman for component-level testbed"
It is very common for application developers to test their components with their templates. Internally we call these tests "component tests" (as opposed to unit- or integration-tests). These tests are not unit tests as they exercise more than just the component class. Nor are they integration tests as far as the application is concerned; that term is reserved for testing cross-component interactio

[2015-03-27 21:18] yjbanov commented on #1146
/cc @matanlurey @jbdeboer @tbosch @mhevery @juliemr

[2015-03-27 21:20] pkozlowski-opensource commented on #1145
Yes! Shorter names would be sweet.

[2015-03-27 21:24] yjbanov commented on #1140
@pkozlowski-opensource Here's an example where I'm using attribute `raised` to drive CSS style:

[code]

Supporting _only_ properties is not sufficient to express the above.

[2015-03-27 21:26] rkirov commented on #1069
Try again, both pending issues have been resolved.

[2015-03-27 21:28] matanlurey commented on #1146
Apparently this may be partially covered by #615. But I'd like to keep this open if possible because the strawman above is what would ease migration.

[2015-03-27 21:30] matanlurey commented on #1138
I'd be OK with auto-magic for standard elements for now. This optional mode should only be used if the web components are whitelisted.

[2015-03-27 21:35] yjbanov opened #1147 "Docs: explain properties vs attributes and how to bind to them"
Angular 2 supports property bindings:

[code]

You can use property binding to bind to attributes too:

[code]

You can also have literal attributes:

[code]

However, if `blah` has property `foo`, the above actually passes the value to the setter but also retains the attribute in the HTML.

Our docs should be very clear about these nuances in our syntax.

[2015-03-27 21:52] yjbanov commented on #1146
/cc @vsavkin

[2015-03-27 21:53] yjbanov commented on #1146
related: https://docs.google.com/document/d/1qFfHwYCOLpLuTap_l6TCEaU4I0C-pVFVbTl2o4-XbUo/edit#heading=h.aetfsm7ib2fe

[2015-03-27 21:59] SekibOmazic commented on #1145
+1

[2015-03-27 22:41] SekibOmazic commented on #1079
This is actually not an issue. Will close now.

[2015-03-27 22:41] #1079 closed

[2015-03-27 23:11] ThomasBurleson commented on #1143
Is this not possible:

[code]

[2015-03-27 23:16] ThomasBurleson commented on #1143
Essentially what you want is to prepare a default value for a property and use that if **undefined || null**?

@Template(...)
class MdRadio {
  @defaultValue('0')  // fires check after construction and before onChange()
  tabindex: number;
  tabindexSetter: Function;

  constructor(@Attribute('tabindex') staticTabindex, @PropertySetter('tabindex') tabindexSetter) {
    this.tabindex = staticTabind

[2015-03-27 23:51] yjbanov opened #1152 "Remove pipes from bindings"
It looks like there is some consensus that pipes in bindings do more harm than good (see [proposed design](https://docs.google.com/document/d/1c6lAsvlCvhkbiEXsPBraWVIw8e_zr5Bgjy5j10T1I1M/edit#heading=h.hekddrfd1aqc)).

[2015-03-28 02:38] robwormald commented on #929
ahhh, just ran into this while trying to get bundling working.

Can you maybe note what the correct syntax is? Don't know if it still applies moving to TS, but I might just back and fix them anyway so we can bundle in the meantime.

[2015-03-28 03:28] mohsen1 commented on #1152
could you please make the document public?

[2015-03-28 08:09] augiwan commented on #1083
Could this happen because `let socket = io();` is being executed more than once?

[2015-03-28 15:00] BatsShadow commented on #1083
That line only executes once upon module import.

[2015-03-28 15:03] BatsShadow commented on #1083
This is the same stack trace as issue #1050.

[2015-03-28 15:23] pkozlowski-opensource commented on #1152
Same here, can't access this doc. @yjbanov @vsavkin  would you mind summarising, in like 2 sentences, what is the harm done by pipes in bindings? What will be an alternative mechanism for directives like `for` (or a new `class` that I've just opened a PR for)?

[2015-03-28 15:28] wesleycho opened #1153 "[Proposal] Support style binding"
Sometimes absolute positioning must be used to accomplish building some UI components, or color theming is necessary.

It would be hugely convenient for some of these cases to support binding via `[style]` to bind to the style attribute in a similar fashion as implemented in #1148 for classes, i.e.
<pre>
&lt;div [style]="{color: color.primary}"&gt;...&lt;/div&gt;
</pre>

[2015-03-28 15:29] pkozlowski-opensource commented on #1153
@wesleycho yes, this will happen. I'm just waiting for the review of #1148.

[2015-03-28 17:52] pkozlowski-opensource commented on #965
Yeh, I can see this with the latest master as well. Looking into it.

[2015-03-28 22:09] aeroxy opened #1154 "Cannot reload `ng-repeat` (if initial variable is empty)?"
I've noticed that `ng-repeat` must be loaded on the page load, and if I do not do so, and call for reload the `ng-repeat` element seems to ignore my request. Here is an example:

In this example my initial variable for `ng-repeat` element to load is an empty array, and it might be the reason for the failure. I tried to reload the `ng-repeat` element after I process some data.

So the general proce

[2015-03-28 22:56] aeroxy commented on #1154
This is resolved by using $q promise in factory.

[2015-03-28 22:57] #1154 closed

[2015-03-30 00:07] jbdeboer commented on #1036
@rkirov Mocking out children components is a very big design decision. Could you link to a doc where you discuss the rational and evaluate alternatives?

[2015-03-30 01:40] jrgleason opened #1156 "Annotations fails with abstract error when using Traceur and forgoing Zone and System."
I am trying to create an angular project using Traceur. Everything seems to load ok but when I add the @Component it blows up with...

Unexpected token @ (WARNING: non-Error used)

    //Loading JADE!!!!
    ....
    greeter-app
    script(src="//google.github.io/traceur-compiler/bin/traceur.js")
    script(src="//google.github.io/traceur-compiler/src/bootstrap.js")
    script(src="javascripts/es6

[2015-03-30 01:56] jrgleason commented on #1156
Looks like in the example it is not using AtScript either...

    Object.defineProperty(HelloCmp, "annotations", {get: function() {
      return [new Component({
        selector: 'hello-app',
        services: [GreetingService]
      }), new Template({
        inline: `<div class="greeting">{{greeting}} <span red>world</span>!</div>
           <button class="changeButton" (click)="changeGreeting(

[2015-03-30 02:04] robwormald commented on #1156
if you're dynamically loading AtScript/non-standard JS, you need to set the configuration:

[code]

[2015-03-30 02:18] jrgleason commented on #1156
Thanks tried that now getting...

    Potentially unhandled rejection [3] Error loading "greeter" at http://localhost:3000/components/greeter/greeter.js
    http://localhost:3000/components/greeter/greeter.js:10:1: Unsupported annotated expression (WARNING: non-Error used)

[2015-03-30 12:05] wesleycho opened #1159 "Support bindings to camelcased SVG attributes"
Certain svg attributes are camelcased, such as `viewBox`. However, `[viewBox]` would be recognized by browsers as `[viewbox]` since it is not a standard SVG attribute, and so the important camelcasing information is lost.

There should be a convention in Angular 2 for supporting bindings to SVG attributes.

[2015-03-30 14:30] ThomasBurleson commented on #1143
With the use of of `@DefaultValue('0'), it would also be great if a **tail-hook** intercepter is also prepared for the `tabIndex` setter function. If the value is set to `undefined || null`, then the default value would auto override again.

[2015-03-30 15:55] #993 closed

[2015-03-30 16:30] tbosch opened #1161 "benchpress: auto wait until end of rendering after every iteration"
Benchpress has the `render` metric. However, we need to make sure that the browser really finished rendering before we continue with the next iteration. Otherwise the browser might squash multiple changes into one and our metric would report the wrong value.

Note: Just waiting for the next turn (i.e. `setTimeout(fn, 0)`) is probably not good enough...

Implementation idea:
- also read out `frameI

[2015-03-30 17:58] tbosch commented on #1161
Also investigate auto waiting for asynchronous script execution.

[2015-03-30 18:38] robwormald commented on #1156
@jrgleason so thoughts:

any component needs to have an @Template and an @Component annotation, which is probably why yours is complaining.

Looking at your paste, I'm not sure what you're trying to accomplish exactly. You've got the <greeter-app> element in your index.html, but no template to 'replace' it with.

Check out http://plnkr.co/edit/OskdcxNsgBa2NKWQGloH?p=preview for a basic demo.

In t

[2015-03-30 19:13] jelbourn opened #1162 "Dealing with disabled binding is confusing"
Say I have a component that needs to know about its disabled state in some event:
[code]

This will work fine if we have something like
[code]

However, if you instead do
[code]
This code will not work, as `this.disabled` will be the empty string. I would have to update the value in `onChange`:
[code]
or always use a method:
[code]

TL;DR: Change detection will set disabled to the empty string, wh

[2015-03-30 19:57] jbdeboer commented on #1147
Specifically, I want documentation for the lifecycle of these attributes: how and when they are set on a component controller.

[2015-03-30 20:42] rkirov commented on #1044
Looks like prod - https://github.com/jwcarroll/ng2-message-list/blob/master/gulpfile.js#L55 . I will have to investigate further.

[2015-03-30 20:57] rkirov commented on #1036
@vicb mentions this capability in his doc https://docs.google.com/document/d/1qFfHwYCOLpLuTap_l6TCEaU4I0C-pVFVbTl2o4-XbUo/edit#

under `TB.overrideTemplateDirectives(componentType, fromDirective, toDirective);`

[2015-03-30 21:05] vicb commented on #1036
There is an early proto in https://github.com/angular/angular/pull/1160. Needs more work but I wanted to test what it would look like. I'll keep working on it in the coming days.

[2015-03-30 22:17] naomiblack commented on #1152
Moving to M8. If a private component has a pipe in its binding, there's no way to get to that pipe. But this is not blocking M7.

[2015-03-30 22:20] naomiblack commented on #1147
This will be covered in the Guide that @davideast and @kwalrath are working on.

[2015-03-30 22:22] naomiblack commented on #1146
@vicb can you resolve this along with #615?

[2015-03-30 22:26] naomiblack commented on #1124
Need a preliminary decision on the syntax to use here in M7. Actual implementation can defer to M8.

[2015-03-30 22:30] naomiblack commented on #1120
@rkirov do you have bandwidth to close this one?

[2015-03-30 22:31] naomiblack commented on #1089
@pkozlowski-opensource can you own this one?

[2015-03-30 22:32] mhevery commented on #1089
Just use `NgElement` until the `DirectiveRef` is ready

[2015-03-30 22:41] naomiblack commented on #1041
Needs a design spec please.

[2015-03-30 22:46] naomiblack opened #1164 "Swap out the widget gallery router for Angular 2 router"
First test run of the new router. @matanlurey please spec out what's possible + blockers.

[2015-03-30 22:52] yjbanov commented on #1120
Reassigned to @tbosch because this looks like a shadow DOM emulation problem (our `lightDoms` are messed up).

[2015-03-30 22:54] naomiblack commented on #1040
Assigning to @jelbourn to test native mode.

[2015-03-30 22:59] naomiblack commented on #1039
Decision: The return value of the event handler should control whether or not `preventDefault` happens.

@pkozlowski-opensource can you own this?

[2015-03-30 23:00] #934 closed

[2015-03-30 23:02] naomiblack commented on #927
This is a dup of #792. @rkirov can you own?

[2015-03-30 23:28] rkirov commented on #927
Yes, closing as a dup. #792 has a pending PR, but waiting for the rendering rewrite to land.

[2015-03-30 23:28] #927 closed

[2015-03-30 23:58] tbosch commented on #1161
Same for micro metrics.

[2015-03-31 00:27] tbosch commented on #1161
Think about animations as well for rendering, as there might be multiple paints, ... to be measured!

At least provide an easy way to tell benchpress that script execution / animation is done (maybe via a special call to `console.log`, ...)

[2015-03-31 00:46] dylanb commented on #934
@naomiblack does the implementation of @Children notify when the child components are ready?

[2015-03-31 00:50] jelbourn commented on #934
@dylanb  `@Children` is a separate issue, see #792

[2015-03-31 00:57] dylanb commented on #934
@jelbourn I know, but I thought this issue was about a parent getting notified when its children are all ready. If that is part of the standard `@Children` implementation, then it is fine to close this issue, thats why I am asking here.

[2015-03-31 01:02] jelbourn commented on #934
Oh, the commit didn't get associated with this issue. There has been a new lifecycle event added called `onAllChangesDone`

[2015-03-31 01:03] matanlurey commented on #1162
I was using the following pattern in some experiments (Dart below):

[code]

[2015-03-31 01:07] rkirov commented on #1036
@trinarytree, vicb's proposed API `TB.overrideTemplateDirectives(componentType, fromDirective, toDirective);` solves the issue concerning keeping old dependencies.

The other concerns, go beyond testing, because the component under test would also be importing its real dependencies whether or not they are used (because they are in the `directives` annotation). It would require a major rethinking o

[2015-03-31 01:25] dylanb commented on #934
@jelbourn excellent - I see the new code!!

[2015-03-31 01:38] dylanb opened #1167 "How do I set non-standard attributes on the DOM Element"
I know that I can inject a property setter into the constructor and use this to update a property, I have not been able to get this property to propagate to the DOM for non-standard properties such as:

1. role
2. all the aria-* properties

I may be missing something, please point me in the correct direction

[2015-03-31 01:39] jelbourn opened #1168 "Shadow DOM emulation does not correctly retarget events."
The Shadow DOM spec details [event retargeting](http://www.w3.org/TR/shadow-dom/#event-retargeting). This basically means that when an event propagation hits a shadow root boundary, it keeps propagating, but the event target is changed to the host element.

It's also important to note that [some event types are never propagated outside of a shadow root](http://www.w3.org/TR/shadow-dom/#events-that

[2015-03-31 01:44] jelbourn commented on #1040
@mhevery I tested this in native mode and found that my button use-case actually works as expected without the `^` marker. I filed #1168 to track this.

That done, I still feel that swapping the default would be the most expected behavior for people used to web development.

[2015-03-31 03:08] jrgleason commented on #1156
I will take a look, I did actually put a Template in (with inline) I just didn't add it to the code because I got the same error either way. I added here since I was on the main branch and having issues I assumed it was something to track. Figured worst case scenario someone closes it.

As for my demo code I am currently using ng2do but that uses es6-shim instead of traceur. I will take a look at

[2015-03-31 03:21] jrgleason commented on #1156
Ah ha I did miss something in my original post I will update.

My actual code looked like this....

    @Component({
      selector: 'greeter-app'
    })
   @Template({
     inline: '<h1>Test</h1>'
   }); //This is the issue

Apparently that is what happens when you accidently include a semi at the end. Very misleading message.

That mixed with adding Zone.js makes it work! Thanks for your help no

[2015-03-31 03:24] #1156 closed

[2015-03-31 05:02] naomiblack opened #1170 "Identify public classes in angular code for doc generation"

[2015-03-31 05:04] naomiblack commented on #709
@pkozlowski-opensource do you have time to take this one?

[2015-03-31 05:40] naomiblack commented on #1168
@jelbourn should this be M7?

[2015-03-31 05:52] naomiblack opened #1171 "Working styles and templates for generated API docs"

[2015-03-31 06:24] yjbanov commented on #1152
@vsavkin Could you share the proposal pls?

@pkozlowski-opensource @mohsen1

In short, we already can do what pipes do in plain JS/Dart. If you want to post-process an incoming value, do it in the setter. If you want to customize the post-processing, inject something from outside and use that in the setter.

Pipes require a lot more plumbing in the core and more concepts for developers to learn (a

[2015-03-31 08:28] mlaval commented on #1167
You can use property setters to set attributes, classes and styles with the same syntax as in square brackets in templates. See the spec here:
https://github.com/angular/angular/blob/master/modules/angular2/test/core/compiler/element_injector_spec.js#L78-L110

[2015-03-31 08:33] pkozlowski-opensource commented on #1167
Yep, `role` and `aria-*` are not properties but attributes and as such can be set as any other attribute:
* in HTML: `<div [attr.role]="roleExp"`
* in a prop setter: `@PropertySetter('attr.role') roleSetter`

Now, maybe we should rename `@PropertySetter` to sth else?

[2015-03-31 08:33] #1167 closed

[2015-03-31 13:03] vicb opened #1172 "Instrument the Change Detection"
It would be great to be able to get some information out of a CD run:
- total number of records,
- number of checked records,
- number of changed records,
- number of change components.

This information could be used for tests as described in #1146

/cc @vsavkin @yjbanov @matanlurey @mhevery

[2015-03-31 15:03] matanlurey commented on #1172
+1. The same would be useful for view creation/hydration

[2015-03-31 15:35] jelbourn commented on #1168
If GreenTea is using Native shadow DOM mode, then it wouldn't affect them. For me, it's easy to workaround.

[2015-03-31 16:02] #1143 closed

[2015-03-31 16:08] ajoslin opened #1174 "Using DI in super constructors"
Is it possible for a component's superclass to use DI like the child component?

Ideally, I could do something like this:

[code]

[2015-03-31 17:24] ParkFramework opened #1176 "JSON-LD"
It would be great if always used JSON-LD
http://www.w3.org/TR/json-ld/

This format understand search bots, and any external services.
http://updates.html5rocks.com/2015/03/creating-semantic-sites-with-web-components-and-jsonld

[2015-03-31 17:25] vsavkin commented on #1152
Had to create a new doc: https://docs.google.com/document/d/1WzTzrRxHPOZ2ycYEhnH4PAonpzoFjlONwUF6SR-9TrE/edit#heading=h.hekddrfd1aqc

[2015-03-31 18:36] mhevery commented on #631
Can't you just inject:
[code]

[2015-03-31 19:25] hankduan commented on #353
Findings so far captured here: https://docs.google.com/document/d/17f9q9yOM4Z705Gj2RsC2KNY2kQDtbIsxMydYpM1YEBU/edit?usp=sharing

You can also see https://github.com/hankduan/firefoxExtension for some sample code.

[2015-03-31 19:38] jelbourn commented on #631
This was filed before you could do `@PropertySetter('attr.role')`. Closing now.

[2015-03-31 19:38] #631 closed

[2015-03-31 19:44] ajoslin commented on #521
Is there any ETA on this being implemented?

[2015-03-31 19:56] #876 closed

[2015-03-31 21:57] kegluneq opened #1180 "refactor(dart/transform): Rename setupReflection => reflectorInit"
Per discussion in the [Code Lazy Loading Design Doc][1].

This should be a 1-line change in `src/transform/common/names.dart`.

[1]: https://docs.google.com/document/d/184KvGL9Kz5ycIRlvo490dDaa876VSvv9YRDdQvgGYNs/edit#

[2015-04-01 01:05] yjbanov commented on #1087
@vsavkin Should we close this one and move #1152 to M7?

[2015-04-01 04:49] mhevery opened #1187 "Register EventPlugins in @Template"
Currently the plugins for Event handling are registered in [`application.js`](https://github.com/angular/angular/blob/514ba5428201e9721eeb34e14e8329fcb2ef11be/modules/angular2/src/core/application.js#L90). Instead it should be register in `@Template`

[code]

* [ ] `EventHandler` should not deal with the `Zone`. Instead the all calls to `addEventListener` should be done outside the `Zone`. That wa

[2015-04-01 12:53] SanderElias opened #1188 "Babeljs and annotations and types."
I have been checking out [babeljs](https://babeljs.io/), and have been very impressed with it.  Of coarse I followed some discussions about types and annotations in babel. The main maintainer is not against adding this stuff, but as babeljs is still very much an [one-man show](https://github.com/babel/babel/graphs/contributors) by [@sebmck](https://github.com/sebmck) I suspect that he might apprec

[2015-04-01 13:08] pkozlowski-opensource commented on #1188
@SanderElias AFAIK there is collaboration going on the topic already:
https://twitter.com/bradlygreen/status/582695453424144384

Closing as it is not a real issue :-)

[2015-04-01 13:08] #1188 closed

[2015-04-01 13:11] pkozlowski-opensource commented on #1180
@kegluneq do we want to keep references to forks in commit messages? It was slightly confusing for me.

[2015-04-01 13:20] SanderElias commented on #1188
@pkozlowski-opensource I know its not a real issue, I just hoped to speed things up a bit.  I suspect Babel might be ready sooner then TS, and I'm kind of impatient :-)

[2015-04-01 13:23] pkozlowski-opensource commented on #1188
@SanderElias everyone is impatient :-)

[2015-04-01 14:24] vicb commented on #719
`packages`should not be cached for Dart, it only symlinks to the actual pub cache, see https://www.dartlang.org/tools/pub/cmd/pub-get.html for more info.

TL;DR:
Default pub cache directory is `~/.pub-cache` could be overridden via the PUB_CACHE env variable.

[2015-04-01 15:18] bradlygreen commented on #1188
I want this to happen.  I think the TypeScript team does too.  We would happily support community folks doing this with the new user-land modules in Babel, but can't do it ourselves.  Know anyone who can start this work?

[2015-04-01 15:29] EisenbergEffect commented on #1188
Babel has experimental support for Decorators already. It's coming in v5.0.0 in the next few days.

[2015-04-01 15:35] SanderElias commented on #1188
@EisenbergEffect wow, they are quick, they must be running their systems in the [actual cloud platform](https://cloud.google.com/actual-cloud/)!

[2015-04-01 15:42] tbosch commented on #1187
Mmh, how does this work with the render layer? EventPlugins depend on the
DOM...
On Tue, Mar 31, 2015 at 9:49 PM Miško Hevery <notifications@github.com>
wrote:

[2015-04-01 15:56] tbosch commented on #353
This sounds great!
On Tue, Mar 31, 2015 at 12:25 PM Hank Duan <notifications@github.com> wrote:

[2015-04-01 16:22] ajoslin commented on #1174
...And I also have usecases for DI in non-super-constructors.

For example, I have a `Slideable` interface that's implemented by Asides, Items, etc.

I'd like the `slideable` interface to be able to inject an `@PropertySetter` to set various classes that happen while sliding / changing state.

[2015-04-01 16:23] kegluneq commented on #1180
Nope, I was planning on removing that msg prior to committing to master. Should I avoid those references in the future? I'm still learning how to be a good git neighbor.

[2015-04-01 16:33] vicb opened #1192 "chore: display source details for unused imports"
It would really help to display the source line for such dartanalyzer error messages:

`dist/dart/angular2/:[hint] Unused import (/home/travis/build/angular/angular/dist/dart/angular2/test/directives/if_spec.dart, line 18, col 8)`

It would help fixing the code when Travis reports such an error in the dartanalyzer task.

[2015-04-01 17:01] pkozlowski-opensource commented on #1180
At the end of the day it is about communicating important bits to someone who will be reading the commit history in the distant future. I guess what is relevant is an issue id it fixes and PR it closes. If you didn't open an issue in the main repo I guess just having `Closes #1180` would be enough.

[2015-04-01 17:02] pkozlowski-opensource commented on #1192
I hate adding +1 for GH comments but I will do it now :-)

[2015-04-01 17:11] #1174 closed

[2015-04-01 18:15] vsavkin commented on #1087
@yjbanov some directive ref object will still be required, but it just contain the directive's meta information and won't have `set`.

[2015-04-01 18:16] vsavkin commented on #1087
I don't know what criteria we use to move issues to M7. I am planning to do #1152, but I don't know if it should be in M7 or not.

[2015-04-01 18:34] pensierinmusica commented on #1053
@tbosch, cool! Shall we label this issue as a "feature request" then?

[2015-04-01 21:54] ajoslin opened #1198 "PrivateComponentLoader & PrivateComponentLocation are not exported"
[code]

Both undefined.

[2015-04-01 21:56] ajoslin commented on #1198
Opening a PR.

[2015-04-01 21:57] ajoslin commented on #1198
Closing for #1199.

[2015-04-01 21:57] #1198 closed

[2015-04-01 22:07] bradlygreen commented on #1188
Saw this yes!

[2015-04-01 22:09] ajoslin opened #1201 "bug: re-hydrating a DynamicComponent>Component>Component causes errors in bindings"
This is a complicated bug (**demo at the bottom**).

I have an array. I push and pop the class `MyComponent` to and from the array.

I `*for` loop through the array, and create a DynamicComponent `my-dynamic` for each item in the array.

Then, I use the DynamicComponent to instantiate an instance of `MyComponent`, matching the item in the array:

[code]

MyComponent has a child which has a binding

[2015-04-01 22:32] SekibOmazic commented on #1201
+1 for this.

[2015-04-01 23:56] tbosch commented on #1053
@pensierinmusica Could we leave this issue closed? I don't intend to put updates here, as we already committed to serverside rendering via the public available design doc...

[2015-04-02 00:09] #1137 closed

[2015-04-02 01:22] laurentgoudet opened #1205 ""DOM stable" event"
This may or may not belong here but a recurrent pain point with client side view rendering is to now when the initial view has been rendered. Use cases include testability (e.g., Angular 1.x getTestability() used by Protractor), Synthetic/Real User monitoring (e.g., GA page speed stats not telling the whole story), or  server-side rendering. Ideally, as a developer, I'd love to have a "DOMStable"

[2015-04-02 04:22] mhevery opened #1207 "WebWorker imperative Views"
This issue discusses changes needed to #1088 in order to make it WebWorkers compatible. The sticking point is that the #1088 example injects `ShadowDOM` which has reference to DOM. The solution to this is to split the responsibility into two App Component part and Render Component part and then allow injecting the Render Component part communication channel into the App Component.

### App Side

[

[2015-04-02 04:40] mhevery opened #1208 "Bootstrapping child components inside ImperativeTemplates"

[2015-04-02 04:44] mhevery commented on #1088
/everyone, I have update the bug description, please take a look.

[2015-04-02 06:20] yjbanov commented on #1087
We want overlays, router, component testbed and access to native DOM done in M7 + fix some nasty bugs. Anything that blocks those should be in M7 and considered highest priority. The rest can be bumped to M8.

[2015-04-02 16:07] #1025 closed

[2015-04-02 16:24] ajoslin commented on #709
We need this in Ionic.

@pkozlowski-opensource I could try my best to implement this if you point me in the right direction.

[2015-04-02 16:59] juliemr commented on #1205
FYI: I'm currently working on Testability for Angular2 - see https://github.com/angular/angular/issues/525

[2015-04-02 17:07] trinarytree commented on #1036
@deboer, you should have already seen https://docs.google.com/document/d/10q7pvudn2KMELJypQnzHS_98wQIoNHHOLoBS9MdXxdo/edit#heading=h.xft1erqeq2t0
but, to summarize the component mocking part, angular
(1) injects lots of stuff, including components
(2) lets you mock everything but components
(3) encourages mocking for testing by design (e.g. search for how many "Mock" classes it provides)
(4) requi

[2015-04-02 17:07] #965 closed

[2015-04-02 17:17] pkozlowski-opensource commented on #709
@ajoslin unfortunately, looking through the comments, it might be blocked by a Dart transpilation issue. @rkirov isn't this the same issue with `new` being generated instead of `const`?

@ajoslin let me confirm that there is a transpilation issue here, will look into this one today / tomorrow.

[2015-04-02 17:25] pensierinmusica commented on #1053
@tbosch, yep makes sense  :)  I still feel that "feature request" is a bit of a more accurate label for these issues, rather than a generic "question"... but this is an internal evaluation to make I guess.

[2015-04-02 17:31] ajoslin opened #1213 "Improve template directives' ability to handle no attribute-value"
If I type `*for`, or any template directive, without an attribute value, it will error with `Cannot read property 'split' of null`.

It should give me a proper error.

You might ask, "But Andrew, how can you forget to provide an attribute value?"

Well, I forgot my leading quote: `<div *for=#item of items"></div>`

[2015-04-02 17:55] mhevery commented on #741
Has this been resolved?

[2015-04-02 18:08] #700 closed

[2015-04-02 19:39] zoe-1 commented on #1006
Just downloaded the quick start tutorial learned about from Brad Greens twitter post today.
I was using Safari and got errors:
[Error] ReferenceError: Can't find variable: System
global code (index.html, line 5)
[Error] SyntaxError: Cannot use initialiser syntax in a strict mode enumeration.
(anonymous function) (es6-shim.js, line 4941)
Hope this helps.

[2015-04-02 20:20] kegluneq opened #1215 "Set `this.context` uninitialized on `dehydrate`"
Apologies if this is already happening elsewhere, but shouldn't we have `this.context = ${UTIL}.unitialized();` in `dehydrate` [here][]?

[here]: https://github.com/angular/angular/blob/master/modules/angular2/src/change_detection/change_detection_jit_generator.es6#L87

[2015-04-02 20:31] ajoslin opened #1216 "@Ancestor() doesn't work correctly"
WRONG: http://plnkr.co/edit/lQvNKjDU9FcEW2rF2evA?p=preview
Right: http://plnkr.co/edit/zdx7h4Ny6z0EyWO3939c?p=preview

In this example, component 'C' cannot reach its ancestor 'A'.

Our actual use-case is this:

[code]

`ion-toolbar` needs to inject the ancestor `ion-nav-viewport` to check if the nav stack has length greater than 0. If so, it will show the back button, and when back is clicked pop

[2015-04-02 20:44] ajoslin commented on #1216
(I think is because Ancestor only works within the same shadow root. But I am very much against that idea. I'm willing to discuss my reasoning for why it should work outside the shadow root in detail if desired).

[2015-04-02 20:53] jbdeboer commented on #1036
That is not a public doc.

On Thursday, April 2, 2015, trinarytree <notifications@github.com> wrote:

[2015-04-02 21:07] matanlurey opened #1217 "Equivalent to 'AttachAware' in Dart Ng1?"
In Angular 1, `AttachAware` is used to be notified when the first stabilization has happened, and on all setters _can_ have been called at least once (if non-nulls values are ready), e.g.:

[code]

Is there a migration path off of this? As of now, there would have to be semi-complex setter logic:

[code]

++ @yjbanov

[2015-04-02 22:29] kegluneq commented on #1215
nvm, this is working as intended.

[2015-04-02 22:29] #1215 closed

[2015-04-02 23:03] yjbanov commented on #1217
The replacement is the `onChange()` method, which guarantees that all bindings were passed and will not be called again until new values are passed to the component. This happens at most once per browser event (due to single-flush cycle restriction):

[code]

NOTE: it is currently a convention; there's no interface you have to implement; in the future, we will introduce an interface for soundness.

[2015-04-02 23:10] yjbanov opened #1220 "Dart analyzer plugin for Angular 2 MVP"
The plugin would perform static checks in Angular 2 templates and feed them to Dart analyzer and from there to any Dart-aware IDE, linters, etc.

Let's put it in a new folder `modules/angular2/src/dart_analyzer`

[2015-04-02 23:15] jacobscarter opened #1221 "ngDisable delay"
I have a function that flips a boolean which removes the ngDisaled, i.e.

    //js
    $scope.removeDisabled = function(){
        $scope.disabledBoolean = false;
        angular.element('#myInput').focus()
    };

    //html
    <button ng-click="removeDisabled()">Click Me</button>
    <input ng-disabled="disabledBoolean" id="myInput">

The function also puts the input in focus

The problem that

[2015-04-02 23:22] matanlurey commented on #1217
:+1: Thanks!

[2015-04-02 23:23] matanlurey commented on #1217
Re-opening: `onChange` can happen more than one time, right?

[2015-04-02 23:25] matanlurey commented on #1216
I've observed the same issue.

[2015-04-02 23:27] matanlurey commented on #709
@pkozlowski-opensource: Bindings must be made entirely by constants in Dart, i.e.:

[code]

not

[code]

[2015-04-02 23:32] yjbanov commented on #1220
@keertip please self-assign when you accept collaborator invitation.

[2015-04-02 23:34] yjbanov commented on #1217
Correct, but only once per browser event and only if anything _new_ is passed.

[2015-04-03 00:27] jelbourn commented on #1221
The repo you're looking for is https://github.com/angular/angular.js

[2015-04-03 00:27] #1221 closed

[2015-04-03 00:31] vsavkin commented on #741
Yes.

[2015-04-03 00:31] #741 closed

[2015-04-03 01:01] naomiblack opened #1222 "dgeni output for change_detection vars creates unclickable link"
The var links in the change_detection module produce a blank page. Other vars elsewhere in the docs do work, so I think this is something we're doing wrong in the change_detection doc

![screen shot 2015-04-02 at 5 59 02 pm](https://cloud.githubusercontent.com/assets/2286589/6976706/4b38236e-d962-11e4-93bd-b1d86bd87521.png)

[2015-04-03 01:02] naomiblack commented on #1222
@mhevery can you have a look and see if this is something obvious in our code?

[2015-04-03 02:31] #1217 closed

[2015-04-03 04:14] mhevery opened #1224 "MicroTaskQueue"
# Goal

To be able to execute Promises `then()` in the current VM turn.

* [x] Design `MicroTaskQueue`
* [x] Replace native `Promise` with a polyfill which uses `MicroTaskQueue`. The polyfill must use `MicroTaskQueue` on resolving the `Promise`.
* [x] Because native API uses native `Promise`s instance, we have to monkepatch native `Promise.prototype.then` to convert native to pol.
* [x] Have a `Mi

[2015-04-03 04:16] mhevery commented on #1187
Let's punt on this for a while

[2015-04-03 04:17] mhevery commented on #1170
86dc3e5b07a41d9e5fe19d29b80db19aaecab006

[2015-04-03 04:17] #1170 closed

[2015-04-03 04:19] mhevery commented on #1146
@yjbanov I think we need to discuss this. I think this should be done through `TestBed` API rather than annotation. I am going to move it to later milestone for now.

[2015-04-03 04:46] yjbanov commented on #1146
@mhevery What would be the benefits of using imperative API over annotations?

[2015-04-03 05:34] petebacondarwin commented on #1222
These variables are not being displayed correctly as they are defined directly inside the public module and do not contain description nor the `@publicModule` tag.

For example the `dynamicChangeDetection` variable: https://github.com/angular/angular/blob/master/modules/angular2/change_detection.js#L77

We can get some documentation working by adding an appropriate comment:

[code]

[2015-04-03 05:35] petebacondarwin commented on #1222
We should probably make it so that we don't need to add the `@publicModule` tag if the export is already inside the public module.

[2015-04-03 05:36] petebacondarwin commented on #1222
Also, the generated content doesn't look right, which I need to look into...
![screen shot 2015-04-03 at 06 35 39](https://cloud.githubusercontent.com/assets/15655/6978488/bce769a2-d9cb-11e4-8089-e11d2f503c88.png)

[2015-04-03 07:06] AOlefirenko opened #1225 "Drag'n'drop"
Is/will there a pain-free way to drag'n'drop items between lists without the DOM modifications?  I think It's important as well as Overlay Service. It would be nice to have clear API that allows customize drag-helper(include animations), receive events, use any engine (mouse/touch events, html5 drag'n'drop).  It's just a proposal and need some investigation.

[2015-04-03 09:44] pkozlowski-opensource commented on #1050
Bumping into this one as well, here is the reproduce scenario: http://plnkr.co/edit/fvviNUSb9mQ4Ky1S4MCf?p=preview

Related issue on zone.js side: https://github.com/angular/zone.js/issues/57

[2015-04-03 10:34] pkozlowski-opensource commented on #1070
With the latest bundling strategy we've got zones.js included (concatenated). We can't reference zones through an import as explained by @rkirov

Closed by c0b04ca0bc762bc925434a8762eee74ce999e57e

[2015-04-03 10:34] #1070 closed

[2015-04-03 14:36] pkozlowski-opensource commented on #709
Here is a minimal reproduce scenario, just to make sure that I understand the use-case correctly:
http://plnkr.co/edit/gAWUXXs0XUURwW0OxRq7?p=preview

[2015-04-03 15:14] ajoslin commented on #709
@pkozlowski-opensource You look to be on the right track. Just to be sure, I changed it to my exact usecase: http://plnkr.co/edit/8LSDpr7zIqhpGF3o7Z87?p=preview

I have a generic 'ViewStack', which is a normal container for content. And then each pane in a 'tabs' view is a subclass of 'ViewStack'.

If, in this example, the Pane is able to inject the 'ViewStack' ancestor whether the ancestor is a t

[2015-04-03 15:19] pkozlowski-opensource commented on #709
@ajoslin right, we do talk about the same case. Here is further reduction: http://plnkr.co/edit/b5R775RTAvaIWzjCAp6j?p=preview

Diving into ElementInjector....

[2015-04-03 16:20] jelbourn commented on #1216
I've definitely injected an `@Ancestor` across shadow root boundaries before, but something might have changed since then. I agree that it should not be restricted to directives in the same shadow root.

[2015-04-03 20:40] #1180 closed

[2015-04-03 21:11] yjbanov commented on #709
We need to change our binding API before tackling this issue. The existing `bind(Blah).toClass(Bleu)` isn't producing constants. @mhevery Could you update the description to be more accurate with requirements? I think the implementation is a two-step process:

1. Refactor the binding API so it expresses bindings via constants
2. Implement @Template.directives

It doesn't make sense to tackle the s

[2015-04-03 22:02] yjbanov opened #1229 "Bindings must be consts"
Our syntax for creating a binding is currently:

[code]

This does not produce a constant value in Dart and wherefore not usable as an annotation value. In JS it is not statically analyzable by any tool.

The culprit is the `Binding` class. It will become a const class with all fields `@FINAL` and constructor `@CONST`. For one, we need to stop eagerly computing the `key` from `token` and construct

[2015-04-03 22:03] yjbanov commented on #709
I logged the prerequisite for this as #1229

[2015-04-03 22:18] goderbauer opened #1231 "angular2/src/core/exception_handler.js uses wrong log level for exceptions"
I just filed https://github.com/angular/angular.dart/issues/1706 for AngularDart and noticed that Angular2 has the same issue: exception_handler.js uses print to log an exception. The log entry generated by this print in the browser's console will have log level "INFO", which is not appropriate for an exception (should be "ERROR") and therefore makes it hard to detect this exception. See issue lin

[2015-04-03 22:29] naomiblack commented on #1231
marking as M7 because this affects our ability to run internal benchmarks. Rado, can you investigate?

[2015-04-03 22:40] rkirov commented on #1231
@goderbauer the exception is rethrown at the end https://github.com/angular/angular/blob/86dc3e5b07a41d9e5fe19d29b80db19aaecab006/modules/angular2/src/core/life_cycle/life_cycle.js#L19

so there should be also a corresponding ERROR: log

[2015-04-03 22:49] goderbauer commented on #1231
OK, cool. In that case, angular2 doesn't show this issue. Can something similar be added to angular.dart because there I am definitely not getting an error and that's where I am having problems right now: https://github.com/angular/angular.dart/issues/1706

[2015-04-03 22:49] #1231 closed

[2015-04-03 23:43] rkirov commented on #1229
Can you add an example of how the const API would look like? We might need to keep the shorthand `bind(...).to(...)` in JS-land if the const dart API is too verbose.