[2015-06-22 16:55] vicb opened #2681 "gulp serve.js.prod can not be interrupted"
Seems like there is no way to exit this task (other than killing gulp).

Please restore support for Ctrl + C

[2015-06-22 17:08] vsavkin opened #2682 "FakeAsync swallows exceptions"
I think an uncaught exception should fail a fake async test.

For instance, the following test should fail:

[code]

Otherwise, we have to use AsyncTestCompleter even in fake async tests.

/cc @vicb

[2015-06-22 17:16] vicb commented on #2682
An "regular" async test using `AsyncTestCompleter` would also fail (to fail) here (see #864).

TL;DR: there is no consistent/specified way to catch a rejected Promise in JS.

My current thinking is to add more expectations:

`expect(p).willResolve((res) => void)`;
`expect(p).willReject((res) => void)`;

Still that will be opt-in.

/cc @pkozlowski-opensource @rkirov @juliemr

[2015-06-22 17:23] vsavkin opened #2683 "Angular should throw when zone.js is not present"
Currently, the application will bootstrap, and the first digest will run successfully. But after that the application will stop reacting to changes, which is extremely confusing.

[2015-06-22 17:36] jimthedev commented on #2589
Seems like we'd need to put it in DomCompiler.prototype.compileHost in render/dom/compiler/compiler as well so that it gets triggered when trying to bootstrap a component with a complex selector that we don't support.

[2015-06-22 17:41] jeffbcross opened #2684 "RFC: Http interceptors and transformers"
This issue is intended to define requirements for how the `Http` library should support common operations, like request and response transformations and error handling. The issue doesn't yet have a proposed design, but discussion, comments and suggestions are welcomed. Un-captured use cases are especially welcomed.

# History

Two widely-used feature of angular1 are [request and response intercept

[2015-06-22 17:43] jeffbcross commented on #2544
@johnpapa I opened an issue for discussion on interceptors/transformers: #2684

[2015-06-22 17:49] jeffbcross commented on #2659
@alexeagle is there a script to generate the type definition, or would I just copy the d.ts files for http and router into the DefinitelyTyped bundle?

[2015-06-22 17:51] robwormald commented on #2684
This sort of approach makes a lot of sense to me, and generally just feels more composable and less configure-all-the-things. All for it.

Might be worthwhile looking at doing the same sort of thing $http does, where the .then( returns the raw response, but has a couple of helper methods ( .success / .error ) which purely return the response data vs the whole response...

`http.request('foos.json'

[2015-06-22 17:53] alexeagle commented on #2659
the angular2 build system can generate the .d.ts files during docs generation.
I imagine we should have different type definition files for each module in angular2.
I have time to help with it this week.

[2015-06-22 17:57] yjbanov commented on #2638
What is the final proposal? Or is this issue a RFC? I should point out that we need something similar for core lifecycle methods (`onChange`, `onDestroy`). Whatever we decide to do, we should make sure we're consistent.

[2015-06-22 18:09] alexeagle commented on #1803
@rkirov the alpha-27 release doesn't include the .d.ts so we are missing something...

[2015-06-22 18:21] SebastianM commented on #2683
Ran into this issue a few times. IMHO a message for reflect-meta could be useful too.

[2015-06-22 19:14] tbosch commented on #2662
Just tried: reverting https://github.com/angular/angular/commit/d575915d7a504c155fbdfad5614a210268e5bea4 makes the incremental build work again...

[2015-06-22 19:34] alexeagle opened #2686 "Generated angular2.d.ts fails DefinitelyTyped tests"
in DefinitelyTyped, there is an existing build and test scheme. In prior releases of our angular2.d.ts I've had to manually work around some things:
- dgeni includes the generic type parameter as a member (eg. classes start with `T;`)
- TS 1.4: destructured args have to be rewritten as a named interface
- TS 1.4: change const to var
- comply with noImplicitAny: add return types and type missing st

[2015-06-22 19:40] #1706 closed

[2015-06-22 20:23] alexeagle commented on #2686
FYI @dariajung

[2015-06-22 20:32] jeffbcross commented on #2675
Agreed, it would be nice to have a bundle which explicitly includes dependencies. FWIW the `$traceurRuntime` dependency will go away when #2335 is resolved, but other polyfills will still be required (Map, Promise, etc). In addition to that, we currently have a dependency on `RxJS` for observables, which is included in the angular2.dev.js bundle.

Here are the use cases and goals to support as I s

[2015-06-22 21:12] btford commented on #2325
@tbosch – we chatted about how best to handle the class hierarchy on Friday, and I've since implemented these changes. Can you please review? I really want to get this in today.

[2015-06-22 21:19] sylus opened #2687 "Issue with data-* properties not working on elements."
I have been playing around with Angular2  (and enjoying it) a fair bit recently but have noticed what I think is perhaps a bug but not quite sure.

The problem is to do with using custom data-* properties as I am never able to get them to properly display.

For instance the following code example works when replacing [title] with either [lang], [alt] or [id] then I will still get a rendered output

[2015-06-22 21:26] rkirov commented on #2356
The workaround is in `angular2.api.ts`, when this bug is fixed that file should be removed.

[2015-06-22 21:42] jeffbcross commented on #2659
I think the fact that http isn't in the DefinitelyTyped repo is just because the new angular2.d.ts wasn't copied over during our release process. But router is intentionally excluded from the angular2 bundle, so there should be a separate DefinitelyTyped definition for that.

When Http moves out of angular2 (#2680), it should get its own definitions.

Opened https://github.com/borisyankov/Definite

[2015-06-22 21:45] tbosch opened #2688 "bundle does not contain NativeShadowDomStrategy"

[2015-06-22 22:06] rkirov commented on #2688
It should be because it is exported here https://github.com/angular/angular/blob/master/modules/angular2/render.ts#L10

[2015-06-22 22:08] rkirov commented on #2448
Go for it, make sure to read https://github.com/angular/angular/blob/master/npm-shrinkwrap.readme.md

[2015-06-22 22:10] rkirov commented on #2683
Reflect-metadata has that already  - https://github.com/angular/angular/blob/master/modules/angular2/src/util/decorators.ts#L92

[2015-06-22 22:33] mjw56 opened #2689 "NoAnnotationError when passing Router into top level App constructor"
Hi,

I am trying to pass router into my top level app component using .27. The code looks something like this:

[code]

however when I do this I get the following error message:

![image](https://cloud.githubusercontent.com/assets/161528/8294824/095435f6-190d-11e5-8ea4-87caecc3866a.png)

I've passed routerInjectables into my bootstrap. I'm probably doing something wrong. Any help would be apprecia

[2015-06-22 23:07] kevmoo commented on #1485
@mprobst Digging in now. Will provide details shortly.

[2015-06-22 23:09] #2656 closed

[2015-06-22 23:14] jeffbcross commented on #2659
@alexeagle is working on updating the DefinitelyTyped definitions as part of #2686, which contains the Http definitions, but not router definitions yet.

@petebacondarwin I tried tinkering with [createTypeDefinitionFile.js](https://github.com/angular/angular/blob/master/docs/dgeni-package/processors/createTypeDefinitionFile.js) to make it output the `angular-router.d.ts` as well, but couldn't get

[2015-06-22 23:15] #2325 closed

[2015-06-22 23:47] rkirov commented on #1803
https://github.com/angular/angular/blob/master/scripts/publish/npm_publish.sh#L42 needs to copy over the `angular.d.ts` to a typings dir if we are to distribute with `npm`.

But I think using `tsd` infrastructure is more correct than relying on npm for this, since the `angular2.d.ts` file matches the shape of the angular2.js bundle, which is not delivered on npm (but rather lives on code.angularjs

[2015-06-22 23:49] kevmoo commented on #1485
`src/change_detection/change_detection.dart`. `defaultPipes` is a mutable hash.

[code]

Ideally, it'd be

[code]

[2015-06-23 00:27] kevmoo opened #2691 "Does this need to be public? hostRegExp (src/render/api.ts)"
Seems like it's only used in the file itself. Make it private?

[2015-06-23 01:00] mprobst commented on #1485
@kevmoo we do support const hashes:

[code]

The reference on the left hand side currently will come out as `final`, due to the `final` vs `const` mess that we discussed earlier. But I assume something like `dart2js` can detect that `defaultPipes` is effectively `const` (never assigned into), and this doesn't really matter all that much.

[2015-06-23 01:01] mprobst commented on #1485
I see, you're already fixing it :-)

[2015-06-23 01:02] naomiblack commented on #1803
reassigning to the current (open) milestone, alpha-29

[2015-06-23 01:04] kevmoo commented on #1485
@mprobst I'm blocked, though. Can you help with https://github.com/angular/ts2dart/issues/217 ?

[2015-06-23 01:06] naomiblack commented on #2437
Checking in on this one... @caitp is out this week. Is anyone working on it in alpha-29, or should it slip to alpha-30? @IgorMinar can you clarify whether this is still P1?

[2015-06-23 01:10] naomiblack commented on #2329
@matsko @btford it looks like this is slipping another week. Can you provide a status update, and whether it should go in alpha-29 or alpha-30? Is @matsko still the right owner?

[2015-06-23 02:34] #2555 closed

[2015-06-23 06:50] rolandjitsu commented on #2689
If you are compiling this using babel or traceur, you need to use `ComponentAnnotation` instead of `Component`. I've had the same issue at some point. And it applies for all annotations. I usually just `import { ComponentAnnotation as Component } from ...;` and so on. If you use TS, the issue is with a missing annotation, maybe the `RouteConfig`?

[2015-06-23 09:07] rolandjitsu commented on #2672
@vicb also note that if I want to use `styles` or `styleUrls` without `templateUrl`, the styles are no longer resolved relative to the component but relative to the root (so `app.css` will be resolved at the root instead of the folder where the component is, for example `components/app/app.css`).

[2015-06-23 09:25] vicb commented on #2672
Hopefully this should all be fixed later this week. I'm currently working on relative URLs resolution.

[2015-06-23 09:30] vicb commented on #2029
After having discussed with @tbosch I'll move away from the anchor element so that the `UrlResolver` can be used in any context (ie web workers, server side, ...)

[2015-06-23 09:32] rolandjitsu commented on #2672
@vicb looking forward to it :+1:

[2015-06-23 09:38] vicb commented on #2672
same here :)

[2015-06-23 09:40] rolandjitsu opened #2693 "append DOM elements into component view"
I've asked a similar question [before](https://github.com/angular/angular/issues/2491) and I also looked at [#2476](https://github.com/angular/angular/issues/2476), but I still do not get how you append a DOM element into a component view (or a directive).

Say I have the following component:
[code]
This works fine, but is there an API that would allow me to append the DOM element inside the view

[2015-06-23 10:15] vicb commented on #2693
Note that view are cached and if you add an element "manually" it will persist in the cached version. Why not using a component ?

[2015-06-23 10:23] rolandjitsu commented on #2693
@vicb I use the `IconStore` to get svg icons from some url and then I get the `<svg>` node, after that I have to append it somehow to the DOM. That's the only reason I need to do it that way. Do you have any other suggestions or ways to achieve this?

[2015-06-23 11:16] PascalPrecht commented on #2688
@rkirov unfortunately both, `EmulatedScopedShadowDomStrategy` and `NativeShadowDomStrategy` are not part of the bundle. Try a simple search here: https://code.angularjs.org/2.0.0-alpha.27/angular2.dev.js

[2015-06-23 11:19] manishkrai opened #2696 "Find a control from $sce.trustAsHtml()"
Hello,
I have a string that contains some html data. Here I am using $sce.trustAsHtml() to produce safe  data for using with ng-bind. This string may contains few hyperlinks that I have to disable before the binding.

Currently, I am using regex.Replace to achieve the same  and its working fine. But I think this is not a good solution.

var regexPatternSearchHyperlinks = "<[aA]\\s+(?:[^>]*?\\s+)?h

[2015-06-23 11:21] pkozlowski-opensource commented on #2696
Wrong repo, I guess you are looking for https://github.com/angular/angular.js

Having said this, it sounds like a general support question and as such should be asked using an appropriate support channel: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question

[2015-06-23 11:21] #2696 closed

[2015-06-23 11:24] manishkrai commented on #2696
Thanks pkozlowski.. I am going to post on https://github.com/angular/angular.js..

[2015-06-23 11:26] PascalPrecht opened #2697 "bug: binding to EmulatedScopedShadowDomStrategy throws error"
Hey everyone,

I'm currently playing with the different shadow dom strategies, also to understand how the inline styling behaves differently throughout the strategies. By default Angular binds to `EmulatedUnscopedShadowDomStrategy` and everything works fine. Binding to `NativeShadowDomStrategy` also works as expected. However, if I try to use `EmulatedScopedShadowDomStrategy`, I'm running into an

[2015-06-23 11:26] naomiblack commented on #1213
closing as a duplicate of #2014

[2015-06-23 11:26] #1213 closed

[2015-06-23 11:35] vicb commented on #2697
@PascalPrecht FYI the css handling is going to change in the next few days - we are now going to inline/resolve all the styles before actually compiling the templates. The strategies will become simpler and all sync.

[2015-06-23 11:42] PascalPrecht commented on #2697
@vicb good to know! But `EmulatedUnscopedShadowDomStrategy` and `EmulatedScopedShadowDomStrategy` will stay right?

Also, any idea how to currently solve this error?

[2015-06-23 12:07] naomiblack commented on #2662
@tbosch @IgorMinar @mhevery  can we find someone to own this in alpha-29? It would be great to resolve quickly if possible. Any suggestions since @caitp is out?

[2015-06-23 12:10] caitp commented on #2662
I can take some time to fix this today. For the time being, reverting d575915 should get it working again

[2015-06-23 12:21] vicb commented on #2697
All 3 strategies will stay.

Nope, but interested in your findings.

[2015-06-23 12:21] naomiblack commented on #2554
@jeffbcross this was in alpha-28 but no one was assigned to it. I'm moving to alpha-29, but it needs an assignee. Any suggestions?

[2015-06-23 12:55] PascalPrecht commented on #2697
Okay, so since there's no instance of `EmulatedScopedShadowDomStrategy`, I assume that this due to the fact that ES6 class are not hoisted.

This is where `angular/di`'s `forwardRef()` comes in, so I changed my injector bindings to sth. like this:

[code]

This however, results in no error but also no loaded component.

[2015-06-23 13:00] pkozlowski-opensource commented on #2687
@sylus this is a valid bug report. The pb steams from the fact that we are having a special treatment for properties that contains dash in their names. We should special-case this logic for `data-*` properties.

[2015-06-23 13:03] alexeagle commented on #1803
We need to post a more thorough design, but here's a summary of what @rkirov and I discussed yesterday:
- if you follow our quickstart examples, you are on the "pre-bundled" path, you only fetch our bits from `code.angularjs.org`, and will get the typings from DefinitelyTyped. From http://definitelytyped.org/guides/contributing.html see Versions - it's fine for us to post a typings file correspond

[2015-06-23 13:17] pkozlowski-opensource opened #2700 "Error root causes are swallowed in tests when using TestBed, AsyncTestCompleter"
Steps to reproduce (in JS):
* run `gulp test.unit.js`
* modify a template to trigger compilation failure, for example by "breaking" object literal (ex. remove last `}`) [here](https://github.com/angular/angular/blob/a67f2314f997a785d01163498b231435cb9b4680/modules/angular2/test/directives/class_spec.ts#L29)
* you will see a failing test with a message that doesn't point to the root cause:

	Error:

[2015-06-23 13:20] vicb commented on #2700
If this is a dup of #2682

[2015-06-23 13:20] #2700 closed

[2015-06-23 14:37] tbosch commented on #2029
@mhevery: facades don't work if we need a different implementation for
client vs server
On Tue, Jun 23, 2015 at 2:30 AM Victor Berchet <notifications@github.com>
wrote:

[2015-06-23 14:48] vicb opened #2701 "gulp build.dart failing & can't get why"
This is the error

[code]

When the gulp tasks ends tmp has been deleted, no way to figure out what's going wrong !

[2015-06-23 14:49] vicb commented on #2701
I have figured out but still we should be able to inspect the generated file on such errors

[2015-06-23 14:54] PascalPrecht commented on #2697
Okay, in fact I'm not fully sure if I understand `forwardRef()` correctly. I mean, I know what the problem is and I know what `forwardRef()` does to solve that problem. However, It seems I can't really reproduce the problem itself.

How can it be that a class is `undefined` in a binding for the injector, when all bindings need to be passed to the injector creation anyways? (this might rather be a

[2015-06-23 15:28] vicb commented on #2697
`console.log(Class)` -> `undefined` = import error

[2015-06-23 15:38] PascalPrecht commented on #2697
Ah, so this is due to asynchrounicity when using imports. Then maybe this should be clarified in the docs here https://github.com/angular/angular/blob/master/modules/angular2/src/di/forward_ref.ts#L14-L27?

Because the example given there will always work, even without forwardRef()...

[2015-06-23 15:39] vicb commented on #2697
I would say this is due to a typo in the class or file name rather

[2015-06-23 15:43] PascalPrecht commented on #2697
Uhm.. okay, but a typo can't be solved by `forwardRef()`. Or am I missing something?

[2015-06-23 15:49] vicb commented on #2697
I don't think you need forwardRef here (but I can be wrong)

[2015-06-23 16:06] PascalPrecht commented on #2697
What else can I do if the dependency turns out to be undefined? I checked the file paths and class names. Everything is loaded correctly. I also checked the tests to see how it's done there and it's pretty much the same thing.

Apparently I'm overseeing something..

[2015-06-23 16:20] vicb commented on #2697
[code]

you're missing `return`

[2015-06-23 16:20] #2697 closed

[2015-06-23 16:35] PascalPrecht commented on #2697
... Going to find a nice corner and cry.

Thank you @vicb.

[2015-06-23 16:54] alexandernst opened #2702 "Get only variables in $scope"
Let's say I store a few variables in a `$scope`, like this:

[code]

Is there a way I could get a list of that scope containing `a, b, c`, aka, the data that doesn't belong to Angular?

[2015-06-23 17:08] SebastianM commented on #2702
@alexandernst You are in the Angular2 respository asking an AngularJS 1 related question.
The right place for Angular1 related questions is the mailing list: https://groups.google.com/forum/#!forum/angular

[2015-06-23 17:10] alexandernst commented on #2702
Oops, my bad! That repo name should contain a `2.0` :P

[2015-06-23 17:10] #2702 closed

[2015-06-23 20:22] tbosch commented on #2662
@pkozlowski-opensource @caitp I reverted the commit for now on master.

[2015-06-23 20:24] rkirov opened #2707 "distance to parent in protoElementInjector does not reflect dynamic injectors"
For example the injector creating MyComponent would not have distanceToParent `1`, but rather `-1`
```<other-cmp><my-cmp *ng-if="'true'"></my-cmp></other-cmp>```

[2015-06-23 21:58] tbosch commented on #2476
Decides to leave `ElementRef.domElement`, but as follows:
Rename it to `ElementRef.nativeElement`, and make it ask the `Renderer.getNativeElementSync()` to get the instance. This won’t work on WebWorkers, but on all other platforms (e.g. native script, serverside, …)

[2015-06-24 00:30] #2476 closed

[2015-06-24 01:19] rkirov commented on #2688
The problem is in the entry point for the bundle which is `angular2.ts` we don't import the `render.ts` module.

https://github.com/angular/angular/blob/master/modules/angular2/angular2.ts#L76

Instead we reexport `angular2/src/render/api`. @tbosch what is the reason for that, and are you ok with changing that line to `angular2/render`?

[2015-06-24 01:40] rkirov commented on #2498
fixed

[2015-06-24 01:40] #2498 closed

[2015-06-24 08:22] PascalPrecht commented on #2688
Prepared a PR at #2717 that can be merged, once @tbosch made a decision.

[2015-06-24 10:56] kalinicm opened #2718 "index page example missing {{ name }} behind Hi"

[2015-06-24 10:56] #2718 closed

[2015-06-24 14:44] tbosch opened #2721 "Proposal: make use of native dom elements in templates explicit"
# Update by @mhevery

We should use explicit binding as such,
[code]

## Proposal

Right now, users can write the following:
[code]

Which will just echo the input value in the text node. Looking at the template, it is not obvious, that the value of `user` is a DOM element.

This issue proposes the following syntax:
[code]
The value of the variable `user` would then be an `ElementRef` (which would

[2015-06-24 14:46] #2025 closed

[2015-06-24 15:32] vicb commented on #2721
could we change `.$native` to something more explicit ie `.$el` or `$(elementRef)` ?

[2015-06-24 15:35] tbosch commented on #2721
Sure. I chose the prefix `$` as we already use this for `$event` as well to signify to users that this is a native thing they are interacting with.

Note that this issue is still a proposal and not decided yes.

[2015-06-24 16:13] vicb commented on #2682
I have the approach described in my previous comment.

One problem is that `fail()` will be called asynchronously. It should not be an issue with `fakeAsync` but it is with the `AsyncTestCompleter`: if `async.done()` is called before the promise is settled, the `expect`ation is ineffective. One solution could be that `willXXX` expectation delay the `done()` until promises are settled. I'll try thi

[2015-06-24 16:40] #872 closed

[2015-06-24 16:40] #1732 closed

[2015-06-24 16:40] #2029 closed

[2015-06-24 16:50] vicb opened #2722 "Url service - what do we need ?"
As part of #2563, the former implementation of the `UrlResolver` which was relying on an anchor element to resolve urls has been replaced by a programmatic resolution.

Benefits:
- The resolver could be used in a server or web worker env,
- Absolute urls can be resolved, ie `resolve('http://ng.io/path/to.html', '/other/path')`

[The code](https://github.com/angular/angular/blob/master/modules/angu

[2015-06-24 17:34] matanlurey commented on #2721
What would `user` be, something similar to an `ElementRef`?

[2015-06-24 17:35] matanlurey commented on #2721
Would `$native` be optional or a required syntax for everyone?

[2015-06-24 17:49] ctindel opened #2723 "Issues with alpha 27"
I am seeing the following logs show up in my console output.  These are with Google Chrome Version 43.0.2357.124 (64-bit)

Anything I can do?

[code]

[2015-06-24 17:54] ctindel commented on #2723
I also see errors when I use Chrome Version 45.0.2439.0 canary (64-bit)

[2015-06-24 18:03] zzo commented on #2437
Another option while we're still readying the karma 1.0 release - the latest dart sdk has a test runner built in - have you given that a shot?

[2015-06-24 20:46] jakemac53 opened #2725 "Dart transformer doesn't add getters for `events` in @Component annotations."
If you add the transformer to the zippy_component example you can see this, you will get something like:

Exception: Uncaught Error: Cannot find getter open

[2015-06-24 21:06] DannyMeister commented on #1236
I highly wish that bindings did work across dynamically loaded components.  Otherwise, the dynamic component is forced to know about all the binding needs of the client components.

I am going to try to work around this in my application by forcing client components which are to be loaded by my host dynamic component to implement some sort of interface to help facilitate the delegation.

[2015-06-24 21:09] DannyMeister commented on #1602
I've switched tactics from Component selectors to using DynamicComponentLoader to try to overcome the limitations with selectors.  That however, has been running into its own set of roadblocks, such as #1236

[2015-06-24 22:06] hankduan opened #2726 "Dev app does not work with firefox"
The dev app (i.e. `gulp serve.js.prod`) does not work with firefox driver, and to an extent doesn't work with the firefox browser.

First, firefox driver would always crash whenever it tries to access any element in the app, i.e. the following would crash:

[code]

App and firefox browser:
1) *Manually* open `http://localhost:8001/benchmarks/src/tree/tree_benchmark.html?depth=9&viewcache=true` in

[2015-06-24 23:08] gdi2290 commented on #2702
@alexandernst for angular1 you're probably looking for something like
[code]

[2015-06-25 00:04] afirdousi commented on #1293
Can we introduce a simple concept of "containers" here (needs a better name may be). As @mhevery said, we are settling down for "ngCoreDirectives" to go in the @baseView  . In my understanding, what we are doing here is, we are creating a injectables container.

Suppose I have custom injectables (not core directives) named A1,A2,A3 and B1,B2.

When I sub class my injectors up in my components, I w

[2015-06-25 00:51] tbosch commented on #2721
@matanlurey the idea of this issue is to make this required for everyone, so that linters and users can detect direct dom access early.

[2015-06-25 00:53] tbosch commented on #2657
@gdi2290 this is the issue to track the JsonRenderer...

[2015-06-25 01:15] tbosch commented on #2643
If the dart transformer used the `ViewLoader`, it would get inlining automatically as of the latest commits from @vicb

[2015-06-25 04:29] jeffbcross commented on #2554
@naomiblack sorry slow to follow-up. I'll take it, will be a quick change after I land #2714.

[2015-06-25 10:56] rolandjitsu commented on #2615
@gdi2290 I just updated to alpha `28` and it seems like this issue is fixed. But I am not absolutely sure, @mhevery?

[2015-06-25 11:03] rolandjitsu commented on #2672
@vicb it seems like I do not get this exception anymore when I use `styleUrls`, but, if I do use it and I give a wrong path to the `templateUrl` then I get the same issue.

[2015-06-25 11:44] Sabartius opened #2728 "Cannot bind Attribute "For" of a Label"
I have a form, where the id of an input and the label-for are bound. The id is correctly transformed to the bound value, label for remains as written in the template

My Form:

    <p *ng-for="var colour of colours">
        <input id="{{colour.text}}" name="someColour" type="radio"
        ng-control="someColour"
        [checked]="myForm.controls.someColour.value == colour.text">

[2015-06-25 14:39] PascalPrecht opened #2730 "question: any reason why styles property in @View is a list?"
We have a couple of different ways to apply styles to our components in Angular 2. One of them is using the `styles` property of `@View` decorators.

Is there any specific reason why that property has to be a list (as defined here: https://github.com/angular/angular/blob/master/modules/angular2/src/core/annotations_impl/view.ts#L60) ?

I see that I can do things like:

[code]
But also
[code]

The

[2015-06-25 15:41] timkindberg commented on #1293
I'm not sure introducing yet another decorator property is a good idea. Why can't devs arbitrarily package up multiple directives into an array and then add that to the directives array like so:

[code]

[2015-06-25 16:26] tbosch commented on #1989
Removed my comments about shadow dom emulation in favor of https://github.com/angular/angular/issues/2529

[2015-06-25 16:31] gdi2290 commented on #2730
it's a list so you can compose styles
[code]

we can upgrade this by having defaults using `@BaseView` when that PR is merged

[2015-06-25 16:35] tbosch commented on #1989
Some changes to our API surface that we should do with this:

Previous:
[code]

These methods actually cover 2 use cases:

1. manual content projection by using a context `ElementRef`. In this case, the `ProtoViewRef` needs to be taken from the context `ElementRef`, and using an explicit `injector` does not make sense as this
use case means "Show this template somewhere else, but use the execution

[2015-06-25 16:44] afirdousi commented on #1293
What exactly  do you mean when you say " arbitrarily package up " ?  I think we are talking about the same thing except that I proposed a new property for this.

Why the new property ?

-You wont be using both properties at the same time.
-If you wish to inject a single directive, you can always use 'directive' property.
-If you wish to inject any different combination of directives which actually

[2015-06-25 16:49] jakemac53 commented on #2607
@TedSander to confirm what you would like is support for absolute urls? To me this seems like an anti-pattern in dart code, typically anything you would want to point to via an absolute url you should instead put inside lib and then access it via a package url.

[2015-06-25 16:54] PascalPrecht commented on #2730
@gdi2290 interesting! You're using `.styl` extensions there. Is there also a preprocessor pipeline in the making?

[2015-06-25 17:05] jeffbcross commented on #2635
Yes, it should complete.

[2015-06-25 17:17] vicb commented on #2672
Thanks for the report, I'll take a look.

What release/SHA1 are you using (now & before) ? Thanks

[2015-06-25 17:18] billccn opened #2732 "Make it easier to extend / compose directives?"
In Angular 1, it was quite difficult to reuse functionality provided by other directives. All the ways composition are either slightly inefficient (e.g. string template compilation cost) or cumbersome (hacking compile and link functions to invoke another directive). Facilities for extensions are almost nonexistent.

Can Angular 2 improve on this by:

1. Making it easier to invoke another directive

[2015-06-25 17:27] bgourlie commented on #2732
Composition is and has always been pretty easy.  Extending, not so much, and I would go as far as to say it's an anti-pattern in angular.

[2015-06-25 17:34] gdi2290 commented on #2730
@PascalPrecht  oh, no sorry that was Webpack. Personally I don't think it should be the framework's job to handle files so I'm using Webpack's preprocessor pipeline in that example

[2015-06-25 17:36] TedSander opened #2733 "Convert relative template and style URLs in dart transformer"
Convert relative template/style URLs in the transformer for use when URLs are not inlined to the application.

[2015-06-25 17:40] billccn commented on #2732
Composition is only easy for directives that can be used as "elements". For the ones that have to be used as attributes, the options are sometimes limited. For example, say I want to create a directive to add `ng-disabled` to `<input>` elements with a certain CSS class, I cannot use a template to achieve this and must hack this in through the `compile` function. (Wrapping the `<input>` is also not

[2015-06-25 17:47] TedSander commented on #2607
I would say this isn't an anti-pattern or else why does dart have a web/ directory, sure those resources can't be shared across apps, but a lot of times you don't want them to. Basically it should support what is outlined in the barback document here:
https://docs.google.com/document/d/1juHkCRg-1YH6LvwhGPHgF2ihX-UQtR1fv-8aknO7t_4/edit?pli=1#heading=h.qse5zkbqletn

I had this working for angular.da

[2015-06-25 18:08] PascalPrecht commented on #2730
Alright, that clears things up! Thanks man

[2015-06-25 18:08] #2730 closed

[2015-06-25 18:09] jakemac53 commented on #2607
One question here is what is considered the `root` of the application (ie: '/')? You can run a server from any folder in your package, and we don't really want to be opinionated about telling people where they should start their server from. The transformer doesn't know what folder the server will be started from,  so it would just have to assume something like the top level directory in your pack

[2015-06-25 18:21] tbosch commented on #2688
Yes, please export everything from `angular2/render`.

[2015-06-25 18:23] rkirov commented on #2688
Pascal can you change your PR to just reexport `angular2/render` and reassign the PR to me for review.
Ideally, `angular2/angular2` should not have any `angular2/src/*` paths.

[2015-06-25 20:54] yjbanov commented on #2303
pushing to alpha-29

[2015-06-25 21:00] yjbanov commented on #2446
Should this issue be closed?

[2015-06-25 21:05] yjbanov commented on #1489
What's the status of this issue? Fixed or should we push to alpha-29?

[2015-06-25 21:06] yjbanov commented on #428
Pushing to alpha-29. Didn't make it to alpha-28

[2015-06-25 21:27] yjbanov commented on #2014
Would it be reasonable to expect that this will be closed in alpha-29 or should we bump it to alpha-30?

[2015-06-25 21:29] yjbanov commented on #1485
Does this issue need more work? Should it be closed? If not, would it be reasonable to expect that it will be closed in alpha-29?

[2015-06-25 21:41] tbosch commented on #353
Done via 0949a4b045a6729008d34b06257c2134e6548eee. Thanks @hankduan !!

[2015-06-25 21:41] #353 closed

[2015-06-25 21:46] #2604 closed

[2015-06-25 23:57] mprobst commented on #1485
I think this should be fixed.

[2015-06-26 02:02] kevmoo commented on #1485
I've got a CL landed that takes care of this for top-level members in the angular2 lib.

I think there are a lot more places where things should be final, but top-level members – since they are shared – are clearly the most important.

We may just need to do an occasional review of the API to find bad examples.

[2015-06-26 02:02] #1485 closed

[2015-06-26 06:50] rolandjitsu commented on #2672
@vicb before I was using `27` and now I am using `28` (the alpha release versions from npm).

[2015-06-26 07:29] pkozlowski-opensource commented on #2014
@yjbanov I will make some progress in .29 but probably complete all items only in alpha.30, so it is reasonable to move this issue.

[2015-06-26 07:50] rolandjitsu commented on #2721
I personally think that using `<input #user>{{user.value}}` is lot better than `<input #user>{{user.$native.value}}` which just adds up to the things I have to remember.
If the docs clearly specify that the use of `#binding` on an `<input>` (or other tag) bind to the native element and they can access any properties on it, then that should be enough and I think it's more natural to expect the firs

[2015-06-26 07:54] PascalPrecht commented on #2688
Yeap, taking care of this!

[2015-06-26 08:01] vicb commented on #2730
Actually the main use case for `styles` is to inline all the styles (from the html, styleUrls) during a build step so that we don't have to fetch urls or `@import` at compile time.

Notes:
- using `require()` will not work when transpiling to Dart (which may or may not be a problem for you),
- when we have the build step inline all styles to `styles`, we will probably disable the processing of the

[2015-06-26 08:06] PascalPrecht commented on #2688
Just one quick question: There are a couple of imports that come from angular2/src/render but are **not** exported by angular2/render e.g. https://github.com/angular/angular/blob/master/modules/angular2/src/core/application.ts#L40-L41

Shall I just leave them in?

[2015-06-26 08:28] PascalPrecht commented on #2728
@Sabartius since you're using an expression, you need to bind to the property instead of the attribute. Try:

[code]

Inside an element, you can still use `{{colour.text}}` since this is a shorthand syntax for a property binding as well. But attributes only understand strings. If you pass `{{colour.text}}` to an attribute, then that's the string it takes.

[2015-06-26 08:34] rolandjitsu opened #2739 "use systemjs with releases from code.angularjs.org"
I use the npm package and I compile all the ES6 files to ES5 (because of [2612](https://github.com/angular/angular/issues/2612) I cannot just use the `js` files at the root)  and I load it together with the other deps using the following setup:
[code]
Under `lib/angular2` I have all the compiled files. This setup works fine, but if I want to use the release files at [code.angularjs.org](https://co

[2015-06-26 08:43] mlaval commented on #2728
Both `for="{{colour.text}}"` and `[for]="colour.text"` binds to the for property, which doesn't exist.

To bind to the attribute, you need `[attr.for]="colour.text"` instead

[2015-06-26 09:11] vicb commented on #1904
@naomiblack moved this to a.30 I won't have time to work on this before next week

[2015-06-26 09:22] vicb commented on #2252
@IgorMinar this "works" now (some test are failing)

[2015-06-26 09:22] #2252 closed

[2015-06-26 09:25] PascalPrecht commented on #2728
Ah thought that `[for]` would create the property accordingly.

[2015-06-26 09:29] Sabartius commented on #2728
Funny thing is, that i can bind the "id" of my input like this `id="{{colour.text}}"`
Does that mean, that input-Elements have a property called id, that resolves to the attribute of the dom-element?

[2015-06-26 10:02] rolandjitsu commented on #2031
:+1: I agree, it would be really nice to see a very simple example of how to run tests, especially when using TS.

[2015-06-26 10:30] pkozlowski-opensource commented on #2728
@Sabartius some elements have property and attribute with the same name. It is common in HTML world that an attribute is used to initialise (from HTML) value of a property that later on can be manipulated programatically.

Closing, as I believe that things work as expected.

[2015-06-26 10:30] #2728 closed

[2015-06-26 11:35] lnlwd opened #2740 "No provider for TypeDecorator! (HomeComponent -> TypeDecorator)"
Hello guys! I have a problem using Dependency Injection.

Here is my code:
##### home.ts
[code]
##### components/home
[code]
##### services/home
[code]

I get this error **No provider for TypeDecorator! (HomeComponent -> TypeDecorator)**

Someone can help me?

[2015-06-26 11:50] naomiblack commented on #1693
This blocks internal b/20560018

[2015-06-26 11:51] TiagoBraga39 commented on #2739
I also have a similar problem when trying locally.
Don't know how, but this CDN is working for me: <a>http://jspm.io/system.js</a>

Hope it helps,
Tiago Braga

[2015-06-26 11:51] naomiblack commented on #1693
This is internal issue b/21068639

[2015-06-26 11:52] lnlwd commented on #2615
I'm using this way:
[code]

It's working fine, but if i use `router.navigate('/')` i get duplicated object too

Anyway i'm using this 'hack' until problem is solved...

Sorry my bad english!

:smile:

[2015-06-26 11:59] rolandjitsu commented on #2739
@TiagoBraga39 if you take a look at the version you will see it is [0.16.11](https://jspm.io/system@0.16.11.js), that is why it works :)

[2015-06-26 12:02] rolandjitsu commented on #2615
@lnlwd if you use alpha version `28` you no longer need to use the following:
[code]

[2015-06-26 12:58] rolandjitsu commented on #2740
I believe that `@Injectable` should be `@Injectable()`.

[2015-06-26 13:17] bgourlie commented on #2732
I'm not sure how I'd address your specific example, because creating a directive to add another directive based on it having a particular css class seems unnatural.  I suspect there is a more natural way to accomplish your end goal.

As far as composition with attribute selectors, we do it all the time in angular 1.  It's not uncommon to have `ng-hidden` and `ng-class`, `ng-repeat` or any other nu

[2015-06-26 13:21] TiagoBraga39 commented on #2739
Oh I didn't see you were using 0.18 :)

[2015-06-26 13:45] #2740 closed

[2015-06-26 14:09] petebacondarwin commented on #2446
I am happy to close this but I left it open as a reminder to @mhevery that he could go and update the code the code that had been triggering the bug to be noticed. I.E. this style of declaration:

[code]

[2015-06-26 14:13] vicb commented on #2446
I think the current/new way to express this is:

[code]

is this right @yjbanov ? is this in our current version of ts2dart ?

[2015-06-26 14:17] IgorMinar commented on #2437
just running `find dist/dart/angular2/test/ -name packages | xargs rm -r` reduces the latency from 26 seconds down to 6 seconds.

Some of these files are needed for the transformer to work, but once the transformers run, we don't need them. Also what I see is that every subdirectory under `dist/dart/angular2/` contains `packages` directory that that links to main `packages` directory in the root.

[2015-06-26 14:37] vicb commented on #2722
One possibilty might be to use JS native [URL](https://developer.mozilla.org/en-US/docs/Web/API/URL/URL) - we would need a polyfill when this is not available.

ref:
- https://gist.github.com/Yaffle/1088850 (used by SystemJS),
- https://github.com/Polymer/URL

[2015-06-26 15:06] #2605 closed

[2015-06-26 15:37] kevmoo commented on #2691
@vicb is this closed with https://github.com/angular/angular/pull/2694 ?

[2015-06-26 15:40] vicb commented on #2691
nope I have transferred the commit to #2695 but it is blocked in a bug in clang

[2015-06-26 15:43] kpko commented on #2673
I would really like to know that, too, since this is basically the most important feature for me at the time.

This question has been asked several times in the old router repository but has never been officially answered. Could somebody elaborate a little bit on the state of the router?

[2015-06-26 15:50] jakemac53 commented on #2072
and again for same reason...

[2015-06-26 16:02] kevmoo commented on #2072
@naomiblack I'm not sure if this a ts2dart fix or something else, but we'll need to strip/replace the dgeni annotations when we generate Dart code.

[2015-06-26 16:05] #2725 closed

[2015-06-26 18:13] vsavkin opened #2741 "Add valid, value, pristine, ... to NgControlGroup and NgControl"
Every directive that is bound to a control should expose the control and the main properties of the control, so it is easy to user in the template.

[2015-06-26 19:42] lnlwd commented on #2740
It Works! Thanks!

[2015-06-26 19:46] lnlwd commented on #2615
Ok, really the problem is solved, no more duplicated items...

[2015-06-26 20:07] jakemac53 opened #2745 "Angular material loses css files during build step"
Under dist/dart/angular2_material/lib/src/components I only see dart and html files, not css files.

[2015-06-26 20:18] yjbanov commented on #2446
@alexeagle will shortly release a new version of ts2dart that will support interface-based function types.

[2015-06-26 21:28] IgorMinar commented on #2701
the full path to the file is listed in the error message: tmp/diffing_plugin_wrapper-cache_path-dHd8FEdv.tmp/angular2/src/services/url_resolver.dart

would providing more context in this case be more useful?

[2015-06-26 22:12] lnlwd opened #2747 "Getting duplicated items using Http Service"
Hey guys, I have a problem using http requests...

My code:

##### services/home.ts
[code]
##### components/home.ts
[code]
##### home.html
[code]
So, when I use `homeService.getAll(http);` in the Component, I get the list of items, but duplicated...

If I don't use this call, the list do not appear

What's the better way to do this correctly?

Thanks! :smile:

[2015-06-26 22:27] naomiblack commented on #2745
@rkirov @jelbourn can one of you have a look at this? It is one of the blockers for adding transformers for material

[2015-06-26 22:35] jelbourn commented on #2745
@jakemac53 Did you run `gulp build.dart.material` ?

[2015-06-26 22:46] jakemac53 commented on #2745
I ran gulp build/packages.dart, which in the past has always been enough for me... it does create that angular_material folder so I would expect it to be functioning. Maybe that build command just needs to have an additional step added or something?

[2015-06-26 22:48] jelbourn commented on #2745
Only the commands that have `material` in the name do anything with CSS; I didn't want to pollute the angular-core build rules with additional components work. `gulp build.dart.material` will give you the CSS for Dart. `build.js.material` and `build.dart2js.material` will also output the CSS into the appropriate directories.

@jakemac53  Does that give you what you need?

[2015-06-26 22:51] jakemac53 commented on #2745
sounds like it does yes, do we have all these build rules documented anywhere? It still seems wrong to me that build/packages.dart makes a non-functioning angular2_material folder....

[2015-06-26 22:55] jelbourn commented on #2745
Nowhere other than the gulpfile itself, unfortunately. The difference between `build/packages.dart` and the material rule is that the latter will eventually be removed when the components are extracted into their own library.

[2015-06-26 22:59] rkirov opened #2748 "view container can emptied before dispose is called on a dynamic component"
https://github.com/angular/angular/blob/5a21dc534046004d8ed383bb93d7df39b70f982a/modules/angular2/src/core/compiler/dynamic_component_loader.ts#L75 needs an `index != -1` check.

[2015-06-26 23:11] IgorMinar commented on #428
I've had a brief discussion about this after with @yjbanov after coming across this issue when working on the router.

It seems that @yjbanov as well as the internal bug report is referring to a different but related issue than the one referred to in the original post.

The original issue is to expose something similar to testabilityApi's whenStable callback in Angular JS 1. This is needed for pro

[2015-06-27 00:19] jeffbcross opened #2751 "Baseline benchmark running full benchmark samples on Travis"
See the benchmark run in Firefox as a full sample, rather than as an e2e spec: https://travis-ci.org/angular/angular/jobs/68390758#L572

Introduced by: https://github.com/angular/angular/commit/0949a4b045a6729008d34b06257c2134e6548eee

CC: @tbosch @hankduan

[2015-06-27 00:38] hankduan commented on #2751
Do you mean run it like chrome is running? That can't be done until this is resolved: https://github.com/angular/angular/issues/2726

[2015-06-27 00:46] jeffbcross commented on #2747
Hey @lnlwd could you throw your complete app in a [plunker](plnkr.co) so I could take a look?

BTW, a more "side-effect-free" way to do this would be to let the HomeComponent subscribe to the observable, keeping no state in the service itself. That way, you could also hook into the component's `onDestroy` to cancel the subscription if the component is destroyed.

[code]

[2015-06-27 00:48] tbosch commented on #2751
Yes, this is true. We probably should change the sample benchmark to use the settings from [here](https://github.com/angular/angular/blob/master/protractor-shared.js#L243-L244) so that it only uses 1 iteration.

[2015-06-27 00:59] TedSander commented on #1690
@naomiblack can I get this on the GT hotlist and get the priority increased? It is blocking some of our routing evaluation.

[2015-06-27 01:02] tbosch commented on #1693
I would propose to close this as we decided to let GT drive this and once
their own version of the read/write queue is stabilized when copy it into
Angular.

On Fri, Jun 26, 2015 at 4:51 AM Naomi Black <notifications@github.com>
wrote:

[2015-06-27 01:10] peter-svintsitskyi opened #2753 "Are there any plans to have a directive like ng-include?"
I'm looking for a feature that will allow to have dynamic templates for a component.
For example, I'm loading a text by ajax means and displaying it. Then I also want to attach click event handlers to a certain words using directives.
For example I have a parent component that makes an ajax request to a server and  a server returns the following text in response:
[code]
I'd like to render that res

[2015-06-27 01:16] lnlwd commented on #2747
Hey @jeffbcross, i have changed my code looking your example and I get the same problem...

This application is available in this repo https://github.com/lnlwd/zyon

Thanks for helping!

[2015-06-27 01:26] jeffbcross commented on #2747
Hi @lnlwd, thanks for sharing the source, could you throw the app in a fully-working example on plunker or the like?

[2015-06-27 02:15] lnlwd commented on #2747
Ok... Here is: http://plnkr.co/edit/COjdftiCVLDCsx81iq2r

I used compiled JavaScript of my typescript files... All in this plunker... Thanks!

[2015-06-27 02:39] gdi2290 commented on #2747
this might be a problem with ngFor
![screen shot 2015-06-26 at 7 39 13 pm](https://cloud.githubusercontent.com/assets/1016365/8390162/13796fa2-1c3b-11e5-8a03-f8412fb9f88d.png)

[2015-06-27 04:02] mjw56 commented on #2747
Try removing coreDirectives from the View directives property and only using NgFor.

[2015-06-27 04:25] lnlwd commented on #2747
Ok, It works! I don't have thought about this `coreDirectives` call, many thanks!

[2015-06-27 04:26] jeffbcross commented on #2747
Good catch, @mjw56. Hmm, seems to me like framework should throw or at least no-op if the same directive is included twice. @lnlwd do you want to open another issue to this affect, with a simplified reduction on plunker? Closing this issue.

[2015-06-27 04:26] #2747 closed

[2015-06-27 04:37] lnlwd commented on #2747
Yes @jeffbcross !! I will do this tomorrow because is 2:00 AM and i'm going to sleep...

[2015-06-27 07:55] TedSander opened #2754 "Di transformer doesn't work when @Injection is namespaced"
The di transformer don't work when the @Injection is namespaced. This may be a limitation of the way transformers were implemented to keep them fast. If we can't fix the bug documentation somewhere would be appreciated.

Example of an import which doesn't work:
import 'package:angular2/di.dart' as ng2 show Injectable;

@ng2.Injectable()
class Service {}

[2015-06-27 08:14] TedSander opened #2755 "RouteRegistry and Pipeline are not marked as Injectable but are injected"
RouteRegistry and Pipeline are not marked as Injectable but are injected. This causes an error with the dart transformers.

[2015-06-27 10:01] shakirmengrani commented on #1655
i have typescript 1.5.0 - beta version and run a following command.
tsc app.ts --module commonjs --target es5 --emitDecoration but it's threm typeError

[2015-06-27 19:16] #2689 closed

[2015-06-27 21:18] lnlwd opened #2756 "Bug on Directives"
Hello!
On directives I have detected the following problem:

If you include `coreDirectives` and `NgFor` in the same component, the ng-for instruction will be executed two times.

Example in this plunker: http://plnkr.co/edit/tFGJVjO3z78GEXCTKFh4?p=preview

I think the framework need report an error with this info or render only one time the ng-for...

Thanks and sorry my bad english :smile:

[2015-06-27 22:03] hannahhoward commented on #2673
https://github.com/angular/router/issues/335
https://github.com/angular/router/issues/317

I am a huge huge Angular supporter but there has been a bit of breakdown in transparency on this. The big direction/message at ng-conf as I understood it was "The router is your transition path" and then since then things have gotten progressively more murky and unclear. I went ahead and even added support f

[2015-06-27 23:21] mjw56 commented on #2673
This came up at the Angular U conference last week. Someone asked about it during the keynote, it's at the 49 minute mark of this video https://angularu.com/VideoSession/2015sf/angular-2-roadmap-update

[2015-06-28 00:20] robwormald commented on #2739
if you want to use the latest / betas of SystemJS, the best thing to do is to build from source, either the commonJS or ES6, which are both available via npm or jspm (npm/jspm install angular2), rather than using the bundled code.

there are a significant number of changes between 0.16 and 0.18 of SystemJS, and as of now 0.16 is the stable release, so it doesn't make sense to use 0.18 yet.

see ht

[2015-06-28 04:33] mjw56 opened #2761 "Console warn if global Zone.js is not loaded onto the page"
I ran into this issue recently. I spent a good amount of time trying to find the cause for why my data was not updating on the UI only to realize that I had not imported Zone.js.

I'm wondering if it makes sense to warn the developer in this scenario?

[code]

[2015-06-28 04:44] tapas4java commented on #2723
Any findings on this? I am seeing same issue in  `alpha-28` also:

[code]

[2015-06-28 14:28] pkozlowski-opensource commented on #2756
Right, we are aware of this, see #2568.

@tbosch would you have any pointers as where would be the best place of fixing this one. I had a quick look at the code and the fact that directives can be both a type and a binding makes things slightly more complex - that it - we need to wait with duplicate removal till bindings are resolved and I'm not sure where to stick this logic...

[2015-06-28 19:32] havenchyk commented on #2329
@btford is there any progress here? Could you please explain the current state?

[2015-06-28 21:32] lnlwd commented on #2756
Ok Thanks!

[2015-06-28 22:13] vicb commented on #2761
dup of #2683

[2015-06-28 22:13] #2761 closed

[2015-06-29 02:38] mhevery commented on #2220
@jakemac53 What needs to be done from the Dart transformer is that it needs to generate the `lifecycle` event for the corresponding interface.

Example:

[code]

Then the transformer needs to generate:

[code]

[2015-06-29 05:17] Delagen opened #2763 "Cannot build Typescript source from NPM package"
Many errors:
[code]
But from Git Source all fine.

[2015-06-29 07:20] vicb commented on #2761
- We probably want to throw if zone has not been installed (instead of only logging a warning),
- We should also throw if zone don't have support for microtasks (ie zone.js has been loaded instead of zone-microtask.js) The condition should be `!global.zone.scheduleMicrotask`

[2015-06-29 12:24] rolandjitsu commented on #1623
@mhevery any news on this one? I've experienced the same thing and I also get an exception saying: `Cannot instantiate MyService synchronously. It is provided as a promise! (MyComponent -> MyService)`.

[2015-06-29 12:37] Alber70g commented on #2673
@IgorMinar Please, give some clarification

[2015-06-29 13:12] rolandjitsu commented on #1563
@mhevery I get the same exception when I use `constructor(@InjectPromise(MyAsyncService) myAsyncService: Promise<MyAsyncService>) `:

![screenshot 2015-06-29 15 07 20](https://cloud.githubusercontent.com/assets/1479737/8408514/08ec7a74-1e71-11e5-8a5f-c6e4131ee277.png)

[2015-06-29 14:04] pkozlowski-opensource opened #2765 "Change CSSClass selector from [class] to [ng-class]"
@mhevery I would like to discuss changing the [CSSClass directive selector](https://github.com/angular/angular/blob/f1cf5298d8f875c13177884152426064721e0847/modules/angular2/src/directives/class.ts#L11) from `[class]` to `[ng-class]`, the arguments being:
* it avoid doing unnecessary work for "static" class attributes in cases like `<div class="foo"`>
* clearly follows the convention of having dir

[2015-06-29 14:38] mhevery commented on #2638
We check for method names (structural check) in JS and implements in Dart. Can't we just do the same here?

So:

[code]

should implement `OnInit` interface.

PS: Not sure if that feature has been implemented yet, but it has been discussed.

[2015-06-29 14:42] mhevery commented on #2639
I am happy to add this, but I can't seem to find where I can do this in Gitter. Do you have a link?

[2015-06-29 14:49] SebastianM commented on #2639
@mhevery Double-click on the white space underneath the angular/angular headline should work.

[2015-06-29 15:08] IgorMinar opened #2766 "Script elements in template files should be innert"
Given a template:

[code]

associated with a component:

[code]

when the component is instantiated the script executes.

The root cause of this issue appears to be that we use `document.importNode(node, true)` when importing contents from the template into the main document. During this import the script element is revived and once appended to the document it's executed.

In Angular component tem

[2015-06-29 17:27] chrisber commented on #2639
Yes that is the correct solution, not really intuitive. Thanks for doing that.

[2015-06-29 17:28] jakemac53 commented on #2745
I tried this but I still don't see the css files under `lib/src`. I do see them under `src` though.... and maybe this is working as intended for js but it seems like it will need to change for dart. The styles typically have an @import to "angular2_material/src/components/*/*.css". In dart you won't be able to access things in a top level `src` folder, they will need to be under `lib/src`.

Maybe

[2015-06-29 17:53] jakemac53 commented on #2745
Nvm, build was in a broken state I see them now. We are probably going to need to do something with the urls still at some point (convert to package: urls?), but thats a separate issue.

[2015-06-29 17:53] #2745 closed

[2015-06-29 17:56] jeffbcross opened #2768 "feat(EventEmitter): add common combinators from Dart Streams and RxJS Lite"
I'm particularly motivated to do this quickly since the `Http` lib is being refactored to use `EventEmitter`, which uses RxJS implicitly as a private subject, but doesn't yet surface any of the RxJS combinators. This list is not exhaustive, but includes the combinators I care most about for `http`. From a cursory look, many of these combinators look similar enough between [RxJS lite](https://githu

[2015-06-29 18:31] #2748 closed

[2015-06-29 19:06] alexeagle opened #2770 "dart: Cannot type DOM accesses"
I'm adding return types as a first pass of adding a linter for better API completeness.

Many methods in the DOM interfaces, eg. `*_dom_strategy.ts`, `dom_adapter.ts`, cannot be typed because the dart_analyzer is configured to know that neither parse5 nor a browser might be present at runtime. However, leaving all these typed as `any` weakens our ability to use these APIs and get typical benefits

[2015-06-29 19:13] QuantumInformation commented on #1953
+1 for Polymer and angular 2 sharing the same components.

[2015-06-29 19:44] #2755 closed

[2015-06-29 19:50] yjbanov commented on #2768
This issue just popped up today. The fact that we require that components
publish events as EventEmitter doesn't work well in Dart, where you want to
be able to export events from existing stream controllers. Also,
EventEmitter is simultaneously the sink and source of events, which means
that the *users* of components can push events into them. This breaks
encapsulation.

On Mon, Jun 29, 2015 at 1

[2015-06-29 20:06] jakemac53 opened #2771 "Support relative urls in dart"
Dart part of https://github.com/angular/angular/issues/2383. We need to make a runtime and transformed version of [ComponentUrlMapper](https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/component_url_mapper.ts). Dynamic version can just use mirrors and compute the path based on the type. The transformer should populate a static map with the paths to all component typ

[2015-06-29 20:18] alexeagle commented on #2770
I would like to type these methods for the benefit of TypeScript usage. Here is a proposal: add a syntax clue for ts2dart which says the type should be replaced by `dynamic` even if it's not any. I imagine doing it with a comment, but maybe there is a different syntax bit that could work?
@yjbanov what do you think?
Otherwise I am replacing them with a comment pointing at this issue, eg. `List</*(

[2015-06-29 20:45] btford commented on #1489
I haven't taken a look at it – @fredsa are you seeing this on the most recent beta still? So much has changed since then. Do you have a reproduction?

[2015-06-29 21:13] alexeagle commented on #2770
Yegor had a simple suggestion: add `Node`, etc (maybe 5 or 6 DOM types) to `TS_TO_DART_TYPENAMES` in ts2dart, mapped to dynamic.
I need to verify whether there are other places where we want these types to have the present identity mapping, because the appropriate DOM api is actually present to dart_analyzer.

[2015-06-29 21:34] #2354 closed

[2015-06-29 21:41] btford opened #2774 "feat(router): Matrix params"

[2015-06-29 21:44] btford opened #2775 "feat(router): auxiliary (aka "double slash") routes"

[2015-06-29 21:45] btford opened #2776 "fix(router): handle navigating in the middle of another navigation"
Behavior of rerouting during a navigation:
- [ ] before any components are committed, cancel and start over (recognition, canActivate, or loadResources/resolve) phases
- [ ] if any components are committed (any phases after load/resolve), then finish current nav before beginning the next

[2015-06-29 21:45] btford opened #2777 "feat(router): user metadata in route configs"
It is a relatively common practice to add custom metadata to the route definition in Angular 1 and then drive some behavior of the application from this metadata.

Good example is permission management where a particular route should be accessible only to admins.

The proposal is to implement this as a data property in the @RouteConfig annotation:

[code]

This data should then be available to com

[2015-06-29 21:48] btford commented on #2329
I've split this into #2774, #2775, #2776, and #2777.

@havenchyk – check the weekly meeting notes, or GH issues with the relevant tag – https://github.com/angular/angular/issues?utf8=%E2%9C%93&q=label%3A%22comp%3A+router%22+

[2015-06-29 21:48] #2329 closed

[2015-06-29 21:57] Ludo09 opened #2779 "Can't bind to 'controlGroup' since it isn't a know property of the 'div' element"
Hi everyone,

I'm trying to build a small app using Angular2.0.0-alpha.28 (with corresponding .d.ts) + TypeScript 1.5.0-beta and I got the following message:

Can't bind to 'controlGroup' since it isn't a know property of the 'div' element and there are no matching directives with a corresponding property
index.html

[code]

radar-view.ts

[code]

compiling

tsc --watch --target es5 --module commo

[2015-06-29 23:13] #2662 closed

[2015-06-29 23:21] jakemac53 commented on #2771
see also https://github.com/angular/angular/pull/2658, this is what adds the ability to not inline urls

[2015-06-29 23:51] psunkari opened #2782 "_ngcontent-* attribute is used as a selector even for polyfill-non-strict{} styles for custom DOM elements"
/cc @rkirov, @vicb

[2015-06-30 00:28] juliemr opened #2783 "Make test injector and test component builder (more) agnostic to the test environment"
The test_lib contains many helpers, but it's closely coupled with the Jasmine-style BDD environment. Decouple where possible - in particular, to enable running with the dart:test package, and to enable running in JavaScript outside of Angular's own repository.

[2015-06-30 00:33] jeffbcross commented on #2768
@vsavkin and I chatted a little bit about it this morning, and his thinking is that we should return the primitive-of-choice for the target platform (Rx Observable for JS, Stream for Dart) instead of return EventEmitter. For places in the framework that would take advantage of features of Observables or Streams, there would need to be an Observable implementation, and a Dart stream implementation.

[2015-06-30 00:57] ericmdantas commented on #2779
Try using ```@Inject```:

[code]

[2015-06-30 01:26] yjbanov commented on #2768
I vote for platform-specific primitives. It will produce much more idiomatic API. Especially in Dart, where Stream is part of the core library and is familiar to everyone and API-compatible with all Stream libraries out there. There are several ports of Rx utilities to Dart already (https://github.com/google/quiver-dart, https://github.com/danschultz/stream_transformers, https://github.com/theburn

[2015-06-30 02:52] jeffbcross commented on #2768
K, sounds like the lowest hanging fruit that we all agree on is to start exporting observables and streams in the places that are currently using eventemitter. As more concrete use cases arise to build features around these primitives, we can open new discussions.

[2015-06-30 02:52] #2768 closed

[2015-06-30 03:41] matanlurey opened #2785 "Move/share much of the 'NgZone' elsewhere?"
Lots of the code in NgZone is actually pretty useful outside of just Angular, (E.g. implementing a tracking zone), and I'd hate to just copy and paste it. How would people feel about creating another pub package (maybe tracked_zone) and exporting outside of Angular proper? Then NgZone could just extend it or compose on top of it.

Not the end of the world if not, just an idea. @vicb @yjbanov

[2015-06-30 06:00] at3best commented on #1655
run with tsc.cmd app.ts --module commonjs --target es5 --emitDecoration. it's worked for me.

[2015-06-30 06:17] jimthedev commented on #2589
@vicb @mhevery I am struggling with this but I think I am close.

The last problem is that angular2_material is using the exact kinds of selectors that we don't want to allow. Is there, or should there be, any exceptions for native form elements like those here? https://github.com/angular/angular/blob/master/modules/angular2_material/src/components/input/input.ts#L58

For more info, here is a buil

[2015-06-30 06:32] Ludo09 commented on #2779
I tried with ```typescript import {Inject} from 'angular2/angular2'``` +  ```typescript @Inject(FormBuilder)``` as you suggested and it doesn't work.

Regarding ```typescript Validators.required``` I guess it's simply missing from angular2.d.ts

[2015-06-30 06:36] Ludo09 commented on #2647
```Validators.required``` seems to be missing in Angular2.d.ts (2.0.0-alpha.28)

[2015-06-30 07:33] pkozlowski-opensource commented on #2779
The error says what the problem is - there is no `controlGroup` property on a div and there is no matching directive with this property, since the `NgControlGroup` has only `ng-control-group` binding, see: https://github.com/angular/angular/blob/3e6503789ff445b765996bcb530e4ad88ace19e0/modules/angular2/src/forms/directives/ng_control_group.ts#L54

In short: change `<div [control-group]="form">` to

[2015-06-30 07:33] #2779 closed

[2015-06-30 07:53] Ludo09 commented on #2779
Fair enough but now I'm getting ```no provider for Container! ($__0 -> ControlContainer) angular2.dev.js:19379``` on the console.

Btw should I remove ```@Inject(FormBuilder)```?

[2015-06-30 08:10] lukehutch commented on #133
I'm late to the party here, but what about simply treating property binding as an "event"?:

    <web-component [title]="exp" (close)="exp()">

would be

    <web-component ng-on-bind="ngBind('title','exp')" ng-on-close="exp()">

(As a bonus, it might actually be useful to be able to execute an arbitrary expression at bind time.)

[2015-06-30 08:30] mprobst commented on #2770
Adding such fake type mappings SGTM, though in that case we should make the type mappings smarter - currently they are simple string substitutions and don't look at the declaration location of the symbol. `Node`, `Element`, and so on are very generic type names, so we should improve our type name substitution to match on both, i.e. `(declaration location, symbol name)` instead of just `symbol name

[2015-06-30 08:31] mprobst commented on #2770
Also, just to be clear, the DOM abstraction proposal you linked to above turned out not to work with `ts2dart`.

[2015-06-30 08:55] zsqk opened #2786 "System.import('app'), app relative address error"
use `https://code.angularjs.org/2.0.0-alpha.28/angular2.dev.js` is normal.

app is seen `https://registry.jspm.io/app.js` after used `https://code.angularjs.org/2.0.0-alpha.28/angular2.min.js`.

[code]

[2015-06-30 10:07] ericmdantas commented on #2779
Also, I think you should add a form to your template, otherwise I'd say the form won't work correctly with angular2.

[Here's a working component](https://github.com/ericmdantas/angular2-typescript-todo/blob/master/todo/components/todo.ts) and its [html](https://github.com/ericmdantas/angular2-typescript-todo/blob/master/todo/components/todo.html).

[2015-06-30 11:02] mhevery commented on #2640
We already do something similar for `OnChange`, `OnInit`, and so on, please follow the same style.

[2015-06-30 11:09] mhevery commented on #2660
This is a forward declaration issue. In your case `App` is declared later, and so TypeScript does not supply the type information to Angular and hence the error:  `C(undefined @Parent(self: false}))` Which means that angular sees `undefined` for the type. Move the `App` declaration earlier or use https://angular.io/docs/js/latest/api/di/forwardRef-function.html

In a strange way this works as inte

[2015-06-30 11:12] mhevery commented on #2660
Closing since it works as intended.

[2015-06-30 11:12] #2660 closed

[2015-06-30 11:19] mhevery commented on #2673
We are working on the router here: https://github.com/angular/angular/tree/master/modules/angular2/src/router Sorry about the lack of transparency, it was not intentional. We are trying to figure out how to make upgrade path simple, and so we are moving things around. It will be part of the Angular2. It is hard to predict future, se we don't speculate when it will be ready.  You may be interested

[2015-06-30 11:19] #2673 closed

[2015-06-30 11:20] mhevery commented on #2674
Yes, we are aware that there are many things missing in the `.d.ts` file. We are reworking it to figure out the best way.

(Closing since this is a general statement, rather then something specific for us to track.)

[2015-06-30 11:20] #2674 closed

[2015-06-30 11:23] mhevery commented on #2675
The final distribution strategy is still very much in flux, and should solidify as we get closer to release.

I am going to close this as it is a known issue which will be addressed later as part of the final release design.

[2015-06-30 11:23] #2675 closed

[2015-06-30 11:24] mhevery commented on #2681
did you try `ctrl + \` That one does it for me, but I agree it should support `ctrl + c` as well.

[2015-06-30 11:51] pkozlowski-opensource commented on #2364
@mhevery I'm starting to look into this one but would like to confirm, that we want to accept any expression here, as in the NgClass directive - that is, an expression that could to evaluate to one of: string, array, object. Or maybe just accept an object?

In any case, if we are going to support '[class]: exp' here I would strongly suggest changing a selector for the [existing directive](https://

[2015-06-30 12:44] woppa684 commented on #2660
To be sure, the code belows works as intended, but is this the proper way to do it?

'''typescript
/// <reference path="typings/angular2/angular2.d.ts" />
import {Inject, Parent, Component, View, bootstrap, forwardRef} from "angular2/angular2";

@Component({
    selector: "c"
})
@View({
    template: `<p>{{app.message}}</p>`
})
class C {
    app: App;
    constructor( @Parent() @Inject(forwardRef(

[2015-06-30 12:59] woppa684 opened #2787 "Property is always a string"
In the example below 'value' is a number which I want to increment. But, when I press the button I get '41', '411' etc. It appears that the property  'value' is always a string. No matter what kind of type I give it in my component. What would be the correct way to handle this? If I add a minusOne method by the way and add it to a button it DOES work as intended. If I press the plusOne button agai

[2015-06-30 13:01] pkozlowski-opensource commented on #2787
could you try `<c [value]="4"></c>`?

[2015-06-30 13:04] pkozlowski-opensource commented on #2014
@mhevery I'm progressing on the schema support implementation but while coding / thinking some more there are 2 items that need discussing, IMO:
* "global" vs. per `@View` schema - last time we've discussed the concern was that if we declare is as "global" (application-wide) we would have problems with regular directives (since those can be specified per-view). But we [can distinguish between bind

[2015-06-30 13:32] pkozlowski-opensource commented on #2787
Some more context: in your very specific case (`<c value="4">`) we are are not having an expression, but a literal value only. But this literal value is taken from HTML where everything is a string. By doing `<c [value]="4">` you are passing the `4` value through the expression parser where it is interpreted as number literal.

In short: if you want to enforce types, use the expression-binding syn

[2015-06-30 13:55] woppa684 commented on #2787
Ah, that clears some things up for me ... Thanks!

[2015-06-30 13:55] #2787 closed

[2015-06-30 14:03] jakemac53 commented on #2220
@mhevery so did https://github.com/angular/angular/pull/2328 close this out then?

[2015-06-30 14:09] PascalPrecht opened #2788 "fix(http): http class requires @Inject decorator to be injected when using TypeScript"
Not a big deal, but this should work without explicit decorators in TS.

Not sure if I need to do anything in my local environment either (typings?) Would love to fix it, but I think I need some pointers for that, since I have really no idea what teaches TS to translate constructor type annotations to parameter annotations...

[2015-06-30 14:34] ericmdantas commented on #2788
Same with ```FormBuilder```.

[2015-06-30 16:05] woppa684 commented on #2660
And this only works when "App" is in the same file / module right? If I have something like this:

[code]

gets compiled to:

[code]

and of course then I would get the error:
[code]
the forwardRef function here should return amodule_1.Something I guess?

[2015-06-30 16:15] matanlurey opened #2790 "If Injector or DynamicComponentLoader fails, errors are cryptic/not helpful"
E.g. I see stack traces about "dehydrated components" and NPE's accessing ChangeDetector instead of the actual problem (e.g. DCL failed because of X or provider not found).

[2015-06-30 16:34] IgorMinar commented on #2158
I can't repro this.

[2015-06-30 16:44] pkozlowski-opensource commented on #2158
I can see it from time to time locally but can't pin-point the exact command / root cause... But there is definitively sth fishy going on in one of the tasks.

[2015-06-30 16:48] IgorMinar commented on #2701
please reopen if this is still an issue.

[2015-06-30 16:48] #2701 closed

[2015-06-30 16:50] caitp commented on #2158
I had meant to comment on this a few weeks ago, but never did. In my repro attempts, I wasn't able to reproduce this. I gave it another go today, and still no luck reproing --- however the results are slightly different and we do get an abrupt stack trace, which is sort of interesting.

[code]

[2015-06-30 16:56] IgorMinar commented on #1737
#2394 makes sure that node_modules and shrinkwrap file are in sync not that package.json and shrinkwrap are in sync.

[2015-06-30 17:10] alexeagle commented on #1737
That's true, but I think it's less of an issue, since Travis and other users go from the shrinkwrap file, your change to package.json alone would be ignored and whatever you were relying on would break.
Also when I opened this issue, we had more issues with the shrinkwrap instructions being unreliable.
Should we commit to adding that verification? Or else we could close this.

[2015-06-30 18:35] alexeagle commented on #2770
Sounds good - I'll have to wire the TypeChecker to this location so it will need a bit of refactoring.

[2015-06-30 19:12] pkozlowski-opensource commented on #2437
Thnx so much @IgorMinar and @zzo !!! Just tested this locally and it cuts down re-run delay from ~30 secs to ~2 secs! Awesome, thank you!

[2015-06-30 19:48] naomiblack commented on #1489
I'm demoting this one to backlog for now. @fredsa let us know if it's still an issue for you?

[2015-06-30 20:01] naomiblack commented on #2446
Chatted with @alexeagle. He'll own this one, seems straightforward to complete once ts2dart is updated.

[2015-06-30 20:28] vsavkin commented on #2379
I am making some progress on the issue. See https://github.com/angular/angular/pull/2737 https://github.com/angular/angular/pull/2760.

There is one PR left that will remove the app injector tree.

[2015-06-30 21:18] jeffbcross commented on #2788
@PascalPrecht what version are you using? Can you share some code?

In the example used for E2E tests, it is injected fine without explicit decorators: https://github.com/angular/angular/blob/5b5ffe75d0d1a3ac6204114203d8d566d49e9c70/modules/examples/src/http/http_comp.ts#L18

[2015-06-30 21:27] PascalPrecht commented on #2788
It's alpha 28 with typescript. Unfortunately plunkr doesn't support
typescript so there's no way to demonstrate it, but in the end it's really
just importing Http and having angular telling me that it can't resolve a
dependency due to broken annotations.

I can push some code to github tho. Maybe it has something to do with my
local env.

On Tue, Jun 30, 2015, 11:18 PM Jeff Cross <notifications@gi

[2015-06-30 21:47] jeffbcross opened #2793 "Http Backlog"
Prioritized list of features and issues to take care of relating to the `Http` library.

## Closed
 - [x] #2816 _chore(http): add XMLHttpRequest as type on XHRConnection_
 - [x] #2810 _feat(http): simple, dynamic retrying of failed requests_

## Implemented

 - [x] #2564 _refactor(Http): remove HttpFactory_
 - [x] #2415 _feat(http): EventEmitter and Dart support_
 - [x] #2818 _feat(http): add Json

[2015-06-30 22:03] jeffbcross opened #2794 "feat(http): directly return RxJS Observable from Http methods"
Instead of returning the platform-agnostic `EventEmitter` from `Http` methods like `http.request()`, return an observable or stream directly. JavaScript or Dart users shouldn't have to learn about our abstraction in order to make use of the underlying primitives.

Blocked by #3110

[2015-06-30 22:22] #2415 closed

[2015-06-30 22:22] #2564 closed

[2015-06-30 22:35] jeffbcross opened #2795 "feat(http): implement streaming upload/download"
A user should be able to provide observers as part of a `Request` or `RequestOptions` object in order to receive progress updates and chunks of data for uploading and downloading of data.

Download observers will receive `Responses`, while upload observers will receive some form of [Progress Event](https://developer.mozilla.org/en-US/docs/Web/API/ProgressEvent)

To support different semantics of s

[2015-06-30 22:36] yjbanov opened #2796 "Remove version number from package.json; rely on git tag"
We currently record the current version of ng2 in `package.json` and our publish scripts use it to set the version in pub and npm. This makes it hard (impossible) to release ng2 based on SHA that's not the latest master. By moving the version number out of the repo we'll be able to pick any SHA to release from.

[2015-06-30 22:37] yjbanov commented on #2796
/cc @naomiblack @IgorMinar @rkirov

[2015-06-30 22:47] naomiblack commented on #2642
This should be landing by July 1 -- just missed the alpha-29 cutoff. Igor and Brian were pairing on this today.

[2015-06-30 22:49] naomiblack commented on #2775
punted back to backlog as a few other router issues more urgent.

[2015-06-30 22:58] naomiblack commented on #2776
this is blocked by #2640

[2015-06-30 22:59] naomiblack commented on #2776
@btford can you check whether effort I assigned seems reasonable? (If not, please update)

[2015-06-30 23:00] naomiblack commented on #2774
slipped to alpha-30. this was more work than anticipated.

[2015-06-30 23:02] naomiblack commented on #2659
@alexeagle is this fixed now...?

[2015-06-30 23:02] naomiblack commented on #2650
Igor should have something by July 4.

[2015-06-30 23:03] naomiblack commented on #2723
@btford assigning to you for triage -- can you assess whether this is really a router issue, and rough estimate on effort please?

[2015-06-30 23:05] naomiblack commented on #2638
No assignee; less urgent --> backlog. This should be provided by angular core, not just a router change.

[2015-06-30 23:13] yjbanov opened #2798 "Build is failing on DEV build of Dart SDK"
https://travis-ci.org/angular/angular/jobs/69037072

/cc @kevmoo @sigmundch

[2015-06-30 23:19] naomiblack commented on #525
@juliemr can you spin off smaller issues from this that we can assign to upcoming milestones? This is too big a chunk to triage and assign.

[2015-06-30 23:21] naomiblack commented on #1489
@IgorMinar we need to know if there's a repro case for this.

[2015-06-30 23:21] kevmoo commented on #2798
This is related to https://github.com/dart-lang/sdk/issues/23755

We'll need to roll another dart dev build to fix this – Angular may want to disable dev builds until we get there

[2015-06-30 23:22] kevmoo commented on #2798
My local build output

[code]

[2015-06-30 23:24] naomiblack commented on #2158
cannot repro.

[2015-06-30 23:24] #2158 closed

[2015-06-30 23:24] sigmundch commented on #2798
I have a fix on its way, I'll do some extra testing and file a merge request once it's in. I'll keep you posted

[2015-06-30 23:28] jeffbcross opened #2799 "refactor(http): only use readyState in mock connection"
`Connection` instances have a readyState property, with corresponding `ReadyState` enum with values borrowed from `XMLHttpRequest` [readyState](http://www.w3.org/TR/XMLHttpRequest/#dom-xmlhttprequest-readystate) spec. The readyState is useful for tests to easily determine when connections have been fulfilled or not. All use cases for watching `readyState` changes to provide a good user experience

[2015-06-30 23:28] naomiblack commented on #1293
@mhevery community consensus is not in favor of the current proposal. We need a new one. Can you think about this in alpha-31?

[2015-06-30 23:36] jeffbcross opened #2800 "feat(http): implement error propagation in XHRBackend"
Currently, the response created in the `load` event of `XMLHttpRequest` inside `XHRBackend` just creates a `Response` object with the body set, but is not setting the `status` or `statusText` properties from the `XMLHttpRequest` instance. Furthermore, a `type` of "error" should be set to the response in certain conditions, and should be emitted to the `Response` observable/stream as an error inste

[2015-06-30 23:45] jeffbcross commented on #2788
Are you injecting `httpInjectables` somewhere along the way?

[2015-06-30 23:46] IgorMinar commented on #1850
I'm unclear about whether this is fix or not. A PR that seems to be fixing the issue was merged already.

[2015-07-01 00:06] juliemr commented on #428
cc @hankduan

[2015-07-01 00:13] sigmundch commented on #2798
I submitted the fix in master (https://github.com/dart-lang/sdk/commit/4ec3db6947cdbb554c395d4b98196293bf7de3bc), it should hopefully be available in the next dev release.

[2015-07-01 00:17] yjbanov commented on #2798
/cc @tbosch - reactivate dev build when this is fixed. @sigmundch or @kevmoo could you update this issue when the new dev build is available so we could reactivate the dev pipeline?

[2015-07-01 00:17] IgorMinar commented on #2437
there was an issue with this change. I'm working on an alternative solution.

[2015-07-01 00:19] sigmundch commented on #2798
Sure thing. FYI this bug tracks the request to merge this change to the dev channel: https://github.com/dart-lang/sdk/issues/23759, once it gets closed, it should be a matter of time until the bots update and release the new sdk with the fix.

[2015-07-01 00:21] tbosch commented on #2798
Please revert b3fc357a151ea79decbe49e0f55a461b28a1fc58 once this is version of dart is publicly available on the dev channel.

[2015-07-01 00:24] jeffbcross opened #2803 "feat(http): Support many types of body on Request/Response and all ConnectionBackend implementations"
These types should be supported by all backends, as much as each backend is technically capable of supporting:

 * FormData (for request only)
 * Blob
 * Document (for response only)
 * Text (String)
 * JSON

TBD: ArrayBufferView/ArrayBuffer?

All expected response types should be able to be explicitly declared on the `Request`, so that they can be optimized by the underlying primitive (see #2609)

[2015-07-01 00:26] #2642 closed

[2015-07-01 00:31] juliemr commented on #2783
In regards to dart:test:

Most of the things that the test lib does are not generalizable. They are simple functions that wrap around testing functions (like `beforeEach` and `it`). I think there is actually nothing that would be helpful to pull out - we should just have a separate adapter for dart:test.

There are also several matchers and spy functions, which may be nice to have but should be do

[2015-07-01 01:07] alexeagle commented on #2446
that file is shadowed by `types.dart` so it isn't transpiled by ts2dart. We can just revert the dgeni workaround.

[2015-07-01 02:21] jeffbcross opened #2806 "chore(http): assert that url is present in RequestOptions when creating a Request"
[code]

[2015-07-01 03:00] alexeagle commented on #2659
I don't think it has been done.

On Tue, Jun 30, 2015, 4:02 PM Naomi Black <notifications@github.com> wrote:

[2015-07-01 03:03] btford opened #2807 "feat(router): support deep-linking to siblings"
Currently, `RouteLink` only supports routes beginning with `./` or `/`. In order to add a link in one route's component that links to a sibling route, we need to add support for links beginning with `../`.

[2015-07-01 03:06] naomiblack commented on #1953
Naomi from the Angular Material project here. We think it's useful for folks to have the option of both libraries. We're also developing Angular Material in Angular 2 for selfish reasons: it's an excellent proving ground for many of our internal assumptions about the new Angular 2 codebase.

As a developer, you should feel free to use whichever component library best works for your app.

[2015-07-01 03:36] naomiblack opened #2808 "Provide a 'whenStable' to asynchronously notify unit tests when Angular is ready"
e.g. an "onStable" task available for testing. This should include the ability to also check for events that are relevant to unit tests, but aren't part of change detection (e.g. animations).

c.f. internal bug https://b2.corp.google.com/issues/21869180

Also see related issues #428 and #1978.

[2015-07-01 03:39] btford opened #2809 "clang-format is not idempotent"
In this diff: https://github.com/angular/angular/commit/27c050be863e24f3a99706a890a44f5ec8814acc

When the code is in the state on the left side of the diff, `clang-format` transforms it to the state on the right. And when it's in the state on the right, `clang-format` transforms it to the state on the left.

[2015-07-01 03:43] naomiblack commented on #2809
@mprobst can you have a look?

[2015-07-01 04:00] mhevery commented on #2014
Sounds reasonable. Let's give that a try first and then revisit if it will not be sufficient.

[2015-07-01 04:04] mhevery commented on #2364
I think this issues was before we had `host` properties. So your Alderney syntax is correct. As far as accepting full expressions, I think we would like to limit the expressions here as much as possible do to test ability concerns. Let's do it without and revisit if it is not possible.

[2015-07-01 04:08] jeffbcross opened #2810 "feat(http): simple, dynamic retrying of failed requests"
In both Dart and JavaScript, there should be a common way to perform simple retries of failed requests, and a way to provide logic to determine whether or not a request should be retried. Functionality should be on top of `retry` and `retryWhen` methods of RxJS for the JavaScript side. For Dart, I think a wrapper would have to be created to create new streams when previous streams error.

The API

[2015-07-01 04:30] naomiblack commented on #1803
@alexeagle should this issue be closed in that case?

[2015-07-01 04:31] naomiblack commented on #1610
@juliemr @vicb could you update this issue with status? I've just slipped it to alpha-30.

[2015-07-01 04:32] naomiblack commented on #2647
reminder: this is blocking some of the api docs effort.

[2015-07-01 04:33] naomiblack commented on #2807
@btford can you please add labels for effort, type, priority so that this shows up in the tracker?

[2015-07-01 04:40] jeffbcross opened #2812 "feat(http): add timeout support to `Request`"
Since `XMLHttpRequest` in JS/Browser and `HttpRequest` in Dart both allow specifying a timeout to automatically abort requests, the `Request` object should allow specifying this property.

Fetch doesn't yet support manual cancellation or user-defined timeout, and it could have undesired effects if timeout functionality were implemented in the `Http` library. For example, if a fetch-backed request

[2015-07-01 04:56] dsebastien commented on #2788
Hey there. I have a very shallow understanding of how DI works in Angular2 (I'm still down below on the learning curve ^^), but I encountered this issue (or a related one), using Alpha 28 & TypeScript. Here's my scenario.

I have a component in which I inject a 'service' class, which does get instantiated & injected by Angular (thanks to the appInjector property) but that in that service class I w

[2015-07-01 05:07] #2437 closed

[2015-07-01 05:19] zzo commented on #2437
Sweet

[2015-07-01 06:45] PascalPrecht commented on #2788
@jeffbcross yeap, `httpInjectables` are passed to `bootstrap()`. I'm going to setup a repo so you can play with the code.

@dsebastien if you have `httpInjectables` passed your your `bootstrap()` function, all the injectables should be available application wide. Which means, there's no need to make your service a component to use `appInjector`. You should be able to just do this: https://github.c

[2015-07-01 06:49] vicb commented on #2809
clang format has a know issue with template string, see https://github.com/angular/clang-format/issues/13

Closing the issue here it is it already reported on the clang-format repo.

[2015-07-01 06:49] #2809 closed

[2015-07-01 07:56] TedSander commented on #1822
I believe this is closed. @yjbanov @naomiblack

[2015-07-01 07:58] TedSander commented on #2611
This got closed by another fix. It is fixed at Head.

[2015-07-01 07:58] #2611 closed

[2015-07-01 08:03] rolandjitsu opened #2813 "@InjectPromise behaves as @Inject"
This may relate to [1623](https://github.com/angular/angular/issues/1623) as when I am using `@InjectPromise(MyService) tf: Promise<MyService>` on a component I get an exception telling me that I cannot load `MyService` synchronously because it's provided as a promise:

![screenshot 2015-07-01 10 03 13](https://cloud.githubusercontent.com/assets/1479737/8450162/5d48d596-1fd8-11e5-9ac4-31fe23c1502e

[2015-07-01 08:40] PascalPrecht commented on #2813
@rolandjitsu which Angular version are you using? There has been a huge refactoring lately in the DI system https://github.com/angular/angular/commit/22d39438315ec718c860cef46a1c14acac828065

That refactoring removed `@InjectLazy` and `@InjectPromise` and also `.toAsyncFactory()` binding.

[2015-07-01 08:42] rolandjitsu commented on #2813
@PascalPrecht I am using alpha `28`. If those were removed, what can I use for async DI?

[2015-07-01 08:43] PascalPrecht commented on #2813
@rolandjitsu I don't know tbh. Trying to catch up with the latest changes, but it's pretty much a full-time job. :(

[2015-07-01 08:45] petebacondarwin commented on #2659
I will look at this today

[2015-07-01 08:48] PascalPrecht commented on #2813
@rolandjitsu apparently this is now done using `DynamicComponentLoader` https://github.com/angular/angular/commit/22d39438315ec718c860cef46a1c14acac828065#diff-de154d7de5803f418bd0c8b5438f444eL86

[2015-07-01 08:49] rolandjitsu commented on #2813
@PascalPrecht yeah, I too have a hard time catching up with all the changes, but it seems like it's stabilizing a little bit and some of the API hasn't drastically changed. I think this refactoring is not yet in the version I am using.

[2015-07-01 09:13] rolandjitsu commented on #2813
@PascalPrecht actually, it seems like I can find the same code in the npm version, even though this commit seems only 4 days old.

[2015-07-01 10:12] kiranintouch commented on #1655
@SamVerschueren : Thank you for the solution

[2015-07-01 10:44] rolandjitsu commented on #2813
It seems like `dynamicComponentLoader.loadAsRoot` expects a directive (`Error during instantiation of Test! (Todos -> Test). ORIGINAL ERROR: No Directive annotation found on Test2`), so I am unsure if I can load a service, but that may be due to the version I have.

[2015-07-01 11:54] #2446 closed

[2015-07-01 13:38] martinmcwhorter commented on #2785
Zone.js has its own github repo https://github.com/btford/zone.js/

The version in the Angular repo may have some new bug fixes/features. Hopefully those will be merged into thr main repo.

[2015-07-01 13:51] vicb commented on #2785
`Zone.js` is one thing (and Dart has the "equivalent" native Zone). `NgZone` is an other thing built on top of `Zone.js` / `Zone`.

If we split `NgZone` to a separate package, it would probably make sense to move `NgZone` (renamed) to the zone.js repo.

[2015-07-01 14:37] tbosch commented on #2355
Didn't have time to verify this. I bet this is already solved (we had issues before with indices being out of date when there was a `<content>` or `<style>` tag in the template).

[2015-07-01 14:38] tbosch commented on #2529
Status: Have this working to about 50% locally

[2015-07-01 14:42] tbosch commented on #2162
We are replacing our content projection with a new and faster mechanism (see #2529). In there, we don't call `elementMatches` only during compilation, so this should not be a problem any more.

[2015-07-01 14:42] tbosch commented on #1989
Needs to support the cases: SubView, single stamp out, multiple stamp out

[2015-07-01 14:42] vicb commented on #2384
As indicated in my comment above, I'm not sure if this issue makes sense for styles. Html should be enough.

[2015-07-01 14:43] tbosch commented on #1989
Depends on #2529 as this will introduce SubViews which should be transparent to the user of this API.

[2015-07-01 14:43] tbosch commented on #1931
This will be solved via #2529

[2015-07-01 14:44] vicb commented on #1904
I won't have time to work on this and I'll be preparing the move in July.

[2015-07-01 14:55] naomiblack commented on #2383
Moving to alpha-31 -- this needs a doc outlining possible approaches. @vicb @tbosch

[2015-07-01 14:58] naomiblack commented on #2384
@tbosch can you pick this one up from @vicb or reassign?

[2015-07-01 15:26] tbosch commented on #2477
Could we wait a little bit more until we our intern that works on WebWorkers is a little farther? So we know what we actually need there?

[2015-07-01 15:26] naomiblack commented on #1625
Needs @mhevery to sync with @vsavkin before we can move forward.

[2015-07-01 15:27] alexeagle commented on #1803
Last thing to do here is update the release instructions.

[2015-07-01 15:56] vicb commented on #2477
Closing, will open a new more generic issue

[2015-07-01 15:56] #2477 closed

[2015-07-01 15:59] jeffbcross opened #2816 "chore(http): add XMLHttpRequest as type on XHRConnection"
Pending merging of https://github.com/angular/ts2dart/pull/232
`XHRConnection` private var `_xhr` should be typed as such: https://github.com/angular/angular/blob/b3d98cba771c2bd57c2f061f990be16417037f55/modules/angular2/src/http/backends/xhr_backend.ts#L27

[2015-07-01 16:27] jeffbcross opened #2818 "feat(http): add JsonP and JsonPBackend"
Create a new subclass of `Http` called `JsonP`, which uses a new `JsonPBackend` to perform requests using [JsonP](https://en.wikipedia.org/wiki/JSONP) techniques.

The callback name to provide in the URL should be `JSON_CALLBACK`, similar to AngularJS 1.x.

The `JsonP` implementation should throw if asked to perform the request with a method other "GET".

This should have its own `injectables` so

[2015-07-01 16:41] IgorMinar commented on #1489
@fredsa's repro: http://plnkr.co/edit/lYEwRcj3ZQc1TTIbXdxZ?p=preview

however I don't think that this repro is the only problem. @johnlindquist mentioned during his presentation at AngularU that there are other exceptions being swallowed during bootstrap. @johnlindquist do you have a repro?

[2015-07-01 16:42] IgorMinar commented on #1489
@caitp  can you please look into this issue? I suspect that the issue is with long-stacktraces zone, but we need to investigate to be sure.

[2015-07-01 17:02] alexeagle commented on #1803
Updated release instructions. We should have a typings file in DefinitelyTyped for each angular2 release.

(https://docs.google.com/document/d/1mUlhZejeOoQXVFKfI9-9CPPWtFRCZOpB76oLHS-v5C4/edit#)

[2015-07-01 17:02] #1803 closed

[2015-07-01 17:11] IgorMinar commented on #2536
we moved most of the work out. pub get is needed for transformers to work, so I don't think we can remove that. everything else happens after tests.

[2015-07-01 17:11] #2536 closed

[2015-07-01 17:11] vicb commented on #1489
- `NgZone` captures exceptions and forward them to the error handler,
- The default error handler `console.log` error,
- You can pass a custom error handler during the `bootstrap()` as the 3rd component

IIUC the original issue, the requested feature (a custom error handler) is supported since ever (or almost). Might be a doc only issue ?

[2015-07-01 17:12] pkozlowski-opensource commented on #2536
Thnx @IgorMinar !

[2015-07-01 17:18] IgorMinar commented on #2722
in Angular 1 we have this urlUtil library that we use for parsing urls: https://github.com/angular/angular.js/blob/master/src/ng/urlUtils.js

it relies on the internal browser parser and works on all browsers down to IE8 or 9.

the only downside is that it requires DOM, which would be problematic in node.js, but there we have parse5 so it should be fine too.

Could that be used instead?

[2015-07-01 17:19] IgorMinar commented on #1814
I'm not going to finish this before my vacation, so I'm removing it from alpha-30.

[2015-07-01 17:23] IgorMinar commented on #1489
I think that problem is the default behavior. I think we should rethrow by default and if you want to log stuff only, then that should be an opt-in.

[2015-07-01 17:30] juliemr commented on #2808
@hankduan could you take a look at this one? My understanding is that this issue is about finishing all tasks specifically for unit tests, but it's related to then `whenStable` API that we'd like to make for testability

[2015-07-01 17:34] caitp commented on #1489
Debugging, even with a custom error handler which throws, it gets handled and used to reject a promise. The unhandled rejection doesn't seem to be logged in whatever promise implementation is being used, which is sort of weird

[2015-07-01 17:37] juliemr commented on #1610
No update from me.

[2015-07-01 17:48] caitp commented on #1489
I think this is blocked on https://github.com/jakearchibald/es6-promise/issues/70, which would solve this. For the time being we probably want to keep logging by default, because the thrown exception will just be eaten.

[2015-07-01 17:52] yjbanov commented on #2770
Just so we're on the same page. This can only be a _temporary_ solution. We still need to find a long-term solution that does not blindly erase types in the resulting Dart code. As an example, everything under `modules/angular2/src/render/dom` is currently untyped for no good reason (see e.g. DomElement, DomView, LightDom).

Do we have an issue already or should I log one?

[2015-07-01 17:55] caitp commented on #1489
As a side-note, in the v8/Blink implementation, unhandled rejections are only printed, and are never passed to the onerror handler https://chromium.googlesource.com/chromium/blink/+/7cfccdd6ae324eb3998ccb683969f39f0c6b15f4/Source/bindings/core/v8/RejectedPromises.cpp#88 --- plus this works inconsistently in different browsers. Promises kind of suck this way

[2015-07-01 18:03] naomiblack commented on #2774
Pushed to alpha-31 -- Matias and Brian need to pair in person to get this started.

[2015-07-01 18:20] QuantumInformation commented on #1953
@naomiblack thanks for joining the discussion:)

Would it be possible to share the css between both polymer and ng-mat 2?

[2015-07-01 18:41] jeffbcross opened #2822 "feat(http): helpers/guides for short polling"
Short polling consists of an application requesting data from the same endpoint at a specified interval (i.e. request any new comments on this github issues every 10 seconds), as opposed to long polling, which consists of making a request, and the backend waiting to complete that request until there's data to send. (i.e. request new comments on a github issue, wait until comments are returned, the

[2015-07-01 19:18] matsko commented on #2323
@matanlurey did you have any child components present in the page that had routing with `@RouteConfig`?

[2015-07-01 20:35] vsavkin commented on #2379
Closed https://github.com/angular/angular/pull/2797

[2015-07-01 20:35] #2379 closed

[2015-07-01 21:18] IgorMinar opened #2824 "forms: submit fires synchronously while model changes happen async"
see: https://github.com/IgorMinar/todomvc/commit/c1c9be98c0f24b1c65f5974b229bc08b1251cf52#diff-370a0e3c1e8590cb7dc171e741340f29R31 - the setTimeout is used to force correct order of events (ngmodel settles first, the submit is handled)

per discussion with Victor, this is because our current rx version that we use for delivery of ng-model events is async. This will change with rx3.

If we switch o

[2015-07-01 21:26] naomiblack commented on #2647
P2 since design input for pipes is more urgent.

[2015-07-01 21:31] naomiblack commented on #2220
@yjbanov can you have a look at this to see if it's actually closed by #2328?

[2015-07-01 21:32] naomiblack commented on #2072
I'd like to fix this but I'm going to punt it to backlog for now, unless it's a high priority for the Dart team.

[2015-07-01 21:34] juliemr opened #2825 "Implement findBindings for Testability"
`window.getAngularTestability(body).findBindings(myElement, 'my-binding-name')` should work as it does for [Angular1](https://github.com/angular/angular.js/blob/291d7c467fba51a9cb89cbeee62202d51fe64b09/src/ng/testability.js#L17)

There was a working implementation at https://github.com/angular/angular/pull/1855, but we may want to take a different strategy.

[2015-07-01 21:36] naomiblack commented on #1745
@ttowncompiled are you working on this issue? If not, could you unassign it? @rkirov I am demoting to P2 since this hasn't been touched since it was filed and I don't hear any complaints...

[2015-07-01 21:40] juliemr opened #2826 "Provide a way to modify modules via e2e tests"
Provide a way for an end to end test to modify modules during page load. In angular.js 1, this is done by setting a variable on the window that Angular searches for before it bootstraps itself. It allows the test writer to override potentially expensive modules that they do not want used in the test.

In pseudocode, something like this.

Suppose you have a EmailSender binding which you don't actua

[2015-07-01 21:42] petebacondarwin commented on #2659
I have provided a pr.

[2015-07-01 21:45] juliemr commented on #525
Done - issues linked above, and I'm removing the milestone.

[2015-07-01 21:59] juliemr commented on #1610
@naomiblack Neither @vicb nor I have time to deal with this in the alpha-30 timeframe, due to vacations 'n' holidays. Vic's adding some context comments. Any chance we can find another owner?

[2015-07-01 22:14] naomiblack commented on #1610
Assigning to @sjelin. Need to find someone to pair with him on it as this is new angular 2 territory for him.

[2015-07-01 22:25] alexeagle opened #2829 "Remove traceur from the build"
Also removes traceur-runtime by replacing with per-feature polyfills.
See WIP: https://github.com/angular/angular/pull/2573
Some obstacles documented here: https://docs.google.com/document/d/1gD-yGNp6TDR6YvfrQAUm47hGT0rdGykS6ctUrPTx2eU/edit

[2015-07-01 22:28] alexeagle opened #2830 "remove `rtts_assert` subproject and figure out a way to trigger development mode"

[2015-07-01 22:28] alexeagle commented on #2335
Moved some parts of this:
remove traceur: https://github.com/angular/angular/issues/2829
rtts_assert: https://github.com/angular/angular/issues/2830

Removed a couple items we don't plan to do now.

Otherwise, this is already done.

[2015-07-01 22:28] #2335 closed

[2015-07-01 22:29] yjbanov opened #2831 "DI: support factories that return null"
Currently they cause a cyclic dependency error

[2015-07-01 22:30] alexeagle commented on #2829
Also needs to happen:
- [ ] remove `es5build.js` from our npm releases

cc: @ttowncompiled

[2015-07-01 22:33] alexeagle opened #2832 "Remove _abstract() workaround"
We have non-idiomatic TS code like
[code]

which I believe we could represent as
[code]

We should try that and then remove all the awkward "pure abstract classes" in the angular codebase.

[2015-07-01 22:35] alexeagle opened #2833 "Much of the public API lacks types on method parameters"
Similar to work in https://github.com/angular/angular/pull/2746 which handles return types.
We should add a tslint check that our public API methods declare the types of their parameters.
This is important for consumers like the `angular2.d.ts` and Dart API docs, which otherwise show these as `any`/`dynamic`

[2015-07-01 22:40] alexeagle opened #2834 "Types for Decorators are lost in angular2.d.ts"
our current published `.d.ts` has
[code]
which defeats editor intellisense for writing your first line of angular2 code.

We need some way to carry the types through our Annotation->Decorator code which uses `util/decorators:makeDecorator` .

See also Misko's https://github.com/mhevery/angular-u-app/blob/master/lib/angular2.d.ts which properly represents all the API surface for using Decorators wi

[2015-07-01 22:51] mlaval commented on #1875
Fixed by #2676 and https://github.com/angular/ts2dart/pull/224 which was released in ts2dart 0.6.6
Working fine now!

[2015-07-01 22:52] #1875 closed

[2015-07-01 23:07] tbosch opened #2835 "Add `TestComponentBuilder.create` and make all integration specs sync"
Right now, `TestComponentBuilder` provides `.createAsync`, which returns a promise. However, as we also have `fakeAsync` working now, we can implement `TestComponentBuilder.create(type)` which would return the component instance synchronously like this:

[code]

Given this, all tests in `core/compiler/integration_spec` can be made synchronous.

[2015-07-01 23:07] tbosch commented on #2835
A side effect of this is that we get real stack traces when one of the integration tests fail, not just `Test timed out` (for JS).

[2015-07-01 23:13] #2756 closed

[2015-07-01 23:20] juliemr commented on #1978
Closing in favor of #2808

[2015-07-01 23:20] #1978 closed

[2015-07-01 23:22] matanlurey commented on #1610
GT is no longer blocked on this, as we are using the Dart transformer. /unsub

[2015-07-01 23:23] matanlurey commented on #2785
+1. We can talk about this later, no rush.

[2015-07-01 23:23] juliemr commented on #2808
We should do this by making a private API in LifeCycle, and exposing it via Testability. We've decided that the same API can be used for (asynchronous) unit tests and end to end tests.

[2015-07-01 23:24] IgorMinar commented on #428
this should be implemented using the result of #2808

[2015-07-01 23:24] naomiblack commented on #2303
lower priority. Yegor has a PR in progress but moving back to backlog for now.

[2015-07-01 23:33] timkindberg commented on #1293
@afirdousi I guess I figured the 'container' was really just an array of directives. So directive should easily be able to `.flatten` the directives. I think a new property should be avoided, if possible.

[code]

[2015-07-01 23:53] jeffbcross opened #2840 "feat(http): accept string for method in RequestOptions class and interface"
Currently, the method must be of the `ResponseMethods` TypeScript enum, which is really an integer. So to create a request in TypeScript, one would use the enum to describe the method instead of passing in the method string:

[code]

This adds some convenience for TypeScript and Dart users to get some IDE/compiler help to make sure the method is a valid value. But plain old ES5 users probably don'

[2015-07-02 00:04] alexeagle commented on #2770
Let's keep this issue open for the long-term solution (because Dart is in the title)
I don't have an idea what to do for that, though. Assign to you for now.

[2015-07-02 00:09] #2831 closed

[2015-07-02 00:54] caitp commented on #1489
So uh, per the comments above, changing the default error handler to throw won't help with a good number of exceptions, and logging and throwing by default will be very spammy in non-promise cases. Making es6-promise throw on unhandled rejections would help, but is not a super-realistic goal, and still doesn't really solve the problem.

[2015-07-02 05:03] matsko commented on #2323
I'm still waiting on hearing back from @matanlurey regarding his application example setup so that I can reproduce the bug.

[2015-07-02 06:02] Delagen opened #2841 "Http always return status 200"
[code]

In network tab on developer tools in browser status 404.
But in console always object with status 200.

[2015-07-02 06:22] Delagen opened #2842 "http.request always use get"
[code]
send GET request instead of supplied POST

[2015-07-02 06:23] vicb commented on #1489
Also see https://github.com/tildeio/rsvp.js/issues/386 (related to uncaught Promises)

Making es6-promise throw would be a departure from the current browsers behavior (plus there might be false positive as described in the link above). IMO it should only be considered for dev mode.

[2015-07-02 06:24] vicb commented on #2842
with which release or SHA1 ?

[2015-07-02 06:24] vicb commented on #2841
release / SHA1 please ?

[2015-07-02 06:28] Delagen commented on #2841
latest alpha 29 npm release

[2015-07-02 06:29] Delagen commented on #2842
latest alpha 29 npm release

[2015-07-02 06:34] Delagen opened #2843 "Router broken"
[code]
29-alpha in 28-alpha code works
[code]

[2015-07-02 06:34] vicb commented on #2832
I think `interface`s still can not be used with the DI (ie `bind(Interface).toClass(Impl)`).
That should explain why we have a few occurrence of this pattern.

[2015-07-02 06:35] vicb commented on #2843
Please add more information:
- expect result,
- actual result,
- release / sha1,
- repro case.

As is the issue is helpless

[2015-07-02 06:36] mhevery commented on #1293
@pkozlowski-opensource what happened to: https://github.com/angular/angular/pull/2508? It was supposed to resolve this issue.

[2015-07-02 06:37] Delagen commented on #2843
Sorry. Updated top entry

[2015-07-02 06:38] vicb commented on #2843
What browser ?

[2015-07-02 06:42] Delagen commented on #2843
Opera 32
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/45.0.2421.0 Safari/537.36 OPR/32.0.1899.0 (Edition developer)

[2015-07-02 06:43] Delagen commented on #2843
I debugged and in this method come String. So String no reduce method

[2015-07-02 06:46] vicb commented on #2843
The issue must be somewhere else as the function expects a List:
```function splitAndFlattenLinkParams(linkParams: List<any>): List<any> {```

[2015-07-02 06:55] mhevery opened #2844 "Allow easy way of subclassing Views"
# Goal

Listing directives in `@View` is verbose. For this reason it should be easy to make subclass of Views which have a preconfigured set of directives.

# Implementation

- [ ] Rename current `View` to `BaseView`.
- [ ] Introduce a concept of extending or subclassing the `View` where it is easy to list preset values.
- [ ] Introduce `prototype` field on the `View` which points to an existing `

[2015-07-02 06:55] mhevery commented on #1293
Closing in favor of: https://github.com/angular/angular/issues/2844

[2015-07-02 06:55] #1293 closed

[2015-07-02 06:57] mhevery commented on #2647
I am hoping that I will get a chance to work on this in the next few days.

[2015-07-02 07:00] pkozlowski-opensource commented on #1293
@mhevery I had pbs making #2508 to work so it kept moving from release to release :-/ But this PR was WIP, I never really managed to get things working correctly in both JS and Dart :-(

I will look / start working on #2844 instead.

[2015-07-02 07:04] mhevery commented on #2721
- The syntax should be `<input #user="element">{{user.value}}` not `<input #user>{{user.$native.value}}` since `user` may not have `$native` field if it is an angular component.

- I am a bit on fence on this, but I think we can give this a try, and if we don't like it we can roll back. I don't see a lot of down side to giving it a try and collecting more data.

[2015-07-02 07:06] Delagen commented on #2843
As you can see in template, I don't supply any route params

[2015-07-02 07:08] vicb commented on #2683
@mjw56 are you loking at this ?

[2015-07-02 07:08] mhevery commented on #2732
I believe Angular 2 already does all of the above.

Because these are requests in the land of opinions, rather than measurable yes/no answers, it would be hard for us to clearly say we have done all of the above. This means that this would never get closed. For this reason we are aggressive about closing issues which don't have clear deliverables.

[2015-07-02 07:08] #2732 closed

[2015-07-02 07:11] mhevery commented on #2739
We do use system.js, but an older version. We are in the process of upgrading but it is blocked on removing traceur.

I am going to close this as it is a dup of work we are already doing.

[2015-07-02 07:11] #2739 closed

[2015-07-02 07:13] mhevery commented on #2753
`ng-include` will not be added as it has security issues which can not be resolved without breaking its semantics.

This use case will need to be handled by custom renderer.

[2015-07-02 07:13] #2753 closed

[2015-07-02 07:15] rolandjitsu commented on #2739
@mhevery sounds fair to me :)

[2015-07-02 07:17] Delagen commented on #2843
Updated template to
[code]
So it works. Actual documentation missing ((

[2015-07-02 07:17] #2843 closed

[2015-07-02 07:21] vicb commented on #2843
It is documented here: https://github.com/angular/angular/blob/d1393b058134724fd1299605c463f9c0526dd82c/modules/angular2/src/router/router_link.ts#L22

https://angular.io/docs/js/latest/api/router/RouterLink-class.html is behind and should be updated shortly

[2015-07-02 07:24] mhevery commented on #2765
This could be solved by `selector: '[bind-class]'` which would only trigger on expression bindings.

True, but it creates this strangeness which is:
[code]
It feel strange that we have class, and then we just jump to `ng-class`

This case already exists: `<div class="foo" [class]" 'foo' " [class.foo]="true">`

Could you enumerate how it would help?

The mental model is that `[prop]` binds to prope

[2015-07-02 07:28] mprobst commented on #2770
@yjbanov I've added you to a thread with the Dart people on this - we're blocked by Dart making progress here. The `dart:html` and `package:html` packages are incompatible, there simply is no way to express 'an Element, either from dart:html or package:html' in Dart.

[2015-07-02 07:28] mhevery commented on #2782
This issue needs better explanation. What is the seen vs expected behavior. What should be done about this.

[2015-07-02 07:28] vicb opened #2845 "feat(router): improve RouterLink usability with a Link DSL"
```<a router-link="/route1">route1</a>``` will crash badly (see #2843) because the expected syntax is
```<a [router-link]="['/route1']">route1</a>```

What about allowing the former syntax ? (using an array is overkill for simple use cases).

If we want to support array only, we should check the value when it is set.

/cc @Delagen

[2015-07-02 07:31] mhevery commented on #2786
Can not reproduce, please create full repro on http://plnkr.co/ and reopen the issue.

[2015-07-02 07:31] #2786 closed

[2015-07-02 07:32] mhevery commented on #2790
Can you add repro case or at least the stack trace. This is not very actionable.

[2015-07-02 07:41] #2543 closed

[2015-07-02 07:48] mhevery commented on #2639
DONE. Limited non breakable space so I did not add the rest of the text.

[2015-07-02 07:48] #2639 closed

[2015-07-02 08:24] dsebastien commented on #2788
@PascalPrecht is appInjector still there in alpha 29? I'm under the impression that I should be using something else now, I just don't know what ;-)

[2015-07-02 09:05] PascalPrecht commented on #2788
@dsebastien currently it's `viewInjector`. Things are moving fast: https://github.com/angular/angular/blob/master/modules/angular2/src/core/annotations_impl/annotations.ts#L907

Not sure if this is already part of your local version tho

[2015-07-02 09:14] dsebastien commented on #2788
@PascalPrecht i'll take a look at it thanks. That's what I get when I try and play with alpha software.. But it's interesting as it allows to better understand (progressively) how it all evolves :). The biggest pain for me now is the fact that the typings on DefinitelyTyped always lag behing/are incomplete (I know this is being worked upon).

[2015-07-02 09:17] afirdousi commented on #1293
Would love to help on this and other similar issues @mhevery @pkozlowski-opensource

[2015-07-02 10:29] PascalPrecht commented on #2788
@jeffbcross okay so the repository is http://github.com/kanvaz/kanvaz-app

You need to checkout the `webpack` branch. Run `npm install` and then `npm start`

You'll prolly get some errors due to a non existing server but to reproduce the `@inject` problem, try to change this line: https://github.com/kanvaz/kanvaz-app/blob/webpack/src/app/services/kanvaz_service/kanvaz_service.ts#L12

Let me know i

[2015-07-02 11:39] pkozlowski-opensource commented on #1293
@afirdousi rest assured that this is an important topic for us and we are trying to find the best possible solution here.

[2015-07-02 12:13] PascalPrecht commented on #2844
But creating a subview for a component is optional right? E.g. if I don't need anything than just a template I can still use `@View` decorator?

[2015-07-02 12:47] caitp commented on #1489
I don't think the "macro-task false positive" is realistically something that people will run into, and if they do it won't really matter.

as noted before, the Chrome thing does not actually throw anything, it just logs to the console --- the window.onerror handler never gets triggered (which is what is being asked for by the OP, IIUC). This is just not how promises work anywhere (which might be

[2015-07-02 14:34] alexpods commented on #2844
@PascalPrecht If I understood this proposal correctly, `@View` decorator will be renamed to `@BaseView` and you'll can continue to use it.

IMHO: creating different view types only for listing of directives looks like completely overkill to me.

[2015-07-02 15:18] caitp commented on #2818
Jeff suggested I might take this one as I implemented this before --- I'll work on this for m31?

[2015-07-02 15:22] caitp commented on #2417
I'd like to take this one on as well, but if someone wants this they can take it

[2015-07-02 15:29] vicb commented on #2383
I won't have time to work on this before August, please find details of what has been tried in [this document](https://docs.google.com/document/d/1qlIJ6jWa-e83omMEKoosdA3cij9n8IEvIHiJ0i4MkaU/edit?usp=sharing)

_I should be available to answer questions in the coming weeks_

[2015-07-02 15:44] mhevery opened #2849 "Docs: missing features from dgeni .d.ts generation"
# Interfaces with calls

source:
[code]

generates `angular2.d.ts`:
[code]

# Optional properties

[code]

generates:
[code]

[2015-07-02 15:47] #2687 closed

[2015-07-02 15:51] pkozlowski-opensource commented on #2844
This is correct

Agreed, but IMO it is more complex than this. Listing all the directives all the time isn't fun, either...

[2015-07-02 16:40] danhalliday opened #2850 "Compile all components to one JS file"
I'm trying to work out how to compile all of my TypeScript components to one JavaScript file. My app will have 50-100 components, so it's obviously not feasible to load them individually using `System.import()`.

Concatenating compiled JavaScript files doesn't work because of the duplicate code. Concatenating the TypeScript files almost works, except for all the duplicate `import` symbols.

How to

[2015-07-02 16:42] caitp commented on #2597
@georgiosd could you please create a reproduction of your issue, either a tarball or a plnkr?

[2015-07-02 17:05] fredsa commented on #1489
I'd like to have a global error handler of some sort which can, either at
development time or in production builds, intercept the truly unexpected
exceptions and do something with them.

- In development this is useful for showing a cleanly formatted and
detailed exception in the browser UI or elsewhere.

- In production this is useful to inform the user that the web app is (now)
broken in some ex

[2015-07-02 17:07] caitp commented on #1489
the error is already logged in the plnkr, by the default exception handler. It never hits `window.onerror`, because promise rejections just don't do that anywhere (although I agree it might be useful if they did, so I've brought it up on whatwg/javascript).

If you wanted to explicitly handle the bootstrapping error, you could `bootstrap(...).catch(function(e) { console.error(e); });` or something

[2015-07-02 17:10] pkozlowski-opensource commented on #2850
@danhalliday you need to chose one of the supported module formats (I would suggest System.register) when transpiling from TS->ES5  and then concatenate files. Some of the module transport formats are concatenation-friendly.

You might want to look at the setup I've got in https://github.com/pkozlowski-opensource/ng2-play to see what I mean. There are some pointers to learning materials in the rep

[2015-07-02 17:10] #2850 closed

[2015-07-02 17:15] IgorMinar commented on #1489
Relevant discussion in the web spec land: https://lists.w3.org/Archives/Public/public-whatwg-archive/2015May/0051.html

@caitp's proposal to do:
[code]

works but only for errors thrown during bootstrap. any other error will not be caught in this way.

We could allow users to register custom error handlers via zones, but that will not solve the issue with breaking on "uncaught" exceptions.

[2015-07-02 17:37] matanlurey commented on #2790
Yes I'll post repros for both cases.

[2015-07-02 18:16] georgiosd commented on #2597
@caitp really sorry guys, I had to abandon the 2.0 branch for now because I wasn't making any progress. I presume this will be fixed indirectly one way or another or the above may be enough to reproduce it.

[2015-07-02 18:34] dsebastien commented on #2850
You might also be interested by the following: I build in two steps: #1 transpiles TS to es5/commonjs and #2 bundles it all for production:

https://github.com/dsebastien/midnightLightV2/blob/master/gulp/tasks/scripts-typescript.js
https://github.com/dsebastien/midnightLightV2/blob/master/gulp/tasks/scripts-javascript-dist.js

I assume that when the final version of TypeScript 1.5 will be out I'll

[2015-07-02 20:22] caitp commented on #2597
The gruntfile doesn't even produce a build of your application and there's no info about your app structure so trying to fill in the blanks is taking too much effort, sorry dude

[2015-07-02 20:53] georgiosd commented on #2597
I'll see if I can pull this version from my repo history

[2015-07-02 20:53] bjones6 opened #2855 "Mismatch of dependencies in controller declaration causes bizarre error, ''TypeError: object is not a function'"
Perhaps I'm misunderstanding how controllers should be declared but I came across a particularly large snake in the grass that took me awhile to solve.

Aforementioned error is caused by the following code:

[code]
It would seem that parameters are passed to the function argument in the order they are declared in the array.  Such that:

[code]

Is this by design? I find it a miracle that nowhere e

[2015-07-02 20:58] gdi2290 commented on #2855
Yo, this is the angular2 codebase and you're looking for the angular1 codebase [angular/angular.js](https://github.com/angular/angular.js/issues/new). With that said yes this is by design and personally you shouldn't manually annotate your controller. Please consider adding [ng-annotate](https://github.com/olov/ng-annotate) in your build step

[2015-07-02 21:18] #2855 closed

[2015-07-03 01:02] caitp commented on #1489
https://github.com/domenic/unhandled-rejections-browser-spec Domenic is working on this I guess, which sort of solves the problem (although I think a number of the features in that proposal don't add a whole lot of value) --- He says it's implemented in Blink behind a flag, but I don't believe this to be true

[2015-07-03 07:58] #2659 closed

[2015-07-03 09:38] #2849 closed

[2015-07-03 09:39] mhevery opened #2859 "Incorrectly generated .d.ts file with generics"
[code]

generates

[code]

[2015-07-03 14:44] timjacobi commented on #2842
Spotted and happy to work on it

[2015-07-03 14:46] caitp commented on #2842
that seems like a bug with the mergeOptions method, IIRC (was looking at this yesterday)

[2015-07-03 15:03] timjacobi commented on #2842
https://github.com/angular/angular/blob/master/modules/angular2/src/http/http.ts#L118
I think the problem is that we're passing `RequestMethods.GET` in here. Should be `null` instead.
I have a test case to verify this.

[2015-07-03 15:07] timjacobi commented on #2842
I have fixed it. Do you expect a test case for each HTTP verb?

[2015-07-03 15:07] caitp commented on #2842
I don’t think it should be “null”, I think the ordering in mergeOptions is just wrong — we want to send GET request by “default”, if it’s not specified in the request options.

The way mergeOptions is written, it will always overwrite the options-specified method with the default method

[2015-07-03 15:08] caitp commented on #2842
Lets wait for @jeffbcross to get in and take a look because I might be misreading his intent, but it definitely looks like the method parameter for mergeOptions is meant as a "default if not specified", it just isn't implemented that way

[2015-07-03 15:11] lnlwd opened #2863 "Problem with modular app"
I have a little problem, I think it is an error on my code...
Anyway, I'm creating a modular application, and using typescript definitions to create modules... So, one of this modules work's fine if called directly, but if it is called from module, ai get this error: `Cannot resolve all parameters for HomeComponent`. Files here:

https://github.com/lnlwd/zyon/blob/master/modules/zyon/core/src/app/

[2015-07-03 15:13] timjacobi commented on #2842
That would indeed make more sense since `GET` is already set as a default option in `BaseRequestOptions`

[2015-07-03 17:31] timjacobi commented on #2841
https://github.com/angular/angular/blob/master/modules/angular2/src/http/backends/xhr_backend.ts#L40
Looks like the actual status code, among other properties, is not returned. Happy to provide a fix. Could anyone point out which properties are expected to be returned please?

[2015-07-03 17:36] caitp commented on #2841
@timjacobi you can get the status code from `this._xhr.status` --- this can do weird things sometimes though, like incorrectly reporting a network error status for file:/// requests (IIRC). There is code in 1.x $http working around that.

[2015-07-03 17:59] timjacobi commented on #2841
Thanks for info. Plan of action then? I have some time this weekend :)

[2015-07-03 18:09] caitp commented on #2841
well OTOH, an MVP fix would just pass `this._xhr.status` into the Response constructor (by adding another property `status` to the object) --- that may be enough to do it. We could worry about translating the network error status on mobile later. Feel free to send a PR

[2015-07-03 19:17] jomeier opened #2865 "Alpha 29: Bundle not available through https://code.angularjs.org/"
The title says everything :-) Thanks for uploading the bundle.

[2015-07-03 19:20] ericmdantas commented on #2865
I too use the bundle from the cdn, it's by far the easiest and fastest way to get stuff done.

[2015-07-03 19:29] #2863 closed

[2015-07-03 19:41] pkozlowski-opensource opened #2866 "Build task cleanup.builder errors with TypeError: Cannot read property 'cleanup' of null"
at DiffingPluginWrapper.cleanup (/home/travis/build/angular/angular/broccoli/diffing-broccoli-plugin.ts:127:27)
    at NewStyleTreeWrapper.cleanup (/home/travis/build/angular/angular/node_modules/broccoli/lib/api_compat.js:62:30)
    at cleanupTree (/home/travis/build/angular/angular/node_modules/broccoli/lib/builder.js:128:19)
    at /home/travis/build/angular/angular/node_modules/broccoli/node_m

[2015-07-03 21:43] justindujardin opened #2868 "Change Detector throws TypeError on null object bindings"
I'm building a set of UI components that are eventually provided with data at some point after creation.  The change detector throws TypeErrors when it looks at these bindings.

Given the template:

    <div class="hero-card">
      <h1 class="name" [inner-text]="model.attributes.name"></h1>
      ...
    </div>

The below error is produced when `model` is not set to a valid value.

    TypeError:

[2015-07-03 22:51] matanlurey opened #2869 "Host attributes: Be able to conditionally add or remove an attribute"
A common S/CSS technique when styling a component within a `:host` selector is using the existence of an attribute to drive style. For example, Polymer's [`<paper-button>`](https://elements.polymer-project.org/elements/paper-button) works something like this:

[code]

Unfortunately the only way to manipulate one own's attributes is a simple bindings:

[code]

[code]

Or, inject an `ElementRef` and

[2015-07-03 23:03] matanlurey opened #2870 "Property setters should be smarter when using properties or attributes"
Consider wanting to create a `<paper-button>` component that can use attributes *or* properties:

Attribute-based configuration:

[code]

Property-based configuration:

[code]

Good news is this works today. Bad news is that it requires a little non-intuitive massaging, and could be a lot cleaner for Angular component authors.

For example, here's today's utility functions:

[code]

And the proper

[2015-07-03 23:08] matanlurey opened #2871 "Transformer: Some Angular built-ins still need reflection when using the transformer"
Here is the result of a typical run of a unit test that uses transformers (for me, at least):

[code]

I can sit down with someone to go over details, but wanted to file this for tracking. This is currently blocking be able to disable all use of reflection, at least in unit tests.

[2015-07-03 23:12] matanlurey opened #2872 "EmulatedScopedShadowDom: Not requiring ':host' to wrap everything in the stylesheet"
The way native shadow DOM works is that the entire stylesheet is encapsulated for the component.

CSS style:

[code]

HTML template:

[code]

However, it is required today to wrap everything in `:host`:

[code]

While this is an OK workaround, it's a lot of extra boilerplate.

[2015-07-04 01:33] kenkouot commented on #2673
So is it safe to say we will not be getting a standalone router (for the purposes of using future-forward routing in Angular 1.x apps) before 2.0?

Should developers **not** be using new router? (angular/router)

[2015-07-04 02:33] vicb commented on #2872
I think you're wrong here, see the [unit test](https://github.com/angular/angular/blob/ad506a7aaa506fdd5dd73f2281f957b63852cca5/modules/angular2/test/render/dom/shadow_dom/emulated_scoped_shadow_dom_strategy_spec.ts#L43)

[code]

Note:
- the `_ngcontent-x` attr is added to every single element inside the cmp
- the `_nghost-x` attr is added to the host only (is might not be selectable via a tag att

[2015-07-04 02:33] #2872 closed

[2015-07-04 02:50] gdi2290 commented on #2845
I don't like having to use the slash when dealing with my alias route. For example
[code]
my link would have to be `/home` rather than `home`
`<a [router-link]="['/home']">Home</a>`

[2015-07-04 02:56] vicb commented on #2845
Not sure to get the first part of your comment (also I'm considering master)

[2015-07-04 08:28] vicb commented on #2869
What about `bool-attr` for [boolean attributes](http://www.w3.org/TR/html5/infrastructure.html#boolean-attributes) _instead of `attr-if` ?

[2015-07-04 09:00] pkozlowski-opensource commented on #2869
The request sounds very reasonable and would be trivial to implement. IMO we just need to pick the right syntax / semantic. Here are the few proposals:
* don't change syntax and remove an attribute when it is assigned with the `null` value (does it make sense to have attributes with the `null` value?). This would require that boolean attributes are either assigned null or a string equal to their n

[2015-07-04 10:07] gdi2290 commented on #2683
Can we also have an option not to throw? For universal/server we are manually triggering the change detection during each request (which is fine for most cases not advanced ones using `|async` at the moment). Manually triggering change detection allows us not to include zone.js

on each request
1. read template
2. create host element from selector
3. compile App component with host element to host

[2015-07-04 11:58] jpsfs commented on #2865
Hi!

If you don't mind borrowing this thread, any news on typing for alpha 29?
Not only, but mostly because of the appInject change, updated typings will smooth the alpha 28 > 29 transition.

https://github.com/borisyankov/DefinitelyTyped/tree/master/angular2

[2015-07-04 16:11] justindujardin opened #2875 "Ambiguous NgFor errors"
Sometimes I mess things up while getting used to angular2, and with NgFor the errors that are provided don't help me quickly overcome my problem.   I would hope to see more descriptive errors, so I can get things resolved and move on.

Here are a few examples:

## Missing `#` in for expression

    @View({
      template: '<ul><li *ng-for="item of person.inventory" [inner-text]="item"></li></ul>',

[2015-07-04 16:17] pkozlowski-opensource commented on #2875
@justindujardin what would be your ideal error messages in each of those cases? I'm doing several improvements for error messages, but sometimes it is not obvious how to keep the framework generic / flexible and have precise error messages :-/ This is why it is important to get feedback from users - what would you like to see as a message? What would make you know instantly what is going on?

[2015-07-04 16:25] justindujardin commented on #2875
@pkozlowski-opensource That's always the hard problem isn't it?  I'm not sure they're great, but I've added suggestions to the original post.

[2015-07-04 20:00] danicomas commented on #2544
Totally agree with your comment @johnpapa Interceptors are basically in my projects.

[2015-07-05 02:16] robwormald commented on #2788
this works fine for me - https://github.com/robwormald/fix-me-rob/blob/rob-fixt-it/src/main.ts

That's using SystemJS - possible that webpack is handling something differently?

[2015-07-05 03:10] gdi2290 commented on #2788
the problem is due to typescript and it's paramtypes. I have the same example of Http working when using a component [app-simple.ts#L55](https://github.com/angular-class/angular2-webpack-starter/blob/7a37cbb6cb66647741cf283ea9e54839aecd88b2/src/app/components/app-simple.ts#L55) but when I try to inject it in a service typescript isn't picking it up correctly.
<img width="543" alt="screen shot 2015

[2015-07-05 03:25] robwormald commented on #2788
Same thing using SystemJS works absolutely fine?
https://github.com/robwormald/fix-me-rob/blob/rob-fixt-it/src/TestService.ts

[2015-07-05 04:03] gdi2290 commented on #2813
`@InjectPromise`, `@ InjectLazy` and `.toAsyncFactory` have been removed for now via https://github.com/angular/angular/commit/22d39438315ec718c860cef46a1c14acac828065

[2015-07-05 04:46] wesleycho commented on #2868
I'm getting this error from your Plunker:
[code]
I think [this](http://plnkr.co/edit/OggyMiBnv20kxoZZJzdd?p=preview) is a more accurate reproduction of the issue.

[2015-07-05 04:50] robwormald commented on #2788
good news - https://github.com/Microsoft/TypeScript/pull/3690 fixes this error - @gdi2290 verified with your repo

[2015-07-05 05:04] gdi2290 commented on #2788
kool

[2015-07-05 07:12] rolandjitsu commented on #2813
@gdi2290 yeah, @PascalPrecht has mentioned that and I thought I could use the `DynamicComponentLoader ` to load the service async, but that did not work. So instead I had to do the following (you can see the source [here](https://github.com/rolandjitsu/ng2-play/blob/master/src/app/services.ts)):
[code]
The only downside is that when I ask for the `TodoStore` dependency it's a promise. I am not sur

[2015-07-05 08:31] PascalPrecht commented on #2788
@gdi2290 thanks for digging into it. So this is a bug in TypeScript then? Is there a dedicated issue at the TS project already?

[2015-07-05 09:26] gdi2290 commented on #2813
for now you just have to deal with resolving the promise after injecting it until they fix the async problems with the injector. If you want to delay bootstrapping (you shouldn't do this) you would wait until firebase is ready before importing your app (simplest solution)

[code]

[2015-07-05 09:39] rolandjitsu commented on #2813
@gdi2290 I think I will stick with what I currently have instead of delaying the app bootstrap. Do you have any idea how the async injection will be handled in the future?

[2015-07-05 10:58] gdi2290 commented on #2604
what happen to this? the PR didn't seem like it was merged https://github.com/angular/angular/pull/2736

[2015-07-05 11:32] mhevery opened #2883 "Declaring private constructors"
When generating `.d.ts` file it is sometimes nice to be able to export a class as non-instantiable. Some classes are visible to the developer, but they are never meant to be instantiated by the developer, so we would like to hide their constructor.

assume class in source which needs to be exported:
[code]

When generating `.d.ts` we have two options:

1) We can generate a class and hide a constru

[2015-07-05 12:01] petebacondarwin commented on #2883
@mhevery can you give a bit more info how option 2 works? Is this `PrivateConstructor` reused for each situation where there is a private constructor?

[2015-07-05 16:21] justindujardin commented on #2868
@wesleycho I updated the link, thanks.

[2015-07-05 16:33] jomeier opened #2885 "Usage of enums in templates not possible?"
Hi,

I tried to use a typescript enum for an array index in a template to create data binding for an HTML attribute in this way:

[code]

It compiles ok with Typescript 1.5 but I get an error message in the browser:

[code]

Are enums not allowed in  templates or is this a bug?

Thanks

[2015-07-05 17:30] gdi2290 commented on #2868
Try `model?.attributes?.name`

[2015-07-05 17:40] justindujardin commented on #2868
@gdi2290 That appears to fix the immediate issue, but is it just a workaround?

[2015-07-05 17:48] gdi2290 commented on #2868
@justindujardin this is called the elvis operator which is equivalent-ish to
`(model) ? model && model.attributes && model.attributes.name : null`
in Angular 2 everything is more explicit, by design, to ensure predictability of the framework. I'm assuming `model` and or `model` properties are defined at a later time since it's async

[2015-07-05 17:49] wesleycho commented on #2868
You mean `(model && model.attributes && model.attributes.name) ? model.attributes.name : null` :P

[2015-07-05 17:55] justindujardin commented on #2868
I'm just trying to make sure I understand what Angular2 requires.

Marking up my templates with ? creates more work upgrading from 1.x, and might make the templates a bit less readable, so I want to make sure it is "as designed".

[2015-07-05 18:04] wesleycho commented on #2868
Readability is fine there IMO - it is a little more verbose, mainly because it seems Angular does not swallow the exception as it would in Angular 1 by safely checking in A1 first. There is a minor performance gain by doing so, but a little more developer inconvenience.

[2015-07-05 18:10] justindujardin commented on #2868
I understand, and appreciate better performing bindings.  My issue is resolved.

[2015-07-05 18:10] #2868 closed

[2015-07-05 18:11] gdi2290 commented on #2868
you only need one elvis operator `model?.attributes.name` unless `.name` is also async defined. In angular one you should be defining default values for everything in the template.

[2015-07-05 20:31] martinmcwhorter commented on #2885
As with Angular 1.x, you have to make the enum a property of your controller/component class.

    class YourController {

        public yourEnum = YourEnum;

    . . .
    }

[2015-07-06 00:43] robwormald commented on #2788
hmm, so I poked around this a bit more today, because I felt like I was taking crazy pills - I backed out to .27 and the same exact behaviour appeared.

On a whim, I imported the Injectable annotation and tagged my service with it, and that fixed the issue. On a further whim, I made a (do-nothing) decorator `@TestDecorator` and tagged my service, and that *also* fixed the issue (?!). My best guess

[2015-07-06 01:00] gdi2290 commented on #2788
ah okay so if we use the `@Injectable` (only useful for compiling to Dart) decorator than we can force typescript to correctly attach the metadata.

[2015-07-06 08:03] PascalPrecht commented on #2885
Correct, as @martinmcwhorter states, your component class is basically your execution context in Angular 2 applications. All properties defined on your component can be interpolated in your component's template.

[2015-07-06 09:03] mhevery commented on #2883
`PrivateConstructor` is there just so that we can hint to the developer that they should net be trying to instantiate it.

In TypeScript interfaces do not have a runtime representation and for that reason there will be no runtime reference, hence the DI will not work. To combat this we need to create a references using `declare var SomeType`. We could declare it as any but I think giving it a nice

[2015-07-06 09:17] mhevery commented on #2844
@PascalPrecht yes (https://github.com/angular/angular/issues/2844#issuecomment-118011487) it is optional.

[2015-07-06 09:29] mhevery commented on #2589
That link (https://github.com/angular/angular/blob/master/modules/angular2_material/src/components/input/input.ts#L58) points to material design component, which is not correct. I believe the current code works because `md-input-container input` selector only uses `md-input-container` and ignores `input`.

[2015-07-06 09:33] #1693 closed

[2015-07-06 09:37] DawidMyslak opened #2888 "CSSClass directive issue"
I've been playing around with latest build (2.0.0-alpha.29) and I noticed small issue with CSSClass directive.

Here is my application (please use latest Chrome/Firefox/Opera, not working in Safari):
http://dawid.myslak.me/demos/ng2

Step to reproduce:
1. Navigate to "Others";
2. Using tab component switch tab from 1 to 3 (or 2);
3. Navigate to "Todo" and again to "Others";
4. Last selected tab ke

[2015-07-06 10:06] mprobst opened #2889 "Shrinkwrap broken after `npm i`"
I ran `git pull upstream master`, `npm i`, `npm update clang-format`, `npm shrinkwrap --dev`, and now receive the errors below. It appears as if it includes dev dependencies for `ts2dart` on my machine, but I have no idea why. It is not a `npm link`ed package.

[code]

It was possible to fix this by deleting the mentioned directories.

[2015-07-06 10:36] pkozlowski-opensource commented on #2888
@DawidMyslak - without looking into the details too much (will do later on) I really don't like how you hard-code CSS class name in the widget class. IMO you should do `[class.active]="tab.isActive"` (preferred) or `[class]="{active: tab.isActive}"`

[2015-07-06 10:53] DawidMyslak commented on #2888
@pkozlowski-opensource thanks for that, I couldn't find any examples with conditional syntax for CSSClass, so I managed to create that ugly workaround, documentation is still quite empty:
https://angular.io/docs/js/latest/api/directives/CSSClass-class.html

[2015-07-06 11:56] mhevery opened #2890 "Calling appViewManager.getComponentView thrown NPE rather then returning null on non component ElementRef"
[code]

[2015-07-06 11:58] DawidMyslak commented on #2888
@pkozlowski-opensource thanks again Pawel, looks like ```[class.active]="tab.isActive"``` fixed the issue, can be closed.

[2015-07-06 11:59] pkozlowski-opensource commented on #2888
@DawidMyslak I will add a test for this particular use-case to the `CSSClass` and will close. Thnx for getting back to me.

[2015-07-06 13:29] mhevery opened #2891 "AppViewManager.getHostElement(): Method name / semantics do not match"
The `AppViewManager.getHostElement(viewRef: ViewRef)` method implies that the return value is the host element, but the actual return value is the first element of the component's shadow view.

Issues:
- Name missmatch: host element vs shadow view DOM
- Semantic missmatch: returning the first element, rather then all of the elements in the root of the shadow view.

Proposal:

Remove the API comple

[2015-07-06 14:33] tbosch commented on #2891
This method is supposed to be used for host views only. I.e. the views that only contain a single element which is the host element of the component. This method is missing an assert statement for `view.type === ViewType.HOST_VIEW`.

Having the `ElementRef` be part of a `ComponentRef` is handy, e.g. for debugging, so a user can easily inspect the underlying dom element via `ElementRef.nativeElemen

[2015-07-06 14:34] tbosch commented on #2891
I.e. I would vote for not changing this / keeping the ElementRef as the result (although I don't have a strong opinion about the name)

[2015-07-06 15:22] jimthedev commented on #2589
Thanks for clarifying. I'll move this code to selector.ts and remove those complex selectors I find to get the tests passing.

[2015-07-06 15:41] vsavkin opened #2892 "Clean up Injector"
To merge the two injection systems I had to take some shortcuts.

I removed all of them except this one:
https://github.com/angular/angular/blob/master/modules/angular2/src/di/injector.ts#L504

[2015-07-06 15:53] vsavkin commented on #2683
@gdi2290 I think that since most developers will use Angular in the browser and will require zone.js, throwing should be the default behavior. But we should have an option not to throw.

Currently, we do the following in ng_zone.ts.
[code]

I think we should remove the if statement and the _disabled flag and instead have a different implementation of NgZone that does not use zone.js. You will be a

[2015-07-06 16:06] jeffbcross commented on #2842
Yeah, this got mangled in the Great Refactoring to support Dart. I'll add some comments on the PR

[2015-07-06 16:09] mlaval commented on #1507
I can't reproduce it anymore.

[2015-07-06 16:09] #1507 closed

[2015-07-06 16:10] jeffbcross commented on #2842
@timjacobi can you open as a PR so Travis can run? In the meantime, I'm leaving comments on https://github.com/timjacobi/angular/commit/a486335266835050dd4be3152a44c79b4f5c3062

[2015-07-06 16:32] lehmamic opened #2893 "Introduce an interception mechanism"
It would be nice to have an interception mechanism similar to the $http interception from angular.js, but based on any services working together with the injection api. This would allow to introduce service behaviors based on aspect oriented programming, for example authorization, exception handling, logging etc.

As a reference I would like to mention the Unity dependency injection framework for

[2015-07-06 17:09] matanlurey opened #2894 "Change detection: Do not coalesce host properties with different element/directive indicies"
Example fix to coalesce.dart:

[code]

[2015-07-06 17:18] jeffbcross commented on #2417
@caitp FYI basic headers setting has been implemented in xhr_backend with #2828, but there's still work to be done in the `RequestOptions` merging process.

[2015-07-06 17:18] jakemac53 opened #2895 "Static Reflection: Add getters for local variables in templates"
Usages of `#someLocalVar`, `$event`, and other local variables in templates fail under the transformer. You can see this by running the todo example app.

[2015-07-06 17:37] jeffbcross commented on #2793
@mhevery this issue is a meta-issue created only because of Github's deficiencies in organizing and prioritizing issues. This represents all open http-related issues, to be completed over many milestones, in order of priority. None of our labels adequately capture its purpose, and I don't want the issue to be lumped in with other "feature" issues when filtering by labels.

It'd be nice to have a "

[2015-07-06 17:50] jakemac53 commented on #2895
Actually nvm, this looks like it was caused by a separate error in the compile pipeline.

[2015-07-06 17:50] #2895 closed

[2015-07-06 17:50] duluca commented on #2673
@kenkouot Excellent question and the answer to it should be stated here as clearly as possible. Reading the upgrade path document I glean that only one framework can be active at any given time, so expecting the router to perform some kind of magic and be able to route to both ng1 and ng2 components is unrealistic. Furthermore, the angular/router repository hasn't seen a code commit in a long whil

[2015-07-06 17:55] naomiblack commented on #1381
Assigning to myself to figure out next steps on this.

[2015-07-06 17:59] btford commented on #2723
@tapas4java @ctindel could either of you please provide steps to reproduce the issue?

[2015-07-06 18:01] jeffbcross opened #2897 "feat(http): support use by AngularJS 1.x applications"
In order to ease the transition from AngularJS 1.x apps to Angular 2, the http module should be possible to be used in AngularJS 1.x applications, though not necessarily as a drop-in replacement for `$http`.

Some considerations:

 * DI and module systems are different, but the current architecture should allow for easily creating a module and service for http. #2680 will make this easier.
 * Ther

[2015-07-06 18:02] kevmoo commented on #2783
Agreeing with @juliemr. It'd be really nice if `guinness` was split into helpers vs the imperative functions.

[2015-07-06 18:17] btford commented on #2845
We (@IgorMinar, @matsko, and myself) totally agree that this is cumbersome, but there's a planned feature binding AST transformation feature that will allow us to re-introduce a nice DSL.

[2015-07-06 18:23] btford commented on #2807
@naomiblack – sure thing.

[2015-07-06 18:23] yjbanov commented on #2220
@naomiblack No, it does not close this issue. Also, I do not fully understand why we needed #2328. In Dart you can already `is` to check interface compliance. OTOH, #2328 will increase code size and also it does not walk type hierarchy, so it is less accurate than an `is` check. I'll talk to @vsavkin and @kegluneq.

[2015-07-06 18:28] alexeagle commented on #2261
`@RouteConfig` is just different from other annotations at present, right? Others like `@View` have a typed interface for their argument, which is called using object literal syntax from JS but produce a typed Dart API, so IIUC this issue is just to follow the same pattern in Router?
I'm asking to understand whether we need something improved in the expressibility of our type system or ts2dart.

[2015-07-06 18:31] gdi2290 commented on #2683
@vsavkin yup that works for me, thanks!

[2015-07-06 18:46] yjbanov commented on #2220
Update: @vsavkin explained that we only needed while we're still using transformers with dynamic change detectors. When generated change detectors are feature-complete, we will no longer need #2328 because we won't be checking interfaces reflectively. I will log an issue to remove interfaces from the reflector as a follow-up task after change detectors are done.

[2015-07-06 18:50] yjbanov opened #2898 "Remove interfaces from generated reflector data"
This should be done _after_ generated change detectors are feature-complete.

## Background

Currently we use transformers with dynamic change detector, because generated change detectors are still buggy. Dynamic change detector needs to look up interfaces reflectively. As a temporary measure, https://github.com/angular/angular/pull/2328 adds these interfaces to the reflector. However, when genera

[2015-07-06 18:56] alexeagle opened #2900 "remove angular2.api.ts workaround"
We should force our public re-export, `angular2/angular2.ts` to export a consistent API surface.

In fixing #1803 I had to add a horrible hack, the angular2.api.ts file. This causes problems, see reference in https://github.com/petebacondarwin/angular/commit/e0c37759da30a79b6813edcda5b6ac00a144cee6

[2015-07-06 18:57] vsavkin opened #2901 "Provide an easy way to configure new pipes"
Currently pipes are global and are not easily configurable. We need to make them scoped to a component and provide a way to easily configure them.

Proposal:

[code]

[2015-07-06 19:01] vsavkin opened #2902 "Provide an easy way to create stateless pipes"
The pipes API is very flexible, which can be overwhelming when adding simple stateless pipes. We need to make it simpler.

Proposal:

[code]

[2015-07-06 19:02] btford commented on #1850
This is fixed in master. Here's a test that proves it: https://github.com/angular/angular/blob/master/modules/angular2/test/router/outlet_spec.ts#L129

[2015-07-06 19:02] #1850 closed

[2015-07-06 19:03] jeffbcross opened #2903 "feat(http): automatically set request Content-Type header based on body type"
This is specific to the XhrBackend implementation, based on request body types for which it doesn't automatically set Content-Type headers.

When forming "write" requests inside of `http.request`, the "Content-Type" header should be set for certain request body types that the user agent doesn't implicitly set, using the body extraction steps described here: https://fetch.spec.whatwg.org/#concept-b

[2015-07-06 19:11] btford commented on #2638
@yjbanov – I'm not sure what's best. I just want to be able to reflect on a class and see whether or not it has a given hook in a way that is idiomatic for Dart and idiomatic for TS.

Since core lifecycle methods should follow the same pattern, it'd be good if someone who understands those better could own this.

@naomiblack – Is there anyone with free cycles this week who could own this? @rkirov

[2015-07-06 19:13] jeffbcross opened #2904 "chore(http): convert RequestMethods to const list"
I made the `RequestMethodsMap` class during the big refactoring to support Dart, so that it could be declared at the top-level of the enums module. The class takes an enum (integer) and returns the corresponding enum's name. Like `requestMethodsMap.get(0)// -> 'GET'`But it should be able to be a constant and provide the same usefulness for converting `RequestMethods` enum values to strings and vic

[2015-07-06 19:14] btford commented on #2261
@alexeagle – This wouldn't involve any changes to our type system.

In TS/JS, I think it's still going to be more idiomatic to use maps.

[2015-07-06 19:36] btford commented on #2242
See https://github.com/angular/angular/blob/master/modules/angular2/test/router/outlet_spec.ts#L100-L109

[2015-07-06 19:36] #2242 closed

[2015-07-06 19:40] matsko commented on #2323
This was pushed back to the next release. Matan mentioned that Ifran or Ted will be helping out this week.

[2015-07-06 19:44] btford commented on #2224
@irfantusneem – what functionality is missing? You can change between pushstate and hashchange strategies like this: https://github.com/angular/angular/blob/master/modules/angular2/router.ts#L40

[2015-07-06 19:44] jeffbcross commented on #2794
I'm going to make this my focus for Milestone 31.

As part of this, I'm going to attempt to bring in the [RxJS Next project](https://github.com/reactivex/rxjs) in place of RxJS.

CC @vsavkin @blesh @caitp

[2015-07-06 19:52] btford commented on #1690
Landed in https://github.com/angular/angular/pull/2692

[2015-07-06 19:52] #1690 closed

[2015-07-06 19:58] blesh commented on #2794
The es-observable spec seems to have a good deal of flux around some of it's behaviors/API, so while we want to meet those, we also want to create something that provides the best experience to the consumers of the lib. I don't foresee any major changes to the outward API of the RxJS Next project for the time being, but there may be some minor changes to behavior. I'll try to keep your ahead of th

[2015-07-06 19:59] naomiblack commented on #2898
@jakemac53 can you own this one? It's blocked until change detection is complete so putting it in alpha-32.

[2015-07-06 20:01] btford commented on #2776
Seems reasonable. I'm moving this to the backlog since there are so many other things on my plate.

[2015-07-06 20:04] naomiblack commented on #2640
This is blocked by a general core feature that is needed (https://github.com/angular/angular/issues/2638)

[2015-07-06 20:23] mprobst commented on #2770
@naomiblack @yjbanov how urgent is this? Does this immediately impact users?

This is a language design level issue in Dart currently, and the design seems to be unclear still, so I expect a fix to be multiple months away (AFAICT).

There is the simpler solution of just having common super-interfaces for the two libraries (which has other issues, but still...), so we might be able to expedite.

[2015-07-06 20:26] #2798 closed

[2015-07-06 20:37] btford commented on #2650
Moving this to alpha-31 since this doesn't directly affect the release

[2015-07-06 20:42] naomiblack commented on #2364
@pkozlowski-opensource can you update with status please?

[2015-07-06 20:44] pkozlowski-opensource commented on #2364
@naomiblack I'm afraid I didn't do much progress on this one... Impl should be easy but there is still one more thing I would like to discuss with @mhevery before moving forward.

[2015-07-06 20:49] naomiblack commented on #2220
@yjbanov to provide some guidance to @jakemac53 on what's needed next.

[2015-07-06 20:52] naomiblack commented on #1489
@caitp pushing to alpha-31 -- can you update whether you're working on this or need anything?

[2015-07-06 20:52] vsavkin opened #2906 "Throw ChangeDetectionError in JIT mode"

[2015-07-06 21:01] vsavkin commented on #1625
Closing this issue.  I've created these actionable issues: https://github.com/angular/angular/issues/2901
https://github.com/angular/angular/issues/2902

[2015-07-06 21:01] #1625 closed

[2015-07-06 21:03] naomiblack commented on #2364
moving to alpha-32 unless you happen to catch @mhevery earlier.

[2015-07-06 21:05] petebacondarwin commented on #2883
OK. I think I can do that.

[2015-07-06 21:12] naomiblack commented on #2829
@alexeagle to investigate commonjs as the path forward in alpha-32

[2015-07-06 21:16] naomiblack commented on #2783
@juliemr can you figure out handoff if this one isn't landing before your OOO?

[2015-07-06 21:30] caitp commented on #1489
I don't think this bug is actionable, at least not in this codebase

[2015-07-06 22:17] naomiblack commented on #2638
After much discussion and whiteboard with @tbosch and @rkirov, @btford will implement a solution based on interfaces for Dart and on checking at runtime whether the field exists in javascript. We'll use this to find out if it works as a solution for GT.

[2015-07-06 22:26] btford commented on #2638
I summarized what this will look like in terms of the router here: https://github.com/angular/angular/issues/2640#issue-89635006

I'll start with the Dart and ES5 approaches, and then later handle the decorator approach. We'll still need to implement Method Decorators when we get to TS, so this should remain open.

[2015-07-06 23:03] matanlurey opened #2907 "DI: Trying to inject from a template element results in no provider found"
As discussed offline, the following is not working in the current release:

[code]

Where `popup` is a `PopupDirective`, and `material-popup` is:

[code]

For visibility: @naomiblack and @yjbanov

[2015-07-06 23:13] blesh commented on #2684
If you wanted to do some sort of global transformers, you could have some globally registered function, but *rather than just a mapping function*, you could use a *flatMapping function* that gives you a stream of requests, and you output a stream of modified requests. i.e.:

[code]
this would allow either synchronous or asynchronous actions to occur to do things like set headers. Currently, in Ang

[2015-07-06 23:15] blesh commented on #2684
Further thought on this: Presuming that each `request` was an observable itself, you could actually use an Rx mechanism (the `timeout` operator) to introduce a timeout with this design, if you so chose:

[code]

[2015-07-06 23:26] robwormald commented on #2684
I'd definitely like to see more "compose / wrap it yourself" APIs vs yet-another-thing-that's-angular2-specific-that-you-have-to-look-up-in-the-docs - the current API for interceptors is a bit of a nightmare (create a factory that you register with a provider in a config block) and as @jeffbcross said, mutable global state ftl... I often talk to a couple of different APIs from an app, and global i

[2015-07-06 23:46] blesh commented on #2822
Why not have a custom operator on your Request observable type? Let's call it `poll`...

[code]

This could actually return a BehaviorSubject or the like, so it's a "hot" observable, and when you subscribe to it, you get the most recent response. One tricky bit about polling is you want to make sure the previous one completes before you do the next one. Otherwise you could have a 5 second polling

[2015-07-07 00:08] blesh commented on #2684
@robwormald you're probably right. In fact, it might be better advice to tell people to compose over their requests themselves by wrapping the http service.

In fact, I think I'd like to 👎 this feature in favor of advising people to wrap the http service and use that.

[2015-07-07 00:09] blesh commented on #2684
... which is exactly what @jeffbcross had said to begin with. :P haha

[2015-07-07 00:11] robwormald commented on #2893
Tracking this idea over in #2684

[2015-07-07 00:17] jeffbcross commented on #2684
Ha, well I'd like to make sure we do due diligence, and explore ways we can make these things clear and simple, short of saying "go watch all of @blesh's RxJS tutorials, then create some wrapper services, and you're done." I tend to lean away from the declarative, "everything-on-config" approach of Angular 1, but still think there may be helpers that could be added to reduce the bar of prerequisit

[2015-07-07 00:24] robwormald commented on #2684
is it heresy to suggest we provide an `HttpClient` base class one could extend and configure themselves?

something like
[code]
I know I just said composition, and I prefer the wrap-it method, but it seems the choices are:
- extensible base class
- teach 'em how to wrap
- explaining how to do all the bind() jazz to override some injectable config.

[2015-07-07 00:32] alexeagle commented on #2834
Checked that newly generated `angular2.d.ts` works nicely with vscode.

[2015-07-07 00:32] #2834 closed

[2015-07-07 00:56] naomiblack opened #2910 "Mirror dom property values as attribute values in debug mode"
This is needed for web workers and other use cases, to make it easy to locate elements by binding. Assigning to @tbosch to spec out and figure out who should best implement.

[2015-07-07 00:56] naomiblack commented on #2910
Also cited in internal b//21869186

[2015-07-07 00:59] justindujardin opened #2912 "Upgrade zone.js => WAS: Heavy CPU usage over time with Zone and requestAnimationFrame"
I have a "game" that manages its own time loop using requestAnimationFrame. I have ported it to angular2, and it works really well except that I experience pretty severely degraded performance over time.  When I capture CPU profiles Zone ends up replacing the idle time that was there when the page loaded.

I'm not sure what to make of it, but it's very easy to reproduce--just open the page and tak

[2015-07-07 01:01] #2894 closed

[2015-07-07 01:02] tapas4java commented on #2723
I got this error when I was trying to upgrade [angular2-authentication-sample ](https://github.com/auth0/angular2-authentication-sample) to alpha-29.

Steps:
1. Clone the repo
2. Change angular version to alpha-29
3. Change location strategy changes
4. Run the app

[2015-07-07 01:02] naomiblack commented on #1489
@vsavkin any other suggestions? Otherwise, I think I'll agree with @caitp  and close.

[2015-07-07 01:19] yjbanov opened #2913 "Make scripts/publish/changelog.js accept arbitrary from/to SHA"
This is so we can produce changelogs for ad hoc releases.

/cc @naomiblack

[2015-07-07 01:24] naomiblack commented on #2913
Jeff, can we try to do this as part of alpha-31?

[2015-07-07 01:24] blesh commented on #2684
Perhaps helpers could come in the favor of helpers to extend our wrap the service? I'm not sure what this looks like, just spitballing.

[2015-07-07 02:00] #2906 closed

[2015-07-07 02:06] matanlurey commented on #2907
This is resolved as working as intended. A little background for those interested:

It used to be possible (pre - #2708) to inject a parent template directive. This was *not* working as design as the "true" representation of the DOM looks like this:

[code]

We found a workaround (thx @rkirov @tbosch) that instead exports the popup directive and uses view locals to be able to do something like thi

[2015-07-07 02:06] #2907 closed

[2015-07-07 02:58] matanlurey commented on #2323
@TedSander for visibility.

[2015-07-07 03:00] matanlurey commented on #2261
Just curious, isn't the goal in typescript to have typed classes? Why would you prefer a map where a user can't easily tool/ide-refactor any of the properties and has no idea if the value they assign is valid without re-running the app (e.g. no static analysis)?

[2015-07-07 03:49] rkirov commented on #2907
Thanks for the write-up!

[2015-07-07 05:30] mhevery commented on #2891
But it does not actually return the `HostElement` It returns the first child of the `HostElement` i.e. the first element of the `ShadowView`. A `ShadowView` can have any number of root elements. So something is not right here.

[2015-07-07 05:58] gdi2290 commented on #2912
you can run it outside of [zone.js](https://github.com/angular/angular/blob/c2efa23e94bf9ef3594bfa37aa30a0fc1dc2620a/modules/angular2/src/core/zone/ng_zone.ts#L130)
[code]

[2015-07-07 06:07] lehmamic commented on #2684
I would prefer a general interception mechanism in Angular2 which is not only dedicated to an http service. This would allow a lot more possibilities.

I entered an issue for that yesterday #2893

[2015-07-07 10:23] gdi2290 commented on #2723
You can close this issue. This is a problem with the `LoggedInRouterOutlet` implementation not returning in `activate` not angular itself. I have the fix for the repo here https://github.com/auth0/angular2-authentication-sample/pull/24

[2015-07-07 13:15] woppa684 opened #2916 "Query annotation doesn't work with typescript and alpha 28"
... or I'm doing something terribly wrong of course. I have this basic example:

[code]
When I run this code the logging in the console is this:

[code]

Why are there no results? Also adding {'descendants': true} has no effect...

[2015-07-07 14:06] mhevery commented on #2883
thanks.

[2015-07-07 14:15] mhevery commented on #2673
Having the code base be part of angular2 and having it be stand alone are two separate independent questions.

1) router is part of the angular2 repo.
2) It is our intention that the new router be usable in both Angular1 and Angular2.

[2015-07-07 14:17] mhevery commented on #1381
I think this is solved with the API, which I have crated for the AngularU. I am closing, re-open if I misunderstood.

[2015-07-07 14:17] #1381 closed

[2015-07-07 14:18] mhevery commented on #2793
Backlog sounds reasonable. But isn't that just `P!: Backlog`? (just create such a priority and it should be all you need.)

[2015-07-07 14:57] justindujardin commented on #2912
@gdi2290 that's an interesting idea, but it would exclude my app from change-detection then, yes?

The reason I filed this issue is because my renderer was very stable in 1.x, but in 2.0 it degrades very quickly, which suggest to me some kind of resource leak in Zone.  I notice a large amount of time being spent on what appears to be patching get/set properties.

[2015-07-07 15:06] zzo commented on #2783
is there documentation for how to use test_bed/TestComponentBuilder somewhere?  Personally am only interested in the JS side of things thanks! :)

[2015-07-07 15:19] mhevery commented on #2891
Also I think that `getNamedElementInComponentView` should take `HostView` rather then `ElementRef`

[2015-07-07 15:28] #2892 closed

[2015-07-07 15:34] mhevery commented on #2891
Also seem like we don't need `DynamicComponentLoader` since we can do all with `AppViewManager`.

[2015-07-07 16:35] jakemac53 commented on #1948
Looks like this is fixed now

[2015-07-07 16:35] #1948 closed

[2015-07-07 16:47] rkirov commented on #2782
I talked with @matanl offline, he was referring to this feature we had in angular.dart 1 - https://github.com/angular/angular.dart/wiki/CSS-Shim.

[2015-07-07 17:10] rkirov commented on #2782
We already have a similar feature implemented `polyfill-unscoped-rule`, see https://github.com/angular/angular/blob/master/modules/angular2/test/render/dom/shadow_dom/shadow_css_spec.ts#L120

The difference is that `polyfill-non-strict` shim the upper bound on CSS encapsulation  - a component is protected from its DOM's parents CSS, but its CSS can affect children. While `polyfill-unscoped-rule` l

[2015-07-07 17:54] alexeagle commented on #2883
+1 for option 2 - this is the idiomatic way that TS themselves declare interface types which need runtime retention.

[2015-07-07 17:59] btford commented on #2723
Thanks, @gdi2290!

[2015-07-07 17:59] #2723 closed

[2015-07-07 18:26] alexeagle commented on #2883
did you consider option 3: change angular sources to move the private constructor out of the exported symbol?
[code]

[2015-07-07 18:27] #2754 closed

[2015-07-07 18:29] duluca commented on #2673
@mhevery You're absolutely right. Thanks for the clarification. And I know realize the readme.md on angular/router was indeed up to date with a clear warning 3 weeks ago, my eyes just failed (refused?) to read it :)

[2015-07-07 19:01] petebacondarwin commented on #2883
I was wondering about that but I guess that it adds an extra unnecessary type to the system?

[2015-07-07 19:29] mhevery commented on #2883
Isn't @alexeagle option #3 just manual option #2?

[2015-07-07 19:30] mhevery commented on #2883
Actually no, no.3, will not work. That is because we need to export `SomeType` to have a real reference for the DI. So no.2 it is.

[2015-07-07 19:30] alexeagle commented on #2883
yes. means less magic in the codegen

[2015-07-07 19:31] alexeagle commented on #2883
in option 3 you still have a var which is retained in the .d.ts and at runtime

[2015-07-07 19:32] mhevery commented on #2883
but the var points to null. So DI would not work.

[2015-07-07 19:33] alexeagle commented on #2900
First step is to add a lint check so our API surface stays consistent.
Further work is blocked on #2852 which adds some typings for decorators and also removes some `export *` instances.

[2015-07-07 19:33] mhevery commented on #2883
You would have to do something like:

[code]

and that would just bloat angular codebase.

[2015-07-07 20:08] jakemac53 opened #2919 "Transformer should support multiple independent entry points"
tl;dr; Once https://github.com/angular/angular/issues/2304 is resolved we should remove `reflection_entry_points` from the transformer config.

Today, it looks like each reflection entry point will end up importing the ng_deps file for every entry point and attempt to initialize all of them. Since there are just two independent lists in the transformer config, you can't tell which entry point corr

[2015-07-07 20:10] jakemac53 commented on #2304
I will take this on, and bumped the priority as it is a blocker for https://github.com/angular/angular/issues/2919

[2015-07-07 20:30] #2891 closed

[2015-07-07 20:49] matsko opened #2920 "Current route is not reloaded when page is refreshed"
This happens when the `HashLocationStrategy` is used.

[2015-07-07 20:54] TedSander opened #2921 "A Component with two interfaces will generate an error in transformers"
A component that has two interfaces in their declaration will create an invalid ng_deps

Example:
  class MaterialInput implements ControlValueAccessor, NgValidator {

Ng_deps.dart:
        'interfaces': const [ControlValueAccessorNgValidator]

It looks like it is just missing a coma in the codegen.

[2015-07-07 20:54] TedSander commented on #2921
@rkirov @jakemac53

[2015-07-07 21:06] TedSander commented on #2323
The case I could reproduce was having routes on a component that was not the route component. Currently the router needs to be able to be set on the root component and all the way down. At the least @matsko and @btford and going to make a better error message for what is happening. Or warn the developer that what they are doing is unsupported.

[2015-07-07 21:07] btford commented on #1950
This should have been fixed in alpha-30. See https://github.com/angular/angular/blob/f66ce096d8d908fcc0a643a14412136e74025c3d/modules/angular2/src/router/router_link.ts#L25-L33

[2015-07-07 21:09] btford commented on #2323
Yep. To re-state another way: RouteConfig should only be on the root component or a component (transitively) routed from the root component.

[2015-07-07 21:55] #2807 closed

[2015-07-07 22:03] vsavkin commented on #1505
Fixed here 652ed0cf6df6bd96808bbd6042c2b23a64a9b693

[2015-07-07 22:03] #1505 closed

[2015-07-07 22:13] mhevery commented on #2833
:+1:

[2015-07-08 00:09] coldume opened #2927 "Provide a way to bind class at runtime in template"
Angular2 currently provide a way to bind css class as `[class.fa-train]="true"`, it is great if you can also bind them at runtime, something like `[class:variable]="true"` or simply `[class:variable]`.

Here is a simple example,
[code]
[code]
[code]

Here is an example with bootstrap and form. Before:
[code]
After:
[code]
[code]
Thanks!

[2015-07-08 02:11] ericmdantas commented on #2865
Still not available :cry:

[2015-07-08 03:04] #2356 closed

[2015-07-08 03:04] #2859 closed

[2015-07-08 04:43] matanlurey commented on #2927
You should be able to use [class] from #2664. In your example:

[code]

[2015-07-08 06:35] Sabartius commented on #2865
Alpha 30 is also not available :(

[2015-07-08 06:48] naomiblack commented on #2920
this is internal b/22263630

[2015-07-08 07:28] #2883 closed

[2015-07-08 08:35] coldume commented on #2927
Thanks, this is exactly what I want!

[2015-07-08 08:35] #2927 closed

[2015-07-08 14:27] pkozlowski-opensource commented on #2885
@jomeier I hope that the above answers provided by @martinmcwhorter and @PascalPrecht (thnx guys!) is sorting out the pb for you. If not, please re-open the issue with a live reproduce scenario. Thnx!

[2015-07-08 14:27] #2885 closed

[2015-07-08 14:36] pkozlowski-opensource commented on #35
We've got a PR for this already: https://github.com/angular/angular/pull/2347

[2015-07-08 14:38] pkozlowski-opensource commented on #696
It landed via 783654e6a32e5cc3246e9e83a3b8459d186fa780

[2015-07-08 14:38] #696 closed

[2015-07-08 14:40] pkozlowski-opensource commented on #575
Sounds like duplicate of https://github.com/angular/angular/issues/1379

[2015-07-08 14:40] #575 closed

[2015-07-08 14:44] pkozlowski-opensource commented on #2207
@goderbauer Hmm, I must say that I didn't experience this issue on any of the environments I'm using (Linux, OSX, Win from time to time). Could you share more details on your environment and setup?

What is the exact task that needs the described setting? What is the error message that you were getting?

[2015-07-08 14:45] matanlurey opened #2932 "Emulated Shadow DOM: Does not properly shim ::shadow and /deep/ selectors"
Reproduction case:

CSS
---

[code]

Expected
---

[code]

[code]

Actual
---

The 'i' element is not incremented, but it is in the HTML

[code]

[code]

The `&::shadow i`, rule is rewritten and essentially dropped:

https://github.com/angular/angular/blob/6cdeab9279c956cc4d1f83194d0902f2bb09207f/modules/angular2/src/core/compiler/shadow_dom_emulation/shadow_css.js

[2015-07-08 15:23] mlaval commented on #2207
With https://github.com/angular/angular/commit/65769699b0ce98677af3a75e015319a8a73cc82d, `DARTIUM_BIN` should be enough, isn't it?

[2015-07-08 15:27] pkozlowski-opensource commented on #2207
@mlaval I think so. @goderbauer I'm going to close this one, happy to re-open if you've got still issues and could provide more details.

[2015-07-08 15:27] #2207 closed

[2015-07-08 15:45] pkozlowski-opensource commented on #2888
@DawidMyslak I can't reproduce the exact issue you were having, but I've submitted the #2934 PR just to make sure that we don't bump into it in the future.

Going to close this one as I can't reproduce it anymore and you've solved the pb differently anyways.

[2015-07-08 15:45] #2888 closed

[2015-07-08 16:01] jakemac53 commented on #2304
One issue I realized when writing the tests for this using option #4, we would have to rewrite ALL imports of angular2.dart to angular2_static.dart, not just the import in the entry point.

Because of this I am going to instead rewrite the import to application.dart in angular2.dart to application_{static|debug|verbose}.dart (which will all in turn import application_common.dart). This is essentia

[2015-07-08 16:47] mark1010 opened #2935 "Example with NgFor,NgIf directives fails on Dart version >=2.0.0-alpha.28"
The code below is taken from the examples and works correctly with angular Dart version 2.0.0-alpha.27  (after updating the injector).

	@View(template: '''
	<p>My name: {{ myName }}</p>
	<p>Friends:</p>
	<ul>
	   <li *ng-for="#name of friendNames">
	      {{ name }}
	   </li>
	</ul>
	<p *ng-if="friendNames.length > 3">You have many friends!</p>
	''',
	directives: const [NgFor,NgIf]
	)

Using angu

[2015-07-08 17:34] vicb commented on #2932
`.red-icon[_ngcontent-1] i[_ngcontent-2] { color: red; }`

I don't think this would ever be possible - the content (`_ngcontent-2`) is dynamic and it would be impossible to pre-process the styles at compile time.

Would a `i { color: red; }` style in your `red-icon` component work ?

Notes:
- The CSS shim is a port from polymer,
- The shim is no meant to be exahaustive but to cover the vast majori

[2015-07-08 17:47] rkirov commented on #2932
The other issue is - https://github.com/angular/angular/issues/2782

[2015-07-08 18:07] matanlurey commented on #2932
This is actually a SASS mixin that can be applied in any component, something like

[code]

[2015-07-08 18:18] rkirov commented on #2782
AFAIKT, polyfill-non-strict is no longer supported in webcomponents.js - https://github.com/webcomponents/webcomponentsjs/blob/master/src/ShadowCSS/ShadowCSS.js

We have the mechanism for non-strict polyfilling, but it is exposed as a global flag, not configurable per rule - https://github.com/angular/angular/blob/master/modules/angular2/src/render/dom/shadow_dom/shadow_css.ts#L140

However, I thi

[2015-07-08 18:19] matanlurey opened #2936 "DI: Adding bindings to a viewInjector causes ElementRef to not be injectable?"
Ran into this today.

[code]

vs adding someBindings to bootstrap function.

The former gives me:

[code]

[2015-07-08 18:35] alexeagle opened #2937 "Get changes to google-internal dart users faster"
related to b/22329583
see go/ng2-sync-design

cc @jeffbcross

[2015-07-08 19:04] #2741 closed

[2015-07-08 19:24] jakemac53 commented on #2304
Although now I realize that the mirrors config only lives in your package... :(. Gonna come back to this one I think.

[2015-07-08 20:23] jeffbcross commented on #2794
Moved this to next milestone since other internal needs have taken precedence. Sounds like good timing so I can circle back with @blesh on potential API changes.

[2015-07-08 20:45] jeffbcross commented on #2913
Yep

[2015-07-08 20:59] andresaraujo opened #2939 "Dart transformer doesn't add getters for formDirectives"
If you add the transformer to an application that uses `formDirectives` it will result
in the following error:

From NgModel
[code]

From DefaultValueAccessor
[code]

[2015-07-08 21:03] matanlurey opened #2940 "Render/Core: Conditionally add event handlers to DOM elements"
Have Angular register a single event handler at the top of the document and then forward the request to the appropriate statement. This means that multiple `(click)` registration would result in a single `document.addEventListener(...)` call.

NOTE: Care needs to be taken when crossing shadow root boundaries.

## ORIGINAL TEXT

Right now, you can add something like a mouseenter handler in the DOM:

[2015-07-08 21:22] vicb commented on #2845
What about tracking this via this issue or a todo comment in the code ?

[2015-07-08 21:41] matanlurey commented on #2871
This is actually a regression.

[2015-07-08 21:48] rkirov commented on #2932
@matanlurey I just checked that this is the exactly same behavior as [webcomponentsjs](https://github.com/webcomponents/webcomponentsjs), so it is not a bug with our port.

The example given:
[code]
means that `i` doesn't live in the shadow dom of component_1, so I think the shim does interpret `::shadow i` correctly. I think

[code]

[2015-07-08 21:55] rkirov commented on #2782
On second thought, it looks that `:host one` would translate to `component-name one` and basically provide the same functionality as `polyfill-non-strict`, so I think that should be used going forward. Ideally, I would like too keep feature-parity between our port of webcomponents and their repo.

@jmesserly What was the reason behind removing `polyfill-non-strict` from webcomponents.js? Also, is

[2015-07-08 22:10] #2920 closed

[2015-07-08 22:20] #2913 closed

[2015-07-08 22:21] matsko commented on #2323
This issue has been moved over to `alpha-32` since it can only be addressed after me and Brian get the Auxiliary Routes feature in.

[2015-07-08 22:43] andresaraujo opened #2945 "`templateUrl` behaves differently when using the Dart transformer"
I don't know if it a bug or not, but the behaviour of the `templateUrl` is different when using the transformer. e.g:

This works okay *without* the transformer:
[code]

But adding the transformer result in this error:

[code]

To make it work with the transformer I had to change the `templateUrl` to either `"app.html"` or `"../../packages/my_app/app.html"`. But then then comes the issue that it w

[2015-07-08 23:12] rixrix commented on #2788
I was poking around this yesterday and this setup worked for me, at least, by looking and incorporating the comments and suggestions above.

`main.ts`
[code]
`myapp.ts`
[code]
On last thing, from the `http.ts` source doc, it says `@Component({selector: 'http-app', viewInjector: [httpInjectables]})`, but `viewInjector` thingy didn't work for me, so I leave it off from my component. FYI

My env
* we

[2015-07-08 23:17] robwormald commented on #2788
@rixrix yeah, the basic issue is that (in theory) we shouldn't have to do the manual @Inject(Http) bit while using typescript.

[2015-07-08 23:25] munificent commented on #2921
This is fixed now, by https://github.com/angular/angular/pull/2941.

[2015-07-08 23:26] jmesserly commented on #2782
Hey! I'm pretty familiar with Shadow DOM, but not as familiar with Shadow CSS polyfill. I can try to help though.

I don't recall a polyfill-non-strict in Shadow CSS. Is it possibly an Angular feature? Could just be my memory. What I recall: there was a lot of spec churn on Shadow CSS. It may be helpful to look at the current spec draft: http://dev.w3.org/csswg/css-scoping/

Also Polymer 1.0 docs

[2015-07-08 23:46] leafpetersen commented on #2220
@jakemac53 asked me to take a look at this.  @yjbanov , any update on what needs to be done on our end to close this out?

[2015-07-08 23:48] matanlurey opened #2947 "Awesome dev experience: Can we detect infinite loops in change detection?"
Right now, it's possibly to hook up a listener on `onChange` or `onAllChangesDone`, and have it trigger a change, which in turn, will cause the function to be called again, ad-infinitum. In dev mode, could Angular detect a loop that will likely never complete (maybe > 10 times?) and throw/fail?

[2015-07-08 23:52] matanlurey commented on #2945
Andres, can you try using absolute `package:` URLs?

E.g.

`templateUrl: "package:my_app/app.html"`

You can plugin the following to enable support:

[code]

To add via DI, add this to your `bootstrap` function:

[code]

@jakemac53 and @yjbanov may have a better answer :)

[2015-07-09 00:02] andresaraujo commented on #2945
Thanks! that worked great.

[2015-07-09 00:10] jeffbcross opened #2948 "fix(typings): typings template should make module name at end of file dynamic"
This template is causing the router.d.ts output to have a redundant declaration to angular2.

[code]

Should be

[code]

Template location: https://github.com/angular/angular/blob/master/docs/dgeni-package/templates/type-definition.template.html

[2015-07-09 00:19] #2921 closed

[2015-07-09 00:33] gdi2290 commented on #2788
our correct workaround is using a decorator to force typescript to compile the metadata correctly. we can use `@Injectable()` for this
[code]

[2015-07-09 00:33] rkirov commented on #2782
You are right, looks like polyfill-non-strict and polyfill-unscoped-next-selector were custom angular polyfill- extensions added in angular.dart 1.x - https://github.com/angular/angular.dart/pull/1556.

What I gathered from @vsavkin is that at the time they were needed as workarounds for incorrect shimming of `foo::shadow bar` selectors (which is exactly issue [2932](https://github.com/angular/ang

[2015-07-09 00:52] jmesserly commented on #2782
Ah, I can't answer about plans and stuff, since it's not my code :). I'm not super familiar with the polyfill, my knowledge is more at the spec level (if you want to know about Shadow DOM polyfill, though, I know plenty about that one). But we can try to read it together and figure it out maybe?

There's a comment explaining them, though:
https://github.com/webcomponents/webcomponentsjs/blob/fee54

[2015-07-09 00:57] yjbanov opened #2950 "ng-for: support observable collections in Dart"
An observable collection implements both `Iterable` and `Observable`, and delivers `ListChangeRecord`s. Example: `ObservableList` from `package:observe`.

ng2 should support custom implementations too and not rely on `ObservableList` specifically.

/cc @matanlurey

[2015-07-09 00:59] andresaraujo commented on #2935
Same here, this only happens if you add the Dart transformer.

[2015-07-09 02:01] ericmdantas commented on #2865
[.30 bundle is available](https://code.angularjs.org/2.0.0-alpha.30/)

[2015-07-09 03:07] theotherzach opened #2953 "angular2.sfx.dev.js does not attach `angular` to the global object"
The subject says it all. Include`alpha.30` in the script tag and `angular` is no longer available as a global variable.
<img width="1392" alt="screen shot 2015-07-08 at 10 05 49 pm" src="https://cloud.githubusercontent.com/assets/1697198/8587132/8e5d8e16-25bd-11e5-860f-17390f13042a.png">

Tested on both `master` and `alpha-30`. I did not have this problem in `alpha.28`

[2015-07-09 03:37] matanlurey opened #2954 "DI: hostInjector/viewInjector do not support nested lists"
I assume, based on both the documentation and API, that the following should be legal:

[code]

The following is thrown though:

[code]

[code]

This is also blocking proper use of deferred loading, since ideally you'd have a deferred loaded components declare some dependencies (services, etc).

@vsavkin, @yjbanov could you take a look?

[2015-07-09 03:38] matanlurey commented on #2945
@yjbanov, does it make sense to bundle this with the Dart version of Angular?

[2015-07-09 07:14] #2691 closed

[2015-07-09 10:44] camden-kid opened #2958 "Where can I find the typings file “zone.d.ts”"
The file globals.d.ts references the file typings/zone/zone.d.ts but there isn't a typings directory.

[2015-07-09 11:12] hdeshev commented on #2958
It is [installed](https://github.com/angular/angular/blob/master/modules/angular2/tsd.json) by the `tsd` tool. You can run `tsd --reinstall` from the `modules/angular2` dir, and it will land in `typings/zone`.

[2015-07-09 12:06] camden-kid commented on #2958
I just tried that and this was the output (on a Max, OSX 10.10.3):

   install <...pattern>        install definitions using one or more globbing patterns.

       $ tsd install mocha                   : install mocha
       $ tsd install angularjs/              : install full angularjs bundle

Followed by install options.

[2015-07-09 12:09] hdeshev commented on #2958
Oops - it should be `tsd reinstall` (no double hyphen).

[2015-07-09 12:11] camden-kid commented on #2958
Thank you. That worked.

[2015-07-09 12:28] camden-kid commented on #2958
Not related to this I'm getting a few more errors. They're not too important but I thought I would show them:

    angular2/src/directives/ng_for.ts(54,18): error TS2346: Supplied parameters do not match any signature of call target.
    angular2/src/facade/lang.ts(8,36): error TS2311: A class may only extend another class.
    angular2/src/facade/lang.ts(12,5): error TS2335: 'super' can only be r

[2015-07-09 12:49] dsebastien opened #2959 "Pass objects via RouteParams"
Hello,

Are there plans to support passing objects through RouteParams? RouteParams currently only handles a Map<string,string> and returns strings, but i'd be interested to be able to pass more complex data structures around.

My use case is the following (not to say that it warrants including the feature -- I can certainly work around this limitation):

I have a PagesService whose responsibility

[2015-07-09 14:10] jpsfs commented on #1694
Hey,

Sorry to dig-up this issue but I think I've found a nasty side-effect from the inline style approach.

**Tested on alpha 30. This issue didn't occur on alpha 27.**

I'm doing a test app, building components based on a commercial theme. The theme css's have multiple references to other files (images, fonts, ...) using relative paths.

Example:

[code]

[code]

**Error:**
*/img/progress.gif* n

[2015-07-09 15:34] vsavkin commented on #2954
@matanlurey I will take a look today.

[2015-07-09 16:00] vsavkin commented on #1790
Closed by https://github.com/angular/angular/pull/2926

[2015-07-09 16:00] #1790 closed

[2015-07-09 16:04] vsavkin commented on #1489
Agree with @caitp. This does not seem to be actionable.

[2015-07-09 16:04] #1489 closed

[2015-07-09 16:10] vsavkin opened #2960 "Add the submitted flag to the Forms API"
We need to implement something similar to $submitted in Angular 1, so we can do the following:

[code]

[2015-07-09 16:17] vsavkin opened #2961 "Implement basic html5 validations"
We need to support the following validations: required, minlength, maxlength, min, max, pattern.n Currently we only support "required".

[2015-07-09 16:21] yjbanov commented on #1694
@jpsfs We have logic to correct relative URLs while inlining, but perhaps there's a bug. Please, file an issue.

[2015-07-09 16:21] vsavkin opened #2962 "Add validators to Forms verifying basic data types"
Data types: email, url, number, date, time, week, month.

[2015-07-09 17:21] irfantusneem opened #2963 "Better error messages when Component property is misspelled in binding"
When a directive is missing from the @View directives property the following error message is displayed.

Can't bind to 'essContext' since it isn't a know property of the 'ess-form' element and there are no matching directives with a corresponding property

Change this to.

Can't bind to 'essContext' since it isn't a know property of the 'ess-form' element and there are no matching directives with

[2015-07-09 17:32] jeffbcross commented on #2901
@btford and @matsko heads up that we're renaming `PipeRegistry` to `Pipes`. What do you think of changing `RouteRegistry` to `Routes`?

[2015-07-09 17:33] matsko commented on #2901
Works for me.

[2015-07-09 17:41] psunkari commented on #2782
Currently, when we use emulated shadow root, the CSS is being shimmed

[2015-07-09 18:03] btford commented on #2901
I think `RouteRegistry` is a better name than `Routes` since there are so many class names that already have `Route` in them. But there may be a better name for `RouteRegistry`; we'd have to chat some to decide.

[2015-07-09 18:09] jakemac53 commented on #2919
Removing milestone and unassigning myself for now, as I will not be able to get to this before I go on vacation next week.

[2015-07-09 18:10] jakemac53 commented on #2898
I will be gone for the alpha-32 milestone but Tim will be back so assigned him

[2015-07-09 18:11] jakemac53 commented on #2304
removed milestone and unassigned since I won't be able to get to this before I go on vacation

[2015-07-09 18:39] btford commented on #1950
I'm going to close this, but please ping me on this thread if you're heaving trouble and I'll do my best to help.

[2015-07-09 18:39] #1950 closed

[2015-07-09 18:42] btford opened #2965 "feat(router): implement otherwise/routeNotFound hook"
We need some way to deal with the following cases:

- Route doesn't match
- CanActivate returns `false`
- CanDeactivate returns `false`

This might not all be implemented the same way.

[2015-07-09 19:33] matanlurey opened #2968 "Template: Attributes should support binding to non-Strings and just use toString()"
Otherwise, for something like `[attr.aria-invalid]="isInvalid"` you must do something like:

[code]

[2015-07-09 19:59] #2448 closed

[2015-07-09 20:01] alexeagle opened #2969 "Move pubspec_cleaner.js to build.dart"
At present, we build dart artifacts in the `dist` dir during the build, with package overrides for tests. We then leave the dist folder in that state. Later, when we publish to pub, we run `pubspec_cleaner.js` to get the real files we upload.
Now that we publish dart snapshots for every green travis build, it would be better to do this cleaner during the build. We can run it after tests are finish

[2015-07-09 20:17] psunkari commented on #2782
As of now polyfill-unscoped-rule does not seem to be doing anything.

polyfill-unscoped-rule { content: '.table-header';
  min-height: 56px;
  background-color: white;
}

comes out as

polyfill-unscoped-rule[_ngcontent-6] { content: '.table-header';
  min-height: 56px;
  background-color: white;
}

https://github.com/angular/angular/blob/master/modules/angular2/test/render/dom/shadow_dom/shadow_cs

[2015-07-09 21:40] alexeagle commented on #2900
Fixed by https://github.com/angular/angular/commit/b54e7214f02beee25d7c7fbfda5ce599d19f7b94

[2015-07-09 21:40] #2900 closed

[2015-07-09 21:52] robwormald commented on #2953
its available now as `ng` - https://github.com/angular/angular/blob/master/modules/angular2/angular2_sfx.ts#L18

[2015-07-09 22:22] yjbanov commented on #2871
These lookups shouldn't be happening. I'm suspecting the latest DI changes. Assigning to @vsavkin

[2015-07-09 23:04] rkirov commented on #2782
@jmesserly, thanks for the offering to work through the shim. After some talk with @psunkari looks like `polyfill-unscoped-rule` is good enough for their usecase, and we are investigating whether it is implemented properly in our port. If we discover something that is also broken on webcomponentsjs I will file a bug back with you guys.

@psunkari The original rule is kept (and shimmed), not sure i

[2015-07-10 00:11] tbosch commented on #2890
Note: While refactoring the compiler because of the new content projection, this method will go away...

[2015-07-10 08:31] pkozlowski-opensource commented on #2963
@irfantusneem thnx for the suggestions, but I don't think we can change the error messages exactly as you are proposing:

The issue here is that this error can be thrown if you misspell (or fail to declare) a property of a directive. So lack of the directive or lack of a property gives the same error.

Could you think of a different error massage that would capture this other case as well? We want

[2015-07-10 13:52] muhammedea commented on #2844
Why not defining dependencies in themplate itself. Like Aurelia framework does.
HTML include syntax or a special directive would work. It is good for seperation of concern, as well.
Maybe this subclassing method can be used in themplates too.

[2015-07-10 14:22] PascalPrecht commented on #2844
@muhammedea I think Angular 2 is not designed to work with HTML imports like this. In addition, you prolly lose a lot of tooling capabilities.

[2015-07-10 15:40] vsavkin commented on #2871
Changing it to P2 after talking to Matan. This actually does not affect tests or production code (just the logging issue).

[2015-07-10 17:06] alexeagle opened #2976 "output from gulp build.material.dart is missing from dist/ folder on travis"
The resulting CSS files need to be included in the snapshots we now publish to cloud storage.

[2015-07-10 17:27] diestrin opened #2977 "TypeScript + AtScript instead of ES7?"
I new the reasons you guys decided to pick TS+@script instead of plain javascript, even when there's an option to write NG2.0 in plain javascript.

But given that ES7 has @decorator syntax, can just Angular move to standard instead of using an external tool?

If not, what are the reasons?

[2015-07-10 17:36] vicb commented on #2977
ES6 has just been approved (e/o June) and no current browser fully supports it.

While ES release cycles should be faster starting from now, ES7 is not a thing today - there is no other option as using a transpiler for now.

[2015-07-10 17:36] #2977 closed

[2015-07-10 17:37] psunkari commented on #2782
After taking a look at the code/output with @rkirov, there seems to be a small bug that caused only the last polyfill-unscoped-rule to be appended to the style tag.

https://github.com/angular/angular/blob/master/modules/angular2/src/render/dom/shadow_dom/shadow_css.ts#L261 should append the text to string instead of assigning it.

[2015-07-10 17:39] alexeagle commented on #2976
note, it should probably be removed from https://github.com/angular/angular/blob/master/scripts/publish/pub_publish.sh#L20 at the same time

[2015-07-10 17:41] rkirov commented on #2976
Can't `build.dart.material` be rolled into as the last step of `build.dart`?

[2015-07-10 17:45] caitp commented on #2977
The (various, changing) decorators proposals (i.e. https://github.com/wycats/javascript-decorators) are in their early stages, and may not necessarily ever be ratified.

That said, projects like Angular2, Ember, Aurelia, and plenty of others, which choose to rely on these features through compile-to-js toolchains (like TypeScript), help inform the technical committee that there's a (admittedly que

[2015-07-10 17:49] vsavkin commented on #2824
The workaround is to use ng-submit instead of submit. NgSubmit goes through an rx stream, so the order of updates will be correct. Once we switch to RxNext, we can revisit it.

[2015-07-10 17:49] #2824 closed

[2015-07-10 17:50] #2871 closed

[2015-07-10 18:04] naomiblack commented on #2937
done.

[2015-07-10 18:04] #2937 closed

[2015-07-10 18:17] naomiblack commented on #1745
This needs more design discussion before it can be assigned.

[2015-07-10 18:17] jelbourn commented on #2976
Yeah, I'll do that today. I had previously wanted to avoid that to prevent
coupling angular2 and angular_material, but it's not a big deal.

On Fri, Jul 10, 2015 at 10:41 AM, Rado Kirov <notifications@github.com>
wrote:

[2015-07-10 19:11] diestrin commented on #2977
@vicb yeah I know that browser support is not optimal right now, but even using it and using Babel as the transpiler, gives a much more wider support to ES6/7 now.
Check https://kangax.github.io/compat-table/es6/ and you'll see Babel has more support than Typescript.

Difference? Babel uses actual standard syntax instead of custom Typescript syntax.