[2015-06-06 16:09] jbdeboer commented on #2083
This appears to be completed. lifecycle is now typed and the provided ```LifecycleEvents``` have docs.

[2015-06-06 16:09] #2083 closed

[2015-06-06 16:35] mhevery commented on #2389
Could you provide a repro case.

[2015-06-06 16:38] mhevery commented on #2393
Yes, we are working on it. Don't have anything to share just yet.

[2015-06-06 16:38] #2393 closed

[2015-06-06 16:39] mhevery commented on #2397
We are still debating how best to handle the CSS encapsulation of components. This is on our road-map.

[2015-06-06 16:39] #2397 closed

[2015-06-06 16:50] jbdeboer commented on #2389
Same as #2391

IIUC, the dynamic component loader is passing the component's exception through a Future to the Router in #2391. The Router is not doing anything with that error and then something (the zone maybe?) is eating the exception.

I wasn't able to verify that the dynamic component loader was doing the correct thing -- and am still not convinced: why should the user of the dynamic componen

[2015-06-06 18:37] gdi2290 commented on #2398
you can do `subject | pipe(arg1, arg2)` already with the existing version (and I prefer switching to `()`) [rxPipes.ts#L38](https://github.com/angular-class/angular2-reactive-starter/blob/2f29104a32df4bbbaff82fd28b65316cd92907f8/src/common/rxPipes.ts#L38) but it doesn't allow for when you don't want arguments.

I made an issue here https://github.com/angular/angular/issues/1625 where @mhevery said

[2015-06-06 18:41] gdi2290 commented on #2318
@rolandjitsu there is a new update for Angular 2 typings. could you update yours? Although it's limited only to types in `angular2/angular2`

[2015-06-06 20:32] caitp commented on #2386
I'm not sure exactly where the problem is coming from. It shouldn't affect Windows machines, and can be fixed on unix by replacing the `symlinkOrCopySync()` with `fse.outputFileSync()`, but there are performance implications.

However, I'm not convinced that it's a TreeStabilizer bug. I am expecting this to be multi_copy or the Funnel plugin itself, and possibly just the design of the dart treebui

[2015-06-07 01:16] gdi2290 opened #2399 "Q: router(router-outlet): how to pass properties/events to components"
yo @btford ,

How do I pass properties/events to components that are loaded in by the `<router-outlet>`. The initial assumption is `<router-outlet [model]="someInitialData"></router-outlet>` but that doesn't work. Using `@RouteConfig` doesn't make sense (although allowing me to include hostInjectors/viewInjectors might be interesting)

thanks

[2015-06-07 06:32] vicb commented on #2397
To add some details here: there are 3 strategies for rendering component: native WC, emulated WC, emulated WC unscoped.

The default strategy is the last one which explains what you see. See application.js for more info.

As the emulated behavior is not strictly the same as the native one, the strategy is not automatically switched based on the availability of WC.

[2015-06-07 07:04] anandgupta08 commented on #2397
Thanks Misko and Victor for your response.

How can i switch between WC strategies ? I do see some posts that say we can do it while calling bootstrap() as below:

![image](https://cloud.githubusercontent.com/assets/12773087/8022963/0ad4d5e0-0d26-11e5-946c-ac3dbfc8802f.png)

However, this does not seem to help as i get an error (if i still go ahead and run the compiled JavaScript code assuming its

[2015-06-07 08:06] rolandjitsu commented on #2318
@gdi2290 I'll give it a try, to bad the `angular2/router` typings are not updated.

[2015-06-07 08:19] gdi2290 commented on #2397
for alpha.25 do this
[code]
---

for alpha.26 do this
[code]

[2015-06-07 10:27] jomeier commented on #2343
Do you have any recommendations what we can do to get Alpha 26 working? Will "it" be fixed in Alpha 27 ?

[2015-06-07 16:20] glfafn commented on #2343
@jomeier The 26 version was updated soon after with a patch that fixes the issue temporarily.

[2015-06-07 18:31] splintercode commented on #2376
This issue can be closed see related issue on https://github.com/angular/angular.io/issues/132
and commit https://github.com/jackmu95/angular.io/commit/1315b757876e0cabb233e31c4d210391e148d1fd

[2015-06-07 18:53] gdi2290 commented on #1950
I have a fix here https://github.com/angular/angular/pull/2400

[2015-06-07 18:59] gdi2290 commented on #1818
having `(@Attributes: $attrs)` would also be great for making directives that work both in angular1 and angular2 since you only have `$attrs` in angular1

[2015-06-07 19:26] pkozlowski-opensource commented on #2376
Thnx @splintercode !

[2015-06-07 19:26] #2376 closed

[2015-06-07 21:48] caitp commented on #2386
Oh, another thing that seems to fix this is re-implementing stew.map (and broccoli-filter) on the new rebuild-api. I guess it's another symptom of broccoli-filter doing crazy things, and the tree-stabilizer not fixing it properly.

Any votes for the approach taken to fix this? It's a one-liner vs several-hundred-lines

[2015-06-08 06:30] vicb commented on #2398
This is currently parsed as `(subject | pipe)(arg1, arg2)`. `subject | pipe(arg1, arg2)` would have to be rewritten as `subject | pipe()(arg1, arg2)` or `(subject | pipe)(arg1, arg2)` if we use '()' to delimit parameters.

[2015-06-08 06:47] vicb opened #2403 "Parser: unused AST FunctionCall"
`fn()` would be parsed as a `MethodCall` on the `ImplicitReceiver`

I don't think `FunctionCall` could ever be generated, we should be able to drop it.

@vsavkin what do you think ?

[2015-06-08 07:58] ibhi opened #2404 "lifecycle method onChange called before onInit and onCheck"
I have attached `onInit, onCheck, onChange`, and `onAllChangesDone` lifecycle methods attached to a component(to reason about the sequence in which these methods get called). When the component is instantiated, its `onChange` method is called first, then `onInit`, `onCheck` and `onAllChangesDone` methods are called in sequence.
The docs says `onChange`

1. Why `onChange` is called initially when t

[2015-06-08 08:31] vicb commented on #2404
1. It is called *after* the component have been instantiated (vs being instantiated in your comment) to render the initial state.
2. We do not currently document any specific call order when multiple events are called. The actual order is [change, init and check](https://github.com/angular/angular/blob/d1b35f9174dbef808fdff655f9c4b42b1c125242/modules/angular2/src/core/compiler/proto_view_factory.t

[2015-06-08 08:56] ibhi commented on #2404
@vicb , Thanks for your quick response.
I do not have any use case for the order now, but If I come across, I will share it here.

[2015-06-08 10:25] peter-svintsitskyi opened #2405 "Can not pass value from parent component to a child via property in alfa-26"
See the following plunk http://plnkr.co/edit/YwVBlAVLIzA4Dx0sAWIE
I have two components defined in parent-component.es6.js and I'm trying to pass data from ParentComponent to a ChildComponent using the "foo" property of the child component.

It works when I switch to previous version alfa-25.

[2015-06-08 14:14] rolandjitsu opened #2406 "using ng-form-model directive throws exception"
After I updated to version `26`, the forms I had no longer work. After I looked through the source code I found some examples of how to use forms now:

[code]
[code]
But I keep getting an exception:

![screenshot 2015-06-08 16 12 21](https://cloud.githubusercontent.com/assets/1479737/8036606/32093380-0df9-11e5-840b-d4468e85617c.png)

I've tried all combinations I could think of (of directives), bu

[2015-06-08 14:22] rolandjitsu commented on #2399
On the note of `events`. In version 1.x of Angular, the new router calls some methods on the controllers (`canActivate`, `activate`, etc.), but it seems like for version 2, these methods, if they exist on the constructors, they are not called.

Is that on purpose? If so, how else can we tap into those events?

[2015-06-08 14:29] rolandjitsu commented on #2384
Will this solve the issue of resolving the path for a template relative to the component instead of writing the full path?
E.g.:
[code]
vs.
[code]

[2015-06-08 15:04] ibhi commented on #2405
@peter-svintsitskyi - In alpha.26 the syntax for properties changed from object (key: value) to string array (List), So if you change the `properties: {'childFoo': 'foo'}` to `properties`: ['childFoo: foo']`. This will work.
http://plnkr.co/edit/1H4xpmCX9LFxngMyLZeW?p=preview

The change in syntax will enable us to not repeat, the directiveProperty name and bindingProperty names if they are same,

[2015-06-08 16:06] vicb commented on #2405
When things are not working for a new release, you should first check [the changelog](https://github.com/angular/angular/blob/master/CHANGELOG.md). We do out best to list beaking changes there.

[2015-06-08 16:06] #2405 closed

[2015-06-08 16:22] vicb opened #2408 "Fix some sync bindings that have async dependencies"
This is an error case as described in #1111.

#2407 make sure that the errors get detected.

Bindings to fix:
- [ ] [`appComponentType`](https://github.com/angular/angular/blob/79f3f3b456c8e73054d9f0c3e62aaa830cff64b6/modules/angular2/src/core/application.ts#L90) depends on async `appComponentRefToken`
- [ ] [`WebDriverExtension`](https://github.com/angular/angular/blob/79f3f3b456c8e73054d9f0c3e62

[2015-06-08 16:56] tbosch opened #2409 "Custom render services"
# Custom Render Services

Custom render services are services that live on the render layer and are accessible via an interface on the app layer. We already have two of these services, `RenderCompiler` and `Renderer`, but users should be able to create their own.

For the WebWorker scenario, the idea so far was to create manual proxy/stubs for the `RenderCompiler` and the `Renderer` to be able to

[2015-06-08 17:00] vsavkin commented on #2404
We sort of document it in this test `directive_lifecycle_integration_spec.ts`.

[2015-06-08 17:03] vsavkin commented on #2403
consider the following: `fn()()`. I believe the second one is a FunctionCall.

[2015-06-08 17:20] vsavkin commented on #1303
There are a few PRs that implemented ng-model. Misko pointed to only one of them.

You can look at this PR that adds an example of using ng-model: https://github.com/angular/angular/pull/2385

[2015-06-08 17:27] vsavkin commented on #985
You can get a reference to any directive on the element as follows:

[code]

Used in the template as follows:

[code]

Does it solve your problem?

[2015-06-08 17:29] pkozlowski-opensource commented on #985
@vsavkin just to be sure - we can't use mixed cases in templates, so one would have to write `<google-youtube #youtube-ref #tooltip-ref="myTooltip" tooltip="Some tooltip">`, right?

[2015-06-08 17:29] vsavkin commented on #625
@mhevery I think this PR closes this issue: https://github.com/angular/angular/pull/2350.

The directive can export itself into the view. You can get access to everything else via the directive instance.

[2015-06-08 17:31] #2272 closed

[2015-06-08 17:35] vsavkin commented on #985
I didn't know about that! I thought youtubeRef just gets lowercased.

[2015-06-08 17:42] vicb commented on #2404
@vsavkin it could be valuable to have this in the docs, I'll send a PR tomorrow.

[2015-06-08 17:45] vsavkin commented on #1949
I think the issue was fixed some time ago. @vicb can you reproduce it on master?

[2015-06-08 17:59] pkozlowski-opensource commented on #2094
@mlaval here are my numbers from my machine (1 year old MBP):

[19:54:58] Starting 'build/clean.js'...
[19:54:58] Finished 'build/clean.js' after 262 ms
[19:54:58] Starting 'build.js.dev'...
[19:54:58] Starting 'build/clean.tools'...
[19:54:58] Finished 'build/clean.tools' after 920 μs
[19:54:58] Starting 'build.tools'...
[19:54:58] Starting '!build.tools'...
[19:55:02] Finished '!build.tools' aft

[2015-06-08 17:59] hrajchert commented on #985
This feature is not implemented yet, right?
If so, why would you add the `-ref`?

Couldn't we just use the name of the directive with a hash before it?

[code]

[2015-06-08 18:01] pkozlowski-opensource commented on #985
@hrajchert HTML is not case-sensitive so browsers will "auto-correct" all the attributes making them lower-cased. In short - you can't have attributes / tag names with mixed case - browsers see them as all lower-cased...

[2015-06-08 18:09] hrajchert commented on #985
Yes, im not talking about camel casing. My example was unfortunate, I wanted to focus on `#tooltip` rather than `myElementRef`

Maybe this is clearer?

[code]

The idea here would be that my-element-ref points to the google-youtube API and myTooltipRef to the tooltip API

[2015-06-08 18:18] kegluneq commented on #2330
Since this is not required for `context` typing, lowering its priority. @vsavkin wants to keep `hydrated` (or also remove `View#hydrated` to remain consistent), and I don't have the cycles to do that atm. @yjbanov , assigning to you to either make the case for removing `hydrated` or close.

[2015-06-08 18:22] tbosch commented on #2409
No blocking GT as they can just write regular services.

/cc @matanlurey

[2015-06-08 18:22] #1807 closed

[2015-06-08 18:37] vsavkin commented on #985
It is implemented.

The way it works is as follows:

- The directive author provides the exportAs name
- The developer using the directive can use that name on the right hand side of the variable binding.

See here https://github.com/angular/angular/issues/2313

[2015-06-08 18:37] vicb commented on #2015
closed via #2288

[2015-06-08 18:37] #2015 closed

[2015-06-08 18:38] tbosch commented on #2359
Landed in master via d1b35f9174dbef808fdff655f9c4b42b1c125242 and 87b3b718e329ccf9cc720d2e0f1b5a10d611daaf

[2015-06-08 18:38] #2359 closed

[2015-06-08 18:42] tbosch commented on #1931
Related: https://github.com/angular/angular/issues/1168

[2015-06-08 18:43] pkozlowski-opensource commented on #1625
@mhevery @vsavkin I would like to come back to the topic of registering custom pipes. It would be best if I could create a custom pipe for the purpose of handling `class` and `style` attributes. But my current understanding is that I can only register "global" pipes, right? Or was anything implemented in this respect?

[2015-06-08 18:46] hrajchert commented on #985
Ok, so @vsavkin, Just to see if I understood correctly

Assuming I have a component called `google-youtube` and a directive called `tooltip`

The minimum code would be

[code]

And if I want to have a different handler for each of their API I would do this

[code]

where the ref are `element-ref` and `my-tooltip-ref` and the tooltip directive must have this annotation

[code]

Am I correct?

[2015-06-08 19:45] tbosch commented on #1168
Blocked on design for our custom reprojection.

[2015-06-08 19:49] vsavkin commented on #985
Yup. You are correct.

[2015-06-08 20:03] mhevery opened #2413 "When template has an error, it breaks most of the page"
When there is an error in the template, the CD stops and breaks the remainder of the page. Instead we should just publish the error and continue on processing the remainder of the page.

[2015-06-08 20:09] #2038 closed

[2015-06-08 20:10] peter-svintsitskyi commented on #2405
Thank you for your help. I did not notice it in the chagnelog.

[2015-06-08 20:26] thekhoi opened #2414 "Dependency Injection from inherited classes not working properly"
I am having a couple of issues w/ DI.  Firstly, the I'm unable to DI the NgZone when using the appInjector syntax. The work around was to use the constructor parameter syntax.

[code]

The second issue I've observed is that the NgZone is getting injected twice, 1st and 3rd parameters, in the below example.

[code]

I'm currently using version .25

[2015-06-08 20:32] hrajchert commented on #985
Cool, then feel free to close this issue

[2015-06-08 20:55] tbosch commented on #1693
@mhevery @naomiblack GT is already implementing their `RulerService` and DOM read/write queue. As only they have the use cases for this so far, and it is not trivial to get describe in detail, let's not implement this in Angular for now and let GT drive it. Especially as we are going in the direction of [custom render services](https://github.com/angular/angular/issues/2409), with which users can

[2015-06-08 20:59] tbosch commented on #2409
TODO: update render design doc once this is implemented...

[2015-06-08 20:59] jeffbcross commented on #2305
@tbosch sounds good, will just move it there

[2015-06-08 21:02] juliemr commented on #2309
Reproduced with plain old selenium-webdriver using selenium-webdriver node module 2.45, selenium 2.45, and chromedriver 2.14, and Chrome > 43. See https://github.com/juliemr/webdriver-bugs/blob/master/mobileclick.js

New versions of selenium and chromedriver are out today. I'm going to try updating and see if that fixes.

[2015-06-08 21:05] jeffbcross opened #2415 "feat(http): EventEmitter and Dart support"
The initial implementation of http (PR #2360) is only tested in JS, and is limited to JavaScript because it's using RxJS directly. The library should be changed to use the EventEmitter abstraction, which uses RxJS for  JavaScript, and streams for dart. This will require extending `EventEmitter` to support creation of cold observable, and to support the map operator.

[2015-06-08 21:22] tbosch commented on #1693
As discussed offline, dropping prio, won't do it in this milestone.

[2015-06-08 21:23] jeffbcross opened #2416 "refactor(http): reduce function args to single parameter with union type"
The existing implementation signature of http (PR #2360) is: `http(url, options)`, similar to the native `fetch` API. but this makes it difficult to compose http into an observable chain for use cases where options are also passed in:

[code]

[2015-06-08 21:29] jeffbcross opened #2417 "feat(http): implement support for headers and url params objects in http"
The constructors for `Headers` and `UrlSearchParams` have already been implemented to near-spec ([Headers](https://fetch.spec.whatwg.org/#terminology-headers), [UrlSearchParams](https://url.spec.whatwg.org/#urlsearchparams)) in PR #2360, but have not been incorporated into the request process. These should be incorporated in such a way that a dictionary or fully-constructed object of each type can

[2015-06-08 21:29] mlaval commented on #1875
Still failing but with another error:
[code]

It seems to come from the dartfmt command which in that case is 35614 characters long, while 8191 is the limit in Windows command line.
The command starts with:
`dartfmt.bat -w c:\Dev\angular\angular_mlaval\tmp\diffing_plugin_wrapper-cache_path-yHAKKF9H.tmp\angular2\angular2.api.dart c:\Dev\angular\angular_mlaval\tmp\diffing_plugin_wrapper-cache_path-y

[2015-06-08 21:31] caitp commented on #1875
may need to quote each filename, could you try that and see if it's an easy fix?

[2015-06-08 21:31] tbosch opened #2418 "build: `gulp serve.js.dev` does not copy html files"
Seems as if broccoli is removing all `.html` files on the second build...

[2015-06-08 21:39] mlaval commented on #1875
It doesn't help

[2015-06-08 21:45] mhevery commented on #2330
If this is not an issue for typing, we are just closing.

[2015-06-08 21:45] #2330 closed

[2015-06-08 21:54] caitp commented on #1875
try that PR's patch and see if that does it for you

[2015-06-08 21:55] naomiblack commented on #2389
Closing this as a dup of #2391. (Resolving that issue will include meaningful tests.)

[2015-06-08 21:55] #2389 closed

[2015-06-08 21:56] gdi2290 commented on #2415
it sounds like we need an `EventEmitterWrapper`

[2015-06-08 21:59] #2124 closed

[2015-06-08 22:04] mprobst commented on #143
I don't know what this means. What source maps? Where?

[2015-06-08 22:04] mprobst commented on #1382
Maybe this is something for our bundling guru?

[2015-06-08 22:40] mhevery commented on #2399
host/view injector is the way to go here. We don't have plans for other modes yet.

[2015-06-08 22:40] #2399 closed

[2015-06-08 22:42] #2404 closed

[2015-06-08 22:45] btford commented on #2391
On it. Thanks, @jbdeboer!

[2015-06-08 22:45] mhevery commented on #2406
It seems like your binding `[value]="desc.value"` is throwing an error because `desc` is null.

[2015-06-08 22:49] mhevery commented on #2414
Assuming you are using typescript, there is no need for the `@Inject(NgZone)` annotation. can you remove it.

[2015-06-08 22:54] caitp commented on #2418
this will probably stop being an issue after the merge-trees plugin is reverted, which Igor intends to do

[2015-06-08 22:58] mhevery commented on #2383
dup of #2194

[2015-06-08 23:03] btford commented on #2325
We have this, but it's not exported in builds: https://github.com/angular/angular/blob/master/modules/angular2/src/mock/location_mock.ts

@tbosch @mhevery – How do we handle this for other parts of Angular?

[2015-06-08 23:06] thekhoi commented on #2414
I am using typescript.
[code]
As you can see i'm injecting the Store and TodoFactory in the above example.  However adding NgZone to the appInjector caused it to error out. (See above)

Looking a the source code for the bootstrap method, it appears that angular is binding to the value instead of a factory for NgZone.  I had a hunch that has something to do w/it but didn't dig any deeper after I fo

[2015-06-08 23:07] btford commented on #2261
:+1:

We'll still want to accept Maps for JS devs, but I'm happy to add this if it's more idiomatic for Dart.

[2015-06-08 23:07] mlaval commented on #1875
It works, great!

Now the task fails later:
[code]

To be continued

[2015-06-08 23:19] rkirov commented on #1382
SystemJsBuilder uses uglify under the hood when called with `minify: true`.

https://code.angularjs.org/2.0.0-alpha.26/angular.min.js is already partially minified, but zone.js is concatenated unminified afterwards which makes it look unminified. The action item here is to concatenate with minified deps (zone and Reflect-metadata).

The result is still pretty good [code.angularjs.org](https://code

[2015-06-08 23:27] jelbourn opened #2422 "Deploy Angular 2 material components for experimental internal benchmarks"
Want to get early versions of material components available to GT people for performance testing in Dart. Need to figure out the deployment strategy and sync for internal use cases.

FYI @rkirov

[2015-06-08 23:28] mhevery commented on #2363
cc: @irfantusneem

[2015-06-08 23:32] pkozlowski-opensource commented on #1472
@mhevery shell we rename [the existing class directive]() to `ng-class` as it was done for `ng-if`, `ng-for` etc.? This would solve this particular issue (there are other ways of solving this, of course!)

[2015-06-09 00:34] pkozlowski-opensource commented on #2386
Oh, bumping into this one as well :-( This issue makes it _very_ hard to test on Dart, as we need to re-start test.unit.dart after each file change, and this is now looongish (~20 - 30s) after migration to Brocolli...

[2015-06-09 00:49] naomiblack commented on #2261
this is internal issue b/21563833

[2015-06-09 01:59] rkirov commented on #2343
Temporary fix landed, thanks for the reference @mgechev.

As mentioned already, the 26 bundle has been back-patched.

[2015-06-09 01:59] #2343 closed

[2015-06-09 04:02] robwormald opened #2428 "JS Distribution Strategy"
Happy to tackle some of these, wanted to list them in case they're already on the roadmap.
- we should stop using the *.es6 extension - it makes it quite difficult to work with the ES6 source.
- ES6 consumers are likely going to want to bundle themselves, vs using a pre-built bundle.
- ES6 consumers are likely going to want to consume ES6 (or TS) source, vs commonJS (which has already caused a few

[2015-06-09 04:04] robwormald commented on #2428
I'm tracking the registry stuff over here, https://github.com/jspm/registry/pull/385, mostly blocked until we have .js extensions. Note that consuming commonJS works, but when there's a problem with the build (like there is now), we're sort of stuck until the next bump.

[2015-06-09 04:08] robwormald commented on #2428
example of the kind of overrides needed to use it - not a big issue, but just one more bit of friction to get up and running. https://github.com/robwormald/ng2-jspm-seed/blob/master/jspm.conf.js#L34-L41

[2015-06-09 04:12] mhevery commented on #2382
FYI @vicb updated the details.

[2015-06-09 04:33] mhevery commented on #2384
@rolandjitsu you are looking for #2383

[2015-06-09 04:42] mhevery commented on #2384
FYI @vicb updated the description

[2015-06-09 06:35] #2386 closed

[2015-06-09 06:35] #2418 closed

[2015-06-09 06:42] rolandjitsu commented on #2406
@mhevery I've tried removing that actually, and it still tells me the same thing. You can also see that I am assigning `this.desc = this.todo.controls.desc;`.

[2015-06-09 07:27] rolandjitsu commented on #2384
@mhevery thanks, both this one and the other you pasted are great ideas :)

[2015-06-09 07:40] rolandjitsu commented on #2406
@mhevery it seems I managed to make it work now, I removed the `[value]="desc.value"` as you instructed and I had `ng-form-control="desc"` written as `[ng-form-control]="desc"`.

[2015-06-09 07:40] #2406 closed

[2015-06-09 11:21] manfredsteyer commented on #1303
Hi Victor,
thanks, that's great and I really like what I see there. I've noticed the new [(xyz)]-Binding. Can you provide some info about this or point me to some web-ressource?
Best wishes,
Manfred

[2015-06-09 11:22] manfredsteyer commented on #1303
Ok, just found the aswer at your blog: http://victorsavkin.com/post/119943127151/angular-2-template-syntax
Wishes,
Manfred

[2015-06-09 11:25] nikaspran commented on #2329
Would it be possible to request a bit more transparency on the direction of the router?

The current notion of sibling components was removed with only mentions of another solution down the road, but AFAIK there is no public information on what that might look like. All the documentation is outdated and less than helpful.

[2015-06-09 13:36] rolandjitsu commented on #2318
@gdi2290 does it mean that the typings will always be kept the same from now on? All under `angular2/angular2`? Or will we have typings mapped the same as the folder structure you have?

Also, what's the plan for `angular2/router` typings?

[2015-06-09 14:03] rolandjitsu opened #2433 "consider removing tsd es6-promise and other related es6 definitions"
Might be a good idea to remove those tsd deps and use the typescript `lib.es6.d.ts`. It provides at least the `Promise` and `Map` definitions. But that's just an idea (more because if I want to use the typescript es6 def. I get conflicts with `es6-promise`).

[2015-06-09 15:55] matanlurey commented on #2261
It's not possible to get refactoring or type checking without maps, e.g., if you were to change the API it could fail silently.

[2015-06-09 15:58] matanlurey commented on #1935
Question:

What would be the best way to query something like this?

[code]

If I want to get a reference to all of my components, do I need to `@Query(Foo)`, `@Query(Bar)`, etc? Is there a way to do this imperatively?

[2015-06-09 16:10] matanlurey opened #2435 "Dart: Using strings/microsyntax in the properties list is strange, error prone."
So I get the reason to move from a map to a list, because in most cases you want the properties to reflect their HTML mapping. However, this should either follow a convention (e.g. maxNum becomes max-num), or cease to be a list, because having 'fooBar: foo-bar' seems really strange in Dart.

Suggestions
---

1. Use a typed `List<Symbol>`, and enforce a convention (e.g. camel becomes hyphenated):

[2015-06-09 16:19] vicb commented on #2435
@matanlurey `'fooBar' should work (you don't have to 'fooBar: foo-bar').
Are you experiencing issues with that ?
If not, does this solve your pb ?

[2015-06-09 17:01] #2028 closed

[2015-06-09 17:29] IgorMinar opened #2437 "In test.unit.dart has high latency because Karma takes long time to serve context.html"
We are spending about 21s (on my MBP) somewhere between kicking off the test run and tests actually running.

I tried to debug this a bit and here is what I found:
- dartium's timeline confirms the time is spent in fetching context.html
- deducing from Karma's log, it looks like the time is spent in watcher or rather karma-dart's adapter that generates the list of files to serve.

To repro:
- run

[2015-06-09 17:32] IgorMinar commented on #2437
@zzo / @juliemr could you take a look at this one please?

[2015-06-09 17:35] zzo commented on #2437
sure looking...

[2015-06-09 17:42] matanlurey commented on #2435
It does work, but it also defies HTML convention a bit, which prefers '-' to camel case.

[2015-06-09 17:43] matanlurey opened #2439 "Proposal: Accessing named elements from a template"
If I create the following directive:

[code]

I might want to refer to other elements in my template:

[code]

Right now this is not possible. @tbosch mentioned that a workaround for now would be creating a directive, e.g., export-element, that would [work like this](https://github.com/angular/angular/blob/master/modules/angular2/test/core/compiler/integration_spec.ts#L442).

[2015-06-09 17:50] TedSander commented on #1293
Angular.dart had some problems with deferred code loading, and code size. Which was one of the motivations of moving the bindings out of the bootstrap. The current solution of requiring the component to specify what it will be using largely solves these as @ewinslow said. I'm for making it easier on the developer, but the solution should take into account performance.

[2015-06-09 17:51] matanlurey opened #2440 "ElementRef exposes setters for parentView, boundElementIndex. Accident?"
I assume parentView, boundElementIndex should not be modifiable, but the API exposes them.

@tbosch

[2015-06-09 17:59] rkirov commented on #2428
@robwormald renaming es6 to js and cleaning up our package.json should happen and are non-controversial (or least this is the place for someone to make them controversial). I will open separate issues for those.

We agree that the bundle is not the way to go for es6 or ts consumers, thats why we publish es6, and ts sources to npm on top of the es5 (commonjs). I am ok with adding jspm info to our p

[2015-06-09 18:02] vicb commented on #2435
Note that DOM properties also are camelCased.

[2015-06-09 18:26] #2305 closed

[2015-06-09 18:35] jeffbcross opened #2442 "docs(http): add full docs for http on angular.io"
The currently only commented portion is here in source, but is not on angular.io: https://github.com/angular/angular/blob/master/modules/angular2/src/http/http.ts

The main entry point, as well as backends and other useful classes should be documented with examples.

This should come after #2415, #2416 and #2417 are finished.

[2015-06-09 18:39] IgorMinar opened #2443 "Use Query to get hold of validators in form controls"
follow up issue from: https://github.com/vsavkin/angular/commit/07ff14b2dbbc5b263ebe0c443ef0ff1912af6b7e#commitcomment-11593624

It would be nice to have ability to query validators placed on the current host element and then use the query list to compose validators.

This requires Query to be able to target just the host element.

[2015-06-09 18:39] #2377 closed

[2015-06-09 18:39] mhevery commented on #2435
closing as it seems to work as intended. Please reopen if need be.

[2015-06-09 18:39] #2435 closed

[2015-06-09 18:41] IgorMinar commented on #2369
serve.js.prod was never setup to incrementally build. can you use serve.js.dev instead?

[2015-06-09 18:45] kegluneq commented on #2363
This would work fine in the transformer as long as you update [AnnotationMatcher](https://github.com/angular/angular/blob/master/modules/angular2/src/transform/common/annotation_matcher.dart) to know about them

[2015-06-09 18:47] mhevery commented on #2433
we have a tasks to completly rebuild the way we generate `angular.d.ts` file and it should be resolved there. Closing for now.

[2015-06-09 18:47] #2433 closed

[2015-06-09 19:12] vicb commented on #2369
The prod version is required when running the benchmarks.

If there is not plan on implementing this, feel free to close.

[2015-06-09 19:14] IgorMinar commented on #2369
it's easy to implement but on our CI we also use serve.js.prod for benchmarks and end-to-end tests in which case we would rebuild the whole thing twice on CI. So it's a bigger change in the gulp setup

[2015-06-09 19:15] mhevery opened #2446 "dgeni fails to process function declarations"
# failure

[code]

# cause:
https://github.com/angular/angular/blob/master/modules/angular2/src/reflection/types.ts
[code]

[2015-06-09 19:40] #985 closed

[2015-06-09 19:58] #2225 closed

[2015-06-09 19:58] vsavkin commented on #1033
Closed via https://github.com/angular/angular/commit/1a4d23742b5f8105160761e9f197e91104826be5

[2015-06-09 19:58] #1033 closed

[2015-06-09 20:04] matanlurey commented on #2435
I understand it's working "as intended", but it isn't working as "wanted" :)

[2015-06-09 20:23] mprobst commented on #2435
Have you tried having better intentions? ;-)

[2015-06-09 20:30] jeffbcross commented on #2442
Actually, I think it'd be good to go ahead and land basic docs, and evolve it as those other issues have landed.

[2015-06-09 22:16] petebacondarwin commented on #2446
I have fixed the initial error (i.e. the `log is not defined`). The `log` service had not been injected into this service.

[2015-06-09 22:42] rkirov opened #2447 "Rename `.es6` files to `.js` for the npm release"
The .es6 extension was introduced initially to hint that the sources are not valid es5, but it turns out that is causing more harm (certain tools can't consume it) than good.

/cc @robwormald @pkozlowski-opensource

[2015-06-09 22:45] rkirov opened #2448 "Audit dependencies for angular2 in package.json"
Currently we are listing obvious dev dependencies like `gulp-insert` as runtime dependencies.

/cc @robwormald @pkozlowski-opensource

[2015-06-09 22:45] jeffbcross opened #2449 "feat(change-detection): add bind-once support in templates"
@gdi2290 and I were just troubleshooting an issue related to an observable pipe always emitting a null value because the observable reference being passed into the pipe never matched the already set observable instance. This was because the template was calling a method to return an observable, causing a new observable to be created on each lifecycle tick.

[code]

It would be nice to have the sam

[2015-06-09 22:45] rkirov commented on #2428
Superceded by #2447 and #2448

[2015-06-09 22:45] #2428 closed

[2015-06-09 22:53] vsavkin commented on #2406
You can find examples of using forms here:
https://github.com/angular/angular/commit/4cd29f791fddde8136dec92cc9ae70669f84fdc9
https://github.com/angular/angular/commit/3eff7be9a652e65f4cc464c6ff4f481948f8fca4

[2015-06-09 22:57] vsavkin commented on #1401
Talked to Misko about it. We should provide a linter that will provide such feedback. Not a high priority right now.

[2015-06-09 23:06] gdi2290 commented on #2449
I prefer using pipes over new syntax with `| once` and `| keyValueDiff` for deep check. This plays well with the idea that pipes affecting bindings and angular2 being more explicit compared to angular1 (rather than more syntax which was the workaround for angular1). Also see [json cache error](https://github.com/angular/angular/issues/2278#issuecomment-108087305) where I removed the ref cache

I a

[2015-06-09 23:07] jeffbcross opened #2451 "Support assigning expression result to local variable within templates"
Particularly for use cases where piped output is bound to in many places within a template, it's beneficial to have a single piped expression. For example, this observable that's piped into a template:

[code]

This would cause three subscriptions to be created for the people observable, which may re-do the work of getting the observable value if the observable is not a multicast observable. This

[2015-06-10 00:25] rkirov commented on #2363
After a chat with @tsander I am deprioritizing this as it would not prevent angular2 transformers running on angular1 apps, because angular2 transformers are declared per package not globally.

[2015-06-10 01:04] tbosch commented on #2451
Victor added `Directive.exportAs` recently. With this, you should be able to write an `assign-local` directive without the `*` as follows:

[code]

[code]

[2015-06-10 04:57] jeffbcross opened #2452 "fix(docs): resolve warnings logged by gulp public_docs task"
cc @naomiblack

TODO:

 - [ ] Fix broken links in `annotations.ts`: PR #2475
 - [x] Fix checkAnchorLinks service in Dgeni to url decode normalized urls when checking dangling links: ~~https://github.com/angular/dgeni-packages/pull/119~~
 - [x] Update dgeni-packages dependency PR #2489
 - [x]  Fix document names/ids to not include full heritage of classes: #2462
 - [x] Merge #2499 to get rid of Amb

[2015-06-10 05:25] joebnb opened #2453 "route problem"
[code]
if i use
$rootScope.$on('$routeChangeStart',function(evt,next,current){
    next.originalpath == condition
}
to check permission and jump url it,the angular js will prevent this,because the id is random,i think angular shoud let the route just match the first #

[2015-06-10 05:25] gdi2290 commented on #2453
this is the angular2 repo. angular1 is here https://github.com/angular/angular.js
could you close this

[2015-06-10 05:36] jeffbcross commented on #2452
After diving a little deeper, I see what is happening, and I'm not sure the correct place to fix. The problem is that the keys in Dgeni's `aliasMap` sometimes contain spaces and inheritance/implementation descriptions, such as: `DynamicChangeDetector extends  AbstractChangeDetector`, but the links to these files usually just contain the class name. Even if a link did contain the full key name, the

[2015-06-10 06:02] #2453 closed

[2015-06-10 06:44] vicb opened #2454 "build.dart expected errors ?"
on master: https://travis-ci.org/angular/angular/jobs/66142657#L650

are those expected ?

/cc @kegluneq

[2015-06-10 06:54] rolandjitsu commented on #2406
@vsavkin thanks. That looks great, especially the template driven form example.

On a side note, how do I setup TS with Angular? I've got a [branch](https://github.com/rolandjitsu/ng2-play/tree/ts) where I'm trying to, but it just doesn't work.

[2015-06-10 07:08] petebacondarwin commented on #2452
@jeffbcross I think the problem is caused here: https://github.com/angular/angular/blame/master/docs/dgeni-package/processors/readTypeScriptModules.js#L119-L140

@alexeagle added this block of code to help generate better `.d.ts` files but I think it needs a bit of love. Rather than modifying the name of the export, we should ensure that the `exportDoc` contains the necessary information and rende

[2015-06-10 08:50] rolandjitsu commented on #2406
@vsavkin Nevermind the TS setup, I managed to do it :)

[2015-06-10 09:23] hoyangt commented on #1655
@SamVerschueren thanks. It works.

[2015-06-10 10:35] vicb commented on #2398
We will stick with ":" as argument separator.

[2015-06-10 10:35] #2398 closed

[2015-06-10 10:59] rolandjitsu commented on #2406
@vsavkin when I try to use the template driven form example, I get the following exception:

![screenshot 2015-06-10 12 58 36](https://cloud.githubusercontent.com/assets/1479737/8080874/6db5126e-0f70-11e5-8392-1f57d6869247.png)

Do you know what is that about?

[2015-06-10 13:01] petebacondarwin commented on #2446
I have also added the missing symbol type to the `getExportTypes` service: f2e2ce15cda83f7fa261a8438a401908488e90b9

[2015-06-10 13:33] guybedford commented on #2343
There's a fix in SystemJS for this at https://github.com/systemjs/systemjs/issues/487. If anyone is able to test master against this case again, that would be a great help to know if it's been caught.

[2015-06-10 13:34] guybedford commented on #2343
(Note the above is in relation to @mgechev's comment at https://github.com/angular/angular/issues/2343#issuecomment-109259669)

[2015-06-10 13:45] rolandjitsu opened #2457 "directive usage before app is bootstrapped"
I suppose that if I were to use a directive before the app is bootstrapped it wouldn't work (already tried it anyway). For instance the following case:
[code]
The `loader` directive/component would not work (not even after it has been transcluded in the `<content></content>` tag I have in the app template).

Is there any way to have this scenario work?

[2015-06-10 14:39] kegluneq commented on #2454
These errors are coming from `package:di`, which is the original Angular.dart's DI code. I believe that is being brought in by benchmarking code to compare angular2 vs. angular.dart performance.

I don't know whether they are expected or not.

[2015-06-10 14:46] pkozlowski-opensource commented on #2448
So, I totally agree that we should be more strict about what we put in the https://github.com/angular/angular/blob/master/package.json file, but my understanding is that the package.json that gets pushed to npm is generated from https://github.com/angular/angular/blob/master/modules/angular2/package.json

[2015-06-10 15:08] kevmoo opened #2458 "Don't use Dart identical(x, y) for strings"
The same strings values are not guaranteed to be identical in Dart.

The code `KeyEventsPlugin.getEventFullKey(event) === fullKey` returns `false` even if the Strings are equal causing the ToDo sample to not work in Dartium.

This is because `x === y` is converted to `identical(x, y)` by ts2dart.

[code]

For instance, this Dart code

[code]

prints
[code]

[2015-06-10 15:10] vicb commented on #2458
Could you please submit a PR ?

[2015-06-10 15:12] kevmoo commented on #2458
@vicb We'd need to patch up `ts2dart` to support `==`, which it doesn't. I wanted to capture the issue here first before opening a bug there.

[2015-06-10 15:18] vicb commented on #2458
ah yep, however ts2dart will only be able to generate a `==` when at least one of the operand is known to be a string.
/cc @mprobst

[2015-06-10 15:45] vicb commented on #2454
It seems like those are recent, I've first noticed them on your PR
https://travis-ci.org/angular/angular/jobs/66138141
There were not on alpha.26
https://travis-ci.org/angular/angular/jobs/65336394

_(Not saying your PR is the root cause. Only adding refs for further investigations - could it linked to a dependency update ?)_

[2015-06-10 15:46] mprobst commented on #2458
This would depend on precise type information being available to ts2dart. This might turn out to be a bit of a problem, as far as I can tell from taking a rough look, large parts of the Angular code base do not have type information around, so people would have to write lots of type assertions for these (`<string>bar === something`, but also for any other `==` statement).

[2015-06-10 16:11] zzo commented on #2437
This issue is this:
https://github.com/isaacs/node-glob/issues/78
karma is using an old version of glob whose async performance is bad.  Just using glob.sync instead increases performance 2x with the same version of glob.
Using the latest version of glob performance is order of magnitude improved.
Hope to have a fix one way or another soon.

[2015-06-10 16:18] caitp commented on #2437
A quick grep:

[code]

It doesn't look like any of the angular build tools are using async glob directly

[2015-06-10 16:23] IgorMinar commented on #2437
@caitp, it's used by karma's dart plugin.

On Wed, Jun 10, 2015 at 9:19 AM ⭐caitp⭐ <notifications@github.com> wrote:

[2015-06-10 16:23] zzo commented on #2437
it's coming from karma which uses (an older version) of glob.  This is about karma taking a long time to run/re-run tests - glob is globbing over 4k files and it's taking a long time.

[2015-06-10 16:28] zzo commented on #2437
fwiw it's karma itself that's doing the globbing and taking a long time not the dart plugin - since we're using Dartium no dart2js is happening so the dart plugin isn't doing anything expensive in this case.

[2015-06-10 16:34] matanlurey opened #2461 "Property binding a named element (e.g. #button) returns an Element, not ElementRef"
... Which works, just fine, but won't work in the web worker :)

@vsavkin

[2015-06-10 16:34] IgorMinar commented on #2437
really? then I would expect the issue to affect the js tests as well. There
is a small delay, in js, but it's nowhere as significant as the dart. Is it
because the dart dist tree contains many more files?

On Wed, Jun 10, 2015 at 9:28 AM Mark Trostler <notifications@github.com>
wrote:

[2015-06-10 16:36] mhevery commented on #2439
per discussion with @matanlurey  works as intended. No action.

[2015-06-10 16:36] #2439 closed

[2015-06-10 16:39] tbosch commented on #2448
Yes, this is correct
On Wed, Jun 10, 2015 at 7:46 AM Pawel Kozlowski <notifications@github.com>
wrote:

[2015-06-10 16:49] pkozlowski-opensource commented on #2437
Hmm, looking at the analysis pointing to node-glob as a culprit, I wonder why we start to see this issue only now, after migration to Brocolli. It used to be very fast with the Gulp-based build.

[2015-06-10 17:10] zzo commented on #2437
Back in the old pre-broccoli days karma watched the filesystem itself so it did not have do run full globs.  Now with broccoli watching the fs - karma gets kicked off fresh for every file change so it must glob over the entire fs each time looking for files (and there are a lot of them).

[2015-06-10 17:13] kegluneq commented on #2454
I'm guessing https://github.com/angular/angular/commit/b2596dd3024491be7a39c94c6d703dba2fa1539f is the culprit, it adds empty .dart files and the errors sound correct to that situation.

Here is the build log for that commit: https://travis-ci.org/angular/angular/jobs/65435790#L652
and the same area in the commit before: https://travis-ci.org/angular/angular/jobs/65416977#L643

You probably know m

[2015-06-10 17:14] gdi2290 commented on #2457
angular2 currently ignores the lightDom only for the top level component (usually called `App` class as `<app>`). it doesn't make sense to bootstrap angular to load a loader for bootstrapping angular

[2015-06-10 17:14] kevmoo commented on #2458
@mprobst I'm not arguing for "smarts" based on types. I'm arguing that

1. ts2dart support `==`
2. angular2 use `==` in some contexts. For instance, comparing strings where we aren't worried about squishy equality

[2015-06-10 17:15] pkozlowski-opensource commented on #2437
Oh, I didn't realise that now we've got broccoli _and_ Karma doing the watching... I guess it was done like this to have only one thing in charge of the build, right? Instead of having a separate broccoli and Karma adapter? Hm, but then again, why don't we see the same pb in JS?

[2015-06-10 17:20] zzo commented on #2437
karma is no longer doing any watching - only broccoli.  When broccoli detects a change it kicks off a single run from karma.
Haven't looked at the JS stuff yet so don't know about that - will take a look

[2015-06-10 17:21] mprobst commented on #2458
I see. So you're saying we should just translate '==' to '==' in Dart?
That'd be a workable solution, but the quite dangerous - using '==' for
non-string arguments leads to all the beloved oddities of JavaScript '=='
comparison on the JS side; using '===' leads to silent errors for strings
on the Dart side.

We could replace "identical(a, b)" with "a instanceof String || b
instanceof String ? a ==

[2015-06-10 17:25] jeffbcross commented on #2452
@petebacondarwin would an appropriate solution be to add an additional alias with just the first part of the name here: https://github.com/angular/angular/blame/master/docs/dgeni-package/processors/readTypeScriptModules.js#L146

[2015-06-10 17:27] rolandjitsu commented on #2457
@gdi2290 the idea was to have a nice spinner (`<loader>`). And if I want a reusable component I would have used a directive. So I suppose this will never be supported?

[2015-06-10 17:29] IgorMinar commented on #2437
This started happening only recently. I wonder if it's because of the
generated files that we now have in dart. Maybe part of the solution would
be to make the file patterns more restrictive so that karma doesn't need to
do so much work?

Also, the build could generate a list of changed files so that karma can
use those to figure out which paths to invalidate. But as far as I know,
when we run in

[2015-06-10 17:32] vicb commented on #2454
Thanks for the analysis.

Might be because the transformers look for DI related code in the main or because there are multiple main. I'll take a look later this week.

[2015-06-10 17:32] kevmoo commented on #2458
@mprobst Gah! Not to mention - we'd need to know that a and b are String. Or at least what type they are.

Couldn't we allow `==` and just make sure it's treated optional?

Or (@vicb) we could create another facade for String equality.

[2015-06-10 17:34] vicb commented on #2458
@kevmoo someone smart has already created `StringWrapper.equals`

[2015-06-10 17:35] gdi2290 commented on #2457
I'm saying the loader wouldn't even work here so your loader should have basic features such as default display loading then when angular bootstraps you can add the correct behavior. what you want is supported but it's more of using css then converting the selector to a component

[2015-06-10 17:35] kevmoo commented on #2458
Ha! Okay. That's our fix here.

@mprobst : never mind – for now. Thanks for discussing...
@vicb: pull request inbound shortly

[2015-06-10 17:38] rolandjitsu commented on #2457
@gdi2290 right now I am using just an SVG with animations, so that is just fine. But the part about converting it to a component is what I am not sure how to do it. Could you elaborate with a very simple example or explain how I would approach it?

[2015-06-10 19:17] rkirov commented on #1935
@matanlurey We can support a random filter function when your query cannot be expressed through a single directive type, so you can write `@Query(MyFeature.filter) list: QueryList<dynamic>` where `static filter(obj) => obj is Foo || obj is Bar`.

An imperative API would be significantly different as then it probably wouldn't make sense to have a live list.

[2015-06-10 20:39] jeffbcross commented on #2452
The "Dangling Links" warnings are mostly related to links being url encoded, trying to match against keys that are decoded. https://github.com/angular/dgeni-packages/blob/39a713b502594c5f27a20f550351d5374a89e4cb/base/processors/checkAnchorLinks.js#L89

All but 1 warning (4 unmatched links for Injectable/index.html) go away if I change this line
`return allValidReferences[decodeURIComponent(normali

[2015-06-10 21:03] #2458 closed

[2015-06-10 21:07] petebacondarwin commented on #2452
@jeffbcross - the change to `checkAnchorLinks` sounds reasonable.

[2015-06-10 21:26] RobertGardner opened #2467 "Quickstart doesn't seem to work with polymer components"
If you add the following to the Quickstart's index.html the chart does not draw:
[code]

It seems to be because of a zones.js conflict. At least, that's where the exception is thrown.

(Of course, if you comment out all the angular2 script imports then the chart does draw.)

[2015-06-10 21:42] #1862 closed

[2015-06-10 21:43] rkirov commented on #2448
@pkozlowski-opensource Right, so technically the top level `package.json` can never be used as a dependency to other projectes since it is never published to npm.

The only other case where it matters would be if someone uses `jspm github:angular/angular`.

[2015-06-10 21:45] vicb commented on #1913
@mjw56 zone has been updated to 0.5.1 in master. The workaround is no more required starting from next alpha (.27)

[2015-06-10 22:07] thekhoi opened #2469 "Property Interpolation not working on a bootstrapped component"
The *hello-world* component displays the title when the component is used as a **child** component.  However the interpolation doesn't work when using the bootstrap function.

This would be useful if we need to initialize data from server generated html pages.

Index.html
[code]
Hello.ts
[code]

App.ts
[code]

[2015-06-10 22:21] thekhoi commented on #2457
@gdi2290 are there a reason why angular2 is ignoring the light DOM on a root component?  I also seems like it doesn't interpolate literal values for component properties for root components either.  This would be helpful if you have have server generated code markup and don't want to go through too much ceremony to wire it all up in angular.

[2015-06-10 22:26] ttowncompiled commented on #2335
PR - #2470

[2015-06-10 23:25] #1949 closed

[2015-06-10 23:26] matanlurey commented on #1935
@rkirov: +1 for the filter approach.

[2015-06-10 23:52] matanlurey opened #2472 "DynamicComponentLoader.loadIntoNewLocation: Should be usable with any ElementRef ..."
not just with a component's `ElementRef`.

For example:

[code]

Workaround:

[code]

I'm denoting P3, because there is a simple enough workaround that can be hidden away in a utility class, but I may bump if others run into the same issue.

[2015-06-11 00:09] zzo commented on #2437
Ok some bad news - the newer globs don't automatically follow symlinks so they were running much faster :)
So using the latest 'glob' and using sync vs. async glob'ing the we get from ~30 seconds currently to ~20 seconds - faster but not instantaneous.
The heavy hitter is this pattern in karma-dart conf: 'dist/dart/**' which matches ~82k files and takes about 8 seconds just for the glob.
So yes an

[2015-06-11 00:18] tbosch commented on #1694
The solution here is to also inline styles when using native shadow dom, so view instantiation stays synchronous.

[2015-06-11 00:29] tbosch commented on #1694
This will be solved automatically when #2459 is implemented.

[2015-06-11 04:36] jeffbcross commented on #2452
I opened a PR on `dgeni-packages` with the fix for `checkAnchorLinks`: https://github.com/angular/dgeni-packages/pull/119

I'll submit a PR to angular/angular after that lands to update the dgeni-packages dependency.

(And to recap an offline convo I had with @petebacondarwin : Pete is going to take a stab at a PR in the next day or so to properly address the "Invalid Links" issue that this PR add

[2015-06-11 09:24] mlaval commented on #1875
Thanks for the help @caitp
With this improvement, there are still some failures happening. Working on it

[2015-06-11 13:21] piloopin commented on #1875
I had some progress on building dart version on windows. Here are some issues:

1. The later issue is because of https://github.com/angular/angular/blob/c7572ac1f9bbda59ba301dd330e6f64faf91b9e1/tools/build/dartdetect.js#L13. It should be dart.exe.
2. https://github.com/angular/ts2dart/issues/191
3. https://github.com/angular/angular/blob/c7572ac1f9bbda59ba301dd330e6f64faf91b9e1/tools/build/dartana

[2015-06-11 13:57] rolandjitsu commented on #2384
@mhevery I just had a thought while playing with components. Whenever I load a stylesheet within a template using `<style>@import "app.css";</style>`, I experience some flickering. I suppose that is due to the delay of the stylings being loaded and then applied to the DOM.

If so, the current proposal, will it fix this issue? Otherwise may I suggest delaying DOM injection until the styles have bee

[2015-06-11 15:56] tbosch opened #2476 "Remove `ElementRef.domElement`, allow to use `ElementRef` in render services and promote direct use of `Renderer`"
## Summary

 `ElementRef.domElement` is violating the render separation, so we need to remove it as follows:

- `Renderer.setElementProperty` / `Renderer.invokeMethod` calls (for everything on the app side)
- a cast to `DomElementRef` (for everything on the render side)

To solve this, `Renderer.setElementProperty` / `Renderer.invokeMethod` need to be callable independently of what properties / me

[2015-06-11 16:07] tbosch commented on #2476
To summary, `ElementRef.domElement` would be replaced by

- `Renderer.setElementProperty` / `Renderer.callAction` calls (for everything on the app side)
- `DomRenderer.getElement(viewRef, boundElementIndex)` (for everything on the render side)

This would also evaluate actions always on the app side. Previously, actions could use both, app and render side as they had direct access to the dom eleme

[2015-06-11 16:08] tbosch commented on #2476
Side note: We might want to rethink `hostActions`, as a directive can just use the `renderer` directly using its `ElementRef`. This would match the a potential query mechanism for child `ElementRef`s to execute actions on them...

[2015-06-11 16:08] tbosch commented on #2476
@mhevery @vsavkin Let's talk about this today...

[2015-06-11 16:45] vicb opened #2477 "could we change convert.ts to convert.dart ?"
It seems like convert.ts is used from Dart only to (un)serialize DirectiveMetadata annotation.

Moving it from .ts to .dart would allow using enum for the `type` (JS and Dart do handle differently).

@kegluneq what do you think ?

[2015-06-11 16:45] mlaval commented on #1875
Nice to see that I'm not alone on this quest :)
I had identified the first 2 issues too, for the same reasons.

A follow up of https://github.com/angular/ts2dart/issues/191 would be to normalize slashes in https://github.com/angular/angular/blob/master/tools/broccoli/broccoli-ts2dart.ts
Depending how `ts2dart` is fixed, it may concern lines 18, 34 and 47.

[2015-06-11 16:51] matanlurey opened #2478 "StyleUrlResolver: Does not support 'package:'-style Dart URIs"
E.g.

[code]

[2015-06-11 16:53] matanlurey opened #2479 "EmulatedScopedShadowDomStrategy: Does not work?"
The following hotfix was required to get it working locally:

[code]

[2015-06-11 16:54] vicb commented on #2478
This issue comes from the `UrlResolver` which does not support `package:`

[2015-06-11 16:55] vicb commented on #2479
fixed via https://github.com/angular/angular/commit/92d565848b60e2110483c84168eb6eff1bb9d934 (merged yesterday) ?

/cc @rkirov

[2015-06-11 17:40] vsavkin opened #2482 "Extending Query to Support Querying By #name"
Currently, we can only query by a directive type, which is not flexible enough. We need to extend the query mechanism to support querying by #.

## Querying directive children

[code]

## Querying DOM

[code]

The result of the query depends on what the provided name is bound in the view to.

`Query("#some-ref")` should return a DOM element when some-ref points to a DOM element.
`Query("#some-ref"

[2015-06-11 17:41] vaibhav-kaushal opened #2483 "Want to start early with Angular 2"
Hello folks,

This is **not an issue**. But just wanted to say that I'm developing an app in angular and recently saw a slide about upcoming Angular 2 which got me excited. I want to start off with Angular 2 early on. How do I start with it?

Any pointers would be helpful (if they did not come from XKCD :smile_cat: ).

[2015-06-11 17:46] matanlurey commented on #2483
https://angular.io/docs/js/latest/quickstart.html ?

[2015-06-11 17:47] matanlurey commented on #2482
:+1:

[2015-06-11 17:47] matanlurey commented on #2479
Thanks!

[2015-06-11 17:47] #2479 closed

[2015-06-11 17:48] matanlurey commented on #2478
Our UrlResolver is hotfixed to support it, but I think the RegEx check on StyleUrlResolver fails

[2015-06-11 17:53] vsavkin commented on #1251
After a few discussions, we have decided to extend the Query mechanism first to see if it is sufficient to cover all the use cases, and if we need to implement actions at all. Closing this issue for now.

https://github.com/angular/angular/issues/2482

[2015-06-11 17:53] #1251 closed

[2015-06-11 18:00] matanlurey opened #2484 "Dart: Using '$' as an identifier in a string literal is not ideal"
In Dart, $ is used for String templating.

So when using the `$event` in the host is done as such:

[code]

It requires the $ to be escaped. Can there be an alternative identifier for Dart?

[2015-06-11 18:20] kegluneq commented on #2477
It's my understanding that we'll need to serialize `DirectiveMetadata` from Js when we have application / render separation, but I'm not certain that's the case. If you think it's worth making the change to simplify things I have no problem with it.

[2015-06-11 18:52] vicb commented on #2484
`r'onMouseEnter($event)'` ? (still needs one more char)

[2015-06-11 18:53] gdi2290 commented on #2469
Use
[code]

[2015-06-11 18:56] vicb commented on #2478
Are you sure of that, it should not

[2015-06-11 18:58] gdi2290 commented on #2483
https://github.com/angular-class/angular2-webpack-starter

[2015-06-11 18:59] vicb commented on #2469
`@Attribute` wouldn't work here, there is an opened bug https://github.com/angular/angular/issues/1858

[2015-06-11 19:03] #1680 closed

[2015-06-11 19:05] matanlurey commented on #2484
Yeah, but to put that in every component? Meh.

[2015-06-11 19:06] matanlurey opened #2490 "Renderer: Using DynamicComponentLoader to load a component with a template that is"
a single binding, e.g. {{text}}, fails with an out of range exception.

I can add a simple reprocase if needed.

@tbosch

Workaround: Wrap in a `<span>`

[2015-06-11 19:31] rolandjitsu opened #2491 "how to insert a dom node inside a directive?"
Suppose I have a directive:
[code]
Is there a way to insert something in the view container (which in this case would be the `icon` element)? Node that I am using the `NativeShadowDomStrategy`, so it might mean I have to insert in the shadow dom?

[2015-06-11 19:40] mlaval commented on #2094
Some more observations (from Windows machines) to share on this topic.
1) Using the same SSD in a 6 years old computer and a very recent one yields the same numbers for the `build.js.dev` task.
2) Putting the full project in a RAM drive improves performances by only 20%

[2015-06-11 20:11] #2268 closed

[2015-06-11 20:18] vicb opened #2492 "ShadowDomStrategy should not insert styles into document.head"
As of today the Emulated strategies insert the `<style>` tags into the document head.

This will not work when templates are compiled server-side.

The style information should be part of the template and inserted into the doc head the component is first instantiated.

/cc @tbosch

[2015-06-11 20:22] vicb opened #2493 "refactor directive_metadata_reader.dart"
(relates to #2430)

directive_metadata_reader.dart create an empty instance of `DirectiveMetadata` and then fill the fields as it read them from the annotation.

After #2430, there is no more a 1 to 1 mapping between annotation fields and `DirectiveMetadata` properties (`host` get split into `hostListeners`, `hostProperties`, `hostAttributes` and `hostActions`).

A better strategy would now to par

[2015-06-11 20:55] goderbauer opened #2495 "Benchpress Refactoring: Split PerfLogMetrics"
PerfLogMetrics should be split up into separate entities, one per actual metric to make it easier to maintain, extend, and understand.

[2015-06-11 21:30] tbosch opened #2496 "ElementProbe should work in Dartium"
Right now, when using the ElementProbe, the output is only the string `DartObject`...

[2015-06-11 21:44] tbosch commented on #2476
Reviewed with @mhevery that this is a good idea offline.

[2015-06-11 21:47] jrote1 opened #2497 "@Component() changeDetection parameter should be an enum"
I think it should be an enum as it is easier to find the different change detection types

[2015-06-11 21:47] tbosch commented on #2334
Landed in master as ca0970134396fb863db58011aedc66e5bcb64020

[2015-06-11 21:47] #2334 closed

[2015-06-11 22:03] tbosch commented on #2476
Possible implementation steps:

1. Make Renderer not use collected setters / method calls during compilation but use reflection / `dart:js` instead
    * needs: change Renderer.callAction into Renderer.invokeMethod
2. Use `Renderer.setElementProperty` / `Renderer.invokeMethod` everywhere instead of `ElementRef.domElement`
3. Change `Renderer` to accept `ElementRef` and provide factories for `Eleme

[2015-06-11 22:17] kegluneq commented on #2175
Assigning to @matanlurey for an answer.

[2015-06-11 22:28] mhevery commented on #2014
@pkozlowski-opensource Can you also think about Event schema as well?

[2015-06-11 22:48] tbosch commented on #2175
Please note that we are in the process of changing style loading / inlining: the compiler will load and inline styles for all shadow dom strategies soon (see https://github.com/angular/angular/pull/2459). With this, the transformer does not need to do anything special any more...

[2015-06-11 22:49] mdausmann commented on #2379
So for the dummies does this mean that the intent is to drop this approach
[code]
in favour of this approach?
[code]

[2015-06-11 23:03] rkirov opened #2498 "ViewContainer does not hook up injectors correctly"
When we have
[code]

The injector creating component cmp is a child of the injector containing `NgIf` (in fact NgIf is injectable into cmp. The injector tree should match the DOM tree and since the DOM looks like

[code]
The cmp injector is a sibling of the ng-if injector.

[2015-06-11 23:06] #1462 closed

[2015-06-12 00:17] IgorMinar commented on #2369
@matsko could you create a target `serve.e2e.prod` just like you did for dev in #2473. thanks!

[2015-06-12 00:22] #2447 closed

[2015-06-12 01:05] jeffbcross commented on #2452
@petebacondarwin I opened another PR to deal with a side effect of your fix to `readTypeScriptModules`. If duplicate aliases are added, a bunch of "Ambiguous Link" warnings show up.

So once my three open PRs are LGTM'd and merged, I think we'll be down to zero warnings for the `docs/angular.io` task.

[2015-06-12 02:56] goderbauer opened #2501 "Benchpress should have an option to save the raw chrome tracing events to a file"
This file can then be imported to chrome://tracing to debug performance issue, e.g. if you have a low average frame rate chrome://tracing can show you the distribution of frame times over the tracking period.

[2015-06-12 04:16] mhevery opened #2502 "support URL schemes in @View Annotation"
# GOAL

* Angular currently supports absolute URLs in `View.templateUrl` and `View.stylesheetUrls`.
* Angular should support relative URLs with #2383
* Angular should support custom URL schemes in addition to `http:` such as `my-custom-scheme:path` or `package:path` for dart. This should be plug able.

[2015-06-12 04:23] mhevery commented on #2478
dup of  #2502

[2015-06-12 04:23] #2478 closed

[2015-06-12 04:27] mhevery commented on #2457
For security reasons we will not process any directives in the index.html (with the exception of the bootstrap component)

[2015-06-12 04:27] #2457 closed

[2015-06-12 04:28] mhevery commented on #2461
We are aware of this, and plan to have lots of refactorings around this. Closing as it will be covered by the other work we do..

[2015-06-12 04:28] #2461 closed

[2015-06-12 04:30] mhevery commented on #2469
closing as dup of #1858

[2015-06-12 04:30] #2469 closed

[2015-06-12 04:34] mhevery commented on #2477
@vsavkin and @tbosch can you comment?

If we have plans to use it in JS, than it should probably stay as `.ts`

[2015-06-12 04:35] mhevery commented on #2482
:+1:

[2015-06-12 04:36] #2483 closed

[2015-06-12 04:39] mhevery commented on #2484
Currently the `$` is reserved for all identifiers which are special in the sense that they are not declared in the template.

Since the only identifiers we are discussing are: `event`, and possibly `self`, and `this` I could be convinced to just make those reserved.

Thoughts: @vsavkin, @tbosch

[2015-06-12 04:40] mhevery commented on #2491
Here is the plan: https://github.com/angular/angular/issues/2476

[2015-06-12 04:40] #2491 closed

[2015-06-12 04:48] mhevery commented on #1381
Any update?

[2015-06-12 04:53] mhevery commented on #2379
@mdausmann you are confusing usage and declarations. We are changing `appInjector` to `hostInjectables`

[2015-06-12 04:54] mhevery commented on #2384
@rolandjitsu see #1694

[2015-06-12 05:27] rolandjitsu commented on #2491
@mhevery thanks :)

[2015-06-12 05:39] vaibhav-kaushal commented on #2483
Thanks to both of you for replying. Will go through them.

[2015-06-12 05:51] mprobst commented on #1485
Sorry, I don't understand the issue description (`NO_CHANGE`? All tokens?). Can you expand? Does this relate to the `const` vs `final` issue we discussed?

[2015-06-12 06:04] vicb commented on #2484
Don't we also have target ?

-1 for removing the prefix, IMO it would make things confusing.

[2015-06-12 06:16] vicb commented on #2484
Maybe `ng-event`, `ng-target`, 'this, `self` ?

[2015-06-12 06:43] DanWahlin commented on #1950
Running into this as well with an ES6 version using alpha 26. Any idea when the fix mentioned above or another fix that's already planned will make it in? Tried adding everything I think it might look for (even though I don't think it's all required) but still get the error.

<a href="#" router-link="orders" router-params="">View Orders</a>

The specific error I get is:

TypeError: Cannot read pro

[2015-06-12 06:51] jeffbcross commented on #2452
The only remaining issue to be merged is the fixes to self-links inside of annotations.ts, which I'm not sure the correct way to annotate. The only way that works without warnings is to specify the link as a relative path: `{@link /angular2/annotations/onChange}`. Waiting on advisement from @petebacondarwin  on #2475 .

[2015-06-12 10:43] San4oPanso opened #2506 "[Bug] [IE8] [ng-options] Object doesn't support property or method 'prop'"
Hello. Found bug `Object doesn't support property or method 'prop'` at IE8 at ng-options at line
 (element = optionTemplate.clone())
                      .val(option.id)
                      .prop('selected', option.selected)
                      .attr('selected', option.selected)
                      .prop('label', option.label)
                      .text(option.label);

Angular 1.2.28. IE8

[2015-06-12 11:03] vicb opened #2509 "Task 'build.http.example' is not in your gulpfile"
Just noticed this on on Travis for Dart build. Does not cause failures.

https://travis-ci.org/angular/angular/jobs/66496356#L2340

[2015-06-12 11:09] PascalPrecht commented on #2506
@San4oPanso this is the Angular 2 repository. Please file your issue here: http://github.com/angular/angular.js/issues

Also, if you can, please update your Angular to the latest version.

[2015-06-12 11:38] #2506 closed

[2015-06-12 11:48] San4oPanso commented on #2506
Oh, sorry..found wrong repo..

[2015-06-12 14:02] jpsfs opened #2510 "Forms: Unable to bind to controls #regression"
Hi,

I'm doing some experiments with forms and found an issue. With alpha 26, it seems that the inputs declared inside a control-group are unable to bound with the ones declared inside the component's constructor.

Didn't find anything on the changelog that justifies this, but maybe I'm missing something. Can someone take a look?

I've make a Plunker with an example: http://plnkr.co/edit/vkhFxh?p=

[2015-06-12 15:11] vicb opened #2511 "shrinkwrap on master"
@jeffbcross any chance you've run shrinkwrap not on a Mac ?

As stated in the readme, you **must** run it on a mac or the fsevents pkg will get removed (I must admit I run it on Linux & revert fsevents related changes).

see https://github.com/angular/angular/blob/master/npm-shrinkwrap.readme.md, first bulltet

[2015-06-12 15:13] rolandjitsu opened #2512 "using routerInjectables throws exception"
I am unsure why, but after I updated SystemJS I keep getting the following exception when I insert `routerInjectables` on app bootstrap:

[code]
![screenshot 2015-06-12 17 05 52](https://cloud.githubusercontent.com/assets/1479737/8133022/e1f68e58-1125-11e5-9e4e-0b9264decb63.png)

As soon as I remove it from it, I no longer the get the issue. Does anyone have any clue what might cause it?

[2015-06-12 15:18] kegluneq commented on #2380
Note that the errors are coming from the `package:di` transformer (that is, the angular.dart transformer), not the angular 2 transformer.

Perhaps this issue should be in https://github.com/angular/di.dart?

[2015-06-12 15:21] gdi2290 commented on #2512
are you using a bundle or are you including angular be itself? because it's a problem with EventEmitter which means you're missing RxJS since it can't read Subject of Rx undefined

[2015-06-12 15:23] kegluneq commented on #2454
Looks like this is a duplicate of https://github.com/angular/angular/issues/2380

[2015-06-12 15:23] #2454 closed

[2015-06-12 15:26] rolandjitsu commented on #2512
@gdi2290 I include each dep. separately (zone.js + long-stack-trace-zone.js, rx.js and angular.js). I tried the following:
[code]
Maybe that is the issue here ... is there more to add to the System configuration to make it work? Because when I try to use the bundle on [code.angularjs.org](https://code.angularjs.org) I get into trouble with System, complaining about `rx.js`.

[2015-06-12 15:46] vicb commented on #2380
will be fixed by #2505

[2015-06-12 16:15] jeffbcross commented on #2511
Not sure what went wrong; I did run it on Mac. But it looks like the `fs-events`dependency was removed.

[2015-06-12 16:18] jeffbcross commented on #2511
Though it is a newer machine, perhaps some misconfiguration caused it.

[2015-06-12 16:39] kegluneq commented on #1875
Thanks for the effort on this and sorry for my part in the trouble (I've been working on the angular 2 dart transformer). Is there a stack trace I can look at re: the pub build step?

[2015-06-12 16:45] kegluneq commented on #1617
I'm going to close this as fixed by d1b35f9 and 87b3b71, but let me know if it shows up again.

[2015-06-12 16:45] #1617 closed

[2015-06-12 16:49] #2380 closed

[2015-06-12 17:07] #2493 closed

[2015-06-12 17:18] jeffbcross commented on #2511
I'll submit a PR soon. Looks like I can manually update chokidar to restore `fsevents`

[2015-06-12 17:21] gdi2290 commented on #1950
@DanWahlin include this https://gist.github.com/gdi2290/cdf784b2ccf0d7a59ab6 and RouterOutlet seprately then using `routerDirectives`

[2015-06-12 17:24] hpinsley commented on #2510
I too find the forms module a bit confusing.  I got your plunker to work, though.  See http://plnkr.co/edit/jjsDAx?p=preview

[2015-06-12 17:32] matsko commented on #2369
Here's the PR for that: https://github.com/angular/angular/pull/2516

[2015-06-12 17:33] DanWahlin commented on #1950
Thanks Patrick! I'll check that out. I didn't want to tweak anything myself but at this point I need to get it working since I'm running out of time so I appreciate the modified script.

[2015-06-12 17:35] vicb commented on #2510
The "ng-" prefix is described in the changelog (I agree, it should have been listed under the breaking changes).

Lately the API has been reworked and examples have been. Hopefully you'll find using it easier.

[2015-06-12 17:35] #2510 closed

[2015-06-12 17:49] TheMcMurder opened #2517 "Angular " OrderBy: '' " (empty string) no longer sorting by index"
In previous versions of Angular (1.2) when you passed an empty string to the OrderBy in an ng-repeat it would order by the index of each item in the array.

Now (1.3.15 & 1.4.0) it orders very differently. [This plunk](http://plnkr.co/edit/WSVdJq7unEEElo9LBzzr?p=preview) shows 1.2, 1.3.15, and 1.4.0 and how the order by functions differently in each case.

It should order by index if OrderBy isn't

[2015-06-12 17:57] #2511 closed

[2015-06-12 17:57] ttowncompiled commented on #2335
After spending most of the week working on this, I feel that this is an issue much more convoluted than we originally thought. I'm not sure if I have the knowledge or expertise to accomplish this on my own. While it would be really nice to have traceur removed from our build, I'm under the impression that no one is blocked on this issue. If otherwise, please note. Therefore, I would like to postpo

[2015-06-12 18:00] jeffbcross commented on #2415
@gdi2290 our thinking is that we'll use the `ObservableWrapper` for creation and combinators (in addition to subscription, which it already does).

[2015-06-12 18:05] jeffbcross commented on #2335
I think it'd be good for someone with more familiarity of our build process and its history to pair with @ttowncompiled on this. Maybe it could wait until the week of June 20th (Alpha 29) to pick this back up?

[2015-06-12 18:06] vicb commented on #2517
This repo is for angular 2, please reopen on https://github.com/angular/angular.js

[2015-06-12 18:06] #2517 closed

[2015-06-12 18:16] tbosch commented on #2476
Also needed to clean up Material Design Components (as they need their own render logic).
Also needed for `NgClass` (which uses `ElementRef.domElement` directly).

[2015-06-12 18:19] tbosch commented on #2490
@matanlurey I just checked in our tests and we actually have a test for exactly this case, which is fine. Could you add a reprocase that is simple but still fails?

[2015-06-12 18:26] jelbourn commented on #2484
Agreed that removing the prefix entirely would be confusing and that `ng` would be an adequate replacement (though not as nice as `$` in JS).

[2015-06-12 18:44] caitp commented on #2509
as mentioned on slack, this was added to the CI tests here https://github.com/angular/angular/commit/21568106b114943b59ce37832d82c8fb9a63285b#diff-4bab36ce25ca1c9d72a7e6010f6e5ea3R19

@jeffbcross is it safe to remove, or is the plan to create a new gulp task for this?

[2015-06-12 18:56] jeffbcross commented on #2509
I think @matsko removed it from the gulpfile when he added a new task, but must not have removed it from other scripts. Should be safe to remove.

[2015-06-12 18:56] jeffbcross commented on #2509
I'll take this.

[2015-06-12 19:01] jeffbcross commented on #2509
@vicb or @caitp just opened PR #2519. I'm going to go out on a limb and say we don't need to wait for Travis for this one. Can one of you give it an LGTM?

[2015-06-12 19:04] #2509 closed

[2015-06-12 19:09] vicb commented on #1582
dup of #2382

[2015-06-12 19:09] #1582 closed

[2015-06-12 19:13] vicb commented on #1737
@alexeagle the verification has been added in #2394, could we close this issue now ?

[2015-06-12 19:27] vicb commented on #1172
dup of #392

[2015-06-12 19:27] #1172 closed

[2015-06-12 19:28] gdi2290 commented on #1950
@DanWahlin I would create a folder called `patch_angular2` that exports any directives/services etc that you need to fix so rather than

`import {RouterLink} from 'angular2/router'`;
you can attach `patch_ `
`import {RouterLink} from 'patch_angular2/router'`;
[code]

(I had to do a patch for router-outlet too)
that way when it's fixed you only need to delete the `patch_` and delete the file in you

[2015-06-12 19:34] gdi2290 commented on #2512
I think you also need to set the format for rx to commonjs for systemjs

[2015-06-12 19:41] vicb commented on #1499
Can not reproduce on master

[2015-06-12 19:44] vicb commented on #1499
Actually it doesn't work when there is a `<content>` tag in the template

[2015-06-12 19:46] #2403 closed

[2015-06-12 19:47] DanWahlin commented on #1950
Nice - great idea. Thanks! I haven't had a chance to try it yet, but does your router-link patch require the router-outlet patch then or can they run independently?

[2015-06-12 19:48] vicb commented on #2497
/ref #2477

not as easy as only switching to an enum beause TypeScript and Dart handle enums differently

[2015-06-12 20:11] kevmoo opened #2520 "Cannot use Control + list binding in Select"
[code]

Seems like the value is applied before the items are populated.

CC @vsavkin

[2015-06-12 20:33] gdi2290 commented on #1950
they're independent

[2015-06-12 20:34] DanWahlin commented on #1950
Great - thanks.

[2015-06-12 20:48] #1382 closed

[2015-06-12 21:09] qitang opened #2523 "scroll even for angular select never fires"
Hi,
 I created a directive  to listen on the scroll event from angular select and ng-options but I never fires! However if I use jquery and select without ng-options. Everything seems to be fine. Can anyone tell me why is that? Thanks!
The directive is like this
[code]
There is a live [example](http://jsbin.com/rododajave/1/edit?html,js,console,output)

[2015-06-12 21:13] vicb commented on #2523
this repo is ng2, please re-open on https://github.com/angular/angular.js

[2015-06-12 21:13] #2523 closed

[2015-06-12 21:30] tbosch commented on #2339
Talked to Ferhat@ and he also does not need it. However, he needs the following use case:

[code]

I.e. he wants to load a `text-field` component into a `dynamic-cell` component, and Angular should also create the `text-field` element (and not just add the component view of it).

[2015-06-12 21:35] tbosch commented on #2339
Regarding the API of `DynamicComponentLoader`: We should remove `loadNextToExistingLocation` and change `loadIntoExistingLocation` to also create the host element, but add the it as a child of the existing location.

[2015-06-12 23:10] mprobst commented on #2231
@vicb (and others):

You can find the supported façade methods [in facade_converter.ts](https://github.com/angular/ts2dart/blob/master/lib/facade_converter.ts#L88) in ts2dart.

Supported as of this writing:
* [x] `Array.push`
* [x] `Array.map`
* [x] `Array.concat`
* [x] `Array.isArray`
* [x] `Map.get`
* [x] `Map.set`
* `CONST_EXPR`, `forwardRef`

Meaning you should be able to just write:

[code]

[2015-06-12 23:24] mhevery commented on #143
not actionable

[2015-06-12 23:24] #143 closed

[2015-06-12 23:34] naomiblack commented on #1609
This work is done now. Using *Test Component Builder* is the recommended solution.

[2015-06-12 23:34] #1609 closed

[2015-06-12 23:38] naomiblack commented on #2335
sounds reasonable. punting to alpha-28 so we can spend some more time on it.

[2015-06-12 23:39] #625 closed

[2015-06-12 23:41] mhevery commented on #2194
Superseded by: #2382, #2384, #2383

[2015-06-12 23:41] #2194 closed

[2015-06-12 23:44] naomiblack commented on #1814
@IgorMinar chatted with @caitp and it sounds like you were last working on this. Slipping to alpha-28 -- I'm not sure this is still current. Should it be sent to backlog?

[2015-06-12 23:50] mhevery commented on #1472
@pkozlowski-opensource I don't think we should rename as the goal is
`<div [class]="exp">` `<div [class.foo]="exp">` be consistent.

[2015-06-12 23:51] mhevery commented on #1472
I think this is a dup of #2025

[2015-06-12 23:51] #1472 closed

[2015-06-12 23:57] #502 closed

[2015-06-13 00:14] kegluneq commented on #1872
A few more details on this:

The phases below refer to those defined in the [Angular 2 Dart Transformer doc][1].

We currently run the full `angular2` transformer on anything that declares an `@Injectable` in order to generate the code to prime the `reflection` layer so we can remove `dart:mirrors` from the app (phases 2, 3, & 4a). If a dependency declares a `@Component` or `@Directive`, we also n

[2015-06-13 00:17] naomiblack commented on #2323
Brian has a partial fix for this but still more work TBD in alpha-28.

[2015-06-13 00:21] naomiblack commented on #2369
@IgorMinar need a review from you on #2516 if we're going to close for Monday's alpha-27

[2015-06-13 00:24] juliemr commented on #2309
See https://github.com/angular/protractor/issues/2245

[2015-06-13 00:36] juliemr commented on #2309
With updated selenium and chromedriver, this passes on Chrome 44 beta but fails on Chrome 45 canary because the click goes to the wrong element.

Issue submitted to ChromeDriver: https://code.google.com/p/chromedriver/issues/detail?id=1127

[2015-06-13 00:40] juliemr commented on #2309
Closing since the issue is now filed with chromedriver.

[2015-06-13 00:40] #2309 closed

[2015-06-13 00:46] tbosch opened #2529 "Implement new content reprojection"
## Overview

The current shadow dom emulation also contains content reprojection, but has the following limiations:

1. it is not very performant, as it tries to stay relatively close to the ShadowDOM spec (see e.g. #2298).
2. it does not allow moving the projected content programmatically somewhere else than the shadow dom of the component that contains the `<content>` tag (see #2320).

The main

[2015-06-13 01:08] tbosch commented on #2529
@mhevery: I deviated from the initial plan to have a completely different implementation when shadow dom i used, as I don't think we need it (see section above). Essentially, we can't do a short path, but need to implement the whole thing so that users can use it.

[2015-06-13 01:12] jeffbcross opened #2530 "feat(http): expose API as class with helper methods, plus optional factory"
In order to achieve a simple experience with the new http library, and to somewhat match the API of AngularJS 1.x, the http service was implemented as an injectable function as the only way to use. There are a few usability costs with the current approach.

 * An interface, `IHttp`, must be provided and used alongside `Http` injection in order to provide type information: `constructor(@Inject(Http

[2015-06-13 01:29] #2391 closed

[2015-06-13 01:33] TedSander commented on #2502
We had custom URL schemes working for angular.dart using NodeTreeSanitizer and UrlRewriter. It would be nice if more of this code was in angular2 core.

[2015-06-13 02:20] tbosch commented on #2529
/cc @matanlurey , @jelbourn

[2015-06-13 02:22] tbosch commented on #2409
To use render services right now, we need to implement #2476

[2015-06-13 02:24] tbosch commented on #2298
This will be solved by #2529

[2015-06-13 02:25] tbosch commented on #2320
This will be solved by #2529

[2015-06-13 03:22] gdi2290 opened #2531 "Questionable initial load times with systemjs"
There seems to be some overhead with systemjs loader compared to others. There seems to be 800-1000ms to load `angular2/angular2` lib initially even after I included the bundled version of angular. It's noticeably different from the alternatives like webpack that doesn't have the systemjs overhead since it compiles to simple callback style.
[<b>Webpack</b>]
[<b>SystemJS</b>]

![screen shot 2015-06

[2015-06-13 04:49] kzhdev opened #2532 "5 min quick start for Dart does not work."
When run the app, it throw an exception.

Cannot find reflection information on TestabilityRegistry

#0      NoReflectionCapabilities.factory (package:angular2/src/reflection/reflection.dart:10:5)
#1      Reflector.factory (package:angular2/src/reflection/reflector.dart:38:42)
#2      Binding.resolve (package:angular2/src/di/binding.dart:214:29)
#3      resolveBindings (package:angular2/src/di/inj

[2015-06-13 05:12] zzo commented on #2437
ok got it down to 20 sec (from 30) with the latest karma - now we need some surgery on the dart karma config to not glob 80k+ files.  Once my karma changes get to npm (as a canary release) - I'll send a PR.
The JS unit tests take about 6 seconds and 'only' glob about 2000 files.

[2015-06-13 05:51] butaixianran opened #2533 "FileReader.load doesn't work!"
When reading a file from client side with Angular2 and Typescript,

I try to use FileReader in this way:

[code]

But it doesn't work at all, this "fileReader.onload" function will never be called.

Really need a solution for reading files, please help.
If, it's a bug, then, is there any work around for now?

Thanks

[2015-06-13 06:12] naomiblack commented on #2482
@vsavkin this seems like something we should address in alpha-28. assigning to you, please reassign (or unassign) if you're the wrong owner.

[2015-06-13 06:19] naomiblack commented on #1769
Still important but no longer considered blocking by GT.

[2015-06-13 06:30] naomiblack commented on #1888
this is also b/21131937.

[2015-06-13 06:31] naomiblack commented on #1822
This is also b/21800437

[2015-06-13 06:45] naomiblack commented on #2379
This is also internal b/21721756

[2015-06-13 06:49] naomiblack commented on #2364
This is internal b/21635551

[2015-06-13 06:53] naomiblack commented on #821
Assigning to @tbosch (as owner for @goderbauer, who is working on this actively)

[2015-06-13 07:19] naomiblack commented on #1878
Internally, this is also b/21118157

[2015-06-13 07:29] TedSander commented on #1822
Note this should inline the html template and the styles.

[2015-06-13 08:49] choeller commented on #2383
So I'm not entirely sure if I understood the suggestion completely, but from a users point of view this seems to add some more boilerplate to the application code. When having to add

[code]
to every `@View` annotation, wouldn't it be possible to handle that by the framework? IMO relative URLs should be standard for components. Or am I getting anything wrong here?

[2015-06-13 09:11] pkozlowski-opensource opened #2535 "Build: clang formatting errors during test.unit.js make Karma hang"
If I try to run `test.unit.js` on the code base that has clang-format errors, Karma will not run tests. It opens up browser window and hangs without any error messages. There is only warning from clang.

IMO we should either:
* have it as error and fail the whole build, if we believe that formatting is important
* if it is just a warning it shouldn't stop build from processing

Personally I would

[2015-06-13 13:06] pkozlowski-opensource commented on #2535
Hmm, can't reproduce this after update to the latest master :-/
Closing, will re-open when / if I see it again.

[2015-06-13 13:06] #2535 closed

[2015-06-13 13:12] pkozlowski-opensource opened #2536 "Dev experience: do minimal work in test.unit.* tasks"
Currently, on my MBP, there is 30+ seconds delay from running one of the `test.unit.*` tasks till tests start to run. Normally this shouldn't be much of the pb, since one wouldn't be obliged to start those tasks often. But in practice there are situations where Karma disconnects and we need to kill the process, we need to switch between dart and JS etc. In short: starting tests tasks isn't that un

[2015-06-13 17:16] davideast commented on #1381
Working on it. The component part is mostly finished, but I'm also dealing with modules. I'll sync up with you on Monday.

[2015-06-13 19:36] rolandjitsu commented on #2512
@gdi2290 I think this issue can be closed as it is not caused by a bug, it is just a dependency that is missing, as you explained. I've also managed to get around for now with a different setup, until the next alpha version will be released (which I understood will make it easier to include angular).

[2015-06-13 19:36] #2512 closed

[2015-06-13 20:05] HimmetAvsar opened #2538 "Template input variable binding not working with uppercase characters"
Using an uppercase character on a variable binding doesn't work.

    <input #newName (keyup) />
    <button (click)="addFriend(newName.value)">Add friend</button>

Leads to following error:

    TypeError: o is undefined

[2015-06-13 20:15] vicb commented on #2538
dup of https://github.com/angular/angular/issues/1447

TL;DR this is HTML and angular can not help here

[2015-06-13 20:15] #2538 closed

[2015-06-14 09:36] rolandjitsu opened #2541 "how to set an attribute on a component"
I was just wondering how to set an attribute as `aria-checked` on a component? I've seen some issues that say `@PropertySetter` is the way to go, but that does not exist in alpha `26` and I cannot figure out if it was renamed or not.
[code]

[2015-06-14 09:48] pkozlowski-opensource commented on #2541
You should be using `host` map in the `@Component` decorator if you want to set aria attributes on a component element (host element) from within component's code, here is the example: https://github.com/angular/angular/blob/9908def857f52803712dc5ae2def2f6c299eba6c/modules/angular2_material/src/components/checkbox/checkbox.ts#L13-L15

Please note that `host` was introduced recently, it used to be

[2015-06-14 09:48] #2541 closed

[2015-06-14 09:50] pkozlowski-opensource commented on #2531
@gdi2290 it is kind of hard to see what is going on with just the info provided. What is your exact setup? Are you using jspm or just SystemJS polyfill? How do you do tranpilation / packaging?

Could you please share more details (ideally 2 relevant plunks) before we start drawing any conclusions from the screen-shoots?

[2015-06-14 09:57] rolandjitsu commented on #2541
@pkozlowski-opensource I suppose `host` will only be available with the next release.

[2015-06-14 10:04] pkozlowski-opensource commented on #2541
@rolandjitsu right, it was introduced in https://github.com/angular/angular/commit/f3b49378e4939fe91b0d14a80720c2d5aed83379 and not released yet - this is why I've mentioned `hostProperties`

[2015-06-14 10:07] rolandjitsu commented on #2541
@pkozlowski-opensource `hostProperties` do not seem to work. If I use `[attr.aria-checked]` I get an exception where `attr` is `undefined`. If I use `ariaChecked`/`aria-checked`, nothing seems to respond.

[2015-06-14 10:10] pkozlowski-opensource commented on #2541
Did you check the example before the conversion to `host`? https://github.com/angular/angular/blob/d7df853bde30ffe97045eff649240284ae6ffdf8/modules/angular2_material/src/components/checkbox/checkbox.ts#L11

Send a plunk if you need more help, hard to assist just based on the textual description of the pb.

[2015-06-14 10:14] pkozlowski-opensource commented on #2533
@butaixianran AFAIK you can't use this API directly, you need to get instance of `FileReader` from a browser (ex. input field).

Hard to say what is going on here without seeing a runnable example (plunker / jsbin would help here). I'm going to close this one as I can't see any evidence that this issue is Angular2 related - this sounds like a generic support question and as such should be asked us

[2015-06-14 10:22] pkozlowski-opensource commented on #2437
80k files for Dart sounds like a lot... Are we ending up with such huge no of files because of transformers? Or is it about globbing all pub dependencies?

In any case the current unit-testing workflow for Dart is pretty much broken :-(

[2015-06-14 12:33] rolandjitsu commented on #2541
@pkozlowski-opensource sorry, the first url lead to the new implementation :) It works as expected now. Thanks.

[2015-06-14 12:42] rolandjitsu opened #2543 "using ng-control/ng-model/ng-form-control with custom components"
Say I have simple component:
[code]
And I want to use one of `ng-control`/`ng-form-control` on it:
[code]
How would I go about it? Right now I get an exception `No value accessor for ''` when I try to use it.

[2015-06-14 12:49] pkozlowski-opensource commented on #2543
You didn't list forms directives in the `@View` annotation, for a start....

[2015-06-14 12:58] rolandjitsu commented on #2543
@pkozlowski-opensource does the custom component need them? Because I have those directives listed in the place that `<checkbox [ng-control]="foo"></checkbox>` is used.

[2015-06-14 13:01] pkozlowski-opensource commented on #2543
@rolandjitsu sorry, I've miss-interpreted your code snippet - you don't need to list things that you are not using in your tpl

[2015-06-14 13:07] rolandjitsu commented on #2543
@pkozlowski-opensource no worries, I should have been more descriptive :) Probably the form control directives expect the node to have a `value` property, otherwise I am unsure why I get the exception.

[2015-06-14 13:52] butaixianran commented on #2533
I finally find a way to build a online example with Typescript.

Check this from an online IDE:

preview:
https://angular2-butaixianran.c9.io/src/index.html

editor:
https://ide.c9.io/butaixianran/angular2

I do post a topic on google group, but no one answer it...
https://groups.google.com/forum/#!topic/angular/FxJrARtvZpU

[2015-06-14 13:56] johnpapa commented on #1293
I like this idea. I have many apps where I can see several directives being needed. Having to list 20 directives would suck, so this would help with the baked in NG ones

[2015-06-14 13:59] pkozlowski-opensource commented on #2533
@butaixianran :
* once again, I don't think you can create instances of `FileReader` by hand, like this
* did you try to make it work in pure JavaScript, without Angular 2, TypeScript etc.? I'm asking since for me it looks like invalid API usage
* to see your example code in the editor (https://ide.c9.io/butaixianran/angular2) I'm being asked to register / log in which won't help you to get answer

[2015-06-14 14:05] pkozlowski-opensource commented on #2014
@mhevery so I've started to dig into the topic and here are some thoughts:
* I agree with @ewinslow that `@` is a bit "magical" - on top of this we've got already a system in place where we can specify that sth is an attribute binding, so my proposal would be `'svg:g': { 'x': 'attr.x' }`
* I'm not sure how I feel about sticking `'!extends'` into the properties map - maybe it deserves its own key?

[2015-06-14 14:07] johnpapa opened #2544 "Angular 2 http service? Should one exist and if so, what features should it have?"
Related to this https://github.com/angular/angular/pull/2360

Facts:
- We can now use any service we want without having to worry about a digest cycle
- basic XHR and HTTP are now easy from Angular

Previous $http features worth considering
- intercepting HTTP calls and extending headers, changing responses, handling errors
- easy interface
- consistent technique and all angular apps look the same

[2015-06-14 14:08] pkozlowski-opensource commented on #2014
Ah, regarding the implementation - I'm leaning towards adding a new, dedicated compilation step (one that would execute after all the directives and properties are parsed) or sticking this logic into `ProtoViewBuilder`. Any thoughts on the best place for the schema-verification logic and / or other implementation hints?

[2015-06-14 15:27] vicb commented on #2490
@matanlurey any chance you have a `<content>` anywhere before the `{{text}}`?

[2015-06-14 16:15] butaixianran commented on #2533
HI, thanks for your patience, here are some examples can easily play with:

First of all, as you mentioned: FileRead with pure javascript, works fine:
http://codepen.io/butaixianran/pen/gpxpww

With angular2, ES5 javascript (generate by TypeScript), doesn't work:
http://plnkr.co/edit/1MTFbVCKGGOU9XPcNVit?p=preview

With angular2 and typescript at codepen:
(Typescript with .t.d file won't work at c

[2015-06-14 18:58] vicb opened #2546 "shadow_dom_emulation_integration_spec: test only the native strategy"
seems like the test are executed 3 times with the same strategy instead of each of the 3 strategies

[2015-06-14 19:01] vicb commented on #2543
@rolandjitsu the built-in checkbox might be a good starting point: https://github.com/angular/angular/blob/master/modules/angular2/src/forms/directives/checkbox_value_accessor.ts

[2015-06-14 21:20] robwormald commented on #2544
It just landed in master actually: https://github.com/angular/angular/commit/21568106b114943b59ce37832d82c8fb9a63285b

Design repo - https://github.com/jeffbcross/http-design

tl;dr is its all Observable based (rather than Promises).

@jeffbcross will correct me here if I'm wrong, but the general theory of this Http lib is that it'll make up the core of the upcoming data layer stuff, as opposed to

[2015-06-14 21:48] robwormald commented on #2531
Had a bit of a play with this, findings:
- there's a fair bit of overhead from the System.register calls, and a fair bit more from the lookup/resolution logic. This is exacerbated with Angular2 because its got about a million modules :D
- Using the pre-bundled version of Angular2 appears to drop performance slightly - I had better results building my own bundles from source (one of the reasons I w

[2015-06-14 22:04] pkozlowski-opensource commented on #2531
@robwormald hmm, I think we should clarify few things, as some of the statements are puzzling for me.

How did you measure this overhead? What is the baseline? What is the best "best possible" performance and what limitations does it imply? How big is the overhead-percent wise to the best theoretical base-line?

How come? Did you mean exports instead of modules? Still, a million would be huge - ar

[2015-06-14 22:09] pkozlowski-opensource commented on #2531
BTW, first and foremost we need to chose transport format (System.register vs. CommonJS vs. requireJS vs. sth different). The loaders / package managers should be a secondary consideration at this point, IMO. So we need to make sure that the chosen format have the desired features:
* correct handling of circular dependencies
* ability to mix pre-loaded and dynamically loaded content

and performan

[2015-06-14 22:10] pkozlowski-opensource commented on #2531
@gdi2290 @robwormald do you guys have any concrete counter-proposals for the output format (that is, replacement for System.register)? This discussion started as comparing performance of SystemJS vs. webpack and I still don't know what it means :-(

[2015-06-14 22:14] pkozlowski-opensource commented on #2531
Oh, and one last remark - please make sure that you collect any results in incognito tab with all the extensions disabled - otherwise numbers can't be trusted....

[2015-06-14 22:42] pkozlowski-opensource commented on #2531
Here is some data from my https://github.com/pkozlowski-opensource/ng2-play setup, files served locally:

![screen shot 2015-06-15 at 00 37 39](https://cloud.githubusercontent.com/assets/973550/8150772/1595a6a4-12f7-11e5-9032-d9ef643f11f0.png)

We are talking about ~100ms with disabled cache. Could be faster but still it is far from announced 1.5s.

Sooooo, we really need to look into more details

[2015-06-14 22:46] robwormald commented on #2531
To be clear, I wasn't complaining / inciting, I completely agree with doing this scientifically! Beyond that, I'm a huge proponent of jspm/SystemJS, to the point I'm begining to annoy people about it, so my main aim is to see how we can improve this, not throw it out.

"jspm" in this context is just a package manager and CLI - both you and I are using the SystemJS builder to do bundling (I'm using

[2015-06-14 23:00] robwormald commented on #2531
Ah, one thing that makes a huge improvement is not importing Zone and reflect. Reflect brings in a HUGE amount of crud if imported via import syntax. Both *function* fine this way (i chatted with @rkirov the other day about this), but obviously they're not set up for this kind of usage yet - this is the kind of thing that's not obvious to people who aren't up on es6 modules yet ("well, you can imp

[2015-06-14 23:11] dylanb opened #2547 "Interpolation on custom element not working"
See the following Plunker, the attribute value interpolation works on the `<li>` element, but not on the `<my-component>` element

http://plnkr.co/edit/Z7INho9vUuco9pQrwyUP?p=preview

[2015-06-14 23:37] petebacondarwin commented on #2452
I think that this final set of commits: 992293a196761def8720464cd8e5d43394ab2876, 14d28d74730c92b0ff849c08d5e9a1de89d93178 and dd23bab3adc27f2453b578d00ecaa4723e2375a8 resolve all the warnings.

[2015-06-14 23:37] #2452 closed

[2015-06-14 23:56] robwormald commented on #2533
I can replicate this outside of TypeScript - the event is firing fine, but it doesn't look like Zone is picking it up. Also, triggering a timeout-hack inside of the onload callback doesn't appear to work either, so it must be well and truly out-of-the-zone. http://plnkr.co/edit/glcsfUFJo8RlE1sn55Cr?p=preview

Side note - in Angular 1.x, ng-src wouldn't try to fetch undefined values, that doesn't a

[2015-06-15 01:42] kzhdev commented on #2532
I might did something. After copy/paste the code. It works now.

[2015-06-15 01:42] #2532 closed

[2015-06-15 05:48] rolandjitsu commented on #2543
@vicb thanks, that actually helps. Just that I'm fixed on version alpha 26 and the api has changed. I'm looking forward to the next release :)

[2015-06-15 06:14] vicb commented on #2383
That's the plan, but relative to where ? This is why we need to have the path to the component.

[2015-06-15 06:43] choeller commented on #2383
Ok,

I get that, but when you write

[code]
you are "in the component" aren't you? So I don't get, why the framework couldn't say smth. like.

"When we declare a component (so I'm speaking of the file containing the class that is annotated with `@View`) we handle all URLs declared, relative to that file."

I'm not into the technical details and when `module.id` gives you access to that information

[2015-06-15 07:08] vicb commented on #2383
That's the plan again...

And `module.id` is the way to get the path to the file.

Currently I don't see any better way to achieve this but any other simpler way is welcome.

[2015-06-15 07:20] choeller commented on #2383
So it's pretty easy for me to argue, as I'm not into the technical details, but couldn't that `module.id` be added automatically by the framework, when evaluationg the `@View` Annotation?

[2015-06-15 07:52] PascalPrecht opened #2549 "docs(angular/di): docs on transient dependencies aren't correct"
Here's what that docs on transient dependencies say:

There are two errors in this documentation.

1) According to the code samples, when a token is bound to a factory, it returns the factory itself so we can call it. But it doesn't, it returns the instance of what the factory returns:

[code]

2) Getting an instance of something that is bound to a factory, also always returns the exact same insta

[2015-06-15 08:04] rolandjitsu commented on #2544
:+1: for HTTP interceptors. I personally use [fetch](https://github.com/github/fetch) which works just fine with Angular since there is need to worry about digest cycles.

[2015-06-15 08:23] vicb commented on #2549
`() => {  return new Car();}` vs `dep => () => new MyClass(dep)`

I think there is no error.

[2015-06-15 08:23] #2549 closed

[2015-06-15 08:31] PascalPrecht commented on #2549
@vicb sorry, I can't really follow. What exactly are you comparing there? To me both look like a factory function.

[2015-06-15 08:33] pkozlowski-opensource commented on #2531
@robwormald right, so definitively, I don't think we should load zone.js / loader itself / polyfills from the package manager. Those are not real functional dependencies, but kind of infrastructure files.

Right, so I guess boils down to the packager configuration. Do you see the same problems if you use the ["official" bundle](https://code.angularjs.org/2.0.0-alpha.26/angular2.dev.js)?

It is goo

[2015-06-15 08:36] vicb commented on #2549
In the doc case, the factory creates a factory function while in your code example the factory creates an instance.

For the doc case, it will always return the same factory:

`injector.get(MyClassFactory) === injector.get(MyClassFactory)`

but `MyClassFactory()` will return a new instance each time.

Clear ?

[2015-06-15 08:41] vicb commented on #2533
If this is a problem with zone, please create an issue on https://github.com/angular/zone.js
A small repo case with zone.js only would help (bonus point for a PR with a failing TC).
Thanks.

[2015-06-15 08:56] deadmann opened #2550 "dear sir, i'm tring to create angular base applciation with .Net MVC & SignalR"
Dear sir,

I'm tring to create angular base application joined with .Net MVC & SignalR...

First Let Say i'm new to this world of angular, and even JS framework, and not totally familiar with even JS it self, so it may not be an issue in angular, in other hand it may.

What i'm tring to do is to Use <a href="http://www.codeproject.com/Articles/562023/Asp-Net-SignalR-Chat-Room"> this sample<a/>, ch

[2015-06-15 09:10] vicb commented on #2550
1) The issue tracker should be used to report issue, not asking for support
2) The repo is for angular 2, seems like you are trying to use angular 1

-> Read https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question and ask your question on the Google group or on Stack Overflow.

IMO, you're more likely to get answers if you have small ans specific questions rather than a gigantic

[2015-06-15 09:10] #2550 closed

[2015-06-15 09:10] PascalPrecht commented on #2549
Ah thanks for clarifying. But the docs code also just returns an instance:

`toFactory(dep => () => new MyClass(dep), [SomeDependency])`

So `MyClass` is a factory then?

[2015-06-15 09:18] vicb commented on #2549
- `() => new MyClass(dep)` is a factory
- `MyClass` is a class

I don't get what you don't get, please ask more specific questions or ping me on hangout victor.berchet at gmail.

[2015-06-15 09:21] PascalPrecht commented on #2549
Exactly, and this

[code]
is also a factory. Same as yours, it just doesn't have an additional dependency. However, I get the instance. Will ping you on hangouts though

[2015-06-15 09:29] PascalPrecht commented on #2549
Okay, turned our I got confused with the oneliner syntax. It's all clear now, thanks @vicb for your help.

[2015-06-15 11:34] deadmann commented on #2550
The question it self is small, but that's so you can copy paste it into a project, and experience same effect...

1. Sorry for that, it's not like you get answer there, also i find google group very hard to understand. and stack said if i ask more question i'll get banned, so i'm afraid, naturally i question about foreign part , and less known objects, so no one look at my questions, make less peo

[2015-06-15 12:10] pkozlowski-opensource commented on #2531
@robwormald I'm still not sure what you've meant by:

I suspect that this is something specific to the way you've created your bundle, but can't confirm.

One more thing - it seems like there was some work done on the perf improvements, see: https://github.com/ModuleLoader/es6-module-loader/issues/386

[2015-06-15 12:11] pkozlowski-opensource commented on #2531
@gdi2290 Patrick, do you have any more details / input here? For now I can't see anything actionable here, I'm afraid :-(

[2015-06-15 14:30] butaixianran commented on #2533
I learned Angular2 by following official site and docs, I have no idea what a Zone is and what's its relationship with Angular2. For now, I can only sure it's a problem with Angular2.

If anyone can be sure it is an issue with Zone, please help to report this issue to Zone project.
FileReader is an important API for many cases, we need to make it work.

Thanks!!

[2015-06-15 14:52] jakemac53 commented on #1872
If somebody wants to release a package which has no entry points, but just supplies some `@Injectable` classes, then they would need to use this same thing right? If I understand that correctly then my proposed solution would be to simply add a `no_entrypoints` option to the existing transformer. If that option is not supplied then the `entry_points` option must be supplied. Alternatively we could

[2015-06-15 15:33] zzo commented on #2437
INFO [watcher]: Pattern "/Users/trostler/angular/dist/dart/**" matches 82403.

So the bulk of them by far are here:

trostler-macbookair2:test trostler$ find -L /Users/trostler/angular/dist/dart/angular2/test  | wc -l
   80903

With the 'transform' directory being the big winner:

trostler-macbookair2:test trostler$ find -L /Users/trostler/angular/dist/dart/angular2/test/transform/  | wc -l
   533

[2015-06-15 15:46] jeffbcross commented on #2544
The commit in #2360 was meant to provide the basis for adding many of the features you mentioned. Regarding the "should one exist" question, the goals are to provide solid conventions, simplicity, and testability. And yeah, the core does a lot to help folks use the "http of their choice" out of the box; Angular's http is opt-in.

The interceptors design is something we've started thinking about. T

[2015-06-15 15:59] rolandjitsu commented on #2544
@jeffbcross [fetch](https://github.com/github/fetch) has a similar implementation to what you described.

[2015-06-15 16:09] jeffbcross commented on #2544
@rolandjitsu which part of my comment are you referring to?

[2015-06-15 16:17] kegluneq commented on #1872
That does seem like an easier solution, I'm all for it.

[2015-06-15 16:27] jelbourn commented on #2529
I think this is good. Definitely something that needs very clear documentation, but seems pretty learnable to me.

[2015-06-15 16:38] rolandjitsu commented on #2544
@jeffbcross response transformations. It's up to the user to apply whatever transformations he/she needs. The response has a few methods that provide response transformations (`json`, `text` and some others), but as a user you can implement your own and apply on the promise chain (e.g. `http('some/url').then(json)` where `json` is a function that transforms the response and returns the json as a j

[2015-06-15 16:45] rolandjitsu commented on #2544
@jeffbcross perhaps interceptors could be application and component specific. If a user would want an interceptor that will do something for every request/response then the user would use an application specific interceptor (and maybe injected during application bootstrap), but if the user only wants these things to happen only for a certain component than he/she would use a component interceptor

[2015-06-15 16:54] #2022 closed

[2015-06-15 17:31] gdi2290 commented on #2531
Yo, I'm out of town so I haven't had time to fully read the convo. The delay is due to SystemJS. For example if you console.time `System.import('app')` you see about 800-1000ms. But if you put that in a setTimeout then you notice the drop dropped below 60ms. If you dig around you realize it's due to SystemJS. I wasn't comparing the two so much as saying there is a problem with SystemJS and I was u

[2015-06-15 17:37] pkozlowski-opensource commented on #2531
@gdi2290 it sounds like you are comparing non-bundled version... which I believe is of limited value in practice - I mean - I wouldn't expect anyone to run with un-packaged Angular2, even for demos / quick experiments.

When you say "The delay is due to SystemJS" - what does it mean exactly? System.register format? SystemJS polyfill? If so, which one? What is the format that webpack is using as do

[2015-06-15 17:37] #2382 closed

[2015-06-15 17:42] tbosch commented on #2383
Sadly no. As our @View annotation is defined in another module, it would
get the module where it is defined when it reads out module.id (i.e.
angular2/src/core/annotations_impl/view.js).

On Mon, Jun 15, 2015 at 12:20 AM choeller <notifications@github.com> wrote:

[2015-06-15 17:48] #2221 closed

[2015-06-15 17:54] jeffbcross commented on #2544
@rolandjitsu actually the `response` emitted from `http` is close to the Fetch spec in how the body is accessed. See this example: https://github.com/angular/angular/blob/master/modules/examples/src/http/http_comp.ts#L28

I'm working on a docs PR with more info that I hope to land today or tomorrow: https://github.com/angular/angular/pull/2540

[2015-06-15 18:01] tbosch commented on #2388
Hi,
here is a simple example that uses benchpress in a standlone project: https://github.com/jeffbcross/benchpress-tree

And here are some docs: https://github.com/angular/angular/blob/master/modules/benchpress/docs/index.md

Sorry, right now we don't have more docs...

[2015-06-15 18:13] gdi2290 commented on #2531
I'm using bundled version. SystemJS no jspm

[2015-06-15 18:31] pkozlowski-opensource commented on #2531
@gdi2290 I'm totally confused now... You are saying:

If it would be packaged here wouldn't be any IO / HTTP calls....

OK, do you mean https://github.com/ModuleLoader/es6-module-loader or https://github.com/systemjs/systemjs or sth else? What version?

I think that the best is that you share your setup so I can look at it, as I don't see the delays with my minimal setup here: https://github.com/p

[2015-06-15 18:57] vsavkin opened #2551 "Improve Support for <select> and <option>"
The ngOptions directive from Angular 1 provides some extra capabilities that is not supported when you use select directly:

* Handling mismatches between selected value and available options
* Handling prompt options

Maybe we should provide similar capabilities in NG2?

/cc @IgorMinar

[2015-06-15 20:17] #2520 closed

[2015-06-15 20:49] petebacondarwin commented on #2446
@mhevery this is now fixed so you can go ahead and update the syntax.

[2015-06-15 20:50] naomiblack commented on #1293
@mhevery we need some input on the best way forward on implementation. Please weigh in?

[2015-06-15 20:58] naomiblack commented on #2025
Assigning to @vsavkin to clarify what needs to be implemented.

[2015-06-15 21:02] IgorMinar commented on #1814
work in progress. I ran into blockers during the implementation that I'm addressing. I updated the effort appropriately.

[2015-06-15 21:06] un33k commented on #1293
https://github.com/angular/angular/issues/1293#issuecomment-105691051

[2015-06-15 21:06] un33k commented on #1293
@naomiblack I guess you missed it here: https://github.com/angular/angular/issues/1293#issuecomment-105691051

[2015-06-15 21:27] vsavkin commented on #2482
Talked to Rado. I will be working on it.

[2015-06-15 21:27] tlancina commented on #2219
We're having this issue with Ionic as well, since Cordova uses `file://`.

https://github.com/tlancina/ng2-play

[2015-06-15 21:43] naomiblack commented on #1293
@un33k nope -- wanted more current than 20 days ago as we have been discussing further in person.

[2015-06-15 21:48] mhevery commented on #1293
We have decided to do the approach of `BaseView` which is then subclassed with  `View`. This allows the View to add the `ngCoreDirectives`. The app developer can further subclass with `MyView`.

We have decided against the global state since it would make component reuse problematic.

[2015-06-15 22:54] naomiblack commented on #2301
@vsavkin per discussion, it looks like change detection and DI export overly broadly? Can you investigate please, and if needed, create another issue for `core`?

[2015-06-15 22:55] naomiblack commented on #751
This is ugly but not urgent. As long as they aren't checked into the packages that get published, it's not a big deal.

[2015-06-16 00:14] tbosch commented on #2175
@matanlurey Could you help @jakemac53 reproduce this?

[2015-06-16 00:16] matanlurey commented on #2175
GT is no longer using native.

[2015-06-16 00:16] #2175 closed

[2015-06-16 00:17] matanlurey commented on #2490
I haven't had the chance to write a repro case but let's assume that it either works or the workaround is good enough for this release.

[2015-06-16 00:17] #2490 closed

[2015-06-16 00:52] jeffbcross opened #2554 "refactor(http): move mock_backend to test_lib module"
To be consistent with other submodules, the mock_backend should be exported on a new `test_lib` module in http, so it will not be loaded in production code or bundles.

[2015-06-16 00:53] btford opened #2555 "feat(router): support hashchange mode"

[2015-06-16 01:03] vsavkin opened #2556 "Generated Change Detectors do not properly handle pure functions"
Fix handling pure functions and reenable change detectors:
https://github.com/angular/angular/blob/master/modules/angular2/src/core/application.ts#L72

Generated change detectors always reset the result of pure functions to undefined.

[2015-06-16 01:12] naomiblack commented on #2556
Tracking note: this is assigned to vsavkin to see if it can be quickly unblocked, otherwise, please assign to @jakemac53 or @yjbanov.

[2015-06-16 01:23] naomiblack commented on #2556
internal issue is b/21857179

[2015-06-16 01:36] btford commented on #2555
This should be pretty easy now that cab1d0ef0f4f54c7100e663bfe03d690a44f229d has landed.

[2015-06-16 01:51] rkirov commented on #1978
As commented with Matan, the best API for this would do a bit more than add a callback to onTurnDone.

The user callback should be called only after an async event has happened, change detection has ran *and* it did not schedule any more microtasks. Something like

[code]

// cc @vicb thoughts (as the last person who worked on Zones)?

[2015-06-16 03:20] mhevery opened #31761 "Zone.js does not work with WTF"
https://github.com/google/tracing-framework/issues/531

1) Go to: http://mhevery.github.io/github_issues/ and see Angular2 app running.
2) turn on the WTF extension "Enable Recording for this URL"
3) Observe that Angular2 app is no longer running.

I don't see any exception in the console. It seems as if the WTF extension is somehow breaking the System.js module loader and preventing it from loadi

[2015-06-16 03:28] mhevery commented on #1954
Should be a trivial fix, can you submit a PR?

[2015-06-16 03:29] mhevery commented on #2219
Should be a trivial fix, can you submit a PR?

[2015-06-16 03:30] mhevery commented on #2219
dup of #1954 closing

[2015-06-16 03:30] mhevery commented on #1954
@naomiblack This is a blocker for Ionic, I have upped the priority and added it to the hot-list.

[2015-06-16 03:55] robwormald commented on #2531
@pkozlowski-opensource heh, to answer your question, yes, the jspm.conf.js file is autogenerated and managed by JSPM - think of it like npm's shrinkwrap.

I'm going to set up some benchmarks this week. One thing to keep in mind is that the SystemJS polyfill is written for a future-land where HTTP2 and the like are the norm. The theory being there that you might actually load something like angular

[2015-06-16 04:25] tlancina commented on #1954
Thanks! It looks like the [PR](https://github.com/angular/angular/pull/2238) @gdi2290 submitted for this issue already is just waiting on tests.  I'll take a look at it tomorrow.

[2015-06-16 06:09] vicb commented on #2556
Fixing this would probably close #461

[2015-06-16 06:19] vicb commented on #1978
`whenStable()` seems like a good proposal. It probably needs modification to zones (both dart & js) as there is currently no way to know if `onTurnDone` result in enqueueing more microtask - it should be an easy update.

[2015-06-16 06:20] vicb commented on #2219
There is already a PR (#2238), blocked on adding tests.

[2015-06-16 06:23] vicb commented on #2175
FYI: I don't think this is related to `NativeShadowDom` only as urls are resolved whatever the strategy. However we already have other issues related to URL resolving. I am supposed to take a look this week.

[2015-06-16 08:15] vicb opened #2560 "cleanup FakeXHR in tests"
Some test use a custom `FakeXHR` class to Fake the `XHR`.

The reason why was introduced is because `MockXHR` didn't play well with cascaded requests as you would have to call `xhr.flush()` multiple time.

We should be able to use `MockXHR` and convert the test to `fakeAsync()`  + flushing microtasks

[2015-06-16 10:16] kemins commented on #1655
Guys, i guess you have to update: https://angular.io/docs/js/latest/guide/displaying-data.html
as it's not working example with injections, that just simply irritates...

[2015-06-16 10:32] 2fdevs commented on #2296
+1 this needs to be reviewed I think.

@SekibOmazic as a workaround we're using CustomEvent(): https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events

[2015-06-16 11:37] SamVerschueren commented on #1655
I added a PR to the documentation website to update those examples. The property `injectables` is not correct anymore and should be `appInjector` as you can see a couple posts above this one.

[2015-06-16 11:41] khyamay commented on #1655
I think I read some where in the issues that ```appInjector``` is being renamed as well

[2015-06-16 11:43] SamVerschueren commented on #1655
@khyamay Can you post a link to the discussion if you know where to find it? Can be helpfull if people read this discussion later on.

[2015-06-16 11:45] khyamay commented on #1655
https://github.com/angular/angular/issues/2379 see this one

[2015-06-16 11:46] SamVerschueren commented on #1655
Thanks for posting this. It will become `hostInjectables` in the future.

[2015-06-16 11:47] khyamay commented on #1655
:+1:

[2015-06-16 14:46] vicb opened #2562 "Unit test error log when message contain a "\n""
The output log are printed in wrong ordrer:

[code]

Should be

[code]

I know, I should have figured out but I was convinced that the output was "" instead of `/* foo.css */` - caused me a couple hours of wtf.

(the expected value is "`/* foo.css */\n`")

/cc @tbosch

[2015-06-16 15:00] kemins commented on #1655
So what could be wrong with my code:

index.html
...
<script src="https://code.angularjs.org/2.0.0-alpha.25/angular2.dev.js"></script>

.....
<my-friends></my-friends>

friends.ts
/// <reference path="../../typings/angular2/angular2.d.ts" />

import {Component, View, bootstrap, For} from 'angular2/angular2';

class FriendsService {
    names: string[];
    constructor() {
        this.names = ["Al

[2015-06-16 15:02] SamVerschueren commented on #1655
If you take another look at my code example, you should use `NgFor`, `NgIf` instead of `For` and `If`. I added a PR to update the docs with these changes but not accepted so far.

[2015-06-16 15:39] #2095 closed

[2015-06-16 15:39] #2546 closed

[2015-06-16 16:02] jeffbcross opened #2564 "refactor(Http): remove HttpFactory"
There are two things that can be injected in order to perform Http requests, `Http` or `HttpFactory`. Http is a class with the primary method of `request`, plus some shortcut methods like `get`, `post`, etc. `HttpFactory` is a function equivalent to `Http.request`.

I think having `HttpFactory` adds more concepts/complexity than is warranted, and I'd like to remove it. For one, it requires two mor

[2015-06-16 17:00] juliemr commented on #1978
See also https://github.com/angular/angular/issues/428

[2015-06-16 17:23] vicb opened #2566 "[DART transformers] Add support for styles and styleUrls in Directive"
/ref #2459 #2563

Two new properties have been introduced for `Directive`:
- `styles`: a list of css text
- `styleUrls`: a list of css urls

The template loader has been modified to resolved the url in the css and inline `@import` rules (this was previously done by the shadow dom strategies).

I'm not exactly sure what is left to be done in the transformers as they use the `TemplateLoader`.

[2015-06-16 17:37] rkirov opened #2567 "Adding support for CSS variable shimming"
Polymer 1.0 has that support and is advocating using CSS variables to pierce shadow dom boundaries instead of the `/deep/` combinator. https://www.polymer-project.org/1.0/docs/devguide/styling.html

[2015-06-16 17:40] TedSander commented on #2567
Also CSS mixins would be appreciated.

Spec for CSS variables here:
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

[2015-06-16 17:48] jakemac53 commented on #2383
For elements written in TS which want to compile to both Dart and JS, would we just remove the `moduleId: module.id` during the transpile? Do we have the necessary hooks to do that?

[2015-06-16 18:26] vicb commented on #1978
What we probably wants to do in [`NgZone`](https://github.com/angular/angular/blob/598a75ec1c837376b95adb3924a116531eec9d08/modules/angular2/src/core/zone/ng_zone.ts#L174)

[code]

->

[code]

- do the same in Dart,
- add tests

[2015-06-16 18:32] jeffbcross opened #2569 "feat(docs): more control over sorting of class properties and methods"
The docs on angular.io sort properties and methods in alphabetical order, which doesn't necessarily represent the ideal order in which they would be described.

[This commit](https://github.com/angular/angular/commit/398e70ad3993741ade00b18b0241cb4b020f87fa) from @petebacondarwin introduces the alphabetical ordering, but there is no associated issue describing why alphabetical ordering was decided

[2015-06-16 18:32] jeffbcross commented on #2569
I'm happy to make this change. Posting it here for discussion.

[2015-06-16 18:39] rkirov commented on #1978
It would be nice to detect timers being added through the createTimer and createPeriodicTimer APIs https://api.dartlang.org/apidocs/channels/stable/dartdoc-viewer/dart:async.ZoneDelegate
and not call the onStable until the non-period timers have resolved.

[2015-06-16 18:40] rkirov commented on #1978
Also I think the client API should be exposed through the Lifecycle object, not NgZone.

[2015-06-16 18:50] petebacondarwin commented on #2569
Works for me.

[2015-06-16 19:00] vicb commented on #1978
and not call the onStable until the non-period timers have resolved.

I guess we would only take timers that fire in a "near" future into account ?

Agree

[2015-06-16 19:05] jeffbcross opened #2570 "fix(test): Test errors aren't being propagated in gulp test.unit.js (possibly other tasks)"
See this job for example: https://travis-ci.org/angular/angular/jobs/67065781

If I debug the code, I see the actual error being caught and re-thrown through `InstantiationError` is "Cannot read property 'fromArray' of undefined", an error I immediately know how to fix.

I tinkered with it, and it looks like the problem is when calling `super()` in subclass of BaseException without a message, any

[2015-06-16 19:10] vicb commented on #2570
Could this help ? https://github.com/angular/angular/pull/2102 (not sure if it has been merged and if not why).

:+1: for fixing this, very annoying

[2015-06-16 19:16] jeffbcross commented on #2570
The version of TypeScript we're using is @alexeagle's fork which declares `Error` as a class, which should be supported according to Microsoft/TypeScript#1168. Though in that issue, others have issues with extending the class.

[2015-06-16 19:19] jeffbcross commented on #2570
One potential fix is to require that every subclass of `Error` be constructed with an already-formatted message, instead of allowing construction of the message inside the constructor after `super()`.

[2015-06-16 19:57] mhevery commented on #2383
@jakemac53: yes just remove for dart
@choeller: I would love to drop the `module.id` from the `@View` but unfortunately, it is technically not possible. The only place where the information is stored is in the `module.id` and it is only visible to the application file. :-(

[2015-06-16 20:19] vicb commented on #2383
you should try tweeter ?

[2015-06-16 20:31] tbosch commented on #2529
Side goals:

- simplify Renderer: Remove `attachViewInContainer`, and replace with `attachViewNextToElement` / `attachViewNextToView`, i.e. the renderer should no more need to track the content of `ViewContainer`s.
- allow to use content reprojection on all renderers (e.g. DOM, NativeScript, ReactNative)

[2015-06-16 20:38] yjbanov commented on #461
Assigned it to myself since I'm working on https://github.com/angular/angular/issues/2556

[2015-06-16 21:21] blesh commented on #2564
What are the semantics for more complex use cases, like POST with custom headers vs GET or PUT. How are methods/verbs specified?

[2015-06-16 21:53] vsavkin opened #2575 "Run JavaScript tests in the strict mode"

[2015-06-16 22:17] zps938 opened #2576 "$http.delete causes non-zero Content-Length header in IE10 due to passing undefined to xhr.send"
Since 1.4.0-rc1 and confirmed in 1.4.1, calling `$http.delete('url')` in IE10 causes a non-zero Content-Length header to be added to the request. I noticed this when the webserver was returning HTTP error code 415 on all `$http.delete` calls.

 I tracked this down to 1.4.0-rc1 where `xhr.send(post || null)` in createHttpBackend was changed to `xhr.send(post)`. When post is undefined, this problem

[2015-06-16 22:23] #2569 closed

[2015-06-16 22:50] #2416 closed

[2015-06-16 22:50] #2442 closed

[2015-06-16 22:50] #2530 closed

[2015-06-16 23:16] mhevery commented on #461
Closing since it is a dup of #2556 (an @vicb says it has been done)

[2015-06-16 23:26] mhevery commented on #1954
dup of #2219 (as the PR closes that one.)

[2015-06-16 23:26] #1954 closed

[2015-06-16 23:26] mhevery commented on #2219
Reopen since #2238 will close this one on merge.

[2015-06-16 23:41] goderbauer commented on #821
With the last two pull requests, the following metrics were added to benchpress:
* `frameTime.mean`: mean frame time in ms (target: 16.6ms for 60fps)
* `frameTime.worst`: worst frame time in ms
* `frameTime.best`: best frame time in ms
* `frameTime.smooth`: percentage of frames that hit 60fps

To collect these metrics, you need to execute `console.time('frameCapture')` and `console.timeEnd('frameC

[2015-06-16 23:52] jeffbcross commented on #2531
Yeah, like @robwormald said, the ideal scenario would embrace HTTP/2 and allow for unbundling and loading only the dependencies needed by the application (with some way to pre-load assets that aren't needed yet). The [browser support](http://caniuse.com/#feat=spdy) is there, the [server](https://github.com/indutny/node-spdy) [support](http://nginx.org/en/docs/http/ngx_http_spdy_module.html) [is](h

[2015-06-17 00:03] jeffbcross commented on #2576
Hi @zps938, this looks like an issue for the https://github.com/angular/angular.js repository

[2015-06-17 00:03] #2576 closed

[2015-06-17 00:08] felippenardi commented on #2388
That helps a lot, thanks @tbosch !

[2015-06-17 00:22] mprobst opened #2579 "compile_control.ts has suspicious member _results"
... it seems to never be assigned anything except other than `null`, and it's never read. We should have a linter.

[2015-06-17 00:25] timkindberg commented on #1598
My idea was exactly the same as @jvandemo of passing an object hash and don't allow decorator directives to access other attributes.

[2015-06-17 01:02] timkindberg commented on #1293
I would hope that tooling in my IDE would get good enough to auto import and add directives for me as I'm typing my template.

So if I type:
[code]

Then it will suggest to import ng-if for me (in Intellij it does this in Java when you type a class that isn't imported yet). So I'd say "Yes please import that for me", it would import it at the top and also add it to the directive array (creating th

[2015-06-17 01:07] jeffbcross commented on #2570
I opened a PR with a unit test for JS. https://github.com/angular/angular/pull/2580

I just call super with the same logic from further down in the constructor where the initial message is generated. This approach may be flawed, in that if the provided function would ever output an empty string (or undefined), the eventual message may still not be logged.

[2015-06-17 05:41] gdi2290 commented on #2278
this issue can be closed here since it was fixed via https://github.com/angular/angular/pull/2308 and merged at https://github.com/angular/angular/commit/e77710a3727e40778a247e96f0507c212091668a

[2015-06-17 07:15] vicb commented on #2219
2238 has landed as cd735c483747c66d378ae34f4755178dd0a54d70

[2015-06-17 07:15] #2219 closed

[2015-06-17 08:54] vicb commented on #2384
@rolandjitsu

This will be fixed with by #2563 fixing #1694

[2015-06-17 09:18] pkozlowski-opensource commented on #1293
@timkindberg the proposal discussed here doesn't prevents tools from doing what you are describing here. But tools can't be the only answer as:
* there are plenty of tools out there and getting good support for ng2 in all of them will take time
* even if a tool can generate code for us it is still more code to read / download into a browser

[2015-06-17 09:22] pkozlowski-opensource commented on #2531
@jeffbcross @robwormald oh, I didn't realize that you guys are experimenting with HTTP/2 loading of un-packaged ng2 files! This should be definitively looked into / explored. But at this point it should be one of possible solutions, but not the only one. IMO we need to make sure that we don't require people to have specific server-side configuration to use ng2.

Now, the most important question fo

[2015-06-17 10:07] themihai opened #2584 "What browsers does Angular support?"
I couldn't find any list of the supported browsers but there are several references to IE8, IE9, IE10 in the source code (e.g. [0]). Does angular plan to support all these old versions?

[0] https://github.com/angular/angular/blob/9700e80698e867282c4c32741962c334782bef45/modules/angular2/src/render/xhr_impl.ts#L14

[2015-06-17 10:41] PascalPrecht opened #2585 "Can't build the project due to FormatException"
After pulling the latest changes and running `npm i` I get this:

[code]

I updated the dart-sdk to the latest version by downloading it from the website and configuring it accordingly. The version file just contains the version number `1.10.1`, but still, apparently this is in a wrong format.

Any idea why `pub` has a problem with that?

[2015-06-17 10:42] vicb commented on #2383
random thought: stack traces ?

[2015-06-17 10:43] PascalPrecht opened #2586 "gulp build fails"
[code]

This is based on latest master.

[2015-06-17 10:45] vicb commented on #2585
Are you 100% confident that gulp uses the last version of the SDk you've installed ?

[2015-06-17 10:46] vicb commented on #2586
Did the `npm i` went well ?

[2015-06-17 10:48] PascalPrecht commented on #2585
Yes, here's my configuration:

[code]

And this is also where I put the package. The version file has `1.10.1` which is also what the build error says. I even manually changed the version number in that file to and then, that one was used.

So yea, I think I'm 100% sure.

[2015-06-17 10:49] PascalPrecht commented on #2586
Nope, `npm i` crashes due to https://github.com/angular/angular/issues/2585

[2015-06-17 10:54] vicb commented on #2586
then this is a duplicate

[2015-06-17 10:54] #2586 closed

[2015-06-17 10:56] vicb commented on #2585
What's the output of `pub --version`

[2015-06-17 10:57] PascalPrecht commented on #2585
This is not a joke, I can't even run `pub --version`. Getting the same error.
[code]

[2015-06-17 11:03] vicb commented on #2585
`file:///Volumes/data/b/build/slave/dart-editor-mac-stable/` is that a link to `$DART_EDITOR_DIR/dart-sdk` ?

[2015-06-17 11:48] PascalPrecht commented on #2585
@vicb Okay, so I re-installed the dart-sdk once again and after a while I found out that there was a `pub` somewhere in `/usr/local/bin` which I didn't know about. It's working now, thank you so much for your help! <3

[2015-06-17 11:48] #2585 closed

[2015-06-17 11:50] vicb commented on #2585
no problem

[2015-06-17 11:50] kemins commented on #1655
in my case problem was with missed --emitDecoratorMetadata compile options.

so this the ts compile options in webstorm that make it works for me:
--target es5 --module commonjs --emitDecoratorMetadata

[2015-06-17 13:28] nomack84 commented on #2584
AFAIK only evergreen browsers, that means IE10+ and latest versions of Firefox, Chrome, Safari and Opera.

[2015-06-17 13:56] vicb commented on #2383
random thoughts (cont'd):

[code]

[2015-06-17 14:00] PascalPrecht commented on #1925
Despite the fact that `appInjector` should be removed anyway, could one of you please give a little explanation of what the difference between those are?

So I know that `bootstrap()` creates a root injector **and** an app injector (which is a child injector) for the component that is bootstrapped.

Currently, each sub component can define it's own `appInjector` bindings a la
[code]
This allows us

[2015-06-17 14:12] vicb commented on #1925
host & view injectors are `ElementInjector`s (vs `Injector`).

I guess the current state is a little bit confusing for (almost) everybody, we will have to do a better at docs. Meanwhile you can find some info in the inline coments (API doc) and unit tests.

[2015-06-17 14:13] PascalPrecht commented on #1925
@vicb thanks! And can you confirm that `appInjector` creates a child injector for the component?

[2015-06-17 14:19] jakemac53 commented on #2383
@vicb we shouldn't need the module.id at all in dart

[2015-06-17 14:29] vicb commented on #2383
@jakemac53 yep we don't "need" it but we want the ts code to transpile to dart, don't we ?

[2015-06-17 14:31] vicb commented on #1925
[if needed](https://github.com/angular/angular/blob/df6acedd25b690930148c7c3bae370f2def2feaa/modules/angular2/src/core/compiler/element_injector.ts#L740), ie when `appInjector` is not empty

[2015-06-17 14:31] gdi2290 commented on #2584
@themihai that was my fault, Angular2 plans to only support evergreen browsers. There will be a solution for your app to work with legacy browsers if everything goes according to plan. That solution would be limiting but of course so are those browsers. When that solution is finished then IE(8-10) will work without much effort and of course if you're crazy enough we might be able to support everyt

[2015-06-17 14:32] jakemac53 commented on #2383
@vicb yes, but I think we want to just remove it entirely during the transpile (if reasonable). Alternatively we could just make it be a no-op?

[2015-06-17 14:35] vicb commented on #2383
`enum` is the way I've found to make it a compile time constant no-op, is there a better way ?

[2015-06-17 14:37] themihai commented on #2584
@gdi2290 that makes sense. I guess the solution for the legacy browsers will be a kind of polyfill. Wrt evergreen browsers, is it only Edge on the list  or both IE11 and Edge?

[2015-06-17 14:39] jakemac53 commented on #2383
Ah I wasn't sure if that was what you meant with the enum or not. I think that is probably fine.

[2015-06-17 14:42] nomack84 commented on #2584
@gdi2290 Are you saying that all the Webcomponents stuff will work in IE8? Where did you get that info? The Angular team is agree with this?

[2015-06-17 14:47] robwormald commented on #2531
angular2 is [on jspm](https://github.com/jspm/registry/pull/385), and we added an [an override](https://github.com/jspm/registry/pull/430) to the reflect-metadata package - there's a [runtime check](https://github.com/rbuckton/ReflectDecorators/blob/master/Reflect.js#L837-L845) in the polyfill that the static analyzer was picking up and bundling in all the crypto shims.

With that fixed, doing
[co

[2015-06-17 14:48] gdi2290 commented on #2584
@themihai polyfills aren't fun. Angular currently uses polyfills, even now, for ES6 so adding more would really lag the bootstrap time as experienced by Polymer in ie10.

@nomack84 sorry, web components won't ever work in IE8.

Again this information is coming from me and I'm working on it. I rather have the angular team and everyone using angular2 developing for modern browsers while having a sol

[2015-06-17 14:50] PascalPrecht commented on #1925
Which is always the case when we use it, right? I mean, there's no reason to do:

[code]

But thanks, at least that is clarified :)

[2015-06-17 14:50] nomack84 commented on #2584
@gdi2290 If web components won't ever work on IE8, the Angular2 won't ever work on it.

[2015-06-17 15:09] vicb commented on #1925
If your component is simple, you might not need it. There are probably a few case in the examples.

[2015-06-17 15:21] pkozlowski-opensource commented on #2584
nomack84 huh? You can use Angular2 without web components perfectly fine.

[2015-06-17 15:23] nomack84 commented on #2584
Oh, sorry, I didn't knew that. I thought it was like Polymer where
webcomponents is a must.

2015-06-17 10:22 GMT-05:00 Pawel Kozlowski <notifications@github.com>:

--
Ing. Mario A. Alvarez García
Teléfono: +593-998483331

[2015-06-17 15:27] pkozlowski-opensource commented on #2584
Nope, it is not like polymer. You can use web components in ng2 apps but ng2 components (directives) are not web components (at least not for now - but pretty close semantically!)

[2015-06-17 15:34] nomack84 commented on #2584
I thought it was because all the ShadowDom stuff and cause Angular promotes Custom Components throught directives... :)

[2015-06-17 15:38] vicb commented on #2584
Yes it is like Polymer, native WC is optional.

[2015-06-17 15:42] themihai commented on #2584
@gdi2290 I was actually worried about support of legacy browsers(not the lack of it) after I've seen the commit comments thus the reason of the question. AFAIC it would vote for best Angular on the latest browsers (i.e. Chrome, FF, Safari 9 and IE edge)

[2015-06-17 15:42] #2584 closed

[2015-06-17 15:43] matanlurey commented on #2409
Quick question: Will there be API support for creating your "own" `ElementRef`s at runtime.

E.g. in your example above, if the jQuery DOM renderer created a new element, could it return an ElementRef?

[2015-06-17 16:07] naomiblack commented on #2566
@jakemac53 can you have a look at this one? we're hoping it's a straightforward fix at the transformer level.

[2015-06-17 16:08] jakemac53 commented on #2566
can do

[2015-06-17 16:59] mhevery opened #2589 "Non-simple selectors should throw error"
[code]

Should throw an error, since we don't support selectors which cross elements.

[2015-06-17 17:35] thekhoi commented on #2414
@mhevery Just as you said, I removed the @Inject(NgZone) and it is working.  I thought I needed to include it in the appInjector property.

[2015-06-17 17:42] pkozlowski-opensource commented on #2025
Had a productive chat with @vsavkin - I'm unblocked.

[2015-06-17 17:42] rkirov opened #2591 "Interpolation is broken on root nodes"
A component with
```@View(template: `<other-cmp>{{text}}</other-cmp>`})``` does not interpolate text correcty (if fact it doesn't even throw).

However,
```@View(template: `<other-cmp><div>{{text}}</div></other-cmp>`})``` works, which points to some indices being wrong. It is possible this is related to inserting shimmed CSS and breaking the element counts.

[2015-06-17 17:48] mhevery opened #2592 "placing #var on item instead of template gets wrong value"
[code]
de-suggars to:

[code]
When we set `$implicit`
[code]

renders as: `<div>VALUE</div>`

But that is wrong, since the `#item` is on `div` not on `template` and therefore it should render as: `<div>ElementRef(...)</div>` because the `#item` is pointing to the element not to local variable.

[2015-06-17 17:53] vicb commented on #2591
Might be related to removing style tags from the template (if using an emulated strategy)

[2015-06-17 18:13] rkirov commented on #2591
It is just odd that it affects the light dom, if a style tag is inserted the dom will looks like `<style></style><other-cmp></other-cmp>` so I am surprised that `<style></style><other-cmp><div></other-cmp>` fixes it.

[2015-06-17 18:34] vicb commented on #2384
@mhevery do we actually need this for css ? we already resolve `url(...)` and `url('./path')` is much nicer than `$baseUrl/path' IMO.

[2015-06-17 18:45] vicb commented on #2591
Actually it should not affect `<other-cmp>{{text}}</other-cmp>` as other will have a `.ng-binding` class. whatever is appended does not matter.

It could affect `{{text}}` though.

[2015-06-17 18:55] pkozlowski-opensource commented on #2014
OK, so did good progress on this today, have the first implementation workish (at least in TS/JS) but additional checks uncovered 2 interesting corner cases:

1) Given

[code]

shell we throw? I would say YES (no `foo` property on an element, no directives)

2) Given

[code]

I would say YES (no `foo` property on an element, nor any matching directives)

If we do those changes, the syntax like `<t

[2015-06-17 18:57] tbosch commented on #2591
@vicb The removal of style elements is definitely a problem as well. And there are 2 cases: 1. when there `<style>` tag is inline, and 2. when the `<style>` tag needs to load an url.

In 1) we calculate the index of text node siblings incorrectly, with 2) we calculate the number of root nodes incorrectly (given the `<style>` is a root element)

[2015-06-17 18:58] tbosch commented on #2592
I think this was fixed yesterday bey Victor. See
d8e279536880968c6b3a83e00d29651006af5f46

On Wed, Jun 17, 2015 at 10:48 AM Miško Hevery <notifications@github.com>
wrote:

[2015-06-17 19:00] tbosch commented on #2383
@vicb: Stack traces won't work in production, if the code is concatenated,
as reading Error.stack does not support stack traces.

On Wed, Jun 17, 2015 at 7:39 AM Jacob MacDonald <notifications@github.com>
wrote:

[2015-06-17 19:01] #2339 closed

[2015-06-17 19:01] #2472 closed

[2015-06-17 19:02] tbosch commented on #821
+1 for closing this. We can reopen when we know what things are missing specifically when benchmarks are written.

[2015-06-17 19:02] #821 closed

[2015-06-17 19:06] tbosch commented on #2409
No, as `ElementRef` need to be know by the injector hierarchy as well. I.e. we would need to create a new `ElementInjector` for these places as well. For this, we need a `ProtoElementInjector` first, which is only created during compilation of templates...

[2015-06-17 19:06] tbosch commented on #2409
@matanlurey what is your use case though?

[2015-06-17 19:08] matanlurey commented on #2409
Just considering how a DOM render service could pass a reference to the element back to the app thread.

[2015-06-17 19:20] pkozlowski-opensource commented on #2014
The same pb for the existing switch directive. Today this works: `<template [ng-switch-default]><li>when default;</li></template>` but if we want to be more strict, it would have to be `<template ng-switch-default><li>when default;</li></template>`

[2015-06-17 19:24] mhevery commented on #2014
1) is a clear YES.

2) the `foo` attribute exists and there is a `[foo]` selector which matches it. Your concern is that attribute `[foo]` implies expression where there is none. Which I think is an error.

[2015-06-17 19:55] vicb commented on #2591
This should all get fixed when #2563 gets merged - which should happen early next week.

[2015-06-17 20:25] georgiosd opened #2597 "Template interpolation broken when loading angular with SystemJS from the a27 NPM package"
I have a component `Welcome` which I route to `/` and it evaluates `username` in a `<p>` element.
If I bootstrap the component directly, it all works fine.

If I render the `Welcome` component by creating a route for it and using `RouterOutlet` (tried both the standard and my custom one), I get an empty element.

I am on `alpha27`. No errors or anything in the console.

I was then trying to start

[2015-06-17 22:06] TedSander commented on #1822
If we use transformers the templateUrl is already inlined. I have a pull request here to do the same for styles.
https://github.com/angular/angular/pull/2599

[2015-06-17 22:11] kvantetore opened #2600 "interpret double dash as single dash when translating names"
@mhevery wrote

We should treat double dash as single dash. `<div (custom--event)="..">` should translate to `element.addEventListener('custom-event')`.

#2014 should support further renaming.

we convert dash into camel case because:
1. it is what properties need, and we need to be consistent
2. DOM events don't have dash in them but some are camel cased
3. most code in the wild uses camel case f

[2015-06-17 22:28] tbosch commented on #2383
@vicb This also does not work in Safari with SystemJS: SystemJS uses `eval` to load the scripts, and uses `//@sourceURL` to let the eval show up as normal file in the inspector and for stack traces. However, Safari does not seem to support this...

[2015-06-17 22:48] vsavkin opened #2603 "Query only directives on self"
Currently query has two scopes: direct children and descendants. It should also be possible to query directives created on the same element.

One example where it can be useful is querying validator directives.

[code]

[2015-06-17 23:05] naomiblack commented on #1293
extending the deadline on this one to give @pkozlowski-opensource more time to dig into the details.

[2015-06-17 23:34] naomiblack commented on #1610
GT concur ok to push this out a week.

[2015-06-17 23:41] tbosch opened #2604 "Compiler.compileInHost should first check the cache before creating `DirectiveBinding`"
Creating `DirectiveBinding` can be quite expensive and is not needed when the `ProtoView` is cached.

[2015-06-17 23:43] naomiblack commented on #428
this is blocking for internal issue b/21869186

[2015-06-18 00:33] TedSander opened #2605 "Transformer hangs when invalid templateUrl is used"
When using pub serve transformer can hang when using an invalid url.

Example templateUrl: '/gallery/gallery.html', (Which actually is a valid pub url but the transformer can't handle it now will file a separate issue for that.)

Exception:
Build completed successfully
in ShutdownIsolate: Unhandled exception:
Uncaught Error: The null object does not have a getter 'package'.

NoSuchMethodError: met

[2015-06-18 00:34] #2556 closed

[2015-06-18 00:37] jeffbcross opened #2606 "refactor(di): subclasses of BaseException should be immutable"
(Related to #2580 and #2570)

The `AbstractBindingError` class in di/exceptions extends `BaseException` from facade/lang, and provides an `addKey` method to append the error's message with more information. @yjbanov suggests (and I agree) that it would be better to implement the addKey method to return a new `AbstractBindingError`, merging the input with the existing instance's message, to encoura

[2015-06-18 00:40] TedSander opened #2607 "Transformer does not work well with web urls"
Angular itself can handle a templateUrl such as:
  templateUrl: 'gallery/gallery.html',
Yet the transformer itself will fail with a asset not found. Asset is under web/gallery/gallery.html

The transformer can find the relative asset like so:
  templateUrl: 'gallery.html',
Yet reflective mode can't handle that case yet.

[2015-06-18 00:41] TedSander commented on #2607
@jakemac53  can you take a look at this. Internal tracking b/21903876

[2015-06-18 00:43] TedSander commented on #2605
@jakemac53 Can you take a look at this when you get a chance. Tracking internal b/21903876

[2015-06-18 01:14] yjbanov commented on #461
Fixed by https://github.com/angular/angular/pull/2596

[2015-06-18 01:14] #461 closed

[2015-06-18 02:42] naomiblack commented on #1694
@tbosch can you confirm this is closed?

[2015-06-18 04:49] jeffbcross opened #2609 "perf(http): provide means to optimize response parsing"
Right now, the `Response` object lazily parses the response body, based on what "getter" method is called: `json()`, `text()`, etc. The `json` method will attempt to parse the body at the time the method is called, which can be expensive for large requests. By allowing the response type to be declared ahead of time, `XMLHttpRequest` can perform the parsing on a separate thread before firing the `l

[2015-06-18 05:14] IgorMinar commented on #1293
Taking into account experience we have from Java and other languages that support wildcard imports (`import java.util.collection.*`) which are similar to the proposed View/BaseView approach, I think that we will quickly run into the same issues as experienced in this systems (see: http://stackoverflow.com/a/147461).

Especially the future expansion of the core directives will become problematic be

[2015-06-18 05:54] vicb commented on #1694
it is not, but it should be fixed when #2563 gets merged - re-assigning to me as I own the PR

[2015-06-18 06:03] ewinslow commented on #1293
+1 putting the imports in the template itself would be ideal.

[2015-06-18 06:04] ewinslow commented on #1293
Didn't realize that was still on the table

[2015-06-18 06:15] vicb commented on #1610
Note that this will probably be fixed via #2593

[2015-06-18 06:48] naomiblack commented on #821
this is internal b/20763038

[2015-06-18 06:49] vicb commented on #2591
More info:
#2563 will actually not this fix as styles will also get removed for emulated strategy.

Could it help to move the shadow DOM compile step to the first position ? The style would be removed before the indexes are computed. It was the case when this was first implemented. I'm not sure about why it has been moved ? @tbosch ?

[2015-06-18 07:18] TedSander opened #2611 "@import style urls in a template throw a cryptic NPE"
Component with a style tag and an import like so:
<style>@import "material_button.scss.css";</style>

Throws the null pointer below and breaks the app. If the url is made absolute and moved to the styleUrls tag it works as expected. The URL might be invalid, but a better error message would be appreciated at the very least.
[code]

[2015-06-18 07:23] vicb commented on #2611
@TedSander what is the context , transformed / untransformed code ? Do you have a quick repro case ?

[2015-06-18 07:35] vicb commented on #2383
@tbosch
- I fail to see how concatenated code would be an issue, also see the discussion in the standup channel,
- `eval` is probably an issue,
- do you have some examples of how `module.id` would work ?

[2015-06-18 07:59] rolandjitsu opened #2612 "cannot resolve all parameters for DefaultValueAccessor"
I get this exception when using forms, not sure why though, because I do not directly use it anywhere, I just inject it as `directives: ['DefaultValueAccessor']` into a component.

![screenshot 2015-06-18 09 57 19](https://cloud.githubusercontent.com/assets/1479737/8226611/7ac2a198-15a0-11e5-808e-2812ed19a276.png)

[2015-06-18 08:02] pkozlowski-opensource commented on #2600
Right. So the problem is that we've got limited control over events declared by component authors (both web components and ng2 directives) so we can't exclude that people are going to create events following both `dash-case` and `camelCase` schema...

#2014 will help with this as it will allow us to override defaults. Having said this I think that we should re-visit dash -> camel casing for event

[2015-06-18 08:34] TedSander commented on #2611
Untransformed code. Let me see if I can get a repo case tomorrow the only thing I have right now is part of a larger project I can't share.

[2015-06-18 08:41] vicb commented on #2611
It would help to have a repro on vanilla ng2 (judging from the traces, it's not the case).

[2015-06-18 08:55] sp90 opened #2614 "European currency format"
Right now the currency filter, only supports the american way of thousand separator,

I the US you use "," as thousand separator and "." as decimal in europe its the other way around

I would be nice to have support for this

[2015-06-18 08:56] #2614 closed

[2015-06-18 08:56] sp90 commented on #2614
wrong angular project

[2015-06-18 09:46] kvantetore commented on #2014
Considering #2600, I guess the schema for events would also have to be an map rather than a list so we can override the default camel casing.

[2015-06-18 09:55] pkozlowski-opensource commented on #2014
@kvantetore right, to be considered.

[2015-06-18 11:14] rolandjitsu commented on #2612
This error seems to be thrown only if I use the `.js` files at the root of the npm package. If I instead compile the ES6 files using traceur, for instance, I do not get the error anymore.

[2015-06-18 12:15] rolandjitsu opened #2615 "using '/' as path in @RouteConfig causes component to be rendered two times"
I just noticed after I update to version alpha `27` that if I have the following `@RouteConfig`:
[code]
I will see two of the same component, but if I change the path to anything else I do not get the same behaviour.

[2015-06-18 12:17] rolandjitsu opened #2616 "removing 'as' from a route config throws exception"
If I remove the `as` key from a route config or if the alias name is different from the path name, I will get the following exception:
![screenshot 2015-06-18 14 16 50](https://cloud.githubusercontent.com/assets/1479737/8230905/c60b3a74-15c4-11e5-9c82-6208be798bac.png)

[2015-06-18 13:15] rolandjitsu commented on #2543
@vicb I've tried to find a way to do it but I seem to be failing. So I created the following component (a combination of the `CheckboxValueAccessor` and the angular material checkbox):
[code]
And I am trying to use it with a `ng-control` in some other place:
[code]
And yes, I do include the directive `Checkbox` in the view I use the custom checkbox. I am also attaching an observer to the `valueCha

[2015-06-18 14:23] jakemac53 commented on #2607
Not quite sure I understand this, should that path work from any file in any subdirectory of web, so it is essentially a special type of absolute url?

[2015-06-18 14:30] jakemac53 commented on #2607
or did you mean `/gallery/gallery.html`?

[2015-06-18 14:45] robwormald commented on #2531
@pkozlowski-opensource was talking to @guybedford, he pointed me towards: https://github.com/ModuleLoader/es6-module-loader/issues/386 and https://github.com/babel/babel/pull/1722

This might explain some of the discrepancy we're seeing, as traceur has this optimization but babel doesn't yet.

[2015-06-18 15:24] rolandjitsu commented on #2491
@mhevery should I use `DOM` for appending elements into a directive? I can see that `angular2/src/dom/dom_adapter` exports `DOM` which is also used by the `class` directive to add a class to an element. I suppose I could use the `appendChild` to add a node inside the directive?

Just that I am concerned what happens if the directive has a shadow root, will it still work?!

[2015-06-18 15:37] jakemac53 commented on #2605
I haven't been able to repro that exact error, but I do see pub serve hang. I think this is because we are logging an error which causes barback to not output the file. We could just downgrade it to a warning, but that doesn't really seem correct either... will need to think on this one.

[2015-06-18 15:44] tbosch commented on #2591
I have another idea how to make locating text nodes more stable. Will work
on it today...

On Wed, Jun 17, 2015 at 11:49 PM Victor Berchet <notifications@github.com>
wrote:

[2015-06-18 16:25] yjbanov commented on #1401
@vsavkin Some more context: this issue is to support Dart analyzer plugin for ng2, which will channel warning directly into any IDE that's integrated with Dart analyzer (which is practically every Dart-aware IDE). In order for the plugin to be able to reuse the ng2 compiler code the compiler needs to provide a good interface for the plugin to work with. Otherwise, the plugin will have to do its ow

[2015-06-18 16:28] jeffbcross opened #2618 "perf(SystemJS): create SystemJS benchmarks"
We should have benchmarks that test SystemJS loading of bundled and unbundled Angular, using an HTTP/1.1 server and an HTTP/2 server. Benchpress should collect script time and network time information.

[2015-06-18 16:28] jeffbcross commented on #2531
I created an issue to create benchmarks to measure SystemJS performance in different conditions: https://github.com/angular/angular/issues/2618

[2015-06-18 16:31] jeffbcross commented on #2531
I think we can close this issue, and discuss further once we have more data.

[2015-06-18 16:31] #2531 closed

[2015-06-18 16:49] Blazingspike opened #2619 "POST request payload empty for ArrayBuffer"
Hi there,

I tried to use POST to send some bytes using ArrayBuffer, but it seems that the request payload is always empty. Here's some code snippet:

var buffer = new ArrayBuffer(10);
var request = {
  method: 'POST',
  url: '/api/get_recent_hottos',
  headers: {'Content-Type': 'application/octet-stream'},
  data: buffer,
  responseType: 'arraybuffer'
};
$http(request)
  .success(function(data, s

[2015-06-18 16:52] pkozlowski-opensource commented on #2619
@Blazingspike:
* this is wrong repo, you are looking for https://github.com/angular/angular.js
* general support questions should be asked using a dedicated support channel: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#question

[2015-06-18 16:52] #2619 closed

[2015-06-18 18:29] pkozlowski-opensource commented on #1293
@IgorMinar thnx for your write-up - you are raising number of important points - in fact so many of them that I don't know where to start :-) So, few thoughts in the assorted order:

* I still believe that semantically it makes more sense to list directives in templates themselves, rather than in the `@View` annotation. But as @ewinslow I was under the impression that we've ruled out this option (

[2015-06-18 18:49] gdi2290 commented on #2618
bootstrapping on mobile takes way longer so I think that should have a high priority if possible.

[2015-06-18 19:23] un33k commented on #1293
Would something like this fly? Ensuring both maintainability and performance. (we'd just document the use-cases & the benefits)

[code]

[code]

Disclaimer: Syntax may not be exact.

[2015-06-18 19:25] pkozlowski-opensource commented on #1293
@un33k this already works, at least in JS.

[2015-06-18 20:32] mhevery opened #2623 "Remove app Injector from Angular (Use ElementInjector)"
- [ ] Remove app Injector
- [ ] Use ElementInjector as the injection system
- [ ] Have hostInjectables be visible in viewInjectables
- [ ] All default visibility for the tokens
  - [ ] `@Injectable` defaults to cross-shadow boundary, include self.

[2015-06-18 20:33] mhevery commented on #2623
/cc @vsavkin @yjbanov

[2015-06-18 20:58] juliemr commented on #1706
So, the problem is that naive infinite scroll isn't loading properly - you can see this without running the test at all by running:
[code]
and going to
`http://localhost:8001/benchmarks_external/src/naive_infinite_scroll/index.html?appSize=1&iterationCount=20&scrollIncrement=40`

[2015-06-18 21:02] naomiblack commented on #2623
dup of #2379

[2015-06-18 21:02] #2623 closed

[2015-06-18 21:36] jakemac53 opened #2624 "Dart HtmlAdapter should always throw unimplemented errors"
Today it just returns null for a lot of functions which can cause extremely confusing errors elsewhere in the pipeline.

This causes the transformer to hang on certain programs.

[2015-06-18 22:29] jakemac53 commented on #2072
pushed back again as I got sidetracked by more important transformer bugs

[2015-06-18 22:45] #2591 closed

[2015-06-18 23:06] jelbourn opened #2628 "pub serve gets stuck, never serving files"
Trying to get a component working, I found that having an html file that contains a non-empty `<template>` element caused `pub serve` to seemingly get stuck in an infinite loop (and never serve any requests).

@yjbanov suggested this had something to do with the dart `Html5LibDomAdapter`'s `appendChild` shim returning `null` instead of throwing a not implemented exception. Changing this shim worke

[2015-06-18 23:20] tbosch commented on #2628
Related to #2627

[2015-06-18 23:53] juliemr commented on #1706
I can manually reproduce this by selecting the window while the test is running and doing some of my own scrolling. I think that something is actually causing the webpage to never output the 'finished' span.

[2015-06-19 02:11] gdi2290 commented on #2615
I have this too. I ended up redirecting to what was suppose to be my home route

[code]

[2015-06-19 05:13] #2566 closed

[2015-06-19 05:43] naomiblack opened #2632 "export of API docs includes too much: gulp docs/angular.io produces unexpected filenames"
Please have a look at this angular.io pull request: https://github.com/angular/angular.io/pull/151

We now have files named things like `"public/docs/js/latest/api/forms/TemplateDrivenFormDirective extends  ControlContainerDirective implements \n    FormDirective-class.jade"`
and
`public/docs/js/latest/api/pipes/IterableChanges extends  Pipe-class.jade`

@petebacondarwin can you have a look and se

[2015-06-19 05:49] naomiblack opened #2633 "API doc comments not parsed by dgeni"
Look at the members of https://angular.io/docs/js/latest/api/test/TestBed-class.html. The following API comment block is showing up unparsed in the API doc output:

[code]
 in API docs:
![screen shot 2015-06-18 at 10 47 42 pm](https://cloud.githubusercontent.com/assets/2286589/8247866/2cce4b88-160c-11e5-91ad-034342dbb45d.png)

[2015-06-19 06:21] rolandjitsu commented on #2615
@gdi2290 yep, I am doing the same thing, I am redirecting to a different route.

[2015-06-19 07:24] robwormald commented on #2533
@vicb added a couple of specs and had a (probably misguided) attempt at fixing it : https://github.com/angular/zone.js/issues/136

[2015-06-19 10:27] neokeats commented on #1831
since we are tracking it else where.

it would be nice to reference it, not just closing like that...

[2015-06-19 11:26] petebacondarwin commented on #2632
Hi Naomi
These problems were fixed by the changes I mentioned a few days ago.
I regenerated from master, which may or may not be correct for alpha-27 and these issue don't appear.
See #152

[2015-06-19 11:29] petebacondarwin commented on #2633
Strictly it is all the `@param` tags that are not being processed. The rest of the block is being processed, as can be seen by the `{@link}` tag being converted to a real link.
I think that we are just ignoring `@param` in processing a the moment. I will take a look.

[2015-06-19 13:12] rolandjitsu commented on #2612
Just discovered that if I compile the `.ts` files (ignoring all the semantic errors thrown in the terminal), I have the same issue as described above. Only by transpiling the `es6/prod/**/*.js` files with traceur I will not get that error.

@mhevery any clues why this happens?

[2015-06-19 14:53] tbosch commented on #2383
Using `module.id`:

[code]

SystemJS and commonJS will provide a global `module` that is local to the module that is being evaluated.

[2015-06-19 15:04] vicb commented on #2383
I have tried in the unit tests context and it doesn't work. There does not send to be a lot of doc about it on the web.

Let's try to chat later today. I should be available from 1PM PST.

[2015-06-19 15:14] gdi2290 commented on #2612
I ran into this problem too when including formDirectives

[2015-06-19 15:18] rolandjitsu commented on #2612
@gdi2290 if you compile the files from `es6/prod` (from the npm package) using traceur, the error will not get thrown anymore. I am not sure about `es6/dev` though.

Same issue if I compile the `.ts` files.

[2015-06-19 15:28] gdi2290 commented on #2612
it looks like it's something to do with `renderer: Renderer` not being injected [default_value_accessor.ts#L39](https://github.com/angular/angular/blob/2.0.0-alpha.27/modules/angular2/src/forms/directives/default_value_accessor.ts#L39)

[2015-06-19 15:39] rolandjitsu commented on #2612
@gdi2290 I noticed. But it's strange, because I do use the `Renderer` in some other [component](https://github.com/rolandjitsu/ng2-play/blob/master/src/app/components/checkbox/checkbox.ts#L52) and it seems to be injected just fine.

[2015-06-19 16:50] mhevery commented on #2477
Let's just do it.

[2015-06-19 16:53] mhevery commented on #2484
:-1: for `ng` as a prefix. `ng` prefix is currently reserved for bundled directives, but the core is prefixless. it is `<div bind-title>` not `<div ng-bind-title>`.

Sounds like we should just keep it the way it easy. (I am going to close this issue, comment if you dissagree)

[2015-06-19 16:53] #2484 closed

[2015-06-19 16:55] mhevery commented on #2533
closing because this is zone issue: angular/zone.js#136

[2015-06-19 16:55] #2533 closed

[2015-06-19 16:58] mhevery commented on #2543
This is a problem with lack of documentation. @vsavkin could you help out and close this issue.

[2015-06-19 17:00] mhevery commented on #2544
@jeffbcross is working on this. I am going to close this issue since there is nothing additional for us to do other than what is already in plan, and I don't want to get dawned in these kinds of issues. Feel free to continue the discussion on the closed issue.

[2015-06-19 17:00] #2544 closed

[2015-06-19 17:03] gdi2290 opened #2635 "http: should complete after response"
making a `http.get().subscribe` doesn't fire `complete` after success (it should `next` only once)

[code]

[2015-06-19 17:04] mhevery commented on #2547
You need to have a `properties` annotation in `Component`:

[code]

[2015-06-19 17:04] #2547 closed

[2015-06-19 17:07] mhevery commented on #2551
Yes we should

[2015-06-19 17:50] johnpapa commented on #2544
Understood. The interceptor part seems open, based on Jeff's comment. No? If not, can we see a link to where that functionality is replaced?

[2015-06-19 18:01] btford opened #2638 "Method decorators that live on the class"
For the router, I need some way to implement lifecycle hooks. After chatting with @yjbanov, it sounds like for Dart, interfaces are the way to go. But for JS, I think we want decorators that look like this:

[code]

I want to be able to ask `MyCmp` for its `CanActivate` decorators rather than asking `MyCmp.prototype.doAuth` for its decorators and then filtering by `instanceof CanActivate`.

I'll a

[2015-06-19 18:10] mhevery commented on #2612
@vsavkin can you help out and close

[2015-06-19 18:13] mhevery commented on #2635
@gdi2290 could you provide more info.

[2015-06-19 18:21] mhevery commented on #2275
fixed in alpha 27

[2015-06-19 18:21] #2275 closed

[2015-06-19 18:24] jbdeboer commented on #428
Some feature requests:

This API should be a standard Future/Promise, which will allow us to use ```await``` in Dart.

The function should return a status code indicating how much work was done during the "whenStable".  One use of this feature is to assert that some work was done during all "whenStable" calls. This will prevent test developers from adding unnecessary "whenStable"s to their tests.

[2015-06-19 18:29] TedSander commented on #1822
This should be closed by #2599

[2015-06-19 18:31] TedSander commented on #574
I have a request from the dart team to provide instrumentation for pub/transformers. They agreed so we should have something that we could leverage for angular2.

[2015-06-19 18:36] gdi2290 commented on #2635
when you make an http call you only have one response since it's not a stream unless specified. Since I'm making a get request `http.get('/api/todos').map(res => res.json());` the response is complete once I get my first result.
[code]
the observable should fire the onComplete unless I map to `arrayBuffer` which returns `ArrayBuffer`s then it would fire onComplete until it's done.

[2015-06-19 18:38] naomiblack commented on #2624
assigning to @tbosch since the PR next step is on his plate. This is urgently needed in alpha-28.

[2015-06-19 18:46] chrisber opened #2639 "Add description to the Angular(2) gitter chat."
There are many questions for Angular 1 in the Angular(2) [gitter](https://gitter.im/angular/angular) chat lately. Because people can not distinguish between these two. Furthermore Several questions about `is Angular ready`are spamming the room.
Gitter supports to add a descriptions below the header name. Is it possible that the you add a description there to clarify that this room is Angular2.

He

[2015-06-19 18:53] naomiblack commented on #1338
@rkirov is this alpha-28 urgent? it was on alex's to do list.

[2015-06-19 18:55] btford opened #2640 "feat(router): lifecycle hooks"
Implement lifecycle hooks: `CanActivate`, `CanReuse`, `CanDeactivate`, `Activate`, `Reuse`, and `Deactivate`.

For ES5:

[code]

For TS:
[code]

For Dart:
[code]

[2015-06-19 18:56] btford commented on #2638
Needed for #2640

[2015-06-19 18:58] btford commented on #1489
Zones give an onError hook – I'd expect angular's exception handler to use this feature.

[2015-06-19 18:59] dylanb commented on #2547
I added the properties value and it still does not interpolate correctly

[2015-06-19 19:01] naomiblack commented on #2356
@alexeagle we need to discuss how to prioritize this relative to other customer-facing issues -- might need to slip to alpha-30.

[2015-06-19 19:03] DannyMeister commented on #1602
When fixed, will it follow reasonable selector specificity rules if there are potential collisions?  For example, I would like to have a generic component for fields with a selector of `field` and more specialized components for some of them such as `field[type=boolean]`.  Given the host element `<field type="boolean">` both selectors would evaluate to true, but the second is the desired.

If sele

[2015-06-19 19:03] btford opened #2642 "feat(router): deep-linking"
- [x] `router.generate` takes an array like `['/foo', { id: 3 }, 'bar', {post: 4}]` and returns a URL.
  - [ ] for now, each URL must start with `./` (child), `/` (root), or `..` (parent) – later we can implement a sane default behavior for segments with no prefix
- [x] `router-link` directive uses router.generate API
- [ ] Exception thrown when route not found (see #2323)
- [ ] Ability to link to

[2015-06-19 19:08] rkirov commented on #2422
Published as https://pub.dartlang.org/packages/angular2_material and added to our publish scripts.

[2015-06-19 19:08] #2422 closed

[2015-06-19 19:10] #2633 closed

[2015-06-19 19:11] naomiblack commented on #2632
Indeed. Fixed.

[2015-06-19 19:11] #2632 closed

[2015-06-19 19:18] jeffbcross commented on #2544
@johnpapa I'll open an issue to discuss new design in a couple of days (I have a draft in progress). In the meantime, I could use your insight on how you're using intereceptors and transformers. You can email me or comment them here.

[2015-06-19 19:21] johnpapa commented on #2544
Thanks Jeff. Feel free to move these there later. We use interceptors on http for

- a common place to add headers to all outgoing XHR
- filter incoming responses and handle errors
- log errors for returning server error codes

We generally also create a service that handles $http so we have more control over it for our business specific rules.

[2015-06-19 19:31] btford commented on #2323
This is related to #2642 (which will include a more general fix for this); I'm going to reassign to Matias and move to alpha-29.

[2015-06-19 20:01] TedSander opened #2643 "[DART transformers] Inline Import Styles inlined to page"
Low Priority feature request. Have an option to inline @import in styles tags inside of the html templates from transformers.

[2015-06-19 20:06] jomeier opened #2645 "Alpha 27: Input fields show no text if host element has also a 'value' attribute"
It seems to be a problem if a component has an attribute named [value] and the template in the view of this component has also an attribute with the name [value].

[code]

Both(!!!) input fields don't show any values in this case. They are empy.

If I change the attribute 'value' of the component 'lull' to 'valwork'):

[code]

both input fields show the correct value.

This was working with Alpha

[2015-06-19 20:08] vicb commented on #2643
related to #1694

[2015-06-19 20:19] naomiblack commented on #2335
I'm pushing this to alpha-30. @ttowncompiled has made good progress but we need to make a decision re: output to systemjs or commonjs. Ian will summarize in a doc and we'll review on Monday June 22 at the meeting.

[2015-06-19 20:25] vsavkin commented on #2612
I suspect it might be an issue with cyclic dependencies, where DefaultValueAccessor depends on `angular2/angular2`, which reexports forms.

You can check if this is the case by changing `import {Directive, Renderer, ElementRef} from 'angular2/angular2'` to

[code]

[2015-06-19 20:32] mprobst commented on #1485
@kevmoo ping?

[2015-06-19 20:41] jeffbcross commented on #2564
@blesh those would be specified in the RequestOptions object (or Request) passed to `http.request(opts)`, or one of the respective shortcut methods, `http.get(opts)`.

[code]

[2015-06-19 20:43] rkirov commented on #1338
Nope, not urgent (but good to keep track off). Outputting clean and usable `.d.ts` is more urgent than fixing sourcemaps

[2015-06-19 20:59] TedSander opened #2646 "[DART transformers] Add a baseUrl to @View directive with transformers"
The angular system needs to know the original url for a view. This is specified in the baseUrl attribute. Transformers strip this information when they are inling the View. Calculate and write the baseURL back to the directive metadata.

[2015-06-19 21:02] mhevery commented on #2600
Maybe we just force people to always use schema with events, and then it is not an issue. (So hold off on implementing this until we have schema working.)

[2015-06-19 21:04] IgorMinar commented on #2281
I can't reproduce this one. I'm wondering if your d.ts files were stale. try reinstalling them with:

[code]

[2015-06-19 21:04] #2281 closed

[2015-06-19 21:04] mhevery opened #2647 "Review public API and angular2.d.ts content"
- make sure right things are there
- make sure extra things are removed

[2015-06-19 21:04] IgorMinar commented on #2281
if the problem still persists please open a new issue

[2015-06-19 21:36] IgorMinar commented on #2575
in browser tests we emit strict mode code, but in cjs we don't because typescript doesn't support it at the moment. See: https://github.com/Microsoft/TypeScript/issues/3576.

we could hack this by prefixing all the cjs build artifacts with 'use strict' at least until typescript fixes the issue in the emitter.

[2015-06-19 21:36] IgorMinar commented on #2575
@caitp can you add a replace pass into the node tree that does this, please?

[2015-06-19 21:37] jakemac53 commented on #2220
I think I need a bit more info for this one. I see that we are already recording the interfaces, but where should these methods actually be invoked from? Also, what is the complete list of lifecyle methods?

[2015-06-19 21:39] IgorMinar commented on #2335
something to be aware of when removing traceur is that typescript currently emits incorrect sloppy mode code instead of strict mode code. this is a significant issue that we need to be aware because it changes the behavior of the transpiled code. see https://github.com/Microsoft/TypeScript/issues/3576

[2015-06-19 21:46] #2624 closed

[2015-06-19 21:52] caitp commented on #2575
You just want the tests running in strict mode, and not the module code right? `modules/angular2/src/util/decorators.js` tries to block-scope function declarations and v8 doesn't like this.

[2015-06-19 21:54] IgorMinar commented on #2287
@mprobst what's the effort for teaching clang-format not to break lines within `{@...}` in comment blocks? it's kind of domain specific to javascript and jsdoc, but it would be nice if we didn't break it.

@petebacondarwin regardless of the formatting, dgeni should be able to deal with the linebreaks. can you estimate the effort please?

[2015-06-19 21:55] caitp commented on #2575
actually I spoke too soon, tests fail this too

[2015-06-19 22:01] mprobst commented on #2287
Shouldn't be too hard, it has the same functionality for comments in Java already, iirc. I'll file a bug.

[2015-06-19 22:11] IgorMinar commented on #2287
[code]

should break into:

[code]
/**
 * *Component Injectors*: Each component instance has its own {@link something really long here
 * baba baba booo Injector}, and they follow
 */
[code]

[2015-06-19 22:13] IgorMinar commented on #2252
I can't repro this with `./scripts/ci/build_and_test.sh js`, can you please provide more instructions?

[2015-06-19 22:15] IgorMinar commented on #2158
this is most likely because we are running dart's pub command synchronously. Cait, can you please take a look at switch it to async? unlike other commands, this one can take a while so it is desirable to be be able to kill it with ctrl+c

[2015-06-19 22:19] IgorMinar commented on #2094
we've already changed many plugins and clang-format to be more efficient but there are still several related efforts that will help with this situation:

- #2536 will reduce the startup cost
- #2514 and #1814 will reduce the cost of incremental updates

[2015-06-19 22:33] tbosch commented on #2628
Fixed by #2627

[2015-06-19 22:33] #2628 closed

[2015-06-19 22:34] mprobst commented on #2287
@IgorMinar what if the text within {@link} is longer than one line?

[2015-06-19 22:47] mhevery commented on #2547
`@Attribute('value') ` does not support interpolation, this is by design. you must use property bindings.

works: http://plnkr.co/edit/HK47Pwgc3QQeK8CkOruc?p=preview

[2015-06-19 22:57] #2369 closed

[2015-06-19 23:01] #2414 closed

[2015-06-19 23:04] #2592 closed

[2015-06-19 23:06] mhevery commented on #2491
`DOM` is a private API. We need it because we generate both JS and Dart, but unless you are planning to have your code run on Dart it is not needed.

[2015-06-19 23:10] #2443 closed

[2015-06-19 23:12] btford opened #2650 "example(router): add simple example app"
@IgorMinar is going to take over this branch @matsko started to add a simple app + E2E tests with the router.

* https://github.com/matsko/angular/tree/routing_tests

[2015-06-19 23:12] vsavkin commented on #2482
Merged via https://github.com/angular/angular/commit/b0e2ebda708cf25287a211a30ef63d84cdb92a7f

[2015-06-19 23:12] #2482 closed

[2015-06-19 23:14] matsko commented on #2650
Sounds good.

[2015-06-19 23:37] vsavkin opened #2653 "Public API Docs - API surface needs curation"
We need to explicitly specify what we export form core, annotations, and render. Similar to https://github.com/angular/angular/pull/2652

[2015-06-20 00:00] #2301 closed

[2015-06-20 00:36] btford commented on #2642
JK, this is what I'll work on next week.

[2015-06-20 00:36] btford commented on #2640
Pushing this to alpha-29 to prioritize #2642.

[2015-06-20 01:19] #2575 closed

[2015-06-20 01:20] caitp commented on #2575
If there are other JS test runs that still need this, please re-open

[2015-06-20 01:51] #1694 closed

[2015-06-20 02:09] dylanb commented on #2547
ok, thanks

[2015-06-20 02:50] blesh commented on #2564
Cool. What are the defaults?

[2015-06-20 03:27] tbosch opened #2656 "Document fps metric in benchpress docs"
This comment https://github.com/angular/angular/issues/821#issuecomment-112603723 needs to be added to https://github.com/angular/angular/tree/master/modules/benchpress/docs

@goderbauer Would you mind creating a PR?

[2015-06-20 05:33] tbosch opened #2657 "JsonRenderer for integration tests and serverside rendering"
Right now, we don't run our [integration tests](https://github.com/angular/angular/blob/master/modules/angular2/test/core/compiler/integration_spec.ts) on the serverside dart vm, as the `dom_adapter` for serverside dart is not complete, and probably will never be as long as it is based on the dart `html` package (e.g. events are missing, element classes for e.g. an `<input>` are missing, ...). We

[2015-06-20 05:35] tbosch commented on #1777
This might be obsolete with #2657...

[2015-06-20 09:02] petebacondarwin commented on #2287
I thought that dgeni was resilient to these line breaks now anyway. Can you provide a reproduction where it breaks?

[2015-06-20 09:44] rolandjitsu commented on #2491
@mhevery I understand. I actually use the following for appending an element into a directive:
[code]
Where `this.el = this.elementRef.domElement;`. That seems to work just fine, the only issue is if I do not use a shadow root and I just `appendChild` to the element I, sometimes, get duplicates. As if I would `appendChild` twice.
You also mentioned that access to `domElement` will be changed, do y

[2015-06-20 09:57] rolandjitsu commented on #2612
@vsavkin actually that did not fix it, but the following helped:
[code]
Will you make this change to `default_value_accessor.ts` directive? Or should I make a pull request?

[2015-06-20 10:16] vicb commented on #2477
The idea when we do this is to convert type to an enum

[2015-06-20 17:59] goderbauer commented on #2656
On it!

[2015-06-20 22:04] shakirmengrani commented on #1655
After doing all things it's threw a typeError

[2015-06-21 03:37] willbuck commented on #2300
I wouldn't mind taking a crack at this, I'll get started and check back here if I have questions :)

[2015-06-21 04:02] jimthedev commented on #2589
Should component selectors throw an error as well?

[2015-06-21 06:00] IgorMinar opened #2659 "router needs type definitions to accompany router bundle"
https://github.com/borisyankov/DefinitelyTyped/blob/master/angular2/angular2.d.ts doesn't contain any info about router or http services, which makes them hard to use from a bundle.

[2015-06-21 08:38] woppa684 opened #2660 "Parent annotation (and others) not working in TypeScript"
I know that there were previous issues about this but I can't find them anymore (the last I saw was 'tracked elsewhere'). I use alpha 27 and the latest d.ts file from the DefinitelyTyped repo. When I try this basic example:

[code]
It always gives me the following error:

[code]
Am I doing anything wrong? If not, is there a workaround for this issue or, where is this issue tracked?

[2015-06-21 09:05] SamVerschueren commented on #1655
Using the latest version? Using the correct typescript transpiler (1.5.0)?

[2015-06-21 09:23] rolandjitsu commented on #2659
Besides that, I think that having everything under `angular2/angular2` is not a very good idea because in the components we write some of us import from specific modules (e.g. `import { NgControlName } from 'angular2/forms'`). When we compile our TS files we then get a lot of errors because the module definition `angular2/forms` does not exist.

[2015-06-21 09:28] Agrumas opened #2661 "Angular doesn't load due typo in httpFactory"
https://github.com/angular/angular/blob/5b5ffe75d0d1a3ac6204114203d8d566d49e9c70/modules/angular2/src/http/http.ts#L146
Should be:
[code]

[2015-06-21 12:29] pkozlowski-opensource opened #2662 "Auto-watch doesn't work in `gulp test.unit.dart`"
After fresh install from master / npm:
* run `gulp test.unit.dart`
* touch any file that triggers tests re-run.

There is an error on the console and subsequent run is not triggered:

[14:28:11] '!build/tree.dart' errored after 1.92 s
[14:28:11] TypeError: [MergeTrees]: Cannot read property 'forEach' of undefined
    at /Users/pawelkozlowski/work/gitrepos/pkozlowski-opensource/angular/broccoli-mer

[2015-06-21 12:57] pkozlowski-opensource commented on #2662
@caitp it might be related to d575915d7a504c155fbdfad5614a210268e5bea4 - are there any special cleanup steps that I should take after pulling this sha1?

[2015-06-21 15:28] 0Decoherence commented on #2660
https://github.com/angular/angular/issues/1831

[2015-06-21 15:30] woppa684 commented on #2660
Yes, but where are we tracking it "elsewhere"?

[2015-06-21 17:03] gdi2290 commented on #2661
if you're not using the bundled version of angular then you need to include rx, reflect-metadata, zone.js, and traceur-runtime

[2015-06-21 18:00] matanlurey commented on #2567
Could Angular also expose a Shim injectable for code that manually manipulates CSS classes?

e.g.

[code]

[2015-06-21 19:19] dsebastien commented on #2659
Hello,

I agree with @rolandjitsu; It would be nice to have an organization of the modules such as angular2/<component_name> and have that organization be aligned whether for ts typings, jspm, etc; it would be more straightforward.

For the time being, is there a ts typings file somewhere for these? I've currently got a working setup of gulp + jspm + SystemJS + TypeScript + Angular 2 but I'd like

[2015-06-21 19:23] rolandjitsu commented on #2659
@dsebastien I have a setup where I just made a custom typings file where I have the definitions I need for the [router](https://github.com/rolandjitsu/ng2-play/blob/master/src/_typings/custom.d.ts#L194) and other things.

[2015-06-21 19:49] dsebastien commented on #2659
Thanks!

[2015-06-21 20:07] jomeier commented on #2660
Hm ... I thought it's resolved already.

[2015-06-21 22:10] DavidSouther commented on #2653
@vsavkin I'd be down to take a crack at this. This would be https://github.com/angular/angular/pull/2652/files#diff-d4a8211f46ad807ad291e3938805df66L2 , 3 and 4, right?

[2015-06-22 03:29] batdelger opened #2669 "renderer is 'undefined' in DefaultValueAccessor.constructor when using angular2 cjs. alpha27"
I am using npm:angular2 with jspm. angular works from root folder(cjs). In my component, which is using angular2/forms, binding error occurs. After some debugging I saw renderer is 'undefined' in DefaultValueAccessor.constructor.

[code]

When I use angular2.dev.js, it works fine. I guess module dependency order causes the issue.

Here is console error message:

`Potentially unhandled rejection [2

[2015-06-22 03:47] lnlwd opened #2670 "Interpolation using JSON data in dart doesn't work"
I have the following problem in dart:

I'm using JSON data in dart, but the same thing happens with List type, my code:

    import 'dart:convert';
    import 'package:angular2/angular2.dart';
    @Component(
        selector: 'app'
    )
    @View(
        template: '''
        <ul>
            <li *ng-for="#todo of list">
                {{todo.name}}
            </li>
        </ul>
    ''',dire

[2015-06-22 03:53] lnlwd commented on #1885
+1

[2015-06-22 04:53] matanlurey commented on #2670
Could you try `{{todo['name']}}`? I think Angular 2 does not pretend Maps and Objects are the same thing like Angular 1.0 dart did.

[2015-06-22 05:06] dsebastien commented on #1885
That article from @PascalPrecht helped me w/ the basics of the component router: http://blog.thoughtram.io/angular/2015/06/16/routing-in-angular-2.html

The most annoying thing for now if you try it out using TypeScript is that the typings (files that describe all types/methods/...) file on DefinitelyTyped is not up to date and does not contain the Router & http: https://github.com/angular/angular

[2015-06-22 05:22] gdi2290 commented on #2669
dup of https://github.com/angular/angular/issues/2612

[2015-06-22 05:36] jgw96 commented on #2448
Hey everyone, i would not mind taking care of this minor issue, we just need to move certain dependencies like gulp-insert from runtime dependencies to to dev dependencies in the https://github.com/angular/angular/blob/master/package.json file correct?

[2015-06-22 05:38] jgw96 commented on #2448
I have never contributed to Angular before so this looks like a nice, super easy issue to start with. Ive used angularJS 1.3 and now 1.4 for about a year at work, so i have experience using AngularJS and i have messed around and done some little personal projects using Angular and am loving it even more than i love AngularJS.

[2015-06-22 06:12] lnlwd commented on #2670
Works fine guy! Many Thanks!! :smile:

[2015-06-22 06:58] #2670 closed

[2015-06-22 07:02] vicb commented on #2660
/ref #1858

[2015-06-22 07:06] vicb commented on #2567
I think @matsko has plan to use CSS variables for animations. Not sure if he plan to use the code from Polymer ?

@matanlurey could you please create a separate issue for the shim things with a more detailed explanation about your use case ?

[2015-06-22 07:07] rolandjitsu commented on #1885
I've also got a repo with a working example [here](https://github.com/rolandjitsu/ng2-play). It's up to date with the latest changes and a few workarounds/hacks until the angular team comes up with a good solution for typings.

[2015-06-22 07:09] woppa684 commented on #2660
@vicb That issue is about it not working on the top level component, right? But it also doesn't work on nested components as far as I know (tried that first but this was the minimal example)...

[2015-06-22 07:27] vicb commented on #2660
Agree, we have two different issues here but once the first one will be resolved (`Cannot resolve all parameters for...`), the code will hit the one I previously referred.

[2015-06-22 07:47] Runeboy opened #2671 "Nested content does not propagate click events"
Related to Alpha 27.

There may an issue with missing propagation of click events from nested content (when writing
components using the <content></content>). E.g. the following container component
`<div (click)="onClick()">
    <content></content>
</div>`
The usage is for a context menu component with nested menu item components:

![image](https://cloud.githubusercontent.com/assets/12996372/82774

[2015-06-22 07:54] vicb commented on #2671
"(click)" does not bubble up, "(^click)" does.

[2015-06-22 07:54] #2671 closed

[2015-06-22 07:57] #2669 closed

[2015-06-22 07:58] vicb commented on #2661
also see #1798

[2015-06-22 07:58] #2661 closed

[2015-06-22 08:00] Runeboy commented on #2671
I can confirm that works. Merci bcp!

[2015-06-22 08:08] vicb commented on #2589
@jimthedev we want to be able to select any tag (not custom element only) - angular components and custom components are unrelated.

[2015-06-22 09:19] rolandjitsu opened #2672 "using `styleUrls` on component throws range exception"
If I use `styleUrls` on a component I get a `Zone already exported on the window object`. If I do that on another component, then I get an exception:

![screenshot 2015-06-22 11 14 52](https://cloud.githubusercontent.com/assets/1479737/8278956/1932909a-18d0-11e5-996f-421ddc91c83a.png)

Not sure why it happens, and it also does not apply the styling. I should mention that I use the `NativeShadowDom

[2015-06-22 10:09] vicb commented on #2672
@rolandjitsu could you please your code (ideally only the bare minimum to reproduce the issue). Thanks.

[2015-06-22 10:16] Alber70g opened #2673 "Current state of Angular New Router"
What is the current state of Angular New Router (https://github.com/angular/router) since that repository has been moved to angular/angular.

**Can we still use it for when 1.5 comes out or will it be never available for ng1?**

[2015-06-22 10:33] rolandjitsu commented on #2672
@vicb of course :) [here](https://github.com/rolandjitsu/ng2-play/blob/master/src/app/components/app/app.ts#L32) is where I have changed the `styleUrls` to `styles` and used `@import` instead because of the error. If you clone it and run it locally and change the `styles` to `styleUrls` you should be getting the same exception.

[2015-06-22 10:51] rolandjitsu commented on #2543
@vsavkin / @mhevery I figured out how to trigger that `change` event that seemed to not get triggered. I used `EventEmitter` in combination with `events: ['change']` on the [component](https://github.com/rolandjitsu/ng2-play/commit/2e3599eee1c1ddde585c075ee3da74656b9c6dc2).

I am not sure if this is how I'm supposed to handle it, but it seems to work now. Maybe there is another way that is not doc

[2015-06-22 11:19] jimthedev commented on #2589
Ok thanks.
On Mon, Jun 22, 2015 at 3:09 AM Victor Berchet <notifications@github.com>
wrote:

[2015-06-22 12:34] vicb commented on #2662
same error here (Ubuntu)

[2015-06-22 13:05] vicb commented on #1706
@juliemr see https://github.com/angular/angular/pull/2249#issuecomment-109272147

I think the issue is even before the 'finished' span because scroll does not even happen, unless an arbitrary delay is added - which is why I suspect that the test starts before the app is actually bootstrapped.

[2015-06-22 13:09] yfain opened #2674 "angular2.d.ts is missing info on rx, rx-lite, and es6-promise"
I've created a simple HelloWorld app in TypeScript/Angular 2 (alpha 27). Installed angular2.d.ts using the following command:

tsd query angular2 --action install

Then tried to compile it with tsc and got errors that the definitions for rs, es6-promise, and rx-lite are missing. After running manually the following commands the code started to compile fine:

tsd query rx --action install
tsd query

[2015-06-22 13:42] filipbech commented on #2589
should this be done on the selector or on the directive_parser?
render/dom/compiler/selector or in render/dom/compiler/directive_parser?

[2015-06-22 13:57] vicb commented on #2589
I guess the selector

[2015-06-22 14:05] yfain opened #2675 "distribute bundle with dependencies included"
I have an app that is pre-transpiled into ES5 with TypeScript compiler.  But unless I include the traceur-runtime in the html file below the app gives a runtime error "$traceurRuntime is undefined". The code in angular2.dev.js (Alpha 27) uses  $traceurRuntime in multiple places (e.g. line 7250), but it should include traceur internally, if needed,  and not force me to do it.

[code]

angular2.dev.

[2015-06-22 15:20] juliemr commented on #1706
Milestone update: this is still open (due to me having trouble figuring out what was actually wrong), but it's not a blocker. It's causing occasional flakes on Travis. I'm bumping to M-29 to avoid delaying anything.

[2015-06-22 15:20] tbosch commented on #2567
This sounds reasonable. Note that we will probably still be able to do this already during compilation, as we will attach components already during compilation (https://github.com/angular/angular/issues/2529)

[2015-06-22 16:13] jeffbcross commented on #2606
(I spoke with @vsavkin in person and he affirmed this approach)

[2015-06-22 16:14] jeffbcross commented on #2570
Closing PR in favor of #2606

[2015-06-22 16:14] #2570 closed

[2015-06-22 16:50] jeffbcross opened #2680 "refactor(http): move http into its own module as sibling of angular2"
Since the library's only dependency on angular2 is dependency injection, it could be moved into its own module so that it doesn't add more bytes to the angular 2 bundle for users who may not need it.

May be impacted by #2379, so this task should wait until that's resolved to determine the best approach.

TODO:
 - [x] Move files and update imports (unit tests and e2e tests should be passing)
 - [x

[2015-06-22 16:52] matanlurey commented on #2379
@mhevery is there a design document or anything I can follow along with? In theory this looks good, but I'd like to better understand the overall picture.