[2015-08-28 14:24] #3887 closed

[2015-08-28 15:04] rolandjitsu commented on #3887
@pkozlowski-opensource I was just worried that the native implementations will fail and that the use of `DOM` was intended to fix that.

Thanks for clearing that out :)

[2015-08-28 15:34] brandonroberts commented on #3879
The router.recognize returns a promise, so you need to handle the return to get the instruction, which has the component

   checkRecognizeResult(result, value){
        if (result) {
          result.then(function(instruction) {
            if (instruction.component){
              alert ('ok using "' + value + '"');
            } else {
              alert ('nothing found using "' + value + '"')

[2015-08-28 16:14] vicb commented on #3863
@mhevery from your desciption above I don't get the difference of `on` vs `after` - and the doc says: ``OnInit` (after the first check only)`. So really I think there should be on `after` everywhere:
- `OnInit` -> `AfterInit`,
- `OnDestroy` -> `AfterDestroy`,
- `OnChanges` -> `AfterChanges`

IMO `doCheck` is confusing for an event name. When I see `lifecycle: [LifecycleEvent.DoCheck]`, I'm under t

[2015-08-28 16:37] vicb commented on #3863
I can see where the confusion comes from. Allow me some time to come with a better proposal.

[2015-08-28 18:41] nweedon opened #3890 ""TypeError: Cannot read property 'elementBinders' of undefined" with angular2 and http SFX bundles"
Using: alpha.35
Plnkr: http://plnkr.co/edit/SKDoDfEQJNEhjb1FZYfG?p=preview

Using the following SFX scripts and creating a simple component causes the titular error:
angular2: https://code.angularjs.org/2.0.0-alpha.35/angular2.sfx.dev.js
http: https://code.angularjs.org/2.0.0-alpha.35/http.sfx.dev.js

Full trace:
[code]

I can't really see what's going on at a grander scale, but I've deduced that

[2015-08-28 19:10] vikerman commented on #3857
Fixed in latest drop.

[2015-08-28 19:10] #3857 closed

[2015-08-28 20:10] dpsthree opened #3892 "Required validator shows failed validation when input set to "0""
Given the following input:

[code]

Setting the value of inputs.mixedstring = 0 to initialize the field results in the required validator marking this input as invalid. Typing the value into the input does not.

Subsequent attempts to assign the value 0, such as a reset button also result in an incorrect validation result.

[2015-08-28 20:37] vicb commented on #3800
What about passing an EventManager binding to the bootstrap method ?

[code]

[2015-08-28 20:45] btford commented on #3874
yes

[2015-08-28 20:45] #3874 closed

[2015-08-28 20:58] tbosch commented on #3800
I think a better idea might be to pass an own renderer to Angular.

After my refactoring in #3605 the renderer will have methods like
`addEventListener(element, name, callback)`, removeEventListener(element,
name, callback), ...
By providing your own renderer you can also have special semantics when
someone sets a property on an element by overrriding `setElementProperty`.
Or when an element is cr

[2015-08-28 21:17] #3207 closed

[2015-08-28 22:02] tbosch commented on #775
Still to be done.

[2015-08-28 22:41] vicb opened #3893 "[test_lib (JS)] jasmine.it() should execute asynchronously only when strictly required"
We need to wrap jasmine `(x/i)it` functions so that we can use the test injector in angular tests.

The [current mechanism]( https://github.com/angular/angular/blob/be0739085976bbdbcf8f560475e87b07343f464d/modules/angular2/src/test_lib/test_lib.ts#L131) always pass to jasmine a callback with one parameter, ie `it('...', (done) => { ... });`.

When an `AsyncTestCompleter` is injected, calling the `

[2015-08-28 22:43] alfonso-presa commented on #3890
I can confirm this issue. It's happening to me also. String interpolation doesn't work at all. Keeps throwing the title error.

Adding the following code after including the sfx files didm the trick for me:

[code]

[2015-08-28 23:08] jhades commented on #1792
It seems this was fixed in alpha-35, I've retested this with a case similar to the tabs example and it no works (in alpha-34 it didn't).

[2015-08-29 05:11] #1792 closed

[2015-08-29 07:48] Ablu commented on #3737
I am not sure if this is related to this issue... But I am having issues to get to the right code when debugging a test. I added a `debugger;` statement in this code: http://sprunge.us/IBOY?diff. But chrome breaks here:
https://dl.dropboxusercontent.com/u/45541625/2015-08-28-202928_831x401_scrot.png

Is that due to this issue or is it a different problem?

[2015-08-29 08:17] pkozlowski-opensource commented on #3737
It is related. Sadly we don't have good source map setup for the unit test infrastructure, I'm afraid.

[2015-08-29 10:24] alfonso-presa opened #3898 "Using ngHttp.HTTP_BINDINGS in SFX build causes InvalidBindingError in alpha.35"
When using ngHttp.HTTP_BINDINGS in angular's 2.0.0_alpha.35 sfx.dev build it's throwing the following error:

[code]

Here you have a plunkr to reproduce the issue:
http://plnkr.co/edit/XIW0EgIZvs3dtNcYN1dJ?p=preview

If you change `ngHttp.HTTP_BINDINGS` for the following code, then everything works:
[code]

Looks like ngHttp module is using a somehow incompatible binding mechanism to generate HTT

[2015-08-29 11:05] rolandjitsu opened #3899 "using http.d.ts throws during ts compilation"
I'm using the `bundles/http.d.ts` during the app compilation and it seems that it causes the compile to throw two semantic errors:
[code]
It might be because of `type-alias` which is not recognised (I am using version `1.5.3` of TS).

[2015-08-29 12:08] rolandjitsu opened #3900 "how to config SystemJS when using the bundles from the npm dist"
I am trying to run the [app](https://github.com/rolandjitsu/ng2-play) I am working on using the `bundles` contents, but it seems that I am failing :)

So far my `index.html` looks like:

[code]

But it cannot load any of the modules exposed by `angular2`, nor `http`:

<img width="1440" alt="screenshot 2015-08-29 14 00 24" src="https://cloud.githubusercontent.com/assets/1479737/9561820/5b18cbf8-4e5

[2015-08-29 12:46] pkozlowski-opensource commented on #3900
@rolandjitsu I've got an impression that you are making your life harder than necessary - what I'm doing is that I'm just putting angular2 deliverables in a script tag - there is no real point it having it downloaded dynamically via SystemJS as you need framework code to be there anyways. Here is a quick setup demonstrated in plunker: http://plnkr.co/edit/Gm5M5PNlzicZTEwKuy6A?p=preview

You can al

[2015-08-29 14:06] tomascharad commented on #3664
Should this be closed as #3754 is closed?

[2015-08-29 14:08] rolandjitsu commented on #3900
@pkozlowski-opensource I am doing the exact same thing at the top, I just load the angular2 lib in a script tag (same with http and the router), but I cannot figure it out why it behaves the way it does.

[2015-08-29 14:10] pkozlowski-opensource commented on #3900
@rolandjitsu I'm sorry, I not sure I follow... Can you see the plunk I've linked? The repos? Both are using bundles from npm / as deployed to npm...

Please share the entire plunk with what you are doing (you can modify mine) if you need more help. Better yet, let's move this discussion to gitter as it seems like this is more about using SystemJS that ng2 pb.

[2015-08-29 14:10] #3900 closed

[2015-08-29 17:40] imsingh commented on #3406
@mhevery Can you explain or give a link to explanation? Need more info, new comer to angular2.  Thanks.

[2015-08-29 23:08] justindujardin commented on #2912
@mhevery the zone.js issue has been merged and closed.

[2015-08-30 04:34] wardbell opened #3901 "Binding error w/ bad message when 2 components talk through mixed case variable name"
Mentioned to @vsavkin on 8/29 who asked that I open as "P1"

Use Case:  A parent "Heroes" component lists heroes and shows a current hero in the child "Hero" detail component.  One of the properties communicated from parent to child was named "userName".

    <hero [hero]="currentHero" [userName]="userName" (delete)="onDelete()"></hero>

That binding failed w/ message

    EXCEPTION: Can't bind to

[2015-08-30 05:19] ericmartinezr commented on #3901
Hey @wardbell

This is a known case, see this https://github.com/angular/angular/issues/1447

[2015-08-30 07:05] forforeach commented on #3847
First of all, thanks for your response. Secondly, I don't see how can I squeeze my plunkr. The only place I can think of, is a number of validation directives. Now there are 6, I can remove 2 and stay with 4. Updated plunkr is here: http://plnkr.co/edit/305RbFlIFCBnvJtotEA0?p=preview

In addition I can explain what happens there:

1. There are 4 validation directives, which do nothing. I need them

[2015-08-30 07:42] pkozlowski-opensource commented on #3901
@ericmartinezr is right - the problem here is that it is a browser lower-casing property attribute names _before_ ng2 compiler runs. We can't prevent this lower-casing from happening with the current compiler and this is why we've got a convention where snake-case is converted to camelCase. In your particular case you could access mixedCase variable names by doing: `<hero [hero]="currentHero" [use

[2015-08-30 07:42] #3901 closed

[2015-08-30 07:43] pkozlowski-opensource commented on #3847
Example: do you routing to reproduce your problem?

[2015-08-30 07:43] pkozlowski-opensource commented on #3847
@forforeach thnx for the update!

[2015-08-30 09:00] jessegood commented on #3899
See https://github.com/angular/angular/issues/3740
and
https://github.com/angular/angular/issues/3699

[2015-08-30 09:53] PascalPrecht opened #3902 "refactor(router/1.x): split up source files"
Currently in `modules/angular1_router` the entire source of that module is in `ng_outlet.js`. I think we should split the source up in dedicated separated files for each component that comes with the module.

/cc @btford

[2015-08-30 09:59] PascalPrecht opened #3903 "fix: runtime throws when not using QueryList type annotation"
This error came up with both traceur and TS code  https://github.com/pkozlowski-opensource/ng2-play.ts/issues/2

The problem is that we get a runtime error when `@Query` is used without `QueryList` type annotations. @pkozlowski-opensource opinion is that this should work without `QueryList` annotations.

[2015-08-30 10:15] PascalPrecht commented on #3877
I love this. Same APIs could be used to make a decent browser extension out of it (or extending Batarang)

[2015-08-30 14:41] emirdeliz opened #3904 "Import angular2_material in project from npm client"
I tried to import library angular2_materialize from client npm, but miserably failed. I need this for responsive layout of system. Somebody tried this? Or know how to do?

[2015-08-30 15:42] vicb commented on #3892
Can not reproduce with the template_driven_form example which looks similar.

Could you please provided more details on your environment and ideally a plunker ?

[2015-08-30 17:25] alfonso-presa commented on #3898
Looks like the BindingBuilder class is duplicated in both bundles. Changing line `11020` in `http.sfx.dev.js` for the following also did the trick:

[code]

I guess it's because both bundles are built with `angular2/src/di/binding.ts` embedded and they are conflicting one with the other.

[2015-08-30 18:49] wardbell commented on #3901
We can document but few will find it. May I suggest that the reported error either me too this possibility or, perhaps better, link to an article on typical binding resolution failures and solutions.

    EXCEPTION: Can't bind to 'xyz'. See <link> for more information and possible solutions.

[2015-08-30 19:17] wardbell commented on #3651
By "different code examples" I assume you mean different between TS/ES6 and ES5.

In my experience so far, I believe that different examples are inevitable for other reasons.

The idioms are so different between these language communities that attempts at single sourcing will be counter productive.

For example, although `var` would work for both most of the time, I'm trying to teach myself to use

[2015-08-30 20:49] alfonso-presa commented on #3898
@jeffbcross. Looking at this issue more in detail I have come to this other: https://github.com/angular/angular/issues/2680

Looks like the http sfx build was done here:
https://github.com/angular/angular/commit/5a405011de532480bcd2da8ab40a36955346d45d#diff-b9e12334e9eafd8341a6107dd98510c9R1017

And it seems to be undone here:
https://github.com/angular/angular/commit/8ed22ce6e7ce0e00c12b036d02627

[2015-08-30 21:15] Andyhasit opened #3906 "Misleading filter:notarray error"
I made a simple error by not placing the "track by" instruction at the end:

     <tr ng-repeat="item in myItems| orderBy : 'name' track by $index | filter: {isUnmapped: true} ">

I should have put it here:

     <tr ng-repeat="item in myItems| orderBy : 'name' | filter: {isUnmapped: true} track by $index">

But the error raised for this mistake is filter:notarray, which is misleading:

Expected a

[2015-08-30 21:19] gdi2290 commented on #3906
this is the angular2 repo the angular1 repo is here https://github.com/angular/angular.js

[2015-08-30 21:30] #3906 closed

[2015-08-30 21:44] yanivefraim commented on #3662
@pkozlowski-opensource I would love to get this as my first issue here (:
But I'll need some help with that, if you can. 10x!

[2015-08-30 21:47] yanivefraim commented on #3514
@alexeagle - I would love to help, need some help starting with this. 10x!

[2015-08-31 01:43] youtsea opened #3908 "$http spends too much time on chrome"
back-end:

[code]

front-end:

[code]

chrome:

![image](https://cloud.githubusercontent.com/assets/9941834/9570679/143b0466-4fc4-11e5-875c-232eba3adf1c.png)

Firefox:

![image](https://cloud.githubusercontent.com/assets/9941834/9570702/590159d8-4fc4-11e5-9504-139866e6924f.png)

IE:

![image](https://cloud.githubusercontent.com/assets/9941834/9570735/bc40678c-4fc4-11e5-8a76-c68dee5408f0.png)

wire

[2015-08-31 02:10] ericmdantas commented on #3908
Hello, @youtsea!

Please ask 1.x questions [in this repo](https://github.com/angular/angular.js/issues/) instead. :smile:

[2015-08-31 02:17] youtsea commented on #3908
oh,thanks.:flushed:

[2015-08-31 02:17] #3908 closed

[2015-08-31 06:46] PascalPrecht commented on #3662
@yanivefraim maybe you can collaborate with @cironunes. Looks like he started working on this already.

@pkozlowski-opensource or did you also already start with sth?

[2015-08-31 06:50] PascalPrecht commented on #3898
@alfonso-presa oh wow, thank you for your research on this. I vote for keeping this open once a fix landed in alpha.36+

[2015-08-31 06:56] PascalPrecht commented on #3651
I recently sent a PR to some A2 tests where I replace anonymous ES5 functions with fat arrow functions. It has been removed because non of these tests needed lexical scope and would therefore only introduce a perf overhead. I don't know if this is just true for transpiled ES6 code or also in native ES6, but I think same would be true for `var` vs `let`.

@mhevery do you know if using `let` and fat

[2015-08-31 06:56] yanivefraim commented on #3662
@cironunes' @pkozlowski-opensource - can I help with this one? (I'm looking to get in and start contributing to this project (:

[2015-08-31 07:08] PascalPrecht commented on #3904
@emirdeliz Angular 2 Material is not ready to be used in production yet. Therefore it's not exposed on any npm package. In other words: don't use Angular 2 Material yet unless you want to play with and contribute to it.

[2015-08-31 07:12] PascalPrecht commented on #2793
#3339 is also done here: https://github.com/angular/angular/pull/3823

(or at least ready for review)

[2015-08-31 07:21] PascalPrecht commented on #3853
Tbh I really don't know how to make that easier without introducing a coupling between component and view.

An option would be to introduce a new decorator `@ViewQueryLocal` which is specifically meant to be used to query local template variables. However, this doesn't really bring any additional value except that you can see, just by looking at your component's code, that it relies on template va

[2015-08-31 07:37] PascalPrecht commented on #1594
appFoo.rootComponent(AppFooComponent).then((ref: RootComponentRef) => {
  // This component is ready. This callback runs in the application zone.
});

  // Second component for this app is ready.
});

What's the use case for having two root components in an application? Wasn't the whole idea that an application is always the root component itself?

[2015-08-31 07:45] PascalPrecht commented on #1254
@urish this will be better once https://github.com/angular/angular/pull/3864 is landed

[2015-08-31 07:49] PascalPrecht commented on #3801
I'm not really into the application vs render layer logic, but I could imagine that this would introduce a certain amount of complexity to support this, since we would then have a very concrete interface (which probably won't work with the web worker env).

In most of the cases we'd have to do `this.element = elementRef.nativeElement` anyways to work with the native element across component method

[2015-08-31 07:50] urish commented on #1254
@PascalPrecht great, thanks!

[2015-08-31 08:16] alfonso-presa commented on #3898
Thank for you response Pascal!
I'll keep it open then.

[2015-08-31 10:54] danicomas commented on #3838
Is possible add a component without root(elementRef) and move it @gdi2290?

[code]

[2015-08-31 11:04] vahidalvandi opened #3910 "$http.get don't return any thing"
i have factory like bellow

app.factory('awesomeService', function($http) {
return {
getUsers: function(){
return   $http.get("/smart").success(function(response){
 return response.data;
 })
}}})
---------------------------------------------------------------------
in controller=
var user = awesomeService.getUsers();
 console.log(user);
-------------------------------------------------------------

[2015-08-31 11:11] PascalPrecht commented on #3910
@vahidalvandi this is the repository for Angular 2. You might want to file this issue at http://github.com/angular/angular.js

To give you a hint, `.success()` and `.error()` have been deprecated in Angular 1.4. Try to go with `$http.get().then(function () { ... });`

[2015-08-31 11:20] emirdeliz commented on #3904
OK, @PascalPrecht I am development the program utilizing 'Material Design Lite'. The result is similar of Material css framework, right? Anyway i will go contribute when terminated my current project.

Thank you!

[2015-08-31 11:26] PascalPrecht commented on #3904
Yes, Material Design Lite is a pure CSS implementation of the MD spec. Don't forget to close this issue :)

[2015-08-31 11:30] emirdeliz commented on #3904
OK, Thank you!

[2015-08-31 11:30] #3904 closed

[2015-08-31 13:08] maku commented on #3904
btw, Material Design Lite is not pure CSS. It has also a javascript part. Especially when you use it with ng2 you have to register your html element via js (e.g. for input fields)

[2015-08-31 13:24] PascalPrecht commented on #3904
It has JavaScript components too yes. But I didn't want to go into details here. Not sure what you mean with the registering of HTML elements when using Angular 2 tho.

[2015-08-31 13:35] maku commented on #3904
see http://www.getmdl.io/started/index.html - Use MDL on dynamic websites:  "Material Design Lite will automatically register and render all elements marked with MDL classes upon page load. However in the case where you are creating DOM elements dynamically you need to register new elements using the upgradeElement function".

So when you use mdl with ng2 in a template you have to call the upgrade

[2015-08-31 13:59] gustavoq-infocorp commented on #3879
Thanks Brandon, I'm closing the issue.

By the way, the Instruction.component property return a ComponentInstruction, do you know how to get the instance for the current component (I'm talking about Page1 or Page2 in the sample)?

[2015-08-31 13:59] #3879 closed

[2015-08-31 14:42] mprobst commented on #3632
`.d.ts` vs `.ts` should not make a difference except for the `declare` modifier. The `.d.ts` files should look like this:

a.d.ts:
[code]

b.d.ts
[code]

[2015-08-31 14:56] brandonroberts commented on #3879
You can get the component by accessing the ComponentInstruction.component.componentType

[2015-08-31 15:28] PascalPrecht commented on #3904
@maku interesting! Didn't know that. Well, I think until Angular 2 is in a shape that one can actually use it, Angular 2 Material will be in such a shape too. So one could then just you that one.

Thanks for pointing that out!

[2015-08-31 15:37] maku commented on #3904
@PascalPrecht yeah would be a good exercise to make reusable ng2 components based on mdl... maybe when I have enough time (I think angular material design for ng2 is really far away)

[2015-08-31 15:53] alexeagle commented on #3514
Misko is already working on it, sorry!

[2015-08-31 16:07] alexeagle commented on #3632
Misko and I tried that, but the compiler still complains that this mixes
ambient declarations with a module. I think the import keyword is causing
b.d.ts to be a module, even though it should not have any emit for that
statement.
Seems similar to a couple other bugs I've filed where Mohammed has relaxed
the constraints in an ambient context, where the expression won't emit
anything, for example ht

[2015-08-31 16:28] mhevery commented on #3877
@yjbanov Sounds good to me. Please use `ng` as the global object as it will be consistent with `ng.probe` etc...

[2015-08-31 16:30] alexeagle commented on #1636
tsd 0.6.4 was released so I'll try to fix this now.

[2015-08-31 16:45] IgorMinar opened #3914 "Make pipes pure functions by default, with an option to opt out"
Currently all pipes are statefull and recompute the output on each change detection pass. This can quickly become a perf bottlenecks within repeaters of large apps.

Considering the pipes to be pure functions by default will allow us to:
- cache and reuse output values when input doesn't change
- share a single pipe instance across the whole app

This is a change that we made in Angular 1.3 and it

[2015-08-31 16:46] IgorMinar opened #3915 "Built in pipes are not being exported via angular2/angular2"
Currently the only way to get hold of them is by importing `angular2/pipes`.

@vsavkin is this intentional?

[2015-08-31 16:47] mhevery commented on #3514
FYI: Part of this work: https://github.com/angular/angular/pull/3889/commits

[2015-08-31 16:48] mhevery commented on #3632
Here is the fix: https://github.com/angular/angular/pull/3704

[2015-08-31 17:16] jeffbcross commented on #3898
Hey @alfonso-presa thanks for opening the issue, and sorry for the trouble. I didn't thoroughly test the http sfx bundle when I added it. The SFX http bundle will not exist in future releases, and since this has already been fixed in master, I will go ahead and close this.

[2015-08-31 17:16] #3898 closed

[2015-08-31 17:18] IgorMinar opened #3917 "DatePipe needs review and potentially breaking changes"
The date pipe is quite limited considering the implementation in Angular v1. We should review the code and decided an any breaking changes that might need to happen. Especially:

- the dependency on internationalization apis (can we rely on this spec?, do we have a polyfill?)
- are the default formats and formatting flags aligned with a spec or Angular v1?
- compare the feature set to Angular 1 (e

[2015-08-31 17:20] mhevery commented on #3714
@jeffbcross SGTM

[2015-08-31 17:32] hterkelsen opened #3918 "Canonical list of all benchmarks?"
Is there a canonical list of all benchmarks? I would also like to know which ones are supported for both JS and dart2js, just JS, or just dart2js. It seems like the only way to find out now is to go to each benchmark source file and see which benchmarks it declares.
@tbosch

[2015-08-31 17:52] mhevery commented on #3807
@danicomas Thanks for the plunker.

Here is the analysis: for `{{name | capitalize}}`

1. expected: called as a consequence to `bootstrap`. At this point the `name` has not be set yet and it is `undefined`. It seems that Compiler creates a promise, and since the promise is created within the `NgZone` it should have it's digest delayed, but since there are no more promise resolutions, the digest ru

[2015-08-31 18:06] alfonso-presa commented on #3898
@jeffbcross, no problem at all :-).

Problems apart, I really liked the thinking behind the two separate bundles. I though it might be some strategy thing and that it would be extended to some other modules like the router for example. I wish you could give this separation of modules another chance latter on... but first things first of course :-)

BTW, you might also want to close **#3890** as I'

[2015-08-31 18:09] #3209 closed

[2015-08-31 18:12] btford opened #31759 "Test: add integration test with Polymer"
See #138

[2015-08-31 18:20] btford commented on #3910
Please read the [contributing guidelines](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#-got-a-question-or-problem); as Pascal said, these types of questions are ill-suited for GitHub. Thanks!

[2015-08-31 18:20] #3910 closed

[2015-08-31 18:22] btford commented on #3741
@matsko – what's the state of this?

[2015-08-31 18:29] mhevery commented on #3804
`[(ng-controll)]` is fine here is the working http://plnkr.co/edit/XIJwnPHh5o1MpalxsZRq?p=preview

The issue is:
- missing `FORM_BINDINGS`
- missing `<form>` around the `<input>`

[2015-08-31 18:31] mhevery opened #3919 "Form controls should not require <form>"
See: http://plnkr.co/edit/5j4kMAlnV5dBstDxG6ou?p=preview
and Working: http://plnkr.co/edit/XIJwnPHh5o1MpalxsZRq?p=preview

The issue is:
- missing `FORM_BINDINGS`
- missing `<form>` around the `<input>`

`<form>` should be optional

[2015-08-31 18:31] mhevery commented on #3804
Closing in favor of: https://github.com/angular/angular/issues/3919

[2015-08-31 18:31] #3804 closed

[2015-08-31 18:33] #3240 closed

[2015-08-31 18:37] mhevery commented on #3919
This works correctly because `ng-control` requires container which is provided by `<form>`

[2015-08-31 18:37] #3919 closed

[2015-08-31 19:04] adamdbradley commented on #3800
So @tbosch are you suggesting the EventManagerPlugins isn't the right approach to begin with, and should be removed? Or that angular will continue to have it's own array of event plugins, and not expose a public API, but with the new `addEventListener` and `removeEventListener` methods my use case would be covered at that point?

[2015-08-31 19:14] btford commented on #3753
A fix for this landed in https://github.com/angular/angular/commit/a34d4c6a5f75fdc766d1e80635215550b1e4a065

So this should be in the next release.

Thanks everyone!

[2015-08-31 19:14] #3753 closed

[2015-08-31 19:30] mhevery commented on #2383
@Pajn, whatever we come up with needs to work without a build step as well.

[2015-08-31 19:32] mhevery commented on #3863
So the `Content`/`View` is more descriptive over `Children`. Which children? View or content?.

Any more thoughts?

[2015-08-31 19:40] mhevery commented on #2912
Needs upgrade to latest zone.js to close this issue.

[2015-08-31 19:44] mhevery commented on #3651
@PascalPrecht `=>` only causes pref if there is `this` referenced in it.

[2015-08-31 19:51] mhevery commented on #3853
@vsavkin / @rkirov can you comment here with the latest thinking?

[2015-08-31 19:54] mhevery commented on #1594
@PascalPrecht you may want to run several applications side by side. Also for ng-upgrade we need the ability to bootstrap a lot of child applications.

[2015-08-31 20:03] yjbanov commented on #3840
@bradlygreen, JS is in a bit of a flux until @jeffbcross is done splitting up the code into bundles. Right now all of Angular 2 minified ungzipped is [506kb](https://code.angularjs.org/2.0.0-alpha.35/), so "hello, world" would be that plus user code, i.e. identical to the current Dart situation. This will likely change drastically after unbundling.

[2015-08-31 20:06] mhevery commented on #462
Given the current injector design, this seems less likely. Going to close, let me know if you feel strongly about reopening it.

[2015-08-31 20:06] #462 closed

[2015-08-31 20:06] vicb commented on #3807
I'll definitely look into that.
I did actually start looking at that last week but as the bootstrap is getting refactored, I'll probably wait for it to be in unless it takes too much time.

[2015-08-31 20:07] mhevery commented on #506
Dup #754

[2015-08-31 20:07] #506 closed

[2015-08-31 20:21] rkirov opened #3920 "add integration tests for ViewQuery with var bindings"
We only test the ContentQuery with var bindings in our integration specs.

https://github.com/angular/angular/blob/master/modules/angular2/test/core/compiler/query_integration_spec.ts#L515

[2015-08-31 21:08] IAPark opened #3921 "Add the Ability to Update RouteParams Without Reloading Component"
I've been asking around on Gitter for the last couple days and not really getting much of a response so I thought I would post something here with the assumption that no good way to do this already exists. There's a fair change this is not the case, but I certainly couldn't find anything after some brief digging in the source.

I'm trying to to set up linking to particular projects in a list of pr

[2015-08-31 21:12] cghislai commented on #3921
you can use the 'canReuse' 'onReuse' hooks. (https://github.com/angular/angular/blob/master/modules/angular2/src/router/interfaces.ts#L113)

[2015-08-31 21:16] #3632 closed

[2015-08-31 21:19] tbosch commented on #3800
Yes, I am suggesting that the EventManagerPlugins is not the right approach
and we should remove this extension point.

On Mon, Aug 31, 2015 at 12:04 PM Adam Bradley <notifications@github.com>
wrote:

[2015-08-31 21:32] #3403 closed

[2015-08-31 21:32] #3514 closed

[2015-08-31 21:32] #3786 closed

[2015-08-31 21:34] PascalPrecht commented on #3651
In both, transpiled and native ES6?

[2015-08-31 21:56] vicb commented on #3863
Yep some more thoughts:

The enums members are actually interface names and those interface all define a function with the same name (in lowerCase).

May be then "`Event`" as in `LifecycleEvent` is not the most appropriate. `LifecycleInterface` would be more accurate but I tend to think that `LifecycleMethod` would be better (especially in ES5 context).

Also as we fall back to structural type che

[2015-08-31 21:56] IAPark commented on #3921
Hum that makes sense. So I'd need to check if it was just changing the params and the just tell it to reuse. There isn't any way I can do this from a directive though right? But then again I don't think I could with anything I was talking about either.

[2015-08-31 22:02] #3755 closed

[2015-08-31 22:03] mhevery commented on #3863
@vicb
1. yes let's rename ViewListeners method. Can you take on it?
2. yes, the comment on doCheck needs work. Sorry I missed it. Can you also create a PR for that?

[2015-08-31 22:32] btford commented on #2912
I just released v0.5.4 with this fix, so this is no longer blocked.

[2015-08-31 22:38] btford commented on #2912
Pushing to presubmit now.

[2015-08-31 22:41] rkirov opened #3922 "Query redesign"
This is a proposal for a redesign for the query API. It allows a directive to find other directives that are structurally its 'children'.

- A directive can query the children of the element it is placed on with `@ContentChild` / `@ContentChildren` (used to be @Query) and its view with `@ViewChild` / `@ViewChildren` (used to be @ViewQuery).
- When using @xxxChild the object received will be the de

[2015-08-31 22:41] rkirov commented on #2603
Superceeded by #3922

[2015-08-31 22:41] #2603 closed

[2015-08-31 22:47] btford commented on #3751
@TiagoBraga39 What do you think of using the routing DSL as the value of the `redirectTo` property?

It's less ambiguous, and handles cases like your number 3 much more elegantly.

[2015-08-31 23:12] #2912 closed

[2015-08-31 23:18] vicb opened #3924 "[RFC] Drop lifecyle from Directive config"
The current way of subscribing to LC hooks is kind of messy:

[code]

**In Dart**:

If the `lifecycle` key exists, we use it as the source of truth:
- The `lifecycle` configuration gets generated by the transformer from the implemented interfaces, that is fine,
- For non-transformed code, the `lifecycle` value has priority over implemented interfaces. It's counter-intuitive and might lead to a dif

[2015-08-31 23:19] rkirov commented on #3853
@mlynch Thanks for the detailed issue! Take a look at our https://github.com/angular/angular/issues/3922 proposal. Moving the query out of the injectables and removing the array indirection for singular cases will make it a lot more natural:

[code]

About the finer point you bring up:
- we already support querying for var bindings, see - https://github.com/angular/angular/blob/master/modules/angu

[2015-08-31 23:27] mhevery commented on #3924
I think this is great, and I would love to see this happen. It is not clear to me if we can do this due to way Dart Transformers work.

[2015-08-31 23:38] btford commented on #3921
@matsko and I were talking about this– I think it's an important feature.

We want to provide different options for debouncing URL updates, and for pushing history state changes.

For now @cghislai is right, you should implement canReuse to decide whether or not to reinstantiate.

[2015-08-31 23:42] btford commented on #3860
You should be able to implement `Cmp.canActivate = ...` and have it work. You can take a look at the angular1_router specs to see it in action.

There's still a lot of work across the codebase. The best way to keep up is to check issues tagged with `component: router`. If you have specific bugs/problems, filing issues is the best way to influence what gets worked on next. :)

[2015-08-31 23:44] btford commented on #3860
You can also follow #3813, which specifically tracks progress on 1.x the router

[2015-08-31 23:44] btford commented on #3902
PR welcome. :)

[2015-08-31 23:52] bestander commented on #2693
@vicb could you please point me to a doc or a discussion about what is recommended way to do native DOM manipulation in Angular 2?

I understand that it would work fine when using templates and bindings of Angular but sometimes people want to integrate with thirdparty libraries like D3 or a jquery plugin.

What I learned is that `@Component`s are cached and whatever I append manually in `element.n

[2015-09-01 00:00] ericmartinezr commented on #3922
If I'm allowed to ask, considering this point

`When using @xxxChild the object received will be the desired element (or null if not found), when using @xxxChildren the object will be an ObservableArray.`

What would happen if I use `@xxxChild` and in my template I have Nth-children what will `@xxxChild` do? Will return the first one found or an ObservableArray containing just one element? Will th

[2015-09-01 00:18] jteplitz602 opened #3926 "dgeni doesn't output constructors in .d.ts files"
Dgeni should output public constructors in our .d.ts files

[2015-09-01 00:20] mlynch commented on #3853
This seems like a nice improvement! :+1:

I think renaming the Query types is also a good idea. I'd add that I think end-users are going to find the subtleties of View/Content space challenging, but I'm not really sure what can be done at this point to simplify it since it's core concept of v2.

[2015-09-01 00:38] yjbanov commented on #3924
I don't see a conflict with #2898. We either use interfaces in a runtime check `is OnChange` (in dev mode) or we discover them in the transformer and generate lifecycle call sites (and let `dart2js` erase the interfaces later).

Not sure how this would work in TS, as `tsc` erases all information about interfaces.

[2015-09-01 01:08] vicb commented on #3924
As of today, it seems that the compiler calls [`DirectiveBinding.createFromBinding`](https://github.com/angular/angular/blob/ad1bd5fc11f27380b523e7e94de98debd34201b0/modules/angular2/src/core/compiler/compiler.ts#L118) that in turn [check what interfaces are implemented](https://github.com/angular/angular/blob/ad1bd5fc11f27380b523e7e94de98debd34201b0/modules/angular2/src/core/compiler/element_inje

[2015-09-01 01:12] jeffbcross commented on #3713
@mhevery in moving the default pipes outside of core, I assume I'll keep the `DEFAULT_PIPES_TOKEN` inside of core, bound to an empty list? The compiler relies on this binding so that it can flatten a View's pipes and the default pipes. So if a user wanted to use the default pipes, they would override the binding like so:

[code]

[2015-09-01 03:20] mhevery commented on #3853
Closing due to https://github.com/angular/angular/issues/3922

[2015-09-01 03:20] #3853 closed

[2015-09-01 03:24] mhevery commented on #3924
@vicb can this be refactored somehow so that we could drop this? I really would like to get this breaking change in ASAP.

[2015-09-01 03:26] mhevery commented on #3713
@jeffbcross Pipes and Directives should be set up same way. Since directives are part of the core, I think pipes should be as well.

[2015-09-01 04:02] jeffbcross commented on #3713
Recapping VC with @mhevery:

 * Moving forms into core, and adding default bindings to root injector.
 * Keeping Pipes in core and keeping pipes' bindings in root injector.
 * Keeping directives in core bundle
 * angular2 bundle will include core, http, router concatenated, but will not include http and router bindings by default.

Bundles:
[code]

Plus testing bundles

[2015-09-01 04:55] mhevery opened #3929 "Intercepting Events/Properties on Renders"
### Goal

Have a way to intercept events/properties on Renderer so that we could do things like:
- Create custom event handlers. ie, touch events, swipe, etc
- Create custom DOM elements / events / properties  for things like jQuery/EXT js/ other widget library integration

Simple event integration

[code]

Here it we need to be able to register custom `ionic-swipe` event.

[code]

Here we need to

[2015-09-01 04:55] mhevery commented on #3800
After chatting with @tbosch here are some ideas: #3929

[2015-09-01 04:56] mhevery commented on #3929
/cc @tbosch @adamdbradley

[2015-09-01 07:08] Pro opened #3930 "NPM readme: Add usage for bundle"
The description for the NPM package (https://www.npmjs.com/package/angular2) should include instructions how to use ng2 directly in JS for a new webpage.

As a beginner you may tend to use the `node_modules/angular2/angular2.js` in the root folder, instead of `node_modules/angular2/bundles/angular2.js`
Including the first in your script tag doesn't cause any error message and some of the ng2 funct

[2015-09-01 07:37] acalvo commented on #3860
Digging in the code, I just realized that it's `$canActivate` now (with the $ symbol, I mean), isn't it? And it's executed before the Controller is instantiated. And `activate` is now `onActivate`, this is why neither of them were working for me!

So, just in case someone else gets to this issue having the same problem, this would be the way of defining lifecycle hooks right now (at least in angul

[2015-09-01 08:01] danicomas commented on #3804
But I don't want another ```<form>```. I want to create a component for input text, select, ... and adding them in the first component (form).  @mhevery Is it possible?

[2015-09-01 08:18] TiagoBraga39 commented on #3751
I am not sure I understood the question, but I guess the easier way to redirect would be this.
Again the router:
[code]
It is very similar to what router-link works.

By the way, is it possible to have an "Otherwise" class to route to 404 pages?

Best regards,
Tiago Braga

[2015-09-01 09:54] akhilclarion commented on #3885
Thanks for your help. i got the issue.

On Fri, Aug 28, 2015 at 7:17 PM, Pawel Kozlowski <notifications@github.com>
wrote:

[2015-09-01 10:17] alfonso-presa opened #3934 "Http module is no longer available through SFX builds in Alpha 36."
I've not been able to find a way of including the http module through SFX bundles.

In Alpha 34 it was embeded in the `angular2.sfx.dev.js` bundle, and it Alpha 35 it had it's own bundle.... Seem's like Alpha 36 is somewhere in between, and no Http module is available.

If there's another way to include it (other than using System.js ofcourse) please let me know.

Thanks!

[2015-09-01 11:14] TiagoBraga39 opened #3935 "Alpha 36 ComponentRef"
Hi all!

Any major changes in alpha 36?

---

<b>It throws this:</b>
![image](https://cloud.githubusercontent.com/assets/8090726/9602739/cf8a7024-50a2-11e5-8bdf-f8cfc19af2e9.png)

---

<b>The bootstrap:</b>
![image](https://cloud.githubusercontent.com/assets/8090726/9602748/e2d65558-50a2-11e5-812c-23cbcb650916.png)

---

By the way, HTML5LocationStrategy does not exist now, so I changed to HashLoc

[2015-09-01 11:22] PascalPrecht commented on #3935
It's called `PathLocationStrategy` now. Won't solve your issue tho

[2015-09-01 11:32] TiagoBraga39 commented on #3935
Well, it throws the error here https://github.com/angular/angular/blob/master/modules/angular2/src/core/application_common.ts#L309

[2015-09-01 11:37] rolandjitsu opened #3936 "add test_lib.d.ts on DefinitelyTyped"
It looks like `test_lib.d.ts` did not make it to DT yet, was this postponed until the next release or it hasn't even been considered?

[2015-09-01 11:59] Zyzle commented on #3935
I'm having the same issue when moving to alpha 36. Only difference between the example given and my setup is the `APP_BASE_HREF` binding which I don't use.

Are the breaking changes missing from the changelog maybe?

[2015-09-01 12:03] TiagoBraga39 commented on #3935
@Zyzle Maybe you are using the base tag, correct?

I didn't find anything on the changelog, so I guess that is the case.

[2015-09-01 12:06] PascalPrecht commented on #3902
So you're agreeing. I'll work on that.

[2015-09-01 12:17] Zyzle commented on #3935
Hmmn, I was under the impression that wasn't necessary any more but I can't seem to find the issue that would make me think that.

[2015-09-01 12:29] PascalPrecht commented on #3902
Any preferences on what that should look like? One file per component? Do we want to have folders for directives, services, ..(IMO over engineered in that case).

[2015-09-01 12:39] Zyzle commented on #3935
@TiagoBraga39 I've found the issue (for me at least); `routerInjectables` has now become `ROUTER_BINDINGS`  Making this change fixed the issue for me.  There's no mention of this in the changelog that I can see though. :cry:

[2015-09-01 12:44] ericmdantas commented on #3935
@Zyzle might be part of [these changes](https://github.com/angular/angular/blob/master/CHANGELOG.md#breaking-changes), no?

[2015-09-01 12:56] Zyzle commented on #3935
@ericmartinezr No it seems to have happened after that here:

https://github.com/angular/angular/commit/ccfadb9b4747d5fd7a3c32f7a8e92b23b07f7fd0#diff-a5b6e4e6bcf42bfbebef722164c4033eR41

The commit message about the breaking change doesn't seem to have been hoovered up by the changelog script

[2015-09-01 13:02] ericmdantas commented on #3935
@Zyzle welp, that explains it.

[2015-09-01 13:12] TiagoBraga39 commented on #3935
@Zyzle Well, we should be expecting those naming changes. Anyway, works for me, but I still need this:
[code]

Closing for now.

[2015-09-01 13:12] #3935 closed

[2015-09-01 14:56] pkozlowski-opensource commented on #3936
Isn't it duplicate of https://github.com/angular/angular/issues/3824?

[2015-09-01 15:01] valorkin opened #3938 "issue(typings): include constructor definitions for classes in .d.ts"
Became important when you extend, for example, `DefaultValueAccessor` to work with `ng-model`
and see a list of errors:
[code]

I was trying to do it my self but, but constructor type parameters are come as string, not parsed, to dgeni templates

[2015-09-01 15:02] rolandjitsu commented on #3936
@pkozlowski-opensource kind of, I'm closing :)

[2015-09-01 15:02] #3936 closed

[2015-09-01 15:31] gustavoq-infocorp commented on #3879
Mmm, I'm losing something :)

component.componentType is the type (Page1) and I want the specific instance created by the router, not a new one from Page1's constructor.

I dont know, maybe I need a different approach :)

[2015-09-01 16:00] pkozlowski-opensource commented on #3917
@IgorMinar our early input on using internationalization apis: https://github.com/angular/angular/issues/3333

In short: this might not be the best path to move forward...

[2015-09-01 17:05] TiagoBraga39 commented on #1047
:+1:

[2015-09-01 17:34] IgorMinar commented on #3917
Thanks for linking the issue.

On Tue, Sep 1, 2015 at 9:00 AM Pawel Kozlowski <notifications@github.com>
wrote:

[2015-09-01 18:05] #1636 closed

[2015-09-01 18:20] #2771 closed

[2015-09-01 18:43] jeffbcross opened #3941 "feat(dgeni): change hierarchy of docs"
In the grand re-shuffling of exports (See #3713, #3458), many things that previously lived outside of the `src/core` folder now live in `src/core`: di, forms, directives, change_detection. Consequently, with #3932 landing, these things are now imported from `angular2/core`. This presents a problem with the current docs side navigation, which would just have a few top-level modules, with core havin

[2015-09-01 18:54] btford commented on #3902
Up to you– note that you'll need likely need to improve the build script to account for multiple files. @shahata also wanted to migrate that code to TypeScript, but I think splitting first is best.

I agree we should be pragmatic :)

[2015-09-01 19:09] calebmer opened #3943 "Public url for angular 2?"
I'd love to try angular 2 with [codepen](codepen.io). Is there a public url I can reference to use angular 2 developer previews in my pens?

[2015-09-01 19:23] pkozlowski-opensource commented on #3943
Sure, try https://code.angularjs.org/
Ex. for the latest release: https://code.angularjs.org/2.0.0-alpha.36/

[2015-09-01 19:23] #3943 closed

[2015-09-01 20:13] tbosch commented on #3918
Harry,
there is none in the sense of a file that lists all of them.
We calculate them via a glob over dist/js/cjs/**/*_perf.js and exclude some
for JS / Dart in the protractor-js.conf.js / protractor-dart2js.conf.js.

Tobias

On Mon, Aug 31, 2015 at 10:32 AM Harry Terkelsen <notifications@github.com>
wrote:

[2015-09-01 21:25] rkirov opened #3944 "QueryList is not reset during dehydration"
see http://plnkr.co/edit/t9fzKo8tWo0Fx79p20Tx?p=preview

[2015-09-01 21:38] mhipo1364 opened #3945 "Access to humans.txt"
Hi guys

I have a situation

I need to access to `humans.txt` and `robots.txt` using `www.mydomain.com` , but in angular, url manager don't let me to access it, how can I access to these files?

[2015-09-01 23:25] hterkelsen opened #3949 "Benchmarks all report 0ms for gcTime and scriptTime"
When I run any benchmark I get 0 for all metrics except renderTime:
[code]

This is for any benchmark, both JS and dart2js. cc @tbosch

[2015-09-01 23:28] hterkelsen commented on #3949
duplicate of #3411

[2015-09-01 23:28] #3949 closed

[2015-09-02 00:01] yjbanov commented on #3841
fixed in https://github.com/angular/angular/commit/46f751bd2f1a209849165ef23c6077e04d90a089

[2015-09-02 00:01] #3841 closed

[2015-09-02 00:03] btford commented on #3830
Just chatted with @alxhub about this– we think we have a solution as a part of #1594 for this.

[2015-09-02 00:19] goderbauer commented on #3411
Category names in Chrome were changed here: https://codereview.chromium.org/1150033002

Identified changes so far:
* `("disabled-by-default-devtools.timeline", "GCEvent")` has been removed, instead use `("devtools.timeline,v8", "MinorGC")` and `("devtools.timeline,v8", "MajorGC")`
* `("v8", "minorGC")` is now `("devtools.timeline,v8", "MinorGC")`
* `("v8", "majorGC")` is now `("devtools.timeline,v

[2015-09-02 00:20] tbosch commented on #3411
Michael, could you try to ping the Chrome team as to whether they could
actively tell us when they change the protocol? Maybe they have a mailing
list / ... for this already...

On Tue, Sep 1, 2015 at 5:19 PM Michael Goderbauer <notifications@github.com>
wrote:

[2015-09-02 00:50] tbosch commented on #3929
Like it.
Note that the schema registry is only used inside of compilation which is probably offline. I.e. these "interceptors" need 2 parts:

* 1 for the runtime which is registered at the `DomRenderer`
* 1 for compilation which is registered at the `SchemaRegistry`

[2015-09-02 00:55] vicb commented on #3863
closing.
- Listeners are renamed in #3925,
- #3928 drops the LifecycleEvent enum.

[2015-09-02 00:55] #3863 closed

[2015-09-02 00:56] naomiblack commented on #2072
also see https://github.com/angular/ts2dart/issues/276 for a list of related issues.

[2015-09-02 01:00] DavidSouther commented on #3416
What would be needed to reopen this? Reading through the DI code, nothing is environment specific, and it would be *incredibly* useful to use this in a Node.js project.

[2015-09-02 01:04] #3893 closed

[2015-09-02 02:35] bduffany commented on #3034
fyi this issue was referenced on StackOverflow: http://stackoverflow.com/questions/32300168/how-to-get-a-reference-to-a-particular-component-in-an-angular2-template

[2015-09-02 04:57] w1zeman1p opened #3953 "Importing FORM_DIRECTIVES breaks compilation"
When importing `FORM_DIRECTIVES` and adding to the list of directives on the view like so:
[code]

The following error occurs:

[code]

[2015-09-02 05:59] debanjanbasu opened #3955 "Router broken after update to alpha 36 from alpha 35"
EXCEPTION: Error during instantiation of function (_platformStrategy, href) {! (function (router) { -> Router -> function (_platformStrategy, href) {).
angular2.dev.js:22746 ORIGINAL EXCEPTION: TypeError: Rx.Subject is not a function
angular2.dev.js:22746 ORIGINAL STACKTRACE:
angular2.dev.js:22746 TypeError: Rx.Subject is not a function
    at new EventEmitter (angular2.dev.js:23257)
    at new <a

[2015-09-02 06:00] debanjanbasu commented on #3955
And yes I've set the base href in the html.

[2015-09-02 06:13] kweheliye commented on #3955
I'm getting same error. Also I  renamed (routerInjectables => ROUTER_BINDINGS)

[2015-09-02 06:15] debanjanbasu commented on #3955
Yet it doesn't seem to work. I doubt there might be something that we are missing. I tried to even change the location strategy in vain.

[2015-09-02 06:33] PascalPrecht commented on #3416
@DavidSouther for now you can totally just use the `angular2/di` module, even without using Angular at all. However, it requires you to install the whole framework, which you might not want.

Would also like to hear @jeffbcross' thoughts on this.

[2015-09-02 06:41] PascalPrecht commented on #3945
@mhipo1364 can you be a bit more specific about what doesn't work? What do you mean with "url manager doesn't let me access it" ? Are you requesting those files per Ajax?

More information needed.

[2015-09-02 06:43] PascalPrecht commented on #3902
Gotcha

[2015-09-02 06:44] debanjanbasu commented on #3953
FORM_DIRECTIVES are a part of angular alpha > 35. Please upgrade to at least version 35 or even better 36. But I'm facing issues with version 36 with the router.

[2015-09-02 06:49] PascalPrecht commented on #3941
@jeffbcross with "represent logical children of a top-level module" you mean, displaying them by default, without the user's need to "open" a top-level module first?

I would agree with that, but it would be a bit inconsistent because `http` and `router` don't have these sub-level modules (right?). So maybe we should rather have something like "categories" or "meta" modules that are created for ea

[2015-09-02 06:58] mhipo1364 commented on #3945
@PascalPrecht : thanks for respond, humans.txt and robots.txt should be accessible via domain name, but when I add humans.txt at the end of domain name, it automatically redirect to home url, and actually I never access to these files.

**Note**: I use html5 for removing # from url and `state` for url manager

[2015-09-02 08:07] robwormald commented on #3953
FORM_DIRECTIVES are in the `angular2/forms` module, so you need to import them from there.

For future reference, the first thing you should check whenever you see an error like this is that things you import are actually defined.

[2015-09-02 08:09] PascalPrecht commented on #3945
Okay a couple of things:

- This sounds a bit like AngularJS 1.x / UI-Router code, but this is the repository for Angular 2. If that's the case, this would rather be an issue for http://github.com/angular/angular.js

- If you do use push state API and HTML5 mode, your server needs to be configured to always serve your `index.html` file, so that your SPA is served in any case.

- As soon as you use

[2015-09-02 08:09] robwormald commented on #3416
Agreed on making this a standalone published module, especially since DI.js is dying a slow death.

[2015-09-02 08:16] mhipo1364 commented on #3945
@PascalPrecht : yeah, it's for angular 1.x

Honest mistake

[2015-09-02 08:16] #3945 closed

[2015-09-02 09:16] pkozlowski-opensource commented on #3953
@w1zeman1p  `FORM_DIRECTIVES` are only available starting from alpha.35 and you are using 2.0.0-alpha.28. Upgrade to the latest release.

[2015-09-02 09:16] #3953 closed

[2015-09-02 09:17] TiagoBraga39 commented on #3955
Check if anything helps https://github.com/angular/angular/issues/3935

[2015-09-02 09:32] TiagoBraga39 opened #3956 "Angular Forms Boilerplate"
Hi all!

Anyone with a good and simple example of forms, without much boilerplate code?

I've read about what I wanted in https://github.com/angular/angular/issues/1043 and https://github.com/angular/angular/issues/1047 but since it is not implemented, I need a solution for now that can bind to an object without much effort.

Also saw this example https://github.com/angular/angular/tree/master/mod

[2015-09-02 09:33] debanjanbasu commented on #3955
Nope... It still did not fix the error. Is this something related to RxJS as "TypeError: Rx.Subject is not a function" might be the cause of the error?

[2015-09-02 09:39] TiagoBraga39 commented on #3955
Just a quick reminder: Did you change the router injectables and directives names?
Now they are: ROUTER_BINDINGS and ROUTER_DIRECTIVES.

Are you including an 3rd party RxJS? Now the HTTP module includes that on its own.

[2015-09-02 09:51] debanjanbasu commented on #3955
1. I am not including the HTTP module, as I am depending on the es6 standard fetch for HTTP calls.
2. Yes I've modified routerInjectables to ROUTER_BINDINGS
3. Do we need http module to make the router work?
4. The standard RxJS is in use no 3rd party library imported/used.

[2015-09-02 09:59] debanjanbasu commented on #3955
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Inventman v1.0.1. Real-Time smart inventory Management and Prediction</title>
    <meta name="description" content="Real-Time smart inventory Management and Prediction">
    <meta name="author" content="Debanjan Basu">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=de

[2015-09-02 10:15] TiagoBraga39 commented on #3955
Answers:
1. I actually really like the NG HTTP module.
2. Same with routerDirectives?
3 and 4. We don't.

Rx.Subject is not a function? Dig onto Rx.Subject. Is it undefined?
If not, when you use Rx.Subject, are you using any callback function after?
Can you provide your code when you use Rx.Subject? It's hard this way.

[2015-09-02 10:23] debanjanbasu commented on #3955
I am avoiding the NG HTTP module as it is non-standard. The standard es6 fetch API gives more flexibility and is already integrated in most of the evergreen browsers, i.e. no extra download of http.js. You should give it a try. Not only does it perform better, but is the defined standard and future proof. This is the main reason angular2 team took out the HTTP module from the core into a separate

[2015-09-02 10:29] ericmdantas commented on #3955
@debanjanbasu try ```angular2.js``` instead of ```angular2.dev.js```.

[2015-09-02 10:39] debanjanbasu commented on #3955
Well with angular2.js it is giving me another form of error.

My index.html file looks like this with angular2.js
[code]

and the error encountered now is:
[code]

[2015-09-02 10:59] Zyzle commented on #3955
I think this is related to using an outdated version of Systemjs #3602

[2015-09-02 11:22] kweheliye commented on #3955
@Zyzle  Thanks, alpha.36 router is working for me

[2015-09-02 11:33] debanjanbasu commented on #3955
@Zyzle Thanks a ton. Finally your guide explained me how to use the latest systemJS. The earlier angular versions could not use them. They should've mentioned in the changelog that is one of the breaking changes. Finally it is working again.

[2015-09-02 11:33] #3955 closed

[2015-09-02 13:57] peter-svintsitskyi opened #3957 "Query string parameters are not available via the RouteParams instance."
When user visits URL like the http://example.com/path/part?queryParam=value, there is no access to the "queryParam" via RouteParams in the component that is configured to match the "/path/part" route.

When the RootRouter class calls to the navigate method in its constructor, it passes in as a parameter only the path part of a URL discarding all query string parameters.

[2015-09-02 14:36] w1zeman1p commented on #3953
Thanks for your help! That (incorrect version) was it. I had the typings for 36 but was using the .28 version so in my editor the types were importing fine, but weren't actually available.

[2015-09-02 14:40] DavidSouther commented on #3416
I've been having trouble getting `import { Inject, Binding } from 'angular2/di'` working in TypeScript node projects; it's likely blocked on Microsoft/Typescript#247

[2015-09-02 14:58] brandonroberts opened #3959 "fix(router 1.x) navigation broken when using ngLink directive"
Trying to navigate by clicking links generated by the ngLink directive fail to display the content. The ngLink is generating a relative path instead of an absolute path, which causes the instruction to not be found. If you use an href with an absolute path, navigation works correctly. The routerLink directive generates an absolute path. Link to an example gist below.

https://gist.github.com/brand

[2015-09-02 16:30] #3956 closed

[2015-09-02 17:09] mhevery opened #3961 "Support injecting @Attributes()"
[code]

[2015-09-02 17:17] pkozlowski-opensource commented on #3961
Sounds exactly like https://github.com/angular/angular/issues/1818 -probably can close one as a duplicate of another

[2015-09-02 17:25] Ablu commented on #3938
This also prevents me from creating forms:
[code]
The compiler complains about the missing constructor of `ControlGroup` and `Control`.

[2015-09-02 19:01] calebmer commented on #3943
Thanks so much, it might be helpful to put a link to this on [angular.io](http://angular.io/downloads) or npm which is how I got here :smile:

[2015-09-02 19:29] #3944 closed

[2015-09-02 20:57] #3920 closed

[2015-09-02 22:15] naomiblack opened #3965 "dgeni should output Type Annotation for all var, const (currently, some missed)"
The following var and const don't output a varType in dgeni:
[code]

[2015-09-02 22:17] btford commented on #3965
I suspect that this is because of how I read the type information from the AST. I'll take a closer look when I get a chance.

[2015-09-02 22:49] naomiblack commented on #3576
@petebacondarwin can you have a look at this? It's complicating some of our API doc authoring work.

[2015-09-02 23:02] tbosch commented on #3961
With the new compiler refactoring this will be easy to implement. Please wait until then...

[2015-09-02 23:28] yjbanov opened #3967 "Implement ng.listInvisibleButActiveLightDoms()"
As a follow-up to https://github.com/angular/angular/issues/3877 implement API for getting a list of live light DOMs that are not visible on the UI because their projection points are inactive. These views are instantiated and they participate in change detection but because they are not visible in many cases they simply slow down the application.

API:

[code]

It would return a list where each e

[2015-09-03 00:14] thelgevold opened #3969 "Error when bootstrapping application in alpha.36"
After upgrading to alpha 36 I am seeing an error during bootstrap when I am using the router and http

I am following the same approach as in the Angular 2 examples in the source:
```bootstrap(MyDemoApp,[HTTP_BINDINGS,ROUTER_BINDINGS, bind(LocationStrategy).toClass(HashLocationStrategy)]);```

I have listed the error below:

Error during instantiation of function (_platformStrategy, href) {! (MyDe

[2015-09-03 00:15] thelgevold commented on #3733
Any updates on this?

[2015-09-03 00:44] yjbanov commented on #3275
@jeffbcross is still experiencing issues where systemjs consumes a lot of CPU.

[2015-09-03 01:15] jteplitz602 commented on #3563
@matsko how's this looking?

[2015-09-03 02:55] jteplitz602 opened #3971 "Reflection transformer rewrites WebWorker bootstrap"
On the UI developers bootstrap a WebWorker application by calling
[code]

Currently the transformer will rewrite this to
[code]
Which will throw since bootstrapStatic isn't defined.

[2015-09-03 03:34] bestander opened #3972 "dgeni: Typescript 1.6.0-beta incompatible with ng.Type generation in angular-alpha-36"
dgeni generates type in angular2.d.ts with
[code]
Typescript 1.6.0 throws an error during compilation:
[code]

[code]

If I manually replace what dgeni generated into (as in `modules/angular2/src/core/facade/lang.ts`)
[code]
Then it works fine.

[2015-09-03 05:02] bestander commented on #1744
@azasypkin could you please share how you pathed reflection_capabilities?
Can it be patched in the application or in the source of Angular only?

[2015-09-03 05:53] gutenye opened #3975 "How to bind Polymer's custom event in Angular 2?"
I want to use Polymer's components in Angular, given
[code]

It will not work, for

quote from https://discventionstech.wordpress.com/2015/06/24/using-polymer-1-0-with-angular-2-0/

What's the current state of this and is there other ways to archive it?

[2015-09-03 06:53] Sabartius commented on #3969
I have an similiar error, but without using Router or Http in my Application.
It seems, as if Rx won't be loaded correctly, but i'm not sure.

[2015-09-03 07:47] guybedford commented on #3275
@yjbanov @jeffbcross I'm always happy to help with perf, feel free to copy me in further if you have any specific cases to share here.

[2015-09-03 08:20] rolandjitsu commented on #3930
@mhevery probably a duplicate of [#3082](https://github.com/angular/angular/issues/3082) and [#3458](https://github.com/angular/angular/issues/3458)

[2015-09-03 08:22] rolandjitsu commented on #3972
:+1: I have the same issue.

[2015-09-03 10:10] Zyzle commented on #3969
@thelgevold same issue as #3955 maybe?

[2015-09-03 12:14] ericmartinezr commented on #3975
Probably related https://github.com/angular/angular/issues/3929

[2015-09-03 15:06] jeffbcross commented on #3275
Thanks, @guybedford! I'll include some profile information today. It looks like performance degraded when I added a layer of indirection for imports.

before:
[code]

after
[code]

[2015-09-03 15:15] jeffbcross commented on #3275
I collected a profile of an [example app](https://github.com/jeffbcross/angular/tree/exports/modules/examples/src/http) in a branch that fetches data over http and renders it on the page: https://drive.google.com/file/d/0Bw6GBXhPGkUGOUc2WXlVcnF4UzA/view?usp=sharing

[2015-09-03 17:28] ericmartinezr opened #3979 "Router: property 'component' of null when child router has no Redirect."
It took me a while to figure it out this one

**TL;DR** When you step in a route which has a nested router without a Redirect in it, it will throw this error message

[code]

The **TL;DR** is too confusing, explaining it a little bit more.

Consider the following code

[code]

If I step in 'myproject/#/main' it will throw the error above. This error message dissapears if I add a Redirect in the ne

[2015-09-03 17:29] nateabele commented on #3416
Seems like we've been slowly moving away from the "Angular 2 is going to be a framework of decoupled libraries" position for a while now. Safe to say that's officially no longer a goal?

[2015-09-03 17:58] alexeagle opened #3980 "better DEVELOPERS.md: how to write tests"
Discussed in mtg last week w/ @mhevery , @IgorMinar , and @yjbanov
It's hard for people to contribute to angular because there are several patterns for how to write tests, and it's unclear which is the best to emulate.
We'd like to document the best way for unit tests and end-to-end tests.

[2015-09-03 18:03] alexeagle opened #3981 "tslint checks for code patterns that produce bad ts2dart output"
discussed in mtgs last week, with @yjbanov in particular:
we want to help contributors avoid running into a wall when they realize their changes don't work for our Dart version.
The simplest way that will work in a few cases is to outlaw TS syntax which cannot (or does not currently) produce "reasonable" dart output. For example, statements made at the top-level of the program.
This will be a tric

[2015-09-03 20:05] jteplitz602 commented on #3348
Closed with 696edde17c05af04221b04311919744c81ce2390

[2015-09-03 20:05] #3348 closed

[2015-09-03 20:07] Ablu commented on #3979
+1

I also stumbled over this.

[2015-09-03 21:26] kegluneq opened #3984 "Remove special case for dartanalyzer warning"
Once https://github.com/angular/ts2dart/issues/168 is fixed, we can remove the special case in [dartanalyzer.js#shouldIgnore](https://github.com/angular/angular/blob/master/tools/build/dartanalyzer.js#L172) which prevents that style of output from breaking the build.

[2015-09-03 22:23] barbatus opened #3985 "OnDestroy in a component without LifecycleEvent.OnDestroy"
I noticed that onDestroy is being called even if a component does not have
````lifecycle: [LifecycleEvent.OnDestroy]```` defined in alpha36.
Is it intentional behavior?

Thanks

[2015-09-03 22:41] vicb commented on #3985
**alpha 36**

If you have some `lifecycle` configuration in your directive, they'll have priority over implemented functions. ie when you specify `lifecycle: [LifecycleEvent.OnChanges]`, `onDestroy()` will not get called although it is implemented.

If you don't specify any `lifecycle` configuration in your directive, structural type checking will be used and any lifecycle methods will get called

[2015-09-03 22:41] #3985 closed

[2015-09-03 22:51] thelgevold commented on #3969
@Zyzle Yes it looks like this was caused by using an outdated version of System.js
I have updated my samples to use the latest version and it's working with both http and the router.
Added my components here:
http://www.syntaxsuccess.com/angular-2-samples

Thanks for your help!

[2015-09-03 22:51] #3969 closed

[2015-09-03 23:26] thelgevold commented on #3733
I have temporarily added a modified version to http.d.ts to my sample project. You can find it here: https://github.com/thelgevold/angular-2-samples

[2015-09-04 00:50] thelgevold commented on #3899
There is currently a bug in the http file. To get around it I have temporarily hacked the file in my project.
You can get it from here until the Angular team fixes it in the source file:  https://github.com/thelgevold/angular-2-samples

[2015-09-04 06:38] woppa684 opened #3987 "Alpha 36: TypeError: Rx.Subject is not a function"
Consider this example code:

[code]

This throws the following errors:

[code]

What's going on here? What I've seen in the debugger is that at the point where this error occurs Rx.Subject indeed doesn't exist but is located at Rx.default.Subject .... ?

[2015-09-04 07:33] singhamrinder commented on #1858
Is their any workaround for this?

[2015-09-04 07:46] Fank commented on #3987
i got the same issue first time i used angular you need to change the import of rx in the systemjs config:
[code]

[2015-09-04 07:49] woppa684 commented on #3987
Unfortunately that doesn't seems to resolve the issue...

[2015-09-04 08:55] wardbell commented on #3941
I think everything depends upon **how the developer sees the structure** when s/he imports these modules. If s/he would see them all listed in the IDE when importing from `angular/core`, so be it.  That's what the left nav should reflect.

I don't think the developer will know or care about the groupings that you're proposing. They just make it harder to find something that you know (more or less)

[2015-09-04 09:04] ShMcK commented on #3987
I'm having the same error message, but when adding FORM_DIRECTIVES to a component while using the angular2.alpha-36.dev.js version. No issue with alpha-35.

The above System.config solution also didn't resolve the issue.

[2015-09-04 09:13] wardbell commented on #3651
@PascalPrecht @mhevery I don't think perf should influence our usage of `=>` or `let` unless (and until) we're talking about a confirmed hot path.  `let` is a good thing. So is `=>`.

The point of these constructs is to improve readability, avoid stupid hoisting errors, and simplify `this` treatment. Those interests should dominate.

Similar arguments have been made against captures. Hey, captures

[2015-09-04 09:14] jhades opened #3990 "Improvements for error messages for inexisting bindings"
In alpha 36,  whenever a binding is undefined, a generic error message is thrown like the stacktrace bellow. The binding can be undefined if it was accidentally not imported, or in the case of alpha upgrades if it was renamed. It can happen during app development due to typos as well (the tools are getting better for this).

In order to find which binding is causing this, currently we have to go o

[2015-09-04 09:20] Zyzle commented on #3987
See, #3955 and #3969 maybe?

[2015-09-04 09:47] woppa684 commented on #3987
That's probably it, because I still use an older version of systemjs ... But I can't get it to work at the moment. Just changing the systemjs version results in angular not kicking in at all (app.js is loaded by system but nothing happens and there are no errors) ... will try some more ;)

[2015-09-04 10:18] ericmdantas commented on #3990
That'd be great.

[2015-09-04 10:18] Mewel commented on #1858
you can use the ElementRef:

    constructor(public elementRef: ElementRef) {
        var native = this.elementRef.nativeElement;
        var myattr = native.getAttribute("myattr");
    }

[2015-09-04 10:41] woppa684 commented on #3987
As mentioned in the referenced bugs, I had to change my html to something like this:

[code]

[2015-09-04 10:41] #3987 closed

[2015-09-04 11:59] PhilippGrulich commented on #3990
+1

[2015-09-04 12:36] IAPark commented on #3921
Is there anything I can do to help move this forward. This is obviously a big enough change that I shouldn't just go ahead and implement it my way as it will be important for a bunch of things, but at the same time having created the ticket I feel a bit guilty not doing anything about it. Is the idea to do basically what I talked about and implement an in essence Router.navigate_instruction/Router

[2015-09-04 16:06] alexpods commented on #2753
@peter-svintsitskyi Look at [this plunker](http://plnkr.co/edit/8mna5McKeq72qH8QlZbi?p=preview). You can render template dynamically by using [DynamicComponentLoader](https://angular.io/docs/js/latest/api/core/DynamicComponentLoader-class.html)

[code]

@mhevery Could you resolve my doubts: this is correct use of DynamicComponentLoader, or it's a some dirty dirty hack that must never be used?

[2015-09-04 16:21] peter-svintsitskyi commented on #2753
Yes, I was using the similar approach but without the DynamicComponentLoader. But it looks like the compiled templates are cached somewhere per class. So I came to even more hacky solution :)

[code]

[2015-09-04 17:32] brandonroberts opened #3993 "refactor(router/1.x): Set annotations outside router factory"
Currently the build script for the router sets the RouteConfig and CanActivate annotation functions on angular inside the router factory. Setting these annotations outside the factory would allow them to be used to build the component annotations before the router is instantiated.

[2015-09-04 17:40] Ablu commented on #3979
@ericmartinezr asked me to attach my example since it is a bit different:
http://plnkr.co/edit/BXXEtZ

The error happens when clicking the "Page 1" link.

[2015-09-04 18:04] petebacondarwin commented on #3576
@naomiblack & @btford I have a fix for this. Care to take a look?

[2015-09-04 20:44] petebacondarwin commented on #3623
I have a fix here #3997

[2015-09-04 20:46] goderbauer commented on #3411
Answer from the chrome team: They do not announce changes to the events because they are not regarding them as a public interface yet. However, we could contribute a Layout test that checks for events we expect (something along the lines of https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/LayoutTests/inspector/tracing.html) and add ourself to the watch list for that te

[2015-09-04 20:49] goderbauer opened #3998 "Contribute Layout test to Chrome to be notified of event name changes for Benchpress"
Once in a while (~6month) the event names in Chrome traces changes, which break benchpress (see #3411). Unfortunately, there is no public announcement about these changes as the Chrome team doesn't consider these events a public api. However, the Chrome team suggests, that we could contribute a Layout test that checks for events we expect (something along the lines of https://code.google.com/p/chr

[2015-09-04 20:51] goderbauer opened #3999 "Benchpress should use Angular's error reporter"
Currently, DI wraps some exceptions in benchpress making it hard to debug it. Benchpress should use Angular's error reporter to properly report these exceptions.

[2015-09-04 21:39] #3576 closed

[2015-09-04 21:39] #3623 closed

[2015-09-04 21:42] rkirov commented on #3625
With the change of the query algorithm, the restriction is only relevant to the number of queries *on* a given element (used to be within the subtree of a query). Since that is much less strict, I am closing this issue.

[2015-09-04 21:42] #3625 closed

[2015-09-04 21:44] rkirov commented on #3438
With https://github.com/angular/angular/commit/5ebeaf7c9bdab8de6d11c7b4c4d0954553196903 landing, the rootInjectors array does not need to be mutated to reflect injectors coming from view containers.

[2015-09-04 21:44] #3438 closed

[2015-09-04 21:45] rkirov commented on #3319
fixed in https://github.com/angular/angular/commit/5ebeaf7c9bdab8de6d11c7b4c4d0954553196903

[2015-09-04 21:45] #3319 closed

[2015-09-04 21:49] rkirov commented on #2707
Yes, this is an issue and is needed for queries if they are to use DOM distance to determine what is a direct children.

Currently, as a stop gap we use the injector distance (i.e. direct child means `child.parent = injector`), if we flip to using `distanceToParent` the following example will break.
[code]

[2015-09-04 22:18] jteplitz602 commented on #3938
Duplicate of #3926.

I have a PR out for this (#3963), which should land today or early next week.

[2015-09-04 22:18] #3938 closed

[2015-09-04 22:38] anik786 opened #4002 "Estimated Beta or v1.0 Release Date?"
When is the estimated/ targeted beta or v1.0 release date?

Unfortunately the milestones section https://github.com/angular/angular/milestones only show the esitmated dates for the next 2 alphas and there is not any information on how many alpha's there's going to be!

[2015-09-04 22:52] vsavkin opened #4003 "Transformers should record property metadata"
Example

[code]

Should create an instance of ReflectionInfo  with propMetadata set to

[code]

Closes https://github.com/angular/angular/issues/3267 and https://github.com/angular/angular/issues/1800

[2015-09-04 23:03] alfonso-presa opened #4004 "Autoconfigurable bindings for modules and automatic application bootstraping"
I think the binding mechanism is great and very powerful, but I find it very verbose to configure and also it generates unnecessary coupling between the applications and the framework. It would be great to introduce the ability for the modules to be self configured so that Angular 2 becomes more opinionated, providing some sensible defaults out-of-the-box. I know there are those *binding constants

[2015-09-04 23:32] jeffbcross commented on #3941
I guess the problem, more generally stated, is the concern of noise because hundreds of things will be exported, some of which are only exported because they're used by public APIs, though they're not first-class public APIs themselves (return types, parameters of classes that mostly are only constructed via DI for example).

[2015-09-04 23:32] jeffbcross commented on #3941
Yes, that whole comment was a single sentence.

[2015-09-04 23:37] jeffbcross commented on #3416
@nateabele good question. That's not our primary goal at the moment, as we focus on creating a good integrated experience for the framework. It's definitely on our minds start thinking about where there's value to decouple parts of the framework, di being the most obvious bit. Though DI moved into its own module, @vsavkin and I are planning to add it to our npm release process soon (not sure if it

[2015-09-04 23:48] vsavkin opened #4007 "Support events containing - in the event name"
Say we have this directive:

[code]

The following should work `<my-dir (el-event)="doStuff()">`, but it does not. Currently, I have to specify the element event name as follows: `events: ['event: elEvent']`.

[2015-09-04 23:49] sigmundch commented on #3842
Reassigning to @kegluneq as we are now ready to begin implementation on the transformers front.

You can start using the [`LookupMap`][1] class right away by depending on the [`lookup_map` package][2]. All necessary features in dart2js have landed: initial support for tree-shaking `Type` keys is available in 1.13.0-dev.1.0, the full implementation with support for other const-keys will be availabl

[2015-09-04 23:54] vsavkin opened #4008 "DI should support custom error messages"
I should be able to do the following:

[code]

When DI cannot find MyDependency, it will throw a meaningful message, asking, for instance, to include some module.

I don't expect this to be used by app developers, but this can be very useful for libraries and frameworks.

cc @IgorMinar @mhevery

[2015-09-05 00:05] gdi2290 opened #4009 "override toString of all exception"
override toString of all exception to do what ExceptionHandler does. Some errors show up as
 `Error: This method is abstract`
cc @vsavkin

[2015-09-05 00:20] shoebox639 commented on #3972
I'm seeing the same thing with v1.5.3.

[2015-09-05 00:37] vikerman opened #4010 "Exception in abstract_change_detector is masking real exception in onInit method"
Alpha 36:

We have a test component that loads the Angular 2 component under test. However the test component had a bug in it's onInit lifecycle callback handler. However this was completely masked by another exception within Angular 2 in the abstract_change_detector code. We are left with an exception that's not useful.

The following is the stack trace that is actually displayed in the browser c

[2015-09-05 00:54] AlicanC commented on #3990
I have just had the same problem and I have no idea what's going on since the stack trace has nothing related to my code.

[2015-09-05 01:01] #3411 closed

[2015-09-05 01:14] goderbauer opened #4011 "Benchpress is over-reporting in Chrome 45"
When running the treeUpdate benchmark in Chrome 45, benchpress reports scriptTimes and pureScriptTimes that are higher than what was reported in previous versions of chrome:

Chrome 45: ~19ms
Chrome 44: ~9ms

Looking at the browser timeline in chrome 45, the script time should be around 11ms. I am assuming that benchpress is over-reporting in chrome 45.

Note: Chrome Team changed a bunch of event

[2015-09-05 01:15] nateabele commented on #3416
@jeffbcross That sounds great, thanks for the update.

[2015-09-05 01:36] #3924 closed

[2015-09-05 01:39] satish860 commented on #3774
btford is this to say we will be able to get angular new router in 1.5 ?

[2015-09-05 03:31] goderbauer commented on #4011
I just looked at the FunctionCall events produced by Chrome 45 compared to Chrome 44. Looks like Chrome 45 is producing more of them (the extra ones do not have scriptName set) which probably results in the over-reporting. Need to find out what those additional FunctionCalls are and if it is save to just ignore them since they seem to be included in the FunctionCall events with scriptName.

Chrome

[2015-09-05 15:08] thelgevold opened #4013 "[class.active] no longer working"
In earlier releases there used to be an active.class property that could be used to emit an active class that could be used to style the 'active' nav item.
In alpha 36 this doesn't seem to work. Is this a bug or is there an alternative now? Didn't see this in the change log.

[2015-09-05 15:27] tbosch commented on #4011
Michael, could we add a logic to not count FunctionCalls that are nested
inside of others in general?
On Fri, Sep 4, 2015 at 8:31 PM Michael Goderbauer <notifications@github.com>
wrote:

[2015-09-05 15:32] xermiz commented on #3065
i have problem in routes dinamycal whith angular 1 y sou hard

[2015-09-05 15:51] gdi2290 commented on #4013
did you include `CORE_DIRECTIVES`?

[2015-09-05 17:51] #4013 closed

[2015-09-05 17:56] thelgevold commented on #4013
Closing this issue. My assumption was wrong based on changes to the return value of location.path() in the new version of the router.
@gdi2290 Thanks for the suggestion. However, it still turns out that we don't have to include CORE_DIRECTIVES to get access to [class.active]. It's still accessible by default.

[2015-09-05 20:03] rightisleft opened #4014 "type="number" passes String as argument"
When setting the field of:
[code]
From:
[code]

  ORIGINAL EXCEPTION: type 'String' is not a subtype of type 'num' of 'value'.
  ORIGINAL STACKTRACE:

Using Angular Dart alpha 35

Fix: if i set the field to String bZip on the DTO object

[code]

[2015-09-05 20:43] robwormald opened #4015 "Equivalent to resolve in Component Router?"
With the removal of the @InjectPromise and @InjectLazy decorators, is there an equivalent functionality to resolve in ngRoute/uiRouter?

The angular1 version would look something like:
[code]
This is IMO, one of the killer features of the current router and UI-router, as it remove async entirely from the controller and makes it super easy to test. The canActivate etc hooks cover one of the use cas

[2015-09-05 22:31] rightisleft opened #4016 "RouteParams not available to top level directives"
I have a primary component named Ticket which has a nested directive of TopNav

[code]

It exists outside of the first level router-outlet

If i try an acquire RouteParams through DI inside of TopNav - i get the following error:

Exception: No provider for RouteParams! (Topnav -> RouteParams)
  ExceptionHandler.call
  <anonymous closure>
  NgZone._onErrorWithoutLongStackTrace@693253716
  NgZone.<a

[2015-09-05 22:35] manfredsteyer opened #4017 "Question: What's #f='form' ?"
Hi,

the template-driven-forms-sample defines a control-group using a form-tag with #f='form'. Now I'm wondering what that really means and whether this is some short-cut for a longer syntax. At first sight, it seems a bit strange, that a handle gets a value. I would have expected something like #f without an assignment.

What are the ideas behind this?

Wishes,
Manfred

[2015-09-05 23:34] #3627 closed

[2015-09-05 23:59] PascalPrecht commented on #4017
Hi Manfred,

If you have `#f="form"` this basically means that you're assigning the instance of a component to that local `#f` variable. Why the `="form"`?

Well, if you have an element/component with more than one directive on it, how should angular know which instance you want to get a reference from? That's why there's a `exportAs` property on the `@Component` annotation that allows you to expo

[2015-09-06 00:25] brandonroberts commented on #4015
You could implement the OnActivate interface which can be used to resolve data before the component navigation completes. Its called after CanActivate and the component will not be activated until its resolved when using a promise.

[2015-09-06 02:05] robwormald commented on #4015
@brandonroberts not a bad idea, but my concern there is that it necessarily couples a component to the router I think, vs using the constructor and DI, which would allow you to test/reuse a component independently of the router.

[2015-09-06 02:21] manfredsteyer commented on #4017
Hi Pascal,

thanks for your quick reply and this great explanation.

Wishes,
Manfred

[2015-09-06 02:21] #4017 closed

[2015-09-06 06:11] bduffany commented on #2296
@mhevery consider the following use case (which I have actually run into multiple times while working in Angular2): say I have written a component which fires a bunch of custom events. Now, another developer likes my component, and wants to "extend" my component by wrapping it with a lightweight component and adding a few custom behaviors. But now the issue is that the lightweight component has to

[2015-09-06 06:15] bduffany commented on #2296
@2fdevs I think with the `bubbles` argument that would result in namespace clashes, e.g. if two sub-components want to bubble an event and it has the same name. It's bad enough currently that native events like `(click)` are already reserved names for events. I think there should be a separate syntax entirely for custom events, but I digress.

[2015-09-06 06:51] david-gang opened #4018 "support bower package management"
This feature request may be connected to #3257 .

One of the main workflows today, for maintaining dependencies to 3rd parties is through bower.

The bower.json contains all dependencies. Then the bower command line is used to download all modules transitively. Afterwards we use modules like [main-bower-files] (https://www.npmjs.com/package/main-bower-files) to create a list of files which have to

[2015-09-06 07:56] 2fdevs commented on #2296
@SekibOmazic @mhevery I must say that after using a lot Angular 2 I still didn't needed so maybe it's not necessary I think.

@bduffany on a first moment I used native events but after understanding better how Angular 2 works finally I changed a few things and I think that I don't need this feature anymore.

[2015-09-06 14:38] vikerman opened #4019 "Exception in component constructor is masked by Angular"
Alpha:36 Angular Dart.

When there is an exception in the constructor it is not reported properly in the Exception message. It just says "Error during instantiation of <class>". When I set the breakpoint in the Injector class I do see the actual stack trace being stored in the inner exception which would help me exactly pinpoint the problem. That stack trace is much more valuable than the current

[2015-09-06 16:27] wardbell commented on #3941
Maybe we need a marker for "small stuff" that is only exposed when you want to see it all.

Anything with the small stuff comment is hidden by default but available by checking "Show it all!"

[2015-09-06 16:28] wardbell commented on #3941
And search can find anything, large or small.

[2015-09-06 17:21] Chocoloper opened #4020 "Dynamic router-links"
Hey guys! I'm playing around with Typescript and Angular2 and wanted to create router-links with the help of ng-for with the help of an stringArray but had some problems... Following example:

[code]
When I try create the router-links like that i get the following error:
`EXCEPTION: Parser Error: Got interpolation ({{}}) where expression was expected at column 3 in [['/{{button}}']] in null`

I wo

[2015-09-06 17:48] gdi2290 commented on #4020
prefered method
[code]

without the router
[code]

[2015-09-06 19:13] Chocoloper commented on #4020
Well... thank you! It works now but you got one `s` to much. The working example is:
[code]
 I couldn't find any examples for this for hours and my own test-approaches had no success! Hope this can help other people too! Thank you!

[2015-09-06 19:13] #4020 closed

[2015-09-06 19:51] #4016 closed

[2015-09-06 21:30] manfredsteyer opened #4021 "Question: Custom-Validator and template-driven-forms"
Hi,

the sample at [1] shows how to use template-driven forms and how to use custom validators in such a scenario. I've tried to create an own sample on the basis of this with the current Alpha (2.0.0-alpha.36/angular2.dev.js). Unfortunately I experienced some general show-stoppers:

- I can not import NG_VALIDATORS when I use the mentioned code-base
- The same is true for CONST_EXPR

Do I see it

[2015-09-06 22:42] PascalPrecht commented on #4018
I think we actually try to get away from using bower and simply stick with
npm because it's the best package manager out there. With bower you could
simply install from github endpoint tho, so that should solve your issue.
On Sep 6, 2015 8:51 AM, "David Gang" <notifications@github.com> wrote:

[2015-09-07 03:13] ericmartinezr opened #4022 "Router: property 'parentView' of undefined when missing selector in nested router"
I know this is being tracked here https://github.com/angular/angular/issues/1662, but I didn't want to contaminate that thread with this issue.

From the issue referenced I understand that `@Component` without a selector is valid, so this works (I tried it and it does)

[code]
But personally I'm too used to use selectors for components, so at first I tried adding a selector and I forgot to specify

[2015-09-07 05:00] jeffbcross opened #4023 "refactor: include http and router in angular2.ts"
As discussed in #3458, http and router will be included in the angular 2 bundle. So they should be imported in `modules/angular2/angular2.ts`. They should also be included in the `angular2.d.ts` typings.

This was planned to be done in #3713, but I decided to defer the change so I could land the giant PR ASAP.

[2015-09-07 05:05] jeffbcross commented on #3828
Closed by @IgorMinar with d78261695b3db304501063e69f600252d5e6f445

[2015-09-07 05:05] #3828 closed

[2015-09-07 05:26] jeffbcross opened #4025 "refactor: reorganize testing bundle and import"
I was planning to do this as part of #3713, but that PR was already huge and complicated, so I moved it out as its own issue.

The modules that are currently `test_lib` and `test` inside of modules/angular2/ should be combined into a single module called `testing`.

[2015-09-07 05:27] jeffbcross opened #4026 "docs(typings): make typings match bundles"
Blocked by #4023 and #4025

Angular's typings files should match our bundles 1:1. See #3458 for more info about bundles.

 * angular2.d.ts (includes core, http, router)
 * core.d.ts
 * http.d.ts
 * router.d.ts
 * testing.d.ts
 * web_worker.d.ts
 * web_worker_ui.d.ts

Also make sure the typings get added to DefinitelyTyped, and get documented in our release process.

[2015-09-07 05:31] jeffbcross opened #4027 "refactor: deprecate angular2/angular2 import for dart"
As discussed with @yjbanov, we should deprecate the angular2/angular2 export in Dart since users are encouraged to import `angular2/core` most often, as well as `angular2/bootstrap` when defining root components. The `angular2/angular2` import is most useful for JavaScript developers who are using the full angular2.js bundle.

I'd originally added this line at the top of angular2.dart as part of #

[2015-09-07 05:47] jeffbcross opened #4028 "refactor: move angular2/lifecycle into angular2/core"
3d38ec8aacaaaeb5a4b1e563243ed927bb4d0f03 introduces a new module for `angular2/lifecycle_hooks`, but I think this should be exported from `angular2/core` since our current approach is for core to have all of the basic building blocks of an angular application.

Task:
 * Move `modules/angular2/lifecycle_hooks.ts` to `modules/angular2/src/core/lifecycle_hooks.ts`
 * Re-export all `lifecycle_hooks` e

[2015-09-07 06:01] david-gang commented on #4018
Hi @PascalPrecht ,

Installing from the bower endpoint would solve halve of my problem.
I would need additionally to modify the bower.json file.

We would need to add the main property.
[code]
Otherwise the workflow with main-bower-files which is mentioned above would not work.
I could create a PR here if it is the way we would want to go.

If not and we go the npm way, how would we get the list o

[2015-09-07 06:26] rolandjitsu opened #4029 "bundled http.js throws errors in Firefox"
I'm using the `http.js` file from `bundles` and when I run some unit tests on Travis I get the following [error](https://travis-ci.org/rolandjitsu/ng2-play#L589):
[code]
Could it be because the way it was compiled?

[2015-09-07 07:22] cexbrayat commented on #4021
the new `NG_VALIDATORS` is not yet released. In alpha-36, you can do:

    bindings: [bind(NgValidator).toAlias(MyValidator)]

[2015-09-07 08:28] alfonso-presa commented on #4004
As I think a line of code is worth a hundred words, I've decided to implement it in [my own fork](https://github.com/alfonso-presa/angular/tree/AutoConfiguration) and it's working very nicely.

This is the code of the http sample using the autoconfiguration:

[code]

As you can see, the autoconfiguration eliminates a lot of boilerplate code (in this case allowing to use Http object by just includi

[2015-09-07 09:06] svrcekmichal opened #4030 "Error during instantiation of Token(Promise<ComponentRef>)!."
Hi, I'm getting error while trying to resolve all parameters for class in version .36

Here's documentation about `FormBuilder`:
[code]

I'm using angular2-seed setup from @mgechev, trying to create small form with following code:
[code]

Already tried to set `viewBindings` to value `[FORM_BINDINGS]`,`[FormBuilder]`, never with success, always getting error:

[code]

[2015-09-07 09:10] manfredsteyer commented on #4021
Thx for your help. I should have used the corrent for alpha-36.

But I'm still wondering how to use thouse multi-bindings directly with the Injector.

Thx again and best wishes,
Manfred

[2015-09-07 09:34] cexbrayat commented on #4021
The multi binding is also not yet release, so you can't use it in alpha 36

[2015-09-07 10:40] svrcekmichal commented on #4030
After a while looking for solution a found that i can use inject in constructor

`constructor(@Inject(FormBuilder) fb:FormBuilder) {`

the guestion is , why `viewBindings` isn't able to resolve `FormBuilder`? Or can someone explain to me, what am i making wrong? Thanks

[2015-09-07 10:45] marcalj commented on #3732
Ups sorry :S

[2015-09-07 13:13] PascalPrecht commented on #4030
Hey @svrcekmichal can you leave some information on what your dev stack looks like? I'm experiencing the same issue with @pkozlowski-opensource 's ng2-play repositories.

[2015-09-07 13:15] PascalPrecht commented on #4021
@manfredsteyer also, what is your use case here for multi bindings? You should be able to resolve your problem without'em

[2015-09-07 13:23] PascalPrecht commented on #4018
Transitive dependencies would need to be declared in your package.json as well AFAIK, just as you'd do with bower. I don't know what's the planned story for bower here, but my latest status was that bower is dead.

[2015-09-07 13:27] rixrix commented on #2554
Hi,

I'd like to work on this task and started some initial work on it. It's on my branch at the moment, would be good to get some feedback. thanks

[2015-09-07 13:30] PascalPrecht commented on #2554
@rixrix LGTM could you send a PR?

[2015-09-07 13:39] PascalPrecht commented on #3651
@wardbell I agree with you. I'd still like to know if that's a perf penalty only when we transpile code, or also when it's used natively.

[2015-09-07 13:41] rixrix commented on #2554
@PascalPrecht thanks for looking into this. PR sent.

[2015-09-07 14:07] PascalPrecht opened #4032 "fix(DynamicComponentLoader): make it work with ViewEncapsulation.Native"
Having a simple scenario like this:

[code]

Results in the following runtime error:

[code]

This is obviously due to DCL not querying inside ShadowRoot when `ViewEncapsulation.NATIVE` is used. Note that this works with either `ViewEncapsulation.NONE` or `ViewEncapsulation.EMULATED`.

I consider this a bug. What's the intended behaviour here?

[2015-09-07 14:37] david-gang commented on #4018
I agree.
After reading http://blog.npmjs.org/post/122450408965/npm-weekly-20-npm-3-is-here-ish it looks like we can get away just with npm.
It is not clear to me what the equivalent of the bower main property in package.json is, but i am sure that they will have to provide it sooner or later.

[2015-09-07 14:37] #4018 closed

[2015-09-07 16:00] wardbell commented on #3651
Oh yes. And how much of a penalty? How many loops before the difference hits, say,10ms? Knowledge is good.

[2015-09-07 16:12] rolandjitsu commented on #4032
@PascalPrecht I use `/deep/` selector to be able to query into shadow roots so it should be fairly easy to implement. I think this should be implemented if the view encapsulation is set to `ViewEncapsulation.NATIVE`, because how else would we use the DCL to add child components when we use native shadow DOM?

[2015-09-07 18:52] manfredsteyer commented on #4021
@PascalPrecht Yes, I can resolve my problem without them. But it seems, that the ng-model-directive uses it, to get its validators injected. Everything one binds to NgValidator (or NG_VALIDATORS in the future) is injected for validation into ng-model. So I wondered how this works under the covers ...

I guess, in future releases, the injector will have a method to get several dependencies for one

[2015-09-07 21:33] wardbell opened #4033 "NgClass and empty string as a class name"
Example:
[code]
Assume `hero` in this detail changes as a new hero is selected from a parent list
1. 1st hero is "Mr. Long Name"
2. 2nd hero is "short"

#1 First hero displays and the class "selected" is present
#2 Second hero triggers change in value. Angular fails with exception
`DOMException: Failed to execute 'add' on 'DOMTokenList': The token provided must not be empty.(…)` thrown in `NgClass

[2015-09-07 21:45] wardbell commented on #4033
Example:
[code]
Assume `hero` in this detail changes as a new hero is selected from a parent list
1. 1st hero is "Mr. Long Name"
2. 2nd hero is "short"

#1 First hero displays and the class "selected" is present
#2 Second hero triggers change in value. Angular fails with exception
`DOMException: Failed to execute 'add' on 'DOMTokenList': The token provided must not be empty.(…)` thrown in `NgClass

[2015-09-07 23:23] Krustie101 opened #4034 "Component class with more than one parameter in the constructor results in a typescript compilation error"
Consider the following example

[code]

This generates (ts 1.6-beta) a compilation error TS2345: Argument of type 'typeof MyComponent' is not assignable to parameter of type 'Type'.

This boils down to an equivalent simpler example that generates a compilation error:
[code]

The problem lies in the fact that the definition of Type contains a "new" declaration with 1 argument causing MyClass not to

[2015-09-08 00:27] wardbell opened #4035 "test-lib: should be able to call inject AsyncTestCompleter within `beforeEach` but throws instead (alpha-36)"
Often useful to complete test setup in the `beforeEach` when the setup involves BOTH injection and an async invocation of a method on the injected service. Then subsequent tests can be synchronous.

Here's an example:
[code]

Unfortunately, this throws:
[code]

[2015-09-08 03:41] jeffbcross commented on #3941
Such a marker may be useful. I'd guess that the ratio of actual "public APIs" to "types that happen to be used with public APIs" is something low, like 1:4.

[2015-09-08 03:55] jeffbcross opened #4036 "discuss: remove angular2/bootstrap and angular2/render."
In the process of shifting around modules in #3713, it was still necessary to have modules for bootstrap and render that would not be included in the angular dart core module. This is so users can choose if they want the reflective bootstrap exported from `angular2/bootstrap`, or the static bootstrap exported from `angular2/bootstrap_static`. So when dart users are creating their root component, t

[2015-09-08 03:58] jeffbcross commented on #4029
@rolandjitsu is it the same as this file? https://code.angularjs.org/2.0.0-alpha.36/http.js

Can you provide a reproduction, and more of a stack trace?

[2015-09-08 04:03] jeffbcross opened #4037 "chore: move src/compiler/* to src/core/compiler/"
In the middle of some shifting around of folders, it looks like some files were added to `modules/angular2/src/compiler` which should now be in `modules/angular2/src/`**`core`**`/compiler`.

@tbosch I'm happy to make the move if this is correct.

[2015-09-08 04:12] jeffbcross commented on #3713
Closing this as the major work has been landed as of f14b212dc997a021d874ac0fc3e0e4d57a734fe4, and several follow-up issues have been filed:

 * Urgent: #4026 docs(typings): make typings match bundles
 * Urgent: #4025 refactor: reorganize testing bundle and import
 * Urgent: #4023 refactor: include http and router in angular2.ts
 * #4037 chore: move src/compiler/* to src/core/compiler/
 * #4036 di

[2015-09-08 04:12] #3713 closed

[2015-09-08 04:38] jeffbcross commented on #3651
AFAIK `let` is pretty well-optimized by TypeScript, and doesn't need to be discouraged for application developers. Regarding fat arrow and `this`, I can't remember details, but I've seen significant negative results in macro benchmarks using `someFunction.bind(ctx)`, but I think TypeScript compiler is good about choosing the optimal fat arrow transpilation approach based on context. For example, i

[2015-09-08 04:48] johnpapa opened #4038 "TypeScript Definition of RouteConfig Shows Error if component's Constructor has > 1 parameter"
When I have a Component that takes more just RouteParams in its constructor, I get a TypeScript definition error in the editor. The code runs, but the typings file likely needs to be updated. here is my component
![2015-09-08_00-45-07](https://cloud.githubusercontent.com/assets/1202528/9726595/14a1fdb0-55c3-11e5-88da-0052dfcd2727.png)

And here is the red underlines in the RouteConfig.

![2015-09-

[2015-09-08 04:48] johnpapa commented on #4038
cc // @wardbell

[2015-09-08 04:49] wardbell opened #4039 "@View.templateUrl should allow URL relative to the component (alpha-36)"
In alpha-36, the `templateUrl` is relative to the application root url.

[code]

That is fine if everyone is keeping their templates in a template directory. But if you like your template next to the component, you want to specify a url relative to the component.

That would become possible if allowed a url syntax with leading '.'.

In this next example, the template is a sibling of the component

[2015-09-08 04:50] johnpapa opened #4040 "Router.navigate should have an overload that accepts the tuple"
Currently `router.navigate()` only accepts a url as a string, like this

`    this._router.navigate(``${ROUTES.detail}/${this.currentHero.id}``);`

This works, but it would be great to be able to pass the tuple to it like this as another option:

    this._router.navigate([ROUTES.detail, {id: this.currentHero.id}]);

[2015-09-08 04:50] johnpapa commented on #4040
cc // @wardbell

[2015-09-08 04:57] gdi2290 opened #4041 "`this` missing from template"
In angular 1 it was great having access to `this` in the template syntax since you can intuitively write something like this
[code]
for quick debug info when teaching angular. This is not the case in Angular 2 as the keyword `this` does not work.

### proposal
allow `this` keyword in template to reference the component instance

[2015-09-08 05:00] gdi2290 commented on #4039
I think you're looking for https://github.com/angular/angular/issues/2383

[2015-09-08 05:10] svrcekmichal commented on #4030
@PascalPrecht as i have mentioned above I'm using @mgechev 's anguar2-seed

[2015-09-08 05:22] rolandjitsu commented on #4029
@jeffbcross as you can see the travis [built](https://travis-ci.org/rolandjitsu/ng2-play#L587), the only this it spits out it's that strict mode error. I am not sure if it is the same file as the one on CDN, but it's the one that is available at the npm distribution under the `bundles` folder. And the line it complains about is:

[code]

[2015-09-08 05:31] rolandjitsu commented on #4034
@Krustie101 this is a duplicate of [#3972](https://github.com/angular/angular/issues/3972).
@mhevery probably this should be closed.

[2015-09-08 05:57] wardbell commented on #4039
@gdi2290 Yup. That's it. Sorry for duplication. Maybe this helps because that issue is freighted with discussion that is a bit hard to follow.

[2015-09-08 07:21] robwormald opened #4043 "Http requests should be lazy / cold Observables"
As Http is Observable powered, it makes more semantic sense for requests to be "lazy", that is, nothing should happen until .subscribe is called somewhere downrange.

Currently, calling `http.get(url)` will immediately fire off an XHR, irrespective of whether or not the request has been subscribed to. This is probably a side-effect of the EventEmitter using a Subject (and thus could be resolved wh

[2015-09-08 07:35] wardbell opened #4044 "Support override of bindings in `TestComponentBuilder` (alpha-36)"
Today we have `overrideTemplate`, `overrideDirectives`, and `overrideViewMetadata`.

But there is no `overrideBindings` and (I'm pretty sure) that means we cannot mock a DI binding that is mentioned in the `bindings` or `viewBindings` properties of `@Component`.

Why? Because those properties set bindings in the component's child injector which is inaccessible to the test developer.

Would love to

[2015-09-08 07:44] Zyzle commented on #3972
Just noticed, this and I'm having the same issue being reported by the Atom Typescript plugin. The gulp task I use to compile the project however doesn't complain

[2015-09-08 08:15] PascalPrecht commented on #4044
You are not. I also check the source code of TCB. I think it's not even super hard to implement this, unfortunately i'm a bit packed right now. Thanks for opening this.

[2015-09-08 10:03] Nemikolh commented on #4038
I have the same problem and it is due to the fact that the angular definitions of Type is:
[code]
So it restrict the constructor to one argument only. If you replace in `angular.d.ts`, the definition of `Type` by this:
[code]
then you're problem is sovled.

[2015-09-08 10:22] guybedford commented on #3275
@jeffbcross thanks for your patience - I just had a look at this profile and it seems like this may be the bulk export * issue as described as its spending all the time in the declaration phase, with lots of Object.keys calls (which is exactly what export * uses in the declarations). From what I can tell in the repo link, you're running SystemJS 0.18.10 against a Traceur build? Can you clarify exa

[2015-09-08 10:23] Nemikolh commented on #4038
I just realized that the `Type` interface generated by the build task `docs/typings` on master is correct. So I guess, you can also simply wait for the next alpha release (assuming the definitions update will follow at the same time on DefinitelyTyped).

[2015-09-08 14:51] vicb commented on #4044
we have `beforeEachBindings()` for that, see it in action in [integration_spec](https://github.com/angular/angular/blob/70f6a46f1cbe090c946fd5ffea13f78be216ac05/modules/angular2/test/core/compiler/integration_spec.ts#L100).

[2015-09-08 14:51] #4044 closed

[2015-09-08 14:55] vicb commented on #4035
Unfortunately, it is not possible to inject the `AsyncTestCompleter` in a `beforeEach` because it depends on `done` which is a parameter to `it` (and the likes).

However we should investigate why we don't get the expected & clearer [error message](https://github.com/angular/angular/blob/70f6a46f1cbe090c946fd5ffea13f78be216ac05/modules/angular2/src/test_lib/test_lib.ts#L148).

[2015-09-08 15:23] vicb commented on #4028
I've only moved the hooks in a separate file for doc purpose (ie to have all of them documented in one  place and be able to link to the module from directives inline doc).

If moving them to core still allows that, I'm +1

[2015-09-08 15:56] jeffbcross commented on #3275
@guybedford thanks for taking a look!

We're actually close to removing Traceur from the build process I think @rkirov is working on it, with some details in #2829.

Also, @rkirov recently updated our output to use CJS instead of System format for ES5, because of TypeScript compiler issues: e9ad100b1f7970ff020c5de5e6578794dc36145e. When we revisit System format, we'll have to make sure we're getti

[2015-09-08 16:15] wardbell commented on #4035
Hut?  `done` is passed into the `beforeEach`.  I write async `beforeEach` methods **all the time**.

[2015-09-08 16:19] wardbell commented on #4035
I'm seeing the following boilerplate at the top of all my `it` tests ... and something similar at the top of tests throughout the Angular code base.
[code]
**This is just nuts!**

[2015-09-08 16:19] jeffbcross commented on #4029
Hmm, that's a problem with Rx, probably from this commit where it was changed from assignment to declaration (I think assignment is okay in strict mode, i.e. `var onGlobalPostMessage = function(){}`). https://github.com/Reactive-Extensions/RxJS/commit/5555090ec1524178c417a8f0f7cf846cb85b4040

[2015-09-08 16:19] #4029 closed

[2015-09-08 16:23] vicb commented on #4035
You're actually right, `done` is actually a parameter to both `beforeEach` and `it`.

However jasmine's `beforeEach` is used by `beforeEachBinding` and the `beforeEach` used in the unit tests is actually a test_lib construct. I'm not sure if/how we can support injecting an `AsyncTestCompleter` there.

[2015-09-08 16:28] kegluneq opened #4049 "bug(compiler): Token#toString returns `null` for TokenType.OPERATOR"
[Token#toString](https://github.com/angular/angular/blob/master/modules/angular2/src/core/change_detection/parser/lexer.ts#L76) is missing a case for `TokenType.OPERATOR`, so it returns `null` when called for a token of that type. This causes Dart string interpolation to fail, for example [here](https://github.com/angular/angular/blob/master/modules/angular2/src/core/change_detection/parser/parser

[2015-09-08 16:31] wardbell commented on #4035
The `AsyncTestCompleter` is a PITA. It's an object with a `done` fn.  Why does it exist?  DART?  I never use it. In fact, my first action is `let done=async.done.bind(async.done);`.   My test helpers do this for me.

[2015-09-08 16:39] wardbell commented on #4035
At worst a dedicated `beforeEachSomething` (akin to `beforeEachBinding`) could do the trick. Ideally I could combine test-binding set up and TCB initialization in the same `beforeEach...`.

I would be happy to work w/ the person responsible for testing to come up with a more efficient API.

[2015-09-08 16:47] wardbell commented on #3980
FYI I'm working on a chapter for application testing for the Dev Guide.  Most of it would serve to guide developers in writing tests that explore Ng2 features or confirm bugs.

[2015-09-08 16:49] kegluneq commented on #4003
I'm currently refactoring the `DirectiveProcessor` step (where this would happen), so once that is in I'll focus on this next. I do not expect it will be committed in time for alpha-38

[2015-09-08 16:58] wardbell opened #4051 "Support preloading of templates, at least for testing"
As it stands (alpha-36) one cannot write unit tests of the actual template when the template is supplied via `templateUrl`.

I can't even fake it if component A's template (even a template override) depends on component B which gets its template via `templateUrl`.   I have been unsuccessful using `overrideDirective` to mock the dependent component B ... not that I should have to bother.

Could we

[2015-09-08 17:36] kara commented on #4051
I think there is a related discussion here:
https://github.com/angular/angular/issues/1610

[2015-09-08 17:43] wardbell commented on #4051
Yes, there it is!

I looked for that issue specifically before adding this on.  But I looked for it only among the open issues. That issue is **closed** although the problem seems yet to be solved.  What am I missing?

[2015-09-08 17:54] kara commented on #4051
I think it was closed because there is an npm plugin now that should help:
https://www.npmjs.com/package/karma-redirect-preprocessor

And looks like in the angular2 project,  #3605 might address this?

[2015-09-08 18:01] #4049 closed

[2015-09-08 18:23] theodorejb commented on #3428
Why not remove the duplicate? It looks like this was fixed for a different release in #3954. Would you accept a pull request?

[2015-09-08 18:39] btford commented on #4038
Duplicate of #3753.

[2015-09-08 18:39] #4038 closed

[2015-09-08 18:42] guybedford commented on #3275
Sure, no problem at all!

[2015-09-08 18:44] ericmartinezr commented on #4030
I've seen this behaviour before and, in my case, is because I was using some feature without importing it.

Although is a little specific to my case, the error message is the same. See this plnkr : http://plnkr.co/edit/M9SzHP?p=preview

If you comment, for example : `Route`, or `RouteConfig` you'll get a message indicating that `Route` or `RouteConfig` is not defined which gives you an  idea of wh

[2015-09-08 18:51] rolandjitsu commented on #4029
@jeffbcross is there any way to fix this, as it fails my tests?

[2015-09-08 19:31] PascalPrecht commented on #4044
@vicb `beforeEachBindings()` doesn't help here. This we can use to setup general bindings for our tests. But as soon as a component that needs to be tested comes with it's own bindings, we're not in control anymore on what they look like.

@wardbell is correct that we need to extend the TCB to support `overrideBindings` as well, otherwise we can't setup mock bindings for child injectors.

[2015-09-08 19:43] brandonroberts opened #4054 "RouterLink fails to generate links for nested routes with dynamic parameters"
When I try to generate a link to a nested router path with a dynamic parameter I receive an error.

[code]

If I generate a link without using a dynamic parameter to a nested router path it works correctly, and if i use a regular href with an absolute path, the link does navigate correctly.

Issue reproduced here: http://plnkr.co/edit/zoSAcCkAwQ1TfzxJaiSI?p=info

[2015-09-08 20:01] johnpapa opened #4055 "fix(router): wildcard routes with redirects"
As of alpha 36 there is no `otherwise` route condition. The use case is where you want an invalid route or set of routes to either go to specific route or run a function that can do custom logic and re-route.

As another option for simple redirection, I would expect this to work, but it does not

[code]

I'm requesting both an `otherwise` and the * pattern above to work.

cc // @btford

[2015-09-08 20:01] johnpapa commented on #4055
See this app for details https://github.com/johnpapa/angular2in22-docs

[2015-09-08 20:17] PascalPrecht commented on #4044
@wardbell FYI: there's a pending PR right here! ~ https://github.com/angular/angular/pull/4052

\o/

[2015-09-08 20:31] Krustie101 commented on #4034
Sorry for the duplication.

The current definition of type also implies that an interface cannot be assigned to a Type, so that applying bind(.) to an interface also results in a compilation error in Typescript. Is this expected behaviour?

[2015-09-08 20:41] PascalPrecht commented on #4041
Prolly better suited for teaching: `<pre>{{this | json}}</pre>`

However, I don't think that this should be supported in A2. it's not really convenient to write template expressions like this and I also don't think we should give ppl the option to do so. There's no real additional value afaics..

[2015-09-08 20:46] PascalPrecht commented on #3651
@jeffbcross thanks for clarifying this. By your comment I assume then that this is only a perf penalty when transpiling.

[2015-09-08 21:08] sigmundch commented on #3842
FYI - 1.13.0-dev.2.0 was released yesterday, so all of the dart2js support is now available on the dev channel.

[2015-09-08 21:25] kentcdodds commented on #4041
I use `this` in angular-formly templates. It's handy to have in a library context, though I would recommend people doing this very much in application code. I say :+1: to this.

[2015-09-08 21:32] kentcdodds commented on #4041
If you're reading this from email, you wont get my update:

"...though I would recommend..."   --->    "...though I wouldn't recommend..." pretty crucial three characters. :-)

[2015-09-08 21:48] vicb commented on #4035
To be able to `inject()` dependencies.

[2015-09-08 22:01] btford commented on #4055
@johnpapa this is sort of a dup of #2965.

I'm going to amend your original post to better reflect your original issue (wildcard + redirect does not work).

[2015-09-08 22:03] mhevery opened #4059 "component events should mask event propagation."
[code]

The above code creates an issue. It conflates the `change` event from the `MyComponent` with the bubbling `change` event from the `<input>`.

The correct behavior is that the `change` event which is part of the components should filter out the DOM `change` events. Otherwise

[code]

will sometimes get the `$event` from the `MyComponent` and sometimes from the `input` event.

[2015-09-08 22:07] gdi2290 commented on #4043
see https://github.com/angular/angular/pull/4058

[2015-09-08 22:10] kara commented on #3397
@tbosch The syntax in your example is now `[ng-for-of]` rather than `[of]`, right?

[code]

Here's a plunker of the working code for anyone else playing around with this:
http://plnkr.co/edit/Hn393B9fJN6zgfaz54tn

[2015-09-08 22:19] johnpapa commented on #4055
adjustments look good. thank you Brian

[2015-09-08 22:38] jteplitz602 commented on #3045
Closed in f3da37c92f6ac2f4dd39da6ca67848d5bece0dcf

[2015-09-08 22:38] #3045 closed

[2015-09-08 23:02] tbosch commented on #3397
@kara yes, this is correct.

[2015-09-08 23:48] robwormald opened #4062 "Proposal: Support declarative binding from View events to Observables"
Not sure this is a good idea, or even possible, but thought I'd throw it out there.

In vanilla Rx, if I wanted to listen to a DOM event to do a typeahead or something I'd do something like:

[code]

In current ng2, if I wanted to do the equivalent, I'd do something like:

[code]

This all works great (or will, once Rx stuff settles).

However, if I wanted to do the same sort of thing from an arbi

[2015-09-09 00:03] gdi2290 commented on #4062
:+1: it would be awesome to have Rx Subjects for two-way data-binding

[2015-09-09 00:43] jeffbcross opened #4064 "refactor(WebWorker): move web worker to its own module"
(Recapping an IRL convo between me, @jteplitz602 and @alexeagle )

TL;DR: I propose moving all `web_worker` logic into its own module as a sibling of angular2, to be located at `modules/angular2_worker`.

Why?

 * All sources inside of the angular2 module should semantically be considered children of angular2
 * Worker is really a different distribution of angular2, not a child
 * Everything insid

[2015-09-09 01:30] ericmartinezr commented on #3084
@TiagoBraga39 did you find any solution for refreshing and 'back' button? I'm experiencing the same issues. [Other users](http://stackoverflow.com/questions/32429089/how-do-i-support-routeparams-on-page-reload-using-angular-2-dart) have found a related issue.

[2015-09-09 01:33] gkalpak commented on #3651
I am still not sure why there is perf penatly.
Is `var _this = this;` that expensive ? (I am geniously curious.)

[2015-09-09 01:43] btford commented on #4040
100% agree. I may even have already filed this issue.

[2015-09-09 01:45] btford commented on #3979
Amazing writeup, @ericmartinezr. I'll take a look at this tomorrow afternoon.

[2015-09-09 01:49] btford commented on #4054
I think you want `[router-link]="['/users', { 'param': user }, 'profile' ]`. Params are component-specific.

I tested with your plunker, and this appears to work as expected, but if I'm incorrect, please comment and I'll reopen for discussion. Thanks!

[2015-09-09 01:49] #4054 closed

[2015-09-09 01:52] brandonroberts commented on #4054
Thanks for the clarification

[2015-09-09 01:54] btford commented on #3921
@IAPark I appreciate the offer, but I think @matsko, @IgorMinar, and I need to sit down and design how this should work. After we have an idea of how this should work, I'd by happy to have your help implementing this feature.

Yep. See http://davidwalsh.name/function-debounce

[2015-09-09 02:35] btford commented on #3957
You can get ahold of `queryParam` with `<RouteParams>params.get('queryParam')`.

If this isn't working, please open a new issue that includes a reproduction showing the expected vs. actual behavior. Thanks!

[2015-09-09 03:43] peter-svintsitskyi commented on #3957
It doesn't work after page refresh. This is part of the RootRouter::constructor()
[code]
Thanks for closing!

[2015-09-09 04:35] johnpapa opened #4068 "npm install angular2 installs typings bundles to root typings folder"
When I run npm install angular2 , it installs typings bundles to root typings folder. This is fine if that is where I put them but my project keeps the typings folder under the /src folder. So I end up with 2 sets.

Is there a way to make them go to the folder that my tsconfig.json specifies?

this is my `src/tsd.json` file

[code]

[2015-09-09 04:35] johnpapa commented on #4068
cc // @wardbell

[2015-09-09 04:36] dsebastien commented on #4062
+1, let's RX all the things :)

[2015-09-09 05:21] gkalpak commented on #3877
@yjbanov, shouldn't this have been closed by 8dd6c46 ?

[2015-09-09 05:31] btford commented on #4040
ah– better yet, I already had a fix in progress. PR incoming.

[2015-09-09 05:39] wcjohnson11 opened #4073 "Typo in Renderer.ts"
Creats => Creates

https://github.com/angular/angular/blob/master/modules/angular2/src/web_workers/worker/renderer.ts#L42

[2015-09-09 05:40] gdi2290 commented on #4073
yo, you're suppose to make a pull-request

[2015-09-09 05:52] jeffbcross commented on #3651
@gkalpak sorry, I was saying that should _not_ be expensive. But I'm not sure if there are cases where fat arrow isn't transpiled to such efficient code. I.e. it may be transpiled to `a.bind(this)`.

[2015-09-09 06:23] btford opened #4083 "Router Proposal: adopt convention for route alias"
I propose that we adopt an enforced convention of naming convention were route names are TitleCase: `MyRoute` rather than camelCase `myRoute`.

I think it helps distinguish between URLs and the DSL. Consider:

[code]

[code]

[2015-09-09 07:08] MrPardeep opened #4084 "Angular 2 Template Driven Form radio button Not working."
There is problem occurred while fetching the value from the radio button in the angular 2 template driven forms. i have used "[(ng-model)]" two way binding of angular 2 for getting the value from the radio button. it does't return neither string nor boolean.

[2015-09-09 07:10] PascalPrecht commented on #4084
@MrPardeep Please provide a plunk so we have a chance to take a look at your scenario

[2015-09-09 07:32] MrPardeep commented on #4084
@PascalPrecht Thanks for quick response. i have created plunker with HTML and .ts file.Link is here.

http://plnkr.co/edit/b5plRRPLaDEaLSDBEdxH?p=preview

[2015-09-09 08:24] TiagoBraga39 opened #4088 "Shadow DOM Emulation"
Hi all!

I've been working around with shadow dom, but unfortunately only chrome and firefox are currently supporting it. So, in the meantime i've been using the Emulation.
With that said, I have a couple of questions:
<ol>
    <li>Is there an API I can use to manipulate the DOM and Shadow DOM? I only know about ElementRef Class to manipulate the Light DOM (let's call it that way).</li>
    <li>As

[2015-09-09 08:32] PascalPrecht commented on #4088
If you do use native Shadow DOM, you also need to use dedicated CSS selectors. Angular will rewrite them for you then.

[2015-09-09 08:47] TiagoBraga39 commented on #4088
It should at least...

<b>What I wrote:</b>
[code]

<b>The output:</b>
[code]

<b>The expected output:</b>
[code]

[2015-09-09 11:40] SanderElias commented on #3774
@btford, Just for my easy of setting up plunks, is there an pre-build artifact available online somewhere?

[2015-09-09 11:41] rightisleft commented on #2920
I'm still seeing this on alpha 35. I a route reloads correctly, but params are ignored.

http://stackoverflow.com/questions/32429089/how-do-i-support-routeparams-on-page-reload-using-angular-2-dart?noredirect=1#comment52795245_32429089

[2015-09-09 11:44] rightisleft opened #4089 "Route Parameters are lost on reload"
If you reload a page, an isolated route will work, but route params will not.

Related to:
https://github.com/angular/angular/issues/2920

http://stackoverflow.com/questions/32429089/how-do-i-support-routeparams-on-page-reload-using-angular-2-dart?noredirect=1#comment52795245_32429089

FTA:

Im using the Router and RouteParams in Angular 2 Dart.

My routes are as follow:

    @RouteConfig(const [

[2015-09-09 12:16] johnpapa commented on #1293
The subclassing of Views is a nice option. I like the idea of allowing devs to do this on their own. I am not sure I thin kits a good idea for Angular to do this in the box, but perhaps just show how to do it in the docs and guide folks there if they want to do that.

Is there a performance impact to listing more directives that is used?

I can also see that it would be common to use a directive i

[2015-09-09 13:00] webteckie opened #4090 "Does not inject parent if child component dynamically loaded"
If component A uses DynamicComponentLoader:loadIntoLocation() to load component B dynamically then component B's constructor does not get the parent injected onto it.

[2015-09-09 14:03] btford commented on #3957
Ah, I misunderstood.

Yes, I see the issue now.

[2015-09-09 14:15] andresaraujo commented on #4089
Same here using HashLocationStrategy

This is the stacktrace:

[code]

[2015-09-09 14:27] tbosch commented on #4088
Our encapsulation does not support /deep/...
On Wed, Sep 9, 2015 at 1:47 AM TiagoBraga39 <notifications@github.com>
wrote:

[2015-09-09 15:23] wardbell commented on #4035
`AsycTestCompleter` is needed to inject? That is hard to fathom. I asked Igor about this thing too. He doesn't know why it exists either. We both suspect it's. A DART artifact that has no relevance to the JS developer.

All beside the point really. The more I look at the code the more I am convinced that this is relatively easy to fix.  Might have a moment to try.

Meanwhile, I roll my own helper

[2015-09-09 15:40] wardbell commented on #3941
I kind of like the idea of a structured comment that both humans and dgeni can quickly read to understand the classification and categorization of an exported module member.

A little tedious at first bit we have an inexpensive resource who can take a first crack at a sweep. Or maybe we automate that first sweep. Worth discussing internally?

[2015-09-09 15:53] yjbanov commented on #3877
@gkalpak yep

[2015-09-09 15:53] #3877 closed

[2015-09-09 16:01] rolandjitsu commented on #4029
@jeffbcross oh, I just saw that angular has moved to RxNext, thus I suppose this issue will not persist anymore.

[2015-09-09 16:23] #3979 closed

[2015-09-09 16:28] gdi2290 commented on #4088
/deep/ is being removed from spec

[2015-09-09 17:00] zoechi commented on #4088
it was replaced with `>>>` AFAIK but not sure if this will stay, but most browsers support `/deep/` currently (Chrome, Firefox, IE, don't know about others)

[2015-09-09 17:18] gdi2290 commented on #4088
for everyone who is interested about `/deep/` rename to `>>>` here's the chromium ticket

https://code.google.com/p/chromium/issues/detail?id=446051
and the css draft
https://drafts.csswg.org/css-scoping-1/#deep-combinator

[2015-09-09 17:47] mlynch opened #4096 "Add NgStyle to CORE_DIRECTIVES"
`NgStyle` is not exported in the `CORE_DIRECTIVES` array. However, it's being referenced in the `angular/directives.ts` file. Can this be added to the array?

https://github.com/angular/angular/blob/f14b212dc997a021d874ac0fc3e0e4d57a734fe4/modules/angular2/src/core/directives.ts#L63

[2015-09-09 18:18] jeffbcross commented on #4064
Just discussed IRL with @yjbanov and @jteplitz602 and we agreed this made sense. @jteplitz602 and I are going to start on this later this afternoon, hopefully getting the move completed by Friday.

[2015-09-09 18:30] mhevery commented on #3496
How would this work with minification? Would it not break?

[2015-09-09 18:31] mhevery commented on #4083
`MyRoute` is not found in the example provided, not sure what you are referring to.

[2015-09-09 18:31] btford commented on #4083
Updated

[2015-09-09 18:39] niksajanjic opened #4098 "Input type number pattern regex for integers not working properly"
Hi, I can't quite say this is 100% Angular issue but let me give an example to point out the problem:

    <input type="number" ng-model="integer" pattern="^[0-9]\d*$" />

Problem is that it will set input to valid with any Integer number plus one '.', so these inputs will be valid:

123.
563.
7523452.
565632.

This shouldn't happen as RegEx doesn't allow anything other that Integer value which an

[2015-09-09 18:48] jteplitz opened #4100 "Support change events from custom elements"
Custom elements have no way to send values to the WebWorker. For now, we should just always grab the value field of a change event. The long term plan is to allow developers to specify custom events and serializers for them (#3350).

[2015-09-09 20:02] TiagoBraga39 commented on #4088
@zoechi I know about Chrome, but IE doesn't I guess:
http://caniuse.com/#feat=shadowdom
Don't know if it is updated.
Anyway, firefox with flag works = does not work in production.

[2015-09-09 20:52] goderbauer commented on #4011
As discussed offline: These events are not nested. Also, that logic already exists:
https://github.com/angular/angular/blob/master/modules/benchpress/src/metric/perflog_metric.ts#L251

[2015-09-09 21:11] brandonroberts commented on #3774
@SanderElias Here is a plunk example with a pre-built artifact if you want to use it

http://plnkr.co/edit/005pXZKP2Ag5UkH7IzJf?p=preview

[2015-09-09 21:37] naomiblack commented on #3705
@petebacondarwin could you work on this one for us? I'm hoping it's easy.

[2015-09-09 22:06] #4011 closed

[2015-09-09 22:20] tbosch commented on #4088
@TiagoBraga39:

Use `ElementRef.nativeElement` and you will get the underlying DOM element. From there, you can do `element.shadowRoot` to get the root node of the shadow DOM.

Regarding the Shadow DOM Emulation: Do you still need support here? Could you give another example where you are having problems?

[2015-09-09 22:28] TiagoBraga39 commented on #4088
@tbosch I guess I don't, since everyone tried to solve/explain the issues.
As for emulating the Shadow DOM and trying to change the css with it seems impossible, I am closing the issue for now.

Thank you all!

[2015-09-09 22:28] #4088 closed

[2015-09-09 22:36] vicb commented on #4098
Angular2 does not currently use the `pattern` attribute.

What you see is because [pattern] (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-pattern) is not applicable to number inputs.

_As a side note `^` & `$` are implicit in the attribute value and need not be specified_

[2015-09-09 22:36] #4098 closed

[2015-09-10 01:37] #3926 closed

[2015-09-10 01:51] gfanzh opened #4106 "NgZone onEventDone cannot accept different type callbacks"
NgZone overrideOnEventDone cannot have waitForAsync and non-waitForAsync callbacks at the same time.

Google ACX project activity tracking need non-waitForAsync callback to determine VM event loop end, while test bed used waitForAsync callback to determine Angular isStable.

Now they are conflict. We give up activity tracking callback in test as workaround but that makes integration test not possi

[2015-09-10 02:50] robwormald commented on #2793
@jeffbcross fyi on this one https://github.com/angular/angular/issues/4043, might affect a number of these

[2015-09-10 04:10] zoechi commented on #4088
@TiagoBraga39 I'm currently writing WebDriver tests for my Polymer application and can't make it work with IE because the DOM uses shadow DOM but IE WebDriver doesn't support `/deep/` yet even though  `/deep/` works in JS. I had the same situation with Firefox a few days ago but not anymore since the last update. It seems they had the flag on for a version and switched it back off shortly afterwar

[2015-09-10 06:52] gkalpak commented on #3651
@jeffbcross, I see. Thx for clarifying.

I've never seen it transpiled to `a.bind(this)`, but usually don't look at the transpiled code of complex scripts :)
Definitely something to keep an eye on in hot paths.

[2015-09-10 07:34] PascalPrecht commented on #4096
@mlynch Fancy a PR?

[2015-09-10 08:29] cexbrayat opened #4112 "[router] CanActivate and DI"
The `CanActivate` hook is available as a decorator.
That's a bit surprising compared to all the other lifecycle hooks which are simple functions of the component. I understand the reason behind that (the hook is called before the component is instanciated), even if I think the API would be simpler if everything was a function...

If things stay like this, I have a question: will it be possible to

[2015-09-10 10:43] shatakshidixit opened #4113 "Angular 2 Http not working version : alpha-36"
MyHttp.ts

import {Component, View, NgFor} from 'angular2/angular2';
import {Http, Response, HTTP_BINDINGS} from 'http/http';
import {ObservableWrapper} from 'angular2/src/facade/async';

@Component({
  selector: 'navbar',
  viewBindings: [HTTP_BINDINGS],
  })
@View({
  directives: [NgFor],
  templateUrl: 'components/navbar/navbar.html'
  })
export class Navbar {
  people: Object;
    constructor(

[2015-09-10 10:44] shatakshidixit commented on #4113
MyHttp.ts

import {Component, View, NgFor} from 'angular2/angular2';
import {Http, Response, HTTP_BINDINGS} from 'http/http';
import {ObservableWrapper} from 'angular2/src/facade/async';

@Component({
selector: 'navbar',
viewBindings: [HTTP_BINDINGS],
})
@View({
directives: [NgFor],
templateUrl: 'components/navbar/navbar.html'
})
export class Navbar {
people: Object;
constructor(http : Http)
{
ale

[2015-09-10 10:54] MrPardeep commented on #4084
@PascalPrecht i am waiting for your response.

[2015-09-10 10:59] ericmdantas commented on #4113
@shatakshidixit are you importing the http module separately?

https://code.angularjs.org/2.0.0-alpha.36/

[2015-09-10 11:03] shatakshidixit commented on #4113
yes My main file is app.ts and through routing this file is getting loaded

[2015-09-10 11:28] shatakshidixit commented on #4113
Yes

[2015-09-10 11:29] ericmdantas commented on #4113
It's working fine, see [this plnkr](http://plnkr.co/edit/73PVI5onqf7nt8Ge9aLP?p=preview).

I suggest you share a bit more code so we can help you better.

[2015-09-10 11:45] shatakshidixit commented on #4113
Your code is perfectly fine but its not working in  my project.
The Complete Http code is given above in the issue.
In My app.ts I did nothing related to HTTP except routing to the page.

Can You  Please help me out.

[2015-09-10 12:57] ericmdantas commented on #4113
@shatakshidixit have you tried to use ```@Inject```?

[2015-09-10 12:58] gr2m opened #4114 "[commit conventions] Make `:` after `BREAKING CHANGE` optional"
Hey,

I've already run into this several times. I usually do breaking change commits like [this](https://github.com/eHealthAfrica/kazana-server/commit/f0543c3c6de472161136451bc161d55949f43acc)

[code]

I tend to forget the `:` because I do line breaks instead. Any chance we could make the `:` optional?

This is causing quite some headaches for me, because I use [semantic-release](https://github.co

[2015-09-10 16:18] alexeagle opened #4115 "API html files are included in the distribution"
We've started copying thousands of files into dist/ which are now included in our per-SHA snapshots on GCS. We don't mean to distribute these.

[2015-09-10 18:19] IgorMinar commented on #4083
lgtm

[2015-09-10 19:07] IgorMinar commented on #4010
I can take a look at this next week if @vsavkin doesn't beat me to it.

[2015-09-10 19:08] IgorMinar commented on #4019
this is a known issue that @vsavkin is working on already.

[2015-09-10 19:40] ericmartinezr commented on #2788
In case you want to know, in alpha37 is a requirement to use `@Inject` with `Http` in constructors. So I think you can close this.

[2015-09-10 20:39] dsebastien commented on #2788
@Injectable() is actually a good marker decorator I think, it clearly conveys the idea that the annotated class can be injected where need be :)

[2015-09-10 20:40] danielrasmuson commented on #3464
@pkozlowski-opensource I've updated my pr with your feedback. It's only a couple lines. Your thoughts? #3759

[2015-09-10 20:44] robwormald commented on #2788
i'm sorta 50/50 on it, to be honest. its a good marker as @dsebastien says, but it means that if i want to write a 3rd party library to work with angular, I have to actually import angular to get that annotation, which is kind of a bummer.

I'm still reasonably certain here *what* the decorator is irrelevant, it just needs *some* decorator to force typescript to emit the appropriate param decorati

[2015-09-10 20:50] danielrasmuson commented on #2589
If #3759 gets merged, it would be easy to check for a space in the provided selector, [check here](https://github.com/danielrasmuson/angular/blob/3464/modules/angular2/src/core/render/dom/compiler/selector.ts#L37).

[2015-09-10 21:17] brandonroberts commented on #4112
I'm not sure if you will be able to do it that way, but you can use the injector in the CanActivate function. Here is a simple example:

http://plnkr.co/edit/zoSAcCkAwQ1TfzxJaiSI?p=preview

[2015-09-10 21:37] jteplitz602 commented on #4064
@jeffbcross Do you think the worker npm module should depend on angular2 or redistribute its sources?
Semantically it feels as if angular2_worker wraps angular2 so it makes sense to think of angular2 as a child of angular2_worker. That's currently the way that I've set up the dart package.

[2015-09-10 22:11] ericmartinezr commented on #2788
Just for your information, as @jessegood suggested (see [here](https://gitter.im/angular/angular?at=55f1fca32dc7775178dd402c)) using typescript 1.6.0-beta you don't need to use `@Inject` for Http in constructors (works with ng2 components, you still need `@Inject` in services)

[2015-09-10 22:21] jteplitz602 commented on #3820
There's currently no way to have ts2dart remove calls to a function during compilation.

[2015-09-10 22:21] #3820 closed

[2015-09-10 22:30] vsavkin commented on #3915
Fixed

[2015-09-10 22:30] #3915 closed

[2015-09-10 22:31] vsavkin commented on #3267
Fixed https://github.com/angular/angular/commit/896add7d774775fadb1c4d1f2789913475cf84cc

[2015-09-10 22:31] #3267 closed

[2015-09-10 22:32] vsavkin commented on #1800
Fixed https://github.com/angular/angular/commit/896add7d774775fadb1c4d1f2789913475cf84cc

[2015-09-10 22:32] #1800 closed

[2015-09-10 22:35] thelgevold commented on #2788
This is great. I just upgraded to alpha.37 and typescript 1.6.0-beta and I can confirm that @Inject is not needed. Upgraded code deployed here: http://www.syntaxsuccess.com/angular-2-samples/
@ericmartinezr  Thanks for the tip!

[2015-09-10 22:43] thelgevold commented on #4113
In version .37 this is no longer necessary with TypeScript 1.6-beta
Added a working solution here: https://github.com/thelgevold/angular-2-samples

[2015-09-10 22:44] ewinslow commented on #1800
Woot!

[2015-09-10 22:50] ericmartinezr commented on #2788
@thelgevold those typings were already added, see https://github.com/borisyankov/DefinitelyTyped/tree/master/angular2

[2015-09-10 22:52] thelgevold commented on #2788
Ah. I must have just missed them :-)

[2015-09-10 23:01] thelgevold commented on #3733
I confirmed as of alpha.37 that this issue has been resolved.

[2015-09-10 23:01] #3733 closed

[2015-09-11 01:06] IAPark commented on #4014
I don't seem to get an error in TypeScript, but it doesn't convert for me which is what I expected it to do. Would there be interest in converting to an int/number in cases where the type equals number? Or is this added complication and should be handled by other means

[2015-09-11 01:37] robianmcd opened #4120 "injecting something into a service with type annotations"
I asked a question here (https://github.com/Microsoft/TypeScript/issues/4737) about how to get Typescript to include runtime type annotations (to be used for DI in Angular2) and I learned that it will only include them on classes that have decorators. This is fine for components as they will already have decorators but how should I inject something into a service?

Should I use @Inject to manually

[2015-09-11 04:34] danielrasmuson commented on #3646
I also was not able to reproduce this error.

If you explicitly state 'undefined'...

[code]

I still got the message @pkozlowski-opensource mentioned.

[code]

[2015-09-11 08:52] petebacondarwin commented on #3705
Will look today

[2015-09-11 09:08] tamascsaba opened #4129 "ng-content render only once in for-of loop"
I maked an example:
http://plnkr.co/edit/C5ZoFzbM5U0APHnPvP1L?p=preview

When I use ng-content tag inside for-of loop, then the content render only once.

[2015-09-11 09:47] gionkunz commented on #3267
Awesome work @vsavkin !

[2015-09-11 11:24] theFifthElf opened #4131 "Template Rendering Issue on IE only"
http://plnkr.co/edit/CWcODlfvGQzKLFqwJmcH?p=preview

This plunkr demonstrates that in IE, the tr elements are rendered outside the table element, this works fine in Chrome and Firefox.

[2015-09-11 11:25] ericmdantas commented on #2296
Apparently it's still not working with .37.

[See this plnkr](http://plnkr.co/edit/0cPfcpbiDGggxsOW4bmM?p=preview).

[2015-09-11 12:42] hazdik opened #4132 "ngTable Coloumn Customization"
Dear Team,

As i have an One table it was some customized Filters and Sorting, but i want to make some column wise customization like

    In top of the table i have an One Button, if i click the Button it will shows some one Multi Select Box with Drag Drop option.
    In Side of Lpanel I have an options are table header title
    Cpanel is select a coloumn title selective options like Lpanel to r

[2015-09-11 12:57] johnpapa opened #4133 "When launching an app to / a Router redirectTo is not kicking in"
I just tried this where

When I have a redirectTo for the `/` path it does not redirect to the heroes route on load.

[code]

I also tried the `redirectTo: 'heroes'` with no luck. No error, it just loads the app with nothing int he `router-outlet`

To get around this for now I launch an additional route that goes to a dashboard component which is mapped to a `/` route

[2015-09-11 13:16] johnpapa opened #4134 "Question: Binding to undefined object produces error, but binding to empty object cast to interface is OK"
When I go to the hero details component (see below), I get a binding error briefly in the console because the `Hero.name` binding fails as the `Hero` is not yet back from the promise from the http service (however briefly). Makes sense. I prefer not to `ngIf` things either. So I did this to make the Hero initialize to an object cast to the `Hero` interface. Should we have to do that?

[code]

and

[2015-09-11 13:17] johnpapa commented on #4134
CC / @wardbell

[2015-09-11 13:17] johnpapa commented on #4133
CC / @wardbell

[2015-09-11 16:10] vicb commented on #4129
It is expected that nodes only get projected once, see http://www.html5rocks.com/en/tutorials/webcomponents/shadowdom/#toc-projection

[2015-09-11 16:10] #4129 closed

[2015-09-11 16:19] vicb commented on #4132
Closing as this repo is for Angular2. Angular.js repo is at https://github.com/angular/angular.js. However this seems related to https://github.com/esvit/ng-table

[2015-09-11 16:19] #4132 closed

[2015-09-11 16:53] wardbell opened #4136 "The `done` fn created by jasmine-patch.js does not support `done.fail`"
The [`done.fail` option in Jasmine 2.0](http://jasmine.github.io/2.3/introduction.html#section-53) makes it easy to report the error from a failed promise but `done.fail` isn't implemented by the zone-aware version from *jasmine-patch.js*.

Therefore, the following test reports an async timeout instead of the actual error:
[code]
Not a huge priority but worth fixing and easy to fix.

[2015-09-11 17:10] benharrell opened #4137 "it seems that router is not exposed since alpha35"
when trying in es5 the following doesn't work:

[code]
console logged ng using sfx .34 and I see router. But in .35, .36 & .37 it isn't exposed

[2015-09-11 17:42] benharrell commented on #4137
was informed that this has changed to ngRouter

[2015-09-11 17:42] #4137 closed

[2015-09-11 18:34] btford commented on #3496
Ah! Good point. This introduces the same minification problems in Angular 1. Closing, unless @IgorMinar has some way to avoid the minification problem.

[2015-09-11 18:34] #3496 closed

[2015-09-11 19:12] mikehaas763 opened #4140 "Proposal: Easy component rendering dynamically"
It's easiest to explain what/why with a use case.

I have a "dashboard" application. The dashboard is used to render a number of different isolated components.

The problem is that which components are being rendered can change based on a number of different factors in the app. User preferences being one of them. Although only a handful of components will ever be rendered at one time, there are hu

[2015-09-11 20:19] ericmdantas commented on #4113
[Here's a plnkr](http://plnkr.co/edit/5MLXovEbnkPfVOgULlrT?p=preview) with an updated version (.37)

[2015-09-11 22:08] mlaval commented on #4131
This is reproducible in Edge too.

Here is the HTML generated:
[code]
and
[code]

[2015-09-11 22:12] kegluneq commented on #4003
@vsavkin , should we register only for `@Component`s? Only for `@Directive`s? Only for `@Injectable`s? Or for any class with annotations on its properties?

[2015-09-11 23:25] jeffbcross opened #4149 "refactor(facade): change EventEmitter to match RxJS-Next Subject (and rename plz)"
Since EventEmitter is essentially a subject (implements `Observable` and `Observer`), it should just alias to `Subject` for JS, and match the structure and semantics for Dart (note: it should be validated that `Subject` semantics can be mapped to Dart).

Also, we should rename `EventEmitter`, since it's often confused with node's `EventEmitter`. What about just calling it Subject?

CC: @robwormald

[2015-09-11 23:34] jeffbcross commented on #4149
Chatting with @blesh some, he brings up that we should really evaluate if/why we need `EventEmitter` instead of just `Observable`, and if `Subject` is really the best abstraction for it. For one, a `Subject` cannot be re-subscribed to once disposed.

[2015-09-11 23:52] robwormald commented on #4149
Agreed on the above. I reckon we should strive where possible to use Observables over Subjects - this will keep things naturally cold. This also means educating users on the appropriate way to wrap things with Observables.

The one place the name EventEmitter currently makes sense is well, emitting events from components for external consumption, but not so much elsewhere (FormBuilder, Http). Are

[2015-09-12 00:14] blesh commented on #4149
Subjects are also heavier to use than Observables. They've got additional function references, an underlying array of observers, etc.

[2015-09-12 00:38] rkj opened #4150 "Boolean attributes stopped working"
Until recently code like this:

    <div [attr.foo]="null></div>

would not set foo on the div at all, at this is very useful for interacting with html boolean attributes. In current version it produces:

    <div [attr.foo]="null" foo="null"></div>

[2015-09-12 00:50] #4040 closed

[2015-09-12 00:58] robwormald commented on #4140
@mikehaas763 DynamicComponentLoader might be the API you'd want to use for this - with loader.loadAsRoot, .loadIntoLocation and .loadNextToLocation you should be able to assemble an interface based on whatever. I did a plunk for somebody the other day, similar idea : http://plnkr.co/edit/jAmMZKz2VqponmFtPpes?p=preview

[2015-09-12 01:20] johnpapa commented on #4040
@btford thanks, thats great!

[2015-09-12 01:40] robwormald commented on #4120
@robianmcd the `@Injectable()` decoration works nicely for this. Same problem over in https://github.com/angular/angular/issues/2788, but in theory *any* decorator should work. I'm not super stoked on it as a solution though, it would be great to be able to opt-in in the TypeScript compiler ("--alwaysEmitDecoratorMetadata") or something.

[2015-09-12 02:06] samio80 opened #4151 "namespace angular v1 vs v2"
I there anyway to have both versions running without namespaces collating?

[2015-09-12 02:09] gdi2290 commented on #4151
if you're talking about ES5 ng2 is namespaced as `window.ng` while ng1 `window.angular`

see code [angular2_sfx.ts](https://github.com/angular/angular/blob/master/modules/angular2/angular2_sfx.ts)

[2015-09-12 02:14] S-YOU commented on #4151
it looks like a workaround, since there is no other choice. "angular2" is named "angular" in project title. ng-change become [chnage] in angular2, and but global names space changed from angular to ng. inconsistent I would say.

[2015-09-12 03:42] mhevery commented on #4034
closing as dup of #3972

[2015-09-12 03:42] #4034 closed

[2015-09-12 03:45] mhevery commented on #3646
obsolete

[2015-09-12 03:45] #3646 closed

[2015-09-12 03:48] mhevery commented on #2296
Component/Directive events do not bubble up, and as of right now I don't see a strong enough use case for them.

Could someone provide one?

PS: https://github.com/angular/angular/issues/2296#issuecomment-134377184 can better be solved by injecting services rather then using events.

[2015-09-12 03:56] webteckie commented on #4090
http://plnkr.co/edit/z9bhXkqVonScYm7EqiF5?p=preview demonstrated the flaw with my logic!

[2015-09-12 03:56] #4090 closed

[2015-09-12 07:38] mashaly100200 commented on #3754
when i was trying to use  Local variables

<input #myname (keyup)>
<p>{{myname.value}}</p>

like the documentation example in this page
https://angular.io/docs/js/latest/guide/user-input.html

it gave me an error Cannot set property 'lastInBinding' of undefined

[2015-09-12 07:55] mashaly100200 commented on #1789
it  dose not work after update from alpha 28 to alpha 38 and gave me the same error

[2015-09-12 08:46] jessegood commented on #1789
@mashaly100200 : I believe that is the same issue reported at https://github.com/angular/angular/issues/3754

[2015-09-12 11:55] yfain commented on #4113
I tried removing @Inject from the constructor's argument in Alpha 37 and TS 1.6-beta, and still getting an "Unhandled promise rejection" error.

This works:
constructor( @Inject(ProductService) productService: ProductService) {}

This doesn't:
constructor(productService: ProductService) {  }

[2015-09-12 14:26] ericmdantas commented on #2296
@mhevery my opinion is pretty much the same of @SekibOmazic (thinking it'd bubble like any other event), but I do agree with @bduffany (reusable components that could hook to some of these custom events).

But again, maybe it really wasn't designed to work like a ```$broadcast/$on```, and we'll have to use services instead.

[2015-09-12 16:58] robianmcd commented on #4120
@robwormald thanks for the info. I'll use the `@injectable()` annotation for now but I agree that it would be nice if Typescript could support this without the need of a class decorator. I reopened my Typescript issue to ask if they could support this.

[2015-09-12 16:58] #4120 closed

[2015-09-12 19:13] jteplitz602 commented on #4064
@jeffbcross I'm reassigning this to you. I'm nearly done in this branch https://github.com/jteplitz602/angular/tree/move-web-workers. The checklist above is up to date, so you should only need to do the unchecked tasks.

[2015-09-12 20:15] thelgevold commented on #2684
It's been a while since I looked at http in Angular 2.0. But after digging through the Angular source code, and doing a POC for my blog,  my impression was that it follows some variation on this pattern:

http://www.syntaxsuccess.com/viewarticle/angular-2.0-and-http

Is this pattern still part of the vision?

My initial stab at this was very simplistic and did not expose me to concepts like error

[2015-09-12 20:43] robwormald commented on #2684
Hey Torgeir

Thanks for the input - I'll write a more in depth response later, but have a look at this plunk and it might answer some of your initial questions : http://plnkr.co/edit/ul0NVGadmGi3v6nywGRw

[2015-09-12 20:47] thelgevold commented on #2684
Thanks @robwormald I will definitely take a look at that plunk!

[2015-09-12 21:03] fuzing opened #4155 "HashBangs not supported in the angular 2 router"
The HashLocationStrategy supports hash fragments of the form '#<location>' but there appears to be no mechanism to change the prefix to '#!' (to support Google's AJAX crawl spec [https://developers.google.com/webmasters/ajax-crawling/docs/specification]).

[2015-09-12 21:15] ericmartinezr commented on #4155
@fuzing I think you can do `bind(APP_BASE_HREF).toValue('#!')`

[2015-09-12 21:17] fuzing commented on #4155
Great - I'll try that and let you know!

Cheers,

Peter B.

On Sat, Sep 12, 2015 at 3:15 PM, ericmartinezr <notifications@github.com>
wrote:

[2015-09-12 21:21] fuzing commented on #4155
bind(APP_BASE_HREF).toValue('!') -   i.e. without the '#' worked great - thank you!

[2015-09-12 21:22] #4155 closed

[2015-09-12 21:27] ericmartinezr commented on #4155
Glad it worked

I think that if you use `PathLocationStrategy` (former HTML5LocationStrategy) you should use `#!`. And if you are using `HashLocationStrategy` just add the `!`.

[2015-09-12 21:34] fuzing commented on #4155
Greatly appreciate your help.  Didn't expect a response today, so an extra
thank you!!

On Sat, Sep 12, 2015 at 3:27 PM, ericmartinezr <notifications@github.com>
wrote:

[2015-09-13 02:14] mi6crazyheart opened #4156 "Getting this - Error during instantiation of Token(Promise<ComponentRef>)!."
I'm new to angular. Currently playing with it's doc from "https://angular.io/docs/ts/latest/guide/displaying-data.html" .

My files -

show-properties.html
-----------------------------
    <!DOCTYPE html>
    <html>
        <head>
            <script src="../node_modules/traceur/bin/traceur-runtime.js"></script>
            <script src="../node_modules/es6-module-loader/dist/es6-module-loader.js"

[2015-09-13 03:32] jessegood commented on #4156
`appInjector` was removed in `alpha-29`. We are at alpha-37 now and you can use `bindings` there instead.
Your `class FriendsService` is declared after `DisplayComponent`. Classes are not hoisted, see http://blog.thoughtram.io/angular/2015/09/03/forward-references-in-angular-2.html for some in depth information.

[2015-09-13 04:17] mi6crazyheart commented on #4156
Event after replacing "appInjector" with "bindings" & declaring class 'FriendsService' before 'DisplayComponent' it's not working.

[2015-09-13 04:48] jessegood commented on #4156
Try using @Inject(FriendsService) friendsService: FriendsService

[2015-09-13 04:55] mi6crazyheart commented on #4156
I've updated my 'DisplayComponent' constructor to -
```constructor(@Inject(FriendsService) friendsService: FriendsService)```

& added 'inject' to import also -
```import {Component, View, bootstrap, NgFor, Inject} from 'angular2/angular2';```

Still, no luck

[2015-09-13 09:46] e-oz commented on #2684
I'm glad to see this approach, when we use DI instead of global changes. To make this approach work with 3-party libraries too, we need to encourage them to require Http as dependency (if they need Http to work).

Please don't make this mistake again. $http.success/error is a very handy thing but it breaks the API signature - gives wrong expectation. For example, in first version of your component

[2015-09-13 11:06] ericmartinezr commented on #4156
Hey @mi6crazyheart

First of all you can remove es6-module-loader since [it isn't used anymore](https://github.com/angular/angular/pull/3867).

Second, add System.config (this is mine, could be different in your case)
[code]
*Note: Keep in mind that [traceur will be replaced with es6-shim](https://github.com/angular/angular/pull/4148)*

And third, I would recommend you to upgrade your typescript v

[2015-09-13 11:12] PascalPrecht commented on #2684
I agree with @e-oz here to *not* introduce sth. like `.success()` and `.error()`. Those have also been deprecated in Angular 1.4 for the reasons @e-oz mentioned.

[2015-09-13 14:35] todoubaba opened #4158 "alpha-37: default pipes are missing in angualr2.d.ts"

[2015-09-13 15:02] robwormald commented on #2684
The difference with the success/error idea in observable is that it's an *operator* - and adding operators is completely acceptable in Observable land (rxnext has a specific API for extending) - vs the terminator.
- http.get(url).filter(res => res.statusCode > 200).map(res => res.json()).subscribe(onSuccess)
- http.get(url).success().subscribe(onSuccess)
- http.get(url).toJSON().subscribe(onSucces

[2015-09-13 15:14] ceolter commented on #3866
+1

i would like to either a) see 'replace' in the component view. problem is with style, eg:

[code]
here, my-grid is my component, but because the component is not a valid html dom element, the width attribute is ignored, so no way to set the width here. angular 1 dealt with this by using 'replace' and all the attributes from the directives tag were copied down.

[2015-09-13 16:05] gionkunz commented on #3866
Replace was deprecated in Angular 1, probably because of some architectural issues of removing the DOM element that originally was linked to the directive. I guess, even only because of not re-introducing a previously deprecated features, this could be problematic. Also thinking of shadow root and host element, I guess this could be even more of a problem.

In general I think `replace` wasn't a ve

[2015-09-13 16:09] pkozlowski-opensource commented on #3866
@gionkunz is right - the current thinking is that we don't want to re-introduce `replace: true` as it makes it hard to reason about directives and components matching the same host element. From the cases presented so far it looks like there is always a better approach with host attributes / properties.

Closing for now, happy to re-visit if different cases arise.

[2015-09-13 16:09] #3866 closed

[2015-09-13 16:10] ceolter commented on #3866
@pkozlowski-opensource Excellent, makes sense. I shall try that. Many thanks.

[2015-09-13 16:39] pkozlowski-opensource commented on #4150
Yeh, can reproduce it with alpha.37.

[2015-09-13 17:00] pkozlowski-opensource commented on #4150
OK, so this is a regression introduced in 6c3c6060a58761734abb7304b044fb87f8deeb20. We are definitively missing a test for this case, PR is on the way.

[2015-09-13 17:29] pkozlowski-opensource commented on #4151
IMO this issue is part of the whole ng1 -> ng2 upgrade story, I don't think there is anything specific enough here to be actionable. Closing as the full upgrade / co-existance story is being worked on.

@samio80 happy to re-open if you've got more specific questions / bug reports.

[2015-09-13 17:29] #4151 closed

[2015-09-13 17:33] johnpapa opened #4164 "onChange exists in Alpha37, but not in d.ts"
In Alpha 36 we could use `LifecycleEvent.onChange` ... it  still works in 37, but the typings file appears to now list it as `OnChanges`.

`error TS2339: Property 'onChange' does not exist on type 'typeof LifecycleEvent'.`

[2015-09-13 17:35] johnpapa opened #4165 "router.d.ts in Angular2 Alpha 37 is different from the one in DefinatelyTyped"

[2015-09-13 17:39] pkozlowski-opensource commented on #4134
@johnpapa are you talking about a binding in a template? Sth like `{{hero.name}}`? If so you can use the [Elvis operator](https://github.com/angular/angular/issues/791) - sth like `{{hero?.name}}`.

Hope that the above answers the question so going to close this one for now. Happy to re-open if more discussion is needed and / or your use-case is different.

[2015-09-13 17:39] #4134 closed

[2015-09-13 17:43] johnpapa commented on #4134
I guess there are 2 questions here.

1. Should the binding toss an error in this case? Meaning, is hero?.name required? Any time we have to go get data, this will be an issue, which is quite often.

2. Why does casting it to an empty object to that type solve this, even thos the properties do not exist on it?

[2015-09-13 17:47] pkozlowski-opensource commented on #4134
@johnpapa I'm still not sure what is your exact binding error / code in the template, so hard to answer your questions... Could you share the code that triggers the error and the error itself?

Did you have a look at the discussion about the introduction of the Elvis operator I've linked? https://github.com/angular/angular/issues/791? There was a lengthy discussion in this issue with different pro

[2015-09-13 17:49] johnpapa commented on #4134
Yes ... that discussion explains the Elvis operator.

the html just has a ng-model on the `hero`. Since it is coming back asyncly, it is not there for a tick, and thus could fail. So the ? would help that. I am just curious why this fixes it too `  hero: Hero = <Hero>{};`

[2015-09-13 17:51] pkozlowski-opensource commented on #4134
Well, assuming that in your template you've got sth like `{{hero.name}}` in a template the `hero: Hero = <Hero>{};` line "works" since it initialises the `hero` field to an empty object instead of null.

[2015-09-13 17:58] johnpapa commented on #4134
Yes, that is what is happening. I guess it just seems "odd" to me. Thanks.

[2015-09-13 18:08] pkozlowski-opensource commented on #4134
Yeh, I'm still on the fence when it comes to the whole elvis operator story.... I guess we need to hear all the input / opinions based on everyday use of the framework.

[2015-09-13 18:14] johnpapa commented on #4134
Agreed.

I can see the value in it, and I kinda like that it is an explicit expression of what could be null at some point. But I can also see times where I would have to put it in several times in a template OR choose to hide it with an ng-if. The casting in the component solves it, too, I guess.

Yes, this is closed. I'm just thinking it all through.

[2015-09-13 18:31] vicb commented on #4164
The enum members have been renamed in https://github.com/angular/angular/commit/551d9a16882d144d62e38161670a1a1c9a0c4db9

Also see https://github.com/angular/angular/blob/effbb54f3d4b4925c564cefcb998bcb310037c7b/CHANGELOG.md#lifecycle

[2015-09-13 18:31] #4164 closed

[2015-09-13 18:33] ericmartinezr commented on #4164
@johnpapa in alpha 37 de LifecycleEvent was removed, now yo must import every lifecycle hook like `import {OnChanges} from ...}` and then implement ir like `class X implements OnChanges { onChanges() {} }`

Ps : sorry for the messy example, I'm on the phone.

[2015-09-13 18:33] ericmartinezr commented on #4164
Oops, already answered, I'll delet these comments later.

[2015-09-13 18:38] johnpapa commented on #4164
Ah, missed that change when I was reviewing them today and updating my apps . Thanks. For others who may see this, here is the after condition ...

[code]

[2015-09-13 18:42] pkozlowski-opensource commented on #4033
I've renamed this issue as it has nothing to do with NgModel but the crux of the issue is what NgClass does with empty strings.

[2015-09-13 18:43] pkozlowski-opensource commented on #4033
@wardbell I wonder how we should fix it. My first reaction is to trim strings representing class names and simply ignore empty (blank) strings. WDYT?

[2015-09-13 18:48] pkozlowski-opensource commented on #4073
This was fixed by 41c7c57c65d7850dfc6f3c7d6618bf609cde7fe1

[2015-09-13 18:48] #4073 closed

[2015-09-13 19:21] Ablu opened #4166 "No error message if redirect at page load goes to nowhere"
This is a followup of #3979.

@btford's fix apparently only checks for non-terminal routes referenced from a link object.

If my main component I have this config:
[code]

and in my grid component:
[code]

I get no exception at the page load, but also no working redirect.

With my limited code knowledge I tried to debug this.
It looks like the code runs through https://github.com/angular/angular/b

[2015-09-13 19:30] Ablu commented on #4166
I uploaded my small messy project in which i tested this: https://docs.google.com/uc?id=0B8JQlPw3d8dCRTVxVlBTNFVTVzA&export=download

I manually replaced the angular and router.js files in `node_modules/angular2/bundles` with ones I got from `gulp build` which i ran against git revision effbb54f3d4b4925c564cefcb998bcb310037c7b.

[2015-09-13 22:27] mostafaasad opened #4168 "Tutorials do not mention the platforms or tools to use"
ANgular 2 with JavaScripts tutorials do not mention which tools/software need to be used

[2015-09-14 01:54] rightisleft commented on #4014
I would assume that if the <input> type is number - then the value exposed to the model would also be a numeric value.

[2015-09-14 01:55] rightisleft opened #4169 "Dart - ViewEncpasulation no longer accepting enums?"
In Angular Dart 2 Alpha 35 the @view component accepted an enum value:

    @View(
      styleUrls: const ["package:tickets/client/components/flight_display/flight_display.css"],
      templateUrl: "package:tickets/client/components/flight_display/flight_display.html",
      directives: const[CORE_DIRECTIVES],
      encapsulation: ViewEncapsulation.NONE
    )

The   encapsulation: ViewEncapsulatio

[2015-09-14 02:02] btford opened #4170 "Router RFC: `redirectTo` should use the link DSL rather than a URL fragment"
Currently, `redirectTo` in a Redirect route takes a string representing the remaining (unmatched) URL that should be recognized.

[code]

This makes it hard to tell whether the redirection is local, or absolute.

Instead, I propose that we use the route link DSL (same as what the RouterLink directive uses):

[code]

Related to #4133, #4166, and https://github.com/angular/angular/issues/3751#issuec

[2015-09-14 02:29] mikehaas763 commented on #4140
@robwormald I wasn't aware of that. I like the plunk you created it's a pretty elegant solution. Guess I can close this. Thanks.

[2015-09-14 02:29] #4140 closed

[2015-09-14 02:32] webteckie commented on #4156
I'm seeing the same issue described by @mi6crazyheart using v37.  Has someone else really confirmed this still works fine in v37?  I've tried both with and without forwardRef as in the linked blog and can't get it to work.

[2015-09-14 03:10] jessegood commented on #4156
@webteckie :
Here's a plunk in alpha-37 if you want to compare with your code:
http://plnkr.co/edit/G2WdDzdr36UF3mALzqi5?p=preview

[2015-09-14 03:58] mi6crazyheart commented on #4156
@webteckie : Your plunk code is working for me.

[2015-09-14 07:42] shatakshidixit commented on #4113
@ericmdantas thanks
My code is perfectly working now.

[2015-09-14 07:44] shatakshidixit commented on #4113
@yfain

have you included http.js file in your index.html?

[2015-09-14 09:11] pkozlowski-opensource commented on #4158
@todoubaba could you please elaborate? What is exactly missing? How are you getting `angualr2.d.ts` (npm or definitively typed)?

[2015-09-14 09:16] woppa684 commented on #4169
Isn't the problem here that there's a , missing after const[CORE_DIRECTIVES] ?

[2015-09-14 09:16] pkozlowski-opensource commented on #3975
This will be solved by #4007. Closing as a duplicate.

[2015-09-14 09:16] #3975 closed

[2015-09-14 09:30] pkozlowski-opensource commented on #3929
Yes! This would allow us to easily have custom logic for "troublesome" properties and fix the following issues:
* #3765
* #2213

[2015-09-14 10:22] ericmdantas commented on #4113
@shatakshidixit No problem :smile:

Can you close this, please?

[2015-09-14 10:27] TiagoBraga39 opened #4172 "Alpha 37 Changes"
Hi all!

This is mostly post to help anyone upgrading to Alpha 37.

Alpha 37 Changes I came accross:
1. Http Module imported by 'angular2/http'
2. Http RequestMethods Naming now with capital letter case: RequestMethods.GET -> RequestMethods.Get
3. onChange lifeCycle Event now is onChanges

Best regards,
Tiago Braga

[2015-09-14 10:32] shatakshidixit commented on #4113
Yes Sure

[2015-09-14 10:32] #4113 closed

[2015-09-14 11:34] todoubaba commented on #4158
The angular2.d.ts is from `npm install`.

[2015-09-14 11:40] todoubaba commented on #4158
They are also not found in [definitively typed](https://github.com/borisyankov/DefinitelyTyped/blob/master/angular2/angular2.d.ts)

[2015-09-14 11:44] ericmdantas commented on #4172
@TiagoBraga39 maybe do a PR?

[2015-09-14 11:45] webteckie commented on #4172
Doesn't the angular team keep a running list of changes between versions?   Seems like something to do, if not.

[2015-09-14 11:46] pkozlowski-opensource commented on #4172
Yep, normally all those things should be part of the "Breaking changes" in the CHANGELOG: https://github.com/angular/angular/blob/master/CHANGELOG.md#200-alpha37-2015-09-09

@TiagoBraga39 if you believe things are missing from the breaking changes section, please send a PR with an update. Thnx!

[2015-09-14 11:46] #4172 closed

[2015-09-14 12:52] ericmartinezr opened #4174 "Missing forwardRef in Query/ViewQuery should throw"
Consider the following code

[code]

This works, but `items` returns 0 results, which is wierd since there are two children (see plnkr below). The problem here is a missing `forwardRef`.

If you remove `forwardRef` from the `directives` property in `Accordion` you'll get this error message. Pretty useful.

[code]
But if you miss `forwardRef` in `@ViewQuery` instead of an error you'll get 0 results

[2015-09-14 14:08] sledan commented on #3188
How do I include the d.ts file? I got the error TS2307: 'Cannot find module angular2/angular2' after typing 'tsc -p src -w' following the "Step by step guide".

Also after trying to run the command: 'live-server --open src' in root, I get the error: 'Enoent: no such file or directory, uv_chdir ++'

Suggestions to what I might be doing wrong?

[2015-09-14 14:21] jidesakin commented on #3188
getting the same error as @sledan

Error:(1, 1) TS6053: File '/home/babajide/WebStormProjects/angularTwo/typings/angular2/angular2.d.ts' not found.

[2015-09-14 14:24] tamascsaba commented on #4112
You are created new Object from Auth, it is a not the original instance, as I know.

[2015-09-14 14:31] tamascsaba commented on #2965
My use case: I want to redirect to Login page, when CanActivate returns ```false```

[2015-09-14 14:32] pkozlowski-opensource commented on #3597
This was fixed in #3812

[2015-09-14 14:32] #3597 closed

[2015-09-14 14:58] pkozlowski-opensource commented on #4007
Related: https://github.com/angular/angular/issues/2600

[2015-09-14 15:07] pkozlowski-opensource commented on #2645
Closing as things seem to be in order in alpha.37: http://plnkr.co/edit/QqaJQ3g8zVRofHV2AqDz?p=preview

[2015-09-14 15:07] #2645 closed

[2015-09-14 15:33] mprobst commented on #4120
@robwormald: just my 2¢, but in Java Guice, injecting classes that do not have a `@Injectable` or (in Guice) `@Inject` annotation is deprecated, as it turned out to be a source of bugs, where classes would more or less accidentally be injected in some code.

E.g. you have some classes that gets mentioned in some other constructor. If the framework just happily comes along and instantiates the clas

[2015-09-14 16:15] mhevery commented on #4120
@mprobst `@Inject` and `@Injectable` are two very different things. One is saying I can be injected, the other is saying inject into me. We only have `@Injectable` in Angular.

We need to have some annotation so that TypeScript preserve the type information, we use `@Injectable` for that purpose.

Yes as https://github.com/angular/angular/issues/4120#issuecomment-139700784 suggest we could have Ty

[2015-09-14 16:18] wardbell opened #4175 "Add typings for test-lib (test-lib.d.ts)"

[2015-09-14 16:32] alexeagle commented on #3476
Note, we've abandoned this for now, because we are doing a weekly manual sync process, and because we didn't  figure out a good solution for re-basing the `angular-dist` repo.

[2015-09-14 16:40] rightisleft commented on #4169
**EDITED** I changed the original code above to reflect to missing comma in the example.

[2015-09-14 16:43] woppa684 commented on #4169
Isn't the problem then that CORE_DIRECTIVES isn't a constant expression? The error seems to point in that direction...

[2015-09-14 16:49] pkozlowski-opensource commented on #4175
Duplicate of https://github.com/angular/angular/issues/3824

[2015-09-14 16:49] #4175 closed

[2015-09-14 17:06] Ablu commented on #4170
+1 I think that makes it a lot clearer to use.

[2015-09-14 17:08] zoechi commented on #4169
and `ViewEncapsulation.NONE` should be `ViewEncapsulation.None`

[2015-09-14 17:22] knicholes opened #4176 "ES5 Step By Step Yields a Blank Screen in Browser"
Using Chrome 45.0.2454.85 (64-bit) or Firefox 40.0.3 and OSX 10.10.3, I follow the first steps at
https://angular.io/docs/js/latest/guide/gettingStarted.html "Angular 2 for Javascript"

I create my index.html and copy/paste the provided text from the guide.
I create my app.js and copy/paste the provided text from the guide.
I start my python SimpleHTTPServer on port 8000.
I hit localhost:8000 and

[2015-09-14 18:15] wardbell opened #4177 "test-lib module should export `dispatchEvent`"
As of alpha-37 it is only available through 'angular2/src/test_lib/utils'

Maybe I'm missing a better technique but the way I know to trigger DOM events is through something like  `dispatchEvent`.  For example, I have test code that looks like this:

          // get the HTML element and change its value in the DOM
          var input = rootTC.query(By.css('input')).nativeElement;
          input.

[2015-09-14 18:47] brandonroberts commented on #4176
Its missing a bootstrap at the bottom of the app.js

     ng.bootstrap(AppComponent);

And the index.html should look something like

[code]

Once you make those changes, you should see the component

Hope this helps

[2015-09-14 19:29] jeffbcross commented on #3941
CC @alexwolfe, who I think is already working on re-designing the side nav.

[2015-09-14 19:35] btford commented on #4166
Thanks for the reproduction.

I agree that there needs to be more visibility into an incorrectly configured redirect. What do you think of #4170? This would be a good start to making redirects easier to understand. For instance, we'd be able to assert at config-time that your example case is misconfigured and redirects nowhere.

A nitpick: I don't think rejecting the promise is the right choice fr

[2015-09-14 19:37] btford commented on #4165
@johnpapa why not just use the d.ts file that comes with the published bundle?

@mprobst @alexeagle Do either of you know why this is? Is DefinitelyTyped behind? Do we have control over what appears in there?

[2015-09-14 19:44] btford commented on #3751
@TiagoBraga39

A quick update:

1. Fixed in d9036c6cf37e761306ca19931132f5af6c0ac0ed
2/3. I've opened #4170 as a more general fix for redirects.

I'm going to close this, but once #4170 is addressed, feel free to open new issues if the cases you describe still do not work.

Thanks!

[2015-09-14 19:44] #3751 closed

[2015-09-14 19:44] rightisleft commented on #4169
Must have changed between 35 and 37 - thanks

[2015-09-14 19:45] johnpapa commented on #4165
Hi @btford ... let me explain my scenario ...

I use `tsd` to install the typings for everything. Now, I can change this moving forward, but follow me for this story first. tsd looks at the `tsd.json` file. TypeScript looks for a `tsconfig.json` file's location as the root of the TypeScript project. If these are at the root, then everything is used ... and I would have to exclude folders like node

[2015-09-14 19:51] btford commented on #4165
Ah, gotcha. That's pretty painful.

@IgorMinar – is this something Angular CLI can help us with?

[2015-09-14 19:52] btford commented on #4112
Yes, I plan to handle this case.

I think the hooks should be able to augment instructions with bindings to be passed to the component.

[2015-09-14 19:52] knicholes commented on #4176
@brandonroberts Yes, that's what's wrong, but the guide still fails to include that.  I think if Angular2 wants developers to preview their code, they ought to make sure the getting started guide works as described.

[2015-09-14 19:55] brandonroberts commented on #4176
:+1:

[2015-09-14 20:00] cexbrayat commented on #4112
@btford Thanks for your answer

[2015-09-14 20:04] alexeagle commented on #4165
Sorry, I'm having trouble following the issue - I don't understand "it puts the typings folder in the root" - if you npm install angular2 then you get `node_modules/angular2/bundles/typings` right?

We just chatted with the typescript team, and it looks like we'll have a much more usable story for using the typings shipped via NPM starting with TS 1.6, maybe as early as this week.

[2015-09-14 20:06] alexeagle commented on #4165
Oh and I am working on this in https://github.com/angular/angular/issues/3082

[2015-09-14 20:09] zoechi commented on #4169
Can you close this issue?

[2015-09-14 20:12] btford commented on #4165
@alexeagle @johnpapa is it alright to close this as a duplicate then? Sounds like this is a specific symptom of the problem in #3082.

[2015-09-14 20:12] adamdbradley opened #4179 "requestAnimationFrame callback arguments not passed in"
In alpha36, a requestAnimationFrame's callback correctly gets the timestamp argument:
http://plnkr.co/edit/6ZkphwlO7hUKpoLrBDJw?p=preview

In alpha37, the rAF callback does not get the timestamp argument:
http://plnkr.co/edit/H9bYRx7gDivc5qxkdVB1?p=preview

This causes javascript animations to fail.

[2015-09-14 20:12] #4169 closed

[2015-09-14 20:13] alexeagle commented on #4165
Well the issue title is that we have two files which ought to be identical
but are not. Maybe this issue has got off on a tangent, and we should
investigate that?

On Mon, Sep 14, 2015 at 1:12 PM Brian Ford <notifications@github.com> wrote:

[2015-09-14 20:26] johnpapa commented on #4165
@alexeagle `npm install` does put it there, but `npm install` also gives a `/typings/tsd.d.ts` file that has references to those 3 files. I then have to copy and paste those references to my `tsd.d.ts` file due to folder structures all being different.

If I had the choice where to put it, it would be easier and more flexible.

[2015-09-14 20:27] johnpapa commented on #4165
I'd like to keep this linked at least.

If we could NOT use Def Typed, that would be fine ... but then wouldnt we still need it for non angular stuff? I think thats a very realistic scenario.

[2015-09-14 20:29] johnpapa commented on #4170
I like that.

But help me understand this ... We have a route like this

[code]

Now, if I `redirectTo` am I redirecting to the `url` or to the `as`? It sounds like I am redirecting to the `as` (the name).

Is that correct?

[2015-09-14 20:35] btford commented on #4170
Yes.

With #4083, this'll be even easier to see.

[2015-09-14 20:36] mxnho opened #4180 "error componente input date - class ng-invalid { Solutions Ref - (badInputChecker() ) }"
scenario :

I have a input type = "Date" not required in my form linked to an ng - model = "date" , when I add a value to the component and then use the delete key to erase the value , the angular adds ng -invalid class component and adds to the value undefined , making my form invalid.

The solution is the function which adds badInputChecker undefined for the component , the solution would be to

[2015-09-14 20:38] johnpapa commented on #4170
cool. Cuz ideally I'd liked to have `/` and another name like `/dashboard` go to the same place. And using the name makes that possible while using the url makes it harder.

[2015-09-14 21:40] jessegood commented on #4174
Agreed. It would be nice if Angular told you when the type is `undefined` inside of `@ViewQuery`.
Also, maybe in the future the TypeScript transpiler will add support for checking before use:
https://github.com/Microsoft/TypeScript/issues/4114

[2015-09-14 21:58] LMFinney commented on #3972
Same here.
I locally modified angular2.d.ts with this (using alpha 35 on Typescript 1.5.3):
    interface Type extends Function {
        new(...args: any[]): any;
    }

[2015-09-14 22:40] rkirov opened #4183 "remove ES6-SHIM from the build step of angular1 router"
It might be not needed and it should be up to the user to bring their own shim See for where the shim is used - https://github.com/angular/angular/commit/e4f94f067847e1dbfcbdd241eb2833a3e8da8e55

[2015-09-14 22:42] IgorMinar opened #4184 "remove es6-shim from the router angular1 bundle"
in e4f94f067847e1dbfcbdd241eb2833a3e8da8e55 I lazy-required the shim to unblock the master from breakages, but we should not bundle the shim with the router at all, instead we should document that the shim is required for the router bundle to work on older browsers.

[2015-09-14 22:42] IgorMinar commented on #4184
@btford or @shahata can you take a look at this please?

[2015-09-14 22:57] btford commented on #4183
dup of #4184

[2015-09-14 22:57] #4183 closed

[2015-09-14 23:07] rkirov opened #4186 "Query callbacks should fire asynchronously"
The following usecase currently throws an error, because the directives are modified after they are dirtychecked.

[code]
However, if the callbacks are fired asynchronously within the angular zone, this will be valid code. There is a possibility for infinite async cycle in that case, but I don't think that is a big concern. Such possibility exists even with regular Promises.

Note, this might natu

[2015-09-14 23:20] PascalPrecht commented on #4180
Hi

This is the Angular 2 repository, please file an issue at angular/angular.js and close this one.

Thanks!

[2015-09-14 23:31] PascalPrecht commented on #4120
@mhevery are we going to stick with @Injectable then, or do we want to introduce yet another one for this specific use case.

Either way, this needs to be documented in the DI guide

[2015-09-14 23:37] jeffbcross commented on #4149
IRL discussion recap:

 * Every place inside core that's currently using `EventEmitter` should instead use `Observable`
 * We should rename `EventEmitter`, but not sure to what. Something that doesn't confuse with Node's `EventEmitter`, and something that doesn't require understanding Rx `Subject`.
 * `EventEmitter` should just be an `Observable`, but with an extra method called `emit`, since it i

[2015-09-15 06:12] #4083 closed

[2015-09-15 06:33] #4180 closed

[2015-09-15 08:22] shatakshidixit opened #4188 "Angular 2 version-alpha 37 :: can not use one component in another component"
I am trying to import my Home component in my main component but its not working in alpha 37.

Here is my plnkr http://plnkr.co/edit/mTeZnwI7Ty79DYC1lYtb?p=preview

[2015-09-15 08:34] pkozlowski-opensource commented on #4188
Strictly speaking this is a question about SystemJS usage (https://github.com/systemjs/systemjs) and has not much to do with Angular itself. The problem is that SystemJS can't find referenced files (see 404 errors on your console). One way of solving this is to explicitly add extensions in import paths: http://plnkr.co/edit/0dnW8xUUXMevt99iHJdd?p=preview

Refer to https://github.com/systemjs/syste

[2015-09-15 08:34] #4188 closed

[2015-09-15 08:41] TiagoBraga39 commented on #3751
@btford Will do!
Thank you!

[2015-09-15 08:45] TiagoBraga39 opened #4189 "Custom Component two way binding"
Hi all!

Is it possible to have a <b>component</b> with two way binding?
As in:
[code]

CustomComponent is supposed to have an input and a button, for example.

If no, is it possible to do so by accessing to host? And how?

I've read about it on this article: http://victorsavkin.com/post/119943127151/angular-2-template-syntax

And read your implementation of NgModel. Should I do my component with

[2015-09-15 08:45] jrote1 opened #4190 "UrlResolver warning when building in dart"
[Warning from DirectiveProcessor on angular2|lib/src/core/services/url_resolver.dart]:
Found 2 ctors for class UrlResolver,Using the unnamed constructor.

[2015-09-15 08:48] TiagoBraga39 commented on #4189
@vicb Could you help please?

[2015-09-15 08:49] TiagoBraga39 commented on #4189
@vsavkin Since the article is yours, could you help please?

[2015-09-15 08:53] Dunken commented on #3188
@sledan, @jidesakin: Check out my post on SO: http://stackoverflow.com/questions/30858164/cannot-find-external-module-angular2-angular2-angular2-w-typescript/32581715#32581715

[2015-09-15 10:14] sledan commented on #3188
@Dunken: Thanks. In my editor (VS Code), in the app.ts file, the line:
import {Component, View, bootstrap} from 'angular2/angular2'; - the angular2/angular2 part is still underlined red, and says it cannot find module angular2/angular2, even after the commands you suggested. I also cannot do the command in root folder:  'live-server --open src' - I still get the error:  'Enoent: no such file or di

[2015-09-15 11:14] Ablu commented on #4166
I already replied with `+1` there :)

I would not have expected this to result in a .catch() only since it would supress any error messages for the initial page redirection. But I checked what the Promise returned anyway just to be sure :)

[2015-09-15 12:27] pkozlowski-opensource commented on #4189
@TiagoBraga39 you can definitively have a custom component using the `[(foo)]="bar"` syntax. Here is a simple example: http://plnkr.co/edit/oeLejuZW1dF1CFFfr9zt?p=preview

Not sure what you mean.... Just have a look at the linked plunker. And remember that `[(foo)]` is just a short-cut for `[foo]="bar" (foo)="bar = $event"`

I hope that the above answers so your question so I'm, going to close thi

[2015-09-15 12:27] #4189 closed

[2015-09-15 13:31] TiagoBraga39 commented on #4189
@pkozlowski-opensource Thank you very much for the answer.
After I posted this, I saw some examples with what you presented.

But I couldn't understand what this was:
![image](https://cloud.githubusercontent.com/assets/8090726/9877594/ba4969e0-5bb5-11e5-93e4-ac158a808053.png)

So, I rewrote a lot of times.
And the problem was the instanciation of the EventEmitter... I was doing that on onInit() me

[2015-09-15 13:34] pkozlowski-opensource commented on #4189
Yeh, the error message in case of not initializing EventEmitter properly isn't ideal - I've opened an issue in the past to improve it: https://github.com/angular/angular/issues/3664

[2015-09-15 15:18] lmessinger opened #4192 "interpolations in routed <ng-content> only resolves after timeout (!)"
tried to use this simple approach on an application with a router, and it turned out not so simple.

one issue, is that with a router, the transcluded ng-content is not bound at first.

But the really interesting issue, is that after setTimeout, the items are bound again.

The plunker is here: http://plnkr.co/edit/gGZJZE?p=preview. click on Entities to see issue

thanks for any explanation/resolut

[2015-09-15 16:45] wardbell commented on #4134
I read the discussion and am frankly amazed that Elvis remains in the building. The syntax does little for me and adds friction.

This case reaffirms it. Why is it important that I can tell Ng that the 'hero` can be null but can't tell it that the `hero.name` can be null?

For consistency I should be equal obliged to suffix with Elvis like this.

`hero?.name?`

I don't believe that is legal templa

[2015-09-15 16:51] wardbell commented on #4033
Trim and ignore extra white space for sure.

Empty string should be ignored. It means "no additional class names".

I would not mind if this string variant of the NgClass API was removed. The object notion is the most clear and perhaps easier to construct.

[2015-09-15 17:09] pkozlowski-opensource commented on #4033
@wardbell right, PR #4173 trims class names. Regarding removal of the string-based form - I don't use it often but it comes handy when you need to calculate class name dynamically (that it, you don't know it up-front). Not super-common, but happens.

BTW, in your particular use case the easiest approach would be to go without any directive at all and use the special-cased syntax from the compiler:

[2015-09-15 17:34] wardbell commented on #4033
Yes I have used that and it is worth teaching. Perfect for setting a single class value. Many ways to skin the cat.

p.s.: I have no problem calculating a class name dynamically and adding it to the definition object with object indexing: `classes[theName] = theValue`.  Not quite as cool as composing the string with back-tick interpolation but serviceable.

[2015-09-15 17:55] #4096 closed

[2015-09-15 19:12] jpsfs opened #4197 "Detecting Changes on actions triggered outside Component"
Hi,

Found an issue when updating a component's property, that is bound to the template. It appears the ChangeDetector is not detecting the changes.

Here is a plunker that shows this happening: http://plnkr.co/edit/j5YLW0mL3bCBslC5mkzJ?p=preview

This only happens when the event is triggered outside angular. If you comment line 62 and uncomment line 45 everything works as expected. **This was wor

[2015-09-15 19:19] IgorMinar opened #4199 "angular.io search result return links with production urls instead of relative urls"
When I spin up a local harp server and try to search for an api doc, I'm redirected to `https://angular.io/` when I click on any of the links. This makes looking up things in the local version of the docs impossible.

It would be great if the search results returned relative urls.

[2015-09-15 19:20] IgorMinar commented on #4199
@alexwolfe are you the right owner of this?

[2015-09-15 20:14] alexeagle commented on #4115
also we need to clean up other packages, eg `benchpress/doc/api`

[2015-09-15 20:26] #4150 closed

[2015-09-15 20:33] alexeagle commented on #4115
This is specifically happening on Travis, and should only be happening when we run `pub publish`

[2015-09-16 00:13] #3110 closed

[2015-09-16 00:17] hterkelsen opened #4202 "enableDebugTools no longer works with result of bootstrap"
`enableDebugTools` (documented here: https://github.com/angular/angular/blob/master/TOOLS_JS.md) takes an ApplicationRef, but `bootstrap` returns a ComponentRef

[2015-09-16 05:48] bestander commented on #3972
Looks like fixed in 37

[2015-09-16 05:48] #3972 closed

[2015-09-16 06:01] IgorMinar opened #4205 "Template directives should throw if they are using without the template element or *"
A common mistake is to forget to add `*` before `ng-if`. If a developer makes this mistakes, then the following errors are thrown:

[code]

These errors are not actionable and don't provide a sufficient hint to the developer to fix the problem.

It would be great if we detected any situation when a template/structural directive is used without the required `template` element or `*` syntactic sugar

[2015-09-16 07:32] danicomas commented on #3807
Status of that @vicb @mhevery  ?

[2015-09-16 07:35] danicomas commented on #3838
@gdi2290 @sumigoma @mhevery @btford @PascalPrecht  can we compile similar in Angular1 $compile(template)(component)? or the best way is doing that? Regards

[2015-09-16 08:24] tamascsaba commented on #3882
https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/Ez2cuT0KmQo/eUpSsU-uAgAJ

[2015-09-16 08:26] #4033 closed

[2015-09-16 09:12] PascalPrecht commented on #3882
I think I saw in the weekly meeting notes that `<ng-content>` is going to stay and `<ng-slot>` will be added

[2015-09-16 09:43] naomiblack commented on #3941
@petebacondarwin -- one more requirement for this while you are looking at it.

Within a module, we also want to be able to re-order based on type, and then alphabetize. Currently we export everything in the order in which it appears in the API.

Order we'd like to have implemented for each module:

1. globals (everything that’s not an enum, const, interface, or class)
1. enums and consts
1. inter

[2015-09-16 10:21] PascalPrecht commented on #3183
Okay, I guess it will simply be

[code]
Is this feature still planned?

[2015-09-16 10:29] pkozlowski-opensource commented on #3497
This was fixed by d890c4f8276c9979837a4f4c5928750121d4dd2a

[2015-09-16 10:29] #3497 closed

[2015-09-16 11:09] TiagoBraga39 commented on #4189
@pkozlowski-opensource Hi again!

It is all working, but the exposed property can't have hyphens?
http://plnkr.co/edit/Y6o4CpV6OlHppgY4R8YU?p=preview

The event does not completely resolve?

[2015-09-16 11:12] petebacondarwin commented on #3941
Hmm. OK so what I am hearing here is:

1. We export loads of things that are not particularly relevant to the reader of the API docs
2. Arbitrary grouping of exports in a module can actually hinder browsing of the docs
3. It would be good if the navigation had a way to hide the not-so-important exports
4. Exports should be sorted by type (globals, enums, interfaces, classes, etc) and then alphabet

[2015-09-16 11:48] johnpapa commented on #4068
I'm seeing inconsistent behavior on this now.

when installing angular2 alpha 37 i sometimes see a typings folder in the root with references to the 3 typings files that are in the node_modules/angular2/bundles folder. Other times this `typings/t.d.ts` file does not get create at all.

I think it would be ideal if this would be create in a customizable location.

[2015-09-16 11:53] pkozlowski-opensource commented on #4189
It works if you do `events: ['valueUpdate: selectedValue']`: http://plnkr.co/edit/TnUqxetDhbgcO1ZEX63U?p=preview

Having said this I agree that this is not super-consistent.... Could you file a separate issue for this?

[2015-09-16 12:14] pkozlowski-opensource commented on #4205
Hmm, it might be a regression from the recent compiler refactorings since from what I remember we used to have an error saying that `ng-if` is not a property of a `<template>` element. We definitively need integration tests for those corner cases....

[2015-09-16 12:21] johnpapa commented on #3082
Referencing this issue, which would be helpful so we can put typings in a custom location.

https://github.com/DefinitelyTyped/tsd/issues/216

[2015-09-16 13:20] TiagoBraga39 commented on #4189
Yes, right away.

[2015-09-16 13:24] pkozlowski-opensource commented on #3102
This was already fixed by be954115f868d34e1d47626a3eebc0e56f78c0c1

[2015-09-16 13:24] #3102 closed

[2015-09-16 13:26] TiagoBraga39 opened #4207 "Event Properties Consistency"
Hi everyone!

Properties and Events have different alias behaviour.

If I want to alias a property with hyphens I use:
[code]

But If I want to alias an event with hypens:
[code]

Working plnkr: http://plnkr.co/edit/TnUqxetDhbgcO1ZEX63U?p=preview

Best regards,
Tiago Braga

[2015-09-16 13:47] gionkunz commented on #3754
So how would we go about specifying where we need change detection? Working with simple view locals this can be very handy:

[code]

In earlier versions I was using this "hack" to trigger change detection based on events. Now I can't do this anymore unless I would like to update my directive model, which sometimes I might don't want to when working with simple view locals.

Is there an other best

[2015-09-16 13:51] pkozlowski-opensource commented on #3754
@gionkunz you should be using `ng-model` here - there is no point in accessing DOM properties if you are interested in the input's value.

[2015-09-16 15:47] alexeagle commented on #4165
I just verified that https://raw.githubusercontent.com/borisyankov/DefinitelyTyped/master/angular2/router-2.0.0-alpha.37.d.ts is identical to `bundles/typings/angular2/router.d.ts` from the alpha.37 npm package.

Let's have a separate issue for how the files get laid out by npm. (@johnpapa and I are discussing on slack)

[2015-09-16 15:47] #4165 closed

[2015-09-16 15:50] mlaval opened #4209 "Bootstrap error in browsers which do not support requestAnimationFrame"
Here is the error raised in IE9 when running unit tests:
[code]

According to http://caniuse.com/#feat=requestanimationframe , it happens in IE9 and Android 4.1, 4.2 and 4.3.

[2015-09-16 16:14] alexeagle commented on #3082
I agree with @johnpapa that we need a fix for that tsd problem, but if you are happy having the typings/ folder in the root of your project, then let's see where it breaks:
[code]

Because TypeScript reference's are relative, and TypeScript doesn't yet support multiple include paths, this breaks - those files are not present under the path `../node_modules/angular2/bundles/typings/`

We could dist

[2015-09-16 16:15] mlaval commented on #4209
http://www.paulirish.com/2011/requestanimationframe-for-smart-animating/
Maybe using a polyfill like this one could be enough, to be tested

[2015-09-16 16:30] mhevery commented on #3838
@danicomas yes you can using the `Compiler`

[2015-09-16 16:31] dpsthree commented on #1609
I'm also having a hard time deciphering its usage.

[2015-09-16 16:38] mhevery commented on #3825
https://github.com/angular/angular/commit/1926335b85af6c1fe56f4e36d0b95dcc92bb5c42

[2015-09-16 16:38] #3825 closed

[2015-09-16 16:41] mhevery commented on #3183
Yes, but we need better support from TypeScript and the standards for that.

[2015-09-16 17:04] hterkelsen commented on #4202
cc @yjbanov

[2015-09-16 17:57] ericmartinezr opened #4213 "Allow forwardRef in Host"
Having the following code

[code]
This will obviously fail because Hello is defined before Child. The only option available is to move Child below Hello and use forwardRef in the `directives` property. It works, but I think it is too much annoyance moving an entire Directive/Component, so I think it would be nice as well to be able to use forwardRef in the `@Host()` annotation.

I tried to pass fo

[2015-09-16 19:18] PascalPrecht commented on #4213
I think you're using it wrong. You have to use `@Inject` for `forwardRef`. `@Host` and `@SkipSelf` are really just DI qualifiers. Did you try:

[code]

[2015-09-16 19:43] ericmartinezr commented on #4213
@PascalPrecht Interesting... I didn't think of that. The way we use ViewQuery/Query made me think that this would be possible. Thanks for pointing out. Although I think it wouldn't be a bad idea to be more specific and add something inside `@Host`. Anyway, closing, thanks :+1:

[2015-09-16 19:43] #4213 closed

[2015-09-16 21:01] itslenny commented on #2340
FYI - limitTo was replaced with slice and is finished see #3497 for details.

[2015-09-16 21:31] tbosch opened #4215 "Exception reporting: Error message is swallowed for `NoAnnotationError`"
Solution: Pass in ` ` to `super()` call

[2015-09-16 21:33] mlaval opened #4216 "Moving to es6-shim broke most browsers"
In fact, only Chrome and Edge made it through.

As far as I can see, 2 issues are causing this in both unit tests and examples:

1) Firefox: `Error: Expected int32 as second argument in c:/Dev/angular_mlaval/node_modules/es6-shim/es6-shim.js (line 1101)`
This is a known issue in es6-shim: https://github.com/paulmillr/es6-shim/issues/347
It comes from an actual bug in Firefox, which was apparently

[2015-09-16 21:35] gdi2290 commented on #2340
`orderBy` was removed
https://github.com/angular/angular/pull/2956
`date` and `number` are in
https://github.com/angular/angular/pull/2877
`filter` was removed
https://github.com/angular/angular/pull/2957
`currency` didn't make it
https://github.com/angular/angular/pull/2464
so the only one left in this list is `currency`

[2015-09-16 21:58] cscott commented on #4216
Yes, `Symbol` can't actually be emulated on older browsers, so it is not implemented by the shim.  There's an `es6-sham` class that might be appropriate, though, but caveat user.

[2015-09-16 21:59] cscott commented on #4216
Out of curiosity -- why are you moving to `es6-shim`?  What did you use before, and why did you switch?  (I ask as a contributor to both `es6-shim` and `core-js`.)