[2020-08-20 17:39] alxhub commented on #38366
No, unfortunately, because it's required by the _current_ package format.

[2020-08-20 17:54] popec commented on #12251
+1

[2020-08-20 18:28] petebacondarwin commented on #38369
@nminhduc that sounds expected - keeping the major versions in sync (9 with 9, 10 with 10) is a good idea. Ideally if you can update to v10 you are in a better place since that will contain the majority of fixes and features going forward.

[2020-08-20 18:35] petebacondarwin commented on #24094
@danwhitston - sorry that this has not yet been solved. Now that @matsko has left the team, such issues are not getting as much attention as they deserve. Are you able to test the fix given in #29709 for your scenario? If it works for you, I would be willing to try to get it merged.

[2020-08-20 18:37] leandroz commented on #38469
I have an issue that I think is related.

Routes definition
[code]
MyAccountComponent template
[code]

The url generated to correctly navigate to let's say the TicketsViewComponent in primary and TicketsComponent in content named outlet is `/app/(tickets//content:views/0001)`, note the double `/` between tickets and content.
The problem is that is redirected as just one in Firebase Hosting and I b

[2020-08-20 18:58] alxhub commented on #38366
This concludes the two-week commenting period for our first community RFC. I want to thank everyone who took their valuable time to read through our proposal and offer their feedback here. We on the Angular team are extremely excited about the response we've received.

To formally wrap up this RFC, I'll summarize our main takeaways:

1. Overall, the community feels positively towards the linker de

[2020-08-20 18:58] #38366 closed

[2020-08-20 19:37] splincode opened #38547 "Support TypeScript 4.x"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/*

### Description

After upgrade to TypeScript 4.0.2

[code]

[2020-08-20 19:40] ericmartinezr commented on #38547
See https://github.com/angular/angular/pull/38076

[2020-08-20 19:44] #38547 closed

[2020-08-20 19:50] RafaelKr commented on #34352
I like to kindly request feedback from the Angular team. Is there something the community could do to speed up the process?

[2020-08-20 20:45] karptonite commented on #9343
Perhaps someone can close this issue? I read through a lot of it before realizing it was fixed (but not closed).

[2020-08-21 04:37] DoloMike commented on #10726
This fixed the issue I was having:

https://stackoverflow.com/a/48831904/2909562

[2020-08-21 04:51] samyue commented on #38482
test

[2020-08-21 07:03] Xiagee opened #38550 "Problem - angular ver.10 app publish on iis"
Hi,

I created application .net 3.0 + Angular 8 in visual studio. Then I uptaded angular to ver. 10. When I run app locally everything is ok but when I publish it on iis I got this error:

no such file or directory, open 'C:\Websites\App\ClientApp\package.json'

I've change Startup.cs

services.AddSpaStaticFiles(configuration => { configuration.RootPath = "ClientApp/dist/App"; });

but this not he

[2020-08-21 07:07] anandmane90-ksb commented on #30619
Hi,
how do we handle this check1 if we have array

[2020-08-21 07:26] crisbeto commented on #38497
This will be fixed in the CDK by https://github.com/angular/components/pull/20346.

[2020-08-21 07:26] #38497 closed

[2020-08-21 09:36] th0r opened #38551 "`RangeError: Maximum call stack size exceeded` in `@angular/animations` module"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/animations

### Is this a regression?

 Not sure

### Description

We sometimes see `RangeError: Maximum call stack size exceeded` error in our production environment. Some of them come from Safari, some from Chrome. I'm attaching a few last frames of the stacktrace (see the section below). I think this is the reason fo

[2020-08-23 02:33] KingMario opened #38556 "[FR] New default input property binding style"
# 🚀 feature request

### Description

Could you please add a `[prop.propertyA]="boundVariable"` style data binding for `@Input() propertyA = initialValue;` in a component. When the value `boundVariable` is `undefined`, the `propertyA` will be set to the `initialValue`.

[code]

As in `[attr.id] = "uniqId"` for simple HTML elements, if the value of `uniqId` is `underfined`, no id will be set for th

[2020-08-23 09:05] agalazis opened #38558 "Cannot use url matcher along with outlet in router confiuation"
You cannot use
[code]

the configuration seems to be entirely disregarded see reproduction for more details:

## 🔬 Minimal Reproduction
https://stackblitz.com/edit/angular-router-basic-example-x5yxss?file=app%2Fapp.routing.module.ts

## 🔥 Exception or Error
 No exception or error thrown. I would expect the correct typings and a compiler error if  I cannot have the combination for some reason.

##

[2020-08-23 17:59] agalazis commented on #38558
I think that router also needs both better typings and runtime error handling as well eg I am allowed to leave path parameter out(typings issue) but even then instead of seeing a meaningful runtime exception thrown I get  `Cannot read property 'split' of undefined` (Could be `invalid route: matcher or path required`)

[2020-08-24 02:00] hungnguyenmanh82 commented on #28915
this bug hasn't  been fixed. I am working on Angular v10.0.7.
I prefer httpClient.get<string>(url)   or  httpClient.get<HttpResponse<string>>(url) than httpClient.get(url, option).
Actually,  httpClient.get<HttpResponse<string>>(url) doesn't work now.
if users wan't more 'Accept" type like */*, etc , they should add it via headers

`    this.httpClient
      .get<HttpResponse<string>>('http://loca

[2020-08-24 04:07] dev054 opened #38559 "Better typings for router package"
# 🚀 feature request

### Relevant Package
`@angular/router`

### Description
I'd want propose better typing for routes. I've summarized it all below:

[**`ExtraOptions`**](https://angular.io/api/router/ExtraOptions):
| Member | Current type | Proposed type | Reason
|-|-|-|-
| preloadingStrategy | any | Type\<PreloadingStrategy> | A more concrete type than `any`.

[**`ActivatedRoute`**](https://ang

[2020-08-24 04:48] ichi0609 commented on #38559
あ

[2020-08-24 05:37] Airblader commented on #38559
As a quick thought: when doing this we should also consider strictNullChecks by adding undefined and null where possible / necessary. For compatibility that'll be required I think.

[2020-08-24 07:16] mlc-mlapis commented on #28915
[**@hungnguyenmanh82**](https://github.com/hungnguyenmanh82) It's not a bug. It works as designed and was many times explained why this way has been chosen. Btw, `httpClient.get<HttpResponse>(url)` is just typing - it doesn't affect the run-time code in any way.

[2020-08-24 08:42] manueledones opened #38560 "feat(compiler): Support "in" operator in Angular templates"
# 🚀 feature request

### Description
I'd like to have your opinions about supporting "in" operator in html templates. Let's say I have an object of a union type A | B. I'd like to use the 'in' operator to differentiate type.
Something like:

[code]

Here is a [stackblitz](https://stackblitz.com/edit/ngifin?file=src/app/app.component.html)

[2020-08-24 09:40] gkalpak commented on #34899
Adding an API for this feels a little awkward.

It would feel more straight forward to not add the header and let the users add it if needed, but that would be a breaking change of course. This is discussed in #28915 btw.
(DISCLAIMER: I don't understand the implications of not automatically adding the `Accept` header :grin:)

[2020-08-24 09:43] gkalpak commented on #28915
BTW, adding this header also (currently) breaks HTTP2 preloading. See https://github.com/angular/angular/issues/34899#issuecomment-660492552 for details.

[2020-08-24 10:53] kmaraz opened #38561 "zone.js can't patch XHR requests on IE11"
# 🐞 bug report

### Affected Package
The issue is caused by package zone.js@0.11.1

### Is this a regression?

Yes, the previous version in which this bug was not present was: 0.10.3

### Description

This error occurs on IE11 when zone.js tries to patch any XHR requests.

## 🔬 Minimal Reproduction

## 🔥 Exception or Error
Error message is
<pre><code>
"Invalid calling object"
</code></pre>

Stackt

[2020-08-24 12:33] BdDragos commented on #38561
I also have the same error, reverting back to 0.10.3 from 0.11.1 fixed it. It was caught by my error interceptor:

`  intercept(request: HttpRequest<any>, next: HttpHandler): Observable<HttpEvent<any>> {
    return next.handle(request).pipe(
      catchError((error: HttpErrorResponse) => {
        let errorMessage = '';
        let displayedMessage = '';
        if (error.error instanceof ErrorEve

[2020-08-24 12:54] JiaLiPassion commented on #38561
@kmaraz, I can not reproduce this issue, could you provide a reproduce repo? thanks.

[2020-08-24 13:02] bobKasbi commented on #38544
I see now. Your hint regarding removing some libraries to localize the issue did help. I do have a library which is still using an older version in <code>preDependencies</code> in the specific <code>package.json</code> (not the main one in the root) than the one where I do embed it. But when trying to upgrade the <code>preDependencies</code> (manually) in/for the library, it doesn't work. It  keep

[2020-08-24 13:07] petebacondarwin commented on #38544
What are `preDepedencies`? Do you mean `peerDependencies`?

[2020-08-24 13:08] bobKasbi commented on #38544
Yes, Sorry!

[2020-08-24 13:15] petebacondarwin commented on #38544
I would say that you must update those `peerDependencies` directly. The Angular framework peer dependencies should update themselves automatically when using `ng update @angular/core` since it contains information about how to do that. But if you have a library that has a `peerDependency`, it would be up to you to do the update manually.

[2020-08-24 13:31] bobKasbi commented on #38544
This is what I did exactly. Manually updating the specific version of <code>peerDependencies</code> in the specific <code>package.json</code>. The main <code>package.json</code> file has been updated automtically running <code>ng update @angular/core @angular/cli</code>. Any way, I also found out, that it's even not an issue with library version or it <code>peerDependencies</code>. In the library

[2020-08-24 13:36] petebacondarwin commented on #38544
Glad you got to the bottom of it!! Thanks for working with me on this.

[2020-08-24 13:36] #38544 closed

[2020-08-24 14:58] plex4r commented on #38469
leandroz, that does look related but I am not sure if that is the result of the same root issue.  I assume you are using something like Router.navigateByUrl after you correct the URL.  I just wanted to comment that I saw that same behavior in constructing the URL using [routerLink] in the HTML template, in one of my multiple failed attempts to correct the extra slash before the '(' (which was the

[2020-08-24 14:58] #38469 closed

[2020-08-24 15:13] kashban commented on #25965
This is a kinda old issue, any news on solving this without resorting to workarounds?

[2020-08-24 15:14] kapunahelewong commented on #38525
Should we maybe put it in the intro to the document? If I understand, it applies to all types of built-in directives, right?

[2020-08-24 15:16] petebacondarwin commented on #38525
Yes it applies to all the built-ins. I guess the point is that even though they are built-in they could have been built by 3rd parties.

[2020-08-24 15:20] kukjevov opened #38562 "BUG: ɵɵnextContext in template does not return *latest* context/component instance"
# 🐞 bug report

### Affected Package

`@angular/core`

### Is this a regression?

Dont know, never tried this before IVY.

### Description

I have *table* which renders *detail* rows. When you click on any row, new *detail* row should be added to the table.

Component works correctly if you refresh page or navigate to it after refresh. Then click on any row and new *detail* row is added to the tab

[2020-08-24 15:40] dev054 opened #38563 "Router docs is showing class as interfaces"
# 📚 Docs or angular.io bug report

### Description
Most (if not all) classes in `@angular/router` docs are being shown up as _interfaces_.

## 🔬 Minimal Reproduction

### What's the affected URL?**
See https://angular.io/api/router/ActivatedRoute per example:

![Captura de Tela 2020-08-24 às 12 38 19](https://user-images.githubusercontent.com/28629080/91065354-bccd8800-e606-11ea-9fc6-620c36fffdf6

[2020-08-24 15:45] petebacondarwin commented on #38563
So if I remember correctly, this is because the class's `constructor` is marked as `@internal`. Any class in the framework that is not supposed to be instantiated by application developers is rendered as as an interface.

[2020-08-24 15:50] dev054 opened #38564 "Some router docs links redirecting to the homepage"
# 📚 Docs or angular.io bug report

### Description
`RouterState extends Tree`, however as `Tree` isn't exposed to the public API, it has a blank link, pointing to the homepage.

![Captura de Tela 2020-08-24 às 12 44 36](https://user-images.githubusercontent.com/28629080/91066068-9bb96700-e607-11ea-9179-a4f3796d92bc.png)

### Expected behavior
I really don't know, maybe doesn't make `Tree` clickab

[2020-08-24 16:26] #37697 closed

[2020-08-24 18:30] AndrewKushnir commented on #38178
Hi @doggy8088,

This logic was added a while ago in https://github.com/angular/angular/pull/10994 and an answer to a similar question can be found in https://github.com/angular/angular/pull/10994#issuecomment-244195999. You can also find usage examples in the [FormControl docs](https://angular.io/api/forms/FormControl#usage-notes).

I think that the `value` check in the `_isBoxedValue` function ca

[2020-08-24 18:30] #38178 closed

[2020-08-24 20:03] kmaraz commented on #38561
@JiaLiPassion here: https://github.com/kmaraz/zonejs-demo
Hope it helps. I am able to reproduce this with this minimal demo.

[2020-08-24 20:33] kmaraz commented on #38561
Maybe related: Also I am using `blacklist.ts` to create new Zone which doesn't work anymore:
[code]
Because `Zone`, `ZoneDelegate` and `Task` are unrecognized.

[2020-08-24 23:55] AndrewKushnir commented on #38482
Hi @r-shakeri, thanks for providing a repro.

I've performed additional investigation and it looks like the problem appears due to the following code (as @sonukapoor mentioned above):

[code]

Which triggers the `valueChanges` to emit new value and the following callback to be executed:

[code]

as a result, calling the `onChange` function triggers validator to be executed for the second (unnecess

[2020-08-24 23:55] #38482 closed

[2020-08-24 23:58] alvipeo opened #38566 "gRPC client"
I need a gRPC communication in my angular app. Is there anything already built-in or planned? Sorry, never used it with angular and I don't see it mentioned anywhere in the docs.

[2020-08-25 00:17] AndrewKushnir commented on #38538
Closing this ticket since there is no repro, so we can not perform further investigation. Feel free to create a new ticket once repro is available. Thank you.

[2020-08-25 00:17] #38538 closed

[2020-08-25 00:36] JiaLiPassion commented on #38561
@kmaraz , the repo https://github.com/kmaraz/zonejs-demo only contains some config files, could you post a workable repo?

[2020-08-25 04:19] oneclickwebstudio opened #38568 "Kyrgyzstani som in CurrencyPipe by default"
Hello! I'd like to ask you to add `KGS` currency code to your CyrencyPipe with symbol    ![image](https://user-images.githubusercontent.com/5783161/91122031-0c6d8b80-e6bb-11ea-9833-9a042eb0e76f.png)

[Resource]( https://en.wikipedia.org/wiki/Kyrgyzstani_som)

# 🚀 feature request

### Relevant Package
@angular/common/common.d.ts

### Describe the solution you'd like

`{{1000 | currency: 'KGS': 'sym

[2020-08-25 05:38] kmaraz commented on #38561
@JiaLiPassion sorry, it is updated now.

[2020-08-25 07:23] petebacondarwin commented on #38566
There is no gRPC provided in by the Angular team. A quick Google search brings up https://github.com/ngx-grpc/ngx-grpc, which is probably what you are after (or at least a starting point). Closing as this is either deemed a support request, or a feature request that we will not support.

[2020-08-25 07:23] #38566 closed

[2020-08-25 07:33] petebacondarwin commented on #38568
Unfortunately, we cannot make this change in the Angular project. All our locale data is extracted from the CLDR project automatically. I see in that project that there is the following data:

[code]

This implies to me that the symbol being used is `сом` and not the character you request.

If you wish this to change it would need to be by getting CLDR to update their data. You can start by lookin

[2020-08-25 07:33] #38568 closed

[2020-08-25 09:01] Chocobozzz commented on #38437
I tested the latest angular release and it works. Thanks @petebacondarwin for your work on localization, that allowed us to reduce our build time by 10 with reduced localized bundle sizes.

[2020-08-25 09:01] #38437 closed

[2020-08-25 09:07] petebacondarwin commented on #38437
Fantastic! Great to hear your build time improvements. Is that 10 times faster?

[2020-08-25 09:18] Chocobozzz commented on #38437
Yes, ~1h20 before and now ~8 minutes. Before your new extractor we used [18n-polyfill](https://github.com/ngx-translate/i18n-polyfill/) to translate our components, requiring to make 1 Angular build per language (because it `require` the translated XLIFF file of the current locale). Now we do only 1 build :) We also reduced our bundle sizes since we don't need to `require` XLIFF files anymore.

Th

[2020-08-25 09:34] petebacondarwin commented on #38437
You can turn off legacy message ids for your project, and then have new ids everywhere.
In tsconfig set `enableLegacyMessageIds` to false.

[2020-08-25 09:34] ArtemAvramenko opened #38569 "localize-translate throws 'undefined' error when string contains braces"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/localize^10.1.0-next.7

### Description

 In ts code I use i18n:
[code]
then I extract xlf and translate it:
[code]

then I run `localize-translate` and get `undefined` error:
[code]

## 🔥 Exception or Error
[code]

## 🌍  Your Environment

**Angular Version:**
[code]

[2020-08-25 09:45] ArtemAvramenko opened #38570 "localize-extract does not write 'original' attribute"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/localize^10.1.0-next.7

### Is this a regression?

Yes, the `View Engine` extraction via `AngularCompilerPlugin` write xlf attribute as:
[code]

### Description

I call `localize-extract` and get xlf file without `original` attribute:
[code]
My CAT tool (OmegaT) cannot open this file.

## 🌍  Your Environment

**Angular

[2020-08-25 10:00] Chocobozzz commented on #38437
Yes I now but we need to update existing IDs to new ID format first to not loose existing translations.

For example, if I regenerate `angular.xlf` using `./node_modules/.bin/localize-extract` with `enableLegacyMessageIds: false`, and then merge this file in existing translations (`angular.fr.xlf`), we'll loose translated strings that used legacy IDs because they don't exist anymore in `angular.xl

[2020-08-25 10:24] matt-potts-autodesk commented on #20785
I am experiencing the same issue with the Angular Service Worker, this is a great feature but clearing the data groups each time the application is updated is a real problem. Is there any ETA for when this will be addressed? TIA

[2020-08-25 10:30] andzejsw opened #38572 "Uncaught TypeError: Object prototype may only be an Object or null: undefined"
Build config `"buildOptimizer": true` in angular.json file breaks my project on production build while using angular 10. On Angular 9 everything works perfect. Also if it is set to false, production build is working as it should.
Stacktrace in browser after opening project:
[code]

[2020-08-25 11:01] JiaLiPassion commented on #38561
@kmaraz, thanks for the sample, this is not a bug since zone.js 0.11.1 is a major update with breaking change since from 0.11.1, zone.js change the `dist` bundle format to `Angular Package Format`, and your project is not generated with `Angular CLI`, so it will not work in IE 11 without update the webpack config, since currently Angular 10 is still using zone.js 0.10.3, so please don't update to

[2020-08-25 11:39] sonukapoor commented on #38464
@Harpush This is caused because `setValue` was called with `emitEvent: false`.

If you set this to `true`, then the underlying `statusChanges` event will be emitted, which should resolve the issue. You can see this working in the below fork from the stackblitz you provided:

https://stackblitz.com/edit/angular-ivy-k7ovdb?file=src%2Fapp%2Fdetails%2Fdetails.component.ts

I'm closing this ticket sinc

[2020-08-25 11:39] #38464 closed

[2020-08-25 12:28] petebacondarwin commented on #38437
Right! I have a plan to work on a migration tool for these purposes when we look at deprecating and removing the legacy ids.

[2020-08-25 12:30] petebacondarwin commented on #38570
I'm really sorry, I didn't realise that `original` is a required property of `<file>`. I will remedy that today.

[2020-08-25 13:44] petebacondarwin commented on #38569
Yeah - so the `{world}` string in your message is not valid, since such curly braced blocks will be interpreted as ICU expressions. We should provide better error messaging...

[2020-08-25 13:51] ArtemAvramenko commented on #38569
How to escape braces so end-users can see them on UI?

[2020-08-25 13:57] petebacondarwin commented on #38569
The approach in templates is to use interpolation: something like:

[code]

In application code, I think you could do something similar like:

[code]

[2020-08-25 14:54] gkalpak commented on #20785
There is no specific timeline at this point, I am afraid. If anyone wants to work on it, I would be happy to review, though :wink:

BTW, for static assets (such as videos) it might be better to use asset-groups instead of data-groups. Data groups are better suited for dynamically generated responses (such as retrieving data from a DB, etc.).

[2020-08-25 15:20] alvipeo commented on #38566
In a year there will be more and more gRPC use, I think you should consider it.
Anyway, thanks.

[2020-08-25 15:22] crfrolik commented on #38526
I am seeing a peer dependency warning when using the latest zone.js with the latest angular
[code]

[2020-08-25 15:41] gnbabu opened #38577 "Ivyenable compilation issues in angular 9"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Please help us process issues more efficiently by filing an
issue using one of the following templates:

https://github.com/angular/angular/issues/new/choose

Thank you!

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Getting the compilation errors after upgrading from angular 7 to angular 9 and enabled Ivy option.
When i set below configuration in ts-config its compiling

[code]
Angula

[2020-08-25 15:48] mlc-mlapis commented on #38577
[**@gnbabu**](https://github.com/gnbabu) But you didn't mention what was upgraded and from which version. There is also the site https://update.angular.io where you can find out, what is necessary to do when upgrading from version X to Y.

[2020-08-25 15:52] gnbabu commented on #38577
I have upgraded from angular 7.2.11 to 9.1.12

[2020-08-25 15:59] JoostK commented on #38577
Please share the full output of `ng version`, as that might give a bit more detail about your setup. Ideally, include details on how you migrated and what commands you're running that result in the errors.

In the current state this issue is missing vital information to be actionable.

[2020-08-25 16:01] mlc-mlapis commented on #38577
**@gnbabu** So check the whole process once more or migrate to the version 8.x first. You had to make some mistakes.

[2020-08-25 16:02] gnbabu commented on #38577
Angular CLI: 9.1.11
Node: 12.16.1
OS: win32 x64

Angular: 9.1.12
... animations, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, platform-server
... router, upgrade
Ivy Workspace: Yes

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0.901.11
@angular-devkit/build-angu

[2020-08-25 16:07] gnbabu commented on #38577
I have updated version step by step as mentioned in the angular documentation ( starting from 7=>8=>9)

[2020-08-25 16:11] JoostK commented on #38577
So from the errors it's apparent that ngcc, the compatibility compiler, has not processed the libraries as needed for Ivy. This should happen automatically from within the CLI, and your CLI version should be sufficient to do that. So unfortunately, that doesn't yet get us closer to finding the cause.

What commands are you running?

[2020-08-25 16:14] gnbabu commented on #38577
`"start": "node --max-old-space-size=8192 node_modules/webpack-dev-server/bin/webpack-dev-server.js --open --hot --mode development",`

[2020-08-25 16:24] JoostK commented on #38577
AH! So that looks like you're not actually using the CLI then, in which case I understand why you're seeing those errors (although the above command does not show how the app is built, assuming that building does not occur from within that script (or does it?!)).

Anyway, without the CLI you'd need to run ngcc manually. The simplest way would be to run it in a postinstall step in `package.json` us

[2020-08-25 16:29] gnbabu commented on #38577
You are correct in my application is hybrid solution which has angularJS+angular. We have used web-pack configuration for building the application below is the command

`"build": "webpack --mode development",`

[2020-08-25 16:32] petebacondarwin commented on #38577
Actually if you are not using CLI then you probably don't want to use `--create-ivy-entry-points` since that is only understandable by the particular webpack configuration used in CLI.

[2020-08-25 16:38] JoostK commented on #38577
Thanks Pete, I didn't even think about that!

[2020-08-25 16:52] #38361 closed

[2020-08-25 16:54] gnbabu commented on #38577
its compiling but after running the application getting the empty page, in the console i am getting the below error

[code]

[2020-08-25 17:12] JoostK commented on #38577
That looks like you did run it with `--create-ivy-entry-points`, which should not be used here (sorry, my mistake!)

[2020-08-25 17:13] gnbabu commented on #38577
i removed that still getting the same error

[2020-08-25 17:42] tonivj5 opened #38578 "useFactory in @Injectable doesn't work using object's shorthand method definition"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 Yes, the previous version in which this bug was not present was: I don't know

### Description

`useFactory` doesn't work when I use it like this:
[code]

Using an arrow function, an anonymous function or an exported function work (see repro).
But using an arrow function `angular langua

[2020-08-25 17:49] JoostK commented on #38577
You'd have to completely remove `node_modules` and run `npm install`/`yarn install` and ngcc again, as the initial run (supposedly with `--create-ivy-entry-points`) of ngcc has marked everything as processed, such that additional runs won't do anything (even if the configuration changed)

[2020-08-25 17:55] JoostK commented on #38578
Labeled for language-service as it's still using the ViewEngine format, which still has this limitation. Preparing the LS to fully work the Ivy way is being worked on!

[2020-08-25 18:24] tonivj5 commented on #38578
@JoostK using `useFactory` as an object method is not working as you can see opening the console in https://ng-run.com/edit/zwh0lwIk3NYX9tKWSUMt

The language service is other inconvenient...

[2020-08-25 18:34] JoostK commented on #38578
@tonivj5 Oh, sorry, I misread "Using an arrow function, an anonymous function or an exported function work (see repro)." to refer to the method syntax.

[2020-08-25 18:35] tonivj5 commented on #38578
No problem, thanks for confirm! :smile:

[2020-08-25 18:38] ergys7is opened #38579 "Why this error when communication Angular with Backend throw REST service?"
I am running an application (front end is Angular ver 8), backend is Java Spring Boot. The server where the application will run is Windows Server 2019. In my pc the application is running without problems (on serve, not build), but on server, I am trying to serve the application, before build, but an error is occurred the moment fe is trying to communicate be - [HPM] Error occurred while trying t

[2020-08-25 18:40] JoostK commented on #38579
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-08-25 18:40] #38579 closed

[2020-08-25 19:23] gnbabu commented on #38577
No luck still getting the same error

[2020-08-25 19:30] petebacondarwin commented on #38577
Can you clarify how you actually build the application? What is the webpack configuration that you are using? Does the command you specified earlier:

[code]

Actually trigger `ngc` to build the TypeScript files?

[2020-08-25 20:31] shyamal890 opened #38582 "Cannot read property 'hasInlines' of undefined"
🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [ x] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

Yes, the previous version in which this bug was not present was: 8.2.2

### Description
`ng build --prod` is giving the following error after upgrade t

[2020-08-25 20:43] JoostK commented on #38582
What @alan-agius4 said! :D

[2020-08-25 22:14] #38570 closed

[2020-08-26 04:11] OpportunityLiu opened #38584 "Typings is missing in zone.js 0.11.1"
# 🐞 bug report

### Affected Package

After update zone.js from 0.10.3 to 0.11.1, my code
[code]
 reports
[code]

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 0.10.3

### Description

`"typings"` field is missing in new package.json.

## 🔬 Minimal Reproduction

 https://stackblitz.com/...

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  You

[2020-08-26 04:27] OpportunityLiu commented on #38584
Currently using
[code]
as a workaround

[2020-08-26 06:39] gnbabu commented on #38577
We have hybrid solution (angulajs + angular 9) used web pack to build the application

package.json  for web pack versions
[code]

webpack.config.js

[2020-08-26 07:58] kgergooo commented on #6361
@redevill That `this._styleNodes.add(host.appendChild(styleEl));` can be because of an angular dependency. I also moved the component level styles into a global style but still getting the same csp inline style error, so I created a non minified angular build and I debugged the build. I get the csp errors because of the angular material npm package.

[2020-08-26 08:10] sp90 commented on #35265
@mhevery father of angular, can you come to the rescue of your child before this issue obliterates the community around it.

Alternatively some core team members: @petebacondarwin, @IgorMinar, @kara and more please can we get an ETA on this crucial part of the development with angular, and maybe fast track it? 🚀

[2020-08-26 08:12] JiaLiPassion commented on #38584
@OpportunityLiu , thank you for reporting the issue, I will fix this one asap.

[2020-08-26 09:15] petebacondarwin commented on #38577
So I don't see anything in that config that could be the problem...

But I just noticed this line in your error:

[code]

So the fact it says `PRE_R3` indicates that this file has not been processed by ngcc. The ngcc processing should switch this to `POST_R3`. Secondly I note that the file being loaded is `fesm5/core.js`, which means that webpack is using the `ES5` format of the core library rathe

[2020-08-26 09:21] lahirudilshan opened #38586 "Angular 9 custom module not loading specific component (Can't bind to 'ngIf' since it isn't a known property of 'ng-container'.)"
### Problem scenario

The issue is in my custom-created module, I imported a component and that component uses a service, then I **ng serve** that component not rendering and give a warning in the console as **Can't bind to 'ngIf' since it isn't a known property of 'ng-container'** and if I remove that service from that component it renders and works fine..but if I add that service into the compon

[2020-08-26 09:29] nickshoe commented on #33233
This is a workaround for getting hold of a child component nativeElement based on some properties of the component itself:

[code]

[code]

[2020-08-26 09:47] mhombach opened #38587 ""_ngcontent" inserted into font-url, making it invalid"
# 🐞 bug report

### Affected Package
Seems to be related to SCSS-compiling but seems to be also related to angular itself.

### Is this a regression?
It seems this bug is also existing in version 8.2.3 / 8.3.0, most likely in all versions inbetween.

### Description
If an angular project uses SCSS and imports a font by url, in some cases angular wrongly inserts a `[_ngcontent-...]` into the url so

[2020-08-26 11:00] h3d0 commented on #13446
The latest Chrome bug report page (https://bugs.chromium.org/p/chromium/issues/detail?id=1045640) states:

Yesterday, Chrome 85 has been released, the problem seems to persist. Does **NextAction: 2020-09-01** mean the decision will be taken on September 1st?

[2020-08-26 11:30] frunjik commented on #19888
Is it correct that i'm still having difficulties receiving plain text using Angular 10

using (something like):
    const options = {
      responseType: 'text' as 'json',     // !!!! ???
      headers
    };

    return this.http.get(url, options);

I have tried several combinations of get<type>
and responseType: 'text'

(I have not tried any of the workarounds mentioned above ...)

[2020-08-26 11:34] juanmendes commented on #36776
@flash-me I'm not sure how your example matches the [`SubSink` example](https://github.com/angular/angular/issues/36776#issuecomment-618244062), you are being forced to call `unsubscribe` yourself. Their example automatically unsubscribes from ngOnDestroy...

@zlepper We do pretty much the same thing, see https://github.com/vmware/vmware-cloud-director-ui-components/blob/master/projects/components

[2020-08-26 11:54] zlepper commented on #36776
Additionally adding subscriptions to other subscriptions also causes those subscriptions to be cancelled, if the first subscription completes (At least it did last i tried).

@juanmendes We ended up using a component scoped service instead:
[code]
Turns out Angular calls the OnDestroy method on services if they are scoped. So we add the service to our component providers if we need it, then depend

[2020-08-26 12:07] shyamal890 commented on #38582
@JoostK can you atleast tell me why this error may occur? As its a large repo and its really difficult reproduce this. Having some idea on the reasons behind this error may help.

[2020-08-26 12:09] rygoebel opened #38588 "ICU expression (plural) does not work with angular and HTML tags, since angular 9"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/localize ?

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 8.3.29

### Description

 After update to Angular 9 (and similarly for Angular 10), ICU expression does not render component or HTML tags inside ICU expression (in this case - plural expression). There is no error in

[2020-08-26 12:13] juanmendes commented on #36776
@zlepper  If it's not too much to ask 😅 , would you be able to provide us the code for your custom ts lint rule? It does sound like it could be a hard to track bug if you forget to add to service to the providers array

[2020-08-26 12:28] zlepper commented on #36776
@juanmendes Here you go: https://gist.github.com/zlepper/df282c06bafe46342d5b43f4e049726a
It needs to be compiled and such from the TS version, but i figure you can handle that part? :)

[2020-08-26 12:37] juanmendes commented on #36776
@zlepper Awesome! Yes, we already have our custom rules that we also need a separate build step to turn them into JS so I just need to add it to our custom rules folder. Thanks again. I will post a link to our project as reference if anyone needs to see the entire pattern.

[2020-08-26 13:00] JoniJnm commented on #28867
Fixed and updated to v10, thanks

[2020-08-26 13:06] muehle28 opened #38590 "Angular-Cli 10.1.0-next.6 - extract-i18n - id is ignored"
When extracting translations with the flag ivy=true for every template translation the id is beeing ignored and generated new.
`<h1 i18n="header|Header1@@oo.header">Header</h1>`

[code]

Code translations are working fine.
`$localize:header|Header1@@oo.header`

[2020-08-26 13:21] petebacondarwin commented on #38588
@rygoebel thanks for the excellent reproductions of this problem. I can confirm that this is a regression.
@mhevery is currently reworking some of the ICU handling in Ivy and so this may be related.

[2020-08-26 13:29] petebacondarwin commented on #38588
The relevant section of the generated Ivy instructions are:

[code]

But what is strange is the post-processing of the `I18N_0` variable:

[code]

I would have expected a "sub-template" block marker in there (i.e. something like `�*3:2�`.

[2020-08-26 14:05] bibhas2 opened #38591 "DebugElement.componentInstance returning the wrong component"
# 🐞 bug report

### Affected Package
N/A

### Is this a regression?

N/A

### Description

``DebugElement.componentInstance`` is returning the wrong component.

## 🔬 Minimal Reproduction

Create a new app.

[code]

Create two components.

[code]

In ``src/app/pet-list/pet-list.component.html`` use pet display component.

[code]

In ``src/app/app.component.html`` use pet list component.

[code]

In

[2020-08-26 14:08] BossOz opened #38592 "ASSERTION ERROR trying to render a component with its factory coming from an Angular Element"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 Not tested

### Description

The error is thrown trying to render a component using its factory that is resolved inside an angular element and only if there are *ngIf in the template.

## 🔬 Minimal Reproduction

Here a little test project.
[https://github.com/BossOz/element-rendering-te

[2020-08-26 14:12] JoostK commented on #38582
@shyamal890 the error is related to how the template type checker expects type-check information to be available for all regular TS files in the program. In this case, is appears as if some files don't have type-check information available, but are still type-checked. I don't really know how they get misaligned in this case; I notice you're using Windows, that might contribute to the issue.

What

[2020-08-26 14:39] BossOz commented on #38592
**UPDATE**
This error is thrown ALWAYS if used the `ComponentFactoryResolver` coming from the `test-app`.

If we use the factory resolver injected in the angular element the error change:

[code]

[2020-08-26 14:43] petebacondarwin commented on #38590
This should be fixed by https://github.com/angular/angular/pull/38498 which was released in `10.1.0-next.8`. Can you test with that version please?

[2020-08-26 14:44] yating00000 opened #38593 "AOT complier"
# 📚 Docs or angular.io bug report

### Description

Hi, I saw the below paragraph on your website mentioning that AOT Complier doesn't support arrow functions:
&nbsp;
<img width="600" alt="截圖 2020-08-26 下午9 11 24" src="https://user-images.githubusercontent.com/26374265/91312014-51daa780-e7e6-11ea-8a2d-b9f9b28f4bd6.png">

However, in LazyModule of Angular10:
[code]

### Expected vs Actual Behavior*

[2020-08-26 14:47] petebacondarwin commented on #38593
I believe that this does not apply to the new Ivy AOT compiler. So the documentation is out of date and needs to be updated.

[2020-08-26 15:53] muehle28 commented on #38590
With the version 10.1.0-next.8 the error is gone.

I'm still getting following warning for every file when doing a i18n extract:

[code]

[2020-08-26 15:56] petebacondarwin commented on #38590
Hmm, we should talk to @clydin about that warning. I think it might be related to how we are providing the files to the extractor.

[2020-08-26 16:09] jnizet commented on #38591
I can't reproduce. Your test passes fine here. I initially suspected you forgot to add the PetDisplayComponent to the declarations of you test module (i.e. inside `configureTestingModule`), but if I do that, I have (as expected) a compilation error: `ERROR: ''app-pet-display' is not a known element`.

You should provide a complete reproduction, as a github project that we can clone and execute.

[2020-08-26 16:29] mhevery commented on #38588
Actually this is intended regression and is documented here: https://angular.io/guide/ivy-compatibility

So this is a side-effect of the fact that i18n is now runtime.

I am going to close this as working as intended.

[2020-08-26 16:29] #38588 closed

[2020-08-26 16:34] bibhas2 commented on #38591
Thank you for checking this so quickly. I have created a repo to show the problem:

https://github.com/bibhas2/test-app

After cloning the repo, just do:

[code]

You should see the failed test case like this.

![image](https://user-images.githubusercontent.com/1730356/91331189-7445d400-e798-11ea-8888-488c1614a5e1.png)

[2020-08-26 16:36] fabiodamasceno commented on #15634
Can we contribute to this somehow? At least we need to know if we keep use workarounds to deal with this problem. Libraries like ng material will be benefited with that. Today in Dialog component, for example, we need to use setTimeout :( :
[code]

[2020-08-26 16:37] AndrewKushnir commented on #38593
Hi, as @petebacondarwin mentioned, the AOT guide needs to be updated in a context of Ivy compiler. There is a ticket to track that (see #38381) so I'll close this one as a duplicate. Thank you.

[2020-08-26 16:37] #38593 closed

[2020-08-26 16:43] petebacondarwin commented on #38588
The workaround for this case is to use `ngPlural` directives instead of ICUs: https://stackblitz.com/edit/angular-plurals-angular9-mgccwr?file=src/app/app.component.html

[2020-08-26 16:59] AndrewKushnir commented on #38586
Hi @lahirudilshan,

Could you please provide a minimum repro (using [Stackblitz](https://stackblitz.com/) or in a form of GitHub repo), so we can perform additional investigation?

I also noticed that you are using 9.1.11 version of Angular packages. Please try upgrading to the most recent version (10.0.12 at this moment) to see if the problem still exists and/or the error message is the same.

Th

[2020-08-26 17:09] jnizet commented on #38591
OK, so it's exactly as I suspected. Read the error messages in your terminal. It says:

[code]

And you get that error because you haven't added PetDisplayComponent to the `declarations` of your testing module, inside `configureTestingModule`. So, as the eror message explains, Angular doesn't know what the `<app-pet-display>` element is: it's not a standard HTML element, and it's not, inside this

[2020-08-26 17:10] dannyskoog commented on #38591
As @jnizet pointed out - try adding the `PetDisplayComponent` to the declarations array in the spec file, since currently your just rendering a non-Angular HTML element (called `pet-display`)

[2020-08-26 17:15] AndrewKushnir commented on #38592
Hi @BossOz, thanks for reporting the issue and providing a repro. I looked at the code in Github repository that you shared and I believe it can be simplified a bit more to have just the essential parts. Could you please help simplify it further (keep just one app, remove all non-essential code) to speed up additional investigation? Thank you.

[2020-08-26 17:30] bibhas2 commented on #38591
Ah, yes. That was my mistake. Adding ``PetDisplayComponent`` to declarations fixed the issue.

[code]

[2020-08-26 17:30] #38591 closed

[2020-08-26 18:16] alxhub opened #38596 "Ivy LS: Template parser produces ASTs for invalid templates"
A central issue with autocompletion is that frequently, completion is requested when the template is not strictly valid. For example, the user may attempt to complete the expression `foo.`, where the template parser expects an identifier, but none is present prior to the completion.

To allow for the best possible autocompletion experience, the template parser should still be able to produce ASTs

[2020-08-26 18:20] alxhub opened #38597 "Ivy LS: API to retrieve selectors in scope for a template"

[2020-08-26 18:52] alxhub opened #38598 "Ivy LS: autocompletion TCB fixture for top-level expression context"
Autocompleting in a top-level context (e.g. completing at `{{|}}`) is challenging, because it merges several different namespaces. The user could be attempting to refer to a component property, a variable defined at the current template level or above, a template reference (again at the current level or above), or certain "special" identifiers like `$any`. In event contexts, they might also be ref

[2020-08-26 19:02] smzelek opened #38600 "TestBed passes even without any declarations in NG9 and NG10"
# 🐞 bug report

### Affected Package

The issue seems to be in `@angular/core/testing` or the new bazel/ivy build rig.

### Is this a regression?

Yes, this behavior worked in Angular 8.
Angular 8 reports the following error...
<pre><code>Error: Illegal state: Could not load the summary for directive AppComponent.
error properties: Object({ ngSyntaxError: true })
</pre></code>

### Description
Ang

[2020-08-26 19:10] mhevery commented on #35265
[`verifySemanticsOfNgModuleDef`](https://github.com/angular/angular/blob/d1ea1f4c7f3358b730b0d94e65b00bc28cae279c/packages/core/src/render3/jit/module.ts#L170) was put in try to narrow the kinds of errors which are produced in AoT and JIT. As you have discovered the HMR does not play well with these checks as HMR by its very nature over-writes the class definition so that you end up with multiple

[2020-08-26 19:43] robisim74 commented on #31495
As reported by @hakimio, after over a year this issue was fixed in [Angular v10.0.5](https://github.com/angular/angular/blob/master/CHANGELOG.md#1005-2020-07-22). If there were other problems, I think more specific issues should be open, and therefore I am closing it.

[2020-08-26 19:43] #31495 closed

[2020-08-26 19:51] #38564 closed

[2020-08-26 20:30] Splaktar commented on #6361
@kgergooo Material has a couple of related, closed issues (https://github.com/angular/components/issues/12139, https://github.com/angular/components/issues/17783) but nothing open for CSP atm other then docs (https://github.com/angular/components/issues/12795). If you can create a reproduction of the problem, please open a new issue at https://github.com/angular/components/issues/new/choose.

[2020-08-26 21:15] shyamal890 commented on #38582
There is a very weird issue.

I was able to identify a file. In it if I change an import's filename Capital letter to Lowercase it works! although the imported file does start with Capital letter.

How to solve this?

[2020-08-26 21:22] #38582 closed

[2020-08-26 23:18] smzelek commented on #38600
I believe that [Issue #38373](https://github.com/angular/angular/issues/38373) may also be related to this regression, which I guess could have been caused when [the cached dependencies in tests feature](https://indepth.dev/next-level-testing-in-angular-ivy-version-9/#faster-tests-with-ivy) was added.

[2020-08-27 00:12] JimmyBlundell opened #38602 "Test issue for jimmy-blundell-test"
Put up a test comment

[2020-08-27 00:16] JimmyBlundell opened #38604 "This fixes #38603"
Test issue for my pull request

[2020-08-27 00:16] #38602 closed

[2020-08-27 01:34] Benno007 commented on #35265
I just added this to our index.html and it has made a difference. I can't find any documentation about what specifically this variable does?

 We no longer see the in 2 module errors whenever we modify a component (it was happening anytime we modified a component). We also used to lose CSS, and the page would end up looking like this:
<img width="1163" alt="Screen Shot 2020-08-27 at 11 32 40 am" s

[2020-08-27 01:56] hhsissi commented on #36173
Hi, did anyone find how to fix this ? Same problem as @acohenOT, error pops up when @routerAnimations directive is in a *ngIf.

[2020-08-27 03:01] #38604 closed

[2020-08-27 04:33] ngohungphuc opened #38605 "Angular 10 throw warning when using path alias"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/~10.0.14

### Is this a regression?

No

### Description
[code]

I'm using @user/shared/selectors/selector to shorten the import path

In tsconfig.base.json
[code]

## 🌍  Your Environment
<pre><code>
@angular-devkit/architect         0.1000.8
@angular-devkit/build-angular     0.1000.8
@angular-devkit/build-optimizer   0

[2020-08-27 07:18] edsulaiman opened #38606 "angular naming 'service' bug"
# 🐞 bug report

### Affected Package
I don't know, I think it's a bug caused by the Angular compiler

### Is this a regression?

 Yes, the previous version in which this bug was not present was:  Angular 9

### Description

in angular 9, I use the naming of ````service```` for some modules (````service.module.ts```` and ````service-routing.module.ts````), and use it as a lazy load module, when I r

[2020-08-27 07:47] BossOz commented on #38592
Hello @AndrewKushnir!
The `custom-element` app is an Angular Element where the `ToolbarComponent` is coming from.
The `test-app` is the "main" one (to serve), where I want to render the `ToolbarComponent`.

This is my use case.
I will try to reproduce the error with a simpler example but I need more time.

[2020-08-27 07:53] geromegrignon opened #38607 "[Feature request] Router : load lazy load modules only after checking guards/resolvers"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/router

### Description

When accessing a route dedicated to a lazy loaded module, the bundle is loaded just after NavigationStart but before checking guards and resolving the Resolvers. It means the bundle is still loaded even if it doesn't pass the guard or the data can't be resolved.

As the point of lazy loading i

[2020-08-27 08:18] sekar-dev14 opened #38608 "Reactive form required validation not working for input type=number"
### Description

We need to show numpad in angular application in mobile browser.so,we set number input type for all currency format field.After that,required validation not working.

## 🔬 Minimal Reproduction

https://angular-seeui8.stackblitz.io

## 🌍  Your Environment

Angular 10

[code]

[2020-08-27 08:21] fkolar opened #38609 "Function calls are not supported in decorators but 'RouterModule' was called. (Ivy=false)"
# 🐞 bug report

### Description

I have simple usecase where I try to compile a library that imports RouteModule:

[code]

When I call `ng build on it` with Ivy disabled I get this error:

<pre><code>
Compiling TypeScript sources through ngc
ERROR: Error during template compile of 'ItemPageRoutingModule'
  Function calls are not supported in decorators but 'RouterModule' was called.

An unhandled

[2020-08-27 08:26] lqc commented on #38588
@petebacondarwin It's a very poor workaround because the extracted <source> in XLIFF is very unfriendly to the translator. While some I18N tools handle ICU well, there are no tools for handling the code generated from ngPlural and no easy way to convert it back to ICU.

[2020-08-27 08:32] lqc commented on #38588
@mhevery First time I hear about something like "indented regression". It is a major backward-incompatible change that was not communicated in a good way. I understand the reason behind it, but could be documented better.

[2020-08-27 09:20] matt-potts-autodesk commented on #20785
Thanks I'll take a look and see about making a PR for it, can you possibly point me to the location of SW code?

We are using the data groups to cache long lived api responses so we would like that data to stay around even if the app has been updated and rely on the `maxAge` we have set in our `ngsw-config.json` file.

[2020-08-27 09:27] alan-agius4 commented on #38609
Duplicate of https://github.com/angular/angular/issues/23609

[2020-08-27 09:27] #38609 closed

[2020-08-27 09:53] petebacondarwin commented on #38606
@edsulaiman - please could you provide a reproduction of this issue so that we could debug what is going on?
I wonder if your upgrade got corrupted somehow? It might be worth cleaning out `node_modules` and reinstalling everything.

[2020-08-27 10:31] centigrade-julian-lang commented on #37531
Any news on this one? :)

[2020-08-27 11:04] edsulaiman commented on #38606
so I have created a new project and moved all the code in my old project to my new project, and all the problems have disappeared, maybe the problem is in the upgrade process that I did, thanks

[2020-08-27 11:04] #38606 closed

[2020-08-27 11:17] rygoebel commented on #38588
@mhevery The example I provided suggests that HTML tags inside ICU expressions do not work - e.g. button doesn't (and they should work, according to cited part from "Ivy compatibility guide"). So maybe you could change documentation to be more accurate?

@petebacondarwin Thank you for adding workaround with `ngPlurals` and attaching stackblitz working solution. I've tried it, but I have problem th

[2020-08-27 11:27] gnbabu commented on #38577
No luck still getting the same error

[2020-08-27 11:29] omanzelli commented on #38592
@AndrewKushnir
I tried to simplify the project without success. The issue is not present without the Angular Element.

[2020-08-27 11:35] BossOz commented on #38592
I tried to simplify the project without success. The error is thrown exactly with this configuration.

[2020-08-27 11:39] chekit commented on #37531
In my case adding "es2018" to tsconfig.base.json libs section helped

[2020-08-27 11:40] sankumar commented on #35223
Hi Team, How to exclude node_modules while extract strings in i18n

[2020-08-27 11:56] zedL opened #38610 "dataGroups version increase not updating new files in mobile chrome"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/service-worker  10.0.11

### Is this a regression?

I dont know

### Description
I configured dataGroups in ngsw-config.json like the following config shows.
<pre>
"dataGroups": [
    {
      "name": "i18n",
      "version": 5,
      "urls": [ "/assets/**" ],
      "cacheConfig": {
        "strategy": "freshness",

[2020-08-27 12:05] petebacondarwin commented on #38577
I'm afraid that, at this stage, without a runnable reproduction that we can debug, there is not much more we can do to analyse this problem.

[2020-08-27 12:05] ahasall opened #38611 "A runtime error is thrown when calling `detectChanges` inside the `transform` method of a pipe."
# 🐞 bug report

### Affected Package

The issue is caused by package `@angular/core`.

### Is this a regression?

### Description

A runtime error is thrown when calling `detectChanges`  inside the `transform` method of a pipe.

## 🔬 Minimal Reproduction

A reproduction of this issue can be found [here](https://github.com/ahasall/router-localize-material-ivy-bug-repro).

## 🔥 Exception or Error

[

[2020-08-27 12:11] petebacondarwin commented on #35223
Have you tried using the latest pre-release versions of Angular and the CLI (i.e. 10.1.0-rc.0)? I am not sure if the new implementation of `ng xi18n` ignores `node_modules` or not. To use the new extractor you need to provide the `--ivy` flag for now.

[2020-08-27 12:21] petebacondarwin commented on #38606
Glad to hear it!

[2020-08-27 13:01] vengababu5 commented on #35223
@petebacondarwin I am using angular 6 version , how can in exclude node_modules extract strings in i18n?

[2020-08-27 13:02] mtuzinskiy commented on #35265
I second this question. Shouldn't AOT be enabled by default now?..

[2020-08-27 13:29] petebacondarwin commented on #35223
@vengababu5 - I don't think you can in v6.

[2020-08-27 13:32] danmana opened #38613 "ngOnChanges does not fire before ngOnInit if input attributes are not present"
# 🐞 bug report

### Affected Package
`@angular/core` - Hook Lifecycle

### Is this a regression?
Not sure if regression, but the documentation says clearly that `ngOnChanges() - Called before ngOnInit() and whenever one or more data-bound input properties change.`
https://angular.io/guide/lifecycle-hooks#!#hook-sequence

### Description

If a component has `@Input()` defined, but the parent compon

[2020-08-27 13:54] DavidMaarek commented on #30835
Does anyone have any idea where the Angular 7 to Angular 8 change is where the `type="text / javascript"` is no longer added? So that we can propose a Merge Request to fix this?

[2020-08-27 14:49] #38369 closed

[2020-08-27 14:51] ajitsinghkaler commented on #38608
For now as a workaround you can use type=tel for showing numpad

[2020-08-27 15:55] hiepxanh commented on #22556
for the note purpose, this one work for me:

[code]

[2020-08-27 17:19] devversion commented on #38611
Just for later reference. We chatted about this briefly in the GDE channel.

different and incorrect with the detectChanges [..] For later reference: startIndex is appearing on the hook function, instead of on the directive index when the error is thrown.

It is unexpected that `startIndex` for the hook invocations is selecting a hook callback, compared to a directive index as usually. Initially s

[2020-08-27 17:28] LanderBeeuwsaert commented on #35265
@mtuzinskiy during development we still use JIT as it still compiles faster.

[2020-08-27 17:45] crisbeto commented on #38611
I've been looking into it. It seems to happen if there is an init hook, an `ngOnChanges` hook and a binding with a pipe on the same element. Here's a simplified test.

[code]

I'll try to either resolve it or post my findings here.

[2020-08-27 18:16] AndrewKushnir commented on #38608
Hi @sekar-dev14, thanks for reporting the issue and providing a repro.

I tried to reproduce the problem, but failed to do that. I've [created a copy of your repro](https://stackblitz.com/edit/angular-5c2wam) and added a flag that illustrates whether a form is valid. After that I tried adding/removing values in the input field and the form validity changed accordingly. I tested the behavior in Chr

[2020-08-27 18:35] mtuzinskiy commented on #35265
@LanderBeeuwsaert  Why then it's stated in the release notes?... I was waiting for this as one of the main features of Ivy and there is _nowhere_ stated that it's actually JIT again.  It's misleading, to put it mildly... :worried:

[2020-08-27 18:38] LanderBeeuwsaert commented on #35265
@mtuzinskiy It would not be my interpretation that it's misleading. By default I think it's AoT and you certainly can use it. However for us; due to the size of our application JIT is still better.

[2020-08-27 18:41] mtuzinskiy commented on #35265
@LanderBeeuwsaert   The thing is that on my project we don't use JIT, for sure. We use Ivy defaults.  And I can clearly see the difference in HMR when adding the --aot flag.  I'm guessing that same goes for @uplink42 ,  as they asked this question too

[2020-08-27 19:07] r-shakeri commented on #38482
@AndrewKushnir hello, thanks for response but there is still a dark hole there.
at first calling the `onChange` function by core after setting value of the form is a benefit that i don't want to just avoid it! so yes i can do some work around like setting the `emitEvent` flag to false and making a method of the component that contains what ever is inside the `valueChanges` of the `this.userNameFor

[2020-08-27 21:04] Achilles1515 opened #38619 "bug(core): Error updating transplanted view count with a null parent view"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 Yes, the previous version in which this bug was not present was: I don't know. The error is occurring with Ivy and not View Engine.

### Description

I am working with dynamic views and decided to add an `embeddedViewRef.detectChanges()` call in my app which unexpectedly spit out the fo

[2020-08-27 21:07] Achilles1515 commented on #38619
Pinging @atscott as I know you did [some work](https://github.com/angular/angular/commit/c8c2272a9f2aec7ef27dc8dc7c3a44d6f75b3cbb) with transplanted views recently.

[2020-08-27 21:48] atscott commented on #38619
Ah, I *think* this could happen if the view was previously attached, then manually detached, then you call `detectChanges` on it. The `detachMovedView` has code to handle updating the parent container count on detach
https://github.com/angular/angular/blob/90cec40cce7e17ee71af7801cd933f6460a1c600/packages/core/src/render3/node_manipulation.ts#L299-L304
but if you still have a handle on the embedde

[2020-08-27 23:10] AndrewKushnir commented on #38482
Hi @r-shakeri,

Thanks for the reply, let me provide some additional information.

When the button is clicked, the following actions happen:

- [in outer form] the `onSubmit` function is called, which calls the `setValue` on the outer FormGroup (the `userNameUpdateForm` one)
- [in outer form] as a result, the `setValue` is called for all child components in that form group (defined while calling t

[2020-08-28 00:36] atscott commented on #38619
Reproduction of error, though the scenario is totally bonkers so it would be nice to get a more real-world scenario: https://stackblitz.com/edit/dynamic-views-qflhmd?file=src%2Fapp%2Fapp.component.ts
Steps to reproduce:
1. click toggle content to create embedded view
2. click detect changes

What happens in the reproduction is as follows:
* Template ref created at the top level
* Template ref pass

[2020-08-28 00:46] rsivan commented on #37776
Verified fixed in 10.1.0-rc.0 using `ng xi18n route-stuff --progress --output-path src/locale --ivy`

[2020-08-28 05:57] shiv-jetwal90 opened #38624 "How to pass body and header in http post request in angular8?"
How to pass body and header argment when I am making post request using http service in angular8?

[2020-08-28 06:08] JoostK commented on #38624
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-08-28 06:08] #38624 closed

[2020-08-28 06:15] djleonskennedy commented on #38578
Useless functionality, can be removed

[2020-08-28 07:02] dannyskoog commented on #38613
According to the documentation you provided it sounds like it works as expected, since your input was not changed (from it's initial value of `undefined`)

[2020-08-28 07:35] rnagarajan96 commented on #34352
Following this will work for me. want to know this method is correct or not?
Link:
https://meumobi.github.io/ionic/firebase/2020/01/20/firebase-web-push-ionic.html

[2020-08-28 08:16] danmana commented on #38613
Technically `<my-hello [text]="undefined"></my-hello>` also doesn't change the input as it is undefined by default, but this triggers `ngOnChanges`

But you are right, if I read the Purpose column in [the docs](https://angular.io/guide/lifecycle-hooks#!#hook-sequence) it says `when Angular sets or resets data-bound input properties`
I think this can be interpreted as "when your input 'setter' is c

[2020-08-28 08:41] dannyskoog commented on #38613
Yeah, you are correct 😃 And I agree that the case of passing `undefined` initially leading to triggering `ngOnChanges` is a little confusing (since the input prop usually is `undefined` from scratch). But as you say - it should be due to that it's the 1st passed down value by the parent, which means that the value doesn't really matter

[2020-08-28 08:52] tsproesser opened #38626 "Hey a components ChangeDetectorRef without using its constructor"
# 🚀 feature request

### Relevant Package
@angular/core

### Description
**As far as I know** the only possibility to get a components ChangeDetectorRef is by passing it in its constructor and accessing it this way. It can't be get by the Injector since it's some type of "special injection" being passed as a reference on construction (see https://stackoverflow.com/posts/comments/112463363, https:/

[2020-08-28 09:25] Airblader commented on #38626
Normally you inject the CDR using DI by declaring it in the constructor. I don't see a reason why a base class couldn't do the same. Of course no DI will happen there, but any child class extending from it has to call its super constructor and pass the CDR, which it then itself gets through DI.

[2020-08-28 09:48] tsproesser commented on #38626
Yes, that's absolutely right. But since this base class is used in some sort of Framework (actually there is a chain of some base classes) I started injecting only a certain class in all the components, so that I can dynamicly adopt the required services there. But adding CDR to that class surely isn't possible (because of that "special injection thing"). Neither do I want to pass the CDR of almos

[2020-08-28 09:59] Airblader commented on #38626
As an unrested idea: if you know the selectors for which you need the CDR, create a directive with those selectors which injects the CDR. Then you can get that directive instance from the injector and access the CDR through it. From the usage side of the components this is completely transparent.

[2020-08-28 09:59] etay2000 commented on #29662
Just commenting so that hopefully this issue doesn't get automatically locked and then ignored for 5 years.

[2020-08-28 10:03] tsproesser commented on #38626
Sounds like a nice workaround! But I have no idea how this selector could look like? Actualy every component could implement this base class. Maybe I just don't get you right? And couldn't this maybe have a noticable performance impact? I really need the CDR's reference in my base component in only a few scenarios.

[2020-08-28 10:17] SebastianPodgajny commented on #38626
Something like this works for you?

[code]

[2020-08-28 10:47] tsproesser commented on #38626
Throws an error:

zone.js:1064 Unhandled Promise rejection: Cannot read property 'factory' of undefined.

[2020-08-28 10:53] SebastianPodgajny commented on #38626
Do you use Ivy?

[2020-08-28 10:57] tsproesser commented on #38626
Yes, latest angular version (10.0.14) with Ivy enabled.

[2020-08-28 11:14] muehle28 opened #38627 "Angular 10.1.0-rc.0 - I18n build failed"
The build process of a multilingual app (ivy=true activated in @angular-devkit/build-angular:extract-i18n) failed with the error
`Localized bundle generation failed: Cannot read property 'value' of undefined`

[code]

With the Angular version 10.0.14 the build worked.

[2020-08-28 11:21] SebastianPodgajny commented on #38626
https://stackblitz.com/edit/angular-ivy-nagp3n

[2020-08-28 11:30] tsproesser commented on #38626
Ah, ok - sorry. It actually worked but just dropped this Error in the console. Anyway: when using it in a BaseClass it doesn't:

https://stackblitz.com/edit/angular-ivy-4edibh?file=src%2Fapp%2Fapp.component.html

[2020-08-28 11:50] Totati commented on #38626
That's because you're not using `@Component` or `@Directive` decorator on your base. [Here's](https://stackblitz.com/edit/angular-ivy-ydprmt?file=src%2Fapp%2Fapp.component.ts) a working example.

[2020-08-28 11:55] tsproesser commented on #38626
Sorry, was just too lazy. You're surely right, but as you can see, the base CdRef is still null: "CdRefBase exists: false"

[2020-08-28 12:18] muehle28 commented on #38627
There was a library mismatch. Deleting node_modules and reinstalling them solved the problem.

[2020-08-28 12:18] #38627 closed

[2020-08-28 12:29] Akxe commented on #35370
The issue is that the error is not helpful at all. You need to create a routing module for the lazy-loaded module too.

Example of lazy module:
[code]

-----

For the Angular team:

The absence of routing module in the lazy-loaded module should result in:
* An runtime error like `The module {{moduleName}} does not have defined routes`. Along with this, there should be this exact error message in d

[2020-08-28 12:30] petebacondarwin commented on #38627
Oh great! I was just trying to work out how to help you. Phew!

[2020-08-28 12:51] #37776 closed

[2020-08-28 13:00] petebacondarwin commented on #38588
The new ivy extraction ought to be able to provide a bit better information about the original context of the placeholders, although currently I see it is rather broken:

[code]

I would expect it to be more like:

[code]

I will work on some fixes for this...

[2020-08-28 15:48] starx207 opened #38628 "@ViewChild with { static: false } and type selector breaking unit tests"
This goes along with #31386, but since that thread as been locked, I started a new one.

I'm having the same issue described in that thread with the difference being that I'm not using a template name for the `@ViewChild` selector, I'm using the component type.

[code]
I have a `StubChildComponent` that I'm using in my tests, and following info found [here](https://indepth.dev/angular-unit-testing

[2020-08-28 16:23] maxime1992 commented on #20007
This issue has been around for nearly 3 years now.
_(I usually don't like to start a message this way unless I tried something to fix the issue myself... [Which I did here](https://github.com/angular/angular/issues/20007#issuecomment-452635900) :grimacing: :angel:! and failed miserably as it seem quite complex to get to the bottom of it... But bear with me)_

I do know that Ivy was necessary in or

[2020-08-28 16:40] AndrewKushnir commented on #38600
Hi @smzelek,

Thanks for providing an example that illustrates the setup of the described use-case. This is indeed a known difference between View Engine and Ivy - in View Engine, components are compiled in the context of some environment - either a platform browser instance, or a test. Therefore each test must declare its own testing module and import what it wants to compile. In Ivy, there is on

[2020-08-28 16:43] jinder commented on #13248
Any movement on this now that v10 has shipped and Ivy seems stable?

[2020-08-28 17:13] Achilles1515 commented on #38619
@atscott
I was able to make a super simple reproduction.
[StackBlitz](https://stackblitz.com/edit/angular-s9cqmk?file=src%2Fapp%2Fapp.component.ts)

The entire code is as follows:
[code]

After looking at the source code a bit more, I think this makes sense. And I *think* it would be a one line fix editing the `detachMovedView()` function to mimic the `RefreshTransplantedView` flag resetting being

[2020-08-28 17:51] codeedog commented on #20230
I found a workaround for my issue (use input events). Here's my journey trying to isolate this issue.

**tl/dr:** I was mid-looking for bug in angular code when I found a workaround, so I stopped and documented my progress.

**Workaround:** use a bind to user input event `(input)="trackChange($event)"` instead of subscription to valueChanges

**NOTE:** I'm seeing this problem with a custom control

[2020-08-28 18:09] atscott commented on #38619
Yep, I believe that's the right fix as well! Do you want to send a PR that I can review? Your test can be added to `packages/core/test/acceptance/change_detection_transplanted_view_spec.ts`

[2020-08-28 19:26] Achilles1515 commented on #38619
I'm a total noob when it comes to testing in Angular, and still am somewhat new to Git, but I'll give it a go.

[2020-08-28 22:06] sonukapoor opened #38632 "Script to update all golden files at once"
# 🚀 feature request

### Description

When working on `core` changes, sometimes you will need to update multiple golden files. It would be great to have a script that allows you to update all golden files at once without going through them one at a time.

[2020-08-28 23:56] rezonant commented on #37531
@chekit Careful, Zone.js does not work correctly with native async/await (which would be enabled if you build with ES2017 and above) https://github.com/angular/angular/issues/31730

[2020-08-28 23:59] rahossain opened #38633 "Getting Errors Maximum call stack size exceeded intermittently in angular 8 based application in IPhone X for safary and chrome"
We are getting odd errors in IOS based mobile device(IPhone X) intermittently in an angular 8 based application. It does not happen always . Sometime errors are throwing;sometime no errors.

application works fine on android phones, tablet, ipad and other desktop browsers. This issue only raise in IPhone X device when user browse site in chrome or safari.

Please help .
Error: Uncaught (in promise

[2020-08-29 00:04] josephperrott commented on #38633
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on StackOverflow using tag angular.

If you are wondering why we don't resolve support issues via the issue tracker, please check out this explanation.

[2020-08-29 00:04] #38633 closed

[2020-08-29 00:48] smzelek commented on #38600
@AndrewKushnir Thank you for your detailed response! It would be great if there was any mention of this in https://angular.io/guide/testing-components-basics or...anywhere, I guess. Is this documented somewhere that I don't know? We couldn't find anything about it.

Plus, I'm not sure you're right anyway. I have made another reproduction repo.
https://github.com/smzelek/minimal-repro-ng10-testbed-

[2020-08-29 05:15] chekit commented on #37531
Nice point, thank you. I’ll double check 👍

[2020-08-29 08:30] Krishna7852 opened #38634 "Can't bind to 'ngIf' since it isn't a known property of 'div'. in angular 9.1"
### Description

 *ngIf not working in angular 9.1 , in console i'm getting  Can't bind to 'ngIf' since it isn't a known property of 'div'.

## 🌍  Your Environment

**Angular Version:**
<pre>9.1<code>

[2020-08-29 08:59] aksdevac commented on #38634
Have you imported `CommonModule` & `BrowserModule`? this looks like support request not a bug.

[2020-08-29 10:16] JoostK commented on #38634
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-08-29 10:16] #38634 closed

[2020-08-29 10:27] Six99 opened #38635 "Can't type in Angular form text/password/number input field"
I already wrote on [Stack Overflow](https://stackoverflow.com/questions/63599715/cant-type-in-angular-form-text-password-number-input-field) but I' not receiving any answer, I thought to post it here, as well. FOR THE CODE BLOCKS, PLEASE REFER TO STACK OVERFLOW.

I am developing a site using Angular 9. I am also using Angular Material and MDBootstrap for the styling (https://mdbootstrap.com/). Whe

[2020-08-29 11:31] crisbeto commented on #38611
I spent some more time on it and I found a couple of solutions, but they ended up breaking other functionality so I think I'll leave this for somebody that knows the hook logic better. Here's what I've got so far:

1. It doesn't break due to the pipe in particular, but because `ViewContainerRef.detectChanges` is called at the wrong time. The issue can be reproduced by calling it inside an input se

[2020-08-29 12:30] lazarljubenovic commented on #38635
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-08-29 13:29] lincolnthree commented on #12842
Omg a fix!!! Yessss! I'll be able to delete soooooo much portal code.

[2020-08-29 16:48] AndrewKushnir commented on #38632
Just to add more context: currently we need to run commands to update test apps individually like this:
[code]

The problem is that the list of apps change over time, so it's not convenient to just save the list of these commands somewhere.

The proposal is to have an ability to just run one command that would take care of checking/updating all apps at once, something like this:

[code]

[2020-08-29 19:17] petebacondarwin commented on #38590
This should have been fixed by https://github.com/angular/angular-cli/commit/71360878d9e0b1b4c88c72b800692c6ce5f3422e which should be included in the next release.

[2020-08-29 19:17] #38590 closed

[2020-08-29 21:01] zelliott commented on #31834
Looks like this is being fixed in https://github.com/angular/angular/pull/38336.

[2020-08-30 03:46] juanarbol commented on #38314
@AndrewKushnir I think t his is ready to be closed, this was fixed by https://github.com/angular/angular/commit/585ef2bdd7084110b969032ef6b0cccbaa6a93e5

[2020-08-30 04:22] deepakkumarbarik opened #38636 "Routing issue"
Hi Team,

I was trying to use the log in page routing with lazy loading. From the root module I am calling the log in page as lazy loading. It is not working properly. Please can any one help me on this. I have attached the project for more details. Advance thanks.
[my-dream-app.zip](https://github.com/angular/angular/files/5146336/my-dream-app.zip)

Best Regards,
Deepak

[2020-08-30 15:13] sonukapoor commented on #38636
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-08-30 15:13] #38636 closed

[2020-08-30 15:13] #38635 closed

[2020-08-30 15:54] sid-maddy opened #38641 "Animating margin of a leaving element breaks in Firefox"
# 🐞 Bug report

### Affected Package
@angular/animations

### Is this a regression?
No

### Description
When the margin of a leaving element is animated (* => 0), the element does not actually leave the view, but becomes unresponsive. This issue only occurs in Firefox and works in Chrome and other Chromium-based browsers.

## 🔬 Minimal Reproduction
https://stackblitz.com/edit/angular-firefox-anima

[2020-08-30 18:09] sonukapoor commented on #38314
Closed by https://github.com/angular/angular/pull/38318

[2020-08-30 18:09] #38314 closed

[2020-08-31 00:50] rppig42 commented on #20007
Honestly speaking，developing "fancy" new features may attract a few new users, but setting aside fundamental issues like this one are making more serious users abandoning Angular.

[2020-08-31 01:06] JiaLiPassion commented on #37531
This issue need to be resolved after updating the `@types/node` to the new version.
BTW, I used `@types/node` 14.6.2 and it seems there is no compile error, I am not sure I am using the correct way to reproduce the issue.

[2020-08-31 03:44] Achilles1515 opened #38648 "bug(core): viewRef._viewContainerRef can leak memory (ViewRef, ViewContainerRef)"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

This is a problem in Ivy and View Engine.

### Description

The `attachToViewContainerRef()` method of the `ViewRef` class is called whenever the `ViewRef` is attached to a `ViewContainerRef`, and this `ViewContainerRef` instance is assigned to `viewRef._viewContainerRef`.

https://githu

[2020-08-31 07:44] dimitarspassov opened #38650 "Angular stability is not reflected correctly in test environment when a setInterval is running"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/core/testing

### Is this a regression?
No, it seems that the issue can be reproduced on Angular versions before and after Ivy.

### Description
The stability of Angular when `setInterval` function is running is not set correctly in testing environment or the available tools do not provide a way to verify this. If the app

[2020-08-31 08:58] Vivida1 commented on #24547
Disabling
[code]
worked for me in FF.

[2020-08-31 10:18] petebacondarwin commented on #38297
Fixed in f0af387f6c965578fda8bd03e205a883965df7c7

[2020-08-31 10:18] #38297 closed

[2020-08-31 12:01] artaommahe opened #38651 "Unsubscribing interval outside of fakeAsync call leads 1 periodic timer(s) still in the queue."
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core/testing

### Is this a regression?

 Dunno

### Description

If interval was created in one fakeAsync call and is unsubscribed in another (or without one) then test fails with `Error: 1 periodic timer(s) still in the queue.`. Same with unfinished timeout.

## 🔬 Minimal Reproduction

[code]

Adding fakeAsync calls t

[2020-08-31 12:47] jdussouillez commented on #31695
Any updates about this ?

Thanks.

[2020-08-31 13:14] NastyaSmirnova commented on #29371
Why not to try `visibility` property?

[code]

[2020-08-31 17:30] themindfulcoder commented on #38461
#38480

[2020-08-31 18:03] turtledev1 opened #38655 "Ivy: readonly property becomes readOnly without Ivy"
# 🐞 bug report

### Affected Package
Ivy renderer

### Is this a regression?
Yes, it is working without Ivy

### Description
Readonly property binding becomes camelCase for no apparent reason

## 🔬 Minimal Reproduction
In my component:
[code]

In my test:
[code]

## 🔥 Exception or Error
Test fails. With further investigation, with Ivy disabled, the property is named `readOnly` instead of `readonly

[2020-08-31 18:11] JoostK commented on #38655
Can you provide a runnable repro? I cannot reproduce [in a basic StackBlitz setup](https://stackblitz.com/edit/angular-ivy-k2yaip?file=src/app/hello.component.ts).

[2020-08-31 18:41] #36539 closed

[2020-08-31 18:45] sekar-dev14 commented on #38608
@AndrewKushnir It's working thanks

[2020-08-31 18:45] #38608 closed

[2020-08-31 19:19] atscott commented on #38531
Hi @geometricpanda, can you test this out in the 10.1 rc? I updated the router package in your example to `10.1.0-rc.0` and it seemed to work as expected.

[2020-08-31 19:31] turtledev1 commented on #38655
I'm sorry, it's the contrary, before Ivy it would change to `readOnly`, but now it's `readonly`. I edited the description.

https://stackblitz.com/edit/angular-ivy-o6ptdq
You can check in my `spec` file, and in the console. The property is named `readonly`, but in the console it's `readOnly` and both my tests fail.

[2020-08-31 19:42] JoostK commented on #38655
Oh, I see. Interesting; so Ivy appears to have changed the behaviour according to how you expected it to work: i.e. not changing it to `readOnly`.

There's a few properties that are translated like this, e.g. `class` becomes `className` and `innerHtml` becomes `innerHTML` (the full mapping [is located here](https://github.com/angular/angular/blob/cb05c0102fc951899745e16a923966d41f9384a7/packages/c

[2020-08-31 20:25] #37218 closed

[2020-08-31 20:32] geometricpanda commented on #38531
No luck i'm afraid
Assuming i've done the upgrade right ([PR here](https://github.com/geometricpanda/routeguard-redirect/pull/1))?
I've got a quick Netlify hosting of that branch [here](https://5f4d583e5e74c900079d5a28--angular-routeguard-redirect.netlify.app/#/)

I've uploaded a video to Youtube [here](https://www.youtube.com/watch?v=1u7IbNdZLZ0) showing the issue against that branch
- sorry abou

[2020-09-01 00:28] AndrewKushnir commented on #38600
Hi @smzelek,

Thanks for providing a new repro, the described scenario is not handled by Ivy TestBed and this is a bug. I performed additional investigation and found out that there is a piece of state that is preserved between tests in case a component is present in the `declarations` field while calling `TestBed.configureTestingModule` in one test, but it's absent (or the whole `TestBed.configur

[2020-09-01 08:42] matiskiba opened #38660 "breaking change in angular 10 - using base class for components"
# 🐞 bug report

### Is this a regression?

Yes. Working fine in angular 9.1.9

### Description

I'm using a base class with its own @Input(), and later extending it in a Component class. (see code below)

### Example code
<pre><code>
import { Component, Input } from '@angular/core';

export class Original {
  @Input() value;
}

@Component({
  selector: 'example',
  templateUrl: './app.component.ht

[2020-09-01 09:01] JoostK commented on #38660
Support for this pattern was deprecated in Angular 9 with the introduction of Ivy and has been removed in Angular 10. If you're using the CLI, any usages of the deprecated pattern should typically be automatically migrated during `ng update`. I believe this migration reran when updating to Angular 10.

Details about the migration [are documented here](https://angular.io/guide/migration-undecorated

[2020-09-01 12:20] cherryland commented on #12842
Why should this be a community problem? This is a Google problem. Point. We applied the patch manually to @angular/router and ... uhm well it just works. This the reason why Angular is the devil. This project is too dependent on Google's death star.

[2020-09-01 12:58] IonelLupu commented on #24041
I agree with @vthinkxie . This is still an issue

[2020-09-01 13:00] #38216 closed

[2020-09-01 13:14] ArinaSavchenko opened #38661 "New Documentation"
# 📚 Docs or angular.io bug report

### Description

 I'm totally disappointed with your update. Your refactored docs doesn't contain "Fundamentals" materials. I've lost possibility to increase my knowledge and widen my outlook. I hope you'll solve this problem and bring all staff back as soon as possible.

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.io/...

### Repro

[2020-09-01 13:24] petebacondarwin commented on #38661
Hi @ArinaSavchenko - none of the guides have been removed. It is just that the navigation menus have been reordered and renamed. Move of what was previously under "Fundamentals" is now under "Main Concepts". If you want to, you can compare the navigation in the v9.angular.io with the new navigation.

[2020-09-01 13:48] fomenkogregory opened #38662 "Special character rendering mistake"
# 📚 Docs or angular.io bug report

### Description

Section of docs contains &emdash; character that renders as a string instead of actual dash.

## 🔬 Minimal Reproduction

### What's the affected URL?**

https://angular.io/guide/http#optimizing-server-interaction-with-debouncing

### Reproduction Steps**

Go to page.

### Expected vs Actual Behavior**

Expected: shown long dash
Actual: shown &emd

[2020-09-01 13:55] petebacondarwin commented on #38238
@gkalpak you failing test was almost perfect. There was just a minor typo in the export aliases:

[code]

should be

[code]

Now (for me) it is failing (as expected) with

[code]

and

[code]

[2020-09-01 13:55] noelelias opened #38663 "Angular language-service intellisense add keyof autocomplete"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/language-service

### Description
A property of type keyof anyInterface when used will not display those keys inside html or inline html.

### Describe the solution you'd like
Property representing a keyof interface should give the user a list of the properties while activating intellisense inside the parameter value in

[2020-09-01 14:13] splincode opened #38664 "[BUG]: Regression build after upgrade to Angular 10 (Module not found: Error: Recursion in resolving)"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/cli

### Is this a regression?

Yes, because our projects with Angular 8, 9 correct works

### Description

We use a shared directory to node modules on disk (for improved sharing space on CI).

.yarnrc  (for our ng8, ng9 apps)

[code]

Therefore, we refer to modules via a symlink:

package.json (for our ng8, ng9 apps)

[2020-09-01 14:33] delego-wlritchi commented on #12842
If a change to Angular causes *any* consumer's tests to fail, then it's a backwards-incompatible change and needs to be reverted, or at the very least only included in a new major release with suitable warnings around it. In this case, Google just happens to be a high-value consumer of the library. The fact that their tests caught an issue before it made it into a release candidate is good for oth

[2020-09-01 14:56] #38475 closed

[2020-09-01 14:57] bhanna1693 commented on #12378
this worked for me in my asyncValidator (although I do think this should be handled by angular...)
[code]

[2020-09-01 15:07] gkalpak commented on #38238
🙇
Thank you so much, @petebacondarwin ❤️ :heart: :heart:
This has cost me several hours of head-scratching before I decide to move to something else and come back to it later.

<sub>Good timing too - I was planning to get back to it today or tomorrow.</sub>

[2020-09-01 15:47] nicolasguilhem commented on #14542
I think I am facing this issue too.

Here is my Stackblitz : https://stackblitz.com/edit/angular-bkfctw?devtoolsheight=33&file=src/app/hello.component.ts

[2020-09-01 16:09] petebacondarwin commented on #38436
@kbtganesh:

Are you still experiencing this issue with the latest versions of Angular (i.e. 10.1.0-rc.0)?

If so, it is going to be really hard to debug this via a Github conversation. The most effective way that we can help diagnose the problem is if you could provide us with a project that we can download and run locally. The simplest way in this case is probably for you to create a new CLI pro

[2020-09-01 17:31] expcapitaldev commented on #36539
any updates ? it is real problem

[2020-09-01 17:36] #20424 closed

[2020-09-01 17:36] #14542 closed

[2020-09-01 20:22] mhevery commented on #13248
This is not high on our priority list, so it will be a while.

[2020-09-01 21:14] JaxonWright opened #38669 "zone.js v0.11.1: TypeError "Invalid Calling Object" & 'undefined' where a stream was expected Errors in IE11"
# 🐞 bug report

### Affected Package
zone.js v0.11.1

### Is this a regression?

Yes, v0.10.3 does not have this issue

### Description

When trying to open an Angular application within IE11, this exception is thrown and the browser really does not tell you anything useful. I basically got lucky as I discovered this only happened after updating dependencies, and was able to narrow it down to zone

[2020-09-01 21:17] JaxonWright commented on #38669
This might be related to #38561

[2020-09-01 21:36] atscott commented on #38531
Ah, yea this is definitely a bug. The logic which handles the redirection from the returned `UrlTree` assumes that the browser address bar was not yet updated (which would be the case if navigation were instead triggered through `router.navigate`).

The scheduled navigation from the redirect gets ignored because the router thinks that the `browserUrlTree` already matches the attempted navigation.

[2020-09-01 21:49] sir-captainmorgan21 commented on #38561
@JiaLiPassion why would `app.module.ts` be importing from zone.js? Do you mean `polyfills.ts`?

[2020-09-02 06:21] jaydeep987 commented on #37048
any update on this?

[2020-09-02 06:59] jeroenheijmans commented on #23657
I'm running into this situation as well, and it might be helpful to add another reproducible scenario.

Basically (full repro below) I have this:

[code]

[code]

In some other similar scenarios, the `instructionsRequired` boolean will be an `@Input()` causing the same problems.

As others mention above, if the `[required]` attribute on the `input` changes as a consequence of change detection, val

[2020-09-02 07:26] kbtganesh commented on #38436
@petebacondarwin, Sure, I'll first try once with the latest version you've mentioned.

[2020-09-02 07:34] lukasholzer opened #38670 "@angular/compiler-cli: Missing Property access check for ngtsc"
# 🐞 bug report

### Affected Package

**@angular/compiler-cli** – ngtsc

### Is this a regression?

No, I don't think so.

### Description

In the `typeToValue` function of the ngtsc there is a missing property access check so that the typescript compile fails with an error that does not provide the right context. It is okay that it is failing but it should print something like "it cannot resolve

[2020-09-02 08:07] petebacondarwin commented on #38329
So here is my plan:
* change `@angular/localize` to install to `devDependencies` by default
* update the `ng add` schematic to ask if the user intends to use `$localize` at runtime
* if so, update the package.json to move the package to `dependencies`

I need to dig into schematics a bit to see if I can do this reasonably.

[2020-09-02 08:34] petebacondarwin commented on #38569
I just tried this with the latest versions of Angular and Angular-CLI (`10.1.0-rc.0`). This is the error I get:

[code]

I get a similar error if I use the CLI to do the localization:

[code]

This seems like a better error message than the `undefined` that you report above. Can you check to see if this is still the case for you?

This leads us onto the #38377 issue, which is about making this err

[2020-09-02 09:37] ArtemAvramenko commented on #38569
I checked 10.1.0-rc.0 - the error is more informative now. Thanks

[2020-09-02 09:37] #38569 closed

[2020-09-02 09:41] petebacondarwin commented on #38569
Great. I am working on improving the error further.

[2020-09-02 09:44] dmk1111 commented on #38648
As far as I see from code, this is expected behavior:
https://github.com/angular/angular/blob/d1ea1f4c7f3358b730b0d94e65b00bc28cae279c/packages/core/src/linker/view_container_ref.ts#L139-L145

So you have to destroy viewRef calling `destroy` instead of `detach`

[2020-09-02 09:54] gkalpak commented on #36539
@expcapitaldev, see https://github.com/angular/angular/issues/36539#issuecomment-644165407.

[2020-09-02 11:18] FFire commented on #36060
Check  TypeScript  version
The Angular Compiler requires TypeScript >=3.9.2 and <4.0.0 but 4.0.2

[2020-09-02 12:39] anionDev commented on #13114
Are there any news for that issue? This would really be a very nice feature.

[2020-09-02 13:43] saurabh-innovator opened #38675 "Server-side rendering (SSR) with Angular Universal issues with swarm-js"
On running the command for server-side rendering: **ng run <project-name>:server:production**

Getting the following error:

ERROR in ./node_modules/swarm-js/node_modules/got/index.js
Module not found: Error: Can't resolve './package' in 'Project-path\node_modules\swarm-js\node_modules\got'

ERROR in ./node_modules/swarm-js/node_modules/got/index.js
Module not found: Error: Can't resolve 'electron

[2020-09-02 13:55] carlescs commented on #19826
Is there any timeline for fixing this. We have a lot of problems with animations with DevExtreme components inside.

Angular version: 9.1.0 (Ivy)
DevExtreme: 20.1.6

[2020-09-02 14:25] kbarendrecht opened #38676 "Wrong link in docs"
# 📚 Docs or angular.io bug report

### Description

Broken link: `https://www.chromestatus.com/features/6750456638341120` instead of `https://www.chromestatus.com/feature/6750456638341120`

## 🔬 Minimal Reproduction

### What's the affected URL?**
https://angular.io/guide/component-styles

### Reproduction Steps**
-

### Expected vs Actual Behavior**
-

## 📷Screenshot
-

## 🔥 Exception or Error
-

[2020-09-02 14:32] TheBlue-1 opened #38678 "Named router outlets which use the normal uri to navigate"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/router

### Description
Named router outlets use their own url part and can not use the full url.
In many cases it's senseful to have multiple components with content according to the url
and it would safe much code if you wouldnt need to have just one primary route outlet where you need to change all of the childs cont

[2020-09-02 14:48] ArtemAvramenko opened #38679 "Space preservation attribute not added to XLF file"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/localize^10.1.0-rc.0

### Description

In ts code I use i18n:
[code]
Then I call `localize-extract` and get xlf file without `xml:space="preserve"` attribute:
[code]
When I add translation in CAT tool (OmegaT), line break is gone.

## 🌍  Your Environment

**Angular Version:**
[code]

[2020-09-02 15:00] saurabh-innovator commented on #38675
Introspecting further I reached to below two conclusions:
1. One of the libraries is trying to require package.json file using below command
    const pkg = require('./package');
2. We are using a library that uses a conditional require statement which tries to require electron if the condition fulfills.

In the first case, SSR build is unable to require package.json if the extension is not mentio

[2020-09-02 15:04] petebacondarwin commented on #38679
I guess this would be a sensible attribute to include... let me just check it won't cause any problems.

[2020-09-02 15:12] ahnpnl commented on #38600
Hi @AndrewKushnir,

Sorry to jump in this because I need a bit help in understanding what `TestBed` does, for Ivy vs VE in combination with component compliation.

Does it mean in Ivy, component compilation is done somewhere else before tests execute while `TestBed` only set up test environment ? In VE, `TestBed` also does compilation ?

It would be very appreciate for your help to explain a bit m

[2020-09-02 18:25] Splaktar commented on #36279
I've got some additional information to add after looking into this a good deal more.

It only happens on rebuilds via the CLI and `ng serve`. The first build always works, so the workaround is to restart `ng serve` **every single time** that you modify a `.ts` file.

On that note, rebuilds that only include SCSS, CSS, HTML work fine. Only TypeScript rebuilds fail. Now that I've looked into this s

[2020-09-02 18:35] Splaktar commented on #36279
Removing `"commonChunk": false,` didn't seem to help, but removing `"aot": true,` from our dev build config appears to have fixed it. This was added during the update to Angular v9 though and it hasn't been a problem since February until some changes that we made about 2 weeks ago.

Perhaps this is not a problem in production (yet) since we only do that build once.

[2020-09-02 18:42] AndrewKushnir commented on #38600
Hi @ahnpnl,

Components might be pre-compiled (in AOT mode) before tests are executed by TestBed, in which case TestBed uses compiled components and only re-compile them (in JIT mode) when there is an override which can not be applied as a patch (i.e. without triggering a re-compilation), for example if a template is overwritten in a test. In View Engine's version of TestBed components were always

[2020-09-02 19:18] JoostK commented on #38670
We're typically quite meticulous when it comes to checking for the existence of declarations, this one appears to have slipped (for the record, it was me a couple weeks ago 😄).

Anyway, the situation you experienced the issue with would not normally crash the compilation when using ngc, as ngc halts the compilation when there's TypeScript semantic errors. I noticed however that you're using Bazel

[2020-09-02 19:30] mhombach commented on #38587
I dived into the code, debugged and i found the problem, but I am not 100% which part should be changed because i have 0 knowledge in the angular internal mechanisms. So i am describing my findings here. Maybe some of you have already a solution in mind.

I very slightly adjusted the repo mention in the description: I changed the SCSS code of the app-component to the following:
[code]
## Findings

[2020-09-02 20:27] lukasholzer commented on #38670
Hey awesome how fast this is being tackled! 👍  Yeah, using the wrapped tsc with bazel. I really love the strict dependency checks so that was the last point I thought that it is a missing dep that caused the problem. But was actual fun to find the bug :D

[2020-09-02 20:30] criskrzysiu commented on #38678
I would add another feature, add names to route levels, and allow to be render multiple components from one router outlet like this

[blade layout](https://ibb.co/mT00tw4)

[code]

so we get ability to render components next to each other instead of always one into another. And thus blade layout.

[2020-09-02 20:32] spock123 opened #38686 "10.1.0 i18n compilation error: Localized bundle generation failed: Cannot read property 'value' of undefined"
# 🐞 bug report

### Affected Package
Angular 10.1.0

### Is this a regression?

Yes, no issues with 10.0.x (all of them)

### Description

Upgrading our project to 10.1.0

`ng update @angular/core @angular/cli --force`

No issues, upgrade goes through without issues.

However, when doing a production build I get this error:

`Localized bundle generation failed: Cannot read property 'value' of unde

[2020-09-02 20:41] petebacondarwin commented on #38686
Can you check to see if it is only one of the three translation files that is causing the error?
And if you have time, perhaps seeing if there is a particular translation that is causing the problem. Perhaps an ICU?

[2020-09-02 20:43] spock123 commented on #38686
Hi @petebacondarwin Hi Pete, absolutely. I'll give it a shot.

[2020-09-02 20:44] petebacondarwin commented on #38686
Also were you following along with the release candidates for 10.1.0? Did those fail too?

[2020-09-02 20:45] spock123 commented on #38686
No I must admit I did not. I upgraded from 10.0.14.

[2020-09-02 20:50] petebacondarwin commented on #38686
One thing you could try is building the application with localization turned off - this should output a `main.js` file in the `dist` folder, which you could then try translating manually with something like:

[code]

[2020-09-02 20:52] JoostK commented on #38686
Could it be that this is an issue with CLI 10.0, but not the to be released CLI 10.1?

[2020-09-02 21:45] #38676 closed

[2020-09-02 21:46] #38377 closed

[2020-09-02 22:19] ericmartinezr commented on #38200
@Splaktar I found another issue (https://github.com/angular/angular/issues/38503#issuecomment-677702279) where you mentioned that the website is being translated into spanish in the repo https://github.com/angular-hispano/angular. Is that one the "official" translation repo?

[2020-09-02 22:37] Splaktar commented on #38200
@ericmartinezr Yes, we've consolidated the efforts at https://github.com/angular-hispano/angular. It's online at https://docs.angular.lat (the https://angular.es domain is not active but is being held by someone not affiliated with us, in Spain).

You can find out more about Angular Hispano, including our CoC, guides, events, and how to register for our chat at https://angular.lat.

[2020-09-02 22:39] Splaktar commented on #38200
Oh and as for impacts to angular.io, we plan to make a PR to the official docs page to add the Spanish docs site in the coming weeks. We wanted to get the last bits of our sidenav translated first (PR in review atm).

[2020-09-03 00:09] AntonioCardenas commented on #38200
Sorry, I forgot to update that now I am working in conjunction with Angular Hispano so that there is no duplicate work and my project redirects to the new official project so I think we can close this issue

[2020-09-03 00:54] AndrewKushnir commented on #34423
Just [tested this use-case](https://stackblitz.com/edit/angular-ivy-34423?file=src/app/app.module.ts) with the latest versions of Angular packages (v10.1.0) and Ivy (previous repro used View Engine), the behavior is still the same.

[2020-09-03 01:29] JiaLiPassion commented on #38561
@sir-captainmorgan21 , sure, if the project is created by `Angular CLI`, zone.js is imported in `polyfills.ts`, and also if the project is `Angular CLI` project, after updating to zone.js 0.11.x, it will still work.

The issue here https://github.com/kmaraz/zonejs-demo is not an `Angular CLI` project, the zone.js is imported in `app.module.ts` and the syntax there is `import 'zone.js';`, and this

[2020-09-03 01:58] kmaraz commented on #38561
Off topic:

It would be nice if zone.js would follow semver. How it is possible that major version didn't change but it is a breaking change. I'd never guessed that.

[2020-09-03 03:03] ahmadakra opened #38690 "Angular SwPush subscription refresh"
# 🚀 feature request

### Relevant Package
 This feature request is for @angular/service-worker

### Description
Using Angular's SwPush, we are looking for:
1) a way to refresh old or expired web push subscriptions. The standard explains how the browser is expected to do this automatically (https://www.w3.org/TR/push-api/#subscription-refreshes) and fire a "pushsubscriptionchange" event, but I am u

[2020-09-03 04:19] JiaLiPassion commented on #38561
@kmaraz, yeah, you are right, I understand your point, but since the major version of `zone.js` is still `0` and it may keep that way for a long time, so now we use the minor version to identify the breaking changes.

[2020-09-03 04:20] akturatech opened #38691 "10.1.0 Router empty path regression"
# 🐞 bug report

### Summary

Upgrading to Angular 10.1.0 does not stop routing on the first matching route entry.

### Is this a regression?

Yes, this used to work in all previous versions of Angular (from v2 onwards).

### Description

Previous versions of Angular allowed routes to be defined in a prioritized order. As per the screenshot below, we direct the route to specific module if a path is

[2020-09-03 05:12] Airblader commented on #38678
@criskrzysiu Instead of hijacking this issue please open a feature request yourself for that.

[2020-09-03 07:00] janousek opened #38692 "loadTranslations from @angular/localize dependes on Node.js"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/localize

### Is this a regression?

Yes, the previous version in which this bug was not present was: 10.0.x

### Description
I was using "loadTranslations" to dynamically load translations at runtime. Example:
[code]
This worked until Angular 10.1.0. Now build breaks with this error message:
[code]
The problem is that "

[2020-09-03 07:14] petebacondarwin commented on #38692
Great issue report @janousek - thanks. I will take a look at this today.

[2020-09-03 07:17] petebacondarwin commented on #38686
Simply removing the `localize: true` property in `angular.json` should be enough. You can then take a look at the generated `main.js` file and see if there are instances of `$localize` in there.

[2020-09-03 08:32] pellefjalar opened #38693 "The open property does not work on details html element"
.

### Bug description

`<details [open]="true"></details>`

Expected result: `<details open></details>`

`<details [open]="false"></details>`

Expected result: `<details></details>`

This is not the case

**Angular version: 9.1.12**

[2020-09-03 08:33] cexbrayat opened #38694 "i18N: localize with Ivy regression for equiv-text"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/localize in v10.1.0

### Is this a regression?

Yes, the previous version in which this bug was not present was: v10.0.0

### Description

Now that the CLI allows to extract the messages with Ivy, I noticed a difference in the extracted messages.
The extracted text is surrounded by comments, but the extracted messages wit

[2020-09-03 08:38] #38693 closed

[2020-09-03 08:56] indraraj26 commented on #38691
i think you will have to add pathMatch:"full" in path:""

[2020-09-03 09:34] diksha-v opened #38695 "KeyValue pipe does not support custom object type"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core@9.0.2

### Is this a regression?

 Not sure, never turned on full template type check on before v9

### Description

 using keyvalue pipe for custom object type throws "No overload matches this call." error

## 🔬 Minimal Reproduction

 https://stackblitz.com/edit/angular-ivy-ehsope

## 🔥 Exception or Error
<pre><co

[2020-09-03 09:39] petebacondarwin commented on #38694
I think this should be fixed by https://github.com/angular/angular/pull/38645

[2020-09-03 10:11] belyan commented on #38459
I have checked, the issue in AOT mode was fixed in 9.1.0. The issue in JIT mode does not reproduce if use option `preserveWhitespaces` in `bootstrapModule`.

[2020-09-03 10:11] #38459 closed

[2020-09-03 10:36] petebacondarwin commented on #38686
Further I had a look through the `@angular/localize` code base and (assuming your are targeting es2015) the most likely place this exception is being thrown is in `unwrapMessagePartsFromTemplateLiteral()` (https://github.com/angular/angular/blob/master/packages/localize/src/tools/src/source_file_utils.ts#L163).
I would propose adding some logging in there to see but I am not sure if the CLI is run

[2020-09-03 10:41] TilmannBach commented on #38686
i had the same error using cli 10. after upgrading cli to 10.1 the problem has gone!

[2020-09-03 10:44] petebacondarwin commented on #38686
Oh yes, please do try CLI 10.1.0 that was release 12 hours ago.

[2020-09-03 11:24] petebacondarwin commented on #38692
It's a bit complicated to fix this way since `loadTranslations()` relies upon `parseTranslation()` which returns a type that relies upon `ParsedTranslation` which itself contains a reference to `SourceLocation` which is what references `AbsoluteFsPath`.

I realise though that the `FileSystem` types should not have any real dependency on `Node`. So instead I propose to change that code to drop `Buf

[2020-09-03 11:46] spock123 commented on #38686
@petebacondarwin @JoostK  Updating to CLI 10.1.0 also fixed it for me. We can close this issue.

Thank you guys. Appreciate the help.

[2020-09-03 11:46] #38686 closed

[2020-09-03 11:48] petebacondarwin commented on #38686
Phew! Thanks for the update.

[2020-09-03 12:44] Yavorss opened #38696 "Time zone globally"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/core

### Description
I would like a global time zone setting for the date pipe. Currently, the date pipe gets a time zone as an optional parameter if there is no such parameter then gets the current zone of the client.

### Describe the solution you'd like
We could achieve that with an injection token just like the L

[2020-09-03 13:19] f-loris commented on #36430
I can confirm this, I experienced the same issue. Actually the root cause on my end was s permission problem on the CI system. I could fix this by building my own docker image without specifying a `USER` in Dockerfile. This SO post also came to the same conclusion: https://stackoverflow.com/a/63554302/9999800

It looks like Ivy is not working correctly when it doesn't have write permission while e

[2020-09-03 13:20] f-loris commented on #36430
I can confirm this, I experienced the same issue. Actually the root cause on my end was s permission problem on the CI system. I could fix this by building my own docker image without specifying a USER in Dockerfile. This SO post also came to the same conclusion: https://stackoverflow.com/a/63554302/9999800

It looks like Ivy is not working correctly when it doesn't have write permission while exe

[2020-09-03 13:37] petebacondarwin commented on #38696
For what it is worth, this is pretty easy to implement locally for your own project: https://stackblitz.com/edit/ivy-ryeoix?file=src%2Fapp%2Fapp.component.html

Given not many people have requested this, and it is straightforward to implement on a per-project basis, I would not be in favour of landing such a feature.

[2020-09-03 13:45] s4m0r4m4 commented on #38670
I just ran into this same problem (in type_to_value.js), but am not using bazel. Let me dig up more details and see if I can reproduce

[2020-09-03 14:17] kukjevov opened #38697 "BUG: Compiler CLI generates malfunctional output (does not use "baseUrl" and "paths" correctly)"
# 🐞 bug report

### Affected Package
`@angular/compiler-cli`

### Is this a regression?

Dont know.

### Description

When I am trying to compile library, it produces *"ivy"* code even when `"enableIvy"` is set to `false` on some services. This code duplicates import but from wrong *module* path. Dont know if problem is that *"ivy"* code is generated and should not be, or just import is generated

[2020-09-03 14:25] kukjevov commented on #38562
@AndrewKushnir anything new here ? :)

[2020-09-03 15:07] Yavorss commented on #38696
In the example above, you should create a new pipe to do that. In my opinion would be better if the angular date pipe has that ability.

[2020-09-03 16:03] JoostK commented on #38697
What you're looking at is actually not Ivy code, although it does indeed look like it. The emitted code has been like that since the introduction of three-shakable providers in Angular 6, which was the first code to adopt the Ivy-style definitions.

So the issue you're seeing is in fact a ViewEngine compiler issue; enabling Ivy fixes the problem. I understand that is not currently an option as the

[2020-09-03 16:15] kukjevov commented on #38697
I think that workaround for now could be inject `Injector` and obtain `STRING_LOCALIZATION` using `Injector` so this `InjectionToken` will not be part of constructor, this could help i think.

But i would rather see this fixed :).

[2020-09-03 16:16] kukjevov commented on #38697
But thanks anyway :). Also for explanation.

[2020-09-03 16:41] #38329 closed

[2020-09-03 16:44] #38600 closed

[2020-09-03 17:42] JoostK commented on #36810
I'll go ahead and close this as not a compiler issue/a regression from earlier versions. The difference in behavior is due to AOT being enabled by default, which is documented in the v9 release notes.

Improvements to forms API to better behave with type checking is found in issues like #36405, #17000 and #13721.

[2020-09-03 17:42] #36810 closed

[2020-09-03 17:48] TheNemus commented on #27290
My use case is to cache components from lazy-loaded module, and use routes transition animations: if the component is stored, the transition goes very smooth. If I need to re-create the component each time its route has activated, the animation becomes laggy.

[2020-09-03 18:08] KostyaTretyak opened #51626 "Server: relative URLs are not converted to absolute URLs"
# 🐞 Bug report

#### What modules are related to this issue?

- [ ] aspnetcore-engine
- [ ] builders
- [ ] common
- [x] express-engine
- [ ] hapi-engine

### Description

Actually, this is a copy angular/universal#1669 and angular/universal#1747, but since they locked, I created this issue. Please do not close this issue for the third time. Let's wait until it is really fixed.

According to the [d

[2020-09-03 18:39] JuliaAlvezZz opened #38699 "Apk created with build --prod don't work"
Hello, I'm trying to generate the .apk for my Ionic application with
`ionic cordova build android --prod`
but when I run the .apk, it shows the splash screen and then a white screen.
When I try to build using
`ionic cordova build android --aot false --environment prod --output-hashing all --sourcemaps false --extract-css true --named-chunks false --build-optimizer true`
it works. If I set `--aot f

[2020-09-03 18:50] blasco commented on #38686
Still same problem after upgrading to 10.1

[2020-09-03 18:59] Splaktar commented on #36279
@flash-me I agree. However, I can't figure out the root cause, so I'm not sure how to reduce the huge private repo to a minimal example. It's also hard to do a minimal example with dynamic component generation, multiple modules (AppModule, CoreModule, and feature modules), and Angular CLI builds (i.e. no StackBlitz, it would need to be a GitHub repo reproduction).

[2020-09-03 19:04] blasco commented on #38686
Downgrading doesn't solve the issue... I have no idea when this broke, and the message doesn't help much. Any idea what is causing this?

[2020-09-03 19:14] petebacondarwin commented on #38686
@blasco - how did you downgrade? Did you completely remove the node_modules folder? Even when upgrading this can be required. If you are still having problems please can you open a new issue and ideally provide steps for me to reproduce it locally.

[2020-09-03 20:35] s4m0r4m4 commented on #38670
The problem has sporadically appeared for me today. One thing I noticed is that if I rename a service file to an unorthodox extension (say, 'my.service.ts' --> 'my.messages.ts'), it sometimes throws this error. I'm also exporting the `typeof MyService` and using it as an interface for other types to inherit, not sure how legit that is. Sorry I couldn't provide more info!

[2020-09-03 20:39] petebacondarwin commented on #13114
Hi everyone. This has not been on my radar but it sounds like it might be a good idea to implement it. I think we could put it behind some kind of flag to prevent a breaking change. In the not-too-distant future we also need to migrate away from our legacy message ids, so this could also be part of that work. Since this is not a trivial piece of work, I am not sure right now when it will be implem

[2020-09-03 20:50] AndrewKushnir commented on #24251
Just tested this behavior with the latest versions of Angular packages (10.1.0) and Ivy enabled, the behavior is still the same ([see repro here](https://stackblitz.com/edit/angular-ivy-e5n7d3)). The problem was caused by the fact that the value of the `exampleForm.valid` binding changes once `customMinlength` binding (which is an input to the `CustomMinLengthValidator` directive) is updated to a

[2020-09-03 21:07] JoostK commented on #38155
Closing as #38576 was just merged, should be available in 10.1.1 somewhere next week.

[2020-09-03 21:07] #38155 closed

[2020-09-03 21:41] akturatech commented on #38691
Good morning @indraraj26 . Thank you for your suggestion.

I tested this and unfortunately it doesn't work. The reason is that the last route redirects to our main module which has many routes of its own. With a full match, the routes within the main module no longer work.

Hopefully this explains our routing system (which was implemented when the first version of angular was released with lazy lo

[2020-09-03 21:44] AndrewKushnir commented on #22439
Just tested the described scenario with the most up-to-date versions of Angular packages (10.1.0) and Ivy enabled, the behavior is the same (the `ExpressionChangedAfterItHasBeenCheckedError` error is being thrown). Link to the repro: https://stackblitz.com/edit/angular-ivy-uazdmn. The problem happens due to the host binding changes in `NgControlStatusGroup` directive that is automatically applied

[2020-09-03 21:51] akturatech commented on #38691
OK I tried changing the path to '**' instead of empty and this actually gets me a little bit further - it now loads the main module but doesn't load any of the children in the main module.

My main module has routes like this:
![image](https://user-images.githubusercontent.com/23112857/92176767-7daefa80-ee82-11ea-838e-71ede1490d99.png)

I'm guessing here that '**' in the app route is consuming the

[2020-09-03 22:03] AndrewKushnir commented on #33557
The problem is caused by the `NgControlStatusGroup` directive that applies CSS classes to DOM elements to reflect the status of a form group. The status gets changed after calling `disable` function, thus causing CSS classes to change and don't match the originally setup value. As a result, the change detection logic (that checks whether any bindings including host bindings) have changed) identifi

[2020-09-03 22:14] alxhub opened #38702 "Ivy LS: Add switch to enable Ivy LS in VSCode"
We should have an opt-in switch (tsconfig flag? VSCode command?) to enable the experimental Ivy integration.

We need to be a little careful that ngcc has run as this is needed for .d.ts information.

[2020-09-03 23:06] flash-me commented on #36279
@Splaktar yes I totally understand this. Wouldn't keep people that busy if it was sth. easy, right? 😅

But in order to do any progress here, I (we?) need at least something, if not a repro case.
Any information may help. So anyone running across this issue, following points:

-  Disable `buildOptimizer` & 'optimization' for this!
- Where is the component / pipe / directive located and where is it

[2020-09-03 23:40] AndrewKushnir commented on #29421
Hi @sharikovvladislav, thanks for providing a repro.

I've re-created it using the most up-to-date version of Angular packages and enabled Ivy, you can find [updated version here](https://stackblitz.com/edit/angular-ivy-d8gx5s?file=src%2Fapp%2Fapp.component.html). The original behavior remains the same (the `ExpressionChangedAfterItHasBeenCheckedError` is being thrown).

The problem that you encou

[2020-09-03 23:40] #29421 closed

[2020-09-04 00:29] jagthebeetle commented on #15041
A number of people have mentioned directives as a workaround, but AFAICT they negate the advantage of pipe purity. Specifically, directives don't have an OnPush concept, so they don't solve the problem of reducing the number of times their wrapped transformation has to be computed (#14627).

[2020-09-04 00:29] AndrewKushnir commented on #38196
Hi @Warwizza, thanks for reporting the issue and providing a repro.
It looks like a bug in Forms package potentially related to the `RadioControlValueAccessor` class and `ngFor` logic.
As a possible workaround, you can try adding the `trackBy` into the `ngFor` directive [as shown here](https://angular.io/api/common/NgForOf#description).
Thank you.

[2020-09-04 00:38] AndrewKushnir commented on #37853
Closing this ticket as there was not actionable repro provided. If the problem still exists, please create a new ticket and provide an repro, so that we can perform further investigation. Thank you.

[2020-09-04 00:38] #37853 closed

[2020-09-04 00:40] #35048 closed

[2020-09-04 00:42] AndrewKushnir commented on #34033
Closing this ticket as I was unable to reproduce the problem using provided information. If the problem still exists, please create a new ticket and provide a repro so that we can perform further investigation. Thank you.

[2020-09-04 00:42] #34033 closed

[2020-09-04 00:53] AndrewKushnir commented on #37920
Hi @RafaelMFonseca, thanks for reporting the issue.

It seems to be related to https://github.com/angular/angular/issues/38465. The issue looks like a bug in Forms package (in combination with the `ngFor` logic). As a possible workaround try adding the `trackBy` to the `ngFor` as [it's shown in the docs](https://angular.io/api/common/NgForOf#description).

Thank you.

[2020-09-04 01:03] AndrewKushnir commented on #21780
Hi, it looks like this issue has a root cause described in #10816. I'm closing this ticket as a duplicate, please subscribe to #10816 for further discussion/updates. Thank you.

[2020-09-04 01:03] #21780 closed

[2020-09-04 01:06] AndrewKushnir commented on #32454
Hi @gerhardboer, thanks for reporting the issue.

I checked the repro and it looks quite complex. Could you please try to simplify it and keep the minimum possible setup that is needed to reproduce the issue?

Thank you.

[2020-09-04 02:19] jaska45 opened #38705 "Extractor no longer extracts the location if i18n is without parameters"
# 🐞 bug report

First of all, congratuliations for Angular 10.1, It finally complated the I18N features and you now can localize templates and the source code. I wrote an [API that enables loading the translations on runtime](https://github.com/soluling/I18N/tree/master/Library/Angular) that you can use to create a single deployment that can serve any number of languages.

Then for the bug I found

[2020-09-04 03:12] KostyaTretyak commented on #38607
How is the feature described here different from [CanLoad](https://angular.io/api/router/CanLoad) feature?

[2020-09-04 03:48] mvgadagi opened #38706 "Avoid default encoding of queryParams in Angular"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/core

### Description

Providing the flag to disable the default encoding the queryParams provided in the route

When the URL is access in angular with http://localhost:4200/test?url=http://abc/item%2F2/3 by default it's redirecting and updating the brower url bar with http://localhost:4200/test?url=http:%2F%2Fabc%2Fi

[2020-09-04 03:52] indraraj26 commented on #38691
Hi @akturatech ,

Do you have router-outlet in MainComponent.html it is needed so that children can render, as you are not using component-less routing.

Also is it possible for you provide to reproduction via stackblitz ?

[2020-09-04 04:17] ayazhafiz commented on #38596
Another one discussed during the team sync today: `{{ a | }}` should recover

[2020-09-04 05:03] akturatech commented on #38691
Hi @indraraj26
Yes I do have a router outlet. I can try to create a repeatable project. I will work on it tomorrow.
Not sure if it will help, but I can give you access to our source code if it helps. The source code is pretty easy to fail - is working in 10.0.12 and then when do 'ng update @angular/core @angular/cli' it upgrades seamlessly but routing no longer works.

[2020-09-04 06:15] swirlsky commented on #25160
Most of the times, using `::ng-deep` without a preceding selector or the `:host` pseudo-class is wrong, as most of the times you shouldn't style things from your component which are out of its scope. That's right.

However, what should you do if you need to style elements which are dynamically added to the page outside of your component? A good example is a tooltip, modal or popover that you're co

[2020-09-04 06:24] akturatech commented on #38691
Hi @indraraj26,

Example project is here in v10.0.9. It works: https://stackblitz.com/edit/angular-ivy-hjbn23
If you upgrade to v10.1.0 it blows up.

The reason is that the guard on the empty path in the app module is running when it shouldn't be. It should run only when the path: '' is activated, but it runs even if we go to '/auth' path. This is only happening in 10.1.0 and not in older versions

[2020-09-04 06:37] gerhardboer commented on #32454
Hi @AndrewKushnir

I've tried to simplify and explain the repo a bit: https://stackblitz.com/edit/simplified-form-cva-bug

Unfortunately, it's a complex situation. I hope it's more clear now.
I've also tried updating to Angular 11, since there was an update to statusChanges, which might have fixed this problem. But it did not seem to work.

The point of the functionality is to add required Control

[2020-09-04 06:39] criskrzysiu opened #38708 "Multiple components from one router outlet."
# 🚀 feature request

### Relevant Package
@angular/router

### Description

I would like to propose a feature to router, that would add names to route levels, and allow to render multiple components from one router outlet like this

### Proposed usage overview
[blade layout example below explained](https://ibb.co/mT00tw4)

[code]

so we get ability to render components next to each other instead o

[2020-09-04 06:45] akturatech commented on #38691
One more clue - if i name the empty path (eg path: 'main') then the guard works correctly and runs only when the 'main' path is activated. So the issue is:
canLoad on an empty path is running the guard even if the path is not being activated.

[2020-09-04 06:46] martinbu commented on #36241
@kara I have updated the test repository to angular 10.1. I have still the same issue there. New Branches are

- [ angular10.1-with-ivy](https://github.com/martinbu/ivy-directive-issue/tree/angular10.1-with-ivy)
- [ angular10.1-without-ivy ](https://github.com/martinbu/ivy-directive-issue/tree/angular10.1-without-ivy)

Can I help any further to fix this issue? Or should I consider a workaround, be

[2020-09-04 06:51] geromegrignon commented on #38607
Using CanLoad on a route with a Resolver would mean to resolve the data twice and might impact performance :
- once checking if data is available with CanLoad
- once to store the data when resolve occurs

[2020-09-04 07:10] gudzdanil commented on #25160
@swirlsky I suppose you need to do positioning in global css for tooltip because it's a common behavior, and in components you need to define a template, use ViewChild to query template and then instantiate tooltip with this template. Then angular compiles template with scoped css attributes and you can define styles as usual without ng-deep

[2020-09-04 07:16] sarita2129 opened #38709 "Angular service worker not loading for localhost:8080"
I am facing this issue in 2020. Angular service worker does not load on localhost:8080 but it works for 127.0.0.1:8080. Not sure if is an angular/http server issue. When I tried change the register code  in app.module
actual code
   ServiceWorkerModule.register('service-worker.js', { enabled: environment.production })
modified version that works
    ServiceWorkerModule.register('service-worker.js'

[2020-09-04 07:22] sarita2129 opened #38710 "Angular service worker not loading for localhost:8080"
I am facing this issue in 2020. Angular service worker does not load on localhost:8080 but it works for 127.0.0.1:8080. Not sure if is an angular/http server issue. When I tried change the register code  in app.module
actual code
   ServiceWorkerModule.register('service-worker.js', { enabled: environment.production })
modified version that works
    ServiceWorkerModule.register('service-worker.js'

[2020-09-04 07:27] Splaktar commented on #25160
You would just use a global style that is wrapped by the class name of the tooltip type that you are styling. I.e.
[code]
As you noted, with Material, this would be set via `matTooltipClass="info"` and Bootstrap and other libraries have a similar feature.

You shouldn't feel like global styles are banned or not to be used. Of course, you should avoid over using them and make smart decisions about

[2020-09-04 07:29] aausting commented on #38686
I had the same issue after upgrading to 10.1. I figured out that "old" dependencies showed up in "ng --version". I fixed them manually in package.xml. Now the output of "ng --version" looks like this
[code]
and `--localize` runs fine.

[2020-09-04 07:51] gkalpak commented on #38710
Duplicate of #38709.

[2020-09-04 07:51] #38710 closed

[2020-09-04 08:25] meriturva commented on #15041
Thanks for your solution @shivamd20 but the main point here is performance and memory consumption.

Using a pure pipe following an impure pipe (`async` is impure, see https://github.com/angular/angular/blob/master/packages/common/src/pipes/async_pipe.ts#L81)
is not a so smart solution for me.

What I feel after many small projects and big enterprise applications released is that pure pipes are sin

[2020-09-04 10:58] KheireddineAzzez commented on #23856
HttpParams is immutable. set() creates and returns a new HttpParams instance, without mutating the instance on which set() is called. So the code should be

const params = new HttpParams().set('status', status);

[2020-09-04 10:58] KheireddineAzzez commented on #23856
HttpParams is immutable. set() creates and returns a new HttpParams instance, without mutating the instance on which set() is called. So the code should be

const params = new HttpParams().set('status', status);

[2020-09-04 11:07] jaska45 opened #38711 "Extractor no longer extracts the parameter/expression of the interpolated string into disp attribute"
# 🐞 bug report

### Is this a regression?

Yes. This used to work in 10.0 and earlier.

### Description

Extractor no longer extracts the parameter/expression of the interpolated string into disp attribute

## 🔬 Minimal Reproduction

Repo is [here](https://github.com/jaska45/DisplayBug).

Write an interpolated string that has any parameter. For example

`<p i18n>My name is {{name}}</p>`

Then run

[2020-09-04 12:22] sonukapoor commented on #38711
Hi, @jaska45 Is this different from the other issue you posted #38711?

[2020-09-04 12:25] basherr commented on #26081
Still getting the same issue on **Angular 10.0.3** on Windows 10

[2020-09-04 12:30] jaska45 commented on #38711
Yes this is a different issue

On Fri, Sep 4, 2020 at 05:22 Sonu Kapoor <notifications@github.com> wrote:

[2020-09-04 12:48] petebacondarwin commented on #38711
This might be fixed by https://github.com/angular/angular/pull/38645 I will test later today

[2020-09-04 12:48] petebacondarwin commented on #38705
I'll investigate this today.

[2020-09-04 12:57] BenRacicot commented on #25160
@swirlsky I wrote about the proper CSS strategy to avoid this issue and many others. [Angular CSS Strategies](https://medium.com/@BenRacicot/angular-css-strategies-973db1f44c67). It's very simple, style general styles within a global stylesheet. Then resetting styles inside a component is not an issue at all.

Note: This is also how CSS should be architected in general. If your team is relying on

[2020-09-04 14:42] petebacondarwin commented on #38711
Tested locally and #38645 does appear to fix this issue. Running the commands on the above reproduction results in:

[code]

[2020-09-04 15:48] wendellestradairely commented on #13856
I'm also having this issue in Angular 10. Man it's already version 10 and in pandemic year 2020 and still hasn't been fixed.

[2020-09-04 17:29] acohenOT commented on #12842
@atscott can you please explain why this fix is listed in the change log for 10.1.0 but this issue is still open and I don't think the PR was merged. Is this is a mistake?

https://github.com/angular/angular/blob/master/CHANGELOG.md

"router: support lazy loading for empty path named outlets"

[2020-09-04 19:21] dannyskoog commented on #38695
You have to make sure that your input matches one of the following overloads https://github.com/angular/angular/blob/9.0.2/packages/common/src/pipes/keyvalue_pipe.ts#L53-L67

[2020-09-04 22:30] #13460 closed

[2020-09-04 23:45] Rush commented on #28738
Any update?

[2020-09-05 02:30] atscott commented on #12842
Yes, that’s a mistake. The commit was reverted because we found an issue after it went in. I’ve since investigated the failure more and reworked the solution. I plan to merge the change next week and it’ll go into the 11.0.0-next.1 release.

Would you like to send a PR to correct the changelog?

[2020-09-05 02:37] acohenOT commented on #12842
Yes, will do.

[2020-09-05 15:59] hrueger opened #38720 "Uncaught ReferenceError: __NG_CLI_RESOURCE__1 is not defined"
# 🐞 bug report

### Description

When running `ng serve` I get the following error: `Uncaught ReferenceError: __NG_CLI_RESOURCE__1 is not defined`. Everything is working fine when I use `ng build --prod`.

Probably something in my `tsconfig.json` is wrong, but a more descriptive error message would be really helpful.
The compilation process by the way succeeds without any errors / warnings.

## 🔬

[2020-09-05 16:53] yashi12 opened #38722 "Angular documentation"
The documentation pages do not scroll smoothly, it is very difficult to scroll the pages and takes large time in responding.
Also on clicking on the topics on right hand side the page loading takes a lot of time.

[2020-09-05 17:35] petebacondarwin commented on #38722
Please can you provide some more information about these problems? Perhaps video of your screen when the scrolling is not moving smoothly. And for the page loading, please provide explicit steps to reproduce the issue, including the URL of the page and the items in the contents pane that you are clicking.

[2020-09-05 19:19] yashi12 commented on #38722
When I scroll the documentation page of angular [https://angular.io/tutorial/toh-pt6](url) or even any other documentation page , initially scroll works fine but when I am on that page for few minutes and try scrolling small amount of content then I get a lag between the scrolling content seen on the screen, the scroll occours after few seconds, it does not occur simultaneously while scrolling on

[2020-09-05 21:20] Achilles1515 commented on #38648
I'm not really talking about destroying a `ViewRef`. Anytime a `ViewRef` is removed from a `ViewRefContainer` (other than using `viewRef.destory()`), `viewRef._viewContainerRef ` still points to that `ViewRefContainer` instance. Therefore that `ViewRefContainer` will never be garbage collected until the `ViewRef` instance is attached to another container or its `destroy` method is called.

[2020-09-06 09:46] gkalpak commented on #38722
Thanks for getting back, @yashi12!

Unfortunately, I cannot reproduce the issue 😕
I wonder if it is related to some Chrome extension you have. Can you try opening the docs in an incognito tab with extensions disabled?

[2020-09-06 11:31] mvgadagi commented on #38706
I have created the demo of Slickblitz to explain the current scenario https://stackblitz.com/edit/angular-router-basic-example-fm1xua

[2020-09-06 17:42] gkalpak commented on #38709
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-09-06 17:42] #38709 closed

[2020-09-06 21:22] orik007 commented on #16299
Still not working in the newest angular 10. Do I have to transfer logic to service and create special component for every parent? :(

[2020-09-06 22:10] bsmith418 opened #38728 "Add template reference variable for FormArrays"
One can self-reference forms as so:

[code]

However, there is no way to refer to FormArrays within the form. Thusly, we're forced to do something like this:

[code]

Now imagine the beauty of using a template reference variable:

[code]

Benefits of template reference variables for FormArrays:

- IDE's treat #templateVariables as typed variables, so they will help you out accordingly. Whereas "sa

[2020-09-06 23:30] RenanRossiDias commented on #13761
Had the same problem as @artem-v-shamsutdinov while attempting to wrap angular material components into my own app components.

**Solved this by adding a @Input prop at my input component with the current formGroup instance, and adding it to an input  container tag.**
Just like this:

**login.component.html**
`<form [formGroup]="loginForm"><cv-classic-input [...] [parentForm]="angForm"></cv-classi

[2020-09-06 23:50] RenanRossiDias commented on #13761
For everyone having this problem:

Had the same difficulty as @artem-v-shamsutdinov while attempting to wrap angular material components into my own app components.

**Solved this by adding a @Input prop at my input component with the current formGroup instance, and adding it to an input  container tag.**
In my case, this container was `<mat-form-field>`, but i think it would also work with `<div>

[2020-09-07 06:27] djleonskennedy commented on #38728
@bsmith418 You can do it
(example)
https://stackblitz.com/edit/angular-ivy-array-in-template

[2020-09-07 06:47] blasco commented on #38686
@aausting Thank you, you are right, I had to reinstall all the other packages too.

[2020-09-07 08:19] Warwizza commented on #38196
HI @AndrewKushnir, thank you for your response and the workaround.
I tried your workaround and it worked, but we already implemented another workaround where we destroy the child component (with an `ngIf`) and let Angular (re-)initialize it with the new data. This way it's impossible that the `ngFor` has reference to the previous data.
Hopefully this will get fixed soon, so that we can remove our

[2020-09-07 08:26] petebacondarwin commented on #38436
@kbtganesh - any joy?

[2020-09-07 09:18] petebacondarwin commented on #37092
#38404 was merged into master three weeks ago. So this should no longer be a problem. @jimbarrett33 can you check whether the next version (11.0.0-next.0) no longer has this problem?

[2020-09-07 09:18] #37092 closed

[2020-09-07 09:26] tirithen opened #38730 "Make Angular componets exportable to Web Components by default"
# 🚀 feature request

### Description

The company I work for wants to reuse Angular custom UI components that is built by another team in a larger project I'm working in. The project I'm a part of uses standard web components with some basic helpers through lit-html/lit-element.

It seems that it's hard with Angular to use only a single component outside the Angular "engine". Does the Angular proj

[2020-09-07 12:42] sod opened #38732 "feature request - faster compiler"
# Preamble

What if a build that requires 300 seconds now would be done in 3 seconds instead? Without cache? This currently becomes reality for VDOM based frameworks like vue & react.

With angular it's not that easy, as the framework is basicly a compiler.

# 🚀 feature request

Faster compiler.

### Description

Pretty sure the angular team loves performance and compiler stuff. So I just wanna se

[2020-09-07 12:53] petebacondarwin commented on #38732
Note that neither of these projects support (or plan to support e.g. https://github.com/swc-project/swc/issues/126) actual type checking the code, which is one of the major benefits of TS. If you are 100% sure that your code is correct then doing the transpile with one of these tools is definitely a win. But the question is, if you are not sure then you still need to run the TS compiler to check,

[2020-09-07 13:04] sod commented on #38732
Thats where a hybrid may be interesting. Generate the AST with swc, and let typescript do the rest. Or the question, why the V8 is 100 times slower.

[2020-09-07 13:08] WaseemRakab commented on #26413
im looking forward to this issue also...
any update on this??

[2020-09-07 13:14] petebacondarwin commented on #38732
Generating the AST is not really the bottleneck in the TypeScript compiler. The type-checking aspects of TSC are by far the biggest performance drain. Anecdotally, in my time spent performance testing TS I would say at least 90% of the effort is checking the typings. So a 100x improvement in parsing would only save ~9% of the total compile time.

I would also expect that even if a non-JS tool was

[2020-09-07 13:24] sod commented on #38732
The performance is hard to believe. You have to try it. But 100x is real. It is switching tsc **with diagnostics turned off (!)** to either esbuild & swc!

We never ran our unit tests with diagnostics enabled. Why would we? tsc diagnostics can run in a separate process anyway.

`jest --no-cache` went from 50s to 11s. Where 10.5s of it is actually running the specs. So the compilation pretty much w

[2020-09-07 13:27] sod commented on #38732
I don't know if I can agree with typechecking being slow. Running `tsc --noEmit` in our project takes 20 seconds. Where as the build needs 120 seconds.

[2020-09-07 13:31] petebacondarwin commented on #38732
I may be wrong about my numbers - but that was my anecdotal experience.

---

So your hybrid suggestion would be to run tests (i.e. unit/e2e) in a separate process/job to type-checking. I guess that would allow you to parallelize the type-checking alongside the test runs. Not a bad idea.

[2020-09-07 14:03] gkalpak commented on #38730
I am little confused. Could you elaborate on what rewrites/internal custom modifications you refer to?

[2020-09-07 14:14] tirithen commented on #38730
Basically I'm looking for a feature/way to export components built with Angular like say buttons/lists/forms ect as stand alone standard Web Components so that they can be used in other projects that does not use Angular without initializing the entire Angular application. Of course assuming I'm still using that components API externally.

A way to pull in and re-use the Angular components (as is

[2020-09-07 14:57] lazarljubenovic commented on #13761
@renanmontebelo You don't need a custom input at all, you can simply inject it. See here for details: https://stackoverflow.com/a/46025197/2131286

[2020-09-07 15:18] kbtganesh commented on #38436
@petebacondarwin,

It just introduced new errors :(

I've tried updating angular material to latest version, clear npm cache, update 'npm' to latest version, remove nodemodule+package lock & did npm install again. Nothing worked.

[code]

[2020-09-07 15:46] etay2000 commented on #38732
Please don't mention the word 'compiler' to anyone on the Angular team. Next thing you know everything will be put on hold again for years while the latest ** insert trendy name here ** compiler is developed.

[2020-09-07 15:57] JoostK commented on #38436
@kbtganesh Those `ɵɵupdateSyntheticHostBinding` errors smell like an issue with multiple versions of `@angular/core`. This can either be because of symlinks into a different tree where there's a `node_modules` folder in scope, which will result in that `@angular/core` package installed in that `node_modules` folder to be resolved for the symlinked library. Alternatively, it may be that you have mu

[2020-09-07 16:43] renanmontebelo commented on #13761
@lazarljubenovic  I believe you tagged the wrong Renan :-)

[2020-09-07 16:45] lazarljubenovic commented on #13761
Whopes, sorry for the ping. :sweat_smile:  @RenanRossiDias  :point_up:

[2020-09-07 17:49] bsmith418 commented on #38728
I like that as a solution for a single FormArray, @djleonskennedy . However, it's still more verbose than the brevity a template reference variable would enable, especially given a form with lots of FormArrays.

[2020-09-07 19:21] sivaecekrr commented on #38669
I get the below issue after upgrading zone from **0.10.3** to **0.11.1** in IE11. But it works in 0.10.3.

SCRIPT1002: Syntax error
polyfills-es5.js (15604,9)

SCRIPT1002: Syntax error
polyfills.js (5252,9)

SCRIPT5009: 'Promise' is undefined
vendor.js (242998,41)

[2020-09-07 20:00] Totati commented on #38728
We use [this approach](https://stackblitz.com/edit/angular-ivy-array-in-template-fbkrpz?file=src/app/app.component.ts) It's almost the same, but we enforce the type in the *ngFor

[2020-09-07 21:52] alan-agius4 commented on #38732
Just to chime in having type-checking in a separate process doesn’t come free, as the memory consumption will double, because files needs to be cached in 2 different processes.

In Angular CLI we already have a forked type-checker, although with the new Ivy NGTSC plugin which will be used in future versions it will removed as it’s actually slower.

[2020-09-08 06:57] Qasmi2 opened #38738 "Indexing and crawling Issue"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

We are using Angular 9.0.0 (aka Angular Universal) in our website which serves dynamic content to our audience.

We are not able to get our dynamic URLs (pointing to content pages) indexed at the Google Search Console (GSC) and also through our sitemap successfully accepted by GSC. Though GSC accepts, and indexes, static URLs but the crawler doesn’t even crawl them.

O

[2020-09-08 07:26] wenqi73 opened #38739 "Add format of ISO week-numbering year"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/common

### Description

[code]
Week is right but year is wrong.
### Describe the solution you'd like

Add an ISO week-numbering year like `rrrr`.
[code]
Here is the reference of [date-fns](https://date-fns.org/v2.16.1/docs/format).

### Describe alternatives you've considered

[2020-09-08 08:37] Adrian1907 commented on #23609
I fixed that by replacing import of `RouterModule.forChild(routes)` with the previously defined constant:
`export const routerModule = RouterModule.forChild(routes);`

[2020-09-08 10:09] hudzenko commented on #13792
Almost 4 years for this bug.. 👎

I have a stepper in my app and last step is a summary of previous forms. Well I have to use same forms groups at the last step, but summary is not updated anytime

[2020-09-08 11:18] rahultokase commented on #31387
Does this apply to resolve and canActivate as well if we use the token there as well.

[2020-09-08 11:39] petebacondarwin commented on #38739
Normally I am cautious about adding new functionality but I think that this case could be an exception. Since we are already doing the calculations for the week numbering, it is probably not too much more to compute the "week year".

This might be a good first time PR for someone... 🤔

[2020-09-08 11:43] petebacondarwin commented on #38679
@ArtemAvramenko - did you consider trying to set the configuration of OmegaT? I see that there is a whitespace handling configuration in the "7.6 File Filters" section - https://omegat.sourceforge.io/manual-standard/en/windows.and.dialogs.html#dialogs.preferences.

[2020-09-08 12:00] ArtemAvramenko commented on #38679
That are my options:
![image](https://user-images.githubusercontent.com/11413326/92473561-76218580-f1e3-11ea-9fb3-822ee6b6a2c5.png)

These options have effect on output, but the problem that OmegaT respects `xml:space` attribute, so it ignores whitespaces in source file.

[2020-09-08 12:05] ArtemAvramenko commented on #38679
For now I run powershell script after resource extracting:
[code]

[2020-09-08 12:10] ArtemAvramenko commented on #38679
Adding `--preserveSpaces` to `localize-extract` would be an ideal solution for me.

[2020-09-08 12:14] petebacondarwin commented on #38679
Yeah, I think it might need to be behind a flag, since I am concerned that many XLIFF readers might not handle the xml namespaced attribute. It looks like XLIFF is trying to agree a specification for this but it has not made it standard yet.

[2020-09-08 12:43] martinsotirov commented on #30139
I have the same issue with dynamically loaded content that has anchors.

[2020-09-08 14:43] jimbarrett33 commented on #37092
@petebacondarwin thanks. I'll put this on my radar to test. I have a busy couple weeks coming up.

[2020-09-08 15:31] maxime1992 commented on #14955
I came across something very similar recently... https://github.com/angular/angular/issues/20007#issuecomment-683496790

This issue could be related I assume.

[2020-09-08 15:54] Maximaximum commented on #16982
Another reasonable option would be to allow `AsyncPipe` to accept an optional `defaultValue` argument. If a `defaultValue` argument has been passed, it should be used instead of `null`. Otherwise, `null` should be used in order not to introduce any breaking changes.

[2020-09-08 16:03] AlexanderOpran commented on #38691
We have the exact same issue as described by @akturatech. Any updates regarding this?

[2020-09-08 16:17] mhevery commented on #16982
We use `null` for historical reasons, agree that `undefined` is better, but making such a change would probably be breaking, so we would need to do investigation to see if it would be worth the trouble.

Adding additional parameter to pipe for missing value, seems like a good idea and should be backwards compatible.

Suggestion to community:
- [ ] Create a PR to change `null` to `undefined` so we

[2020-09-08 16:18] Odonno commented on #16982
Seems like the @ngrx team has developed a `ngrxLet` directive that works for every use case. https://ngrx.io/guide/component/let

[2020-09-08 16:38] bwqr commented on #37597
I think, I also hit this bug. In my case, my ```"Content-Type": "multipart/formdata"``` header is overwritten by ```"Content-Type": "application/json"```. This causes backend to parse requests incorrectly. A simple example is:
[code]

Whatever I have tried, like not setting any header, in network tab of dev tools shows me the ```"Content-Type": "application/json"``` value.

[2020-09-08 16:46] JoostK commented on #37597
@bwqr Did you mean to do

[code]

[2020-09-08 17:04] bwqr commented on #37597
@JoostK exactly, my miss

[2020-09-08 17:15] #12842 closed

[2020-09-08 17:34] Waterstraal opened #38743 "Update guide says there should be a tsconfig.base.json"
# 📚 Docs or angular.io bug report

### Description

In the [Angular Update Guide](https://update.angular.io/#9.1:10.0) it states that after upgrading there should be a `tsconfig.base.json`:

## 🔬 Minimal Reproduction

open an Angular 9 directory and run `ng update @angular/core @angular/cli`

### What's the affected URL?**
https://update.angular.io/#9.1:10.0

### Expected vs Actual Behavior**
I wo

[2020-09-08 17:35] Waterstraal commented on #38743
As an aside, I tried creating an old ng9 project by running `npx -p @angular/cli@9 ng new ng9-app --interactive=false`, but this generated an Angular 10 project. Does this not work anymore, or am I doing something wrong?

[2020-09-08 17:38] bwqr commented on #37597
I am indeedly sorry for misinformation. The cause of my problem is the http interceptor, which is setup by myself. I was overriding the content-type in interceptor. After fixing the interceptor, my request's headers are sent as expected.

[2020-09-08 17:46] simeyla commented on #34522
@amakhrov can you provide your implementation for `asType`. Also have you considered situations where the type is a discriminated union without distinct named types for each sub-type.

eg.

   type Animal = { type: 'dog', sound: 'bark' | 'growl' } | { type: 'cat', sound: 'purr' | 'meow' };

I tried doing this:

[code]

I throw an error if the type is not as expected (for a switch statement I think

[2020-09-08 17:55] bwqr commented on #37597
I think, this bug report has nothing to do with angular/common/https. Explicitly setting ```Content-Type``` on the request is wrong, instead, ```enctype``` header field should be set. Than browsers will automatically set
[code]
with correct values.

[2020-09-08 17:58] Totati commented on #16982
How about an injectionToken, so it can be provided?

[2020-09-08 17:58] amakhrov commented on #34522
This is not what we want to represent. instead, we want to have a subtype of Animal that satisfies the constraint `type: 'some-type'`.

You can see example implementation [in the playground](https://www.typescriptlang.org/play?#code/C4TwDgpgBAglC8UDeAoKVSQFxQOQ1wBo0oBDHAZ2ACcBLAOwHMUBfFFTaAIQWRM5y4uREgCNKNBszYdw0AMK9U6AXnkj0AYwl0mrdp1hdFiOAB8oPC-INyoAZQCuozgB4AqvVoB7eoSgAIjQA0hAgUBAAHsAQ9AAmFFAA1m

[2020-09-08 18:40] #38705 closed

[2020-09-08 18:41] #38692 closed

[2020-09-08 18:41] #38238 closed

[2020-09-08 18:50] ahnpnl commented on #38732
Just want to chim in because `ts-jest` is mentioned here. I went quickly through documentation of `@swc/core` (which is used by `swc-jest`) but I couldn't find anything about AST transformers. Custom AST transformers are heavily used by Angular internal (as far as I can see), as well as in `ts-jest` (for example jest hoisting).

I think the 2 proposed approaches are potential, but doing hybrid wit

[2020-09-08 20:14] gkalpak commented on #38743
AFAICT, having a `tsconfig.base.json` used to be true for version 10.0 (which is what the update guide refers to, but was reverted (because it was causing other UX issues) in 10.1. This is why you are not getting a `tsconfig.base.json` file with `ng update @angular/core @angular/cli` (which updates to the latest stable version by default - currently 10.1.0).

So, the real issue here is that the up

[2020-09-08 20:14] #38743 closed

[2020-09-08 20:43] akturatech commented on #38691
@AlexanderOpran No. This issue seems to haven fallen through the cracks.

@indraraj26 Do you know how I can raise this with the angular team as we've had no response yet. Should I re-raise the issue again?

[2020-09-08 21:06] #38670 closed

[2020-09-08 21:06] #38613 closed

[2020-09-08 21:25] #38679 closed

[2020-09-08 21:34] AndrewKushnir commented on #38694
FYI, the corresponding PR #38645 was merged and the fix will be included into 10.1.1 release. Thank you.

[2020-09-08 21:34] #38694 closed

[2020-09-08 21:39] AndrewKushnir commented on #38711
FYI, the changes were merged to master and will be release within 10.1.1 version. Thank you.

[2020-09-08 21:56] AlesDo commented on #36414
For the project I mentioned Angular 10 fixes the issue with slow build the build is back to simmilar times with version 9.0.7. We currently use 10.0.14 have just seen 10.1.0 has been released so I will try it also.

[2020-09-08 23:45] AndrewKushnir commented on #38655
Hi @turtledev1,

Thanks for creating a ticket and providing a repro.

As @JoostK mentioned above, in Ivy the mapping (e.g. `readonly` -> `readOnly`) is not applied when setting inputs to a component/directive instance and it's only applied when setting a property to a DOM element. We discussed this behavior and we believe that Ivy logic is more reasonable and we do not plan to change it.

Thank yo

[2020-09-08 23:45] #38655 closed

[2020-09-09 00:12] Splaktar commented on #38503
@nhaancs sorry for the delay in responding. Yes, you can fork one of the existing translation repos (best if you know Spanish, Mandarin, Japanese, or Korean) or fork the main `angular/angular` repo.  You'll need to translate some of the `.md` files if not everyone on your team speaks/reads English. But then most of the content is found in the `aio/` folder. Most of the translations are in `.md` fi

[2020-09-09 00:25] Splaktar commented on #38393
This has been somewhat true in the past, but so far we've been able to mostly keep the links stable so that people's books and training material don't break too badly. There has never been a policy that `as long as the link didn't result in a 404 error, it was fine/good enough` in the past.

If we're going to have a new policy where these are breaking in minor releases and not only on majors, then

[2020-09-09 00:26] ljharb commented on #38393
Unless you jettisoned the concept of canonical unversioned URLs entirely and make the versioned one the canonical source?

[2020-09-09 02:04] JiaLiPassion commented on #37432
Since the PR #37582 only resolved the `swallow error` issue, the `configurable` descriptor is still being updated to `true` when possible for now, since if we remove that logic, several projects are broken and will cause some time to fix them, so I will reopen this issue.

And there is a work around to disable this feature by setting
[code]

[2020-09-09 03:13] aikidave commented on #38393
It is, in the end, up to the person who linked to a given topic (or topic section) to make sure that those links remain current. I hold angular.io accountable to that standard as well. If I were to write a topic that linked to a wikipedia article, a README for a different open source project--even a link to our own content--it's up to me (or the people responsible for the documentation) to ensure

[2020-09-09 03:18] aikidave commented on #38661
Hi @ArinaSavchenko! I am sorry you're unhappy with the documentation changes. I hope that, as you get used to these changes, you'll find it easier to find the information you need. I'm writing up a document to explain these changes more fully. My explanation may not make you content with these changes, but at least I can explain why I made them!

Please continue to share your feedback!

[2020-09-09 06:33] wellwind opened #38751 "The fragment and queryParams of NavigationExtra doesn't work for navigateByUrl()"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/router

### Description

The `fragment` and `queryParams` of [NavigationExtra](https://angular.io/api/router/NavigationExtras) should be worked both in `navigate()` and `navigateByUrl()` of Router. But doesn't work in `navigateByUrl()` now. ex:

[code]

Just pass the whole url with fragment or query string works.

[code]

[2020-09-09 06:38] ljharb commented on #38393
@aikidave that's not accurate; the principles of the web itself is that it is up to every content provide to ensure that *every URL, without exception* works for eternity: https://www.w3.org/Provider/Style/URI

You can abandon that ethical/moral obligation as you like, but it is *never* on the linker, it is always and only on the provider.

[2020-09-09 06:55] Airblader commented on #38751
An alternative would be to throw an error in these cases. If it should be made to work there are some questions to answer, eg if the URL already contains a query parameter that is also specified in the second argument, does it override it or does it merge it into a repeated parameter (array behavior)?

[2020-09-09 07:07] Airblader commented on #38751
Also, this isn't mentioned here but related, how should this work for queryParamsHandling? I can't test right now whether this is ignored or works in some way.

[2020-09-09 07:57] wellwind commented on #38751
Or, if let `navigateByUrl` not support `fragment` because of the conflict between URL and NavigationExtra settings.
But NavigationExtra should be split into two interfaces for `navigate` and `navigateByUrl`

[2020-09-09 08:09] akturatech commented on #38691
@AlexanderOpran I wonder if it is worth you raising this as your own issue and linking back to this one or including my stackblizt replicating the issue? All the newer bugs seem to be getting assigned to people and have confirmed tags etc. This one seems to have been lost.

[2020-09-09 08:44] mohamedaboelmagd opened #38753 "ng build file replacements don't work after update to Angular 9"
# 🐞 bug report

### Affected Package

I'm not sure which package is responsible for this.
Is this a regression?
Yes, the previous version in which this bug was not present was the latest Angular v8 release.

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

I have a config.js file which

[2020-09-09 10:13] sonukapoor commented on #37975
It appears this behaves as expected. If you still feel there is an issue, please provide further details in a new issue.

[2020-09-09 10:13] #37975 closed

[2020-09-09 10:28] sgotre opened #38755 "Router: Cannot read property 'routes' of undefined (route._loadedConfig is undefined)"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/router at [recognize.ts#L172](https://github.com/angular/angular/blob/10.0.x/packages/router/src/recognize.ts#L172)

### Is this a regression?
Probably not.
same issue on version 6.0.8 https://github.com/angular/angular/issues/25660 (closed, missing repro code)
same issue on version 8.0.3  https://github.com/angular/angul

[2020-09-09 11:30] GlauberF opened #38757 "avoid verbosity when calling super()"
# 🚀 feature request

### Description
there is some more practical / dynamic way of passing the injectors from the constructor to the super ().
instead of one to 1, example:
`super(MatDialog)`

![Captura-de-Tela_selecionar-area_20200908180336](https://user-images.githubusercontent.com/11314585/92592802-833b8480-f276-11ea-8af5-7e7482a68ae3.png)

In the image you can see that the CompanyCustomerDataC

[2020-09-09 14:21] Airblader commented on #38757
That's how TS works. Angular doesn't modify TS, it uses it.

[2020-09-09 14:50] petebacondarwin commented on #38757
@Airblader is right. This is not something that Angular has any control over.
You can do some funky things with TypeScript types, so you might get some mileage with something like:

[code]

But really I think that this is just a necessary evil.

Closing as this is not an issue with Angular itself.

[2020-09-09 14:50] #38757 closed

[2020-09-09 15:01] Gnorro opened #38760 "routerlinkactive doesn't work in lazy loaded modules"
# 🐞 bug report

### Description
I have an app with lots of lazy loaded modules.
I have added another module that have 2 components. Inside one of these components I have a routerLinkActive
But it seems routerLinkActive is not recognized because I see the following inside html
`<span class="ng-tns-c338-10" tabindex="0" ng-reflect-router-link-active="active" ng-reflect-router-link="/info">Info</span

[2020-09-09 15:26] intellix commented on #18817
Not sure what the original intent of `componentRef.changeDetectorRef` is for if it doesn't do anything but I'm doing the following workaround:
[code]

Initially I tried these two which did nothing:
[code]

Was trying to get the componentRefs by index as well but failed there too. Ended up maintaining my own array of componentRefs

[2020-09-09 16:18] #37476 closed

[2020-09-09 16:20] #24133 closed

[2020-09-09 16:20] #23282 closed

[2020-09-09 16:20] #22149 closed

[2020-09-09 18:59] atscott commented on #38760
Hi @Gnorro, could you please create a stackblitz reproduction of this issue?

[2020-09-09 19:04] atscott commented on #38755
Hi @sgotre, based on the reproduction, I think this is a duplicate of #12842 and should be fixed by https://github.com/angular/angular/commit/926ffcd8acedfc0e6870a14f48a886fa8531c750

The commit isn't part of any release yet, but will be in the `11.0.0-next.1` release today or tomorrow.

Closing as duplicate of #12842

[2020-09-09 19:04] #38755 closed

[2020-09-09 19:06] yohny commented on #19742
We are also seriously affected by this issue. We have a `router-outlet` in which we switch between 2 different components, each of which contains `<div id="unique-div`>..</div>' in its template, that is used as target to initialize non-angular library (think google maps). To do that we use (in  `ngAfterViewInit()`) `var target = document.getElementById(''unique-div)` and then pass that `target` as

[2020-09-09 19:33] atscott commented on #38691
Likely caused by https://github.com/angular/angular/commit/d7dd2959c87d4539e08e3337f22caaf91705e0ba which should be reverted.

[2020-09-09 19:33] saifabusaleh opened #38771 "docs - add instructions for converting to strict mode in existing projects"
### Description

This doc: https://angular.io/guide/strict-mode shows how to create a project with strict mode, but doesn't show how to enable strict mode in existing project

I know that currently its not possible to run a schematics to add strict-mode to existing project (I have other [issue](https://github.com/angular/angular-cli/issues/18273)) in angular-cli repo, but this issue for documentin

[2020-09-09 19:59] atscott commented on #38691
Note that as a temporary workaround, you can use
`return this.router.createUrlTree(['auth']);`
instead of
[code]
because the PR was meant to respect the ordering with prioritization, but only works with returning `UrlTrees` and fails to do so if a guard calls `router.navigate` to "redirect" which cancels the current navigation immediately and proceeds with the new one.

[2020-09-09 20:35] sgotre commented on #38755
@atscott thanks for your quick response.

[2020-09-09 21:06] atscott commented on #38751
Duplicate of #18798

[2020-09-09 21:06] #38751 closed

[2020-09-09 21:10] akturatech commented on #38691
@atscott Thank you for the update and workaround :)

[2020-09-09 21:23] jaska45 commented on #38711
I tested with 10.1.1. It works if the legacy extractor is used. However if I use the ivy option the disp value is not right.

`ng xi18n --format=xlf2 --output-path src/locale --ivy`

[2020-09-09 21:58] AndrewKushnir opened #38776 "Verify breaking changes note presence before merging a PR"
# 🚀 feature request

For PRs that contain the "breaking changes" flag, it'd be great to have a check that would make sure that at least one commit has a message that contains the "BREAKING CHANGE" note (in a format compatible with the change log generation script). That should make sure that there are no breaking changes merged without adding the necessary note to the change log.

Given the fact t

[2020-09-09 22:24] yefim opened #38778 "Angular Element is not removed and readded to the DOM properly"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/elements

### Is this a regression?

No

### Description

When an Angular Element is detached from the DOM and then re-attached, none of the event bindings work (see minimal reproduction for demo). I am a Google engineer and this is causing issues for us (internal bug filed here: http://b/168062117).

I talked to @kseamo

[2020-09-09 23:14] atscott commented on #38691
@akturatech I have a fix for this out for review and it should make it into the `10.1.2` release next week. If you want the fix now, it actually happens to already be fixed in `11.0.0-next.1`.

[2020-09-09 23:19] benlesh opened #38782 "Moving off of Zones and building to target ES2018."
TMK, Zones is limiting Angular's ability to move to target anything higher ES2015 in builds, because of [incompatibility with async/await](https://github.com/angular/angular/issues/31730) (TLDR: Zones can't patch the promises returned by async/await). I think users *can* target a newer version of ECMAScript, but they'll be forced to manually run change detection in a few areas if they do. At least

[2020-09-09 23:30] fireflysemantics opened #38783 "Better Error Reporting When Forgetting to Declare Component"
In this case I forgot to declare the login component.  It uses `async`.  This is the error that is generated:

[code]

It would be nice if Angular detected that the component was not registered.

[2020-09-10 02:10] siva636 opened #38785 "Pre-rendering should work out of the box without Angular Universal"
### Description
 Pre-rendering was introduced in Angular 9, but this does not work without Angular Universal. Adding Universal involves significant work that includes modifying our codebase. But if I just want to run my application only on browsers, why should I think 'Universal'?!

Angular pre-rendering feature should work out of the box without Universal, for example when we run `ng build --prod

[2020-09-10 02:43] prashant-tholia commented on #38739
Hi, I'd like to work on this issue.

[2020-09-10 03:04] JiaLiPassion commented on #38782
Before zone.js become optional in the future, I think one way we can do is build everything in ES2018 and only transpile `native async/await` to Promise by babel or other transpiler.

[2020-09-10 03:07] JiaLiPassion commented on #38669
@JaxonWright , @sivaecekrr , this issue seems to be the same reason as #38561, so could you provide a reproduce repo so I can confirm? And is your project created by `Angular CLI`? thanks.

[2020-09-10 06:42] Gnorro commented on #38760
Hi atscott
I know that a stackblitz reproduction would be useful, but this project is hube an would take me hours to extract only what is needed. sorry

[2020-09-10 07:13] tomastalian commented on #27490
@muuvmuuv can u add method from ./utils ? to run your minify.js cript ? thanks

[2020-09-10 07:28] muuvmuuv commented on #27490
Here you go @tomastalian : https://gist.github.com/muuvmuuv/3f8fae0c12cc0859195c1be981c88a19

[2020-09-10 10:18] julisch94 commented on #14505
Any updates on this?

[2020-09-10 10:35] petebacondarwin commented on #38711
@jaska45 - are you talking about the repo you originally posted?

[2020-09-10 10:38] petebacondarwin commented on #38739
@prashant-tholia - great! Please make sure you have read https://github.com/angular/angular/blob/master/CONTRIBUTING.md.
The PR will need to include unit tests and documentation before it can be merged.

Let me know if you need help getting started.

[2020-09-10 10:47] petebacondarwin commented on #38711
Similarly I did:

[code]

And again got what I expected.

Can you clarify how to reproduce the problem?

[2020-09-10 11:32] baraskarharshal commented on #13586
I tried this workaround and I think it works. I was facing this issue in my angular app so I created a variable in one global service and stored last popped state object in it. I captured this last popped state object in "popstate" event listner as given below.

window.addEventListener('popstate', (popstateEvent) => {
      console.log(popstateEvent.state);
      this.lastPoppedState = popstateEve

[2020-09-10 12:20] geromegrignon commented on #38760
@Gnorro here is working stackblitz example with routerLinkActive, try to use it a base to reproduce the issue as it works fine in isolation : https://stackblitz.com/edit/angular-ivy-xao8c5?file=src%2Fapp%2Fapp.component.html

[2020-09-10 12:31] jaska45 commented on #38711
I did the same but got wrong result.
I updated to repo and pushed changes.

[2020-09-10 12:44] prashant-tholia commented on #38739
Thanks @petebacondarwin! I'll make sure to fulfill all mentioned guidelines and requirements.

[2020-09-10 12:53] petebacondarwin commented on #38711
I just pulled down your updated repo and re-ran the command. This is what I see in `messages.xlf`:

[code]

This seems correct to me. Can you check that the correct packages are installed by deleting `node_modules` and reinstalling?

[2020-09-10 13:36] jaska45 commented on #38711
You got it right. Did you use Mac? I just tried my repo on Mac and it works. Initially I used Windows 10 where it does not work. I will try on another Windows box.

[2020-09-10 13:48] jaska45 commented on #38711
I just tried on another Windows and it does not work. I have now tried on two Windows and got the same (wrong) result on both of them. On Mac it works.

[2020-09-10 13:49] jaska45 commented on #38711
This is the info of my second Windows box.

[code]

[2020-09-10 13:51] emillime commented on #38691
I have the same issue, thank you for the workaround!
But what do we return as UrlTree in the case where it returned true before?

[2020-09-10 14:10] mstawick opened #38791 "i18n Ivy extactor: missing type="fmt" inside <source>"
# 🐞 bug report

### Is this a regression?
Kind of. Makes translation system (Crowdin in my case) treat the extracted text as a new string

### Description
Given following HTML:
`<div i18n>You're using a web browser<br/>that we don't support.</div>`

Old extractor would produce:
`<source>You&apos;re using a web browser<ph id="0" equiv="LINE_BREAK" type="fmt" disp="&lt;br/&gt;"/>that we don&apos;t s

[2020-09-10 14:17] irzakamran commented on #38739
Hello, can I also be work on this issue with @prashant-tholia since this is a good first issue and I am an open source beginner.

[2020-09-10 15:01] #36986 closed

[2020-09-10 15:33] gkalpak commented on #38778
You are right, @yefim/@kseamon. It seems that by not setting `this.scheduledDestroyFn` to `null` when the component is destroyed, we hit [this branch][1] the next time the element is inserted into the DOM (and exit early, without instantiating the component).

I am not clear what you meant when you said "there will still exist a tiny race condition". Can you elaborate?

[1]: https://github.com/ang

[2020-09-10 15:38] gkalpak commented on #38778
You are right, @yefim / @kseamon. It seems that by not setting `this.scheduledDestroyFn` to `null` when the component is destroyed, we hit [this branch][1] the next time the element is inserted into the DOM (and exit early, without instantiating the component).

I am not clear what you meant when you said "there will still exist a tiny race condition". Can you elaborate?

[1]: https://github.com/a

[2020-09-10 15:50] #37579 closed

[2020-09-10 16:06] atscott commented on #38691
Fixed in https://github.com/angular/angular/commit/9c51ba321e16c6c1055c928d9cded29b3b4d71c7

[2020-09-10 16:06] #38691 closed

[2020-09-10 16:10] s4m0r4m4 commented on #38670
I'm hitting the error again, but I don't quite understand the cause. The value of decl right before the error is:
[code]

and I just get the same error "`ERROR in Cannot read property '0' of undefined`". It sounds like there is something wrong with my code, specifically with an import statement. Is there any good way for me to further debug this?

[2020-09-10 16:11] #38619 closed

[2020-09-10 16:18] gkalpak commented on #38778
Tomake sure we are on the same page, here is what the intention is with the current implementation:
- When the custom element is removed from the DOM, the underlying component is scheduled for distruction after a short timeout (currently 10ms).
- If the custom element is inserted back into the DOM _before_ the timeout expires, then the component destruction is canceled and we keep the same compone

[2020-09-10 16:30] JoostK commented on #38670
@s4m0r4m4 Can you update to 10.1.1, which was released yesterday?

[2020-09-10 16:45] atscott commented on #38760
Hi @Gnorro, we really do need a reproduction in order to investigate issues. Could you try using the example from @geromegrignon as a starting point for your reproduction? I'll leave this open for now to give you a chance to get a reproduction up.

[2020-09-10 16:49] nutza249949 commented on #20756
o

[2020-09-10 17:01] sivaecekrr commented on #38669
@JiaLiPassion Yes project i am working on use Angular CLI (v9.1.11). Issue i faced in company project. Will try to create a repo. Thanks.

[2020-09-10 17:24] AmeerAmjed opened #38794 "use component in two components angular"
I have Three components (NavbarComponent , IndexComponent , PoweredComponent ) so I use lazy loading I need use components in multi components

- NavbarComponent
**navbar.module.ts**
`@NgModule({
  declarations: [NavbarComponent],
  imports: [
    CommonModule
  ],
  exports: [NavbarComponent]
})`

- IndexComponent
**Index.module.ts**
`@NgModule({
  declarations: [IndexComponent ,NavbarComponent],

[2020-09-10 17:36] JoostK commented on #38794
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-09-10 17:36] #38794 closed

[2020-09-10 17:39] petebacondarwin commented on #38791
@mstawick thanks for sending this in. I will look into it. It is a bit difficult to accurately identify these "type" attributes for placeholders since the `$localize` tagged strings do not contain HTML related information.

Can I ask, does the id of the message change? If not, which is what I would expect, why does your tool (Crowdin) treat it as a different message?

[2020-09-10 17:48] mstawick commented on #38791
@petebacondarwin It's because Crowdin doesn't understand anything between the <source> tags - it's just a string. So even though the ID is the same, it thinks that the string has changed, marking it as needing translation. So I guess I can have someone just go through all the languages and approve all the "changed" translations. Thanks for looking into this.

[2020-09-10 17:50] petebacondarwin commented on #38695
Indeed this is due to TS typings: see this [playground](https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAgKIFsAOBlArgIwBEIw5gAbAZ2QG8AoZZCLASQBNkAuZSsKUAOYBuBshBx0Kbr34hhdAL506CAPYheyNiTJVuGHAWKkK1ALy1RzTO24ByAIwAmAMx2ANKPGT7AKVUAFiAeiiIq6poA1hAAngBucOS4ENw0ANrRMdJ8ggC62bICCsgW2iZUQkA).

Closing as this is not a bug in the framework.

[2020-09-10 17:50] #38695 closed

[2020-09-10 17:52] wfairclough opened #38795 "Macro Tasks left running after failed http requests with Unknown Error, preventing protractor from completing tests"
# 🐞 bug report

### Affected Package
@angular/common/http

### Is this a regression?
Yes.
Worked in **@angular/common@9.1.12**

### Description
A macroTask is left running when certain http errors occur and this prevents protractor for completing since there are tasks left running in the ngZone.

## 🔬 Minimal Reproduction
https://github.com/wfairclough/AngularHttpMacroTaskMinimalReproduction

Run

[2020-09-10 17:55] #37989 closed

[2020-09-10 18:04] petebacondarwin commented on #38711
OK, so it is something to do with the CLI integration... on Windows I get the same problem if I use `ng xi18n`.
But try the following:

[code]

This generates the correct output.

[2020-09-10 18:04] petebacondarwin commented on #38711
Perhaps @clydin has some ideas?

[2020-09-10 18:07] JoostK commented on #38795
Confirmed and identified #37367 to be the cause (reverting that change fixes the issue).

[2020-09-10 18:20] ErgoProxy1 opened #38796 "templateUrl does not understand relative paths when using double quotes"
We recently encountered an issue where, after deployment, the html file for a component would not be found on the server. This was due to the server looking for the file in root (website.com/component.html) rather than its actual directory (website.com/main/project/something/component.html).

This was fixed when we changed @Components templateUrl from:

`templateUrl = "./component.html"`

to:

`te

[2020-09-10 20:33] kseamon commented on #38778
The race condition I was referring to is that it appears that the strategy factory assumes there is only ever one instance of the element, which would be fine if elements created a separate strategy instance per dom node. Looking at NgElementImpl, though, it appears to cache the strategy instance and reuse the same one each time.

So a bigger needed change is to either create a separate instance o

[2020-09-10 20:34] kseamon commented on #38778
For the content projection issue, could we just put the projected elements back into the element when we disconnect?

[2020-09-10 20:42] kseamon commented on #38778
There's another issue as well - when the first instance of the component is destroyed, Angular's animation engine then tries to remove the custom element node. So after the new one is created, we're seeing the animation engine circle back and remove the custom element which destroys the component again.

This was probably never observed before as you wont get this far unless you first null out the

[2020-09-10 20:43] kseamon commented on #38778
Proposed solution for this one: create a div within the custom element and attach our component to it. This might be a slightly breaking change but I think will fix this issue.

[2020-09-10 20:52] s4m0r4m4 commented on #38670
Hi @JoostK, I upgraded to 10.1.1 and did a rebuild. It spit out a lovely error message that described the issue (I was importing "path" in an angular application running in electron, and it was causing some issues). From there I was able to debug and fix the issue, thank you for your quick response!

[2020-09-10 20:57] geromegrignon commented on #38785
If the maintainers don't mind, i advice you to take a look at [Scully](https://scully.io/) which use Puppeteer under the hood to prerender your application without having to configure your project (still some routing prerequisites as it uses Guess.js to find out the routes of your application).

[2020-09-10 21:06] JoostK commented on #38670
@s4m0r4m4 Excellent, I was hoping that would be the case.

[2020-09-10 21:26] geromegrignon commented on #38783
If possible, it would need to move up the assertion on the element when parsing the template into the visitElement() function : https://github.com/angular/angular/blob/master/packages/compiler/src/template_parser/template_parser.ts

[2020-09-10 21:40] Martinlorajorge opened #38800 "ERROR in node_modules/@angular/platform-browser/platform-browser.d.ts:44:22 - error NG6002: Appears in the NgModule.imports of AppModule, but could not be resolved to an NgModule class."
This likely means that the library (@angular/platform-browser) which declares BrowserModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.

44 export declare class BrowserModule {
[co

[2020-09-10 21:50] fireflysemantics commented on #36631
I was doing this scenario just now and remembered a detail that I wanted to be clear about.  Suppose we have an asset service like this:

[code]

If we just copy that to another project that has Angular Material installed, we still get errors if the `HttpClientModule` is not declared.   So it would be nice if Angular CLI auto detects this and generates the corresponding dependency injection struct

[2020-09-10 22:35] #27003 closed

[2020-09-10 22:50] akturatech commented on #38691
That is awesome @atscott . Thank you so much.
Love Angular and love the team as well. Such a great framework.

[2020-09-11 00:14] tp1906 opened #38804 "After upgrade, I receive this warning message: router.js:2122 A router outlet has not been instantiated during routes activation. URL Segment:"
# 🐞 bug report

### Affected Package
Can you pin-point one or more @angular/* packages as the source of the bug?
router.js

### Is this a regression?

Did this behavior use to work in the previous version?
Yes, the previous version in which this bug was not present was: 9.1

### Description

 A clear and concise description of the problem...
 I receive this warning message:  router.js:2122 A route

[2020-09-11 02:47] JiaLiPassion commented on #38561
@kmaraz, I just made another PR to fix this issue, zone.js 0.11 should have full backward compatibility, please wait for the next release 0.11.2, so you don't need to update your code.

[2020-09-11 04:36] AndrewKushnir commented on #38804
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

Could you please provide a minimal repro using [Stackbli

[2020-09-11 04:36] AndrewKushnir commented on #38800
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still persists, please file a new issue a

[2020-09-11 04:36] #38800 closed

[2020-09-11 06:12] Airblader commented on #38796
A compiled Angular application doesn't even have HTML files anymore (apart from index). Templates get compiled into JS.

Either one is invalid TS and would cause a compilation error.

Images? What images? I thought this was about the HTML files?

Nor a reproducible example, therefore no one will be able to help you.

Why did the two lines of code then say *.html?

Fill out the issue template and p

[2020-09-11 07:12] yefim commented on #38778
After setting `scheduledDestroyFn` to when the component is destroyed and implementing the div fix in the comment above, I also noticed that Angular will not initialize the inputs with the values from the DOM. Neither `preExistingValues` nor `initialInputValues` were set. This led me to finding a related issue https://github.com/angular/angular/issues/30848 about HTML attributes. I modified the co

[2020-09-11 09:24] mereshow commented on #38804
I don't know if I should intrude in another person bug report, but I created a demo for another bug report (flex-layout related) and it displays the problem @AndrewKushnir is reporting.

I created a demo in stackblitz: [demo](https://angular-ivy-8g5kxd.stackblitz.io/pages/dashboard)
And a [Github repo](https://github.com/mereshow/flex-layout-demo)

I tried to clone the repo several times from zero

[2020-09-11 10:08] petebacondarwin commented on #38796
I'm sorry but we can't reproduce the problem you are reporting. We require that reported issues have a minimal reproduction that showcases the problem.

Moreover, it sounds like you have a very custom setup that (possibly?) involves JIT compilation (not recommended) and some kind of additional loader that converts your PUG files to HTML.

If the problem still exists in your application, please [op

[2020-09-11 10:08] #38796 closed

[2020-09-11 10:10] Babeetlebum opened #38807 "feat(compiler): Support destructured variable assignment in structural directives"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/common

### Description
Using the keyvalue pipe on a Map loses all naming and makes the template difficult to read

**Example**
[code]
[code]

### Describe the solution you'd like
It would be great to be able to alias the result of a keyvalue pipe

**Example**
[code]

**Other syntax**
[code]

**Other syntax**
[code]

##

[2020-09-11 10:26] petebacondarwin commented on #38807
This is quite an interesting idea. It is worth noting that one the Ivy language service is rolled out we might have better intellisense of the "type" of the key and value properties, which might be enough to solve this problem for you?

In any case if we did implement it then we have to take into account that `KeyValuePipe` already takes a `compareFn` parameter, and that additional parameters woul

[2020-09-11 10:40] nutza249949 commented on #38691
o

[2020-09-11 10:41] gallow commented on #38804
Same issue using @angular/router@10.1.1
The issue was not present in 10.0.14

[2020-09-11 10:48] striky1 commented on #34522
@amakhrov

I tried your solution and it works fine for compiler but IDE (PHPStorm/WebStorm) does not recognize which types I'm trying to have.

[code]

[code]

Anyway, same result is with:

[code]

[code]

Originally I was wonder how to resolve it 'cause I have multiple types in Array and seems that your or `object is type` function are as possible temporary solution. Disadvantage is that we can't

[2020-09-11 10:52] nutza249949 commented on #38804
i

[2020-09-11 10:52] nutza249949 commented on #38804
j

[2020-09-11 10:52] nutza249949 commented on #38804
y

[2020-09-11 11:17] Airblader commented on #38807
While the idea sounds nice I can't see how this could be typed such that the resulting aliases remain type safe, but if someone does know how that would work I'm happy to hear about it.

That example wouldn't work because you cannot have multiple structural directives on one element. Unless ngLet is baked into the compiler as special syntax.

[2020-09-11 11:31] ErgoProxy1 commented on #38796
@Airblader Sorry about the images part, I meant .html files. Regarding the .pug files, they are converted to .html files when the gulp script is executed.

@petebacondarwin Will do

[2020-09-11 11:46] ErgoProxy1 commented on #38796
@Airblader I'm confused about it being invalid TS, it's the same as I found in many Angular examples online. What part of this would be incorrect:

`@Component({
    selector: 'app-example-component',
    templateUrl: './example-component.html',
})
export class ExampleComponent implements OnInit`

[2020-09-11 11:46] ErgoProxy1 opened #38809 "@Airblader I'm confused about it being invalid TS, it's the same as I found in many Angular examples online. What part of this would be incorrect:"
@Airblader I'm confused about it being invalid TS, it's the same as I found in many Angular examples online. What part of this would be incorrect:

`@Component({

    selector: 'app-example-component',

    templateUrl: './example-component.html',

})

export class ExampleComponent implements OnInit`

_Originally posted by @ErgoProxy1 in https://github.com/angular/angular/issues/38796#issuecomment

[2020-09-11 11:46] #38809 closed

[2020-09-11 11:50] ErgoProxy1 commented on #38809
Sorry, it's my first time using github issues and I made mistake. Please delete this post.

[2020-09-11 12:00] Airblader commented on #38796
[code]

is correct, but not what you wrote. You wrote

[code]

[2020-09-11 12:26] digaus commented on #24187
Also interested in a solution...

[2020-09-11 13:02] ErgoProxy1 commented on #38796
Ah yes, my mistake!

[2020-09-11 13:54] Gnorro commented on #38760
It's exactly like that, I don't know why it's not working.

Thanks anyway

[2020-09-11 15:44] #38584 closed

[2020-09-11 16:12] atscott commented on #20611
Closing as the original report is working as expected.

* The `@Input` is not being used as an input. Removing `@Input` would have no affect on the program.
* `OnPush` means that by default the component will not be checked during change detection. It is marked for check when the inputs change from the template bindings or you call `ChangeDetectorRef#markForCheck`. This would be the solution here:

[2020-09-11 16:12] #20611 closed

[2020-09-11 16:23] atscott commented on #14908
Closing as working as expected. The act of checking/executing `foo` causes external values read by `bar` to change. Because the input for `bar` was already checked, the value has "changed after it was checked". This behavior _is_ consistent: the error will always throw when this occurs.

[2020-09-11 16:23] #14908 closed

[2020-09-11 16:44] atscott commented on #18129
Based on the discussion, I believe this is fixed in https://github.com/angular/angular/pull/36633. Also note that `WrappedValue` is now deprecated (see https://github.com/angular/angular/pull/36819) as it was essentially only present to support the async pipe. We could likely remove support for `WrappedValue` completely in change detection in the future.

[2020-09-11 16:44] #18129 closed

[2020-09-11 16:54] atscott commented on #21582
Per @trotyl's comment, this is now an error in Ivy: https://stackblitz.com/edit/angular-ivy-qrkd7d?file=src%2Fapp%2Fapp.component.ts
It's invalid to trigger change detection via `detectChanges` during the creation of a component.

[2020-09-11 16:54] #21582 closed

[2020-09-11 17:03] atscott commented on #35443
Closing as duplicate of #32083

[2020-09-11 17:03] #35443 closed

[2020-09-11 17:06] atscott commented on #32083
Confirmed, though this is more or less "working as expected" since host bindings execute after the template refreshes
https://github.com/angular/angular/issues/35443#issuecomment-631027816. So the template will execute and see `class._focused` as one value, then HostBindings execute which change the value. In the `checkNoChanges` pass, the class value during template execution is now different tha

[2020-09-11 17:18] bhanna1693 opened #38812 "ERROR in Cannot read property 'kind' of undefined - Angular 10.1.1"
# 🐞 bug report

### Affected Packages @angular/core and typescript

### Is this a regression? YES

### Description
After bumping my Angular version from 10.0.5 to 10.1.1, I am receiving the following error when trying to compile my project using ng serve or ng build: `Error in Cannot read propery 'kind' of undefined`

Other threads suggest to downgrade typescript. Others say it has to do with mult

[2020-09-11 17:24] isakulaksiz opened #38813 "Can't bind to 'ngforOf'"
**Error :** Can't bind to 'ngforOf' since it isn't a known property of 'li'.

component.html
`
<div>
  <ul>
    List below!

    <li *ngfor = "let avatar of  avatars" >
      {{ avatar.total }}

    </li>

  </ul>
</div>
`
Can you give me a information.Where I did mistake ?

[2020-09-11 17:28] JoostK commented on #38813
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-09-11 17:28] #38813 closed

[2020-09-11 17:44] Waterstraal commented on #38743
Thanks, I didn't know the update guide is in a seperate repo.

I created a ticket in the update guide repo: [here](https://github.com/StephenFluin/angular-update-guide/issues/87)

[2020-09-11 18:16] fireflysemantics commented on #36060
I started having a similar issue.  Asked about it here on SO:

https://stackoverflow.com/questions/63850751/angular-10-module-not-compiling

[2020-09-11 18:22] fireflysemantics opened #38814 "Angular 10 Material Module no longer renders button."
# 🐞 bug report

### Affected Package
Angular Material

Tbis is related to this:

https://github.com/angular/angular/issues/36060

### Is this a regression?

Yes - It's been working fine up until  now.

Also if you look here:
https://csv.fireflysemantics.com/support

See that the material button does not render.  The whole thing compiles fine, and there are no errors, but the button simply does not

[2020-09-11 18:26] palendrance commented on #27148
+1 for this feature request, I was honestly surprised that you can't utilize anything like navigationExtras in a guard when you can do it everywhere else.

I was hoping to build some process validation into my navigation guards to prevent users from getting clever and trying to bypass the usual workflow by changing the URL. I can still do that the way thing are now, but I can't funnel any custom d

[2020-09-11 19:21] Airblader commented on #38807
Actually the primary proposed syntax just isn't possible with the current pipe mechanism as a pipe cannot create local variables. The best a pipe could do is

[code]

but I don't think this can be typed properly, see my comment above.

The second proposed syntax (alternative 1) would be closer to destructuring syntax (maybe changing it to that would be even better?) and not specific to KeyValuePip

[2020-09-11 19:28] SchnWalter commented on #18798
I've completely forgot that I've ran into this issue some time ago and I've ended up wasting a good amount of time debugging the router, for a 2nd time.

For those that really want to use `queryParams` with `navigateByUrl()`, here's an example service:

[code]

[2020-09-11 23:29] davehasagithub opened #38820 "Lazy-loaded module in new project gives "ɵɵdefineComponent is not a function" / Fixed by changing .browserslistrc"
# 🐞 bug report

### Affected Package

 Unknown

### Is this a regression?

 Possibly. A new project created in version 9.1 does not have this issue.

### Description

I created a new project today using the following:

    ng new testapp --packageManager=yarn --skipGit=true --routing=true --style=scss
    ng generate module test --module=app --routing --route=test
    (then I emptied app.component

[2020-09-11 23:29] davehasagithub opened #38865 "Lazy-loaded module in new project gives "ɵɵdefineComponent is not a function" / Fixed by changing .browserslistrc"
# 🐞 bug report

### Affected Package

 Unknown

### Is this a regression?

 Possibly. A new project created in version 9.1 does not have this issue.

### Description

I created a new project today using the following:

    ng new testapp --packageManager=yarn --skipGit=true --routing=true --style=scss
    ng generate module test --module=app --routing --route=test
    (then I emptied app.component

[2020-09-12 03:48] #38814 closed

[2020-09-12 08:33] ahugoss commented on #38804
Hi, I was having this warning after migrating from Angular 7 to 10.1. My initial page (component) to be loaded is the login page and I was having this warning and solve it by putting the <router-outlet></router-outlet> tag.

I don't quit remember if I had this warning on Angular 7, but I know that I have the router-outlet tag in more that one page, at least on the first page that gets loaded (app.

[2020-09-12 09:35] AleksanderBodurri commented on #38451
This is not a bug, nor does it have anything to do with Angular or Ivy. Angular uses the `.style` DOM property to set css styles.
https://github.com/angular/angular/blob/6768fe9927ad4b9b81c5f8094c42c771d1047f56/packages/platform-browser/src/dom/dom_renderer.ts#L231

Browsers serialize the input value according to the CSS Object Model spec:

https://drafts.csswg.org/cssom/#css-declaration-blocks

h

[2020-09-12 10:47] milanstamenkovic opened #38823 "Sticky column force table to rerender itselft"
# 🐞 bug report

### Affected Package
 The issue is caused by package "@angular/cdk": "^7.1.0"

### Is this a regression?

I think not.

### Description
Dynamic adding or removing columns from mat-table with sticky column defined force table to re-render itself.
## 🔬 Minimal Reproduction

[Reproduction](https://stackblitz.com/edit/angular-vcsqjf?file=src/app/table-dynamic-columns-example.html)

##