[2019-11-10 23:10] mmalerba commented on #33704
@Airblader yeah I was thinking create a schematic to rename it, since we'd want to keep the `async` symbol for the non-deprecated version. Adding a fallback parameter to `async` pipe also seems like a good alternative, but I still think the best solution is not setting the input at all until the observable actually emits something

[2019-11-11 07:08] sharikovvladislav commented on #33687
Do you have any plans like when this PR will be merged and when next RC will be released?

Do we have workarounds at the moment?

[2019-11-11 07:15] sangnguyent1905 commented on #14988
this is my solution
private _handleValueChange(value: Date) {
    if (this.selectedValue || value) {
      this.writeValue(value);
      this.onChange(value);
    }
}

[2019-11-11 08:25] nmatushevskiy commented on #33695
FormsModule imported into AppModule, which imported in my test.

[2019-11-11 08:51] jpzwarte commented on #31337
Same problem.

[code]

[2019-11-11 09:27] spock123 commented on #33701
I've also tried downgrading rxjs to latest stabile version but as expected that didn't change anything.

[2019-11-11 09:53] devversion opened #33724 "ngtsc tries to compile non-exported components while ngc did not"
### Affected package

`@angular/compiler-cli` ngtsc.

### Problem description

Currently compiling a TS project which contains both test files and application code, NGC properly ignores non-exported components from test files.

When updating to v9, where ngtsc runs by default, the compilation will fail since `ngtsc` tries to compile the `@Component` annotations even for test components. Apparently

[2019-11-11 10:32] lonelywm opened #33725 "[BUG] error results when build with --prod"
The code is ok when i run "ng serve", but when I publish it  with "ng build --prod", something is wrong
It took me a long time to find where the err come from, and eventually I found it.

origin code:
PS. A function to find whether the item is in nodes and return the index.
[code]

After the compiler's optimazation and zip the corresponding code is:
if always return 0 or -1 because the variable 'e

[2019-11-11 11:47] gkalpak commented on #33615
Thx, @manklu. bazelbuild/rules_nodejs#894 is about fixing `rules_nodejs`, so let's keep this issue (#33615) to track getting this fixed in the angular project (i.e. updating `rules_nodejs` once it is fixed there).

[2019-11-11 11:49] adam-marshall commented on #16352
Expected 'min' to work for input type="number".

At the very least there should be a documentation update in the meantime, as @dscalzi mentioned, it is deceptive. If there is time to close duplicate issues on github (6 so far) surely there is time to update docs?

[2019-11-11 12:10] JiaLiPassion commented on #32932
Thanks @arturovt for confirmation.
And @pamtbaau , I will close this one, and please create issue if you find any other problems.

[2019-11-11 12:10] #32932 closed

[2019-11-11 12:14] JiaLiPassion commented on #33687
@sharikovvladislav, I believe this PR will be merged very soon if the solution is ok after review.
And unfortunately, there is no easy workarounds now (there are some, but none of them are easy to do...) so please wait for the next RC release. Or you may not using `triggerEventHandler` and use some other alternatives.

[2019-11-11 12:24] dmattsson commented on #26436
I'm also facing this
[code]

[2019-11-11 12:57] Aw3same commented on #33655
We have advanced in the development of this error. Since in the first instance the library added as a resource (`src/app/core/layout/components/primeng`) gave problems, we have decided to remove it.

The result is that we no longer have any compilation errors. With the default options included in the previous comment, the result of executing ng s is:

<pre><code>
  "angularCompilerOptions": {

[2019-11-11 13:51] Johanneke opened #33728 "HttpUrlEncodingCodec reverses part of the encoding"
# 🐞 bug report

### Affected Package
@angular/common/http

### Is this a regression?
Seems this issue has existed for a couple of years, but issues get closed due to inactivity.
See also
- https://github.com/angular/angular/issues/18261
- https://github.com/angular/angular/issues/30379
- https://github.com/angular/angular/issues/26979
- https://github.com/angular/angular/issues/27009

### Descript

[2019-11-11 14:13] aaronmanela commented on #33697
Actually it looks like the package in question (dnd-multi-backend@3.2.1) is CommonJS with multiple exports and is falling into ngcc's UMD parse code.

[2019-11-11 14:14] aaronmanela commented on #33697
But either way it isn't an angular project so I don't understand why it is getting parsed by the compatibility compiler.

[2019-11-11 14:27] Mokkapps opened #33731 "Missing official change detection documentation"
# 📚 Docs or angular.io bug report

### Description

An official change detection documentation is missing

There exist a lot of unofficial blog posts but it would be nice to have an official guide on angular.io.

Are there any special reasons why there is no offical documentation available?

I am currently working on a change detection blog post so I could create a first draft.

[2019-11-11 14:52] Ratikant01 commented on #17468
I personally do not like the way Angular team came up with the i18n support! I hate it when someone says me to build that many separate projects and make them running just to support i18n?!

[2019-11-11 15:14] birdcw commented on #32523
I might have found a culprit. I had set a height property to keep my footer out of view during page loads. But this conflicted with a default style in the angular material theming css

`html, body { height: 100%; }`

Simply changing to the following solved my problem:

`html, body { min-height: 100%; }`

Specifically, I can use my animations and forward navigation begins at the top of the page wit

[2019-11-11 15:14] #32523 closed

[2019-11-11 16:02] VladimirAmiorkov opened #33734 "[Ivy -@9.0.0-rc.1 & -@9.0.0-rc.2] `ngcc` fails to compilate NativeScript-Angular package with error: "Error: Error on worker #3: RangeError: Maximum call stack size exceeded""
# 🐞 bug report

### Affected Package
`@nativescript/angular` . This is the main package that contains the implementation that allows Angular to run in NativeScript.

### Is this a regression?

No, because Ivy is a feature that we want to allow the users of NativeScript to benefit from.

### Description

Currently we want to build the `@nativescript/angular` package with `ngc` (in order to support

[2019-11-11 16:04] IgorMinar commented on #33715
Can you please clarify this request? The `ComponentFactoryResolver` already allows you to create component by type (constructor of the component) via the `resolveComponentFactory` method.

Are you saying that you want to create it using the string name of the class or something else?

[2019-11-11 16:09] sibest19 commented on #31227
Hi, did you try to use named imports instead of default import?

[code]

[code]

[2019-11-11 16:10] IgorMinar commented on #33734
We've been working with the nativescript team to ensure compatibility with v9 and Ivy.

I believe that they are releasing a new version of NativeScript that has all the necessary fixes. @alxhub can you confirm please?

[2019-11-11 16:14] IgorMinar commented on #33718
it is odd that the `material-experimental/mdc-menu` fails, isn't it?

[code]

[2019-11-11 16:20] LanderBeeuwsaert commented on #33718
Note that ng2-dragula is tested and validated with ngcc in this repo:
=> the thing is that I already during beta tested out IVY few times. This was without ng update. And then the compilation of both mdc-menu and dragula went ok. So it's not purely ngcc I suppose. It's maybe some interaction with ng update?

Last try yesterday, I closed my IDE (webstorm) and ran it from command prompt with admin p

[2019-11-11 16:32] VladimirAmiorkov commented on #33734
Hi @IgorMinar ,

I am part of the NativeScript team and I am working on the integration with Ivy. There have been many issues fixed and with the help of @alxhub we managed to run an Ivy enabled NativeScript app two months ago. But unfortunately  the same code base that worked two months ago does not complete with the current next version of Angular. Am I facing then issue above when running ngcc o

[2019-11-11 16:39] gkalpak commented on #33718
There is known issue with `ng2-dragula`, but it should not be hit with the default/recommended way of running `ngcc`. Maybe `ng update` somehow changes that.

Can you try adding an `ngcc.config.js` file at the root of your project wiith the following content (and then try to update again):

[code]

[2019-11-11 16:40] IgorMinar commented on #33710
I can't reproduce this with 9.0.0-rc.1 on mac.

But let's assume that the first part of this issue should be resolved by the next rc version of the CLI via angular/angular-cli#16112.

The second part seems to be related to invoking `ngcc` during npm `postinstall`.

can you try running `npm install` in the project folder and report any errors?

[2019-11-11 16:41] nmatushevskiy opened #33735 "TestBed overrideModule doesn't work in ivy"
# 🐞 bug report

### Affected Package
The issue is caused by package angular/core

### Is this a regression?

Yes, the previous version in which this bug was not present was: 9.0.0-rc.1 without ivy.

### Description
I want to mock a child component in the parent component unit test by overriding.

child component:
[code]

parent component:
[code]

parent component unit test:
[code]

Without ivy the

[2019-11-11 16:43] BruneXX commented on #31227
Yes, in fact (don't remember just right now, I'll double check) but I think I'm doing exactly that, I've tried both ways without success.

[2019-11-11 17:25] jdavidls commented on #33722
@alan-agius4 Yeah it is working fine.
Tahnks!

[2019-11-11 17:28] petebacondarwin commented on #33718
@gkalpak a candiate for default ngcc config?

[2019-11-11 17:31] tapioca-design opened #33738 "<a (click)> in a string"
Hi !
I have html content as string
`Var content = "some text <b>in bold</b>"`
I output it well in
`<div [innerHTML]="content"></div>`
Avoiding html sanitizing I got it well bold as expected.

But I need to have more than bold: links
`Var content = "some <a (click)="aMethod()">link</a> here"`

Of course it doesn't work cause (click) is not compiled. I have a lot of content so I need to store this h

[2019-11-11 17:37] ajitsinghkaler commented on #33738
I think it is better suited in stack overflow as they have already told in the guidelines.

If you put it on stack overflow I can suggest some answers.

[2019-11-11 17:39] ajitsinghkaler commented on #33731
Can I help on this.

[2019-11-11 17:42] kara commented on #33738
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-11 17:42] #33738 closed

[2019-11-11 17:43] ajitsinghkaler commented on #33526
@bhargava-raju can I help you on this

[2019-11-11 17:44] alan-agius4 commented on #33722
@IgorMinar i am going to remove the ivy and ngcc labels as this is a bug in the VE metadata bundler.

[2019-11-11 18:03] petebacondarwin commented on #33701
I added a PR to include ngrx in ngcc-validation: https://github.com/angular/ngcc-validation/pull/559
It doesn't appear to fail but I am probably missing some detail

[2019-11-11 18:08] abadakhshan commented on #33715
Yes, @IgorMinar.
I have some metadata (in JSON format) and based on this metadata I should create appropriate Component dynamically.
Actually  I don't have the ComponetType I only have the Component name.
In Previous Angular versions (8 and before) I used this code:

[code]

_**COMPONENT_NAME** is a static field on class for build situation that real class name changed due to optimization_

[2019-11-11 18:13] ajitsinghkaler commented on #33582
Can I take this one

[2019-11-11 18:18] ajitsinghkaler commented on #33582
can I add left nav to some of the docs

[2019-11-11 18:48] Splaktar commented on #33718
That appears to have been due to mismatched versions.

From https://github.com/angular/angular/issues/33718#issuecomment-552222182

[2019-11-11 18:50] gkalpak commented on #33697
I couldn't reproduce the problem based on your instructions, @aaronhoffman 😕
Here is what I tried (all commands completed successfully):

[code]

Did I miss anything?

[2019-11-11 18:51] mhevery commented on #33687
https://github.com/angular/angular/pull/33711

[2019-11-11 19:06] gkalpak commented on #33582
Thx for offering to help, @ajitsinghkaler!

This is actually an issue/limitation of our infrastructure (not related to docs content). So, not a good issue for someone that is not familiar with our docs infrastructure/tooling.

I saw you volunteered to help out with a few other issues too, so I am sure one of those will be more suitable for you to contribute. Thx againf for stepping up!

##
(BTW, a

[2019-11-11 19:38] rkajbaf commented on #32103
In the default polyfill.ts auto-generated by the CLI (when you create a new project using the CLI) has this in the comments right above the `import 'zone.js/dist/zone'`  line you fill find this:

[code]

That's where it comes from.  So you would just put 'resize' to the list for `__zone_symbol__UNPATCHED_EVENTS `

[2019-11-11 19:53] IgorMinar commented on #33704
we discussed this today, and we agreed that to fix this properly, we should look at typing of inputs in general and properly allow inputs to be optional, required, etc.

for v9 the best we can likely do is that for users that want to use `strictTemplates` and `strictNullChecks` together, they can opt out of strict null typecheck specifically for input bindings via `strictNullInputTypes `: https://

[2019-11-11 19:58] kapunahelewong commented on #33665
Thanks for the specifics, @jsadowski. They helped me pinpoint where to edit. Would you like to take a look at the PR to make sure I've addressed the issue appropriately? https://pr33740-d984c67.ngbuilds.io/guide/router#milestone-3-wrap-up

[2019-11-11 19:59] IgorMinar commented on #32514
this should be fixed by https://github.com/angular/angular/pull/33712

[2019-11-11 20:00] IgorMinar commented on #32514
I'm going to close this as dupe of #33651

[2019-11-11 20:00] #32514 closed

[2019-11-11 20:22] kapunahelewong commented on #33591
Oh, @edusperoni, thanks for clarifying. I wish I knew the answer - I'm still learning. :)

[2019-11-11 20:59] petebacondarwin commented on #33697
The primary indicator for ngcc to decide if a package should be processed is if it has a `metadata.json` file next to its typings file. Does `dnd-multi-backend` have such a thing?

[2019-11-11 21:02] gkalpak commented on #25611
Sorry for taking so long to get back.
Yes, it should be backported to 8.2.x. I created #33744. (It should hopefully be released this week.)

[2019-11-11 21:08] Ks89 commented on #16477
Hello, I tried to use in my component (angular 9.0.0-rc.1)

[code]

found as doc in the sourcecode of @angular/localize/init.

When I try to build as usual for my language I get this error
`No translation found for "4145296873012977836" ("some string to localize").`

How can I provide a translation for that string?
What I expect is that ng xi18n will generate the .xlf file with also this text from

[2019-11-11 21:13] petebacondarwin commented on #16477
Hi @Ks89 - extracting messages from application code (rather than templates) is not supported for v9.
But you can workaround that if you are sneaky. The `4145296873012977836` is the id of the message so if you provide a translation in your translation file with this ID it will be used when translating.

[2019-11-11 21:25] StephenFluin opened #33745 "Tell users they can bypass the compiler error"
# 🚀 feature request

### Relevant Package
@angular/compiler

### Description
Users with the wrong TypeScript version get the error: ERROR in The Angular Compiler requires TypeScript >=3.6.4 and <3.7.0 but 3.7.2 was found instead.

When this error is hit, you should tell users they can bypass the error with:
    `  "disableTypeScriptVersionCheck": true`

### Describe the solution you'd like
Tell pe

[2019-11-11 21:44] Ks89 commented on #16477
@petebacondarwin when this feature will added to Angular?
I think that it's really important to make runtime translations in component really useful.

When I send my .xlf file to a translator I expect to add all strings quickly and then apply the result to the app very easily.

thanks for the answer

[2019-11-11 21:58] theodorejb commented on #19742
Based on [this comment](https://github.com/angular/angular/issues/27917#issuecomment-452489885) it seems that `BrowserAnimationsModule` intentionally delays element removal:

https://github.com/angular/angular/issues/19094 looks like the same issue, which was incorrectly closed as fixed (but I can still reproduce it: https://stackblitz.com/edit/angular-element-removal-bug?file=src/app/app.module.t

[2019-11-11 21:59] petebacondarwin commented on #16477
I would expect it in 9.1

[2019-11-11 22:00] #33687 closed

[2019-11-11 22:01] #33651 closed

[2019-11-11 22:07] gkalpak commented on #33745
Do we really want to do that (given that there are breaking changes in TS v3.7. that are not compatible with our code - e.g. the removal of `.typeArguments`)? 🤔

[2019-11-11 23:15] davidpadych commented on #25611
for those who use angular 7.x...

1. copy ngsw-worker.js from node_modules/@angular/service-worker/ngsw-worker.js to root of project
2. add fix from comment [https://github.com/angular/angular/issues/25611#issuecomment-464756987](gkalpak)
3. add "copy:worker": "cp ngsw-worker.js dist/" to package.json
4. edit build script... "build": "... && npm run copy:worker"

[2019-11-11 23:55] #33681 closed

[2019-11-12 00:06] IgorMinar commented on #33111
I can repro this quite easily:

[code]

[2019-11-12 00:11] IgorMinar commented on #33111
It should be noted that the change of the ordering of css classes doesn't change how css rules are applied to the DOM, it only changes how the order is reflected in the `class` attribute.

So for example given the previous 5 examples and stylesheet:

[code]

"c" class rules will be applied to all 5 `div`s.

[2019-11-12 00:19] mhevery commented on #32388
@alxhub I think this issue is for you.

The source code contains:

[code]

The key thing to notice is `templateUrl: './app.component.html'`. The resulting generated code is:

[code]

The key thing to notice is that `defineComponent({ ... })` is missing `directives`

When I change input from `templateUrl: './app.component.html'` to `template: '<router-outlet></router-outlet>'` the generated output

[2019-11-12 00:52] IgorMinar commented on #32853
I was able to reproduce this with 8.2.13.

Seems like a bug in the parsing or init code because if there is any value provided in between `//` (e..g `/foo/`), the route is properly matched.

[2019-11-12 01:44] TimeTravelersHackedMe opened #33750 "LiveReload Not Working for Symlinked Files"
### Is this a regression?

No

### Description

I have an Ionic 4 project using Angular. I have one angular.json file for several projects with one shared folder. The regular projects include symlinks to the shared folder. Everything works including the AoT build except for LiveReload. Whenever I save a file that's located inside the regular project, the LiveReload gets triggered. However, for any

[2019-11-12 01:59] IgorMinar commented on #32853
I created a workaround for this issue using a custom `UrlSerializer`: https://stackblitz.com/edit/angular-routing-child-routes-vpn7lf?file=app/app.module.ts

The issue seems to be due to a bug in the url parsing logic at:
https://github.com/angular/angular/blob/8b91ea553260abb22c10acab59945e25c053a219/packages/router/src/url_tree.ts#L477

This code assumes that `//` always means auxiliary routes,

[2019-11-12 03:01] KingDarBoja commented on #23024
Hello Mark!

Regarding the second item ("_guess.js predicting prerenderable routes_"), I do think the **ng-toolkit** creator did something similar as part of the `ng-toolkit/universal` schematic, which can be seen on his [repo](https://github.com/maciejtreder/ng-toolkit/tree/master/schematics/universal/src/files).

Of course, the current version is not updated as pointed out at this [ng-toolkit is

[2019-11-12 03:49] RohanAntony opened #33752 "Integration of url and inline types into a single type for templates and styles."
# 🚀 feature request

### Relevant Package
@angular/core

### Description
Integration of 'templateUrls' and 'template' as well as 'styles' and 'styleUrls' option into a single field while defining a 'Component'.

### Describe the solution you'd like
Define a class which contains type, value as the fields to a new Class.
Create an instance of this class which can have type set to 'URL' or 'INLINE' a

[2019-11-12 04:52] simeyla commented on #21028
It is possible to create an injectable *from* the resolved data. This approach may work for certain scenarios.

* Create your resolver that resolves as much as it possibly can.
* Create a factory provider function that takes `ActivatedRoute` as a dependency

        {
            provide: UserAccountManager,
            useFactory: userAccountFromResolvedDataFactory,
            deps: [ ActivatedR

[2019-11-12 05:08] ajitsinghkaler commented on #33526
@bhargava-raju @gkalpak I think for the first change we can just convert the headings into expansion panels.

[2019-11-12 05:25] Airblader commented on #33752
What is the benefit of changing this that you are expecting or looking for?

Without a benefit it's of course not a good idea to make such a breaking change.

[2019-11-12 05:28] Airblader commented on #33745
In the view engine world I would prefer not showing people the foot gun they can use.

However I did read on the PR for latest TS support that Ivy is supposedly much more stable with regards to changes in TS, so there this could perhaps make more sense.

[2019-11-12 07:05] sincy123 opened #33753 "nested ngFor with independend click fuction"
<ul class="dropdown-content">

                   <li *ngFor="let i of departments" class="dropdown-submenu (click)="getCategory(i.dept_url)"><a>{{i.department}}</a>
                         <ul class="dropdown-menu" style="padding: 0%;background-color: transparent;">
                                  <ng-container *ngFor="let m of cats">
                                                <ng-contain

[2019-11-12 07:07] sincy123 commented on #33753
if i click on the getProductlist(),getCategory() also invoked..how to fix this problem

[2019-11-12 07:12] gkalpak commented on #33745
That is generally true, but we do use the removed `typeArguments` property in several places, so I am afraid we might be setting people up for failure.

(I could be wrong.)

[2019-11-12 07:19] Airblader commented on #33745
I would put it like this: if the only reasonable action to add this information is to also add a big fat warning along the lines of "this can break everything", then I think it shouldn't be added at all.

[2019-11-12 07:27] fabriziodebortoli commented on #33710
`npm install` completed successfully with no errors.
But `ng build` error remains

[2019-11-12 07:28] picolino commented on #25965
Acceptable solution, but I would like to have a simplier solution, like this:
[code]

The point is to define answers ahead the requests would be sended.
I think that functionality must be out-of-the-box.

[2019-11-12 07:29] fabriziodebortoli commented on #33710
I tried:
[code]

with output:
<pre><code>
ERROR: error loading package '': Unable to load file '@io_bazel_rules_webtesting//web/versioned:browsers-0.3.2.bzl': file doesn't exist
ERROR: error loading package '': Unable to load file '@io_bazel_rules_webtesting//web/versioned:browsers-0.3.2.bzl': file doesn't exist
INFO: Elapsed time: 75.143s
INFO: 0 processes.
FAILED: Build did NOT complete successf

[2019-11-12 07:32] kdryzek commented on #19686
It may be achieved by simple extending of FormControl, then each of custom inputs may have its own custom model extending DefaultFormControlModel. However native support for such feature would be highly appreciated.

[code]

[2019-11-12 08:11] AndrewKushnir commented on #33735
Hi @nmatushevskiy,

Thanks for reporting the issue and creating a repository with a repro.

I performed initial investigation and tried to extract TestBed scenario based on your Components/Modules scenario to repro the problem. Here is the test that I've created:

[code]

The test runs successfully and the `TestComponent` component is being replaced with `MockTestComponent` one.

Could you please

[2019-11-12 08:21] JonWallsten commented on #33753
@sincy123: What is the actual problem here? That both of them is called?

[2019-11-12 08:25] sibest19 commented on #31227
Hi again, default exports are not allowed with AoT. Replacing them with named exports will make it work.

https://github.com/sibest19/demo-test-static-routing/commit/494fdf0221d804882512a408293f043555f79f56

[2019-11-12 08:34] andrea-corley opened #33754 "Angular app, cannot import npm custom module"
Hi, I created a library using tutorial found here https://angular.io/guide/creating-libraries, it works correctly, I can import that in a new Angular project, but when I try to import in an existing Project I've an error: Cannot find module "xxx"
Projects using the same modules versions and angular.json/tsconfig is the same. Thanks

[2019-11-12 08:40] sincy123 commented on #33753
stopPropagation() method is applicable for angular6?

getProductlist(a,b,$event)
  {
    localStorage.setItem("dept_url",b)
    this.router.navigate(['products/list/productlist',a])
    $event.stopPropagation();
  }

[2019-11-12 08:43] sincy123 commented on #33753
``

thank you sir...Now it works

[2019-11-12 08:47] pkozlowski-opensource commented on #33672
@sharikovvladislav we've re-discussed this issue internally and decided that the ivy behaviour is correct and we are going to keep in v9 and going forward.

In fact we need to realise that there are 2 issues being discussed here:
* consistent value returned for removed attributes and ones that never existed - we claim that the returned value should be the same in those 2 cases;
* `undefined` vs. `

[2019-11-12 08:47] #33672 closed

[2019-11-12 08:48] pkozlowski-opensource commented on #33753
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-12 08:48] #33753 closed

[2019-11-12 08:54] JonWallsten commented on #33753
It's applicable to JavaScript in general. You should read up about event.preventDefault and event.StopPropagation. It's really good to know.

[2019-11-12 10:05] versatilePrakash opened #33756 "http post is returning empty data in backend api"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Angular http post from the form data is being posted but is just posted empty .
I am getting the data completely but posting made the problem here

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2019-11-12 10:18] jsadowski commented on #33665
Hi @kapunahelewong . It looks good to me. I would add an empty line after 'import' statement to stick with formatting convention of other module files and all will be set. Thanks.

[2019-11-12 10:22] albyrock87 commented on #21706
Hi! A question: will `markDirty<T>(component: T)` and `detectChanges<T>(component: T)` be a public api? As of release 9-rc1 they are not. Thanks

[2019-11-12 10:23] santoshyadav198613 commented on #33756
Please raise it on Stackoverflow with some error code, you can raise any framework related hugs here.

[2019-11-12 12:00] sergey-morenets commented on #21706
Hi

The same question about renderComponent function. Will it be used in Angular 9? Angular 8 Ivy samples use it for bootstrapping. But I see in new Angular 9-rc-1 application that's absent:

[code]

[2019-11-12 12:21] LanderBeeuwsaert commented on #33718
small update:
removing ng-dragula fixed the issue for dragula.

I had some extra problems with material but that was due to old imports (straight from material and not from the component itself)

the mdc-menu issue was related maybe (not sure) to a wrong import in one of the components: import { MatSlideToggleChange } from '@angular/material-experimental/typings/esm5/mdc-slide-toggle';
but it's a

[2019-11-12 12:35] klemenoslaj opened #33757 "[Ivy - 9.0.0-rc1] Random R3InjectorError error while testing projects"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

With Angular 8 and ViewEngine tests run fine.

### Description

Every now and then when I run `ng test` for all the projects in the workspace I randomly get the following error:
[code]

Error appears in 5/10 cases, which makes it very hard to reproduce.

## 🔬 Minimal Reproduction

I am s

[2019-11-12 12:40] waterplea commented on #33448
Isn't this expected though? This getter generates **new** object each change detection cycle. So when dev mode performs extra check — it does get a new object. Why wasn't it present with VE?

[2019-11-12 12:47] sharikovvladislav commented on #33687
Thank you =) That was fast

[2019-11-12 13:02] SC-JC opened #33758 "compareWith should be able to access global variables"
# 🚀 feature request

### Relevant Package
@angular/forms

### Description
I wrote components that get a string as input which is used to compare objects, as i might want to compare the whole object or just the ID of the objects, depending on it's use.
Sadly the function passed to [compareWith] has no access to the global variables of the component.

### Describe the solution you'd like
The functio

[2019-11-12 13:06] sharikovvladislav commented on #33687
I patched local version of node_modules in my project. The problem is gone.

Thank you! =)

[2019-11-12 13:09] ovchinnikov commented on #33441
Hi @IgorMinar ,

I have created a minimal package where the issue is reproduced: [https://github.com/ovchinnikov/dev-angular-build](https://github.com/ovchinnikov/dev-angular-build)

The issue occurs because of the Angular version that we use to compile our library. To support Angular 6+, we use version 6.1.10. However, if we compile DevExtreme with Angular 7.2, everything works as expected.

The

[2019-11-12 13:11] pkozlowski-opensource commented on #33679
Opened a PR #33755 to add a test for this particular case - a new test passes on master so we can assume that this issue is fixed now.

[2019-11-12 13:19] moniuch commented on #31963
I took some times to gather my observations from using ReactiveForms. Please take my code suggestions only as a way to illustrate the desired way of solving the everyday bottlenecks.

### Declarative disabled/enabled status and validators

I find myself subscribing way too often in order to disable/enable a control depending on state/value of other controls.

(NB Not only is `c.enable()` and `c.di

[2019-11-12 13:25] Airblader commented on #31963
There is no "the element" or even "any element", necessarily. A form control may not be bound at all, it may also be bound to multiple elements. See #31133 for a longer discussion on this which outlines the conceptual issuue with this as well as possible solutions.

[2019-11-12 13:26] Airblader commented on #31133
@lazarljubenovic Sorry for the late response. I do not have a branch with work regarding this, nor do I plan on submitting a PR for it. Feel free to take it over and do with my thoughts as you please – I just scribbled them down as we went along with this discussion. :-)

[2019-11-12 13:30] Airblader commented on #31963
This proposal does address a common complaint, but I think it has a performance issue we should not overlook: there is no way of knowing when these functions have to be reevaluated, so they'd have to be called all the time.

[2019-11-12 13:37] moniuch commented on #31963
I understand the concern. I haven't worked with other platforms than Web. I assume the solution could include some abstraction layer to control the final behavior, similar to what Renderer2 is for DOM.

[2019-11-12 14:08] BruneXX commented on #31227
@sibest19 excellent I'll give a try soon and I'll let you know, thanks for your answer!

[2019-11-12 14:43] theodorejb commented on #18430
This is still an problem in the latest Angular 9 release candidate with Ivy enabled. Fortunately I found that my patch in pull request #23784 will fix this issue if it is merged.

[2019-11-12 15:07] grungondola opened #33759 "node-sass build error 404 not found"
# 🐞 bug report

### Affected Package
This error appears in the package @angular-devkit/build-angular

### Is this a regression?

Yes, this process worked until last week but stopped working with the release of version 0.803.18, although attempting to enforce version 0.803.17 also results in the same error occurring.

### Description

The node-sass URL that the process is attempting to use is not v

[2019-11-12 15:34] grungondola commented on #33759
Attaching full build log to give a better idea of what is happening

[log_8_1451.zip](https://github.com/angular/angular/files/3836869/log_8_1451.zip)

[2019-11-12 15:37] notarnet commented on #32547
Any news? This is a blocking issue migrating to Ivy!

[2019-11-12 15:47] avatsaev commented on #32547
I don't think this is Angular's bug, this is a big related to library authors who dont respect the Angular Library Spec and implement their own build pipelines

[2019-11-12 15:49] slavafomin opened #33760 "angular.io website is missing titles (SSR, SEO)"
Hello!

Thank you for your hard work.

However, `https://angular.io/` website is missing the correct titles.

Consider this page:
https://angular.io/guide/lazy-loading-ngmodules

It has a heading: "Lazy Loading Feature Modules", but it's not reflected in the `<title>` when HTML is returned from the server. The title looks like this for all pages: `<title>Angular</title>`, so it makes search result

[2019-11-12 15:54] notarnet commented on #32547
I have not libraries in my project and I have the same error. I updated from version 8 and I have this problem. With "enableIvy: false" the error disappears.

[2019-11-12 16:06] grungondola commented on #33759
Temporary solution to fix it for me is to enforce that we have the node 11.15 version in the package.json devDependencies:

`
    "node": "11.15.0",`

[2019-11-12 16:26] epelc commented on #25395
@rmcc13 do you know if the default es6 parameters work today with optional injections?

[2019-11-12 17:05] Modeso commented on #20402
You solution is actually what we also need to achieve. For following reasons:
1. we want that the users sees a result a result fast.
2. But the data might be updated with the request and so we want to update the view which displayes this data immediatly when the cache was updated.

Basically what we want to achieve is that we subscribe to the cache directly instead of subscribing to the httpclient

[2019-11-12 17:16] marcjcs commented on #33758
As a workaround you can do:
[code]

[2019-11-12 17:20] SC-JC commented on #33758
Seems to work, will check it tomorrow.

thanks :)

[2019-11-12 17:23] Ni55aN commented on #11402
Wow, 2019 is coming to an end, the problem still exist

[2019-11-12 17:27] nmatushevskiy commented on #33735
Your variant really work. But if wrap this into beforeEach
[code]
This variant wouldn't work.

"It's be great if we can repro the problem where Components/Modules are packaged in a single test - it's simplify further investigation" - done

[2019-11-12 17:55] #33686 closed

[2019-11-12 17:56] starman15 opened #33764 "Service Worker update crashes with property access on undefined"
# 🐞 bug report

### Affected Package
Service worker     "@angular/service-worker": "^8.2.0",

### Is this a regression?

Possibly.  I've been using service worker since it was first released and began seeing this issue with angular 6.x

### Description

Driver state: EXISTING_CLIENTS_ONLY (Degraded due to failed initialization: Cannot read property 'previouslyCachedResources' of undefined
TypeErro

[2019-11-12 18:03] ajitsinghkaler opened #33766 "Add readme to every angular package"
# 📚 Docs or angular.io bug report

### Description

 Ca we add a readme to each and every angular npm package to get a basic understanding of for what each and every package is used. Currently, we have readme for a few of the packages like Zone.js and bench press. Via adding readme we can make people aware of the basic functioning of these packages and if people even want to use them in their main

[2019-11-12 18:05] ajitsinghkaler commented on #33764
@starman15 this is a mistakenly put by you @brad @kara  can you please close this issue.

[2019-11-12 18:10] starman15 commented on #33764
Sorry.  Not familiar with this system and have now finished entering the case.

[2019-11-12 18:11] ajitsinghkaler commented on #33754
@andrea-corley Can you please put this on Stack overflow I think it is best suited there people can help you there better @gkalpak can you please close this.

[2019-11-12 18:13] ajitsinghkaler commented on #33582
So should I try this @gkalpak

[2019-11-12 18:16] ajitsinghkaler commented on #33752
@RohanAntony it only reduces 1 % of developer's effort and they may have to change a lot of codebases to implement this I think its best left as it is.

[2019-11-12 18:21] kara commented on #33756
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2019-11-12 18:21] #33756 closed

[2019-11-12 18:22] kara commented on #33754
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-12 18:22] #33754 closed

[2019-11-12 18:25] mhevery commented on #32388
@alxhub says this may be fixed by https://github.com/angular/angular/pull/33551 or https://github.com/angular/angular/pull/33522.

[2019-11-12 18:31] ajitsinghkaler commented on #33750
Hi, This is a project related issue its better if you post this on StackOverflow. It is better suited there and moreover, you cannot post project related issues here.

Please [check out this explanation](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-got-a-question-or-problem).

[2019-11-12 18:31] monstrege opened #33768 "FormArray push issue when formArrayValues are disabled"
Hi Angular community,

I'm having an issue when I try to push a new formControl into a formArray of formControls.
The issue happens when the other values are disabled.

When other values are disabled, the push will update correctly the ```controls```, **but the values will all be erased and only the new value will be there.**

I found the issue source:
formArray.push calls updateValueAndValidity
u

[2019-11-12 18:41] ajitsinghkaler commented on #33764
@starman15 Sorry earlier when I opened this issue the issue seemed empty and I thought that you may have submitted it by mistake.

[2019-11-12 19:09] kkuriata opened #33770 "ContentChildren and ContentChild don't work for 2 levels nested descendants"
# 🐞 bug report

### Affected Package
@angular/core

### Is this a regression?

Yes, I have also checked 7.x version.

### Description

ContentChildren/ContentChild decorators don't work for nested descendants. Once you try to get the ElementRef for at least 2 levels-nested element, you only get the undefined.

## 🔬 Minimal Reproduction

1. Go to [Stackblitz](https://stackblitz.com/edit/angular-vzd

[2019-11-12 19:16] DiscoPYF opened #33771 "Sizer component does not have template in Basics of two-way binding"
# 📚 Docs or angular.io bug report

### Description

There is a code snippet for the `size.component.ts` in "Fundamentals > Components & Templates > Template Syntax > Basics of two-way binding": https://angular.io/guide/template-syntax#basics-of-two-way-binding

This component references an html template but no equivalent code snippet is provided. However a template can be found in previous version

[2019-11-12 19:23] Airblader commented on #33770
https://angular.io/guide/template-syntax#ref-vars

Template reference variables are only valid within their template, therefore trying to search for them from outside the template doesn't work. IMHO this is intended behavior.

You can use different selectors such as the component itself or some directive etc.

[2019-11-12 19:30] mhevery commented on #33111
For simple cases where we just have static classes this can be fixed. However the moment there are multiple class bindings the algorithm will have to sort these in order to be performant. @matsko  is already working on a refactoring which will fix this one as well.

[2019-11-12 19:35] mhevery commented on #33575
Currently this is not supported because `<div style="{{exp1}}" [style.width]="exp1">` requires that we parse the `exp1` to see if it has `width` so that `exp2` can overwrite it.

Turns out that @matsko had to add parser for other reasons so now we should be able to support it.

[2019-11-12 19:57] pkozlowski-opensource commented on #33770
@Airblader is correct - `@ContentChildren` are supposed to pick up _only_ children (as written in a template) of a component (everything written between `<app-parent>...only picks-up stuff here...</app-parent>` in your case).

Are you sure? I don't think this logic changed... ever...

I think that there is confusion here about what `descendants` mean. Given your example:

[code]

So, it is all abo

[2019-11-12 19:57] #33770 closed

[2019-11-12 19:58] IgorMinar commented on #33111
we don't need to keep the order if there are any class bindings on an element, I think the only scenario where the class order should be preserved is the static case: `<div class="c b a"></div>`.

[2019-11-12 20:02] kara commented on #33757
@klemenoslaj Thanks for the report! Let us know when you have a repro so we can look into this

[2019-11-12 20:15] alvipeo commented on #33610
Not sure what should I do here. I removed all the rewriting. So I have the only `/run` route with no children. When the callback request issued by authority Angular handles this `/route` route but it almost instantly starts redirecting to root.

One idea is since I have to register a redirect callback with **MSAL**:
`this.msalObj.handleRedirectCallback(this.authProcessed);`

the redirect to root m

[2019-11-12 20:25] lacolaco commented on #22515
Shadow Part has been shipped by Safari Technical Preview 94 so it is implemented by most major browsers except Edge/IE natively. Today it is enough standard to adopt by Angular's emulated encapsulation.

[2019-11-12 21:08] Ks89 commented on #21706
Is Ivy compatible with universal?
I tried to download the example https://next.angular.io/generated/zips/universal/universal.zip and execute `ng update @angular/cli @angular/core --next` to upgrade to angular 9.
After the upgrade I can run `npm run build:ssr && npm run serve:ssr`, but when I try to navigate to the main page at localhost:400 I get this error:

[code]

Do you have any suggestions?

[2019-11-12 21:54] #33393 closed

[2019-11-12 21:56] #32416 closed

[2019-11-12 22:02] naveedahmed1 commented on #21706
Yes IVY works fine with SSR/Universal, we're using it on our website without any issue.

[2019-11-12 22:03] IgorMinar opened #33774 "ngtsc/ngc doesn't support --diagnostics command line flags"
# 🐞 bug report

### Affected Package

 @angular/compiler

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....
no

### Description

 A clear and concise description of the problem...

`tsc` supports a handy flag called `--diagnostics` (also available as `{"compilerOptions": { "diagnostics": true, … }}`). This flag causes the compiler to perf stats that

[2019-11-12 22:41] wooliesx-apirillo commented on #29762
This still appears to be an issue, is it being worked on?

[2019-11-12 23:23] #33164 closed

[2019-11-12 23:24] mhevery commented on #33231
yes, expected change per breaking changes doc.

[2019-11-12 23:24] #33231 closed

[2019-11-12 23:28] mhevery commented on #33369
Needs repro

[2019-11-12 23:32] alxhub commented on #30512
After @JoostK's fixes,`ngx-charts` is showing as fixed in our validation repo. Please feel free to file a new issue if there are still problems with the library :)

[2019-11-12 23:32] #30512 closed

[2019-11-12 23:34] mhevery commented on #33752
I don't see value in this either.

[2019-11-12 23:34] #33752 closed

[2019-11-12 23:47] atscott commented on #33034
Appears to be a duplicate of #12842

[2019-11-12 23:47] #33034 closed

[2019-11-13 01:42] kyliau commented on #29291
This has been fixed in https://github.com/angular/angular/pull/33676

[2019-11-13 01:42] #29291 closed

[2019-11-13 01:48] kyliau commented on #16643
Sorry it took so long, https://github.com/angular/angular/pull/33782 should fix this.

[2019-11-13 02:48] aquark opened #33783 "unable to create a redirect for named outlet"
# 🐞 bug report

### Affected Package
The issue is caused by package `@angular/router`

### Is this a regression?

Unsure.

### Description

I have a named router outlet which I want to default by redirecting the empty path to one of the named paths, e.g.

[code]

This worked when the configuration was in a lazy loaded module, however moving it to the root router configuration now fails to validate

[2019-11-13 05:24] vedk21 commented on #13590
In my case, I am having an angular library project setup. In one of my components inside the library, I have declared few enums, in order to use these enums in my application project I was importing with a **relative path** to the projects directory in my application root.

This is the reason why angular compiler wanted to have my library component to be declared in any of the ngModules of the app

[2019-11-13 05:53] sincy123 opened #33785 "angular6 app internationalisation"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Please file any Angular Components issues at: https://github.com/angular/components/issues/new

For the time being, we keep Angular Components issues in a separate repository.

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑
i want a angular 6 code for selecting a particular language that change the whole project language..
please

[2019-11-13 05:53] sincy123 commented on #33785
i want a angular 6 code for selecting a particular language that change the whole project language..
please

[2019-11-13 06:18] AndrewKushnir commented on #33785
Hi @sincy123, it looks like this ticket doesn't contain sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

Feel free to file a new issue and ensure you provide all of t

[2019-11-13 06:18] #33785 closed

[2019-11-13 07:15] AndrewKushnir commented on #33735
Hi @nmatushevskiy, thanks for additional information. I was able to reproduce the problem and [created a draft PR](https://github.com/angular/angular/pull/33787) with proposed changes. Could you please try to test your use-case with the changes from the mentioned PR and let us know if everything works as expected? Thank you.

[2019-11-13 07:19] IgorMinar commented on #18454
this is now obsolete

[2019-11-13 07:19] #18454 closed

[2019-11-13 08:22] IgorMinar commented on #33757
this might have been fixed already, please test with rc.2 (due tomorrow) and if the issue still exists please provide steps to reproduce this.

[2019-11-13 08:53] sincy123 opened #33789 "angular 6 internationalisation"
Is there is any simple methods to implement multiple language support..???
except ngx-translate

[2019-11-13 09:12] thefliik commented on #31963
RE: @moniuch. Please read through this proposal before making suggestions to improve it (it's pretty clear you haven't).

Separately, your comment seems to be about the current `ReactiveFormsModule`, not this proposal. You comment would be better left as a separate Angular issue. As @Airblader already pointed out, some of your feedback is already tracked in other Angular issues. e.g.

- Querying n

[2019-11-13 09:40] sharikovvladislav commented on #33672
Thank you!

[2019-11-13 09:44] nezed commented on #18950
@andersk [this vector](https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet#You_can_EMBED_SVG_which_can_contain_your_XSS_vector) may be implemented only though `<embed>` or maybe `<object>` tags.
So even following is safe to place inside `<img src=`:
[code]

[2019-11-13 09:51] billyjov commented on #33789
@sincy123 I Think this is not an Angular related issue..You have to post your Question on SO, Gitter, Slack Channel or somewhere else..

BTW

If you want to implement i18n in your WebApp..Just choose one of the following solutions:

- Angular i18n package (doc here with example: https://angular.io/guide/i18n)
- ngx-translate like already mentioned (doc here with example: https://github.com/ngx-tra

[2019-11-13 10:10] pkozlowski-opensource commented on #33685
Probably due to https://github.com/angular/angular/commit/c83f5013bfb0182dc653d7e5d8a1750e09ea50e9

[2019-11-13 10:12] pkozlowski-opensource commented on #33680
This is a duplicate of the existing issue #17404 - let's centralise the discussion in-there.

[2019-11-13 10:12] #33680 closed

[2019-11-13 10:13] sharikovvladislav commented on #33687
@mhevery @JiaLiPassion any info when you will have next release candidate?

Looks like you have 1 rc / next version per week. Am I right that new one will be published something like tomorrow or in a next days?

[2019-11-13 10:18] gkalpak commented on #33760
Well...currently there is no SSR, but it's a potential future enhancement.

[2019-11-13 10:23] gkalpak commented on #20402
Yes, see https://github.com/angular/angular/issues/20402#issuecomment-510667434.

[2019-11-13 10:24] pkozlowski-opensource commented on #32744
#33705 should fix this issue

[2019-11-13 10:35] gkalpak commented on #25611
Big WARNING:
Using mismatching versions of `@angular/*` packages is not guaranteed to work :grin:

[2019-11-13 10:36] basickarl opened #33791 "Latest stable versions of every angular component"
How does one get the latest stable release for every component. You guys are releasing RC's into the eco system which I have no interest in until it's considered stable. Where do I find the stable version for the following packages:

[code]

[2019-11-13 10:41] mlc-mlapis commented on #33791
@basickarl Here: https://github.com/angular/angular/releases. The actual stable major version is 8 so the latest is always the last one, now 8.2.13.

[2019-11-13 10:42] basickarl commented on #33791
@mlc-mlapis Ah so if I'm correct all of those libraries have the same release cycle? (one version for them all?)

[2019-11-13 10:42] mlc-mlapis commented on #33791
@basickarl Yep, that's right.

[2019-11-13 10:44] mlc-mlapis commented on #33791
@basickarl The only exception on the list is `@angular/cdk` which could have a bit different releasing on the minor version.

[2019-11-13 10:45] gkalpak commented on #33764
This error should no longer happen after 094538c0c (and 72eba7745 should also help eliminating the root cause). I am going to close this issue now.

Please open a new issue if you still see the error after upgrading to the latest 9.x version (or the upcomming 8.2.14).

[2019-11-13 10:45] #33764 closed

[2019-11-13 10:46] mlc-mlapis commented on #33791
@basickarl And it's also maintained on https://github.com/angular/components/releases.

[2019-11-13 10:47] basickarl commented on #33791
@mlc-mlapis Ok dude perfect answer thanks man!

[2019-11-13 10:47] #33791 closed

[2019-11-13 10:49] gkalpak commented on #33526
Not sure what you mean, @ajitsinghkaler? Can you elaborate?

[2019-11-13 10:51] gkalpak commented on #33582
As mentioned above, I am afraid it is not a good issue for a first contribution, so I suggest you start somewhere else. But if you insist, I won't stand in your way 😛

[2019-11-13 12:32] klemenoslaj commented on #33757
I will do that, thanks!

---

I still couldn't reproduce this in 100% of cases, however I think `ngcc` with `--async=false` made a difference (_still testing, takes ages_).

[2019-11-13 12:44] chrste90 commented on #33685
This also seems to break `ngx-extended-pdf-viewer`. With rc0, the library works, but with rc1 i get  `core.js:6068 ERROR Error: 'menuitem' is not a known element:`, see more details here: https://github.com/stephanrauh/ngx-extended-pdf-viewer/issues/169

[2019-11-13 13:34] apocalyp0sys opened #33793 "service-worker can block POST requests if cache fails"
# 🐞 bug report

### Affected Package
 The issue is caused by package @angular/**service-worker**

### Description

I've ran into another caching problem. When handling POST (or any mutating) fetches, service-worker tries to invalidate cache for the corresponding url and re-write LRU table. LRU table is stored in CacheStorage. If writing to cache fails, no fetch is called and no request is made.

#

[2019-11-13 13:41] jollsker commented on #31337
Same problem here

`Angular CLI: 8.3.4
Node: 10.16.3
OS: win32 x64
Angular: 8.2.6
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                            Version
------------------------------------------------------------
@angular-devkit/architect          0.803.4
@angular-devkit/build-angular

[2019-11-13 13:41] apocalyp0sys commented on #33793
The uncatched error is thrown here.

https://github.com/angular/angular/blob/2be0a1d35b8f46e65ee843eaec288aacc317c2be/packages/service-worker/worker/src/data.ts#L321

There were cache-failure related issues previously, maybe we should wrap all cache-wrinting calls in `try`?

[2019-11-13 14:08] aaronmanela commented on #33697
I created my repo following the upgrade instructions from angular 8. I will try your way and see what is different.

[2019-11-13 14:48] mverver-google opened #33795 "angular.io homepage doesn't load without cookies enabled"
# 📚 Docs or angular.io bug report

### Description

When the browser is configured not to accept cookies, the angular.io homepage shows a blank page without any content.

## 🔬 Minimal Reproduction

### What's the affected URL?**
https://angular.io/

### Reproduction Steps**
Disable cookies in your browser. Visit https://angular.io/

### Expected vs Actual Behavior**
Expected behavior: static conte

[2019-11-13 14:49] rskendzic commented on #33369
@mlc-mlapis @mhevery Managed to reproduce.
Here is the [repo](https://github.com/rskendzic/get-module-factory)
If you start with `ng serve`
[code]

If you build project with the command `ng build --aot --prod`, go into dist, and serve the application (with lite-server for example)

[code]

[2019-11-13 14:53] filipesilva opened #33796 "ngc/ngtsc codegen should emit tree-shake friendly imports"
For a module such as:
[code]

Ivy will emit the following code:
[code]

The `import * as i0 from "@angular/core";` in particular is hard to optimize, as it imports the whole of `@angular/core`.

Instead it should only emit imports for the used imports:
[code]

Alternatively, they could be added to the existing `@angular/core` import.

@clydin found that TypeScript has done the same for their helpe

[2019-11-13 15:08] gkalpak commented on #33718
@LanderBeeuwsaert, can you confirm that the config in https://github.com/angular/angular/issues/33718#issuecomment-552518850 fixes the issue for you?

[2019-11-13 15:10] filipesilva commented on #33796
https://github.com/microsoft/TypeScript/issues/33035 casts some doubts on whether we should do this.

[2019-11-13 15:13] petebacondarwin commented on #31629
The ng2-pdfjs-viewer has two problems that need fixing for it to be compatible with v9 (let alone ivy).
This PR should fix it https://github.com/intbot/ng2-pdfjs-viewer/pull/55/files

[2019-11-13 15:22] notarnet commented on #32547
In my project, it seems to be related to the following instruction in main.ts:
`platformBrowserDynamic(extraProviders).bootstrapModule(AppModule).catch(err => console.log(err));
`
If I comment the instruction the compilation works fine.
My app refers AppModule only in main.ts

[2019-11-13 15:24] asmith2306 commented on #14324
I'm using Angular Material dialogs in a library (created using ng generate library).  This library is built and I install using npm install and importing it into my app.module.  This module is then lazily loaded via loadChildren in app.routing.module.

Having 'entryComponents: [MyDialog]' in the libraries module file doesn't work so create a static method that returns all your entry components (di

[2019-11-13 15:26] LanderBeeuwsaert commented on #33718
@gkalpak sorry, I just deleted ng-dragula in the branch instead of doing the config. Since then I ran into another issue after the upgrade was done and deleted the branch. So I have no idea.

[2019-11-13 15:54] #31629 closed

[2019-11-13 16:04] ajitsinghkaler commented on #33526
![Expansion Panel   Angular Material](https://user-images.githubusercontent.com/39260684/68781063-363e5000-065d-11ea-85b3-c0bf16783613.png)

Something like this I wanted to suggest an expansion panel for all the headings in the angular resources page.

[2019-11-13 16:12] mattdsteele commented on #33685
@pkozlowski-opensource thanks for the commit.

Cursory view of it makes me think https://github.com/angular/angular/commit/c83f5013bfb0182dc653d7e5d8a1750e09ea50e9 doesn't play nicely with lazy-loaded custom elements (i.e. the tags are on the page, but don't have `customElements.define()` called against them until later after they've been loaded).

This is the default behavior of web components co

[2019-11-13 16:22] artaommahe opened #33799 "FakeAsync's tick flushs nested timeouts"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/core/testing

### Is this a regression?

dunno

### Description

`tick` call flushs even nested timeouts that have not been installed at the call moment

## 🔬 Minimal Reproduction

[code]

repo with this test

- `git clone git@github.com:artaommahe/fakeasync-nested-timeout.git`
- `yarn install`
- `yarn test`

[test file](

[2019-11-13 16:33] gkalpak commented on #33793
Ouch, good catch! Yeah, it might make sense to make the LRU syncing methods more resilient to errors (instead of error-proofing all call-sites).

[2019-11-13 16:36] jkyoutsey opened #33800 "Production Unit Tests Intermittently Fail In afterAll with Uncaught [object Object]"
# 🐞 bug report

### Affected Package
ng test --prod

### Is this a regression?
No?

### Description

Intermittently we are seeing *different* unit tests fail on production configuration test runs.
WallabyJS does not fail (it doesn't run production configuration).
`ng test` does not fail.
`ng test --prod` does fail intermittently on random tests.
It seems to never be the same test.
I can't find any

[2019-11-13 16:39] kapunahelewong commented on #25168
thank you for helping with this, @jsonRUHLS!

[2019-11-13 16:44] gkalpak commented on #33795
Good catch! Apparently, when cookies are disabled accessing `window.sessionStorage` is an error, so [ScrollService][1] throws.

[1]: https://github.com/angular/angular/blob/master/aio/src/app/shared/scroll.service.ts

[2019-11-13 16:53] gkalpak commented on #33526
Oh, I see. Personally, I would rather use the tabbed approach we use in the `About` page (as mentioned in https://github.com/angular/angular/issues/33526#issuecomment-548768734), mainly for consistency/having less different "UI concepts" on the website.

But this is up for debate.

@sjtrimble: Any ideas?

[2019-11-13 16:54] gkalpak commented on #33795
@ajitsinghkaler, would you like to take this on? This is a fairly straight forward issue and I would be happy to guide/help you through the process.

[2019-11-13 17:25] ajitsinghkaler commented on #33526
@gkalpak Yeah we can add tabs but we have two levels of headings even then we may have to use something like this.

Like for development, the education, the community we may use tabs but for the rest, we can use expansion panels.  What are your thoughts on this.

[2019-11-13 17:27] ajitsinghkaler commented on #33750
@gkalpak I think we can close this issue.

[2019-11-13 17:31] gkalpak commented on #33526
Let's take is one step at a time :smiley:
I suspect splitting them up by the first level and then we can decide what to do on the second level if/when needed.

[2019-11-13 17:34] gkalpak commented on #33750
This doesn't sound like an Angular-specific problem (or at least I can't infer that from the description).
Closing the issue, but feel free to add more details below or open a new one, if you think this is Angular-specific (and can provide a minimal reproduction).

[2019-11-13 17:34] #33750 closed

[2019-11-13 18:08] pkozlowski-opensource commented on #33789
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-13 18:08] #33789 closed

[2019-11-13 18:37] Splaktar commented on #26436
@dmattsson can you try with material/cdk `9.0.0-rc.1`? Also does removing `node_modules` and reinstalling, rebuilding solve this?

[2019-11-13 18:44] ajitsinghkaler commented on #33795
I would love to thank you for helping me get started.

[2019-11-13 18:53] StephenFluin commented on #32875
The style guide doesn't specify these, as we currently believe they should be up to individual teams. We'll be revisiting the style guide holistically in the future.

[2019-11-13 18:53] #32875 closed

[2019-11-13 19:10] #33718 closed

[2019-11-13 19:17] stephanrauh commented on #33685
Additional information to https://github.com/angular/angular/issues/33685#issuecomment-553388338:

The validation method [`validateElement()`](https://github.com/angular/angular/blob/c83f5013bfb0182dc653d7e5d8a1750e09ea50e9/packages/core/src/render3/instructions/element.ts#L246) is elegant, but it breaks on corner cases like `menuitem`.

Currently, `menuitem` is implemented by Firefox, but not by

[2019-11-13 19:23] musterknabe opened #33803 "Missing space between currency code and value in currency pipe #2"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/common

### Is this a regression?
No

### Description
The original bug was closed by a bot before it was solved (see https://github.com/angular/angular/issues/20708).

@ocombe wrote:

You are using the correct pattern, but according to the CLDR website (http://cldr.unicode.org/translation/number-patterns) there should be

[2019-11-13 19:58] sjtrimble commented on #33526
I agree with @gkalpak - tabs would be great as we have on the https://angular.io/about page.

I also suggest adding an "ALL" tab so that someone can easily search through something they are looking for in particular.

This would be a great next step and improvement from what we have.

[2019-11-13 21:03] pedrozan commented on #33445
Hello All, this seems like an interesting bug to fix, can I work on it?

[2019-11-13 21:49] #30569 closed

[2019-11-13 21:49] #32665 closed

[2019-11-13 21:51] #22223 closed

[2019-11-13 22:28] crisbeto commented on #32744
Closing since #33705 was merged in.

[2019-11-13 22:28] #32744 closed

[2019-11-14 02:45] keatkeat87 commented on #33679
@pkozlowski-opensource
I just update to 9.0.0 rc2, but look like this issue doesn't fix.
and look at kara test, she only test for the ngTemplateOutlet but not ViewContainerRef.createEmbeddedView().
can have a look on this ?

[2019-11-14 08:22] dannyskoog commented on #33701
I'm also experiencing this using `rc.1` in combination with `"@ngrx/effects": "~8.0.1"`

[2019-11-14 08:42] Dannybrown2710 opened #33812 "Setting custom property in angular elements throws ExpressionChangedAfterItHasBeenCheckedError"
Referring to this
https://github.com/angular/angular/issues/24415.

I have developed a component which accepts a configuration in object form.
`@Input() config` and I have exported it as a custom element.

While using in another module, I have passed the config as a html prop
`document.querySelector('ui-btn').config = {displayText:'click'}`

I am incurring the error ExpressionChangedAfterItHasBeen

[2019-11-14 09:01] kirillNikolaichuk commented on #33735
Hello! I work with @nmatushevskiy on the same team and also researched this issue. Please tell me how you can get edits from the specified PR in our project to verify that everything works as expected.
I tried doing something like the following in our package.json:
`"@angular/core": "git://github.com/github.com/AndrewKushnir/angular.git#testbed_override_module"`

But that does not work. I think th

[2019-11-14 09:14] spock123 commented on #33701
@dannyskoog
I updated to 8.5.1 (latest stabile) but that didn't resolve the issue, unfortunately..

[2019-11-14 09:21] petebacondarwin commented on #33701
We need to prioritise getting this working. I will look into it today.

[2019-11-14 09:30] chetanapadmane1 opened #33814 "What is the alternative for ::ng-deep?"
Hi Team,
I am working on angular from last year.
I wanted to override the style of child component through parent component.
After reading document I got the information as ::ng-deep and >>> is deprecated now. What is the alternative for ::ng-deep excluding encapsulation none?

[2019-11-14 10:01] pkozlowski-opensource commented on #33679
Thnx for coming back to me on this one @keatkeat87 - I can confirm that I can reproduce your exact use-case on master. Looking into it.

[2019-11-14 10:04] hantarex commented on #33028
just use `as string` after **sanitize**

[2019-11-14 10:07] klemenoslaj commented on #33757
We can still reproduce this after updating to rc.2 and it is still fixed with `--async=false`.
Does the order of `ngcc` compilation matter? Is it possible for the sequence to somehow be incorrect when running in asynchronous mode?

---

I will try to extract our dependencies and reproduce it in a clean project, hopefully it will be sufficient reproduction already.

[2019-11-14 10:49] pkozlowski-opensource commented on #33679
Thnx again @keatkeat87 for testing RC.2 - I can confirm now that the issue you are experiencing is a bug that wasn't covered by the existing tests! I've created a new PR with a test + fix: #33816

Thnx so much for helping us improving v9!

[2019-11-14 10:54] asmith2306 commented on #14324
I got this working in Angular 8.3.6.  I have a library module with entry components (mat dialogs) that won't load if I add them to the library modules entry components.  It says can't find component factory for MyCustomDialog in the console log when I tried to open it.

Solution is to create a static method in the library module's NgModule class that returns an array of all the module's entry comp

[2019-11-14 11:00] yankee42 commented on #17359
Concerning the use of `location.pathname`: This does not include queryParams. So if you send a link to your friend "check out what are coolest heroes are": https://example.com/heroes/list?sort=coolness, then the `sort` param will get lost during redirection.

Of course `window.location` does have more properties to also add these and don't forget the fragment. However the solution by @myrddraall a

[2019-11-14 11:02] JamesHough opened #33817 "Custom directive - @Self() has null valueChanged observable property during ngOnInit"
# 🐞 bug report

### Affected Package
_Angular 9 RC2_
The issue is caused by package @angular/core@next

### Is this a regression?
Yes, the previous version in which this bug was not present was: v8.2.14

### Description
I have upgraded a project from `v8.2.14` to `v9.0.0-rc.2` . After the upgrade, a custom directive throws an error trying to access a null property on the control.

## 🔬 Minimal Rep

[2019-11-14 11:04] MaKCbIMKo commented on #27760
Is there any updates on that?

I'm really interested in using access modifiers other than `public` within component/directive in order to not expose its internal API.

[2019-11-14 11:22] kdshop opened #33819 "@angular/core/testing inject() bug."
# 🐞 bug report

### Affected Package

 The issue is caused by function `inject` from package @angular/core/testing

### Is this a regression?

 Possibly.

### Description

 When using "subscribe and assert" pattern inside `inject()` function `DoneFN` can't be called so test times out.

## 🔬 Minimal Reproduction
[https://github.com/kdshop/injectbug](https://github.com/kdshop/injectbug)

Just `npm i

[2019-11-14 11:24] nasreddineskandrani commented on #11447
there is 2 hacks here to do it from ts: https://stackblitz.com/edit/angular-forms-nested-example-cancel-advanced-updatevalue-krm4t5?file=src%2Fapp%2Fapp-group-inputs-b.component.ts

But i will try a fix inside angular...  we will see what they do with it if it's working :)

[2019-11-14 11:38] musterknabe commented on #33803
Firefox, which uses the same CLDR data internally for locale strings, formats it correctly. And so does Chrome:

`(1000).toLocaleString('en-GB', {style: 'currency', currency: 'USD', currencyDisplay:'code'}) -> "USD 1,000.00"`

`(1000).toLocaleString('en-GB', {style: 'currency', currency: 'USD', currencyDisplay:'symbol'}) -> "US$1,000.00"
`

[2019-11-14 12:16] jinder opened #33821 "No provider for ApplicationRef in Angular 9 RC2 & RC3"
# 🐞 bug report

### Affected Package
@angular/router I think

### Is this a regression?
Yes, Angular 8 compiled fine.

### Description
Since upgrading to Angular 9 RC2,  I'm now seeing a No provider for ApplicationRef error.  This might be disguising another error, but it's very difficult to debug.  The project uses NGRX.

## 🔥 Exception or Error
<pre><code>
main.ts:13 NullInjectorError: R3Injecto

[2019-11-14 12:32] jahtalab opened #33822 "Avoid calling abort on XMLHttpRequest in the http module"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/http

### Is this a regression?

 It seems to have been like this for a while

### Description
The http package (more specifically xhr_backend) calls `abort` on the XMLHttpRequest object once the load event is fired. While this is acceptable in most applications, it makes it hard for
 other libraries that instruments XM

[2019-11-14 12:32] katyapavlenko commented on #26133
This is solved by removing `*ngif` and animation directive from one element, but it there any hope of this being fixed in the future?

[2019-11-14 12:37] JiaLiPassion commented on #33799
I will check this one. Thanks for posting the issue.

[2019-11-14 12:49] tapioca-design commented on #33738
Right ! Thanks

Merci de ne plus utiliser : info@tapiocadesign.com
mais : sylvain-hugues@tapiocadesign.com

Sylvain Hugues
5 Chemin Du Daru
1228 Plan-les-Ouates
+41 79 934 77 58
www.tapiocadesign.com

[2019-11-14 12:54] SantiagoIlli commented on #33812
Can you provide a minimal reproduction?

[2019-11-14 13:05] SerkanSipahi commented on #25962
@mhegazy is this already fixed in ivy?

[2019-11-14 13:17] Mokkapps commented on #33731
@ajitsinghkaler Sure, you can review my current draft of the blog post and demo project:

Blog post: https://5dcc7a38c01dbb0008617e15--mokkapps.netlify.com/blog/the-last-guide-for-angular-change_detection-you-will-ever-need/

Demo Project: https://angular-change-detection-demo.netlify.com/

**Notes**
 * blog post layout on mobile is currently broken
* if the URL does not work anymore let me know,

[2019-11-14 13:47] cedx commented on #21049
The AngularDart team solved the same issue 11 months ago.
Perhaps Angular developers could learn from their implementation.

https://github.com/dart-lang/angular/issues/804

[2019-11-14 14:46] gkalpak commented on #33795
Awesome! Thx, @ajitsinghkaler!

If this is your first time contributing to Angular, you can find some general instructions in [CONTRIBUTING.md][1] and also instructions related to angular.io (or aio for short) specifically in [aio/README.md][2].

Basically, the problem we have here is that we assumed `window.sessionStorage` will always be available. But when cookies are disabled, trying to even ac

[2019-11-14 15:12] jburtondev opened #33825 "Potential bug: HTML imports being used, which will soon be deprecated"
Hi there, our team is using Angular 6 and are getting the following error when running our automation suite:

[code]

Is Angular Elements using HTML Imports? I don't believe so, it should be using ES6 modules right?  As per: https://github.com/angular/angular/blob/master/packages/elements/src/create-custom-element.ts

[2019-11-14 15:33] Mastard69 commented on #30264
It's actually needed. Same problem as @Nexxado, I had to wrap it in a FormGroup.

[2019-11-14 15:43] maxime1992 commented on #31963
Following that issue and making :pray: to get some official support (from Angular team) on it.
Kudos to all the people who participated in elaborating all that :+1:.

To add a bit on top of it, we've got complex form requirement at work where we need type safety (as we refactor quite a lot) and the possibility to break our forms into smaller ones. We came up with a library that's working quite nic

[2019-11-14 15:48] miguelalvarezi commented on #18129
Just my two cents for others facing this issue: if it's an option for you to use the `OnPush` `ChangeDetectionStrategy` in your component, that's solved the `ExpressionChangedAfterItHasBeenCheckedError` issue for me when using complex ngrx selectors with the `async` pipe.

Credits go to [this answer in SO](https://stackoverflow.com/a/56664783/2747568).

[2019-11-14 15:57] rodolfojnn commented on #33814
Duplicate of #17867 and #25160

[2019-11-14 16:11] djleonskennedy commented on #33822
@angular/http deprecated use  @angular/common/http

[2019-11-14 17:54] alan-agius4 commented on #33796
Note: this is also a blocker  for using dts_bundling with Ivy.

https://github.com/angular/angular/blob/e25b256aa4d00e8d8a43952bdbaaa567bdaa1277/packages/bazel/src/ng_module.bzl#L136-L154

[2019-11-14 18:06] AndrewKushnir commented on #33735
Hi @kirillNikolaichuk, please try to follow the steps below to get the changes from the mentioned PR and use it in the project:

- clone the sources of the framework locally and fetch the changes from that PR
- build Angular locally as [described in this instruction](https://github.com/angular/angular/blob/master/docs/DEVELOPER.md#building)
- create a symlink or replace existing "@angular/core" co

[2019-11-14 18:48] devversion opened #33830 "ngtsc: acceptance coercion members should be inherited"
For ngtsc, the concept of acceptance coercion members has been introduced:

[code]

Unfortunately it's currently not intuitive that those acceptance members are _not_ inherited. This means that consumers of the component, or library authors who share logic in base classes need to copy the acceptance members manually to derived classes. e.g.

[code]

The acceptance members are technically inherited

[2019-11-14 19:08] naveedahmed1 commented on #33821
Delete `node_modules` and run `npm install` again.

[2019-11-14 19:15] rgant commented on #28979
Not sure how ControlValueAccessor applies to this issue, which I'm also [experiencing](https://stackblitz.com/edit/angular-async-form?file=src/app/questions.component.ts).

In this stackoverflow exchange the problem is identified as:

https://stackoverflow.com/q/45051985

That means that it is impossible to change the value of "formControlName" after the first `ngOnChanges`. The work around is to

[2019-11-14 19:27] petebacondarwin commented on #33701
@spock123 and @dannyskoog - it is hard to help solve this without a reproduction. Currently I cannot make a failing ivy + ngrx app...

[2019-11-14 19:35] petebacondarwin commented on #33701
Actually @brandonroberts  suggests that we open a ticket on https://github.com/ngrx/platform so it can get some visibility there too.

See https://github.com/ngrx/platform/issues/2260

[2019-11-14 20:34] digoburigo commented on #16982
I found the same situation in my case and I solved it as follows (this applies to my purpose only and may not serve to the problem presented here), but i want share my solution that may help others

using latest version of angular (8.2.14)

[code]
[code]

[2019-11-14 20:51] walidabouzaid opened #33833 "ERROR in src/app/app.module.ts:6:37 - error TS2307: Cannot find module '@xxx/xxx'."
Although, I've created, built, and published an angular 8 library as your Angular.IO docs. I face this showstopper bug. See below attachment.
![thiqahNPMCriticalIssue](https://user-images.githubusercontent.com/19210082/68894929-5a6f5f00-0739-11ea-8e92-10ccc70c53f6.png)

The module of my library can't be imported unless I import it like below.
`import { ThiqahTreeLibModule } from '@thiqah/tree/src/

[2019-11-14 20:57] Dj-jom2x commented on #33833
it means there's no index on it xD

[2019-11-14 21:00] gultyaev opened #33834 "CanActivate ignores skipLocationChange flag"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/router

### Is this a regression?

 Not sure

### Description

 The problem is about returning a `createUrlTree` with `skipLocationChange: true`. I expect Angular not to change a URL but it does.

## 🔬 Minimal Reproduction

 https://github.com/gultyaev/can-activate-issue-repro

## 🌍  Your Environment

**Angular Version:

[2019-11-14 21:12] walidabouzaid opened #33836 "Can not use my local angular 8 npm library (local registry)"
Can not use my local angular 8 npm library which is published to a local registry on my company servers. Check error below.

Error: C:\my-workspace\node_modules\@thiqah\tree\src\lib\thiqah-tree-lib.module.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property. The missing file seems to be part of a third party library.

![thiqah

[2019-11-14 23:07] alxhub commented on #33836
Hello @walidabouzaid,

Unfortunately in order to investigate this issue, we're going to need a reproduction in the form of a Github repository with instructions on how to produce the error you're getting.

However, looking at the error message, it appears the `@thiqah/tree` package you have is published with plain `.ts` files into whatever repository you're using. This is not a good practice typic

[2019-11-14 23:42] matsko commented on #32002
Hello @kKen94. Please re-create an issue following our issue template so that we can reproduce the issue and get back to you.

[2019-11-14 23:42] #32002 closed

[2019-11-14 23:49] alxhub commented on #33668
@filipesilva feel free to reopen, but for now I'm going to close this as it seems to be WAI.

[2019-11-14 23:49] #33668 closed

[2019-11-14 23:56] instantgis commented on #30784
I am using Angular 8.2.13
and
@ng-dynamic-forms/core": "^8.1.1"

I turned on Ivy recently.
Ouch bad idea.
All my forms break - errors spewing in the console - validators related
Started with max length validator. Commented those out.
Expression validator errors show up which I am not using.

Turn off Ivy = back to working normal

[2019-11-15 00:01] kara commented on #33402
@cexbrayat I cloned down the repo, but I can't reproduce the failure.

- If I run "ng test" with no changes (View Engine mode), the test fails
- If I enable Ivy and re-run "ng test" (Ivy mode), the test still fails

Then I looked at the component in the repo and it looks like there's a typo. The `@ViewChildren` query looks for `'div'`, but there is no local ref in the template called `'div'`. If y

[2019-11-15 00:01] #33402 closed

[2019-11-15 00:27] JamesJansson commented on #28114
Not sure why my comment above was marked off-topic. If you redeploy, and your users have a lot of JS download failures, it almost certainly is a misconfiguration of NGSW cache.

[2019-11-15 00:39] JiaLiPassion commented on #33800
could you provide a reproduce repo?

[2019-11-15 00:50] gkalpak commented on #28114
Thx for chiming in, @JamesJansson.

This error is happening on angular.io, so we know it is not a result of a misconfiguration.
I am sure you might get a similar (or the same) error on other cases (such as a misconfiguration), but this issue is about a different problem (hence marking your comment as off-topic).

[2019-11-15 01:07] walidabouzaid commented on #33836
Hello @alxhub
Why your angular builder and/or your publisher did not produce these files from its self. I think this is not my job to produce those files. You are stating as an angular team that We can create, build, package, and publish a library from your CLI. I think it's not my job to produce those files from my self. Or you should state this info apparently at your angular.io docs.
Unfortunat

[2019-11-15 01:13] walidabouzaid commented on #33833
@Dj-jom2x
Angular CLI should create index on it xD :( form its self. I see it not my job to create a file not mentioned on your angular.io docs.
https://angular.io/guide/creating-libraries

[2019-11-15 01:17] Yona-Appletree opened #33842 "ngAfterViewInit not called correctly when transcluded by <ng-content>"
# 🐞 bug report

### Affected Package
@angular/core

### Is this a regression?

Not sure. The bug appears in both Angular 7 and 8.

### Description

The `ngAfterViewInit` lifecycle hook isn't called for a component that is transcluded using `<ng-content>` which itself is within an `*ngIf`.

## 🔬 Minimal Reproduction

https://stackblitz.com/edit/angular-playground-vqhjuh

## 🔥 Exception or Error

No

[2019-11-15 02:05] Dj-jom2x commented on #33833
nope xD you need to export it inside public-api.ts manually

[2019-11-15 05:24] prakulgupta commented on #33488
@IgorMinar - Updated to @next version but getting the same set of errors. Compilation is failing
![image](https://user-images.githubusercontent.com/6064632/68918958-4148cb80-0796-11ea-824a-8125d3eecc84.png)

[2019-11-15 05:30] kukjevov commented on #33821
Interesting thing is that this happened to me also several times, mostly removing `node_modules` and reinstalling helped, but last time i had to clean also `npm cache`. I am just curious why this happens? It looks like random thing.

[2019-11-15 06:37] Splaktar commented on #33278
@jbogarthyde you should just be able to run the `bazel` command that it gives you in the Circle CI error output in your local branch. Then you review the changes that it made to the APIs, and if it looks correct you commit the local changes and force push up your branch.

The tool that is used for this is called [ts-api-guardian](https://github.com/angular/angular/tree/master/tools/ts-api-guardian

[2019-11-15 06:53] wohugb opened #33845 "when using v9-rc2 and seting enableIvy for true,then throw no pipe error"
[code]

[2019-11-15 07:09] AlexMa1er opened #33846 "Using zone.js >0.10.0 in an angular changes the PropertyDescripton of the imported references"
# 🐞 bug report

### Affected Package
The issue is caused by package zone.js since version 0.10.0.

### Is this a regression?
Yes, the previous version in which this problem was not present was: <=0.9.1

### Description
The following problem occurs during the test process. (Therefore, no statement can be made as to whether this causes problems at real runtime)

Create a angular 8 app, update zone.j

[2019-11-15 07:24] dannyskoog commented on #33701
Sure @petebacondarwin. I’ll see if I can put up a reproduction on StackBlitz tonight 👍

[2019-11-15 07:39] blemaire commented on #30264
Could we bind the [formGroup] to an ng-container ?

[2019-11-15 07:42] blemaire commented on #33836
@walidabouzaid The process is fairly well resumed in the 3 commands provided in the official documentation:
https://angular.io/guide/creating-libraries#publishing-your-library

[2019-11-15 08:22] mlc-mlapis commented on #30264
@blemaire Sure.

[2019-11-15 08:58] cexbrayat commented on #30088
This is probably fixed by Ivy in v9.

If someone encountering the issue can test with the latest release with Ivy enabled, we might confirm that this weird behavior does not exist anymore, and close the issue.

[2019-11-15 09:16] donhuvy opened #33847 "Angular run npm start not show image"
Please see https://stackoverflow.com/questions/58873194/angular-run-npm-start-not-show-image

I am reading https://angular.io/guide/template-syntax#template-syntax .

I download https://angular.io/generated/zips/template-syntax/template-syntax.zip

![abc](https://user-images.githubusercontent.com/1328316/68931500-4112f500-07c3-11ea-9b11-1fbcdc493756.png)

[2019-11-15 09:38] wohugb commented on #33845
because ngx-qrcode Uncompiled pass， remove it , now ok!

[2019-11-15 09:38] #33845 closed

[2019-11-15 10:47] filipesilva opened #33849 "Some Ivy errors emit a lot of diagnostics for unrelated files"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core, or maybe compiler-cli

### Is this a regression?

 Not sure

### Description

Some Ivy errors have a simple enough cause, but emit many diagnostics for unrelated things.

The repro below will emit ~4000 lines of errors for instance, whereas only the first error matters.
[code]
## 🔬 Minimal Reproduction
[code]

If

[2019-11-15 10:48] filipesilva commented on #33849
Related to https://github.com/johannesjo/angular2-promise-buttons/issues/27

[2019-11-15 11:06] filipesilva opened #33850 ""ERROR in Unable to write a reference to" building with Ivy"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core, or compiler-cli

### Is this a regression?

 No

### Description

Building using ivy shows the following error:
[code]

## 🔬 Minimal Reproduction
[code]

## 🔥 Exception or Error
<pre><code>
ERROR in Unable to write a reference to MemoryFormatter in D:/sandbox/dashboard/src/app/frontend/common/pipes/memoryformatter

[2019-11-15 11:16] VladimirMishyn commented on #27674
Still remains broken in @angular/router 8.0.3 . It's common use case, and there should be a simple way to update optional(matrix) params of current route without clumsy workarounds or redisigning routes hierarchy.

[2019-11-15 11:30] marcus-sa commented on #31850
So what's the updates on this ?
Or is it possible to achieve it using code splitting in rollup?

[2019-11-15 11:34] d-koppenhagen opened #33851 "Add missing documentation for using schematics with array options"
# 📚 Docs or angular.io bug report

### Description

Hello! my recently opened issue https://github.com/angular/angular-cli/issues/16104 has been closed (thanks for fixing it!) Unfortunatly I couldn't find any point for how to set multi select options via command line in the docs.
My expectation was to do it this way:

[code]

or something similar but I tried out a lot of ways without getting it wo

[2019-11-15 12:06] d-koppenhagen commented on #33851
I tried out some modifications but they lead to the same result:

**schema.d.ts:**
[code]

**schema.json:**

[code]

[2019-11-15 12:23] filipesilva commented on #33850
Seems to be fixed by https://github.com/angular/angular/pull/33828

[2019-11-15 14:08] parliament718 commented on #24547
I'm having this issue too where simply doesnt work.

It starts working only when I remove ```position:absolute;``` on an element which stretches to fit the screen via top, bottom, left, right all set to 0.

In my case the issue is when using https://www.npmjs.com/package/ng-sidebar  as it uses an element like that (stretching to fit screen via position: absolute).

Unfortunately removing position:

[2019-11-15 14:08] raizemm commented on #33650
I think the issue is here on line **1105**:
https://github.com/angular/angular/blob/e51ec671a57c0a96d1fdd9bd327114e894b874ea/packages/core/src/render3/styling/bindings.ts#L1099-L1105

Passing false makes it go into setStyle if statement, make it a string then set it as property.
Just a random investigation, feel free to correct me.

[2019-11-15 14:10] marcus-sa commented on #31310
I've created some `rules_less` internally at work based off `rules_sass`, which works with plugins as well.
I can make the rules open-source if you'd like.

[2019-11-15 14:20] atmosuwiryo commented on #20402
@Modeso I created custom directive to handle img tag since i only care for image cache. Like I've said here https://github.com/angular/angular/issues/20402#issuecomment-510664299

[2019-11-15 14:32] filipesilva commented on #33796
@clydin mentioned that having the star imports causes `ɵɵdefineNgModule` etc to always be property accesses, thus preventing those names from being mangled. This was actually the first reason why we talked about removing the star imports but eventually I forgot about it.

Since the names repeat significantly they should compress to gzip well though.

[2019-11-15 16:36] alexeagle commented on #31310
@marcus-sa what do your rules_less do that couldn't be done in https://github.com/bazelbuild/rules_nodejs/tree/master/examples/app/styles - can we extend that example to cover use cases like less plugins?
I think we should not have less rules.

The question in this issue is really more about auto-configuration. Right now the `@angular/bazel` package is hard-coded to write Bazel configs that unders

[2019-11-15 16:45] alan-agius4 commented on #31310
Also some more benefits of running the @angular-devkit/build-angular under
bazel are that users can still take advantage of steps in the pipeline such
as auto prefixing, css minification, file replacements and more... Which
currently under @angular/bazel are not supported out of the box. And users
will need to configure such rules in their Bazel build files.

On Fri, 15 Nov 2019 at 17:39, Alex Eag

[2019-11-15 17:28] gkalpak commented on #33734
@VladimirAmiorkov, I am trying to reproduce this issue (in order to verify whether #33772 fixes it), but I am getting the following error when running `npm i` inside `e2e/-ivy-sample`:

[code]

Any idea what I might be missing?

##
Another question:
I noticed that the [nativescript-angular-ngcc][1] project in `ngcc-validation` repo fails with a different error.

Can you explain this difference?
Wh

[2019-11-15 17:31] stefanocke commented on #32869
@kara , @JoostK  : unfortunately it still does not work for me. I just upgraded the example project to 9.0.0-rc.2 ...

[2019-11-15 17:37] JoostK commented on #32869
@stefanocke :( Let me check to see what's going on. I did test the PR for your repro, will have another go using rc.2 (I see that you already updated in the repro repo, thanks!)

[2019-11-15 17:46] JoostK commented on #32869
@stefanocke With your latest commit using rc.2 I cannot reproduce. Could it be that I'm missing something? If I edit just a single template I do see the corresponding .js file being updated with the template changes applied.

[2019-11-15 18:10] ajitsinghkaler opened #33858 "On angular http client search title is wrong in results"
# 📚 Docs or angular.io bug report

### Description

Whenever I search angular http client it shows a search result with the title Here - Angular I don't know why this is happening the title tag is fine. This may be an issue because the crawler has not crawled angular.io for some time.

## 🔬 Minimal Reproduction
Search angular http client

### What's the affected URL?**
 https://angular.io/guide/ht

[2019-11-15 18:14] stefanocke commented on #32869
@JoostK thank you, I will try again. Maybe I am missing something myself...

[2019-11-15 18:15] ajitsinghkaler commented on #33812
@Dannybrown2710 we can try to reproduce this in a plunker with the angular versions and we can help everyone if this is an issue.

[2019-11-15 18:29] stefanocke commented on #32869
@JoostK , still no success. I deleted node_modules and started freshly.

Would you mind to give me some details of your successful test?

- Linux or Windows?
- which command / npm script did you use?
- which template did you change and which *.js file did you check?

(I know, most of that is obvious. But just to see if there is subtle different detail...)

[2019-11-15 18:43] #33485 closed

[2019-11-15 18:43] #16643 closed

[2019-11-15 18:44] #33448 closed

[2019-11-15 18:45] VladimirAmiorkov commented on #33734
@gkalpak
You have to build the `nativescript-angular` package. Do the following:

- From the root of the repo execute `cd nativescript-angular && npm i && npm run pack` (this will build the `@nativescript/angular` package, make it into a .tgz and place it in a `dist` directory of the repo)
- From the root of the repo execute `cd nativescript-angular-package && npm i && npm run pack-with-scoped-ver

[2019-11-15 18:48] JoostK commented on #32869
OS X using Node 12

`npm run ngc-app-watch`

Mostly `src/app/app.component.html` by adding some text after the `Welcome to {{ title }}!`, then I check `out-tsc/src/app/app.component.js`. I have also deleted `app-comp2` to `app-comp20`, which is also refreshed correctly, then re-adding them back also works correctly for me. Additionally have I changed some test in `src/app/ballast/comp1/comp1.compo

[2019-11-15 18:56] VladimirAmiorkov commented on #33734
If you are walking about this errors, I have not seen them before. In my testing I was not able to get that far due to this "Maximum call stack size exceeded" exception. Maybe the ngcc-validator is using an internal version of ngcc? I was using the current 9.0.0-rc.1 version.

[2019-11-15 18:57] stefanocke commented on #32869
This new part of the code results in `C:\\{some-path-on-my-machine}\\src\\app\\app.component.html` for me, which seems to be correct:
[code]

[2019-11-15 19:04] stefanocke commented on #32869
Okay, if I add C:/{some-path-on-my-machine}/src/app/app.component.html to the modifiedResourceFiles, it works!
That is, it is still an Windows related issue with separatot "\\"  instead of "/".

[2019-11-15 19:05] JoostK commented on #32869
Can you place strategic breakpoints in these locations:

https://github.com/angular/angular/blob/5ad1e5f5ecd57d34317c9af3c32c55e7672a93f2/packages/compiler-cli/src/ngtsc/incremental/src/state.ts#L34

https://github.com/angular/angular/blob/5ad1e5f5ecd57d34317c9af3c32c55e7672a93f2/packages/compiler-cli/src/perform_watch.ts#L201

and possible here as well:

https://github.com/angular/angular/blob/5a

[2019-11-15 19:07] JoostK commented on #32869
Hmm, thanks for finding the culprit. This is surprising to me, as the test I added is also run on Windows (we had to revert it initially because it wasn't working). I'll have a look!

[2019-11-15 19:16] stefanocke commented on #32869
Thank you again. Since it somehow get lost during markup formatting, I would like to emphasize that I replaced **double-backslash** by slash in the path.

[2019-11-15 19:30] andrewseguin opened #33859 ""Updating to Angular Version 9" - Code contains incorrect hyperlink to @angular/forms"
Docs page: https://next.angular.io/guide/updating-to-version-9

For some reason, the code snippet under "Updating CLI Apps" contains a hyperlink to `api/forms/NgModel#update`

![WLK2HjsgmC5](https://user-images.githubusercontent.com/22898577/68970068-5116de80-079b-11ea-9375-0b3dc89b7224.png)

[2019-11-15 19:35] SergeyCherman commented on #33731
Nice blog post. Your link to the sample app is broken though: https://angular-change-detection-demo.netlify.com/simple-demo

[2019-11-15 20:27] Yona-Appletree commented on #33842
This is a duplicate of #13921 and probably a good use case for #13925. I may potentially create another issue requesting DOM hooks.

[2019-11-15 21:11] IgorMinar commented on #33859
@petebacondarwin should we work around this by not using syntax highlighting / code snippet or is this an easy fix?

[2019-11-15 22:18] gkalpak commented on #33734
Thx, I'll give it another try.
(BTW, `ngcc-validation` uses the latest Angular version from the master branch (with a few hours delay), so it is newer than the latest released version.)

[2019-11-15 23:00] dannyskoog commented on #33701
The only lead I've found so far is that once I change the `target` in `tsconfig.json` from `es5` to `es2015` everything works properly. Take note @petebacondarwin

I will continue trying to create a reproduction

[2019-11-15 23:25] naveedahmed1 opened #33864 "Angular IVY - core.js:6161 ERROR TypeError: Cannot read property 'appendChild' of undefined"
# 🐞 bug report

### Affected Package
Angular IVY

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 8.x

### Description
I am not sure if this issue is related to IVY or an issue with the plugin. But since this plugin works with Angular 8.x without any issue and the error points to `platform-browser` that's why I am reporting it here.

I recently started

[2019-11-16 00:16] #31446 closed

[2019-11-16 00:35] IgorMinar commented on #32213
@alxhub says that https://github.com/angular/angular/pull/33862 should fix this one as well

[2019-11-16 01:26] brandonroberts commented on #33701
@petebacondarwin @dannyskoog I was able to reproduce the issue when using NgRx within a library, and the target is `es5`.

Here is the repo: https://github.com/brandonroberts/ngrx-ivy-lib-build-error.

1. clone repo
2. run `yarn` to install dependencies
3. run `ng build my-lib` to build the library
4. run `ng build` to build the app
5. note the build error as the same error mentioned above

[2019-11-16 04:19] ajitsinghkaler commented on #810
@PascalPrecht @mhevery @kara I think we can close this issue. Please correct me if this issue holds relevance in angular 2+.

[2019-11-16 07:02] pkozlowski-opensource commented on #33847
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-16 07:02] #33847 closed

[2019-11-16 07:03] pkozlowski-opensource commented on #33833
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-16 07:03] #33833 closed

[2019-11-16 07:05] pkozlowski-opensource commented on #33812
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2019-11-16 07:05] #33812 closed

[2019-11-16 07:23] pkozlowski-opensource commented on #33814
Yes, this is a duplicate of #25160

[2019-11-16 07:23] #33814 closed

[2019-11-16 08:03] JiaLiPassion commented on #33846
@AlexMa1er, this is not a bug, but a behavior change, before `zone.js 0.10.0`, zone.js will automatically patch `Object.defineProperty` and try to make every property `configurable = true` to make some old browser's API patchable, but it will cause some other problems, so from `zone.js 0.10.0`, with `evergreen browser`, zone.js will not patch `Object.defineProperty` automatically, so when you call

[2019-11-16 08:07] JiaLiPassion commented on #33710
@fabriziodebortoli, I met the same issue before,
could you try.
[code]

then build again.

[2019-11-16 08:09] walidabouzaid commented on #33836
@blemaire , @alxhub I already did these steps, but these steps don't produce some necessary files like main.d.ts or index.d.ts as I knew from someone in other related issue.

It's not about to just reply and **VOA LA** every thing is working by its self. The steps is not enough to produce a working library.0 Surely you've missed a major and critical thing that do not enable the library from workin

[2019-11-16 08:22] JiaLiPassion commented on #33657
@daleclements, this is not a bug, it should be `undefined` you can check the `jasmine.createSpyObj` usage here, https://github.com/jasmine/jasmine/pull/1722/files#diff-f627290893ae16272e030bb1632e9c0dR178-R205

[2019-11-16 08:50] stefanocke commented on #32869
@JoostK , could you please re-open. I cannot...

[2019-11-16 08:55] JiaLiPassion commented on #33819
@kdshop, this is not an issue, you are missing `()` after `inject`.

[code]

[2019-11-16 08:57] JiaLiPassion commented on #33657
I accidentally clicked the `close and comment` button, please confirm and close this issue.

[2019-11-16 08:58] JiaLiPassion commented on #33819
I accidentally clicked the `close and comment` button, please confirm and close this issue.

[2019-11-16 12:11] marcorpsa opened #33871 "Unknown option --route"
# 📚 Docs or angular.io bug report

### Description

When following the instructions on this page
https://angular.io/guide/lazy-loading-ngmodules
I get the following
Unknown option: '--route'
Unknown option: 'customer-list'

## 🔬 Minimal Reproduction
Follow the directions in the URL above
From a terminal
1. Create project folder and change directory to this folder
2. Run the _**ng new customer-app

[2019-11-16 12:11] marcorpsa opened #33893 "Unknown option --route"
# 📚 Docs or angular.io bug report

### Description

When following the instructions on this page
https://angular.io/guide/lazy-loading-ngmodules
I get the following
Unknown option: '--route'
Unknown option: 'customer-list'

## 🔬 Minimal Reproduction
Follow the directions in the URL above
From a terminal
1. Create project folder and change directory to this folder
2. Run the _**ng new customer-app

[2019-11-16 12:39] kamlesh0606 opened #33872 "dynamical module load then entryComponents Not work in Angular 8"
# 🐞 bug report

### Is this a regression?
Angular 8

### Description
i  implemented  dynamical module load in Angular 7. now ,i move to Angular 8 . i found one problem. like in angular 7, entryComponents load in NgbModel But in  Angular 8  , not working.

## 🔬 Minimal Reproduction
Angular 7 Code -
[code]

Angular 8 Code -

[code]

Popup Open Code -

[code]

[2019-11-16 12:45] eseliger opened #33873 "ngSwitchCase doesn't handle undefined properly"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/common

### Is this a regression?

No

### Description

It's currently impossible to use the type system to forbid invalid states. An example for that would be:

[code]
would result in 6 possible configurations, of which only 3 would be a valid state. To handle that case better, the following is possible

[code]

Using ng

[2019-11-16 13:22] petebacondarwin commented on #33859
I suggest that we change the auto-code-linking so that it either:

* does not try to link blocks that are marked as `bash` language
* only links blocks that are marked as `ts` language

[2019-11-16 13:54] somu93 commented on #13373
Hey Is there Any Other Solution To Redirect To that Particular Child Route other than Using canActive.
I am facing the same issue and it will happen only when you trying to load a  Module lazily when the App starts. Surprisingly it will work fine if we redirect to this lazy-loaded module from some other module through **route.navigate['/LazyModule']**.

My Code :

**app-routing.module.ts** :
const

[2019-11-16 13:59] JoostK commented on #33701
@brandonroberts @dannyskoog Thanks for providing this information. Together with  https://github.com/angular/angular/issues/33100#issuecomment-546610580 this helped me track down the issue.

This is an appearance of a bug that #32902 was supposed to have fixed. I don't know exactly how this can still be broken as I recall that fix to have made a difference back then, but apparently some other circ

[2019-11-16 14:39] darrenli912 opened #33874 "httpclient example codes are failed to compile."
# 📚 Docs or angular.io bug report

### Description

I want to test the example code from https://angular.io/guide/http.
The code file is from https://angular.io/generated/zips/http/http.zip.
I unziped the http.zip, then  tried to run the project with ng serve

I got the following errors:

ERROR in ./src/app/heroes/heroes.service.spec.ts
Module build failed (from ./node_modules/@ngtools/webpack/src

[2019-11-16 17:21] ajitsinghkaler commented on #33871
Hey I am using the same commands but I'm not getting any such issue Can you please reproduce it on a plunker.

[2019-11-16 17:23] ajitsinghkaler commented on #33871
There seems to be a different issue with your code.

[2019-11-16 17:28] marcorpsa commented on #33871
@ajitsinghkaler,

This is not a code issue - it is a scaffolding issue with the CLI. The --routing parameter is not supported on the version I have.

I can't produce a plunker as this is about setting the project up - not about the code.

I suspect this is a version problem - what version of CLI and Angular are you using?

[2019-11-16 17:58] marcorpsa commented on #33871
Ok, the cause of the problem is that angular needs to be > 8.0 (at least - I am not sure of the exact version - I was on 8.0.6 and updated to 8.3.19 and now it works).

I still feel there is an error in the docs. The docs do not
a) specify the version needed to use the --routing option
b) specify the alternative if you are not on the required version.
Most other dev environments I know give versio

[2019-11-16 20:49] gidon-handler opened #33876 "Animations"
While Angular is a technological marvel, I can't understand why we need to go to such length to animate an element when it can be done with two lines of CSS.
The code here is from the docs. Why all the fuss when I can do it so simply with CSS.
What am I missing (not talking about Route transition animations).

[code]

[2019-11-16 20:53] dannyskoog commented on #33701
Our pleasure @JoostK. And thanks for that thorough ellaboration on the root cause 👍

[2019-11-16 22:17] petebacondarwin commented on #33859
https://github.com/angular/angular/pull/33877 should fix this.

[2019-11-16 23:05] simeyla commented on #22125
Amazed I haven't run into this before.

Temporary fix in my `.ts` file

    notNull = (value: number | null) => value != null;

Then in the template:

     *ngIf="notNull(item.quantities.oneTimeQty)"

If this is ever fixed it'll be easy to go back and find.

[2019-11-17 04:01] kajalsinha12 opened #33879 "HttpClient.get method does not throw an error on passing null for URL"
The HttpClient.get method from @angular/common/http does not throw an error on passing null for the URL parameter. This should be handled in the framework itself, otherwise the developer has to  put a check for handling the same.

[2019-11-17 06:01] Airblader commented on #33876
If you're happy using CSS, use CSS. Take another look at the animation framework when you want to do a complex animation and can't figure out how to do it in CSS.

[2019-11-17 10:15] chimung commented on #20694
But it seems to not mention how to work with multiple outlet

[2019-11-17 12:33] cakeinpanic opened #33880 "ng8 vs ng5 different CORS behaviour"
# 🐞 ng8 ang ng5 HttpClient behave differently

### Affected Package
` "@angular/core": "8.2.13"`
vs
` "@angular/core": "5.2.11"`

### Description

I am refactoring the app, at the same moment migrating angular from 5 to 8
In both apps I have the same request that is sent to a backend that is working on localhost
I am running both frontend applications on the same port(not simultaneously, in rotati

[2019-11-17 12:41] dannyskoog commented on #33879
I would argue that there’s a major malfunction on the framework consumer side if `null` were to ever be passed as `url` to the `HttpClient.get` function. Especially since passing a proper `string` for that particular parameter is fundamental for the function itself (which is obvious).

Therefore the validation in this case should happen on the consumer side IMHO.

[2019-11-17 13:43] walidabouzaid commented on #33836
Dears @blemaire , @alxhub  ,
I'm still waiting your response. Really I'm in a showstopper. No way to use my NPM on different app. after puplishing it to local npm feed on TFS server on my company premises.

If you have no time kindly mention anybody.
### URGENT HELP NEEDED

[2019-11-17 13:52] naveedahmed1 opened #33881 "Angular IVY - Chrome UX Reports URL as SLOW - Main Bundle Size for Mid size applications is still large"
# 🐞 bug report

### Affected Package
Angular 9.0.0-rc.2

### Is this a regression?
 No

### Description

I have a mid size app (Mustakbil.com), when I build it for productions the size of my main bundle (es2015) is 1.17Mb. If I use bundle analyzer to explore the main bundle, the size of the Angular related modules is 891kb, rxjs is 105kb, @firebase is 20kb.

![mustakbil-main-bundle](https://user-i

[2019-11-17 14:56] kajalsinha12 commented on #33879
I agree to the part where you say that the consumer side should not pass null, but nobody would intentionally do that. Few examples I can give where unintentionally null or undefined could be passed are as below:
1. I had by mistake declared my class variable as `private url: 'api/products/products.json'`. And I was using the `url` variable in the `HttpClient.get` method. The application did not t

[2019-11-17 15:11] mlc-mlapis commented on #33836
@walidabouzaid You still don't have a reproduction of your problem. It means as simple as a possible project published (GitHub for example) that allows step by step to reproduce it. This is always required, so don't be surprised that nobody responses.

[2019-11-17 15:19] JoostK commented on #30818
`@syncfusion/ej2-ng-grids` is not bootstrapping as its lifecycle methods are provided [by a mixin mechanism](https://github.com/syncfusion/ej2-ng-grids/blob/69986218e4f67a5a1fdd3d59dfe2b79316bcdf95/src/grid/grid.component.ts#L95) that are not visible to the Ivy runtime, as they are bound too late. Related issue: #31495

[2019-11-17 15:27] Univream opened #33882 "Defining the bootstrapped component"
Why do I have to define the entry point into the application twice, once in the module which is bootstrapped and once in the index.html. Seems duplicate in the html file.  Is this on purpose?

[2019-11-17 17:48] matthewjh opened #33883 "Type check Provider when used with InjectionToken<T>"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/....

@angular/core
@angular/cli

### Description

`InjectionToken`s are typed, but you can provide any value for them without any type-check error, even in an AOT build.

[code]

### Describe the solution you'd like

I expect the above to produce some sort of error, at least in an AOT build. I think there needs to be

[2019-11-17 18:23] JoostK commented on #33153
I looked into this just now, there is a bug in how the static interpreter keeps track of module imports. It only keeps the latest seen import path, whereas it should be relative to the initial file.

[2019-11-17 21:37] negue commented on #33685
At first I thought this issue was only after an error happened, but now this happens to me randomly on a rebuild (9.0.0-rc.2) with material components (currently only using these as 3rd party components) - the only fix is to kill and restart the `serve` process.

[2019-11-17 21:42] neofuture opened #33885 "css @keyframes leak between components"
Ive found that @keyframes are not component based and a @keyframes used in one component will work across multiple components,

I found this our by trial as I had the same @keyframes in two different components, used the same CSS rules for an .active state and one components was over righting the other

[2019-11-17 23:11] kumaresan-subramani commented on #30818
@JoostK , This is deprecated package. Try @syncfusion/ej2-angular-grid, which is bootraped properly. And i have used ng-packagr to generate ej2-angular-grid package.

[2019-11-18 02:12] chimung opened #33887 "RouterLink directive render wrong URL which contains named outlet"
# 🐞 bug report

### Affected Package
@angular/router

### Is this a regression?
No

### Description
When i using directive RouterLink to render URL, instead of updating outlet path, it append new outlet.
[code]
Expected
[code]
Actual
[code]

## 🔬 Minimal Reproduction

 [Stackblitz](https://angular-rwhvmh.stackblitz.io)

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

**

[2019-11-18 03:59] cocolink021195 commented on #30885
I have the same error "ERROR in Value [object Object] is not literal and cannot be used in this context".
Although, I have fixed 'foo' + 'bar' and objA | | objB in my code but the error still exists.
I expect the error messages will be more useful in the future. Thank you.

[2019-11-18 04:56] JoostK commented on #30885
This error is no longer produced, are you in the latest 9.0 RC release?

[2019-11-18 06:54] cocolink021195 commented on #30885
I have updated to RC 9.0 but I get this error `ERROR in templateUrl must be a string`  here

<img src="https://imgur.com/w5CMCki">

[2019-11-18 06:59] keatkeat87 commented on #31154
![dada](https://user-images.githubusercontent.com/8691013/69030868-b117ba00-0a13-11ea-8b6f-b2894ce6408f.gif)

This is an user experience on google ads

sidenav (for parent) + tabnav (for child)

sidenav routerLink = "/aw/keywords"
tab1 routerLink = ""
tab2 routerLink = "negative"

the user behavior is like that
1. click sidenav (visit tab1)
2. click tab negative (visit tab2)
3. click sidenav again

[2019-11-18 07:38] mhintzke opened #33888 "strictMetadataEmit causing unclear error message to occur during build"
# 🐞 bug report

### Affected Package
This appears to be a compiler issue so my guess would be @angular/compiler-cli

### Is this a regression?
Not sure, I have never used this feature before

### Description

I believe a specific compiler options called `strictMetadataEmit` is the problem. Either the error is displaying as a false positive, or this code is supposed to fail the build, but maybe a b

[2019-11-18 08:04] WuZhenXing opened #33889 "angular renderer insertBefore method element, only one"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

 A clear and concise description of the problem...
I created a directive，add a divider to each child element, but only one divider.
example：
| is divider.
12345 is elements.
In the for loop
step1:  1

[2019-11-18 08:48] kumaresan-subramani commented on #31495
I can't use your workaround in my condition. refer below - https://github.com/syncfusion/ej2-angular-ui-components/blob/master/components/grids/src/grid/grid.component.ts#L29

[2019-11-18 08:51] postnikovpasha opened #33890 "EventEmitter () with the name "change""
Why when changing <select> EventEmitter () called "change" is called?
At the same time, EventEmitter () with the name "change" is used in a completely different function and is in no way associated with <select>.
[code]
[code]

[2019-11-18 08:59] kschwidder commented on #33881
I agree to the findings. We compiled our app with IVY rc2 (--prod) and the size is 3.3 MB instead of 1.6MB with angular 8.x The size of the bundle is definitely to big. I hope that the final release is far better.
As stated with IVY it was the goal to reduce the bundle size heavily :-)

State of IVY is promising so far except some inconvenience with external libs (ngx-charts e.g.)

[2019-11-18 09:08] Airblader commented on #28731
With the `ngTemplateContextGuard` and `ngAcceptInputType_*` functions as recent additions, Angular has moved towards pragmatic decisions to improve type safety support in Angular. In the spirit of that I would like to bring attention to this issue again and propose a similarly pragmatic approach.

Lack of type safety for ng-template is one of the big places in Angular at the moment where type safe

[2019-11-18 10:05] spock123 commented on #33701
Thank you so much guys!

[2019-11-18 10:10] dogmatico commented on #33881
I've to check with the a RC, but with previous v9 and v8 Ivy build we found that the optimization isn't working as with VE and much more packages are put into the main bundle.

For example, we use an app shell with route and custom elements, using the aio technique, lazy loading. Libraries, like parts of Angular Material or Luxon, which were used in lazy-loaded parts of the application were moved

[2019-11-18 10:56] kumaresan-subramani opened #33892 "Is there any way to prevent "ngOndestroy" hook triggering?"
# 🚀 feature request

IS there any way to prevent "angular" hook getting triggered.

I need this because of below :
https://stackoverflow.com/questions/58875510/how-to-delay-ngondestroy-hook-calling-while-components-destroy

[2019-11-18 10:56] kumaresan-subramani commented on #33892
@alan-agius4 , i am expecting your suggestion. Please check this.

[2019-11-18 11:10] alan-agius4 commented on #33893
@marcorpsa, indeed you are right, this is because the docs get updated and reflect the latest changes. This feature was added in 8.1 and is not available in 8.0.

If you want to check how to create lazy loaded modules with the CLI pre 8.1 you can check the version 7 of the docs: https://v7.angular.io/guide/lazy-loading-ngmodules

That being said, I think your suggestion makes sense and we should h

[2019-11-18 11:50] marcorpsa commented on #33893
@alan - thanks for the links I am on top of lazy loading now - my issue is with documentation that leaves developers scratching their heads - it is totally unnecessary and incredibly frustrating.

As you recommend - something to indicate minimum version and where to get info for previous versions would be great.

Just as a sidebar this was my experience (cost me a couple of hours). Looked up lazy

[2019-11-18 12:09] gkalpak commented on #33858
I search `angular http client` in an incognito window and the result seemed correct to me:

![ng-http-search](https://user-images.githubusercontent.com/8604205/69050957-ba048d80-0a0b-11ea-8e4b-6860660ba91f.png)

Not sure there is anything to do here. Maybe it was caching issue or an outdated index.

I looked at the page in Google Search Console and it looked correct, but I requested re-indexing ju

[2019-11-18 13:12] naveedahmed1 commented on #33881
In my case IVY reduced app size as well as main bundle size. But my concern is that the size of main bundle is still large.

Though for desktop and fast internet connection it's not an issue but for mobile with slow internet connection it certainly is an issue. As a result it will also have negative affect on website's SEO.

Especially because Google is now showing pages as slow in Search Console

[2019-11-18 13:26] Aw3same commented on #33655
Finally we got it. The cyclic dependencie was caused by a provider declaration in `core.module.ts`. changing this:
<code>
  providers: [
    {
      provide: ErrorHandler,
      useClass: GlobalErrorHandler,
    },
    /**...*/
  ]
</code>

To this:
<code>
  providers: [
    GlobalErrorHandler,
    /**...*/
  ]
</code>

The cyclic dependencie dissapears.

[2019-11-18 13:26] #33655 closed

[2019-11-18 13:27] Airblader commented on #33890
`change` is a native event. You should name the emitter something else.

[2019-11-18 13:41] pkozlowski-opensource commented on #33885
@neofuture could you please provide a minimal reproduce scenario so we can investigate and fix? There is not much we can do without more details / reproduce scenario...

[2019-11-18 13:43] pkozlowski-opensource commented on #33890
Note: the main problem here is that we've got no way of distinguishing DOM events vs. directive outputs. This is already traced in #4593 / #4059

[2019-11-18 14:00] BojanKogoj commented on #24094
There is a pull request opened (https://github.com/angular/angular/pull/29709), but nothing has been done about it.

@matsko any chance this will be merged?

[2019-11-18 15:05] naveedahmed1 commented on #33881
Let me also share Chrome UX report from Search Console, in August we upgraded to Angular IVY, the Speed report takes around 28 days to reflect changes. And you can see that on around Sep 24, it did improve the speed for some of the urls to moderate level but its still not fast.

![chrome-ux-report](https://user-images.githubusercontent.com/7761180/69063336-25ffe980-0a3e-11ea-9bfd-3d85d99b8cdf.jpg)

[2019-11-18 15:38] Airblader opened #33896 "Language service infers incorrect type in structural directive using "as""
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/language-service.

### Is this a regression?

I don't think so.

### Description

According to the [docs](https://angular.io/guide/structural-directives), the structural directive syntax

[code]

is desuggared into the following:

[code]

If the structural directive has an `appTest` property on the context with which it c

[2019-11-18 15:46] ericsnap commented on #22125
@simeyla yeah, that's how you _workaround_ it, but remember that expressions like that get evaluated at _every_ change detection. So, if you have hundreds or thousands of items, this could be an issue. We still need a long term solution (ivy?)

[2019-11-18 15:56] sysmat opened #33897 "date pipe documentation is misleading, the date pipe is a pure pipe"
Update: See https://github.com/angular/angular/issues/33897#issuecomment-555440953 for info about the docs issue.

Original issue:
-----

# 🐞 bug report

### Affected Package

@angular/core

### Is this a regression?

 Yes, the previous versions work fine

### Description
I have two properties in TS which I render in html for the first time with ok, then with function(TS) I change values but in ht

[2019-11-18 16:24] JoostK commented on #30818
@kumaresan-subramani Ah, I'm _super_ confused by all this, but it appears I did test `@syncfusion/ej2-angular-grid` and it's basically failing because of the same reason: the `@ComponentMixins([ComponentBase])` is applied after the Ivy runtime has captured the component's details, so the overridden lifecycle hooks are never called.

[2019-11-18 16:32] scottieslg commented on #17010
Still no answer on this??

I'm fighting change detection on my ErrorHandler almost daily!  If I have any kind of template error, it goes into an infinite console.error loop and I have to force close the browser to exit.

None of the ngZone or changeDetectorRef workarounds are working for me.

I honestly can't see how this isn't priority #1 on the Angular team???  This happens to me on every single

[2019-11-18 16:56] Univream commented on #33882
Found the solution: Angular scans the document for the component selector to bootstrap and then replaces it. So no duplicate.

[2019-11-18 16:56] #33882 closed

[2019-11-18 17:10] IgorMinar commented on #33825
Hi @jburtondev,

We don't use Html Imports so that warning must be coming from some other code outside of the Angular framework.

[2019-11-18 17:10] #33825 closed

[2019-11-18 17:11] #33859 closed

[2019-11-18 17:11] #33701 closed

[2019-11-18 17:12] Vikki123 commented on #17010
Using runGuarded() instead of run() solved the issue temporarily for me.

https://angular.io/api/core/NgZone#runguarded

[2019-11-18 17:12] #33771 closed

[2019-11-18 17:35] JoostK commented on #33897
Hey, what are we supposed to see? I see the exact same result in your StackBlitz under 9.0-rc.2 and 8.3.14, both running View Engine. Also this seems like the expected behavior to me, as the `Date` value is mutated which the `date` pipe doesn't consider, given that it's pure (which means it requires a new `Date` reference for a change to be picked up)

[2019-11-18 17:45] gkalpak commented on #33734
I was able to reproduce the problem. I tried with the latest from master with #33772 on top and the error goes away :tada:
There's another error, though 😞

[code]

Looking into that...

[2019-11-18 17:58] elvisbegovic commented on #33685
More infos: my issue with certain lib happened at first « ng serve » at runtime and only when I navigate to the lazyroute where I use lib’s directive.

And if I remove deps of the 3th party lib I can confirm what @negue is saying, I get some `* is not a kown element` when CLI rebuild.

[2019-11-18 18:13] petterhoel commented on #32272
rc-2 seems to have resolved this for me 🥳

[2019-11-18 18:13] VladimirAmiorkov commented on #33734
Hmm, I have seen this exact error and from what I remember it was due to ngc not executed on the @nativescript/angular package. Did you execute the old ngc before testing the ngcc ?

[2019-11-18 18:46] pkozlowski-opensource commented on #33897
I'm with @JoostK here - the way I understand things is that mutating an internal state of the `Date` object should _not_ trigger change detection.

Note: the stackblitz doesn't run ivy so it actually _confirms_ that view engine is _not_ updating values...

I'm going to close this issue now based on the above. @sysmat  happy to re-open if you can demonstrate a regression. Thank you!

[2019-11-18 18:57] ajitsinghkaler commented on #33858
@gkalpak maybe this may be an internationalization problem because it is showing the same in all my devices and browsers even in incognito.

[2019-11-18 18:58] pkozlowski-opensource commented on #33889
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-18 18:58] #33889 closed

[2019-11-18 19:00] pkozlowski-opensource commented on #33880
@cakeinpanic hmmm, this sounds really interesting but _unlikely_ that Angular version change would impact anything in terms of CORS behaviour. Since we can't investigate it on our end I'm afraid that you will have to dig deeper and try to narrow down the issue more.

There is nothing we can do given the set of information provided...

[2019-11-18 19:16] neofuture commented on #33885
https://stackblitz.com/edit/angular-move4o

top box should cycle between red and white

bottom one should cycle between blue and white

result

both cycle by the last defined @keyframes in the demo2 css

[2019-11-18 19:19] gkalpak commented on #33734
I used the instructions from https://github.com/angular/angular/issues/33734#issuecomment-554481454. At what point should I run ngc?

[2019-11-18 19:28] pkozlowski-opensource commented on #33885
@neofuture thnx for the reproduce scenario. Now, one more thing to clarify: in the issue title you've put "Ivy RC0" while your stackblitz:
* is running on Angular `Ivy RC0`
* it has _no_ ivy enabled (stackblitz doesn't run with ivy).

It doesn't seem like this issue is RC.0 / ivy specific as we can reproduce it with another Angular version / without ivy. So in this sense it doesn't seem to be a re

[2019-11-18 19:33] pkozlowski-opensource commented on #33887
@chimung you've marked it as a regression so I wanted to ask what is the previous Angular version where it worked correctly for you?

[2019-11-18 19:39] pkozlowski-opensource commented on #33892
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-18 19:39] #33892 closed

[2019-11-18 20:16] VladimirAmiorkov commented on #33734
I see. If the `cd nativescript-angular && npm i && npm run pack`  was successful then the ngc was ran by the prepare script, you can verify that, if there are `*. metadata.json` files in the @nativescript/angular package than ngc has been done.

Other than that I will have to test this locally and see what can be the cause of this. The error `Expected array when reading the NgModule.declarations o

[2019-11-18 20:33] JiaLiPassion commented on #33799
@artaommahe, I just checked the `jest API` again, and the current `tick()` behavior is not a bug. It is the same with `jest.advanceTimersByTime`.
[code]

will be the same behavior with `tick`.

So what you want is a `fakeAsync version` of `runOnlyPendingTimers` which will not invoke `nested setTimeout`?

[2019-11-18 20:34] JoostK commented on #31912
This is a bug in the packaged library, the `"module"` field within [the package.json file](https://unpkg.com/browse/ngx-segment-analytics@1.4.0/package.json) points to `ngx-segment-analytics.js`, which does not exist. Either index.js needs to be renamed, or the module field needs to be adjusted.

Anyway, you can resolve the issue by configuring ngcc to use an override for the module property. In t

[2019-11-18 20:44] gkalpak commented on #33734
Yeah, the metadata files are there. In the compiled `common.js` file, the declarations look like this: `declarations: __spreadArrays([dialogs_1.ModalDialogHost], directives_1.NS_DIRECTIVES)`

So, it looks like `__spreadArrays()` is what throws ngcc off. Looks like an ngcc issue. I'll look into it and let you know.

[2019-11-18 20:58] Airblader opened #33905 "Structural directives documentation does not mention type guards"
### Description

The documentation for structural directives make no mention of type guards for either inputs or the context (ngTemplateGuard_x, ngTemplateContextGuard). However, especially with Ivy this will be important information for anyone looking to write custom structural directives.

### What's the affected URL?**
https://angular.io/guide/structural-directives

[2019-11-18 21:00] alxhub commented on #33153
@JoostK that's actually how it _should_ work - if we report a `bestGuessOwningModule` for ` Reference`, it should be the last absolute import that we saw on our way there.

E.g.

[code]

where `lib-a` does:
[code]

should give back a reference to `B` with `bestGuessOwningModule: 'lib-b'`, even though the user never explicitly imported `lib-b`.

[2019-11-18 21:00] Airblader commented on #33905
The corresponding implementations in NgIf¹ and NgForOf² do comment on this fairly well, which I assume is due to this being emitted into thee API docs. But I think it would be good to actually put it into the above mentioned guide.

¹ https://github.com/angular/angular/blob/8.2.14/packages/common/src/directives/ng_if.ts#L227
² https://github.com/angular/angular/blob/8.2.14/packages/common/src/dire

[2019-11-18 21:04] artaommahe commented on #33799
yep, does not matter same function or a new one, just an ability to invoke only pending timeouts

[2019-11-18 21:13] SeanCondon opened #33906 "packaging of @angular/bazel changes esm5.bzl to a format that breaks buildifier_check"
# 🐞 bug report

### Affected Package
@angular/bazel

### Is this a regression?
Yes this seems to be present in at least all of 8.2.x releases

### Description
When I download @angular/bazel from npmjs.org at
https://registry.npmjs.org/@angular/bazel/-/bazel-8.2.13.tgz

I can see that the file src/esm5.bzl has a whitespace tab where some text is removed by the packager. This tab causes problems for

[2019-11-18 21:15] JoostK commented on #33153
@alxhub For absolute module paths that would be the case, the issue here is with relative module specifiers. This is the pattern I observed:

[code]

In the `defineNgModule` call in `index.ts`, the reference to `SomeComponent` is imported from './some-component', whereas it actually lives at './components/some-component'. This looks like a situation that we ought to be able to handle correctly.

[2019-11-18 21:18] Airblader commented on #25976
IMHO pipes have another major benefit, which is centralizing formatting logic for reusability. In our applications we have a lot of enums, and enums want to be displayed in a readable format or be mapped to a specific icon etc. Having pipes for these makes it very easy to manage this logic separately and DRY. The same *could* be achieved by services, but that would require manually injecting them

[2019-11-18 21:45] alxhub commented on #33153
Hmm. That should have nothing to do with the `PartialEvaluator`, which doesn't attempt to generate module specifiers at all.

[2019-11-18 21:51] mhevery commented on #32748
works with latest closing

[2019-11-18 21:51] #32748 closed

[2019-11-18 21:55] smlee commented on #32000
Anyone figure out this issue yet?

[2019-11-18 21:58] damsorian commented on #32556
any update for this?

[2019-11-18 22:04] pyrrhicman commented on #19866
@damienwebdev Thanks for the example I had the same problem and I got it fixed

Although I should add this note if you don't use states you need to pass value: true to get it work.

`  inOutAnimation: trigger('inOutAnimation', [
    transition(
      ':enter',
      [
        sequence([
          style({
            opacity: 0,
            height: 0,
            'min-height': 0,
            transi

[2019-11-18 22:08] jbogarthyde commented on #33278
@Splaktar Please check out new PR

[2019-11-18 22:14] JoostK commented on #31495
@kumaresan-subramani From within your empty lifecycle methods, you should delegate into the mixin field.

[2019-11-18 22:23] artaommahe commented on #33799
also its unexpected behavior that tick flushs nested timeouts and would be cool to see doc updated )

[2019-11-18 22:29] neofuture opened #33910 "Failed to compile after adding @angular/pwa"
# 🐞 bug report

### Affected Package
@angular/pwa

### Description
Added Angular/PWA and failed to complie

## 🔥 Exception or Error
<pre><code>

10% building 3/3 modules 0 activeℹ ｢wds｣: Project is running at http://localhost:4200/webpack-dev-server/
ℹ ｢wds｣: webpack output is served from /
ℹ ｢wds｣: 404s will fallback to //index.html

chunk {0} 0.js, 0.js.map () 1.25 kB  [rendered]
chunk {1} 1.js,

[2019-11-18 23:03] neofuture commented on #33910
How I got round the issue (Mac)

1) Created a brand new project
2) Update to RC.2
3) ng add @angular/pwa
4) Copy over source from other project
5) make sure the changes are in the jsons retained, they got nuked Doh !!!
6) Nuke node_modules
7) SUDO ng add @angular/pwa
8) Nuke node_modules again
9) yarn install
10) Compile
11) ng build --prod now has service workers

[2019-11-18 23:05] neofuture commented on #33910
<pre><code>
     _                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
  / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
 /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                |___/

Angular CLI: 9.0.0-rc.2
Node: 12.13.0
OS: darwin x64
Angul

[2019-11-18 23:47] #33579 closed

[2019-11-18 23:49] #33695 closed

[2019-11-19 00:04] neofuture opened #33913 "Cant interpolate aria-label"
# 🐞 bug report

### Description

Unable to use aria-label="{{ var }}"

## 🔬 Minimal Reproduction

This works

<code><pre>
<input id="searchBox" type="text" placeholder="{{ search }}" [(ngModel)]="searchTerm"
         (keyup)="checkKeys($event)"
         (keydown)="preventCursor($event)"
         (blur)="closeSearchDebounce()"
         (focus)="checkKeys($event)"
         (click)="consolelog($event

[2019-11-19 00:08] neofuture commented on #33913
[attr.aria-label] is the only answer ?

[2019-11-19 00:23] neofuture commented on #33913
My Bad should have read the docs

[2019-11-19 00:23] #33913 closed

[2019-11-19 00:53] sajesh1985 opened #33914 "Angular 8 HttpInterceptor giving error next.handle() is not a function"
I am upgrading my angular 5 application to angular 8, I am creating HttpInterceptor but i am getting error ERROR next.handle is not a function (core.js).I checked HttpClientModule is loaded only once. Not sure what is the issue.

Can you please help me to fix this.

 import { HttpEvent, HttpHandler, HttpInterceptor, HttpRequest } from '@angular/common/http';
 import { Injectable } from '@angular/c

[2019-11-19 02:15] chimung commented on #33887
Sorry. I did update the answer is NO.
I got problem in Angular version 7.3.8 on my local machine. When i make a reproduction in stackblitz with version 8.0.0, it still got problem.
I never try reproduce in previous version.

[2019-11-19 04:04] postnikovpasha commented on #33890
Is it written somewhere in the documentation? I can not find.

[2019-11-19 06:13] sysmat commented on #33897
Thx for answer, yes in VER 8 change detection not working, I didn't realize that for Date is not change detection, a little  disappointment, comming from strong type landscape.

Date is Interface so if I do some simple Interface:

[code]

[code]
Then change detection is working so where is from language point difference?

[2019-11-19 06:28] IgorMinar commented on #33710
I can't reproduce this on mac with 9.0.0-rc.2 any more. Does the issue reproduce for you?

Steps I used:

[code]

[2019-11-19 06:37] IgorMinar commented on #33724
@devversion I'm a bit puzzled about why you are running ngc on the spec file. How does this speed up compilation?

[2019-11-19 06:40] IgorMinar commented on #33757
Thanks @klemenoslaj, a repro of the issue would really help us figure out what's going on here.

[2019-11-19 06:47] IgorMinar commented on #33796
I believe that star imports if not abused or interacted with in unusual ways (e.g. metaprograming) should tree-shake at the same level as explicit imports.

So before we go about implementing this, we should prototype if explicit imports yield any improvements.

[2019-11-19 06:51] Airblader commented on #32664
In fact I believe over time this will actually help issue resolution because Angular team members will only get notifications on relevant issues rather than for never ending questions on long closed issues.

If a closed issue has been locked that you believe isn't resolved yet, there's a simple solution: open a new issue, with updated information and reference the old issue.

[2019-11-19 06:51] IgorMinar commented on #33800
it's odd that you are trying to run the unit tests with `--prod`. What's the goal of that?

Often unit tests depend on availability of debugging information which is stripped away or disabled via `--prod` so I don't think that we will ever be able to run unit tests after prod optimizations reliably.

[2019-11-19 06:56] lazarljubenovic commented on #25976
I like the idea with icons, since an icon is still a formatting issue. You don't need the icon in the model, you only want to display it to the user from the template. Just like you transform `10000` into `10.000,00`, you also want to transform `true` into a green-colored circle and `false` into a red-colored circle. So I see `<my-icon [icon]="user.isOnline | iconize"></my-icon>` conceptually equi

[2019-11-19 06:57] IgorMinar commented on #33819
thanks @JiaLiPassion  for looking into this. @kdshop I'll go ahead and close this issue. If you are still having problems please file a new bug and provide additional information that will help us understand the nature of issue you see. thanks

[2019-11-19 06:57] #33819 closed

[2019-11-19 07:00] IgorMinar commented on #33822
yup. thanks @djleonskennedy. in fact  @angular/http was removed from our distribution in v8.0.

we will soon delete the  @angular/http from our repo.

[2019-11-19 07:00] #33822 closed

[2019-11-19 07:10] IgorMinar commented on #33836
@walidabouzaid as @blemaire mentioned in https://github.com/angular/angular/issues/33836#issuecomment-554250292, the steps to produce a library are documented on angular.io.

If those steps are not working for you, then we need much more information about what the problem is and how to reproduce what you are doing.

Please also note, that your language comes across as demanding and borderline thre

[2019-11-19 07:21] BAM5 commented on #8785
@tsteuwer You could always just use the :host selector in your scss to apply style properties to the host element.

[2019-11-19 07:23] IgorMinar commented on #33872
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still persists, please file a new issue a

[2019-11-19 07:23] #33872 closed

[2019-11-19 07:25] sysmat commented on #33897
Ok in doc for date pipe I find:

[2019-11-19 07:28] IgorMinar commented on #33876
@gidon-handler the animation package indeed enables you to construct animations that are much more complex than what you can express via CSS. Additionally for some animations, you need to coordinate the DOM insertions and removals with the duration of CSS transitions or animations and for this you will need to help the renderer understand what you want the animation to look like.

If you however n

[2019-11-19 07:28] #33876 closed

[2019-11-19 07:31] AlexMa1er commented on #33846
Thank you for the detailed description. The test **implementation** now **works again.**

One more question,
I only did the explicit `zone-legacy` import, without the `zone-test-flag.ts` implementation.
Is the `zone-test-flag.ts` adjustment necessary, or is this due to the executor definition (in karma conf)?

thx, best regards

[2019-11-19 07:33] IgorMinar commented on #33883
I'm removing the compiler label because the Angular compiler doesn't get to see any of this code, only `tsc` does see it, but `tsc` doesn't have enough info to tell what the `useValue` type should be. I'm not even sure if we can express this via Typescript without breaking the world.

[2019-11-19 07:34] IgorMinar commented on #33883
But I agree that it's non-intuitive why there is no type error when defining the provider.

The generic type currently comes into play only when retrieving the provider value via `Injector` or `TestBed` apis.

[2019-11-19 07:36] klemenoslaj commented on #33757
I am trying but cannot nail it down really.

Instead, I will share later today the project I am playing on and rough reproduction steps.

---

Observations so far:
- Only reproducible with `--async=true`
- It is reproducible in roughly 5/10 cases
- Triggering the exact same sequence of ngcc as when the tests are failing is not reproducing the problem
- If I reduce the libraries too much in an atte

[2019-11-19 07:45] IgorMinar commented on #33890
it doesn't help that your styleguide uses `change` @Outputs in several examples: https://angular.io/guide/styleguide#decorate-input-and-output-properties

[2019-11-19 07:51] IgorMinar commented on #33910
this is strange. can you please provide information/steps/repo on how to reproduce this problem? thanks

[2019-11-19 07:56] simeyla commented on #27148
Please don't forget about some sort of [feature parity](https://github.com/angular/angular/issues/29089) with `Resolve<T>` when considering changes to URLTrees from guards.

Being able to redirect elegantly from a Resolver is very important - especially in the case where an invalid URL is provided (eg. a mistyped ID).

[2019-11-19 08:46] yankee42 commented on #14761
I adapted the solution by @cameron-earl slightly to be a little more compact.
[code]

[2019-11-19 08:53] matthewjh commented on #33883
@IgorMinar thank you. Doesn't the Angular compiler generate TypeScript code based on the list of providers in a module? I mentioned the compiler in case this could be leveraged to generate a type error when using AOT. But I'm not at all familiar with how this works.

The best way to do it, of course, would be augment the Provider type definition. The question is can it be done without breaking the

[2019-11-19 08:56] neofuture commented on #33885
RC0 was just where i identified the issue, i think you are right i don't think it is regression as i tried with angular 8 also last night and the issue is there too, do my "RC0" May be a red herring

[2019-11-19 09:47] devversion commented on #33724
@IgorMinar It speeds up compilation because we compile unit tests and application code within the same TypeScript compilation unit. If we'd split it into two compilation units, then we first build the application code, and have a second compilation unit for testing. The second compilation unit would start with a fresh `ts.Program` and would need to read parts of the previous compilation _again_.

[2019-11-19 09:48] gkalpak commented on #32664
Since we have clarified that the bot only _**locks**_ already _**closed**_ issue that are incactive for 30 days, I am going to close the issue. As mentioned above, if you think an issue is not resovled (i.e. it should not have been closed in the first place, please open a new issue (referencing the old one) with the necessary info.

(DISCLAIMER: I am not a bot - 🤖 - blip blop)

[2019-11-19 09:48] #32664 closed

[2019-11-19 09:49] gkalpak commented on #32664
(If anyone wants to comment, please do so in the next 29 days 😛)

[2019-11-19 09:59] devversion commented on #33724
I think the frequency of this issue is _very_ low because AOT unit testing is not a common thing in Angular yet. Though it can be a common thing with Ivy since AOT unit testing will be very easy then.

At that point, this issue will become relevant again and one of the possible solutions mentioned in this issue would need to be taken (unless we come up with something different).

**TL;DR**: It's a

[2019-11-19 10:28] pkozlowski-opensource commented on #33897
Hmm, I think that docs are misleading in this case as the `date` pipe [is pure](https://github.com/angular/angular/blob/c68200cf426a8cd0bc9ff95b4d0140133c28f661/packages/common/src/pipes/date_pipe.ts#L153) and won't deep-check an object when a reference to it isn't change.

[2019-11-19 10:30] gkalpak commented on #33910
Based on the `ng version` info in your original comment, it seems that you had mismatching version of `@angular/core` and `@angular/*` packages in your `package.json`:

- `@angular/core`: 9.0.0-rc.1
- `@angular/{animations,common,compiler,compiler-cli,forms,language-service,platform-browser,platform-browser-dynamic,router}`: 9.0.0-rc.0

That would explain the problem (you should always have matchi

[2019-11-19 10:30] #33910 closed

[2019-11-19 10:47] pkozlowski-opensource commented on #33679
This just got fixed in master via  49c9f78 - will be part of the next RC release

[2019-11-19 10:47] #33679 closed

[2019-11-19 11:44] naveedahmed1 commented on #33881
@IgorMinar if you want I can add you to a private repository as well.

[2019-11-19 11:53] yoni333 opened #33916 "error TS2687: All declarations of 'observable' must have identical modifiers. angular 8 rxjs 6.4"
i got error error TS2687: All declarations of 'observable' must have identical modifiers.""
while  "ng serve" after add rxjs switchMap operator combined with NGRX v8 and angularfire collectino to a service .
when i used it with out them the switchMap does not show error
this question was asked before for lower version of angular and rxjs - look like this issue is back...
previus answer was to add

[2019-11-19 12:29] GustavoJobstraibizer commented on #33914
Hello @sajesh1985 i've separated logic of error interceptor in other interceptor file.

HttpInterceptor
---
[code]

ErrorInterceptor
---

[code]
because do you can treat different status codes in this file and the logic keep separated. Try this.
Hope I helped you.

[2019-11-19 12:48] yoni333 commented on #33916
it is only because angularfire lib v 5.2.3.

[2019-11-19 12:48] #33916 closed

[2019-11-19 13:12] benelliott commented on #33817
Related to #32522

[2019-11-19 13:29] JiaLiPassion commented on #33846
It is not necessary, just to disable some features of legacy browsers, it will have no impact to the behavior.

[2019-11-19 13:29] #33846 closed

[2019-11-19 13:40] n-belokopytov commented on #25865
We are having the same issue now. Was there any progress on that?

[2019-11-19 13:49] irejwanul commented on #29281
In angular 8 project, the issue occurs because of order of polyfills imports.
Also, polyfills of ‘reflect-metadata’ required to be followed by ‘zone.js’ or ‘zone.js/dost/zone’
After that remaining polyfills are imports.
This is why it is already warned that ‘import order is matter’

[2019-11-19 14:07] kirillNikolaichuk commented on #33735
Unfortunately, I could not verify the changes :-(
I followed the instructions, downloaded the branch with the necessary edits. I was convinced that the edits in the downloaded branch are indeed present, I installed the dependencies. Then I ran the build-packages-dist.sh script. Got the "dist" folder. Walked along the path "dist\bin\packages\core". However, the core folder on this path is significa

[2019-11-19 14:32] klemenoslaj commented on #33757
@IgorMinar I created a repo where I hope you will be able to reproduce the problem: https://github.com/klemenoslaj/angular-ivy-test-errors

---

From [README.md](https://github.com/klemenoslaj/angular-ivy-test-errors/blob/master/README.md):

[2019-11-19 14:45] andrewpmontgomery opened #33919 "Iteration over Set object with ES2016 is broken, because Set doesn't have length property"
# 🐞 bug report

### Affected Package
Somewhere in the build process, after Typescript (tsc) but before AOT.

### Is this a regression?
Don't know.

### Description

Code which iterates over a `Set` is compiled as if Set has a `.length` property, but it doesn't, the correct property is `.size`. This silently breaks the logic.

This only happens when using `ng build`; it doesn't happen with `ng serv

[2019-11-19 15:00] andrewpmontgomery commented on #33919
Similarly, if I write:
[code]

then with `"target": "es2016"` it compiles to:
[code]

which also fails, because `Set` doesn't have a `.slice()` method.

This only happens in Angular, not in plain Typescript.

[2019-11-19 15:16] jkyoutsey commented on #33800
@IgorMinar  that’s interesting as I’ve been doing this in CI for years now. And it’s consistently working very well. However whatever was causing this issue seems to have disappeared. So I’m just going to close this as a fluke.

[2019-11-19 15:16] naveedahmed1 commented on #33864
Here's the relevant issue on the plugin's repository https://github.com/swimlane/ngx-charts/issues/1294

And here's the related line of code from plugin which is throwing error with Angular IVY  https://github.com/swimlane/ngx-charts/blob/5aae672d7cfd7d3bf42794153a0aea6d0e9b262a/src/common/tooltip/injection.service.ts#L162

[2019-11-19 15:39] IgorMinar commented on #33919
this is not es2016 code, but ES5 code. I wonder if somehow `ES2016` causes the build pipeline to revert to `ES5`. What happens when you set the `target` to `ES2015` instead of `ES2016`?

[2019-11-19 15:45] dannyskoog commented on #33879
Thanks for those examples!

I mean, I believe you should always create an abstraction layer between your own codebase and certain 3rd party functionalities. And in this case preferably some sort of `HttpService` that wraps the functionality of `HttpClient`.

By doing this it would be fairly easy to add a guard just before your single usage of `HttpClient.get`

[2019-11-19 15:48] IgorMinar commented on #33919
yeah, we do end up falling back to ES5 mode if you set the target to ES2016.

The issue doesn't reproduce with plain `ngc`, so I suspect it's a CLI bug. I'll transfer the issue over too the CLI repo.

[2019-11-19 16:32] gkalpak commented on #33735
@kirillNikolaichuk, the built packages should be in `dist/packages-dist/...` (not `dist/packages/...`).

##
But, there is an even better option :tada:
Recently, we made sure all PRs publish their build artifacts, so anyone can grab them from CI and verify the change in a local project. You can read more about it [here][1].

I.e., you can head over to the latest `publish_packages_as_artifacts` job

[2019-11-19 16:34] jbogarthyde commented on #33766
@ajitsinghkaler Zones (and a few other packages) are external dependencies, that's why they have their own full ReadMe doc. The Angular-specific packages all share a general ReadMe that points at the git repo. I'm adding a pointer to Angular AIO, where the full documentation is available, including individual package docs -- see https://angular.io/api?type=package

[2019-11-19 16:40] ajitsinghkaler commented on #33766
In the readme, I just want to know what effect they have on angular or how they interact with angular. So that If some packages hinder my use case. Like the zone js example, I've given.

[2019-11-19 17:00] jbogarthyde commented on #33766
Of course -- and the place to find that out is in the Angular doc 😃
The packages are included when you install Angular, you don't need to decide which ones to include.

[2019-11-19 19:38] #33677 closed

[2019-11-19 19:42] #33795 closed

[2019-11-19 20:08] compulim commented on #31750
To verify if `Object.defineProperties` is good or not, run the following code in browser.

[code]

Good: `{ abc: undefined, [Symbol.iterator]: undefined }`

Bugged: `{ abc: undefined }`

FYI, `Object.defineProperties` is [native on IE9+](https://caniuse.com/#search=defineproperties) but zone.js polyfill it regardless.

[2019-11-19 20:41] #33659 closed

[2019-11-19 20:41] #33562 closed

[2019-11-19 21:02] JoostK commented on #33532
Opened an issue for the TypeScript team: https://github.com/microsoft/TypeScript/issues/35205

[2019-11-19 21:26] juristr opened #33924 "ngx-formly fails at runtime with: ASSERTION ERROR: index"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

Yes this worked seemlessly with ViewEngine under Angular 8.

### Description

 A clear and concise description of the problem...

When using [ngx-formly](https://github.com/ngx-formly/ngx-formly) with Ivy the app breaks. The **compilation succeeds without issues** but at **runtime** imme

[2019-11-19 21:28] jbogarthyde commented on #33213
resolved by referenced PRs

[2019-11-19 21:28] #33213 closed

[2019-11-19 21:44] #29842 closed

[2019-11-19 21:46] cakeinpanic commented on #33880
I have created isolated repo, but everything operates normally in in. Seems that problem is no only in ng5 and ng8, would investigate deeper

[2019-11-19 21:53] vikerman commented on #33657
Closing this as part of triage. Please re-open if still an issue.

[2019-11-19 21:53] #32000 closed

[2019-11-19 21:53] vikerman commented on #32000
Please re-open with repro

[2019-11-19 22:18] rodrigocasillas opened #33925 "Proxy Configuration Issues with WebSockets"
Hello. I've been trying to send firebase traffic through a Configured Proxy but have not been able to accomplish it. Except for normal requests.
Is it posible to proxy Firebase Internet activity?. If so, is there a way to do it? Am I missing something?
I understand that firebase works with WebSockets.
According to WebSockets docs this should be possible, but I'm not sure if angular/ionic can achie

[2019-11-19 23:08] alxhub commented on #33914
Hello @sajesh1985,

Unfortunately we will not be able to make progress on this issue without a Stackblitz or other reproduction clearly demonstrating the error.

[2019-11-19 23:08] Zarepheth commented on #29303
This error can happen with nested, lazy-loaded, primary routes - not merely with named router outlets.

[2019-11-19 23:13] alxhub commented on #33531
I'm going to close this issue due to the lack of a reproduction. Please feel free to open a new one with a repro if you're still seeing this problem.

[2019-11-19 23:13] #33531 closed

[2019-11-19 23:49] alxhub commented on #33757
Hi @klemenoslaj,

I'm able to see the error using the `with-node-modules-npm` branch in your repo. A fresh install does not show the issue, the test passes for me.

The reason, I believe, is an ngcc failure sometime during the post-install hook which "broke" the `node_modules` in the branch. With this failure, `BrowserModule` is not AOT compiled and is only partially able to be compiled at runtime

[2019-11-19 23:49] #33757 closed

[2019-11-19 23:51] alxhub commented on #33880
Thanks, I'll go ahead and close this issue.

[2019-11-19 23:51] #33880 closed

[2019-11-19 23:52] alxhub commented on #32611
Closing this issue as without a reproduction it's impossible for us to debug.

[2019-11-19 23:52] #32611 closed

[2019-11-19 23:53] alxhub commented on #32819
Closing this issue as without a reproduction it's impossible for us to debug. Please feel free to open a new issue with a working reproduction if you're still encountering this problem.

[2019-11-19 23:53] #32819 closed

[2019-11-19 23:54] alxhub commented on #32838
@cromefire, I'm closing this issue as without a working reproduction, this will be impossible for us to debug. Please feel free to open a new issue with a reproduction if this is still a problem for you.

To answer your question (very lately, I'm sorry!) yes, once `ngcc` runs you cannot rely on the same `node_modules` working with the old compiler.

[2019-11-20 00:03] alxhub commented on #33488
Where is `IFeatureFlagConfiguration` defined in your repro? The `index.d.ts` file in question is structured like:

[code]

That is, it both declares `IFeatureFlagConfiguration` as an interface, and then attempts to import it from `../interface/IFeatureFlagConfiguration`, which is a path that doesn't exist in the repro repository. It also uses `angular` in the global scope, and no typings definitio

[2019-11-20 00:03] #33488 closed

[2019-11-20 01:04] gund commented on #5689
I see this issue is pretty old but the feature is pretty amazing and I'm really exited to see it in Angular.

What is even cooler is that with observable inputs you do not need `OnChanges` hook - you can use `pairwise` rxjs operator to get previous and current values of input observable:

[code]

[2019-11-20 02:19] tuurbo commented on #26436
@Splaktar

I made a app to reproduce the error https://github.com/tuurbo/angular-async-error

[2019-11-20 04:12] nthornton2010 commented on #23162
Any updates on this? This is causing things to break because retrieve is called when routeReuseStrategy.shouldReuseRoute returns false in this case and setFutureSnapshotsOfActivatedRoutes throws an error that breaks our route reusability in some places, forcing us to disable reusing the route in those places. The cached route should not be retrieved if shouldReuseRoute returns false.

[2019-11-20 06:25] IgorMinar commented on #33925
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular` or in this case `firebase`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this expla

[2019-11-20 06:25] #33925 closed

[2019-11-20 07:55] klemenoslaj commented on #33757
@alxhub well that is the thing.

I am still encountering it really often and pipelines are failing consistently without `async=false`.

I was mostly testing this using `yarn`(_failing 5/10_), however yesterday for the sake of completeness I tried `npm` and that is failing for me 10/10, dunno why it doesn't on your machine though.

Any ideas on how to move this forward?

[2019-11-20 09:26] kirillNikolaichuk commented on #33735
@gkalpak Thanks!
Unfortunately, after running the build-packages-dist.sh script, I did not get the dist/packages-dist folder, only dist/packages.
However, artifacts helped me. I really got what I need.

I replaced @ angular/core with a similar folder from artifacts, ran a test, however I got an error:

![getComponentFromError](https://user-images.githubusercontent.com/57749418/69226033-8a32c280-0b

[2019-11-20 09:32] santosTT opened #33929 "Missing locale data for the locale "ne" for Country nepal"
# 🐞 bug report
when i import locale id if 'ne' in app module I.e.   providers: [

    { provide: LOCALE_ID, useValue: "ne" }
  ],
And i try to use the angular pipe of currency in template
i.e {{ value | currency }}
![image](https://user-images.githubusercontent.com/53549906/69304658-82832480-0c49-11ea-9f58-5d3ad292999e.png)

### Affected Package

 The issue is caused by package @angular/....

###

[2019-11-20 09:48] gkalpak commented on #33735
☝️ @AndrewKushnir

[2019-11-20 10:23] devversion commented on #33906
Thanks for the issue. I tried having a quick look, and it's indeed true that buildifier will fail when it checks the `esm5.bzl` file provided by `@angular/bazel`.

Though I'm not sure if it's something we should fix, or care about (in terms of future `.bzl` files we ship). It seems that the buildifier check that is set up in the `onos` repo should not check for files inside of the `node_modules`?

[2019-11-20 11:24] lacolaco commented on #33668
@filipesilva  In my case, the same error is occurring with RC.2. Won't this be fixed in stable release?

[2019-11-20 11:34] filipesilva commented on #33668
@lacolaco as @alxhub mentioned it is intended that those errors show up.

They are pretty descriptive of the problem:

They are not very prescriptive though. They don't tell you what to do to fix them. This error just means "you need to re-export AppliedCouponsComponent from the toplevel index.ts somehow".

In larger libraries with many `index.ts` files that re-export things below them, it actuall

[2019-11-20 11:40] lacolaco commented on #33668
@filipesilva Thank you. I understood the reason of that error. But it means Angular lib authors have to do exporting these manually as v9 migration?

[2019-11-20 11:43] alinmateut commented on #11234
The bug is still here in version `8.2.14`

[2019-11-20 11:57] filipesilva commented on #33668
Yes, that is the current approach.

[2019-11-20 12:00] lacolaco commented on #33668
@filipesilva Thank you for clarifying. I'm sad a little it couldn't be solved automatically but that approach is understandable.

[2019-11-20 12:10] VladimirAmiorkov commented on #33734
@gkalpak ,

Any news on this new issue? Can I be of help?

[2019-11-20 12:12] JoSeTe4ever commented on #16538
Today we discussed this functionality within my team. At the moment what we are doing is emptying the classList and then calling addClass.

It works if you only have one class :(

Please implement toggle !

[2019-11-20 12:30] MartinM25 opened #33932 "Help"
Hi...Im planning to connect a JSON api to my angular project...was hoping if i could get some guidelines

[2019-11-20 12:43] Nik4321 opened #33933 "Snyk Vulnerability: compiler-cli ^7.2.8 package vulnerability because of package mem"
# 🐞 bug report

### Affected Package
The issue is caused by package mem which is a dependency for @angular/compiler-cli ^7.2.4

### Severity
Low - Denial of Service

### Description
mem package is vulnerable to

More info: https://npmjs.com/advisories/1084

## 🌍  Your Environment

**Angular Version:**
<pre><code>
Angular CLI: 7.3.8
Node: 10.16.3
OS: win32 x64
Angular: 7.1.0
... animations, common,

[2019-11-20 12:50] ericmartinezr commented on #33932
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-11-20 13:19] konradekk commented on #33932
I guess that Angular [HTTPClient guide](https://angular.io/guide/http) should be a definite answer here—tell here if anything is missing in the documentation regarding this matter.

[2019-11-20 14:12] REPTILEHAUS opened #33934 "Angular 8 with custom hammer config not working anymore after upgrade"
Some strange issues popped up after upgrading angular in the context of an ionic app (however this is angular related so posting here).

Mentioning this as I believe it is related to the main issue (Custom hammer gestures), after upgrade I got this error

[code]

Which I solved by including the following polyfil to make it play nicely with ```"target":"es2015",```

[code]

With that issue solved i

[2019-11-20 14:18] eXXeption commented on #22324
Same usecase, same error nearly two years later.

As requests are cancelled by chrome, my loading spinner won't disappear.

[2019-11-20 15:17] xavadu commented on #12818
Still running into this problem. Are there any updates on this?

[2019-11-20 15:30] KissBalazs opened #33936 "ng <command> --help does not work"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/cli

### Is this a regression?
not sure.

### Description
Angular cli commands seems to be working, but the --help flag does not work in them in angular 8. It is suggested in the [documentation](https://angular.io/cli/generate) in [multiple places](https://angular.io/cli#basic-workflow) that it should.

## 🔬 Minimal Repro

[2019-11-20 15:37] santoshyadav198613 commented on #33936
Are you trying to run this from inside a Angular project? Or globally , to use  ng generate --help you need to be inside an Angular workspace. Let me know if that works, we can update the docs if needed.

[2019-11-20 15:56] KissBalazs commented on #33936
Yep, that was the problem. Outside of an angular project, `ng new --help` works, `ng generate --help` does not. Inside they both works.

Although this might be a source of misunderstanding. Using the --help flag produces a different error than using the command itself:
**`forest@forest:~/projects$ ng generate`**
`The generate command requires to be run in an Angular project, but a project definiti

[2019-11-20 16:03] santoshyadav198613 commented on #33936
That's a good suggestion.

[2019-11-20 16:22] ajitsinghkaler commented on #33932
@gkalpak I think you ca close this issue

[2019-11-20 16:23] #33932 closed

[2019-11-20 16:24] ajitsinghkaler commented on #33929
I cannot see your issue properly can you please elaborate it.

[2019-11-20 16:29] ajitsinghkaler commented on #33766
There is nothing about the language packages localize and language-service

[2019-11-20 16:38] imnickvaughn opened #33938 "Renderer2 is undefined when wrapped in setTimeout block. Cannot read property 'removeClass' of undefined"
# 🐞 bug report

### Affected Package
The issue is caused by import Renderer2 in package @angular/core

### Is this a regression?
Unsure

### Description
I expect that when I use Renderer2 to addClass within a setTimeout() that it will do so after the delay,
Instead after the delay, an error is thrown. Renderer2 is undefined by the time it gets called.

## 🔬 Minimal Reproduction
Here I have tried u

[2019-11-20 16:43] pkozlowski-opensource commented on #33938
This has nothing to do with Angular, you are falling into the `this` "trap"of JavaScript...
Here is the fixed stackblitz: https://stackblitz.com/edit/angular-renderer2factorytest-ek8k1d?file=src/app/app.component.ts

[2019-11-20 16:43] #33938 closed

[2019-11-20 17:12] pkozlowski-opensource commented on #31971
@stefanocke it turned out that this is _not_ a breaking change in ivy but rather a bug that we've fixed recently in #33816. The fix is already in master, will be part of the next release (v9 RC.3).

I've opened a PR with an additional test (#33939) "just to be safe"

[2019-11-20 17:24] Zarepheth commented on #20694
@aakashgarg19

My routing tree already looks like that - but with additional levels of lazy-loading (and the tree configuration is split into separate files at the lazy-load boundaries). And I'm still getting this error with no named outlets and nested primary outlets.

[2019-11-20 17:40] jbogarthyde commented on #33766
Localize is not an Angular package, but good point about `@angular/tools-language-service`.
I'll look into it.

[2019-11-20 17:55] simeyla commented on #31154
@jasonaden When a question is viewed on Stackoverflow [over 63k times](https://stackoverflow.com/questions/35431188/how-can-i-conditionally-disable-the-routerlink-attribute) shouldn't that give a request like this a bump?

Cancelling a link is something very fundamental to how people have learnt to make websites, and `CanActivate` / `CanDeactivate` are often too complex when you just need to stop

[2019-11-20 17:59] vmasek commented on #13260
`style.background-image.url()` wth `unit()` seems understandable and as a really nice solution.
I think it should also sanitize for `SecurityContext.RESOURCE_URL` as was already mentioned.

Do we have an approval for a PR?

[2019-11-20 18:05] AndrewKushnir commented on #33735
@kirillNikolaichuk, thanks for additional information. I looked at the error messages you mentioned and both of them were originated from ViewEngine TestBed code that was not affected by the changes in my PR, so it looks like there might be some configuration issue in your installation. I will try these steps in my local installation to see what went wrong with the setup.

Meanwhile we will move f

[2019-11-20 18:49] mhevery commented on #33685
Seems related to https://github.com/angular/angular/issues/32388

[2019-11-20 19:39] jbogarthyde commented on #33905
@Airblader Can you suggest what needs to be said about it? I assume it would be in the last section, the example of defining a custom structural directive.
Should that example be updated to show how to enable type-checking in your directives? Or does it need a different example?

[2019-11-20 19:43] warrendugan commented on #24466
You can piggy back off the zone from the consuming/parent angular application. https://angular-extensions.github.io/elements/#/docs/change-detection

[2019-11-20 19:46] #32388 closed

[2019-11-20 19:46] #32213 closed

[2019-11-20 20:00] warrendugan opened #33942 "Angular Elements in Vanilla & Angular Consuming/Parent Applications"
Angular Elements show a lot of promise to enterprises running multiple projects so we can keep things DRY. However, getting Angular Elements consumed in another app is still quite a chore. I'd love to see this process simplified.

Currently I'm able to overcome the zone duplication issue in Angular consumers by piggy backing off the zone in the consuming Angular application (Reference: https://ang

[2019-11-20 20:19] alxhub commented on #32214
I don't think this is actually fixed by the incremental rebuild changes in 4be8929. That commit fixes _some_ cases where errors cause files not to be correctly re-emitted, but I believe it is still possible depending on the change being made.

I'm working on a true fix for this problem.

[2019-11-20 20:29] Airblader commented on #33905
I was thinking along the lines of

Please note that it might be worth having someone double-check the accuracy of these descriptions (who knows, maybe I'm misunderstanding them).

---

Yeah, sounds like a great idea. :-)

[2019-11-20 20:35] Airblader commented on #33905
BTW, there's a very similar ngAcceptInputType_* feature which is documented already, so it can serve as a good reference: https://next.angular.io/guide/aot-compiler#input-setter-coercion

[2019-11-20 20:42] Airblader opened #33943 "ngIfUseIfTypeGuard: confusing documentation and deprecation?"
### Description

The referenced page describes the following:

It's not very clear that the pattern has to be `xyzUseIfTypeGuard` for input `xyz` (that's how it is – right?). At the very least this deserves to be polished, however I also wonder whether this feature deserves to be deprecated given that we now have `ngTemplateGuard_xyz` which can do the same and is much more generic.

In fact I was

[2019-11-20 21:09] michaeljota commented on #14761
@yankee42 Angular doesn't provide any value if you just set the attribute in the HTML element. So, `this.attribute` value if you use your component as `<my-component attribute> </my-component>` (that is the intention of the issue) will be `undefined`, and if you try to evaluate this in a boolean context, ultimately will be `false`, and that's not a desirable behavior for this.

[2019-11-20 21:17] pearlsze opened #33944 "DatePipe treats ISO-8601 YYYY-MM format as a date-time and adds timezone"
# 🐞 bug report

### Affected Package

@angular/common
### Is this a regression?

 No

### Description

I am trying to use the `DatePipe` with a string input that is in the ISO-8601 Year and Month format `YYYY-MM`. The DatePipe doc states that it supports ISO-8601 strings: https://github.com/angular/angular/blob/8.2.14/packages/common/src/pipes/date_pipe.ts#L160

The `DatePipe` incorrectly assumes

[2019-11-20 21:17] mousedownmike opened #33945 "specs.http.zip Project Fails"
# 📚 Docs or angular.io bug report

### Description

The project in specs.http.zip does will not run `ng test`

## 🔬 Minimal Reproduction

### What's the affected URL?**

https://angular.io/guide/http#testing-http-requests
https://angular.io/generated/zips/http/specs.http.zip

### Reproduction Steps**

1. Download https://angular.io/generated/zips/http/specs.http.zip
1. Extract and change into the

[2019-11-20 21:20] cameron-earl commented on #14761
@michaeljota Are you sure about that? In all my tests, an empty value in the html passes in an empty string, not undefined (as I would have expected).

[2019-11-20 21:21] yankee42 commented on #14761
@michaeljota: Actually when using `<my-component attribute>`, then according to my tests it does call the setter with an empty string. (Tested with angular 8.2.9 and Firefox 70.0.1). If you have any different findings, please let me know.

[2019-11-20 21:25] gkalpak commented on #33945
This will be fixed by #33941.

[2019-11-20 21:47] mousedownmike commented on #33945
Happy to close this one as duplicate... sorry I didn't find that one in my search.

[2019-11-20 21:47] #33945 closed

[2019-11-20 21:52] michaeljota commented on #14761
@cameron-earl @yankee42 Seems that you are right. Thank you both. I just update my stackblitz and it does seem to pass an empty string.

[2019-11-20 22:21] mattcwebster commented on #24547
is there any date on resolution for this.  Just discovered today on my app and is depressing to know the the scrollRestoration: enabled property doesn't work as expected.  For me it works on mobile though which is odd.

[2019-11-20 22:22] orromis opened #33946 "Angular doesn't use UrlSerializer when navigating via router.navigate or routerLink"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/router

### Is this a regression?

 No

### Description

On our BE we use special convention for pagination query parameters - we nest those parameters in pg object and query string looks like this: `/some-url?pg[limit]=50&pg[offset]=100&foo=bar`

On FE we use custom UrlSerializer to correctly parse this query string in

[2019-11-20 22:23] mhevery commented on #33373
@alxhub Not sure what the correct resolution is for this issue.

# Analisys

The `AppModule` is defined like so:

https://github.com/Dig-Doug/rules_nodejs/blob/0f8517702218862bf12f738a828a23cbc7ea388d/examples/angular/src/app/app.module.ts#L14-L24

[2019-11-20 22:44] #33874 closed

[2019-11-20 22:45] #31971 closed

[2019-11-20 22:48] #23485 closed

[2019-11-20 22:51] #33590 closed

[2019-11-20 22:51] mousedownmike commented on #33945
I confirmed that my test case now succeeds using assets from the staging url: https://pr33941-f5c7991.ngbuilds.io/guide/http#testing-http-requests

Nice!

[2019-11-20 22:51] #33734 closed

[2019-11-20 23:34] Splaktar commented on #24547
@mattcwebster no, there is no ETA on a resolution. Please 👍 the first post to express your desire to have it fixed.

[2019-11-20 23:39] Splaktar commented on #33278
@jbogarthyde feedback left in PR. The script is not interactive, but we do need to tell people how to read the API diff output in Circle CI.

[2019-11-20 23:46] Splaktar commented on #26436
@tuurbo if you add `CommonModule` to the `AppModule` does it work? Please open a new issue and include your repo link.

[2019-11-21 01:49] tuurbo opened #33950 ""Error: The pipe 'async' could not be found", when ivy enabled"
# 🐞 bug report

### Is this a regression?

 Yes, error only happens with ivy enabled.

### Description

Sometimes when saving a file (even if no changes were made in that file), certain parts of my app will throw the error below.

## 🔬 Minimal Reproduction

https://github.com/tuurbo/angular-async-error

- yarn install
- ng serve
- open ```src\app\components\paginator\paginator.component.ts```, sav

[2019-11-21 01:51] tuurbo commented on #26436
@Splaktar I added CommonModule as you asked and it didnt fix the issue. I also created a new issue https://github.com/angular/angular/issues/33950

[2019-11-21 02:58] tuurbo commented on #33950
Fixed as of angular and cli 9.0.0-rc.3

[2019-11-21 02:58] #33950 closed

[2019-11-21 03:02] tuurbo commented on #26436
Well... seems fixed as of angular and cli 9.0.0-rc.3. I just closed the new issue. I'll reopen if i experience it again...

[2019-11-21 03:24] tailamphat opened #33951 "How to get the current library name?"
Hi everyone,

I created a library in Angular workspace, inside a component, I want to get the library name but I searched on Google and found nothing.
How can I get the library's name in the library?

[2019-11-21 03:42] alexw10 commented on #31310
So right now if my Angular application is utilizing LESS does this mean bazel will not work with it very well?
Should we convert to Sass?
I just tried utilize `ng add @angular/bazel` and of course did not work cause of LESS issues because or app is pretty much exclusively utilizing that.

[2019-11-21 03:47] santoshyadav198613 commented on #33951
Any reason, you want to do that, the one solution is to read from package.json. you can ask this question on stackoverflow you will get the answer.

[2019-11-21 04:28] simeyla commented on #21115
Ahh! I'm getting more and more tired of endless threads like this that go on for years. Especially when a simple API fix would wipe the slate clean.

My number one reason for wanting an component to recreate itself in full is **data integrity / safety** and for beginners **ease of use**.

Ease of use first (less important to me TBH) - when you start learning about `Resolve` you basically HAVE to u

[2019-11-21 04:44] santosTT commented on #33929
I have provide locale id in app.module of 'ne' and with using currency pipe it gives error as
![image](https://user-images.githubusercontent.com/53549906/69304727-cece6480-0c49-11ea-8197-4f7bfec86df6.png)

[2019-11-21 04:55] tailamphat commented on #33951
Thanks. I move to stackoverflow https://stackoverflow.com/questions/58967540/how-to-get-the-current-library-name

[2019-11-21 04:55] #33951 closed

[2019-11-21 06:00] parliament718 commented on #24547
@Splaktar
This issue appears 15th out of 2,800 other open issues when sorted by 👍.
I'd like to hope that makes it a sort of priority.

[2019-11-21 06:31] pauldraper opened #33953 "ngSwitchCase no longer accepts multiple values"
# 🚀 feature request

### Relevant Package

@angular/common

### Description

Upgrading to Angular 2 has a feature regression, when multiple match values for ngSwitchCase are supported.

https://docs.angularjs.org/api/ng/directive/ngSwitch

This was raised in https://github.com/angular/angular/issues/12174 but it was closed and locked due to old issue bad new issue good.

### Describe the solution

[2019-11-21 06:53] hulyapelinobek commented on #22243
You mentioned that it is possible in angular. However we are facing same problem and could not find a proper way to solve this. We are using angular 8. Could you suggest any example to load libraries(seperate modules) in runtime without knowing them during compile time of the parent/host application.

[2019-11-21 06:56] alan-agius4 commented on #31310
@alexw10, LESS will be supported with the strategy with @alexeagle explained above.

[2019-11-21 07:06] Splaktar commented on #24547
Agreed. I will continue to lobby the team for it. Hopefully this will get into a v9 minor or v10. 🤞🏼

[2019-11-21 07:44] VladimirAmiorkov commented on #33734
In which version of the RC can we expect this issue to be resolved. Just tested the latest R3 and I still get the same error.

[2019-11-21 08:14] vthinkxie commented on #33881
Hi @IgorMinar
we meet the same problem, the bundle size of Ivy(9.0.0-rc.3) is about 60% larger than ViewEngine

Ivy
![image](https://user-images.githubusercontent.com/1506722/69319164-a199aa80-0c79-11ea-817d-4f92ab6c63aa.png)

ViewEngine
![image](https://user-images.githubusercontent.com/1506722/69319188-aeb69980-0c79-11ea-962f-052c07b0adcc.png)

here is the html file generated by source-map-explo

[2019-11-21 08:38] spock123 opened #33954 "RC.3: Support for the experimental syntax 'dynamicImport' isn't currently enabled"
# 🐞 bug report

Upgrading my Angular 8.2 project to 9 RC.3 with Ivy, gives following errors for my lazy loaded modules:

[code]

### Is this a regression?

I think so, did not have this issue with RC.2

Disabling IVY makes everything work as expected.

## 🌍  Your Environment

**Angular Version:**
<pre><code>

Angular CLI: 9.0.0-rc.3
Node: 12.2.0
OS: linux x64
Angular: 9.0.0-rc.3
... animations, cl

[2019-11-21 09:34] petebacondarwin commented on #33685
I think the missing property is actually `directives: ...` but I agree that ngcc is not generating it for this package.

[2019-11-21 10:20] JoostK commented on #33734
@VladimirAmiorkov  it just missed the RC.3, so it is indeed still broken. Next RC will have this fix. I believe @gkalpak  is still testing NativeScript and ngcc compatibility.

[2019-11-21 10:24] JonWallsten commented on #30565
@alxhub: This is a problem in my monorepo as well. Now when you have fixed https://github.com/angular/angular/issues/33562 (thanks alot for that), this is the next blocker. It can be reproduced in the same monorepo I gave you access to in the issue mentioned.

[2019-11-21 10:30] khalilou88 commented on #33954
I have the same error but only with i18n. otherwise the app work without errors.

[2019-11-21 10:31] spock123 commented on #33954
@khalilou88 I'm also using i18n.. maybe there's something there?

[2019-11-21 10:41] filipesilva commented on #33881
The related issue on the CLI repo is https://github.com/angular/angular-cli/issues/16146.

[2019-11-21 12:02] aneeskodappana opened #33956 "Angular canDeactivate fails if the back button is hit twice in a row"
I am attempting to implement a back button guard in Angular 8. I am trying to use a service and canDeactivate.

# 🐞 bug report

### Affected Package
"@angular/core": "~8.2.2",
"@angular/router": "~8.2.2",

### Is this a regression?

yes

### Description

Angular 8 canDeactivate fails if the back button is hit twice in a row

## 🔬 Minimal Reproduction
[code]
[code]

## 🔥 Exception or Error
Not an e

[2019-11-21 12:02] waterplea commented on #33881
In my case I have a workspace with several libraries I develop. In Angular 8 if I only use one module from one library in an application, I see that it only grabbed like 1KB from my library in prod build. With Angular 9 a lot of my library gets added to the final bundle. I've created an issue about it but couldn't provide a reproduction due to proprietary nature of the library. I use custom decora

[2019-11-21 12:12] cexbrayat commented on #33527
@alxhub I'm still encoutering the issue using `rc.3` which should include the fix.
I updated the repro https://github.com/cexbrayat/ng-iterable

[2019-11-21 13:11] jburtondev commented on #33825
@IgorMinar thanks for confirming 👍

[2019-11-21 13:11] ShacharHarshuv commented on #32814
I get this exception too, not sure why. It happens when I add a root route to share a resolver:

Old code:
[code]
New code:
[code]

[2019-11-21 13:23] ajitsinghkaler commented on #33929
You have to edit your issue to keep in a format given in the guidelines please edit it.

[2019-11-21 13:47] petebacondarwin commented on #33685
I have identified the root, root cause of the problem in @cexbrayat's one-line reproduction. This is probably not the general problem for other commenters on this issue but see the bottom of my analysis for ideas in those cases.

1) The root cause is actually that `angular-tree-component`'s UMD build is not valid. Their use of rollup does not specify `mobx`, `mobx-angular` and `lodash` as external

[2019-11-21 14:03] alan-agius4 commented on #33954
Duplicate of https://github.com/angular/angular-cli/issues/16248

[2019-11-21 14:03] #33954 closed

[2019-11-21 14:04] sourvil commented on #31724
We entirely removed core-js but still getting same error, after migration to Angular 8.2.14.
Same error.
We tried to put "import 'zone.js/dist/zone';" to main.ts but it broke our environment based settings. Did not work.

Could not find a solution for hours. Any help? Maybe we should change zonejs version?

Thanks

![Screen Shot 2019-11-21 at 17 02 17](https://user-images.githubusercontent.com/118

[2019-11-21 14:15] lonelam commented on #30728
@Sazeidya Brilliant work! Working whole day on a memory leak like this.
---------
my template:

[code]
With the second ngIf changing, the canvas DOM and its WebGLRenderingContext leaked.
---------
And may I ask is there a fix plan for such bugs?

[2019-11-21 14:17] brandonroberts commented on #33373
This issue has been fixed with https://github.com/ngrx/platform/pull/2273, and the fix has been released in `8.5.2` . I verified the fix against the reproduction using the latest release.

[2019-11-21 14:19] jonrimmer commented on #28897
@matteobortolazzo In Angular v9 they have at least fixed binding custom properties, so although although the sanitizer is still broken w.r.t grid functions, you may be able to move the repeat definition into your component's stylesheet, and supply just the variable using a style binding, as follows:

[code]

[code]

[2019-11-21 14:39] joshcomley commented on #33685
So what about my example above?

[2019-11-21 14:41] adam-marshall commented on #28486
There is a related issue on material which this would resolve too: https://github.com/angular/components/issues/10495

[2019-11-21 14:41] naveedahmed1 commented on #33821
@jinder please reopen this issue, since this issue still exists. Removing node_modules sometimes works and sometimes doesn't work.

[2019-11-21 14:42] JiaLiPassion commented on #31724
@sourvil , please provide a reproduce repo, thanks!

[2019-11-21 14:43] jinder commented on #33821
I agree - it didn't help me

[2019-11-21 14:48] petebacondarwin commented on #33685
I'll look at yours next @joshcomley  :-)

[2019-11-21 14:58] DenisValcke commented on #17766
Is there any progress on this feature? It's been +2 years.

[2019-11-21 15:18] elvisbegovic commented on #33685
**I can confirm it works!!!**

Having this temporary `ngcc.config.js` with (if I understand):

[code]
Or removing this line `"main": "dist/angular-tree-component.umd.js",`  in `node_modules/angular-tree-component/package.json`

Then rerun ngcc, makes our large-app working with ivy!

By the way, doing this first `ng serve` always throw this warning:
[code]

Thank you @petebacondarwin

[2019-11-21 15:21] petebacondarwin commented on #33685
That warning is expected, since the `angular-tree-component` imports deeply from `lodash` which are not "proper" APF entry-points. But it doesn't matter in this case because `lodash` is not an Angular library.

[2019-11-21 15:21] anxious-witch opened #33961 "The Date pipe returns incorrect week numbers"
Hi, I believe I've come across a bug in the date parsing. I haven't seen any indications that this is expected behavior, so I'm opening an issue here.

# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/common: ^6.1.9

### Is this a regression?

 Not that I've seen.

### Description

The Date pipe has some unexpected behavior when it comes to weeks. A week is defined as

[2019-11-21 15:39] mattcwebster commented on #24547
@Splaktar I gave it the .  IS there any Clean work around... this is like a major thing to have on a site with a lot of content on the homepage that keeps growing.

[2019-11-21 15:48] Johanneke commented on #33728
By the way, this same "standardEncoding" is also applied to the key. So if your key contains the `=` character, it will not get encoded, but then it will function as a delimiter in your query! That is *NOT* according to spec.

[2019-11-21 15:50] klemenoslaj commented on #33757
@alxhub as my last try I updated the repository again.

Can you please try to pull and execute `npm run reproduce`?
This will build the docker image, execute the `ngcc` builds and karma test (_to mimic the CI_).

We tried that on 4 different machines (3x MacBook, 1x Ubuntu) and it was constantly reproducible.

[2019-11-21 15:50] dioslaska commented on #32442
I figured a few things out

1 - If a compiled esm5 file is referenced from a folder in the src folder, it does not work. I guess this is because `ngcc` only compiles packages inside `node_modules` to make them ivy compatible? We distribute our library as a downloadable package - currently this will only work with ivy if it's packaged using `npm pack` and install it to `node_modules` from the gener

[2019-11-21 15:59] gkalpak commented on #33734
It turns out that ngcc cannot recognize `__spreadArrays()`, because the packages are compiled with `noEmitHelpers: true` (so TypeScript does not emit the implementation of helpers such as `__spreadArray()`), but also without `importHelpers: true` (so the helpers are not imported either).
I don't know if you have a custom way to provide the helpers, but ngcc cannot recognize them if they are not im

[2019-11-21 16:10] daleclements commented on #33657
@JiaLiPassion The difference is that in the beforeEach (when the spyObj is created), the spy object has the property with a value of undefined, but in the it(), it doesn't have the property at all.

The bug is more obvious if you consider the second test of this feature from the link you provided ('creates an object with property names and return values if second object is passed') the value is no

[2019-11-21 16:30] ajitsinghkaler commented on #33961
Can I try to solve this

[2019-11-21 16:32] ajitsinghkaler commented on #33956
Can I try this one

[2019-11-21 16:34] ajitsinghkaler commented on #33933
Is Only package up-gradation needed for this fix?

[2019-11-21 16:42] ajitsinghkaler commented on #33858
![Desktop screenshot (8)](https://user-images.githubusercontent.com/39260684/69357766-b0995080-0cab-11ea-803f-b8bee6ffe1c6.png)

@gkalpak I am still getting the same issue it is because I'm in India that may be the problem

[2019-11-21 16:43] petebacondarwin commented on #33685
With the change to the diagnostics reporting we get:

[code]

which at least will tell us where to start looking and not leave us with an obscure runtime error.

[2019-11-21 16:49] samherrmann commented on #29361
As of 9.0.0-rc.3, I can confirm that this issue is now also fixed when using path mappings that point to library source under `projects/` instead of built libraries under `dist/`.  The fix was delivered in PR https://github.com/angular/angular/pull/33828.

[2019-11-21 16:59] theodorejb opened #33965 "Windows build error: Generating Skylark documentation dir for docs (2 files) failed (Exit 9009)"
# 🐞 bug report

### Affected Package
bazel?

### Description

When I try to build Angular on Windows (running the command `node ./scripts/build-packages-dist.js`) it always goes part way and then fails with "ERROR: C:/users/theod/documents/github/angular/packages/bazel/docs/BUILD.bazel:3:1: Generating Skylark documentation dir for docs (2 files) failed (Exit 9009)"

The error happens even if I run

[2019-11-21 17:05] IgorMinar commented on #33881
We are investigating this issue. So far the root cause has not been determined, but since we can't reproduce it on many common apps, we suspect it's going to be some kind of edge-case with large impact on affected apps.  We'll figure out what's going on.

[2019-11-21 17:06] IgorMinar commented on #33881
There are several reports of this size regression. If we find no evidence of this being caused by multiple root causes, we'll dedupe these issues and consolidate updates to just one.

[2019-11-21 17:18] Nik4321 commented on #33933
Upgrading the package @angular/compiler-cli to 8.2.14 fixes the issue. That version doesn't use a vulnerable version of package mem.

[2019-11-21 17:25] jaipresto commented on #33821
Same here. Had the problem and others very similar with several Angular 9 releases. Tried so many things - starting afresh, removing and reinstalling and removing and reinstalling packages, playing around with various injector `providedIn` settings - but nothing changes. Only disabling Ivy works.

[2019-11-21 17:29] natcohen commented on #13788
Almost 3 years and not a word from the Angular team!

It is a shame that the Angular community spends time to find bugs and work on solutions but the team doesn't pay attention to that! What should I do to get it fixed in the next release?

I am currently working on a new project and have moved to React... I love Angular but if we can't get the support we need after 3 years, it makes it unusable!

[2019-11-21 17:43] mhevery commented on #33373
Thank you @brandonroberts

[2019-11-21 17:46] mhevery commented on #33373
Closing as resolved, @alxhub it may be a good idea ta have a separate issue for any compiler changes.

[2019-11-21 17:46] #33373 closed

[2019-11-21 17:53] arturovt commented on #33642
@FrozenPandaz

I have looked into your reproduction. This exception is caught during the very first change detection. `tick` is called inside the `ApplicationRef.prototype._loadComponent`. `tick` wraps `detectChanges` in the `try-catch` statement and uses the default `ErrorHandler`, that just logs this exception to console.

The very first thought that came to my mind is just to override the defau

[2019-11-21 18:06] elvisbegovic opened #33986 "serve rebuild speed problem between 9rc.1 and 9rc.2 and 9rc.3"
# 🐞 Bug report

### Command (mark with an `x`)
- [x] serve

### Is this a regression?

**Yes, in 9rc1, our app (on serve ivy+aot) each rebuild is <2seconds**
In 9rc2 app rebuild ~6seconds
Now with rc3, if I trigger rebuild by adding one character in file+save (5 times) rebuild always take >15seconds

1.I was on 9rc2 then use `ng update` to go to 9rc3 for all packages (cli and core ...)
2. After th

[2019-11-21 18:12] VladimirAmiorkov commented on #33734
Thank you for the update. Its a simple patch about the importHelpers so I will handle that in our package. Thank you for all your help and for keeping me in the loop.

[2019-11-21 18:15] nanselpaul2400 commented on #33734
That's nice let me run it and find the fix

On Thu, 21 Nov 2019 at 7:14 PM, Vladimir Amiorkov <notifications@github.com>
wrote:

[2019-11-21 19:48] djabif commented on #32897
hey @Aeonrush did you solve it? I'm facing the same issue :(

[2019-11-21 19:48] dannyskoog commented on #33961
I can confirm that this behaviour is even the same in the latest "next" version (`9.0.0-rc.3`). And yes, it seems like a bug

[2019-11-21 20:31] The-MAZZTer opened #33972 "HttpClient generic methods should expect text responseType when generic type is number/string/boolean"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/http

### Description
The functionality of HttpClient.get<T>/.post<T> etc is unintuitive when using generic type number/string/boolean.

Generics are typically intended to strongly type a class/function, and if there's an ungeneric version typically it's expected to act the same way except without strong typing. However

[2019-11-21 21:05] aaronmanela commented on #33697
I haven't been able to repro, will try again in latest RC and maybe we can close this.

[2019-11-21 21:14] JoostK commented on #33153
So, it turns out that this has actually already been fixed, in #33192.

However, the library is still not compiling with RC as it's using deprecated `Renderer` API which has been removed in V9.

I'll go ahead and close this issue, as the originally reported problem has been resolved.

[2019-11-21 21:14] #33153 closed

[2019-11-21 21:51] #33305 closed

[2019-11-21 21:57] petebacondarwin commented on #33697
Thanks for the update @aaronhoffman - I am going to close this. Please open a new issue with a repro when you get one.

[2019-11-21 21:57] #33697 closed

[2019-11-21 22:14] petebacondarwin commented on #33685
@joshcomley - as far as I can tell your scenario is working as expected. The `<myselector>` element is not known to Angular - it is neither a well-known HTML element nor a component/directive defined with an element selector.

Note also that this has nothing to do with `MyLibComponent` being in a separate package (or even `NgModule`). You can move it to the main package (and declare it in the `App

[2019-11-21 22:41] petebacondarwin opened #33976 "bug(ivy): runtime error for unknown element even with NO_ERRORS_SCHEMA"
The ivy runtime throws an error if there is an unknown element, even if the NgModule contains the `NO_ERRORS_SCHEMA`.

See the reproduction here:

[code]

Open console in the browser to see the error:

[code]

The `AppComponent` template looks like:

[code]

but the `AppModule` has the `NO_ERRORS_SCHEMA`:

[code]

Note that if you remove the `NO_ERRORS_SCHEMA` then the build fails, as expected, du

[2019-11-21 22:42] petebacondarwin commented on #33685
I have created a new issue for the `NO_ERRORS_SCHEMA` scenario which is different to this issue: https://github.com/angular/angular/issues/33976

[2019-11-21 22:43] petebacondarwin commented on #33685
Closing this as ngcc is actually working as expected and we have landed the PR to improve the error messaging.

[2019-11-21 22:43] #33685 closed

[2019-11-21 23:10] atscott commented on #32814
Hi, can someone who's experiencing this issue try to provide a reproduction? It's impossible to debug without one. Stackblitz is ideal but a small github repo would work as well.

[2019-11-21 23:11] IgorMinar commented on #31761
I'm going to close this one as obsolete.

[2019-11-21 23:11] #31761 closed

[2019-11-21 23:21] stephanrauh commented on #33685
@petebacondarwin Just doublechecking: did you address the `menuitem` issue, too?

IMHO that's a tricky one. It works on Firefox but fails on most other browsers.

[2019-11-21 23:36] mhevery commented on #33842
So this works as intended. `ngAfterViewInit` init gets called on creation, regardless if the content is transcluded or not. This is by design and it is how Web-components work which this is modeld on.

You can see this in your test case because `1. In Container: ngAfterViewInit` gets created automatically on creation.

[2019-11-21 23:36] #33842 closed

[2019-11-22 01:10] kara commented on #33637
Fixed by https://github.com/alxhub/angular/commit/2f8a0ec71266665e2a7bfd2f5d45a5f3ed13c66a