[2020-05-08 03:28] lramnath opened #36994 "ERROR in TypeError: Cannot read property 'flags' of undefined"
Fresh project causes error when doing ng serve

Angular CLI: 9.1.4
Node: 13.2.0
OS: win32 x64

Angular: 9.1.5
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router
Ivy Workspace: Yes

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect

[2020-05-08 03:31] billpeace opened #36995 "Cannot read property 'flags' of undefined"
# 🐞 bug report

### Affected Package
Unknown，Just
   ng new project4
   npm start

### Is this a regression?

no

### Description

ERROR in TypeError: Cannot read property 'flags' of undefined
    at resolveAlias (E:\Project\aspnet-zero-core-5.5.0\project4\node_modules\typescript\lib\typescript.js:36513:37)
    at checkAliasSymbol (E:\Project\aspnet-zero-core-5.5.0\project4\node_modules\typescript

[2020-05-08 03:31] lramnath commented on #36994
ERROR in TypeError: Cannot read property 'flags' of undefined
    at resolveAlias (C:\Users\Latha\Documents\myTestApp\node_modules\typescript\lib\typescript.js:36513:37)
    at checkAliasSymbol (C:\Users\Latha\Documents\myTestApp\node_modules\typescript\lib\typescript.js:64502:26)
    at checkImportBinding (C:\Users\Latha\Documents\myTestApp\node_modules\typescript\lib\typescript.js:64534:13)

[2020-05-08 03:32] pkozlowski-opensource commented on #9571
This is a legit bug and still an issue with Angular v9: https://ng-run.com/edit/33jpWXNa8zcyODFX9LXx

A simpler reproduce scenario (without pipes) would be something like `title="inter{{{foo:'bar'}}}polate"`

[2020-05-08 03:41] yktan8 commented on #22509
I tried patch from @Billskate on Angular 9 and Cordova 9 and it works perfect!

[2020-05-08 03:42] guillermohernandez commented on #36995
Run:
npm install @angular/core@9.1.4 @angular/animations@9.1.4 @angular/common@9.1.4 @angular/forms@9.1.4 @angular/platform-browser@9.1.4 @angular/router@9.1.4 @angular/platform-browser-dynamic@9.1.4 @angular/compiler@9.1.4 @angular/compiler-cli@9.1.4 @angular/language-service@9.1.4

ng build

From: https://stackoverflow.com/a/61671596/5157008

[2020-05-08 03:42] guillermohernandez commented on #36994
Run:
npm install @angular/core@9.1.4 @angular/animations@9.1.4 @angular/common@9.1.4 @angular/forms@9.1.4 @angular/platform-browser@9.1.4 @angular/router@9.1.4 @angular/platform-browser-dynamic@9.1.4 @angular/compiler@9.1.4 @angular/compiler-cli@9.1.4 @angular/language-service@9.1.4

ng build

From: https://stackoverflow.com/a/61671596/5157008

[2020-05-08 03:42] guillermohernandez commented on #36993
Run:
npm install @angular/core@9.1.4 @angular/animations@9.1.4 @angular/common@9.1.4 @angular/forms@9.1.4 @angular/platform-browser@9.1.4 @angular/router@9.1.4 @angular/platform-browser-dynamic@9.1.4 @angular/compiler@9.1.4 @angular/compiler-cli@9.1.4 @angular/language-service@9.1.4

ng build

From: https://stackoverflow.com/a/61671596/5157008

[2020-05-08 03:46] indraraj26 commented on #36895
Still i don't get how to use ngTemplateOutletContext to pass context to child component

playground: https://stackblitz.com/edit/angular-9iqfuj?file=src%2Fapp%2Fchild%2Fchild.component.html

[2020-05-08 04:18] magicdict commented on #36993
just rollback，wait for fix

[2020-05-08 04:20] lramnath commented on #36994
Thanks it worked

Sent from my iPhone

On May 7, 2020, at 8:42 PM, Guillermo Hernandez Jr <notifications@github.com> wrote:

﻿

Run:
npm install @angular/core@9.1.4 @angular/animations@9.1.4 @angular/common@9.1.4 @angular/forms@9.1.4 @angular/platform-browser@9.1.4 @angular/router@9.1.4 @angular/platform-browser-dynamic@9.1.4 @angular/compiler@9.1.4 @angular/compiler-cli@9.1.4 @angular/language-se

[2020-05-08 05:06] viceice commented on #36385
Writing here, because #33850 is locked.

I seeing this error since v9.1.5 now, trying to create a simple reproduction

[2020-05-08 05:13] zmzimpl commented on #36995
This seems to be an issue in the `9.1.5` version. You can set the dependency on the angular `~ 9.1.4` to` 9.1.4` to force the use of the `9.1.4` version. This works because my project has just had this issue

[2020-05-08 05:15] cwayfinder commented on #8277
I simply inject the component and it works for me.

[code]

[code]

[2020-05-08 06:04] Marka83 commented on #36977
This looks promising. I'll give it a try. Thank you.

[2020-05-08 06:34] kaalidoss opened #36996 "Could not see dynamic meta data on view source page in Angular 8"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Could see the dynamically updated meta data,when inspect on the same page,but could not see that change in view source page.
could you help?
( version:angular 8)
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2020-05-08 06:41] sam-s4s commented on #8277
Yes, but the problem is... what if you didn't know the type of your component? what if you wanted one of 20 different components and you don't know which it is until after you get it?

ie. different components that share some similarity (ie. all extends the same class).

[2020-05-08 06:52] popec opened #36997 "Reactive form async validation is not working as expected"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/forms@9.1.5

### Is this a regression?

 Don't know.

### Description

 Async validation of Reactive Forms from docs example passes if you type:
- Eric (wait for validation),
- Erica (wait for validation)
- Eric and hit Submit.
![validation-pass](https://user-images.githubusercontent.com/2662895/81379022-a3143d80-9108-1

[2020-05-08 07:13] popec opened #36998 "Reactive form async validation fires on change when updateOn: 'submit'"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/forms@9.1.5

### Is this a regression?

 Don't know

### Description

 Async validation for FormGroup fires on every input change event when updateOn: 'submit' is set.

## 🔬 Minimal Reproduction

Grab the example form validation from docs (https://angular.io/guide/form-validation) and change Reactive form declaration li

[2020-05-08 07:55] Raza27630 commented on #35077
In both old and new version of service worker.

[2020-05-08 07:56] Raza27630 commented on #35077
Not yet. We are still clearing the cache manually.

[2020-05-08 08:30] JoostK commented on #36996
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-05-08 08:30] #36996 closed

[2020-05-08 08:35] owi1972 commented on #36992
It also worked in 9.1.3

[2020-05-08 08:52] jet8a commented on #23427
[code]

[code]

[2020-05-08 08:57] sandervn commented on #36992
The build fails in 9.1.5 if Ivy is enabled. If it's not enabled, it succeed.

[2020-05-08 09:08] alan-agius4 commented on #36995
Duplicate of https://github.com/angular/angular-cli/issues/17665

[2020-05-08 09:08] #36995 closed

[2020-05-08 09:10] tobiasschweizer commented on #31676
any progress on this?

[2020-05-08 09:31] wvankuipers commented on #36992
Just had the same issue, 9.1.4 builds fine, but 9.1.5 gives the same issue with duplicated file names and incorrect casing.

[2020-05-08 09:33] wvankuipers commented on #36992
Probably related to #36968

[2020-05-08 09:33] cedricduffournet commented on #36992
Same issue with angulartics lib
https://github.com/angulartics/angulartics2/issues/380

[2020-05-08 09:42] geetheshbhat commented on #36994
Thanks, I was also facing this issue

[2020-05-08 09:46] phonegap100 opened #36999 "ERROR in TypeError: Cannot read property 'flags' of undefined"
[code]

ERROR in TypeError: Cannot read property 'flags' of undefined

[code]

**ng --version**

[code]

[2020-05-08 09:52] mlc-mlapis opened #37000 "Angular 9.1.5 strange behavior"
# 🐞 bug report

### Is this a regression?
✍️ Yes, the previous version in which this bug was not present was: 9.1.4

### Description
✍️ The standard compilation of previously long time valid code leads to a strange problem with a message like:
[code]
The mentioned component and module are correct and contain valid code. It looks that the message is misleading and the base of the problem is some ne

[2020-05-08 09:59] thetric commented on #36999
Looks like a duplicate of https://github.com/angular/angular-cli/issues/17665

[2020-05-08 10:01] petebacondarwin commented on #36993
Possible duplicate of #36992

[2020-05-08 10:02] petebacondarwin commented on #36994
Duplicate of #36993

[2020-05-08 10:02] #36994 closed

[2020-05-08 10:03] petebacondarwin commented on #36999
Duplicate of #36993

[2020-05-08 10:03] #36999 closed

[2020-05-08 10:05] petebacondarwin commented on #37000
Probably a duplicate of #36992

[2020-05-08 10:07] Marka83 commented on #36977
It works with minor modification! You can close this.

[2020-05-08 10:08] mlc-mlapis commented on #37000
@petebacondarwin It could be but from our point of view, it is unclear what happened. 😸

[2020-05-08 10:12] petebacondarwin commented on #37000
We are investigating...

[2020-05-08 10:50] petebacondarwin commented on #36992
Thanks for the reproduction @n9niwas. It made all the difference!

I have found the problem. It is a bug in ngcc.

During processing ngcc is spotting that the operating system is case-insensitive and then adding imports to files with canonical paths. E.g.

[code]

Note that there are two imports to the same file:

[code]

The first is from the original file. The second is added by ngcc.

Working o

[2020-05-08 10:52] DomEscobar commented on #34405
Im curious if this is an anti-pattern, how do you do this instead?

![image](https://user-images.githubusercontent.com/29872817/81398997-96a0dc80-912a-11ea-88ed-b0b1ee951be1.png)

thanks you

[2020-05-08 10:59] tnlthanzeel commented on #36992
same issue i had this morning when i installed a clean version of angular 9 globally

ERROR in TypeError: Cannot read property 'flags' of undefined
at resolveAlias (D:\samples projects\angular9helloword\helloWorld\node_modules\typescript\lib\typescript.js:36513:37)
at checkAliasSymbol (D:\samples projects\angular9helloword\helloWorld\node_modules\typescript\lib\typescript.js:64502:26)
at checkImpo

[2020-05-08 11:01] theCrius commented on #12540
OMG I can't believe it! I'll have to go back and remove all the workaround now 🤣 👏

[2020-05-08 11:02] tademeit commented on #36992
Nice, thanks for the quick help!

[2020-05-08 11:03] yangjunfocus commented on #36993
I have same issue.
`ERROR in TypeError: Cannot read property 'flags' of undefined at resolveAlias (E:\Angular\node_modules\typescript\lib\typescript.js:36513:37) at checkAliasSymbol (E:\Angular\node_modules\typescript\lib\typescript.js:64502:26) at checkImportBinding (E:\Angular\node_modules\typescript\lib\typescript.js:64534:13) at checkImportDeclaration (E:\Angular\node_modules\typescript\lib\ty

[2020-05-08 11:13] slamjs opened #37001 "9.1.5 @angular/compiler-cli throws `Cannot read property 'flags' of undefined`"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/compiler-cli  9.1.5

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 9.1.4

### Description

ng build, as well as ng serve throws an error `Cannot read property 'flags' of undefined`

## 🔬 Minimal Reproduction

not able to provide

## 🔥 Exception or Error
<pre><code>
ERROR in

[2020-05-08 11:24] havivi86 commented on #36835
Thanks @atscott for looking into it. I guess you are right about the fact that * => * is not equivalent to show <=> hide, but please note some points:
1. The transition form void to hide isn't animated - it is shown until the page is fully displayed, and then it appears at once. And again, when the page in unloaded, the hidden part appears at the moment you press the button and fade away together

[2020-05-08 11:39] PierreMigne commented on #36993
How can i rollback to 9.1.4 ?

[2020-05-08 11:43] destus90 commented on #36993
https://stackoverflow.com/questions/61670882/error-in-typeerror-cannot-read-property-flags-of-undefined/61671596#61671596

[2020-05-08 11:44] nspeedzy commented on #37001
Apparently I also ran into the same issue.  I have a feeling that this problem could be caused by typescript.

[2020-05-08 11:45] RANSoftRA commented on #37001
I am also running into the same problem. Also tried downgrading typescript - did not help.

[2020-05-08 11:46] destus90 commented on #37001
Duplicate of https://github.com/angular/angular/issues/36993

[2020-05-08 11:59] isipro opened #37002 "ERROR in TypeError: Cannot read property 'flags' of undefined (brand new Angular Installation)"
Hello Team,

just a brand new angular installation gives the following error ( multiple people just reporting it )

##Error received when doing ng serve

ERROR in TypeError: Cannot read property 'flags' of undefined
    at resolveAlias (C:\Projects\inine.io\ang9-test\node_modules\typescript\lib\typescript.js:36513:37)
    at checkAliasSymbol (C:\Projects\inine.io\ang9-test\node_modules\typescript\

[2020-05-08 12:00] JadedEric commented on #37002
Trying to downgrade to lower than 9.1.4 also does not work. Tried deleted the node_modules and the package-lock.json file and re-installing the packages once downgrade completed, persists the error.

Initially thought it was a local installation issue, but found that each new command afterwards pulls this broken typescript.js file down, so uninstalled node/npm completely and reinstalled it. then t

[2020-05-08 12:04] ericmartinezr commented on #37002
Just do a little search. This has been opened a lot in the last few hours.

https://github.com/angular/angular/search?q=Cannot+read+property+%27flags%27+of+undefined&type=Issues

Tracked

[2020-05-08 12:05] alan-agius4 commented on #37001
Closing as per above.

[2020-05-08 12:05] #37001 closed

[2020-05-08 12:06] alan-agius4 commented on #37002
Duplicate of https://github.com/angular/angular/issues/36993

[2020-05-08 12:06] #37002 closed

[2020-05-08 12:11] neon096 commented on #37002
https://stackoverflow.com/questions/61670882/error-in-typeerror-cannot-read-property-flags-of-undefined/61671596#61671596

[2020-05-08 12:14] igorosabel commented on #36993
Same issue, updating 9.1.4 to 9.1.5. Weird thing is that only happens on Win10, on macOS 10.15.4 works fine.

[2020-05-08 12:14] SourabhJha commented on #36993
I has same issue with 9.1.4 , So believe no point rolling back.

[2020-05-08 12:19] JoshuvaGeorge03 commented on #36993
Same here, I am having this error too. after updating from angular 9.1.4 to 9.1.5

"@angular/animations": "^9.1.5", "@angular/common": "^9.1.5", "@angular/compiler": "^9.1.5", "@angular/core": "^9.1.5", "@angular/forms": "^9.1.5", "@angular/platform-browser": "^9.1.5", "@angular/platform-browser-dynamic": "^9.1.5", "@angular/router": "^9.1.5",

how to fix this issue?

[2020-05-08 12:31] xiaotaoliu commented on #36992
so,
how to fix this problem?

now I know it is a bug in ngcc.     but how to fix it? My project still not work.
Can someone tell me what should I do?
Many Thanks.(I am a beginner)

[2020-05-08 12:37] cedricduffournet commented on #36992
Waiting for a fix or install previous angular version (previous than 9.1.5 in my case)

[2020-05-08 12:39] petebacondarwin commented on #36992
@xiaotaoliu - for now roll-back your Angular versions to 9.1.4.
You can do this by changing all the `@angular/...` framework packages in your `package.json` to 9.1.4.

E.g.

[code]

And then re-installing your dependencies (i.e. `yarn` or `npm install`).

[2020-05-08 12:43] tnlthanzeel commented on #36992
this is a temporary fix ryt?

[2020-05-08 12:56] JoseTurron commented on #36994
Thanks, it worked even without ng build :)

[2020-05-08 12:57] thegnuu commented on #35586
I was able to resolve my issue... After searching quite a while for a reason I realised that the issue might be caused by different angular links (as you basically said with preserveSymlinks) in my setup. Unfortunately, this option was useless in my case because everything is done after compiling the complete project and externally resolved resources are used.

So I created a small custom `require

[2020-05-08 13:07] xiaotaoliu commented on #36992
I did this. and now it works.
Thank you very much.

[2020-05-08 13:08] xiaotaoliu commented on #36992
@petebacondarwin
I did this. and now it works.
Thank you very much.

[2020-05-08 13:12] NamrataDG commented on #36992
My Angular versions are already pointing to 9.1.4.But its still failing.
"dependencies": {
    "@angular/animations": "~9.1.4",
    "@angular/common": "~9.1.4",
    "@angular/compiler": "~9.1.4",
    "@angular/core": "~9.1.4",
    "@angular/forms": "~9.1.4",
    "@angular/platform-browser": "~9.1.4",
    "@angular/platform-browser-dynamic": "~9.1.4",
    "@angular/router": "~9.1.4",
    "rxjs": "~

[2020-05-08 13:15] tnlthanzeel commented on #36992
do this

npm install @angular/core@9.1.4 @angular/animations@9.1.4 @angular/common@9.1.4 @angular/forms@9.1.4 @angular/platform-browser@9.1.4 @angular/router@9.1.4 @angular/platform-browser-dynamic@9.1.4 @angular/compiler@9.1.4 @angular/compiler-cli@9.1.4 @angular/language-service@9.1.4

[2020-05-08 13:16] simonua commented on #36992
@NamrataDG, you are using a tilde wildcard (e.g. "~9.1.4") which will install patch versions. 9.1.5 and 9.1.4 are both valid. Notice how petebacondarwin's versions are pinned explicitly to the versions to use ("9.1.4"). Once updated, run `npm i`, and you should be good to go.

[2020-05-08 13:19] geeks-Dev opened #37004 "angular+Jasmine+materialized"
Hi Team,
I'm not able to test the app with the materialized css it is not loaded and UI became ugly when ng test is running.

[2020-05-08 13:24] #36947 closed

[2020-05-08 13:27] FabienDehopre commented on #36993
I have the same error when updating from 9.1.4 to 9.1.5.
[code]
I had to revert to 9.1.4 to solve the issue

[2020-05-08 13:31] pkozlowski-opensource commented on #517
This issue is still relevant and it is confirmed bug in the latest version of Angular, see: https://stackblitz.com/edit/angular-ivy-nuc4uz?file=src/app/app.component.ts

[2020-05-08 13:46] pkozlowski-opensource commented on #7651
I think that the several things have happened over the years:
* "Elvis" made it to ES/TS becoming "standard";
* errors with ivy got much better (although not perfect).

At this point it is not clear to me what are the next steps here? Would would people expect given the several-years experience working with the current system?

[2020-05-08 13:55] monish07122001 opened #37006 "ERROR in TypeError: Cannot read property 'flags' of undefined"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

ERROR in TypeError: Cannot read property 'flags' of undefined
    at resolveAlias (D:\Programing\Angular\first-app\node_modules\typescript\lib\typescript.js:36513:37)
    at checkAliasSymbol (D:\Programing\Angular\first-app\node_modules\typescript\lib\typescript.js:64502:26)
    at checkImportBinding (D:\Programing\Angular\first-app\node_modules\typescript\lib\typescri

[2020-05-08 13:56] gkalpak commented on #36991
Potential duplicate of #36992.

[2020-05-08 13:57] petebacondarwin commented on #37006
Duplicate of #36993

[2020-05-08 13:57] #37006 closed

[2020-05-08 14:06] NamrataDG commented on #36992
@simonua  Thanks a lot..It worked.

[2020-05-08 14:11] pkozlowski-opensource commented on #17181
For the record, we are tracking all issues related to `?` support in #34385

[2020-05-08 14:16] geoche opened #37007 "Cannot migrate from Angular 6 to 7"
- Cleaned npm cache
- Removed and installed again node_modules
- Removed package-lock.json
- Done everything according to instructions on https://update.angular.io/#6.0:7.0l3
- Nothing happens

Here is output of npx ng --version
https://gist.github.com/geoche/6f310c65868a88d4fcbeeeb66cfbc9ca

After npx ng update @angular/cli@7 @angular/core@7 getting such output
https://gist.github.com/geoche/f116

[2020-05-08 14:29] #36977 closed

[2020-05-08 14:48] ankitbinjola commented on #36994
thanks , it worked one more thing do we have to Run the above command every  i have to create a new app...
thanks

[2020-05-08 14:50] pauldraper commented on #36895
@indraraj26 I'm confused by the example. I think you have some typos.

Fixed: https://stackblitz.com/edit/angular-empgzq

[2020-05-08 14:58] petebacondarwin commented on #36992
It appears, at least locally that #37008 fixes the problem in https://github.com/n9niwas/ngccbug

[2020-05-08 15:05] vikasmishra21 opened #37009 "Something is broken in Angular 9.1.5"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

 https://stackblitz.com/...

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

**Angular Versi

[2020-05-08 15:07] vikasmishra21 commented on #37009
![ngBuidError](https://user-images.githubusercontent.com/33526630/81419380-c7553600-916b-11ea-861d-44d04df9e97d.PNG)

[2020-05-08 15:09] vikasmishra21 commented on #37009
Hi i got this error while running ng serve on updation of angular cli to version 9.1.4,
i think it occured on updation to version 9.1.5

[2020-05-08 15:11] cdac901 opened #37010 "Example HostListener docs not work"
Hi,

I follow the example in https://angular.io/api/core/HostListener#usage-notes but no work, example:
https://stackblitz.com/edit/angular-ivy-vxwhwg

[2020-05-08 15:12] pkozlowski-opensource commented on #21782
This is still a valid issue with the latest Angular on Safari (Chrome is OK). Here is a minimal reproduce scenario: https://stackblitz.com/edit/angular-ivy-vf6h7v?file=src%2Fapp%2Fapp.component.ts

[2020-05-08 15:13] santoshyadav198613 commented on #37009
Team is working on it, there is an open issue.

[2020-05-08 15:18] #32565 closed

[2020-05-08 15:19] destus90 commented on #37010
@cdac901 you forgot to put the `CountClicks` directive class into NgModule declarations.
https://stackblitz.com/edit/angular-ivy-czjywo?file=src%2Fapp%2Fapp.module.ts

[2020-05-08 15:20] refactorking opened #37011 "Shifting scroll items only when @ViewChild Element is referenced in a child component."
# 🐞 bug report

### Affected Package
@angular/core

### Is this a regression?
No. This issue has been noted in Angular 8.0.0, 8.2.14, and 9.0.0-rc.1.

### Description

In a DIY virtual scroll component, when a @ViewChild ElementRef is accessed in a component of the *ngFor loop the scroll items shift positions.

`<div *ngFor="let item of list; trackBy: itemId;" class="item" [ngClass]="{'gray': item

[2020-05-08 15:20] pishangujeniya commented on #36994
@guillermohernandez  Thanks a lot it worked like a boon, was struggling for last 2 hours to solve the issue.

[2020-05-08 15:22] cdac901 commented on #37010
Thanks!, close this issue

[2020-05-08 15:22] #37010 closed

[2020-05-08 15:53] petebacondarwin commented on #37009
Closing as a duplicate.

[2020-05-08 15:53] #37009 closed

[2020-05-08 16:05] petebacondarwin commented on #36991
I can confirm that the artifacts from https://github.com/angular/angular/pull/37008 resolve this issue, so marking as a duplicate of #36992.

[2020-05-08 16:05] #36991 closed

[2020-05-08 16:25] indraraj26 commented on #36895
actually i want to pass this from app.component to child.component through get those context and use it on ngTemplateOutletContext

[code]

I see you are just iterating child component array instead of app component data. If you console log you will see their you will see context

[code]

[2020-05-08 16:31] petebacondarwin commented on #37000
I am pretty confident that your scenario will be fixed by #37003 and/or #37008.
If you are able to try your project with the build artifacts from #37012, which can be found at https://circleci.com/gh/angular/angular/704553 and confirm whether this fixes your problem that would be very helpful.

You can find out more about how to do this here https://github.com/angular/angular/blob/master/docs/DEVE

[2020-05-08 16:35] sunnyyadav100 commented on #31678
I am also facing same issue, any workaround for IE11?

[2020-05-08 16:39] #36775 closed

[2020-05-08 17:07] hugoebarboza opened #37016 "Angular 9.1.5"
I updated to 9.1.5 and then I got the bellow Error.

 @angular/animations                 ^9.1.4  →   ^9.1.5
 @angular/cdk                        ^9.2.2  →   ^9.2.3
 @angular/common                     ^9.1.4  →   ^9.1.5
 @angular/compiler                   ^9.1.4  →   ^9.1.5
 @angular/core                       ^9.1.4  →   ^9.1.5
 @angular/elements                   ^9.1.4  →   ^9.1.5
 @angular/f

[2020-05-08 17:08] alxhub commented on #37004
Hi @geeks-Dev,

Unfortunately with the limited amount of information present in this issue report, we won't be able to identify any bugs or issues for us to fix. If you're still having problems with this, can you please file a new issue and fill out the issue template, including a link to a repo or StackBlitz that clearly reproduces the problem.

Thanks,
Alex

[2020-05-08 17:08] #37004 closed

[2020-05-08 17:12] petebacondarwin commented on #37016
Duplicate of #36992
Moreover we have just released 9.1.6 which should not have this problem.

[2020-05-08 17:12] #37016 closed

[2020-05-08 17:12] santoshyadav198613 commented on #37016
New version is getting released which will fix this.

[2020-05-08 17:12] petebacondarwin commented on #36992
We have just released 9.1.6 which should not have this problem. Please test.

[2020-05-08 17:13] petebacondarwin commented on #36993
We have just released 9.1.6 which should not have this problem. Please test.

[2020-05-08 17:13] petebacondarwin commented on #37000
We have just released 9.1.6 which should not have this problem. Please test.

[2020-05-08 17:25] atscott commented on #35896
This appears to be related to the breaking change related to insertion order ([reference](https://angular.io/guide/ivy-compatibility)):

In the stackblitz example, you can see that when Ivy is disabled, the new items are added to the front of the list (add a break on: subtree modifications to the dom). If you go to the settings in stackblitz and check the box to "Enable Ivy", you'll see that new i

[2020-05-08 17:25] craftmaster2190 commented on #17181
Arrays/Indexes are safely navigated in templates but not in the way one would expect:
In TypeScript: `foo?.bar?.[0]?.quxx`
In Angular Templates: `foo?.bar[0]?.quxx`
See https://github.com/angular/angular/issues/13254
and https://github.com/angular/angular/commit/f31c9470fae06adc69b2b665773bfc0a8a10d10e

[2020-05-08 17:25] craftmaster2190 commented on #34385
Arrays/Indexes are safely navigated in templates but not in the way one would expect:
In TypeScript: `foo?.bar?.[0]?.quxx`
In Angular Templates: `foo?.bar[0]?.quxx`
See https://github.com/angular/angular/issues/13254
and https://github.com/angular/angular/commit/f31c9470fae06adc69b2b665773bfc0a8a10d10e

[2020-05-08 17:30] petebacondarwin commented on #37016
9.1.6 is released. Please test.

[2020-05-08 17:32] hugoebarboza commented on #37016
Now it's work well....thanks a lot.

[2020-05-08 17:46] craftmaster2190 commented on #34385
TL;DR: Angular resolves to `null` in safe navigation and TypeScript resolves to `undefined` in optional chaining.

Consider the following:

Component Typescript
[code]

Example A
[code]

Example B
[code]

In Example A, the loading div does not show because Angular Templates evaluates the safe-navigation to null.

In Example B, the loading div does not show because TypeScript evaluates the optional

[2020-05-08 18:21] christopherthielen commented on #36992
9.1.6 works for me, thanks for the quick turnaround!

[2020-05-08 18:25] mlc-mlapis commented on #37000
@petebacondarwin I did all tests and it really seems that with Angular 9.1.6 all is working correctly. Thank you. 👍

[2020-05-08 18:25] #37000 closed

[2020-05-08 19:07] cedricduffournet commented on #36992
9.1.6 works for me also, thanks

[2020-05-08 20:03] rocks6 commented on #9275
Having this issue also

[2020-05-08 20:42] sahad78 commented on #36993
Upgrading to 9.1.6 has now solved the issue
Thanks

[2020-05-08 21:01] mgechev commented on #36993
As @petebacondarwin mentioned, upgrading to 9.1.6 should fix the problem. Closing the issue now. In case the problem is still not resolved, feel free to open a new one.

[2020-05-08 21:01] #36993 closed

[2020-05-08 21:01] mgechev commented on #36992
As @petebacondarwin mentioned, upgrading to 9.1.6 should fix the problem. Closing the issue now. In case the problem is still not resolved, feel free to open a new one.

[2020-05-08 21:01] #36992 closed

[2020-05-08 21:43] #17620 closed

[2020-05-08 23:58] HitkoDev opened #37021 "[Ivy] Nested ICU throws `Failed to execute 'appendChild' on 'Node'`"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core, @angular/compiler

### Is this a regression?

 Yes, the previous version in which this bug was not present was: before Ivy

### Description

 Using nested ICU expressions in Ivy results in render errors

## 🔬 Minimal Reproduction

 https://stackblitz.com/edit/angular-issue-repro2-qr9dqx

## 🔥 Exception or Error
<p

[2020-05-09 00:21] HitkoDev commented on #37021
It seems with nested ICU `getRenderParent` returns a comment node, which in turn throws an error as it doesn't support child nodes.

[2020-05-09 01:32] symphony2014 commented on #36900
Sorry too slow response on this, since I got a headache. I got more detail with `--verborse`.
[code]

[2020-05-09 01:40] ntm1627 commented on #36995
Worked perfectly. Thanks

[2020-05-09 06:07] david-ae commented on #35788
@EpicScope Your work around did the trick for me. Thanks a lot.

[2020-05-09 08:09] reallyimeric opened #37023 "angular cli could not found definiteyTyped type definition"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/cli

### Is this a regression?

 No

### Description

`ng serve` did not found installed definiteyTyped type definition

## 🔬 Minimal Reproduction

 https://stackblitz.com/edit/angular-ivy-qfenf4

## 🔥 Exception or Error
<pre><code>

Cannot find name 'DirectoryEntry'.
</code></pre>

## 🌍  Your Environment

**Angular Ver

[2020-05-09 10:08] #36960 closed

[2020-05-09 13:13] Adrug commented on #25963
This feature will be useful for checking permission with `@casl/ability` in the user session.

[2020-05-09 14:51] admir86 commented on #32756
same problem.
any updates?

[2020-05-09 15:40] wxyer commented on #15338
`router.navigate( [ { outlets: { 'popup': null }} ] ); ` do not work

[2020-05-09 16:35] sudhakar-sekar opened #37029 "Error: Can't resolve 'crypto' after upgrade from v8.2.14 to v9.1.5"
I'm using @angular version 9.1.5

and I cannot compile the project, I got the below error,

Module not found: Error: Can't resolve 'crypto' in 'my-app\node_modules\crypto-random-string

with Angular v8.2.14 works fine. Actually I am upgrading from v7 to v9.
When I upgrade to v8.2.14 works fine.
But after upgrade from v8 to v9.1.5 facing compilation issue.

my package.json is below,

        "@angu

[2020-05-09 17:10] petebacondarwin commented on #37029
What version of node.js are you using? `crypto` is a standard library that comes with `node.js`.
Try running `ng version`.

[2020-05-09 18:27] darpankumar opened #37030 "Angular style guide documentation page is not showing sections in sequence."
# 📚 Docs or angular.io bug report

### Description

In Angular style guide(https://angular.io/guide/styleguide) I found one problem the topics are not in sequence example after section 2-5 it shows section 5-2 and then 2-7 and then 2-6.

when looking at a broader perspective both 5-2 and 2-7 seem to be talking about component selector name. then this different section makes me confuse especially w

[2020-05-09 18:28] SourabhJha commented on #36993
Angular 9.1.6 solved the problems, Thank you

[2020-05-09 18:43] sudhakar-sekar commented on #37029
Hi @petebacondarwin,

I am using,
Node Js : v12.16.3
NPM : 6.14.4

[2020-05-09 18:50] petebacondarwin commented on #37029
Perhaps this issue will help?
https://github.com/tensorflow/tfjs/issues/494
Transferring to the CLI repository as it appears to be an issue with the tooling environment rather than the framework.

[2020-05-09 19:19] jforjava1981 commented on #8277
@RockNHawk - in your approach __component is declared as part of Angular's internal API? If yes wouldn't it cause problems if they make some changes as Angular progresses?

[2020-05-09 19:40] mlc-mlapis commented on #8277
@jforjava1981 Yep, it's not a good idea to use a private API anyway, except some catch/tries for understanding, how things work internally.

[2020-05-09 20:34] lmdg commented on #16211
Hi @matthewerwin, first and foremost thanks so much for this feature, sorely needed IMHO. I've been using it for a while now up to version 8, however when I updated to the 9.1 rc (or 10) I noticed that it's not working as I expected any longer since the route is getting canceled and doesn't continue onto the next viable route. I've tried with setting the `cascade` option to both `true` and `cascad

[2020-05-09 20:55] L14ms111 commented on #23447
Pierre feuille ciseaux

[2020-05-09 21:07] angelfraga commented on #37023
I 've reproduced that issue too, but I guess the issue is caused by `@types/filesystem`.

By the way, you could fix the build by adding a custom typing file.

`./src/types.d.ts`
[code]

`./tsconfig.app.json`
[code]

[2020-05-09 21:32] HitkoDev commented on #21021
A "dirty fix" in case you really need this:

<details>
  <summary>⚠ This may break some stuff, use at own risk!</summary>

[code]
</details>

[2020-05-09 22:03] ersimont commented on #31834
For the same workaround zelliott just mentioned, I made a function you can use called [`trimLeftoverStyles()`](https://simontonsoftware.github.io/s-ng-dev-utils/typedoc/index.html#trimleftoverstyles), that you can get from my open source library [`s-ng-dev-utils`](https://github.com/simontonsoftware/s-ng-dev-utils). It will only remove the styles added by your components - if you added global styl

[2020-05-09 23:26] jeronimonunes opened #37031 "Type SimpleChanges"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/core

### Description
I think it could be helpful to type SimpleChanges. I was thinking about doing the necessary changes to the repo and create a PR. I've created the issue so you guys can give me feedback if I can and should do this or if it is better to me to find something else to do. I like Angular and I want to

[2020-05-10 00:21] yilmazhasan opened #37032 "Cannot instantiate cyclic dependency! When injecting a custom service"
# 🐞 bug report

I'm getting this error for a couple of days, may be after upgrading angular/core to 9.1.4:

An interesting error because when I refreshed the page, it works. Also sometimes without refreshing works but there is nothing that I did to make it work or throw.

Custom service is my LogService that injects these classes:     AngularFirestore, UserProgressService UserService,

This servic

[2020-05-10 01:23] RockNHawk commented on #8277
@jforjava1981 __component is set by my self,you can see in code

[2020-05-10 02:15] hossein647 opened #37034 "Angular not installed"
When I install a new Angular app with the following command, it doesn't install and it only installs packages for hours.
[code]
When I forcibly stop the installation and want to do a test to run the app and hit the following command, I see that no package is installed and gives the following error.
[code]

[code]
I searched in other refrences, but the problem is not solved

-----------------------

[2020-05-10 02:45] hossein647 opened #37035 "angular undefined"
After installing cli-angular and checking that it is installed on the command prompt, I see the following two things:

**1- Angular: undefined**
...
**2- Ivy Workspace: <error>
-**-------------------------------------------------------
Angular CLI: 9.1.5
Node: 10.15.1
OS: x64

Angular: undefined
...
Ivy Workspace: <error>

Package Version
----------------------------------------------------------

[2020-05-10 03:49] reallyimeric commented on #37034
It seems simply you did not finish the installation. check your network to npm registry.

[2020-05-10 04:01] nitink789 opened #37036 "ERROR in node_modules/angular-custom-tour/src/index.d.ts:4:22 - error NG6002: Appears in the NgModule.imports of ListModule, but could not be resolved to an NgModule class."
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

 https://stackblitz.com/...

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

**Angular Versi

[2020-05-10 04:29] nitink789 commented on #37036
This has happened after I moved to angular 9 ivy

[2020-05-10 04:52] pkozlowski-opensource commented on #37031
We've got already an issue tracking types on `SimpleChanges` - this is a duplicate of #17560. Closing as a duplicate of #17560 - let's centralise the discussion in there.

[2020-05-10 04:52] #37031 closed

[2020-05-10 04:55] pkozlowski-opensource commented on #37036
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

[2020-05-10 04:57] pkozlowski-opensource commented on #37034
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-05-10 04:57] #37034 closed

[2020-05-10 04:57] pkozlowski-opensource commented on #37023
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-05-10 04:57] #37023 closed

[2020-05-10 04:59] pkozlowski-opensource commented on #37032
@yilmazhasan I'm afraid that we won't be able to do anything about this issue without a minimal reproduce scenario. I can understand that it might be difficult to reproduce since the problem happens only from time to time. Still, you will need to try to narrow down the issue as we can't act on problems that we can't reproduce and understand.

[2020-05-10 05:07] santoshyadav198613 commented on #37036
Hi @nitink789 ,
Just to update, the package which you are using is not compatible with Angular 8 and above the last commit is a year ago and works only with angular 7, you can either move to another package or raise an issue with library. https://github.com/miraxes/angular-custom-tour

[2020-05-10 05:08] santoshyadav198613 commented on #37036
@pkozlowski-opensource you can close this.

[2020-05-10 05:17] pkozlowski-opensource commented on #37036
Thnx @santoshyadav198613

[2020-05-10 05:17] #37036 closed

[2020-05-10 05:56] naveedahmed1 commented on #23613
Any update on this?

I am using Cloudflare which applies different optimizations on files, as a results the hash mismatch for index.html file.

[2020-05-10 10:16] ansonfoong opened #37037 "Angular 9 Issue with MIME Types for Production Build"
So I have an Angular 9 application, it has 3 main routes:
/ - Home
/dashboard
/dashboard/guilds

To get to the Dashboard, you can either click a link and have the router navigate you, or you can directly enter it in in your address bar: /dashboard

In the dashboard route, there is a button that when clicked, it will programmatically navigate with the router to /dashboard/guilds. I can then view my

[2020-05-10 11:36] gkalpak commented on #33582
This is not actually fixed by #34979. Re-opening...

[2020-05-10 12:11] simba-1007080 opened #37038 "When using JitCompilerFactory to compile "module and component" and using "ng build aot=true" to build project, the error "No NgModule metadata found for 'function(){}'" will be find in the browser console"
### Description

When using the function "compileModuleAndAllComponentsAsync()" of JitCompilerFactory to compiler customer module and components and using "ng build --prod --aot=true" to build project, the error "No NgModule metadata found for 'function(){}'"  always to be foud in the browser console, how to do and fixed it?
Thanks!

## 🔬 Minimal Reproduction

 https://stackblitz.com/...

## 🔥 Exc

[2020-05-10 12:19] kpayson opened #37039 "space added between components when border added to all elements"
This is strange but I can reproduce it.
I added a style * {border:1px solid red} to my page to help in debugging;
This caused margin space to be added between components.

See
https://codesandbox.io/s/github/kpayson/WeirdSpaceInAngular/tree/master/
https://6puzo.csb.app/

[2020-05-10 12:51] AliSawari commented on #20621
@leonardopaiva any updates on the requested feature ? this should have been  implemented by now :neutral_face:

[2020-05-10 15:27] naveedahmed1 commented on #23613
I got the issue fixed by:

1. Run production build.
2. Minify index.html file `html-minifier -o dist/index.html dist/index.html --remove-comments --collapse-whitespace --minify-js --minify-css`
3. Minify Service Worker `terser dist/combined-sw.js -o dist/combined-sw.js -c --comments /^##/`. .
4. Generate Service Worker config file again `ngsw-config dist ngsw-config.json`

@gkalpak @filipesilva wh

[2020-05-10 15:56] mvaljento commented on #32756
Same... :(

[2020-05-10 16:32] gkalpak commented on #23613
@naveedahmed1, maybe you could open an issue for this to be discussed on the [CLI repo](https://github.com/angular/angular-cli).

[2020-05-10 16:35] pkozlowski-opensource commented on #37039
Oh, I can see how this could be confusing! Let's decipher what is going on here!

First of all, the issue at hand is pure HTML/CSS one and Angular only plays a limited role here (more on this below). What I mean is that the same issue can be reproduced with just HTML / CSS without Angular at all: https://stackblitz.com/edit/typescript-votpck?file=index.html

The root cause here is that Angular com

[2020-05-10 16:35] #37039 closed

[2020-05-10 16:37] pkozlowski-opensource commented on #37038
@simba-1007080 please turn your code example into a runnable one using https://stackblitz.com/ as requested in the issue template - we need a live reproduce scenario to confirm the issue.

[2020-05-10 16:38] pkozlowski-opensource commented on #37037
Sounds like a duplicate of #30835, see the relevant discussion there (especially https://github.com/angular/angular/issues/30835#issuecomment-616610138)

[2020-05-10 16:38] #37037 closed

[2020-05-10 18:56] ansonfoong commented on #30835
So I have an Angular 9 application, it has 3 main routes:
/ - Home
/dashboard
/dashboard/guilds

To get to the Dashboard, you can either click a link and have the router navigate you, or you can directly enter it in in your address bar: /dashboard

In the dashboard route, there is a button that when clicked, it will programmatically navigate with the router to /dashboard/guilds. I can then view my

[2020-05-10 20:16] vmagalhaes commented on #30835
You need to check your nginx config. Check if you have the right mime types listed.

[2020-05-10 22:53] ansonfoong commented on #30835
I did. I've tried literally every single thing in this thread. And nothing worked for me. I went into nginx.conf and added `include /etc/nginx/mimes./type`, didn't work. Tried changing type="text/javascript", no luck. Even tried adding a header for my .js files in NGINX, no luck.

[2020-05-11 02:30] kzay commented on #36530
Same here!

[2020-05-11 02:57] yelhouti opened #37041 "Access data of route by URL before navigation"
# 🚀 feature request

### Relevant Package

This feature request is for @angular/router

### Description
My goal is to automatically display in my menu (and other pages) only links that a user can access.
All the info required for this is usually stored within the module routes:
- the `path` field contains the string that allows to map a "url" into a component
- The `data` field may contain the aut

[2020-05-11 03:50] Aidan-Chey commented on #36510
This can occur when the chunk load error is caught in the router.
`main.js:21895 Error: Uncaught (in promise): ChunkLoadError: Loading chunk module-name failed.`

This can be achieved by doing something like this in router with lazy loaded module:
`loadChildren: () => import('module/path').then(m => m.myModule).catch( err => console.log('Oh no!') )`
Then turning off the server before attempting to

[2020-05-11 05:30] nitink789 commented on #37036
@santoshyadav198613 But I have some other modules as well which are not updated since more than a year. How are they working ?

[2020-05-11 07:09] mindaugas16 commented on #10567
Here is temporary solution using prototypes:
`import { AbstractControl, ValidatorFn } from '@angular/forms';

declare module '@angular/forms' {
  interface AbstractControl {
    addValidators(validators: ValidatorFn[]): void;
  }
}

AbstractControl.prototype.addValidators = function(this: AbstractControl, validators: ValidatorFn[]) {
  if (!validators || !validators.length) {
    return;
  }

  th

[2020-05-11 08:53] jaworek opened #37042 "Query params overwrite each other when set at the same time via this.router.navigate()"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/router

### Is this a regression?
I have not tested it on older versions of Angular. I'm currently using Angular 9.

### Description

I'm building an application that sets up a couple of values that I would like to keep in query params for users to easily share.

I tried to find a good solution on how to properly manage a

[2020-05-11 10:26] muuvmuuv commented on #26083
Sad thing that the CSS trick with `:empty` does not work any more...

[code]
![Bildschirmfoto 2020-05-11 um 12 25 57](https://user-images.githubusercontent.com/11534760/81551697-926efc00-9382-11ea-97d1-784e7c8b1535.png)

[2020-05-11 10:50] ErVishalM opened #37044 "Angular application deployment Error - net::ERR_HTTP2_PROTOCOL_ERROR"
Hi,

I am using angular 9 version and created a small application. When i deploy that application to some of my servers then i am getting **Failed to load resource: net::ERR_HTTP2_PROTOCOL_ERROR** but same application is working on some other server also which i tested with the same compiled files just changing the URL in main.js files. Are there any dependencies in IIS server for Angular which we

[2020-05-11 10:53] pkozlowski-opensource commented on #24223
This is still reproducible with the lates Angular v9 running ivy: https://stackblitz.com/edit/angular-ivy-nyg1z7?file=src%2Fapp%2Fapp.component.ts

While it is true that during AoT compilation `CUSTOM_ELEMENTS_SCHEMA` disables all validation for custom elements not specified in the schema (as we can't known if it is valid or not), we could improve situation a bit in JIT, as checks are done during

[2020-05-11 10:56] pkozlowski-opensource commented on #24223
Also relevant: #12045

[2020-05-11 11:04] jimmywarting commented on #36246
Someone just asked me if they could use streamsaver with angular's HttpClient
my answer where: you can't, they don't seem to give you a readable stream

https://github.com/jimmywarting/StreamSaver.js/issues/155#issuecomment-626470552

using fetch as http backend when possible would be 👍

[2020-05-11 11:55] msbasanth opened #37047 "Issue after migrating to ANgular 9 - error NG6001: Cannot declare 'Button' in an NgModule as it's not a part of the current compilation."
Hi,

I am facing an issue after migrating to Angular 9 - error NG6001: Cannot declare 'Button' in an NgModule as it's not a part of the current compilation.

### Is this a regression?
 Yes, with Angular 8 we were able to load Angular library and import only components which are needed, not the entire module.

### Description

I have an Angular 9 application (Ivy Compiled) which uses Angular 9 Libr

[2020-05-11 12:02] ericmartinezr commented on #37044
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-05-11 12:04] GeorgiyZhuravlev commented on #28161
Actually, It would work just great when dealing with multiply `<ng-template>`s.
Some components may have many ng-templates defined in a component's template.
It would be fine to be able to spread these to separate files.
One of the use cases (our web app):
Some components have the template "to look like and work" somehow + couple of `<ng-template>`s to list small UI tools, like buttons/inputs/drop

[2020-05-11 12:30] #37044 closed

[2020-05-11 12:49] pkozlowski-opensource commented on #32882
Here is the summary of the current situation:
* `{{num++}}` / `{{num--}}` will fail at compile time with "Unexpected end of expression: {{i++}}"
* `{{++num}}` / `{{--num}}` will not throw at compile time but will generate "wrong" code (`ɵɵtextInterpolate(ctx.i - 0 - 0)` for `{{++i}}` which is effectively noop.

We've got the same behaviour in both binding expressions (`{{i++}}`) and event handler

[2020-05-11 12:50] pkozlowski-opensource commented on #32882
Reproduce scenario with Angular v9 running ivy: https://stackblitz.com/edit/angular-ivy-am4bzr

[2020-05-11 12:52] pkozlowski-opensource commented on #35779
I'm going to close it as a duplicate of #32882 based on my comment in there: https://github.com/angular/angular/issues/32882#issuecomment-626681317

tl;dr; is that I think we should support it or, as the very least, consistently report errors during compilation time.

[2020-05-11 12:52] #35779 closed

[2020-05-11 13:16] sonukapoor commented on #35891
@esugoi That helped. Thanks

[2020-05-11 13:35] Hydhen commented on #36279
I'm having the same issue, could you explain more about the import error you faced ?
I don't see any trouble with mine so far...

[2020-05-11 13:44] tmair-red opened #37048 "HashLocationStrategy does not change hash when redirecting in canActivate Guard"
# 🐞 bug report

### Affected Package
 The issue is caused by package @angular/router

### Is this a regression?

 No, at least I can confirm that this issue was also present in version 8 of Angular

### Description
Please have a look at the reproduction example at Stackblitz. The issue can be reproduced as follows:
1. Open the application
1. Change the URL in the URL Bar to `.../#/bar` and hit <ke

[2020-05-11 13:47] Marka83 commented on #36279
@Hydhen In our case, programmer used wrong component.
I.e. he referenced some external component in his y.component.ts file, but he never did import the module where that component resides:
[code]

[2020-05-11 14:19] pkozlowski-opensource commented on #36256
Thinking about it a bit more, I would say that, as the very minimum, we should have compile-time error when encountering `[attr.width.px]` syntax (that is, we should verify that the attribute binding syntax comes only in the `[attr.attrname]` flavour and is _not_ accepting suffix.

[2020-05-11 14:41] pkozlowski-opensource commented on #17181
I'm going to close it as a duplicate of #34385 - I think that the good, longer-term strategy is to align Angular expression syntax with what is cooking on the ES side: https://github.com/tc39/proposal-optional-chaining - we don't want to maintain same syntax with the different semantics on the Angular side.

[2020-05-11 14:41] #17181 closed

[2020-05-11 14:53] pkozlowski-opensource commented on #21782
While the problem is easy to reproduce it is not clear to me why this issue happens in Safari only?
*  Is this a bug in Safari?
* are we doing something specific in Angular (in terms of DOM manipulation) that "upsets" Safari? If so, what is the root cause?

If anyone had a deeper look into it and have some insights it would help us to prioritise this fix.

[2020-05-11 14:53] #35891 closed

[2020-05-11 15:28] ray-kay commented on #25672
Is there a way to force Angular to use Keyframes instead of Web Animations?

[2020-05-11 16:49] Jacek-Kiczor commented on #30835
I also have the issue (using NGINX as an ingress in my Kubernetes cluster).
Does someone have any ideas?

[2020-05-11 17:02] mgechev commented on #7651
It definitely could be challenging to ensure consistency with the shape of the business model, especially in a mature system with a lot of data migrations. I see the process of detecting a bug in an app on several levels (from better to worst):

1. Writing a bug-free program. That's ideal but unrealistic.
1. Catching a bug in your IDE/text editor, thanks to your tooling's language service.
1. Dete

[2020-05-11 17:02] #7651 closed

[2020-05-11 17:39] kzay commented on #18374
Same here

[2020-05-11 17:53] mix5003 opened #37105 "pipe not found in ng serve but found in production build"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [ ] build
- [x] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] config
- [ ] run
- [ ] help
- [ ] version
- [ ] doc

### Description
i try to upgrade from angular 8 to angular 9. i found one of my component can not find any pipe. but other component in same module works. and in production buil

[2020-05-11 18:59] dhrn commented on #34352
+1

[2020-05-11 19:30] darpankumar commented on #37030
Closing this issue as per comment from @sonukapoor .

[2020-05-11 19:30] #37030 closed

[2020-05-11 19:44] atscott commented on #35418
Hi folks (@Coly010, @DanWahlin, @selangley-wa),

I see that `view` is a private property of `Injector_` and that `_providers` is in turn documented as internal on the `NgModuleRef_`. While there's no guarantee of support non-public methods and properties, I would still like to find a suitable replacement for you. I realize accessing private properties is probably an indication that our public API

[2020-05-11 19:50] DanWahlin commented on #35418
Hi Andrew. Thanks for the response....really appreciate it.

With Angular 8 I'm using the ng object to get to the Router service. That's used along with the Redux Devtools to handle routing changes as people step through time. Here's the specific code where I need to get the Router:

https://github.com/DanWahlin/Observable-Store/blob/master/modules/observable-store-extensions/angular/angular-devto

[2020-05-11 20:34] matsko commented on #36975
These failures exist prior to https://github.com/angular/angular/commit/420b9be1c14ec6900692b641a3d89b99eb9c6e5b

[2020-05-11 21:55] atscott commented on #35418
Hi @DanWahlin,

I did some digging and it would require a fair bit of work and design to add this to the debugging tools. I'm keeping this bug open to track the request; we do also have a document to track debugging APIs that would be useful and this is now on it.

 For now, your best option might be to add a note to your top-level readme. Users will need to provide the `Router` and `NgZone` (that

[2020-05-11 22:45] lujian98 opened #37054 "[Ivy] create embedded view is not added"
# 🐞 bug report

### Affected Package
@angular/core

### Is this a regression?

Yes, worked perfectly fine in v8 without Ivy. Works also without Ivy in v9.
It's interesting that in Stackblitz it works as intended, but when using Chrome/FireFox and ng serve locally it doesn't work.

### Description

I try to create embedded view from template and then add the embedded view to the Content Children. H

[2020-05-12 00:35] DanWahlin commented on #35418
Thanks Scott. I think what you propose above works fine. Easy to document that and gives the user complete control over if they want to do it or not to enable the redux tools in this scenario.

I really appreciate your time in looking into it more. Thanks a ton!

[2020-05-12 01:44] DanWahlin commented on #35418
Thanks again....I tried this out @atscott. The next challenge is I'm getting "No provider found" for Router:

![2020-05-11_18-28-50](https://user-images.githubusercontent.com/1767249/81628445-8cded980-93b5-11ea-98cd-f39676fcd296.png)

Is it being injected too early in the startup lifecycle? I don't know anything about the `_lView` and `_tNode` data returned from the `this.window.ng.getInjector(thi

[2020-05-12 02:51] atscott commented on #35418
Hi @DanWahlin, could you create a reproduction so I can take a look? I was [testing this in stackblitz](https://stackblitz.com/edit/angular-ivy-1vpj5o?file=src%2Fmain.ts) inside the `bootstrapModule` promise resolve and it seemed to be working
![image](https://user-images.githubusercontent.com/479713/81632981-72f6c400-93c0-11ea-8fc8-7614dbf8d9c9.png)

[2020-05-12 03:13] MrNocTV commented on #31191
I'm having problem with this, please fix it. Our project using CSP to prevent inline style so having an empty `<style>` tag in `<head>` will cause browser to spit out annoying CSP error logs. I also have one question for this on [stackoverflow](https://stackoverflow.com/questions/61730637/how-to-remove-angular-empty-style-tag-in-header?noredirect=1#comment109196823_61730637) in hope for getting a

[2020-05-12 03:23] Acornhut opened #37058 "Steam Trading bot"
Hey guys, I am fairly new to coding and I decided to start off with making a steam trading bot. This is the first issue I had, does anyone know what I should do? Thanks. Also, this is the tutorial I'm following: https://github.com/MaestroDesign/SteamBotProjects
![Capture 25](https://user-images.githubusercontent.com/65208262/81634999-16a29d00-93de-11ea-9a2f-dd4854a7ab2e.PNG)

_____________________

[2020-05-12 03:25] Acornhut commented on #37058
oh I forgot to mention, this is the tutorial I'm following: https://github.com/MaestroDesign/SteamBotProjects

[2020-05-12 03:28] sarunint commented on #37058
This is Angular repository, not a Steam Trading Bot repository.

[2020-05-12 03:30] Acornhut commented on #37058
An Angular repository? Should it be a Steam Trading Bot repository?

[2020-05-12 04:19] matthewerwin commented on #16211
@lmdg I appreciate the kind words.

For version 10 you must explicitly use (and use the MyGet upstream feed):
`"@angular/router": "10.0.0-next.3",`

For version 9 there are a variety of builds available; I recommend using the latest one I posted (9.1.0-rc.1). You can see a list of all builds I've posted here:

https://www.myget.org/feed/snaptech/package/npm/@angular/router

As there have been no r

[2020-05-12 05:30] vinayluzrao opened #37059 "Components that extend JS's `Array` class cause two issues"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/core.

### Is this a regression?
I don't know if the `.slice()` issue is a regression. The `@ViewChild` issue was happening in angular 8 as well.

### Description
1) When annotating a component that extends JS's `Array` class, `@ViewChild` fails to grab the reference (the property remains undefined).

2) When calling `.sl

[2020-05-12 05:32] pkozlowski-opensource commented on #37058
I'm sorry but this issue is not caused by Angular.

[2020-05-12 05:32] #37058 closed

[2020-05-12 06:20] Wazea opened #37060 "Double "and" in documentation"
# 📚 Docs or angular.io bug report

### Description

In the section GETTING STARTED, subsection Angular Concepts, subsubsection Next Steps there is a double "and" in the "Support for the development cycle" paragraph on the first line.

## 📷Screenshot
![image](https://user-images.githubusercontent.com/33296044/81645132-b2112d80-9431-11ea-8fc2-0dd8178d6edb.png)

[2020-05-12 06:49] sbradl commented on #36414
Still no changes for me with 9.1.6

[2020-05-12 07:21] muuvmuuv commented on #7055
I want to add my use case because I run out of ideas: I have a component called "card" which is dynamic and has a directive in it. I can pass a type prop which will create a component via `ComponentFactoryResolver` inside the directive to create the correct "card" component. Inside the card I have data that needs to be resolved. For example the card can have a prop location which is different base

[2020-05-12 07:31] Mejans opened #37061 "Missing locale"
# 🐞 bug report

### Affected Package
All

### Is this a regression?

### Description
Hello,
in https://github.com/angular/angular/tree/master/packages/common/locales there is no locale for Occitan, usually oc_FR because it is in the «seed» folder of CLDR I think.
But all the information that are extracted from CLDR are already in the CLDR file.
Would it be possible to integrated it?
Some developer

[2020-05-12 08:05] Mejans commented on #37061
And I ping @Chocobozzz so he can better explain what problem he is facing :)
Many thanks!

[2020-05-12 08:09] andreElrico commented on #12540
I was about to file an issue: https://stackblitz.com/edit/angular-ahq3v1?file=src/app/hello.component.ts

Wow, its been open for almost 4 years despite being a performance killer and easy to fix.

Thanks Alex for fixing <3

[2020-05-12 08:13] mlc-mlapis commented on #7055
@muuvmuuv Do you have any functional code inside those two hooks?

[2020-05-12 08:33] daelmaak opened #37062 "Change detection not triggering for template event handler"
# 🐞 bug report

### Description
I am working on an Angular gallery library ([repository](https://github.com/daelmaak/ngx-doe-gallery)) and I have a change detection problem with the navigation arrows. The first navigation arrow looks like this in the template:

[code]

Important part is the **click** event handler and **ngIf** on the div. Now everytime it is clicked, the `prev` method should be ca

[2020-05-12 08:40] Maximaximum opened #37063 "Angular issue template on stackblitz should be updated"
# 📚 Docs or angular.io bug report

### Description
The Angular [bug issue template](https://github.com/angular/angular/blob/master/.github/ISSUE_TEMPLATE/1-bug-report.md) contains a link to a [stackblitz template](https://stackblitz.com/fork/angular-issue-repro2). However, the stackblitz template is quite outdated - it was created for Angular 6.

The stackblitz template's npm dependencies should b

[2020-05-12 09:28] petebacondarwin commented on #37061
Not sure how to bring in locales that are in seed still. Anyone got any ideas?
Meanwhile, it is definitely "feasible" to handcraft your own locale data file if you are desperate.

[2020-05-12 09:29] xinbaihui commented on #31684
I update zone.js from v0.9.1 to v0.10.3  to avoid this error. But I encounter another problem that it won't stop when retry times up to [count] times.
[code]

[2020-05-12 09:51] Mejans commented on #37061
Yes this is what I suggested here:
https://github.com/Chocobozzz/PeerTube/issues/2612
It's even really easy as the data, day and month day, are really easily available across the Internet :)

[2020-05-12 10:08] Maximaximum commented on #34522
I've created a stackblitz to report this issue, and only after that I was able to find this issue that's already open. Anyway, just in case it helps, here's my stackblitz: https://stackblitz.com/edit/angular-issue-ngswitch-type-narrowing

This issue is quite annoying, so I really hope that it gets enough attention from the Angular team and gets fixed soon.

[2020-05-12 10:20] MalliswariKP commented on #23609
I have tried angularCompilerOptions in tsconfig.json file... No luck...

![image](https://user-images.githubusercontent.com/41544362/81672559-ed2e5380-9467-11ea-99a0-489fa006f2dc.png)

This is my actual error
![image](https://user-images.githubusercontent.com/41544362/81672385-b5271080-9467-11ea-8671-eda31f319f53.png)

I am using a routing service in order to fetch routes dynamically... but ended

[2020-05-12 11:14] GlauberF opened #37064 "Module parse failed: Unexpected token (1:0)"
# 🐞 bug report

### Affected Package
@angular/....

### Description
I'm getting an error, which for me has no logic.
Since the form being written for this component is the same as the one written in others, however the error happens only in 1 component

## 🔬 Minimal Reproduction
**dynamic-component.html**
[code]

**dynamic-component.component.ts**
[dynamic-component.component.ts](https://gist.gith

[2020-05-12 11:37] mistic100 commented on #35788
Can someone give a answer to this question ? When migrating an application using 20 external librairies the current error message is all but helful.

[code]

the main file being so big Chrome cannot open it I have no idea where it fails.

[2020-05-12 11:44] petebacondarwin commented on #35788
@mistic100  - sorry about this. If you are able to, the best approach is to look at the stack trace at the point where this error is thrown. Further up the call-stack you might be able to find a point where it is trying to create a component. This should tell you, at least, which component template contains the offending component that has not been processed by ngcc correctly.

Another approach is

[2020-05-12 11:45] Hydhen commented on #36279
@Marka83 Thanks, it helped me to solve my issues, for me the ngCli did a weird import after generating my component, miss-matching or redundant name used I guess.
Short story, it was also an import issue.

[2020-05-12 12:04] mistic100 commented on #35788
ngcc does nothing meaning it already did all what it can ?

I tracked down the problem to some injection issue (on Firefox because Chrome cannot handle it), I'll investigate another day because I am currently overwrought by this 8->9 migration it's really awful.

**I am still baffled that the errors thrown by Angular injector does not contain information about what is going on**. It is slightly be

[2020-05-12 12:06] zampage commented on #32756
This breaks a big chunk of our application, any updates on this issue?

[2020-05-12 12:07] JoostK commented on #37064
Please provide a reproduction for this issue, preferably using a Github repo and some commands to run. Without it, there's not enough information to investigate.

[2020-05-12 12:57] petrot commented on #35788
`node_modules/.bin/ngcc -l debug` not helped me. But with `"optimization": false,` in angular.json, the prod serve works.

[2020-05-12 13:50] lincolnthree commented on #29395
Looks like the CDK already includes this feature:

https://material.angular.io/cdk/observers/overview

[2020-05-12 14:06] bryanrideshark opened #37068 "Regression - Decorators"
Currently, we cannot upgrade to Angular 9.0 Ivy because of the regressions introduced by the Ivy compiler. If #35464 is not merged, we will have to stop upgrading Angular and leave it at version 9.0 indefinitely.

I am sharing this issue primarily so the Angular team can see how users are using Custom Decorators in the wild. I suspect I'm not the only one doing something like this.

### Descriptio

[2020-05-12 15:07] bbarry commented on #37068
Somewhat off topic: Your type is wrong on the pin member and likely is going to cause issues in a more complex usage.

It should be `{lat:number; lng: number;} | null | undefined` as those are valid states in that component. The fact that both `null` (explicitly set) and `undefined` (set because member is not initialized in a constructor) are valid on the same member leads me to believe that somet

[2020-05-12 15:19] muuvmuuv commented on #7055
@mlc-mlapis no, I just added it so I can see when and where after my function is called. Anyway it is called too often.

[2020-05-12 15:48] Serginho opened #37072 "TestBed.overrideComponent fails with bazel"
# 🐞 bug report

### Affected Package
@angular/compiler

### Is this a regression?
Not sure

### Description

FooComponent has a component own provider which name is FooService, so If I use overrideComponent to mock FooService, it doesn't work with bazel, but it works with angular-cli.
(See minimal Reproduction)

If I remove overrideComponent call, the code works, tests are not success, but works.

[2020-05-12 15:49] zuzusik opened #37102 "Ivy doesn't include downgraded components into production build"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [x] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 8.x.x

### Description

Consider following situation:

- there is an AngularJS appli

[2020-05-12 16:24] mlc-mlapis commented on #7055
@muuvmuuv OK. Not in reality, because of Angular compiler creates the magic when compiling the code, and if it doesn't find that hook, it doesn't create any code that can be called, and this means the zero load. Btw, `ngDoCheck()`, `ngAfterContentChecked()`, `ngAfterViewChecked()` are a bit special hooks, because they allow you to overwrite the default behavior, even for `OnPush` strategy, so if t

[2020-05-12 16:32] muuvmuuv commented on #7055
@mlc-mlapis I understand that, but anyway when I remove all hooks, It is still the same. Function is called 20 times. Maybe I should create another issue for that? I am pretty sure it is the factory resolver or container ref which vreates the dynamic component.

[2020-05-12 16:37] mlc-mlapis commented on #7055
@muuvmuuv How can be called when it doesn't exist?

[2020-05-12 16:40] jeserkin commented on #20276
How are things progressing on this issue?

I noticed it was created in 2017 and till now it still produces same result. By result I mean, that https://angular.io/api/common/http/HttpParams references HttpParamsOptions type, but this type has no reference and therefore doesn't tell developer/user, what it provides/consists of.

[2020-05-12 16:47] muuvmuuv commented on #7055
@mlc-mlapis it does? I don‘t understand. I said when I remove all hooks. The function in default.component.ts is called in the template not in a hook. I just added them to better understand what is going on.

[2020-05-12 17:02] mlc-mlapis commented on #7055
@muuvmuuv Ah, you mean that `{{ getLocationText() }}` is called multiple times, right? You have to differentiate between JIT and AOT mode of the app then. In JIT, it is called two times more than in AOT because the JIT logic does some additional checks. But still, it is called twice for each instance of such a binding. That's why binding to functions in a template is generally not recommended, and

[2020-05-12 17:02] JohnnyS318 commented on #35740
I have encountered the same issue with bazel 3.1.0.

[2020-05-12 17:28] ErVishalM commented on #37044
Hi, I found the problem, but did not get why it was working on some server and why not working for some. Problem solution i found i have created common service files so need to import those service files only in app.module and then it was working for every server.

But anyway you've closed it.
Thanks.

[2020-05-12 17:50] #36570 closed

[2020-05-12 18:26] petrot commented on #35788
UPDATE: for me, the problem has been solved...
As I wrote, I have 2 working projects, and 1 with this JIT problem.. So today I opened one of the  working codes and started install the packages from the problematic one, one by one. After every package install, I ran prod serve. And finally I found the devil package (it was the last one, like in a movie). For me this was "ng2-haversine"... With this

[2020-05-12 19:35] AndrewKushnir commented on #37021
Hi @HitkoDev, thanks for reporting the issue, we were able to reproduce it. Initial investigation revealed that the problem happens only when ICU cases have different shape, i.e. one of them has a nested ICU and another one does not. As a temporary workaround (to get unblocked), try to update the code to use `*ngSwitch` instead of an ICU in that particular scenario. Thank you.

[2020-05-12 19:35] Dok11 opened #37078 "Error with build `:host-context` with spaced css selector"
# 🐞 bug report

## 🔬 Minimal Reproduction
css code:
[code]

Build into rule without spaces:
[code]

I think host context should save own css selector without modification.
In serve mode it works correctly.

## 🌍  Your Environment

**Angular Version:**
<pre><code>
Angular CLI: 8.2.2
Node: 10.16.3
OS: win32 x64
Angular: 8.2.14
... animations, common, compiler, compiler-cli, core, forms
... language-

[2020-05-12 19:53] AndrewKushnir commented on #37072
Hi @Serginho, thanks for reporting the issue.

Based on the repro that you provided, it looks like the following happens:
- since `TestBed.overrideComponent` was called for `FooComponent`, Ivy TestBed tries to re-compile it in JIT mode before each test
- since `FooComponent` has `templateUrl` and `styleUrls` properties defined in the `@Component` decorator, compilation fails because the resources

[2020-05-12 19:59] AndrewKushnir commented on #37072
@Serginho, could you please also provide a bit more information on which commands did you use to reproduce the issue with `bazel` and CLI commands that you used to run the same tests via CLI? If you could create a Github repository with a minimum repro, that'd be helpful as well.

[2020-05-12 20:26] dsebastien commented on #24547
I've tried using scrollPositionRestoration and indeed face the troubles mentioned in this issue. I've documented my findings and current solution here, just in case anyone is also looking for a solution: https://medium.com/@dSebastien/handling-scrolling-on-angular-router-transitions-e7652e57d964

It's far from perfect, but it's an improvement for apps that have fixed elements.

[2020-05-12 21:40] #36885 closed

[2020-05-12 22:03] HitkoDev commented on #37021
Thanks, I've already done that as a temporary fix. It did, however, increase translation complexity in a few places, but I'll take that until a proper fix is available.

[2020-05-12 22:07] atscott commented on #37042
While this is working as intended (please see #11374, #11373, and #11662), I understand that most backends support repeating the same key several times so I'll keep this open as a feature request.

Related discussion on stackoverflow: https://stackoverflow.com/a/24728298

[2020-05-13 04:47] MrNocTV commented on #31191
Hi, I've checked the code and the root cause is in `shared_styles_host.ts`. The `addStyles` method of `SharedStyleHost` class and `_addStylesToHost` of `DomSharedStylesHost` do not check for empty style. I think it will make more sense if we exclude those empty styles and prevent them from being injected into the DOM.

However, my company is using Angular 8. Can I make a PR to one of these three b

[2020-05-13 05:47] JiaLiPassion commented on #31684
@xinbaihui, please provide a reproduce repo and a simple step to explain what is the expect result. thanks.

[2020-05-13 06:47] ozkoidi commented on #29536
Any news or estimated release date for this?

[2020-05-13 07:06] xinbaihui commented on #31684
This is an example from AleG94, I update zone.js to v0.10.3
[https://stackblitz.com/edit/angular-wmyhre](url)

I hope  the request will be stopped and catch the error after retry 3 times. But actually the retry won't stop even retry time up to maxAttempts.

Thanks very much.

[2020-05-13 07:17] devversion commented on #34945
I looked into this again. There doesn't seem to be much we can do about this. The issue here is great as others that run into the same issue will be able to see what the solution is (i.e. building the library first)

Ideally though, we'd either have the possibility in the CLI to build libraries before (as explained in my comment above), or the path mappings would also point first to the actual sou

[2020-05-13 07:17] #34945 closed

[2020-05-13 08:12] Serginho commented on #37072
Sure.

Here you are: https://github.com/Serginho/TestBedOverrideComponentIssue

You can use `yarn test`or `yarn bazel test //src:test`.

[2020-05-13 08:26] javakiller0606 opened #37083 "Re: Angular document for Japanese"
I am writing to ask about Angular document for Japanese.

It seems that the imported part of the attached image is missing.

Isn't "import {Component, OnInit} from '@ angular / core';" correct?

Could you please confirm it?

<img width="900" alt="2020-05-13" src="https://user-images.githubusercontent.com/52107468/81788592-bfb3d980-953d-11ea-93e8-fc009a7dfae5.png">

# 📚 Docs or angular.io bug repor

[2020-05-13 08:33] kumaresan-subramani opened #37084 "some ViewContainerRef properties are missed in angular 9?"
# 🐞 bug report
 `embeddedViews` prperty not available in angular 9 `viewcontainerRef` property and there is no alternate property also available

### Is this a regression?

yes

### Description

This is my script condition in my source level which is working fine in angular 7 and 8,

[code]
But throws script error in angular 9, if i disbale ivy working fine.

### Validation details

I have validat

[2020-05-13 08:39] kumaresan-subramani commented on #37084
### script path

![image](https://user-images.githubusercontent.com/36756050/81790713-663eb100-9523-11ea-886c-8eda0a5e454f.png)

[2020-05-13 08:55] jaworek commented on #37042
Hi, thanks for the answer. Unfortunately, my solution does not involve repeating the same key several times.
What I'm trying to achieve is to set query params from different services.

<img width="1183" alt="image" src="https://user-images.githubusercontent.com/22678765/81792006-be67ba00-9507-11ea-9d8f-d3a711fec8e9.png">

In this image I have two query params that I want to set if user accesses we

[2020-05-13 09:21] pkozlowski-opensource commented on #37084
`_embeddedViews` is a private API so while you might have seen it under debugger, this is not the contract you can use in your application. If you want to get a view from a `ViewContainerRef` you can use the  `get` method: https://angular.io/api/core/ViewContainerRef

[2020-05-13 10:09] kumaresan-subramani commented on #37084
HI @pkozlowski-opensource ,

Thanks for your reply, i didn't get you. Can you please explain little more in detail?

[2020-05-13 10:23] pkozlowski-opensource commented on #37084
You shouldn't be using `ViewContainerRef._embeddedViews ` in your application as this private API and using it can break your application at any release (as it does for you).

Hard to suggest replacement here as it is not clear to me what you are trying to do, functionally speaking. If you've got valid case that is not covered by our public API, please explain it, ideally illustrating with a _mimi

[2020-05-13 11:22] imnickvaughn opened #37086 "Newly generated Angular Component and Unit Test fails with Jest Test Runner only when using Testbed"
Hello fellow angularians!  My goal is to create a unit test using the Testbed provided by Angular Core.  I happen to be using Jest Test Runner (syntax similar to Jasmine) for my unit testing.  I am currently able to run tests without Testbed, by newing up the component.
<br><br>
Expected:<br>
I expected that after the CLI generates a component and its associated unit test that the unit test would

[2020-05-13 11:28] jpike88 commented on #23609
This is driving me insane. How is a line of the problem code not provided with an error like this? And how is this issue 2 years old? Am I taking crazy pills?

[2020-05-13 11:29] kumaresan-subramani commented on #37084
Hi @pkozlowski-opensource ,

While using `get` to get component view as you suggested, how can i able to give index number?

https://angular.io/api/core/ViewContainerRef#get

[2020-05-13 11:36] mlc-mlapis commented on #37084
@kumaresan-subramani It's a number starting with 0. If you are looking for some exact one, you need this value from some previous step. Another way is only to iterate through.

[2020-05-13 11:41] lukasholzer opened #37087 "@angular/bazel use `bazelisk` instead of `bazel` as it is deprecated."
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/bazel

### Description

The `@angular/bazel:build` is using `@bazel/bazel` to execute the bazel commands under the hood.  [bazelbuild/rules_nodejs/issues/1784](https://github.com/bazelbuild/rules_nodejs/issues/1784)
Switch to `bazelisk` instead of `bazel` as dependency.

Furthermore, this would solve the issue of havi

[2020-05-13 11:56] kumaresan-subramani commented on #37084
@pkozlowski-opensource  & @mlc-mlapis

Refer below image, i have tried you suggestions but it return undefined value i angular 9

## angular 9 viewcontainer ref:
![image](https://user-images.githubusercontent.com/36756050/81809227-a19aa900-953e-11ea-8841-215abf35a719.png)

## Tried your suggestion but return `undefined`
![image](https://user-images.githubusercontent.com/36756050/81809066-57b1c300-

[2020-05-13 12:03] davidzwa commented on #34352
I found this recent blog https://blog.angular-university.io/angular-push-notifications/
with this github repo (note the branch) https://github.com/angular-university/angular-pwa-course/tree/1-notifications-finished.

I'd keep your implementation as FCM-less as possible: use a VAPID key and let SwPush figure out the rest:

I for one will be removing my firebase installs + sw override, because it is

[2020-05-13 12:14] pkozlowski-opensource commented on #37084
@kumaresan-subramani I'm sorry but it is _not_ clear to me (at all...) what you are trying to achieve and what it the exact scenario. It makes me sad as I can clearly see that we are not communicating productively here... Not sure what the best next step is.

Maybe, if you can provide a _minimal_ reproduce scenario in stackblitz of your use-case, I can have a look at try to help. But at this point

[2020-05-13 12:20] pkozlowski-opensource commented on #35531
Sounds like we were not able to reproduce it and we haven't heard other similar reports in ~3 months so I guess it was either a temporary problem or something related to the user environment. Closing for now, if anyone bumps into similar problems, please open a new issue.

[2020-05-13 12:20] #35531 closed

[2020-05-13 12:25] parassharm80 commented on #30835
I also have tried every thing in this thread. Can anyone help me with the code. My original code looks like this

` <script src="runtime-es2015.js" type="module"></script><script src="runtime-es5.js" nomodule defer></script><script src="polyfills-es5.js" nomodule defer></script><script src="polyfills-es2015.js" type="module"></script><script src="styles-es2015.js" type="module"></script><script sr

[2020-05-13 12:35] sonukapoor commented on #37063
@gkalpak I can take a look at this.

[2020-05-13 12:55] kumaresan-subramani commented on #37084
## repro stesp

-  download sample -
[Angular9-Virtualization template.zip](https://github.com/angular/angular/files/4621911/Angular9-Virtualization.template.zip)

- Giev `npm i` and then `ng serve`

- you will see console error in browser

## reason

In my [source](https://github.com/syncfusion/ej2-javascript-ui-controls/blob/master/controls/lists/src/list-view/virtualization.ts#L124), i have use

[2020-05-13 13:39] pkozlowski-opensource commented on #31965
This is good info @lddubeau - thnx! I guess we can close this issue here as we don't officially support mocha in CLI and the provided work-around should help people that still want to go down this path.

[2020-05-13 13:39] #31965 closed

[2020-05-13 13:40] pkozlowski-opensource commented on #22707
We've deprecated and removed `http` so this issue is no longer relevant.

[2020-05-13 13:40] #22707 closed

[2020-05-13 13:42] pkozlowski-opensource commented on #22817
I'm going to close this issue as we haven't heard back in response to [my comment](https://github.com/angular/angular/issues/22817#issuecomment-602162252)

[2020-05-13 13:42] #22817 closed

[2020-05-13 13:44] pkozlowski-opensource commented on #35391
I'm going to close this issue as we haven't heard back with a reproduce scenario.

[2020-05-13 13:44] #35391 closed

[2020-05-13 13:47] kumaresan-subramani commented on #37084
Thanks @pkozlowski-opensource , this comment solve my issue but i haven't check properly at my end. Due cache problem this takes time

[2020-05-13 13:47] #37084 closed

[2020-05-13 13:53] muuvmuuv commented on #7055
Thank you for the detailed explanation. This makes more sense now. We use AOT (because it was enabled by default in ng9). I have now moved this function into `ngOnInit` and declare a variable which replaces the function `{{ locationText }}`. Feels a little faster now.

[2020-05-13 13:53] pkozlowski-opensource commented on #37086
@imnickvaughn 2 quick observations:
* we are not supporting Jest in CLI (our recommended setup) so you need to be prepared to dig much more on your own. In practical terms it means that you will have to tell us what we should change in the framework to support your use-case, rather than expecting us to investigate a particular integration you want to achieve;
* I would suggest trying latest Angula

[2020-05-13 14:15] webvarlamov commented on #15280
You can use *ngFor like this:
 *ngFor="let a of [(observable | async) as a]"

[2020-05-13 14:18] gkalpak commented on #37083
The japanese version is not maintained by the Angular team.
Try opening an issue on their repo: https://github.com/angular/angular-ja

[2020-05-13 14:18] #37083 closed

[2020-05-13 14:20] mlc-mlapis commented on #7055
@muuvmuuv Sure, because of only a static property reference in bonded. You can think also about using pure pipes in such situations.

[2020-05-13 14:30] RobertAKARobin commented on #15280
@webvarlamov Understood, but it feels hacky and is not semantic.

[2020-05-13 14:39] json-derulo opened #37104 "ng build <project> changes output of another project in the workspace"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [x] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?
No

### Description
When building a project in a workspace, the build output of other project are changed during build. Have a look at the reproduction

[2020-05-13 14:56] crfrolik opened #37089 "Support TypeScript 3.9"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/core

### Description

TypeScript 3.9 has been released.

https://devblogs.microsoft.com/typescript/announcing-typescript-3-9/

Angular should support it.

[2020-05-13 14:57] pkozlowski-opensource commented on #37089
It is in progress, see: #36989

[2020-05-13 15:14] criskrzysiu commented on #36911
well You can use `ViewEncapsulation.None`, and just apply styles through `<style>` tag.

[2020-05-13 15:17] pkozlowski-opensource commented on #37078
@Dok11 could you please share a reproduction scenario (minimal GitHub repro or, better yet - stackblitz if reproductible) with the lates Angular 9.x/10 (a lot changed from 8.x)?

I was trying to reproduce the problem in question using stackblitz (see: https://stackblitz.com/edit/angular-ivy-xun6pq) and couldn't. With the following CSS in the component's styles:

[code]

I'm seeing the following `<

[2020-05-13 15:17] criskrzysiu commented on #36894
I also don't understand the logic behind removing the disabled form control value from the value property. What's the underlying reason for this?

[2020-05-13 15:21] JurajMlich commented on #12289
@chris13524

I was able to implement it this way:

[code]

[2020-05-13 15:26] pkozlowski-opensource commented on #37062
@daelmaak I've noticed that your stackblitz with the reproduce scenario is using Angular v8. A lot changed in v9 / v10 in respect to change detection so could you please try upgrading and see if the error persists?

Also, there is quite a bit going on in this reproduction - it would be super-helpful if you could narrow it down to just one (non-working) case and describe expected vs. actual result.

[2020-05-13 15:42] pkozlowski-opensource commented on #37059
@vinayluzrao there is quite a bit going on in the linked reproduction repository and it seems like you are reporting 2 separate problems in one issue, which is confusing.

Let me focus on the first problem here:

I've checked your repo and I'm _assuming_ that we are talking about the `@ViewChild` query here:
https://github.com/vinayluzrao/angular-issue-component-that-is-subclass-of-array-minimal-r

[2020-05-13 16:00] JiaLiPassion commented on #31684
@xinbaihui , thank you for the sample, I have created a PR https://github.com/angular/angular/pull/37091 to fix this one.

[2020-05-13 16:04] daelmaak commented on #37062
I tried ng 9 again and the problem persists. I also copied the SO Q over. About narrowing the problem down, that won't be easy, but I'll see what I can do.

[2020-05-13 16:07] pkozlowski-opensource commented on #37054
@lujian98 I've simplified a bit your scenario here: https://stackblitz.com/edit/github-f2y5an-hmzlxt?file=src%2Fapp%2Fapp.component.ts

Still, I'm confused about the exact problem. You are saying:

Could you please be more specific? When you say "views are not added" - are they missing from the DOM (not displayed) or something else is going on?

I'm afraid that we need more info here...

[2020-05-13 16:30] jimbarrett33 opened #37092 "Make "Angular 9 introduced a global `$localize()`..." message a warning instead of error"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/core

### Description
Please consider changing the "**Angular 9 introduced a global`$localize()...**" message from an error to a console warning. In a monorepo, a shared lib/module may have components that are i18n aware that some applications will actually not use, although they have a dependency for some other functio

[2020-05-13 17:22] atscott commented on #37042
@jaworek - Ah, I see. Sorry, I misunderstood the issue from the description. What's happening here is that the navigation transitions are implemented with a `switchMap`. If you call `router.navigate` while a navigation is still in progress, it will cancel the previous navigation.This is working as intended as well. Only one of your navigations goes to completion, and you can't merge params with in

[2020-05-13 17:22] #37042 closed

[2020-05-13 17:29] jaworek commented on #37042
Thank you for the suggestions. I will try it out.

[2020-05-13 19:04] SukeshMarla opened #37095 "Angular Module instance never get destroyed"
No matter what we do lazy loading or eager loading Angular Module instance never gets destroyed.

When we route across components or use *ngIF Components get destroyed and recreated but its not the same case when we navigate from one module to another.

While lazy loading every module gets loaded dynamically. Also, the instance get created but that instance never gets destroyed.

To check the same

[2020-05-13 19:14] mlc-mlapis commented on #37095
@[**SukeshMarla**](https://github.com/SukeshMarla) **You have to destroy it yourself:** https://angular.io/api/core/NgModuleRef It's generally hard to predict when such a module should be destroyed automatically.

[2020-05-13 19:17] SukeshMarla commented on #37095
But it's quite a difficult job to do it manually. When we go away from a particular module, destroy it. Wondering how to get it done.

[2020-05-13 19:43] mlc-mlapis commented on #37095
### [**@SukeshMarla If you know when you load a lazy loaded module, you also know when you leaving it. Each module can have an id. And also imagine what it means \`**g](https://github.com/SukeshMarla)o away from a module\`. Also it's very unclear generally what is more effective, if load a module repeatedly or keep it in a memory. Probably it a case from case different.

[2020-05-13 19:46] THE-VR7 commented on #37087
Hello. I am new  and would love to contribute.
I would like to fix this issue, if no one is already on it.

[2020-05-13 19:48] SukeshMarla commented on #37095
Let's say I am navigating to route belongs to another module shouldn't previous module instance get removed from memory. Or else we end up with so many modules in memory.

Secondly, I may have many modules in the system.

Do we have any event inside modules which get fired when we are navigating away from it.

[2020-05-13 20:21] petermikitsh opened #37098 "Compiler: generate template code from AST"
# 🚀 feature request

### Relevant Package

This feature request is for @angular/compiler

### Description

The goal is to codeshift Angular template code.

The feature request is the ability to prettyprint a template AST.

### Describe the solution you'd like

With current APIs, getting an AST from a template string is simple:

[code]

An API to generate code from the AST is needed. Such an API mi

[2020-05-13 21:17] honzajde commented on #13373
Maybe making route.paramMap mutable would be enough:
router:
[code]
DynamicResolver :
[code]
but  `route.paramMap.set`  set is not allowed by paramMap.

[2020-05-13 22:05] eng-dibo commented on #23613
how can I delay or rebuild 'ngsw.json' with the new hashes  after modifing the build's output files (for example minifying them with terser).

so the flow will be:
1- build
2- modify the output (minify the files, for example)
3- create ngsw with the new hashes.

[2020-05-13 22:36] zaiddabaeen commented on #31221
Just if anyone's wondering, it isn't just limited to FormModule, I've hit this error today with this piece of code:

[code]

Where `dropdownToggle` - from ngx-bootstrap - was put in a wrong place in the template. It was easy to debug since the component is tiny.

[2020-05-13 22:51] #36771 closed

[2020-05-13 22:52] #36770 closed

[2020-05-13 22:57] atscott commented on #35443
Hi @kaikcreator, without getting too much into the details of VE vs Ivy implementations, this error is expected when running with Ivy because host bindings are set after the template is executed.

Can you describe your use-case for this so we can figure out a suitable workaround? I wouldn't usually expect a production app to be printing out element attributes to the screen. Though if this is actua

[2020-05-13 22:59] #37060 closed

[2020-05-13 23:02] #36957 closed

[2020-05-13 23:20] naveedahmed1 commented on #23613
Just run  `ngsw-config dist ngsw-config.json`

[2020-05-13 23:24] naveedahmed1 commented on #23613
For convenience, I have added these to my `packages.json` file under `scripts` node:

[code]

[2020-05-14 02:17] lujian98 commented on #37054
![angular-9-ivy-on](https://user-images.githubusercontent.com/45267937/81885041-15e54480-955f-11ea-97f1-3f4508e9010f.png)

![angular-9-ivy-off](https://user-images.githubusercontent.com/45267937/81885049-1b428f00-955f-11ea-8fc3-663d202a8179.png)

[2020-05-14 02:18] lujian98 commented on #37054
The embedded views are missing from the DOM when Ivy is on with "enableIvy": true.

[2020-05-14 02:24] lujian98 commented on #37054
![embedded-views-missing-with-ivy-on](https://user-images.githubusercontent.com/45267937/81885508-14684c00-9560-11ea-8f5c-afd462b0a153.png)
![embdded-views-with-ivy-off](https://user-images.githubusercontent.com/45267937/81885510-16320f80-9560-11ea-833c-984708c9fada.png)

[2020-05-14 03:41] xinbaihui commented on #31684
@JiaLiPassion Thank you for resolving this problem so fast. It helps a lot. Thanks again.

[2020-05-14 05:38] ramprakashram commented on #36911
@criskrzysiu That actually does not allow us to override the existing classes from typescript at runtime huh ???

[2020-05-14 06:59] mohitmg25 opened #37103 "Etherpad service on Angular"
Can you suggest me how to develop an Angular project for using Etherpad lite

[2020-05-14 07:27] richmondgozarin commented on #33722
Still happening on Angular 9, Had to explicity import the index.ts file.

Any Updates?

[2020-05-14 07:56] petebacondarwin commented on #37103
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-05-14 07:56] #37103 closed

[2020-05-14 08:32] pkozlowski-opensource commented on #37054
@lujian98 I find it surprising that stackblitz works fine but your application don't. Could you please do the following:
* make sure that your app uses the same (recent) version of Angular as in stackblitz;
* try to simplify your repo to the absolute minimum (as I did in https://stackblitz.com/edit/github-f2y5an-hmzlxt?file=src%2Fapp%2Fapp.component.ts) and see if you can still reproduce
* provide

[2020-05-14 08:34] #37086 closed

[2020-05-14 09:16] petebacondarwin commented on #37102
Thanks for reporting this so clearly @zuzusik. I am sorry that it was a frustrating experience for you.

I agree, at the very least we should fix the docs to show the right approach and explain why it is necessary to reference these somewhere.

I am not sure how it would be possible to provide an error in the case where one forgets to reference the component and it gets tree shaken.

[2020-05-14 09:40] andreElrico commented on #34787
+ My Error: After going from ng8 to ng9 `... Please make sure it is in your tsconfig via the 'files' or 'include' property. ...` (everything red, I was shocked)

+ My situtation:  I have a folder with many lazy loaded modules which I dynamically load with `heroLoader`. They are all declared in my angular.json. They are located in `app/src/app/lazyModules/...`

So I went into `tsconfig.app.json` an

[2020-05-14 10:11] petebacondarwin commented on #37102
Tracking in FW-2170

[2020-05-14 10:48] petebacondarwin commented on #37104
At this time, I think the best we can do is to document this better.

[2020-05-14 11:45] kosso commented on #25589
This appears to still be an issue. My use-case is the resolver gets user data to be available to a form for a user to edit their data.  (eg: `/profile/:username/edit` )

Not being able to catch the resolver error, if someone manually entered the route into the browser with an invalid username is proving to be a bit problematic.

Ideally, I'd want to navigate the user to another route at that point

[2020-05-14 11:48] kosso commented on #13873
Is there still no officially documented way to deal with failure in the route resolver?

[2020-05-14 12:13] p3x-robot opened #37106 "@angular/localize with universal is not production ready / too complex / too many steps"
# 🚀 feature request

It took a few years so that Universal is ready and simple to use it and is very good for SEO by now.
Now, I start using Universal, but I am blocked by the way `@angular/localize` is implemented. It is overly complex and if I want to simple want switch to another language I would have to fire up a new application, which is a huge overhead.

### Relevant Package

This feature re

[2020-05-14 12:18] petebacondarwin commented on #37106
Hi @p3x-robot - thanks for submitting this. To help me understand what action can be taken here could you clarify what you mean by:

What is blocking you?
What do you mean by fire up a new application?
Are you talking about the browser or the server?
What would be the ideal solution for you in concrete terms?

[2020-05-14 12:57] kashifazmi opened #37107 "Angular 9 - lazy loading is not working in production build"
# 🐞 bug report

### Description
I am working on one of the application on Angular 9 and implemented the lazy loading for some module.
when i am running this app in local environment. its working fine but when i am creating the new build using **ng build --prod** and publish build on production environment then **routing is not working for lazy loaded modules.**
for local: http://localhost:4200/res

[2020-05-14 12:57] petebacondarwin commented on #37106
OK now I understand. I don't know much about how SSR works. Do you have a link to a guide for that? Are you using `@angular/universal` only? Or are you using something like https://github.com/scullyio/scully?

[2020-05-14 13:01] petebacondarwin commented on #37106
It looks like i18n support is still on the roadmap for Scully: https://github.com/scullyio/scully/blob/master/docs/roadmap.md#L12

[2020-05-14 13:02] IssamTechs commented on #24656
in May 2020.
using injected Serializer is still a hack and it may have implications in the future.
one of the implications that confirm up until now is when you reload the page or manually navigate to URL via address bar uncaught error  "Cannot match any route"

[2020-05-14 13:09] petebacondarwin commented on #37106
It seems there is also discussion on the Universal repo: https://github.com/angular/universal/issues/1454

Transferring this issue there as it is not specifically a framework issue, since the `@angular/localize` package is unlikely to need to change to improve this support.

[2020-05-14 13:10] petebacondarwin commented on #37106
Actually I don't have rights to transfer it :-/

[2020-05-14 13:11] petebacondarwin commented on #37106
But I am going to close this and suggest that you continue the discussion at https://github.com/angular/universal/issues/1454

[2020-05-14 13:11] #37106 closed

[2020-05-14 13:55] zuzusik commented on #37102
It might be a good idea to provide a list of tree shaken components. Can be useful not just in cases like this, but also for general purposes - to clean up unused components from the code.

What do you think?

[2020-05-14 13:59] petebacondarwin commented on #37102
Interesting idea... what do you think @alan-agius4 ?

[2020-05-14 14:01] Eseperio commented on #26081
Also happens in 9.1.4

[2020-05-14 14:09] mlc-mlapis commented on #37107
### @kashifazmi What do see on file system in the project root directory. There should be separate files generated for that lazy loaded modules.

[2020-05-14 14:36] alan-agius4 commented on #37102
That data is already available if you use `—verbose` flag

[2020-05-14 15:18] MaciejWierzchowski commented on #20007
Is there any other workaround, i.e. which doens't require to monkey patch angular?

[2020-05-14 15:38] pkozlowski-opensource commented on #36889
I'm sorry but we can't reproduce the problem following the instructions you provided.

If the problem still exists in your application please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template.

[2020-05-14 15:38] #36889 closed

[2020-05-14 15:56] daelmaak commented on #37062
Here is the much smaller **reproduction** https://stackblitz.com/edit/angular-kea4wi

**Steps to reproduce it there**:
1. Click at the beige area
2. Button appears, click it too
3. Nothing happens, although message should have appeared below

**Description**:
1. The beige area has a click event handler registered via `addEventListener`. Inside it a component's `showButton` property is set to from

[2020-05-14 16:15] Oleksandr-Zatuleyev opened #37109 "ng build --watch may fail rebuilding if dependency contains moment or lodash"
# 🐞 bug report

### Description

ng build --watch will fail rebuild with a type error if following conditions are met
1. Project A depends on Project B
2. Project B imports momentjs and exposes a model that contains a momentjs field
3. Projects A and B are built with ivy disabled

## 🔬 Minimal Reproduction

https://github.com/Oleksandr-Zatuleyev/build-watch-repro
1) npm install && npm run run-repr

[2020-05-14 16:18] pkozlowski-opensource commented on #37062
@daelmaak thnx so much for providing a smaller reproduce scenario. This one is much better and easier to understand indeed! I've simplified it a bit further and updated to the latest Angular running ivy: https://stackblitz.com/edit/angular-ivy-pw3xzt?file=package.json

I can now reproduce and see the problem you are reporting, although I _think_ that it works as expected. The crux of the problem,

[2020-05-14 16:50] kashifazmi commented on #37107
@mlc-mlapis  After building (ng build --prod) application, there are no file generated related modules. only I am able to see the some java-script files, styles and images  such as common, main,polyfills, runtimes and scripts.

[2020-05-14 17:09] Floby opened #37112 "Angular cannot render variables with diacritics"
# 🐞 bug report

### Affected Package
I believe the issue is caused by `@angular/core`, or maybe `@angular/compiler` if that's where the parsing of templates happens.

### Is this a regression?

No.

### Description

javascript expressions which contain letters with diacritics in templates are not parsed correctly and cause the rendering or the compilation to fail. Yet many accented characters are

[2020-05-14 17:10] daelmaak commented on #37062
Glad it helps!

I thought that it is a zone problem also, but I got confused after I checked the zone in the click callback. The inner zone indicated angular zone, and root zone was the outer one, which I guess is how it should be(?) in order for the change detection to work.
![Screenshot from 2020-05-14 18-56-22](https://user-images.githubusercontent.com/34311965/81962933-ba758e00-9614-11ea-8909-

[2020-05-14 17:18] pkozlowski-opensource commented on #37112
@Floby you are right, we don't support non-ASCII chars in Angular expressions. Having said this we do already have a ticket tracking it. Closing as a duplicate of #517

[2020-05-14 17:18] #37112 closed

[2020-05-14 17:24] Floby commented on #37112
Thanks for your quick reply @pkozlowski-opensource. Is it correct that Angular aims to support the extent of the ECMAScript spec regarding identifiers ?

[2020-05-14 17:34] zuzusik commented on #37102
@alan-agius4 thanks for the suggestion!

I have tried using the `--verbose` flag.

I've ran it on the example repository I've provided above and the component being dropped (`DowngradedComponent`) is not mentioned there - I wasn't able to find any references to the component in the log neither by component's class name, nor by it's file name.

So, looks like `--verbose` is no help.

[2020-05-14 17:34] pkozlowski-opensource commented on #37112
I would say it would be ideal and something that would be great to have in the long run. But today there are several discrepancies between Angular expressions and ES expressions....

[2020-05-14 17:53] alan-agius4 commented on #37102
@zuzusik, I am seeing `WARNING in Terser Plugin: Dropping unused function downgradeComponent [main-es2015.ef192de3c71ac997bcd9.js:89430,9]` when running `ng build --prod --verbose`

[2020-05-14 17:56] zuzusik commented on #37102
@alan-agius4 yes, I see that as well, but that doesn't give me any clue that my component is being dropped (`downgradeComponent` is Angular's function - not from project's code) - this message is pretty cryptic - it doesn't clear which part of code it's coming from

[2020-05-14 17:59] zuzusik commented on #37102
@alan-agius4 also, just next to that line is

[code]
and project is not referencing `downgradeInjectable`

so I can assume

[code]

will be just always present in that log - not depending whether any component using it is actually dropped

[2020-05-14 18:00] alan-agius4 commented on #37102
@zuzusik, `WARNING in Terser Plugin: Dropping unused function downgradeComponent [main-es2015.ef192de3c71ac997bcd9.js:89430,9] ` will only be present if that function is dropped.

[2020-05-14 18:03] zuzusik commented on #37102
@alan-agius4 I get it

but still it doesn't give any clue that some component is dropped

imagine there are 2 components using `downgradeComponent` - one is dropped, the other is not dropped

now mentioned line will **not** present in the log, as `downgradeComponent` is used

so, how can I know now that one of components is droped

[2020-05-14 18:16] kapunahelewong opened #37113 "Fix erroneous example code in router.md"
# 📚 Docs or angular.io bug report

### Description

Per [this comment](https://github.com/angular/angular/pull/36748#discussion_r424089935), a code snippet that is being moved from the router doc to the lazy loading modules doc is likely to not compile. Currently the snippet is in the [router doc](https://angular.io/guide/router#resolvers), But it is being moved to #36748.

## 🔬 Minimal Reproducti

[2020-05-14 19:00] #36332 closed

[2020-05-14 19:03] petebacondarwin commented on #37092
I think the best solution here would be to move the `$localize` calls within the template function - something I have wanted to implement for some time. This would mean that this error only occurs if the template is actually instantiated - i.e. the component that uses i18n is actually used.

[2020-05-14 19:23] #36187 closed

[2020-05-14 19:45] JoostK commented on #37109
I can only reproduce when the app is compiled using the previous compiler (ViewEngine), the issue does not occur for me when using Ivy.

[2020-05-14 19:47] mlc-mlapis commented on #37107
![](https://user-images.githubusercontent.com/5693835/81978753-40e99a00-962c-11ea-8079-6a71973ce796.png)

[**@kashifazmi**](https://github.com/kashifazmi) There should be files like those above, each one for each lazy loaded module.

[2020-05-14 19:49] webm0nk3y commented on #36992
This is back after upgrading to 9.1.7

[2020-05-14 19:52] petebacondarwin commented on #36992
Can you provide more details in a fresh issue please @webm0nk3y

[2020-05-14 20:15] JoostK commented on #37102
In this particular instance, I would consider the call with global side-effects at the top-level of a module to be the culprit:

https://github.com/zuzusik/angular-upgrade-ivy-bug/blob/c31e260096d0e1436fe781c7e5c44cc98b4b7a51/src/app/downgraded.component.ts#L12-L14

The compiler elides the import to enable tree-shaking, however this will also drop the side-effect. For a module with global side-eff

[2020-05-14 20:17] BobJeronowitz opened #37115 "Steps to silence the Entry Point warning - Multiple EntryPoints"
Including a library raises WARNINGS re: entrypoints and using ngcc.config.js works for most but even with the regex to the rxjs imports it raises those warnings.  Is there a limit to the number that it will find to suppress?  i tried including multiple entries in ignorableDeepImportMatchers array.  i don't see in the code where that node is being referenced in the build code either in configuratio

[2020-05-14 20:41] zuzusik commented on #37102
thanks for your input, @JoostK !

Yes, this would work, but I personally don't like it cause it creates a double import situation - it is also required to import component class to register it in `NgModule`

Yes, this would work as well, though it somehow contradicts commonly adopted approach of writing Angular.js code.

Generally speaking - the issue has workaround, yes. Even several of them. I p

[2020-05-14 20:53] JoostK commented on #37105
This appears to be a re-entrancy issue in the JIT compiler:

<img width="470" alt="image" src="https://user-images.githubusercontent.com/123679/81984519-2f58c000-9635-11ea-8ae3-d466c41ab237.png">

In `addDirectiveDefToUndecoratedParents`, the parent component gets compiled which triggers a flush of the module queue, where the associated NgModule is pending. This will iterate its declarations to as

[2020-05-14 20:57] JoostK commented on #37105
Tracking as FW-2173 (internal only, but nothing to see there)

[2020-05-14 21:13] atscott commented on #35817
Hi all, I can understand the frustration with this error, both because it's not obvious what it means and even when you do know, it's not always clear why it's happening and what to do about it.

TL;DR: This is working as expected and you can resolve the issue by adding
`control.updateValueAndValidity` to your `forEach` functions and you can remove `this.myForm.updateValueAndValidity();`.
___
**Ad

[2020-05-14 21:13] #35817 closed

[2020-05-14 21:16] jcruzrg commented on #30835
something new?

[2020-05-14 21:30] bbarry opened #37119 "new 9.1.7 content on structural-directives is unfinished?"
# 📚 Docs or angular.io bug report

### Description

https://angular.io/guide/structural-directives#make-in-template-type-requirements-more-specific-with-template-guards

IfLoadedDirective missing lines and is very difficult to understand.

## 🔬 Minimal Reproduction

### What's the affected URL?**

https://angular.io/guide/structural-directives#make-in-template-type-requirements-more-specific-with-

[2020-05-14 21:48] Shijir opened #37120 "In Ivy: ViewContainerRef.move causes ASSERTION ERROR"
# 🐞 bug report

### Affected Package
    "@angular/animations": "~10.0.0-next.7",
    "@angular/common": "~10.0.0-next.7",
    "@angular/compiler": "~10.0.0-next.7",
    "@angular/core": "~10.0.0-next.7",
    "@angular/forms": "~10.0.0-next.7",
    "@angular/platform-browser": "~10.0.0-next.7",
    "@angular/platform-browser-dynamic": "~10.0.0-next.7",
    "@angular/router": "~10.0.0-next.7",

###

[2020-05-14 21:49] bbarry commented on #37119
A more in depth `'binding'` example would be nice as well. For example I have this directive

[code]

which I use in forms:

[code]

but my types are `any`... (if I change `<T = any>` to `<T = unknown>` then they become `unknown`)

[2020-05-14 22:38] JiaLiPassion commented on #37062
@daelmaak, just like @pkozlowski-opensource said, the current behavior is `correct`, but yeah it is confusing.

The reason is,
1. when the page is rendered, the `button` is not there, so the event handler is not being bounded.
2. in `ngOninit`, you add an event listener of the `div` area outside of `ngZone`, and when click the area, the event handler will also run outside of `ngZone` which will no

[2020-05-14 22:39] kashifazmi commented on #37107
@mlc-mlapis - I uploaded two image which is showing the normal build and production build.

![normal build](https://user-images.githubusercontent.com/22609961/81992449-1534d700-9661-11ea-86d7-a3291b83e947.PNG)
- in above image, i used ng build.

![prod build](https://user-images.githubusercontent.com/22609961/81992452-16660400-9661-11ea-8f6f-8b95eea834b1.PNG)
- here, i used ng build --prod but the

[2020-05-14 22:53] atscott commented on #37107
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-05-14 22:53] #37107 closed

[2020-05-14 22:54] #35383 closed

[2020-05-15 05:48] pkozlowski-opensource commented on #37120
@Shijir thnx for providing all the details! I was able to create a runnable scenario using stackblitz: https://stackblitz.com/edit/angular-ivy-s49yjz?file=src%2Fapp%2Fapp.component.ts - the reason for which you couldn't reproduce it in ng-run is that ng-run was using VE (and this bug is specific to ivy).

Anyway, this is a confirmed bug in ivy - but it seems like a relatively easy one to fix. Mark

[2020-05-15 07:29] Oleksandr-Zatuleyev commented on #37109
It was actually written on top that this happens when Ivy is disabled.
Does it mean that ViewEngine is no longer supported??
There are some big projects using Angular and they cannot move that fast.

[2020-05-15 08:58] walid-hajhussien opened #37131 "Angular universal not working with service workers"
# 🐞 bug report

### Description

Angular Universal  (SSR) not working with the service workers, I didn't get any error but the  index.html page not renders in the server as before :

1) before adding the service workers :
https://drive.google.com/open?id=1V7PFlBLD995_HlxLYBrO9IuZ-K0qW33Q

2) after adding the service workers:
https://drive.google.com/open?id=160-k6yVyMNwTkvDeDu4-BlmZkN6k9jf6

## 🔬

[2020-05-15 09:05] SukeshMarla commented on #37095
Any updated thought on this from anyone,

[2020-05-15 09:29] Splaktar opened #37133 "service-worker(safari): POST requests getting blocked with 504 by Service Worker"
# 🐞 bug report

### Affected Package
`@angular/service-worker`

### Is this a regression?
I don't know if this has even worked properly in Safari, but it's supposed to be production ready.

### Description
Service Workers shouldn't block POST requests AFAIK, but that's happening on Safari `Version 13.1 (15609.1.20.111.8)` on macOS Catalina `10.15.4 (19E287)`.

## 🔬 Minimal Reproduction
- Go to htt

[2020-05-15 09:50] petebacondarwin commented on #37115
@BobJeronowitz - can you provide some more detail as to the specific warnings you are getting? If it is related to deep-imports in those libraries it should be possible to provide you with an appropriate ngcc.config.js that will solve it.

[2020-05-15 10:38] BobJeronowitz commented on #37115
[example_ngcc.config.txt](https://github.com/angular/angular/files/4633813/example_ngcc.config.txt)
I've attached the ngcc.config that i am using.  the regex for the paths for '@progress/kendo-angular-resize-sensor' work but '@progress/kendo-angular-buttons', doesn't it almost seems like the number of entry points breaks it.  sensor has 2 and buttons has 6.  i've included the warning/entrypoint li

[2020-05-15 10:48] gcerquant commented on #34397
I would like to **show to the user that a more recent version is published**, even if the update is not available to use (might still be downloading).

## Why?
In case of a large number of big assets, it takes a while to update.
The user might leave before finishing updating.

It's frustrating when you have fixed a bug, and your user test again, not knowing that even though they reloaded in their

[2020-05-15 11:03] pkozlowski-opensource commented on #37068
@bryanrideshark you are right, this is the known issue with ivy version. We are tracking it already in #31495. Closing as a duplicate of #31495. It will be fixed by #35464

[2020-05-15 11:03] #37068 closed

[2020-05-15 11:47] petebacondarwin commented on #37115
I just created a new Angular project using `ng new` and then installed `@progress/kendo-angular-buttons` and its relevant peer dependencies. Then running `ngcc` I do not see any warnings about it having deep imports:

[code]

What versions are you using?

[2020-05-15 11:50] masatada-kurihara commented on #31495
This is a truly awful problem. Please fix it quickly as the version up of the internal project cannot be done.

[2020-05-15 12:28] BobJeronowitz commented on #37115
It's when you create a library with the kendo control and then the library is included in the project that the warnings get raised.

[2020-05-15 12:36] pkozlowski-opensource commented on #37095
@SukeshMarla what do you mean exactly by "navigate from one module to another"? How is a module in question referenced? In a router? Or are you loading it separately? Is it a lazy-loaded module or not? What is the version of Angular that you are using? And when you say that NgModule is not destroyed - is it about the module instance or components / providers in this module?

I would have several m

[2020-05-15 12:47] JoostK commented on #37119
@bbarry In that example, the `ngTemplateGuard_ngLet: 'binding';` seems inappropriate to me, as the directly doesn't conditionally render the template, so the `ngLet` input's expression should not be used as guard. If that is done, you'd remove all falsy types from the expression within the template, which would be incorrect.

Your `ngTemplateContextGuard` has a return type that specifies `ctx is N

[2020-05-15 13:10] SukeshMarla commented on #37095
ok, here it is a step by step instruction.

- Let's say we have an Angular project with Lazyloading implemented. Let's say we have Customer, Product, and Supplier feature Modules with the corresponding components.

- Because of the lazy loading module will be loaded when it is needed. Lets' say I navigate from Customer to Product. The product module gets loaded at runtime and the Product Module in

[2020-05-15 13:12] pkozlowski-opensource commented on #36876
I can confirm that this is a bug in Angular v9: https://stackblitz.com/edit/angular-ivy-rzecw9?file=src%2Fapp%2Fapp.component.ts

[2020-05-15 13:25] pkozlowski-opensource commented on #36701
@Vikki123 could you please provide a minimal reproduce scenario (a github repo) with just Angular code as described in your reproduction steps? Looking at the attached screenshoot it looks like a lot is going on and there are definitively code outside of Angular being executed (I see `ockJS.prototype` for example).

In short - we will need a minimal reproduce scenario to make sure that the issue h

[2020-05-15 13:30] pkozlowski-opensource commented on #36694
@Vikki123 see https://github.com/angular/angular/issues/36701#issuecomment-629234221 - we would need a minimal reproduce scenario, otherwise it is not actionable.

[2020-05-15 13:36] sonali395 opened #37134 "NgModule.imports of AppModule, but could not be resolved to an NgModule class."
I migrated my Angular library from 8 to 9. I am able to build by libraray succcesfully. But when I serve my app linked to library I get the following error **. __ivy_ngcc_bak with an ngcc back up file, which is disallowed.**
This error on goes off when I clear by dist folder, build everything again sequentially.
I have postinstall:ngcc in my scripts in package json. Still no luck.
Please guide me

[2020-05-15 13:41] bbarry commented on #37119
I don't think `ngTemplateContextGuard` does anything at all. Removing the member has no impact.
None of these options that I have come up with make any difference:

[code]

if I change the context class:

[code]

then the template gives type errors because `phone` becomes the type `unknown`

[2020-05-15 13:52] petebacondarwin commented on #37115
Ahah! In that case it may be resolved by https://github.com/angular/angular/pull/37040
If you could provide a simple reproduction then we could ensure that this scenario is covered.
Without a repro we are just guessing.

[2020-05-15 14:00] petebacondarwin commented on #37134
Hi @sonali395 - we need a few more details before we can accurately diagnose your problem. There are a number of different reasons why ngcc (our compatibility compiler) is trying to write to the same file twice - which is what this error indicates.
Is it possible to share your project with us or a cut down version that demonstrates the issue? Without it there is not much we can do.

[2020-05-15 14:06] naturalfreak commented on #24547
Same problem when using Angular 9 and route resolver. NavigationEnd is emitted before initialization of the view, and scroll is restored on incorrect position. It's a serious bug after all this time with no update on this issue. But I think that it will be good to have another route event after initialization of the view because now I'm using asyncScheduler of rxjs module and it has negative effec

[2020-05-15 14:31] red-man commented on #36272
I upgraded from 9.0.5 to 9.1.6 and am experiencing the same issue.  It sits at 0% compiling for 5-10 minutes.

[2020-05-15 14:59] ChazUK commented on #24567
I feel like there must be a simple way for this feature to be added? Surely a simple regex would work.

[2020-05-15 15:28] bazter opened #37137 "Child view not updated when observable emits new value (onPush)"
# 🐞 bug report
I might be just overlooking something, but I consider myself an advanced ng developer and can't thing of any reason why this should not work. I expect a "you're doing this wrong" answer but I will happily accept it as I could not google a satisfying answer anywhere. Till that I consider this a bug.

### Description
Under specific circumstances component view doesn't reflect latest s

[2020-05-15 15:35] kashesandr commented on #5689
add the feature please

[2020-05-15 15:38] SuperiorJT commented on #25976
Currently working on something in my app that would be improved by a feature like this. I have a component that displays translated tooltip content based on the entered data. I think if you guys do plan to implement something like this to also consider idempotent functions rather than just pure functions. This applies in my case because I have to use a service to translate the result, but the resu

[2020-05-15 16:11] pshurygin commented on #37137
The problem here is that you emit a new value inside the OnInit hook. By the time this hook is executed the parent component has already been checked for changes, so your changed value will not be rendered until the next change detection cycle. And this next CD cycle never occurs in your example because  nothing is triggering it. Async pipe does not actually trigger change detection, it only marks

[2020-05-15 16:24] IgorMinar commented on #21646
we now have a `PR action: rerun CI at HEAD` label that allows us to at least rerun the CI tests after a rebase to master (without actually pushing the rebase to the PR branch). That solves many use-cases the original request was seeking to fix/enable. I'm not sure if there is currently much added value in doing pursuing the rest.

[2020-05-15 16:43] daelmaak commented on #37062
@JiaLiPassion @pkozlowski-opensource thanks for the explanation!

About calling empty cb from `ngZone.run`, how come this works? I would understand if it worked while changing component properties INSIDE the callback, but just running empty function?

[2020-05-15 16:47] BobJeronowitz commented on #37115
issue #37040 indicates that the build will crawl the tree to find the bundle if it exists regardless of the ngcc.config.  if this would address the issue that i am facing, then the warnings would not get thrown, no?

i will put together a sample of what is happening that replicates the scenario and see if there is something that is being interpreted differently for one import vs another.  i think

[2020-05-15 16:51] JoostK commented on #37109
I know that you mentioned it was with Ivy disabled, it's just that I wanted to mention that this bug doesn't exist in Ivy while acknowledging the problem in View Engine.

Although View Engine is still available to use, bugs aren't actively being fixed. Instead, using Ivy _is_ the bug fix. Are there specific issues in Ivy that prevent you from using it?

[2020-05-15 17:25] Shijir commented on #37120
Hi @pkozlowski-opensource! thanks for the confirmation. Do you the fix would be merged in before Angular 10 release?

[2020-05-15 17:32] dmitry-kostin commented on #37054
I have a similar problem, but I have problem only with ssr rendering.
With following construction:

It should create view on the same level as current component is, but it goes deeper like it doesn't see parent view;
Here is screen to compare
![image](https://user-images.githubusercontent.com/1920678/82078717-4ad1d280-96ea-11ea-9d7b-3c1b13d30f78.png)
on the right: after ssr, with javascript turned

[2020-05-15 19:02] atscott commented on #36787
Hi @chelvaric, I don't see the error/warning you're describing in the stackblitz example. Could you please provide minimal reproduction as a GitHub repo with steps to reproduce?

[2020-05-15 21:06] chriscarpenter12 commented on #37134
I am seeing the same issue as @sonali395. If you build your library and use npm [link](https://docs.npmjs.com/cli/link) to create a global reference to your library to test in a local application. You get this error I assume because the consuming application has ran ngcc on the lib and the library chokes on this because it was process by the other app.

Steps to reproduce:
[code]
Got to another an

[2020-05-15 21:07] kara commented on #36563
@nbeekman This is actually an intentional change (see the first entry under "less common changes" in the [Ivy compatibility guide](https://angular.io/guide/ivy-compatibility).

Background: In View Engine (e.g. v8), `@HostBinding` would be inherited by subclasses, but equivalent bindings in `host` would not be, which could be confusing. In Ivy, we made it consistent so `@HostBinding` and `host` wer

[2020-05-15 21:37] bryanrideshark commented on #37068
@pkozlowski-opensource , are we having to wait for Angular 10 for #35464 to be merged? Or Angular 11? Or can we expect this to land in a point release for Angular 9, say 9.2?

I would love to be able to upgrade our application to Ivy - everything else worked, except for this.

[2020-05-15 22:09] carlosleyton commented on #32756
same here :c

[2020-05-15 22:54] mswilson4040 commented on #13461
Sooooooooo how am I supposed to unit test my code that dynamically adds validators?

[2020-05-15 23:20] AndrewKushnir commented on #29776
Hi @CarreraPHP, thanks for creating this ticket.

IE 9 and 10 will be marked as deprecated in Angular v10 (see #36887 and [deprecations doc](https://next.angular.io/guide/deprecations#ie-9-10)) and support will be removed in a future version.

@trotyl, thanks for the very detailed comment. I've referenced it internally and we'll review it as a part of the process to refactor/simplify the code when

[2020-05-15 23:20] #29776 closed

[2020-05-15 23:29] literalpie opened #37149 "HammerModule does not work when imported before BrowserModule"
# 🐞 bug report

### Affected Package

This issue affects: @angular/platform-browser

### Is this a regression?
This issue exists in version 9.0 and 9.1.7. The HammerModule did not exist before 9.0.

### Description

 A clear and concise description of the problem...
If the `HammerModule` is imported before `BrowserModule` and `BrowserAnimationsModule`, it seems to have no effect.

## 🔬 Minimal Rep

[2020-05-16 03:12] sumanjara opened #37153 "Need help in debugging - mostly how to link the browser to the source files in any ide"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Please help us process issues more efficiently by filing an
issue using one of the following templates:

https://github.com/angular/angular/issues/new/choose

Thank you!

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2020-05-16 03:14] sumanjara commented on #37153
In angular application, the main issue im seeing is ... How to map the browser to the source code components or HTML in Visual studio ide or intellij IDE. This will help us which file is executing and put the break points.. similar to java eclipse iDE code debugging.

[2020-05-16 06:37] JiaLiPassion commented on #37062
@daelmaak, the reason run empty function inside `ngZone.run()` works because `ngZone.run()` does two things.
1. it will run the `callback` inside `angular zone`, so the event handler bound to the button will also happen in `angular zone`.
2. it will trigger change detection automatically after the `callback` is executed, so you don't need to call `detectChanges()` yourself.

[2020-05-16 09:51] JoostK commented on #37153
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-05-16 09:51] #37153 closed

[2020-05-16 13:03] IamDeshRaj commented on #35924
Hi @btakita, @petebacondarwin, @alxhub @danielboggianosa, @AndrewKushnir..
I have reproduced this error while trying to solve [another issue](https://github.com/expressjs/express/issues/4278), clone [my repository](https://github.com/IamDeshRaj/myPleaks) and checkout branch **app-module-error**, and
run commands 1. **npm install** and 2. **npm run local:serverless**
URL like "**http://localhost:30

[2020-05-16 14:59] IamDeshRaj opened #37158 "Angular 9 - For serverless, Generated server.ts via SSR is not rendering static content like css, js etc"
Recently,
I create angular 9 app with SSR and PWA which worked perfectly fine.
when tried to deploy same application on serverless, the static content like css, js stopped rendering as shown in the snapshot and [here on this link](https://www.mypleaks.com). I used auto-generated function **app()** available in the server.ts.
To reproduce the error pls checkout the [sample repo](https://github.com/

[2020-05-16 17:57] ciesielskico commented on #30477
Running into the same issue

[2020-05-16 20:30] nschmit opened #37161 "Angular 9 Service Worker: Clean up unused versions"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/service-worker.

### Description
 The service worker keeps track of all new app versions it encounters. Every time when a new manifest is received, its hash is saved in a versions-map, where it may stay for a very long time. This does not allow a software developer to go back to an older version of his application, wh

[2020-05-16 21:56] BzenkoSergey commented on #32756
oh, the same issue

[2020-05-16 23:27] eng-dibo commented on #36510
I have the same issue.
the only installed module (other then the default modules) is ngx-loading

https://stackblitz.com/edit/angular-ivy-b1tnac?file=tsconfig.json

[2020-05-16 23:52] jasonc624 commented on #20290
Same, I don't like this hack but it works.

[2020-05-17 05:55] IamDeshRaj commented on #37158
The issue has been resolved with help of this [suggestion](https://github.com/expressjs/express/issues/4278#issuecomment-629686744).

[2020-05-17 05:55] #37158 closed

[2020-05-17 10:59] 0x018 commented on #36680
i need `componentRef.instance` too;

[code]
# Describe the solution you'd like
1. ViewContainer have a method to get ComponentRefs form it
or
2. get `ComponentRef` form DI

[2020-05-17 13:28] Oleksandr-Zatuleyev commented on #37109
I would like to avoid using Ivy for the time being for a few reasons:
1) ngcc takes a large amount of time to convert projects, and it may have impact depending on the CI setup
2) I have had cases where an "ivy-incompatible" library was used, ngcc failed to do something, but did not report it and then the application failed in runtime with obscure errors.
3) "ivy-compatible" build is not clearly d

[2020-05-17 14:30] ggradnig commented on #24656
Added a check to serialize without parentheses if there is only a primary outlet being used. Should fix the issue.

[2020-05-17 18:44] petebacondarwin commented on #36272
Thanks for replying @RadekRobot - this is one of the problems with issues like this. They are really tricky to track down, which is which we really need reproductions. Glad your project is up and running again...

[2020-05-17 19:25] agalazis commented on #5689
@mgechev I don't get your concerns. This proposal is about combining the two worlds with a uniform and straight forward to novice developers interface. It's not about choosing one or the other but rather enabling the combination. For example developer x decides to build an awesome reactive component. And developer y decides to use it in his not so reactive project. Why not? Why does he need to dep

[2020-05-17 20:19] sispor commented on #32897
It´s work for my project: Angular 9, Angular Universal

[2020-05-17 20:49] gkalpak commented on #37131
@walid-hajhussien, can you please provide instructions on how to reproduce the issues you are seeing.

If I had to guess, I would say that what happens is this:
- Before the SW has been installed/activated, the `index.html` file is served from the server, where it is rendered before being sent to the client.
- Once the SW has been installed and activated, `index.html` is served from the SW (so no

[2020-05-17 21:02] snoop088 commented on #20875
Hi @agrinko @MeeranRM
This is an excellent discussion. I am faced with a very similar questions.
But first, the use case - it is quite trivial I think - not sure why it has not come up or at least I cannot find any good solutions when using AOT post Angular 5. Imagine a simple CMS, where you can have a library of prebuilt components, but then you can extend them with hundreds of new templates that

[2020-05-17 21:04] gkalpak commented on #37161
The SW should work exactly as you described. We call [cleanupCaches()][1] on every [SW initialization][2].

If you see something different, maybe you could try to debug the SW and find out whether the `cleanupCaches()` method is called (and if not, why not) and whether is removes the caches (and if not, why not).

Based on the above, I am afraid there is not much we can do without a reproduction a

[2020-05-17 21:04] #37161 closed

[2020-05-17 21:16] bampakoa opened #37165 "Unclear alert about reactive forms and validation attributes"
# 📚 Docs or angular.io bug report

### Description

The **Reactive Forms** guide contains an important alert stating that:

I think that it is a bit misleading for the reader because:

1. The content of the alert should elaborate more on the reason that the expression is changed error may appear in a reactive form.
2. It seems to oppose on the following statement that appears in the **Validate for

[2020-05-17 22:00] CarlosTorrecillas commented on #32897
@sispor thanks for this. I was puzzled about the error and it turned out to be something different. In fact it was related to an issue I have already raised with the Angular Universal team @platform/server section. It had to do with an issue that happens when an angular animation executes the “done” event and it’s all mixed with a HTTP call...

[2020-05-18 00:19] RossJohnDE commented on #35788
Same problem.
Angular: 9.1.4

[2020-05-18 04:01] devin5885 opened #37168 "Angular 9 Upgrade updates to tsconfig.app.json are undocumented."
# 📚 Docs or angular.io bug report

### Description

The Angular 9 upgrade updated the tsconfig.app.json and tsconfig-es5.app.json as follows (the project uses the differential loading workaround from the angular 8 upgrade to allow ng serve to support IE):

[code]

(i.e.) 'exclude' was removed and 'files' and 'include' were added.

[code]

Checking the tsconfig.app.json for a default CLI Angular 8

[2020-05-18 04:03] beingminimal opened #37172 "Getting error while building with Bazel (missing bazelisk)"
# 🐞 Bug report

### Command (mark with an `x`)

- [x] new
- [ ] build
- [x] serve

### Description
We have created new angular project building with bazel by follwing steps given in https://next.angular.io/guide/bazel.
After installtion, getting error while running project locally.
Note that we have tried same steps on Google Cloud shell with linux environment and there also we received error for

[2020-05-18 04:27] kolkov opened #37169 "Angular animation delay issue"
Hi! I maintain Angular gallery library [ngx-gallery](https://github.com/kolkov/ngx-gallery) and try to use Angular animation to slide images. This works as expected in more cases, but if I click very quickly on neighboring slides on preview I see the distance between moving pictures in the image component. Is it a bug? Can it be somehow fixed or it is by design?
Live preview:
https://ngx-gallery.k

[2020-05-18 04:29] azamanaza commented on #11447
+1

In reactive forms, disabled fields are excluded in form value. You can get around it by using formGroup.getRawValue().

But what if you want to submit a form with both readonly and disabled fields?

Disabled and readonly fields can be side effects depending on what the user selects on the form.

[2020-05-18 04:54] beingminimal opened #37170 "Getting error while building with Bazel"
# 🐞 Bug report

### Command (mark with an `x`)

- [x] new
- [ ] build
- [x] serve

### Description
We have created new angular project building with bazel by follwing steps given in https://next.angular.io/guide/bazel.
After installtion, getting error while running project locally.
Note that we have tried same steps on Google Cloud shell with linux environment and there also we received error for

[2020-05-18 04:55] brpatel0202 commented on #37170
Any update on this? @mgechev @kyliau @dgp1130

[2020-05-18 05:14] pauldraper commented on #5689
I'd be fine either way, but this sometimes this sometimes that gives a disjointed feel to Angular, which is the last thing you would except from a battery-included framework.

Personally, I'm curious to see how you would even have non-RxJS versions for all the Angular packages (HTTP, Router, Forms). I suspect there aren't good non-RxJS versions of these, which is why they have RxJS in the first pl

[2020-05-18 05:19] pauldraper commented on #5689
Out of curiosity @mgechev , are there any Github issues for that? (I haven't seen any.) Or is this more a Googler-thing?

[2020-05-18 05:31] insidewhy commented on #5689
@pauldraper I've seen at least one issue on github where someone is complaining about how horribly complex rxjs is and wanting it to be completely optional. Personally I love rxjs, but I've worked with two teams now where it brought fear and loathing to both junior and senior developers. Also, orthogonal is the better term than opposite, since it is possible to implement both requests at the same

[2020-05-18 06:01] fxck commented on #5689
For every one comment complaining about rxjs on github there are probably thousands of devs using and enjoying it without a problem.

[2020-05-18 06:13] pkozlowski-opensource commented on #37170
Definitively no point in creating 2 issues for the same problem. If the CLI team determines that the issue at hand requires transfer to another repo, they will do so.

Closing as a duplicate of angular/angular-cli#17746

[2020-05-18 06:13] #37170 closed

[2020-05-18 06:22] KrishnaAnanthi opened #37173 "@angular/compiler-cli:9.1.7 gives below error : Cannot read property 'start' of undefined"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [x] build
- [x] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....
Yes it was working with 9.1.6 version

### Description

 A clear and concise de

[2020-05-18 06:44] ankitbtanna commented on #36414
No improvements notices with 9.1.6, the time taken for build has bumped up. I don't want to downgrade to 9.0.7. The pipeline executes this code on a 2 core machine... So It's not good.

[2020-05-18 06:50] fxck commented on #5689
![image](https://user-images.githubusercontent.com/1303561/82182092-001baa80-98e4-11ea-8e7f-58b138814e1a.png)

![image](https://user-images.githubusercontent.com/1303561/82182411-8c2dd200-98e4-11ea-9730-a3c7ee242577.png)

[Here](https://docs.google.com/forms/d/e/1FAIpQLScnwMQUODmah9ahAFDqzFr7VFKsbomB99Uzi6Akec38oJ-12A/viewanalytics) are the results from that form I posted above (almost 200 people

[2020-05-18 07:25] varora1406 opened #37175 "ERROR: Cannot find module 'tsickle'"
# 🐞 bug report

### Affected Package
@angular/compiler-cli: "9.1.7"

### Is this a regression?

 Yes, the previous version in which this bug was not present was: "9.1.3"

### Description

Stack
`Building entry point '@catalystone/ui-common'
------------------------------------------------------------------------------
Compiling TypeScript sources through ngc
ERROR: Cannot find module 'tsickle'
Req

[2020-05-18 07:28] varora1406 commented on #37175
I have imported tsickle separately in project, and it works.
Hopefully it can added into required artifact of angular

[2020-05-18 07:51] klemenoslaj commented on #37172
I am having the exact same issue on OSX.

[2020-05-18 08:12] insidewhy commented on #5689
Even though I love rxjs, I'm not this optimistic. I worked with a lot of devs who are so burned out the thought of having to commit time to learn something with a steep learning curve is a nightmare. And a lot who care far more about earning money than coding :D Or the aggressive junior devs who think that anything they can't learn in the space of a day must be trash.

[2020-05-18 08:27] JoostK commented on #37173
Hi,

using different versions of Angular framework is not supported. So `@angular/compiler-cli` 9.1.7 requires the usage of `@angular/compiler` 9.1.7 and also the other Angular framework versions need to be the same version, except for the CLI (`@angular/cli`) as it follows its own release cycle.

[2020-05-18 08:27] #37173 closed

[2020-05-18 08:29] briosheje commented on #36272
I'm experiencing the same issue upgrading a project from angular 7 to angular 9.
After a lot of struggle to setup the whole thing, the dev build takes about 5-7 minutes to complete, while with angular 7 it took barely 40 seconds (which was quite long already).

Is there any news / tip about how to track down and eventually resolve the issue? There "0% compiling" just sits there and it appears ( to

[2020-05-18 08:51] darkbasic commented on #5689
![angular_rxjs](https://user-images.githubusercontent.com/1047358/82193177-53e2bf80-98f5-11ea-96a1-1fcb096881b2.png)

This one says it all. IMHO Angular should stay consistent and use **more** RxJS: with no RxJS at all it wouldn't be Angular.

[2020-05-18 09:01] divya96kumari opened #37177 "No option to get back to the English translation in Language"
When we click on a different language, then there is no option for English.

[2020-05-18 09:27] insidewhy commented on #5689
Yes, it would be pretentious to only cater to developers who want to write code using rxjs. Even though I prefer to use rxjs, I want Angular to cater to both sets of developers. Why should Angular cater to us only and not those who think differently? Especially when I believe that we are in the minority, not the majority.

[2020-05-18 09:30] fxck commented on #5689
Again, going "fully reactive", as in adding observable lifecycles, inputs, events wouldn't in any way affect those you are talking about, but would make the other group very happy.

And components features are useful whether you like reactive programming or not.

[2020-05-18 09:32] insidewhy commented on #5689
@fxck I never disagreed with that for a second. I was just responding to your earlier comment to point out that there are many people who don't want to use rxjs and many of those have opened github issues to complain about it.

[2020-05-18 09:38] JoostK commented on #37177
I'm sorry but we don't understand the problem you are reporting.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template.

[2020-05-18 09:38] #37177 closed

[2020-05-18 09:42] petebacondarwin commented on #37177
Also be aware that non-English translations of the Angular docs are not owned nor managed by the Angular team. So we are not responsible for ensuring there are links back to our site. If you specify which language version you have a problem with then we may be able to point you at the projec/team that are running that version to allow you to create an issue with them directly.

[2020-05-18 10:27] alan-agius4 commented on #37175
@varora1406, this seems like a bug in `ng-packagr`, where `tsickle` should be listed as an optional peerDependency.

That said since version 9, tsickle is no longer needed by default as `annotateForClosureCompiler` is turned off. You only need tsickle when `annotateForClosureCompiler` is switched on and you are using closure compiler, which in many cases users outside of Google don't need.

See: h

[2020-05-18 10:27] #37175 closed

[2020-05-18 10:32] klemenoslaj commented on #5689
Despite how angular decides do develop the core - reactively or not. In the ideal world there would be the opposite package building on top to cater the opposite needs (e.g. `@angular/reactive` or `@angular/imperative` - with better names hopefully).

Either of these two going to community is for me a downgrade for some people and for me angular having an outlook of being a great reactive framewor

[2020-05-18 10:47] bree7e commented on #36272
I am facing the same issue. `ng serve` time

win10 after upgrade - 332083ms (other values 289653ms, 301621ms)
[code]

win10 before upgrade - 55805ms
[code]

❌ difference 277 sec - 603%

---
wsl win10 after upgrade - 202134ms

[code]

wsl win10 before upgrade - 48349ms

[code]

❌ difference 154 sec - 420%

---

There is no issue on mac or linux.

macos after upgrade - 117855ms
[code]

macos before

[2020-05-18 11:19] fvoska opened #37178 "Improve TestModuleMetadata typings"
# 🚀 feature request

### Relevant Package

This feature request is for @angular/core

### Description
Typings for `TestModuleMetadata` are too loose and they do not provide proper type-checking. Ths can lead to hard-to-track bugs in tests in case there is a typo or some other error in `TestBed` configuration object.

Example issue:
[code]

If `SomeService` is decorated as `@Injectable({ providedIn

[2020-05-18 12:51] raberana commented on #36056
Most likely there's something wrong in the module but is hidden as an inner exception.
If you run npm run dev:ssr, you should be able to see the error.

In my case, it is because windows is not defined.

So in my server.ts, I added these lines:

[2020-05-18 12:52] raberana commented on #36510
Most likely there's something wrong in the module but is hidden as an inner exception.
If you run npm run dev:ssr, you should be able to see the error.

In my case, it is because windows is not defined.

So in my server.ts, I added these lines:

[2020-05-18 13:23] jcruzrg commented on #30835
I already fixed the error in my project. In my case I have a node application with angular, and I had declared the angular routes for node first and then set the use of the folder where the angular dist is located. Changing these statements, it worked for me.

Before:
var angularRoutes = require ('./ routes.js') (app);
app.use (express.static ('./ dist', {
index: 'index.html',
maxAge: 86,400,000
}

[2020-05-18 13:44] lukaonik commented on #37134
I had the same issue removing --prod flag from build fixed my issue maybe it helps, just run
`ng build my-lib --watch`

[2020-05-18 14:24] pkozlowski-opensource commented on #37137
@pshurygin explanations are spot on here - it "works as designed" today but I can see how it can get confusing. As such I would qualify this issue as "confirmed confession".

In short, the issue here is that a value gets emitted _after_ change detection run on the component "interested" in the value.

It is easier to see what is going on when one simplifies repro a bit and removes `OnPush` from th

[2020-05-18 14:27] sonukapoor commented on #37063
@StephenFluin / @IgorMinar I see that the stackblitz url in the file:

https://raw.githubusercontent.com/angular/angular/master/.github/ISSUE_TEMPLATE/1-bug-report.md

points to:

https://stackblitz.com/fork/angular-issue-repro2

Do you know whether this repo was created using an account owned by angular?
Should we actually be using https://stackblitz.com/fork/angular-ivy ?

[2020-05-18 15:06] pkozlowski-opensource commented on #37011
@refactorking thnx for sharing a reproduce scenario in a stackblitz. I had a brief look at it and unfortunately it is not clear to me what is the problem in Angular you are trying to report... I do understand that something is not rendered as you would expect, but it is not obvious to me what part of "not working" is contributed by Angular.

It sounds to me like you bumping into some timing issues

[2020-05-18 15:23] pkozlowski-opensource commented on #36817
@rondog could you please share a minimal reproduce scenario (GitHub repo or stackblitz) so we can confirm the issue? It definitively sounds fishy as you are providing an object but from your code / debugging info it sounds like this object is interpreted as an array? This sounds very off, this is why we need a minimal reproduce scenario as requested in the issue template.

Other thing to check - d

[2020-05-18 15:47] walid-hajhussien commented on #37131
@gkalpak, once I set up the SW on my project the SSR no longer works as you mention above on the second point, so that's mean SW & SSR can't working together.

what did I note that the server still rendered the `index.html` but no longer send it to the client once the SW is activated.

what I would say that the server should render and serve the `index.html `once you hit the server in the first ti

[2020-05-18 15:54] gkalpak commented on #37131
Sorry, I am not sure what you are saying, @walid-hajhussien 😅
Can you provide detailed instructions on how to reproduce the issue (e.g. commands to run to set up, build and run a project or a repo we can check out and build and also what actions to perform to see the issue including what is the expected and what is the actual behavior)?

[2020-05-18 16:10] rondog commented on #36817
I was going to make a stackblitz, but turns it its not even viewable in IE11. I will create a new angular app and upload a zip somewhere. Also, yes I enabled the polyfills. Just to be clear, the code I posted was in the transpiled vendor-es5.js file. The error in IE11 happened to be pointing to that file.

[2020-05-18 18:31] mgechev commented on #5689
Not an internal Google thing. You'd be surprised (just like I was, when I joined the team), how large is the intersection between external and internal requirements. The main difference is in the build system and dependency management, aside from that Googlers have pretty much the same requirements as non-Googlers.

We're in touch with thousands of developers - a lot of external companies, interna

[2020-05-18 18:38] jacobweber commented on #17983
This would really be helpful. There are thousand blog posts that do a bad job of explaining this, but no official documentation.

[2020-05-18 19:06] grantcurell opened #37187 "Angular matInput renders incorrectly in forms. Seems to be broken?"
# 🐞 bug report

### Affected Package

ReactiveFormsModule

### Description

See [this StackOverflow post](https://stackoverflow.com/questions/52918852/angular-material-components-not-rendering-correctly).

Edit: Another person found the same problem [here](https://stackoverflow.com/questions/49706438/angular-material-2-input-box-not-rendering-properly-as-expected) and [here](https://stackoverflow.

[2020-05-18 19:35] cyrilletuzi opened #37188 "Update to tslib v2"
# 🐞 bug report

### Affected Package
All Angular v10 packages

### Is this a regression?
No.

### Description
According to the upgrade to TypeScript 3.9 in last v10 beta, Angular should upgrade to tslib v2 ([releases notes](https://github.com/microsoft/tslib/releases)) and requires v2 as minimum peerDependency.

[2020-05-18 19:38] cyrilletuzi commented on #37188
Related issue in Angular CLI: angular/angular-cli#17753

[2020-05-18 20:10] cyrilletuzi opened #37189 "ModuleWithProviders broken in v10.0.0-next.8"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/compiler-cli

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 10.0.0-next.6 (maybe 10.0.0-next.7, skipped this one)

### Description

`ngcc` fails to compile the `NgModule.forRoot()` of my library.

Seems to be introduced by #36948 ([commit](https://github.com/angular/angular/c

[2020-05-18 20:42] alan-agius4 commented on #37188
Hi @cyrilletuzi,

We are aware of this and we are working on this. Tslib update to version 2 breaking and requires a number of changes across the board.

This is currently being tracked in TOOL-1374

[2020-05-18 20:44] nschmit commented on #37161
Thanks for the quick reply!
I do agree that the SW is cleaning up the caches on every SW initialization. But as I understood it, this only happens when a new version of the SW is released, which depends on the @angular/service-worker version and not on the version of the PWA. If I'd release many versions of my PWA without updating the SW, I might run into problems such as Quota-Exceeded errors...

[2020-05-18 20:58] ronnyek commented on #21690
I'm still seeing that target problem on cli 9.1.6, and angular 9.1.7

[2020-05-18 21:08] petebacondarwin commented on #37189
I think that this is actually more likely due to the changes in TypeScript 3.9, which can now wrap ES2015 classes in an IIFE, which is what is happening to this class:

[code]

[2020-05-18 21:08] petebacondarwin commented on #37189
I will dig into why we are not matchin `StorageModule_1` to the correct class declaration.

[2020-05-18 21:16] petebacondarwin commented on #37189
Indeed it is a bug in the Es2105ReflectionHost changes to deal with IIFE wrapped classes.

The `StorageModule_1` identifier is declared as a `var` and so this is not picked up as the “alias declaration” of the “inner declaration”.

I’ll put together a fix tomorrow.

[2020-05-18 21:26] petebacondarwin commented on #37189
Basically, when given the alias `StorageModule_1` the host is finding the inner class "expression" instead of the outer class "declaration".

[2020-05-18 21:43] csimpi commented on #15741
This is still an issue for me

[2020-05-18 21:55] #36544 closed

[2020-05-18 22:33] StephenFluin commented on #37063
It should be this one, you're right: https://stackblitz.com/fork/angular-ivy

[2020-05-18 23:20] sonukapoor commented on #37063
@StephenFluin Thanks for confirming.

Do we want to update the `index.html` to that repo with the same instructions from the old repo?

https://stackblitz.com/edit/angular-issue-repro2-lx8p9a?file=src%2Findex.html

[2020-05-19 00:41] AndrewKushnir commented on #37187
Hi @grantcurell,

Thanks for providing a repro. I looked at the Stackblitz page and noticed JS error being throw by Forms module:

[code]

This error prevents form controls from initial rendering. It looks like the `[formGroup]` bindings that you have in a template use value of a type different from `FormGroup` (undefined in one case and plain object in the second case). I've created an updated [v

[2020-05-19 00:41] #37187 closed

[2020-05-19 00:55] AndrewKushnir commented on #36998
Hi @popec, thanks for reporting the issue. Could you please also provide a minimal repro using [Stackblitz](https://stackblitz.com/), so that we can look into this? Thank you.

[2020-05-19 01:03] AndrewKushnir commented on #36997
Hi @popec, thanks for reporting the issue. Could you please also provide a minimal repro using [Stackblitz](https://stackblitz.com/), so we can better understand your report? Thank you.

[2020-05-19 02:08] devin5885 opened #37193 "Angular 9 upgrade - removal of tsickle library is not documented."
# 📚 Docs or angular.io bug report

### Description

The Angular 9 upgrade appears to remove the library 'tsickle' from the project, according to this page it is obsolete with Ivy:

https://blog.ninja-squad.com/2020/02/07/angular-cli-9.0/

Please confirm and document.

### What's the affected URL?**
https://angular.io/guide/updating-to-version-9
https://update.angular.io/

[2020-05-19 04:37] ntziolis commented on #5689
@mgechev I think having one unified approach reactive or imperative (it being a choice per project) when developing an angular app would be highly beneficial. The ability to mix and match does not aid the development experience and create non DRY code (eg. non reactive inputs).

Nothing happens in isolation, so I can totally understand corporate environments having a hard time to re-train large am

[2020-05-19 05:55] luke-emmental opened #37194 "angular 9 ivy input, OnChanges bug"
# 🐞 bug report

### Affected Package
may be @angular/core

### Is this a regression?

angular 8 woking ok but angular 9 problem

### Description

#### expected
only one input value change
#### issue
but other input value change

## 🔬 Minimal Reproduction

https://stackblitz.com/edit/angular-ivy-input-change-issue

## 🌍  Your Environment

stackbliz  dependencies

[2020-05-19 06:05] Nathaniellsfreak commented on #10404
let factory = this.resolver.resolveComponentFactory(MyComponent);
let groupNode = document.createElementNS("http://www.w3.org/2000/svg", "g");
let component = factory.create(injector, [], groupNode);
this.container.insert(component.hostView);

Which datatypes are used for the variables document and injector?

[2020-05-19 07:24] emircanerkul commented on #16982
This works! But should i use this annoying ? character for all async variable? especially when we use HttpClient? Are there any way to solving this within service file?

[2020-05-19 07:35] fxck commented on #5689
Great, good to know, how does adding observable lifecycle, observable input and observable events fit into that? Define going full-in with RxJS? And no, none of these really have "well established workarounds/community solution".

[2020-05-19 07:40] Nathaniellsfreak commented on #10404
Here is a link to my example: https://stackblitz.com/edit/angular-ivy-dj7wto?file=src%2Fapp%2Fparent%2Fparent.component.ts

I don't get it to work. Has someone a hint for me?

[2020-05-19 08:13] insidewhy commented on #5689
@fxck none of these really have a "well established workarounds/community solution".

￼It's true. I wrote one of these solutions and it only works due to one big hack that relies on poor type-checking in templates. I've checked out a few of the other solutions posted in this thread too and each of them has at least one of the following problems:

* subscription leaks
* boilerplate requirements on

[2020-05-19 08:17] fxck commented on #5689
Observable events are even worse, there are not that many solution, they even require additional build steps (which in some cases breaks SSR in monorepo setups) and hacks on top of that even https://github.com/typebytes/ngx-template-streams/issues/8

Lifecycle events are arguably the "easiest" but still have to rely on a class extensions or custom decorators, both of which is not ideal.

[2020-05-19 08:24] insidewhy commented on #5689
@fxck As far as I'm aware it's not possible to clean up lifecycle event subscriptions without having to use a parent class (eugh) or a method the user has to call from their own destroy lifecycle event (even worse).

[2020-05-19 08:26] tonivj5 commented on #5689
I had tried to implement lifecycle events (to get it reactive) with custom decorators too and it's a pain. Without class extension I don't know if it's possible without 100 hacks. The user-possibility to extend angular is so far very poor and it relies on hacks or a lot of boilerplate to do it.

[2020-05-19 08:37] Razgort commented on #36056
@Boris92 no didnt find any clue to solve this ...

[2020-05-19 09:09] mshahzebedu opened #37195 "Window is undefined"
Hi
while i am working with angular universal and trying to build the project the build complete  but when i serve application server side it show error that "window is undefined" first showing about local storage but by installing package and importing local storage error gone but next window is undefined error rise i am trying a lot but it not resolving .
Please guide me how can i handle this err

[2020-05-19 10:19] ntziolis commented on #5689
@tonivj5 If [component feature's](https://indepth.dev/component-features-with-angular-ivy/) would be a public api do you see this as a potential way to implement lifecycles without inheritance?

[2020-05-19 10:28] petebacondarwin commented on #27582
The JS sources that we rely upon do not support overloading. So I don't believe that this is actually something that ngcc can/should worry about.

[2020-05-19 10:28] #27582 closed

[2020-05-19 10:33] petebacondarwin commented on #37104
This is really just a duplicate of #33395

[2020-05-19 10:33] #37104 closed

[2020-05-19 10:36] DrDager commented on #24547
I have **resolved** this issue by **implementing custom scroll restoration behavior**.

The **reason** of this behavior is that **page didn't already render** and scrollToPosition no have effect.

There are not a good hack with timeout but it works.

[code]

[2020-05-19 11:28] petebacondarwin commented on #37134
Just to be clear... Removing the `--prod` flag from the `ng build my-lib` will cause the library to be built via the Ivy compiler. This is great for local testing. But when you come to publish the library to npm, you should use `--prod` to ensure the library is built via the ViewEngine compiler, which is the required format for publicly published libraries.

[2020-05-19 11:43] lukaonik commented on #37134
yes absolutely. nice catch  :)

[2020-05-19 11:54] #36900 closed

[2020-05-19 12:04] kctang commented on #35586
This happens when `@NgModule()` is resolved from a different `node_modules` location.

Given this configuration, we can use `my-lib` from `my-app` directly without building `my-lib`:
[code]

As @mhevery highlighted, the error indicates that somehow there are two copies of Ivy in there. This was due to TypeScript's [module resolution](https://www.typescriptlang.org/docs/handbook/module-resolution.h

[2020-05-19 12:52] gkalpak commented on #37161
The SW initialization is unrelated to the version of `@angular/service-worker`. After a some time of inactivity the browser will terminate the SW (to reclaim resources) and it will create a new instance of it the next time it needs to handle an event for its scope. That is what initialization refers to.

This is independent of the version of `@angular/service-worker` (or the `ngsw-worker.js` scrip

[2020-05-19 13:03] sonali395 commented on #37134
[code]

I no longer see the old error instead I witness the below error when I make any change in my library with --watch. The build is succeded always on change but application serve fauls with below errors. These errors are gone when I clear dist and rebuild and serve again. But with each change in my library, I can't do the same process.

dist/components/lib/modules/stepper/stepper.module.d.ts:

[2020-05-19 13:13] petebacondarwin commented on #36796
That PR has now landed. Closing this.

[2020-05-19 13:13] #36796 closed

[2020-05-19 13:19] #36164 closed

[2020-05-19 13:23] mrucelum opened #37199 "Library build with "ivy" does not render components with @Input variables that have a custom TS "type" as type"
# 🐞 bug report

### Affected Package
I guess the ivy compiler?

### Is this a regression?
Well it worked before, but we didn't use the ivy compiler before. Not sure if this counts as regression or not. :)

### Description

I have an angular library which contains a component that renders a simple list of sub components. For each item in the list, there is should be a component shown that has an in

[2020-05-19 13:27] petebacondarwin commented on #36702
Closing due to a lack of response.
@Dzhuneyt - if this is still an issue, please post further details and I can re-open this.

[2020-05-19 13:27] #36702 closed

[2020-05-19 13:45] grantcurell commented on #37187
@AndrewKushnir man I can't thank you enough. I saw that error, but because I knew the data was present I went down the wrong path of trying to understand the behavior instead of just clearing the error. I was like - well, all of it is there, I just have to click around to get it to show up. I should have cleared the error first.

This is pure curiosity on my part - why would clicking around (I hav

[2020-05-19 14:10] zakhenry commented on #5689
@ntziolis hah funny you should mention features, I'm actually working on the lifecycle part of ngx-sub-form and features is exactly something that I think would help. In the meantime it is very doable to patch the component factory with ivy. I see this as being very useful outside of ngx-sub-form, so I think I will split this logic out into a separate lib

[2020-05-19 14:23] #37199 closed

[2020-05-19 14:42] darkbasic commented on #5689
@ntziolis at this point I'm unsure if we will ever see the Ivy promises actually being delivered.

[2020-05-19 14:46] JoostK commented on #37109
Hi @Oleksandr-Zatuleyev,

bugs that are specific to View Engine are triaged and prioritized like any other bug. As Ivy is available which does not have this issue, fixing this bug in the old compiler is not of high priority. There is no statement on _not_ fixing ViewEngine-specific bugs, it's just that they aren't actively being fixed as Ivy is available as replacement.

If you do have specific is

[2020-05-19 14:49] evgeniyefimov commented on #5689
Have you checked angular effect [https://dev.to/stupidawesome/exploring-the-angular-effects-api-2gol](https://dev.to/stupidawesome/exploring-the-angular-effects-api-2gol)
With this tool you can write fully reactive applications. I think it's a really next step for angular to work with reactivity.

[2020-05-19 14:54] hokkaido commented on #33728
This basically means that you cannot make certain requests with the existing HttpClient implementation, i.e. if you need to query a backend service that accepts international phone numbers as a query param there is no way to properly encode the plus sign.

[2020-05-19 15:21] pflugich commented on #20694
This and deactivating the router-outlets 'manually' on an ActivationStart as suggested in this issue fixed it for me. I have one router-outlet in a BottomSheet, which in my running solution is my primary outlet (unnamed). I'm running angular in v9.0.7, would be nice to know this fixed some day ;)

[2020-05-19 15:23] etay2000 commented on #5689
@mgechev

Just curious, who is we and how many Googlers actively contribute to the Angular decision making process?

You indicate this is not a decision that should be rushed, but I wondering what is your definition of not rushed? Is this one of those slap a 'Fixed by Ivy' tag on it and ignore it until more developers start making noise again type situations? Is there a targeted version in mind fo

[2020-05-19 15:27] foucdeg commented on #37089
@petebacondarwin @pkozlowski-opensource

In @crfrolik 's defence, please note that the issue you mentioned does not come up in a search for "typescript 3.9" (because the name mentions "TS" not Typescript).

[2020-05-19 15:33] rickwalking commented on #11836
There are workarounds to this, but this is really an important needed feature.

[2020-05-19 15:35] petebacondarwin commented on #37089
Fair enough. Sorry @crfrolik

[2020-05-19 15:37] tommck commented on #27450
I can't believe this issue (and many like it) have not been addressed since **Angular 2**.

[2020-05-19 15:44] aakashgarg19 commented on #20694
This is sort of a hack and should not be used. Manual deactivation should not be done. If your router config is proper you will not face this issue and will not need this. Please refer to my answer for resolving this.
#20694 (comment)

Basically nested router outlet you can search if still there are some doubts.

[2020-05-19 15:45] eaglet commented on #36128
Hi, I would like to work on this bug. Is it ok?

[2020-05-19 15:52] tonivj5 commented on #5689
@ntziolis, as @zakhenry said, I think `features` would help

[2020-05-19 16:36] daelmaak commented on #37062
So running the callback in `ngZone.run` somehow switches the context to angular zone, so that changing component properties in this "new" context makes the button render in the right zone. Interesting.

I tried your suggestion and it works fine 👍

[2020-05-19 16:40] aemrebasus commented on #18271
#### I got around it like this.
[code]

[2020-05-19 16:43] pkozlowski-opensource commented on #37194
tl;dr; my understanding is that the issue reported here is about arguments of the `ngOnChanges` callback.

@luke-emmental thnx for the reproduce scenario. I had a brief look at it and I must say that it is not 100% clear to me what is the observed vs. expected behaviour. Let me explain.

II've simplified a bit your scenario (mostly coping things to one file) here: https://stackblitz.com/edit/angul

[2020-05-19 17:41] scotia673 opened #37202 "Include context/context-group tags in i18n extraction tooling"
# 🚀 feature request
It would be useful for the still in-development i18n extraction tooling to include support for `context` and `context-group` tags in the generated XLIFF files when this functionality is released.

### Relevant Package
@angular/localize

### Description
This is in anticipation of functionality that is currently in-flight (#32912 ). I looked through that PR, open issues, and othe

[2020-05-19 17:55] tonivj5 commented on #5689
@ntziolis I have given other try with the lifecycle and [I have a working POC](https://github.com/tonivj5/ng-rx-lifecycle) (without class extension nor implements lifecycle interfaces). It relies on private API (:exclamation:)

[2020-05-19 17:57] splincode opened #37203 "[BUG]: Angular 9 doesn't work correctly with NGXS decorators with UMD"
# 🐞 bug report

### Affected Package

@angular/compiler

### Is this a regression?

Yes

### Description

https://stackblitz.com/edit/angular-9-ngxs?file=src/app/store/todo/todo.state.ts

[code]

![image](https://user-images.githubusercontent.com/12021443/82360862-af569f80-9a12-11ea-9e5b-dc1056d3d2bc.png)

NGXS validates decorators through a handle. But now this does not work with Angular 9. Howev

[2020-05-19 18:07] zakhenry commented on #5689
@tonivj5 hah I haven’t had a chance to read yours but Ive nearly got my solution released too :) https://github.com/cloudnc/ngx-observable-lifecycle

[2020-05-19 18:19] creativeux commented on #36563
Thank you for the feedback @kara - that was what we needed to get unblocked. Using your note combined with the conversation in [this open issue](https://github.com/angular/angular/issues/33632) I ended up removing the `host`-based click bindings in both superclass and subclass and moved it to `@HostListener` in the superclass and the inheritance became consistent between Ivy and View Engine.

I fo

[2020-05-19 18:23] petebacondarwin commented on #37202
@scotia673 - absolutely!! In fact look at the latest state of #32912. I have started to implement this. It has been a long time coming, partly because it is quite tricky to achieve at the point when we are doing the extraction. The solution I have come up with involves using source-maps to identify the original files where these i18n messages were found.

[2020-05-19 18:34] petebacondarwin commented on #37203
From what I can see the compiled code is not passing a 4th argument to `__decorate`...

[code]

[2020-05-19 18:43] petebacondarwin commented on #37203
There are some old versions of typescript mentioned in the stackblitz package.json...

[2020-05-19 18:53] challamzinniagroup commented on #12088
@seanzamora Your second solution is the best I've found for this - and demonstrates a great use case (and need) for this. Ultimately, you're doing with lazy-loaded modules what the router should allow for basic components. Fortunately in my case I'm dealing with lazy-loaded modules as well - so this worked like a charm. Thanks!

[2020-05-19 18:57] petebacondarwin commented on #37203
I also note that if I turn off ivy then the decorator looks like:

[code]

There is now a `null` but it is now a different error about the `CompilerFactory`...

[2020-05-19 19:15] atscott commented on #35443
Adding `working as expected` and `confirmed` state labels and keeping this bug open as a reference.

In short, host bindings are set after the template executes so this error is expected when attribute values affected by host bindings are used in the template.

The forms tutorial is being updated in #36732 and will no longer include this pattern that would result in the `ExpressionChanged` error.

[2020-05-19 19:38] pauldraper commented on #5689
Lol, there haven't been 2500 open issues since mid-2019.

[code]

[2020-05-19 19:42] splincode commented on #37203
@petebacondarwin is this an Angular problem, or am I doing something wrong as a developer?

[2020-05-19 19:43] pauldraper commented on #36868
Ping

[2020-05-19 19:46] pauldraper commented on #36824
FYI, this problem would be made far better if #10185 were implemented.

Then, you could simply `.takeUntil(destory)`.

[2020-05-19 19:47] petebacondarwin commented on #37203
Honestly, right now, I cannot say. I don't think it is an Angular bug since these `__decorate()` calls are added by TypeScript not the Angular compiler directly.

It might be a bug in TypeScript, in the case of UMD/CommonJS...
Or perhaps related to how Stackblitz is setup.

It would be interesting to try to force a standalone version of your reproduction to use UMD rather than ES2015... we could d

[2020-05-19 19:59] splincode commented on #37203
@petebacondarwin Thanks for your work!

[2020-05-19 20:11] sonali395 commented on #37134
@petebacondarwin Plese check this **https://github.com/sonali395/angular-test.git**  small example with same issue.

Steps to reproduce
1. run ng build my-lib --watch
2. ng serve
3 make a change in lib component and save
4. check the terminal which is serving application.

Please note: library : Ivy is turned off
application : ivy is on
package has script postinstall : "ngcc"

I am a library autho

[2020-05-19 20:28] AndrewKushnir commented on #37187
@grantcurell, no problem, glad to know that the solution worked.

I didn't dig deeper to identify why clicking on inputs caused styles and content to appear, but my guess is that clicking caused a new change detection cycle for these components, thus applying updates to these components.

[2020-05-19 20:41] EatonZ commented on #36804
@TapanGujjar Go ahead if you know what to do!

[2020-05-19 20:44] TapanGujjar commented on #36804
Thank you @EatonZ. I will start working on the issue.

[2020-05-19 21:02] pkozlowski-opensource commented on #36817
Or better yet - create a minimal github repo and link it from here. I'm afraid we will need a reproduce scenario as the issue strikes me as very odd - `<ul [ngClass]="{'hidden': activeLoc}">` sounds like rather basic usage of pretty much fundamental functionality so I would expect much more reports in this area.

So yes, we need to have exact scenario to confirm / investigate / fix.

[2020-05-19 21:57] #37188 closed

[2020-05-19 22:23] atscott commented on #36787
Looking at your `package.json` in the stackblitz example, it appears you need "es2015.promise" in the "lib" list. See related answer on stackoverlow: https://stackoverflow.com/a/38212418

[2020-05-19 22:23] #36787 closed

[2020-05-19 22:41] AndrewKushnir commented on #29268
@devversion could you please let us know if there are checks for orphaned fixup commits in the new merge script?

[2020-05-19 22:54] devversion commented on #29268
@AndrewKushnir Oh yeah. Thanks for the ping. That seems like a good addition to the merge script. I'll work on that!

[2020-05-19 22:55] AndrewKushnir commented on #28895
Hi Ben! The circular dependency tracking tool was re-written by @devversion recently. The tool is now on par (or even stricter in some cases) with g3 dependency tracking. Thank you.

[2020-05-19 22:55] #28895 closed

[2020-05-19 23:09] atscott commented on #20455
This issue appears to be fixed. Special characters in matrix params are encoded correctly. https://stackblitz.com/edit/angular-ivy-4hl3sk?file=src%2Fapp%2Fhello.component.ts

[2020-05-19 23:09] #20455 closed

[2020-05-20 00:59] luke-emmental commented on #37194
----
expected: only timeIn is reported in ngOnChanges
observed: both objIn (incorrect) and timeIn (correct) is reported in ngOnChanges
----
@pkozlowski-opensource  Yes! My intention is correct.

[2020-05-20 02:45] Splaktar commented on #16051
In trying to integrate Scully with `@angular/service-worker`, we've gotten most of it working apart from offline reload of the page on a non-root route. It appears that a primary part of the problem we're hitting here is that reloading in the Service Worker works if our route has a trailing slash. But Angular removes the trailing slashes, so things break. There's more detail in the [Scully issue](

[2020-05-20 03:02] StephenFluin commented on #37063
I'm not sure. We have some of this information in the bug template now, so
some of it isn't relevant. Reminders about minimal reproductions are
helpful though, but I'm not sure if it's worth maintaining a separate
stackblitz repro fork.

On Mon, May 18, 2020 at 4:20 PM Sonu Kapoor <notifications@github.com>
wrote:

[2020-05-20 03:04] tahir-jamil commented on #36352
i have the sample problem with scheme error and i have added component in declarations of module but still after migrating it shows many errors

[2020-05-20 03:06] tahir-jamil opened #37213 "schema errors"
[code]

Module

[code]

**package json**

[code]
**tsconfig.json**
[code]

[2020-05-20 03:33] mrucelum commented on #37199
Hi, so sorry, completely missed that importing ViewType in the child component (which is defined in the parent) produces a recursion. Will try it again, but it's probably really the same as #35602.

[2020-05-20 04:47] pkozlowski-opensource commented on #37213
@tahir-jamil Im afraid that there is not enough details for us here to investigate. We would need a minimal, live reproduce scenario (stackblitz, github) in order to proceed. This issue is not actionable as-is without a reproduce scenario (as requested in the issue template).

[2020-05-20 05:01] zeesulehria commented on #37213
@pkozlowski-opensource this `component is known element` errors are occurring after upgrading to Angular 9. The same was working well in Angular 8. Can you point to some related migration error?

[2020-05-20 05:29] pkozlowski-opensource commented on #37213
@zeesulehria  general troubleshooting steps are outlined in https://stackoverflow.com/a/44430230
I'm sorry but I can't provide more guidance without reproduce scenario

[2020-05-20 05:42] pkozlowski-opensource commented on #36398
Related to #12045

[2020-05-20 06:16] zeesulehria commented on #37213
Thanks @pkozlowski-opensource . Ok will try to reproduce this scenario and share here.

[2020-05-20 06:41] kolkov opened #37214 "Animation increment/decrement not working properly"
# 🐞 bug report

### Affected Package
@angular/animations
@angular/animations/browser

### Is this a regression?

I don't know

### Description

Transition increment/decrement works only increment for +1 or decrement -1.

## 🔬 Minimal Reproduction
This library have demo app:
https://github.com/kolkov/ngx-gallery/tree/reusable/projects/gallery-app
https://github.com/kolkov/ngx-gallery/blob/0fce1a39b

[2020-05-20 06:49] masatada-kurihara commented on #37068
Please adapt this fix to Angular9.

[2020-05-20 06:50] masatada-kurihara commented on #31495
https://github.com/angular/angular/issues/37068#issuecomment-629173336

[2020-05-20 07:21] pkozlowski-opensource commented on #37214
@kolkov could you please extract essential bits of the problem to a minimal reproduce scenario and share it with https://stackblitz.com/

There is quite a bit of code in your library and it is not clear right now if this is the animation bug or some other problem in the implementation. This is why we need a minimal reproduce scenario to make it "painfully" clear that the root of the problem is in

[2020-05-20 07:39] Indrajith-Sync opened #37215 "NullInjectorError: No provider for CompilerFactory!"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [ ] build
- [X] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

Not sure about the angular version which it is working

### Description

Facing this script error after the project is served using **npm start**

##

[2020-05-20 07:46] pkozlowski-opensource commented on #37215
I'm sorry but there is not enough details here for us to investigate. We would need a minimal reproduction scenario (as requested in the issue template) to be able to understand and confirm the issue.

[2020-05-20 07:51] chelvaric commented on #36787
yes in stackblitz it is fine, i had it in visual studio code, But why do we need to add the es2015.promise ourselfes in a clean project? shoudln't it be added standard then?

[2020-05-20 08:16] Indrajith-Sync commented on #37215
Hi @pkozlowski-opensource

Try the following steps in the below sample to reproduce the reported issue.

- npm install
- npm run build:richtext-editor
- npm start

Sample:
[Angular_issue_Sample.zip](https://github.com/angular/angular/files/4655487/Angular_issue_Sample.zip)

[2020-05-20 08:33] pkozlowski-opensource commented on #37215
@Indrajith-Sync ohhh, do you think it would be possible to reproduce in https://stackblitz.com/ instead of sharing a zip file? It would speed up investigations immensely...

[2020-05-20 08:50] bazter commented on #37137
Thank you @pshurygin and @pkozlowski-opensource for explanation. I must have been very lucky in the past, when I relied on the fact that simply emitting an observable through the template would be enough to run the change detection.. and it worked every time probably because of other events flying around.

Now, because I'd like to get better and learn a proper way of doing things, what would you r

[2020-05-20 08:52] AndreyAusianik opened #37216 "optimization: true breaks transitiveCompileScopes for jit compiled components"
# 🐞 bug report

### Affected Package

I believe This issue is caused by @angular/compiler

### Is this a regression?

This was working on Angular version 6.1.10

### Description

I am trying to compile a simple component
[code]
with some logic
<pre><code>
ngOnInit() { setInterval(() => this.value++, 1000);
</code></pre>
inside of a module
<pre><code>
{
   imports: [CommonModule, FormsModule],
   d

[2020-05-20 08:54] luke-emmental commented on #37194
I found `this is not problem` reason

in your case using `template`
I using `templateUrl`

The two cases give different results.

[2020-05-20 09:28] Indrajith-Sync commented on #37215
@pkozlowski-opensource  the issue is not reproduced with stackblitz. Hence shared the angular project

https://stackblitz.com/edit/angular-elements-tutorial-dad5wm?file=package.json

[2020-05-20 09:29] Vangi commented on #37109
Any workarounds to avoid this error? It is really annoying because we have to rebuild the entire project and it takes additional time. And we can not switch to Ivy because we have to rewrite the most of the project.

[2020-05-20 09:54] destus90 commented on #37194
I don't see any difference in the observed behavior between the two reproductions above. The second one is a bit simpler.

[2020-05-20 10:09] mukundkatpatal commented on #37134
Hi @petebacondarwin
@sonali395 has provided you the repo. Can you please consider changing the status from `needs repo`?
We are library developers and we are stuck. It would be frustrating to clean the dist folder, recompile lib and then start ng serve every time we change the library for our local development and test.

Thank you in advance.

[2020-05-20 10:10] destus90 commented on #37194
Hmm, I have found an appropriate workaround there, just passing `ayncTimer` as `Object` without extracting a value.
https://stackblitz.com/edit/angular-ivy-input-change-issue-ztz4kh?file=src/app/app.component.ts

[2020-05-20 10:16] petebacondarwin commented on #37134
Hi @mukundkatpatal and @sonali395 - thanks for the reproduction. I will take a look by tomorrow at the latest.

[2020-05-20 10:46] petebacondarwin commented on #31495
Please take a look at https://github.com/angular/angular/pull/35464. Hopefully this might resolve the issue for you?

[2020-05-20 10:59] lukaonik commented on #37134
if you have the library and application on the same workspace, there is no need for linking libraries, or building both of them, all you have to do is setting correct path to tsconfig.json. I checked your git repo, and you are setting path to the dist folder, replace it with that

[code]

(if you already link libraries unlink, delete node_modules and reinstall again)

now just run only ng serve  c

[2020-05-20 11:09] vraddy opened #37218 "HTML element inside svg:foreignObject throw error"
### Description
Adding HTML element inside svg foreignObject is throwing error
Template parse errors:
':svg:div' is not a known element:
1. If ':svg:div' is an Angular component, then verify that it is part of this module.
2. To allow any element add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas'

Adding angular component inside svg foreignObject doesn't throw error but component is not displaying,

[2020-05-20 11:10] JoostK commented on #37215
A couple of observations:

1. The stacktrace shows `compileNgModuleFactory__PRE_R3__ ` in `scripts.js` in an Ivy app, this indicates that the Angular sources have not been compiled for usage with Ivy.
2. The project uses `ngx-build-plus` and extended Webpack configuration. I'm not familiar with this setup, but it looks like `ngx-build-plus` creates the `scripts.js` file that contains the non-Ivy b

[2020-05-20 11:14] JoostK commented on #37216
I believe this shares the root cause of #36255.

[2020-05-20 11:27] diegovincent commented on #18870
Are we accepting PRs? I am happy to implement the docs according to @trotyl IF AND ONLY IF it is indeed the behavior that Angular takes. I would start by documenting it on the V8 though, which is the version that I am using ATM.

CC @pkozlowski-opensource @thw0rted

[2020-05-20 11:33] AndreyAusianik commented on #37216
it could, but It compiles with factory of a component in my case for both optimized and unoptimized cases. just the imported scope is lost

[2020-05-20 11:38] victory-oki commented on #36056
@Borsi92 I had the same issue but I eventually found out that my lazy loading script was wrong
this was what I had
`path:'modulePath', loadChildren:()=>import('../some-module/some-module.module').then(m=>{m.some-module})`
this is what it should have been
`path:'modulePath', loadChildren:()=>import('../some-module/some-module.module').then(m=>m.some-module)`
turns out i didn't return the module in

[2020-05-20 11:40] victory-oki commented on #36510
I had the same error but I eventually found out that my lazy loading script was wrong
this was what I had
`path:'modulePath', loadChildren:()=>import('../some-module/some-module.module').then(m=>{m.some-module})`
this is what it should have been
`path:'modulePath', loadChildren:()=>import('../some-module/some-module.module').then(m=>m.some-module)`
turns out i didn't return the module in the arrow

[2020-05-20 11:51] pkozlowski-opensource commented on #37218
A simpler reproduce scenario (to have it exactly corresponding to the linked scenario without Angular): https://stackblitz.com/edit/angular-ivy-jmk9kp

I can confirm that it looks like a valid bug in Angular template parser. Thnx for reporting!

[2020-05-20 12:15] gustavshf commented on #18004
I'm having the same issue. :(

[2020-05-20 12:26] sonukapoor commented on #37063
Ok. PR created for review.

[2020-05-20 12:35] vraddy commented on #37218
Thanks! i have more importance to angular component inside svg:foreignObject not displayed.
following is the reproduce link of this in simple version.
https://stackblitz.com/edit/angular-issue-repro2-8v1ovo

[2020-05-20 12:45] pkozlowski-opensource commented on #37218
@vraddy we are confusing the conversation here a bit by discussing 2 separate issues, I'm afraid. So, the problem that you are raising here is that Angular will create a HTML element corresponding to a component (`<svg-test>` in your example) that we call host element. The issue is that `<svg-test>` is not a valid element that can be used with SVGs hence a browser doesn't render it. This is a well

[2020-05-20 13:17] luke-emmental commented on #37194
umm... sorry.  It was wrong

[2020-05-20 13:20] pkozlowski-opensource commented on #37194
@destus90 ha! I think that you are onto something! I've just observed that just removing `?` also makes things work as expected. That is, replacing `[timeIn]="(ayncTimer|async)?.t` with `[timeIn]="(ayncTimer|async).t` <- notice lack of ?) gets us to the expected value in the `OnChanges` callback (it will error initially as the first emitted value is `null` but then it starts to work OK: https://st

[2020-05-20 13:32] yahyazini commented on #23609
@jpike88 these are the only steps that worked for me. Hopefully it would work for you as well https://github.com/angular/angular/issues/23609#issuecomment-561615821

[2020-05-20 13:37] vraddy commented on #37218
Sorry to put two issues in one thread @pkozlowski-opensource ,
my actual issue was host component was not rendering inside svg:foreignObject(since i was not aware of svg support in angular only as attribute, i was trying to do it in foreignObject as element) from your example it is clear now.. i can get this working by attribute selector, problem solved!

about the <div> inside <foreignObject>, th

[2020-05-20 13:38] pkozlowski-opensource commented on #36863
@wdunn001 I would like to better understand this part:

<app-child [attr.test]="test" >

So, this was never our intention, which means that our intentions and your expectations don't match :-)

I was wondering why you would like to use the above syntax and try to get the value from an attribute, given that you can just pass a value as `@Input()` (`<app-child [attr.test]="test" >`).

Is it because

[2020-05-20 13:43] mukundkatpatal commented on #37134
@lukaonik it worked. thank you Very much. @petebacondarwin You can close the issue.

[2020-05-20 13:46] petebacondarwin commented on #37134
Glad you are sorted. We really need to document this...  cc @aikidave

[2020-05-20 13:57] JoostK commented on #37199
Ah, thanks for the confirmation. It's actually a valid point that a type-only import shouldn't necessarily contribute to a cycle being detected. How we deal with cycles is being reconsidered and type-only imports could definitely be taken into account. Perhaps only if the `import type` syntax is used, available since TS 3.8 I believe.

[2020-05-20 14:03] LinBoLen commented on #32815
@matsko is there any progress on this issue?

angular material select same problem occur

https://stackblitz.com/edit/angular-kzxr9i

[2020-05-20 14:26] petebacondarwin commented on #37203
I note in https://www.typescriptlang.org/docs/handbook/decorators.html#method-decorators there is:

Now in StackBlitz the tsconfig.json is set to `ES2015` but perhaps Stackblitz actually changes that??

[2020-05-20 14:56] petebacondarwin commented on #37203
One more thing I have found... Running it locally the `desc` parameter is set to `null`. In this case the `__decorate()` function will compute the `desc`:

[code]

[2020-05-20 14:57] petebacondarwin commented on #37203
In any case, I think that this is an issue with how TS and Stackblitz are playing together.

[2020-05-20 15:08] tcd commented on #32847
Any word on this?

[2020-05-20 16:18] jsBrian commented on #36711
tl;dr the router-outlet reactivates itself when recreating an element, even when it's not supposed to

Performed some tests and found out some more information.
It seems that the old router-outlet gets reactivated when recreating the element. By manually deactivating the router-outlet, if it's not expected, in the ngAfterViewInit call, I can bypass the issue.

The reason routing broke is that the

[2020-05-20 16:40] atscott commented on #36787
@chelvaric It's hard to know exactly what's happening for you without specific steps to reproduce the issue. I tried downloading the project from stackblitz, running `npm install`, and opening it in vs code but did not see the warning you're describing. I also created a new project with the CLI using these steps:
1. `ng new test` and add routing when prompted
2. `cd test`
3. `ng g m home`
4. add `

[2020-05-20 16:43] #30848 closed

[2020-05-20 17:17] yjaaidi opened #37223 "Zoneless async router guards break change detection"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/router

### Is this a regression?

 Probably not

### Description

 Async router guards that run outside of zone break change detection.

## 🔬 Minimal Reproduction

https://stackblitz.com/edit/angular-zoneless-guard-issue?file=src%2Fapp%2Fapp.module.ts

Change detection is triggered when clicking the button on the eager

[2020-05-20 17:30] hughanderson4 opened #37224 "padding-left style binding toggle doesn't work on Ivy"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....
Angular 6
see working Stackblitz here
https://stackblitz.com/edit/angular-issue-repro2-qbdodz

1. click the toggle button, it sets "customPadding" which just means padding-left only.
2. click the toggle button, it uns

[2020-05-20 17:54] Dok11 commented on #37078
[code]

It's not correct style. Maybe it should be like this:
[code]

Stackblitz can make build? In serve mode all works fine.

[2020-05-20 18:29] pkozlowski-opensource commented on #37078
Ut is definitively capable of doing AoT compilation of Angular components, if this is what you mean by "build". Again, at this point it is not clear where the root of the problem is - it might be as well in a CSS processing step of your build if you happen to have one.

In any case we need a reproduce scenario (stackblitz or a minimal GitHub repo) - we can't fix bugs that we can't reproduce and un

[2020-05-20 18:57] cah-chase-spencer commented on #31021
Ran into this today. This would be awesome!

[2020-05-20 19:15] angela95ry opened #37225 "No provider for CompilerFactory! after upgrade to angular 9"
Upgrade to angular 9.1.7 however, this error display

<code>Uncaught NullInjectorError: StaticInjectorError(Platform: core)[CompilerFactory]:
NullInjectorError: No provider for CompilerFactory!</code>

Below is my main.ts code

<code>
import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { AppModule } from './app/app.module';
import { environment } from './environments

[2020-05-20 19:34] JoostK commented on #37225
Heya,

unfortunately there's not enough information to be able to investigate. Could you please provide us with a runnable reproduction, for example a Github repo or similar.

[2020-05-20 20:30] #37189 closed

[2020-05-20 20:35] atscott commented on #36128
Hi @eaglet, there's currently no formal process for claiming issues marked with the community help label. You're welcome to work on this.

[2020-05-20 21:35] steverob2k opened #37229 "Add createInjector() to public API"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/core

### Description
A pull request was made to remove createInjector from the public API. Stated in the PR is "It will be re-exported when Ivy is released."

This is a very useful function for loading non routed modules and there are many examples online using this.

The PR for reference [https://github.com/angular/an

[2020-05-20 21:59] DibyodyutiMondal commented on #31021
My original recommended solution had a mistake in the code, I have now updated it

I had used `takewhile()` as the first pipe operator, which is completely wrong.
To get desired behaviour it should actually be `filter()`

[2020-05-20 22:33] kuncevic commented on #10185
Just found this library that can do that https://github.com/cloudnc/ngx-observable-lifecycle

[code]

[2020-05-21 00:05] Splaktar commented on #17983
This is very much on the docs team's radar. Please add your 👍  to the OP to indicate your support for documenting this.

[2020-05-21 00:20] Ignaciojeria commented on #18374
I have the same bug

[2020-05-21 00:31] Splaktar commented on #34405
No, this is not related to this issue as it does not use the `async` pipe. Template variables are read-only by design in Ivy.

[2020-05-21 00:37] Splaktar commented on #34405
1. You can make your card a separate, dumb component that has an input that takes `deviceGroup`.
1. You can resolve the Observable in a component or service and provide that reference to the template instead.
1. With Reactive Forms, you can resolve the Observable in a component or service and use that to set the value of the `FormControl`

Basically, you just need to stash that value somewhere oth