[2015-08-14 07:41] Krustie101 opened #3637 "Angular type definitions contain a lot of properties with type void"
The published type definitions contain more than 20 properties with type void. For instance, the "value" property of the AppRootUrl class.

This is allowed by the typescript spec but "they do not serve a useful purpose". For some reason they are also marked in error by Webstorm.

[2015-08-14 09:27] danielrasmuson commented on #3464
Question: How should we reference "SourdoughBreadcrumbs" in the error message? I imagine we would normally use the component selector however in this example it doesn't exist, right?

A generic error message might look like...

[annotations_impl/annotations.ts](https://github.com/angular/angular/blob/13b1d850586dab3d02ba0b06dc417a29203933fe/modules/angular2/src/core/annotations_impl/annotations.ts

[2015-08-14 09:46] pkozlowski-opensource commented on #3464
@danielrasmuson we had some conversation about it in https://github.com/angular/angular/issues/3533 and it looks like TypeScript tape checking should take care of this for people using TS.

@mhevery I guess we still need a check inside ng2 for people using ES6 / ES5, right? If so I would be more happy to help out @danielrasmuson to prepare a PR

[2015-08-14 10:34] cristinecula commented on #2482
@aboeglin have a look at #2916

[2015-08-14 11:02] cristinecula opened #3638 "EXCEPTION: Only 3 queries can be concurrently active in a template."
I have a component that uses NgFor to create other components inside it's view, by iterating over a list.

[code]

I use ViewQuery to get a hold of the child components.

All is well until i change the `playlist` getter to return a map of the original array:

[code]

It seems that NgFor repeatedly destroys and creates the <item> components, on each change, but the ViewQuery keeps accumulating comp

[2015-08-14 11:11] pkozlowski-opensource commented on #3638
I believe that this is duplicate of https://github.com/angular/angular/issues/3625

[2015-08-14 11:30] cristinecula commented on #3638
@pkozlowski-opensource that would indeed solve the issue with the 3 queries limit, I think there is something else here. As you can see, the ViewQuery keeps records of all of the child components, even if they were destroyed:

![](https://i.imgur.com/s2HyXbO.png)

[2015-08-14 11:31] pkozlowski-opensource commented on #3638
OK, going to reopen so @rkirov can confirm if this is a duplicate or not

[2015-08-14 16:05] hitmanmcc opened #3642 "Angular 2.0 alpha 34 form error"
Hello guys,

Have there been any breaking change in forms from alpha 33 to alpha 34? My forms stopped working when I upgraded and I got this error when I tried navigating to a page with one of the forms.

[code]
I have plunkr examples for both alpha 33 and 34, so you can check that in alpha 33 it works and in alpha 34 it does not, which you can verify by checking the console's log:

<b>Angular Alp

[2015-08-14 16:11] mgechev opened #3643 "TypeError: Cannot read property 'Subject' of undefined with System.js 0.18.10"
While updating the [system.js version](https://github.com/mgechev/angular2-seed/issues/50) of the angular2-seed I encountered issue with the following stack trace:

[code]

Debugging it further I reached [this line](https://github.com/angular/angular/blob/643c71740e9e0a325f2f3b8431eb5f67cd84ba56/modules/angular2/src/facade/async.ts#L106-L108). With the newest version of System.js the `default` pro

[2015-08-14 16:20] alexeagle commented on #3632
Does this result in an error for users who import both typings? @jeffbcross checked that it should work.
If it's just documented twice, how severe an issue is that?

[2015-08-14 17:31] rkirov commented on #3643
Ian is working on upgrading system of our own unit tests, which involved working around the same problems you are seeing. Let continue the discussion on https://github.com/angular/angular/pull/3630

[2015-08-14 17:31] #3643 closed

[2015-08-14 18:05] rkirov opened #3644 "Implement `withAnnotation` for DI 2.0"
di.dart 1.x supported the following usage (translated to .ts below)

[code]

Currently the same can be achieved by
[code]

Should this be the preferred replacement for `withAnnotation` or should we implement `withAnnotation` as sugar?

[2015-08-14 18:14] rkirov commented on #3638
So not really a duplicated of #3625 since there is only one active query (not >3).

However there was a bug that was fixed with https://github.com/angular/angular/commit/2150a8f9d1373770a6a27258de1c1ffecb90fd21

I will add an unit test that cycles an ng-for 5+ times and close this issue.

[2015-08-14 18:31] jeffbcross opened #3645 "feat(compiler): [property]="{{foo}}" should raise an exception"
Some users during a hack night were trying to set properties this way. Since {{foo}} would never be a valid expression, the compiler should raise a helpful exception when this pattern is found. Since this pattern is predictable, the exception should give specific feedback.

My suggestion: `{{foo}} is not a valid expression in [prop]="{{foo}}". Try [prop]="foo"`

CC: @mhevery

Related: #3662 (shoul

[2015-08-14 18:36] jeffbcross opened #3646 "fix(compiler): directives pointing to forward ref should produce an error"
If two components are defined in the same TypeScript/ES6 module, and one component depends on the other before it's defined, then the component will be undefined at runtime since classes are transpiled using assignment instead of hoistable declarations.

[code]

This should raise an error, instead of failing silently as it does now.

CC: @mhevery

[2015-08-14 18:40] jeffbcross opened #3647 "docs(Query): improve Query documentation"
The Query documentation is lacking context (just code samples), and is only available in the [`QueryFactory`](https://angular.io/docs/js/latest/api/annotations/QueryFactory-interface.html) interface documentation at the moment. It should be added in the [`Query`](https://angular.io/docs/js/latest/api/annotations/Query-var.html) documentation, and given more description about its purpose.

CC: @mhe

[2015-08-14 18:42] jeffbcross opened #3648 "docs(bookmarks): class methods and fields should be linkable"
The docs on angular.io should make methods and fields bookmarkable for easier sharing.

CC: @mhevery

[2015-08-14 19:05] #2366 closed

[2015-08-14 20:04] btford commented on #3632
This should be innocuous for the user. I think `type Type = Function` or something similar.

We could extend dgeni to filter out certain duplicates. I suspect we'll encounter the same problem with animations, http, etc. It might be reasonable to solve the general issue of duplicate exports. Or we could hard code a work around for now.

I think this will only really happen with shared utils like th

[2015-08-14 20:27] jeffbcross opened #3651 "docs: API reference should also include global/ambient object names included in sfx bundles"
For example, [this bundle](https://code.angularjs.org/2.0.0-alpha.34/angular2.sfx.dev.js) exports the "angular2/angular2" module as `ng`, but if I'm a user looking at the [`ComponentAnnotation`](https://angular.io/docs/js/latest/api/annotations/ComponentAnnotation-class.html) docs, I have no idea how to get a hold of that annotation if I'm not using a module loader.

CC: @wardbell @naomiblack

[2015-08-14 20:57] PascalPrecht commented on #3646
Maybe that error could also give a hint for `forwardRef()` ?

[2015-08-14 21:26] btford commented on #3646
Woah, didn't even know we had a util for this. Nice!

Here's the docs page: https://angular.io/docs/js/latest/api/di/forwardRef-function.html

[2015-08-14 22:19] #3638 closed

[2015-08-14 23:28] typotter opened #3655 "Bound components showing up twice in @Query children"
Binding a component to a token in both `bindings` and `viewBindings` results in the component appearing twice in the children list, injected by @Query.

ex:

[code]
prints 2

[2015-08-14 23:54] typotter opened #3657 "Feature Request: New unbounded @Query type"
@Query searches the light DOM tree for matching nodes. @ViewQuery searches the component's view for matching nodes.

Consider the case where there are many nodes on the page of a given type. In order to build a Tree model of these components, unbounded parent injection can be used to build the tree from the bottom-up, however, building the tree is not possible with child injection, as deeply view-

[2015-08-15 00:32] manekinekko opened #3658 "bootstrapWebWorker is transpiled to bootstrapWebworker, which throws a TypeError."
Hi,
I just noticed something weird when playing around with the Web Worker modules. It is about `bootstrapWebWorker`.

The TypeScript function name is called `bootstrapWebWorker` (with two capital "W") but the generated JavaScript name seems to turn to `bootstrapWebworker` (one capital "W") which throws a TypeError.

Here is how to reproduce this:

#### bootstrap.ts
[code]

#### loader.ts
[code]

[2015-08-15 01:17] wardbell commented on #3651
No kidding! I was bit by it already.

I'm featuring `ng` in Getting Started Dev Guide for JS.

That's not enough. Need in API everywhere. Perhaps sufficient in the API examples?

[2015-08-15 02:02] zzm2q commented on #3406
yes, i also met this case:

(with select tag)
[code]
`tryPrintScale` will be called **before** scale changed.

<br/>
(with input tag)
`tryPrintScale` will be called **after** scale changed.
[code]

[2015-08-15 02:07] gdi2290 commented on #3406
have you guys tried to swap the position of the `[(ng-model)]` and `(change)`?
`<input (change)="tryPrintScaleValue()" [(ng-model)]="scale">`

[2015-08-15 02:14] zzm2q commented on #3406
yes, i have tried it just now. nothing change.

[2015-08-15 02:24] gdi2290 commented on #3406
alright, I was just wondering. The bindings are meant to be more predictable this time around so I was wondering if position mattered.

what about breaking apart the two-way binding (this probably won't change anything either)
`<input (change)="tryPrintScaleValue()"  [ng-model]="scale = $event" (ng-model)="scale">`

[2015-08-15 02:57] S-YOU commented on #3406
some browsers change attributes order when you access attributes (not sure about latest browsers), so position shouldn't matter.
this does not happen in angular 1.x because ng-model has higher priority than normal events.
priority concept is gone in angular 2 btw?

[2015-08-15 07:16] jteplitz602 commented on #3658
Hey @manekinekko, how are you transpiling angular? Are you using our gulp tasks or running it through the TypeScript compiler yourself?

[2015-08-15 07:19] jteplitz602 opened #3661 "Add channel support to MessageBus"
MessageBus should support some form of channel abstraction. We could have channels for angular modules (renderer, compiler, xhr, router, etc...), and then users could specify their own channels.

[2015-08-15 09:26] pkozlowski-opensource commented on #3645
So, today we are getting those errors for the `<div [a]="{{b}}">` case:

As for giving specific feedback: if we decide to go down this path we need to take all the binding forms (`bind-a`, `data-bind-a`) into account. Same goes for events (`(click)="{{foo()}}"`) as well, I guess.

[2015-08-15 09:31] PascalPrecht commented on #3645
I'm also voting for more specific error messages here, if it's not to
expensive to implement. I think one thing that a lot of ppl struggled with
in AngularJS, was that the error messages weren't super clear at a first
glance (even tho I think minError is great). So if we can improve here, we
should definitely do so

On Sat, Aug 15, 2015, 11:26 AM Pawel Kozlowski <notifications@github.com>
wrote:

[2015-08-15 09:50] pkozlowski-opensource commented on #2094
Just so we track this properly - the boot time is actually increasing over time, we went from ~ 30s from my last comment to ~1 min on the same hardware:

[2015-08-15 09:54] PascalPrecht commented on #3657
Aren't component's views supposed to be implementation detail of a
component, so outer boundaries shouldn't see components inside a
component's view?
Because then the current behavior seems just right.

On Sat, Aug 15, 2015, 1:54 AM Tyler Potter <notifications@github.com> wrote:

[2015-08-15 10:06] rixrix commented on #2904
@jeffbcross I'd like to work on this easy task but would you be able to elaborate a little bit as to what you really want and maybe some hints (?). Would you like to get rid of using `requestMethodsMap` when requestmethods becomes a constant list ? and would you have to those constants be in separate file called `constants.ts` ? thanks

[2015-08-15 12:15] manekinekko commented on #3658
Hi @jteplitz602  I am using [angular-class repo](https://github.com/angular-class/angular2-webpack-starter). It uses webpack and the tasks are defined in the [package.json](https://github.com/angular-class/angular2-webpack-starter/blob/master/package.json#L6)

[2015-08-15 12:22] Fincodr commented on #3474
Having this same issue with alpha 34. Can't really use DynamicComponentLoader to load any complex component.

[2015-08-15 13:19] pkozlowski-opensource opened #3662 "Better error reporting for [(ng-model)]="exp" syntax"
This `[(ng-model)]="exp" ` will work while `([ng-model])="exp" ` will fail silently. We should either throw or allow both forms (not sure if it makes sense).

Related: #3645 (should be done together)

[2015-08-15 15:12] jteplitz602 commented on #3658
It looks like this is an issue with our npm release. I'll investigate on Monday. For now, the easiest way for you to work around it is to build angular from source since this doesn't appear to be a problem when you build angular directly.:

1. Clone github.com/angular/angular
2. cd angular && npm install
3. gulp build.js.dev
4. Replace your current angular source with the source code generated in

[2015-08-15 15:18] jteplitz602 commented on #3658
Sorry, this actually isn't a bug. We renamed bootstrapWebWorker in a1c53eec6bccaec145a7daef3f5211c4f9cb77eb, which hasn't landed in npm yet. This should be fixed in the alpha35 release.

WebWorker support is still under active development so we're going to be making breaking changes to it for a while. I'd recommend you build from source as part of your app's build pipeline if you plan to use WebWo

[2015-08-15 15:18] #3658 closed

[2015-08-15 15:23] DominikPalo opened #3663 "Typos in the Step-by-Step guide"
I found some typos in the Step-by-Step guide:

3: User Input (https://angular.io/docs/js/latest/guide/user-input.html) in the Final Code snippet:
Line 10: `*ngfor`-> `*ng-for`
Line 18: `NIf` -> `NgIf`

Also in chapter 2: Displaying data (https://angular.io/docs/js/latest/guide/displaying-data.html) there is missing a line `bootstrap(DisplayComponent);` on the end of the final TypeScript snippet

[2015-08-15 15:52] khyamay commented on #3663
there is already a pr for typos for *ngfor and Nif

[2015-08-15 15:59] vicb commented on #3663
see https://github.com/angular/angular.io/pull/161

[2015-08-15 15:59] #3663 closed

[2015-08-15 17:13] pkozlowski-opensource opened #3664 "Better error messages when an `@Output` property is not initialized."
Related: #3754 (should be fixed together)

Listing an event in a directive without creating an associated `EventEmitter` instance results in cryptic error:

To reproduce:

[code]

[2015-08-15 18:09] olegstan opened #3665 "(click) not work properly"
Hello. I have html like that.
        &lt;li&gt;&lt;a class="btn btn-link btn-small current" (click)="sort($event, 'position')"&gt;&lt;span&gt;Some text&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

When I click on span there no effect. Click not work on child tags. Where magic?

[2015-08-15 18:16] alexpods commented on #3665
Use (^click) syntax.

From the docs [here](https://github.com/angular/angular/blob/ff1b110ae15962f01b9b3c4d42fca8f20bab8b55/modules/angular2/docs/core/01_templates.md):

[2015-08-15 18:44] manekinekko commented on #3658
Sure! I understand. It is actually part of the [Universal](https://github.com/angular/universal/issues/85) project I'm contributing to.

[2015-08-16 03:07] nicholasess commented on #3188
I have the same error

[2015-08-16 05:05] #3665 closed

[2015-08-16 08:50] binarykitchen opened #3668 "Fire ng-mouseover on disabled buttons"
I know, you currently don't but IMO AngularJS should.

I have an use case here where the button remains disabled when the entered form is invalid. But I want to show a tooltip over the disabled submit button to explain the user why it's invalid every time the user hovers over that disabled submit button. This to improve usability.

Any chance this can be accepted?

[2015-08-16 09:28] pkozlowski-opensource commented on #3668
@binarykitchen this is the repo for Angular 2, I guess you wanted to report in https://github.com/angular/angular.js.

Having said this my understanding is that browsers won't fire mouse events on disabled elements (there are slight differences between browsers here, it seems) so there is nothing that Angular (or any other framework, for that matter) can do here. It looks like most people are usin

[2015-08-16 09:28] #3668 closed

[2015-08-16 17:46] forforeach opened #3670 "Extension of annotations"
Hi,
It would be very useful to have an ability of extending annotations. In my case, I try to implement the DSL of my own basic components. So I started with InputBase
[code]
Now I'd like to extend it. For instance, to implement input type=text

[code]
The problem is that every time I extend my input, I should re-write its properties, although it didn't changed.

[2015-08-16 18:20] ericmartinezr commented on #3670
I think this is a good idea. I see it useful for another kind of issues.

Consider the following HTML structure

[code]

According to the documentation I should specify the `DirectiveType`
```@Query(DirectiveType) query:QueryList<DirectiveType>`: A live collection of direct child directives.```

So in my parent directive I'd do this

[code]

That would be awful, but if I have the option to extend

[2015-08-16 20:27] IAPark opened #3671 "Host vs HostListener mixup in Documeantation and Neither Seem to Work"
I'm confused after trying to set up listeners for a component I'm playing with. I did some digging in the source as there is no documentation yet for the host parameter in the Component annotation and didn't find anything useful, but I did find an instance where documentation has not be updated to fit with changing names. Additionally, I will include my problem as it may be an actual bug rather th

[2015-08-16 20:58] ericmartinezr commented on #3671
See this issue : https://github.com/angular/angular/issues/3665

So in your case it should be `(^mousedown)` and you should change `<content>` to `<ng-content></ng-content>` assuming you are using the last alpha version (alpha34) (see https://github.com/angular/angular/pull/2839)

[2015-08-16 21:57] binarykitchen commented on #3668
uh ok, probably you want to rename that repo to angular 2 to avoid wrong tickets being placed here. it wasn't obvious to me.

right, i realised that browsers won't fire mouse events on disabled elements. i solved that by wrapping it with another parent div element. thanks for the links.

[2015-08-16 22:11] IAPark commented on #3671
Thanks @ericmartinezr. This is the reason I was so reluctant to create an issue about this, I was pretty sure that whatever issue I was having was my own, but it does seem the documentation will need to be updated at some point to match the current name of the parameter. I'd make a pull request, but based on what you've said there is a good chance other things have also changed with the system tha

[2015-08-16 22:21] GoossensMichael commented on #3642
The problem lies in this piece of code:

            for (var binderIdx = 0; <b>binderIdx < binders.length</b>; binderIdx++) {
              var binder = binders[<b>binderIdx</b>];
              var element = boundElements[<b>binderIdx</b>];
              if (binder.hasNativeShadowRoot) {
                var shadowRootWrapper = DOM.firstChild(element);
                var shadowRoot = DOM.createSh

[2015-08-17 06:44] PascalPrecht commented on #3662
For consistency I'd also rather vote for throwing an error instead of allowing both syntaxes.

[2015-08-17 08:05] hitmanmcc commented on #3642
Thank you very much @GoossensMichael, I really appreciate the time and effort you put into this and the very thorough explanation of what goes on throughout Angular's DOM generation process in this case. It was very thoughtful of you to take the time to help a fellow programmer that is less well versed in the world of web development. :)

[2015-08-17 08:44] GoossensMichael commented on #3642
No problem. I just started learning javascript and angular 1 a month ago so I don't think we are on a different level of experience ;-).

[2015-08-17 08:47] TiagoBraga39 opened #3674 "AngularJS Unit Testing"
Hi all!

<b>First of all, this is not an issue related to the AngularJS.</b>
I just started on reading about unit testing and some frameworks related to it, but I wanted to use the same framework used in NG 2 development if there is any.

Does anyone know which is it or which one do you recommend?

Best regards,
Tiago Braga

[2015-08-17 09:04] TiagoBraga39 commented on #1043
Given the Entity class:
[code]
And the SubEntity subclass:
[code]

Should it be possible to define the validator of Entity's code from the SubEntity class?
It could be usefull to do so if I wanted to limit the code length, depending on the subclass.

Thanks in advance,
Tiago Braga

:+1: for @akorchev request !

[2015-08-17 09:17] vahidalvandi opened #3675 "break foreach"
hi

do angular support break on angular.foreach

???

[2015-08-17 09:18] PascalPrecht commented on #3675
No, there's no support for that.

[2015-08-17 10:11] evan-liu commented on #3674
Hi @TiagoBraga39,

Check out https://github.com/angular/angular/blob/master/karma-js.conf.js

Regards,
Evan

[2015-08-17 10:34] TiagoBraga39 commented on #3674
@evan-liu Thank you! :)

Best regards,
Tiago Braga

[2015-08-17 10:34] #3674 closed

[2015-08-17 10:58] ericmdantas opened #3676 "[Request] Add unit tests for the examples (modules/examples)"
It'd be awesome to have unit tests for the [examples in modules/examples](https://github.com/angular/angular/tree/master/modules/examples/src).

[2015-08-17 11:19] ericmdantas commented on #3675
@vahidalvandi if you want to get out of an .forEach, just use ```return```.

[2015-08-17 11:38] ericmdantas commented on #2031
I opened #3676 to see if we can get some tests for the stuff in modules/examples.

[2015-08-17 11:43] klihelp commented on #3060
nice, thanks for this

[2015-08-17 11:43] PascalPrecht commented on #3676
@ericmdantas I think there are already plenty of tests in `modules/angular2/test` that you can take a look at. Not sure if it's a benefit to have yet another place where tests are shown. In addition, the actual tests are always up-to-date.

[2015-08-17 12:27] markharding commented on #2793
Is it finalised that Http request responses will be `EventEmitter`? What are the plans in returning other events, such as progress, rather than just a response?

Perhaps it would be better to just return the connection and then backends such as `XHRConnection` can return `response`, `progress`, etc events instead?

[2015-08-17 12:33] ericmdantas commented on #3676
@PascalPrecht that's a good point and I've seen some of those.

I was just wondering if we could get something with a smaller scope and using the tools that are released with the bundled versions.

[2015-08-17 12:35] PascalPrecht commented on #2793
https://github.com/angular/angular/pull/3390 can be ticked on that list.

[2015-08-17 12:36] PascalPrecht commented on #3676
I think for now we need to use the tooling that is inside the angular repo the same way it is used for angular's tests.

[2015-08-17 12:53] pkozlowski-opensource commented on #3675
There is no public angular.forEach in ng2 (well, there are facades with helper methods, but this is different story) and AFAIK we are not planning to add one (helper function like `forEach` created substantial maintenance overhead without much added value....).

[2015-08-17 12:53] #3675 closed

[2015-08-17 12:58] ericmdantas commented on #3675
@vahidalvandi please use [this repo](https://github.com/angular/angular) for angular 1.x questions. :smile:

[2015-08-17 13:14] pkozlowski-opensource commented on #1383
@mprobst what tools did you have on your mind here? Is it for Dart only? Asking since the only tools for ES6 that tries to enable tree-shaking is https://github.com/rollup/rollup - but it doesn't understand decorators / type annotations. Or maybe TS tooling has this tree-shaking capability?

[2015-08-17 13:50] pkozlowski-opensource commented on #3671
Solved by 8b655c7be38f1a86d66a7378e67ea040cd83123f

[2015-08-17 13:50] #3671 closed

[2015-08-17 15:04] #3620 closed

[2015-08-17 15:09] TiagoBraga39 commented on #3620
Everything was working fine now.
It was a problem related to viewBindings and bindings.
I didn't know how I missed that one...

The viewBindings property allows to make dependencies only available for a component’s view, but not it’s children. I changed to bindings and it worked.
It was a old piece of code written in my early days of Ng2.

[2015-08-17 15:54] vsavkin commented on #3644
You are right `withAnnotation` and `@Inject(Token)` solve the same problem. They are used when the type annotation is not sufficient to resolve the dependency.

The Angular DI's mental model is that every injector is like a "lazy hash map" from a token to an object. Implementing `withAnnotation` will make this model less clear. It would also complicate the implementation.

For instance, `bind(Foo)

[2015-08-17 16:12] typotter commented on #3657
Ancestral Injection is unbounded, though - this would be the compliment to that.

[2015-08-17 16:15] mprobst commented on #1383
The idea is to use an optimizing compiler like Closure Compiler (which supports ES6 and tree shaking), after cross compiling. Indeed that doesn't get the type info, but maybe we can get gains just like it is? It'd also be interesting to figure out how much we could gain from the process, e.g. if it's worth to make an effort to better feed Closure Compiler with type info. Or use a different compile

[2015-08-17 16:37] vsavkin commented on #3435
Closed via https://github.com/angular/angular/pull/3666

[2015-08-17 16:37] #3435 closed

[2015-08-17 16:39] vsavkin commented on #3535
@mprobst I created two files: spies.ts and spies.dart. We define all new spies there. It turned out to be much simpler than trying to make one class work well in TS and Dart.

We should move all spy classes there, and then remove `@IMPLEMENTS`.

[2015-08-17 17:48] goderbauer opened #3678 "DOM_REFLECT_PROPERTIES_AS_ATTRIBUTES doesn't work for directives"
internally tracked at b/23155191

[2015-08-17 18:07] tiziano88 opened #3680 "Event binding syntax sugar for references; e.g. `<foo (myEvent)="myVar">`"
I would expect that `<foo (myEvent)="myVar">` should desugar to something like `<foo (myEvent)="myVar = $event">` if RHS is a ref. AFAICT this is more or less what already happens for "fake" two-way bindings such as `<foo [(myEvent)]="myVar">`, but more generic (works for one-way bindings).

If implemented, this pattern would then appear be very useful for propagating data one-way from children to

[2015-08-17 18:15] pkozlowski-opensource commented on #3678
IMO it would be nice to provide minimal context / reproduce scenario here for people that don't have access to the "internal tracker"....

[2015-08-17 18:20] tbosch commented on #3678
The idea is to mirrors properties that are set on components/directives as attributes on the corresponding DOM elements. E.g.

[code]

Should show the name as an attribute (assuming `someName` has the value `tobias`):
[code]

[2015-08-17 18:21] naomiblack commented on #3678
@jeffbcross this is P1 for our internal folks. Can you have a look?

[2015-08-17 18:23] tbosch commented on #3678
The place to change this is in the change detector, as normally, setting these properties would never reach the renderer. I.e. we need to change the implementation of the change detectors to call the renderer (i.e. `Render.setElementAttribute()`) at the right times.

For `DynamicChangeDetection` this would be here: https://github.com/angular/angular/blob/master/modules/angular2/src/change_detectio

[2015-08-17 18:41] bradlygreen opened #3682 "Ability to change the interpolation delimiter character"
Folks who wish to mix Angular 2 template syntax with another template rendering syntax wish to change the interpolation character.  (ex: https://twitter.com/_JRawls/status/633330574208315396)

A complexity in doing this is that globally changing the interpolation character will break most existing directives that use the default {{ }} characters.

A solution to this would be to make this a per-com

[2015-08-17 18:50] jeffbcross commented on #3678
@naomiblack yes I will look into this.

[2015-08-17 18:51] TedSander commented on #3597
@naomiblack can you find someone to look at this? It is making end-end testing hard.

[2015-08-17 18:58] jeffbcross commented on #3678
Hmm, I don't seem like the right person to be looking at this as a P1. I'll figure out who would be best.

[2015-08-17 19:06] jeffbcross commented on #3678
@vsavkin is going to take this on. It sounds like a deep change required to change detector and render APIs.

[2015-08-17 20:20] mhevery commented on #3682
This would be possible in NG2, since we could change it on per view basis, so unlike NG1 (where it is kind of broken) such a feature could work properly in NG2.

[2015-08-17 20:23] mhevery commented on #3680
1) I think you mean `<foo (my-event)="myVar">` since DOM attributes are case insensitive.
2) I think auto assigning `$event` to the expression is too much magic, and I don't think it would be that useful for most events.  If that is what you are looking for use `[()]` syntax which does that.

For now we prefer explicit over implicit magic, so we will pass on this.

[2015-08-17 20:23] #3680 closed

[2015-08-17 20:37] mhevery commented on #3464
Sure @danielrasmuson can send a PR.

[2015-08-17 20:45] btford commented on #3335
Grrr, GitHub is 503'ing on CI.

[2015-08-17 21:50] jteplitz602 opened #3683 "MessageBus should be abstract"
Currently, MessageBus is an interface which means that we can't bind to it with DI. TypeScript 1.6 adds abstract classes to the language, so once that is released we should make MessageBus an abstract class.

[2015-08-17 22:00] naomiblack commented on #3678
moving to alpha-36 since this sounds like it will take a few days at a minimum to work out.

[2015-08-17 22:19] tiziano88 commented on #3680
For the record, an alternative, more explicit syntax for one-way event-driven bindings could be the following `<foo ((my-event))="myVar">`, which would translate directly into `<foo (my-event)="myVar = $event">`, and would nicely complement the existing one- and two-way bindings. Probably not very relevant anyway unless many users ask for it or we can come up with a more compelling use case.

[2015-08-17 22:26] GoossensMichael commented on #3627
Could you provide all the code for a basic test? You can use Plunker if you want.

[2015-08-17 22:56] jbdeboer commented on #1610
Per @matanlurey 's July 1 comment, this is no longer an issue for GT. I removed it from the GT hotlist.

[2015-08-17 23:59] rkirov commented on #3509
I talked with Misko a bit about this issue. The biggest win from this change is making community contributions easier. There are performance improvements but most likely not substantial.

@mprobst, @alexeagle  How do you feel about giving this issue to the community? How mechanical is the task vs needing understanding how ts2dart works. I want to make sure that that doesn't backfire and we have to

[2015-08-18 00:12] jteplitz opened #3685 "Design WebWorker Messaging Protocol"
Currently messaging between the UI and the WebWorker is pretty haphazard, and relies on a lot of hard coded strings. Additionally various components use their own protocols. For example, the broker has a protocol, the setup component has a protocol, and events have their own protocol. All of these are defined in different places.

There should be one protocol file (similar to [barista's protocol](

[2015-08-18 00:13] tbosch commented on #1610
Note that we are planning on precompiling templates, see https://github.com/angular/angular/issues/3605. We probably want to store the templates in this form...

[2015-08-18 00:15] jteplitz602 opened #3686 "Move EventDispatch out of MessageBroker"
Now that MessageBroker is becoming more generic it really shouldn't be tied to events. All the event logic should be moved into a separate EventDispatcher class.

[2015-08-18 04:26] vahidalvandi commented on #3675
very thanks

[2015-08-18 05:33] jeremytrawls commented on #3682
Thanks for even considering this gents!  I can think of a few more scenarios where it would be beneficial to do the same.

[2015-08-18 08:36] kmillikin opened #3688 "Angular does not build with the instructions from DEVELOPER.md"
I'm trying to build Angular and run performance tests by following the instructions at https://github.com/angular/angular/blob/master/DEVELOPER.md.

The build fails because (1) the zone.js and traceur packages do not include a LICENSE file but (2) Angular will not build (!) if there is no such license file.

Maybe this is should be a bug against those packages, but it seems that until they begin s

[2015-08-18 08:38] kmillikin commented on #3688
I should say: it is the `npm install` step that fails.

[2015-08-18 08:45] pkozlowski-opensource commented on #3688
@kmillikin this sounds odd. What is the node.js / npm version that you are using?

[2015-08-18 09:47] kmillikin commented on #3688
node.js version v0.10.25 and npm version 1.3.10.  These are the packages from Ubuntu 14.04 LTS.

I tried with node v0.12.7 and npm version 2.13.5 and it seems to work.  I'm not sure why an older version of npm does not include the LICENSE file but only for those two out of all the packages.

In any case, it's not worth investigating but the directions at https://github.com/angular/angular/blob/mas

[2015-08-18 11:06] mprobst commented on #3509
The problem is that you need some understanding of TypeScript, then you
need a change in t2dart, then you have to upgrade ts2dart in the Angular
repo, and then you can change the code there. This might blow the
complexity/coordination budget for external contributions.

Rado Kirov <notifications@github.com> schrieb am Di., 18. Aug. 2015 um
02:00 Uhr:

[2015-08-18 11:12] alexpods opened #3689 "Access "angular2" components from developer tools console."
This issue came from [this StackOverflow question](http://stackoverflow.com/questions/32052432/how-to-access-the-angular-2-components-data-in-the-browsers-console). As far as I know right now there isn't any easy way to get angular2 component from native DOM element. For example I have a compiled DOM:

[code]

I know that `my-app` is angular2 component, but I don't have access to it. And this is c

[2015-08-18 11:13] mprobst commented on #3535
@vsavkin awesome! Are you going to do the removal?

[2015-08-18 13:25] jessegood opened #3691 "Issue with "ERROR: unknown browser found in getBrowsersFromCLI()" when running tests locally"
I tried running the test suite locally (`npm test`) as documented in https://github.com/angular/angular/blob/master/DEVELOPER.md.
However [this line](https://github.com/angular/angular/blob/master/scripts/ci/test_js.sh#L16) in the bash script adds `ChromeCanary`. As a result, it caused [this line to throw](https://github.com/angular/angular/blob/master/gulpfile.js#L559) from gulpfile.js when runni

[2015-08-18 14:46] thekennysong commented on #2845
@btford Is there a way for dynamic router-links in a template?

[2015-08-18 16:42] mhevery commented on #3676
Examples have e2e tests. I don't think we are planning to have unit tests there.

we have a separate goal of having unit test examples in the docs which should cover this use case. Closing this issue.

[2015-08-18 16:42] #3676 closed

[2015-08-18 16:47] mhevery commented on #3688
Version updated: https://github.com/angular/angular/commit/20cf61756a460cd53013d1381509548a0e627e80

[2015-08-18 16:47] #3688 closed

[2015-08-18 16:48] mhevery commented on #3689
This is on our roadmap.

[2015-08-18 16:48] cironunes commented on #3689
:heart:

[2015-08-18 16:52] naomiblack commented on #3578
Clarified the issue with Yegor. Will try to get this in for 35.

[2015-08-18 17:30] #3448 closed

[2015-08-18 17:58] naomiblack opened #3694 "replace traceur polyfills in angular 2"
We need to investigate and find a replacement for polyfills still in use at runtime.

[2015-08-18 17:59] vsavkin commented on #3527
Fixed by #3581

[2015-08-18 17:59] #3527 closed

[2015-08-18 18:04] vicb commented on #3694
I think ts2dart rely on us using the Traceur's polyfills. If we use some other polyfills, we probably need to update ts2dart at the same time.

@mprobst is that correct ?

[2015-08-18 18:18] btford commented on #3525
I'm going to mark this as "nice to have" since it's essentially just syntax sugar for two different configs that point to the same component. It's a reasonable feature, but not likely to happen until higher priority issues have been addressed.

[2015-08-18 18:27] ericmdantas commented on #3676
Sounds good. Thanks!

[2015-08-18 18:32] #2777 closed

[2015-08-18 19:15] btford commented on #3632
@naomiblack – I'm going to unassign myself since this is not actionable on my end.

[2015-08-18 19:37] btford opened #3697 "feat(router): redirect metadata"
This builds upon #2777.

Redirect routes should also have allowed metadata. That data should take precedence over the target of the redirect's metadata.

[2015-08-18 20:28] naomiblack commented on #3632
Assigning to Misko to think about best fix.

[2015-08-18 20:34] yjbanov commented on #3578
Fixed by 5f7d4faa8872f784f895248dcae795cdbaf58d8a

[2015-08-18 20:34] #3578 closed

[2015-08-18 20:35] yjbanov commented on #3510
This is done. I'll continue improving it, but it does many things I wanted it to do. It's in the separate repo: https://github.com/angular/benchmark_generator

[2015-08-18 20:35] #3510 closed

[2015-08-18 20:52] naomiblack opened #3699 "dgeni outputs partial templates for aliases but should inline them"
Under `http`, we export doc templates for two aliases, `RequestOptionsArgs` and `ResponseOptionsArgs`. Need to update the template so that these are inlined into the method signature, not independent docs.

[2015-08-18 20:55] naomiblack opened #3700 "dgeni should inline the type annotation interface used by a var as part of a var template"
Currently, our template for dgeni doctype `var` and `const` references the type annotation interface by link (and only when the author thought to include it). But the meat of the syntax information is really in the type annotation, included in the doc for the related interface.

This should be inlined into the template instead of its own file.

[2015-08-18 21:41] gdi2290 commented on #3510
is there any way to track the RAIL performance goals?

<img width="1248" alt="screen shot 2015-08-14 at 8 22 43 pm" src="https://cloud.githubusercontent.com/assets/1016365/9343446/e50bda2e-45b6-11e5-9444-a317b5011321.png">

How Users Perceive the Speed of The Web - Paul Irish (Google) keynote
[![RAIL performance goals](http://img.youtube.com/vi/2ksXo2_Lfl0/0.jpg)](http://www.youtube.com/watch?v=2k

[2015-08-18 21:44] yjbanov commented on #3510
@gdi2290 that would be great, but it's outside the scope of `benchmark_generator`. This should be a feature of `benchpress`. Feel free to file an issue.

[2015-08-18 21:49] gdi2290 commented on #3510
thanks I made one in [`angular/benchpress`](https://github.com/angular/benchpress/issues/26) repo

[2015-08-18 22:05] Zyzle opened #3701 "ng-if conditions are called twice, should also short-circuit?"
Not sure if this actually a bug or not but given, http://plnkr.co/edit/exgKLQWZVQjyg5vgnqI8 the conditionals in `ng-if` appear to be called twice each.

Additionally in JS `||` and `&&` operators both short-circuit, in `ng-if` both sides are evaluated regardless. Again I'm not entirely sure if this is the expected behaviour or not, was hoping someone could shed some light.

[2015-08-18 22:16] gdi2290 opened #3702 "RAIL performance goals"
is there any way to track the RAIL performance goals using `benchpress`?

<img width="1248" alt="screen shot 2015-08-14 at 8 22 43 pm" src="https://cloud.githubusercontent.com/assets/1016365/9343446/e50bda2e-45b6-11e5-9444-a317b5011321.png">

How Users Perceive the Speed of The Web - Paul Irish (Google) keynote
[![RAIL performance goals](http://img.youtube.com/vi/2ksXo2_Lfl0/0.jpg)](http://www.you

[2015-08-18 22:19] btford commented on #3700
I'll look this afternoon.

[2015-08-18 22:31] rkirov commented on #3438
Brainstormed with Tobias about best approach to fix this and settled on making query iterate through views and view containers and relieve injectors of their duty to keep downward pointers to children.

That would remove the need to keep `rootViewInjectors` containing anything but view local injectors, making it staticly known.

[2015-08-18 22:35] jteplitz602 opened #3703 "Create Generic class for UIComponents that use MessageBus"
MessageBasedRenderCompiler and messageBasedXHRImpl share a lot of common code and structure (sink, source, handleMessage, wrapWorkerPromise). These are probably going to be shared among all UIComponents that want to be able to send and receive messages to/from the worker.

We should create a generic base class that abstracts this common code away making it easier to write UIComponents. We could th

[2015-08-18 22:36] vicb commented on #3701
@Zyzle we don't short-circuit for the change detection (it would make the code complex and probably prevent some other optimizations).

The conditions must be evaluated twice because we want to assert that the CD is stable (ie side effect free). @vsavkin could you confirm ?

[2015-08-18 22:39] mhevery commented on #3632
After some research here is what needs to be done:

1. Don't export `Type` from `router.ts`
2. include `///<reference path="./angular2.d.ts"/>` in the `router.d.ts` file. This can be done by updating `/Users/misko/work/angular/docs/typescript-definition-package/index.js` to include `./angular2.d.ts`
3. Have dgeni reffer to type as `ng.Type` rather then `Type`

I know how do do step 1 and 2, (see t

[2015-08-18 22:45] mhevery commented on #3699
@btford Here is what should happen for `RequestOptionsArgs` and `ResponseOptionsArgs` They should be inlined everywhere they are used like this example.

[code]

bocomes

[code]

[2015-08-18 22:47] naomiblack opened #3705 "dgeni should not export @CONST, @IMPLEMENTS, & @ABSTRACT annotations"
These are artifacts of the ts2dart conversion process. Can we hide them in the jade output?

[2015-08-18 22:48] sjelin commented on #1610
I think it should still work in that case.  If the templates are inline (as in the design doc example), this plugin is unnecessary.  If they're retrieved by AJAX, this plugin will allow the AJAX to work regardless of how the template is formatted.

I'm going to close this issue since I think it solves the problem and there don't seem to be any internal users to ask about it.  @zzo, can you update

[2015-08-18 22:48] #1610 closed

[2015-08-18 22:48] btford commented on #3632
I have some idea how to get dgeni to do this.

Are there other cases where we need to refer to a class with an `ng.`-prefix?

[2015-08-18 23:28] sumigoma opened #3709 "binding multiple style properties"
Is there an easier way to bind multiple style properties? It would be nice to be able to pass in an object into a la ->  [style] = "styleObj" where styleObj={top:'3px', left:'3px'}
where the properties get mapped to the appropriate DOM object properties, or some other more concise syntax than this below.

[code]

[2015-08-18 23:39] jeffbcross commented on #3458
@mhevery, @IgorMinar and I have been discussing the best solution to this internally, and have landed on this being the new hierarchy of source files, bundles, and imports. The ultimate goal is a simple mental model for users of the framework, while considering constraints such as byte size and use of some modules outside of the context of Angular 2.

I'll update the table in the original comment,

[2015-08-18 23:44] vicb commented on #3709
you can use `[ng-style]='{'top': '50%', 'left': -r/zoom + 'px'}'`
_remember to to import the `NgStyle` style directive_

[2015-08-18 23:44] #3709 closed

[2015-08-18 23:47] matsko opened #3710 "Missing case for router redirects that link to reditects"
What we should do is throw an error early on in the router that complains if your route redirects to a component that also contains a redirect.

[2015-08-18 23:48] matsko commented on #3710
@btford please add more labels if something is missing.

[2015-08-19 00:00] jeffbcross commented on #3416
Closing since we decided to move this to "core" and not publish it.

[2015-08-19 00:00] #3416 closed

[2015-08-19 00:05] jeffbcross commented on #3651
@wardbell are you suggesting the ES5 version of examples would be based on the global `ng` object, without using any sort of module imports? Or would there be multiple versions of ES5 examples showing using ES5 with/without module systems?

[2015-08-19 00:16] tbosch commented on #3689
We have `ngProbe(element)` as global function. To activate, pass the following binding to bootstrap:
`bind(AppViewListener).toClass(DebugElementViewListener)`.

[2015-08-19 00:22] btford commented on #3699
What makes something an "alias" ?

The same in-lining needs to be done for `RouteDefinition` in the router.

I expect this to be non-trivial, but will do some investigatory work to see. Probably not going to happen this week though.

[2015-08-19 00:24] jeffbcross opened #3712 "chore(zone): add zone.js to bundles and npm distribution"
The reasoning is that we will distribute two types of bundles: an "angular2" bundle, and stripped down "sub bundles." The angular2 bundle that will include all "sub-bundles" like core, forms, http, router, web_workers, and there will be a version of the angular2 bundle that includes third-party dependencies like RxJS, reflect-metadata, polyfills, etc. The separate bundles, for more advanced users,

[2015-08-19 00:35] jeffbcross opened #3713 "chore: re-arrange sources to better reflect npm package and import paths"
See [this comment](https://github.com/angular/angular/issues/3458#issuecomment-132391409) for details.

Essentially, the folder structure should be updated to look like this:

[code]

TODO:

 - [ ] Move `docs` outside of `angular2`.
 - [ ] Break `test_lib` and `mocks` into separate bundle-specific test folders, `http_test`, `core_test`, `router_test`.
 - [x] Add `Breaking Change` notes to commits

[2015-08-19 00:39] jeffbcross commented on #3415
Bad news, fellas, it's going to stay in core for now. It's not really a thing we want to maintain and support for outside folks, and I doubt there will be _significant_ interest in building libs that target both JS and Dart. It will still be in the core and could pretty easily be consumed by installing the angular2 package and moving it into its own module though. If later on it becomes apparent t

[2015-08-19 00:39] #3415 closed

[2015-08-19 00:44] jeffbcross opened #3714 "chore: change bundle rules to generate one sfx module and several minimal modules"
As outlined in #3458, there should be bundles for angular2.js and all of its direct children. The angular2.js module will get special `sfx` versions that include all third-party dependencies, as well as all angular2 modules.

Blocked by #3713

Description copied from #3458:

These will be the bundles that are exported:

 * angular2.js (includes all other bundles)
 * core.js
 * core-no-render.js (c

[2015-08-19 01:34] #3491 closed

[2015-08-19 01:34] #3335 closed

[2015-08-19 03:42] mgreenland commented on #3627
Yes, that's basically what I have. Thanks for providing a demo!

[2015-08-19 03:58] wardbell commented on #3651
Great question. The simplest, one file example doesn't need a module system.

Could use advice on the ng2 modularity story for ES5 devs when things get more advanced. Now that there is no `angular.module` AFAIK.

Regardless, most devs will access Angular functionality from the `ng` root.

Are you thinking we should teach *systemjs* for ES5? That's intriguing!

[2015-08-19 06:04] pkozlowski-opensource commented on #3712
@jeffbcross this will definitively not hurt, but I wonder if it is necessary: if I recall we'e got already a npm dependency on zone.js so I wonder if this isn't enough?

[2015-08-19 06:47] PascalPrecht commented on #3651
I think at some point there has to be a chapter that explains how to use
any module loader with ng2. Because that's what most of the ppl struggle
with (me too)

On Wed, Aug 19, 2015, 5:58 AM Ward Bell <notifications@github.com> wrote:

[2015-08-19 06:50] skybrian opened #3716 "camelCase property names don't work right"
(This is in Dart using 2.0.0-alpha.34.)

I tried writing a property like this, but it didn't work, and no error was reported.
  properties: const ['compileResult']

After some experimentation, I found that the fix was to write the property name in lowercase:
  properties: const ['compileResult: compileresult']

The documentation seems to indicate that camelCase should work:

 @Directive({
   *   p

[2015-08-19 07:22] PascalPrecht commented on #3416
Is that the decision for now or will it be available "standalone" someday?

On Wed, Aug 19, 2015, 2:00 AM Jeff Cross <notifications@github.com> wrote:

[2015-08-19 07:37] pkozlowski-opensource commented on #3716
Right, HTML is not case sensitive nor case-preserving so if you want to access mixedCase properties from a template you need to use dash-case to camelCase convention that we've got special-cased in the compiler. In your case you could bind to your property using `[binding-property]="exp"`.

As for the error checking - we've got it on the JS side )so trying to bind to non-existing property will thr

[2015-08-19 07:37] #3716 closed

[2015-08-19 07:40] pkozlowski-opensource commented on #3651
any module loader with ng2

Wooohooo, this would be a separate book atm :-) More seriously: hopefully work on  https://github.com/whatwg/loader will progress and we are going to have solid polyffils, so this will be a solution we could recommend

[2015-08-19 08:27] mprobst commented on #3632
@mhevery I think we should avoid `/// <reference path=...>` syntax. It should be ok for the router to depend on Angular - after all it does. `/// <reference>` is odd syntax and doesn't fit with our use of ES6 modules.

Can't we make dgeni smarter to handle this situation - re-exporting an aliased type from a different package? Seems like something our doc generator should handle. This is probably

[2015-08-19 08:28] Zyzle commented on #3701
@vicb thanks for the reply. Ok that makes sense, I just couldn't find any reference to it in the documentation so it looked a little odd to myself and others (I raised this after a conversation on gitter yesterday). As for the short-circuit it's not a big deal for me, I can't actually think of a reason to rely on that behaviour, the issue was more that it went against the expectations.

[2015-08-19 08:30] mprobst commented on #3694
ts2dart relies on the symbols `Iterable`, `Symbol`, and `Map` being defined in a file called `angular2/traceur-runtime.d.ts`. It's easy to change that, and we could also support two different locations for a while to make the upgrade easier.

[2015-08-19 10:58] danielrasmuson commented on #3464
@pkozlowski-opensource I've started working on this but I have a few questions.

- Selectors that are not a string are invalid, correct?
- Selectors that are an empty string are invalid, correct?
- Should we validate the selector for special characters, '~!&*...'?
- Is not providing a selector valid? (See #1662)

[2015-08-19 13:29] alexeagle commented on #1975
fixed by https://github.com/angular/angular/pull/3630

[2015-08-19 13:29] #1975 closed

[2015-08-19 13:52] pkozlowski-opensource commented on #3464
@danielrasmuson empty, invalid or omitted selectors should throw. I would start simply and verify just those, we can add more checks (eg. special chars) later on.

[2015-08-19 15:58] gkalpak commented on #3713
It would be nice to be consistent with filename separators (e.g. `web-worker` vs `rtts_assert` (`-` vs `_`)).

[2015-08-19 16:11] vsavkin opened #3724 "Add support for observable directives and components"
Currently, when using the experimental `ON_PUSH_OBSERVE` change detection mode, we detect all the objects that are used in bindings and implement Observable (dart observable, not Rx observable) and subscribe to them. When any of these objects fires an event, we request a check.

To make our solution complete we also need to detect if the component itself or any of the directives used in the templa

[2015-08-19 16:12] alexeagle commented on #1636
We can fix this now that From https://github.com/DefinitelyTyped/tsd/issues/184#issuecomment-132449101 is available

[2015-08-19 16:18] yjbanov commented on #3724
+1

[2015-08-19 16:29] KapuzenSohn opened #3725 "[Guide] 'User Input' Final Code"
I just did the Guide and found in the third Guide 'User Input' in the Final Code example a small typo.

In line 18 ```directives: [NgFor, NIf]```
it has to be ```NgIf``` and not ```NIf```

[2015-08-19 16:43] mhevery commented on #3645
I think this should be implemented in the parser, and the error should read: `Got interpolation '{{}}' when expression was expected`. This can easily be done in Parser to see if the parsing text (expression) starts with `{{`

[2015-08-19 16:50] mhevery opened #3726 "Dart transformer ChangeDetectors do not have IDs"
When running WTF in Dart with transformers all ChangeDetector ids are null. The issue is [here](https://github.com/angular/angular/blob/d191ec4c333ffcbbc8c1a85dfd78d96bfffeffd1/modules/angular2/src/change_detection/abstract_change_detector.ts#L89) the `this.id` is null, it seems that `id`s are not generated in transformer mode. This makes it hard to do debugging.

[2015-08-19 16:51] mhevery commented on #3726
/cc @kegluneq This is blocking getting proper traces for GT/AWS.

[2015-08-19 16:56] mhevery commented on #3646
The compiler should check the `View.directives` and thrown an error if any of them are `null` or `undefined` It is important that the error message has name of the component and the surrounding directives, otherwise `Directive was null` is not a useful error.

Suggested error: `View annotation on 'MyComponent` points to non existent directive: [NgIf, undefined, MyDirective]`.

[2015-08-19 16:59] mhevery commented on #3651
I think all examples should be written with `ng.Foo` style. That way they will work both with `sfx` as well as with `import * as ng from 'angular2/core'`.

[2015-08-19 17:00] zzo commented on #1610
done.

[2015-08-19 17:14] mhevery opened #3727 "Event Retargeting Issue with onbubble events"

[2015-08-19 17:21] kegluneq commented on #3726
I'll take a look right away

[2015-08-19 17:36] #3489 closed

[2015-08-19 17:40] jeffbcross commented on #3415
The good news is, ts2dart keeps improving and the facade is getting smaller and less necessary.

[2015-08-19 17:42] mhevery commented on #3655
Can you show a full example including the Views? It may be that you have it twice in the View.

Also your example is not right, since `bindings`/`viewBindings` do (should) not effect `@Query`.

I am going to close this. Plesae provide a working repro case on http://plnkr.co/edit/ and open a new issue if it still not working.

[2015-08-19 17:42] #3655 closed

[2015-08-19 17:44] mhevery commented on #3657
I agree with @PascalPrecht this is an implementation detail, and will not be supported. I don'

[2015-08-19 17:44] #3657 closed

[2015-08-19 17:47] mhevery commented on #3662
We should throw on any attribute which is not valid. I think in this case this gets interpreted as event called `[ngModel]` so we should have some check which say that event names must be alphanumeric.

[2015-08-19 17:47] mhevery commented on #3662
cc: @pkozlowski-opensource

[2015-08-19 17:51] mhevery commented on #3352
Lack of reproducible steps, closing.

[2015-08-19 17:51] #3352 closed

[2015-08-19 17:51] pkozlowski-opensource commented on #3662
OK, makes sense. I will start introducing event checks as part of the schema support, we could have some basic event name checks for the start.

Will take care of this one (or can help out if anyone from the community is interested!)

[2015-08-19 17:52] mhevery commented on #3371
Closing as dup of https://github.com/angular/angular/issues/2600

[2015-08-19 17:52] #3371 closed

[2015-08-19 17:58] mhevery commented on #3559
Already fixed on master, closing.

[2015-08-19 17:58] #3559 closed

[2015-08-19 17:58] #3661 closed

[2015-08-19 17:59] mhevery commented on #3550
@naomiblack can you comment on https://github.com/angular/angular/issues/3550#issuecomment-129362284

[2015-08-19 18:09] vicb commented on #3725
Should be fixed in https://github.com/angular/angular.io/pull/161

_Doc issues should be reported to that other repo, thanks_

[2015-08-19 18:09] #3725 closed

[2015-08-19 18:12] vicb commented on #3727
duplicate of #1168 ?

[2015-08-19 18:15] pkozlowski-opensource commented on #3645
We should probably also check for interpolations inside an expression string to catch cases like `[foo]="before {{exp}} after"`

[2015-08-19 18:39] KapuzenSohn commented on #3725
Nice :+1:

Sorry, next time II will consider it

[2015-08-19 18:53] pkozlowski-opensource commented on #3646
:+1: I was bumping into nulls / undefined in directives list before.

[2015-08-19 19:19] jpsfs commented on #3655
Hi,

I was able to reproduce this also. Nothing to do with bindinds or view bindings though.

It happens if I show the component twice on the same page. The second time the component's onInit is called the # of elements of the Query doubles.

I had a component with nested components and I was querying for the children in the parent.

I'm on my phone right now, I will try to put an example soon.

I

[2015-08-19 19:24] vicb commented on #3725
No worries, it's easy to get lost with the multiple repos

[2015-08-19 19:45] ComputerWolf commented on #3082
@alexeagle, unfortunately it seems that the bundled files are still added to tsd.d.ts when I do a `tsd install` or reinstall to install my other needed typings. Is there a way to prevent this?

[2015-08-19 20:52] kegluneq commented on #3726
/cc @tbosch , @vsavkin

The change detector ids are coming from [`ChangeDetectorDefinition`](https://github.com/angular/angular/blob/master/modules/angular2/src/transform/template_compiler/change_detector_codegen.dart#L105), which comes from [ProtoViewFactory](https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/proto_view_factory.ts#L239).

Any idea why these might be

[2015-08-19 21:05] kegluneq commented on #3726
@mhevery can you (or someone else) post some repro steps? I haven't been able to get this to happen so far.

[2015-08-19 21:14] ggranum commented on #2589
@mhevery After using the md-input as a demo and subsequently ending up here, I am fairly certain that the current md-input only works because it ignores the `md-input-container` and uses `input`. Which of course means it works fine so long... as you want all of your input elements to be md-input elements. If you want a 'naked' input element and a wrapped input element within the same component you

[2015-08-19 21:48] nkwood commented on #3550
:+1: on @pkozlowski-opensource's comment as a user trying to get up to speed. Personally it took me an embarrassingly long time to realize the docs in the modules/angular2/docs tree were different (and appeared to be far more up to date) than those at https://angular.io.

[2015-08-19 22:10] marcalj opened #3732 "BUG: ```element``` on a directive with ngIf on root HTML element it's a comment"
[code]

The element on ```link``` function refers to the comment added by ngIf directive, not the ```<section>``` element.

I'm using v1.4.4.

[2015-08-19 22:17] thelgevold opened #3733 "Add http.d.ts to definitely typed"
In alpha.35 I noticed that http is no longer part of the Typings file. Is this an oversight, or a breaking change?
Is http moving out of the Angular2/Angular2 module?

I don't see the renamed constant HTTP_BINDINGS either

[2015-08-19 22:33] vicb commented on #3732
This repo is for angular2, please reopen at https://github.com/angular/angular.js, thanks.

[2015-08-19 22:33] #3732 closed

[2015-08-19 22:34] yjbanov opened #3735 "Warn about missing `bootstrap()` calls in entry points"
We only allow to omit them because some of our e2e tests (change detection for instance) do not bootstrap anything but rely on reflection remover. We should refactor all such e2e tests and add the warning.

[2015-08-19 22:48] mhevery commented on #3726
https://travis-ci.org/angular/angular/builds/76371907

[2015-08-19 22:53] TedSander commented on #3735
We have tests that use transformers (basically all of our unit tests,) but don't have bootstrap either. Would like to have this covered as well before we move the reflection remover.

[2015-08-19 22:56] ericmartinezr commented on #3733
Do `npm install angular2@angular2.0.0-alpha35`. This will install all de javascript files and typings.

You should import `Http` and `HTTP_BINDINGS` from 'http/http'.

https://code.angularjs.org/2.0.0-alpha.35/ <-- See that http was separated into its own file.

[2015-08-19 22:58] mhevery commented on #3376
1. WebSocket should work with Zone today, if not it is a bug with Zone and it should be filed there.
2. I am not sure if Angular should be in the business of writing things which are not-angular specific. I think such use cases are better served by separate third party projects. I would much rather focus on things which Angular needs to enable to work smoothly with existing code out there.
3. I wo

[2015-08-19 23:02] btford opened #3736 "chore(docs): remove jade-data.template.html"
`docs/angular.io-package/templates/jade-data.template.html` should not exist.

There's no reason to use a template for this. We should just call `JSON.stringify`.

[2015-08-19 23:03] thelgevold commented on #3733
Interesting. The http typings file does not seem to be added on DefinitelyTyped. I will look at the npm or bower bundles instead.

[2015-08-19 23:04] jelbourn opened #3737 "Sourcemaps don't work for the angular2 codebase"
When running `test.unit.js`, `serve.js.dev`, etc., source maps do not work.

Looking at the output code, it seems that sourceMappingURL is set twice. Not sure if this is related, but it's odd.
[code]

When I run the tests in Firefox, Karma reports a ton of 404s for the `.map` files (which doesn't happen in Chrome).

[2015-08-19 23:11] mhevery commented on #3505
I think you get both. If you put `<style>` in component than it is encapsulated, if you put it in head it is not.  I vote for keeping the current behavior.

Will close, please re-open if you have new use cases which should be considered.

[2015-08-19 23:11] #3505 closed

[2015-08-19 23:12] mhevery commented on #3513
@jeffbcross and @btford could we get a resolution, since we need to get all breaking changes in soon.

[2015-08-19 23:14] mhevery commented on #3519
Good point.

[2015-08-19 23:15] mhevery commented on #3548
dup of #3519 3517

[2015-08-19 23:15] #3548 closed

[2015-08-19 23:19] btford opened #3739 "chore(docs): remove unused templates"
Many (most) of the packages in `docs` have a `templates` folder with dgeni templates that are not used.

We should remove these files.

[2015-08-19 23:23] thelgevold commented on #3733
The http typings file from npm causes the following errors:
typings/angular2/http.d.ts(367,16): error TS1005: ';' expected.
typings/angular2/http.d.ts(374,16): error TS1005: ';' expected.

[2015-08-19 23:23] mhevery opened #31760 "Zone.js does not work with Zombie/jsdom"
I'm trying to get an Angular2 app running in Zombie, and seeing the following error (presumably from jsdom):

TypeError: Cannot redefine property: onclick
    at Function.defineProperty (native)
    at canPatchViaPropertyDescriptor (http://localhost:8080/app.js:35698:12)
    at Object.apply (http://localhost:8080/app.js:35677:9)
    at Object.apply (http://localhost:8080/app.js:35288:29)
    at ht

[2015-08-19 23:24] mhevery commented on #3584
This is how Zone works, and Angular2 uses Zone.

Closing in favor of: https://github.com/angular/zone.js/issues/156

[2015-08-19 23:24] #3584 closed

[2015-08-19 23:28] ericmartinezr commented on #3733
Yes, I saw that too. What I did, and I was suggested to do in gitter chat was too comment those lines
`
type-alias RequestOptionsArgs;
type-alias ResponseOptionsArgs;
`

[2015-08-19 23:44] ericmartinezr opened #3740 "Error on http.d.ts"
In the new typings files for http the following lines

- `type-alias RequestOptionsArgs;`
- `type-alias ResponseOptionsArgs;`

are throwing this error message

`typings/angular2/http.d.ts(367,16): error TS1005: ';' expected.`
`typings/angular2/http.d.ts(374,16): error TS1005: ';' expected.`

One solution is to comment/remove them.

The file is the one obtained doing

`npm install angular2@2.0.0-al

[2015-08-19 23:50] jteplitz602 opened #3741 "Remove LocationUrlInterface and use abstract class"
Once TypeScript 1.6 is released LocationURL should be an abstract class.

[2015-08-20 03:08] mhevery commented on #3593
@sigmundch Do you know who from polymer could look into this?

[2015-08-20 03:10] mhevery commented on #3602
Closing as the issue seems to be rosolved.

[2015-08-20 03:13] mhevery commented on #3622
Fixed by: https://github.com/angular/angular/commit/ddcfd465ad74731cbc03109f86299ed386ac72e0

[2015-08-20 03:13] #3622 closed

[2015-08-20 03:19] mhevery commented on #3631
Is this resolved?

[2015-08-20 03:40] mhevery commented on #3642
Is this still an issue for Angular or should this be closed?

[2015-08-20 03:42] mhevery commented on #3644
:+1: @vsavkin So what is the actionable thing here? Drop `withAnnotation` and replace it with?

[2015-08-20 03:47] mhevery commented on #3726
@kegluneq the build is failing with some unrelated error. Could you have a look as to why?

[2015-08-20 03:50] mhevery commented on #3701
So the short circuiting makes sense. But we actually don't run second time due to stability assertion. (That feature is currently broken). So it is a mystery to me why we have an extra CD cycle in there. @vicb do you want to investigate? When I run it in WTF, the second CD seems to be outside the zone. There is something weird going on there.

[2015-08-20 03:57] mhevery commented on #3701
@vicb it looks like some promise is getting resolved and we run CD at the end of it. Which means we should not be doing CD the first time (only at the end of resolved promise)

[2015-08-20 04:01] mhevery commented on #3737
known issue due to Traceur.

[2015-08-20 04:03] mhevery commented on #3739
Can you make a list of what is not used?

[2015-08-20 04:14] kegluneq commented on #3726
/cc @rkirov, @vicb

@mhevery , this is coming from package:di

[code]
Here is [InjectorGenerator](https://github.com/angular/di.dart/blob/master/lib/transformer/injector_generator.dart#L15)

That transformer tries to resolve, and the error is cropping up in analyzer. Here is the [getter I'm guessing we're trying to call](https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/lib/src/generated/r

[2015-08-20 07:45] danhalliday commented on #3584
Many thanks

[2015-08-20 08:01] cghislai commented on #3503
I made a plunker to demonstrate the issue. The problem arise when ng-model is bound through an object key (`[(ng-model)]="keyedValue[key]"` and the value is null `keyedValue.hasOwnProperty(key)==true; keyedValue[key] == null;`

http://plnkr.co/edit/Kl1cXKKZT1qpjKuvqKdX?p=preview

If you select english, then enter some text, the value is correctly updated in the model, but angular fails to update t

[2015-08-20 08:41] cghislai commented on #3503
After a bit more testing, accessing alues through object properties does not seem to be the issue.
 I updated the plunk to reflect that. ng-model is bound to a string field. Editing the text input then switching languages leads to unpredictable behaviour. If you don't edit the input, it works well.

[2015-08-20 09:59] pkozlowski-opensource commented on #3662
Hmm, digging into it a bit more it seems like HTML spec are putting very little restrictions on the possible event names.... If I understand correctly there is nothing that would prevent one from creating a custom event named `[foo]` and in this sense `([foo])="actionExp()"` should be valid...

Another way of looking into it is that with custom directive events one can only declare events that are

[2015-08-20 10:03] PascalPrecht commented on #3662
:+1: on creating custom restrictions specific to Angular. I think this shouldn't be a problem since prolly no one would come up defining event names that start with `[` or `(` anyways..

[2015-08-20 10:58] cghislai commented on #3740
I also ran into this issue. I modified it to `type RequestOptionsArgs = {};`.

It also complained about not finding the EventEmitter type. So I has to ass `type EventEmitter = {};` as well.

[2015-08-20 11:02] todoubaba commented on #3740
Add  ```///<reference path="./angular2.d.ts"/>```.
Replace ```EventEmitter``` with ```ng.EventEmitter````.

[2015-08-20 11:20] antonmoiseev opened #3745 "NgFor doesn't work inside <router-outlet>"
Can't make NgFor and other directives to work inside `<router-outlet>`. Here is the reproducible demo application - [ng2-router-issue](https://github.com/antonmoiseev/ng2-router-issue). To start with the app run `npm install && npm start`.

The app has 3 components - AppRootCmp, HomeCmp and HelpCmp. AppRootCmp configures the routes and hosts RouterOutlet. HomeCmp and HelpCmp are loaded by the rout

[2015-08-20 13:46] ericmartinezr commented on #3740
Thanks guys, but I created this issue since I don't think is our job to fix it. I have a solution, and it's working, but we can end up breaking the file and its functionality. That's why I reported it as an issue. I'll follow @cghislai solution since it just changed those variables type and didn't not remove them.

[2015-08-20 14:31] marco-gagliardi opened #3749 "mistake in online step by step guide"
I apology if this is not a proper issue or if if it's not the right place to report it.
The Final Code provided by step by step guide (page: https://angular.io/docs/js/latest/guide/user-input.html)  raises two errors due to:

- Line 10: `*ngfor` interator syntax (should be `*ng-for` I guess)
- Line 18: `NIf` directive inclusion (should be `NgIf` I guess)

[2015-08-20 15:08] TiagoBraga39 opened #3751 "Nested Router"
Hi all!

I have been fooling around with routers, and it seems to me that a nested router can only navigate to a inner Route, through the parent router.
A simple example with alpha 35:

---

<b>Outer Router:</b>
[code]

<b>Inner Router:</b>
[code]

---

<b>Issue 1:</b>
If I currently am at the inner router, why can't I navigate within it (to a path located at the inner router) by using: "navigate(

[2015-08-20 15:21] hitmanmcc commented on #3642
@mhevery As I'm told that the HTML spec does not support nested forms, I see no reason why Angular would have to offer that support. In light of that circumstance, I believe that there isn't anything else for you guys to do, regarding this subject matter.

[2015-08-20 15:21] #3642 closed

[2015-08-20 15:43] cghislai opened #3753 "Error in router.d.ts"
I'm a bit puzzled about this one. I think it appeared on alpha 34. I didn't upgrade by then.
Now I updated to angular alpha35, "systemjs-builder": "^0.13","systemjs": "^0.18.10".

With a simple route config  like
[code]
I got a compilation error:
[code]

The only work around I found was to provide my own router.d.ts file with the following fix:
[code]

The LoginView  view has nothing special

[2015-08-20 15:47] frodefi commented on #3065
#1707 was closed a while ago. Eagerly waiting for news on this...

[2015-08-20 15:47] PascalPrecht commented on #3749
I think this has been fixed here: https://github.com/angular/angular.io/pull/183

Might be that this is not deployed yet.

/cc @vicb @naomiblack

[2015-08-20 15:49] PascalPrecht commented on #3065
@btford is working hard on this. You can track the current state here: https://github.com/angular/angular/pull/3698

[2015-08-20 15:53] cghislai opened #3754 "Alpha35: Empty event expression produce cryptic error"
Related: #3664 (should be fixed together)

I have a template with the following element:
[code]
On alpha 33 it worked great.
On alpha35 it produces the following runtime error:
[code]

The following modification still produces the error:
[code]

This one works
[code]

[2015-08-20 16:00] pkozlowski-opensource commented on #3754
@cghislai apart from the regression (?) that you are seeing here- what would be the case for having an empty event handler? I mean - if you don't take any action on a given event, why adding `(fileread)` at all?

I would say that in this case we should simply throw a good error, but maybe you've got a valid use-case?

[2015-08-20 16:04] vicb commented on #3749
@marco-gagliardi Thanks for your report.

Docs error should be reported at https://github.com/angular/angular.io. There is a pending PR for the issues you mentioned: https://github.com/angular/angular.io/pull/192

[2015-08-20 16:04] #3749 closed

[2015-08-20 16:04] cghislai commented on #3754
It was an hack.
I had a filereader that read the file then stored the dataURI in a field. I had an img component with the src attributed bound to that dataURI field. The issue was that the img was not reloaded once the file was read. Triggering that event triggered change detection and the image was updated.

I now moved that job in a Promise, and update the dataURI field in the then clause, and i

[2015-08-20 16:06] tbosch commented on #3411
Should be done in a way that it still works with older chrome versions.

[2015-08-20 16:08] pkozlowski-opensource commented on #3754
OK, so from what I understand it was simply a way of hacky way of kicking-off change detection, right?

If so, let's solve this issue by introducing better checks / error messages for missing event handlers. How does it sound?

[2015-08-20 16:13] cghislai opened #3755 "Alpha 35: Acessing RouteParam when no route parameter are provided produce exception"
I have routes defined as
[code]
In EditProductView, I inject RouteParams in the constructor
[code]

This worked fine in alpha33.
In alpha35, this works fine as long as a route parameter is provided. If none are provided (for exmple, following a router-link to /itemsEditNew), then an exception is thrown:
[code]

[2015-08-20 16:14] vicb commented on #3726
The failure was related to #3698 which has been reverted from master for now.

[2015-08-20 16:16] cghislai commented on #3754
Sounds good. That was the main point of this issue.

[2015-08-20 16:17] vicb commented on #3701
I'll investigate

[2015-08-20 16:40] sigmundch commented on #3593
@justinfagnani - can you take a look or can forward to the right person?

[2015-08-20 16:56] justinfagnani commented on #3593
Sure

[2015-08-20 17:20] mhevery commented on #3751
/cc @btford

[2015-08-20 17:22] mhevery commented on #1989
@tbosch What is the status of this? can this be closed?

[2015-08-20 17:28] vicb opened #3757 "Dart build is failing"
See https://travis-ci.org/angular/angular/jobs/76361788#L1052

[code]

This build is the first build where the issue has re-appeared ([previous build](https://travis-ci.org/angular/angular/builds/76352379) is fine)

This issue had already been seen with 1.12-DEV at the e/o june, see #2798

Apparently both the green & red builds use the same Dart version (1.11.3 - print at l 140 on Travis logs).

@

[2015-08-20 17:28] mhevery commented on #3364
@tbosch  Will this still be a problem with the new compiler prototype?

[2015-08-20 17:30] btford commented on #3751
1. Right now, `navigate` only accepts the entire URL. I've been meaning to rename `navigate` to `navigateUrl`, and introduce a new method, `navigate` that uses the same syntax as the `RouterLink` directive, but haven't gotten around to it yet. For now, you can do `router.navigateInstruction(router.generate(['./foo']))`.

2/3. These need some investigation. Thanks for the bug report!

[2015-08-20 17:37] mhevery commented on #3130
@matanlurey This has not been update for 2 weeks. Is this still a P1? Sounds like no. If I don't hear in next few days, will close as can't reproduce.

[2015-08-20 17:43] sigmundch commented on #3757
cc @kegluneq

I honestly don't know. I don't think it is necessarily an sdk issue, it could also be an issue introduced in the analyzer package or a flaky behavior, for example a race condition in the order in which some files are processed.

The stacktrace seems to come from the resolver part of the analyzer package:
[code]

IIRC correctly the angular2 transformer doesn't use this. Is this issue

[2015-08-20 17:47] vicb commented on #3757
@sigmundch you are right "benchmarks_external" contains Angular1 apps.

[2015-08-20 17:56] mhevery commented on #2902
Closed by: 839edaa15b77a0b1e448f7a88c78f109a6b831fe

[2015-08-20 17:56] #2902 closed

[2015-08-20 18:14] mhevery commented on #3333
Would this polyfill help? https://github.com/andyearnshaw/Intl.js (probably not)

It sounds to me as if we should drop this API and instead implement some of these ourselves. This would require a design doc as to what we will and will not support.

[2015-08-20 18:21] mhevery commented on #3713
Rename `web-worker` to `web_worker`
I think we should also make `angular2/directives` and `angular2/pipes` because they could technically be outside of the core.

[2015-08-20 18:24] mhevery commented on #3524
Closing, Please reopen if you think we still have missing renames.

[2015-08-20 18:24] #3524 closed

[2015-08-20 18:29] mhevery commented on #3130
Will close as can not reproduce, Please re-open if you can show a repro case.

[2015-08-20 18:29] #3130 closed

[2015-08-20 18:29] mhevery commented on #3029
@matanlurey any update on your PR?

[2015-08-20 18:31] mhevery commented on #2866
This has not been updated for 21 days. Does not seem like a P1. Is this still an issue? If not can we close.

[2015-08-20 18:33] mhevery commented on #2681
I am going to close this as there is a work around, and it seems like no one is working on it. Reopen if you feel otherwis.

[2015-08-20 18:36] mhevery commented on #2287
@naomiblack looks like `dgeni` is resilient. I am going to close. Please provide a specific use case if you reopen.

[2015-08-20 18:36] #2287 closed

[2015-08-20 18:38] mhevery commented on #1594
@alxhub Do you have an update? or a design proposal you mentioned?

[2015-08-20 18:59] tbosch commented on #1989
`TemplateRef` is in master and is also queriable. However, I didn't have the time to change `NgFor` to support custom templates, nor implement `ngOutlet`. I have a local wip branch for this...
Won't continue on this for the next 3 weeks or so as I will focus on the compiler improvements, and GT is happy so far...

[2015-08-20 19:31] splintercode commented on #3755
Here is another exception with the same use case.
[code]

[2015-08-20 19:58] btford commented on #3513
I'm not familiar with `URLSearchParams`. Is this for HTTP? If this is for serializing data to send to some end-point, then I think it's a totally distinct issue from how routing interacts with the URL.

[2015-08-20 20:32] btford commented on #3757
@yjbanov and I looked a bit. @yjbanov suspects the issue is in some pub dependency, most likely code_transformers or analyzer.

[2015-08-20 20:34] TiagoBraga39 commented on #3751
Thank you for all the effort you guys have put to the development of the best framework ever!
Keep it up! +1

[2015-08-20 20:49] sigmundch commented on #3757
I recall a recent change in code_transformers that had a bad lower bound on analyzer, I believe that a new version has already been released (@jakemac can confirm)

[2015-08-20 21:18] robwormald commented on #3513
it seems like the preferred nomenclature is `query` over `search`, so `QueryParams`? URLParams make me think of `foo/:bar` and Search isn't really a thing.

[2015-08-20 21:48] #3726 closed

[2015-08-20 21:49] #3637 closed

[2015-08-20 21:51] rixrix commented on #3733
+1 same error here, tried referencing from the `bundles` typings folder

[2015-08-20 22:06] PascalPrecht commented on #3464
Doesn't that conflict with: https://github.com/angular/angular/issues/1662 ?

[2015-08-20 22:12] mhevery commented on #3741
`LocationURL` class does not exist in Angular2 Could you provide a more concrete description of the type?

[2015-08-20 22:19] mhevery commented on #3632
@mprobst Type is exported from `angular2.d.ts`. Router depends on `angualr2.d.ts` and it uses its `Type`. How do you propose we solve this situation?

This is not a `dgeni` issue. What is a canonical way for `two.d.ts` to use types from `one.d.ts`?

[2015-08-20 22:27] tbosch commented on #3593
@mhevery Sorry, but we already know what the problem is here:

1. When Angular creates a new `DomView`, it clones an existing template.
2. The web component wakes up and removes it's light dom children
3. Angular does a `querySelectorAll` to find the bound elements in the template. However, the template has changed now, so our elementbinders do no more match the queries elements

This will be fixe

[2015-08-20 22:32] tbosch commented on #3364
No, I don't think so. https://github.com/angular/angular/issues/3605

[2015-08-20 22:32] mhevery commented on #3699
interface

[code]

alias:
[code]

[2015-08-20 22:49] mhevery commented on #3626
Resolved: ea6673947cd631dd823975321cd2e6ab9abaf504

[2015-08-20 22:49] #3626 closed

[2015-08-20 22:56] mhevery commented on #3442
This may be intentional. Could we have a plunker which demonstrates it? How do you determine that something is reinserted?

[2015-08-20 23:00] mhevery commented on #3493
Could you provide more description? What is an ImageDemo, and why is it part of Angular?

[2015-08-20 23:01] mhevery commented on #3499
Duplicate of #3175

[2015-08-20 23:01] #3499 closed

[2015-08-20 23:03] jelbourn commented on #1610
@sjelin After trying this out today, I found that it's not the most idea solution for the angular2 codebase, at least. Similar to angular 1, angular2 uses a mock XHR implementation when running unit tests, so there aren't any real HTTP requests made for karma to handle.

It's seeming more and more that we should have a tool that inlines template contents into the component's JS as some build step

[2015-08-20 23:06] jeffbcross commented on #3513
@btford yeah, it's just for Http and is used for serializing parameters. I originally created it as a polyfill for the [`URLSearchParams`](https://url.spec.whatwg.org/#urlsearchparams) constructor that accompanied the [fetch spec](https://fetch.spec.whatwg.org). @caitp had discussed adding/changing some of its merging semantics, and decided that we should probably change its name so as to not be c

[2015-08-20 23:17] jeffbcross commented on #3513
Regarding how to handle merging behavior, I'm going to give it some more thought, but I would like to have specialized merging functions not be part of the `QueryParams` prototype to better embrace immutability. I'll open an issue or two on Monday to implement params merging, as well as necessary changes to `RequestOptions` merging.

[2015-08-20 23:30] mhevery commented on #3520
Dup of #3714

[2015-08-20 23:30] #3520 closed

[2015-08-20 23:34] mhevery commented on #3568
needs better description

[2015-08-20 23:36] mhevery commented on #3519
Duplicate of #3571

[2015-08-20 23:36] #3519 closed

[2015-08-20 23:39] mhevery commented on #3297
Ping @vsavkin

[2015-08-20 23:41] mhevery commented on #3319
I am confused, Are you suggesting that for `Query` to work it needs to wait for global CD to finish? That does not seem right. Can we chat about this?

[2015-08-20 23:47] mhevery commented on #3364
Ok, let's close it with #3605

[2015-08-20 23:49] ericmartinezr opened #3762 "Cryptic error when templateUrl is empty"
When trying to set up a plnkr for a skeleton with alpha35 I found out this. I searched before but I didn't find anything.

When leaving `templateUrl` empty throws this error

[code]

Here's a [plnkr](http://plnkr.co/edit/vRymOcLL5BiUdAtQhD5t?p=preview).

I found a similar issue, but it's about setting a non-url.

A useful message could be : `templateUrl must not be empty`. That simple, I think.

[2015-08-20 23:49] rkirov commented on #3319
The name is unfortunate, I am not proposing anything global.

Imagine the following tree of injectors/nodes.
[code]

`onChange` is called when after we dirty-check the bindings on injQ.
`onAllChangesDone` is called after we dirty-check inj1 and inj2 (but before we dirty check inj3 and inj4).
We need a callback local to injQ to be called after we dirty-check all bindings in inj1, inj2 and the whole

[2015-08-20 23:50] mhevery commented on #3396
@typotter yes

[2015-08-20 23:53] mhevery commented on #3402
@tbosch Sounds like this is working as intended. Can this be closed?

[2015-08-20 23:59] mhevery commented on #3406
This should be handled by processing events on `@Component.host` before processing events on elements `(event)`.

[2015-08-21 00:10] skybrian commented on #3442
I don't know what a plunker is. I profiled the test code (above) in Chrome Dev Tools and found that most of the time spent was in functions in NgFor. Internal discussion:
https://groups.google.com/a/google.com/forum/#!topic/dart-angular/_YYS6liombQ

A good heuristic is to find common prefixes and suffixes starting from both the beginning and ends of the lists, and then run a more sophisticated alg

[2015-08-21 00:12] mhevery commented on #3423
Duplicate of #3714

[2015-08-21 00:12] #3423 closed

[2015-08-21 00:19] mhevery commented on #3425
@pkozlowski-opensource what is stoping up from implementing this? I thought we had something already work.ng

[2015-08-21 00:39] yjbanov commented on #3442
Longest increasing subsequence (LIS) would be able to identify minimal moves in N*log(N). It's not too hard to implement, but we also need to find the shortest list length past which LIS is faster than a simpler approach. Certainly for lists of 0-2 we should just use ad hoc functions instead of generic list differ.

@mhevery why do you need plunker? @skybrian provided a repro sample in a github gi

[2015-08-21 00:42] vicb commented on #3442
The current algorithm outputs added, removed & moved elements (not sure about how it would handle common suffix vs common prefix).

It's probably more how the directive deals with changes that is to blame here ?
1 - remove the view for removed & moved nodes (removes DOM nodes),
2 - add views for inserted nodes.

At this point we have the final number of views but their context might be wrong.

3 -

[2015-08-21 00:55] yjbanov commented on #3757
I think the version constraints on `code_transformers` and `analyzer` in https://github.com/angular/angular.dart/blob/master/pubspec.yaml are somehow busted with the latest release of `code_transformers`. @jakemac53 or @sigmundch, do you know what the version constraints should be?

[2015-08-21 01:02] jakemac53 commented on #3757
0.2.9+1 of code_transformers was a bad version (it should have had a lower
bound of 0.26.0 for analyzer). The new version(s) should fix it.

On Thu, Aug 20, 2015, 5:55 PM Yegor <notifications@github.com> wrote:

[2015-08-21 01:11] vsavkin commented on #3535
@mprobst sure, I can do it.

[2015-08-21 01:17] yjbanov commented on #3757
@jakemac53 does this mean that _no_ change in https://github.com/angular/angular.dart/blob/master/pubspec.yaml is necessary?

[2015-08-21 01:28] jakemac53 commented on #3757
Yes, that should be the case.

On Thu, Aug 20, 2015, 6:18 PM Yegor <notifications@github.com> wrote:

[2015-08-21 01:56] jteplitz602 commented on #3741
Sorry, LocationURL will exist inside of router once @matsko finishes a refactor he's working on for #3563

[2015-08-21 01:58] jteplitz602 commented on #3493
ImageDemo is an examples inside of our examples/web-workers directory that shows how to build a proper WebWorker application as well as the performance benefits that you can gain from using WebWorkers.

Currently it's not fully functional in dartium because we can't load the FileReader API inside of an isolate.

[2015-08-21 02:30] mhevery commented on #3034
Let's not implement this just yet, as it may have negative perf improvement. Let's make sure that we have real use cases, which can not be implemented in other ways.

[2015-08-21 02:34] mhevery commented on #3060
Looks resolved, closing.

[2015-08-21 02:34] #3060 closed

[2015-08-21 02:38] mhevery commented on #3120
Why don't we just call the `g3docs` to begin with?

[2015-08-21 02:42] mhevery commented on #3188
Closing, since we are reworking the docs, and the startup sequence will change. Your errors stem from not including the `d.ts` file, which should have gotten from `tsd` step.

[2015-08-21 02:42] #3188 closed

[2015-08-21 02:45] mhevery commented on #3222
Is this still an issue? Or can this be closed?

[2015-08-21 02:45] mhevery commented on #3319
I see, makes sense.

[2015-08-21 02:46] mhevery commented on #3319
clearing assignee since no milestone.

[2015-08-21 02:47] mhevery commented on #2646
@TedSander Is there an update on this?

[2015-08-21 02:48] mhevery commented on #2653
I believe we have refactored the code so that this Issue is satisfied. closing.

[2015-08-21 02:48] #2653 closed

[2015-08-21 02:49] mhevery commented on #2672
Looks like this has been resolved, closing.

[2015-08-21 02:49] #2672 closed

[2015-08-21 02:50] mhevery commented on #2682
Is this still an issue, or can this be closed?

[2015-08-21 02:50] mhevery commented on #2688
Obsolete

[2015-08-21 02:50] #2688 closed

[2015-08-21 02:51] mhevery commented on #2707
Is this still an issue?

[2015-08-21 02:54] mhevery commented on #2722
@vicb what is the update on this? Still a valid issue?

[2015-08-21 02:54] mhevery commented on #2726
Obsolete, it should work now.

[2015-08-21 02:54] #2726 closed

[2015-08-21 02:56] mhevery commented on #2790
Closing as stale.

[2015-08-21 02:56] #2790 closed

[2015-08-21 02:57] mhevery commented on #2796
Is this still relevant?

[2015-08-21 02:58] mhevery commented on #2813
Stale, as this feature has been removed.

[2015-08-21 02:58] #2813 closed

[2015-08-21 03:00] mhevery commented on #2842
Is this still an issue?

[2015-08-21 03:02] mhevery commented on #2912
I thought this was resolved. Can you verify?

[2015-08-21 03:06] mhevery commented on #2214
DUP of https://github.com/angular/angular/issues/3623

[2015-08-21 03:06] #2214 closed

[2015-08-21 03:07] mhevery commented on #2312
Should be covered by #1594

[2015-08-21 03:08] mhevery commented on #2373
No longer the case. Closing.

[2015-08-21 03:08] #2373 closed

[2015-08-21 03:09] mhevery commented on #2390
@vsavkin has reworked the error reporting quite a bit to make it a lot more useful. Closing as this issue is now stale.

[2015-08-21 03:09] #2390 closed

[2015-08-21 03:10] mhevery commented on #2392
@vsavkin reworked the error massages. This is now stale, closing.

[2015-08-21 03:10] #2392 closed

[2015-08-21 03:11] mhevery commented on #2408
@vicb is this still relevant? I think it is stale. Please reopen if you think otherwise.

[2015-08-21 03:11] #2408 closed

[2015-08-21 03:11] mhevery commented on #2413
@vicb is this still the case or should we close this issue?

[2015-08-21 03:15] mhevery commented on #2440
Blocked on https://github.com/Microsoft/TypeScript/issues/12 Probably won't fix any time soon. dropping priority.

[2015-08-21 03:17] mhevery commented on #2492
Is this still an issue with the latest change to the way we do encapsulation?

[2015-08-21 03:23] yjbanov commented on #2796
Yes, but probably merely nice to have i.e. P4.

[2015-08-21 03:23] mhevery commented on #2589
@jelbourn Can you comment on https://github.com/angular/angular/issues/2589#issuecomment-132786899 ?

[2015-08-21 03:25] mhevery commented on #2603
@rkirov is this still an issue or can this be closed?

[2015-08-21 03:27] mhevery commented on #2645
@vicb can you comment on this?

[2015-08-21 03:29] mhevery commented on #1563
We have dropped this feature. Obsolete issue.

[2015-08-21 03:29] #1563 closed

[2015-08-21 03:31] mhevery commented on #1607
Obsolete, closing.

[2015-08-21 03:31] #1607 closed

[2015-08-21 03:33] mhevery commented on #1737
Sounds like this issue can be closed. Re-open if you feel otherwise.

[2015-08-21 03:33] #1737 closed

[2015-08-21 03:35] mhevery commented on #1745
Dup of https://github.com/angular/angular/issues/2830 closing

[2015-08-21 03:35] #1745 closed

[2015-08-21 03:36] mhevery commented on #1765
I think this is obsolete. Closing. Re-open if you feel otherwise.

[2015-08-21 03:36] #1765 closed

[2015-08-21 03:37] mhevery commented on #1792
Can someone verify that this is still an issue.
/cc @rkirov

[2015-08-21 03:38] mhevery commented on #1814
Status update?

[2015-08-21 03:38] #1822 closed

[2015-08-21 03:39] mhevery commented on #1858
Known issue. @vsavkin can you comment?

[2015-08-21 03:41] mhevery commented on #2049
obsolete

[2015-08-21 03:41] #2049 closed

[2015-08-21 03:44] mhevery commented on #2078
The issue is that you cant tell the difference between a class with `foo` method or class with `foo` property which is a function. In ng1 we had some horrible hack for this, something like reading the property twice and checking for identity, if different we assumed method if same we assumed property.

@vsavkin could you add your thoughts?

[2015-08-21 03:45] mhevery commented on #2100
@btford update?

[2015-08-21 03:45] mhevery commented on #2114
Stale.

[2015-08-21 03:45] #2114 closed

[2015-08-21 03:46] mhevery commented on #2141
Reopen if this is still an issue.

[2015-08-21 03:46] #2141 closed

[2015-08-21 03:47] mhevery commented on #2192
dup of #1858 closing

[2015-08-21 03:47] #2192 closed

[2015-08-21 03:50] mhevery commented on #1013
@IgorMinar is this still relevant or can this be closed?

[2015-08-21 03:51] mhevery commented on #1232
I believe this is obsolete. Closing, reopen if you feel otherwise.

[2015-08-21 03:51] #1232 closed

[2015-08-21 03:52] mhevery commented on #1233
I believe this is obsolete. Closing, reopen if you feel otherwise.

[2015-08-21 03:52] #1233 closed

[2015-08-21 03:53] mhevery commented on #1316
I believe this is obsolete. Closing, reopen if you feel otherwise.

[2015-08-21 03:53] #1316 closed

[2015-08-21 03:56] mhevery commented on #1377
related: https://github.com/angular/angular/issues/3442

[2015-08-21 04:01] mhevery commented on #1499
@tbosch is this still an issue with the latest code base (`<ng-content>`?)

[2015-08-21 04:03] DanWahlin commented on #3588
I'm in the process of updating a demo to alpha 35 that uses http. Although I do see http in the bundles it's not in the root npm scripts as mentioned. Should I hold off or is it possible to use http now (I'm using jspm by the way for the demo). Thanks!

[2015-08-21 04:13] jeffbcross commented on #3713
K.

I made some progress on the transition on [this branch](https://github.com/jeffbcross/angular/tree/reorg) but have an issue with parse5Adapter not correctly setting DOM in time for application_spec. I'll have to revisit next week.

I also started on removing `src` and `test`, but will take care of that after moving everything around.

[2015-08-21 04:20] tbosch commented on #1316
Yes, this is done
On Thu, Aug 20, 2015 at 8:53 PM Miško Hevery <notifications@github.com>
wrote:

[2015-08-21 04:22] mhevery commented on #3593
@tbosch thanks. @justinfagnani / @sigmundch  looks like noop for you. Thanks.

[2015-08-21 04:27] mhevery commented on #3741
@matsko  Please don't name things as `LocationUrlInterface` or `ILocationUrl`, it does not follow our naming conventions.

[2015-08-21 05:04] #3618 closed

[2015-08-21 05:10] #3511 closed

[2015-08-21 05:12] jeffbcross commented on #3588
@danwahlin if you can use the bundle, it should work alongside the angular2 bundle. I'm working on getting everything in order for alpha 36 release.

[2015-08-21 07:17] gdi2290 commented on #2492
the current solution, for server rendering and encapsulation emulated, is combining all the styles using `SharedStylesHost.getAllStyles()` into a serialized stylesheet next to the serialized app.
[code]
The problem now is that the client is not aware of the host's location generated from the server so it the client injects the styles in the `<head>`. With encapsulation none we have no control and

[2015-08-21 08:20] danicomas opened #3765 "[src] attribute the first time it calls to an undefined endpoint"
GET http://localhost:8080/undefined 404 (Not Found)

[code]

[code]

[2015-08-21 08:22] PascalPrecht commented on #3765
Sounds like your expression really evaluates to `undefined` because it is undefined. Can you give some more information on what exactly you're doing?

[2015-08-21 08:22] danicomas commented on #3765
@PascalPrecht I have updated the first comment :D

[2015-08-21 08:24] rolandjitsu commented on #3222
I think it can be closed, I'll check if the issue still occurs and I'll open it if so.

Sent from my iPhone

[2015-08-21 08:26] #3222 closed

[2015-08-21 08:31] danicomas commented on #3765
@PascalPrecht I have tried [href] attribute and it doesn't happen.

[code]

[2015-08-21 08:44] pkozlowski-opensource commented on #3765
So, I've just tested how this behaves in Chrome without Angular. Executing this code in the console:

[code]

So, looking at the above it seems like browsers (or at least Chrome) will do "to string" conversion for `null` \ `undefined`. Now, I find this behavior debatable, maybe it makes sense to file an issue for this?

In any case the work-around is simple: initialize data with an empty string (`

[2015-08-21 08:54] danicomas commented on #3765
In angular1 we had ng-src directive that it controlled the empty strings for this reason we had this problem now we have directly a html attribute (we could make an img directive or ng-src too). However, for me these workarounds are ok. Thanks @pkozlowski-opensource

[2015-08-21 08:58] TedSander commented on #2646
Sorry yes marking this as closed.

[2015-08-21 08:58] #2646 closed

[2015-08-21 09:00] PascalPrecht commented on #3765
We don't want to have something like ng-src anymore because we're binding
to properties in A2 which should also ensure escaping.

Pawel, I would actually also expect this to end up as an empty string.
Predefining an object with dedicated properties doesn't sound like the
right solution to me. Using pipes is kinda okay, but still I'd expect this
to just work without me doing anything additional tha

[2015-08-21 09:06] pkozlowski-opensource commented on #3765
@PascalPrecht currently we don't have any mechanism in the framework to have special setters that could have "escape" logic. Adding this would allow us to have special casing but it is not ideal as it introduces new concepts, code etc.

Honestly I must say that I find Chrome's behavior surprising here - I would expect it to interpret null / undefined as an empty string.

It would be great if someo

[2015-08-21 09:14] PascalPrecht commented on #3765
Oh, with the escaping I actually meant that the value of the expression is going to be assigned once evaluated, but not before.w

[2015-08-21 09:18] pkozlowski-opensource commented on #3765
@PascalPrecht not sure I got what you are trying to say in your last comment... The situation here is that the expression evaluates to undefined and we are setting this as a property of the img element. But the prop setter on the img element seems to be converting this value to string. You can observe the same without angular being involved at all.

[2015-08-21 09:21] PascalPrecht commented on #3765
Yea gotcha. My point was just that in A1 we have ng-src which basically "escapes" by evaluating an interpolation, and once done, assigning it to it's `src` attribute. That's why we don't have broken requests.

A2 binds to properties as you know, and yes there's no real "escaping" but also, the evaluated value gets only assigned to the property, once evaluated. So we also don't get broken requests

[2015-08-21 09:23] SebastianM commented on #3765
@pkozlowski-opensource The spec says it has to be a string:

When the user agent is to update the image data of an img element, it must run the following steps:
...

http://www.w3.org/TR/2012/WD-html5-20121025/the-img-element.html#attr-img-src

[2015-08-21 09:25] pkozlowski-opensource commented on #3765
@SebastianM this is sepc for the src _attribute_, not property, right?

[2015-08-21 09:28] PascalPrecht commented on #3765
Yes this is the spec for `src` attribute.

[2015-08-21 09:43] PascalPrecht commented on #3396
@vsavkin could you quickly summarize why this is the better to deal with that? Performance?

[2015-08-21 09:53] SebastianM commented on #3765
@pkozlowski-opensource yes. I found nothing that describes the behavior of the property explicitly (but the description fits to your code example: it's not an empty string so the browser starts fetching the src).

As you said:

I also think that the current browser behavior is useless and someone should file a bug to discuss this.

[2015-08-21 10:17] danicomas commented on #3765
I have tried your code @pkozlowski-opensource with the following browsers:
- chrome 44.X: undefined request
- firefox 38.X: undefined request
- microsoft edge: undefined request
- opera classic 12.X: undefined request

Good way would be apply this in consideration for the browser but by now we should looking for a solution inside the framework in this case angular2 as angular1 is doing. What do yo

[2015-08-21 11:04] GoossensMichael commented on #3642
Well actually it would be better that angular 2 is a bit more defensive in its code. At least an exception should be thrown when the amount of bindings is not the same as the boundElements. This causes confusion for developers and is quite hard to find the cause, in this case it was innerHTML that fixed faulty HTML, causing angular to go further with wrong assumptions and eventually having a nullp

[2015-08-21 12:59] danicomas opened #3767 "Error adding class validating forms"
[code]

When the page is loaded I receive this error:
EXCEPTION: TypeError: Cannot read property 'valid' of undefined in [f.controls.name.valid in null]

The error is about: [class.has-success]="f.controls.name.valid"

[2015-08-21 13:06] gdi2290 commented on #3765
I mentioned this subtlety in this issue https://github.com/angular/angular/issues/3007 (for me it was making `/null` requests)
the current workaround is `|| ''` so
[code]
or default the initial `avatar_url` value to empty string (probably a good idea anyways).

I would say if interpolation gets to have a default case of empty string then `[src]` should as well.
Here's my code
[code]

[2015-08-21 14:05] jpsfs commented on #3765
My 2cents on this matter:

I understand the browser's behavior. I actually can have a "null" or "undefined" resource to get and the browser should not be too picky about it. Now, the null or undefined value being translated to _"null"_ or _"undefined"_, that is another issue.

On the very beginning of angular 2, correct me if I'm wrong, the interpolation translated _null_ and _undefined_ to _""_ (

[2015-08-21 14:10] pkozlowski-opensource commented on #3765
@jpsfs @gdi2290 I've got the impression that we are mixing 2 separate problems and I don't think we should have the same behavior for interpolation and property binding! Let me explain, assuming that `exp` evaluates to null:
* `<div>{{exp}}</div>` - this should evaluate to empty string (so `<div></div>`)
* `<my-component my-property="exp"></my-component>` should bind `null` to `my-property`, not a

[2015-08-21 14:13] pkozlowski-opensource commented on #2682
Yep, unfortunatelly this is still a pb and quite a pesky one, since it really slows down developer flow when doing TDD on async tests....

[2015-08-21 14:19] pkozlowski-opensource commented on #3425
@mhevery nothing particular stops us, apart that it needs work. Here are the items to take care of:
* [ ] - need to have a way of knowing which attributes were "consumed" by a directive (selector + "static" property bindings)
* [ ] - need to have a way of knowing what are legitimate attributes on both regular HTML elements (we can hand-code this in schema from HTML specs) and web components (this

[2015-08-21 14:28] pkozlowski-opensource commented on #3464
@PascalPrecht @danielrasmuson  yeh, thinking about it some more, I think that throwing in `ViewMetadata` is probably too early. We should only throw only when a selector of a given directive is being used.

The other case I can think of where an empty selector in `ViewMetada` might make sense is when we would like to have some conventions (ex. selector derived from a class name)

[2015-08-21 15:00] justindujardin commented on #2912
My fix for patching requestAnimationFrame is still pending in the zone.js repo, so I don't think this is resolved.  I can compare against the latest release build of angular2 over the weekend to be sure.

[2015-08-21 15:10] DanWahlin commented on #3588
Thanks Jeff. I got it going with some modifications to the "paths" property in the jspm config. It seems to load the bundle now (not sure it works yet though since I'm fighting some other issues that have to be upgraded :-)).

[2015-08-21 15:37] vicb commented on #2722
I think it would still be nice to find a more generic solution. I'll investigate parse5 (I hadn't seen the Igor's comment)

[2015-08-21 15:39] vicb commented on #2413
Not sure, did you mean to ask @vsavkin ?

[2015-08-21 15:40] vicb commented on #2645
@vsavkin ?

[2015-08-21 15:43] vicb commented on #3741
@mhevery do we actually have a doc describing the naming conventions ?

[2015-08-21 17:05] jelbourn commented on #2589
@ggranum Yeah, the current md-input only "works" in that it hits _all_ input elements. The selector `md-input-container input` should just be throwing an error as this bug describes. The material components that are in the codebase now are mainly experiments and have other issues similar to this.

[2015-08-21 17:11] vsavkin commented on #2067
Closed via https://github.com/angular/angular/commit/d2d0715568421b169dd0ecc4ffa5876849d4da9e

[2015-08-21 17:11] #2067 closed

[2015-08-21 17:14] alexeagle opened #3770 "Dart incremental build missing typings"
Repro:
`$ gulp test.unit.dart`
... Success ...
Edit a file
[code]

reported by @vsavkin

[2015-08-21 17:18] mhevery commented on #3341
This has been solved.

[2015-08-21 17:18] #3341 closed

[2015-08-21 17:19] mhevery commented on #3343
@vsavkin I thought that you have implement this. If so can you please close, or update status?

[2015-08-21 17:26] mhevery commented on #3461
I think #3605 will make this issue obsolete. @tbosch can you confirm and close as dup?

[2015-08-21 17:26] mhevery commented on #3462
I think #3605 will make this issue obsolete. @tbosch can you confirm and close as dup?

[2015-08-21 17:34] mhevery commented on #3495
obsolete

[2015-08-21 17:34] #3495 closed

[2015-08-21 17:38] mhevery commented on #3506
Verified, still happens on master.

[2015-08-21 17:43] mhevery commented on #3683
FYI: You should not name things as `IFoo` or `FooInterface`

[2015-08-21 17:46] keertip opened #3771 "(dart/transformer): Support for multiple directives for a class"
The directive metadata visitor does not support a class having multiple directives
https://github.com/angular/angular/blob/master/modules/angular2/src/transform/common/directive_metadata_reader.dart#L112, whereas this use case is seen in user code.

Seems like the visitor should be able to handle this use case.

[2015-08-21 17:58] IgorMinar commented on #2829
We landed part of this, but there is more cleanup needed. @jeffbcross is working #3694. After that one lands, we still need to crawl the repo and look for any other traceur use, which should be just mechanical cleanup work.

[2015-08-21 18:00] IgorMinar commented on #2962
Is there a PR? @caitp can you please provide update?

[2015-08-21 18:01] IgorMinar commented on #3588
@jeffbcross can you please provide current status for this?

[2015-08-21 18:06] jakemac53 commented on #3771
What is the priority on this, can it wait until @kegluneq is back?

[2015-08-21 18:07] mhevery commented on #3691
I think those are for CI. Devs should be using `gulp test.unit.js`

[2015-08-21 18:14] vsavkin opened #3772 "d.ts generation should not depend on _"
Currently, we have the following three mechanisms for excluding certain types from the d.ts generation:

* private methods/classes are ignored
* methods starting with _ are ignored
* constructors annotated with @private are ignored

By excluding methods starting with _ we are mixing the privacy semantics of TS and Dart. This creates a lot of problems. For instance,

[code]

Say I decided to move t

[2015-08-21 18:15] jteplitz602 commented on #3683
@mhevery What should they be named?

[2015-08-21 18:28] alexeagle commented on #3770
I was able to repro at my last type-checking change https://github.com/angular/angular/commit/643c71740e9e0a325f2f3b8431eb5f67cd84ba56
but not at the prior SHA, so that seems to be where it was introduced.

[2015-08-21 18:33] mhevery commented on #3683
I am refactoring this code now. In general It is `List` not `ListInterface` since concrete classes are `ArrayList`, `LinkedList` not `ListImpl`. If all you have is `IFoo` and `FooImpl` then there is no need for an interface. If you have hard time for coming up with a abstract name for interface then it is a sign there should not be an interface.

[2015-08-21 18:36] btford opened #3774 "feat(router): release process for 1.x router"
With #3698, we finally have the 1.x router code merged.

We still need to determine how best to version and release 1.x builds from this repo.

[2015-08-21 18:39] alexeagle commented on #3770
I think I understand the issue.
Previously, files which use the ES6 shims included lang.d.ts, which references globals.d.ts, which used to reference traceur-runtime.d.ts. Now, the ES6 emit does not depend on shims, so the traceur-runtime.d.ts is unreferenced in subsequent incremental compiles.

I think there are a couple options:
- change ts2dart to use -target ES6 so it picks up these types from

[2015-08-21 18:39] LMFinney commented on #3753
+1

[2015-08-21 18:54] alexeagle commented on #3770
It's not easy to get ts2dart to compile angular's codebase to ES6. I spent a few minutes trying to make the invocation of typescript compiler compatible, but it requires bringing too many of the special configurations we apply in the broccoli layer for the type checker to be happy.
So I think we should just special-case the shim files in the incremental compile.

[2015-08-21 19:07] IAPark commented on #3755
Not great at any of this, but I'd like to contribute more so I'll take a look at fixing this for about the next 2 hours

[2015-08-21 19:29] mhevery commented on #2806
Shouldn't this be part of type definition so that TypeScript can assert that?

[2015-08-21 19:35] mhevery commented on #2832
agree with @vicb. Interface disappear at runtime, so they break DI. But I think most of the usage of `_abstract` is not related to DI and could be removed. Perhaps we should way for TS 1.6 which has implemented abstract keyword: https://github.com/Microsoft/TypeScript/issues/6

[2015-08-21 19:37] mhevery commented on #2845
@btford Can you provide an update?

[2015-08-21 19:40] btford commented on #2845
Do we? AFAIK, we haven't yet started work on binding AST transformations, which we need in order to implement a better linking DSL.

[2015-08-21 19:40] mhevery commented on #2875
@pkozlowski-opensource Are we planing on doing any more work here?

[2015-08-21 19:43] pkozlowski-opensource commented on #2875
@mhevery at this point I'm not sure what we could do to improve those err messages without compromising generality of template syntax parsing. IMO we are getting a lot of millage from detecting dangling bindings already and we've got some more issues in the pipe to detect dangling events, attributes etc. But I don't think we should do more for template syntax.

My vote goes to closing this one for

[2015-08-21 20:01] IgorMinar opened #3776 "Rename HTML5LocationStrategy to PushstateLocationStrategy"
I think that we should move away from the "HTML5" lingo for location strategy.

HTML spec is no longer versioned and a year or two this naming will look archaic.

I'm happy to consider other names as long as they don't refer to HTML5.

[2015-08-21 20:36] jelbourn opened #3777 "Can't inject AsyncTestCompleter in beforeEach"
Trying to inject `AsyncTestCompleter` into a `beforeEach` block results in an `InstantiationError`.
[code]
[code]

It would allow tests to be significantly cleaner by supporting this, as it would prevent a lot of duplication in writing each test (`inject`ing `AsyncTestCompleter` into each `it`).

[2015-08-21 20:44] vsavkin commented on #3678
Closed via https://github.com/angular/angular/commit/a9ce454b2176514e1b655d7b005c32f0aa14ab98

[2015-08-21 20:44] #3678 closed

[2015-08-21 20:45] IgorMinar opened #3778 "Lexer errors should contain more contextual info"
[code]

having a name of the component and it's template url in this exception would be really nice for debugging.

[2015-08-21 20:47] vicb commented on #3777
@jelbourn this is so because `AsyncTestCompleter.done()` actually calls `done()` which is an argument to `it()` functions.

See [the source code](https://github.com/angular/angular/blob/a9ce454b2176514e1b655d7b005c32f0aa14ab98/modules/angular2/src/test_lib/test_lib.ts#L141) for more details.

As I don't think there is a lot we can do here, I'm closing this issue. Feel free to re-open if you feel l

[2015-08-21 20:47] #3777 closed

[2015-08-21 21:49] btford commented on #3776
The problem is that both of them use "pushstate" – one just happens to serialize the url to the hash.

I think `PathLocationStrategy` is maybe better?

[2015-08-21 22:19] jteplitz602 commented on #3686
Closed in 0b59e66

[2015-08-21 22:19] #3686 closed

[2015-08-21 22:24] stevenroose opened #3781 "Angular.io dev guide still shows the renamed viewInjector"
It's here: https://angular.io/docs/dart/latest/guide/displaying-data.html
Search for viewInjector.

I found out that it has been renamed to viewBindings, but it was not trivial. Please update the dev guide accordingly.

Is there a repo for the dev guide btw? I'd correct it myself..

[2015-08-21 22:28] ericmartinezr commented on #3781
Hey there @stevenroose, the repo for angular.io is https://github.com/angular/angular.io

[2015-08-21 22:28] stevenroose commented on #3781
Should be fixed by my change.

[2015-08-21 22:28] #3781 closed

[2015-08-21 22:45] jelbourn opened #3782 "Creating fake event objects for testing components."
Say I want to test a component behavior where `preventDefault()` or `stopPropagation()` is called on some event.

In vanilla JS land, I would create a fake event object, passing it to the event handler and be done with it. However, with types, any fake event has to line up with the expected event type for both TS and Dart. One could _almost_ just do `class FakeEvent extends Event`, but IE doesn't

[2015-08-21 23:04] btford opened #3783 "feat(router): warn user when `can` hooks do not return/resolve to a bool"
The current behavior of continuing when a hook returns `undefined` is surprising, says @IgorMinar

[2015-08-21 23:14] IAPark commented on #3755
I'm still trying to get things to build on my machine. I knew getting Windows would be a pain but they're just so much cheaper and still easier to use for me than Linux.

Anyway, I haven't really found the problem, but I have found a couple of ways I think I could fix it. For one if I just added a check [here](https://github.com/angular/angular/blob/master/modules/angular2/src/router/router_outlet

[2015-08-21 23:15] tbosch commented on #1499
No.
@vicb If there is a `<content>` tag in the template (not an `<ng-content>` tag), we are keeping the original content as light dom so that the `<content>` shows it.

[2015-08-21 23:15] #1499 closed

[2015-08-21 23:27] gdi2290 commented on #3765
@pkozlowski-opensource  yeah sorry, I meant that the two problems has the same value type requirement (`string`). The spec for `img.src` suggests the value should be type `string` and if someone wanted a `/null` or `/undefined` endpoint then you would simply provide a string value of `"null"` or `"undefined"` rather than relying on the img tag to do the type corhorsion. For the `<div>{{ exp }} </d

[2015-08-21 23:35] IgorMinar commented on #2965
Scenario to support: canActivate returns false because it's tried to fetch a data and the data was not found. now rather than displaying the component we want to redirect to an item not found view that can be parameterized with item ID/name.

[2015-08-21 23:36] btford opened #3784 "fix(router): empty hash url should not display hash character"
Currently, if you use the `HashLocationStrategy`, we serialize a "root" URL (single slash, empty string, `/`, etc.) as `foo.com/#`. Instead, it should be `foo.com`.

In general, we should always prefer the fewest number of characters when serializing a URL.

[2015-08-21 23:39] gdi2290 commented on #3767
the current workaround you could use is ` [class.has-success]="f.controls?.name?.valid"` to make use of the elvis operator

[2015-08-22 00:03] tbosch commented on #3462
Yes, and we will remove even more: the template parser, the code for generating change detection, ...

[2015-08-22 00:07] tbosch commented on #2492
We have a new design for the compiler (will make public soon) that will solve this issue.

[2015-08-22 00:07] #2492 closed

[2015-08-22 00:07] tbosch commented on #2492
The change is not yet implemented on master, but will hopefully be in about 3 weeks.

[2015-08-22 00:11] tbosch commented on #3402
This will be solved via https://github.com/angular/angular/issues/3605 as well.

[2015-08-22 00:11] #3402 closed

[2015-08-22 00:47] IAPark commented on #3755
I think I found it. That was a bit more than the 2 hours I said, but hay at least now I understand how routing in angular works much better. Only problem is that while I can now get it to compile the tests won't run. Gah. Anyway the problem is I believe on this [line](https://github.com/angular/angular/blob/master/modules/angular2/src/router/route_registry.ts#L215). ```params``` should  be interna

[2015-08-22 02:55] mhevery commented on #2912
Ref: https://github.com/angular/zone.js/pull/147

[2015-08-22 02:56] mhevery commented on #2413
sorry @vicb
---
@vsavkin is this still the case or should we close this issue?

[2015-08-22 02:57] mhevery commented on #2645
@vicb sorry again. Yes @vsavkin can you comment.

[2015-08-22 03:10] mhevery opened #3786 "rename ngProbe to ng.probe"

[2015-08-22 03:15] mhevery commented on #3741
@vicb, We do now: https://github.com/angular/angular/pull/3787

//cc @naomiblack

[2015-08-22 03:17] mhevery commented on #2589
In that case you should be using a `,` (comma) not a ' ' (space) between
the selectors. No?

On Fri, Aug 21, 2015 at 10:05 AM, Jeremy Elbourn <notifications@github.com>
wrote:

[2015-08-22 03:29] mhevery commented on #2875
@pkozlowski-opensource SGTM

[2015-08-22 03:29] #2875 closed

[2015-08-22 11:50] pkozlowski-opensource commented on #2213
There is quite similar pb with null -> string conversion for `src` attributes being discussed here: https://github.com/angular/angular/issues/3765

While the pb is not _exactly_ the same, it also calls for a "special" setter mechanism for a given property

[2015-08-22 11:55] pkozlowski-opensource commented on #3646
The current error is: `Unexpected directive value 'undefined' on the View of component 'BsDemoApp'` when `undefined` ends up in the directives list - I wonder why it was silently failing for Jeff, going to re-test with forward references.

[2015-08-22 12:01] pkozlowski-opensource opened #3789 "[TS] Typings missing for FORM_DIRECTIVESS"
gets reported when using TS typings from alpha.35 bundle. Same goes for CORE_DIRECTIVES.

[2015-08-22 12:08] pkozlowski-opensource commented on #3789
Wooops, this was s typo, all good!

[2015-08-22 12:08] #3789 closed

[2015-08-22 14:06] pkozlowski-opensource commented on #2866
I haven't seen it for a while so we can close. Will open a new issue if I see similar things again.

[2015-08-22 14:06] #2866 closed

[2015-08-22 14:50] hitmanmcc commented on #3642
:+1: I totally agree with that @GoossensMichael, it is indeed something that is likely to lead developers down a confusing path if there is no exception thrown. Excellent point. :)

[2015-08-22 16:25] tomascharad commented on #3691
+1

[2015-08-22 16:30] IAPark commented on #3755
If you guys want to use this in the current version you can probably check if routeParams.params is null.

[2015-08-22 16:31] tomascharad commented on #3691
In seems that sauce.conf.js doesn't have 'SL_CHROMECANARY'

[2015-08-22 17:10] #3724 closed

[2015-08-22 19:46] yjbanov commented on #3757
Fixed

[2015-08-22 19:46] #3757 closed

[2015-08-22 21:20] #3683 closed

[2015-08-22 23:29] sanfordredlich opened #3795 "documentation for "coreDirectives" needs to be updated to match the switch to upper-case constants"
https://github.com/rkirov/angular2-dart-router-demo/blob/master/angular2/lib/directives.dart docs specify using "coreDirectives" when it looks like it should be "CORE_DIRECTIVES"

[2015-08-23 01:06] abelepereira opened #3796 "Flow component context to component's contents (<content></content>)"
Take for example:

[code]

Make the app context available for the view content, suck as:

(consuming the component from foo.html)
[code]
Should produce "Hello FooBar", but actually produces "Hello {{name}}".

[2015-08-23 01:45] vicb commented on #3796
It actually works as expected, the interpolation would only be active in the view of a component.

If an outer component as its view set to:
[code]

Then the `name` will be retrieved from the instance of this outer component.

Makes sense ?

[2015-08-23 01:45] #3796 closed

[2015-08-23 02:12] tomascharad commented on #2579
I see lines 22 and 49 using this._results

[2015-08-23 05:59] kweheliye opened #3797 "alpha.35 Http module missing"
I cannot find the Http Module in alpha.35

[2015-08-23 07:30] pkozlowski-opensource commented on #3795
Yes, it will be solved by https://github.com/angular/angular/pull/3791 which I'm going to merge today

[2015-08-23 07:30] #3795 closed

[2015-08-23 07:30] pkozlowski-opensource commented on #3795
Thnx for the report though!

[2015-08-23 07:31] pkozlowski-opensource commented on #3797
@kweheliye How do you setup your project? Are you using pre-bundled version? If so Http has a separate bundle now: https://code.angularjs.org/2.0.0-alpha.35/

[2015-08-23 07:46] PascalPrecht commented on #3797
@kweheliye the http module is now available as `http/http` namespace, instead of `angular/http`. Maybe that causes you problem?

[2015-08-23 07:47] ewinslow opened #3798 "Browser crashes in async mode when generating promises repeatedly"
This humble code will cause your browser to completely lock up (copy pasted from current docs and adjusted only slightly for async mode):

[code]

See the problem?

I suspect it's the way Angular is doing dirty-checking on `{{title|async}}`. Since the `get title()` getter returns a new promise *each time it is called*, angular gets all confused, even though the promise resolves to the same value e

[2015-08-23 08:04] kweheliye commented on #3797
Thanks.

[2015-08-23 08:04] #3797 closed

[2015-08-23 08:25] #3762 closed

[2015-08-23 12:17] Ablu opened #3799 "Error: ERROR: unknown browser found in getBrowsersFromCLI() when running "npm test""
Hello,

I am trying to follow the instructions from `DEVELOPER.md`.

Now if I run `npm test` I get:

[code]

@pkozlowski-opensource asked me on IRC to report an issue about this.

Regards,
Ablu

[2015-08-23 14:36] ericmartinezr commented on #3799
This is the same as this one https://github.com/angular/angular/issues/3691

[2015-08-23 14:41] pkozlowski-opensource commented on #3799
Indeed, thnx @ericmartinezr. Closing as duplicate of #3691

[2015-08-23 14:41] #3799 closed

[2015-08-23 14:41] pkozlowski-opensource commented on #3691
@mlaval Marc, do you think it might be somehow linked to the latest Sauce changes?

[2015-08-23 15:04] #3645 closed

[2015-08-23 15:25] truongminh commented on #384
At this point, the template is a string.
Is it possible to pass in a promise as the `template`?
https://github.com/angular/angular/blob/215c4aa8fb75183b2f1ed88413bea1fabee8558e/modules/angular2/src/render/dom/compiler/view_loader.ts#L92
If so, additional modification could be made simple.

[2015-08-23 18:19] adamdbradley opened #3800 "Proposal: Public API to add custom EventManagerPlugins"
Currently it looks like Angular2 has a locked in set of `EventManagerPlugin`s, to include `HammerGesturesPlugin`.
https://github.com/angular/angular/blob/a9ce454b2176514e1b655d7b005c32f0aa14ab98/modules/angular2/src/core/application_common.ts#L115

Would it be possible to create a public API so custom `EventManagerPlugin`s could be created? This would make it easier for third party libraries to ad

[2015-08-23 18:28] adamdbradley opened #3801 "feat: create `Element` DI"
In many examples I'm using `ElementRef` just so I can get `nativeElement`, such as:

[code]

I realize we should stay away from direct DOM elements, but there are still many cases where we still need direct access.

[2015-08-23 22:02] GoossensMichael commented on #3642
Any documentation on how exception handling is to be done on angular 2? Maybe I can add it as my first contribution :).

[2015-08-23 22:16] gdi2290 commented on #2278
this can be closed

[2015-08-23 22:18] #2278 closed

[2015-08-23 23:46] gdi2290 commented on #3798
I ran into something like this too with Falcor in the past.

[change_detection/pipes/observable_pipe.ts](https://github.com/angular/angular/blob/b8e82e4db31bd44eec4488f8b77366c78ba92a8e/modules/angular2/src/change_detection/pipes/observable_pipe.ts#L47...L64)
`AsyncPipe` maintains reference of the Strategy and has essentially 4 states in which the transform does something different to cause side e

[2015-08-23 23:56] wardbell commented on #3651
@mhevery I liked your suggestion until I tried to apply it.

For example, our current Getting Started sample reads:

     import {Component, View, bootstrap} from 'angular2/angular2';
     @Component({
        selector: '...'
     })
    @View({
        template: ...
    })
    class AppComponent { }

    bootstrap(AppComponent);

That is much less noisy than

     import * as ng from 'angular2/an

[2015-08-24 03:48] jeffbcross commented on #3588
@IgorMinar yep I'll actually close this issue since it's solved by #3713. I updated that issue before I left for long weekend, but didn't think to update this one. Short story is, the bulk of the moving work is done; I just have to resolve a failing test, and I'm sure more little issues will creep up in the process.

[2015-08-24 03:48] #3588 closed

[2015-08-24 03:59] DanWahlin commented on #3588
Great - thanks for the update @jeffbcross! I'm going to hold off until alpha 36 since I've run into some other things along the way that I suspect will be simplified with the next release.

[2015-08-24 05:05] jeffbcross commented on #3713
I resolved blockers with test.unit.cjs and test.unit.js. Now on to fixing dart issues.

[2015-08-24 05:08] jeffbcross commented on #3588
@DanWahlin that sounds like a good plan. Things should be more orderly with that release. Maybe you could help dogfood pre-alpha 36 after #3713 and #3714 are resolved?

[2015-08-24 05:11] jeffbcross commented on #3376
Agreed on closing for now, and seeking more input from apps about how realtime communication is being facilitated, and what problems angular should help alleviate.

[2015-08-24 05:11] #3376 closed

[2015-08-24 06:06] DanWahlin commented on #3588
Sounds great. I suspect some of the issues I'm seeing now are completely my own doing (due to not realizing something changed somewhere) but I'm happy to try things out once you think the issues above are resolved.

[2015-08-24 06:19] #3365 closed

[2015-08-24 06:43] PascalPrecht commented on #3651
I think even in ES5 services, directives and components should be registered at the place they are needed, just like we'd do in ES6/TS. So if we need a service instance in `ComponentA`, then `ComponentA` needs to define a bindings for that type of service, unless it's defined somewhere in a parent component/injector.

This of course doesn't solve the problem of polluting the global scope, which is

[2015-08-24 10:55] danicomas opened #3803 "Attribute [for] to label doesn't exist"
[code]

[code]

Error shown: EXCEPTION: Can't bind to 'for' since it isn't a known property of the '<label>' element and there are no matching directives with a corresponding property

[2015-08-24 11:30] pkozlowski-opensource commented on #3803
Right, there is no `for` _property_ on label, there is only an _attribute. You have to use `<label [attr.for]="controlPath">` to bind to attributes.

[2015-08-24 11:30] #3803 closed

[2015-08-24 11:42] danicomas commented on #3803
Thanks @pkozlowski-opensource

[2015-08-24 11:51] danicomas opened #3804 "Passing values between components, ng-control, ngFormModel and ng-model"
1) Could I do something like this?

[code]

[code]

<b>Now the input text crash on [(ng-control)]. The error is the following:
EXCEPTION: No provider for ControlContainer! (function (cd, renderer, elementRef) { -> NgControl -> $__0 -> ControlContainer)<b>

2) Other way would be do something like this:

[code]

But I don't know if it is possible.

[2015-08-24 14:27] mlaval commented on #3691
@pkozlowski-opensource It is, I've sent a fix in #3806

[2015-08-24 14:44] danicomas opened #3807 "Pipe is called three times"
I have created this Pipe:

[code]

And added in these components:

[code]

[code]

Then I have debugged the transform pipe function and it is called 3 times :S

[2015-08-24 14:52] twhitbeck commented on #3774
am I missing something? I've cloned master, and the unit tests for angular 1 router almost all fail. Maybe it's too early, but it sounded like we had something we could see.

[2015-08-24 15:51] danicomas opened #3809 "Is this the best way to call a Pipe function inside a component (without template)?"
[code]

[2015-08-24 16:25] btford commented on #3774
@twhitbeck The code is here: https://github.com/angular/angular/tree/master/modules/angular1_router

And the artifact gets built to `dist/angular_1_router.js`.

[2015-08-24 16:32] twhitbeck commented on #3774
@btford Yes, I `built angular_1_router.js` to try it out, and when I was getting errors I tried running the unit tests. That's when I noticed that they were largely failing.

I've got an up-to-date clone of master

[2015-08-24 16:36] btford commented on #3774
@twhitbeck feel free to file new issues for whatever error's you're seeing. I'd like to keep discussion on this issue focused on release concerns.

[2015-08-24 16:46] IgorMinar commented on #3651
For ES5 one can define DI modules for 3rd party components just like you would in ES6 - as arrays:

[code]

This doesn't solve the issue of global namespace pollution and code-loading, which is usually handled by amd/cjs modules. My preference is to avoid picking winners here, since people will usually use whatever they are already comfortable with. We should document one example of using DI with

[2015-08-24 17:03] jelbourn commented on #2589
@mhevery the current state of the selector was me checking "Does this work?", to which the answer was "no". I never bothered changing it because the whole component is going to be re-done.

[2015-08-24 17:31] IgorMinar commented on #1814
this became a low priority compared to other things (e.g. #3532).

On Thu, Aug 20, 2015 at 8:38 PM Miško Hevery <notifications@github.com>
wrote:

[2015-08-24 17:40] mhevery commented on #3275
@yjbanov I think this is no longer an issue and can be closed. Can you verify.

[2015-08-24 17:44] mhevery commented on #3337
I think we already have one here: https://github.com/angular/angular.js/blob/master/validate-commit-msg.js

[2015-08-24 17:49] mhevery commented on #3651
@wardbell Yes, I was suggesting that, but I am open to counter-suggestions. The nice thing is that the code samples look identical whether you use ambient or import statements. If you think that having explicit imports is better, (and the complication of having different code example for ambient vs import is something we can handle) then I am fine with that as well.

[2015-08-24 17:51] jeffbcross commented on #3694
I'm going to move this to the next milestone since I'm focusing on re-arranging modules and other stuff that's part of #3458.

[2015-08-24 17:52] jeffbcross commented on #3339
Moving to the next milestone to make room for other higher priority items.

[2015-08-24 18:32] #3602 closed

[2015-08-24 18:33] #3770 closed

[2015-08-24 18:33] #3727 closed

[2015-08-24 18:47] btford opened #3813 "test(router): test parity between 1.x and 2.x directives"
Right now, we have totally different tests for 1.x and 2.x for the router. We should have roughly the same high level tests for use cases.

This should be enforced via script. So for some set of specs (probably the integration specs), we should assert as part of the angular1_router target that we have the same spec descriptions.

[2015-08-24 18:49] mhevery commented on #3740
Duplicate of #3699

[2015-08-24 18:49] #3740 closed

[2015-08-24 18:54] vsavkin commented on #3644
I think no changes are required. The `@Inject(token)` is more flexible and covers the withAnnotation use case. Closing it.

[2015-08-24 18:54] #3644 closed

[2015-08-24 19:03] btford opened #3814 "test(router): unit tests for outlet"
Currently we only have integration specs.

[2015-08-24 19:27] btford commented on #3753
Yep, this is weird.

[2015-08-24 19:31] btford commented on #3776
Last week we agreed on `PathLocationStrategy`. I made the change and pushed to presubmit.

[2015-08-24 19:47] mhevery commented on #2997
Closing as obsolete. Reopen if still an issue.

[2015-08-24 19:47] #2997 closed

[2015-08-24 19:52] mhevery commented on #3166
Obsolete by #3605

[2015-08-24 19:52] #3166 closed

[2015-08-24 19:58] mhevery commented on #3231
/cc @vsavkin
@matanlurey i don't think we will support this. We think it is incorrect for a component to use presence of a listener as an input to its behavior. A component should behave same regardless if there is a  listener or not. If you want to change the way the component behaves explicit flags should be passed in regardless of presence of listeners.

WONT_FIX / WORKING_AS_INTENDED

[2015-08-24 19:58] #3231 closed

[2015-08-24 20:01] mhevery commented on #3251
@matanlurey Could you add justification for this?

[2015-08-24 20:01] #3251 closed

[2015-08-24 20:03] mhevery commented on #3254
WONT_FIX / WORKS_AS_INTENDED

This is the way ShadowDOM works. But more importantly maybe real Panel has re-projection, but in your tests you have MockPanel which does not have re-projection. In such a case you don't want to fail. So I think this is the correct behavior.

[2015-08-24 20:03] #3254 closed

[2015-08-24 20:05] btford commented on #3753
@cghislai can you post at least a snippet of what `LoginView` looks like (it should include the constructor signature)? It's an ES6 class, correct?

[2015-08-24 20:09] mhevery commented on #2292
What you are asking for is to have `<fancy-link>` add `hover` attribute and then have the compiler pick it up in the compilation. This creates a bit of magic at a distance, which I don't think is worth the complexity.

In the above case you can just have `HoverService` which you can be inject into `fancy-link` which should be able to pragmatically add the hoover behavior to the elment.

WORKING AS

[2015-08-24 20:09] #2292 closed

[2015-08-24 20:12] mhevery commented on #2296
@SekibOmazic Can you add justification/use-case as to why do you need this for custom events? Bubbling only makes sense for input (key/mouse) events.

[2015-08-24 20:13] vsavkin commented on #3459
The dynamic change detection is used when creating host views. Since the way we create host views will change by @tbosch's refactoring, I am putting this issue on hold.

[2015-08-24 20:13] mhevery commented on #2326
Closing since inactive... / obsolete.

[2015-08-24 20:13] #2326 closed

[2015-08-24 20:15] mhevery commented on #2363
@rkirov is this still a thing?

I am closing as I think the current workaround is sufficient. Re-open if you feel otherwise.

[2015-08-24 20:15] #2363 closed

[2015-08-24 20:31] #3776 closed

[2015-08-24 20:31] #3700 closed

[2015-08-24 20:36] mhevery commented on #2449
@vicb what do you think about this? I am thinking that we won't support this and we should close this.

[2015-08-24 20:40] mhevery commented on #2467
Closing as obsolete. Please reopen if still an issue.

[2015-08-24 20:40] #2467 closed

[2015-08-24 20:41] mhevery commented on #2579
obsolte

[2015-08-24 20:41] #2579 closed

[2015-08-24 20:42] mhevery commented on #2606
WONT_FIX

[2015-08-24 20:42] #2606 closed

[2015-08-24 20:43] mhevery commented on #2322
Dup #2770

[2015-08-24 20:43] #2322 closed

[2015-08-24 20:45] mhevery commented on #2785
I am hesitant to support more API surface. I think we should let others implement the missing functionality independent of the Zone.

Closing, reopen if you feel strongly.

[2015-08-24 20:45] #2785 closed

[2015-08-24 20:46] tbosch commented on #3019
We don't need this any more as we don't write to properties once there is a directive that binds to a property. I.e. we don't generate different bindings based on `DOM.hasProperty`...

[2015-08-24 20:46] #3019 closed

[2015-08-24 20:51] mhevery commented on #2788
I think TypeScript needs to have some hint that it should generate runtime type information for the DI. Therefore this is a requirement. Injection with no decorator will not work.

@jeffbcross can this be closed?

[2015-08-24 20:54] jpsfs commented on #2296
Hi @mhevery, I don't know @SebikOmazic bit I have the following use case:

Imagine you have a component that will trigger a service call thus requering some kind of loading animation.

Depending on the component's location (parent) we want to have different behaviours for the loading animation.

If we could propagate custom events we could easily implement this.

Of course there are other ways of

[2015-08-24 20:55] mhevery commented on #1802
c20a5d65d86c57227a1f3d3cc0b0ca2b085eac48

[2015-08-24 20:55] #1802 closed

[2015-08-24 20:57] robwormald commented on #2788
it sure would be nice if we could tell the TS compiler to always generate them, rather than having to import {Injectable} in every single file...

[2015-08-24 21:00] andersbc commented on #3753
I case it is helpful: I seem to only get this error on components when the component constructor function has more than one parameter.

[2015-08-24 21:23] PascalPrecht commented on #2788
@mhevery shouldn't simply `@Inject` do the trick then?

[2015-08-24 21:34] mhevery commented on #1828
@rkirov what is the status of this? I don't think we can easily support this.

[2015-08-24 21:34] robwormald commented on #2788
you could do

class Foo {
  constructor(@Inject(Bar) bar){

  }
}

but

@Injectable()
class Foo {
  constructor(bar: Bar){}
}

feels like more idiomatic TS to me. it doesn't appear to matter *what* the decorator is, as long as there *is* one. Which is why it seems like this could be a flag in the ts compiler options like "alwaysGenerateMetadata" or w/e.

[2015-08-24 21:38] mhevery commented on #1942
Docs are being redone, Obsolete.

[2015-08-24 21:38] #1942 closed

[2015-08-24 21:39] mhevery commented on #1946
docs are being redone, obsolete.

[2015-08-24 21:39] #1946 closed

[2015-08-24 21:40] mhevery commented on #2088
WONT FIX

[2015-08-24 21:40] #2088 closed

[2015-08-24 21:41] mhevery commented on #2157
Obsolete? reopen if still needed.

[2015-08-24 21:41] #2157 closed

[2015-08-24 21:43] mhevery commented on #2216
Angular 2 will not include `$resource` like API. We think this is where the community can step in.

Closing because this is outside the scope.

[2015-08-24 21:43] #2216 closed

[2015-08-24 21:43] mhevery commented on #2223
obsolote

[2015-08-24 21:43] #2223 closed

[2015-08-24 21:44] PascalPrecht commented on #3801
AFAIK injecting an element ref through `ElementRef` type is already a type of DI for elements. @adamdbradley could you elaborate on what specifically you're requesting here?

[2015-08-24 21:49] btford commented on #3784
@matsko can we work on this after landing the `routeIsActive` API?

[2015-08-24 21:49] mhevery commented on #1341
Obsolete with @tbosch #3605 Closing.

[2015-08-24 21:49] #1341 closed

[2015-08-24 21:50] mhevery commented on #1344
Obsolete: #1594

[2015-08-24 21:50] #1344 closed

[2015-08-24 21:51] mhevery commented on #1350
@yjbanov Can you verify that this is still an issue, and close if appropriate?

[2015-08-24 21:52] mhevery commented on #1380
Obsolete @yjbanov  is working on this.

[2015-08-24 21:52] #1380 closed

[2015-08-24 21:54] mhevery commented on #1391
@vsavkin can you verify this is still an issue.

[2015-08-24 21:56] mhevery commented on #1401
@tbosch discussed this with the dart team, and it was decided that it would be best for the dart team to write their own parser/analyzer. There is no addition action on our side.

The situation will be much improved with #3605

[2015-08-24 21:56] #1401 closed

[2015-08-24 21:57] mhevery commented on #1404
@yjbanov is working on better strategy for this.

Closing as obsolete.

[2015-08-24 21:57] #1404 closed

[2015-08-24 21:57] mhevery commented on #1490
@vsavkin / @tbosch is this still an issue? can this be closed?

[2015-08-24 21:58] mhevery commented on #1623
@vsavkin is this still relevant?

[2015-08-24 21:59] mhevery commented on #1671
should be fixed

[2015-08-24 21:59] #1671 closed

[2015-08-24 21:59] PascalPrecht commented on #1623
@InjectLazy has been removed from DI specific decorators. I think this can be closed.

[2015-08-24 22:39] gdi2290 commented on #3740
For anyone looking for a workaround. During `postinstall` remove the http typings
`rm -rf node_modules/angular2/bundles/typings/angular2/http.d.ts`
[package.json#L27](https://github.com/angular-class/angular2-webpack-starter/blob/8e4773cdf731e389228b9f394daac6faf644a1bf/package.json#L27) then install tsd that way the file won't be added to tsd.d.ts and make sure to include your own version of http

[2015-08-24 22:44] mhevery commented on #1682
Docs are getting rewritten, obsolete.

[2015-08-24 22:44] #1682 closed

[2015-08-24 22:45] mhevery commented on #1697
@tbosch is this still an issue?

[2015-08-24 22:49] tbosch commented on #1697
Yes.
It's only relevant for JS though, where we don't have as lot of users yet.

[2015-08-24 22:49] tbosch commented on #1698
Yes, still an issue.

[2015-08-24 22:51] mhevery commented on #1700
@tbosch This has not been updated for a while. ls this still relevant?

[2015-08-24 22:53] mhevery commented on #1708
@vsavkin did a lot of work cleaning up errors. Can you verify this is still in issue? and reopen.

[2015-08-24 22:53] mhevery commented on #1738
Obsolete, fixed in ts2dart

[2015-08-24 22:54] #1738 closed

[2015-08-24 23:00] jeffbcross commented on #3713
FWIW, I proposed in-person to @IgorMinar, @tbosch and @rkirov that we not worry about flattening/merging `src` and `test` directories right now, as it would add significant complexity to our build process (moving folders for dart output to look like sources live in src/ and tests live in test/, as well as re-writing import paths). I think there was consensus of "yes, don't bother with this right n

[2015-08-24 23:00] mhevery commented on #1763
Obsolete, new injectors now support this.

[2015-08-24 23:00] #1763 closed

[2015-08-24 23:08] mhevery commented on #795
@vsavkin can you comment?

[2015-08-24 23:09] mhevery commented on #843
@vicb is this still relevant? Can we close it?

[2015-08-24 23:12] mhevery commented on #1865
Dup of #915

[2015-08-24 23:12] #1865 closed

[2015-08-24 23:15] mhevery commented on #1007
Will not support with the new `ng-content`

[2015-08-24 23:15] #1007 closed

[2015-08-24 23:16] vicb commented on #843
let's close it. We can create a new issue if we need this in the future.

[2015-08-24 23:16] #843 closed

[2015-08-24 23:17] mhevery commented on #1111
No longer supported. Obsolete.

[2015-08-24 23:17] #1111 closed

[2015-08-24 23:18] mhevery commented on #1152
Resolved

[2015-08-24 23:18] #1152 closed

[2015-08-24 23:19] mhevery commented on #1220
This is being taken on by the dart team. Closing.

[2015-08-24 23:19] #1220 closed

[2015-08-24 23:20] mhevery commented on #1225
This is a generic question, not an issue, Closing.

It should be possible to write drag and drop directives for angular. We are not planning on including it in core for now.

[2015-08-24 23:20] #1225 closed

[2015-08-24 23:22] mhevery commented on #1636
@alexeagle is this still an issue?

[2015-08-24 23:25] alexeagle commented on #1636
Yes, we are waiting on a tsd release so we can use the new flag. Let's keep this issue open to remind us to do that.
AT present, tsd is @0.6.3 which doesn't include this.

[2015-08-24 23:32] mhevery commented on #544
obsolete

[2015-08-24 23:32] #544 closed

[2015-08-24 23:34] mhevery commented on #510
Moved to: https://github.com/angular/ts2dart/issues/268

[2015-08-24 23:34] #510 closed

[2015-08-24 23:50] mhevery commented on #424
Obsolete

[2015-08-24 23:50] #424 closed

[2015-08-24 23:50] mhevery commented on #384
Dup of #521

[2015-08-24 23:50] #384 closed

[2015-08-24 23:51] mhevery commented on #93
covered by other benchmarks

[2015-08-24 23:51] #93 closed

[2015-08-24 23:52] mhevery commented on #35
@mlaval  is already working on this.

[2015-08-24 23:52] #35 closed

[2015-08-24 23:55] stevenroose opened #3817 "Conflicting binding syntax between properties and regular attributes makes text values for property binding impossible"
Currently, this is how attribute binding works
[code]

This means that depending on what type of attribute you are making a binding for, the syntax depends:
[code]

The last use case above is not so rare and I don't even know how to do it properly without dedicating a static variable just for the sake of getting the value in the attribute value.

What is the reason why the `[propertyBinding]` attr

[2015-08-25 01:07] jteplitz602 opened #3820 "Have ts2dart remove calls to bind"

[2015-08-25 03:04] cultofmetatron opened #3821 "documentation quickstart is not working"
<img width="946" alt="screen shot 2015-08-24 at 7 55 57 pm" src="https://cloud.githubusercontent.com/assets/5964/9457691/b963cc0e-4a9a-11e5-8e68-e4b1a3c7ed0d.png">

I heard angular2 is cool and wanted to try it verses react. I decided to spend some time onboarding myself.  I used the quickstart till I got to this point. At this point it completely broke and I can't figure out what is wrong.

[2015-08-25 04:12] #3703 closed

[2015-08-25 05:00] vsavkin commented on #795
Since we are paying a source-code size penalty for every change detector class, I am considering encoding this logic into a detector (sort of like a goto statement). Another option would be to have a lightweight class (e.g., SubDetector).

This is a non-trivial change that should take a few days (maybe a week) to implement.

[2015-08-25 06:48] cghislai commented on #3753
@btford it is available here : https://github.com/cghislai/comptoir/blob/ng2-alpha-35/app/components/auth/login/login.ts

[2015-08-25 09:17] TiagoBraga39 commented on #3751
@btford Hi again.

---

Just a thought that came up:
I can't find this on the source code, but I am not saying it is not there.
<b>When routing on a Child Router, if the route if not found, what is the behaviour?</b>

Does the routing process try to resolve the request in the Parent Router, GrandParent and so on?
If so, when does it trigger the Redirect? I guess it should be the first Redirect hit

[2015-08-25 11:28] Fank commented on #3821
use `viewBindings` instead of `appInjector` @angular2.0-alpha35

[2015-08-25 15:21] IgorMinar opened #3824 "test_lib.d.ts is missing"
Currently we don't generate it during our build. This causes issues when using TestComponentBulider in tests with TS.

[2015-08-25 15:27] IgorMinar opened #3825 "ViewMetadata doesn't have public constructor in d.ts"
`ViewMetadata` and other *Metadata classes don't have a public constructor present in our d.ts files.

Since `TestComponentBuilder` takes `ViewMetadata` via it's public api, this constructor should be public as well.

[2015-08-25 15:31] IgorMinar opened #3826 "angular2.dev.js contains incorrect SystemJS config"
At the end of the file we have:

[code]

I'm not sure how we ended up with the `"*":"*.js"` mapping, but we shouldn't be configuring paths not belonging exclusively to Angular.

This is especially confusing as of a SystemJS 0.17 when `defaultJSExtension` [was flipped to false](https://github.com/systemjs/systemjs/releases/tag/0.17.0).

[2015-08-25 15:41] mhevery commented on #3642
@GoossensMichael There is a central `ExceptionHandler` which receives all of the exceptions. So we are either not throwing the right error, or not catching it.

[2015-08-25 15:52] #1623 closed

[2015-08-25 16:00] jeffbcross commented on #3713
Update: After updating ts2dart, there are still some issues I'm working through. This is the latest failing job: https://travis-ci.org/angular/angular/builds/77102478

Some problems:
 * `@Inject` decorators being left in constructors where they shouldn't be.
 * Some unused dart imports
 * http.d.ts `type` declarations being interpreted as `type-alias`, so [test](https://travis-ci.org/angular/angul

[2015-08-25 16:02] kegluneq commented on #3771
@keertip , can you show me an example of where this is present in user code? My original implementation supported multiple directives and it was removed in review because angular2 (at that time, at least) supported only one (see the first review comment [here](https://github.com/angular/angular/pull/1349))

btw, transformer code has been moved: [new link](https://github.com/angular/angular/blob/ma

[2015-08-25 16:04] JohannesHoppe commented on #2340
see https://github.com/angular/angular/pull/2956

-- <cite>@tbosch</cite>

is this really your last word regarding `orderBy`?!

[2015-08-25 16:18] keertip commented on #3771
Sorry, looks like the example was angular1 code. As this is not angular2 code, closing the issue.

[2015-08-25 16:18] #3771 closed

[2015-08-25 16:22] vsavkin commented on #2449
Currently, we have only one use case: we create a new observable on every tick. If we store a reference to this observable in the template, the problem won't be present anymore.

It is tempting to solve all our problems by extending the template syntax, but the user already has a way to deal with it by doing `this.observable = getObservable()` in the component itself. This does not seem unreasonab

[2015-08-25 16:36] ewinslow commented on #2449
It's a bummer for use cases like falcor where then your model is tied to your controller again.

I suppose an alternative solution is to patch falcor to return the same promise on repeated requests to `model.getValue(path).toPromise()` for identical values of `path`, as long as the value underneath hasn't changed.

Seems like it would just be nice for users if angular handled this transparently, t

[2015-08-25 16:42] ludohenin commented on #1610
I have this one working if you're interested in gulp tool to do that [https://github.com/ludohenin/gulp-inline-ng2-template](https://github.com/ludohenin/gulp-inline-ng2-template)

[2015-08-25 16:47] mlaval commented on #3691
Fix landed as bf4b75ee9c8a3af896d1921462902bb4dad3da3d

[2015-08-25 16:47] #3691 closed

[2015-08-25 16:49] #3175 closed

[2015-08-25 16:56] kegluneq opened #3827 "Revert now-obsolete sort in directive parser"
https://github.com/angular/angular/pull/3165 introduces a stable-sort of directive properties which is no longer necessary due to https://github.com/angular/angular/issues/3605

[2015-08-25 17:00] jeffbcross opened #3828 "fix(dgeni): correctly export type declarations"
For `type` declarations, such as [this one](https://github.com/angular/angular/commit/512340e39b7858d1bf7c7751714cbf69220aac84#diff-a20f042e0a0b324d9daec6988a9774d8R45) in http interfaces, the d.ts output is `type-alias` instead of `type`. This was broken for http.d.ts in master, but apparently was not being tested. Tests now fail with "semicolon expected."

Input:
[code]

Output:
[code]

[2015-08-25 17:00] jeffbcross commented on #3828
CC: @alexeagle @mhevery

[2015-08-25 17:22] yjbanov commented on #3459
Marking as blocked by https://github.com/angular/angular/issues/3605

[2015-08-25 17:26] yjbanov commented on #3462
Two things need to be done:

1. stop using it
1. don't include it in the app code

Both require explicit effort. Will #3605 fix both? If so, feel free to reclose this issue.

[2015-08-25 17:30] tbosch commented on #3462
After my change we will only use it during transformation.
And it should get correctly tree shaken as well.

[2015-08-25 17:33] yjbanov commented on #3462
Cool. Let's keep this issue open to make sure it actually is tree shaken (I doubt it will happen automatically). Marking as blocked by #3605.

[2015-08-25 17:35] tbosch opened #3829 "Use Angular's testability API to wait for end of e2e tests"
Right now, we rely on a hack to wait for the end of e2e tests: We wait until the "loading..." text disappears. However, Angular exposes an API to know when bootstrap is done via `global.getAllAngularTestabilities()` (see https://github.com/angular/angular/blob/master/modules/angular2/src/core/testability/get_testability.ts). We should use this API to prevent future breakages / hard to explain erro

[2015-08-25 17:35] tbosch commented on #3829
The hack was introduced here: https://github.com/angular/angular/pull/3822

[2015-08-25 17:36] jeffbcross commented on #3713
Some issues have been resolved.

 * `@Inject` was a matter of the decorator being imported instead of annotation.
* The http.d.ts problem was an existing problem that hasn't been tested. The problem has been temporarily fixed with an issue #3828 opened for long-term fix.

[2015-08-25 17:36] mhevery commented on #2449
@ewinslow we are planning on having tight integration with falcor, but this is not the best way to get there.

[2015-08-25 17:36] #2449 closed

[2015-08-25 17:38] mhevery commented on #3828
@jeffbcross pleases don't add more then one component to the issue. It confuses the dashboard. If you have a use case for it lets chat.

Dup of https://github.com/angular/angular/issues/3699

[2015-08-25 17:38] tbosch commented on #1610
I think we should precompile templates for unit tests as well. This way,
all templates and also styles will be loaded offline on the server and then
converted into a format that Angular already understands. See
https://github.com/angular/angular/pull/3165

On Tue, Aug 25, 2015 at 9:42 AM Ludovic HENIN <notifications@github.com>
wrote:

[2015-08-25 17:43] matanlurey opened #3830 "Router: Needs a way to be manually shutdown/disposed (mutli-app or tests)"
Discussed this offline a bit, but because the `Router` injectable listens (indirectly) to location changes, and is not part of the destroy cycle of components when an application is disposed, during tests and multi-app environments it's possible for a route change to trigger a dynamic component loader load into DOM that no longer exists.

[2015-08-25 17:44] tbosch commented on #3254
Note that after https://github.com/angular/angular/issues/3605 is done,
ElementRef.nativeElement will return an element for all ElementRefs, even
if they are not projected.

On Mon, Aug 24, 2015 at 1:03 PM Miško Hevery <notifications@github.com>
wrote:

[2015-08-25 17:47] alexeagle commented on #3699
@mhevery this is just temporary until TS1.6 right? in 1.6 the semantics of declaring assignability from an interface are tightened to catch typos in property names.

[2015-08-25 17:53] yjbanov commented on #1350
Yes, although it's been renamed to `DirectiveResolver`. Updated description.

[2015-08-25 18:01] btford commented on #3830
Thanks! I'll look this week.

[2015-08-25 18:01] mhevery commented on #3830
Should be part of #1594

[2015-08-25 18:02] jeffbcross commented on #3828
@mhevery good to know about the component. This doesn't seem like a dupe of #3699, as this is pointing out a bug when using `type` assignments.

[2015-08-25 18:07] #3821 closed

[2015-08-25 18:08] mhevery commented on #3821
Please provide an exception and repro case. I think @Fank probably pointed out the root cause.

[2015-08-25 18:14] mhevery commented on #3817
I think you are miss-understanding the the above examples.

`<input value="Some Value">` means set attribute `value` to `Some Value`, but DOM will reflect that to the property `value` and set it there as well.

`<input [value]="expression">` tells angular to set property `value` to evaluation of `expression`. In this case we bypass the attribute because it is not useful. DOM properties is all that

[2015-08-25 18:14] #3817 closed

[2015-08-25 18:14] mhevery commented on #3809
yes, is there an issue with that?

[2015-08-25 18:14] #3809 closed

[2015-08-25 18:21] mhevery commented on #3807
Can you put this on plunker (http://plnkr.co/edit/tpl:BrUl7z1vvZBGWBfSGS8D?p=preview) so we have a repro case?

[2015-08-25 18:23] mhevery commented on #3804
1) looks reasonable to me, @vsavkin Thoughts?

Could you create a http://plnkr.co/edit/tpl:BrUl7z1vvZBGWBfSGS8D?p=preview for easy repro?

[2015-08-25 18:24] vicb commented on #3807
That's probably linked to #3701

[2015-08-25 18:29] adamdbradley commented on #3801
@PascalPrecht Really just a shortcut to make it easier to get ahold of the native element. So instead of:

[code]
It could be:

[code]

`ElementRef` would continue to do it's job and still provide `nativeElement`.

[2015-08-25 18:36] mhevery commented on #3798
So unfortunately this works as expected. :-( Yes not the best user experience.

Angular runs CD and sees new instance of promise every time. (At this point we should flag an error but, we don't because of https://github.com/angular/angular/issues/2830)

Then the promise resolves, and we trigger new CD, which recreates the problem.

There is no way of preventing this. We do have https://github.com/

[2015-08-25 18:36] #3798 closed

[2015-08-25 18:39] mhevery commented on #3767
WORKS AS EXPECTED

[2015-08-25 18:39] #3767 closed

[2015-08-25 19:30] alippai opened #3833 "Status?"
Where can we find a roadmap for Angular 2.0 beta release? Is there a feature and/or QA goal set for the beta/rc/stable releases or do you work by thresholds?

[2015-08-25 20:14] jeffbcross commented on #3714
I discussed with @rkirov and he said it would be beneficial to have an additional sfx bundle that would include angular2 and angular2-test, since an angular2-test sfx bundle would re-register transitive dependencies like `Rx`, which could have unwanted side effects.

[2015-08-25 20:16] jeffbcross commented on #3714
Update: I changed the `-testing` bundles to be `_testing` to be consistent with file and directory names throughout angular.

[2015-08-25 20:19] alxhub commented on #1594
Here is my design for Angular bootstrapping. Note that this is the "long form" for bootstrapping multiple apps on a single page. The existing `bootstrap()` function should continue to work for simple apps.

## Non-web worker app:

[code]

## Web worker app (running in the web worker thread):

[code]

Unfortunately, due to my absence last week I don't think I'll be able to make the M36 target, so I

[2015-08-25 20:27] rkirov commented on #3714
/cc @zzo

[2015-08-25 20:53] dsebastien commented on #3797
Will the http.d.ts file also get uploaded to DefinitelyTyped along with the angular2.d.ts?
I'm currently referring to the one part of the npm package but it ain't great :)

[2015-08-25 21:01] kegluneq opened #3834 "Codegen getters only for annotation-declared events"
With recent changes to the way pieces of the change detector model are handled, serialized, etc, we no longer need to codegen anything except `getter`s for `event: [<here>]` declared inside `Directive` annotations when we pre-generate change detectors.

Remove codegen of other `getter`s and `setter`s.

[2015-08-25 21:28] vicb commented on #1594
// This component is ready. This callback runs in the application zone.
});

Not sure what you mean by "application zone" ?

The cb should run inside an NgZone so that asynchronous code triggers the change detection - which I don't is possible is `appFoo.root(AppFooComponent)` returns a Promise because the code would be executed in the same zone where `then()` gets called.

[2015-08-25 21:40] alxhub commented on #1594
The application zone is the `NgZone` associated with the application, and shared among the application's root components.

I don't know too much about how zones work, but `bootstrap()` returns a `Promise<ApplicationRef>` - I'm not changing this mechanism, only the type of the `Promise`.

I'll do some research to see if that callback is broken, though.

[2015-08-25 21:41] yjbanov commented on #1594
/cc @jteplitz602 to review the web worker part

[2015-08-25 21:45] vicb commented on #1594
@alxhub see [this comment](https://github.com/angular/angular/issues/1594#issuecomment-97728561) for more details - returning a `Promise` would run the callback in the calling zone (ie outside of angular / NgZone).

[2015-08-25 21:46] urish commented on #1254
@mhevery I also find this behavior really confusing. Any chance this can be revisited?

I spent an hour trying to understand why my clicks where not intercepted by the event handler, just to figure out that click events don't bubble unless I explicitly tell them to...

Thanks!

[2015-08-25 22:05] wisesascha opened #3837 "@Host not setting attribute"
The host property is not properly setting the attribute. In my app it sampling becomes `undefined`. Im doing this and its simple not working
`constructor(@Host()  tabs:Tabs) {`
Tabs is defined in the same file.
This issue is the same when they are in separate files.

[2015-08-25 22:35] sumigoma opened #3838 "recompile components at runtime"
In Angular2, will it be possible to recompile components at runtime or have components whose templates are dynamic (change at runtime), a la $compile? DynamicComponentLoader seems to support the adding components dynamically into the component tree, but their templates are still defined statically for compilation at startup.

[2015-08-25 22:36] jteplitz602 commented on #1594
WebWorker design looks good to me.

[2015-08-25 22:38] mhevery commented on #3699
Correct, but we can inline them all the time in `.d.ts` as it is easier to use such a `.d.ts` file from the tools. The suggestions are more useful.

[2015-08-25 22:42] tbosch commented on #1594
@alxhub Could you change this so that the long form as an explicit `compile` and `run` phase? We need this for serverside applications where we compile only once (which is asynchronous), and then `run` on every request (sync).

[2015-08-25 23:00] kegluneq commented on #3834
/cc @vsavkin this seems like it's not yet possible since the render compiler still calls [_compileView](https://github.com/angular/angular/blob/master/modules/angular2/src/render/dom/compiler/compiler.ts#L76).

Am I missing something?

[2015-08-25 23:32] jeffbcross commented on #2904
Hey @rixrix, thanks for chiming in! Sorry I didn't see the notification for your comment sooner.

This actually is a little easier now that Dart support has been dropped altogether for the `http` module.

So to fix this issue, you can just remove the `RequestMethodsMap` class from enums.ts, and then change all occurences of `requestMethodsMap.getMethod(someMethod)` to just use the typescript-provi

[2015-08-26 00:07] yjbanov opened #3840 "Investigate potential code savings in "hello world" app by shutting off optional features"
The outcome of this exercise would be a report on the final code size and a recommendation for what we should do next to get there.

[2015-08-26 00:13] yjbanov opened #3841 "Dart: document code size inspection tools/strategies for ng2"
Such as:

- [unused reflection data instrumentation](https://github.com/angular/angular/issues/3618)
- [ng2soyc](https://github.com/angular/ng2soyc.dart)
- [dump-info tools](http://dart-lang.github.io/dart2js_info/doc/api/)

[2015-08-26 00:16] yjbanov opened #3842 "transformers: reimplement reflection data on top of tree-shakeable map"
Assigning to @sigmundch to give us green light to being implementation.

[2015-08-26 00:33] rixrix commented on #2904
Hi Jeff, thanks I'll look at that today. cheers

[2015-08-26 02:11] xsilen commented on #3754
It sames execute _ConvertAstIntoProtoRecords.create
[code]
its append first, but some ast visit execute nothing,such as `ASTWithSource`
[code]

so the rec still empty, can you check rec whether empty(rec.length>0) first

[2015-08-26 02:38] ewinslow commented on #2449
OK well that's good to know I guess.

[2015-08-26 03:03] rkirov commented on #1828
Yep, we cannot support that is dart because type objects cannot be used in instanceof checks, so we cannot write something like this in dart:

[code]

Supporting this purely for TS is not worth the extra complexity, so I am closing the issue. If it is needed we can revisit adding custom filter to query.

[2015-08-26 03:03] #1828 closed

[2015-08-26 03:39] ewinslow commented on #3798
I don't understand how that ticket relates to this one but I'll trust for now that you've got a plan and will circle back again later to see what the status is.

[2015-08-26 03:50] rixrix commented on #2904
Hi,
I've pushed the PR for this ticket. I'd be good to get some feedback thanks.

[2015-08-26 05:28] nicolabortignon opened #3844 "Error: [jqLite:onargs] jqLite#on() does not support the `selector` or `eventData` parameters"
Hi, I'm using Angular 1.3.18.

I haven't build my project in a while. Today when i started the production pipeline, I saw that there is an error after i concatenate angular with all the other js file. When the files are not concatenated but just used like in developing stage it does work.

It's a long shot, but let see if you have any suggestions here:

It is basically a

Error: [jqLite:onargs] jq

[2015-08-26 05:30] nicolabortignon commented on #3844
Issues closed and move to angular 1.x repo

[2015-08-26 05:30] #3844 closed

[2015-08-26 07:47] tamascsaba opened #3845 "Use reflect-metadata-env-fixed"
The environment detection is incorrect in reflect-metadata and the author's of module @rbuckton not respond the issue:
https://github.com/rbuckton/ReflectDecorators/issues/8

[2015-08-26 07:48] #3845 closed

[2015-08-26 08:23] hitmanmcc commented on #3751
@TiagoBraga39 Good question, I'm actually curious about the response to that. I'm wondering if it works in a similar fashion to DI and if it's subject to control mechanisms like regular DI is, i.e., if you can tell a router how far it can go up the tree to look for a route.

[2015-08-26 08:41] Vinnl commented on #1632
So to be clear: Angular will not support composing SVG documents using separate components? Or in other words, as [mentioned in the documentation of Angular 1](https://docs.angularjs.org/api/ng/service/$compile#-replace-deprecated-will-be-removed-in-next-major-release-i-e-v2-0-) for the deprecated `replace` option:

...that main scenario is no longer supported by Angular 2?

[2015-08-26 08:45] TiagoBraga39 commented on #3580
Hi all!
Can you spot what I am doing wrong?
My service is supposed to save a list of categories, which it does. But the problem is in that case I can't trigger the subscribe from my component.

Main Component:
[code]

---

Other Component
[code]

---

Service:
[code]

---

As you may see, I inject the service into the Main component, and the Other component has visibility over the Main component's

[2015-08-26 09:06] cghislai commented on #3753
With `@Query(MyView)`, components MyView also fails to match the `Type` type with:
[code]
`MyView` injects 3 services in its constructor, without annotations. They are bound through the `boostrap` call.
This happens on alpha 34.

[2015-08-26 10:22] ericmdantas commented on #3580
@TiagoBraga39 I guess it's because you're calling ```.next``` before there's anyone hearing it.

Try doing the following:

[code]

[2015-08-26 10:42] TiagoBraga39 commented on #3580
@ericmdantas Thank you!

Now I understood and makes sense :)
But I don't need the 2nd setTimeout, since it is nested in a subscribe, so there's anyone hearing it. :)

Best regards,
Tiago Braga

[2015-08-26 11:00] ericmdantas commented on #3580
@TiagoBraga39 Glad it worked :smile:

[2015-08-26 11:12] Fank commented on #3733
I think this is fixed with 10437ab85cf1e59fbcff4a4de0ab17d7d3ca14ee

[2015-08-26 13:02] forforeach opened #3847 "Custom validations error"
Hi,

I'm trying to implement a number of custom validation directives. Everything goes good until I put more then 3 directives on same element. When I put four or more validators, I start to receive an error
`EXCEPTION: Cannot instantiate cyclic dependency! (function (cd, renderer, elementRef) { -> NgControl)`
It not happens immediately, but on the second entrance to a page.
Here is a plunkr with

[2015-08-26 15:56] kegluneq commented on #3834
This is waiting on the [Angular 2 Compile Pipeline](https://docs.google.com/document/d/1iVcmAaONB2ztA5GElL9pOkqcU4Gi5LNJDA0Yyp19AQA/edit#heading=h.rjublbfw3tme) refactor.

[2015-08-26 16:07] danicomas commented on #3809
I only wanted to know if this was the correct way. Thanks @mhevery

[2015-08-26 16:10] danicomas commented on #3767
Thanks @gdi2290

[2015-08-26 16:54] chomba commented on #2019
I'm having the same problem with angular 2.0.0-alpha.26, is there any alpha version in which all examples on angular.io will work?

[2015-08-26 17:51] jeffbcross commented on #3713
I've merged the initial work of moving folders around, and am working on the rest of the TODOs in this issue.

[2015-08-26 19:38] mlynch opened #3853 "Child component references"
One common use case that is emerging from Ionic 2 usage is accessing child components from a parent component. `Query` and `ViewQuery` exist, but I don't believe they are intuitive enough for how common this operation is turning out to be.

As an example, take this Gallery component that has an image carousel inside of it. The Gallery wants to control this carousel. It might push new images or rem

[2015-08-26 20:51] gdi2290 commented on #3733
For anyone looking for a workaround. During `postinstall` remove the http typings
`rm -rf node_modules/angular2/bundles/typings/angular2/http.d.ts`
[package.json#L27](https://github.com/angular-class/angular2-webpack-starter/blob/8e4773cdf731e389228b9f394daac6faf644a1bf/package.json#L27) then install tsd that way the file won't be added to tsd.d.ts and make sure to include your own version of http

[2015-08-26 20:56] gdi2290 commented on #3833
ya
Angular 2 Roadmap Update at AngularU.com in San Francisco
[![Angular 2 Roadmap Update at AngularU.com in San Francisco](http://img.youtube.com/vi/aHGmj_fqPLE/0.jpg)](http://www.youtube.com/watch?v=aHGmj_fqPLE)

here's the weekly meeting notes
https://docs.google.com/document/d/150lerb1LmNLuau_a_EznPV1I1UHMTbEl61t4hZ7ZpS0/edit?pli=1

watch/attend [AngularConnect](http://angularconnect.com/)

[2015-08-26 20:57] mhevery commented on #3396
@PascalPrecht It is simpler for the developer. No need to create new concepts. The reason we had actions was to deal with WebWorkes, but CustomRenderer are better solutions there.

[2015-08-26 21:15] gdi2290 commented on #3838
this will be easier to do after this PR https://github.com/angular/angular/issues/3605 I'm assuming your usecase is either A/B testing, Hot Component reload, or different user permission

[2015-08-26 21:20] kegluneq opened #3856 "Remove reflection_entry_points deprecation message"
After 26 Sept, remove the `reflection_entry_points` deprecation message in `common/options_reader.dart` and the constant in `common/names.dart`.

[2015-08-26 22:08] #3535 closed

[2015-08-26 22:13] vikerman opened #3857 "null exception in ElementInjector when removing view elements via *ng-if and are queried using a ViewQuery"
We are using Angular 2 with Dart - Alpha 35.

I have a component with a view that looks like this. My component uses the "show" boolean to control whether the elements underneath are displayed or not.

<div class="outer" *ng-if="show">
   <tab-panel>
         <tab *ng-for="#tab of tabs" title="{{tab.tabTitle}}">
         </tab>
   </tab-panel>
</div>

tab-panel and tab are components implemented i

[2015-08-26 22:34] PascalPrecht commented on #3853
I like that `@Query` and `@ViewQuery` allow us to access children without knowing what the template actually looks like. Having a reference to any local template variable is surely a nice and convenient way to get hold of element instance, however, that also means that the component has to know what identifier is used in the template.

In addition to that, as soon as you change a name of a local v

[2015-08-26 22:43] PascalPrecht commented on #2019
@chomba can you provide a plunk for verification?

[2015-08-26 22:43] PascalPrecht commented on #2019
Also, the latest alpha currenlty is 35 so you might wanna update too

[2015-08-26 23:15] mlynch commented on #3853
That's a great point I didn't think of. I think there's a natural separation between "user components" and "library components": essentially, the user writes these controller-style components and interact with black-box library components.

This is squarely in the user component space. How can we make it easier and more natural than Query?

[2015-08-26 23:19] sumigoma commented on #3838
Yea, I was wondering where this would fit in if components are now going to be precompiled during the build process. My usecase is basically hot component reload and general extensibility, though all of your cases seem applicable too.

[2015-08-26 23:35] btford commented on #3699
I will not have time to work on this in the near future. Unassigning myself.

[2015-08-26 23:35] btford commented on #3699
Also with our current docs infrastructure, this will certainly take days to implement.

[2015-08-27 00:00] jeffbcross commented on #3714
Update: added `debug.js` and `core-no-render.js` to bundles, and added todo to change ambient context to `ng` namespace instead of prefix, to more explicitly represent the bundle hierarchy.

[2015-08-27 00:15] jeffbcross commented on #3714
After further conversation with @mhevery, debug should _NOT_ be its own bundle, but should be included with core, and its `ELEMENT_PROBE_BINDINGS` export should be included in the root injector. I need to make sure that merely including these bindings doesn't produce side effects. I also should open a separate issue to design/clarify the runtime behavior of the debug utilities, if one does not alr

[2015-08-27 00:15] btford commented on #3576
I do not have time to take care of this in the near future. Removing myself.

Also reassigning as effort2, as this will certainly take more than a couple hours with our existing infrastructure.

[2015-08-27 00:22] jeffbcross commented on #3714
Apparently, including the `ELEMENT_PROBE_BINDINGS` will override the `AppViewListener` binding, which would cause compiler to call methods of the debug app listener when creating and destroying views.

https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/view_manager.ts#L30

I propose, as a first step, just including the `debug` lib inside `core` for now, so the `ELEME

[2015-08-27 01:15] jteplitz602 commented on #3563
Nearly done in https://github.com/matsko/angular/tree/web_workers_router. Should land in alpha 37.

[2015-08-27 01:38] jteplitz602 opened #3859 "Standardize message bus usage for server debug tools"
Currently the multiClientServerMessageBus makes a number of assumptions about the application. Most problematic is the assumption that a new browser can connect at any time which means we have to keep a permanent message history. We should define some notion of app state to know when all browsers have been connected.

Additionally, we should formalize the idea of a message that is waiting for a re

[2015-08-27 02:53] rkirov commented on #3857
Should have been fixed in https://github.com/angular/angular/commit/92da5430e7c8a09e2741377946c195f240fe6fa8. It is already in master but you need to wait for the next alpha release (should be in a day or so).

[2015-08-27 07:33] danicomas commented on #3807
@mhevery here the plunker:
http://plnkr.co/edit/o9T9rrJ9mysDZlcLnqSt?p=info

2 times called in load and 1 in an async request :S

[2015-08-27 07:52] danicomas commented on #3804
@mhevery here the plunker:
http://plnkr.co/edit/5j4kMAlnV5dBstDxG6ou?p=preview

You could see that [(ng-control)]="controlPath" is the problem which causes the error. If you go to the console in dev tools you could see the details.

[2015-08-27 10:03] pkozlowski-opensource commented on #3837
@wisesascha it is hard / impossible to say what it your pb here just based on the description. If you believe that there is a bug in ng2 please share a _minimal_ plunk demonstrating it.

I saw that you were getting support on gitter so hopefully I've managed to sort it out by now. If not feel free to re-open with a minimal, live reproduce scenario.

[2015-08-27 10:03] #3837 closed

[2015-08-27 10:36] acalvo opened #3860 "router for angular1: no lifecycle hooks (yet)?"
I've been trying the new version of the router for AngularJS 1.x and could make it work in the most simple scenario (single outlet and a few links to navigate), but couldn't use features such as canActivate and the other lifecycle hooks as they are being ignored (not executed at all). Is this a known bug, or am I missing something? I was quite surprised about this not working since it did back whe

[2015-08-27 10:45] basvandenheuvel opened #3861 "Angular 2 routing"
Hello everyone,

i'm wondering if there is a good tut/example of how to make routing work in Angular2?
Currently i have something working using the RouteConfig in my app component, like this:
[code]

In my app.html i made a simple list to navigate, like this:
[code]

This does actually work, though not completely. The problem is, when i navigate to my... Bootstrap page im on 'XYZ/bootstrap' page.

[2015-08-27 12:04] pkozlowski-opensource commented on #3826
I agree with @IgorMinar - I don't see any reason for this config after migration to a never SystemJS. More generally, I don't think we should be in business in providing System config. Going to send Pr to remove this.

[2015-08-27 12:15] jpsfs commented on #3826
Just a quick question, using the new version of SystemJS shouldn't all modules be registered with the JS extension?

Example:

Before (system ~0.16)
[code]

After (system ~0.18)
[code]

@pkozlowski-opensource

[2015-08-27 12:33] pkozlowski-opensource commented on #3826
@jpsfs while it is true that never systemjs moves to URLs as module modifiers it doesn't matter much in a bundled version since everything is pre-loaded and no HTTP / Ajax request should be done at runtime for ng2-specific resources.

We _could_ register things with .js extension but this would be non-trivial (?) with out current setup in the repo where imports are shared between *.ts and *.dart f

[2015-08-27 12:36] #3861 closed

[2015-08-27 12:40] pkozlowski-opensource commented on #3562
SystemJS was updated to 0.18.10 in 53df0d8b3fd9538374f903b6d6158be12c522cee, I'm going to send a PR that bumps up system builder version.

[2015-08-27 14:56] danicomas commented on #3838
@gdi2290 by now don't exist something as $compile(template)($scope) is not it?

I am creating a component that it has a button and this call a service then it will open a modal. I can add the modal in the DOM with DOM.appendChild but I don't know how can I add the component or the template compiled. In Angular 1.X I would do:

var linkFn = $compile(template);
var el = linkFn($scope);
el.append(el)

[2015-08-27 15:38] rkirov commented on #3826
I added that line, as the original goal of the bundle was to make getting off the ground as quick as painless as possible. That allowed for demoes to have zero `system.config`, and jump straight to `System.import`.

So why not replace it with the 0.18 version `defaultJsExtension: true`, so that demo users don't feel like they need to learn system.js.

[2015-08-27 15:46] pkozlowski-opensource commented on #3826
@rkirov I see your point about trying to make it easier on users. The pb I can see with this approach is that we are enforcing config that impacts all dependencies / everything that goes through SystemJS. So I'm afraid that it might mess up things for more experienced SystemJs users.

I'm not against adding `defaultJsExtension: true` but I would prefer that we, as Angular, don't try to enforce con

[2015-08-27 15:50] jeffbcross commented on #2793
Thanks @PascalPrecht! I updated the list status with yours and some other PRs.

[2015-08-27 16:11] #2904 closed

[2015-08-27 16:12] xsilen commented on #3796
if html body is a component, the body innerHtml should move to angular defined template?
and by the way, in the html file the component define is a bare tag without using children node and it will be removed later?

[2015-08-27 16:29] mhevery opened #3863 "Adde more LifecycleEvents"
Currently we have:
  - `OnInit` / `OnDestroy`
  - `OnCheck` / `OnChange`
  - and `OnAllChangesDone`

Proposal:
  - `onChanges()`
  - `onInit()`
  - `doCheck():boolean`
  - Content
    * `afterContentInit()`
    * `afterContentChecked()`
    * `onContentChanges()` (Delayed for now)
  - View
    * `afterViewInit()`
    * `afterViewChecked()`
    * `onViewChanges()` (Delayed for now)

[2015-08-27 16:30] mhevery commented on #3863
/cc @vsavkin @IgorMinar

[2015-08-27 16:43] vikerman commented on #3857
Thanks. Will verify and close the issue.

[2015-08-27 16:50] mlaval commented on #3829
Not as easy as it seems since we have tests which need to wait for Angular 2, and some that don't.
If waiting can be done with the Testability API, we need a way to find out if a particular a test needs to wait.

@tbosch Any suggestion on how to achieve that in a generic way please? I.e. without setting a flag or doing it in each test?

[2015-08-27 16:54] IgorMinar commented on #3826
the thing is that the bundle should be usable even without systemjs and in that case the config doesn't do anything.

I approved the PR to remove this. If this causes more friction elsewhere we need to find a different solution.

[2015-08-27 16:55] jpsfs commented on #3826
@pkozlowski-opensource I'm not an expert on SystemJS, please correct me if I'm wrong, but if the modules are not registered with ".js", then using **defaultJsExtension: true**, SystemJS will try to look for the modules with the extension and will not find them.

Actually,I think this is not happening right now because of
[code]
When you remove it, the problem I just describe will appear.

Example:

[2015-08-27 16:58] pkozlowski-opensource commented on #3826
@jpsfs I don't think it works like this. SystemJS will first consult its internal registry to see if a dependency is there. Only if a dependency is _not_ registered SystemJS will try to fetch it and this is where `defaultJsExtension` comes into play.

Did you run into actual problems somewhere? If so, could you share a plunk demonstrating those?

[2015-08-27 17:04] danicomas opened #3866 "Remove the first element or replace by the first child element (Replace prop in @View)"
The code rendered of my component is the following:

[code]

By I want this:

[code]

Now is it possible? We need some property for example replace in @ View?

[code]

[2015-08-27 17:20] #3826 closed

[2015-08-27 17:26] danicomas commented on #3866
I have found a way:

Property host

[code]

[code]

[2015-08-27 17:30] danicomas opened #3868 "Class is not added in the component when the style is inside the template"
[code]

[code]

[2015-08-27 17:31] jpsfs commented on #3826
@pkozlowski-opensource yes, you are right. But the fact is that a dependency named _"angular2/src/di/metadata.js"_ *is not* registered, only _"angular2/src/di/metadata"_ is.

I will try to reproduce this is in a plunk asap.

[2015-08-27 17:38] yjbanov commented on #3840
Update: below are code size improvements from removing forms, intl pipes (numbers, currency, date), long stack traces, Uri and dynamic change detector.

### Before

Minified ungzipped: 511kb
Minified gzipped: 145kb

### After

Minified ungzipped: 365kb (-28%)
Minified gzipped: 105kb (-27%)

### Breakdown

The reliance of Dart core libs dropped from 126kb to 89kb. Angular's own code dropped from 17

[2015-08-27 17:43] alexeagle commented on #3514
I'm not currently working on this, it would be a good community contribution.

[2015-08-27 17:47] rkirov commented on #3826
@IgorMinar sounds good, lets revisit if we end up having to remind people to set `defaultJsExtensions: true`.

[2015-08-27 18:16] alexeagle opened #3869 "Investigate sharding the build"
Our build is slow. Maybe we could be parallelizing tests, or maybe we are needlessly waiting for something to finish and could have already started something else (figure out the critical path)

from https://github.com/angular/angular/commit/30bd2a3fc72f8f1cdb0ffc4b9d11b4ca42e9ece7#commitcomment-12705576
see https://stripe.com/blog/distributed-ruby-testing as a success story

[2015-08-27 18:20] yjbanov opened #3870 "Dart: make forms API optional"
Currently Forms API is pulled in automatically with the rest of Angular, resulting in extra 10kb in minified ungzipped code.

[2015-08-27 18:23] yjbanov opened #3871 "Dart: make intl pipes optional"
This includes all pipes that depend on `package:intl` (currency, number, date).

[2015-08-27 18:24] yjbanov opened #3872 "Dart: make long stack traces optional"
They pull in `package:stack_trace` dependency, which in turn pulls in `package:path` and `trace`.

[2015-08-27 18:27] yjbanov opened #3873 "Dart: remove dependency on Uri"
Uri fully implements the URI spec and contributes 14kb to our code size. However, we only need a small subset of it. We should roll our own (perhaps port the regex-based JS implementation to Dart).

[2015-08-27 18:29] #3840 closed

[2015-08-27 18:48] IgorMinar commented on #3863
`OnViewChecked` and `OnChildrenChecked` sound good to me.

I like the idea of letting the parent know if the stuff under changed, but I don't think that providing a number of changes is useful. It should be sufficient to know if anything changed at all, so I'd go with a boolean.

[2015-08-27 18:49] IgorMinar commented on #3826
I think that using defaultJsExtensions is now discouraged. I'm looking into
this stuff this week.

On Thu, Aug 27, 2015 at 10:47 AM Rado Kirov <notifications@github.com>
wrote:

[2015-08-27 19:36] SekibOmazic commented on #2296
@mhevery No special use case to be honest. I just expect the custom event to bubbled as well. It's not intuitive the first time you deal with it, but later on it's not a problem.

So another nice to have I guess.

[2015-08-27 19:59] btford opened #3874 "d.ts generation does not preserve spread arguments"
If you look at the generated definition for `Type` in `angular2.d.ts`, you'll notice that it does not include the spread operator as it was declared in `core/facade/lang.ts`.

@alexeagle can you please help with this?

This causes #3753.

[2015-08-27 21:03] yjbanov opened #3877 "Implement programmatic change detection profiler"
The profiler would be accessible via dev tools. When a developer installs the profiler DI module they get access to global functions they could invoke directly from the dev tools console.

The profiler would be exposed under global namespace `ng` (which in the future could host more tools). To profile change detection specifically, a developer would enter:

[code]

The profiler would invoke `LifeC

[2015-08-27 21:41] vernjensen opened #3878 "Minor documentation issue: Step by Step Guide: Step 3: User Input"
For the docs here:
https://angular.io/docs/js/latest/guide/user-input.html

in the Final Code section, this line:

    <li *ngfor="#todo of todos">

should instead be:

    <li *ng-for="#todo of todos">

It is correct earlier in the article.

[2015-08-27 21:52] vicb commented on #3878
see https://github.com/angular/angular.io/pull/192

[2015-08-27 21:52] #3878 closed

[2015-08-27 22:03] jteplitz602 commented on #3492
Looks like this will become unblocked with TypeScript 1.6

[2015-08-27 22:19] gustavoq-infocorp opened #3879 "router.recognize doesn't find urls ( alpha.35 )"
I'm using router.subscribe to know when a navigation occurred and I'm trying to get the component related with the current url (from router.subscribe) but router.recognize doesn't find it.

I tried to call router.recognize with other registered urls but the result is the same.

See code here http://plnkr.co/edit/R5tqQdw2u59eBch1nikE

[2015-08-27 23:48] tbosch commented on #3829
I think for the examples/benchmarks that don't use `bootstrap` we should just create the `Testability` registry manually in the example/benchmark, so that the integration works for all e2e tests.

[2015-08-27 23:56] itslenny commented on #3497
@pkozlowski-opensource @mgcrea

What about strings? The legacy `limitTo` supports strings and arrays.

Should it be `slice` and `substr`? or should we keep `limitTo` for strings and use `slice` for arrays?

[2015-08-27 23:58] itslenny commented on #3497
I'm thinking `substring` and `slice` since those map to the native javascript API and they both work the same way (startingIndex, endingIndex)

[2015-08-28 04:07] gkalpak commented on #3497
Why not `slice` for both (using the same pipe) ?

[2015-08-28 04:20] bradlygreen commented on #3840
Nice!

Where are we on JS/TS?  What can be reused there?

[2015-08-28 04:53] vicb commented on #3863
After having seen your PR I get what the names actually mean.

I'm not sure I like that `on`, `do` and `after` all 3 mean after, why different prefixes ?

I also find `content` confusing (remind me of `<content>`)

[2015-08-28 06:08] #2497 closed

[2015-08-28 06:08] #3396 closed

[2015-08-28 06:39] rolandjitsu commented on #1047
:+1:

[2015-08-28 06:40] #3833 closed

[2015-08-28 06:43] rolandjitsu commented on #2031
@mhevery probably this should be closed as [#3676](https://github.com/angular/angular/issues/3676) was closed as well.

[2015-08-28 06:45] #2031 closed

[2015-08-28 06:49] mhevery commented on #3863
@vicb

- `on` (`onInit`, `onDestroy`, 'onChanges`) Something has just happen letting you know, I don't care what you do with it.
- `doCheck` - I need you to do something right now.
- `afterViewChanges` - just letting you know that we have passed a certain point. Here `on` would sound ambiguous, and `after` makes it clear that it is after view changes have been processed.

But there is still time t

[2015-08-28 08:30] danicomas commented on #3868
I have tried this and doesn't work:

[code]

The class is not binding in the primary element :S

[2015-08-28 09:05] danicomas commented on #3868
It works with the following:

[code]

[2015-08-28 09:11] PascalPrecht opened #3882 "refactor(ngContent): rename <ng-content> to <ng-slot>"
Turns out that the Shadow DOM's spec `<content>` element has been deprecated and is now called `<slot>`.

Do we want to align `<ng-content>` accordingly?

https://w3c.github.io/webcomponents/spec/shadow/#slots

[2015-08-28 09:12] pkozlowski-opensource commented on #3868
@danicomas it is a bit hard to follow what your problem is / what you are struggling with. Are you saying that you think you've found a bug? Or you've got general support questions / need clarification? In the later case, could you please try to use gitter channel first (https://gitter.im/angular/angular) for support requests?

If you believe that you are bumping into a bug, could you please share

[2015-08-28 09:30] cexbrayat opened #3883 "directive with "[on-*]" selector"
Upgrading my app from alpha34 to alpha35, one directive I had with a selector `[on-init]` was not working anymore. I realize it must be conflicting in the parser with the canonical syntax for events, but it was working until alpha35 and the error we have now is not really explicit:

    TypeError: Cannot set property 'lastInBinding' of undefined
    at Function._ConvertAstIntoProtoRecords.create (

[2015-08-28 09:57] danicomas commented on #3868
@pkozlowski-opensource I don't know if it is a bug or no. The first comment and the second is about the class of the first element wasn't binded but the child class of the child elements yes.

[code]

 Then, the last comment is about I have found a solution adding encapsulation attribute to NONE

[code]

but I don't know if it is correct. ViewEncapsulation.NONE causes that the elements are not bin

[2015-08-28 10:24] pkozlowski-opensource commented on #3883
@cexbrayat could you please share a plunker with a minimal reproduce scenario? I can't reproduce it with a simple scenario: http://plnkr.co/edit/pNU1ZgP5LBY346RNsfI9?p=preview

[2015-08-28 10:31] cexbrayat commented on #3883
If you check the console, you should see the error (I see it with your plunk).
My use case was even minimal http://plnkr.co/edit/HSHL9oiGk2C5U3MzOW3Z?p=preview
Check the console, see the error, change the selector to `[init]`, the error disappeared.

[2015-08-28 10:34] cghislai commented on #3868
I think if you put your CSS class on the host attribute of the ng-dialog component, then it will be added to the <ng-dialog> tag. DOM shadowing will hide this from component's view. If you place your .dialog-ocntainer CSS rules in the parent component of ng-dialog, then it should work.

To keep your style in your component scope, why not just wrap your template in a <div class=dialog-container>?

[2015-08-28 11:17] kweheliye commented on #3797
See this issue https://github.com/angular/angular/issues/3740

[2015-08-28 12:08] danicomas commented on #3868
@cghislai I have put it in the parent element and it doesn't work. Probably the binding is about _ngcontent-<componentid> and the componentid is not the same :S

In angular 2 we don't have a replace attribute. If I wrap this: ```<div class=dialog-container>``` the result will be:

[code]

For the modal I need the position:absolute :D

By the moment I think that the best way is this solution: https

[2015-08-28 12:15] pkozlowski-opensource commented on #3883
In fact this has nothing to do with directives / selectors. The error you are seeing comes from from using an event handler with an empty event handling expression. Minimal reproduction here: http://plnkr.co/edit/CyRqhNiUGceEhn9jU4fu?p=preview

I believe that we've got an issue for this already, let me find one.

[2015-08-28 12:18] pkozlowski-opensource commented on #3883
OK, so this is duplicate of https://github.com/angular/angular/issues/3754

[2015-08-28 12:18] #3883 closed

[2015-08-28 12:22] forforeach commented on #3847
Anybody?

[2015-08-28 12:23] pkozlowski-opensource commented on #3874
Looks like it was fixed via a34d4c6a5f75fdc766d1e80635215550b1e4a065, right? @alexeagle @btford ?

[2015-08-28 12:25] pkozlowski-opensource commented on #3847
@forforeach you will greatly maximize your chances of answer if you trim down your plunker to the absolute minimum needed to reproduce the pb. Yours is substantial atm. Please remove all the stuff that is not essential (ex.: do you routing to trigger the pb?)

[2015-08-28 13:09] yangxin9003 opened #3884 "angular 1.4.4 paramSerializer doesn't work"
$httpProvider.default.paramSerializer = '$httpParamSerializerJQLike'    doesn't work。
[code]
this is work fine，but what is correct usage?
I'm new to angular, thank your very much.

[2015-08-28 13:10] Pajn commented on #2383
Can't `baseUrl: module.id` be automatically added as a build step?

[2015-08-28 13:10] ericmartinezr commented on #3884
Hey @yangxin9003

this repo is for ng2. You are looking for this one https://github.com/angular/angular.js (ng1)

[2015-08-28 13:12] yangxin9003 commented on #3884
sorry....

[2015-08-28 13:12] #3884 closed

[2015-08-28 13:34] akhilclarion opened #3885 "Unexpected directive value 'undefined' on the View of component 'TodoApp'"
Hi,

I started with AngularJS2, but i am getting this error.

Please tell, why this error comes.

[2015-08-28 13:39] rolandjitsu opened #3886 "will facade be exposed on the angular2 public namespace?"
Right now most of the things we need to write an app we can just import them from `angular2/angular2`, but there are some useful things under the facade like `isFunction`, `isBlank` and so on.

Are there any plans on exposing all of those things in the facade folder on the `angular2/angular2` namespace?

[2015-08-28 13:44] pkozlowski-opensource commented on #3886
Most probably not. Facades are here to abstract JS / Dart differences. We don't want to be in business of providing general helper functions as there are already plenty of libraries that do just that in a generic manner. Facades are minimal and for internal use - we don't want to grow those to sth generic as not to add too many bytes to the framework.

[2015-08-28 13:44] #3886 closed

[2015-08-28 13:46] rolandjitsu commented on #3886
@pkozlowski-opensource makes sense, I was just curious what were the plans for it.

[2015-08-28 13:47] pkozlowski-opensource commented on #3885
Most probably you've put something in a directive list that doesn't exist. Most of the time this is due to a missing / misspelled import, ex:

[code]

Hard to say more without more context. Please try a support forum (https://gitter.im/angular/angular) for those types of questions - we want to keep GitHub issues for bug reports / feature requests. Thnx!

[2015-08-28 13:47] #3885 closed

[2015-08-28 13:57] rolandjitsu opened #3887 "DOM should be exposed under test_lib"
Right now if I want to do some DOM operations during unit tests I have to import `DOM` from `angular2/src/dom/dom_adapter`, wouldn't it make sense to expose `DOM` under a different name (`MockedDOM` or something) under `angular2/test_lib` since the only place `DOM` will be used by end users will be in tests?

[2015-08-28 14:00] pkozlowski-opensource commented on #3887
I've got an impression that you are trying to use our DOM facade as an utility library. AFAIK, this is not the intent of this abstraction. If you are after queering DOM in tests, why not use DOM API directly or even jQuery?

[2015-08-28 14:03] rolandjitsu commented on #3887
@pkozlowski-opensource you can see how I use `DOM` [here](https://github.com/rolandjitsu/ng2-play/blob/master/src/common/icon.spec.ts) and [here](https://github.com/rolandjitsu/ng2-play/blob/master/src/app/directives/logo.spec.ts#L84).

[2015-08-28 14:24] pkozlowski-opensource commented on #3887
@rolandjitsu from what you can see you are using 2 methods:
* `DOM.querySelector`
* `DOM.createElement`

You can safely replace those with built-in browser, native implementations. ng2 facade doesn't add anything here, it is a simple proxy: https://github.com/angular/angular/blob/be0739085976bbdbcf8f560475e87b07343f464d/modules/angular2/src/core/dom/browser_adapter.ts#L177

I'm going to go ahead a