[2016-06-16 15:41] ericmartinezr commented on #9261
@Host doesn't require to now about the type of the parent. If you don't know simply use a service. See https://angular.io/docs/ts/latest/cookbook/component-communication.html

Also see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2016-06-16 15:43] marcalj commented on #9132
Fixed in RC2. Thanks!

[2016-06-16 15:43] #9132 closed

[2016-06-16 15:45] giancarloa commented on #9261
thank you @ericmartinezr ... but as I mentioned above the solution cannot involve having to change the parent and the service solution requires this...

i will ask the question in the appropriate forum... thank you

[2016-06-16 15:45] #9261 closed

[2016-06-16 15:47] edaddou commented on #8506
It was actually a problem in the constructor, it doesn't accept any parameters, I kept in looking for similar problems but didn't figure out the problem yet.

[2016-06-16 15:50] tyroneLord opened #9262 "EXCEPTION: No Directive annotation found on ArticleCompontent"
I am working from the ng-book-2 for angular i am getting this issue but not sure why. below is my code.

import { bootstrap } from "angular2/platform/browser";
import { Component } from "angular2/core";

@Component({
	selector: 'reddit-article',
	// host creates the css class or row ont eh reddit-article tag we created
	host:{
		class: 'row'
	},
	template: `
	<div class="four wide column center al

[2016-06-16 15:52] zoechi commented on #9258
This is not supposed to work. `{{}}` binding stringifies the value before assigning it.

[code]
does what you want. http://plnkr.co/edit/ZMclWbmLn82PV8unxLwZ?p=preview

GitHub issues are for bug reports and feature requests.
    For support questions please use other channels like the ones listed in [CONTRIBUTING - Got a Question or Problem?](https://github.com/angular/angular/blob/master/CONTRIBU

[2016-06-16 15:55] ericmartinezr commented on #9262
See https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2016-06-16 15:55] zoechi commented on #9262
GitHub issues are for bug reports and feature requests.
    For support questions please use other channels like the ones listed in [CONTRIBUTING - Got a Question or Problem?](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question)

If you still think it's a bug, then please post a Plunker that allows to reproduce.

[2016-06-16 15:58] zoechi commented on #9261
Looks like a dup of #8277

[2016-06-16 16:06] RicardoVaranda commented on #9258
@zoechi does this work with components?

I'm trying to load a component in innerHTML but it doesn't seem to work.

[2016-06-16 16:06] giancarloa commented on #9261
@zoechi ... thank you... yes it does look like the same sort of issue... if I read the thread correctly, it's an unanswered question correct???? I see a workaround listed but it seems like an unsupported solution...

[2016-06-16 16:11] naveedahmed1 opened #9263 "Angular 2 RC 2 New Forms"
Hi,

As suggested in article
 https://docs.google.com/document/u/1/d/1RIezQqE4aEhBRmArIAS1mRIZtWFf6JxN_7B4meyWK0Y/pub

that in order to use new forms in RC2 we need to disable deprecated forms using below code:

[code]

Which apparently means that we now also need to include below in our package.json:

`"@angular/forms": "2.0.0-rc.2",`

But when I add "@angular/forms": "2.0.0-rc.2", to my package.

[2016-06-16 16:11] tyroneLord commented on #9262
oh sorry i will close the issue'

[2016-06-16 16:11] #9262 closed

[2016-06-16 16:17] IgorMinar commented on #9244
thanks for the report. we'll fix this in rc.3

[2016-06-16 16:18] IgorMinar commented on #9244
the rollup.config.json is incorrect for the `upgrade` package.

[2016-06-16 16:22] zoechi commented on #9258
This doesn't work with any kind of binding. Components and directives are only instantiated for HTML statically added to the template.
What you can use is `ViewContainerRef.createComponent()`. For an example see http://stackoverflow.com/questions/36325212/angular-2-dynamic-tabs-with-user-click-chosen-components/36325468#36325468

[2016-06-16 16:25] zoechi commented on #9261
exactly

[2016-06-16 16:25] giancarloa commented on #8277
anyone know if a supported solution to this problem is available now? I too have a similar requirement... I have a child component that can literally be used inside of any type of parent component... and the child component needs to access the parent component...

[2016-06-16 16:26] timkindberg commented on #2296
I tend to agree that bubbled events are still coupled to the components that listen to them. I also agree its hard to read and follow event-based logic flows as @scottwio has said (it's easier to write though :).

If we do bubble I might recommend namespaced events to more easily track where an even it coming from. e.g. In this example it's hard to determine where the event comes from:

[code]

In

[2016-06-16 16:36] kylecordes opened #9264 "Which commit is RC.2?"
I see the blog post, I see rc.2 on NPM.

Great!

But looking at the repository right here I see the package file is still labeled as rc.1. I was guessing that we would see a commit right here around the time of the official drop, and that would mark the point that is rc.2. But I haven't seen it yet, makes me wonder if either there is still some rc.2 work in progress (is the thing in NPM now, going

[2016-06-16 16:37] kylecordes commented on #9255
Possibly related to #9264 I just put in?

[2016-06-16 16:39] CarlCui commented on #9264
See https://github.com/angular/angular/releases

[2016-06-16 16:40] IgorMinar commented on #9248
@phevose it seems that your node_modules where stale. I recommend using npm shrinkwrap to prevent these kinds of issues or at least delete your node_modules and reinstall whenever you change your package.json manually.

[2016-06-16 16:40] #9248 closed

[2016-06-16 16:43] IgorMinar commented on #9249
@kara can you please review?

[2016-06-16 16:43] vicb commented on #9263
The forms package versiob is decoupled, you should use 0.1.0 for now, see https://www.npmjs.com/package/@angular/forms

@kara please correct me if I'm wrong

[2016-06-16 16:43] #9263 closed

[2016-06-16 16:45] kylecordes commented on #9264
Ah, very good, thanks. So this item is just a reminder to update what it says in package.json:

https://github.com/angular/angular/blob/master/package.json

[2016-06-16 16:45] #9258 closed

[2016-06-16 16:46] chuckjaz opened #9265 "StaticReflector reports 'call not supported' if a class uses a custom decorator."
* **I'm submitting a ...**
[code]

**Current behavior**

When getting metadata statically for a type such as:

[code]

the static reflector reports `Unsupported function call ...`.

**Expected/desired behavior**

The custom decorator should be ignored.

[2016-06-16 16:53] naveedahmed1 commented on #9263
Thank you Victor, it worked!

[2016-06-16 16:57] IgorMinar commented on #9264
the root package.json is not the source of truth for version numbers. there is an issue open to better deal with versioning and npm publishing: https://github.com/angular/angular/issues/9233

I also [updated](2b1ac63e3a7e1baa0cd05534ca21f103ea9dcb31) the package.json just to prevent more confusion in the meantime.

[2016-06-16 16:57] #9264 closed

[2016-06-16 16:58] IgorMinar commented on #9255
@StephenFluin looks like we missed these two breaking changes. Can you please add them manually?

we should also make sure that breaking changes from "refactor" commits are always included in the changelog. Can you please file an issue for that and add it to rc.3?

[2016-06-16 17:07] IgorMinar commented on #9252
Safari 8. 9.0 and 9.1 are supported: https://travis-ci.org/angular/angular/jobs/138100724#L1022

we run the tests against safari in an optional group of browsers because of network flakiness we've been experiencing lately.

we should however have an official docs page documenting the browser support. @robwormald @StephenFluin can you please help with this?

[2016-06-16 17:08] vicb commented on #9253
Could you please try `[src]=url` and report if this works ?

/cc @mprobst

[2016-06-16 17:08] StephenFluin opened #9268 "Changelog generator should include breaking changes from refactor commits"
We need to update the changelog generation script to include any breaking changes from commits labeled `refactor` to avoid issues such as #9255.

[2016-06-16 17:08] IgorMinar commented on #9256
@StephenFluin can you please fix this? thanks!

[2016-06-16 17:12] hartjus commented on #9196
I see that RC2 was released yesterday (6/15) and I can see the withCredentials support.  Thank you!

[2016-06-16 17:12] #9196 closed

[2016-06-16 17:13] vicb commented on #9268
Dup of #5672 ?

[2016-06-16 17:15] vicb commented on #9221
/cc @pkozlowski-opensource are you guys supposed to on this ? Thanks

[2016-06-16 17:17] vicb commented on #9265
@chuckjaz could you please update the milestone when the fix is expected ? Thanks

[2016-06-16 17:28] filiph commented on #9231
We're targeting July and it's going to be a big one.

[2016-06-16 17:29] filiph commented on #8470
For the next Angular 2 Dart release, we're targeting July and it's going to be a big one. (I want to share more but I can't.) Thanks for your patience.

[2016-06-16 17:37] cdcooksey commented on #9257
@ajayambre It is in the change log under `2.0.0-rc.0 (2016-05-02)`.

[2016-06-16 17:43] #8470 closed

[2016-06-16 17:51] mprobst commented on #9253
There are two problems here:

1. [ ] sanitization does not work with interpolation, even if it's effectively a no-op interpolation, we end up with a broken string.
2. [ ] we do not generate a proper error message

I talked to @tbosch, we think the fix is to move interpolation into the sanitization service, and unwrap safe values before concatenation, and not unwrap anything if it's a no-op interpo

[2016-06-16 17:56] MasDevProject opened #9269 "Strange bahaviour in Router.subscribe()"
Hi guys,
migrating from Rc1 to Rc2 I got a strange behaviour.

Using Rc1 the argument of Router.subscribe method was a string rapresenting the complete url of the next state:
For example:
[code]
was returning `main/course-details`
but now `next` is a `ComponentInstruction` and it does not consider the sub paths.
For example I have a path like this: `http://localhost:2020/main/course-details`
`main

[2016-06-16 18:06] stonecat9 opened #9270 "rc2 router.d.ts file missing constructor definition"
* **I'm submitting a ...**
- [X ] bug report

**Current behavior**
The router.d.ts file located at @angular/router/src/router.d.ts is missing the definition for the Router's constructor. I think that this line needs to be added to the file:

 constructor(_rootComponent: Object, _rootComponentType: Type, _componentResolver: ComponentResolver, _urlSerializer: RouterUrlSerializer, _routerOutletMap: R

[2016-06-16 18:22] aquinum6 opened #9271 "Router v3.0.0-alpha.6 by vsavkin"
Router package of one of your contributors seems to override RC2 in npm as a new version. So no longer you can find RC2 as current on npm.

[Router v3.0.0-alpha.6](https://github.com/angular/vladivostok)
[npm search result of: angular router](https://www.npmjs.com/search?q=angular+router)
[npm search of "@angular/router"](https://www.npmjs.com/search?q=%40angular%2Frouter)
[npm google result of se

[2016-06-16 18:22] qdouble commented on #9251
@ericmartinezr that doesn't appear to work either. I see they've labeled it, so I suppose it is indeed a bug.

[2016-06-16 18:29] IamKritika opened #9272 "Unable to update the state of checkbox even if ng-nodel is changed"
I am trying to implement "select all" checkbox through angular 2.

I have a list of checkboxes and one select all checkbox. And in my use case it's so that if user checks all checkboxes from the list manually , I have to uncheck all the checkboxes from the list and check the "All" checkbox. So I have binded a ngModel and ngModelChange to all the checkboxes .Now what happens is if I try to update t

[2016-06-16 18:44] conartist6 opened #9274 "ngFor asnyc subscription cleanup leaks"
* **I'm submitting a ...**
- [X ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

**Current behavior**

When using the async helper inside ngFor when ngFor is displaying content from an array of size greater than one, then the host element is destroyed: one subscription is leaked. See plunkr.

**Expected/de

[2016-06-16 18:51] conartist6 commented on #9274
My first question is: is it only failing to clean up observers, or is it also leaking elements?

[2016-06-16 19:00] Hongbo-Miao commented on #8506
In **angular2-infinite-scroll**, the bug was fixed by changing from:
`constructor(private element: ElementRef | any)`
to
`constructor(private element: ElementRef)`

[2016-06-16 19:01] zoechi commented on #9274
sounds like #9190

[2016-06-16 19:01] bentolor commented on #4933
Just started to suck in the Angular 2 documentation like a champ and liked every bit of it.

Until I arrived at the [Forms Chapter Section **»Add a hero and reset the form«**](https://angular.io/docs/ts/latest/guide/forms.html#!#add-a-hero-and-reset-the-form) which gave me a biiiiiiig _WTF?!!_

[code]
and
[code]

Glad to see that the removal of this workaround is planned for the final milestone. B

[2016-06-16 19:01] zoechi commented on #9272
GitHub issues are for bug reports and feature requests.
    For support questions please use other channels like the ones listed in [CONTRIBUTING - Got a Question or Problem?](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question)

[2016-06-16 19:03] zoechi commented on #4933
@bentolor forms module is being reworked currently

[2016-06-16 19:08] conartist6 commented on #9274
Why yes it does. I looked, but I guess I was only looking at open issues. Oops.

[2016-06-16 19:09] born2net commented on #4933
good more API changes... LOL

[2016-06-16 19:13] MarkPieszak commented on #9271
Isn't the router-v3 supposed to be the new (replacing) router?

[2016-06-16 19:19] kleijnweb commented on #9253
I've tried taking interpolation out of the equation using @vicb's suggestion to no avail. I'll try to create a Plunker for the issue.

[2016-06-16 19:20] zoechi commented on #4933
@born2net sure so you developer guys don't get rusty ;p

[2016-06-16 19:22] born2net commented on #4933
xD

[2016-06-16 19:23] IamKritika opened #9275 "state of the checkbox not getting updated even after its ng-model value is updated"
* **I'm submitting a bug for state of the checkbox not getting updated even after its ng-model value is updated**
- [ ] bug report

**Current behavior**
If you try and update the ngModel of a checkbox in say ngModelChange method, the ngModel value is updated but the checkbox still remains in previous state.

**Expected/desired behavior**
The state of checkbox should change as ngModel value changes

[2016-06-16 19:26] bentolor commented on #4933
@born2net  @zoechi I'm rather puzzled to read about that when a software is already declared as RC2 maturity.

Any issue tracking the "forms module rework" for reference?

[2016-06-16 19:42] ericmartinezr commented on #9271
Yes, the vladivostok router is the new new new router. The beta and RC router are both abandoned.

[2016-06-16 19:45] kleijnweb commented on #9253
Okay, so avoiding interpolation *and* using `bypassSecurityTrustResourceUrl()` makes John a happy boy: http://plnkr.co/edit/2Nl7zbHG0eOyc87juH50?p=preview

[2016-06-16 19:53] rjamet commented on #9253
For general concatenations, it all boils down to whether safety is kept over concatenation, and if you can sanitize by parts. Angular 1 changes behavior depending on whether there's concatenation or not, and it understands that there's no concatenation in src="{{foo}}" (or rejects concatenations in sensitive contexts: https://github.com/angular/angular.js/blob/master/src/ng/interpolate.js#L310).

[2016-06-16 19:58] ericmartinezr commented on #9257
@cdcooksey sadly nope, the refactorings they mention in RC.0 are part of the RC router, which is abandoned also.

What I truly agree with is that this should be at least on the website with a huge red div saying

- beta router is abandoned
- RC router is abandoned
- a new new new router is being written (a link to vladivostok and all references to the router : Victor blog, angularjs blog with the

[2016-06-16 19:59] kemsky commented on #9269
Temp fix is to use `router.currentInstruction`.

This is breaking change but it was not documented. Also initialization/event order seems to be changed.

[2016-06-16 20:02] zoechi commented on #9275
Please provide a plunker that allows to reproduce.

[2016-06-16 20:03] cdcooksey commented on #9257
@ericcarraway  You mean like this?

![angular_changelog_md_at_master_ _angular_angular](https://cloud.githubusercontent.com/assets/1116789/16131309/d1923b0c-33ca-11e6-9256-22314e08fbb7.png)

![router__deprecated_beta__-_ts](https://cloud.githubusercontent.com/assets/1116789/16131356/0b79f864-33cb-11e6-80d9-8cee728dacdb.png)

[2016-06-16 20:04] ericmartinezr commented on #9269
Guys, beta router and RC router are both abandoned, they won't be fixed. The new new new router is what you should be using

Reference

http://victorsavkin.com/post/145672529346/angular-router
http://angularjs.blogspot.cl/2016/06/improvements-coming-for-routing-in.html
https://github.com/angular/vladivostok

unless I'm misunderstanding this issue and you refer to the vladivostok router.

[2016-06-16 20:04] #9271 closed

[2016-06-16 20:05] #9274 closed

[2016-06-16 20:08] ericmartinezr commented on #9257
Yes, like that

new package: @angular/router - component router with several breaking changes

Those two routers `@angular/router-deprecated` and `@angular/router` are both abandoned. The problem here is when they say "release candidate component router" they're not talking about the vladivostok router, but the RC, which... well... you know, it was abandoned.

They are actually updating the guide,

[2016-06-16 20:42] sumigoma opened #9277 "Add SVG support to HTML sanitizer"
* **I'm submitting a ...**

[X] feature request

**Current behavior**
SVGs are always rejected by HTML sanitizer

**Expected/desired behavior**
Sanitize SVG markup

* **What is the motivation / use case for changing the behavior?**
RC2 introduced HTML sanitization but it currently does not support SVG sanitization and all SVG elements are rejected. Our app makes heavy use of SVG injection.

* **An

[2016-06-16 20:49] #9255 closed

[2016-06-16 20:49] vicb commented on #9277
Could you give an example of what is rejected ?

[2016-06-16 21:05] kemsky commented on #5184
Change detection has a lot of overhead compared to direct property manipulation leading to be less responsive, i bet this example will never work.

A more general case is *input masking* and *input filtering*, *input(display) formatting* and *input parsing (i.e. date)*.  All this features are not `ngModel` friendly.

[2016-06-16 21:09] xtofian commented on #9253
Agree with @rjamet.  The problem is that  the languages we're interpolating into (URLs, HTML, CSS), have very complicated embedding contexts, and whether or not a particular interpolation is safe does not only depend on what we know about the value being interpolated (e.g., based on its type, or a runtime check that's been performed), but also on the context it is being interpolated into.

That co

[2016-06-16 21:18] kbdguy commented on #7793
@jmb-mage Sorry... yes, I meant package.json.  I believe the only one that matters is right in the root angular2-seed folder.  That's the only one I edited and the problem went away.

[2016-06-16 21:47] sumigoma commented on #9277
Here is a plunkr with a simple SVG getting rejected by the sanitizer.
http://plnkr.co/edit/qzZEGIzFgvYANIHquuEt?p=preview

A simple <button> also seems to get stripped.
Where can we find the whitelist of allowed tokens?

[2016-06-16 21:51] nolazybits commented on #4112
Seems that this is now working as @brandonroberts said on gitter.
Link of working example is http://plnkr.co/edit/gQcyGu?p=preview

[2016-06-16 22:09] vicb commented on #9277
It is not related to SVG but to setting `innerHtml` which is the expected behavior.
You have to explicitly indicate that the HTML is safe (ie not injected by a user).

I don't think the security doc is ready yet but it should be in the next few days.

/cc @mprobst

[2016-06-16 22:09] #9277 closed

[2016-06-16 22:19] IgorMinar commented on #9277
you can use svg within template but you can't inline svg into a template via binding just like you can't inline html into the template in this way except innerHtml. In the case of innerHtml, by default we sanitize the value and not allow any svg because svg is tricky to sanitize.

I suggest that you either convert your strings to Angular templates:

http://plnkr.co/edit/RQDrg6isqnvfjSTwpEqp?p=prev

[2016-06-16 22:24] kemsky opened #9278 "QueryList: array-like callbacks could have optional index arg"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

For example:

The signature of a QueryList's map method is:
[code]

**Expected/desired behavior**

It would be more useful if it was:
[code]

**Please tell us about your environment:**

* **Angular version:** 2.0.0-rc.X

[2016-06-16 22:25] IgorMinar commented on #9269
@ericmartinezr is right. I think you are accidentally using the rc.2 router which is the last router 2.0.0-rc.x release (it primarily removes the peerDependency constraint so that you can update to rc.2 without having to jump to router v3). Please use router v3 going forward.

[2016-06-16 22:25] #9269 closed

[2016-06-16 22:30] sumigoma commented on #9277
Thanks @IgorMinar.

Does this mean there will *never* be native support for SVG sanitization in the framework? It seems [ng1's $sanitize](https://docs.angularjs.org/api/ngSanitize/service/$sanitize) provided some support for SVGs ("The input may also contain SVG markup if this is enabled via $sanitizeProvider.")

Can we expose the ability to override/manage whitelisted tokens through extending the

[2016-06-16 22:33] kara commented on #9251
The updates to forms are still very much in progress, so a few things in the proposal doc are slated for the next forms release and aren't implemented yet (namely, formArrayName and form level updateValue).  I've updated the original proposal doc to clarify these are still to come.

I'll keep this issue open so it's easier to track its completion. Sorry for the confusion!

[2016-06-16 22:38] IgorMinar commented on #9221
I think we need more information about this issue. From the stack trace it looks like you are using systemjs in the browser to load the commonjs modules of angular distributed via npm.  can you please confirm?

[2016-06-16 22:39] IgorMinar commented on #9221
could you also try to use bundles instead of individual files like we do in this plunker template http://plnkr.co/edit/tpl:AvJOMERrnz94ekVua0u5

[2016-06-16 22:45] IgorMinar commented on #8667
now that there is router v3 is now obsolete

[2016-06-16 22:45] #8667 closed

[2016-06-16 22:45] IgorMinar commented on #8801
now that there is router v3, this issue is now obsolete

[2016-06-16 22:45] #8801 closed

[2016-06-16 22:46] IgorMinar commented on #9257
yes, we are upgrading the guides. please use v3 router going forward.

[2016-06-16 22:46] #9257 closed

[2016-06-16 22:50] IgorMinar commented on #9259
the animations previously stored under src/animate/.. were never publicly released. we were iterating on the animations apis and implementation still and only in rc2 we exposed the animation apis.

@matsko can add more info, but generally speaking please never import from `@angular/<packageName>/src/` as anything there is private and is not considered to be part of the public api surface.

[2016-06-16 22:50] #9259 closed

[2016-06-16 22:50] qdouble opened #9281 "With new forms api, can't add inputs from child components without adding additional form tags"
**I'm submitting a ...**  (check one with "x")
- [x] bug report

**Current behavior**
With the new forms api, can't load input from child component without including an additional forms tag. Will get error >VM65345 angular2-polyfills.js:487Unhandled Promise rejection: Template parse errors:
No provider for ControlContainer

**Expected/desired behavior**
Should be able to load inputs from child com

[2016-06-16 23:05] IgorMinar commented on #9281
Are you trying to generate the forms dynamically? like how http://angular-formly.com/ works?

[2016-06-16 23:10] nolazybits commented on #4112
Ooops, that is for the new Router v3 not the deprecated v2. Yet people will be glad to see it works in v3 :)

[2016-06-16 23:20] mprobst commented on #9253
I talked about this with @tbosch, and we agree that we probably should not try to be too clever here. Folks should use property binding (e.g. `<iframe [src]="myValue">`) when using `SafeValue`s and `bypassSecurityTrustAs...`. The reasoning is that we would need to be conservative in most contexts as @xtofian describes, so the benefit is very small unless we make this really complicated. At the sam

[2016-06-16 23:21] qdouble commented on #9281
@IgorMinar Yes, I'm trying dynamically add form fields...not exactly the way they do it in that link, but just in a way that I can reuse the html template and validation setup. It worked in the previous api.

I was going to use the formArray but that's not fully implemented yet. So there seems to be no proper way to create dynamic forms currently.

[2016-06-17 00:46] vicb opened #9286 "[i18n] escaping in ICU message"
Escape with single quote, see:
- http://icu-project.org/apiref/icu4j/ # MessagePattern.ApostropheMode
- http://userguide.icu-project.org/formatparse/messages#TOC-Quoting-Escaping
- [ ] I18nPipe handle escaping, currently `#`could not be escaped

[2016-06-17 01:02] mmrath opened #9287 "Name attribute must be set if ngModel is used within a form"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

[(ngModel)] without name is not allowed in a form. This used to work in the previous(now deprecated) forms. I think a mix for template and model driven form in the same template should be allowed. I see the following error when ngModel is used in a form without a associated control.

Name attribute must be set if ngModel

[2016-06-17 01:04] mmrath commented on #9287
Looks like this a duplicate of #9230. I am closing this issue in favour of #9230

[2016-06-17 01:04] #9287 closed

[2016-06-17 01:09] mmrath commented on #9230
https://plnkr.co/edit/CcXGHjI6jkkW8YpR28ZI?p=preview

I think this is a valid case, specially when I don't want to have the form.value to contain the value specified by [(ngModel)]. I have at least two forms which relied on this to work. But with new form it no longer works. Now ngModel works outside of a form without a name, but then I have have multiple forms just so the controls are in form and

[2016-06-17 02:10] antonybudianto7 commented on #9270
https://www.npmjs.com/package/%2540angular%2Frouter

it's **3.0.0-alpha.6** now, 2.0.0 is deprecated
https://angularjs.blogspot.co.id/2016/06/improvements-coming-for-routing-in.html

[2016-06-17 03:01] haarabi opened #9289 "Getting error after upgrade to rc2"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
![image](https://cloud.githubusercontent.com/assets/2755929/16139511/0c2bfbc2-33fd-11e6-9cce-186b7bb3182f.png)

**Expected/desired behavior**
no four oh four

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please provide the steps to repro

[2016-06-17 03:05] ericmartinezr commented on #9289
https://github.com/angular/angular/blob/master/CHANGELOG.md#breaking-changes

[2016-06-17 03:06] #9289 closed

[2016-06-17 03:19] haarabi commented on #9289
I am running the Quick Start from angular.io.

I confirm this error is related to rc2. When I downgrade to rc1 everything works as expected.

Can you please provide directions or point me to documentation on how to refactor?

My package.json:

![image](https://cloud.githubusercontent.com/assets/2755929/16139748/9298b2ac-33ff-11e6-9bc1-fca785be8d30.png)

-H

[2016-06-17 03:25] ericmartinezr commented on #9289
@haarabi

if you look at the official plnkr template (https://angular.io/resources/live-examples/quickstart/ts/plnkr.html) there's this line

[code]
note that `/bundles/` part of the path. In your systemjs config you should do the same. Can you post your systemjs config?  Even better, you can post it here https://gitter.im/angular/angular

[2016-06-17 03:35] haarabi commented on #9289
Great, thanks!

adding the bundles path in the the systemjs.config.js fixed the issue.

before:
![image](https://cloud.githubusercontent.com/assets/2755929/16140001/c95942b4-3401-11e6-90b8-f52eb1a64a4a.png)

after:
![image](https://cloud.githubusercontent.com/assets/2755929/16139987/b8d28928-3401-11e6-993b-91801e6fe8a2.png)

-H

[2016-06-17 04:06] stringham opened #9290 "Runtime template compiler generated names can collide"
The template compiler can generate two view factories with the same name.
https://github.com/angular/angular/blob/master/modules/%40angular/compiler/src/view_compiler/util.ts#L45

`component.type.name` for one of our components (after closure renames) is `Z` and for another components it is renamed to `Z5`, so when generating a view factory for the component with name `Z` when `embeddedTemplateInd

[2016-06-17 04:06] #7247 closed

[2016-06-17 04:36] cipri-p commented on #9241
Getting the same error here.

[2016-06-17 04:54] ajayambre commented on #8567
As per #9257, I think we can close this now as the router is anyways abandoned and we should not expect any more fixes for it. Please start using new router. Latest docs available at https://angular.io/docs/ts/latest/guide/router.html

[2016-06-17 07:33] woppa684 commented on #3397
Any update on when this will be fixed?

[2016-06-17 07:34] IamKritika commented on #9275
[plunker](http://plnkr.co/edit/v0lMnBl3ZFZEksfR9EH8?p=preview)

Steps:

1) Try selecting all the checkboxes except "All" manually.
2) Now you can observe that the ngModel value shown along gets updated but state of last selected checkbox is not updated.

I have updated the ngModel in the ngModelChange method but its not getting reflected.

[2016-06-17 07:37] matsko commented on #7607
Now that we have the new API in place (which has working support for [leave animations](https://angular.io/docs/ts/latest/guide/animations.html#!#example-entering-and-leaving)) this issue can be closed.

[2016-06-17 07:37] #7607 closed

[2016-06-17 07:37] Delagen opened #9291 "ngControl control property is null when OnInit hook"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
using new @angular/forms package with disable deprecated forms

[code]
[code]
this.ngControl.control is null

**Expected/desired behavior**
this.ngControl.control is not null

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please provide t

[2016-06-17 07:44] Spielberg opened #9292 "OpaqueToken-class page return a 404 error"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or similar (you can use this template as a starting poi

[2016-06-17 08:11] pkozlowski-opensource opened #9293 "Get a ViewContainerRef for a provider that is passed to bootstrap to load components"
**I'm submitting a ...**  (check one with "x")

[code]

**Current behavior**

I can't get (inject) `ViewContainerRef`s for a top-level (application) component.

**Expected/desired behavior**

Should be able to inject `ViewContainerRef`s for a top-level (application) component as it might be needed to dynamically load a component from a service.

**Reproduction of the problem**

http://plnkr.co/edi

[2016-06-17 08:12] pkozlowski-opensource commented on #8941
@zoechi here is a new issue with a more specific request: #9293

[2016-06-17 08:14] zoechi commented on #9275
There is a lot of code I'm sure could be removed and the problem still be reproduced.
I added `setTimeout()` and it worked (not beautiful of course). The updates are somehow conflicting but I don't want to spend my time to understand what the logic of your code is to get to the core of the problem.

I think one of the channels mentioned in [CONTRIBUTING - Got a Question or Problem?](https://github

[2016-06-17 08:28] ulfryk opened #9294 "HTTP throws "_private__.getDOM(...).getCookie is not a function" if used before bootstrap"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
After update to 2.0.0-rc.2 I get this error:
[code]

pointing to second line of this part of code:
[code]

**Reproduction of the problem**
It happens when I try to send `GET` request before app bootstrap:

[code]

and AuthDao's class `check()` method looks like this:

[code]

* **Angular version:** 2.0.0-rc.2

* **Browser:

[2016-06-17 08:31] zoechi commented on #9241
Looks like there is a similar issue #9294. Were you able to solve it?

[2016-06-17 08:35] zoechi commented on #9292
Documentation issues are maintained in https://github.com/angular/angular.io

I created angular/angular.io#1678

I guess this one can be closed.

[2016-06-17 08:44] pkozlowski-opensource commented on #9292
Thnx @zoechi

[2016-06-17 08:44] #9292 closed

[2016-06-17 08:57] bentolor commented on #4933
TIL: Here is the Document describing the [Forms Upcoming Change Proposal](Forms Upcoming Change Proposal):

[2016-06-17 09:06] cipri-p commented on #9241
My scenario is similar to @zoechi: calling an http get to retrieve a config.json before calling me the bootstrap function. Worked well in RC1

[2016-06-17 09:08] zoechi commented on #9291
Can't reproduce https://plnkr.co/edit/bUpuykUPRmlZnPzfI9yZ?p=preview

GitHub issues are for bug reports and feature requests.
    For support questions please use other channels like the ones listed in [CONTRIBUTING - Got a Question or Problem?](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question)

[2016-06-17 09:13] acateland opened #9295 "huge performance issues migrating from RC1 to RC2"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
![rc2](https://cloud.githubusercontent.com/assets/19344650/16146331/c732ec5c-347d-11e6-8c0d-c340719583ec.png)

**Expected/desired behavior**
![rc1](https://cloud.githubusercontent.com/assets/19344650/16146329/c408239e-347d-11e6-8b36-17d8d60c6b3b.png)

**Reproduction of the problem**
simply updating my package.json with RC2

[2016-06-17 09:14] zoechi commented on #9295
Any concrete repo case (Plunker) that allows to reproduce?

[2016-06-17 09:21] fedu opened #9296 "lang.ts JSON.parse error catch"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
[code]

**Expected/desired behavior**
[code]

**Reproduction of the problem**
VM55728:229 Uncaught SyntaxError: Unexpected token p in JSON at position 10978Json.parse @ lang.ts?aa55:421Response.json @ static_response.ts?158c:104

**What is the expected behavior?**
To catch JSON.parse errors gracefully.

**What is the motiv

[2016-06-17 09:21] Zefling commented on #8674
Change an URL with the new router is little complicated on big project, is absolute not equivalent of the name.

[2016-06-17 09:22] IamKritika commented on #9275
Updated Plunker with simplified logic
[plunker](http://plnkr.co/edit/v0lMnBl3ZFZEksfR9EH8?p=preview)

The problem I am facing is -
I am unable to update the state of the checkbox even if its ngModel is updated. Its not specific to this example, everyone will face the same issue if they try to reset the state of checkboxes that user has checked to make a selection. And setTimeout() is not the way o

[2016-06-17 09:23] acateland commented on #9295
@zoechi working on a simplified test case to expose.

[2016-06-17 09:31] sqwk opened #9297 ":after and :before Styles Do Not Follow Defined Animations"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When animating an element with a `:after` element to or from the `void` state, the `:after`element is shown after and hidden before the animated main element.

**Expected/desired behavior**

`:after` and `:before` elements should be animated with the same timing as the parent element.

**Reproduction of the problem**

[2016-06-17 09:33] zoehneto commented on #8511
Is there a security reason for removing html5 video elements during sanitization?

[2016-06-17 09:35] zoechi commented on #9275
@IamKritika seems you didn't save the changes in the plunker, it's the same content as the first one.

[2016-06-17 09:46] JoostvdB94 opened #9298 "New ngrx router index breaks path"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Adding the `index: true` attribute to a route breaks the `path` attribute. By this i mean that navigating to `localhost/#/` gives me the route which has `index:true`, but navigating to the path that belongs to that route (e.g. `/step/1`) errors with: `Cannot match any routes: 'step/1'`

**Expected/desired behavior**
The pa

[2016-06-17 09:49] IamKritika commented on #9275
@zoechi can you check it now.. It seems to work fine for me.

[2016-06-17 09:59] DenisVuyka opened #9299 "Property 'supports' is private and only accessible within class 'DatePipe'."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
`supports` function is marked as private in rc.2

**Expected/desired behavior**
`supports` function should be public

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please provide the steps to reproduce and if possible a minimal demo of th

[2016-06-17 10:06] datrinh opened #9300 "New router (3.0.0-alpha.6) not working with web workers"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Throwing error during runtime: `ORIGINAL EXCEPTION: not implemented`

**Expected/desired behavior**
Working router with angular 2 in web worker

**Reproduction of the problem**

1. Set up bootstrapping angular 2 on web worker like so: https://github.com/angular/angular/tree/master/modules/playground/src/web_workers/kitchen

[2016-06-17 10:14] zoechi commented on #9299
https://github.com/angular/angular/blob/f39c9c9e75671a7e235734b6b8aef263f6dff254/modules/%40angular/common/src/pipes/date_pipe.ts#L116

[2016-06-17 10:21] nicolashenry commented on #8571
@joost-de-vries @mhevery
"repository" metadata is missing again in RC2 in platform-browser-dynamic/package.json

[2016-06-17 11:37] zoechi commented on #9275
I can confirm that this is fishy.
My reduced repo http://plnkr.co/edit/WGVZaRq4fyiAHXsD84BO?p=preview

What's weird is that instead of `setTimeout()` calling `ChangeDetectorRef.detectChanges()` **before** changing the value also works. `detectChanges` doesn't work when called afterwards.

[2016-06-17 11:40] zoechi commented on #9298
`index` is deprecated https://github.com/angular/vladivostok/issues/62#issuecomment-226492355

[2016-06-17 11:45] vapits opened #9301 "Is Formbuilder (etc) deprecated?"
Hi there this si more a question than a bug a bug (I hope) but it is not stackoverflow related also...

I can't find infos in the docs but if you follow the current docs and try to import the `FormBuilder`, `Validators` etc from the `@angular/common` you get an error.

So if I do this:
[code]
I get this:
[code]

Same for validator etc.

Is FormBuilder deprecated or is it moved outside `@angular/co

[2016-06-17 11:47] Fank commented on #9301
use `@angular/forms` instead of `@angular/common`

[2016-06-17 11:47] vapits commented on #9301
I just saw the
[code]
option. Thx.

[2016-06-17 11:47] #9301 closed

[2016-06-17 12:00] frederikaalund commented on #8539
@Larisho in 3.0.0-alpha.6 you can do:

	<div *ngIf="isConnectionOpen">
		<router-outlet></router-outlet>
	</div>

Note that the very same code did not work in 3.0.0-alpha.3.

[2016-06-17 12:04] zoechi commented on #8539
@frederikaalund I would not expect this to work. If a component has routes, it needs a `<router-outlet>`. You can't just remove it, and that's what `ngIf` does.

[2016-06-17 12:11] frederikaalund commented on #8539
@zoechi You're right. I concluded too hastily. It *did* work since `isConnectionOpen` was true while I tested it... My mistake! Using `[hidden]` is indeed a better way to do things. Cheers!

[2016-06-17 12:17] noamichael opened #9302 "NgUpgrade Incorrectly Transcludes Children When Using Multiple <ng-content/>s"
- **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.

**Current behavior**
 When using ngUpgrade, the &lt;ng-content&gt; tag always transcludes children to the first occurrence of the tag, regardless of the select attribute.

**Expected/desired behavior**
- **If the current behavi

[2016-06-17 12:18] MikeMatusz commented on #4933
I'm getting a 404 from the link to the change proposal.

[2016-06-17 12:29] skreborn commented on #4933
@MikeMatusz [Here you go.](https://docs.google.com/document/d/1RIezQqE4aEhBRmArIAS1mRIZtWFf6JxN_7B4meyWK0Y/pub)

[2016-06-17 12:31] smith64fx commented on #8504
Same Problem here with RC1

[2016-06-17 12:39] ospaarmann commented on #8519
I could resolve this issue by checking my dependency injections and cleaning them up, making sure I used the `@Injectable` decorator where neccessary and only inject what's needed where it's needed.

I also had an issue with injecting a service into another service which was solved by enforcing Metadata Creation. How to do that is described [here](http://blog.thoughtram.io/angular/2015/09/17/resol

[2016-06-17 12:46] yjaaidi commented on #8280
+1

[2016-06-17 12:50] pkozlowski-opensource commented on #9298
@JoostvdB94  please note that the router contained in this repository was deprecated and the new version of a router is maintained in a separate repository now at https://github.com/angular/vladivostok. You can find more background on the various versions of a router in this blog post: http://angularjs.blogspot.fr/2016/06/improvements-coming-for-routing-in.html

Since a router is maintained in a s

[2016-06-17 12:50] #9298 closed

[2016-06-17 12:51] pkozlowski-opensource commented on #9300
If it is already opened in https://github.com/angular/vladivostok there is no need to duplicate it here.

[2016-06-17 12:51] #9300 closed

[2016-06-17 12:55] cexbrayat opened #9303 "[compiler] Compiler config overrides default platform pipes and directives"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

This is regarding the last breaking changes in rc.2 about `PLATFORM_PIPES/PLATFORM_DIRECTIVES`.

Specifying `platformDirectives: [NewDirective]` will replace the existing `PLATFORM_DIRECTIVES` instead of adding the new directive (like we did using `{ provide: PLATFORM_DIRECTIVES, useValue: [NewDirective], multi: true }`).

[2016-06-17 12:56] pkozlowski-opensource commented on #9296
What is the situation under which you are getting this exception? By using the `JsonPipe` (in this case the request sounds reasonable) or in a different situation?

[2016-06-17 12:58] pkozlowski-opensource commented on #9254
@shlomiassaf we are trying to tidy up issues backlog so I'm going to close this one for now. Will re-open as soon you are back with more info.

[2016-06-17 12:58] #9254 closed

[2016-06-17 12:59] #9272 closed

[2016-06-17 13:03] pkozlowski-opensource commented on #9295
Yeh, we will need a minimal reproduce scenario in a plunker, hardly actionable otherwise... Unless this is #9208 (fix in master but not part of rc.2)

[2016-06-17 13:06] pkozlowski-opensource commented on #9299
Why? What would be the justification? Please note that we want to keep the public API surface to the minimum so there need to be a good reason of enlarging this surface.

[2016-06-17 13:12] DenisVuyka commented on #9299
[Public docs](https://angular.io/docs/ts/latest/api/common/index/DatePipe-class.html) still reference `supports` as public member.

We are using DatePipe programmatically in complex components, i.e.

[code]

Where format pattern is dynamically created or known at runtime only.

What is the justification for making it private at rc2 stage?

[2016-06-17 13:17] CaptainCodeman commented on #9295
I had what could be the same issue going from RC1 to RC2 - zone / change detection running constantly. It turned out to be a pipe that was continually re-evaluated even though the underlying values had not changed.

The JS profile tab showed where the problem was.

[2016-06-17 13:31] pkozlowski-opensource commented on #9299
@IgorMinar it was flagged as private in 70d944a59cb0f7aa15c49d24b4fb0b4483c8607d but seems like docs don't reflect this change.

[2016-06-17 13:51] Larisho commented on #8539
@zoechi Thank you for the answer. The problem with using [hidden] is that you can just open chrome dev tools or an equivalent to that and see the hidden content. The reason I was using *ngIf is because you can't do that.
Is there any way to catch that exception?

[2016-06-17 14:22] acostaf opened #9305 "[routerLink] is ignored when component embedes jquery within a directive"
HI People

**Ng2 rc2 on Ie11**
I am creating a directive that uses Jquery to add a Kendo grid to my page, see below [1], my options are injected from the main component making this directive reusable. From the options property I pass my columns [2] and I also have another field that will cotain a [routerLink] [3]

I have already tried to **ng-reflect-router-link="/ AmendDetails''** and **ng-reflec

[2016-06-17 14:47] smith64fx commented on #6111
I have a solution!

Add this to your index.html

[code]

[2016-06-17 15:03] vicb commented on #9290
/cc @tbosch

[2016-06-17 15:09] #9278 closed

[2016-06-17 15:16] wrldtrvllr commented on #9230
How should we deal with dynamically added inputs then? Currently, `[attr.name]="<some expression>"` is not considered correctly as a valid name but raises the name attribute error.

[2016-06-17 15:20] StephenFluin commented on #9230
@vsavkin let me know that there may currently be an issue with submit events that made my use case fail in the first place. I was also missing `ngNoForm`.

In the new forms paradigm, for me to **not** use the new forms capabilities automatically, I can either not use a `form` element, or I can add `<form ngNoForm>`. This should work as I originally expected (no errors, and my forms still work). I'

[2016-06-17 15:35] pricks44 opened #9306 "Error: Invalid provider - only instances of Provider and Type are allowed, got: [object Object]"
[code]

When using a jasmine test that requires a provider, the test creates an error of Error: Invalid provider - only instances of Provider and Type are allowed, got: [object Object].  The code is below, the pipe uses ReservationsService to pull the data.  The script was then loaded into a html file.

[code]

Here is the full stack trace:
[code]

* **Angular version:** 2.0.0-rc.1

* **Browser:**

[2016-06-17 15:35] thelgevold commented on #9281
I have converted my dynamic form over to the new api and from what I can tell it's working.

I believe it's still a requirement that you have to "ferry in" the formGroup instance to the child component and assign it to a parent of any form control in the child component.

It doesn't have to be a form tag though - but can't be added directly on the form control itself.

You could remove the nested

[2016-06-17 15:38] vicb commented on #9306
please add a plunker

[2016-06-17 15:39] vicb commented on #9305
see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-got-a-question-or-problem for request support

[2016-06-17 15:39] #9305 closed

[2016-06-17 15:44] #9270 closed

[2016-06-17 15:53] fadiwissa opened #9307 "Angular Quick Start Guide error"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The quick start guide is missing the Styles.css file. This file is referenced but no where in the "walkthrough" is it described. I got it from the Plunker version of the demo.

**Expected/desired behavior**
The Styles.css file should be created as one of the steps of the walkthrough.

**Reproduction of the problem**
Just w

[2016-06-17 15:59] zoechi commented on #8539
@Larisho What's the problem with devtools? Not being able to see it in devtools doesn't make it more secure. You can also just navigate to a different route if the user is not authorized or if you use the new new new router you can use guards to prevent navigating to routes on conditions.

[2016-06-17 16:01] zoechi commented on #9307
Can you please report this in https://github.com/angular/angular.io instead where documentation issues are maintained?

[2016-06-17 16:02] Tragetaschen commented on #6292
This was implemented by #8557

[2016-06-17 16:02] #6292 closed

[2016-06-17 16:03] zoechi commented on #9306
I think this is a dup of #8867

Maybe this works

[code]

[2016-06-17 16:10] hanijizan commented on #9221
@IgorMinar yes, I'm using individual files loaded by systemjs. As I've mentioned, bundling using systemjs-builder and using those bundles will solve the problem for release builds but DEV mode is an issue since we don't want to bundle every time we make a code change on our local boxes.

Additionally, i tried using the plunkr you've provided but it seems there are no rc1 bundles there. Another ide

[2016-06-17 16:30] pricks44 commented on #9306
This is a dub of [#8867](https://github.com/angular/angular/issues/8867), which better documented and points at the method that is failing, so im closing this issue

[2016-06-17 16:30] #9306 closed

[2016-06-17 16:33] zoechi commented on #8867
This might be worth a try
[code]

[2016-06-17 16:50] iloveyo123u1 opened #9310 "how to minify main.js very big"
`ng build -prod`

main.js  767kb

 very big

 how to minify?

[2016-06-17 16:51] achimha commented on #8834
With RC2 and the new forms module, the import has changed to

`import {ValidatorFn} from "@angular/forms/esm/src/directives/validators";`

[2016-06-17 16:51] kuldeepkeshwar commented on #9275
@zoechi is using `ChangeDetectorRef.detectChanges()` or `setTimeout()` right way of doing it or this is just a workaround ?
angular should provide this out of the box itself.

[2016-06-17 16:55] pkozlowski-opensource commented on #9310
Minification will depend on the tools used. Since you are using https://github.com/angular/angular-cli please open the issue in there (I assume that CLI folks are working hard on better minification already)

[2016-06-17 16:55] #9310 closed

[2016-06-17 16:56] jonnysamps commented on #8867
@zoechi I did...

I did figure out that this works:
[code]

[2016-06-17 17:04] tbosch opened #9311 "Only allow OnPush and Default as change detection modes in @Component"
Right now, users can use any enumeration out of `ChangeDetectionStrategy` in `@Component`. However, we only support `OnPush` and `Default`.

We should change our API to reflect this.

[2016-06-17 17:10] henrique-rotava commented on #7930
@kokokenada have you found a solution? I am using angular2 rc.1 with Meteor 1.3 too and I can't make the app work on Safari or any iOS browser because it throws [Error] RangeError: Maximum call stack size exceeded. In other contexts it works fine.

I have found that this happens on any xhr call, after the first one the app simply crashes. It happens when ng2-translate requires the json file from t

[2016-06-17 17:17] mprobst commented on #9253
I'll declare this closed for the time being. We might want to revisit some time and maybe even throw an error on interpolation of SafeValue URLs.

[2016-06-17 17:29] Delagen commented on #9291
https://plnkr.co/edit/oxNuBLo8Y6Hg3OKbm25M?p=preview

[2016-06-17 17:29] Delagen opened #9312 "reopen: ngControl control property is null when OnInit hook"
#9291

https://plnkr.co/edit/oxNuBLo8Y6Hg3OKbm25M?p=preview

[2016-06-17 17:47] IgorMinar commented on #9221
I was able to verify that this plunker which should simulate your environment works just fine in ie10. please examine the plunker and if you still able to reproduce the problem please open a new issue.

[2016-06-17 17:47] #9221 closed

[2016-06-17 17:48] IgorMinar commented on #9221
oops.. forgot to add the link to my plunker: http://plnkr.co/edit/6H1DeE9gc4GfxqljVW2H?p=preview

[2016-06-17 17:52] kokokenada commented on #7930
@hankduan  - yes I was able to get it going.  It's a matter of getting the right magically combination of versions, I think. You should be able to use the package.json in https://github.com/kokokenada/for-real-cards to replicate the setup.  It's still at angular rc1 while I wait for the dust to settle from rc2.

[2016-06-17 18:06] hanijizan commented on #9221
Ok, you're implying the issue is related to the code that I wrote. How do I debug it then? There's no indication of what could be wrong in the stack trace.

[2016-06-17 18:30] zoechi commented on #9312
What is this Plunker supposed to demonstrate? It doesn't produce an error.

You don't need to create a new issue. The old one gets reopened if you can provide information that allows to reproduce the issue.

[2016-06-17 18:30] zoechi commented on #9312
Maybe you forgot to safe some change in the Plunker?

[2016-06-17 18:31] zoechi commented on #8867
Ok, that's the new way. Thanks for the feedback.

[2016-06-17 18:36] zoechi commented on #9275
I think this is caused by change detection not seeing a change if the value is changed and immediately restored before change detection has a chance to run and detect the change. This is the reason the "new" value is not propagated back to the checkbox. The checkbox updates itself and Angular doesn't see a change that would make it necessary to propagate back to the checkbox.

If you explicitly in

[2016-06-17 18:38] #9072 closed

[2016-06-17 18:41] born2net commented on #9241
sorry forgot to close the bug... yes I had a mix of rc.1 and rc.2... cleaned it up and bug went away...
see example here:  https://github.com/born2net/ng2Boilerplate
Regards,

Sean

[2016-06-17 18:41] #9241 closed

[2016-06-17 18:49] IgorMinar commented on #9213
I would strongly recommend that you migrate the whole form over to Angular 2 rather than just small parts of it. Form handling is a complex issue and as you noticed we currently don't do anything to unify Angular 1 and Angular 2 form handling. We might do this in the future, but the current workaround of migrating the whole form is acceptable for most applications.

[2016-06-17 18:53] naomiblack commented on #9307
you're right. the user shouldn't hit an error because of this. thanks for filing -- i duplicated over on angular.io: https://github.com/angular/angular.io/issues/1684

[2016-06-17 18:53] #9307 closed

[2016-06-17 18:59] IgorMinar commented on #9193
Tools like Augury could help you detect this problem by visualizing the dependency graph: https://augury.angular.io/

I don't think that `NoOverride` flag is good because desirability of overriding a provider is usually a property of the application and not the property of the provider.

I currently can't think of a way to have this kind of feature without false positives or negatives.

[2016-06-17 19:00] vicb commented on #6425
Does this issue still occurs with rc2 ?
If yes, please provide an updated plunker. Thanks.

[2016-06-17 19:04] IgorMinar commented on #9296
@pkozlowski-opensource if it's in JsonPipe then we should do this handling there. Otherwise we should not do anything because if JSON payload is invalid then we should just throw whatever the platform specific error is.

[2016-06-17 19:05] IgorMinar commented on #9296
@fedu can you please open a new issue with higher level use-case. If the error is coming from http and jsonpipe then we should handle these errors there and not in lang.ts. thanks!

[2016-06-17 19:05] #9296 closed

[2016-06-17 19:05] pkozlowski-opensource commented on #9296
@IgorMinar I'm it total agreement - this is exactly why I've asked the question.

[2016-06-17 19:08] IgorMinar commented on #9299
We are updating the docs. the `support` method is an implementation detail. If you have a need to imperatively determine if a pipe supports certain input then please file a new feature request and explain your use-case. Thanks!

[2016-06-17 19:08] #9299 closed

[2016-06-17 19:08] IamKritika commented on #9275
Yes that's absolutely correct that angular doesn't see any change and hence the state of checkbox is unaltered . But then resetting the state of any ngModel would not be possible without explicitly invoking change detection (which I feel is a overhead) .
Angular should have a provision to handle such use cases.

[2016-06-17 19:10] tbosch commented on #9295
The reason is that `enableProdMode` does not really work any more.
Investigating...

On Fri, Jun 17, 2016 at 12:06 PM Igor Minar <notifications@github.com>
wrote:

[2016-06-17 19:10] IgorMinar commented on #9291
@Delagen it is not clear from your plunker what is the expected result vs actual result of that repro. Can you please clarify?

[2016-06-17 19:11] IgorMinar commented on #9312
I reopened the original issue. Please clarify the repro there. thanks

[2016-06-17 19:11] #9312 closed

[2016-06-17 19:20] rjamet commented on #8511
zoehneto > I don't see any reason to remove it now, this is probably a leftover from Angular1's sanitizer. I'll look into it around next week.

[2016-06-17 19:23] ericmartinezr commented on #9295
@tbosch fwiw https://github.com/angular/angular/issues/8508

[2016-06-17 19:49] qdouble commented on #9281
@thelgevold Thanks, putting formGroup in div tags does work.

However, I was able to add inputs from a child component without any extra divs this way in the past => http://plnkr.co/edit/wSP0MHXkvbj64KJmfVFN?p=preview

[2016-06-17 20:11] #9182 closed

[2016-06-17 20:11] #9265 closed

[2016-06-17 20:18] vicb opened #9315 "[CssParser] investigate PostCss for parsing CSS"
[PostCss](https://github.com/postcss/postcss) seems to be smaller that our current parser.

It would be interesting to  check the differences (feature, code size, speed).

[2016-06-17 20:19] shlomiassaf commented on #9049
Since this is an idea not directly related to the repo no point in polluting the issues, i'll close this

[2016-06-17 20:19] #9049 closed

[2016-06-17 20:20] tbosch commented on #9295
Reason: We split our facades for core and compiler. So the `assertionsEnabled()` check which lives in the faces does not reach the compiler!

[2016-06-17 20:26] shlomiassaf commented on #9254
@pkozlowski-opensource I completely understand, is this synced with @vicb ?

The implementation of `Overlay`s in **material2**  is a good example, the overlay service requires adding a **component** not part of an explicit user declared **element** in the template, this service constructs all child panes of the inserted component. Since the component was not part of a declared element adding it wi

[2016-06-17 20:33] zoechi commented on #8834
@achimha that's an invalid import. You should not import from `@angular/somemodule/src/...` because the `src/` directory is considered private implementation.

[2016-06-17 20:37] tbosch commented on #9295
Workaround:

1) import and call `enableProdMode` for all of the following modules:

- `@angular/core/src/facade/lang`
- `@angular/compiler/src/facade/lang`
- `@angular/platform-browser/src/facade/lang`

2) Provide a binding for `CompilerConfig` directly that disables debug info (only for RC2, RC1 did not have this problem):
[code]

[2016-06-17 20:37] tbosch commented on #8508
See #9295 for a workaround. Will fix this ASAP.
Closing this issue to track in #9295.

[2016-06-17 20:37] #8508 closed

[2016-06-17 20:43] naveedahmed1 opened #9316 "Its not clear if Offline Template Compilation in Angular 2 RC 2 is ready for use"
Can anyone please confirm if Offline Template Compilation in Angular 2 RC 2 is ready for use.

If its available, how to use it?

[2016-06-17 21:03] CaptainCodeman commented on #9316
I couldn't get it to work on a trivial app but got further than the errors I'd seen previously, now it just has trouble understanding it's own directives (ngFor etc...) which is apparently going to be addressed.

[2016-06-17 21:15] mhevery commented on #9303
We need to be able to control the compiler from `tsconfig.json` like so:

[code]

where `@angular/common:PLATFORM_DIRECTIVES` would imply that it has to import from `@angular/common` and import `PLATFORM_DIRECTIVES` symbol.

[2016-06-17 21:32] mhevery opened #9319 "Support configuration of compiler through tsconfig"
We need to be able to control the compiler from `tsconfig.json` like so:

[code]

where `@angular/common#PLATFORM_DIRECTIVES` would imply that it has to import from `@angular/common` and import `PLATFORM_DIRECTIVES` symbol.

[2016-06-17 21:33] matheo commented on #8834
Then that's a reason to make `ValidatorFn` available in the RC2 forms barrel. cc @jeffbcross @vsavkin

[2016-06-17 21:34] mhevery commented on #9303
A library should not be able to add things to platform. Only application (the code which controls the `bootstrap` should be allowed to decide what platform directives/pipes are)

This is important for being consistent with the offline compilation mode.

[2016-06-17 21:34] #9303 closed

[2016-06-17 21:34] IgorMinar commented on #9316
the compiler works for common cases. we are working on docs and demos. we are going to be rolling these out as they become ready.

[2016-06-17 21:34] #9316 closed

[2016-06-17 21:35] IgorMinar commented on #9238
@StephenFluin is this something you could help with? I can discuss all the necessary things with you.

[2016-06-17 21:41] CaptainCodeman commented on #9316
Depends what you mean by "common cases". It doesn't work for an incredibly simple app and trips up over it's own directives. Shouldn't it work for an app that runs fine in the browser?

https://github.com/CaptainCodeman/angular2-webpack-polyfill

[2016-06-17 21:41] PleasantD commented on #6005
I encountered this error when dynamically adding children via `ViewContainerRef.createComponent()` and then updating the child instance. I'm using RC2 (and trying not to use depreciated stuff).

Initially thing worked fine (first render), but then I added a component that would emit new data. This event was listened to by the parent component, which updated it's data array triggering change detect

[2016-06-17 21:45] IgorMinar opened #9320 "Deprecate obsolete PLATFORM_DIRECTIVES and PLATFORM_PIPES"
While investigating #9303 we realized that we accidentally left behind PLATFORM_DIRECTIVES and PLATFORM_PIPES tokes in spite of documenting them as being removed in the changelog.

Now that the the platform directives and pipes are configured via the CompilerConfig we should deprecate these tokens and remove them in the future.

[2016-06-17 21:46] mhevery commented on #9237
https://github.com/angular/angular/pull/9205

[2016-06-17 21:57] CaptainCodeman commented on #9316
I presume this is one of the missing pieces to make it actually work? https://github.com/angular/angular/issues/9319

(obviously, unless it's already working for 'common cases').

[2016-06-17 22:00] #7078 closed

[2016-06-17 22:02] IgorMinar opened #9321 "Add payload size tracking test to our CI"
we should break the build if example apps go over XX kb - this should be similar to how @robwormald does the manual testing right now.

[2016-06-17 22:04] IgorMinar opened #9322 "Run docs tests in our CI"
Currently we occasionally break docs when we make changes in the source code. We need to run angular.io docs tests in our CI.

If the examples/tests remain in a separate repo, these should be only allowed/informative failures.

However it would be much preferable if the tests were part of the main repo.

[2016-06-17 22:18] natcohen commented on #8319
Works with RC2... this should be closed

[2016-06-17 22:23] natcohen opened #9324 "DatePipe doesn't allow timezone to be provided as a pipe input"
DatePipe of Angular 2.0.0 RC2 doesn't allow to interpret date with timezone like AngularJS 1.5 does (https://docs.angularjs.org/api/ng/filter/date) as the second argument (timezone)

Angular 1 template api:

[code]

[2016-06-17 22:38] IgorMinar commented on #9316
I'm sorry. I missed that one. Yes. Ability to configure platform directives
is currently an obstacle for the common cases. We are addressing that in
rc.3  via  #9319 <https://github.com/angular/angular/issues/9319>

On Fri, Jun 17, 2016 at 2:57 PM Simon Green <notifications@github.com>
wrote:

[2016-06-17 22:42] sqwk opened #9326 "Animation: Void => State Ignores Initial Style When Delayed"
**I'm submitting a ...**
[code]

**Current behavior**

When animating a transition from `void` to a defined state and delaying this animation, the styling set before the animation is only applied once the delay is over.

**Expected/desired behavior**

The styling set before the animation should be applied immediately and be held until the actual animation starts to prevent flashing.

**Reproductio

[2016-06-17 22:43] CaptainCodeman commented on #9316
Thank you, I appreciate the clarification (helps to know if its something we're doing wrong vs something not yet available)

[2016-06-17 22:43] MarkPieszak commented on #9324
The [Datepipe](https://angular.io/docs/ts/latest/api/common/index/DatePipe-class.html) looks like it does support timezone with `z` or `Z`

[2016-06-17 22:52] mprobst commented on #9290
Oh this is a nice bug. As in, a terrible bug, but it's kind of funny.

The problem is that Angular needs to create new symbols in scope, and the symbols must not collide. Angular currently does that by appending a number to the symbol name (`FooComponent` --> `FooComponent1`).

Now if you have two components, one of whose name is a prefix of the other, and the other just appends a number, this is

[2016-06-17 22:54] tbosch commented on #9293
Could you update the description to mean "get a ViewContainerRef for a provider that is passed to `bootstrap` to load components"?

[2016-06-17 22:54] vicb commented on #8319
thanks

[2016-06-17 22:58] tbosch commented on #9293
We can't create a `ViewContainerRef`, as a `ViewContainerRef` only exists within a view (e.g. in needs a parent `AppElement` which needs a parent `AppView`.

In general, your service needs a way to attach the change detector of a component to Angular. As far as I understand this issue, that should be enough. Could you confirm?

We already have `ApplicationRef_.registerChangeDetector / unregisterCh

[2016-06-17 23:01] matsko opened #9327 "Animations states without an expression are ignored for `void => something`"

[2016-06-17 23:02] matsko commented on #9326
Excellent find. I will get to work on this one.

[2016-06-17 23:31] yjaaidi commented on #8280
I guess I know where it comes from!
Are you guys using `templateUrl` ?
Because I have mocked the `Http` service and still got the error until I replaced `templateUrl` with `template`.

We should find a way to override all component templates.

[2016-06-17 23:31] aburakab commented on #4055
For the time being i did this hack :)

`
import { AppRoutes } from './_Models/ModuleRoutes';
@Routes(AppRoutes)
export class EvAppComponent implements OnInit {

    constructor(private _router: Router) { }

    ngOnInit() {

        var validRoute = false;
        for (let i = 0, len = AppRoutes.length; i < len; i++) {
            let route = AppRoutes[i];
            let urlTree = this._router.cr

[2016-06-17 23:37] natcohen commented on #9324
@MarkPieszak z and Z are used in the format to display the timezone, not as the interpreter! Please read the doc of angularJS (link in the question)

[2016-06-17 23:38] vicb commented on #9295
closed via #8508

[2016-06-17 23:38] #9295 closed

[2016-06-17 23:44] aburakab commented on #4133
For the time being i did this hack :)
[code]

[2016-06-18 00:41] jeffbcross commented on #9075
Closing this since a new bootstrap method is being implemented instead, `serverBootstrap`

[2016-06-18 00:41] #9075 closed

[2016-06-18 00:59] MarkPieszak commented on #9324
Ahh the timezone argument, I see now, you're right!

[2016-06-18 01:18] sumigoma opened #9329 "Http: should return status code / text properly from errors"
**I'm submitting a ...**
[code]

**Current behavior**
Failed ajax calls return a 200 error code.

**Expected/desired behavior**
They should return the proper status code and error.
This issue has been linked several times and moved back and forth between angular/http and angular/angular but has not yet been addressed.
angular/http#54
angular/angular#6681
angular/angular#7352

Creating a new open i

[2016-06-18 01:49] shlomiassaf commented on #9293
+1000, had the same issue with my modal component, had to force user to set a default `ViewContainerRef` since I couldn't get access to one.

Didn't want to use private method, @tbosch can you confirm it will go get exposed in the future and won't change?

[2016-06-18 01:56] shlomiassaf commented on #9293
@pkozlowski-opensource the suggestion from @tbosch should suffice.

However, this will force you to use direct DOM access to add that element, then use `ComponentResolver -> ComponentFactory` to create it since you can't access the `ViewContainerRef`, I have tested it and tried several methods to solve it, this is one of them.

Another option is to have the overlay as a root of another angular app

[2016-06-18 02:01] henrique-rotava commented on #7930
@kokokenada, thank you! After I upgraded my meteor packages, removing and adding all of them again, it is finally working.

[2016-06-18 02:23] xsilen commented on #9044
the problem @host can't work always exist in systemjs(i don't know others). its because circle dependence. `@host() parent: parentComponent`, parentComponent is always `undefined`. but `@host() parent: forward(()=>parentComponent)` can work, though it cause typescript compile error.

in order to fetch parent componet in sub component constructor, i modified ng2 code.https://github.com/ridecrafty/a

[2016-06-18 02:59] joe-vella commented on #8519
I was able to resolve this issue by undoing changes I made to my imports. I am exporting services from an index.js in a part of my folder structure where I have additional folders for models, api services ,and data store services. I cheated a bit by importing everything from './shared' which at the root is an index.js with my imports. That worked until I added another model, api service, and data

[2016-06-18 03:09] Larisho commented on #8539
@zoechi Is there any documentation on guards yet?

[2016-06-18 05:03] thelgevold commented on #9281
@qdouble So the reason it works in your old forms sample is that you are using ngFormControl which doesn't require a form at all. If you switch it to use ngControl it won't work anymore.

Your new sample uses formControlName which is the new ngControl. Based on that the two examples aren't totally equivalent.

My experience is that dynamic forms are easier if you stick to ngControl (old api ) and

[2016-06-18 05:39] toni-moreno opened #9331 "'ElementRef' is not assignable to parameter of type 'ViewContainerRef' =>On update beta14 to beta16"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

On the BREAKING CHANGES section from beta14 to beta16 there is no decription on this error.
[code]
at
https://github.com/toni-moreno/snmpcollector/blob/master/public/app/LoggedInOutlet.ts#L14

**Expected/desired behavior**

Compile tsc without any issue.

**Reproduction of the problem**
Only compile with tsc

**What is th

[2016-06-18 05:51] Delagen commented on #9291
see console.log
first log ngControl.control property is null
second log after some timeout ngControl.control property is not null

[2016-06-18 05:59] vicb commented on #9331
The latest release is rc-2

[2016-06-18 05:59] #9331 closed

[2016-06-18 06:24] zoechi commented on #9291
![image](https://cloud.githubusercontent.com/assets/405837/16169431/0d33b488-352e-11e6-91c7-34c1bbb92bd3.png)

(the error message at the end is from a Chrome plugin)

[2016-06-18 06:44] pkozlowski-opensource commented on #9293
@tbosch doesn't seem to be enough, unless I'm wrongly interpreting what you are saying. Here is what I've tried: http://plnkr.co/edit/HI6W52QtJ5Hc7zYR1KdU?p=preview

@shlomiassaf I don't want to hack around this use case, IMO it is common enough (modal, tooltips, popovers - any overly in general) that we want to have a canonical solution in the framework.

[2016-06-18 06:49] pkozlowski-opensource commented on #8617
@juliemr while working on a different use-case I've realised that it is not `ngOnInit` that is a problem but rather `resolveComponent` - it looks to me like a promise resolution of `resolveComponent` isn't picked up.

@vikerman @juliemr could I help investigating / fixing this? This issue is pretty much a blocker for testing anything dynamic (modals, tooltips etc.)

[2016-06-18 07:57] cexbrayat commented on #9319
Following #9303 , it would be great to have a lightweight syntax to add just a custom pipe to the platform one, or to load ROUTER_DIRECTIVES into platformDirectives. Having to redeclare the whole `CompilerConfig` in code or tsconfig.json will be really verbose for this small use case.

And as the `PLATFORM_PIPES/PLATFORM_DIRECTIVES` are being removed (#9320), it would be great to be able to do it

[2016-06-18 08:55] Blasz commented on #8519
@pkozlowski-opensource This does not appear to be fixed. I updated the plunker to rc2 and it still reports the same error: http://plnkr.co/edit/otNSq0iUo82LDQN75rhX?p=preview

[2016-06-18 08:58] pkozlowski-opensource opened #9332 "Confusing error message: "Cannot read property 'isSkipSelf' of null""
Reproduce: http://plnkr.co/edit/otNSq0iUo82LDQN75rhX?p=preview

RC.2

[2016-06-18 09:00] pkozlowski-opensource commented on #8519
@Blasz indeed, this seem to happen under different conditions that I've fixed in rc.2. Created new issue to track your case: #9332. Thnx for reporting!

[2016-06-18 09:48] Paladinium opened #9333 "rc2 breaks date format pipe's 2-digit interpretation of minutes and seconds"
**I'm submitting a ...**
[code]

**Current behavior**
The date pipe's format fails to interpret 2-digit minutes and seconds properly. They get rendered with just one minute when in range [0-9]. Example:

[code]

The rendered date is: 01/06/2016 07:1:9 (depending on your local time zone, the hour might be different).

**Expected/desired behavior**
Expecting the date pipe's formatter to respect the

[2016-06-18 10:43] Blasz opened #9334 "Improve error messages for cases when circular dependencies cause symbols with metadata be undefined at the time when they are captured"
**I'm submitting a ...**

* [x] bug report

**Current behavior**
If a component (A) imports and uses a service/component (B) from a barrel containing the exports of both A and B, and A appears before B in the barrel, the imported value of B is `undefined` and results in the following errors when that service/component is used:

* If B is a service:
[code]
* If B is a component:
[code]

I'm guessin

[2016-06-18 10:58] yjaaidi commented on #8306
+1

[2016-06-18 12:32] laskoviymishka commented on #9333
Could you please provide plnkr for this one, it would help a lot.

[2016-06-18 13:29] deeeed commented on #8559
+1

[2016-06-18 13:31] apavillet commented on #6425
@vicb never had this issue sincères rc2

[2016-06-18 13:35] bennadel commented on #9327
I was just coming to report this as well. I created a Plunker for it: http://plnkr.co/edit/3TdTh9va7mHvKGVhVumQ?p=preview

If you add a "made up" expression, it will work as a stop-gap.

[2016-06-18 13:54] bennadel opened #9335 "Feature Request / Bug: Block nested animations by default."
**I'm submitting a ...**  (check one with "x")

[code]

**Current behavior**

When animating a container into view, if the container has nested elements / components that are also animated, they all animate together.

**Expected/desired behavior**

Based on the precedence set by Angular 1.x, nested animations should be blocked. Therefore, if a container is currently animating, the nested animation

[2016-06-18 14:14] naveedahmed1 opened #9336 "Custom Validation not working with Angular 2 RC 2 new forms"
After upgrading to the new forms my custom validation that was working in RC 1 is not working anymore.

When compiling I am receiving the below errors:

[code]

Here is my main file

[code]

Here is my component using custom validators

[code]

My template:

[code]

My custom validators:

[code]

[2016-06-18 14:40] shlomiassaf opened #9337 "Animation trigger on host."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Setting animation on a the host is not supported.

**Expected/desired behavior**
Enable a component to apply animation on it's own host element.

**What is the motivation / use case for changing the behavior?**
While usually the host will have it's animation from the parent component via template syntax, there is possibili

[2016-06-18 14:49] shlomiassaf commented on #9337
Here's a code example

[code]

Entering works great.
Leaving, not at all.

This `ModalBackdrop` is added dynamically, that is using a `ComponentFactory` and not a template tag. When creating it I get a `ComponentRef` instance which I use later to destroy it.

[2016-06-18 14:58] Blasz commented on #9334
After further investigation, I've narrowed this down to the fact that the typescript compiler configuration compiles down to `commonjs` modules by default:

tsconfig.json
[code]

Setting it to `system` fixes this issue and kind of makes sense considering we're using systemJS to load angular by default.

Perhaps the angular.io docs and angular-CLI can be updated to use `system` instead of `commonjs

[2016-06-18 14:59] laskoviymishka commented on #9333
Well, there is a bug with minutes and hours, you could use predifined style such as `shortTime` etc.
If you still need to use custom pattern you could combine 2 date filters.
Here is workaraund plnkr _http://plnkr.co/edit/NO7K4TPuVRkRfvESyAg7?p=preview_

[2016-06-18 15:26] sharpmachine commented on #9088
I'm experiencing this exact issue in the new router: `3.0.0-alpha.3`. Back buttons works once and forward button doesn't work at all.

[2016-06-18 15:30] sharpmachine opened #9339 "Angular Router 3.0 history navigation broken"
Exact same issue as #9088, but on the `"@angular/router": "3.0.0-alpha.3"`.

Browsers back button works once and forward button doesn't work at all.

Chrome 51
OSX
Angular 2.0.0-rc.1

[2016-06-18 15:32] ericmartinezr commented on #9339
The router lives here https://github.com/angular/vladivostok, see also https://github.com/angular/vladivostok/issues/64

[2016-06-18 16:03] #9333 closed

[2016-06-18 16:28] vicb opened #9340 "Html Parser improvements"
@laco0416 is working on making the interpolation config configurable in https://github.com/angular/angular/pull/9158.

Once this PR lands we can work on further Lexer/Parser improvements.

We should add a new `INTERPOLATION_TOKEN` to the lexer output for interpolations.

Benefits:
- Any character is allowed in an interpolation - currently `<` in an interpolation is considered as a tag start and we

[2016-06-18 16:30] vicb commented on #9339
@sharpmachine could you please test with alpha.7 ? Thanks

[2016-06-18 16:31] vicb commented on #9336
Please provide a plunker

[2016-06-18 16:32] vicb commented on #9337
Please provide a plunker

[2016-06-18 16:37] vicb commented on #8306
Could someone please provide a plunker on rc2 ?

[2016-06-18 16:37] naveedahmed1 commented on #9336
Please have a look at https://plnkr.co/edit/j9U1vnNZN1D9Rch79UZ8?p=preview

[2016-06-18 16:37] vicb commented on #8306
@juliemr could you please take a look ?

[2016-06-18 16:37] pkozlowski-opensource commented on #9332
On it right now.

[2016-06-18 16:39] vicb commented on #6425
Closing, please re-open with an updated plunker if this is still a pb on rc2+

[2016-06-18 16:39] #6425 closed

[2016-06-18 16:40] vicb commented on #8559
@juliemr could you please take a look ?

[2016-06-18 16:42] laskoviymishka commented on #9324
Could you please provide plnkr for these one

[2016-06-18 17:07] sharpmachine commented on #9339
Will do. It's going to take a minute though. There are a few breaking
changes and it requires Angular 2 be RC2.

On Sat, Jun 18, 2016 at 9:31 AM Victor Berchet <notifications@github.com>
wrote:

[2016-06-18 17:10] gdi2290 commented on #9049
you're most likely looking to load the compiler asynchronously in a web worker after initial boot during cpu idle to get best of both worlds

[2016-06-18 17:14] shlomiassaf commented on #9293
@pkozlowski-opensource I did some searching and found that there are several offered solutions to solve this, from different places.

The main issue is that you can not get access to the `ViewContainerRef` outside of a component, any component.

In this case you're referring to the top-level root component, but it's the same to any component.
This issue is specific to `ViewContainerRef` of the top

[2016-06-18 17:18] sharpmachine commented on #9339
Thanks @vicb. I upgraded to Alpha 7, fixed the breaking changes (paths cannot have a `/ ` and `index` has been deprecated), upgraded to Angular 2 RC2, and now the history navigation is working great for me.

[2016-06-18 17:25] pkozlowski-opensource commented on #9293
This issue is specific to ViewContainerRef of the top level component but it should be to any component.

Not sure I follow. In any case we are really not that much interested in `ViewContainerRef`- we just need _something_ that would allow us to load components and attach them under a DOM node of choice. So let's work this out with @tbosch without jumping to any conclusions about the final shape

[2016-06-18 17:26] pkozlowski-opensource commented on #9339
@sharpmachine thnx for reporting back - I guess this one can be closed. In the future please use router repository (angular/vladivostok) for router-specific issues. Thnx!

[2016-06-18 17:26] #9339 closed

[2016-06-18 17:30] shlomiassaf commented on #9293
@pkozlowski-opensource I'm not jumping into conclusions, i'm expressing my opinion. I'm not the one deciding so there's no harm here.

That's exactly `ViewContainerRef`

As a side note, `ComponentRef` has everything needed, including `ViewComponentRef`.

[2016-06-18 18:40] michaelbromley commented on #8306
@vicb @juliemr Just put together a plunk on rc.2 and it looks like it is fixed: https://plnkr.co/edit/P9TqOG?p=preview

To confirm that it is fixed from rc.1, you can change line 9 of config.js to `var ngVer = '@2.0.0-rc.1';` and the second test will fail.

[2016-06-18 18:53] sqwk commented on #9335
You can achieve the desired behaviour by styling the initial state via css and then delaying a negative transform. (See this plunkr: http://plnkr.co/edit/BT6Aa2Y1itOd5lIemXu6?p=preview)

This is slightly related to #9326: If fixed, one can style the end state via css and simply do something closer to this: http://plnkr.co/edit/2xwWSmWXpRzOHzv4v6jA?p=preview

[2016-06-18 19:06] meiriko commented on #8602
I tried this approach yet the input field looses focus after the first letter I enter. Any ideas?

[2016-06-18 19:09] bennadel commented on #9335
@sqwk sorry, I think I may not have been clear with the intent. The precedence set by NG1 is not that one animation happens _after_ the other; rather, that the parent animations runs while the nested animations is _completely skipped_, with the nested elements showing up in their "end" state immediately. So, to bring it back to my plunker, I think the better user experience is that the parent anim

[2016-06-18 19:22] sqwk commented on #9335
Yes, it would be great if that could be configured with `animate-children` (or rather `ignore-child-animation`if the current default is kept).

However, I wouldn't jump to the conclusion that child animations should inherit their parent transitions. Think of a table coming in from the left and the specific rows/columns from the right. The current default that animations are not inherited allows fo

[2016-06-18 19:50] laskoviymishka commented on #9324
Sorry didn't mention that this is feature request :sweat:

[2016-06-18 19:57] DzmitryShylovich commented on #9336
`import { Control, ControlGroup } from "@angular/common";` wrong import for new forms api

[2016-06-18 20:26] marcalj commented on #9213
The problem is when using third party UI modules that are not yet fully migrated to NG2 (angular-ui-bootstrap, angular-strap, etc).

It's a big stopper for us on the fully migration to NG2.

The reason why i'm in the process of migration is due to one "infinite scrolling view" we had with terrible poor performance in NG1, and really fast with NG2, **so congrats team!!! You did an excellent job** (

[2016-06-18 20:33] bennadel commented on #9335
@sqwk I meant inherit in so much as they are ancestors in the DOM tree, so if the parent is animated by opacity, they (the children) will also be animated by opacity due to their relationship. That said, with the NG1 approach to `ng-animate-children`, you could definitely to the table-left / rows-right approach.

I think the NG2 stuff looks a **lot more flexible**; but, at the same time, might mak

[2016-06-18 20:42] vicb commented on #8306
@michaelbromley thanks for investigating

[2016-06-18 20:42] #8306 closed

[2016-06-18 21:23] naveedahmed1 commented on #9336
Thank you so much Dzmitry,it was really helpful.  I didn't realize that I have updated all components, and templates but didn't update the import in my custom validators.

[2016-06-18 21:23] #9336 closed

[2016-06-18 22:12] sqwk opened #9343 "Allow Custom CSS Variables in [ngStyle]"
This could be both a bug or a feature request …

**Current behavior**

When binding a custom CSS variable via `[style.--feat-image]=...'` or `[ngStyle]=“{‘--feat-image’: … }”` the property is ignored by angular and not bound. I assume there is a whitelist for certain (CSS) properties, which does not include possible CSS variables yet.

**Expected/desired behavior**

The value should be bound. If a

[2016-06-18 22:23] rspenc29 opened #9344 "Module '"node_modules/@angular/router/index"' has no exported member 'provideRouter'."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Following the documentation at https://angular.io/docs/ts/latest/guide/router.html I add the following line to my `app.routes.ts`

    import { provideRouter, RouterConfig } from '@angular/router';

Then i run `npm start` and get the following errrors

    app/app.routes.ts(2,10): error TS2305: Module '"node_modules/@angu

[2016-06-18 22:25] ericmartinezr commented on #9344
RC.2 is shipped with the RC router, which has been deprecated. You need to install the vladivostok router

[code]

[2016-06-18 22:38] rspenc29 commented on #9344
Thanks for the quick reply. For anyone else that sees this, I also had to update my system.config.js to not use the umd files for the router since they aren't there in alpha.7 as well as remove the leading `/` from all of my routes.

[2016-06-19 01:49] naveedahmed1 opened #9345 "Angular Router 3.0.0-alpha.7"
Hi,

I am just migrating my application to the new router i.e. Angular Router 3.0.0-alpha.7.

It seems that the new router doesn't treat below route as a valid route

`{ path: '/products', component: ProductsComponent },`

and gives error "Error: Invalid route configuration of route '/products': path cannot start with a slash"

Whereas, if I remove slash it treats it as a valid route:

`{ path: 'p

[2016-06-19 02:00] ericmartinezr commented on #9345
The repo for the router is here https://github.com/angular/vladivostok, also the slash and index are deprecated.

[2016-06-19 02:13] naveedahmed1 commented on #9345
Thank you Eric, I will post new router related issues there.

If you could please tell, if the slash ha been depreciated is there any other way to achieve below route.

{ path: '/', component: HomeComponent },

I want the root of my website to map to the HomeComponent.

[2016-06-19 02:21] ericmartinezr commented on #9345
See the changelog in the corresponding repo https://github.com/angular/vladivostok/blob/master/CHANGELOG.md#breaking-changes

[2016-06-19 02:29] naveedahmed1 commented on #9345
Thank you so much Eric really appreciate your help :)

Will they eventually merge the router at https://github.com/angular/vladivostok in Angular 2? or will it be   treated as a separate project from now onward?

[2016-06-19 02:33] ericmartinezr commented on #9345
@naveedahmed1 as far as I know it will eventually be merged, but for now it is under its own repo.

[2016-06-19 02:40] naveedahmed1 commented on #9345
Though you mentioned that its not the repo of the new router but since you are familiar with the new router. I want to ask one more question and would appreciate if you could please help.

I know that in new router we can access route parameters using below code:

[code]

This works for single parameter but can you please guide how do we access multiple parameters.

For example if we have below ro

[2016-06-19 02:49] ericmartinezr commented on #9345
@naveedahmed1 I'm not really familiarzed with the new router, you'll better be asking here https://gitter.im/angular/angular since the repository is for reporting issues related to the framework.

[2016-06-19 02:52] naveedahmed1 commented on #9345
Thank you, Got it!

[2016-06-19 02:52] #9345 closed

[2016-06-19 04:22] #9344 closed

[2016-06-19 04:52] #9037 closed

[2016-06-19 05:12] pkozlowski-opensource commented on #8401
Closing since this belongs to the zone repo and is already opened in there.

[2016-06-19 05:12] #8401 closed

[2016-06-19 05:14] pkozlowski-opensource commented on #8368
This was fixed in kaster via https://github.com/angular/angular/commit/164a091

[2016-06-19 05:14] #8368 closed

[2016-06-19 05:33] pkozlowski-opensource commented on #7599
Closing ad it is a support question.

[2016-06-19 05:33] #7599 closed

[2016-06-19 05:47] pkozlowski-opensource commented on #6831
Closing as we don't have reproduce scenario.

[2016-06-19 05:47] #6831 closed

[2016-06-19 06:06] zijianhuang commented on #8251
I could confirm what reported by the OP. And even those test cases in the tutorials of Angular 2 official Website are not working for async functions: with async, injectAsync.

[2016-06-19 06:23] pkozlowski-opensource commented on #9343
I guess you are more likely to _use_ a defined variable rather than _declare_ one, so a more real-life use-case would probably be `[style.background-color]="'var(--main-bg-color)'"`. But yeh, currently this is sanitized. @mprobst will know more.

[2016-06-19 06:26] pkozlowski-opensource commented on #9320
Hmm, if I read #9319 correctly we will still need those symbols

[2016-06-19 06:36] zoechi commented on #6831
I guess this was because of mixing `'` and `"` in imports. That's not an Angular2 issue. I don't know if the root cause was fixed already. AFAIR it's a TypeScript issue.

[2016-06-19 06:36] pkozlowski-opensource commented on #6497
Closing since DynamicComponentLoader is deprecated.

[2016-06-19 06:36] #6497 closed

[2016-06-19 06:41] pkozlowski-opensource commented on #5984
Closing since SystemJS bundles are gone and UMD bundles were re-organized so this one is no longer relevant.

[2016-06-19 06:41] #5984 closed

[2016-06-19 06:43] asiacoll commented on #9344
I have the sam problem. Could you tell me how to update my system.config.js to not use the umd files for the router?

[2016-06-19 07:48] rspenc29 commented on #9344
Assuming you are using the same `system.config.js` as the quick start, remove `router` from the `ngPackageNames` array and add `'@angular/router': { main: 'index.js', defaultExtension: 'js' }` to the `packages` array.

[2016-06-19 08:54] asiacoll commented on #9344
thanks a lot, it works and I can go ahead. However there are error messages:
platform-browser.umd.js:962 EXCEPTION: Error: Uncaught (in promise): TypeError: _this.location.isCurrentPathEqualTo is not a function

please help.

[2016-06-19 09:18] thecodemine commented on #9344
I'm facing the exact same issue, and am also stumped at the "Error: Uncaught (in promise): TypeError: _this.location.isCurrentPathEqualTo is not a function" error. Any help would be greatly appreciated.

[2016-06-19 09:23] pkozlowski-opensource commented on #9344
@asiacoll @thecodemine there is not much point in commenting on a closed issue, especially with an unrelated error. Please ask support questions on a dedicated channel: https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2016-06-19 09:26] janbaer opened #9348 "Breaking change with RC2: Sending Urls with search params because of encoding search values"
**I'm submitting a ...**  (check one with "x")
[code]
q=repo:janbaer/howcani+type:issue&sort=created&order=desc&page
[code]
q=repo%3Ajanbaer%2Fhowcani%2Btype%3Aissue&sort=created&order=desc&page=1
[code]
repo:howcani-project/howcani-data+type:issue
[code]

[2016-06-19 09:55] pkozlowski-opensource commented on #6600
@jelbourn this could be an easy fix but a conceptual pb needs to be resolved first, see: https://github.com/angular/angular/pull/9347#issuecomment-226988823

[2016-06-19 09:56] pkozlowski-opensource commented on #2589
This could be an easy fix but a conceptual pb needs to be resolved first, see: https://github.com/angular/angular/pull/9347#issuecomment-226988823

[2016-06-19 10:02] janbaer commented on #9348
In the meantime I found the reason for the breaking change. It comes from this commit here:

https://github.com/angular/angular/commit/6f3a6a55a08dd6ce12ed55009ab9fe6c29a8366f

@netdesk has commented this comment since he found out that this change leads to a breaking change since some urls (like mine) could not longer be send when using the Request options object.

[2016-06-19 13:33] iloveyo123u1 opened #9349 "angular Not suitable for the front end, only suitable for background management ?"
Angular to do the background management program is very good

But it is not suitable for the front end, because it is too big

i used angular-cli

Generated file is too large

1-2MB

if i used jquery, just 100KB

The official did not provide a very good compression program, a house, no matter how beautiful you decorate the inside, if the appearance is very ugly, very few people live in

I hope off

[2016-06-19 14:07] ericmartinezr commented on #9349
dup of https://github.com/angular/angular-cli/issues/1136

[2016-06-19 14:43] yjaaidi commented on #9193
Good point Igor!

What about an option for the `provide` function?

Something like :

`provide(HeroStore, {noOverride: true})`

[2016-06-19 16:14] #9237 closed

[2016-06-19 17:26] #5312 closed

[2016-06-19 17:40] vsimak opened #9350 "Leaving animation (* => void) ignored when routerLink used"
**I'm submitting a ...**  (check one with "x")

[code]

**Current behavior**
When we have an element animated via trigger, and we specified the entering ('void => _') and exiting ('_ => void') transitions, when there is a change in routerLink the exiting transitions is ignored / and cut, while the entering transition works fine.

**Expected/desired behavior**
As this is not something that has been

[2016-06-19 18:51] CaptainCodeman commented on #9350
I think that was the original reason for the router outlet being a placeholder rather than a container - both views need to exist at the same time for a period while the transition is animated. There was also going to be the anchored elements that could be animated between the source and destination views as demo'd at ng-conf 2015:

https://youtu.be/R0OrxxJNcjU?list=PLOETEcp3DkCoNnlhE-7fovYvqwVPrR

[2016-06-19 19:45] kemsky commented on #8937
`ContentChildren` works only for the component-owner of template.

This works (panel owns content):
`<panel><div>some content</div></panel>`
but this does not (content belongs to component where this template is defined):
`<panel><ng-content></ng-content></panel>`

Most important here is lack of documentation for `ng-content`, which leads to confusion in any non-trivial example.

As a work around

[2016-06-19 20:45] robwormald commented on #9349
Closing as a dupe of angular/angular-cli#1136

Small bundle sizes are possible with the offline compiler, and documentation will be forthcoming on how to use it. For example: https://ng2-weather-pwa.firebaseapp.com/

[2016-06-19 20:45] #9349 closed

[2016-06-19 20:55] robwormald commented on #9334
This is an inherent issue with commonJS modules, but not one we can really do much about, unfortunately.

ES6 modules (and SystemJS, because it implements the same semantics) have support for this, but we can't (yet) mandate either of those as browser support is not in place yet.

CommonJS is the defacto for NPM, and thus we can't use System there (nor can we mandate that everybody use SystemJS mo

[2016-06-19 21:08] JemiloII opened #9352 "Angular 2 Tutorial Should Default To Javascript, not Typescript"
Angular 2 Tutorial Should Default To Javascript, not Typescript. It's annoying to have to go to a drop down menu to find it. The community is not going to rush to typescript nor should they be forced to. Defaulting to typescript creates an entry barrier as many may just give up after wondering what typescript is. It's extra overhead.

[2016-06-19 21:16] robwormald commented on #9352
we strongly suggest using Typescript with Angular2, and thus it will remain the preferred language in the docs.

[2016-06-19 21:16] #9352 closed

[2016-06-19 21:59] RomanGotsiy opened #9353 "innerHtml injects html content inside node attribute in RC.2"
**I'm submitting a ...**
[code]

**Current behavior**
`innerHtml` injects whole HTML content into DOM node attribute `ng-reflect-inner-h-t-m-l`.
Moreover, it also uses sanitization and if HTML content has newlines it prints tons of warnings to the console:

      WARNING: sanitizing HTML stripped some content.

In case sanitization is bypassed it injects content with newlines into the attribute (c

[2016-06-19 22:15] kemsky commented on #9293
I have created my own modal implementation and it requires 2 things:
1. root view (or any other view) - to create/insert component.
2. root injector (could be replaced with any child injector) - to get `ComponentResolver` reference and optionally to create child injector to pass parameters to modal which is also important.

[code]
I'm not using templates, each modal is separate component with its

[2016-06-19 22:34] sqwk opened #9354 "Feature Request / Bug: something => void Animation Only Works with *ngIf on the Same Element"
**Current behavior**

Animation from `something => void` only works if the `*ngIf` is on the element that is animated and not if it is on an element further up the chain.

Animating from `void => something` works both ways.

**Expected/desired behavior**

Elements being animated should animate out no matter where the `*ngIf` is located, since they are still being removed from the DOM.

**Reproduct

[2016-06-20 00:04] gdi2290 commented on #6831
this problem might be due to having two `angular2/core` imports rather than one. I've had that problem in the past

[2016-06-20 01:27] vicb commented on #8517
Use /build.sh for now

[2016-06-20 01:27] #8517 closed

[2016-06-20 03:19] vicb commented on #9353
This behavior is only active in *dev mode* - prod mode does not work with rc2 which is why you still see the same behavior.

[2016-06-20 03:46] kamarouski opened #9357 "RC2. iframe with binded src value is reloaded on any angular interaction"
Environment: angular 2 rc2, Chrome

In my app I'm using iframes to display some external content. The URL for the iframe src is generated by angular component. so I have something like this in my template

``` <iframe [attr.src]="source"  [ngStyle]="frameCss"></iframe> ```

Compionent code is the following

[code]

The issue is that on every Angular 2 interaction (regardless of origin)  iframe con

[2016-06-20 04:01] robwormald commented on #9357
this is because you are using a getter method, which is re-executed every time change detection runs, which returns a new instance of the sanitized URL (wrapper).

It's generally better to set properties once, rather than having them repeatedly re-computed.

[2016-06-20 04:07] kamarouski commented on #9357
thanks @robwormald!

I've changed the getter to return the same instance of SafeUrl and it solved the problem.

[2016-06-20 04:08] #9357 closed

[2016-06-20 04:38] mboudreau opened #9358 "$transclude.isSlotFilled returns true when the only DOM element returned is a comment"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
While using multi-slot transclusion, I'm calling the `isSlotFilled` function to see if it's being used.  Within one of those transclusion, I have an `ng-if` on the transclusion element itself and it returns false, hence removing the DOM element, the `isSlotFilled` still returns true even though no real DOM element is curre

[2016-06-20 06:00] teropa commented on #9218
@yjaaidi Nope, API docs are written by the core team. Sounds like something that should be mentioned though. 👍

[2016-06-20 06:10] arpit-agarwal opened #9359 "UMD bundle cannot be used for RxJS"
**I'm submitting a ...**  (check one with "x")

[code]

**Current behavior**
I updated system-config.ts file to download umd file for rxjs I.e rxjs\bundles\Rx.umd.js. This worked. But I still see in dev tools a lot of individual JS being load like rxjs\observer.js

**Expected/desired behavior**
When using UMD for rxjs it should not download individual files

**Reproduction of the problem**
See thi

[2016-06-20 06:55] RomanGotsiy commented on #9353
Thanks.
I've tried to apply workaround from https://github.com/angular/angular/issues/8508 and it resolved the issue.
Also, I've just checked and this issue seems to be already fixed by [ tbosch@838f3a6](https://github.com/tbosch/angular/commit/838f3a686f998ee32b5568402fdb570dcbbcbd46#diff-50201d02612554c3edfad99b9b394314L40).

So closing this.

[2016-06-20 06:55] #9353 closed

[2016-06-20 07:09] marcalj commented on #9252
Please, also add notes about which polyfills need each browser version. I'm targeting IE11+ and I'm not sure if I need complete polyfills or just some of them.
Thanks!

[2016-06-20 07:17] frederikschubert opened #9360 "isDevMode is not exported from @angular/core"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
`isDevMode` is not exported from `@angular/core`.

**Expected/desired behavior**
`isDevMode` should be exported from `@angular/core`.

**What is the motivation / use case for changing the behavior?**
I am using @ngrx/store with [ngrx-store-logger](https://github.com/btroncone/ngrx-store-logger) and only want to use the log

[2016-06-20 07:19] zoechi commented on #9358
https://github.com/angular/angular.js is the repo for Angular.js, this is Angular2

[2016-06-20 07:21] mboudreau commented on #9358
God damnit.  sorry.

On Mon, Jun 20, 2016 at 5:20 PM Günter Zöchbauer <notifications@github.com>
wrote:

[2016-06-20 07:22] #9358 closed

[2016-06-20 07:29] zoechi commented on #9343
You can explicitly allow it by for example using a pipe like shown in https://github.com/angular/angular/issues/8491#issuecomment-217473878

[2016-06-20 07:37] janbaer commented on #9348
I just changed the title of the issue since it has nothing todo with sanitizing the url

[2016-06-20 07:51] timruffles commented on #6643
Would also be nice for things like defaulting to `OnPush` across a codebase. This is what the ng 2 advanced boilerplate [is doing](https://github.com/NathanWalker/angular2-seed-advanced/blob/1a17052cdc72cf98e4c74e051a6b1211c82ef201/src/client/app/frameworks/core.framework/decorators/utils.ts)

[2016-06-20 08:16] #8945 closed

[2016-06-20 08:46] chandanch commented on #9253
Hello I'm facing the same problem I'm using the srcdoc attribute of the iframe, the styles are not appearing in the iframe, Here is the code snippet:

**page.html**
[code]
**page.ts**

[code]
On the browser console I get this message:

How to enable the style within the iframe?

[2016-06-20 08:47] zoechi commented on #8602
@meiriko
GitHub issues are for bug reports and feature requests.
    For support questions please use other channels like the ones listed in [CONTRIBUTING - Got a Question or Problem?](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question)

[2016-06-20 08:48] chandanch commented on #9253
@vicb I also tried like as you mentioned in your comment:

My code snippet:

`   <iframe [srcdoc]=htmlData></iframe>`

Even this did not work, Are there any alternatives for this?

[2016-06-20 08:52] zoechi commented on #9088
@sharpmachine maybe angular/vladivostok#64

[2016-06-20 09:07] zoechi commented on #9253
@chandanch as mentioned above you need to use `bapassSecurity...` like explained above and for example in https://github.com/angular/angular/issues/8491#issuecomment-217473878

[2016-06-20 09:07] zoechi commented on #9253
@chandanch GitHub issues are for bug reports and feature requests.
    For support questions please use other channels like the ones listed in [CONTRIBUTING - Got a Question or Problem?](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question)

[2016-06-20 09:14] zoechi commented on #8280
@yjaaidi what Angular2 version?

[2016-06-20 09:50] Foxandxss commented on #9337
I guess I have a similar problem.

I have a collapse, it is a directive applied to a thing that you want to, well, collapse. I don't know how to apply the animation to the host. Here is my try:

http://plnkr.co/edit/Vc4cSgZNXK70EaZoVzd9?p=info

Tried a few things, no luck.

[2016-06-20 10:10] sqwk commented on #9343
Unfortunately, the value is still blocked, even using the filter:

`[style.--event-logo]="'url(' + eventLogo + ')' | safe"`.

`eventLogo` is a data url (`url(data:image/png;base64,...`), so would that also need be unblocked?

[2016-06-20 10:10] vsimak commented on #9350
Yeah. Good anchoring really is a rally point of app-like smooth interface.
Now I am wondering whether this is on the roadmap, or it exists and is just not documented.

[2016-06-20 10:13] zoechi commented on #9343
@sqwk What is `[style.--event-logo]="..."` supposed to do? I don't think you can use CSS variable values as style property names.

[2016-06-20 10:15] whatbirdisthat commented on #7280
i changed my `tsconfig.json` compilerOptions.target needs to be "es6"

[2016-06-20 10:29] sqwk commented on #9343
I am trying top pass in a user uploaded image to add to an existing stylesheet. Theoretically one could just write `background-image` to the element in question, unfortunately, it is an `:after` element that won't allow this. So, yes, it is a very isolated problem to have …

I have tested the idea of using CSS variable to pass the value to a containing element by manually editing the style. Works

[2016-06-20 10:33] zoechi commented on #9343
@sqwk Where is this spec'ed, can you provide a link? Can you provide a Plunker that shows how it works outside of Angular2 and how it not works inside?

[2016-06-20 11:11] sqwk commented on #9343
The spec: https://drafts.csswg.org/css-variables/ (You can find a slightly more readable version at the mozilla link in the first comment.

A plunkr of it working in pure html: http://plnkr.co/edit/6mxzWTZBXbOMpkVRZPLl?p=preview And in Angular: http://plnkr.co/edit/AwnSgzpicjjYR0pjaIms?p=preview (I had to host the css externally, as plunkr seems to have trouble with the var() in the stylesheet.)

[2016-06-20 11:21] janbaer commented on #8688
It seems that it's the same problem that I described in #9348

[2016-06-20 12:47] sath1982 commented on #8422
Same problem here. Our company uses Nexus 2.11. We are also searching heavily for any alternatives?

[2016-06-20 14:01] fxck commented on #3009
any news on this?

[2016-06-20 14:04] adamdbradley commented on #7626
@pkozlowski-opensource This isn't about debouncing, but rather not having listeners added to the element at all, and ability to add/remove those listeners.

[2016-06-20 14:23] dragGH102 commented on #9359
+1. I had the same issue

[2016-06-20 14:25] zoechi commented on #7626
If you want to control when these events are subscribed/unsubscribed to, then why not just subscribe imperatively?

[2016-06-20 14:27] Tragetaschen commented on #6327
The shim in the third comment works
[code]

[2016-06-20 14:28] dragGH102 opened #9362 "[ZoneJS] Angular 2 app hangs up on task queue"
**I'm submitting a ...**  (check one with "x")
[code]

I am posting this here because I think it's an issue related to Angular 2 even though I can't be completely sure as everything gets stuck when I try to debug it, so it could be System.Js as well as Zone.js.

**Current behavior**

The angular app (rc2 based on quickstart tutorial with a couple of other packages in map and packages (SystemJS con

[2016-06-20 14:29] zoechi commented on #9362
What are the exact instructions to reproduce? Plunker?

[2016-06-20 14:33] dragGH102 commented on #9362
@zoechi that's not possible. this is a commercial app.
I understand that without a plunkr it's difficult to say what's going. I wish I knew how to debug the issue (any suggestion is welcome) since the browser keeps getting stuck.
I'm also quite sure this is not an issue with the app's code as I already dealt with code running indefinitively but still the browser was usable.

[2016-06-20 14:39] zoechi commented on #9362
I wouldn't expect anybody to try to debug a whole application anyway. You would need to remove everything that's not related to the issue.

The message about the old forms module you got, doesn't require any action. The forms module is going to be replaced soon. This is just a reminder that you're still using the old one. The old forms module will stay available for a while as forms-deprecated so

[2016-06-20 14:41] dragGH102 commented on #9362
@zoechi I'll try to create a replicable example

[2016-06-20 14:50] mprobst commented on #9253
@zoechi in all fairness, we're still working on the docs, so it's pretty tricky to figure this out by yourself.

@chandanch indeed, you'll need to use `bypassSecurity...` to mark your HTML as trusted and safe. Otherwise Angular will strip active parts, like your CSS style declaration, as it could contain malicious code.

[2016-06-20 14:55] tbosch commented on #9293
@pkozlowski-opensource Your plunker shows 2 use cases:

1) creating a component in a provider that has been passed to bootstrap
2) creating an embedded view (from a TemplateRef) in a provider that has been passed to bootstrap

To fix your plunker, you need to register the change detectors of both!

See this plunker: http://plnkr.co/edit/tHlSZLObdAuCPZ3ZX6DY?p=preview

This uses the following non p

[2016-06-20 15:06] tbosch commented on #9293
Also note that calling `registerChangeDetectorRef` might lead to a memory leak when using `ComponentRef.destroy()`, as it does not account for this case (yet).

[2016-06-20 15:07] vicb commented on #9360
@tbosch could you please take a look ?Thanks

[2016-06-20 15:10] vicb commented on #9362
Please re-open when you have a minimal repro in a plunker. Thanks.

[2016-06-20 15:10] #9362 closed

[2016-06-20 15:15] vicb commented on #6327
shim available

[2016-06-20 15:15] #6327 closed

[2016-06-20 15:20] Tragetaschen commented on #6327
Will there be documentation that enlists all the shims that angular2 needs for full browser support or certain scenarios and doesn't ship by itself?

Issues like this are hard to figure out when running into and all pieces of information are scattered through a lot of places at the moment.

[2016-06-20 15:31] ospaarmann opened #9363 "Cannot bind template reference variables to ngModel in new forms in rc2"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When using the new forms with rc2 binding a template reference variable to `ngModel` doesn't work as described in the [new form proposal](https://docs.google.com/document/u/1/d/1RIezQqE4aEhBRmArIAS1mRIZtWFf6JxN_7B4meyWK0Y/pub). The error I'm getting is:

[code]

**Expected/desired behavior**
It should be possible to bind a

[2016-06-20 15:34] vicb commented on #6327
Could you please check if there is an issue opened in angular/angular.io (the doc repo) and create one if none exists ? Thanks.

[2016-06-20 15:36] frederikschubert commented on #9360
I saw [here](https://github.com/angular/angular/blob/master/modules/@angular/core/index.ts#L9) that it's exported correctly but somehow this doesn't find its way into the npm distribution.

[2016-06-20 15:43] ericmartinezr commented on #9363
That change was made 5 days ago https://github.com/angular/angular/pull/9240, it's not in RC.2

[2016-06-20 15:58] chandanch commented on #9253
Its working now, I used the bypassSecurityTrustStyle and the styles are added with the iframe as well.
Thanks!
Also, there is more issue with the innerHTML attribute, Angular strips down the id attribute if a particular innerHTML has been specified with ID, Here is the code snippet which gives more clarity on what I'm trying to explain:

**page.html**
[code]
**page.ts**

[code]
Run this on a brows

[2016-06-20 16:22] IgorMinar commented on #9319
@mhevery I believe that

[code]

should be

[code]

[2016-06-20 16:22] IgorMinar commented on #9320
I think that's a typo in 9319. see
https://github.com/angular/angular/issues/9319#issuecomment-227192854

On Sat, Jun 18, 2016 at 11:26 PM Pawel Kozlowski <notifications@github.com>
wrote:

[2016-06-20 16:27] IgorMinar commented on #9221
I actually think that the problem is in your setup. But since I can't see
what your setup is, I can't debug the issue and confirm. I was however able
to confirm that all of our code works fine on ie10 and I shared the
reproduction with you.

On Fri, Jun 17, 2016 at 11:07 AM Hani <notifications@github.com> wrote:

[2016-06-20 16:41] arpit-agarwal commented on #9359
There are direct imports of Rx sub module in &vanguard/http which may lead to this issue. If @angular/http start using rxjs from umd module then this could be resolved.

[2016-06-20 16:42] hlobil commented on #8720
I have rc2 and 1.9.0-dev.20160620-1.0.

I am still getting error when enabling strict null check.

9     extends?: Type;
[code]

[2016-06-20 16:43] vicb commented on #9360
@tbosch has updated the file end of last week. It should be released in rc.3

[2016-06-20 16:43] #9360 closed

[2016-06-20 16:45] traviskaufman opened #9368 "feature-request(renderer): Provide "unlisten" method to complement "listen""
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

The renderer API currently has a [listen() method](https://angular.io/docs/ts/latest/api/core/index/Renderer-class.html#!#listen-anchor), which appears to be used for [adding event listeners](https://github.com/angular/angular/blob/master/modules/%40angular/platform-browser/src/dom/dom_renderer.ts#L151) to an elementRef.

[2016-06-20 16:46] agalazis commented on #2567
+1 this is a must !

[2016-06-20 16:47] ericmartinezr commented on #9368
`listen()` and `listenGlob()` both return a function to *unlisten* them

[code]

[2016-06-20 16:49] traviskaufman commented on #9368
Ah, I see. That should work just as well. Thanks for the swift response!

[2016-06-20 16:49] #9368 closed

[2016-06-20 16:50] thelgevold commented on #7297
I understand the challenges, but my primary concern about the current md-input approach is that it makes it very hard to add your own attributes to the input element, unless md-input adds an API around it to ferry inn custom attributes.

One specific example that comes to mind is forms integration.

The new forms directives are not platform directives, so it seems like integration with forms would

[2016-06-20 17:07] hanijizan commented on #9221
@IgorMinar nothing crazy in setup. Pretty straight forward:

**tsconfig.json**

`{
  "compileOnSave": true,
  "compilerOptions": {
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "module": "amd",
    "moduleResolution": "node",
    "removeComments": true,
    "noImplicitAny": false,
    "sourceMap": true,
    "target": "es3"
  }
}`

**systemjs**

`System.config({

[2016-06-20 17:34] mprobst commented on #9253
@rjamet this might be Angular protecting against DOM poisoning. If you declare an element with the ID `foo`, it will appear as `document.foo` in the resulting DOM.

[2016-06-20 17:34] #9253 closed

[2016-06-20 17:36] vicb commented on #9363
Will be released in rc.3 (thanks @ericmartinezr)

[2016-06-20 17:36] #9363 closed

[2016-06-20 17:38] pkozlowski-opensource commented on #9293
@tbosch OK, I see now that you need to register both component _and_ an embedded view change detectors, cheers for this!

But then would I still be able to move nodes _outside_ of the bootstrapped application? Asking since with `ComponentFactory::create` I can specify `rootSelectorOrNode` while I don't see equivalent with `ViewContainerRef::createComponent`

[2016-06-20 17:54] skerman opened #9371 "typings "install" fails"
EDIT: typings doesn't use the `npm config `file, so setting your proxy settings there will result in this error.

You must set your proxy per the config method used by typings, found here.
[https://github.com/typings/typings/blob/master/docs/faq.md#configuration.](url)

Perhaps you should mention this in your angular2 quickstart.

You may close this issue.

**I'm submitting a ...**  (check one wit

[2016-06-20 18:00] kinggolf commented on #6716
@brandonroberts @wkwiatek Thanks for presenting and covering this. My unit tests are now working, but I am still unsure what all is going on. Here is a portion of my spec file:
[code]
The test 'should have 3 buttons' requires overrideProviders since SignupsService is a provider to SPCAdminComponent and as such will disregard this info in beforeEachProviders. However, the test 'it should have as ti

[2016-06-20 18:16] #9326 closed

[2016-06-20 18:19] matsko commented on #9326
If you want to start using this now, in your `package.json` or system.js config files include the following mappings:

[code]

[2016-06-20 18:24] pkozlowski-opensource commented on #8889
General issue of testing `ComponentResolver` interactions is tracked in #8617. Closing as a duplicate.

[2016-06-20 18:24] #8889 closed

[2016-06-20 18:25] pkozlowski-opensource commented on #3474
The same issue and potential solutions are discussed in #9293. Closing as a duplicate.

[2016-06-20 18:25] #3474 closed

[2016-06-20 18:27] #9371 closed

[2016-06-20 18:37] sqwk commented on #9326
@matsko thanks for the heads up.

[2016-06-20 19:08] shlomiassaf commented on #9293
`ComponentFactory::create` will search for the `rootSelectorOrNode` and treat it like a component (i.e compile the component)

`ViewContainerRef::createComponent` will add the new component as the last child of the host view, or in other word as the sibling of the `ViewContainerRef` instance.

[2016-06-20 19:10] xogeny commented on #8582
As a data point, this fix did get me past this error (and on to whole new ones :frowning:)

[2016-06-20 19:12] shlomiassaf commented on #9293
@pkozlowski-opensource I know you don't like it, but I'v spent hours on this and learned the linker by heart :)

Having `ComponentRef` expose the `ViewContainerRef` or at least the `createComponent` and `createEmbeddedView` functions - **Will solve this issue**

I'm 99% sure of this, but I will be happy to be wrong and get an answer, I'm dealing with dialogs since alpha 26 or something...

[2016-06-20 20:15] alexeagle commented on #8582
@vladima it looks like a bug to me, that program.ts has some methods which accept `containingFile: string` and expect it to be already normalized (eg. they call `ts.getDirectoryPath` on the value. which searches for `directorySeparator`). Yet `ts.normalize` is in `core.ts` which is all marked `@internal`. Seems like TypeScript ought to normalize all paths that originate from API users?

[2016-06-20 20:43] mlittrell commented on #9230
@wrldtrvllr that's the exact case I'm dealing with. My dynamic form element (which renders a specific custom form element based on meta data from the API) breaks now in RC2 because it doesn't have a name, nor does it need one. In fact, in the case, name makes absolutely no sense.

[2016-06-20 20:54] sethdorris opened #9374 "404 - Extra slash in import /router//bundles/router.umd.js"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
404 Error http://localhost:3000/node_modules/@angular/router//bundles/router.umd.js

Angular seems to be adding an extra / after router and before bundles folder

**Expected/desired behavior**

I expect the path to be only one slash

**Reproduction of the problem**
https://github.com/sethdorris/practice_angular2

just clon

[2016-06-20 21:00] brandonroberts commented on #9374
This is an issue with your SystemJS config: https://github.com/sethdorris/practice_angular2/blob/master/systemjs.config.js#L36

Removed the `/` before `bundles`

[2016-06-20 21:01] sethdorris commented on #9374
@brandonroberts Thank you sir!

[2016-06-20 21:06] brandonroberts commented on #9374
Close this one if resolved. 😄

[2016-06-20 21:06] #9374 closed

[2016-06-20 21:14] brandonroberts opened #9375 "Feat: Rename/Add support to ComponentResolver to handle a function that returns a promise"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

You can provide a `Type` or a `string` and use the `SystemJsComponentResolver` to resolve a component for loading.

**Expected/desired behavior**

You should be able to also provide a function that returns a `Promise` to resolve a component for loading.

**Reproduction of the problem**
If the current behavior is a bug or

[2016-06-20 21:40] IgorMinar commented on #9359
@robwormald this might a bigger issue than what I thought and is caused by deep imports into rxjs which won't work with umd. System.register format would handle this well, but that has other issues.

[2016-06-20 21:43] IgorMinar commented on #9375
@tbosch this go against your plans that we discussed recently. can you please evaluate this feature requests? thanks

[2016-06-20 22:02] #9329 closed

[2016-06-20 23:21] quiringk opened #9378 "Some of the datepipes stopped working with RC2"
**I'm submitting a ...**  (check one with "x")

[code]

**Current behavior**

( dateVariable | date:'yMMMMdjm') is producing '2016May1311 AM0'

**Expected/desired behavior**

should produce May 13, 2016 11:00 AM like it was before updating

**Please tell us about your environment:**
- **Angular version:** 2.0.0-rc.2
- **Browser:** [Chrome 51.0.2704.103 m]
- **Language:** [TypeScript 1.8.10]

[2016-06-20 23:21] atyapin opened #9379 "<input id="cb" type="checkbox" ngControl="cb" checked>"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When one puts <input id="cb" type="checkbox" ngControl="cb" checked> in template html initial value for #cb is null

**Expected/desired behavior**
#cb should be checked

**Reproduction of the problem**
http://plnkr.co/edit/f0VwRvHQh2Bw08985aiI

**What is the expected behavior?**
checked checkbox should be checked

**What i

[2016-06-20 23:21] gdi2290 commented on #6676
done via new new router
https://github.com/AngularClass/angular2-webpack-starter/blob/695d779bb6d0330c3dc871ff2972fcb7b036281d/src/app/app.routes.ts

[2016-06-20 23:21] #6676 closed

[2016-06-20 23:39] naomiblack opened #9380 "Add license statement to all source code"
We need to come up with an automated process to ensure that all .ts, .js. and .dart source code files contain the following notice.

[code]

[2016-06-21 00:04] tbosch commented on #9375
`ComponentResolver` will soon be changed to be synchronous and not support SystemJS any more. The router can still support asynchronous component loading by allowing users to provide their own `ComponentFactories` via a callback. Need to think about this a bit more...

[2016-06-21 00:12] tbosch commented on #7054
So `OnPush` / `changeDetectorRef.detach()` only affect the template of a component. And this makes sense:

Not calling the lifecycle hooks on a detached component would mean we probably also should not call set properties on the component.

You want to tell Angular that it does not need to dirty check the template as the components knows that e.g. all data is immutable. However, the components nee

[2016-06-21 00:12] #7054 closed

[2016-06-21 00:21] mprobst commented on #9253
@chandanch as said before, you can use the `bypassSecurityTrust...` APIs to avoid sanitization altogether, if that is what you want. Other than that, maybe follow @zoechi's link to help/support forums, for example Stack Overflow?

[2016-06-21 00:24] juliemr commented on #7648
I think we've decided to move a different direction, @vikerman any problem closing this?

[2016-06-21 00:33] vicb commented on #9378
@laskoviymishka could you please take a look at this ? Seems like it has been introduced in https://github.com/angular/angular/commit/324f0147f672b5f341d978910c6e64453cbe89e6#diff-59c005d76b788f67bc098f67b659d862

[2016-06-21 00:41] vicb commented on #9379
Seems like it works just fine with the newest form API (see the console logs in your plunkr for more details).

http://plnkr.co/edit/HFDTY5Bz063q2kyBZag9?p=preview

[2016-06-21 00:41] #9379 closed

[2016-06-21 01:10] frederikschubert commented on #9360
Great! Thanks for the quick reaction!

[2016-06-21 01:12] juliemr opened #9383 "Clean up browser-platform/testing_e2e public API"
We should possibly export `verifyNoBrowserErrors`, but nothing else - and it appears that even internal tests only use that and `browser` but it is unnecessary.

Upgrading Protractor to a version which exports typing (coming in the next release) may also affect this.

[2016-06-21 02:43] zerovirus23 opened #9384 "@Input field required default value"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
[code]
The event field with the Input decorator (without default value) generates the error "ReferenceError: event_1 is not defined".

The tsc compiler generates the following JavaScript with the error:
[code]
Note: If I assign a default value (e.g @Input() event: Event = new EventImpl(); ) or delete the decorator the comp

[2016-06-21 02:47] Grusho commented on #6865
@tbragaf Help me to undrestand plz. Why can't I do so:
`export class CustomExceptionHandler extends ExceptionHandler {

  constructor(_logger: any, _rethrowException?: boolean) {
    super(_logger, _rethrowException);
  }
...
`
I don't want to change any logic with logger or somewhat, for example, I need only to overrider call method. But I need to inject my global service in this CustomExceptionH

[2016-06-21 02:49] vicb commented on #9384
Please provide a repro (plunker or repo)

[2016-06-21 03:09] zerovirus23 commented on #9384
You can find the code to reproduce the issue in this repo [Event.ts](https://github.com/zerovirus23/vogue-ui/blob/bug/input_decorator_event_detail/main/components/event/event-detail.ts) and the javascript with the problem in [Event.js](https://github.com/zerovirus23/vogue-ui/blob/bug/input_decorator_event_detail/main/components/event/event-detail.js)

I fount that if the field doesn't  have a defa

[2016-06-21 03:23] naomiblack commented on #9380
@hansl has some questions about how this applies to the CLI... I've asked him to come up with a doc so we can clarify with the opensource folks

[2016-06-21 03:45] vicb commented on #9384
What are the steps to reproduce ?

[2016-06-21 04:01] mrlukrative commented on #7642
I've created a version by using just a click event on the elements loaded and passing the value of the selection into the function "getSelection" and updating the model.

In your template:

<ul>
     <li *ngFor="let p of price"><input type="radio" name="price"      (click)="getValue(price.value)" value="{{p}}" #price> {{p}}
     </li>
</ul>

Your class:

export class App {

  price:string;

  pric

[2016-06-21 04:02] zerovirus23 commented on #9384
To reproduce, just launch the application with ```npm start```, the list page doesn't load the application because the error (you can see the error in the console of chrome in Developer Tools)!

[2016-06-21 04:54] Freak613 opened #9385 "Bindings on the page won't refresh after the XHR/fetch completes in Firefox"
**I'm submitting a ...**

[code]

**Current behavior**
Bindings on the page won't refresh after the XHR/fetch completes.

**Reproduction of the problem**
Call fetch and try to display something when the loading complete. Please, see an example here:
https://github.com/Freak613/quickstart/blob/master/app/app.component.ts
It't just quickstart app with simple fetch loading of single json file.

Brows

[2016-06-21 05:05] gdi2290 commented on #9385
this is a problem with either the promise polyfills in core-js or a conflict between that and firefox.
you need to import everything but the promise polyfill
https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/polyfills.browser.ts#L6...L26
related https://github.com/AngularClass/angular2-webpack-starter/issues/709

[2016-06-21 05:13] Freak613 commented on #9385
I think this is not a good fix of this issue. Probably it may indicate of some library compability problems. I've unsuccessfully tried to debug it by myself but I can't find what is the root of the issue: angular, core-js, zone-js or firefox and what should we do to fix it. That's why I didn't create issue in core-js project - I'm not sure is it their problem. core-js is quite popular library and

[2016-06-21 05:16] laskoviymishka commented on #9378
Does it really bug? This pattern is not alias pattern, so it combined part by part. Like a regular date pattern.

There is no way to handle this scenario, beside to introducing new alias. I not sure that this is best option. May be it better to extend API for pipe a little bit, by adding ability to pass pure Intl formatter options object? And if such object passed use it.

[2016-06-21 05:18] gdi2290 commented on #9385
this could also be a zone.js conflict with either firefox or core-js promise
cc @mhevery

[2016-06-21 05:33] pe8ter commented on #9384
This is not a bug with Angular. If anything, you've found a bug in the TypeScript compiler.

You cannot create an interface `Event` and type `EventImpl` that implements that interface, then decorate a field with `@Input()` using the the interface as the type. Interfaces get compiled out of the JavaScript, therefore there's nothing concrete in JS space that can be stored in your component's metadat

[2016-06-21 05:41] vicb commented on #9384
@pe8ter great analysis, thanks.

[2016-06-21 05:41] #9384 closed

[2016-06-21 05:55] SnareChops commented on #7067
+1 here. Just bumped into this myself. Thanks Pascal for saving me probably a few hours of headache and searching.

[2016-06-21 06:17] laskoviymishka commented on #9378
I not sure how it should better orgonized, but if we will handle all not aliases pattern (such as `yMMMdjm` and `yMMMMdjm`) then customize date formatting wil not be possible at all.

There is probably should be a way to handle such requirement in more natural way.
I propose to add ability for passing already defined `Intl.DateTimeFormatOptions` object to date pipe for such scenarios. Api remain a

[2016-06-21 06:21] landryraccoon commented on #9170
Just wanted to chime in that I've seen the same issue, willm's suggestion to switch to packIndex instead of packUmd fixed it.

[2016-06-21 06:28] zigzag95 commented on #9293
If you will load such components dynamically how are you going to make template bindings as we used to use?

[2016-06-21 06:40] yjaaidi commented on #8280
Hi @zoechi,

It's rc1. Didn't try with rc2 yet.

[2016-06-21 06:45] matsko commented on #9350
@vsimak yes we do have a proper solution in mind for routable animations ... Something that involves controlling multiple elements at a time with animations via an animation method called **query()**. There are a few things first that need to get resolved until that's ready. So for the time being once #9044 is in then we can have an interm solution for routable animations by placing enter and leav

[2016-06-21 06:48] matsko commented on #9354
I see what you mean here. Yes this is definitely something that should work automatically even if the `void` trigger is a parent container. I will look into this.

[2016-06-21 06:50] joost-de-vries opened #9388 ""repository" metadata missing in platform-browser-dynamic/package.json"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The "repository" metadata is missing in platform-browser-dynamic/package.json

**Expected/desired behavior**
The "repository" metadata should be in platform-browser-dynamic/package.json

**What is the motivation / use case for changing the behavior?**
Some build infrastructure doesn't accept npms without this metadata

**P

[2016-06-21 06:54] joost-de-vries commented on #8571
I've opened a new issue for that and submitted a PR see #9388

[2016-06-21 07:01] joost-de-vries commented on #9388
Huh, I see that there's already another PR. #9365 Closing this.

[2016-06-21 07:01] #9388 closed

[2016-06-21 07:07] fursad opened #9390 "Data object is missing in router 3.0.0-alpha"
Hi,
This is not a typical issue, but I am upgrading my exisiting solution to the new  3.0.0-alpha router. I discovered that the data object from the old router is gone. What is the alternative for us that used the data object property to have some additional info about the route?

Regards
Shakil

[2016-06-21 07:20] akosbordas commented on #9170
Could someone find a soultion for use it with `packUmd`?

[2016-06-21 07:47] ghpabs commented on #8422
Same problem here. Some work around would be great.

[2016-06-21 07:52] tbragaf commented on #6865
@Grusho It should work, it seems reasonable.
Have you change the implementation on bootstrap?:
[code]

Also take a look a the comment for logging. https://github.com/angular/angular/issues/6865#issuecomment-179894046

Is any error of any kind being thrown to the console?

[2016-06-21 08:05] ChenXuyang commented on #7239
I ran into the same issue. I cannot seem to get the leaving transition/animation going when removing element from array.  The '* => void' does not do anything.

Here is a plunk I created: http://embed.plnkr.co/8sgTlkVtV77Ww00KmWgF/

[2016-06-21 08:54] Grusho commented on #6865
@tbragaf Thx for the reply!
I have the following error:
`zone.js:260Uncaught Cannot resolve all parameters for 'AppExceptionHandler'(?, Boolean, AppState @Inject(AppState)). Make sure that all the parameters are decorated with Inject or have valid type annotations and that 'AppExceptionHandler' is decorated with Injectable.`

Bootstraping:
[code]
App service:
[code]
Besides, my VSCode syntax check

[2016-06-21 08:59] joelrich commented on #8817
@zoechi, maybe I am just misunderstanding something, but the behaviour seems really odd to me. Even if I use @ViewChild, the dynamic component is still added as a sibling (just as a sibling of the view child this time). If this is really the intended behaviour, how is it possible to add a dynamic component to another component without having any other children?

Example: https://plnkr.co/edit/StKs

[2016-06-21 09:21] ocombe commented on #9375
I made a Webpack component resolver just like the SystemJS one that works with webpack 1 to lazy loading components (it generates chunks all by itself), the same way it works with the ngrx router.
Are you interested in the code or a PR ?

[2016-06-21 09:51] atyapin commented on #9379
Thanks for the comment. I see the difference in main.ts. But also I can see the difference in the result.
Checked checkbox became checked as excpected but I cannot see form.value on the fly in the new version. And submitting of the form gives different results. You can see my plunk on the left and your plunk on the right

![image](https://cloud.githubusercontent.com/assets/16883882/16225317/c1596f

[2016-06-21 09:52] bzums commented on #9281
@thelgevold what if we have a nested data structure, for example something like this:
http://plnkr.co/edit/VL0uWMHTuFY2dt4WrzUe?p=preview

It feels unnatural to pass the form control group to each of the child elements, doesnt it?
Or am I thinking to complicated anyway?

And I think it is common not to use the input element directly but a custom component instead because one wants to abstract comm

[2016-06-21 10:13] Tragetaschen commented on #8834
I've got another use case:
[code]
The push statement is a type mismatch error and I could fix this by using `var validatiors: ValidatorFn[]` as type annotation.

[2016-06-21 11:21] choeller commented on #9390
I created an issue in the router-repo some days ago https://github.com/angular/vladivostok/issues/43 I think currently there is no alternative.

[2016-06-21 11:41] Neill83 opened #9391 "Cannot call router from inside of 'addEventListener'"
**Current behavior**

I want to call router (deprecated) in my Component from inside of an 'addEventListener'.

[code]

I do this to fire the event from the inside of an iFrame, but it says:

Cannot read property 'navigate' of undefined

The same behavior on calling a method:

login is not a function

**Expected/desired behavior**
i want to navigate to login after firing the event.

**Please tell

[2016-06-21 11:51] wkwiatek opened #9392 ""WARNING: sanitizing HTML stripped some content" when no content stripped"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Escaped characters passed to `sanitize` are reported with warning.

**Expected/desired behavior**
No warning for preescaped html.

**Reproduction of the problem**
http://plnkr.co/edit/ip37nVScMDxE9KaoP3Ng?p=preview

After this line https://github.com/angular/angular/blob/master/modules/%40angular/platform-browser/src/secur

[2016-06-21 11:54] pkozlowski-opensource commented on #9391
`this` is not what you think it is - I mean - in an event handler function it doesn't point to a component instance. Try

[code]

or any other trick that gets your proper JS `this`.

In any case this is a JS support question and it doesn't belong here, see: https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2016-06-21 11:54] #9391 closed

[2016-06-21 11:56] zoechi commented on #8817
@joelrich it's discussed in more detail here https://github.com/angular/angular/issues/9035
I'll have a look at your Plunker later.

[2016-06-21 11:56] Neill83 commented on #9391
[code]

thats the solution.

[2016-06-21 11:58] zoechi commented on #6865
@Grusho  Does `AppState` have any dependencies? The constructor is omitted (if any).

[2016-06-21 12:02] Neill83 commented on #9391
Thanks @pkozlowski-opensource,
it works!

[2016-06-21 12:02] shlomiassaf commented on #9293
@zigzag95 see http://plnkr.co/edit/25o8wO7ruAAwKktJAggC?p=preview
This is just an illustration, in real world you will manually add components which are top level, i.e: no external template bindings but yes to local injected bindings. The data will enter through injection in the constructor.

Usually it should be some top level components added via code, the rest via templating system.

[2016-06-21 12:14] zoechi commented on #9391
@Neill83 I think @pkozlowski-opensource s suggestion above is the better solution
https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/Arrow_functions
Try to avoid `function()` and use instead `()=>`

[2016-06-21 12:18] zoechi commented on #9392
See http://stackoverflow.com/questions/37076867/in-rc-1-some-styles-cant-be-added-using-binding-syntax/37076868#37076868

http://plnkr.co/edit/WdrRVyHr6WUCwMCwhH9F?p=preview

[2016-06-21 12:28] matejkramny commented on #9374
Idk why but my `@angular/router` had no `bundle` folder so I resorted to using `packIndex` just for `router`.

[2016-06-21 12:33] wkwiatek commented on #9392
I know about "marking as trust" but I guess it's not a case here.

Consider this example: http://plnkr.co/edit/U1N8xgJOUWyemz8oS0RW?p=preview
I'm passing a simple string `test` here and it's perfectly fine because nothing was really stripped.

In case of the unicode icon there should be no warning because I've passed encoded string (value passed to `innerHtml` input and finally rendered are exactl

[2016-06-21 13:00] khalildiouriadservio opened #9394 "Add dynamically a component from another component angular2"
In my child component I add in a div of a template an Input from directive to drag and drop

`<div class="col-sm-4"  dnd [drop]="true"> //<== input drop
              One of three columns
 </div>`
so when I add this component I want to apply my drag&drop to another tag from parent component

the operation of drag and drop is working well but I need to do my drop that value of drop become true and

[2016-06-21 13:05] zoechi commented on #9392
I see, I leave that to the Angular team then.

[2016-06-21 13:07] zoechi commented on #9394
I didn't look into details of your post but from the title http://stackoverflow.com/questions/36325212/angular-2-dynamic-tabs-with-user-click-chosen-components/36325468#36325468 might give you some idea how to add components dynamically.

GitHub issues are for bug reports and feature requests.
    For support questions please use other channels like the ones listed in [CONTRIBUTING - Got a Questio

[2016-06-21 13:09] pkozlowski-opensource commented on #9394
See https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2016-06-21 13:09] #9394 closed

[2016-06-21 13:17] khalildiouriadservio commented on #9394
if you can see in stack http://stackoverflow.com/questions/37944237/drag-and-drop-between-separated-component-angular-2?noredirect=1#comment63337833_37944237

[2016-06-21 13:33] JulienBroi opened #9395 "Components lifecycle sequence bug"
**I'm submitting a ...**  (check one with "x")

[code]

**Current behavior**
OnChanges doesn't always trigger before OnInit.

**Expected/desired behavior**
As described in the doc, onChanges should be triggered "before ngOnInit and when a data-bound input property's value changes."
@see: https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html#!#hook-sequence

**Reproduction of the problem**
T

[2016-06-21 13:59] coryshaw1 opened #9396 "[animation]: RC2 Animation does not support transitions with boolean states"
Currently for any animations to work with booleans passed in as the state, you need to pass through the boolean's string form like so:

`@yourAnimation="yourBoolean ? 'true' : 'false'"`

I feel that boolean states should be supported with simply passing in the boolean itself:

`@yourAnimation="yourBoolean"`

Here's a working plunker of the bug: http://plnkr.co/edit/ajeC3SJ6LvKUivzQ8kW0

Edit: Upon

[2016-06-21 14:16] pkozlowski-opensource commented on #8721
Indeed, dup of #8188. Thnx @ericmartinezr

[2016-06-21 14:16] #8721 closed

[2016-06-21 14:18] pkozlowski-opensource commented on #8972
New router docs were merged via angular/angular.io#1636 and on-line now at: https://angular.io/docs/ts/latest/guide/router.html

[2016-06-21 14:18] #8972 closed

[2016-06-21 14:27] brandonroberts opened #9397 "Router: Set default exact for routerLinkActiveOptions to false"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

The `routerLinkActive` directive matches if the route is an exact match in the UrlTree

**Expected/desired behavior**

The `routerLinkActive` directive should match if the route is contained in the UrlTree

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better w

[2016-06-21 14:34] #9332 closed

[2016-06-21 14:51] harshabonthu opened #9398 "JSON Hijacking Protection"
**I'm submitting a ...**
[code]

**Current behavior**
In Angular 1.x as stated here https://docs.angularjs.org/guide/security, $http handles automatically stripping out suggested prefix `")]}',\n"` added to json response from API requests. In Angular 2.0, stripping out the prefix is not being handled.

**Expected/desired behavior**
Ideally if it was suggested to prefix Json reponse with `")]}',\n"

[2016-06-21 15:02] joelrich commented on #8817
@zoechi Thanks for the link. I got it working with a ```<template>``` element. I do not find this solution satisfying though.

[2016-06-21 15:04] pkozlowski-opensource commented on #8817
Why isn't it satisfying? Please note that `<template>` elements are not rendered in the resulting DOM, they exists during compilation only.

[2016-06-21 15:30] vicb commented on #9398
I think this is already implemented, see https://github.com/angular/angular/blob/fdf6bc18ddf05d43185f713020f4c816b90ed360/modules/%40angular/http/test/backends/xhr_backend_spec.ts#L505

[2016-06-21 15:30] #9398 closed

[2016-06-21 15:35] vicb commented on #9392
@mprobst could you please take a look ?

[2016-06-21 15:36] vicb commented on #9390
@vsavkin could you please take a look ? Do we plan to have an upgrade doc ?

[2016-06-21 15:39] vicb commented on #9385
@Freak613 could you please provide a minimal repro in a plunker (try to reproduce with only zone + polyfill and add angularonly if strictly required). Thanks for your help.

[2016-06-21 15:44] vicb commented on #9379
Have you check the doc from the console logs and do the required changes ? If yes and you think it is still a bug, please re-open

[2016-06-21 15:48] vicb commented on #7067
note: It could be the same or *intersecting* selector. PR welcome, it should be an easy one

[2016-06-21 15:51] m5rk opened #9400 "Typo in testing docs"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

https://angular.io/docs/ts/latest/guide/testing.html

Should be:

[2016-06-21 15:53] vicb commented on #9400
Could you please re-open this issue on the doc repo at https://github.com/angular/angular.io

[2016-06-21 15:53] #9400 closed

[2016-06-21 15:58] m5rk commented on #9400
Done: https://github.com/angular/angular.io/pull/1717

[2016-06-21 16:17] joelrich commented on #8817
@pkozlowski-opensource I am new to Angular 2 and might change my opinion later, but right now I just have the impression that this API is not high-level enough for the usage outside of the core. It behaves different from what most web developers are used to. Moreover, using an empty template feels like a hack.

I work on a highly customisable web application. If we want to use Angular 2 there, the

[2016-06-21 16:34] atyapin opened #9401 "<input id="cb" type="checkbox" checked> with ngControl, formControlName and ngModel"
Cannot re-open #9379 so I took plunk by @vicb http://plnkr.co/edit/HFDTY5Bz063q2kyBZag9?p=preview and changed it a little

**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
1. ngControl does not bind to ngForm
2. ngModel checked is not checked in a window

**Expected/desired behavior**
1. ngControl is bound to ngForm
2. ngModel with "checked" attribute should be checked
3

[2016-06-21 16:34] mlc-mlapis opened #9402 "RC2 does not animate nested elements correctly when using AUTO STYLE feature"
**I'm submitting a problem with animations of nested elements in RC2**
[code]
! First of all thanks a lot for AUTO STYLE. It is just an excellent feature that brings great opportunities and save a lot of code and time !

**Current behavior**
Plunker demo: There is an outer DIV that contains another inner DIV. Buttons allow to expand and collapse them individually.
- Expand the outer and then inner

[2016-06-21 16:41] vicb commented on #7239
@matsko could it be that detach followed by insert is interpreted as a creation instead of a move ?
see https://github.com/angular/angular/blob/c5c456120c4fe86ae8b65d90ded08394a176ad45/modules/%40angular/common/src/directives/ng_for.ts#L157

[2016-06-21 16:43] juliemr commented on #8280
This is working as intended - we can't "fake" async behavior in any reasonable way if a real XHR is made, so the test must throw an error. `templateUrl` and `styleUrl` make XHRs.

Something that we can do, however, is run tests against a cached version of the templates and styles, so we don't need to make the XHR in the first place. @vikerman worked on a system to do this, see https://github.com/a

[2016-06-21 16:44] vicb commented on #8280
Should that be in a cookbook on angular.io ? If you think this makes sense could you please create an issue with the detailson the angular.io repo. Thanks.

[2016-06-21 16:57] matsko commented on #9402
This looks like just a tiny race condition since the outermost parent is evaluated (animated) first and by the time is starts to calculate its AUTO values the inner div hasn't set itself to true just yet.

[2016-06-21 16:59] choeller commented on #9390
I think there is currently also no way to access the configuration of the currently active route, or am I missing something?

[2016-06-21 16:59] zoechi commented on #8817
That's what I explained in http://stackoverflow.com/questions/36325212/angular-2-dynamic-tabs-with-user-click-chosen-components/36325468#36325468
You can't have different inputs (`[prop1]="..."` ...) dependeing on the dynamic component but you can have some generic property where you pass an object and then assign by name to the dynamically created component in the wrapper.

[2016-06-21 17:00] pkozlowski-opensource commented on #8817
@joelrich what you are saying makes sense but I believe that what you are looking for will be covered by #8563. Anyway, your concerns are very high-level and the discussion becomes off-topic for the very precise issue here.

Please check #8563 and comment in-there if you believe that some of your use-cases are not covered by this proposal.

[2016-06-21 17:08] zoechi commented on #9401
Usually just posting another comment should do and someone will have a look and reopen if you provided enough information to be able to reproduce.

[2016-06-21 17:11] dragGH102 commented on #9362
I don't have a pluckr yet (feel free to close it again if necessary), but I probably found what the issue is (after that, it worked) :

A service (injected as provider in several views) was calling routing functions via

        routerInstance. navigate(...)

After removing it from the service and using it directly in the views (even though I believe routing can be useful in services, e. g. for **

[2016-06-21 17:14] mlc-mlapis commented on #9402
Yes, that is maybe rigth but imagine a situation when you want to do it by your own script. First of all you need to evaluate the height to which animate. Now when you know the right height you need to set a correct value for target 'height' style. How to do it? A construction using a class variable like **this.elementHeight** is not supported. Is there any other way how to use a variable value in

[2016-06-21 17:17] dragGH102 commented on #9362
Actually I can't reopen it myself.

[2016-06-21 17:19] pkozlowski-opensource commented on #9362
@dragGH102 I'm sorry but the description doesn't help us much. What we need is a minimal reproduce scenario in plunker so we can actually _see_ the issue.

[2016-06-21 17:20] mprobst commented on #9392
I think this is inherent in how we sanitize. We're using the browser's HTML parser, which of course turns escapes such as `&#x1f680;` in the example into their Unicode code point equivalents (or UTF-16, really). After parsing and re-serializing, Angular sees a string that does not match byte by byte, i.e. the escape has been replaced with the actual character (🚀), and thus prints the warning.

Fix

[2016-06-21 17:20] #9392 closed

[2016-06-21 17:20] mlc-mlapis commented on #9402
It would be really great if there is a solution. The 'magic' of AUTO STYLE feature would be much more sparkling then. There are many situations like hierarchical menu where nested elements are necessary.

[2016-06-21 17:36] jamesbs opened #9405 "Dependencies specified in viewProviders prop are visible to content children"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Components passed in as content children to a parent component are able to get a dependency specified in `viewProviders` to that parent.

**Expected/desired behavior**

Dependencies specified in `viewProviders` are visible only to components passed in from the view.

**Reproduction of the problem**

**RC 1 example failing

[2016-06-21 18:10] IgorMinar opened #9407 "Protractor errors when bootstrapping the @angular/upgrade demo app"
With the latest protractor and selenium-webdriver I get:

[code]

[2016-06-21 18:12] #9244 closed

[2016-06-21 18:30] robwormald opened #9408 "Offline Compiler integration tests are not typechecking against stripped .d.ts files"
Ref: https://github.com/angular/angular/pull/9330

the offline compiler/codegen integration tests are currently tested against the angular codebase ( i believe its the modules/tsconfig build) - this does not strip @internal annotations, and so we have a mismatch on our integration tests vs what's actually shipped to NPM.

[2016-06-21 18:31] robwormald commented on #9408
cc @alexeagle

[2016-06-21 18:34] cemersoz opened #9409 "meteor node_modules/@angular/router/index has no exported member 'provideRouter'"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I am using angular2 with meteor and trying to move to router 3 from router-deprecated.
I have been following the tutorial on https://angular.io/docs/ts/latest/guide/router.html
I keep getting the following error when I run meteor:
Module '"node_modules/@angular/router/index"' has no exported member 'provideRouter'

I have

[2016-06-21 18:46] alexeagle commented on #9408
That was not the case when we added the integration test - in fact it caught an extra `@internal` when I first ran it.
See here:
https://github.com/angular/angular/blob/master/scripts/ci-lite/offline_compiler_test.sh#L6
we actually install the distribution version of angular before running the test, and that should have `--stripInternal`

[2016-06-21 19:12] brandonroberts commented on #9409
Router v3 is in alpha currently and is installed through `npm install @angular/router@3.0.0-alpha.7 --save`. Once it lands it master it should be released with the next RC.

[2016-06-21 19:16] #9409 closed

[2016-06-21 19:20] cemersoz commented on #9409
@brandonroberts I installed the new router using that command, removed the older versions, deleted node_modules and installed from scratch but no luck.

[2016-06-21 19:20] vicb commented on #9405
You have an app wide provider in the plunker.

`bootstrap(App, []);` would fail as expected

[2016-06-21 19:20] #9405 closed

[2016-06-21 19:21] pkozlowski-opensource commented on #9405
Just noticed it as well, @vicb was faster about 300 milliseconds :-)

[2016-06-21 19:26] brandonroberts commented on #9409
@cemersoz what are you using for bundling? If you're using SystemJS the setup is different at the moment. Come into http://gitter.im/angular/angular and we can help you there.

[2016-06-21 19:27] cemersoz commented on #9409
already there, I'll continue there. Thanks for all the support!

[2016-06-21 19:47] jamesbs commented on #9405
Even if a provider is given in the bootstrap call, shouldn't the child component pass over the provider in the parent component? The semantics are different in the two examples since in example 1 the child value matches the parent value whereas in example 2 the child value matches the root value

[2016-06-21 20:06] thelgevold commented on #9281
@bzums I agree, it's a bit cumbersome. Would be a nice enhancement to remove this requirement

[2016-06-21 20:33] EdS0ng opened #9412 "SystemJsComponentResolver is missing @Injectable()"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
SystemJsComponentResolver does not have a @Injectable() decorator and will throw a `cannot read property isSkipSelf() of null` error when used.
I copied the exact typescript code from the repo and transpiled with the @Injectable() and it doesn't throw an error anymore.
**Expected/desired behavior**
it works.

**Please tell

[2016-06-21 20:42] wkwiatek commented on #9392
@mprobst I don't think there is a problem with sanitization but with the error message condition. I've added PR because code shows much more than words. Let me know what do you think about it.

[2016-06-21 20:53] gluix commented on #9375
[code]

[code]

[code]

[code]

[2016-06-21 20:57] mprobst commented on #9392
@wkwiatek I understand, but I'm surprised the PR fixes this. Let's discuss there.

[2016-06-21 21:22] vicb commented on #9412
It is not needed here as it has to be provided as a factory

[2016-06-21 21:22] #9412 closed

[2016-06-21 21:29] jderose9 commented on #6865
I think this issue should be open still. It seems like there should be a simpler way to implement custom exception handling logic while still executing the default behavior. In my case I am only doing special handling on exceptions for a specific HTTP status code range... I'd still like the default behavior of logging everything to the console. The only way I could see to accomplish this was to co

[2016-06-21 21:31] ericmartinezr opened #9414 "Router : undefined component throws Cannot read property annotations of undefined"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When defining an undefined component for a router route this error will be thrown

[code]

**Expected/desired behavior**
It should throw a clear message indicating where the undefned component is. Considering that this is the router, we can use the path of the route to point exactly where the problem is (I guess)

**Reprod

[2016-06-21 21:50] gugamm opened #9416 "Route throws an exception in IE 11 & Safari"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

  Angular 2 rc2 - Routing throws an exception in INTERNET EXPLORER 11 when using the back button more than once

  Not only that. Components lifecycle hooks are not called correctly. Duplicate of (#7722)

**Expected/desired behavior**

It should not throw an exception

**Reproduction of the problem**

Open plunker provide

[2016-06-21 21:57] CaptainCodeman commented on #9416
Yes, same on Safari

[2016-06-21 22:03] sky-coding opened #9417 "Cannot read _routeConfig of null"
This issue was posted by @francois-appliware under angular/vladivostok and was gaining traction until the repo was merged into this one. I'm posting it here for visibility.

[code]

[code]

This bug has been present in the 3.0.0 router since release and is still present in alpha-7. It makes the router unusable for production applications. Hopefully this can be resolved and released soon. Thanks!

[2016-06-21 22:08] ericmartinezr commented on #9417
fwiw this is supposed to be fixed by https://github.com/angular/vladivostok/commit/9d6819b39e2b7952bc724c7531c4f53182af5e95 as mentioned here https://github.com/angular/vladivostok/pull/76#issuecomment-227022154

[2016-06-21 22:10] jusefb commented on #9417
Nice to hear that, how can we get the fix?

[2016-06-21 22:18] michaeljohnbennett commented on #4015
Been a while since this was last updated, are we any closer to a solution in the new RC router?

[2016-06-21 22:21] zhura opened #9418 "Router: Url doesn't emit new collection of UrlPathWithParams for catch-all routes"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When defining catch-all route (i.e. `**`) ActivatedRoute.url observable doesn't emit new collection of UrlPathWithParams when wildcard url path is changed.

**Expected/desired behavior**

It should emit new collection of UrlPathWithParams.

**Reproduction of the problem**

Here is plnkr: http://plnkr.co/edit/jWfEpsNJ35pg6

[2016-06-21 22:23] juliemr opened #9419 "DOM helper getKeyEvent does not use keyCode"
I'm not sure if this is a bug with Angular or ChromeDriver yet, but here goes for the record:

Angular's browser dom adapter uses `event.key` in `getKeyEvent`. When WebDriver via ChromeDriver sends a `sendKeys` event, it fills out the event's `keyCode`, but not the `key`. This means that something such as `<button (keydown.arrowRight)="doTheThing()">` will not be triggered in an e2e test.

cc @rob

[2016-06-21 22:27] TheLarkInn commented on #9375
Also calling `System.import` in webpack2 will be supported.

https://gist.github.com/sokra/27b24881210b56bbaff7#dynamic-expressions

[code]

[2016-06-21 22:31] juliemr commented on #9419
Chromedriver issue: https://bugs.chromium.org/p/chromedriver/issues/detail?id=1411

[2016-06-21 22:33] sky-coding commented on #9417
@ericmartinezr confirmed they disappeared. I looked for this issue here with no luck before before posting it. This is a blocking issue for us and I didn't want it to lose visibility.

[2016-06-21 22:37] mootinator opened #9420 "*ngSwitchDefault Odd Behavior"
**I'm submitting a ...**  (check one with "x")

[code]

**Current behavior**
*ngSwitchDefault appears to create a component with an unusual lifecycle even when one of the other cases is matched.

**Expected/desired behavior**

I would expect it to not do that.

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please

[2016-06-22 00:19] Grusho commented on #6865
@zoechi No, it doesn't

[2016-06-22 00:27] #8237 closed

[2016-06-22 00:30] mlc-mlapis commented on #9402
I was trying to solve the problem with the style "display" property on the inner DIV (to eliminate *ngIf evaluation) - see the plunker http://plnkr.co/edit/oQYU69IyYx0dna2G6G0a?p=preview but the problem is the same.

If the inner DIV is expanded and then the outermost DIV is collapsed and then expanded againg, animation is beeing done only partly. I supposed that this solution should work.

The on

[2016-06-22 01:03] juliemr commented on #9407
I've confirmed that Protractor's tests against RC3 still work: quick and dirty change is at https://github.com/juliemr/protractor/commit/c2c7b1708e857527e7525114b91e1bfc68b39be3

From Protractor's perspective, the app looks like an angular 1 application because it exposes `window.angular` to the page instead of `window.getAllAngularTestabilities`. So, it will fail if the protractor configuration f

[2016-06-22 01:16] vicb commented on #6865
Could you please move discussion / support request to gitter ? (We receive notifications for all new messages).

[2016-06-22 01:22] vicb commented on #9419
IIRC browsers are very different when it comes to handling key events.

(There are also 2 protractor related issues in the comment of the e2e test for playground/key_events)

[2016-06-22 01:26] vicb commented on #9420
Please make a minimal repro with only the required code to exercise the pb & give steps to reproduce. Thanks

[2016-06-22 01:29] juliemr commented on #9419
Yes they are :(

Do we want to extend `getKeyEvent` to look for the keyCode, or decide that this isn't something that we need to work around?

[2016-06-22 01:30] matsko commented on #9402
No the issue isn't a visual CSS issue, it's just that the inner DIV doesn't exist at all when the outer div starts to animate. It doesn't matter what order the buttons are pressed; the end result is the same. This is because the animation starts immediately after the outer ngIf becomes true and the inner div hasn't been placed into the DOM yet (because even if the inner ngIf is already true it wil

[2016-06-22 01:49] juliemr commented on #9407
Ahah, found part of the issue. When a hybrid app is tested, it should correctly be able to load when `window.name == NG_DEFER_BOOTSTRAP!` - but this is not true for playground/upgrade. It does work correctly for Protractor's ng1/ng2 hybrid app. I'll dig into it more.

[2016-06-22 02:10] juliemr commented on #9407
The issue has to do with using an upgraded angular 1 directive which has a binding. I can reproduce this in Protractor's simple test app with this change: https://github.com/juliemr/protractor/commit/b59abab4124bd78a74119ff6624f0c29014b0d01

I don't know why this is interacting badly - will have to look into ngUpgrade code more. I suspect that pausing bootstrap is causing some bad timing where ang

[2016-06-22 02:11] #9408 closed

[2016-06-22 02:13] juliemr commented on #9407
We try to compile ng2 components in parallel with waiting for ng1 bootstrap. This is probably the issue? https://github.com/angular/angular/blob/f39c9c9e75671a7e235734b6b8aef263f6dff254/modules/%40angular/upgrade/src/upgrade_adapter.ts#L374

@sjelin you're the bootstrap/upgrade expert, could you take a look at this?

[2016-06-22 02:55] dharders commented on #8674
Metadata would be great.

Eg. `{name: 'My navbar title'}`. Currently I have to define this in two places.

1. Once for `@Routes( { path: 'sales', component: SalesComponent } )`
2. Then again to map `path` to _title_ to display in my NavComponent

Have it all in one place `@ Routes()`, then have the metadata **passed to me from the `router.events` observable**.

[2016-06-22 02:56] bek0s opened #9425 "Http.post() bug when posting to non-existent URLs with Content-Type set to application/json"
**I'm submitting a ...**
[code]

**Current behavior**

When I do a POST request using Http.post() with `Content-Type` set to `application/json` to an invalid URL, the error callback of the Observable is called (as it is supposed to) but the Response object I get from the Observable has: `status: 200`, `ok: True` and `statusText: "Ok"`. If I change the `Content-Type` to `text/plain` then I get the

[2016-06-22 03:00] mootinator commented on #9420
Minimal plunkr:
http://plnkr.co/edit/0bsUOV8gcwdD0E3bYlB6

To reproduce:
Activate part of the template containing an [ngSwitch] block.
Both *ngSwitchCase(s) and *ngSwitchDefault must be present.
One of the cases must match.

[2016-06-22 03:01] ericmartinezr commented on #9425
Check the changelog https://github.com/angular/angular/blob/master/CHANGELOG.md, this was fixed in RC.3 https://github.com/angular/angular/pull/9355

[2016-06-22 03:15] bek0s commented on #9425
Oh, rc3 was released pretty much while I was discovering the bug! :P Apologies for the redundant post! I am sure it will work just fine now. I will upgrade my app to rc3 and if I have further issues I will report back. Thanks!

[2016-06-22 03:15] #9425 closed

[2016-06-22 03:15] mahpah commented on #9417
@ericmartinezr  was it merged to @angular/router?

[2016-06-22 03:20] ericmartinezr commented on #9417
@mahpah yes, it should have. It was part of the merge of vladivostok router to the main repo (see https://github.com/angular/angular/pull/9410)

[2016-06-22 03:49] dharders opened #9426 "Router: Feature Request: default 'router-link-active' class attachment (old router behaviour)"
**I'm submitting a ...**
[code]

**Current behavior**

angular/router 3.0.0-alpha.7 introduced the `routerLinkActive` directive, which enabled us to set a custom class on the current `routerLink` element. This is great!

But AFAIK, I have to attach this routerLinkActive directive to EVERY SINGLE LINK.

eg

[code]

**Expected/desired behavior**

Angular attach the class `router-link-active` automat

[2016-06-22 03:57] datatypevoid opened #9427 "Cannot Asynchronously Load Components With `Annotations`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I am currently trying async load some components as is done in [angular2-webpack-starter](https://github.com/AngularClass/angular2-webpack-starter). These components are using `guards` similar to the examples in the `router` `3.0.0-alpha.7` docs, and upon attempting to navigate to the async component, I get the error:

[c

[2016-06-22 04:05] ericmartinezr commented on #9427
@datatypevoid fwiw this is because of passing an undefined component, I reported this error message over here https://github.com/angular/angular/issues/9414

[2016-06-22 04:06] datatypevoid commented on #9427
Closing since it's a duplicate.

[2016-06-22 04:08] ericmartinezr commented on #9427
@datatypevoid I'm not entirely sure it's a duplicate. Although the error message is the same, you may have found something else failing that's being shadowed by that error.

[2016-06-22 05:00] robinkedia opened #9428 "Angular 2 RC3 - Router-Deprecated "@angular/router-deprecated": "2.0.0-rc.3","
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Followed the documentation on Angular IO website and upgraded from RC2 to RC3. Npm install complains   "@angular/router-deprecated":  "2.0.0-rc.3", not available.

Not sure if documentation issue or packages missing?

**Expected/desired behavior**

**Reproduction of the problem**

**What is the expected behavior?**

**What

[2016-06-22 05:17] mprobst commented on #8511
FYI we now have documentation on security here:
https://angular.io/docs/ts/latest/guide/security.html

I think this concludes this issue. I'm sure we'll have shortcomings and bugs, but let's file separate, more focused issues for those, and close this one. Woohoo.

@zoehneto, could you file a separate issue for the video stuff, so we don't lose track?

[2016-06-22 05:17] #8511 closed

[2016-06-22 05:24] pavandv commented on #9359
One solution I came up with is that loading `Rx.umd.js` through script tag and removing all the entries related to `RxJS` from `system-config`.
This could resolve your issue.

[2016-06-22 05:31] deepaksibar opened #9429 "How to use jquery as normal npm mudule in angular 2 typescript file?"
Hi,

I am trying to use jquery as normal NPM module, but "$" is not accessible in typescript file. Even i tried  by adding script tag in index.html.

Please let me know how to use jquery or any other pure javascript library in angular 2 typescript file ?

[2016-06-22 05:32] joelrich commented on #8817
@zoechi I know that it does not work, but I think it should be possible to render a dynamic component without having to write all this custom code. In my example, the component type is set with the ``ngComponent`` property. This would basically replace the ``<template>`` with the component element. ``prop1`` and ``prop2`` would be set like normal properties. ``ngProperties`` would set all properti

[2016-06-22 05:39] zoechi commented on #3921
AFAIK this is the default behavior in the new router.

[2016-06-22 05:40] zoechi commented on #4112
I guess this can be closed now the new router is available and supports this use case.

[2016-06-22 05:45] datatypevoid commented on #9427
I believe this was user error not on the part of Angular 2 after further investigation.

[2016-06-22 05:45] #9427 closed

[2016-06-22 05:56] zoechi commented on #9429
This is answered on StackOverflow AFAIK

GitHub issues are for bug reports and feature requests.
    For support questions please use other channels like the ones listed in [CONTRIBUTING - Got a Question or Problem?](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question)

[2016-06-22 05:58] #9429 closed

[2016-06-22 05:58] ryu323 commented on #9428
For what it's worth, it'll work if you manually change it to rc.2: `"@angular/router-deprecated":  "2.0.0-rc.2"`

[2016-06-22 05:59] vicb commented on #4112
Please reopen if still a problem (thanks @zoechi)

[2016-06-22 05:59] #4112 closed

[2016-06-22 06:01] vicb commented on #3921
Please reopen if still an issue with the new router

[2016-06-22 06:01] #3921 closed

[2016-06-22 06:01] robinkedia commented on #9428
Yep, i pointed it back to rc2 on my code. https://angular.io/docs/ts/latest/quickstart.html - Quick start documentation points to rc3. Thanks!

[2016-06-22 06:04] juan-orca commented on #9428
While there is an issue on the router I would like to say, can we please have the router documentation written in vanilla JS as well.

[2016-06-22 06:05] vicb commented on #9417
It has landed in v3, sorry for the confusion

[2016-06-22 06:07] chandanch commented on #9253
Thanks @mprobst I forgot to use the **bypassSecurityTrustHtml** Its working now.

[2016-06-22 06:10] mlc-mlapis commented on #9402
Oh, you are right, it's clear. I agree with you. We need a way how to control timeline to allow doing more thinks in one moment. Especially from an animation point of view.

[2016-06-22 06:11] kukjevov opened #9430 "SelectMultipleControlValueAccessor is considered as customAccessor"
**I'm submitting a ...**
[code]

**Current behavior**
If you have following html
[code]
and you have custom value accessor for this element you will get an error _More than one custom value accessor matches_ because *SelectMultipleControlValueAccessor* is missing in this code in _angular/modules/@angular/common/src/forms-deprecated/directives/shared.ts_ and in _angular/modules/@angular/forms/src/d

[2016-06-22 06:20] robinkedia opened #9431 "Angular 2 RC3 router bundles umd missing to UMD bundles for the router are missing"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Application fails to fireup with Angular 2 RC3. 404 failed to bundles/router.umd.js

**Expected/desired behavior**
Expecting router/bundles/router.umd.js file

**Reproduction of the problem**

**What is the expected behavior?**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your e

[2016-06-22 06:20] zoechi opened #9432 "CHANGELOG for router and other modules that are not in sync with Angular2 (core) versioning"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
https://github.com/angular/angular/pull/9372#issuecomment-227651705

**Expected/desired behavior**

It should be clear which modules are tracked in https://github.com/angular/angular/blob/master/CHANGELOG.md
and where the changes of other modules are tracked.

I think the router (and similar modules) should have their own

[2016-06-22 06:23] robinkedia commented on #9374
Sorry can you share how did you fix bundles missing issue. ?
packages['@angular/router'] = { main: 'index.js', defaultExtension: 'js' };

[2016-06-22 07:14] Delagen opened #9433 "Disable change of value in SelectMultipleControlValueAccessor"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
[code]
rendered value equal "index: 'model'" (0: 'model')

**Expected/desired behavior**
rendered value equal 'model'

* **Angular version:** 2.0.0-rc.3

* **Browser:** all

* **Language:** TypeScript 1.9.0

[2016-06-22 07:16] jaroslawziolkowski commented on #9431
I have same problem

- Angular: 2.0.0-RC3
- Browser [Chrome| Firefox| Safari|]
- Language [TypeScript]
- Node 6.2.0
- npm 3.8.9

[2016-06-22 07:19] juliemr commented on #8347
This is now obsolete.

[2016-06-22 07:19] #8347 closed

[2016-06-22 07:20] juliemr commented on #6250
I am now unable to reproduce this with RC2/RC3. I think the issues has been fixed. Please open a new bug if you can show us a reproducible test case. Thanks!

[2016-06-22 07:20] #6250 closed

[2016-06-22 07:20] juliemr commented on #6977
I am now unable to reproduce this with RC2/RC3. I think the issues has been fixed. Please open a new bug if you can show us a reproducible test case. Thanks!

[2016-06-22 07:20] #6977 closed

[2016-06-22 07:28] zoechi commented on #9433
Can you please provide a Plunker that allows to reproduce the issue?

[2016-06-22 07:42] sumanballapuramgh commented on #9362
Hello,
As i have also experienced the same issue when i upgrade my project to rc2. Bunch of
404 GET /node_modules/systemjs/dist/<various files>.js.map

[2016-06-22 07:46] francois-appliware commented on #9417
@vicb By v3 do you mean the RC3 ? Because it does not appear in the changelog (yet?)...

[2016-06-22 07:46] Skuriles opened #9434 "new Forms (RC3) are not working: Cannot find control '' or No value accessor for ''"
**I'm submitting a ...**  (check one with "x")
[x ] bug report

**Current behavior**
Trying to use the new forms (v.0.1.1 with angular 2.0.0-rc.3)
No value accessor for ''
Error:
[code]

Html1
[code]

TS:
[code]

So I tried to warp it in a formGroup, but then I get the following message:
[code]

Html 2
[code]

TypeScript 2
[code]

**Expected/desired behavior**
Working form and not error message

*

[2016-06-22 08:02] pkozlowski-opensource commented on #9420
Here is a simplified plunk: http://plnkr.co/edit/myu6F8mBClhFaVIpMxxz?p=preview

tl;dr; works as expected

I think that you are misinterpreting how `ngSwitchDefault` works. As explained in https://angular.io/docs/ts/latest/api/common/index/NgSwitchDefault-directive.html it:

[2016-06-22 08:04] cebor opened #9435 "IE11: Router (3.0.0-alpha-7) does not work correctly, when serving from a subdirectory"
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

**Current behavior**
In IE11 the routing does not work correctly, when you serve the site from a sub-directory and with a `<base href=".">` in the index.html head.

- The home-view does not initialize on firs

[2016-06-22 08:15] Delagen commented on #9433
Found issue. As of binding feature of multiple select and it binding to (input) event instead of (change). Custom implementation of controls stuck with values generated with value accessor. No native interface to call that selectedOptions changes. But calling onChange method with event target argument fixes the issue. I think i will rewrite accessor manually for such components.

[2016-06-22 08:15] #9433 closed

[2016-06-22 08:22] Delagen commented on #8917
I think it is missuse of forms, so close.

[2016-06-22 08:22] #8917 closed

[2016-06-22 08:24] zoechi commented on #9434
Your post seems to contain code. Please edit your post and wrap the code in tripple backticks. Currently it's unreadable and parts seem missing. Please also provide a Plunker that allows to reproduce.

[2016-06-22 08:26] zoechi commented on #9435
Can you please provide a Plunker that allows to reproduce?

[2016-06-22 08:33] cebor commented on #9435
@zoechi Think its not possible to serve a plunker from sub-directory, thats why im selfhosting it.

[2016-06-22 08:35] Freak613 commented on #9385
I can't reproduce this problem with only zone or NgZone. It can be reproduced only with angular:
http://plnkr.co/edit/LUMTAlPgqlbS1kXHSkQ6?p=preview

[2016-06-22 08:52] Skuriles commented on #9434
Just changed the error message to code...
[plunker for no value accessor](http://plnkr.co/edit/It7U0QSrqFn29gjZF37e?p=preview)

[plunker for cannot find control](http://plnkr.co/edit/It7U0QSrqFn29gjZF37e?p=preview)

[2016-06-22 08:53] pandomic commented on #9431
Also got this error.
I've resolved it by replacing the node_modules/@angular/router with fresh version of router from its repo: https://github.com/angular/router-builds

[2016-06-22 09:18] bzums commented on #9434
@Skuriles maybe check this issue: https://github.com/angular/angular/issues/9281

[2016-06-22 09:25] choeller opened #9436 "(router) What happened to the issues created under angular/vladivostok?"
Hi,

this is more an organizational question than an actual bug report. So I'm wondering what happened to all the issues created under:

https://github.com/angular/vladivostok/

I think there were somewhat around 30 open issues that now all seem to be gone. Will they be transfered to the main repo, or is there a way to at least see them again to copy them over here?

/cc @vsavkin

[2016-06-22 09:31] fatsu opened #9437 "Router 3.0.0-alpha.7: containsTree - container is undefined"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

"@angular/router": "3.0.0-alpha.7",

When using routerLinkActive, I get the following exception(s) after navigation from a 'root' component without child-routes ('/comp1') to a child-component of another 'root'-component ('/comp2/childx'). There is no problem with navigation between siblings.

This only happens when setti

[2016-06-22 09:32] pkozlowski-opensource commented on #9437
Please provide a minimal reproduce scenario in plunker, as requested in the issue template. Otherwise this one is not actionable.

[2016-06-22 09:50] jaroslawziolkowski commented on #9431
@pandomic thanks it works. Now we are waiting to npm repository update :)

[2016-06-22 09:52] #8712 closed

[2016-06-22 09:55] zoehneto opened #9438 "HTML Sanitization removes HTML5 Video elements"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Since the introduction of html sanitization with rc2, html5 video elements get removed when binding html to the innerHTML property of an element.

**Expected/desired behavior**
Video elements should be retained just like img elements.

**What is the motivation / use case for changing the behavior?**
I need to incorporate e

[2016-06-22 10:08] t246246 commented on #9434
Just change from your second code to:
[code]

[2016-06-22 10:53] robinkedia commented on #9426
Can we add back .router-link-active in dom for active route?

[2016-06-22 10:59] Muthu2020 opened #9439 "No compatible version found: angular2@2.0.0-rc.3 while downloading angular2 via npm"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or similar (you can use this template as a starting poi

[2016-06-22 11:02] rjpalermo1 opened #9440 "Get Started Tutorial error + Plunkr not working"
**I'm submitting a ...**  (check one with "x")
[code]

**# **Angular2 Tour of Heroes tutorial broken****

The PLUNKR example (and my follow-along code) is working fine on the SERVICES step https://angular.io/docs/ts/latest/tutorial/toh-pt4.html

HOWEVER, when I add the **Appendix: Take it slow** suggestion the app breaks down.

[code]

In the next step in the TUTORIAL for ROUTING here:  https://an

[2016-06-22 11:09] JoostvdB94 commented on #9439
You will need to change `angular2@2.0.0-rc.3` to `@angular@2.0.0-rc.3`
in your package.json this will look like:
[code]

[2016-06-22 11:13] cyrilletuzi commented on #9431
Until the npm repository update, you can also change your system.config.js :

[code]

[2016-06-22 11:13] Muthu2020 commented on #9439
Thank you.It works fine.

[2016-06-22 11:16] albertosantini commented on #9244
Tested with rc.3 in my use case. It works nice.
Thanks for the quick fix.

[2016-06-22 11:20] #9439 closed

[2016-06-22 11:25] skejcikowski commented on #9230
I cannot use any custom-made form elements any more because of this error. For example I am using a WYSIWYG-Editor inside my forms. This way I get the "Name attribute must be set if ngModel" Error:

<p-editor [(ngModel)]="projectGroup.description"></p-editor>

When I set the name:

<p-editor formControlName="description" [(ngModel)]="projectGroup.description"></p-editor>

I get the following error

[2016-06-22 11:31] skejcikowski commented on #9230
I can not use any custom-made form elements any more. For example, I am using a WYSWIYG-Editor in my forms:

`  <p-editor formControlName="description" [(ngModel)]="projectGroup.description"></p-editor>   `

Without the name I get this error: " Name attribute must be set if ngModel ..." . With the name set : "ORIGINAL EXCEPTION: No value accessor for 'description'" . I get the same for a custom-ma

[2016-06-22 11:48] ulfryk commented on #9294
Just tested it against `rc.3` - still the same :|

[2016-06-22 11:49] loutocky opened #9441 "Angular2 app not working in IE 11"
I created application in Angular 2, now I am using RC1. I hoped that with core.js 2.4.0 (no shims for IE) will be everything fine with Internet explorer. But the app is still loading...

Here is console log from IE 11:

[code]

It is necessary to say, that everything works fine in IE on localhost, but on server it does not. I think about, that the address for localhost is http://localhost:8080/, b

[2016-06-22 11:51] loutocky commented on #9441
My index.html is:

[code]

Package.json

[code]

And the system config

[code]

[2016-06-22 11:55] Muthu2020 opened #9442 "es6-shim.min.js:1 Uncaught SyntaxError: Unexpected token < while run the server.can you provide any idea about it."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or similar (you can use this template as a starting poi

[2016-06-22 12:03] Frozen-byte opened #9443 "misssing .some() on QueryList"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
QueryList does not support the .some() method, but forEach()

**Expected/desired behavior**
QueryList should be able to call some()

**What is the motivation / use case for changing the behavior?**
.some() is a nicer way to iterate Lists quickly if you only need one Element

**Please tell us about your environment:**
* **A

[2016-06-22 12:11] #8666 closed

[2016-06-22 12:11] #6864 closed

[2016-06-22 12:12] Skuriles commented on #9434
If I remove the [] then the error looks like this:

[code]

[2016-06-22 12:14] Jammy42 commented on #7697
Would be nice if someone from the Angular2 Team would post a comment here ... or are they already working on a different framework ?

[2016-06-22 12:17] jalkanen commented on #9359
@pavandv That solution does not seem to work; systemjs still attempts to load the individual script files.

[2016-06-22 12:19] Skuriles commented on #9434
The problem I have is very simple:

I just want a form like this:

[code]

And then consume it in my component

[code]

But all what i tried ends in error messages or empty "credentials" (or in my case above with initial values like this: password: "" etc.)

So I just kicked out the form so far and used simple two-way bindings until I found a working solution.
I don't need a dynamically created fo

[2016-06-22 12:26] pkozlowski-opensource commented on #9442
Please use an appropriate channel to ask support questions, see: https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2016-06-22 12:26] #9442 closed

[2016-06-22 12:27] pkozlowski-opensource commented on #9441
Please use an appropriate channel to ask support questions, see: https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2016-06-22 12:27] #9441 closed

[2016-06-22 12:47] t246246 commented on #9434
Your plunker is different what you wrote it first as Typescript2.
[code]

[2016-06-22 13:01] mootinator commented on #9420
That simplified plunk is _completely_ missing the point.

If you have a ngSwitch inside an if block, and specifically the whole switch goes from not visible to visible, and a case other than the default is displayed when it becomes visible, the ngOnDestroy of a non-instantiated version of the default is spuriously being called.

[2016-06-22 13:04] andrui commented on #9414
Hi!

According to the validateNode() https://github.com/angular/angular/blob/2.0.0-rc.3/modules/%40angular/router/src/config.ts Route configuration should have one of the properties (redirectTo, component, children):

[code]

So, for nested routing configuration like below should work:
[code]
But I face the error: "TypeError: Cannot read property 'annotations' of undefined"

In my case App compone

[2016-06-22 13:10] Skuriles commented on #9434
hm, maybe I made some mistake by copying the plunker...

[modified plunker 1](http://plnkr.co/edit/OVPyAZuF7MheXGqdCXey?p=preview)
[modified plunker 2](http://plnkr.co/edit/It7U0QSrqFn29gjZF37e?p=preview)

I modified both:
no difference..still error messages

[2016-06-22 13:13] Delagen commented on #3011
any movement in solve this issue?

[2016-06-22 13:16] ocombe opened #9444 "Router: Simplify Parent Route Parameter Access (and params in general)"
**I'm submitting a feature request**

I'm reporting this issue by @DanWahlin that I found in google cache from the old router repository that was deleted when you moved the router to the angular repository. The text is copy pasted from the old issue (https://github.com/angular/vladivostok/issues/81):

_start of copy paste_

--------
I know the API is still being worked on at this point, but I want

[2016-06-22 13:16] pkozlowski-opensource commented on #9420
Oh I see. Please, in the future provide a minimal plunker and crystal - clear description - it will avoiding this type of going back and for...

[2016-06-22 13:25] choeller opened #9445 "(router) fragement identifiers are not passed when accessing link via deep-link"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When accessing an url like this http://localhost:4200/tasks#mark=1 I try to get the fragment part via this:

[code]
but this always prints "null". Also the fragment part is automatically stripped from the current URL

When linking to the tasks-page via a routerLink everythings works as expected:

[code]

As fragments will

[2016-06-22 13:27] rjamet commented on #9253
This looks like the protection against DOM poisoning, yes. Overall, id attributes are not allowed with the sanitizer, so I'm also thinking that either `bypassSecurityTrust...` is the right tool, or you need a template ?

[2016-06-22 13:33] Pixcell commented on #9130
Hello,

Since I upgraded from rc.1, I have the issue of the custom content-type being append to text-plain.
I tried with http-2.0.0.rc.2 and http-2.0.0.rc.3.

Here is my http service (based on @angular/http)

[code]

And here is one use case: (Where this._http is an instance of HttpClientService)

[code]

result:

[code]
(note the 'content-type' : 'text-plain, application-json')

---- What's weird

[2016-06-22 13:36] vicb commented on #9294
Do you have a plunkr demonstrating the issue ?

[2016-06-22 13:37] choeller commented on #9444
@ocombe I was trying to get back my issues via google-cache too. Would you be so kind to check if you can still access them, As I also cannot access the issue that you just created via google-cache I hope that cache access is different depending on your location...

My issues were
https://github.com/angular/vladivostok/issues/43
https://github.com/angular/vladivostok/issues/44
https://github.com/a

[2016-06-22 13:38] cperez1087 commented on #8319
I don't believe this is fixed.

When tested in plunker [Sample](http://plnkr.co/edit/AjYjTW9KCr2YvUcc5Xln) using the latest @angular npmcdn I still get the same issue.
[code]
Note, this is with EST. And seems to happen with some leap years.
If I change my PC's timezone to London time, it works as expected.
[code]

[2016-06-22 13:38] vicb commented on #9130
@Pixcell this issue is closed, please create a new one and add a plunker. Thanks.

[2016-06-22 13:44] ocombe commented on #9444
@choeller: I cannot access those issues from google cache sorry :( don't you have a copy in your email (if someone answered you)

[2016-06-22 13:46] brandonroberts opened #9446 "Router: Provide method to check if route is active"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

There isn't a public API to see if a UrlTree is contained within the current router UrlTree

**Expected/desired behavior**

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please provide the steps to reproduce and if possible a minimal dem

[2016-06-22 13:47] choeller commented on #9444
@ocombe  :( thanks anyway! I have all the emails, but sadly they only contain  the answers, not my initial text...

[2016-06-22 13:49] t246246 commented on #9434
Your plunker is still mixture.

Also you forgot `()` in `app/main.ts`.
[code]
I suggest you should read document more carefully.

[2016-06-22 13:49] brandonroberts commented on #9444
@choeller I have all the emails. I canl repost your originals

[2016-06-22 13:50] vicb commented on #9443
That should be quite easy to implement, do you want to try sending a PR ?

[2016-06-22 13:50] choeller commented on #9444
@brandonroberts that would be awesome! I'm quite sure a lot of others would be happy if their issues weren't lost!

[2016-06-22 13:51] #9434 closed

[2016-06-22 13:51] brandonroberts opened #9447 "Router: Support adding additional data to Route-Configurations (fka. RouteData)"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

Reposted from router v3 repo via @choeller

With the deprecated Router it was possible to add additional data to a Route-Configuration like this:

@RouteConfig([
  {path: '/about', component: AboutComponent, name: 'About', data: {title :"About us"}},
])
with this information it was possible

[2016-06-22 13:52] brandonroberts opened #9448 "Router: Defining an aux-route in child-component prevents leaving this route again"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Reposted from router v3 repo via @choeller

When having 2 router-outlets in a child-component the aux-functionality works well, but as soon as you want to leave the child-route the following exception is thrown and the router stops working:

`EXCEPTION: Error: Uncaught (in promise): Error: Outlet is not activated`
the fol

[2016-06-22 13:55] cperez1087 commented on #8319
Here is a jsFiddle [Sample](https://jsfiddle.net/0naj27q1/1/) using the same April 1, 2004 with Moment.js. It formats correctly with that one (on EST)

[2016-06-22 13:57] brandonroberts opened #9449 "Router: Matrix params are not working"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Reposted from router v3 repo via @choeller

ith alpha.3 I was able to do the following:

http://localhost:4200/tasks;query=BACKLOG
[code]

The observable is never invoked. Also the params object is empty when using the snapshot, so I guess the Matrix-Params functionality was broken

**Expected/desired behavior**

**Reprod

[2016-06-22 13:58] benelliott commented on #7239
I am running into a similar issue in which removing an item from the source array of an ngFor will cause all ngFor elements to transition to the void state unless the item that was removed was the last in the array. This is visible in [this plunkr](http://plnkr.co/edit/WcVCFN5GPup79m8PoivL?p=preview) which is just the demo from the docs but with the Heroes.remove function altered to splice from th

[2016-06-22 13:59] Blasz commented on #8817
@joelrich I agree with you on both points. #8563 allows more programmatic control over projected content but is not related to dynamic components (this is more or less directly stated here: https://github.com/angular/angular/issues/8563#issuecomment-219163568).

There's some relevant discussion about dynamic components in https://github.com/angular/angular/issues/7596 but it's OP is about ng-inclu

[2016-06-22 14:10] choeller opened #9451 "Router alpha.7: Matrix-Params are not working for index-routes of nested routes anylonger"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When trying to access Matrix-Params on the index-route of a nested route like this:

[code]

[code]

[code]

The param is only passed to `TasksComponent`, but not to `TaskListComponent`. So there is currently no way to use Matrix-Parameters on the default-route of a child-route.

This used to work on alpha.3 correctly, bu

[2016-06-22 14:10] pliscki opened #9452 "Content-type set in a http.put is being appended with text/plain after rc.2"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When Content-type is manually set in a http.put, instead of completely overriding its content, it's just appending it and producing the following:

`Content-Type:text/plain, application/json`

**Expected/desired behavior**

When any value is provided, it shouldn't defined a default content-type. At least, this is what was

[2016-06-22 14:15] briananderson1222 commented on #9451
Try: `this.router.routerState.parent(this.route).params`

[2016-06-22 14:19] ulfryk commented on #9294
no - have too much regular work, maybe I'll manage to prepare plunkr this weekend.. but only maybe...

The problem is that `__platform_browser_private__.getDOM()` return null before I call `bootstrap(…)`, here:

https://github.com/angular/angular/blob/12c49042abed8847a474c445271f9ba9830d3c18/modules/%40angular/http/src/backends/xhr_backend.ts#L157

[2016-06-22 14:20] VladimirAmiorkov commented on #5500
I have upgraded to RC2 and `canReuse` is not longer working. Has anyone found a way to disable the reuse of the Component with the latest RC2 or RC3?

[2016-06-22 14:22] abductedMind opened #9453 "Angular 2 Tutorial "Tour of Heros" currently doesn't work"
This is a bug with content in documentation. Angular 2 Tutorial "Tour of Heros" currently doesn't work: https://angular.io/resources/live-examples/toh-6/ts/plnkr.html.

This is linked to from https://angular.io/docs/ts/latest/tutorial

The issue seems to be related to how content is getting loaded on the page because there are 404 errors.

[2016-06-22 14:23] abductedMind commented on #9453
This is a bug with content in documentation. Angular 2 Tutorial "Tour of Heros" currently doesn't work: https://angular.io/resources/live-examples/toh-6/ts/plnkr.html. This is linked to from https://angular.io/docs/ts/latest/tutorial/

[2016-06-22 14:24] ericmartinezr commented on #9453
@abductedMind would you mind to open the issue in https://github.com/angular/angular.io? That's the repo for the website/tutorial :P

[2016-06-22 14:25] choeller commented on #9451
@briananderson1222 cool - thanks for the workaround!

[2016-06-22 14:27] abductedMind commented on #9453
Ha! OK, I'm changing the issue to "site feedback" link on angular.io should like to  https://github.com/angular/angular.io

[2016-06-22 14:31] ericmartinezr commented on #9428
You should report this in the website/tutorial repo https://github.com/angular/angular.io so they can remove it. For now simply remove it from the configuration, there's no more point on using that router.

[2016-06-22 14:31] abductedMind commented on #9453
I have added two issues to the other location, this should be closed now.

[2016-06-22 14:31] #9453 closed

[2016-06-22 14:33] IgorMinar commented on #9334
Another way to work around this is by using `forwardRef` which delays the dereferencing of the component type and allows us to get the right instance:

[code]
http://plnkr.co/edit/YMhas7tEHskSZGOcHSTd?p=preview

The same works for services.

I agree that we should improve the error messages though as they don't give a clue as to what went wrong.

[2016-06-22 14:36] choeller commented on #9449
@brandonroberts Thanks for opening this one for me. As the description above was superceded by #9451 you can close this one again!

[2016-06-22 14:39] #9449 closed

[2016-06-22 14:45] timolesven opened #9454 "Bug: animation *=>void on ngFor"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When you delete an element of a list, who animate with * => void, all the next element are animate too.

**Expected/desired behavior**
Animate only the deleted element

**Reproduction of the problem**
http://plnkr.co/edit/p8dsTkslNgzn5gfScqh7?p=preview

* **Angular version:** 2.0.0-rc.2

[2016-06-22 14:46] pe8ter commented on #9438
Inject [this service](https://angular.io/docs/ts/latest/api/platform-browser/index/DomSanitizationService-class.html) into your component and pass your unsafe markup through the bypass function that makes sense for your scenario.