[2022-07-11 15:51] #46765 closed

[2022-07-11 15:53] atscott commented on #46772
This is working as intended. There are many checks that are dev mode only checks. Keeping these assertions around for production would increase the production bundle sizes.

[2022-07-11 15:53] #46772 closed

[2022-07-11 15:53] JustDoItSascha commented on #46765
@atscott I don't think that this is a support request, because I have different behavior whether i add the exact same animation in a "normal" component or in a dynamically created one. This sounds like a bug for me...

[2022-07-11 17:15] phalgunv commented on #46771
I have pulled the latest commits from angular repo into my forked repo. The command to build the source code has been updated after I posted raised this issue. The new command is `yarn build`, introduced as part of [Commit detail](https://github.com/angular/angular/commit/d248d83c17150d045d10aca424d711ba032d6319#diff-b5cb61e9179386b5d931cdc81286b4bc9a7bf839bee23315b46ae433bfb1998e) fails with the

[2022-07-11 18:46] JoostK commented on #46771
The `build` script does exist:

https://github.com/angular/angular/blob/e58207e444af7347699ff9f01492f886cd09da06/package.json#L28

[2022-07-11 18:51] kunal00731 opened #46776 "Type AgGridModule does not have 'ɵmod' property"
I am currently upgrading my application from Angular 12 to Angular 13. I am using `ag-grid 15.0.0` and `ag-grid-angular 15.0.0`. Now my compilation happens properly as far as the app is concerned . However , when the app tries to load in browser , I see this issue coming up : `Type AgGridModule does not have 'ɵmod' property` .

![image](https://user-images.githubusercontent.com/5189286/178337012-a

[2022-07-11 18:57] phalgunv commented on #46771
My bad.

[2022-07-11 19:25] JoostK commented on #46776
`ag-grid-angular` 15.0.0 was published 5 years ago; with the latest version being 28.0.0. I'd recommend that you update ag-grid and ag-grid to recent releases, as the version you're using appears to be no longer compatible with Angular 13.

[2022-07-11 19:25] #46776 closed

[2022-07-11 20:24] phalgunv opened #46780 "Attempting to build angular source code fails with error - "Failed to determine workspace status""
### Which @angular/* package(s) are the source of the bug?

common

### Is this a regression?

Yes

### Description

`yarn build` fails with error "ERROR: <builtin>: BazelWorkspaceStatusAction stable-status.txt failed: Failed to determine workspace status"

`
git clone https://github.com/angular/angular.git
cd angular
npm install -g yarn
yarn install
yarn build
`

### Please provide a link to a mi

[2022-07-11 20:28] JoostK commented on #46747
This is introduced by #46096, which fixed a bug that could result in compiler crashes for certain pipes. However, there is a pre-existing bug in _which_ pipes are considered in this check; the compiler incorrectly looks at _all_ pipes in the compilation scope of the NgModule, whereas it should only consider the _used pipes_ in the template.

[2022-07-11 21:02] TheSlimvReal opened #46783 "loadTranslations() not working with static variables"
### Which @angular/* package(s) are the source of the bug?

localize

### Is this a regression?

No

### Description

When using the `loadTranslations()` function as described in #38953, static variables or exported variables outside of classes are not translated. Class variables are translated correctly.

This minimal reproduction below shows 3 variables:

- A class variable that is correctly tra

[2022-07-11 22:14] jessicajaniuk commented on #46780
@phalgunv There's a bunch of mismatched versions in there, which is likely causing the problems here. If you're running `14.1.x`, trying to build with some in version `12.2.x` is going to cause issues.

[2022-07-11 22:24] imirkin opened #46790 "Infinite loop in typescript compiler when fullTemplateTypeCheck is enabled"
### Which @angular/* package(s) are the source of the bug?

compiler

### Is this a regression?

No

### Description

With Angular 14.0.5 and TypeScript 4.6.4, everything is fine. When upgrading to TypeScript 4.7.4, I get an infinite loop. Disabling `fullTemplateTypeCheck` "fixes" this. I originally filed this as a TypeScript issue here: https://github.com/microsoft/TypeScript/issues/49845 to get

[2022-07-11 22:24] jessicajaniuk commented on #46780
@phalgunv ok what you're seeing here is an intermittent failure we encounter. Run `yarn install` again and it will finish properly. For some reason occasionally there is this issue with yarn where it errors out the first time. I was able to encounter the same issue on a fresh clone and a second `yarn install` worked. We actually have this issue in CI and it just retries. `yarn build` completed suc

[2022-07-11 22:25] #46780 closed

[2022-07-11 22:32] #44662 closed

[2022-07-11 22:33] jessicajaniuk commented on #46790
@imirkin Can you create a reproduction for us in stackblitz? Without a reproduction this isn't actionable for us.

[2022-07-11 22:39] imirkin commented on #46790
It's a huge (and proprietary) project, I'm not sure it'll reproduce in a smaller self-contained thing. I'm sure it's not just some trivial thing... I was hoping I could get some advice here on how to debug it further myself.

[2022-07-11 22:50] jessicajaniuk commented on #46790
Unfortunately without a reproduction, there's really nothing we can look at. You can try reaching out on [StackOverflow](https://stackoverflow.com/) using tag `angular` to see if anyone has any suggestions there. I'll close this for now, but if you have a way of creating a repro, feel free to open a new issue.

[2022-07-11 22:50] #46790 closed

[2022-07-11 23:14] #14471 closed

[2022-07-11 23:15] dylhunn commented on #14649
Error messages have improved since 2017, and we now have standalone. Closing as likely obsolete.

[2022-07-11 23:15] #14649 closed

[2022-07-11 23:15] dylhunn commented on #15743
Closing, as protractor is deprecated.

[2022-07-11 23:15] #15743 closed

[2022-07-11 23:16] dylhunn commented on #16522
This should now be fixed; feel free to reopen if it resurfaces.

[2022-07-11 23:16] #16522 closed

[2022-07-11 23:17] dylhunn commented on #17797
I'm not seeing any obvious low contrast spots these days. Feel free to re-open with a specific example.

[2022-07-11 23:17] #17797 closed

[2022-07-11 23:18] #18708 closed

[2022-07-11 23:19] dylhunn commented on #18936
We have made some improvements here recently.

[2022-07-11 23:19] #18936 closed

[2022-07-11 23:20] dylhunn commented on #20450
Working as intended.

[2022-07-11 23:20] #20450 closed

[2022-07-11 23:22] dylhunn commented on #20559
You don't want your wildcard selector to leak out of the view encapsulation. You should use shadow piercing or disable encapsulation if you want to apply the style globally.

[2022-07-11 23:22] #20559 closed

[2022-07-11 23:23] #20667 closed

[2022-07-11 23:25] dylhunn commented on #20821
`ng-deep` should probably make the imported styles global, but this is frankly a really exotic use case which we're unlikely to prioritize in the near future.

[2022-07-11 23:26] dylhunn commented on #22625
AngularJS is now EOL.

[2022-07-11 23:26] #22625 closed

[2022-07-11 23:27] dylhunn commented on #22767
Likely different in Ivy. Please re-open with a repro if this is still an issue in 14.

[2022-07-11 23:27] #22767 closed

[2022-07-11 23:28] dylhunn commented on #22804
`benchpress` was never public API; not in scope for this sort of issue.

[2022-07-11 23:28] #22804 closed

[2022-07-11 23:29] dylhunn commented on #23763
This is a platform difference between node and browsers; we don't typically address these in the framework.

[2022-07-11 23:29] #24330 closed

[2022-07-11 23:33] dylhunn commented on #24490
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular version.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template.

(The animations package has moved from CSS animations to browser anim

[2022-07-11 23:33] #24490 closed

[2022-07-11 23:37] dylhunn commented on #25578
`setValue` is the authoritative place for setting the native control's value. Doing that by hand with the native element ref is probably not the right approach. I suspect this is WAI, but we could look at the StackBlitz in more depth.

[2022-07-11 23:39] imirkin opened #46792 "TypeScript 4.7.4: strict / full template type checks slow down exponentially with complex ngIf expressions"
### Which @angular/* package(s) are the source of the bug?

compiler

### Is this a regression?

No

### Description

With TS 4.7.4, it seems like there's a huge slowdown in type checking. Some stats on the repro project "ng build" timing on a moderately powerful desktop:

strict + fullTemplateTypeCheck: 86s
strict: 60s
no strict: 7s

TS 4.6.4 + strict + fullTemplateTypeCheck: 10s

The repro is a

[2022-07-11 23:39] dylhunn commented on #25914
It would be interesting to see if this still happens in 14, but appears to still reproduce with the above StackBlitz.

[2022-07-11 23:42] dylhunn commented on #25914
Not reproducible with v14.

[2022-07-11 23:42] #25914 closed

[2022-07-11 23:42] atscott commented on #27629
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular version.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template.

[2022-07-11 23:42] #27629 closed

[2022-07-11 23:43] dylhunn commented on #26662
Duplicate of #35309

[2022-07-11 23:43] #26662 closed

[2022-07-11 23:44] dylhunn commented on #35309
This is very breaking, but it would be great to fix, as the large number of duplicate issues indicates significant user pain.

[2022-07-11 23:45] dylhunn commented on #26873
Not enough information to reproduce.

[2022-07-11 23:45] #26873 closed

[2022-07-11 23:50] dylhunn commented on #27929
Due to lack of interest in the relatively esoteric case, we will likely not make any changes.

[2022-07-11 23:53] dylhunn commented on #28235
We don't support animating infinitely.

[2022-07-11 23:53] #28235 closed

[2022-07-11 23:54] atscott commented on #34519
Closing as unsupported. See https://angular.io/guide/browser-support

[2022-07-11 23:54] #34519 closed

[2022-07-11 23:58] dylhunn commented on #29537
@bergmeister Would you be able to produce an Angular 14 SatckBlitz reproduction, rather than the old AngularJS repro?

[2022-07-12 05:50] JoostK commented on #46792
This is definitely a TypeScript 4.7 regression; compiling with Angular 14 and TypeScript 4.6 works without issues.

Here's a minimum, TypeScript only repo:

[code]

[code]

[CPU.20220712.074453.22161.0.001.cpuprofile.zip](https://github.com/angular/angular/files/9089841/CPU.20220712.074453.22161.0.001.cpuprofile.zip)

In particular, the parenthesis do make a difference here.

Closing as this is a

[2022-07-12 05:50] #46792 closed

[2022-07-12 06:13] bergmeister commented on #29537
No, as I don't work on the product any more that was affected by this bug.

[2022-07-12 06:35] Somnath0603 opened #46795 "Upgrade Angular 12 to 13"
### Which @angular/* package(s) are the source of the bug?

upgrade

### Is this a regression?

No

### Description

While upgrading Angular 12 to 13 , i am getting the following issues:

[code]

We are looking for help
Anyone has any suggestions ?

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### P

[2022-07-12 07:47] JoostK commented on #46795
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2022-07-12 07:47] #46795 closed

[2022-07-12 10:15] kunal00731 opened #46796 "Upgrading Angular from version 12 to 13 : Type NgxMyDatePickerModule does not have 'ɵmod' property."
### Which @angular/* package(s) are the source of the bug?

upgrade

### Is this a regression?

No

### Description

Currently trying to upgrade my application from Angular 12 to Angular 13 . Faced a lot of issues in the interim and had to upgrade a lot of libs and subsequently changed a lot of the application code . Now I feel I am very near to fixing all the issues but yet I am still stumped by

[2022-07-12 10:50] JiaLinYou opened #46797 "AOT Cannot assign value "$event" to template variable "item". Template variables are read-only."
### Description

After I upgrade Angular 8 to Angular 9 or Angular10, and enable the AOT, If I use "npm run build -- -c prod" to build the code, I will get this error:
    "Cannot assign value "$event" to template variable "item". Template variables are read-only."

![image](https://user-images.githubusercontent.com/96672802/178471858-98470586-d6ea-425b-b841-a97e5087112e.png)

If I just disable th

[2022-07-12 11:48] JoostK commented on #46797
Since Angular Ivy it is no longer possible to assign to template variables, as noted in [the Ivy compatibility guide](https://v9.angular.io/guide/ivy-compatibility#less-common-changes):

Please note that there have been many changes to improve template type-checking and compiler errors in recent versions of Angular, and version 9 is no longer supported.

[2022-07-12 11:48] #46797 closed

[2022-07-12 11:53] JoostK commented on #46796
Closing per the above, thanks @lukasmatta.

[2022-07-12 11:53] #46796 closed

[2022-07-12 13:08] eneajaho commented on #15360
If `ngComponentOutlet` gets deprecated in favor of `ng-component`, are we going to get also the possibility to pass in an injector or `contentNodes` to the component, just like we do in `ngComponentOutlet`?

I ask for this, because most of the time, when using `ngComponentOutlet`, the way we pass data in the components, have been passing down an injector that includes injections tokens with data f

[2022-07-12 13:09] phalgunv commented on #46780
@jessicajaniuk In my case `yarn install` did not error out the first time after cloning the repo. I tried re-running `yarn install`, followed by `yarn build` as suggested but it the error does not go away.

This is the output of `yarn install` first time it is run after `git clone`:
`PS C:\code\github\angular> yarn install
yarn install v1.22.17
warning ..\package.json: No license field
[1/5] Valid

[2022-07-12 13:36] phalgunv commented on #46780
`yarn build` is successful when run using git bash the very first time. So, it is clear that the issue arises when run using Powershell. @jessicajaniuk can you try running in Powershell and see if it is working fine?

Output of yarn build when run in git bash:
`$ yarn build
yarn run v1.22.17
warning ..\package.json: No license field
$ ts-node --esm --project scripts/tsconfig.json scripts/build/bui

[2022-07-12 13:54] gabrielguerrero commented on #23235
I have a use case, that I did not see mentioned, I have a problem with inheritance where I have a utility class let's call it Base, and another class A which extends Base, Base has an init method that needs to loop through the class props of A, if I call this init method in the constructor of Base class it wont have access to A props because they have not been initialized (A props only gets initia

[2022-07-12 16:08] jessicajaniuk commented on #46780
@phalgunv I've spoken with our Powershell / Windows expert. Windows contributors are expected to use Git bash or equivalent due to indirect Bazel requirements. Powershell used to work unofficially, but there's a bug currently in `ts-node` that is in progress of being fixed. At that point you should be able to use Powershell again, but we strongly emphasize and recommend usage of git bash or equiva

[2022-07-12 16:20] phalgunv commented on #46780
@jessicajaniuk

It would be great if that information is documented in the docs/developer.md. It will save a lot of time for others using Windows.

[2022-07-12 17:45] #44870 closed

[2022-07-12 17:50] ChaitanyaPTank opened #46804 "Angular Devtools: Component Inspector is not working"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

Yes

### Description

Hello,

I am trying to inspect a particular component by using angular devtools's component picker, however when I go back on browser window running angular app in development mode, it is not piking any component, cursor behaves normal like in normal window, no highligh

[2022-07-12 18:08] ChaitanyaPTank commented on #46804
Edit: If I create new project with latest cli, then everything works fine.

**Working Environment:**

- Angular CLI: 12.2.17
- Node: 16.12.0 (Unsupported)
- Package Manager: npm 8.1.0
- OS: linux x64
- Angular: 12.2.16

[2022-07-12 18:59] AndrewKushnir commented on #46804
@ChaitanyaPTank Angular DevTools supports Angular v12 and later (in your original message, you've mentioned Angular v10), see https://angular.io/guide/devtools. I'm closing this ticket, please reopen if the problem still exists after upgrading to v12 or later version.

[2022-07-12 18:59] #46804 closed

[2022-07-12 19:04] ChaitanyaPTank commented on #46804
@AndrewKushnir Thank you. I am not sure if I can upgrade to angular 12(decision is not in my hand), is there any chance I can get it working ?

[2022-07-12 19:09] #46424 closed

[2022-07-12 20:53] LAlves91 opened #46810 "Language Service for Angular Schematics template files"
### Which @angular/* package(s) are relevant/related to the feature request?

language-service

### Description

Greetings!

Lately I've been working on a custom scaffolding schematics for a project. After some learning time, I've come to realize what a great tool Angular Schematics is! In my opinion, one thing is missing though: the templating part of the tool could really benefit from a Language

[2022-07-12 21:02] bob-watson commented on #31309
This seems to no longer be an issue, so closing.

[2022-07-12 21:09] #46747 closed

[2022-07-12 21:53] LayZeeDK commented on #23235
Since Angular version 14, we have the multi-provider `ENVIRONMENT_INITIALIZER` dependency injection token that supports initialization in lazy-loaded chunks as well as in eagerly loaded chunks:

[code]

[code]

`myLocalInitializer` can be passed to the `providers` option of `bootstrapApplication`, the `providers` option of an Angular module, or the `providers` option of a route, including lazy-loa

[2022-07-12 23:46] bob-watson commented on #37652
Ended up adding a note about how the Tour of Heroes doesn't support the test files.
It'd be nice to add this some day. In the meantime, this note should prevent future surprises by people who want to go above and beyond the tutorial.

[2022-07-13 00:03] #37652 closed

[2022-07-13 01:50] JiaLinYou commented on #46797
Sure, I think your mean is can not assign values to item like item=$event?  But how can I locate the code with the problem ?

In fact, I have checked my code and could not find some code like this.

After I use "fullTemplateTypeCheck": true, I just found some code like [(ngModel)] = "item", and I have fixed them, the error is gone, but I think it is not right, because I really can not find  item=$

[2022-07-13 02:35] JiaLinYou commented on #46797
This package.json file FYI

![image](https://user-images.githubusercontent.com/96672802/178638621-647b7f66-07d9-4d50-9706-efd8dad2262b.png)

[2022-07-13 05:57] JoostK commented on #46797
Assigning `item = $event` should be okay, it's the opposite that is not possible. FYI, `[(ngModel)]="item"` is shorthand syntax for `[ngModel]="item" (ngModelChange)="item = $event"`.

Since it's a hard crash this is not straight-forwards unfortunately. It might not be in your own code, but in some library code instead.

Like I mentioned, there have been a lot of improvements to error reporting in

[2022-07-13 06:13] JiaLinYou commented on #46797
Thank you so much, I will double check if there any code like $event = item, or the error  just from some library code.

[2022-07-13 07:33] Harpush opened #46815 "Add a ghost property to `InjectionToken` for generic type parameter type safety"
### Which @angular/* package(s) are relevant/related to the feature request?

core

### Description

Currently `InjectionToken` doesn't use the type parameter and thus typescript does not type check it (it is marked as unused).
[code]

### Proposed solution

As the generic type is not used anyway - an unused property can be added to `InjectionToken` just for this type check ability with the type `

[2022-07-13 07:56] teamIgal opened #46816 "adding the quote key in html usage"
### Which @angular/* package(s) are relevant/related to the feature request?

_No response_

### Description

hi there
I am not sure if it is already possible or not but I could find anything on the internet.
I would like to do something like this <input (keydown.shift.quote)> the important thing is the quote part i know i could do this on the typescript part of the component but it would be more

[2022-07-13 08:42] gabrielguerrero commented on #23235
Hey @LayZeeDK , thanks for the answer, Im aware of that way great addition in angular 14,  but imagine Base is part of a lib this config will need to be in the docs (or a factory that does that), and even if a user reads it some times he will forget to add it , I could also ask them every time they extend to override the parent constructor and call super.init like
[code]
which is backward compatib

[2022-07-13 10:55] sahilbabbar opened #46817 "XSS vulnerability in @angular/core"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

Yes

### Description

On running `npm audit`, 'Cross site scripting in Angular' vulnerability is found(apart from other vulnerabilities). How to fix this?

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]

### Please pr

[2022-07-13 12:04] JoostK commented on #46817
Indeed, this is brought in through `codelyzer`'s dependency on `@angular/core@9.0.0`. Since Codelyzer was built for TSLint and TSLint is no longer supported, you should be looking to migrate to an alternative linter such as ESLint + [angular-eslint](https://github.com/angular-eslint/angular-eslint).

And yes, this is a development only dependency.

[2022-07-13 12:04] #46817 closed

[2022-07-13 12:13] stephanie-dm commented on #26152
Since our CSP also doesn't allow inline CSS, I currently disabled the inline CSS by putting the following in the production configuration of angular.json:
[code]

[2022-07-13 14:14] lukasmatta opened #46818 "instanceCleanupFn was called but it was not a function"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

Hello,
I was investigating type error reported during runtime of our production app, and I found out that inside `processCleanups` function, `instanceCleanupFn` was called multiple times even it was not a function.

https://github.com/angular/angular/blob/8d2e5e6c4f5dd8ff435152f4a3ce94

[2022-07-13 15:09] dinbtechit commented on #37432
I'm facing the same issue.. Where did you set that property?

[2022-07-13 15:26] JoostK commented on #46818
There is a development mode assertion that validates the presence of this function (but this is dropped in optimized builds) so it's a bug if it's undefined, but without a reproduction it's nigh impossible to narrow it down

The version output is for the packages in this repository, is that intended?

[2022-07-13 15:50] dinbtechit opened #46822 "Angular 13 Custom Elements + APP_INITIALIZER = ERROR TypeError: Object.defineProperty called on non-object"
### Which @angular/* package(s) are the source of the bug?

elements, Don't known / other

### Is this a regression?

No

### Description

Angular 13 custom elements + APP_INITIALIZER gives the following error.  `ERROR TypeError: Object.defineProperty called on non-object`.  Its was working fine in Angular 11. After migrating to angular 13, it stopped working. Any help is massively appreciated.

*

[2022-07-13 16:10] jessicajaniuk commented on #46816
@teamIgal Thanks for the submission. This looks like a duplicate of #45992, which would allow using the code field, making using Quote with key events possible. There's an open PR in review right now that should address this. Feel free to follow #46030.

[2022-07-13 16:10] #46816 closed

[2022-07-13 16:43] JoostK commented on #46822
You're likely seeing the effect of [a bug fix in zone.js 0.11.2](https://github.com/angular/angular/blob/main/packages/zone.js/CHANGELOG.md#0112-2020-09-19): #37432/#37582.

[2022-07-13 16:49] lukasmatta commented on #46818
@JoostK Sorry, I accidentally ran `ng version` in wrong folder, updated it with the correct version output. I will try to investigate logs and reproduce it.

[2022-07-13 17:09] EmmanuelRoux opened #46825 "Expose resolved route title"
### Which @angular/* package(s) are relevant/related to the feature request?

router

### Description

Since Angular 14, router has a new mechanism to update page title from route config. The route can either be a static string or resolved in the same way as `resolve` data.

But the resolved route title is not exposed and inaccessible from client application (it seems the title is actually stored

[2022-07-13 18:28] DanWahlin commented on #46662
Thanks! Glad to hear observable-store has been helpful. Thanks for mentioning it.

[2022-07-13 18:44] JoostK commented on #46783
Thanks for the great repro!

This seems to be working as expected; top-level variables (static members and top-level exports) are initialized when the ES module is loaded. In your setup, the `loadTranslations` call only occurs _after_ having loaded all ES modules so they have already been initialized as if there are no translations.

You can get it to work if you push all ES modules behind a dynam

[2022-07-13 18:44] #46783 closed

[2022-07-13 19:23] atscott commented on #46825
@EmmanuelRoux Thanks for the request. Can you describe your use-case for needing the resolved title on each individual `ActivatedRoute`? Given that the browser title is effectively a singleton, what's the use-case for looking at each individually resolved title?

I don't agree with the first two bullet points of your argument but can certainly get behind the third. For me, the third point is a goo

[2022-07-13 21:16] pauldraper commented on #8785
Yes, she did! https://twitter.com/twerske/status/1545104861762445313

[2022-07-13 21:59] #46717 closed

[2022-07-13 22:02] bob-watson commented on #43634
Changed to `P3` for review/inclusion with other ToH tutorial updates.

[2022-07-13 22:08] bob-watson commented on #43526
Changed to P3 and closed because PR #43500 and its related PR #43646 appear to have resolved it.

[2022-07-13 22:08] #43526 closed

[2022-07-13 22:37] simeyla commented on #8785
I really hope this is implemented via a special 'ng' element such as `<ng-host>` in the template.

If this *is* how it will be done I really hope at the same time we'd then be able to add host binding attributes, classes, styles and events to it.

[code]

HostBinding can just get too cumbersome right now and if a lot of re-engineering is needed for this feature I really hope we can get some other

[2022-07-13 22:55] #42781 closed

[2022-07-14 04:41] crisbeto commented on #8785
It is being implemented as a `hostDirectives` property on `@Directive` and `@Component`:

[code]

We decided against the `ng-host` element, because:

1. It introduces a third way of doing host bindings, on top of the host property and the `@Host*` decorators. New users may find it confusing and we’ll have to figure out how to handle conflicting information.
2. It does not allow for host directives

[2022-07-14 05:28] Harpush commented on #8785
Just curious - I got a few questions if I may:
1. inputs can be set in the component decorator and with `@Input` decorator - will it be supported here too with a new decorator?
2. Will it be type safe? Especially the inputs and outputs example.
3. Can we pass those inputs from the component or just hard coded values? And if we will be able - will it support passing data from component inputs (Dele

[2022-07-14 05:31] Airblader commented on #8785
You can't even do that in the template currently, so I'd be surprised to see it added here. I've just gotten used to writing my directives such that they can be toggled.

[2022-07-14 05:43] nbcp commented on #14448
Can we reconsider upvoting please? Thanks

[2022-07-14 06:43] crisbeto commented on #8785
I think that both of these have the same answer so I'll address them here. You won't be able to bind directly from the host to the host directive. One of our earlier proposals looked something like this:

[code]
We decided not to implement it, because it would've been prone to "changed after checked" errors and all the workarounds would've introduced a lot of complexity in the codebase and potenti

[2022-07-14 06:52] ilyakonrad opened #46833 ":enter animation doesn't animate opacity"
### Which @angular/* package(s) are the source of the bug?

animations

### Is this a regression?

Yes

### Description

I have some components that should be rendered and destroyed with animation which changes transform, border radius and opacity properties, so I use `:enter` and `:leave` animations. It worked perfectly prior to upgrading to v14.

Now in v14 `:leave` animation is working as it di

[2022-07-14 07:26] TheSlimvReal commented on #46783
@JoostK Thank you some much for the explanation and the very clean workaround/solution to this problem. I just put it into my project and it works like a charm!

Generally, there were quite some difficulties getting the runtime translations through the `loadTranslations()` function running:

- How/when to load the translations
- `registerLocaleData()` with lazy loaded import
- initializing the loc

[2022-07-14 08:39] ust-github commented on #10404
Any updates?

[2022-07-14 08:46] Das-dasein commented on #10404
Any updates? This issue has been going on six years

[2022-07-14 11:54] ArielGueta opened #46837 "Wrong change detection cycle when using an embedded view"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

A directive applied to an HTML element inside an embedded view should run change detection only for the closest embedded view instead of the host:

[code]

[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error y

[2022-07-14 16:17] dinbtechit commented on #46822
I think the problem is when the `useFactory: startupServiceFactory` service returns a promise or an observable.

https://github.com/dinbtechit/angular-elements/blob/00a6495988403ea731c1067d24f7c0ac5bdfaae4/projects/click-tracker-element/src/app/app.module.ts#L22
[code]

[2022-07-14 17:28] antal-horvath commented on #23613
@mich71095 Thanks for your comment. I had the same issue and changing the transfer type to binary solved the problem.

Whenever I copied over e.g. index.html and main.js to the web server, the ServiceWorkers did not register updates, and when I copied a new ngsw.json, then I received the VersionInstallationFailedEvent due to hash mismatches.

[2022-07-14 18:52] #45263 closed

[2022-07-14 19:57] DFG-kjtroll commented on #13243
Until this is fixed, you can set a [ngSwitch] on a parent element to the variable holding the input type, and use multiple input tags each with *ngSwitchCase. Not as clean, but it works.

[code]

[2022-07-14 20:05] #46818 closed

[2022-07-14 21:34] luislobo commented on #46297
I'm having the same issue

[2022-07-15 17:06] AndrewKushnir opened #46850 "Usability improvement for previous versions on AIO"
### Description

Currently, if you navigate to a previous version of a page using a version-specific URL like: https://v13.angular.io/guide/architecture, there is a banner at the top saying that:
[code]
The link brings you to the homepage for the current version. This is quite inconvenient as you need to find the same page again (or go back, copy'n'paste the path from the URL and construct the URL

[2022-07-15 17:13] AndrewKushnir commented on #44650
FYI adding a link to #46850 here as well. It'd be great to improve the experience for people who'd land on an older version and decides to switch to the latest one.

[2022-07-15 17:38] TheSlimvReal opened #46851 "Add doc section for runtime translations in internationalization guide"
### Which @angular/* package(s) are relevant/related to the feature request?

localize

### Description

There are various issues and StackOverflow posts around the question how runtime translation are possible in Angular (#38953, #46783 ...). After a lot of digging around I was actually able to get all the requirements for runtime translations running using all the things Angular offers. So it is

[2022-07-15 20:55] EmmanuelRoux commented on #46825
Thanks for the feedback!

My use case is specific to a lib which needs to retrieve the title defined for each pages, but I think it may apply to many projects.

I understand and totally agree with you, _but_ despite `DefaultTitleStrategy` will update the document title, there is actually absolutely no guarantee the user-chosen strategy  will.

That's not exactly what I tried to explain: I just des

[2022-07-15 22:40] dario-piotrowicz commented on #46602
@diegovilar the PR got merged and I just checked, version 14.0.6 includes the fix, please try to see if you can update to that and see if it's all good now :blush:

[2022-07-15 22:56] #44339 closed

[2022-07-15 23:20] mwave317 opened #46857 "Dynamic template Reference variables"
### Which @angular/* package(s) are relevant/related to the feature request?

_No response_

### Description

I would like to see this as a new feature. I'm currently creating a graph using Angular/cdk/dragdrop. I need to remove an image in the graph. I'm unable to do this using @ViewChild, since the divs are created dynamically. If I could use dynamically created template reference variables this

[2022-07-16 00:31] atscott commented on #46825
Unless I'm still not understanding your explanation, what you're saying is not true. The router uses the `DefaultTitleStrategy` by _default_ only. You can provide your own title strategy using `{provide: TitleStrategy, useClass: MyCustomStrategy}` and that's the one that's used. https://stackblitz.com/edit/angular-ivy-kslayx

[2022-07-16 07:30] antoantonydh commented on #25784
I tried like this and it is working.

[code]
lazy-loading About module:

[code]

[2022-07-16 08:32] pkozlowski-opensource commented on #46857
We've been discussing dynamic template variables in the past (see #44640 and #33233 as the examples) and decided against implementing it.

Having said this I don't think I fully understand your use-case. Could you please prepare a minimal stackblitz with an example scenario?

[2022-07-16 10:03] EmmanuelRoux commented on #46825
Sorry I was not clear!

I'm speaking here as a library author, so I have no control on the strategy the app developer will define in the app.

That said, at some point I need to know what title has been defined for a given `ActivatedRoute`.

What I'm saying is: in order to retrieve the title defined by the app developer, there are several choices but none of them seems _good_ for me:

- I can read

[2022-07-16 11:30] jayvdb opened #46858 "Windows Git Bash fails running scriptlet ng-dev"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

Yes

### Description

https://github.com/angular/angular/commit/63396a1ea715de949aa08a4f59319902e5508f03 (less than a month ago) appears to have broken the `ng-dev` command on Git for Windows Bash.  Occurs here and the `components` repo.

If I replace `TS_NODE_PROJECT=$PWD/.ng-dev/tsconfig.j

[2022-07-16 13:54] muhamedkarajic commented on #46719
Please make this a thing :)

[2022-07-16 16:41] devversion commented on #46858
As stated in the PR, this is a temporary solution, we are working with ts-node to fix this (the initial fix PR landed there already).

I wonder out of curiosity though why `$PWD` is not defined for you? I tested with Git Bash, and another team member, and it worked as expected.

Can you elaborate if you actually use Git Bash, and what does '$PWD' evaluate to for you?

[2022-07-16 16:44] devversion commented on #46858
I'm confused why the path is ending up like this for you. We specifically tested with Git Bash before we applied this temporary trick.

[2022-07-16 19:08] zlodeev commented on #45811
It's not a angular bug I think.
Native `input[type="date"]` returns string value to FormControl, not a js-Date. FormControls doesn't check anything.

Saw this bug only in the Chrome:

https://bugs.chromium.org/p/chromium/issues/detail?id=1020553&q=component%3ABlink%3EForms%3EDate&can=2

For example Safari returns empty string for invalid dates

[2022-07-16 20:08] jayvdb commented on #46858
As this was a probably in my assessment above, I added https://www.npmjs.com/package/@bahmutov/print-env , and ran `print-env PWD`

[code]

Running ` cross-env FOO=$PWD node node_modules/@bahmutov/print-env/bin/print-env.js FOO` also works as expected
[code]

So something after the `cross-env` is doing the msys->DOS file path translation.

[2022-07-16 21:31] devversion commented on #46858
Interesting. If I run this on the components repo, with my Windows machine, it seems to work as expected. If I set an incorrect path for the tsconfig, I can see that the path is converted properly:

<img width="849" alt="image" src="https://user-images.githubusercontent.com/4987015/179372528-96b18d2b-d12a-4cad-af44-4685f12b0a1e.png">

and

[code]

[2022-07-17 01:37] jayvdb commented on #46858
I ran `ts-node`'s test suite on the same environment - no errors.

I'll try all this under `C:\Users\..` in case that is relevant.

Which git bash version are you using?

[2022-07-17 08:20] alfaproject commented on #41028
I'm now migrating to standalone directives and actually Angular doesn't seem to complain about missing directives with input binding either anymore. I have to grep my code for the directives and then add the import manually to the new standalone ones ):

[2022-07-17 13:26] sharshuv-quotient commented on #12530
I actually think that putting something inside ng-content can be very easy and intuitive. That is the first thing I tried before googling and realizing it's impossible.

[2022-07-17 14:54] dario-piotrowicz commented on #46833
@ilyakonrad good catch! the bug is indeed a regression caused by some accidental refactoring, a fix is on its way :slightly_smiling_face: :tada:

Also thank you very much for all the information and the nice reproductions! they've been very helpful! :smile:

[2022-07-17 15:37] MatteoMeil opened #46864 "Strictly typed FormGroup improvement"
### Which @angular/* package(s) are relevant/related to the feature request?

_No response_

### Description

**Abstract**
In the following, I will propose a helper to pass API-like interfaces to strictly typed `FormGroup` in order to not have to rewrite types. Also, this propose could also fix a bug affecting `FormBuilder` which returns the wrong type when dealing with objects

**Details**
When b

[2022-07-17 16:31] ilyakonrad commented on #46833
Love the term "accidental refactoring", whatever that means 😆
Thanks for the quick response!

[2022-07-17 17:23] dario-piotrowicz commented on #46833
yeah sorry of the silly term :laughing: , anyways I was trying to say that some refactoring broke it by mistake, I'm sure you got the gist of it! :laughing:

[2022-07-18 03:31] noobyogi0010 commented on #44344
Hey @twerske
I would like to work on this issue if it's not taken up by someone else.
Thanks

[2022-07-18 04:36] jayvdb opened #46865 "Windows ng cli removes EOL and EOF from package.json"
### Which @angular/* package(s) are the source of the bug?

compiler-cli

### Is this a regression?

No

### Description

On Windows, and using git config `core.autocrlf=true`, when I run `ng update @angular/cli` or similar , `package.json` is edited and the trailing EOL at EOF is removed.

I have encountered this with `ng update @angular/cli` and `ng add @angular/material` so far.

[code]

### Pl

[2022-07-18 11:11] infacto opened #46867 "Pipe `keyvalue` does not allow objects with optional keys."
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

An error occurs in HTML when using an interface (object) with option keys.

**app.component.ts**
[code]

**app.component.html**
[code]

**VSCode with Angular Language Service**
![image](https://user-images.githubusercontent.com/60390085/179497371-a66c31d9-b16e-4c47-923e-87f1ea8c2fa4.pn

[2022-07-18 14:10] markostanimirovic opened #46869 "Add `RouteTitle` to the public API"
### Which @angular/* package(s) are relevant/related to the feature request?

router

### Description

The [`@ngrx/router-store`](https://www.npmjs.com/package/@ngrx/router-store) package needs access to the resolved title. Therefore, it would be good to expose the [`RouteTitle`](https://github.com/angular/angular/blob/3a60063a54d850c50ce962a8a39ce01cfee71398/packages/router/src/operators/resolve_

[2022-07-18 14:29] atscott commented on #46869
Duplicate of https://github.com/angular/angular/issues/46825. We’ll be exposing it as `route.title` on the ActivatedRoute/ActivatedRouteSnapshot.

[2022-07-18 14:29] #46869 closed

[2022-07-18 14:39] Harpush commented on #8785
@crisbeto By type safe I also meant the host directives inputs property in the component metadata. In your example you wrote `inputs: ['foo: fooAlias']` - I meant if `foo` isn't an input will it give a compile time error?

[2022-07-18 15:00] crisbeto commented on #8785
It'll get the same level of type checking as the existing `inputs` property on `@Directive` and `@Component`. I don't think that we check if the property exists since it might be inherited from a parent class, but you should get a type checking error when you try to bind to it.

[2022-07-18 15:29] #45992 closed

[2022-07-18 15:32] jessicajaniuk commented on #45992
@GitHubish The fix for this just landed in `main`. I'll put up a PR this week adding documentation on how to use the keyboard event code properly so it's clear.

[2022-07-18 17:05] kiranahid opened #46872 "Angular 14 Upgrade, removing deployUrl as a build option causing fail in loading chunk files from subfolder"
### Which @angular/* package(s) are the source of the bug?

compiler-cli

### Is this a regression?

No

### Description

We have a scenario where we deploy the UI code under the subfolder wwwroot/approot in IIS server, we are using deployUrl as 'approot ' to load the lazy loaded chunk files. When we upgrade the Angular 14, deployUrl is deprecated and if we use baseHref, it's failing to load the c

[2022-07-18 18:21] atscott commented on #46825
@EmmanuelRoux Thanks, I understand now. I appreciate the detailed explanation. It helps a lot to justify why we make the change. Even though it's just a 1 liner in each of the `ActivatedRoute` and `ActivatedRouteSnapshot`, it's still good to have concrete reasoning.

[2022-07-18 19:49] jmwolfe opened #46873 "ngUpgrade documentation appears to self-contradict"
### Description

First this section says:

A little later on it says:

it's very counter-intuitive that if AngularJS reads the initial index.html and starts the application, that you would be bootstrapping Angular first.  By "starts life" do you mean it was written years ago in AngularJS?

### What is the affected URL?

https://angular.io/guide/upgrade#upgrading-with-ngupgrade

### Please provide

[2022-07-18 20:09] liesahead opened #46874 "Reactive form control `root` points to nothing or itself."
### Which @angular/* package(s) are the source of the bug?

forms

### Is this a regression?

No

### Description

We need to have a validator for simple `FormControl` to compare multiple `FormGroup` values as well. Trying to reach that in two ways:

1. Use `control.parent.parent.parent` (doesn't look good);
2. Use `control.root.get(*path*)`.

However, both options have bug. Let's talk about latte

[2022-07-18 20:11] nhhockeyplayer opened #46875 "angular modules no longer sufficient"
### Which @angular/* package(s) are the source of the bug?

compiler

### Is this a regression?

Yes

### Description

previous versions of angular allowed the creation of modules in a library for me `AdminRootFeatureShellModule`
other source code could consume `AdminRootFeatureShellModule`

private (exports within the library module `AdminRootFeatureShellModule`)
public (exports in an index.ts ba

[2022-07-18 21:50] jessicajaniuk commented on #46875
@nhhockeyplayer Thanks for creating this. Could you provide more information and a reproduction? Which version of angular are you using? What kind of structure do you have? Without information and a repro, it's unclear what you're doing and makes this not very actionable for us.

[2022-07-18 22:24] nhhockeyplayer commented on #46875
I have a repo (ask to collab if you want in) https://github.com/nhhockeyplayer/meanstacknh

[code]

[2022-07-18 22:29] nhhockeyplayer commented on #46875
Hi Jessica,

repo is buildable as follows

[code]

the lib Im interested in augmenting is

`nx build admin-root-feature-shell`

you can change the contents of `index.ts` to `export default {};` to reproduce what I see

I added you as collaborator

feel free to clone

[2022-07-18 23:12] dylhunn commented on #46874
Hello! I am not entirely clear on what you're trying to do. Would you be able to provide a reproduction and example on StackBlitz?

[2022-07-18 23:16] #28566 closed

[2022-07-18 23:26] jessicajaniuk commented on #16930
The new bootstrap APIs for standalone components should enable this functionality. You should be able to bootstrap multiple applications and individual components within those applications individually. Feel free to try these new APIs and report any issues that come with them so we can address them during the developer preview. Check out the [bootstrapApplication](https://angular.io/api/platform-b

[2022-07-18 23:26] #16930 closed

[2022-07-18 23:29] #36706 closed

[2022-07-18 23:31] #40141 closed

[2022-07-18 23:35] dylhunn commented on #20509
We'll need to see how breaking this fix is. I really hope it's not too breaking in g3 -- that would mean people are relying on app crashed 🤦

[2022-07-18 23:37] #21341 closed

[2022-07-18 23:38] #21415 closed

[2022-07-18 23:39] #21471 closed

[2022-07-18 23:42] #21507 closed

[2022-07-18 23:55] #27988 closed

[2022-07-18 23:57] #28236 closed

[2022-07-19 00:40] AndrewKushnir commented on #46763
@biaogebusy could you please provide a repro using [Stackblitz](https://stackblitz.com/), so that we can take a look?

[2022-07-19 01:16] andrejm7 opened #46878 "updating the page all the time looking for the new version - SwUpdate - @angular/service-worker"
### Which @angular/* package(s) are the source of the bug?

service-worker

### Is this a regression?

No

### Description

Hello friends,

I updated my project to angular 14..
localhost everything was fine.. but when I took it to production, something that was normal before, the application was always updating the page...

I believe the problem is with SwUpdate

below my code that worked fine.

[

[2022-07-19 01:30] andrejm7 commented on #46878
I returned the version
from
"@angular/service-worker": "^14.0.6",

for
"@angular/service-worker": "^13.3.10",

problem solved.. but is there any bug in this new version?

[2022-07-19 02:10] jmwolfe opened #46880 "Bootstrapping Hybrid Applications doc shows two different app.module.ts files with no explanation"
### Description

There are several app.module.ts code files documented within this section. It appears that some of them refer to the angularJS version and some refer to the Angular version, but it's not made clear in the text which one belongs to which.  In attempting to follow the directions, for the last two uses of app.module.ts, it's entirely unclear where I am creating these files and what i

[2022-07-19 02:17] nhhockeyplayer commented on #46875
sorry im stacked right now the repo is very sufficient

[2022-07-19 02:19] nhhockeyplayer commented on #46875
this thread speaks to it in short

https://ostack.cn/qa/?qa=248526/

[2022-07-19 07:12] liesahead commented on #46874
@dylhunn , here https://stackblitz.com/edit/angular-wkpmz4?file=src/app/app.component.ts

This is the best I could achieve in short amount of time. If you comment these lines validator won't work anymore
![image](https://user-images.githubusercontent.com/32300784/179688800-c98b864f-08dd-4b73-a152-58ab6676fb1c.png)

And in our case (not in the repro) when items are added with some delay the validat

[2022-07-19 07:33] ToanNguyenAdamo opened #46886 "Angular version 14 is not loaded in iphone 6"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

Yes

### Description

After I upgrade from version 13 to 14, I run the app and return blank screen like this in iphone 6:
![image (17)](https://user-images.githubusercontent.com/98306799/179691740-38588d53-7adc-4e54-89a5-ee0436979d0c.png)

I also tried creating new app with ng new command an

[2022-07-19 07:44] alan-agius4 commented on #46886
What is the browser that is being used in the mentioned IPhone 6?

[2022-07-19 09:03] gkalpak commented on #46878
Thx for reporting this issue, @andrejm7!

I looked through the changes of the `@angular/service-worker` package and could not identify something that would cause this issue (on its own). At this point, it feels more like something else is going on (outside the control of `@angular/service-worker`). It could be something in your configuration, you application code or your server.

You might want to

[2022-07-19 09:03] #46878 closed

[2022-07-19 09:06] ToanNguyenAdamo commented on #46886
My Iphone version is 12.5.5 and chrome version is 9x. I think you are right. So, I need to update my Iphone to make it work.
Thank you for your response @alan-agius4

[2022-07-19 09:15] #46886 closed

[2022-07-19 09:56] csisy commented on #15041
This feature would be really useful, and it's still in "under consideration" since Jun 5 2021.

[2022-07-19 10:10] thw0rted commented on #13721
@kasir-barati I'm finally getting around to doing this upgrade and I found a mismatch between the docs and the actual behavior.  I think an API change is probably in order, but if not, at least the docs should be updated to match behavior.

The docs say that `new FormControl("some string")`

This is not true, the type is inferred as `FormControl<string>`, but the *base* type (AbstractControl) is `

[2022-07-19 10:55] nartc commented on #8785
Moved from PR

@crisbeto thank you for the response. I figured it'd be the case. In that case, should we update the PR description to call it out for Structural Directives? I guess it makes sense that this feature only targets Attribute Directive. Structural should be handled on the consuming (component's users) side of things rather than authoring (component's author).

Another question: is it po

[2022-07-19 11:10] crisbeto commented on #8785
Regarding structural directives: I'm not sure why they need to be called out specifically. You can still apply a host directive to them, but it's going to work on the template instance, the same as if you were to apply a directive to the `ng-template`.

Regarding generics: this is one of the limitations we are aware of, but I'm not sure if there's a good way around it given that the host directive

[2022-07-19 11:12] nartc commented on #8785
@crisbeto I just realized that we can probably have `selector: ng-template[component-selector]` and structural directive would work.

Thanks for the concise answers.

[2022-07-19 11:39] Harpush commented on #8785
@crisbeto Regarding genrics - won't Instantiation expressions solve it somehow?

[2022-07-19 11:46] rmdfdg commented on #45811
The Browser reports that the native control is filled with an invalid state (`inputEl.validity.valid`) and e.g. the css `:invalid` pseudo-class is present for the input-element when it is filled with a non-existent date.

The reported issue is not related to the value of the control. The reported issue is, that even though the native element reports that it is in an invalid, the Angular FormContro

[2022-07-19 11:54] rmdfdg commented on #45811
Here's a workaround that I've found so far:
[code]

Just apply the directive to an input-element and non-existent dates will result in the element having an invalid state:
[code]

[2022-07-19 12:22] zlodeev commented on #45811
And as I sayed `FormControls doesn't check anything`. I mean you need to write you own validator if you need to check native input validation from browser.

Angular form control works with input validation attributes only, like requeired/max/min with `ngNativeValidate` directive if needed. But work with native ValidityState which you wish to fix is not inlcuded in FormControls.

Its related to dif

[2022-07-19 12:35] eneajaho opened #46890 "Error is not shown completely when extendedDiagnostics defaultCategory is set to error"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

![image](https://user-images.githubusercontent.com/25394362/179751033-811db789-da7b-4602-96de-a1cebca57444.png)

When defaultCategory is warning, the info in the terminal is shown correctly

![image](https://user-images.githubusercontent.com/25394362/179751164-24899909-116c-4d4b-9f9d-f

[2022-07-19 15:03] #45969 closed

[2022-07-19 15:06] crisbeto commented on #8785
@Harpush do you mean something like `hostDirectives: [new HostDir<T>()]`? I don't think that'll work. One possibility is to use a cast (e.g. `hostDirectives: [HostDir as HostDir<T>]`, but that might be weird as well.

[2022-07-19 16:10] alexciesielski opened #46891 "Attach router-outlet's name to `NavigationEnd`"
### Which @angular/* package(s) are relevant/related to the feature request?

router

### Description

I implemented a secondary named router-outlet, which I use to display a sidebar in.
On (primary) navigation I would like to automatically close that sidebar.

Simply using

[code]

is not enough anymore, since that emits for both primary and named router-outlets, and the `NavigationEnd` instance

[2022-07-19 16:25] Harpush commented on #8785
@crisbeto I meant the new typescript 4.7 feature allowing to assign generic params without `new`.
For example:
[code]
That is assuming you somehow have access to that `T` which seems like the real problem here (decorator can't access class generic params afaik).
But considering `T` is known at compile time this should work I think?
[code]

[2022-07-19 16:38] atscott commented on #46891
The outlets themselves have activate and deactivate events: https://github.com/angular/angular/blob/0e3a2759b0eb555fec9f9bc5db9af0585a1d7093/packages/router/src/directives/router_outlet.ts#L170-L171

Are those not enough to accomplish what you're looking for here?

The proposed feature here doesn't really fit well either. One `NavigationEnd` event happens for a navigation which may have activated

[2022-07-19 16:41] alxhub commented on #46875
tl;dr: this is working as intended - Angular library compilation requires a single 'barrel' entrypoint that re-exports all publicly reachable Angular symbols.

I doubt this is reproducible in Stackblitz, as I don't think Stackblitz can run the Angular compiler with library options enabled (at least, I've never tried it).

In any case, you're correct that barrel files are a hard requirement for Ang

[2022-07-19 16:41] #46875 closed

[2022-07-19 18:56] MartinJohns commented on #13721
@thw0rted It'll be `null` with `strictNullChecks`, and `any` without.

[2022-07-19 19:13] Fernker opened #46893 "Multi-slotted content projection doesn’t work with `ng-container` and `*ngFor`"
### Which @angular/* package(s) are relevant/related to the feature request?

core

### Description

A component has 2 content projection slots: `slotA`, `slotB` .  As a component author I expect and require the consumer to use `slotA` and `slotB`.  If they need to loop over some grouping of content the correct pattern would be to use an `ng-container` with `*ngFor`.   Currently this will break be

[2022-07-19 20:27] lukasmatta opened #46895 "Typed form initialization using FormBuilder problem"
### Which @angular/* package(s) are the source of the bug?

forms

### Is this a regression?

No

### Description

Hello,
when trying to initialise typed form which contains a FormControl with `null` initial value and a Validator, it throws a type error. Maybe I'm missing something, but I don't expect the presence of a validator to change type of the form control value.

### Please provide a link

[2022-07-20 06:24] destus90 commented on #46895
Duplicate of https://github.com/angular/angular/issues/46442

[2022-07-20 06:51] lukasmatta commented on #46895
Closing as per above

[2022-07-20 06:51] #46895 closed

[2022-07-20 08:59] alexciesielski commented on #46891
That doesn't work for my use-case since I'm navigating deep in nested child routes, and it looks like the `activateEvents` emitter fires only for top-level navigation events.

At least I'm not getting any emissions when navigating in the child routes.

I *could* try and get a reference to the router-outlet in question, but that seems like a hassle to track it in a service and it also stops working

[2022-07-20 09:50] maddockst opened #46902 "Allow the user to specify which events (statusChanges/ valueChanges) should emit on enable() / disable()"
### Which @angular/* package(s) are relevant/related to the feature request?

forms

### Description

At the moment, when a control is enabled or disabled the `valueChanges` observable is emitted against even though the underlying value has changed. I want to be able to listen to `statusChanges` as I want to make the UI react to the new disabled state, or I want to disable a formControl based on a

[2022-07-20 15:42] florianerl commented on #44660
Hi @hydra1983 ,

would you mind sharing a minimal example of how to use this?
I still get `core.mjs:10178 NG0303: Can't bind to 'ngForOf' since it isn't a known property of 'div'.` errors when trying to apply your solution.

[2022-07-20 15:48] #46445 closed

[2022-07-20 15:50] #46004 closed

[2022-07-20 16:44] Chealer commented on #43242
@pkozlowski-opensource I am not sure what you mean by "a PR", but I don't think that would work. I find "JSON value" maybe even more unclear than "JSON object".

@makadiyaparth you are right that JSON is a format. However, if the methods return an object, their documentation needs to specify which object is returned. A starting point would be to specify the type of the returned object.

[2022-07-20 18:26] royeradames commented on #13243
Sorry to report that it doesn't work

[2022-07-20 18:26] royeradames commented on #13243
It didn't work for me

[2022-07-20 20:48] eng-dibo commented on #45062
I upgraded to Angular v14 and the issue still occurs

[2022-07-20 23:20] atscott commented on #46873
Yes, "starts life" refers to an application that was written in AngularJS and is being upgraded to Angular gradually.

[2022-07-21 06:55] EinfachHans opened #46917 "Typed Form + Formbuilder error for initial value null"
### Which @angular/* package(s) are the source of the bug?

forms

### Is this a regression?

No

### Description

I have a form:

[code]

and use the form builder to create it:
[code]

This gives the following error:

**TS2322: Type 'FormGroup<{ reason: FormControl<((control: AbstractControl<any, any>) => ValidationErrors)[]>; }>' is not assignable to type 'FormGroup<{ reason: FormControl<number>

[2022-07-21 07:27] lukasmatta commented on #46917
Hello, there is already an issue for this: Duplicate of #46442

[2022-07-21 07:28] #46917 closed

[2022-07-21 08:09] tiberiuzuld opened #46918 "extended diagnostic for non-nullable optional is wrong"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

Having the case below produces the warning for optional chain operation.
Because of `!` it will always return a boolean to the input.
Also can we have a `angularCompilerOptions` to disable this warnings?

[code]

[code]

### Please provide a link to a minimal reproduction of the bug

_

[2022-07-21 08:54] pkozlowski-opensource commented on #46918
@tiberiuzuld could you please share more details / reproduction scenario? We were briefly looking into it but the types and assigned values don't match thus making the problem confusing. Your type is written as `any[] | null` but the value being assigned (`{b: null}`) doesn't match this type. Did you mean `[{b: null}]`?

In short - the type, assigned value and expression don't seem to match / make

[2022-07-21 09:32] marleypowell opened #46919 "Angular v14 - "NG0303: Can't bind to 'ngIf' since it isn't a known property of" error is being thrown for lots of components"
### Which @angular/* package(s) are the source of the bug?

common

### Is this a regression?

Yes

### Description

After upgrading to Angular v14 components from my published UI library have started throwing `NG0303: Can't bind to 'ngIf' since it isn't a known property of` errors.

![image](https://user-images.githubusercontent.com/55280588/180179655-67c75245-7d2e-426b-8f6d-186d8067437e.png)

Si

[2022-07-21 09:34] tiberiuzuld commented on #46918
Hello @pkozlowski-opensource ,
Sorry yes, I missed typed the type of a in the description.
I updated the initial description. I hope is more clear now.

[2022-07-21 09:50] pkozlowski-opensource commented on #46918
Thnx for the update @tiberiuzuld - yes indeed, it looks like a valid bug report, thnx!

[2022-07-21 09:52] pkozlowski-opensource commented on #46919
@marleypowell I'm afraid that we will need a minimal reproduction scenario here - pretty much impossible to say what is going on here without a reproduction...

[2022-07-21 10:08] tiberiuzuld commented on #46918
I found another case where I think the bug is valid.
Second case with `optionalArrayElement` see stackblitz example in the main description.

[2022-07-21 10:13] pkozlowski-opensource commented on #46918
OK, so the first case is definitively _not_ a bug and works as expected. The second `optionalArrayElement: {a: 'value'}[] = [];` case is more interesting.

[2022-07-21 10:13] pkozlowski-opensource commented on #46918
@tiberiuzuld could you please update the issue description to remove references to the first case (as this works as intended?)

[2022-07-21 10:16] tiberiuzuld commented on #46918
@pkozlowski-opensource
Ok I will, also found same issue when you have a map `optionalMapElement` update stackblitz.
Will update the description also.

[2022-07-21 10:43] tiberiuzuld commented on #46918
Workaround possible with making a getter/method in the class ts:
[code]

[code]

[2022-07-21 10:58] oBusk opened #46920 "(pure) pipes as injectables"
### Which @angular/* package(s) are relevant/related to the feature request?

core

### Description

I'd like to be able to use the common pipes in component code and services. Things such as [`DatePipe`](https://angular.io/api/common/DatePipe), [`CurrencyPipe`](https://angular.io/api/common/CurrencyPipe), and [`TitleCasePipe`](https://angular.io/api/common/TitleCasePipe) defines common problems t

[2022-07-21 12:18] dpereverzev commented on #17606
Nice to have feature

[2022-07-21 12:23] tleperou commented on #24463
Same on here

[2022-07-21 12:29] marleypowell commented on #46919
Turns out it was down to bad Angular Package Format for the published library.

Broken fesm2020:
[code]

Working fesm2020:

[code]

[2022-07-21 12:30] maddockst commented on #46902
@AndrewKushnir While `distinctUntilChanged()` works perfectly with a `FormControl`, it doesn't work with a `FormArray`. I'll see if it's addressed as part of #10887

[2022-07-21 13:15] tiberiuzuld commented on #46918
![image](https://user-images.githubusercontent.com/15310395/180222441-863448ee-b000-470c-8ed0-1a0b738bd9ab.png)

[2022-07-21 13:26] Zwergenpunk opened #46921 "Create GuessControlType?"
@NetanelBasal  Thanks for your insightful comment.

We will almost certainly add a `GuessControlType` or similar based on this feedback. I'm yak-shaving a bit about the name because we cannot actually *guarantee* that the result is correct, due to object-valued custom controls.
[...]

_Originally posted by @dylhunn in https://github.com/angular/angular/discussions/44513#discussioncomment-1839778_

[2022-07-21 13:28] #46921 closed

[2022-07-21 13:29] Zwergenpunk commented on #46921
I just saw #46864, which is a duplicate I think

[2022-07-21 13:51] JiaLiPassion commented on #46773
@devversion , yes, there are still some test cases and legacy support logic to support `IE11` and old versionf of Safari, Edge and some Android Browsers. If the policy is decided, I will clean up these logic.

[2022-07-21 18:09] dionatan-g commented on #46602
This PR didnt fix all the false positive warnings.

For example here, I have warnings:

[code]

For me to remove the overflow hidden, I would have to set the style manually with the same delay as the animation.

[2022-07-21 18:09] Will-at-FreedomDev opened #46927 "propName.toLowerCase is not a function in node_modules/@ngtools/webpack/ivy/loader.js"
### Which @angular/* package(s) are the source of the bug?

compiler

### Is this a regression?

No

### Description

I think I've narrowed down the reason for this error. I created an `@Input()` binding with the name `valueOf`. I think the angular compiler doesn't like this name for some reason, but I can't find any documentation on this being the case. I forked one of the Angular Material exampl

[2022-07-21 18:09] Will-at-FreedomDev opened #46936 "propName.toLowerCase is not a function"
### Which @angular/* package(s) are the source of the bug?

compiler

### Is this a regression?

No

### Description

I think I've narrowed down the reason for this error. I created an `@Input()` binding with the name `valueOf`. I think the angular compiler doesn't like this name for some reason, but I can't find any documentation on this being the case. I forked one of the Angular Material exampl

[2022-07-21 18:15] dionatan-g opened #46928 "False positive warnings about not animatable properties"
### Which @angular/* package(s) are the source of the bug?

animations

### Is this a regression?

No

### Description

There was already a fix for this warnings on #46666 but it didn't fix all the false positives.

For example on this code:

[code]

For me to remove the overflow hidden, I would have to set the style manually with the same delay as the animation.

### Please provide a link to a mi

[2022-07-21 18:29] DFG-kjtroll commented on #13243
It does work, you must be doing something else wrong. You have to put multiple input tags within the [ngSwitch] container, one for each possible case, explicitly declare the type in each tag, and repeat everything. Which is why it's just a sloppy workaround, if this type binding issue gets fixed you could accomplish it with just one input tag.

So to dynamically generate multiple form fields, you

[2022-07-21 19:45] amakhrov opened #46930 "Support gzip in httpclient requests made on platform-server (with Universal)"
### Which @angular/* package(s) are relevant/related to the feature request?

platform-server

### Description

HttpClient on platform-server uses `node-xhr2` under the hood. As such it doesn't support content compression (https://github.com/pwnall/node-xhr2/issues/17).
While it might not be the greatest problem for requests made within the same datacenter (to our own apis), it impacts requests to

[2022-07-21 21:51] mcv203 opened #46931 "Ampersand within embedded expressions causes HTML entities not to render"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

Yes

### Description

When an ampersand appears in an embedded expression, for example as part of a logical operator or literal, and the expression can evaluate to an HTML entity, that entity may not display properly.  E.g. <pre>{{(true && true) ? '&amp;ndash;' : '&amp;eacute;'}}</pre> resul

[2022-07-21 23:17] dylhunn commented on #21720
Not enough information to reproduce -- please feel free to open a new issue with more specifics.

[2022-07-21 23:17] #21720 closed

[2022-07-21 23:21] dylhunn commented on #42684
Even if this is WAI, it should be consistent between sync and async validators

[2022-07-21 23:26] dylhunn commented on #43293
Duplicate of #35309.

[2022-07-21 23:26] #43293 closed

[2022-07-21 23:31] dylhunn commented on #42746
We are unlikely integrate forms more deeply with angular elements in the near future. There are several possible DIY solutions, such as emitting the event, or implementing a custom CVA.

[2022-07-21 23:31] #42746 closed

[2022-07-21 23:38] dylhunn commented on #42815
This is a subtle one. It will likely take a couple hours to really figure out why this is happening at initialization.

[2022-07-21 23:41] dylhunn commented on #43480
To be honest, I think this is probably not something we are going to consider for implementation. If the built in async validator support isn't sufficiently useful, we should be asking why and addressing the root cause instead.

[2022-07-21 23:41] #43480 closed

[2022-07-21 23:44] dylhunn commented on #43595
Generally you should be good to go, as long as you're using the `formGroupName` directive (not `formGroup`) to manage groups in inner components. We could make the docs a bit more robust.

[2022-07-22 07:20] pkozlowski-opensource commented on #46931
I believe that this is the intended behaviour. An expression evaluates to a string that is used to update text [node value](https://developer.mozilla.org/en-US/docs/Web/API/Node/nodeValue). You can think about it as being an equivalent of:

[code]

I'm actually surprised that some of those entities are actually rendered (!). There is clearly something inconsistent going on with our expression pars

[2022-07-22 07:21] pkozlowski-opensource commented on #46928
cc @dario-piotrowicz

[2022-07-22 07:28] oudi opened #46933 "dynamic create component in library package not work"
### Which @angular/* package(s) are the source of the bug?

compiler, core

### Is this a regression?

No

### Description

Dynamic create a component and npm publish to a package. when using it in an angular app. it shows the error

`Uncaught (in promise): Error: Unexpected value 'dynamicComponent' declared by the module 'class { }  '. Please add a @Pipe/@Directive/@Component annotation`

If I us

[2022-07-22 07:31] oudi commented on #46933
Debug from chrome

![image](https://user-images.githubusercontent.com/2518192/180387460-3e46081a-4c9a-4a66-9c1a-f7d64650240e.png)

[2022-07-22 08:07] hteht opened #46934 "Why is the HTTP header not sent when added to the Angular HttpClient?"
### Which @angular/* package(s) are the source of the bug?

common, Don't known / other

### Is this a regression?

Yes

### Description

I'm trying to set the Content-Type for the post method header but it's not working
I tried the following methods:
![image](https://user-images.githubusercontent.com/87110312/180391622-9434821c-e4c5-40f4-9b5c-17f3813c899d.png)

![image](https://user-images.github

[2022-07-22 08:16] binvb opened #46935 "asyncValidators trigger multiple times"
### Which @angular/* package(s) are the source of the bug?

forms

### Is this a regression?

No

### Description

hey, guys
  i was tryed to custom a form using async validators:
[code]
but it trigger 3 times in init, thank you.

### Please provide a link to a minimal reproduction of the bug

https://codesandbox.io/s/thirsty-visvesvaraya-0ct6t9?file=/src/app/app.component.ts

### Please provide t

[2022-07-22 08:24] oudi commented on #46933
[code]

tried compileModuleAndAllComponentsSync and published the library. shows Cannot read properties of null (reading 'declarations')

![image](https://user-images.githubusercontent.com/2518192/180396995-b2aaca38-55e0-43cc-afa1-edd7a4474573.png)

[2022-07-22 08:32] alxhub commented on #46934
I'm not exactly sure why your header gets overridden - it might be `XMLHttpRequest` behavior and not Angular.

But to send `x-www-form-urlencoded` content, you need to use pass the body as an instance of [`URLSearchParams`](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams) or Angular's version (`HttpParams`). Objects passed will be serialized as JSON.

[2022-07-22 08:32] #46934 closed

[2022-07-22 08:33] alxhub commented on #46933
@oudi please provide a link to a complete, minimal reproduction demonstrating the issue. Without that it'll be impossible to understand what's actually going on here.

[2022-07-22 08:40] akushnarov commented on #44486
Dear @dylhunn and @AndrewKushnir, I was looking at the "good first issue" list and I found this issue. I'd like to contribute, but first I wanted to check with you. I see a PR [45192](https://github.com/angular/angular/pull/45192) which was closed for inactivity, should I take it as a base? What would you suggest to the beginner? :)

[2022-07-22 09:08] oudi commented on #46933
@alxhub

I attempted many ways. And find it works with beflow code.

[code]

just change annotation to a variable and remove `class` declaration. and It works. It may if you declare annotation it will compile to a class with dictators when publish and If it was a variable it will compile in jit.

[2022-07-22 09:08] pkozlowski-opensource commented on #46931
Update: this is a valid bug report. It seems like we _do_ replace some of the entities in expression (it is not fully intentional, mostly for historical reasons).

[2022-07-22 10:24] olafur-palsson commented on #25160
I'm finding that the most common workaround to this is to somehow use `ViewEncapsulation.None` in a wrapper component and put all the `::ng-deep` styles in there.  We could not make a bit easier by doing something like this.

[code]

[2022-07-22 12:09] sod commented on #46918
we had a similar issue for index types when the warning for `?? 'fallback'` on non-nullable was introduced https://github.com/angular/angular/issues/44859#issuecomment-1024093837

[2022-07-22 12:53] msteel9999 opened #46937 "Sanitize removes inline style tags"
### Which @angular/* package(s) are the source of the bug?

platform-browser

### Is this a regression?

No

### Description

### Current Behaviour
Sanitize removes inline style

### Expected Behaviour
Sanitize should not remove style

Already raised in
https://github.com/angular/angular/issues/17284,
https://github.com/angular/angular/issues/19645
https://github.com/angular/angular/issues/26567

[2022-07-22 12:57] pkozlowski-opensource commented on #46937
This is a duplicate of the existing, open issue #45270

Closing as a duplicate of #45270

[2022-07-22 12:57] #46937 closed

[2022-07-22 13:06] msteel9999 commented on #45270
It was removed in #35621 because it's only required in old browsers. People keep raising it because they need it right? For example in rich text html editor.

[2022-07-22 13:31] alxhub commented on #46933
@oudi,

Without a _runnable_ reproduction, we will not be able to investigate this issue unfortunately.

For example, what is `dynamicDepens` in your code? It's never defined in the examples you've pasted. Nor is `pageState` or `pageState.Template`. We cannot paste this code into a project and try it to see what fails.

[2022-07-22 14:04] damodharanj opened #46938 "umd files missing in angular 14 - for loading angular with systemjs"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

No

### Description

For using angular using systemjs module loader, previously umd files were present in the following path

@angular/core@14.0.0/fesm2015/core.mjs

But in Angular 14 the following path is not present. Where are recommended files present at ?

### Please provide a link to a

[2022-07-22 14:22] durveshparmar commented on #38191
@all

I was also facing the same issue but I think it should be resolved as per following:
[code]

It works for me properly with expected output whenever value is updated. You can add this code in ngOnInit() as per your need. I don't recommend setTimeout Solution.

[2022-07-22 14:22] pkozlowski-opensource commented on #46938
See https://github.com/angular/angular/issues/43905#issuecomment-947592181

[2022-07-22 15:55] SanderElias opened #46940 "Deprecate renderer2, and and explainer on docs"
### Description

As `Renderer2` is mostly tied to Viewengine, it should be marked as deprecated.
Also, there should be a note in the docs explaining why renderer2 is no longer the recommended way to DOM manipulation.
This is needed because in the Angular community, there is still this idea that they should use it, and this idea is watched up by time, but most missed the notice.

### What is the af

[2022-07-22 15:58] pkozlowski-opensource commented on #46940
I don't think we we are ready to depricate `Renderer2` or at least it requires more thinking / discussion.

[2022-07-22 16:00] ashide2729 commented on #43242
I agree with @Chealer, looks like a general mistake among devs, [read here](https://www.w3schools.com/js/js_json_objects.asp)
I suggest we change it to Object according to the explanation given in the link above
also, there are other places as well where I can see 'JSON object' mentioned on the page(60 matches found using search) which might need fixing

btw I tried to find the text for fixing but

[2022-07-22 16:11] SanderElias commented on #46940
@pkozlowski-opensource Even when it is not deprecated yet, it is still not the 'recommended' way to do DOM manipulation anymore. The docs still need a bit of an explainer around this.
Or, and that I also still possible, I'm completely wrong. If that is the case, the docs need some other explanation around this.

[2022-07-22 16:11] ashide2729 commented on #44486
looks like the pr is already closed after committing the changes, maybe the issue is still open because of the second problem that is yet to be addressed which is [this](https://github.com/angular/angular/issues/44486#issuecomment-1054950154)
and if the issue is already fixed maybe we can close the issue as it confusing for other people who are trying to contirbute

[2022-07-22 16:17] Zuckjet commented on #40103
I have encountered the same problems too. But I don't think it is Angular's bug, I may think it is ios chrome's translation bug.
And I have submit a bug to chromium and described my reason, see: https://bugs.chromium.org/p/chromium/issues/detail?id=1346628

For anyone who is also interested in this problem, you can upvote the chromium issue, so that the chromium team can tell whether it is a chrom

[2022-07-22 16:57] AndrewKushnir commented on #44486
Sorry about the confusion. I think the error message was improved in https://github.com/angular/angular/pull/45192, so we can close this ticket. Thank you.

[2022-07-22 16:57] #44486 closed

[2022-07-22 17:09] amaestr0 commented on #45270
@pkozlowski-opensource , didn't get the point. Has this issue been already fixed? Or just going to be?
If so - how long will it take to complete this not so difficult thing?

[2022-07-22 18:41] noobyogi0010 commented on #46936
Hey, @alan-agius4
I would like to work on this issue if no one else has already taken it up.
Thanks!

[2022-07-22 19:07] johnc-ftl opened #46943 "14.1: InjectFlags deprecated, but used by Injector.get"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

Yes

### Description

When upgrading to `@angular/core 14.1.0` from 14.0.5, I'm getting new lint warnings for this code:

[code]

The lint output is:
Lint warnings:
[code]

However, there is no overload for `Injector.get` that takes an options object or supports equivalent functionality as `InjectFlags`.

[2022-07-22 19:26] alan-agius4 commented on #46936
@noobyogi0010 go for it.

[2022-07-22 19:50] slypy opened #46945 "*ngVar doesn't work in angular 14"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

When I tried to use *ngVar in angular 14 seem like there is something strange or I was missguided in the ng-Book. When I declare a variable in angular 14 like `*ngVar="false as bVar"` and use it to display as test but nothings shows `false`. Should I keep using the ngIf rather than ngV

[2022-07-22 19:53] AndrewKushnir commented on #46945
The `ngVar` is not a directive provided by Angular, so it's likely a 3rd party directive. Please report the issue to the directive maintainers for further investigation. Thank you.

[2022-07-22 19:53] #46945 closed

[2022-07-22 19:58] AndrewKushnir commented on #46943
@johnc-ftl object-based flags in `Injector.get` interface would be added in v15, see #46761. I will close this ticket, since we track that work in #46761. Thank you.

[2022-07-22 19:58] #46943 closed

[2022-07-22 20:46] jmwolfe opened #46946 "Feedback: Using the Unified Angular Location Service"
### Description

I'm trying to inject the $locationShim factory into my AngularJS application so that Angular router can route for the whole app.

The ngUpgrade docs show using import() in the third code sample in the [Using the Unified Angular Location Service](https://angular.io/guide/upgrade#using-the-unified-angular-location-service) section. That sample seems a little confusing, assuming that

[2022-07-22 21:46] dario-piotrowicz commented on #46602
@dionatan-g, I'm going to reply in the issue you've created :+1:

(adding it here if anyone is following this thread: https://github.com/angular/angular/issues/46928)

[2022-07-22 22:09] dario-piotrowicz commented on #46928
Thanks for tagging me @pkozlowski-opensource :slightly_smiling_face:

@dionatan-g sorry, I do not believe this is a false positive, let me explain why, the fact is that your code is actually trying to animate the overflow property, as you can see from the keyframe that gets generated for the player:

![Screenshot at 2022-07-22 22-47-55](https://user-images.githubusercontent.com/61631103/180573193-

[2022-07-22 22:35] xuejianma commented on #24463
Same here.

[2022-07-23 01:15] muhamedkarajic opened #46948 "await / async (props) of Observables | Promises etc"
### Which @angular/* package(s) are relevant/related to the feature request?

_No response_

### Description

Angular allows us to use async pipe but when using multiple streams there isn't really a great way to ngIf them.

Imagine the scenario I have observables a$ and b$ and I want to wait for both of them. Of course I could make another observable in my TS file and combineLatest them but this m

[2022-07-23 01:25] muhamedkarajic opened #46949 "Required @Input()"
### Which @angular/* package(s) are relevant/related to the feature request?

_No response_

### Description

Inputs in Angular arent required at all and bugs are cached while manually testing the code. We could write for every component checks if the object will be present onInit if its null etc. From my personall experience this leads to bigger and less maintainable code structure.

### Proposed

[2022-07-23 03:54] atscott commented on #46949
Duplicate of https://github.com/angular/angular/issues/37706

[2022-07-23 03:54] #46949 closed

[2022-07-23 04:26] cgranttm opened #46950 "HTML escaper performance could be improved by adopting the same html escaping code as Svelte and Solid JS"
### Which @angular/* package(s) are relevant/related to the feature request?

platform-browser

### Description

The html escape function provided in @angular/platform-browser is outperformed by newer takes on it from Solid JS and Svelte. packages\platform-browser\src\browser\transfer_state.ts

### Proposed solution

Consider adopting the same method as Svelte for escaping html. The code can be fo

[2022-07-23 04:27] cgranttm commented on #46950
I made a draft PR for this https://github.com/angular/angular/pull/46951.

[2022-07-23 08:47] ashide2729 commented on #44486
thank you for the quick response

[2022-07-23 16:17] BenRacicot commented on #46918
I'd also like to turn off this warning.

[2022-07-24 00:43] muhamedkarajic commented on #37706
Could someone please look into [#46949](https://github.com/angular/angular/issues/46949) cause I have already a working solution and it could be adjusted a bit but first I would like to know if the solution would be even considered.

[2022-07-24 00:45] muhamedkarajic commented on #46949
I dont think this is a duplicate in the real sense cause I'm taking a declarative approach where I'm strictly forbidding the input whenever it comes it gets checked, its also possible to tell for each input what kind of values are allowed and not.

[2022-07-24 00:56] muhamedkarajic commented on #37706
I think I have a working solution but my solution is with setters and it just got marked as a duplicate - since I'm not so familiar with the eco system of those things could someone please check my proposal I even linked the solution.

There is an alternative way to make those things working when they are inputs I would just need to check onChanges if the input variable has changed, basically it w

[2022-07-24 05:52] amakhrov commented on #37706
The solution proposed in https://github.com/angular/angular/issues/46949 is a run-time check, which is already possible with custom code in ngOnInit. It just abstracts away some repeating boilerplate.

What we need though is a compile-time check.
I sort of realize why it's hard to do given the existing angular components syntax and TS capabilities. Yet I don't lose hope that someone smarter than m

[2022-07-24 09:20] oudi commented on #46933
@alxhub I reproduction with https://github.com/oudi/AngularDynamicComponent , and state the issue in README.md

The key code is https://github.com/oudi/AngularDynamicComponent/blob/main/od-app/projects/od-core/src/lib/od-part/od-part.component.ts#L19

[2022-07-24 17:25] dario-piotrowicz commented on #46360
Hi @mmarczell-graphisoft I'm so sorry for the late reply :bow:

___

First of all I would suggest to ignore the `ShadowDom` workaround, as that doesn't seem to be very compatible with animations and in your specific example, `shadowDom` just happens to work because it fails at detecting that the element is leaving the dom, so it doesn't trigger its animation which is what is causing the issue.

__

[2022-07-24 20:23] KennethUdoh opened #46954 "EISDIR: illegal operation on a directory, link. Angular 14.1.0"
### Which @angular/* package(s) are the source of the bug?

upgrade

### Is this a regression?

No

### Description

Hi,

I have an angular library that I use in my project, I've just upgraded it to the latest version of angular, but when I try to build it I get the error below.

Please note: "X:\Project" is a sample.

EISDIR: illegal operation on a directory, link 'X:\Project.angular\cache\14.1.0

[2022-07-25 00:50] muhamedkarajic commented on #37706
From my experience what you are looking for isn't possible in a language like .NET where you have interfaces and typesafty why should it be possible in JavaScript (and Typescript has nothing to do with it)?

What you basically say is my solution is the right one but you would like it to be a compile time check - for whatever reason thats your standard to accept such a feature.

How do you imagine

[2022-07-25 01:16] muhamedkarajic commented on #37706
It gets the job done and well, what do you want from a framework to write for every input every time check me onInit A,B and C?

Okay but this is pretty much impossible in .NET so why do you expect it to be possible in TypeScript / JavaScript? Imagine I get a library from someone else, the return type is number but at some point I get null / undefined or NaN. This is JavaScript and its duct typing

[2022-07-25 02:17] oudi commented on #46933
@alxhub  return variable of component works for the library. but I can not use any decorators in it. It shows `TS1206` error.

![image](https://user-images.githubusercontent.com/2518192/180680049-59a59f6d-67f1-4918-a391-d62872a1bb22.png)

[2022-07-25 06:16] Achilles1515 opened #46955 "docs: TemplateRef.createEmbeddedView() mentions attaching the instantiated view to a view container"
### Description

The TemplateRef.createEmbeddedView() method states:

- What view container is this method description referencing? No `ViewContainerRef` is being used here.

I don't believe this description is correct, but please correct me if I am wrong.

### What is the affected URL?

https://angular.io/api/core/TemplateRef#createembeddedview

[2022-07-25 06:55] oudi commented on #46933
solved it in a trick way. close.

[2022-07-25 06:55] #46933 closed

[2022-07-25 06:57] pkozlowski-opensource commented on #46955
You are absolutely right - this part of the description is incorrect:

[2022-07-25 07:18] Lonli-Lokli commented on #37706
In .net you have constructors where you must specify all the parameters.

 Btw it the same here - basically this fields must be treated as required constructor fields for control, represented by particular template usage

[2022-07-25 07:46] thw0rted commented on #37706
Hi @muhamedkarajic , I like the idea of extending `@Input` as a way of marking-as-required, but I think you may be confused about the intent of this issue (and the previous ones that I linked in my original write-up).  Angular uses TypeScript, and the whole point of using TypeScript instead of vanilla JavaScript is to get compile-time, rather than run-time, error handling.  Having to build and run

[2022-07-25 09:32] noobyogi0010 commented on #46936
Okay, thanks!
@alan-agius4

[2022-07-25 09:50] muhamedkarajic commented on #37706
My proposal was just linked as duplicate and now here I'm.

I understood that and I gave good examples why thats not going to work for a lot of cases.

Thank you but I don't know what to do from here on, unless someone explains it to me.

I didn't catch the hole conversation cause I just got here because my proposal was marked as duplicate. Still I just don't see how that is supposed to be possibl

[2022-07-25 09:53] muhamedkarajic commented on #37706
Can't you do that already with '!' I think someone wrote that but thats still having that issue that in compile time something which is null can be still passed as input - same issue with .NET even if you expect an object your library can sent null / undefined and you then get an unexpected error or even wrost things seem to go fine but arent.

[2022-07-25 10:23] thw0rted commented on #37706
It looks like you maybe haven't spent a lot of time with Typescript, which might be the source of some of your confusion.  In TS, `null` and `undefined` are their own types, and a property or variable can have a type of e.g. `number` without allowing `null` or `undefined`.  In that case, any code that might assign those values will be flagged as an error at compile-time.  That's what I meant when

[2022-07-25 10:26] liesahead commented on #46874
@dylhunn

[2022-07-25 11:41] ohois commented on #46940
Out of curiosity what is the recommended way for DOM manipulation? I still have some instances where I'm using Renderer2

[2022-07-25 13:18] JavaScript-Hero opened #46962 "Angular library with multiple entry points and npm link"
### Which @angular/* package(s) are the source of the bug?

compiler-cli, compiler

### Is this a regression?

No

### Description

I currently have an Angular Library with multiple entry points which is getting linked with `npm link ../mylib/dist/my-lib` in an existing Angular-App. The Angular-App and the Angular-Library are not in the same workspace (no monorepo). The Angular-Library gets build

[2022-07-25 13:22] irisDreizen opened #46963 "Resolver stop concat operator"
### Which @angular/* package(s) are the source of the bug?

router

### Is this a regression?

Yes

### Description

on version 13 returns a concat observable in a resolver and completes all the given observables.
starting from version 14.0 after the first observable resolves the concat is stopped.

a way to reproduce:
run this code in both versions and see the difference:
[code]

### Please provi

[2022-07-25 13:30] pkozlowski-opensource commented on #46963
Could you please provide a minimal, runable reproduce scenario (using stackblitz or similar?).

[2022-07-25 13:31] pkozlowski-opensource commented on #46963
Could you please provide a minimal, runable reproduce scenario (using stackblitz or similar?).

[2022-07-25 13:57] JoostK commented on #46963
This is listed as breaking change in v14:

[2022-07-25 14:34] mhaertwig opened #46965 "Worker process did not return a WorkResponse"
### Which @angular/* package(s) are the source of the bug?

bazel

### Is this a regression?

Yes

### Description

When building our [library](https://github.com/sbb-design-systems/sbb-angular/tree/14.x) with bazel we're getting the following error during the `ng_package` rule:

https://github.com/sbb-design-systems/sbb-angular/runs/7335481766?check_suite_focus=true

[code]

(see e.g. this [link]

[2022-07-25 14:42] atscott commented on #46963
Closing, per https://github.com/angular/angular/issues/46963#issuecomment-1194083509

[2022-07-25 14:46] SmallhillCZ commented on #13721
Hi does it mean that the request in issue #19329, which was dismissed as a duplicate of this one was not addressed in the end?

[2022-07-25 16:27] SanderElias commented on #46940
@ohois
[code]

So, inject `DOCUMENT` and use that like the old-fashioned way to do whatever you desire.

[2022-07-25 16:38] skyosev commented on #46864
I was wondering how do you deal with optional form fields in the form group:

[code]

[code]

Currently this yields and error (because of `baz` being optional in the interface):

`Type 'FormControl<number | null> | undefined' is not assignable to type 'FormControl<number | null>'.`

Is this incorrect usage of typed form hinting?

[2022-07-25 17:53] AdilSirva opened #46966 "Uncaught (in promise): TypeError: Cannot read properties of undefined (reading 'ɵmod')"
### Which @angular/* package(s) are the source of the bug?

compiler, core, router

### Is this a regression?

Yes

### Description

I have migrated my application from Angular version 9 to 13. After a lot of caveats I reached to ng serve it without any error in Angular CLI. Now, as soon as my application launches in browser, I see below provided error.

I tried different solutions provided by dif

[2022-07-25 19:11] drtomato commented on #19179
A13, still the same issue.

[2022-07-25 19:49] whyboris commented on #45476
✅ confirming that this error went away when I upgraded `zone.js` from `0.11.4` to `0.11.7` 🤝

[2022-07-25 20:26] SirDneial commented on #46797
Have you had any luck on this I ran into the same issue and have been stuck all day on this.

[2022-07-25 20:55] nathan135790 commented on #30264
I have hit this case again for the third time since my first comment here one year ago. I am sure many others are hitting this same case as well.

[2022-07-26 02:12] atscott commented on #46966
There isn’t enough information here to understand what might be causing the issue. Please provide a minimal reproduction in order for us to determine if this is an issue in Angular.

[2022-07-26 02:26] GrizzlyEnglish commented on #13993
@phalgunv Are you still working this? If not I'd like to give it a shot. Thanks!

[2022-07-26 02:26] Vibing opened #46967 "Is it possible to consider lazy loading modules"
### Which @angular/* package(s) are relevant/related to the feature request?

_No response_

### Description

like this:
[code]

[2022-07-26 06:09] KLN888 opened #46969 "getting this error when running ng serve Namespace '"/home/user/proj/node_modules/@angular/core/core"' has no exported member 'ɵɵInjectableDeclaration'."
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

No

### Description

When executing ng serve i am getting  a number of errors in ng-bootstrap
Namespace '"/home/user/proj/node_modules/@angular/core/core"' has no exported member 'ɵɵInjectableDeclaration'.
 static ɵprov: i0.ɵɵInjectableDeclaration<ScrollBar>;

### Please provide a link to a

[2022-07-26 08:10] zbogdanov commented on #19179
This is a bug for 5 years now. @IgorMinar I kindly ask to prioritize this, it does not look good from a community feedback perspective

[2022-07-26 08:12] 11joselu commented on #45476
If help... I can confirm that this error went away from zone.js 0.11.6 to 0.11.7

@devversion Thanks you!!

[2022-07-26 08:13] devversion commented on #45476
Thank you both for testing and confirming this is fixed on your end. @JiaLiPassion Sounds like we can close this?

[2022-07-26 10:28] alan-agius4 commented on #46969
Angular CLI 8 is no longer supported.

Please update a more recent supported version. See: https://angular.io/guide/releases#support-policy-and-schedule

[2022-07-26 10:28] #46969 closed

[2022-07-26 11:29] JiaLiPassion commented on #45476
@devversion , sure, I think we can close this one.

[2022-07-26 11:29] #45476 closed

[2022-07-26 12:34] nunoarruda commented on #46918
I also think that this NG8107 warning is broken. For example:

1. I have an optional `templateForm` property in my TS class of type `UntypedFormGroup` so its inferred types are `UntypedFormGroup | undefined`
<img width="659" alt="Screenshot 2022-07-26 at 13 27 37" src="https://user-images.githubusercontent.com/1189149/181005760-3266410a-6832-4b37-b5f3-89d3e7a34f32.png">

2. Yet, Angular says that

[2022-07-26 13:31] pkozlowski-opensource commented on #46967
You can absolutely lazy load modules today - in fact router does it all the time. As you've mentioned, it might be cumbersome at time and this is why we've introduced standalone components in Angular v14: https://angular.io/guide/standalone-components

I'm going to close this issue as the standalone components are our recommended solution for lazy-loading code in Angular. We are not planning on ma

[2022-07-26 13:31] #46967 closed

[2022-07-26 13:31] Nxtivision opened #46970 "Possible bug in Ivy using Mixins"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

Yes

### Description

Hi Everybody,
I'm struggling with a difficult use case of **mixin in Typescript with Angular.** (not mixin in SCSS)
I'd like to use _mixins to create complex custom form inputs._

It **works in dev environment,** even if I use 3 or more mixins at a time on a same compon

[2022-07-26 14:26] JoostK commented on #46918
@nunoarruda can you please share a runnable reproduction?

---

As for the indexed access false positive: this happens because TypeScript doesn't include `undefined` in the type of an indexed access expression (`foo[index]` syntax), so the optional chaining operator appears unnecessary based on the type system. I think it makes sense not to report this diagnostic for indexed accesses.

[2022-07-26 15:27] nunoarruda commented on #46918
@JoostK it looks like it is working fine in an isolated demo:
<img width="1001" alt="Screenshot 2022-07-26 at 16 23 59" src="https://user-images.githubusercontent.com/1189149/181046538-2eba4ee2-362c-43ab-8dc9-55ce8b854a1d.png">
Now the template is correctly assuming the type of the property as `UntypedFormGroup | undefined`. So I'm not sure what's going on with my project but I will let you folks

[2022-07-26 15:30] Leccho opened #46971 "FormGroup.updateValueAndValidity() add option to affect descendants"
### Which @angular/* package(s) are relevant/related to the feature request?

forms

### Description

I could have use it a few times now, so I think this could be a nice addition.

Related to https://angular.io/api/forms/AbstractControl#updatevalueandvalidity

### Proposed solution

[code]
`onlySelf` would be confusing, since we added `affectDescendants`, so we would have to replace it by `affect

[2022-07-26 16:19] Eldriann opened #46972 "Behaviour change between Angular 13 and Angular 14"
### Which @angular/* package(s) are the source of the bug?

router

### Is this a regression?

Yes

### Description

In angular 14 an exception will be thrown if a route has no `component` / `loadComponent ` / `redirectTo` / `children` / `loadChildren` defined but has a guard that always redirects the user in a lazy loaded route in development mode.
In angular 13 this was not the case and the user

[2022-07-26 17:28] devversion commented on #46965
This can happen when Microsoft API extractor prints to stdout and conflicts with the Bazel worker IPC also using stdout.

Potentially there are some warnings with type bundling. You can try running the type bundling without workers to unveil these

[2022-07-26 18:38] rchod commented on #46972
no need for a dummy component, you can make your original code work by adding an empty children
[code]

[2022-07-26 20:56] kyubisation commented on #46965
Thank you for your answer!
Could you give us a hint on how to do that?

[2022-07-26 22:27] edusperoni opened #46973 "Transplanted views are change detected regardless if they're detached from CD when inside OnPush components"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

This is possibly a regression from ivy.

When you create an embedded view and detach it, angular will run CD in it as long as it's inside a OnPush component and it has at least one attached template.

This happens because we do:

1. Find all templates that need to be CDed down the tree

[2022-07-27 02:29] tolerious opened #46975 "pipe overview document example code not found"
### Description

[https://angular.io/guide/pipes-overview](https://angular.io/guide/pipes-overview), on this page, the download [link](https://angular.io/guide/pipes-overview) can not work properly.

### What is the affected URL?

https://angular.io/guide/pipes-overview

### Please provide the steps to reproduce the issue

1. navigate to page [https://angular.io/guide/pipes-overview](https://angul

[2022-07-27 07:54] GitHubish commented on #45992
@jessicajaniuk Great thanks!

[2022-07-27 07:55] devversion commented on #46965
You can turn off the workers for type bundling by using `--strategy=BundlingTypes=remote,sandboxed,local`. Once you set that up and perform a build locally, you potentially will see some warnings/console output in between.

The odd thing is that it happens randomly. The key part is that we need to figure out if the types bundling worker (or Microsoft's API extractor) accidentally prints to `stdout

[2022-07-27 09:40] ArielGueta opened #46977 "Pipes with generic type parameters don't typecheck"
### Which @angular/* package(s) are the source of the bug?

language-service

### Is this a regression?

No

### Description

Lets say we have a pipe that returns a `number`:

[code]

When we use it on input that expects a `string` it works fine without a `type` error:

[code]

This should show a `type` error because the input expects a `string` and the pipe returns a `number`.

### Please provide

[2022-07-27 10:21] JoostK commented on #46977
Pipes with generic type parameters are not currently supported. In your case the `T` type parameter can be dropped in favor of using `unknown` where it's used.

[2022-07-27 10:28] javiermarinros opened #46978 "ComponentRef.setInput should validate input names"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

The new ComponentRef [setInput](https://angular.io/api/core/ComponentRef#setInput) API is really useful for dynamic component handling but it has an issue: the input name is not validated against the component input list, allowing any kind of name to be defined, and, even worse, if you

[2022-07-27 10:32] JoostK commented on #46978
It should already be doing exactly this. Can you share a reproduction that shows that it does not?

[2022-07-27 10:38] pkozlowski-opensource commented on #46978
As @JoostK indicated, we've got checks for unknown property names, and a test verifying those checks: https://github.com/angular/angular/blob/3ca985269d3e961321075f0e7facd10ef335be4c/packages/core/test/render3/component_ref_spec.ts#L336-L352

Please provide more details / reproduction scenario if you see those checks not working in specific cases. Please note that we use the same error reporting m

[2022-07-27 10:57] javiermarinros commented on #46978
You are right

[2022-07-27 10:58] javiermarinros commented on #46978
You are right, I replicated the issue and there is a console warning:

https://stackblitz.com/edit/angular-ivy-wcfk7z

Thank you for your help, and sorry for the inconvenience

[2022-07-27 10:58] #46978 closed

[2022-07-27 11:22] pkozlowski-opensource commented on #46970
@Nxtivision there is quite a bit of code in the stackblitz you've shared (100+ LOC) - could you try to simplify the issue to the essential parts?

It is rather hard for us to understand what is going on given the provided example.

[2022-07-27 12:07] Nxtivision commented on #46970
I just simplified the file, but let me explain in details what's going on:

The idea is to create custom inputs for our forms, using mixins to avoid rewrite some inputs or logic between components.

In the example, we have the **TextComponent** for the basic implementation of our mixins:
https://stackblitz.com/edit/angular-ivy-wva4z7?embed=1&file=src/app/inputs/text.component.ts

as you can see, I

[2022-07-27 13:53] paulkugener commented on #21682
Same behavior with angular v14

[2022-07-27 14:36] devversion commented on #46965
@mhaertwig I want to clarify that the disabling of worker mode is recommended only for debugging, to figure out what leaks to the `stdout` and breaks the IPC. Long-term I would definitely recommend keeping the workers, especially for packages with many entry-points this should pay-off (that's part of the reason we supported workers here)

[2022-07-27 14:51] pillsilly commented on #35586
this actually fixed my same issue

[2022-07-27 16:11] atscott commented on #46972
That’s correct, this is an intended breaking change and listed in the notes for v14. Previously, lazy loaded configs were not validated but now they are. This was never really allowed but you could get away with it since the configs weren’t validated.

As mentioned by @rchod, you can use an empty list of children as a workaround.

The correct solution to this is https://github.com/angular/angular/

[2022-07-27 16:11] #46972 closed

[2022-07-27 16:56] jmwolfe commented on #46946
To further elucidate - we start out talking aobut AngularJS but then start showing an app.module.ts file that should be edited. Then, out of the blue, we see:

Next, create an app.module.ts file and add the following [NgModule](https://angular.io/api/core/NgModule) class:

create it where? I guess you mean the ng-app/src folder - that really needs to be made clear. It is odd to create a file that

[2022-07-27 21:17] muhamedkarajic commented on #37706
This is totally known to any developer who uses type saftly but it dosent work for third party APIs when they send something which you don't expect - sure you can define a interface which has a number which can't be null but you can't ensure it will be null at that moment which you are expecting.

If we are talking about required inputs I don't expect it to be typesafe only I expect it to be somet

[2022-07-27 21:19] muhamedkarajic commented on #46949
I have stated my perspective on the topic on the other proposal, looking forward to find the best solution.

[2022-07-27 21:48] snebjorn commented on #33028
What's the hold up with this? Wouldn't it be as simple as converting these marker interfaces into types unioned with `string`?

Example:
[code]
https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAgMpxhAanANgVxQG8BfAWACgwBPABxXUwAkwBbXZAXjQ2z0OQAyZAGcwUUAHMA3JUq4IYZDAD2KgFw9mbDtwDkYqHtkUFSgEZwomw1JOVLULsrXSgA

[2022-07-27 22:02] thw0rted commented on #37706
I see, you clearly want runtime checks, and you are correct that this issue focuses on the type checker instead. I would be surprised if the Angular team wants to implement runtime checks like you're suggesting - they typically have a performance cost - but you are welcome to ask them to reopen your issue.

[2022-07-27 22:12] coluzziandrea commented on #16933
Hello! I'm new to Angular dev community, I'd like to pick this issue and fix all usages of  FormArray.at

[2022-07-27 22:28] muhamedkarajic commented on #37706
I have written in my proposal to reopen it they said they will take a look at every option - therefor I'm here. The performance issue isn't in my oppinion a cost cause you don't need to implement that decorator if you don't want to and if you do implement it - it just means you saved the boilerplate, it would function like a guard you have guards for routing etc why not having them for inputs.

[2022-07-28 01:18] Chealer commented on #43242
Thank you for the interesting research @ashide2729
While changing to "object" would be exact and better, it would be much better to use a phrasing which at least partly specifies the returned object, like the one I offered.

[2022-07-28 07:10] d-koppenhagen opened #46980 "Docs: a11y: add section for ngFor track / trackBy option"
### Description

`ngFor` provides the option `trackBy`.
This option allows to define the tracking property when rendering a list of objects.
This is essential for making the list more accessible.

When updating a list element without defining `trackBy`, the DOM element is destroyed completely and the updated is added as a completely ne DOM element.
This will cause issues when the element was for e

[2022-07-28 07:17] alexciesielski commented on #46891
Right, I did not think about the case of having another primary outlet inside a named one. That obviously breaks the initial idea.

Thanks for the suggestion of using the URL to listen for primary outlet events, covers my usecase perfectly.

[2022-07-28 07:17] #46891 closed

[2022-07-28 08:11] narendrasinghrathore opened #46981 "Pass data via Input prop not working for component if data is async."
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

No

### Description
1. From Parent calling API
2. Passing data from parent component to child component via Input property which is exported from different module is not working.

ngOnChanges in child component is only returning null as currentValue.

Tried with different life cycle hooks st

[2022-07-28 08:15] indraraj26 commented on #46981
Hi,

Can you share minimal reproduction

[2022-07-28 08:19] yohny opened #46982 "Support for XML in HttpClient"
### Which @angular/* package(s) are relevant/related to the feature request?

common

### Description

When using `HttpClient` for retrieving remote data, there are few response types available (like `json`, `arraybuffer`, `blob`, `text`), but nothing dedicated to xml. It would be handy to have a response designed to handle xml as it would make talking to XML-based backends easier (like SOAP servi

[2022-07-28 09:02] narendrasinghrathore commented on #46981
Added in description.
https://stackblitz.com/edit/angular-ivy-s6xws9?file=src/app/app.component.ts

[2022-07-28 09:25] mhaertwig commented on #46965
@devversion Thanks a lot for the help and explanation! Our build is now working and I am closing this issue.

We decided to temporarily turn off the workers to fix our build and deactivate this quick-fix again after having solved the warnings.

[2022-07-28 09:36] Asif905 opened #46983 "Why updateValueAndValidity is not updating the value of form Controls in Angular 12"
### Which @angular/* package(s) are the source of the bug?

forms

### Is this a regression?

Yes

### Description

I have recently migrated from Angular 9 to Angular 12 and observing one issue related to form control while using ReactiveFormsModule.

The layout is like the page has a dropdown selection and multiple input boxes. And the behavior is if I change the value from dropdown it populates

[2022-07-28 09:48] EmmanuelRoux commented on #46981
@narendrasinghrathore it's because you're updating a bound property inside `ngAfterViewInit`.

Btw, if you set change detection to default mode in your `AppComponent`, you will see an explicit `ExpressionChangedAfterItHasBeenCheckedError` error.

[2022-07-28 10:38] 9thQuadrant opened #46984 "configurable key for ngsw-bypass in service-worker"
### Which @angular/* package(s) are relevant/related to the feature request?

`@angular/pwa`

### Description

A customizable key for `ngsw-bypass` would be great if we can include some set of headers from `ngsw-config.json`
Also exclude URLs for API calls would be very helpful

### Proposed solution

A field in `ngsw-config.json` giving option to omit in `ngsw-worker.js`

### Alternatives conside

[2022-07-28 10:47] nikithamunigala193 commented on #46984
Waiting for resolution

[2022-07-28 11:00] bluestar39 commented on #46984
+1

[2022-07-28 11:13] devversion commented on #46965
@mhaertwig Do you have a commit or something you could share? Technically nothing should pollute stdout from API extractor since we provided a custom logging utility, but if something leaks through, then that's a bug we should try to fix

[2022-07-28 11:58] gkalpak commented on #46984
Unfortunately, this is not possible at the moment. The reason is that the `ngsw.json` manifest that corresponds to each client is retrieved asynchronously, while the decision on whether to bypass the service worker or not has to be made synchronously.

Therefore, the logic for deciding this needs to be embedded into the service worker code and cannot depend on the configuration. #21197 will provid

[2022-07-28 11:58] #46984 closed

[2022-07-28 12:02] ashide2729 opened #46985 "BazelWorkspaceStatusAction stable-status.txt failed: Failed to determine workspace status"
### Which @angular/* package(s) are the source of the bug?

bazel

### Is this a regression?

Yes

### Description

When running 'yarn build' command in the angular root folder i am getting the following error

'BazelWorkspaceStatusAction stable-status.txt failed: Failed to determine workspace status'

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provid

[2022-07-28 12:17] mhaertwig commented on #46965
@devversion I'll make more in-depth analyses next week and will inform you about my findings.

[2022-07-28 12:23] devversion commented on #46965
@mhaertwig Awesome, thanks! Let me know if I can help

[2022-07-28 12:36] Endrzei opened #46986 "Unknown element not detected when a directive is applied"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

Applying a known directive to an unknown element, causes Angular to compile without errors.
[code]
This behaviour enables regressions through element selector typos. Introducing a typo results in no component being rendered, yet it doesn't produce any compilation errors.
[code]

### Pl

[2022-07-28 15:07] pkozlowski-opensource commented on #46986
Note: I can see how it could be confusing but when you write `<my-element-with-a-typo>` Angular has _no way_ of knowing if `my-element-with-a-typo` is a "valid" or "invalid" element name. It is not even clear what "valid element name" means here.

Again, understand the confusion, just saying that rules are not clear here.

[2022-07-28 15:44] mmarczell-graphisoft commented on #46360
Hi @dario-piotrowicz,

Thank you for the detailed answer and fix.

I noticed from #46450 that my "workaround" was basically: activating _another_ bug to get the desired behaviour. Your solution is much more straightforward and works just as well.

I still don't see why the styles have to be removed though. From a user perspective (even though I get the feeling that we are getting in some murky wat

[2022-07-28 19:51] NoSoup4you2 opened #46990 "ngControl.valueAccessor fails to set correct Value like blank"
Delete

[2022-07-28 20:53] danielehrhardt commented on #46918
Is it possible to disable it?

[2022-07-28 21:42] wh1t3cAt1k commented on #31730
@petebacondarwin decided to ping you after having experienced some more call stack related pain. Can you confirm that the other proposal (the one which broke fakeAsync tests) supported native `await`?

If so, what do those tests cover, is it something Angular-specific?

And if so, would it be reasonable to `fork` the `zone` (see what I did here) for other developers who just need an implementation

[2022-07-28 23:16] #46990 closed

[2022-07-28 23:38] victor-assis opened #46991 "ngAttribute to access property of encapsulated elements"
### Which @angular/* package(s) are relevant/related to the feature request?

common

### Description

To create some components we often need to encapsulate them in a custom tag, to access their properties we need to create inputs and rewrite some apis, for example the input checkbox, theoretically we rewrite the focus and blur methods when creating custom components

### Proposed solution

A new

[2022-07-28 23:48] naveedahmed1 commented on #13446
I just came across this tweet,  and quoting here for the reference. If something similar could be done for Angular as well, it would be huge for SSR performance.

https://twitter.com/mhevery/status/1552693205136654337

[2022-07-29 00:54] Zuckjet commented on #40103
This chromium bug has been confirmed and fixed. What caused this bug is that:

XMLHttpRequest.prototype.open(method, url, undefined). But if we call `XMLHttpRequest.prototype.open(method, url, true)` explicitly, it works as expected.

Although the chromium bug has been fixed, but for previous iOS chrome, it still exists.
Is it good to send a PR to add a true async parameter for `XMLHttpRequest.pro

[2022-07-29 03:09] JoostK commented on #46918
Please do not do this. `strictNullChecks` is not an Angular compiler option, and disabling the TypeScript option is definitely not recommended.

This particular rule can be disabled like any other extended diagnostic, as documented here: https://angular.io/extended-diagnostics#configuration. The rule name is `optionalChainNonNullable`, which is currently not yet included in the docs.

[2022-07-29 03:36] SheepReaper commented on #17606
I think you've missed a key scenario here. We're using micro-frontends via module federation. A typical example of one of our micro-frontend apps has 2 entry points: the standard, bootstrapped AppModule and also a RemoteEntryModule. so that the application can be run standalone (both for production and development purposes) and as a remote module for a legacy application. The AppModule is just a s

[2022-07-29 05:31] narendrasinghrathore commented on #46981
It's related to `  changeDetection: ChangeDetectionStrategy.OnPush,` when used we have to either manually trigger `changeDetectorRef.detectChages()` or in my case I have passed on observable `[inputProp]="myAsyncData | async"`

#46536

[2022-07-29 05:31] #46981 closed

[2022-07-29 06:03] narendrasinghrathore opened #46992 "Is data passed to @Input property is passed as value or passed by reference"
### Description

I am using an array in child component which is passed as `@Input` property from parent.
Making any change in child component is also reflecting in parent.

Please update the same in documentation. [Input](https://angular.io/api/core/Input)

### What is the affected URL?

_No response_

### Please provide the steps to reproduce the issue

https://stackblitz.com/edit/angular-ivy-ex

[2022-07-29 06:55] Abadii commented on #12045
Are there any updates regarding this issue?

[2022-07-29 09:24] mmuscat commented on #10185
Observable lifecycle hooks are possible in Angular 14 without using private APIs (except for `ngOnChanges`, which is not a real hook). The trick is to create a second component.

[code]

Then using it

[code]

I have a [more concrete example here](https://stackblitz.com/edit/angular-ivy-9ltv5u?file=src%2Fapp%2Fhello.component.ts,src%2Fapp%2Fapp.component.ts) that allows hooks to be composed with n

[2022-07-29 09:31] EmmanuelRoux commented on #46981
What you say is partially right, BUT it’s not related to the issue in your repro. See the explanation above…

[2022-07-29 10:01] robounohito commented on #10185
sure! - but from POV of a reactive programmer, that kind of low-level machinery should be incapsulated from us by framework, only observables exposed. (also there maybe can be some pitfalls related to memory management here too... this kind of stuff should be handled at framework level IMO... (otherwise idk why we need a  framework at all :D ))

[2022-07-29 10:10] DerZyklop opened #46993 "FormGroup.get() should only accept keys of the defined FormGroup"
### Which @angular/* package(s) are relevant/related to the feature request?

forms

### Description

If I type a form like

[code]

I can do `this.myFormGroup.get('keyThatDoesNotExist')` without any error. I expected an error because my type definition clearly says that only the keys `'foo'` and `'bar'` exist.

### Proposed solution

The class FormGroup has a `get` definition like this:

[code]

[2022-07-29 10:34] #46970 closed

[2022-07-29 11:36] Endrzei commented on #46986
What is not clear to me is the fact that Angular does recognise `<my-element-with-a-typo>` as an unknown element when there is no directive applied to it.
[code]
[code]

[2022-07-29 11:40] Endrzei commented on #46986
What is not clear to me is the fact that Angular does recognise `<my-element-with-a-typo>` as an unknown element when there is no directive applied to it.
[code]
results in:
[code]
Could you please explain why applying a directive to it results in Angular having no way of knowing if it is an unknown element?

[2022-07-29 11:52] tomhoad commented on #14761
+1 for more closely (but not exactly) following the HTML spec for boolean attributes. Presence = `true`, omission = `false`.

[2022-07-29 16:19] PiyushAgrawal1243 commented on #23427
Hii guys,

use my solution and make yourself happy

[](https://stackoverflow.com/a/73168225/16562712)

[2022-07-29 18:49] dylhunn commented on #13993
@GrizzlyEnglish @phalgunv If one of you ends up implementing this, here is a code example of how to throw an Angular `RuntimeError` -- this will look very similar. [Link to example.](https://github.com/angular/angular/blob/main/packages/forms/src/directives/radio_control_value_accessor.ts#L22)

[2022-07-29 18:51] dylhunn commented on #13993
Also @phalgunv I'm sorry I didn't see your request for setup help above. Long story short, it's much easier to get the build working on MacOS or Linux. If it's possible, I'd encourage you to dual-boot Linux or use WSL to run the build.

[2022-07-29 19:13] #46570 closed

[2022-07-29 19:16] dylhunn commented on #46971
In general, validation state flows from the bottom to the top of a form structure, so recalculating from the top-down is a bit of a code smell. I'd be curious to see a motivating use case.

[2022-07-29 20:17] dylhunn commented on #16933
@coluzziandrea We would accept your change, but it would need to come with a *migration schematic*, which identifies all the uses of `FormArray.at()`, and adds a non-null assertion `!`.

Migration schematics are run as part of `ng update`. They transform the Typescript AST to generate updates to project code.

Here's an example of a migration schematic that does something very similar, adding `!`

[2022-07-30 00:44] GrizzlyEnglish commented on #13993
@dylhunn Thanks! I have it all done, except one use case -> ngFor renaming elements being marked as dupes. Once I get that figured out should be good, unless @phalgunv still wants to work it; I don't mean to snatch it.

[2022-07-30 06:10] jnizet commented on #46993
get also accepts a path: `complexFormGroup.get('user.companies.0.address.street')`. https://angular.io/api/forms/AbstractControl#get

[2022-07-30 07:30] RAJEEV2510 commented on #46992
It is passed by reference not value .

[2022-07-30 10:42] dario-piotrowicz commented on #46360
Hi @mmarczell-graphisoft, no problem it was my pleasure, I hope I could have helped some :slightly_smiling_face:

I am sorry you had those issues, it must have been a bit painful to deal with :sweat: :cry:

anyways you're totally right in what you were saying, you were triggering a different bug which just happen to make the animation work as you wanted.

About what you said regarding Angular dete

[2022-07-30 10:57] MatteoMeil commented on #46864
@dylhunn

You're right, but IMHO this is something that the developer could handle by extending the type as follows and without the need to re-write the whole interface:
[code]
Of course, either the type `Form<T>` or `Controls<T>` should be extended to consider the case in which a `AbstractControl` is explicitly defined in the provided interface

---

@skyosev

I don't get to whom you are posing t

[2022-07-30 16:24] danielehrhardt commented on #46918
`optionalChainNotNullable` does not work for me

[2022-07-30 16:42] dcbroad3 commented on #46918
Can verify that this did fix it for me. Seems to require at least angular 14.1.

[2022-07-31 00:26] alxhub commented on #46992
@RAJEEV2510 is (sort of) correct.

JavaScript is a pass-by-value language - there is no concept of pass-by-reference. Objects and arrays though are not themselves primitives, but rather pointer types. This means that a value that points to an object (e.g. `const x = {prop: true}`) passed to a function (`foo(x)`) results in the function having access to the same object that the original variable `x

[2022-07-31 00:26] #46992 closed

[2022-07-31 09:45] DerZyklop commented on #46993
@jnizet Right. Thanks for that hint. So a path makes it difficult to get rid of the parameter type `string`. But i think the path could probably also be strongly typed with a [template literal type](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html).

[2022-07-31 15:51] c-kunz opened #46999 "@HostBinding sorts classes alphabetically"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

Yes

### Description

When using

[code]

the rendered HTML is:

[code]

~~This can cause issues with CSS specificity resulting in wrong styles, especially when using a lot of Tailwind classes.~~

Appears to be a regression of this issue: https://github.com/angular/angular/issues/33111

### Please provide

[2022-07-31 19:04] phalgunv commented on #13993
Thanks @dylhunn. I was stuck with for quite a long time due to build issues on Windows. I have now switched to Ubuntu(via WSL).

@GrizzlyEnglish,
I was probably only halfway through the changes and may not be able to get completed before you. So it seems fair if you'd continue with the fix.

[2022-07-31 19:07] phalgunv commented on #46771
When I ran "git pull", it incorrectly showed that my local repository was up to date whereas it was stuck at the commit https://github.com/angular/angular/tree/f94c6f433dba3924b79f137cfcc49d2dfd4d679c from 17-June. Since the "build" was added later "yarn build" was failing as it could not find build.

I have cloned the repo again, ran `yarn install` and  then `yarn build` fails with the below erro

[2022-07-31 20:25] JelleBruisten commented on #46999
By my knowledge the order in which css classes are applied does not matter for specificity, what does matter is the order in which they are defined in the CSS.

[2022-07-31 21:26] Harpush commented on #44983
@dylhunn I looked into it a bit - concerning extending abstract control I think the missing part (I am not sure that's all) is making `AbstractControl` method `_updateValue` public and not internal. The same for `FormGroup` for example - making `_reduceValue` public too.
That way if I wanted to extend `FormGroup` I could just implement this method and provide different model and form model.
A naiv

[2022-08-01 06:01] GirishReddyMS opened #47001 "ChangeDetectionStrategy.OnPush is not running with @Input parameter passing inside ng-content"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

I have two components, checkbox-group(parent) and checkbox(child), here I am able to propagate data from parent component to child component but change detection is not happening when I use onPush.

Checkbox template -
@Component({
  selector: 'checkbox-f',
  changeDetection: ChangeDet

[2022-08-01 06:39] c-kunz commented on #46999
You're absolutely right, specificity in this case is defined by the order of definition in CSS.

The linked issue https://github.com/angular/angular/issues/33111 fortified my belief that it did contribute to specificity.

My original solution was based on that wrong assumption. Fortunately, I don't have any weird selector use case.

Anyhow, I think this is still an issue for very specific cases th

[2022-08-01 06:49] rohit267 commented on #13993
@dylhunn I am giving a try.

[2022-08-01 07:07] coluzziandrea commented on #16933
@dylhunn Thank you very much for your feedback! I'm going to submit my PR ASAP

[2022-08-01 07:08] 9thQuadrant commented on #46984
What I meant is the string `ngsw-bypass` inside the generated service worker must be dynamic and configurable from `ngsw-config.json`. This change would not be runtime, just a build time.

[2022-08-01 07:28] teug91 commented on #40103
@JoostK
Sorry for the late response. I haven't been able to reproduce on Safari. Maybe the client was wrongly reported as Safari somehow.

[2022-08-01 07:45] 5te1n opened #47003 "Breaking undocumented change from Angular 13 to 14 in custom PreloadingStrategy. "preload"-method is called despite a set canLoad-guard."
### Which @angular/* package(s) are the source of the bug?

core, router

### Is this a regression?

Yes

### Description

In Angular 13.3.10 the "preload"-Method in a custom PreloadingStrategy is not called for routes with a set canLoad-guard.
https://stackblitz.com/edit/angular-ivy-wf131m?file=src/app/app-routing.module.ts
This is also mentioned in the documentation: https://angular.io/guide/rou

[2022-08-01 08:24] spock123 commented on #46948
Yes this is a scenario we all are familiar with: waiting for a number of observables to resolve. Nesting ng-containers quickly becomes quite messy when you are dealing with 4+ observables.

[2022-08-01 09:06] JustDoItSascha opened #47004 "Canonical: Automatically generate Forms control types from model type"
### Which @angular/* package(s) are relevant/related to the feature request?

forms

### Description

Sometimes you want to pass the value of a form to another function, like in a service. When you have created a Interface for the form which looks like this:

[code]

Then the `form.value` type looks like this `{username: string, password: string}`. But you have no possibility to pass this type the

[2022-08-01 09:07] pkozlowski-opensource commented on #47001
Please provide a minimal reproduce scenario using stackblitz - otherwise this issue is not actionable for us.

[2022-08-01 09:21] pkozlowski-opensource commented on #46991
This is really a duplicate of #14545 - the proposed _solution_ idea is different but the _problem_ is the same. I'm going to close this is a duplicate of #14545 to centralize the discussion in one place.

Feel free to add your solution idea in #14545.

Duplicate of #14545

[2022-08-01 09:21] #46991 closed

[2022-08-01 09:22] pkozlowski-opensource commented on #46966
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2022-08-01 09:22] #46966 closed

[2022-08-01 09:39] Leccho commented on #46971
@dylhunn It's useful when you have a `FormGroup` in which every `FormControl` `Validators` depends on how the other `FormControl` are used.

Here's a small example of what I mean:
[code]

Obviously in this case, you don't gain much, but when you have ten `FormContol`, you start to gain a lot of time and readability.

[2022-08-01 10:24] NareshSmith opened #47005 "Error: Optimization error [main-es2015.74a2d661cbb17311202b.js]"
### Which @angular/* package(s) are the source of the bug?

compiler

### Is this a regression?

Yes

### Description

After migrating our project from Angular Version 11.2.7 to 12.2.13., We are facing an Optimization error on production build in Jenkins, but when we try to build our project in local machine its working fine.
Kindly request some one to help fixing this issue ASAP. Please find the

[2022-08-01 11:50] jinadevi commented on #47005
i am also facing the same issue pls help

[2022-08-01 16:04] atscott commented on #47003
Version 14 introduced the `loadComponent` for routes, which is not blocked by `canLoad` guards. This is why the `preload` method is still called. That said, the `loadChildren` _is not_ called if there is a `canLoad` guard so I would not consider this a breaking change.

The documentation could use an update and I will also adjust the code to not call the `preload` method in cases where there is a

[2022-08-01 16:27] 11joselu opened #47006 "Testing: Asynchronous code fails without sleep"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

No

### Description

Hello :)

I have a component that allows images uploading, once the user adds an image, it emits an event (_the parent should handle it_), but doing some unit test over that component I'm not able to pass the test without doing some sleep (wait for event to be triggered)

[2022-08-01 16:48] #41117 closed

[2022-08-01 17:17] victor-assis commented on #14545
hi, I created a possible one just for this case, I named it ngAttribute, it is a directive that receives all the input that must be included in the host, it has the same logic as the host in the directive/component decorator

stackblitz: https://stackblitz.com/edit/angular-ivy-mvhptb?file=src%2Fapp%2Fdirectives%2Fng_attribute.ts

[2022-08-01 17:26] #46213 closed

[2022-08-01 17:37] atscott commented on #46999
Closing as won't fix. The order in which Angular applies classes should not be relied upon, as it is not guaranteed.

[2022-08-01 17:37] #46999 closed

[2022-08-01 18:19] #35928 closed

[2022-08-01 19:01] gkalpak commented on #46984
The SW script is fixed and does not change at build time. The only thing that happens at build time is that `ngsw-config.json` is processed and converted to `ngsw.json`. The the SW will retrieve and use `ngsw.json` at run time.

So, without #21197, there is no way to modify the SW script at build time.

[2022-08-01 19:55] #39280 closed

[2022-08-01 21:20] #46975 closed

[2022-08-01 21:43] johngrimsey opened #47012 "Component loaded via lazy module is not rendering inside named outlet, but outlet is activated correctly"
### Which @angular/* package(s) are the source of the bug?

router

### Is this a regression?

Yes

### Description

I swear this used to work in Angular 13.2.2

See README.md in repo

No Router errors when tracing enabled

### Please provide a link to a minimal reproduction of the bug

https://github.com/johngrimsey/router-debug

### Please provide the exception or error you saw

_No response_

#

[2022-08-01 22:35] atscott commented on #47012
Similar to https://github.com/angular/angular/issues/46500, your application has broken the parent/child relationship of the router outlets. The `RouterOutlet` in the dialog needs to be a logical child in the element injector tree of the parent.

Closing as an issue outside of Angular.

[2022-08-01 22:35] #47012 closed

[2022-08-01 23:13] jessicajaniuk commented on #47006
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](https://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com

[2022-08-01 23:13] #47006 closed

[2022-08-01 23:20] dylhunn commented on #47004
We actually [did this](https://github.com/angular/angular/pull/45978), but ended up rolling it back. It would be a lot more useful to go in the other direction, from model to controls, but this is impossible in the general case. Here's why:

Consider you have a data model that represents a date:

[code]

This could correspond to a form with three fields:

[code]

Or it could correspond to a datepi

[2022-08-01 23:31] dylhunn commented on #46993
You should be getting an `AbstractControl<never>`, so actually using the result of `get` should produce type errors.

I agree it would have been better to just return `never` directly, but unfortunately, it was unimplementable due to compiler performance issues. See [my attempt to tighten the types in this PR](https://github.com/angular/angular/pull/46115).

[2022-08-01 23:33] #46993 closed

[2022-08-01 23:35] dylhunn commented on #46864
See also #47004.

[2022-08-01 23:38] dylhunn commented on #47004
Actually, I'm going to close this in favor of marking #46864 as the canonical issue.

[2022-08-01 23:38] #47004 closed

[2022-08-01 23:42] dylhunn commented on #46971
@Leccho Since the controls depend on each other, why not just put the validator on the enclosing group?

[2022-08-01 23:48] jessicajaniuk commented on #46985
This is an issue with `ts-node` that affects Windows users. You can see #46780 as a reference, but the recommendation until that ts-node issue is fixed is to use git-bash.

[2022-08-01 23:48] #46985 closed

[2022-08-01 23:53] jessicajaniuk commented on #46983
@Asif905 Do you know if you were using Ivy with version 9 and have you switched over to Ivy with version 12? Could you also create a minimal stackblitz reproduction of this for us to debug further? Thank you!

[2022-08-01 23:56] dylhunn commented on #46982
This is something we discussed, but it would be significant scope expansion for HttpClient. At this time, we are unlikely to implement or accept this feature in Angular itself. We'd encourage you to use a third-party XML parser implementation instead.

[2022-08-01 23:56] #46982 closed

[2022-08-02 00:03] dylhunn commented on #46935
Angular calls validators as often as needed to re-render the view. We make no guarantees about how often your validators will be called, but it could be many times if your view is frequently updated.

We could make some improvements in this area to call the validators less, but for now you might consider memoizing your validation results, if it's expensive.

[2022-08-02 00:03] #46935 closed

[2022-08-02 00:05] Leccho commented on #46971
@dylhunn as shown in the example above, I need different `Validators` for each `FormControl`. I mostly use this in a multi input search form where I want to provide feedback to the user. In this search form, depending on which input you fill, other inputs validators should be updated to have enought information to complete the search.

[2022-08-02 00:56] atscott commented on #47001
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2022-08-02 00:56] #47001 closed

[2022-08-02 06:10] JustDoItSascha commented on #47004
@dylhunn I understand what you want to say, but that was not what I was asking for ;-) It could make sense to go the way from model to controls, but I just want to pass the form value to a function to handle it and want to type the arguments of this function.

And you have a Mapped Type for it, but don't make it publicly available and even in the other issue you linked, there is no reason why you

[2022-08-02 07:18] johngrimsey commented on #47012
@atscott Thank you, appreciate you taking the time to look 🙏

[2022-08-02 07:29] ashide2729 commented on #46985
thanks, using git bash worked
also, I see there was  a suggestion to add this in documentation until we support powershell/cmd
so if this will take time then I suggest we add this to the documentation
@jessicajaniuk @pkozlowski-opensource if you guys give a go ahead I can create a ticket along with PR for the same

[2022-08-02 07:40] emolenaar1972 commented on #46938
Hello [damodharanj](https://github.com/damodharanj), did you already manage to load your Angular 13/14 app via SystemJS? I'm facing the same issue, but I'm stuck. Opened a question in StackOverflow, but no answers yet.

[2022-08-02 08:11] crisbeto commented on #46986
I suspect that the code was written in this way to capture the case where the element isn't known, but there's a directive matching the specific tag name, but it's currently verifying that _any_ directive matches the element which is incorrect. See https://github.com/angular/angular/blob/main/packages/core/src/render3/instructions/element_validation.ts#L84.

[2022-08-02 08:18] Asif905 commented on #46983
@jessicajaniuk I am not using Ivy with either version 9 or 12.  Stackblitz code link: [](https://stackblitz.com/edit/angular-ivy-bqpprh?file=src%2Fapp%2Fapp.component.html,src%2Fapp%2Fapp.component.ts,tsconfig.json). When I first select "Bangalore" from dropdown, it assigns correct value to Street and State form control. But, after that If I update the dropdown value to "Kolkata", it doesn't updat

[2022-08-02 08:24] 5te1n commented on #47003
@atscott Thank you. That sounds like a good solution. In my case, I wanted to preload the modules only after the user logged in. So I removed the canLoad-guards after the login and called Router.preload() manually.

[2022-08-02 12:02] spsinghats commented on #37432
@JiaLiPassion   setting this flag in polyfills.ts still causes the minimal reproduciton steps mentioned above to output that the property is still configurable even when sending false. How do I disable this?

[2022-08-02 15:30] jessicajaniuk commented on #46985
@ashide2729 Go right ahead! We'd appreciate the change.

[2022-08-02 16:38] #47003 closed

[2022-08-02 17:58] dylhunn commented on #46971
Ah, OK, I suppose that is a reasonable use case. Although you're right that it's not well-supported.

[2022-08-02 18:06] dylhunn commented on #13993
Glad to hear you're working on this! No rush, but please send it my way and/or ping me when you want a review!

[2022-08-02 18:44] H4TIEL commented on #45662
Issue can be closed

[2022-08-02 20:58] mgechev commented on #44867
We found it valuable, but I'd say we have higher-priority checks we can look into (performance and a11y conformance).

[2022-08-03 01:11] atscott commented on #46983
Thanks for the reproduction. This is happening because you're removing the control and then adding it back immediately. The act of removing it causes the cleanup to happen. Adding it back before change detection is able to clear it out means that it won't be detected as a new control either so it's now in a limbo state.

Your comment "// Adding changeDetectorRef.detectChanges() here updates the va

[2022-08-03 01:11] #46983 closed

[2022-08-03 03:42] GrizzlyEnglish commented on #13993
@dylhunn Not sure if directed at me; but, I do have a PR open in draft (there was a bit of review done) and I seem to not have access to re-open the PR. Can you peek it and reopen please?

[2022-08-03 06:09] Harpush commented on #37706
I believe the runtime check is just a nice way to do what's already possible in ngOnInit or ngOnChanges with the `!` operator. I believe having the ability to get an error on the component template declaration stating that input X is missing but required is a great benefit. The whole type system is meant for those checks in compile time vs runtime to catch bugs as early as possible.
Concerning the

[2022-08-03 06:26] robleka commented on #46918
Hello. Got the same problem all over my application where things can clearly be null or undefined but I receive the warning regardless. Two examples bellow:

![s01](https://user-images.githubusercontent.com/35800595/182538081-e7f3fe0c-515f-4504-97e6-9631037facca.JPG)
![s02](https://user-images.githubusercontent.com/35800595/182538106-c69e919f-7974-4260-8486-ce9339436c88.JPG)
![s03](https://user-im

[2022-08-03 07:51] anisabboud commented on #46918
@robleka the first case you mentioned is because you defined `person!:` (the `!` is the [non-null assertion operator](https://stackoverflow.com/questions/42273853/in-typescript-what-is-the-exclamation-mark-bang-operator-when-dereferenci)).
Replace the exclamation mark with a question mark (`person?:`) and the errors should go away.

(Regarding the second case, I think it's because item is defined

[2022-08-03 08:04] robleka commented on #46918
Thanks, that fixed the first issue. But the second one is still strange to me as "item" is optional. Yes, it can be of any type, but it still is optional, it might not exist or it may be null. Another strange case I found is this one:

I have an object with numbers as keys:
companiesById: CommonTypes.NumberObjectKeys<Company.FlatItem> = {};

I cannot know which keys exist and which not as they are

[2022-08-03 08:56] Asif905 commented on #46983
@atscott The reason I have added remove control as I had a behavior to show different fields based on the dropdown selection.

Also, my question is **why this same code used to work in Angular 9 and not in Angular 12**...?  Is there any changes done for this

[2022-08-03 10:53] mhaertwig commented on #46965
@devversion The build works fine with `--strategy=BundlingTypes=remote,sandboxed,local` but unfortunately I don't see any additional logging output in the console.

- Here's an example output of a failing build: [error.log](https://github.com/angular/angular/files/9250601/error.log)
- And here's a build with `strategy=BundlingTypes...` set: [no_error.log](https://github.com/angular/angular/files/9

[2022-08-03 11:21] RandAldurayhim commented on #18967
It will be a real help.. i am waiting.
i am new to Angular, and i thought there is a feature like this.

[2022-08-03 11:33] nunoarruda commented on #46918
Tip: watch out for optional properties inside `*ngIf` blocks. If you're checking if an optional property is truthy then references of that property inside that `*ngIf` block will always be truthy and thus the `?.` operator is unnecessary. Example:

TS:
`user?: {firstName: string, lastName: string};`

Template:
[code]

[2022-08-03 11:52] devversion commented on #46965
@mhaertwig Okay, I have new information. If there is no log output polluting `stdout`, then a similar scenario can be reproduced if e.g. the worker script/or Microsoft API extractor would call `process.exit(1)`. If such cases, the worker just exits immediately but does never respond with the `WorkResponse`, nor is the `stdout`/`stderr` transported/captured.

So maybe something like this happens. P

[2022-08-03 11:54] devversion commented on #46965
Worker debug mode can be enabled with `sed -i "s#DEBUG = false#DEBUG = true#" node_modules/@bazel/worker/src/worker.js` (when added as a postinstall for example). unfortunately though there still wouldn't be any log output when the worker processes immediately exit with `process.exit`

Maybe an idea would be to hop into `node_modules/@bazel/worker/src/worker.js` and capturing/writing the log outpu

[2022-08-03 11:56] Den-dp commented on #17606
Have a similar use case where I have a **3rd party library** that uses `APP_INITIALIZER` to init itself which is not working for lazy loaded feature modules.

I understand that this library probably was designed to be used as an eagerly loaded module, but I don't see big reasons why it shouldn't work with lazy loaded feature modules and theoretical `MODULE_INITIALIZER`.

Unfortunately, the followi

[2022-08-03 12:16] devversion commented on #46965
I think the best you can do is add something like the following to the `process.stderr.write` patch in `worker.js`

[code]

And if you can then reproduce the failure locally, just print the `/tmp/worker-log.txt` file to see if there is anything inside it. I was able to see something but I'm not quite sure it's the root cause or an artifact from debugging:

[code]

[2022-08-03 12:26] naveen-murali opened #47025 "Unable to access all router params from the service or the resolver."
### Which @angular/* package(s) are the source of the bug?

router

### Is this a regression?

Yes

### Description

[code]

Here in the `EnvironmentResourceResolver`, I am getting the `:resource` but not the parent params (ie, `:environmentId`).

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Ple

[2022-08-03 12:44] Den-dp commented on #45748
In the meantime are there any lifehacks on how we can currently debug the DI?

Something like console.log'ing all instantiated services for a module will be helpful

[2022-08-03 13:12] ArielGueta opened #47026 "Add matrixParamsHandling to the router"
### Which @angular/* package(s) are relevant/related to the feature request?

router

### Description

There are options for preserving query params and fragments but not for matrix params.

### Proposed solution

Be consistent and add `matrixParamsHandling`:

[code]

### Alternatives considered

We need to do it manually now.

[2022-08-03 13:44] frontdatacloud commented on #30264
Also encoutered this issue, would be really nice if it could be added !

[2022-08-03 14:56] xuan-nguyen-swe commented on #16051
overwrite Location.stripTrailingSlash has side effect when matching route 😢

[2022-08-03 15:04] mhaertwig commented on #46965
Thanks a lot! I can confirm the above error occurs exactly at the moment the build breaks.

I am currently adding debug statements everywhere to find out what causes the bug. I'll keep you updated.

[2022-08-03 15:18] devversion commented on #46965
Thanks for confirming. Interestingly this code seems to break before the actual type bundle worker logic runs. It seems to fail when parsing the `WorkRequest` delivered through `stdin`. Either:

* Bazel is sending an incomplete proto buffer
* @bazel/worker is parsing incorrectly (e.g. buffer is incomplete)
* @bazel/worker uses a different version of the proto

I would need to investigate further,

[2022-08-03 15:42] MikaStark opened #47027 "Form control value is null when initialized with undefined"
### Which @angular/* package(s) are the source of the bug?

forms

### Is this a regression?

No

### Description

When you initialize a `FormControl` with an `undefined` value (initial state) the `FormControl#value` is null.
The value is `null` instead of `undefined` to be short

### Please provide a link to a minimal reproduction of the bug

https://stackblitz.com/edit/angular-ivy-x37dzv

### Pl

[2022-08-03 16:01] FliCrz commented on #47027
Hi,
can you try with this: `new FormControl({value: undefined, disabled: true})`?
from: https://github.com/angular/angular/issues/40608

[2022-08-03 16:32] eneajaho commented on #18967
With the new component creation apis, this feature would be easier to implement.

[2022-08-03 16:39] atscott commented on #47025
Hi, this is working as intended. You have to set `paramsInheritanceStrategy: 'always'` in the `RouterModule.forRoot` options: https://stackblitz.com/edit/angular-ivy-rkdrhi?file=src%2Fapp%2Fapp.module.ts,src%2Fmain.ts,src%2Findex.html

In the future, please also include a _runnable_ reproduction of your issue.

[2022-08-03 16:39] #47025 closed

[2022-08-03 16:50] MikaStark commented on #47027
For me this suggestion is not acceptable as I use nonNull form builder and due to a bad type inference (there is an issue for that) it will require too much refactor from me. I think undefined should be supported as a valid state value for a form control

[2022-08-03 16:50] philmayfield commented on #44351
I also fixed this recently by moving my suite wide `beforeEach` logic into a callable function, and for the tests that use `fakeAsync` calling that function in each `it` block.  The tests that didn't need `fakeAsync` could all be called in a `beforeEach`.  Annoying - but it is what it is?

[2022-08-03 17:06] atscott commented on #18967
This is correct, but more specifically this PR in particular: [feat(core): add ability to set inputs on ComponentRef](https://github.com/angular/angular/pull/46641). We plan on revisiting this feature in the near future.

[2022-08-03 18:19] AndrewKushnir commented on #47027
@MikaStark thanks for reporting the issue. It's a known limitation of the Forms APIs where `null` is used as a default value in FormControl ([see here](https://github.com/angular/angular/blob/6fabc0c6795e8a74443ee101a40f9c5c841e1780/packages/forms/src/model/form_control.ts#L427)). Changing this behavior to drop `null` as the default value would result in a breaking change, see my comment here: htt

[2022-08-03 18:44] vugar005 commented on #45969
Hi @pkozlowski-opensource
Thank you.
I just saw Angular 14.1.1 was released but there is no mention of angular element.
Could you tell please whether is it expected?
Thanks in advance

[2022-08-03 19:00] atscott commented on #12522
This change is being made in https://github.com/angular/angular/pull/46569 and I'm hoping to land it in v15. The change is considered breaking because it changes the specifics of the timing that components get created.

[2022-08-03 19:37] thutinavaneethreddy commented on #46919
@marleypowell Can you please explain how you resolved the issue? I mean what did you do to turn "broken fesm2020" into  "working fesm2020"?

[2022-08-03 19:40] marleypowell commented on #46919
I'm using bazel.build to compile the UI library. I checked the package output and it was wrong in the wrong format. I'm assuming the Angular Package Format (APF) has changed at some point. It's worth noting this happend when going from Angular v12 to v14.

I updated the bazel configuration to the latest and the package format seemed to be fixed.

[2022-08-03 20:08] muhamedkarajic commented on #37706
Regarding the undefined vs missing that can be done by having a boolean which will be set to true if the setter is ever called, then OnInit you can check all inputs if they were set.

[2022-08-03 20:13] alxhub commented on #47027
@AndrewKushnir I'm thinking that even if we can't change the main behavior, there are two things which we should consider:

1. We should consider the interaction with `nonNullable: true`. Perhaps this shouldn't be allowed (a `null` initial value + a non-nullable control), or we should explicitly include `null` in the return type _anyway_ (that is, ignore `nonNullable`) if `null` is specified as th

[2022-08-03 21:25] johngrimsey commented on #47012
Setting the `viewContainerRef` property of `MatDialogConfig` hasn't made any difference for me.

Refreshing the page after the modal-related URL has been set, and the modal not rendered - refreshing the browser makes it work.

Like the author of #46500 wrote, this did actually used to work flawlessly, but has stopped working. I've trawled through the changelog for any changes to the `Router` that

[2022-08-03 21:50] alxhub commented on #43939
I'm going to close this as discussion seems to have come to a stop over a year ago, and in general the original issue isn't specific and actionable for us.

However, our thinking on the team is very much along these same lines - we're working to dramatically simplify the experience for new developers (via efforts like standalone components, etc), to reduce boilerplate, etc.

[2022-08-03 21:50] #43939 closed

[2022-08-03 22:12] MikaStark commented on #47027
For me it’s not really a problem to force default type as null (it makes sense and remove the ambiguity between null and undefined). Actually the issue is the type inferred. Like I said before, using typescript to force undefined to become null is not a breaking change and will provide a stronger way to handle forms values. Of course it’s just my opinion but the fact is I have to manually add `??

[2022-08-03 22:58] bob-watson commented on #46940
@pkozlowski-opensource do you have any suggestion where a good place to recommend this might be?

[2022-08-03 23:37] atscott commented on #47012
@johngrimsey Just to clarify - your example is using `ngneat` for the dialog but you mention using `MatDialogConfig`. It looks like the change that probably caused this was https://github.com/angular/components/commit/1199b39ac05a2a7abea64fad50e279bb07227d4c / https://github.com/angular/components/commit/f91b98fff3beff70b2537f8b3da635518ef403ef.

Previously what was happening was that the dialog w

[2022-08-04 01:47] dylhunn commented on #46442
A quick update for everyone following this issue with `FormBuilder` type inference.

**Tl;dr: We're going to fix this rough edge, but it could take a few months.**

With Typed Forms, we attempted to simply add types to the existing system. I think this was mostly successful, but `FormBuilder` in particular is just fundamentally not type safe. In particular `ControlConfig` arrays (the `[value, vali

[2022-08-04 02:33] dylhunn commented on #46442
@destus90 I actually cannot reproduce your specific example. Mind linking me to a StackBlitz?

[2022-08-04 02:58] dylhunn commented on #13993
@GrizzlyEnglish I have reopened it. Is it ready for review?

[2022-08-04 03:54] chernodub opened #47039 "Silent fail of preprendering"
# 🐞 Bug report

Hi guys, firstly, I wanted to say thanks for your hard work, truly appreciate that 🙌

#### What modules are related to this issue?

- [x] **builders**, but I'm not sure
- [ ] common
- [ ] express-engine

### Is this a regression?

Probably, no

### Description

So, I was playing around with the prerendering feature, but faced an issue - some of my routes were empty after prerenderi

[2022-08-04 06:13] ashide2729 opened #47035 "Add workaround in docs/developer.md for failing angular yarn build on windows powershell and cmd"
### Description

On Windows, the angular yarn build fails with the error
`BazelWorkspaceStatusAction stable-status.txt failed: Failed to determine workspace status`
This is due to indirect Bazel requirements.

The workaround to fix this issue is to use Git bash or equivalent until we support other shells as well

References:
https://github.com/angular/angular/issues/46780
https://github.com/angula

[2022-08-04 06:18] ashide2729 commented on #47035
This issue is to track the change as requested above, not sure how to assign it to me as I will be raising a PR for this issue

[2022-08-04 06:46] jnizet commented on #47027
@alxhub maybe I misunderstood what you meant, but regarding your first point, null is and should still be accepted as a value for a nonNullable control. This looks contradictory, but that's only because it was decided to rename `initialValueIsDefault` to `nonNullable`, making things very confusing IMHO.

A `nonNullable` control can have a null value. `nonNullable` only means that the `reset()` met

[2022-08-04 06:50] mohammadaltamas opened #47036 "scroll back to top is missing"
### Which @angular/* package(s) are relevant/related to the feature request?

_No response_

### Description

When i am at bottom of the doc then i can't go bottom to top.
![issue](https://user-images.githubusercontent.com/48707190/182781107-0e213f4f-3215-48bb-a1d4-ad4d35c643d3.png)

### Proposed solution

So for that i think there is either back to top button or back to top there should be.
![btt

[2022-08-04 07:12] ashide2729 commented on #47035
PR: https://github.com/angular/angular/pull/47037

[2022-08-04 07:15] danielkresta commented on #37622
Any updates on this?

I've discovered this when doing assignment to an input in strict mode:

[code]

And in the component, the Input is defined as follows (and the strict template allows this as it expects `T | undefined`):
[code]
Yet the value becomes null because the compiled template looks like this:
[code]
This does not look like a correct implementation of optional chaining.

The issue defea

[2022-08-04 07:40] thw0rted commented on #37706
OK so again, **this issue** is not about runtime checks, it is about changing the behavior of the template engine.  If you'd like to continue discussing runtime checks please do so in the issue you opened about those, to avoid confusing future visitors here.  (The runtime-check conversation already represents more than half the posts in this thread!)

[2022-08-04 08:12] ghovmand commented on #46918
Got the same warning:

[code]

After I "fixed" the warning it, got following error:
[code]

[2022-08-04 08:55] anisabboud commented on #46918
@ghovmand try `koersel.noegletal?.antalKanIkkeFordeles`

[2022-08-04 09:04] JoostK commented on #46918
It appears there is some confusion which optional chain is redundant. It's always the one to the _left_ of the underlined property. If I recall correctly it wasn't possible to highlight just the operator, hence we now highlight the property name, but perhaps this can be improved as well. I'm currently on vacation though, so won't be able to look into this at the moment.

[2022-08-04 09:07] alan-agius4 commented on #47039
After looking a bit into this, it appears that the router is not re-throwing the error

Basically the below is not working as intended.
https://github.com/angular/angular/blob/d583f85701b0424496e263bf1cbc2c619869437e/packages/router/src/router.ts#L1398-L1402

[2022-08-04 09:38] ghovmand commented on #46918
Thanks, that solved the issue for me; always look to the left :)

[2022-08-04 13:12] johngrimsey commented on #47012
Hey @atscott, thanks ma. Apologies yes I rather unscientifically supplied a reproduction example using `ngneat` but am infact using `@angular/material`. I was pretty satisfied there is consistency between my repro example and what I'm seeing here in my working context.

[2022-08-04 15:29] mhaertwig commented on #46965
I started analyzing the `stdin` buffer to narrow the bug more down. Finally I found [this code](https://github.com/sbb-design-systems/sbb-angular/blob/main/src/journey-maps/angular/types.d.ts), removed it and all its usages.

I don't want to get too excited yet but the error did not occur since several builds. Could this be the reason?

[2022-08-04 15:47] devversion commented on #46965
Oh interesting. Do you have more details on why you think this might mess with the `stdin` proto/buffer? Last time I checked the protobuf reading through `stdin` failed when it tried to read the `Input#digest` of the Bazel input.

[2022-08-04 15:52] mhaertwig commented on #46965
To be honest I have no idea and currently do some try and error to find the reason for the failing build.

[2022-08-04 16:03] #47035 closed

[2022-08-04 16:30] #45889 closed

[2022-08-04 16:31] dylhunn commented on #45889
Closing, as this appears to have been fixed.

[2022-08-04 16:35] quranc opened #47043 "Input attribute for autofocus have no effect"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

Yes

### Description

Using the `autofocus` attribute on an `<input>` element is having no effect when using property binding.
It does not change the behaviour, no matter of values.

Not working:
`<input [attr.autofocus]="true"/>`

Working:
`<input autofocus/>`

### Please provide a link to

[2022-08-04 18:09] digeomel commented on #46542
@bob-watson that's great and as I wrote above this is exactly what I recommend my team to do, but can we please have it written in the documentation, instead of just having the generic mention of the `async` pipe?

[2022-08-04 18:24] digeomel commented on #46542
Related to this topic, another pain point that I struggled to convince my team about it to never create such observables in (singleton) services, at least not without an extra mechanism to unsubscribe from the previous observable before creating a new one. I suppose this should be obvious coming from the recommendation to always unsubscribe when a component is destroyed, but again, would be nice t

[2022-08-04 23:18] atscott commented on #47043
It appears this behaves as expected. If you still feel there is an issue, please provide further details in a new issue.

If you're using static attributes, there's no reason to bind with `attr.`

[2022-08-04 23:18] #47043 closed

[2022-08-04 23:37] atscott commented on #47039
@alan-agius4 Can you provide some more details? This will throw an error in the browser. Why is the prerender not throwing?

[2022-08-04 23:41] atscott commented on #47039
I updated the router bundle  in `node_modules` so the `scheduleNavigation` always just returns `Promise.reject('lkajsdflkjasdf')` and there is no error in the prerender. If I update the function to `throw 'some error'`, then it _does_ cause the prerender to fail. This seems like an issue outside of the Router code.

[2022-08-04 23:56] atscott commented on #47036
We appreciate your suggestion. If you want to implement this, we'd be open to reviewing a PR. Closing since this would be lower priority than just about any other improvement we could make so we wouldn't invest time in it ourselves.

[2022-08-04 23:56] #47036 closed

[2022-08-05 02:15] atscott commented on #47039
I don't know why the rejected promise is getting swallowed during prerendering. You can at least solve this in user-space by always logging the router errors to the console:

[code]

[2022-08-05 07:52] devversion commented on #46965
If it works like that, then this is good additional info for the worker issue. I would need to look more into this and also inspect the buffer. Potentially there is a bug with `@bazel/worker`.

[2022-08-05 11:24] destus90 commented on #46442
@dylhunn

from another issue https://stackblitz.com/edit/angular-ivy-qtt7cf?file=src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fapp.module.ts,src%2Fapp%2Fapp.component.html

[2022-08-05 11:44] alan-agius4 commented on #47039
@atscott, while the above is a workaround, it's far from ideal and it doesn't solve the root cause and would require a migration to update all users that are using universal.

One thing that caught my eye is that in the router that are a number of floating promises.

Example:

[code]

[2022-08-05 11:56] alexonozor opened #47049 "Service worker is not been registered DOMException"
I keep getting this error using PWA service worker.

[code]

</code>
   ng add @angular/pwa@13
</code>

App Module
[code]

***ngsw-config.json***
[code]

*package.json*

[code]

[2022-08-05 13:35] kbrilla commented on #37619
any updates on this?

I think I have similar issue

stackblitz: [link](https://stackblitz.com/edit/angular-ivy-gpknqn?file=src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fapp.component.html,tsconfig.json,src%2Fapp%2Fstring-only-pipe.pipe.ts,src%2Fmain.ts,src%2Fapp%2Fhello.component.ts)
[code]
evaluates to string correctly in typescript
[code]
but in tempalte it throws
[code]
[code]

[2022-08-05 13:56] andrew1931 opened #47050 ""routerLinkActive" directive causes infinite CD loop"
### Which @angular/* package(s) are the source of the bug?

router

### Is this a regression?

No

### Description

In the link provided below you can find a list of `a` tags being rendered via `ngForOf` directive. This list can be rendered from `linksArr` array and from a function `links` which returns the same array (_yes, I understand that using function inside a loop is no the best idea but it

[2022-08-05 14:47] dzonatan opened #47051 "Router can no longer be optionally injected"
### Which @angular/* package(s) are the source of the bug?

router

### Is this a regression?

Yes

### Description

This was broken in #46914 (released in v14.1.0).

You can no longer optionally inject a `Router` service:

[code]

without importing `RouterModule` (or `RouterTestingModule`) results into:

[code]

Our use case is that we have some general purpose components which have different log

[2022-08-05 15:07] guptmay02 commented on #42490
Works well in Firefox and Chrome with this solution,

[code]

[code]

[2022-08-05 15:26] atscott commented on #47051
The router being optionally injectable was not defined or documented behavior of the Router. Making it a providedIn: root service aligns with the direction of best practice for Injectables.

I would suggest using a different optionally provided token for your behaviors.

[2022-08-05 15:26] #47051 closed

[2022-08-05 15:27] atscott commented on #47050
Duplicate of https://github.com/angular/angular/issues/20995

[2022-08-05 15:27] #47050 closed

[2022-08-05 15:30] atscott commented on #47051
@dzonatan can you describe what you’re trying to do with the optional router a bit more concretely? Let’s work together to find a more appropriate solution.

[2022-08-05 15:34] alan-agius4 commented on #47039
@atscott, I debugged this a bit more and as suspected this is indeed the caused by the floating promises.

I tried to remove a number of floating promises (By patching the `node_modules` directly) and did indeed result in the error to bubble up correctly.

[2022-08-05 17:00] atscott commented on #47051
Note that the error was a legitimate issue and is fixed by https://github.com/angular/angular/commit/c7fed38cf0fbf072182ec666415ea50f8e84f7f7

However, that isn't really the problem you're trying to work around here since you'll just always get a `Router` when you attempt to inject it. Another option would be to optionally inject `ActivatedRoute` instead. That would work immediately for you, but i

[2022-08-05 18:51] matheo commented on #37319
+1 here
I'm trying to programatically create a control dynamically with a wrapper
and `@ContentChild` cannot fetch the projected component:
![image](https://user-images.githubusercontent.com/260185/183141604-877b685f-d660-40f6-b4ee-7be904d781bd.png)

dyn-factory.html:
[code]

dyn-factory.ts:
[code]

and having this simple wrapper:
[code]
for this simple control:
[code]
works in the HTML output but

[2022-08-05 20:42] alxhub commented on #47049
Hi @alexonozor,

Can you share a Github repo with reproduction instructions which demonstrates this problem? It's unclear by your description if there are any other changes in the application, how you're serving the app, etc.

[2022-08-06 10:48] dario-piotrowicz commented on #46948
Yeah this is quite a common scenario, having a built-in way to handle it would be nice :slightly_smiling_face:

But regarding the proposed solution I am curious, would the `await` pipe have any practical use outside the use case described? Because the `async` pipe is generic and usable in various different scenarios, I think that if the `await` pipe would only serve this single purpose that it sho

[2022-08-06 10:58] mlc-mlapis commented on #46948
A similar syntax could be used then, as with RxJS operators, i.e., `*ngIf="{ myData$, selectedItems$, myPromise$ } | combineLatest as props; else loading"`. 😄

[2022-08-06 11:11] 4javier opened #47059 "Rephrasing lazyloaded modules' injector inheritance"
### Description

https://angular.io/guide/providers#limiting-provider-scope-by-lazy-loading-modules

Reading this extract the way is currently formulated, it makes people think a lazy loaded module's component will always get **a new copy of the service**, even if no lazy module provider is overriding its root one.
It looks like RootInjector's providers get **cloned** into ChildInjector and not ju

[2022-08-06 13:30] Code-By-Asutosh opened #47060 "Angular Universal Issues"
### Which @angular/* package(s) are the source of the bug?

platform-server

### Is this a regression?

No

### Description

Hi, i am using angular universal for my project, whenever i run (by using this command npm run dev:ssr) that application. i face some issues. i can't resolve it, because not have enough documentation are there in internet.
"Can anyone please help me how I can resolve this pr

[2022-08-06 14:47] dario-piotrowicz commented on #18789
I am not sure that this is a bug, `AnimationPlayer` instances can indeed be replayed more than once, the issue with the stackblitz provided is that it is not resetting the player that is not supposed to animate anymore.

With this change:
[code]
everything works as expected (as you can see from this [fork of the stackblitz](https://stackblitz.com/edit/animation-player-re-create-yju9vq?file=app%2Fa

[2022-08-06 18:26] karptonite commented on #46886
Try setting your target to es2015 instead of es2017 or es2020. That seems to have made angular 14 work for our Safari 12 users.

[2022-08-06 19:50] chickencoding123 commented on #46864
In order to address ambiguities, you'd need a schema like JSON or TS type to define what must be generated and how (E.g. one control with object value vs. multiple controls or conditional types etc...). I proposed something in this domain to auto-generated a form based on a given schema _although a TS type can be used instead_. The original idea was to use a savable JSON schema so that creating fo

[2022-08-07 13:24] alexonozor commented on #47049
@alxhub Thanks for your reply.
I am serving the app with the `http-server dist/shopbot` after `ng build` please find the link to the repo thanks in advance.

[](https://github.com/alexonozor/shopbot)

[2022-08-07 17:38] dario-piotrowicz commented on #47060
Hi @Code-By-Asutosh , sorry for being a stick in the mud, but this looks like a question which should be posted on [stackoverflow](https://stackoverflow.com/) rather than as an issue here (please have a look at this [md section](https://github.com/angular/angular/blob/68a6a075f4aeab1788a1bba736bfcb428cfbbacb/devtools/CONTRIBUTING.md#-got-a-question-or-problem)).

___

Besides what I just mentioned

[2022-08-08 00:57] pkozlowski-opensource commented on #47060
Thnx @dario-piotrowicz for offering help 👍 . As you've mentioned this is more of the support request so it doesn't belong to the issue tracker, really. As such I'm going to close it but you are more then welcomed to continue the discussion in here.

[2022-08-08 00:57] #47060 closed

[2022-08-08 02:40] wardvisual opened #47070 "docs: deprecated typescript reference link in guide/architecture-components"
### Description

Going to [Introduction to components and templates](https://angular.io/guide/architecture-components), you will see this link [parameter property](https://www.typescriptlang.org/docs/handbook/classes.html#parameter-properties).

![ss1](https://user-images.githubusercontent.com/64777371/183326266-881935a9-e4f0-4e4e-8623-e8981caecf21.jpg)

If you click that link, you will be directe

[2022-08-08 06:41] VarunKumarPalugula opened #47071 "Angular web component directive its not working"
### Which @angular/* package(s) are the source of the bug?

elements

### Is this a regression?

No

### Description

I am trying to convert angular components to angular web component, I followed few articles to do it which is good, but when I tried to convert angular directive as web component it throws some error which I am not able to figure out what is wrong I am doing, also I don't have any

[2022-08-08 06:53] csisy commented on #37319
Yep. We wanted the same thing and then found this issue which is open since May 28 2020...

[2022-08-08 07:44] Jrubzjeknf opened #47072 "FormControl incorrectly accepts other FormControls as value"
### Which @angular/* package(s) are the source of the bug?

forms

### Is this a regression?

No

### Description

With typed forms, it is possible to accidentally assign a FormControl to the value of another FormControl. This results in the value of the latter FormControl to be `[Object object]`. The typed forms should guard against accidents like this, but a `new FormControl<string>(new FormCont

[2022-08-08 08:45] sergidt opened #47073 "Possible regression: ngOnDestroy is not called when providing using a factory function"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

Yes

### Description

Related with this issue: https://github.com/angular/angular/pull/28737

Maybe a regression is possible.

In this provided link, I create a simple provider instantiated with a factory. That logs its creation and destruction (ngOnDestroy). It seems ngOnDestroy is not being called since

[2022-08-08 09:12] alucardu opened #47074 "Headers are getting switched to lazyUpdate"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

While using Cypress (10.4.0) to test my Angular (10.1.6) application my headers get changed. This doesn't happen in production, only during tests.

![image](https://user-images.githubusercontent.com/779921/183382847-86a9f081-6402-43ae-9314-42d3b40fe98b.png)

As you can see in the image

[2022-08-08 09:37] JoostK commented on #47073
Duplicate of #28738

[2022-08-08 09:37] #47073 closed

[2022-08-08 09:38] JoostK commented on #47074
Angular 10 is no longer supported. It looks like you're setting a header with a `null` value, which is not accepted by the type system of `HttpHeaders.set`. Please check your usages of this method to avoid setting a null value.

[2022-08-08 09:39] #47074 closed

[2022-08-08 09:41] JoostK commented on #47071
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2022-08-08 09:41] #47071 closed

[2022-08-08 09:59] Lonli-Lokli opened #47076 "Production build removes important information from error"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [x] build
- [x] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] extract-i18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

Yes, it was working in some previous ng versions
### Description

Production minified build remove importannt information from error, while dev

[2022-08-08 10:24] VarunKumarPalugula commented on #47071
HI @JoostK
Thankyou for your quick response..

One Confirmation does angular web components  not have support for angular directive?

[2022-08-08 10:25] mhaertwig commented on #46965
The above linked workaround was not the reason for the failing build. I have no further ideas and use your `--strategy=BundlingTypes=remote,sandboxed,local` fix as a temporary solution.

It would be great if you find the time have a deeper look into this issue. Let me know if I can help you somehow.

[2022-08-08 10:31] sergidt commented on #47073
Ok make sense, sorry.

[2022-08-08 11:19] kbrilla opened #47077 "Using ?. in template does not narrow type in *ngIf directive"
### Which @angular/* package(s) are the source of the bug?

compiler, core, language-service

### Is this a regression?

No

### Description

with strict mode on for TypeScript

[code]

[code]
evaluates to string correctly in typescript
[code]
but in the template, it throws
[code]
[code]

### Please provide a link to a minimal reproduction of the bug

https://stackblitz.com/edit/angular-ivy-gpknqn

[2022-08-08 11:27] henninga commented on #40103
Any workaround for this bug, even though it is caused by chrome ios? Or are there a angular fix for this as well?

[2022-08-08 12:07] alan-agius4 commented on #47076
This is because certain error information tree-shaken when `ngDevMode` is false.

[2022-08-08 12:10] #47070 closed

[2022-08-08 12:15] Lonli-Lokli commented on #47076
I understand that, but I am sure that `Can't resolve all parameters for AuthHttpInterceptor: (?, ?, ?).` shouldn't be tree-shaken, it's too important.

Also, this error is not documented - there is no NG0204 here in the tree or url, like https://angular.io/errors/NG0203

[2022-08-08 13:59] antch opened #47078 "CommonJS modules used in a Library are not loaded properly during Application runtime"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

Yes

### Description

When consuming an Angular Library that imports a CommonJS dependency, the dependency isn't imported correctly. This is most obvious when there is a default import that is supposed to be able to be used as a constructor, for example:

[code]

The above succeeds in the application code

[2022-08-08 14:21] antch commented on #47078
I just realized that this has already been reported in ng-packagr: https://github.com/ng-packagr/ng-packagr/issues/2215.
Closing this.

[2022-08-08 14:21] #47078 closed

[2022-08-08 14:33] prasannaatibc commented on #32103
Hello!
I'm running an Angular project with version listed below

Angular CLI: 13.2.6
Node: 14.15.0
Package Manager: npm 6.14.8
OS: linux x64

Angular: 13.2.7
... animations, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, platform-server
... router

Package                         Version
---------------------------------------------------------
@angular

[2022-08-08 15:07] infacto opened #47080 "Allow custom required validators or add conditional required."
It's about `forms`.

I found out that the `Validators.required` function adds the `required` attribute to the html input element. But I cannot find any related code. I just found the validator it self. But I guess that there is some code what checks if exactly **this** validator is set and binds the required attribute to it. But how to register an own custom required validator?

https://github.com

[2022-08-08 18:34] atscott commented on #47059
Agreed, this could be clarified better. Would you be willing to create a PR to update this?

[2022-08-08 19:02] 4javier commented on #47059
Yes, I'll take care of it soon.

[2022-08-08 20:51] AndrewKushnir commented on #47080
@infacto the code that sets the `required` attribute is located here: https://github.com/angular/angular/blob/main/packages/forms/src/directives/validators.ts#L360.

You can find additional information on how to create custom validators (for both template-driven and reactive forms) here: https://angular.io/guide/form-validation#defining-custom-validators

Since this ticket doesn't fall into the bu

[2022-08-08 20:51] #47080 closed

[2022-08-08 20:55] AndrewKushnir commented on #47076
@Lonli-Lokli this is working as intended: we optimize production builds to remove all dev-mode-only content (in this case, the error message string as well as supporting code to produce it). We are adding more error guides incrementally, but didn't have a chance to do that for this particular error and we'd welcome a community contribution on this (or any other error message guide).

[2022-08-08 20:55] #47076 closed

[2022-08-08 20:56] 4javier commented on #47059
@atscott
Re-reading this paragraph, it looks to me not only misleading, but completely wrong.
Did I misinterpreted how injector inheritance works, or this assertion is conceptually wrong and not just misphrased?

I wanna be sure to not edit a page inserting incorrect informations.
It's clearly referring to inherited providers, and saying that lazy loaded modules gets a distinct instance of the ser

[2022-08-08 22:08] atscott commented on #47059
@4javier The documentation was likely written at a time before the `providedIn` feature for injectables. So it was probably more of the case then that injectables were written as `{provide: x, useClass: XImpl}` so any child module that imports a module with that same provider would be an injector boundary where a new instance would get created.

The documentation also often _attempts_ to describe

[2022-08-08 23:33] jessicajaniuk commented on #14641
This issue should now be fixed with a new extended template diagnostic.

[2022-08-08 23:33] #14641 closed

[2022-08-08 23:34] alxhub commented on #46857
(Closing due to no resposne)

[2022-08-08 23:35] 4javier commented on #47059
@atscott
Ouch. I got to admit I was not used to bootstrapping and provideRoutes, but I think I got the gist.
At this point I'd be more inclined to rewrite the whole paragraph of that page.
I'd reorganize it this way, tell me what you think about the idea:
two macro-block of providing system `@NgModule/Routes` and `@Injectable`

**@NgModule/Routes**

- Plain old `providers` array in `@NgModule`: ev

[2022-08-08 23:35] 4javier commented on #47059
@atscott
Ouch. I got to admit I was not used to bootstrapping and provideRoutes, but I think I got the gist.
At this point I'd be more inclined to rewrite the whole paragraph of that page.
I'd reorganize it this way, tell me what you think about the idea:
two macro-block of providing system `@NgModule/Routes` and `@Injectable`

**@NgModule/Routes**

- Plain old `providers` array in `@NgModule`: ev

[2022-08-08 23:38] alxhub commented on #46837
I believe this is working as intended. Embedded views don't have their own `ChangeDetectorRef`s (as far as I understand) - injecting the `ChangeDetectorRef` from an embedded view gives you the declaring component's instance.

[2022-08-08 23:38] #46837 closed

[2022-08-08 23:43] alxhub commented on #45812
Yep - I agree that this is more of a browser problem then Angular. We _do_ consider adding workarounds to the FW if it makes sense, but I'm not sure there's anything we can do in this case.

[2022-08-08 23:43] #45812 closed

[2022-08-08 23:46] alxhub commented on #47027
Yep, by (2) I mean doing `new FormControl(undefined, {nonNullable: true})` would be an error - we'd force you to go through the `new FormControl({value: undefined, ...}, ...)` signature instead.

[2022-08-08 23:50] alxhub commented on #46815
This needs some investigation to see if it's a breaking change or not.

[2022-08-08 23:52] jessicajaniuk opened #47085 "Canonical: Unexpected Behavior related to selector matching"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description

There are cases where selector matching behavior can cause confusion due to it behaving in unexpected ways.

Examples:
#46986

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please pro

[2022-08-08 23:53] jessicajaniuk commented on #46986
Closing this as duplicate of #47085.

[2022-08-08 23:53] #46986 closed

[2022-08-08 23:54] #46973 closed

[2022-08-09 02:56] atscott commented on #47059
@4javier Unfortunately I think we’re getting too deep into the specifics of injector hierarchies. I would say the docs here should be even  _less_ descriptive, but actually just state what’s really happening.

Ie something more like:
LoadChildren which returns an NgModule creates a new EnvironmentInjector with the module’s providers. A new EnvironmentInjector is also created if a Route has provide

[2022-08-09 03:14] ToanNguyenAdamo commented on #46886
Thank you, It is loaded in safari 12, but a lot of UI parts are not working, for example: clicking mat-button, mat-expansion,...

[2022-08-09 03:58] K-Vishwak opened #47086 "[class]="classExpression" is not working in Angular 12.2.16"
### Which @angular/* package(s) are the source of the bug?

core

### Is this a regression?

No

### Description
[code]

both the types not working as expected.

### Please provide a link to a minimal reproduction of the bug

https://codesandbox.io/s/morning-hill-t6tevq?file=/src/app/app.component.html

### Please provide the exception or error you saw

[code]

### Please provide the environment y

[2022-08-09 05:13] ArielGueta commented on #46837
@alxhub if that's the case, how does the following code works?

[code]

[2022-08-09 06:01] indraraj26 commented on #47086
Looks like bug in codesandbox. Can you share minimal reproduction via github.

I just tested in stackblitz and it is working as expected.

https://stackblitz.com/edit/angular-ivy-cf2srw?file=src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fapp.component.html,src%2Fapp%2Fapp.component.css

[2022-08-09 06:02] JoostK commented on #47086
Object values require the use of the `NgClass` directive, you can't bind objects to the string-based `class` property.

[2022-08-09 06:02] #47086 closed

[2022-08-09 06:03] K-Vishwak commented on #47086
Yes. Thanks.

[2022-08-09 06:04] K-Vishwak commented on #47086
Please refer: https://angular.io/guide/class-binding

[2022-08-09 06:24] JoostK commented on #47086
Ooh, sorry, I stand corrected! Glad that this seems to be a Code sandbox issue then.

[2022-08-09 06:30] Harpush commented on #46815
Considering it's accepted and is a breaking change - is it still possible to add it? As I believe any code that is based on it has some issue to begin with...

[2022-08-09 06:42] jogelin opened #47089 "NavigationError EmptyError: no elements in sequence since upgrade to 14.1"
### Which @angular/* package(s) are the source of the bug?

router

### Is this a regression?

Yes

### Description

Hello,

Since the upgrade from Angular 14.0.6 to 14.1.1, all of your routing configurations are broken because rxjs is throwing an EmptyError when processing the routing.

After some searching, I found that it is related to the commit https://github.com/angular/angular/commit/72e6a9

[2022-08-09 08:50] Lonli-Lokli commented on #47076
@AndrewKushnir @alan-agius4 I can understand that you would like to minimize bundle and remove strings which are static, but `AuthHttpInterceptor: (?, ?, ?)` obviously is a runtime information and so cannot increase bundle size.

Why you don't want to include that? In theory prod build can produce result different than dev, so might be situation when this error do not occur in dev

[2022-08-09 10:14] alan-agius4 commented on #47076
That shouldn’t not happen.

[2022-08-09 10:14] 4javier commented on #47059
Ok.
I'll take this path.
Worth noting that hierarchical injector page makes no mention about `Route.providers` array and `provideRoutes` function, so it should probably be extended.

[2022-08-09 11:07] jepperaskdk opened #65519 "Suggestions for enums not working"
I make an enum accessible in my html using:
[code]
I do get errors when using a enum-value that doesn't exist (1st line), but I don't get any suggestions for the possible enum values.

![image](https://user-images.githubusercontent.com/10128260/183632708-f0352826-c740-4f39-a054-6368a43e239f.png)

[2022-08-09 11:08] johngrimsey commented on #47012
@atscott Do you think anything will come of this or do I need to completely re-think my old approach?

[2022-08-09 11:41] #46857 closed

[2022-08-09 11:55] pkozlowski-opensource commented on #46973
This issue was fixed by #46974

[2022-08-09 12:38] liesahead opened #47091 "(forms): Problems with typed forms and generics/inheritance."
### Which @angular/* package(s) are the source of the bug?

forms

### Is this a regression?

No

### Description

We have some complex forms throughout the apps where we use inheritance. We have created a custom typed forms at some point (quite long time ago) and now would like to switch to typed forms.

However, the types seem to be incorrectly defined as quite trivial code can't be accepted by

[2022-08-09 14:34] atscott commented on #47089
Please provide a minimal reproduction of the issue in order for us to investigate.

[2022-08-09 14:59] atscott commented on #47089
Given the information you've provided, here's a reproduction showing the mentioned config works: https://stackblitz.com/edit/angular-ivy-htfvw6?file=src%2Fmain.ts,src%2Fstyles.css

[2022-08-09 15:08] jogelin commented on #47089
@atscott I will try to reproduce this error. It is failing in a big micro frontend project so not that easy to reconfigure.

But for sure since the upgrade, the routing isn't working in the same way. When I downgrade, it works again.

[2022-08-09 15:18] atscott commented on #47089
@jogelin I'm certainly not disputing that you are encountering an issue. That said, we can't do any investigation without a way to reproduce it.

[2022-08-09 15:32] infacto commented on #47080
@AndrewKushnir Thanks for the info. Actually, my proposed feature is a conditional validator as described above. What do you think about that idea? I may reduce a lot of code on value change subscriptions. Currently validators are only triggered on control touches. It does not act if another value changed. So I think the implementation is maybe more complex as expected. A conditional validator is

[2022-08-09 16:14] atscott commented on #47012
@johngrimsey @crisbeto has a fix for this in the `MatDialog`: https://github.com/angular/components/pull/25406

This is aimed at fixing the issue we could reproduce in https://github.com/angular/angular/issues/46500. Since your reproduction didn't use `MatDialog`, I'm not 100% confident it's the same.

[2022-08-09 16:23] atscott commented on #47089
@jogelin You mentioned you're using a micro frontend. In addition, your issue description mentions "NavigationError EmptyError". If you look at that bit of code, `EmptyError` is _specifically_ being caught and _not_ rethrown so you should never get this in the `NavigationError` (at least from this code location). This leads me to believe there might be some sort of discrepancy in the rxjs version

[2022-08-09 16:30] johngrimsey commented on #47012
Thanks man that's great, appreciate it.

[2022-08-09 16:44] jogelin commented on #47089
@atscott Good point,

when I check this part, the error is re-thrown:
![image](https://user-images.githubusercontent.com/954509/183708545-5ea355c3-e6ef-4a5e-bc55-ee7257a913a9.png)

Below, is my console error, this is why I specified `NavigationError`:
![image](https://user-images.githubusercontent.com/954509/183708791-20091fed-8f64-4e88-84d6-af8fec42e39c.png)

I noticed that sometimes in the same

[2022-08-09 16:54] atscott commented on #47089
@jogelin Indeed.
https://github.com/ReactiveX/rxjs/blob/bb3da37fd3f862d09f3c139f647acd694a4c4877/src/internal/util/EmptyError.ts
https://github.com/angular/angular/pull/21053/commits/1160b8194f78141b40d1d4885ec182d033ff2659

[2022-08-09 18:55] devversion commented on #46965
I likely won't have time to dive into this soon. Glad the workaround is working though.

[2022-08-09 19:50] ShanAtDiligent opened #47099 "fdsf"
### Which @angular/* package(s) are the source of the bug?

bazel

### Is this a regression?

No

### Description

fdsfdf

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in (run `ng version`)

_No response_

### Anything else?

_No response_

[2022-08-09 19:52] #47099 closed

[2022-08-09 20:30] EmmanuelRoux opened #47100 "feat(router): improve typings for RouterLink boolean inputs"
### Which @angular/* package(s) are relevant/related to the feature request?

router

### Description

Boolean inputs of `RouterLink` (and `RouterLinkWithHref`) should also accept empty string `''` (and coerce that value to `true`).

Actually, such inputs are already coerced to boolean when they are read. Instead, they should be coerced by a setter to allow simpler template bindings, such as `<a r

[2022-08-09 22:39] muhamedkarajic commented on #46948
I have looked into that point of view already this is resonable name but I wanted to point out that this isn't like combineLatest. I have optimized the pipe for Angulars CLI and it's an object which contains observables. Also if we call it combineLatest and this becomes a angular feature it will be hard to find blog posts etc about it cause other websites have the terms pipe + combineLatest.

[2022-08-09 22:47] muhamedkarajic commented on #46948
I don't want to introduce a new ngIf I just want to await my observables. Somestimes if I have multiple components inside 1 view I want the properties to extract per component and then to foward them.

If you have observable a$ and b$ and you await them you have multiple issues, there is a workaround but then you have to use 2 ngIfs to do it properly like:

[code]

I don't see a reason why to intr

[2022-08-09 22:59] muhamedkarajic commented on #37706
I have already said why I'm here and that my issue was marked as a duplicate. You can feel free to write in the closed issue your point of view.

https://github.com/angular/angular/issues/46949

[2022-08-10 04:46] ileil commented on #46542
Under "Starting the request", added the following note:

You should always unsubscribe from an observable when a component is destroyed. You can use the [`AsyncPipe`](api/common/AsyncPipe) to subscribe to and unsubscribe from an observable automatically.

[2022-08-10 06:11] thw0rted commented on #46949
@atscott if it makes any difference, I opened the issue that you called a duplicate.  @muhamedkarajic is proposing runtime type validation, while the linked issue (and the ~5 prior issues on the topic) is proposing a change to the template engine, along the lines of `strictTemplates` -- I don't believe any of the previous issues were suggesting runtime checks.

IMHO, these are different requests,

[2022-08-10 06:12] thw0rted commented on #37706
Done.  (I didn't want you to open a new issue, I wanted to argue to reopen your closed issue, so I argued for that.)

Actually, [very nearly 6 years](https://github.com/angular/angular/issues/11904) -- due to the lock-bot, this issue keeps getting opened, locked, then opened again.  There's a list in the OP.

[2022-08-10 07:17] pkozlowski-opensource commented on #46949
@thw0rted we want to centralize the discussion about required inputs in one place, regardless of the proposed solution. Generally speaking we would like to have an issue that focuses on the problem statement as there are multiple approaches and we are not settling on any of the options just yet.

[2022-08-10 07:48] jogelin commented on #47089
@atscott I applied the fix from your PR by using `patch-package` for now and it works!

[2022-08-10 08:19] dzonatan commented on #47051
Sorry for the late reply but this https://github.com/angular/angular/commit/c7fed38cf0fbf072182ec666415ea50f8e84f7f7 actually fixes the use case for us. ✌🏻

[2022-08-10 09:11] Jad31 opened #47106 "Angular Elements does not work with Primeng"
### Which @angular/* package(s) are the source of the bug?

elements

### Is this a regression?

No

### Description

I'm trying to create an Angular Elements using Primeng components. When I run the Angular app everything works just fine. However, once I build and use my Angular Elements containing my Primeng button component, it breaks.

This is what is in my component:

[code]

And here is how