[2018-03-11 09:30] about-code commented on #22657
You've provided a link to essaygrid.com for reproduction. Is that the website where the error happens?

[2018-03-11 09:54] XerO00 commented on #8812
cannot find '@angular/core' resolved for me by simply installing  '@angular' into node_modules
using commands below for linux mint
sudo npm install @angular/core
cd @angular
sudo npm install

This will solve the problem with all the @angular/* error

[2018-03-11 09:56] chenwuwen opened #22703 "use Angular 5.2.8 How to get the downloaded file name, which is not the same as Angular 4"
I use the angular version is 5.28, now the situation is that I want to download the file server request, I set up the ResponseType Blob before Angular 4, the server returns a Response object which contains a lot of information, I can get the Blob object and the name of the file from which now use Angular5, the Blob object is directly received that can't get file name, how can I do, in order to obt

[2018-03-11 11:55] ericmartinezr commented on #22703
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-11 12:57] MainaWycliffe commented on #22657
Yes, it is. I thought, since its only happening when the site is in production and with an SSL certificate (Only time serviceworker is loaded), then it's better to give you the place where am getting the error as it is a publicly accessible site.

[2018-03-11 13:46] irowbin commented on #20511
@bhanukumar04  Yep. i did that already and I am getting that error on `get` method;

[2018-03-11 14:05] about-code commented on #22657
@MainaWycliffe I am sorry, I can't reproduce the issue. Is the site a personal project such that you may provide a repo with the unbundled sources and setup or is it a work for a customer where you are limited in the technical details you can give?

[2018-03-11 14:22] MainaWycliffe commented on #22657
@about-code It's a customers project so I may not be able to provide every technical details but I can try and provide as much as possible.

[2018-03-11 14:59] kr-pawan commented on #15511
`*ngFor` requires that you must have `CommonModule` in your list of `@NgModule imports` for the module in which your component resides.

[2018-03-11 16:03] shahul-basha commented on #15901
ad

[2018-03-11 16:16] vibingopal opened #22706 "How to Record an angular 2 application"
[ x] Feature request
[ ] Documentation issue or request
[x ] Support request => Please do not submit support request here, instead see
## Current behavior
Hello Team,

I have a requirement where i can record the angular 2 application from browser . I saw examples on recordRtc but it won't supports recording the application in the browser. Are there any dependencies available in the market to imple

[2018-03-11 16:38] mikeandersun commented on #22703
@chenwuwen  Please chek in with 5.2.7 , I think there is a problem in 5.2.8 and 6.0.0-beta.7  .
https://github.com/IdentityModel/oidc-client-js/issues/520 maybe related to this.

[2018-03-11 17:12] ericmartinezr commented on #22706
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-11 18:20] shahul-basha opened #22707 "client certificate authentication not working on iOS when using angular http service"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
My server mandates client certificate authentication for any communication with the server. Hence angular http is used to perform the post.
Am using the Cordova Client Certificate Plugin (https://github.com/agenceaddictic/cordova-plugin-client-certificate-addictic.git) for registering the client cer

[2018-03-11 19:18] gabrielcabralbfr commented on #6910
Having the same problem rizwanhussain said. I have a route for place/:placeType and my component is beeing reused every time i change the route (placeType parameter), instead of instantiating a new one. Maybe i'm doing something wrong. Any help?

[2018-03-11 20:14] CMFPRO opened #22708 "Daxie & Angular : Wait until populating DB"
i have a service PhoneService calling (in the constructor) a remote API to get data and populate DB, the AppComponent use the PhoneService (ngOnInit) to get data from the table.
in the first page load i have no data (it's normal because AppComponent call function to get data before the PhoneService populate DB)

my question is : how can i tell my PhoneService to wait unit pupulation ending and the

[2018-03-11 20:15] ericmartinezr commented on #22708
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-11 23:20] AKlaus opened #22709 "Exception in BrowserPlatformLocation on IE in mobile window"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

When an Angular app is op

[2018-03-12 03:08] #22706 closed

[2018-03-12 03:49] uscbsitric commented on #7930
An uncaught exception prevents Augury from continuing <--- FUck you

[2018-03-12 04:52] Morente5 commented on #16643
Same here, tested on Angular 5.2.7 and 6.0.0-beta.7 regarding the same ng-bootstrap modal example referenced above.

[2018-03-12 05:04] #22708 closed

[2018-03-12 05:07] kara commented on #22703
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2018-03-12 05:07] #22703 closed

[2018-03-12 06:09] tluanga34 commented on #4843
@belloyang  Your answer works great. Thanks, you save my day.

[2018-03-12 07:47] Flo12345 opened #22711 "ngOnInit() called every time Observable.interval() fires"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

I initialize an Observer.

[2018-03-12 08:15] GuskiS commented on #21706
Can you write what changes you make to main post @mgechev ? I would like to track some sort of progress of Ivy.
Also, weren't there green ticks instead of grey? :thinking:

[2018-03-12 09:47] astalegale commented on #22624
@TooHTooH Thanks for help!
I've modified your example to recreate the issue, take a look:

[(https://stackblitz.com/edit/angular-bfnkgx-bvt3ue?file=src/app/app-routing.module.ts)]

Thanks!
Alex

[2018-03-12 09:55] IngenieroFiestero commented on #11131
You need to define the starter route in the last position of the list of routes (or after the redirect route) because when the app is started it only search for the starter route in the list and if it´s in the last position then angular will preload all the preceding routes.

This should work:
[code]

[2018-03-12 10:12] #22547 closed

[2018-03-12 10:13] smritiz opened #22712 "ERROR in ./client/app/plans/plans.spec.ts Module not found: Error: Can't resolve '@angular/compiler/src/core' in 'C:\smriti\first\then-how\client\app\plans' @ ./client/app/plans/plans.spec.ts 11:13-50 @ ./client \.spec\.ts$ @ ./client/test.ts"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

## Expected behavior

##

[2018-03-12 10:22] ericmartinezr commented on #22712
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-12 10:27] filipesilva commented on #22490
Heya, sorry for taking a while to answer. Yes this sounds like a bug in ngtools/webpack, as reported in https://github.com/angular/angular-cli/issues/9862. I think we've actually fixed it in master for 6.x, but will comment there.

[2018-03-12 10:42] sal-vader commented on #10929
Here's a solution that I've come up with. I paired up the LocationStrategy with the Router events. Using the LocationStrategy to set a boolean to know when a user's currently traversing through the browser history. This way, I don't have to store a bunch of URL and y-scroll data (which doesn't work well anyway, since each data is replaced based on URL). This also solves the edge case when a user d

[2018-03-12 11:05] #22712 closed

[2018-03-12 11:10] petebacondarwin commented on #21943
I have attempted to improve our error handling to improve the reported data: #22713

[2018-03-12 11:16] hallysonh commented on #15008
This custom service can help someone:

[code]

[2018-03-12 11:18] hallysonh commented on #13818
This custom service can help someone:

[code]

[2018-03-12 11:21] oxmanroman commented on #15753
nothing yet?

[2018-03-12 11:24] oxmanroman commented on #15753
Anything new regarding this issue?

[2018-03-12 11:28] mluis commented on #13948
@jhonattan471 Thank you for the availability.

Just managed to solve the problem. The thing was ngx-translate was using an HTTP loader that didn't used the `./` . I managed to overcome the issue with:

[code]

[2018-03-12 11:56] jogelin commented on #16755
@remborg @brandon1525 You had any issues with the synchronization between the text-mask value and the datepicker value ?

[I put an example on stackblitz to illustrate my issue](https://stackblitz.com/edit/angular-datepicker-custom-adapter?file=app%2Fdatepicker-type.component.ts)

If you type manually and quickly 14, you will see in the errors that the value is **14_/__/____** instead of **14/__/_

[2018-03-12 12:08] petebacondarwin commented on #22682
I will implement a check for this.

[2018-03-12 12:21] avi182 commented on #22120
How can i check which method is responsible for the id generating?

[2018-03-12 12:26] sal-vader commented on #7791
Here's my solution...

		  export class AppComponent implements OnInit {
		  isPopState = false;

		  constructor(private router: Router, private locStrat: LocationStrategy) { }

		  ngOnInit(): void {
			this.locStrat.onPopState(() => {
			  console.log('onPopState is running');
			  this.isPopState = true;
			});

			this.router.events.subscribe(event => {
			  // Scroll to top if accessing a pa

[2018-03-12 12:30] silvanaweb commented on #20823
I am not sure if you @tim-kuteev  are talking about the same issue i had, therefore i would like to provide my case and I would like to ask to @MrWolfZ if his change is applying to my case as well.

I was using one flag variable (true/false) and using it for 2 triggers, one used on the parent DIV and one in the child (children) DIVS. So the trigger applied to the parent was working, but the one ap

[2018-03-12 12:31] bmayen commented on #21706
Pretty detailed progress-tracking right here, no? What more are you looking for in addition to a table tracking every feature and its current state of implementation?

[2018-03-12 12:31] sal-vader commented on #6946
Late to the party, but here's my two cents...

	export class AppComponent implements OnInit {
	  isPopState = false;

	  constructor(private router: Router, private locStrat: LocationStrategy) { }

	  ngOnInit(): void {
		this.locStrat.onPopState(() => {
		  console.log('onPopState is running');
		  this.isPopState = true;
		});

		this.router.events.subscribe(event => {
		  // Scroll to top if ac

[2018-03-12 12:46] GuskiS commented on #21706
It is very detailed, yes. But when changes are made - I have no idea what has changed.

[2018-03-12 13:07] ronzeidman opened #22714 "i18n Hebrew currency minus sign is backwards"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[v] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

using the currency pipe i

[2018-03-12 13:31] leparfait commented on #6074
Thank very much

[2018-03-12 14:25] gkalpak commented on #22648
This works as intended afaict. This is exactly the type of case where you have to "pay the price" for the performance benefits that `downgrdeModule()` offers, by having to manually trigger a `$digest`.

I don't think that a `$digest` should be triggered by default when an output emits a new value (since that is likely to unnecessarily hurt performance in many cases), but we have discussed it in th

[2018-03-12 15:10] meriturva commented on #15041
Any news here? what about Angular 6.0 upcoming release?

[2018-03-12 16:14] mdelorimier commented on #16406
Hello, i am seeing the same issue in Angular 5.2.5. Has this been resolved?
I have tryed @kamranahmedse's hack and it does not seem to work for me.

[2018-03-12 16:22] gkalpak commented on #22644
The example on angular.io is correct (explcitly setting data encapsulation as needed). You can see the relevant code [here][1].

The tutorial you referring to (www.angular.cn) is an independent community effort and not maintained in this repo. I am not sure where you should file angular.cn specific issues; maybe https://github.com/angular/angular-cn?

##
Closing this issue, since it is already fix

[2018-03-12 16:22] #22644 closed

[2018-03-12 16:28] #21571 closed

[2018-03-12 16:51] gkalpak commented on #22619
@evelbulgroz, this sounds to be working as expected. If you are trying to inject `SwUpdate`, you also need to provide the dependencies that it needs.

##
You could try importing the `ServiceWorkerModule` (which provides the necessary services) with `enabled: false` (since you obviously don't want to be testing the ServiceWorker in your tests); e.g. `import: [ServiceWorkerModule.register('', {enabl

[2018-03-12 16:52] gkalpak commented on #22619
I am going to close this, since everything works as expected (afaict), but feel free to continue the discussion below.

[2018-03-12 16:52] #22619 closed

[2018-03-12 17:22] joelebeau1 commented on #12463
I'd also like to voice my support for an implementation of the requested feature, just ran into an issue at work where I need that functionality and found this thread.

My thoughts: I'm surprised to even see the joint use the `FormControl` and `ElementRef` API's suggested as a permanent solution here since, per [the Angular docs on `ElementRef`](https://angular.io/api/core/ElementRef), >Use this A

[2018-03-12 18:01] briancodes commented on #22711
Hi. Maybe create a StackBlitz reproduction of the issue and add the link

[2018-03-12 18:14] briancodes commented on #22643
Hi @cuiliang

From your description of the problem,

`<a [routerLink]="[{param1: 'test'}]">This link will cause error</a>`

I'm pretty sure that `[routerLink]` accepts an array of strings, or a string value. The `[queryParams]="{param1: 'test'}"` should be provided as a separate input

[2018-03-12 18:32] un33k opened #22718 "Ability to ask angular for a copy of the 'current' app environment for consumption in non-injectable places"
[code]
## Current behavior

1. A module that is internal to the app's project directory. works as expected.

[code]

2. A module that is NOT internal to the app's project directory. works as expected.

[code]
[code]
[code]

## Expected behavior
3. An external module that provides services to three apps that require different localStorage engines.

- Web (Browser - localStorage)
- Mobile(NativeScri

[2018-03-12 18:43] stephaneeybert commented on #18224
I got stuck with a similar cyclic dependency and resorted to do the workaround of manually injecting the service https://stackoverflow.com/questions/49240232/getting-a-cyclic-dependency-error

[2018-03-12 20:33] gabrie-allaigre commented on #22509
Hi,
I same problems.
Work with 5.2.3 but not working with 5.2.4+

`location.back()` have same problems.

Thanks

[2018-03-12 20:42] SerkanSipahi commented on #10981
Please please fix this issue !!!

[2018-03-12 20:48] benbraou opened #22721 "Circularity issue in compiler-cli/tsconfig.json"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
Circularity detected while

[2018-03-12 21:09] ajonesmulaire commented on #22460
I just ran into this issue myself!

The tutorial doesn't leave precise instructions for including the AppRoutingModule in app.module.ts

Add instructions to insert

import { AppRoutingModule }     from './app-routing.module';

and in @NgModule({
               imports:[
                  AppRoutingModule]
               ]})

Hope that helps!

[2018-03-12 21:17] jbedard opened #22723 "upgrade patch of resumeBootstrap removes the return value"
## I'm submitting a...
<pre><code>[X] Bug report</code></pre>

## Current behavior
`upgrade/static` [overrides resumeBootstrap](https://github.com/angular/angular/blob/5.2.8/packages/upgrade/src/static/upgrade_module.ts#L271) but does not return anything.

Protractor [reads this return value](https://github.com/angular/protractor/blob/02746dd37726b2647f8f8dbeb1152cd7f902acb0/lib/browser.ts#L967-L9

[2018-03-12 22:03] FDIM commented on #22648
I agree with you, that triggering a digest on each emit would be a bit too much. On the flip side, handling it manually in each binding in the components that use downgraded version is also quite inconvenient, especially when some of them are 2 way and you actually rely on digests to keep view up-to-date.

After looking more deeply into the source code, it seems to be possible to detect when a com

[2018-03-12 22:37] robwormald commented on #22709
As far as I'm aware, this feature is deprecated on the Web Platform (per https://developer.microsoft.com/en-us/microsoft-edge/platform/status/showmodaldialog/?q=modaldialog) - so I doubt we'd treat this as a bug, per se. See Chromium's rationale here: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/showmodaldialog/?q=modaldialog

I suspect (?) that the history API just isn't a

[2018-03-12 22:37] #22709 closed

[2018-03-12 23:17] klerick commented on #12088
@simonKaplinski You solution is work only before init route. But if try to navigate some like `this.router.navigate(['/']);`
component does not change

[2018-03-12 23:20] AKlaus commented on #22709
@robwormald, I used the ` showModalDialog()` method just as a simple example of having an instance of IE in a modal dialogue window. As I said the problem can be easily reproduced on Windows by running an instance of the _WebBrowser ActiveX control_ (which runs IE under the hood) in a modal dialogue window (I mean the window created in a windows app, I can provide an example in WinForms).

## The

[2018-03-12 23:32] cuiliang commented on #22643
Hi @briancodes
There are 3 type of params. What you mean is query parameters, but this is Optional Parameters.
See [this](https://stackoverflow.com/questions/44864303/sending-data-with-route-navigate-in-angular-2/44865817)

[2018-03-12 23:38] robwormald commented on #22709
That's what HashLocationStrategy is :) More accurately, you should use the HashLocationStrategy when the history API is unacceptable for whatever reason.

We don't bake in polyfills (because the vast majority of the world doesn't have this problem) - that would add unnecessary page weight to consumers who do not need the polyfills. See https://github.com/browserstate/history.js/ for a polyfill for

[2018-03-13 00:33] matheo commented on #16382
Well, I've installed `"@angular/language-service": "^5.2.8"` on my Angular 4.4 project and it seems to work properly :D thanks a lot

[2018-03-13 04:24] agussman commented on #19280
Here's another page that confusingly uses both: https://angular.io/guide/ngmodules

[2018-03-13 05:00] ylandau opened #22725 "service worker not working"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
</code></pre>

## Current behavior
see url: https://dist-damzzkdcrp.now.sh/
service worker is registered,
but when putting browser offline in dev tools it doesn't reload,

## Minimal reproduction of the problem with instructions
ng new test-service-worker --service-

[2018-03-13 06:53] MrWolfZ commented on #20823
@silvanaweb I don't see a reason why it shouldn't apply. Just do this:

[code]

[2018-03-13 07:40] trotyl commented on #22591
How about (allowing) minifying `SimpleChanges` keys as well?

The inconsistency between `this['someProp']` and `changes['someProp']` may causing problems, eg:

[code]

Or:

[code]

Once https://github.com/angular/angular/pull/22103 arrived, `changes.someProp` will become much more popular than `changes['someProp']` for type-checking purpose, and could got broken when using advanced optimizers (may

[2018-03-13 08:37] nickwinger commented on #13869
lol, why is this closed ?
This issue is still not resolved here or documented in the Angular-Docs.
There is no info how to securly use the ReuseStrategy and in more complex scenarios with lazy loaded child routes i get lost...

[2018-03-13 08:46] ciesielskico commented on #22711
How do you know that ngOnInit is called every second? Whats the issue?

[2018-03-13 08:47] gangsthub commented on #6179
`as`:

[code]

https://angular.io/api/common/NgIf#storing-conditional-result-in-a-variable

[2018-03-13 08:53] meepobrother opened #22728 "LoadChildrenCallback build --prod error"
## I'm submitting a bug

<pre><code>
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ x ] Feature request
[  x ] Documentation issue or request
[ x  ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

##  that is error detail:
[code]

[2018-03-13 09:10] meepobrother commented on #22728
I am very grateful to you for your advice, i test following code has solved!

[code]

[2018-03-13 09:11] artaommahe commented on #20891
What about cross-elements/elements-mainapp interactions? Common services like auth/user e.g. Any proposal/plans here? Currently it looks like any used widget should have his own copy of necessary common services or receive data from top-element inputs (which does not eliminate the need of duplicated services for their methods usage)

[2018-03-13 09:15] nickwinger commented on #6634
ok, if i comment the
`while (next.firstChild) {
      next = next.firstChild;
      url += '/' + routeToUrl(next);
    }`

out, it is working as i would expect it, it stores the parent components now also...
for what is this while loop ?
with what sideeffects to i have to calculate now ?

Thanks for any insight and light on this topic.

[2018-03-13 09:48] ocombe commented on #22714
So I've been working on this the whole morning, here is a stackblitz reproducing the issue: https://stackblitz.com/edit/angular-ucrpd5?file=app%2Fapp.component.html
I've been reading this awesome article that explains how bidi (and LTR/RTL) works: https://www.w3.org/International/articles/inline-bidi-markup/uba-basics
I've consulted with @shairez, and came to the conclusion that you're right, it s

[2018-03-13 09:50] nickwinger commented on #6634
ok, the problem with parent routes beeing re-regenerated lies in the `shouldReuseRoute` Method.
Only in this method i'm ignoring now the firstChild while loop, and it is working.
Angular is reusing the parent routes out-of-the box now

I have made the calcKey function now more flexibel:
[code]

and this is my shouldReuseRoute function:
[code]

[2018-03-13 10:16] subodh6580 opened #22729 "CORS issue in Angular 2 by using Node"
import { Injectable } from '@angular/core';
import { Http , Response,RequestOptions } from '@angular/http';
import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/map';
import 'rxjs/add/operator/do';

import { Headers } from '@angular/http';

@Injectable()
export class ProductService {

    constructor (private _http:Http ) {}

    getCurrentTime(){
            let headers = new H

[2018-03-13 10:31] ericmartinezr commented on #22729
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-13 10:37] subodh6580 commented on #22729
thank you..!

[2018-03-13 10:37] ciesielskico commented on #22711
I cannot see anything if you dont provide a reproduction.

[2018-03-13 10:50] ronzeidman commented on #22714
https://unicode.org/cldr/trac/ticket/10993

[2018-03-13 11:07] briancodes commented on #22643
@cuiliang The [routerLink] directive in a template cannot accept query parameters.
`<a [routerLink]="[{param1: 'test'}]">` will cause an error because you should not be passing in query params here

[2018-03-13 11:08] Pedro-vk commented on #20823
I can't solve it with the `animateChild()` because my child animation has different `state`.

[code]

[2018-03-13 11:14] tararas124 commented on #20511
@bhanukumar04 I have done as you said, about custom angular interceptor to set header.
I have issue with first post request. If I send post request first time I get error that my CSRF token is not in cookie.
For second time it works good.
What can I do with that?

[2018-03-13 11:14] chintan3100 commented on #16689
Please provide solution for same

[2018-03-13 11:15] flensrocker commented on #16151
Same here with german umlauts.

[2018-03-13 11:26] bhanukumar04 commented on #20511
@tararas124  before your make actual post request , make one get request to get the CSRF cookie, then make actual POST request and this time cookie will be available from the first **get** request.

[2018-03-13 11:28] cuiliang commented on #22643
@briancodes It's not query paramemer, it's **Optional Parameter**.
The [routerLink] array can take object item as optional parameters.
You can see this answer on stackoverflow: https://stackoverflow.com/questions/44864303/sending-data-with-route-navigate-in-angular-2/44865817#44865817

[2018-03-13 11:28] tararas124 commented on #20511
@bhanukumar04 should I do this inside interceptor? If token is not in cookie, then get request for taking it.
Do I understand it right?

[2018-03-13 11:36] bhanukumar04 commented on #20511
@tararas124  if your are making login request as first request , with successful authentication send the cookie  and from the next request it will be available.
If you are not making login request make one  get request just to get the cookie and then make your post request, this is not necessarily to be done in interceptor.

[2018-03-13 11:38] tim-kuteev commented on #20823
@silvanaweb @Pedro-vk here is solution which worked for me:
https://embed.plnkr.co/vXhLXOMWYzWkJ8DgMvrI/

I've added trigger to the parent of parent element:
[code]
It's selecting all of the nested animations and applying ```animateChild``` behavior.

[2018-03-13 11:51] DimitarYordanov commented on #8203
@IsaacBorrero
I would like to use your sample code for something I am writing, but it seems to have a weird bug, where every time you change something in the date, it applies it and substracts 3 hours from the time. Can you explain why that is happening?

[2018-03-13 11:58] zymr-keshav commented on #15460
Identifier 'required' is not defined. '__type' does not contain such a member

[2018-03-13 12:07] skreborn commented on #20891
@artaommahe I don't think there will be any sharing between them. Angular Elements are sand-boxed by design. The implementation outside doesn't even know that the element is powered by Angular, or the other way around. At least that's what I gathered.

[2018-03-13 12:51] funkizer opened #22730 "HttpClient POST using request() method error on Firefox: event is not defined"
## I'm submitting a...

<pre><code>
[ x ] Bug report
</code></pre>

## Current behavior
In Firefox, trying to upload FormData using HttpClient.request() instead of .post() causes `event is not defined`. I just moved to using .request() because I want to track the upload progress, and everything was working previously.

The error occurs before request is sent, ie. nothing in the network tab.

## Ex

[2018-03-13 12:55] briancodes commented on #22643
@cuiliang My bad! Sorry, I see what you mean now

[2018-03-13 13:06] funkizer commented on #22730
Made a simplified blitz to rule out as much as possible, sending File instead of FormData like in the [guides example](https://angular.io/guide/http#listening-to-progress-events). Result was the same:
https://stackblitz.com/edit/angular-7bagc2?file=app/app.component.ts

[2018-03-13 13:11] #22729 closed

[2018-03-13 13:19] funkizer commented on #22730
Ehh hmm.. the problem was I `return event` in the map call, instead of `e`. There is no `event`. Weird that the compiler and other browsers let that slip! Sorry about this! Closing. Working blitz: https://stackblitz.com/edit/angular-rptitf?file=app/app.component.ts

[2018-03-13 13:19] #22730 closed

[2018-03-13 14:00] jared-christensen commented on #20891
@manfredsteyer Thanks for the tip, I ended up just tuning zone off altogether for the elements. This article was helpful. Was very easy to turn off. https://blog.angularindepth.com/do-you-still-think-that-ngzone-zone-js-is-required-for-change-detection-in-angular-16f7a575afef

[2018-03-13 14:05] trotyl commented on #20891
@artaommahe What's your definition of "main app"? There can be as many application instances as your want without using Angular Elements, there will be **NO** state sharing between them.

In current WIP implementation, you can already [passing an `Injector`](createNgElementConstructor) when defining Elements (via `createNgElementConstructor`), so it can be made part of any application if you want.

[2018-03-13 14:11] trotyl commented on #22730
For tracking: https://github.com/Microsoft/TypeScript/issues/18433

[2018-03-13 14:30] funkizer commented on #22730
Oh, `event` is declared in lib.dom.d.ts. Very enlightening read, thanks @trotyl !

[2018-03-13 14:37] artaommahe commented on #20891
any of them or some common part with common services. I'm talking about widgets that are truly separated from bigger or common app building and development pipeline. Our medium-sized app currently builds more than 7 mins and its not cool. There are a lot of parts that can be developed separately but require some common service from main app.

but i cant get proper instance by class from this injec

[2018-03-13 14:43] trotyl commented on #20891
@artaommahe How would you like to share the injectables without same token? Technically?

[2018-03-13 14:51] FDIM opened #22734 "downgraded component: not possible to have two-way binding and change event on the same output / emitter"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

It seems that it is not p

[2018-03-13 14:55] Reinbert commented on #12442
The problem with jrsanchezalcala's suggestion is that you are creating another entry in the history stack if you `router.navigate()` away.

[2018-03-13 14:58] sod opened #22736 "add asObservable() to Location from @angular/common"
## I'm submitting a...
[x] Feature request

## Current behavior
[`Location` from `@angular/common`](https://github.com/angular/angular/blob/5.2.8/packages/common/src/location/location.ts#L128-L135) only has a subscribe method that hides the observable.

## Expected behavior
Add something like
[code]

## What is the motivation / use case for changing the behavior?
The value is already handled via `

[2018-03-13 15:00] mlc-mlapis commented on #22711
@Flo12345 ... create a Stackblitz demo reproduction ... it is supposed as a necessity on each reported issue if it technically possible. Use https://stackblitz.com.

[2018-03-13 15:56] rafa-as commented on #16211
Same here! any updates?

[2018-03-13 16:29] kara commented on #22725
This looks like it should be filed in the CLI repo.

[2018-03-13 16:29] #22725 closed

[2018-03-13 16:33] tararas124 commented on #20511
@bhanukumar04 I have done as you said, but It doesn't work. When I send get request before post. They are asynchronous and my post sends faster then get ends.
You know what I mean?
How to make this calls synchronous? Or some work around
Ty so much in advance !

[2018-03-13 16:34] Ploppy3 commented on #21706
@GuskiS

_Friday, March 2_

Started tracking for changes.

---

_Tuesday, March 6_

**Content Projection**:

Feature | Runtime | Spec | Compiler
-- | -- | -- | --
container projectAs | ❌🡪✅ | ❌🡪✅ | ❌

---

_Wednesday, March 7_
**Injection Features**

Feature | Runtime | Spec | Compiler
-- | -- | -- | --
directiveInject(Type) | ✅ | ✅ | ❌ |
sanitization with no injector | ❌🡪✅ | ❌🡪✅ | ❌

---

_Saturda

[2018-03-13 16:47] markgoho-EDT commented on #16211
Sad news I'm also seeing this in v6.0.0-beta-7.

[2018-03-13 16:58] artaommahe commented on #20891
it's one of the problems ) looks like only via string alias like `@Inject("smthService") smthService: ISmthService`

[2018-03-13 17:02] bhanukumar04 commented on #20511
@tararas124  subscribe to the get call ,then on complete of get call notification, call your post call and that should work
http.get(url) .subscribe(() => {}, () => {}, () => {
            // call you post call here
          });

[2018-03-13 17:11] dawidgarus opened #22743 "Feature: asterisk syntax sugar without structural directive to define template"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
To define template one mus

[2018-03-13 17:17] rainboxx commented on #21049
@Goodwine what your "Original template" should actually become is:

[code]

Trailing spaces should be removed, it doesn't make sense to include them. This becomes very nasty when having links, such as:

[code]

The link will *always* have a trailing space as _part of the link_, so the CSS definition `text-decoration: underscore` shows a too long line.

As for `collapse` / `normalize` I can somehow

[2018-03-13 17:33] cyrilletuzi commented on #19224
I'm worried about the fact v6 rc has been announced as close and this issue is still open.

If it misses v6, it would mean a fourth major release with very painful server-side rendering.

@IgorMinar Could this be added to the v6 milestone ?

[2018-03-13 17:42] markdernie commented on #21636
What appears to be happening is that when you go offline, if you then hit reload chrome creates a new client. This renders the app from cache. Within a second or two of that happening ngsw-worker.js sends a request to get ngsw.json (to check whether there is an update to any of the code) this fails (because there is no network). On failing it sets the state of the worker to EXISTING_CLIENTS_ONLY.

[2018-03-13 18:02] thiagodamico commented on #18224
I still have this problem, anyone has soved anyway?
I'm trying create a interceptor for include an Authorization in my Header.

The error: ERROR Error: Uncaught (in promise): RangeError: Maximum call stack size exceeded

My code:

[code]

[2018-03-13 18:25] Goodwine commented on #21049
@rainboxx
Sowhatyouaresayingisthatpreservingcontextualwhitespacesarenotusefulbecausetheyhavenovalueandtheyonlytakesomepreciousbytes,right?

Regarding `<a>`, yes, that is a pain point and we end up either doing either of these:
[code]
But that is how **any** browser behaves with HTML, and Angular is supposed to use valid HTML files plus interpolation and attributes that have `[]`.
By behaving diffe

[2018-03-13 18:46] cirix commented on #7445
@patilragini it's not relevant to angular that your post request returns and empty array. Check if the Spring controller on the ResponseEntity you are attaching a value after the POST.For example if the spring returns ResponsEntity.ok()....this is a 200 with OK but no payload.

[2018-03-13 18:52] Ploppy3 commented on #8112
@Dan203 If your users are not able to open all the items at once, you should really use `*ngIf` instead of `[hidden]`, your view will then be generated much faster.

[2018-03-13 20:27] #22591 closed

[2018-03-13 21:08] lazarljubenovic commented on #8203
@diestrin Time zones.

[2018-03-13 21:18] #22212 closed

[2018-03-13 22:30] petebacondarwin opened #22748 "aio: overview dump - Why does it think that getAngularJSGlobal() is undocumented?"
See https://github.com/angular/angular/pull/22675#issuecomment-372347414

[2018-03-13 22:35] collink commented on #15164
Busted in 5.2.5 as well

Another workaround I've found is `debugElement.query(By.css('svg[class=className]'))`

[2018-03-13 22:55] gkalpak commented on #22648
Yeah, documenting it would be nice. Unfortunately, the docs of `ngUpgradeLite` (which is the version of `ngUpgrade` that is affected by this) are still in a PR #18487 due to some AngularJS typings issues (which I haven't found time to fix yet; but it's on my list :grin:)

[2018-03-13 23:09] NoNameProvided commented on #22650
Thanks for the information, I didn't know Subjects behaves differently from Observables in this aspect.

For future users, an example:

[code]

[2018-03-13 23:09] #22650 closed

[2018-03-13 23:36] fahedalh commented on #21670
Thanks @PH-Lars, Falling back to 5.1.3 worked for me too.

[2018-03-14 00:00] gkalpak commented on #22734
This is a valid issue. It happens, because of the `if else`s we have [here][1], which only allow one form of the output binding and ignore the rest. Instead, we should collect all output bindings.

@FDIM, would you be interested in working on this?

[1]: https://github.com/angular/angular/blob/bd9d4df7354591eb039249f14ab180f6b60ddf70/packages/upgrade/src/common/downgrade_component_adapter.ts#L178-

[2018-03-14 00:09] gkalpak commented on #22723
Ooops! Sounds like an easy first `ngUpgrade` PR :wink:

[2018-03-14 00:15] MrCroft commented on #21636
In my opinion, offline means offline. Not "offline, but only if you open a fresh tab, not when hitting refresh". I don't think that's the design, because it would be faulty. Especially since api calls also result in errors and don't work offline (with the app successfully loaded). It's not just the app shell. I don't think that a refresh vs. opening a fresh tab should be treated differently.
As fo

[2018-03-14 00:26] chuckjaz opened #22749 "Improve "barrel" error to include more information"
## I'm submitting a...

<pre><code>
[x] Feature request
</code></pre>

## Current behavior

The current error emitted for a barrel error message does not include the `debugInfo` provided in the parameter to `_getProviderMetadata` that could be extremely helpful to debugging the issue as the current text does not provide a clue as to what provider is causing the problem.

https://github.com/angular

[2018-03-14 01:55] chrisguttandin opened #22752 "AnimationAstBuilderVisitor.visitAnimate() can't handle AnimateTimings"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Current behavior
When calling AnimationBuilder.build() with metadata that contains metadata of type AnimationAnimateMetadata which in turn contains a timings property as AnimateTimings object the call fails because calling split on that object will fail here: https://github.com/angular/angular/blob/c8a1a14b87e5907458e8e87021e47f9

[2018-03-14 02:45] axnsan12 commented on #10929
In the spirit of this thread, here's my workaround (add to the root component):

What it does:
* scroll to top when using router navigation
* remember scroll positions for each route, keyed by url
* restore scroll position during browser history navigation
* avoid scroll jumping by restoring the scroll position directly instead of using ``setInterval``

Limitations:
* scroll will still jump on IE/

[2018-03-14 02:49] trotyl commented on #22718
There's nothing like `environment` in Angular, it's only an [Angular CLI](https://github.com/angular/angular-cli) conversion file.

[2018-03-14 02:54] stephengardner commented on #10929
I've rolled a solution into a module using a great library starter, but every time I try to add the module to my main AppModule I get an error "No provider for RouterModule". (It's provided correctly)

Since I'm trying to import the router module into a service and hook into the router module events, I guess this fails when a third party module is trying to access the RouterModule of the App?

Sor

[2018-03-14 02:56] #22635 closed

[2018-03-14 03:06] mhevery commented on #7930
@uscbsitric Your comment is in violation of our code of conduct and will be removed.

I understand that at times we all get frustrated when code does not work. Code is hard. But there is no need to be offensive on a public forum. Your negativity effects other people around you. https://www.google.com/search?q=negativity+brings+people+around+you+down

[2018-03-14 03:16] #22150 closed

[2018-03-14 03:48] yy7054wyq5 commented on #20292
I have fix this problem by update Angular and @angular/cli to latest.

[2018-03-14 05:06] duarte171183 commented on #11618
@brandonroberts  Thanks

[2018-03-14 06:01] jberall commented on #22038
Here is a great article to explain.
https://medium.com/engineering-on-the-incline/reloading-current-route-on-click-angular-5-1a1bfc740ab2

Also not if you redirectTo you need the redirected route.

[2018-03-14 06:46] beast195 commented on #18751
This might help

https://stackoverflow.com/questions/43241193/found-the-synthetic-property-panelstate-please-include-either-browseranimati/43261613

[2018-03-14 06:49] Bary92 opened #22753 "Error compil"
**Hi** ,

I have a problem with angular5 . I have a services file that is used to retrieve data via an API. here is the code.
_data.services.ts_
[code]
and here is the error:
****ERROR in src/app/services/data.service.ts(10,27): error TS1005: '=' expected.
src/app/services/data.service.ts(10,28): error TS1109: Expression expected.**

can you help me?
thank you

[2018-03-14 06:58] DeepzSandra commented on #5976
Angular 2 Form Validation Using Validators WIth An Element That Is Dynamically Built Using *ngIf
see this example
constructor(
    private QRService:QRService,
    fb: FormBuilder
    ){
    this.title = 'My Form';
    this.showDeliveryTypes = false;
    this.complexForm = fb.group({
      'number' : [null, Validators.required],
      'dateofbirth' : [null, Validators.required],
      'delivery' :

[2018-03-14 08:01] FDIM commented on #22734
@gkalpak I am :) I'll try come up with a fix in our local copy of the library (due to another issue) and I'll prepare a PR after that. So hopefully some time this week.

[2018-03-14 08:03] FDIM commented on #22581
@gkalpak since I'll be making a PR for another issue, would you accept one for this as well? provided that we agree on the solution first. This is the reason for us having a local copy of the library

[2018-03-14 08:05] jotatoledo commented on #22753
If you read the error maybe you could get an idea of what is going on.

[2018-03-14 08:37] FDIM commented on #18155
I'll join the party and agree that `meta` (or `metadata`) option is a needed feature to effectively use interceptors. As @alxhub suggests, empty `HttpMetadata` interface that would be extended locally in http-client.d.ts file would work for our use case.
To avoid clashing of options between interceptors, @dawidgarus maybe this should be left to the authors to have an optional dependency that would

[2018-03-14 08:50] asgerjensen opened #22756 "Feature Request: Add 'newInstanceOf' to "providers""
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
Component providers does n

[2018-03-14 08:56] Bary92 commented on #22753
It's OK

[2018-03-14 08:56] #22753 closed

[2018-03-14 09:15] trotyl commented on #22756
Duplicate of #18015

[2018-03-14 09:21] gregmagolan commented on #22612
Note: the min reproduction example builds and runs if the nested dependency is explicitly specified in the `//src:src` ng_module target like so: ```ng_module(
    name = "src",
    srcs = glob(["*.ts"]),
    tsconfig = ":tsconfig.json",
    deps = ["//src/public-api", "//src/public-api/hello-world"],
)```

[2018-03-14 09:26] rainboxx commented on #21049
@Goodwine I never talked about "precious bytes". It's about something I experienced as weirdness. Maybe it's simply unclear for me or not, but apparently there seems to be some issues with the implementation.

What I want to have is readable code and sane output of HTML in a minified version. As said, the current behavior feels a bit weird. Some spaces do not matter in the HTML but they produce un

[2018-03-14 09:41] halilibrahim opened #22757 "Static reflector: Calling static method breaks AOT build"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

If I've understood correc

[2018-03-14 09:53] gregmagolan commented on #22612
Tracked down the issue to the nested dep `.d.ts` files not being included in the allowedStrictDeps of generated `tsconfig.json` file for the `//src:src` compilation unit.

Without the explicit dep:

[code]

With the explicit dep:

[code]

The rest of the two tsconfig files is the same.

[2018-03-14 09:55] maks187 opened #22758 "Error on run-time when modul's component is referenced in route-config through a canActive-provider (that it should be added to the entry-components)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Component of module refer

[2018-03-14 10:03] asgerjensen commented on #22756
While I see how these are related, I dont think its a duplicate.

#18015 is concerned with avoiding writing the "providers" section on a component level to get new instances, while this is concerned with being able to write a "providers" section on the component level, that would re-use the "definition" of the binding, from the module level. I.e. allow a component to say " I want to get an instanc

[2018-03-14 10:22] petebacondarwin opened #22760 "aio + docs/api: enforce sentence structure"
See https://github.com/angular/angular/issues/22138#issuecomment-367825807

[2018-03-14 10:23] VigneswaranMuruganandan commented on #1793
how to allow user to add buttons to his text messages in angular 4?

[2018-03-14 10:34] petebacondarwin commented on #22748
It turns out this is because of us splitting the `@description` tag into `description` and `shortDescription` properties but only checking the `description` property for content.

[2018-03-14 10:34] seritools commented on #14542
I've run into the same error, and @kiancross' workaround with `setTimeout` seems to work for now, but it's really ugly definitely needs a fix!

[2018-03-14 10:39] julianobrasil commented on #11447
This would be useful too when you want to switch state readonly state from a directive, for examaple:

[code]

[2018-03-14 10:43] MickL commented on #14551
@mhevery Please reopen! Imagine having 1 million users and 3 million requests instead of 1 million. Thats an unnecessary workload of 300%.

[2018-03-14 10:46] uscbsitric commented on #7930
i think I left the browser open while I was at the internet cafe did not log out.

    On Wednesday, March 14, 2018 11:07 AM, Miško Hevery <notifications@github.com> wrote:

 @uscbsitric Your comment is in violation of our code of conduct and will be removed.I understand that at times we all get frustrated when code does not work. Code is hard. But there is no need to be offensive on a public foru

[2018-03-14 10:47] uscbsitric commented on #7930
i just noticed this when I was checking my email.

[2018-03-14 10:55] stephaneeybert commented on #18224
@thiagodamico I now have the exact same error message as you and I don't think I have touched anything in my source code.

[2018-03-14 10:58] irejwanul commented on #19535
Hi miguelleitevieira,
  What is your server side technology? What is your exact problem?

[2018-03-14 11:00] gregmagolan commented on #22612
It wasn't the strict deps. The issue was that the ngsummary JSON files were not being exposed for nested deps. #22761 fixes this.

[2018-03-14 11:13] chintan3100 commented on #16689
facing same issue. any workaround. how to set iframe in javascript

[2018-03-14 11:21] kemsky commented on #22757
From my experience "Function calls are not supported in decorators"  message is quite misleading,  angular supports small subset of functions (functions that it can analyze statically). See https://angular.io/guide/aot-compiler#metadata-restrictions.

[2018-03-14 11:41] Prakruthee commented on #7644
[required]="your angular expression" is not working for ng2-datepicker with latest angular version 4.3.3. Anybody have different solution

[2018-03-14 12:02] nin-jin opened #22762 "HttpErrorResponse isn't instance of Error"
## I'm submitting a...
<pre><code>
[x] Bug report
</code></pre>

## Current behavior

HttpErrorResponse isn't Error and I have exceptions in my code on http errors.

## Expected behavior

HttpErrorResponse should be instanceof Error.

## Workaround

[code]

## Minimal reproduction of the problem with instructions

[code]

## What is the motivation / use case for changing the behavior?

Because RxJ

[2018-03-14 12:16] sandangel commented on #7644
@Prakruthee have you tried with angular v5 ?

[2018-03-14 12:20] sandangel commented on #22762
I think you should use instanceof HttpErrorResponse

[2018-03-14 12:21] gkalpak commented on #22734
From a quick look, the fix looks good 👍 (Make sure to include some tests on the PR :wink:)
Feel free to ping me if you get stack.

[2018-03-14 12:22] jorroll opened #22763 "bug: relative navigation doesn't work inside route guards"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Current behavior

Inside a route guard, injecting `ActivatedRoute` and attempting relative navigation via `this.router.navigate(['../sibling'], {relativeTo: this.route})` results in a `Error: Cannot match any routes. URL Segment: 'sibling'`

## Expected behavior

Relative navigation should work normally

## Minimal reproduction o

[2018-03-14 12:35] asadsahi commented on #15730
hi guyes @SystemDisc solution works great. But anyone knows if this is something that platform-server needs to handle or any work being done on it to handle cookies by default?

[2018-03-14 12:48] kemsky commented on #22762
Error handling in angular http module is far from being perfect even in its second version. Was it timeout, 500 status, error or exception thrown somewhere in your observable chain? How to pick recover strategy for all this errors? Is there description of all possible types of arguments for error handler (`Observable<any>`)?  Go figure...

[2018-03-14 13:21] Goobles opened #22764 "Language service reports errors at the wrong position when using CRLF"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Language service reports

[2018-03-14 13:26] pietrorobbi commented on #18605
i've the same problem, any news?

[2018-03-14 14:05] gkalpak commented on #22581
I actually think this is a more general problem with multiple ng1/ng2 layers (not specific to lazy-loading).
I.e.:

[code]

Let me look into it.

[2018-03-14 14:44] mafalarz commented on #6361
Any news?

[2018-03-14 15:14] adoris opened #22765 "routing + lazy loading - angular is ignoring modules at the end of path"
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

I take sample from angular tour of heroes tutoria

[2018-03-14 15:15] rickhopkins commented on #18909
I've got a custom element. In the connectedCallback function I'm using this.querySelector to find child elements and add some functionality to. It's reasonable that they should be there since the element is inserted all together. AngularX breaks this though since it seems to piece meal insert the children after the parent has been inserted. The custom element is working as the custom element shoul

[2018-03-14 15:47] jotatoledo commented on #22762
The `HttpErrorResponse` class doesn't inherit from the `Error` class.
https://github.com/angular/angular/blob/master/packages/common/http/src/response.ts#L302

So for now this is part of the expected behavior.

@kemsky why is that clumsy? care to explain?

[2018-03-14 15:55] ckmax opened #22766 "possibly unhandled rejection canceled (Even after configuring qProvider)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

The error 'possibly unhan

[2018-03-14 15:57] nin-jin commented on #22762
@sandangel I don't like to check for two classes everywere in my code.

@kemsky indifferent on reason of error, I should show error message in UI on opposite side of dataflow.

@jotatoledo i isn't a bug, it is a feature? :-D

[2018-03-14 16:20] gkalpak commented on #22581
Yes, that is indeed the case ([demo][1]).
I think we are basing our use of `needsNgZone` on wrong assumptions, which mostly hold, but break in the `ng1 > ng2 > ng1 > ng2` case. We need to refactor things a bit.

[1]: https://stackblitz.com/edit/ngupgradelite-playground-22581?file=ng1%2Fversion-stamp.component.ts

[2018-03-14 16:20] ericmartinezr commented on #22766
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-14 16:46] splincode commented on #22587
@Toxicable I created examples (generated tree)
https://github.com/Angular-RU/change-detection-tree

[2018-03-14 16:56] SystemDisc commented on #15730
@asadsahi The problem is that when the user's browser sends an HTTP request to your server, the user's browser sends the cookies it has for that domain (as simple key + value pairs - no extra info), and when HTTP requests are made during SSR it becomes difficult to know whether the cookies the user's browser sent should also be passed on to wherever the request we're making is going - this would b

[2018-03-14 17:07] kemsky commented on #22762
@nin-jin, https://angular.io/guide/http#getting-error-details there is example of handler function, you can create global function or wrap this code into a class.

@jotatoledo, official doc states:

Network error and rxjs error or probably your own error in the same event?? How could somebody get exact exception cause and take appropriate action? Exception thrown in an RxJS operator? Which are err

[2018-03-14 17:27] cecotw commented on #22703
I am getting this same issue. I went from 5.0.2 to 5.2.8 and our oidc-client started to fail to grab the state from the redirect response. Downgrading to 5.2.7 fixed the issue.

[2018-03-14 17:33] kara commented on #22766
This looks like an AngularJS problem, so it should be filed in the repo suggested by @ericmartinezr.

[2018-03-14 17:33] #22766 closed

[2018-03-14 18:02] timbell opened #22767 "component loaded by ngComponentOutlet not attached to DOM in ngOnInit"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
A component loaded by ngCo

[2018-03-14 18:03] robdodson commented on #18909
@rickhopkins does your custom element use shadow DOM? If so you'd want to wait till the `slotchange` event fires to look for children. Otherwise I think you'll want to add a MutationObserver and only touch children after that has been triggered.

[2018-03-14 18:10] FDIM commented on #22508
At least to fix issue with polymer I had to run bower install (lucky guess because of the path in build.sh). 199 cases still failed on windows with `Error: Could not resolve module @angular/core` or `at Object.<anonymous> (D:\Development\angular\packages\language-service\test\reflector_host_spec.ts:33:85)`

Anyway, `test.sh browserNoRouter` seems to work, so I'll stick to that. No problems with wa

[2018-03-14 18:14] rickhopkins commented on #18909
@robdodson No, this particular component is not using the shadow dom. I've been working on a design language system and hoping to use simple web components that basically enforce styles across both our new angular X apps as well as our old angular js apps. I don't always want the shadow dom because of it's restrictiveness...

[2018-03-14 18:23] robdodson commented on #18909
@rickhopkins that's understandable. I think you'll need to add a MutationObserver then. Otherwise you're relying on the fact that no one will ever dynamically insert a child into one of your custom elements and that's inherently fragile.

[2018-03-14 18:29] manda-linda opened #22768 "LruList in ServiceWorker not correctly removing url"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

The LRUList's remove func

[2018-03-14 18:42] Goodwine commented on #21049
[X post]
[...]
Please look at https://stackblitz.com/edit/angular-uondfj
My point is that preserveWhitespace: false should not change how a browser renders a component regardless of what minification strategy it uses.

[2018-03-14 18:47] robdodson commented on #18909
I'm going to work on example to show how to do this with a custom element and a mutation observer, which i'll post back to this thread.

[2018-03-14 19:18] robdodson commented on #18909
I think this is what you would need to do to safely mess with an element's children if you're not using Shadow DOM and the `slotchange` event.

https://stackblitz.com/edit/js-wzb3y1?file=index.html

Depending on the order in which you load your JavaScript definition files, elements may be parsed and in the DOM before they're upgraded. Which means you'll need to process any existing children in you

[2018-03-14 20:00] chuckjaz opened #22774 "Literals in css with escapes are not emitted correctly"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
</code></pre>

REF: [b/74538140](http://b/74538140)

## Current behavior

A style that contains an a value with a string escape such as `'\0025BC'` is emitted as `"\\x0025BC"` instead of the expected "\0025BC".

This is true when using 2.6 or 2.7 of TypeScript but does not reprodu

[2018-03-14 21:09] FDIM commented on #22581
Well, I tried the example and if I apply my fix (setting needsNgZone to true with debugger) it seem to work as well.
Could it be that the value must be true when downgradeModule is used? or are you aware of something breaking if that would be the case?
At least to me it sort of makes sense that it should if all angularjs components are running outside angular zone.

[2018-03-14 21:11] matsko opened #22777 "Compiler <template> element support code needs be removed"
Even though `<template>` code was deprecated in NG4, the code still lives inside of the template parser. Now that it's been a year since it was deprecated, it should be removed completely.

[2018-03-14 21:14] FDIM commented on #22734
After fiddling with some white space (linter is very picky!) - I think the PR is ready.

I also updated existing test case and seen it break without my changes and pass with the fix.

[2018-03-14 21:36] rekna1 opened #22778 "angular route with fragment does not scroll element into view"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

routerLink or router.nav

[2018-03-14 21:44] webmail716 commented on #15805
^ The most recent question is because the CORS is configured incorrectly. You can't set withCredentials: true AND have origins '*' in your CORS file. You have to be specific about which origins you want to allow credentials from.

[2018-03-14 21:58] gkalpak commented on #22734
Thx! I'll take a look shortly.
(Pro tip: `gulp format` fixes linting issues :wink:)

[2018-03-14 22:12] karlmnz opened #22780 "ngZone.onError.subscribe not working and errorHandler err response missing details!"
## I'm submitting a...
<pre><code>
[x] Bug report
[x] Documentation issue or request
</code></pre>

## Current behavior
[https://angular.io/api/core/NgZone](https://angular.io/api/core/NgZone) indicates can use NgZone.onError to get errors from zone.js, but subscribing to this never catches zone.js errors.  And that ErrorHandle either on individual subscribes e.g. http.get(<url>).subscribe(..., er

[2018-03-14 22:15] mhevery commented on #11716
Currently
1. `<div my-directive>` triggers `MyDirective`
2. `<div [attr.myDirective]="exp"` does not trigger `MyDirective`.
3. `<div [attr.myDirective]="exp" my-directive` triggers `MyDirective` and it allows dynamically changing the attribute. This seems like a very easy work around to your need.

It seems like we are covering all of the cases in the sense that we can get angular to output any DO

[2018-03-14 22:17] mhevery commented on #13355
This is something which we would like to implement. It is currently on back burner pending Ivy implementation. The reason is that any such implementation would now:
-  have to be done twice (once for Render2 and once for Ivy) and
- any new syntax we introduce would decrease the future possibilities for selector-less directives syntax. So this really has to be designed in that context.

[2018-03-14 22:39] karlmnz commented on #22780
Thanks Kara.

Additional Note: In my application with the auth token example, it is not always possible to check if valid before making the call as the check valid api call itself could happen when the network is disconnected and so zone.js would error on that ...

[2018-03-14 22:40] rainboxx commented on #21049
I understood that. `preserveWhitespace` _could_ still differ from what browsers would do. See JSX, for example. But never mind, please ignore my comments, I shouldn't have hijacked your bug report.

[2018-03-14 22:49] gkalpak commented on #22581
AFAICT, [this][1] is what makes the difference (and it does indeed depend on `needsNgZone`). You can also see that changing `propagateDigest` to false for the deeply nested component "fixed" CD:

[code]

The AngularJS code may or may not run inside the Angular zone (e.g. an upgraded component usually runs inside the zone), so that cannot be a deciding factor.
I too believe that `needsNgZone` shoul

[2018-03-14 23:20] karlmnz commented on #22780
In plunker example, if I remove the err => {..} form the http.get(...).subscribe then the NgZone,onError code is used but the problem is still that the ErrorResponse has status 0 rather than 404.

[2018-03-15 00:25] CaerusKaru commented on #22536
Fixed by cd2ebd2

[2018-03-15 00:25] #22536 closed

[2018-03-15 01:39] ThomasBurleson commented on #13355
Thanks for the update @misko

On Wed, Mar 14, 2018, 12:18 PM Miško Hevery <notifications@github.com>
wrote:

[2018-03-15 01:56] nir-sk opened #22786 "Unable to use ngAfterViewInit for Modal clicking outside trigger"
Modal gets closed when clicked on the close modal button as well as when mouse clicked outside the modal I want to call the same function that I call when I click on the close modal button also when I click outside the modal. I am not sure how to do this in Angular 2. I am using jQuery to display the modal. I tried using ngAfterViewInit() but it did not help me.
Also I tried using (clickOutside)="

[2018-03-15 02:11] trotyl commented on #22778
Duplicate of #6595, #13636

[2018-03-15 02:19] trotyl commented on #22756
I agree, this one is more logical and sound.

[2018-03-15 03:26] chintan3100 opened #22787 "Agular 2 ignore target attribute"
Below code working with HTML Page but when I run same come with angular 2 not, It's didn't worked.
[code]

[2018-03-15 03:42] RJPalombo commented on #21670
Falling back to 5.1.3 worked for me too.

[2018-03-15 04:02] trotyl commented on #22787
Duplicate of #16689

[2018-03-15 05:20] lishichao1002 commented on #20756
+1

[2018-03-15 07:33] petebacondarwin commented on #21715
We have now landed the class API type changes.

[2018-03-15 07:33] #21715 closed

[2018-03-15 07:34] #21943 closed

[2018-03-15 07:48] petebacondarwin commented on #21312
I think this is now resolved? @IgorMinar ?

[2018-03-15 07:56] petebacondarwin opened #22790 "aio + docs/api: directive docs ideas"
1) [x] do not show constructor (it is not relevant to the user of the directive) (see https://github.com/angular/angular/commit/cf0968f98e844043a0f6c2548201f3c0dfd329a7)
2) [x] put the inputs and outputs into a table
3) [x] combine the inputs and outputs information with their associated properties
4) [ ] convert the selectors information into example usages, similar to what we have done in Pipe o

[2018-03-15 08:30] tofesath opened #22791 "Textarea not correctly behaviour with reset button"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

After reset action of a f

[2018-03-15 08:39] Booster2ooo commented on #18751
To follow-up on my comment, I updated all packages and tools, tried from scratch again and it worked fine. I guess it was either an error on my side or versions conflict. 😅

[2018-03-15 08:43] rekna1 commented on #22778
Since these are issues from 2016, will it be fixed any time soon ?
If not , maybe it would be better to mention in docs that fragments are not yet available in 5.2.8 ?

[2018-03-15 09:02] Romchik22 commented on #7626
The Angular has interesting ability for partly solving this problem. https://angular.io/api/core/Renderer2#listen
` constructor(private renderer: Renderer2)
 let listener = this.renderer.listen('window', 'keydown.esc', (event) => // do some logic);
this.listener() // remove EventListener for example in ngOnDestroy() or in another time when do you need. `

[2018-03-15 09:19] Danieliverant commented on #13241
any news on this?

[2018-03-15 09:26] FDIM commented on #22581
Well, I'd like to close the other PR first and then if this is still pending I'll have a look :)

[2018-03-15 10:10] jankeesvanandel opened #22792 "Broken routerLink with relative path in empty routes"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
See the following StackBli

[2018-03-15 11:07] mortenamby commented on #17013
I can also confirm this error. All subscriptions are unsubscribed on destroy. Also I can confirm that it only seems to happen when more than one test is run on the same component test suite.

[2018-03-15 11:26] martinmcwhorter opened #22793 "Angular i18n and Server Side Rendering LOCALE_DATA is not populated"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Following the Universal S

[2018-03-15 11:31] PeterBalzli opened #22794 "HttpClient is parsing a response to JSON ignoring the content-type"
## I'm submitting a...

<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Responses from HttpClient are parsed like it's json even if Content-Type in Response Header is set to text/plain

## Expected behavior
HttpClient should respect content type from response header, if no responseType is provided.

## Minimal repr

[2018-03-15 11:59] nhhockeyplayer opened #22795 "Template parse errors: Can't bind to 'property' since it isn't a known property of 'component'."
This issue persists on
[code]

I ported an old modal dialog component from angular 2015 release to angular 2018 release

here is the template

[code]

it is a bootstrap modal widget I wrote custom years back

here is the template that uses it

[code]

I keep getting this error and blue in the face

[code]

[2018-03-15 12:04] Lolash commented on #22795
Have you added NewGameModalComponent to the 'declarations' structure in the definition of this module?

[2018-03-15 12:10] Serginho opened #22796 "Service worker cannot be enabled by function factory with AOT"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ X ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
```ServiceWorkerModule.r

[2018-03-15 12:15] nhhockeyplayer commented on #22795
Thanks friend

I identified the issues

this guy depends on sub components header,body,footer

I failed to declare those in appModule.ts

Also, I had to change my variable reference on the template to use [animation] instead of just animation

[2018-03-15 12:15] #22795 closed

[2018-03-15 12:22] santialbo commented on #14252
How come no one from the Angular team is saying anything about such an impactful issue? A simple update would be much appreciated. This has been opened for a year 😨 😱

[2018-03-15 12:34] Ploppy3 commented on #21706
_Thursday, March 15_

**Template Syntax**

Feature | Runtime | Spec | Compiler
-- | -- | -- | --
{{ ['literal', exp ] }} | ✅ | ✅ | ❌🡪✅
{{ { a: 'literal', b: exp } }} | ✅ | ✅ | ❌🡪✅
{{ exp \| pipe: arg }} | ✅ | ✅ | ❌🡪✅

**`@Query`**

Feature | Runtime | Spec | Compiler
-- | -- | -- | --
`@Query(descendants)` | ✅ | ✅ | ❌🡪n/a
`@Query(one)` | ✅ | ✅ | ❌🡪n/a
`@Query(read)` | ✅ | ✅ | ❌🡪n/a
`@Query(selecto

[2018-03-15 13:09] trotyl commented on #19119
Made a pure lib implementation [here](https://github.com/trotyl/angular-contrib/blob/master/packages/common/host/host.ts), demo [here](https://stackblitz.com/edit/angular-iutvor?file=app%2Fhello.component.ts).

But I don't see any value of the content projection support, it would only made children ordering less obvious.

[2018-03-15 13:23] michaelbromley opened #22797 "Feature Request: Automatic Mock Components"
# The Problem

In unit testing components, one has to declare all child components (and their children, recursively) and directives in the call to `TestBed.configureTestingModule()`. For simple components which do not have many child components, this is okay.

The problem occurs when testing a component which has many descendant components. Consider the following component dependency graph:

![ang

[2018-03-15 13:32] aarmora commented on #22797
This is awesome! Much needed!

[2018-03-15 13:41] dolebrant opened #22798 "Exclude EventHandler Functionality from Zone.js"
## I'm submitting a...
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
[ ] Support request

## Current behavior
I want to insure that the 'keydown' event is excluded from zone.js when it loads within an Angular application.

Right now I believe there is some need for clarity in documentation as

[2018-03-15 13:46] gitfortee commented on #20564
@istiti I am in a similar need. Mine is an angular 5 + dotnet core web api application

I believe you might already have a workaround.

Here is my setup looks like. And i get 'undefined' for fName and lName query parameters at my dotnet core Web Api backend. You can assume fName and lName are optional.

<pre>
    params:{
        firstname:'',
        lastName:''
    }

    this.http.get(`/user?fN

[2018-03-15 13:48] krotscheck opened #22799 "Add ability to provide reason to navigation cancellation."
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ x ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
When blocking route resolution via a route guard, the public API permits returning a boolean. In the router, this is then mapped to a `NavigationCancel` ev

[2018-03-15 13:48] JiaLiPassion commented on #22798
@dolebrant , you can found it in latest version of `angular/cli`.
add this line before loading zone.js in `polyfill.ts`

[code]

[2018-03-15 14:01] martinmcwhorter commented on #22793
@ocombe

[2018-03-15 14:04] meeroslav commented on #22797
I like the idea & would like to see it a bit more generic - being able to mock Components, Directives, Pipes and Services.

[2018-03-15 14:05] ocombe commented on #22793
You should import the locale data for french as explained in the i18n guide: https://angular.io/guide/i18n#i18n-pipes

[2018-03-15 14:14] martinmcwhorter commented on #22793
This i18n guild says:

    "The CLI imports the locale data for you when you use the parameter --locale with ng serve and ng build."

Is this incorrect?

[2018-03-15 14:21] mbeckenbach opened #22800 "Router pathMatch conflicts with real route"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
In a routing szenario like

[2018-03-15 14:22] ocombe commented on #22793
It should, but apparently not for the server side module. Could you open an issue on the cli repository instead?

[2018-03-15 14:37] #22793 closed

[2018-03-15 14:37] ocombe commented on #22793
thanks

[2018-03-15 14:59] tiaguinho commented on #20027
Can I implement this?

[2018-03-15 15:05] qinwanguk commented on #20339
Thanks @T-candy,
it worked for me.

just import HttpClientModule instead of HttpModule

ionic must changed handle name...

using ionic 3.x

[2018-03-15 15:10] Serginho commented on #22796
I have a provisional solution patching the module while the provider is private.

[code]

[2018-03-15 15:23] jbmikk commented on #10958
It seems weird to me that depending on whether you lazy load routes or not you get different routes. Shouldn't routes be static regardless of your module loading strategy?

On the other hand I think there should be a separate feature to mount child routes from another module (child module or sibling module, I think this shouldn't be relevant, just as it is irrelevant for components what their orig

[2018-03-15 15:23] Serginho commented on #22796
I have a provisional solution by patching the module while the providers is not exported.

[code]

Any better solution?

[2018-03-15 15:26] kylecordes commented on #10958
Echoing @jbmikk , this is also a pain point when introducing Angular to people coming from other tools. This behavior, where the laziness of the route loading is entangled with the URL scheme, is surprising and offputting.

(I suspect it is merely an artifact of schedule pressure during the initial implementation of lazy loading, and might take a while, certainly a major release, to eventually add

[2018-03-15 15:33] Zerokk opened #22801 "ngIf not working properly when array is empty"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[x] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
I've got an object with va

[2018-03-15 16:09] ChazUK opened #22802 "i18nSelect Pipe not exporting keys to messages.xlf on ng xi18n"
## I'm submitting a...
<pre><code>[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question</code></pre>

## Current behavior
Using the i18nSelect pipe doe

[2018-03-15 16:10] ChazUK commented on #22802
It'd be great to get @ocombe's guidance on this.

[2018-03-15 16:15] ocombe commented on #22802
hello, it's not possible right now, but you can use the select ICU if all your keys are static, and this will be extracted: https://angular.io/guide/i18n#select-among-alternative-text-messages

however with v6 we'll introduce runtime i18n for the ivy compiler, and it should be able to extract those kind of data, I'll put it on our todo list to make sure that it's a use case that we support

[2018-03-15 16:15] mbeckenbach commented on #22800
Someone (me) imported the wrong routing module into the child module behind /full.
Closing this. Sorry!

[2018-03-15 16:15] #22800 closed

[2018-03-15 16:31] Serginho commented on #22796
I think that enabled = true of RegistrationOptions is pretty unrealistic.

This doesn't work with AOT:
[code]

And this works, but ignore it!!!
[code]

[2018-03-15 16:35] trotyl commented on #22797
Relates to #17474

[2018-03-15 16:36] ChazUK commented on #22802
Thanks for the blazing response @ocombe, can I ask why this pipe is currently in the code, and what it's intended use is for?

[2018-03-15 16:37] vladuionut commented on #19119
great @trotyl but how can I use it for structural directives (ex ngIf )

[2018-03-15 16:38] ocombe commented on #22802
I'm not sure, it's a bit of a duplicate of the ICU expressions, but it can be used in a service I guess

[2018-03-15 16:58] trotyl commented on #19119
@vladuionut No, you can't. There's not something can be done by a proxy renderer.

[2018-03-15 17:47] RobViableIs commented on #18271
Has anyone found any solution?

[2018-03-15 17:50] jotatoledo commented on #22801
If the part that is affected is plain easy peazy as you mention, it should be as easy to reproduce in a minimal environment. Please do the effort and provide a living reproduction.

[2018-03-15 17:59] RockGuitarist1 commented on #12540
Having this same issue on v5.2.9. Causing multiple API hits on component load.

[2018-03-15 18:04] vicb commented on #22802
closing as work as intended

[2018-03-15 18:04] #22802 closed

[2018-03-15 18:08] ChazUK commented on #22802
@vicb Is it possible to remove it from the I18nSelectPipe from the core? As it isn't functional

[2018-03-15 18:25] johnjbarton opened #22804 "Horrible hack breaks whenever selenium-webdriver Command changes."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
" * Copy of the `Command`

[2018-03-15 18:38] #22748 closed

[2018-03-15 18:38] #22774 closed

[2018-03-15 19:51] catchshyam opened #22805 "Unable to resolve dependencies with empty path route"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
I have a nested state char

[2018-03-15 20:20] flakolefluk commented on #22801
I think the bug is related to adding or removing attributes. Not to the *ngIf displaying the list. We don't have access to that part of the code and that makes it harder to help. You might have shared the part that is working as expected.
To help you debugging, you can try to display the length of the array(I added a span below)

`
<div *ngFor="let attr of config?.attribute_list">
<span>Check leng

[2018-03-15 20:27] Tularis commented on #14252
This is still the case in Angular 5.2.9... unbelievable that this has endured since angular 2.0 :o

[2018-03-15 20:32] flakolefluk commented on #22794
HttpClient is supposed to work like that: Expect a JSON response, unless you add a responseType option. In this example : { responseType:'text' } . Sounds like a feature request instead of a bug.

[2018-03-15 20:33] BBaysinger commented on #22267
Closing since I couldn't reproduce it. Will come back to this if I run into it again.

[2018-03-15 20:33] #22267 closed

[2018-03-15 20:40] jotatoledo commented on #11447
@ravikumarbggit thanks for the hint!

[2018-03-15 20:53] vehansayvazi commented on #11271
any news on this?

[2018-03-15 21:25] robwormald commented on #22117
this is resolved in the latest builds, see https://github.com/andrewseguin/elements-example/blob/master/src/app/popup.component.ts

[2018-03-15 21:39] Bartosz-D3V opened #22809 "Reactive forms validation documentation - possible issue"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[X] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
Angular documentation (htt

[2018-03-15 21:50] robwormald commented on #20891
Yes, BUT, you should likely build such things without Zones - they're the major issue for environments like Sharepoint - so if its something you want immediately, I'd suggest not including Zones, turning on the `noop` Zone, and handling change detection yourself:
[code]

In general, this model is something we'll make more ergonomic in the future (eg, make the `async` pipe actually be a `push` pipe

[2018-03-15 22:09] jotatoledo commented on #22809
You are clearly not using the same code as in the docs. Please revisit the site and read the sections more carefully.

[2018-03-15 22:12] vicb commented on #22801
Your question sounds like a support request.

Please use the issue tracker only for bugs and feature requests.

Use [gitter](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-got-a-question-or-problem) and [StackOverflow](http://stackoverflow.com/questions/tagged/angular) for support request.

[2018-03-15 22:12] #22801 closed

[2018-03-15 22:16] vicb commented on #22777
closed in 0ebd577

[2018-03-15 22:16] #22777 closed

[2018-03-15 22:33] PascalPrecht commented on #22117
@robwormald that's cool!

Do you have a commit that solves this that we can reference here? I can then close this issue.

[2018-03-15 23:06] robwormald commented on #22117
See https://github.com/angular/angular/pull/22413

[2018-03-16 00:57] bradtaniguchi commented on #22791
This seems to be an html thing, not an angular bug. The spaces when you define for the text area are set as the "default values", so when you use the html's reset, the text area is filled with these values. (as they are set normally by html by default)
So this html code will replicate your issue, except initially the textarea is filled with the extra spaces.
[code]
You can prevent this by doing:
[

[2018-03-16 01:03] a13531a opened #22811 "Router. URL. Add "isLocalUrl" function"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[O] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

There is no "isLocalUrl"

[2018-03-16 01:48] nhhockeyplayer opened #22813 "ERROR TypeError: this.$modal.appendTo(...).modal is not a function"
this was logged at
https://github.com/dougludlow/ng2-bs3-modal/issues/17
but no action being done

I am receiving this now with latest angular, bootstrap and jquery

[code]

here is the console error
[code]

here is my modal in my header.tmpl.ts
I just render a header component whose template sets up a few buttons that launch modals
below is the modal instance in this header component
[code]
every

[2018-03-16 01:54] ericmartinezr commented on #22813
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-16 02:28] nhhockeyplayer commented on #22813
you mean you reviewed this issue
and given you already know the answer amigo
in america we are generous

[2018-03-16 02:28] #22813 closed

[2018-03-16 02:34] jcmmv00 commented on #18224
Me too.

[2018-03-16 04:19] #22721 closed

[2018-03-16 04:53] catchshyam commented on #22805
Just realized that this issue is applicable only with lazy loaded routes. Here is the version without lazy loading and it works just fine https://stackblitz.com/edit/angular-state-data-resolve-issue-nolazyload

[2018-03-16 05:19] rahulsahay19 opened #22816 "Feature Request: Drag and drop of tiles as part of Angular CDK"
Hi Team,

Just a question, last year in angular mix, it was announced that features like drag and drop feature and gesture capturing will be part angular component development kit. Just wanted to understand, whether it will be part of the release planned in april 6.

Here is the link which I am referring to https://www.youtube.com/watch?v=kYDLlfpTLEA. If this is not the right place to ask question

[2018-03-16 05:29] trotyl commented on #22816
Wrong repo, CDK is part of [Angular Material](https://github.com/angular/material2).

[2018-03-16 05:36] rahulsahay19 commented on #22816
@trotyl But, those features aren't having angular material dependency. That was announced in the conf!

[2018-03-16 05:53] trotyl commented on #22816
`@angular/cdk` is [one of the mono packages](https://github.com/angular/material2/tree/master/src/cdk) in Angular Material.

[2018-03-16 07:25] Bartosz-D3V commented on #22809
I need to admit that I hoped for some shortcut access to AbstractControl within HTML template as creating number of getters in component might be problematic for bigger forms. Nevertheless, the documentation is correct, therefore I am closing the issue.

Thank you so much for your help.

[2018-03-16 07:25] #22809 closed

[2018-03-16 07:28] CaerusKaru commented on #22816
Duplicate of https://github.com/angular/material2/issues/8963

[2018-03-16 08:38] kicaj29 opened #22817 "Possibility to extend Angular providers mechanism."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
Currently it is not possi

[2018-03-16 08:39] dusk0r commented on #22794
Content-Type is part of the HTTP response. The client can't know the response type in advance.
Parsing 'text/plain' as JSON sounds like a bug to me.

[2018-03-16 08:40] rahulsahay19 commented on #22816
@CaerusKaru Thanks!

[2018-03-16 09:00] rimlin commented on #15338
Angular 5.0.0 same problem with removing named outlets. Created temp fix directive to use it in templates:

[code]
Change `modal` to your outlet name or provide new `@Input` which will contain name of you outlet.

[2018-03-16 09:00] ThomasKientz opened #22818 "HttpClient docs : Type-checking not working with error handling exemple"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
https://angular.io/guide/h

[2018-03-16 09:16] trotyl commented on #19888
Duplicate of https://github.com/angular/angular/issues/19148

[2018-03-16 09:22] trotyl commented on #22794
Duplicate of https://github.com/angular/angular/issues/20000

[2018-03-16 09:23] trotyl commented on #22794
The title is misleading, it's not about `parsing a request` but `parsing a response`.

[2018-03-16 09:41] sylvainpolletvillard commented on #22709
A client has the same issue when opening our Angular app from a MS Excel macro, but we already use the HashLocationStrategy:
![image](https://user-images.githubusercontent.com/566536/37513805-65820720-2906-11e8-8c28-f27c4afb6841.png)

The error only happens when opening the app from MS Office. It works fine if I use a simple HTML form that redirects to the app.

[2018-03-16 09:49] tofesath commented on #22791
You are right, thank you for your prompt response.

My problem was fixed by removing extra spaces in inner textarea.

[2018-03-16 09:52] Braste commented on #14252
This is just inacceptable. Before introducing new, fancy stuff, maybe the angular team should first fix the old bugs! This makes working with angular a nightmare, when you (have to) use third party components.

[2018-03-16 10:14] snebjorn commented on #6106
This is still an issue.

Here's a demonstration of the issue https://stackblitz.com/edit/angular-jvfn5g

[2018-03-16 10:20] #22791 closed

[2018-03-16 10:27] jotatoledo commented on #22817
At module level the typical approach to provide custom implementation of some class is to expose a `forRoot` method or similar on the module.

[2018-03-16 10:29] snebjorn opened #22819 "a11y: NewRouter should automate focus management"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>
Re-opening #6106 as suggested

## Current behav

[2018-03-16 11:03] valivvvv commented on #18858
Hello @jasonaden ,
Can you give us a specific answer about this issue. There are many cases where we'd like for <a href=""> to work like [routerLink], if the url is on the same domain. Or maybe point us to documentation related to this case.

Thank you, looking forward to clear out this issue!

[2018-03-16 11:14] divdavem opened #22820 "Error: Illegal State: external references changed when splitting Bazel build in smaller units"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

While trying to use [baze

[2018-03-16 11:35] belighH opened #22821 "window.open(path, '_self'); redirect to home route"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

window.open(path, '_self');
redirect to home on production version (dist)

## Environment

<pre><code>
Angular version: 5.2.7

Browser:
- [ x] Chrome (desktop) version XX
- [

[2018-03-16 11:36] MoAsmar commented on #18523
+ 1

[code]

[2018-03-16 11:38] seedy commented on #13461
No time for a PR but here's what I came up with :
[code]

If anyone's up to do the whole PR job before I get some free time, go for it!

[2018-03-16 12:15] bevlison commented on #15890
I just experienced the error for the first time, did not find an answer here. Found the answer in my case :
It was an error in the blabla.component.ts file :
two 'export class ' rules, the wrong one was a temporary 'model' definition, which I moved into another file (blabla.model.ts), after that the error 'Please add a @Pipe/@Directive/@Component annotation ' appearing in the app.module.file, conc

[2018-03-16 12:40] babyblue94520 opened #22823 "About translate"
I hope to establish multilingual support for the project in a simple, fast, and low-coupling way. I have tried many tools, but none of them are ideal, so I developed a tool [translate-go](https://github.com/babyblue94520/translate-go).
But translate-go cannot do SEO.
So whether the great angular can develop similar tools and translate at the time of compilation.
This is a simple example for the of

[2018-03-16 12:56] jrmcdona commented on #18858
@valivvvv the routing framework doesn't work like that.  Use Javascript or a click event if you need to do something different

[2018-03-16 13:11] trotyl commented on #22817
https://angular.io/guide/dependency-injection#the-provide-object-literal

https://angular.io/guide/dependency-injection#alternative-class-providers

[2018-03-16 13:14] flakolefluk commented on #22794
If JSON is expected => HttpClient.get<T>(url) // returns Observable<T>
If other type is expected(i.e. text) =>HttpClient.get(url, {responseType:'text'}) // returns Observable<string>
If you don't know the type => HttpClient.get<T>(url, {observe:response}) //returns Observable<HttpResponse<T>>. You'll get the headers as well so you can parse your data properly.

[2018-03-16 13:22] FDIM opened #22824 "Upgrade component: $attrs and $transclude locals are not provided"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

When upgrading angularjs

[2018-03-16 14:00] kicaj29 commented on #22817
Please ready one more time problem description. I think you did not get my point.

[2018-03-16 14:10] dawidgarus commented on #22756
Here's workaround to achieve desired behavior: https://plnkr.co/edit/olWXoB1X4BN4dTmFYF28?p=preview
Main drawback is that You have to define static property `parameters`. It's not completely non-standard. Angular actually uses it instead of reflections to determine dependencies, so when You have `parameters` there's no need for `@Injectable` or other decorators.
It would be much cleaner if there w

[2018-03-16 14:16] trotyl commented on #20564
Duplicate of #18567

[2018-03-16 14:25] instriker opened #22825 "ngOnInit is not respecting inheritance with AOT when base class is from an external librairy using barrel files"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

When
- I have a component

[2018-03-16 14:35] dawidgarus commented on #22818
From my experience, if You want `catch` to return observable of the same type, the best way is to make handleError a generic function: `handleError<T>(error: HttpErrorResponse, caught: Observable<T>): Observable<T>`.
`catch` and `catchError` can then properly infer return type.

[2018-03-16 15:02] aec4444 commented on #20991
following

[2018-03-16 15:24] trotyl commented on #12708
Can be closed in favor of #22633?

[2018-03-16 15:41] johnmcase opened #22826 "fakeAsync tests not working with lodash debounce"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
Using fakeAsync() and ti

[2018-03-16 15:45] JiaLiPassion commented on #22826
@johnmcase , please post this to `https://github.com/angular/zone.js`, I can implement this feature there. and I just implement similar features here, https://github.com/angular/zone.js/pull/1009

[2018-03-16 15:47] tyholby commented on #21925
I fixed it by updating my typescript dependency to "typescript": "2.5.3".
(I'm on "@angular/core": "5.2.8")

[2018-03-16 15:47] tyholby commented on #21670
I fixed it by updating my typescript dependency to "typescript": "2.5.3".
(I'm on "@angular/core": "5.2.8")

[2018-03-16 15:55] edoparearyee opened #22827 "E2E tests timeout using greensock lib in lazy loaded module when using ngZone.runOutsideAngular"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
I'm trying to use the Gree

[2018-03-16 16:23] scottie commented on #11931
@DzmitryShylovich what a horrid thing you are

[2018-03-16 16:35] hidegh commented on #6429
This is a nice design flaw, beside other... Wonder how many string-based fallbacks we have to use just to be "modern" Angular2 compilant...

[2018-03-16 17:11] greggbjensen commented on #10556
@syndicatedshannon you are right, in most cases you should unsubscribe.  I updated by example above to have `first()` in both cases which automatically cleans up the subscription.

[2018-03-16 17:21] j-walker23 commented on #13200
@vamlumber I will seriously love you long time. This has been killing me for months. Thank you!!!

[2018-03-16 19:33] mafalarz commented on #6361
+1

[2018-03-16 20:06] samuelt1 opened #22829 "Logic inside environments.ts fails in decorator with --prod"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Placing logic of any kind

[2018-03-16 21:09] jasonaden commented on #22778
Closing as a duplicate, plus there's an existing PR for this behavior. While there have been delays on landing the PR, it should be available soon:

https://github.com/angular/angular/pull/20030

[2018-03-16 21:09] #22778 closed

[2018-03-16 21:21] jasonaden commented on #22765
It appears this behaves as expected. If you still feel there is an issue, please provide further details in a new issue.

<hr>

It looks like this is because the `canLoad` guard receives the `Route` object, not a snapshot through which you could get access to the full URL and provide a better redirect. `canLoad` can't get access to the snapshot because it hasn't been created yet at the time `canLo

[2018-03-16 21:21] #22765 closed

[2018-03-16 21:22] jasonaden commented on #22763
Looks related to #17023

[2018-03-16 21:25] jasonaden commented on #22758
I'm sorry but reported issues require a reproduction of the issue. We suggest using [StackBlitz](https://stackblitz.com/fork/angular-gitter), [Plunker](http://plnkr.co/edit/tpl:AvJOMERrnz94ekVua0u5?p=catalogue) or [Github](https://github.com/new).

If this issue persists, please create a reproduction using one of the links above. Describe the difference between the expected and current behavior in

[2018-03-16 21:25] #22758 closed

[2018-03-16 21:25] jasonaden commented on #22728
Great! Looks like this is solved so closing the issue.

[2018-03-16 21:25] #22728 closed

[2018-03-16 21:45] jasonaden commented on #22700
@jtomaszewski Thanks for the issue. I would like to help dig into this a little bit as it's something I think many people want. However, can you please provide a running example of your code? Both the working and not working version using [StackBlitz](http://stackblitz/com)?

[2018-03-16 21:47] jasonaden commented on #22679
Thanks for the issue. I added as a feature request.

[2018-03-16 21:49] alxhub opened #22830 "Tree-Shakeable Providers Followup Work"
# Near term

- [x] Determine whether the `Injector` -> `INJECTOR` rewrite should happen in render2 mode (requires `NgModuleRef` and `ComponentRef` injectors to handle it)
- [ ] Allow injection of root-scope tokens without a current injector, via `inject()`.
- [ ] Convert `InjectableCompiler` to the render3 function style compiler (`compileInjectable`).
- [ ] Inheritance between injectables.
- [ ]

[2018-03-16 21:54] webmail716 commented on #15805
I was able to fix the 401 error code I was receiving from my rails server by adding the following line to my ApiController:

class ApiController < ActionController::Base
  # protect_from_forgery with: :null_session --- didnt work
  # skip_before_action :verify_authenticity_token --- didnt work

  # Taken from http://api.rubyonrails.org/classes/ActionController/RequestForgeryProtection.html
  prote

[2018-03-16 22:29] Ploppy3 commented on #21706
It looks like we will be able to check for future changes over here https://github.com/angular/angular/commits/master/packages/core/src/render3/STATUS.md

[2018-03-16 23:29] ronakvpanchal commented on #12318
I'm still seeing this issue on Angular 5.2.3 version.

[2018-03-17 00:39] kara opened #22836 "Investigate hello world bundle for unnecessary symbols"
It may be possible to move root host binding logic - as well as other logic - into a feature, so that it can be tree-shaken out of hello world.

[2018-03-17 01:18] benneq commented on #12530
I have a similar requirement:
`<h1><ng-content select="[title]"></ng-content></h1>`
I want to completely remove the `<h1>` if there's no content set.

Though I need something like this:
`<h1 *ngIf="titleRef"><ng-content select="[title]" #titleRef></ng-content></h1>`

[2018-03-17 01:48] thefliik commented on #22763
This issue appears to be more nuanced then I originally thought. Before posting, I had noticed that the injected `ActivatedRoute` appeared to be the root route, so I tried looping through the `ActivatedRoute` and then using the result for relative navigation, like so
[code]
This didn't work however, so I created this issue.

Just fooling around now though, I see this DOES work when navigating from

[2018-03-17 01:53] thefliik commented on #22763
The issue seems to be that the _current_ `ActivatedRoute` is being injected and used (which makes sense, seeing as it _is_ the currently activated route), and there isn't a way to get what will _become_ the active route in an `ActivatedRoute` format. (the next route is only provided as an `ActivatedRouteSnapshot`, which can't be used for relative navigation).

[2018-03-17 02:56] Toxicable commented on #16157
done via https://github.com/angular/angular/pull/22615

[2018-03-17 03:12] trotyl commented on #20891
@robwormald The scenario described by @artaommahe is about bring several copies of `@angular/core` (may even be difference versions) at runtime, so there'll not even be a shared root scope. I don't think passing an Injector would work in this case, neither will Ivy.

[2018-03-17 03:21] lishichao1002 opened #22837 "HttpClient Cannot read property 'length' of undefined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

[code]
[code]

## Expecte

[2018-03-17 05:49] sayjavajava commented on #19535
@irejwanul would you like to help me

I am using front end side angular 5
server side spring boot (Oauth2)

code
[code]

NETWORK:

![headers](https://user-images.githubusercontent.com/17933069/37552127-a16f3922-29d0-11e8-8a6d-5ee6d1d02960.png)

Error: Written [error="invalid_grant", error_description="Bad credentials"] as "application/json" using [org.springframework.http.converter.json.MappingJac

[2018-03-17 06:09] sayjavajava opened #22841 "HttpClient.post headers or params data does not goes properly with x-www-form-urlencoded"
I am sending post request from angular 5 httpclient to spring boot security oauth2 server for token request
Code :
[code]
Exception:  Handling error: InvalidGrantException, Bad credentials,
Written [error="invalid_grant", error_description="Bad credentials"] as "application/json" using [org.springframework.http.converter.json.MappingJackson2HttpMessageConverter@290aeb20]

But in Network tab i am s

[2018-03-17 08:59] peterbakonyi05 opened #22842 "`RouteConfigLoadEnd` event emitted multiple times"
## I'm submitting a...
<pre><code>
[X] Bug report
</code></pre>

## Current behavior
When lazy-loaded modules are being preloaded (using `PreloadAllModules` strategy or a custom strategy) and a navigation starts to a module that is currently being preloaded, `RouteConfigLoadEnd` event is emitted twice because `RouterConfigLoader.load` is called twice and it calls `onLoadEndListener` twice ([code h

[2018-03-17 09:18] hiteshmandav commented on #20339
iam using it to comnfigurre it with firebase.
after adding AngularFireDatabase to providders in app.module.ts the problem is solved.
:):)

[2018-03-17 10:03] lishichao1002 commented on #22837
if header value is undefined, the bug is appear.

[2018-03-17 10:03] #22837 closed

[2018-03-17 10:24] GuskiS commented on #21706
When you think it can't get any better you get this 😮
Thanks for the effort 👍

[2018-03-17 11:07] benneq opened #22843 "[6.0.0-beta.8] throws error in @angular/core/src/render3/interfaces/definition.d.ts"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

I just upgraded from `@an

[2018-03-17 12:57] alshdavid commented on #20891
Are there plans to support the use of `document.createElement()`?

[2018-03-17 13:11] irejwanul commented on #19535
Hi @sayjavajava,
Can you provide your server side code as well.

[2018-03-17 14:18] jiangjianyu commented on #6595
Was this bug have fixed?

[2018-03-17 15:36] akalightowl opened #22845 "RouterLink not show real path on DevTooLs and cut it."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

RouterLink like this

`<b

[2018-03-17 16:13] dolebrant commented on #22798
I am currently running
@angular/cli: 1.2.5
@angular/compiler-cli: 4.3.3

So I don't think that this fix would apply in my current situation (I think this was implemented after).  Not really willing to upgrade, so I will just put in a custom fix / hack for now.

But Thanks.

[2018-03-17 16:28] dherges commented on #16157
Should someone like to do a rather academic study: try to figure out the impact of resource inlining (copy by value) vs. require()'ing resources (by reference).

Given that several components `require('shared.css')`, bundle sizes should go up (increased network traffic) and runtime/rendering performance should stay the same (at least for ViewEncapsulation.NATIVE and ViewEncapsulation.EMULATED - wo

[2018-03-17 17:04] piernik opened #22846 "The same formControlName in one form - not in sync"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
I have in my form two fiel

[2018-03-17 17:24] trotyl commented on #22846
Duplicate of #10036

[2018-03-17 17:25] jamercee opened #22847 "Bug in Lifecycle Hooks Tutorial"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[X] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
There is a bug in the life

[2018-03-17 18:05] trotyl commented on #22847
Can be confirmed, it was broken by #20395.

[2018-03-17 18:30] robwormald commented on #20891
@alshdavid ? Yes, that’s already supported.

[2018-03-17 18:51] piernik commented on #22846
Oh... so this i feature :/

[2018-03-17 18:51] #22846 closed

[2018-03-17 19:12] pakmingw opened #22849 "Docuementation Error in Routing & Navigation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[X] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
In Milestone 4, there is a

[2018-03-17 19:27] jamercee commented on #22847
Interesting. Isn't the correct approach with `peek-a-boo-parent` the same taken with `spy`  #20369 ?

[2018-03-17 21:19] antonama commented on #22821
@belighH Could you please add more details? Plunker with example would be great, "path" value is also fine.

[2018-03-17 22:57] umutc commented on #22311
Hello everybody

  I wrote an an App as Angular 5 PWA.  When I sent a web-push, the notification comes both Android PWA and Mac Chrome PWA.
  When I click the notification on Mac :  If chrome opened and not focused, focusing the chrome's current page. If chrome closed not opening a new chrome window as app.magistum.com.
  When I click the notification on Android device nothing happens.

  I thing

[2018-03-18 01:24] edeye opened #22851 "How use different jquery versions in one angular project"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

I want use two different

[2018-03-18 01:28] robwormald commented on #22851
This is unrelated to Angular. Please do not use GitHub for how-to questions.

[2018-03-18 01:28] #22851 closed

[2018-03-18 01:31] #22816 closed

[2018-03-18 01:36] AKlaus commented on #22709
@sylvainpolletvillard, was the workaround (in my post above) with stubbing `history.replaceState` or `history.pushState` of any help?

[2018-03-18 01:42] robwormald commented on #22794
The vast majority of use cases for the HttpClient involve fetching JSON, and so we're optimizing for that case here - there's no way to dynamically read the response type AND make it type-safe, so we make the common case simple, and require extra effort for the less common cases.

[2018-03-18 01:42] #22794 closed

[2018-03-18 02:00] robwormald commented on #22757
Calling static methods is allowed, but what you're doing in https://github.com/halilibrahim/ng-static-reflector-issue/blob/master/src/app/generic/generic.module.ts is absolutely not going to work. We're looking to enable this kind of functionality in future versions, but attempting to declare modules / components / etc this way is not supported.

[2018-03-18 02:00] #22757 closed

[2018-03-18 02:01] kylecordes opened #22852 "Package.json defect in @angular/animations/browser/testing"
## I'm submitting a...

<pre><code>
[x ] Bug report
</code></pre>

## Current behavior

The `package.json` file for `@angular/animations/browser/testing` is defective.

https://github.com/angular/animations-builds/blob/master/browser/testing/package.json

[code]

The `main` field points to a file which does not exist.

## Expected behavior

I believe the value of this field should actually be `ani

[2018-03-18 02:03] kylecordes commented on #22852
Incidentally, the code I use walks all the package files for all of the Angular packages, and only hits the error here. Here is a charming little bit of workaround code:

[code]

[2018-03-18 02:13] robwormald commented on #22845
Using `<button>` for navigation is generally a bad idea, due to accessibility issues. See https://marcysutton.com/links-vs-buttons-in-modern-web-applications/

If `[routerLink]` is applied to an anchor `<a>` tag, then the `href` *is* appropriately set, as far as I can tell - the `href` is the thing a user sees when they hover over a link. Buttons don't have an `href` (or shouldn't), and so you're

[2018-03-18 02:13] #22845 closed

[2018-03-18 02:25] alexmgrant commented on #20203
@TheSilvermind Thanks for this solution. I'm concerned though that this is not a sustainable long term solution as the api might change.

[2018-03-18 02:44] leojkwan commented on #18396
Ran into same problem making a `put` request to my endpoint. I realized I was sending 200 without a response body. Sending status code `204` made angular http 5.2.8 stop complaining. This problem should not be happening even with a 200, but 204 is the correct code for empty responses.

[2018-03-18 02:44] leojkwan commented on #18680
Ran into same problem making a `put` request to my endpoint. I realized I was sending 200 without a response body. Sending status code `204` made angular http 5.2.8 stop complaining. This problem should not be happening even with a 200, but 204 is the correct code for empty responses.

[2018-03-18 03:52] surensubhu commented on #16981
I am also facing this issue. Do we have any workaround for this?

[2018-03-18 05:35] CaerusKaru commented on #11716
@mhevery I think the main concern for this issue is that users have no way of specifying that directives should be applied on the host component. E.g. the following will not work:

[code]

Thus, we need a way to add directives that should be compiled on the host. This issue might not be the ideal solution, but we need _a_ solution.

See related:
https://github.com/angular/flex-layout/issues/76
htt

[2018-03-18 05:38] sayjavajava commented on #22841
Solved by checking credential again . I was sending usernamename instead of username .

working fine . so all new comers can use it .

[2018-03-18 05:38] #22841 closed

[2018-03-18 05:52] akalightowl commented on #22845
Thank you for your explanation.

[2018-03-18 06:20] haimleibman commented on #7076
https://stackoverflow.com/a/46219649

1. Add one more route to same component and navigate to.
2. Or navigate to same route with any params

[2018-03-18 07:02] studioTeaTwo commented on #20891
I see that a method `renderComponent` provided by ivy is imported and referenced at component, not module.
I think it's good that a method to `elementify component` can also be imported and used at per component.

[2018-03-18 10:12] lazarljubenovic commented on #18680
@leojkwan Empty string is not a valid JSON. Angular by default assumes that the response is JSON and tries to parse it. If you know your endpoint returns a different type, tell that to Angular with `resopnseType`. In your case, `text` should work.

It's not an issue with Angular, it's your API: if you say it's `application/json` and then return an empty body, you're not tagging the payload properl

[2018-03-18 11:29] VladyslavKurmaz commented on #22509
Hi.
I have the same issue with v5.2.0 and cordova, but without BrowserAnimationsModule - **push back "hardware" button**
Plus, the issue is reproducible when I try to use FB login JS SDK - **access typescript object inside FB API callback**
Looks like, this is similar issue:
https://github.com/angular/angular/issues/20112

---

bash-3.2$ ng --version
[code]
bash-3.2$ cordova -v
[code]
bash-3.2$ ca

[2018-03-18 11:33] sayjavajava commented on #19535
@irejwanul thanks i have solved issue . Now i am thinking about handling access_token and refresh_teoken , how should i manage them ? should i have store them in localstorage ? have you used them in client side before? actually i am doing 1st time .

[2018-03-18 13:05] valentinoPereira commented on #20339
All I did was add my service to providers array of app.module

[2018-03-18 13:44] trotyl commented on #11931
@StephenFluin The comment above obviously violates the code of conduct, could you help to remove it?

[2018-03-18 17:48] silvanaweb commented on #20823
Hi, I have tried all the suggested solutions, but none works, the child does not animate :(

[2018-03-18 18:14] sqwk opened #22853 "Animation query(): Sibling Selector"
## I'm submitting a...
<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
</code></pre>

## Current behavior
Animation's `query()` "is used to find one or more inner elements within the current element that is being animated" according to the docs.

## Feature Request
Allow selecting sibling or parent elements using the query select

[2018-03-18 20:44] ahmadmgm commented on #13831
j

[2018-03-18 20:46] ahmadmgm commented on #13831
when i use this router function all link in the website point to the same link
is there any way to solve this problem please help me
this.router.routeReuseStrategy.shouldReuseRoute = function(){
        return false;
 }

[2018-03-18 20:57] dimitarrusev commented on #16330
I’m experiencing similar issues with [route animations](https://github.com/dimitarrusev/interactive-shots/blob/master/src/app/shared/utils/animations/animations.ts#L8-L17) containing CSS transforms with multiple function values.

To be more specific, `:enter` transitions don’t fire in Firefox. However, everything works fine if the transform contains only one function value.  [Here](https://dimitar

[2018-03-18 23:38] TheSilvermind commented on #20203
@alexmgrant You're welcome and I agree with your concerns. I think this is not an issue until it really becomes one. I think it is better to use the second implementation I suggested, so you can swap out with a custom client of your own when the BackendHandler is no longer usable in this manner. The only reason I use this method is so I don't have to write my own handler :). If the time comes I wi

[2018-03-19 02:35] manjitkarve opened #22855 "angularjs.org code examples: Removing text-shadow on the AngularJS bits will improve readability"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
On https:/angularjs.org,

[2018-03-19 03:06] robwormald commented on #22855
moved to https://github.com/angular/angular.js/issues/16495

[2018-03-19 03:06] #22855 closed

[2018-03-19 07:26] Shahf172 opened #22858 "Angular 5 Getting data from basic Auth .net api"
let headers = new Headers({ 'Content-Type': 'application/json' }); // ... Set content type to JSON
headers.append('Accept', 'application/json');
headers.append('Access-Control-Allow-Methods', 'POST, GET, OPTIONS, DELETE, PUT');
headers.append('Access-Control-Allow-Origin', 'http://localhost:50555/api/adminSystems');
headers.append('Access-Control-Allow-Headers', "X-Requested-With, Content-Type, Or

[2018-03-19 07:48] Karamuto commented on #16477
Losing hope here, that this will be finished in time, as there is not much time left and there were no realeses so far regarding this feature.

The version 7 release would be pretty late for us.

[2018-03-19 07:52] sandangel commented on #16477
@Karamuto #22654
I think it will be release in v6, but they have to finish Ivy first.

[2018-03-19 08:07] alfaproject commented on #15573
I realize this is a breaking change, but it is a welcomed one. Angular 6 is coming soon so the time for these kinds of changes is basically now. Any hope for this one?

[2018-03-19 08:25] u-ryo commented on #20956
There is a workaround.
Add the codes below to `ngsw-worker.js` around the line `this.scope.addEventListener('push', (event) => this.onPush(event));`(Line 1775).
[code]
Then you can specify the URL in the "notification.data.url".
I created [a test application](https://github.com/u-ryo/angular-swpush).

[2018-03-19 09:04] u-ryo commented on #22311
Handling the 'notificationclick' event hasn't seem implemented in the current(=5.2.0) Angular5 yet.
I posted a workaround on another issue https://github.com/angular/angular/issues/20956#issuecomment-374133852

[2018-03-19 09:38] KErez commented on #19607
So to summarize: If I have an angular 5 component I cannot use it in another angular 4 app?

[2018-03-19 09:38] ocombe commented on #16477
We should have a hello world working this week, but with minimal features (no ICU support for example).
But since it's released with ivy which is behind a flag, we'll keep working on it and release as soon as we finish a new feature, there's no need to wait for v7

[2018-03-19 09:40] gubenkovalik opened #22859 "This is the worst framework i have ever seen."
This is the worst framework i have ever seen.

[2018-03-19 09:43] gubenkovalik commented on #22859
I have real project with Angular, and the only thing i get while developing - is the hurting. Tons of hurt i get.
You need to be a creator of Angular to make a real project with Angular,

[2018-03-19 09:46] gubenkovalik commented on #22859
Yes, Angular is very good if you developing something not complicated more than "Hello World" application. But when you deal with real big scale project - the hurt is the only thing you get.

[2018-03-19 09:47] zoechi commented on #22859
Your issue doesn't contain a single bit of useful information anybody could act on.
At best the problem is that your expectations are wrong and you blame Angular instead of adjusting yourself,
and the worse case is that you are just spreading spam.
Angular works great for most. If it doesn't for you it's highly likely the problem us on your end.

[2018-03-19 09:49] Zerokk opened #22861 "Component inside "ng-content" doesn't seem to be able to write classes inside tags wrapped with directives"
## I'm submitting a...
<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
Classes are not being writt

[2018-03-19 09:53] gubenkovalik commented on #22859
@zoechi , your comment doesn't contain any information, that can help the situation, and from one side, i can understand you, but no one wants to get deep into it. just try to develop big project with angular and without. How many time would take both? Angular with consume at least 5x time more than if without Angular.

[2018-03-19 09:55] gubenkovalik commented on #22859
Angular - is the most perplexing.

[2018-03-19 09:56] zoechi commented on #22859
There is no situation that needs help.
You need to stop acting like 3-year old.
Grow up, get your sh*t together and stop spamming.

[2018-03-19 10:00] Zerokk commented on #22861
Hey! Just found out a problem in my code that wasn't related to this, and was causing everything to fail. Sorry! Closing it.

[2018-03-19 10:00] #22861 closed

[2018-03-19 10:03] pkozlowski-opensource commented on #22858
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-19 10:03] #22858 closed

[2018-03-19 10:03] gubenkovalik commented on #22859
@zoechi, don't cry, contributor, you are not blame that you are into that sh*t

[2018-03-19 10:06] #22859 closed

[2018-03-19 10:06] mlc-mlapis commented on #22859
@gubenkovalik ... the reality is just opposite, it is the very suitable framework especially for real big projects. Just to guess, you problem is probably that you see it / try to use it by the same way as from jQuery point of view which is totally wrong way.

[2018-03-19 10:08] ocombe commented on #22859
Hello, this is not the place to post this kind of message @gubenkovalik, I'm closing the topic. Please follow the [contributing](https://github.com/angular/angular/blob/master/CONTRIBUTING.md) guidelines if you want to post anything constructive.

[2018-03-19 10:08] nirvan002 opened #22862 "Angular 6 - LTS"
Hi,
Angular 6 is released on 04/04/2018 while its support start date starts on 10/2018. Can you explain this deceleration?
Will Angular 6 be supported between 04/04/2018 and 10/2018?

Best regards.

[2018-03-19 10:09] gubenkovalik commented on #22859
Okay, close it, but still Angular remains to be better. Best wishes, contributors, im outtie...

[2018-03-19 10:10] ocombe commented on #22862
Hello, where did you see this date? It's most likely a mistake. v6 will be supported for 2 major versions (until v8) since it's an LTS

[2018-03-19 10:11] ocombe commented on #22862
Actually I think that it just means that it will "still" be supported after 10/2018 (when v7 comes out)

[2018-03-19 10:18] dgroh commented on #19607
@KErez - that is correct! Unless you change the `metadata` file by hand, what is not recommended...

[2018-03-19 10:24] nirvan002 commented on #22862
Hello,
https://github.com/angular/angular/blob/master/docs/RELEASE_SCHEDULE.md

**Long-Term Supported (LTS) Versions**
Version -  LTS Start Date - LTS End Date
^4.0.0 October 2017 October 2018
^6.0.0 October 2018 October 2019

[2018-03-19 10:24] Karamuto commented on #16477
@ocombe
That sounds great! It doesn't need to be complete with ICU from the get go. If it will advance in the latter realeses of v6 this is completly fine by us.

Thanks for the great work again!

[2018-03-19 10:31] nirvan002 commented on #22862
Did you mean that Angular v6 will be supported from 04/04/2018 ?

[2018-03-19 10:34] nirvan002 commented on #22862
`Actually I think that it just means that it will "still" be supported after 10/2018 (when v7 comes out)`

[2018-03-19 10:39] mgol commented on #22862
Angular 6 will be a regular release first and then, after approximately half a year it will become an LTS; that's what those tables mean.

This follows a similar pattern to what NodeJS does: https://github.com/nodejs/Release

[2018-03-19 10:48] divdavem commented on #22613
I am also facing this issue while trying to use bazel to build [ng_bootstrap](https://github.com/ng-bootstrap/ng-bootstrap) (cf the [bazel branch of my fork of ng-bootstrap](https://github.com/divdavem/ng-bootstrap/tree/bazel)).
Especially, using `ts_devserver` does not work when using `module_name` in `ng_module`.

You can reproduce this issue with [my sample repository](https://github.com/divdav

[2018-03-19 12:08] seedy commented on #22217
`registerOnValidatorChange` seems to follow the same logic as `ControlValueAccessor`'s methods
`registerOnChange` and `registerOnTouched`.

Therefore I'd tell :
[code]

[2018-03-19 12:09] nkarthikeyan90 opened #22863 "Communication between iframe to current component"
Hi,
I have used angular 5 version ,i need to send some data to Iframe and get back from componenet.ts file.
how do that
thank you

[2018-03-19 12:47] KErez commented on #19607
@dgroh angular continues breaking compatibility. That is very bad practice. So if I want to create or upgrade a small external component I need to upgrade the entire system. That is a shame:(
What should I change in the metadata in order to make it work? Can you point me to an example?

[2018-03-19 12:57] ericmartinezr commented on #22863
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-19 13:01] aitboudad commented on #19607
@KErez there is no breaking compatibility, you can use angular 4 components in angular 5 but not the reverse which is logical to me, angular 5  contains some features that cannot be known in the old version.
it's the same for all libraries that follow semver.

[2018-03-19 13:17] StevenLiekens commented on #22647
I improved my motivation for notifying components when they are attached or detached.

[2018-03-19 13:27] ChristianSchroedel commented on #15477
Thank you!
Your workaround really helps me until this issue fixed :smiley:

[2018-03-19 13:40] nirvan002 commented on #22862
Thank you.

[2018-03-19 13:43] mgol commented on #22862
If everything's clear could you close the issue?

[2018-03-19 13:46] #22862 closed

[2018-03-19 14:50] omermizr opened #22865 "CanActivate Guards: unable to navigate to another route during canActivate evaluation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

There is no way (or at le

[2018-03-19 15:02] ng-ankit-bhardwaj commented on #16595
https://medium.com/@ankitbhardwaj_49963/impure-pipes-in-angular-94ba7f112e4a

[2018-03-19 15:03] ng-ankit-bhardwaj commented on #15041
https://medium.com/@ankitbhardwaj_49963/impure-pipes-in-angular-94ba7f112e4a

[2018-03-19 15:08] divdavem opened #22866 "bazel ts_devserver rule with dependency on HttpClientModule: `Uncaught ReferenceError: ɵi is not defined`"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
While trying to use bazel

[2018-03-19 15:10] connorwyatt commented on #15041
Thanks for posting your article, but I don't think it adds anything to this discussion, we're not discussing what impure pipes are, but instead a way to improve performance by being able to tell the change detector that something has changed.

[2018-03-19 15:31] leojkwan commented on #18680
@lazarljubenovic thanks for clarifying, I did try the aforementioned suggestions, that is, to tell Angular that my `responseType` is `text`, but I still ran into with http 5.2.8, I will try again and try to provide more information for the context of my issue.

To be clear, if I do not want an endpoint to send any payload back, just a success 200, I would need to set `responseType` to `text`?

[2018-03-19 15:52] gkalpak commented on #22824
They are deliberately not passed, since these features are not supported by `ngUpgrade` (see also [here][1]). `ngUpgrade` does not support all AngularJS features, because some are impossible to support (needing access to AngularJS internals) and others are not worth the complexity.

In general, if we decide to support a specific feature, we aim to make it work exactly the same as it would in a pla

[2018-03-19 16:03] sarunint commented on #16477
@Karamuto see #22654 for a sneak peak!

[2018-03-19 16:45] karsunke commented on #7942
A usecase would be a loading-overlay which hides itself when all async tasks in this zone have finished.

[2018-03-19 17:41] jcimoch commented on #14988
Still present in latest angular version.

[2018-03-19 18:05] lazarljubenovic commented on #18680
Yes.

[2018-03-19 18:14] AckerApple commented on #19607
@KErez, I know it seems like madness and it WAS to me, as I have several Angular packages with people that WERE reporting incompatibility issues about 4 installing packages bundled with Angular 5.

All those issue reports have gone away once my installers upgraded to Angular5. And again it's NOT a complete incompatibility. You'll get threw it. Upgrade to Angular5 if possible, it's worth it for the

[2018-03-19 18:19] Da13Harris commented on #9121
Per the summary from @AlmeroSteyn :

I wonder if this portion can be achieved reasonably quickly, since it seems to be low hanging fruit.

[2018-03-19 19:01] frederikocmr commented on #14743
I solved this problem _"Error: Uncaught (in promise): RangeError: Maximum call stack size exceeded"_ by running `ng serve` again.
Why I got this problem?
 I had two terminals opened at once. In terminal 1, there was the 'ng serve' serving. And in the terminal 2, I was creating components/services/modules with `ng generate `.

So I think that there was a problem with the new changes and the process

[2018-03-19 19:39] MrWolfZ commented on #20823
@silvanaweb Can you share your code? Maybe we'll be able to help.

[2018-03-19 20:22] briancodes commented on #10929
Just to note that route transitions using the `BrowserAnimationsModule` need to be considered in potential solutions to keeping scroll position (if you use them, or plan to use them).

[code]
[code]
With `router-outlet` event handlers and `NavigationEnd` subscription in the root component, the `NavigationEnd` event will be triggered before the `routerTransition` begins. Changing scroll positions b

[2018-03-19 20:23] petebacondarwin commented on #12318
It would be very helpful if you could create an example @tudorgergely.

[2018-03-19 20:52] kyubisation commented on #9121
Probably. A basic implementation would be as follows: https://stackblitz.com/edit/angular-obkdtf
I apologize for this quick and dirty example. I currently lack the time to publish this as part of a package.

[2018-03-19 21:27] FDIM commented on #22824
I understand, but the issue that still remains is that if these values are not provided, you simply can't upgrade a component that for example needs `$transclude` or `$attrs` for some of it's optional functionality

In my case, we have a custom autocomplete and select components that use a shared service to open a menu which shows a list of items (could be filtered, highlight some text and are als

[2018-03-19 21:48] FDIM commented on #22581
I just tested it out, and if I pass `propagateDigest: false` it works in my example as well.

@gkalpak if you say otherwise, I'll try to make a PR that will add another flag to the `if` you pointed out [here](https://github.com/angular/angular/blob/d509bd684980f665c3ae29eaff815e756c1a1a7d/packages/upgrade/src/common/downgrade_component_adapter.ts#L155-L163) that will check if `downgradeModule` was

[2018-03-20 00:06] t03apt commented on #14033
I am also looking for a one time binding.
In addition I'd like to be able to trigger an update for the binding manually.

For example it can be done in Aurelia like this:
[code]

[2018-03-20 03:45] #22734 closed

[2018-03-20 04:11] IgorMinar opened #22871 "google3 CI check seems to consider only the last commit and not the PR diff"
While working on the rxjs v6 update PR #22573 I noticed that the g3 CI check suddenly claimed that the PR had no impact on g3 (it had). This check was working just fine until I pushed a last commit to the branch that had no impact on g3 - that makes me suspect that the check operates only on the last commit and not the diff between master and the PR HEAD.

Screenshot:

![screen shot 2018-03-19 at

[2018-03-20 04:28] LucasPaganini opened #22873 "Angular Universal documentation missing files"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
[Angular Universal guide](

[2018-03-20 05:19] LucasPaganini commented on #22873
I managed to fix the errors, unfortunately, I wasn't using git while debugging so I can only provide a [working repo with one commit...](https://github.com/LucasPaganini/angular-universal-tour-of-heroes) :(

What I did:
- Added a new app to "apps" array in the .angular-cli.json
- Added the main.server.ts file
- Downgraded the ts-loader webpack plugin from 4.1.0 to 2.3.7
- Added a .gitignore

Also:

[2018-03-20 05:29] pmccloghrylaing commented on #13114
@Jacksunwei would the existing `ngPreserveWhitespaces` attribute be sufficient?

[2018-03-20 05:38] KErez commented on #19607
@AckerApple I agree, it is better to upgrade but everything is a matter of timeframes which I don't have for the main app at that moment. The outcome is that I cannot use angular5 components that we already have. This kind of behaviour was not happened in angularjs and you could use ng1.6 components in ng1.5 app or even earlier versions. The same goes with other libraries.
Anyway @dgroh mention th

[2018-03-20 07:12] IgorMinar opened #22877 "compiling aio against 6.0.0-beta.8 fails with Interface 'ComponentDefArgs<T>' incorrectly extends interface 'DirectiveDefArgs<T>'"
[code]

env info:

[code]

[2018-03-20 07:46] dzonatan commented on #20052
@kara was this issue closed by mistake?

[2018-03-20 08:49] Tonterias opened #22879 "Re-fix(router): reexport router directives #9708 is occurring again."
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Just like in this issue,

[2018-03-20 09:17] jefBinomed commented on #20810
I observe the same behaviour. I write my own StackBlitz to show the problem : https://stackblitz.com/edit/angular-56ruzp For me it's a major problem because if we want to deal with that, we have to passed the reference of the contentChild element to the child. So if there is an official and clean workaround, I'm intersted by it !

[2018-03-20 09:18] mo-norant commented on #16406
Hi, in the newest angular version is this bug still existing. Shoutout to the angular team?

[2018-03-20 09:21] mo-norant commented on #16406
@kamranahmedse workaround worked for me

[2018-03-20 09:24] JilanBasha opened #22880 "Refreshing takes to default fallback (from backend)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[X] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

When I tried refreshing a

[2018-03-20 09:45] zohar1000 commented on #18829
player.destroy() resets the styles back to their values prior to the animation, so after the .destroy() command I have to set the styles one by one to the values where the animation finished.

for example, if I have an element with width 50px and I want to animate it to 100px, then the code will look like:
`const el = ...  // some element having a width of 50px
const myAnimation = this.animationBu

[2018-03-20 09:47] coffeymatt opened #22881 "Documentation for custom async validators"
## I'm submitting a...
<pre><code>
[x] Documentation issue or request
</code></pre>

I can't see any documentation on async custom validators (there is section on custom validators, but not async). An example with the common scenario of using http in a validator would be very useful as I'm struggling to figure out how to make it work/fire.

[2018-03-20 11:03] JilanBasha commented on #22880
I got what I want after using Hash location strategy
There are two location strategies
1. HashLocationStrategy
2. PathLocationStrategy

default is PathLocationStrategy.
If we use HashLocationStrategy, when we reload page it will reload to current location.
refer https://codecraft.tv/courses/angular/routing/routing-strategies/ to know how to use HashLocationStrategy.

[2018-03-20 11:03] #22880 closed

[2018-03-20 11:12] picheli20 commented on #20523
I think this can be closed, I've tested and it's showing  the following validation:
[code]
It's enough?

[2018-03-20 11:29] hardsetting commented on #19251
In theory the AbstractControl.enable() and AbstractControl.disable() methods have a "selfOnly" boolean option that would look like what you're looking for.
Unfortunately, after looking at the [source code](https://github.com/angular/angular/blob/4648597d14e843f75c5e9dd761af740c1c27b5c0/packages/forms/src/model.ts#L406) it seems it's being ignored.

[2018-03-20 12:13] AckerApple commented on #19607
This comment is opinions only:

@KErez AngularJs 1.5 to 1.6 is a MINOR version number change. Angular 4 to 5 is a MAJOR version number change. You can compare bananas to rocks, it’s possible, but a MAJOR version change implies breaking code, a MINOR does not always imply broken code.... you shouldn’t compare the too like you are.

Bottom line, it’s your own fault for using bleeding edge technologi

[2018-03-20 12:59] dalu commented on #7341
It's not clear what the current status of this is and I came here from a Google search trying to find out about "angular multipart/formdata -angularjs"

[2018-03-20 13:46] gkalpak commented on #22023
`http-server` does not support rewriting requests to `index.html` (which is needed in order for the PathLocationStrategy to work). This means that if you land on a specific URL (other than `/` or `/index.html`) and the ServiceWorker isn't activated yet (because the SW knows to rewrite navigation requests to `/index.html`), then the request is passed through to the server (in this case `http-server

[2018-03-20 13:46] #22023 closed

[2018-03-20 14:00] gkalpak commented on #22087
Hopefully the DevTools related issues will be fixed by #22883, @petivagyok16.

##
But it does seem that after entering `SAFE_MODE`, you are unnecessarily stuck in there for good :grin:
Theoretically, you should be able to cause the SW to unregister itself by removing `ngsw.json` from the server (i.e. return 404) which doesn't seem to work, since SW ignores all messages/requests (as @sean-nicholas

[2018-03-20 14:04] gkalpak commented on #21292
@LFeh, can you provide a non-minified stacktrace (and also try with the latest `@angular/service-worker` version).

[2018-03-20 14:23] jackkoppa commented on #21636
Thanks @gkalpak - this is fantastic. Appreciate the thorough response, and regret that I wasn't able to do more of the fixing on my own.

I'll test out your fix, to verify that it fixes this issue (21636) as we've been experiencing it, and then, if I still see the `--base-href` problem, open a separate issue. My roadblock up until this point has been building the Angular repo w/ Bazel on Windows (

[2018-03-20 14:34] echo-sean opened #22885 "Documentation required: Routing with replaceUrl does not remove queryparams"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
When using `replaceUrl: tr

[2018-03-20 15:11] djindjic commented on #7409
@juliemr ? really cannot find any example how to test ControlValueAccessor components

[2018-03-20 15:58] gkalpak commented on #20404
We also need this for angular.io. The usecase:
We want some requests to pass through to the server, were we have configured certain redirection rules. With the previous `@angular/service-worker`, we were able to exclude specific requests (based on the URL) from being handled by the SW, so these URLs were passed through to the server.

[2018-03-20 16:35] JiaLiPassion commented on #7409
I would like to look into this one, I am working on enhancing `fakeAsync` and `async` in `zone.js` recently and added several new features to support `fakeAsync/async` which will be released in the next version of `zone.js`.

So could @traviskaufman  or anybody here provide al repo to reproduce the issue? so I may make some proposal about how to implement those features in `zone.js` or `angular`.

[2018-03-20 16:41] kabb5 commented on #19417
I had this error message also ... what resolved it for me was importing Services from the same Module with relative paths rather than using a barrel.

[2018-03-20 17:05] gkalpak commented on #21636
Me too :grin:
Currently, I still use `sh test.sh browserNoRouter` (but note that certain tests fail - I just ignore those).

[2018-03-20 17:26] #22381 closed

[2018-03-20 17:27] ocombe commented on #22140
Have we seen this on any other issue? I think it can be closed

[2018-03-20 17:28] #21495 closed

[2018-03-20 18:17] alexzuza commented on #22877
Seems dup of https://github.com/angular/angular/issues/22843

[2018-03-20 18:24] jenniferfell opened #22890 "Verify docs match examples updates for rxjs@6.0.0-alpha.4"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ X ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Doc text matches old ex

[2018-03-20 18:27] jenniferfell commented on #22890
@jbogarthyde Opening an issue so we can easily link this doc update request (and doc update PR) to the original examples update PR.

[2018-03-20 18:54] dottodot opened #22891 "Using ts-loader and per docs causes Zone is not defined error"
I have the following webpack config which is pretty much the same as the docs for my Universal server.ts

[code]
but this gives an error of

[code]
However if I just remove the ts-loader from the webpack config it builds fine and works. So not entirely sure what it's purpose is.

[code]

[2018-03-20 20:31] AlexKhymenko commented on #12121
Any news on this one just wanted to know is it even possible to implement?

[2018-03-20 20:56] vmagalhaes opened #22895 "Bundle SystemJS help"
## I'm submitting a...
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ x ] Support request

## Current behavior

Hi, I need a help to bundle my project the right way. The load page of my project is a little slow and a need a solution to this, so if you know something that can help me I will a

[2018-03-20 20:59] ericmartinezr commented on #22895
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-20 21:03] #22895 closed

[2018-03-20 21:08] camicase82 commented on #13640
Hi, im having the same issue but I think it migth be related to the server. First I had a problem login in, and had to add a proxy config to solve a problem of a parameter not being set in the request, and now, that I try to call a second endpoint, the cookie is not there, any ideas?

just in case this is my function:

[code]

[2018-03-20 21:33] netwobble commented on #10981
I'm sure this is a common request for med to larger applications. Constrained to one router outlet OR give up lazy loading.  This does not seem like a great compromise.  I see a lot of great things coming with each release but we need core functionality to be fixed.

[2018-03-20 22:43] jotatoledo commented on #22881
Related to #22217

[2018-03-20 22:50] #22843 closed

[2018-03-20 22:50] #22877 closed

[2018-03-21 02:03] trotyl commented on #19417
@kabb5 That's not something can be helped by Angular, what Angular can get is only an `undefined` value, there's no way to guess what you did.

[2018-03-21 05:26] moniqx4 commented on #21670
I had a similar error in regard to rxjs, and the issue was because I had node_modules installed in my src directory, which was conflicting with the one that was being using.

So I had project/src/node_modules, and I also had project/node_modules . I had to remove the one, project/node_modules, and then take the one in project/src/node_modules and move it to /project/ .

After that, no more error,

[2018-03-21 07:32] centigrade-thomas-becker commented on #11271
@mkotsollaris Did you read the reply with the most thumbs up?

[2018-03-21 07:43] sergey-morenets commented on #21706
Was it included in Angular 6 RC.0? I tried to enable Ivy renderer in tsconfig.json:

[code]

But when I built the project ng build --prod I didn't notice any changes in the size of the generated bundles.

[2018-03-21 07:51] trotyl commented on #21706
@sergey-morenets There's no inheritance support for `angularCompilerOptions`, you'll need to have that on direct `tsconfig.json` being used. For example, it should be `src/tsconfig.app.json` in a normal Angular CLI project.

[2018-03-21 07:56] sergey-morenets commented on #21706
@trotyl Thank you for the hints. When I included this flag in tsconfig.app.json and ran ng build --prod I got an error:

[code]

[2018-03-21 08:04] trotyl commented on #21706
@sergey-morenets Any possible error are expected for now... 😃

[2018-03-21 08:07] avatsaev commented on #21706
Ivy isn't ready yet, expect some errors (along with some Spanish Inquisition)

[2018-03-21 08:13] anjmao commented on #12409
I think the problem is that `initTestEnvironment` is called on every tests run so if you are on watch mode the only good way would be to cache compiled templates. Angular currently is not exposing cache https://github.com/angular/angular/blob/master/packages/compiler/src/jit/compiler.ts#L41

If it would be possible to give custom cache store implementation for testing then we could store cache on

[2018-03-21 08:53] Flood opened #22902 "ReferenceError: Event is not defined"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

SSR crashes with

[code]

[2018-03-21 09:26] minslay commented on #13725
I experience same issue. I maintain an angular application (v5.2.0). Every 1/2 minute I refresh the content and it must repaint new components and delete old components.
I've been watching ngIf and it works properly. (DOM nodes not exist at HTML, but remain as detached nodes)
![performance](https://user-images.githubusercontent.com/24521145/37702105-cb4d29e2-2cf1-11e8-8a24-6ebcc4cc749d.png)
Any id

[2018-03-21 09:35] JiaLiPassion commented on #22902
@Flood , could you provide a reproduce repo?

[2018-03-21 09:43] ghetolay commented on #13725
@minslay are you mixing content projection (`<ng-content>`) and structural directives (`ngIf`, `ngFor`...) ?

[2018-03-21 09:48] luckylooke commented on #21660
@ocombe please can you tell me how can you make other locales work?
https://stackblitz.com/edit/angular-ghh8mh?file=app/app.component.html
Many thanks

[2018-03-21 09:50] riturajratan commented on #14692
what should i do if i want to load module at the place of component.
for more see https://stackoverflow.com/questions/41716883/how-to-load-child-route-by-default-in-angular-2

[2018-03-21 09:51] riturajratan commented on #14692
https://stackoverflow.com/questions/48878754/how-to-load-child-route-by-default-with-lazy-loading-in-angular-2    if we do it from module then its not working

[2018-03-21 09:53] Flood commented on #22902
My repo is private but it seems to be the same issues that is described in here: https://github.com/angular/universal/issues/844#issuecomment-346929471

And here is a repo: https://github.com/wpcfan/universal-starter.git

[2018-03-21 09:55] arielkuzminski commented on #22497
Same problem here on Ubuntu machine, when using Angular CLI version (1.7.3).

[2018-03-21 10:06] trotyl commented on #21660
@luckylooke Currency is not bound to locale, you'll need to specify it:

https://stackblitz.com/edit/angular-mjw5d6?file=app/app.component.html

[As you can see](https://unpkg.com/@angular/common@6.0.0-rc.0/locales/es.js) there're 20 currencies supported in locale `es`:

[code]

[2018-03-21 10:16] JiaLiPassion commented on #22902
@Flood , thank you, I think this issue is caused by the code I added, I will check it.

[2018-03-21 10:27] JiaLiPassion commented on #22902
@Flood , the `patchEvent` error is caused by my code, but the https://github.com/angular/universal/issues/844#issuecomment-346929471 seems to be another issue caused by `@HostListener`. I will first resolve the `patchEvent` one.

[2018-03-21 10:29] Flood commented on #22902
Ok great, thanks! Do you know when the fix can be released?

[2018-03-21 10:30] JiaLiPassion commented on #22902
@Flood , I am not sure the release date, I will try to find out the  reason of https://github.com/angular/universal/issues/844#issuecomment-346929471  first

[2018-03-21 10:33] benneq opened #22903 "[6.0.0-rc.0] TypeError: undefined is not iterable (in @angular/compiler-cli)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

I get the following error

[2018-03-21 10:36] drademacher opened #22904 "Spelling error in Guide -> Testing -> FAQ"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[X] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
"The component DOM tests _

[2018-03-21 10:41] minslay commented on #13725
In my application I call my API to serve data.
I use *ngIf to paint my data, but if no records were found I paint a html template that uses <ng-content>

My code:
[code]
and my <no-results> template contents the <ng-content> tag:

[code]

Can be that mix the cause of this issue??

Thanks!

[2018-03-21 10:43] csutorasr commented on #21709
Are PRs allowed?

Is the purpose of the CircleCI equals to the travis, or can it be changed? E.g. making e2e and unit tests parallel.

May I create an issue for that to discuss?

[2018-03-21 11:04] ghetolay commented on #13725
I don't understand clearly your setup (we shall continue this elsewhere like gitter).

But basically if you have a component with
[code]

used on a parent component like
[code]

When `ngIf` is false, the content is detached from the DOM but not destroyed because the content lifecycle is tied to the component defining that content.

So in our example the `<h2>` is only destroyed when the parent com

[2018-03-21 11:10] benneq commented on #22891
Please just fill out the Form that appears when you click on "New Issue" or close this issue.

I'm **no** Angular developer. But I'd still like to give my opinion on Bug Reports like this.

I'm myself a developer. And it's really annoying and time consuming when users/customers report bugs like this. Now someone has to invest a lot of time to ask question about which versions are you using, which

[2018-03-21 11:14] johannesjo commented on #16986
@pkozlowski-opensource this is not a duplicate of #15905 though it might be related.

[2018-03-21 11:20] olanRay94 commented on #20823
@MrWolfZ I have the same problem.

**transisi.component.ts**
[code]

I want trigger **changeState** and **anotherState** to be animate in same time. Help me.

[2018-03-21 11:24] MrCroft commented on #20621
@jamesharvey2
Let's say we would drop Angular Animations and design all animations with animejs instead... to get the loop functionality one desires, without having to write a workaround until it lands in a future 6.x version.
But then we'd have to write more code to:
1. Take care of SSR (because animejs works directly with the DOM) - not sure if Domino would flawlessly handle animejs;
2. Properly

[2018-03-21 11:41] dottodot commented on #22891
@benneq Glad you have so much spare time on you hands to inform me of my errors. Must be nice.

[2018-03-21 12:06] benneq commented on #22891
That looks better. Thank you!

Why are you using a custom webpack config with angular-cli?
angular-cli already does all the webpack configuration for you.

Please also provide your package.json and tell us which command you use to start your application.

[2018-03-21 12:12] olanRay94 opened #22906 "[Angular 5] Animate two trigger in same time"
I have script:

[code]

I want changeState and anotherState animate in same time. Any suggestion?

[2018-03-21 12:30] dottodot commented on #22891
angular cli doesn't build your express server.ts, my setup is very similar to https://github.com/angular/universal-starter

[2018-03-21 12:33] muhammadumerfarooq commented on #13995
ERROR in ./src/polyfills.ts
Module not found: Error: Can't resolve 'zone.js/dist/zone'

[2018-03-21 12:57] silvanaweb commented on #20823
@MrWolfZ I have learned new things about `query`, so i will try it again during the weekend and eventually post my code if i still  fail to make it work.

[2018-03-21 12:59] olanRay94 commented on #20823
@silvanaweb could u help me to solve my questions?

[2018-03-21 13:13] dgouissem opened #22907 "Angular 5: conditional module lazy loading"
I'm encountering an issue while trying to lazy load module according to the user profile, I defined three default paths (with empty path for each route) and each user has access to a specific module, i'm using a guards in order to detemine the current user profile (actually i'm toggling manually to set the default loaded module by setting const canGo =true)

The expected behavior is that the actua

[2018-03-21 13:15] benneq commented on #22891
Still no `package.json`. You really want to make it extra hard to get help, don't you?

I now downloaded the code from angular/universal-starter master branch, and updated all dependencies in package.json to their most recent version (except webpack, because it causes trouble with `NodeTemplatePlugin.js`). It's starting fine. No errors at all.

[code]

[2018-03-21 13:33] hinalshah91 commented on #20925
So what is the solution to this? Even i need to define to routes: one with routeparams and other without it.

[2018-03-21 13:35] seedy commented on #10887
This feature is taking quite some time to get designed. Any news?

[2018-03-21 13:43] sfabriece opened #22908 "[BUG] - scss styles not found in v6"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
</code></pre>

## Current behavior

I can't ng serve, because a reference to a scss file is not resolving.

## Expected behavior

ng serve should work normally

## Minimal reproduction of the problem with instructions

1. create an angular project that uses scss
2. add stylePrepro

[2018-03-21 13:49] sfabriece commented on #22908
re-opened in the cli repo angular/angular-cli#10036

[2018-03-21 13:49] #22908 closed

[2018-03-21 14:03] akloeber opened #22910 "ExpressionChangedAfterItHasBeenCheckedError if focusout event is provoked by effects of click event"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

If the user clicks the bu

[2018-03-21 14:23] akloeber commented on #22910
I found a better workaround by adding
[code]

But I still think that synchronization of those events should be handled by Angular.

[2018-03-21 14:26] manfredsteyer commented on #21706
Wondering, what's the meaning of❌🡪✅

[2018-03-21 14:27] mlc-mlapis commented on #20925
@hinalshah91 ... the routes `'/:id'` and `''` are different routes.

[2018-03-21 14:36] MrWolfZ commented on #20823
@olanRay94 Could you please also share your HTML template?

[2018-03-21 14:45] amineparis opened #22911 "Change file event not fired if we select same file ?"
When we select same file twice `(change)` event is not fired.

It would be nice if we have an event that is fired when file is` (selected )`

[2018-03-21 14:54] mlc-mlapis commented on #21706
@manfredsteyer ... hmm, I think that it has the sense ... wasn't ready and now it is ready.

[2018-03-21 15:26] brian428 commented on #12409
The hack by @vvasabi sounds like it would work, at least in some situations. But going through and changing hundreds of spec files would be very time consuming. And there's no telling how changes to future versions of Angular will break the workaround.

The bottom line is that needing to apply hacks like that is really just absurd. It simply shouldn't take **10 minutes** to run UI unit tests. It b

[2018-03-21 17:27] sandraacha9 commented on #4933
FormControl resert method does not work with datepicker in my case when the date is manually entered.

--------HTML--------
<input class="form-control" #datePicker name="date" type="text" [(ngModel)]="flightDate" formControlName="date" id="date" bsDatepicker (change)="flightDate = datePicker.value" [bsConfig]="bsConfig">

--------TYPESCRIPT--------
clearDate(input) {
    this.flightDate = null; //

[2018-03-21 18:22] matsko commented on #22786
Hello @nir-sk it's difficult to figure out what exactly is going on here without all the info about Angular, the version and a reproduction of the issue. Please open a new issue and follow the template in the new issue and fill in each question and produce a link to stackblitz.com which has a working demo of the issue.

[2018-03-21 18:22] #22786 closed

[2018-03-21 18:28] matsko commented on #22787
Closing this in favor of #16689.

[2018-03-21 18:28] #22787 closed

[2018-03-21 18:34] nir-sk commented on #22786
Thx Matsko!!!!

[2018-03-21 18:42] Toxicable opened #22915 "Docs: versioning and LTS should be explained in docs"
Most people will look on Angular.io for docs about versioning.
THerefore we should have a section explaining the general outline of time between releases and how LTS works in Angular.
Also maybe even a part about what a breaking change means and the deprication policy.

I know all of this is documented on here but that's not easy for everyone to find.

[2018-03-21 18:47] matsko commented on #22823
Thank you @babyblue94520 for putting something together that uses Angular.

I will be closing this issue because this isn't an issue.

[2018-03-21 18:47] #22823 closed

[2018-03-21 19:28] alxhub commented on #20404
@gkalpak this is a feature that was omitted from the new SW in the hopes that navigation-detection would prove sufficient. I think the current blacklist approach which detects URLs with `__`  or file extensions should be expanded into a a configurable list of URL glob patterns which are excluded.

[2018-03-21 19:39] ollwenjones commented on #12409
I agree... I feel validated by the fact that this issue isn't just affecting us because of some mistake of mine, and it's encouraging to see the community put forth work-arounds, but also disappointing that we're left with implementing hacks with no road-map from core team members... I basically gave up trying to get my team to write unit tests for components... hopefully integration tests will se

[2018-03-21 19:44] jared-christensen commented on #20891
I created two apps using the angular cli and turned the app module of each into angular elements. When I tried to place them on the page I noticed I have to order the bundle scripts like this to get them to work without errors.

1. inline (element app 1)
2. polyfills (element app 1)
3. main ( element app 1)
4. inline (element app 2)
5. main ( element app 2)

Notice I removed the polyfills for the

[2018-03-21 20:12] #22218 closed

[2018-03-21 20:12] #22768 closed

[2018-03-21 21:27] john-fenton commented on #9587
@IgorMinar The provided plunkr is broken.

[2018-03-21 21:33] ericmartinezr commented on #22911
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-21 22:01] stevedeighton commented on #14279
So to clarify, there's no in built way to resolve multiple one after each other, like how it used to work?

'cause if so this makes me weep a little!

[2018-03-21 22:30] stefandroog commented on #22703
Maybe you van use:
`this.http.get('…', { observe: 'response' });`

This will return the response (with the Blob and Content-Disposition header) and not only the body.

[2018-03-21 22:56] PTC-JoshuaMatthews commented on #11271
I ended up abandoning this approach altogether in my applications. Instead of setting isDisabled property on my component and expecting the from to track it’s changes, I instead call this.form.controls[“mycontrol”].disable() in the ngAfterViewInit hook. If the status changes I explicitly call enable.

 This approach works fine as I’m already responding to some event to enable/disable the control s

[2018-03-21 23:14] k-schneider commented on #10887
Wanted to drop a line and say I've bumped into this as well.  Exactly the same use cases as the people before me.  Using OnPush and wanting to have a structural directive that will hide/show errors but only after the control has been touched or the form has been submitted.

Ended up having add a superficial additional input for the directive called 'touched' so that change detection would pick up

[2018-03-22 00:11] KorbinianKuhn commented on #22885
If ```replaceUrl``` would clear queryParams it can interfere with parallel ```queryParams``` and ```queryParamsHandling``` settings.

Setting empty ```queryParams``` is more explizit:

    this.router.navigate(['/test']);
    this.router.navigate(['/test'], { queryParams: { id: '123' } });
    this.router.navigate(['/other'], { replaceUrl: true, queryParams: {} });

So I'm not sure whether this is

[2018-03-22 01:14] lacolaco opened #22922 "bug(ivy): ngComponentDef.h is not a function"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

There is 2 components, `A

[2018-03-22 02:01] trotyl commented on #22922
Should be expected, the `h` property has been renamed to `hostBindings` and not used in compiled template any more (https://github.com/angular/angular/pull/22833), there're also `n` -> `factory` renaming, `ɵinject` -> `ɵdirectiveInject` renaming etc, all of them are pending corresponding compiler implementations.

[2018-03-22 02:17] lacolaco commented on #22922
@trotyl Thank you for information!
So it should be solved already in rc.0. why I'm hitting it yet?

[2018-03-22 02:40] trotyl commented on #22922
I strongly believe one of the following will happen:

+ Ivy won't be feature complete in 6.0.0 final;
+ The 6.0.0 final will be rescheduled to make Ivy work.

Just guessing, also want to get more information from Angular team.

[2018-03-22 05:31] Longfld commented on #22203
Hi,
that change breaks my current application,.
Could you please give a sample, how we should use it after your changes?

[2018-03-22 05:31] Heena-Vora commented on #20339
I also got this working by importing **HttpModule** from **angular/http@5.2.9** in app.module.ts

[code]

[2018-03-22 06:06] luckylooke commented on #21660
Thanks @trotyl but I would expect that one currency is default for each locale. I was testing different locales because I need thousands separator " " (space), so I wanted to change locale, because some countries have such separator. I have made custom pipe for it, but using small hack with locale would be nicer.

I have made changes according to your example and still getting same results. Do not

[2018-03-22 06:13] trotyl commented on #21660
@luckylooke You only used locale `es`.

![image](https://user-images.githubusercontent.com/6059170/37754106-1ee64018-2ddb-11e8-9729-5fb11dff8e40.png)

[2018-03-22 06:14] luckylooke commented on #21660
@trotyl aaa heeere it iis... I did not know that it have to be loaded... I was looking for such info but have not found it... thanks 🎉

[2018-03-22 06:16] ocombe commented on #21660
yes, you have to load the locales, as explained here: https://angular.io/guide/i18n#i18n-pipes

[2018-03-22 06:23] luckylooke commented on #21660
@ocombe thanks, I have missed it somehow.. now I can use my locale hack to format numbers with space thousands separator without dedicated pipe for it. https://stackblitz.com/edit/angular-ipawcb?file=app%2Fapp.component.html 👍

[2018-03-22 08:35] yytian1017 opened #22925 "how to use both less and scss in one angular project"
In my project, I want to use both less and scss. In angular-cli.json, I can config just less or scss

    "defaults": {
        "styleExt": "scss",
        "component": {}
    }

[2018-03-22 09:10] vaqarhyder3567 commented on #8273
Any update on this issue. I facing the same problem here as Keyup or Keypress dont get triggered in Internet Explorer 10.

[2018-03-22 09:13] SerkanSipahi commented on #10981
Good news from @IgorMinar https://twitter.com/IgorMinar/status/976727622964031488

##### Twitter

##### Backlog
The issue is also labeled (by Igor) an hour ago from `medium` to `high` :)

I hope so that will be fixed in shortly :)

[2018-03-22 09:48] pkozlowski-opensource commented on #22925
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-22 09:48] #22925 closed

[2018-03-22 09:53] pkozlowski-opensource commented on #22922
@lacolaco please don't open issue for the new ivy compiler & runtime just yet, this is still work in progress and many things are working, than changing the next day etc. There is high turnaround in the code base and we don't want to track all the things through GH issues just yet.

I know that everyone is eager to get their hands on ivy and believe me that we are excited as well and want to get i

[2018-03-22 09:53] #22922 closed

[2018-03-22 10:01] facundofarias commented on #18735
Cool! That was it. Thanks @ymz-rocks

[2018-03-22 10:15] kwa commented on #17104
@alexzuza could you explain or link to an explanation of what
[code]
does?
What is happening behind the scenes?
(I spent considerable time by not having both of them in that particular order and I cannot find much of documentation)

[2018-03-22 10:23] gc23 commented on #20833
This is still an issue  on 6.0.0-rc.0

stackblitz provided:
https://stackblitz.com/edit/angular-g35ivq

[2018-03-22 10:32] shahramSo opened #22926 "How to include CLDR data for RTL languages?"
As many changes in Angular 5 to use Date, number and currency pipes for the RTL languages such as Arabic and Persian, how to include the CLDR data to show dates and numbers correctly?
Currently, all numbers display as Latin in date and currency pipes.
any Idea?
Thanks.

[2018-03-22 10:33] MyEidos commented on #15873
When we started to use RouteReuseStrategy we got a lot of memory leeks. 1-2 GB of RAM and crash.
Is it something wrong with RouteReuseStrategy or with our app? Unsubscriptions in components does't help.

[2018-03-22 10:34] Blejwi commented on #20756
Any updates on this issue? Do we know when it's gonna be fixed? I am still experiencing it on Chrome 59 and angular cli 1.7.3.

[2018-03-22 10:58] pmccloghrylaing opened #22927 "Style: format staged files with pre-commit githook"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [x] Feature request
- [ ] Documentation issue or request
- [ ] Support request

## Current behavior
CI build catches linting errors after changes have been committed or pushed.

## Expected behavior
Staged files get formatted in an automatic pre-commit step.

## Minimal r

[2018-03-22 11:13] csutorasr opened #22928 "Travis CI JWT addon"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

CI uses JWT addon that wi

[2018-03-22 11:27] manartaha commented on #15548
@sasikiranr  make sure that you have imported **import { Http , Response} from '@angular/http';** and **import { Observable } from 'rxjs/Observable';**

[2018-03-22 11:27] savior14 commented on #13670
@robgha01 didn't mean to open up a closed issue but does the codes (@Injectable) supports even when values changes?

[2018-03-22 11:30] clakmalk commented on #7239
If you have added module "BrowserAnimationsModule", just remove it. then it should work.....

[2018-03-22 11:48] Surbhiairan commented on #6074
I cannot use the above-mentioned link to plnkr. Can someone please provide the solution.

[2018-03-22 11:48] echo-sean commented on #22885
Ah right, that makes sense.
Perhaps the documentation should include this?

[2018-03-22 12:09] Flo12345 commented on #22711
Sorry for the late reply... but I fixed it myself.
The problem occurred because I had the mentioned component nested in a grid-list with a *ngFor on its tiles:

<code><pre>
<mat-grid-list cols="{{ getNumberOfButtons() }}" rowHeight="fit">
    <mat-grid-tile *ngFor="let button of getButtonData()"
                   [colspan]="1"
                   [rowspan]="1">
      <pf-single-button class="singl

[2018-03-22 12:19] GRRedWings opened #22930 "Upgrade Guide Typo"
I'm struggling to find out who manages the Angular 4 to Angular 5 upgrade guide, but there is a small typo in it.

https://angular-update-guide.firebaseapp.com/

If I go there and select "Medium" complex, the second bullet point under "Before Updating" says
"Replace OpaqueTokens with InjectionTokens."

InjectTokens is wrong, it should be InjectToken (singular)

[2018-03-22 12:49] gkalpak commented on #22930
cc @StephenFluin

[2018-03-22 13:14] ojuniorbezerra commented on #16755
@jogelin Could you solve it? I have this problem.

[2018-03-22 13:30] SteamWind commented on #6595
@jiangjianyu as you can see, the issue is Open...

[2018-03-22 14:00] marclaval commented on #22922
By the way, this particular issue should be fixed as part of #22921

[2018-03-22 14:40] jogelin commented on #16755
@ojuniorbezerra I fixed this with an ugly patch on the date picker component.

I register on the input event of the field, then I call again the function `_onInput` of the datepicker.

You can find my fix here : [https://stackblitz.com/edit/angular-datepicker-custom-adapter-fixed?file=app%2Fdatepicker-type.component.ts](https://stackblitz.com/edit/angular-datepicker-custom-adapter-fixed?file=app%2

[2018-03-22 14:50] KirillMetrik commented on #6385
Have you please got any update on this? The bug really prevents us from upgrading to latest Angular and we're quite stuck with AngularJS 1.

[2018-03-22 15:06] swicken commented on #22466
We are encountering what appears to be this issue in our application as well. Any route changes with routerLink or router.navigate, ngOnDestroy is not called and the component becomes detached in memory. This is causing a pretty severe memory leak.

Does anyone have any workarounds for this?

[2018-03-22 15:07] csutorasr commented on #22928
I have created a [feature request](https://discuss.circleci.com/t/hideable-project-level-environment-variables/20941?u=csutorasr). I hope it will be accepted otherwise the preview builds should be amended or maybe even stopped. (I have not found out any better solution than this.)

[2018-03-22 15:32] dragGH102 commented on #5122
@chriszrc I guess you can't have 2 outlets with the same name. Nonetheless, I got the same issue posted originally here while trying to put 2 routes on the same outlet

[2018-03-22 15:38] paddyfink commented on #20999
Hey, we facing the same issue, but only with a specific customer. For the others, it works fine. And that customer has that issue only in Chrome. It works on Edge.

[2018-03-22 15:39] soates commented on #20891
How will Elements work with different version of Angular? Say I use a component that has been created by version 6.0 and in the future another component is created by version 7.0?

[2018-03-22 15:48] rafa-as commented on #17538
Same here! I've tried all the options, any solution/workaround?

[2018-03-22 16:01] gkalpak commented on #22928
I'm afraid that feature request is not exactly what we want.
In any case, I don't think the previews need to stop. Worsst-case scenario, we will require the `aio: preview` label to be added on any PR in order to show the preview. But that is something that can wait until after we migrate to CircleCI :smiley:

[2018-03-22 16:11] trotyl commented on #20891
@soates The question is meaningless, you can already do that today, why would Angular Elements prevent you from doing that deliberately?

[2018-03-22 16:16] MickL commented on #20891
As far is I understand an Angular Element is an complete molecule. This means you will have a js-file for each Element with no dependencies that works in every environment.

[2018-03-22 16:27] skill83 commented on #19526
I'm experiencing this bug using
Angular version: 5.2.9

Browser:
Safari 11.0.3, ios 9.3.1 safari, ios 11.2.6 safari

[2018-03-22 16:41] akuniyil commented on #15165
Is anyone able to find a work around for this issue?

[2018-03-22 16:46] matsko commented on #19526
I can confirm that as of `6.0.0-rc.0` this is fixed in Safari
https://stackblitz.com/edit/animations-ng-content-query-bug-jypwie?file=polyfills.ts

FYI with 6.0.0 there is no need anymore for the web-animations polyfill. Angular does everything now by itself.

[2018-03-22 16:46] #19526 closed

[2018-03-22 16:53] matsko commented on #22930
@GRRedWings can you put together a PR real quick?

[2018-03-22 16:57] matsko commented on #22852
Hello @kylecordes. It seems like your proposed fix has already been implemented: https://github.com/angular/animations-builds/commit/fe33d109fc8c7b6078e27096d39d4e62c399596d

6.0.0-RC0 should have this apart of it already (that came out two days ago).

[2018-03-22 16:57] #22852 closed

[2018-03-22 16:57] matsko commented on #22863
Thank you @nkarthikeyan90 and @ericmartinezr. Closing.

[2018-03-22 16:57] #22863 closed

[2018-03-22 17:01] #22927 closed

[2018-03-22 17:03] matsko commented on #22926
Sorry this channel is for reporting issues. Please try hopping into Angular Gitter channel or using stackoverflow to ask and someone can help answer this in detail.

[2018-03-22 17:03] #22926 closed

[2018-03-22 17:03] #22911 closed

[2018-03-22 17:04] matsko commented on #22911
It might be firing because of the dev mode running change detection twice.

However as Eric said, please have a look on stackoverflow.

[2018-03-22 17:05] matsko commented on #22915
cc @IgorMinar @StephenFluin

[2018-03-22 17:09] matsko commented on #22853
Thank you @sqwk for proposing this. Sibling selectors do work, but the problematic thing here is `:self` (since there's nothing supported like that in CSS). You could try just having a different (by placing something on a parent element), but `query()` is only designed to find inner items within the container.

[2018-03-22 17:09] matsko commented on #22906
Sorry @olanRay94. Please open a stackblitz example alongside a fully filled out issue and I'll have a look.

[2018-03-22 17:09] #22906 closed

[2018-03-22 17:14] kylecordes commented on #22852
Excellent. I actually noticed that commit go by, but forgot to come back and find my issue and close it myself.

[2018-03-22 17:18] matsko commented on #19526
http://animationsftw.in/#/ is also updated with 6.0.0 (Safari runs much better now).

[2018-03-22 18:00] vicb opened #22935 "Re-enable ng_package test"
It was disabled in https://github.com/angular/angular/pull/22933 because it fails on CircleCI.

Local failure:
[code]

[2018-03-22 18:04] skill83 commented on #19526
Nice example! i was checking the code and there is also new stuff (es. :increment :decrement etc.).
I updated my project to `6.0.0-rc.0`.
Now in safari i'm not experiencing anymore the flickering but some other strange behaviours occurs (in chrome everything is fine).

For example i have some router animation

    animations: [
      trigger('routeAnimation', [
        ...
        //enter fade in

[2018-03-22 18:12] matsko commented on #19526
@skill83 can you craft together a stackblitz example? I'll investigate from there onwards.

[2018-03-22 18:13] fxck commented on #19526
Lovely, thank you.

[2018-03-22 18:26] Zihark17 commented on #15873
@MyEidos  I'm using this to destroy the component until there is a way to do it properly:
[code]
I only tested this with Angular 4.

[2018-03-22 18:37] GRRedWings commented on #22930
PR?

[2018-03-22 18:41] matsko commented on #22930
Sorry. My mistake. I assumed that this was public inside of `angular/angular`.

@StephenFluin can you fix this?

[2018-03-22 18:44] skill83 commented on #19526
I'll try to set it up tomorrow. Thanks

[2018-03-22 19:20] slubowsky opened #22937 "6.0.0-rc.0 RxJS upgrade issues"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[X] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
As per the documentation r

[2018-03-22 19:42] benneq commented on #22937
I used `rxjs 6 beta` and `rxjs-compat 6 beta` instead of `rxjs 5.6.0-forward-compat`. Had to fix 10 lines in my code and it worked. Maybe that works for you, too?

[2018-03-22 19:59] DLDante commented on #21525
Also live demos with ng v2 as target are trying to use code.angularjs.org as cdn, but there are no more any package of angular 2

[2018-03-22 20:20] RobRoseKnows opened #22938 "Angular Tutorial of Heroes not Loading in Firefox 60.0b5."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Tried to load the [tutori

[2018-03-22 20:25] npc-g opened #22939 "Custom toEqual matcher doesn't propagate custom equality testers"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior
The custom toEqual matcher

[2018-03-22 20:30] gatimus commented on #12725
Ignoring `exclude` is problematic for multiple apps, with shared code.

 https://github.com/gatimus/multiple-apps-lazy-loading run `ngc -p .\src\tsconfig.app-a.json`

Output has `app-b` but `tsconfig.app-a.json` has `"exclude": [ "app-b/" ]`

[2018-03-22 20:31] pmccloghrylaing commented on #22927
@matsko any reason for closing this?

[2018-03-22 21:31] SerhiDi opened #22941 "Example project for Webpack config guide not working"
1. Example project not working

 Example project for Webpack config guide not working.
[https://angular.io/guide/webpack](https://angular.io/guide/webpack)
[webpack.zip](https://angular.io/generated/zips/webpack/webpack.zip)
Always show `Loading...` app.component not loading

2. `background-image` trouble

I use only Webpack `config` folder in my Angular 5 project
But, `background-image` not worki

[2018-03-22 22:10] pmccloghrylaing commented on #22927
To be clear, I'm happy to submit a PR for this, I was thinking something like:

- Add [husky](https://github.com/typicode/husky)

- Add to the npm scripts `"precommit": "gulp format-staged"`

- Add a `format-staged` gulp task to take the staged files, pass it through the glob patterns in the `format` task, run the formatter on those files, then call `git add` for the formatted files.

[2018-03-22 22:24] slubowsky commented on #22937
@benneq It actually does. All the errors shown above go away.
Unfortunately I instead had to make many changes due to the RxJS API changes to get the code to run and things aren't really working. The app starts and my initial data loads, but then as I begin clicking things and routing around, things just seem to hang (no errors in console). No way to know whats due to my quick probably in many cas

[2018-03-22 22:36] benneq commented on #22937
Yeah.. Angular Beta and RC releases are (often) russian roulette 😄

At the moment it's really damn hard. Angular Beta / RC, Angular CLI Beta, Angular Material Beta, Angular Flex Beta, RxJs Beta, etc.
I'm still stuck at beta.7, because I have not yet resolved issues with angular-cli. I just tried rc.0 with some mini project and there I had no issues with rxjs.
Maybe we have to wait another week for

[2018-03-23 00:04] gkalpak commented on #22938
Does https://stackblitz.com/angular/nlvrooxxdvy work?

[2018-03-23 01:22] alexeagle commented on #22935
Seems like we read a `.d.ts` file that had a UMD module name embedded in it, then used that to produce the esm2015 build. Maybe more than one compilation can produce outputs in the same location? I don't think that's the case but I don't have any other theory.

Also, cannot reproduce yet, maybe I need to run it 20 times on circleci?

[2018-03-23 03:16] Nexeuz opened #22944 "Use two observables or more with *ngIf"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Error when I try put 2 o

[2018-03-23 04:27] trotyl commented on #22944
Expected behavior, `as` is never something stands for alias, it's not an operator, but template variable assignment.

For example, `*ngIf="value$ | async as value"` means `*ngIf="value$ | async; ngFor as value"`. To be clear, there's no relationship between the variable `value` and expression `value$ | async`.

Besides, your repro link is broken.

[2018-03-23 05:16] qdcxj opened #22945 "Universal source code is not compiled, there are two main folders"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

## Expected behavior

##

[2018-03-23 05:49] qdcxj opened #22946 "Error: StaticInjectorError[{provide:ResourceLoader, useClass:FileLoader}]: 'deps' required"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

## Expected behavior

##

[2018-03-23 05:51] qdcxj opened #22947 "Universal source package run serve.js error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

## Expected behavior

##

[2018-03-23 06:06] souravprakashjena opened #22948 "Is there any way to use ejs file instead of html in angular 5??"
Is there any way to use ejs file instead of html in angular 5??

[2018-03-23 06:49] trotyl commented on #22930
https://github.com/StephenFluin/angular-update-guide/blob/99459576a7844f1dc203224e2b31ffc2d03ca697/src/app/recommendations.ts#L24

![image](https://user-images.githubusercontent.com/6059170/37815337-6e67f04a-2ea9-11e8-9d57-abecfc8480dd.png)

The content is correct, `s` is never a part of the code, maybe use a different font for `<code>` element.

[2018-03-23 08:24] learning-angular-project opened #22949 "Error: Can't resolve 'tslib' in 'node_modules/rxjs'"
Im trying to use rxjs 6-beta in an angular 6 beta project

ng serve is working as espected
ng test is working
ng build is working
build --prod --build-optimizer=false is working

**ng build --prod is generating an error Can't resolve 'tslib'**

**TS version 2.7.2
**RxJS version:**6 beta-1
**RxJS rxjs-compat installed
**Angular 6-rc-0

Code to reproduce:

Expected behavior: ng build --prod

Actual

[2018-03-23 08:26] ericmartinezr commented on #22944
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2018-03-23 08:50] skill83 commented on #19526
Hi @matsko ,
Here the stackblitzs

As you will see there are some issue (Safari 11.0.3).
(https://stackblitz.com/edit/animations-ng-content-query-bug-ej3f7z?file=app%2Fpage1.component.ts)

1. the sliding transition between page1 and page2 is working just the first time;
2. the cross fade is not working properly, it seems a wrong positioning of the entering comp.;
3. the inner animation are not tri

[2018-03-23 08:52] mpangular opened #22950 "select default value in drop-down Angular"
Not able to select default value in dropdown. I have an array stateList which contain all values. Out of which I need to set it as default and it is coming in "model.state" (have used angular 2-way binding here). I thought it should work but it is not working i.e. it is not selecting default value. below is the html code. Thanks in advance !

<tr>
<td align="left"><b><font size="3">State</font></b

[2018-03-23 09:00] mpangular commented on #22950
Hey @trotyl.. any inputs on this?

[2018-03-23 09:10] trotyl commented on #22950
https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-got-a-question-or-problem

https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue

https://github.com/angular/angular/blob/master/docs/SAVED_REPLIES.md#angular-dont-understand-v2

https://github.com/angular/angular/blob/master/docs/SAVED_REPLIES.md#angular-stackblitz-needed-v1

https://github.com/angular/a

[2018-03-23 09:28] tatsujb commented on #18586
This whole approach is counter-intuitive incarnate. I've been at this for days and I still can't manage to console log the response of a post request with parameters and a file as response.

I'm pulling my hair out.

here's my code :

[code]

[2018-03-23 09:50] SkillUsing opened #22951 "HttpClient setHeaders Authorization .net core 2.0 + error"
1. HttpClient  setHeaders Authorization
2. .net core no value
3.  postman is  true
Why is that?
Please answer thank you

[code]

![image](https://user-images.githubusercontent.com/19234575/37822763-5e7280ec-2ec2-11e8-8d9e-0d7184163e61.png)

![image](https://user-images.githubusercontent.com/19234575/37822840-a4dfee16-2ec2-11e8-8693-575888f5c2bf.png)

![image](https://user-images.githubusercontent.