[2015-05-20 16:17] IgorMinar commented on #1764
the new issue: #2036

[2015-05-20 16:23] IgorMinar commented on #1647
can you provide steps to reproduce this? are the errors coming from ts2dart, or dartium or are these test failures?

I noticed that some syntax errors are ignored by ts2dart (e.g. appending `}` to the end of the file should result in emit failure, but it doesn't and ts2dart/typescript somehow autocorrects the file and moves on).

[2015-05-20 16:24] IgorMinar commented on #1396
done

[2015-05-20 16:24] #1396 closed

[2015-05-20 16:24] IgorMinar commented on #1102
ping?

[2015-05-20 16:29] juliemr commented on #1102
No updates from me here. Haven't seen this again, and also haven't had time to take a look at fixes for the root massive logs problem.

Should this go in the cleanup milestone?

[2015-05-20 16:32] IgorMinar opened #2037 "initial test run is often performed more than once for test.unit.cjs"
run `gulp test.unit.cjs`

and in majority of cases you'll see it run tests twice upon start.

[2015-05-20 16:33] #2037 closed

[2015-05-20 16:35] IgorMinar opened #2038 "Warn when node_modules is stale during build"
A common source of issues is stale version of installed dependencies.

Just like we warn about stale npm and node version, we should also complain about stale node_modules.

[2015-05-20 17:00] IgorMinar opened #2039 "broccoli-typescript doesn't complain about errors from unchanged files during incremental compilation"
This might be desirable when iterating on a single file, but once all the checks for that file pass, we should not go green, but instead do global check.

[2015-05-20 17:06] jeffbcross commented on #2019
You're right, sorry about that.

[2015-05-20 17:06] #2019 closed

[2015-05-20 17:08] pkozlowski-opensource commented on #1647
@IgorMinar I didn't investigate this issue so I'm not sure what is the source. The way I was able to reproduce this in this past all the time would be:
* stop all the Karma instances
* go to any Dart file (one with the *.dart extension) and modify it in the way that creates syntax error
* start karma (`gulp test.unit.dart`) - the tests are not run at all (it looks like Karma hangs and doesn't star

[2015-05-20 17:09] pkozlowski-opensource commented on #1647
@IgorMinar sorry, can't confirm now if it still happens as I don't have access to my machine, but I hope that the above steps to reproduce are clear.

[2015-05-20 17:32] caitp commented on #2039
Simple approach:

1. If a previous build was a subset of the tree, and contained errors, replace `diffResult.changedPaths` with `Object.keys(this.fileRegistry);` before building

More complicated approach:
1. If a previous build was a subset of the tree and contained errors, and before that, another build was a larger subset of the tree which also contained errors, replace `diffResult.changedPaths

[2015-05-20 17:44] vicb commented on #1853
I should have something soon (most probably tomorrow).

I have one issue left for Dart: how to create a factory function for an arbitrary number of args ?
https://github.com/angular/angular/blob/master/modules/angular2/src/reflection/reflection_capabilities.dart#L44

any idea ?

/cc @kegluneq @kevmoo

[2015-05-20 17:50] kegluneq commented on #1853
I don't know off the top of my head how to make this work at arbitrary length, but this is only an issue for dev code running with `dart:mirrors`. The code generator does not have a limit to the number of arguments.

I can take a look at the reflective code though it may be a bit before I get to it. Would you file an issue and assign to me?

[2015-05-20 18:03] alexeagle commented on #1831
We are working on the complete definitions file, see https://github.com/angular/angular/issues/1966

[2015-05-20 18:20] SekibOmazic commented on #2025
@jbdeboer I had a similar problem and used following syntax:
[code]
There is also the `CSSSelector` which works with object literals, but I found it inconvenient.

[2015-05-20 18:28] mhevery commented on #1853
Why does this matter. In practice I don't think people will try to inject
more than 10 items.

Just to be clear we are solving the limit on number of Bindings in
ElementInjector, not the number of args which could be injected.

On Wed, May 20, 2015 at 10:50 AM, Timothy Blasi <notifications@github.com>
wrote:

[2015-05-20 18:52] vicb commented on #1853
Got that Misko, I'll leave the max number of injected args to 10 for now then.

@kegluneq then no issue for you :)

[2015-05-20 18:53] rightisleft commented on #1918
Not happening in 24 alpha

[2015-05-20 18:53] #1918 closed

[2015-05-20 19:26] jbdeboer commented on #2025
@SekibOmazic Yes; but that approach would require us to rewrite our controller logic; which isn't something we are eager to do!

Thinking on the "best option" that I listed: it does not work well either, since in Angular1, we don't know if ```someExpr``` is a string, list or map without inspecting the controller. That transformation only works for strings.

[2015-05-20 19:35] naomiblack commented on #2025
Assigning to @mhevery and (also @IgorMinar) for discussion. Is this something that we can support in angular2, or else, what's our best recommendation for handling this pattern?

[2015-05-20 19:40] jbdeboer opened #2041 "Undebuggable error: "class" is not a valid (qualified) symbol name"
I have a Angular2.dart app, which is throwing the error below in dart2js mode (not Dartium) only.
I am using the "debug" version of the reflector: ```import 'package:angular2/src/reflection/debug_reflection_capabilities.dart' show ReflectionCapabilities;```

The error is unhelpful in isolating the issue. Obvious questions:

"who is requesting ```class```"? e.g. what element is the ```ElementBinder

[2015-05-20 20:51] jbdeboer opened #2042 "Ability to stop event propogation"
In the GT codebase, we have a common pattern ```<ng-click-stop-propogation>```, which provides the same API as <ng-click>, but is implemented as:

[code]

We would like a similar pattern in Angular2.

[2015-05-20 21:01] vicb opened #2043 "Update shrinkwrap readme"
[code]

2 last steps are required even if not updating tsd

/cc @juliemr

[2015-05-20 21:07] vicb opened #31762 "Patch all browsers API returning Promise"
All browsers API returning Promise should be patched.

This is required because the returned Promises would not extend the monkey-patched Promise by default.

It seems like patching might not be needed when microtasks are not used (the monkey patch on the Promise.prototype **is** taken into account on latest Chrome version (44) but it fails on earlier version. It should probably be tested when oth

[2015-05-20 21:09] juliemr commented on #2043
Also, the path is wrong. Right now it's
`node_modules/ts2dart/node_modules/tsd/node_modules/minitable/package.json`
should be
`node_modules/tsd/node_modules/minitable/package.json`

[2015-05-20 21:24] vicb commented on #2043
Also fs_events on Linux

[2015-05-20 22:02] ewinslow commented on #2020
As an outsider, it's not obvious to me why this should be the case.

[2015-05-20 22:03] ewinslow commented on #2028
Why event emitter instead of promise? Any reason not to just use/polyfill the `window.fetch` API?

[2015-05-20 22:04] gdi2290 commented on #2028
@ewinslow you can't cancel a promise

[2015-05-20 22:11] ewinslow commented on #2029
There is always https://developer.mozilla.org/en-US/docs/Web/API/URL/URL

[2015-05-20 22:55] juliemr commented on #1860
Ok, for Protractor this will be done with https://github.com/angular/angular/pull/2044

For karma-jasmine, there is an issue with `iit` or `fit` (neither works). I'm looking in to that.

[2015-05-20 22:58] ewinslow commented on #2028
OK, that might be a good requirement/goal to mention explicitly...

Is the idea to abort the in-flight request, or simply unsubscribe a listener? Or both?

If only the former, then you can always return a custom CancelablePromise that extends Promise.

[2015-05-21 01:23] dylanb opened #2049 "Module loader fails to load in Safari"
This Plunker http://plnkr.co/edit/F2gNplix1tBSg3iZmkd0?p=preview works in Chrome but not in Safari on OS X.

In the console you can see that the module-loader JS file is being loaded from the wrong server

The same issue exists all the way thru alpha 23 (have not yet tested alpha 24)

[2015-05-21 01:48] jbdeboer commented on #1732
If that is the case, it feels like the UrlResolver class is doing too many things and should be split into different interfaces.

[2015-05-21 02:55] cexbrayat commented on #2031
Some other "alpha-testers" expressed the same need on the gitter channel, and on [Stack Overflow](http://stackoverflow.com/questions/30355903/karma-testing-with-typescript-and-angular-2-is-throwing-typeerror-for-system-co)

[2015-05-21 03:26] matthewharwood commented on #2031
Yes please,  if it could be an extension to this video that would be absolutely perfect https://www.youtube.com/watch?v=HmWm21cCAXM

[2015-05-21 03:43] tbosch commented on #1997
Done

[2015-05-21 03:43] #1997 closed

[2015-05-21 04:16] IgorMinar commented on #1889
this turned out to be due to a ton of files in the `tmp` directory that sublime tried to watch, which caused problems when we tried to setup our own watch on `modules/`  directory.

the recent change f9f917bfa49ea841a2bb2e977ccc48181fdbb63f that fixed the tmp leak resolved this. confirmed on  @yjbanov's machine.

[2015-05-21 04:16] #1889 closed

[2015-05-21 04:18] jeffbcross commented on #2028
Hey @ewinslow, good question. Sorry this issue is so vague, I opened it in a hurry so it could be tracked with the current milestone. I have more detail in [my prototype project](https://github.com/jeffbcross/http-design), though the readme is a little outdated. [This presentation](https://www.youtube.com/watch?v=Bm3eDgZZMFs) we gave a couple of weeks ago also includes a lot of examples of the new

[2015-05-21 04:21] IgorMinar commented on #2039
this got fixed by 2d6c44b54a3a0fd42d54f29f56f00b8db6c01b56

I went with a different approach - remember the last rebuild status, if the status was failed and the current status is pass, then do full rebuild. this is preferable to swapping paths, because doing full build via the incremental path is slow.

I thought of deleting the output files, but even if I did it it would have no effect because o

[2015-05-21 04:21] #2039 closed

[2015-05-21 04:22] IgorMinar commented on #1866
fixed by f9f917bfa49ea841a2bb2e977ccc48181fdbb63f

[2015-05-21 04:22] #1866 closed

[2015-05-21 04:30] IgorMinar commented on #830
closing in favor of #1860

[2015-05-21 04:30] #830 closed

[2015-05-21 04:43] gdi2290 commented on #2028
@ewinslow you can also do `http('https://google.com').toPromise().then(successFn)`

[2015-05-21 04:45] juliemr commented on #1860
This is now done for js, cjs, and e2e.

@vicb does anything else need to be done to update fakeAsync? Should we close this?

[2015-05-21 05:30] IgorMinar opened #2050 "rewrite broccoli-replace plugin to be incremental"
currently we use https://github.com/outaTiME/broccoli-replace in both [browser](https://github.com/angular/angular/blob/master/tools/broccoli/trees/browser_tree.ts) and [node tree](https://github.com/angular/angular/blob/master/tools/broccoli/trees/node_tree.ts)

this plugin is accounting for 600-700ms during full build and 400-500ms during incremental rebuild.

if you look at the replacements we

[2015-05-21 05:45] IgorMinar opened #2051 "DiffingPluginWrapper should handle input trees with mutable input paths"
Originally when DiffingPluginWrapper was written it appeared that the broccoli plugins don't change their outputPaths, but we came across several that do (for example mergeTrees, replace plugins).

These outputPaths become inputPaths for our `DiffingBroccoliPlugins`. The mutability of these inputPaths is causing us to throw `ENOENT` while dirty checking the filesystem because the `TreeDiffer` (use

[2015-05-21 06:12] vicb commented on #1860
Thanks @juliemr !
I'll close this as I submit the PR to re-enable tests block on 2.3.3 later today

[2015-05-21 06:13] vicb commented on #1866
:+1:

[2015-05-21 06:15] vicb commented on #1732
@jbdeboer you're right. This is currently possible because the current implementation uses an anchor but  it would be much cleaner to have different interfaces.

[2015-05-21 06:18] vicb commented on #2020
@ewinslow this is only required when you need to x-compile to Dart: to keep the size of the generated JS reasonable, mirrors are disabled in Dart and we rely on transformers to generate the required metadata info at build time. Only class tagged with `@Injectable` will be grabbed by the transformers.

[2015-05-21 06:25] #1860 closed

[2015-05-21 06:33] IgorMinar commented on #2050
watch out for #2051 as that might bite you, see #2053 for a patch or use `stew.mv` trick as we currently do (removed in #2053)

[2015-05-21 09:04] vicb opened #2054 "gulp test.unit.js - broken"
on master 863eb3c559e8c175885ceb0e2d5b4e5c535bf467

The first run is ok.

Then:
- No more progress traces are displayed after a file changes (the tests re-run but no progress / error reported), see traces below,
- Sometimes a second browser window gets opened ?

linked to the de-dedup of the logs & different processes ?

[code]

[2015-05-21 09:13] vicb commented on #2054
should we have a test suite for the test suite (that don't use the test suite) ?

[2015-05-21 09:39] gdi2290 commented on #2054
![](http://i2.kym-cdn.com/photos/images/original/000/001/122/xzibit-happy.jpg)

[2015-05-21 09:53] vicb commented on #2054
Tried to revert all commits up to the different process -> no success
Tried to revert the protractor/jasmine update -> no success

The other thing I can think of is a fresh `npm i` I did yesterday. It was working before

[2015-05-21 13:28] vimalu opened #2057 "how to set focus on input if input has error on form submit"
Focus could not set on input on form submit if input has errors like "required", "pattern", "minlength".

Anyone knows how can we do it with only AngularJS.

Thanks.

[2015-05-21 13:53] jomeier opened #2058 "The Change Log do no list all Breaking changes (Alpha 24: No provider for ... )"
This code:
[code]

gives me this error message with Angular alpha 24 :+1:

[code]

It workes with Angular alpha 23.

Setup: Typescript 1.5beta, --emitDecoratorMetadata

[2015-05-21 14:16] vicb commented on #2058
https://github.com/angular/angular/pull/1960 -> `injectables` is now `appInjector`

Don't know why this does not appear in the ChangeLog, @yjbanov ? Is this because it is tagged as refactor ?

_(We'll leave this issue open to track the issue on ChangeLog generation)_

[2015-05-21 14:47] jomeier commented on #2058
You guys are killing me :-) ! Thanks for the advice. Will have a look at the changelog in the future. Missed it totally!

[2015-05-21 14:53] mprobst opened #2060 "npm install hangs downloading chromedriver_mac32.zip"
After deleting the entire `node_modules` folder and running `npm install`, lots of stuff flies by, but the build then hangs here:

[code]

Interestingly `Ctrl-C` and then re-running install seems to succeed?

[2015-05-21 15:14] yjbanov commented on #2058
It would have made it if it had either had "BREAKING CHANGE:" or been marked as `feat`.

`conventional-changelog` looks for "[BREAKING CHANGE:](https://github.com/ajoslin/conventional-changelog/blob/479fa963a398cbbb78e83eb2aad539be9ae9500d/lib/git.js#L70)" but the commit message contains "[BREAKING CHANGES](https://github.com/vsavkin/angular/commit/7b511462afcd5ea011715d624611ffa4260cec61)". On to

[2015-05-21 15:34] tbosch commented on #2060
I saw this one time before as well...
On Thu, May 21, 2015 at 7:53 AM Martin Probst <notifications@github.com>
wrote:

[2015-05-21 15:36] tbosch commented on #2054
Please ping Igor, he was working on a fix
On Thu, May 21, 2015 at 2:53 AM Victor Berchet <notifications@github.com>
wrote:

[2015-05-21 16:02] gdi2290 commented on #2058
https://github.com/ajoslin/conventional-changelog/blob/master/lib/git.js#L100

[2015-05-21 16:34] caitp commented on #1815
So far:

Initial gulp test.unit.js:
[code]

Subsequent build after touching single file:

[code]

These numbers look better than the numbers on the CI server to me, but it's hard to tell because they're running different jobs.

[2015-05-21 16:42] crissdev opened #2065 "Cannot read property 'defaultDoc' of undefined"
I've been trying to use angular2 with SystemJS but without any luck. It seems that Dynamically loading angular2 breaks somehow the library initialization. I've setup a repo to reproduce this issue.

The error I receive is `Cannot read property 'defaultDoc' of undefined`

More information here >> https://github.com/crissdev/angular2-es6-dynamic/issues/1

[2015-05-21 16:44] vicb commented on #2054
ping @IgorMinar

[2015-05-21 16:54] gdi2290 commented on #2065
it's a problem with the DomAdaptor. one sec

[2015-05-21 16:59] kegluneq opened #2067 "Do not re-generate proto records at runtime"
When generating our change detector classes we create `ProtoRecord`s from the `ChangeDetectorDefinition`, but since these are not easily serializable we re-create them at runtime. Remove this inefficiency.

Related: #3605

[2015-05-21 17:11] vicb commented on #2058
Thanks @gdi2290, let's close this. Please send a PR here once your fix is merged & released.

[2015-05-21 17:12] #2058 closed

[2015-05-21 17:19] vicb commented on #2060
@tbosch stay positive please... I've seen it working once ;)

[2015-05-21 17:28] vsavkin opened #2068 "toAlias should throw on undefined"
`bind(Token).toAlias(OtherToken)` should throw a meaningful message when OtherToken is undefined.

[2015-05-21 17:46] kegluneq opened #2070 "Determine if providing a type annotation for ChangeDetector `context` is beneficial"
Currently `context` is typed `dynamic`, but we have the information to fully type it.

This is a bit more complicated because it is assigned `ChangeDetectionUtil.uninitialized` when not `hydrated`, but we should be able to work around that.

[2015-05-21 17:54] yjbanov commented on #2025
I think it's safe to support `<div class="a" [class]="expr"></div>` where `expr` evaluates to `List` or `Map` and `[class]` simply adds more classes to the already existing literal list.

[2015-05-21 18:06] matanlurey commented on #1842
Updates:

1. Spoke with @rkirov and @vsavkin - they will be adding an `onInitialize` lifecycle event that will act similar to Angular 1's `AttachAware`. For the time being, we will use the boolean flag with `onChange` as a workaround.

2. Dart needs to use the interfaces, not `lifecycle: const [ ... ]` as the source of truth. Not doing so will result in dynamic call sites (bad) and will probably r

[2015-05-21 18:07] ewinslow commented on #2020
Thanks for the context!

[2015-05-21 18:16] ewinslow commented on #2028
Thanks for the background! Very helpful.

[2015-05-21 18:25] ericmdantas commented on #2065
Same here.

[2015-05-21 19:12] robwormald commented on #2065
see https://github.com/angular/angular/issues/1652

solution is to use either the pre-built System.register bundle, or the ES6 source files. Importing from commonJS seems to cause an issue - this should be the default once https://github.com/jspm/registry/pull/385 lands

[2015-05-21 19:13] yjbanov commented on #1842
have reified interfaces) that makes no sense in Dart and is a needless
deviation from AngularDart's existing API.

[2015-05-21 19:20] ericmdantas commented on #2065
@robwormald thanks!

[2015-05-21 20:01] kwalrath opened #2072 "ts2dart should escape dgeni comment annotations in dart output"
If you go to http://www.dartdocs.org/, you can see that the last successful build of the angular2 docs was alpha.19. http://www.dartdocs.org/failed/index.html has links to the build failure messages.

[2015-05-21 21:03] matanlurey opened #2074 "Trying to add events in the constructor does not throw, but obviously won't work"
Example:

[code]

[code]

[2015-05-21 21:11] matanlurey opened #2076 "Property setter should not be called on a directive that does not use [] notation"
[code]

Expected:

[code]

Console output:

Actual output:

[code]

Expected:

[code]

Console output:

Actual output:

[2015-05-21 21:11] matanlurey commented on #2076
@yjbanov, @vsavkin from today.

[2015-05-21 21:16] matanlurey opened #2078 "Change detector should be able to reference functions idempotentently"
I don't know if this happens in JS, but:

[code]

[code]

Expected output:

Actual output:

Giant scary message.

Workaround:

[code]

[2015-05-21 21:22] tbosch opened #2079 "Don't allow binding of classes to the injector that don't have the @Injectable annotation."
Right now this leads to an `NoAnnotationError` with not clue to the real problem when writing a class in TypeScript.

[2015-05-21 21:23] IgorMinar commented on #2060
@juliemr do you know what this is about?

server/network issue?

[2015-05-21 21:27] IgorMinar commented on #2054
I'm in meeting, I'll look into this in a few hours. is this reproducable by others?

[2015-05-21 21:30] vicb commented on #2079
Dup of #2020 ?

[2015-05-21 21:30] juliemr commented on #2060
Haven't seen this one before. Let me check networks...

[2015-05-21 21:35] juliemr commented on #2060
It's all working within ~5 seconds for me. Protractor just downloads using `request`.

Is this only when completely re-running `npm install`?

[2015-05-21 21:35] vicb commented on #2076
Hum... isn't this actually a feature ?
My understanding was that with `[]` the value is an expression vs a litteral without `[]`. But as you explicitly have a `properties` config, ng will honor this.

Why would you need a `properties` config a all in your code snippet ?

[2015-05-21 21:42] yjbanov commented on #420
Fixed by #2073

[2015-05-21 21:42] #420 closed

[2015-05-21 21:49] caitp commented on #2054
Working for me on c5996529c3ed4be68565a02e1406ad8ccbe8c473 (https://gist.github.com/caitp/c8f7aa367acfcd20e735)

[2015-05-21 22:01] pkozlowski-opensource commented on #2060
Hmm, I can see it quite often after wiping out node_modules. Didn't dig into it, though....

[2015-05-21 22:19] IgorMinar commented on #2060
that makes me think even more that it's a network issue rather

[2015-05-21 22:57] jelbourn commented on #2057
This repository is for Angular 2, sounds like you want AngularJS, which is [here](https://github.com/angular/angular.js/).

However, github issues should only be used for reporting bugs and other problems. Your question is more more suited to something like Stack Overflow or the AngularJS [mailing list](https://groups.google.com/forum/#!forum/angular).

[2015-05-21 22:57] #2057 closed

[2015-05-21 22:59] jelbourn commented on #2031
See #1609 and #1610

[2015-05-21 23:04] mlaval commented on #2054
Same issue on my Windows laptop.

In addition, `'!broccoli.js.dev'`task is run twice after launching `gulp test.unit.js`, and each run takes 40-50s ... For info, it is even slower on a MBP from 2011.
Is anyone experiencing such slowness ?

[2015-05-21 23:46] jbdeboer opened #2083 "@Directive(lifecycle) needs complete documentation"
It is currently documented as:

[code]

What is the type of List elements? What elements are allowed in the list?

[2015-05-21 23:59] yjbanov commented on #2041
This error was caused by an obsolete hack. Fixed by #2082.

[2015-05-21 23:59] #2041 closed

[2015-05-22 00:05] matanlurey commented on #2076
Ideally I want to be able to set "name" in the awesome directive by using a statically defined value (attribute), or data-binding it (property).

[2015-05-22 00:28] IgorMinar commented on #1902
closing as dupe of #2021 which has more info

[2015-05-22 00:28] #1902 closed

[2015-05-22 00:59] yjbanov opened #2087 "Resurrect OnChange"
It is required for Dart. It has to compile to:

[code]

[2015-05-22 01:01] tbosch commented on #2079
yes

[2015-05-22 01:01] #2079 closed

[2015-05-22 01:07] vsavkin commented on #1999
Closed via https://github.com/angular/angular/commit/00c3693daa52f418840195e606e1ea52f3565493

[2015-05-22 01:07] #1999 closed

[2015-05-22 01:18] #1998 closed

[2015-05-22 01:18] #2000 closed

[2015-05-22 01:18] #2002 closed

[2015-05-22 01:20] matanlurey opened #2088 "Use Dart semantics/Facade for modules/angular2/src/services/ruler.ts"
Dart already has a `Rectangle` class in dart:math.

(It doesn't have right and bottom, but those seem... not useful anyway)

https://api.dartlang.org/apidocs/channels/be/dartdoc-viewer/dart:math.Rectangle

[2015-05-22 01:42] tbosch commented on #2087
Please also add interfaces for the other lifecycle callbacks:

- `onDestroy` (https://github.com/angular/angular/blob/master/modules/angular2/src/core/annotations_impl/annotations.ts#L1071)
- `onChange` (https://github.com/angular/angular/blob/master/modules/angular2/src/core/annotations_impl/annotations.ts#L1109)
- `onAllChangesDone` (https://github.com/angular/angular/blob/master/modules/angular

[2015-05-22 01:50] tbosch commented on #2087
Right now this is actually not required by Angular, as we either call the method via reflection or from a generated change detector. Maybe we should change this to cast the directive instance to one of these interfaces and then call the method directly in any case.

[2015-05-22 01:56] naomiblack commented on #2087
I think this issue needs more discussion with the core team before we implement.

[2015-05-22 02:19] rkirov commented on #1829
The current set of typings on tsd are incomplete. With https://github.com/angular/angular/commit/f6eeb9aa668010fe757173426a7e650c934ef346 we are on the right track to have auto-gen'ed complete typings.

[2015-05-22 02:19] #1829 closed

[2015-05-22 03:02] rightisleft commented on #1950
Just updated to alpha.25 - still getting an error:

[code]

[2015-05-22 03:41] juliemr commented on #1812
Summary of differences from the existing test_bed
- Should be ready to be made public (i.e. no exposing internal view)
- Should provide an API to select child components, something like Angular Dart 1.x's [element probe](https://github.com/angular/angular.dart/blob/f9406a4a08671307d051172953e164f1c6cd52ac/lib/introspection.dart#L95)
- Will allow chaining so partially created test components can be

[2015-05-22 03:43] dylanb opened #2090 "Class updates via hostProperties not synchronous"
Take a look at this Plunker

http://plnkr.co/edit/x7kbzMSe6Mr0qEoLyHr8?p=preview

If you uncomment the `setTimeout` call, then the button will turn blue when the app initializes but when the focus call is done immediately after the class update (which makes the button visible and therefore focusable) the button cannot receive focus because its class has not yet been updated and the button therefor

[2015-05-22 03:57] zoechi commented on #1950
+1 Same here

[2015-05-22 04:00] juliemr opened #2091 "Injection errors from unit tests are not very useful"
When an error is thrown from say, the injector, the message doesn't get passed along:

[code]

[2015-05-22 05:18] IgorMinar commented on #2054
@vicb I tried to repro this, but wasn't successful. are you still seeing this issue? can we pair tomorrow morning. I'm free between 9 and 10am PDT.

@mlaval can you create a separate issue about the slowness and post the output log into the issue?

[2015-05-22 06:13] IgorMinar commented on #2043
please take a look at #2092

[2015-05-22 06:13] IgorMinar commented on #1102
I'd close this and reopen if it shows up again.

On Wed, May 20, 2015 at 9:29 AM Julie Ralph <notifications@github.com>
wrote:

[2015-05-22 06:51] #1647 closed

[2015-05-22 06:51] IgorMinar commented on #1647
I was able to repro this and fix it.

[2015-05-22 06:52] IgorMinar opened #2093 "test.unit.dart runs build and tests twice for each file change"
start: `gulp test.unit.dart`
then: `touch modules/angular2/src/facade/async.dart`

build and test will run twice for each touch

[2015-05-22 06:53] IgorMinar commented on #2093
@caitp can you please check if this is a watcher issue or if something is actually modifying the source directory during the build?

[2015-05-22 07:07] vicb commented on #2054
So happy that I can close this issue this morning (it works for me now). THANKS !!!

[2015-05-22 07:07] #2054 closed

[2015-05-22 07:13] #2043 closed

[2015-05-22 08:19] mlaval opened #2094 "Booting unit tests run (ex.: test.unit.js) is slow"
These are the logs from my Windows laptop (Win 7 64 bits, i5-4310U @ 2.0Ghz, 8Gb RAM, SSD):

[code]

[2015-05-22 08:23] mlaval commented on #2094
Same logs from a late 2011 MBP (OXS Yosemite, i7 @ 2.4Ghz, 4Gb RAM):

[code]

[2015-05-22 09:19] crissdev commented on #2065
@robwormald @gdi2290 FYI, The sample is now working with latest versions of angular2 and systemjs. I've updated the repo. :tada:

[2015-05-22 09:21] #2065 closed

[2015-05-22 09:49] PascalPrecht commented on #2065
@crissdev can you add a link to where the fix happened?

[2015-05-22 09:59] crissdev commented on #2065
@PascalPrecht It happened with latest version of [SystemJS](https://github.com/systemjs/systemjs/commits/master) and Angular2. I can't really tell which commits.

-
[Sample repo](https://github.com/crissdev/angular2-es6-dynamic) using SystemJS and Angular2

[2015-05-22 10:13] vicb opened #2095 "text nodes after <content> in templates"
If you set the template of the hello world to:

[code]

The computed content will be (see the h2)

[code]

[2015-05-22 10:18] PascalPrecht commented on #2065
@crissdev alright, thanks dude

[2015-05-22 10:22] crissdev commented on #2065
no problemo :smile:

[2015-05-22 11:20] pumpk1n commented on #1950
Just to be exact: it's not just Dart. Example .ts repo for the same error https://github.com/pumpk1n/angular2-router-test

[2015-05-22 11:43] #1853 closed

[2015-05-22 12:03] vicb opened #2097 "Refactor the Injector strategies"
Both the `DI` and `ElementInjector` (since #2056) use strategies.

As of today the strategies are arbitrary class without a defined interface. Now that we have migrated the source code to TS, we should add an interface to the strategies.

_Specific to `ElementInjector` (must check if applicable to DI): the current implementation has one class for the `(Proto)ElementInjector` and a `_stragegy` used

[2015-05-22 12:04] juristr opened #2098 "Selected dropdown option is not displayed by the browser (Chrome, IE)"
Hi,

I have a strange issue in that the selected option doesn't get displayed in Chrome and IE (while it works in Firefox):

![image](https://cloud.githubusercontent.com/assets/542458/7770056/678efa16-008a-11e5-9169-21f27df8c574.png)

although in the HTML it is selected:

![image](https://cloud.githubusercontent.com/assets/542458/7770061/7bcbffba-008a-11e5-9db3-4b137adfb727.png)

Here's the plunke

[2015-05-22 12:24] ericmdantas commented on #2098
Hello!

This is a repository for angular2.

I'd encourage you to open an issue in the [angular 1.x repo](https://github.com/angular/angular.js).

[2015-05-22 12:30] juristr commented on #2098
Oh, sorry, didn't get that.
I'll move it over once I'm on a computer again (in a couple of hours). It's kinda difficult from a mobile :wink:

[2015-05-22 12:35] ericmdantas commented on #2098
No problem =]

It's just that you might get more help there.

As for the problem you have, couldn't you move the inicialization of the select's ```ng-model``` in the async call?

[Like this](http://plnkr.co/edit/NUIfW7G0JlGHvEUTEyZt?p=preview).

[2015-05-22 12:58] vicb commented on #2008
material needs the source code to be TSified first

[2015-05-22 13:01] vicb opened #2100 "Todo example: add support for the router"
In the Todo examples, the links (completed, all) are ineffective.

IIRC the implementation was pending on the router being available.

I think it could be updated now ?

/cc @davideast @btford

[2015-05-22 13:08] caitp commented on #2093
I can't seem to reproduce this locally :| I'll try in a linux container in a bit I guess

[2015-05-22 13:21] #2098 closed

[2015-05-22 13:25] vicb commented on #2008
should e2e be tsified as well ?

[2015-05-22 13:39] #2010 closed

[2015-05-22 13:57] vicb commented on #2008
`form` use the `EventEmitter` which has a different API in js vs Dart.
Any plan on unifying those ?

/cc @vsavkin

[2015-05-22 14:00] caitp commented on #2093
Actually, the change detection logger doesn't seem to be running for the first change (this is likely some issue with `ignoreInitial` being or not being needed). So it probably "looks" like it's running twice the first time, but not in subsequent changes (where the changes are logged correctly)

[2015-05-22 14:03] vicb commented on #2008
Ok that's `ObservableWrapper` for forms... will update

[2015-05-22 14:29] juristr commented on #2098
@ericmdantas I'll verify that, thx. Anyway, I posted it on the Angular 1.x repo as this thing seems strange actually: https://github.com/angular/angular.js/issues/11929

[2015-05-22 15:07] RinatMullayanov opened #2104 "Unexpected directive value 'undefined' on the View of component 'DisplayComponent'"
I watched step by step guide https://angular.io/docs/js/latest/guide/ and created my repo https://github.com/RinatMullayanov/step-by-step-guide-with-angular2
with 2.0.0-alpha.23 everything works, but  when I wanted to update to 2.0.0-alpha.25, I got an error:

[code]
![2015-05-22 20 05 03](https://cloud.githubusercontent.com/assets/7579698/7773427/dec5aea8-00bd-11e5-9465-e031d89d3045.png)

[2015-05-22 16:19] tbosch commented on #1693
FYI, GT has a prototype version of a DOM read/write queue in G3

[2015-05-22 16:20] andresaraujo commented on #1950
+1 Same error here

I tracked the null valuel to this function:

[code]

`componentRecognizer ` results in a null value

where:
name = "child"
params = {}
hostComponent = class Home
_rules = {Index: Instance of 'RouteRecognizer'}

[2015-05-22 16:30] yjbanov commented on #2087
Before we discuss it let's first restore it. It was part of the public API and people already use it. I'm pretty certain we'll need it anyway. The current `lifecycle` annotation should be limited to JS (because it doesn't reify interfaces). In Dart, interfaces are reified and therefore:

* `lifecycle` annotation is not necessary
* interfaces give the compiler feedback to remove dynamic call sites

[2015-05-22 16:39] vicb commented on #791
I have started to work on Elvis.
The parser/ast part is ready.
The cd part is more tricky as we need to skip records (& not mess with coalesce records). I'll work on it next week.

[2015-05-22 17:15] vicb commented on #1949
I'm not sure if `AST.toString()` is really valuable here, we should probably have a visitor that could transform an AST back to an expression.

`BindingRecord` takes an `AST` so it might not be an `ASTWithSource`.

@vsavkin what do you think ?

[2015-05-22 17:37] pkozlowski-opensource commented on #1647
Awesome, thnx @IgorMinar !

[2015-05-22 17:50] matanlurey opened #2110 "DI: appInjector/hostInjector/viewInjector/ohMy!"
Alright, so I understand the need (today) for all three, but I think there should be some thought about how usable this is long term in a large application. Do we need all three?

[2015-05-22 17:54] matanlurey opened #2111 "DI: Decorators can't publish to their host component in time"
In Angular 1.x Dart this was possible

[code]

If `some-decorator` published an interface, say, a `SelectionModel`, this was possible:

[code]

Today, it cannot resolve (the component is created first, before the decorator maybe?)

Is that working as intended? @vsavkin

[2015-05-22 17:55] rkirov opened #2112 "Forms api should support model -> view updates"
Calling `updateValue` on a control does not update the view.

[2015-05-22 17:57] #1102 closed

[2015-05-22 17:57] rkirov opened #2113 "forms api custom validators do not run on initial value"
A custom directive injects `ControlDirective` and adds a custom validator in its constructor. The validator is not called on the initial value of the model passed in the constructor as  `new Control("initial text")});`

[2015-05-22 17:58] matanlurey opened #2114 "DI: @Parent, @Ancestor, @Unbounded should be usable in the annotation"
E.g.

[code]

Should be the same as

[code]

[2015-05-22 18:02] vsavkin commented on #2113
You can override the validator setter to call this:

[code]

[2015-05-22 18:02] matanlurey opened #2115 "DI: A formal way to specify a non-cyclical hierarchical relationship"
Suppose I have an `EventBus`, which injects in a parent `EventBus`, wraps it, and re-publishes to children. The "workaround" right now (might not even work with new `@Unbounded` syntax, how do you have an `@Ubounded Injector`?) is to use `Injector.parent.get(EventBus)`.

What if instead, you could do this:

[code]

[2015-05-22 18:20] vsavkin commented on #2112
`updateValue` is used to update the model form the view, so it should not be used in the other direction.

I think we should create the value setter that will be used to update the form:

[code]

And then in ControlDirective:

[code]

[2015-05-22 18:25] tbosch opened #2116 "benchpress: Sometimes the first run reports almost no time at all"
Seen in a Dart e2e test that forced gc.
In G3 we have a workaround for this in that we run the benchmark once before we enter the sample loop of benchpress..

[2015-05-22 19:22] naomiblack commented on #2087
Please wait before merging this into master so we can chat with @mhevery next week. Unless this is P0, let's not rush into the change.

[2015-05-22 20:01] yjbanov opened #2120 "Interface-based lifecycle methods"
We currently declare lifecycle callback methods in annotations:

[code]

This is not idiomatic in Dart and error-prone in both Dart and TypeScript. Note that in the example above I misspelled the method. Also note that the signature of the method is wrong. There's no warning from the analyzer about these mistakes.

## Proposal

This is more idiomatic Dart:

[code]

With this you get much better fe

[2015-05-22 20:04] yjbanov commented on #1943
Related: https://github.com/angular/angular/issues/2120

[2015-05-22 20:05] yjbanov commented on #2120
Assigning to @vsavkin to validate the idea. We can reassign to anyone willing to implement once we agree on it.

[2015-05-22 20:11] matanlurey commented on #1989
I like. I have a prototype of something similar we can look at when your'e back.

[2015-05-22 20:17] yjbanov commented on #2087
Can't wait. What's your worry?

[2015-05-22 20:19] matanlurey opened #2122 "Proposal: Support passing a setter as a callback/event hook"
Suppose you have a custom even called `onItemSelected`. Instead of creating a function to handle that event, and assigning a variable as the result, you should be able to just assign the variable. Example:

[code]

Then, if you have a component:

[code]

When `onItemSelected` is fired, it calls `ParentComponent.selectedItem = $result` automatically.

[2015-05-22 21:08] jbdeboer opened #2124 "Component property bindings with same name as element bindings are not set."
I have a component where the ```onchange``` property binding is not being set.

e.g.

[code]

In a template, I use my-comp:
[code]

However, ```onValueChange``` is never set, even though ```someExpr``` has a value.

I suspect this behaviour is due to the presence of the ```onchange``` global event handler on ```Element```.

[2015-05-22 21:30] vicb commented on #2122
@matanlurey it should be already supported: `(onItemSelected)="selectedItem=$event"`

[2015-05-22 22:34] jelbourn opened #2127 "Can't use `forwardRef` in TypeScript code that is compiled to dart"
## Solution

Have ts2dart remove the `forwardRef` statements so that `forwardRef(()=>MyType)` becomes `MyType`.

example:

[code]

becomes

[code]

## Problem

I have a component called `MdDialogContainer`. It contains in its template an `MdDialogContent`:
[code]

`MdDialogContent`, however, needs to inject its parent `MdDialogContainer` so that it can set a property on the container:
[code]
This

[2015-05-22 22:35] gdi2290 commented on #2110
would you prefer `@Host`

[code]

[2015-05-22 22:56] tbosch commented on #1989
We could extend this a little bit to implement a faster shadow dom emulation:

Allow a `name` attribute on both, `ng-outlet` and `ng-template`. If `name` is set in `ng-outlet`, it will look up the correct `ElementRef` and `ProtoViewRef` in the light dom of the current component.

E.g.
[code]

[code]

[2015-05-22 23:02] tbosch commented on #1989
The difference to real shadow dom emulation are then:

- this way is probably faster, as it using views directly and does not need to query the DOM
- a user can introduce new locals (see above), which regular shadow dom emulation cannot.
- does not support redistribution (e.g. a `ng-outlet` goes away and the nodes are redistributed to other `ng-outlets`). However, I don't know of good use cases fo

[2015-05-22 23:08] tbosch opened #2129 "benchpress: integrate with webpagetest.org"
Should be fairly easy,
people would still write scripts in the same way, but benchpress would execute them multiple times and give results.

I think they already have calibrated machines.

Benefit for Angular: Everyone can write benchmarks for snippets and compare their results with ours / other frameworks.

[2015-05-22 23:18] gdi2290 commented on #791
did everyone forget we already have language extensions. They're called pipes in ng2 and filters in ng1

[2015-05-22 23:48] yjbanov commented on #2087
Fixed by #2121

[2015-05-22 23:48] #2087 closed

[2015-05-23 02:34] matanlurey commented on #2122
Wasn't aware! Let me try :)

[2015-05-23 11:35] manfredsteyer commented on #1451
This is exactly what I'm thinking about since months. I'm very glad to see this planned for the Sugar-Milestone.

[2015-05-23 15:56] samccone opened #2135 "website documentation seems to not be tracking the latest 25 alpha release"
For instance:
https://angular.io/docs/js/latest/api/directives/If-class.html
is quite outdated and does not even refer to a valid file.

Let me know if I can be of any assistance in updating the site

[2015-05-23 16:02] mhevery opened #2136 "gulp test.unit.cjs only executes once"
Upon executing `gulp.test.cjs`:

[code]

Now change the files to trigger a rerun.

[code]

Tests did not run, and the watcher is now dead.

[2015-05-23 17:10] samccone opened #2137 "ng-if unable to find provider for ProtoViewRef after angular 22 => 25 upgrade"
Here is the patch of the upgrade from 22 to 25
https://github.com/samccone/angular2-base/commit/79bcc7a3828c0f59ca2f920935d2b193d6050532

It looks like for some reason the `ng-if` directive is not being injected with the ProtoViewRef service.

-------

#### Steps to reproduce

* clone the repo https://github.com/samccone/angular2-base
* checkout the branch `sjs/if-bug`
* start a local server
* vis

[2015-05-23 17:43] gdi2290 commented on #2137
`*ng-if="true"`

[2015-05-23 17:45] samccone commented on #2137
so I guess that makes

https://github.com/angular/angular/blame/842459aa46c1387a6f599422321486a6abe0c7a7/modules/angular2/docs/core/01_templates.md#L385

wrong?

[2015-05-23 17:52] samccone commented on #2137
ah ok

refered to the source code
https://github.com/angular/angular/blob/aec51d616b079308bc4480924e81be4f22ae4215/modules/angular2/src/directives/ng_if.ts#L24-L26

Guess this is is the *new new* :sparkles: syntax

[2015-05-23 17:52] #2137 closed

[2015-05-23 19:21] caitp commented on #2136
I can't reproduce this on master with a fresh npm install, but it might be worth adding a logger to the error event handler in tools/build/watch.js --- just in case it's not being logged normally. That may highlight an issue that the FSWatcher is running into?

[2015-05-23 23:18] ericmdantas opened #2139 "FormBuilder Error: TypeError: Cannot read property 'Subject' of undefined"
Hello!

I'm trying to use FormBuilder for a simple todoApp, but everytime I'd do:
[code]

I'd get the error ```TypeError: Cannot read property 'Subject' of undefined```.

I was taking a look at the angular2.js file and it has:

[code]

and
[code]

After checking that there's no ```Rx``` inside ```Rx.default```, I changed the code and it now looks like this:

[code]

and
[code]

And it now works as

[2015-05-23 23:34] shlomiassaf opened #2140 "Documentation example missing JS reference"
In [https://angular.io/docs/js/latest/guide/setup.html](https://angular.io/docs/js/latest/guide/setup.html)

[code]

A reference to traceur runtime is missing.
`<script src="https://github.jspm.io/jmcriffey/bower-traceur-runtime@0.0.87/traceur-runtime.js"></script>`

[2015-05-23 23:35] shlomiassaf commented on #2140
Very confusing for first-timers who still dont know about the 3 different files (dev/sfx etc)

[2015-05-23 23:58] ericmdantas commented on #2139
Hmm, I see this was fixed in the [angular2.dev.js](https://code.angularjs.org/2.0.0-alpha.25/angular2.dev.js). Could someone confirm?

[code]

[2015-05-24 04:52] matanlurey opened #2141 "DI: Resurrect @Injectables([])"
`@Inject` works fine when you have full control over your code base. However, if you're importing other libraries, you still want Angular to be able to reflect/generate factories for the constructor without an explicit `@Inject`, e.g.:

[code]

[2015-05-24 06:02] gdi2290 commented on #2141
I think the idea is that you do the same thing as in angular1 where you have a top level file where you include your 3rd party injectables when you bootstrap

[2015-05-24 06:03] gdi2290 commented on #2140
`traceur-runtime` wouldn't need to be required soon

[2015-05-24 09:32] Braincompiler commented on #2104
I got the same with `v2.0.0-alpha.22`.

How can I workaround it? Can I choose a specific Version? Maybe .23 where it seems to be working?

[2015-05-24 09:47] RinatMullayanov commented on #2104
Oh, and update tsd I forgot.
Perhaps this is the reason of my problem - different versions of the tsd and angular2.
Now there are only tsd v2.0.0-alpha.22, well I will wait for the update to tsd v2.0.0-alpha.25.

[2015-05-24 11:20] mdausmann commented on #2104
Last time I got this error was the name change from For to NgFor.  Nobody is doing a good job of updating the tsd along with the builds so you need to self-maintain for now.

[2015-05-24 15:59] gdi2290 commented on #2104
I have a PR open with latest definitions that I made while workingon Angular 2

[2015-05-24 17:35] RinatMullayanov commented on #2104
Thanks

[2015-05-24 20:34] matanlurey commented on #2141
That means you have to manually create factories, though. At least in the Dart version (maybe JavaScript doesn't care because it is uses dynamic `eval` to generate factories).

[2015-05-24 21:52] plumpNation commented on #1655
I have the same issue as @bwiklund and co, and like them, I'm just trying to inject a simple class. I'm using

https://code.angularjs.org/2.0.0-alpha.22/angular2.dev.js
https://jspm.io/system@0.16.js

and it didn't work without traceur-runtime

  $traceurRuntime is not defined

, which was also missing from the tutorial, so I `bower install`ed it at version 0.0.89.

The `'toString' of undefined` e

[2015-05-25 00:02] gdi2290 commented on #2141
here's my example

`todoInjectables`
[TodoService.ts#L44](https://github.com/angular-class/angular2-webpack-starter/blob/955c7b1553d19e20eb1e81015feeb1758dc7cb3c/src/app/services/TodoService.ts#L44)

`appServicesInjectables `
[services.ts#L4](https://github.com/angular-class/angular2-webpack-starter/blob/955c7b1553d19e20eb1e81015feeb1758dc7cb3c/src/app/services/services.ts#L4)

`bootstrap`
[bootst

[2015-05-25 05:03] alexeagle opened #2147 "Bad content in dgeni-generated angular2.d.ts"
See followup comments in https://github.com/angular/angular/pull/2017

@petebacondarwin assigning this to you based on your comment that you're working on it. (But @mprobst  and I can find some time to help this week if needed. He'll be back on Pacific time).

[2015-05-25 07:40] armorik83 opened #2148 "Is PromisePipe working?"
Hi.

[code]

**index.ts**
[code]

**angular2.d.ts**
[code]

**index.html**
[code]

Building
[code]

Rewrite `bundle.js` to the below

[code]

The result on Chrome 43.0.2357.65

[code]

and, the result in console.log

[code]

`{{asyncval|async}}` is not bound to the screen? is this a bug or am I missing something?

[2015-05-25 07:53] cexbrayat commented on #2139
I think you are running into #1797 : I had the same but it's not an issue in Angular 2 itself.

[2015-05-25 10:24] ericmdantas commented on #2139
Thanks, I'll give it a try later today.

[2015-05-25 13:05] joliss commented on #2051
Having unstable input paths is one of the things I regret about the original (current) Broccoli API. I'm working on redoing the plugin API, and with the new API there will be stable input paths.

To use the new API, plugins will derive from the [broccoli-plugin](https://github.com/broccolijs/broccoli-plugin) base class (currently work-in-progress). Plugins using the broccoli-plugin will still run

[2015-05-25 13:07] joliss commented on #2051
(Cc @caitp in case she isn't subscribed to this issue already.)

[2015-05-25 13:17] joliss commented on #2051
So to summarize: This issue will go away as soon as I finish broccoli-plugin, which is the thing that's at the top of my list right now. Then you can derive from broccoli-plugin and everything should work fine.

[2015-05-25 19:44] SamVerschueren commented on #1655
It doesn't look like the `injectables` property is implemented in the latest version of the `Component` annotation. Maybe @rkirov knows more about this?

[2015-05-25 21:29] jon-hall commented on #1913
It seems that using Promise polyfills might prevent bindPromiseFn from fixing this issue.  I was having the same issue with fetch and, after applying bindPromiseFn to my fetch call, I still had to remove the polyfill that the fetch authors recommend (https://github.com/jakearchibald/es6-promise) before I could get the UI to update when I got my data out the response.

[2015-05-26 06:39] vicb commented on #1913
@jon-hall There is no need to use any Promise polyfill with Angular because it comes with a Promise monkey patch (based on es6-promise) whether native Promises are available or not.

The next release of zone.js (which should happen later this week) will integrate the patching of the `fecth` API and there will be no need to manually `bindPromiseFn` then.

[2015-05-26 06:58] vicb commented on #2120
Is `OnChange` a good name ? (not very descriptive, easy to mix with `onChange`).

I am not really keen on
[code]

as an alternative, we could rename `onChange` to something more specific and use a structural type check for JS:
[code]

the `implements OnChange` would be optional in JS but documented as a best-practice.

Also I think we do not inherit annotations for now ? If this is true, the inter

[2015-05-26 07:00] juliemr commented on #1812
WIP commit at https://github.com/juliemr/angular/commit/e79a1db5c39fe9954e47a1219331bd0860cbede1

Still needs
- clarification on how getting `TestElement` children and shadow children should work, especially when directives like `ngFor` are used
- docs

[2015-05-26 08:26] vicb commented on #791
We actually don't need to skip records. I'll submit a PR very soon.

It is not possible to implement this via pipes if you meant this. (`obj?.field.subfield`)

[2015-05-26 09:01] vicb commented on #322
`async` / `await` is planned for TS 1.6 (https://github.com/Microsoft/TypeScript/issues/1664).

I guess there will be nothing to do when the target is ES6.

[2015-05-26 12:10] imamovic opened #2155 "jqLite text() function has different behavior then jquery text() function"

[2015-05-26 12:13] vicb commented on #2136
same here, cpu usage raise to 98%, have to `kill` gulp

[2015-05-26 12:14] vicb commented on #2136
seems to happen only on failures

[2015-05-26 12:19] vicb commented on #2155
this repo is for angular2, please re-open at https://github.com/angular/angular.js

[2015-05-26 12:19] #2155 closed

[2015-05-26 14:44] Bogatinov commented on #1415
My environment:
* [ClangFormat 3.7](http://llvm.org/builds/) installed (added to PATH)
* Patched `gulp-clang-format` with TS support
* Added as pre-commit hook to git

[2015-05-26 14:58] vicb opened #2157 "[Question] material / e2e"
@jelbourn tests have

[code]

should it be

[code]

/cc @juliemr

[2015-05-26 15:09] Bogatinov commented on #1415
My environment:
* Windows 8.1 Pro x64
* Visual Studio code /w TypeScript 1.5beta
* Latest Node 0.12.4

How I configured:
1. Installed [Python 2.7](https://www.python.org/downloads/release/python-2710/)
2. Installed [ClangFormat 3.7](http://llvm.org/builds/) + Add to PATH
3. Patched `gulp-clang-format` in `Installation_Path\LLVM\bin` to support TypeScript
4. Add as [pre-commit hook](https://github.

[2015-05-26 15:14] mdausmann commented on #2120
what about

    @Component()
    class MyComponent implements Changeable, Destroyable {
      @override
      void onChange(_) { ... }

    @override
      void onDestroy(_) { ... }
    }

[2015-05-26 15:18] vicb commented on #2120
`MyComponent` could change even if it does not implements `Changeable`.

[2015-05-26 15:45] tbosch commented on #2120
+1 for using structural type checks in JS land as well (e.g. via checking the prototype), so we keep the same syntax in both, Dart and JS (i.e. don't need `@Lifecycle` annotation at all)

[2015-05-26 15:53] jelbourn commented on #2157
I based on mine on the existing e2e tests which do the same thing. They all seem to work fine for now, but it's probably brittle WRT the run environment.

[2015-05-26 15:55] vicb opened #2158 "gulp build.dart, resolving dependencies is not Ctrl+C-able"
It is not possible to cancel the step "resolving dependencies"

[2015-05-26 16:01] matanlurey commented on #2141
You have no examples of using `toClass` though, which is what I think is not working.

[2015-05-26 16:02] matanlurey commented on #2141
@vsavkin, @kegluneq

[2015-05-26 16:14] vicb commented on #2157
Not sure if @tbosch hadn't updated some time ago ?

[2015-05-26 16:36] mprobst commented on #1415
@Bogatinov I think you're just running with an outdated `clang-format` that doesn't handle arrow functions well, I'll see that I update the NPM package with the latest.

[2015-05-26 16:51] mprobst commented on #2127
Can you make `forwardRef` a `@const` function?

[2015-05-26 17:15] jelbourn commented on #2127
All of the arguments to a `const` function have to also be const. I think that the purpose of `forwardRef` and the concept of `const` functions are not compatible.

[2015-05-26 17:20] gdi2290 commented on #791
@vicb I meant that as a response to why we should add it. One argument was that angular was extending javascript which is true since it's surprising to the developer to learn about these extensions in the binding syntax. I was only suggesting that the decision has already been made with Pipes. Pipes is not javascript syntax and it is surprising to find out rather than the developer assuming it's j

[2015-05-26 17:24] mprobst commented on #2127
Wouldn't the class definition be const in Dart, i.e. fully resolved before
runtime?

Jeremy Elbourn <notifications@github.com> schrieb am Di., 26. Mai 2015 um
10:16 Uhr:

[2015-05-26 17:43] gdi2290 commented on #322
if you're talking about template syntax there is a AsyncPipe for example
[code]

[2015-05-26 17:56] vicb commented on #2157
That's actually [this commit](https://github.com/angular/angular/commit/8b28e99) from @juliemr

[2015-05-26 18:26] btford commented on #2021
As far as I can tell, this eliminates the rest of the errors I was seeing. @IgorMinar – Is there somewhere else I should look?

[2015-05-26 19:16] Bogatinov commented on #1415
@mprobst in [formatting](https://github.com/angular/angular/blob/master/DEVELOPER.md#formatting) it states
[code]
so I added `.ts` to the list for support. I have the latest 3.7 version from their website and running with that.

[2015-05-26 19:18] alexeagle commented on #1415
You should exclusively be using the clang-format which is distributed
through node, and referenced from the package-shrinkwrap.json file, to
avoid version skew problems.

On Tue, May 26, 2015 at 12:16 PM Aleksandar Bogatinov <
notifications@github.com> wrote:

[2015-05-26 19:19] jomeier opened #2161 "2.0 Alpha 25: Error in Safari: Cannot declare a parameter named 'controlOrName' in strict mode"
Hi,

Created my project with Alpha 25 and Typescript 1.5Beta on Visual Studio 2013.

Tested it with Safari (Version 5.1.7 but also with an iPad with current iOS). Result:

[code]

Environment: Traceur 0.0.87

Best regards,

Josef

[2015-05-26 19:48] adamdbradley opened #2162 "elementMatches error when given a text node"
When creating a dynamic component through ViewContainerRef#create, it eventually calls `elementMatches()`, which in my app it is possible to pass a `text` node.

However, when running this code:

[code]

`msMatchesSelector` attempts to be executed on the text node, which doesn't exist.

https://github.com/angular/angular/blob/15f1eb28a2c7c3af40aa8882c89e28014f2fa582/modules/angular2/src/dom/browse

[2015-05-26 20:27] jomeier opened #2163 "2.0 Alpha 25: TypeError: Map constructor does not accept arguments in Safari 8 on Mac OS X and iPad (iOS 8.3)"
[code]

In anular2.dev.js : 17335

Safari 8.0.6, Traceur 0.0.87, Mac OS X Yosemite (10.10.3) and also with iPad (iOS 8.3).

Page refuses to load. Nothing is displayed :-/

[2015-05-26 20:39] jomeier commented on #2163
Seems to be a bug in traceur: https://github.com/google/traceur-compiler/issues/1650 with Safari browsers?

Do we have to use traceur or is there another possibility for using angular 2 alpha?

[2015-05-26 20:41] mlaval commented on #2163
Fixed by #2096

[2015-05-26 20:41] #2163 closed

[2015-05-26 20:42] jelbourn commented on #2127
Doesn't seem that way when I tried it, but I don't know much about dart.

@rkirov do you have any insights?

[2015-05-26 21:09] btford commented on #2001
Supposedly we are unblocked on this now. I want to work with @IgorMinar and @matsko on this as soon as our build-related work is in a good state.

[2015-05-26 21:38] mhevery commented on #1992
/cc @matanlurey

[2015-05-26 21:52] rkirov commented on #2004
done https://github.com/angular/angular/blob/master/modules/angular2/src/util/decorators.ts

[2015-05-26 21:52] #2004 closed

[2015-05-26 22:18] jeffbcross opened #2168 "benchpress should throw if given invalid slope calculation metric"
i.e. if I say to use "script", it should throw because script is not valid. scriptTime would be valid.

[2015-05-26 22:29] mhevery commented on #2042
I think this is already support in three ways:

1. returning `false` causes `preventDefault()` to run. ie: `<div (click)="doSomething(); false">`
2. calling it manually: `<button (click)="doSomething(); $event.stopPropagation()">`
3. One can always implement the same directive in NG2 as:

[code]

Then use as:

[code]

## Request

Do you think the above is not sufficient? If so, how would you imagi

[2015-05-26 22:31] tbosch commented on #2003
Done

[2015-05-26 22:31] #2003 closed

[2015-05-26 22:36] mhevery commented on #2025
I agree with @yjbanov, I think we should support it.

[2015-05-26 22:37] gdi2290 commented on #2042
this would work too correct? assuming the return type of `doSomething` is `void`
[code]

[2015-05-26 22:38] mhevery commented on #2025
Also fix for ng-style

[2015-05-26 22:41] IgorMinar commented on #1914
ah.. in my original repro instructions I used `{{myModel.foo.bar}}` as the expression. Try `{{my.foo}}` instead. (I updated the instructions too)

[2015-05-26 22:48] juliemr commented on #1992
How will this relate to #1812, and the `TestElement` used there?

[2015-05-26 22:51] mhevery commented on #1293
The current thinking is to have `View` and `BaseView` annotations where `View extends BaseView` and automatically adds angular core directives. In this way most of the time we don't have to specify core directives, but if a user does not want the core directives there is a way out.

[2015-05-26 23:22] rkirov commented on #2127
Yeah, this will be a hard one. Dart considers any closure as a non-const value, so `const [() => 3]` is an error. Also any function invocation (except const constructor) is forbidden, so `id(x) => x; const[id(3)]` is also an error.

[2015-05-26 23:31] goderbauer opened #2169 "Benchpress should throw/warn if chosen name for a microMetrics overwrites a build-in metric."
e.g. the following is invalid because renderTime is a build-in metric.

benchpress.sample(microMetrics: {'renderTime': '...'}, ...);

[2015-05-26 23:34] jeffbcross commented on #2148
Looking into this...

[2015-05-26 23:37] uber5001 opened #2170 "Reflect.js is not included as dependency in the npm package"
When installing angular2 through:

    npm install angular2

the npm module `reflect-metadata` is not included as a dependency of angular2

[2015-05-26 23:38] tbosch commented on #2169
+1

[2015-05-27 00:02] jeffbcross commented on #2148
I've created a plunker to verify that basic promise usage is functioning correctly: http://plnkr.co/edit/Tm88sFUDonkeKANw0qTv?p=preview

Now I'm going to try to reproduce with your code.

[2015-05-27 00:09] jeffbcross commented on #2148
@armorik83  this plunker with your code is working as expected: http://plnkr.co/edit/iDcfhZ182E46tGBcQX0L?p=preview

Since promise pipe is already in the async pipe, which is in the `defaultPipes`, you shouldn't need to create and bind your own PipeRegistry. Can you try removing that and seeing if it works as expected?

It could also be an issue with the polyfill you're using, can you share what p

[2015-05-27 00:13] jbdeboer commented on #1293
Could apps add to the list of "core directives"?

Or will app developers be encouraged to extend View?  In that case, how
will you ensure that tools work correctly?
On May 27, 2015 5:51 AM, "Miško Hevery" <notifications@github.com> wrote:

[2015-05-27 00:17] pkozlowski-opensource commented on #1293
Yeh, my initial thinking was also to have some kind of "registry" where people could list they "default" directives (ones that are used most of the time and should be available in more or less all of the templates). Core directives would be in this registry by default but people could add more of their custom directives in there.

[2015-05-27 00:17] matanlurey opened #2173 "Angular's internal services are missing @Injectable"
This grossly affects the Dart story. Right now, for example, `NativeShadowDomStrategy` does not work in code-gen mode. I've patched internally, but this should be fixed upstream.

cc: @kegluneq, @mhevery

[2015-05-27 00:26] matanlurey opened #2175 "NativeShadowDomStrategy"
Related to #2173: In code-gen mode, native shadow DOM is not working/resolving style URLs properly.

With the transformer disabled, a component's `<style>@import "shell.scss.css"</style>` becomes:
`http://localhost:8080/packages/crm.greentea.expfe21.entrypoint/src/shell.scss.css`

With it enabled, it becomes:
`http://localhost:8080/shell.scss.css`, which in invalid

cc: @kegluneq, @mhevery

[2015-05-27 00:41] jbdeboer commented on #2042
#1 should work for us.

Interestingly, reactjs deprecated event handler return values in 0.12.  It
may be worth investigating to ensure you don't hit the same issues they
did.

Also, this pattern should be documented somewhere.
On May 27, 2015 5:37 AM, "PatrickJS" <notifications@github.com> wrote:

this would work too correct? assuming the return type of doSomething is void

<div (click)="!!doSome

[2015-05-27 00:59] jeffbcross commented on #2007
I just chatted with @tbosch about this, and am planning to tackle this tomorrow (5/27).

[2015-05-27 02:44] gdi2290 commented on #2175
I have this problem too so my solution was use webpack to manage the url etc [home/home.ts#L8](https://github.com/angular-class/angular2-webpack-starter/blob/5547869d0957f5ab95093637558ef170b57a2144/src/app/components/home/home.ts#L8).

I think the problem is in [compiler.ts#L72](https://github.com/angular/angular/blob/2.0.0-alpha.25/modules/angular2/src/core/compiler/compiler.ts#L72) where we are

[2015-05-27 02:56] gdi2290 commented on #1293
It would be nice to inject directives similar to bindings. For example if you look at [bootstrap.ts#L17](https://github.com/angular-class/angular2-webpack-starter/blob/5547869d0957f5ab95093637558ef170b57a2144/src/app/bootstrap.ts#L17) I'm including injectables from a services folder [services.ts#L4](https://github.com/angular-class/angular2-webpack-starter/blob/5547869d0957f5ab95093637558ef170b57a

[2015-05-27 03:16] matanlurey commented on #2175
My temporary fix was to put the fully qualified dart package path and overriding UrlResolver to resolve properly. I'm assuming this is a simple bug  :facepunch:

[2015-05-27 03:19] tbosch commented on #2042
[Here](https://facebook.github.io/react/blog/2014/10/16/react-v0.12-rc1.html#deprecated-returning-false-in-event-handlers) is the the comment from the React blog:

In Angular, the event handler that a user implements is actually not the event handler that the browser sees, but there is an indirection in between (e.g. needed for marshaling things over to webworkers). The argument for the return val

[2015-05-27 11:20] inikulin commented on #1777
[PolymerLabs/dom5](https://github.com/PolymerLabs/dom5)?

[2015-05-27 12:26] armorik83 commented on #2148
Well, I see...! I was sure it works indeed.

I have reproduced this sample at my hand.
It works correctly when using this `https://code.angularjs.org/2.0.0-alpha.25/angular2.sfx.dev.js`.
But, It does not work in Angular 2.0.0-alpha.25 + Browserify@latest.

I have used the `browser-polyfill.js` of Babel@latest for the Promise-polyfill of both case.

---

`browser-polyfill.js` is here.

[code]

inde

[2015-05-27 12:31] tamtakoe opened #2178 "angular.io error"
https://angular.io/about/
If you click on photo, next close popup, next click on photo every time you get error.
Windows 7, last version of Chrome.

I did not find a single angular.io repository

[2015-05-27 12:59] vicb commented on #2148
A Promise monkey patch is included in ng2 (via zone.js). You **should not** use any other Promise polyfill.

[2015-05-27 12:59] vicb commented on #2178
here it is https://github.com/angular/angular.io

[2015-05-27 12:59] #2178 closed

[2015-05-27 13:37] armorik83 commented on #2148
uh oh! I had forgotten completely about Zone.js.
This was re-challenge in view of the Zone.js, it worked. It's a blind spot.
Thank you for me a hint @vicb.

[2015-05-27 14:21] vicb commented on #2148
We can leave this open until we have more time to check what was going wrong.
I've just tried the Promise polyfill you use (from GH master) but it does not seem to overwrite the monkey patch.

[2015-05-27 14:34] armorik83 commented on #2148
Understood.
I use this `https://code.angularjs.org/2.0.0-alpha.25/angular2.sfx.dev.js` for a while, and I will try to check for a more `src/facade`.

[2015-05-27 14:42] vicb commented on #2148
`src/facade` is mainly something we use internally because with need to generate both a .js and a .dart version of Angular (`Observable` & `EventEmitter` being 2 exceptions). You should not need to use this - unless you target both js & dart of course.

[2015-05-27 14:54] C4Grey opened #2179 "Application bundle packing"
While using Typescript I've encountered a problem with packaging of an application: it is splitted into separate js files and can't be bundled into one file because of duplication of variables and file-related modules system used by SystemJS. I've tried AMD and CommonJS, both with the same result. For example, there will be an error if we have some main application file and importing another file

[2015-05-27 14:59] armorik83 commented on #2148
Okay. I think It is difficult to support both JS and Dart.
Understood way to use of `facade`.

[2015-05-27 16:26] mlynch commented on #2162
Stack trace with more info:

![screenshot 2015-05-27 11 26 00](https://cloud.githubusercontent.com/assets/11214/7841580/34f2a3fa-0463-11e5-83ad-a48f074e16ee.png)

[2015-05-27 16:43] alexeagle commented on #2147
@petebacondarwin getting some queries on this. Are you still working on it? Thanks!

[2015-05-27 16:49] mhevery commented on #1992
@juliemr #1812 is about making tests, #1992 is about allowing one to get a hold of the directives, when all you have is an ElementRef. This is useful for pocking around in dev console as well as for Protractor.

[2015-05-27 17:02] gdi2290 commented on #1777
parse5 doesn't care about styles (with good reason) but that's limiting for something like server rendered views. Styles won't show up on the initial load until Angular bootstraps the view. JsDom switch to io.js after 3.x so for node support you would have to use 3.x

[2015-05-27 17:18] Kirkhammetz opened #2184 "angular.io about page bug"
Don't know if it's the right place to report it but if you open a bio on the about of angular.io then close it and reopen another one it fail to bind.

![immagine](https://cloud.githubusercontent.com/assets/5617452/7842625/b5a102b2-04a4-11e5-9cb8-761eebb4bd7e.jpg)

[2015-05-27 17:27] tbosch opened #2185 "DI: using `@Inject(...)` without a type fails in dart2js when using mirrors"
Given a class that does something like this (see e.g. `DomRenderer`):
[code]

Using this class with DI fails with the following error in dart2js when using dynamic reflection (e.g. in hello_world/index_dynamic.html):
[code]

[2015-05-27 17:31] #2173 closed

[2015-05-27 17:32] #2170 closed

[2015-05-27 17:35] gdi2290 commented on #2184
https://github.com/angular/angular.io

[2015-05-27 17:41] kegluneq opened #2187 "Ignore whitespace in test comparisons"
In particular, IntelliJ wants to add newlines to some of the expected JSON output which is causing some tests to fail when running locally.

cc @vicb

[2015-05-27 17:42] vicb commented on #2187
thanks

[2015-05-27 17:55] mhevery opened #2188 "@Unbound visibility skips self"
using `@Unbound` skips self. This is wrong in most cases, but right in the case of injecting yourself, which prevents cyclical dependency.

## Proposal

* Change default to include self.
* Have `@Unbound({self:false})` take an optional argument which skips self in the case of cyclical injection.

[2015-05-27 17:55] matanlurey commented on #2115
See #2188.

[2015-05-27 17:55] #2115 closed

[2015-05-27 18:03] Kirkhammetz commented on #2184
Ok, thanks sorry for the wrong repo.

[2015-05-27 18:19] juliemr commented on #1992
As discussed offline, we should eventually use the ngProbe for tests as well when applicable, so we don't have two systems for doing similar things.

[2015-05-27 18:39] #2185 closed

[2015-05-27 19:11] jomeier opened #2191 "Build from master: Angular compiles successfully but angular2.dev.js throws errors. Simple questions about build process."
Hi,

a few questions from an angular2-build-newbie :-) I'm sure it's a simple one for angular veterans.

Today I built angular with the instructions from DEVELOPER.md for the first time.

[code]

I took the sources from the master branch (from yesterday) and compilation ran without errors. After the compilation I got a dist directory with 'dist/bundle' and 'dist/build' directories (don't know the

[2015-05-27 19:36] mhevery commented on #1842
@vsavkin is Implementing this right now.

- Use implements in addition to `@Component.lifecycle`
- Create `InitAware.onInit()`

[2015-05-27 20:21] gdi2290 opened #2192 "lifecycle onChange doesn't work on top level component"
[code]
doesn't work on the top level component

[2015-05-27 20:23] mhevery commented on #2124
I can't seem to reproduce the problem: http://plnkr.co/edit/4zmTnmslzEgvQgsNSIne?p=preview Can you have a look?

[2015-05-27 20:24] vicb commented on #2192
probably the same root cause as https://github.com/angular/angular/issues/1858

[2015-05-27 20:32] mhevery commented on #1769
Related: https://github.com/angular/angular/issues/1594

[2015-05-27 21:52] jbdeboer commented on #2124
This was in dart, not js.

The repo is g-date-picker in gt. Just change the on-value-change property
back to "on change".

On May 28, 2015 3:52 AM, "Miško Hevery" <notifications@github.com> wrote:

http://plnkr.co/edit/4zmTnmslzEgvQgsNSIne?p=preview Can you have a look?

[2015-05-27 21:54] jomeier commented on #2161
Maybe such an old Safari version isn't in the focus of Angular 2?

Should I close this issue?

[2015-05-27 22:09] choeller opened #2194 "Relative Urls for templates not working correctly"
Assuming we have a project structure as below:

[code]

When referencing my-component.html from my-component.js we currently have to pass the complete path from `project` folder to `templateUrl`:

[code]
This is not ideal for writing reusable components.

As far as I understand <a href="https://github.com/angular/angular/blob/2.0.0-alpha.25/modules/angular2/src/core/compiler/component_url_mapper.t

[2015-05-27 22:45] IgorMinar commented on #2051
@joliss thanks for the clarification. I took a quick look at the broccoli-plugin code, but unfortunately, I don't see it addressing some of the issue we came across. Especially, enabling incremental (at a file-level within a tree) compilation doesn't seem to be addressed. We worked around this limitation by creating a custom plugin interface that we wrap into a generic plugin before hooking it up

[2015-05-27 23:53] #2120 closed

[2015-05-28 00:24] #1812 closed

[2015-05-28 01:15] pramodx opened #2199 "Issue on the angular website itself"
Not sure if this is the right forum but opening an issue nevertheless

I was looking at the bio page at https://angular.io/about/. I clicked on a bio once to view the person profile. I then close the bio and then click on the same bio again. Voila!! I get a 404. This is happening across bios and is easily reproducible.

https://angular.io/about/
![image](https://cloud.githubusercontent.com/assets/

[2015-05-28 02:30] pkozlowski-opensource commented on #2184
Duplicate of https://github.com/angular/angular.io/issues/132

[2015-05-28 02:30] #2184 closed

[2015-05-28 02:31] pkozlowski-opensource commented on #2199
Duplicate of https://github.com/angular/angular.io/issues/132

[2015-05-28 02:31] #2199 closed

[2015-05-28 14:51] #1929 closed

[2015-05-28 15:25] ludohenin opened #2201 "Router - back button does not work properly"
Back button works well if only one route is navigated (renders the previous view). But if more than one route is followed, nothing happen when clicking the back button.
History is also not maintained, it is impossible to go forward.

[2015-05-28 16:18] vsavkin opened #2204 "Dart transformers should record interfaces"
If I have the following class in my app

[code]

Dart transformers should record this information in the reflector object, so that I can do the following:

[code]

[2015-05-28 16:20] kegluneq commented on #2204
What is this being used for? Is there a design document I can read?

[2015-05-28 16:36] mlaval opened #2205 "ControlDirective custom value accessors rely on DOM attributes order"
Consider the following test:
https://github.com/angular/angular/blob/master/modules/angular2/test/forms/integration_spec.ts#L299-L321

It is successful in Chrome, but fails in Firefox.
In fact, it fails in Chrome too if its template is modified to reverse the attributes `control="name"` and `wrapped-value`, such as:
[code]
Also note that both versions of this test are passing in IE.

What happens

[2015-05-28 16:44] kshay opened #2206 "reloadOnSearch should not cause reload on hash change"
Background: We have pages that dynamically update the URL #hash. Not realizing that setting a route's reloadOnSearch: true would also mean it reloads when the hash changes, we recently did that and those pages broke rather thoroughly.

Yes, our fault for not checking the docs, since this is clearly documented, but... the name is misleading, and I'm also hard pressed to think of a use case for want

[2015-05-28 16:53] #2188 closed

[2015-05-28 18:14] goderbauer opened #2207 "unify $DARTIUM and $DARTIUM_BIN"
In addition to defining $DARTIUM_BIN as described in DEVELOPER.md I also had to execute "export DARTIUM=$DARTIUM_BIN" to execute the tests. Might be worth to unify the usage of those two environment variables in the test setup of angular.

[2015-05-28 18:32] caitp opened #2208 "Move dart formatting to incremental plugin in build pipeline"

[2015-05-28 18:45] #2051 closed

[2015-05-28 18:52] alexeagle commented on #2127
@vsavkin says we could just strip the forwardRef function call and unwrap the closure for ts2dart.

[2015-05-28 19:41] C4Grey commented on #2179
Figured it out: the simplest solution is to use the [tsproject module](https://github.com/ToddThomson/tsproject). Works like a charm, the best thing is that it automatically handles all imports, and all you have to do is just define a main file in a bundle declaration.

[2015-05-28 21:00] #2068 closed

[2015-05-28 21:11] vicb commented on #1914
`{{myModel.foo}}` would be `undefined` in this case so I think the behavior is expected (JS would not throw)

[2015-05-28 21:27] #791 closed

[2015-05-29 00:01] rkirov opened #2213 "add special case for href to allow optionally not including the attribute"
It appears that in browsers setting the href property to any value (even null) on an anchor element will stringify it (and sync with the attribute). Ex ``` a = document.createElement('a'); a.href = null; -> <a href="null">```

This means that ```<a [href]="null">``` will be decorated as a link for 'null'. For users that want to optionally decorate their links depending on presence of some data, th

[2015-05-29 00:25] tbosch opened #2214 "docs: insert spaces at end of line of comments"
Reported as https://github.com/angular/angular/pull/2142, but with a wrong fix. See discussion there.

See https://github.com/angular/angular/blob/master/docs/angular.io-package/processors/addJadeDataDocsProcessor.js#L47

[2015-05-29 00:27] #1842 closed

[2015-05-29 00:41] Izhaki opened #2216 "Integrate refresh mechanism to $resource"
This is a feature request to support what I believe will become an increasingly popular scenario.

(This applies to Angular 2, although would be great if we can see something like this in Angular 1.X; I will be using Angular 1 syntax, but the concept is the same nevertheless).

# Background

The applications to which this applies involve:

- A single page application.
- Possibly a (socket.io or si

[2015-05-29 01:07] naomiblack commented on #2204
This is the Dart part of completing the work that @yjbanov requested in https://github.com/angular/angular/issues/2120

[2015-05-29 08:44] vicb commented on #2122
@matanlurey feel free to re-open if needed

[2015-05-29 08:44] #2122 closed

[2015-05-29 09:19] khyamay commented on #1655
having the same issue, any workaround for this?

[2015-05-29 09:44] SamVerschueren commented on #1655
@khyamay Having issues with the error `No Directive annotation found on AppComponent` or with the injectables?

[2015-05-29 09:59] khyamay commented on #1655
@SamVerschueren  yeah i had ```No Directive annotation found on AppComponent``` then i used alpha.22 and changed my imports ```import { ComponentAnnotation as Component, ViewAnnotation as View } from "angular2/angular2";``` and now i get ```Uncaught TypeError: decorator is not a function```

[2015-05-29 10:09] #2013 closed

[2015-05-29 10:16] SamVerschueren commented on #1655
Yes that problem should be solved with version 22.

This is what my imports look like.

[code]

You can try using version 25? https://code.angularjs.org/2.0.0-alpha.25/angular2.js

[2015-05-29 10:45] khyamay commented on #1655
just tried with version 25 and if i changed the import to ```import {Component, View} from "angular2/angular2"; ```  I get  ```Error during instantiation of Token(ComponentRef)!. ORIGINAL ERROR: Cannot resolve all parameters for DisplayComponent. Make sure they all have valid type or annotations. ``` btw  I am following step by step guide and every thing was working until I tried to create another

[2015-05-29 11:06] SamVerschueren commented on #1655
Yes, the injectables do not work yet (I guess). I tried to take a deeper look but couldn't find it in the code.

[2015-05-29 11:13] vicb commented on #1655
`injectables` is now `appInjector`.
Soory for the confusion (the CHANGELOG does not reflect this).
We'll try to improve over time.

[2015-05-29 11:28] jomeier commented on #2161
I'll close this one. The issue seems not to be resolved but Safari 5 is rather outdated.

[2015-05-29 11:28] #2161 closed

[2015-05-29 11:30] jomeier commented on #2191
I played around with cherry picking the commit which fixes the iOS map problem and merging it into the alpha 25 code base. It worked.

It seems as if the code of the current master branch is not guaranteed to be always working. Correct me if I'm wrong, please.

[2015-05-29 11:30] #2191 closed

[2015-05-29 11:32] jomeier commented on #2140
@gdi2290: Why not?

[2015-05-29 12:09] vicb commented on #2140
Angular2 will move to TypeScript (away from Traceur). The migration is on-going.

[2015-05-29 12:46] vicb commented on #1862
pending zone.js release (0.5.1)

[2015-05-29 12:48] vicb commented on #2110
@mhevery mentioned an issue where all host configs are gathered under a host key, do you have reference to an existing issue about that ?

[2015-05-29 12:51] vicb commented on #805
@tbosch I guess you have much more experience with stack trace than I do, would you mind looking at this ?

[2015-05-29 13:50] SekibOmazic commented on #2216
@Izhaki This is Angular2 repo. You should file your issue here: https://github.com/angular/angular.js

[2015-05-29 13:52] tbosch commented on #2013
Yeah!
On Fri, May 29, 2015 at 3:10 AM Victor Berchet <notifications@github.com>
wrote:

[2015-05-29 13:53] Izhaki commented on #2216
I'm well aware this is an Angular2 repo, and this is request is for Angular 2 (and 1 if possible).

Sorry if using Angular 1 syntax is confusing. I'll edit my post.

[2015-05-29 14:38] adamdbradley commented on #2013
Good call. Every example we've had to update since this change was using the same key/value. :+1:

[2015-05-29 15:24] chrisber opened #2219 "templateUrl usage with local files (file:///) not working because of (XMLHttpRequest) xhr.status checks"
- Overview of the Issue
  templateUrl is not able to load local files (file:///) do to xhr.status (XMLHttpRequest) checks. This prevents the usage of `templateUrl` within `@Views`
 **stack trace:**
[code]

- Motivation for or Use Case
Angular in combination with Electron must be able to load local files (file:///) like `"file:///path/to/myAppComponent.html"`. The issue appears when using `template

[2015-05-29 15:40] vicb opened #2220 "Interface based lifecycle methods"
As proposed in #2120, the current situation is:

[code]

- `lifecycle: [onChange]` is ignored in Dart
- `implements OnChange` is ignored in JS (there is no such things as interfaces in JS)

I can see two problems with this:
- It's harder to write directives that would work for both Dart & JS,
- Currently the behavior is different because interfaces are inherited but annotations are not (yet) - thi

[2015-05-29 16:03] kegluneq commented on #793
This is covered by #502

[2015-05-29 16:03] #793 closed

[2015-05-29 16:05] kegluneq commented on #501
Closed by 08b56e1c532d23120cdcc86f2fd95de29271bc91

[2015-05-29 16:05] #501 closed

[2015-05-29 16:13] kegluneq commented on #2120
I like this generally, but for the transformer this introduces some nasty edge cases.

To avoid the slowdown seen with the AngularDart (#1) transformer, we do not have a fully resolved AST or global information at transform time. With some exceptions, when operating on a file we only have the information available in that file. As an example, if we have:

a.dart:
[code]

b.dart
[code]

We won't kn

[2015-05-29 16:21] mhevery commented on #2127
Dart does not have a forwardRef problem, and so you can just strip it out.

`forwardRef(()=>MyType)` becomes `MyType`.

example:

[code]

becomes

[code]

[2015-05-29 16:22] vicb commented on #2120
@kegluneq would you mind cross posting on #2220, this issue is closed.

I understand the why but I don't really like the solution. If you extend some Directives, you'll have to check its signature before doing so, far from ideal - not to mention issues when the base class signature changes.

[2015-05-29 16:27] kegluneq commented on #2220
(cross-posted from #2120)

I like this generally, but for the transformer this introduces some nasty edge cases.

To avoid the slowdown seen with the AngularDart (#1) transformer, we do not have a fully resolved AST or global information at transform time. With some exceptions, when operating on a file we only have the information available in that file. As an example, if we have:

a.dart:
[code]

[2015-05-29 16:34] vicb commented on #2220
(cross posted from #2120)

I understand the why but I don't really like the solution. If you extend some Directives, you'll have to check its signature before doing so, far from ideal - not to mention issues when the base class signature changes.

Also if we later need to merge annotations from the base classes, we'll have to walk them anyway (not clear to me if this will be implemented ?)

[2015-05-29 16:51] mhevery commented on #301
not applicable any more

[2015-05-29 16:51] #301 closed

[2015-05-29 16:51] mhevery commented on #300
its already fixed in different way

[2015-05-29 16:51] #300 closed

[2015-05-29 17:02] irfantusneem opened #2221 "Angular2 router path / matches incorrectly if it is the first in a list."
Clicking on DEF link below causes a match on "/".  Two bugs here, one is that "/" is being matched.  Second the alias is not correctly picking up the correct config immediately.

Also documentation says to use 'alias' where as the code uses 'as'.

<a router-link="def" class="tab-content">DEF</a>

router-link
    _router.config([
       { 'path': '/', 'redirectTo': '/abc' },  // matches prematurely

[2015-05-29 17:48] naomiblack commented on #1706
@vicb could you take a look into this one?

[2015-05-29 18:16] mprobst commented on #2127
File an issue, please?

Miško Hevery <notifications@github.com> schrieb am Fr., 29. Mai 2015 um
09:21 Uhr:

[2015-05-29 20:12] #1992 closed

[2015-05-29 20:24] naomiblack commented on #2009
@jeffbcross and @tbosch are resolving the remaining tests in https://github.com/angular/angular/pull/2212

[2015-05-29 20:38] naomiblack commented on #2005
dialog is still outstanding. everything else is done. blocked by https://github.com/angular/angular/issues/2127

[2015-05-29 20:41] naomiblack commented on #2001
Moving this to M10 since it doesn't look likely to land by Monday, given build work at higher priority.

[2015-05-29 20:42] mfrancis107 opened #2223 "Dependency Injection when referencing Interface"
This conversation could probably be in the Typescript area also.

[code]

If in the type file ElementRef is declared as an Interface the compiled output is not correct.

[code]

Where it should have
[code]

The reason I bring this up here is because I'm not sure that Typescript is doing anything wrong. But this seems like it would cause serious problems when trying to use third party library and d

[2015-05-29 20:57] mhevery commented on #2127
https://github.com/angular/ts2dart/issues/177

[2015-05-29 20:58] irfantusneem opened #2224 "Router does not support NgRoutingUsePushState"
Router does not support NgRoutingUsePushState.  See Angular 1.0 dart.

[2015-05-29 21:09] jeffbcross commented on #2001
@matsko you haven't started on this, have you? I just chatted with @btford, and am planning to tackle it this afternoon.

[2015-05-29 21:10] matsko commented on #2001
@jeffbcross no I haven't started on it yet. You're welcome to take it over. I was planning on doing it on Monday with Brian.

[2015-05-29 21:16] btford commented on #2001
We should get this done ASAP so that I can return to #2165.

[2015-05-29 21:17] IgorMinar opened #2225 "Create semi-complex form example"
checkout form that contains several fields:

- first name: required, some max length, type=text
- middle name: optional
- lastname
- credit card: custom validator, required
- amount: number, required
- email: native type, required
- comment: text area, optional

capabilities:
- show validation error messages
- disable submit button when invalid

styles:
- template driven style
- imperative style

[2015-05-29 21:17] matsko commented on #2001
@btford do what you can with Jeff today. I won't be of much help since I haven't done the TS integration stuff yet and I'm not there in person with you today.

[2015-05-29 21:28] #2007 closed

[2015-05-29 21:47] rkirov commented on #1935
Additional item:

- hooking up the observable interface.

[2015-05-29 21:59] kegluneq commented on #502
ChangeDetector implementation: 8a3b0b366fe450fb780c38b907002b43e7ad1019

Next up: actually use pre-generated change detectors when they are available

[2015-05-29 22:20] mhevery commented on #1381
@davideast I believe that you have an idea on how to make that work in ES5. Could you update this bug.

[2015-05-29 22:34] #2140 closed

[2015-05-29 22:35] naomiblack commented on #1011
Updated the contributing doc.

[2015-05-29 22:35] #1011 closed

[2015-05-29 22:57] caitp commented on #2038
We used to have like a cached npm-shrinkwrap.json in node_modules, which would make it really easy to check if anything changed (assuming the cached version matches the one in the tree?). There doesn't seem to be a cached file anymore, does anyone know what happened to that?

[2015-05-29 23:11] mhevery commented on #2136
@caitp can you repro with a syntactic error which will make `tsc` fail?

[2015-05-29 23:14] caitp commented on #2136
https://gist.github.com/caitp/d5266c653a5d374b5c4d << syntax error in TS file, corrected -> tests run

[2015-05-29 23:18] naomiblack commented on #142
Jeff, please carry on thinking about this, and open an issue for anything that needs work/PRs.

[2015-05-29 23:18] #142 closed

[2015-05-29 23:18] #157 closed

[2015-05-29 23:19] mhevery commented on #298
obsolete

[2015-05-29 23:19] #298 closed

[2015-05-29 23:20] #124 closed

[2015-05-29 23:21] mhevery commented on #332
obsolete

[2015-05-29 23:21] #332 closed

[2015-05-29 23:26] naomiblack commented on #444
closing this since it's not really a bug or a feature.

[2015-05-29 23:26] #444 closed

[2015-05-29 23:28] mhevery commented on #603
closing as this is already possible

[2015-05-29 23:28] #603 closed

[2015-05-29 23:29] #1164 closed

[2015-05-29 23:31] mhevery commented on #1159
Duplicate of: https://github.com/angular/angular/issues/2014 which will allow overriding the names.

[2015-05-29 23:31] #1159 closed

[2015-05-29 23:33] #1147 closed

[2015-05-29 23:45] naomiblack commented on #2136
Closing as not reproducible. Please reopen if anyone can repro.

[2015-05-29 23:45] #2136 closed

[2015-05-29 23:46] #2208 closed

[2015-05-29 23:47] mhevery commented on #1145
There is a separate proposal by @mprobst to completely get rid of the basic wrappers and have ts2dart generate the right code on the Dart side.

Closing this as it is not needed.

[2015-05-29 23:47] #1145 closed

[2015-05-29 23:48] mhevery commented on #1085
because of ts`fy closing

[2015-05-29 23:48] #1085 closed

[2015-05-29 23:51] #1044 closed

[2015-05-29 23:53] caitp commented on #2136
It could be os-specific since chokidar has a few different backends it can use depending on platform. I can't seem to reproduce on a Mac, but maybe it's more a Linux or Windows issue

[2015-05-29 23:58] mhevery opened #2231 "ts2dart should rename types/methods for simple facades"
* [ ] rename `Array`, `Map`, `String` and all of their methods
* [ ] throw when object has `.push()` but is of type `any`.

[2015-05-30 00:00] naomiblack commented on #1414
Obsolete.

[2015-05-30 00:00] #1414 closed

[2015-05-30 00:02] naomiblack commented on #692
Not important unless we hear user pain...

[2015-05-30 00:02] #692 closed

[2015-05-30 00:06] naomiblack commented on #2112
On hold while @vsavkin refactors forms. Let's revisit in M10.

[2015-05-30 00:06] naomiblack commented on #2113
On hold until @vsavkin completes his forms work. Revisit in M10.

[2015-05-30 00:07] jelbourn commented on #1040
Closing for now.

[2015-05-30 00:07] #1040 closed

[2015-05-30 00:08] mhevery commented on #699
obsolete

[2015-05-30 00:08] #699 closed

[2015-05-30 00:11] #808 closed

[2015-05-30 00:17] #1480 closed

[2015-05-30 00:20] mhevery commented on #1034
I think we should leave this for the community.

[2015-05-30 00:20] #1034 closed

[2015-05-30 00:23] naomiblack commented on #2207
A PR would be welcome if anyone has time to contribute it...

[2015-05-30 00:25] jelbourn commented on #2127
Fixed via d5236133297eab13ea70b5577d8aa4f7ae1be62c

[2015-05-30 00:25] #2127 closed

[2015-05-30 00:26] naomiblack commented on #1975
this is some cleanup related to typescriptification...

[2015-05-30 00:31] mhevery commented on #1442
resolved https://github.com/angular/angular/pull/1970

[2015-05-30 00:31] #1442 closed

[2015-05-30 00:32] #1417 closed

[2015-05-30 00:35] mhevery commented on #1303
https://github.com/angular/angular/pull/1887

[2015-05-30 00:35] #1303 closed

[2015-05-30 00:37] mhevery commented on #1447
not feasible. :-(

[2015-05-30 00:37] #1447 closed

[2015-05-30 01:31] matanlurey commented on #1935
I guess I'll ask as well: anyway to do both shadow *AND* light DOM? ;)

[2015-05-30 06:50] vicb opened #2239 "Need to be able to run test on SauceLabs"
It would be nice to be able to `gulp test.* --sauce` and even nicer `gulp test.* --sauce --browser=ie9,chrome` when we need to test across browsers, ie #2238

We should also use it for the CI on the current working set of browsers (and capture other browsers as they start to work)

/cc @mlaval

[2015-05-30 07:31] plalx opened #2240 "Form validation message templating"
I've looked at the new proposed forms specification and I believe there would be an alternative way of integrating error messages in custom form templates.

The following is way to heavy in my opinion:

`<div *if="form.hasError('city', 'required')">Required</div>`

It's great to have the flexibility to do the above, but in most cases I believe that something like the following could be appropriate

[2015-05-30 09:36] jomeier opened #2241 "Question: How to use GetElementById for HTML elements used in templates ?"
Hi,

I try to do this in my costum directive:

[code]

fastvideo is used on my main page.

If the constructor of FastVideo is called, this.myCanvas gets always null. It seems to me as if the templates code isn't available to the constructor code.

How can I get the canvas context from a canvas tag inside of an element?

Is the @view template inserted into the DOM before or after the constructor of

[2015-05-30 10:44] jomeier commented on #2241
Ok. I used the jade syntax in my template instead of HTML. Know it works.

And that also gives an answer to my second question: The constructor of a component's class will be called after the template code was injected into the DOM. Great :-)

[2015-05-30 10:44] #2241 closed

[2015-05-30 11:12] SamVerschueren commented on #1655
@vicb Thanks for clearing that out.

I've got the injection working but you can't put the FooService class in the main.ts file. It will throw an error indicating that it can't find FooService.

This however, does not show the list in the view. I can't declare the `directives: [For]` in the `@View()` annotation because it throws the error `Unexpected directive value 'undefined' on the View of compo

[2015-05-30 11:24] jpsfs opened #2242 "Router with Nested Outlets"
Hi!

I'm trying to create nested router outlets to achieve something similar to:
[code]
Live example: http://plnkr.co/edit/qPhMWjw6V8tf2FucyKYb?p=preview

When the page loads I'm getting:

![image](https://cloud.githubusercontent.com/assets/1041209/7897073/67b476e6-06c6-11e5-92bb-59188d075660.png)

Router documentation is still in it's early stages and I've not managed to find any working example

[2015-05-30 11:25] SamVerschueren commented on #1655
I found the issue regarding the directives. The documentation refers to the `For`, `If` and `Switch` directives, but when I dived into the code, I found it these directives actually are `NgFor`, `NgIf` and `NgSwitch`. Not sure why, probably for backward compatibility with angular 1.4?

When keeping that in mind, and using this code as the `main.ts` file

[code]

Everything should work like a charm

[2015-05-30 11:29] manfredsteyer commented on #1303
@mhevery I'm wondering, how #1887 solves this issue. I've looked at the checkin, but I dont see it. Can you provide some information on that?

Does #1887 allow for dynamically creating a ControlGroup with Controls for a field, like ng-model created dynamically a FormController with a ModelController? Or is there an other issue towards this?

[2015-05-30 14:44] azasypkin commented on #1744
Looks like not a bug,```bind``` is just defined in  ```angular2/di```, but even with ```bootstrap(MyApp, [bind(ChangeDetection).toClass(DynamicChangeDetection)]);``` I still see CSP errors

[2015-05-30 14:58] jomeier commented on #1831
@alexeagle
Same here but different error message with Alpha 25:

[code]

I modified my angular2.d.ts with the ones from  @0Decoherence :

[code]

The error message is:                                                                  Angular2.dev.js: 17335

[code]

I compiled my project with Visual Studio 2013 + Typescript 1.5Beta (with --emitDecoratorMetadata)
Angular2.dev.js is included in my mai

[2015-05-30 16:05] ibhi commented on #2242
Hi,
 Same issue with me also. https://github.com/ibhi/angular-2-router-with-child

[2015-05-30 17:07] azasypkin commented on #1744
Okay, was able to fix the rest of CSP errors with quick local patch (using real functions instead) at:

https://github.com/angular/angular/blob/c8947d77bf2125b44f8501788318e7eeb1043de7/modules/angular2/src/reflection/reflection_capabilities.ts#L102-L110

So now I can use Angular2 in FxOS apps :)

[2015-05-30 17:55] mlynch commented on #2162
More info: this seems to only happen when using `<content select>`. Still trying to find a meaningful test case.

[2015-05-30 19:18] rightisleft commented on #1950
Is the Router just not ready for action?

[2015-05-30 21:17] vsavkin opened #2243 "Support multiple :not selectors"
The following `div:not([a]):not([b])` should match `<div c>`, but should not match `<div a>` and `<div b>`. Currently it throws `Nesting :not is not allowed in a selector`.

[2015-05-30 22:34] mhevery commented on #2225
@IgorMinar are you aware of this demo: https://github.com/angular/angular/blob/master/modules/examples/src/forms/index.ts Is this not sufficient?

[2015-05-30 22:37] mhevery commented on #2223
This is a known issue. TS is doing the right thing, but our .d.ts file is wrong.

[2015-05-30 22:52] mhevery commented on #2206
Please file here: https://github.com/angular/angular.js/issues/new this is Angular 2 repo not Angular.js

[2015-05-30 22:52] #2206 closed

[2015-05-30 23:01] mhevery commented on #2187
@kegluneq / @vicb Who is this issue against? https://github.com/vsavkin/guinness? or Angular.

[2015-05-30 23:02] #2179 closed

[2015-05-30 23:12] #2139 closed

[2015-05-30 23:13] mhevery commented on #2135
We are aware of this. Our continues infrastructure is not up yet.

[2015-05-30 23:13] #2135 closed

[2015-05-30 23:18] mhevery commented on #2114
It is not possible to extract annotations from a function :-( in dart. So I don't think we can fix that. @kegluneq  can you comment?

[2015-05-30 23:21] mhevery commented on #2111
I believe we have discussed this in person and it turned out to be a visibilit issue, and we were able to resolve it.

Working as intended.

[2015-05-30 23:21] #2111 closed

[2015-05-31 03:14] mhevery commented on #2148
Sounds like there is no action on our side. Closing.

[2015-05-31 03:14] #2148 closed

[2015-05-31 03:17] mhevery commented on #2110
Our latest thinking is that we can get rid of app Injector and just have Element Injector.

[2015-05-31 03:19] mhevery commented on #2104
No action for us closing.

[2015-05-31 03:19] #2104 closed

[2015-05-31 04:41] mhevery commented on #2213
+1 for custom logic

[2015-05-31 04:50] mhevery commented on #2090
it is impossible to detect class changes synchronously in JS.
This is working as designed.

I realize it is surprising behavior, but it is just not possible to do what you are asking.

[2015-05-31 04:50] #2090 closed

[2015-05-31 04:54] mhevery commented on #2076
This works as intended. Let's chat in person about your use case.

[2015-05-31 04:56] mhevery commented on #2074
We should either queue it up, or throw. @vsavkin do you have an opinion?

[2015-05-31 04:59] mhevery commented on #2060
Sounds like network issue. Can this be closed?

[2015-05-31 05:03] mhevery commented on #2029
Can this be pushed into the facade? That way we can solve this different on different platforms?

[2015-05-31 05:12] mhevery commented on #1969
working as intended

[2015-05-31 05:12] #1969 closed

[2015-05-31 05:13] mhevery commented on #1964
closing. Reopen with small use case

[2015-05-31 05:13] #1964 closed

[2015-05-31 05:14] mhevery commented on #1959
not actionable.

[2015-05-31 05:14] #1959 closed

[2015-05-31 05:57] VirtualOverride opened #2244 "Unexpected directive value 'undefined' on the View of component"
I used the latest alpha version. when i i try to add angular.For in directives i encounter error
Unexpected directive value 'undefined' on the View of component.

I use this https://code.angularjs.org/2.0.0-alpha.25/angular2.sfx.dev.js

[2015-05-31 06:57] gdi2290 commented on #2074
Rx has a [ReplaySubject](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/subjects/replaysubject.md) to replay events after subscribing. Since Observables are lazy this is "working as intended" since you're not subscribed to it at the time you are pushing a value into it. I noticed the same problem when I was working on an angular2 reactive example [models/CounterModel.ts#L39](https

[2015-05-31 10:38] rolandjitsu opened #2246 "iterate maps with ng-for"
I am trying to iterate over  [Map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) values with the built in `ng-for`, but I can see that for some reason it is not working.

In the specs, you can iterate over a Map iterable with:
[code]

And none of the ES5 standard `for (...)`/`for (... in ...)` will work with that.

Does the built in `ng-for` actually support

[2015-05-31 12:49] ludohenin commented on #2242
Same issue here, trying to achive almost the same as @ibhi.
[https://github.com/ludohenin/angular2-demo-app](https://github.com/ludohenin/angular2-demo-app)

[2015-05-31 15:08] C4Grey commented on #2219
I proposed the [solution](https://github.com/angular/angular/issues/1954) of this issue earlier...

[2015-05-31 15:49] mhevery commented on #1953
There are technical reasons why Angular Material will always perform faster and more predictable then Polymer. One can always use Polymer since WebComponents work in Angular.

[2015-05-31 15:49] #1953 closed

[2015-05-31 15:50] mhevery commented on #1952
duplicate

[2015-05-31 15:50] #1952 closed

[2015-05-31 15:54] mhevery commented on #2246
Maps have no orders in keys and hence they iteration is unpredictable. This was supported in ng1, but we think it was a  mistake and will not be supported in NG2

The plan is to have a `mapToIterable` pipe

`<div *ng-for"var item of map | mapToIterable">`

[2015-05-31 15:54] #2246 closed

[2015-05-31 15:55] mhevery commented on #2244
This needs a full repro case. Please use http://plnkr.co/edit/tpl:BrUl7z1vvZBGWBfSGS8D to create it. Once you have it reopen the issue.

[2015-05-31 15:55] #2244 closed

[2015-05-31 15:56] mhevery commented on #1945
still working on it.

[2015-05-31 15:56] #1945 closed

[2015-05-31 15:58] mhevery commented on #1943
Working as intended.

[2015-05-31 15:58] #1943 closed

[2015-05-31 16:00] mhevery commented on #1939
Not an actionable issue, closing. Ping me if you need clarification.

[2015-05-31 16:00] #1939 closed

[2015-05-31 16:32] mhevery commented on #1937
- @NgOneWay()  `<div [property]='exp'>`
   - @NgOneWayOneTime() not supported
   - @NgTwoWay()  `<div [(property)]='exp'>`

[2015-05-31 16:32] #1937 closed

[2015-05-31 16:33] mhevery commented on #1934
This works as intended. You can write your own decorator which will copy the annotations to the sub-class.

[2015-05-31 16:33] #1934 closed

[2015-05-31 16:35] mhevery commented on #1931
My current thinking is that this works as intended. And if you want to do the transclusion you need the `*` it has a lot of implication about variable visibility and tooling.

[2015-05-31 16:37] mhevery commented on #1912
Also I think it is solved here: https://github.com/angular/angular/blob/master/modules/angular2/src/test_lib/test_bed.ts

Reopen if you think it is not solved.

[2015-05-31 16:37] #1912 closed

[2015-05-31 16:47] #1870 closed

[2015-05-31 17:08] rolandjitsu commented on #2246
@mhevery sounds fair enough. Can I already make use of a pipe inside `ng-for` that would transform that map into an array for instance? Or that has not been implemented yet?

[2015-05-31 17:53] matanlurey commented on #2111
Thanks!

[2015-05-31 17:56] matanlurey commented on #2114
I'm pretty sure it is... Here is an example:

https://gist.github.com/matanlurey/b82c4779ea2c8a4dfea2

[code]

[2015-05-31 17:58] matanlurey commented on #2076
This is working as intended. I'm OK with the resolution :)

[2015-05-31 17:58] #2076 closed

[2015-05-31 20:52] samccone commented on #1964
Thanks guys, I will reopen when I am able to reproduce on a smaller example.

[2015-05-31 21:00] gdi2290 commented on #2246
@rolandjitsu this is kinda supported if you do it like this example
[code]
[code]

@mhevery inside of `*ng-for` this doesn't work `var i = index; var mykey=item[0]; var value=item[1]`
[code]
compiler blows up when it sees `[`. This example doesn't work with `JitChangeDetection` with `changeDetection: ON_PUSH` but the default one is fine.

Oddly enough, the original example works in `changeDetectio

[2015-05-31 21:13] VirtualOverride commented on #2244
Hi @mhevery, i create a plnkr,
http://plnkr.co/edit/eJqmvaiDyypPOexr0IgF?p=info

[2015-05-31 21:29] VirtualOverride opened #2248 "Re-open issue Unexpected directive value 'undefined' on the View of component"
Re-open issue Unexpected directive value 'undefined' on the View of component #2244
angular 2.0 with es5 code.

Hi @mhevery, i create a plnkr,
http://plnkr.co/edit/eJqmvaiDyypPOexr0IgF?p=info

[2015-05-31 21:44] gdi2290 commented on #2244
@VirtualOverride the problem was that the docs on angular.io are still outdated. Here's your example working with alpha.25 http://plnkr.co/edit/ks0Sbv?p=preview refactored it a bit and made a helper annotations in Utils. I also added the original one as `_old_` if you prefer that

this closes #2248

[2015-05-31 21:45] gdi2290 commented on #2248
please see https://github.com/angular/angular/issues/2244#issuecomment-107249552 with updated plnkr http://plnkr.co/edit/ks0Sbv?p=preview

[2015-05-31 21:50] VirtualOverride commented on #2244
yay... many thanks i saw it in the plnkr many thanks it helps a lot. you may close this issue.

[2015-05-31 22:00] gdi2290 commented on #2248
@VirtualOverride can manually close it

[2015-05-31 22:25] #2248 closed

[2015-05-31 23:59] mhevery commented on #144
Not relevant

[2015-05-31 23:59] #144 closed

[2015-06-01 00:00] mhevery commented on #146
Not relevant

[2015-06-01 00:00] #146 closed

[2015-06-01 00:00] #159 closed

[2015-06-01 00:01] #224 closed

[2015-06-01 00:01] mhevery commented on #145
Obsolete

[2015-06-01 00:01] #145 closed

[2015-06-01 00:01] mhevery commented on #226
Obsolete

[2015-06-01 00:01] #226 closed

[2015-06-01 00:02] mhevery commented on #308
Obsolete

[2015-06-01 00:02] #308 closed

[2015-06-01 00:07] mhevery commented on #561
Not actionable

[2015-06-01 00:07] #561 closed

[2015-06-01 00:07] mhevery commented on #555
Obsolete

[2015-06-01 00:07] #555 closed

[2015-06-01 00:08] mhevery commented on #552
Obsolete  Reopen if still relavant

[2015-06-01 00:08] #552 closed

[2015-06-01 00:08] mhevery commented on #550
This is done.

[2015-06-01 00:08] #550 closed

[2015-06-01 00:13] mhevery commented on #492
This is private api so it has no impact on external devs. There are plans to love this to ts2dart so it will be no issues. Closing for now.

[2015-06-01 00:13] #492 closed

[2015-06-01 00:15] mhevery commented on #461
Update?

[2015-06-01 00:16] mhevery commented on #450
Obsolete

[2015-06-01 00:16] #450 closed

[2015-06-01 00:29] mhevery commented on #781
Obsolete

[2015-06-01 00:29] #781 closed

[2015-06-01 00:31] mhevery commented on #719
I think this is done. Reopen if not

[2015-06-01 00:31] #719 closed

[2015-06-01 00:32] mhevery commented on #718
Most of it is done.

[2015-06-01 00:32] #718 closed

[2015-06-01 00:34] mhevery commented on #599
Is this actionable?

[2015-06-01 01:22] mhevery commented on #1836
Duplicate, since we are tracking it elsewhere.

[2015-06-01 01:22] #1836 closed

[2015-06-01 01:23] mhevery commented on #1831
This is because we don't have the right `.d.ts` file. Closing since we are tracking it else where.

[2015-06-01 01:23] #1831 closed

[2015-06-01 01:29] mhevery commented on #1828
Query works on DI key, which is opaque and it dos not understand inheritance. I don't think there is an easy way to support this. Can you explain your use case?

[2015-06-01 01:30] mhevery commented on #1826
Dup of #1774

[2015-06-01 01:30] #1826 closed

[2015-06-01 01:36] mhevery commented on #1811
as pawel points out that is not our plan.

[2015-06-01 01:36] #1811 closed

[2015-06-01 01:37] mhevery commented on #1810
This is a too high level, and not actionable goal. We have plans to do something like that, but let's not keep it in the issue tracker.

[2015-06-01 01:37] #1810 closed

[2015-06-01 05:14] vicb commented on #1953
@mhevery is this true even when WebComponents are not available natively ? (thinking about polyfill interactions)

[2015-06-01 05:19] vicb commented on #2187
Probably angular.
As this is related to JSON comparison, could we compare the objects rather than the serialized output ? @kegluneq

[2015-06-01 07:07] vicb commented on #1706
Working on it this morning.

Seems like it causes flakiness https://travis-ci.org/angular/angular/jobs/64869327#L1207

[2015-06-01 07:58] vicb commented on #1706
narrow down the issue: whichever test runs first will timeout (if appSize=4 runs first, it will fail)

[2015-06-01 08:27] rolandjitsu commented on #2246
@gdi2290 I experience the same thing, it renders them but then they're gone.

**P.S.**:I do not fully understand the internals of the change detection (like when the next tick occurs).

[2015-06-01 08:45] khyamay commented on #1655
@SamVerschueren yeah i just tried the way u said and its working fine, but i tried without making FooService in separate file like
[code]
and i get ```Error during instantiation of Token(ComponentRef)!. ORIGINAL ERROR: Cannot resolve all parameters for AppComponent. Make sure they all have valid type or annotations.``` error. Any reason for that??

[2015-06-01 09:01] SamVerschueren commented on #1655
That indeed will not work. The reason for this is because the way the `tsc` transpiler transpiles the `.ts` source to `.js` source code.

This is the output for your piece of code

[code]

As you see, the `FooService` variable is declared after `AppComponent` and thus is unknown when it is injected in the constructor.

If you change the output to the following

[code]

It will work because now `Fo

[2015-06-01 09:02] vicb commented on #1460
Unable to reproduce, I get the "descriptive" error message
[code]

I'll open a PR to add the url though.

[2015-06-01 09:02] #1460 closed

[2015-06-01 09:11] khyamay commented on #1655
awesome thanks for the clarifying it.. :)

[2015-06-01 09:13] vicb commented on #1655
- we have introduced `forwardRef` to reference classes which are not yet declared at the time they are referenced, grep the source code / tests to know more,
- see https://github.com/angular/angular/issues/1598 about the why of the `ng-` prefix

[2015-06-01 09:27] khyamay commented on #1655
@vicb thanks :+1:

[2015-06-01 12:45] SamVerschueren commented on #1655
I guess I can close this issue now everything is resolved.

[2015-06-01 12:45] #1655 closed

[2015-06-01 13:32] mlaval commented on #1415
I used to have issues too when running `gulp check-format`.
But they have been solved since the release 1.0.15 of clang-format, where the Windows binary was aligned with the other ones.
A fresh `npm install` should solve the issue.

On a side note, I had to install the **Visual C++ Redistributable Packages for Visual Studio 2013** on my machine, the 32 bits version (vcredist_x86.exe). Otherwise, M

[2015-06-01 14:25] kegluneq commented on #2187
Right, there are some tests in test/transform that are too strict about whitespace comparison. I wouldn't prioritize these too highly -- this should only affect the small number of people who are modifying transformer tests.

[2015-06-01 14:29] ximenean opened #2251 "Binding functions through nested directives with isolated scope failing in 1.4"
The 1.4 update seems to have introduced an issue when binding functions in nested directives. I have an example plunker: http://plnkr.co/edit/fQLY0N8BTNs38VC8ikll

Example code:

    var app = angular.module('myApp', []);

    app.controller('myCtrl', function(){
       this.searchFunction = function(term) {
        console.log('you searched for ' + term);
      }
     });

     app.directive('out

[2015-06-01 14:31] vicb commented on #2251
see https://github.com/angular/angular for ng1, this repo is for angular 2

[2015-06-01 14:31] #2251 closed

[2015-06-01 15:24] vicb opened #2252 "./scripts/ci/build_and_test.sh js freezes after unit tests"
Env: Ubuntu / master of of june 1 (22f59252029a983b8ff73f106091c2a907f8e652)

The scripts freezes after the unit tests

[code]

I have to Ctrl+C to get the e2e test running

[code]

[2015-06-01 15:27] vicb opened #2253 "Key events: e2e test failing on my (AZERTY) computer"
`./scripts/ci/build_and_test.sh js` generates the following error

[code]

[2015-06-01 15:36] vicb commented on #2253
@divdavem can you take a look ?

[2015-06-01 15:43] kegluneq commented on #2114
It is possible in the language, but within Angular 2 all reflection runs through [reflector](https://github.com/angular/angular/blob/master/modules/angular2/src/reflection/reflector.ts) to facilitate mirror removal. Accessing annotations without mirrors requires that we register that information via `registerType`, which, true to its naming, is presently set up to deal with `Type`s only.

Making t

[2015-06-01 15:45] divdavem commented on #2253
@vicb Is it the first time you are running this test on your AZERTY computer, or did it work before?
Do you see the same issue when trying to execute the test manually (without protractor) by typing "a" on your keyboard in the sample page?

[2015-06-01 15:48] vicb commented on #2253
It has been a long since I last run the e2e tests (I usually only execute the one which is broken) so I can not really tell about about that first part of the question.

If I `gulp serve.js.prod`& `http://localhost:8001/examples/src/key_events/` everything is fine, it might relates to protractor then /cc @juliemr

[2015-06-01 15:50] #1787 closed

[2015-06-01 15:53] naomiblack commented on #1794
This is in the plan for 1.0 and overall support, but unfortunately it will be some time before we get around to docs infra while we focus on the developer preview and core features of the API. In the meantime, you can file issues and submit docs PRs at github.com/angular/angular.io

[2015-06-01 15:53] #1794 closed

[2015-06-01 15:56] mprobst commented on #1415
Oh god, I unknowingly maneuvered us into DLL hell. I'll try and see if I can produce a statically linked build next time.

[2015-06-01 16:02] naomiblack commented on #1793
We don't have a separate Angular 2 forum, in part because we're not yet prepared to support a large volume of user questions. I've enabled tags on the group -- it's now possible to tag a post as "angular1" or "angular2". You can also enclose a search query in quotes to force a search for only "angular 2" not "angular" alone: https://groups.google.com/forum/#!searchin/angular/%22angular$202%22

[2015-06-01 16:02] #1793 closed

[2015-06-01 16:12] plumpNation commented on #1655
Thanks to all who contributed to clearing this up.

[2015-06-01 16:21] vsavkin opened #2254 "Angular should not update element properties when there is a directive with same property binding"
`<custom-element [some-prop]="value">`

* If there is no directive with `[some-prop]` on this element, then we should invoke `element.someProp=value`.
* If there is a directive with `[some-prop]` on this element, then we should NOT invoke `element.someProp=value`.

[2015-06-01 16:34] jelbourn commented on #1931
@mhevery for the use case I have in mind I don't quite see how this affects tooling. Did you have an example in mind?

We should figure out if there's another way to achieve the same component feature and API without making this change.

[2015-06-01 16:36] jelbourn commented on #1415
I haven't tried this in a long time; it probably works now as Marc said. Closing for now, will file a new issue if I run into something in the future.

[2015-06-01 16:36] #1415 closed

[2015-06-01 16:40] jelbourn commented on #1828
I filed this as the behest of @rkirov, who also thought this should work.

I had wanted to have `MdInputContainer` inject a `@Query` for `MdInput`, where there is a `class MdInput` and a `class MdTextarea extends MdInput`.

I'm doing this now using `@Parent`, so this isn't something I actually need, but I could see how it would be useful.

[2015-06-01 17:02] jomeier commented on #1793
Maybe a FAQ would be a good idea for answering the most basic user questions?

[2015-06-01 17:17] IgorMinar commented on #2036
done via #1764

[2015-06-01 17:17] #2036 closed

[2015-06-01 17:18] tbosch commented on #1931
@jelbourn your use case is pretty close to content reprojection, although not quite as you need to project into another component.

@jelbourn  @mhevery
How about this proposal: Every component can ask for the ProtoView that represents its light dom? With this, it gets a lot easier to implement your own content reprojection.

[2015-06-01 17:22] IgorMinar commented on #2252
wouldn't this be affecting CI as well?

[2015-06-01 17:23] tbosch commented on #1931
Because of native content reprojection, users are already used to the thought that things that they put into the light dom of a component can show up somewhere else. So this would not be surprising or a new concept to the user...

Also, if we assume this, we could have a new directive `ng-content` which would just get the `ProtoView` from the parent component and stamp it out. I.e. we would have a

[2015-06-01 17:30] caitp commented on #2252
as discussed in the angular2-core channel, the e2e tests seem to be affected by a number of parameters that don't necessarily affect the CI server or all developers

[2015-06-01 18:09] vsavkin commented on #461
The behavior was ported long time ago: https://github.com/angular/angular/blob/master/modules/angular2/src/change_detection/dynamic_change_detector.ts#L165

[2015-06-01 18:15] vsavkin commented on #2074
This is by design.

If you create an custom element and fire an event there, nobody will catch this event. This is because you could not call addEventListener until the custom element is constructed. It won't throw an exception either.

You can create a different implementation of EventEmitter (e.g., ReplaySubject) that will deliver the event. You can also use the onInit hook.

[2015-06-01 18:18] matanlurey commented on #2114
That's fine. I think I'd like to keep this filed for future sugar, but I understand that it may not happen in the near future. Maybe I'll help chip in when we get closer to launch :)

[2015-06-01 18:53] jeffbcross commented on #2009
Router src & tests are passing in JS locally...

[2015-06-01 18:54] mhevery commented on #1931
We discussed this with @vsavkin and @tbosch and we decided that this is a real use case which needs a design doc to explore this more.

[2015-06-01 19:00] redconfetti opened #2259 "ngAria module applies aria-disabled attribute to element when non-explicit false value is present"
I was recently coding a button to be disabled when a function indicating that the forms requirements have NOT been met ($scope.notReadyForProcessing) returns true, or when a scope variable indicating that the request is being processed ($scope.requestProcessing) is true.

I did not declare this requestProcessing variable as true in my controller, so it was left as an undefined in the controllers $

[2015-06-01 19:05] gdi2290 commented on #2259
@redconfetti yo, you're looking for the angular 1.x repo here https://github.com/angular/angular.js

[2015-06-01 19:08] redconfetti commented on #2259
@gdi2290 aah, sorry about that. Thanks

[2015-06-01 19:08] #2259 closed

[2015-06-01 19:56] mhevery commented on #2254
Already captured here: https://github.com/angular/angular/issues/2014

[2015-06-01 19:56] #2254 closed

[2015-06-01 19:58] mhevery commented on #1965
I am going to close this, since I want to keep the number of bugs small so that we don't end up in Issue bankruptcy.

[2015-06-01 19:59] #1965 closed

[2015-06-01 19:59] #1914 closed

[2015-06-01 20:04] kegluneq opened #2260 "hello_world not working in Dart"
I'm getting this error on master when trying to run hello_world:

[code]

Looks like it was introduced in a9d6fd9afa04723aa29d69306413813040272530 - could you PTAL?

[2015-06-01 20:05] mhevery commented on #1801
I don't think we should support this for now. It makes the types in docs weird. Closing for now.

[2015-06-01 20:05] #1801 closed

[2015-06-01 20:06] mhevery commented on #1800
This is planned as a short hand for putting everything in `@Component`

[2015-06-01 20:11] kegluneq commented on #2260
My fault -- I needed to install the new `ts2dart`.

Please ignore :blush:

[2015-06-01 20:12] #2260 closed

[2015-06-01 20:22] matanlurey opened #2261 "Router should use strongly typed (and error-checked) classes, not maps"
Before

[code]

After

[code]

e.g.

[code]

Additionally, this could use errors/assertions to catch invalid configuration, e.g. having component AND redirectTo should throw

[2015-06-01 20:24] juliemr commented on #2239
Note that this won't work for dart tests since Dartium isn't available on Sauce Labs.

[2015-06-01 20:28] tbosch opened #2262 "Missing error message when throwing `BaseException` in js"
Doing a `throw new BaseException('Nesting :not is not allowed in a selector');` yields to
[code]
in karma

[2015-06-01 20:39] juliemr commented on #2060
Yes, let's close this and bother Protractor with https://github.com/angular/protractor/issues/1857

[2015-06-01 20:39] #2060 closed

[2015-06-01 20:42] jelbourn commented on #2005
Done via 0f3a8f369af447e52c686fe09435c8ca14e8e19c and c8947d77bf2125b44f8501788318e7eeb1043de7

[2015-06-01 20:42] #2005 closed

[2015-06-01 20:43] naomiblack commented on #2009
@juliemr will move the .es6 to .ts and verify that this all still works, so we can remove dependency on traceur

[2015-06-01 20:43] jeffbcross commented on #2008
@ttowncompiled is working on the e2e test typscriptification

[2015-06-01 21:04] kegluneq commented on #2220
Another option is that we search the type graph at runtime to determine what a `Type` `extends` & `implements`. Something like:

[code]

We could cache answers for the future so we don't have to pay for this multiple times, but I wouldn't think it'd be too expensive.

[2015-06-01 21:28] jeffbcross commented on #2009
Actually, @ttowncompiled is working on the e2e_tests inside benchmarks, @juliemr is off the hook.

[2015-06-01 21:28] mhevery commented on #1746
This has already happened

[2015-06-01 21:28] #1746 closed

[2015-06-01 21:29] naomiblack commented on #626
Obsolete. (done)

[2015-06-01 21:29] #626 closed

[2015-06-01 21:31] mhevery commented on #1744
Already documented: https://angular.io/docs/js/latest/api/change_detection/ChangeDetection-class.html

[2015-06-01 21:31] #1744 closed

[2015-06-01 21:32] juliemr commented on #2253
Chromedriver issue: https://code.google.com/p/chromedriver/issues/detail?id=553

[2015-06-01 21:33] naomiblack commented on #1002
Closing because #1239 covers this use case. Please add to discussion there if you find any more to add.

[2015-06-01 21:33] #1002 closed

[2015-06-01 21:41] mhevery commented on #1734
I don't think we are going to do this. We will be doing relative paths. Closing.

[2015-06-01 21:41] #1734 closed

[2015-06-01 21:44] mhevery commented on #1699
Closing as such issues will never get done since there will always be an update to a new version.

[2015-06-01 21:44] #1699 closed

[2015-06-01 21:44] mhevery commented on #1776
dup: https://github.com/angular/angular/issues/143

[2015-06-01 21:44] #1776 closed

[2015-06-01 21:45] #1716 closed

[2015-06-01 21:48] mhevery commented on #1696
this is already planned.

[2015-06-01 21:48] #1696 closed

[2015-06-01 21:50] mhevery commented on #1685
there is a lot more than just `$event`, `$self`, `$element`, `$target`, etc..

Good intention, but I don't think it will work.

[2015-06-01 21:50] #1685 closed

[2015-06-01 22:00] naomiblack commented on #1006
@alexeagle can you check whether this is still an issue, post-ts-ification?

[2015-06-01 22:00] mhevery opened #2268 "Have a single Component.host property which mimics HTML"
# Goal

Simplify binding to the host element and get rid of `hostListeners`, `hostProperties`, 'hostActions` properties

[code]

[2015-06-01 22:01] mhevery commented on #1666
obsolete by: https://github.com/angular/angular/issues/2268

[2015-06-01 22:01] #1666 closed

[2015-06-01 22:03] #1652 closed

[2015-06-01 22:04] naomiblack commented on #1653
Yes, we are planning to do this on angular.io, later in the year.

[2015-06-01 22:04] #1653 closed

[2015-06-01 22:04] mhevery commented on #1646
obsolete

[2015-06-01 22:04] #1646 closed

[2015-06-01 22:06] mhevery commented on #1632
not actionable

[2015-06-01 22:06] #1632 closed

[2015-06-01 22:07] naomiblack commented on #1036
Obsolete. (Finished as part of Testbed API)

[2015-06-01 22:07] #1036 closed

[2015-06-01 22:09] kevmoo commented on #599
@mhevery Yes, although it's a matter of how much we want to manage it. It'll require a bit of diligence throughout ts files.

We may want to wait until we have a linter to help out here...

[2015-06-01 22:12] mhevery commented on #2262
Dup of https://github.com/angular/angular/pull/1972

[2015-06-01 22:12] #2262 closed

[2015-06-01 22:12] naomiblack commented on #1067
Closing this issue for now -- agree that this is something that would be useful, but not a priority for the 2.0 release. This is something that could also be developed independently as a community-built module.

[2015-06-01 22:12] #1067 closed

[2015-06-01 22:19] naomiblack commented on #1138
dup of #2014

[2015-06-01 22:27] mhevery commented on #1569
This has to do with `foo.if` not being valid in Dart. We have renamed to `ng-if` no longer an issue.

[2015-06-01 22:27] #1569 closed

[2015-06-01 22:28] gdi2290 commented on #2268
what's wrong with introducing another decorator annotation?

[code]
Since the simple case wouldn't need `@Host` you wouldn't see it in all the examples but it also wouldn't be a surprise since we have the same composition effect with a `@Component` with a `@View` and without. I guess if you encouraging people to inherit angular annotations then it does make sense to overload `@Component/@Directive

[2015-06-01 22:28] mhevery commented on #1561
done

[2015-06-01 22:28] #1561 closed

[2015-06-01 22:29] #1552 closed

[2015-06-01 22:30] #1551 closed

[2015-06-01 22:30] #1533 closed

[2015-06-01 22:31] naomiblack commented on #1176
Unfortunately, not a priority for 2.0 (sorry!)

[2015-06-01 22:31] #1176 closed

[2015-06-01 22:31] mhevery commented on #1516
Will be solved by: https://github.com/angular/angular/issues/2014

[2015-06-01 22:31] #1516 closed

[2015-06-01 22:32] mhevery commented on #1491
Will be solved by: https://github.com/angular/angular/issues/2014

[2015-06-01 22:32] #1491 closed

[2015-06-01 22:34] mhevery commented on #1483
solved by `[(username)]` syntax

[2015-06-01 22:34] #1483 closed

[2015-06-01 22:35] #1433 closed

[2015-06-01 22:35] mhevery commented on #1403
We are leaving this to the community for now.

[2015-06-01 22:35] #1403 closed

[2015-06-01 22:36] naomiblack commented on #1192
@kegluneq assigning to you -- Kevin says this needs some scripting -- please reassign to @jakemac53 if you're overloaded :)

[2015-06-01 22:38] #1207 closed

[2015-06-01 22:41] naomiblack commented on #1301
Yes, this is one of the things we will be covering in the angular.io dev guides. Would appreciate your input on the chapters as we complete them, see https://github.com/angular/angular.io

[2015-06-01 22:41] #1301 closed

[2015-06-01 22:42] #2042 closed

[2015-06-01 22:53] jrote1 commented on #1552
What's the reason for not doing this?

[2015-06-01 23:01] gdi2290 commented on #2239
this is a dup of https://github.com/angular/angular/issues/2239

[2015-06-01 23:02] #2243 closed

[2015-06-01 23:04] #1535 closed

[2015-06-01 23:05] mhevery commented on #1471
obsolete

[2015-06-01 23:05] #1471 closed

[2015-06-01 23:06] mhevery commented on #1482
obsolete

[2015-06-01 23:06] #1482 closed

[2015-06-01 23:09] gdi2290 commented on #384
there is an issue for this here https://github.com/angular/angular/issues/521

[2015-06-01 23:09] gdi2290 commented on #521
this would be great for isomorphic since you can create a <form> macro that will decorate/transform it to provide the correct legacy `action` attributes etc while keeping it transparent to the user. the other benefit is that you wouldn't need to include the isomorphic macros on the client since they're only needed for the server. The same goes for SEO macros where you would include the correct ite

[2015-06-01 23:09] mhevery commented on #1451
Closing, as this discussion came to an end. We will have a separate effort to streamline verbosity.

[2015-06-01 23:09] #1451 closed

[2015-06-01 23:12] mhevery commented on #1786
absolete

[2015-06-01 23:12] #1786 closed

[2015-06-01 23:14] mhevery commented on #1378
Dup of https://github.com/angular/angular/issues/2014

[2015-06-01 23:14] #1378 closed

[2015-06-01 23:15] alexeagle commented on #1006
Closing as dupe of #2163
Which should be fixed as of next release (alpha-26)

[2015-06-01 23:15] #1006 closed

[2015-06-01 23:15] #1254 closed

[2015-06-01 23:18] mhevery commented on #1462
https://github.com/angular/angular/issues/1935

[2015-06-01 23:18] gdi2290 commented on #1482
@cgarciae the problem was that you were only updating the (js) model and not the element directly (input). this is fixed with `<input type="text" [(ng-model])="name>` (in next release) since it correctly wires data-binding.
If you don't mind javascript I have a small example showing how I updated both parts on form submission
[angular-class/angular2-webpack-starter/src/app/components/todo.ts#L68](

[2015-06-01 23:20] mhevery commented on #1747
Obsolete. Already supported.

[2015-06-01 23:35] kegluneq commented on #1192
I'm going to take a quick stab and see if I can get this done in an hour rather than a day, but if that doesn't work this is behind a few other items priority-wise. I will reassign if I can't get to this before I leave.

For context, this is something we might add alongside `_AnalyzerOutputLine` in [dartanalyzer.js](https://github.com/angular/angular/blob/master/tools/build/dartanalyzer.js#L115).

[2015-06-01 23:44] #1481 closed

[2015-06-01 23:54] vsavkin opened #2269 "FakeAsync should run flushMicrotasks after executing a test"
[code]

I have to call flushMicrotasks to actually execute the then block. I think fakeAsync should run flushMicrotasks or tick after executing the body.

[2015-06-02 00:08] vsavkin commented on #1401
I think linters and IDEs should provide such a feedback, not the framework. You want to get this information statically while editing the code, not after a page refresh.

It is possible though. We just need to change the compiler pipeline to collect errors and throw a composite error message at the end of the proto view construction.

@mhevery, @tbosch what do you think?

[2015-06-02 00:14] jeffbcross opened #2270 "Merge facade/browser and dom/dom_adapter"
Chatting with @tbosch, I don't think there's a need for them to be separate, and it's a source of confusion when determining where a type should be declared

[2015-06-02 00:22] kegluneq commented on #1747
Not yet supported when running statically in the transformer.

[2015-06-02 00:52] vsavkin opened #2272 "The events property should allow renaming similar to properties"
The following should work:

[code]

[2015-06-02 02:05] un33k commented on #1403
Fair enough.

[2015-06-02 03:39] mhevery opened #2275 "Angular2 Does not work on safari on OSX / iOS"
http://mhevery.github.io/github_issues/ does not load

[code]

[2015-06-02 04:11] caitp commented on #2275
Looks like the same issue as #2163 to me

![screen shot 2015-06-02 at 12 11 18 am](https://cloud.githubusercontent.com/assets/2294695/7928315/f17fa30e-08bb-11e5-9668-5b305b1eb7b6.png)

[2015-06-02 06:10] ibhi opened #2277 "Changes to properties expression does not trigger OnChange/set method on property change"
I have a Directive called `validation` with a property also named `validation`.  I am assigning the property `validation` an expression(`[validation]="input.value"`) which evaluates to the value of the input I am typing.
I also attached a set method and an onChange lifecycle method to the `validation` property in the Directives controller class. So my expectation is that as I type in the input box

[2015-06-02 06:31] vicb commented on #2239
@gdi2290 recursive comment ?

[2015-06-02 06:51] gdi2290 commented on #2239
@vicb oops I meant to make that comment here https://github.com/angular/angular/issues/35

[2015-06-02 07:59] vicb commented on #2239
Not a exactly a dup, the primary intent of this one is to be able to test locally which is helpful during dev. 35 is more about adding all supported browsers to the CI.

[2015-06-02 08:02] vicb commented on #2253
@juliemr: thanks for the link, I'll update the test to avoid this & add a link to the issue.

[2015-06-02 08:10] rolandjitsu opened #2278 "json pipe does not update on object change"
Maybe it is by design, but when I use the `json` pipe on an object inside a `ng-for`, whenever I change the object from a directive, these changes are not reflected.

I have a [repo](https://github.com/rolandjitsu/ng2-play) where I actually use this and you can see it [here](https://github.com/rolandjitsu/ng2-play/blob/db65c8a7001083aba0dc0555a9374f9b5f614a14/src/components/tasks/tasks.html#L14).

[2015-06-02 08:22] choeller commented on #2277
To be a bit more specific, I would say, that as far as I understand change detection is not working for local variables referring to a DOM Element:

[code]
...
[code]

So in the example we try to bind ìnput.value`to `[validation]`which obviously is not covered by change-detection. Adding the `(keyup)`event as a trigger somehow feels like a hack. So the question is, why do we need to trigger change

[2015-06-02 08:46] rolandjitsu opened #2279 "using `set` on component class to detect property changes throws exception"
If I want to detect when a property binding changes using `set` as illustrated in the docs on a [Component](https://angular.io/docs/js/latest/api/annotations/Component-class.html) that has a template which uses that binding, it throws an exception:

[code]
[code]

![screenshot 2015-06-02 10 45 39](https://cloud.githubusercontent.com/assets/1479737/7931887/8d6553ce-0914-11e5-9670-d13e98930b1c.png)

[2015-06-02 08:53] vicb commented on #2278
/cc @gdi2290

[2015-06-02 08:55] vicb commented on #2279
As indicated by the error message, you need to add  a getter too (used by change detection)

[2015-06-02 08:55] #2279 closed

[2015-06-02 08:55] choeller commented on #2279
You need to define a getter for `chore`. With your code `{{chore.desc}}` cannot be resolved.

[2015-06-02 08:58] rolandjitsu commented on #2279
@vicb great, thanks :) Maybe that should be specified in the docs since I, for instance, expected that specifying the property would be enough.

[2015-06-02 08:58] #2097 closed

[2015-06-02 09:05] vicb commented on #2269
I had to take a decision during the design:

On the plus side, it could help reduce boilerplate.

On the minus side, it is kind of non consistent (you would not have to call it the first time but then you would need to call it).

- angular1.dart does implicitly call it
- fake_async/quiver does not

I personnaly don't have a strong feeling on either of the solution

[2015-06-02 09:50] svrcekmichal commented on #1447
@mhevery maybe just mention that in docs somewhere? I have created value `newTodo` and it cost me bit of time to spot that `newtodo` in browser

[2015-06-02 10:20] vicb opened #2280 "Promise Wrapper return type"
/ref #2250

The following code (template_loader.ts):

[code]

generates [the following error](https://travis-ci.org/angular/angular/jobs/65057439#L284)

[code]

Note:
- I can not force the return type due to https://github.com/angular/ts2dart/issues/179
- It is not possible to widen the type on `PromiseWrapper.then()` which is a Promise.

@mprobst any idea on how to solve this ?

[2015-06-02 10:34] vicb commented on #2280
ref https://github.com/Microsoft/TypeScript/issues/1613

[2015-06-02 10:51] vicb commented on #2280
closing this since Travis is happy with the workaround of the TS issue: return a rejected Promise instead of throwing.

[2015-06-02 10:51] #2280 closed

[2015-06-02 11:30] SekibOmazic opened #2281 "Build reports bunch of error messages"
Tried fresh new build with Dart v1.10.1, Node v0.12.4 and deleted `node_modules`. After `npm install` and `gulp build` I get following stack trace (WARNING: really long stack trace):

[code]
The `dist/js` gets updated though.

[2015-06-02 11:38] vicb commented on #2281
you meant npm 10.1.1 ?
What exact commit (on master) are you on ?

[2015-06-02 11:42] SekibOmazic commented on #2281
npm v 2.10.1, master commit: c60091b949d54a79c8bde21af5078223fc1668ae

[2015-06-02 12:22] vicb commented on #2278
The problem might be that `test` is checked by ref and if the ref does not change, `json` is no re-evaluated as transformers are pure fonctions.
/cc @vsavkin

[2015-06-02 12:23] vicb commented on #2014
@naomiblack Have you unassigned me by error or is someone else working on this ?

[2015-06-02 12:26] vicb commented on #2175
@matanlurey could you please confirm that the problem occurs when the transformers are enabled ?
_in such a case, I would re-assign this to @kegluneq_

[2015-06-02 12:28] rolandjitsu commented on #2278
@vicb `test` is actually an array of objects (I said `object` in the first post - my bad). Detection works when I change the length of the array, but it does not work when I change any of the object values inside the array.

In Angular 1.x there is a `$watchCollection` for instance which solves that issue when you need to watch for changes inside the array, because a simple `$watch` did not work (

[2015-06-02 12:33] vicb commented on #2277
Works as expected (you need to trigger an event), see https://angular.io/docs/js/latest/guide/user-input.html

Also note that you might want to use the form API

[2015-06-02 12:33] #2277 closed

[2015-06-02 12:50] vicb commented on #2220
What exactly would be the issue with pushing the work to the transformers ? could we make that configurable via a cli option (ie runtime checks during dev, static for prod) ?

[2015-06-02 13:24] choeller commented on #2277
Hi Victor,

we saw that in the documentation, and we realised, that we currently need it, but I think the source above is a different case, as we really bind a property to the the local variable.

So basically the question is: What is the difference between

[code]
and
[code]

Furthermore I can currently trigger any event and magically my changes are recognized. So this code also works perfectly f

[2015-06-02 13:41] vicb commented on #2277
Not much difference.

Both `somExpression` and `input.value` are evaluated during the Change Detection. The change detection runs after any async "event" (a future that completes, a DOM events, ...).

Changing the value of an input field does not trigger the change detection. If you listen to the `keyup` event, the CD will run after any of those are triggered.

I understand that this does not feel

[2015-06-02 13:43] #2253 closed

[2015-06-02 14:27] jardilio opened #2284 "$resource doesn't correctly resolve dot notation in URI parameters"
If a URI parameter contains dot notation to express a path to retrieve the value on the given object, then the $resource will correctly collect the key/value pairs via "lookupDottedPath" during "extractParameters", however it doesn't get applied correctly during "Route.setUrlParams". The issue is that spliting the url value on /\W/ results in breaking up the dot notation parameter into 2 separate

[2015-06-02 14:56] choeller commented on #2277
Hi Victor,

thanks for your explanations! That all makes sense, somehow ;) I guess not triggering Change Detection on input value changes has performance reasons, right?

In our case form API would of course be an option, but in other cases like just passing the input.value to another component, like this:

[code]

it would still be nice, if things were simpler, but I guess, there will be helpers

[2015-06-02 15:49] naomiblack opened #2287 "clang-format should not break link tags in comments"
The line wrap reformat introduced by clang-format has made the doc comments break oddly. This is mostly an aesthetic annoyance when browsing the code, but in some cases, where the formatter breaks a link tag such as `{@link annotations/onChange}` across lines, our dgeni doc formatter can't resolve the link.

Can we make clang-format smarter about how it breaks lines? Or, make dgeni more tolerant o

[2015-06-02 15:49] naomiblack commented on #2287
@petebacondarwin @IgorMinar would be interested in what the best way to solve this is.

[2015-06-02 16:14] ewinslow commented on #1685
:( too bad. I guess this means whatever parser we come up with will just have to special case those vars? As long as only the framework can introduce them I guess we're OK.

[2015-06-02 16:14] naomiblack commented on #2072
@jakemac53 @kevmoo @kegluneq -- is this something you could help with? (if so please self-assign and add to M10)

[2015-06-02 16:29] ewinslow commented on #1800
Woo hoo!

[2015-06-02 17:05] vsavkin commented on #2278
You should be able to do the following: `{{ col | iterableDiff | json }}`. iterableDiff transforms a reference check into a collection check.

[2015-06-02 17:05] vsavkin commented on #2278
We could also change json not to cache the value.

[2015-06-02 17:11] vsavkin commented on #2269
This is why I think it is a good idea:

* Most async tests will require such a call. The change will reduce boilerplate.
* It should not negatively affect the tests that do not require such a call. The only case I can imagine where you will be able to observe a difference is a test that schedules a microtask, which throws and breaks the test. I think throwing in this case is actually better.

[2015-06-02 17:22] vicb commented on #2269
@vsavkin the change should be quick, let me know what to do.

@matanlurey @yjbanov might have inputs as well.

[2015-06-02 17:31] ibhi commented on #2277
Ranks @vicb for clarification and also thanks to my friend @choeller .

[2015-06-02 17:47] jelbourn commented on #2284
This repository is for Angular 2; you are looking for https://github.com/angular/angular.js

[2015-06-02 17:47] #2284 closed

[2015-06-02 17:50] rolandjitsu commented on #2278
@vsavkin maybe json should not cache the values, but that would have an impact on performance I suppose.

[2015-06-02 17:53] rolandjitsu commented on #2278
@vsavkin using `iterableDiff` throws: `Cannot find 'iterableDiff' pipe supporting object '[object Object]' in [{{ test | iterableDiff | json }} in null]`.

[2015-06-02 18:05] matanlurey commented on #2269
The way I have it working now is in every test, doing the following:

`scheduleMicrotask(fakeAsync.flushMicrotasks)`

A little crude, I know.

[2015-06-02 18:06] #2001 closed

[2015-06-02 18:06] matanlurey commented on #2175
It's only happening in gen mode, yes.

[2015-06-02 18:08] matanlurey commented on #1138
Naomi, I don't see anything in #2014 that validates tag names.

[2015-06-02 18:08] caitp commented on #2093
#2101 landed, so try to reproduce the issue on https://github.com/angular/angular/commit/be88cc7697878c907774848d23214866564b9c46 --- it may be that the issue was really just a symptom of the confusing logging. But that may not have been the case.

[2015-06-02 18:09] jelbourn opened #2291 "Inheriting from a Directive overwrites annotations on child class"
Say I have a directive `MdCheckbox`

[code]

and then create a child class for `MdSwitch`, as the functionality is identical:
[code]

If we then have a demo app:
[code]

The `<md-switch>` element is totally inert / empty. However, if we change it to `<md-checkbox>` (which is _not_ included in `directives`), an `md-checkbox` is rendered out. It seems that the annotations on `MdCheckbox` are overwri

[2015-06-02 18:10] vicb commented on #2269
:open_mouth:

can you share some code with me ?

[2015-06-02 18:14] jeffbcross commented on #2009
All unit tests have been ported to typescript

[2015-06-02 18:14] #2009 closed

[2015-06-02 18:21] matanlurey opened #2292 "Proposal: Behaviors"
Story
===

Consider the following scenario:

I want to listen to a custom event that I've defined and want to re-use across my entire application, but one that does *not* exist natively in the DOM, or one I want to massage, throttle, etc. For example, `hover`.

[code]

Then, I want to use the `Hover` behavior in my `Link` component:

[code]

This works, but only if I remember to put `hover` on all

[2015-06-02 18:24] matanlurey commented on #2269
This is my current implementation (will be switching soon to use Angular's own test bed):

[code]

[2015-06-02 18:40] jelbourn commented on #2292
The existing `EventManagerPlugin` sounds like it's pretty close to what you're looking for. Check out The Hammer.js plugin in the source for an example.

[2015-06-02 19:08] #1192 closed

[2015-06-02 19:08] petebacondarwin commented on #2287
I think we might be able to make dgeni more tolerant but the output from clang is particularly ugly in this regard and I think it should be fixed too

[2015-06-02 19:13] kegluneq commented on #2175
Making sure I understand the fix:

The transformer needs to update urls in html templates to be relative to the application root rather than the html file itself.

Is that correct?

[2015-06-02 20:22] gdi2290 commented on #2278
darn :/ cache was a perf feature. Yeah I can update it. If we want to cache the ref we should just add a `CachePipe` or `LRUPipe`

`{{ test | cache | json }}`
`{{ test | lru(5) | json }}`

[2015-06-02 20:26] matanlurey commented on #1251
Maybe I missed this above, but how do I fire an action (e.g. focus) on an element several levels deep (e.g. nested within a component within a component), or what would be the recommended pattern to get through this?

[2015-06-02 21:11] SekibOmazic opened #2296 "Custom events do not bubble up"
Couldn't get custom event (ping) bubble up to the root component. DOM event (click) works just fine:
http://plnkr.co/edit/g6RNv5qMreVFKYcwvtOs?p=preview

Using alpha.25

[2015-06-02 21:13] kwalrath commented on #1817
I'm converting the docs to use the transformer and (thanks to this bug) not use `part of`, fwiw.

[2015-06-02 21:19] gdi2290 commented on #2296
`^` isn't working for the custom event `<grand-child (^ping)="onPing($event)" ></grand-child>`

[2015-06-02 21:21] SekibOmazic commented on #2296
@gdi2290 By design? If so, should I close the issue? And is there a workaround?

[2015-06-02 21:23] kegluneq commented on #2204
Additional context: https://github.com/angular/angular/issues/2220

[2015-06-02 21:25] gdi2290 commented on #2296
@SekibOmazic oh no sorry, this seems like a bug since it should be working

[2015-06-02 21:26] vicb commented on #2296
Dup of #1254 ?

[2015-06-02 21:33] kegluneq commented on #2220
There is no technical reason we can't do it, but it will make the transformation very, very slow.

Those queries require non-local information. Let's say we want to determine whether `A implements C`. If `A extends B` and `B implements C`, then we need to return `true`, but to figure that out we need to find the file where `B` is defined. For that reason making a change to any file in an Angular a

[2015-06-02 21:33] gdi2290 commented on #2296
ah okay, if it's by design then it means you should create your own ping event to be sent up rather than delegate to a component's event. That makes sense since it's better decoupling

[2015-06-02 21:38] SekibOmazic commented on #2296
@gdi2290 That seems very verbose. So every component in the chain would need to re-send event?
Like:
-parent (listen to ping)
-- child (listen to ping and resend the ping - even if not interested in)
---- grand child (emit ping event)

[2015-06-02 21:54] gdi2290 commented on #2296
@SekibOmazic I updated the example so it works. It's verbose I agree but it does make each component more loosely coupled but it forces it rather than allowing the developer to take advantage of `^`

http://plnkr.co/edit/MYYuNm?p=preview

[2015-06-02 21:56] tbosch opened #2298 "Performance regression for tables that use shadow dom emulation"
Large tables with e.g. 200 rows and 20 columns are really slow due to calling `LightDom._collectAllContentTags` (see https://github.com/angular/angular/blob/master/modules/angular2/src/render/dom/shadow_dom/light_dom.ts#L54) for every view that is added to a `ViewContainer`, resulting into a O^2 runtime.

[2015-06-02 22:09] SekibOmazic commented on #2296
@gdi2290 OK thanks. This may by so by design but now we have 2 different behaviours:
- for native DOM events bubbling up works to the root element
- for custom events bubbling up works to parent only and an event has to be resent if you need it in ancestor

Not very intuitive IMHO.

[2015-06-02 22:40] alexeagle opened #2300 "TSification: mark fields as private/protected"
We have a convention from AtScript of prefixing privates with underscore. This is also needed so the ts2dart emit produces "private" fields/methods in Dart.

We should mark these actually private, so TypeScript can enforce it.

Notes:
- could use ts2dart as a linter to warn if a field in `.ts` has underscore prefix but isn't private
- sometimes we access these variables from outside the class, pre

[2015-06-02 22:41] tbosch commented on #1931
Related: our current shadow dom emulation has a runtime of O(n^2) when using view containers (e.g. tables). We have a detection in place that does not run into this problem if we have no `<content>` tags, but will hit it when someone is creating a big table with a `<content>` tag. See https://github.com/angular/angular/issues/2298.

[2015-06-02 22:44] gdi2290 commented on #2278
I'm also running into this problem so I can't test locally. Although, the changes is just removing code and adding more tests
https://github.com/angular/angular/issues/2281

[2015-06-02 22:46] gdi2290 commented on #2281
I also ran into this issue just now

[2015-06-02 22:46] kegluneq commented on #1617
TL;DR: Swapped the effort labels because this has something to do with the internals of the Angular `Compiler`. I would guess it will take on the order of days to track down exactly what's happening here, but it may go faster if someone with knowledge of the `Compiler` is willing to dig in.

### Details

What this means is that the Angular `Compiler` is requesting different things when we run it a

[2015-06-02 22:48] naomiblack opened #2301 "Public API Docs - API surface needs curation"
The public docs (generated with `gulp docs\angular.io`) have a lot of entries for change detection and DI that are really not user-relevant. Need to go through and prune what gets exported.

[2015-06-02 23:04] naomiblack commented on #2072
Reopened until we push an update to pub and can verify that it's actually fixed.

[2015-06-02 23:26] vsavkin commented on #2112
Fixed here https://github.com/angular/angular/commit/652ed0cf6df6bd96808bbd6042c2b23a64a9b693

[2015-06-02 23:26] #2112 closed

[2015-06-02 23:26] vsavkin commented on #2113
Fixed here https://github.com/angular/angular/commit/559f54e92b6bec612c203809968ebb83f060314e

[2015-06-02 23:26] #2113 closed

[2015-06-02 23:48] yjbanov opened #2303 "Run DDC analysis as part of CI build"
DDC is the new compiler for Dart that's more strict than dart2js. It can catch more type errors than we are currently catching with `dartanalyzer`.

## Proposal

Introduce an experimental new build job in addition to the existing `stable` and `dev` jobs.

[2015-06-02 23:49] naomiblack commented on #1609
@juliemr can you prioritize this for the coming week, to get jeremy's unit tests for angular material unblocked?

[2015-06-02 23:52] kwalrath commented on #2072
Thanks, @jakemac53!

[2015-06-03 00:02] kegluneq opened #2304 "Refactor application bootstrap to hide implementation detail `ReflectionCapabilities` from the user"
cc: @yjbanov , @kwalrath

I've been talking with folks recently about the need for the user to instantiate `ReflectionCapabilities`. I remember we spoke about this a while back and that you had some concerns about hiding this from the user completely, but I can't remember the specifics and was hoping to get them documented since I get this question a lot.

The proposal is:

In application.ts
[code

[2015-06-03 00:10] jeffbcross opened #2305 "rename template-loading lib's xhr service to disambiguate from forthcoming http lib"
@vicb I'm adding some files and tests for the http library, and it could be confusing to contributors seeing many implementations of xhr in shared directories, like services and mock. I'd like to rename files for better clarity of purpose.

What do you think of prefixing all existing xhr implementation filenames with `template_` like so?

[code]

[2015-06-03 01:30] tbosch commented on #1746
No, I think ElementBinders are still not prefixed correctly
On Mon, Jun 1, 2015 at 2:29 PM Miško Hevery <notifications@github.com>
wrote:

[2015-06-03 02:53] jbdeboer commented on #1301
Please provide a link to the angular.io issue.

On Tuesday, 2 June 2015, Naomi Black <notifications@github.com> wrote:

[2015-06-03 02:53] jbdeboer commented on #2042
Has this pattern been documented?

On Tuesday, 2 June 2015, Miško Hevery <notifications@github.com> wrote:

[2015-06-03 02:56] jbdeboer commented on #1147
Please link to the issue that is being worked on.

On Saturday, 30 May 2015, Naomi Black <notifications@github.com> wrote:

[2015-06-03 04:12] mhevery commented on #1138
@matanlurey #2014 says that we need a schema. So if you say `<div ng-bar=foo>` and `ng-bar` is not in schema it will complain.

I think this should be closed as a dup of #2014 Could you explain which use case is not covered?

[2015-06-03 04:35] vicb commented on #2300
Note that some fields are `_prefixed` but not private according to the TS definition: they are accessed by classes/functions in the same file.

I have used this convention at a few places (and I think other have too) having in mind the Dart definition of private, ie private member are library private in Dart (they can be accessed from within the same library which is essentially the same file in A

[2015-06-03 04:41] vicb commented on #2305
What about moving xhr* out of services ?

[2015-06-03 04:49] #2269 closed

[2015-06-03 04:51] juliemr commented on #1609
Yup!

[2015-06-03 07:01] rolandjitsu commented on #2278
@gdi2290 I think that a cache pipe would be nice for those who do not want any changes reflected after the collection has been set.

[2015-06-03 15:45] jelbourn commented on #1007
Note that this is something that would have to be done for `EmulatedScopedShadowDomStrategy`, but not `EmulatedUnscopedShadowDomStrategy`

[2015-06-03 16:24] jeffbcross commented on #2305
Would you move it into core? And would you keep the mock implementation in the mock directory?

[2015-06-03 16:41] tbosch opened #2309 "e2e tests: clicks are not working when using `mobileOptions` capabilities"
Calls to `browser.click()` are doing nothing when I run benchmarks / e2e tests using protractor and have the capabilities below. There are no errors in the browser log, clicking on the buttons manually works, and removing the `mobileEmulation` entry from the capabilities also makes the tests work again.

This is probably a bug in chromedriver, but needs more investigation and a simple reproduction

[2015-06-03 16:55] bcalou commented on #1831
Hi, I apologize for commenting on a closed issue, but I got the same problem as @jomeier (did you find a wayaround ?). So is there a solution right now or should we just wait for a new version of the .d.ts file ? Thanks.

[2015-06-03 16:55] ttowncompiled opened #2311 "TS benchmarks_external"

[2015-06-03 16:57] jeffbcross commented on #2008
@ttowncompiled has finished the remaining examples

[2015-06-03 16:57] #2008 closed

[2015-06-03 16:57] jeffbcross commented on #2006
This is done, and @ttowncompiled has opened a new issue for the next milestone (10) to ts-ify benchmarks external

[2015-06-03 16:57] #2006 closed

[2015-06-03 17:21] yjbanov opened #2312 "Explicitly support dynamic application loading/unloading/multi-loading"
We've been sort of moving in the right direction with @tbosch's recent refactoring of dynamic component loading and bootstrap, but we need a formal support and documentation for how to dynamically unload a ng2 application and load a new one, as well as bootstrap multiple apps simultaneously.

[2015-06-03 17:29] vsavkin opened #2313 "Support assigning directives to local names in the template"
Currently we support the following: `<custom-comp #myComp>`

Angular will assign `myComp` to the component or the element.

This is very limiting.
* Once we have a component, we cannot access the native element.
* We cannot interact with other directives in the template.

We need to be able to assign any directive to a local name in the template. Example:

[code]

The resolution rules are
* Any di

[2015-06-03 17:30] vsavkin commented on #2313
/cc @mhevery @tbosch

[2015-06-03 17:40] yjbanov commented on #2304
+1

@kegluneq do you think we could rewrite to the following instead?

[code]

One minor issue with just calling `i0.initReflector()` is that if it fails for some reason (although it shouldn't) it would print a non-sensical stack trace pointing into code that the user didn't write. If instead we pass the `initReflector` function for `bootstrapStatic` to call, then `bootstrapStatic` could wrap the

[2015-06-03 18:08] IgorMinar commented on #2093
works fine for me now. closing.

[2015-06-03 18:08] #2093 closed

[2015-06-03 18:25] alexeagle commented on #1831
We are working on generating the complete .d.ts file right now. I hope
we'll have something by the end of this week.

On Wed, Jun 3, 2015 at 9:55 AM bcalou <notifications@github.com> wrote:

[2015-06-03 18:34] ttowncompiled opened #2314 "TS rtts_assert"

[2015-06-03 18:36] ttowncompiled commented on #2311
PR - #2315

[2015-06-03 19:13] alexeagle commented on #1975
I'll also try to clean up our rx typings since that's closely related

[2015-06-03 19:13] ttowncompiled commented on #2314
PR - #2316

[2015-06-03 19:16] rolandjitsu opened #2318 "is tsd updated with the latest version?"
I'm just wondering if the tsd typings are up to date with the latest alpha version, because it seems like the typings are at version `22` and the alpha version available for dev preview on npm is at `25`.

If so, how else could we have the typings in sync with the current alpha version on npm? Or can we build angular from the `atscript` directory that comes with the dist from npm?

[2015-06-03 19:31] kegluneq commented on #2304
Great point, I'm all for including this (or something similar). To avoid conflating the reflector init with bootstrap we could do:
[code]

[2015-06-03 19:34] gdi2290 commented on #2318
I have a PR open for about 12+ days now https://github.com/borisyankov/DefinitelyTyped/pull/4432 which only only meant to serve as a quick fix until the offical one is pushed out. I think it's nearly done so they might be an official update soon. Feel free to use the one in the PR

[2015-06-03 19:47] rolandjitsu commented on #2318
@gdi2290 I am not very familiar with tsd and typescript, first time trying it, so may I ask how do I tell tsd to take your patch instead of the official one?

[2015-06-03 19:50] kegluneq commented on #2204
For which classes does this need to occur?
1. Every class?
2. Only `@Injectable`?
3. Only `@Directive`?
4. Only `@Component`?

(1) is possible but will likely defeat tree-shaking, resulting in code bloat. For that reason I'd prefer one of the other options if possible.

[2015-06-03 20:07] kegluneq commented on #2304
cc @tbosch

[2015-06-03 20:17] matanlurey opened #2320 "Renderer: Is it possible to get a reference to transcluded content?"
E.g., I have the following component:

[code]

If I grab `bar`'s elementRef/protoViewRef, and add it to a view container elsewhere it only contains:

`PREPOST`

Is that working as intended?

@tbosch

[2015-06-03 20:29] matanlurey commented on #2320
Talked to tbosch@, because the native shadow DOM would not support this, neither does Angular's emulated layer. It may be possible to do something like this in the future as Angular evaluates alternatives. See also #1931.

[2015-06-03 20:45] kegluneq commented on #2304
Discussed this offline & here's what we determined:

# TL;DR:

We can hide `ReflectionCapabilities` as an implementation detail.

# Former Situation

Previously, bindings provided to the `Injector` were immediately resolved. This meant that providing a binding to the `Injector` depended on `ReflectionCapabilities` having been instantiated. Since we needed to support providing bindings to the injec

[2015-06-03 20:46] tbosch opened #2322 "introduce types for nodes/elements of `DOM`"
We are not typing nodes/elements as we have different implementions on client/server.

[2015-06-03 21:05] alexeagle commented on #1975
WIP at https://github.com/alexeagle/angular/tree/fix1975

We still have 9 files using Traceur and I have some issues with the Traceur upgrade. Let's put this off till next milestone, perhaps we can remove traceur altogether instead.

[2015-06-03 21:07] kegluneq commented on #2304
Just discussed with @jakemac53 and we actually like option 3 better

## Option 3

Rewrite `reflection_capabilities.dart` to call our generated code. This allows us full freedom to wrap in `try...catch` and provide friendly error messages as suggested by @yjbanov and keeps complexity low since `reflection_capabilites.dart` is being completely replaced instead of modified.

### Pros

- Use of `boots

[2015-06-03 21:12] matanlurey opened #2323 "Router: Not specifying '@RouteConfig' on the root component throws a cryptic NPE"
... when you use a router-link directive.

[2015-06-03 21:17] matanlurey opened #2325 "Router: Has no mocks or testing utilities for location - makes testing extremely difficult."
Ideally, I'd like to do something like

[code]

[2015-06-03 21:26] yjbanov opened #2326 "Triage process: impact, LGTM, process"
Some questions/comments about the new issue triage process:

## Should we add impact (or severity) attribute?

Similar concepts in other bug trackers are "votes", "me-toos" and "stars" that signal that a feature is important to the users. Unfortunately, GitHub lacks this concept and our triage process is not compensating for it.

Priority is usually calculated as some function of effort and impact

[2015-06-03 21:26] kegluneq commented on #2204
Also, is this something that could be done with `is` checks, which `dart2js` supports?

If this information is used in the generation of change detectors (which I imagine it is) the answer is likely "no" since change detectors are created before we ever have an instance of a Type.

[2015-06-03 21:42] #2021 closed

[2015-06-03 22:24] btford opened #2329 "Router features"
/cc @matsko @IgorMinar – These are the outstanding items based on our discussions the past few days:

- [ ] "//" (double-slash) syntax for overlays (plus good name – maybe reclaim "sibling" here somehow)

---

Behavior of rerouting during a navigation:
- [ ] before any components are committed, cancel and start over (recognition, canActivate, or loadResources/resolve) phases
- [ ] if any component

[2015-06-03 22:26] yjbanov commented on #2304
Discussed option 4 offline that has the pros of option 1 without the cons.

**tl;dr** move `application.ts` to `application_common.ts`, while making `application.ts` a facade; this results in identical bootstrap code between JS and Dart, and it needs minimal code rewrites by the transformer.

## Option 4

Reorg the file layout from the current:

[code]

To the following:

[code]

### Transformer r

[2015-06-03 22:56] yjbanov opened #2330 "Remove DynamicChangeDetector.hydrated method"
It is not used (except in tests) and removing it will allow us to add concrete type on the `context` field in the generated change detectors.

/cc @vsavkin

[2015-06-03 23:42] tbosch commented on #2305
I actually should go into `src/render`, as it is only used there.

[2015-06-03 23:55] tbosch opened #2334 "Performance regression in tree benchmark"
Our tree benchmark takes about 140ms on my machine, compared to about 90ms about 3 months ago, and compared to 30ms baseline. We should focus on performance for some days to get this number up again...

Note that this number kept getting worse over time, and not via a single commit as far as I can tell...

[2015-06-04 00:00] tbosch opened #2335 "Typescriptification cleanup"
After all sources have been converted to TS, we should clean up our project:

- [x] remove `*.es6`, `*.cjs` from being transpiled
- [ ] remove traceur
- [ ] remove `rtts_assert` subproject and figure out a way to trigger development mode
- [x] publish ts sources on npm and remove folder `atscript` in our npm releases
- [ ] remove `es5build.js` from our npm releases
- [ ] publish `*.d.ts` files in

[2015-06-04 00:06] matsko opened #2336 "Router: assigning a component that doens't have @Component causes an issue"
If you do not provide the `@Component` annotation for a class that is referenced via `component:` in a route then an error is thrown. We should provide a warning for this.

[2015-06-04 00:22] naomiblack commented on #2326
Since we're still in dev preview, not general release, the `cust:GT` and `cust:Ionic` fulfill the purpose of recording user pain to the extent that we're able to be responsive. I feel strongly that the github queue should reflect actual current process.

I'd like us to try the current process for a few weeks before making any significant changes. I expect that this isn't final. There's some proced

[2015-06-04 00:32] rkirov commented on #1935
parametrization handle in #2332

[2015-06-04 01:00] matanlurey commented on #2325
Hi Naomi, can we up the priority on this? Any page that uses navigation (e.g., a lot) will require a mock or fake router to not effect other tests and allow developers to expect certain states (e.g. navigation, navigation failed).

[2015-06-04 01:05] naomiblack commented on #2325
yes, thanks for also filing internal issue b/21620768 with prioritization. Raised to P1 (P3 is my default "absent other info, filed with a `cust:` label" prioritization)

[2015-06-04 01:09] naomiblack commented on #2335
@ttowncompiled please bug @jeffbcross for help if you get stuck on any of these.

[2015-06-04 01:15] naomiblack commented on #2072
We're now generating dartdocs again, but everything is included (not just the public api) and our annotations show up in the doc. Needs more work. @jakemac53 could you investigate? http://www.dartdocs.org/documentation/angular2/2.0.0-alpha.26/index.html#angular2

[2015-06-04 01:20] naomiblack commented on #2320
@tbosch is P3 correct? Should this be P4?

[2015-06-04 01:30] rkirov commented on #2318
Will be fixed as part of https://github.com/angular/angular/issues/1803

[2015-06-04 01:30] #2318 closed

[2015-06-04 02:03] naomiblack commented on #2322
@tbosch can you confirm this is the right component please?

[2015-06-04 02:06] mprobst opened #2338 "Upgrade gulp-clang-format to 1.0.19"
gulp-clang-format v1.0.19 prints the version number of clang-format it uses, which should make it easier to debug issues.

I'd do this myself, but as the dependencies of it have changed, I expect not to be able to do the shrinkwrap ballet.

[2015-06-04 03:28] tbosch opened #2339 "`DynamicComponentLoader.loadIntoExistingLocation` should create a host element"
Right now, Angular has 2 ways of loading dynamic components:

1. Using a `@Component` that does not have a view and dynamically loads another component onto the same element including the view of that component
2. Using a regular `@Directive` that creates a host view via a `ViewContainer` (i.e. a View that contains the host element of the component)

Option 1) has the following downsides:

- it al

[2015-06-04 03:34] tbosch commented on #2339
Code wise, this would mean for our public API:

- removing `loadIntoExistingLocation` from [DynamicComponentLoader](https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/dynamic_component_loader.ts), leaving only `loadIntoNewLocation`, `loadNextToExistingLocation` and `loadAsRoot` which all take host ProtoViews.
- removing `compile` from [Compiler](https://github.com/an

[2015-06-04 03:35] mhevery opened #2340 "Implement/port standard set of pipes"
see https://docs.angularjs.org/api for the behaviro

* [ ] currency
* [ ] date
* [ ] filter
* [X] json
* [x] limitTo
* [X] lowercase
* [ ] number
* [ ] orderBy
* [X] uppercase

[2015-06-04 03:38] matanlurey commented on #2339
Let me double check.

[2015-06-04 04:09] naomiblack commented on #751
@jakemac53 can you take this one on?

[2015-06-04 06:34] gdi2290 commented on #2340
Originally I wanted to do them all but noticed these problems/blocked (listed below) which lead to this issue being opened https://github.com/angular/angular/issues/1625 for more questions about the direction etc. I should have updated it a bit more with questions like Function Bind Syntax, Array Comprehension, and arguments (not working atm)

[Function Bind Syntax (bind operator)](https://github.

[2015-06-04 07:00] vicb commented on #2269
Wouldn't `fakeAsync.flushMicrotasks()` outside of a microtask work ?

Also you should probably use `fakeAsync()` and `flushMicrotasks()` from [Angular](https://github.com/angular/angular/blob/master/modules/angular2/src/test_lib/fake_async.dart)

Ping me when you refactor the test to use the ng TestBed

[2015-06-04 08:11] piraveen commented on #2242
Does anyone have any examples for 'How to use child router in Angular2' ? I am following @ibhi method.

[2015-06-04 11:15] rolandjitsu commented on #2318
@rkirov do you have an aprox. timespan for when the next release with this fix will be done?

[2015-06-04 12:14] rolandjitsu commented on #2318
@gdi2290 so how do I grab a the current angular typings?

*Note that I use `npm install` to get Angular 2, and then I just build into a single file using almost the same process as the `es5build.js` that comes with the rest of the files in `es6/prod` folder (but I also build Rx using systemjs-builder and I add the router too). Furthermore, I include `Reflect.js`, `zone.js` and `long-stack-trace-zo

[2015-06-04 12:19] svrcekmichal opened #2343 "angular2_1.Component is not a function"
After update to angular2@2.0.0-alpha26 I'm getting error `Uncaught TypeError: angular2_1.Component is not a function`. Any possible solution or hint?

in builded JS file `var angular2_1 = require("angular2/angular2");` return empty object `{}`. In version 25 everything works fine.

[2015-06-04 13:02] mlaval commented on #2094
Some logs from another  Windows laptop (Win8.1 64 bits,i7 @ 2.4Ghz, 4Gb,SSD) where antivirus, encryption, Windows Defenderand other utilities are dectivated (it helped a lot):
[code]

[2015-06-04 13:25] mlaval commented on #2094
I've updated logs to the latest code level and measured on one more machine. It shows degradation:
- with more TypeScript files in the repo, the `!broccoli.js.dev` got about 40% longer
- the `check-format` task now takes almost 1 minute
**As a result, it takes 3 minutes just to start JS unit tests on these machines!**

Broccoli is by nature very demanding on the file system. Without surprises, the

[2015-06-04 13:59] vicb commented on #2094
[code]

[2015-06-04 14:36] vicb commented on #265
Not really sure if we should throw:

[code]

[2015-06-04 14:47] tbosch commented on #265
I think we can check for this case via 'myProp in tsClass'...
On Thu, Jun 4, 2015 at 7:36 AM Victor Berchet <notifications@github.com>
wrote:

[2015-06-04 14:53] vicb commented on #265
Doesn't seem like

[code]

[2015-06-04 15:36] jomeier commented on #2343
Me too.

[2015-06-04 16:44] ttowncompiled commented on #2311
merged - b2596dd3024491be7a39c94c6d703dba2fa1539f

[2015-06-04 16:44] #2311 closed

[2015-06-04 16:45] ttowncompiled commented on #2314
merged - https://github.com/angular/angular/commit/9e8108ee14fb21b1e08b85546e7a62d162144c49

[2015-06-04 16:45] #2314 closed

[2015-06-04 17:11] #2027 closed

[2015-06-04 17:19] IgorMinar commented on #2338
the process is now much simplified:

[code]

[2015-06-04 17:47] #2338 closed

[2015-06-04 17:50] matsko opened #2352 "Add support for global helper functions within the template"
It would be great for the router if we had a global helper function that we can call within any portion of the template as well as in our JavaScript component code.

[code]

Currently Angular2's expression code is only local (relative to the parent component within the template) so having a global helper function that can be called anywhere isn't possible.

Let's make this happen.

[2015-06-04 17:52] mprobst commented on #2338
Addendum: I think this should be `npm update gulp-clang-format --save-dev`, right?

[2015-06-04 17:54] mhevery commented on #2343
Need more steps to reproduce. How are you getting this error? what command you are running etc.

[2015-06-04 18:14] ericmdantas commented on #2343
I'm having a similar issue, but not with the component (maybe the exception is thrown before hitting that), I'm having the error with Directives:

```Uncaught TypeError: angular2_1.Directive is not a function```

If I try to import directive as ```DirectiveAnnotion```, I get the error:

``` Uncaught TypeError: angular2_1.DirectiveAnnotation is not a function```

[2015-06-04 18:15] IgorMinar commented on #2338
no, because I'm not modifying the package.json. the constraints in package.json allow v1.0.19, so I can just do `update` and then rewrap.

If the package.json needed to be updated then I'd have to use `npm install --save-dev <foo>@<version>`

[2015-06-04 18:27] toedter commented on #2343
Same here.

@mhevery , you can try it out cloning my git repo https://github.com/toedter/angular2-typescript-demo. Currently it is running fine using alpha 22. When you change line 7 in src/main/html/index.html using angular2-a26 you would get the error: Uncaught TypeError: angular2_1.Component is not a function

[2015-06-04 18:34] vsavkin commented on #2330
I don't mind removing `hydrated`. But I don't understand how  `hydrated(): boolean { return this.values[0] !== uninitialized; }` in DynamicChangeDetector affects the generated change detectors. Could you expand on that?

[2015-06-04 18:58] gdi2290 commented on #2352
Rather than just global I rather allow people to scope it to be similar to adding bindings. Bindings allows per component or global app which means small apps use global while large apps scope it out

[code]

[2015-06-04 19:20] davideast commented on #1381
I'll have a design doc out soon.

[2015-06-04 20:11] mhevery commented on #2343
We were able to repro this and @rkirov is looking into it.

[2015-06-04 20:13] rkirov commented on #2343
Confirmed, the bundle is broken when consumed through commonjs. I am looking into what caused that regression.

[2015-06-04 20:29] svrcekmichal commented on #2343
@mhevery @rkirov thanks guys, I really appreciate that. Thanks for all the work you are doing with whole team behind angular :)

[2015-06-04 20:37] tbosch opened #2354 "Remove `TestBed` in favor of `TestComponentBuilder` in all tests"
This is a clean up from introducing the TestComponentBuilder.

/cc @juliemr

[2015-06-04 21:04] kegluneq commented on #2330
Removing `hydrated` is not necessary to provide types for `context`, but if it's not being used there's no reason to keep it around.

https://github.com/angular/angular/issues/2070 tracks providing a type for `context`

[2015-06-04 21:14] mgechev commented on #2343
Today me and @ludohenin updated the Angular version at the [angular2-seed](https://github.com/mgechev/angular2-seed/) and had the same issue. After digging a while in System.js I found that the issue comes from `angular2/src/core/compiler/interfaces`, after being transpiled to ES5 it gets turned into an empty file. During the dependency resolution phase `angular2/core` is getting messed.

[Here is

[2015-06-04 21:53] vsavkin commented on #2313
Closed via https://github.com/angular/angular/commit/69b75b7fd8206f47ed513ccc9cf6a6bb4e6b3789

[2015-06-04 21:53] #2313 closed

[2015-06-04 22:09] juliemr commented on #2309
Note that this works for chrome 43 and 45 (canary).

[2015-06-04 22:15] mhevery opened #2355 "ng-if broken"
repro: https://github.com/mhevery/github_issues/tree/bug

[code]

[2015-06-04 22:47] alexeagle opened #2356 "Bad exports naming for Directive/Component"
the top-level 'angular2/angular2' module re-exports Component as ComponentAnnotation. The actual Component class extends Directive. However, we re-export class Directive as DirectiveAnnotation, and the re-exported Directive is just a var declaration. This breaks the angular2.d.ts since it ends up with a Component extends Directive type, where Directive is not a class.

Current workaround is to exp

[2015-06-04 23:14] alexeagle commented on #1803
Update: we have a generated angular2.d.ts here:
https://gist.github.com/alexeagle/c7e0b05927469666d703

But still have issues to resolve before merging https://github.com/angular/angular/pull/2333 which has the generator.

[2015-06-05 00:03] tbosch opened #2359 "PropertySetterFactory: don't cache property setters globally as this leads to problems in the transformer"
Old (see comments below):
Was: Transformers: Don't set `reflector.reflectionCapabilities` over an async gap

In [generator.dart](https://github.com/angular/angular/blob/master/modules/angular2/src/transform/template_compiler/generator.dart#L101-L109) we first set `reflector.reflectionCapabilities`, then wait for the compiler to compile and then reset the state. Although the caller of this particul

[2015-06-05 00:04] tbosch commented on #2359
@naomiblack I think we should to a patch release for this one, as otherwise transformers are not really usable in Google3...

[2015-06-05 00:07] tbosch commented on #2339
@mhevery what do you think?

[2015-06-05 00:08] kegluneq commented on #2359
Is it true that `getChangeDetectorDefinitions` makes the same requests to `ReflectionCapabilities` as `compile` does?

This is what [this block of asserts](https://github.com/angular/angular/blob/master/modules/angular2/src/transform/template_compiler/generator.dart#L56) was meant to test and so far it's come back clean.

If so, we can use the `RecordingReflectionCapabilities` in that area to gene

[2015-06-05 00:17] tbosch commented on #2359
I don't think so: The compiler parses expressions and requests getters/setters/methods from the reflector. Also, it requests getters/setters for property bindings. @vsavkin what do you think?

[2015-06-05 00:30] kegluneq commented on #2359
A quick test confirms that this strategy won't work.

Another potential option is to use the data structures in the `ProtoViewDto` returned by `compile` to figure out which `getter`s, `setter`s, and `method`s we need to register. This seems a bit more error-prone than actually pulling them out of the `ReflectionCapabilities` after `compile`, but avoids playing with global state, which just smells

[2015-06-05 00:58] tbosch commented on #2359
After talking to @kegluneq we should do the following:

Don't create a new method on the `DomCompiler` but use `CompilePipeline` directly. The long term plan would be switching back to using the `DomCompiler` and only relying on its result instead of listening to the calls to the reflector.

[2015-06-05 01:00] kegluneq commented on #1617
This will almost certainly be fixed by https://github.com/angular/angular/issues/2359

[2015-06-05 02:12] rkirov commented on #2343
Thanks for the leads, a slightly less dirty fix is pending. Does anyone know of a relevant system.js issue?

[2015-06-05 02:18] rkirov opened #2363 "Reusable `Injectable` annotations"
Already existing angular.dart 1 applications have a number of services that should be reusable in angular2 apps (to aid migration). To achieve that one needs to denote them as Injectable in both

[code]

This has a significant issue that now the service code needs to import both angular1 and angular2 and potentially run both transformers.

Ideally, the annotations should live in a third package -

[2015-06-05 02:23] mhevery opened #2364 "Support binding to the class/style in `host`"
[code]

[2015-06-05 03:28] parliament718 opened #2365 "loading jquery before angular.js"
I'm experiencing an issue with ngDraggable library that is immediately solved by loading jquery.js AFTER angular.js. This issue: https://github.com/fatlinesofcode/ngDraggable/issues/119#issuecomment-109147536

Although doing so fixes all the issues with that library, is then breaks my entire code base (tons of console errors including a [Error: jqLite:nosel]).

Does the angular community have any

[2015-06-05 03:37] tbosch commented on #2359
The reason for this issue was that in some cases the transpiler did not generate all of the property setters when a `ngFor` directive was used. It turns out, that the transpiler code is correct (although the code passage in this issue seemed suspicious). I could verify this via `print` statements that I added into the transformer when it replaces the `ReflectionCapabilities`.

The real problem is

[2015-06-05 03:45] tbosch commented on #2359
@kegluneq I think we don't need to change the transformer. However, could you verify that Dart won't make calls to https://github.com/angular/angular/blob/master/modules/angular2/src/transform/template_compiler/transformer.dart#L30 in parallel, i.e. call it again while another call is still pending? If this is the case, the transformer code is good.

I will create a separate PR for changing the pr

[2015-06-05 04:34] gdi2290 commented on #2365
@parliament718 parliament718  this is the Angular 2.x repo so you're looking for the Angular 1.x repo https://github.com/angular/angular.js

[2015-06-05 04:40] parliament718 commented on #2365
woops, sorry. https://github.com/angular/angular.js/issues/12033

[2015-06-05 04:40] #2365 closed

[2015-06-05 05:17] catap opened #2366 "Missing `repository.url` at NPM metadata"
Good day!

When I try to deploy angular2 from NPM as webjar I had a error:
[code]

Typical all NPMs has a `repository.url` at NPM metadata, but here it is missed.

For example:
 - https://registry.npmjs.org/angular/1.4.0 has `repository.url`
 - https://registry.npmjs.org/angular2/2.0.0-alpha.26 hasn't `repository.url`

[2015-06-05 06:46] robwormald commented on #2343
there were a bunch of changes to jspm/systemJS today: https://github.com/systemjs/systemjs/releases/tag/0.17.0, so there may be a conflict if you're trying to use a bundle built with an earlier version of the builder?

[2015-06-05 09:46] petebacondarwin opened #2368 "Angular Broke My App!"
I updated to Angular 1.4.0 and I started getting errors in the console:

[code]

Please help! I need to go live tomorrow.

[2015-06-05 11:11] mgechev commented on #2343
@rkirov I had a quick chat with Guy Bedford from system.js. [Here is an issue](https://github.com/systemjs/systemjs/issues/487) in their repo, which is related with this one.

[2015-06-05 11:39] toedter commented on #2335
+1, would you also consider to publish the *.d.ts files within the (alpha) releases at code.angularjs.org?

[2015-06-05 11:43] vicb opened #2369 "gulp serve.js.prod is not more building when a src file is updated"
seen with this file: angular/modules/benchmarks/src/naive_infinite_scroll/app.ts

linked to the migration to ts ?

[2015-06-05 12:03] dinoboff commented on #2368
Wrong repo.

For angular 1.x, check https://github.com/angular/angular.js

[2015-06-05 13:09] #2368 closed

[2015-06-05 13:31] jomeier commented on #2335
@toedter Definitely support this idea. @alexeagle put an d.ts file online today even it is for Alpha 22. Would appreciate if there's a way to get the proper d.ts files for each alpha instead of searching hacks in the net. Would make things a lot easier. But they are working on it.

[2015-06-05 15:06] kegluneq commented on #2359
I'll do some digging on this today, but my current understanding is that even if this is working now there is no guarantee that it will work in the future. Using the pipeline directly might be a good way to go until we directly process the `ProtoViewDto` to determine what we need.

[2015-06-05 15:59] alexeagle commented on #2335
Yes we will distribute the typings via the expected channels.

[2015-06-05 16:05] bradlygreen opened #2371 "Scrolling is slow in a big table benchmark"
I'm seeing 14-20 FPS for the Angular 2 version of this benchmark https://rawgit.com/alincc/angular-test-table/master/angular2/dist/index.html (code https://github.com/alincc/angular-test-table/tree/master/angular2).

@tbosch thought this was related to the test's use of rAF interacting poorly with our Zones.

[2015-06-05 16:10] kegluneq commented on #2359
I confirmed that we should still make this change, even if it is not the cause of the behavior you were observing.

[2015-06-05 16:22] vicb commented on #2371
The `ng-for` should be on `<tr>` https://github.com/alincc/angular-test-table/blob/master/angular2/src/templates/test-table.html#L20

[2015-06-05 16:31] jomeier commented on #1803
@alexeagle Is this type definition file also compatible with Alpha 25? The comment says its for Alpha 22.

[2015-06-05 16:32] alexeagle commented on #1803
Yes, it's generated for alpha.26. That comment is out-of-date in that gist.

[2015-06-05 16:37] shlomiassaf commented on #2013
Not related, but I find this issue a wonderful example of open source sugar.
Simple technical issue, related to developers, easy to explain , easy to understand.

[2015-06-05 16:50] #2204 closed

[2015-06-05 17:13] manfredsteyer commented on #1303
has anyone an idea on this?

[2015-06-05 17:38] alexeagle opened #2373 "Renamed imports break the angular2.d.ts"
A common pattern in Angular code is
import * as viewModule from './view';

the name 'viewModule' should only be known within this file - other modules may import from 'view' but choose their own renames.

Currently our dgeni-based .d.ts generator naively looks at the text of declared symbols, so 'viewModule' leaks out into the .d.ts.

My current workaround is to define a nested module 'viewModule'

[2015-06-05 18:24] mhevery commented on #2352
We have discussed this, and we think that the best way to do this is to have the component inject and then export this function.

[code]

[2015-06-05 18:24] #2352 closed

[2015-06-05 18:25] ronilichtman opened #2376 "AngularJS expression is visible on https://angular.io/about/"
When clicking on a contributor image the first time you are provided by a description like so:
![working](https://cloud.githubusercontent.com/assets/12766460/8012323/465061ce-0bc9-11e5-9ef9-257d8b96fea3.PNG)

When you click on the image a second (or more) time, you are provided with the following:
![not-working](https://cloud.githubusercontent.com/assets/12766460/8012329/58affd02-0bc9-11e5-8aa6-18

[2015-06-05 19:51] tbosch commented on #2339
Talked with @mhevery in person, no red flags from there. Lowered priority to P2 as @mhevery said that removal of app injector needs to go first.

[2015-06-05 19:54] #2070 closed

[2015-06-05 20:02] alexeagle opened #2377 "Update package.json"
The current text is out-of-date and appears on https://www.npmjs.com/package/angular2 so users are exposed to it.

[2015-06-05 20:38] mhevery commented on #1138
Closing as dup of #2014

[2015-06-05 20:38] #1138 closed

[2015-06-05 20:42] mhevery commented on #2304
I am changing this from discussion, to something we should do. updated title/labels to reflect.

[2015-06-05 20:49] #1815 closed

[2015-06-05 21:04] mhevery opened #2379 "Get rid of App Injector / improve Element Injector"
# Goals

- [ ] Get rid of app `Injector`
- [x] Allow `@Injectable` annotation to declare default visibility, default to `@Unbound(self: true)`
- [x] All Directive's default visibility is hidden.
- [x] Introduce `@Self` annotation to inject from current element.
- [x] Have consumer of injection be able to override the default visibility.
- [x] Root/platform injector on `HTML` element which has comm

[2015-06-05 21:06] mhevery commented on #2110
Closing in favor of https://github.com/angular/angular/issues/2379

[2015-06-05 21:06] #2110 closed

[2015-06-05 21:07] mhevery commented on #2379
cc: @matanlurey @vicb @tbosch @yjbanov @jbdeboer

[2015-06-05 21:22] gdi2290 commented on #2318
@rolandjitsu post your repo here

[2015-06-05 21:39] tbosch opened #2380 "Transformer error for almost empty files"
Right now, we get the following errors during our build. I think this is because we have almost empty files inside of `web/e2e_test` that look like this:

E.g. compiler_perf.dart
[code]

The error in the build is as follows:

[code]

[2015-06-05 21:39] tbosch commented on #2380
Note: This does not fail the build

[2015-06-05 21:44] tbosch commented on #2379
In the case of multiple ng apps we will have multiple injectors on the `html` element, but I think this is ok.

[2015-06-05 21:45] tbosch commented on #2379
So visibility can then be restricted by both sides, the place where a token is bound, and the place where a token is consumed? (and both via `@Self`, `@Unbound`, ...)?

[2015-06-05 21:47] mhevery opened #2382 "css URL in @View"
Support a set of URLs which need to be loaded into the component.

[code]

This will heave an inline version

[code]

[2015-06-05 21:48] mhevery opened #2383 "Relative URL support in annotations"
# GOAL

support loading resources into the components in a relative way for re-usability.

## JavaScript

CommonJS modules standards publishes the `module.id`, which can be passed into the `@View` Annotation.

[code]

## Dart

In dart the user does not have to explicitly set the `moduleId` instead we can extract the location from the library path:  `MyComponent.owner.uri.path`

See: [uri_mapper](h

[2015-06-05 21:48] mhevery opened #2384 "Base URL support in templates and stylesheets"
# GOAL

Add support to the template/stylesheets for base URL so that components can refer to resources in relative paths.

## Problem

[code]

where:

`zippy.ts`
[code]

`zippy.html`
[code]

[code]

## Why prefix `$baseUrl` and not do it automatically?
We need to mark attributes that take relative urls in html files explicitly, as we don't know which attributes are urls and which ones are not.
Als

[2015-06-05 21:49] alexeagle commented on #2147
Fixing this in #2333

[2015-06-05 21:49] #2147 closed

[2015-06-05 21:54] tbosch commented on #2371
@vicb yes, you are right. Just double checked it and by changing this we get the same FPS as the other examples. See https://github.com/alincc/angular-test-table/issues/4.

Closing this.

[2015-06-05 21:54] #2371 closed

[2015-06-05 21:59] gdi2290 commented on #2382
time to revive my old commit

[2015-06-05 22:07] tbosch commented on #2309
I am using the following command:
[code]

Note that the benchmarks don't throw, but just don't click on the button, i.e. the tree does not show and hide while the benchmark is running.

[2015-06-05 22:58] vicb commented on #2382
/ref #1239

[2015-06-05 23:10] alexeagle commented on #1803
This should be fixed by https://github.com/angular/angular/pull/2333
We now include an `angular2.d.ts` in the dist/ folder which should be included in our release archive.
Closing - @rkirov is there anything remaining in the release documentation to make sure we run `gulp docs` and get the generated file included in our npm push?

[2015-06-05 23:11] alexeagle commented on #1803
For those following: see https://github.com/borisyankov/DefinitelyTyped/pull/4563 for the DefinitelyTyped distribution.

[2015-06-05 23:16] #2050 closed

[2015-06-05 23:25] tbosch commented on #2194
One idea would be the following:

`@View` does not only take a `templateUrl`, but also a `moduleId`. Many module systems provide these via a special import:

- node.js and requirejs jave the special import `module` which has a `id` property (see [here](https://nodejs.org/api/modules.html#modules_the_module_object) and [here](https://github.com/jrburke/requirejs/wiki/Differences-between-the-simplif

[2015-06-05 23:30] tbosch opened #2386 "`test.unit.dart` does not work for incremental builds"
First run is good, but after changing a file the build breaks:

[code]

There is a symlink at this place that points to an invalid path `/Users/tbosch/projects/angular2/tmp/mapper-tmp_dest_dir-019nNEvP.tmp/angular2_material/src/components/button/button.html`.

[2015-06-05 23:36] mlaval commented on #2205
Not reproducible anymore.

[2015-06-05 23:36] #2205 closed

[2015-06-05 23:41] caitp commented on #2386
Might be worth filling this on symlink-or-copy, looks like they're missing a try/catch

[2015-06-06 00:41] felippenardi opened #2388 "Benchpress Documentation / Getting Started guide"
I can't find a documentation or a getting started guide for Benchpress. Where can I start learning about how to use it?

[2015-06-06 00:49] #2231 closed

[2015-06-06 02:12] jbdeboer opened #2389 "Test that the dynamic component loader propagates errors when a dynamic component fails to load."
I do not see any error case tests in dynamic_component_loader_spec.dart and I suspect that there is a bug eating exceptions coming from dynamic components.

[2015-06-06 02:16] jbdeboer opened #2390 "DynamicChangeDetector._check is truncating stack traces"
My application is throwing an exception during change detection; however, DynamicChangeDetector is not reporting the complete stack trace.

It prints
[code]

when it should print:
[code]

Notice the first stack trace is missing 7 frames.

[2015-06-06 02:56] jbdeboer opened #2391 "Router is not propagating exceptions on navigation"
To reproduce, see https://github.com/jbdeboer/angular2_router_eating_stack_traces

This demo has a component which throws an exception in its constructor. When the component is created, that exception is not displayed in the Chrome DevTools console. It should be.

[2015-06-06 03:07] jbdeboer opened #2392 "Red herring error message: Class 'Object' has no instance getter 'value'."
For a demo, see https://github.com/jbdeboer/angular2_router_eating_stack_traces, ```pub serve``` the app and click on the "The same, with bindings" link.

When a component fails to be constructed, its template is still loaded, but Angular evaluates the template expressions against ```Object``` instead of the component instance.  These error messages are quite confusing and lead the developer down

[2015-06-06 03:08] tapas4java opened #2393 "Current status and roadmap of Angular CLI"
I know Igor was working on this. Can we get a detailed status of the work being done and the remaing parts and what is the plan for completing  this?

[2015-06-06 03:17] jbdeboer commented on #856
This appears to be implemented; 10000 is now configurable.

[2015-06-06 03:17] #856 closed

[2015-06-06 08:03] choeller commented on #2194
Oh, I didn't write that in the issues, but I was expecting, that it should be possible to work with relative URLs. For example for the above folder Structure something like this:

[code]
This would make it easy to write reusable components and does not add any more boilerplate. Or is there anything I didn't consider with this?

[2015-06-06 08:48] FloWi commented on #1803
Thanks guys! Awesome!

[2015-06-06 10:10] rolandjitsu commented on #2318
@gdi2290 [https://github.com/rolandjitsu/ng2-play](here) it is. The `master` branch has is written with js and transpiled with Traceur, but the `ts` branch is where I tried switching to TS, but failed. In `gulpfile.js` there is a `test-ts` task which compiles the TS files.

[2015-06-06 11:02] vicb commented on #2390
@jbdeboer I think it is a feature of [stack_trace](https://pub.dartlang.org/packages/stack_trace) which filters out internal dart frames, are those valuables ?

[2015-06-06 11:10] Grandiz opened #2396 "$anchorScroll on root page"
Hi. I have some issue this anchors and html5mode. If i go for example to domain/foo#bar, this work properly, but if i want go to domain/#bar i get redirection to domain/bar

[2015-06-06 11:18] vicb commented on #2396
This repo is for angular2, please re-open on https://github.com/angular/angular.js

[2015-06-06 11:18] #2396 closed

[2015-06-06 12:06] vicb commented on #2231
@mprobst I love this! Are `Map` handled yet ?

[2015-06-06 12:27] anandgupta08 opened #2397 "Style scope in Angular2 Component not aligned to native Web Component Shadow DOM"
My understanding is that the Angular 2 Components are built on top of Web Component standards.
As per the Web component standards, the scope of the style inside the shadow DOM is scoped. In other words, the style in the "light DOM" (non-shadow DOM) should not have any impact on the elements inside the shadow DOM. However, this does not seem to be the case (my apologies if I am missing something he

[2015-06-06 13:33] vicb opened #2398 "Question: |pipe:arg1:arg2 or |pipe(arg1, arg2)"
We had the debate back to ng.dart 1 and decided to keep the colon format.

I'd like to revive the debate are pipes will probably be used more in n2.

There's a gotcha with the colon format:

`subject | p1:arg | p2` is currently parsed as `subject | p1:(arg | p2)` - while you might want `(subject | p1:arg) | p2`

Switching to `()` can make resolving the ambiguity easier:

`subject | p1(arg) | p2` a

[2015-06-06 13:57] jbdeboer commented on #2390
No, some of the missing frames are in Angular.

The issue is that Angular is catching exceptions and throwing new,
different, exceptions from the catch block.

On Saturday, 6 June 2015, Victor Berchet <notifications@github.com> wrote:

[2015-06-06 15:53] jbdeboer commented on #1732
To summarize the current state of this bug:

@vicb gave an explanation for when ```baseUrl``` will be null: Only once to get the application URL.  Adding that information to the docs is enough to resolve this issue.

However, both @vicb and myself agree that this interface is doing too many things and could be refactored. That work could be tracked in a different issue and it is not a priority for