[2019-07-11 22:17] #31403 closed

[2019-07-11 22:20] jasonaden commented on #31400
You're correct, this should be noted in the docs for `setValidators`. I'm moving this to a docs issue.

[2019-07-11 22:32] jasonaden commented on #31339
Thanks for sending the issue. Can you be more explicit though with the reproduction. Yes, I see the error, but to figure out what's happening here I need to go through and debug the code. It would be easier to explicitly have JUST the form control that's erring and remove all the additional loops and conditionals to get to the minimal reproduction.

[2019-07-11 22:35] djleonskennedy commented on #31420
@radotzki yeap! sorry this was addressed to @ravishivt

[2019-07-11 22:39] jasonaden commented on #31336
Unfortunately I'm not able to reproduce this, and the link you sent renders fine and doesn't seem to have any noticeable lag.

I would suggest a couple things. First, use Chrome Dev Tools to profile the application and determine where the slow is happening. Perhaps the rendering you're doing requires quite a bit of CPU when 500 records are displayed, and there might be a better way to render the r

[2019-07-11 22:39] #31336 closed

[2019-07-11 22:40] brianmtreese opened #31520 "Animation using query and stagger doesn't properly animate from height: '*'"
# 🐞 bug report

### Affected Package

@angular/animations: 8.1.1

### Is this a regression?

I'm not sure.

### Description
When attempting to use an animation query with a stagger to animate from an unknown height `height: '*'`, the animation does not work. It works fine when animating from a known height to an unknown height though.

For example, this works correctly:
[code]

But this does not:

[2019-07-11 22:40] fmalcher commented on #30617
@tatvaaksh I was probably wrong assuming it won't work. I forgot there is a `lazyModules` section in the `angular.json` file where you can declare modules that will be lazy-loaded at runtime. Can you try putting those together – the `lazyModules` option and your solution of determining the lazy module at runtime?

[2019-07-11 22:57] pauldraper commented on #29395
I use a DOM mutation listener as a workaround (e.g. https://material.angular.io/cdk/observers/api)

[2019-07-11 23:13] julianobrasil commented on #31424
Well, the compiler didn't like the undefined value:

<pre><code>
ERROR in The "path" argument must be of type string. Received type object
</code></pre>

Is there a way to force it to accept it?

[2019-07-12 01:00] rcollette commented on #23878
I'm confused.   The deprecated string syntax is the only one that works in Angular 7 when lazy loading and using AOT.

Is it a bug that the function style is not working in this mode and is that fixed in Angular 8?

[2019-07-12 03:23] DennisDel commented on #31501
For anyone who is interested by any chance, the suggested change made no difference.

[2019-07-12 03:42] pankajsays commented on #15280
@jonrimmer  outstanding move. https://i.imgur.com/XHBO47j.jpg

[2019-07-12 06:26] amolchaudhari69 commented on #31467
Thank You  For Quick Action

[2019-07-12 06:52] gkaravitis commented on #25160
I am also using ::ng-deep in project. It would be nice to have an official answer if its gonna be deprecated from Angular.

[2019-07-12 07:07] santoshyadav198613 commented on #30814
Moving to Angular Package will be a better idea in that case.

[2019-07-12 07:33] PooyaDel commented on #31501
@JoostK You were right!
This post misled me to upgrade everything!!!
https://github.com/angular/angular-cli/issues/14546#issuecomment-499908273
once I rolled back karma , issue was resolved

[2019-07-12 07:33] snahmad commented on #30814
What you mean by
Moving to Angular Package will be a better idea in that case?

[2019-07-12 07:39] santoshyadav198613 commented on #30814
I was just referring to your comment, where you said **"use HttpClient instead of ngx-restangular"**

[2019-07-12 07:48] MrMime opened #31521 "Routing not working when IF change HTML route"
# 🐞 bug report

I reproduced the bug here:

### Description

As you can see from the code, there are TWO router-outlet.
One in app.component.html IF NOT LOGGED.
One in layout component that is loaded IF LOGGED.

Seems like Angular is not able to understand the two router are mutually exclusive so when I log in, the router system still trigger the first one in app.component.
If I refresh the page,

[2019-07-12 08:09] petebacondarwin commented on #31424
Interesting that it failed with the `undefined`... glad you got a workaround working.

[2019-07-12 08:16] snahmad commented on #30814
ok, HttpClient is official angular package,

https://angular.io/api/common/http.

Let me try to change from ngx-restangular to HttpClient.

Only issue will be change RestangularConfigFactory  to use HttpClient.

// Function for settting the default restangular configuration
export function RestangularConfigFactory (RestangularProvider, router) {

     // by each request to the server receive a tok

[2019-07-12 08:21] JonWallsten commented on #22524
Just wanted to let you know that the PR for this issue is done. We're waiting for the code owner to be back and then approve. So hopefully in a short time we just leave this thread behind us!

[2019-07-12 08:23] snahmad commented on #30814
I am using all these three.

import {RestangularModule, Restangular} from 'ngx-restangular';
import { HttpClient, HttpHeaders } from '@angular/common/http';
import { Http, Response, RequestOptions, ResponseContentType } from '@angular/http';
import { Observable } from 'rxjs/Observable';

I guess I can only use HttpClient to do everything.

Currently doing

getLogSubFiles(folder_name) : Observable<

[2019-07-12 08:27] santoshyadav198613 commented on #30814
Yes @snahmad ,
You can if you need any help in migrating please post on stackoverflow or our gitter channel thanks.

[2019-07-12 08:29] petebacondarwin commented on #31424
Actually I just realised that `linqts` does not contain any Angular, does it? In which case we could just tell ngcc to ignore it:

[code]

That being said, it should already be ignored by ngcc as it has no `...metadata.json` file, so I am not sure why it is erroring in the first place.

I tried:

[code]

which runs fine:

[code]

[2019-07-12 08:34] petebacondarwin commented on #31424
Ahah! But running it targeted on the `linqts` does fail:

[code]

leads to

[code]

[2019-07-12 08:37] snahmad commented on #30814
Sure, Thanks. for now Try to fix using ngx-restangular. they claim they have fixed it for angular 8.

[2019-07-12 08:42] btey commented on #30835
You must change the property "target" in the file "tsconfig.json" to "es5". Read this blog entry, "Differential Loading by Default":

[https://blog.angular.io/version-8-of-angular-smaller-bundles-cli-apis-and-alignment-with-the-ecosystem-af0261112a27](https://blog.angular.io/version-8-of-angular-smaller-bundles-cli-apis-and-alignment-with-the-ecosystem-af0261112a27)

This property chooses between

[2019-07-12 09:11] Palapapaa opened #31522 "Ivy + Angular universal error"
# 🐞 bug report

angular/*@8.1.0 (Ivy engine enabled)

### Is this a regression?

It works with Ivy disabled.

### Description

Ivy + Angular Universal doesn't seems to work

## 🔬 Minimal Reproduction
**1. New project with Ivy**

`ng new test-angular --enableIvy`

**2. Add Angular Universal**

`ng add @nguniversal/express-engine --clientProject test-angular`

**3. When I do ng build I get an error*

[2019-07-12 09:13] gkalpak commented on #17218
Update:
- The current color for top-level sidenav items (`#444444` on `#fafafa`) passes both WCAG AA and WCAG AAA.
- The current color for nested sidenav items (`#6e6e6e` on `#fafafa`) passes WCAG AA but not WCAG AAA.

[2019-07-12 09:17] luchsamapparat opened #31523 "Ivy: "Cannot assign to read only property 'ngPrivateData'" when running with JIT compiler"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/core

### Is this a regression?
Kind of, it worked without Ivy.

### Description
I set `enableIvy` to `true` in my app's `angularCompilerOptions`. When building with AOT, everything works fine. When starting the app with the JIT compiler, I get this error and the application stops working:

[code]

## 🔬 Minimal Reproducti

[2019-07-12 09:20] gkalpak commented on #27723
I checked again and there are no a11y isues reported on web.dev.
<sub>Again, this doesn't mean everything is perfect and it also only checks the homepage (so there might still be obvious issues on other pages). But it _does_ mean things have improved :tada:</sub>

As of #31414, we run a11y checks on several pages (not just the homepage) on CI, which will at least prevent regressions. Hopefully, we

[2019-07-12 09:20] #27723 closed

[2019-07-12 09:28] eamador commented on #13792
The @marco6 example can be found at https://stackblitz.com/edit/angular-e273lz

[2019-07-12 09:32] alxpsr commented on #23609
any workaround?

[2019-07-12 10:02] developper89 opened #31524 "style inconsistency between ng serve and ng build with fresh install"
Hello,
I wonder if i'm the only one experiencing this issue.
I noticed some differences between the html layout in dev mode with ng serve command and the final build with ng build --prod. The page seems to be enlarged as if it was scaled up during build phase.
I just installed angular starter project with : ng new angulartest command.
Here is my package.json file:
{
  "name": "angulartest",
  "ver

[2019-07-12 10:17] chrisnghs opened #31525 "Meta class addTag() with httpEquiv MetaDefinition adds incorrect attribute"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/platform-browser

### Is this a regression?

 Not sure, tested on latest version only

### Description

 this.meta.addTag({ httpEquiv: "Content-Security-Policy", content: "default-src 'self';" });
adds <meta **httpequiv**="Content-Security-Policy" content="default-src 'self';"> to HTML <header> attribute should be **htt

[2019-07-12 10:26] julianobrasil commented on #31424
Good to know! After following you fixing that one, I found a dependency (`ng2-file-upload`), that became the next issue during compilation. It's maintained by valor-software. I'm reporting it to you here because it's kind of old (it uses @angular@2.x.x). Honestly, it seems to to be abandoned (for this Ivy testing I've just replaced it by an updated version made available by another user of that li

[2019-07-12 10:40] YosiLeibman commented on #31425
smae issue, after adding @angular/material to my project,
1. i got error that @angular/animation not same version as @angular/core, so i updated (I'm using NPM).
2. I'm getting this error.

[2019-07-12 11:00] FilippoZerilli commented on #18751
Hi guys I fixed this Issue,
in your componenet you have to declare the animations.
Like this:

`animations: [
    trigger('dialog', [
      transition('void => *', [
        style({ transform: 'scale3d(.3, .3, .3)' }),
        animate(100)
      ]),
      transition('* => void', [
        animate(100, style({ transform: 'scale3d(.0, .0, .0)' }))
      ])
    ])
  ]`

if don't declare animations ,

[2019-07-12 11:03] petebacondarwin commented on #31424
ng2-file-upload is on our radar. See https://docs.google.com/spreadsheets/d/1TEawfLbWQjqTDst2Jrm2KF6udMVMjuKiz8LG4NPD7WQ/edit#gid=0

[2019-07-12 11:34] kumaresan-subramani opened #31526 "interpolation not working properly while dynamically change value"
# 🐞 bug report

**interpolation throws error while dynamically change value**

### Description

**I have tried to update value dynamically using interpolation but it throws below error:**

**I have created components like below :**

[code]

### Error:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/36756050/61124994-20a9f580-a4c6-11e9-94f4-c490fc4615d8.png)

## 🔬 Minimal Reprodu

[2019-07-12 11:43] coffeemesh commented on #13586
I guess I have to tell my client not to use the back button!

[2019-07-12 12:40] alxpsr commented on #23609
It helps me

[code]

[code]

[2019-07-12 12:46] mlc-mlapis commented on #31526
@kumaresan-subramani The behavior is expected. You change `rtedataSource`  twice in one CD cycle. For the first time here (to `undefined`), when `ejs-richtexteditor` child component is instantiated:
[code]
and for the second time here `public rtedataSource: string = "<p>One</p>";`.

[2019-07-12 12:52] kumaresan-subramani commented on #31526
HI @mlc-mlapis ,

You mean, while using **changedetection** it goes for **marforcheck**() then **ngonchange**() cycle starts so that issue wont occurs while using **change detection.**

Is it?

[2019-07-12 13:08] mlc-mlapis commented on #31526
@kumaresan-subramani I mean the order, in which the parent and its children components are instantiated and why the error `ExpressionChangedAfterItHasBeenCheckedError` appears when you run the app.

[2019-07-12 13:10] ndcunningham commented on #20575
I agree that HttpClientModule should only be imported in the root of the application and no external libraries.
However, it would be good to provide a mechanism at least at compile to know if a third-party library is breaking such practice. I don't know if there is one now atm. Which could help a vast number of people who have the unfortunate circumstance.

How i found out which library was using

[2019-07-12 13:12] kumaresan-subramani commented on #31526
@mlc-mlapis , Thanks 👍

[2019-07-12 13:27] pauldraper commented on #31355
That's a somewhat arbitrary distinction.

The idea is (1) I want to use DI, for better code architecture, which delegates responsibility to my parent to provide the code but (2) parents can wind up including code that is never used.

Right now, tree shaking works when the DI container is the root or lazily loaded root. It doesn't work for any other DI container (a component).

[2019-07-12 13:42] Domainv commented on #31418
@Splaktar @mhevery
After diving in-depth Angular I've found why it happens.
debugNode use event listeners which were parsed by Ivy and were monkey patched into nativeNode with  "__ngContext__[1].cleanup" field.
Ivy parsing only events listeners who used obviously.
But in our directive(popover) we use dynamically created event listeners and Ivy can't see them.

That's why
[code]
doesn't work.

Coul

[2019-07-12 13:58] pburkindine commented on #29361
For me at least the solution with a regular @nrwl/nx setup was just to add `"rootDir": "."` to the `compilerOptions` in `tsconfig.json`; thanks @james-criscuolo

On to the next error...

[2019-07-12 14:00] naveenkumarv183 commented on #22556
I am able to disable synchronously

with following code:
Object.keys(this.formGroup.controls).forEach(field => {
      const control = this.formGroup.get(field);
      if (control instanceof FormControl) {
        control.disable();
      }
    });

[2019-07-12 14:32] pauldraper commented on #31355
A common case would be routing: a parent component has no way of knowing whether the routed children do or not do use provided services.

[2019-07-12 14:33] jayoungers commented on #22556
I commented earlier about using a `setTimeout()`, but I think I have another solution:

Due to difficulties in testing my more complicated forms I made the constructor private, making it so you have to call a static method to create the form.  I believe setting the form as disabled in that method should resolve the issue as well.

[code]

Regarding the testing note, I went this route for situation

[2019-07-12 14:39] mirogrenda commented on #17606
Also from me a +1 for MODULE_INITIALIZER

[2019-07-12 14:51] dblVs commented on #31526
@kumaresan-subramani could you close the issue

[2019-07-12 14:55] Splaktar commented on #31418
As far as I understand, this is an area that is still undergoing some design considerations. It's very helpful that you have helped to identify the issue and related code. That should help with the triage process.

[2019-07-12 15:27] ofirrifo opened #31528 "HMR not work when enableIvy is true"
# 🐞 bug report

### Description
The HMR (hot module replacement) stop working when I set enableIvy to true.

## 🔬 Minimal Reproduction
1. Create any Angular CLI project
2. Configure project with Hot Module Replacement
3. add to `tsconfig.app `
[code]
4. start project
5. change any scss file

Now when enableIvy is true the page refresh and then I see a blank page.
then I manually refresh the page a

[2019-07-12 15:31] martinmcwhorter commented on #26972
I am seeing this issue with even with Ivy. This is a regression. Type Checking of unions of string literals were working in Angular 6.

Steps to reproduce:
[code]

add the following to the src/app/awesome/awesome.component.ts class
[code]
add the following to the src/app/app.component.html
[code]

run
[code]
No build errors are reported.

ng version
[code]

[2019-07-12 15:56] #31167 closed

[2019-07-12 16:00] #29861 closed

[2019-07-12 16:57] rezaee opened #31530 "Cannot find module './app.module.ngfactory'.ts(2307)"
I have uploaded my project here: https://github.com/rezaee/conFusion, actually it was an NativeScript-Angular project written in 2017 with version 5 or 6 that I tried to update it to Angular 8, and I did all the job but one file named `main.aot.ts` remained. In that file that has this content:
[code]
I get  `Cannot find module './app.module.ngfactory'.ts(2307)` error message. I tried `npm install

[2019-07-12 17:28] sabeersulaiman commented on #31525
Looks like a bug, one way can you can work around the issue is to use the following snippet
[code]

I can confirm the issue is persistent in v8.1.1, check this repo for [reproduction.](https://github.com/sabeersulaiman/angular-repro-httpequiv)

Seems like the issue is with how the Meta class calls the `setAttribute` method with the keys of the object. I would like to work on this issue.

An easy f

[2019-07-12 17:32] matsko commented on #31530
Sorry @rezaee. Unfortunately the issue doesn't follow our blueprint and doesn't have enough detail for us to be able to reproduce what's going on here. Please reopen a new issue and fill in everything so that we can have a look.

[2019-07-12 17:32] #31530 closed

[2019-07-12 17:52] rezaee commented on #31530
@matsko : But I put the link of the full project! I don't know what more information is needed, or what material is needed to reproduce the project when I put the full source code?

[2019-07-12 18:07] deadmann opened #31531 "Outlet not activated, at run, refresh, or sometimes errors"
# 🐞 bug report

### Affected Package

"@angular/router": "~7.2.0",

### Is this a regression?

I'm using the above version, and since i search a lot and non seem to be having same issue, i stop the search in case to do rest of things, but i really want to get rid of it

### Description

**Note: I had this issue from begin right after i create auth service and my first guard (auth guard)...**

Some

[2019-07-12 18:16] mvlad7402 commented on #30904
Looks good in Angular 8.1.1

[2019-07-12 18:41] jlfeld1 commented on #28857
This is also occurring in 8.0.0

[2019-07-12 19:19] bh3605 commented on #18155
I'm working on a workaround that extends off of the base HttpRequest object where additional properties are defined.

    export class HttpRequestExtended<T> extends HttpRequest<T> {
    public needAssessmentsToken: boolean;
    public service: any;
    public needAuthToken: boolean;

    public constructor(method: 'DELETE' | 'GET' | 'HEAD' | 'JSONP' | 'OPTIONS' | 'POST' | 'PUT' | 'PATCH',

[2019-07-12 20:03] sjtrimble opened #31532 "Improve bad URL experience"
# 📚 Docs or angular.io bug report

### Description

Per discussion in https://github.com/angular/angular/pull/31390:

Improve bad URL experience for users by giving them relevant data instead of 'no results found' for something they didn't _actually_ search for.

## 🔬 Minimal Reproduction

### What's the affected URL?**
Example: https://angular.io/lemonade

### Reproduction Steps**
Go to https://a

[2019-07-12 20:05] sjtrimble commented on #17218
This is SUPER old, we should be able to close.

[2019-07-12 21:04] gkalpak commented on #17218
But we still fail WCAG AAA for nested sidenav items (which is probably the least of our a11y issues, but let's keep this around for tracking anyway) :grin:

[2019-07-12 21:38] sjtrimble commented on #17218
Is that a requirement? I thought AA was the requirement, AAA was 'nice to have'?

Ok.

[2019-07-12 21:41] gkalpak commented on #17218
TBH, I don't know if we have made a decision on what our requirements are 🤷‍♂

[2019-07-12 21:57] #31265 closed

[2019-07-12 22:03] sjtrimble commented on #31494
1. I agree with the spacing.
2. Although I really like the subtle gray, it does not meet accessibility standards which is why we went darker. Therefore, I like having no numbers for these overview blocks.
<img width="721" alt="Screen Shot 2019-07-12 at 3 01 59 PM" src="https://user-images.githubusercontent.com/2958442/61160860-1a138200-a4b6-11e9-8165-d381cb4b0928.png">

I'll submit a PR for an upd

[2019-07-12 22:18] rt-gavrilov commented on #29361
@p3x-robot
this works in my case:
1. angular 8.2.0-next.1
2. appending `"rootDir": "."` to the `compilerOptions` in the root `tsconfig.json`
3. using index.ts like this:
[code]
BTW, thank you guys @pburkindine @james-criscuolo, you're my favorite

[2019-07-12 22:20] pauldraper opened #31534 "ES2015 + emitDecoratorMetadata causes Cannot access before intialization"
# 🐞 bug report

### Affected Package

@angular/core

### Is this a regression?

No, because I believe previous versions did not allow for ES2015 targets.

### Description

**angular.json**

## 🔬 Minimal Reproduction

https://github.com/pauldraper/angular-decorator-metadata

[code]

## 🔥 Exception or Error

<pre><code>
main.js:98 Uncaught ReferenceError: Cannot access 'AppService' before initializa

[2019-07-12 23:17] jasonaden commented on #30619
Thanks for the issue. I agree there's something wrong or at least misleading about this API. I'm not entirely sure what the best solution is though as there are a number of things to consider. Minimally it seems there should be a way to get access to the "never" value you provided in the "value" attribute.

[2019-07-13 00:10] vegaskev commented on #18680
I see a lot of people commenting and saying things like "this is a breaking change", or "when will this be fixed".  That said, I want to briefly notate the bottom of this thread so that when users get here, start scrolling through the answers and inevitably scroll to the bottom, they'll understand what's what and how to resolve without having to read through 802 million answers (which by the way,

[2019-07-13 04:03] TanvirArjel opened #31536 "markAllAsTouched method is not available in NgForm (Template Driven Form)"
In angular 8.1.1, `markAllAsTouched` method is only available in `FormGroup` and `FormArray` in case of Reactive Form. Its not available for `NgForm` in case of Template Driven Form.

Please take a look onto it!

[2019-07-13 04:12] virtualgithub opened #31537 "Live example broken"
# 📚 Docs or angular.io bug report

### Description

https://angular.io/guide/template-syntax
There is a live example from the official doc thats not working: https://angular.io/generated/live-examples/template-syntax/stackblitz.html

The live example error says:
Import error, can't find file: ./svg.component.svg

If I download the example and npm install it, I got the error:
ERROR in ./src/app/svg

[2019-07-13 04:35] santoshyadav198613 commented on #31537
Hi @virtualgithub ,
The problem is stackblitz does not support it. You can download it locally and run. Also there is already an issue logged with stackblitz.

[2019-07-13 04:41] virtualgithub commented on #31537
If I download the example and npm install it, I got the error:
ERROR in ./src/app/svg.component.ts
Module not found: Error: Can't resolve './svg.component.svg' in 'C:\Users\Elias\Desktop\New folder\src\app'

[2019-07-13 06:28] deadmann opened #31538 "Unsubscribe additions..."
# 🚀 feature request

### Relevant Package

https://angular.io/guide/http or maybe RxJs

### Description
I'm not sure, but as i just recently searched a lot and hear... right or wrong
unsubscribe abort the http process?

- [ ] if wrong: then we need a functionality to abort the actual process reducing client load and downloads
- [ ] if right: then what if i want to decrease the load on my server? a

[2019-07-13 06:44] p3x-robot opened #31539 "Ivy is not liking the @Host() decorator"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....
`@Host()` decorator is not working with Ivy.

### Description

 A clear and concise description of the problem...
I was using this (now I have to use a global variable to get this host as Ivy is not liking it):

## 🔬 Minimal Reproduction

[code]

## 🔥 Exception or Error
<pre><code>
core.js:7383 ERROR Error: NodeInj

[2019-07-13 06:50] pkozlowski-opensource commented on #31526
Sounds like a support request that got resolved. Thnx so much for helping out with the issues @mlc-mlapis !

[2019-07-13 06:50] #31526 closed

[2019-07-13 06:53] pkozlowski-opensource commented on #30973
Sadly I have to close this one as we haven't heard back with the reproduce scenario...

[2019-07-13 06:53] #30973 closed

[2019-07-13 06:56] pkozlowski-opensource commented on #30946
Sadly we haven't heard back with the reproduction scenario so I'm going to close this issue for now...

[2019-07-13 06:56] #30946 closed

[2019-07-13 09:00] luchsamapparat commented on #31523
I narrowed the issue down to the `strictStateImmutability` setting of `@ngrx/store` and the default router state serializer of `@ngrx/router-store`. With `strictStateImmutability`, ngrx makes everything in the store immutable. If you use the default state serializer of `@ngrx/router-store`, the router state in the store also includes the component instances (`routerState.root.firstChild...componen

[2019-07-13 09:00] #31523 closed

[2019-07-13 09:19] hadley8899 opened #31540 "michaelbromley/ngx-pagination with ivy"
# 🐞 bug report

### Affected Package
@angular 8.0.0 and 8.1.0 with ivy

### Is this a regression?
Works fine without ivy

### Description
When Ivy is enabled the package michaelbromley/ngx-pagination no longer works. It produces a console error as seen in the Exception or Error section

## 🔬 Minimal Reproduction
https://stackblitz.com/edit/angular-1nyivw

The project is setup here but IVY doesn't

[2019-07-13 09:25] googlicius commented on #20239
I also could not using `spread operator` and `Object.assign` in router resolve.

[2019-07-13 09:41] wmattei commented on #13590
Unused imports can cause this error..

[code]

[2019-07-13 09:51] JoostK commented on #31540
Hi @hadley8899,

thanks you for reporting! I had a quick go with your reproduction repo and even after upgrading to `8.2.0-next.1` I am able to reproduce. At first glance, only the `NgxPaginationModule` module from `ngx-pagination` is processed by ngcc, none of its components are processed and therefore not prepared for Ivy. So this does look like an issue in ngcc that we need to look into. Thanks

[2019-07-13 10:31] JoostK commented on #31540
ngcc is not dealing with the suffixed names like `__decorate$1` and `__metadata$1` correctly, which causes the package to be processed only partially. With a small fix to ngcc we can get it to work :)

<img width="294" alt="Screenshot 2019-07-13 at 12 28 34" src="https://user-images.githubusercontent.com/123679/61170475-d4b08c80-a569-11e9-99f7-35d20df80cc8.png">

I will work on a PR later this wee

[2019-07-13 10:59] hadley8899 commented on #31540
Awesome, that is great news :)

[2019-07-13 15:25] varadero opened #31560 "Ivy: enableIvy:true ng start rebuild causes custom directive not to be created"
# 🐞 Bug report

### Command (mark with an `x`)

[code]

### Is this a regression?

Unknown

### Description

When `"enableIvy": true` and using `npm start` - custom directives are not created if template file where they are used is changed and the project rebuilt.

## 🔬 Minimal Reproduction

- Create new app with Ivy enabled and add a directive
[code]
- Open the file `test-directive.directive.ts`

[2019-07-13 17:16] #31524 closed

[2019-07-13 17:44] sahrmann commented on #20439
I really do not get why this function is not implemented yet. It would make working with dynamic forms much easier, i.e., changes of certain values trigger removal or addition of certain controls.

[2019-07-13 18:28] enniob opened #31545 "Ivy Material menu error"
# 🐞 bug report

### Affected Package
I'm having an issue with the @angular/material/menu module.

### Description
I added the @angular/material/menu module to my application and now I get the following error when I run my application.

ERROR in node_modules/@angular/material/menu/typings/menu.d.ts:161:23 - error TS2314: Generic type 'ɵɵBaseDef<T>' requires 1 type argument(s).

161     static ngBas

[2019-07-13 18:36] johnchurchill commented on #23235
+1
I'm surprised this isn't currently possible in Angular, since it's core to Spring (i.e. @PostConstruct).

[2019-07-13 18:40] ernestlv opened #31546 "On bootstrap Angular calls addEventListener for popState but on Destroy it never calls removeEventListener"
In a SPA sometimes you bootstrap an Angular application then upon browser navigation you have to destroy the current application and bootstrap a new Angular application. All in the sampe page.

In this line, angular register a listener for the "popstate" and "hashchange" event using addEventListener:

https://github.com/angular/angular/blob/master/packages/platform-browser/src/browser/location/bro

[2019-07-13 19:00] JoostK commented on #31545
Hi @enniob,

this should have been resolved in 8.2.0-next.1, could you please upgrade to that version and try again? In general, the latest Ivy fixes are only available in the next releases, so using those is recommended for Ivy testing.

More info in #31160

[2019-07-13 19:00] #31545 closed

[2019-07-13 20:45] vahidvdn commented on #17004
Is there any update on this? Since it's a very common case for all projects.

[2019-07-13 20:55] enniob commented on #31545
thanks for the help. That worked.

[2019-07-13 21:36] montella1507 commented on #31538
you may use shareReplay of your Http subscription if i got you right.

[2019-07-13 23:13] jeandat commented on #21706
If I have a library not compiling with ivy, despite notifying the author, where should I notify the ivy team so that they could look at it too? Here?

[2019-07-14 00:55] leviathan009 opened #31548 "Virus "Atc4.detection" with Angular CLI and node.js"
Hi!

My Bitdefender installation issued a "Atc4.detection" virus found for "nodejs.exe" on the following occasions:

- When I installed node.js (downloaded from nodejs.org, checked sha256 sums, checked on virustotal.com, both fine)
- When I installed angular cli (npm i -g @angular/cli)
- When I created a new project (ng new foobar).

On an equivalent machine of mine this issue does not occur.

Has

[2019-07-14 02:13] ericmartinezr commented on #31548
As suggested in the issue you opened in node's repo (https://github.com/nodejs/help/issues/2012) this should be fixed in Bitdefender's side

[2019-07-14 02:51] deadmann commented on #31538
what I'm talking is in a term of my knowledge of subscription, which in all language we mean subscribe to some event object. the un-subscription process usually remove the event handler or the function from the calling back queues. so i could subscribe 2 time, and then i needed to unsubscribe two time too, to have no access point to the data, and data really becomes useless.

event.subscribe(x=>{

[2019-07-14 05:14] Splaktar commented on #25160
@gkaravitis it's already deprecated. It's not clear when it will be removed.

[2019-07-14 05:32] simeyla commented on #29965
I originally saw the behavior as a kind of cool way to add something to a global stylesheet that sort of 'belonged' to a component.

HOWEVER be very cautious doing this because it won't be loaded until the component is loaded - which can actually lead to some super confusing behavior - if for instance you style a certain angular/material control the style will magically appear once you load the co

[2019-07-14 05:35] simeyla commented on #25160
@Splaktar Let's see... As of today 533 repositories use it and 44k code files in github alone. I don't think it *can* go anywhere anytime soon!

Educating people for the best use cases is more important - eg. when to create a truly global style sheet, when to create a 'theme' style file and when to use it in a component tree (if absolutely necessary)

[2019-07-14 05:54] kuromukira commented on #30802
Hi, I'm getting this error. Created an app with angular 8 using `ng new`. Any updates on this?

[2019-07-14 07:18] Splaktar commented on #28125
Fixed URL from OP is https://next.angular.io/guide/libraries.

This is now highlighted at the bottom of the https://angular.io/guide/libraries page:
![Screen Shot 2019-07-14 at 03 03 12](https://user-images.githubusercontent.com/3506071/61180415-f5b5c380-a5e3-11e9-9f51-fa2f50b1f9d5.png)
Which links to https://angular.io/guide/elements.

Fixed in PR https://github.com/angular/angular/pull/28476 as

[2019-07-14 08:46] olaf89 opened #31549 "Wrong route guard (CanActivate) executed"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/router

### Description

Not activated route guard is executed.
I have following router structure:

/a/configuration
/dashboard

Where configuration is a lazy loaded module defined as below. When i navigate to dashboard configuration canActivate guard is being executed, which causes app user to be navigated to error pag

[2019-07-14 09:24] vahidvdn opened #31551 "Wildcard route with parameter"
# 🐞 bug report

### Description

When I use the path `path: '**'` for handling 404 page, it works fine. but I have a language parameter before each route. So I must have something like this:

[code]
But when I navigate to a url like this: `en/abcd` it gives me this error:

[code]

Any idea?

## 🔥 Exception or Error
[code]

## 🌍  Your Environment

**Angular Version:** 8.0.2

[2019-07-14 09:53] sic-sic commented on #12088
+1 for this feature

[2019-07-14 11:26] awalton3 commented on #29965
Looks like you can use :host ::ng-deep instead of ::ng-deep and it works. I had the same problem and this method solved the problem.

[2019-07-14 12:08] mlc-mlapis commented on #25160
@gkaravitis The things are removed usually 2 major versions after they are depreciated.

[2019-07-14 13:15] kapunahelewong commented on #28125
Got it. Thanks, @Splaktar. 🙂

[2019-07-14 13:15] #28125 closed

[2019-07-14 14:36] Splaktar commented on #25160
@mlc-mlapis https://angular.io/guide/deprecations#index has more specific information for planned removal of deprecations.

[2019-07-14 15:31] juninhocruzg3 opened #31561 "NG SERVE is missing modules when recompiling."
# 🐞 NG SERVE is missing modules when recompiling.

### Command (mark with an `x`)

[code]

### Is this a regression?

 No, It occurs only in ANGULAR CLI 8 generated app

### Description

 Generating an application with Angular CLI 8 and using ng serve, when editing any code, modules are lost when recompiling.

## 🔬 Minimal Reproduction

[code]

I also tried to import material manually but I get th

[2019-07-14 16:04] AlexKhymenko commented on #21706
@jeandat You can always help the other project and create pull request that fixes ivy problem.

[2019-07-14 19:08] FrancescoBorzi commented on #12409
This looks an important issue, and becomes more critical as your modules grow.

Ideally it should just be possible to run the `TestBed.configureTestingModule` inside a `beforeAll`.

That would be the most elegant solution.

[2019-07-14 19:09] FrancescoBorzi commented on #13963
are there any news about this?

[2019-07-14 19:29] gkaravitis commented on #25160
@mlc-mlapis @Splaktar So after investigate it a bit and with your valuable contibution we decided that its best even on css level to have separation of concerns. We planned to refactor our code and omit the :ng-deep.

[2019-07-14 20:02] matheo commented on #25574
I'm having this issue with `yank link`ed and `hmr` reloaded module, which I think is a recipe to trigger this conflict.

[2019-07-14 20:30] JoostK commented on #31539
Hi @p3x-robot,

I suspect you are experiencing the following [known breaking change](https://docs.google.com/document/d/1Dije0AsJ0PxL3NaeNPxpYDeapj30b_QC0xfeIvIIzgg/preview):

Strictly speaking, this is actually a bug fix compared to ViewEngine (VE). The reason is that in VE, the `@Host` restrictions are fully applied during compilation—_not_ runtime—as part of compiling the element that hosts the

[2019-07-14 20:48] mmatthews06 commented on #12398
Has there been any movement on this? I understand the benefits of TypeScript, are they really being tossed out the window in half the framework's code? Is there a sort of workaround for this?

[2019-07-14 22:26] pauldraper opened #31556 "Type check directive template context"
# 🚀 feature request

### Relevant Package

@angular/compiler

### Description

Template contexts appear not to be checked.

[code]

There is zero checking for the type of `d`.

Example: https://github.com/pauldraper/angular-template-context I would like `ng build` to fail.

### Describe the solution you'd like

Template context types are type checked.

### Describe alternatives you've considered

[2019-07-14 22:47] pauldraper commented on #20600
Not only it is observed in 4, *it was introduced in 4.*

In other words, this is a regression currently headed into its 28th month of life.

With how easily this got by the regression tests, it's amazing that Ivy is taking as long to pass them as it is.

[2019-07-15 00:07] moriciogithub opened #31557 "Quality of documentation"
# 📚 Docs or angular.io bug report

### Description

 A clear and concise description of the problem...

**1. Using obscure declarations to explain obscure concepts is a horrible way of writing documentation.
2. The use of line numbering added to source code, adds a terrible experience to the horrible documentation
3. The use of code snippets outside of real examples make them useless! Where do thi

[2019-07-15 03:41] liheb opened #31558 "Import error, can't find file: ./svg.component.svg"
![Capture](https://user-images.githubusercontent.com/52902620/61194770-e1f68400-a6ed-11e9-9fda-9c5a85156e08.PNG)
![Capture](https://user-images.githubusercontent.com/52902620/61194776-e7ec6500-a6ed-11e9-9bce-f42873e0274b.PNG)

# 📚 Docs or angular.io bug report

### Description

 Import error, can't find file:
./svg.component.svg

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://s

[2019-07-15 03:46] santoshyadav198613 commented on #31558
Duplicate of #31537

[2019-07-15 03:47] santoshyadav198613 commented on #31537
Hi @kapunahelewong ,

I will look into it.

[2019-07-15 04:26] Airblader commented on #31557
The Angular team may well see this differently, but personally I never understand why someone without any experience would or should "sit down in front of Angular" — or any other frontend framework — and be able to understand it.

If you have no experience, you should focus on learning basics of the language before diving into a complete frontend framework, IMHO, the same way you don't become a ra

[2019-07-15 04:48] alexzuza commented on #31556
Angular Ivy type-checking system uses `Partial` and `Pick` built-in TypeScript types. They are declared in `lib.es5.d.ts` which means that you have to provide at least `es5` in `lib` option of your `tsconfig.json` file:

[code]
Once you've done, the compiler will be executed without any errors.

**Why?**
Angular Ivy type-checking system for ngIf only supports ngIf guard but not template context gu

[2019-07-15 05:06] magneticflux- commented on #31512
I have encountered this as well. My `package.json`:
[code]

It works correctly using Angular `8.1`, but then I encounter #31160 instead so I'm forced to use Angular `8.0` for everything to work right again.

[2019-07-15 05:16] santoshyadav198613 commented on #31537
Hi @kapunahelewong ,

In example zipper, we are not including .svg added it.

[2019-07-15 05:28] santoshyadav198613 commented on #31549
Can you provide reproduction to check.

[2019-07-15 05:43] JoostK commented on #31556
@alexzuza thanks for the explanation! :-) Would you be able to open a PR with your proposed changes?

@pauldraper I would be interested to know how you ended up without `lib.es5.d.ts`, if that is indeed the cause of the Ivy error. The reason why I'm asking is that perhaps we should not assume that these typings are available and have the type checker output its own definitions.

[2019-07-15 05:50] alexzuza commented on #31556
Will do

[2019-07-15 06:01] JoostK commented on #31539
What I meant by dynamically inserted components is components that are instantiated by the router, in this case. So yes, the component itself can be AOT compiled, however this compiled component can be dynamically inserted during runtime [using APIs such as ViewContainerRef and ComponentFactory](https://angular.io/guide/dynamic-component-loader). This is exactly what the router does: based on the

[2019-07-15 06:08] olaf89 commented on #31549
My bad I got ConfigurationModule imported in AppModule.

[2019-07-15 06:08] #31549 closed

[2019-07-15 06:09] santoshyadav198613 commented on #31521
Hi @MrMime ,

I tried to check your code, and there is nothing wrong in Angular Router.

You can refer to https://github.com/santoshyadav198613/June-LIPS-Angular repo where I have used the same concept.

For login rely on Guards.

[2019-07-15 06:12] santoshyadav198613 commented on #31551
Hi @vahidvdn ,
Can you share your routes config, the wild card routes should be last, otherwise it will handle all the request.

[2019-07-15 06:36] kumaresan-subramani commented on #31526
HI @pkozlowski-opensource ,

But i have one more issue,

If i use interpolation to bind value in ng-template, my tooltip positioning got misplaced

Any idea about this?

Issue sample - [click here](https://stackblitz.com/edit/angular-vavoqp?file=src/app/app.component.ts)

But with out interpolation sample working fine. please refer below sample:

Sample - [click here](https://stackblitz.com/edit/a

[2019-07-15 06:49] JoostK commented on #31539
Why not remove the `@Host` decorator? It will bring you in the same situation as was the case without Ivy.

[2019-07-15 06:52] MrMime commented on #31521
Hi @santoshyadav198613
In my code after login, if you press the Locations Links, the URL change but Location Component is not loaded. This because Angular still trigger the original router-outlet in !logged if inside app.component.html and not the one in Layout component.

[2019-07-15 06:57] santoshyadav198613 commented on #31521
When you work with routing angular will always find the router-outlet and append our data after the first router-outlet.

In you case you want to nest second router-outlet, there are 2 ways by using children or use named routes https://angular.io/guide/router#displaying-multiple-routes-in-named-outlets.

[2019-07-15 07:11] #31539 closed

[2019-07-15 07:24] ayyash commented on #21115
I think the confusion for me was that child components wrapped inside ng-containers that listen to param changes do NOT automatically reload themselves... when you would logically expect them to. I wonder how angular is made to ignore container changes like that

template
[code]

component
[code]

Of course the solution is to force children to "listen" to property change by a setter, which makes i

[2019-07-15 07:30] vahidvdn commented on #31551
Hi @santoshyadav198613. Here you are:

[code]

[2019-07-15 07:40] mlc-mlapis commented on #21115
@ayyash The `ngOnInit` is run only when a component is instantiated.

[2019-07-15 07:42] #31558 closed

[2019-07-15 07:50] varadero commented on #31561
Probably the same problem (most likely related to Ivy) as described in https://github.com/angular/angular/issues/31560

[2019-07-15 07:55] varadero commented on #31560
Please close this if similar to (or same as):
https://github.com/angular/angular/issues/31560
https://github.com/angular/angular/issues/31512

[2019-07-15 08:32] vagonpidarasov commented on #29220
Same here:

[code]

[code]

[2019-07-15 09:13] DWS-paris commented on #28652
Hello there, I din't find the way to get my routes params while I try to use it with RouterLinkWithHref in my header (I use the 7.1.0 version with the CLI). It's strange for cause I do it really often but now, no params appear if I'm not in the main component page ( under the router-outlet in a lazy load router ). Is there a way to get the param in the same way that

[code]

Regards, Julien

[2019-07-15 09:23] Thami747 opened #31562 "start and stop a gif"
I would like to know if there is a way to start(play) and stop a gif when required.
I would like to play a gif for x-number of seconds and be able to stop it.

[2019-07-15 09:28] gkalpak commented on #31560
Thx for reporting this (and for looking for similar issues) :+1:
I am going to close this once, since (a) it uses older than `@next` versions of the Angular packages and (b) it does indeed look similar to #31512.

Please, follow #31512 and open a new issue if your problem is not fixed by the fix for #31512.

[2019-07-15 09:28] #31560 closed

[2019-07-15 09:29] gkalpak commented on #31561
Thx for reporting :+1:
I am going to close this, since it does indeed look similar to #31560 (and thus #31512).

Please, follow #31512 and open a new issue if your problem is not fixed by the fix for #31512.

[2019-07-15 09:29] #31561 closed

[2019-07-15 09:30] gkalpak commented on #31512
Mentioning likely related issues for context: #31560, #31561

[2019-07-15 09:40] hpawe01 commented on #26009
@joesleiman I would recommend, that you check first, if the `withCredentials` property is already set. I just lost some time in debugging, why my http request wasn't considering my `withCredentials: false` config:
[code]

[2019-07-15 09:52] diamond2010 commented on #26020
Hi @all,
i have the same problem. Itryed already source-maps:true and the problem stays the same. Reporting is not accurate.

Heres my configuration:

##angular-cli

[code]
{
  "name": "web",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "grunt && ng build --prod",
    "build-dev": "grunt && ng build --extract-css --watch --aot --output-hashing=bundles"

[2019-07-15 09:55] petebacondarwin commented on #20600
The new compiler (supporting ivy) type checker is more restrictive and should enforce these type constraints on `@Input()` properties. Can you try compiling with full type checking and ivy enabled?

[2019-07-15 11:29] tim-kuteev commented on #23302
@macjohnny @Paduado this behaviour is considered by design, you have to look at the animation **query** to animate child.

This is what worked for me:
https://github.com/angular/angular/issues/20823#issuecomment-372636115

Define the trigger:

[code]

And apply it to the parent element:

[code]

[2019-07-15 11:29] gkalpak commented on #31557
As @Airblader said, this report is unfortunately not actionable.

FWIW, we have a couple of fixes related to "line-numbering in code snippets" in the works: #31493, #31494
Also, most code snippets are extracted from actual, running mini-apps (with tests to ensure they keep working as intended) and most guides provide links to the corresponding full example app (both as an online StackBlitz project

[2019-07-15 11:29] #31557 closed

[2019-07-15 11:56] ayyash commented on #21115
@mlc-mlapis thats where the confusion comes from, from my background in web, requesting a new url should reinitialize, right now, I must hide the component and show it again to force it, I wish there was a cleaner easier way (easier than making getters and setters and observables for child components), I thought 'onSameUrlNavigation' would fix it, apparently not.

[2019-07-15 12:25] PrimosK opened #31563 "Default Content-type entity header for JSON differs between Angular vs AngularJs"
**IMPORTANT**
This is not necessarily a bug. Primarily I am just trying to gather some additional information about different behaviour of AngularJs (`$http`) and Angular (`HttpClient`) APIs.

Please note that I've asked the same question on SO and Gitter but haven't received any answers so I decided to ask it there:

In AngularJs the default `Content-type` for `JSON` request is set like:

`Conten

[2019-07-15 12:39] Akxe opened #31564 "Running ng update on codebase with projects fails"
# 🐞 bug report

### Affected Package
@angular-cli

### Is this a regression?

No, yet it is part of `ng update`.

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction
Updating code with project(s) results in updating only its `.specs.ts` files...

## 🔥 Exception or Error
All `.spec.ts` files and files in `src` get updated, but none of the files within `pro

[2019-07-15 12:46] ocombe commented on #31465
Do you have an example where this is an issue for view engine?
`setLocaleId` is only used for ivy code, and this piece of code is only there temporarily to allow runtime i18n (for ivy) to work with the current view engine code until we have the new i18n service available.

[2019-07-15 12:49] ericmartinezr commented on #31562
Srsly?...

Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://

[2019-07-15 12:50] bamblack opened #31565 "Angular Hybrid App - Upgraded Component with Template Function not receiving $element or $attrs"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/upgrade/static

### Is this a regression?

Not sure

### Description
An upgraded component that uses a template function doesn't receive the `$element` or `$attrs` arguments

## 🔬 Minimal Reproduction
https://stackblitz.com/edit/angular-hybrid-upgrade-aq2wkx?file=ng1%2Fng1-demo.component.ts

## 🌍  Your Environment

**Angu

[2019-07-15 12:54] wondering639 commented on #15531
I doubt it: One can use the developer tools to see that even Angular 8 still adds novalidate to the form tag. So any validation isn't used anyways. Yet I'd also be happy about an official statement about this and a correction of the documentation.

[2019-07-15 13:03] #31562 closed

[2019-07-15 13:58] yanqiw commented on #15763
this one save me.

[2019-07-15 14:57] mlc-mlapis commented on #21115
@ayyash Not sure about you concrete case conditions, but there are different settings for using `onSameUrlNavigation`, which allows you to re-run guards and resolvers to re-init the same component instance, instead of destroying and re-instantiating it. All are based on the subscriptions to the changes on URL. The real difference is mainly in our thinking. Angular generally prefers reactive ways,

[2019-07-15 15:02] Tipster74743 opened #31567 "currency pipe not converting IDR to Rp"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/common

### Is this a regression?
No

### Description
`currencyCode` for 'IDR' is not converting to 'Rp'. Other currencyCodes are working but when passing in Indonesian rupiah, instead of getting 'Rp' it is showing as "IDR".

## 🔬 Minimal Reproduction
![image](https://user-images.githubusercontent.com/16975474/61225945-34

[2019-07-15 17:02] fromage9747 commented on #17572
@acidghost Thank you for that link, it solved my problem.  I actually had given up on trying to fix it in one area of my application but when it started happening again in a new area...

[2019-07-15 17:26] ayazhafiz commented on #31299
Closed by 604d9063c5167189f178849525154c804d925e43.

[2019-07-15 17:26] #31299 closed

[2019-07-15 17:26] stweedie commented on #31108
Could we get some clarity on this? Ivy won't tell us at build time if we are referencing a component that is not declared by current module or exported by one of current module's imports?

also, the linked issue is a different story entirely; If I am not referencing a component anywhere, why would I need to declare it?

[2019-07-15 18:06] rip222 opened #31570 "Components not rendered when added to other components when Ivy is enabled"
# 🐞 bug report

### Description

I created a new project with `—enableIvy` flag. Worked fine until I created a new component using the cli, and added the component to the app component, while the app was being served. On live reload the new component was not rendered, although the dev tools showed that it was there. So I had to “re-serve” the app for the new component to appear in the app.
Moreove

[2019-07-15 18:53] alexzuza commented on #31570
Appears related to https://github.com/angular/angular/issues/31512

[2019-07-15 19:02] rip222 commented on #31570
are you sure? My app produces no errors

[2019-07-15 19:17] abarghoud commented on #30827
Hello @jasonaden, I am taking this one.

[2019-07-15 19:24] leviathan009 commented on #31548
Bitdefender did reply and they recommended to release the file from virus quarantine and use it regularily.
So...here I go I guess.

[2019-07-15 19:26] #31548 closed

[2019-07-15 20:33] greggbjensen commented on #12251
Is this issue going to be addressed?  It seems like we want to be able to use both ViewEncapsulation.None and AOT.

[2019-07-15 20:34] icenold commented on #19408
i can confirm this is not a TS error
![image](https://user-images.githubusercontent.com/16298042/61247083-9a7ff000-a70d-11e9-944f-478372b05a8f.png)

[2019-07-15 20:50] #31537 closed

[2019-07-15 21:35] #22524 closed

[2019-07-15 21:43] abarghoud commented on #29816
I would like to take this one too

[2019-07-15 22:01] coderbase-it commented on #27389
Any update on it ? Exposing this kind of enum would be create for avoiding magic string like
status === 'VALID'

[2019-07-15 23:52] #21729 closed

[2019-07-16 01:58] LayZeeDK commented on #31355
Sure, 14 days later even I am struggling to figure out what I meant.

What I meant was that pre-Angular 6 we would have providers in Angular modules. That meant that there could be a reference to a service even without it actually being used in the application.

Using `Injectable` or `InjectionToken`, we only have references to the dependencies if other dependencies or declarables (components, dir

[2019-07-16 03:03] alexzuza commented on #31314
@lwensveen Can you please provide a minimal reproducible example of your case?

[2019-07-16 03:08] alexzuza commented on #31401
Hey,
unfortunately I couldn't reproduce this issue with the code you provided.
Can you please create a minimal reproducible example as a clean github repository?

[2019-07-16 03:47] callmeblessed opened #31579 "ng build run twice ? (angular 8.1.1)"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

Ng Build run twice ?
is it normal ?

![angular-build-twice](https://user-images.githubusercontent.com/81192/61264405-af648e00-a7b6-11e9-83b7-de78696b22fe.png)

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....
just upgraded to v 8. v7 just compiled and build once.

#

[2019-07-16 03:51] santoshyadav198613 commented on #31579
This is a feature called differential loading.
Now we generate 2 bundles for es5 and es2015 respectively to serve smalled bundles on new browsers.

[2019-07-16 04:29] bharathism04 commented on #31425
![image](https://user-images.githubusercontent.com/17472606/61265924-33674780-a7b0-11e9-8138-c77625543862.png)

this error when i am using ngx-mat-file-input concept
please tell the solutions

[2019-07-16 04:49] ayyash commented on #21115
@mlc-mlapis im just saying why everyone expects something different, seeing you taking a lot of hits on this thread, this is what we understood, but that is what angular had in mind. Reload, really means reinitialize everything on page... hmmm, not so fast says angular.

[2019-07-16 05:18] inunotaisho26 opened #31580 "Deno support or Deno rewrite pilot"
# 🚀 feature request
Would like [Deno](https://deno.land/) runtime support.

### Description
This is a new runtime that has was created by [Ryan Dahl](https://en.wikipedia.org/wiki/Ryan_Dahl), the original creator of [NodeJS](https://nodejs.org/en/). It has several new advantages:

- Use of Promises
- Uses TypeScript out of the box
- no need for node_modules
- uses urls to load dependencies (might

[2019-07-16 05:25] santoshyadav198613 commented on #31580
Hi @inunotaisho26 ,
Thanks for this feature request, but remember Angular uses Typescript. This feature request will be a good fit for Typescript but not Angular.

[2019-07-16 05:26] trotyl commented on #31580
It's spamming.

+ https://github.com/facebook/react/issues/16140
+ https://github.com/vuejs/vue/issues/10274
+ https://github.com/emberjs/ember.js/issues/18204

[2019-07-16 05:27] #31580 closed

[2019-07-16 05:52] swapnilp0x00 commented on #15041
@jodinathan @EkiGui
I made my pipe accept a parameter and always passed `myService.appLang$ | async ` as the parameter value. This did the trick for me.
`<p> {{ value | myLangPipe: (myService.appLang$ | async) }}</p>`
whenever I change the language using `myService.appLang$.next('en')`, my pipe executes transform block.

[2019-07-16 06:22] gkalpak commented on #31579
Duplicate of angular/angular#30849.
Basically, it is intentional. See https://github.com/angular/angular/issues/30849#issuecomment-498715137 for more info.

[2019-07-16 06:22] #31579 closed

[2019-07-16 06:42] trotyl commented on #31567
It's the expected behavior, [in `symbol` it's defined to be `IDR` and in `symbol-narrow` it's `Rp`](https://github.com/unicode-cldr/cldr-numbers-full/blob/23c17f05023c33c1a25a4527f1f76fe756d231f8/main/en/currencies.json#L766-L771):

[code]

If you strongly believe that CLDR is wrong, please report to http://cldr.unicode.org/index/bug-reports

[2019-07-16 06:48] michaelholzknecht opened #31581 "Angular PWA not load all files from cache"
Hello,

I'am working on a Angular 8.1.0 PWA and when I test it offline on a device the .svg and font files got not loaded from the cache – png files work fine! If i check it with Chrome inspect the files are listed in "Application -> Cache Storage" but the service worker can not load it.

Here the error from the console.log

`ngsw-worker.js:596 Uncaught (in promise) Error: Response not Ok (fetchAn

[2019-07-16 06:49] elias-garcia commented on #31465
Hi @ocombe! That code is intended to being used by Ivy, but it's not. We've only updated Angular version from 7.2.15 to 8.1 and the app our app was broken (we haven't enabled any Ivy flag). We are setting the `LOCALE_ID` with a property `currentLocale` from a `LocaleService`. That property is being set from a backend call using the `APP_INITIALIZER` token, so the application does not even start, b

[2019-07-16 06:52] trotyl commented on #31108
As `NgFactory` wrapper is gone, a component can indeed be used imperatively without being declared in any NgModule, why do you think it's an issue?

[2019-07-16 07:12] ocombe commented on #31465
Is there an error or something? Without a repro it's hard to figure out what's going wrong.

[2019-07-16 07:31] wottpal opened #31582 "Auto-Emitting @Output-Variables"
# 🚀 feature request

### Relevant Package
This feature request is for `@angular/core`

### Description
If I have a variable which is an `@Output` as well I often have code code cluttered like:

[code]

My first approach to make this more DRY was creating setter/getter-methods for `isLoading` and `isLoadingChange` which automatically emit on `set`. This quickly became unsatisfying as a lot of boile

[2019-07-16 07:31] pacoita commented on #31316
I had the same issue and I can confirm that the suggestion of @gkalpak  🎉  fixes the problem 🎉 :, allowing the service worker to serve the assets properly.

The property "start_url" in the `web manifest` file has still to be modified manually to match the baseHref though.

[2019-07-16 07:58] gkalpak commented on #31316
@pacoita, could you open an issue on the [cli repo][1] about the `start_url`?
You shouldn't need to manually update it.

[1]: https://github.com/angular/angular-cli

[2019-07-16 08:24] ayoubkhan558 opened #31583 "Does not use HTTP/2 for all of its resources"
**I want to serve all my assets in http2**
Em suing Angular7 with ionic 4.

![image](https://user-images.githubusercontent.com/20210961/61278023-d0d07480-a7cc-11e9-9a40-f93e5f6c3571.png)

**What I can do?**

[2019-07-16 08:33] gkalpak commented on #31583
This is related to the server you use and its configuration. It has nothing to do with Angular.
I would suggest looking at the documentation or asking in support forums specific to the server you are using.

[2019-07-16 08:33] #31583 closed

[2019-07-16 08:47] pacoita commented on #31316
@gkalpak sure, I will do it.

[2019-07-16 08:47] callmeblessed commented on #31579
just knew this.
should it be a text saying compiling for es5 and esxxxx while ng build prod so we are not freaking out about this ;) [our mistakes for not reading new features in angular 8]

[2019-07-16 08:48] jasedwards commented on #31465
I think [this](https://stackblitz.com/edit/angular-nkerqf) reproduces it.  the localeId is used before APP_INITIALIZER runs

[2019-07-16 08:55] elias-garcia commented on #31465
As @jasedwards said, the project was using Angular 7.x.x... So i cannot post a repro. The error is that we are trying to set `LOCALE_ID` to the value from the service and then convert it to lower case. So, as the locale has not yet been recovered from the backend, it throws an exception `Cannot read property 'toLowerCase' of undefined`.

[2019-07-16 09:13] ocombe commented on #31465
oh I see ! Thanks I'll fix that

[2019-07-16 09:19] gkalpak commented on #31581
It should work as expected. We cache both SVG files and fonts in angular.io (which also uses `@angular/service-worker`) and they work fine offline.

So, it must be something in your setup. What does [/ngsw/state][1] show after a failed SVG request?
(Is there any chance the served files would be different than the ones found in the `dist/` directory after `ng build` (e.g. optimized, normalized whit

[2019-07-16 09:19] #31581 closed

[2019-07-16 09:23] gkalpak commented on #31579
@callmeblessed, that sounds like a good idea. Can you create a [feature request for the cli][1]?

[1]: https://github.com/angular/angular-cli/issues/new

[2019-07-16 09:42] gizmodus commented on #29371
I have the same problem in IE11 in Angular 8.1.0: The animation seems to get stuck in a "animation-play-state: running;" state.
Replacing "display: none;" with "height: 0;" seems to fix the problem.

[2019-07-16 09:45] ecureuilpop opened #31584 "Downgraded component example"
# 📚 Docs or angular.io bug report

### Description

Where is a clear example of downgraded component with outputs/inputs in angular io ?

## 🔬 Minimal Reproduction

https://angular.io/api/upgrade/static/downgradeComponent#downgradecomponent

### Reproduction Steps**
Read the doc

### Expected vs Actual Behavior**
Expected: Having a code repository with a working code
Actual:
 // This directive wil

[2019-07-16 09:45] bennadel commented on #31314
I still get this in error in `8.2.0-next.0` as well. And, what I realize is that it is not specific to the **Animations** module. I was also getting it when I tried to pull in the **HTTPClient** module as well. I wonder if it is any module other than the base browser one?

[2019-07-16 10:19] michaelholzknecht commented on #31581
Thanks for your fast replay ... here the log form ngsw/state

[code]

[2019-07-16 10:32] aguadotzn opened #31586 "[i18n] Unexpected character "EOF""
# 🐞 bug report

### Affected Package
I can not pin-point any package because I'm not sure about it.

### Is this a regression?
I think was not working in previous versions but i'm not sure 100% about it.

### Description
I'm trying to internationalise an application. I create a `<span>` and put several information there. When we have info that starts with '(' the compilation fails.

## 🔬 Minimal R

[2019-07-16 10:39] michaelholzknecht commented on #31581
I checked the files names in the dist/assets folder, they seem to be ok. Here another log ...

[code]

[2019-07-16 10:44] gkalpak commented on #31581
Is this right after a failed SVG fetch? I would expect the SVG url to be in the logs.

[2019-07-16 10:51] michaelholzknecht commented on #31581
yes, i started the pwa in the browser offline and when navigated to the page where the svg's are not loadet, I entered the /ngsw/state to the route ...

[2019-07-16 10:53] michaelholzknecht commented on #31581
I also tried, that I uploaded the assets folder from the src/assets not from the dist/assets to be sure the the filenames are ok.

[2019-07-16 10:55] zimcoder commented on #31425
That code snippet seems incomplete.. it's not making sense to me.

[2019-07-16 10:56] zimcoder commented on #31425
Getting the same error, whats going on?

[2019-07-16 11:31] ankurshah32 commented on #31521
Hi

I am also facing this kind of error please have a look at the updated code.
[](https://stackblitz.com/edit/routerafterloginbug-zztqzn)
I have created the child routes in page folder

Observation:
if you are reloading the below url in stack-biltz routing works.

but when come from login page URL changes to this

but UI did not change

Can you please let me know where i am going wrong?

[2019-07-16 11:43] acteralex commented on #31425
I have the same issue (not an ionic, pure angular app).

[2019-07-16 11:48] Zory1 commented on #21564
I had similar issue when working on custom validator. Custom validator had name 'mustMatch', so if validation did not pass, I would do `control.setErrors({mustMatch: true})`.
And then, when control passed validation I would have this:

`  if(control.errors && control.errors.mustMatch) {
                delete control.errors.mustMatch;
            }`

This would ensure that mustMatch error is not s

[2019-07-16 12:20] QuantariusRay commented on #31567
I think you're right @trotyl. Looks like I missed that. Thanks for the clarification.

[2019-07-16 12:53] iamruslanbakirov commented on #12121
Hi guys!
I have same issue, my workaround setup like a property
*strDir="[onAnimationStart, onAnimationDone]"

and inside directive use @Input() set strDir(args) {
  // subscribe your event emmiter
}

[2019-07-16 13:10] akopchinskiy commented on #27531
`import 'core-js/es7/reflect';`
It's not working.
`Module not found: Error: Can't resolve 'core-js/es6/reflect'`
`Module not found: Error: Can't resolve 'core-js/es7/reflect'`

`core-js  v3.1.4`

[2019-07-16 13:37] jonfasking commented on #19417
I had a slightly different problem so I'll drop it here in case anyone else runs across it.

I had recently spun up an v8 project, and ran into the high memory issues when compiling for prod [https://github.com/angular/angular-cli/issues/13734](url) . Could not figure out a solution I was happy with so reverted back to v7. The projects generated for v8 have a different transpile targets in the tsc

[2019-07-16 14:31] popsovy opened #31587 "Multiple instances of a web component with routing"
I created a simple component with routing and bootstrapped this component using Angular Elements. I then included multiple instances of the resulting web component on a page:

Here is the demo: http://routerissue.s3-website.us-east-2.amazonaws.com
Here is the source: https://github.com/popsovy/RouterIssue

The problem is that only the last component receives the router-outlet, meaning it doesn't m

[2019-07-16 15:04] 4oo opened #31588 "Error Stack as rewritten by Zone.js not recognized by Stackdriver"
# 🐞 bug report

### Affected Package
The issue is caused by the zone.js package

### Is this a regression?
Not to my knowledge.

### Description

TL;DR Zone.js rewrites the error stack in a way that stackdriver doesn't recognize and event reports are bounced with 400 errors.

Zone.js rewrites the `stack` property on errors to be zone aware:
https://github.com/angular/angular/blob/3166cffd28e12d882

[2019-07-16 15:12] stweedie commented on #31108
Now, I don't think it's an issue. I was unaware that Ivy removed the need for any declaration, which is awesome! I see now what robwormald meant about it being a feature.

[2019-07-16 15:30] #31139 closed

[2019-07-16 15:40] michaelholzknecht commented on #31581
Now I tried it it with a complete fresh installation and still the same problem, here the steps I did:

-> ng new testproject
-> ng add @angular/pw
-> I replaced the Angular Demo logo with the a downloaded svg file
-> <img width="300" alt="Angular Logo" src="./assets/logo.svg">
-> ng build --prod
-> uploaded the dist folder to the server
-> visit the page and install the pwa
-> the svg image is sh

[2019-07-16 15:43] michaeljota opened #31589 "Forms does not set option selected attribute on select elements."
# 🐞 bug report

### Affected Package

The issue is caused by package `@angular/forms`

### Is this a regression?

 No, I don't think it ever worked.

### Description

When using Forms, either template or reactive, none of the `option` elements inside a `select` element is marked as `selected`. Because how Angular does the binding, this works most of the time, but doing a simple `reset` on the form

[2019-07-16 16:09] puku0x opened #31590 "Expand button regression"
# 📚 Docs or angular.io bug report

### Description
The expand button is not rendered correctly on mobile since v8.

## 🔬 Minimal Reproduction
See, for example, https://angular.io/guide/displaying-data on mobile device.

### What's the affected URL?**
Every pages using `<aio-toc />`
 https://angular.io/...

### Reproduction Steps**
Go to any page with toc on mobile.

### Expected vs Actual Behavior

[2019-07-16 16:55] jelbourn commented on #31588
FYI @JiaLiPassion

[2019-07-16 17:05] #29878 closed

[2019-07-16 17:30] akopchinskiy opened #31592 "Compiler DI errors are difficult to interpret"
**Angular debugging is bad**

Best example:

[code]

How i'm suppose to know what exact **parameter** is cannot be resolved and why?

[code]

Why it points me to his modules instead of error in my code?
[code]

My code is only in `app.main.ts:15` and that is only application entry:
[code]

So it clearly tell me: "The problem is somewhere in your app, but I don't give a **** where it's exactly".

[2019-07-16 17:47] guiferrpereira commented on #13764
any news?

[2019-07-16 17:52] zanate4019 commented on #30835
@btey I don't see anything in the link you provided that suggested target should be es5.  Instead the example there shows es2015 (which is es6).

[2019-07-16 17:57] sharikovvladislav commented on #25037
What do you want to solve using such injector? @dhavalpowar

[2019-07-16 17:59] petercunha commented on #31579
@gkalpak this should only be done for `ng build --prod` because it's a minor optimization that doubles the compile time for development.

Is there a command line flag we can use to disable this?

[2019-07-16 18:26] 87182485 opened #31593 "Migrating to ChangeStrategy.OnPush makes performance even worse."
We have a real content Single page application that is not fully adopting `ChangeDectionStragtegy.OnPush`, but after I update the component `ChangeDectionStrategy` to `OnPush`, it makes the performance even worse.

I am comparing by `ChangeDetectionPerfRecord` (ng.profiler.timeChangeDetection)

*** before ***
[code]

*** after ***
[code]

Another extreme case

*** before ***
[code]

*** after ***

[2019-07-16 18:30] JoostK commented on #31593
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2019-07-16 18:30] #31593 closed

[2019-07-16 19:18] Airblader commented on #31592
Feel free to send a PR to improve this. If you had ever written a compiler you'd understand why it's so hard to give good error messages. But complaining is easier, I get it.

[2019-07-16 19:49] mcalmus opened #31595 "ReferenceError: ngDevMode is not defined"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/core

### Is this a regression?

 Not sure

### Description

 A clear and concise description of the problem...
If there are compilation errors in a template (while using "ng serve"), I am seeing the error "ReferenceError: ngDevMode is not defined" when running in Firefox (60.6.1esr) or Edge. Chrome shows the actual comp

[2019-07-16 19:51] akopchinskiy commented on #31592
@Airblader

I just did.

If you would ever written a compiler you wouldn't speak this nonsense. Moreover it's no need to write own compiler to compare Angular's one with other analogs (Vue, React, Knockout).

Yeah, so tell that nonsense somewhere else.

[2019-07-16 20:03] Airblader commented on #31592
No you didn't.

Apart from that I won't further interact with a troll like you.

[2019-07-16 20:37] jbogarthyde commented on #27335
This has been fixed.

[2019-07-16 20:37] #27335 closed

[2019-07-16 20:48] chadbr commented on #21115
I think this thread should probably be closed... I don't see Angular supporting it.

fwiw -- this gets it done for us... ugly but effective.

[code]

[2019-07-16 21:00] bunnyfly commented on #21115
@chadbr  `window.location.reload(true);` is not cross platform. It'll work for simple websites in a browser, but not necessarily for PWAs, Universal SSR, mobile-platform libraries that use Angular, etc.

[2019-07-16 21:05] chadbr commented on #21115
@bunnyfly completely agree...

[2019-07-16 21:25] benjamingb opened #31598 "Ivy does not report errors"
# 🐞 bug report

### Affected Package

 compiler

### Is this a regression?

 Yes,

### Description

Generate a project with Yvy Enabled and by mistake call directly to a component and not to the module that contains the component with all the directives, angular never alerts me.

When I disable Yvy and put AOT:false I just showed the error
<pre><code>
architect": {
        "build": {
          "bu

[2019-07-16 21:57] devrobx commented on #30802
Also now getting this issue, everything was working fine earlier. Tried to backtrack to see if i changed anything by mistake but nothing helped

[2019-07-16 22:06] alxhub commented on #31598
Yes, this is a known issue - the diagnostics reported by the compiler are in general not 100% feature complete. It's on our roadmap to finish this soon.

[2019-07-16 22:11] alxhub commented on #31598
This is actually sort of WAI! Ivy allows `NgModule`-less components.

What's actually missing here is the template type-checking experience that would tell you if certain elements/bindings in the template were not matched. In this case, our compiler should also know that the component is not part of a module, and let you know that this might be one reason why.

[2019-07-16 22:20] dwilches commented on #20690
I'm still seeing this issue. Any update?

[2019-07-16 22:21] alxhub commented on #31592
I agree the error message could be significantly improved.

In the future (Ivy), DI is entirely a runtime concept. This means that you won't see errors like this at compilation time, but instead on application startup. It should be very easy to use the browser debugger to understand the source of these errors, due to the nature of Ivy's generated DI factories.

I would also remind you that on the

[2019-07-16 22:23] kara commented on #31508
@BlindDespair This definitely looks like an Ivy bug, but we need a bit more information to help. I tried to reproduce this was an ngIf / else, but wasn't able to. Can you make a minimal repro on Github so we can take a look?

[2019-07-16 22:28] alxhub commented on #31570
@rip222 can you please add detailed, step by step directions for reproducing this problem?

[2019-07-16 22:34] alxhub commented on #31495
Yeah, this is unfortunately WAI.

Angular's compiler btw has no say in the location of `ngComponentDef` vs the `__decorate` call - this is the way TypeScript naturally compiles static fields. See [this example](http://www.typescriptlang.org/play/?emitDecoratorMetadata=true#code/CYUwxgNghgTiAEYD2A7AzgF3gEXEmUG+AXPFCgJ4DcAUHSAB4AO+WkUaa8AYkkvAG8a8eAAFcyAkRgAKAJTwAZgEsQEYAEJS5anRGZCysPCYwkTEDAwV4AXng

[2019-07-16 22:38] alxhub commented on #31598
Closing as a duplicate of #31108.

[2019-07-16 22:38] #31598 closed

[2019-07-16 22:39] alxhub commented on #31108
What's actually missing here is the template type-checking experience that would tell you if certain elements/bindings in the template were not matched. In this case, our compiler should also know that the component is not part of a module, and let you know that this might be one reason why.

[2019-07-16 22:40] alxhub commented on #31512
@Ploppy3 @magneticflux- we could use a simple reproduction repro for this case. Thanks!

[2019-07-16 22:45] alxhub commented on #31401
Yes, I think the provided code is incomplete. `lieferbar` is not bound to any `[checked]` property in your example.

[2019-07-16 22:47] alxhub commented on #31409
This is likely not an issue with the Angular HTTP libraries (which know nothing about CORS) but with your server's configuration / the iOS browser.

[2019-07-16 22:47] #31409 closed

[2019-07-16 23:03] alxhub commented on #30604
I think we need a reproduction on StackBlitz of this issue in order to fully investigate.

[2019-07-16 23:16] alxhub commented on #30379
The set of encoded characters was copied from AngularJS HTTP, and is meant to be backwards compatible with older Angular apps. `encodeURIComponent` is a bit overzealous and might generate undesirable URLs.

The solution here is to use a custom codec if you need to override how certain characters get encoded.

[2019-07-16 23:16] #30379 closed

[2019-07-17 00:41] spinnercat commented on #30379
What's an example of legacy code or an expected use case that would result in older apps breaking or undesirable URLs? It seems like you would need to have an object with a string key or value that contains special characters that you'd want to leave intact so that your backend server interprets them as special URI tokens - I struggle to think of a scenario in which this would arise.

[2019-07-17 02:04] magneticflux- commented on #31512
@alxhub Here's a sample that exhibits the issue! https://github.com/magneticflux-/angular-issue31512-repro

[2019-07-17 02:08] trotyl commented on #28857
Duplicate of https://github.com/angular/angular/issues/14821, https://github.com/angular/angular/issues/28738

---

The problem is not about abstract class, but being provided at component level.

[code]

[2019-07-17 02:23] trotyl commented on #28960
I generally agree with you, but you'll still need to argue with Angular team on your own.

[2019-07-17 03:49] chantimothy commented on #31425
Actually Just updated to Angular 8 and am getting the same issue. Tried everything but to downgrade the version, nothing works....

[2019-07-17 06:58] abarghoud commented on #30827
@jasonaden PR ready for a review

[2019-07-17 06:59] abarghoud commented on #29816
@jasonaden PR ready for a review

[2019-07-17 07:04] iamsrk opened #31601 "Angular router hashing"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

The {useHash: true} in an angular route, doesn't work properly when on right-clicking and opening in a new tab. The problem is described [here](https://stackoverflow.com/questions/57069202/angular-router-hashing?noredirect=1#comment100663978_57069202).

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2019-07-17 07:06] Palapapaa commented on #31522
Hi guys !

Any news ? :)

Is this an Ivy bug ?

[2019-07-17 07:55] aguadotzn commented on #31586
UPDATE: Same problems if the sentence stars with **%**.

So maybe happen with more characters...

[2019-07-17 07:57] ds-codemag commented on #19826
Now is angular 8 and I still have this problem

[2019-07-17 08:16] tobiz-pb commented on #24167
Solution: https://stackoverflow.com/questions/52137092/angular-6-throttletime-doesnt-exist-in-rx-js/52137107

[2019-07-17 08:32] akopchinskiy commented on #31592
@Airblader troll is you with your compiler that trolling devs through whole development process. I just can't take serious his error messages and your responses also, because they both are ridiculous.

@alxhub Thank you for your reasonable answer. The title of this topic was originally inspired by these two cool famous publications, that explictly expose known Problems of Angular, which are devs a

[2019-07-17 08:40] Airblader commented on #31592
No one said you cannot criticize the error messages. It's your complete lack of respect, self-entitled attitude and ignorance of the Conde of Conduct that makes people angry and unwilling to engage in a discussion.

It's also the fact that you fall back to personal insults (calling me "disabled") that I reported you to GitHub.

[2019-07-17 08:55] deepakpizonesgnr opened #31602 "Routing not working after route from HTML form action."
I'm tring to route to angular component from form action but failed to redirect to component with error
`  page can’t be found`
[code]

[2019-07-17 09:07] gkalpak commented on #29460
Seems like we have a resolution :tada: https://github.com/shelljs/shelljs/issues/945#issuecomment-512044653

[2019-07-17 09:07] #29460 closed

[2019-07-17 09:11] Stun3R commented on #9343
@peteboere Hi, how do you use this ?

[2019-07-17 09:17] akopchinskiy commented on #31592
@Airblader instead of inspecting the problem you said:
`But complaining is easier, I get it.`
meaning that I only complaining, despite that fact that I had describe complete problem from start to finish. Is that ok for you, right?

[2019-07-17 09:35] snahmad commented on #30814
I need help in moving from ngx-restangular to  HttpClient. ngx-restangular is broken for latest angular.
Where to ask steps migrate from  ngx-restangular to  HttpClient

[2019-07-17 09:40] santoshyadav198613 commented on #30814
StackOverflow with Angular Tag.

[2019-07-17 09:42] santoshyadav198613 commented on #31602
What are you trying, not clear.

[2019-07-17 09:42] BlindDespair commented on #31508
I'll try to create an app where this would be reproducible when I have time. Hopefully this week.

[2019-07-17 09:48] trotyl commented on #31592
@akopchinskiy You can write:

[code]

In the same file and have a look, if any of these logs `undefined`, than it's your own fault, not Angular's. There's no way Angular knowns why you declare `undefined` as a dependency.

Also, please always provide minimal runnable reproduction when opening issues.

[2019-07-17 09:59] snahmad commented on #30814
ok, sure. Can I hire you or some one. I am runout of time. it is big change.

[2019-07-17 10:00] deepakpizonesgnr commented on #31602
hi @santoshyadav198613 thnks for replying
 Actually i am using robokassa payment gateway in my project . In the return of successful payment it returns some success url in form action .. but angular do not accept from action .. so  user have to reload the browser  .. for redirect ..
any solution pls ?

[2019-07-17 10:01] deepakpizonesgnr commented on #31602
hi @santoshyadav198613 thnks for replying
Actually i am using robokassa payment gateway in my project . In the return of successful payment it returns some success url in form action .. but angular do not accept form action .. so user have to reload the browser .. for redirect ..
any solution pls ?

[2019-07-17 10:04] santoshyadav198613 commented on #30814
That's you call, please feel free to do it.

[2019-07-17 10:28] keatkeat87 commented on #12378
first time use async validator then face this issue.
very surprised, it’s another 2016 issue.
as a workaround, i prefer just write the markForCheck inside async validator function.

[2019-07-17 10:55] mlc-mlapis commented on #31526
@kumaresan-subramani Hmm, just styling polishing. The binding adds some parts to HTML and they interfere probably differently with your styles. Compare details what is in DOM in both cases (including comments).

[2019-07-17 11:11] kumaresan-subramani commented on #31526
HI @mlc-mlapis ,

Please analyze issue before updating your answer 👎

Styling is not an issue here

based on interpolated value, i will set position of my dialog

But here, interpolation value comes with some time delay so that my positioning goes wrong...!

Thats why i have posted this here.........!

[2019-07-17 11:13] kumaresan-subramani commented on #31526
Hi @alan-agius4 ,

Do you have suggestion regarding this?

[2019-07-17 11:21] mlc-mlapis commented on #31526
@kumaresan-subramani OK, from that simple demo it was not clear. If you know the reason why didn't you explain it? And what do expect now? Do you think that somebody would analyze how `<ejs-tooltip>` component is working, which timeline is exactly using and so on?

**If it is a real Angular problem then demonstrate it using the pure code without using any libs.**

[2019-07-17 11:27] kumaresan-subramani commented on #31526
HI @mlc-mlapis ,

I am not expecting, somebody would analyze how <ejs-tooltip> component is working.

I am looking for any suggestion to regarding this like is there any other possibility to avoid time delay while interpolation performs.

Anyway thanks for your reply 👍

[2019-07-17 11:28] runeabrahams1 opened #31603 "UpgradeModule AoT not working after update from v6 to v7 (or v8)"
# 🐞 bug report

### Affected Package
@angular/upgrade/static
@angular/core (or cli?)
angularjs 1.7.8

### Is this a regression?
Yes. This works in v6 (latest).
Does not work in any version of v7 or v8.

### Description
We got a quite large hybrid app (700+ Components, ~100 angularJs components/directives).
Build it **with AoT** works perfectly in Angular v6, but stops working in v7 or v8.
Building

[2019-07-17 11:31] mlc-mlapis commented on #31526
@kumaresan-subramani Then I think it is the issue for https://github.com/syncfusion/ej2-angular-ui-components/issues.

[2019-07-17 11:35] kumaresan-subramani commented on #31526
Okay @mlc-mlapis ,

Thanks 👍

[2019-07-17 12:07] nikhilnayyar002 opened #31605 "creating child module inside child module"
* at the top we have a app.module
  with router-outlet and used forRoot method
** then inside above module i include dashboard.module
    with router-outlet and used forChild method
*** then inside above module i include category.module
      with router-outlet and used forChild method

so,
* if i want to route to root:  ' '
* if i want to route to dashboard:  ' ' + '/dashboard'
* if i want to rou

[2019-07-17 12:22] neildocherty commented on #24084
I think I have a related issue.

When I animated a staggered list in Safari it triggers `(@someAnimation.done)` once when the list has multiple items but twice when it has only one.

[2019-07-17 12:41] sviat9440 opened #31606 "Project config in angular.js file"
@angular/cli

It would be nice to be able to dynamically generate a config.

Like
[code]

Now we have to make a custom script to generate the configuration.

[2019-07-17 13:03] loicosquare commented on #20389
this solved my problem thanks

[2019-07-17 13:11] ElYoussif commented on #27531
Add this in your polyfills.ts file
import 'core-js/es/reflect';

[2019-07-17 13:28] deepakpizonesgnr commented on #31602
@santoshyadav198613 angular routing not working when i'm try to load url from form element action

[2019-07-17 13:29] deepakpizonesgnr commented on #31602
[code]

[2019-07-17 13:53] bzah commented on #19866
I was curious about this "value" needed for the params of trigger to be recognized.

So I did a deep dive into the source code of Angular animations and then animation-browser.
And in fact, if you go at the line *2525* of *animations-browser.umd.js,* inside the `AnimationTransitionNamespace.prototype.trigger` function declaration, you will see some comments that sheds light on this issue :

// nor

[2019-07-17 14:52] ocombe commented on #16477
For people waiting for runtime i18n with ivy: bad news, I had to leave the Angular team and this means that i18n will get less attention for a while.
Pete B. Darwin will work on it part time, but he also has a lot of other priority things on his list (like ngcc).
The current plan for v9 is to have translations working with ivy but only as a build step (like it is right now with view engine). This

[2019-07-17 15:09] jbogarthyde commented on #21913
Resolved by doc changes to cheat-sheet and `@Injectable` API page

[2019-07-17 15:09] #21913 closed

[2019-07-17 15:11] jbogarthyde commented on #31400
Resolved by doc addition to `setValidity()` method

[2019-07-17 15:11] #31400 closed

[2019-07-17 15:14] santhony7 commented on #16477
Bummer. Well, for what it is worth, thanks for your hard work!

[2019-07-17 15:14] atiris commented on #31605
Hi, what you demand normally works. Please try to follow [this page](<https://angular.io/guide/router>) and if you can't set up the router correctly, create a sample using [StackBlitz](<https://stackblitz.com/fork/angular>) with code what you tried, someone will advise you.

However, since it is not a bug, I recommend ask this on StackOverflow and close this bug request.
Check for example this que

[2019-07-17 15:17] gkalpak commented on #31581
It would be more useful to see `/ngsw/state` after loading the page in online mode.
I would also compare the _**served**_ SVG file with the one in `dist/` after `ng build`. I've seen file contents being changed (for normalization or optimization) by FTP clients, servers, HTTP proxies.

I would be happy to take a look at the app if it is somewhere publicly accessible (but other than that, I don't k

[2019-07-17 15:18] gkalpak commented on #31579
This is not done for `ng serve` (which is what is most commonly used during development). Not sure about `ng build` without `--prod`. In any case, this discussion/request belongs to the [cli repo][1].

[1]: https://github.com/angular/angular-cli

[2019-07-17 15:18] mikejr83 commented on #16477
@ocombe will you still be maintaining the polyfill for runtime code translations?

[2019-07-17 15:21] gkalpak commented on #31425
I see several people reporting they are affecteced by this issue, but still no reproduction 😞 (see https://github.com/angular/angular/issues/31425#issuecomment-509181456).
If anyone can provide a minimal reproduction, we would be able to investigate the problem 🤷‍♂

[2019-07-17 15:25] nikhilnayyar002 commented on #31605
Hey thanks,

I think loadChildren would work. Ok i will close the issue.

On Wed, Jul 17, 2019 at 8:46 PM Jozef Pažin <notifications@github.com>
wrote:

[2019-07-17 15:26] #31605 closed

[2019-07-17 15:27] nikhilnayyar002 commented on #31605
i will try and i know it would work.

[2019-07-17 15:29] saschagrunert opened #31610 "HTTP client return type `Map` incorrect"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/common/http

### Is this a regression?

I'm unsure.

### Description

Related to this discussion: https://github.com/kubernetes-sigs/release-notes/pull/75#discussion_r304444918

If I do an `http.get` with a return type of `Map<...>`, then the actual returned type is `any`, like this

[code]

This results in a type error

[2019-07-17 15:42] gkalpak commented on #31603
Thx for the detailed report. This doesn't sounds at all related to `UpgradeModule` though.

Do you have other info indicating this is somehow caused by/related to `UpgradeModule`?
If not, I suggest you ask on the [cli repo][1], since people there are more likely to have useful advice on how to debug the build process.

[1]: https://github.com/angular/angular-cli

[2019-07-17 15:49] ocombe commented on #16477
if it breaks yes, I won't be adding new stuff to it though

[2019-07-17 15:50] gkalpak commented on #31584
BTW, there is such an example in the [Upgrade guide][1]. Maybe we should link to it?

[1]: https://angular.io/guide/upgrade#using-angular-components-from-angularjs-code

[2019-07-17 16:15] rikkepeterzen commented on #31425
The only thing I did, was to run: `yarn upgrade @angular/cli @angular/core` and then I got the error about the ViewportScroller. I don't even use a ViewportScroller. Before the Yarn upgrade, everything worked and no errors.

[2019-07-17 16:22] gkalpak commented on #31565
This is similar to #6715 and #22824. See there (esp. https://github.com/angular/angular/issues/6715#issuecomment-331996391 and https://github.com/angular/angular/issues/22824#issuecomment-374262127) for more details.

The bottom line is that `$attrs` is probably not going to be supported and will remain a known limitation. Supporting `$element` should be fairly straight forward, I believe. We woul

[2019-07-17 16:39] gkalpak commented on #31425
Thx for the extra info @rikkepeterzen. This still doesn't happen to all apps and we can't investigate without knowing what your app looks like. If you could prepare a minimal reproduction (e.g. a sample repo we can check out and run the upgrade command to see the problem ourselves), we could investigate and find out what is causing this.

[2019-07-17 16:51] Airblader commented on #31610
Typescript cannot actually convert any data (remember, it's a compile time language), the generic is purely a type assertion of what you expect to get, which is probably just a json object since you can't possibly get a Map from an HTTP call.

You need to use the correct type assertion and convert the data into a Map yourself.

[2019-07-17 17:19] smasala commented on #18033
Good tip with the ordered imports. Thanks.

[2019-07-17 18:05] chantimothy commented on #31425
Sorry I cannot provide any more help then needed... I was reading a tutorial on drag and drop on material and there is a function that requires cdk8 and so I did an upgrade and found out I will also need to upgrade the core. and so I follow the instruction and do npm upgrade @angular/cli @angular/core. then I notice the issue start occuring. I have tried to upgrade the angular router too but it is

[2019-07-17 18:12] JoeCodeswell opened #31612 "Docs: Reactive Forms "Step 2: Generating and importing a new form control" NameEditorComponent has no constructor or ngOnInit()"
# 📚 Docs or angular.io bug report

### Description

In the Docs for Reactive Forms [Step 2: Generating and importing a new form control](https://angular.io/guide/reactive-forms#step-2-generating-and-importing-a-new-form-control)  the NameEditorComponent  has no constructor or ngOnInit() method.

As a person just starting with Angular 8, using this guide is very confusing.

Can this guide please be

[2019-07-17 18:19] 6XAM commented on #23293
@brachi-wernick could you make a setter and getter for the param you want to make the validator update, and then call the change function there, registered with registerOnValidatorChange? That should get the desired behavior

[2019-07-17 18:28] gkalpak commented on #31425
@chantimothy, what version of `@angular/*` packages do you have in `package.json` after the upgrade?

[2019-07-17 18:32] chantimothy commented on #31425
"@angular/animations": "^7.2.15",
    "@angular/cdk": "^8.1.1",
    "@angular/common": "^8.1.1",
    "@angular/compiler": "^8.1.1",
    "@angular/core": "^8.1.1",
    "@angular/elements": "^7.2.15",
    "@angular/forms": "^7.2.15",
    "@angular/http": "^7.2.15",
    "@angular/material": "^8.1.1",
    "@angular/platform-browser": "^7.2.15",
    "@angular/platform-browser-dynamic": "^7.2.15",
    "

[2019-07-17 18:45] miroslavkovac commented on #31595
I am seeing the same error after upgrading from Angular 6 after a long time. The error is in generated `vendors~main.a7289f63f220e84f1b85.chunk.js` and it looks like couple of `ngDevMode` variables names are wrongly put inside generated JS file:
[code]

[2019-07-17 19:09] Airblader commented on #31612
Why do you think it needs either? Classes don't require explicit constructors, but that is just Javascript and has nothing to do with Angular.

Merging declaration and initialization of class members is a completely normal language feature and also found in most syntactically similar languages.

[2019-07-17 19:12] gkalpak commented on #31425
@chantimothy, upgrading the Angular packages one by one won't work. The Angular framework packages need to be on the same version. So, based on your `package.json`, the following packages should be on the same version:

- @angular/animations`
- `@angular/common`
- `@angular/compiler`
- `@angular/core`
- `@angular/elements`
- `@angular/forms`
- `@angular/http` (<-- You shouldn't be using that any m

[2019-07-17 20:00] alfaproject commented on #16477
It kind of sucks that i18n has been a 2nd class citizen for so long... Not everyone works in a native English locale environment. ):

[2019-07-17 20:07] ocombe commented on #16477
Well I agree, I'm trying to find some companies to sponsor me so that I can develop new powerful i18n solutions for Angular (I've got a ton of ideas).
If you think about people who would be interested, let me know on Twitter (@ocombe) or by email (olivier.combe@gmail.com) 🙂

[2019-07-17 21:20] mlc-mlapis commented on #16477
@ocombe I would like to thank you for your work also. 💚 It's a bit surprising news that you have to leave the team. As you said `I had to ...`, it guides me to ask you directly what was the main reason. I hate those indirect hints and guesswork, so that's why such a direct question to you.

[2019-07-17 21:46] matsko commented on #31564
It looks like this issue belongs into the CLI project. Please add it there so that the CLI team can investigate: https://github.com/angular/angular-cli

[2019-07-17 21:46] #31564 closed

[2019-07-17 21:49] matsko commented on #31601
Please follow and fillout the issue blueprint when reporting something. Closing.

[2019-07-17 21:49] #31601 closed

[2019-07-17 21:53] #31567 closed

[2019-07-17 21:53] matsko commented on #31606
Please follow the Angular issue blueprint when creating a new issue. Otherwise we don't know how to reproduce and fix it.

[2019-07-17 21:53] #31606 closed

[2019-07-17 21:54] matsko commented on #31602
Please follow the Angular issue blueprint when creating new issues. Otherwise we don't know what to fix. Closing.

[2019-07-17 21:54] #31602 closed

[2019-07-17 23:42] iamsrk commented on #31601
No problem, will follow and report again. Sorry for inconvenience.

[2019-07-18 01:46] jlSites commented on #12251
this issue is still there.

But we put all "ViewEncapsulation.None" into all our components, which works for JIT and AOT.

[2019-07-18 01:55] Muhammadinaam commented on #25813
not worked for me

[2019-07-18 03:23] brunojcm opened #31619 "ng add @angular/bazel: styles fail to compile"
# 🐞 Bug report

### Command (mark with an `x`)

[code]

### Is this a regression?

No.

### Description

1. Make sure you import some styles from an extenal library in your `styles.scss`, like:
[code]
2. Enable bazel with `ng add @angular/bazel`
3. Run `ng build`

## 🔥 Exception or Error
<pre><code>
$ ng build
Loading:
Loading: 0 packages loaded
Loading: 0 packages loaded
Loading: 0 packages loade

[2019-07-18 03:29] brunojcm opened #31617 "ng add @angular/bazel: build fail on peer dependencies"
# 🐞 Bug report

### Command (mark with an `x`)

[code]

### Is this a regression?

No.

### Description

1. Make sure you have a dependency that has a transitive peer dependency, like `bootstrap`, whose `popper.js` is a peer dependency of.
2. Enable bazel with `ng add @angular/bazel`
3. Run `ng build`

## 🔥 Exception or Error
<pre><code>
$ ng build
...
INFO: Call stack for the definition of reposi

[2019-07-18 03:49] brunojcm commented on #31310
Isn't it a cli issue?

[2019-07-18 04:53] JiaLiPassion commented on #31588
@jelbourn , got it.
@4oo, there are two walk arounds.

1. not using `zone-error` package, the `zone-error` package provide several functionalities.
  - rewrite error stack frames to add `zone information`.
  - handle `MyError extends Error` and `new MyError() instanceof MyError` issue.
  - trim most of the `zone related stack traces`.
So if you are not using those functionalities, you can remove `

[2019-07-18 05:20] ocombe commented on #16477
they just overspent on the budget for externals and weren't able to increase it for this year, that's why they had to stop some of the contracts
they're recruiting internally instead of compensate (the internal budget is different from the external budget), so you don't have to worry about the future of Angular 🙂 it's just a temporary setback

[2019-07-18 05:58] nj-coder commented on #22509
Hi, is this issue solved or do we still have it? I cannot figure a way with any of the workarounds.

[2019-07-18 06:19] runeabrahams1 commented on #31603
@gkalpak You might be right. I just have a feeling it might be something in out angularJS code, so was unsure which repo to use.
I'll close this issue for now and try the CLI repo.

[2019-07-18 06:19] #31603 closed

[2019-07-18 06:21] michaelholzknecht commented on #31581
Hello George,

thanks for you help – here the domain where I put the test project https://www.lola-safety.info/

[2019-07-18 06:35] sergey-morenets opened #31616 "Compilation error in Ivy mode with 8.1.2"
# 🐞 bug report

### Is this a regression?

No

### Description

I have a working Angular v8 application that uses ng2-device-detector dependency. I tried to upgrade to 8.1.2 to verify that Ivy mode works properly:

"angularCompilerOptions": {
    "enableIvy": true
  }

But in Ivy mode I get the error message. In non-Ivy mode everything works fine.

## 🔬 Minimal Reproduction

ng build --prod

## 🔥

[2019-07-18 06:45] saschagrunert commented on #31610
Yeah, but why does the `HttpClient` have such an API if the return type is always an `any`? It does not make much sense to me...

[2019-07-18 06:48] vagonpidarasov commented on #29220
Following tsconfig seemed to solve the problem:
[code]

[2019-07-18 06:49] sergey-morenets commented on #31616
I tried to migrate from ng2-device-detector to ngx-device-detector and this error gone.
However new strange error happened: ERROR in Node does not exist: /node_modules/ngx-highlightjs
Although I have this folder (node_modules/ngx-highlightjs)

[2019-07-18 06:56] Airblader commented on #31610
The return type is not `any`, the return type is what you specify as the generic. I think you're confusing the compile-time TypeScript type with the runtime JavaScript type. Those are very different things.

The generic exists solely for convenience because writing `http.get<Foo>()` is easier than having to write `http.get().pipe(map(foo => foo as Foo))` just to type it in the following flow.

[2019-07-18 07:32] brunojcm commented on #31617
Not only on those, but also standard `ng build` works whereas its bazel counterpart is currently failing.

Unless it's at least documented somewher, we will have a lot of people seeing their builds failing after migration.

[2019-07-18 07:42] gkalpak commented on #31606
@matsko, this is a feature request. There is nothing to investigate :wink:
@sviat9440, this feature request should be submitted on the [cli repo][1].

[1]: https://github.com/angular/angular-cli

[2019-07-18 07:45] chetanupreti opened #31618 "need some information regarding change default value of control"

[2019-07-18 07:59] Ganeshpoloju commented on #22509
@Billskate works for me with angular8 also, thanks!

[2019-07-18 08:17] piotrtomiak commented on #29623
For anyone interested the "documentation" of `angularCompilerOptions` is here: https://github.com/angular/angular/blob/e8ae3c5f2efe01acee894f3ea094544689310066/packages/compiler-cli/src/transformers/api.ts#L40

[2019-07-18 08:48] #31618 closed

[2019-07-18 09:29] philipschikora commented on #31160
+1 worked

[2019-07-18 09:30] ray-kay commented on #26693
Any news on this?
Ideally I would like to use viewEncapsulation.ShadowDom and have a polyfill for es5 browsers but cant find a way to get it working.

[2019-07-18 10:45] BojanKogoj commented on #31160
That fixes this error, but I now get the error as in this issue https://github.com/angular/flex-layout

[2019-07-18 10:54] mlc-mlapis commented on #16477
@ocombe Thank you for your explanation.

[2019-07-18 11:19] gkalpak commented on #31581
I took a look and I couldn't figure out what is going on 😞

When I build and serve the project locally, everything works fine. On `lola-safety.info`, however, nothing seems to work offline (not just the SVG, but even the scripts). For some reason, the requests don't go through the ServiceWorker (but I couldn't figure out why - everything seems to be set up correctly).

@michaelholzknecht, can you

[2019-07-18 11:26] narendrasinghrathore opened #31621 "Getting error while importing js file from assets folder and using in angular component Angular 8.0.x"
I have a external .js file which i downloaded and placed into my assets folder.
After following steps from [here](https://github.com/angular/angular-cli/wiki/1-x-stories-global-scripts), still no success.

Steps performed to add js file in angular project;
1) Adding relative path of js file  to script [] in angular.json

2) Creating typyings.d.ts under src folder
declare var myJs: any;

3) Import

[2019-07-18 12:22] michaelholzknecht commented on #31581
I tested with different situations, always simulate "offline" with the chrome inspect

-> using MAMP Appache Server with self signed ssl  -> works
-> using http-server plugin http://127.0.0.1:8080 -> works but get this error

[code]

-> using http-server plugin http://myLocalIp:8080 -> no service worker get installed

I could not test it on my device – it's only tested in chrome on my desktop comp

[2019-07-18 12:42] Ploppy3 commented on #31512
Not fixed with 8.2.0-next.2

[2019-07-18 12:46] bamblack commented on #31565
That's what I figured, I'd be more than happy to take a stab at this once I get some free time!

[2019-07-18 12:46] nhnb opened #31622 "*ngFor should support separators"
# 🚀 feature request

### Relevant Package
This feature request is for **@angular/common** regarding ***ngFor**.

### Description

*ngFor should make it easy to output a list with separator characters in cases &lt;li&gt; or table rows are not desired. At the moment, you need code like the following simplified example:
[code]

- Note 1: There must be no whitespace before the `ng-container`hosting `n

[2019-07-18 12:55] kylewhitaker commented on #24858
This is a good feature request. I stumbled across this limitation in my own development. I naturally expected `<ng-container>` and `<ng-template>` to work with `<ng-content select="...">`, and I think it should.

There is a workaround, but the documentation is limited or nonexistent. `ngProjectAs` can be used to disguise `<ng-container>` or `<ng-template>` elements to match content projection with

[2019-07-18 13:21] practicawat commented on #23722
I'm having the same issue is there a solution?

[2019-07-18 13:24] ocombe commented on #31324
Hello, Angular uses [CLDR](http://cldr.unicode.org/) data for all i18n values, if you believe that there is a mistake in those data, please open an issue on the CLDR repository: http://cldr.unicode.org/index/bug-reports
Thanks!

[2019-07-18 13:24] #31324 closed

[2019-07-18 13:31] VlasovSergey commented on #30330
We have a similar issue and patching angular/upgrade with replacing Promise.all() to sync version helped also.
Will it be fixed soon?

[2019-07-18 13:43] WH-Ali opened #31623 "Google Translate"
I tried to translate the Angular website to another languages through Google Translate but it does not work. Many web developers use Google translate into their website to translate the Website to other languages, if it does not work at Angular, then many people who can not speak English can not use the website and Angular products. How can i use Google translate or any website translator for my p

[2019-07-18 13:54] trotyl commented on #31621
Duplicate of https://github.com/angular/angular-cli/issues/15115

[2019-07-18 13:57] #31621 closed

[2019-07-18 14:17] gkalpak commented on #31581
Note that in order for ServiceWorkers to work, the browsers requires a secure host, which means either served over HTTPS or `localhost`. So, `127.0.0.1` or `youLocalIp` should not work over HTTP.

[2019-07-18 14:19] gkalpak commented on #30330
I am having a hard time coming up with a test for this. I'll poke at it some more this week, but I think we should land the fix with or without a test.

[2019-07-18 14:28] cherurg commented on #18261
I also tried posting `phoneNumber`. However, I have to use `URLSearchParams` instead of `HttpParams`. For me, none of the solutions worked.

[2019-07-18 14:47] JoeCodeswell commented on #31612
Hi @Airblader . Thanks for the reply.
I don't understand TypeScript/Angular 8 enough to know what it should look like.
Re "Angular 8 syntax": I know that when i used the Ang8 CLI to `ng generate component` the resulting .ts file came back with a constructor() & ngOnInit() member.
Where and how do i declare & initialize "name" as referred to in the example?

Thanks for the help.
Love and peace,
Joe

[2019-07-18 14:49] thillmfg opened #31624 "ng serve --aot not properly compiling changed css"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/compiler 8.1.2

### Is this a regression?

Yes, the previous version in which this bug was not present was 7.2.0. Haven't tested 7.3.x or 8.0.x

### Description

When running `ng serve` with aot enabled, any changes to .css files require two compilations to have the changes reflected in the browser. Bug can also be reprod

[2019-07-18 14:52] gkalpak commented on #31623
Thx for reporting. Unfortunately, I have no clue why it doesn't work, nor is there any actionable error on the page. My guess is that Google translate can't correctly load Single Page Applications (but it might be something else).

If anyone has an idea about what we could do to allow Google translate to work like this, we would be happy to look into it. In the meantime, loading the page as usual,

[2019-07-18 14:52] #31623 closed

[2019-07-18 15:38] tebbi opened #31627 "Performance bug in angular/packages/compiler/src/output/output_ast.ts"
https://github.com/angular/angular/blob/e8ae3c5f2efe01acee894f3ea094544689310066/packages/compiler/src/output/output_ast.ts#L1465-L1471
This for-in loop also iterates over the prototype chain, copying many functions from the prototypes onto the cloned object as own properties. This doesn't make sense, since the cloned object also has the right prototype, so in a way it has all these functions twic

[2019-07-18 15:44] NagaSainath commented on #16477
Can anyone tell me how can I use i18n (i18n-polyfill) outside the class like enums or const arrays or something like .model.ts files?

[2019-07-18 15:55] tbunique commented on #16477
For constants, I still put them in a class. I don't know of any alternative :/

[2019-07-18 15:59] mikesimmonds commented on #16477
@ocombe Thanks so much for all your hard work with i18n for Angular with ngx-translate, i18npolyfill and with the Angular team.
We use your work daily to provide translations to our users, as is required by any non-trivial application.
Best of luck in what you do moving forward.

[2019-07-18 16:03] jimbarrett33 commented on #23279
It's been 15 months. We're now at Angular 8 with so many new features but none to solve a common problem **or even a mention that it will be, or will not be, _ever_ addressed by the Angular team**. I would take a solution to this common problem over SSR or so many other of the other _extra's_ being put into the framework.

Ngrx Effects magnifies the problem even more. If you're injecting a service

[2019-07-18 16:06] kapunahelewong commented on #31132
Hi @Menuka5! That'd be great! I can help you with the process if you like. :)

[2019-07-18 16:12] NagaSainath commented on #16477
Hmm.. if I move them to class then I need to make the variable as static to be used. But I cannot use i18n to a static variable.

export class Example {
constructor (private i18n: I18n) {}
  static variable = i18n('text'); // I cannot use i18n here as it is non static of class Example
}

[2019-07-18 16:12] danielalmeidagoncalves commented on #16477
Sad news... this "weakens" Angular... Like the others say, it remains only the big thanks to @ocombe for the great work, best of luck!

[2019-07-18 16:46] kccsf opened #31629 "Ivy issue with ng2-pdfjs-viewer"
# 🐞 bug report

### Is this a regression?

 Yes, works with Ivy switched off

### Description

 A project with ng2-pdfjs-viewer added to it will fail at runtime with Angular Ivy enabled.

## 🔬 Minimal Reproduction

 https://github.com/kccsf/ng2-pdfjs-viewer-ivy-test

## 🔥 Exception or Error
<pre><code>

 core.js:24459 Uncaught TypeError: Cannot read property 'id' of undefined
    at registerNgModu

[2019-07-18 17:20] vikerman commented on #31522
Looks like an ngcc issue. Will follow up. Thanks

[2019-07-18 17:24] jpleclerc commented on #31218
Same in 8.2.0-next.2

[2019-07-18 18:08] chantimothy commented on #31425
Hello and thank you for clarifying, I have ran the `ng upgrade` it just gave the same error because I am not too sure that it actually updated all the necessary package. what DID work at the end was that I took your advice and modify the package.json so the version of the package version that you have mentioned are consistent. THEN i do `npm install` , that is what fixed the issue.

[2019-07-18 18:20] lenichols commented on #30710
I need to re-open this ticket. Binding does not seem to be working in IE11. I thought i was able to solve with splice but after running in actual IE11 browser live, binding updates still aren't reflecting. Here is the stackblitz - you will need to open it in IE https://angular-7ypkdv.stackblitz.io to see that refreshing the array in the for loop does not work. @pkozlowski-opensource pls re-open th

[2019-07-18 18:55] gkalpak commented on #31425
Thx for the following up, @chantimothy. Maybe `ng upgrade` was confused by the fact that some packages were on different versions than others. Normally that would never happen.

Glad you were able to sort it out anyway.

##
To everyone getting this error: Make sure you Angular packages are on the same version :smiley:

[2019-07-18 19:13] petebacondarwin commented on #31522
Running `npm run ivy-ngcc -l debug` gives us the answer:

[code]

[2019-07-18 19:19] Airblader commented on #31622
I'm going to speak out against this proposal for the following reasons:

1. Following the way structural directives desugar, your proposed example wouldn't even produce the same output as your introduction example; you'd instead end up with a lot of `span` elements.
2. This adds significant API surface to `ngFor` for something I think is a pretty specific case with no really clear benefit over usi

[2019-07-18 19:24] artem-galas commented on #23329
I would like to handle this.
Could you please explain what are expected behaviour?

[2019-07-18 19:28] Airblader commented on #31582
My main concern with this request lies in the fact that there is (AFAICT) no way to have type safety with regards to the referenced class member existing or being of the correct type.

There's also another way:

[code]

Small note: historically, it was recommended not to treat `@Output` as an observable as this was considered to be an implementation detail. However, the Angular team has stated tha

[2019-07-18 19:32] Airblader commented on #31612
Yes, they're just there as boilerplate. Neither one is technically required, `class Foo {}` is a valid class definition.

I don't understand the question – the example code on the page shows how to do it:

[code]

This is standard ES6 class syntax and has nothing to do with Angular, which is also why I'd be hesitant to change it – personally, I believe that no one should try to learn Angular if th

[2019-07-18 19:39] kolkov opened #31631 "Ivy preview: ERROR in Unable to write a reference to AngularEditorComponent"
I try to build my library with Ivy and got this error:
[code]
Whats wrong?

https://github.com/kolkov/angular-editor/tree/ivy-preview

[2019-07-18 19:44] ericmartinezr commented on #31631
Related/dup https://github.com/angular/angular/issues/29361

[2019-07-18 20:08] pepper2108 commented on #31386
Hey @AndreyWV ,
Could you please elaborate a bit on how you mock `ViewChild` components in your unit tests?
I came across this issue today after app upgrade to Angular 8.1.2 and can't find a solution so far. I am using `jasmine.createSpyObj()` to mock child component and then assign the spy to the component property in `beforeEach()`. This is a common approach and it worked like a charm before, bu

[2019-07-18 20:29] jonrimmer opened #31632 "Dependency injection with @Self() is broken in tests"
# 🐞 bug report

### Affected Package

@angular/core

### Is this a regression?

Unknown

### Description

The `@Self()` decorator does not work in tests to inject dependencies from directives placed on a component by a test-specific wrapper component.

E.g. if a I have a custom form control that injects `NgControl` using the `@Self()` decorator, as recommended by the Angular team:

[code]

And I t

[2019-07-18 20:57] mculloa opened #31635 "REQUEST FOR DOCUMENT FAILED"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

 https://stackblitz.com/...

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

**Angular Versi

[2019-07-18 20:58] mculloa commented on #31635
The URL
https://angular.io/tutorial/toh-pt2

Returns
REQUEST FOR DOCUMENT FAILED.
We are unable to retrieve the "tutorial/toh-pt2" page at this time. Please check your connection and try again later.

[2019-07-18 20:59] #31635 closed

[2019-07-18 21:10] bamblack commented on #31565
Opened #31637 for this

[2019-07-18 21:28] #30834 closed

[2019-07-18 21:38] nj-coder commented on #22509
@Ganeshpoloju did it work in ios as well?

[2019-07-18 21:39] nj-coder commented on #22509
@EenPOOL did you get it working for ios and android?

[2019-07-18 21:56] vikerman opened #31654 "ng serve in Ivy mode is dropping directives list when editing a template"
# 🐞 Bug report

### Command (mark with an `x`)

[code]

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....
Yes. 8.0.0

### Description
`ng serve`(watch mode) seems to be outputting invalid generated code for a simple component when the template is edited.

## 🔬 Minimal Reproduction

git clone git@github.com:vikerman/ivy-proj.git
cd ivy-proj

yarn inst

[2019-07-18 22:12] chakrachi commented on #31087
getting error too when using latest angular beta with ivy
<img width="1113" alt="Screen Shot 2019-07-18 at 4 11 49 PM" src="https://user-images.githubusercontent.com/9326703/61495646-c9e56580-a976-11e9-913f-93406c4e8b2b.png">

[2019-07-18 22:29] AndrewKushnir commented on #31627
@tebbi thanks a lot for investigation and detailed information provided! 👍

We've created a PR to address this issue (PR #31638).

The mentioned code is only used during compilation process and is not invoked on web pages.

Thank you.

[2019-07-18 23:02] zain-b commented on #23240
Having the same issue, Angular 8

[2019-07-18 23:02] zain-b commented on #21636
Same issue, Angular 8

[2019-07-18 23:27] danielgadz commented on #30835
I solved it by creating a task in gulp, I share the steps:

1) `npm install --save-dev gulp`
2) `npm install --save-dev gulp-replace`
3) create in the root of the project a file with the name:
**gulpfile.js**
4) copy the code in the _gulpfile.js_:
[code]
5) In the **packaje.json** file, modify the _"electron"_ script as follows:
`"electron": "ng build --base-href ./ && tsc --p electron && gulp &&

[2019-07-19 00:39] simeyla commented on #26298
@pcroc that's not the behavior I see with `Native`. If anything I see the opposite behavior! No styles at all.

I get (in Chrome) a new `#shadow-root` with a bunch of styles and my component code inside. But the `ng-content` projected into it has no styles at all. I haven't delved into this but definitely not seeing propagation from the parent.

[2019-07-19 00:42] simeyla commented on #26298
This functionality would be invaluable for 'helper' components that are 'children' of a main component but used only for repeated layout. For example I have a shopping cart checkout and there are several sections with a header - I want to make this `app-checkout-section` a 'peer' component to the checkout page just to clean up the code and aid with responsive design logic.

Without being able to i

[2019-07-19 04:34] jpike88 commented on #17010
I decided to turn rollbar back on, within 24 hours I overwhelmed the error limit.

@mhevery @matsko would it be too much to ask, for a definitive answer on this? Considering how it results in the spamming of errors to error reporting systems, how on earth isn't this considered a priority?

[2019-07-19 04:35] jpike88 commented on #17010
https://github.com/NextFaze/angular-rollbar/issues/13

[2019-07-19 05:19] rajeshmogasala commented on #30569
Same problem for me also.Could you please tell us is it fixed or do we have any work around ?
Thank you.
SCRIPT1046: Multiple definitions of a property not allowed in strict mode

[2019-07-19 05:25] gregmagolan commented on #31394
@petebacondarwin Thanks for the fix. I have good news and bad news. Will start with the good 🚀

**Good**) Your fix which (landed in master & 8.1.x branch) fixed the issue observed for all of the angular bundles. The file ivy-ngcc `node_modules/@angular/cdk/bundles/cdk-a11y.umd.js` file now has:
[code]
        ActionsSubject = tslib_1.__decorate([
            core.Injectable(),
            tslib_1.

[2019-07-19 05:42] santoshyadav198613 commented on #28017
Hi @gkalpak ,
Is this still open, will work on this.

[2019-07-19 05:55] petebacondarwin commented on #31394
I think the difference is that one uses the static property style of decoration and the other uses the call helper style.

[code]

vs

[code]

I guess we only fixed it for the static property style.

[2019-07-19 06:35] johnsnow20087349 commented on #15088
2 and a half years later

[2019-07-19 06:39] michaelholzknecht commented on #31581
I think the problem depending on the server, I have put the the test pwa on a different server and there it works. @gkalpak maybe if you have a minute can check if it works here https://www.berlinblockmasters.com/

Thanks a lot!

[2019-07-19 06:49] jonathanlie opened #31647 "application stylePreprocessorOptions cannot detect paths from a library"
# 🐞 bug report

### Affected Package
`@angular/cli` related packages. Comparing `8.0.3` to `8.1.2`.

### Is this a regression?

#### Did this behavior use to work in the previous version?
Yes, the behaviour worked in 8.0.3, and stopped working in 8.1.2.

### Description

There is 1 application and 1 library. Let's call this application `tenant` and the library `shared-lib`.
A component in the `ten

[2019-07-19 07:17] DmitryEfimenko commented on #16477
I'm curious, what are the disadvantages of using ngx-translate? It seems it's capable of exactly the functionality people are looking for

[2019-07-19 07:27] lukaszbachman commented on #23235
+1
Since doing any other initialization besides field assignment is NOT RECOMMENDED in constructor, then having a support for an OnInit hook in services would be extremely helpful.

[2019-07-19 07:32] ocombe commented on #16477
I would say that the disadvantages are the following:
- increases the bundle size (external lib + translations as external files instead of replacing the code at build time)
- not official (if I die then the lib gets discontinued, and not the same level of support)
- doesn't support xliff/xmb (but supports json and other formats via plugins, and one could make an xliff/xmb plugin to support it)
-

[2019-07-19 07:36] orgertot commented on #22427
Me too...

[2019-07-19 07:39] chenbojian commented on #12062
I am having this issue in angular 8. I am using version 8.1.2. Only a blank page when something wrong happened for angular 8 component.

[2019-07-19 07:44] rip222 commented on #31570
done

[2019-07-19 07:47] jonathanlie commented on #31647
Apologies. Closing and will put this issue to angular-cli repo instead.

[2019-07-19 07:47] #31647 closed

[2019-07-19 08:00] wszgrcy opened #31648 "ngOnChanges declared in mixin-class,when build --prod,can`t be called"
# 🐞 bug report

### Affected Package
@angular/cli ?(ng servce Yes,ng build --prod No)

### Is this a regression?
In angular 7/8 can`t run,below 7 no test

### Description
component  extends mixin-class
[code]
When I change a property`value, @Input() trigger,ngOnchanges trigger in `ng serve`,
But,after`ng build --prod`,@Input() trigger,ngOnchanges no-trigger

## 🔬 Minimal Reproduction
[bug-project]

[2019-07-19 08:19] Karasuni commented on #16477
It's curious how angular promotes and invests in accessibility but does not include languages in that package. It really feels that this is a decision taken from a monolingual environment.

Coming from an environment where we usually have to serve 3-4 languages interchangeably I've been patiently awaiting release of this feature since it's announcement with its clear advantages over using an exter

[2019-07-19 08:30] gkalpak commented on #28017
Sure, thx, @santoshyadav198613 ❤️
Ping me if you need any help :wink:

[2019-07-19 09:03] vinaysikarwar commented on #30250
Anyone have the solution for this. I am also facing issue SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules/fsevents) after that npm install breaks

[2019-07-19 09:10] Jimmysh commented on #14324
@jmcclanahan @MartinJHItInstituttet @splincode
[code]

[2019-07-19 09:28] mlc-mlapis commented on #14324
@Jimmysh This is for JIT mode. You need to load `import("../bar/bar.module.ngfactory")` for AOT mode (where `compileModuleAndAllComponentsSync` is not available).

[2019-07-19 09:34] vthinkxie commented on #25380
Hi @vicb @ocombe
any update on this issue, we have to introduce date-fns to resolve this problem in our component library because of this issue.

https://ng.ant.design/docs/i18n/en#how-to-format-a-date-using-date-fns

[2019-07-19 10:02] namerci opened #31649 "Router rewrite urls when has = at the end of path and has query params."
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/router

### Is this a regression?
I don't know.

### Description
When we use router with param and this params end with equals sign (=) and there are query params after that, the query params are removed by angular.

Let's take a two links as example:
1.  https://angular-eaf2ld.stackblitz.io/hello/my_name?abc=1
2.  https:

[2019-07-19 10:03] gkalpak commented on #31581
Yeah, that seems to work fine. From a quick look I don't see any differences (some request headers are slightly different, but nothing that explains the difference in behavior). I wouldn't be surprized if there is also a browser issue involved 🤷‍♂

[2019-07-19 10:15] ai-eye commented on #25525
If any body does please let me know, this is a big problem for me at the moment.

[2019-07-19 10:37] trotyl commented on #31648
Duplicate of https://github.com/angular/angular/issues/19145

[2019-07-19 11:11] nhnb commented on #31622
@Airblader thank you for your feedback. I tried to address it by editing the original comment. Most notable, I added two more real world examples, which showcase the reduction in template complexity.

[2019-07-19 11:22] Gustav0ar commented on #16477
@ocombe No chance that Google hire you not as a contractor?😉

[2019-07-19 11:40] Jimmysh commented on #14324
@mlc-mlapis
 heavily inspired by https://github.com/angular/angular/blob/master/aio/src/app/custom-elements/elements-loader.ts

It can use AOT JIT. success for me.

[code]

[2019-07-19 11:41] Anar21 commented on #30329
@ankitko @byvlstr Guys I was having exactly the same problem with yours and I was able to solve it. Hope this solution is going to work with you.

Problem is: when you reloading the page with the same **query** parameters angular just append it to route **parameter**.

What do you have to do is in the function that you are going to reload or navigate you just need to remove the query parameter fir

[2019-07-19 11:48] pepper2108 commented on #31386
I found a workaround: you can `spyOn` `ngAfterViewInit` and do `callFake` copy-pasting there the initial `ngAfterViewInit` implementation, replacing `this` with `fixture.component`. But it's inconvenient to say the least so looking forward for the fix.

[2019-07-19 11:50] simon-sharp opened #31652 "Error on loading pages with hashLocationStrategy on file://... or Cordova project"
# 🐞 bug report

### Affected Package
Core / Variable change detection

### Is this a regression?
Yes. We used it often. Angular 5 definitely worked Angular 7 might still have done the Job.

### Description
When building an ordinary App with the command
`ng build --prod --base-href="./" --outputPath="dist/web-prod"`
and then open the index.html directly by file:// in the browser or putting this int

[2019-07-19 12:13] apoklyak commented on #18261
Hello everyone!
I am also sending the string with + character (+375) and my server is receiving my string correctly, that is +375.

But in Chrome, I see the next data: https://i.gyazo.com/4e475a8446078fbd6641e2b85e970cc6.png

It seems like I have space instead of plus :)
But it works.

And If I click in the 'View URL encoded' link in Chrome, I will get data with plus character.
Look at https://i.g

[2019-07-19 12:32] simon-sharp commented on #31652
Got the cordova error fixed by replacing the links from

`public target = '#/client/settings';`

to

`public target = 'index.html#/client/settings';`

It still seems to me that this behaviour is wrong.

I also tried

`public target = '/#/client/settings';`

but that does not work at all

[2019-07-19 13:14] dj13may91 opened #31653 "Socketing using angular with java"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Below is the question i have asked on stack overflow also. Please help for the same

https://stackoverflow.com/questions/57112679/send-and-receive-data-say-text-using-web-sockets-between-angular-and-java

@google-admin  @angular-jira-bot
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2019-07-19 13:30] daileytj commented on #30086
I'm having this same issue. Has anyone been able to find a workaround and/or is this issue being addressed by the Angular team?

[2019-07-19 13:31] mlc-mlapis commented on #14324
@Jimmysh ... then correct. It's using the compiler only in JIT mode.
[code]

[2019-07-19 13:44] demisx commented on #16477
@DmitryEfimenko We are using [ngx-translate](https://github.com/ngx-translate/core) currently and are quite happy with it.

[2019-07-19 13:52] GianlucaMaggio commented on #19901
Hi @chuckjaz,
how can I import the generated summary module? Where can I found it?

[2019-07-19 14:27] AndreyWV commented on #31386
@pepper2108 We create mocks of children components like:
[code]

And declare it:
[code]

[2019-07-19 14:49] kimamula commented on #15763
Thanks!
Specifying `index.ts` explicitly in `public_api.ts` (i.e., `export * from './some-module/index'`) also works.

[2019-07-19 14:51] benelliott commented on #17010
@jpike88 In the meantime can you not simply set a `isErroring` variable somewhere and not spawn a request to your API / instantiate a dialog / whatever until `isErroring` is `false` (ie when the user dismisses the error)?

[2019-07-19 14:58] ayoubleb commented on #19544
Different components with the same name will cause this issue as well, if not the casing .

[2019-07-19 15:04] jared-christensen commented on #26764
I'm struggling with this too. I don't feel like it should have been closed.

[2019-07-19 15:46] Jimmysh commented on #14324
@mlc-mlapis AOT will be NgModuleFactory. You can test https://github.com/Jimmysh/ng-lazy-component-load

[2019-07-19 16:23] FoseFx commented on #22627
For those who are not willing to take a deep dive into their ngsw-worker.js file here's a bit of research I did regarding SwPush:

SwPush is an Angular API to subscribe and unsubscribe to the ngsw's PushManager for the purpose of creating a Push Notification.

More information regarding this topic:

- https://developers.google.com/web/fundamentals/codelabs/push-notifications/

- https://developer.

[2019-07-19 16:52] smasala commented on #31032
Also getting one of the errors with a different module

`ERROR in Value at position 0 in the NgModule.imports of AngularFontAwesomeModule is not a reference: [object Object]`

Version:
`Angular: 8.1.2`

[2019-07-19 17:04] deadmann commented on #31531
what's triage that it needs?

[2019-07-19 17:15] jonr-elsewhen opened #31662 "URL of next route snapshot is not populated in guard"
# 🐞 bug report

### Affected Package

@angular/router

### Is this a regression?

Unknown

### Description

The `URL` property of the `next: ActivatedRouteSnapshot` parameter supplied to `canActivate()` is not populated.

## 🔬 Minimal Reproduction

[code]

## 🔥 Exception or Error

`next.url` in the above is an empty array.

## 🌍  Your Environment

**Angular Version:**
<pre><code>Angular CLI: 8.1.0

[2019-07-19 17:21] abarghoud commented on #31629
Hi there, I am taking this issue

[2019-07-19 17:40] christianlundberg commented on #31662
Correct me if I'm wrong but the route you're going to is the second parameter. The first is where you currently are, so it's probably empty because it's your first navigation.

[2019-07-19 17:59] duard commented on #31160
[code]

![ivy](https://user-images.githubusercontent.com/36894/61555412-bd741200-aa35-11e9-9dd4-ba5c295aa006.png)

[2019-07-19 18:01] duard commented on #30114
[code]
![ivy](https://user-images.githubusercontent.com/36894/61555587-1fcd1280-aa36-11e9-89f0-c0c8a4e5bb01.png)

[2019-07-19 18:23] pauldraper commented on #31556
@JoostK I'm not sure. You can take a look at my rather minimal example.

https://github.com/pauldraper/angular-template-context

Add `"enableIvy": true` to src/tsconfig.json and then run `ng build`.

[2019-07-19 20:16] jonr-elsewhen commented on #31662
@christianlundberg I don't believe so. The second parameter is a snapshot of the router state. I am going by https://angular.io/guide/router#guard-the-admin-feature which labels the first param as "next". Also, when debugging, I can see that the snapshot object does have the URL parts assigned into a private property, just not the public `url` property.

[2019-07-19 20:29] fetis commented on #16477
@ocombe what is the chance that Google accepts this feature from external developer/community? I think we're waiting toooooo long.

[2019-07-19 22:16] NasserDos commented on #30106
I had to separate some classes into their own files to prevent this from happening.

[2019-07-19 22:47] filipesilva commented on #31627
@AndrewKushnir won't this compiler code also run at browser app runtime when it is using JIT compilation?

[2019-07-19 22:49] michaeljota commented on #31589
@AndrewKushnir Looking at the source code, seems like there a directive option for each, single select elements, and multiple select elements. In `SelectMultipleControlValueAccessor`, option seems to have a function that set the property to true or false. However, this function does not actually alter any of the properties of the option. [Source](https://github.com/angular/angular/blob/master/pack

[2019-07-19 23:32] abarghoud commented on #31629
So, after searching, it seems related to [#14594](https://github.com/angular/angular-cli/issues/14594),
Modules in libraries are not compiled the same way ivy does or normal modules in application

[2019-07-20 04:37] kailashchandra opened #31666 "Issue in layout of page while resizing of page."
# 📚 Docs or angular.io bug report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.io/...

### Reproduction Steps**

### Expected vs Actual Behavior**

## 📷Screenshot

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

### Browser info

### Anything else relevant?

When i go to

[2019-07-20 06:03] pkozlowski-opensource commented on #31653
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-07-20 06:03] #31653 closed

[2019-07-20 06:04] pkozlowski-opensource commented on #31648
It is indeed duplicate of #19145, thank you @trotyl !

[2019-07-20 06:04] #31648 closed

[2019-07-20 07:42] vladimiry commented on #29220
The issue is still in place, just tested with the most recent library versions:
  - create `package.json`:
[code]
  - run `yarn install`
  - create `index.ts`:
[code]
  - run `npx tsc  --noEmitOnError --lib es2015,dom index.ts` output:
[code]

[2019-07-20 07:48] Jonathan002 commented on #26964
@joshualouisjenson I have created a package that is suppose to be a workaround for named routes in lazy modules. Please have a look at it and hope it helps. : )

Repo Link: https://github.com/Jonathan002/route-master-example

[2019-07-20 07:53] Jonathan002 commented on #14324
Hey guys, with the help of the comments form this thread I have created a workaround package that is meant to be a workaround for trying to get entry components loaded outside the module through routing. Please have a look at it and hope that it helps.

Repo Link: https://github.com/Jonathan002/route-master-example

[2019-07-20 08:02] Jonathan002 commented on #10981
Hey guys, I've created a workaround for loading a lazy module's component through custom named outlets routing. Please have a look and hope this is useful.

Repo: https://github.com/Jonathan002/route-master-example

[2019-07-20 08:06] Jonathan002 commented on #17343
@markqian Hi Markqian, I've created a workaround solution that is intended to help with named outlets and lazy modules. Please have a look and hope this helps.

Repo: https://github.com/Jonathan002/route-master-example

[2019-07-20 08:52] trotyl commented on #30767
Duplicate of https://github.com/angular/angular-cli/issues/2077

---

Support question.

[2019-07-20 09:04] cexbrayat commented on #30086
@daileytj The issue should be fixed in Angular 8.0.0, so if you still encounter it in recent versions, please open an issue with a minimal reproduction and ping me, and I or someone on the team will take a look.

[2019-07-20 10:34] gkalpak commented on #31666
Thx for reporting, @kailashchandra! This will be fixed by #31533.

[2019-07-20 10:34] #31666 closed

[2019-07-20 13:34] thecp opened #31670 "Ivy: unknown element test failures with `NO_ERRORS_SCHEMA`"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/core

### Is this a regression?

Let's say it works with View Engine.

### Description

We used to test certain components sometimes with `NO_ERRORS_SCHEMA` to not have to bring in all the existing child components into the testing module. Also we mock our services to not use the `HttpClient` but return directly an obser

[2019-07-20 13:35] lincolnthree commented on #24656
Still having trouble with this in 2019. The serializer helps. Is it intended that apps should generally need to override this? E.g. is it common practice? Obviously there is an API for it, but... I just wonder how often this is done.

[2019-07-20 13:38] Domainv opened #31671 ""host: style" metadata in child component has breaking change ( enableIvy: true)"
# 🐞 bug report

### Affected Package
angular/*8.2.0-next.0 (Ivy engine enabled)

### Is this a regression?

This used to work with
Ivy engine: disabled

### Description

"host: style" metadata in child component has a breaking change

"Ivy: false" rewriting all host styles with styles in the option
"Ivy: true" rewriting only changed styles

## 🔬 Minimal Reproduction
https://github.com/Domainv/ivy-

[2019-07-20 14:05] JoostK commented on #31670
Hi @thecp,

The usage of schemas is not supported with Ivy at the moment, there's a PR in progress here in #30301.

[2019-07-20 14:09] thecp commented on #31670
@JoostK thx for the fast answer, I didn't see this PR :roll_eyes:

[2019-07-20 14:14] vladiag opened #31672 "incorrect definition of form validity for Control Value Accessor with NG_VALIDATORS"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/forms

### Is this a regression?
This behavior present in Angular 7 and Angular 8 version, don't know about others

### Description
Form Control validation state not updated correctly if you using custom form control created with Control Value Accessor and using NG_VALIDATORS for update validity state. When you trying to

[2019-07-20 14:39] jonr-elsewhen commented on #31662
Never mind, this was based on a misunderstanding of what the snapshot's `url` property contains: It is only those parts of the URL matched by the route declaration, not the whole URL. I am able to get the full URL from the second parameter.

[2019-07-20 14:39] #31662 closed

[2019-07-20 15:08] loxy commented on #17560
Is there any progress on this topic? Will this get implemented somehow?

[2019-07-20 17:03] JoostK commented on #31670
@thecp No problem, thank you for taking the time to report!

[2019-07-20 17:12] Airblader commented on #31649
I'm fairly sure that an equals sign at that position would have to be encoded to form a valid URL.

[2019-07-20 17:24] namerci commented on #31649
Maybe, but it works well without encoding on AngularJS and old fashion
websites.

sob., 20 lip 2019, 19:14 użytkownik Ingo Bürk <notifications@github.com>
napisał:

[2019-07-20 19:14] Menuka5 commented on #31132
@kapunahelewong Yes, please 😄
For clarification, I just need to remove  `// #enddocregion` from all angular code or all todo comment which include `docregion`?

[2019-07-20 19:29] kapunahelewong commented on #31132
@Menuka5 I think the only comments to remove are:

[code]

Take a look at #24571 to see a screenshot. The tricky part is finding all of them. I believe though, that they are only in the API docs, not the guide documentation.

I think you want to leave the docregions because without them things will break. @petebacondarwin can you confirm that I'm giving @Menuka5 the right direction?

[2019-07-20 19:35] vasyliv commented on #30207
Are there any updates? I have the same bug.

[2019-07-20 19:41] vasyliv commented on #29606
+1 has the same bug.

[2019-07-20 19:51] Menuka5 commented on #31132
I found over 100+ entries lines contains above line in the project.
I will remove them after you guys give confirmation 😃

[2019-07-20 20:04] faran52000 opened #31673 "Google API Breaks Change Detector in Lazy Loaded Module"
I have implemented Google API in my project and Whenever I authenticate from the popup view the change detector breaks for the Angular and the view stops refreshing the values as can be seen in the stack-blitz below.

Stack-blitz: https://stackblitz.com/edit/angular-bgzrt2

What should happen here is when I get back from Google API the value should update to true in the `example.component.html` wh

[2019-07-20 20:37] michael-vasyliv opened #31675 "ng-content does not work properly with @angular/elements"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/elements

### Is this a regression?
--

### Description
a custom element does not insert ``<ng-content>`` in the right place properly
the element has next html:
[code]
but it creates next one:
[code]
but I expect next one:
[code]

the problem is - ``<ng-content>`` is inserting at the end of the content custom element

##

[2019-07-20 22:05] jbogarthyde commented on #31132
Do NOT remove any ‘docregion’ or ‘enddocregion’ comments. Remove ONLY the ‘TODO’ comments.

[2019-07-21 01:32] hanct commented on #15797
II try an online angular editor, and observe that Angular 7 seems NOT to add 'novalidate' by default. This means that we no need to do anything to do native browser validation. Maybe that explain the official "cautious" guide.

Hence can we add an assurance that Angular now by default does not add 'novalidate' . If that is the case, no need to explicit indicate ngNativeValidate anymore to do brows

[2019-07-21 03:45] fishbone1 opened #31691 "Attempting to change configurable attribute of unconfigurable property"
Using iOS' WKWebView in a Cordova app, I get this exception:

The exception is thrown here:
https://github.com/angular/zone.js/blob/afa1363eb9ae3be506442311a18723a112f9ef8b/lib/browser/property-descriptor.ts#L362

The strange thing is that the exception only occurs once in a while and I don't know how to reproduce it. I assume that there is other code that overwrites the `onreadystatechange` attri

[2019-07-21 03:55] hecht-software opened #31697 "Pending microtasks are not detected in fakeAsync()"
I posted this question on SO, because I thought I'm doing something wrong:
https://stackoverflow.com/questions/52255528/how-to-detect-missing-tick-in-fakeasync

A user in the comments suggested submitting an issue here.

I have a problem with one of my unit tests. It tests a "delete" component method, which should show a confirmation dialog allowing the user to confirm or abort the delete action.

[2019-07-21 04:49] Menuka5 commented on #31132
Got it. Will send a pull request after around 1 hour.

[2019-07-21 05:23] hesampour opened #31704 "ReferenceError: Zone is not defined angular universal 6"
I try to update my angular project to angular 6. after a lot of tries I get this error when start the universal
ReferenceError: Zone is not defined
when I remove import 'zone.js/dist/zone-node' this problem fixed but there is another problem that zone is not loaded

[2019-07-21 06:29] Menuka5 commented on #31132
I opened a pull request. Hopefully, I didn't violate your PR rules 😃

[2019-07-21 06:37] petebacondarwin commented on #31132
I left a comment on the PR.

[2019-07-21 06:50] Menuka5 commented on #31132
@brandonroberts @kapunahelewong @jbogarthyde Can please answer the concern of @petebacondarwin In PR https://github.com/angular/angular/pull/31713

[2019-07-21 08:49] dhananjaykaushik opened #31715 "Error during ng build --prod"
I upgraded from angular 6 to 8. In angular 6, my project builds fine, but in angular 8 I get these errors

ERROR in Error during template compile of 'Injectable'
  Function calls are not supported in decorators but 'ɵmakeDecorator' was called.
Error during template compile of 'Directive'
  Function calls are not supported in decorators but 'ɵmakeDecorator' was called.
Error during template compile

[2019-07-21 12:06] ericmartinezr commented on #31715
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-07-21 12:28] narodashakuntala94 opened #31719 "My issue is in angular 6 server how to handle side multiple error in client side....bad request error ....error not responded"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Please help us process issues more efficiently by filing an
issue using one of the following templates:

https://github.com/angular/angular/issues/new/choose

Thank you!

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2019-07-21 12:31] narodashakuntala94 opened #31720 "Handle 400 Bad Request From WebApi In Angular 6"
Handle 400 Bad Request From WebApi In Angular 6...

![bad request error](https://user-images.githubusercontent.com/21075882/61591207-71fe6700-abe1-11e9-849f-37cb1e5bbcf3.png)
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Please help us process issues more efficiently by filing an
issue using one of the following templates:

https://github.com/angular/angular/issues/new/choose

Thank you!

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2019-07-21 13:15] ericmartinezr commented on #31720
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-07-21 13:15] ericmartinezr commented on #31719
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-07-21 13:28] vahidvdn opened #31721 "Wrong validation in checkbox type"
# 🐞 bug report

### Description

I have a form with some types of inputs. There is a mistake in the form validation in the `checkbox` type. First, I check the first item. Then I check the second one and then I uncheck the first one. It shows **error message**!

## 🔬 Minimal Reproduction

 https://stackblitz.com/edit/angular-2oj6o6

## 🌍  Your Environment

**Angular Version:**
Angular 8.0.2

[2019-07-21 13:56] JiaLiPassion commented on #31723
@Deepakm1051, please provide a reproduce repo, thanks.

[2019-07-21 14:01] JiaLiPassion commented on #31724
@LeParadoxHD , @kumaresan-subramani , please provide version and reproduce repo. thanks!

[2019-07-21 14:04] puku0x commented on #31590
@gkalpak @sjtrimble
The changes in https://github.com/angular/angular/pull/31173 seems to cause this style regression.

[2019-07-21 18:16] gkalpak commented on #31590
Thx for looking into it, @puku0x. I think it will be fixed by #31533. Can you confirm?

[2019-07-21 19:30] kapunahelewong commented on #31132
@Menuka5, we'll need to follow @petebacondarwin's guidance here. As far as how to refactor to fix the underlying code (that is, to do the "TODO"), we'd need engineering input unless you know how to refactor the code to fix it. The place I can help you most effectively is the process of getting the PR through review, git questions, pinging the right experts, etc. Please let me know your thoughts.

[2019-07-21 20:47] pamtbaau commented on #31668
@JiaLiPassion Thank you for you reply. I understand your reasoning, but... I used to work fine in Electron 3.x...

I've found another statement that makes change detection fail:
[code]

This too used to work in Electron 3.x. I've solved this last issue by using the following:
[code]

When will the patched version of zone.js be available?

[2019-07-21 23:58] domints opened #31773 "Unable to run ng build with Angular 8 (migrated from 7) - .builders['app-shell'] should hare required property"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular-devkit/build-angular

### Description

I got project, almost new with no changes which decided to upgrade to Angular 8 - shouldn't be complicated task.
After I figured out almost all package dependency issues, I am left with one:
`Errors: Data path “.builders['app-shell']” should have required property 'class'`

By googli

[2019-07-22 00:09] JiaLiPassion commented on #31668
@pamtbaau, oh, so `  private static breaksZone = remote.app.getPath('userData');` this will work in `electron 3.x`? I will check why it worked, maybe the the timing of `initialization of CallRegistery` changed.

the new version should be released soon.

[2019-07-22 00:11] domints commented on #31773
That seems to work after changing version to 0.801.2 once more.
Weird thing, but have to close issue. Maybe my configs will help somebody get stable state?

[2019-07-22 00:11] #31773 closed

[2019-07-22 00:57] puku0x commented on #31590
@gkalpak
I confirmed #31533 solves the problem, thank you!

[2019-07-22 02:29] AndrWeisR commented on #24556
It worked OK at runtime for me with --save-dev, which makes sense if the module is only used to generate a polyfill at build time.

[2019-07-22 02:31] angelkenneth commented on #28373
Seems to have been fixed by #30876 and released for Angular 8.1.0 , after upgrading to the latest Angular version (8.1.1): i no longer see the issue in Sentry. Closing.

[2019-07-22 02:31] #28373 closed

[2019-07-22 02:40] keatkeat87 commented on #12540
same issue here 8.1.1
when input type=number unblur the valueChanges fire again.

[2019-07-22 02:56] BluebambooSRL commented on #21191
@briznad  @MrCroft  many thanks for the solution! It also works for me :)
There is any way to write the code at the @angular/pwa library in order to avoid tho search for this bug? @gkalpak @AngularFirebase @fireship-ioThanks in advance!! Federico

[2019-07-22 03:23] Menuka5 commented on #31132
I don't understand the new requirement. I am a beginner to angular.
Can you elaborate more on how to fix this? An example would be nice.

[2019-07-22 03:47] quangv opened #31774 "Philosophy of Angular in the docs."
# 📚 Docs or angular.io bug report

### Description

The introduction should include more of the philosophy of Angular, much like AngularJS' introduction page.

## 🔬 Minimal Reproduction

https://angular.io/docs (intro page)
vs
https://docs.angularjs.org/guide/introduction (AngularJS' intro page)

### What's the affected URL?**

https://angular.io/docs

[code]

### Anything else relevant?

I am new

[2019-07-22 07:14] Jin-wei opened #31775 "typescript use i18n"
Oh hi there! 😄

I was doing Internationalization (i18n) recently.
In the HTML,it is work. But,in the typescript, I don't know how to do it.
If you know, please tell me！

[2019-07-22 07:15] petebacondarwin commented on #31132
@Menuka5 - I don't know if this is a beginner's task. We need to work out on a case-by-case basis how to remove the `!` operator without the TS compiler complaining and without breaking the functioning of the code.

Some are fairly easy, such as this https://github.com/angular/angular/pull/31713/files#r305699323, where we simply provide an initializer.

[code]

But in each case you must think thro

[2019-07-22 07:18] byvlstr commented on #30329
@Anar21 That's interesting but I feel like my issue is slightly different. In fact, I am able to access the page, say "/user?gender=m" when I am already on the app, on any of the pages. The problem only occurs when I either refresh the page "/user?gender=m" or when I use a bookmark to this URL  (from a different website).

I suppose something must be correct with the routing, but at the same time,

[2019-07-22 08:13] trotyl commented on #31775
Duplicate of https://github.com/angular/angular/issues/11405

[2019-07-22 09:02] #31775 closed

[2019-07-22 09:03] #31720 closed

[2019-07-22 09:03] #31719 closed

[2019-07-22 09:04] #31715 closed

[2019-07-22 09:26] TomMenga opened #31776 "DI - Handle the "InjectFlags" in Injector_.get()"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/core

### Description
At the moment the `Injector_.get()` implementation doesn't handle the `InjectFlags`.
 I'd like the feature so that I can use the component `Injector` like this:
[code]

### Describe the solution you'd like
It looks like you already handle the `DeepFlags`.   [refs.ts:342](https://github.com/angula

[2019-07-22 09:55] 143premsai commented on #31724
@JiaLiPassion  I was also getting the same error. It was occurring when i was doing browser navigation buttons forward and backward.
![image](https://user-images.githubusercontent.com/12939389/61623442-41c3d080-ac94-11e9-848c-c9211a648046.png)

I have one hybrid application, in which main Header and body are in angular 1.4 version and using the state router when i got Lifecyclemgmt as state i was

[2019-07-22 10:14] botondus commented on #31465
We ran into the same issue after upgrading to Angular 8 (and without Ivy enabled). We set the LOCALE_ID based on a backend API call (through a `Resolver`), and now the application tries to set the LOCALE_ID before the backend API call is done, so it is set to undefined and causes the `Cannot read property 'toLowerCase' of undefined.` error

(I've posted it here: https://stackoverflow.com/questions

[2019-07-22 10:40] mosilver commented on #29220
I have the same error, after upgrade native script from 5 to 6 and angular 7 to 8, when building Android app I get error

**ERROR in node_modules/@angular/compiler-cli/index.d.ts(21,10): error TS2305: Module
@angular/compiler-cli/src/ngtools_api"' has no exported member 'NgTools_InternalApi_NG_2'.**

[2019-07-22 10:51] chintan12 opened #31777 "Angular application has been freezing for some time when create duplicate tab - Chrom"
# 🐞 bug report

### Description
Hi, I am facing one issue in angular like I have a page which is having the basic angular form as well three independent components which are basically loading the list from API like and Highchart of the list, wavesuffer js for listing mp3.

Angular application has been freezing for some time when creating a duplicate tab - Chrom

## 🌍  Your Environment

That issue

[2019-07-22 12:11] MonstraG commented on #21115
I need this feature on user creation page. /user/new should redirect to /user/id, and /user/id should reload when I click "save".

Having `onSameUrlNavigation` do that for me would be easy and simple.

`window.location.reload` reloads whole page instead of a component (I have a header with navigation as a separate component, I don't want it to be reloaded).

[2019-07-22 12:12] mezhik91 commented on #31595
same issue. @angular/core 8.1.2
Is there any way to fix it?

[2019-07-22 12:17] Kappyh opened #31778 "Lazy Loading with params"
# 🚀 Lazy Loading with params

### Relevant Package
This feature request is for @angular/router and @angular/core
Angular version 8.

### Description
I can't do lazy loading with params between the children and his parent.
Like this:
https://rotas817351.stackblitz.io/dealership/1/about
My child route 'about' don't get the param with ActivatedRoute, the params properties comes empty.
Example in stac

[2019-07-22 12:50] ocombe commented on #16477
if you are serious with it and want to spend time working on it, then I'd say that the chances are high that they'd accept help to work on this feature

[2019-07-22 13:10] djleonskennedy commented on #31778
Hallo @Kappyh
angular has it already

[code]

make sure that you have uniq "id" names

[2019-07-22 13:28] trotyl commented on #16477
@ocombe @IgorMinar I'd like to provide some volunteer work for Ivy i18n, please let me know if there are some chances.

[2019-07-22 13:29] Kappyh commented on #31778
Nice!! I'm outdated in angular issues lol I'll try this solutions. Thank yout!

[2019-07-22 13:30] JiaLiPassion commented on #31724
@143premsai , could you provide a reproduce repo? thanks!

[2019-07-22 13:32] #31778 closed

[2019-07-22 13:42] fetis commented on #16477
I'm willing to contribute but I absolutely don't know the scope and complexity of the tasks. Can we take the list in the original message as our specification/requirements?

[2019-07-22 13:45] ocombe commented on #16477
No, this list is now obsolete.
I'll let the team know that you two are interested so that we can see how to organize this.

[2019-07-22 13:46] BorntraegerMarc commented on #24769
@th0r

Unfortunately this did not work for me:
[code]

[2019-07-22 13:51] trotyl commented on #31777
Please provide a minimal reproduction for others to investigate. You can use https://stackblitz.com/ or share a newly create Angular CLI application in GitHub.

[2019-07-22 13:58] fetis commented on #16477
@ocombe I think it's more than 2 of us.

What we need from the Angular teams are
* a requirements list/some specification
* rough complexity estimation
* 1-2 mentors for communication

with that community could organize development and split tasks

[2019-07-22 14:02] mlc-mlapis commented on #16477
There is what I am aware of on https://hackmd.io/UfFN_wyVT-Ob1p70nA3N_Q?view

[2019-07-22 14:02] trotyl commented on #16477
@fetis It may not be a good idea to split the work too much, communication and context sharing also cost heavily, especially for some core works having high chance of conflicts.

[2019-07-22 14:03] localpcguy commented on #16477
Still surprised XLIFF is listed as a pro (or rather, lack thereof for ngx-translate is a con). Google Translate and other Google services seem to be using ARB files, which is a JSON representation of translation strings. For example, we built our mobile apps with Flutter/Dart, where the INTL is implemented with ARB files. It'd be nice if the Angular team, when looking this over, takes this into ac

[2019-07-22 14:10] VlasovSergey commented on #31595
Same here,
I have this issue in only in production build.
Tried to find the reason. Looks like the issue here
https://github.com/angular/angular/blob/cb848b94102855d1e773892b25375304102cab69/packages/core/src/render3/instructions/lview_debug.ts#L60
I think it should be replaced with
`export const LViewArray = (typeof ngDevMode !== 'undefined') && createNamedArrayType('LView');`
cause ngDevMode doe

[2019-07-22 14:18] willyboy commented on #28345
I was kind of surprised to see that routerLink wasn't setting "role=link" in its code when the element wasn't an <a>.
@alan-mroczek Do you think that issue should be related to this request or open a separate issue for it?

[2019-07-22 14:19] fetis commented on #16477
I agree but I don't think this whole can be delivered by one person in a reasonable time. The scope is too huge

[2019-07-22 14:33] mleibman commented on #31748
@JiaLiPassion, sorry for the delayed response.

I ended up resolving this in a similar fashion for an internal project at Google, so let me share some comments and overall things that need to be taken care in a solution to this.

**Security**

First of all, unlike regular `<script>` tags, fetching the script using either `fetch()` or `XmlHttpRequest` is subject to Cross-Origin Resource Sharing (CO

[2019-07-22 14:39] nuts-n-bits commented on #28345
I disagree that should be the default behaviour. There are cases where an element with routerLink isn't a link but a button. Especially in nested routing scenarios.

[2019-07-22 14:54] ajafff commented on #31679
Turns out the error was in my setup:

[code]

[2019-07-22 14:54] #31679 closed

[2019-07-22 14:57] jbogarthyde commented on #31132
If recommend closing the existing PR and starting over. Look only in the examples directories, and remove only those `TODO` comments that come between  `// #docregion` and ` // #enddocregion` comments.
-   The imported examples for guide pages are under angular/aio/content/examples/
-   The ones for the API reference pages are under angular/packages/examples/
To reduce the review burden (since the

[2019-07-22 15:54] MarcelNeu commented on #31346
I have the same issue, seems --deploy-url is used as "ng serve" web root.

[2019-07-22 16:02] codotronix commented on #26829
This issue still exists. Anyone found any work around please ?

[2019-07-22 16:28] hajjimurad commented on #31388
@pmandayam , I'm getting exactly the same error now. What was the issue?

[2019-07-22 16:41] mcalmus opened #31781 "description and code class names don't match"
# 📚 Docs or angular.io bug report

### Description

 A clear and concise description of the problem...

The text says "'ChildCmp' and 'AuxCmp'", but the example code uses "MainChild" and "AuxChild"

## 🔬 Minimal Reproduction

### What's the affected URL?**

https://angular.io/api/router/Route#componentless-routes

### Reproduction Steps**

### Expected vs Actual Behavior**

## 📷Screenshot

## 🔥 Ex

[2019-07-22 16:44] mcalmus commented on #31595
FWIW: I was not using a production build when I encountered the issue.

[2019-07-22 16:48] kapunahelewong commented on #31774
Hi @quangv, thanks for your feedback. You might find that the following pages share the Angular perspective:

- If you scroll down here, there are four points highlighted: https://angular.io/ (This one seems the most obviously in line with "Why Angular".)
- Similar to the above with a little more detail: https://angular.io/features
- The blog, where the latest and greatest reasons to use Angular a

[2019-07-22 18:27] spock123 commented on #31314
Getting same here with 8.2.0-next.2

[2019-07-22 18:36] gkalpak commented on #21191
@BluebambooSRL: Sorry, I disn't understand your question 😕 Can you clarify?

[2019-07-22 18:42] l0co commented on #26829
Looking on the history, in my opinion they stopped reading this ticket after marking it as closed :/

[2019-07-22 19:11] ErazerBrecht opened #31785 "Regression Ivy with ComponentFactory"
# 🐞 bug report

Tbh: I didn't search if this was already known (no idea how I would have found it 😅)

### Affected Package
The issue is caused by package @angular/core

### Is this a regression?

This works without Ivy enabled.

### Description

I was trying out Angular Ivy in our codebase. One of the last 'problems' that is really blocking seems to be ['ngx-toastr'](https://github.com/scttcper/ng

[2019-07-22 19:11] lucaslar commented on #16211
I faced the same problem in Angular 8.0.3 and found a one-liner-solution that at least works for me: `this.router.navigate(<any[]><unknown>'');`

### For the impatient:

[code]

### Further information:

#### My expectations/what I wanted to achieve in my application:
Component `ConditionBasedComponent` is protected by a Guard as it can only be activated if a certain condition is fulfilled. Otherw

[2019-07-22 19:15] glemiere commented on #26829
This is so frustrating.

This is a huge issue and I was hoping a framework maintained by GOOGLE would be assigned enough resources to properly test, listen to the community, and fix anything CRITICAL a little faster than that.

I am very disappointed in Angular right now.

[2019-07-22 19:37] amayer42 opened #31787 "Pipe naming convention is not explicitly described"
# 📚 Docs or angular.io bug report

### Description

It is not currently clear in the documentation how to name pipes.

## 🔬 Minimal Reproduction

### What's the affected URL?

https://angular.io/guide/styleguide#style-02-09

### Reproduction Steps

Naming and using a pipe with the `name` "my-pipe" will cause issues at runtime.  This is the case for any pipe whose `name` property is written in keba

[2019-07-22 19:46] williangd commented on #12088
+1 for this feature

[2019-07-22 19:58] Airblader commented on #31787
I think this should either be made to work or it should be a compile time error.

[2019-07-22 20:27] amayer42 commented on #31787
I will note that when I ran this locally, VS code showed me the error (though it was the same sort of unintelligible error that I gave above).  I assume that means that the Angular Language Service is actually detecting it it as an issue.

Regardless of whether it is made to work, I'd still argue that the documentation be made explicit as to what naming conventions are supported.

[2019-07-22 20:42] Deepakm1051 commented on #31723
@JiaLiPassion we found this issue bcoz of window.addEventListener(). We have a requirement like
1. open two tabs and log in with the same account
2. logout in one tab and another tab also should logout automatically.
Thanks.

[2019-07-22 21:28] deeg commented on #31346
I have the same issue now.

My build config had the following options:

`            "outputPath": "dist/static",
            "deployUrl": "static/",`

Now I experience the same 'refresh' behavior as describe in the ticket. I can only load the app with 'ng serve' when going to 'http://localhost:8080/static' when before I could just go to the root 'http://localhost:8080'

Has anyone found a work ar

[2019-07-22 21:41] kolkov commented on #12664
Would be nice a global configuration for me too. (for selected routes and children)
Please!

[2019-07-22 22:43] chaoyangnz commented on #22193
how is this issue?

[2019-07-22 23:53] yulianovdey commented on #13792
+1

[2019-07-23 01:21] #31590 closed

[2019-07-23 03:25] pim3nt3l commented on #31160
I solved it modifying the line **166** of the file **node_modules/@angular/material/menu/typings/menu.d.ts** and leave it as bellow

static ngBaseDef: ɵngcc0.ɵɵBaseDef<_MatMenuBase>;

[2019-07-23 04:56] Anj21 commented on #18812
Hello everyone, is this issue resolve, without upgrading to my project from Angular7 to Angular8. I am also facing the same issue. i used interceptor for access-token. Now in interceptor, i am adding common params, like access token, which require for every request, but when we API hits in which custom params are going, like id, name, date, It doubles the params. Can anyone help to sort out the is

[2019-07-23 05:56] parwinderD4D commented on #19009
Hi
I have same issue. Basically i have upload my build ( dist )  folder under sub-folder.
for Example : /home/abc/myapp/public/angular_front/dist/
and i have link my domain name ( Eg:  www.abc.com ) to dist folder.

after that I add  .htaccess under ( /home/abc/myapp/public/    folder ).
even i also try with (  /home/abc/myapp/public/angular_front/dist/  )  but still i am facing same issue.

could

[2019-07-23 05:59] jinsts commented on #26764
This issue is still there in Angular 8. I also feel this shouldn't have been closed without a proper solution instead of workaround.
I think the problem is, change in query params emits before change in router's params emits. Ideally it should emit change in route params first and then query params. Please correct me if I'm wrong.

[2019-07-23 06:24] santoshyadav198613 commented on #31787
Agreed with @Airblader, @kapunahelewong can we get some inputs here.

[2019-07-23 07:35] santoshyadav198613 commented on #31787
![image](https://user-images.githubusercontent.com/11923975/61691939-4ea2fb80-ad4a-11e9-9a6d-3d88cef00817.png)
So this is what i have found, the template splits the text in interpolation based on few chars and "-" is one of them.

[2019-07-23 07:36] arturovt opened #31791 "Ivy fails with NGXS"
# 🐞 bug report

### Is this a regression?
Yes, it is

### Description
NGXS works with Angular 8, but build fails when `enableIvy` is `true`

## 🔬 Minimal Reproduction
https://github.com/arturovt/ivy-ngxs-repro

* create new app with `--enable-ivy`
* install `@ngxs/store`
* build with `--prod` flag

## 🔥 Exception or Error
<pre><code>
chunk {0} runtime-es5.465c2333d355155ec5f3.js (runtime) 1.41 kB

[2019-07-23 08:18] markwhitfeld commented on #31791
Just to add in here, I have just tested this repo with Angular 8.2.0-next.2 and it has the same build failures.
In the referenced firebase issue it was suggested that this would be fixed by PR #30591 but this PR seems to have been merged, closed (_although there seem to be more subsequent commits on it?_) and is part of the Angular 8.2.0-next.2 package. The issue is unfortunately still present in

[2019-07-23 08:40] lwensveen commented on #31354
@elvisbegovic Sadly I'm not able to share it.

[2019-07-23 08:43] omahjoub commented on #31522
Hi all, same problem here, is there any planned fix to this?

[code]

[2019-07-23 08:48] petebacondarwin commented on #31522
No fix created yet... It is in the pipeline.

[2019-07-23 09:23] michaelholzknecht commented on #31581
Just to finish this issue. I did't figured out where the problem is – also on a different server / device the same problem pops up - it works randomly. So finally I replaced all the svg's to png's or use the svg in a html template.

Thanks for your help and time!

[2019-07-23 09:31] kolkov commented on #31354
I try new version, and I try to share my app.

[2019-07-23 10:02] tjordanrsa commented on #28653
I have also used this approach and found the same issue.

[2019-07-23 11:03] askbs opened #31794 "Angular 6 application and search-engine optimization, empty Google cached page version"
When we open the website its working fine but when we check it SCO purpose it can't be open. Here is the URl -

http://webcache.googleusercontent.com/search?q=cache%3Ahttps%3A%2F%2Fwww.uzyth.com&oq=cache%3Ahttps%3A%2F%2Fwww.uzyth.com&aqs=chrome..69i57j69i60j69i58j69i60l2.2214j0j4&sourceid=chrome&ie=UTF-8

We have make a dynamic HTML page for change the languages. We can use to bind the data from J

[2019-07-23 11:13] manikandanm143 opened #31795 "how to use ::ng-deep inside @media query syntax?"
i want to use ng-deep inside css media query.
@media (min-width: 1025px) and (max-width: 1280px) {
     ::ng-deep.bs-datepicker {
         left: var(--my-var) !important;
     }
}

[2019-07-23 11:44] andrasz commented on #30972
Hello everyone!

I see this issue is closed, but I'm experiencing the same problem only with a different library. I'm using the latest angular cli at this time (8.2.0-next.2) and created a brand new app with ivy enabled. After installing the library from npm and building the app, the error is the same as reported above:

ERROR in node_modules/@mobiscroll/angular-lite/src/js/modules/mobiscroll.angu

[2019-07-23 12:03] alastair-todd commented on #29959
@cexbrayat I think this needs to be reopened for the use-case when the module that is being imported is coming from a shared library:

Only when using `ng build` with  `--configuration production`

from code

[code]
where `shared-modules` is a library, and that is the `path `in `tsconfig` and

`export * from "./lib/auth-n/auth-n.module";`

is in the shared-modules `public-api.ts`

FWIW `auth-n.mod

[2019-07-23 12:04] #31176 closed

[2019-07-23 12:49] rzvjerkovic commented on #17806
Any updates? I just wasted a day trying to debug this.
I replaced `formControlName` with `[formControl]`, but I don't think that's the solution.

[2019-07-23 12:57] fergardi commented on #25047
Any news on this one? Just got stucked with this.

[2019-07-23 12:58] H--o-l commented on #31109
Thanks for looking into this!

Sorry for the long answer too, I wasn't here.

It's an interesting fact that the Driver state is not persisted between service worker instances.
I did know that service workers would be stop by browsers, but not how to simulate it, thanks!
(Your instructions were almost perfect: I think it's the `chrome://inspect/#service-workers` page and the `terminate` button.)

T

[2019-07-23 13:06] pepper2108 commented on #31346
@deeg I encountered the same thing when upgrading to latest version. Didn't find any workaround yet, but will definitely get back to you if I find any.

[2019-07-23 13:24] michaeljota commented on #26764
I don't think we should expect an consistent behavior from this. Both are observables and both are being given to us in a way we need to shape them as we need. As I see it now, through it may seem like a bug, is a feature an we should leverage on rxjs to achieve exactly what we want.

[2019-07-23 13:25] liam-mcdermott commented on #26485
+1

[2019-07-23 13:49] kolkov commented on #31354
[code]

[code]

[code]

Mybe this is wrong? `"@types/yandex-maps": "file:local-types/yandex-maps",`

[2019-07-23 13:56] kolkov commented on #31354
`"@types/yandex-maps": "^2.1.8"` not fixed it for me

[2019-07-23 14:02] kolkov commented on #31354
@elvisbegovic Done https://github.com/kolkov/kassar

[2019-07-23 14:11] HamedFathi commented on #18877
Any news?!

It seems that here everything is shut down because of Ivy. Nobody from the Angular team is in this issue.

[2019-07-23 14:16] jstreicheryatta commented on #10727
Sorry to open this up again, but i have an issue with the provided solution to override component:

When i override the component the tests of the actual service will fail with an unhelpful message:
Uncaught TypeError: You provided 'undefined' where a stream was expected. You can provide an Observable, Promise, Array, or Iterable. thrown

When you debug the test it actually runs through succesfull

[2019-07-23 14:40] StevenSerrien opened #31799 "AsyncPipe doesn't register identical numbers as a change"
# 🐞 bug or intended?

### Description

Hello everyone, I'm trying to figure out as to why my AsyncPipe is not exactly behaving like a basic subscription. I have an external subject to which I next numbers upon. This subject is given to a child-component through the Async pipe, which then displays whatever given in its template.

For this easy test case, I also want to reset that internal `@Input()

[2019-07-23 15:03] pepper2108 commented on #31346
I can confirm that a workaround suggested by @MarcelNeu works.
There's one small problem though, assets loaded as `<img src...>` don't load anymore locally but it's solvable by replacing them with divs with background defined in css.

[2019-07-23 15:07] Necroskillz opened #31800 "Hook into router config loading"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/router

### Description
[Router.resetConfig](https://angular.io/api/router/Router#resetConfig) allows you to basically post process router at application startup - e.g. replace static placeholders, translate urls, mass add route data etc.). However you don't get a chance to do this for lazy loaded components.

### Descr

[2019-07-23 15:08] jayoungers commented on #18093
We have "Tool" and "Administration" like functionality available in a global menu that opens modals: most of the time users wouldn't access any of them, so having them always available locally is a waste.

I wouldn't be opposed to lazy-loading them through a named outlet, but I haven't had any luck lazy-loading modules that way (not sure if it's possible).

it would be nice if I could just do this

[2019-07-23 15:09] jecorrales3 commented on #19009
@parwinderD4D hey, I've solved this issue following this way:

1.  You have to change in your index
[code]
2. Copy your project from the directory of your project (inside dist)
`myproject/dist/(copy this folder, its the same name of your project)`
3. Send your project to your hosting (app its the name of my project).
![folder-project](https://user-images.githubusercontent.com/25104888/61723500-e05

[2019-07-23 15:13] MarcelNeu commented on #31346
@pepper2108 I think this can be solved by setting the correct BASE_HREF

[2019-07-23 15:35] deeg commented on #31346
@MarcelNeu , thank you for the fix, it does work for me as well.

I wonder if this is how it will stay or if this new change from 7 to 8 is considered a bug.

I also do not think this ticket belongs under the 'Router' component, as this does not really have anything to do with the Angular router.

[2019-07-23 15:40] ihd2911 commented on #19009
@jecorrales3  Please do not add .htaccess like this, use angular.json file to add htaccess file.

[2019-07-23 15:43] quangv commented on #31774
I still believe the introduction should provide a little bit more personality and over-arching philosophy. More a "love letter" like AngularJS introduction, versus a list of features. The _"Zen of Angular"_ for example, if there still is one.

It'll be good for brand new developers who haven't had experience with AngularJS to know the heart/philosophy of Angular, an overview of it's approach.

[2019-07-23 16:13] jayoungers commented on #10981
I have a menu that opens modal windows, where each could contain quite a bit of code: my goal was to lazy load the modals on demand when needed, which I was able to get to work like so:

app.component:
[code]
link:
[code]
added this to the root routes:
[code]
view-stuff-module
[code]

[2019-07-23 16:33] BenRacicot commented on #10981
@jayoungers that is awesome! Could you setup a StackBlitz for us?

[2019-07-23 16:56] filipesilva commented on #18093
@jayoungers if you're using Ivy you should be able to do that sort of thing as you expect, with no other complications on our side. You'll still have to hook it up somewhere (either in the router or manually) but it should just work without extra tooling. In Ivy this is easier because there are no .ngfactory files to work with.

But if you're not using Ivy we need to find `import('app/administrati

[2019-07-23 17:16] jbogarthyde opened #31803 "Add doc for opting out of ivy"
When Ivy is default for build, users need to opt out instead of opting in.
Need to adjust https://angular.io/guide/ivy

[2019-07-23 17:31] filipesilva commented on #29959
@alastair-todd I don't think that case ever worked really. We've had https://github.com/angular/angular-cli/issues/6373 open for a while. I think it will work out of the box with Ivy though, but haven't tested.

[2019-07-23 17:32] kapunahelewong commented on #31774
Thanks for your thoughts, @quangv. I'll share this thread with the docs team!

[2019-07-23 18:08] alastair-todd commented on #29959
@filipesilva is it possible any other way - that is, lazyloading a local library module? I think the use-case is fine - its an Authentication and Authorization module used by all of our apps...

I seem to remember being forced down the import route in the first place as the classic lazyload syntax was failing for libraries too....in the latest ng 8.0

[2019-07-23 18:43] filipesilva commented on #29959
I think the usecase is very legitimate, it's just that we never managed to get it working well without Ivy, and then with Ivy there shouldn't be a problem. The last comment (https://github.com/angular/angular-cli/issues/6373#issuecomment-453006158) also has a workaround for now that should work. Basically wrapping the lib module import in an app lazy module.

[2019-07-23 19:02] ErazerBrecht commented on #31785
Here is my repro:
https://github.com/ErazerBrecht/AngularIvyBug

If you enable `enableIvy` it doesn't work, if you don't enable Ivy it works.

[2019-07-23 19:06] jbogarthyde commented on #31612
This seems to be a TypeScript issue, not an Angular doc issue.
Joe, I'm closing it, please feel free to re-open it if you have more to say.

[2019-07-23 19:06] #31612 closed

[2019-07-23 19:10] jbogarthyde commented on #18328
See also  #17779,  #23730

[2019-07-23 19:12] jbogarthyde commented on #23730
See also #17779

[2019-07-23 19:21] aripp commented on #30835
That is a webserver related problem. Angular 7 did include a MIME type in the <sripts> tags in index.html:
`<script type="text/javascript" src="runtime.26209474bfa8dc87a77c.js">`
Angular 8 does not include a MIME type in <script> tags in index.html:
`<script src="runtime-es2015.703a23e48ad83c851e49.js" type="module">
<script src="runtime-es5.465c2333d355155ec5f3.js" nomodule>`
It's there fore up t

[2019-07-23 19:35] willyboy commented on #28345
@nuts-n-bits I guess it depends on how you read the spec... To me, a route change is a page change regardless of whether it's a full or partial replacement of the page. But I can see where you're coming from... The code would be kind of complex but technically possible to determine if the root router outlet is changing or just a child.

[2019-07-23 19:48] nuts-n-bits commented on #28345
Thanks, @willyboy , you are right that a route change is a page change. I think I can even agree on it with the partial change case. However something that triggers a page change need not be a link, and that was my point. A button might trigger the routing, a tag might trigger that, etc. Whether that element (which triggers a page change) shall be regarded as a link for ARIA purpose, is up to the

[2019-07-23 20:03] artuska commented on #15477
Have the same issue. All those hacks above just does not work.

[2019-07-23 21:17] lxieyang commented on #28730
Any workaround/news on this issue?

[2019-07-23 21:47] sbgreene1307 commented on #23334
FWIW If you're using the angular-cli proxy, it will add the correct statusText. We discovered this because for local development we use the proxy to forward to our deployed backend service. 4xx responses always had the right text. But once we deployed the same code, the response statusText was always 'OK'. Confirmed this to be true by bypassing the proxy.conf.json on a locally running UI. Just pro

[2019-07-23 22:16] hsta commented on #25611
We have introduced the `ngsw` in our apps and are seeing a related or possibly even the same problem.

Here some additional information for our case (if it is a separate problem I guess/hope someone with deeper insight in the `ngsw` will be able to tell; I'll happily post a new report then).

## Problematic Current Behavior

The service worker eventually ends up in `SAFE_MODE` on updates with the

[2019-07-23 22:25] alxhub commented on #29361
Hello all! For people monitoring this issue, I just wanted to give a quick update. I've put together a [design doc](https://hackmd.io/@alx/SycgothIV) describing the problem and my proposed solution. The basic idea is that in `tsconfig.json` you'll tell the Angular compiler which of your path-mapped libraries are "private". That will give the compiler enough information to correctly generate import

[2019-07-23 22:32] alxhub commented on #31512
Closing as we're tracking this in the root cause issue #31654

[2019-07-23 22:32] #31512 closed

[2019-07-23 22:33] alxhub commented on #31495
Transferring this to core as there's nothing we can do on this from the compiler side - the behavior in question is the snapshotting of `ngOnInit` prior to decorator execution.

[2019-07-23 22:36] alxhub commented on #31401
Closing this, as no working reproduction was provided in 7 days. @juergenzimmermann, please feel free to re-open this issue with a working reproduction if you're still experiencing the problem.

[2019-07-23 22:36] #31401 closed

[2019-07-23 22:51] #31627 closed

[2019-07-23 22:56] jecorrales3 commented on #19009
Can you give more information, because I've done this as you said in your comment. Sorry if I'm wrong.

[2019-07-23 23:29] GuilhermeBCC commented on #31795
Try stackoverflow. Here are issue about angular development.

[2019-07-24 01:29] pit-upgop-iti commented on #30802
I tried removing node_modules and some other things but nothing seems to work, is there any consistent way to fix the issue?

[2019-07-24 02:56] helmar81 commented on #23795
npm run build:ssr; npm run serve:ssr
same issue, get error message : missing script: build:ssr

[2019-07-24 04:15] #31645 closed

[2019-07-24 04:15] #31668 closed

[2019-07-24 04:18] #31785 closed

[2019-07-24 04:26] Airblader commented on #31787
I guess that makes sense because it interprets it as a subtraction.

[2019-07-24 04:36] santoshyadav198613 commented on #31799
Hi @StevenSerrien ,
The issue is not with asyncPipe , this is because the way the code is written, on reset you should call next again to update the counter value, which you are missing.

change your reset to

[code]

[2019-07-24 06:18] ErazerBrecht commented on #31785
Thx @kara for the fix!
Sincerely, Brecht

[2019-07-24 06:23] rakeshkohli opened #31814 "Issue in Angular example"
Hi,
Can you please elaborate the **[checked]="toggleHeroes"** as you can see on below attached image.  I think it should be  **[checked]="showHeroes"**

![image](https://user-images.githubusercontent.com/52414837/61769818-35ad4f80-ae09-11e9-9964-24d449d183f2.png)

# 📚 Docs or angular.io bug report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

###

[2019-07-24 06:26] ihd2911 commented on #19009
@jecorrales3 Yes, but we do not need to manually add htaccess everytime we create a build. keep htaccess file in src folder, in angular.json file, add htaccess like following. Whenever build will be created, it will be automatically placed in your dist directory/

[code]

[2019-07-24 06:46] trotyl commented on #31799
Relates to https://github.com/angular/angular/issues/29927

[2019-07-24 06:49] ShivPandey commented on #13048
if you are using angular material it will not going to work scroll :) use cdk to handle scroll

[2019-07-24 07:50] Ks89 opened #31816 "Angular 8 error on Safari 10 Mobile (iOS 10.3.3 iPad): "Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten""
# 🐞 Bug report

### Command (mark with an `x`)

[code]

### Is this a regression?

Yes, the previous version in which this bug was not present was: 7.x.x

### Description

If you create an empty app with `ng new`, you cannot run it on Safari 10 Mobile (iOS 10.3.3), because it throws this error on console:

[code]

I already talked about this issue [HERE](https://github.com/angular/angular/issues/3

[2019-07-24 07:51] Ks89 commented on #30928
Since the discussion seems dead, I opened a new issue about this topic here https://github.com/angular/angular/issues/31816

[2019-07-24 07:54] Ks89 commented on #31816
Also, It seems related to https://github.com/angular/angular/issues/31103, but it's closed and I'm still having the same problem.

[2019-07-24 08:16] StevenSerrien commented on #31799
Hi @santoshyadav198613, thanks for your reply.
I guess that that's the issue tho, what if I'm building a library and for the sake of convenience do not want the user that is using the hellocomponent from library to have to manually send a next on its subject to reset it, but rather handle it inside the library component. Seems like a valid usecase, no ?

[2019-07-24 08:24] petebacondarwin commented on #30972
I'll take a look.

[2019-07-24 08:42] Ks89 opened #31818 "Angular 8 error on Safari 10 Mobile (iOS 10.3.3 iPad) with LAZY LOADING: Unhandled promise rejection ChunkLoadError: Loading chunk 3 failed."
# 🐞 Bug report

### Command (mark with an `x`)

[code]

### Is this a regression?

Yes, the previous version in which this bug was not present was: 7.x.x

### Description

If you create an empty app with `ng new` and you add a lazy loading module, you cannot navigate to it on Safari 10 Mobile (iOS 10.3.3), because it throws this error on console:

[code]

I already talked about this issue [HERE](h

[2019-07-24 10:09] gkalpak commented on #25611
Thx for the info, @hsta. Could you (or @philipooo) try patching the SW script with the code shown in https://github.com/angular/angular/issues/25611#issuecomment-464756987 (without any other modifications) and see if you can still reproduce the issue?

[2019-07-24 10:36] Ploppy3 commented on #31417
Seems to be patched in 8.2.0-next.2

[2019-07-24 10:36] #31417 closed

[2019-07-24 10:36] gkalpak commented on #31109
Ooops, I meant `chrome://serviceworker-internals` (instead of `chrome://service-worker-internals`). But `chrome://inspect/#service-workers` works too 👍

Regarding your points:

1. You are right that this leaves some things to the browser, but it was a design decision trying to balance different things. For example, balancing the benefits of caching with users' expectation that opening a new tab gi

[2019-07-24 10:56] Phil147 commented on #30972
We also run into this problem building our library with ivy enabled and ng-packagr.
It throws the error once we import another module from the library itself.

E.g. we have an icon component and other components reuse that one.

So once we have
[code]

the build fails at this point. The icon module gets built before.
`[...]/icon/icon.module.d.ts(1,22): error TS-996002: Appears in the NgModule.impo

[2019-07-24 11:13] rcketscientist commented on #30835
**Why is this closed**?  This is a regression.  ng7 created a proper index.html.  ng8 does not.

[2019-07-24 11:17] petebacondarwin commented on #30972
@Phil147 - just to be clear, building libraries with IVY mode is not yet supported. You should still build your library with ViewEngine mode and publish it with ngpackagr. Then only run ngcc on the published package when it is being consumed in an app.

[2019-07-24 11:19] Itrulia commented on #9866
Still happens in Angular 8 aswell

[2019-07-24 11:20] Phil147 commented on #30972
@petebacondarwin thx for the heads up! but thx to the ivy checks we found that we didn't export everything in some public-api.ts files 👍 😄

do you know when library builds are planned to be supported?

[2019-07-24 12:11] danbilokha commented on #22700
@samherrmann I have your corner case.

[code]

Which isn't resolving the loadChildren null \ undefined error. I have found no other way rather than using

`
router.reserConfig(someBasicRoutes.concat(createRoute(APIs, Components))
`

Maybe someone will have a solution here or it could be useful.

[2019-07-24 13:10] BlindDespair opened #31819 "PortalInjector does not delegate parentInjector to dynamically created component"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/cdk or @angular/core

### Is this a regression?

 No

### Description

 I have a lazy loaded module, which has entry components defined in it. I've built a shared service using @angular/cdk for opening modal windows. In my lazy module I have a provided service for backend communication. My modal is opened through its ow

[2019-07-24 13:21] alexsandroaoliveira commented on #22556
Try to bind the inputs with  [formControl]="form.controls['controlName']" insted of formControlName

[2019-07-24 14:20] filipesilva opened #31821 "Add doc for `ng test --spec`"
Angular CLI recently added a new option for `ng test` called `--spec`: https://github.com/angular/angular-cli/pull/13423. This option allows testing only specific files.

This option is not yet documented in angular.io. It should feature in https://angular.io/cli/test.

/cc @jbogarthyde

[2019-07-24 15:12] #26485 closed

[2019-07-24 15:20] gkalpak commented on #31821
angular.io retrieves the docs from `angular/cli-builds`. I don't see the `--spec` option on [cli-builds/help/test.json][1].

[1]: https://github.com/angular/cli-builds/blob/d09f24d091417b3567e708aa369bfb93567587d4/help/test.json

[2019-07-24 15:22] Prinsn commented on #25037
@alxhub your code definition there doesn't work for me, where as @dhavalpowar's does

@sharikovvladislav I ran into a similar problem with trying to setup testing on a project I was just brought onto where decoupling things isn't something that I'm allowed to do prior to the testing being in place.  Catch 22 kind of thing, can't do good code without working with bad code.

[2019-07-24 15:35] filipesilva commented on #31821
Turns out no action is needed. I had the name wrong, it's not `spec`, it's `include` now. And it's already listed in https://angular.io/cli/test. My bad!

[2019-07-24 15:35] #31821 closed

[2019-07-24 15:41] Nols1000 opened #31823 """taskData" is read-only""
# 🐞 bug report

### Affected Package

 The issue is caused by package zone.js

### Is this a regression?

 Yes, the previous version in which this bug was not present was:  0.8.29

### Description
When unsubscribing a observable create by
[code]
there is an error in makeAddListener.

## 🔬 Minimal Reproduction

 https://stackblitz.com/edit/angular-issue-repro2-22qrqs

## 🔥 Exception or Error
<pre><

[2019-07-24 15:51] jbogarthyde commented on #18627
I'm closing this on the strength of Trotyl's recommendation for best practice.

[2019-07-24 15:51] #18627 closed

[2019-07-24 16:02] jbogarthyde commented on #18747
The current `detach()` example does also show the use of `detectChanges()`.
Closing this - Please re-open if you have further concerns or suggestions.

[2019-07-24 16:02] #18747 closed

[2019-07-24 16:03] #19032 closed

[2019-07-24 16:08] jbogarthyde commented on #19510
Looks done - closing it. Please re-open or create new issue if you find something that hasn't been done.

[2019-07-24 16:08] #19510 closed

[2019-07-24 16:40] delashum opened #31825 "Template reference variable not accessible across <ng-template>'s"
# 🐞 bug report

### Affected Package

The issue is cause by package @angular/core

### Is this a regression?

No

### Description

When using multiple templates in a single component, a template reference variable defined in one template is undefined in the other.

## 🔬 Minimal Reproduction

https://stackblitz.com/edit/angular-lgdbcy

## 🔥 Exception or Error

none

## 🌍  Your Environment

**Angula

[2019-07-24 16:45] kapunahelewong commented on #29213
Please see #26696 for more context. Thank you @METACEO. :)

[2019-07-24 17:03] blogcraft commented on #31059
Angular 8 has become too slow, maybe in some part, it is related to typescripts 3.4 and its regression problems? [see 'Type-checking speed-ups' section](https://devblogs.microsoft.com/typescript/announcing-typescript-3-5/)

Upgrading to 3.5 is a MUST.

[2019-07-24 17:31] dsuwirya opened #31826 "Angular-8: missing `node_modules\@angular\core\src\di ...`folders"
Hello,

I have an older angular library (built using Angular 6) that's somehow has the following import in its .module.d.ts file:
`provide: import("@angular/core/src/di/injection_token").InjectionToken<(() => void)[]>;`

This is broken since I'm upgrading my app (which is using the above library) to Angular-8 as it seems most of folders/files under the `node_modules\@angular\core\src\...` are no l

[2019-07-24 17:37] pkozlowski-opensource commented on #31825
This is by design - local references are scoped to a template (view). Closing as works as intended.

[2019-07-24 17:37] #31825 closed

[2019-07-24 17:47] kapunahelewong commented on #24643
@raj2033, did @chembu's updates help clarify these points for you?

[2019-07-24 18:08] jbogarthyde commented on #24769
George thinks that the proper fix would be to detect Node more reliably (as mentioned above).
Removing `comp: docs` label.

[2019-07-24 18:16] kolkov commented on #31654
+ loses code changes on reload

[2019-07-24 18:19] gkalpak commented on #30330
OK, I was able to create a minimal reproduction, based on https://github.com/angular/angular/issues/30330#issuecomment-500590820 (thx @brannislav). The issue happens when there are two "top-level" downgraded components; one projected into the other.

Now, on to writing a test :smiley:
@artem-galas, are you still interested in working on this or should someone else take over?

[2019-07-24 18:20] gkalpak commented on #30330
OK, I was able to create a [minimal reproduction][1], based on https://github.com/angular/angular/issues/30330#issuecomment-500590820 (thx @brannislav). The issue happens when there are two "top-level" downgraded components; one projected into the other.

Now, on to writing a test :smiley:
@artem-galas, are you still interested in working on this or should someone else take over?

[1]: https://sta

[2019-07-24 18:20] kapunahelewong commented on #23621
Closing as this was fixed in https://github.com/angular/angular/pull/23634. @StephenFluin please feel free to reopen and tag me if there are further items to include.

[2019-07-24 18:20] #23621 closed

[2019-07-24 18:36] Spawnrad commented on #30778
I have exactly the same issue :(

[2019-07-24 18:45] austinrmiller commented on #21691
The regex were copied from closure, but those regex have since been updated to handle this: https://github.com/google/closure-library/commit/be76be0665a3e75af18403f050492d5d73e75e7c

[2019-07-24 18:50] gkalpak commented on #30778
This seems like a Chrome issue. You can follow it [here] and maybe provide the additional info that is requested (see, for example, [this comment][2]).

[1]: https://bugs.chromium.org/p/chromium/issues/detail?id=968444
[2]: https://bugs.chromium.org/p/chromium/issues/detail?id=968444#c27

[2019-07-24 19:05] kapunahelewong commented on #31814
Adding link for reference. All the other checkboxes use `[checked]="show___"`.

https://stackblitz.com/angular/gdearxmxrem