[2019-09-26 14:34] #32866 closed

[2019-09-26 14:36] atscott commented on #32863
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2019-09-26 14:36] #32863 closed

[2019-09-26 15:35] sasensi opened #32868 "HttpInterceptor triggers RxJS operator `tap` twice but `finalize` once"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/common/http

### Is this a regression?

 Not that I know.

### Description

 In HTTP interceptor, when piping to `next.handle(req)`, some RxJS operators behave in an unexpected manner. `tap` is called twice while `finalize` is called once.
When reproducing the same pipe out of the `HttpInterceptor` context, directly on

[2019-09-26 15:42] Airblader commented on #32865
AFAIK a few months ago there was talk about efforts to document this. Not sure anything ever came of it.

[2019-09-26 15:55] Airblader commented on #32868
finalize can only ever run once because it acts upon completion of the observable, and a completed observable is closed.

So it seems two values are emitted here before the observable is completed.

[2019-09-26 16:18] shabbir7252 commented on #25813
In My Case

My Case:

[code]

[2019-09-26 17:22] jalbatross commented on #15275
@alarm9k

First of all, thank you for the excellent solution you mentioned above. It has been extremely helpful to me thus far.

I'm having a bit of trouble implementing multiple components and routing between them when creating modules/components this way. Do you have any advice for implementing this?

[2019-09-26 17:32] gkalpak commented on #32832
I just tested with Edge 44.x and it works fine.
I see the error with IE11. I will look into it.

##
@dannyskoog, you can find here the browsers for which we include polyfills (and thus want the docs app to work) in [aio/browserslist][1]. You can see which browsers this covers [here][2].

That said, we don't actively test on all of them. Evergreen browsers should work. IE may break from time to tim

[2019-09-26 17:41] gkalpak commented on #32832
The reason this fails is that `NodeList` which is returned by `querySelectorAll()` (e.g. [here][1]) does not support [forEach()][2] on IE. For reference, this was introduced in 007282d2b.

I will send a PR. Thx for reporting, @RoninKK :+1:

[1]: https://github.com/angular/angular/blob/fbad4ff65/aio/src/app/shared/toc.service.ts#L68
[2]: https://developer.mozilla.org/en-US/docs/Web/API/NodeList/for

[2019-09-26 17:42] stefanocke opened #32869 "ngc --watch ignores changes in templates (ivy, 9.0.0-next.8)"
This is a repost of #31982, since:
- the bug is still there in 9.0.0-next.8 and 8.2.8 ,
- it is reproducible (as before) with the given example and
- it has been closed unjustified as duplicate by @alxhub.

🐞 **bug report**
**Affected Package**
The issue is caused by package @angular/compiler-cli

**Is this a regression?**
Yes, the previous version in which this bug was not present was: **8.1.2**

[2019-09-26 17:50] djleonskennedy commented on #15275
If you need dynamic template, you are doing something wrong!

[2019-09-26 17:59] dannyskoog commented on #32832
Thanks for that @gkalpak. Good job both of you!

[2019-09-26 17:59] sasensi commented on #32868
Indeed, in this [modified version](https://stackblitz.com/edit/tap-tap-finalize-7lx4on) of the example, I log the value in the console.
It appears that this object: `{type: 0}` is emitted first, then, the response.
Is it on purpose and if so, what does this value mean ?

[2019-09-26 18:09] scottseeker commented on #15275
@djleonskennedy That’s a ridiculous statement that you didn’t even attempt to back up.  If you don’t need the feature that’s fine, keep it moving.

[2019-09-26 18:33] JoostK commented on #32729
Finally found some time to look into this. The `mydatepicker` lib is not processed by itself as its library structure follows an unusual layout, where `index.js`/`index.d.ts` files are at the root, but Angular's metadata file is stored at `dist/index.metadata.json`. ngcc needs some hint to know this is indeed an Angular package that needs to be processed, which can be accomplished by creating a `n

[2019-09-26 18:33] #32729 closed

[2019-09-26 18:37] dannyskoog commented on #32868
Most likely the first event you’re intercepting is of type https://angular.io/api/common/http/HttpEventType#Sent

[2019-09-26 18:53] CharlesElGriego commented on #15275
I have an issue with this solution, I am not able to add a service
![image](https://user-images.githubusercontent.com/21071571/65714321-183e7100-e058-11e9-8d3d-0ab2512c517a.png)
![image](https://user-images.githubusercontent.com/21071571/65714350-27bdba00-e058-11e9-8ff2-cac91ba73d44.png)
![image](https://user-images.githubusercontent.com/21071571/65714419-458b1f00-e058-11e9-9436-46fd067d82c6.png)

[2019-09-26 18:58] gowthambj commented on #32853
please can it be prioritized?

[2019-09-26 19:18] RoninKK commented on #32832
Great, thank you @gkalpak !
According to the aio/browserslist above you support 2 major versions. Could you add Edge 42 to the PR or are you only looking at addressing this in IE11 at this point?

[2019-09-26 19:19] JoostK commented on #31160
@benelliott There's no github issue at the moment. The plan is to get rid of `ngBaseDef` altogether, so no effort has been put into fixing this issue. Feel free to open an issue for tracking purposes, if you like.

Your point regarding backwards compatibility is a valid concern for which I don't know the answer. I suspect it may indeed break, as you're afraid of.

As an alternative, you could inse

[2019-09-26 19:35] alarm9k commented on #15275
@jalbatross @CharlesElGriego Guys, I am glad it helped someone (and sorry it didn't work for the others). I had a very narrow use case in that particular project for which I researched and found the solution. Almost immediately after that I switched to another project (I am a contractor), and I haven't used Angular for more than a year now (and I unfortunately don't have a spare half an hour to do

[2019-09-26 19:51] JoostK commented on #32506
Looked into this just now, `@agm/core` 1.0.0 has bundles which has decorators represented in a way that is strange to me. I'm looking into it.

[2019-09-26 19:56] JoostK commented on #32466
Sorry, I've lost a bit track of what the state of this is now, after having diagnosed why `mydatepicker` did not work. Is this still an issue with the other date library?

[2019-09-26 20:04] plchampigny opened #32870 "Error when building dependant libraries"
# 🐞 bug report

### Affected Package
@angular-devkit/build-ng-packagr
@angular/cli

### Is this a regression?
I dont think so

### Description
When running ng build lib2 on a library dependant on another local library, the build process returns errors like

## 🔬 Minimal Reproduction
[code]
Go to lib2.module.ts
Add Lib1Module to module imports
Then run

[code]

Here's a [repository](https://github.

[2019-09-26 20:04] plchampigny commented on #32870
I've made a repro on a repository: https://github.com/plchampigny/angular8-dependant-libraries

[2019-09-26 20:26] demsey2 commented on #24195
hey I have the same problem and I hope this will be fixed, a simple example
[code]
[code]
when I navigate to /tasks and TasksResolver will fail and return empty() the navigation is not cancelled

the only ways to get that working is:
[code]
or manually navigate to previous route in your resolver
[code]

[2019-09-26 20:31] mlc-mlapis commented on #15275
@CharlesElGriego Your images are not enough to understand. If you really want to seriously talk about it, create as simple as possible reproduction project on Github, which focuses only on the one problem and which is possible to clone and run.

[2019-09-26 20:35] plchampigny commented on #32870
Well i found the fix for my issue, if you encounter the same problem go check my changes if you encounter the same problem.

[2019-09-26 20:35] #32870 closed

[2019-09-26 22:04] gkalpak commented on #32832
I don't see any error in Edge, so I don't know what to fix 🤷‍♂

[2019-09-26 22:43] gkalpak commented on #32722
@umdstu, not sure what we can do about it. We have some dependencies that we need to get from different places. There is no getting around that 🤔

If you know what you are doing, you can work around this (if you do not intend to use those dependencies). E.g. you can comment out `sauce-connect` in `package.json` (as you did) and remove the `webdriver-manager update` call in `postinstall`.

But I do

[2019-09-26 22:43] #32722 closed

[2019-09-26 22:52] jalbatross commented on #15275
@CharlesElGriego
Something you can do is pass in the service from the context where you are creating your component. Then assign that variable to the instance of your dynamically created component.

[code]

[2019-09-27 00:05] #32832 closed

[2019-09-27 02:15] renanmontebelo commented on #12219
There's no consensus (at least in this thread) as to how to implement this feature. I'd say that until someone drives this discussion with new ideas and gets consensus this feature is halted.

[2019-09-27 02:20] JiaLiPassion commented on #32802
I have confirmed with Chrome team, this issue will be fixed from Chrome side in chrome 78, so I will test it and close this issue after chrome 78 stable is out.

[2019-09-27 03:44] yzhe554 commented on #32868
The first emit is telling you the request's sent successfully({type: 0}). The second emit is the HttpResponse.

[2019-09-27 06:13] julianomacielferreira opened #32873 "Missing space between "Component" and "will" in docs."
# 📚 Docs or angular.io bug report

### Description

It's just missing the space to separate the words "Component" and "will" in docs.
 - FUNDAMENTALS
      - Components & Templates
          - Templates Syntax
              - Template reference variables (#var)
                  - How a reference variable gets its value

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.io

[2019-09-27 07:08] MrJithil commented on #32873
Issue confirmed.
![image](https://user-images.githubusercontent.com/26359740/65749431-adf30280-e123-11e9-8884-fc26a0a2abf2.png)

[2019-09-27 07:39] jacobbuck72 opened #32874 "$locationShim constructor calling AngularJSUrlCodec.parse with only one parameter that then calls the URL constructor with two parameters which fails on Safari"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/common/upgrade

### Is this a regression?

No, we've only recently started using $locationShim.

### Description
The $locationShim constructor injects AngularJSUrlCodec as its urlCodec and then makes this call:

    let parsedUrl = this.urlCodec.parse(initialUrl);

The 'parse' method takes two parameters (url, base) and i

[2019-09-27 07:40] sasensi commented on #32868
Ok, thank you for your insights.
I still have a last misunderstanding: if 2 consecutive values are effectively emitted from the observable (HttpEventType then HttpResponse), why does the subscriber only receive the second one ?
In other words, why don't we see the output "tap tap success success finalize" ?

[2019-09-27 07:57] Lakston commented on #32573
I just tried your proposition @jkyoutsey and providing the full file name didn't work for me, side note, I am using the `stylePreprocessorOptions` => `includePaths` to point to my styles folder in `angular.json`

[2019-09-27 08:15] jotatoledo commented on #32819
@djleonskennedy IMO your issue and OPs are at most related, but are definetly not the same. Yours is basically #24187

[2019-09-27 08:28] trotyl commented on #32868
You do, if you choose to receive all events by using `observe: 'events'` instead of `observe: 'body'` or `observe: 'response'`. See https://angular.io/guide/http#listening-to-progress-events for details.

[2019-09-27 08:34] gkalpak commented on #32868
I am going to close this, since everything works as expected afaict. Feel free to continue the discussion below (and let me know if you don't think this should be closed).

[2019-09-27 08:34] #32868 closed

[2019-09-27 08:59] sasensi commented on #32868
Ok, thank you, I guess this was not a bug then but my misunderstanding of the behavior of the interceptor.

Can I use your knowledge of the internal logic one last time ?
My use case is actually to show a loading animation while at least one HTTP request is pending.
So every time a request starts, I increment a loading counter and every time a request ends, I decrement it. The loading animation is

[2019-09-27 09:24] jeevasusej opened #32875 "Style Guide - Interface names and function return type"
I have two questions on the style guide
- For component we need to use single responsibility, do we need to follow the same for interface?
- Do we need to use return type for functions?

[2019-09-27 09:54] adam-marshall commented on #2962
My problem is https://github.com/angular/angular/issues/11644. Any update on this?

Another dimension to the problem is it will obviously block any attempts to use a custom validator to intercept. I have a pain point moving from AngularJS where the 'number' validation was built-in, and worked with ng-messages. I tried to add my own 'number' validator, but obviously this doesn't work as any non-num

[2019-09-27 10:12] Porkechebure opened #32876 "WHy angular is retarded?"
Spoiler: no template i have no time to waste

Problem: Reactive forms
div with [ngClass] directive:

``div
                    class="custom-control custom-checkbox"
                    style="padding-left:80px; padding-top:30px;"
                    [ngClass]="{
                      'd-none': f.somereactiveformcontrol.value !== '1'
                    }"

f is a getter in .ts file that returns a

[2019-09-27 10:48] Porkechebure commented on #32876
https://github.com/udos86/ng-dynamic-forms/issues/253

LAWL EVEN PEOPLE IS ASKING FOR IT

[2019-09-27 10:52] Porkechebure commented on #32876
HAHAHAHAHA look at which hacks people has to sort out
https://github.com/udos86/ng-dynamic-forms/issues/253#issuecomment-318623092

[2019-09-27 10:56] haerulmutakin commented on #31314
getting same error with 8.2.7. any solution?

[2019-09-27 11:00] sarunint commented on #32876
Sure.

I'll go issue by issue.

Firstly, the Angular repository receives **hundreds** of issues a day. The issue template ensure that the report is structure so the team can understand the issue quickly.

Because you change the DOM, but didn't change the `ControlValueAccessor` behind it. I suggest you use [`f.somereactiveformcontrol.setValue`](https://angular.io/api/forms/FormControl#setvalue) ins

[2019-09-27 11:09] kumaresan-subramani opened #32877 "In angular-cli 6, "ng serve --prod" throws error"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

Working fine latest angular-CLI version- 8

### Description

WHile try to run my application in production mode using below command, throws below error

![angularIssue](https://user-images.githubusercontent.com/36756050/65764881-4b5e2e80-e144-11e9-88de-eda6780564d9.PNG)

## 🔬 Minimal Rep

[2019-09-27 11:11] sarunint commented on #32877
Please open the issue in [Angular CLI repository](https://github.com/angular/angular-cli).

[2019-09-27 11:11] kumaresan-subramani commented on #32877
For your information

I can't able to use this workaround in my case

https://github.com/angular/angular/issues/20815#issuecomment-361427086

[2019-09-27 11:13] #32877 closed

[2019-09-27 11:14] Porkechebure commented on #32876
Thank you

The issue is Angular then. Hundred of issues at day you say. A stable and mature and professional product after all these years shouldnt. Thats the damn problem.

And? It's matter of the framework taking care of it because of two way data binding (check below), not my worry, otherwise I could as well do things on my own like I always did.

But there is an even more FUNNY thing. I AM ACT

[2019-09-27 12:01] petebacondarwin commented on #32876
Closing and locking this issue as it is not acceptable language to use on our issue tracker. Please adhere to our code of conduct https://github.com/angular/code-of-conduct.

@Porkechebure - clearly you are feeling frustrated and angry right now. I can understand how that can happen. It is important that we work constructively to solve our problems and not resort to insults.

Please take a while t

[2019-09-27 12:01] #32876 closed

[2019-09-27 12:19] 3gwebtrain opened #32879 "Need a way to deploy a single module alone"
Hi there, In my enterprise application, it has totally 13 modules. each of them are very large sizes. now i requested to deploy the first module which we completed, by parallel other modules on development. I could not isolate a module and deploy alone it.

It's being very big blocker. now I am finding a solution for this. may be i require to keep 13 different application?  how about shared module

[2019-09-27 12:24] RoninKK commented on #32832
@gkalpak @atscott - Just tested again. Looks like it's already been addressed and documentation is now loading with no Issues in both IE 11 and Edge v40/42. Thank you for your quick action!

[2019-09-27 12:34] gkalpak commented on #32733
Thx, @naveedahmed1. I see the error in the report, but I cannot understand why it happens.

Lighthouse reports that the violation happens in `polyfills-es2015.js` on line 1747. (Assuming lines are 0-indexed) on the 1748th line, there is indeed a call to `addEventListener()`:

[code]

Based on the info the [Lighthouse audit docs][1], I put a conditional breakpoint on line 1748 like this:

[code]

T

[2019-09-27 13:18] mlc-mlapis commented on #32879
@3gwebtrain You can't. Remember that because of tree shaking, any additional code feature from Angular packages used in any module can affect the building process -> what has to be included in the main bundle.

For many apps built from the same code base -> using a mono-repo principle is the best way.

[2019-09-27 13:34] tonysamperi opened #32882 "Using ++ and -- in (click) binding"
# 🚀 feature request

### Relevant Package

This request is for the **compiler**

### Description

I just realized that using `++` or `--` operators directly in a `(click)` binding, doesn't work.

Blitz here: [https://stackblitz.com/edit/angular-34xtgk](Blitz)

`ng v` output (first lines)

Angular CLI: 7.2.0
Node: 10.14.2
OS: win32 x64
Angular: 7.2.0

### Describe the solution you'd like

I'd like

[2019-09-27 13:40] adam-marshall commented on #11447
Any update on this?

Another use case is where values need to be automatically calculated from multiple controls and then displayed in read-only controls. Validation isn't necessary, but the value needs submitting on the form. Disabling the control instead means that `form.getRawValue()` has to be used, but then there is no easy way of distinguishing those values from those of disabled controls wh

[2019-09-27 13:47] trotyl commented on #32865
Related to https://github.com/angular/angular/issues/17983

[2019-09-27 14:03] adam-marshall commented on #13761
In case anyone cares, I managed to get rid of the repetition part by using templating in combination with content projection, both together (couldn't use content projection alone as you end up with multiple children, one for each switch case, couldn't use templating alone as you can't grab HTML from a separate file).

[2019-09-27 14:21] wtjerry commented on #24955
I have no JS background, so i also stumbled on the '+' operator.
Perhaps a more explicit style would make it more readable, like:
[code]

[2019-09-27 14:25] sod commented on #32865
oh thx, should have searched harder.

[2019-09-27 14:25] #32865 closed

[2019-09-27 14:47] SvenBudak opened #32883 "Service Worker: Disable auto update"
Hi! Currently i am trying to build an app for a customer that want, that the service worker updates every night at 24 (midnight). I wrote a simple service, but its useless because i cant deactivate at the moment the automatic update:

[code]
Is a feature planed soon, to deactivate the automatic checks?

[2019-09-27 15:43] benelliott commented on #31160
@JoostK Thanks. I think this won't work in my case as the generic is bounded by an `extends`, ie I can't do `BaseComp<T extends U = unknown>`.

[2019-09-27 17:32] kapunahelewong commented on #32811
Hey @dannyskoog, thanks for this info. Would you be interested in submitting a PR to add it? I think this would be a nice addition to the documentation.

[2019-09-27 17:39] SerkanSipahi commented on #32797
I have the same issue! @jelbourn Is this issue maybe related to angular/material?

[2019-09-27 17:42] SchnWalter commented on #11402
Haven't checked, but I just saw commint two commits that landed into Angular v9 and I think they might also solve this issue, see: https://github.com/angular/angular/commit/373e133 and https://github.com/angular/angular/commit/c4e039a

[2019-09-27 17:49] cal-smith commented on #32061
I seem to be hitting this with our Angular icon package (we also use directives on SVGs, it's pretty core to the functionality of our library). This is the error the compiler gives me:
![image](https://user-images.githubusercontent.com/1744185/65790376-8143e880-e12d-11e9-9d26-fcae9c7afefa.png)

Which is produced by this code:
[code]

I can provide a minimal environment if needed 👍

[2019-09-27 17:53] dannyskoog commented on #32868
I wouldn’t recommend it since you’re effectively limiting potential subsequent interceptors from receiving anything but the last event per request. It’s better explained in the last paragraph of this section https://angular.io/guide/http#httpevents.

I would rather write some logic in the `tap` in order to sniff whatever event I’m interested in. And probably give the interceptor file a nisched and

[2019-09-27 17:53] YuliaTsareva commented on #32873
It seems to be a low-hanging fruit. Can I send a PR for this issue?

[2019-09-27 18:07] TinyMan commented on #30684
Can I do this ?

I'll add a section in `Service worker in production` > `Service Worker Safety` if you are ok with that.

[2019-09-27 18:21] GaryLoop commented on #12251
+1.

[2019-09-27 18:43] armanhadifatah opened #32886 "button action gets executed after multiple clicks"
Hi

this is not that kind of bug which gives an error or something like that.

I noticed that when I click on a button in an angular app or even ionic-angular app the button will not do anything till the second click, this is relay annoying  because people think that my app has a problem or it is slow but in reality, it is a kind of bug in angular the experience is wors when you try in mobile phon

[2019-09-27 18:50] gkalpak commented on #32883
What exactly is it that you want to avoid? Updating is a multi-step process (downloading the update, activating it for a page, reloading the page). Which part are you trying to prevent (and why, if I may ask)?

[2019-09-27 18:51] vikerman opened #32887 "Discuss: Router `initialNavigation` values and defaults"
Currently the allowed values for `initialNavigation` parameter for the router `ExtraOptions` are `enabled` and `disabled` (and deprecated `enabled_legacy` and `disabled_legacy`).

### Problem
`initialNavigation` parameter not only controls whether to perform initial navigation on router initialization(parse the URL and set the router state) but also whether to block the application bootstrap until

[2019-09-27 18:53] vikerman commented on #32887
@Splaktar @IgorMinar @CaerusKaru

[2019-09-27 19:09] MRMokwa commented on #22556
Bump.
Same problem with angular 8

[2019-09-27 19:19] atscott commented on #32886
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-09-27 19:19] #32886 closed

[2019-09-27 19:22] atscott commented on #32879
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-09-27 19:22] #32879 closed

[2019-09-27 19:24] SvenBudak commented on #32883
The PWA i create, will be used world wide, also in countries where they have very slow internet connection. Furthermore, shops use over the day the app to show customers some informations about products. The owner dont want that it update meanwhile they have meetings and use the app etc...

An Update can import in worst case about 5 videos which each of them can have 200 or more megabytes.

They w

[2019-09-27 19:28] gkalpak commented on #32857
The error means that dgeni can't find the `components.json` file in `aio/src/generated/`, which in turn requires an `aio/content/components.md` or `aio/content/components/index.md`. Does any of these files exist?

[2019-09-27 19:48] nothingisnecessary commented on #30835
The clever gulp solution to fix the index.html <script> tags during electron builds worked for me, thanks @danielgadz !

[2019-09-27 19:50] ethikz commented on #32857
`aio/content/components/index.md` does exist.  I then ran `docs` and that is where it fails.

[2019-09-27 20:20] dannyskoog commented on #32811
Sure @kapunahelewong! I did some browsing around AIO to find a suitable spot for this particular documentation. What do you think about adding it to this section https://angular.io/guide/component-styles#non-css-style-files?

[2019-09-27 20:26] kapunahelewong commented on #32873
Just saw this, @YuliaTsareva, thank you for the PR. :) I've approved and marked for merge. Everything was in perfect order.

[2019-09-27 20:34] gkalpak commented on #32883
I see. The update happens in the background (and the app is only notified once everything has been downloaded and is ready to use). So, the slow connection shouldn't be an issue.

Currently, it is not possible to disable updates in the background (nor show a progress bar). Note, of course, that an existing page will not receive the update until it is reloaded, but new pages will always get the lat

[2019-09-27 21:00] armanhadifatah commented on #32886
Thank you for your response

I realized the problem by testing it so many times.

The problem is the area of a button in angular is small ( area of click
action or touch ) and the splash effect take some time , when you touch a
button fast and you move your finger away quickly (that is what people do)
the button think that you don't want to make the action so it will not do
that but the splash eff

[2019-09-27 21:24] gkalpak commented on #32857
So, in order for a directory in `aio/content/` to be picked up and copied to `aio/src/generated/` (where it can be picked up from `processNavigationMap()`), it must be matched by an entry in [ readFilesProcessor.sourceFiles][1].

For example, you could modify [this line][2]:

[code]

Note that this only affects top-level directories in `aio/content/`. Sub-directories in `aio/content/guide/` or `ai

[2019-09-27 21:24] #32857 closed

[2019-09-27 21:28] jelbourn commented on #32797
Potentially, we're still in the process of working out issues with the components under ivy

[2019-09-27 22:15] Splaktar commented on #32887
We actually just got a couple related PRs merged
- PR #32702 updates the [router/ExtraOptions#initialNavigation docs](https://next.angular.io/api/router/ExtraOptions#initialNavigation) to accurately describe the behavior and defaults
- PR #32707 adds the `InitialNavigation` type to the [API docs](https://next.angular.io/api/router/InitialNavigation)

We've also opened https://github.com/angular/an

[2019-09-27 22:59] #32873 closed

[2019-09-28 00:21] khanghyxda commented on #32695
Got the same error.
ERROR in Error: Cannot assign to a reference or variable!
    at _AstToIrVisitor.visitPropertyWrite (E:\FS1\NetCore\SSite\node_modules\@angular\compiler\bundles\compiler.umd.js:8406:31)
    at PropertyWrite.visit (E:\FS1\NetCore\SSite\node_modules\@angular\compiler\bundles\compiler.umd.js:7250:28)
    at convertActionBinding (E:\FS1\NetCore\SSite\node_modules\@angular\compiler\

[2019-09-28 01:11] kapunahelewong commented on #32811
Seems like a good place to me. 😊Do you need help getting a PR together? I'm happy to help you get the PR through all the steps in the process. I also have [some instructions](https://gist.github.com/kapunahelewong/567c30f7b353fd1c39bbf6d8343e2dca) I share with people on working with aio in case you'd find it helpful.

[2019-09-28 04:44] Rush commented on #4946
So is it really working fine with Ivy?

[2019-09-28 05:51] SerkanSipahi commented on #32797
@jelbourn Should we open a new issue ticket in angular/material or its ok when the issue is located here?

[2019-09-28 08:42] dannyskoog commented on #32811
Great :) Those instructions seem more than enough in order for me to get a PR up.

So let’s take it from there for now. And thanks for your support!

[2019-09-28 12:20] santoshyadav198613 commented on #29802
Hi @gkalpak ,
Is there anything you want me to test because CI is green.

[2019-09-28 15:16] whyboris commented on #32729
Thank you @JoostK -- hope the time you spent looking into this issue wasn't a waste. I think it's very sensible for Angular to allow for some outdated versions of libraries to not be compatible with new versions of Angular 👌

For anyone coming across similar problems upgrading to Angular 9, the best recommendation is:
- Update the library `mydatepicker` to its successor `angular-mydatepicker`

Thi

[2019-09-28 15:19] whyboris commented on #32748
I think it's sensible for Angular to allow some outdated versions of libraries to become incompatible with new Angular releases 👌

The solution here is simple: upgrade `ng2-charts` version `1.6.0 `to latest `2.3.0` 👌

Please feel free to close the issue if you think there's nothing to learn about why Angular can not compile with the old version of a library 👌

[2019-09-28 15:27] whyboris commented on #32466
Thank you @JoostK 🙇

I think it's acceptable for new major releases of Angular to stop supporting outdated versions of libraries.

In my case there were three, each fixed with newer releases:
- upgrade ` mydatepicker` to its successor `angular-mydatepicker` (by the same author!) ✅
- upgrade `ng2-charts` version `1.6.0` to latest `2.3.0` ✅
- upgrade `ngx-datatable` to `16.0.1` ✅

Had we been keepin

[2019-09-28 15:34] dannyskoog commented on #32882
Interesting question! So let's say we would start allowing `++` and `--` in templates - shouldn't we allow even more operators like `+=`, `-=`, etc. (and possibly even `**`)?

My point is that people might expect certain operators to be available if we introduce `++` and `--`. Just a consideration

[2019-09-28 15:43] tonysamperi commented on #32882
@dannyskoog sure, I think it makes sense!

[2019-09-28 15:56] vinay-akkipet commented on #20402
@gkalpak Setting the timeout to 0 on a freshness strategy will be helpful, thanks.
In scenarios where we would like to update the page immediately whenever we know that the returned network request has a new payload this approach doesn't help and as you mention we would have to write some custom logic.
Have you considered exposing some hooks or generating events based on which we could execute our

[2019-09-28 16:25] versatilePrakash opened #32894 "display some text when div is empty in angular 8....my div has some bootstrap 4 alerts ...."
<div class="card shopping">

                <div class="alert alert-dismissible d-flex flex-wrap">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div class="image "><img src="../../IMG_6518.jpg" height="50px" width="50px"></div>
                    <div class="title px-2">
                        <span class="dark" style="font-si

[2019-09-28 16:55] dannyskoog commented on #32882
Great, hehe. Then we’re on the same page :)

So next step IMO is to understand the reason(s) for currently not allowing these operators. I can just assume that there are some, but I don’t know them myself.

We need someone with more ”under the hood”-experience to bring clarity in this.

[2019-09-28 16:55] gkalpak commented on #20402
@vinay-akkipet, we are considering ways to make `@angular/service-worker` more flexible/extensible in the future, but there are no immediate plans (or a timeline). Currently, the focus is on getting Ivy (the new renderer) out.

[2019-09-28 16:59] dannyskoog commented on #32894
Could you please ellaborate on what you actually want to achieve? It’s not clear from your original post, that’s why

[2019-09-28 17:11] dannyskoog commented on #32875
First of all - we don’t **need** to follow anything in the style guide. It’s a guide, which means it’s a set of recommendations. Although I personally encourage people to follow it.

And I assume the 2 points you’re bringing up aren’t covered in the style guide. So to my next question:

Is this issue meant to request them to be added to the style guide **or** are you simply interested in peoples o

[2019-09-28 17:11] Prakashkhadka7 commented on #32894
When bootstrap alerts are closed the div becomes empty .....and at the instant i want display text ..."the div is empty"

[2019-09-28 17:12] ericmartinezr commented on #32894
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-09-28 17:28] gkalpak commented on #29802
Thx for the PR, @santoshyadav198613! Let's discuss on #32892.

[2019-09-28 17:38] #32894 closed

[2019-09-28 17:49] tonysamperi commented on #32882
Alright. Let's see what happens ;)

[2019-09-28 18:24] vikerman commented on #32887
Yes. `enabled_legacy` is same as `enabledNonblocking`. But we should not make `enabled`(which is same as `enabledBlocking`) as the default. Instead `enabledNonblocking` should be the default. That is different from current implementation and docs.

[2019-09-28 19:18] SvenBudak commented on #32883
Thats really sad... ^^ but thanks alot for the fast reply! you think this feature will come any time in future?

[2019-09-28 19:43] vikerman commented on #32887
Regarding flickering in ssr - we can only do so much to avoid it. Preboot will not stop flicker.

Last week I debugged a site where a Google analytics experiments script was causing client to hide it's body till it was ready and was causing a flicker.

We are going to have a schematics to set `enabledBlocking` as the settings for ssr apps. This eliminates one easy source of flicker.

But there may

[2019-09-28 20:02] devoto13 opened #32895 "NGCC silently ignores some components"
# 🐞 bug report

### Affected Package
The issue is caused by package `@angular/compiler-cli` and maybe `@angular/compiler`.

### Is this a regression?

Not sure, probably not a regression.

### Description

NGCC silently ignores some components, i.e. does not update the `.d.ts` files in the library, which results in completely misleading errors about missing components down the road, when Angular a

[2019-09-28 20:11] gkalpak commented on #32883
No specific plans (but we won't stop anyone that wants to submit a PR :wink:).

[2019-09-28 22:19] ZBAGI commented on #16981
2 years later and the issue seems to still be there. Any update ?

[2019-09-28 22:39] JiaLiPassion opened #32896 "Support finishCallback and rootZoneStable in async test"
# 🚀 feature request

### Relevant Package

 This feature request is for zone.js

### Description
 A clear and concise description of the problem or missing capability...
the cases is from `angular components`, the following test are from @mmalerba.

[code]

For the `1st and 3rd` cases, we want some mechanism to let user to easily test the async cases.
### Describe the solution you'd like
 If you h

[2019-09-29 01:13] Helen2011 commented on #26829
I just upgrade to angular 8.2.8, looks like it's fixed on 8.2.8.

[2019-09-29 04:18] JiaLiPassion commented on #32482
Working on this one now, update to prevent the issue to be auto closed.

[2019-09-29 04:24] JiaLiPassion commented on #32103
Sorry for the late reply.
@Mylogin-info, if `resize` is slow, and you don't have any resize event listener to update component data, you can just make `resize` outside of zone by define a `variable` called `__zone_symbol__UNPATCHED_EVENTS = ['resize'];`

If you have any other performance issue, could you provide a reproduce repo?

@jcdsr, could you provide some repo to reproduce, thanks!

[2019-09-29 06:38] omar-dulaimi commented on #18867
Thanks a bunch!
This solution also fixes  "Expression form not supported" that I faced while upgrading from 6 to 8

[2019-09-29 06:42] mucbits commented on #12540
same here, unblur fire again for input type=number

[2019-09-29 07:14] Aeonrush opened #32897 "node:21980) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead"
# 🐞 bug report

### Affected Package
The issue is caused by package ```xhr2@0.1.4``` in version ```0.2.0``` this issue was fixed https://github.com/pwnall/node-xhr2/commit/e6529e87b266b0ff5274b1ebcab36284ea58b61b

### Is this a regression?

 No, the previous version has a same warning

### Description

After ```build:ssr``` and running by ```npm run serve:ssr``` and navigating to page with HttpCli

[2019-09-29 08:18] Mylogin-info commented on #32103
@JiaLiPassion Thank you! I wil try this and let you know what the result is.

[2019-09-29 08:36] vthinkxie commented on #24041
@mgechev could you help me to ping anyone can fix this bug?
there are so many issues related to this bug when combining different animations component together.

[2019-09-29 09:05] congaptit commented on #16710
@jasonaden I've created a pull request to resolve this bug. Could you review it at https://github.com/angular/angular/pull/32898?
Thanks.

[2019-09-29 10:02] Splaktar commented on #32895
This looks similar to what we're seeing in Angular Material: https://github.com/angular/components/issues/17121

None of the `mat-tab-group` Inputs show up in the `ngComponentDef` generated from `ngcc`:

[code]

So it looks `ngcc` is just ignoring a bunch of `@Input`s, especially when they are associated with `get/set` methods.
https://github.com/angular/components/blob/492fdcc40b3cfcadd825c29ba9f

[2019-09-29 10:05] klemenoslaj commented on #32051
If this issue is resolved by`NgForOf` getting fixed to accept the `null` in its typings that still means all the custom inputs we develop ourselves will have to accept `null` by default? I mean, all of them...Do I even have to mention how cumbersome that is?

[code]

or even worse, solving the issue within templates

[code]

Angular get's in our way here by preventing us writing our code the way w

[2019-09-29 10:44] Splaktar commented on #30080
@vladimiry I tried this in a [demo repo](https://github.com/Splaktar/mat-tabs-demo/blob/2c5b4604793da0348ebadd1a9313ce39c9a3aa62/tsconfig.json#L22-L25) and it didn't workaround the issue.

[2019-09-29 10:50] Splaktar commented on #30080
We're seeing this in Angular Material as well: https://github.com/angular/components/issues/17121

@JoostK if this is the issue for tracking the fact that `ivy-ngcc` can't handle `@Input`s from a base class (as you mentioned in https://github.com/angular/components/issues/17121#issuecomment-536281310), can we please update the issue title to more clearly indicate this?

Can we also please add the

[2019-09-29 10:55] vladimiry commented on #30080
@Splaktar I use the workaround [directly with AngularCompilerPlugin](https://github.com/vladimiry/ElectronMail/blob/188eeb89503ed264f9f4eea50446776819711fb4/webpack-configs/web/browser-window.ts#L73-L74) and it's functional, ie Angular CLI is not used in this project.

In your case, you have `angularCompilerOptions` defined in both `tsconfig.json` and `tsconfig.app.json` files and I guess it might

[2019-09-29 11:05] itayod opened #32900 ""fullTemplateTypeCheck" build error when using parameters from structural directives"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Description

An error occurred, when using a parameter from a structural directive that is coming from **an external library that is built by the old engine**.
On a regular `aot` build everything is working fine, but when setting `fullTemplateTypeCheck` flag I am getting the following error:

![Capture](https:

[2019-09-29 11:07] Splaktar commented on #30080
@vladimiry that's a good idea, unfortunately, it [didn't work for me](https://github.com/Splaktar/mat-tabs-demo/blob/cc7d0f771bf49d62da6dda2f960ff0e64f0a96f6/tsconfig.app.json#L7-L11). I still get both failures:
[code]
Or with `9.0.0-next.8`:
[code]

[2019-09-29 11:12] pshurygin commented on #32051
I wonder if this will be fixed before v9 release, because otherwise we'll have to somehow workaround these type errors all over our code and that is a massive amount of useless work, which could prevent us from using ivy in the nearest future.

I guess one simple way to workaround this in the framework is to add some kind of flag to angular Compiler Options, which allows to ignore type mismatch be

[2019-09-29 11:14] vladimiry commented on #30080
Only one template-type-checking flag is disabled [here](https://github.com/Splaktar/mat-tabs-demo/blob/cc7d0f771bf49d62da6dda2f960ff0e64f0a96f6/tsconfig.app.json#L7-L11), I guess maybe disabling both will do the trick:
[code]

[2019-09-29 11:22] dannyskoog commented on #30080
@Splaktar Have you checked that the base class of `MatTabGroupComponent` uses the `@Directive` decorator in the `@angular/material` package?

[2019-09-29 11:23] Splaktar commented on #30080
@vladimiry doh! Sorry it's too early in the morning for me and I wasn't reading carefully enough. That worked! Thank you.

[2019-09-29 11:25] Splaktar commented on #30080
@dannyskoog it does not.

[2019-09-29 11:30] dannyskoog commented on #30080
Alright @Splaktar. And I guess it doesn’t matter now that you got it working :)

[2019-09-29 11:32] Splaktar commented on #30080
@dannyskoog I just verified that workaround. We are still going to need to fix this in Angular Material. I'll look into adding `@Directive('fake-selector')` since we can't use empty selectors w/o breaking our Angular version 8.x users (as it only works in `9.0.0-next.3+`).

[2019-09-29 11:35] dannyskoog commented on #30080
Yeah @Splaktar. That was what I was trying to get to in the first place :)

Cool. That sounds great!

[2019-09-29 13:20] srcdes commented on #28524
@kapunahelewong Is this can be closed?

[2019-09-29 15:30] msorens commented on #25837
@piotrl Thank you for your workaround code! Just one more piece would be useful in my environment. I have a few tests that use variations of this:
[code]
But with your `wrapRouterInNgZone` in place that now yields this error:
[code]
Any thoughts on how to rewrite the above expectation to pass?

[2019-09-29 15:54] dannymcgee commented on #29467
@pkozlowski-opensource Even if not a performance bottleneck, it just seems like an oversight that the Angular team provided all of these array-mirroring methods like `forEach` and `map` for interacting with QueryLists, but didn't provide a method for accessing an item by index. I agree with OP, this would be a great feature to have.

[2019-09-29 16:55] swseverance commented on #24769
Given that the code already has an `isBrowser` is it reasonable to update `isNode` to the following?

[code]

[2019-09-29 20:22] dawidgarus commented on #32834
You only need to set `OnPush` on root component. All inner components will inherit this behavior.
https://angular.io/api/core/ChangeDetectionStrategy:

[2019-09-29 20:32] gkalpak commented on #24769
I don't know much about this part of the code, but your suggestions seems reasonable.

[2019-09-29 21:00] dannyskoog commented on #32834
Good point @dawidgarus

[2019-09-29 21:08] magneticflux- commented on #19071
@Wilt Can you make a PR for that change and get the ball rolling to have this issue at least partially fixed?

[2019-09-29 21:30] dawidgarus commented on #32830
@Domvel I don't think it's possible. Providers work diffently that declarations.
There's no way to know at compile time if there are providers in some cases.
Example:
[code]
[code]
It will work fine even though `Foo` is not provided in any module and doesn't have `providedIn`.
The provider for `Foo` is created in runtime.
Many of the injectables are not provided by any module but in runtime, say `

[2019-09-29 22:53] Splaktar commented on #32887
OK, that's good to know. Hopefully we can gather enough experience to be able to create some kind of troubleshooting docs for flicker in SSR since it seems to be very commonly encountered and the solution does seem to vary across a number of scenarios.

[2019-09-29 22:58] Splaktar commented on #32887
Should this proposal include an Angular CLI migration script to migrate projects to these new values?
Should it also include removing the 2 deprecated `legacy_x` values?
I also assume that the proposal include updating the two related API docs and the SSR guide.

As for `enabled`, I think that we should deprecate it and just map it to `enabledBlocking` for now. Then it could be considered for remo

[2019-09-30 00:18] Splaktar commented on #3782
@manughub does this need to be reassigned?

Can the triage team evaluate this for a priority/sev?

[2019-09-30 03:39] patrickhulce commented on #32733
@gkalpak this error in Lighthouse comes directly from Chrome. You can see the same violation being reported just in the DevTools console. Using a conditional breakpoint I did find at least two calls with `undefined` options instead of `{passive: false}` (see screenshot)

![image](https://user-images.githubusercontent.com/2301202/65848045-e2281800-e309-11e9-8954-5eb070ef83f9.png)

[2019-09-30 03:52] underfin opened #32904 "The `compilerOptions` repeated in tsconfig.json."
# 📚 Docs or angular.io bug report

### Description

The `compilerOptions` repeated in tsconfig.json.

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.io/guide/typescript-configuration

### Reproduction Steps**

### Expected vs Actual Behavior**

## 📷Screenshot

## 🔥 Exception or Error
<pre><code>

[code]
</code></pre>

## 🌍  Your Environment

### Browser info

### Anythi

[2019-09-30 07:11] ciprimatei opened #32906 "Handling each chuncked http response separately"
[code]
This feature request is for @angular/common/http/HttpRequest

### Description
The HttpResponse with chunked transfer encoding should be served individually rather than a block of previous + current response. The same request was made by another user here: https://github.com/angular/angular/issues/26289 . Unfortunately that issue was closed without a satisfactory solution, although it was su

[2019-09-30 07:13] JoostK commented on #32895
I suspect this is primarily caused by the usage of ng-packagr 5.5.1, which generates bundles that ngcc has trouble with processing correctly. More info and a fix can be found in https://github.com/angular/angular/pull/32901.

In general, it is quite challenging for ngcc to detect when it fails to compile stuff that it should, as it typically doesn't even know that something was supposed to be comp

[2019-09-30 07:17] sasensi commented on #32868
Ok, I understand way better now and will certainly stay with my custom `tap` logic then.
Thank you all for your support.

[2019-09-30 07:21] dannyskoog commented on #32868
Great @sasensi! Happy to serve :)

[2019-09-30 07:25] djleonskennedy commented on #32882
@tonysamperi Hello, here is solution for your huge problem

[code]

[2019-09-30 07:29] yugRakesh opened #32907 "UI and form values are not in sync"
### Affected Package
ReactiveFormsModule / FormGroup Packages as the source of the bug:
 @angular/forms
The issue is caused by package @angular/forms

### Description
When one drop down is dependent on another, If we are changing values based on first drop down, the object of FormGroup "fg" will keep the previously selected value of second drop down though we have updated the values and HTML conte

[2019-09-30 07:38] dannyskoog commented on #32882
@djleonskennedy I’m pretty sure that that solution falls under what is already stated in the **Describe alternatives you've considered** section

[2019-09-30 07:40] djleonskennedy commented on #32852
@bufke Hello, you need to add routes setup for lazy module
here i've modified your reproduction

https://stackblitz.com/edit/angular-issue-repro2-h7eebq?file=src/app/lazy/lazy.module.ts

[2019-09-30 07:59] tonysamperi commented on #32882
@djleonskennedy thanks for your huge knowledge 😂😂😂

[2019-09-30 08:10] alexeykostevich commented on #25672
Our team faced the same issue while building encapsulated Web Components for a browser extension.

Please, let me share some our findings — probably, this could be helpful to get this tricky issue fixed one day.

*Angular Animations* uses different mechanisms depending on a browser:
- *Web Animations* is used for browsers that support [Web Animations API](https://developer.mozilla.org/en-US/docs/W

[2019-09-30 08:38] cleavera commented on #32834
Good spot, @dawidgarus

I still think the tangential thoughts are worth discussing, but the inheritability of OnPush solves my original issue. With this in mind I'll close this unless there are any objections.

[2019-09-30 08:38] #32834 closed

[2019-09-30 10:20] matzematthaey commented on #30569
same issue for us. blocks using angular8+ in IE11.

[2019-09-30 10:26] NumericFactory opened #32909 "Capture cancelled request event with Interceptor"
# **The problem**
No event or information from **HttpClient** or **Interceptor** when an Http Request is cancelled.

# **Solution from vanilla JS**
With Vanilla JS we have a solution with readystate and status code.
"...When a request is aborted, its readyState is changed to XMLHttpRequest.UNSENT (0) and the request's status code is set to 0."
(source : https://developer.mozilla.org/en-US/docs/Web

[2019-09-30 10:53] gkalpak commented on #30569
@matzematthaey: Just to clarify, this issue if about ngcc, which means that it only affects app with Ivy turned on (which is the default in v9, but not v8).

[2019-09-30 11:08] fredrikredflag commented on #32766
I managed to reproduction and solve it, it was in fact the missing `enableIvy: false` in `./angular-metadata.tsconfig.json`.

But the missing part was that you need to clean up bazel befor building again.

[code]

Doing the above seems to fix the issue.

@SanderElias `yarn ivy-ngcc` didn't solve it for me, but the above solution did. Sounds like some sort of caching issue.

However, since (at leas

[2019-09-30 11:10] fredrikredflag commented on #32790
@iSerganov I needed to clean bazel before running `ng build`. Maybe there's a caching issue?

See my comment here: #32766

[2019-09-30 11:31] gkalpak commented on #32904
This has been fixed in #32449, but it was only merged into master (so only https://next.angular.io has been updated).

[2019-09-30 13:06] Splaktar opened #32910 "build: support gcc on macOS"
# 🐞 bug report

### Affected Package
Building `angular/angular`.

### Is this a regression?
Yes, it used to build fine on macOS.

### Description
I am no longer able to build the Angular source code after recent updates to Bazel, Xcode, macOS.

## 🔬 Minimal Reproduction

### Case 1
1. `yarn install`
1. `bazel clean --expunge`
1. Run `/bin/bash angular/angular/scripts/build-packages-dist.sh`

### C

[2019-09-30 13:08] Splaktar commented on #32910
I'm going to try installing macOS Mojave 10.14.6 Supplemental Update 2 to see if that will help at all.

[2019-09-30 13:09] NumericFactory commented on #32909
Have you got a best solution to resolve this problem @ericmartinezr  ?

[2019-09-30 13:25] ericmartinezr commented on #32909
I have not to be honest, but I'm pretty sure @lazarljubenovic has a good one.

[2019-09-30 13:38] igorkemack commented on #30784
I have same error, angular 9.0.0-next.8

[2019-09-30 14:05] gkalpak commented on #32733
I don't see any such message in my DevTools 😞

[2019-09-30 14:08] Splaktar commented on #32910
After the update, I get a new error when using `BAZEL_USE_CPP_ONLY_TOOLCHAIN=1`:
[code]
I updated to Bazel `0.29.1` as well and still see the same errors.

[2019-09-30 14:09] bufke commented on #32852
@djleonskennedy that isn't related to the issue. The bug here is that when these routes don't exist, I'd expect the "Cannot match any routes" error. Matching the unrelated empty string route is unexpected and can complicate some use cases for dynamic routing. If you are curious on a more complex use case of dynamic routing in Angular you could look at my project [Angular Wagtail](https://gitlab.co

[2019-09-30 14:13] hugoebarboza commented on #31314
getting same error any solution?

[2019-09-30 14:19] uplink42 opened #32913 "SCSS imports error upgrading from 8.3.1 to Ivy"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 8.3.1

### Description

Running the below command produces an error when attempting to upgrade to Ivy
`ng update @angular/cli@next @angular/core@next --force`

## 🔥 Exception or Error

## 🔬 Minimal Reproduction
I believe t

[2019-09-30 14:34] SpeedoPasanen commented on #30569
In case someone needs to push an IVY app to production now (not sure if it's a good idea) and support IE, a workaround is to search `"use strict";` in `dist/*-es5` and replace all occurrances with empty.

[2019-09-30 14:41] mlc-mlapis commented on #32909
@NumericFactory Isn't `complete` way for it?

[2019-09-30 14:45] patrickhulce commented on #32733
@gkalpak Violations are "Verbose" log level so they might be hidden for you. You can expand the console tab and filter just to verbose messages to make it easier.

![image](https://user-images.githubusercontent.com/2301202/65889497-f4846f00-e366-11e9-9237-5e5b08375a80.png)

[2019-09-30 15:07] iSerganov commented on #32790
@fredrikredflag, just tried node_modules complete re-installation, running `ivy-ngcc`,  `./node_modules/.bin/bazel clean --expunge` and `ng build --prod` - unfortunately got the same outcome.

[2019-09-30 15:23] naveedahmed1 commented on #32733
Thank you so much @patrickhulce for sharing these details. @gkalpak I have below code in `main.ts` to avoid flickering issue that occurs when using Angular Universal:

[code]

As you can see that I have already added `{ passive: true }`, I don't know why is it still throwing error for this.

Can this be related to `zone.js`?

[2019-09-30 15:26] Gmentsik commented on #32549
Is there any progress on this? We bumped in a similar issue trying to bazelify a bigger web-app with angular.

[2019-09-30 15:28] james-schwartzkopf commented on #30569
Better to replace it with '"----------"; so source maps, etc. still line up.

This is the script we are using:
[code]

[2019-09-30 15:30] jelbourn commented on #32797
Probably leave it here since if it worked in v8 it's probably a bug in ivy

[2019-09-30 15:32] adam-marshall commented on #10887
I also encountered this. My use case was styling a custom 'inner' control made of multiple inputs when invalid and touched. Calling `markAllAsTouched` on the parent form sets the 'outer' control as touched, but then I couldn't find a good way of triggering `touched = true` on the custom 'inner' control itself. In the end I turned off view encapsulation on the custom control and styled it based on

[2019-09-30 15:49] SantiagoIlli commented on #32765
Hi, I tried to reproduce the error by using stackblitz, problem is that it cannot find some of the dependencies in npm (such as narik-ui-lib).

You can see it in stackblitz: https://stackblitz.com/github/abadakhshan/testNarikIvy

[2019-09-30 15:55] gkalpak commented on #32733
@patrickhulce: Yes, I have expanded the filter to show all messages (including verbose level ones) and I still don't see anything 🤷‍♂
I do see other "violations" fwiw:

[code]

##
@naveedahmed1: As mentioned above, only `wheel`, `mousewheel`, `touchstart` and `touch` events need to have `passive: true`, so adding it to other events is irrelevant.

[2019-09-30 16:06] jbogarthyde commented on #32803
Resolved by https://github.com/angular/angular/pull/32805

[2019-09-30 16:06] #32803 closed

[2019-09-30 16:23] patrickhulce commented on #32733
@gkalpak you're loading the mobile version of the page, correct? This Violation only seems to be present with mobile emulation. I realize that's implicit with a Lighthouse audit but might not be familiar to others :)

Also FWIW @naveedahmed1 this does appear to be flaky. I'm not able to reproduce in consistently reproduce in Canary Chrome DevTools for example, just stable Chrome.

[2019-09-30 16:38] gkalpak commented on #32733
I tried again with the mobile version and I got the warning once (but not on subsequent tries). It was indicating some `rocket-loader.min.js` file as the origin.

Sorry, I can't spend more time on this without a clear reproduction path.
If you can reproduce it int your environment and track the call back to its origin (and it turns out to be Angular), I would be happy to look into it further.

##

[2019-09-30 16:38] #32733 closed

[2019-09-30 16:47] gkalpak commented on #31314
Can someone, please, provide an (ideally minimal) reproduction. Otherwise, we can't investigate and get to the bottom of the issue.

Also, note that most Ivy improvements/fixes are not backported to 8.x, so make worth checking whether the issue still happens with the latest 9.x release (because the bug might already have been fixed there).

[2019-09-30 17:23] julianomacielferreira opened #32917 "The "L" letter should be lowercase in "HTMLELement" in docs."
# 📚 Docs or angular.io bug report

### Description

The letter "L" should be lowercase in the interface name "HTMLELement".
- FUNDAMENTALS
   - Components & Templates
      - Angular Elements
         -  Typings for custom elements

## 🔬 Minimal Reproduction

### What's the affected URL?**

[https://angular.io/guide/elements#typings-for-custom-elements](https://angular.io/guide/elements#typings-fo

[2019-09-30 17:27] SerkanSipahi commented on #32797
@jelbourn maybe this helps. Everything inside of ng-container will be ignored!
[code]

[2019-09-30 17:57] maddykws commented on #32909
How are you cancelling a HTTP request from the interceptor? Can you add full code here?

[2019-09-30 18:08] julianomacielferreira commented on #32917
Just to add, in the same section, I think that "HTMLELementTagNameMap" should have lowercase "L", too.

![2019-09-30-150713_1920x1080_scrot](https://user-images.githubusercontent.com/49996266/65904089-16481b00-e394-11e9-812e-13895adfb2df.png)

Thank you very much!
Juliano.

[2019-09-30 18:18] devversion commented on #32896
If we would handle the first case by introducing something like `rootZoneWhenStable`, do we really need to handle the third case in the `AsyncZoneSpec`? Sounds like we could just rely on `rootZoneWhenStable` as well (basically also for the second case).

cc. @mmalerba

[2019-09-30 18:23] maddykws opened #32918 "Feature to cancel Pending HTTP requests in Angular Interceptor"
# 🚀 feature request

### Relevant Package
import {Injectable} from "@angular/core";
import {
  HttpErrorResponse,
  HttpEvent,
  HttpHandler,
  HttpInterceptor,
  HttpRequest,
  HttpResponse
} from "@angular/common/http";
import {Observable, throwError} from "rxjs";
import {catchError, finalize, takeUntil, tap} from "rxjs/operators";
import {LoadingStatus} from "../service/loading-status.service";

[2019-09-30 18:29] #32918 closed

[2019-09-30 18:48] naveedahmed1 commented on #32733
Thank you @gkalpak for your time let me investigate it further on my side.

@patrickhulce if I am not wrong, all event listeners attached to a page are also listed in the 'developers console', please take a look at the attached screenshots:

**All Event Listeners:**
![all-eventlistners](https://user-images.githubusercontent.com/7761180/65906447-09e7b080-e3dc-11e9-9a22-ce08b2957a1a.jpg)

**Blocking

[2019-09-30 18:52] mmalerba commented on #32896
Yeah if we have the first one that's sufficient for our use case in Angular Components. Though as a separate issue, it might be nice to do it automatically in `async()` tests so that they behave the same as `fakeAsync()` tests W.R.T. `NgZone`

[2019-09-30 19:21] patrickhulce commented on #32733
That's correct @naveedahmed1 it lists the currently active listeners in that pane.

I'm not able to see the non-passive touchstart listener in that panel even when I see the violation, so I'm guessing it's removed at some point. This is a good point on possible adjustments to make in LH, so we'll re-open that issue. Ideally, it's still never added in the first place, but it's not a cause for conce

[2019-09-30 19:29] naveedahmed1 commented on #32733
Thank you for the update @patrickhulce :)

How about this? Since LH wasn't throwing this error in `Chrome 76.x`; @gkalpak also confirmed this in comment here https://github.com/angular/angular/issues/32733#issuecomment-534225445

[2019-09-30 20:04] patrickhulce commented on #32733
@naveedahmed1 I actually am able to reproduce this in Chrome 76.0.3809.100, I believe it's a combination of many different factors when it happens which has contributed to the trickiness in debugging.

[2019-09-30 20:17] odahcam commented on #20402
Ivy is super important and should come first, but after Ivy hooks or events on the SW would be great, once without them we can't do much to interact with the user via UI, which would be great for some scenarios, e.g. when the app requires some update to be applied before the user continues to use the application.

[2019-09-30 20:29] gkalpak commented on #20402
(BTW, [SwUpdate][1] does provide some integration points regarding updates specifically.)

[1]: https://angular.io/api/service-worker/SwUpdate

[2019-09-30 22:15] julianomacielferreira opened #32924 "Missing space between the words "eventhandlers" in docs."
# 📚 Docs or angular.io bug report

### Description

It's just missing a space between the words "eventhandlers".
- FUNDAMENTALS
   - Components & Templates
      - Attribute Directives
         -  Respond to user-initiated events

## 🔬 Minimal Reproduction

### What's the affected URL?**

[https://angular.io/guide/attribute-directives#respond-to-user-initiated-events](https://angular.io/guide/attr

[2019-10-01 00:05] YuliaTsareva commented on #24720
I’ve been looking for some issue with "good first issue" label and I’ve found this one. After a small research, I think this issue probably is not as easy as it might look like.

I discovered that `name` is not under the properties section because it is not an instance member, it is only a constructor param marked with `@Attribute` decorator. So it seems quite logical not to show it under the prop

[2019-10-01 00:52] dkosasih opened #32927 "Angular update guide website has wrong link"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

The link on one of the section that talk about replacing `/deep/` with `::ng-deep` in the update guide on Angular.io (https://update.angular.io/#7.0:8.0) is incorrect.
![image](https://user-images.githubusercontent.com/8027235/65926605-6af1a180-e439-11e9-9980-4ae4091f6e92.png)
at the moment ` read more about angular component styles and ::ng-deep` link is going to `htt

[2019-10-01 01:30] joshuacolvin commented on #32917
I'd be happy to fix this

[2019-10-01 01:40] NumericFactory commented on #32909
@maddykws  : No, i cancel http requests on input search in a component.ts like this

[code]

and i would like capture "cancelled http request event" in Intercept method of my Interceptor, to set a "loadingSubject" to false when an httpRequest is cancelled

[2019-10-01 03:06] vinayluzrao opened #32925 "Reference to enclosing ViewContainerRef as a property in ViewRef"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/core

### Description

It would be useful for `ViewRef` to have a reference to the enclosing `ViewContainerRef` to which the `ViewRef` is (possibly) attached to.

An example use case is moving dynamic components around between different `ViewContainerRef`s. Depending on the underlying data structure model of the compo

[2019-10-01 04:28] versatilePrakash opened #32926 "AppComponent.html:1 ERROR RangeError: Maximum call stack size exceeded"
it  compiles successively but cant display the  form  content.....
red underlined on :      f.username:
[authentication.zip](https://github.com/angular/angular/files/3674390/authentication.zip)

                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>

[2019-10-01 04:43] fredrikredflag commented on #32790
@iSerganov Since ivy is default in Angular 9 you might need to turn it off in `./angular-metadata.tsconfig.json` by adding this:

[code]

Then run `./node_modules/.bin/ngc -p ./angular-metadata.tsconfig.json` to generate all ngsummary files. The do the cleaning and rebuild.

[2019-10-01 04:51] 3gwebtrain opened #32928 "TypeError: actual.subscribe is not a function"
Here is my test spec file:

import { async, ComponentFixture, TestBed } from '@angular/core/testing';
import { Store, select } from '@ngrx/store';
import { cold, getTestScheduler, hot } from 'jasmine-marbles';
import { RouterTestingModule } from '@angular/router/testing';
import { HttpClientModule } from '@angular/common/http';
import { ShellViewProgMgmtComponent } from './shell-view-prog-mgmt.com

[2019-10-01 06:43] dannyskoog commented on #32907
Hi @yugRakesh. I had a look at your blitz and it seems to be working as per design.

If you want to avoid your 2nd dropdown from slipping through validation you need to reset it each time you re-populate it. Basically by invoking `this.fg.get(’Two_ID’).reset()`.

As to my knowledge Reactive Forms are meant to react either to UI interaction or programmatic use of `FormGroup` and/or `FormControl`.

[2019-10-01 07:08] dannyskoog commented on #32928
Hi @3gwebtrain. This sounds more like a support issue to me. So please re-post it on StackOverflow please. Thank you!

[2019-10-01 07:10] JoostK commented on #32928
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-10-01 07:10] #32928 closed

[2019-10-01 07:11] JoostK commented on #32926
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2019-10-01 07:11] #32926 closed

[2019-10-01 07:13] yugRakesh commented on #32907
Hi @dannyskoog,

I have already used reset() in my project, but its looks like a patch. If you observe the form, UI and Backend Program, You could not find the preserved value by object, if one of my another case UI is shown some other value and form object is sending previously selected value which is misleading, User doesn't know the background process and state of different object.

It will lea

[2019-10-01 07:24] dannyskoog commented on #32907
I see. Sure, those are fair points! Then this issue is more like a feature request, correct?

So how would you like the framework to behave in the scenario that you posted initially?

[2019-10-01 07:31] kidqn opened #32929 "ngFor not update view unless click on view Angular"
# 🐞 bug report

### Affected Package
 The issue is caused by package @angular/....
    "@angular/common": "7.2.15",
    "@angular/compiler": "7.2.15",
    "@angular/core": "7.2.15",
    "@angular/fire": "^5.2.1",
    "@angular/forms": "7.2.15",
    "@angular/http": "7.2.15",
    "@angular/platform-browser": "7.2.15",
    "@angular/platform-browser-dynamic": "7.2.15",

### Description
Angular break

[2019-10-01 07:43] mlc-mlapis commented on #32929
@kidqn Because of the event comes from outside of Zone, so you have to use `this._ngZone.run(...)`.

[2019-10-01 07:49] kidqn commented on #32929
Can I use without _ngZone, because my app not use it until now?

[2019-10-01 07:55] beniregev commented on #23856
@nhays89, how did you fix it? Please share it with the group.

[2019-10-01 07:55] mlc-mlapis commented on #32929
@kidqn Your app is using the Zone by default.

[2019-10-01 08:05] kidqn commented on #32929
Okay thank you! My issue was resolved.

[2019-10-01 08:05] #32929 closed

[2019-10-01 08:15] tieppt commented on #32927
I think, the link for this segment will be `https://angular.io/guide/component-styles`

[2019-10-01 08:26] Splaktar commented on #32927
This is being tracked in https://github.com/StephenFluin/angular-update-guide/issues/37.

[2019-10-01 09:01] abadakhshan commented on #32765
Hi @SantiagoIlli

**"narik-ui-lib"** is a path that I have defined it on ts.config.
It seems that **stackblitz** has problem with it.

Anyway I removed it and replaced with original dependency path.

[2019-10-01 09:05] yugRakesh commented on #32907
Solution is simple, Object of formgroup "fg" is keeping selected values of dropdown, but when html is getting updated with new values form group object should automatically reset values when drop down values or any DOM object value is getting changed. It is already happening for text box and other objects, so the same behavior is expected from drop down control.

[2019-10-01 09:27] julianomacielferreira opened #32931 "Missing the ">" in the closing tag "</ng-template" in docs."
# 📚 Docs or angular.io bug report

### Description

It's just missing the "&gt;" in the closing tag "&lt;/ng-template".
- FUNDAMENTALS
  - Components & Templates
    - Structural Directives
      - Writing your own structural directives

## 🔬 Minimal Reproduction

### What's the affected URL?**

[https://angular.io/guide/structural-directives#writing-your-own-structural-directives](https://angular

[2019-10-01 10:44] pamtbaau opened #32932 "Zone: No change detection after Electron (popup)menu events in Angular/cli project"
# 🐞 bug report

### Affected Package

The issue resurfaces when using package @angular/cli

### Is this a regression?

I don't know, I have never used angular-cli before.
However, it **does** work in Angular projects created without @angular/cli, but not in projects generated using 'ng new'

### Description
Change detection does not work in native Electron (popup)menus events when project is creat

[2019-10-01 11:27] Ivajkin commented on #16477
What current status on "Runtime i18n (one bundle for all locales)"?

[2019-10-01 11:30] kubk commented on #20564
This definitely should be the default behavior.

[2019-10-01 11:40] petebacondarwin commented on #16477
@Ivajkin - sorry that this issue is not being kept up to date.

"Runtime i18n" is a commonly asked for feature but it can mean different things to different people.
In the new i18n `$localize` approach, it will be possible to do the actual translation at runtime.

Runtime can actually be rather complicated if you are not just translating all possible messages before the Angular application bootstr

[2019-10-01 12:12] andreElrico opened #32934 "usage of "as" in html templates is not flexible enough."
# 🚀 feature request

[STACKBLITZ](https://stackblitz.com/edit/angular-76jusr)

We can use `"as"` in our templates like `<ng-container *ngIf="timer$ | async as t$">`

+ As you can see in my Stackblitz I can't use `"as"` like this to avoid multiple subscriptions.
+ Also *ngIf's `"as"` does not allow multiple declarations:
 `<ng-container *ngIf="obs1$ | async as o1$; obs2$ | async as o2$">`
+ we woul

[2019-10-01 12:16] snebjorn commented on #18950
I run into this exact problem. But with the **pjpeg** type. `data:image/pjpeg;base64,...`

[2019-10-01 12:34] trotyl commented on #32934
Duplicate of https://github.com/angular/angular/issues/15280

---

https://github.com/angular/angular/issues/15280#issuecomment-430550596 is for your case.

[2019-10-01 12:47] m-henderson commented on #24720
@YuliaTsareva exactly 😄

[2019-10-01 12:50] Rubenazo commented on #26829
Just updated my project to Angular 8.2.8 for this, the problem is still there

[2019-10-01 13:26] WilliamSf commented on #31314
`Angular CLI: 8.3.6
Node: 10.16.3
OS: linux x64
Angular: 9.0.0-next.8
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0.803.6
@angular-devkit/build-angular     0.803.6
@angula

[2019-10-01 13:39] andreElrico commented on #32934
thank you sir! this was helpful. Somehow I have a hard time using the seach function of github. Never shows me what im searching for. As there is a solid implementation availible I will close this. However it would be nice to have this feature "ON BORD".

[2019-10-01 13:39] #32934 closed

[2019-10-01 14:12] raulicious commented on #32822
It's not insufficient information - this is literally the only information that the compiler tells us. I have the same problem blocking me from updating to 9.

[2019-10-01 15:12] JoostK commented on #32822
@raulicious to be able to investigate an issue certain information is needed, as requested in the issue template. Without this info an issue is not really actionable, as there's no details on e.g. version used, dependencies used, etc. which may affect the situation.

If you can extract a minimum reproduction, possibly by disabling modules one by one, we would gladly look into this issue. Looking a

[2019-10-01 15:16] dannyskoog commented on #32907
Sure. I understand your point. Let’s see if someone is interested in owning such feature request, if not yourself?

[2019-10-01 15:22] jbogarthyde commented on #32517
Resolved by referenced PRs -- will add to guidelines.

[2019-10-01 15:22] #32517 closed

[2019-10-01 16:04] SantiagoIlli commented on #32765
Thanks!

I've clone the project into my computer and it also fails with the same error. Anyway, it looks that a lot a warnings appear as well, such as:

`WARNING in Entry point 'narik-common' contains deep imports into 'projectAbsolutePath/node_modules/rxjs/internal/operators/takeWhile'. This i
s probably not a problem, but may cause the compilation of entry points to be out of order.
`
The strang

[2019-10-01 16:36] s992 commented on #16477
@petebacondarwin Would you mind elaborating a bit on the new compile time translation? Will this allow us to build a single bundle (with AOT) that works for all locales?

[2019-10-01 17:18] dota2Pro commented on #31354
I removed    ` "@angular/compiler-cli": "^8.1.0-rc.0",` from package.json and ran `npm i     "@angular/compiler-cli"` . it installed `    "@angular/compiler-cli": "^8.2.8",`  and seems to be working now

[2019-10-01 17:26] naveedahmed1 commented on #32733
I guess I have finally identified the issue. I think that the `evenListeners` that `matTooltip` add are not passive.

https://github.com/angular/components/blob/master/src/material/tooltip/tooltip.ts#L241

@gkalpak can you please re-check and confirm on your side?

I updated the conditional breakpoint to:

`/^(wheel|mousewheel|touchstart|touch)$/i.test(taskData.eventName) && taskData.options==unde

[2019-10-01 18:20] naveedahmed1 commented on #32733
This issue was related to matTooltip which has been fixed in https://github.com/angular/components/pull/17003.

Thank you so much @gkalpak and @patrickhulce for your time and help :)

[2019-10-01 18:43] Airblader commented on #32907
IMHO this would be a problematic change causing a lot of issues. A very common case is that options are loaded asynchronously and this would cause a set value to disappear.

It's also not at all invalid that a drop-down has a value that isn't carried by any of the possible options. This is also something that happens a lot in real life applications.

[2019-10-01 18:53] colinFerris314 commented on #19866
@damienwebdev  this also worked for me. Thank you so much. I couldn't find this documentation anywhere.

[2019-10-01 18:58] vikerman commented on #32887
Yes - It's part of the plan. Adam Plumer would be helping here

Yes. And migrate them out since they have deprecated for quite some time.

Yes

Yes - That was my plan

Yes - Seems straightforward and doable.

[2019-10-01 18:59] kapunahelewong commented on #28524
Oh yes, thank you, @srcdes :)

[2019-10-01 18:59] #28524 closed

[2019-10-01 19:04] kapunahelewong commented on #24720
Thank you, @YuliaTsareva. This is very helpful. Let me ask around and see if I can find some engineering guidance here.

[2019-10-01 19:28] Showtim3 commented on #32924
@julianomacielferreira @atscott Can i help with this? This will be my first contribution here

[2019-10-01 19:33] RayDragon commented on #32685
I am facing the same problem, mines is https://ray-hacker-company.github.io/dcem/setip,
Steps to reproduce:
1. Open the above link in chrome(windows 10 64x) and refresh 1-2 times
2. Press f12 for inspection/console, select network, go offline...
3. Refresh

Result:
This page isn’t workingray-hacker-company.github.io took too long to respond.
HTTP ERROR 504

I tried https://tejindermakkar786.github

[2019-10-01 19:56] Showtim3 commented on #32924
@kapunahelewong @atscott Can i help with this? This will be my first contribution here

[2019-10-01 20:02] kapunahelewong commented on #32924
Thatʻd be great, @atscott! If you like, you can refer to [my notes for my own workflow](https://gist.github.com/kapunahelewong/567c30f7b353fd1c39bbf6d8343e2dca) for the process and where stuff is. Let me know if you have any questions and please feel free to tag me in the PR. Thanks!

[2019-10-01 20:05] alex7egli commented on #16352
Any updates?  Would really like email validation to be supported.

[2019-10-01 20:18] gkalpak commented on #32733
Awesome! Thx for the update, @naveedahmed1 :+1:

[2019-10-01 20:21] IgorMinar commented on #32887
This sounds good to me. Since we are not changing the default behavior for the existing apps, and just cleaning up the meaning of various flags and deprecating the confusingly named `enabled` flag, we are making the current situation strictly better without downsides.

The only breaking change is the default to the behavior of new SSR projects, without affecting the default of existing application

[2019-10-01 20:30] JamesDougherty commented on #18469
Hello - Any update on this issue? It's been over two years since the initial report and there is still no fix from what I can tell.

I was using the `router.isActive` method and I believe these are related. I would have to click the link twice for it to activate since the router wasn't updated until the navigation ended, which caused the router to report the previous link as being active. For inst

[2019-10-01 20:34] #32466 closed

[2019-10-01 20:47] gkalpak commented on #32685
@RayDragon, it seems that there is a hash mismatch for your assets. It means that the files served are different to the files after `ng build` (based on which the hashes for `ngsw.json` were computed. It could be a tiny difference (e.g. in whitespace or line breaks), but the files have to be identical for the SW to be able to cache them.

[2019-10-01 21:20] Showtim3 commented on #32924
@kapunahelewong maybe you meant @Showtim3 ?

[2019-10-01 21:44] #32917 closed

[2019-10-01 23:07] humana-fragilitas commented on #29894
Lazy loaded modules are compiled into Webpack chunks fetched at runtime via script tags; the only hint to any possible error you get when a lazy loaded route fails is a [ChunkLoadError](https://github.com/webpack/webpack/issues/9611); either success or failure: no cancel option. Do you think that the sole **RouteConfigLoadError** event would anyway be a nifty feature to add?

[2019-10-01 23:09] IgorMinar commented on #32669
Angular never uses inline scripts. I wonder if this issue is caused by some other library or your custom setup. In any case, your security grades are not affected by the use of Angular.

[2019-10-01 23:09] #32669 closed

[2019-10-01 23:32] vinayluzrao commented on #23301
+ 1 for this. Besides the injector, ComponentRef has other properties that are highly useful to have inside the component instance, and, to my knowledge, can't be obtained any other way:
[code]
PS: I believe the `ViewRef` and `ChangeDetectorRef` that can be injected through the component instance's constructor are different from the ones available in `ComponentRef`, but I might be wrong on this (i

[2019-10-02 01:12] Splaktar commented on #32887
👍 from me as well!

[2019-10-02 01:31] fouaddev opened #32948 "A mistake in the docs - in the description of the Component Class section"
# 📚 Docs or angular.io bug report

### Description
In the _Component Class_ section, the reference of angular in relation to typescript should be angular instead of angularJS.

## 🔬 Minimal Reproduction

### What's the affected URL?**

https://angular.io/guide/ajs-quick-reference

### Reproduction Steps**
Go to the link above and scroll down to the _Component class_ section. Read its description.

[2019-10-02 03:06] kusumasai commented on #32819
@el-peregrino try take(1). It might work

[2019-10-02 03:14] yelhouti commented on #30896
This question has been asked in many place and no good answer had been provided yet. This clearly missing from docs. Linking a stackoverflow question (for google to point people here once answer is available)
https://stackoverflow.com/questions/39648119/importing-a-component-from-a-lazy-loaded-module-into-another-lazy-loaded-module

[2019-10-02 03:50] EatonZ commented on #32380
FYI, [3.7 draws near](https://devblogs.microsoft.com/typescript/announcing-typescript-3-7-beta/).👀

[2019-10-02 05:18] gowthambj commented on #32853
Similar issue - https://github.com/angular/angular/issues/3957#issuecomment-208345337

But was closed without fixing. High priority issues and needs fix.

[2019-10-02 05:22] ajarudingunga commented on #32853
++1
Exact issue for me, have asked questions on stack-overflow but no luck yet.

https://stackoverflow.com/questions/58059143/how-to-pass-optional-router-parameter-with-preserved-url-in-angular5

[2019-10-02 05:48] Krrish92 opened #32949 "Angular Universal throwing JSON.parse errors 100 of times while loading application page"
I am getting very frustrating error while loading the application page. It seems angular universal requesting the page with responseType as Json.

"SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at XMLHttpRequest.onLoad (/var/www/html/booking/dist/server.js:82827:51)
    at XMLHttpRequest.module.exports.XMLHttpRequestEventTarget.dispatchEvent (/var/www/ht

[2019-10-02 06:14] lppedd commented on #32380
@EatonZ I've already compiled with 3.7, seems fine. Actually 3.6 has an issue which makes it incompatible with Angular. https://github.com/microsoft/TypeScript/issues/33295

[2019-10-02 07:12] fluidsonic opened #32950 "Replace `instanceof Array` with `Array.isArray()`"
# 🐞 bug report

### Affected Package
Looking at the source code at least `compiler`, `core`, and `forms`.

### Is this a regression?

I don't think so.

### Description

Angular code is using `instanceof Array` in several occasions which is `false` for array literals in a [Node VM context](https://nodejs.org/api/vm.html#vm_vm_executing_javascript). There `[] instanceof Array` will be `false`. That

[2019-10-02 08:34] trotyl commented on #24720
Relates to https://github.com/angular/angular/issues/12522

[2019-10-02 09:22] robertIsaac opened #32951 "select set value with ngModel isn't working with IE"
# 🐞 bug report

### Affected Package
@angular/forms

### Is this a regression?
no

### Description
having simple `<select>` element and set it's value with `[(ngModel)]` doesn't affect the visible option in IE 11 only
in my example the page render with no default value (1)
and after 3 seconds it sets the value to 4 and that will remove the selected option (if you did before the 3 seconds)

in IE
!

[2019-10-02 09:48] cjhawes commented on #31221
I have this same issue. Link to the repository where this error has occured: => [https://github.com/cjhawes/angular-practice](url)

[2019-10-02 11:49] mcalmus commented on #31595
Does a new PR need to be created for the additional patching?

[2019-10-02 12:00] petebacondarwin commented on #16477
In the new approach, instead of doing translation inside the Angular compiler we simple "tag" the messages that need to be translated via a global `$localize` [templated string tag handler](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#Tagged_templates). These tagged strings survive all manner of bundling and minification, so that at the end of your build pipe

[2019-10-02 12:47] rravindranaik111 opened #32958 "lazy load large html page takes too much time"
We are trying to build angular base app which contain large html file sizes. We used lazy loading for that purpose. However it seems that when our html page size is more than 300 kb it takes almost 80 seconds to load the view. We are stuck in that. After first load when we are revisit that page it will be loading fast(May be due to cache).

Can anyone guide on the same ?

[2019-10-02 12:48] ganqqwerty commented on #13461
Is this the official market positioning of the Angular Forms? I thought of it more as of all-purpose tool that is useful for huge projects.

[2019-10-02 13:24] mlc-mlapis commented on #32958
@rravindranaik111 Do you understand that the lazily loaded module is JS code in fact and it has no direct relation to HTML, which is rendered in the DOM after loading during instantiation of such a module? It's absolutely unclear what you are trying to do.

[2019-10-02 13:25] trotyl commented on #32958
Most likely duplicate of https://github.com/angular/angular/issues/28270

[2019-10-02 13:55] rravindranaik111 commented on #32958
@mlc-mlapis : Thanks for your reply. I know it is lazy loading and not eagerly loading. Landing page is not the issue for loading at initial stage but suppose one menu loading the page which is having html size more than 300 Kb it took time to rendering the page

There are lots of pages which are having html size more than 300 Kb and it gives me same output for rendering, while if we test with rem

[2019-10-02 14:00] rravindranaik111 commented on #32958
@trotyl : Thanks for your reply.

It seems that we have to try the following link :
https://github.com/angular/angular/issues/28270#issuecomment-521596801

I will try and let you know the same.

[2019-10-02 14:08] demisx commented on #16477
Runtime option b) please. We could load translations as JSON files and switch languages at runtime as we currently do it with `ngx-translate`.

[2019-10-02 14:08] atiris commented on #16477
Thanks for the explanation. I understand that the a) approach is more "Angular" but the great advantage of the b) approach (and lazy loading in general) is also the ability to dynamically define / change translations by users (modified translations for apps could be used immediately). If I understand it correctly, any small change in translation in approach a) would mean a new rebuild.

This is th

[2019-10-02 14:22] ocombe commented on #16477
@demisx both approaches will be available with v9, but only option a) will be fully supported at first (for retrocompatibility), new things might be developed for option b) before it is fully endorsed by the Angular team.
My library `Locl` will provide a few helpers for option b) when v9 is released so that anyone can use it, until the Angular team bridges that gap

[2019-10-02 15:00] petebacondarwin commented on #16477
Be aware that such runtime translation would not be "reactive" in the sense that once a component has been rendered it would not be possible to change its text dynamically, even if a new translation were loaded.

Translated messages are static with respect to `$localize` tagged strings. So the component would need to be re-rendered. And depending upon the caching of templates in IVY it might be th

[2019-10-02 15:02] petebacondarwin commented on #16477
Regarding the hybrid approach of starting with a static translation in the build and then adding runtime translation later. This could be feasible if the compile time inlining did not remove the `$localize` tags but just updated the templated string literal parts. Though, this would result in the compile time cost plus the extra bundle size cost.

[2019-10-02 15:10] kapunahelewong commented on #32924
Oh yes, youʻre right, @Showtim3. Thank you. Edited above.

[2019-10-02 15:20] ivanolarocca opened #32963 "Input pseudo-event (keyup.enter) don't works anymore on iOS 13"
### Description
On Apple devices that are currently upgrading to new iOS 13 the pseudo-events have stopped working. (keyup.enter) or (keydown.enter) don't works but only the simple events like (keyup) work.

Do you have info about it or do you have any idea what happened?

Below a demo to test the problem on ios devices. Under normal conditions, pressing the Enter key on the keyboard the 2 event c

[2019-10-02 16:26] umdstu commented on #32722
Would you mind if we leaved this open while I work through building this 'offline' and see if there are places that could updated to be more 'offline' friendly? If not, I suppose I could create separate tickets for each.

eg. the tools/examples/shared directory makes use of `in-memory-web-api-bazel` package, directly in Github, rather than a yarn or npm module. Any way this could be published and

[2019-10-02 16:44] #32931 closed

[2019-10-02 16:51] tmburt04 commented on #29606
Any update on this?

[2019-10-02 16:52] atscott commented on #32958
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2019-10-02 16:52] #32958 closed

[2019-10-02 16:54] atscott commented on #32949
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-10-02 16:54] #32949 closed

[2019-10-02 16:57] jbogarthyde commented on #21017
resolved by https://github.com/angular/angular/pull/32817

[2019-10-02 16:57] #21017 closed

[2019-10-02 17:19] DzmVasileusky opened #32964 "Resolver isn't called when navigating from tab A to tab B and rapidly back to tab A"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/router

### Description

There is a page A with a resolver.
There is a page B with another resolver.
Navigate from page A to page B and then back to A while B's resolver is still loading data and url wasn't changed.

Rapid navigation back in that case not calling A's resolver.
Sequence of router events:
NavigationStart

[2019-10-02 17:32] IgorMinar commented on #31259
please use `ng update @angular/cli@^<major_version> @angular/core@^<major_version>` instead. e.g. `ng update @angular/cli@^7 @angular/core@^7`. This means take the latest 7.x.x version and use that to update. In general we recommend that you use the latest patch version during update as it contains fixes we released since the initial major release.

[2019-10-02 17:42] IgorMinar commented on #31862
thanks for the report @mcalmus. "supersedes" is definitely incorrect - only one of `path` or `matcher` can be used per route. @kapunahelewong or @jbogarthyde can you please update the doc?

[2019-10-02 17:43] elvisbegovic commented on #32416
Will this be solved for 9.0 final?

[2019-10-02 17:50] mgechev commented on #24041
I'll reach out to folks and see what's the status.

[2019-10-02 17:56] IgorMinar commented on #24506
I believe that his issue has been already resolved - looking at https://angular.io/tutorial/toh-pt6#add-heroserviceaddhero I see that all `tap` calls now use either `_` or `newHero`.

@tparikka  eslint is not officially supported yet, but feel free to submit a PR  to update the examples to make them eslint compatible. thanks!

[2019-10-02 17:56] #24506 closed

[2019-10-02 18:11] mgechev commented on #24041
@matsko will evaluate how much effort this would require and see if we can prioritize it soon.

[2019-10-02 18:14] mstawick commented on #32913
@uplink42 Did you come up with a workaround? I thought of changing imports to relative paths, but it's really not a feasible solution.

[2019-10-02 18:39] hugoebarboza commented on #31314
same error for my, any solution?

[2019-10-02 19:11] ODAVING commented on #32948
Hello,
I'm fairly new to the open source community! however, I've made a PR for this issue, please let me know if there are any changes that need to be done.

Additionally, the form the PR has me fill out is a bit confusing, so I'd appreciate some insight in that as well.
Thanks!

[2019-10-02 19:16] fouaddev commented on #32948
Hey ODAVING, me too, this is my first issue that I opened for Angular :) Loving it so far. As for the PR, yeah It can be a bit confusing but just follow the steps one by one. There are many blog posts on how to do it. Just google it.

[2019-10-02 19:20] JoostK commented on #32765
Hi @abadakhshan,

you are experiencing a change in functionality with respect to how Ivy's compiler evaluates code statically. Pre-Ivy, a library would bundle metadata about the values within the program, so library consumers were able to statically evaluate expressions that read values from a library, as those values had been captured in the metadata. With the Ivy compiler, expressions are evalua

[2019-10-02 20:02] Splaktar commented on #24720
It might be worth submitting a PR that just removes the `private` from the field. Is that sufficient to get it in the docs?

Or is `public` required? Hopefully not.

[2019-10-02 20:11] SantiagoIlli commented on #32848
Hi!

Even if the component could be abstract, and you create another component that extends the first component, the html and css would be different, cause component metadata is not inheritable as far as I know.

If you want several components to share behaviour you can create an abstract class and extend it in the components.

If you also want to share html template, you can export it as a const

[2019-10-02 20:18] olierxleben commented on #32948
should have "has PR" tag! Just wanted to jump in. lol

[2019-10-02 20:27] ODAVING commented on #32948
@fouaddev That's amazing! I think I managed to do everything they suggested, so I guess we just have to wait until PR is reviewed. I'm loving open source as well as the community!

[2019-10-02 20:41] reed-lawrence commented on #28164
Any update to this issue?

[2019-10-02 21:10] Splaktar commented on #24720
Based on some additional discussion, I believe that the `good first issue` label should be removed from this issue.

After some discussion, we've decided to
- keep the field `private`
- update the description to clearly call out that this is set via a static `@Attribute` and not a dynamic `@Input()` (as https://github.com/angular/angular/issues/12522 is not supported).

[2019-10-02 21:30] #32924 closed

[2019-10-02 21:54] #32826 closed

[2019-10-02 22:17] YuliaTsareva commented on #32948
@ODAVING I would advise to add footer with "Closes #issue_number" text to commit message next time :) In that case, the issue and your PR will be linked automatically. So it will be easier to track PRs even before the label "has PR" is added.

[2019-10-02 23:15] ayazhafiz commented on #32963
What version of iOS do you have? I cannot repro this on iOS 13.1.2 (17A861).

[2019-10-03 00:29] ODAVING commented on #32948
@YuliaTsareva Really appreciate the advice Yulia, will keep that in-mind for next time!

[2019-10-03 06:38] alastair-todd commented on #32848
The meta data is inheritable.

What about binding in your example? The only thing abstract here is the source of data.

[2019-10-03 06:48] xDveGax commented on #32289
Hi @Splaktar. Im having the same error when i run my test on Karma with a Headless browsers.
If my .html has a custom-breakpoint directive the error show.

[code]

I have v8.0.0-beta.27
[code]

Regards.

[2019-10-03 07:36] Splaktar commented on #32289
@xDveGax Please [open a new issue here](https://github.com/angular/flex-layout/issues/new/choose) with a GitHub repo reproduction.

[2019-10-03 07:53] JoostK commented on #32289
But before you do, please first try with a `next` release first: currently that's `9.0.0-next.9`.

[2019-10-03 08:14] Totati commented on #32964
I think this is how it should work. You're on route A, navigating to route B starts the resolving. During the resolve navigating back to route A cancels the resolve and nothing happens. Angular won't reload the component that's already loaded.
Your issue seems to be related to [THIS ](https://github.com/angular/angular/issues/21115) one.
[Here](https://angular.io/api/router/ExtraOptions#onSameUrlN

[2019-10-03 08:23] JiaLiPassion commented on #32932
@pamtbaau, please inport `zone.js/dist/zone-patch-electron` package. If CD still not work, please tell me.

[2019-10-03 08:31] pamtbaau commented on #32932
@JiaLiPassion Patch is already imported. See './src/polyfills.ts':
[code]

[2019-10-03 08:47] fluidsonic commented on #30784
Same here. But in my case it's the [PatternValidator](https://github.com/angular/angular/blob/8042140742708951f118501dc75a51b029513b1f/packages/forms/src/directives/validators.ts#L568). The `pattern` attribute is static though.
`PatternValidator`'s own `ngOnChanges()` isn't called before `validate()`.

The stacktrace goes back to `ngOnChanges()` for the input because `model` has changed:
[code]

[

[2019-10-03 08:59] gkalpak commented on #32874
Fixed by #32959.

[2019-10-03 08:59] #32874 closed

[2019-10-03 09:48] benelliott commented on #31160
For anyone else who has the same issue as me - I worked around it by adding a Directive with a dummy selector (not empty, but something that obviously shouldn't be used) to my abstract classes and then declaring them in my modules, inspired by this commit in `@angular/components`:

https://github.com/angular/components/commit/8c9801398c9593cc29c292d65bd206463909a432

[2019-10-03 09:49] borriej opened #32978 "Typo opting out differential loading"
# 📚 Docs or angular.io bug report

### Description

The docs say:
_To explicitly disable differential loading:

Enable the dead or IE browsers in the browserslist config file by removing the not keyword in front of them.
Set the target in the compilerOptions to es5._

https://angular.io/guide/deployment#opting-out-of-differential-loading

This confuses me a lot, and I think its a typo. Because it

[2019-10-03 10:31] JiaLiPassion commented on #32932
Sorry, I didn't read the issue clearly, I will check it.

[2019-10-03 10:51] jcdsr commented on #32103
@JiaLiPassion
That works, thanks. The script valuation is now around 1,061 ms

However, I couldn't find any documentation regarding these zone symbols. How did you find out that was specifically 'resize', what if there is another one? how we can debug that? also, my app is SSR as angular 8.

I add the code on polyfills like:

is this correct?

`
        if (typeof window !== "undefined") {

[2019-10-03 10:55] bd-Kwasniewski commented on #19445
Still an issue in angular 8

[2019-10-03 11:25] thomasm commented on #32963
This happened to me too after the iOS13 update. Switching to (keydown.enter) seems to have fixed the issue for now in my project.

[2019-10-03 11:53] trotyl commented on #32978
The doc is correct, "disable differential loading" means **only produce ES5 bundle**.

[2019-10-03 12:19] bampakoa commented on #32755
@kapunahelewong I was expecting that this should be closed automatically when merging #32789 🤔 . Is that correct?

[2019-10-03 12:42] trotyl commented on #32963
The issue is that ⇧(Shift) being activated automatically, so that the pressed key becomes `shift+enter` rather than `enter`, if you go to `Settings` -> `General` -> `Keyboard` -> `English` and disable `Auto-Capitalization` it will then work fine. (Also, non-English keyboard may not have this issue)

Hard to say it's a BUG in Angular, `shift+enter` is indeed technically different input than `enter`

[2019-10-03 12:52] trotyl commented on #19445
Could anyone make a working demo for this in native Shadow DOM? AFAICK `:host > :host` is not a valid selector per spec.

[2019-10-03 13:11] devversion opened #32981 "Different dependency injection behavior for abstract directives in Ivy"
It looks like `ngtsc` behaves differently for abstract directives, compared to the behavior of `ngc`.

Let's assume we have the following base class in our version 8 application:

[code]

In version 9 with Ivy, the `ButtonClass` needs to be decorated with `@Directive()` because `ButtonClass` declares a class member with an Angular decorator. This is part of our `@angular/core` migration for versio

[2019-10-03 13:22] maurycyg commented on #12664
It looks like there is no clean solution at this moment for basic functionality like query params that existed long before angular and I'm sure they will outlive angular too

[2019-10-03 13:26] fluidsonic commented on #30784
My workaround, to be executed before bootstrapping the app module:

[code]

It won't fix the other error though which is only raised in dev mode:

[2019-10-03 13:56] CharlesElGriego commented on #15275
Hello! Thank you so much for your help @jalbatross and @alarm9k
I also created a repo based on your answers
https://github.com/CharlesElGriego/angular-aot-dynamic-components

[2019-10-03 13:58] SantiagoIlli commented on #32848
Binding works as expected.

[Here i made a stackblitz very small example.](https://stackblitz.com/edit/angular-tte6sf?file=src%2Fapp%2Fhello.component.ts)

Hello component imports the htmlTemplate from app.component.ts, could be a library but i didn't create one for simplicity, and the bindings works.

I know that is not the best, you must respect 'manually' the methods and variable names, but if

[2019-10-03 14:05] alarm9k commented on #15275
@CharlesElGriego Thanks for that. I probably should have mentioned before but I've written an article about this case a while ago. There is also a link to the repo with the example.
https://www.linkedin.com/pulse/compiling-angular-templates-runtime-dima-slivin/

[2019-10-03 14:11] fluidsonic opened #32984 "ivy doesn't handle style value 0 (zero) correctly"
# 🐞 bug report

### Affected Package
`@angular/core`

### Is this a regression?

Yes. Works in `~9.0.0-next.9` with Ivy disabled but does not work with Ivy enabled.

### Description

`[style.property]` treats `0` as `'0'` in non-Ivy Angular but as falsy in Ivy which in turn removes the attribute. Since it could be a computed value (`[style.opacity]="1 - somevar"`) it's probably best to treat `0` a

[2019-10-03 14:12] SantiagoIlli commented on #32848
I'm curious, how do you inherit metadata between components?

[2019-10-03 14:12] tatsujb commented on #30835
guys these solutions ('es5' target , 'commonjs' module, ect...) do not even work for me. what else is there I can do?

I got this :
[code]
I feel like any and all discussion on this is largely being shut down when it's a valid issue :
https://github.com/angular/angular-cli/issues/15094

[2019-10-03 14:13] petebacondarwin commented on #32416
I think it should. We just need someone with time to look into it. :-/

[2019-10-03 14:13] trotyl commented on #32909
There is an RxJS operator called [`finalize`](https://rxjs.dev/api/operators/finalize).

[2019-10-03 14:15] gkalpak commented on #32755
Fixed by #32789.

##
@bampakoa: Based on [this][1], in order for an issue to be closed automatically we either need a commit mentioning `Fixes #<ISSUE_NUMBER>` (or equivalent) to be merged into the main branch (which was not the case for the commit in #32789) or a PR mentioning the same in its description to be _merged_ into the main branch.

I suspect "merged" is the key here: Due to our rebase-b

[2019-10-03 14:15] #32755 closed

[2019-10-03 14:39] FDIM commented on #27148
Just stumbled upon this issue, I guess the only workaround now not break back button is to return false and schedule a navigation in set timeout in a guard.

Interesting to see that not many people are hitting this issue

[2019-10-03 14:56] alastair-todd commented on #32848
Perhaps it is not possible after all

#24463

[2019-10-03 15:03] ErikWitkowski commented on #27148
Thanks for the workaround! But what if we want to preserve NavigationExtras?

Let's say we want to use canActivate to redirect the user to other route but we want to keep NavigationExtras.

[2019-10-03 16:59] DzmVasileusky commented on #32964
@Totati I see. So that's an expected behavior. We recently had to move some code from resolvers to page containers because of that

[2019-10-03 16:59] #32964 closed

[2019-10-03 17:56] tmburt04 commented on #29606
I was able to alleviate the error being thrown by using my own 'ComponentNgElementStrategyFactory' and referencing it when defining my components.

**Custom component definition**
`  components.map(el => {
    const component = createCustomElement(el.component, {
      injector,
      strategyFactory: new XComponentNgElementStrategyFactory(
        el.component,
        injector
      )
    });

[2019-10-03 19:21] FDIM commented on #27148
@ErikWitkowski inside canActive method, you can get navigation object via `router.getCurrentNavigation()` - it will have extras property that includes original options passed via navigate method

[2019-10-03 19:32] WilliamSf commented on #31314
no :/

[2019-10-03 19:36] FDIM commented on #32853
Have either of you tried to use matcher option?

For cases at work, usually simple redirect with trailing slash was good enough. For few other cases custom matcher was solution, it's a bit verbose but not too complicated.

[2019-10-03 21:12] try2flyb4ucry commented on #32800
This issue is solved in Chrome version 78.0.3904.44 beta.

[2019-10-03 21:19] mmalerba commented on #32896
I talked to @IgorMinar about this, he was opposed to changing how `fixture.whenStable()` works, but we discussed some options for adding a separate way to wait on the root zone:
1. Have a standalone function (e.g. `whenRootZoneStable`) that we import from `@angular/core/testing` (Igor is opposed to this one)
2. Have a method on the root zone (e.g. `Zone.root.whenStable`) that we can call
3. Change

[2019-10-03 22:26] kara commented on #31108
Ivy isn't RC yet (will be RC when v9 RC comes out). Internal testing is definitely still in-progress. We don't have all the pieces done yet.

[2019-10-03 23:52] aaomidi opened #32990 "ZoneJS and errors"
I'm going to follow up from this comment by @JiaLiPassion

https://github.com/angular/angular/issues/21841#issuecomment-486005387

No this doesn't really help, sure it reduces it but doesn't get rid of them:

[3664:1003/232319.794:INFO:CONSOLE(234)] "Error: write EPIPE
    at afterWriteDispatched (internal/stream_base_commons.js:78:25)
    at writeGeneric (internal/stream_base_commons.js:73:3)

[2019-10-04 00:27] Splaktar commented on #32051
PR https://github.com/angular/angular/pull/31371 is attempting to fix this.

[2019-10-04 00:33] Splaktar commented on #32496
This looks like it may be the same issue as https://github.com/angular/angular/issues/32099.

[2019-10-04 01:04] JiaLiPassion commented on #32990
@aaomidi, if you import `zone.js/dist/zone-error` package, the zone related error will be reduced, but some of the stack will still be there. Currently zone.js doesn't support getting rid of all zone stack traces.

[2019-10-04 01:05] JiaLiPassion commented on #32990
@aaomidi, if you import `zone.js/dist/zone-error` package, the zone related error will be reduced, but some of the stack will still be there. Currently zone.js doesn't support getting rid of all zone stack traces.

[2019-10-04 01:28] #32990 closed

[2019-10-04 01:31] JiaLiPassion commented on #32896
@mmalerba, thanks for the information.
From my point of view.

1. `fixture.whenStable()` should not change, it should only be resolved when `ngZone` is stable.
2. `Zone.root.whenStable` or `whenRootZoneStable` maybe not a good idea either, because
   - we may don't want to expose root zone to users.
   - root zone should not do anything, user should not use root zone to monitor async tasks.
3. Add

[2019-10-04 04:27] jpike88 commented on #31896
@JiaLiPassion this warning has been going on for months, and there is no clear reason as to why it's being delayed. Can you please shed some light on this?

[2019-10-04 05:43] pamtbaau commented on #32932
Could you please clarify what you mean by "'zone-patch-electron' will not be included"? When I debug the project, breakpoints in your patch are being hit at lines: 31, 35, 39

Not sure if this makes a difference, but I use the custom builder [@angular-builders/custom-webpack](https://github.com/just-jeb/angular-builders/tree/master/packages/custom-webpack) to build the project. This builder runs t

[2019-10-04 08:12] JoostK commented on #32895
@devoto13 With the `9.0.0-next.9` release the bug you were seeing should have been resolved.

The cases you identified (injecting `Renderer` or a directive into a component) were indeed due to the way ng-packagr was updated to emit constructor parameters. Before #32901 this was a problem for ngcc, as it would fail to detect the class level decorator and therefore skip compilation of the component

[2019-10-04 08:12] #32895 closed

[2019-10-04 08:17] hodossy commented on #32816
I have tried to reproduce the issue without jenkins-agent, but it I was unable to do so. It may have been caused by the Chrome version in use, but now Chrome 77 is in the edge repositories, and Chrome 73 is in 3.10, nevertheless I am closing this issue now, it seems way too specific and has a workaround.

[2019-10-04 08:17] #32816 closed

[2019-10-04 08:43] uplink42 commented on #32913
@mstawick

Unfortunately not, changing every import is not really feasible at this point.

Hopefully this gets fixed when ivy comes out.

[2019-10-04 09:02] JiaLiPassion commented on #31896
@jpike88,  the zone.js 0.10.x has been merged to `angular-cli`, so if you use `angular/cli@next` (currently is `9.0.0-next.8`), the zone.js will be `0.10.2`, and the warning will be gone.

[2019-10-04 09:03] JiaLiPassion commented on #32932
@pamtbaau, I am not sure I understand your question.
So you mean.
1. you are using `ng new` to create a new project.
2. you `import zone-patch-electron` by yourself.
3. and electron menu will not trigger CD.

is that correct?

[2019-10-04 09:22] pamtbaau commented on #32932
@JiaLiPassion, Yes,

1. I used `ng new` to create a new project
2. I modified the file './src/polyfills.js' to import 'zone.js/dist/zone-patch-electron', as follows:
[code]
3. And did some more to make app ready for electron (see [README](https://github.com/pamtbaau/angular-cli-electron-menus) in repo), like:
   - Modified `angular.json` to replace the default builder by custom webpack builder

[2019-10-04 09:38] TheRealOha commented on #30802
Having the same problem after upgrading to Angular 8.
Reinstalled node modules, tried ng build (build was fine), modified tsconfig.json, nothing works.

[2019-10-04 10:19] sod opened #32995 "Produce warnings/errors for code that change detection can't handle"
Examples:

### Creates new observable on every change detection cycle
[code]

### Doesn't use trackBy
[code]

~~### Create new reference on every single change detection:~~
[code]
~~> Maybe: Warning - The array reference should not change on every change detection cycle / or use pipe slice instead~~
Update: This case is handled by angular, my assumption was wrong

---

These are footguns that rise

[2019-10-04 10:43] apocalyp0sys commented on #21412
@gkalpak
Did some more digging and decided we shouldnt cattch the error here

https://github.com/angular/angular/blob/f3859ff2b9aa75068250aa1ce4b117c6adfccf3c/packages/service-worker/worker/src/driver.ts#L445

It can be not cache-related and break something else. Also unable to get actual response at this point, would have to re-run network request.

Decided to fix this while handling reqests by d

[2019-10-04 11:18] trotyl commented on #32951
The issue is because all the `<option>` elements are missing `value` input, it will work correctly once changed to:

[code]

BTW, the root issue is that Angular doesn't support content as value in `<option>` element, which is tracked by https://github.com/angular/angular/issues/8549.

[2019-10-04 11:25] Toxicable commented on #32995
There are situations where some of those examples you gave are totally fine.
It's hard to generalise things like this, I'd say it should be more of a linting warning/error rather than a core framework one.

[2019-10-04 11:31] Airblader commented on #32995
In fact the trackBy one is AFAIK intentional to make it easier on beginners. In React providing a "key" is required, in Angular it's optional. And for small lists that's totally fine.

It's probably also difficult to know whether an expression returns a new reference on every call or not. How do you determine that apart from hardcoding knowledge on built-in functions such as slice?

[2019-10-04 11:32] Airblader commented on #32995
One more point, but drowning existing apps in dozens or hundreds of warnings probably wouldn't help anyone either, so I agree that this should be a linting effort. All of these work by design, it'd be odd for the core to issue warnings for intended usage. If we wanted to prevent this with certainty, Angular shouldn't allow calling functions from the template etc.

[2019-10-04 11:49] sod commented on #32995
Doesn't has to be a default. More like a `strict` flag like typescript has.

I personally have no issues with any of those examples. But I breathe angular since beta & angularjs for forever. And understood the why and how the change detection works.

But people coming from other frameworks (e.g. react, where state changes are explicit, or vue.js where state is easiliy memoized via computed getters

[2019-10-04 12:14] JiaLiPassion commented on #32932
@pamtbaau, ok, could you provide a reproduce repo? Thanks.

[2019-10-04 12:14] trotyl commented on #32995
All of `NgIf`, `NgForOf` and `AsyncPipe` are  just built-in libraries, totally user code, not recognized by either compiler or runtime.

[2019-10-04 12:27] pamtbaau commented on #32932
@JiaLiPassion  As asked by the template when opening this issue....

Reproduction of issue can be found in repository [angular-cli-electron-menus](https://github.com/pamtbaau/angular-cli-electron-menus)

[2019-10-04 12:36] sod commented on #32995
One of my arguments why angular is so incredibly good is, that templates are strongly typed (and it becomes even better with ivy). Saying that directives and pipe are just gonna be ignored in that equation - even the shipped-with-angular ones - is sad to hear.

[2019-10-04 12:39] Airblader commented on #32995
I don't see what type checking has to do with the fact that these directives are not hard-coded into the core but rather just use framework features to be implemented outside the core.

[2019-10-04 12:41] robertIsaac commented on #32951
Issue fixed by adding value to the option

[2019-10-04 12:41] #32951 closed

[2019-10-04 12:43] sod commented on #32995
AngularJS just called change detection as long as nothing changed anymore. And it gave up after 10 tries and threw an error. This prevented the first of my 2 examples. And AngularJS had a default trackBy strategy, that prevented the third example.

So angularjs already had tools to prevent those issues. Why shouldn't it be possible in angular? Is doesn't *has* to be at compile time.

[2019-10-04 13:11] trotyl commented on #32995
@sod Could you please try it yourself? None of these would happen in AngularJS:

https://stackblitz.com/edit/angularjs-gtx4nx?file=home%2Fhome.controller.js

[2019-10-04 13:26] sod commented on #32995
Ya, it doesn't work on primitives. And it supposed to play into angular/animate, so if a value changes, the node changes.

But if the objects are the same, but the outer array changes, it reuses the dom, even though the array is new: https://stackblitz.com/edit/angularjs-mbzwk4?file=home/home.controller.js

But to be clear, I like that angular got rid of that default trackBy. But a nod to the deve

[2019-10-04 13:27] joselcvarela commented on #19934
Hey,
I was having this issue and I was working on this during the entire morning but finally I found a simple solution but not elegant.
I am using  `ChangeDetectionStrategy.OnPush` and I am fetching data on guards, so the page only loads if the guard could fetch data successfully. This behavior broken some components since no change detection occurs. So, my solution was to access `routerLinkActive

[2019-10-04 13:37] cagcak commented on #31724
[code]

[2019-10-04 13:42] plex4r commented on #15338
Any update on this?  I do not want to lose the advantages of using [routerLink] in my template and be forced to use a workaround in *.ts code.  For example, if I cannot use [routerLink] I need to do another workaround to have the current link highlighted used routerLinkActive="myHighlightClass"

[2019-10-04 13:44] JiaLiPassion commented on #32932
Got it, thanks! Sorry I didn't notice you already provided 😅

[2019-10-04 13:56] haydenbr opened #33000 "Angular router in hash mode shouldn't modify the url before the hash"
_NOTE: issue description updated with actual cause of the defect from the angular source code_

# 🐞 bug report

### Affected Package
@angular/router, @angular/common

## Description

### The Problem

When using the angular router in hash mode in browser in which the History API is available, if I have a base href set, the angular router _has the side effect of_ changing the hostname and pathname i

[2019-10-04 14:02] trotyl commented on #32995
That's exactly same in Angular and AngularJS.

https://stackblitz.com/edit/angular-pbvudd

"Tracking by identity" is known as "no trackBy", which is the default trackBy in both Angular and AngularJS, if you want to call it a trackBy mechanism.

[2019-10-04 14:17] sod commented on #32995
Yes you are right. Seems like I never saw that because we try not to mutate state, so a property change mostly recreates the object. Or data comes via AJAX and that data are new references as well every time.

[2019-10-04 14:25] sod commented on #32995
Strange that there is a slice pipe when `let value of values?.slice(0, 3)` does exactly the same as `let value of values | slice:0:3` :D

[2019-10-04 14:54] hematy61 opened #33001 "weird plus syntax in route doc"
# 📚 Docs or angular.io bug report

### Description

 In the routing documentation there is a weird plus syntax which doesn't make sense at all.

## 🔬 Minimal Reproduction

### What's the affected URL?**
https://angular.io/start/routing

### Reproduction Steps**

### Expected vs Actual Behavior**

## 📷Screenshot

![image](https://user-images.githubusercontent.com/27248171/66217219-843e5c00-e68c-11e

[2019-10-04 15:00] trotyl commented on #33001
`+` operator convert a `string` value to a `number` value.

[2019-10-04 15:15] ericmartinezr commented on #33001
To complement @trotyl's answer https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Arithmetic_Operators#Unary_plus_()

[2019-10-04 15:23] AnthonyLenglet commented on #33001
Would it be clearer to perhaps use
[code]
instead ?

[2019-10-04 15:27] #30365 closed

[2019-10-04 15:44] haydenbr commented on #33000
Update: After a lot of debugging and stepping though, it seems the url is being changed after this function is line is hit

https://github.com/angular/angular/blob/1537791f06df5d85dd27e763836fd99bb1530991/packages/common/src/location/platform_location.ts#L148

[2019-10-04 15:57] robbiemu opened #33002 "Named outlets are not displaying the route content"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

import { RouterModule } from '@angular/router';

### Is this a regression?

not sure

### Description

 A clear and concise description of the problem...

named outlets are not displaying the routed content, with no error, and a router.config that appears appropriate (this has been reviewed by almost 4 dozen peopl

[2019-10-04 16:14] haydenbr commented on #33000
Ok never mind. Turns out this IS default browser behavior related to setting a base href.

https://stackoverflow.com/questions/47057589/why-replacestate-removes-index-html-in-basehref-index-html

[2019-10-04 16:14] el-peregrino commented on #32819
@kusumasai take(1) has no effect.

[2019-10-04 16:17] el-peregrino commented on #32819
@djleonskennedy I tried to implement a resolver the same way. I came to the same issue.

[2019-10-04 16:33] haydenbr commented on #33000
Sorry, re-opening this one.

So, this is the default browser behavior when calling `history.pushState` or `history.replaceState` with a relative url. However, you will end up with different results in different browsers, depending on whether or not the History API is supported, which seems like a bug.

If you refer to this [link from the WC3](https://www.w3.org/TR/2011/WD-html5-20110113/history.ht

[2019-10-04 16:42] hematy61 commented on #33001
@trotyl @ericmartinezr thanks a billion. looks I need to refresh my JS foundations. I knew that "!" would turn a value to a boolean but never thought about + or - operators. that's pretty neat.

@AnthonyLenglet I think that 's better to keep it there as everyone knows what Number() is doing, but doesn't know about +. However adding some sub-notes to describe what + is doing would be awesome. and p

[2019-10-04 17:14] zeinali0 opened #33004 "Get compileFactoryFromMetadata is not a function after upgrading to angular 8"
Hi i can't run my project after updating it from angular 7 to angular 8 by running `ng update @angular/cli @angular/core`

## 🔥 Exception or Error
<pre><code>
chunk {main} main.js, main.js.map (main) 2.02 kB [initial] [rendered]
chunk {polyfills} polyfills.js, polyfills.js.map (polyfills) 149 kB [initial] [rendered]
chunk {runtime} runtime.js, runtime.js.map (runtime) 6.15 kB [entry] [rendered]
ch

[2019-10-04 17:24] javaHelper commented on #28730
How can we solve this issue ? Any pointers please ?

[2019-10-04 17:30] javaHelper commented on #28730
https://stackoverflow.com/questions/58240342/angular-candeactivate-not-working-and-value-showing-null - Please guide here

[2019-10-04 17:48] jalex13 commented on #19251
this is a usable workaround: https://stackoverflow.com/questions/40494968/reactive-forms-disabled-attribute

[2019-10-04 17:50] fouaddev commented on #32948
I was wondering how long does it usually take to resolve a doc issue like this one?

[2019-10-04 18:48] #32063 closed

[2019-10-04 18:50] djleonskennedy commented on #32882
@tonysamperi you're welcome, learn JavaScript and you'll never create issues like this ;)

[2019-10-04 18:53] SantiagoIlli commented on #32848
So, as meta data  is not inheritable, an abstract component does not make much sense for me, cause you can use an abstract class in case you need it.
If you agree, this issue could be closed.

[2019-10-04 19:07] tonysamperi commented on #32882
@djleonskennedy I'm sure you could provide some lessons of Javascript for dummies. If you want I can raise your level before taking lessons 😂
Bye mate, don't beat yourself over it 😁

[2019-10-04 19:25] kara commented on #31221
@cjhawes Thanks for the repo! I cloned it and have been clicking around, but I can't get the "max directives" error to come up. Can you provide repro instructions? What should I do to get the error?

[2019-10-04 19:27] Orodan commented on #32629
I think the issue can be solved by upgrading the example in stackblitz with the latest version of angular (it's still in angular 7). I already tested it, this way there is no more vulnaribilities with the dependencies, we can keep the deployment section instructions as they are and we have an example up to date :)

I am ready to submit a PR but I'm not sure what is the procedure to update an stack

[2019-10-04 19:35] Orodan commented on #32551
What's the status of this issue :) ?
From what I can see there is no more recommandation on property names in the current style guide version.

[2019-10-04 19:42] Orodan commented on #32524
Hi @kapunahelewong, did you have time to work on this or do you need any help :) ? I can take care of clarifying the deployment sections regarding the stackblitz files if needed.

[2019-10-04 19:56] Orodan commented on #31494
What's the status of this issue ?

From what I can see, there is still more space between the class/interface name and it's tag than it used to be in the previous versions. This looks like this is due to the anchor button (which appears on hovering) being display on the right of the name, while it was displayed on the left before.

So the question is : is it a wanted behavior or not ? If not, ther

[2019-10-04 20:34] Airblader commented on #33001
Angular is complex enough, I'd try to not also explain JS in the docs as well and instead just use the easier to understand approach using the Number constructor.

[2019-10-04 20:55] Oceania2018 commented on #32802
I encounter the issue for Open API viewer **Redoc**, keep loading. Other browsers work fine.

[2019-10-04 21:03] dannyskoog commented on #32811
After info from @clydin it was brought to light that this is not a supported feature. Therefore I’ll close this issue for the time being.

[2019-10-04 21:03] #32811 closed

[2019-10-05 00:05] cbrandt713 commented on #32770
I can also confirm this has been happening to me. It's a very similar case, where the Content-Security Policy headers are very out of date, in my case, Content-Security headers are still being cached from roughly a month ago.

Unfortunately I can't give a simple reproduction of the process, and the web app is closed-source.

When bypassing the service worker for the network in Chrome DevTools, the

[2019-10-05 02:49] trotyl commented on #32551
Duplicate of https://github.com/angular/angular/issues/30878

[2019-10-05 03:06] chjoslyn opened #33014 "Getting Started Tutorial: Unable to create product alert component using Angular Generator"
# 📚 Docs or angular.io bug report

### Description

 A clear and concise description of the problem...

When I right click on the "app folder" and then select "component" in the "Angular Generator", a field appears to name the new component but when I press enter to create the component nothing happens. The field just stays there and a new "product-alert" folder does not appear in the sidebar nor

[2019-10-05 06:08] lazarljubenovic commented on #33014
This is a StackBlitz issue, not Angular. https://github.com/stackblitz/core

[2019-10-05 06:15] lazarljubenovic commented on #33001
The problem with these statements is that everyone can say that for any two things. I'd never consider using the simplest unary operator something people don't know about. The documentation is for a JavaScript framework, and basic knowledge is required in order to understand it. Explaining JavaScript along the way would just make the docs more bulky.

[2019-10-05 09:07] pkozlowski-opensource commented on #20499
There are some aspects of the DOMChangeList proposal that would make implementing Angular internals easier (keeping track of nodes associated with a view and inserting / removing such group of nodes). Sadly, it doesn't seem like we are anywhere closer to have this spec finished / implemented. As such I'm going to close this issue for now (trying to cleanup a list of issues a bit).

We will _always

[2019-10-05 09:07] #20499 closed

[2019-10-05 10:58] kykint commented on #25966
Is any update on this issue? It is still reproducible and definitely a bug.

[2019-10-05 12:07] gkalpak commented on #32770
Thx for chiming in, @cbrandt713. Can you confirm that the content of affected assets has not changed between versions and that the SW is not downloading the assets during an update?

[2019-10-05 13:29] cbrandt713 commented on #32770
As in the author's case. The affected has is changing between versions. It is the /index.html file, which is correctly being updated with the new version of the app. The headers coming in with the new csp are also accurately reflected in the devtools, but they are not actually being used by the browser.

[2019-10-05 15:05] JoostK commented on #33004
You appear to be using `@angular/compiler-cli` `9.0.0-next.9` together with Angular 8.2.9, which is not compatible and causing the error. You mentioned that you used `ng update @angular/cli @angular/core` so that really shouldn't have happened.

I recently experienced a similar problem, where using `ng update` without the `--next` flag could install `next` tagged releases. @alan-agius4 I think thi

[2019-10-05 15:29] kerosin commented on #31495
Any update on this issue?
Is there a workaround so far?

[2019-10-05 18:45] karthick-manoharan opened #33017 "Docs: klass should be renamed as class in NgStyle docs"
# 📚 Docs or angular.io bug report

### Description

 Under the @Input property description for ngStyle `class` is named as `klass` for the type definition.
```ngStyle: { [klass: string]: any; }```

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.io/api/common/NgStyle#properties

### Expected vs Actual Behavior**

`klass` should be renamed to `class`
```ngStyle: { [class:

[2019-10-05 18:57] #33017 closed

[2019-10-05 20:30] djleonskennedy commented on #32852
@bufke thank you for answer, could be related https://github.com/angular/angular/issues/17957

[2019-10-06 01:03] Splaktar commented on #32913
The title is misleading. This is really about the upgrade to Angular `9.0.0-next.x` and not Ivy specifically. The schematic that is throwing this error can be found [here](https://github.com/angular/angular/tree/master/packages/core/schematics/migrations/undecorated-classes-with-di). That said, the schematic is making updates to application code to be compatible with Ivy.

It would be helpful (to

[2019-10-06 01:38] Splaktar commented on #32913
I don't believe that `includePaths` is the cause of this issue.

Since no reproduction was provided for this issue, I'll provide mine here.

## Steps to reproduce
1. Clone the repo and switch to this branch: https://github.com/angular/material.angular.io/tree/stackblitz-ivy
1. Run `ng update --next @angular/cli @angular/core @angular/material @angular/material-experimental @angular/cdk-experimenta

[2019-10-06 09:56] hidemo commented on #32802
I got this error and fixed by the code sentence I catch error if you call another received function something like get{...},**(err => {})** after **then** {brackets}

[2019-10-06 10:29] gkalpak commented on #32770
It is probably me, but I am still not 100% clear on what is happening.

Focusing on `index.html` and an asset (say a `foo.png` image), which of the following are true:

a. The content of `index.html` has changed between versions.
b. The correct, updated content for `index.html` is served by the SW after the update.
c. `index.html` is served by the SW with incorrect CSP headers after the update.
d.

[2019-10-06 12:45] devversion commented on #32913
This is actually solved by https://github.com/angular/angular/commit/6f5f481fdae03f1d8db36284b64c7b82d9519d85. It's not yet released, but will be soon as part of the upcoming `next` version.

Please open up a new issue if you still see issues in the upcoming _next_ version (e.g. `9.0.0-next.10`). Also these issues should be submitted on the `angular/angular` repository as the migration code is the

[2019-10-06 12:45] #32913 closed

[2019-10-06 13:54] chjoslyn commented on #33014
Thank you!

Sent from Mail for Windows 10

From: Lazar Ljubenović
Sent: Saturday, October 5, 2019 12:10 AM
To: angular/angular
Cc: chjoslyn; Author
Subject: Re: [angular/angular] Getting Started Tutorial: Unable to createproduct alert component using Angular Generator (#33014)

This is a StackBlitz issue, not Angular. https://github.com/stackblitz/core
—
You are receiving this because you authored

[2019-10-06 15:00] petebacondarwin commented on #31494
@sjtrimble - do you have an update on this?

[2019-10-06 15:10] cbrandt713 commented on #32770
In my case, A and B are true.
Everything appears to be working at surface level. The new index.html is served properly and cached. But when the browser throws an error for violation of CSP, it shows the value as the OLD CSP value, which hints that the SW somehow cached the old value for the CSP, even though the new updated index.html file now has a new CSP and it shows properly in DevTools.
It alm

[2019-10-06 15:26] hematy61 commented on #33001
@lazarljubenovic well, I'm a big fan of + sign now :100: . and nobody can say that they're master in a language (at least this is what I think). using the + sign is redundant here as JS arrays are gonna coerce their indexes into String. therefor there isn't any difference between arr["2"] and arr[2].

[2019-10-06 16:08] bufke commented on #32852
`relativeLinkResolution: 'corrected'` does not change the results.

[2019-10-06 16:21] aguskianto commented on #32313
Sorry for asking, I face the same issue. When I do ng serve, everything works fine, but when I do ng build --prod. The same issue occurs.

How to initialize a form group? Is there any sample code?

[2019-10-06 17:25] Airblader commented on #33001
In JavaScript, maybe, but in TypeScript with `--noImplicitAny` this is a type error.

[2019-10-06 17:46] Splaktar commented on #32913
Related PR https://github.com/angular/angular/pull/32953. Thank you @devversion!

[2019-10-06 18:00] sharikovvladislav commented on #21706
Hi

[This](https://github.com/angular/angular/blob/master/packages/core/src/render3/STATUS.md) page represents ivy status. Feature `<div [attr.value]="exp">` is marked as red cross at "Compiler" column?

I want to try ivy in a big project and I want to firstly understand in what troubles I can get. At the moment, only this point might influence us (we use such bindings in the code).

I set up a si

[2019-10-06 18:11] BeSpunky commented on #18634
LayZeeDK is right. Also, what if I'm handling route changes from an outside module?
I don't have access to the `<router-outlet>` element.

It would be very useful to simply subscribe to the `NavigationEnd` event and extract it from `ActivatedRoute` or one of its children.

[2019-10-06 18:12] theodorejb commented on #21706
@sharikovvladislav I'm guessing it means that the Ivy status document hasn't been kept up to date. Based on the history none of the feature statuses have changed since last November - almost a year ago.

[2019-10-06 18:22] sharikovvladislav commented on #21706
@theodorejb thank you for the answer.

Do you know where I can get the actual status of the ivy support?

I really want to try the ivy in our application. Huge hybrid app (Angular + AngularJS). I am trying to predict in what troubles I can fall :)

[2019-10-06 18:33] douglasward commented on #21706
I think this website has a fairly accurate current status: https://is-angular-ivy-ready.firebaseapp.com/#/status

[2019-10-06 18:42] alfaproject commented on #21706
@sharikovvladislav it should be fairly safe and the team is gathering feedback: https://blog.angular.io/its-time-for-the-compatibility-opt-in-preview-of-ivy-38f3542a282f

[2019-10-06 18:43] theodorejb commented on #21706
@sharikovvladislav See Igor's talk at AngularConnect for the latest status update: https://youtu.be/6Zfk0OcFGn4?t=2206. The plan is to enable Ivy by default for all apps in Angular 9.

[2019-10-06 18:51] naveedahmed1 commented on #21706
We are using Angular IVY without any issue. I believe both pages contain old data:

https://is-angular-ivy-ready.firebaseapp.com/#/status
https://github.com/angular/angular/blob/master/packages/core/src/render3/STATUS.md

We also use `[attr.value]` in our app and it's working fine.

If your app is using Lazy Loading, make sure you are using `Dynamic import()`.

If you are using third party plugins

[2019-10-06 18:55] jorgellose commented on #21706
you see any difference in terms of speed or weight? 2 years waiting +-

[2019-10-06 18:59] naveedahmed1 commented on #21706
Yes, its fast, takes less memory and produces much smaller bundles.

[2019-10-06 19:22] hematy61 commented on #33001
well I'm new to TS, and you must be right. however I removed the plus sign on StackBlitz and the component still working. any idea why?

[2019-10-07 04:46] AndrewKushnir commented on #32293
Hi @naveedahmed1,

Thank you for reporting the issue.

We've released a few changes/fixes to the styling logic between version 9.0.0-next.2 and 9.0.0-next.9. I tried to reproduce a similar issue with the most recent v9 version (9.0.0-next.9), but was unable to do that - the logic worked as expected. Could you please try to reproduce the issue with Angular 9.0.0-next.9 and let us know if the proble

[2019-10-07 05:14] sharikovvladislav commented on #21706
Thank you for the answers

@douglasduteil
looks like this page is absolutely same

@alfaproject Yeah, I saw this blog post too. Thank you for the link.

@theodorejb I was watching it, when you wrote your message. It is a bit long, so I didn't watch part you mentioned. I will do it today. Thanks.

@naveedahmed1 Cool! I am going to try the ivy today.

[2019-10-07 05:24] lacolaco opened #33021 "Add `Location.urlChanges` as Observable<{url, state}>"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/common

### Description

Currently, `Location` class exposes `onUrlChange` event listener. To get URL changes as `Observable`, we have to create own wrapper service. And this is a common use case; to reflect URL to title, meta data, or etc...

`Router.events` is like this but URL change event doesn't depend on Router.

[2019-10-07 06:08] Airblader commented on #33021
The workaround can be written in a more compact way as*

[code]

Overall I think Angular shouldn't expose the same thing in many different ways as that muddies the API surface, so either it should stay with the current form (that workaround isn't really problematic in any way) or it should be a breaking change (IMHO).

<sub>*) Untested, perhaps it has to be wrapped in an anonymous function to igno

[2019-10-07 07:05] jscharett commented on #19445
Just ran into this myself, and I was able to resolve it by using `:host-context()`, but not ideal imo; prefer `:host > :host` to work as expected.  Try doing:

[code]

[2019-10-07 07:27] abadakhshan commented on #32765
@JoostK
Thank you for your comment.
I read it but I could not  understand what real problem is.

After many attempts I cloud find that if I remove any dependencies to "narik-ui-material" (one of my dependencies) this error disappears!

There are four positions that this dependency is used.

1- https://github.com/abadakhshan/testNarikIvy/blob/master/src/app/modules/share/share.module.ts#L34

`Narik

[2019-10-07 08:13] petebacondarwin opened #33022 "Remove support for Safari 10.1 in the Sanitizer"
See https://github.com/angular/angular/pull/27084

[2019-10-07 09:36] gkalpak commented on #32770
Thx for the extra info, @cbrandt713. I cannot understand how what you describe (if I understand it correctly) could happen (i.e. that the SW downloads the new `index.html`, but somehow keeps the old headers). I'm afraid we can't do much without a reproduction 😞

[2019-10-07 10:02] fkolar opened #33023 "IVY Problem - ngModel not working properly"
# 🐞 Bug report

### Command (mark with an `x`)

[code]

### Is this a regression?
YES

### Description

After migrating to IVY some of the component stopped working or have weird behavior. where we get `ngModel' since it isn't a known property of 'fd-time-picker`

Normally you make sure that you have imported corect Module but this is not the case as when turning IVY off it works.

What is strage,

[2019-10-07 10:03] jrelink opened #33024 "Injector in Dynamic Component Loader doesn't respect Interface"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/core

### Is this a regression?
No. I detected this bug in angular 7.2.15, but it is still present.

### Description
The implementation of Injector used in Dynamic Component Loader doesn't respect de the new interface of Injector.

This cause the imposibility of use flags in retrieving an instance from the injector.

You

[2019-10-07 10:14] trotyl commented on #33023
Please check Ivy issue in `@next` version rather than `@latest`.

[2019-10-07 10:15] trotyl commented on #33024
Duplicate of https://github.com/angular/angular/issues/31776

[2019-10-07 10:36] JKMarkowski commented on #33023
Hi @trotyl, in the `next` version it works ok.

[2019-10-07 11:02] arunkumarpal161 commented on #14041
@tcoz We are also facing same issue in IE with version 11. We have also tried with all steps that you have mentioned as above. Our application is not big application ,it is simple 5-6 pages and still working very slow. We have also checked with server as well as local and sometime it's getting hangs the browsers.  We are getting error "IE is not responding due to long run  script". We are using th

[2019-10-07 14:05] lukepierotti commented on #33004
Having the same issue after running the `ng update @angular/cli @angular/core` command. My package.json now has `@angular/compiler-cli: ~9.0.0-next.9`.

@JoostK What is the correct version that should be installed for the `@angular/compiler-cli` package?

[2019-10-07 15:04] cbrandt713 commented on #32770
Upon some further investigating I'm thinking the issue is caused by the issue in my debug log, and perhaps OP is having a similar issue. The debug log is claiming that it keeps getting the wrong hash for the index.html file, which might be a version of the file with the wrong CSP. Here is my debug log if it proves useful.

Driver state: EXISTING_CLIENTS_ONLY (Degraded due to failed initialization:

[2019-10-07 15:10] felikf opened #33028 "Type 'SafeHtml' is not assignable to type 'string'"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/platform-browser

### Is this a regression?
This is kind of regression - please see description bellow.

### Description

I am getting **Typescript error** after switching to *Ivy compiler*:

[code]

In Angular class there is a member property declared as `SafeHtml`:

[code]

My issue is how to convert `SafeHtml` and `Saf

[2019-10-07 15:22] JoostK commented on #33028
@felikf Thanks for reporting, that's an interesting and valid case we didn't consider for the template type checker!

[2019-10-07 15:25] JoostK commented on #33004
@lukepierotti It should be equal to what's shown here:

[code]

In fact, if `@angular/compiler-cli` were to have the same version it would be moved from the table at the bottom into the list shown above.

As a workaround, you should be able to align the version of `@angular/compiler-cli` in the `devDependencies` with the other Angular framework packages (the version `8.2.9` as shown in the snippet

[2019-10-07 15:40] JoostK commented on #32765
Hi @abadakhshan,

I forgot to mention the cause of the error in your application. In reality, it's not the application that fails to build, but rather the Narik library itself. The failure is due to this pattern:

https://github.com/NarikMe/narik-angular/blob/467bacc34f7b9b8c1f00a8ff91ea031efb414a16/projects/narik-ui-material/src/lib/narik-mat-auto-complete/narik-mat-auto-complete.component.ts#L35

[2019-10-07 16:17] douglasward commented on #32573
I am also getting this error
[code]
[code]

I changed from `@import '~@angular/material/theming';` to a relative import and tried with `_theming` but still no luck.

[2019-10-07 16:45] kukjevov opened #33030 "BUG: IVY ViewContainerRef does not remove item with animation (Route)"
# 🐞 bug report

### Affected Package
`@angular/core`
`@angular/common`
`@angular/animations`
`@angular/router`

Probably one of these

### Is this a regression?
I am not sure, but i think it was working without IVY, so it is possible that it is regression.

### Description

When you have route with animation (little complex animation) on component which is routet, after changing route, new compone

[2019-10-07 17:51] #18985 closed

[2019-10-07 17:51] #25186 closed

[2019-10-07 17:51] #29802 closed

[2019-10-07 17:51] #32794 closed

[2019-10-07 18:00] #32984 closed

[2019-10-07 18:00] #32436 closed

[2019-10-07 18:05] kapunahelewong commented on #32629
Thank you, @Orodan and @carlin-q-scott.

Of related interest, I have a PR regarding the steps in the Deployment section of the Getting Started, that I think will clarify, [32888](https://github.com/angular/angular/pull/32888) (btw, I have some updates still to do to it, but you can see the overall direction).

There's also this that was recently merged [32969](https://github.com/angular/angular/pu

[2019-10-07 18:09] RoninKK opened #33031 "Angular.io documentation not loading in Edge 42.X"
# 📚 Docs or angular.io bug report

### Description
Getting " Error preparing document 'tutorial/toh-pt0':
TypeError: Object doesn't support property or method 'Symbol.iterator'"
When loading most of the pages on the Angular.io website in Microsoft Edge 42.x

Seeing a blank page when navigating to webpages on Angular.io, i.e.
https://angular.io/tutorial/toh-pt1
https://angular.io/tutorial/toh-pt2

[2019-10-07 19:02] Odonno commented on #16982
Yes, that's a really good question. And that could obvisouly lead to serious breaking changes. I have some ideas about that:

1. Make the `*ngIf` condition mandatory if the Observable is not initialized at the start of the component, meaning has no `startWith` or is not a `BehaviorSubject`.
2. In that case where the Observable has no value, either throw an error (no value provided for the template

[2019-10-07 19:20] kapunahelewong commented on #32524
Ah, thank you very much @Orodan. 😊I think I'm ok, as I have some new steps I haven't pushed up yet that I am going to test locally tomorrow. Maybe if I run into a snag I can tag you? 🙈🙂

[2019-10-07 19:28] ChrisOrtiz3817 commented on #29220
I resolved it this way.

went to
node_modules\@angular\compiler-cli\index.d.ts

Contents

Commented out the ngtools_internalApi_ng_2 export

I also had some other error with 'path' not being found, you might not have this, but I fixed that with
` npm install path`

After making these changes I can compile with ease.

For me this started when I tried to (without experience I may add) run some --pro

[2019-10-07 19:34] vladimiry commented on #29220
You could simply enable the `skipLibCheck` typescript compilation option as noted in the original message.

[2019-10-07 19:47] ChrisOrtiz3817 commented on #29220
Apparently I have a knack for doing stuff the hard way.

 I sort of fixed this way before I really looked into this page/bug lol.

[2019-10-07 19:48] felikf commented on #33028
I would like to mention another possible issue, that I encountered (I may open another bug if you wish).

I have an abstract class with a setter and getter that serves as base class for other components.

[code]

Then there is an Angular component that extends base class and uses getter from abstract class.

[code]

I get an error:

[code]

Reproducible in same repo.

[2019-10-07 20:04] JoostK commented on #33028
@felikf thanks, that one is known. You can find more info in #30080.

[2019-10-07 20:05] Orodan commented on #32524
@kapunahelewong sure, I'll be happy to help :)

[2019-10-07 20:19] a88zach commented on #27148
IMO, the developer defined state that gets added to the NavigationExtras should also be passed through when returning a UrlTree.  Otherwise this additional information gets lost during the redirect

[2019-10-07 20:23] sharikovvladislav commented on #30080
@JoostK

What about abstract classes of directives/components?

If we add the decorator like Component/Directive, we have to add that entity to the declarations array of some module. We are not able to add abstract class to the declarations array, since constructor of the abstract class can not be executed. We will get following error:

How this case will be handled when you force Directive on any

[2019-10-07 20:33] JoostK commented on #30080
@sharathgeorgem The rules for an `@Directive()` without selector are a little different to regular directives. Concretely, they are required *not* to be present in an the `declarations` array of an NgModule.

[2019-10-07 20:38] kemsky commented on #30080
well, all this stuff with `@Directive()` this is completely confusing.

[2019-10-07 20:40] vladimiry commented on #30080
@JoostK is not putting `@Directive()` on parent class a temporary workaround (not working for me anyway)? I don't want to believe it's going to be a final solution, would prefer it to be at least re-named to something like @ParentClass() so it's not confusing and serves a single need.

[2019-10-07 22:23] kara commented on #32573
Should be fixed by https://github.com/angular/angular/pull/32953 in next.10

[2019-10-07 22:23] #32573 closed

[2019-10-07 22:30] kara commented on #30080
We are starting to write up migration guides so that the transition is less confusing. See [the guide](https://next.angular.io/guide/migration-undecorated-classes) and specifically [this answer](https://next.angular.io/guide/migration-undecorated-classes#why-is-this-migration-necessary).

[2019-10-07 22:49] StephenFluin commented on #32629
The StackBlitz team is planning to use the real CLI to generate the project files (package.json, etc) in the future, so while I know this doesn't fix this in the short term, this is the right fix.

When it comes to security errors, almost all of these are irrelevant for Angular users as they are in the CLI dependency chain, which is not shared/shipped to users.

If there was a short term fix, it w

[2019-10-07 22:58] dody87 commented on #24414
It works, when you remove injectable decorator, then your abstract/generic class compiled successfully. Thanks.

[2019-10-08 01:02] AndrewKushnir commented on #33024
@jrelink thanks for creating a ticket. As @trotyl mentioned, it looks like a duplicate of existing issue #31776. I'm closing this ticket, please subscribe to receive further updates in #31776. Thank you.

[2019-10-08 01:02] #33024 closed

[2019-10-08 01:05] AndrewKushnir commented on #33023
@fkolar could you please confirm if the issue is resolved with the most recent @next version (if so, we'll close the ticket)? Thank you.

[2019-10-08 01:43] TunMyintThein1995 opened #33032 "Angular Responsive Navbar"
/*** HTML ***/
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"
    [ngClass]="{hidden: !(isHandset | async)!.matches}"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
      <mat-toolbar color="primary">
        <button

[2019-10-08 01:49] kuncevic commented on #21706
FYI this page using https://github.com/angular/angular/blob/master/packages/core/src/render3/STATUS.md as a source

[2019-10-08 02:28] james-schwartzkopf commented on #32051
The async pipe returns null because it has to return something until the subscribe gives it an initial value (there is actually no such thing as truly async pipe, it just fakes it by returning null till it gets a real value).  Like I said in the OP, some observables will callback as soon as you call subscribe (e.g. ngrx/store selectors), but others will not (e.g. HttpClient).  Unfortunately there

[2019-10-08 03:54] santoshyadav198613 commented on #33032
Hi looks like you are getting some problem with the code, raise it on Stackoverflow. We don't take support issues here.

[2019-10-08 03:56] ming-hermawan opened #33033 "HttpHeaders set/append not working."
Refer to 'https://angular.io/api/common/http/HttpHeaders', I try to set/append header for my post html.

My code is like:
const header = new HttpHeaders();
header.set(...); // still no headers in header.
header.append(...); // still no headers in header.

I check the header variable and still no headers inside.
Please fix it Angular team, because I'm really sure it's bugs.

I create a new issue be

[2019-10-08 05:13] Airblader commented on #33033
You might be sure, but you would be wrong. HttpHeaders is immutable, those methods always return a new copy with the added headers, they don't mutate the instance on which they are called.

[2019-10-08 06:03] fkolar commented on #33023
As @JKMarkowski  confirmed it does work in version @next ( 9.0.0-next.8)

[2019-10-08 06:08] sharikovvladislav commented on #30080
@kara
1 Should base classes be added to declarations array of any NgModule?
At the moment, we are getting the "Component is not declared in any Angular module" error.

2 What about the inheritance from abstract classes?
If you add the decorator to any class/directive, you will have to put it into the declarations array of some module. Abstract classes can not be added to any module declarations ar

[2019-10-08 06:15] pkozlowski-opensource commented on #30080
No.

Are you on the latest `@next` version? Even if you are there is still a problem where we try to resolve / inject dependencies for abstract classes (this is being fixed).

In short: the general idea is that abstract classes will _not_ be added to any `NgModule`

[2019-10-08 06:15] pkozlowski-opensource commented on #33023
OK, we can close this one then!

[2019-10-08 06:15] #33023 closed

[2019-10-08 06:16] trotyl commented on #30080
@kara

Your suggestion helps with the condition where **base class has no decorator (or `@Injectable()`) and derived class has `@Directive()`**, but what about the reverse scenario, where **base class has `@Directive()` and derived class has no decorator (or `@Injectable()`)**?

For example:

[code]

In this case I may expect `Bar` to simply share the selector of `Foo`, without knowing what it is.

[2019-10-08 06:17] pkozlowski-opensource commented on #33032
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-10-08 06:17] #33032 closed

[2019-10-08 06:20] dannyskoog commented on #30080
For me the biggest issue atm is the fact that @Inputs aren't able to be inherited from a base class with Ivy enabled (even though it's decorated with @Directive). This is either a defect (I hope :)) or a breaking change

[2019-10-08 06:23] fkolar commented on #33023
Does it mean we are not goign to fix this in the version 8. @pkozlowski-opensource ?

The problem is still there ? We cannot close this!

You have documentataion about this in Angular 8.
https://angular.io/guide/ivy.

Why would you guide users to opt-in IVY and letting them to jump into something that has problems.

[2019-10-08 06:26] pkozlowski-opensource commented on #33023
Yep, sorry, the fix will be available only in version 9.

[2019-10-08 06:28] fkolar commented on #33023
Maybe we should update documentation?

[2019-10-08 06:43] felikf commented on #29363
I hit same issue and helped to remove `include` and `files`:

tsconfig.app.json:

[code]

tsconfig.json:

[code]

[2019-10-08 06:46] JoostK commented on #30080
@dannyskoog It's a defect, definitely. I recently found out that there's indeed a bug even when `@Directive()` is used without a selector, so that's something that needs to be fixed.

[2019-10-08 06:52] dannyskoog commented on #30080
Thanks for re-confirming @JoostK. I just wanted to point that out in order for that specific issue not to end up in the shadow of all other base class related matters

[2019-10-08 06:58] amhtech commented on #32802
@SlyverGR Exact same problem I am also facing, May I know if you have found a valid fix for this?! Thanks!

[2019-10-08 07:09] piernik commented on #10887
I need `pendingCahnges` event. In my case I'm disabling submit button when form is pending (checking for validality) but with `ChangeDetection` set to `OnPush` I cannot `markForCheck` when pending changes and therefor submitt button stays disabled   :/

[2019-10-08 07:22] abadakhshan commented on #32765
@JoostK
I very much appreciate your help with this matter.

But what is the best solution in this situation?
I use these arrays in many libraries. and I will be forced to copy them in each of them.

[2019-10-08 07:41] Bidthedog commented on #13461
"Reactive Forms" are meant to be for the complicated, highly customised use-cases... such as being able to completely control your validation ;)

[2019-10-08 07:52] msio opened #33034 "named router-outlet doesn't display in child route (lazy loaded)"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/router

### Is this a regression?
not sure

### Description
I want to display content of named router-outlet in a child. Every module is lazy loaded but I tried to do it without lazy loading and it behaves the same.

## 🔬 Minimal Reproduction

There are 2 routes + one named route:
/people1
/people2
/people1/(part2:p2)
 -

[2019-10-08 07:58] lazarljubenovic commented on #13461
You can completely control it. You just need to properly determine WHAT you're validating: a group or a control.

[2019-10-08 08:15] klemenoslaj commented on #32051
That makes sense, but maybe returning `undefined` instead would be more natural. Mostly speculating here.

[2019-10-08 08:31] djleonskennedy commented on #33033
@ming-hermawan from angular docs

![image](https://user-images.githubusercontent.com/8366455/66379975-2b89fe80-e9bf-11e9-8706-5776ef7fe1c9.png)

[2019-10-08 08:43] amhtech commented on #32802
@codesandnotes Thanks! it worked.

[2019-10-08 08:44] amhtech commented on #32802
@SlyverGR Thanks, workaround solution solved the issue, saved a lot of time.

[2019-10-08 09:18] FDIM commented on #26744
Apparently we also need this feature. Default enabled strategy works for 95% of the cases and it is great!
On the flip side we have a single page where we load more items on scroll, and when new item covers most screen estate we update the url to reflect that - now in this case we do not want router to affect scroll position and would like to have a way to prevent it. I thought that replaceUrl: tr

[2019-10-08 09:39] LexLuengas commented on #23279
As @marikt pointed out in this [StackOverflow answer](https://stackoverflow.com/a/42541778/1406725), you can pass providers to the `platformBrowserDynamic` function to avoid the global property hack:

[code]

Afterwards `AppConfiguarion` can be injected anywhere within the bootstrapped app module.

[2019-10-08 09:53] gkalpak commented on #32770
Aha! That is a totally different issue then. It is expected that the SW does not install the update (with the updated CSP headers), if it gets a hash-mismatch.

You need to figure out what the difference is between the built file (based on which the expected hash is computed) and the file that is actually served from the server. Often it is the server or some proxy (or even an FTP client) normaliz

[2019-10-08 11:05] pshurygin opened #33035 "[Ivy] NgClass adding incorrect classes on subsequent CD runs"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/common or @angular/core

### Is this a regression?
Yes, it works correctly with VE

### Description

I have encountered a weird issue with NgClass directive when testing Ivy update. I have a template like this:

[code]

"isDisabled" variable is defined in the component and always equals boolean false in this particular ca

[2019-10-08 11:55] cbrandt713 commented on #32770
Thank you, could Git normalizing CRLF to LF be the culprit potentially?

[2019-10-08 12:12] JoostK commented on #33033
I would vote to actually improve the documentation for this class. Methods like `append` only briefly say it returns a clone in the return type description, whereas the main docblock does not mention anything about this behavior.

[2019-10-08 12:12] rahimalizada commented on #32770
Reproduction on firebase hosting:

[code]
When served locally `ng serve ` the image is displayed under the text.

`firebase init ... `

firebase.json:
[code]

[code]

Console log in chrome: `Chrome: Refused to load the image 'https://picsum.photos/800/600' because it violates the following Content Security Policy directive: "img-src 'self'".`
In ff: `Content Security Policy: The page’s settings bl

[2019-10-08 12:13] JoostK commented on #33033
@kapunahelewong Do you know of anyone who could be interested in taking on the documentation improvement?

[2019-10-08 12:24] Karasuni commented on #21706
And that page hasn't been updated since May! Is there any good overview left on the progress of Ivy and the release of angular 9?

[2019-10-08 12:59] jkyoutsey commented on #32496
@Splaktar these are probably related, but this does not appear to be a material issue. I hit this error on non-material components. I imagine the underlying source of the problem is the same though.

[2019-10-08 14:09] makkgregory opened #33036 "Factory providers return undefined in AOT mode"
# 🐞 bug report

### Affected Package

Probably `@angular/compiler`

### Description

`useFactory` function is not called and `undefined` value injected instead when compiled in AOT mode.

## 🔬 Minimal Reproduction
<pre><code>
git clone https://github.com/makkgregory/factory-provider-issue.git
cd factory-provider-issue
npm install
npm run ng -- serve --aot
</code></pre>

Open `localhost:4200`,  the

[2019-10-08 14:13] Kappyh opened #33037 "ExpressionChangedAfterItHasBeenCheckedError with Interceptor and component interaction(Angular 8)"
### Bug Report

### Affected Package
"@angular/core": "8.2.5"
"@angular/common": "8.2.5"

### Description

I'm facing some common issue on Angular template, I have this general template for all my pages and inside of it I have a *ngIf with a spinner inside and another one with my router-outlet.
The interceptor controlls the behavior and visibility of the spinner, so with that comes the error, in a

[2019-10-08 14:18] BeatriceThalo commented on #32802
@jeremyclark's workaround fixes the incompatible receiver error for me in chrome stable 76/stable 77/beta 78/dev 79, but when testing through browserstack on dev chrome v79 (future proof testing) my ionic project prints to the client console "Dev server logger closed   ion-dev.js?v=3.2.4:121" which is in a socket onclose function. I suppose removing the workaround once chrome desktop stable is rel

[2019-10-08 14:43] etay2000 commented on #7289
Wow another common use case issue lingering since 2016. Perhaps my open source software expectations are too high?

[2019-10-08 15:05] santhony7 commented on #30835
Out of curiosity, for those of you who are changing the target to es5, are you not supporting IE11 at all? The target change fixed the issue with modern browsers for me but now IE11 is erroring on arrow functions.

[2019-10-08 15:24] kapunahelewong commented on #33033
Hey, @jbogarthyde, would you like to take this?

[2019-10-08 15:33] dannyskoog commented on #33037
This is not a bug. It’s just Angular’s way of informing you that you one of the values changed between the start and end of a particular change detection run.

I have to look into your blitz in more detail to tell you exactly why

[2019-10-08 16:24] KevinGuancheDarias commented on #14323
The problem still exists in Angular 8

I'm using the NPM package `ts-mixer` to apply mixings, but on aot compilations it tails

[code]

[code]

[2019-10-08 16:39] Kappyh commented on #33037
Oh I see, sorry.

[2019-10-08 16:48] dannyskoog commented on #33037
No problem @Kappyh! One can’t know everything, right? :)

I would recommend posting this on StackOverflow instead since we concluded that this is more of a support issue

[2019-10-08 16:57] Kappyh commented on #33037
Solved on Stackoverflow.
[https://stackoverflow.com/questions/58276430/expressionchangedafterithasbeencheckederror-on-angular-8-and-method-called-on-ng](https://stackoverflow.com/questions/58276430/expressionchangedafterithasbeencheckederror-on-angular-8-and-method-called-on-ng)

[2019-10-08 16:57] #33037 closed

[2019-10-08 17:30] sharikovvladislav commented on #21706
I am trying to add Ivy support to our project. At some moment I received an error. I am not sure it is correct usage of Angular Pipes, so I don't want to create a new issue.

General idea: in the code we used Pipes (one of them is DatePipe from `@angular/common`) in DI (like in services, components or another pipes). The problem appeared, when the Pipe uses DI to get something from an Injector.

B

[2019-10-08 17:37] gkalpak commented on #32770
@cbrandt713: Gzipping doesn't affect the content (so, no) and git normalizing could only be the culprit if you build the app before normalizing and then serve the normalized content from the server (so it depends on your setup - but it's possible).

[2019-10-08 17:59] kara commented on #30080
@trotyl In that case, you would have to copy over the decorator (that's what the schematic does for you automatically). It is slightly more boilerplate, but it's more explicit, so it's easier for anyone to look at the directive and figure out what its selector is without having to drill down the inheritance tree. You do have to know what the selector is, though. It could be an argument for another

[2019-10-08 18:02] gkalpak commented on #32770
@rahimalizada: Thx for the detailed reproduction instructions and the videos 💯

It seems that you are setting an incorrect value for the `img-src` directive value. This is also indicated by the error in your console:

Basically, values like `self` are special and should be wrapped in quotes (`'`), but you **should not** wrap other sources (such as `https://picsum.photos`) in quotes. This causes th

[2019-10-08 18:07] lucasbasquerotto commented on #21706
@sharikovvladislav From what I see you are including your pipe in the providers array of `AppModule` and injecting the pipe itself as a service in the `AppComponent`.

Angular components (and I think pipes too) are `@Injectable()`, so you should be able to inject them, and I don't know if Ivy broke some behaviour that worked before, but I think this is a weird way of using pipes (you would use ser

[2019-10-08 18:27] bradtaniguchi commented on #21706
@lucasbasquerotto I would hope there would still a way to access the `transform` method of all existing pipes via DI, otherwise I think I would consider this a bug, or at least a breaking change. One that would really mess up how we handle displaying in our apps 😢

[2019-10-08 18:36] rahimalizada commented on #32770
@gkalpak  yes, thank you for pointing that out. The issue also persists with properly formed CSP header. Additionally SW gives 504 Gateway timeout and only hard reset fixes the issue.

[With restricting CSP](https://youtu.be/Ig55DWnJjJY)
[With allowing CSP](https://youtu.be/JxgTkVyxr-8)
[Hard reset](https://youtu.be/liogMn-SSk4)

[2019-10-08 18:50] garrettld commented on #21706
If you dig around in the Ivy changes you can find this: https://github.com/angular/angular/pull/32184. My (limited) understanding is that Ivy did not initially support injecting things that didn't have an @Injectable() decorator, so a migration was created that would automatically add it to things like pipes.

This was disabled and eventually removed (in the PR linked above) because "planned chang

[2019-10-08 19:06] filipesilva opened #33042 "Add documentation for PR authors on how to use fixup commits"
PRs in this repository are merged using a script that supports `fixup` commits. Good usage of `fixup` commits in a PR makes reviewers lives easier by compartimentalizing sets of requested changes in individual commits that will be squashed into a single commit only when the PR is merged.

There should be documentation for contributors on how to avail of this functionality, and how to avoid common

[2019-10-08 19:14] gkalpak commented on #33031
Thx for reporting this issue. However, I am a little confused:

In the description you mention the error `TypeError: Object doesn't support property or method 'forEach'`, but in the **Exception or Error** section you have `TypeError: Object doesn't support property or method 'Symbol.iterator'`.

The first error shouldn't happen, because it has been fixed in 85990c321. The second error is also very

[2019-10-08 19:43] gkalpak commented on #32770
Oh, I see. This isa different issue (which affects ServiceWorkers+CSP in general - not specific to Angular). First of all, the "hard reset" is expected to work, because it basically bypasses the SW. In the "with allowing CSP" video, you can notice that the error message is a little different than before:

Notice that is mentions `default-src` is violated and not `img-src`. This is related to how b

[2019-10-08 19:43] #32770 closed

[2019-10-08 21:39] jcimoch commented on #14988
I just leave this comment as reminder to check in two years if this was fixed.

[2019-10-08 22:12] dannyskoog commented on #33042
Out of curiosity @filipesilva - is it this line that squashes the fixup commits upon PR merge?

https://github.com/angular/angular/blob/master/scripts/github/merge-pr#L198

[2019-10-08 22:19] kara commented on #33035
@pshurygin I can't seem to reproduce the behavior with the code snippet you provided. Can you create a minimal repro in the form of a Github repo or even a Stackblitz (it doesn't support Ivy, but I can port it to a repo that does)?

[2019-10-08 22:19] alxhub commented on #32690
This is https://angular-team.atlassian.net/browse/FW-1606. @JoostK has a fix :)

[2019-10-08 22:25] alxhub commented on #32694
Hello @ovione,

Unfortunately we won't be able to investigate this issue without a minimal reproduction, including the code (preferably a link to a Github repo) which causes the issue.

Thanks,
Alex

[2019-10-08 22:26] kara commented on #32609
@GlauberF Since we still don't have a repro, this issue isn't actionable, so I'm closing it.

That said, are you using flex-layout? My guess is that you ran into this one: https://github.com/angular/angular/issues/31956.  It should be fixed if you upgrade the version of the lib.

[2019-10-08 22:26] #32609 closed

[2019-10-08 22:28] alxhub commented on #32695
We really need a better error case in this situation.

[2019-10-08 22:31] alxhub commented on #32705
I have good news and bad news!

The good news is that this issue _should_ be fixed by Ivy, which doesn't depend on identifying specific Angular decorator declarations.

The bad news is that it's still an unsupported use case - we don't specifically test symlinked or `npm link`ed `node_modules` at all, so you might still run into some turbulence.

[2019-10-08 22:32] alxhub commented on #32717
That's weird. Can you reach out to devrel@angular.io and we can look into your specific application?

Thanks,
Alex

[2019-10-08 22:32] gkalpak commented on #33042
Yes :smiley:

[2019-10-08 22:37] alxhub commented on #32723
This is not an Angular problem, but is related to the bundler seeing two different import paths that _happen to_ resolve to the same file. Thus, you get two distinct copies of the service in your app. This is working as intended. My advice would be to refrain from using any extensions in your import statements.

[2019-10-08 22:37] #32723 closed

[2019-10-08 22:40] alxhub commented on #32759
Closing this as a duplicate of #32695.

[2019-10-08 22:40] #32759 closed

[2019-10-08 22:42] alxhub commented on #32761
Closing as a duplicate of #32695.

[2019-10-08 22:43] #32761 closed

[2019-10-08 22:43] mhevery commented on #31976
resolved in https://github.com/angular/angular/pull/32463

[2019-10-08 22:43] #31976 closed

[2019-10-08 22:45] #32560 closed

[2019-10-08 22:51] kara commented on #32797
I suspect that this is because `MatTagGroup` uses a `ContentChildren` query to access the tabs, and `descendants` defaults to `false`.

One of the [expected breaking changes](https://docs.google.com/document/d/1Dije0AsJ0PxL3NaeNPxpYDeapj30b_QC0xfeIvIIzgg/preview) in Ivy is:

Seems like this is something that needs to be fixed in the Material repo if Material tabs wants to support non-direct descen

[2019-10-08 22:51] mhevery commented on #32693
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-10-08 22:51] #32693 closed

[2019-10-08 22:51] alxhub commented on #32793
Hello @CarstenLeue,

Ivy basically ignores `entryComponents`, correct. However, nothing should interfere with the functioning of your custom decorator, which (I think) should cause the component to be retained. We'd need a reproduction project to investigate further.

Thanks,
Alex.

[2019-10-08 22:52] mhevery commented on #32713
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-10-08 22:52] #32713 closed

[2019-10-08 22:52] mhevery commented on #32744
This issue seems abandoned without any reproducible instruction.  We are closing the issue. If you have reproducible instructions please file a new issue.

[2019-10-08 22:53] mhevery commented on #32744
We need a stackblitz repro

[2019-10-08 22:54] atscott commented on #32799
From the [docs](https://angular.io/api/router/CanActivateChild) for `CanActivateChild`, it appears you should move it to the parent route, ie:
[code]
Changing this in your demo did prevent navigation to page1 so this seems to be working as intended for the way you implemented this, right?

[2019-10-08 22:55] mhevery commented on #32756
Please provide minimal reproduction with exact steps on how to reproduce it. We have limited time and can't go explore your application.

[2019-10-08 22:56] atscott commented on #32819
@el-peregrino can you please provide a stackblitz reproduction of the issue?

[2019-10-08 22:56] alxhub commented on #32828
I think it's definitely related to the compiler's emotional state :)

Luckily in this case the Ivy compiler is much more rational. This shouldn't be a problem.

[2019-10-08 22:58] alxhub commented on #32838
You can't run `ivy-ngcc` and then compile the code with Ivy disabled. Is that what you're trying to do?

[2019-10-08 22:59] mhevery commented on #32950
Would you be willing to do a PR to fix this?

[2019-10-08 22:59] mhevery commented on #32963
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2019-10-08 22:59] #32963 closed

[2019-10-08 23:00] alxhub commented on #32848
I agree :) in Ivy this is even stricter I believe - a component must have its own `@Component` decorator, it can't inherit one from its parent.

[2019-10-08 23:00] #32848 closed

[2019-10-08 23:00] atscott commented on #32113
Hi @glemiere, please see @thefliik's response. If that does not solve your issue, please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template, including a minimal reproduction that demonstrates the error.

[2019-10-08 23:00] #32113 closed

[2019-10-08 23:06] cromefire commented on #32838
No ivy is enabled on the client side and disabled on the server side, that should work right? Or does ivy pollute the dependencies, so that you can't ever compile it without ivy after running ngcc?

[2019-10-08 23:51] fr0 commented on #32756
The error occurs for me under angular `9.0.0-next.5`  (which is what the linked `ivy` branch in the linked repo uses) when I run `ng serve` and launch `http://localhost:4200`.

[2019-10-09 00:00] danteoh opened #33044 "Relative paths do not behave as expected per docs"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/router

### Is this a regression?
I'm not sure, I'm new to Angular

### Description
The relative path support in Angular does not behave as one might expect.  There are scenarios where you want to trigger a navigation because you're using matrix params, but you want to stay on the same route (in my case, persisting in the

[2019-10-09 01:58] fr0 commented on #32756
I verified that the problem still occurs with `9.0.0-next.8`.

[2019-10-09 01:58] compeek commented on #32690
Unfortunately I do not have access to that so I'm not sure what you're referencing. :( However if there's a fix, that's great! Any idea when it will be shipped?

[2019-10-09 01:59] trotyl commented on #7289
@etay2000 It has already been fixed in Ivy for some time, just wan't brought back to view engine.

[2019-10-09 02:07] scottyaslan commented on #13586
You will also need to resync the router:

[code]

Then before returning true, add:

[code]

[2019-10-09 02:44] ming-hermawan commented on #33033
Thanks for the supports everyone.

[2019-10-09 02:44] #33033 closed

[2019-10-09 03:30] postnikovpasha opened #33045 "Why ngsw does not work with websocket?"
I want to cache the data that I receive through the socket, but it seems ngsw is not working correctly with websocket for me.
Why?

ngsw-config.json

[code]

[2019-10-09 04:01] JoostK commented on #32690
@compeek the idea is that we will remove the `Partial` mapped type and instead ensure to generate all possible inputs in the object literal, where any input that is not used is set to `null as any`. This achieves the same goal of allowing not all inputs to be present, without undesirably introducing `undefined` for all inputs.

Expect a PR to be out later this week.

[2019-10-09 04:21] compeek commented on #32690
When you say `any input that is not used is set to null as any`, do you mean that any input not specified in the template will automatically get a value of `null` passed to it? If so, wouldn't they override any default values set on those input properties?

[2019-10-09 04:33] JoostK commented on #32690
Oh these changes will all be in the generated code that's used for type checking, which will never actually execute. The generated code that the compiler generates for runtime execution will not be affected.

[2019-10-09 04:36] compeek commented on #32690
Oh, I see now. Excellent. Thank you for the information! I look forward to this fix coming out in a "next" release.

[2019-10-09 04:48] kumaresan-subramani commented on #30818
Hi @alan-agius4 ,

Can you update on this? still, i am facing this error

[2019-10-09 05:26] etay2000 commented on #7289
Ok thanks, I appreciate the info.

[2019-10-09 06:03] JoostK commented on #30818
@kumaresan-subramani the issue with the type checker has not been resolved yet, as it's quite tricky to deal with properly. We are working on implementing additional `"strict*"` flags so that the type checking can be less strict for the time being, which we hope to land within the coming two weeks.

[2019-10-09 06:06] dannyskoog commented on #33042
Good stuff! :) And I agree on that this particular documentation should be added to the contribution guidelines

[2019-10-09 06:08] kumaresan-subramani commented on #30818
@JoostK , thanks for your reply.

I just want to ensure whether this is fixed or not.

[2019-10-09 06:22] rahulgoyal2987 opened #33047 "Complete screen is broken due to backtick(`) in Custom component"
I have created one custom component. By mistake backtick typed in code due to which complete screen have broken As shown in example below
<ng-select [items]="people$ | async"`
           bindLabel="name"
           autofocus
           bindValue="id"
           [(ngModel)]="selectedPersonId">
</ng-select>
Due to backtick(`) complete screen screen have broken.
Below is the Error message which i am

[2019-10-09 06:24] #33047 closed

[2019-10-09 07:09] sharikovvladislav commented on #21706
@garrettld thank you for this research

@devversion
@kara

and @Pipe also have a factory definition that is picked up by the injector, this
migration is no longer needed for Ivy (FW-1468)

So, will using Pipes or Components in DI will be planned and normal usage of pipes in some future?

[2019-10-09 07:16] pshurygin commented on #33035
@kara The app itself is rather complex. I have tried to narrow down the issue, but stumbled upon another error, which could be the root cause(or it could be not).

The app itself is a renderer for a website based on the json configuration. It consists of widget-lists, which contain widgets. Some of the widgets may contain widget-list of its own with nested widgets inside. So we have a nested recur

[2019-10-09 07:51] sertal70 commented on #32802
I run in this error on my Ionic 3 project, thanks @jeremyclark for the workaround, it worked fine.

@BeatriceThalo did you get the error in v78 beta also? I'm asking because the closing comment in [chromium issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1008376) states that the issue will be fixed in v78.

[2019-10-09 08:33] pshurygin commented on #33035
I will probably try to make a separate repo with this new error later today.

[2019-10-09 09:22] shankarajabe commented on #32547
Same problem

ERROR in Failed to list lazy routes: Unknown module '/angular8-new/web-v4/src/app/app.module#AppModule'.
** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
ℹ ｢wdm｣: Failed to compile.

[2019-10-09 10:06] CarstenLeue commented on #32793
@alxhub this interferes with the decorator, because the decorator is executed at runtime. If the component is not contained at all in the final bundle (because of tree shaking) then the decorator will never be invoked.
Pre-ivy I could guarantee that the component is contained by adding it to `entryComponents`. With ivy - as you write - `entryComponents` are ignored, so my component gets tree shake

[2019-10-09 10:29] shomid opened #33048 "angular 8 universal with Ivy"
I have a project with angular(v8.2.9) universal(v8.1.1) and Ivy.
I builing and run server side with below command.

    npm run build:ssr && npm run serve:ssr

build and run successfully but when enter `localhost:4000` in browser show white page without error in console and server.
when enter `localhost:4000/index.html` site loading successfully and work correctly.
why should add `index.html` in u

[2019-10-09 10:33] gkalpak commented on #33045
ServiceWorker cannot intercept WebSocket traffic, so it is not possible to neither cache nor respond to WebSocket requests.

[2019-10-09 10:33] #33045 closed

[2019-10-09 10:35] vascofernandes commented on #30512
The issue is still present in Angular 9.0.0-next.9 with Ivy enabled

[2019-10-09 11:13] vdumbrav commented on #30512
@vascofernandes No, this issues is fixed, please recheck my reproduction repo https://github.com/vdumbrav/angular-ivy-ngx-charts

[2019-10-09 11:15] 029shailesh opened #33050 "IE 11, Multiple definitions, common.js -> vendor.js"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

IE 11
SCRIPT1046: Multiple definitions of a property not allowed in strict mode
vendor.js (1150,192)

located in:
\node_modules\@angular\common\__ivy_ngcc__\fesm2015\common.js
at line 1799
and
\node_modules\@angular\common\__ivy_ngcc__\fesm5\common.js
at line 1020
pathname: []
is reapeated two times

Thank you!

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2019-10-09 11:17] gkalpak opened #33051 "refactor(docs-infra): remove template type-checking work-around for `*ngFor`"
Before #31371, the `ngFor` typing issue could be worked around by using the non-null assertion operator (`!`) in templates:

[code]

Once #31371 is released (i.e. in v9.0.0-next.10 or v9.0.0-rc.0), we should update angular.io and remove such work-arounds (see https://github.com/angular/angular/pull/32980#discussion_r331797547).

[2019-10-09 11:33] troehling opened #33052 "Angular Router URL array parameters doesnt get updated on navigate"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/router

### Is this a regression?

 I dont know if this did work in previous versions

### Description

 Appending items to a URL parameter doesn´t work as expected. The parameter in the URL is an list/ array where items can be added or removed. Before it is possible to write an updated version of the list for append od

[2019-10-09 11:48] santoshyadav198613 commented on #33050
Hi @029shailesh ,

Can UI describe issue in detail, also include GitHub or stackblitz repo to generate the issue. Also issue one of the issue template.

[2019-10-09 12:19] tatsujb commented on #30835
@santhony7 you can technically write es5 code that is compatible for IE11, this though, means 0 lambdas. realistically to much of a hassle to be feasible. For me we have to support Edge still but IE11 was dropped as a target.

[2019-10-09 12:36] BeatriceThalo commented on #32802
@sertal70 With no workaround present, works in 76/78/79 and errors in 77. With workaround present, works in 76/77/78/79.

[2019-10-09 12:37] JiaLiPassion commented on #32802
@BeatriceThalo , thanks for the confirmation.

[2019-10-09 12:43] sertal70 commented on #32802
@BeatriceThalo crystal clear, thanks so much.

[2019-10-09 13:22] ajarudingunga commented on #32853
@FDIM Thanks for response
I have tried with URL-rewrite which is replacing double slashes to single slash and defining multiple routes one with single and one with double so its working.

`const __stripTrailingSlash = (Location as any).stripTrailingSlash;
(Location as any).stripTrailingSlash = function _stripTrailingSlash(url: string): string {
  const queryString$ = url.match(/([^?]*)?(.*)/);
  i

[2019-10-09 13:24] pniv commented on #24069
I also would like to have a public API that exposes LoadedRouterConfig (or at least `LoadedRouterConfig#routes`).

My use case is the following:
`
   {
      path: "some_path",
      loadChildren: "../m1.module#Module1",
      canActivate: [RedirectGuard]
   },
`
I have a route guard  that redirects to a child route based on some criteria (first available child route).
The code is generic. It coll

[2019-10-09 13:33] jonrimmer opened #33055 "Language service does not handle expressions involving generics correctly"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/language-service

### Is this a regression?

No. It was previously raised in #19408 and incorrectly closed.

### Description

Given the following component definition...

[code]

...the values of `value` and `boxedValue.value` are of the same type, but the following template expression produces an error in the editor:

[

[2019-10-09 14:06] DanKing123 opened #33056 "3rdpartylicenses.txt - optional generation, documentation and fitness for purpose"
I think this is a combination of a **bug report**, plus a possible **feature request** and **change to the documentation**.

The issue is around `3rdpartylicenses.txt`, how (and whether) it's generated during a build, and whether it's actually fit for purpose.

By default (at least when you do a production build via `ng build --prod`), all license information from third party JS dependencies is st

[2019-10-09 14:11] FDIM commented on #32853
@ajarudingunga `matcher` is basically a replacement for `path` option in route definition where you get total control.

In regards to double slash, I'd try matcher approach first and see if it just works before replacing built on methods.

[2019-10-09 14:13] vascofernandes commented on #30512
@vdumbrav unfortunately is does not work.

I pulled your repository, and ran it.
It does not work correctly.
The browser console displays a lot of warnings:

[2019-10-09 14:17] gilles-phan opened #33057 "Incorrect naming in examples of EventEmitter"
Hello,

In the examples (_at the end of the page_), the name of EventEmitter are "_onOpen_" and "_onClose_", but it "**should not be prefixed with on (no-output-on-prefix)**".

=> https://angular.io/api/core/EventEmitter

![image](https://user-images.githubusercontent.com/1096770/66489680-4d16e300-eab0-11e9-8bce-77c9a187cfc3.png)

[2019-10-09 14:18] vdumbrav commented on #30512
@vascofernandes It is warning, not critical :)

[2019-10-09 14:19] ajarudingunga commented on #32853
@FDIM I have tried below code, but same issue for double slash. if I pass some value of optional param then its working.
[code]

[2019-10-09 14:22] ajarudingunga commented on #32853
@FDIM  Here is [stackbliz](https://stackblitz.com/edit/angular-routing-child-routes-6ydor6) without URLmatcher if you want for some experiments !

[2019-10-09 14:57] vascofernandes commented on #30512
yes, but the problem is that, things do not render correctly.

Try render a ngx-charts-bar-vertical.

[2019-10-09 15:14] vdumbrav commented on #30512
@vascofernandes I tried, not work (

[2019-10-09 15:30] gkalpak opened #33059 "elements: too many change detection runs during initialization"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/elements.

### Is this a regression?

No.

### Description

During custom element initialization (i.e. [initializeComponent()][1]), the default `NgElementStrategy`, [ComponentNgElementStrategy][2], (transitively) may call [setInputValue()][3], which in turn calls [scheduleDetectChanges()][4]. Right after, `initializeComp

[2019-10-09 15:32] pshurygin commented on #33035
@kara Ok, i have managed to make a repo for an original issue. Turns out it is not related to circular dependencies, but rather a weird issue with multiple HostBindings + style sanitizer on a directive.
Here it is:
https://github.com/pshurygin/ivy-ngclass-issue

[2019-10-09 15:46] gkalpak opened #33060 "elements: no coalescing of change detection invocations across instances"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/elements.

### Is this a regression?

No.

### Description

While Angular custom elements do coalesce change detection invocations per element instance (see [scheduleDetectChanges()][1]), there is no coalescing across other instances of the same element or other elements (even for those on the same injector or component

[2019-10-09 15:54] 029shailesh commented on #33050
sorry I am new to this angular, by mistake I missed some pre configuration for IE.
Thank you.

[2019-10-09 15:54] #33050 closed

[2019-10-09 16:21] mswilson4040 commented on #25342
@ubugnu I like your solution more than mine.

[2019-10-09 17:53] pkozlowski-opensource commented on #33059
Couldn't we have it other way around? That is, set inputs with a flag indicating that it is an intial set (so no rAF CD should be scheduled) and trigger CD synchronously on init?

I'm not sure what you mean by "cancel" by asking for `rAF` + canceling it would be "rather expensive"

[2019-10-09 18:03] gkalpak commented on #33057
This rule refers to output names (which show up as events in the template), not to method names.

In the above example, it is the `open` and `close` outputs/events that should not be prefixed with `on`. So, `(on-open)="..."` or `(on-close)="..."` is to be avoided, but naming a method on the component `onOpen()`/`onClose()` is fine (even if we happen to use such a method as an event handler in the

[2019-10-09 18:03] #33057 closed

[2019-10-09 18:06] BruneXX commented on #31227
Hi Guys, is there any update on this?

[2019-10-09 18:17] gkalpak commented on #33031
I am afraid we can't do much. It sounds like a bug in Edge 42 (possibly [this bug][1]).
Given that Edge 42 is now an 1.5 years old release (according to [WikiPedia][2]) and things work in the latest Edge version, I don't think it makes sense to spend resources on working arounf the bug in Edge.

(I also don't have access to Edge 42 to investigate this, but if you pinpoint the issue and fix turns o

[2019-10-09 18:17] #33031 closed

[2019-10-09 18:22] gkalpak commented on #33059
We could, but this is a more specific solution and we wouldn't any benefit in other situations where we might run synchronous CD while async CD is scheduled.

Is it that expensive? If it is, then I guess we could do it the other way around (but I generally prefer more generic solutions).

[2019-10-09 18:27] pkozlowski-opensource commented on #33059
Needs to be profiled but my understanding is that scheduling / canceling `rAF` will require a call into native V8 runtime and this is relatively expensive.  To be profiled, but you have been warned :-)

[2019-10-09 18:54] gkalpak opened #33063 "perf(docs-infra): various issues affecting performance of angular.io"
This is a list of issues that have been found to affect performance of angular.io and need further investigation. (Capturing what we have found out so far for future reference.)

Jira issue: [FW-1616][1]

**Context**
While debugging an unrelated bug in #32923 (turning on Ivy for angular.io), I noticed too many change detection runs (~250! in some cases) while navigating to `/guide/router` (a looon

[2019-10-09 20:31] lukegeiken4 opened #33065 "Edge - SecurityError: zone-evergreen.js (171,1) - Occurs when Edge privacy setting is blocking all cookies."
# 🐞 bug report

### Affected Package
 The issue is caused by package @angular/router I believe
Whichever package loads in zone-evergreen.js

### Is this a regression?

We started seeing the security error when we upgraded to Angular 8 and Node 10.15.2

### Description
Edge has a privacy setting where it will block all cookies in your browser.

![image](https://user-images.githubusercontent.com/345

[2019-10-09 22:08] #33065 closed

[2019-10-09 22:40] gilles-phan commented on #33057
Oh damn ! Indeed, sorry ! Thanks for your correction !
I confused the outputs and the name of the method, as you says.. >_<

Le mer. 9 oct. 2019 à 20:06, George Kalpakas <notifications@github.com> a
écrit :

[2019-10-10 00:08] furmanvit commented on #32215
I cant downgrade tsc version, because in ng --version its always shows me 3.6.4. I can only change tsc globally and in local project, but in package Angular CLI (ng --version) it still shows me the newest version of typescript. Do you know, how to downgrade tsc dicectly in Angular CLI package?

[2019-10-10 04:40] eohulbert commented on #16211
Place your AuthGuard paths in the bottom rows. I can't explain it, but it works. My guess is that once we trigger the function and it returns false and navigates /Home, we are still using the same Routes list with router-outlet instead of a new instance of the list.

Since it is the same list, it might be causing the AuthGuard rows and the rows after to be false. Yes, I know this sounds absurd, bu

[2019-10-10 04:41] eohulbert commented on #16211
Place your AuthGuard paths in the bottom rows. I can't explain it, but it works. My guess is that once we trigger the function and it returns false and navigates /Home, we are still using the same Routes list with router-outlet instead of a new instance of the list.

Since it is the same list, it might be causing the AuthGuard rows and the rows after to be false. Yes, I know this sounds absurd, bu

[2019-10-10 04:50] eohulbert commented on #16211
Place your AuthGuard paths in the bottom rows. I can't explain it, but it works. My guess is that once we trigger the function and it returns false and navigates /Home, we are still using the same Routes list with router-outlet instead of a new instance of the list.

Since it is the same list, it might be causing the AuthGuard rows and the rows after to be false. Yes, I know this sounds absurd, bu

[2019-10-10 06:36] abstractFlo commented on #30910
Push this up, we need this feature :(

[2019-10-10 08:11] Potapy4 commented on #32950
@mhevery I can jump on it if @fluidsonic doesn't mind 🙂

[2019-10-10 09:24] poke commented on #16211
[code]

That should actually prevent you from opening those routes because the catch-all route will be evaluated first. Did you check whether those still work properly?

That's exactly what this issue is about. Accessing a guarded URL directly breaks the application.

[2019-10-10 10:11] 200688523 opened #33079 "Ng test command test httpClient, did not send the actual request"
Use the original ng test to test the httpClient request, and does not actually send the http request. According to the case described in the official document, when using HttpTestingController and HttpClient to test, both users need the HttpTestingController object instance to call the method expectOne, and then according to the returned The TestRequest object calls the flush method, fills in the

[2019-10-10 10:20] Avadhesh-Patel opened #33080 "The provided animation trigger "**" has not been registered! Angular 8 Ivy"
Animation Declared as per following.

export const LoaderAnimation = [
trigger('loaderInOut', [
transition(':enter', [ // :enter is alias to 'void => '
style({opacity:0}),
animate(500, style({opacity:1}))
]),
transition(':leave', [ // :leave is alias to ' => void'
animate(500, style({opacity:0}))
])
])
]

Animation Used In HTML

.....
When we are enabling Ivy
"angularCompilerOptions": {
"enableIvy