[2015-10-04 03:05] vicb commented on #4506
must be linked to the new compiler
/cc @tbosch

[2015-10-04 03:11] IgorMinar opened #4510 "Use websocket transport between travis and sauce"
Sauce connect now supports web sockets but it requires special settings. The advantage of using web sockets is (usually) more stable connection and lower latency.

We already use web sockets to test zone.js, so hopefully it won't be too hard to replicate the setup.

Zone.js PR: https://github.com/angular/zone.js/pull/124/files

[2015-10-04 03:12] IgorMinar commented on #4510
@mlaval can you take a look at this please?

[2015-10-04 03:48] todoubaba commented on #4497
@Krustie101 You're right. When I change it from `interface` to `class` in typing file, DI works again.

There are many classes like this one, such as `TemplateRef` and `ViewRef`. And there are **two** same declarations for one type in the typing, for example `ElementRef`, one is at line 5365, another is at line 13894.

[2015-10-04 04:10] gdi2290 opened #4511 "better HostListener support as observable"
Is there any way we can get more sugar for events as observables e.g.
[code]

`[sidenote] bonus points if you can understand this madness`
[code]

[2015-10-04 05:02] todoubaba commented on #4497
The issue is caused by commit https://github.com/angular/angular/commit/4bffd97edd77fc3ed70b043d3c3e373d9221a935#diff-c64239da878646eaecd9a47f36187dceR3.

It converts class with private constructor into interfalce

[2015-10-04 06:03] IgorMinar opened #4512 "testing library name is used inconsistently"
we have:
- `test_lib.d.ts` that declares `angular2/test_lib` module
- `test_lib.dev.js` that registers `angular2/test` module

can we unify these?

@jeffbcross, I thought that we settled on `angular2/testing` as the final name during the big package rename. wasn't that the case?

[2015-10-04 06:58] rolandjitsu commented on #4506
:+1: I have the same issue.

[2015-10-04 08:42] DavidGangel commented on #4444
Thank you for your responses.
@btford it does not change anything.

[2015-10-04 11:02] rolandjitsu commented on #4512
I actually just stumbled upon this issue as well while running some unit tests.

[2015-10-04 11:05] rolandjitsu opened #4513 "encapsulation: ViewEncapsulation.Native on a View breaks where the styles are appended"
After transitioning to the latest alpha version, I noticed that when I use `encapsulation: ViewEncapsulation.Native` on my views, the `<style></style>` tags get appended to the wrong places. Actually, each style tag gets duplicated in each shadow root.

But `encapsulation: ViewEncapsulation.Emulated` works just fine.

[2015-10-04 12:42] rolandjitsu opened #4514 "change detector throws exception when triggering .next on an instance of EventEmitter"
I create a custom checkbox component:
[code]
[code]
that is used as such:
[code]
But it looks like after I made the update to the latest alpha version I keep getting an exception thrown whenever I try to click/keydown on the checkbox:

<img width="1440" alt="screenshot 2015-10-04 14 40 40" src="https://cloud.githubusercontent.com/assets/1479737/10267878/f70e2948-6aa5-11e5-8a80-4d40aff10274.png">

[2015-10-04 13:28] DavidGangel commented on #4444
I think one solution could be to not allow the code inside the onInit method to jump to the next instruction until the configuration is not fetched from the server and  the router config is not ready based on this. Then all the problems must go away. The consequence is that this approach will make the execution as sync and not async. But if I ask myself:
Are there any benefits to load an app with

[2015-10-04 15:17] todoubaba commented on #4507
Similar problem when the VS Code project contains both anguar2 and jquery, the IDE always uses 'node_modules/angular2/ts/typings/augular-protractor.d.ts' first and complains about the $ sign.

[2015-10-04 16:36] rolandjitsu opened #4515 "using @Attrbute in TS throws an error during compilation"
It looks like if I use the `@Attribute` on a class constructor:
[code]
it causes the TS compiler to throw a semantic error:
[code]

[2015-10-04 16:36] Successful opened #4516 "Version -alpha.38 npm package missing rxjs"
Don't know if this is the right place to post this bug, please let me know if it isen't.

Failing to install latest angular2 package with npm:

npm ERR! 404 Not Found
npm ERR! 404
npm ERR! 404 'reactivex/rxjs' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 It was specified as a dependency of 'angular2'
npm ERR! 404
npm ERR! 404 Note that you can also

[2015-10-04 18:53] johnpapa commented on #3321
any update on this?

[2015-10-04 19:00] ericmartinezr commented on #3321
@johnpapa AFAIK `limitTo` was replaced with `slice` https://github.com/angular/angular/pull/3907

[2015-10-04 19:07] johnpapa commented on #3321
thanks for the heads up.

if `limitTo` is indeed being replaced, it should be removed and this closed.

Looking forward to ng team's take on this

[2015-10-04 19:37] BobbieBarker commented on #4516
Windows 10, clean npm install angular2

no errors. I would suggest the problem might be with your OS, or the version of npm you're running, but not with this repository.

[2015-10-04 19:50] sclausen commented on #4516
got the same issue. using ubuntu 14.04.3

[2015-10-04 19:52] sclausen commented on #4516
the thing is, I can make a clean `npm install angular2` but wanted to use it as a dependency in a meteor package. angular@2.0.0-alpha.37 works fine, but 38 throws this error

[2015-10-04 23:37] antonmoiseev commented on #3745
@rosendi thanks!

[2015-10-05 00:24] robwormald commented on #4516
@sclausen are you able to install / require the `@reactivex/rxjs` repo in the meteor package? that's using npm's namespaces/scopes, so perhaps that's unsupported by whatever meteor-npm is doing?

[2015-10-05 04:19] sclausen commented on #4516
Yes, that's exactly what I'm trying to do. I'll look how meteors npm stuff works and file an issue there. Thanks!

[2015-10-05 04:34] alexeagle opened #4518 "Retire the magic re-writing of private-constructor-Class to Interface"
As part of https://github.com/angular/angular/issues/3082
I want to use the Typescript compiler's outputs to distribute our typings to users.
So the magic we have in dgeni for re-writing classes-which-should-not-be-constructed to be represented as interfaces can't be retained.
Anyway this did not satisfy Dart users, to whom these classes still appear instantiatable.

Instead, we should create abst

[2015-10-05 04:49] gdi2290 commented on #4475
do we post these crazy ideas here?

[2015-10-05 06:48] sclausen commented on #4516
I think its a meteor problem. The npm version they use is way to old to support this package naming.

[2015-10-05 06:50] robwormald commented on #4516
ah, that's a shame. @Successful i would guess your issue is probably related to an older version of NPM as well, looking at the error - are you using it from within Visual Studio?

[2015-10-05 07:51] sclausen commented on #4516
My special problem is a meteor problem. The npm version they use is way to old to support this package naming. I filed an issue there meteor/meteor/issues/5365

[2015-10-05 08:01] pkozlowski-opensource commented on #4516
OK, closing as duplicate of meteor/meteor#5365 then

[2015-10-05 08:01] #4516 closed

[2015-10-05 08:19] robwormald commented on #4516
Looks like minimum npm version is 2.7.0, for future reference.

[2015-10-05 12:11] xbtequila commented on #4506
Same here.

Using this for current Workaround:

[code]

[2015-10-05 14:47] ericmdantas commented on #3580
Alright, I'm reopening this because we've got a new problem with EventEmitters now. Either that or I'm missing something.

Here is the plnkr with the situation: http://plnkr.co/edit/9w5nzAuMkE1BHoTo2GxN?p=preview

Basically, we can't return an observable anymore when using `toRx()` see the change [here](https://github.com/angular/angular/commit/16bf335a4ae74155fef0d79f058dca0cf4d35fe4#diff-8be0a3d

[2015-10-05 15:23] pkozlowski-opensource commented on #4515
What version of ng2? Could you please provide a minimal plunker? AFAIK you can't inject attributes on the top-level element, this _might_ by your issue.

Anyway, send a plunk.

[2015-10-05 15:26] ericmdantas opened #4521 "[.38] Returning an Observable from EventEmitter"
Looks like we've got a problem with EventEmitters now. Either that or I'm missing something.

Here is the plnkr with the situation: http://plnkr.co/edit/9w5nzAuMkE1BHoTo2GxN?p=preview

Basically, we can't return an observable anymore when using `toRx()` see the change [here](https://github.com/angular/angular/commit/16bf335a4ae74155fef0d79f058dca0cf4d35fe4#diff-8be0a3d40b54a6a790fee3c42157b18dL141

[2015-10-05 15:26] ericmdantas commented on #3580
Closing. Opened a new one.

[2015-10-05 15:26] #3580 closed

[2015-10-05 15:28] tbosch opened #4522 "Property bindings and text interpolations get mixed up when using components in the light dom of other components"
E.g.
[code]

This will display the text `201` instead of `012`.

[2015-10-05 16:08] rolandjitsu commented on #4515
@pkozlowski-opensource I am not sure how to create a plunk with the TS compiler, but you can see the [line](https://github.com/rolandjitsu/ng2-lab/blob/master/src/app/components/checkbox/checkbox.ts#L62) at which this occurs. I've been having this error around for a while. It has no impact on the output, but it keeps complaining.

I am not sure what you mean by I cannot inject attributes on top le

[2015-10-05 17:00] mlaval opened #4525 "gulp test.unit.js failing on Windows with Error: EMFILE: too many open files"
The issue appeared with the update to node 4.1.1, npm 2.14.5, Karma 0.13.10, etc.

After upgrading node and npm, and doing a clean `npm install`, running `gulp test.unit.js` raises the following error on 2 different machines (Windows 7 and Windows 10):
[code]
Running `gulp test.unit.js/ci` raises:
[code]
Note that `gulp test.unit.dart` and `gulp test.unit.cjs` are working fine

[2015-10-05 17:10] #4522 closed

[2015-10-05 17:24] hterkelsen opened #4527 ""Unexpected token ILLEGAL" when trying to run npm install"
On a fresh clone of angular:

[code]

[2015-10-05 17:34] #4494 closed

[2015-10-05 17:34] #4513 closed

[2015-10-05 17:52] Successful commented on #4516
I am so embarrassed :-1: updating node and npm solved my issue.
Thanks all.

[2015-10-05 17:52] tbosch commented on #4494
Thanks.
Yes, ViewEncapsulation.Emulated should be the default!

On Sat, Oct 3, 2015 at 6:24 AM Christopher Swasey <notifications@github.com>
wrote:

[2015-10-05 18:01] endash commented on #4494
Thanks for the fix :+1:

[2015-10-05 18:19] cexbrayat opened #4528 "[test] RootTestComponent no longer extends DebugElement"
Previously (alpha-37), unit tests could use:

    tcb.createAsync(components.TestCmp)
      .then((rootTC) => {
         rootTC.componentInstance.expression = 'Dynamic text';
      });

Now (alpha-38), `rootTC` is no longer a `DebugElement` but has an attribute `debugElement`, so the test must be written:

    tcb.createAsync(components.TestCmp)
      .then((rootTC) => {
         rootTC.debugEleme

[2015-10-05 18:29] pkozlowski-opensource commented on #4493
@jeffbcross as discussed, if we can still push those things to https://code.angularjs.org/ this would be awesome.

[2015-10-05 18:38] IgorMinar commented on #4527
hi there, please update your node version to 4.1.1 (I recommend using [nvm](https://github.com/creationix/nvm))

[2015-10-05 18:40] IgorMinar commented on #4315
@juliemr is looking into upgrading systemjs builder which can generate both system.register as well as cjs bundles (https://github.com/angular/angular/issues/4278#issuecomment-145279354)

[2015-10-05 18:46] pkozlowski-opensource commented on #4315
@IgorMinar @juliemr could you please have a look at [my comment](https://github.com/angular/angular/issues/4278#issuecomment-145273941) regarding the CJS output? From my investigations it might look like CJS bundles would be huge for http / router (well, any non-core module) since I'm not sure if we can do proper bundle arithmetic when using the CJS format.

Also please also see https://github.com

[2015-10-05 18:52] Zyzle opened #4531 "Polymer _zone error in alpha 38"
After upgrading to alpha 38 it seems Polymer no longer wants to play nice with ng2.

[code]

I'm not really sure what the root source of this error is so the best I can do is supply a plunkr that worked in alpha 37 but breaks in 38

* 37 Working: http://plnkr.co/edit/OYBXYz?p=preview
* 38 Error: http://plnkr.co/edit/jIL2uS?p=preview

[2015-10-05 19:09] johnpapa opened #4532 "RouterLink should add a class "router-link" to HTML"
Given the following template, I can assign a class for the active route because `router-link-active` is added by Angular2 to the element. But I cannot style the inactive router links. For now, I can add my own `router-link` class to each element.

here is what I currently do ..

[code]

and the CSS
[code]

I propose that Angular2 add `router-link` to all router link elements and additionally add

[2015-10-05 19:22] yanivefraim commented on #2961
@vsavkin @mhevery - any news on this? thanks!

[2015-10-05 19:25] yanivefraim commented on #4239
@lilotop - can you explain what is not working? Those two lines you gave are identical.
10x

[2015-10-05 19:42] vicb commented on #4531
/cc @matthewjh

[2015-10-05 20:00] ericmartinezr commented on #4493
@pkozlowski-opensource if you guys have problem using code.angularjs.org you may consider using another system like https://cdnjs.com/

[2015-10-05 20:07] #4499 closed

[2015-10-05 20:27] goderbauer opened #4535 "Allow multiple callback overrides in NgZone"
Angular seems to only allow one override for onTurnStart and onEventDone in NgZone [1]. The Testability API is overriding these callbacks [2] and we have some internal stuff (see b/24673935) that also overrides it. However, due to the mentioned limitation, only the last registration is actually successful. All earlier registrations are silently ignored.

This is a problem for our webdriver and lat

[2015-10-05 20:41] pkozlowski-opensource commented on #4493
It was just fixed by @jeffbcross . Thnx!

[2015-10-05 20:41] #4493 closed

[2015-10-05 20:50] jeffbcross commented on #4493
Thanks for reminder, @pkozlowski-opensource! The release was a last-minute decision on a Friday afternoon, and I forgot to do the code.* push.

@kasperpeulen, @yjbanov suggested that the release is too broken to publish to dart.

[2015-10-05 21:26] #4527 closed

[2015-10-05 21:31] mhevery commented on #4039
Closing as dup of #2383

[2015-10-05 21:31] #4039 closed

[2015-10-05 21:33] mhevery commented on #3961
Closing as dup of #1818

[2015-10-05 21:33] #3961 closed

[2015-10-05 21:35] mhevery commented on #3800
Closing in favor of #3929

[2015-10-05 21:36] mhevery commented on #4354
Dup of #3562

[2015-10-05 21:40] pkozlowski-opensource commented on #4354
@mhevery re-opening since #3562 was closed as a dup of this one :-)

[2015-10-05 21:43] IgorMinar commented on #4531
@vicb can you own this? please look into it today and determine if we must fix this in a39 (due tomorrow/wed). On the surface this looks serious enough that it should be in 39.

[2015-10-05 21:44] mhevery commented on #4320
Closing per @IgorMinar comment https://github.com/angular/angular/issues/4320#issuecomment-144549957

[2015-10-05 21:44] #4320 closed

[2015-10-05 21:45] naomiblack commented on #4518
@alexeagle I put this in alpha-41 since I think it's not essential/urgent for anyone speaking at angular connect. Please move it up to alpha-40 if you think it's blocking anyone.

[2015-10-05 21:45] IgorMinar commented on #4525
there is an issue with [tmp folder not being cleaned up properly #4441](https://github.com/angular/angular/issues/4441) which might be related. can you verify that you can repro this issue with tmp folder manually removed?

[2015-10-05 21:46] mhevery commented on #4311
Dup of https://github.com/angular/angular.io/issues/219

[2015-10-05 21:46] #4311 closed

[2015-10-05 21:46] naomiblack commented on #4515
@alexeagle is this something you can reproduce?

[2015-10-05 21:48] mhevery commented on #4307
@bharathm03 Why don't you just subclass the differ or create your own, and then override it in the `bindings`?

I think this is better left for third parties rather then the core.

[2015-10-05 21:48] #4307 closed

[2015-10-05 21:48] matanlurey opened #4536 "DI/Transformer: Factories should support the same features as constructors"
In theory, this should work just fine

[code]

However, it results in a cyclical dependency. After talking to @vsavkin, he noted it's most likely the transformer is not recording annotations for factory functions.

This is internal issue 24673492.

[2015-10-05 21:50] mhevery commented on #4480
This may be obsolete with @alexeagle change in the way we generate the `.d.ts` file.

[2015-10-05 21:54] alexeagle commented on #4480
yes give me a few more days to land the needed changes and then we can confirm this is obsolete

[2015-10-05 21:55] alexeagle commented on #4518
This is part of the change in typings I demo'ed. We can't release typings
that expose our private constructors. I'll move to alpha-40

On Mon, Oct 5, 2015 at 2:45 PM Naomi Black <notifications@github.com> wrote:

[2015-10-05 21:57] mhevery commented on #4457
I would vote to make it an error. There is no reason to extend it. Maybe put a throw in the constructor of the interface to throw?

[2015-10-05 21:57] IgorMinar commented on #3532
fyi with node 4 upgrade we improved `!broccoli.js.dev` time from 20706ms to 12127ms.

there is more we can do still.. (create a separate core src compilation unit, and a bunch of auxilary compilation units for router, http, examples, etc).

[2015-10-05 22:02] IgorMinar commented on #4514
@vicb can you please take a look at this today and determine if we need to fix this in a39 (due tomorrow/Wed). if it's likely to affect g3 sync, then it should be in a39

[2015-10-05 22:04] mhevery commented on #4404
We are going to stay with `@Injectable` since no proposal is materially different.

[2015-10-05 22:04] #4404 closed

[2015-10-05 22:06] IgorMinar commented on #4514
I'm triaging it for a39 for now, @vsavkin reassign if not likely to affect g3 sybc

[2015-10-05 22:07] IgorMinar commented on #4432
fixed in a later sync

[2015-10-05 22:07] #4432 closed

[2015-10-05 22:09] IgorMinar commented on #4287
moving this to a40 so that we avoid breaking changes in a39 due to g3 sync

[2015-10-05 22:10] IgorMinar commented on #4170
not critical for a39/g3 sync, bumping

[2015-10-05 22:12] IgorMinar commented on #4149
bumping to a40 because no breaking changes in a39, but a40 is the last chance to make this before AC.

[2015-10-05 22:15] thelgevold commented on #4532
This might not be exactly what you want, but I have been using [class.active] in my samples since it gives me an active class for the active route based on a boolean check.
Here is an example of how I do it:
http://www.syntaxsuccess.com/viewarticle/routing-in-angular-2.0
Maybe I should wrap this in a directive though to hide the url being passed into the function.

[2015-10-05 22:27] PascalPrecht commented on #4532
@johnpapa maybe I'm getting it wrong but after all you just want to style a
list of links, and the ones that are active, differently. No matter if they
are Angular 2 router-links or not right? Couldn't you just use a parent CSS
selector, or as you already do, introduce your own class for each link if
needed?

Thing is that every router-link that is not active is inactive. It's
basically the defaul

[2015-10-05 22:28] mlaval commented on #4525
It doesn't help, investigating ...

[2015-10-05 22:28] naomiblack commented on #4354
@robwormald can you have a look and see if this can be resolved today/tomorrow -- it is blocking for other tasks. Otherwise, push to alpha-40 and complete by EOW?

[2015-10-05 22:33] johnpapa commented on #4532
Yes I can do it by applying to all anchors.  But then that's too broad. Or by a container class or element that contains the anchors. There are ways by adding our own classes. The code generated by router link does not supply any attributes or way to identify the elements. So we can use hierarchical parent child ones or ass one to each anchor.

I just thought it made sense that if we are adding a

[2015-10-05 22:33] robwormald commented on #4354
Yep, will let you know within the hour

[2015-10-05 22:36] jeffbcross commented on #4390
We had a meeting with @IgorMinar, @blesh and @robwormald today to discuss this issue. We wanted to come to a solution that would allow us to keep the byte size of angular2 core small, and make it easy for Rx power-users to easily get useful operators.

My proposal was to use a "lite" Observable with only a `subscribe` method, and use DI and provide an ObservableFactory token that could be overwrit

[2015-10-05 22:36] IgorMinar commented on #4318
we need this in a40. @alxhub sgty?

[2015-10-05 22:58] PascalPrecht commented on #4532
I'm not sure if it's common to style all links that are router links the
same way. Actually we shouldn't even know in CSS that those links are
upgraded with router-link.

router-link-active Also should rather allow to add CSS classes defined by
the user. Because you never know if those will conflict with the
surrounding CSS.

I would down vote here. If you want to style a list of links you rather

[2015-10-05 23:16] thelgevold commented on #4532
@johnpapa @PascalPrecht
I guess it would be ok to add both an active and an inactive class, but in both cases it relates to just the anchor tag. I find that I typically add my styles to the element around the anchor (often an li element)
That's where I find the [class.active] approach to be desirable since it's decoupled from the anchor tag.

[2015-10-05 23:20] robwormald commented on #4354
@naomiblack should be good for today

[2015-10-05 23:26] robwormald commented on #4354
@naomiblack actually, no, let's bump this to alpha-40. it has some implications for how files are loaded so want to discuss with @pkozlowski-opensource

[2015-10-05 23:33] mlaval commented on #4525
Some more observations:
 - ` karma start karma-js.conf.js` works
 - `gulp test.unit.js/ci` works when commenting out the `./tools/check-environment` part: https://github.com/angular/angular/blob/master/gulpfile.js#L47-L50
 - `gulp test.unit.js` works when commenting out the watcher part: https://github.com/angular/angular/blob/master/gulpfile.js#L601-L606

Could it be some kind of race condition o

[2015-10-05 23:35] blesh commented on #4390
So to be clear, the `lift` method allows you to use an `Operator` from RxJS, which is a `Subscriber` factory to chain operators, but it's *very* unergonomic to do so.

One could either:

1. Decorate the prototype
2. Subclass Observable, overriding `lift` to return the Subclass, and add whatever operators you care about to that.
3. Use ES7 function bind, which is available in Babel, but not TypeScr

[2015-10-05 23:39] jeffbcross commented on #4390
Yes, `toValue` wouldn't necessarily be the strategy used. There is also `toClass`, `toFactory`, `toAlias`...maybe others.

[2015-10-05 23:46] tbosch commented on #4506
Yes, this is a know issue. Working on this right now.

[2015-10-06 00:17] thelgevold opened #4538 "Error injecting elementRef"
In alpha.38 I get an error when trying to inject elementRef.

This used to work in previous versions, so I am wondering if the API has changed:

I get the following error:
EXCEPTION: Cannot resolve all parameters for JqueryIntegration(?). Make sure they all have valid type or annotations. in [null]
angular2.js:18606 EXCEPTION: Cannot resolve all parameters for JqueryIntegration(?). Make sure they

[2015-10-06 00:19] IgorMinar opened #4539 "Test Injector should not by default mock out Compiler's XHR service"
If I want to test a component with external templates, I need to reach into Angular's privates to override the XHR provider (nee di binding):

[code]

The default is useful only for testing Angular Compiler but not for testing Angular applications, so we should change this so that by default the XHR service is not mocked out and only in the Angular core suite we override the provider with mock.

c

[2015-10-06 00:21] ericmartinezr commented on #4538
@thelgevold see this https://github.com/angular/angular/issues/4497

[2015-10-06 00:30] thelgevold commented on #4538
@ericmartinezr Thanks!

[2015-10-06 00:34] alexeagle commented on #4518
Here is the proposal:
http://www.typescriptlang.org/Playground#src=%2F%2F%20re-exported%20to%20users%0Aexport%20abstract%20class%20Compiler%20%7B%0A%09%2F**%20%40internal%20*%2F%0A%09protected%20_foo%3A%20number%3B%0A%09do()%3A%20void%20%7B%0A%09%09console.log(this._foo)%3B%0A%09%7D%0A%7D%0A%0A%2F%2F%20Not%20re-exported%20to%20top-level%0Aexport%20class%20Compiler_%20extends%20Compiler%20%7B%0A%09

[2015-10-06 00:35] alexeagle commented on #4518
@mhevery @tbosch can you take a look at the above and comment before I make this change widely?
cc: @IgorMinar as a sol'n to the current problem of symbols not injectable because their runtime value disappeared

[2015-10-06 02:33] mhevery commented on #4518
Why do we need to put `_foo` in `Compiler` rather then `Compiler_`?

Otherwise this seem reasonable to me.

[2015-10-06 02:51] Ravi220 opened #4541 "navigate().back() ---iteration"
Protractor tool is new to me, could you please help me with the following.

How to iterate through browser.navigate().back()??

I have a page to automate where I need to click on all the links in home page, and then go back to the home page to click on the remaining links.

For time being I derived like the following:

HomePage.HomegMenuItem.click();
HomePage.reference.click();
browser.navigate().

[2015-10-06 02:53] alexeagle commented on #4518
Because it is referenced in Compiler. Is there another way?
Also I have not yet thought about how this will translate to dart. I know
we don't allow protected right now.

On Mon, Oct 5, 2015 at 7:33 PM Miško Hevery <notifications@github.com>
wrote:

[2015-10-06 02:53] vicb commented on #4531
Not sure if I can find time to look at this today. If not, I'll check it first thing tomorrow.

[2015-10-06 03:01] IgorMinar commented on #4525
I don't know.

commenting out ` ./tools/check-environment ` helps? that's really odd. can
you trace it what inside of check-environment is causing the problem? that
could give us some hints..

On Mon, Oct 5, 2015 at 4:33 PM Marc Laval <notifications@github.com> wrote:

[2015-10-06 03:04] mhevery commented on #4518
Ohh, did not see that. I would make Compiler totally abstract.

[code]

[2015-10-06 03:29] vicb commented on #4531
The pb is in `var target = isWebWorker() && !this ? self : this;` which returns undefined while it should return the `window` when Polymer does `addEventListener('WebComponentsReady', resolve);`

I'll try to come with a fix ASAP

[2015-10-06 04:31] blesh opened #4543 "How to include RxJS operators with Angular 2"
I wanted to open an issue to track this, since we discussed this today and (I don't think) we came to any conclusions, and I'm unsure which issue this is being tracked.

The issue at hand is how to include RxJS operators as a dependency without greatly increasing the size of the library/total required download.

We can probably break solutions up into ideas for the short-term and ideas for the lon

[2015-10-06 04:38] blesh commented on #4543
Related... @vsavkin pointed out that because of how RxJS 5 creates it's default Observable Export, the `Rx` module must be imported in order to include the operators, and subsequently mutates the prototype.

Also Related: There has been discussion on the ReactiveX side of just including the core operators as part of Observable. This is because it would make certain optimizations more straight forw

[2015-10-06 04:44] typotter commented on #2296
+1
We frequently encounter wrap and compose components, exposing part or all of the inner components' APIs (both properties and events).

[2015-10-06 04:46] blesh commented on #4543
Related discussion on RxJS side: https://github.com/ReactiveX/RxJS/issues/464

[2015-10-06 04:49] blesh commented on #4543
In the short-term, I think it's probably best to just depend on the main RxJS 5 library and it's output, because people will need and want those operators. Long-term, I think we can probably come up with something more interesting

[2015-10-06 05:05] robwormald commented on #4521
fixed in https://github.com/angular/angular/pull/4540

[2015-10-06 06:07] mgechev commented on #4541
Hey @Ravi220. This repository is for Angular 2 only. If you've found any issues in Protractor you can report them here https://github.com/angular/protractor. If you need support you can use the gitter channel [here](https://gitter.im/angular/protractor).

[2015-10-06 07:57] markharding commented on #4506
@tbosch - @xbtequila fix works well but should be extended to include polygon, polyline etc

[2015-10-06 08:05] mgechev commented on #4489
Same issue is valid for `ContentChildren` and `ContentChild` as well. I'm working on this issue.

[2015-10-06 08:21] DavidGangel opened #4545 "Add support to the router for handle components that are having an @Attribute as parameter in their consturctor"
Hi,

I'm having the following component implementation:
[code]

Now I would like to assign a route for this component in a RouteConfig and I need to give the values for the constructor parameters.

[2015-10-06 08:22] #4541 closed

[2015-10-06 09:15] shatakshidixit1 opened #4546 "Angular 2::alpha-38"
npm install angular2 is not working.
it throws error:

**npm ERR! 404 'reactivex' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, or http url, or git url.
npm ERR! System Linux 3.13.0-32-generic
npm ERR! command "/usr/bin/nodejs" "/usr/bin/npm" "install" "angular2"
npm ERR

[2015-10-06 09:30] jessegood commented on #4546
See https://github.com/angular/angular/issues/4516 (need to update npm to at least 2.7.0)

[2015-10-06 09:33] shatakshidixit1 commented on #4546
closing this as a duplicate of #4516

[2015-10-06 09:33] #4546 closed

[2015-10-06 11:47] mgechev opened #4549 "refactor(linker): move common functions to util file"
There're some duplicate declarations, for instance:

- `isValidDirective` (both in `directive_resolver.ts` and `runtime-metadata.ts`, in case https://github.com/angular/angular/pull/4548 gets merged)
- `flattenList` (both in `runtime-metadata.ts` and `proto_view_factory.ts`)

It'll be nice if we extract them to separate file and include them wherever they are required.

If it makes sense I can tak

[2015-10-06 13:23] alexeagle commented on #4518
ah, yes of course. a bigger change, but then protected is not needed, and we can keep our shorthand property declarations in the constructor signature as well

[2015-10-06 13:59] pkozlowski-opensource commented on #4354
@robwormald what are the implications? Let's kick off the discussion on it in the packaging channel

[2015-10-06 14:00] #4507 closed

[2015-10-06 14:35] LaurentGoderre commented on #4438
Thanks! That worked great for us!

[2015-10-06 14:58] chkk525 commented on #1789
+1

[2015-10-06 15:12] IgorMinar commented on #4518
@alexeagle why will Misko's version result in a bigger change? I'd expect your code splitting version to be more complicated to implement.

[2015-10-06 15:20] IgorMinar commented on #4531
thanks!

On Mon, Oct 5, 2015 at 8:29 PM Victor Berchet <notifications@github.com>
wrote:

[2015-10-06 15:21] kegluneq commented on #3436
@yjbanov , this is now obsolete, right?

[2015-10-06 15:22] adamdbradley opened #4551 "alpha.38: Incorrect ViewContainerRef injected w/ nested components"
It appears that ViewContainerRef is getting the wrong references when components are nested. I tried to come up with some plnkrs that show how nested components are injecting the wrong ViewContainerRef.

In the examples, I'm printing out the native element's tag name to show the component is referencing the wrong one:

alpha.38 does not inject the correct ref:
http://plnkr.co/edit/lyBBvYiAWs7hG1Cj

[2015-10-06 15:37] tbosch commented on #4551
@adamdbradley could you retry with the current master? We had a bug where element indices were mixed up...

[2015-10-06 15:40] yjbanov commented on #3436
We [still use](https://github.com/angular/angular/blob/6b5d345a2b24a99b13882382d159302e64b6ed18/modules/angular2/src/core/linker/element_injector.ts#L206) getters/setters to support events and queries.

[2015-10-06 15:47] pkozlowski-opensource commented on #1789
@chkk525 there is not much point in +1 on a closed issue... If you see a pb please open a new issue with clear description, steps to reproduce and - ideally - a runnable demo in plunker. See what is the kind of info that we are looking for when it comes to issue reports:  https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue

[2015-10-06 16:02] kegluneq commented on #3436
Ah, I wasn't sure what was meant by "in element injector". Yes, we're still using reflected getters & setters in those cases.

[2015-10-06 16:30] Ravi220 commented on #4541
Hey Minko,

Thanks for the directing me to the right page. I'm new to github as well. I'm learning. :)

[2015-10-06 16:31] alexeagle commented on #4518
Sorry I wrote that in a hurry - it's only bigger in the sense that a different transformation is needed, but either way it's simple and mechanical. Working on it now.

[2015-10-06 16:46] alexeagle commented on #4518
One other complication is getters. We currently have readonly properties, by implementing a getter and no setter in our concrete class (eg `DebugElement.componentInstance`)
I believe from discussion in https://github.com/Microsoft/TypeScript/issues/12 that we have no way to model this in the abstract class - the typechecker will allow users to modify these properties.

[2015-10-06 17:36] robwormald commented on #4543
this looks very promising https://github.com/rollup/rollup

[2015-10-06 17:44] vicb commented on #4531
@Zyzle Thanks for the bug report, zone.js has been fixed. The next angular release will include this fix.

[2015-10-06 17:53] jeffbcross commented on #4390
I just I just uglified and gzipped the dist/global/Rx.min.js bundle, and it is 37KB.

[2015-10-06 17:56] jeffbcross commented on #4390
I browserified, uglified, and gzipped just the Observable using dist/cjs/Observable.js, and it is 4KB.

[2015-10-06 18:04] blesh commented on #4543
@robwormald ... yeah @jayphelps just mentioned that to me this morning. He named a couple of caveats (which now escape me)

[2015-10-06 18:16] #4531 closed

[2015-10-06 18:25] jayphelps commented on #4543
Biggest issues I see: angular/rxjs are written in TypeScript and it only supports ES6. You technically could transpile TS to ES6 then run it through rollup but WTF....It also requires consumers to use it as their module packer, which is tough in such a crowded field with people loving their grunt/gulp/broccoli/browserify/webpack/whatever. So..angular would have to use it. :worried: or if Rx isn't

[2015-10-06 18:48] Rich-Harris commented on #4543
@jayphelps I'd be interested to better understand your needs – is the issue that the bundle needs to be exported using a custom format?

Two main reasons – performance and code readability. Generating code from an AST is more costly than just manipulating the original source code (rollup uses a utility called [magic-string](https://github.com/Rich-Harris/magic-string) to do so in a sourcemap-aware

[2015-10-06 19:01] jeffbcross commented on #4390
In the short-term, this essentially comes down to a decision between a user experience trade-off between two competing priorities:

 * Option 1: Include Observable + core operators that are included in [Rx.js](https://github.com/ReactiveX/RxJS/blob/master/src/Rx.ts).
   * Benefit: User automatically gets all the operators they'll likely want
   * Cost:
     * 33KB extra in the core
     * For user

[2015-10-06 19:20] blesh commented on #4390
PRs welcome™

I'm in favor of Option 1, as well. And I'm willing to work with the community of RxJS and Angular to determine which operators should and should not be "core".

Also that would enable RxJS to put all "Core" operators directly on Observable, which helps a few other issues.

[2015-10-06 19:28] jayphelps commented on #4543
@Rich-Harris not sure what you mean by "issue". Theres the underlying quest to ship a monolithic project like RxJS and have an easy way for consumers to shake off unused operators. In considering rollup, I was merely pointing out that it isn't feasible in this angular case because it's TypeScript and if that's somehow worked around it would still require angular devs to actually use rollup as the

[2015-10-06 19:28] jimthedev commented on #4493
FWIW, cdnjs has updated to also mirror the latest Angular at https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-alpha.38/angular2.min.js

https://github.com/cdnjs/cdnjs/issues/5838#issuecomment-145700643

[2015-10-06 19:49] jayphelps commented on #4543
On second though...It's certainly more complicated than just parsing import/exports. Primarily on the exports side, because if a module exports just identifier, if you don't parse the rest of the file you can't shake off the code the identifier references, unless none of the exports in the file are ever imported, only then could you just exclude the entire file. hmmm

[2015-10-06 19:57] tbosch commented on #4551
Just released alpha.39, this bug is fixed there: http://plnkr.co/edit/hgxdCdbsg5x4xGEODB31?p=preview

[2015-10-06 20:08] jeffbcross commented on #4390
@blesh sorry, that wasn't meant to be a dig on RxJS, I was referring to the idea of mutating some shared global object not being an approach we should recommend.

[2015-10-06 20:31] Rich-Harris commented on #4543
Exactly – for tree-shaking to work, you need to work on the level of individual statements rather than modules. In my view, modularising things to the extent that one tool is responsible for generating the dependency graph and another is responsible for doing the bundling is the wrong direction to be going in – aside from the inefficiencies it would create (and the fact that you'd need to create y

[2015-10-06 20:37] jeffbcross commented on #4543
Closing in favor of #4390

[2015-10-06 20:37] #4543 closed

[2015-10-06 20:38] jeffbcross commented on #4543
Though don't let me stop the bundling discussion, and feel free to add thoughts on #4390 :)

[2015-10-06 20:40] jayphelps commented on #4543
@Rich-Harris :yum: I was referring to bundlers made for grunt/gulp specifically like [gulp-es6-module-bundler](https://www.npmjs.com/package/gulp-es6-module-bundler).

[2015-10-06 20:43] Zyzle commented on #4531
@vicb thanks! :+1:

[2015-10-06 20:59] Rich-Harris commented on #4543
@jayphelps There must be a Rule 34 for Grunt and Gulp plugins! https://github.com/mcasimir/gulp-rollup and https://github.com/chrisprice/grunt-rollup already exist (gulp-es6-module-bundler is based on the long-since-deprecated es6-module-transpiler project) – there's no need to use it directly, it can slot into any existing build process

[2015-10-06 21:07] naomiblack commented on #4538
closing as dup of https://github.com/angular/angular/issues/4497

[2015-10-06 21:07] #4538 closed

[2015-10-06 21:21] adamdbradley commented on #4551
Yup, everything's working in alpha39, thanks!

[2015-10-06 21:28] IgorMinar commented on #4023
@jeffbcross is this still valid. should we close this?

[2015-10-06 21:28] mhevery commented on #4390
I think we should thing more about Option #2:

* Adding (mutating) global state for the purposes of code loading is OK (data is bad)
* I believe there is a way to extend the `.d.ts` file with another file so that the typings are preserved. So no casting should be necessary.

[2015-10-06 21:33] #3941 closed

[2015-10-06 21:34] blesh commented on #4390
@mhevery what is "not a lot"? 20K? 15K? 10K?

[2015-10-06 21:39] pkozlowski-opensource commented on #4390
to put bytes / size in context: ng1 is around 50k (min + gzip), react weights around 30k. I'm not sure if we are talking about 33k min + gzip here but if so it would be a lot in my books as well :-)

[2015-10-06 21:43] jelbourn opened #4557 "Support [keypress.escape] style event bindings"
It would be cool to support keyboard event bindings of the style:
[code]

(Misko had this idea a while ago, but there was no issue tracking it.)

[2015-10-06 21:45] gkalpak commented on #4390
Based on @jeffbcross's comments (e.g. https://github.com/angular/angular/issues/4390#issuecomment-145945321), it is indeed minified + gzipped.
But equally important is how much does ng2 "weight" (minified + gzipped).

[2015-10-06 21:53] blesh commented on #4390
One thing to know, the current "minified" version of RxJS 5 is *not* very minified. I don't think it's even mangling variable names. Could probably cut that down quite a bit.

[2015-10-06 21:54] blesh commented on #4390
What is Angular 2 min & gzipped?

[2015-10-06 21:57] #4557 closed

[2015-10-06 22:01] blesh commented on #4390
FWIW, if I run the current output Rx.js file through Closure Compiler it's `23.44KB gzipped`

[2015-10-06 22:01] blesh commented on #4390
FWIW, if I run the current output Rx.js file through Closure Compiler it's `23.44KB gzipped`

... I'm sure we can probably cut another ~3-5K out of that here or there.

[2015-10-06 22:03] blesh commented on #4390
... In fact, I bet a lot of that is just repetitious cruft from transpiling classes and modules.

[2015-10-06 22:08] rkirov commented on #4496
Not exposing Subject is a bug due to be fixed when #4540 lands. It is intended for `query.changes` to behave like any other observable in the system.

[2015-10-06 22:08] #4496 closed

[2015-10-06 22:11] ericmartinezr commented on #4496
@rkirov if that's the case [this line](https://github.com/angular/angular/blob/master/modules/angular2/src/core/linker/query_list.ts#L34) should return `this._emitter.toRx()`

[2015-10-06 22:14] mark-buer opened #4558 "Angular 2 EXCEPTION_BINDING swallows exceptions"
For what reason does EXCEPTION_BINDING, the default ExceptionHandler, swallow exceptions instead of re-throwing them?

It certainly leads to *very* unexpected and hard to diagnose behaviour.

For a minimalistic sample that demonstrates the surprising behaviour that this default causes, please see [this example](https://github.com/mark-buer/ng2-play).

[2015-10-06 22:18] rkirov commented on #4496
@ericmartinezr that doesn't sound crazy, let me check with the RX experts and reopen if it makes sense. In any case the urgency of this fix is lower given `query.changes().toRx().subscribe()` workaround.

[2015-10-06 22:18] todoubaba commented on #4496
@ericmartinezr +1

[2015-10-06 22:22] mark-buer commented on #4558
The sample code:
[code]

The console output:
[code]

[2015-10-06 22:48] andresaraujo opened #4559 "[Dart] Transformer url resolver should handle @import statements in stylesheets"
The Dart transformer fails if a stylesheet contains a `@import` statement. (alpha 39)

**Project layout**
[code]

**main.css**
[code]

**Error:**
[code]

[2015-10-06 22:57] vicb commented on #4559
would `@import url("https://fonts.googleapis.com/css?family=Roboto");` work ?

[2015-10-06 22:57] yjbanov opened #4560 "Support using transformers + Dartium in checked mode"
Currently, we fail with "not implemented" thrown by `AbstractChangeDetector.checkNoChanges` on transformed code in Dartium running in checked mode. This is because transformer decides whether to generate no-change checks separately from Dartium. Instead, we should *always* generate checking code, guarded by `assert`. This way, `dart2js` can tree shake these checks off for production, and the asser

[2015-10-06 23:00] andresaraujo commented on #4559
Nope, It still fails @vicb

[2015-10-06 23:00] yjbanov commented on #4559
This is a bug in template pre-compiler. Will fix.

[2015-10-06 23:10] IgorMinar commented on #4500
I can't reproduce this. with a38 or a39. ensure that your typings are up to date (ideally use tsd link to link them from the npm distribution) and if the problem still exists please file a new issue with repro instructions. thanks!

[2015-10-06 23:10] #4500 closed

[2015-10-06 23:12] #4174 closed

[2015-10-06 23:22] yjbanov commented on #4476
All our examples and material widgets work in IE now. Marking as fixed. Will open a separate issue to add Dart tests to saucelabs.

[2015-10-06 23:22] #4476 closed

[2015-10-06 23:23] yjbanov opened #4562 "Run Dart e2e tests in FF, IE, etc in Saucelabs"

[2015-10-06 23:31] thelgevold opened #4564 "Types of property 'directives' are incompatible. When using RouterLink and RouterOutlet"
In alpha.38/39 I started seeing an issue when compiling against the new typing files.

Specifically I get an error when adding RouterLink and RouterOutlet to the directives array.

There seems to be a miss match between the types expected in the directives array
Did something related to directive definitions change?

I am not doing anything special - other than populating the array with injected d

[2015-10-06 23:49] #4521 closed

[2015-10-07 00:20] mark-buer commented on #4558
And because I just discovered how easy it is to create a TypeScript+AngularJS plnkr (awesome!), [here is the sample in an online-runnable form](http://plnkr.co/edit/FBlwUcDQuzguBtZenbN1?p=preview).

[2015-10-07 00:32] thelgevold commented on #4564
Seems to perhaps be related to adding
```[RouterOutlet, RouterLink]``` to the directives array.

[2015-10-07 00:50] thelgevold commented on #4564
A solution is to instead import ROUTER_DIRECTIVES and add that to the directives array.

[2015-10-07 01:19] r-park commented on #4564
I've experienced this as well. I've temporarily added `<any>` :
[code]

[2015-10-07 02:24] rkirov commented on #4315
https://github.com/angular/angular/commit/f7b75330e020d942be21fa704b02c57ec59a4f59 took care of the first checkbox. This means that any further work on bundles will actually have to make sure the bundles work with the e2e tests :)

[2015-10-07 02:46] juliemr commented on #4315
cc @robwormald is working on the CJS stuff.

[2015-10-07 02:54] ericmartinezr opened #4569 "[alpha39] Error message excessively long when missing builtin directives"
When missing `NgFor`, `NgIf`, for example, throws in both alpha38 and alpha39

[code]
*Note* the message will be as long as it can depending on your html structure. It will print the entire tree.

The error message above represents this piece of code

[code]

While in alpha37 the error is much shorter

[code]

Repro with a39 : http://plnkr.co/edit/exK8Nj?p=preview
Repro with a37 : http://plnkr.co/

[2015-10-07 03:40] tbosch commented on #4569
I am working on a new parser that will output the source line/column and
with that make the reporting a lot nicer...

On Tue, Oct 6, 2015 at 7:55 PM ericmartinezr <notifications@github.com>
wrote:

[2015-10-07 04:50] IgorMinar commented on #4512
I fixed this partially in #4556 without a breaking change by aligning everything with `test_lib`

We should still follow up on this in alpha-41 with a breaking change that renames the module to `testing`

[2015-10-07 04:54] ultrasonicsoft opened #4571 "Getting started tutorial missing "npm install traceur" step?"
Hi All,
I was going through each step given in updated getting started page below:
https://angular.io/docs/ts/latest/guide/gettingStarted.html

When I did launch live-server --open=src, browser couldn't load page as it didn't find traceur-runtime.js file.

I think the npm install package command given in tutorial is missing for traceur package.
Currently it is as below

    npm install --save angu

[2015-10-07 04:57] IgorMinar commented on #4571
as of alpha-38 we no longer require traceur-runtime. please update to alpha-38

[2015-10-07 04:57] #4571 closed

[2015-10-07 05:02] IgorMinar commented on #4528
this was changed in 787d1f955f4f52be2f47d96111ce0299581a3900

@yjbanov @jteplitz602 was this intentional? the commit message doesn't mention this change at all.

[2015-10-07 05:02] ultrasonicsoft commented on #4571
I do agree Igor. I am able to run it with alpha 38 and also by installing traceur with alpha 37.

But my point is the given tutorial on official angular2 website uses alpha37 and if anybody try to follow "getting started" page
https://angular.io/docs/ts/latest/guide/gettingStarted.html

They will face this error unless they install traceur which is missing on website step.

So this issue is to upd

[2015-10-07 05:03] IgorMinar commented on #4528
marking P1 until we determine if this was intentional...

[2015-10-07 05:03] jgw96 commented on #4403
I can take this bug if needed? It will be my first time contributing to Angular (hardcore Mozillian here).

[2015-10-07 05:32] IgorMinar commented on #4497
This looks like some type/transpilation issue

A class with a decorator and a constructor like:
[code]

gets transpiled to:

[code]

Note that the last paramtype is an Object rather than ElementRef var.

[2015-10-07 05:54] IgorMinar commented on #4497
This affects everything that is defined in the d.ts file as `InjectableReference`.

e.g. `ElementRef` is defined as:

[code]

@alexeagle, @mhevery did this ever work properly? maybe it didn't and only our recent expansion of classes that got converted to interfaces surfaced this problem.

@alexeagle how close are we with #4518? if #4518 is going to land on tomorrow (Wednesday) then we can skip a f

[2015-10-07 05:59] juliemr opened #4572 "Add an `injectAsync` helper to the test_lib"
The problem:

Currently, using the test injector with an async test is wordy and unintuitive:
[code]

There's a split in the code path anyway for async / not-async, so let's just make this explicit:

[code]

We could deprecate the AsyncTestCompleter separately if we don't want two ways of doing the same thing.

Thoughts?

cc @wardbell and see his version at https://github.com/angular/angular/issue

[2015-10-07 06:08] pkozlowski-opensource commented on #4390
ng2 core bundle is currently ~110K, including Rx. But my understanding is that the goal is to get this number down to < 70K (and still keeping current size of ng1 as the number we should aim for)

[2015-10-07 06:17] IgorMinar commented on #4571
sorry about that. we are doing docs refresh that should be posted later
this week.

On Tue, Oct 6, 2015 at 10:02 PM ultrasonicsoft <notifications@github.com>
wrote:

[2015-10-07 06:18] rolandjitsu commented on #4512
@IgorMinar [4556](https://github.com/angular/angular/pull/4556) did not make it into alpha `39`. Also, what about `angular2/src/test_lib/e2e_util`, will that be exposed as public API? Because I do use `verifyNoBrowserErrors` in E2E tests.

[2015-10-07 06:19] IgorMinar commented on #4403
Thanks for the offer but we are completely rewamping how the d.ts
generation works and this problem will go away with it. See #3082

On Tue, Oct 6, 2015 at 10:03 PM Justin Willis <notifications@github.com>
wrote:

[2015-10-07 06:25] IgorMinar commented on #4512
@rolandjitsu it's part of a40 due tomorrow-ish.

wrt `verifyNoBrowserErrors` that's not a public api at the moment. @juliemr can you make a note of this in the testing API doc? I think it's a useful api, but we need to look into if it can be made public as is or if some changes are needed.

[2015-10-07 06:36] rolandjitsu commented on #4512
@IgorMinar I see, looking forward to it :+1:

I figured it is not, but as you said, it might prove useful to some users, I know it is for me. It would be great to have it public.

[2015-10-07 06:49] blesh commented on #4390
You couldn't get there if you completely removed Rx. It's only 23k right now. I suspect we could get it to 18k or so... But still.

[2015-10-07 07:01] robwormald commented on #4390
Seems like maybe bytes isn't a great thing to base this decision off anyway, as the ideal case is some-tool (a la rollup) stripping out unused code / modules anyway in the not-too-distant future, so its hard to quantify what "Rx" or "Angular2" actually weighs?

[2015-10-07 07:44] cexbrayat opened #4573 "[test] Text bindings are not bound elements anymore"
With the new compiler (introduced in alpha-38), elements with a simple text binding like `<div>{{username}}</div>` are not bound element anymore.

When writing tests, that means they don't appear in `rootTC.debugElement.componentViewChildren` or in `rootTC.debugElement.query(By.css('div'))`.

It leads to write less readable tests, relying on something like `DOM.childNodes(rootTC.debugElement.nativ

[2015-10-07 08:07] pkozlowski-opensource commented on #4573
@cexbrayat did you try alpha.39? There were number of fixes that went into it and it was released just yesterday.

[2015-10-07 08:14] cexbrayat commented on #4573
@pkozlowski-opensource I've got to admit I did not yet (I wanted to have all my 300 tests green before moving on to 39). As far as I saw in the commits in 39 though, there are no changes on this part.

[2015-10-07 08:18] pkozlowski-opensource commented on #4573
@cexbrayat .38 had several problems and .39 has several fixes so I would advise going straight to .39. .38 is just too unstable.

[2015-10-07 08:43] mgechev commented on #4471
What is the status of this issue given https://github.com/angular/angular/issues/4569

[2015-10-07 08:49] jessegood commented on #4558
See https://github.com/angular/angular/issues/1489
It's more with how promises work and isn't directly related to Angular

[2015-10-07 09:07] ocombe opened #4574 "Code font weight on documentation"
Hello,
I find the font used in the code samples from angular.io really hard to read. The problem comes from the "bold" style.
If you remove the `font-weight: 600;` from the `.prettyprint ol` class it becomes much more readable.
Ex: on the following page: https://angular.io/docs/js/latest/api/core/FormBuilder-class.html (try changing this code style from your dev tools).

Any chance that you could

[2015-10-07 09:14] pkozlowski-opensource commented on #4574
@ocombe could we please move it over to https://github.com/angular/angular.io?

Thnx!

[2015-10-07 09:14] #4574 closed

[2015-10-07 09:15] ocombe commented on #4574
Woops sorry :) Doing that

[2015-10-07 09:55] cexbrayat commented on #4573
@pkozlowski-opensource I can confirm this is the same in alpha-39

[2015-10-07 10:01] danicomas opened #4576 "Add support to observe / watch a variable (not a property)"
Now I can have something like that. Why?
https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos_globales/Object/observe

- onChanges doesn't works because it only works with props.
- eventEmitter and return Rx.Observable only returns the first https://github.com/angular/angular/issues/3580#issuecomment-144948976

How can I watch/observe a variable? @gdi2290 @vicb @mhevery

[2015-10-07 10:01] danicomas commented on #4393
Opened a new issue. It is not solved with variables:
https://github.com/angular/angular/issues/4576

[2015-10-07 11:29] ericmartinezr commented on #4569
@tbosch thanks, I'm closing it as a dup of https://github.com/angular/angular/issues/4471

[2015-10-07 11:29] #4569 closed

[2015-10-07 11:37] frickt opened #4581 "unable to create dynamic anchor-names for DynamicComponentLoader.loadIntoLocation"
I need to create unique anchor-names in a ng-for loop to use it with DynamicComponentLoader.loadIntoLocation. A litte example for that you can see below:

    <div>
      <table>
        <tr *ng-for="#vIndex of vArr">
          <td *ng-for="#hIndex of hArr">
            <div #uniqueanchorname{{vIndex}}_{{hIndex}}></div>
          </td>
        </tr>
      </table>
    </div>

the resulting html sh

[2015-10-07 13:16] pkozlowski-opensource commented on #4278
Ok, so @guybedford was kind enough to spend some time with @robwormald and me yesterday to discuss this topic in great details (once again, thank you Guy so much for your time!). The main outcomes of this discussion from my point of view are:
* `System.register` format is not the best long-term idea for out bundles. Arguments are: bundle size, runtime perf hit and "polluting" registry with "privat

[2015-10-07 13:18] TiagoBraga39 commented on #4551
Are you sure?
It is supposed to be:
[code]

[2015-10-07 13:30] TiagoBraga39 commented on #4551
Wait!
The content for components are swapped... Check the html
[code]

[2015-10-07 14:06] adamdbradley opened #4582 "alpha.39: ng-content projection is not working for all selects"
In the example below, the third `<ng-content>` that selects by `[item-right]` is not finding children with the `item-right` attribute.

[code]

Not working in alpha.39:
http://plnkr.co/edit/PrPnQy5Timk6ZkgSFAQs?p=preview

Working in alpha.37:
http://plnkr.co/edit/SthQ8qZjRcTHe0CBqAIg?p=preview

[2015-10-07 14:23] jgw96 commented on #3188
also works for me, this issue can probably be closed.

[2015-10-07 15:00] TiagoBraga39 commented on #4389
:+1: I like this. Also would drop my custom cache, which is nice :)

[2015-10-07 15:14] #3800 closed

[2015-10-07 15:27] btford commented on #4490
Yes– `/` means relative to the root of the application, and `./` means a child of this component.

So this is expected behavior, but the exception here could be a bit better.

[2015-10-07 15:28] adamdbradley opened #4583 "alpha.39: classes added to the original element removed by host class property"
In the below code, the `yellow` css class added to the original element is being removed by the directive's `host: { 'class': 'item' }` property.

[code]

alpha.39 does remove the "yellow" css class from the element:
http://plnkr.co/edit/uWtEnSvK7GMSj3i3MCeG?p=preview

alpha.37 does not remove the "yellow" css class from the element:
http://plnkr.co/edit/ug3KaOTAjYOECLeLW0mQ?p=preview

[2015-10-07 15:43] gdi2290 commented on #4576
what are you trying to accomplish? could you provide a plnkr with a reason why you want to watch a variable

[2015-10-07 17:13] ericmartinezr opened #4585 "Wrong transpilation when there's no type specified in @Input"
Consider the following code
[code]
It gets transpiled to
[code]
But when I add a type it works nicely
[code]

Shouldn't the first case fallback to a *default* type?

I can't reproduce this in a plnkr because I can't see the transpiled code. In plnkr you get the same `SyntaxError` pointing to `@Input()`

[2015-10-07 17:15] IgorMinar commented on #3965
Is this related to dgeni's doc generation or d.ts generation? if it's the latter then we don't need to fix it because the whole d.ts generation will soon be replaced with a different process once #4550 lands

[2015-10-07 17:15] alexeagle commented on #4497
I am really close, just working through some test failures.. @tbosch is helping me with a failure due to injecting Renderer, then I'll rebase and should be close. Still need a review on that PR as well (misko is out today)

[2015-10-07 17:16] pkozlowski-opensource commented on #4585
@ericmartinezr plunker with the syntax error would be useful as well :-)

But yeh, I can confirm that this happens - saw this today as well, but didn't have time to dig into it.

[2015-10-07 17:17] ericmartinezr commented on #4585
@pkozlowski-opensource ok then, there it goes http://plnkr.co/edit/8h7i6r?p=preview

[2015-10-07 17:18] danicomas commented on #4576
With the same example that your plnkr: http://plnkr.co/edit/HfdjvOxGcP0FuAsVeD71?p=preview

@gdi2290 we should be able to watch or observe component variables. For example, if you want to create a service or some library you will need an observe variables without relate the props with the template.

[2015-10-07 17:24] yjbanov commented on #4528
Let's check with @mhevery first. He reviewed this change. I'm not aware of the reasons why this was done.

[2015-10-07 17:29] vicb commented on #4576
@danicomas could you expand on your use case ?

A component property should only change in result to an event which should trigger the change detection thanks to zone.js.

[2015-10-07 17:32] IgorMinar commented on #4497
alright, so we are going to wait for #4518 to fix this. @tbosch can you please work with @alexeagle to expedite the fix?

[2015-10-07 17:33] danicomas commented on #4576
I have used the ES7 standard https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos_globales/Object/observe and it works well. To create services, some components or librares can work well. Look at this:

[code]

[2015-10-07 17:34] vicb commented on #4582
Looks like a bug fix in .39: element that have already been projected can not be projected again.

`<ng-content></ng-content>` would already have projected `item-right` and it would not be projected again.

Feel free to re-open if you think something is wrong here.

[2015-10-07 17:34] #4582 closed

[2015-10-07 17:36] IgorMinar commented on #4528
I spoke with @mhevery, this was an intentional change needed to hide some internal apis, but it also makes sense. We should not make Components looks like Elements whether they are test components or not.

@yjbanov can you please update the change log and close this issue? thanks!

[2015-10-07 17:42] kegluneq opened #4587 "Deferred import causes incomplete .ng_deps.dart"

[2015-10-07 17:42] pkozlowski-opensource commented on #4582
@vicb are you saying it is not a bug? I must say that while I could understand that `ng-content` "takes it all" and there is nothing more to re-project, this looks like a very valid / common use-case.

I must say that I don't know how to solve this properly here. Can we use negation in selectors?

[2015-10-07 17:50] kegluneq commented on #4587
1-liner + a regression test -- will be complete today

[2015-10-07 17:51] yjbanov commented on #4528
Done (https://github.com/angular/angular/commit/5600a95e97fcfc09c803906069f5b1431bcbd414)

[2015-10-07 17:51] #4528 closed

[2015-10-07 17:52] vicb commented on #4572
Why not.

[2015-10-07 17:57] vicb commented on #4582
Yep, works as expected.

Well it seems like `select` has been removed from the WC standard (using `slot` instead) because it was not that useful / used.

[2015-10-07 17:59] pkozlowski-opensource commented on #4582
@vicb I hear what you are saying. But do you have an alternative solution / suggestion for what @adamdbradley is trying to achieve?

I must say that I've bumped into similar use-cases and had to resort to hacks / drop functionality....

[2015-10-07 17:59] IgorMinar commented on #4528
thanks!

[2015-10-07 18:03] vicb commented on #4582
`<span item-center>Center</span>` would be one solution but as you're in control of both the templates you can probably come with other solutions.

[2015-10-07 18:05] vicb commented on #4582
One other solution could be
[code]

+ CSS

[2015-10-07 18:13] IgorMinar commented on #4572
do we even need injectAsync? we can't we just provide `done` as the last argument to the callback?

I'm also thinking that we should make `inject` callback return a promise back to `inject` and then we automatically know when to call done, and more importantly, we can propagate and display errors automatically without users having to do anything:

[code]

it could be shortened even further by a TC

[2015-10-07 18:15] adamdbradley commented on #4582
I guess I can see what's happening here, where the second `<ng-content>` is grabbing everything, to include the third ng-content that should be on the right. However, I think this is a valid use case where developers would want projected content to go in specific areas of their template. Up until alpha.38 this has been working great. Does alpha.39 now work the same way web components do, or does t

[2015-10-07 18:16] robwormald opened #4588 "Fix async pipe so it works with Http / proper Observables"
Now that Http returns Observables proper, the async pipe doesn't work with it. Should be fixed to work with either Proper Observables or our abstraction, until EventEmitter refactor is complete.

[2015-10-07 18:19] cexbrayat commented on #4528
@yjbanov @IgorMinar Thanks for considering this issue (and adding it to the changelog).

May I inquire if there is a plan to have a better test API? Because currently, between this and #4573, tests are borderline readable IMHO...

[2015-10-07 18:25] kegluneq opened #4590 "Add a test to test/transform/integration for transforming deferred libraries"

[2015-10-07 18:26] johnpapa commented on #4490
Thanks for the explanation. Yes, I think the error message and the docs should be more clear on this. Agreed.

I have some feedback from a recent hack night on how the router might be easier for folks to use. I'll gather them and send them in a more coherent form later.

[2015-10-07 18:31] vicb commented on #4572
It depends if we have plan to drop mirrors (reflection) from the tests (Dart)

[2015-10-07 18:33] vicb commented on #4582
@tbosch could here to describe what has been changed and what the future plans are

[2015-10-07 19:10] #4587 closed

[2015-10-07 20:01] mark-buer commented on #4558
@jessegood
Unless I'm missing something, issue #1489 doesn't seem relevant. Please correct me if I'm wrong.

This issue is not about unhandled exceptions.

This issue is about an Angular API method, in combination with the default Angular ExceptionHandler, returning a promise that does not behave like promises should behave.

In short, running this (with the default ExceptionHandler):
[code]
Resul

[2015-10-07 20:09] #3829 closed

[2015-10-07 20:13] mark-buer commented on #4558
If I hack the Angular library, and change the default ExceptionHandler to rethrow exceptions instead of swallowing them, the promises behave as expected.

In other words, changing `platform_bindings.ts` from:
[code]
to:
[code]
appears to fix the problem.
(note that false means swallow exceptions and true means rethrow exceptions)

Which brings me to the original question I posed in this issue:

[2015-10-07 20:54] tbosch opened #4591 "Build: support serving examples without a full `gulp build` again"
Since https://github.com/angular/angular/commit/f7b75330e020d942be21fa704b02c57ec59a4f59, the targets `gulp serve.js.dev`, ... don't work unless a manual `gulp build` was done before.
This prevents incremental development on examples and makes debugging errors extremely hard

[2015-10-07 21:12] tbosch commented on #4514
Ok, I think this is a bug in your code:

1. In the `toggle(event)` method you are firing a `change` event with the value of `this._checked`, which is a boolean
2. `HostListener` is listening to the `change` event as well and tries to evaluate `$event.target.value`.
3. This will throw, as `$event` is a boolean now.

I.e. `@HostListener` is listening to events that your component is firing as well.

[2015-10-07 21:14] tbosch opened #4593 "Proposal: A directive should not receive events that it fired"
E.g.
[code]

[2015-10-07 21:15] tbosch commented on #4514
I created another issue to discuss whether we want to prevent directives from listenting to their own events: https://github.com/angular/angular/issues/4593

[2015-10-07 21:15] #4514 closed

[2015-10-07 21:19] IgorMinar commented on #4591
all the e2e examples and tests now use bundles. we should have a way to switch between using bundle vs individual files.

supporting incremental rebundling is not an option at the moment because it takes too long

[2015-10-07 21:20] mochang opened #4595 "5 min quickstart JavaScript documentation shows TypeScript code"
[https://angular.io/docs/js/latest/quickstart.html] (https://angular.io/docs/js/latest/quickstart.html) shows the TypeScript tutorial, it should show the JavaScript tutorial.

[2015-10-07 21:49] yjbanov opened #4596 "clang-format does not understand all regexps"
It demands that this:

[code]

is formatted as this:

[code]

[2015-10-07 22:01] sasha7 commented on #4506
@xbtequila I tried your workaround but it doesn't work for SVG that looks like this:

[code]

Do you happen to know why it is not working?

[2015-10-07 22:02] typotter commented on #4150
This bug appears to be happening again, at least in angular-dart.

[2015-10-07 22:23] IgorMinar commented on #4514
thanks @tbosch!

[2015-10-07 22:59] tbosch opened #4598 "Content projection: prioritize ng-content projection by selector specifity"
E.g.
[code]

Here, we would first find nodes that fit the `a[item]` selector.
Then we would use the remaining nodes and filter out the ones that match `[item]` selector.
And only the nodes that don't match any other selector would go into the `<ng-content>` without a selector.

With this, projection is independent of the order of `<ng-content>` elements.

[2015-10-07 22:59] tbosch commented on #4598
Note: This is in contrast to how the original `<content>` and the new `<slot>` elements for ShadowDom work. They always project using the order of the `<content>` / `<slot>` elements.

[2015-10-07 23:00] tbosch commented on #4582
The above problem will stay, even with the slots proposal, as it also
distributes based on the order of the used <slot> nodes.

However, as <content> is going away as a standard, we are more free do
define our own meaning.
The right thing would be to project into ng-content elements based on the
selector specifity:
I.e. first project into an <ng-content> with a long selector, and only
project the

[2015-10-07 23:01] danculley opened #4599 "Conditional (ternary) operator not short-circuited in template expressions"
In expressions in a template, all branches of the conditional (ternary) operator are evaluated. Therefore, with an expression like the below:
[code]
both ```doIfTrue()``` and ```doIfFalse()``` are executed.

Here is a simple plunk demonstrating the issue: http://plnkr.co/edit/4cowZb

[2015-10-07 23:03] ericmartinezr commented on #4599
@danculley this may be related https://github.com/angular/angular/issues/3701, I have a similar problem with that too, but I'm waiting for the fix to be merged and test again.

[2015-10-07 23:12] tbosch commented on #4551
@TiagoBraga39 yes, you are right, this is still buggy!

[2015-10-07 23:12] alexeagle commented on #4497
More post-mortem analysis: we have tests in our typings, but these tests only assert that we can compile, not that an angular application runs. Further, our hello world examples don't use custom bindings. We should have an end-to-end test which uses our typings distribution, starts a non-trivial app with custom bindings, and verifies that it starts.

[2015-10-07 23:51] juliemr commented on #4572
Here's a stab at this:

https://github.com/angular/angular/compare/master...juliemr:testapi

I haven't looked at how it would work with Dart at all yet.

[2015-10-08 00:19] naomiblack commented on #3965
moving out to alpha-42.

[2015-10-08 00:29] tbosch commented on #4572
Victor, the tests need the runtime compiler, which only works with Mirrors
On Wed, Oct 7, 2015 at 4:51 PM Julie Ralph <notifications@github.com> wrote:

[2015-10-08 00:43] jessegood commented on #4558
I see now. My impression from the linked issue was `just log, because throwing is meaningless and/or spammy in many cases in the library`, but would have to get an official comment from the Angular team.

[2015-10-08 01:04] robwormald opened #4603 "Implement ZoneScheduler for Observable / EventEmitter integration"
Background: see insightful / useful comment from @bman654 here https://github.com/angular/zone.js/issues/51#issuecomment-118863100

My initial thoughts are this could provide nice performance and testability boosts - most Observable things can run outside the zone / not trigger UI updates, and things like the async pipe would provide an easy way to hook into the appropriate zone. As we have an int

[2015-10-08 01:07] adamdbradley commented on #4598
+1 I think this approach is very useful for ng-content and allows devs to create templates without any gotchas.

[2015-10-08 01:38] adamdbradley commented on #4551
Oh great catch @TiagoBraga39! Thanks for pointing that out, I didn't even notice.

[2015-10-08 02:12] TedSander commented on #4535
@naomiblack do we have anyone assigned to this? It is causing us some pain for our latency tests.

[2015-10-08 02:20] vicb commented on #4598
/refs
- https://hacks.mozilla.org/2015/06/the-state-of-web-components/
- https://github.com/w3c/webcomponents/blob/gh-pages/proposals/Slots-Proposal.md

We should be careful with perf implication of whatever we choose to implement.

Let's start by collecting use cases where the selector specificity would be useful.

[2015-10-08 02:37] IgorMinar commented on #4572
We should design the best api possible for js/ts and if necessary create
separate api for Dart. Keep in mind that this api is meant for angular apps
and doesn't need to be used by the angular core test suite which needs to
be transpilable (if that's a real world) to dart.

On Wed, Oct 7, 2015, 5:29 PM Tobias Bosch <notifications@github.com> wrote:

[2015-10-08 02:40] IgorMinar commented on #4528
Yes, we are in the process of improving the testing apis.

Cc: @juliemr

On Wed, Oct 7, 2015, 11:19 AM Cédric Exbrayat <notifications@github.com>
wrote:

[2015-10-08 03:10] vicb commented on #4599
At some point we had a different code path for template bindings `{{aBoolean ? doIfTrue() : doIfFalse()}}` and actions `(event) = aBoolean ? doIfTrue() : doIfFalse()` & we would short-circuit only in the later case.

As of today there is a single code path within the change and we do not short-circuit any more (both template bindings & actions have the same behavior).

@vsavkin do you remember whe

[2015-10-08 03:15] tbosch commented on #4598
@vicb This happens only during compilation, which eventually will be done in a build step. Also, as I know the new compiler, this will have almost no impact on the compile performance. Essentially we add the cost of one sort operation over the ng-content elements in a template, and need to calculate the specifity of a css selector that we already parsed (via `CssSelector`) as a number...

[2015-10-08 03:15] tbosch commented on #4598
Remember, our `ng-content` is very static, see https://docs.google.com/document/d/1BXUFVpImyWN7ynyPKehAesctP0UJTaDYbDTNVkarSeQ/edit

[2015-10-08 03:37] vicb commented on #4598
Useful link, thanks !

[2015-10-08 04:17] juliemr commented on #4572
Agreed - however, if possible, it's really helpful to be able to use the angular core test suite as examples and documentation of how to test, so if we can make it work smoothly with both, I would be very happy.

[2015-10-08 04:38] wardbell commented on #4572
Hi folks.  When I took my first stab at this, I made `done` the *first* parameter. It is the only parameter that is essential to the callback and a reliable home for the `done` function. I don't think this is a huge deal for the tester. I'm just saying that it seems easier in first position other things being equal.

I'm thrilled that you found a way to have one `inject` that can be either sync or

[2015-10-08 04:41] juliemr commented on #4572
@wardbell my current implementation is pretty naive - I just check if the length of the parameters to the injected function is greater than the length of the types to inject :)

[2015-10-08 04:46] wardbell commented on #4572
Igor mentioned a feature I had in my version, namely that the callback returns a promise and the wrapper appends the requisite `catch(fail).then(done)` trailer. This alleviates the need for the developer to remember that sequence (which I find absent in many tests).

This works great as long as the test function has a ready promise to return ... which is most of the time. It's a bit clumsy when yo

[2015-10-08 04:55] wardbell commented on #4572
@juliemr That is sweetly naive ... and probably sufficient most of the time.

We must tell the test developer about it. I have, in the past, injected a service for some side-effect without actually needing it. In some such cases I listed it in trailing inject list position  in which case I could omit it from the end of the parameter list. Maybe that was being too clever and I'd have a hard time re

[2015-10-08 05:33] cexbrayat opened #4605 "[pipes] chaining a pipe after slice"
Chaining a pipe after a `slice` is broken:

    {{ users | slice:0:1 | json }} // outputs [object Object]

See here for quick repro http://plnkr.co/edit/UFrCtQ?p=preview

[2015-10-08 05:34] EricTsangX commented on #4278
Hey guys, just one opinion about using new bundle.
Right now I am playing with react and webpack, I found the hot-reload feature is extremely powerful while developing apps. I can edit HTML DOM and preserve js variables. Does angular2 support it now? If not, I hope angular2 and new bundle can adapt that feature.

[2015-10-08 05:50] EricTsangX opened #4606 "Feature: hot reload support?"
Hey guys, right now I am playing with react and webpack, I found the hot-reload feature is extremely powerful while developing apps. I can edit HTML DOM and preserve js variables.
Does angular2 architecture support it now? If not, I hope angular2 can adapt that feature.

[2015-10-08 06:08] vicb commented on #4605
What you are printing is `{{ users | slice:0:1|json } }}`

You should add parents `{{ (users | slice:0:1) | json }}`

[2015-10-08 07:06] danicomas commented on #3807
Status of that @vicb @mhevery @jeffbcross ?

[2015-10-08 07:08] jeffbcross commented on #4564
+1 I ran into this, too, when using directives individually.

[2015-10-08 07:17] Gillespie59 opened #4607 "@Attribute decorator should be able to use parameter name for its name property"
Right now, we have to specify the attribute name as a parameter of the @Attribute decorator.

[code]

It would be very interesting to be able to specify this attribute name directly by naming correctly the corresponding parameter, in order to avoid duplicates code.

So for example :

[code]

What do you think ?

[2015-10-08 07:23] mgechev commented on #4607
It makes sense to me. I think this is already supported by some property decorators (such as `@Input` and `@Output`).

[2015-10-08 07:27] mgechev commented on #4606
I believe hot reloading with Angular 2 is doable, however, I this issue seems out of the scope of this repository. May be we can discuss this in gitter?

[2015-10-08 07:53] danicomas opened #4608 "Systemjs is not loading well the dependencies (alpha 39 with cdn)"
[code]

![image](https://cloud.githubusercontent.com/assets/4038192/10360632/56c17a76-6da2-11e5-9312-7f78f259feb8.png)

or

[code]

![image](https://cloud.githubusercontent.com/assets/4038192/10360694/c9d1f496-6da2-11e5-8d58-05ceb0376fde.png)

[2015-10-08 08:08] pkozlowski-opensource commented on #4607
Would this "survive" minification?  And what about attribute names that are not valid JS identifiers (ex.: `foo-bar`)?

[2015-10-08 08:12] pkozlowski-opensource commented on #4608
It doesn't look like your systemjs config is correct, see a working on in action here: https://github.com/pkozlowski-opensource/ng2-play/blob/master/index.html (alpha.39).

Send a plunk if you need more help, but above all please direct those support questions to https://gitter.im/angular/angular so we can keep GitHub issues for bug reports and feature requests. Thnx!

[2015-10-08 08:12] #4608 closed

[2015-10-08 08:15] pkozlowski-opensource commented on #4606
Yeh, there are many parts of the workflow that we didn't quite figure out yet, "hot reload" being one of them. We do understand the importance of the kicking-ass workflow and there is a lot of work going on into it. At the moment our priority is to figure out proper packagining / bundling story, though.

I'm going to close this one since this is not immediately actionable, but this is on our radar

[2015-10-08 08:15] #4606 closed

[2015-10-08 08:24] mgechev commented on #4607
@pkozlowski-opensource the attribute names, which are not valid JS identifiers could be normalized to lowerCamelCase (like the HTML property names normalization), no?

Minification definitely seems like a valid point.

[2015-10-08 08:34] pkozlowski-opensource commented on #4607
Of course, but this introduces yet another thing to remember

[2015-10-08 08:40] danicomas commented on #4608
I don't know why you close the issue :S

The same with your example:

[code]

It doesn't work.

![image](https://cloud.githubusercontent.com/assets/4038192/10361497/c70a7dc2-6da8-11e5-8b0d-c0a482bdb395.png)

 Please don't use node_modules, use CDN's. I have changed systemjs to https://raw.githubusercontent.com/systemjs/systemjs/master/dist/system-csp-production.js but this error occurs:

![image](

[2015-10-08 08:43] pkozlowski-opensource commented on #4608
I closed the issue since there is nothing we can do on the Angular side here. This is a pb of the SystemJS configuration and as such this is a support question. Such questions belong to gitter support channel and I was talking to you on gitter. I've explicitly asked you to provide a plunker so I can help you more.

In short: GitHub is not a place for support questions, let's have this conversation

[2015-10-08 08:45] danicomas commented on #4608
Ok I thought that it was a ng2 problem. Sorry @pkozlowski-opensource

[2015-10-08 08:55] pkozlowski-opensource commented on #4598
+1, this is very common scenario. Another real-life example with a simple bootstrap panel directive: https://github.com/pkozlowski-opensource/ng2-bs/blob/master/src/panel/panel.html

[2015-10-08 09:10] gkalpak commented on #4605
It sounds like a pain when chaining multiple pipes (which is quite common).
Couldn't the associativity be changed, so that it is possible to chanin pipes without needing paranthesis ?

[2015-10-08 09:14] pkozlowski-opensource commented on #4605
@gkalpak exactly my thoughts. Especially that it works just fine in ng1.

I'm going to re-open this one, @vicb let's have some more conversation on this one.

[2015-10-08 10:07] danicomas commented on #3807
Closed in alpha 19 works well :D

[2015-10-08 10:07] #3807 closed

[2015-10-08 10:44] frickt opened #4610 "colspan is not recognized as native element in td/th table elements"
I need to bind colspan to a td element, unfortunately it's not working:

template.html:
[code]

error:

    Can't bind to 'colspan' since it isn't a known native property in ShowTypeControlComponent > div:nth-child(0) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(0) > th:nth-child(1)[colspan={{h}}]

is there a way to add native properties to elements?

[2015-10-08 10:51] pkozlowski-opensource commented on #4610
colspan="{{h}}" is just sugar for [colspan]="h" and this in turn means: bind h to colspan property. There is no colspan property in html, only colspan attribute.

If you want to bind to an attribute use [attr.colspan]="h" syntax

[2015-10-08 10:52] #4610 closed

[2015-10-08 10:52] jigargandhi commented on #4595
Shouldn't this issue be posted in [Angular.io](http://github.com/angular/angular.io/issues) as it is related to documentation?

[2015-10-08 11:01] ericmdantas opened #4611 "Custom events are being fired twice"
Here's the plnkr: http://plnkr.co/edit/8w2rm7CEBQh7kgkqQ500?p=preview

[2015-10-08 11:28] ericmdantas commented on #4611
For posterity, you should not have `outputs: ['someEvent']` and `@Output() someEvent:EventEmitter = new EventEmitter()`.

Correcting the code in plnkr, we'd have the following:

[code]

And then it'd count one by one.

Thanks, @ericmartinezr.

[2015-10-08 11:28] #4611 closed

[2015-10-08 11:37] pkozlowski-opensource commented on #4595
Yes, this belongs to angular.io

[2015-10-08 11:37] #4595 closed

[2015-10-08 14:04] TiagoBraga39 opened #4612 "Angular 2 Material"
@jelbourn Sorry to open a thread here, I have a couple of questions.

1. Is there any date we can expect to start using angular material?
2. Since it is not ready, do you recomend any other framework for now? I need to keep things on going. And when this is ready, I'll change to angular material.
3. Regarding to MdInputContainer being a directive: Did you choose it that way to avoid retargeting ev

[2015-10-08 14:30] tbosch commented on #4598
Pawel, but your example does not require a special projection order as the
selectors don't overlap
On Thu, Oct 8, 2015 at 1:55 AM Pawel Kozlowski <notifications@github.com>
wrote:

[2015-10-08 15:30] Gillespie59 commented on #4605
@gkalpak :+1: We should have exactly syntax than the one we currently have in angular 1 !

[2015-10-08 16:08] rolandjitsu commented on #4514
@tbosch which event name should I rename, `@Output() change: EventEmitter = new EventEmitter();`? Also, should I be calling `this.onChange(this._checked);` or that is unnecessary?

[2015-10-08 16:20] jeffbcross commented on #4391
@gdi2290 does the spec specify this behavior? When I `toString` the native `Headers` object, I get `"[object Headers]"`

[2015-10-08 16:52] vicb commented on #4605
/ref https://github.com/angular/angular/pull/2348

/cc @mhevery

[2015-10-08 17:09] pkozlowski-opensource commented on #4598
@tbosch I was under the impression that with the template I've linked I would hit the same pb as described in https://github.com/angular/angular/issues/4582. From what I understand from the description in #4582 `<ng-content></ng-content>` would project everything and there would be "nothing left" for `<ng-content select="bs-panel-footer"></ng-content>`.

Anyway, I'm going to re-test my scenario wi

[2015-10-08 17:20] btford commented on #4490
Sounds good, much appreciated!

[2015-10-08 17:21] juliemr commented on #4572
Note: I can get this working with dart, see https://github.com/angular/angular/compare/master...juliemr:testapi-2

[2015-10-08 17:33] jeffbcross commented on #4390
@robwormald AFAIK rollup only works to tree-shake never-imported exports from ES6 modules. It would require some refactoring for Rx to take advantage of this (and angular, too, I'm sure) since operators are on the prototype.

[2015-10-08 17:47] yjbanov commented on #4559
@andresaraujo: we should be able to handle absolute `@import` URIs properly. Could you give it a try and report if the issue is fixed?

[2015-10-08 17:47] yjbanov commented on #4559
Closing for now. Please reopen if the issue is still there.

[2015-10-08 17:47] #4559 closed

[2015-10-08 18:01] alexpods opened #4615 "Can't add event listener (output binding) without body"
This example doesn't work:
[code]
while this works perfectly well:
[code]
See [this plunker](http://plnkr.co/edit/Q47Nw9UCIKx7MifMTtPP?p=preview) and [this StackOverflow question](http://stackoverflow.com/questions/33021557/angular2-with-typescript-simple-example-with-local-variables)

[2015-10-08 18:12] ericmartinezr commented on #4615
@alexpods see https://github.com/angular/angular/issues/3754, I saw the question too, but the error he showed didn't seem anything like the one you see in the repro

[2015-10-08 18:16] alexpods commented on #4615
@ericmartinezr Ouh, thanks. I didn't see it before.
Close this as a dup.

[2015-10-08 18:17] #4615 closed

[2015-10-08 18:31] alexpods commented on #3754
@pkozlowski-opensource

I think empty event listeners must be supported. Here's my reasons:

1. `ng-model` requires to add entire `angular2/form` library to my project. What if I don't need it or I want to use some  other "form" library for angular2?

2. I can create empty event listeners anyway. For example:
[code]
Maybe just allow people to do it more gracefully?

[2015-10-08 18:33] jeffbcross commented on #4391
@gdi2290 btw I'm not fully grasping your use case. Could you break the problem down into a real-world use case?

[2015-10-08 18:38] jelbourn commented on #4612
@TiagoBraga39
1. Nope.
2. Angular 2 itself is still in alpha, so there's not exactly a wealth of component libraries for it.
3. The current state of the components is super experimental. MdInput is definitely going to change before too long. For now it's not a `Component` simply because it doesn't have a template.
4. `Query` didn't exist when I wrote it.

[2015-10-08 18:38] #4612 closed

[2015-10-08 18:39] #4023 closed

[2015-10-08 18:40] #3634 closed

[2015-10-08 18:43] #4551 closed

[2015-10-08 18:50] jeffbcross commented on #3553
@gdi2290 can you give some more info on the use case you're trying to support? You want the app, running on the server, to make an http request for a resource on the same server? What is the actual url of the request that's being made, and what is it expected to be?

[2015-10-08 18:52] jeffbcross commented on #2840
Closed via 34518f0f2d23019f34829bb49eb3d3f4efe80516

[2015-10-08 18:52] #2840 closed

[2015-10-08 18:57] #2842 closed

[2015-10-08 19:07] jeffbcross commented on #2806
@mgechev yes, makes sense to have multiple interfaces. What do you think about:

[code]

Regarding whether or not we should have a runtime error, we should be consistent with the rest of the framework, which I think generally strays away from runtime type checking. So by splitting interfaces, we accomplish the original objective of the issue. PR welcome!

[2015-10-08 19:09] jeffbcross commented on #2810
Closing since there is only JS now.

[2015-10-08 19:09] #2810 closed

[2015-10-08 19:12] mgechev commented on #2806
Okay, I'll take this one.

[2015-10-08 19:15] TiagoBraga39 commented on #4612
Got it! Thank you very much :)

[2015-10-08 19:35] blesh commented on #4390
We'd be better off getting ES7 function bind into TypeScript.

... although using ES7 function is likely a hit to operator performance I would guess. But probably nothing most people care about.

[2015-10-08 20:50] juliemr commented on #4512
Sorry, I'm not sure what the decision was on the naming here. Can we clarify?

- We have a public testing library, which is currently the `angular2/test_lib` module
- We have an internal to angular core testing module, which is currently `angular2/test` module

I do not think these should be unified, since we may be using internal things in testing which should not be publicly exported. I think th

[2015-10-08 22:40] juliemr commented on #4572
OK! Here is the latest and greatest (and still in progress) idea: https://github.com/juliemr/angular/tree/testapi-3

The strategy here is:
- Make a separate test library for use outside of core angular. We may merge the two later, but for now, this lets us develop without worrying about transpiling to Dart and without having to make massive changes to all the core angular2 tests.

- Wait for retur

[2015-10-08 22:44] juliemr commented on #4572
Also @wardbell I'm not sure what you mean - the entire Angular audience writes tests, right? :)

[2015-10-08 22:57] jeffbcross commented on #2806
@mgechev I've self-assigned just to show that there's an owner.

[2015-10-09 00:12] itslenny commented on #3321
This might be resolved, but I'm not sure when / how.

I created the slice filter, but I wasn't aware of this issue and didn't make any effort to resolve it.

In a quick attempt to reproduce this I modified the routing test. I updated line 5 of `angular/dist/dart/examples/web/src/routing` to use a slice that returns the whole array:
[code]

It seems to work fine. It did not produce any errors. I en

[2015-10-09 00:56] yjbanov commented on #4475
@gdi2290: no, here we only develop a process, but the process would have to define where to post ideas, how to communicate/review them to the Angular team and the community, prototype them and finally accept/reject them.

[2015-10-09 01:16] naomiblack commented on #4583
This is important but not blocking. @adamdbradley says they have another way around this.

[2015-10-09 02:23] btford commented on #4564
Hm, this seems like an issue with typings. @alexeagle @mprobst – can you offer any advice?

[2015-10-09 02:27] btford commented on #1594
@alxhub – did this land? Can this be closed?

[2015-10-09 02:27] btford commented on #3830
@alxhub – Can you give a status update on this?

[2015-10-09 02:31] thelgevold commented on #4564
Yeah, it's just a typings issue since I can get around it by changing the type to 'any' or just inject ROUTER_DIRECTIVES. There are no runtime issues.
In general I don't mind using "umbrella" constructs like ROUTER_DIRECTIVES or CORE_DIRECTIVES, so this is not a big deal to me.
I basically just added this issue for awareness in case other developers come across it.

[2015-10-09 02:33] mprobst commented on #4596
I'll look into it. You can probably work around this for the time being by
escaping the slash, or by instantiating a RegExp object from string.

Yegor <notifications@github.com> schrieb am Mi., 7. Okt. 2015, 14:49:

[2015-10-09 02:33] btford commented on #4361
@alexeagle – how should our bundling work WRT interfaces? Should @brandonroberts see errors about these interfaces.

@brandonroberts – in your example, there's never a situation where `canReuse` would be called. You never reuse components of different type when navigating between routes. Also, the interfaces should be imported from `angular2/router` rather than their directory in `src/...`.

I'm g

[2015-10-09 02:33] #4361 closed

[2015-10-09 02:34] btford commented on #4333
@rvramesh – exactly right.

[2015-10-09 02:49] btford commented on #4564
I think (hope!) we can improve the experience for the next dev who runs into this issue.

[2015-10-09 03:06] btford opened #4622 "refactor(router): rename "as" to "name" in RouteConfig"
John Papa proposes we rename `as` to `name` in `RouteConfig` to reduce some of the confusion about its purpose:

So this:

[code]

Would become this:

[code]

/cc @johnpapa

[2015-10-09 03:07] johnpapa commented on #4622
`component: MyCmp` above should be a variable, not a string ... right?

[2015-10-09 03:11] ericmartinezr commented on #4622
If that's the alias, why not just call it `alias`?

[2015-10-09 03:14] btford commented on #4622
@johnpapa – correct. It should be a reference to a type.

@ericmartinezr – I'm not opposed to "alias," but I don't think that it serves to explain meaning better than "name." "Alias" suggests to me that this is an alternative way to refer to the route, not the primary typical case.

[2015-10-09 03:15] johnpapa commented on #4622
I `name` i most clear as it conveys the name of the route.

[2015-10-09 03:45] DanWahlin commented on #4622
I like `name` better as well.

[2015-10-09 03:55] btford opened #4623 "feat(router): links without a leading slash"
@matsko and @IgorMinar and I talked about this in the past.

Currently, we require all `router-link`s to have their first element to start with either `/` or with `./`:

[code]

For apps with one level of routing, the distinction between routing to a child and routing to a sibling is irrelevant. It'd be nice to omit the leading `/` or `./`:

[code]

We should change the behavior of generating the

[2015-10-09 05:51] petebacondarwin commented on #4622
If you don't provide a name does it default to something? Perhaps something defined in the component?

[2015-10-09 07:14] gdi2290 commented on #4622
I guess you can even make a default case using the component name

[code]

[2015-10-09 07:18] gdi2290 commented on #4391
#### tldr;
usecase: On the server during bootstrap we need it serialize each http call on success made on the server. Then we transfer each request to the client by embedding each call into the `index.html` where the client application will replay the calls during the same bootstrap. The replay of the client calls we need to reconstruct each http call as a response and return it immediately.

toSt

[2015-10-09 08:18] tommymcdonald commented on #4622
`name` seems more semantic to me over `as` as well. Is it set to default to the component name currently?

[2015-10-09 10:13] pkozlowski-opensource commented on #4278
@weswigham thnx for pointing out bundling-related work on the TS side. I've just went through entire conversation in https://github.com/Microsoft/TypeScript/issues/4434 and I think that many corner cases that are discussed there (ex. bundled module importing sth from another bundled file, dynamic loads from bundles) are very relevant to the bundling problem we are discussing here.

I want to go ov

[2015-10-09 10:14] mediacad opened #4626 "ComponentRouter - Use canActivate in Angular 1 application"
How can I use the CanActivate method (in the ComponentRouter) in an Angular 1 ES5 application ?

[2015-10-09 10:18] bhebb opened #4627 "binding radio button in a form using Angular 2"
Hi,
How can I bind a radio button using angular2?

Best regards

[2015-10-09 10:21] mlaval commented on #4525
`fs.readFileSync` is obviously the cause of the problem as it tries to open a file when too many are already opened.

Digging a bit more, I found out that after executing `new karma.Server({...}).start()`, there is no more file handle available. This means that the very next file access will fail, be it `chokidar` or `check-node-modules`.
Karma itself is not impacted because it uses `graceful-fs`

[2015-10-09 10:32] theFifthElf commented on #4131
This appears to be fixed in 39 (just updating the include in the plunkr)
Shall I close it?

[2015-10-09 12:53] mlaval opened #4628 "Shadow CSS and @import in Firefox"
Due to https://bugzilla.mozilla.org/show_bug.cgi?id=625013 , our trick to transform CSS string into rules fails in Firefox when there is an @import rule.
See https://github.com/angular/angular/blob/master/modules/angular2/src/core/dom/generic_browser_adapter.ts

Currently, there is a try/catch to avoid the error, but it means that the rules are lost in the transformation.The new test introduced by

[2015-10-09 13:21] brandonroberts opened #4630 "Router outlet contents not disposed if component throws an exception"
I came across this issue due to leaving out a binding in a component. If you have a component that throws an exception when being loaded, the component contents are displayed, but if you then go to another route, the contents for the component that threw the exception are still left behind. Navigate back and forth between the Home and About Routes in the plunk below to reproduce. Based on alpha 40

[2015-10-09 13:56] gustavoq-infocorp opened #4631 "problem with ng-content within a ng-for"
When a component has a `ng-content` within a `ng-for` only one `ng-content` is rendered.

## Component with the for and content   ( list.ts )
[code]
## Component using the List component  ( app.ts )
[code]
Can see the code with the problem here http://plnkr.co/edit/RbvRWV0O1jiWoCcs6dAF?p=preview

Maybe  @tbosch can see the problem here

[2015-10-09 14:25] robhicks opened #4632 "http.post(url, postData, options) does not set header"
This doesn't add the content type to the header. The header remains "text/plain".

[code]

[2015-10-09 14:34] alfonso-presa commented on #4525
@mlaval Your patch worked perfectly for me, thanks!

Is there any possibility of adding this patch to the main branch to fix the situation until karma/graceful-fs/node get's fixed? It's a little bit of a pain having that file always dirty in the local folder, but anyway is something I can live with, I guess (sigh).

[2015-10-09 14:36] mprobst commented on #4564
@btford this looks as if `InjectableReference` was not a subtype of `Type`. It is not a subtype of `any[]` (because that is an `Array`). I actually cannot find that type at all in angular2, am I looking in the wrong place?

[2015-10-09 14:45] alfonso-presa commented on #4525
BTW just in case it gives you some more clues, what I was doing to run the tests (before applying your patch that is a lot much better), was watching only the `gulpfile.js` instead of the full modules folder. This way it runs, so it seems like there are still some file handles avail (at least one :-) )....

[2015-10-09 15:10] jeffbcross commented on #4564
@mprobst `InjectableReference` is only defined in our d.ts template https://github.com/angular/angular/blob/master/docs/typescript-definition-package/templates/angular2/angular2.d.ts.template.html

[2015-10-09 15:16] xbtequila commented on #4506
@sasha7 The "xlink" Attribute is not working in my quick workaround, because it has to be created in the correct namespace. A fork with node and attribute namespaces can be found here: https://github.com/xbtequila/angular

[2015-10-09 15:16] mprobst commented on #4564
@jeffbcross I see. Well, `InjectableReference` is an empty interface (i.e. no requirements on its type), whereas `Type` is `Function` essentially, so that explains why these are not compatible.

I don't know enough about the DI to say what's the right way to fix that, though. You could make `InjectableReference` extend `Type`, or make `Type` just a marker/empty interface. Maybe @vsavkin has an opi

[2015-10-09 15:27] mediacad opened #4633 "[ComponentRouter] templateUrl and lifecycle hook in Angular 1"
In my application in Angular 1, when I use the property 'template' in the directive, $onActivate works fine. But when I use the property 'templateUrl', $onActivate doesn't work (but the template is displayed fine).
Exemple :
[code]

Is it a bug ?

[2015-10-09 15:30] wardbell commented on #4355
Love the direction.

What other attribute could there be than `ng-for`?  It the answer is "none", then we may be able to come up with an obvious approach that does not need a micro syntax.  I'm thinking about that approach so that we don't have to come up with extra rules for `template`

[2015-10-09 15:42] rolandjitsu opened #4634 "Rx observable.next does not trigger the callback registered on .subscribe"
I have a few unit tests that seem to fail with the latest releases. I created a class that fetches an SVG element, caches and returns it through a Rx observable:
[code]
And a small unit/integration test for it:
[code]
But it seems like, during the tests, the callback registered during subscription never get's triggered:
[code]
I tried to debug it and I can confirm that up until:
[code]
the code is

[2015-10-09 15:57] tlancina opened #4635 "QueryList query.changes.subscribe is not a function"
From the CHANGELOG:
[code]

This throws `query.changes.subscribe is not a function` in alpha.40: http://plnkr.co/edit/8hcr2WIjmSuwiAV0wEmN?p=preview (see container.ts)

It works with query.changes._subject.subscribe though, so I'm not sure if it's a documentation issue or a bug :)

[2015-10-09 16:03] ericmartinezr commented on #4635
@tlancina it is in fact a bug. You can use `query.changes.toRx().subscribe()` for now. [EventEmitter is being refactored](https://github.com/angular/angular/pull/4604) (returned by `changes`), so in futures releases you'll be able to use directly `query.changes.subscribe())

[2015-10-09 16:09] tlancina commented on #4635
@ericmartinezr great thanks, that feels much better than using the private property.

[2015-10-09 16:10] todoubaba commented on #4635
A duplicate of https://github.com/angular/angular/issues/4496.
For now:
[code]

[2015-10-09 16:18] wardbell commented on #4572
I don't know what else to do but document that test goes bad if don't return a promise.

That's not much different than failing to provide a done param in a standard jasmine test.

The good news is that vs code displays a massive number of red squiggles if you forget to return a promise (or it did with my injectAsync prototype). Maybe that's another reason for separate inject and injectAsync metho

[2015-10-09 16:23] tlancina commented on #4635
Ah didn't see the dup, closing.

[2015-10-09 16:23] #4635 closed

[2015-10-09 17:09] dpogue commented on #4626
It's been renamed `$canActivate` and it must be specified on the function that returns the directive definition:

[code]

[2015-10-09 17:30] PascalPrecht commented on #4355
I think that users are going to have a hard time grasping that they won't need the `*`, after they learned why they normally have to. Not sure, but maybe it's worth considering keeping the `*` here too?

[2015-10-09 17:56] mediacad commented on #4626
Thanks !

[2015-10-09 17:56] #4626 closed

[2015-10-09 17:58] wardbell commented on #4355
My thought was to treat the template as a component with properties such as `list`

You might end up with
[code]
Not sure how to handle the `index`

[2015-10-09 18:29] mhevery commented on #4576
I believe what you asking is to arbitrary watch properties on objects like you can do in Angular 1 with `$watch`. This can not be added in Angular 2 because it requires that we would ship the parser with every release, which would prevent offline compilation and fast bootstrap on mobile devices. So this is a tradeoff which we have knowingly made.

WONT_FIX

[2015-10-09 18:29] #4576 closed

[2015-10-09 18:31] mhevery commented on #4605
Agreed, the parenthesis should not be necessary.

[2015-10-09 18:39] alexeagle commented on #4361
I am working to re-implement our exported typings, so I suspect this particular issue will be obsolete. I have a preview at https://github.com/alexeagle/angular2-distro/blob/master/README.md

[2015-10-09 18:55] btford commented on #4622
If you're talking about the `fn.name`, this would break during minification.

I don't like the idea of basing a default name off some property of the component, especially because it'd have to be a static property. It moves the route name away from where the route is defined, so a developer would have to mentally map between the route and its component.

[2015-10-09 19:20] Gillespie59 commented on #4622
Prefer also `name` to the previous `as` propery

[2015-10-09 21:25] alexeagle commented on #3082
Hi all, this is now almost ready to ship. Comments welcome:
https://github.com/alexeagle/angular2-distro/blob/master/README.md

[2015-10-09 23:01] tbosch commented on #4631
This is how `ng-content` is supposed to work: If you have 2 `ng-content` that match the same nodes, only the first `ng-content` gets the nodes. Similar to a template with:

[code]

I.e. a given node in the light dom is only projected once.

[2015-10-09 23:01] tbosch commented on #4631
What you are looking for is `ng-for-template`, which I just added to master (will be released soon): https://github.com/angular/angular/commit/6207b1af8838661fb38ab6c13b0d54956970db50

Have a look at the integration test...

[2015-10-09 23:02] tbosch commented on #4631
Closing as this works as expected.

[2015-10-09 23:02] #4631 closed

[2015-10-09 23:07] gustavoq-infocorp commented on #4631
Excellent news, looking forward for the release

Thanks !!!

[2015-10-09 23:11] tbosch commented on #3882
- We already have our own semantics behind it (see [Static content projection](https://docs.google.com/a/google.com/document/d/1BXUFVpImyWN7ynyPKehAesctP0UJTaDYbDTNVkarSeQ/edit?usp=drive_web))
- using selectors allows to build components with a nicer API (a user does not have to use the `slot` attribute for child nodes).
- Performance is not an issue for Angular as we precalculate the content proj

[2015-10-09 23:13] tbosch commented on #3882
We _can_ add `ng-slot` trivially though, if users really want it...

[2015-10-09 23:23] vicb commented on #3882
IMO renaming it to `<ng-slot>` would be confusing for users (vs `<slot>`).

[2015-10-09 23:29] IgorMinar commented on #4518
fixed as of a40

[2015-10-09 23:29] #4518 closed

[2015-10-09 23:34] naomiblack commented on #4588
Rob and Jeff have https://github.com/angular/angular/pull/4604 that will address this. (today/tomorrow)

[2015-10-09 23:54] itslenny commented on #4055
I spent some time digging in to this and I noticed that the redirect RegExp for the wild cards requires a name (like params). This *might* make sense as a way to get the data in the wildcard. For the original example the path would have to be something like `/*foo` to actually work. a plan `/*` is NOT recognized as a wild card and will actually literally define a route `/*`.

Is there a reason for

[2015-10-09 23:56] naomiblack commented on #4512
@IgorMinar is taking this one to think through whether it is a breaking change or not. We're trying to land it before Angular Connect.

[2015-10-09 23:58] IgorMinar commented on #4497
fixed as of a40

[2015-10-09 23:58] #4497 closed

[2015-10-10 00:01] IgorMinar commented on #4100
I'm bumping this to 42. if you need this for Angular Connect please let us know, otherwise it will likely happen only after.

[2015-10-10 00:07] naomiblack commented on #4133
this will be fixed by #4170 getting resolved. There's a slight chance of this landing in 41, but it is not critical.

[2015-10-10 00:10] naomiblack commented on #4287
pr #4604 should resolve this

[2015-10-10 00:11] naomiblack commented on #4149
this should be resolved by #4604

[2015-10-10 00:16] kevmoo opened #4644 "Upgrade Dart transformers pkg to use protobuf 0.5"
It's faster! :smile:

[2015-10-10 00:25] alexeagle opened #4645 "Add tslint check that underscore member visibility has @internal"
This is needed to prevent methods which have library-visibility in Dart from being exposed in the .d.ts files produced by typescript compiler.

[2015-10-10 01:10] luisvt opened #4646 "ng-model directive is not updating the host data in Dart"
I have next component:

[code]

but the input-text is not being updated when I click on the input-button. After clicking in the console appears correctly the changes to variable `searchQuery`, but the input-text is not updated.

Also the text on `Query text: {{searchQuery}}` is updated correctly in both cases, after clicking input button and after editing input-text.

[2015-10-10 01:13] yjbanov commented on #4646
@vsavkin feel free to drop priority if there's a workaround.

[2015-10-10 02:23] thelgevold commented on #4627
I have added an example here if you are interested:
http://www.syntaxsuccess.com/viewarticle/input-controls-in-angular-2.0

[2015-10-10 02:40] #3082 closed

[2015-10-10 04:46] mhevery commented on #4583
@adamdbradley and @tbosch discussed this today. I believe that @tbosch said that this is the correct behavior. @tbosch can you verify?

[2015-10-10 04:46] mhevery commented on #1594
Yes this landed.

[2015-10-10 04:46] #1594 closed

[2015-10-10 08:26] vguede commented on #4633
Here is a Plunker (navigate between Home and Test) :
http://plnkr.co/edit/jLp9Z7DGMl1Dl09dQwF8?p=preview.
Thanks to @brandonroberts

[2015-10-10 08:55] naomiblack commented on #4585
This affects the quick reference. @IgorMinar can you have a look and potentially assign to someone for alpha-41?

[2015-10-10 10:26] pkozlowski-opensource commented on #4583
@tbosch I would be surprised if the new behaviour would be a correct one. I remember that we used to have logic in the compiler where classes set by host were merged with ones already present on a host element. IMO it made sense.

What would be rationale for changing this merging behaviour?

[2015-10-10 16:23] vicb commented on #4585
@ericmartinezr Can you still reproduce this error ?

This is related to TS (not Angular) and it seems to be fixed in 1.6.2 - the type would be `Object` when no explicit type is given i.e. `@Input() myProp;`

Not sure what version of the compiler is used on Plunker but it still fails there.

[2015-10-10 16:29] ericmartinezr commented on #4585
@vicb Thanks! That was the issue. I was using TS1.6.0-beta, like you said now transpiles to `Object`. I posted here thinking that ng2 may could do something about it. Thanks for the advice!

[2015-10-10 16:29] #4585 closed

[2015-10-10 16:36] alexeagle commented on #4026
Since we are moving away from the typings bundles and tsd/DefinitelyTyped, it would be good for this to work with the individual per-module `.d.ts` files now produced by the compiler.

I think we need a couple more files added to the new `test.typings.npm` task from the `typing_spec` directory. router is there already, we should add the other use cases we expect users to want like http.

[2015-10-10 16:43] mgechev commented on #2806
It is still possible to create request with an empty URL if you want to by:

[code]

However, by passing object literal TypeScript won't compile:

[code]

[2015-10-10 16:47] alexeagle commented on #4515
My guess is our typings are related, and they are completely changing in the alpha-41 release, so please see if you can reproduce next week.

[2015-10-10 16:52] rolandjitsu commented on #4515
@alexeagle sure, I will try it as soon as the release is out and close if it doesn't occur anymore.

[2015-10-10 16:55] mgechev commented on #4632
The code above won't compile in TypeScript because `options` is with the wrong type.

Try this instead:

[code]

[2015-10-10 16:57] alexeagle commented on #4026
in alpha.41, this will work without any typings distribution:

[code]

So I think we could close this. If/when we provide bundled typings again, we'll have to decide the entry points that produce the bundles.

[2015-10-10 17:42] mgechev commented on #2903
I can take this one.

Do we have to implement it only for `http.request`? I see that `http.post`, `http.patch`, `http.put` accept strings as `body` but don't you think they should be extended to work with other data types as well?

[2015-10-10 17:48] IgorMinar opened #4653 "Update typescript version used in plunkers to 1.6.2"
The [plunker template](http://plnkr.co/edit/tpl:AvJOMERrnz94ekVua0u5) uses TS version 1.6.0-beta [pulled from code.angularjs.org](https://github.com/angular/code.angularjs.org/tree/master/tools). This version is buggy.

Can we get it upgrade to 1.6.2 please?

Related to https://github.com/angular/angular/issues/4585#issuecomment-147103749

[2015-10-10 17:54] IgorMinar commented on #4585
works for me with tsc 1.6.2, plunker is using 1.6.0-beta, see #4653

[2015-10-10 17:56] ericmartinezr commented on #4585
@IgorMinar yes, I was using TS1.6.0-beta on my machine too, so I upgraded to 1.6.2 and now works nice, thanks ;)

[2015-10-10 20:35] ericmartinezr commented on #4653
@IgorMinar besides that you could update ng2 version to a40 and remove traceur :+1:

[2015-10-10 21:34] tbosch commented on #4583
My initial thought was that treating `class` here as a special case seems wrong / not intuitive to users. However, other alternatives seem not right either: E.g. using:
[code]
would clearly show that this is a special case, however, no one would use `false` as value...

So I am adding the previous behavior back. I.e. host attribtues `class` and `style` get merged with the attributes on the element

[2015-10-10 22:23] IgorMinar commented on #4318
fixed by #4643

[2015-10-10 22:23] #4318 closed

[2015-10-10 23:05] vicb commented on #4653
@IgorMinar are you sure that this `typescript.js` is used at all ? (I don't see this mentionned in http://embed.plnkr.co/suu7Yg/preview) - wouldn't the implicit mode kick in before `config.js` is used ?

_I've sent a PR to plunker to update TS, see the #4585_

[2015-10-10 23:47] ssougnez opened #4655 "Properties binding in Angular 2"
Hi,

I'm currently trying to understand the properties binding with Angular 2 and... I'm struggling.

Here is my component:

[code]

Here is my view:

[code]

And here is my page:

[code]

When I display my page, I have nothing. If I add some literal before "{{name}}" in my view, the literal gets displayed but not "Test". Moreover, if I initialize "name" in the constructor of my class, it works, i

[2015-10-11 01:24] gdi2290 commented on #4655
you might be looking at the outdated docs. Here's a working example for you
http://plnkr.co/edit/MkuZaCfWxMgw4c8DcR5c?p=preview
if this works then you can close the issue

[2015-10-11 03:20] rkirov opened #4659 "support incremental work on e2e tests"
After switching to using the bundles for e2e, it is no longer possible to start `gulp serve.js.dev` and work iteratively.

A possible fix is to revert to old per-file loading with system.js when starting `gulp serve.js.dev` and use a different target for Travis.

[2015-10-11 05:26] satish860 commented on #4270
Oh, Didnt know this.. But component API looks great..  In that case it will be great to have the Router coming out to support the API

[2015-10-11 05:29] robwormald commented on #4653
@IgorMinar see https://github.com/angular/code.angularjs.org/pull/29

@vicb the plunkers request `somefile.ts` and thus plunker isn't involved at all, it's SystemJS doing the compilation. once plunker bumps to 1.6.2 i can adjust the plunker template.

[2015-10-11 05:35] #4416 closed

[2015-10-11 05:38] IgorMinar commented on #4653
it's in index.html

@ericmartinezr we'll remove traceur later as it would break all the relatively recent plunks

[2015-10-11 09:53] IgorMinar commented on #4659
we could change the SCRIPT replacement to check if the current url contains `?debug` and if it does it won't load the bundle. would that work?

it'd rather not create yet another set of build artifacts. single artifact that uses bundle by default, but can load individual files based on a url flag is going to be easier to maintain.

we could make non-bundled version the default, but then we need to

[2015-10-11 10:07] rolandjitsu opened #4661 "router: get access to the Router service from within CanActivate hook"
I am implementing user authentication in my example app and I was just looking into what would be the best approach to doing it.

And I found that in order to be flexible I should go for:
[code]
So that I can require authentication only on specific routes.

But the problem at this point is, how do I do a redirect at this point? At least, how do I navigate to a desired route from the `@CanActivate(

[2015-10-11 10:16] erictsangx commented on #4158
I am using alpha-40 and I can import default pipes without a problem (found in jspm and tsd), is this solved?

[2015-10-11 10:48] ssougnez commented on #4655
OK, I see the difference. Actually, I was wondering if it was possible to directly put "<my-component ...>" in the index.html without creating an "app" component ?

[2015-10-11 10:58] danicomas commented on #4576
Ok @mhevery I know but do you recommend to use Observe or is not a good idea? Look at this: https://github.com/Microsoft/TypeScript/issues/2075

[2015-10-11 11:29] jpsfs commented on #3458
Hi,

Sorry for digging up this issue.
On a37 forms was being export as "angular2/forms". Now (a40) it's back to "angular2/angular2". I don't see this change referenced on the changelog. Is this a decision or a regression?

Best regards,

[2015-10-11 11:45] PascalPrecht commented on #4655
@ssougnez No, you always need at least a single root component to bootstrap your application.

[2015-10-11 11:53] pkozlowski-opensource commented on #4655
Closing this one as hopfully all the questions were clarified. If not let's move this discussion over to https://gitter.im/angular/angular

[2015-10-11 11:53] #4655 closed

[2015-10-11 12:10] ericmartinezr commented on #4661
See https://github.com/angular/angular/issues/2965

[2015-10-11 12:13] rolandjitsu commented on #2965
@tamascsaba I have the same scenario in mind, this feature would be very nice to have :+1:

[2015-10-11 12:14] rolandjitsu commented on #4661
@ericmartinezr thanks :)

[2015-10-11 12:14] #4661 closed

[2015-10-11 12:52] LoganArnett opened #4663 "feat(Http, Jsonp) Jsonp Callback"
### Jsonp Question

May be missing something in the documentation but I am messing around with Alpha39 and some Http and Jsonp.

I am able to get http calls working just fine but then I attempted a few API's that supported jsonp out of curiosity. I then fell back to my Angular 1.x self and just threw in JSON_CALLBACK into my url to no avail. This just got me thinking if there is a default callback

[2015-10-11 14:05] markharding opened #4665 "Safari 'undefined' errors since alpha.39 (0299d4a)"
The implementation of 0299d4a appears to be causing issues for Safari browsers. Multiple projects seem to be having the issues (eg: https://github.com/mgechev/angular2-seed).

Basic:
[code]

Detailed:

[code]

[2015-10-11 16:22] Krustie101 commented on #2965
I do not think the "is authenticated" check should be done in the CanActivate handler. It is not the concern of the CanActivate handler of a specific component. And you would have to put it on every component that is a routing target. And how would you distinguish between a "no data present" and a "not authenticated" event?

In the ui-router you have a stateChangeStart event. A similar concept see

[2015-10-11 16:32] PascalPrecht commented on #4663
Yes, it's called `JSON_CALLBACK` in A2 too ~ https://github.com/angular/angular/blob/master/modules/angular2/src/http/backends/jsonp_backend.ts#L45-L50

[2015-10-11 17:14] PascalPrecht commented on #3882
We can stick with just `slot` too, the more interesting question is, if we want to implements this or not. @tbosch thank you for the doc! I just read it and it makes also (finally) clear why we have `ng-content`.

So based on that document it really seems like `slot` is not hard to implement as it boils down to `ng-content select="[slot..."`, however, I'd say we can add this, as soon as people are

[2015-10-11 17:20] PascalPrecht commented on #4622
I'm fine either way. Would love to hear what the confusions with `as` were tho :)

[2015-10-11 17:23] alexeagle opened #4668 "Docs are on DecoratorFactory classes, but users will navigate to Decorator"
For example, in my demo I start with
`import {Component} from 'angular2/angular2';
and then I immediately show how cool it is that I can navigate to definition of that symbol and read the documentation, and how it's guaranteed to be the correct docs for this version (unlike some blog post).

But the documentation says
`{@link ComponentMetadata} factory function.`
so okay, I can click through again

[2015-10-11 17:28] PascalPrecht commented on #4623
The following question might just simply stupid but I'll give it a try:

If the leading slash is going to be "optional" for one level routing, and we can just go with `[router-link]="['Cmp']"` couldn't we make a shorthand syntax for it, which is a bit more intuitive and looks sth. like this `[router-link]="Cmp"`.

I might totally miss something here, but maybe this simplifies some use cases. Other

[2015-10-11 17:36] johnpapa commented on #4622
@PascalPrecht

Here is what folks asked me:

1. "as? as what?"

2. "is as an alias for another route I want to mimic?"

3. "where do i put the name of the route?"

[2015-10-11 17:37] PascalPrecht commented on #4622
Ha! The third one is nice. I have to admit that @cburgdorf also asked me what the `as` property is for in the first place. Especially, if you just have a single component that is being loaded.

So yea, let's go with `name` then.

[2015-10-11 17:38] johnpapa commented on #4622
Yeah, this is an easy win, IMO

[2015-10-11 17:40] btford commented on #4623
The RHS of the binding needs to be a JS literal, so that wouldn't work.

We shouldn't get too tricky with the sugar until we have a proper DSL.

Note that this does not make `/` optional, but rather adds a new option of "link without leading slash" that has its own distinct semantics.

[2015-10-11 17:42] PascalPrecht commented on #4623
Ah of course! Hey thanks for clarifying!

[2015-10-11 17:48] alexeagle opened #4669 "Quickstart requires users to add some typescript compiler options by hand"
Our quickstart would be awesome if the installation instructions for angular2 were simply
`npm install angular2`
but we are not quite there, because they will get typescript errors in the editor unless they also run another command
`tsc --init --experimentalDecorators --target es5`.

Not great because:
- We could make a working installation literally with a single command.
- Easy for users to run

[2015-10-11 17:52] cburgdorf commented on #4622
yep, `name` seems like a better fit :+1:

[2015-10-11 17:55] endash commented on #4416
I'm a bit late to this particular renaming party, but I'd be remiss if I didn't point out that the `provide`/`as` dichotomy is backwards... the `as` is what we're providing and the `provide` is the signifier, exactly the opposite of what we're communicating.

To transform into real-world usage:

"I've provided a case of Coca-Cola and pizza as the refreshments."

With this convention that sentence

[2015-10-11 18:02] vicb commented on #4669
Would it be possible to parse the existing file, check for the required flags / values and display a warning if not configured properly ?

[2015-10-11 18:02] PascalPrecht commented on #4416
I'm not an english native, so for me it's prolly less of a problem than for others. But seeing your code sample @endash I see the problem that the actual token is always at the end of the line, which makes it hard to read, if you really just want to find out what you get for a certain token. I think that having the tokens at the beginning is the better way to go here.

[2015-10-11 18:07] endash commented on #4416
@PascalPrecht I was just thinking about that. There's no reason it can't be at the beginning, since it's a hash. It's not so important IMO that it be "readable as natural english", rather that the natural english reading shouldn't imply the opposite of what it does.

[2015-10-11 18:14] alexeagle commented on #4669
Yes, we could ask `tsc --init` to do that, but we'd have to wait for next release to be widely available.
Or we could do it ourselves as you say.
What do you think about the bigger question?

[2015-10-11 18:47] Gillespie59 commented on #4669
Totally agree with you. we have to improve the first 5 minutes a newcomer spent on our framework.

Is also possible/necessary to download type definition files ?

[code]

Manu

[2015-10-11 18:58] alexeagle commented on #4669
no there is no tsd step. typings are now included in the angular2 npm distro.
see https://docs.google.com/document/d/1jiB1SHfM2AXacKdTbQBoPyKlp7ZSH-LBbfc5gzeMKVY/edit# for context.

[2015-10-11 19:09] rkirov commented on #4669
Too much magic? How about shipping with `recommended_tsconfig.json` in npm and saying `cp node_modules/angular2/recommended_tsconfig.json tsconfig.json`.

[2015-10-11 19:12] robwormald commented on #4669
alternately npm install -g angular-cli and add this as the simplest first step? `ng init` npm installs angular2 and inits a tsconfig?

[2015-10-11 19:13] Gillespie59 commented on #4669
@alexeagle Thanks !

[2015-10-11 21:16] vsavkin commented on #4253
Fixed via https://github.com/angular/angular/commit/00a4b2e28fb38be3e03f9f2c94e3f5e7ef5b4d51

[2015-10-11 21:16] #4253 closed

[2015-10-11 21:38] robhicks commented on #4632
@mgechev Thanks for your help.

While doing it this way doesn't make a lot of sense to me, I tried it with the same result. The Content-Type does not get changed.

[2015-10-11 21:43] vsavkin commented on #4462
fixed https://github.com/angular/angular/commit/62005dd1273e0ee12c6de1038fcf39e600572b18

[2015-10-11 21:43] #4462 closed

[2015-10-11 21:51] robisim74 opened #4670 "Polymer paper-menu-button and paper-dropdown-menu don't work"
Hi,
these two elements don't work fine: anomalies and errors are different in every browser I tested (Chrome, Firefox, Edge). In the same app there are other Polymer elements and Angular directives that work fine instead.
Thanks!

[2015-10-11 22:02] alexeagle opened #4671 "publish angular@next"
We should have an hourly/nightly build available on npm. This would allow people to verify our fixes easily at HEAD without waiting for a release, and give us some quicker feedback from 'dogfood' users.

[2015-10-11 22:03] alexeagle commented on #4669
Yeah since we'll have a CLI this won't be the primary FTUE at some point, so maybe this is not worth the trouble.
Plus I'm never convinced that hiding everything from programmers is useful in the end, since they are denied the chance to build a good mental model for how things work.

[2015-10-11 22:45] IgorMinar commented on #4416
@endash I think you have a fair point. I like your `provision` proposal. Could we still keep the `provider` term for the result of calling `provision`?

@vsavkin @mhevery ?

[2015-10-11 23:08] endash commented on #4416
@IgorMinar I don't think there's any obstacle to calling the result of `provision` a `Provider`. They have the same roots, and mean similar things. In a way, it actually makes more sense to call the result of a `provision` call a `Provider` than it does to call the result of a `provide` call a `Provider`, since at that point it seems, per the language used, that the providing's already been done,

[2015-10-11 23:42] mhevery commented on #4668
You rise a very good point. Do you have specific ideas on how we could make this better?

The issue is that `Component` is not a class. The reason for this is that we want it to be able to be called in three different ways.

1. `new Component()`
2. `Component({}).Class(...)`
3. `@Component()`

So the declaration needs to be

[code]

The issue is that when you click through `Component` you probably

[2015-10-11 23:45] mhevery commented on #4416
If you want to call them provisions then the `@Component({})` should take `provisions` like so:

[code]

At the end of the day I don't see any objective way of showing that provisions is better then providers. As long the Angular's documentation is consistent I don't think it makes much difference.

[2015-10-11 23:51] Zyzle commented on #4670
Went ahead and tried this myself in my app, I'm seeing slightly different behaviour from you.  Visually the component appears OK however when I click it to open the dropdown I get the error:

[code]

And when an item is selected from the dropdown:

[code]

I notice the second error here is coming from zone, could this be related to #4531 ?

[2015-10-11 23:58] endash commented on #4416
@mhevery did you read the comments? No one suggested renaming providers. The problem is currently we're misusing the *verb* `provide` in a way that is, yes, objectively incorrect.

[2015-10-12 00:05] mprobst commented on #4596
Have a fix in review: http://reviews.llvm.org/D13641.

[2015-10-12 02:10] alexeagle commented on #4668
The obvious answer is to place the docs on the declaration of Component. Is it a problem that it's a var?
Does that  break how dgeni presents the docs?

[2015-10-12 02:30] badoet opened #4673 "scope in filter is no longer watched in angular 1.4"
changing the value of the scope used in angular filter
no longer trigger an update to the filter
http://plnkr.co/edit/iVABuG5ApiwgyV6RRwQA?p=preview

if u change the angular version loaded in html to 1.2.8 it will work fine.

is this change intended? or regression?

[2015-10-12 02:31] badoet commented on #4673
sorry wrong version.

[2015-10-12 02:31] #4673 closed

[2015-10-12 03:21] djvs opened #4674 "[Feature request] Element level "bind only on event" behavior"
Apologies in advance if there is already an issue regarding this...or if it's not even applicable...or already implemented.

What I am proposing is that there be some method to basically abstract an arbitrary portion of the DOM into a sort of enclosure where the apply/digest cycles (or analogues) will not touch the parts inside of it unless the element itself is marked as requiring an update.  The

[2015-10-12 07:11] PascalPrecht commented on #4671
Yes please!
On Oct 12, 2015 12:02 AM, "Alex Eagle" <notifications@github.com> wrote:

[2015-10-12 07:17] gdi2290 commented on #4671
:+1:
sorta related? https://github.com/angular/angular/issues/3476

[2015-10-12 07:52] KillerCodeMonkey opened #4676 "5 Min Quickstart does not work with v2.0.0-alpha.37"
Hey guys,

i tried your quickstart and it worked with the used 2.0.0-alpha.28, but if you try to include a newer version (>alpha 36) it failed with:
`GET https://registry.jspm.io/app.js 404 (Not Found)`
and
`Potentially unhandled rejection [3] Error loading "app" at https://registry.jspm.io/app.js
Not Found: https://registry.jspm.io/app.js (WARNING: non-Error used)`

It seems that the app.js is no

[2015-10-12 07:54] erictsangx commented on #4665
Checked "startsWith" with safari 8 and 9. Only safari8 return the error. I think the reason is that  "startsWith" is one of the ES6 features and "tsc -t es5"  does not transplie it to es5. So this is a typescript issue?

[2015-10-12 08:02] mgechev commented on #4632
@robhicks would you send a plnkr that reproduces your issue?

[2015-10-12 08:10] tamascsaba commented on #4671
:thumbsup:

[2015-10-12 08:13] dsebastien commented on #4671
+1

[2015-10-12 08:13] Moncef12 commented on #4671
:+1:

[2015-10-12 08:23] doukasd commented on #4676
I believe I had the same issue and it was fixed by loading the system.js before some other scripts. But I can't remember the details.

Until the documentation is updated you can get your app to work by re-arranging it like this: http://plnkr.co/edit/iRUP8B5OUbxCWQ3AcIDm?p=preview

[2015-10-12 08:25] mlaval commented on #4665
`startsWith` is not available in all browsers: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/startsWith

Angular2 uses https://github.com/paulmillr/es6-shim/ currently to have ES6 compatibility in older browsers. Using the same in your project should solve your issue.

[2015-10-12 08:25] #4665 closed

[2015-10-12 08:35] KillerCodeMonkey commented on #4676
this is strange because if you follow the guide it results in something like that:
[code]

so system is loaded before angularjs. I do not how typescript internally loads the app.js (???).

[2015-10-12 08:38] kmillikin opened #4677 "Angular does not build with Dart SDK 1.13"
The next Dart SDK release will be 1.13.  The build step build/pubbuild.dart fails with 1.13 because it tries to build Angular 1.1.2 for benchmarks_external.  Angular 1.1.2 uses (and depends on packages that use) the dart:profiler package which will be removed in 1.13.

[code]

This failure is in the Dart Analyzer 0.24.6.  Just overriding that dependency to a newer Analyzer without dart:profiler is

[2015-10-12 09:17] choeller commented on #4416
Hi everybody,

also a bit late, but I want to add my two cents again.

For me using `as` also seems pretty misleading. IMH it's the complete opposite of what it is used in other parts of the framework, e.g. the Module-Syntax:

`import {Foo as Bar} from './my-crazy-module'`

so the `as` usually just means the target and not the source.

so the following statement:

`provide("bar").asValue("foo")`

[2015-10-12 09:24] TiagoBraga39 opened #4678 "Alpha 40 @Query"
Hi all!

I guess @Query lifecycle should be changed.

Now (on alpha 40), I can't get the QueryList neither on constructor nor onInit methods...
Check the console on this plunkr: http://plnkr.co/edit/ADhcM0Muq5tX5HGOSKW2?p=preview

Stay awesome,
Tiago Braga

[2015-10-12 09:25] TiagoBraga39 commented on #4678
Also:
[code]
Never triggers.

[2015-10-12 09:35] TiagoBraga39 commented on #4678
Goddamit!

My mind only remembers the important stuff late :)

Using afterContentInit()

[2015-10-12 09:35] #4678 closed

[2015-10-12 09:52] vguede commented on #4633
@btford any idea ?

[2015-10-12 10:12] bhebb commented on #4627
thnaks a lot. It works very well.

[2015-10-12 10:13] #4627 closed

[2015-10-12 10:25] butaixianran commented on #4328
Update: after move angular2.js, system.js, traceur-runtime and rx.js to cdn, now it's pretty fast. Http2 works very well with Angular2.

[2015-10-12 11:48] ericmartinezr commented on #4676
@KillerCodeMonkey in alpha37 they moved to system v0.18.x. But I would recommend you to upgrade to a40, so you can remove traceur as well.

[2015-10-12 12:04] KillerCodeMonkey commented on #4676
@ericcarraway
thanks for your respond. i have played around with the versions before, but did not know, that they upgraded system with alpha 37.

Do i have to change something else in my source code above?
After upgrading and removing of traceur system can not find my app.js.

Do i need to load my app.js manually in the index.html?

Thanks in advance!

[2015-10-12 12:25] ericmartinezr commented on #4676
@KillerCodeMonkey you can follow this template http://plnkr.co/edit/tpl:AvJOMERrnz94ekVua0u5

Two things about that template (it's the official one btw) :

- It's using a39, but you can safely move to a40
- It includes traceur, but just to avoid recent plnkrs to break. You can safely remove it as well.

Note that there's a config file, that's the pilar thing, it will make everything work as expect

[2015-10-12 12:30] pkozlowski-opensource commented on #4676
@ericmartinezr @doukasd thnx for helping out with the issues!

@KillerCodeMonkey hopefully with the plunks provided by @ericmartinezr you will be able to figure out the setup. If you need a simple server-side compilation alternative you might want to look at: https://github.com/pkozlowski-opensource/ng2-play

We are currently doing massive overhaul of the entire documentation, including quick star

[2015-10-12 12:30] #4676 closed

[2015-10-12 12:30] robisim74 commented on #4670
I don't know if my app has other problems, but e.g. on Chrome (latest version) I see this:
* I clean the browser cache
* I launch the app
* The two elements are not rendered fine (whereas the other elements yes)
* I refresh the browser and only dropdown is rendered fine (why?)
* On menu-button, there is this error:
[code]
Then, when I click on dropdown and an item is selected, I see the same error

[2015-10-12 12:32] ericmartinezr commented on #4678
@TiagoBraga39 in gitter's room I told you `@Query` was replaced (which is not, it's still there, sorry for that). Regarding `this.items.changes.next` you have to subscribe to it, with `next` you are emitting, but you have no subscribers, so just change it to `this.items.changes.toRx().subscribe()`. QueryList already emits for you, you just have to subscribe to it.

[2015-10-12 13:02] Zyzle commented on #4670
@robisim74 I'd suggest using the full version of `webcomponents.js` not `webcomponents-lite.js` also i believe you still need to force polymer to use native shadow DOM:

[code]

Try this and see if it fixes your component display problems.

[2015-10-12 13:25] robisim74 commented on #4670
Thanks @Zyzle this has fixed my display problems!
Now remain errors when you click or select the menu and dropdown.

[2015-10-12 13:59] KillerCodeMonkey commented on #4676
@ericmartinezr
it works in the plunker but not on my local system... but thanks for your help ( @ericmartinezr @doukasd )
i will play around a little bit

[2015-10-12 14:08] PascalPrecht opened #4679 "chore(router): rename RouterOutlet to RouterViewport"
`RouterOutlet` has been called `RouterViewport` before. We had to change this, because A2 also introduced a concept of "viewport" directives, which are directives that allow structural changes to the DOM (`*ng-for`, `*ng-if`, ...). To avoid confusion we came up with a new name for `RouterViewport` which was `RouterOutlet`. You can read the discussion here: https://github.com/angular/router/issues/

[2015-10-12 14:10] ericmartinezr commented on #4676
@KillerCodeMonkey probably it's a typescript thing. In your local machine it differs a little bit. You have to transpile it manually (with `tsc` command). plnkr seems to do that automagically. Follow @pkozlowski-opensource repo, see that his [index.html](https://github.com/pkozlowski-opensource/ng2-play/blob/master/index.html) file is almost identical to plnkr's, but he also has a [step to convert

[2015-10-12 14:28] alexeagle commented on #4668
I'll try this out this morning, if nothing else I think we should duplicate the TS-specific portion of the docs in both places.

[2015-10-12 14:30] KillerCodeMonkey commented on #4676
i have a generated app.js
[code]

[2015-10-12 14:43] ericmartinezr commented on #4676
@KillerCodeMonkey can you ask in [gitter's channel](https://gitter.im/angular/angular)? Provide a plnkr,  repo, or at least a pastebin to see how your set up looks like.

[2015-10-12 15:25] IgorMinar commented on #4677
I believe that this is a known issue. @yjbanov, can you confirm?

[2015-10-12 15:26] IgorMinar commented on #4671
Yeah, I was thinking about the same thing this weekend as well!

We have this for Angular 1 and it's awesome.

[2015-10-12 15:46] alexeagle commented on #4669
And another argument against: putting the tsconfig.json at the top-level is probably not how angular-cli will do it, so then if the user re-installs angular2, they get an extra file they shouldn't have.

[2015-10-12 15:46] #4669 closed

[2015-10-12 15:46] alexeagle commented on #3476
Would also help to have some open-source users on the nightly/hourly build to catch problems sooner.

[2015-10-12 15:59] #4583 closed

[2015-10-12 16:54] Zyzle commented on #4670
@robisim74 good to know :+1:
@vicb sorry to ping you for this but I know you looked at the previous Zone/Polymer issue I raised.  This one seems to be component specific (`iron-overlay-behavior.html`) as I've not come across it with any other polymer component.

[2015-10-12 16:58] alexeagle commented on #4668
Another problem: the docs don't appear for properties like 'templateUrl'

[2015-10-12 16:59] btford commented on #4679
I tasked @johnpapa with determining the new name for this. John, what were your conclusions?

@PascalPrecht – I'm not interested in making this breaking change before Angular Connect.

[2015-10-12 17:19] PascalPrecht commented on #4679
Understood. We can totally do this after angularconnect.

On Mon, Oct 12, 2015, 6:59 PM Brian Ford <notifications@github.com> wrote:

[2015-10-12 17:42] yjbanov commented on #4677
Yep, I sent a PR to fix it: https://github.com/angular/angular.dart/pull/1744

[2015-10-12 18:08] #4539 closed

[2015-10-12 18:12] kegluneq commented on #4590
Closed by 811d4c03bd2e6fcade8dc5c1ef6024e0956187e8

[2015-10-12 18:12] #4590 closed

[2015-10-12 18:31] IgorMinar commented on #4653
landed

[2015-10-12 18:31] #4653 closed

[2015-10-12 18:36] johnpapa commented on #4679
I've polled a lot of devs informally and the resounding answers folks liked:

1. `router-view`
2. `router-viewport`
3. `view-port`

they cited that they liked router-view as it was similar to ui-view and ng-view.

We can do a formal poll if you like. Where do you want to go from here?

I dont think the name is that critical. I'll call it whatever, but I do prefer a name that makes sense. both of t

[2015-10-12 18:39] PascalPrecht commented on #4679
I agree. And as long as we have a chance to make names nicer, I think we should do that. I like `router-view` too. Both, `router-viewport/router-view-port` and `router-view` are better than `router-outlet` in my opinion.

[2015-10-12 18:41] btford commented on #4679
I'm good with the first two. I'm worried that the last one is going to be confusing between `<viewport>` and `<view-port>`. I have a slight preference for `<router-view>`.

[2015-10-12 18:43] PascalPrecht commented on #4679
Cool, then let's just go with `router-view` (post AngularConnect ofc)?

[2015-10-12 18:45] johnpapa commented on #4679
i like `router-view` the best, personally.

[2015-10-12 19:18] gdi2290 commented on #4679
:+1: `router-view`

[2015-10-12 19:28] gdi2290 opened #4685 "How to dispose of the NgZone?"
There's a todo in the [`ApplicationRef#L381`](https://github.com/angular/angular/blob/6abed8d996168f695e638c0c2d0fde1ad7ae273c/modules/angular2/src/core/application_ref.ts#L381) to dispose of NgZone.

For server rendering we bootstrap the application on each request and reuse as much of the providers as we can get away with during each subsequent request. At the moment I'm not sure how `zone.js` a

[2015-10-12 19:29] Gillespie59 commented on #4679
:+1:  for `router-view` also. Similar to our previous `ui-view` and `ng-view`. So all newcomers will understand easily the meaning of this component !

[2015-10-12 19:33] Gillespie59 commented on #4671
:+1:

[2015-10-12 23:45] jbdeboer opened #4687 "Angular2 transformer crashes pub on invalid syntax"
Internal issue #24877065

[2015-10-13 00:32] naomiblack commented on #4668
@alexeagle is this still coming in for 41?

[2015-10-13 00:37] jeffbcross commented on #4588
Moving this into 41, working on a simple solution to manually add the combinators we need to EventEmitter without changing anything about its inheritance.

[2015-10-13 00:38] jeffbcross commented on #4390
Moving this into 41, working on a simple solution to manually add the combinators we need to EventEmitter without changing anything about its inheritance.

[2015-10-13 00:38] jeffbcross commented on #4287
Moving this into 41, working on a simple solution to manually add the combinators we need to EventEmitter without changing anything about its inheritance.

[2015-10-13 00:39] jeffbcross commented on #4149
Moving this into 41, working on a simple solution to manually add the combinators we need to EventEmitter without changing anything about its inheritance.

[2015-10-13 01:37] vicb opened #4688 "[Animation] Extra change detection triggered by BrowserDetails ?"
The constructor of `BrowserDetails` calls `doesElapsedTimeIncludesDelay()` which in turn subscribe to `requestAnimationFrame`.

Because this code is executed inside the Angular zone, it triggers extra change detection runs. What about something like:

[code]

Notice the wrapping inside `this.ngZone.runOutsideAngular()` - `ngZone` would need to be injected.

@matsko @robertmesserle thoughts ?

[2015-10-13 01:56] alexeagle commented on #4668
There is more to do, but will wait till later release.

[2015-10-13 01:56] #4668 closed

[2015-10-13 01:58] alexeagle opened #4689 "No docs appear in editor for decorator properties"
For example, in `@Component({templa` I would expect to get completion that includes a description of template vs. templateUrl.

We have a complete copy of the arguments type literal in each position, but we could share an interface that's a supertype of ComponentMetadata, then the docs would appear in the editor and also in angular.io

[2015-10-13 01:59] alexeagle opened #4690 "docs tests are absent on travis"
errors described in https://github.com/angular/angular/issues/4464 were introduced at some point because we don't enforce this be green on travis.

[2015-10-13 02:02] alexeagle commented on #4026
There is some good discussion here about bundling, but based on discussion this morning at standup, we don't need to do anything for typings right now, so I'll close this. Please re-open (or file more specific issues) if there is remaining stuff to discuss or do.

[2015-10-13 02:02] #4026 closed

[2015-10-13 03:43] IgorMinar commented on #4416
just an update that we changed the api to be `provide(Car, {useClass: Ferrari}`, thanks for bringing this to our attention.

[2015-10-13 06:00] KillerCodeMonkey commented on #4676
@ericmartinezr
i found it out --> if i put my ts and compiled ts files in a subfolder everything works.

If i lay them directly in the root dir it does not work without any error (maybe system can  not find the app.js).

But i changed the config.js to and set the app-dir to './' ...
However thanks for your help.

[2015-10-13 06:17] axos88 opened #4692 "Isolate scope for only specified elements?"
Hello!

I am creating a nested directive, similar to "how to create directives that communicate" from https://docs.angularjs.org/guide/directive .

My problem is with the nesting of scopes. I would like to access to outer scope from the inside:

[code]

However in order to do this I have to use `$parent.$parent.$parent.$parent`.

Is there a way to isolate the scope of only a select variables (`pan

[2015-10-13 06:45] PascalPrecht commented on #4692
This is the repo for Angular 2. Please move this issue to
http://github.com/angular/angular.js, or better use the gitter chat for
support questions like these.

Thanks!

On Tue, Oct 13, 2015, 8:17 AM Akos Vandra <notifications@github.com> wrote:

[2015-10-13 06:51] Krustie101 opened #4693 "Auxiliary routes need proper documentation"
At the moment it is not at all clear how auxiliary routes should be used. The test code only contains a trivial example that leaves us guessing to the intent of this feature. It seems that we can only target one component into a named router-view: the one that is configured in the RouteConfig with the same path name as the name of the router-view. The only flexibility seems to be in the parameters

[2015-10-13 06:54] juliemr commented on #4572
Done with a1fa2e472fc50ceecef37e7c5da2ae760a8ad88c

[2015-10-13 06:54] #4572 closed

[2015-10-13 06:54] juliemr commented on #4177
Done with a1fa2e472fc50ceecef37e7c5da2ae760a8ad88c

[2015-10-13 06:54] #4177 closed

[2015-10-13 06:54] juliemr commented on #4035
Done with a1fa2e472fc50ceecef37e7c5da2ae760a8ad88c

[2015-10-13 06:54] #4035 closed

[2015-10-13 06:57] Krustie101 opened #4694 "Auxiliary routes can be targeted via the url, not via a router-link"
The auxiliary routing example (in the test code) navigates to the view with an auxiliary routing via the url. As far I can see, there does not seem to be a way to navigate to such a view using a router-link  (from looking at the source code). Maybe this is on purpose, but we are left guessing how to use this feature, see also #4693.

[2015-10-13 07:02] #4692 closed

[2015-10-13 07:06] ninachaubal opened #4695 "Router.subscribe() doesn't fire when using Router.navigate()"
Router.subscribe() fires when I manually navigate to a different url, but doesn't if I'm using Router.navigate().

[2015-10-13 07:53] mgechev commented on #4679
My favorite is `router-view` as well.

[2015-10-13 07:57] juliemr commented on #4512
One proposal at https://github.com/angular/angular/pull/4697 - I'll take a look at the ci errors (unhappy dart analyzer) in the morning, if we like the rename.

[2015-10-13 09:11] Aetet opened #4698 "React-like context"
Hello.
For data-handling frameworks will be extremely usefull if angular2 will got some context, which will be accessible from any widget in a tree.

For example [redux](https://www.npmjs.com/package/ng2-redux). With current implementation we must pass state in all widgets like this https://github.com/cascada-io/island-angular2/blob/master/components/day/tmpl.html#L3

It is not very common to pass

[2015-10-13 09:23] juergenzimmermann commented on #4679
:+1: router-view

[2015-10-13 09:24] PascalPrecht commented on #4679
Okay, I think we agreed on that now. PR coming.

[2015-10-13 10:25] ericmdantas commented on #4416
@choeller, very good point!
@IgorMinar, awesome!

[2015-10-13 17:07] IgorMinar commented on #4177
dispatchEvent was not meant to be public api. it's an internal helper that leaked.

we should provide a more ergonomic way to trigger events post AngularConnect. in the meantime you can use regular dom apis to create and dispatch events. https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/dispatchEvent

[2015-10-13 17:08] gdi2290 commented on #4698
di

[2015-10-13 17:17] gdi2290 opened #4701 "Node inspector sourcemaps"
There is a problem with the path of the source maps for cjs node. When you use the node inspector it's having problems reading the correct sourcemaps path. For example, my workaround for this problem is editing the generated map file to the correct ts file path

[code]

here's the fixed version of parse5_adapter.js.map
[code]

this is a problem when debugging Angular 2 on the server

[2015-10-13 17:50] IgorMinar commented on #4677
@yjbanov that pr is for angular/angular.dart and not for angular/angular

[2015-10-13 17:53] tbosch commented on #4698
@gdi2290 could you add an example for @Aetet :-)

[2015-10-13 18:10] juliemr commented on #4512
Closed with f529236bfc7868c3c53438c1b20d821c12bb8d4a

[2015-10-13 18:10] #4512 closed

[2015-10-13 18:16] Aetet commented on #4698
oh, that would be great.

[2015-10-13 18:17] robwormald opened #4704 "Fix internal typescript build step to allow node-style resolution"
Current build process uses "classic" style module resolution inside the broccoli tree, and this prevents usage of es6 style imports internally:

works
[code]
does not work
[code]
This prevents leveraging the new-style typings resolution inside our build step, and prevents (for example) using Observable / Subject and/or extending/inheriting from it (a la EventEmitter)

discussed with @alexeagle IRL

[2015-10-13 18:19] jeffbcross commented on #4704
Is there a proposed resolution to this?

[2015-10-13 18:23] robwormald commented on #4704
proposed resolution would be to use node-style resolution and relative paths internally, but @alexeagle said it would take a couple of fixes to make that work. i'll let him comment further on the how.

[2015-10-13 18:23] jeffbcross commented on #4704
@alexeagle FIX IT NOW

[2015-10-13 19:07] #3784 closed

[2015-10-13 19:07] #3957 closed

[2015-10-13 21:01] jeffbcross opened #4706 "individual d.ts files not included in npm distribution"
Release 41 for some reason didn't include the module-by-module d.ts files alongside corresponding js files. Likely an issue with the npm_publish script, or possibly the broccoli tree.

[2015-10-13 21:03] johnpapa commented on #4706
yay! thanks for jumping on it

[2015-10-13 21:03] gdi2290 opened #4707 "expose static data from components in templates"
We need a way to read the static data, of the component, in the template itself. We also need a way to reference static data from the resolved decorators e.g. `RouteConfig` or any other decorator added by any other 3rd party module.

for example the current workaround
[code]
plnkr
http://plnkr.co/edit/SEVHBacgnN2Fe07FHLDt?p=preview
plnkr with constructor
http://plnkr.co/edit/JK1FbSomU15KgKU64Tr1?p

[2015-10-13 22:16] wardbell commented on #4605
FWIW, the problem appears limited to pipes with parameters. `This works fine: <div>{{ title | uppercase | lowercase }}</div>`

[2015-10-13 22:42] #4706 closed

[2015-10-14 00:10] jelbourn opened #4711 "Rename RootTestComponent to ComponentFixture"
Filing issue after discussion with @juliemr

Take a look at this simple example unit test.
[code]

Presently, the distinction between `RootTestComponent` and `DebugElement` is hard to define. Calling the former a component fixture, however, makes its role a bit more clear.

cc @mhevery

[2015-10-14 01:31] r-park opened #4715 "AsyncTestCompleter should be exported in angular2/testing (a.42)"
`AsyncTestCompleter` is no longer being exported in `angular2/test` and `angular2/testing`.

[2015-10-14 03:01] mhevery commented on #4711
Agreed!

[2015-10-14 04:25] kegluneq commented on #4235
Closed in (and around) 52236bd76570088b3856282cbbe9fd91d0d0a9a7

[2015-10-14 04:25] #4235 closed

[2015-10-14 05:22] yjbanov opened #4719 "some code not linted"
...or something like that. [1 example is worth 1000 words](https://github.com/angular/angular/blob/f529236bfc7868c3c53438c1b20d821c12bb8d4a/modules/angular2/test/core/zone/ng_zone_spec.ts#L145)

[2015-10-14 05:34] mprobst commented on #4719
Having that one example here would save me some digging:

[code]

This code is missing a semicolon after `testTimeout);`. Remember to run the linter, it catches these kinds of things.

[2015-10-14 05:50] racksen commented on #1789
@pkozlowski-opensource
 Attaching events in template throws error.

e.g  the following template works fine
<input #testname value="Test" />
<p> {{ testname.value }}</p>

but the following one throws error, the moment I add the event
<input #testname value="Test"  (keyup)/>
<p> {{ testname.value }}</p>

[2015-10-14 05:51] racksen commented on #1789
@pkozlowski-opensource
 Attaching events in template throws error.

e.g  the following template works fine
[code]
but the following one throws error, the moment I add the event
[code]

[2015-10-14 05:55] racksen opened #4721 "Cannot set property 'lastInBinding' of undefined"
Attaching events in template throws error.

e.g the following template works fine
[code]
but the following one throws error, the moment I add the event
[code]
Looks like its related to the issue https://github.com/angular/angular/issues/1789

[2015-10-14 05:57] yjbanov commented on #4719
Ha, why don't we run it on Travis?

[2015-10-14 05:59] mprobst commented on #4719
We should - maybe it happens after clang-format, or clang-format is much faster? @alexeagle to the rescue.

[2015-10-14 06:27] shatakshidixit1 opened #4722 "angular2 ::alpha42"
I am using npm version 2.11.2 and node version of 0.12.5.
when i tried to install angular2 by running npm install angular2 it throws below errors::

npm ERR! Linux 3.13.0-32-generic
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "angular2"
npm ERR! node v0.12.5
npm ERR! npm  v2.11.2
npm ERR! code ETARGET

npm ERR! notarget No compatible version found: angular2@'*'
npm ERR! nota

[2015-10-14 07:02] juliemr commented on #4539
@IgorMinar so if I understand correctly, now we don't bind XHR to MockXHR, but we don't bind it to XHRImpl either. I don't think this really solves the problem, because a user still needs to reach into Angular privates in order to get the actual XHRImpl. Am I misunderstanding, or should we reopen this?

[2015-10-14 07:30] rolandjitsu commented on #4715
Indeed, it looks like it's missing. So is `SpyObject`.

[2015-10-14 07:39] rolandjitsu opened #4723 "angular2.d.ts no longer references es6-shim.d.ts nor jasmine.d.ts"
It looks like the typings from `bundles/typings/angular2/angular2.d.ts` from the npm distribution is no longer referencing:
[code]
Is that intentional or just something gone wrong during builds?

[2015-10-14 08:53] gkalpak commented on #4679
Too late to the party, but I wanted to speak up for those in favor of `router-viewport` (apparently that's just me :smiley:):

It's a nice name !

[2015-10-14 09:29] basvandenheuvel commented on #4083
This should have been added to the breaking changes?

[2015-10-14 10:09] basvandenheuvel opened #4725 "Error on $ in angular-protractor.d.ts"
Hi,

I'm getting an error on
[code]
in the `angular-protractor.d.ts` of angular alpha 42.
( I just upgraded from .37 to .42, so i don't know if this problem is there since 38.. 39 .. 40...)

I think it conflicts with the `jquery.d.ts` which exports the `$`.

I'm using VisualStudio 2015. The error i get is `Build: Subsequent variable declarations must have the same type. Variable '$' must be of typ

[2015-10-14 11:08] ericmartinezr commented on #4722
Just specify the exact version you want to install

`npm install angular2@2.0.0-alpha.42`

[2015-10-14 11:09] ericmartinezr commented on #4721
Hey there @racksen that issue is related to https://github.com/angular/angular/issues/3754

[2015-10-14 11:13] ericmdantas commented on #4722
You want `npm i --save angular2@latest`

[2015-10-14 11:15] shatakshidixit1 commented on #4722
@ericmartinezr  npm install angular2@2.0.0-alpha.42 worked. Thanks

[2015-10-14 11:15] #4722 closed

[2015-10-14 11:15] ericmartinezr commented on #4722
@ericmdantas didn't know that one, I'll keep it in mind, is much easier than specifying the version, thanks :+1:

[2015-10-14 11:18] pkozlowski-opensource commented on #4721
Duplicate of #3754

Once again, using an event handler without a handler doesn't make much sense. You don't want to read from the DOM all the time like you are trying to do in your example. There are many ways of doing it differently:
* `<input value="Test"  (keyup)="testVal = $event.target.value"><p> {{ testVal }}</p>`
* `<input value="Test"  [(ng-model)]="testVal"><p> {{ testVal }}</p>`

[2015-10-14 11:18] #4721 closed

[2015-10-14 11:23] vguede commented on #4626
[code]
works fine but I can't minify this code.
How can in use DI in $canActivate method in strict DI ?

[2015-10-14 11:25] ericmdantas commented on #4722
:smile:

[2015-10-14 11:28] janneromell commented on #2275
Got the feeling this problem is back with alpha37+ (not sure which version).
I can't load any Angular 2 webs in Safari on iOS8.4

[2015-10-14 11:45] shatakshidixit1 opened #4727 "angular2 ::alpha42 is not working"
***This is my index.html***

[code]

***This is my app.ts***

[code]

error in console is: GET https://registry.jspm.io/app.js 404 (Not Found)i @ es6-module-loader@0.16.6.src.js:2612$__Object$defineProperty.value @ es6-module-loader@0.16.6.src.js:2787n @ es6-module-loader@0.16.6.src.js:377t @ es6-module-loader@0.16.6.src.js:365$__Object$defineProperty.value @ es6-module-loader@0.16.6.src.js:2786$_

[2015-10-14 11:52] ericmartinezr commented on #4727
@shatakshidixit1 hey, you can check this issue https://github.com/angular/angular/issues/4676 the solution that worked are for plnkr, if you want something local you have to follow @pkozlowski-opensource repo

[2015-10-14 12:00] jessegood commented on #4725
@basvandenheuvel : See https://github.com/angular/angular/issues/4507. Sorry I don't know the solution for Visual Studio though.

[2015-10-14 12:04] pkozlowski-opensource commented on #4727
Yep, all the pointers are in #4676. New docs with the up-to-date getting started guide will be on-line soon.

[2015-10-14 12:04] #4727 closed

[2015-10-14 12:25] shatakshidixit1 commented on #4676
@KillerCodeMonkey  same problem with me .all errors have gone but there is no output at all.
Can you Please help me

[2015-10-14 12:47] svrcekmichal opened #4728 "Issue: double click on nested route break router outlet"
Firstly, soory for no plunker, I wasn't able to run ng2 there, but here's code

[code]

after recompile you cas see this in browser:

[code]

Now to simulate problem:
1. double click on `Route11`
2. click on `Route1`
3. click on `Route11`

and you will get: `Cannot reuse an outlet that does not contain a component.`. If you click on `Route12` and then back to `Route11`, everything will work, but i

[2015-10-14 12:53] maxime1992 commented on #4721
@pkozlowski-opensource when you say that using an event handler without a handler doesn't make much sense, i understand.
But it's written in the doc and that's why it's confusing : https://angular.io/docs/ts/latest/guide/user-input.html#local-variables

[2015-10-14 12:57] pkozlowski-opensource commented on #4721
@maxime1992 as noted in #3754 docs need to be fixed and the error message needs to be fixed. Docs are being re-done atm so this should be covered soon.

[2015-10-14 13:07] vguede commented on #4626
I found the solution !
[code]

[2015-10-14 13:39] todoubaba opened #4729 "alpha.42: HashLocationStrategy.path() should not append query params"
https://github.com/angular/angular/blob/8bc40d3f4da8244b7cd6bea2f0eeb444ecd5d676/modules/angular2/src/router/hash_location_strategy.ts#L65

If url is `http://www.example.com/path?x=y#/route`, path() returns `/route?x=y`.
When refreshing the browser, url turns into `http://www.example.com/path?x=y#/route?x=y`.

[2015-10-14 13:53] jakubsta commented on #4452
:+1:

[2015-10-14 14:00] PascalPrecht commented on #4452
Perfect! As a current workaround, @cburgdorf and I introduced and are using "state" components. Those state components are just simply wrapper components that we navigate to and have the actual component that needs data through a binding as view child.

[2015-10-14 14:42] tbosch opened #4730 "css shimming in transformers break on rules with `calc(...)`"
E.g.
[code]

Gets changed into
[code]

[2015-10-14 15:26] tbosch commented on #2733
@TedSander The new compiler does this now: It converts all stylesheets into separate `.dart` files that follow the `@import` path. I.e. if a stylesheet is used by 2 components, their generated template used the same generated `.dart` file.

Also, the new compiler understands relative template/style urls now.

Leaving open until the new compiler is in Google3

[2015-10-14 15:27] tbosch commented on #2607
@TedSander This should be solved by the new compiler. Could you double check once it is in G3?

[2015-10-14 15:37] IgorMinar opened #4733 "Warn about unfulfilled directive dependencies"
If I have a set of directives that collaborate to get stuff done (e.g `DefaultValueAccessor` and `NgModel`) and I include just one of them, I might get very poor error messages about stuff being null.

Example with declaring view dependency on NgModel rather than on FORM_DIRECTIVES results in this:

[code]

It would be great if we either warned about the missing dependency or included it by defaul

[2015-10-14 15:38] simpulton opened #4734 "Output property should throw an error if it is not plural in metadata"
Output property should throw an error if it is not plural in metadata

[code]

[2015-10-14 15:41] simpulton opened #4735 "router should default to hash location"
Most build systems (other than webpack) HTML5 push state is not enabled by default.

This will most definitely cause confusion and frustration for the majority of developers especially if they are using a live reload mechanism.

[2015-10-14 15:49] IgorMinar opened #4736 "Error when people write two way data-binding as ([prefix-foo]) rather than [(prefix-foo)]"
If I write incorrectly, I don't get any warnings or errors. Nothing happens. That is hard to debug.

[2015-10-14 15:51] pkozlowski-opensource commented on #4736
Definitively! This is why we've got an issue for this already: https://github.com/angular/angular/issues/3662

I'm going to close this one as a duplicate of #3662

[2015-10-14 15:51] #4736 closed

[2015-10-14 15:55] IgorMinar commented on #4736
thanks!

[2015-10-14 16:02] IgorMinar opened #4737 "Consider switching [(prefix-foo)] to banana style ([prefix-foo])"
I keep on making mistake of using the wrong one all the time (which currently results in frustrating silent failure #3662).

My mental model is: data-bind `prefix-foo` via `[prefix-foo]` and oh, make it two-way biding `([prefix-foo])`. While that's intuitive, it currently doesn't work.

If I wanted to switch my mental model, I would have to say: event-bind `prefix-foo-change` via `(prefix-foo-chan

[2015-10-14 16:04] IgorMinar commented on #4737
btw "banana" reference comes from [functional programing papers](http://eprints.eemcs.utwente.nl/7281/01/db-utwente-40501F46.pdf) and the term is already used in F#.

cc: @vsavkin

[2015-10-14 16:05] IgorMinar commented on #4733
example: http://plnkr.co/edit/BUvGjFhgpxoe5k2UyjWe?p=preview

[2015-10-14 16:06] IgorMinar opened #4738 "Update plunker templates to a41"
Especially the `bindings` -> `providers`. There might be something else.

[2015-10-14 16:07] IgorMinar commented on #4738
@robwormald @jeffbcross can you please take care of this since you own the gists? Does anyone else need to be involved?

[2015-10-14 16:26] jeffbcross commented on #4738
@IgorMinar sure, I'll update my plunk that some folks have forked to create their samples, though I'm trying to understand the purpose. Are we updating the templates so that API docs created in the future can be based off the updated template? If so, I thought we were close to having our API docs process use embedded code samples instead of plunker. Is that not the case?

[2015-10-14 16:28] KillerCodeMonkey commented on #4676
You need to put your app.ts in a subfolder of your project dir (e.g. ./src)

[2015-10-14 16:29] jeffbcross commented on #4738
BTW I'll update to 42 since that's the version we should be encouraging folks to use from npm. The only new feature in that release is the addition of minlength and maxlength validators https://github.com/angular/angular/commit/e82a35d1fd481ea3f1c72db60e6bc490398f12c8

[2015-10-14 16:29] robwormald commented on #4738
TS plunker template updated to 42 : http://plnkr.co/edit/tpl:AvJOMERrnz94ekVua0u5

@jeffbcross I think this was mostly for quick bug reproductions and generalized freeform plunkery than anything specific to our docs.

@rkirov owns the ES6 and ES5 versions I believe.

[2015-10-14 16:35] IgorMinar commented on #4539
oh crap. we we need to fix this.

[2015-10-14 16:40] jeffbcross commented on #4738
My base plunk here has also been updated: http://plnkr.co/edit/f5oyIked9M2cKzvZNKHV?p=preview

[2015-10-14 16:41] jeffbcross commented on #4738
@robwormald cool, so mostly for core contributors' benefit? Or are these published somewhere for community members to use as a starting point?

[2015-10-14 16:43] robwormald commented on #4738
mine and @rkirov's templates are the ones you see at the bottom of the list here:
<img width="528" alt="screen shot 2015-10-14 at 9 42 33 am" src="https://cloud.githubusercontent.com/assets/534930/10490823/0064562a-7258-11e5-9f7c-98188ad59867.png">

[2015-10-14 16:51] rkirov commented on #4738
upgraded to 42.

[2015-10-14 16:53] rkirov commented on #4738
@robwormald how about using @Input and @Output decorators instead of the @Component{intput, output) in your template?

[2015-10-14 16:55] alexeagle opened #4742 "Sketchy block-scoped var in es6 export initializers"
https://github.com/angular/angular/blob/f5159389b365ee668d51b48351e6e71d22cd0962/modules/angular2/src/core/facade/browser.ts#L11
[code]

This will break with typescript@next and looks wrong.

reported by @vladima

[2015-10-14 16:57] robwormald commented on #4738
Done. Can you just cross check and make sure I'm doing that right?

[2015-10-14 18:27] thelgevold commented on #4737
I don't really care which one you end up with.
However, maybe it will help change your mental model by considering the current one a "boxed" banana
[()] === a banana in a box :-)

[2015-10-14 18:28] rosendi opened #4746 "Usage of ChangeDetectionStrategy.OnPush"
I've just read article by @vsavkin "CHANGE DETECTION IN ANGULAR 2" and I'am little bit confused on the usage of `ChangeDetectionStrategy.OnPush`. As I understood component has to be changed if and only if the some property has been replaced. But in the example below the result is list of Dimitri and Laura divs, although `names` array hasn't been replaced.

[code]

[2015-10-14 18:39] rkirov opened #4747 "query changes dart streams need to be closed"
I think that the lifecycle of the component querying, the queryList object and the subscription are always exactly the same, and we do release all references. But I am told that is not enough and we should also close the stream before releasing.

Should be as simple as adding `.close` here https://github.com/angular/angular/blob/master/modules/angular2/src/core/linker/element_injector.ts#L1076

[2015-10-14 18:46] IgorMinar commented on #4737
@thelgevold :-) that still doesn't solve the `(prefix-foo-change)` -> `[(prefix-foo)]` problem

[2015-10-14 19:13] TedSander commented on #4747
Is it possible to get these for other stream  that angular provides? Events?

[2015-10-14 19:39] vsavkin opened #4748 "Host bindings should execute right before with the view of the component"
Currently, we execute host bindings right after we check the inputs of a component. This is not correct. Instead, we should execute them right before we check the view of the component.

[2015-10-14 19:40] vsavkin opened #4749 "Dart transformers should not depend on the fact if they run in the checked mode or not"

[2015-10-14 19:49] otodockal commented on #4737
I like the idea of current style [(prop)], which is based on desugared...

[code]

but, what about to have double square brackets for two-way biding? It's simple and you can't be wrong. Just an idea.

[code]

[2015-10-14 20:50] timkindberg commented on #2296
What @typotter said. +1

We currently have an a1atscript project going. We found the no-bubble restriction of custom events to be frustrating. We ended up using $scope events because we assumed Angular 2 would bubble custom events so we thought they better polyfilled Angular 2.

Here is a great use case with code example.

We have a product purchasing app. It's a grid of products. When I add a pro

[2015-10-14 21:42] ericmartinezr commented on #4737
Personally I think it should be removed, and we should write the desugared form. It's less magical and because of the renaming now it's more confusing IMHO.

[2015-10-14 22:24] btford commented on #4452
I need help from someone more familiar with Angular Core– so @tbosch, @mhevery, @rkirov, or @vsavkin on how to approach this.

[2015-10-14 22:28] alexpods commented on #2296
@timkindberg Just add `addToCart` eventEmitter, as you've done for `ProductCard` component. It'll make `ProductCardGrid` interface to be more explicit and, as a result, much easier to maintain.
[code]
Also bubbling can lead to event name collision, when two child elements emit different events with the same name. So mine -1 for it.

[2015-10-14 22:48] alexpods commented on #2296
A small offtopic.

I very much like "dumb/smart components" idea. It very handy to create smart components (statefull) using a lot of dumb components (statelesss, can only receive properties (inputs) and emits events (outputs)). Unfortunately angular2 is very bad adopted for this sort of things.

For example in React 0.14 you can create dumb components pretty easy:
[code]
while in angular2 you mus

[2015-10-14 23:00] naomiblack commented on #3029
Just chatted with Matan. He has this working in Dart (which has internal folks unblocked) but could use some help turning that into TypeScript as a contribution to Angular.

[2015-10-14 23:35] thelgevold commented on #4737
I personally wouldn't mind a meta based binding syntax

``
[firstName,{type:oneTime}]
[firstName,{type:oneWay}]
[firstName,{type:twoWay}]
``

Perhaps one of them could be the default. I know a lot of people disagree with me here, but I have always felt that one-time should be the default. Feels more natural to opt in to change tracking where it's needed as opposed to opting out where it's not need

[2015-10-14 23:57] IgorMinar commented on #4738
the ts plunker still includes traceur-runtime, can we remove that please?

I also see that all plunkers use minified bundles. is that intentional?
maybe for perf reasons? I just think that it makes debugging harder, but I
can just switch to non-minified version if needed.

lastly, the ts plunker pulls system from code.angular.js and the es6 pulls
it from jspm.io. can we unify this? unless jspm.io

[2015-10-15 00:31] drewrygh opened #4751 "Map object - Android polyfill"
***Overview of the Issue***
The `Map` object being used throughout [core/facade/collection.ts](https://github.com/angular/angular/blob/master/modules/angular2/src/core/facade/collection.ts) will cause one of the following errors during the app bootstrap process on Android:

***Errors:***  `m.values is not a function`, `undefined is not a function`

***Error Source:*** [core/facade/collection.ts#L6

[2015-10-15 00:42] #4467 closed

[2015-10-15 02:39] mprobst commented on #4596
Ugh, my fix broke some other behaviour in regexps. Will take a wee bit longer.

[2015-10-15 04:58] shatakshidixit1 opened #4754 "alpha::42 traceur-runtime"
I have heard that angular 2 alpha 42 version do not need use of traceur-runtime.
In my angular 2 alpha 42 version My prpgram is running perfectly with traceur-runtime.
But when i remove traceur there is a error ::
***Uncaught TypeError: Array.from is not a function***

[2015-10-15 05:50] rolandjitsu commented on #4746
`this.models` is probably `this.names`. Also `@Input() names: { name: string } = { name: "Dimitri" }` if `names` is an array, would be better defined as `@Input() names: { name: string }[] = [{ name: "Dimitri" }]`. And the array has been modified whenever you do a `.push()` or things that alter the array, so that would in theory trigger the change detection.

[2015-10-15 06:08] basvandenheuvel commented on #4725
Thanks, I indeed wasn't able to solve this problem in VS. I just commented the line in the .d.ts file...

[2015-10-15 07:11] mrydecki commented on #4452
:+1:

[2015-10-15 07:42] Antiavanti commented on #4452
:+1:

[2015-10-15 07:47] Sabartius commented on #4754
You need to include es6-shim instead.

[2015-10-15 08:11] rosendi commented on #4746
I've tried many variants in order to understand how change detection works, so sorry for small bugs. According to article OnPush strategy forces that component depends only on its input properties, and they are immutable.  Therefore `names` should be immutable, for example `Immutable.List<String>`. Immutable data cannot be changed once created, push instead return a new immutable collection.

[cod

[2015-10-15 08:17] mlaval commented on #4751
Including es6-shim should solve this issue

[2015-10-15 08:18] rosendi commented on #4746
just found a live example from angular source code - http://plnkr.co/edit/GC512b?p=preview.

[2015-10-15 08:19] Alxandr commented on #4754
@Sabartius does this mean it'd work with core-js as well?

[2015-10-15 08:46] pkozlowski-opensource commented on #4754
Guys, you need ES6 polyfill if you want to run ng2 in browsers that don't support all new ES6 methods (pretty much majority of them at this point :-)). Both  es6-shim and core-js should work well.

On top of this if want to run in older IEs you might need more polyffils, check what it needed for the framework to run on IE: https://github.com/angular/angular/blob/master/modules/angular2/src/testing

[2015-10-15 08:46] #4754 closed

[2015-10-15 08:46] pkozlowski-opensource commented on #4751
See https://github.com/angular/angular/issues/4754#issuecomment-148320793

[2015-10-15 08:46] #4751 closed

[2015-10-15 09:06] mlaval opened #4756 "[Edge] Browser disconnects when running the full unit tests campaign"
As found in PR #4260, Edge disconnects before executing all the tests, when running the full unit test campaign.

Investigations showed that 3 particular tests are causing this, but without any good reason. Executing them individually is successful.
These tests are: https://github.com/mlaval/angular/commit/b42cbcb55987ab6bb05ded876f150e3f93f98ff0

Skipping them is a workaround to make the campaign

[2015-10-15 09:18] rizwangithub opened #4757 "In ng-app application css media queries not working properly on ie9 and ie10"
In my AngularJS app, CSS media query is not working properly only on IE9 and IE10. Media query defined for small screen is effecting globally. It works only when I resize the browser or inspect the element.

No issues in other browsers like Chrome and Firefox. I've not tested this in IE10+ browser. It works in IE8+ when I remove AngularJS. Here is my media query:

@media (min-width: 0px) and (max-

[2015-10-15 11:11] gdi2290 commented on #4757
I think you might be looking for Angular 1 which lives here https://github.com/angular/angular.js

[2015-10-15 11:51] Nayyarjamal opened #4759 "angular2 Alpha42 routing error"
***this is my app.ts***

[code]
***this is my navbar.ts***
[code]
***this is my index.html***
[code]
***i am getting this error***
[code]

[2015-10-15 11:52] PascalPrecht commented on #4759
@Nayyarjamal this is because the `[router-link]` consumes a DSL where you use the alias (`as`) of your route configuration.

Try `[router-link]="['/NavBarCmp']"`

[2015-10-15 12:00] Nayyarjamal commented on #4759
now its working.. thanks :+1: :blush:

[2015-10-15 12:00] #4759 closed

[2015-10-15 12:19] woppa684 commented on #4738
Currently none of them are working (at least on my PC), the console shows:

[code]

[2015-10-15 13:54] filipows commented on #4452
:+1:

[2015-10-15 14:38] binarious commented on #4413
This seems fixed since Alpha 41 (https://github.com/angular/angular/commit/8bc40d3f4da8244b7cd6bea2f0eeb444ecd5d676).

[2015-10-15 14:38] cburgdorf commented on #4452
I don't mean to ruin the party but since there may be several routes and therefore several completely different components behind `<router-outlet>` Each of those components would want to bind different properties. It may be that I'm getting it wrong but the way it stands now it seems to be only useful if all my routes take the same properties which is most likely not the case.

That is why we rece

[2015-10-15 14:51] binarious opened #4760 "[Alpha 42][Router] Query Param String "1" and Arrays"
**Potential Bug**:
The string `"1"` results in query param value `true`:
[code]

**Question**:
*Update: Duplicate of https://github.com/angular/angular/issues/2959*.
Is it intended that more complex query params aren't supported? Example:
[code]

[2015-10-15 15:41] yjbanov commented on #4677
@IgorMinar that is right. AngularDart breaks us because we run external_benchmarks.

[2015-10-15 15:53] nosachamos commented on #4413
Very true. I just validated this again on alpha 42. Ready to be closed.

[2015-10-15 15:53] #4413 closed

[2015-10-15 16:02] rolandjitsu commented on #4746
Yes, but doing `this.names = this.names.push({ name: "Laura" })` is actually changing the input, so that would trigger the change detection, but simply doing `this.names.push({ name: "Laura" })` should not if the definition says that it will not act on changes to the data as it is expected to be immutable.

[2015-10-15 16:09] rolandjitsu commented on #4746
In the example you posted `this.ref.markForCheck();` manually triggers the change detection. Actually it just lets angular know that when the next event occurs in the current zone, it should trigger a change on the components that are marked for check. At least that is my understanding. You can also see a bit more [here](https://github.com/angular/angular/blob/b96784756ced8ae5caf8ad9a3a61206372c23

[2015-10-15 17:11] matanlurey commented on #4340
Ping

[2015-10-15 17:56] IgorMinar commented on #4677
ah! thanks

On Thu, Oct 15, 2015 at 8:41 AM Yegor <notifications@github.com> wrote:

[2015-10-15 18:00] IgorMinar commented on #4738
that looks like a local proxy issue

On Thu, Oct 15, 2015 at 5:19 AM Roel van Bakel <notifications@github.com>
wrote:

[2015-10-15 18:06] woppa684 commented on #4738
It sure does, but since I only have issues with that single file I thought I'd mention it anyway

[2015-10-15 18:16] yjbanov commented on #4677
This is fixed now.

[2015-10-15 18:16] #4677 closed

[2015-10-15 18:53] DeanB2015 opened #4764 "Error 404: NPM package "angular2": "2.0.0-alpha.42""
I'm getting an NPM error `npm ERR! 404 'reactivex/rxjs' is not in the npm registry.` when I use NPM to download "angular2": "2.0.0-alpha.42"

![reactive](https://cloud.githubusercontent.com/assets/10567383/10524204/5f1520ce-734c-11e5-9e1f-fc35947ff894.PNG)

[2015-10-15 19:06] #4014 closed

[2015-10-15 20:33] robwormald opened #4768 "Form / Input .valueChanges fires unexpectedly"
When binding to form inputs' valueChanges observable, methods attached to elements will trigger valueChanges to fire unexpectedly.

Reproduction: http://plnkr.co/edit/aBvtMSfBsSZcAH83GUjN?p=preview
Steps:
- Type in input box, observe valueChanges observable logging values (expected).
- Click button (which is outside of form) - observe observable logging values (unexpected)

cc @vsavkin

[2015-10-15 20:51] gustavoq-infocorp opened #4769 "components created multiple times using ngForTemplate"
I'm using the new ngForTemplate and when use it with a collection, the rendered components are new instances and not the objects that I created at the beginning and the constructor is called multiple times.
Let me describe the problem in code (see full code at plunker [here](http://plnkr.co/edit/4BDpYUPU3yPK1YnNRE1Q?p=preview) ):

## app.ts
#### using the list component

[code]
#### creating the o

[2015-10-15 20:59] matthewDDennis commented on #4764
make sure you are using the latest versions of node and npm.
I was having the same issue in VS2015, but adding a path to the latest node in the Web Tools External Paths fixed this.

[2015-10-15 21:29] jbdeboer opened #4771 "Exception given with incorrect / incomplete stack trace"
Stack trace is pointing at the abstract_change_detector, but should be pointing somewhere else.

A reproduction case is in the internal bug: https://b.corp.google.com/issues/24981990

STACKTRACE:
package:angular2/src/core/change_detection/abstract_change_detector.dart 159:18  AbstractChangeDetector.hydrate
package:angular2/src/core/compiler/view_manager_utils.dart 249:14                AppViewMana

[2015-10-15 21:55] ericmartinezr commented on #4764
see https://github.com/angular/angular/issues/4516

[2015-10-15 22:00] DeanB2015 commented on #4764
@matthewDDennis Thanks for the help!  `VS2015` and an old version of `Node` is the problem.  I updated Node to the latest version and moved the $path up in the external tools order. VS2015 now downloads `angular2`.  Unfortunately, when I make the change I get other errors in VS2015, but atleast I isolated the issue.  Note: I also added the node folder and experience the same problem.  ![0285 tools

[2015-10-15 22:07] matanlurey opened #4772 "QueryList: `changes` is initially called with an empty list..."
which seems wrong, since nothing changed, it went from empty list to empty list.

I'd expect the first .changes stream event to come in when at least a single item was found.

[2015-10-15 22:09] #4764 closed

[2015-10-15 22:39] danicomas opened #4773 "Implementation of ng-for to only render in DOM the rows shown"
In mobiles the performance is much better if only we render the items that we need. It would be amazing for lists with a lot of rows.

Look a the implementation of ionic collection-repeat in ng1: https://github.com/driftyco/ionic/blob/af1bfef327e685585244c6051c4d38b98aa6c62a/js/angular/directive/collectionRepeat.js

@adamdbradley @perrygovier @mhevery

[2015-10-15 22:57] jbdeboer commented on #4771
Upon closer investigation, this exception *is* coming from the correct location.

[2015-10-15 22:57] #4771 closed

[2015-10-15 22:59] jbdeboer opened #4774 "Classes with the same name from different libraries can trample protoChangeDetectorFactories"
since protoChangeDetectorFactories's map keys are based on non-qualified type names.

@vsavkin expects @tbosch's latest compiler changes will fix this bug.

[2015-10-15 23:18] IgorMinar opened #4776 "Remove leaking RootTestComponent_ from the public api"
currently we accidentally leak `RootTestComponent_` via `angular2/testing` this is not intentional and likely a result of poor reexporting.

[2015-10-15 23:42] jessegood commented on #2844
FYI: Seems the milestone needs to be updated.

[2015-10-16 00:51] StacyGay opened #4780 "Expose ViewResolver so it can be extended and overridden"
Expose ViewResolver from core/linker/view_resolver.ts.
ViewResolver is not accessible through the ng module.  Please open it up so we can extend, modify its behavior and override it in the Injector.

DirectiveResolver is available, I'm curious as to why ViewResolver isn't as well since it provides much more function.

[2015-10-16 01:16] btford commented on #4760
The first looks like a legit issue, the second is not implemented yet– there's another open issue on passing complex objects as params in navigation.

[2015-10-16 01:27] ericmartinezr commented on #4525
Sorry for bumping this issue, but just upgraded to a.44 and I ran into this issue (prior to a.44 this didn't happen to me). I tried @mlaval patch but doesn't work for me, instead of failing and crashing, it just throws the error message, pass it and gets stuck in a posterior step, here's part of the log http://pastebin.com/N0CZzPUm (It just get stuck in the last line). I even tried with giving mor

[2015-10-16 01:37] btford commented on #4735
Open to changing this. Not sure what build systems have to do with this– shouldn't this only be a server issue?

Can you give an example of a setup where this is problematic?

@IgorMinar @matsko what do you think?

[2015-10-16 01:57] IgorMinar commented on #4735
In A1 we defaulted to hash location and many people didn't even know that there was another option.

In A2, we should stick to pushState by default unless there is an overwhelming evidence that this is problematic. I'd rather work on exposing developers to the correct serve side configuration (or provide it out of the box wherever we can)

[2015-10-16 01:58] btford commented on #4729
I actually think this is reasonable behavior.

If you're using HashLocation strategy, there shouldn't be a reason to also use query params.

On IE9, there's no way to update query params client-side without a page refresh.

Can you describe why (aside from perhaps an aesthetic preference) this is problematic to you?

[2015-10-16 01:59] btford commented on #4728
@svrcekmichal any chance you can move this example to a runable plunkr or jsfiddle? It'd really help me save time in debugging. Thanks!

[2015-10-16 02:00] #4776 closed

[2015-10-16 02:01] btford commented on #4693
Yep, we're still in the process of working on docs. Please bear with us.

[2015-10-16 02:24] btford commented on #4319
I'm not opposed to @gkalpak's suggestion, but it seems quite verbose.

For now, I'm going to go with:

[code]

We can always revisit the name later if it proves too confusing.

[2015-10-16 02:25] rkirov commented on #4735
Do you know of any simple webservers that support mapping `app/any/custom/route/here` to `app/index.html` with minimal configuration? Something like `python -m SimpleHTTPServer`?

[2015-10-16 02:41] todoubaba commented on #4729
`http://www.example.com/path?x=y` is my page's base url, in which `x` is not irrelevant to router or angular2.

[2015-10-16 03:41] juergenzimmermann commented on #4735
Same issue with https://www.npmjs.com/package/http-server

[2015-10-16 04:18] naomiblack opened #4781 "broken links and warnings in alpha-44 API docs"
The API docs contain links to the following terms that can't be resolved (probably because they don't exist):
 - [ ] AppViewManager
 - [ ] Compiler
 - [ ] ComponentInstruction
 - [ ] Connection
 - [ ] ElementRef
 - [ ] JSONPBackend
 - [ ] LocationStrategy
 - [ ] NgContent
 - [ ] PlatformRef
 - [ ] ProtoViewRef

Also,
- [ ] an ambiguous link to "OnChanges" which is exported by lifecycle_hooks and b

[2015-10-16 04:23] simpulton commented on #4735
I do not think we should force a backend concern on a frontend framework. The only way to get push state to work is by configuring a server which could involve any number of permutations and / or concerns. There is no unified way to do this with a one size fits all solution.

Forcing a developer to not only know Angular but ALSO how to configure push state on a server is just one more barrier to e

[2015-10-16 04:29] rizwangithub commented on #4757
ok am sorry

[2015-10-16 04:29] #4757 closed

[2015-10-16 04:35] bradlygreen commented on #4698
@mhevery can you take a look at this request?  seems like a good boilerplate savings if there's a reasonable method for making it work.

[2015-10-16 05:17] mhevery commented on #4698
@Aetet from what I can tell, it seems to me that you would like an object called 'context' to be available to all components. Can't you just configure it in the DI and then pass it in?

[code]

[2015-10-16 05:26] svrcekmichal commented on #4728
@btford so I have tried once more, and then once more and I've got it :D

http://plnkr.co/edit/FCSTYoZmN77vKNMJT8vQ

[2015-10-16 05:35] mhevery opened #4782 "returning false from event no longer cancels prevent default"
[code]

Should prevent default because last statement is `false`. This no longer works as of the new compiler.

[2015-10-16 05:53] Aetet commented on #4698
Ok, I see. That's exactly what I need. Thanks. And one more question where I can read about them more in a doc? Currently doc preview API responds with 404.

[2015-10-16 06:07] robwormald commented on #4698
@Aetet re: redux - i did a demo of this a few weeks back - http://plnkr.co/edit/wj4lRtAwNMry8ToNzLrm

tldr: redux store wrapped in an observable stream, pushing updates to the components. you might find it helpful.

[2015-10-16 06:19] Nayyarjamal opened #4783 "angular2 Alpha42 gulp error"
i have get a project from a repository [GitHub](https://github.com/shatakshidixit1/shatakshiGulpBrowsersync)

when i try to run this project it works first time but after some time it automatically disconnects and shows following errors

[code]

[2015-10-16 06:25] shatakshidixit1 commented on #4783
@Nayyarjamal  You just have to clone my repository and use the command gulp not npm run gulp.
Is your browserSync is Connecting?

[2015-10-16 06:29] Nayyarjamal commented on #4783
@shatakshidixit1 i have tried this too. but still its not working it shows another error if i use "gulp" to run the project

***error***

[code]

[2015-10-16 06:32] robwormald commented on #4783
@Nayyarjamal this looks like a problem specific to your project setup itself - you might try asking in the gitter channel or on stackoverflow. Please try to use GitHub only for reporting issues specific to the framework itself, thanks! :octocat:

Closing this, but feel free to discuss with @shatakshidixit1

See also gitter.im/angular/angular

[2015-10-16 06:32] #4783 closed

[2015-10-16 06:33] ninachaubal commented on #4695
Update: Turns out Router.subscribe() was firing correctly. Closing the bug.
I have a navbar component that subscribes to the router and determines whether or not to display certain menu items depending on the route that's active. The callback to subscribe flips a flag and the view typically picks that up and updates itself. For some reason, in this one case where I Router.navigate to the view at /

[2015-10-16 06:33] #4695 closed

[2015-10-16 06:36] robwormald commented on #4738
updated to 44

[2015-10-16 07:05] SonicGD commented on #3464
There is some problem with selector validation:

[code]

It fails only if attribute value is int. String value is fine:
[code]

Check on alpha44

[2015-10-16 09:25] pkozlowski-opensource commented on #4735
I'm with @simpulton on this. The less friction for newcomers the better. In my experience part of the Angular 1 popularity could get started with it quickly and experiment with the framework without too much fuss.

@IgorMinar IMO what is "correct" is debatable - if you need to support older browsers you can't use push state anyway. And with such great diversity of web servers being used in dev / p

[2015-10-16 09:38] Fank commented on #4515
I can confirm this issue, after upgrading to alpha44 it still exists:
[code]

Line 56-59 are the `@Attribute` lines
[code]

[2015-10-16 09:40] rolandjitsu commented on #4515
Yes, still there.

[2015-10-16 12:15] mlaval commented on #4525
On Windows, still the same situation with latest master.
Upgrading to node 4.2.1 doesn't help

[2015-10-16 13:09] DeanB2015 commented on #4764
@matthewDDennis I'm curious what Node path your used for Web Tools External Paths?  I'm getting errors with my VS2015 when I add the latest Node version.
I added a question for the VS2015 team here:
http://stackoverflow.com/questions/33160226/how-to-update-vs-2015-cordova-node

Thanks

[2015-10-16 13:29] IgorMinar commented on #4525
Marc, let's debug this after Angular Connect when I'm at your office.

On Fri, Oct 16, 2015, 5:15 AM Marc Laval <notifications@github.com> wrote:

[2015-10-16 13:36] jessejohnson opened #4785 "Error in angular2-quickstart docs"
Lines 1 and 2 should read

`var AppComponent = ng.Component({`

instead of

`var AppComponent = ng
  ng.Component({`

Running the former in Chrome 46.0.2490.71 gave me a ` Error during instantiation of Token Promise<ComponentRef>!.` exception, the original exception being `No Directive annotation found on [object Object]`

[2015-10-16 14:19] KhaosTheory1012 opened #4786 "jspm not loading from the right source (alpha29 - 44)"
Hey,
I tried to start working on my angular2 project from back in May again and wanted to upgrade to the newest alpha release to try some new stuff out but every version newer than alpha28 seems to break jspm for me.

"https://registry.jspm.io/scripts/app.js 404 (Not Found)"
"Potentially unhandled rejection [3] Error loading "scripts/app" at https://registry.jspm.io/scripts/app.js
Not Found: https

[2015-10-16 14:31] ggranum commented on #4786
Have you updated JSPM? My package.json points to "jspm": "0.16.2" and "typescript": "^1.5.3" in devDependencies, and in the jspm dependencies the angular version is set to "angular2": "npm:angular2@2.0.0-alpha.36"

I'd just delete my jspm and npm directories and run install again on each of them. But that's me. I'm sure if you'll need to update your config.js file, but it wouldn't surprise me.

[2015-10-16 14:47] StacyGay commented on #4780
To explain further, I'm looking for a work around of issue https://github.com/angular/angular/issues/4275.

If I were able to override the ViewResolver I could alter the directives being pulled from the ViewDecorator like so:

    import {DirectiveResolver, DirectiveMetadata, Injectable, Injector, Type, bind} from "angular2/angular2";
    import {ViewMetadata, ViewResolver } from 'angular2/angular

[2015-10-16 15:14] coryshaw1 commented on #4780
+1

[2015-10-16 15:31] vicaba opened #4787 "Documentation error"
On https://angular.io/docs/ts/latest/tutorial/toh-pt2.html in the section "Styling Our Heroes", the styles property is back-quoted, it also needs to be in brackets -> styles: [``].

[2015-10-16 15:37] KhaosTheory1012 commented on #4786
system.src.js:1021 GET http://localhost:8080/scripts/util/footerComponent 404 (Not Found)

getting this right now and everything else loads up properly (at least it looks like that) but i cant change fileextension to true because the imports wont work because there is no angular2/angular2.js but a .dev.js

[2015-10-16 16:26] mhevery commented on #4698
working as intended

[2015-10-16 16:26] #4698 closed

[2015-10-16 16:34] Foxandxss commented on #4785
Thanks. There is already a PR to fix that :)

[2015-10-16 16:36] pkozlowski-opensource commented on #4785
Closing as duplicate of https://github.com/angular/angular.io/pull/268

[2015-10-16 16:36] #4785 closed

[2015-10-16 16:38] pkozlowski-opensource commented on #4787
Thnx for reporting, tracked by https://github.com/angular/angular.io/pull/275

[2015-10-16 16:38] #4787 closed

[2015-10-16 16:55] mhevery commented on #4737
@IgorMinar havig `([foo])="exp"` would be read as on event `foo`, then you realize that it has `[foo]`. So while I see your confusion, I think you can get equally confused from the other way. To me `[(foo)]="exp"` reads binding to `exp`, ohh I see it is bidirectional.

In other words I see the two syntaxes as wash, and I don't see any one being qualitatively better then the other. My vote is to ei

[2015-10-16 16:56] mhevery commented on #4738
Looks like this is resolved and can be closed. Closing, reopen if there is more.

[2015-10-16 16:56] #4738 closed

[2015-10-16 17:13] mhevery commented on #4772
I think that is correct behavior. It is saying that the list when from unknown to empty. Imagine that the list would be created with 10 items, you would expect the callback. So as you decrease the number of items, in list it gets called until we reach 0 items, we would not call you? that is not right. Empty array is still information and it should be delivered.

[2015-10-16 17:15] mhevery commented on #4773
That would be amazing, but unfortunately there is no easy way to know when something is below fold. Ionic can guess on that because it controls the whole rendering and it knows how big the rows are. The only way for ng-repeat to know that would be to run the browser layout engine, which is extremely expensive.

It is unlikely that we will be able to deliver such a feature.

[2015-10-16 17:15] #4773 closed

[2015-10-16 17:16] mhevery commented on #4774
Per @vsavkin this should not be an issue in the new compiler, once it is synced to google3 since we no longer look things up with strings.

[2015-10-16 17:16] #4774 closed

[2015-10-16 17:16] mhevery commented on #4780
I think it is oversight.

[2015-10-16 17:18] mhevery commented on #4786
we don't support JSPM, it is community only. We recommend this instead: https://angular.io/docs/ts/latest/quickstart.html

[2015-10-16 17:18] #4786 closed

[2015-10-16 17:20] mhevery commented on #4663
thanks @PascalPrecht

[2015-10-16 17:20] #4663 closed

[2015-10-16 17:21] mhevery commented on #4670
resolved

[2015-10-16 17:23] mhevery commented on #4674
Already supported: http://victorsavkin.com/post/110170125256/change-detection-in-angular-2

[2015-10-16 17:23] #4674 closed

[2015-10-16 17:28] djvs commented on #4674
Just to be clear (I read that article and posted this right after) - there is a way described therein, where you can mark a Component only to update on a specific property being triggered, or event being received, etc., without having to watch its individual properties?