[2020-10-06 16:27] aresot commented on #39128
Thank you for reply. I corrected my original report with proper message. Message is definitely the same. Will compare your example with mine. Have a feeling something mismatched with the versions.

[2020-10-06 16:39] IgorMinar commented on #33208
I believe that this is now obsolete. Closing

[2020-10-06 16:39] #33208 closed

[2020-10-06 18:03] juhas96 commented on #38535
Hey I want to contribute on this issue.

[2020-10-06 18:49] Yash2737 commented on #38461
Is this issue still available ? @themindfulcoder @akashsolanki , did you work on it?

[2020-10-06 18:49] wfairclough commented on #38795
Hi @JiaLiPassion,

Thanks for looking into this issue I was seeing. I have tried updating my minimal reproduction repo to 10.1.4 to see that your commit fixes the issues, although I am still seeing macroTasks left running after requests to non-existent urls. I believe the fix should be in the release, am I mistaken?

[code]

https://github.com/wfairclough/AngularHttpMacroTaskMinimalReproduction

[2020-10-06 18:57] JoostK commented on #38795
@wfairclough Could you try with zone.js 0.11.2? It's released separately from the main framework; [the changelog can be found here](https://github.com/angular/angular/blob/05672ab13644b1cb03c3683fdfa4c2d186438938/packages/zone.js/CHANGELOG.md).

[2020-10-06 19:02] Andrei0872 commented on #16261
@hahn-kev I'm pretty sure there will be no memory leaks.  That's because the entity, in this case a `BehaviorSubject`(`ActivatedRoute`'s properties are `BehaviorSubject` instances), is destroyed when the `ActivatedRoute` associated to that view is destroyed.

I've detailed [here](https://stackoverflow.com/a/63258734/9632621) why memory leaks occur when using a Subject. From my perspective, the Sub

[2020-10-06 19:02] wfairclough commented on #38795
@JoostK Thanks for pointing that out. Doesn't look like 0.11.2 has been released to npm as of now, I will try it once it has been published.

[2020-10-06 19:06] JoostK commented on #38795
@wfairclough Oh, I didn't realize that. But now that you mention it, I remembered there's #39094 for that.

[2020-10-06 19:27] abarghoud commented on #39074
Hello @AndrewKushnir I would be happy to work on this one, can i ?

[2020-10-06 20:27] earshinov opened #39140 "Do something with `yarn add` removing __ivy_ngcc__ folders"
# 🚀 feature request

### Relevant Package

Probably @angular/compiler

### Description

When `ngcc` precompiles npm packages in `node_modules`, it puts compilation results into the `__ivy_ngcc__` folder next to package contents.

When `yarn add` is run, it cleans npm packages in `node_modules` of files not belonging to the package, removing `__ivy_ngcc__` folders as well.

So, when using `yarn`, a

[2020-10-06 20:28] earshinov commented on #39140
This feature request looks similar to https://github.com/angular/angular/issues/36076, but the latter is not about `yarn add`, but about `yarn install` that works well enough for me.

[2020-10-06 20:30] petebacondarwin commented on #39140
I'm afraid that this how yarn works - that node_modules are cleaned out on whenever dependencies change - and nothing in ngcc can change that.

[2020-10-06 20:31] earshinov commented on #39140
But what prevents ngcc from putting its files into a different place? That's what I suggest.

[2020-10-06 20:33] petebacondarwin commented on #39140
Regarding ngcc not touching `node_modules`: we have discussed this in the past. The problem is that many of the build tools would need to be aware of this place and it is not a viable design. Instead we are working on a replacement for ngcc (known as the ng-linker) which will not need to touch `node_modules`. See https://github.com/angular/angular/issues/38366.

[2020-10-06 20:34] petebacondarwin commented on #39140
Given that all efforts are going into the linker approach we will not be attempting to change the underlying design of how ngcc works, since there is no capacity to do so, and it will be unnecessary in the not-too-distant future.

[2020-10-06 20:36] earshinov commented on #39140
OK, got it. I guess this issue can then be closed with some kind of a "Won't Fix" resolution.

[2020-10-06 20:41] petebacondarwin commented on #39140
Cool. Thanks @earshinov. If you want you can follow along with the development of the linker here: https://github.com/orgs/angular/projects/2

Closing as this particular approach will not be implemented.

[2020-10-06 20:41] #39140 closed

[2020-10-06 20:43] earshinov commented on #39140
Good. @petebacondarwin , thanks for the clear explanation and the prompt reply.

[2020-10-06 20:56] kapunahelewong opened #39141 "Merge the attribute and property binding pages"
# 📚 Docs or angular.io bug report

### Description

Per this comment, should merge the attribute and property binding pages.
https://github.com/angular/angular/pull/38860#discussion_r498539098

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.io/...

### Reproduction Steps**

### Expected vs Actual Behavior**

## 📷Screenshot

## 🔥 Exception or Error
<pre><code>

</code></

[2020-10-06 21:08] marcinmilewicz commented on #39114
I'd be glad to look at it :)

[2020-10-06 21:31] CD-UNCC commented on #13461
This would be very helpful for those of use who wrap reactive forms

[2020-10-06 21:54] LayZeeDK commented on #39120
I had a discussion with @alxhub about this yesterday and he thought that there is a way this could be improved.

[2020-10-06 22:28] shairez opened #39144 "Improve Observables Testing documentation"
# 📚 Docs or angular.io bug report

### Description of the problem

Observables are a huge part of Angular.

Currently, the testing docs have examples on how to test Observable related code scattered across docs and we don't have a dedicated place to learn about Observable testing.

A lot of examples are scattered around the docs and suggest either testing observables by subscribing (without unsubs

[2020-10-06 23:21] dereklin opened #39147 "Dev server error is present when template error is fixed"
The issue is caused by package @angular/....

    "@angular/animations": "~10.1.4",
    "@angular/common": "~10.1.4",
    "@angular/compiler": "~10.1.4",
    "@angular/core": "~10.1.4",
    "@angular/forms": "~10.1.4",
    "@angular/platform-browser": "~10.1.4",
    "@angular/platform-browser-dynamic": "~10.1.4",
    "@angular/router": "~10.1.4",
    "rxjs": "~6.6.0",
    "tslib": "^2.0.0",
    "z

[2020-10-06 23:55] AlexanderFSP opened #39148 "Template parser produces wrong locations for HTML self-closing tags"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/compiler

### Is this a regression?

No

### Description

Template parser from @angular/compiler package produces wrong locations for HTML self-closing tags.
Here the initial simple template:

[code]
And if we pass this template to the exported `parseTemplate` function from @angular/compiler package we can see that `sour

[2020-10-07 07:12] cristianhosu commented on #38730
Angular elements work just fine for your use case.
The only changes that need to be made is to actually use the customElements.define for each component that you want to export.
This is assuming that the components are exported from an Angular app instead of an Angular Library project.
In that case, you can resort to a hack-ish method and built an Angular app that exposes one component for each an

[2020-10-07 08:33] petebacondarwin commented on #39128
I suspect that in JIT mode (i.e. aot=false) then the compiler is not configured to produce the legacy message ids in the `$localize` tagged template strings. I can take a look into that.

In terms of interpolations, you must realise that the format of the object you load at runtime (via `loadTranslations()`) is an a format that is not XLIFF. So you cannot expect XLIFF style placeholders to work. B

[2020-10-07 09:18] maximelafarie opened #39152 "Be more accurate in minimal supported browser versions"
# 📚 Docs or angular.io bug report

### Description

The supported browser versions listed [here](https://github.com/angular/angular/edit/master/aio/content/guide/browser-support.md) aren't that much accurate and make hard the explanations to bring to the client if it needs to upgrade each collaborator's browser.

## 🔬 Minimal Reproduction

### What's the affected URL?**
https://angular.io/guide/br

[2020-10-07 09:34] irekBudzowski commented on #27315
Hi, is there any news?

[2020-10-07 09:36] todduk opened #39153 "First load of docs site does not work if opened in a background tab"
# 📚 Docs or angular.io bug report

### Description
The first time I open the docs site in a background tab, in Chrome, the document body does not display.

## 🔬 Minimal Reproduction
0. Ensure you have not visited the docs page in question recently.
1. Browse a site with a link to the docs site, you can use this link; https://angular.io/api/common/NgIf
1. Use middle mouse click to open the docs lin

[2020-10-07 10:16] tirithen commented on #38730
Thanks for a good answer to my question that was caused as I got a task re-using Angular (version 10) components from a huge project (18mb JS download in the browser in dev mode! wow that really is huge, never seen anything that size before!) that I cannot change and encountered real challenges exporting it's components. The components would then be used in another larger project that is based aro

[2020-10-07 10:32] s-gbz commented on #39015
I can submit a PR. Here are [all module related results](https://angular.io/?search=modules)
[code]

I'd suggest to include
- Feature modules
- Lazy-loading feature modules
- Sharing modules
- NgModules

However this is just my 5 cents. Tell me what to include and the PR is out by tomorrow 🚀

[2020-10-07 10:39] mlc-mlapis commented on #38730
**@tirithen** You should consider that there is some amount of Angular runtime environment (it's possible to have it as only one bundle) that has to be also loaded, so it has the logical consequences to have such a bundle only one and sharable (loaded only once) for a set of some components (used as web components from other sides). Another factor is the ability to lazy-load of those components on

[2020-10-07 10:51] abderrahimkrimi commented on #39015
Hello,
My remark is just to add a link in the menu to be able to access the Modules chapter
In fact, I thought that the main concepts includes: modules, components, templates, directives and dependency injection but under the main concepts we don't see the Modules so I was just wondering if the link to the Modules chapter is missing :)
Thanks

[2020-10-07 11:03] tirithen commented on #38730
@mlc-mlapis Thanks, it's fine to have some extra runtimes as long as they don't slow down to much (I'm expecting some slowdown for sure). Hopefully the Angular project would be run as it's own closed environment (possibly including some extra boilerplate to export the components) and . I think I need to dig into the specific project a bit more before saying to much about the specific setup as it w

[2020-10-07 11:41] kkamkou opened #39155 "Recommendation clarification for Observables"
### Description
I would like to ask the core developers to clarify/expand the following sentence in the documentation for [Observables](https://angular.io/guide/observables):  "_They are used frequently in Angular and are the **recommended** technique for event handling, **asynchronous programming**, and handling multiple values._".

**Problem:**
_asynchronous programming_ here is a little bit wid

[2020-10-07 12:14] frederikprijck opened #39156 "Show All not working on api/common/http/HttpRequest"
# 📚 Docs or angular.io bug report

### Description

On the https://angular.io/api/common/http/HttpRequest link, clicking the `Show All` underneath the constructor doesnt expand the section. Clicking anywhere else (e.g. on 3 overloads) works fine.

## 🔬 Minimal Reproduction

### What's the affected URL?
https://angular.io/api/common/http/HttpRequest

### Reproduction Steps
- Scroll to the construct

[2020-10-07 12:18] petebacondarwin commented on #39156
The `Show All` is wrapped in an `<a>` tag, which is blocking the click from reaching the enclosing `<summary>` tag.
Removing the `<a>` wrapper fixes the behaviour but messes up the styling. So I think just a bit of tweaking in
https://github.com/angular/angular/blob/0681a20d2804c8d5e95bbd7babd7998a58655db8/aio/tools/transforms/templates/api/lib/memberHelpers.html#L135-L139
and
https://github.com/a

[2020-10-07 12:28] gnusiva opened #39157 "HttpClient support for binary file upload"
hi,

I need to upload binary file form angular httpClient class.

curl --location --request PUT 'http://something.com/somepath' \
--header 'Authorization: Bearer alsdfjalsf.asdfadsf.asdfadsf' \
--header 'Content-Type: application/x-7z-compressed' \
--data-binary 'path_to_binary_file'

[2020-10-07 12:30] petebacondarwin commented on #39128
For reference, I think the line that needs to change to support legacy message ids in Ivy JIT mode is https://github.com/angular/angular/blob/d795a001375a7d06592450d6f57a4f05d4d3e8e9/packages/compiler/src/render3/view/i18n/meta.ts#L55

[2020-10-07 12:38] sonukapoor commented on #39132
@Mohamed-M This seems to be working as expected. Here is a [stackblitz](https://stackblitz.com/edit/angular-gh-39132-input-number-validator?file=src/app/app.component.ts).

Enter a numeric value into the field and you will see that the `valid` property returns `true`, remove the value from the input and it shows `false`.

[2020-10-07 12:39] Anishmourya opened #39158 "An unhandled exception occurred: Cannot read property 'Minus' of undefined"
Oh hi there! 😄

Hi, I am trying to serve my angular app locally, but it's giving error "An unhandled exception occurred: Cannot read property 'Minus' of undefined"
I also looked codebase of angular-CLI, just noticed they have updated 28 days ago.
https://github.com/angular/angular/blob/aeec223db1236db236ab56a4a283cf2ca410cae3/packages/compiler-cli/src/ngtsc/translator/src/translator.ts#L14
which s

[2020-10-07 12:44] sonukapoor commented on #39157
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-10-07 12:44] #39157 closed

[2020-10-07 13:00] namikarif opened #39159 "Compiler.compileModuleAndAllComponentsSync “Runtime compiler is not loaded” in Angular 10"
I designed a dynamic form. It works well in Angular 5 version. However, after upgrading the Angular version to 10, it started malfunctioning.

Error message returned from **compiler.compileModuleAndAllComponentsSync** line:
[code]

It doesn't give this error when I close AOT. This time, ngModel is not working. How can I solve this problem without closing AOT?

[code]

[code]

[2020-10-07 13:22] Piket564 commented on #39115
Hi, i've same issue with an Ionic project.
Here my info:
[code]

And the error:

`Can't bind to 'ngIf' since it isn't a known property of 'ion-button'.`

[2020-10-07 13:38] tsproesser commented on #38626
Any news on this? Been a while and I still don't have any clue :(

[2020-10-07 13:38] AshMcConnell commented on #35759
@JoostK Thanks for your explanation, it helped me a lot.  I seem to be having problems getting it to work in production mode.  I have included `"src/app/**/*.component.ts",` in the tsconfig.app.json, but I still get this error when I use `ng serve --prod` (only to test)

`Error: C:\Dev\bucardo-web\src\app\+enquiries\enquiries.component.ts is missing from the TypeScript compilation. Please make sur

[2020-10-07 13:43] martinsotirov commented on #13788
In my Angular app my form works correctly but I get these `"control.registerOnChange is not a function"` errors every time I update the form. I use ngxsForm so I assume that's the reason I can use the form at all, even though Angular doesn't like the dynamic updating.

My structure is:

[code]

and then the `features` FormArray gets dynamically filled with FormGroups each containing a `value` Form

[2020-10-07 13:47] kapunahelewong opened #39160 "Review moving style binding content in attribute-binding.md to separate topic"
# 📚 Docs or angular.io bug report

### Description

Review moving style binding content to separate topic per this conversation
https://github.com/angular/angular/pull/38860#discussion_r498539098

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.io/...

### Reproduction Steps**

### Expected vs Actual Behavior**

## 📷Screenshot

## 🔥 Exception or Error
<pre><code>

</code

[2020-10-07 13:50] petebacondarwin commented on #39158
I would suggest that you have a version mismatch between `@angular/compiler` and `@angular/compiler-cli`. (Note that this has nothing to do with `@angular/cli`. Please check which versions you have installed.

[2020-10-07 13:54] petebacondarwin commented on #39159
By "closing AOT" do you mean "disabling AOT?
What you are trying to do requires that the Angular Compiler is deployed at runtime in the browser. A simple way to do this is to import it in your `main.ts` file, I believe.

[2020-10-07 14:03] JoostK commented on #39159
There's something funny going on as well, as `checkAndUpdateNode` in the stack trace indicates the usage of ViewEngine renderer and not the Ivy renderer, unlike the `Ivy Workspace: Yes` note in the CLI's version output.

[2020-10-07 14:04] marcinmilewicz commented on #39156
I'd take it

[2020-10-07 14:07] JoostK commented on #35759
@AshMcConnell sorry, that doesn't ring a bell. It might be that `src/app/**/*.component.ts` is resolved against a base url that starts at `src`, so you may want to try `app/**/*.component.ts`? I don't know the logic in the CLI's `AngularCompilerPlugin` to give you a better hint at the moment.

[2020-10-07 14:11] petebacondarwin commented on #39159
Oh it seems that AOT + JIT in the same program is not really supported at the moment. See https://github.com/angular/angular-cli/issues/17663

[2020-10-07 14:12] AshMcConnell commented on #35759
Thanks @JoostK I'll give it a go.  Odd that it works in non-production mode though

[2020-10-07 14:29] Anishmourya commented on #39158
@petebacondarwin worked for me. Yes, it was a version mismatch issue. I downgraded the compiler-cli version 😄

npm i @angular/compiler-cli@8.2.14
npm i @angular-devkit/build-angular@0.803.24

[2020-10-07 14:29] #39158 closed

[2020-10-07 14:43] piskula commented on #18374
still no progress on this?

[2020-10-07 14:51] Piket564 commented on #39115
Hi @petebacondarwin,

Sorry for misunderstanding.
Not a bug, but my mistake.

In the file `app-routing.module.ts` I had not set the route to the page or component correctly, consequently the component module could not load BrowserModule or CommonModule.

[2020-10-07 15:10] Niklas187 opened #39164 "ng i18n --ivy, incorrect value in "equiv-text""
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [ ] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [x] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

not really, but it works correct without the new "--ivy" flag

### Description

If you do have a i18n translation with an interpolation and then run "

[2020-10-07 15:11] jelbourn commented on #37329
@MatthiasKunnen does this still happen? It looks like it may have been a transient error with the mirror.

[2020-10-07 15:14] Airblader commented on #39155
Personally I'd prefer Angular stay away from making opionated recommendations that fall outside the actual framework on what to do or how to do it unless it is *objectively* better.

The framework doesn't need to dictate whether you're ever allowed, recommended or discouraged from using promises or async await any more than it needs to tell you how to format your code or which IDE to use.

If you

[2020-10-07 15:21] aikidave opened #39161 "Lazy Loading documentation should be in Best Practices"
# 📚 Docs or angular.io bug report

### Description

Currently, our documentation for lazy loading is here:

https://angular.io/guide/lazy-loading-ngmodules

Lazy loading is a common best practice when building an Angular application. It would be better if it we made this content more prominent and moved it to the Best Practices section.

## 🔬 Minimal Reproduction

### What's the affected URL?**
ht

[2020-10-07 15:22] jelbourn commented on #37087
@lukasholzer to clarify- the `ng add` schematic here should have `@bazel/bazelisk` instead of `@bazel/bazel`, yes? We probably won't have cycles to update this, but feel free to send a PR.

[2020-10-07 15:23] aikidave opened #39162 "Move all tutorial content in AIO to Tutorials section"
# 📚 Docs or angular.io bug report

### Description
At present, AIO has tutorials throughout the documentation set, often mixed with different content. As we continue to separate tutorials, tasks, and concepts into separate topics, we need to migrate all tutorial content into the Tutorials section and update them so they comply with any tutorial guidelines/templates.

## 🔬 Minimal Reproduction

###

[2020-10-07 15:24] jelbourn commented on #36789
Duplicate of #37172

Possibly related to #37087

[2020-10-07 15:24] #36789 closed

[2020-10-07 15:27] aikithoughts opened #39163 "Make Developer Workflow content more prominent in the AIO navigation"
# 📚 Docs or angular.io bug report

### Description

At present, all developer workflow content is under our Best Practices section. This may make the content too difficult to find. We should re-evaluate and look into moving this content to be more prominent in the documentation.

## 🔬 Minimal Reproduction

### What's the affected URL?**
https://angular.io/guide/deployment (and sibling topics)

###

[2020-10-07 15:28] jelbourn commented on #35740
This sounds like a version mismatch, but there's not much we can investigate without a reproduction.

[2020-10-07 15:33] jelbourn commented on #34650
Closing this since it seems like Greg's PR to fix it was merged.

[2020-10-07 15:33] #34650 closed

[2020-10-07 15:35] jelbourn commented on #34080
@marcus-sa I believe this has been fixed in the latest version of Angular

[2020-10-07 15:40] jelbourn commented on #33906
Closing this since we don't expect anyone to be formatting files inside of `node_modules`

[2020-10-07 15:40] #33906 closed

[2020-10-07 15:49] ruby0602 opened #39165 "found errors in the angular with using abp vnext abplocalization"
there are two errors in the angular,where is the problem?

    core.js:4197 ERROR TypeError: Cannot read property 'language' of undefined
    at abp-ng.core.js:1028
    at Store.selectSnapshot (ngxs-store.js:3103)
    at LocalizationService.get currentLang [as currentLang] (abp-ng.core.js:1028)
    at LazyStyleHandler.listenToLanguageChanges (abp-ng.theme.shared.js:2802)
    at new LazyStyleHandle

[2020-10-07 15:50] josephperrott commented on #39165
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2020-10-07 15:50] #39165 closed

[2020-10-07 17:21] mcalmus commented on #33233
I'm trying to do a popup within a loop and bind it to an HTML element immediately adjacent to the thing being popped so that tab order works in a reasonable way.

[code]

[2020-10-07 17:23] mcalmus commented on #33233
I'm trying to do a popup within a loop and bind it to an HTML element immediately adjacent to the thing being popped so that tab order works in a reasonable way.

[code]

This works, but without a unique name (I was planning to use the index) the popup is structurally at the bottom of the list of items. So, if you tab through, hit enter on the first item you have to tab through the others before l

[2020-10-07 18:56] petebacondarwin commented on #39164
This is a duplicate of https://github.com/angular/angular/issues/38711 which was fixed by https://github.com/angular/angular/pull/39006 and should be available in the 10.1.5 release.

[2020-10-07 18:56] #39164 closed

[2020-10-07 18:58] petebacondarwin commented on #34080
When cloning the minimal reproduction, I notice that it uses a very old version of Angular (8.2.3?).

[2020-10-07 20:31] #39130 closed

[2020-10-07 21:00] aresot commented on #39128
Thank you Pete. Sorry to highjack that thread but im not 100% clear on what should be JSON final format. The `$START_LINK` and `{$CLOSE_LINK}` are XLF structures that contain HTML inside. How would localize know what values of those $START_LINK and $CLOSE_LINK are (from your example)?

Here is original HTML template: `<ta-checkbox formControlName="checkAgree" [required]="true" i18n

        <a hre

[2020-10-07 21:25] kosso commented on #37133
I am also getting spurious 504 errors, only on Safari, but with some GET requests.

I never thought it might be the Service Worker...

[2020-10-07 23:01] aikidave commented on #38910
@pasha-bolokhov Thank you for submitting this! I've added it to our priority list and we'll look into how to address this.

[2020-10-07 23:33] AndrewKushnir commented on #39074
Hi @abarghoud, it looks like this feature would require a design to review cases when the `FormControl`'s path crosses `FormGroup` and `FormArray` boundaries. Currently a parent container is [being injected into FormControlName directive constructor](https://github.com/angular/angular/blob/master/packages/forms/src/directives/reactive_directives/form_control_name.ts#L130) and we may not have it (o

[2020-10-08 00:53] sonukapoor commented on #15741
Since I could not get the original plnkr running, I have created a new [**stackblitz**](https://stackblitz.com/edit/angular-ivy-zv66kr?file=src%2Fapp%2Fapp.component.ts) to confirm the issue. Here is what I see:

**When the form loads:**

![image](https://user-images.githubusercontent.com/59734/95402871-c6712d80-08de-11eb-92db-6fe1e6f8ca0e.png)

**After typing something in both inputs and hitting

[2020-10-08 01:44] NaKyouTae commented on #39115
I resolved the problem.
Cause was lazy load.
Called component in routing module is happened compile error.
So I changed in the routing module how to call component.

ex)
{path : '', component: TestComponent}
to
{path: '', loadChildren: () => import('./test/testmodule').then((m) => m.TestModule)

I changed as above and it worked successfully.

[2020-10-08 01:44] #39115 closed

[2020-10-08 02:58] isaacvr opened #39173 "Set attribute error when compiling"
# 🐞 bug report

### Description
There is a very strange event that happened today. It seems to be a problem of Angular instead of my code because the code was running fine until I added a call to a function. It's very hard to explain, so please take a look of this:

<img width="851" alt="angular_error" src="https://user-images.githubusercontent.com/18685720/95409522-c88fb800-08ef-11eb-884d-ab5eb03

[2020-10-08 03:31] h-arora commented on #13461
Very valuable thread. However, I am a little confused as to what purpose it solves by not giving access to validators on a form control. I bumped into this requirement where we have our custom component that needs to show an "*" if it is required and maybe a relevant error message right below it (if the user wants that).  The other alternate is adding to the API of the control itself by making the

[2020-10-08 05:05] akashsolanki commented on #38461
@Yash2737 This issue should be closed. See #38480.

[2020-10-08 05:52] janousek opened #39174 "i18n - fs.relative is not a function"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/localize (10.1.5)

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 10.1.4

### Description

 I18n extraction fails with the error "fs.relative is not a function".
The problem is with change #39006 . It uses API from this commit: https://github.com/angular/angular-cli/commit/1

[2020-10-08 06:32] petebacondarwin commented on #39174
This change to `@angular/localize` was included in the 10.1.5 release. See https://github.com/angular/angular/commit/1b5f6ee7a6245e373c4ff9962334e4f1e7c8434d and https://github.com/angular/angular/commit/669e07580cf875d3cad9164b7fc00e5b0e4553b8.

I think the problem is that the CLI side of things only landed in master: https://github.com/angular/angular-cli/pull/18908.

Transferring this issue to

[2020-10-08 06:34] argelj289 opened #39175 "[BUG] aria-labelledby being removed from DOM elements under *ngFor"
I just noticed that when I use *ngFor directives in an element

the aria-labelledby attribute inside that element where I used *ngFor disappears

while the other attributes like aria-label works just fine

[2020-10-08 07:37] marcus-sa commented on #34080
@petebacondarwin the issue is almost a year old, so of course it'll be using an old version of Angular.
I can check if this issue still occurs with 10.x, otherwise I'll just close it :)

[2020-10-08 07:52] VILLAN3LL3 commented on #12664
I cannot access browserUrlTree, currentUrlTree, rawUrlTree of Router object (they are private).

[2020-10-08 07:59] petebacondarwin commented on #34080
@marcus-sa - thanks for looking into it. The minimal reproduction is from the https://github.com/bazelbuild/rules_nodejs repo, which I would have expected to be kept up to date.

[2020-10-08 08:04] PieterjanDeClippel commented on #12664
In fact, I have a case where one query parameter (`lang`) should be persisted, while another query parameter (`redirect_url` for external authentication) should be dropped when processing the [routerLink](https://github.com/angular/angular/blob/master/packages/router/src/directives/router_link.ts) directive.

[2020-10-08 08:40] mistic100 commented on #12664
yes they are private, that's why there is the `@ts-ignore` annotation

[2020-10-08 09:24] cristianhosu commented on #38730
@tirithen - It really is on a case by case basis here, and from my personal experience with using Angular's web components integration, things run pretty smooth-ish. There are some things to consider, for example, routing, rxjs and other's like that, but by using the middleware angular project that i suggested might come in handy when exporting one component to also be able to bundle all the requi

[2020-10-08 09:27] kkamkou commented on #39155
@Airblader you propose to remove the whole sentence? _and are the recommended technique for event handling, asynchronous programming, and handling multiple values._? am I correct?

[2020-10-08 09:41] alan-agius4 opened #39176 "Move all tools in Angular tools and remove non tools from this section"
# 📚 Docs or angular.io bug report

### Description

At the moment in the `Angular Tools` the list doesn't include all the tools.

**Currently this includes:**
- Language Service
- CLI Builders
- Server Side Rendering

**Missing tools from the list are:**
- Schematics (Listed in _**Build-In features**_)
- Angular CLI (Listed in _**References**_)
- Angular Compiler (Listed in **_Best Practices > Dev

[2020-10-08 10:02] Airblader commented on #39155
I think that Angular's documentation on observables should be limited to describing what they are (since they're used in the framework) and, possibly, why Angular chooses to use them over promises. But it shouldn't say »and this is how we recommend you deal with things in your application«.

Given that the only thing I slightly disagree with in the sentence you're quoting is the phrase "the recomm

[2020-10-08 10:36] kkamkou commented on #39155
If you dig the core module you'll find the usage of promises. My assumption is that angular uses both of them in context.

Nevertheless, removing _"the recommended technique"_ would decrease a number of interpretations:
_"Observables provide support for passing messages between parts of your application. They are used frequently in Angular and are a technique for event handling, asynchronous progr

[2020-10-08 11:50] mahidhar96 opened #39177 "Unable to access json files from angular assets through HttpClient when they start with the letter 'q' or 'Q'."
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/common/http/HttpClientModule .
I'm not sure, but I think it is because of this package as I'm using HttpClient to access the JSON files.

### Is this a regression?
I'm not sure never tried this on previous versions.

### Description

I'm making a simple angular application which reads an assets JSON file containing a list

[2020-10-08 11:58] yasar-salim commented on #38425
@gkalpak can you provide a sample on this

[2020-10-08 12:19] petebacondarwin commented on #39177
It works for me in FF 80.0.1 and 81.0.1 (on OS/X) - and obviously on Chrome.

[2020-10-08 12:22] mahidhar96 commented on #39177
Let me uninstall and reinstall firefox and try.

[2020-10-08 12:24] sonukapoor commented on #39177
Works for me as well on Windows 10.

Tested on:

- FF 74.0 (64-bit)
- FF 81.0.1 (64-bit)
- Chrome 85.0.4183.121

[2020-10-08 12:28] mahidhar96 commented on #39177
guys, I'm really sorry, some add-on was blocking it. I removed it and everything is working. I'm really sorry. and thanks a lot for all of your responses.

[2020-10-08 12:28] #39177 closed

[2020-10-08 12:29] petebacondarwin commented on #39177
No problem.

[2020-10-08 13:09] kaleem68 opened #39178 "Changes in modules not detected unless I restart server."
Weird behavior I'm noticing with an angular 10 module.

Considered a component XYZ is declared in AppModule
Let's say I remove the XYZ component from the Declaration array in the AppModule. The application does not complain that when it reloads. If I restart the server it then complains components XYZ is not defined inside any module.
Conclusion: especially removing a component from Declaration, E

[2020-10-08 13:27] JoostK commented on #39178
This is a bug with the CLI and an issue is available here: angular/angular-cli#18707. Closing this one as duplicate.

[2020-10-08 13:27] #39178 closed

[2020-10-08 14:47] xavadu commented on #16981
Arrive here having the same issue, manual navigate from a guard change path to root, angular version 9.

[2020-10-08 14:53] dmoore1181 commented on #19826
I am having this issue as well within Angular 9.1.7 and DevExtreme 20.1.7. Is there any timeline on an expected fix?

[2020-10-08 16:03] ericcarino commented on #12664
We have an application where we send emails to users, which contains a link back to our application.  The link contains query params.  This is not rocket science, alot of applications do this.

Very disappointing to see that somewhere down the Router chain, the query params are stripped from the route and there's no elegant way to fix this.

In my case, I worked around the issue this way:

[code]

[2020-10-08 16:11] Javaman2 opened #39183 "Child Component Reuse and Navigation Question"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

Consider these routes.

[code]
The MainComponent contains three other components, PersonComponent, AddressComponent, and FamilyMemberComponent.  By default, it is used to enter a new person, address

[2020-10-08 16:12] callebstrom commented on #17606
+1 for MODULE_INITIALIZER

[2020-10-08 16:38] #39156 closed

[2020-10-08 16:39] atscott commented on #39183
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-10-08 16:39] #39183 closed

[2020-10-08 16:41] atscott commented on #39173
Hi @isaacvr, could you please provide a reproduction of this issue? Without a reproduction, we will not be able to investigate any further.

[2020-10-08 17:38] tomasdev commented on #35759
`MatTooltipModule` also throws `ERROR Error: NullInjectorError: No provider for InjectionToken mat-tooltip-scroll-strategy!`

The fix was the same as before, to import `MatTooltipModule` in the App-level module, and not inside a sub-component. The isolated case in StackBlitz works fine though https://stackblitz.com/edit/angular-nw6rvl

[2020-10-08 17:43] Pupskuchen commented on #16192
I know this has been fixed, but since that fix hasn't been released yet I had to come up with a workaround to get a consistent order of arguments. Now I haven't used this for a long time, but so far it seems like it's doing its job pretty … consistently?

So I thought I'd share it with you, maybe it'll be helpful for someone or you have a different idea. In the leaderboard of worst code I've writt

[2020-10-08 18:19] petebacondarwin commented on #39159
Closing as this is not a supported scenario - see https://github.com/angular/angular-cli/issues/17663#issuecomment-705737272

[2020-10-08 18:19] #39159 closed

[2020-10-08 18:41] kawazoe opened #39184 "[cli] Alternate build configurations not working as expected with ng serve"
# 🐞 bug report

### Affected Package
The is an issue in package @angular/cli. Specifically related to this entry in the documentation: https://angular.io/guide/workspace-config#alternate-build-configurations

### Description
The documentation states that multiple configurations can be provided using a comma-separated list, like so: `--configuration=state,fr`, and that the last one will take preced

[2020-10-08 18:55] #39064 closed

[2020-10-08 19:44] geromegrignon commented on #39175
Hello, i can't reproduce it.

In order to help you, please consider filling in the bug report template provided when you opened the issue.

Here is a copy :

[code]

[2020-10-08 20:58] petebacondarwin commented on #39128
The internal format will look like:

[code]

The other attributes on the XLIFF tags are not relevant to actually translating the message.

[2020-10-08 23:43] crfrolik commented on #39094
Is it possible to change the `@angular/core` peer dependency of zone.js so there is no warning when using zone.js 0.11.X?

[2020-10-09 00:02] AndrewKushnir commented on #37021
FYI, this problem should be resolved by #39003.

[2020-10-09 00:32] dheerajbhaskar opened #39190 "Enable "used by" badge in this repository"
# Enable "used by" badge in this repository 🚀 feature request

### Relevant Package

This feature request is not related to the framework code but to the angular github repository.

### Description
 A clear and concise description of the problem or missing capability...

One of the metrics that you’ll want to consider while choosing a UI framework (or library) is GitHub’s [“Used By”](https://twitt

[2020-10-09 05:04] aresot commented on #39128
oh got it now. Thank you for your help!

[2020-10-09 05:04] #39128 closed

[2020-10-09 05:59] roykathurima opened #39191 "ERROR NullInjectorError: StaticInjectorError(AppModule)[RouterScroller -> ViewportScroller]: Angular 6"
Hello... my project builds without any errors but a few warnings as you can see below...
![UA1](https://user-images.githubusercontent.com/31662354/95548186-3b428580-0a0d-11eb-9636-62e9de91c379.PNG)

However, when I open the it on the browser, it shows a blank page with the following error in the console...
![UA2](https://user-images.githubusercontent.com/31662354/95548190-3d0c4900-0a0d-11eb-9a20-5

[2020-10-09 06:06] roykathurima commented on #39191
I am Using Angular 6 for the project

[2020-10-09 07:02] JoostK commented on #39191
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-10-09 07:02] #39191 closed

[2020-10-09 08:27] FSDRE commented on #15275
Reading this comment I think we can close this isse right here, too 😞

[https://github.com/angular/angular-cli/issues/17663#issuecomment-705737272 ](
https://github.com/angular/angular-cli/issues/17663#issuecomment-705737272)

[2020-10-09 08:45] anandsiddharth opened #39192 "Hot reload in angular 10????"
# 🚀 HMR

### Description
 A clear and concise description of the problem or missing capability...
https://levelup.gitconnected.com/hmr-in-angular-cli-project-eb8512ef514b this doesn't work on angular 10, Is there a way we can enable HMR in angular 10?

### Describe the solution you'd like
Making a small change reloads the entire application, instead should refresh the specific component.

[2020-10-09 08:53] kukjevov commented on #38697
In which version of Angular is planned dropping of ViewEngine? 11 could be great :)

[2020-10-09 09:19] Ghostbird commented on #15041
I had a single, relatively simple scenario where I had to do something similar. When a certain object _x_ changed, I had to re-run the pipe that transformed object _y_.
In the end, I just passed _x_ and _y_ both to the pipe, even though the `transform` function only acts on _y_.

[2020-10-09 09:25] fireflysemantics opened #39193 "Automatically add URL parameters to lazy loaded ActivateRoute instances"
If we look at the Angular Material Documentation components we see that URL parameters for lazy loaded routes are accessed like this:

https://github.com/angular/material.angular.io/blob/master/src/app/pages/component-category-list/component-category-list.ts

[code]

That's because lazy loaded routes don't receive the URL parameters, so we have to collapse the URL parameters from the `ActivateRout

[2020-10-09 09:38] Niklas187 commented on #38711
Hey guys, I still have a problem with the "equiv-text" attribute.
I am using the latest  tag  `10.1.6` from the CLI but some translation messages still have  incorrect  values.

eg.:
`     <ng-container i18n="Update @@update">
   <b>{{value1}}:</b>
    current {{value2}}
    to new {{value3}}
  </ng-container>`

will be extracted as (with --ivy):
[code]

will be extracted as (**without** --ivy):
[

[2020-10-09 09:42] fireflysemantics commented on #39193
https://github.com/angular/material.angular.io/issues/874

[2020-10-09 09:44] Totati opened #39194 "feat(common): DatePipe default option(s) injection token"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/common

### Description
There's no option for the DatePipe to override the default format: 'mediumDate', or set timezone with injection token.

### Describe the solution you'd like
  It would be really good to configure other attributes of the DatePipe with an injection than LOCALE. We use 'shortDate' format for 85% o

[2020-10-09 10:02] petebacondarwin commented on #38711
@Niklas187 - I just tried you reproduction - it doesn't include the example in you comment so I added that. These are the results I get (on OS/X not Windows):

**Without ivy:** (`ctype` attributes removed for clarity)
[code]

**With ivy:**
[code]

Interestingly this is a bit different from your output but I agree that it is not quite right.

It seems that there is some offsetting going on, which i

[2020-10-09 10:05] petebacondarwin opened #39195 "i18n: localize message extraction producing incorrect `equiv-text` values"
(See https://github.com/angular/angular/issues/38711#issuecomment-706079727 for original report)

Extraction of i18n messages from the following template HTML:

[code]

**Without ivy:** (ctype attributes removed for clarity)
[code]

**With ivy:**
[code]

It seems that there is some offsetting going on, which is making the start and end points in the equiv-text appear in the wrong place. I'll need

[2020-10-09 10:07] Rogier-blip opened #39196 "feat(cli): Use Classname.name in describe of spec files instead of 'Classname'"
# 🚀 feature request
When a spec file is generated by the CLI use Classname.name instead of the 'Classname'.

### Relevant Package
@angular/cli

### Description
It would be nice if the spec files would be generated in a way that makes them adaptable to change.

If a test is generated by the CLI the initial `describe` looks like this:
[code]

When I change the name of the app component from `AppComp

[2020-10-09 10:08] petebacondarwin commented on #39194
Why is overriding the `DatePipe` any more difficult than requiring your team to add a provider for the default pipe format?
If you put your overridden `CustomDatePipe` into an `NgModule` that the team import, and it uses the same `date` name, then it will be used throughout the application instead of the one in `@angular/common`.

[2020-10-09 10:41] SuperDeveloper10 opened #39197 "ngOnChange doesn't work well."
ngOnChange , it has serious problem.
I worked with log. but it show different result in two lines.

[2020-10-09 11:37] ericmartinezr commented on #39192
This should go in angular-cli's repo https://github.com/angular/angular-cli 👍

[2020-10-09 12:08] sonukapoor commented on #39197
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-10-09 12:08] #39197 closed

[2020-10-09 12:10] acalvo opened #39198 "`ng xi18n` duplicating strings in HTML & TS"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [ ] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [x] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

No (AFAIK)

### Description

If you have the same string twice in HTML templates (ex. `<span i18n>Some string</span>`), `ng xi18n --ivy` extracts it o

[2020-10-09 12:18] Totati commented on #39194
Providing a default config for the `DatePipe` for example in the `AppModule` is easier than creating a new module, extend the `DatePipe`, and then import it in every other module too.

I did not know it is possible to create pipes with the same name. How does Angular now which one to use? What if I make 3 pipes with the same name? Is that a good practice?

[2020-10-09 12:34] #39196 closed

[2020-10-09 12:47] petebacondarwin commented on #39198
This is working as expected. Messages generated by calls to `$localize` in application code use the new more resilient message id format.
(Actually messages in templates also use this format, but they also support the legacy message id format if the `enableI18nLegacyMessageIdFormat` is not set to `false`. Currently the default is `true` but that will change in the future.
You can read more about t

[2020-10-09 12:59] acalvo commented on #39198
Oh, yes! That's exactly what I was looking for! 😍

Adding
[code]
in my `tsconfig.json`  worked like a charm. Thanks a lot! 😄

[2020-10-09 13:00] #39198 closed

[2020-10-09 13:49] gkalpak commented on #38425
@yasar-salim: I'm not sure what you mean. What kind of sample?

[2020-10-09 14:38] gkalpak commented on #39153
This is a duplicate of #28114. Let's track the problem there.

**tl;dr**
It is not 100% clear what is causing this (although there are some theories), but in v11 we'll have a way to work around it by means of #36847. (See #36847 for more details.)

[2020-10-09 14:38] #39153 closed

[2020-10-09 15:19] petebacondarwin commented on #39194
Sorry, I think I assumed that you would provide such a shared `NgModule` to each of your projects that needed it.
If you provide a pipe that has the same name as a previous pipe, the last one in wins.
See https://stackblitz.com/edit/ivy-ycjczd?file=src%2Fapp%2Fapp.component.html for an example.

[2020-10-09 15:28] infacto opened #39199 "Wrong order of style-tags in head-tag in a Angular multi-app repo."
# 🐞 bug report

### Affected Package
I think it's about the compiler or any other related package which handles the style-tag order.

### Description

I have to Angular project. A default build and a multi-project one.
Both has the same setup. In this case it uses Ionic. But this does not matter. I use the Angular CLI for builds.
The `angular.json` is the same. Execpt of the path of course. (And s

[2020-10-09 15:33] #38587 closed

[2020-10-09 16:30] bagatka opened #39200 "Nested routing (poor docs)"
# 📚 Docs extension

### Description

I had to make nested routing. But there is no such information in docs.

## 🔬 Minimal Reproduction

### What's the affected URL?**
https://angular.io/api/router/Route#lazy-loading

### Reproduction Steps**

The hole app is based on routing. Every page is shown via `<router-outlet></router-outlet>`
I had to apply `<router-outlet></router-outlet>` inside the comp

[2020-10-09 16:38] abarghoud commented on #39136
Hi @AndrewKushnir, do you think that this is feasible by design, if so, I can start working on it

[2020-10-09 17:02] #24551 closed

[2020-10-09 17:27] jimbarrett33 commented on #18374
I think this should be much higher than a P4 or it will never get fixed. Ultimately, it is a performance issue and not just an inconvenience. There are several related issues that date back as far as 2016 where devs are requesting the ability to configure the router to not destroy (parent) components. All require workarounds with custom `RouteReuseStrategy`'s that don't completely work for routes

[2020-10-09 17:54] tkutcher commented on #30139
My current not-so-pretty-could-be-improved workaround, but in my `AppComponent` I subscribe to Router Scroll events and wait some time then check if there is an anchor but it is not in view, then scroll to it:

[code]

Won't hold up always, but seems to be working for me to try and patch simple scenarios where I have to wait just a little bit for the anchor to be available inside a nested componen

[2020-10-09 20:36] jelbourn commented on #37812
Closing since this seems to be working as intended

[2020-10-09 20:36] #37812 closed

[2020-10-09 20:39] jelbourn commented on #37241
I chatted further this @atscott on this one and we agreed that an API like this wouldn't be the best fit for the framework, so closing this issue for now.

[2020-10-09 20:39] #37241 closed

[2020-10-09 20:45] jelbourn commented on #36193
Going to close this since it seems to be resolved. We have some plans to expand our docs around lazy-loading in the future which might help here.

[2020-10-09 20:45] #36193 closed

[2020-10-09 20:49] jelbourn commented on #26370
Closing this as working as intended since the code formatting takes precedence over link formatting here. This user experience is modeled after the behavior in IDEs and in tools like Google's code search ([example](https://cs.opensource.google/bazel/bazel/+/master:src/main/java/com/google/devtools/build/docgen/BuildEncyclopediaGenerator.java)), where the content within a code block isn't like a li

[2020-10-09 20:49] #26370 closed

[2020-10-09 20:52] jelbourn commented on #23714
Revisiting older issues and PRs. Going to close this since we don't have a strong enough signal for this feature.

[2020-10-09 20:52] #23714 closed

[2020-10-09 20:56] atscott commented on #22177
Closing, as this can be accomplished with existing APIs. It's not a priority at this time to invest in a migration to cover this case (especially since the information is already available) as the change here would be breaking (see https://github.com/angular/angular/pull/22739#issuecomment-647763873).

[2020-10-09 20:56] #22177 closed

[2020-10-09 21:06] jelbourn commented on #23284
Tracking the main underlying concern here in #18093

[2020-10-09 21:06] #23284 closed

[2020-10-09 21:07] jelbourn commented on #36209
Tracking the main underlying concern here in #18093

[2020-10-09 21:07] #36209 closed

[2020-10-09 21:08] jelbourn commented on #35545
Tracking the main underlying concern here in #18093

[2020-10-09 21:08] #35545 closed

[2020-10-09 21:09] jelbourn commented on #31261
Tracking the main underlying concern here in #18093

[2020-10-09 21:09] #31261 closed

[2020-10-09 21:09] jelbourn commented on #17287
Tracking the main underlying concern here in #18093

[2020-10-09 21:09] #17287 closed

[2020-10-09 21:11] jelbourn commented on #19264
Tracking the main underlying concern here in #18093

[2020-10-09 21:11] #19264 closed

[2020-10-09 21:11] jelbourn commented on #21583
Tracking the main underlying concern here in #18093

[2020-10-09 21:11] #21583 closed

[2020-10-09 21:13] jelbourn commented on #18053
Tracking the main underlying concern here in #18093

This has been _partially_ addressed by Ivy (the part where the Angular compiler has to know about _everything_ in one run)

[2020-10-09 21:13] #18053 closed

[2020-10-09 21:14] jelbourn commented on #16387
Tracking the main underlying concern here in #18093

[2020-10-09 21:14] #16387 closed

[2020-10-09 21:18] jelbourn commented on #18093
Just closed a bunch of issues that @atscott and I believe are asking for the same general idea. Updated the title of this issue to reflect that underlying concept. #22243 and #13218 seem to be very similar, need to look into further whether they can be combined into this.

[2020-10-09 21:20] Airblader commented on #22177
I'm sorry I never got back to you on your reply before. Thanks for taking the time!

[2020-10-09 21:23] Totati commented on #39194
[Oh I didn't see that comming](https://stackblitz.com/edit/ivy-vu8r8p?file=src%2Fapp%2Fapp.module.ts), it sound weird, but I guess it's fine then.
Thank you!

[2020-10-09 21:23] #39194 closed

[2020-10-09 21:27] #38200 closed

[2020-10-09 22:17] maxime1992 opened #39206 "This expression is not constructable"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular-devkit/build-angular

### Is this a regression?

Yes?

 Yes, the previous version in which this bug was not present was: 10.0.3 and I tried to upgrade to 10.1.6

### Description

We've got a **web worker** that at some point can create an error:

[code]

## 🔥 Exception or Error

And when I try to `ng serve` I now have t

[2020-10-09 22:33] fxck commented on #5689
Yo @insidewhy, I wonder if this is the type checking hack your lib relied on. Apparently it doesn't work anymore using TS 4.0

![image](https://user-images.githubusercontent.com/1303561/95636724-1d6a3480-0a90-11eb-83d5-9ec03090510f.png)

[2020-10-09 23:31] aikidave commented on #39200
Hi @bagatka! You are correct! We do not document this feature very well. There is some information available in the Tour of Heroes tutorial (https://angular.io/guide/router-tutorial-toh#named-outlets), but it is difficult to find.

The writing team and I will look into addressing this issue. Thank you for bringing it to our attention!

[2020-10-10 02:17] insidewhy commented on #5689
No, it was in the template compiler. This is something else. Damn. Ah well. I can add you to the maintainer list if you wanna try fixing it.

[2020-10-10 05:09] amitport commented on #23284
@jelbourn ASAIKT https://github.com/angular/angular/issues/18093 only considers statically compiled and dynamically loaded components, while this also includes dynamic compilation (for example, loading angular source from db, or an online a form/editor that allows editing angular code fragments)

[2020-10-10 05:51] KarlXOL commented on #18093
Checked this approach a while ago.
This solution has its very pitfalls and limitations and is no solution for "feel-good" dynamic loading at runtime.
For example you have to care of component instantiation, parameter passing, etc...

[2020-10-10 13:12] insidewhy commented on #5689
@fxck Actually you should assign that piped operator in ngOnInit since the decorators won't be injected until after the constructor is run, so this is actually a legitimate problem with your code.

[2020-10-10 14:22] r-shakeri opened #39213 "Improve ControlValueAccessor"
# 🚀 feature request

### Description
 Hello there, thank you for giving us `ControlValueAccessor` feature to use, i want to know is it possible to have more access on it in the future? like making a form with main implementation including main validators... with `ControlValueAccessor` and giving it more options like more validations in different parent forms. i mean giving additional validations o

[2020-10-10 16:06] LayZeeDK commented on #31263
@EricSimons can you confirm?

[2020-10-10 19:37] gkalpak opened #39216 "fix(dev-infra): ensure PRs targeting a specific branch are not merged into other branches"
In [pr/merge/defaults/labels.ts > getDefaultTargetLabelConfiguration()][1], there should be a check to ensure that we don't try to merge a PR to latest/rc/next branches if the PR is targeting a specific branch (for example, [here][2]).

This was originally discussed in https://github.com/angular/angular/pull/38656#discussion_r487779318.

[1]: https://github.com/angular/angular/blob/a84976fdfcde45a

[2020-10-11 07:10] fxck commented on #5689
@insidewhy I definitely did work prior to TS4. And check [this](https://www.typescriptlang.org/play?target=2&ts=3.9.7#code/FAMwrgdgxgLglgewgAgPICMDOBTATgNwEN0AbbASQgAcwYAKASmQG9hlldsYxcU6ZCuAOZcAXMkIQAngBpkVXAip4YUgNLYp4yVKYBeAHws27NOgBW2WADoAJthBwI2AAqLluVf0EiYchUoq6ppyrKamOPREJGDY2tJMYeGmUEiYCGTWJAhC3sJc-u5BGrLI0bEMANwm4QC+MjWmvozGyaac3LzIAOQYOATEZJQ0MMgAtgi2cI7YtmWEMdjd1W31jbUMJrXA28BQJISYmMgAY

[2020-10-11 10:16] Amrender-Singh opened #39220 "[IE11]: Checkbox state and ngModel binding not in sync on calling preventDefault inside click handler"
### Description
Currently in our application we have a checkbox with a ngModel binding and a click handler attached to it. We want our checkbox to be checked only if certain business logic is met. To prevent the checkbox from getting checked, we call the event.preventDefault() method inside of our click handler attached to our checkbox element. Though the preventDefault() prevents the checkbox fro

[2020-10-11 23:22] lincolnthree commented on #12664
In fact, the ability to set & modify `NavigationExtras` at a global level, and/or via a decorator, would be extremely helpful to do things like globally set `replaceUrl` or `skipLocationChange`, which there does not seem to be a way to do either.

[2020-10-12 06:27] ciekawy commented on #26413
I just got here looking for a solution and I'm so surprised there is no real one for so long and there are articles on the web and SO answers suggesting to comment out lines in `ngsw-worker.js` - I think this shows how important this issue is...

[2020-10-12 06:39] vinayjeevan opened #39224 "Issue during installation command "npm install -g botium-cli""
During installation of Botium CLI am facing a issue as shown in below, before installing the command "npm install -g botium-cli", installed Node version v12.19.0.
![Screenshot (250)](https://user-images.githubusercontent.com/68061658/95712072-ba3ff400-0c81-11eb-9d14-388d612c0667.png)
![Screenshot (249)](https://user-images.githubusercontent.com/68061658/95712258-1b67c780-0c82-11eb-83aa-444fd3024d5

[2020-10-12 07:13] sviat9440 opened #39225 "Duplicated method call when extending the base class with @HostListener"
# 🐞 bug report

### Affected Package
`@angular/core`

### Is this a regression?
Yes, the previous version (8.1.2) in which this bug was not present was

### Description
When extend some class, which has a decorator `@HostListener` on some method (e.g. `onInput(): void`), and override this method with another `@HostListener` decorator in child class, method `onInput` will be called twice on the eve

[2020-10-12 07:36] JoostK commented on #39224
I'm sorry but this issue is not caused by Angular. Please contact the author(s) of botium-cli or file issue on their issue tracker.

[2020-10-12 07:36] #39224 closed

[2020-10-12 08:03] sviat9440 commented on #32756
Temporary fix for me:
replace call `detectChanges()` to `markForCheck()`.

[2020-10-12 08:40] wenqi73 commented on #38686
Hi @petebacondarwin I met this issue on 10.1.3 while works fine on 10.1.0-next.4, I set a breakpoint on source_file_utils.js and found there is indeed no node attribute :

<img width="1092" alt="7A2BF709-9457-4CF7-8C23-E4D77120033E" src="https://user-images.githubusercontent.com/23337087/95724561-1a965c00-0ca9-11eb-9378-99152622efe5.png">

Hers is my HTML:
[code]

But when I created a new project,

[2020-10-12 08:57] petebacondarwin commented on #38686
@wenqi73 - can you check that you node_modules have been emptied and reinstalled? If it is working on a fresh project then there is probably a bad package somewhere...

[2020-10-12 09:59] wenqi73 commented on #38686
@petebacondarwin OK, I have reinstalled and works fine, thanks!

[2020-10-12 09:59] infacto commented on #39199
Another difference is the path comment in the compiled files.

Example of **0-es2015.js** from the www-folder (dist). There is a comment on top of the file.

| Working Repo | Problem Repo |
| --- | --- |
| `./node_modules/@ionic/core/dist/esm/ion-action-sheet.entry.js` | `C:/Users/{my-name}/Downloads/problem-demo/node_modules/@ionic/core/dist/esm/ion-action-sheet.entry.js` |
| Result: Relative pat

[2020-10-12 12:22] nasreddineskandrani commented on #18093
@KarlXOL it's only a solution and i do agree with you => Angular team should think about something more efficient and nice to achieve the desired result if possible.

[2020-10-12 13:31] aserputko opened #39226 "@keyframes causes an ERROR in Cannot read property 'type' of undefined"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/compiler or @angular-devkit/build-angular

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 8.2

### Description

 Command `ng build --prod` stopped working when angular was updated from v8.2 to v9.0.

## 🔬 Minimal Reproduction

[StackBlitz](https://stackblitz.com/edit/angular

[2020-10-12 15:30] pburkindine opened #39227 "i18n throws error when ICU definitions differ only by whitespace"
# 🐞 bug report

### Affected Package
@angular/cli - xi18n

### Is this a regression?

No

### Description

The following two pieces of HTML differ only in whitespace:

[code]

The i18n parser produces this output (notice the second ICU doesn't belong to @@foo as expected, but to an anonymous wrapping unit that doesn't however include the whitespace):

messages.xlf
[code]

messages.es.xlf
[code]

W

[2020-10-12 15:33] #38947 closed

[2020-10-12 18:06] AndrewKushnir commented on #25858
Just wanted to mention that in Ivy the extraction mechanism remains the same and an ICU is extracted into a separate message. This behavior was retained to make Ivy more backwards compatible.

[2020-10-12 18:08] AndrewKushnir commented on #39227
This issue seems to be related to #25858 and #24080, but we should look into the error message and/or detection of such cases to see if we can improve it.

[2020-10-12 18:18] AndrewKushnir commented on #39136
Hi @abarghoud, thanks for creating this ticket and describing your request. I believe the best way for now would be to create your own service (similar to what `RadioControlRegistry` does) and we'll keep this ticket open to collect more feedback from the community to consider extending public API surface of the framework in the future. Thank you.

[2020-10-12 18:23] petebacondarwin commented on #39227
I note that when there is no extra whitespace then in the `extractParts()` function we get a block that looks like:

[code]

But in the case where there is whitespace we get:

[code]

So it looks like the post-process has not worked...

[2020-10-12 18:25] petebacondarwin commented on #39227
In fact this message does not get a post-process instruction at all:

[code]

[2020-10-12 20:46] geromegrignon commented on #39226
I followed the steps to reproduce it and used Intellij IDE for the project.
I was able to reproduce the error but noticed the IDE detected an error about `rotate3D(0)` :

![image](https://user-images.githubusercontent.com/32737308/95788736-5f87b600-0cdc-11eb-8552-a669b365a3f7.png)

Except for the first example on the MDN docs, i can't find any example/info about `rotate(number)` (ie with a single

[2020-10-12 20:52] aserputko commented on #39226
@geromegrignon good catch! It would be nice if `ng build` errors show these details instead of silent `ERROR in Cannot read property 'type' of undefined`

[2020-10-12 21:06] JoostK commented on #39226
I suspect this is a bug in cssnano, which is used in Angular CLI's prod mode to minify CSS. The Angular compiler itself doesn't parse CSS to this extent.

I'll leave this issue open in this repo for now; it might be moved to the CLI repo upon further investigation.

[2020-10-12 21:40] #38065 closed

[2020-10-12 21:40] #38063 closed

[2020-10-12 21:41] #38066 closed

[2020-10-12 22:11] jelbourn commented on #36405
Duplicate of #13721

[2020-10-12 22:11] #36405 closed

[2020-10-12 22:12] jelbourn commented on #19329
Duplicate of #13721

[2020-10-12 22:12] #19329 closed

[2020-10-12 22:14] jelbourn commented on #37952
Duplicate of #20007

[2020-10-12 22:14] #37952 closed

[2020-10-12 22:15] jelbourn commented on #37598
Duplicate of #20007

[2020-10-12 22:15] #37598 closed

[2020-10-12 22:17] jelbourn commented on #35755
Duplicate of #36746

[2020-10-12 22:17] #35755 closed

[2020-10-12 22:19] jelbourn commented on #37396
`WrappedValue` has been deprecated and is planned to be removed in Angular v12, so closing this issue.

[2020-10-12 22:19] #37396 closed

[2020-10-12 22:22] jelbourn commented on #37253
This was fixed in #37447

[2020-10-12 22:22] #37253 closed

[2020-10-12 22:24] schivmeister commented on #6361
Hijacking this issue as some discussion on `this._styleNodes.add(host.appendChild(styleEl));
` has already taken place...

We use Angular 9 for a true single-page application, meaning -- in addition to it being as good as a fully static website -- the server plays absolutely no part in templating whatsoever. With a "traditional" CSP configuration (which can be quite restrictive if we are specific

[2020-10-12 22:30] jelbourn commented on #38876
Closing since this seems to be resolved / working as expected.

[2020-10-12 22:30] #38876 closed

[2020-10-12 22:32] jelbourn commented on #38841
Closing this since it seems like it either resolved or working as expected in that this expects the array reference to change per Pete's comment.

[2020-10-12 22:32] #38841 closed

[2020-10-12 22:34] jelbourn commented on #38095
Closing this since the change is working as expected due to the architectural change in how i18n works for ivy.

[2020-10-12 22:34] #38095 closed

[2020-10-12 22:36] atscott commented on #18374
After further review, this is working as intended. The two modules are not sharing a parent route config but are instead defined as separate objects so the component is not reused. This is because default route reuse strategy only reuses the route when the configs are equal. A custom `RouteReuseStrategy` is the correct approach to accomplish the desired goal here: https://stackblitz.com/edit/angul

[2020-10-12 22:36] #18374 closed

[2020-10-12 22:39] jelbourn commented on #37438
I suspect that this is a manifestation of #17446 - it looks like your app may be routing to a component without the module that specifies the route config importing said component's declaring `NgModule`. Going to close for now since I think that's the issue, feel free to re-file if it becomes clear that that's not the case.

[2020-10-12 22:39] #37438 closed

[2020-10-12 22:41] #13211 closed

[2020-10-13 00:17] snortblt commented on #37941
I ran into this when I converted an app containing custom form components to a library + app in angular 10

[2020-10-13 00:54] AndrewKushnir commented on #39227
I've performed additional investigation, see results below.

The part of code (generated code based on app's template) that causes the problem is:

[code]

As Pete mentioned, there is no `i18nPostprocess` function (that takes care of replacing the `VAR_SELECT` with corresponding binding id) there, however it look like it should not be there. Note that the Closure and $localize branches are differe

[2020-10-13 04:32] infacto commented on #39199
@atscott Sorry to bother you. I'm desperate. This bug ruined my project, after hours and hours of work for this new workspace. Therefore, I would like to sincerely ask if you could take a look to this issue here. Who is experienced in this component of Angular? I would be very pleased. Any hint will help. At this moment it looks like a bug in Angular. Please let me know if there are questions. I'l

[2020-10-13 05:28] beniaminp commented on #37952
@jelbourn, it does not look like a duplicate for me. I do not need to use a FormControlName to reproduce the memory leak.
There is no resolution for this bug yet?
Thanks!

[2020-10-13 07:09] petebacondarwin commented on #39227
By the way the whitespace within the ICU expression is not at fault here. The extraction mechanism ignores such whitespace. The problem here is the whitespace before and after the ICU expression.

Changing the second message to be:

[code]

Results in only a single `foo` message being parsed from the file.

In the current example the two generated `$localize` tagged strings are (effectively stripp

[2020-10-13 07:17] petebacondarwin commented on #39227
Finally it is worth noting that custom ids are not necessarily the best strategy, unless you have some legacy need for it.
A combination of the content of the message and the "meaning" metadata will generate unique identifiers for messages, which are resilient to this sort of thing. Removing the `@@foo` ids results in the following extracted message file:

[code]

In this case there is only one IC

[2020-10-13 07:44] sinedied commented on #18374
Thanks for coming back to this @atscott .
While I can understand the desire for simplicity in the default implementation, unfortunately this leads to obscure and non-intuitive developer experience as a result. Comparing the route objects makes no sense here, whereas doing the same comparison (ie object ref) on the *component* instead of the whole *route* is what we would expect to determine is the

[2020-10-13 10:32] timhecker commented on #17495
Still in 10. Any solutions?

[2020-10-13 10:48] noureddine-taleb opened #39239 "query params bug if value if an empty array"
# 🐞 bug report

### Description

when you generate query params dynamically when user click something, and you pass an empty array to a query param key. after some iterations ( add and remove query params using "queryParamsHandling: 'merge'" ) you get some extra "&" in the end of the url

this.router.navigate([], {
      relativeTo: this.route,
      queryParams: queryParams,
      queryParamsHand

[2020-10-13 12:29] namikarif commented on #39159
Dear Friends,

This problem happened after pass to Anglar 10 from V5. The sample codes above were working without any problem in Angual 5. What is the reason that it is not working in Angular 10. As I said I have used it the same codes for Angular 5, it is working without problem. I am waiting for your valuable ideas.

[2020-10-13 13:09] laurentgoudet opened #39240 "ngcc is extremely slow with --use-program-dependencies"
Starting with Angular 10, we observed very slow `ng serve` / `ng build` startup times when the Angular CLI `ngcc` initial run check (https://github.com/angular/angular-cli/commit/1396ed4533d04a434b943eab48e0c6eaa4740c95) doesn't pass, i.e. when the CLI runs `ngcc`, even though we already run `ngcc` as a `postinstall` hook in our current configuration.

Upon looking into it, it seems that it comes

[2020-10-13 13:16] bougnat12 opened #39241 "ng i18n --ivy does not extract correctly HTML message with interpolation"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [ ] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [X] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

the `ng i18n`command extracts message correctly.

### Description

I'm trying to use `ng xi18n --ivy` command with Angular 10.1.5 / CLI 10.1.5 package

[2020-10-13 13:17] laurentgoudet commented on #39240
It seems that the performance concern with large apps had been highlighted in the initial PR for `--use-program-dependencies`:

[2020-10-13 13:32] petebacondarwin commented on #39240
We switched to using a token scanner for finding the imports - see https://github.com/angular/angular/blob/bd7f440357d58147f207a9e4daeca156157f9425/packages/compiler-cli/ngcc/src/dependencies/esm_dependency_host.ts

And this is now pretty fast.

In my experience the big slow down for this scenario is if you have a large number of `paths` mappings in your tsconfig, that need to be processed. What i

[2020-10-13 13:38] petebacondarwin commented on #39241
The fact that it only captures one of the locations is a bug. We should track that independently and fix it.

The incorrect `disp` attribute value is also a bug and is a duplicate of https://github.com/angular/angular/issues/39195.

The incorrect location path (`zone-detail.component.ts`) seems strange. It might be that source-mapping is turned off for the build? This is required in order to back-

[2020-10-13 14:17] laurentgoudet commented on #39240
We have single `paths` entry, which points to a collection of internal libraries, that folder itself containing ~3000 TS files.

[code]

`extractImports` seems indeed what gets run for all that long. Putting a `console.log` in `extractImports` shows that it gets called repeatedly with the same file paths: is that expected?

[2020-10-13 14:23] xavadu commented on #17145
That would be perfect, so matcher can be used just as guards or resolvers.

Additionally it looks that matcher and resolver can be at the same time, not specified in the documentation, the resolver is ignored.

Retrieve information or 'resolve' is a responsibility of the resolver, instead that the matcher return a paramMap would be good if it is used as a :parameter which at the end, a matcher is

[2020-10-13 14:41] ciesielskico commented on #24882
There is nothing (anymore?) about `beforeEach` and `async` mentioned in the provided link by @JiaLiPassion

[2020-10-13 15:09] gkalpak commented on #24882
@ciesielskico: The testing guide has been split up into smaller ones. The new URL is https://v10.angular.io/guide/testing-components-scenarios#the-async-beforeeach.
(Alternatively, you can use the `v9` sub-domain with the old URL: https://v9.angular.io/guide/testing#the-async-beforeeach)

[2020-10-13 15:25] JoostK commented on #39240
Oh, I see what the issue is here. ngcc does keep track of which import it has seen, but it starts from scratch for all of the input files! Since you have 2174 root files, it will scan the same code over and over again.

Could you check if adjusting the tsconfig "files"/"include" specification to reference only the source files that act as main module; all other files will then be loaded as they ar

[2020-10-13 15:26] JoostK commented on #39240
For clarity, this is an issue:

https://github.com/angular/angular/blob/9318e23e644e102126af01ee576957f1e1ce32f6/packages/compiler-cli/ngcc/src/entry_point_finder/program_based_entry_point_finder.ts#L56-L58

The `DependencyHost.collectDependencies` method expects a path to an _entry-point_, but we're passing it individual source files.

[2020-10-13 15:46] atscott commented on #18374
This would be the same case if we unilaterally changed the default to compare against the component. There are plenty of applications which use the same component in different routes.

This is why a custom `RouteReuseStrategy` is the solution here. That's exactly what is done in the [example above](https://stackblitz.com/edit/angular-ivy-ksf9cm?file=src%2Fapp%2Fapp.module.ts).

Please provide a re

[2020-10-13 17:38] nthornton2010 commented on #26298
This would be a great replacement for ::ng-deep! --- The deprecated combinator that currently has no replacement.

[2020-10-13 18:46] nicholasp commented on #26265
Hi @xban1x ! How are you running transition_animation_engine? What kind of animation do you run? Could you please provide more information about this issue, so we can reproduce it? What angular version are you using? Does this happens after you run something specific at your component / code? Or some kind of interaction with the app like refresh app, history back etc?

[2020-10-13 19:27] elclanrs commented on #33395
I'm having the same issue with pnpm. Running `ng serve` a second time works as noted in previous posts. I am able to resolve this issue for now by manually compiling all node_modules in postinstall:

[code]

`ngx-mask` and `ng-dynamic-component` are Angular packages that are needed to run the app.

Note that `ngcc` alone did not work and I had to explicitly run it on all modules. The downside is t

[2020-10-13 20:48] laurentgoudet commented on #39240
Right, that makes sense.

I can confirm that definitely fixes it:

[code]

[2020-10-13 20:49] JoostK commented on #39240
I am working on a PR to make that change; will be up in a sec!

[2020-10-13 21:09] JoostK commented on #39240
And glad to see that even with ~2000 source files, the scanning is still very fast without this bug.

[2020-10-13 22:12] michaelsimsoe opened #39258 "Service not treated as singleton when .js extension is added to service"
# 🐞 bug report

### Affected Package
nil

### Is this a regression?
nil

### Description
I've got a service with `{provideIn: root}`. If used in multiple components and `.js` is appended to fileending on import path it is apparently not treated as a singleton.

## 🔬 Minimal Reproduction
Stackblitz is not suitable for reproduction. I've made a simple github repo: https://github.com/michaelsimsoe/an

[2020-10-14 03:40] cheong00 opened #39259 "Current way of view encapsulation does not look correct to me"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/compiler

### Description
I'm still a newbie in Angular (although have done web programming for 20+ years), so feel free to correct me if I'm wrong in my perspective.

Say when I have page that have the following snippet:
[code]

And then I have another field that named "bar" that has DatePicker. People who used Angular

[2020-10-14 06:03] SathishKumarRajendran opened #39260 "ngOnChanges Hook not triggered in angular 9"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [ ] build
- [ x ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

Yes, it is working fine angular 7, but issue in angular 9.

### Description

While dynamically changing the property, `ngOnChanges` hook not trigger

[2020-10-14 06:15] kumaresan-subramani commented on #38947
HI @atscott ,

IS this issue fix published in npm package

[2020-10-14 07:41] petebacondarwin commented on #38947
Hi @kumaresan-subramani - there was a conflict with the patch branch so this PR has not yet been merged there, which means it was not part of the most recent patch release. You can try it out on the `next` dist-tag in npm if you want.
I will create a patch backport PR today, but we have noticed that this fix actually breaks some CommonJS scenarios in our ngcc-validation test repository. So I plan

[2020-10-14 07:45] kumaresan-subramani commented on #38947
@petebacondarwin ,

Thanks for your reply,

Can you please update here once you resolved and provide support

[2020-10-14 07:52] petebacondarwin commented on #38947
Will do

[2020-10-14 09:42] tanepiper commented on #38875
+1 for this.

We have a Jenkins pipeline that builds a git tagged version of our app that deploys to both staging and production at the same time, which means we need to compile each app with a `ng build --configuration=<stage,prod>`, outputting to a different folder in the dist folder.

The repo has the preinstall setup, but still when running as a parallel task we get the same PID problem so we

[2020-10-14 09:54] thw0rted commented on #27109
Was `setInterval` intentionally excluded from this list?  I'm having a heck of a time setting up testing for a component that uses intervals...

[2020-10-14 10:08] hessamhoseinkhani opened #39261 "items translated by $localize in by custom library angular doesn't extracted"
# 🐞 bug report

### Affected Package

 The issue is caused by package:
@angular/localize

### Is this a regression?

 no

### Description

 A clear and concise description of the problem...
i'm building my own libraries i'd used to work with "@ngx-translate/i18n-polyfill" since $lcoalize wasn't annonced i'm trying to move on $localize ... for bit of testing it first i tried to use a dummy $localiz

[2020-10-14 10:39] thw0rted commented on #12721
Is this issue still relevant?  If I understand correctly, the latest Zone patches make everything run inside the test Zone, so `whenStable` is able to do its thing even if you're not currently inside a `waitForAsync` call.  For example, I grabbed the [StackBlitz linked from the test docs](https://stackblitz.com/angular/nnvnepvjlxl) and edited `dashboard.component.spec.ts` to un-wrap the `beforeEac

[2020-10-14 10:57] acalvo opened #39262 "Make i18n extractor execution idempotent"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/localize

### Description
Each time you run `ng xi18n --ivy`, the output changes, as the order of the `trans-unit`s is different from execution to execution.

### Describe the solution you'd like
The output could be sorted (in any way) to ensure that if the source code doesn't change, the output is always the same. This

[2020-10-14 11:02] petebacondarwin commented on #39262
Can I assume that if you do not change the source code then the extracted output is indeed the same from one run to the next? And that the changes to the ordering you see are due to changes to the source code?

[2020-10-14 11:09] acalvo commented on #39262
No, it isn't, and that's our main problem...

With no changes to the source code I run `ng xi18n --ivy` and get a XLIFF output. Ok. I run it again, and get the a different output (same messages, same IDs, but different order).

[2020-10-14 11:11] petebacondarwin commented on #39262
Hmm, I guess this must be due to the async webpack build in the CLI, that can cause source files to be compiled in different orders...

[2020-10-14 12:17] alan-agius4 opened #39263 "NGTSC - add API to return source file dependencies"
# 🚀 feature request

### Relevant Package

@angular/compiler-cli

### Description
@clydin talked to @alxhub in the past to introduce something like `getModuleDependencies`/ `getSourcefileDepedencies` which would go along `getResourceDependencies` which was landed via angular/angular#38048.

NGTSC adds dependencies between files which is currently not being handled because such dependencies are not

[2020-10-14 12:21] alan-agius4 commented on #39241
Indeed the CLI does forcefully turn this on.

[2020-10-14 13:33] LewisMorgans opened #39264 "TSLint to ESlint migration tool REQUEST"
Is Angular working on a migration tool for moving from the deprecated TSlint to ESlint?

I'm having trouble with ES not checking angular related components such as the template files and modules.

Thanks.

[2020-10-14 14:20] hamfastgamgee commented on #20050
Definitely is still happening in 10.1.  We have a local shared library, and this issue confused the heck out of me for an hour in a new tiny app (only one page) we're doing that was importing that shared library through forRoot().  Our flagship apps have a SharedModule layer that is importing the shared library without forRoot() and then AppModule imports forRoot(), so we didn't see the behaivor t

[2020-10-14 14:26] hessamhoseinkhani commented on #39261
what else information should i provide ?

[2020-10-14 14:34] petebacondarwin commented on #39261
@hessamhoseinkhani - sorry, I thought I had already commented here!

Please can you provide a runnable example of your problem that I can use to diagnose your problem.

(It is not clear to me if you are running extraction on the library or some test application and how your project is setup.)

[2020-10-14 14:57] laurentgoudet opened #39266 "Allow specifying a max age for the index page served by the Service Worker"
Currently the Service Worker will serve the specified index file on navigation requests, checking for updates once the application has started.

While this does provide offline support & improves the TTI, one issue is that there's no expiration date for said index file: a returning user who had visited the site two months back will effectively run a 2-months old version of the app. This is posing

[2020-10-14 16:34] #39240 closed

[2020-10-14 16:49] vtsiris commented on #38409
Hello everyone,

I have created a reproduction of this issue and you can find it [here](https://stackblitz.com/github/vtsiris/time_elements_throws_error).
It seems that this is not an Angular issue.

[2020-10-14 17:41] aresot opened #39269 "loadTranslations with ICU plural expression not working"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/localize

### Is this a regression?

 not sure

### Description

 When I use this
`loadTranslations({
  d6cec643d19c2a2a8370673d27681775093e0322: "{VAR_PLURAL, plural, =0 {No guests1} =1 {Single guest1} other {{$INTERPOLATION} lalala1}}",
});` I am getting this warning in the console:
`There is a placeholder name mismat

[2020-10-14 17:58] petebacondarwin commented on #39269
Note that inside the ICU the placeholder should be `{INTERPOLATION}` not `{$INTERPOLATION}`.

[2020-10-14 18:03] gkalpak commented on #39266
Thx for opening this feature request, @laurentgoudet. It definitely doesn't sound unreasonable :smiley:

There are work-arounds available as you mentioned and depending on the app, there are different update strategies to use (such as showing a notification, doing a full page load on the next navigation (this is what angular.io does atm), or update on the next visit).

In version 11, a new option

[2020-10-14 18:07] aresot commented on #39269
Oh that did it. Sorry for false flag.

[2020-10-14 18:07] #39269 closed

[2020-10-14 18:09] petebacondarwin commented on #39269
Great!

[2020-10-14 18:20] gkalpak opened #39270 "docs: change the placement of the "Browser support" guide in the sidenav"
The [Browser support][1] guide is currently under `Reference > Conceptual Reference > Workspace and Project Structure` ([source code][2]), which I find unexpected.

I would expect to find it somewhere else, such as under `Release information`.

[1]: https://next.angular.io/guide/browser-support
[2]: https://github.com/angular/angular/blob/b0a8b69ae8b32251084f451fb579d84a6cd8ad27/aio/content/naviga

[2020-10-14 18:24] dcp3450 opened #39271 "Cannot set base providers error using 'ng test' after Angular v9 upgrade"
I've got all of my unit tests updated and passing after an upgrade from v8 to v9. However, now I'm getting the following error:

Cannot set base providers because it has already been called

Research suggested that I had `BrowserDynamicTestingModule `or `platformBrowserDynamicTesting()` called twice in my application. I searched my whole app and only found them once in my test.ts file:

[code]
I'm

[2020-10-14 18:53] petebacondarwin commented on #38947
Here is the fix https://github.com/angular/angular/pull/39267 - to land on master
And here is the back port of the original PR and the one above: https://github.com/angular/angular/pull/39272

[2020-10-14 19:13] petebacondarwin commented on #39262
I'm going to see if I can sort the messages by the file that they are in....

[2020-10-14 20:18] x87 opened #39274 "Regression in compiler-cli 10.1.0+: build is 10x times slower"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/compiler-cli@10.1.0

### Is this a regression?

Yes, the previous version in which this bug was not present was: @angular/compiler-cli@10.0.14

### Description

During an attempt to upgrade our repo to Angular 10.1 we noticed that one of our applications is not building anymore. We have investigated and found that one pa

[2020-10-14 20:30] kapunahelewong opened #39275 "Request for script to generate aio examples"
# 🚀 feature request

### Relevant Package

 This feature request is for aio.

### Description

It would be very helpful if we had a script that we could use to generate new examples for AIO.

### Describe the solution you'd like
A script that you could use a command like `ng new aio-example` that would set up a base example in the examples directory.

### Describe alternatives you've considered
Th

[2020-10-14 20:34] petebacondarwin commented on #39275
Sadly we can't use `ng new ...` because the CLI will complain that we are already inside a CLI project:

[code]

[2020-10-14 20:36] geromegrignon commented on #39260
I can't find in which version it was introduced but `ngOnChanges` is now only triggered by changes on properties passed from a parent component through data binding (it isn't triggered anymore in a component where the properties are declared).

[2020-10-14 20:36] petebacondarwin commented on #39275
I have two proposal, we could implement both:

1) The script will simply create the most basic skeleton of the example (i.e. the markers files, the `src` and `e2e` folders with skeleton files inside).
2) The script will take a path to a ready made CLI project somewhere and copy over important files, while adding the necessary marker files.

WDYT?

[2020-10-14 20:45] JoostK commented on #39274
Hmm, interesting. The generated Type-Check Block (TCB) has actually been simplified in 10.1 to improve performance.

<details>
<summary>10.0.14 TCB</summary>

[code]
</details>

<details>
<summary>10.1.6 TCB</summary>

[code]
</details>

But there is something in there that makes TypeScript choke:

<img width="1449" alt="Screenshot 2020-10-14 at 22 44 12" src="https://user-images.githubusercontent

[2020-10-14 20:53] laurentgoudet commented on #39266
Thanks for the quick response.

This is probably what I'm going to do for the time being, as doing so has a couple of benefits, namely the next version will be in cache, and the full page load can only be triggered versions older than a certain threshold. Interestingly I've never seen that happening on angular.io, or I just didn't pay attention I guess.

Thanks for pointing that out. While this op

[2020-10-14 20:57] hfournier commented on #39094
I just tried to update from 10.1.1 to 10.1.5 using:
[code]
and got:
[code]
so it's not just a warning now

[2020-10-14 21:03] JoostK commented on #39274
In particular, it's this change: 1388c1761f1a474de852c50f56e056e48e821bb0. Reverting that locally generates more TCB:

<details>
<summary>10.1.6 patched</summary>

[code]
</details>

But that one is just as quick as it was in 10.0.14. Which is quite the opposite of what I was seeing when implementing that change. I'll definitely have to dive deeper into TypeScript to understand what is going on he

[2020-10-14 21:09] JoostK commented on #39240
@laurentgoudet The fix has been released in 10.1.6 🥳

[2020-10-14 21:34] EmaGht opened #39276 "In Ivy, pipes in projected content uses viewProviders from a host component where ViewEngine did not"
Closely related to: https://github.com/angular/angular/issues/36146

# 🐞 bug report

### Affected Package
@angular/core

### Is this a regression?
Yes.
Worked with VE.
Half worked after the bugfix that closed https://github.com/angular/angular/issues/36146.
Half is broken

### Description
This time the problem happens when the pipe is declared in a template projected into the host component

## 🔬

[2020-10-14 21:43] atscott commented on #39239
Hi @noureddine-taleb, could you please provide a reproduction for this on stackblitz?

[2020-10-14 21:49] JoostK commented on #39274
This definitely looks like a bug in TypeScript.

**Slow**
[code]

**Fast** (last `*ngIf` commented out)
[code]
**Fast** (`submitted` replaced with `day?.invalid`, but last `*ngIf` enabled) <sup>(how is this fast and the first one isn't?!)</sup>
[code]

Surprisingly, the slow case becomes fast when the TCB contains those additional if-statements.

[2020-10-14 22:38] x87 commented on #39274
We also observed that the TS type checker is stuck at `getTypeAtFlowNode` during `ng build`. As a matter of experiment reducing the default `flowDepth` from 2000 to 40 eliminates the build slowness.

[2020-10-15 00:38] AndrewKushnir commented on #39271
Hi @dcp3450, the mentioned error is thrown from the [initTestEnvironment function](https://github.com/angular/angular/blob/master/packages/core/testing/src/r3_test_bed.ts#L217) in case it's called more than once. You can try to add a breakpoint there and see where the calls are coming from and update the code to remove one of them. If the problem still exists, please provide a minimal repro (in a

[2020-10-15 00:57] antodaniau commented on #13461
A solution with a custom FormControl to have all informations about validators and potentially full control on those validators :

[code]

with formGroup initialisation like
[code]

[2020-10-15 02:10] kumaresan-subramani commented on #39260
HI @geromegrignon ,

In that case, how can we suppose to track component's directives changes.

Is there any other alternate way available to handle this?

[2020-10-15 03:05] AleksanderBodurri commented on #39173
Are you providing the [`APP_ID`](https://angular.io/api/core/APP_ID) di token manually in any module?

The [DOM spec](https://dom.spec.whatwg.org/#dom-element-setattribute) defines constraints on what characters can be used as attribute names for `Element.prototype.setAttribute`.

The Dom Renderer uses the `APP_ID` constant to create unique `_nghost` and `_ngcontent` prefixes to be used for emulat

[2020-10-15 03:57] davidyew commented on #38730
@tirithen ,
I have similar related problems as yours.

FYI, I have explored [single-spa.js](https://single-spa.js.org/docs/ecosystem-angular), and [angular-extensions-elements](https://github.com/angular-extensions/elements).

I am pleased to have a working POC with the latest reactJS and Angular 10 components within an Angular app shell with Angular Extension Elements. The different web component

[2020-10-15 04:23] dev054 opened #39280 "Better ngClass typings"
# 🐞 bug report

### Affected Package
`@angular/common`.

### Is this a regression?
In ng < 9, the type was `any` so it worked.

### Description
https://github.com/angular/angular/blob/5db7b4c354d812938aa247a18154d6a61948547c/packages/common/src/directives/ng_class.ts#L61

Actually we can't pass readonly arrays or readonly sets with `strictTemplates` enabled, because the current types don't support

[2020-10-15 05:13] Airblader commented on #39280
If you need a temporary workaround you can wrap what you're passing to ngClass in `$any()`.

[2020-10-15 05:14] Hasnat150822 opened #39281 "Angular pipes and directives could not be used as a global state for all modules?"
To use Pipes & Directives in all lazy loaded module, I have used shared module in which I import and export these pipes.
I think this is not good approach because if there are many pipes & directives then a module will use all these pipes even some of them is not needed.
Here is the link of my code.
https://stackblitz.com/edit/angulattesting?file=src%2Fapp%2Fcustom-pipes%2Freturn-dash.pipe.ts
So,

[2020-10-15 06:28] kumaresan-subramani commented on #39260
IN (here)[https://github.com/syncfusion/ej2-angular-ui-components/blob/master/components/diagrams/src/diagram/connectors.directive.ts#L251], i hae added `ngdocheck` hook but it is getting triggered but `ngoOnchange` not get triggered

[2020-10-15 07:31] bboydflo commented on #39094
I've got the same issue as @hfournier

[2020-10-15 07:53] geromegrignon commented on #39260
Please explain your use case : As the component is responsible of providing data to the directives through inputs, why do you want to listen to the directive changes at the scope of the component?

PS:  there is no hook declared in your last link.

[2020-10-15 08:04] kumaresan-subramani commented on #39260
@geromegrignon , i have below architecture

parent component
    -- array-base directive
         ---- complex-base directive

When i chnage property in complex directive - i have provided hooks for that directive after this get updated then it update `array-base`. Finally my component get update at `ngAfterContentChecked` hoook.

Here `ngOnChnage` hook not triggere for `complex-base` so i am faci

[2020-10-15 08:04] volante007 commented on #37216
Hi @AndreyAusianik, which file & config did you modify to get this to work?

[2020-10-15 09:00] mitti2000 opened #39282 "Problems with enabling Ivy in Angular 10"
Hello everybody

We have a problem with our angular app.

We recently updated to angular 10 and enabled Ivy and aot.

Now we are running into several problems that we are not able to solve.

**Here is a quick overview of our setup**

The app is enterprise sized and contains several libraries which depend on each other.

These libraries are then used in other angular applications/workspaces which t

[2020-10-15 09:10] marcus-sa commented on #34080
Yeah, this is no longer a problem :+1:

[2020-10-15 09:10] #34080 closed

[2020-10-15 09:18] Wilt commented on #27240
It is easy to prevent any backward compatibility issues by making the `ActivatedRoute` and `ActivatedRouteSnapshot` classes generic with a simple default fallback value to the `Data` type as it is today:

[code]
[code]

[2020-10-15 10:23] kumaresan-subramani commented on #38947
@petebacondarwin , your mentioned  PR gets closed but without merge.

[2020-10-15 10:40] gkalpak commented on #39275
I have a slight preference for option 1. Plus having the script print (a link to docs with) some useful info, such as how to change the example type, how to update it, how to run tests, etc.

With option 2, I am worried that people might not be sure which parts they can get rid of, so it would be easier to end up with redundant code.

[2020-10-15 10:52] gkalpak commented on #39266
BTW, while there are no immediate plans for working on this (so, no eta), if someone wants to try their hand at it, I would be happy to help/review.

[2020-10-15 10:59] petebacondarwin commented on #39275
I have a PR almost ready. Let's discuss it there...

[2020-10-15 11:11] petebacondarwin commented on #38947
@kumaresan-subramani - which one? Both PRs mentioned above (#39267 and #39272) have been merged into the appropriate branches. The GH UI doesn't show them as "merged" because our merge script cherry-picks the commits (squashing fixups as necessary) onto the target branch, so GH doesn't realise that the PR was merged.

[2020-10-15 11:22] kumaresan-subramani commented on #38947
@petebacondarwin , thanks - can i check now with latest npmjs package

[2020-10-15 11:28] xROAL opened #39284 "AsyncPipe updates when original value of Observable is mutated"
# 🐞 bug report

### Affected Package
@angular/core

### Is this a regression?
Not aware.

### Description
When using the `AsyncPipe` to subscribe to an observable created using `of`, the value returned by the `AsyncPipe` changes when the argument to `of` is mutated.

## 🔬 Minimal Reproduction
https://stackblitz.com/edit/angular-ivy-8s5app

- There's an `AppService` that has a method which returns

[2020-10-15 11:29] petebacondarwin commented on #38947
I think the fixes appear in 10.1.6

[2020-10-15 11:32] Airblader commented on #39284
That's expected behavior. You're just using observables in an unintended way. The tap doesn't fire because no new emission has occurred, but rxjs doesn't make deep copies of objects so mutating the value will propagate.

[2020-10-15 11:36] anthonn commented on #24041
For my purposes I found a quite ok workaround for this issue. Instead of using ng-content I send a template to the component.
I have modified the stackblitz in the above bug report to show an example:
https://stackblitz.com/edit/angular-gv6svy?file=src%2Fapp%2Fcontent.component.html

[2020-10-15 12:35] Borosh opened #39285 "TypeError: Invalid attempt to spread non-iterable instance in Angular 10 with string http header"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/common/http

### Is this a regression?

Yes, the previous version in which this bug was not present was: Angular v9

### Description

Our interceptor - which worked before - at Angular version 10 started to cause some issues. The source of the issues is the `setHeaders` property of the update object in the `clone()` func

[2020-10-15 12:43] criskrzysiu commented on #39284
https://github.com/tc39/proposal-record-tuple when this get into js there will be no more problems like yours ;)

[2020-10-15 13:08] nektobit commented on #20621
Hi
Any news?

[2020-10-15 13:15] gkalpak commented on #38409
Thx, @vtsiris! Based on the reproduction, it seems that Angular does indeed recognize the built-in `<time>` element.
Since the issue seems to only be related to PhantomJS, which is not actively developed any more (see ariya/phantomjs#15344) and is not one of the browsers officially supported by Angular (see [Browser support][1]), I believe this issue can be closed.

##
@Martinspire, feel free to o

[2020-10-15 13:15] #38409 closed

[2020-10-15 15:13] CobusKruger opened #39287 "Form is invalid when all fields are disabled"
# 🐞 bug report

### Affected Package
@angular/forms

### Is this a regression?

Not as far as I know. I know it happens on 9.1.11 and on 10.0.9

### Description

According to the [documentation](https://angular.io/api/forms/AbstractControl#disabled):

But when all the controls in a group is disabled, the disabled fields appear in the aggregate value, and the group is invalid.

## 🔬 Minimal Reprodu

[2020-10-15 16:06] atscott commented on #39284
Closing as working as intended. See https://github.com/angular/angular/issues/39284#issuecomment-709222775

[2020-10-15 16:06] Credo-Zhao commented on #11234
2016~~2020?!Why not resolved?

[2020-10-15 16:17] fksik opened #39290 "Provide Entry point for service worker"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/service-worker

### Description
 If using angular service worker there is no way to modify the push messages once they reach the application...

### Describe the solution you'd like
 By providing an entrypoint this could solve the problem of modifying the push messages view accordinly, and could potentially unlock man

[2020-10-15 17:59] gkalpak commented on #39290
Thx, @fksik! Can you please elaborate on what you are trying to achieve? What entry-point are you looking for?

[2020-10-15 18:06] JoostK commented on #39285
Hi @Borosh,

could you please share a runnable reproduction that shows this issue?

[2020-10-15 20:30] matthewjh opened #39293 "NGCC is non-hermetic and produces different output depending on source location in file system"
# 🐞 bug report

### Affected Package

angular/compiler-cli

### Description

NGCC produces different output - specifically, in sourcemap transformation - depending on source location in file system.

I have two copies of the same project checked out in two places:

D:/myproj
D:/myproj-other/myproj

If I compare node_modules/@angular/animation between the two (this is just an example), the "sources

[2020-10-15 20:34] petebacondarwin commented on #39293
Thanks for this detailed report @matthewjh - I will take a look at it tomorrow.

[2020-10-15 20:41] matthewjh commented on #39293
Thank you, @petebacondarwin :)

[2020-10-15 21:42] markostanimirovic opened #39296 "Change Detection Not Working with Routing in Zone-Less Application"
# 🐞 bug report

<img src="https://user-images.githubusercontent.com/17877290/96185170-ceae1600-0f39-11eb-9687-0bcda9919a20.gif" alt="zoneless-routing-bug" width="600" />

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 No

### Description

Issue happens in zone-less environment when routing is used. If you remove `<router-outlet></router-outlet>` fr

[2020-10-15 21:54] hamzahamidi opened #39297 "Angular can't disable Ivy"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/compiler-cli

### Is this a regression?

I don't know

### Description

 A clear and concise description of the problem...

I can't seem to disable Ivy in Angular v9 although my production config is
[code]
I though build my library using ng build --prod but even so it still uses Ivy

## 🔬 Minimal Reproduction

 https://s

[2020-10-15 23:18] hamzahamidi commented on #39297
Same happens with Angular v10 too:

Env:
<pre>
<code>

     _                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
  / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
 /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                |___/

Angular CLI: 10

[2020-10-15 23:33] AndrewKushnir commented on #36241
Hi @martinbu, we've recently performed some refactoring (in #38707) that might potentially address this issue. Could you please try to test your app with the most latest version (10.1.6 at this moment) to check if the behavior is the same? Thank you.

[2020-10-15 23:34] IgorMinar opened #39300 "strictTemplates mode emits confusing type checking error for two-way data-binding with missing @Output declaration (Type 'Event' is not assignable to type X)"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/fw-compiler

### Is this a regression?

 No

### Description

With `strictTemplates` mode turned on, regulard two-way data-binding no longer passes type-check.

It appears that we don't special retain the information about the type of the value assigned via `(xyzChange)="prop = assignedValue` and instead consider it to

[2020-10-15 23:40] AndrewKushnir commented on #20449
Closing this ticket since ViewEncapsulation.Native is deprecated and will be removed in v11 (see [deprecations guide](https://angular.io/guide/deprecations)).

[2020-10-15 23:40] #20449 closed

[2020-10-16 00:06] IgorMinar commented on #39300
@JoostK pointed out that the application has a bug where the child component doesn't properly define `@Output`.

The following patch fixes the issue:

[code]

What however remains is that the original error is confusing and misleading.

In the absence of the proper @Output, the compiler assumes that the `(valueChange)` our the outward part of the `[(value)]` binding must be a binding to a DOM even

[2020-10-16 00:07] AndrewKushnir commented on #34821
Closing this ticket for now since this behavior was documented in #36643. Will reopen if there is a plan to change that in the future. Thank you.

[2020-10-16 00:07] #34821 closed

[2020-10-16 03:44] nhantt10 commented on #28730
Try implement window unload event handler. I think the guard is activated only when a navigation happens (link click, `router.navigate()`). For the browser-based navigation (back button, refresh button, home button), the guard won't be triggered. Instead, handle the window unload event will do the trick.

I tried these code in your stackblitz and it worked:
[code]

[2020-10-16 03:45] ThanhNhan776 commented on #28730
Try implement window unload event handler. I think the guard is activated only when a navigation happens (link click, `router.navigate()`). For the browser-based navigation (back button, refresh button, home button), the guard won't be triggered. Instead, handle the window unload event will do the trick.

I tried these code in your stackblitz and it worked:
[code]

[2020-10-16 05:04] fksik commented on #39290
Hi @gkalpak,
      Entry point as main.ts from where we can provide custom push message handler.

[2020-10-16 07:23] tharindusathis commented on #13461
+1

[2020-10-16 08:17] yannickglt commented on #38875
+1
We have the same problem while running parallel builds or e2e tests on the CI. Is there any workaround?

[2020-10-16 08:29] petebacondarwin commented on #38875
A potential workaround is to delay one of the parallel builds be a second or so, to allow the first one to complete its initial ngcc check before triggering the same with the second one.

[2020-10-16 08:44] petebacondarwin commented on #39293
So as far as I can tell, this is kind of an issue with the source-maps generated by the Angular project in the first place.

Since the file paths of original source files are pointing way way up the tree, (e.g. `../../../../../../packages/...` then if the location of the source-map itself is not deep enough in the tree then of course it will produce different relative paths.

This is equivalent to

[2020-10-16 08:55] thw0rted commented on #37072
I'm seeing the same behavior when trying to use `overrideComponent` [as suggested here](https://github.com/angular/angular/issues/12313#issuecomment-298697327).  That issue is about problems testing `OnPush` components, and one workaround is to set the components to `Default` while testing (though obviously that has its own shortcomings).  Since I'm trying to change the `changeDetection` for the c

[2020-10-16 08:57] petebacondarwin commented on #39293
So I guess, if the original source path points so far up the tree that we hit the root, then we should assume that this file never exists, and so just leave the path alone rather than modifying it to be relative to the current source-map.  What do you think?

[2020-10-16 09:11] matthewjh commented on #39293
Does that mean that if I checkout the source code at a sufficiently deep path that running ngcc on these files does _not_ hit the root, I may end up with different source files?

I'm assuming by root you mean the root of the file system tree, i.e.
C:/
or
D:/

Is there a way to invoke that logic (fallback to the original) more generally in the event that the path "breaks out" of the current workspa

[2020-10-16 09:25] petebacondarwin commented on #39293
So, yes I did mean `C:/` etc when I said root.

I think we have a problem here generally, in that even if we identified files that broke out of the root, and "fixed" the paths to them. If you did move to a deeper path, then this logic might not kick in and then we would be left with different paths again.
(I think this might have been what you are saying).

Perhaps a better approach is to identify

[2020-10-16 09:50] martinbu commented on #36241
Hi @AndrewKushnir,

thank you for still looking into this issue. I have testet with version 10.1.6 and added another branch [angular10.1.6-with-ivy](https://github.com/martinbu/ivy-directive-issue/tree/angular10.1.6-with-ivy).

[code]

Sadly, the behavior is still the same. Without ivy it works. With ivy enabled it doesn't work.

[2020-10-16 09:51] gkalpak commented on #39290
@fksik, I am still not following I'm afraid. Push messages are handled on the ServiceWorker (while `main.ts` is for the regular app).
Maybe you could share some code of how you intend to use the requested API (just pretend that the API exists).

[2020-10-16 10:13] petebacondarwin commented on #39293
I created a possible fix.... #39302

[2020-10-16 10:26] fcolasante commented on #34352
@GabrielGil Can you share your knowledge?

[2020-10-16 12:33] mackelito commented on #12378
@bhanna1693 thx.. you solution now found it's way into my codebase ;)

[2020-10-16 12:58] seeiuu commented on #13761
Somebody have some news about it? I have try with the last angular 11, but not yet work :(

[2020-10-16 14:05] laurentgoudet commented on #39240
Cheers, I'll check it out and revert my hack!

[2020-10-16 15:05] nthornton2010 commented on #36430
I'd love to see this fixed! Many devs don't read the logged errors and just see SUCCESS and move on. Our test suite is now full of blue error messages that need cleaning up.

[2020-10-16 15:14] #39275 closed

[2020-10-16 16:30] fksik commented on #39290
Hi @gkalpak,
This is the code in /packages/service-worker/worker/main.ts
[code]
which is not accessible outside the source code.

If there is is a chance that this main.ts exposed to developers we can use it like

[code]
after broadcasting message, we can use handlePush to mutate pushmessage notificationOptions and customData property according to the need of the developer

[2020-10-16 16:48] stephenlautier opened #39304 "Router - Routes Config transform hook"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/router

### Description
Ability to transform/process routes when they are being registered (in order to be filtered/manipulated or so)

### Describe the solution you'd like

[code]

### Describe alternatives you've considered
Tried to handle the more angular DI way, however with the router I had no luck.
I tried even cu

[2020-10-16 19:00] jelbourn commented on #27575
Closing since this is obsolete.

[2020-10-16 19:00] #27575 closed

[2020-10-16 20:04] Airblader commented on #39304
What would this be useful for, specifically?

[2020-10-16 20:41] jelbourn commented on #27201
@josephperrott @IgorMinar confirming that we still care about resolving this at some point, yes? Anything actionable with CircleCI?

[2020-10-16 20:42] jelbourn commented on #9609
Closing since we no longer produce ES5 outputs.

[2020-10-16 20:42] #9609 closed

[2020-10-16 20:42] #10821 closed

[2020-10-16 20:43] jelbourn commented on #12897
Closing as obsolete

[2020-10-16 20:43] #12897 closed

[2020-10-16 20:44] jelbourn commented on #16846
Closing since this is obsolete now that Angular builds with bazel

[2020-10-16 20:44] #16846 closed

[2020-10-16 20:45] jelbourn commented on #17552
Closing since I believe bazel remote execution/caching has mostly solved this problem and selectively running tests on CI based on the content is generally problematic.

[2020-10-16 20:45] #17552 closed

[2020-10-16 20:46] jelbourn commented on #19841
@petebacondarwin can this issue be combined/duplicated into another issue? Maybe a tracking issue for ngtsc?

[2020-10-16 20:47] jelbourn commented on #20860
@josephperrott is this still relevant?

[2020-10-16 20:48] jelbourn commented on #21116
Closing as obsolete since we already track circular dependencies and are actively working to reduce them

[2020-10-16 20:48] #21116 closed

[2020-10-16 20:52] jelbourn opened #39310 "Expand size-tracking to include first-party Angular libraries"
Currently the size tracking only captures holistic metrics (e.g. angular.io) and more granular example apps (hello world). We may want to track more granularly by building cases for:

- [ ] Hello world with forms
- [ ] Hello world with router
- [ ] Hello world with forms + router
- [ ] Hello world with forms + router + Angular Material

Replaces #21268,  #21269, #21270, #21271

[2020-10-16 20:52] jelbourn commented on #21268
Duplicate of #39310

[2020-10-16 20:52] #21268 closed

[2020-10-16 20:52] jelbourn commented on #21269
Duplicate of #39310

[2020-10-16 20:52] #21269 closed

[2020-10-16 20:52] jelbourn commented on #21270
Duplicate of #39310

[2020-10-16 20:52] #21270 closed

[2020-10-16 20:52] jelbourn commented on #21271
Duplicate of #39310

[2020-10-16 20:52] #21271 closed

[2020-10-16 20:53] jelbourn commented on #21437
Closing since this issue specifically seems to be obsolete.

[2020-10-16 20:53] #21437 closed

[2020-10-16 20:55] jelbourn commented on #21568
Closing since it seems like we would never actually get to a point of prioritizing something like this

[2020-10-16 20:55] #21568 closed

[2020-10-16 20:55] jelbourn commented on #21709
Closing since this seems obsolete; we can track ongoing CI work in more specific issues.

[2020-10-16 20:55] #21709 closed

[2020-10-16 20:56] jelbourn commented on #22014
Closing since googlebot now supports this

[2020-10-16 20:56] #22014 closed

[2020-10-16 20:56] #22123 closed

[2020-10-16 20:59] jelbourn commented on #22364
Closing since it's not clear exactly what this issue is tracking

[2020-10-16 20:59] #22364 closed

[2020-10-16 21:00] jelbourn commented on #22871
Closing since this seems to be obsolete (Andrew Scott says it definitely checks the whole PR)

[2020-10-16 21:00] #22871 closed

[2020-10-16 21:01] jelbourn commented on #22551
I believe this is obsolete since we've switched to bazel.

[2020-10-16 21:01] #22551 closed

[2020-10-16 21:01] jelbourn commented on #23089
@josephperrott this is still active, yes? Mainly for SauceLabs and Browserstack tests?

[2020-10-16 21:03] jelbourn commented on #23281
@alan-agius4 is this issue obsolete? Feel free to close if so.

[2020-10-16 21:03] jelbourn commented on #23380
Closing since this seems obsolete (the whole build pipeline has changed since then)

[2020-10-16 21:03] #23380 closed

[2020-10-16 21:04] jelbourn commented on #23520
@alan-agius4 is this related to #19841?

[2020-10-16 21:04] jelbourn commented on #23579
Closing since this appears to be obsolete

[2020-10-16 21:04] #23579 closed

[2020-10-16 21:05] jelbourn commented on #24149
Closing since I believe this is obsolete (the given test does not exist any more)

[2020-10-16 21:05] #24149 closed

[2020-10-16 21:06] jelbourn commented on #24905
Closing as obsolete since out build and test pipeline has changed significantly since it was filed

[2020-10-16 21:06] #24905 closed

[2020-10-16 21:07] jelbourn commented on #26605
@gregmagolan is this issue still relevant?

[2020-10-16 21:12] jelbourn commented on #27507
@josephperrott is there anything still relevant here?

[2020-10-16 21:54] stephenlautier commented on #39304
There are quite a lot of things which you can do with them but essentially iterate through them and perform some checks, add data "dynamically" (e.g. generate data id based on path), exclude routes etc...
You can do some, with a plain function **UNLESS** you need to use a service, then you won't be able to.

A small concreate example would be:

Enable certain routes in `debugOnly` (specified in da

[2020-10-16 22:39] jjssman commented on #35924
Any solution to this? I have the exact same problem and I have been struggling to get SSR to work.

[2020-10-17 00:04] AndrewKushnir commented on #29268
@jelbourn I haven't seen this issue for quite some time, but @josephperrott can confirm if this scenario is covered by the new merged script.

[2020-10-17 01:54] nasreddineskandrani commented on #13761
@lazarljubenovic
your last answer gives:
[code]
when in his approach he ends up with:
[code]

[2020-10-17 02:23] JiaLiPassion commented on #39094
zone.js `0.11.2` has been released, and about the `peer denedency warning`, it will be updated soon.

[2020-10-17 06:57] skwny commented on #24187
Experiencing this as well. My fix will be to run `canActivate` in place of resolvers higher up in the route hierarchy and just treat it as a resolver.

[2020-10-17 06:59] lazarljubenovic commented on #13761
I'm not sure where you got the extra group from.

[2020-10-17 07:46] Harpush commented on #34522
This is really important... The amount of if else in template based on discriminate union that needs those hacks is too much to not fix it...

[2020-10-17 07:55] Airblader commented on #39304
And why can't all of this already be achieved with guards, resolvers and url matchers?

For example, let's consider your debugMode. Either this is purely a build time thing for developers or you want this to be possible even in the live production app. In the first case adding / removing routes at build time is already possible. In the latter case you can use guards.

The config based on route dat

[2020-10-17 08:05] Airblader commented on #39304
Also this is possibly related to #17145

[2020-10-17 09:58] petebacondarwin commented on #39175
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-10-17 09:58] #39175 closed

[2020-10-17 10:23] alan-agius4 commented on #23520
Should be, closing in favour of the mentioned issue.

[2020-10-17 10:24] alan-agius4 commented on #23281
I reckon it is, since we now also have Windows CI.

[2020-10-17 10:24] #23281 closed

[2020-10-17 11:48] petebacondarwin commented on #30408
Properties, etc on classes, interfaces etc are actually automatically displayed as struck-out if they are deprecated.
What is being asked for here is to display properties on inline types as struck-out if they are deprecated. Currently there is very limited support for rendering such inline types, so this would be quite a lot of effort to implement, for now a huge amount of benefit, IMO. If the in

[2020-10-17 11:51] petebacondarwin opened #39314 "i18n - message extraction: display locations of "all" locations of the message"
Previously all template locations were captured and displayed in the extracted translation files. E.g.

[code]

Currently only one location is rendered.

[2020-10-17 11:53] petebacondarwin commented on #39241
I have captured the first problem in #39314, the second problem is already captured in #39195.
The other issue looks like an issue with your setup.

I am going to close this issue. Please open a new one with a link to a git repository that reproduces the incorrect source location issue.

[2020-10-17 11:53] #39241 closed

[2020-10-17 11:55] petebacondarwin commented on #39261
Thanks for reporting this issue, @hessamhoseinkhani. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your

[2020-10-17 11:55] #39261 closed

[2020-10-17 11:59] alastair-todd opened #39315 "HttpInterceptor stack trace includes a lot of rxjs and zone.js noise"
If you get a http client remote error, tracing the code is difficult because there is no relevant stack trace. If you try and read the error stack or generate a stack at the point of error in an HttpInterceptor, all you get is a load of zone/rxjs noise and nothing about the caller.

### Affected Package
HttpClientBrowser / HttpClient

### Is this a regression?

This has been the case forever.

If

[2020-10-17 12:00] petebacondarwin commented on #39297
@hamzahamidi I would guess that what is happening, is that you are indeed building your library in ViewEngine mode (i.e. Ivy disabled) but then you are using that local library in a test application, which is running ngcc over the generated library code, which converts it to Ivy. You are then trying to public the package to npm, but this is disallowed, since you should not be pushing ivy code to n

[2020-10-17 12:04] petebacondarwin commented on #32507
This is an issue with the error messages coming from the upstream `Bazel` tool.
There is nothing actionable for us here.
I would suggest opening an issue here https://github.com/bazelbuild/bazel

[2020-10-17 12:04] #32507 closed

[2020-10-17 12:07] petebacondarwin commented on #33858
I cannot reproduce in UK (both normal and incognito). I am not sure there is much we can do...

<img width="624" alt="Screenshot 2020-10-17 at 13 06 40" src="https://user-images.githubusercontent.com/15655/96336711-a5949f00-1079-11eb-859d-19c15b737fe6.png">

[2020-10-17 12:10] stephenlautier commented on #39304
Some things can be handled maybe, but still different than what we expect and some doesn't.
e.g. If you need to validate a route, with a guard/resolver you need to **active** it in order to be validated so its lazy, ideally in such case we do it upfront so it makes our life easier (and don't need navigate through route 1 by 1 in order to find issues).

Other actions if you need it a bit more cross

[2020-10-17 12:15] petebacondarwin commented on #35450
I feel like this is a content issue. The homepage is a markdown file (like a guide). Moving this to `docs` rather than `docs-infra`. If when implementing this, there turns out to be something that needs to be implemented on docs-infra then a new specific issue should be created.

[2020-10-17 12:20] Airblader commented on #39304
I don't see the difference. In both cases the route has to exist in the application, in both cases the decision is made at runtime. The guard can easily defer the logic to a cached result that you eagerly calculate if for some reason this is absolutely necessary. Either way the requested feature of making routes inaccessible at runtime based on logic from a service already exists.

I'd really love

[2020-10-17 12:24] petebacondarwin commented on #35972
I can't recreate this on
Safari: Version 14.0 (15610.1.28.1.9, 15610)
OS/X Catalina 10.15.6 (19G2021)

[2020-10-17 12:25] petebacondarwin commented on #36032
Closing due to lack of response.

[2020-10-17 12:25] #36032 closed

[2020-10-17 12:26] #37520 closed

[2020-10-17 12:27] petebacondarwin commented on #37520
I don't feel we should implement further dgeni tags

[2020-10-17 12:30] petebacondarwin commented on #38563
Closing as "works as expected".

[2020-10-17 12:30] #38563 closed

[2020-10-17 12:45] petebacondarwin commented on #24065
This is still how it works in Ivy (the original example using Angular v6 and ViewEngine).
The code that is being run is:

[code]

I would imagine it would be better to throw in ngDevMode??  For example:

[code]

[2020-10-17 13:13] JiaLiPassion commented on #39296
This seems to be a bug that when `markDirty()` is called during another `markDirty` and the `rootContext.flags` are not reset. I will create a PR to fix it.

[2020-10-17 13:32] JoostK commented on #39282
The error

[code]

indicates that the Ivy compiler is failing to interpret the NgModule declaration encoded into the .d.ts files of a library. This looks something like this:

[code]

It provides the NgModule metadata that was present in the `NgModule` decorator of `SomeNgModule` to downstream compilations of that library. If the error occurs, it means that the `i0` namespace import could not be r

[2020-10-17 13:53] JoostK commented on #39226
Confirmed as a bug in [postcss-reduce-transforms](https://www.npmjs.com/package/postcss-reduce-transforms) (cssnano) which doesn't account for missing arguments.

I'll be moving this to the CLI repo, but I don't think it's actionable from the Angular side.

[2020-10-17 13:58] JoostK commented on #37312
I'll go ahead and close this as there's not been a response. See my previous comment on what the root cause likely is:

[2020-10-17 13:58] #37312 closed

[2020-10-17 16:07] gkalpak commented on #27507
Yes, this is still relevant. (Whether we'll ever get to prioritize it, is a different discussion 😛)

[2020-10-17 16:31] gkalpak commented on #27986
This is still an issue in the new UI. See for example [here](https://app.circleci.com/pipelines/github/angular/angular/23226/workflows/fcbbb82f-c2d6-417b-b9d8-0a683aa5d658/jobs/835951):

![circleci-gisticon-20](https://user-images.githubusercontent.com/8604205/96348114-eeb31600-10ae-11eb-939b-8ca75a661788.png)

[2020-10-17 16:48] JoostK commented on #38346
I notice this issue is regarding View Engine issues with regards to barrel files; unfortunately that is a widespread issue which has been addressed in Ivy, but is still present in VE.

[2020-10-17 18:31] JoostK commented on #38195
Alright, it turns out that pipes are not reported as missing when `fullTemplateTypeCheck` is disabled/not set. I opened #39320 to address that, but it will continue to suffer from #36171.

[2020-10-17 20:45] JoostK commented on #39147
The issue here is that template parse errors result in the whole component being invalid, causing the NgModule declaration to also be flagged as invalid. This causes the implicit dependency from `app.module.ts` to `app.component.html` not to be registered, such that fixing the template does not invalidate the captured state for `app.module.ts` that still contains the error.

[2020-10-17 20:51] JoostK commented on #38122
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-10-17 20:51] #38122 closed

[2020-10-17 21:02] JoostK commented on #38893
Hi @rahultokase,

unfortunately there's not enough information in the description for me to make an educated guess on what could be wrong. Are there any more errors reported above the one you posted? I would expect there to also be a message about the `LibraryModule` itself, besides the error for `SharedlibModule` which imports it.

I'll label this as "Needs reproduction" as without it we'll likel

[2020-10-17 21:12] nasreddineskandrani commented on #13761
@lazarljubenovic your example in stackoverflow has an extra formgroup but it was about `sub-form` and not projection. My bad!

[2020-10-17 23:57] hamzahamidi commented on #39297
Here's the project https://github.com/hamzahamidi/ajsf, but in my case I published the library by removing the pre-deployment script.

[2020-10-18 13:00] JoostK commented on #39040
I tried to reproduce this in a Windows VM with parts extracted from the Stackblitz repo, but it did not crash for me. Can anyone provide a GitHub repo that reproduces the issue, as there might be some configuration differences as to why I'm unable to reproduce.

[2020-10-18 16:41] nhuyvan commented on #32852
@bufke Oh geez, thank you for this workaround that you suggested **In the lazy loaded module, just adding the import RouterModule.forChild([]) works around the issue.**, was so frustrated because one of my lazy loaded modules kept matching the empty path `""`, I have 2 lazy loaded routes, one of them matches correctly, while the other one kept matches the empty route.

[2020-10-18 19:50] petebacondarwin commented on #39297
I just cloned the repo and ran:

[code]

The output in `dist/@ajsf/core` has been compiled using ViewEngine as expected.

Please can you provide steps to reproduce your problem?

[2020-10-18 20:28] hamzahamidi commented on #39297
I build all the libs and the demo using `yarn build:demo`

[2020-10-18 23:54] JiaLiPassion commented on #38669
Please use the new released `0.11.2`, this issue should be gone.

[2020-10-18 23:54] #38669 closed

[2020-10-19 02:06] 513205785Xie opened #39326 "JIT Complier needed with AOT Build for Dynamic Component"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/platform-browser-dynamic

### Is this a regression?

 I do not know, my english is not good, sorry...

### Description

I met a problem like this https://github.com/angular/angular/issues/20875#issuecomment-350362783
and I solved this problem, use the method provided earlier,and then i encountered another problem 'undef

[2020-10-19 03:20] wangzixi-diablo commented on #12313
I also meet with this annoying issue recently: https://github.com/wangzixi-diablo/Spartacus-learning/issues/4

Great thanks to my colleague @Platonn who has provided a solution for it:
https://github.com/SAP/spartacus/blob/develop/projects/storefrontlib/src/shared/components/table/table.component.spec.ts#L42-L44

[2020-10-19 03:49] pathurs opened #39327 "Allow adding a function to replace/extend the default history.state manipulation"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/router

### Description
Allow replacing/extending/disabling the default functionality that sets of the current `history.state` on any router navigation to facilitate custom state objects.

### Describe the solution you'd like
Allow an easy to way replace/extend this functionality to manipulate the state along side the

[2020-10-19 04:45] JiaLiPassion commented on #38516
@mblout , I tried the code with zone.js `0.10.3` and `0.11.2` the result is the same with `0.9.1`, all output

[code]

could you check it again?

[2020-10-19 06:53] petebacondarwin commented on #39297
Right, I think it is as I described above. Running `yarn build:libs` produces the correct ViewEngine output that can be published to npm. Running `yarn build:demo-only` builds the demo app that causes all your locally built libs to be converted to Ivy (by ngcc). You can see this in the output:

[code]

All of these "Compiling..." lines are ngcc converting libraries from ViewEngine to Ivy.

Once th

[2020-10-19 06:53] #39297 closed

[2020-10-19 07:26] hamzahamidi commented on #39297
Thanks @petebacondarwin

[2020-10-19 08:08] petebacondarwin commented on #34446
This is an upstream issue for TS/VS Code in my opinion. It is perfectly reasonable to generate inline source content in source-map files. The fact that TS services cannot handle this is not the fault of the Angular build. The source-mapping works fine when debugging in the browser. Also, the half-fix that TS has provided in https://github.com/microsoft/TypeScript/pull/36384 appears to work well en

[2020-10-19 08:10] petebacondarwin commented on #19841
I think this is obsolete since we now use Bazel to build Angular. So in fact we should close this in favour of #23520, which I will re-open.

[2020-10-19 08:10] #19841 closed

[2020-10-19 08:11] petebacondarwin commented on #23520
Reopening as the other issue is related to pre-Bazel build scripts which are no longer relevant. If there is an issue, it needs to be fixed in our Bazel build tooling.

[2020-10-19 08:15] petebacondarwin commented on #23520
The path to the source-maps is bad. They are also a bit useless, since we provide the source content inline. I agree with @alan-agius4 that we should transform these paths into something similar to what ng-packagr does - which is to remove the leading `../` segments and prefix with a "protocol" such as `ng:`. This is similar to what webpack does with its "virtual" file paths where it prefixes file

[2020-10-19 08:17] petebacondarwin commented on #23520
Fixing this would probably also solve #39293.

[2020-10-19 08:21] petebacondarwin commented on #23520
Actually, let's track this at #14021, since that has been around longer and contains more analysis.
The solution proposed here feels more like a hack rather than a fix for the underlying problem (which is that our build system points source-map sources to paths that are outside of the distributed code. But maybe a hack is the best we can do to fix this...

[2020-10-19 08:21] #23520 closed

[2020-10-19 08:24] petebacondarwin commented on #14021
Keeping this as the primary tracking issue for problems related to the `sources` paths in the source-maps generated by the Angular build. Related issues that are tracked here:

* Sourcemaps for .d.ts files break go to definition in vscode #34446
* Bazel - Relocate sourcemaps #23520
* NGCC is non-hermetic and produces different output depending on source location in file system #39293

[2020-10-19 08:24] petebacondarwin commented on #34446
Tracking the underlying problem in our build system at #14021

[2020-10-19 08:24] #34446 closed

[2020-10-19 08:25] petebacondarwin commented on #39293
Tracking the underlying issue for this in #14021.
I think there is still room for ngcc (and our source-map merging tooling) to be more resilient to these dodgy source paths anyway. So I will keep working on this in #39302

[2020-10-19 08:25] #39293 closed

[2020-10-19 09:22] stephenlautier commented on #39304
Oki so one of the examples i mentioned is to iterate through routes and add validation. Again the only problem we have is we are not able to use DI, so the requested feature is to enable DI pretty much, in this case a simple logger.

#### Validate the Routes has certain data e.g. RouteId in this case

This is how it currently is, and it works, however in this example we cannot use our own logger (

[2020-10-19 09:45] Airblader commented on #39304
Thanks for taking the time to write this up, I appreciate it! I think understanding the use-case helps in finding solutions, be it existing ones or to think about a possible new feature. I'll follow up with my thoughts on this below, but let's see what the Angular team thinks about it. :-)

---

Since this is about preventing misconfiguration during development, wouldn't you rather want this to be

[2020-10-19 10:51] kingecg opened #39328 "Unclear error message for hostbinding"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

when create a directive or component, if you use arguments in hostlistener binding and declared wrong
number arguments in function like following code.
[code]
compiler report error:'Directive XX, Exp

[2020-10-19 10:55] JoostK commented on #39328
Closing as duplicate of #21329

[2020-10-19 10:55] #39328 closed

[2020-10-19 11:10] gkalpak commented on #39290
I see. This is essentially a duplicate of #24387 (or even #26413). (This issue suggest a specific implementation, but the main idea is having a way to modify how `push` events are handled.

I am going to close this issue in favor of #24387/#26413 - feel free to comment there with anything you think would be useful.

##
In the meantime, one possible work-around is to define a custom ServiceWorker s

[2020-10-19 11:10] #39290 closed

[2020-10-19 12:03] namikarif opened #39329 "Compiler.compileModuleAndAllComponentsSync “Runtime compiler is not loaded” in Angular 10"
I designed a dynamic form. It works well in Angular 5 version. However, after upgrading the Angular version to 10, it started malfunctioning.

Error message returned from **compiler.compileModuleAndAllComponentsSync** line:

`Error: Runtime compiler is not loaded
    at Compiler._throwError (http://localhost:8001/vendor.js:39209:11)
    at SectorFormComponent.createComponent (http://localhost:8001

[2020-10-19 12:13] stephanie-dm commented on #35722
FYI: here is the link to the official documentation regarding this change:
https://angular.io/guide/migration-undecorated-classes

[2020-10-19 12:20] JoostK commented on #39326
Hi @513205785Xie,

the `JitCompilerFactory` is not supposed to be instantiated manually, as it should be obtained through Angular's DI system (using `injector.get(CompilerFactory)`, where `injector` is an Angular injector). As such, the constructor is marked as `@internal`.

I'd actually expect that you should be able to use `injector.get(Compiler)` to get a `Compiler` instance without going throu

[2020-10-19 12:20] #39326 closed

[2020-10-19 12:25] petebacondarwin commented on #31361
URLs that contain content like a base64 PDF are considered `RESOURCE_URL` types from a security context point of view.

As described in the [docs](https://angular.io/guide/security#sanitization-and-security-contexts):

It is not possible for Angular to automatically prove that an arbitrary resource URL is safe. So you are responsible for making that decision in your application. If you trust your

[2020-10-19 12:25] #31361 closed

[2020-10-19 12:32] JoostK commented on #39329
For AOT + JIT to work you **must** disable `buildOptimizer`, see https://github.com/angular/angular-cli/issues/17663#issuecomment-708031596.

As mentioned in #39159, there is something wrong in the stack trace as it shows ViewEngine specific code is being called, which shouldn't be the case in Angular 10 with Ivy enabled. Are you using Angular CLI and normal `ng build`/`ng serve` etc?

I am tempte

[2020-10-19 13:52] petebacondarwin commented on #24063
As @LayZeeDK pointed out the `sanitize()` and `bypassSecurityTrustHtml()` have different purposes and behaviours. The `bypass...()` functions will not touch the string but just mark it as trusted. It is up to you calling that function to determine whether it is actually safe or not before bypassing the security. The `sanitize()` function will attempt to remove malicious content from a string befor

[2020-10-19 13:52] #24063 closed

[2020-10-19 14:17] petebacondarwin commented on #27455
Regarding the circular dependencies - there is actually an option in the CLI build job for displaying these:

[code]

(See https://angular.io/cli/build)

I expect this was added since this issue was created.

[2020-10-19 14:28] petebacondarwin commented on #37576
I just tried this but with `optimization` turned off, so it is easier to see the difference between the `main.js` files.

What I found was that after the initial creation of the project there was this line in main.js:

[code]

After adding a single `bar` route as described above the only difference to `main.js` was the above line changed to:

[code]

(I have added some formatting to make it easier

[2020-10-19 14:29] petebacondarwin commented on #37576
I do see increases to the file sizes of the optimized code, similar to what is in this issue report.
So I wonder if the problem is related to how terser / build-optimizer is optimizing the code?

[2020-10-19 14:55] josephperrott commented on #38075
The dist tags have been update for all of Angular's packages as appropriate.  The `v8-lts` tag points to version `8.2.14`.

[2020-10-19 15:01] petebacondarwin commented on #37576
I think this might need to be transferred to the CLI...

[2020-10-19 15:08] petebacondarwin commented on #35993
Closing as the original issue author solved their problem.

[2020-10-19 15:08] #35993 closed

[2020-10-19 15:15] petebacondarwin commented on #36056
Closing as we have no reproduction to work with. If you still have this problem in your project then please open a new issue with a runnable reproduction that we can debug.

[2020-10-19 15:15] #36056 closed

[2020-10-19 15:34] matthewjh commented on #39293
Thanks, @petebacondarwin, for looking at this so quickly. For what it's worth I have tested your fix with our codebase, and there are no longer differences between machines / checkout locations. 👍

[2020-10-19 15:36] laurentgoudet opened #39330 "i18n Ivy extractor only reports the first location context"
Small repro in https://github.com/laurentgoudet/ivy-xi18n-bug.

Steps:
- Create a new project & `ng add @angular/localize`
- Add `i18n` tags to a couple of tags, one of them being duplicated (https://github.com/laurentgoudet/ivy-xi18n-bug/blob/master/src/app/app.component.html#L343), to simulate the same piece of text being repeated across an application

[code]

- Run `ng xi18n`: the dictionary (

[2020-10-19 15:38] petebacondarwin commented on #38577
Closing due to a lack of response.

[2020-10-19 15:38] #38577 closed

[2020-10-19 15:43] petebacondarwin commented on #39330
Thanks for this @laurentgoudet
It is actually a duplicate of https://github.com/angular/angular/issues/39314
But since you provide an actual reproduction, I will close that and keep this.

[2020-10-19 15:43] petebacondarwin commented on #39314
Closing as a duplicate of #39330

[2020-10-19 15:43] #39314 closed

[2020-10-19 15:44] petebacondarwin commented on #39241
First problem is now tracked in #39330

[2020-10-19 15:51] petebacondarwin commented on #37576
These are my results:

**With source-maps on:**

Runtime | Main | Polyfills
---------|------|--------
1.5kb | 186kb | 36.1kb
2.3kb | 211kb | 36.1kb
2.3kb | 218kb | 36.1kb

**With source-maps off:**

Runtime | Main | Polyfills
---------|------|--------
1.45kb | 186kb | 36kb
2.23kb | 211kb | 36kb
2.23kb | 218kb | 36kb

[2020-10-19 15:53] petebacondarwin commented on #39274
I've assigned this a P3 priority but since it appears to be an upstream issue with TypeScript, I wonder if there is anything we can do. In which case, should we just close this?

[2020-10-19 16:06] josephperrott commented on #29268
This is checked by the commit message testing on CI during the PRs presubmit process, so while this is not directly addressed in the merge script, it is already checked before the merge even occurs.

I am going to close this out as the spirit of this request is already addressed in our process while its execution ended up slightly different.

[2020-10-19 16:06] #29268 closed

[2020-10-19 16:09] josephperrott commented on #23089
Based on how I read this, its specific to the integration tests, rather than the unit tests running in saucelabs.  With that being the case, I believe this is already addressed.  If we feel we need an issue open for tracking the changes around saucelabs testing, I think it should be a different issue.

[2020-10-19 16:09] #23089 closed

[2020-10-19 16:09] josephperrott commented on #23089
Note: This was fixed by @gregmagolan

[2020-10-19 16:10] josephperrott commented on #20860
Yes, the specifics have likely changed a bit, but the spirit is definitely still there.  It is a large enough effort that we likely should have it proposed and go through our backlog process.

[2020-10-19 16:12] josephperrott commented on #27201
Yes, this is something we should eventually get to.  At this point it does not seem that there is anything from CircleCI that we need.

[2020-10-19 16:12] atscott commented on #39239
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-10-19 16:12] #39239 closed

[2020-10-19 16:15] atscott commented on #37830
Closing and tracking the request for more ergonomic lazy loading in #18093

[2020-10-19 16:15] #37830 closed

[2020-10-19 16:28] JoostK commented on #39274
@petebacondarwin We _could_ revert 1388c1761f1a474de852c50f56e056e48e821bb0 as that magically avoids the issue, but I'd like to get a reply on microsoft/TypeScript#41124 to determine how to proceed here.

[2020-10-19 16:51] atscott commented on #19312
Closing, I believe the error message with Ivy would now be `Property 'xyz' does not exist on type 'XXXDirective'.` If this is not the case, please open a new issue

If after upgrade the problem still exists in your application please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template.

[2020-10-19 16:51] #19312 closed

[2020-10-19 16:57] atscott commented on #24223
Closing in favor of #12045

[2020-10-19 16:57] #24223 closed

[2020-10-19 17:06] atscott commented on #27877
Per Misko's comment, closing as working as intended. https://github.com/angular/angular/issues/27877#issuecomment-586529713

[2020-10-19 17:06] #27877 closed

[2020-10-19 17:18] dmoore1181 commented on #36173
I am also getting this issue when attempting to use activated route data to trigger route animation. The animation works, just want to get rid of the error message to keep from hampering future debugging when we haven't been working in this project for a while.

`<div style="overflow: hidden" [@projectAnimation]="projectOutlet && projectOutlet.activatedRouteData && projectOutlet.activatedRouteData

[2020-10-19 17:21] atscott commented on #32786
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. I followed the reproduction steps and now changes were made in the migrations so I think this has been resolved as described by @devversion

If the problem still exists in your application, please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in

[2020-10-19 17:21] #32786 closed

[2020-10-19 17:32] atscott commented on #29330
The behavior is actually identical to `undefined` but I think this is still a documentation issue because the behavior for `null` and `undefined` are not described in the [docs for Injectable](https://angular.io/api/core/Injectable).

[2020-10-19 17:41] AleksanderBodurri opened #39331 "Broken link in aio resources section"
# 📚 Docs or angular.io bug report

### Description

There is a broken link in the aio "Resources" section
<img width="1111" alt="Screen Shot 2020-10-19 at 12 52 51 PM" src="https://user-images.githubusercontent.com/39253660/96487037-f7b8fa00-120a-11eb-877d-6ba24cf8b006.png">

As far as I can tell the new link is https://datorama.github.io/akita/

I can make a PR to fix this if necessary.

### What

[2020-10-19 17:53] sonukapoor commented on #39331
@AleksanderBodurri go for it. 👍

[2020-10-19 17:55] atscott commented on #39057
Closing as duplicate of #39057. Also see https://github.com/angular/angular/issues/36776#issuecomment-618234193

[2020-10-19 17:55] #39057 closed

[2020-10-19 17:58] atscott commented on #36776
Closing as the feature request in #36776 addresses the root cause here.

[2020-10-19 17:58] #36776 closed

[2020-10-19 18:11] atscott commented on #36387
Closing as a duplicate of #25959. Though is a slight variation of the same issue, we can track them in a single one rather than having multiples that are slight variations of each other.

[2020-10-19 18:11] #36387 closed

[2020-10-19 18:17] petebacondarwin commented on #37936
Closing due to a lack of response.

[2020-10-19 18:17] #37936 closed

[2020-10-19 18:19] atscott commented on #36828
This seems like it would be a pretty easy fix as long as it's not a breaking change.
This line could throw the error instead of simply returning:
https://github.com/angular/angular/blob/0268b72d2c4690b554408aa64e9ae2fc42fa490c/packages/core/src/render3/instructions/shared.ts#L384
It seems like that would more or less imitate the behavior of VE:
https://github.com/angular/angular/blob/0268b72d2c469

[2020-10-19 19:09] atscott commented on #36508
As discussed here, this _is_ working as intended in Ivy and the styling precedence is described here: https://angular.io/guide/style-precedence. Keeping this open, since it should be included in the [compatibility guide](https://angular.io/guide/ivy-compatibility)

[2020-10-19 19:31] petebacondarwin commented on #35735
I cannot reproduce this with an app created from the latest Angular...

[code]

When I set the value to `null` then no style is attached to the `<div>`:

[code]

[2020-10-19 19:37] petebacondarwin commented on #35735
I believe it was fixed by this change: https://github.com/angular/angular/commit/9bd959076730c4e22ceadda73694198b4f01b9e0#diff-fe6768f58e32d9fdc70a4aedceefdc19d4d7394ac3a6996e32b9590c508fe6c7R279 which first appears in 9.1.0.

[2020-10-19 19:37] #35735 closed

[2020-10-19 19:39] atscott commented on #38286
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-10-19 19:39] #38286 closed

[2020-10-19 19:40] petebacondarwin commented on #36137
@devyolawo - the repository linked above does not exist. I guess it was deleted.

[2020-10-19 20:01] petebacondarwin commented on #36137
I am also confused. I recreated the code above in an SSR project. As you say, the following works:

[code]

But the following causes an error:

[code]

What is the `--background` supposed to do?
I tried running the same code in the browser. While it doesn't throw an error, it doesn't have any effect either.

[2020-10-19 20:05] petebacondarwin commented on #37871
Please can you provide more information about the problems you had running `ng update @nguniversal/express-engine`? Without that there is not much more we can do to help with this issue.

[2020-10-19 20:08] petebacondarwin commented on #38016
Closing due to a lack of response.

[2020-10-19 20:08] #38016 closed

[2020-10-19 20:10] petebacondarwin commented on #38785
I am tempted to close this, since Scully does indeed provide what @siva636 appears to be asking for.

[2020-10-19 20:14] atscott commented on #38451
As mentioned by @AleksanderBodurri, this was an intended change in Ivy to move away from the proxy tracking for `DebugElement`s in VE and instead use the native values in Ivy. That said, this should likely be included in the Ivy [compatibility guide](https://angular.io/guide/ivy-compatibility).

[2020-10-19 20:38] jelbourn commented on #27172
Closing since Angular has moved away from the idea of having a separate `Renderer` class and instead just using the DOM directly. For dispatching fake events for _testing_, you can check out some of the stuff in `@angular/cdk/testing`

[2020-10-19 20:38] #27172 closed

[2020-10-19 20:39] jelbourn commented on #3782
Closing since we moved in the direction of doing this more in the cdk (see `@angular/cdk/testing`)

[2020-10-19 20:39] #3782 closed

[2020-10-19 20:54] prestopasto commented on #9343
Is it closed though @karptonite?  I've seen work arounds, but no one has said you can use [ngStyle] to set or use css properties like the original issue asked about.

Did I miss something?

[2020-10-19 20:55] jelbourn commented on #34405
Closing since it seems like this was a change for v9 and we're already pretty far out from that and it seems like this haven't been an issue that has affected a large number of users.

[2020-10-19 20:55] #34405 closed

[2020-10-19 20:58] jelbourn commented on #35140
Revisiting old issues- closing this since it's always been the case that Angular doesn't guarantee any particular evaluation order for directives on the same element.

[2020-10-19 20:58] #35140 closed

[2020-10-19 21:03] jelbourn commented on #35693
Duplicate of #31834

[2020-10-19 21:03] #35693 closed

[2020-10-19 21:06] jelbourn commented on #36039
Duplicate of #31242

[2020-10-19 21:06] #36039 closed

[2020-10-19 21:18] jelbourn commented on #36063
Looks like this was fixed in a later version of Angular (reproduction is v8)

[2020-10-19 21:18] #36063 closed

[2020-10-19 21:20] jelbourn commented on #36190
This actually exists already: there is an `isDevMode` function you can import from `@angular/core`

https://angular.io/api/core/isDevMode

[2020-10-19 21:22] karptonite commented on #9343
True, I used one of the workarounds, I think. But i think if those were documented, it may be close enough.

[2020-10-19 21:32] jelbourn commented on #36736
Somewhat related to #33883

[2020-10-19 21:37] jelbourn commented on #39281
Angular's advice here is to always import things where they are used, even if that does end up being verbose; this will let bundlers/optimizers work most effectively on your codebase.

[2020-10-19 21:37] #39281 closed

[2020-10-19 21:53] jelbourn commented on #39260
This is working as expected; as of Angular 9, lifecycle hooks are cached during creation mode and then re-used for the rest of the application's lifetime. While changing these dynamically worked in previous versions, it was never intentionally supported. I would recommend changing the body of the lifecycle hook to do different things rather than changing the method completely.

[2020-10-19 21:53] #39260 closed

[2020-10-19 21:55] jelbourn commented on #39259
This is working as expected- the styles in _your_ component are being encapsulated to only affect elements within your component's template. See this guide for more info: https://material.angular.io/guide/customizing-component-styles

[2020-10-19 21:55] #39259 closed

[2020-10-19 21:58] jelbourn commented on #39258
Adding this kind of `.js` extension isn't really supported. What's probably happening is that Webpack (under Angular CLI) is actually pulling in two different bundle formats, which you definitely don't want. We strongly recommend not using the `.js` file extensions like this.

[2020-10-19 21:58] #39258 closed

[2020-10-19 22:01] jelbourn commented on #39225
This is actually working as intended. Child directives/components inherit host bindings/handlers from their parent, so adding another `HostBinding` creates a second one. You can override the `onInput` method without adding `HostBinding` and the binding from the parent will still apply and call the new method implementation.

[2020-10-19 22:01] #39225 closed

[2020-10-19 22:02] jelbourn commented on #39173
Closing since there's been no update with more information

[2020-10-19 22:02] #39173 closed

[2020-10-19 22:03] jelbourn commented on #39120
@crisbeto did you mention you were looking into something related to this?

[2020-10-19 22:09] jelbourn commented on #38976
@atscott is this potentially related transplated view change detection?

[2020-10-19 22:28] IgorMinar commented on #39056
Hi @Alphish, thanks for the detailed write up!

Change detection is a tricky subject and adding new hooks to the system is very unlikely unless there is no other way to achieve something. I've read through your write up about how the input change prevention would work, and based on our past experience, I can tell you that system like that would be very unstable and hard to debug, so I'd rather fin

[2020-10-19 22:28] #39056 closed

[2020-10-19 23:21] oliverw commented on #13586
2020 nearing its end and this is still broken in Angular 10.

[2020-10-20 00:02] atscott commented on #38976
@jelbourn Yea, this is related to transplanted views. Ironically, there was a short period of time that this actually worked (change the version to `9.1.0` in the demo), but it worked in a way that broke other scenario (Transplanted views would get refreshed twice if both insertion and declaration are dirty. This could be an error if the changes in the insertion component result in data not being

[2020-10-20 00:17] atscott commented on #38512
The issue here is that the directive isn't even getting matched. I think the `attr.` selector really should never match (it does in VE/pre-Ivy), but I also think it was probably added because the regular selector didn't match as would be expected. I think the fix here should be that if there is an `attr.data-dl`, it should match a directive with a selector `[data-dl]`.

[2020-10-20 00:29] atscott commented on #35614
Duplicate of #37465

[2020-10-20 00:29] #35614 closed

[2020-10-20 00:31] atscott commented on #37465
Arguably, spying on and asserting lifecycle hooks shouldn't be done. Instead, you should verify the expectation you have for the state of your application after those hooks are called. Asserting that they're called doesn't seem like it would prevent any bugs from happening so I'm not sure an assertion like this is valuable. It doesn't seem like an application should _specifically_ care that Angula

[2020-10-20 01:16] cheong00 commented on #39259
No. While this is working "as expected", we page designers should have final say to how the page look like.

If you Angular folks are going to deprecate ::ng-deep, you have to give us functionality to cover the use case, or I will have no choice but to disable it at all in the future. (say, IMO for page with tag app-page1, just add CSS rule with app-page1.someclass would do, but that's not very An

[2020-10-20 02:16] rocifier commented on #8563
@ayslanjohnson but how do you reference those buttons in your component? When doing something like the following:

[code]

You are tied to only working with ButtonComponent classes and not their inheritance or even their abstract interface because you need to specify a component class in @ContentChildren (breaks Dependency Inversion principle).

[2020-10-20 03:56] AndrewKushnir commented on #15067
Closing as a duplicate of #5894 and #12194.

[2020-10-20 03:56] #15067 closed

[2020-10-20 03:57] AndrewKushnir commented on #12194
Closing as a duplicate of #5894.

[2020-10-20 03:57] #12194 closed

[2020-10-20 04:00] AndrewKushnir commented on #31762
Closing this ticket since ZoneJS already covers a large subset of APIs and we can create new tickets in case additional APIs should be patched.

[2020-10-20 04:00] #31762 closed

[2020-10-20 04:02] AndrewKushnir commented on #31770
It looks like most of these APIs are already covered by ZoneJS. If there are some missing ones, we can create new ticket(s).

[2020-10-20 04:02] #31770 closed

[2020-10-20 04:10] AndrewKushnir commented on #31768
This was implemented for the `ngOnChanges` lifecycle hook to provide better tree-shaking, see [ng_onchanges_feature.ts](https://github.com/angular/angular/blob/master/packages/core/src/render3/features/ng_onchanges_feature.ts).

[2020-10-20 04:10] #31768 closed

[2020-10-20 04:18] Githubber2021 opened #39336 "drop and focus events behave differently on macOS and Windows"
Hi, I use Electron and Angular and I noticed two different behaviour between macOS and Windows when a component has the `drop` and `focus` event.

[code]

If I drag a directory onto the browser window on macOS I only get a `drop` in the console. On Windows however I get between 1 and 2 `focus` outputs before. Is this intended? And if so, what are potential workarounds? I need to distinguish betwee

[2020-10-20 04:23] AndrewKushnir commented on #31833
It looks like we no longer run this job on CI (only in g3), so I'm closing this ticket. Thank you.

[2020-10-20 04:23] #31833 closed

[2020-10-20 06:28] crisbeto commented on #39120
I fixed something around `$event`, but it's unrelated to this issue. https://github.com/angular/angular/pull/39323

[2020-10-20 07:07] petebacondarwin commented on #39336
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-10-20 07:07] #39336 closed

[2020-10-20 07:35] petebacondarwin commented on #39152
I believe we switched to using `latest` because evergreen browsers are generally kept up to date on user's machines.

[2020-10-20 09:54] alan-agius4 commented on #37576
When adding add a lazy loaded module we notice an increase in the `main.js` which comes from the inclusion of additional of extra RxJS operators, and extra code being pulled from `@angular/{core/routing/common}` such as more code from `instructions.ts`, `config.ts` etc..., these are all need to handle lazy routing.

When adding the `ReactiveFormsModule` in the lazy loaded module, we also notice an

[2020-10-20 09:54] #37576 closed

[2020-10-20 10:04] namikarif commented on #39329
@JoostK Since you closed the other issue without resolving it, I recreated the same. When we disable buildOptimizer, the compiler works, but this time the ngModel and other directives don't work. I am using Angular CLI and normal ng build / ng serve

[2020-10-20 10:14] namikarif commented on #39329
This problem happened when we pass from Angular 5 to Angular 10 version. If we are receiving these problems when we change the version, it means there are solving samples too. We are waiting for support from the Angular Developer Team

[2020-10-20 10:37] mblout commented on #38516
thanks for checking; yes, I see what you see;
i can't explain why i saw different behavior with the same test before, other than ...I goofed somehow? I'll close (and re-open iff needed).

[2020-10-20 10:37] #38516 closed

[2020-10-20 11:47] abhijithp opened #39340 "Network Errors Returning as "undefined""
the following networks errors are not handled
i) ERR_CONNECTION_ABORTED
ii) ERR_CONNECTION_UNREACHABLE
iii) ERR_ADDRESS_UNREACHABLE
iv) ERR_CONNECTION_REFUSED
v) ERR_INTERNET_DISCONNECTED

Current behavior
When getting this library the library is returning "undefined" as an error

Expected Behaviour
library should return defined error states

Environment
"@angular/http": "5.2.10",
"@angular/cli":

[2020-10-20 12:25] #39340 closed

[2020-10-20 13:36] stephenlautier commented on #39304
This sounds almost good for me I think, tho after some thinking, I think its not going to work for lazy loaded routes (havent tried it yet so can't be certain for sure)

[2020-10-20 13:50] Airblader commented on #39304
That's true; the best I could offer is an internal `provideRouter` method which provides both RouterModule and that service, and then by-convention use that to provide the router in all modules. But I can see why that tends to defeat the purpose.

[2020-10-20 14:14] bbarry commented on #36672
https://github.com/angular/angular/blob/062b8d90afaf60e0066568d64188ca074001986f/packages/forms/src/model.ts#L1558-L1566

would a fix be something like:

[code]

Or would it be better to introduce a stricter type:

[code]

though this could break code which currently does function using `null` or `undefined` on the innermost `FormControl` objects... (and does not work for nested form arrays as is;

[2020-10-20 15:10] JaxonWright commented on #38669
I can confirm that `0.11.2` works as expected.

[2020-10-20 15:48] atscott commented on #37137
Closing as working as intended (see https://github.com/angular/angular/issues/37137#issuecomment-630217516). As Pawel mentioned, we are already tracking the issue with `OnPush` components not throwing the error correctly. We are also aware of the general confusion with the error even when it is thrown and are actively working to improve our error messages across the board.

[2020-10-20 15:48] #37137 closed

[2020-10-20 15:56] atscott commented on #38586
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-10-20 15:56] #38586 closed

[2020-10-20 15:59] honzikec commented on #39282
Hello @JoostK, thank you for your reply. I am @mitti2000's teammate and I did some further investigation into our issue trying to create a simple repro. What I found out so far is that indeed the folder from which the lib is consumed seems to be at the core of the issue. More specifically, it seems to depend on the path from where it is symlinked. E.g.:

- Having "coreLib": **"./../coreApp/dist/co

[2020-10-20 16:40] atscott commented on #38829
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-10-20 16:40] #38829 closed

[2020-10-20 17:30] aikidave opened #39344 "Test all angular.io examples to ensure they work with `strict` mode enabled"
# 📚 Docs or angular.io bug report

### Description

Angular now supports an optional `strict` mode. However, we do not know if all existing code examples on Angular.io work with this mode enabled.

We need to test to see if any examples break when strict mode is enabled. If any do break, we can figure out how to fix them.

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.

[2020-10-20 17:58] slubowsky opened #39345 "Version 11 migrations remove non deprecated API"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/router

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 10.1.6

### Description

 A clear and concise description of the problem...
Running ng update from 10.1.6 to 11.0.0-next.6 migrations remove usage of an API never documented as deprecated

## 🔬 Minimal Reproduction

Have

[2020-10-20 18:02] rodolfojnn commented on #37293
sass-loader seems to be the most time-consuming process! Is there any way to replace the sass-loader with the fast-sass-loader.

![image](https://user-images.githubusercontent.com/3813415/96625965-3f13b900-12e5-11eb-8b7a-45952fabb658.png)

[2020-10-20 18:09] celesteking commented on #35924
In my case (Angular 6 -> 6.1 LTS upgrade), it was because some idiot added `window.global = {window};` to `index.html`. Removing that cleared the error. Spent 4 hours trying to track this down. Angular sucks.

[2020-10-20 18:29] gkalpak commented on #39344
Based on the configurations mentioned in https://v11.angular.io/guide/strict-mode, there examples that will fail with the [strict][1] and [strictTemplates][2] `tsconfig` rules.

From a test I ran last week, there are the following failures per rule**

<details>
  <summary>Rule <code>strict: true</code> <i>(click to expand)</i></summary>

  - [ajs-quick-reference](https://github.com/angular/angular

[2020-10-20 18:49] crisbeto commented on #39345
@slubowsky the deprecation note you mentioned is for v4, whereas this migration accounts for properties that have been removed in v11. Note that the properties that were removed never actually did anything, but now we also removed them from the type so users don't try to add them. Here's the relevant PR that changes the type: https://github.com/angular/angular/pull/38227

[2020-10-20 18:54] slubowsky commented on #39345
@crisbeto If it wasn't doing anything anyway then I guess its not an issue (I haven't actually tested my code, was just surprised by the result of update) - but normally I wouldn't expect deprecation and removal in one shot. Usually we get deprecation, then in a later version we get removal. My point was that as far I can tell, queryParamsHandling has never been marked deprecated in a released ver

[2020-10-20 18:56] petebacondarwin commented on #39345
Actually there is a stronger reason for removing it. TS will not allow properties that are not on the interface to appear in an object literal. See this [playground](https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAgILIN4Chm+XALmRAFcBbAI2gG4sBfLLGEkBMYAexGRg44ApCaAJSYGTPvwxCAjAAY6w2rwHSi8gDTIKRAEwKlQA).

[2020-10-20 19:32] dcp3450 commented on #39271
@AndrewKushnir can you give me some direction? I'm using VS Code. Not sure how to add a breakpoint that will trigger when running the test command.

[2020-10-20 19:38] mleibman opened #39348 "[perf] NgZone: runaway change detections"
### Summary

Using `NgZone.run()` can in some cases result in a large number of change detections performed synchronously, creating a serious performance issue.

### Repro

https://stackblitz.com/edit/angular-5zht6w

[code]

### Description

`NgZone` runs change detection as soon as the execution leaves the top-most `NgZone` call and all the microtasks there have finished, but if there are more th

[2020-10-20 19:40] petebacondarwin commented on #39345
So just to be clear. What happened in v11 is that a single interface `NavigationExtras` was split into two: `UrlCreationOptions` and `NavigationBehaviorOptions`. Now `UrlCreationOptions` is only used in `createUrlTree()` and `NavigationBehaviorOptions` is only used in `navigateByUrl()`. So in your case the call to `navigateByUrl()` should only pass options that are in `NavigationBehaviorOptions` a

[2020-10-20 19:40] #39345 closed

[2020-10-20 19:49] dcp3450 commented on #39271
I don't have a `src` dir under my testing folder either. Even searching for the error text returns no results...

[2020-10-20 20:17] alan-agius4 commented on #39344
Looks like `strictInputAccessModifiers` is not listed as part of the strict mode instead `strictTemplates` is listed twice.

[2020-10-20 20:32] AndrewKushnir commented on #39271
@dcp3450 thanks for the reply.

I think you can try running unit tests in a browser and put breakpoints there using DevTools. I'd suggest posting a question on [StackOverflow](http://stackoverflow.com/) using tag `angular` to get additional help regarding your local setup.

I will close this ticket for now since there is no repro, thus we can not perform further investigation. If you are wondering

[2020-10-20 20:32] #39271 closed

[2020-10-20 20:49] Githubber2021 commented on #39336
Hi @petebacondarwin Can you please re-read the issue. There is no support asked for! It is a bug because it is a different behaviour between macOS and WIndows

[2020-10-20 21:11] aikithoughts opened #39349 "More documentation needed for ngTemplateOutlet"
# 📚 Docs or angular.io bug report

### Description

At present, we have very little documentation for ngTemplateOutlet. We've received community feedback that more documentation would be very helpful.

### Expected vs Actual Behavior**
Currently, ngTemplateOutlet is only documented here: https://angular.io/api/common/NgTemplateOutlet

We should consider adding one or more of the following:

* Expa

[2020-10-20 21:13] nartc opened #39350 "docs: improve documentations around injection token ROUTES"
# 📚 Docs or angular.io bug report

### Description

 A clear and concise description of the problem...
Injection token `ROUTES` is sometimes needed in applications where router configuration is fetched dynamically. Providing `ROUTES` allows that to work. As of the moment, documentations relating to dynamic routing or just the `ROUTES` injection token is close to non-existing. `ROUTES` does have ht

[2020-10-20 21:15] LayZeeDK commented on #39350
Related: [Router#resetConfig](https://angular.io/api/router/Router#resetConfig).

[2020-10-20 21:25] StephenCooper commented on #39349
Could any example also include use of ngtemplateoutletcontext? I found the ability to hydrate the template with data from a different context a major benefit of ngtemplates over ngcontent.

I found understanding the context along with the let- syntax suddenly made a lot of component libraries easier to understand and a lot less magical. This in turn lead to me being able to effectively use similar

[2020-10-20 21:27] aikidave commented on #39349
I am very open to this idea! Also, any chance your talk is still available somewhere? I joined Angular last November, so your talk was before my time, as it were. :D

[2020-10-20 21:30] LayZeeDK commented on #39349
Design patterns involving `NgTemplateOutlet` are covered in [Agnostic components in Angular](https://indepth.dev/agnostic-components-in-angular/).

[2020-10-20 21:31] LayZeeDK commented on #39349
I would prefer task-based and conceptual documentation over tutorials to cover `NgTemplateOutlet`.

[2020-10-20 21:35] pravinkumart commented on #34600
I have the same issue and I think in the following method we need to strip hash before calling parseAppURL method as like angularjs does
`$$parse(url) {
        /** @type {?} */
        let pathUrl;
        if (url.startsWith('/')) {
            pathUrl = url;
        }
        else {
            // Remove protocol & hostname if URL starts with it
            pathUrl = this.stripBaseUrl(this.getSe

[2020-10-20 21:56] nartc commented on #39349
@aikidave  https://www.youtube.com/watch?v=2SnVxPeJdwE  this is @StephenCooper talk on `ngTemplateOutlet`.

[2020-10-20 23:30] alxhub commented on #21224
The Ivy Language Service is currently under construction. I pasted this example into a running IDE with it.

We're able to infer the generic arguments to `MapPipe.transform`:

<img width="1529" alt="Screen Shot 2020-10-20 at 1 17 18 PM" src="https://user-images.githubusercontent.com/4175141/96655034-63759280-12f1-11eb-8542-705d78091fac.png">

which flows through to the type of `item` in the `*ngFo

[2020-10-21 01:47] hiepxanh commented on #36190
@jelbourn  did you read my issue before close it sir?  I already use it in the description of issues but it show "Cannot enable prod after platform setup".
![image](https://user-images.githubusercontent.com/16970990/96663010-f4904c00-1379-11eb-92c3-2d579318279a.png)

[2020-10-21 02:03] osnersanchez commented on #20230
I also have this same problem, when using a control with my CVA and subscribing to the valueChanges I get double event emission when doing a pathValue or a setValue of my control, but when placing emitEvent: false I avoid the duplicate of the event, but I think this should not be the expected behavior. I'm on the lookout for some not-so-patched solution.

[2020-10-21 03:50] destus90 commented on #39349
More info about [NgComponentOutlet](https://angular.io/api/common/NgComponentOutlet) would be very useful too. What is `ngComponentOutletNgModuleFactory` as an input property? How to use it? How can we pass input data and subscribe to output events?

[2020-10-21 04:57] danieldanielecki opened #39358 "[GitHub] angular-automatic-lock-bot has broken link to automatic conversation locking policy"
# 🐞 Bug report

- [ ] new
- [ ] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

I think so.

### Description

The [angular-automatic-lock-bot](https://github.com/apps/angular-automatic-lock-bot) returns [404 link](https://github.com/angular/angular/blob/67d80f/d

[2020-10-21 05:00] Airblader commented on #39349
I would appreciate if this documentation would also warn the user that the variables in a template are currently untyped though, as in a generally type-strong library like Angular that's an unexpected but significant downside.

[2020-10-21 05:22] Airblader commented on #39349
Duplicate of #36895

Related to #17983 (since discussing the relationship to content projection and when to use which would also be helpful)

[2020-10-21 05:34] Airblader commented on #28731
There's repeated calls for better documentation on templates, for example #39349, and promoting template usage is slightly dangerous with the lack of type safety we currently have in the framework.

So I'd like to shine light on this issue and my proposal above again as well as ask whether this issue qualifies for the cross-cutting types label.

[2020-10-21 07:18] alan-agius4 opened #39354 "docs: Improve Angular compiler options guide"
# 📚 Docs or angular.io bug report

At the moment the [Angular compiler options guide](https://angular.io/guide/angular-compiler-options#angular-compiler-options) doesn't include all compiler options.  Some of the options are instead included only in [Template type checking guide](https://angular.io/guide/template-typecheck#troubleshooting-template-errors).

## Expected vs Actual Behavior
I'd expec

[2020-10-21 07:23] alan-agius4 opened #39355 "docs: clarify default value of type-checking compiler options"
# 📚 Docs or angular.io bug report

 Some of the compilation options related to type-checking in [Template type checking
 guide](https://angular.io/guide/template-typecheck#troubleshooting-template-errors) are confusing in terms of which one is turned on/off by default, or if it's turned on when using `strictTemplates`.

## Expected vs Actual Behavior
I'd expect that the docs show and explain this

[2020-10-21 07:33] striky1 opened #39356 "@angular-devkit/build-angular has an security vulnerable with "object-path""
Based on result from `npm audit` on latest Angular CLI, there is vulnerability object-path, see result below:

[code]

Version:

[code]

Can it be resolved, please? Thank you

[2020-10-21 08:09] alan-agius4 commented on #39358
I also see the same thing in the other repos, material, universal, framework and cli.

It also looks like there are some warnings as the config contains invalid inputs.

[code]

[2020-10-21 09:33] GaneshSingaravelu opened #39362 "Angular HttpClient error"
Hi 😄

I am getting below the issue only when my API throws the exception (Asp.Net core 3.1 WebApi). Please do the needful.

    at TapSubscriber.catchErrorOperatorFunction [as _tapError] (catchError.js:7)
    at TapSubscriber._error (tap.js:50)
    at TapSubscriber.error (Subscriber.js:55)
    at XMLHttpRequest.onLoad (http.js:2533)
    at ZoneDelegate.invokeTask (zone-evergreen.js:399)
    at Obj

[2020-10-21 09:35] gkalpak commented on #39358
The warning is because [lock-closed/action.yml][1] was not updated to mention `lock-bot-key` as a valid input in angular/dev-infra#40. But that doesn't seem to cause issues (just a warning).

##
The actual problem is that angular/dev-infra#77 only updated `policyUrl` in the source file ([src/main.ts][2], but not the built file that is actually used when running the action ([lib/bundle.js][3]).

Th

[2020-10-21 09:46] honzikec commented on #39282
Hi @JoostK & @mitti2000, I've created a minimalistic repro of the issue: https://github.com/honzikec/angular-issue-39282

[2020-10-21 11:02] LayZeeDK commented on #36895
Plenty of subject matter experts available in the Angular community.

[2020-10-21 11:07] JoostK commented on #39282
@honzikec thanks, that is super helpful. The situation is indeed as I expected, where the location of `coreLib` inside of `local_modules` means that it does not see `@angular/common` itself, as there is no `node_modules` directory in its ancestry tree. What was unexpected to me however that this worked in ViewEngine.

Upon tracing both compilers (Ivy and ViewEngine) to figure out where the differe

[2020-10-21 11:11] destus90 commented on #39362
Take a closer look at your `AppInterceptorService#intercept` method. Seems that you have lost some curly braces. Try this
[code]

[2020-10-21 11:15] gkalpak commented on #39362
@destus90 seems to be spot on. Closing...

[2020-10-21 11:15] #39362 closed

[2020-10-21 11:18] arnotes commented on #39349
@Airblader not really a duplicate. we already have a doc for ngTemplateOutlet;
The problem with the docs is that it feels like a rabbit hole in a lost forest.
assuming I'm a new dev and If I google "angular component dynamic html", the chance that I get into the right docs is very slim.
Its more about increasing awareness that ngTemplateOutlet exists. e.g.(by making it part of Tour of Heroes)

[2020-10-21 11:31] gkalpak opened #39363 "Building the `language-service` package fails on Windows"
Since recently-ish, building the Angular packages (for example, via `node scripts/build/build-packages-dist`) on Windows fails with the error below. The error is related to building the `language-service` package and in particular to running command `yarn --silent bazel build --config=release --config=view-engine //packages/language-service:npm_package`.

<details>
<summary><b>ERROR</b> <i>(click

[2020-10-21 11:58] LayZeeDK commented on #39349
I challenge anyone to come up with a use case for dynamic rendering in a CRUD app as simple as Tour of Heroes.

[2020-10-21 12:33] arnotes commented on #39349
^simple. a component called <super-powers>.
that accepts @Input templateRef for its list template.
let the trainee know that he can either use a ul/table/whatever he wants.
we dont need to justify about "why not edit super-powers.component.html directly".
the point of a tutorial is to showcase what can angular do and how to do it.

[2020-10-21 12:37] munchkindev opened #39364 "Mat-icon gets displayed as text when you click on it or on later versions from the start"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/material/icon

### Is this a regression?

 Not sure whether this a regression, sorry..

### Description

When I implemented my code on Angular 10.0.0.2 the following problem appeared:
When I clicked on the mat-icon which is inside a span, which is inside a div I get a router redirect event fired and it completes but the

[2020-10-21 12:47] JoostK commented on #39362
Also note that `this.handleError` depends on the `this` context so it needs to be

[code]

[2020-10-21 12:57] gkalpak commented on #39364
AFAICT, the problem is that you need to include the Material Icons in your page. For example, add the following in your `index.html`:

[code]

##
Closing, since everything seems to work as expected (but feel free to continue the discussion below).

[2020-10-21 12:57] #39364 closed

[2020-10-21 13:10] honzikec commented on #39282
Adding `"preserveSymlinks": true` works like a charm. We should have thought of that... 🤦‍♂️ Thanks a bunch, @JoostK!

[2020-10-21 13:32] munchkindev commented on #39364
Thank you that solved this and a Bug with a search icon as well. Why did it semi-work without the line though?

[2020-10-21 13:46] GaneshSingaravelu commented on #39362
Thank you so much

[2020-10-21 13:54] gkalpak commented on #39364
What do you mean "semi-work"? Also, what does not work on StackBlitz?

[2020-10-21 13:55] munchkindev commented on #39364
By semi-work I mean it kind of works. On the StackBlitz my code with the icon simply does not work.

[2020-10-21 14:13] gkalpak commented on #39364
Sorry, I can't help more without more info. It works for me on StackBlitz.

[2020-10-21 14:15] munchkindev commented on #39364
I mean it got displayed at first as far as you would not click on it which then got transformed to text.
For me on StackBlitz it doesn't work, but it doesn't matter since in my project it does.

[2020-10-21 14:19] davidecampello commented on #18877
same problem with ioni...

[2020-10-21 14:30] JoostK commented on #39282
Great. I'll close this then, as this is working as expected.

[2020-10-21 14:34] FSDRE opened #39365 "ComponentRef<T> onDestroyed() callback does not get called"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 Yes, the previous version in which this bug was not present was: Pre-Ivy or if you disable Ivy

### Description

**Problem: ComponentRef<T>.onDestroyed callback does not get called**

A component gets dynamically created via `ComponentFactoryResolver`. It is then inserted into the view.

[2020-10-21 14:42] ARadauer commented on #20585
There is a very nice example for animations at the bottom of https://angular.io/guide/animations -> http://animationsftw.in/

This are the DOM Nodes after a while:
![image](https://user-images.githubusercontent.com/296251/96735830-41951200-13bc-11eb-83cf-53cd15b8b57a.png)

Don't know if its the same issue but it looks dodgy

[2020-10-21 14:45] gkalpak opened #39366 "[docs-infra] Update angular.io deployments to match new versioning/branching process"
This issue is for tracking progress on updating angular.io deployments to match our [new versioning/branching process](https://docs.google.com/document/d/197kVillDwx-RZtSVOBtPb4BBIAw0E9RT3q3v6DZkykU).

## Planning

1. **What Firebase projects/sites need to be created?**
    - [x] `angular-io > v2-angular-io-site`
    - [x] `angular-io > v4-angular-io-site`
    - [x] `angular-io > v5-angular-io-sit

[2020-10-21 15:10] jelbourn commented on #12341
Closing this since it seems obsolete

[2020-10-21 15:10] #12341 closed

[2020-10-21 15:10] FrancescoBorzi opened #39368 "Better documentation for multiple projects within one workspace"
### Bug Report or Feature Request (mark with an `x`)
[code]

Regarding: https://github.com/angular/angular-cli/wiki/stories-multiple-projects

It would be nice to have a better documentation and examples about how to handle 2 or more applications which run totally independently but still want to share some code. From the current documentation page it is not very clear how to achieve it and what ar

[2020-10-21 15:13] jelbourn commented on #31731
Closing this to track in #34735, which covers adding documentation for performance tuning for Angular applications.

[2020-10-21 15:13] #31731 closed

[2020-10-21 15:16] jelbourn commented on #31896
This was resolved with Angular v9

[2020-10-21 15:16] #31896 closed

[2020-10-21 15:18] jelbourn commented on #36868
Yes- zonejs is a dependency for Angular 😃

[2020-10-21 15:18] #36868 closed

[2020-10-21 15:32] jelbourn commented on #34390
@ajitsinghkaler you could probably take this, but it's a breaking change so it wouldn't be able to land until we're on the train for v12.

[2020-10-21 15:36] Airblader commented on #39349
Personally I'd like to see not just what can be done and how but when and why (eg compared to content projection). I'm not convinced it has to be part of the ToH if it doesn't fit well, it could be separate from that.

[2020-10-21 15:55] jelbourn commented on #18854
This is now being tracked in #34735

[2020-10-21 15:55] #18854 closed

[2020-10-21 15:56] jelbourn commented on #28493
I'm updating this issue to track adding documentation for zone.js overall rather than one specific part of zones.

[2020-10-21 15:57] jelbourn commented on #31682
Closing this into #28493, which covers documentation for zone.js since this seems to be working as expected, but without anything to explain how it is meant to work.

[2020-10-21 15:57] #31682 closed

[2020-10-21 16:00] Da13Harris commented on #36401
Seems like https://github.com/angular/angular/issues/26133 and https://github.com/angular/angular/issues/35270 might be related to this. Seems like animations + custom RouteReuseStrategy = broken.

[2020-10-21 16:19] bobbyoz opened #39369 "Confusing"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

 https://stackblitz.com/...

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

**Angular Versi

[2020-10-21 16:19] #39369 closed

[2020-10-21 16:22] krokofant commented on #17145
Struggling with this for quite a while, I wonder if this can be partially solved by the `Router.resetConfig` method?

Injecting the router service in the router module and then conditionally add the route configurations... 🤔

[2020-10-21 16:23] bobbyoz opened #39370 "Just drop it please no hard feelings"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Please read https://angular.io/guide/security#report-issues on how to disclose security related issues.

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2020-10-21 16:26] LayZeeDK commented on #39349
Plenty of more fundamental APIs missing in Tour of Heroes, for example an output property and event binding.

[2020-10-21 16:28] petebacondarwin commented on #39370
Closing as not actionable.

[2020-10-21 16:28] #39370 closed

[2020-10-21 16:50] HighSoftWare96 commented on #13586
Even 2020 has no power on this bug! 😈

[2020-10-21 17:41] gkalpak commented on #39358
Once all of the below PRs are merged the issue should be fixed:
- angular/angular#39371
- angular/angular-cli#19165
- angular/components#20848
- angular/universal#1868

(If there are more Angular repos affected and I missed them, please lmk.)

##
I am going to close this issue now, but feel free to open a new if the problem persists on a repo after the corresponding PR has been merged.

Thx again

[2020-10-21 17:41] #39358 closed

[2020-10-21 18:33] gkalpak opened #39372 "ci(angular/dev-infra): add CI checks to ensure `lock-closed` action is built correctly"
**The problem**

Currently, the [angular/dev-infra](https://github.com/angular/dev-infra) repository relies on a [pre-commit git hook][1] for building the `lock-closed` action, in order to ensure that the changes made in the source code (e.g. [src/main.ts][2]) will also be included in the built script that is actually used when running the action (i.e. [lib/bundle.js][3]).

However, it is easy to

[2020-10-21 18:54] jelbourn commented on #34735
A point for this doc so I don't forget later: making sure long-stack-traces is off for zones.

[2020-10-21 19:24] arnotes commented on #39349
<ng-content> does not play well when you are trying to render an ngFor.
furthermore, you cannot pass context values to an ng-content.

this is a very common use case. not just in angular.
the react equivalent for ngTemplateOutlet+ngTemplateOutletContext would be the **render props** pattern.
https://reactjs.org/docs/render-props.html

[2020-10-21 19:43] Airblader commented on #39349
I'm well aware of all these things myself, I'm saying that the docs should be discussing them for those who are not. As for ngFor, when using ng-content you'd typically let the user iterate over the results, which, again, depending on the use-case can be better (more control for the user) or worse (less control for the component).

[2020-10-21 20:06] atscott commented on #38971
Looks like the `try...catch` was added in https://github.com/angular/angular/commit/2c5a67134198a090a24f6671dcdb7b102fea6eba but it's not clear why. Potentially it was to ensure every active fixture got destroyed even if an error was thrown. A different approach could be to still `try...catch` but throw an error at the very end if one of the `destroy` calls threw.

This would certainly be a breaki

[2020-10-21 20:15] atscott commented on #37996
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-10-21 20:15] #37996 closed

[2020-10-21 21:55] jelbourn commented on #37960
The way you would accomplish something like this is to grab the `TemplateRef` via `@ContentChildren` in your component, and then stamp them out where you want in your component's template. This is what we do in the cdk/table. The main difference with what you have in your example above is that, instead of using the declarative `ngTemplateOutlet` directive, you would want to manually call `createEm

[2020-10-21 21:55] #37960 closed

[2020-10-21 22:31] atscott commented on #37597
Duplicate of #36274.

[2020-10-21 23:08] atscott commented on #37597
My mistake, re-opening. This is in reference to the request headers, not the response as #36274.

[2020-10-21 23:18] atscott commented on #38924
Yep, it looks like you're right. Thanks for the detailed explanation and examples; it makes reports like this really simple to evaluate. I'm setting the priority pretty low though because the [recommendation](https://tools.ietf.org/html/rfc7493#section-4.1) is to not use texts that are neither objects nor arrays:

   implementations, coded to the older specification [RFC4627], which
   only accept

[2020-10-22 01:32] atscott commented on #22148
This is working as intended. The Angular `DebugElement#triggerEventHandler` specifically do not trigger events on listeners added outside of the Angular system. If you want to trigger events on _all_ the listeners, you can do the following:
[code]
instead of
[code]

[2020-10-22 01:32] #22148 closed

[2020-10-22 01:33] #37021 closed

[2020-10-22 01:33] #38073 closed

[2020-10-22 01:33] #38144 closed

[2020-10-22 02:05] JiaLiPassion commented on #39348
@mleibman , I am not sure I understand the issue completely. So the case may look like.

[code]

1. And if the `ngZone.run()` is nested, the `ngZone.run()` in the loop will not really trigger the change detection.
In this specified case, the `window.onmessage` is also patched by `zone`, so the callback of `window.onmessage` is also a `ngZone.run()`, so the `ngZone.run()` in the `data loop` will no

[2020-10-22 02:21] mleibman commented on #39348
1. Is `window.onmessage` really patched? IIRC, it isn't since there's no way to match sent and received messages... Anyway, let's assume it isn't for this particular example. If the subject subscriber works around that by doing its own `NgZone.run()`, this will indeed result in one CD per iteration. If `window.onmessage` is patched, then yes, this won't result in any extra CDs.

2. That's not alwa

[2020-10-22 02:57] JiaLiPassion commented on #39348
Currently there is an option `ngZoneEventCoalescing`, if you set it to true when bootstrap

[code]

then all change detections caused by the `event tasks` (event listeners and onxxx callbacks) will run once as a `animationFrame` tick.

[2020-10-22 03:11] mleibman commented on #39348
I tried `ngZoneEventCoalescing`, but, as expected, it has no effect in this case.
Keep in mind, we're executing a single ZoneJS task here. We're simply executing it in the root zone, and then entering NgZone multiple times. But perhaps a similar approach (scheduling a CD as a microtask) could be used?

[2020-10-22 04:46] JiaLiPassion commented on #39348
Yes, you are right, and sure I think we can use the similar approach, since currently `markDirty()` is scheduling and coalescing the CD in the `animationFrame`.

[2020-10-22 09:12] kamilchlebek commented on #39241
@petebacondarwin

It seems that switching `target` in `tsconfig.json` from `es2015` to `es5` causes incorrect `sourcefiles` to be listed.

es2015 (with or without --ivy) & es5 (without --ivy)
[code]

es5 (with --ivy)
[code]

Here's the repo: https://github.com/kamilchlebek/i18n-ivy-es5

PS. I didn't want to create new issue, because I'm not sure whether using `target: es5` is recommended. We are t

[2020-10-22 09:18] petebacondarwin commented on #39241
Thanks @kamilchlebek - I'll take a look. It is generally better to create new issues rather than post on closed ones.

[2020-10-22 09:40] gkalpak commented on #39377
There could be a number of reasons why the SW has not been registered, unrelated to calling `.unregister()`. For example, it might be related to the app's not stabilizing in combination with the [registrationStrategy][2] used for the ServiceWorker.

Unfortunately, there is not much we can do without a reproduction. Given that and the fact that this issue is over 2 years old (i.e. pertaining to an

[2020-10-22 09:40] #39377 closed

[2020-10-22 10:15] jdpearce opened #39382 "ngOnInit does not fire when going back/forward to/from an external domain in Safari 14.0 and iOS browsers."
This seems as though it may be a duplicate of #26829 but I have a repro here. The workarounds provided in that issue thread do not seem to work.

## 🔬 Minimal Reproduction & Description

I created a brand new repo here:

https://github.com/jdpearce/jhp-safari-back

This is deployed in two places:

http://jhp-safari-back.herokuapp.com/
http://jhp-safari-back2.herokuapp.com/

If you open up the firs

[2020-10-22 10:29] petebacondarwin commented on #39382
@jdpearce - do you know if any JS is being executed when you hit the back button? I have a feeling that the browser is trying to improve performance by, effectively, hibernating the page when you navigate forward, and then rehydrating it in the same state that it was left when you navigate back.  If this is the case, then there would not be much that Angular can do to overcome this. It would be li

[2020-10-22 10:31] petebacondarwin commented on #39382
Possibly related issue on StackOverflow:  https://stackoverflow.com/questions/15613526/back-button-does-not-execute-any-page-script-in-safari-ff-android-and-ios-5ipho

And this might be the underlying cause: https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/1.5/Using_Firefox_1.5_caching

[2020-10-22 10:33] petebacondarwin commented on #39382
In that last link there are a number of suggestion why the cache might not be used. Perhaps you could use one of those to prevent your page from being added to the bfcache?

[2020-10-22 10:45] jdpearce commented on #39382
@petebacondarwin I don't think any JS is being executed, I've tried this with a non-Angular setup and it's the same unless I add a listener to the `pageshow` event. I did idly wonder if Angular could use this hook to re-vivify itself somehow?

Part of the problem with the more involved case that I'm investigating is that the NgRX state seems to be completely lost, this means that the state of the