[2015-07-10 20:12] #2782 closed

[2015-07-10 20:23] rkirov commented on #2953
as @robwormald  it has been renamed to `ng` by https://github.com/angular/angular/commit/65a767d9b0b2816af86065083108bd517c35ce48

[2015-07-10 20:23] #2953 closed

[2015-07-10 20:33] rkirov commented on #2916
QueryList is a live list that is updated by change detection. As such construction time is too early to see the D directives.

To be notified of changes you can attach a callback using `onChange` as below:

[code]

[2015-07-10 20:33] #2916 closed

[2015-07-10 21:59] sigmundch opened #2982 "make dart transformers work on material samples"
A currently known issue we are hitting is that we don't resolve correctly cross-package urls (we need to change the current convention of using a relative url from the baseUri, instead we should rely more on package: urls and possibly relative urls (if we can find a way to compute these using dart:mirrors for components declared in both plain libraries and part files)

[2015-07-10 22:00] danicomas opened #2983 "The default route always is loaded."
The first time that we load the app with the route /#/home1 angular is loading the constructor of component Home (default) then loads Home1. I think that the component Home shouldn't be loaded. @btford @IgorMinar @jeffbcross

[code]

[2015-07-10 22:04] jakemac53 opened #2984 "ng-for and ng-if break with transformer generated change detectors"
https://github.com/angular/angular/pull/2981 provides a test which fails. https://gist.github.com/jakemac53/675fdedad5ce469d292f is an simple example which will fail under the transformer.

[2015-07-10 22:21] yjbanov commented on #2304
@jakemac53 I can take a crack at it

[2015-07-10 22:23] danicomas opened #2987 "Routing error when we change the url in the url bar"
Using the same code of this: https://github.com/angular/angular/issues/2983

Doing this steps:

1) http://localhost:8080/#/home and page loaded correctly
2) go to the url bar and change for http://localhost:8080/#/home1 and press enter
3) always go to the default component / url http://localhost:8080/#/home

[2015-07-10 22:43] #2901 closed

[2015-07-10 22:50] yjbanov commented on #2808
Closed this via #2980: `overrideOnEventDone` hook in `NgZone` is more reliable than `LifeCycle` because `LifeCycle.tick` may be called multiple times during a single event and it does not guarantee that everything stabilized. Only `NgZone` has that information.

[2015-07-10 22:51] danicomas opened #2988 "Which will be the best way to include messages in the form validators?"
In Angular 1.X we can have a template (in other file) with all the error validators:

[code]

[code]

Which will be the way in Angular 2? I haven't found nothing in the source code @jeffbcross @mhevery @jeffbcross @pkozlowski-opensource

[2015-07-10 23:26] yjbanov opened #2991 "Implement standard universal absolute schema for Angular 2 resource URI"
While support for relative URIs [proved to be difficult](https://github.com/angular/angular/pull/2593) we should be able to implement a standard _absolute_ URI schema. Here's how:

## Background

### JS

In JS world Angular 2 components will be distributed via two methods:

#### Bundles

A bundle contains all components in a single JS file. In this model HTML templates and CSS would be inlined int

[2015-07-10 23:27] yjbanov commented on #2945
It does. I turned it into a proposal that covers TypeScript as well: https://github.com/angular/angular/issues/2991

[2015-07-10 23:28] yjbanov commented on #2945
Closing. Please reopen if #2991 is insufficient

[2015-07-10 23:28] #2945 closed

[2015-07-10 23:28] jeffbcross commented on #2816
Closing because the effort of making this work in Dart isn't worth it, since dart:html would have to be imported in some facade, and then HttpRequest would have to be re-exported.

[2015-07-10 23:28] #2816 closed

[2015-07-10 23:28] vsavkin commented on #2984
The actual issue:

The DOM adapter used by the compiler used in the DirectiveProcessor transformer incorrectly reflects on the elements. The adapter cannot detect properly what properties a DOM element has. This problems manifest via change detection.

[2015-07-10 23:29] yjbanov commented on #2991
/cc @matanlurey @andresaraujo @vicb @sigmundch @jelbourn

[2015-07-10 23:35] matanlurey commented on #2991
:+1: this works out of the box for me.

[2015-07-10 23:44] sigmundch commented on #2991
:+1:

[2015-07-10 23:50] btford commented on #2776
As part of my work on #2640, I've changed the behavior for now to always queue up the next navigation after the current one finishes.

[2015-07-10 23:54] vsavkin opened #2992 "Provide context for all runtime errors"
Currently when we throw an exception, we do not give the developer a lot of information. So you often see messages like this `No value accessor found for ''`. It is very hard for the developer to know what went wrong.

I think we should wrap user errors and add some context to where the error occured:

[code]

## Adding Context Automatically

- We already wrap exceptions triggered inside change de

[2015-07-11 00:12] tbosch commented on #2355
@mhevery could you try to reproduce with latest version again?

[2015-07-11 00:16] yjbanov commented on #2991
/cc @TedSander

[2015-07-11 01:08] juliemr commented on #2783
Update: I am stuck on some injector issues while decoupling - bumping to next milestone.

[2015-07-11 01:23] matanlurey commented on #2954
I still a (different) error today:

[code]

[2015-07-11 01:38] hankduan commented on #2808
@yjbanov I don't think the current structure does exactly this, namely it doesn't notify if angular is not currently processing any events at the moment. For example, if I override OnEventDone, but angular is not currently processing any events, I will wait forever (it is already done, and will not ever notify me that it is done).

Instead, what about the API `onEventDone(cb)`. It will check if an

[2015-07-11 01:52] matanlurey commented on #2954
Disregard previous, my bad :) Working great, thanks Victor!

[2015-07-11 01:52] #2954 closed

[2015-07-11 03:31] SobiborTreblinka commented on #2763
:+1:

[2015-07-11 23:58] SobiborTreblinka opened #2997 "`$(npm bin)/gulp build` does not terminate"
I'm building AngularJS2 inside a Docker container, so I can establish a standard working environment.

[code]

runs and builds the project without any problems.

But if I run

[code]

the process will hang in my terminal and not continue after reaching this portion of the build process.

[code]

This portion works perfectly fine when I run `$(npm bin)/gulp build.dart`

I ran `nvm use` at my projec

[2015-07-12 04:11] TedSander commented on #2748
@rkirov @tbosch  This is still happening for me on the latests drop.

destroyViewInContainer is trying to remove something at index -1. We can reproduce it with Overlays when they try to be unloaded. I'll stop by to show you what is happening.

[2015-07-12 10:12] rolandjitsu commented on #2991
In JS I do not see the need for `package` and the `templateUrl` only supports absolute paths anyway (not sure if relative paths have been successfully implemented or they are still in dev or have been dropped).

Of topic, using a globally configured `baseUrl` for all components and then the component's `templateUrl` and `styleUrls` resolving at that `baseUrl + templateUrl`/`baseUrl + styleUrl` wou

[2015-07-12 13:40] pflannery opened #3001 "Ability to turn off dash case for CSSClass directive"
I'm finding problems with css that uses camel case when using CSSClass because [this line](https://github.com/angular/angular/blob/44891996b592cbbeafb3a6f45a27d8d943895bab/modules/angular2/src/render/dom/view/view.ts#L58) automatically converts each class to dashed case.

Can we have a choice between camel case and raw input when using the CSSClass directive?
Would be nice if we could provide a me

[2015-07-12 13:44] mhevery opened #3002 "When using @private then class extends need to change to implements"
[code]

Should generate `.d.ts`

[code]

[2015-07-12 13:48] pkozlowski-opensource commented on #3001
@pflannery why it is causing issues for you in practice? AFAIK css class names are not case-sensitive (https://developer.mozilla.org/en/docs/Case_Sensitivity_in_class_and_id_Names) and you can't have mixed cases in your HTML markup.

Could you be more precise? What is the exact use-case?

Would be nice if we could provide a means to configure CSSClass directive per component.

This wouldn't work a

[2015-07-12 17:45] petebacondarwin commented on #3002
On it!

[2015-07-12 17:50] mhevery commented on #3002
wow, you are quick!

[2015-07-12 18:13] #3002 closed

[2015-07-12 18:13] petebacondarwin commented on #3002
Four hours is quick?

[2015-07-12 18:33] danicomas commented on #2959
+1 similar than UI router

[2015-07-12 22:53] pflannery commented on #3001
@pkozlowski-opensource The problem comes with using and writing libraries that follow camel case guidelines like [OOCSS](https://github.com/stubbornella/oocss-code-standards#oocss-code-standards) or using libraries like animate.css

Camel case is my preference over dashed case. For me I would have to convert all my previous libraries over to dashed case or would be forced to write them all as lowe

[2015-07-13 02:12] gdi2290 commented on #2940
I prefer it if the value is `null` then it shouldn't register a handler so you can do something like this
`<div (mouseenter)="if dragEnabled then onMouseEnter()"></div>`
`<div (mouseenter)="onMouseEnter() | async"></div>`

[2015-07-13 02:24] btford commented on #2983
You should not include `#` in your URL. Instead, you should bind `LocationStrategy` to `HashLocationStrategy`.

[2015-07-13 03:05] thekhoi opened #3005 "NoBindingError thrown after upgrading to Alpha 30 from 28."
Todo example is throwing a NoBindingError from the Injector.execute.Injector._getByKey method when upgrading from to Alpha 30.

Error: null
    at NoBindingError.BaseException (http://localhost:8080/vendor/angular2.dev.js:7254:25)
    at NoBindingError.AbstractBindingError (http://localhost:8080/vendor/angular2.dev.js:10818:66)
    at new NoBindingError (http://localhost:8080/vendor/angular2.dev.j

[2015-07-13 06:44] pkozlowski-opensource commented on #3001
OK, I see, this is only for readability then, right?

As it is coded today, this conversion affects all the places where a CSS class is set on an element, so a separate directive wouldn't work / isn't enough.

@tbosch maybe we are too aggressive about this conversion and should do it only when a CSS class name comes from HTML attribute value (that is, when using `[class.foo]=expr` syntax?

[2015-07-13 07:52] gdi2290 commented on #2612
this is resolved and can be closed

[2015-07-13 07:55] rolandjitsu commented on #2612
@gdi2290 it is, I have tried to use both the `ts` and the `js` files from the npm package and it works.

[2015-07-13 07:55] #2612 closed

[2015-07-13 09:28] DavidGangel opened #3006 "How can be used an angular app at the top of the html tree"
Hi,

In Angular1 it was possible to:

`<html ng-app="my-app">`

But how the same thing can be achieved with angular2 at the top level of the html?

[2015-07-13 09:36] pkozlowski-opensource commented on #3006
There is no direct equivalent of `ngApp` directive in Angular 2, but you can bootstrap an application on any element that you can target with an element CSS selector.

[2015-07-13 09:36] #3006 closed

[2015-07-13 09:48] thekhoi commented on #3005
unable to reproduce after clearing cache

[2015-07-13 09:48] #3005 closed

[2015-07-13 10:10] DavidGangel commented on #3006
I did the following:
`<html id="my-app">
  <head>
    <script src="https://github.jspm.io/jmcriffey/bower-traceur-runtime@0.0.87/traceur-runtime.js"></script>
    <script src="https://jspm.io/system@0.16.js"></script>
    <script src="https://code.angularjs.org/2.0.0-alpha.28/angular2.dev.js"></script>
    <script>System.import('app');</script>
  </head>
  <body>

  </body>
</html>`

app.ts:
`
///

[2015-07-13 14:08] firecube opened #3007 "Interpolation with {{property}} writes null and undefined rather than empty string"
A quick test with the quick start can reproduce this... https://angular.io/docs/js/latest/quickstart.html

Change the line below and you can see the work null written to screen.

Change...
this.name = 'Alice';
... to ...
this.name = null;

[2015-07-13 14:41] matanlurey commented on #2984
Is anyone tackling this? @tbosch mentioned something about registering a Schema last week.

[2015-07-13 14:49] mhevery opened #3008 "dgeni: When generating docs dgeni should preserve annotation"
See: https://angular.io/docs/js/latest/api/directives/NgFor-class.html It should also include annotation such as: https://github.com/angular/angular/blob/f5f85bb528bcb697f433e3db95912562810bba28/modules/angular2/src/directives/ng_for.ts#L35

Annotations are important for the documentation purposes.

[2015-07-13 14:52] vicb commented on #3007
Work as epxected: in JS `'' + null == 'null'`

[2015-07-13 15:06] firecube commented on #3007
In Angular 1.x I could just bind to a variable like this {{name}} and if name was null nothing was shown on screen.

In Angular 2, {{name}} seems to output the word 'null' which may be as expected but isn't very friendly.

I don't want to have to do something like {{name || ''}} in my templates.

Am I missing something here or is there another way to approach this?

Thanks, Simon

[2015-07-13 15:29] vsavkin commented on #2984
@matanlurey we'll figure out a plan today. It looks like providing a schema would be a proper solution, but it may take some time. We may have to provide a temporary solution to unblock @jakemac53.

[2015-07-13 15:39] vsavkin opened #3009 "Forms: add support for parsers and formatters"
Implementing custom formatters and parsers is a common way to extend control types in Angular 1.

I think there are two ways to do it in Angular 2:
- Implement parsers and formatters similar to Angular 1
- Make defining new value accessors easier, so the use case can be handled by defining a new accessor.

[2015-07-13 16:06] vsavkin opened #3011 "Instantiate only one directive playing a particular role"
We need to provide a way to tell the compiler not to instantiate a directive when there is another, more specialized, directive that does the same job.

Imagine we have a default value accessor directive used by forms.

[code]

Now, let's add a more specialized value accessor that can handle checkboxes.

[code]

In the following template I would like the first input to use DefaultValueAccessor, an

[2015-07-13 16:23] yjbanov commented on #2991
@rolandjitsu `package` would not be enforced, only recommended and would make things consistent across multiple interdependent packages distributed in source, and the idea is that we provide an implementation of `UrlResolver` for all popular environments out-of-the-box, such as pub&npm. `templateUrl` attribute by itself is just a string. You can put whatever you want in it, as long as you have a s

[2015-07-13 16:44] yjbanov commented on #2984
Assigned to @tbosch as he is already looking into the reflection issue.

[2015-07-13 16:56] #2640 closed

[2015-07-13 17:04] btford commented on #2023
Duplicate of #2776, and possibly fixed in the refactor for lifecycle hooks.

[2015-07-13 17:04] #2023 closed

[2015-07-13 17:09] yjbanov commented on #2808
@hankduan, in a normal situation Angular installs a zone at the root level and therefore _always_ processes _every_ browser event. It would therefore call `OnEventDone` every time. If you are running code outside the angular zone (e.g. via `NgZone.runOutsideAngular`) then, of course, it's up to you, because Angular is not even aware of what you are doing and cannot possibly notify you of anything

[2015-07-13 17:16] naomiblack commented on #2597
@georgiosd I'm closing this issue as can't reproduce. Sorry, there's not enough here for us to work on.

[2015-07-13 17:16] #2597 closed

[2015-07-13 17:28] jakemac53 opened #3012 "Can't add host attributes to the root element"
Lets say you have the following:

[code]

It will not set the attribute `foo` onto the `my-app` element that lives in your html. It does actually set the attribute on a `my-app` element, just not the one in the dom. It appears there is some sort of temporary element being created and the attribute is being set on that one.

[2015-07-13 17:30] yjbanov opened #3013 "Host properties are not set on root component"
Repro: https://gist.github.com/jakemac53/795c4f1af486ccfb0014

This seems to be caused by the fact that we are creating a second temporary host element for the root component and calling `setAttribute` _before_ we attach content to the target host element.

/cc @jakemac53

[2015-07-13 17:31] jakemac53 commented on #3012
duplicate of https://github.com/angular/angular/issues/3013

[2015-07-13 17:31] #3012 closed

[2015-07-13 17:39] btford commented on #2261
TS has interfaces that can hint what should be in the map. And just knowing the type (`path` is a string) isn't enough to know if the route is configured correctly anyways.

Aesthetically, I expect that this:

[code]

Is going to be preferred over this:

[code]

Of course I'll leave the second option open for TS folks.

[2015-07-13 17:58] woppa684 opened #3014 "Can't bind to 'for' since it isn't a know property of the 'label' element"
Using:
[code]
or
[code]

in a template will throw the following error:

[code]
Shouldn't this be possible?

[2015-07-13 18:01] jteplitz602 opened #3015 "Bootstrap throws errors in safari"
To repro: Load the hello world example in safari.
Stack trace: https://gist.github.com/jteplitz602/26f330e39b60d99a69d3

[2015-07-13 18:12] woppa684 opened #3016 "Definition of Query does not work in d.ts file (alpha 30)"
Using Query from the d.ts file results in this error:

[code]

The file currently contains these (seemingly dupllicate) definitions:

[code]

After adapting the d.ts file to have:
[code]

and removing the above Query class the annotation works as expected...

Another issue can be seen here:
[code]

The length, first and last properties are declared as void, I also constantly need to adapt these to

[2015-07-13 18:21] naomiblack commented on #2770
I am moving this to the backlog -- we should continue to track but I think the immediate work is on hold. Should the PR be closed?

[2015-07-13 18:22] hankduan commented on #2808
I guess I was worried that we might miss the turnStart event, but now that I think about it, I guess if we inject zone into testability (https://github.com/angular/angular/blob/44891996b592cbbeafb3a6f45a27d8d943895bab/modules/angular2/src/core/testability/testability.ts#L14), we would never miss it. Thanks, this is good as is.

[2015-07-13 18:22] #2808 closed

[2015-07-13 18:23] btford opened #3017 "feat(router): use query params for top-level component params"
Follow-up for #2774

[2015-07-13 18:31] btford commented on #2638
I'm going to move this to the backlog because are more urgent issues and I'm not likely to get to this in the next two releases.

[2015-07-13 18:32] alexeagle commented on #2261
Your first option can still be structurally typed with an interface and not
use a map. As long as we agree on what expressions are valid router
configurations, we can make TS typings that properly restrict to those, and
give the right completion and error-checking.

On Mon, Jul 13, 2015 at 10:39 AM Brian Ford <notifications@github.com>
wrote:

[2015-07-13 18:47] tbosch opened #3019 "Implement `DOM.hasProperty` correctly to speed up property access"
The compiler only creates bindings on elements when `DOM.hasProperty` returns true for this property. As dart is running the transformer on the server and also generating change detectors on the server, the implementations of `DOM.hasProperty` need to be in sync between `browser_adapter.dart` and `html_adapter.dart`. Right now, both always return true and `DOM.setProperty` checks during runtime wh

[2015-07-13 18:48] tbosch commented on #2984
Have a PR up, should go in today.

[2015-07-13 18:59] pkozlowski-opensource commented on #3006
@DavidGangel if it is about setting title you should be using the `Title` service: https://github.com/angular/angular/blob/master/modules/angular2/src/services/title.ts - you will have to inject it into places where you want to change title.

[2015-07-13 19:06] DavidGangel commented on #3006
Hi,

Thank you for your response. Okay I will take a look. Are there any modules for meta tag manipulation as well?

Thank you.

[2015-07-13 19:09] pkozlowski-opensource commented on #3006
Nope, there are no services for manipulating meta tags yet, but it could be a reasonable feature request, depending on your use-case. Could you please open a separate issue for this, specifically asking for a way to manipulate meta tags.

[2015-07-13 19:13] pkozlowski-opensource commented on #3014
By default AngularJS binds to elements properties, not attributes and `for` is an attribute, not a property of the `<label>` element, see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label

You can use the `<label [attr.for]="id">` syntax to bind to attributes.

[2015-07-13 19:13] #3014 closed

[2015-07-13 19:20] pkozlowski-opensource commented on #3009
@vsavkin while trying to replicate parsers / formatters pipeline from ng1 we should note its problems and try to find a better solution in ng2:
* it is hard to control order of execution of parsers / formatters (if there are multiple directives trying to add things to the pipeline it is next to impossible to control the order of they inclusion / execution)
* in ng1 parsing formatting is coupled wi

[2015-07-13 19:30] btford opened #3021 "fix(router): router should throw when reserved characters used in route definition"
This should throw and explain how to use `HashLocationStrategy`:

[code]

If `//`, `(`, or `)` appear in the path, we should throw because they are reserved for auxiliary routes.

`;`, `?`, `=` are reserved for matrix/query params.

[2015-07-13 19:30] pkozlowski-opensource commented on #3007
@vicb it is true that this is consistent with JS behaviour but I don't think this is what users would expect (at least I find it surprising) and it is not how things work in ng1.

I'm going to re-open this one so we can discuss. //cc: @mhevery

[2015-07-13 19:31] caitp commented on #3007
What would you expect, jus `''` in place of `'null'`?

[2015-07-13 19:32] pkozlowski-opensource commented on #3007
Yep, empty string. This is how it is handled in ng1, no?

[2015-07-13 19:39] caitp commented on #3007
i dunno, I think there's value in matching the language itself (eg ``` `${null}` ``` -> `"null"`), but whatever people want to do

[2015-07-13 19:57] leafpetersen commented on #2220
Per offline discussion with @yjbanov, it sounds like #2328 should have fixed the immediate issue, but the longer term goal is to eliminate the need for this information entirely.

[2015-07-13 20:08] vsavkin opened #3023 "Remove default visibility from DI"
All directives and services by default should be unbounded.

[2015-07-13 20:09] vsavkin opened #3024 "Remove @Parent from DI"

[2015-07-13 20:11] firecube commented on #3007
In templates it should definitely handle nulls and undefined with empty string... otherwise this needs to be done by the user on every place holder in every template.

pkozlowski-opensource is right, this is the behaviour in Angular 1.

[2015-07-13 20:11] yjbanov commented on #2220
Sadly, we're using recorded interfaces in more places now: https://github.com/angular/angular/commit/a9a552c112da1397a0122acdbecbd52bc88e1906

[2015-07-13 20:34] tbosch opened #3025 "Implement tests for CSP mode for JS and Dart"
E.g. we do `eval` in `browser_adapter.dart` for performance reasons, and need to switch it to a slower version using `JsObject` instead.

[2015-07-13 20:36] vsavkin opened #3026 "Forms validations are broken when used not in modules/examples"
It looks like iterableToList returns an array of undefined.

[2015-07-13 20:36] jeffbcross commented on #2902
Removed from milestone and unassigned because @vsavkin suggested we all talk about this problem with @mhevery later.

[2015-07-13 20:42] justindujardin commented on #2875
related to https://github.com/angular/angular/issues/2014

[2015-07-13 20:43] jakemac53 opened #3027 "Add an e2e test for lifecycle methods post-transform"
Probably the easiest way to do this would be creating a new example which uses all the lifecycle methods/interfaces.

[2015-07-13 20:44] jakemac53 commented on #3027
see https://github.com/angular/angular/issues/2220 as well for more context

[2015-07-13 20:45] jakemac53 commented on #2220
Fwiw, I did just do a quick test of `OnInit` and it seems to be working post-transform, but I added an issue to create an e2e test for this so we can make sure things don't break later on.

[2015-07-13 20:52] btford commented on #2323
This doesn't explicitly depend on #2775, and the error message is already much improved– the router now warns that `{{routeName}} is not found` rather than throwing a NPE.

I'm not sure we can do much better– if you put the annotation on the wrong component, then of course the route will not be found. I don't think there's a great way for `RouteLink` to get ahold of the component that contains it

[2015-07-13 20:56] btford commented on #2261
+1; this is exactly what I was thinking.

I was more talking about something like `'/#)?#(foo'` being an invalid value for path, or having a parent without a trailing "continuation" segment having children, which AFAIK can't be expressed in TS's type system.

[2015-07-13 20:58] btford commented on #2616
What version of Angular? And can you please provide a reproduction?

[2015-07-13 21:00] btford commented on #2336
Related to #1662.

[2015-07-13 21:02] btford commented on #2615
I'm going to close this since @lnlwd isn't seeing this anymore.

[2015-07-13 21:02] #2615 closed

[2015-07-13 21:05] btford commented on #2224
I'm going to close this since I think it's been resolved. If I'm incorrect, let me know @irfantusneem and I'll reopen this.

[2015-07-13 21:05] #2224 closed

[2015-07-13 21:09] tbosch commented on #3013
Note that this might be fixed by https://github.com/angular/angular/issues/2529 as this is changing the `DomRenderer`...

[2015-07-13 21:10] matanlurey opened #3029 "TestComponentBuilder: Support mocking out view/hostInjector of component"
Given an arbitrary component, like "AppShellComponent":

[code]

Sometimes you may want to slightly alter or mock out a dependency because you are testing a part of the component or how it's interaction works with a child.

Proposal
---

[code]

[2015-07-13 21:19] yjbanov commented on #3029
/cc @juliemr @vsavkin

[2015-07-13 21:23] alexeagle opened #3030 "Dart build is slow (>30m)"
This slows us down a lot, especially for vetting PRs. Marking P1 as a substitute for 'high severity'.

Discussed with @vsavkin and @tbosch - theory is that every time we add an example, we have another expensive invocation of dart analyzer and dart2js because it is an additional entry point. We really only need to run one of the examples in dart, as a smoke test.

[2015-07-13 21:25] jakemac53 commented on #2771
@munificent is working on at least the mirrors based version of this, but can't assign him because hes not part of the org yet

[2015-07-13 21:37] yjbanov opened #3032 "Generated ng_deps need to respect deferred library bounds"
Currently `initReflector` call is not deferred causing everything in the deferred library to go into the main part.

internal ref: b/22338482

[2015-07-13 21:38] jakemac53 commented on #2919
blocked on https://github.com/angular/angular/issues/2304

[2015-07-13 21:43] jakemac53 commented on #2646
@sigmundch I think you had a fix for this?

[2015-07-13 21:46] jakemac53 commented on #1232
blocked on https://github.com/angular/angular/issues/2984 and https://github.com/angular/angular/issues/2919

[2015-07-13 22:08] #1935 closed

[2015-07-13 22:09] #2984 closed

[2015-07-13 22:17] rkirov opened #3033 "ViewQuery does not match the dom order of directives"
Broken test - https://github.com/angular/angular/blob/master/modules/angular2/test/core/compiler/query_integration_spec.ts#L351

Fix and reenable.

[2015-07-13 22:19] yjbanov commented on #2220
Let's close it then.

[2015-07-13 22:19] #2220 closed

[2015-07-13 22:21] sigmundch commented on #2646
My fix was to preserve the `templateUrl` while doing inlining (see https://github.com/angular/angular/commit/62589293aaa9efc6849e06c7f3629731699784de), @TedSander - is this addressing the issue?

[2015-07-13 22:22] rkirov opened #3034 "Implement Query filters"
To support more flexible queries implement an option to pass filter to Query. For example: ```@Query(MyFeature.filter) list: QueryList<dynamic>``` where ```static filter(obj) => obj is Foo || obj is Bar.```

see discussion on https://github.com/angular/angular/issues/1935 for more info.

[2015-07-13 22:25] rkirov opened #3035 "Replace QueryList with an interface"
Currenlty `QueryList` (transpiled .dart) extends `BaseQueryList` (handwriten .dart), so that the documentation would not have to live in two places. A better solution would be to put the documentation on an interface `IQueryList` (transpiled to .dart) and have `BaseQueryList` implement it.

[2015-07-13 22:26] matanlurey commented on #2936
This might have been fixed. Assigned self to verify and close.

[2015-07-13 22:28] #2932 closed

[2015-07-13 22:34] yjbanov commented on #2774
This issue is not on any hotlist. Why is it a P1? Also, what is "matrix params"? :)

[2015-07-13 22:49] matanlurey commented on #3013
Let's make sure the following scenarios work:

1. You can set `'[class]': 'allOfMyClasses'` in the `host` property in a component
2. This also works on dynamically loaded components
3. This also works on the root-level (E.g. application shell component)

[2015-07-13 23:29] #3023 closed

[2015-07-13 23:40] btford commented on #2774
@yjbanov think of it as a generalized queryParams – http://www.w3.org/DesignIssues/MatrixURIs.html

Not sure why @naomiblack made it a P1.

[2015-07-13 23:41] munificent commented on #2771
Yes, see: https://github.com/angular/angular/pull/2827

[2015-07-13 23:46] naomiblack commented on #2774
I think because it was blocking other things at the time? Demoting to P2.

[2015-07-14 00:03] yjbanov commented on #1594
Marking as blocked by https://github.com/angular/angular/issues/2304 just so we work on these issues sequentially. Both are messing around the same code.

[2015-07-14 00:07] gdi2290 commented on #3007
It might be a good idea to have default values
[code]

[2015-07-14 00:15] #2774 closed

[2015-07-14 00:18] matsko commented on #2774
It's merged in now anyway.

[2015-07-14 00:52] kevmoo commented on #2984
Verified on 97ef1c2 with Dartium. Awesome! :metal:

[2015-07-14 03:44] naomiblack commented on #2865
Yes, sorry -- we have been changing our release process and we dropped alpha-29. Closing this issue as the problem is fixed for milestones 30 onward

[2015-07-14 03:44] #2865 closed

[2015-07-14 03:48] naomiblack commented on #2976
@jelbourn did this get fixed?

[2015-07-14 03:50] naomiblack commented on #2935
@jakemac53 can you have a look into this one please?

[2015-07-14 03:50] naomiblack commented on #2958
closing this issue -- will be resolved by ongoing work to complete d.ts file.

[2015-07-14 03:50] #2958 closed

[2015-07-14 05:12] rolandjitsu commented on #2616
@btford yes, [here](https://github.com/rolandjitsu/ng2-play/blob/master/src/app/components/app/app.ts) is where I use it, but this exception occured one version back at alpha `29`. I am not sure if it still happens.

[2015-07-14 05:18] rolandjitsu commented on #2991
@yjbanov ok, so I could use `UrlResolver` to resolve components from the same `baseUrl` path. I'll try it out, though I am not sure what you mean when you say that it might be hard to reuse and share code.

[2015-07-14 07:15] vicb commented on #3007
What about `{{ value|default('') }}`

[2015-07-14 07:39] gkalpak commented on #3007
What about it ? :D
Just compare it with `{{ value }}`.

--
This is a really nice feature of ng1 (and one lots of developers are used to) and plays well with the elvis operator (which also everyone is used to from ng1 - well not the operator, just the behaviour (grrrr for introducing that btw)).

 TBH I haven't fiddled around much with ng2, so I don't know if the usefulness of defaulting to `''` ha

[2015-07-14 13:46] petebacondarwin commented on #3016
I think that the first problem is fixed in master. Take a look at

https://gist.github.com/petebacondarwin/5e7c6814ef046bd14be3#file-angular2-d-ts-L2354

[2015-07-14 14:39] matanlurey commented on #2984
:+1: looks good thanks guys.

[2015-07-14 14:43] matanlurey commented on #3034
:+1:

[2015-07-14 14:55] sigmundch commented on #2991
@rolandjitsu - I think what @yjbanov was referring to is the problem of how different people can refer to each other's components in a consistent way. If people develop components separately, to refer from component A from component B, B's developer would need to know where to find A with respect to the `baseUrl` of the app. At that point everyone needs to agree on a convention. For example, that

[2015-07-14 15:03] mhevery commented on #3016
I think this is totally fixed with the SHA @petebacondarwin mentioned. Closing.

[2015-07-14 15:18] jakemac53 commented on #2984
todomvc works with the transformer now as well :)

[2015-07-14 15:23] jakemac53 commented on #2935
pretty sure this is a duplicate of https://github.com/angular/angular/issues/2984#issuecomment-121257708

[2015-07-14 15:24] #2935 closed

[2015-07-14 15:26] petebacondarwin commented on #3016
@misko there is still the issue of getters having `void` return type. But I looked at the AST that TypeScript generates and I don't see any better type information...

[2015-07-14 15:40] woppa684 commented on #3016
Yep, those are still in, also this file introduces a number of "implicit any types" that weren't there in the previous version ...

[code]

[2015-07-14 16:23] matanlurey commented on #2991
@rolandjitsu : One example, if you'd like to use a template from the 'really_awesome_templates' package:

[code]

No relative URIs, no worrying about what type of system the user has, etc.

[2015-07-14 16:35] yjbanov commented on #2991
@rolandjitsu: @sigmundch and @matanlurey summed it up pretty nicely.

[2015-07-14 17:00] misko commented on #3016
@mhevery maybe I will look into angular more so I can start fielding some of these :)

[2015-07-14 17:26] btford commented on #2616
@rolandjitsu Can you try with the latest and let me know if it's still broken?

[2015-07-14 18:03] jelbourn commented on #2976
Not yet; I wrote the change and then forgot to send a PR. I'll send it out today.

[2015-07-14 18:16] jteplitz602 opened #3043 "Implement a cross-language worker messaging API"
Implement a MessageBus in both TS and Dart that smooths out the differences between the web worker and Isolate API.

Implement a MessageBroker on top of the MessageBus that allows the worker thread to easily run renderer methods on the main thread and receive the result.

[2015-07-14 18:21] jteplitz602 opened #3044 "Implement a serialization protocol for render API message types"
All of the parameters (and return objects) for the renderer (and render compiler) methods need to be serializable.

- [x] Create RenderView Store (#3052).
- [x] Remove ASTs from Binders
- [x] Replace Maps with StringMaps in render/api (The prototype for Map can't be easily serialized).

[2015-07-14 18:24] jteplitz602 opened #3045 "Implement a web worker renderer"
- [x] Proxy all of the renderer calls from the app thread to the ui thread.
- [x] Calls should be queued up until the zone finishes and then sent as once.

[2015-07-14 18:24] petebacondarwin commented on #3016
@misko - sorry :-)

[2015-07-14 18:27] jteplitz602 opened #3046 "Support DOM events within webworkers"
- [ ] Event encoding & support for basic events (clicks, scroll, keyboard)

[2015-07-14 18:28] jteplitz602 opened #3047 "Build a web worker demo app"

[2015-07-14 20:14] matanlurey opened #3049 "Transformer/DI: Support typedefs"
The following *should* be possible:

[code]

Right now it complains because it expects `AnimalFactoryFn` to either be a token or a class.

[2015-07-14 20:47] sigmundch opened #3051 "transformer: do not share a global logger among transformers"
Currently most transformers are importing and using a single logger from `package:angular2/src/transform/common/logging.dart`. Unfortunatelly, transformers may be interleaved at any point where async calls are made, so as a result pub might report errors in the wrong file.

We should properly pass the logger through all calls made by a transformer.

@jakemac53 @kegluneq

[2015-07-14 21:13] jteplitz602 opened #3052 "Implement RenderViewStore for WebWorker"
The Serializer should convert RenderViewRefs to/from serializable references (probably an int for now) whenever they're sent over the wire.

[2015-07-14 21:15] jteplitz602 opened #3053 "Make Serializer injectable"

[2015-07-14 21:19] jteplitz602 commented on #3052
The store should be implemented as an injectable service. This requires fixing the Serializer to be injectable (#3053)

[2015-07-14 21:54] marcysutton commented on #1878
In order to say "Angular 2 has ARIA support" and "the ngAria module will no longer be needed in Angular 2", the framework should handle the same use cases as ngAria. Some of these won't directly apply with the new framework architecture, but I wanted to make sure they were captured.

Accessibility use cases for Angular include:

* Handling `aria-disabled` when disabling custom controls
* Handling

[2015-07-14 22:12] sigmundch opened #3054 "support reexports in Dart transformers"
The transformers complain if we can't find some directives, for example, when doing:

[code]

even though `formDirectives` is exported from `angular/forms` from `angular/src/forms/directives`

[2015-07-14 22:49] kegluneq commented on #1747
/cc @sigmundch

[2015-07-14 23:00] sigmundch commented on #3054
Sorry for the noise - seems that re-exports do work, but the problem with formDirectives is actually a const-list of subdirectives (issue #1747). Closing this issue.

[2015-07-14 23:00] #3054 closed

[2015-07-14 23:04] yjbanov opened #3055 "Remove normalizeBlank from Dart output"
It turns `null` to `null`, which is not very useful functionality and it also destroys types.

## Proposal

Similar to compile-time type substitution (e.g. `Promise` to `Future`) we should be able to substitute functions, in the `normalizeBlank` case we'd substitute it with empty string. It's ok to leave parens (unless it's easy to clean them up too). So, this:

[code]

becomes this:

[code]

[2015-07-14 23:14] mprobst commented on #3055
Should this be a bug in ts2dart?

Also: it should be very easy for you to add this, see the `callHandlers` map in `facade_converter.ts`. Maybe take a stab at this?

[2015-07-14 23:15] kegluneq commented on #2898
@yjbanov, is this still feasible given that we're using `interfaces` to implement `hasLifecycleHook` and its derivative features also (see a9a552c)? Is there a thought to implement lifecycle methods differently?

[2015-07-14 23:19] yjbanov commented on #3055
I logged it here because:

- `normalizeBlank` is angular-specific, so I thought it would have to be fixed in this repo
- it will show up on the team issues dashboard

I'll take a stab at ti.

[2015-07-14 23:55] tbosch commented on #2890
Closing this, as it will be removed via https://github.com/angular/angular/pull/2839

[2015-07-14 23:55] #2890 closed

[2015-07-15 00:16] vsavkin opened #3059 "Change Pipes.append to Pipes.extend"
The right semantics is actually to prepend new pipes, not to append them. Only then they will take precedence. After talking to Jeff, we decided to not to use the name  `Pipes.prepend`, but instead use `Pipes.extend`.

[2015-07-15 00:47] jteplitz602 opened #3060 "Zone.js and WebWorker environment"
For webworkers we need to use zone.js for change detection, but currently it relies on Browser APIs that are not implemented in webworkers.

It looks like the modules that touch browser API's are:
mutation-observer
define-property
register-element
property-descriptor
geolocation

/cc @btford

[2015-07-15 01:31] #2818 closed

[2015-07-15 04:13] SanderElias opened #3061 "DOM properties and capitalization"
When accessing dom properties that have a capital in them, ng requires an -. Is this really necessary?
I mean, when I want to address innerText it becomes inner-text in my template.
Now take this code:

    <h2 #h2 >My app say's "Hello {{hello}}"</h2>
    <h3 [inner-H-T-M-L]='h2.innerHTML'></h3>

That doesn't look nice does it? It works, and does what it is supposed to do, but can't we just drop t

[2015-07-15 05:25] jeffbcross commented on #2763
@Delagen are you still experiencing this issue with later releases?

[2015-07-15 05:25] pkozlowski-opensource commented on #3061
I don't think so, at least not with the current strategy of compiling live DOM that was already parsed from text by a browser. Basically browsers will lower-case everything before Angular has a chance to kick in.

So, to "solve" this problem we would have to do HTML text -> DOM parsing in the framework (which is sort of needed for the server-side rendering anyway...). But this would be substantial

[2015-07-15 05:25] #3061 closed

[2015-07-15 05:30] jeffbcross opened #3062 "Generated di/decorators.d.ts missing annotations after di refactor"
Here's the log when using 2.0.0-alpha.31 from npm:
[code]

And here's what those lines look like:

[code]

[2015-07-15 05:43] dsebastien commented on #3007
@gdi2290 Is there a specific reason for the different behavior between DynamicChangeDetection and JitChangeDetection? If the detection mode is selected on startup, I'd assume it is because of some kind of feature/environment detection, but why would the end result be different for developers?

I agree with @gkalpak @pkozlowski-opensource that {{ bla }} should default to '' in the UI. I don't think

[2015-07-15 06:43] rolandjitsu commented on #2991
@sigmundch and @matanlurey thanks for the detailed explanation, I now get the problem with having a global `baseUrl` configured to point at some custom place.

[2015-07-15 06:43] rolandjitsu commented on #2616
@btford I will do it today with the latest release and I will close this if it doesn't happen anymore.

[2015-07-15 07:02] jeffbcross commented on #2788
Hmm, I'm able to reproduce this issue now. Adding Injectable decorator doesn't fix it in my case. Will look into it further.

[2015-07-15 07:28] robwormald commented on #2991
just a point of reference, JSPM/SystemJS use this syntax already (maybe you know this?)

`jspm install npm:angular2' or `jspm install github:angular/angular`

not sure if that conflicts or dovetails, just FYI.

[2015-07-15 08:15] ferdbold commented on #2763
This still happens when building through atom-typescript on alpha31. I've tried both the root and es6/dev build bundled in the npm package, and there doesn't seem to be a difference in the errors

[2015-07-15 10:38] rolandjitsu commented on #2616
@btford now it complains about `TypeError: Cannot read property 'url' of null in [['./todos'] in null]` where I have my route config:
[code]
and I try to get the url by using:
[code]

[2015-07-15 10:48] waleedarshad opened #3064 "Unknown provider: $$qProvider <- $$q <- $animate <- $compile <- $modalStack"
i am having error  "Unknown provider: $$qProvider <- $$q <- $animate <- $compile <- $modalStack*
but problem is exactly not as described here  *https://docs.angularjs.org/error/$injector/unpr?p0=$$qProvider%20%3C-%20$$q%20%3C-%20$animate%20%3C-%20$compile%20%3C-%20$modalStack*

I am having code same as my colleague and it is running fine for him

# In console
http://errors.angularjs.org/1.2.28/$in

[2015-07-15 11:08] ericmdantas commented on #3064
The error is in the ```angular-permission.js``` dependency.

Also, please bring bugs related to 1.x [here](https://github.com/angular/angular) instead.

[2015-07-15 11:27] waleedarshad commented on #3064
Alright, But is it really cause of error as it is running perfectly fine without any error at colleague computer. Can you suggest what i have to exactly right now.

[2015-07-15 11:36] waleedarshad commented on #3064
# Bower list show this
├── angular#1.2.28 incompatible with 1.3.5 (1.3.5 available, latest is 1.4.3)
├─┬ angular-animate#1.3.17 (1.3.18-build.130+sha.215be0b available, latest is 1.4.3)
│ └── angular#1.2.28 incompatible with 1.3.17 (1.3.17 available, latest is 1.4.3)
├─┬ angular-bootstrap#0.12.1 (latest is 0.13.0)
│ └── angular#1.2.28 (1.2.29-build.592+sha.b041b66 available, latest is 1.4.3)
├─┬ a

[2015-07-15 11:40] pkozlowski-opensource commented on #3064
Closing, since this is a wrong repo and a general support question that would be better asked on Stack Overflow or similar: https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question

[2015-07-15 11:40] #3064 closed

[2015-07-15 11:49] waleedarshad commented on #3064
Alright Thanks

On Wed, Jul 15, 2015 at 4:40 PM, Pawel Kozlowski <notifications@github.com>
wrote:

[2015-07-15 11:53] plalx commented on #2988
I've suggested an idea https://github.com/angular/angular/issues/2240. The important point is that broken rules carries enough meta-data. Once this is done it opens the door to much more powerful error reporting strategies.

[2015-07-15 12:35] beataa opened #3065 "New router for Angular 1.X"
Hello,

In our project we are using Angular 1.4 and we've started to use new router as we want go in component based approach with flux architectural pattern. We are hoping with this approach we could migrate more easily to Angular 2.0.

So far all work great, still there are some issues with the router. Like we cannot have multiple named viewports at one view and so on. We have address them some

[2015-07-15 12:58] pkozlowski-opensource commented on #2875
@justindujardin thnx for the suggestion. Regarding this one:

I think that it is actually more confusing that the existing one as it drops important context info (an element on which the binding fails). We can try to rephrase things but we need to keep the info that can aid with debugging.

The

is more tricky as the error is thrown before we can have checks on the NgFor level. I need to see what

[2015-07-15 14:48] danicomas commented on #2983
Thanks @btford today I will try it. But if I have a decorator instead router.config could I have a promise (function) to detect the route change? Something like $routeChangeSuccess in Angular 1. If I use router.config I can do it easily.

[2015-07-15 15:30] btford commented on #2616
Hmmm.

Can you post a small reproduction somewhere so I can debug?

[2015-07-15 15:32] btford commented on #2983
You can use `router.subscribe`

[2015-07-15 15:57] danicomas commented on #2988
I didn't see this example: https://github.com/angular/angular/blob/c899b0a74c99ab29e50762aa68d8a0f3bde41c5c/modules/examples/src/template_driven_forms/index.ts#L101

[2015-07-15 16:03] #2988 closed

[2015-07-15 16:29] jeffbcross commented on #2910
We'll create a token in the root injector called `DOM_REFLECT_PROPERTIES_AS_ATTRIBUTES` with a default value of false. It's up to the user to set this value to true if they want properties to be reflected as attributes.

[2015-07-15 16:49] jeffbcross commented on #2910
Attributes will all be dash-cased, with a prefix of "ng-reflect-".

[2015-07-15 17:32] btford commented on #3065
@beataa – track #1707. I'm working this week to get that in and be able to produce a build of the component router for angular 1.x that includes many of the bug fixes.

[2015-07-15 17:32] #3065 closed

[2015-07-15 17:35] #2323 closed

[2015-07-15 18:04] justindujardin commented on #2875
@pkozlowski-opensource  Right, you could append the element:

Do you know the component selector?  If so you could alert the user to the component associated with the error:

I might have misunderstood #2014, but the original post mentioned better error reporting around the invalid `NgFor` expression cases, so I imagined you could identify the "bad syntax" errors during schema validation.

given t

[2015-07-15 18:32] btford commented on #2650
I don't think this is actually in yet since we had to revert the commit.

[2015-07-15 18:50] #3043 closed

[2015-07-15 18:50] danicomas commented on #2983
@btford I have changed for this:

[code]

And I do this:
- Nav url http://locahost:8080/ and enter -> and this redirect to /#/home and the component Home is loaded (OK)
- if you click to an hyperlink with route-link this redirect to /#/home1 (OK)

But if I do this:
- Nav url http://locahost:8080/#/home and enter the home component is not loaded (KO)
- http://locahost:8080/#/home1 the home1 and ent

[2015-07-15 18:56] TedSander commented on #2323
Will this cover the case where there is no route configuration all the way to the root? That was the problem I was running into and it isn't clear whether we have a warning for that.

[2015-07-15 19:01] jteplitz602 commented on #3060
It looks like we should be able to implement this by just applying a subset of zone.js patches similarly to how @uber5001 implemented zones for react-native

[2015-07-15 19:11] alexeagle commented on #817
Actually, my last comment was wrong. clang-format doesn't require semicolons, instead, it can break your code in strange ways when semicolons are omitted. We need something else to enforce that our TypeScript code isn't using ASI.

[2015-07-15 19:35] danicomas commented on #2843
Thanks @Delagen

[2015-07-15 19:57] danicomas commented on #2983
Sorry @btford  I had this problems in the version 2.0.0-alpha.28. I have updated to 2.0.0-alpha.31 and it works well all the things that I said in the las comment.

[2015-07-15 19:57] #2983 closed

[2015-07-15 19:58] #817 closed

[2015-07-15 20:30] danicomas opened #3074 "Is use ObservableWrapper the best way?"
I had this in version 2.0.0-alpha.28:

myService.js
[code]
myComponents.js
[code]

And now I have this in 2.0.0-alpha.31:

myService.js
[code]

myComponents.js
[code]

Am I doing it well with the new version? And what type of advantage has this new way? I need to have ObservableWrapper in every component :S   @btford @jeffbcross @mhevery

[2015-07-15 20:47] mhevery commented on #3074
`ObservableWrapper` is an internal API which should not be used by application. It is needed to create a facade between the differences of JS and Dart.

Use direct APIs.

[2015-07-15 20:47] #3074 closed

[2015-07-15 20:48] mhevery commented on #3007
`null` should be `""` (empty string) User should never see `null`

[2015-07-15 20:53] vsavkin opened #3075 "NgModel resets caret position"
-Open the template_driven_forms demo
-Type hello
-Put the caret after e
-Type something else
-The caret should not jump to the end

[2015-07-15 20:55] yjbanov commented on #2304
Status update: I'm going to try a variation of Option 4. We will have 2 files for people to import: `angular2.dart` and `bootstrap.dart`. They are equivalent, except `angular2.dart` has no `bootstrap` and does not set up reflection capabilities (and therefore does not pull in `dart:mirrors`). This way we do not need to rewrite all `angular2.dart` imports, just `bootstrap.dart` imports.

[2015-07-15 20:55] danicomas commented on #3074
@mhevery Is possible I have to use the ObservableWrapper due this commit?https://github.com/angular/angular/commit/34eaf65a79b2f43eccff8e88fb3b799d5e0906a0

    "This is temporary, until issue #2794 is resolved, when Observables will
    again be returned directly from Http class methods."

[2015-07-15 20:57] jeffbcross commented on #3074
Your best best in JS for now is to call toRx() on the Observable returned
from Http, which will give you an RxJS Subject to subscribe to. I'm
actively working on removing this step, as we work on getting rid of our
Observable facade.

The ObservableWrapper's only purpose is to have a JS-and-Dart-friendly
solution with the same source code.

On Wed, Jul 15, 2015 at 1:55 PM, Daniel Comas Fernández <

[2015-07-15 20:58] danicomas commented on #3074
Thanks @jeffbcross

[2015-07-15 21:09] vsavkin opened #3076 "NgModel does not work with custom angular components"
Fix it
[code]

[2015-07-15 21:21] jeffbcross commented on #2794
I'm starting to experiment with installing from the RxJS-next from the [lift branch](https://github.com/reactivex/rxjs/tree/lift) per @blesh 's recommendation. Right now, I'm just testing in JavaScript and keeping the APIs of Observable/EventEmitter/ObservableWrapper the same while switching the implementation underneath.

[2015-07-15 21:24] danicomas commented on #2987
Solved in 2.0.0-alpha.31

[2015-07-15 21:24] #2987 closed

[2015-07-15 21:28] tbosch commented on #1594
I think we should also split bootstrap further into a compile and create call.
This is e.g. very interesting for benchmarks, or also for serverside rendering, which would compile only once but create the view instances multiple times.

[2015-07-15 21:35] gdi2290 commented on #3007
while we're on the topic can we also make it to so for all `src` attributes otherwise it's `src="null"` which makes an http call to /null

[2015-07-15 22:23] #2910 closed

[2015-07-15 22:37] #2976 closed

[2015-07-15 22:46] codylerum commented on #2647
Looks like the docs @ https://angular.io/docs/js/latest/api/ are about a month old.

(rev https://github.com/angular/angular/commits/3a0410a46dcb8db7cf0d9dd0201a533647d1c09e)

Is this related to that?

[2015-07-15 22:50] #3035 closed

[2015-07-15 23:38] jteplitz602 commented on #3060
Proof of concept: https://github.com/angular/zone.js/pull/145

[2015-07-16 00:43] yjbanov opened #3077 "2.0.0-alpha.31 didn't make it to pub"
/cc @rkirov

[2015-07-16 02:28] Y-Less commented on #2162
I hit the same problem today and found the same issue.  The root cause is (I believe) operator precedence, thus the code becomes:

[code]

I also thought the use of `msMatchesSelector` was wrong and should be a polyfilled `matchesSelector`, but I think the intent (made clearer just by adding the brackets) was to use that in the only case where `n.matches` doesn't exist - i.e. IE browsers.  If that

[2015-07-16 02:48] Y-Less commented on #2162
An alternate solution if you don't want to modify the angular source and instead want an external patch to go in, say, your top-level HTML, is:

[code]

[2015-07-16 03:52] #2529 closed

[2015-07-16 03:55] tbosch commented on #2320
This is solved with the new content projection. I also added test to ensure this here: https://github.com/angular/angular/blob/master/modules/angular2/test/core/compiler/projection_integration_spec.ts#L307

[2015-07-16 03:55] #2320 closed

[2015-07-16 03:56] tbosch commented on #2298
As #2529 landed in master, content projection is done during compilation, i.e. there is no performance penalty of using in during runtime.

[2015-07-16 03:56] #2298 closed

[2015-07-16 03:57] gdi2290 commented on #3026
@vsavkin I ran into this problem while trying to fix the https://github.com/angular/angular/pull/2856 it turned out everything worked once I included all the directives. For some reason only including one creates this side effect. Here's my test to try to reproduce the undefined array https://github.com/angular/angular/pull/2884 (worked locally but not in travis)

[2015-07-16 03:58] tbosch commented on #1931
This is now possible via this construct:

[code]

[2015-07-16 03:58] #1931 closed

[2015-07-16 04:00] tbosch commented on #2162
We now are using a new content projection that projects during compile time in master. I.e. we don't call `element.matchesSelector` when views are instantiated any more.

[2015-07-16 04:00] #2162 closed

[2015-07-16 04:31] vincentsong opened #3079 "Always get error: No provider for String!"
Hi guys,

  I am a newbie here, want to learn ng2, just followed the 5min quick start, but get the error below:

[Error] No provider for String! (MyAppComponent -> String)

BaseException@https://code.angularjs.org/2.0.0-alpha.26/angular2.dev.js:7173:34
AbstractBindingError@https://code.angularjs.org/2.0.0-alpha.26/angular2.dev.js:10580:70
NoBindingError@https://code.angularjs.org/2.0.0-alpha.26/an

[2015-07-16 05:36] jeffbcross commented on #3077
Thanks for pointing that out. I've published from the 2.0.0-alpha.31 tag and verified. I also added steps to our release doc to make sure the releaser checks npm and pub after running scripts. I forgot that the script has an issue where it doesn't actually follow through with publishing, presumably because we're not passing -f on this line, and `pub publish` prompts before actually publishing: htt

[2015-07-16 08:27] jpsfs opened #3082 "Document how to compile an Angular application from the NPM distro, without DefinitelyTyped"
Hi!

Would it be possible to automatically include, on each release, the correspondent typings file?

The current process of pushing the files to https://github.com/borisyankov/DefinitelyTyped is good, specially because we can use tsd to get them, but it's not in sync with your release process.

@alexeagle @jeffbcross

Cheers!

[2015-07-16 08:40] beataa commented on #3065
Great, thanks for the info Brain.

[2015-07-16 10:52] rolandjitsu commented on #2616
@btford it's in the same [repo](https://github.com/rolandjitsu/ng2-play), I just updated to latest (alpha `31`) and I tried to remove `as`. You can clone it and try it (I used Chrome `44.0.2403.89`).

[2015-07-16 13:08] cexbrayat opened #3083 "Router links badly generated"
I may be missing something, but with alpha 31, links that were like :

    <a [router-link]="['/user', {'id', user.id}]">see user</a>

were generating '/users/1' urls and now generates '/users;id=1'.

With a router config :

    {path: '/users/:id', component: UserCmp, as: 'user'},

Looks like it is related to matrix parameters introduced by @matsko in 5677bf73 , but maybe it is the intended behav

[2015-07-16 13:43] masaeedu commented on #3082
There seem to be .d.ts files that define the contracts exposed by the module in the root of the npm package, although I can't really figure out how to use them, since they don't seem to wrap their exports into a named external module. You have to reference the .d.ts files by path, which is inconvenient. Perhaps someone more familiar with TypeScript can comment on the correct way to use these.

[2015-07-16 13:51] jpsfs commented on #3082
Hi @masaeedu,

The angular2.d.ts on the npm package directly results of the compilation of ts/angular2.ts. It's not a usable set of **angular2 typings** .

To my knowledge you can't use it 'as is'.

angular2.d.ts should be something similar to https://github.com/Fincodr/DefinitelyTyped/blob/master/angular2/angular2.d.ts

Cheers,

[2015-07-16 14:10] TiagoBraga39 opened #3084 "Router and Nested Router Problems"
Hi all !
I may be not understanding something, but this is my main router:

[code]

[code]

----
<h1>Problem 1:</h1>
I have this on my router component construtor:
[code]
And if I don´t, i can't get to the specified page on F5 (refreshing page).
Also: (location._location.hash) is the only way to get the hash that has value (for example): '#login'.

----
<h1>Problem 2:</h1>
If i have that redirect

[2015-07-16 15:32] tbosch commented on #3013
Here is a PR that verifies that we can set properties, attributes and classes on the root element: https://github.com/angular/angular/pull/3085

However, what does not work is using `[class]`. Angular right now only supports using `[class.a]` or using `[className]`.

[2015-07-16 15:32] tbosch commented on #3013
Or you can use `[attr.class]`.

[2015-07-16 15:39] justindujardin commented on #2912
I dug into this a little bit, and it appears that the implementation that wraps requestAnimationFrame is flawed in zone.js.

I filed an issue over there: https://github.com/angular/zone.js/issues/143

[2015-07-16 15:42] tbosch commented on #3013
Checked with @matanlurey that this is ok.

[2015-07-16 15:43] TiagoBraga39 opened #3086 "Http Requests and Http Injectables"
Hi all !

I think httpInjectables are not working completely...

----
<h1>Problem 1</h1>
This is my Service:
[code]

Which throws this:
![image](https://cloud.githubusercontent.com/assets/8090726/8727749/40ccbbdc-2bd9-11e5-9138-7e06c739f737.png)

This is my bootstrap:
[code]
----
But <b>only</b> if I change my bootstrap, I can run the code..
[code]

Any ideas why is this happening?
I mean, if I wa

[2015-07-16 15:44] alexeagle commented on #3082
We have an open research topic to determine how you could use the files distributed via npm as inputs to typescript compiler, along with your sources, to do the Right Thing. It should be possible with only the `.ts` files in the distribution, since they provide typings as well as implementation.

I am planning to figure this out sometime.

[2015-07-16 15:51] matanlurey opened #3087 "ElementInjector errenously ignores imperativelyCreatedInjector"
https://github.com/angular/angular/blob/master/modules/angular2/src/core/compiler/element_injector.ts#L493:

[code]

This means, when you use `DynamicComponentLoader`'s `loadNextToLocation` (or other methods like) it and pass `bindings`, they are ultimately ignored when constructing the new injector.

@vsavkin (thx @tbosch for helping track this down with me)

[2015-07-16 16:27] vsavkin commented on #3076
Turns out it is not an issue

[2015-07-16 16:27] #3076 closed

[2015-07-16 17:00] #3075 closed

[2015-07-16 17:01] matanlurey opened #3089 "Dart: DebugReflectionCapabilities's logging should not duplicate an application's"
https://github.com/angular/angular/blob/master/modules/angular2/src/reflection/debug_reflection_capabilities.dart#L16 has the following:

[code]

Unfortunately, most applications will usually install their own logger, so this means that all logging messages are duplicated. Ideally, DebugReflectionCapabilities would not install a root logger.

[2015-07-16 17:03] vsavkin opened #3090 "Do not rely on the fact that types are canonicalized"
Currently we have this check in Injector: `key.token === Injector`.This does not work in Dart in certain situations.

[2015-07-16 17:21] kevmoo opened #3091 "ng-if failing in dart2js (works in Dartium) - regression from alpha-29"
`Unsupported directive record in [root != null in ClientApp]`

`<div class="loaded" *ng-if="root != null">`

Related to https://github.com/angular/angular/issues/2984 ?

Release: alpha-31

[2015-07-16 17:28] masaeedu commented on #3082
@alexeagle @jpsfs In case you're interested, I've managed to find a slightly hackish workflow that allows me to use the .d.ts files from the npm package directly. I create a symlink named `angular2` adjacent to my tsconfig.json, pointing to the subdirectory where the angular2 npm package resides (I'm using jspm, so for me this is under <project root>/jspm_packages/npm/angular2@<version number>). T

[2015-07-16 17:39] #3013 closed

[2015-07-16 17:43] alexeagle commented on #3082
Thanks, that's really good info. We have an open Feature Request to the
typescript team to support multiple include paths, which I think would
achieve the same thing as your symlink.

On Thu, Jul 16, 2015 at 10:28 AM Asad Saeeduddin <notifications@github.com>
wrote:

[2015-07-16 18:08] btford commented on #2777
Moving this back to the backlog; it's not urgent, and becomes trivial to implement once #3069 lands.

[2015-07-16 18:20] rkirov commented on #3016
All Query methods are by explicitly typed now.

[2015-07-16 18:20] #3016 closed

[2015-07-16 18:20] #3077 closed

[2015-07-16 18:24] alexeagle opened #3094 "Remove traceur from node_tree"
Carved off from #2829

We compile to ES5/commonjs for running our tests in node. Currently this uses traceur but it shouldn't need to.

[2015-07-16 18:25] alexeagle commented on #2829
Carved out a subtask in #3094
and pushing the remaining work until later.

[2015-07-16 19:05] bryantharpe opened #3096 "HTML5LocationStrategy fails to update path on router.navigate"
It appears that only the HashLocationStrategy updates the url on calls to router.navigate. When I change my LocationStrategy to the HTML5LocationStrategy the urls no longer update when navigating from *"/products/:productId" -> "/"*. The navigation does occur, though.

This is happening on Alpha.31.

The code I'm using is below.

# Component Controller code
[code]

# Routes
[code]

# Bootstrap
[co

[2015-07-16 19:18] bryantharpe commented on #3083
I was able to generate URLs correctly in alpha 31 using the style below. The odd part is though, that it required me to reference the route by its name, but add a slash in front of it like I was referencing it by its path. I assume this is a bug, but, it got me going.

[code]

[code]

[2015-07-16 19:22] Zyzle commented on #3096
Does your entry point page specify a `<base>` tag?  I found similar behaviour a few milestones back (~28 I think) when my app didn't have the base tag.

[2015-07-16 19:38] bryantharpe commented on #3096
Thanks for the tip. I just added a base tag and it works now.  Is that always going to be required for the HTML5 Strategy? Not exactly hard to add to the page, so, not that big of a deal.

[2015-07-16 19:41] cexbrayat commented on #3083
That may be a mis configuration on my part : it indeed works if I tweak some things. Weird that it was working with the previous alpha, but well... I'll close for now.

[2015-07-16 19:41] #3083 closed

[2015-07-16 20:26] btford commented on #2616
Great. Thank you!

[2015-07-16 20:40] jteplitz602 opened #3097 "MessageBroker should deserialize return values"
Currently the worker renderer is deserializing the return values but it doesn't make sense to have the broker serialize and the renderer deserialize. The broker should do both.

[2015-07-16 20:46] btford commented on #2616
This'll take a bit of time for me to investigate, but I've tentatively slated a fix for alpha-33.

[2015-07-16 20:49] jhades commented on #1792
If tabs is a `@Component` instead of a `@Directive` then `@Query(Tab)` works, just tried a case like that in alpha-31 and it works fine.

It seems that this does not work only if its a parent `@Directive`querying children directives.

[2015-07-16 20:53] btford commented on #2845
I think it'd be good to start talking about this feature a bit more because the AST transformer bits will be an important generic mechanism for features besides just the route-link DSL. I'm going to start an email thread to figure out when to slate the feature, and then follow up with GitHub issues so we can discuss publicly.

[2015-07-16 21:30] gajus commented on #2845
It would be nice to have a more user friendly error. I have spent the last 2 hours trying to understand whats causing:

[code]

when declaring `router-link` using `<a router-link='red'>Red</a>` syntax.

With help from @gdi2290, I have discovered this thread.

[2015-07-16 21:44] btford commented on #2845
@gajus– noted. Better error messages are a theme for me for this current iteration.

[2015-07-16 21:50] matanlurey commented on #3087
As discussed in planning, this is now a P0.

[2015-07-16 21:54] kegluneq commented on #2898
/cc @sigmundch Not urgent, but is there a way other than reflection to determine if an instance of `Type` implements some arbitrary interface `A`?

[2015-07-16 22:02] uber5001 opened #3098 "Tsc should not let public methods require parameters/return values of a private type during build"
When running tsc manually against the sources in `modules/angular2`, these errors are given:

	src/change_detection/parser/lexer.ts(35,50): error TS4063: Parameter 'type' of constructor from exported class has or is using private name 'TokenType'.
	src/directives/ng_for.ts(94,34): error TS4070: Parameter 'tuples' of public static method from exported class has or is using private name 'RecordViewT

[2015-07-16 22:10] sigmundch commented on #2898
@kegluneq - unfortunately can't think of any other way.

[2015-07-16 22:19] #3090 closed

[2015-07-16 22:48] #3094 closed

[2015-07-16 22:48] alexeagle commented on #3094
merged in 3f6dd6c

[2015-07-16 22:52] tbosch opened #3101 "Reserve the namespace "angular" on npm"
Right now, Angular only has the npm packages `angular` and `angular2`. However, npm introduced namespaces, which will allow to do things like `npm install @angular/framework`.

The problem is that the namespace `angular` is owned by somebody else, see https://www.npmjs.com/~angular

We should ping that person and ask whether we could have the namespace...

[2015-07-16 22:53] gdi2290 commented on #3101
:+1:
and `npm install @angular/cli`

[2015-07-16 23:24] alxhub commented on #2384
I've determined how I'm going to do this - `$basePath` will be string-replaced into the HTML string during ViewLoader._loadHtml with the relative base path of the template file (if loaded from a template URI) or the component (if the template is inlined).

[2015-07-16 23:39] #2261 closed

[2015-07-17 00:33] siggisim opened #3102 "Feature request: $last support in ng-for"
Would like to be able to do something like:

[code]

[2015-07-17 02:04] rkj opened #3104 "input type=radio not handled correctly by ng-model"
For this snippet:

      {{selected}}
      <div *ng-for="#value of allValues">
        <input type="radio"
               name="group"
               [(ng-model)]="selected">
          {{value}}
        </input>
      </div>

It will select the first value correctly, but then all the follow up changes are ignored.

[2015-07-17 02:08] matanlurey commented on #3102
Just to clarify, you can do `var items of items, var last = items.length - 1` today, right?

[2015-07-17 02:11] matanlurey commented on #3102
Also, this makes sense for a `List`, but what if it is an `Iterable` and doing a length calculation is expensive?

[2015-07-17 02:29] vincentsong commented on #3079
Anyone could help me??

[2015-07-17 02:52] btford commented on #2775
I have some work done on this, but not enough for a PR. I'm going to punt this to next week to prioritize bug fixes. @matanlurey has encountered some problems that he's going to file issues for.

[2015-07-17 03:42] gdi2290 commented on #3079
@vincentsong are you free for a screensharing? I can debug it with you

[2015-07-17 06:32] btford commented on #2845
Looking closer at that error, it originates from change detection. I could add something at the RouterLink boundary, but this seems like a case where change detection could produce a better error in general.

@rkirov @tbosch – would this be possible?

[2015-07-17 06:45] gajus commented on #2845
Knowing what has caused the error, the error itself makes more sense. That said, using a stack trace to locate the interpretation of the attribute value is impossible. If the error were what it is, but the stack trace was easy enough to see that the value of a property is being treated as an array, it would have been enough to trigger suspicion that I am using wrong syntax. You cannot make every d

[2015-07-17 06:53] btford commented on #2845
@gajus I'm not suggesting that an end user should have to look at the stack trace to make sense of things. I'm suggesting we improve the error message at the change detection level rather than the RouterLink level. This strategy is more general while also helping users diagnose this specific case.

[2015-07-17 06:58] btford commented on #2201
What version of Angular?

And is there any chance you could provide a reproduction via [jsbin](http://jsbin.com/), [plnkr.co](http://plnkr.co), or [jsfiddle](http://jsfiddle.net/)?

This would be helpful in verifying the bug. Thanks!

[2015-07-17 07:44] gajus commented on #2845
@btford Its me who is suggesting that the end user should be able to look at the stack trace to make sense of things. This strategy is more general while also helping users diagnose this specific case.

[2015-07-17 08:01] Zyzle commented on #2201
I couldn't get my example to work on plnkr but a the simplest example I could come up with is here:

https://gist.github.com/Zyzle/7413efdf86e6fc7c0bfe

[2015-07-17 14:12] Y-Less opened #3108 "Ignore whitespace in bindings"
I have this component template:

[code]

For aesthetics, I originally wrote it like this:

[code]

Obviously so that all the similar tests line up, but done like this they are not set correctly until I delete the trailing spaces.  I also don't know if there is a better way to do this, but I'm still playing.

[2015-07-17 14:32] matanlurey commented on #3086
You need to add HTTP injectables, because Angular can't possibly know *what* you intend to use across your application. For example, you may use a 3rd party HTTP or Router solution.

[2015-07-17 14:42] gdi2290 commented on #3086
the first problem is due to appInjector(boostrap bindings) vs viewInjector vs hostInjector

the second problem might be solved with https://github.com/angular/angular/pull/2667 and https://github.com/angular/angular/pull/2882

[2015-07-17 14:47] gdi2290 commented on #3108
yeah that does make sense

[2015-07-17 15:10] pkozlowski-opensource commented on #3108
This kind of does make sense but I'm not sure we can do much about it since if you type `<div [class.alert-info   ]="getAlertType() == 2"></div>` a browser sees it as a `<div>` with _2_ attributes:
* `[class.alert-info`, no value
* `]` with the `getAlertType() == 2` value

So this is kind of "broken" by a browser before AngularJS can do anything about it... The only way of "solving" this issue wou

[2015-07-17 15:10] #3108 closed

[2015-07-17 15:11] Y-Less opened #3109 "Generic [class] binding."
I wrote some code so that `getAlertType()` would return a string, and set the template to (following on from issue #3108):

[code]

The important part being:

[code]

However, running this gives:

[code]

I have found references to this being valid syntax in #2765 so that implies that the fact that it doesn't work is a bug (or an as-yet unimplemented feature, but I also couldn't find reference to

[2015-07-17 15:16] Y-Less commented on #3109
I also tried returning an object looking like `{'name': true}` (as implied in #2765) but no dice.

[2015-07-17 15:26] pkozlowski-opensource commented on #3109
It already works with the class directive: https://github.com/angular/angular/blob/master/modules/angular2/src/directives/class.ts

You just need to make sure that it is referenced in your @View annotation

[2015-07-17 15:26] #3109 closed

[2015-07-17 15:44] jeffbcross opened #3110 "feat(Observable): swap underlying RxJS implementation used by EventEmitter with RxJS-Next"
I've already started on this, but breaking it into its own task instead of lumping in with #2794.

This will be a breaking change since the API of the observable returned from `toRx()` will be different. Semantically, `EventEmitter` should not change.

https://github.com/reactivex/rxjs

[2015-07-17 15:46] jeffbcross commented on #2794
Removing from Alpha-32 in favor of the more focused #3110 task.

[2015-07-17 15:51] Y-Less commented on #3109
Missing it on the View annotation was the problem, I just wasn't expecting to have to specify that since you don't for any other attribute, or even any explicit `[class.x]`.  Thanks.

[2015-07-17 15:51] vsavkin opened #3111 "Run unit and e2e tests in the checked mode"

[2015-07-17 16:07] john-schulz opened #3113 "router-link/router-outlet refresh"
When you use `<a router-link="foo">Link</a>` with an accompanying `<router-outlet></router-outlet>`, the proper component's template appears in the outlet. The issue is when the user refreshes (on the proper URL extension, i.e., `localhost:8080/foo`), no templates are loaded (including the original app's template), leaving the page blank. As far as I can tell, what's happening is that as that URL

[2015-07-17 16:12] masaeedu commented on #1802
One of the problems this creates is that it is no longer possible to create components that do not break styling rules such as `.navbar-nav>li`. If I'm creating a component that will output the `li` and all descendant content, the component will appear as a node in the DOM, and hence break the `.navbar-nav>li` rule.

The reasoning presented above is very convincing, but please provide us with some

[2015-07-17 16:13] siggisim commented on #3102
For an iterable, this would be true if hasNext is false. The length approach wouldn't work for iterables. A workaround that we're using right now is item == items.last, but this has issues if equals is overridden.

[2015-07-17 17:40] kevmoo commented on #3091
Just tried to repo with 5b597de – everything looks good. Closing.

[2015-07-17 17:40] #3091 closed

[2015-07-17 17:43] #3098 closed

[2015-07-17 17:44] alexeagle commented on #3098
I had trouble reproducing this. But @mhegazy  is working to change our broccoli build to stop ignoring some TS errors, after which I think we'll have proper enforcement that this doesn't regress.

[2015-07-17 17:45] kevmoo opened #3117 "Dart: support observe '>=0.13.1'"
Hard-wired to 0.13.1 at the moment. We'd like to support future releases as well.

Per https://github.com/angular/angular/commit/d449ea5ca40d8d5904feee2fa92f27e3ffc5616b#commitcomment-12230154

[2015-07-17 17:51] #3021 closed

[2015-07-17 18:02] btford commented on #3113
What version of Angular? And can you please steps to reproduce?

[2015-07-17 18:05] juliemr commented on #2783
Here is a working example of a unit test written using dart:test, using the test injector and TestComponentBuilder: https://github.com/juliemr/angular/tree/test-lib-package-2/darttest

Next up I'll be adding useful helpers from test_lib.

[2015-07-17 18:07] matsko commented on #2650
I'm going to continue working on this today.

[2015-07-17 18:10] btford commented on #2616
I have some time today, so I'm going to try to reproduce.

[2015-07-17 18:15] TiagoBraga39 commented on #3086
Thank you both for replying!
About the httpInjectables: imagine i have an application that does not need http requests, and you have a component that I found very useful, I would like to had the component, but that component of yours uses http.
Again, i should only importante your component, nothing more.. But that's my opinion..

Still, gonna close this.

Best regards,
Tiago Braga

[2015-07-17 18:16] tbosch opened #3120 "benchpress docs should be provided as g3docs in G3"
We need to rename the `docs` folder into `g3docs` when deploying benchpress to G3. We probably also need a `METADATA` file that describes the layout, ...

[2015-07-17 18:19] btford commented on #2616
This is already improved in master via 8bdca5c03ef675dfcc39111cf3429904711ab507, specifically here: https://github.com/angular/angular/commit/8bdca5c03ef675dfcc39111cf3429904711ab507#diff-b9cb9abe596c64a002082ac6c05d696eR182

Instead of the NPE, you'll get a message like `AppCmp has no route named "todos"`.

[2015-07-17 18:19] #2616 closed

[2015-07-17 18:24] btford commented on #3096
@bryantharpe you either have to add a `<base>` tag or set an app base href like this: https://github.com/angular/angular/blob/master/modules/angular2/test/router/router_integration_spec.ts#L78-L90

Currently the router uses `document.baseURI` to determine the base URI. I think it might be better to remove this option entirely and make the app base href binding required.

[2015-07-17 18:33] #3086 closed

[2015-07-17 18:42] bryantharpe commented on #3096
Thanks for the input @btford That makes more sense, I went ahead and updated my code to work like that.

[2015-07-17 18:49] rolandjitsu commented on #2616
@btford but there is a route config, so what I don't understand is why does it throw the exception since the route is configured?

Sent from my iPhone

[2015-07-17 18:50] vsavkin commented on #3117
@kevmoo can you submit a PR with the fix?

[2015-07-17 18:50] vsavkin commented on #3026
Fixed via https://github.com/angular/angular/commit/13b1d850586dab3d02ba0b06dc417a29203933fe

[2015-07-17 18:50] #3026 closed

[2015-07-17 18:51] btford commented on #2777
This should now be super easy– you'd just have to add the appropriate fields to `RouteDefinition` classes: https://github.com/angular/angular/blob/13b1d850586dab3d02ba0b06dc417a29203933fe/modules/angular2/src/router/route_config_impl.ts

And then create a binding when the dynamic component is loaded: https://github.com/angular/angular/blob/13b1d850586dab3d02ba0b06dc417a29203933fe/modules/angular2/

[2015-07-17 18:52] uber5001 opened #3121 "decorators.ts needs parameter names in function signatures"
currently, some interfaces provided by `modules/angular2/src/di/decorators.ts` don't have parameter names:

    export interface AncestorFactory {
      /* should be (ParamNameHere?: {self: boolean}): any; */
      ({self: boolean}?): any;
      new ({self: boolean}?): AncestorMetadata;
    }

This is not being caught in the compilation step due to Microsoft/TypeScript#3912

[2015-07-17 19:02] kevmoo commented on #3117
Way ahead a ya https://github.com/angular/angular/pull/3118

[2015-07-17 19:20] jeffbcross commented on #3121
Dupe of #3062

[2015-07-17 19:20] #3121 closed

[2015-07-17 19:23] ehjay opened #3123 "angular.io > Step By Step Guide > User Input has small typos"
In the User Input page of the angular.io docs:

https://angular.io/docs/js/latest/guide/user-input.html

under the Final Code section there are two typos. Need to change "ngfor" to "ng-for" and "NIf" to "NgIf". That is:

[code]

should be

[code]

and

[code]
should be
[code]

[2015-07-17 19:26] vsavkin commented on #3117
Thank you so much!

[2015-07-17 19:28] btford commented on #2201
I suspect that the problem is that `Router` calls `pushState` again after a navigation resulting from a popState event.

[2015-07-17 19:29] john-schulz commented on #3113
Alpha-28, as Alpha-31 and Alpha-30 was not working properly for the `<a router-link='foo'>Link</a>`.

[code]
and
[code]

index.html
[code]

When I would select the link for `AboutLink`, it would display everything in the `<router-outlet>` area fine as well as make the URL `localhost:8080/about`. That's all fine and dandy.

When I would refresh the page at that URL, the page would appear blank. Upo

[2015-07-17 19:34] #3117 closed

[2015-07-17 20:04] #3062 closed

[2015-07-17 20:34] kegluneq commented on #906
/cc @sigmundch

[2015-07-17 20:48] sigmundch commented on #906
fwiw - I tried this locally a couple weeks ago and it seemed possible to do this even with private properties if we are willing to put the definition of this object directly in reflector.ts

[2015-07-17 21:09] #3096 closed

[2015-07-17 21:13] btford commented on #3113
You're missing a base href tag in your HTML.

Until now, the router didn't give a good error message about this, so it was definitely a confusing point. I just landed 011fab37af626535c1d5af7091d72e27d93f4391 which gives a more prescriptive error message.

This issue is a duplicate of #3096 – see the discussion there for more.

[2015-07-17 21:13] #3113 closed

[2015-07-17 21:17] cadubentzen opened #3128 "ng-blur doesn't work. Chrome Ubuntu 14.04 and Chrome Android"
Obs: I don't have any Angular extension on my Chrome.

[2015-07-17 21:29] matanlurey commented on #3087
Investigated. A repro case is possible by doing:

[code]

Where `<dynamic-box>` exposes itself via `DynamicComponentLoader`:

[code]

[2015-07-17 21:33] matanlurey opened #3130 "Bug: (^keyup) on a parent element/component does not seem to function"
For example, if `MaterialInputComponent`'s template was `<input type="text">', doing the following:

[code]

Should be legal. It's working for me with `keydown` and `keyup.enter`, but not standalone.

[2015-07-17 21:47] kevmoo opened #3131 "FunctionWithParamTokens.execute should return the result of apply"
Most useful for async methods

[2015-07-17 21:47] kevmoo commented on #3131
CC @juliemr

[2015-07-17 21:49] john-schulz commented on #3113
My sincerest apologies. I should have looked more in depth at the issues. Thank you for pointing out my problem. Good luck with the rest of development!

[2015-07-17 21:58] #3128 closed

[2015-07-17 22:04] btford commented on #3084
You should not have `#` in your route config. This will become an error in alpha-32. Change `#home` to `home`, `#commercial/...` to `commercial/...`, etc.

You want to bind `LocationStrategy` to `HashLocationStrategy` if you want hashchange routing.

Try out these changes and let me know if you're still having trouble.

[2015-07-17 22:11] TiagoBraga39 commented on #3084
I used those because the url path would become "<host>/index.html/<page>", which is a static url,  and refreshing the page would not work.
I also tried to bind, but I will again.

Will reply as soon as I am at work again :+1:

[2015-07-17 23:18] #3087 closed

[2015-07-18 12:46] gajus opened #3139 "ES6 builds do not export all components"
ES6 builds (dev, build), specifically, the `./es6/{dev|prod}/angular.js` file does not export all the required components (`bootstrap`, `Component`, `View`, to name a few).

The generated file is (build 31):

[code]

when it really should be the eqv. of the base `./angular.js`:

[code]

At the moment, if you attempt to load angular2 using [webpack alias](http://webpack.github.io/docs/configuration

[2015-07-18 12:51] gajus commented on #3139
A temporary workaround is to copy `./angular.js` over `./es6/dev/angular.js`. That seem to work OK.

[2015-07-18 13:07] gajus commented on #3139
Another temporary workaround is to remap files using webpack:

[code]

[2015-07-18 15:12] SekibOmazic commented on #3123
@ehjay You can close the issue here. It belongs to another repo and I've made a PR based on your comments.

[2015-07-18 16:08] #3123 closed

[2015-07-18 22:02] justindujardin commented on #3015
This is also reproduced in my application.  https://justindujardin.github.io/angular2-rpg/

[code]

[2015-07-19 03:00] masaeedu opened #3140 "BindingBuilder no longer seems to have a `toAsyncFactory`"
I'm using alpha 31 and the `BindingBuilder` returned by `bind` no longer seems to have the `toAsyncFactory` method that allows you to specify a `Promise` returning method that can resolve the service. Is there a new way of doing this?

[2015-07-19 04:50] masaeedu commented on #3140
Dupe of #2813

[2015-07-19 04:50] #3140 closed

[2015-07-19 05:01] masaeedu commented on #2813
It's weird that it's been removed, but if the team is taking suggestions on what shape it should take on in the future, it would be great if we had something similar to the following:

    class FooServiceFactory {
        @InjectorFor(FooService)
        static loadFooService(): Promise<FooService>() {
            // Return a promise that resolves to an instance of FooService
        }
    }

[2015-07-19 09:10] VirtualOverride opened #3141 "Cannot find external module 'angular2/http'"
I dont know where to submit this, i used the latest angular.d.ts v2.0.0-alpha.31 and angular.dev.js v31. when i execute the tsc or compile my typescript code it says "Cannot find external module 'angular2/http'"

[2015-07-19 09:12] gdi2290 commented on #3141
this is due to missing type definitions (TypeScript thing)

[2015-07-19 09:16] VirtualOverride commented on #3141
@gdi2290
so any suggestion what version of .d.ts should i use? in order the http module will work? by the way i use TS 1.5 beta.

[2015-07-19 09:24] gdi2290 commented on #3141
yeah, just include this somewhere (tsconfig file) then TypeScript will figure it out.
[code]
If you need a starter repo you can check out this one [angular2-webpack-starter](https://github.com/angular-class/angular2-webpack-starter) (feedback welcome). If this works for you then you can close the issue

[2015-07-19 10:24] VirtualOverride commented on #3141
@gdi2290 many thanks for this. this what i did. i create angular2.http.d.ts on the typings folder then i add this as reference to tsd.d.ts it works on me. and i will try to look at your webpack starter. again thanks.

[2015-07-19 10:24] #3141 closed

[2015-07-19 14:23] b0ri5 opened #3142 "Forms: Include the "angular2/forms" module in angular2.d.ts"
I'm attempting to follow some examples related to using forms in angular2 and it looks like there is no easy way to just start importing from "angular2/forms" since the angular2.d.ts file does not include definitions for it.

The module does seem to be registered in https://code.angularjs.org/2.0.0-alpha.30/angular2.dev.js though.

I'm currently trying to work around the issue, but figured I'd fil

[2015-07-19 14:46] DavidGangel opened #3143 "Router: Current status of sibling outlet support"
Hi,

I would like to get an update about support of sibling outlet in the new router for Angular2.
I've read this article (~1 month old):
http://blog.thoughtram.io/angular/2015/06/16/routing-in-angular-2.html
And mentioned:
Attention:
The components property has been removed as of #2329 but the feature will be reintroduced with a different mechanism.

The linked issue is closed by splitting up the

[2015-07-19 15:08] DavidGangel opened #3144 "Add support for manipulating meta tags inside the head element"
Hi,

I think it would be quite useful if meta tags could be manipulable through Angular app.
I mean there are some meta tags like:
Meta Description Attribute or Meta Robots Attribute
that are related to the current sub-page and are not global tags for the whole "domain" and so to the global app. It means it's not enough to set them only once during the page load.

Would be nice if these tag inform

[2015-07-19 15:14] DavidGangel commented on #3006
Okay, thank you.
Raised ticket for meta manipulation under:
#3144

[2015-07-19 20:00] gdi2290 commented on #3144
Can you elaborate a bit more about your use case so we can understand your requirements? For example, "My analytics sdk doesn't have a web client and it reads the meta tags" or "I care about SEO and I want my app to be visible to search engine crawlers or Facebook previews". From my understanding of Meta tags, they're only useful for web crawlers (google search and facebook/twitter preview) which

[2015-07-19 20:20] danicomas opened #3145 "When is better to use NgForm and when NgFormModel?"
Should I use NgFormModel or NgForm? @davideast @btford?

* Ng-Form-model
[code]

By this way you can define the validators and the bindings of your models in the class (centralized).

We don't need ng-model

* Ng-Form
[code]

It is the same way that exists in Angular 1.X.

Sometimes ng-control than ng-model is redundant (it could be the the answer :D)

[2015-07-19 21:29] yjbanov commented on #906
I'm going to bump the priority on this as we're entering the optimization phase.

[2015-07-19 22:01] yjbanov commented on #2898
@sigmundch is there a reason for the lack of support for this at the language level? It seems the amount of runtime information should be the same whether you support `obj is SomeInterface` (which is supported) or `SomeInterface.isAssignableFrom(otherType)`.

[2015-07-20 09:25] TiagoBraga39 opened #3146 "Http Headers"
Hi all!

Just wondering why we have Http "Headers" class.

I don't think its' functionality is clear.

<b>The code:</b>
[code]

<b>And the req object:</b>
![image](https://cloud.githubusercontent.com/assets/8090726/8773020/eb5ff0b8-2ec8-11e5-961f-222aa3827e4c.png)

----
As you can see, headers is not a json (of course it's an object), but how can I use this class to add headers to my http request?

[2015-07-20 09:44] intellix commented on #3144
Titles aren't just useful for crawlers. It changes the name of the tab, which is useful to have change as you traverse an app: `Homepage - mywebsite.com`

[2015-07-20 09:46] TiagoBraga39 opened #3147 "Http Request Subscribe Try Catch Finally Clause"
Hi all!

As far as I am concerned, I can't use the common try catch finally clauses on a http request.
I tried 2 ways to do so.

<h1>Request object</h1>
[code]
---
<h1>Option 1:</h1>
[code]
---
<h1>Option 2:</h1>
[code]
---
<h1>Result:</h1>
None of them trigger the finally clause.

<h3>Source for option 1:</h3>
![image](https://cloud.githubusercontent.com/assets/8090726/8773455/54306a20-2ecc-11e5-

[2015-07-20 09:47] pkozlowski-opensource commented on #3144
@intellix changing title is already supported with the Title service.

[2015-07-20 11:53] mourahi opened #3148 "add ' to (mouseover)"
the documentation for Directive here https://github.com/angular/angular/blob/master/modules/angular2/docs/core/02_directives.md

must add '  to (mouseover) like that :

 host: {
    '(mouseover)' : 'show()'
 }

thanks

[2015-07-20 11:59] pkozlowski-opensource commented on #3148
@mourahi I'm probably to sloppy to notice where it needs to be added but after the quick scan of the doc I can see that it is there: https://github.com/angular/angular/blame/master/modules/angular2/docs/core/02_directives.md#L70

Could you please point to the exact line, or - better yet, send a pull request with a correction?

[2015-07-20 12:04] mourahi commented on #3148
My english is very bad , sorry /

Here the problem :

[code]

in this example, you must add ' to (mouseover) like that :

host :{
   '(mouseover)' :'show()'
}

thanks and sorry

[2015-07-20 12:08] pkozlowski-opensource commented on #3148
@mourahi but I've linked to the exact line where the code is there: https://github.com/angular/angular/blame/master/modules/angular2/docs/core/02_directives.md#L70

Is there any other place where it should be added?

[2015-07-20 12:10] mourahi commented on #3148
No, that's the exact line .

[2015-07-20 12:10] #3148 closed

[2015-07-20 15:18] tbosch opened #3150 "Change merging of ProtoViews to be O(N) instead of O(N*DEPTH)"
The way we are merging proto views right now is an algorithm that merges bottom up for every components. This makes the overall runtime O(N*DEPTH) per component.

[2015-07-20 15:44] vsavkin opened #3151 "Form: Implement updateValue for ControlGroup and ControlArray"
Currently only Control has updateValue.

[2015-07-20 15:56] matanlurey opened #3152 "Ability to annotate a constructor for services/components with multiple constructors"
Right now the behavior is to use the default constructor, and it gives a warning, but it would be nice to remove the warning from the build step by annotating a constructor we want.

[2015-07-20 16:03] #3131 closed

[2015-07-20 18:02] csuwildcat opened #3155 "Microsoft Edge compat"
Hey there Angularians,

I am working on assessing, cataloging, and triaging library compat with Microsoft Edge. Do you know the version compat range for Angular in Edge? Are all versions fully operable in Edge? Also, do you have any bugs that block features or compat I can help with or escalate?

[2015-07-20 18:08] jpsfs opened #3156 "baseHref - HTML5LocationStrategy"
Hi,

I'm having some troubles with setting up a simple angular2 app with routing, when it's served directly through the server root. Example:

[code]

Where / is the root url of the http server.

Right now, navigating to **/home** or **/login** results in the same as navigating to **/**. After some investigation the problem seems to be the result of *normalize*: (inside location.ts)

[code]

Besid

[2015-07-20 18:18] yjbanov commented on #2991
Bumping to alpha-33. This won't make it into alpha-32.

[2015-07-20 18:32] bryantharpe opened #3157 "Binding a model to div [innertext] throws error"
I'm getting an error binding a div to [innertext]="model.description in one of my templates.

If I change it to {{model.description}} it works fine, so I assume I'm binding to the wrong property but, thats the property name I would think to choose. I've also tried innerText, textcontent, and textContent.

Is there some other field I should be using fine. I saw it should just use the dom attribute

[2015-07-20 18:38] bryantharpe commented on #3157
Actually, closing this. Assume would likely cause browser issues anyways doing that.

[2015-07-20 18:38] #3157 closed

[2015-07-20 18:39] naomiblack commented on #2014
Raising prioirity -- this feature is needed by internal users to remove the hack workaround in #3019. @pkozlowski-opensource @mhevery can you sync on this today and update with status?

[2015-07-20 18:55] pkozlowski-opensource commented on #2014
@naomiblack sorry, just saw your message right now. I'm back from the trainings and can resume work on this starting tomorrow.

[2015-07-20 19:02] pkozlowski-opensource commented on #3157
@bryantharpe you need to remember that HTML is not case-sensitive so if you want to bind to properties with mixed case you need to use the snake-case to dashCase conversion. In short: `<div [inner-text]="model.description"></div>` should work (but in this case doing `<div>{{model.description}}</div>` is probably easier / better).

[2015-07-20 19:05] bryantharpe commented on #3157
Thanks @pkozlowski-opensource totally forgot about trying to flip it over to inner-text. Thanks for the tip. That said, agree that binding to inner-text is odd anyways. I changed it over to the {{prop}} syntax.

[2015-07-20 19:53] vsavkin opened #3160 "Add error context to InstantiationError"
See https://github.com/angular/angular/issues/2992

[2015-07-20 19:54] vsavkin opened #3161 "Add error context to ChangeDetectionError"
See https://github.com/angular/angular/issues/2992

[2015-07-20 19:56] danicomas commented on #3145
Is possible bind FormBuilder control with javascript variable (model)? @mhevery @davideast @btford? @jeffbcross

[code]

[2015-07-20 20:07] sigmundch opened #3162 "add value accessor for numbers in order_managerment & person_management samples"
Currently, running the examples in Dart (even Dartium without transformers) will throw an exception as soon as an input field with a number value is updated (e.g. change date of birth in person management, or limit in order_management).

@vsavkin

[2015-07-20 20:21] tbosch opened #3163 "Interpolated text is not always projected correctly"
This fails to project:

[code]

Reason: In the [ProtoViewMerger](https://github.com/angular/angular/blob/master/modules/angular2/src/render/dom/view/proto_view_merger.ts#L74) we don't add new `ng-binding` classes to elements into which bound elements are projected.

[2015-07-20 20:28] jeffbcross commented on #3110
Moved to alpha 33 since I'm still trying to figure out the proper way to load the new lib for tests and apps that consume angular.

[2015-07-20 20:32] mhevery commented on #2693
I think you should get a hold of an element in the view, and then get an element from there. That way you can always append as sibling wether or not there is shadow DOM.

I am closing because we are not planning on doing any work on making this simpler.

[2015-07-20 20:32] #2693 closed

[2015-07-20 20:42] mhevery commented on #2765
@pkozlowski-opensource any update on this?

[2015-07-20 20:45] mhevery commented on #2790
@matanlurey any update on this?

[2015-07-20 20:50] mhevery commented on #2869
shouldn't this be covered with existing syntax?

`<div [attr.my-boolean]="exp">`

* If `exp` is `"foo"` then `<div my-boolean="foo">`
* If `exp` is `""` then `<div my-boolean>`
* If `exp` is `undefined` or `null` then `<div>`

[2015-07-20 21:07] juliemr commented on #2783
Continues to be in progress, see https://github.com/juliemr/angular/tree/test-lib-package-3/modules_dart/angular2_test.

Bumping to 33, since this is non-urgent.

[2015-07-20 21:08] pkozlowski-opensource commented on #2765
@mhevery for me the main question is - should the `[class]="exp"` binding be a special-case in a compiler or a directive? If a directive I would rename it to `ng-class`, otherwise people might expect `[class]: exp` to work in host properties.

Could we have a short chat about it tomorrow?

[2015-07-20 21:11] jelbourn commented on #1168
@tbosch is this still blocked?

[2015-07-20 21:11] sjelin commented on #1610
No progress yet.  I'll do this this week.

[2015-07-20 21:12] alexeagle commented on #3030
Have started working on this with @tbosch but won't be done for this milestone.

[2015-07-20 21:18] matanlurey commented on #2790
Will get to this today. Sorry for the delay.

[2015-07-20 21:18] matanlurey commented on #2936
Verified.

[2015-07-20 21:18] #2936 closed

[2015-07-20 22:21] sigmundch commented on #2898
There has been some discussions on it, for example see: https://github.com/dart-lang/sdk/issues/23764

As for the amount of runtime information, it depends a lot on the representation we choose. In dart2js we don't represent the subtyping relations explicitly, we just store on each object whether it is of certain type (the `.$isFoo` properties). So the amount of information would be different to f

[2015-07-20 22:28] mhevery commented on #2355
verified closing

[2015-07-20 22:28] #2355 closed

[2015-07-20 22:32] mhevery commented on #2647
Have done a some of progress on this:

* #2918
* #2851
* #2852
* #2929
* https://github.com/angular/angular/pull/2996

[2015-07-20 22:35] mhevery commented on #2912
Should be assigned to @btford

[2015-07-20 22:37] tbosch commented on #1168
No,
it's not. We now have our own reprojection in place, and are free to decide whether we actually want to retarget events at all, as we are using a custom tag (`<ng-content>`) which does not interfere with the native `<content>` element.

[2015-07-20 22:41] kegluneq opened #3166 "Determine why ordering matters in render compiler / change detector generation code"
Currently, a mismatch of iteration order between the transformer & the runtime code can cause change detection to fail. https://github.com/angular/angular/pull/3165 works around this problem by stable sorting map keys before iterating, but we need to figure out why order matters and, fix the code to avoid that problem, and add a regression test to make sure it doesn't happen again.

[2015-07-20 22:43] jelbourn commented on #1168
@tbosch Retargeting is a must, even if we aren't using the native `content`. Without it, implementation details are leaked outside of a component's API surface area.

[2015-07-20 23:00] vsavkin commented on #3059
Closed via https://github.com/angular/angular/commit/4c8ea12903067a2ae281e9079f9ad7395e25bb44

[2015-07-20 23:00] #3059 closed

[2015-07-20 23:01] vsavkin commented on #2950
Closed via https://github.com/angular/angular/commit/d449ea5ca40d8d5904feee2fa92f27e3ffc5616b

[2015-07-20 23:01] #2950 closed

[2015-07-20 23:04] vsavkin commented on #2950
This is how you use it:

[code]

Any place that requests an iterableDiff and uses an ObservableList from the observe package, will use ObservableListDiff.

ObservableListDiff does the following:
- Diffs the collection only if the collection changes.
- It notifies change detection (needed for ON_PUSH change detection).

[2015-07-20 23:17] mhevery opened #3167 "Annotations not showing up in Documentation"
See docs for `ng-for` https://angular.io/docs/js/latest/api/directives/NgFor-class.html. Notice that the annotation from https://angular.io/docs/js/latest/api/directives/NgFor-class.html are not showing up.

There should be a separate section (above `Members`) called `Annotations` which should show:
[code]

[2015-07-20 23:59] matanlurey commented on #2950
Thanks! Will try this.

[2015-07-20 23:59] matanlurey commented on #2869
Yes, that sounds reasonable Misko. Thanks!

[2015-07-21 01:22] thelgevold opened #3168 "Bound CSSClass not replaced after router navigation"
I have noticed that a bound CssClass value is not updated after router navigation. The old value is not replaced by the new value during data binding. Instead it leaves the existing one behind and adds the new one next to it when it's rebound.

I am updating the class via a function which works ok on click, but for some reason the class is not replaced when navigating using the new router.

Elemen

[2015-07-21 04:32] matanlurey commented on #3168
I'm not sure this has anything to do with CSS class, but rather `location.path()` not updating.

[2015-07-21 05:22] TedSander commented on #3032
Closed by 5cc84ed4bb79e547361b46d61cca4e4efca7b631

[2015-07-21 05:23] #3032 closed

[2015-07-21 05:40] matanlurey commented on #1769
This might not be required anymore. Closing for now.

[2015-07-21 05:40] #1769 closed

[2015-07-21 05:40] #2074 closed

[2015-07-21 06:32] cristinecula opened #3169 "Template error when binding value in <style> tag"
Hello,

I'm experimenting with ng2, preparing to integrate it into a project when it's released. I used the https://github.com/angular-class/angular2-webpack-starter project as an inspiration for my build.

I'm trying to do something similar to this:

[code]

but I'm getting this error:

[code]

At the suggestion of @gdi2290 on Gitter chat, I also tried `{{ backgroundColor || '' }}` but the error

[2015-07-21 06:56] b0ri5 commented on #3142
Nevermind, it looks like everything required for angular2/forms is already in angular2.d.ts in the angular2/angular2 module and the model_driven_forms example showed how to use everything. I'm assuming that eventually forms and other modules will be split out. The following works with alpha.30 as an adaptation of https://www.youtube.com/watch?v=4C4bmDOV5hk at time 27:42

[code]

[code]

[2015-07-21 06:56] #3142 closed

[2015-07-21 07:55] gastrodia opened #3170 "angular router error when use CSSClass directive"
my html is link this:

<li  *ng-for="#item of items">

	<a href="javascript:;">

        <i [class]="item.icon"></i>

	<span >{{item.title}}</span>

	</a>

</li>

and then angular router throw errors:

SyntaxError: Failed to execute 'add' on 'DOMTokenList': The token provided must not be empty.
STACKTRACE:
Error: Failed to execute 'add' on 'DOMTokenList': The token provided must not be empty.

[2015-07-21 07:55] matsko commented on #3017
I've got something almost complete for this.

[2015-07-21 07:58] pkozlowski-opensource commented on #3170
@gastrodia please try with the latest release 2.0.0-alpha.31. You are testing against a almost 1-month old version and there is a lot of movement in the repo.

[2015-07-21 08:31] matsko commented on #3017
PR is here: https://github.com/angular/angular/pull/3171

[2015-07-21 08:36] gastrodia commented on #3170
Sorry, @pkozlowski-opensource I change to 2.0.0-alpha.31 and has the same error

[2015-07-21 08:41] gastrodia commented on #3170
SyntaxError: Failed to execute 'add' on 'DOMTokenList': The token provided must not be empty. in [start active  in null]

STACKTRACE:
Error: SyntaxError: Failed to execute 'add' on 'DOMTokenList': The token provided must not be empty. in [start active  in null]

    at ChangeDetectionError.BaseException (http://localhost:8020/resource/lib/angular2.dev.js:7713:25)
    at new ChangeDetectionError (h

[2015-07-21 11:20] stevemao opened #3172 "conventional-changelog 0.1.x is release"
Just wondering if you guys are cool to switch to the latest version. All issues with the CHANGELOG here or in any related repos are fixed. Because of the rewrite, the syntax is completely changed. A few people are using it and I've been using it but I haven't found any problems so far.
Related modules such as [conventional-github-releaser](https://github.com/stevemao/conventional-github-releaser)

[2015-07-21 12:13] jhades opened #3173 "default Pipes not on by default"
In alpha 31, the default pipes are not on by default. In an application bootstrapped without any extra configuration, the following code:

    {{'Hello World!' | uppercase}}

gets rendered as `Hello World!` instead of `HELLO WORLD!`. This is in a typescript setup, the problem can be reproduced like this:

- clone the [angular2-seed](https://github.com/mgechev/angular2-seed)
- npm install / gulp se

[2015-07-21 13:03] thelgevold commented on #3168
Yeah it might not be an issue with the css property itself. Seems to be an issue with updating the class when routing is the trigger that caused the bindings to be re-evaluated. What I am seeing is that the new bound value doesn't replace the old value. Instead you are left with both values - both new and old.
Works ok on button click though.

[2015-07-21 13:06] thelgevold commented on #3170
I have seen this issue when trying to bind an empty string to [class]. Changing it to undefined instead of blank string fixed it for me

[2015-07-21 13:16] pkozlowski-opensource commented on #3170
@thelgevold could you please share a minimal reproduce scenario for " trying to bind an empty string to [class]"?

[2015-07-21 13:21] #2833 closed

[2015-07-21 14:53] tbosch commented on #3166
I bet this is because we are recreating the change records when the application bootstraps. We already had a lot of issues that were caused because of this. How about we serialize the change records with the change detector during transformation? These two are clearly very tightly linked...

[2015-07-21 14:54] tbosch commented on #3166
I think we should bump the priority on this one, i.e. serializing the change records, to make our system more stable. @vsavkin @mhevery What do you think?

[2015-07-21 16:05] petebacondarwin commented on #3167
You mean these annotations:

https://github.com/angular/angular/blob/master/modules/angular2/src/directives/ng_for.ts#L43-L44

I can look into this on Thursday.

[2015-07-21 16:42] kegluneq commented on #3166
Serializing records is a great idea, though I remember looking at it a bit back and thinking it would be a bit tricky -- there's a lot in those records.

[Link to related issue](https://github.com/angular/angular/issues/2067)

[2015-07-21 16:47] btford commented on #3156
Duplicate of #3113.

See discussion there for more.

[2015-07-21 16:47] #3156 closed

[2015-07-21 16:49] alexeagle opened #3175 "static methods are missing from angular2.d.ts"
Reported in https://github.com/borisyankov/DefinitelyTyped/issues/4769

our current published .d.ts contains
[code]
but the original source in `forms/validators.ts` contains
[code]

[2015-07-21 17:00] pkozlowski-opensource commented on #2765
Based on discussion with @mhevery the current thinking is that we are going to special-case binding to `[class]` in the compiler. This will be done as part of the #2364, so closing this one here.

If anyone is against special-casing `[class]="exp"` binding, now is the time to speak up :-)

[2015-07-21 17:00] #2765 closed

[2015-07-21 17:42] alexeagle opened #3178 "Turn on typechecking for TypeScript with target ES6"

[2015-07-21 17:45] matanlurey opened #3180 "Directives: NgFor which takes a protoView from somewhere other than itself"

[2015-07-21 18:03] #2384 closed

[2015-07-21 19:18] kegluneq opened #3181 "directive_metadata_reader should take lifecycle interfaces into account"
Right now, directive_metadata_reader will not correctly populate its lifecycle booleans when lifecycle interfaces are implemented by a `Directive`.

The result is that interface-based lifecycle methods work in mirror mode but fail in transformed mode.

The workaround is to explicitly declare lifecycle methods in the `lifecycle` parameter of the `Directive`.

[2015-07-21 19:22] alexeagle commented on #3030
currently blocked on `pub serve`.
The issue is when we serve JSONP content. We serve a `.json` file (could be renamed to `.jsonp`) and it was previously served with no content-type. That's okay because strict mime checking was turned off in Chrome.
However, `pub serve` includes `X-Content-Type-Options: nosniff` header
https://github.com/dart-lang/sdk/blob/da0363172adaa266ef2d44cf87e09b61a185e79d/s

[2015-07-21 20:03] munificent commented on #3030
Huh. Maybe the cleanest solution is to have pub's MIME resolver support .jsonp as MIME type `application/javascript`. We could just turn off nosniff completely, but that feels like it may lead users down a path where their app works in pub serve, but not when they deploy it.

I'll talk to @nweiz who probably has a more informed opinion on this and see what she thinks. Either way, it should be rela

[2015-07-21 20:10] alexeagle commented on #3030
Thanks! I think I also have a workaround of rewriting the content type in
an extra middleware (we are proxying through node connect)

On Tue, Jul 21, 2015, 1:03 PM Bob Nystrom <notifications@github.com> wrote:

[2015-07-21 20:19] danicomas commented on #3147
option 2 is not correct you shouldn't use ObservableWrapper because it is an internal API. @TiagoBraga39

[2015-07-21 20:29] TiagoBraga39 commented on #3147
Better that way, since I wanted the first one.
But what about option 1?

Best regards,
Tiago Braga

[2015-07-21 20:39] #3150 closed

[2015-07-21 20:41] sigmundch commented on #1747
@yjbanov @kegluneq - I'm hitting an issue with the current implementation I have for this, and I was wondering what you think of the possible alternatives here.

The implementation I have is here: https://github.com/angular/angular/compare/master...sigmundch:expand_meta?expand=1

To support code transformers I introduced a new annotation `@DirectiveAliases` that you can use on top-level constants

[2015-07-21 21:06] yjbanov commented on #1747
@alexeagle: do you think it would it be possible to strip unsupported annotations from the TypeScript code prior to handing it off to the TypeScript compiler? I'm assuming it is possible to build an AST prior to analysis.

[2015-07-21 21:09] sigmundch commented on #1747
(fwiw - the TS parser seems to support it already https://github.com/angular/ts2dart/compare/master...sigmundch:add_decorator_on_top_level?expand=1)

/cc @mprobst (since the discussion is a bit split between the two bugs)

[2015-07-21 21:09] alexeagle commented on #1747
Looks like the discussion is taking place at https://github.com/angular/ts2dart/issues/249

[2015-07-21 21:11] alexeagle commented on #1747
To answer the question: I don't think it's a good idea for angular code to
use a superset of TypeScript because ours is not the only build tool that
parses and compiles the code. What about IDEs? running tsc on the command
line?

On Tue, Jul 21, 2015 at 2:09 PM sigmundch <notifications@github.com> wrote:

[2015-07-21 21:18] #3163 closed

[2015-07-21 21:32] tuurbo commented on #3169
Here's an alternative way of doing it, until they fix it (if they plan too).

[code]

[2015-07-21 21:36] mhevery commented on #2869
Closing as this already works: http://plnkr.co/edit/DmaggybmpIDnBZ0qQtXj

[2015-07-21 21:39] #3024 closed

[2015-07-21 21:40] jessegood commented on #3173
@jhades: I noticed that the uppercase and lowercase pipes work by adding
`changeDetection:ON_PUSH` in your `@Component`.
However, it should still work with the default I believe.

[2015-07-21 21:48] thelgevold commented on #3170
@pkozlowski-opensource:
I am not sure if the empty string part is by design, but it does still fail in alpha.31 if an empty string is assigned to [class]. Below is a simple case where the error can be seen.
[code]

[2015-07-21 22:07] mhevery opened #3183 "Should support type annotations on functions"
[code]

should be written as:

[code]

[2015-07-21 22:54] kegluneq commented on #1747
As part of this fix, please update the message changed in https://github.com/angular/angular/pull/3153 to reflect the new reality of directive aliases.

Thanks!

[2015-07-21 22:55] sigmundch commented on #1747
will do, thanks!

[2015-07-22 00:23] mhevery commented on #2940
My understanding is that this is an optimization request. If that is the case it is better solved by registering single event handler at the application root, which can then forward events to the appropriate target.

You would still write

[code]

but only one actual registration would happen per app.

[2015-07-22 00:30] mhevery commented on #2947
Change detection only runs once in angular, by design. Can you post code which can repro the problem.

[2015-07-22 00:39] mhevery commented on #2968
Why not just write

[code]

http://plnkr.co/edit/G1sPP6pspqH4GJ50sziC?p=preview

[2015-07-22 00:44] mhevery commented on #2968
It seem like both types of bindings work as expected.

`<div attr.aria-title="{{ [1+2] }}" [attr.aria-foo]="[1+2]">inspect me</div>`

Is this a Dart only issue?

Closing as I can't replicate. Reopen if `<div attr.aria-invalid="{{ isInvalid }}"></div>` does not work on Dart.

[2015-07-22 00:44] #2968 closed

[2015-07-22 00:53] mhevery commented on #3001
I don't see how a choice of CSS class names causes an issue. Could you provide a working example demonstrating the problem.

[2015-07-22 01:16] thelgevold commented on #2788
Seems to work fine in alpha.31. I had to hack in some custom typings, but beyond that I could pretty much follow the examples in the Angular repo:
My code is here if you are interested: http://www.syntaxsuccess.com/viewarticle/angular-2.0-and-http

It would be awesome to get the http typings on DefinitelyTyped to avoid hacking in custom temporary files :-)

[2015-07-22 01:55] ericmdantas opened #3186 "[Question] How to communicate through events?"
I have been asking this in the gitter channel for a while now, but no luck.

The idea is pretty much the same of ```$rootScope.$on``` and ```$rootScope.$broadcast```.

Here's the question:

How do I make different components communicate through events?
They're not parent/child type of components, they're like:

[code]

Let's say ```some-cmp``` emmited an event called ```somethingHappened```, how d

[2015-07-22 03:27] matanlurey commented on #2968
I had no idea interpolation even worked inside of attributes in Angular 2.

[2015-07-22 03:29] matanlurey commented on #2947
Sure, let me clarify, because we have the onAllChangesDone lifecycle event, you could update the model which triggers a child update which triggers the event, so on and so forth. Does that make sense? I can create a repro but I feel like this is a simple enough case to understand ;)

[2015-07-22 03:32] matanlurey commented on #3186
Hi Eric, you have a lot of different options:

1. You can inject a common parent component as a service, and use it as a message bus
2. You can use the `#` syntax to pass one directive to another:

[code]

3. You can have a parent component use the `@Query` syntax and coordinate between the two

[2015-07-22 03:33] matanlurey commented on #2940
For click events that makes sense, but what about for mousemove or mouseenter?

[2015-07-22 04:51] iloveyo123u1 opened #3187 "angular.io has a error !"
https://angular.io/

1.Press Ctrl+F
2.Enter  Hi

you can find

why not  Hello {{ name }}

not  has {{name}}

where is {{name }}

thank you very much

[2015-07-22 05:14] #3030 closed

[2015-07-22 05:17] alexeagle commented on #3030
Note for future reference.
Our solution here is to serve the dart tests differently for PRs: we just `pub serve

[2015-07-22 05:50] seanwestfall opened #3188 "experimentalDecorators and Cannot find module 'angular2/angular2'."
From the 5 Min Quickstart guide:
When I'd run,
[code]
I'd get this error:
error TS6064: Option 'experimentalDecorators' must also be specified when option 'emitDecoratorMetadata' is specified.
So, I added --experimentalDecorators to the parameters list of the above command:
[code]
But now, I get this error in the log:
app.ts(1,42): error TS2307: Cannot find module 'angular2/angular2'.

Though it's

[2015-07-22 09:23] gdi2290 commented on #3173
@jhades @jessegood this was my fault sorry about that. I pushed up a PR with the correct fix https://github.com/angular/angular/pull/3189. The problem was that I was doing more work than I should by only transforming on reference change. This is why `changeDetection: ON_PUSH` would allow it to work since you're providing a new reference to the bindings which would correctly transform the value

[2015-07-22 09:37] havenchyk commented on #3187
Can't reproduse

[2015-07-22 09:51] hitmanmcc commented on #3145
I have the same issue as @danicomas and also tried to update the form control value with:
[code]
This threw the following error:
![image](https://cloud.githubusercontent.com/assets/3464842/8822665/033c04dc-305f-11e5-9cf1-e3f4e977d286.png)

Anyway, this 2nd approach was supposed to be a hack to solve the issue but what I really wanted was for it to work like @danicomas exemplified. Or if anyone has

[2015-07-22 11:05] ericmdantas commented on #3186
@matanlurey, thank you for the quick answer!

I'll give those a try.

Also, shouldn't this work too?

[code]

Where the event happens in the ```some-other-cmp``` but ```sme-cmp``` is the one in charge of dealing with it.

[2015-07-22 12:48] IgorMinar commented on #2889
I tried to repro this and wasn't successful. Upon further investigation I believe that you must have `cd`-ed into the `node_modules/ts2dart` and invoked `npm install` in there. That caused dev dependencies for ts2dart to be installed into `node_modules/ts2dart/node_modules/`.

If you look at the list of extraneous dependencies, you'll see that it's exactly the list of dev dependencies specified in

[2015-07-22 12:48] #2889 closed

[2015-07-22 13:54] TiagoBraga39 opened #3192 "CSS Class Odd Behaviour"
Hi all!

I came accross and odd behaviour on binding my css classes to HTML elements.
Am I supposed to use an expression on [class] property?

Example:
![image](https://cloud.githubusercontent.com/assets/8090726/8826875/5c9baeb6-3081-11e5-8d4e-58d923b653d2.png)

HTML Element:
![image](https://cloud.githubusercontent.com/assets/8090726/8826869/517f8db8-3081-11e5-8635-14df64e69cea.png)

---

<b>The

[2015-07-22 14:00] pkozlowski-opensource commented on #3192
Duplicate of https://github.com/angular/angular/issues/3001 - please add your use-case in there.

[2015-07-22 14:00] #3192 closed

[2015-07-22 14:04] TiagoBraga39 commented on #3192
@pkozlowski-opensource  Thank you! I couldn't find anything about this before.

:+1:

[2015-07-22 14:04] hitmanmcc commented on #1034
I think it's a pity you guys closed this and didn't make this a feature in angular 2, most of the approaches to this that I see detailed here in several issues and even the one that @vsavkin wrote [Forms in Angular 2](http://angularjs.blogspot.pt/2015/03/forms-in-angular-2.html) are better than the alternative. At the moment, it seems overly verbose to build a form with FormBuilder and try to keep

[2015-07-22 14:11] TiagoBraga39 commented on #3001
Hi all!

I also came into this issue. Here s how it goes:

<b>Html I provide:</b>
https://cloud.githubusercontent.com/assets/8090726/8826875/5c9baeb6-3081-11e5-8d4e-58d923b653d2.png

<b>Output Html:</b>
https://cloud.githubusercontent.com/assets/8090726/8826869/517f8db8-3081-11e5-8635-14df64e69cea.png

As you can see, I used an expression to bind the class of the element.
But the output has <b>hyp

[2015-07-22 14:16] pkozlowski-opensource commented on #3001
@TiagoBraga39 as quick work-around make sure that your CSS class names are lower-cased (which makes sense anyway, since browsers are not dealing with case-sensitive CSS)

[2015-07-22 14:19] TiagoBraga39 commented on #3001
@pkozlowski-opensource The thing is I actually have a ton of css classes with capital letters, which worked on NG1, and now I can't use them in NG2?

[2015-07-22 14:20] pkozlowski-opensource commented on #3001
This is why I marked it as a work-around.

[2015-07-22 14:32] IgorMinar opened #3193 "Upgrade to npm v3"
npm v3 should solve many of the issues around node_modules being in inconsistent state and shrinkwrap issues: [changelog](https://github.com/npm/npm/releases/tag/v3.0.0)

v3 is still beta so we need test it well before jumping on, this bug is to track any issues that are found during the testing.

- [ ] the way we verify state of node_modules by copying over shrinkwrap.json as a fingerprint is not

[2015-07-22 14:33] matanlurey commented on #3186
That sounds reasonable.

[2015-07-22 15:03] tbosch commented on #1989
I think we can solve this a little nicer:

1. `TemplateRef` is already a primitive and injectable. We should make it also queryable, so that we don't need an extra directive to mark templates
2. For using a `TemplateRef` we should extend `ng-if` and `ng-for` to take a `TemplateRef` + extra locals via a data binding.

[2015-07-22 16:26] jakemac53 opened #3194 "Add tests which fully cover the generated change detector output"
See https://github.com/angular/angular/pull/3022 for reference. While we don't necessarily want to do this for all template compiler tests we should have test(s) which give full coverage of generated change detectors for documentation, debugging, and sanity checking purposes.

[2015-07-22 16:41] #3186 closed

[2015-07-22 17:03] alexeagle opened #3195 "angular2.d.ts doesn't import cleanly into new 1.5-based DefinitelyTyped"
https://github.com/borisyankov/DefinitelyTyped/issues/4564#issuecomment-123786144 is done now.
But, I still get errors copying our generated .d.ts across to DefinitelyTyped, eg.
[code]

[2015-07-22 18:14] matanlurey opened #3197 "@Query is not able to find transcluded children in <content></content>"
Not sure what component this belongs under, but this pretty nasty. Reported internally.

[code]

Tried using `"descendants : true`" in Query, getting really weird behavior: It will not be there at first, then after first attempt of interaction it will get there and then it will randomly disappear and appear. With descendants = true: it was calling reset for this queryList on removal of element (mu

[2015-07-22 18:26] jeffbcross commented on #2793
I bumped up priority of moving http to its own module, since in Dart, the inclusion of the jsonp file, which imports dart:html, causes problems when importing the top-level angular2/angular2 module in a non-browser environment.

[2015-07-22 18:35] #3181 closed

[2015-07-22 18:36] mondalaci opened #3199 "angular.merge() turns regexps into empty objects"
[code]

`jQueryMerged.regexp` yields `/blah/`
`angularMerged.regexp` yields `Object {}`

[2015-07-22 19:32] kegluneq commented on #3089
/cc @jakemac53

[2015-07-22 20:22] gdi2290 commented on #3199
can you close this and submit the issue at https://github.com/angular/angular.js

[2015-07-22 20:24] pkozlowski-opensource commented on #3199
Right, this is not the appropriate repo, this one is for ng2.

[2015-07-22 20:24] #3199 closed

[2015-07-22 20:25] mondalaci commented on #3199
Sorry guys, you're totally right. Just created https://github.com/angular/angular.js/issues/12409

[2015-07-22 20:44] pflannery commented on #3001
I've found a case where the work-around doesn't work.

It baffled me for a while because at first I was sure that classes are case sensitive but then I realised that it's because my angular project didn't have a doctype defined and when I added `<!DOCTYPE html>` at the top of the page this workaround stops working in firefox and chrome (didnt try any other browser).  Something else I noticed is th

[2015-07-22 20:47] yjbanov opened #3200 "static_tree/tree_benchmark.ts Dart results deviate too much from baseline"
Note below that JS baseline is very close to ng2, while Dart ng2 is 50% slower.

JavaScript:

Baseline: 27.10+-9%
Ng2: 26.84+-8%
Ng1: 55.30+-14%

Dart:

Baseline: 30.13+-4%
Ng2: 45.94+-3%
Ng1: 128.88+-10%

[2015-07-22 20:52] pflannery commented on #3001
@mhevery I've tried to post a working plunker example but cant get angular to work there. I always see "require is undefined"..if you have a template from plunker or fiddler etc.. I'd be happy to try  demonstrate

[2015-07-22 20:59] mhevery commented on #3025
@IgorMinar may have an opinion as he has done this before.

[2015-07-22 21:22] TiagoBraga39 commented on #3001
@pflannery
There you go: http://plnkr.co/edit/N5uD9ogaOghiKLRNP1JQ?p=preview

<b>Note 1:</b> It's just an Hello World Sample with 2 cdn:
<li>Angular alpha 31</li>
<li>System 0.16</li>

<b>Note 2: </b>
<li>I can't exactly remember the options to put on config.js since I don't have the code with me.</li>

[2015-07-22 21:24] #3160 closed

[2015-07-22 21:41] #3017 closed

[2015-07-22 21:59] IgorMinar commented on #3025
we'll need a special mode for the server that sends the right http headers to turn on the CSP mode.

this is what we did in v1: https://github.com/angular/angular.js/blob/master/lib/grunt/utils.js#L271-L283

[2015-07-22 22:03] mhevery commented on #3049
dup of #3183

[2015-07-22 22:17] mhevery commented on #3079
please provide a replicated error on http://plnkr.co/edit/

Closing because it is not actionable.

[2015-07-22 22:17] #3079 closed

[2015-07-22 22:21] mhevery commented on #3101
@naomiblack can you reach out to the https://www.npmjs.com/~angular and https://www.npmjs.com/~ng owner and see if we can get them transferred to our ownership?

[2015-07-22 22:30] mhevery commented on #3143
I am sorry but this is not a place to file update requests. We are currently in alpha and so there are too many things in flux.

[2015-07-22 22:30] #3143 closed

[2015-07-22 22:32] mhevery commented on #3144
crawlers read meta-tags before angular executes, and for this reason why you are asking for is not feasible.

[2015-07-22 22:32] #3144 closed

[2015-07-22 22:33] mhevery commented on #3145
We are still in alpha and many things are in flux. I am sorry but in order not to get overflowed with non-actionable issues we are going to close this.

[2015-07-22 22:33] #3145 closed

[2015-07-22 22:36] mhevery commented on #3146
We are still in alpha and many things are in flux. I am sorry but in order not to get overflowed with non-actionable issues we are going to close this.

[2015-07-22 22:36] #3146 closed

[2015-07-22 22:39] TiagoBraga39 commented on #3146
Seems fair :)
I will continue to use a JSON object for now.

[2015-07-22 22:39] mhevery commented on #3152
I don't think we will support this. JS does not have named constructors. Going to close. Can you reopen with specific use case.

[2015-07-22 22:41] mhevery commented on #3155
it should work with edge. File specific issues if you see any.

[2015-07-22 22:41] #3155 closed

[2015-07-22 22:43] csuwildcat commented on #3155
Do you have any tests or verification mechanisms I can check for this? We're trying to engage as a service to lib authors, so I'd like to get as much info as you have, if that's ok.

[2015-07-22 22:43] mhevery commented on #3169
Styles can not have bindings, as they get moved into different location, and they are shared between components.

[2015-07-22 22:43] #3169 closed

[2015-07-22 22:44] mhevery commented on #3170
please create a plnkr.co/edit example showing the error.

[2015-07-22 22:45] #3170 closed

[2015-07-22 22:46] mhevery commented on #3172
@IgorMinar can you comment?

[2015-07-22 22:48] mhevery commented on #3187
works for me. Screenshoot?

[2015-07-22 22:48] #3187 closed

[2015-07-22 23:19] rkirov commented on #3139
It sounds like a difference between ES6 -> ES5 transpilation. Which tool does that for webpack? We still use traceur for that step. The root dir of the npm package is traceur transpiled ES5 using commonJS for module loading.

Note that the es6 file is correct using the module semantics of ES6. The file `angular2.js` reexports all symbols from `core.js` and `core.js` exports `bootstrap` etc. https:

[2015-07-22 23:59] rkirov opened #3204 "Changelog doesn't show all breaking change"
For example between 2.0.0-alpha.31 and alpha.32 https://github.com/angular/angular/blob/master/CHANGELOG.md#breaking-changes looks like we had only one breaking change, but there were more commits with BREAKING CHANGE in the description, for example - https://github.com/angular/angular/commit/6f4a39c337f85a63d379da349855814a623ce28e

[2015-07-23 00:03] yjbanov commented on #2304
Fixed in #3078

[2015-07-23 00:09] stevemao commented on #3204
Please see #3172

[2015-07-23 00:10] jteplitz602 opened #3205 "Webworker naming is inconsistent"
We use worker, WebWorker, and Webworker interchangeably throughout the codebase. We should pick one and stick with it. I suggest WebWorker.

[2015-07-23 00:12] matanlurey opened #3206 "Regression: "Unconditional component cycle" using DynamicComponentLoader?"
Not much to share externally other than stracktrace:

[code]

Tests didn't catch it, even though we have them. Maybe test environment is subtly different?

[2015-07-23 00:13] tbosch commented on #1168
So how did it work in Angular1?

On Mon, Jul 20, 2015 at 3:43 PM Jeremy Elbourn <notifications@github.com>
wrote:

[2015-07-23 00:27] jelbourn commented on #1168
@tbosch AngularJS just lets all events propagate and fire handlers normally. E.g., if you put `ng-click="doSomething()"` on an element, `doSomething` will be called any time a descendant element is clicked. The is the same behavior as `onclick` or `addEventListener`.

I know little of Angular.dart, but I suspect it does the same thing. @yjbanov could confirm.

Angular 2 is different because it has

[2015-07-23 01:56] matanlurey commented on #3152
This would just be for the Dart version since only Dart has the transformer :)

[2015-07-23 03:21] jteplitz602 opened #3207 "Monkey patch window object from within angular for WebWorkers"
Currently our WebWorker examples use loader.js to monkey patch the window object. This needs to happen within angular so that user's don't have to do it.

This is slightly complicated because we depend on libraries that expect the window object to already be patched before they're loaded (zone.js specifically. Maybe others)

[2015-07-23 03:30] gastrodia opened #3208 "router-link can't eval function?"
is it can be use like this?

[code]

[2015-07-23 03:43] matsko opened #3209 "feat(router): API for determining if a route is active"
I've come across a challenge when using the new router to build out a navigation menu of tabs. Each tab contains a link to a route where a different component takes over:

[code]

I want to add an `active` CSS class to the corresponding tab that is selected. In order to do this I've had to create a component method on the root component which does something like this:

[code]

This gets even more

[2015-07-23 03:47] matsko commented on #3209
@btford @IgorMinar ping.

[2015-07-23 03:49] matsko commented on #3209
Maybe once the AST sugar syntax is ready we could have something like that?

[2015-07-23 03:55] #2304 closed

[2015-07-23 04:27] matanlurey commented on #2078
I know it's been a while since I filed this, but just wanted to bump. Is it possible that when Angular CD knows the value can't possibly change (e.g. it's a method definition on the class) that it parties on without using an identical() check? @yjbanov

[2015-07-23 05:40] gastrodia opened #3210 "how to change router by typescript in angular2"
for exmaple I use router-link like this:

[code]
but how can I change the router to /start by typescript (by code)?

[2015-07-23 05:57] DavidGangel commented on #3143
Hi,

Ok I understand this, but if there is no ticket available for this feature then this issue is valid as it points out an important missing feature that was also planed to be get implemented.

[2015-07-23 05:59] naomiblack commented on #3210
Hi! The router is not yet officially released. We'll have full documentation when it is. In the meantime, try asking this question on the forum (https://groups.google.com/forum/#!forum/angular) or on gitter https://gitter.im/angular/angular

Closing this issue as it's not really a bug.

[2015-07-23 05:59] #3210 closed

[2015-07-23 06:00] naomiblack commented on #3208
Hi! The router is not yet officially released. We'll have full documentation when it is. In the meantime, try asking this question on the forum (https://groups.google.com/forum/#!forum/angular) or on gitter https://gitter.im/angular/angular

Closing this issue as it's not really a bug.

[2015-07-23 06:00] #3208 closed

[2015-07-23 06:03] naomiblack opened #3212 "docs(dgeni): _data.json files aren't getting generated"
Pete, can you have a look into this? When I run `gulp docs/angular.io` all the files generate fine but I don't get the _data.json files any more.  I'm synced @3531bb7.

[2015-07-23 06:31] pflannery commented on #3001
@TiagoBraga39 thank you very much!

Here is an example of the issue http://plnkr.co/edit/StVbjnVMWWnBZPtVQSsu?p=preview

[2015-07-23 07:07] gdi2290 commented on #3147
there's a PR open for this https://github.com/angular/angular/pull/2666

[2015-07-23 07:15] jomeier opened #3216 "Forward declaration of parent child dependency injection not user friendly?"
#2660

describes a problem I also have with Visual Studio 2013 and Typescript 1.5.

The solution is using

[code]

but I don't think this is very user friendly cause it should be a normal use case that a parent component uses a child component and if this child component tries to inject it's parent component that this will result in a forward declaration which requires the above line of code.

Thi

[2015-07-23 07:54] phillip-haydon opened #3217 "Override where XMLHttpRequest comes from?"
With jQuery and $.ajax you can specify a function for xhr

[code]

What is the equivalent of this in Angular?

[2015-07-23 07:55] #3212 closed

[2015-07-23 08:16] gdi2290 commented on #3217
this is angular2 and you could do that easily in the bindings
`[ bind(BrowserXhr).toClass(YouCustomXhr) ]`

[2015-07-23 08:17] TiagoBraga39 commented on #3001
Yup, same behaviour.
After changing to dash case as @pkozlowski-opensource said it works, but only that way.

[2015-07-23 08:17] phillip-haydon commented on #3217
Blah ok sorry! I'll close and re-open in Angular 1.#

Repo names are not good here :/

[2015-07-23 08:17] #3217 closed

[2015-07-23 09:50] apetherick opened #3218 "getTestability whenStable never returns when using busy websockets"
This sounds like designed behaviour, but I'm putting this here to see if there's a workaround, or perhaps something I can do.

I have a large angular app that uses rabbitMQ, so there's a websocket open to STOMP. I'm trying to use protractor to test it, and protractor makes heavy use of whenStable, to ensure the page is stable before running tests.

However, if this is run against an instance of th

[2015-07-23 10:10] #3218 closed

[2015-07-23 10:42] danicomas commented on #3145
Ok @mhevery but we need to keep in consideration. By now the Ng-Form is not valid for the 99% of cases :D

All the devs we do:
1)Call WS
2)The WS return JSON data
3)JSON data is added in a JS variable (model)
4)Update the fields in the form
5)Send the updated model to a PUT WS (Now we need to update the model with the form fields, this is ugly)

[2015-07-23 11:00] mato75 opened #3219 "TypeError: Illegal invocation"
angular.js:12330 TypeError: Illegal invocation
    at isArrayLike (http://127.0.0.1:8383/js/components/angular/angular.js:276:46)
    at forEach (http://127.0.0.1:8383/js/components/angular/angular.js:332:32)
    at copy (http://127.0.0.1:8383/js/components/angular/angular.js:928:9)
    at copy (http://127.0.0.1:8383/js/components/angular/angular.js:897:16)
    at copy (http://127.0.0.1:8383/js/co

[2015-07-23 11:04] pkozlowski-opensource commented on #3219
@mato75 this is wrong repo (I guess you wanted to file it at https://github.com/angular/angular.js) and the issue filled like this is not actionable. Please see how to submit an issue with enough context so we can help: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#submitting-an-issue

[2015-07-23 11:04] #3219 closed

[2015-07-23 11:26] rolandjitsu commented on #2529
@tbosch so how do I use native shadow DOM now? Do I add the `useShadowDom` property on the `@View()` annotation? Or has it been named to something else? Because I can only find `useNativeShadowDom` and there is not much docs on this.

[2015-07-23 11:30] TiagoBraga39 commented on #3084
@btford
Sorry to reopen this thread, but I just upgraded to alpha 32, and coulnd't get the routers to work...

<h1>First things first:</h1>
<h2>The Router</h2>
![image](https://cloud.githubusercontent.com/assets/8090726/8848959/ad9e3dda-3133-11e5-9111-cafcd63f6fc6.png)
<h2>The Nested Router</h2>
![image](https://cloud.githubusercontent.com/assets/8090726/8849121/02bc60a2-3135-11e5-904a-446247784af

[2015-07-23 11:55] hitmanmcc opened #3220 "Bug in getBaseElementHref from browser_adapter"
Hi all!

I just changed to the newest alpha build (32) and I came across this error:
![image](https://cloud.githubusercontent.com/assets/3464842/8849528/62463c3e-3138-11e5-96ac-d41b473547cd.png)

Which I solved by adding a base tag to index.html file, like so:
[code]

Having done this I then got a new error as you can see below:
![image](https://cloud.githubusercontent.com/assets/3464842/8849602/e

[2015-07-23 12:39] rolandjitsu opened #3222 "child component as root of parent component does not get rendered"
For some reason if I have a [parent](https://github.com/rolandjitsu/ng2-play/tree/33d035476b9954a67792ffee2f9d0ba141016c66/src/app/components/todo_list) component which [view](https://github.com/rolandjitsu/ng2-play/tree/33d035476b9954a67792ffee2f9d0ba141016c66/src/app/components/todo_list/todo_list.html)'s consists of a [child](https://github.com/rolandjitsu/ng2-play/tree/33d035476b9954a67792ffee

[2015-07-23 12:47] markharding opened #3223 "If a property is not found, after being called in a template, angular throws a fatal error and blows up."
If a property doesn't exist when being called from a template, a fatal error is thrown and angular blows up.  Sometimes this is unavoidable, for example a malformed api response. The main problem is that it then prevents subsequent activity (ie. the router links wont navigate anymore).

[code]

I'd suggest that we catch such error silently.

[2015-07-23 12:50] markharding commented on #3220
see https://github.com/angular/angular/commit/8296dcec09d9b8be0d4cfcc492000d5cc401cfa0#commitcomment-12317209

[2015-07-23 13:01] pkozlowski-opensource commented on #3223
@markharding this check is done during compile time of a template and was added to avoid hard-to-debug errors. As such the suggestion of catching those errors silently goes against the very spirit of this change. Developers should see and correct those errors as soon as possible.

Could you provide more details / exact reproduce? @btford I guess we should decide here what happens if a compilation

[2015-07-23 13:15] hitmanmcc commented on #3220
Thanks for the heads-up.

[2015-07-23 13:15] #3220 closed

[2015-07-23 13:15] markharding commented on #3223
Eg:
[code]
It's not so much of a problem to overcome as we can just very "ownerObj" is a property with `*ng-if`. However my main concern is that it blows up on such an error. From a user perspective they can no longer do anything else. Or is that just because we are in debug mode?

[2015-07-23 13:21] pkozlowski-opensource commented on #3223
@markharding oh, sorry, I thought that you were talking about a different error :-/ I need to stop looking at GH issues while coding sth else... Sorry for the noise, disregard my previous comment

[2015-07-23 15:11] jrote1 opened #3226 "Implement Library import in Directive Processor"
When will the following method be implemented as it restricts the splitting up of code in Dart.

    Object visitPartOfDirective(PartOfDirective node) {
       // TODO(kegluneq): Consider importing [node.libraryName].
       logger.warning('[${assetId}]: '
           'Found `part of` directive while generating ${DEPS_EXTENSION} file, '
           'Transform may fail due to missing imports in gener

[2015-07-23 15:13] pkozlowski-opensource commented on #2014
Status update: sent https://github.com/angular/angular/pull/3225 for the basic infrastructure impl. It needs proper review + discussion about next steps.

[2015-07-23 15:17] markharding opened #3227 "(bug) TypeError: undefined is not a function (evaluating '$__2.next()') on Safari using EventEmitter"
Safari throws the following error on page load. Chrome + Firefox work fine.

[code]

Topbar.ts:
[code]

Session.ts:
[code]

[2015-07-23 16:10] matanlurey opened #3230 "DomElementBinder#hasNativeShadowRoot is null, not false, resulting in an NPE in..."
Reported internally. I've hotfixed accordingly there but this needs to be fixed before the next release.

DomRenderer where the check `if (binder.hasNativeShadowRoot)` is used.

I actually see this problem across the Angular code base, where bools are not set to false, but people instead use the `isPresent()` check first. That seems very error prone.

[2015-07-23 16:16] jakemac53 commented on #3089
closed by https://github.com/angular/angular/pull/3224

[2015-07-23 16:16] #3089 closed

[2015-07-23 16:22] matanlurey opened #3231 "Components listen to event streams/emitters even when there is no listener in the template"
Quick repo:

[code]

Expected: false, unless `(event)` is used.

Actual: true.

[2015-07-23 16:23] tbosch commented on #3230
The cause if probably when text nodes are projected to a place where there is no binding...

[2015-07-23 16:24] matanlurey commented on #3231
Not sure who this goes to.

[2015-07-23 16:26] yjbanov commented on #2991
@robwormald thanks for the pointer. Yes, this proposal is very similar, although I'd like to try something that's package manager independent. We want to support pub and npm simultaneously already.

[2015-07-23 16:48] jakemac53 commented on #2939
@andresaraujo can you add a simple repro program here for context?

[2015-07-23 16:53] sigmundch opened #3232 "Dart-Transformer: Support for prefixed identifiers within directive aliases (dart)"
#3203 adds support for directive aliases, but only simple identifiers are supported:

[code]

It might be worth in the future adding support for referring to types with prefixes as well.

Parsing this is easy, the main complexity is that when we deal with merging of NgMeta & flattening, we need a way to normalize prefixes.

[2015-07-23 16:54] bryantharpe opened #3233 "Handling data store changes with Event Emitters and DI"
Hi,

I'm trying to set up a sample e-commerce application right now with a series of products, and the ability to add them to a shopping cart to check out.

I have a ShoppingCartStore that has a CurrentShoppingCart property, which has a collection of products. When I call to the method in the store to add a product to the cart.... I fire a productAdded event that I want other components to be able

[2015-07-23 16:56] matanlurey opened #3234 "AbstractChangeDetector swallows most of the stack trace"
`throwError` wraps in a `ChangeDetectionError`, which, at least in Dart, results in a partial stack trace.

[2015-07-23 17:19] naomiblack opened #3235 "docs(dgeni): Provide a way to document and x-link to vars, functions, types"
Currently, we are only able to use `{@link Foo}` to cross-link to documentation for classes. It would be useful to be able to also link back to vars (including const), functions, and types.

For example, we'd like to define `{@link Type}`, for the type exported in [line 6 of lang.ts](https://github.com/angular/angular/blob/83e99fc72d5f6aa80f044bcf54f8679b2370dab7/modules/angular2/src/facade/lang.t

[2015-07-23 17:40] sigmundch commented on #1930
We should also consume the .aliases.json as part of this as well.

[2015-07-23 17:45] bryantharpe commented on #3233
Ok, I should have walked away and came back to this before posting. I updated the code and it's working fine now.

Basically I just changed that EventEmitter object to be static/shared across all instances of the ShoppingCartStore.

Closing the issue, here is the updated sections in case anyone else runs into this:

[code]

[code]

[2015-07-23 17:45] #3233 closed

[2015-07-23 17:45] #3051 closed

[2015-07-23 17:49] sigmundch commented on #1930
For debugging though - it's useful to see these files as part of the `--mode=debug` output, so while we could consume the `.aliases.json` files as soon as we read them in `directive_metadata_extractor/extractor.dart`, I rather keep them around and remove them all with the extra phase that consumes the resources.

In polymer we did something similar this with [this transformer](https://github.com/d

[2015-07-23 17:50] matanlurey opened #3236 "NgContent transclusion: Compiler fails with interpolated text mixed with a selector."
[code]

Removing the `{{isVisible}}` works properly.

[2015-07-23 18:02] andresaraujo commented on #2939
@jakemac53 On alpha 32 produces the following error:

[code]

[code]

[2015-07-23 18:17] yjbanov opened #3239 "Dangling view data due to failed hydration causes unexpected behavior"
When hydration fails part-way we do not clean up view state created by it. This causes all kinds of unexpected behavior, such as running change detection on non-existent things, bogus log messages, etc.

[2015-07-23 18:30] #2303 closed

[2015-07-23 18:30] jteplitz602 opened #3240 "bug(WebWorker) destroyView should remove the view from the store"
Currently views are only ever added to the view store. They (along with their fragments) should be properly removed after they're destroyed.

[2015-07-23 19:18] kegluneq opened #3242 "Shrink generated change detector code size"
The `dart2js` build step for apps with large numbers of components (>500) is running out of memory.

Abstracting duplicated and boilerplate code out of generated change detectors and into utilities and/or `AbstractChangeDetector` will give `dart2js` less code to process and should help with memory pressure.

[2015-07-23 19:19] matanlurey commented on #3242
Tim is this for *creating* the change detectors, or using them? Just to be clear.

[2015-07-23 19:21] matanlurey commented on #3232
Just to be clear, does this mean if you have

[code]

?

[2015-07-23 19:23] matanlurey commented on #3226
Closing as duplicate of #1817.

[2015-07-23 19:23] #3226 closed

[2015-07-23 19:28] kegluneq commented on #3242
We are trying to generate less code for each change detector while not significantly affecting execution speed.

[2015-07-23 19:37] sigmundch commented on #3232
good question - that would be supported, it's only if you do this:

[code]

that we don't support.

[2015-07-23 19:38] sigmundch commented on #3232
I just updated the title of the bug to a bit more precise :)

[2015-07-23 20:29] #3139 closed

[2015-07-23 20:36] mhevery opened #3243 "Move common fields into supercalss"
Currently the generated CD is:

[code]

But it should be just:

[code]

TODO:
- [ ] move `dynamic _dispatcher`
- [ ] move `_pipes`
- [ ] move `_protos`
- [ ] move `_directiveRecords`
- [ ] move `_locals`
- [ ] move `_alreadyChecked`
- [ ] remove `currentProto` -> it is not needed if the `_proto[?]` is inlined directly.
- [ ] move `_context`;
- [ ] rewrite constructor

[2015-07-23 20:45] mhevery opened #3244 "Move callOnAllChangesDone to super and override only when necessary"
For most of the CDs we generate:

[code]

But this is not usually needed. Only when a directive implement `OnAllChangesDone` which is relatively rare.

- [ ] Move the code to superclass.
- [ ] Override the method only if we need to create a behavior different than shown.

Example:

[code]

[2015-07-23 21:10] mhevery opened #3245 "Refactor hydrate/dehydrate/hydrated to superclass"
Currently:

[code]

Proposal:

- moved to super class
[code]

-- stay is subclass

[code]

TODO:
- [ ] move common to superclass.
- [ ] have super call `hydarateDirectives`/`dehydrateDirectives`()
- [ ] generated in subclass methods only if it has non-zero directives
- [ ] implement `getDirectiveAtIndex` at superclass
- [ ] move `hydrated` to superclass

[2015-07-23 21:19] rkirov commented on #3034
Needs more design, as discussed passing every object through an opaque filter will prohibit further optimizations down the road.

[2015-07-23 21:29] #3206 closed

[2015-07-23 21:29] #3230 closed

[2015-07-23 21:58] mhevery opened #3248 "General code generation cleanups"
# Normalize string / No interpolation
- [x]  Replace `interpolate1 = "" "${componentName0 == null ? "" : componentName0}" ""` with `interpolate1 = " " + stringify(componentName0) + " ";` NOTE: will require import of `stringify` method. I think `${}` creates extra unneeded checks, so simple string concat `+` should be better in this case.

# Inline assignments
- [x] take advantage of multiple assig

[2015-07-23 22:01] mgreenland opened #3249 "Reused NgFor elements don't clear old CSS classes"
Smallish reproduction case:

[code]

What happens in this example is that if you click the "Increment" button 10 times, the resulting DOM is:

[code]

Instead, I'd expect each div's class to contain only 10, instead of all the numbers up to 10.

[2015-07-23 22:05] #3236 closed

[2015-07-23 22:22] matanlurey opened #3251 "Tooling: Determine what resolved bindings will be for a given app entrypoint or component"
I know there was sort of a tool like this for Angular 1.0

[2015-07-23 22:26] #1747 closed

[2015-07-23 22:37] mhevery opened #3252 "Remove leaf operations which have no side-effects"
There are a lot of statements in code which only make sense if there is a next item following. If it is a leaf they should be removed.

Example:
[code]

Notice the else and assignment at the end. This is only needed if there would be a next item dereferencing it..

should be:

[code]

This requires some form of detecting leaves and stripping out the vars which are used of chaining.

[2015-07-23 22:42] mhevery opened #3253 "Generate `throwOnChanges` only in Dev mode"
This code:

[code]

only needs to be generated if the code is running in dev mode. In prod mode throwOnChange is always falls.

[2015-07-23 22:44] kegluneq commented on #3248
fyi, per our discussion i'm currently working on `Inline assignments` above

[2015-07-23 22:47] matanlurey opened #3254 "Expecting content transclusion where it won't happen should fail/throw fast"
For example, if you do:

[code]

If `<panel>` does not define an `<ng-content>` outlet, it effectively does nothing in the best case (wasting ops) and in the worst case will cause errors as the underlying elements may expect to be in the DOM.

[2015-07-23 22:57] mhevery opened #3255 "Having local vars only makes sense if there is more than one read"
The `detectChangesInRecords` moves field access to local vars to save on multiple access. But this ads code size. Se if we notice that there is only one read, we may as well access the field directly with no change in perf.

Example:

[code]

becomes:

[code]

[2015-07-23 23:13] tbosch commented on #3249
The problem is related to view reuse:
On every click, you are destroying the `<div>` and creating it again. However, the `class` directive is not cleaning up on destroy...

[2015-07-23 23:55] tbosch commented on #3168
Duplicate of #3249.

[2015-07-23 23:55] #3168 closed

[2015-07-24 00:13] #3249 closed

[2015-07-24 00:30] amoizp commented on #3001
+1 on maintaining original capitalization and dashes.

We use css class names such as `Tabs-tabLabel` and dynamically bind `Tabs-tabLabel--selected`.  Worked fine with ng1 (using ng-class) and we'd very much like to continue that in ng2.

[2015-07-24 00:36] yjbanov opened #3257 "Support more popular package managers out-of-the-box"
With https://github.com/angular/angular/pull/3215 we have the capability to set package relative URLs as `package:PACKAGE_NAME/path/to/file/within/package`. We currently support only pub. We should provider resolvers for:

- npm
- bower
- webpack
- jspm

[2015-07-24 00:38] Alxandr commented on #3257
May I suggest adding jspm to that list?

[2015-07-24 00:39] yjbanov commented on #3257
@Alxandr of course!

[2015-07-24 01:29] #3052 closed

[2015-07-24 01:35] #2991 closed

[2015-07-24 01:39] sigmundch commented on #2982
FYI - @jakemac53 - this might be easier to get working now that Yegor fixed #2991

[2015-07-24 01:51] thelgevold commented on #3168
Which alpha version fixes this problem?

[2015-07-24 02:29] #3053 closed

[2015-07-24 02:29] #3097 closed

[2015-07-24 02:39] jteplitz602 commented on #3227
possible duplicate of #3015

[2015-07-24 03:11] tbosch commented on #3168
It's fixed on master, so it will be accessible on npm as of alpha34
On Thu, Jul 23, 2015 at 6:51 PM Torgeir Helgevold <notifications@github.com>
wrote:

[2015-07-24 03:39] mhevery commented on #2830
I think we should have two separate builds for our users. One with dev enabled and one with it disabled. Thoughts?

[2015-07-24 04:03] splintercode opened #3261 "ISO string support on date pipes"
The new date pipe only supports date objects or numbers but not ISO strings. In ng1 this was valid and made displaying simple JSON from api's to the UI very easy with little conversion process.

Plunker with ng1 behavior date filter [ng1 iso](http://plnkr.co/edit/P0P0VKhmnYyJNdBcVcvM?p=preview)

[2015-07-24 07:35] pflannery commented on #3257
It would also be worth having a custom path config option as bower lets us define the directory name (in the .bowerrc file) it uses for storing its packages.

[2015-07-24 08:27] kittencup opened #3263 "import FormBuilder Component throw error"
`import {FormBuilder,Validators,ControlGroup,formDirectives} from 'angular2/forms';`
error message
 Cannot resolve all parameters for xxxx(?). Make sure they all have valid type or annotations.

[code]
That's right.

[2015-07-24 09:31] TiagoBraga39 opened #3265 "RouteConfig: Non Existing Components Issue"
Hi all!

Just a quick pain I came across:
In Route Config, if we Route a non existing component, no error is thrown.
<b>In fact, the application doesn't even load:</b>
[code]

Stay awesome,
Tiago Braga

[2015-07-24 10:07] rolandjitsu commented on #3222
I've also noticed that if I do wrap `<todo-item [model]="todo" *ng-for="#todo of todos"></todo-item>` with a `<div>` (which fixes the issue of the component not being rendered), the component no longer uses native shadow dom as I cannot find the `#shadow-root` in the element inspector.

[2015-07-24 10:25] ultrasonicsoft opened #3266 "How to consume REST service with Basic Authentication"
Hi All,

I have java REST services and consumer in Angularjs 1.3. Services are JSON based and expect BASIC authentication (username-password).
In AgJs 1.3, I used Base64 factory code (found on google) for creating basic authentication token from username and password and able to consume services SUCCESSFULLY.

I read HTTP class in AgJs 2.0 documentation but I didn't find any information about basi

[2015-07-24 10:29] kittencup commented on #3266
https://github.com/kittencup/angular2-github-manage/blob/master/app/services/github.service.ts#L29

[2015-07-24 11:10] thelgevold commented on #3168
Thanks!

[2015-07-24 11:12] stevemao commented on #3172
I have fixed a few other bugs so it should be good to use.

[2015-07-24 11:20] pkozlowski-opensource commented on #2869
Yep, confirmed that it works with the latest .32 and host attributes: http://plnkr.co/edit/YtafOWnnpLSzXivWOI50?p=preview

[2015-07-24 11:20] #2869 closed

[2015-07-24 12:57] gionkunz opened #3267 "Idea to specify bindings with annotations / decorators on methods rather than in the host configuration"
Wouldn't it be nicer to have something like this:
[code]

Rather than this:
[code]

I know it's gonna be a bit different than working in a template but don't you think this is much more convenient?

[2015-07-24 13:02] gionkunz commented on #3267
Also it allows to specify options (and not rely on hard to remember and limited symbol characters)

[2015-07-24 13:13] pkozlowski-opensource commented on #3267
@gionkunz those are the exact same characters as the ones used in a template. So I don't thin we've got a problem of "limited" symbol characters - or said differently - if we've got the pb here we've got it in templates as well.

I would rather keep the syntax that is consistent with we've got in templates (after all we are manipulating a DOM element here) rather than introduce a new syntax.

[2015-07-24 14:03] gionkunz commented on #3267
Yeah, but using string tokens to configure a component within JavaScript just feels wrong. The token approach is a consequence of being limited to text in HTML but in JavaScript I thinks it's wrong to keep this limitation just for the sake of consistency.

One other benefit of having annotations / decorators on accessors and methods would be that they are contextual at the right place. Even if you

[2015-07-24 14:13] pkozlowski-opensource commented on #3267
Could you elaborate on "just feels wrong"? For me it "feels right" since we are specifying part of host element template really. There was one proposal for this syntax to look like: host: '(click)=onClick($event) [tabIndex]=tabIndex'}` to be even closer to what you write in a template.

Anyway, we need stronger arguments than feelings here :-)

[2015-07-24 14:14] pkozlowski-opensource commented on #3267
My mental model here is this: everything on the `host` should be part of the host element template. It is like extending host element template from a directive.

[2015-07-24 14:17] ericmdantas commented on #3263
Do you have:

[code]

and:

[code]

[2015-07-24 14:37] gionkunz commented on #3267
Is it? But the scope is different right? If I'm adding a event binding on a component element in HTML, i'll never work in the context of the component itself but in the context where I included the directive. Am I completely wrong here?

With "feels wrong" I just think that writing any kind of template fragment inside of JavaScript is wrong as if we look at the problem like this:

[code]

Then, wr

[2015-07-24 14:40] gionkunz commented on #3267
It's the same as if someone would use a configuration file (template) or the API of the same product (Annotations)

[2015-07-24 15:16] pavelgj commented on #3255
Doesn't dart2js automatically inline those vars? It's an optimization that the compiler should handle.

[2015-07-24 15:46] tbosch opened #3272 "Structural assertions for component nesting"
## Gloal

HTML parsers know that inside of a `<select>` only `<option>` elements are allowed. We should have something similar for angular components. This would prevent user errors like "Why can't I see element xzy?" and would also allow nice tooling support (e.g. auto completion for child elements in the template editor).

## Proposal

Add assertions around `<ng-content>`:

1. If there are eleme

[2015-07-24 15:55] tbosch opened #3273 "Define style encapsulation for components in `@View` annotation"
## Goal

Right now, components contain all of the configuration that the compiler needs to analyze them in the `@Component` or `@View` annotation. However, the way we do style encapsulation is defined globally for all components via the `ShadowDomStrategy`. This can easily break the reuse of a component in other projects if the component expects style encapsulation but the using application disabl

[2015-07-24 15:55] tbosch commented on #3273
@mhevery Let's talk about this...

[2015-07-24 15:56] tbosch commented on #3272
@mhevery Let's talk about this...

[2015-07-24 16:04] mlaval commented on #3015
Found the root cause of the issue.

In Safari, `MapIterator` doesn't implement `next()`,
which is used in the traceur-runtime's polyfill of `Array.from`,
which is used in `MapWrapper.keys()` and `MapWrapper.values()` in Angular2's facade.
This makes about 860 unit tests to fail.

Not sure if we should try to fix Traceur knowing that it should go away, or if we should work around this bug. Any thou

[2015-07-24 16:04] mlaval commented on #3227
That's a duplicate of #3015, see my comment there.

[2015-07-24 16:05] #3227 closed

[2015-07-24 16:05] #3007 closed

[2015-07-24 16:10] tbosch commented on #3273
Blocked on #2844

[2015-07-24 16:20] tbosch commented on #3001
Just verified myself: `querySelector` _does_ differentiate between the case in class names.

[2015-07-24 16:24] jakemac53 commented on #1930
Without global transformers we actually cannot do this. The files from your package dependencies get deleted before you have a chance to read them.

[2015-07-24 16:24] #1930 closed

[2015-07-24 16:45] TiagoBraga39 commented on #3272
Just wondering...
Why do inside HTML and Components are deleted after the rendering of the outside component?
Example:
[code]
After the compiling of the "outside-cmp", all the inside is gone.
To avoid it, we should use the "ng-content" (as far as I am concerned).
<b>Why not the opposite?</b>
If I need the inside to disappear, I should explicitly say that.

Best regards,
Tiago Braga

[2015-07-24 17:07] jmac11 commented on #3255
A lot of people are going to get my money and I don't think you can get it
together for me and you can get the same thing as the first.

On Fri, Jul 24, 2015 at 10:16 AM Pavel Jbanov <notifications@github.com>
wrote:

[2015-07-24 17:20] firecube commented on #2031
Another +1.

I have tried to get some basic tests to work with Karma and Jasmine but I just can't get them to run.  It would be great to get an example of how to test some simple angular2 components.

Thanks!

[2015-07-24 17:22] firecube commented on #1609
Hi naomiblack,

Are there any examples on how to use this approach with our own components?

Thanks.

[2015-07-24 17:28] matthewharwood commented on #2031
@firecube hey I made tests work but no components https://github.com/matthewharwood/angular-di-testing

We really need angular test bed public

[2015-07-24 17:30] tbosch commented on #3272
@TiagoBraga39: An angular component defines a template via `@View()`. The semantics of this is that this view defines the children of the component.

How should elements directly below the `<outside-cmp>` be ordered relative to the elements from the template in `@View`?

Our behavior here is also similar to how ShadowDom works: Whenever you have a shadow root, all elements that are direct children

[2015-07-24 17:41] tbosch commented on #3273
Note that this is important as it is a breaking change that can affect a lot of components.

[2015-07-24 17:44] tbosch commented on #3272
We should do this early as this can affect many components...

[2015-07-24 17:50] yjbanov opened #3275 "systemjs is slow at reexporting angular2_exports.ts"
Steps to reproduce:

1. Delete everything starting with line https://github.com/angular/angular/blob/3531bb7118d559be638f7b31ecada334f22276a2/modules/angular2/angular2.ts#L13 down
1. Add `export * from 'angular2/angular2_exports'`

Try running any of the examples, such as "hello world". Observe that it takes 5-6 seconds to launch the app.

[2015-07-24 17:55] yjbanov opened #3276 "Specifying both 'lifecycle' and interfaces causes invalid generated code"
Repro:

[code]

This would cause the transformer to generate the following in `ng_deps`:

[code]

[2015-07-24 17:56] tbosch commented on #3275
@guybedford Would be great if you could take a look...

[2015-07-24 18:03] kegluneq commented on #3242
Closing since this is better covered by the other issues in the `CD size` hotlist

[2015-07-24 18:03] #3242 closed

[2015-07-24 18:15] jteplitz602 opened #3277 "WebWorkers application_common.ts has a lot of duplicate code"
web-workers/worker/application_common.ts duplicates a lot of code from core/application_common.ts. It's primarily duplicating DI bindings. I talked to @vsavkin about this today and the current plan is to move all the export all the bindings that the webworker needs to a separate file and import that file in both core/application_common.ts and web-workers/worker/application_common.ts

[2015-07-24 18:39] rkirov commented on #3197
https://github.com/angular/angular/pull/3278 adds a similar setup as a test case. It is passing at head, so this might be fixed.

Ping me, and I will reopen the issue if you still see the problem.

[2015-07-24 18:39] #3197 closed

[2015-07-24 19:53] tbosch commented on #3272
Note: if a `<ng-content>` is inside of an `ng-if`/... it becomes optional

[2015-07-24 20:13] #906 closed

[2015-07-24 20:25] #3055 closed

[2015-07-24 20:27] rkirov commented on #2603
This needs to be revisited after the similar visibility rules for injectors are redesigned:
@vsavkin ping this back when those have landed.

[2015-07-24 20:29] yjbanov opened #3281 "dart: serve "package:" urls relative to AppRootUrl"
This should work better with non-pub servers.

Context: https://github.com/angular/angular/pull/3215/files#r35440289

[2015-07-24 20:31] jakemac53 commented on #2982
I will take a shot at it

[2015-07-24 20:37] jakemac53 commented on #2982
nvm, package: urls are not enough for the examples, unless we want to define a dart and npm package for each example which is a different can of worms that I am not prepared to open :).

[2015-07-24 20:39] jmac11 commented on #2982
Try it now

On Fri, Jul 24, 2015 at 3:37 PM Jacob MacDonald <notifications@github.com>
wrote:

[2015-07-24 20:44] alexeagle opened #3282 "router.d.ts is untested"
We need some sanity test for the router .d.ts file. The `gulp test.typings` target does this for the `angular2.d.ts`.
I did not update router on DefinitelyTyped for alpha.32 because it fails the definitelyTyped tests, for example, the Instruction class is referenced but not defined.
We can't release typings for router until this is fixed.

[2015-07-24 20:53] alexeagle commented on #3195
The generated file now imports cleanly. I just pushed https://github.com/borisyankov/DefinitelyTyped/pull/5062 without any manual edits.
I opened https://github.com/angular/angular/issues/3282 for fixing the router typings.

[2015-07-24 20:53] #3195 closed

[2015-07-24 20:59] hankduan commented on #428
closed via https://github.com/angular/angular/commit/a8b75c3d419622928402f7eae7329aa8f5f2c399

[2015-07-24 20:59] #428 closed

[2015-07-24 21:24] kegluneq commented on #3252
@jakemac53  please evaluate and determine if this gives any benefit after `dart2js` compilation.

[2015-07-24 21:26] kegluneq commented on #3248
Step 1: Determine if "Normalize string / No interpolation" provides any benefit
Step 2 already underway

[2015-07-24 21:31] kegluneq opened #3283 "For change detectors with no ProtoRecord, reuse a single, stateless detector"
On the Dart size, see [change_detector_codegen.dart](https://github.com/angular/angular/blob/master/modules/angular2/src/transform/template_compiler/change_detector_codegen.dart), search for `PROTO_CHANGE_DETECTOR_FACTORY_METHOD`, which generates a static factory method returning the change detector class.

For "empty" change detectors, this can just return a hand-written class with a `const` cons

[2015-07-24 21:41] vsavkin opened #3284 "Do not dirty check intermediate results"
There is no point to dirty check intermediate results in expressions like `{{a.b.c}}` or `f(a,b,c)`. We should dirty check intermediate results only when they are the arguments of a pure function.

[2015-07-24 21:41] kegluneq opened #3285 "Add Type information for state & local variables in change detectors"
For example, right now our `Directive` and `Detector` variables are all `dynamic`, and using their actual types may allow `dart2js` to remove some interceptors and potentially catch bugs early when running in checked mode.

[2015-07-24 22:01] jakemac53 commented on #3252
Definitely the change_* booleans get filtered out by dart2js if the value is never used.

[2015-07-24 22:45] #3161 closed

[2015-07-24 23:37] yjbanov commented on #3281
Fixed by #3287

[2015-07-25 01:03] #3276 closed

[2015-07-25 03:29] NathanWalker opened #3291 "fix(typings): include RouterOutlet constructor signature in type definitions for 'angular2/router'"
Sample error when doing something along these lines...
[code]
[code]

When extending RouterOutlet, the generated type definition does not include the constructor signature, so compiling something like the above gives TypeScript Warnings.

[2015-07-25 04:02] kittencup commented on #3263
yes, i have...

[2015-07-25 14:24] jhades opened #3293 "onChange() not triggered anymore via @Directive property binding"
This is a [repo](https://github.com/jhades/directive-binding-issue) with running code to reproduce the issue, check it's README for running instructions.

The issue is that I have a custom directive, to which i'm trying to pass in some input value via a property binding in a component template:

    <div>
        <button (click)="onClick()">Trigger @Directive binding</button>
       <div custom-di

[2015-07-25 15:13] PascalPrecht commented on #3183
What about other metadata types? Should those be usable as decorator then?

E.g. currently you would do:

[code]

[2015-07-25 16:27] ericmdantas commented on #3263
Could you please set up a plnker or something?

[2015-07-25 16:36] jomeier opened #3295 "Alpha32: IE10/11 doesn't support "remove" in browser_adapter.ts"
In IE10/11 I get this error message with a simple application (in the end of this text).

Sorry for the first two messages in german. Didn't get it to switch my IE to the english language :-)

[code]

[code]

Chrome and Firefox don't show an error message but also behave "strange" (Zippy example doesn't work where a div is shown/hidden through the click of a mouse).

Setup:
Typescript 1.5 with Vis

[2015-07-25 16:40] jomeier commented on #3293
I found an enum LifecycleEvent where onChange sitzs in.
...
import {LifecycleEvent} from 'angular2/angular2';

@Directive({
  ...
  lifecycle: [LifecycleEvent.onChange]
})
...
might do it?

[2015-07-25 17:40] hanxinimm opened #3296 "angular2 Chinese input"
![image](https://cloud.githubusercontent.com/assets/13499426/8890531/d9d2cf60-3336-11e5-8842-a40594dcb5b0.png)

like that ， input More characters

[2015-07-25 17:59] jhades commented on #3293
That was it, thanks!

[2015-07-25 17:59] #3293 closed

[2015-07-26 04:42] xsilen opened #3297 "angular2/src/forms/model.ts _find is it right?"
[code]
Its return `null` in lambda function, so how to handle the List of path, the param `v` will be null in Array.reduce execute the function next time
[code]
i think code should be like this
[code]

[2015-07-26 09:08] simonh1000 commented on #3188
I have what I suspect is a related bug after:
 - installing Typescript 1.5.3 (not the beta referenced in the guide) (this may be irrelevant in fact given the second point)
 - coding in Atom with typescript, where I get these errors:

[code]

In practise the code was compiled and ran correctly, but errors are a bit off-putting when following an introductory guide.

[2015-07-26 11:08] xsilen commented on #3296
It is no problem. keyboard event can be detected, but input value will be changed after ime complete(press space or enter).

[2015-07-26 11:35] jomeier commented on #3295
@robwormald I'll cite your gitter answer here.
looks like IE doesn't support childEl.remove ():
https://github.com/angular/angular/blob/c2bbda02a12b9803623fb45e1f2f27a7681280b3/modules/angular2/src/dom/browser_adapter.ts#L131-L135

That's also mentioned in:
https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/remove

Regarding to this article:
http://stackoverflow.com/questions/13763/how-do-

[2015-07-26 12:23] guybedford commented on #3275
@tbosch can you confirm which versions of SystemJS and ES module compiler you are using? TypeScript has an `export *` optimization which was only recently implemented in https://github.com/Microsoft/TypeScript/pull/3945.

[2015-07-26 12:46] jomeier opened #3298 "lifecycle events are only available through 'LivecycleEvent' enum since Alpha 32: mention it in CHANGELOG.md ?"
Hi,

since all lifecycle events are only available with the ```LifecycleEvent``` enum since Alpha 32 it should be mentioned in the CHANGELOG.md document?

Regards,

Josef

[2015-07-26 12:57] jmac11 commented on #3188
at line 5, file /Users/simon/code/Dropbox/HTML/ang2/app.tsArgument of type 'typeof MyAppComponent' is not assignable to parameter of type 'Type'. Type 'MyAppComponent' is not assignable to type 'Type'. Property 'apply' is missing in type 'MyAppComponent'.
Component({
    selector: 'my-app'
})
at line 8, file /Users/simon/code/Dropbox/HTML/ang2/app.tsArgument of type 'typeof MyAppComponent' is not

[2015-07-26 14:09] pkozlowski-opensource commented on #3275
@guybedford I think that we are bundling using systemjs-builder ^0.10.3: https://github.com/angular/angular/blob/master/package.json#L124

Here is the bundled file: https://code.angularjs.org/2.0.0-alpha.32/angular2.js

[2015-07-26 16:18] hanxinimm commented on #3296
it no change, you can try it.
![image](https://cloud.githubusercontent.com/assets/13499426/8894768/e9011708-33f4-11e5-8c90-042f2a56b26d.png)

[2015-07-26 17:04] NathanWalker opened #3299 "fix(Typings): `interface Type` should return `any`, not `Type`"
https://github.com/angular/angular/commit/19d8b221b4a4cae952a8120fd281364940bfaa36

[2015-07-26 18:39] woppa684 opened #3301 "<content></content> no longer working with Alpha 32"
consider this example:

[code]
with the html:

[code]

Then I would expect "My content" to appear on the page but in fact only the actual content tags are there... This used to work up until Alpha 31 but I can't find anything related in the changelog...

[2015-07-26 20:12] msterba commented on #3301
Looking at the zippy component example, it's ng-content.
https://github.com/angular/angular/blob/master/modules/examples/src/zippy_component/zippy.html#L6

[2015-07-26 21:44] jessegood commented on #3301
See https://github.com/angular/angular/issues/2529.
Shadow DOM emulation no longer supports `<content>` and uses `<ng-content>` instead I believe because it differs from native shadow DOM.

[2015-07-26 22:47] woppa684 commented on #3301
Aha, but I would have expected at least something in the changelog then...

[2015-07-26 22:47] #3301 closed

[2015-07-27 01:22] ericmdantas commented on #2296
It'd be definetely nice to have the ```^``` to work with custom events as well.

[2015-07-27 04:50] robwormald commented on #3275
We're definitely using an oooold build of SystemJS builder - I was planning on upgrading it once the latest betas become the stable release. Using System 0.18 and building from source (vs using the bundle) nets a significantly faster boot.

see also https://github.com/angular/angular/issues/2531

[2015-07-27 05:56] matanlurey opened #3303 "Feature (DI): Better developer story for large applications"
The current DI system, when compared to something like [Guice](https://github.com/google/guice), has some limitations that large internal clients are finding lacking. Below, when I use the term `module`, I mean, for Dart at least, a `const` `List` of `<Binding | Type | List<...>>`

Requests from internal clients:
- [ ] If two or more modules would resolve bindings differently, have an option to wa

[2015-07-27 06:55] yjbanov commented on #2078
I don't think we can make it a P1 just yet, given that the workaround isn't that bad. But we definitely need to fix this, as it is not straight-forward to debug.

[2015-07-27 06:56] rolandjitsu commented on #2031
@firecube / @matthewharwood I've just implemented a couple of samples of unit tests [here](https://github.com/rolandjitsu/ng2-play), check it out, it might be helpful until more comprehensive examples are showcased. I will try to write some E2E as well, just not sure how protractor will work with this version of Angular.

[2015-07-27 07:03] ludohenin commented on #2031
I also have component unit test example [here](https://github.com/mgechev/angular2-seed/blob/test/app/components/about/about_spec.ts). I just don;t know how to get the templates defined by a url loaded, so it is inlined in this example.

[2015-07-27 08:15] TedSander opened #3304 "StyleUrlResolver strips quotes from inlined SVG styles"
If the following CSS is added to a component:
[code]

The following css is added to the document:
[code]
Notice that all of the quotes are stripped from the inlined SVG. This causes the SVG to be rendered incorrectly.

I believe the bug is in StyleUrlResolver as when I shortcut the regular expressions the SVGs are rendered correctly.

[2015-07-27 10:20] ultrasonicsoft commented on #3266
Hi kittencup,

Thank you very much for your reply.

I have gone through your source code to understand the use but i couldn't get exactly how to use it.I have downloaded your code and started with http-server but web page is not loading. Console showing resources missing errors. :(

I see you have used HTTPService and GithubService for calling services and in config setting Base Url.
I am surely m

[2015-07-27 11:34] TiagoBraga39 opened #3305 "Nested Components/Views/Templates"
Hi all!

I would like to create nested components so I can reduce the amount of HTML.
<h3>Goal</h3>
[code]

<b>First of all</b>, I read https://github.com/angular/angular/issues/3272 and couln't understand how to solve this. Also created this thread so people can more easily get a possible answer.

<h3>Reason</h3>
I want to apply the huge HTML present in view-container component, which has somewhe

[2015-07-27 13:39] #3305 closed

[2015-07-27 13:45] TiagoBraga39 commented on #3305
So, this worked like magic...
After reading about #3272 I though that couldn't help me, since I was nested in a different way.
<b>But it works.</b>
If I use <ng-content></ng-content> throughout my components, they successively import the content to the target ng-content.

Exactly what I wanted. The content goes from view-container to topbar.

Hope it helps someone.

Best regards,
Tiago Braga

[2015-07-27 13:56] cexbrayat opened #3306 "ngSwitch not using the `*` syntax ?"
As `ngIf` or `ngFor`, `ngSwitch` is manipulating the DOM.
But, unless I miss something, it can only be called using `[ng-switch]` and not `*ng-switch` like we do for `ngIf` or `ngFor`.

[code]

Maybe it would make more sense to have something like:

[code]

which would be closer to what we do for `ngIf` or `ngFor`:

[code]

[2015-07-27 14:11] guybedford commented on #3275
The main thing here is upgrading to the current master version of TypeScript which will output the more performant System.register output for SystemJS builder to use. Then this bundle file does need to itself run against SystemJS 0.18 or greater which includes the support for this updated output. That does mean a major upgrade of the builder though in turn unfortunately. Just let me know if I can

[2015-07-27 14:35] matanlurey commented on #2078
Is it possible to verify how Angular 1.0 supported this? I took a quick look at the code and the only thing I can think of is it used equality, not identity.

[2015-07-27 14:39] matanlurey commented on #3306
The reason `ngSwitch` does not use the `*` syntax is that `*` is specifically a reserved indicator for the sugar of `<template my-directive></template>` and conditionally revealing content or stamping it out multiple times. I think there is a proposal to remove requiring the `*` syntax, so it may be possible to go the other way.

[2015-07-27 14:41] pkozlowski-opensource commented on #3306
Hmm, actually, if we want to enable people to switch-when on several sibling elements we should be using a `template` tag, no?

[2015-07-27 14:46] #3001 closed

[2015-07-27 15:57] vsavkin opened #3307 "Dynamic change detectors do not wrap all exceptions"
Currently, they only wrap the exceptions thrown during expression evaluation, but they should wrap all the exceptions that happen during change detection.

[2015-07-27 16:00] pkozlowski-opensource commented on #2866
Another example of the same pb: https://travis-ci.org/angular/angular/jobs/72478993

It seams that the cleanup task fails to cleanup properly when DiffingTSCompiler encounters a pb.

[2015-07-27 16:10] hafez commented on #3015
It appears the issue has been addressed in latest version of traceur-runtime/0.0.91 (was previously using version 0.0.89 and experienced the same issue when running under Safari - runs fine with latest traceur).

[2015-07-27 16:20] vsavkin opened #3308 "Provide an error context when an event handler throws an exception"
See https://github.com/angular/angular/issues/2992

[2015-07-27 16:41] jeffbcross commented on #2842
Hey @timjacobi are you planning to open a PR for this?

[2015-07-27 16:41] matanlurey commented on #3306
Ah, maybe you're right. I'm not sure exactly how it's implemented in Angular 2. @tbosch

[2015-07-27 16:48] jeffbcross commented on #2893
@lehmamic this sounds more like the provider API in Angular 1 than the $http interceptors API, wouldn't you say?

[2015-07-27 17:37] matsko commented on #2201
@btford I'll take over this issue since the issue was shortlisted in your email last week.

[2015-07-27 17:49] yjbanov opened #3309 "bootstrap return values unusable after transform"
The way we rewrite calls to `bootstrap` makes it impossible to use it with `await` or even assign the result to a variable.

Example:

[code]

The transformer rewrites it as:

[code]

This doesn't allow the user to use the app reference.

/cc @TedSander @kegluneq
ref: b/22759297

[2015-07-27 17:56] btford commented on #3209
:+1: This is a feature we want.

[2015-07-27 18:16] mhevery commented on #2947
onAllChangesDone, can not change model. If it did the dev mode check would fail. Ng2 does not allow infinite digest. There is a strict limit of one in ng2.

Do you have a use case which reproduces this?

[2015-07-27 18:18] mhevery commented on #3152
Why can't we just have the default constructor to be the injectable one. You are free to create named constructors for yourself. Would't that solve the issue?

[2015-07-27 18:24] mhevery commented on #3216
This is a limitation of JS and how the function declarations get hoisted. Whenever you have a circular dependency you will need `forwardRef` :-( I just don't see a away around it.

I would argue that you should not be in situation where your parent needs to know about the children and children need to know about parent. `@Query` should take care of most of the use cases.

I am sorry, but while I a

[2015-07-27 18:24] #3216 closed

[2015-07-27 18:25] mhevery commented on #3222
could you add plnkr.co

[2015-07-27 18:28] mhevery commented on #3223
This works as intended. Use `?` as `{{activity.ownerObj?.name}}` if a property could be null.

[2015-07-27 18:28] #3223 closed

[2015-07-27 18:32] mhevery commented on #3231
Why is this P1? I am downgrading since this is perf optimization only.

[2015-07-27 18:35] mhevery commented on #3234
@vsavkin  has been doning a lot of work on making errors better. This may already be fixed.

[2015-07-27 18:44] rolandjitsu commented on #3222
@mhevery I actually have the [app](https://ng2-play.firebaseapp.com/) running and I am not sure I can reproduce the same circumstances. Wouldn't it be easier to just clone the [repo](https://github.com/rolandjitsu/ng2-play) and run it locally?

[2015-07-27 19:16] matsko opened #3311 "Broken E2E tests in development mode"
Turns out that when the following commands are run:

`gulp serve.e2e.dev`
`protractor ./protractor-js-dev.conf.js`

The e2e tests are executed and a bunch of the tests inside of **key_events_spec.ts** fail:

[code]

[2015-07-27 19:39] sjelin commented on #1610
I should hopefully have a version of this working by EOD (meaning midnight, not 5 PM), and on npm soon after

[2015-07-27 19:44] matanlurey commented on #3152
This occurs in the transformer build step, as it warns when it sees multiple constructors. If this is the behavior we want (always use default constructor) then let's not warn.

[2015-07-27 19:47] mhevery commented on #3180
Will be covered by #1989

[2015-07-27 19:53] TedSander commented on #3304
@naomiblack can you assign someone to look into this?

[2015-07-27 20:13] naomiblack commented on #2962
caitp has started on this but needs someone to pair with on design decisions vs how forms work in angular 1.

[2015-07-27 20:13] alexeagle commented on #2829
Requires more breakdown with @ttowncompiled , but I'm on-duty for google3 sync so it may have to wait until later this week.

[2015-07-27 20:29] jeffbcross commented on #2788
@thelgevold the typings are there in DefinitelyTyped: https://github.com/borisyankov/DefinitelyTyped/blob/master/angular2/angular2.d.ts#L5779

Are they not working properly?

[2015-07-27 20:31] btford commented on #2775
I made some headway on this last week.

I just need to re-implement redirects, fix a few broken tests, and add tests for more complex use cases.

[2015-07-27 20:53] manfredsteyer opened #3313 "Question: Web-Components vs. Angular-2-Directives"
Hi,

as I unterstand it, Angular-2-Directives won't be "real" Web Components but some "light-version" of  Web Components and Angular-2 will be able to work with Web Components seamlessly.

Now I'm wondering, what it will take to write "real" Web Components with Angular 2. Are there any plans on that?

Wishes,
Manfred

[2015-07-27 20:59] vsavkin commented on #3234
This should be fixed in alpha-33.

[2015-07-27 21:19] naomiblack commented on #2291
Jeremy to start on this, using @tbosch and @vsavkin to pair with as relevant.

[2015-07-27 21:20] yjbanov commented on #2078
IIRC this used to be a bug in ng1 as well and required an explicit fix, but wasn't the one fixing it, so not sure how it works there. @mhevery or @rkirov might know.

[2015-07-27 21:22] naomiblack commented on #1168
@tbosch now that content reprojection, is this unblocked? @jelbourn is open to working on this with some direction. Can you direct in alpha-35...?

[2015-07-27 21:25] yjbanov commented on #3281
The fix was reverted due to build breakage. Reopening.

[2015-07-27 21:32] naomiblack commented on #1773
Misko agrees this should be in core because there are too many points where it intersects with zones/change detection for a  user like material to efficiently implement this themselves. Design needed.

[2015-07-27 21:51] rkirov commented on #2603
Here is the final design as discussed by Misko, Victor, Tobias and me:

Only Query supports visibility modifiers, while ViewQuery queries all of the view.

[code]
To define the visibility we use a notion of distance based on the number of DOM nodes (not injectors) between the element where the query lives and where the directive lives.
skipSelf sets the lower bound of visibility to 0 or 1
Horizon

[2015-07-27 21:53] rkirov commented on #2603
Alternative suggestion from Victor (closer to DI semantics):
[code]

[2015-07-27 22:05] mhevery commented on #3263
Closing until we have a plnker repro

[2015-07-27 22:05] #3263 closed

[2015-07-27 22:07] mhevery commented on #3266
This is for issues, Could we take help to [gitter](https://gitter.im/angular/angular?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) or [stackoverflow](http://stackoverflow.com/questions/tagged/angular2)?

[2015-07-27 22:07] #3266 closed

[2015-07-27 22:09] mhevery commented on #3267
Similar to: https://github.com/angular/angular/issues/1047

[2015-07-27 22:13] yjbanov opened #3315 "analyze code size of "hello world" app for Dart"
We used to be at 75kb (gzipped + minified). We're now 158kb. We need to find out where the code is coming from and develop a plan for eliminating dead code.

[2015-07-27 22:18] thelgevold commented on #2788
@jeffbcross Ah I see. I think for some reason I was under the impression that httpInjectables and http lived under a module named angular2/http. I did not see that module being declared, so I temporarily declared it locally. Looks like with this setup we get the http dependencies directly from the angular2/angular2 module which seems to be ok when I run the TypeScript compiler. The comments in the

[2015-07-27 22:20] mhevery commented on #3296
It does not look like an angular issue. My guess is that you don't have right encoding or something like that in your HTML. Angular is only concerned with reading the data and that is not the issue here.

Disable angular and see if it works. If it is still broken then it is not angular.

Please provide an plunker and reopen if you think this is a framework issue.

[2015-07-27 22:20] #3296 closed

[2015-07-27 22:25] mhevery commented on #3298
We are still improving our process. Not sure we want to go back and rewrite the change log, but we will get better at it over time. We are still in Alpha.

[2015-07-27 22:25] #3298 closed

[2015-07-27 22:37] mhevery commented on #3306
This works as intended. I know it is a bit strange. But if we change it to

[code]

What it would say is that `<ul>` should not be created until `ng-switch` decides it needs to be created. That means that the nested `ng-switch-when` would never be created. If `ng-switch` would somehow skip itself, it would remove `<ul>` which would change the user behavior.  So there is no simple way to create nes

[2015-07-27 22:37] #3306 closed

[2015-07-27 22:40] mhevery commented on #3313
You will be able to write an Angular component and then wrap it int a real component. The exact details are still TBD.

[2015-07-27 22:40] #3313 closed

[2015-07-27 22:41] mhevery commented on #2947
Per discussion with @matanlurey Closing, reopen when you have repro case.

[2015-07-27 22:41] #2947 closed

[2015-07-27 22:50] #3253 closed

[2015-07-27 23:00] tbosch commented on #3275
@guybedford Our problem is not that the output of the builder file is slow, but that loading files dynamically is slow. We are using this setup during development when we run our examples or unit tests locally. It would be awesome if you could take some minutes and try to debug this...

[2015-07-27 23:08] guybedford commented on #3275
@tbosch @robwormald @pkozlowski-opensource for more background on the issue and fix have a look at https://github.com/ModuleLoader/es6-module-loader/issues/386. This was merged into TypeScript only recently on master. This would be a good reason to run an upgrade, I'd be happy to assist where I can on that.

[2015-07-27 23:11] rkirov opened #3319 "Change detection needs to fire a allViewChangesDone callback"
This would be similar to 'allChangesDone' but it will include any change detectors in the view tree.

It is needed for ViewQuery to fire its onChange callback guaranteeing it has all the directives that might have materialized in this CD turn. See failing test - https://github.com/rkirov/angular/commit/e543bab8a7f1efa9970d68b82c70f68cc81447af

[2015-07-27 23:15] guybedford commented on #3275
@tbosch in terms of your questions on the testing workflows, optimizations that can help include:
* Having a development server that supports HTTP/2 and is optimized for many parallel loads
* Enabling caching in the development server so that the browser doesn't need to request the files each time
* Or alternatively just running a build as part of the development workflow. The important point here

[2015-07-27 23:24] siggisim opened #3321 "limitTo pipe on a list throws change detection exception in Dartium "checked mode""
foo.dart
[code]

foo.html
[code]

Stack trace
[code]

This happens when you run dartium in checked mode, but seems to work fine with checked mode turned off:
[code]

[2015-07-27 23:28] matanlurey commented on #3231
This is important (at least P2) because you may actually want to conditionally change the UI when someone is listening to event (versus not). Does that sound reasonable?

[2015-07-27 23:28] #3173 closed

[2015-07-27 23:29] TedSander commented on #3321
Internal tracking bug http://b/22772734

[2015-07-27 23:37] tbosch commented on #3275
@guybedford Our current build is good. However, if we make the changes above the load time goes from about 3s to 7s, even though we are not loading more files.

[2015-07-28 00:04] tbosch commented on #1168
Almost unblocked. I am reworking ShadowDomStrategy right now, but should be done in 1-2 days (see https://github.com/angular/angular/pull/3314).

[2015-07-28 00:46] TedSander opened #3324 "When multiple apps are in a page at a time the CSS conflict"
In our environment we run multiple separate angular applications on the same page. The CSS emulation uses a static application counter to determine CSS class names. When multiple apps are on a page they conflict.

Most of this code is contained in: angular2/src/render/dom/shadow_dom/util.ts

Propose making _nextComponentUID feed by a variable in the page space instead of a value in the application

[2015-07-28 00:46] TedSander commented on #3324
@naomiblack Can you triage this?

[2015-07-28 00:49] TedSander commented on #3324
b/22774631

[2015-07-28 00:52] naomiblack commented on #3324
this looks like a task for @tbosch -- Tobias, is there anyone besides you who might be able to get to this in alpha-34? I know you're already heavily loaded for the week.

[2015-07-28 01:31] matthewharwood commented on #2031
@ludohenin how would I run this test ?  as gulp test doesnt work?  Otherwise it looks super promising :)

[2015-07-28 01:32] yjbanov commented on #3281
@kegluneq, @jakemac53 I'm going to punt on this for now. The issue turned out to be that the contents of the `packages` directories depend on whether they are created by `pub build` or `pub get`.

`pub build` does _not_ put resources in non-root `packages` and so you have to look for resources using absolute URL. I could change our build to account for that, but that defeats the purpose of the fea

[2015-07-28 03:37] tbosch commented on #3324
Ted, this counter is global, it is shared by all angular applications on
the same page.

Could you provide a demo link where I can debug this? Maybe just on the
buganizer issue if it is an internal app...
On Mon, Jul 27, 2015 at 5:52 PM Naomi Black <notifications@github.com>
wrote:

[2015-07-28 04:39] TedSander commented on #3324
Matt has some code where he can easily reproduce this. I'll have him sync with you. I'll also sync with you tomorrow on what we are seeing.

[2015-07-28 05:25] vsavkin commented on #3321
The issue here is that limitTo creates a new collection every single time. We need to change it to create a new collection if and only if it is actually different.

[2015-07-28 05:33] manfredsteyer commented on #3313
Great. Thx for this quick reply.

[2015-07-28 06:06] rolandjitsu commented on #2031
@matthewharwood almost the same kind of [test](https://github.com/rolandjitsu/ng2-play/blob/master/src/app/directives/autofocus.spec.ts) and you can use `$(npm bin)/gulp test` or `$(npm bin)/gulp test:unit` if you prefer to have tests run in watch mode.

[2015-07-28 07:12] naomiblack opened #3325 "update dgeni docs templates for harp 0.17"
In harp 0.17, vars must be declared as `- var foo=bar`. Need to update https://github.com/angular/angular/blob/master/docs/angular.io-package/templates/module.template.html

and other templates possibly?

[2015-07-28 07:18] naomiblack commented on #3325
This change needs to go in when the one on angular.io (https://github.com/angular/angular.io/pull/176) goes in, otherwise we break our ability to publish API docs.

[2015-07-28 07:53] guybedford commented on #3275
@tbosch that is exactly due to the `export *` performance issue in https://github.com/ModuleLoader/es6-module-loader/issues/386 then. If you want to avoid having to do a full SystemJS upgrade you could hotfix your local SystemJS. Happy to help if that saves time - is this for a normal or SFX build?

[2015-07-28 08:04] pkozlowski-opensource commented on #3311
@divdavem - looks like the e2e tests started to fail, probably due to some changes in the compiler. Maybe you can spot something quickly, as the author of the original code base?

[2015-07-28 10:19] ericmdantas commented on #3186
Just in case someone looks for it too, I ended up implementing a simple message bus, [here's the code](https://github.com/ericmdantas/ng2-tsc/blob/8cd80a11ba75d3cb8c094adfc74447108d559cd3/app/message_bus/message_bus.ts#L1-L20).

The only thing different is that whenever the component is listening to something, you'll have to make NgZone run manually [(code)](https://github.com/ericmdantas/ng2-tsc/

[2015-07-28 10:29] #3167 closed

[2015-07-28 10:46] trippytango opened #3327 "$watchGroup unexpected behaviour"
I've been using $watchGroup to watch a range of fields and trigger a range of functions depending if a particular field has been changed.

I've set up the following [plnkr](http://plnkr.co/edit/F5L7dkwsod7iULKd72Ay?p=preview) to demonstrate the unexpected behaviour I've came across.

     $scope.$watchGroup(['first', 'second', 'third'], function(newValues, oldValues)
      {
        var message =

[2015-07-28 10:57] ericmdantas commented on #3327
Hello!

Could you please ask this in the [angular 1.x repo](https://github.com/angular/angular.js) instead?

This one is meant for stuff related to angular 2.x.