[2020-04-09 10:44] sod commented on #36503
Maybe it works if you change

[code]

to

[code]

[2020-04-09 10:51] gkalpak opened #36539 "fix(service-worker): handle eagerly-cached assets unexpectedly missing from the cache"
## Context

It has been observed that occasionally angular.io loads an `index.html` file that contains (transitive) references to some JS chunks (e.g. lazy-loaded custom elements, such as the ToC module/component) which no longer exist neither on the server nor on the SW cache. When this happens, the page cannot be loaded and user sees the app-shell with a blank content area.

The frequency of the

[2020-04-09 10:54] kumaresan-subramani commented on #36503
Hi @sod ,

Thanks for your reply, this doesn't resolve my issue

[2020-04-09 10:55] peruukki commented on #25214
Like mentioned in the Angular.js issue https://github.com/angular/angular.js/issues/16463#issuecomment-594025179, this CSP violation now appears in other browsers too, at least in Chrome.

I went through the details I could find on this:

- the Angular.js commit that introduced the CSP violation in angular-sanitize: [fix($sanitize): use appropriate inert document strategy for Firefox and Safari](h

[2020-04-09 11:00] JoostK commented on #36526
Ideally ngtsc should not be crossing the package boundary when there's no declarations available.

[2020-04-09 12:00] JiaLiPassion commented on #35157
@IgorMinar , I created a PR https://github.com/angular/angular/pull/36540, it is still working in progress, could you check the output first (https://github.com/JiaLiPassion/zone-new-package-format/tree/master/npm_package), thanks.

[2020-04-09 12:00] AlQuraian commented on #36513
@JoostK Thanks for the explanation! Does that mean this issue should be closed?

[2020-04-09 12:04] indraraj26 commented on #35788
Note:
This error is also occurring when you ran ng serve and in second cmd create some components with ng g c blah, You will see above error.

[2020-04-09 12:10] jayoungers commented on #27148
You may be better off with some sort of view cover indicator that exists at a root level to indicate the route is loading:  I think you'll run into issues eventually for more complicated scenarios with redirecting from the intended route and back

[2020-04-09 12:13] pkozlowski-opensource commented on #35582
@kirill-chirkov-at-clouty yes, please - it would be much, much easier to understand what is going on with a reproduce scenario! More specifically, I would like to see this part illustrated:

Are you trying to create a view instance inside `ngOnDestroy`? This sounds unusual - what would be a functional use-case here?

[2020-04-09 12:40] ShinRai1090 commented on #19438
Bumping this ancient issue as workarounds can only take you so far. Had to use the workaround but that kinda feels shady at the same time. :(

[2020-04-09 13:01] kirill-chirkov-at-clouty commented on #35582
@pkozlowski-opensource
Demo might take a little time and a separate project, since in reproduces only on **server side**.

The use case is next: I have a permission library, something like this https://github.com/AlexKhymenko/ngx-permissions#readme which can add and remove `roles` in runtime and render some content via structural directive depending on whether some role is set or not. Scenario sou

[2020-04-09 13:07] pkozlowski-opensource commented on #35582
@kirill-chirkov-at-clouty thnx for the additional information. Still, I would insist on a _minimal_ reproduce scenario since, sadly, I'm having hard time picture what you are trying to do :-(

We don't need your entire application but rather something minimal that mimics your exact scenario.

[2020-04-09 13:46] Urbanz91 commented on #8785
Are any changes?

[2020-04-09 15:13] dxvladislavvolkov opened #36541 "Get an error "Process unexpectedly crashed" on CI"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 9.1.0

### Description

 Module has not been processed correctly by ngcc

## 🔬 Minimal Reproduction

 You can see the issue in this repo https://github.com/dxvladislavvolkov/testapp5
if you open circleci details
https://ci

[2020-04-09 15:15] stephdz commented on #36522
+1

[2020-04-09 15:29] gkalpak commented on #36541
Closing as a duplicate of #36278. Please follow #36278 for updates.

[2020-04-09 15:29] #36541 closed

[2020-04-09 15:38] cantacell opened #36542 "9.1.0 nguniversal error in tokens.d.ts"
### Affected Package
@nguniversal/express-engine

### Is this a regression?
Yes, work  in version 9.0.5

### Description
Error reported at line 9: export declare const RESPONSE: InjectionToken<Response<any>>;

## 🔥 Exception or Error
ERROR in node_modules/@nguniversal/express-engine/tokens/tokens.d.ts:9:47 - error TS2315: Type 'Response' is not generic.

9 export declare const RESPONSE: InjectionT

[2020-04-09 16:16] sonukapoor commented on #36539
@gkalpak I will try to take a look at this.

[2020-04-09 16:17] gkalpak commented on #36526
This happens because [isWithinPackage()][1] fails to detect files that are dependencies of `packagePath` and are inside a local `node_modules/`. In this case, we have `node_modules/ngx-socket-io/node_modules/ms/` and ngcc thinks `ms/index.js` is part of the `ngx-socket-io` package.

I believe we should change `isWithinPackage()` to:

[code]

[1]: https://github.com/angular/angular/blob/8be8466a00a

[2020-04-09 16:26] devversion commented on #36522
Thanks @stephdz for this additional information. I assumed that it's due to unresolved declarations, but this gives me a good test case. Thanks!

[2020-04-09 16:33] FDIM commented on #27148
In all the cases at work we handle fetching and loading indicators inside page components

Personally I do not understand the need of resolvers (now and in angularjs)

[2020-04-09 16:43] james-schwartzkopf opened #36544 "routerLink type doesn't support null | undefined"
# 🐞 bug report

### Affected Package
@angular/router

### Is this a regression?

Yes, this code works with strictTemplates disabled.

### Description

The router link directive test the value with != null, and handles null & undefined as an empty relative route.  We use this when we want to change the fragment of the URL and stay on the same page.

```<a [routerLink]="" fragment="foo">A Link</a>``

[2020-04-09 16:45] #35180 closed

[2020-04-09 16:52] umdstu commented on #36532
I love it when they're easy! Thanks for the feedback on the issue and the quick work.

[2020-04-09 17:10] hugoebarboza commented on #36526
Hi, I wonder if I need to change something on my code ?

[2020-04-09 17:15] bhuber2010 commented on #35255
I fixed this by removing my local monorepo libs that I also have installed from our private npm (as a sanity test). Not totally sure why it worked fine like that from ~8 up to 9.0.7 but breaks on 9.1.0+. Maybe if I deployed new versions of the libs, it would work, not really sure though.

[2020-04-09 17:23] dudewad commented on #27595
Yeah this is really strange behavior that I'm only seeing in the last couple days. It seems very odd that any decorators would be firing errors like this. I imagine it will lead a lot of people to shut off linting or write ugly tslint disable comments :(

[2020-04-09 17:52] tylerjamesmadsen commented on #20690
I also couldn't get @adamlarner's solution to work, but a simple modification of his workaround is to use double-not `!!` to convert the flushed number to a boolean:
[code]

[2020-04-09 18:32] #36006 closed

[2020-04-09 18:33] jacobweber commented on #29211
This was driving me crazy. Defining the element inside `ngDoBootstrap` fixed it so that errors were logged again.

[2020-04-09 18:39] JoostK commented on #32554
The namespace issue has just been resolved now that #36106 has landed, so I'll go ahead and close this as fixed.

[2020-04-09 18:39] #32554 closed

[2020-04-09 18:43] jbjhjm commented on #33632
A question closely related to the topic:
In Angular 9, if you redeclare a host listener method and add it's decorator, it will be called twice for each event:

[code]
A click would result in logging "Derived click" twice. Is this the way it should work?

[2020-04-09 18:58] gkalpak commented on #36526
No, @hugoebarboza. This is something we need to fix on our end. I'll send a PR later.
(Sorry for the confusion 😅)

[2020-04-09 20:21] smasala opened #36548 "Dynamic input type for checkbox breaks checkbox converts value to string"
# 🐞 bug report

### Affected Package

### Is this a regression?

 No

### Description

Still an issue in ng 9 (https://github.com/angular/angular/issues/7329)

If you create an input and use 2-way binding with `ngModel` of `ReactiveForms` and set the type of input dynamically `[type]="myType"` then it converts the value (boolean) to string and no longer toggles the value of the checkbox correctly

[2020-04-09 20:28] IgorMinar commented on #36539
I'm marking this as freq:low (it does not happen very often) + severity: regression (when it does however happen, it really sucks because an app that worked no longer works).

[2020-04-09 20:28] IgorMinar commented on #36539
thanks @sonukapoor for taking this on!

[2020-04-09 20:35] #36532 closed

[2020-04-10 03:16] mayras commented on #35331
I got same issue:

![image](https://user-images.githubusercontent.com/3589928/78957311-3ad53a80-7b0f-11ea-8b72-1ec479a21001.png)

Because of this module is too small, I decided to just inject this code to my sources and understand what is problem. Using tsling - I found next issues in one ts file:

- semicolons was lost in some rows
- method 'ngOnInit' wasn't backed by OnInit
- and condition 'tsli

[2020-04-10 03:36] hsuanxyz opened #36551 "Two-way binding not work with non-null assertion operator"
# 🐞 bug report

### Affected Package

@angular/compiler-cli or @angular/compiler ?

### Is this a regression?

No

### Description

I enabled strictTemplates in my project and follow this [guide](https://angular.io/guide/template-typecheck#strict-null-checks) to fix type errors.

But when I add a non-null assertion operator to the two-way binding value, the compilation result does not meet expecta

[2020-04-10 05:27] JiaLiPassion commented on #12372
@jcapozzi, I updated your sample with the following code, it should work

[code]

And @cod-e-ash and @MartinKei , could you provide a reproduce repo to me, thanks.

[2020-04-10 05:43] AndrewKushnir commented on #36503
Hi @kumaresan-subramani,

Thanks for providing a repository, I was able to reproduce the issue.

I've performed additional investigation and it looks like the problem is related to the `ngx-translate` and `syncfusion/ej2-angular-ui-components` libs compatibility with Angular Ivy. These libs seem to work correctly when used in isolation, but fail when used together. I've tested the following scenar

[2020-04-10 07:58] bilgeryahov commented on #23657
Works great, thank you!

[2020-04-10 09:06] thduttonuk opened #36554 "Unexpected reserved word 'arguments' when running translations --localize"
# 🐞 bug report

### Is this a regression?

Yes, it worked in Angular 8

### Description

Running `ng build --prod --localize` causes the error `Unexpected reserved word 'arguments'` but running `ng build --prod` builds fine. I have tracked this down to superagent that is referenced by Auth0. What I don't understand is why only --localize causes the build error. We are building and deploying the co

[2020-04-10 09:10] JoostK commented on #35584
Hi @klemenoslaj and @distributev,

I opened a draft PR that implements support for enums. I was able to confirm this resolves the problem in @klemenoslaj's repro project, but you can try it yourselves by replacing the `@angular/compiler-cli` version with the PR's artifact:

[code]

Please let me know whether that resolves your issue. The fix may not be part of the next release, but once we do get

[2020-04-10 09:20] mrVanderWel opened #36555 "Opacity resolves to 1% in production build"
# 🐞 bug report

### Affected Package

 I am not sure but I guess somewhere in the build process.

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 8.3.26

### Description

 When building the application in production mode an element with an opacity of 95% is rendered as one with an opacity of 1%. In dev mode the opacity remains 95%. This happens when usi

[2020-04-10 09:38] symphony2014 commented on #36334
I just found **moduleRef._bootstrapComponents[0].ɵcmp.pipeDefs**  was **null** , if I run with :** ng serve --aot=false**
Seems like the pipeDef was not being bind to metadata.
@splincode

[2020-04-10 09:59] klemenoslaj commented on #35584
Hi @JoostK, the issue is partially resolved :+1: Thanks a lot!

---

I did found out that the `enum` without the initializer or `enum` initialized with numbers won't work.

**Works**
[code]

**Doesn't work**
[code]

**Doesn't work**
[code]

I created a new branch for this reproduction.

**Reproduction**:

Clone: https://github.com/klemenoslaj/template-literal-expressions-issue
Checkout: reproduce-

[2020-04-10 10:20] JoostK commented on #35584
@klemenoslaj Thanks for testing! And indeed, the emitted JS is different for those variants so we need to handle that as well. I can get that sorted out in the PR, shouldn't be too much trouble.

While working on this yesterday I noticed a bug for numeric enums even for the original TypeScript code, so there's some more work to be done in this area.

[2020-04-10 10:31] KissBalazs commented on #31221
My experience, maybe it helps someone:
I had a typo in a mat button.
Instead of `<button type="button" mat-raised-button ` I wrote `<button type="button" -raised-button` and this caused the said error:
[code]

[2020-04-10 10:56] crisbeto commented on #31221
In general if you see this error, it means that there was some error while we were constructing the template for the first time. We're currently working on a fix so that these framework errors don't mask errors in your code.

[2020-04-10 11:28] mhombach commented on #7626
Yes. It is always a good practice to use Renderer2 and listen "on demand" for events that should only be listened to by some condition or only in certain scenarios.
The bigger your app get's, the more you should think about performance and you can easily replace ordinary HostListeners by onDemand-listeners (with Renderer2), once you got used to them :)

[2020-04-10 11:44] nikita-fuchs opened #36558 "error NG6002: Appears in the NgModule.imports of AppModule, but could not be resolved to an NgModule class."
# 🐞 bug report
Preamble: Please do not mark as duplicate, as none of the workarounds in the other issues on NG6002 work here.

### Affected Package
Building with Ivy enabled (sorry for being unprecise).

### Is this a regression?

Not exactly a regression, just related to Ivy.

### Description

I migrated a project from ~8 to 9.1.1, and it builds perfectly well - when `"enableIvy": false`. With Iv

[2020-04-10 11:47] kumaresan-subramani commented on #36503
HI @AndrewKushnir ,

Thanks for validating reported issue.

since this sample working fine in angular 8 without any issue so that i have confirmed that issue does not occurs due to `ngx-translate` and `syncfusion/ej2-angular-ui-components` libs.

Can you please check on this?

[2020-04-10 11:53] petebacondarwin commented on #36558
Thanks for providing a reproduction. I'll look into it!

[2020-04-10 11:54] waterplea commented on #7626
Hey I gave a link to stackblitz for an EventManagerPlugin I've made a few message above. Since then I reworked this approach to a production-ready level and released it as an npm package. So far it worked great for me, kinda like the onDemand listeners approach mentioned above. Here it is on Github:
https://github.com/TinkoffCreditSystems/ng-event-plugins
In Demo section of the readme there's a li

[2020-04-10 12:14] Maximaximum commented on #36006
@JoostK could you please give a hint if this fix will soon appear in an Angular v9 patch release?

[2020-04-10 12:14] petebacondarwin commented on #36558
So here is the problem. The `ng2-semantic-ui` package has two formats `UMD` accessed via the `main` and `ES5` accessed via the `module` property of `package.json`.

In your `postinstall` hook you run `ngcc`. When `ngcc` runs it compiles the `typings` files alongside the first of the formats that it processes. It turns out that `ngcc` is processing `main` first and that for this package the UMD for

[2020-04-10 12:18] JoostK commented on #36006
@Maximaximum It's been merged into the 9.1.x branch just after the release of 9.1.1, so it will be included in 9.1.2 next week. Releases typically go out on Wednesdays.

[2020-04-10 12:51] gkalpak commented on #36558
`ng2-semantic-ui`'s `main` seems to point to a minified file, so that is probbaly why ngcc cannot interpret it correctly.

(The problem with `angular-draggable-droppable` was different. See https://github.com/angular/ngcc-validation/pull/1029/commits/c1cf8cc13066b0f4309c88bd2f01cef155c0f029 for details.)

[2020-04-10 13:11] nikita-fuchs commented on #36558
Thanks a ton for getting to it so quickly ! I must admit that I'm struggling to derive specific to-dos for myself from your thorough analyses. The trouble-causing package might be not the most popular maybe, but I can imagine an edge case scenario like this being a major blocker for other people, too:  What can be done about this ? The repo is to be found here: https://github.com/edcarroll/ng2-sem

[2020-04-10 13:51] pkozlowski-opensource commented on #6827
Additional data point: it seems like support for `is="..."` is somehow controversial and is happening in some browsers: https://github.com/webcomponents/custom-elements-everywhere/issues/376#issuecomment-576878118

[2020-04-10 14:45] petebacondarwin commented on #36558
As long as you are not doing server-side-rendering (i.e. `@angular/universal`, etc) then you can tell ngcc to "ignore" the `main` property, since for browser based apps the CLI will use `module` before `main`. You do this by adding a `ngcc.config.js` file in the root of your project containing:

[code]

[2020-04-10 14:46] gkalpak commented on #36558
@nikita-fuchs, off the top of my head, what you can do to "fix" this locally is add an `ngcc.config.js` file in the root of your project to overwrite the `main` property to poitn to the non-minified file:

[code]

Given that [the package][1] has not released a new version in two years, so it is unlikely that it will be fixed on their side, it makes sense to incorporate that config in ngcc.

[1]: h

[2020-04-10 15:39] ajitsinghkaler commented on #35596
@aikidave all life cycle hooks have the same type of usage notes either we should change all of them for consistency or there are good examples in lifecycle hooks to which we can link for detailed examples

I need your comments on this. I can take this you can assign this to me

[2020-04-10 15:40] petebacondarwin commented on #36521
Thanks for posting this issue. It is a known issue as runtime translation is not officially supported yet in Angular. The fix would be (as you suggest) move these message variable definitions into the template function closure.

Keeping this issue open as a reminder to look into this for runtime support.

[2020-04-10 15:56] aikidave commented on #35596
@ajitsinghkaler Thanks for taking a look at this! I don't know the problem well enough, but I'm happy to review any solutions you suggest!

[2020-04-10 16:08] nbeekman opened #36563 "[Ivy] Subclass/component now inheriting `@Component({ host: {} })` properties from superclass."
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/core

### Is this a regression?

Yes, the previous version in which this bug was not present was: 8 or 9 with Ivy disabled

### Description

With Ivy enabled, subclasses extending a superclass now inherit properties from `@Component({})`. More specifically, subclasses now inherit `host` properties such as `(click)` and `(

[2020-04-10 16:10] #36526 closed

[2020-04-10 16:14] hugoebarboza commented on #36526
Hi, thanks very much...I appreciate your help.

What I have to do now to fix my code ?

[2020-04-10 16:20] gkalpak commented on #36526
@hugoebarboza, the fix has been merged, so you now need to wait for the 9.1.2 release (probably next week) and update your app to that version.

In the meantime, you can temporarily use the [builds artifacts from the PR][1] (see [here][2] for instructions).

[1]: https://circleci.com/gh/angular/angular/678299#artifacts/containers/0
[2]: https://github.com/angular/angular/blob/6ab43d73359adf38c70d9

[2020-04-10 16:37] rubenprins opened #36566 "formatDate returns AM/PM for "B" pattern in locale "en""
# 🐞 bug report

### Affected Package
The issue is caused by package **@angular/common** (locales/extra).

### Is this a regression?

This does not appear to be a regression.

### Description

If you try to use `formatDate` with the "B" placeholder ("at night", "in the morning", etc.), this does not work for locale "en" (and sublocales) between 21:00 and 06:00. Instead of getting "at night", you'll

[2020-04-10 16:38] atscott commented on #36187
Guide can't be updated at this time because the last step adds `CanLoad` which doesn't support returning `UrlTree` for a redirect. Blocking issue: https://github.com/angular/angular/issues/28306

[2020-04-10 17:15] ajit007kumar opened #36568 "Getting exception after converting to angular 9 from angular 7 while running ng build --prod --aot=true"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description
  without --aot its working fine but when running ng build --aot its showing me error
## 🔬 Minimal Reproduction
[code]

## 🔥 Exception or Error
[code]

## 🌍  Your Environment

Angular CLI: 9.1.1
Node:

[2020-04-10 17:44] gkalpak commented on #36558
Actually, looking at this again I don't think you need the UMD format in _any_ package (since you are not using server-side rendering). So, you can fix this (and also speed up your postinstall script by only processing the properties you need with the following ngcc command:

[code]

[2020-04-10 18:24] petebacondarwin commented on #36503
I debugged into the reproduction app, and I can see that Angular is setting the `headerText` input value on the `e-column` component instance. But for some reason this is not being rendered... Perhaps the `e-column` component is not realising that its input has changed? Or perhaps the change detection is not being triggered which means that the new value is not being rendered?

[2020-04-10 19:24] distributev commented on #35584
Hi @JoostK, do you think your PR will handle my situation as well?

[2020-04-10 20:09] joeylgutierrez commented on #13461
has this made any traction? I would really love to dynamically change my validators with only a formGroup as an input to keep everything decoupled!!! Reactive forms are awesome but this is my only hold up.

[2020-04-10 20:53] #36522 closed

[2020-04-10 22:01] MikeOne opened #36570 "style(core): change development mode console message"
The message can be improved by removing the unneeded ‘the’ (x2).

Before:
Angular is running in the development mode. Call enableProdMode() to enable the production mode.

After:
Angular is running in development mode. Call enableProdMode() to enable production mode.

I will do a PR for this issue shortly.

[2020-04-10 22:35] hugoebarboza commented on #36526
Thanks very much...what a great job !!! :)

[2020-04-10 23:50] juanri0s commented on #24643
@kapunahelewong I know it's been about a good amount of time but is there an update on this task?

I can take on any additional work that it needs, although based on the last update, it seems it's all good to go.

[2020-04-11 01:06] imbichitra opened #36572 "How to solve StaticInjectorError in angular?"
Hi all
i develop an angular app  that work fine in developing mode but when i build for production by the command  **ng build --prod** and deploy to nginx server and when click an button i user **routerLink** to navigate to another page then it shows below error.
[code]
But all other **routerLink**  are work fine only one **routerLink**  is not work and shows above error .

Heare are **devDependen

[2020-04-11 03:43] DanWahlin commented on #35418
Any update on this? Since it's a breaking change I'm hoping there is either a workaround that's possible or that work on it has already started. I know you are all extremely busy, but any info is appreciated. :-)

[2020-04-11 07:24] harish1995 opened #36575 "Unable to load schema from 'node_modules\@angular\cli\lib\config\schema.json': ENOENT: no such file or directory, open 'node_modules\@angular\cli\lib\config\schema.json'.(768)"
{
 "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
  "version": 1,
  "defaultProject": "app",
  "newProjectRoot": "projects",
  "projects": {
    "app": {
      "root": "",
      "sourceRoot": "src",
      "projectType": "application",
      "prefix": "app",
      "schematics": {},

[2020-04-11 08:56] Roaders commented on #36518
What confuses me is that I still get the warning when I move the paths from the base tsconfig to tsconfig.app.json. I don't want the path mappings to be available to my library (I'll just use relative paths), I only want it available to my app.

In fact. it still happens if I remove all paths from all tsconfig files????

Why do I still get the warnings?

[2020-04-11 09:43] hooshbartar opened #36577 "core.js:5873 ERROR TypeError: Cannot read property 'filename' of undefined"
I am trying to store some images on my Node.JS server and read it from Angular client with the following codes:

image.ts:

    export class Image {
        fieldname: string;
        originalname: string;
        encoding: string;
        mimetype: string;
        destination: string;
        filename: string;
        path: string;
        size: number;
    }

image.service.ts:

    export class

[2020-04-11 09:53] JoostK commented on #36575
I'm sorry but we don't understand the problem you are reporting.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template.

[2020-04-11 09:53] #36575 closed

[2020-04-11 09:54] JoostK commented on #36572
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-04-11 09:54] #36572 closed

[2020-04-11 09:55] JoostK commented on #36577
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-11 09:55] #36577 closed

[2020-04-11 10:35] freemind12 commented on #36577
Hi @JoostK , I did what you said few days ago but no one answered on StackOverflow, then I searched for help here!

Isn't possible to get some helps here?

[2020-04-11 11:21] ajitsinghkaler commented on #35422
@aikidave can I tke this one

[2020-04-11 11:22] ajitsinghkaler commented on #35407
@kapunahelewong @aikidave can I take this one

[2020-04-11 12:00] kirill-chirkov-at-clouty commented on #35582
@pkozlowski-opensource
Here is the repro: https://github.com/kirill-chirkov-at-clouty/Embedded-view-on-destroy-repro
Repro scenario:
1. Clone repo
2. `npm ci`
3. `npm run build:ssr`
4. `npm run serve:ssr`
5. Enter localhost:4200
Error would appear in server output

[2020-04-11 12:19] nikita-fuchs commented on #36558
Here we go!

[code]
resulted in `ERROR in Cannot resolve type entity ɵngcc1.SuiMessage to symbol` when trying to build, but

[code]
did the trick! ✅Next I tried ```"postinstall": "npm run init && ngcc --create-ivy-entry-points --first-only --properties es2015 browser module main",``` (in the commands of the `package.json`, for people newer to this topic) instead of the `ngcc.config.js` and didn't

[2020-04-11 12:50] nikita-fuchs commented on #36558
...and the problem now seems to be that some of the library's code wasn't processed, it's essentially not there where it should be, I guess, and therefore renders the whole application dysfunctional:

Reproduce:
1. Perform solution from above
2. Run npm install
3. Activate Ivy and `ng serve` the application.
4. The result is that there are no tabs anymore (sorry for the large picture, it auto scal

[2020-04-11 14:31] JoostK commented on #36577
The issue tracker here on Github is for reporting bugs in the Angular framework, whereas the issue you're reporting is concerning your own code and data structures. You can try [asking on gitter](https://gitter.im/angular/angular).

[2020-04-11 15:22] ajitsinghkaler commented on #36345
@vthinkxie you are talking about change detection right

[2020-04-11 16:09] pickfire commented on #27148
We handle it using guards, redirect to another page if it hits the criteria.

[2020-04-11 16:10] hugoebarboza opened #36579 "Angular 9: WARNING while build project"
Hi,

When I build, so many warning like, around 100.

How can I solve it? Thanks.

[2020-04-11 16:17] petebacondarwin commented on #36579
Duplicate of #36534

[2020-04-11 16:17] #36579 closed

[2020-04-11 16:22] hugoebarboza commented on #36534
Hi, thanks for writing back...

I wonder if I need to change something on my code or I need to wait for a new release ?

Thanks very much.

[2020-04-11 16:23] indraraj26 opened #36581 "(lib) (lang) ngx-share-button' is not a known element"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/...

### Is this a regression?

 Yes, the previous version in which this bug was not present was: no idea

### Description
I have created small library and included in my project it works perfectly no compilation error.
but in vscode i always get this
[code]

I already export those components and module from public_api.

[2020-04-11 16:23] petebacondarwin commented on #36534
It will be in the next patch release.

[2020-04-11 17:52] Achilles1515 commented on #36570
I've always thought it would be nice to include which rendering engine is in use. Something like:

Angular is running in development mode **with Ivy enabled**. Call enableProdMode() to enable production mode.

[2020-04-11 19:11] JoostK commented on #35584
@distributev Your issue appears to be unrelated to the issue with enums that is being fixed in #36550, so no. I was under the assumption that you were having the same issue as reported here, but upon reading your comment I don't think it is. I think it's the custom loader you're using, in which case it may be related to #30721. Without more info I couldn't say for sure, though.

[2020-04-11 19:14] JoostK commented on #35584
@klemenoslaj These new artifacts resolve the issue with numeric enums:

[code]

Note however that ngcc is now smarter than ngtsc itself, as ngtsc doesn't yet handle numeric enums correctly.

[2020-04-11 20:18] sourcekraft commented on #35584
@JoostK the error message I get it is exactly the same as the one noted in this issue - I believe the custom loader works fine and it is loading the content fine, the issue appears when angular is evaluating the template (leftMenuTemplate comes populated with the correct data from the loader). You could ignore my custom loader and you could assume that leftMenuTemplate contains a string and the pr

[2020-04-11 20:40] JoostK commented on #35584
@sourcekraft Are you @distributev at the same time?

If it's not the custom loader, it might be the default export. I don't see any enums in the example from @distributev, so I don't see how enums are part of the problem? If you wish, you can test with the PR's artifact to test it out on your project, see my previous comment.

[2020-04-11 21:28] chenlijun99 commented on #17898
Could it be related to #34066?

[2020-04-11 21:32] distributev commented on #35584
Sorry @JoostK I was logged in and commented with a different user.

The issue is called

_ES6 template literal expressions not working past v9_

and as you can see the title is not mentioning anything about enums. Indeed, @klemenoslaj gave an example with an enum however I believe the issue is wider and goes beyond the enum example which happened to be the first example.

The title describes exact

[2020-04-11 22:16] ogur commented on #30524
With Angular 9 and Ivy any decorator not longer works (it needs to be Injectable), but the rest of the post is true and should be fixed.

[2020-04-11 22:42] kernwig opened #36582 "ng update 8.0 to 9.1 fails during Undecorated classes migration"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [ ] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [x] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?

No, since updates are version specific.

### Description

Running `ng update @angular/cli @angular/core` on a fairly simple Angular 8.0.3 application

[2020-04-11 22:43] kernwig commented on #36346
Migration now fails at a later stage. See issue #36582

[2020-04-12 05:59] ajitsinghkaler commented on #36124
@ranaivomahaleo o we really need git for an angular setup I removed git and npm was working fine we only need npm and node for the proper working of angular

[2020-04-12 06:37] harish1995 opened #36585 "Unable to load schema from 'node_modules\@angular\cli\lib\config\schema.json': ENOENT: no such file or directory, open 'node_modules\@angular\cli\lib\config\schema.json'.(768)"
I have deleted node_module and install it again, but after updating project, it giving me a error at angular.json. The error is Unable to load schema from
"$schema": "./node_modules/@angular/cli/lib/config/schema.json".
please help  me how to resolve this issue, is there any option to recreate new angular.json file.

[2020-04-12 07:42] EmmanuelDemey commented on #36124
We do not need git at all.
You can skip the creation of the git repository by using the skipGit flag with @angular/cli new command.

[2020-04-12 08:26] ajitsinghkaler commented on #36124
@kapunahelewong @gkalpak I think we can close this

[2020-04-12 08:30] Akash491 commented on #36060
In my case stopping ng serve before adding the new package solved issue. Thanks a lot @petebacondarwin

[2020-04-12 09:08] rasel-rz commented on #9275
i am still having the issue. Can anyone provide a solution or a workaround? Even when i _inspect_ the Checkbox, the `ng-reflect-checked` value is `False` but still showing the` Tick `on the display.

[2020-04-12 09:08] #36124 closed

[2020-04-12 09:09] gkalpak commented on #36124
@ranaivomahaleo, if you ran into a specific issue by not having git installed, feel free to let us know below (or on a new issue).

[2020-04-12 09:41] indraraj26 commented on #36548
work around:
[code]

[2020-04-12 09:55] JoostK commented on #36582
Duplicate of #36522 which has been fixed in #36543, will be available in the next release.

[2020-04-12 09:55] #36582 closed

[2020-04-12 10:01] JoostK commented on #36568
This was recently reported internally as FW-2051, I added your report to that issue.

[2020-04-12 10:09] JoostK commented on #36551
Tracking as FW-2071

[2020-04-12 10:15] samivic commented on #36060
`npm ci`  to delete node_modules and the `npm install`, it works for me. i had problem with Angular Materials!

[2020-04-12 10:28] JoostK commented on #35584
@distributev This issue brought up two issues as identified for now:

1. String concatenation with enum values is not working
2. Enum values cannot be resolved in ngcc

The first issue occurs when using the `+` operator on strings, which is how template literal expressions appear in JavaScript that ngcc needs to process. This was addressed in #36461 and has been released in 9.1.1, but this fix was

[2020-04-12 10:36] distributev commented on #35584
@JoostK Thank you for your help and for your hard work.

I believe the issue can be reproduced with the simple scenario I described above. You could hard-code the leftMenuTemplate as a plain string to be used in the interpolation and the issue will still appear.

[2020-04-12 10:53] JoostK commented on #35584
@distributev I did some tests with the following snippet:

[code]

This works just fine using Angular 9.1.1 without #36550, both when targeting ES2015 vs ES5, and ngtsc (app) vs ngcc (library).

[2020-04-12 11:17] distributev commented on #35584
Did you do the angular.json production build? Production build configuration is what it is failing - if you build for development it will work fine.

[2020-04-12 11:26] alex-jss opened #36587 "How to create $rootScope in Angular 9"
`Angular v. 9.0.5`

In `AngularJS` i used `$rootScope` to pass user data, for example:

[code]

The data in `$rootScope` was filled in every time a page was opened or updated using a query to `SQL`.

In `Angular 9` i did not find the use of `$rootScope`.
Tell me with what help can this functionality be implemented?

If possible, please show an example of implementation

[2020-04-12 11:26] ericmartinezr commented on #36585
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-12 12:02] JoostK commented on #36587
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-12 12:02] #36587 closed

[2020-04-12 12:07] JoostK commented on #35584
@distributev Works fine either way. If you say development build, that probably has `aot` set to `false`. The values for `optimization` and `buildOptimizer` options should be irrelevant.

[2020-04-12 12:15] sourcekraft commented on #35584
Strange, it might be from the raw-loader then but I don't see how raw-loader would work in the development build and fail the compilation in the production build.

I gave more details in my first post what I mean with 'development' and 'production' build configuration (basically what angular.json offers by default)

@JoostK Thank you for your help!

[2020-04-12 12:31] Mohamed-Omar-Wedel commented on #19438
**It Works Finally thank you**

[2020-04-12 12:46] spaceribs opened #36588 "Zone.js attempts to patch "fetch" even when "common/fetch" is not imported."
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/zone.js

### Is this a regression?

Based on previous issue history, no.

### Description

I am using angular in a web extension injected content script context. When the script is injected by the background page, the following error appears in Firefox:

![image](https://user-images.githubusercontent.com/715484/79068689-

[2020-04-12 13:11] JiaLiPassion commented on #36588
@spaceribs , could you try zone.js 0.10.3? This issue should have been fixed.

[2020-04-12 13:18] spaceribs commented on #36588
@JiaLiPassion I've verified that when running `0.10.3` and using the default import:
[code]
the error still appears in the background script debug panel.

[2020-04-12 13:23] spaceribs commented on #36588
@JiaLiPassion if you'd like, I can create a minimum reproduction repo

[2020-04-12 14:22] sujithmathewthomas opened #36589 "Warning message being shown while building."
# 🐞 bug report

### Is this a regression?

Yes, the previous version in which this bug was not present was 7.2.16

### Description

Warning message being shown for `ng2-ace-editor` module, while building.

## 🔬 Minimal Reproduction
 Import ng2-ace-module to app.module and try `ng build`. This doesn't break the build. It's just a warning.

## 🔥 Exception or Error
<pre><code>
Warning: Entry point 'n

[2020-04-12 14:29] spaceribs commented on #36588
https://github.com/spaceribs/zonejs-angular-issue

[2020-04-12 14:50] #36585 closed

[2020-04-12 15:04] seanareed opened #36590 "DOM Nodes Not Being Released - Possible Memory Leak"
# 🐞 bug report

### Description

I'm noticing DOM nodes are not being released when I enter a text-input value into a form and navigate away from the page.

On larger projects with many elements on the page, the app gets laggy over time and memory usage continually increases.

It is also evident in an app with the simplest form if you watch the performance monitor and do a performance recording in

[2020-04-12 15:45] klemenoslaj commented on #35584
Can you try to make a TS file exporting your template as string instead? Then import and use this string in your component template instead, to validate if raw-loader has something to do with it.

I am proposing this, because I am using it (not extensively tho) in one of my projects and it works fine.

[2020-04-12 15:50] petebacondarwin commented on #36589
This is working as expected.

[2020-04-12 16:00] JiaLiPassion commented on #36588
@spaceribs, thank you for the repo, I just confirmed, this has been fixed in https://github.com/angular/angular/pull/36311, but this PR is not included in the 0.10.3 release, so please wait for the next release. I will try to take a look about the `ZoneAwarePromise has been overwritten` issue later.

[2020-04-12 16:13] spaceribs commented on #36588
@JiaLiPassion no problem, thanks for looking into it! There are a bunch of events which aren't patched for zone.js contained in the web extension API `chrome`/`browser` global, and I'd be interested in doing so. Any recommendations on where I should look to get started on something like that?

[2020-04-12 16:31] JiaLiPassion commented on #36588
@spaceribs, sure, you can take a look the folder here https://github.com/angular/angular/tree/master/packages/zone.js/lib/browser, there are several standalone API patches source code here, depends on what kind of APIs you want to patch, you can find samples in this folder, feel free to contact me if you need any help!

[2020-04-12 16:56] ajit007kumar commented on #36568
Thanks JoostK,
But Is there any way to resolve this issue, If yes then can you please update here as I don't have credential to view FW-2051,
It would be very great if we get some solution here

[2020-04-12 16:57] actionanand opened #36593 "Issue with MatBottomSheet entrycomponent in angular 9 stable version"
# 🐞 bug report

### Affected Package
MatBottomSheetModule, MatListModule, MatCardModule and keyvalue pipe

### Is this a regression?

Yes, the previous version in which this bug was not present

### Description

MatBottomSheetModule(enrycomponent) is not supporting materials pipes such as keyvalue. It is working when using plane text like "Hello world". It was working in angular 8. I'm facing this

[2020-04-12 17:14] ericmartinezr commented on #36593
Please report Material issues in its repo https://github.com/angular/components/issues :+1:

[2020-04-12 17:31] JoostK commented on #36568
Hi @ajit007kumar,

Unfortunately I can't point you to the exact location, but let's try giving some instructions on how to find the source of the issue.

The issue originates from a binding in an Angular template that contains a colon. Perhaps something like this:

[code]

You can try to locate the source of the error by patching the `node_modules\@angular\compiler\bundles\compiler.umd.js` as foll

[2020-04-12 18:06] MansourFall opened #36594 "Fix typo in NgZone guide"
# 📚 Docs or angular.io bug report

### Description

The  closing tag ```</btn> ```  is used  in the third code example but should be ```</button>```.
Also, the closing tag on the next line should be ```</canvas>``` and not just ```<canvas>```

## 🔬 Minimal Reproduction
Open any brower (e.g. Chrome) and navigate to this url:
https://angular.io/guide/zone#detecting-changes-with-plain-javascript
The

[2020-04-12 18:08] ajit007kumar commented on #36568
Thanks JoostK for your quick response,
This helps me to find out the root cause and resolve, I found that the issue was with my template itself

[2020-04-12 18:27] actionanand commented on #36593
Not only material. It's angular issue. In entry component(angular 9), unable to use keyvalue pipe too.

[2020-04-12 23:53] nrwinner commented on #25672
Can confirm this is still an issue in Angular 9

[2020-04-13 01:15] AleksanderBodurri commented on #36590
Your minimal reproduction app is an angular 6 application.

[2020-04-13 01:58] yelhouti opened #36600 "Build library prod fails with directive"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/compiler

### Is this a regression?

Probably

### Description

I am not able to build a library that defines a directive

## 🔬 Minimal Reproduction

The problem happens when building a library with `ng build --prod`
The code is here:
https://github.com/elhoutico/eco-components/tree/master/projects/currency-input

[code]

[2020-04-13 02:04] seanareed commented on #36590
Thanks for noticing that.

I've updated the package.json on StackBlitz to match my package.json (angular 9.1.1).

The minimal reproduction app dependencies now coincide with the environment in which I'm experiencing the unexpected behavior.

[2020-04-13 02:14] yelhouti commented on #36600
problem solved, providers in directive was not array, my bad

[2020-04-13 02:14] #36600 closed

[2020-04-13 03:23] kumaresan-subramani commented on #36503
HI @petebacondarwin ,

Thanks for your reply,

https://github.com/angular/angular/issues/36503#issuecomment-610892113

From my above comment, i have mentioned when angular try to get `e-column` component at initial stage, `headertext` property is null so that i wont know how to handle this at our end.

But same works exactlyfine in angular 8.

I have changed something recently i my source level.re

[2020-04-13 03:30] kumaresan-subramani commented on #36340
Hi @alxhub ,

Any update regarding this

[2020-04-13 04:11] AleksanderBodurri commented on #36590
No worries. I agree that this behaviour is unexpected but I wonder if Angular is really the cause.

Out of curiosity, do you have any chrome extensions enabled?

[2020-04-13 04:24] AleksanderBodurri commented on #36590
Probably unrelated but it appears that ivy is not enabled in your reproduction app.

[2020-04-13 04:26] AleksanderBodurri commented on #36590
See possibly related issue discussed here https://github.com/angular/angular.js/issues/4864

[2020-04-13 04:59] RockNHawk commented on #8277
I do like this, it works on Angular 9.

	@Component({
	  selector: 'input-error',
	  templateUrl: 'component.html'
	})
	export class FromItemErrorComponent extends FromItemComponentBase {
	  constructor(private hostElement: ElementRef) {
		super(hostElement);
	  }
	}

	@Component({
	  selector: 'input-password',
	  templateUrl: 'component.html'
	})
	export class FromItemPasswordComponent extends F

[2020-04-13 06:42] sujithmathewthomas commented on #36589
So that warning won't cause any problem? Can I just ignore it?

[2020-04-13 06:45] abdirisakmo opened #36602 "Can't bind to 'ngModel' since it isn't a known property of 'input'. i have imported forms module but still not working, I am using angular 9"
Can't bind to 'ngModel' since it isn't a known property of 'input'.

    18            [(ngModel)]="user.password

[2020-04-13 07:08] afeef1915 opened #36603 "FormControlName not working with Checkboxes Angular 9"
This code was working Angular 8.2

But didn't work Angular 9

			<input [id]="field.code" [name]="field.code" [formControlName]="field.code"
			class="form-check-input custom-control-input" type="checkbox"
			value="field.checkbox_values.checked.code" (change)="onChange($event)"
			[checked]="this.field.checkbox_values.checked.code === this.field.value ? true : false"
			/>

			onChange($event) {

[2020-04-13 07:09] mboughaba opened #36604 "IVY Lazy loaded component is not well compiled"
# 🐞 bug report

### Affected Package
@angular/compiler?

### Is this a regression?
Lazy loading component via import is new in IV

### Description

 Directives such as ngIf, ngClass, ngStyle don't work in lazy loaded component.
`core.js:12626 Can't bind to 'xxx' since it isn't a known property of 'xxx'.`

The only binding I managed to get it working is something like: `[style.color]="color"`

## 🔬

[2020-04-13 08:07] petebacondarwin commented on #36589
If your application works correctly then you can ignore this warning. It is there to help debug situations where you application is failing due to entry-points being processed in the wrong order.

Looking at the thing being imported: https://unpkg.com/browse/brace@0.11.1/theme/monokai.js you can see that this has no Angular code and so will not affect build order.

[2020-04-13 08:39] JoostK commented on #36604
This is working as expected. The `LazyComponent` is not declared in any NgModule, so it doesn't have access to any declarations.

[2020-04-13 08:50] Totati commented on #36603
Hi. Checked and formControlName should not be used together. When using formCobtrolName directive you should wrap it in a fromGroup, and set the value through the formGroup. You're mixing reactive forms with template driven forms.

[2020-04-13 09:31] sonukapoor commented on #36590
Related Issue: https://github.com/angular/angular/issues/36449

[2020-04-13 09:58] mboughaba commented on #36604
thx JoostK, I've also tried with a module and got the same error.

[code]

any thought of this?

[2020-04-13 10:15] georgelviv commented on #14033
I would like to have the possibility to specify from the parent component property binding, inputs will never change, but in others, I want still to have these options. For example, I have some component like this
`
// Command-Bar.component.ts
.....
@Input() actionButtonsList: ActionBtn[]
.....

And I have 3 possible ways how do I want to use this component

- App1 has dynamic action button lists,

[2020-04-13 10:53] sonukapoor commented on #35891
@alexeagle Anything else I can try to get this fixed?

[2020-04-13 11:26] MariusBo commented on #36522
I am still having this isssue
[angular-errors.txt](https://github.com/angular/angular/files/4469303/angular-errors.txt)

[2020-04-13 11:32] seanareed commented on #36590
Thanks again. I've updated the angular.json file to match my local angular.json file as well.

[2020-04-13 11:34] ericmartinezr commented on #36602
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-13 11:39] seanareed commented on #36590
That looks like an issue with AngularJS. The latest version I see named there is 1.3.15. Did you see something there that you think is still relevant?

[2020-04-13 11:40] #36589 closed

[2020-04-13 12:09] #36604 closed

[2020-04-13 12:16] CarlosTorrecillas commented on #32897
To me this is a critical issue since I got my Angular 9 SSR hanging and the CPU goes to the roof. In my case, this is happening when navigating straight to a lazy loaded module and invoking the HTTPClient. If you load the "home page" and then navigate to a lazy loaded route the problem does not exist.

For reference I have:
node v10.16.2
Angular 9.0.6
Universal 9.0.2

I'm importing the HttpClientM

[2020-04-13 12:24] omnibrain commented on #35944
I'm also facing this problem. While I agree that returning jasmine.SpyObj<T> from TestBed.inject is definitely not a good idea, some guidance would be helpful as this is a very standard use case in unit tests. In the project I'm currently working on we have more than 200 occurrences of this.

So far the only solution I've come up with for this problem is

[code]

... but it's very verbose and erro

[2020-04-13 12:51] gvonhagel opened #36606 "ApplicationModule_Factory inject() must be called from an injection context"
# 🐞 bug report

### Affected Package
@angular/universal

### Is this a regression?
I'm not sure

### Description
I am trying to write my own Universal rendering handler for Fastify. I used the @nguniversal/express-engine schematic but have attempted to implement my own handler using a Fastify middleware plugin. My logic for the rendering is based off of the express-engine and hapi-engine.

## 🔬 Mi

[2020-04-13 12:59] seanareed commented on #36590
@AleksanderBodurri Good call. I've just disabled all of my extensions, and the issue seems to be remedied. I'll add them back in one by one and post the results.

[2020-04-13 14:08] OisinNolan opened #36607 "TypeScript constructor.name not working in ng build --prod code"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

TypeScript class.constructor.name working fine locally but when used in 'ng build --prod' version it was not returning correct name

## 🔬 Minimal Reproduction

 https://stackblitz.com/...

## 🔥 Excep

[2020-04-13 14:19] spaceribs commented on #36588
Closing this as the fix should exist in the next release

[2020-04-13 14:19] #36588 closed

[2020-04-13 14:28] seanareed commented on #36590
@AleksanderBodurri @sonukapoor Disabling the 1Password extension seems to fix the issue in just a normal Chrome browser when served using "ng start", which is good news, so this is probably solved as far as Angular goes, since it's probably not an Angular bug.

I first noticed the issue when using Angular within an Electron app, however, which uses Chromium as far as I can tell, and I'm not sure w

[2020-04-13 14:29] mlc-mlapis commented on #36607
@OisinNolan You have to take the fact that the creation of the production build means using the optimization process that obstacle all names in source to cryptic alternatives (that are unique and minimal cross the whole app).

[2020-04-13 14:36] afeef1915 commented on #36603
Thanks for the answer.

Please can you suggest any code snippet please.

Thank you

[2020-04-13 15:10] aikidave commented on #35422
Thank you, @ajitsinghkaler! Much appreciated! Please let me know if I can help in any way!

[2020-04-13 15:10] AleksanderBodurri commented on #36590
It's possible, although I'd say unlikely, that the source of the issue is a V8 memory leak amplified by the fact that an application is an SPA (since DOM nodes are not automatically dropped between pages).

This is strange. I wouldn't write off this issue so easily if the electron app behaved that way.

Definitely warrants further investigation.

[2020-04-13 15:17] #36594 closed

[2020-04-13 15:20] Totati commented on #36603
@afeef1915
https://angular.io/guide/reactive-forms#grouping-form-controls
https://angular.io/api/forms/CheckboxControlValueAccessor

[2020-04-13 16:11] devversion commented on #36346
Thanks for reporting back. This has been already solved with https://github.com/angular/angular/commit/ca677481a2ac3675b84698e2d16fd379e1799e2c. Let me know if there is anything else.

[2020-04-13 16:12] devversion commented on #36582
Yep. Just wanted to get back to this too. Fix landed with https://github.com/angular/angular/commit/ca677481a2ac3675b84698e2d16fd379e1799e2c. Thanks for reporting back!

[2020-04-13 17:33] gvonhagel commented on #36606
Some additional information, if it's helpful:

I am able to successfully render content using the exported `renderModule` method from main.server.ts. I understand this is probably not the best way to go about things. Trying to import and use `renderModule` from `@angular/platform-server` throws the same error as above.

[2020-04-13 17:49] AndrewKushnir commented on #36602
Hi @abdirisakmo,

It looks like this issue doesn't contain sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still persists, please file a new issue and

[2020-04-13 17:49] #36602 closed

[2020-04-13 18:29] ranma42 opened #36609 "Bad template type checking in `*ngFor`"
# 🐞 bug report

### Affected Package

I do not know which angular package causes the issue.
I believe it depends on either the definition of `ngFor` (`@angular/core`) or on the transpilation process.

### Is this a regression?

 No

### Description

The [Template type checking guide](https://angular.io/guide/template-typecheck#strict-mode) states that the compiler should be able to type-check `ngF

[2020-04-13 18:55] petebacondarwin commented on #36566
Good spot @rubenprins. I'll put together a fix.

[2020-04-13 18:58] Jasonkoolman commented on #21507
Could this be addressed to the angular core team? Angular animations are very powerful in the hands of first-party users, but a pain to use for library developers. Implementing reusable UI components without having the option to configure animations is a bummer.

Abstraction should be key here. Angular animations provide a fluent API to create reusable animations of whatever complexity. Library de

[2020-04-13 19:03] JoostK commented on #36609
The flag is called `strictTemplates`, not `strictTemplateTypeCheck`.

[2020-04-13 19:13] JoostK commented on #36606
It looks like you're bundling two copies of `@angular/core` somehow. The call stack refers to both `core.umd.js` and `main.js`, which causes the injector state to have been setup inside `core.umd.js` not to be available in the `main.js` module. Could you verify your bundling setup? I don't think this is an Angular issue.

[2020-04-13 19:18] Jasonkoolman commented on #36508
@mlakmal Could you not just remove the initial class which is applied on the element? You could also use the `@HostListener` decorator I think.

[2020-04-13 19:26] ranma42 commented on #36609
Oops, my bad! Sorry for the noise.

[2020-04-13 19:26] #36609 closed

[2020-04-13 19:58] RUPALAVECINO commented on #35255
Lo estas importando mal

[2020-04-13 22:02] diegodfsd commented on #30835
Some have an option to deploy to S3?

[2020-04-14 00:12] mlakmal commented on #36508
@Jasonkoolman i tried hostlistner binding and it didn’t work...

Also we can’t remove that class initially, if we do, it shows invalid state for brief time until async function completes...

[2020-04-14 00:33] #36492 closed

[2020-04-14 00:36] gregmagolan commented on #35891
Its hard to say what is going wrong without a reproduction.

This error is very suspicious in your logs:
[code]

I tried this on my Windows laptop on the latest Angular master with `--output_user_root=C:\bazel-tempsk\` to verify that that works and the build succeeded. Logs from my local build:

[code]

Can you try the following:
* clean clone of the latest angular master
* clear the `--output_use

[2020-04-14 02:10] sonukapoor commented on #35891
Thanks, @gregmagolan. Unfortunately, I am getting the same errors.  The angular and the bezel output folders both did not exist before I ran the commands. It seems there is something special about my machine. I can reproduce this every time, regardless of the folder.

[code]

[2020-04-14 02:12] sonukapoor commented on #35891
I have also pinged you on gitter, in the case you want to quickly chat about this issue.

[2020-04-14 02:22] johnsonb2 commented on #10064
I want to be able to indicate in the UI that a complex form group has been validated, which has an async validator both on its child and on itself. This significantly impacts my ability to do so.

[2020-04-14 02:42] sonukapoor commented on #35891
@gregmagolan Another update: I renamed my home directory without spaces and ran the same commands again. Same result. Are there any logs we can look at to see what is causing this?

[2020-04-14 04:48] gregmagolan commented on #35891
Hmmm.. It looks like the symlink issue didn't show up in those logs which is good.

It may be a resource issue on your machine. How much memory do you have on your machine? Could you try the build again with the following flags:

`--local_cpu_resources=1 --ram_utilization_factor=50`

There was also a regression in rules_nodejs 1.5.0 that introduced a memory leak on ts_library. We fixed it in 1.6.0

[2020-04-14 06:29] sushilchaurasia1990 opened #36614 "Angular Ivy"
I was working on angular 9 migration and find one issue related to IVY.
I am using custom directive in which I am injecting NgModel and trying to access this.ngModel.viewModel property which works in angular 9 if I set enableIvy to false but when enableIvy is set to true which is default angular 9 behavior viewModel property in not available inside this.ngModel.

[2020-04-14 06:56] ektakanojiya26 commented on #29212
Is there any update. I am working on the Angular 7 & facing the same issue  of browser back because of iframe

[2020-04-14 07:05] CSchulz opened #36616 "ngcc timeout does not quit process"
# 🐞 Bug report

### Command (mark with an `x`)

- [ ] new
- [x] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ ] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc

### Is this a regression?
I don't know.

### Description
ngcc timeout does not stop the execution and the process will run infinitely. I have seen this behavior on our CI, where

[2020-04-14 07:09] delfinogomes commented on #36254
Well, reading the code, it looks like absolute paths are ignored in the filter and demand a custom implementation as documented in the code:
https://github.com/angular/angular/blob/f8096d499324cf0961f092944bbaedd05364eea1/packages/common/http/src/xsrf.ts#L75

But IMHO, it should not assume that a absolute path has a diferent origin, becaus it's common in development to have a backend running in a

[2020-04-14 07:13] govindthakur25 commented on #36315
I am also facing a similar issue after upgrading to Angular 9 and enabling Ivy. I have created a directive that prevents the page scroll while someone opens a mat-select.

Below is the minimal code to demonstrate the problem, somehow the exception is not being logged in the console in the stackblitz, but this will give enough idea about the actual code.
https://stackblitz.com/edit/angular-hcdvcq
F

[2020-04-14 07:50] Jasonkoolman commented on #36508
@mlakmal Try this:

[code]
You could use [classnames](https://www.npmjs.com/package/classnames) to conditionally join classes together in the `classes()` method.

[2020-04-14 07:59] mlc-mlapis commented on #36315
@govindthakur25 It looks like using a private API:

`this.selectBox = (<any>(this.viewRef))._data.componentView.component;`

[2020-04-14 08:09] vipinjn24 commented on #32897
@CarlosTorrecillas I am saying that this issue can be resolved by installing xhr2 manually. This is the reason this is not critical.

Please issue the below command.
`npm i xhr2 --save`

[2020-04-14 08:35] CarlosTorrecillas commented on #32897
@vipinjn24 indeed, in fact if you upgrade to angular 9.1.1 it does contain the update. My issue comes to the usage of the HTTPClient on a lazy loaded module which is causing the application to hang and sets the cpu usage to 100%

[2020-04-14 08:39] vipinjn24 commented on #32897
@CarlosTorrecillas Then you should take this to a forum may be stackoverflow.

Also the just to give you a hint, if you are using ngrx effects then check if any effect is called without dispatch: false and no returned dispatch in the effect itself. This makes even i9 CPU touch the heights.

[2020-04-14 08:40] trew commented on #36278
FYI this is still happening for me in 9.1.1.

[2020-04-14 09:04] ajit007kumar opened #36615 "Taking more then 1hr while build --prod=true with --aot=true"
# 🐞 bug report

### Affected Package
When I build my project with below command it is taking more then 1.5 hr to complete its build process
node --max_old_space_size=12000 node_modules/@angular/cli/bin/ng build --prod=true --progress=true --verbose=true

### Description
<w> [webpack.Progress] 276437ms building
<w> [webpack.Progress] 1655ms finish module graph
<i> [webpack.Progress] 394ms dependenc

[2020-04-14 09:19] petebacondarwin commented on #36615
It looks to me like this is something happening in the general build pipeline rather than specifically the Angular compiler part, so transferring over to the CLI project...

[2020-04-14 09:35] sonukapoor commented on #35891
I have 16gb ram.

![image](https://user-images.githubusercontent.com/59734/79209701-c6054780-7e11-11ea-9646-676a6c32870e.png)

I have tried the above flag as well. No luck :(

[2020-04-14 09:42] CarlosTorrecillas commented on #32897
Thanks for the tip. Indeed I took it to StackOverflow: https://stackoverflow.com/q/61188087/5293466 and still haven’t got a clue as to why this is happening. I’ve just got a standard get promise

[2020-04-14 09:43] sonukapoor commented on #35891
Some more information - maybe this helps:
[code]

[2020-04-14 11:09] fclmman commented on #31495
Any news on this issue? steped into that too. Quite an annoying bug

[2020-04-14 11:54] seanareed commented on #36590
@AleksanderBodurri In an attempt to further isolate the issue for myself, a couple of new things:

I created a new Electron-Angular app using the latest versions of both (8.2.2 an 9.1.1) and the exact minimal reproduction app I gave above, and the problem still persists is that context as originally described.

I've run the same mini reproduction app in a freshly installed Chromium (84.0.4114.0),

[2020-04-14 12:08] yashar-rad commented on #32313
Any updates on this?

[2020-04-14 12:13] govindthakur25 commented on #36315
@mlc-mlapis Yes, I get that. But which public API of ViewContainerRef will give me access to the componentView then? Can you help me with that?

[2020-04-14 12:18] mlc-mlapis commented on #36315
@govindthakur25 Maybe the first step should be to describe analytically, what you are trying to do.

[2020-04-14 12:24] OmarioHasan opened #36617 "Generate component with cli make the style file with css"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/cli

 Yes, the previous version in which this bug was not present was: 8.x.x

### Description
i'm making my local and global schematics generating scss files but it's not working it generation css files for components i know i can use --style=scss but still this a problem and thank you

## 🌍  Your Environment

Angular CLI

[2020-04-14 13:10] aayman997 commented on #32313
I have found that I'm using a package that isn't compatible with angular universal. so I advise you to check packages you're using in your project and be sure it's compatible with angular universal.

[2020-04-14 13:10] #32313 closed

[2020-04-14 13:41] DavidANeil opened #36618 "platformBrowser().bootstrapModule does not work under Closure Compiler ADVANCED_OPTIMIZATIONS"
# 🐞 bug report

### Affected Package
@angular/platform-browser, @angular/compiler-cli, @angular/core

### Is this a regression?
Lack of parity between Ivy and ViewEngine.

### Description
* When compiling an application with Ivy (aot: true) with an entry point that contains `platformBrowser().bootstrapModule(AppModule)` and then running it through the Closure Compiler's advanced optimizations:
  *

[2020-04-14 14:05] felixfiskare commented on #36263
Thank you for that pointer @atscott and sorry for the delay. It took some time to encapsulate everything in observables, but now everything works!
So I guess, the only thing left to do is to emit a warning when upgrading to angular 9, that `initialNavigation: 'enabled'` will be set and which consequence this could have.

[2020-04-14 14:16] kalsowerus opened #36619 "TestBed.overrideModule affects other tests"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core/testing

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 8.2.13

### Description

All test cases after a call to `TestBed.overrideModule` seem to be affected by its modifications.

In the provided Example project I have two tests: `one.spec.ts` and `two.spec.ts`. Both cr

[2020-04-14 14:18] indraraj26 commented on #36614
Please provide minimal repo to reproduce and along with that please follow issue template.

[2020-04-14 14:19] gvonhagel commented on #36606
I was able to fix the issue. I'm not sure if it was necessary, but I wiped node_modules and reinstalled. Then I started getting "No NgModule metadata found for 'AppServerModule'.". Following #1363 I included `"bundleDependencies": false` in my angular.json because I do not include my server file in the bundle. Then I ran `ngcc` manually and was able to render using CommonEngine!

[2020-04-14 14:21] indraraj26 commented on #36593
Please share minimal repo to reproduce or you can use https://ng-run.com/?open=app%2Fapp.component.ts

[2020-04-14 14:28] actionanand commented on #36593
I tested with official example given in material also. It's also not working with angular 9. It has no problem with angular 8. Please try to recreate the same example
https://material.angular.io/components/bottom-sheet/examples

[2020-04-14 14:38] faridanthony commented on #10064
+1

[2020-04-14 14:42] petebacondarwin commented on #36616
Hopefully #36622 will fix this...

[2020-04-14 14:43] Totati commented on #36593
[I could not reproduce. ](https://stackblitz.com/edit/angular-vq3tdp)

[2020-04-14 14:43] petebacondarwin commented on #36503
Looking some more...

[2020-04-14 15:01] actionanand commented on #36593
yes exactly. I too can't reproduce. Entry componnet is not detecting pipes also like keyvalue pipe. Simple HTML fromat is working. It is wonder How angular team did not see this? Anyway we as a developer found this and reported to angular. We hope they will fix this as soon as possible, because the issue is serious.

[2020-04-14 15:22] AleksanderBodurri commented on #36590
It seems electron is on an older build of chromium right now. See https://www.electronjs.org/releases/stable

Maybe the leak was fixed in a recent version of Chromium that hasn't yet propagated to Electron or the latest version of Google Chrome.

Does the issue still occur in an up to date Google Chrome? If not can you test it on the canary build of chrome? https://www.google.com/intl/en_uk/chrome

[2020-04-14 15:41] Scipionh commented on #19934
Run into the problem today. Angular 9.1.1

[2020-04-14 16:18] AndrewKushnir commented on #36614
Hi @sushilchaurasia1990,

Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still persists,

[2020-04-14 16:18] #36614 closed

[2020-04-14 16:44] Serginho opened #36623 "Angular 9.1.1 fixture.query() can't see DOM built directly with Renderer"
# 🐞 bug report

### Affected Package
Probably @angular/compiler

### Is this a regression?
Yes. Test success in angular 8.

### Description

When a element is inserted into DOM directly for performance reasons, I can't query it in tests using fixture.query().

If I use `fixture.debugElement.queryAll(By.css('span')).length` I got 1 element.
But when I query it directly from the DOM `fixture.nativeE

[2020-04-14 16:47] gregmagolan commented on #35891
16 GB should be sufficient especially if cpu utilization is set to 1 however I don't have a 16 GB machine to compare with as my Windows laptop has 32.

From the logs it looks like random ts_library targets are failing. Compilation is done on worker threads for ts_library so the error reported is that the pipe between bazel & the worker is being closed.

Can you add the `--announce_rc` flag to the

[2020-04-14 16:49] Araknos opened #36624 "Can't download image on disk since Angular 9"
Hello,

After migrating my application from Angular 7 to Angular 9 downloading images on disk isn't working anymore:

[code]
Note: I use DomSanitizer to load these images from server with the following (and it's working fine):

[code]

[2020-04-14 16:49] gregmagolan commented on #35891
One other thing to try could to identify a ts_library target without many deps such as `//dev-infra:cli` that does build and run `bazel build` `bazel clean` `bazel build` on that target in loop (without disk_cache) to see if it does fail at some point which would show flakiness.

[2020-04-14 16:52] geromegrignon commented on #36617
Please add a repo link to your project in order to test it directly.

[2020-04-14 17:16] sonukapoor commented on #35891
I just realized that the error appears in `cmd` only. If I use `gitbash`, then the error does not appear. However, no tests are run either. Here is the output from `gitbash` (notice I am no longer using the `output_user_root` because I fixed the home directory):

[code]

The log then it generates looks like this:

[code]

I guess we are one step closer. But tests are still not running.

[2020-04-14 17:27] OmarioHasan commented on #36617
@geromegrignon  for sorry it's private project in my company 😔

[2020-04-14 17:29] geromegrignon commented on #36617
could you try to make a new project based on you angular cli version to test ?

[2020-04-14 17:30] gregmagolan commented on #35891
[code]
That makes me think that under `gitbash` there are other issues going on. Does the ts_library output in bazel-out looks correct?

[2020-04-14 17:32] OmarioHasan commented on #36617
Yes sure that's a good idea I will make it and share this repo with you

[2020-04-14 17:33] ericmartinezr commented on #36617
This should go in cli's repo https://github.com/angular/angular-cli :+1:

[2020-04-14 17:53] sonukapoor commented on #35891
I don't really know what to look for in the bazel-out folder to say if it's correct or not.
I was hoping that you would say that `cmd` is the culprit here 😄

[2020-04-14 17:56] isahohieku commented on #31632
Thanks @ShadowManu. This worked.

[2020-04-14 18:05] petebacondarwin commented on #36503
I can show that the `ngx-translate` package is not the culprit... Here is a minimal reproduction that only uses the `async` pipe.  https://github.com/petebacondarwin/issue-36503

I think the problem appears to be that when the asynchronous value changes, the syncfusion grid (or perhaps just the column directive) is not aware that the change has happened.

[2020-04-14 18:23] seanareed commented on #36590
I've just tested it with Chromium 80.0.3987.0 and there is no problem in that one either. The Electron version I'm running lists 80.0.3987.163 as its version.

I'll look into the canary build later too.

[2020-04-14 18:45] selangley-wa commented on #35418
The method TODO comment references @juliemr of the Protractor team.
Hard to tell what she's up to these days:
https://twitter.com/somejulie

Maybe we need to wait for the next version of Protractor which is TBD.

[2020-04-14 19:09] Phil147 commented on #35602
I agree with @vthinkxie this bug is hard to understand and it happens frequently in common situations. Right now it doesn't seem to have a high impact but as soon as libraries are supposed to be shipped with ivy, which I understand is the recommended approach from version 10 on, this will have a huge impact.
The bug I described above could be mitigated for us with a base class but we also run into

[2020-04-14 19:12] elesueur commented on #35602
I too have hit this issue and found it very difficult to debug.

I am interested to know how to _not_ build my libraries with the Ivy compiler and use the View Engine that is mentioned. I have not seen how to make changes to angular.json or the library's tsconfig to disable Ivy... can someone help there?

[2020-04-14 19:39] Hypercubed commented on #35602
@elesueur I think it is not an issue if you set `"buildOptimizer": false`.

[2020-04-14 20:03] Phil147 commented on #35602
Hi @elesueur
to build your library with view engine your tsconfig needs `enableIvy: false` in the `angularCompilerOptions`, see here: https://angular.io/guide/ivy#opting-out-of-ivy-in-version-9

[2020-04-14 21:19] DanWahlin commented on #35418
Yeah - not sure who would be the person to get that implemented. I'd be happy with a workaround in the meantime. I just need to know what I should be looking for in the information that `getAllAngularRootElements()` returns. Specifically, I need to be able to get to the router like we could do with Angular < 9. This is what I *think* it'll be like once findProviders is implemented:

[code]

[2020-04-14 21:43] fireflysemantics opened #36631 "Annotation for Auto Creation of Singleton Service"
Suppose we are doing this in `app.component.ts`

[code]

The `AssetsService` is not actually used.  We just rely on the constructor to fetch assets like SVG custom icons etc.

It would be nice not to have to inject it on boot in order to get the constructor to run.  Something like:

[code]

[2020-04-14 21:55] wottpal commented on #21021
This is such an obvious thing to fix. It's really annoying :(

[2020-04-14 22:12] seanareed commented on #36590
I've just tested my minimal reproduction app in Google Chrome stable 81.0.4044.92 as well as the canary build 84.0.4114.0 with no additional extensions (no 1Password etc). The app behaves "correctly" in both. The DOM nodes are periodically removed as expected with none of the runaway increase I described in my original post.

So it appears to be only happening when I have the 1Password extension e

[2020-04-15 00:54] AndrewKushnir commented on #36619
Hi @kalsowerus,

Thanks for reporting the issue and providing a repro (this is super helpful!).

I was able to reproduce the problem, will perform further investigation and will keep this thread updated.

Thank you.

[2020-04-15 06:28] govindthakur25 commented on #36315
@mlc-mlapis I only want to avoid the page scrolling when mat-select is expanded. Basically, I wanted to lock the page scroll in order to avoid double scrolling and I had created a directive to achieve this. Maybe I need to change the implementation entirely.

[2020-04-15 06:39] AndreiVajnaII commented on #35602
@elesueur Normally, if you created the library with Angular 9, or if you migrated your project to Angular 9 correctly, the angular.json configuration for your library should look like this:

[code]

Where the prod tsconfig disables Ivy:

[code]

So you can now build your library `ng build my-lib --prod` with Ivy disabled.

[2020-04-15 06:43] mlc-mlapis commented on #36315
@govindthakur25 If keeping the directive in the game, I suppose that the first step inside it is to get the reference of its parent, right?

[2020-04-15 07:06] govindthakur25 commented on #36315
@mlc-mlapis I got a cleaner approach to achieve it, which is working in Angular 9 as well.
https://stackoverflow.com/a/46893614/11403680

Thanks for your prompt replies anyway. I appreciate that. :)

[2020-04-15 07:12] mlc-mlapis commented on #36315
@govindthakur25 Ah, great. 👍

[2020-04-15 07:39] nminhduc commented on #25160
so for now, `ng-deep` still mark deprecate, what a solution for ng-deep without using encapsulation. I want to custom some angular material component only inside my child component

[2020-04-15 08:21] #33136 closed

[2020-04-15 09:07] petebacondarwin commented on #36606
Glad you are fixed.

[2020-04-15 09:07] #36606 closed

[2020-04-15 09:09] petebacondarwin commented on #36513
Yes, I think we should close this.  Thanks @AlQuraian .

[2020-04-15 09:09] #36513 closed

[2020-04-15 09:14] petebacondarwin commented on #36385
Closing this issue. Please open a new one with a reproduction when you have one @elca-lan .

[2020-04-15 09:14] #36385 closed

[2020-04-15 09:15] petebacondarwin commented on #36272
If you run `node_modules/.bin/ngcc -l debug` in your project root before calling `ng serve` does it still hang? And how long does the initial `ngcc` run take?

[2020-04-15 10:23] cyraid commented on #25160
Exactly. I don't think I've come across a point where I need to style something outside of the host context. It's always been child components.

[2020-04-15 11:51] mkanakis commented on #27963
Hi,

Any updates on that?

Best, Marios.

[2020-04-15 12:05] willisd2 commented on #31495
I ran into this issue as well trying to use Ivy and AoT to build my app... We have a custom decorator that is pretty crucial to the entire system. I've resorted to either turning off Ivy or AoT for now until there's a fix or workaround.

[2020-04-15 12:16] geremora commented on #27595
Yes. Using Angular 9.1, typescript 3.8 and tslint 6.0.0-beta0 is still happening.

[2020-04-15 12:52] indraraj26 commented on #36593
This isn't going to fix if you can't provide reproduction.

[2020-04-15 13:05] Vizer commented on #36563
Same issue here. It would be great having the possibility to override inherited bindings

P.S. my question on SO with no answer [link](https://stackoverflow.com/questions/60674461/angular-ivy-host-binding-inheritance)

[2020-04-15 13:11] Martinspire commented on #36350
I'm getting this issue as well, but with Jest/Spectator and because a dependency module is needed in the entryComponents. Since the dependency isn't moving to Angular 9 any time soon, is there a possible workaround I can try?

[2020-04-15 13:42] elesueur commented on #35602
@AndreiVajnaII perfect, thank you for clarifying this - exactly what I was looking for.

[2020-04-15 14:05] Totati commented on #36350
I'm confused, cause I've wrote some similar code recently, and [it works fine](https://stackblitz.com/edit/angular-odi8wt).

[2020-04-15 14:59] xuxicheta commented on #35230
@JoostK
So problem is not solved, but issue is closed.
Maybe point about AOT must be mentioned in documentation?

[2020-04-15 15:13] indraraj26 opened #36636 "(router): routerLink is not working in shared module and strict check"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/router

### Is this a regression?

 Yes, the previous version in which this bug was not present was: no idea

### Description
It has one feature-module where i have imported shared/custom-card.module in order to use custom-card component which is in shared/custom-card.

Reproduction: https://ng-run.com/edit/kiihOLV6qo1Y

[2020-04-15 15:26] gund commented on #36350
@Totati your example is not the same as the case reported here.

You are just using `useExisting` for token `NG_VALUE_ACCESSOR` - which works fine because it is not a component class but simple instance object of `InjectionToken`.

This bug is about the case when you want to provide `useExisting` for tokens that are another component classes.

[2020-04-15 15:36] gideruette opened #36638 "Service Worker : Vary cache fails"
# 🐞 bug report

### Affected Package
@angular/service-worker

### Is this a regression?
Probably never worked

### Description
When a ressource is provided by a server with "Vary" Header set, even if the request is cached with Vary header, the SW tries to prefetch it again when reload. So it crashes offline mode.

It seems that the presence of any Vary header prevent cache to find ressource.
Maybe

[2020-04-15 15:48] jrista commented on #24008
Are there any plans to add control over the cached data with the Angular Service Worker? I've got an app that needs to be able to clear out certain cached data, but not all cached content (i.e. app code, most assets, etc. should NOT be cleared, some assets and most data groups SHOULD be cleared) under certain circumstances.

There currently does not appear to be a way to do this, and it appears as

[2020-04-15 15:58] actionanand commented on #36593
ok I make it.

[2020-04-15 16:16] gkalpak commented on #36638
This will be fixed by #34663.

[2020-04-15 16:23] vinagreti opened #36640 "ChangeDetector and NgForm false valid on template using OnPush and NgModel"
# 🐞 bug report

### Affected Package

 FormsModule

### Is this a regression?

 no

### Description
When using `OnPuh` startegy, `NgForms` initially shows a false postive on the `Template` `valid status` even if the form is invalid (like when it has a required input).
If we subscribe to `statusChange` on the model we get the invalid state within the stream, but still not in the view.

I've opened

[2020-04-15 16:25] #36616 closed

[2020-04-15 16:43] Totati commented on #36350
@gund please check my `MAT_RADIO_GROUP_PROVIDER`.

[2020-04-15 16:45] martinsik commented on #15280
NgRx team is working is something very close to this.

https://ngrx.io/guide/component/let

[2020-04-15 16:47] xiaoxiangmoe commented on #15280
@martinsik it it type safe?

[2020-04-15 17:08] fireflysemantics opened #36642 "@Input properties not initializing when using `ViewEncapsulation.ShadowDom`"
Did a writeup with Demo Projects here:

https://stackoverflow.com/questions/61225191/angular-custom-element-input-property-not-initializing?noredirect=1#comment108312318_61225191

Tried switching the demo app to `ViewEncapsulation.Emulated` and that also does not work.

[2020-04-15 17:11] gund commented on #36350
Hmm, you are right, your code should also trigger the same error...

The only difference is that you are providing alias for Directive while in my example I provide alias for Component, maybe that's why your example is not throwing...

[2020-04-15 17:34] sobos commented on #36378
Please kindly fix again, [https://github.com/angular/angular/pull/19661/files](url)

[2020-04-15 17:46] DavidANeil commented on #36618
It turns out `ɵrenderComponent` worked for the simple example I built, but doesn't work for an application that has deps on anything published by Angular (e.g. RouterModule).  I've edited the original post to reflect this.

[2020-04-15 19:05] spock123 commented on #11714
Anyone knows a free tool to generate xliff from json for example?
Or even half decent free xliff editors?
If not, what in the world was the team thinking when not also supporting nested json? I mean,  we use phrase.com for translating at work, but for a developer playing with translation it's absurd to having to have to edit xml files because no decent xliff editor seems to exist.

Mind blowing

[2020-04-15 19:23] spock123 opened #36644 "i18n - please support Json format"
# 🚀Support JSON for i18n

I know this topic has been suggested before, but I feel it's time to address it again as it's 2020 and the situation has not improved.

In order to use i18n translations, it is required to use translation files with the xliff format. This all well and all, but all tutorials/documents neglect to mention the tiny detail that no proper free editor or tool seems to exist.

Th

[2020-04-15 20:12] CaerusKaru commented on #36263
@felixfiskare This is caused by the NgUniversal schematics, we added it to avoid flicker when bootstrapping on the client. We'll move this issue over to angular/universal so that we can track a proper resolution. This may be a warning or a prompt, or possibly a link to documentation about certain pitfalls with adding `initialNavigation`, like the one you encountered here.

[2020-04-15 21:22] kathpal opened #36647 "Uncaught TypeError: Cannot read property 'get' of undefined uncurryThis(Object.getOwnPropertyDescriptor(TypedArrayPrototype, Symbol.toStringTag).get)"
If i use package-lock.json ,then this error is not coming.When package-lock is not used then this error comes.

using the below babel configuration in package.json:-
"@babel/core": "7.9.0",
"@babel/helpers": "^7.5.5",
"@babel/runtime": "^7.5.5",
"@babel/preset-env": "7.9.5",

[2020-04-15 21:43] atscott commented on #36647
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-04-15 21:43] #36647 closed

[2020-04-15 22:58] Vandivier opened #36650 "Extensible Sanitizer"
# 🚀 feature request

### Relevant Package
@angular/core

this line and file are of key interest:
https://github.com/angular/angular/blob/master/packages/core/src/sanitization/html_sanitizer.ts#L69

### Description
The ability to trust one or more keys or values within the sanitizer, without bypassing the whole sanitizer.

This can equally be described as an enhancement to the customizability of th

[2020-04-15 23:09] DavidANeil commented on #36618
Closure is changing something like
[code]
To
[code]

[2020-04-15 23:11] MobiusHorizons commented on #29395
My use case: I would like to create a component that cuts off text that overflows, but sets the title to the full content so it can be seen on hover. In order to accomplish this, I will need to update the title whenever the content changes to allow for conditional or translated content.

[2020-04-15 23:19] DavidANeil commented on #36618
I'm 90% certain that having `ngcc` emit `/** @nocollapse */` comments would fix this.

[2020-04-16 05:03] JoepKockelkorn commented on #29395
If you're certain that the content is a string, why not use an Input instead?

[2020-04-16 06:24] pkozlowski-opensource commented on #36624
Can you please provide a minimal stackblitz /  GitHub repository reproduction? There's not enough information here for us to investigate.

[2020-04-16 06:27] pkozlowski-opensource commented on #36642
Stackblitz from the SO question: https://stackblitz.com/edit/angular-custom-elements-hello-emulated?file=src%2Fapp%2Fapp.component.ts

[2020-04-16 07:14] kumaresan-subramani commented on #36503
@petebacondarwin ,

Fro your validation details, i have tried to avoid that time delay using settimeout method in below

https://github.com/syncfusion/ej2-angular-ui-components/blob/f66c91ca4278c7785fb3e4806921f095358278a7/components/grids/src/grid/grid.component.ts#L253

But same issue occurs, i think this wont be handle at syncfusion grid level

[2020-04-16 08:16] petebacondarwin commented on #36503
It is not clear to me, yet, whether this is a bug in the core Angular change detection or an issue that can be resolved within the ej2-angular-iu-component package. I think we need someone with deep ivy knowledge like @pkozlowski-opensource or @mhevery to take a look...

[2020-04-16 08:41] pkozlowski-opensource commented on #36503
I'm more than happy to have a look but I would need a reduced reproduction scenario - currently there is a lot going on in the repro (lots of code, 3rd parties). @kumaresan-subramani can you try to distill the essence of the problem to the bare minimum, ideally without using ej2-angular-iu-component package (create a directive that mimics the essential behaviour of this package).

[2020-04-16 09:00] kumaresan-subramani commented on #36503
HI @pkozlowski-opensource ,

Thanks for your reply.

you can get simple sample in [here](https://github.com/angular/angular/issues/36503#issuecomment-611341655) since i have already simplified my sample.

In this sample, i have just rendered grid with ngx-translate. can you please check with this.

Sorry if i did anything wrong.

**my validations** - https://github.com/angular/angular/issues/36503

[2020-04-16 09:15] petebacondarwin commented on #36503
@kumaresan-subramani - what @pkozlowski-opensource  is asking for is something much more minimal than that. My reproduction https://github.com/petebacondarwin/issue-36503 is somewhat simpler because it removes the dependency on ngx-translate.

But what we really could do with is a reproduction that had no 3rd party dependencies at all. Instead just had a simple set of self-contained componnets/dir

[2020-04-16 09:19] kumaresan-subramani commented on #36503
Okay @petebacondarwin , i will share sample without any 3rd party libraries.

[2020-04-16 09:21] petebacondarwin commented on #36503
❤️

[2020-04-16 09:52] oscar-green opened #36655 "DOM Nodes memory leak when using Shadow DOM"
# 🐞 bug report

### Affected Package
@angular/core

### Description

I've found that there's a DOM Node memory leak happening when using `encapsulation: ViewEncapsulation.ShadowDom` in "child" components of a component that also has styling.

In my example I have a project with a component (AppComponent) that has a router outlet for two components (Test1 & Test2) which are using the shadow DOM. I

[2020-04-16 10:04] petebacondarwin commented on #36414
Now that 9.1.2 is out can you try again, so see if builds (once ngcc has been run) is back to an acceptable time?

[2020-04-16 10:35] sbradl commented on #36414
Yeah will do today or tomorrow

[2020-04-16 10:42] sayancoding opened #36657 "ng build issues during production , @err=> Field 'browser' doesn't contain a valid alias configuration"
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Please file any Angular CLI issues at: https://github.com/angular/angular-cli/issues/new

For the time being, we keep Angular CLI issues in a separate repository.

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

Got an big error when i trynna hit '

' it's suffering and stuck me up.
please give suggestive some to fix this problem

here i use **firebase tailwindCSS and angular 8**

### li

[2020-04-16 10:48] JoostK commented on #36657
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-16 10:48] #36657 closed

[2020-04-16 11:21] petebacondarwin commented on #36272
@RadekRobot - which version of ngcc are you running? If possible can you try 9.1.2. And also can you run `ngcc -l debug` on a fresh install; and then run it again straight away. What are the timings for each?

[2020-04-16 12:10] sannadisarath opened #36660 "angular custom pipe with service not working"
Hi All,

I am trying to create a custom pipe for getting likes on particular post, it has a service which connects to database and pull all likes related to particular post, but when i try to run in my code, i am getting return value before the getting response from service, i know i should wait for the response but not sure how to do that.. please help me resolve this issue.

**HTML**
`<a [ngClas

[2020-04-16 12:13] petebacondarwin commented on #36660
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-16 12:13] #36660 closed

[2020-04-16 12:25] sannadisarath commented on #36660
thanks, appreciate your response

[2020-04-16 12:27] sbradl commented on #36414
So here are some timings:
9.0.7
complete rebuild (deleted node_modules, npm install && ng build) **12:07**
run "ng build" again **4:54**

9.1.2
complete rebuild (deleted node_modules, npm install && ng build) **26:11**
run "ng build" again **19:16**

So no, far from acceptable... seems to be even worse than before.

[2020-04-16 12:53] hugoebarboza opened #36663 "Angular SSR"
Hi,

I build with (SSR) with Angular Universal, I get the below error.
********************************************************************************
ERROR in error TS6053: File 'C:/xampp/htdocs/odisdkp/src/server.ts' not found.
npm ERR! code ELIFECYCLE, errno 1
npm ERR! Exit status 1
npm ERR! Failed at the odisdkp@0.0.0 build:ssr script.
npm ERR! This is probably not a problem with npm.
npm ERR

[2020-04-16 12:55] blackholegalaxy commented on #36414
Our benchmarks here over an average of 5 passes on the same project and on the same machine, running angular, ngrx and angular material and angular fire.

9.0.7
 - complete build no node_modules cache including ngcc compile time ran at postinstall step: total **133s** (about **63s is due to ngcc compile**)
 - build with cached node_modules (node_modules was cached after first ngcc compile): **65s*

[2020-04-16 12:57] hugoebarboza opened #36664 "Angular SSR"
Hi,

I build with (SSR) with Angular Universal, I get the below error. What can I do to fix it ?
*********************************************************************
ERROR in ./server.ts
Module build failed (from ./node_modules/@ngtools/webpack/src/index.js):
Error: C:\xampp\htdocs\odisdkp\server.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files

[2020-04-16 12:59] hughanderson4 commented on #36518
This is happening to me when Lerna hoists the dependencies in my monorepo to a higher level, and uses symlinks.  There's no physical path there but there is a symlink to the actual path.

I also do not see this as fixed in 9.1.2 (installed yesterday).

[code]

[2020-04-16 13:13] gkalpak commented on #36663
The SSR guide is a little outdated wrt v9. This will be fixed by #36483.

Until #36483 is merged, you can use the PR preview: https://pr36483-928dd02.ngbuilds.io/guide/universal
<sub>(Once the PR is merged, the preview will be deleted, but you will be able to see the guide on angular.io as usual.)</sub>

[2020-04-16 13:13] #36663 closed

[2020-04-16 13:14] gkalpak commented on #36664
The SSR guide is a little outdated wrt v9. This will be fixed by #36483.

Until #36483 is merged, you can use the PR preview: https://pr36483-928dd02.ngbuilds.io/guide/universal
<sub>(Once the PR is merged, the preview will be deleted, but you will be able to see the guide on angular.io as usual.)</sub>

[2020-04-16 13:14] #36664 closed

[2020-04-16 13:21] koncarevicradovan commented on #30835
I had same problem with Angular site on Azure storage account deployed as static website. Resolution that worked for me was to set Error document path to index.html as well. Because it is trying to reach content by path and when it is not found it shows error page.
It is working for me, give it a try.

[2020-04-16 13:22] dustintheweb commented on #30835
Does anyone know if this is being addressed in the Angular 10 beta's?

[2020-04-16 13:24] koncarevicradovan commented on #30835
I'm using Angular: 10.0.0-next.1 and this workaround on Azure storage account is working for me.

[2020-04-16 13:38] petebacondarwin commented on #36518
This should be fixed in 9.1.2 - see https://github.com/angular/angular/commit/33eee43
Please can you check your version and update if necessary?

[2020-04-16 13:49] diegodfsd commented on #30835
When I changed the target to 'es5' the app works in S3.

[2020-04-16 13:58] hugoebarboza opened #36666 "Angular SSR - server.ts is missing from the TypeScript compilation"
Hi,

The seme issues following this [guide ](https://pr36483-928dd02.ngbuilds.io/guide/universal)

I build with (SSR) with Angular Universal, I get the below error.

1) What can I do to fix it ?
2) Where should I store the server.ts file ?

***************************************************************************************
ERROR in ./server.ts
Module build failed (from ./node_modules/@ngtools/

[2020-04-16 14:14] RolginRoman opened #36667 "ComponentRef Change detector doesn't trigger detecting for view"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 Cannot say

### Description

**Component created by #ComponentFactoryResolver.**
ComponentFactoryResolver#createComponent returns ComponentRef that does have changeDetectorRef.
**After any changes to component's input by code (not by template) and invocation of such ComponentRef#changeD

[2020-04-16 14:30] russalert commented on #13586
I found one WA:
I have implemented Abstract Component with HostListener:

### can-deactivate.component.ts
[code]
### can-deactivate.guard.ts
[code]
### myform.component.ts
[code]

[2020-04-16 14:41] Vandivier commented on #31462
Please take a look at the following, and consider upvoting, as a generic solution for this and other similar problems:
https://github.com/angular/angular/issues/36650

[2020-04-16 14:42] Vandivier commented on #31329
Please take a look at the following, and consider upvoting, as a generic solution for this and other similar problems:
https://github.com/angular/angular/issues/36650

[2020-04-16 14:46] Vandivier commented on #26293
Please take a look at the following, and consider upvoting, as a generic solution for this and other similar problems:
https://github.com/angular/angular/issues/36650

[2020-04-16 14:49] Vandivier commented on #16649
Please take a look at the following, and consider upvoting, as a generic solution for this and other similar problems:
https://github.com/angular/angular/issues/36650

[2020-04-16 14:55] eduardosivd commented on #21021
Is this on roadmap or what alternative route should we use?

[2020-04-16 15:10] jbogarthyde opened #36669 "AIO feature request: Add bold monospace within code examples"
# 📚 Docs or angular.io bug report

### Description
Requesting a markdown extension that would allow us to embed bold-monospace styling into a code example or snippet that is otherwise plain monospace font.

In code snippets and examples, it would be helpful to display some portions of the code in bold.
We would like to use bold to, for example, emphasize lines or options that are being added in an

[2020-04-16 15:14] jbogarthyde opened #36670 "Feature request: Open links from doc pages in popup or new tab"
It would improve the user experience for doc pages to open external links in a separate tab, and glossary links in either a separate tab or a popup.

[2020-04-16 15:23] actionanand commented on #36593
Hi all,

It is working when adding the componnet in both the places entrycomponents array and declaration array. I tested at stackblitz.

Stackbltz editor: https://stackblitz.com/edit/ng-bottom-sheet

App view: https://ng-bottom-sheet.stackblitz.io/

So I close this thread.

[2020-04-16 15:23] #36593 closed

[2020-04-16 15:31] suppadeliux commented on #18967
Sad to hear that :(. Me and my team were waiting so bad to implement this. Our project is continuing to grow up, and for us, this feature is clearly the best choice. Specially when trying to do component tests and keep the modularity of each part of our application.

Can you provide/ or someone else a proper example using a resolver, and wrapper component to get around this issue?

Thank you for y

[2020-04-16 15:37] waterplea commented on #31329
Well, I ended up creating my own sanitizer that delegates work to DOMPurify, works pretty good:
https://github.com/TinkoffCreditSystems/ng-dompurify
Might be what you need, but your suggestion is also interesting.

[2020-04-16 15:52] meriturva commented on #36278
And same here with 9.1.2 version.

[2020-04-16 16:21] fxck opened #36671 "animation sequence not running in sequence"
### Description

Wrapper div with `@animation`, two inner divs with flipped `*ngIf` condition.

Expected behaviour of sequence would be:
First div is transitioned away THEN second div is transitioned in.

Actual behaviour:
Second div is added immediately, first div fades away (but is still present in dom), second div flashes away and fades in, first div is removed from dom.

## 🔬 Minimal Reproduct

[2020-04-16 16:25] edusoccer1121 opened #36672 "Form patchValue method throws unnecessary error"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....
The issue is caused by @angular/forms

### Is this a regression?

I don't think so.

### Description

When the patchValue method on a form which contains a form group and the value passed is equal to null or undefined, error is thrown.

## 🔬 Minimal Reproduction

https://stackblitz.com/edit/angular-issue-repro2-hxf

[2020-04-16 16:40] #36566 closed

[2020-04-16 16:42] #36476 closed

[2020-04-16 16:43] #35289 closed

[2020-04-16 16:45] #35945 closed

[2020-04-16 16:46] gkalpak commented on #36666
@hugoebarboza, can you please add more details on what commands you ran to get these errors? I downloaded the example from the guide, unzipped it and ran `npm install && npm run build:ssr` and everything worked fine.

[2020-04-16 18:05] baljinder-inmarsat opened #36673 "Value at position 6 in the NgModule.imports of AppModule is not a reference"
# 🐞 bug report

### Affected Package
    "@angular/core": "^9.1.2",

### Is this a regression?

Yes fine in Angular 8.2.14

### Description

I am trying to upgrade, However I am stuck due to the following error in my terminal:
![Screenshot from 2020-04-16 18-45-32](https://user-images.githubusercontent.com/45174015/79488992-89ed0500-8012-11ea-8f3c-4eecaf6f1e69.png)

I've been following all the ste

[2020-04-16 18:11] sonali395 opened #36675 "viewContainerref not working with angular 9."
[code]

[2020-04-16 18:14] pkozlowski-opensource commented on #36675
See #36315 - in short you are using private API (`((this.viewContainerRef as any)['_data']`) that can change at any moment (and did change in Angular v9).

[2020-04-16 18:14] #36675 closed

[2020-04-16 18:21] petebacondarwin commented on #36673
The problem is in your `AppModule` not `ApiModule`. What is the 6th/7th position in the `imports` property of `AppModule`?

[2020-04-16 18:31] hugoebarboza commented on #36666
Hi,
Now another issue, what a terrible headache.
****************************************************
main.js:646127, throw error;
ReferenceError: navigator is not defined
****************************************************
Best regards,
Hugo

[2020-04-16 18:38] Tharusara opened #36676 "same #35611 issue as ERROR in Symbol MatList declared in ..."
🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

getting this issue after importing angular material and don't  know how to fix this..
![image](https://user-images.githubusercontent.com/62446562/79493497-304eff80-803f-11ea-9d06-c3b1e20a8d7f.png)

Thank you!

🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑🛑

[2020-04-16 18:42] AndrewKushnir commented on #36676
Hi @Tharusara,

Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still persists, please fi

[2020-04-16 18:42] #36676 closed

[2020-04-16 18:43] mmestas commented on #18347
It's April 2020 and I'm having this exact same issue with Angular 9.

[2020-04-16 18:45] baljinder-inmarsat commented on #36673
![Screenshot from 2020-04-16 19-42-56 - 1](https://user-images.githubusercontent.com/45174015/79494217-8b223000-801a-11ea-9a2b-0a7ce7a3fa68.png)
lines 5 - 12

thanks @petebacondarwin

[2020-04-16 18:49] petebacondarwin commented on #36673
Actually you need to look at:

[code]

[2020-04-16 18:52] robertdempsey commented on #18967
Hi @suppadeliux,

I'm currently writing up an article which details our journey from before asking for ths feature, to needing this feature, to creating the wrapper component etc.

It'll include a link to the source code and an interactive example using stackblitz. I should have it done in a few days and I'll link it here for you when it's finished.

[2020-04-16 18:52] baljinder-inmarsat commented on #36673
quite a long one, sorry:

 imports: [
    /**
     * Angular
     */
    CommonModule,
    BrowserModule,
    SharedModule,
    HttpClientModule,
    BrowserAnimationsModule,
    CookieModule.forRoot(),
    ApiModule.forRoot(),
    /**
     * StoreModule.forRoot is imported once in the root module, accepting a reducer
     * function or object map of reducer functions. If passed an object of

[2020-04-16 19:04] petebacondarwin commented on #36673
Oh! Sorry. I didn't understand your original description correctly. I see now that you already identified that `ApiModule.forRoot()` is the problem.

Can you try changing:

[code]

to

[code]

[2020-04-16 19:09] DavidANeil commented on #36618
I've confirmed that #36652 does actually fix this, and I was able to successfully bootstrap our application using Ivy and advanced optimizations with that patch applied.

[2020-04-16 19:10] baljinder-inmarsat commented on #36673
unfortunately, still throws the same error.

[2020-04-16 19:20] petebacondarwin commented on #36673
Or alternatively try removing parts of the object that are returned from this `forRoot()`

[2020-04-16 19:21] petebacondarwin commented on #36673
If you could give me access to the project I could debug it for you.

[2020-04-16 19:28] baljinder-inmarsat commented on #36673
set the following but I still see it.

<pre><code>
import { NgModule } from '@angular/core';

@NgModule({
  declarations: [],
  imports: []
})
export class ApiModule {
  // We need to use forRoot to match with the dev API module.
  public static forRoot() {
    return {
      ngModule: ApiModule,
      providers: [

    };
  }
}</code></pre>

I'm soooooooooo sorry, I wish I could but I don't have

[2020-04-16 19:56] petebacondarwin commented on #36673
Can you try either debugging into or adding a `console.log(entry)` statement at the point where it throws the `FatalDiagnosticError` in the `resolveTypeList()` method in `node_modules/@angular/compiler-cli/src/ngtsc/annotations/src/ng_module.js` - somewhere around line 543?

[2020-04-16 19:58] petebacondarwin commented on #36673
If you can debug then it might be worth looking at this section of code in the same file:

[code]

Specifically `this.evaluator.evaluate(rawImports, moduleResolvers);` for that import.

[2020-04-16 20:05] JoostK commented on #36636
This is working as expected.

NgModules have two responsibilities:
1. Defining the compilation scope of components using `declarations` and `imports`.
2. Configuring the injector by means of providers using `providers` and `imports`.

The `forRoot`/`forChild` idiom is about responsibility 2: it registers providers for a particular context. This is relevant as feature modules may not want to regist

[2020-04-16 20:05] #36636 closed

[2020-04-16 20:09] #36375 closed

[2020-04-16 20:20] baljinder-inmarsat commented on #36673
sorry I couldn't stringfy the object.
![Screenshot from 2020-04-16 21-20-01](https://user-images.githubusercontent.com/45174015/79502845-1eae2d80-8028-11ea-8f40-7581350a7599.png)

[2020-04-16 20:27] petebacondarwin commented on #36673
What about something like `console.log(Object.keys(entry), entry.constructor)`?

[2020-04-16 20:39] baljinder-inmarsat commented on #36673
also add it there to see:
![Screenshot from 2020-04-16 21-38-47](https://user-images.githubusercontent.com/45174015/79504411-c3ca0580-802a-11ea-8534-1f29c300bbf5.png)

[2020-04-16 20:42] petebacondarwin commented on #36673
OK, so as somewhat expected the static evaluator is returning a `DynamicValue`, which means it was not able to evaluate that call...

It would be really great if you could debug into `this.evaluator.evaluate(rawImports, moduleResolvers);` to see at what point it gives up evaluating...

[2020-04-16 21:03] baljinder-inmarsat commented on #36673
I've been trying to debug, but the console aren't making sense to me :)
however I do notice a difference, highlight below:
![Screenshot from 2020-04-16 22-02-27](https://user-images.githubusercontent.com/45174015/79506577-1d7fff00-802e-11ea-945a-7106246d5198.png)

[2020-04-16 21:05] petebacondarwin commented on #36673
If you use VS Code you can attach to a node process to debug and set breakpoints. You can then run `node --inspect-brk node_modules/.bin/ng build`.

[2020-04-16 22:00] mlakmal commented on #36508
I was able to fix this temporarily using renderer to remove class manually.

[2020-04-16 22:08] baljinder-inmarsat commented on #36673
Wish I knew what I was looking for, but I sent some screenshots. Hopefully this helps.
![Screenshot from 2020-04-16 23-05-47](https://user-images.githubusercontent.com/45174015/79511333-04c81700-8037-11ea-825e-b2ab4e06c128.png)

-------------------

![Screenshot from 2020-04-16 23-01-48](https://user-images.githubusercontent.com/45174015/79511338-098ccb00-8037-11ea-94c8-782d9a3f55bd.png)

[2020-04-16 23:02] pmarshall111 opened #36677 "Renderer2 does not update variable bound with NgModel"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/core

### Is this a regression?

No idea.

### Description

When using Renderer2 to set the value on an element, the typescript variable bound via ngModel is not changed.

## 🔬 Minimal Reproduction
https://angular-issue-repro2-thy7sx.stackblitz.io

## 🔥 Exception or Error
n/a

## 🌍  Your Environment

**Angular Version:**

[2020-04-17 01:05] Da13Harris commented on #27290
My use case is for a PWA that has it's own internal dynamic tabs. Within each dynamic tab, there are component instances (pages) that need to be kept independent of each other. These page components also instantiate their own services in order to keep their state independent of each other.

The custom route reuse strategy is used to store and retrieve the DOM tree for whichever component is routed

[2020-04-17 01:13] sdbzxsl opened #36678 "i don't know it was an issue"
when <app-child> has  a provider,  <app-inspector> display the contents of the viewProvider,when<app-child> has no provider ,<app-inspector>display the content of root injector  service ,,,,
should it always display the content of the root injector?

![1](https://user-images.githubusercontent.com/55081162/79520987-a4fb5b80-808a-11ea-9920-ca5317b306b7.JPG)
![2](https://user-images.githubusercontent

[2020-04-17 02:10] sonukapoor commented on #36479
@AndrewKushnir i can take a look at this.

[2020-04-17 03:54] runFP opened #36680 "can add a method to viewContainerRef in order to get the ComponentRefs from container?"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/core

### Description
 I want to dynamically add components to a container, and then change the some properties  via componentRef.instance, Sometime i have to merge some compoents to one  and change some  properties again ,remove some component from container.so I must maintain a list of componentRef,when remove compo

[2020-04-17 04:49] Tharusara commented on #36676
okay i will file a new issue. sorry about that
Thank you

[2020-04-17 05:17] JoostK commented on #36678
I'm sorry but we don't understand the problem you are reporting.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template.

[2020-04-17 05:17] #36678 closed

[2020-04-17 05:23] JoostK commented on #36677
This is working as designed.

Using `Renderer2` is still doing manual DOM manipulation, while Angular's binding mechanism is designed to reflect data as some view in the browser. Just changing the DOM (the input in your case) will not achieve updating the actual data (`AppComponent.gridSize`) so it will not be reflected in other bindings that show the data.

[2020-04-17 05:23] #36677 closed

[2020-04-17 06:12] mattiLeBlanc opened #36682 "Unexpected token 'const' on Windows Safari 5.1, tslib dependency"
# 🐞 bug report

### Affected Package
Tslib dependency in the Angular 9 project I think

### Is this a regression?

Not that I know

### Description

Running Angular 9 app build to es5 on Windows Safari 5.1 is throwing unexpected token 'const' and when I build it without optimisation, I see it is happening in the tslib.es6 library.
Firstly, I don't understand why Safari doesn't support const, but t

[2020-04-17 06:27] mattiLeBlanc commented on #36682
Actually, I might not be an Angular 9 issue....I just deployed a new empty app and I am not getting any errors in Safari or IE11 on Windows. Maybe it is the AWS dependencies loading tslib.es6

[2020-04-17 06:27] #36682 closed

[2020-04-17 07:00] Annie-Huang commented on #24769
Does any one know if it is this fixed for angular 9? Or I still need to keep this Element.prototype.matches code block in?

[2020-04-17 07:17] mspace opened #36683 "Wrong jasmine/wd2 typings in Angular 8/9"
I created a new blank angular 9 project using next commands:
[code]

I added `then()` to test:

![](https://user-images.githubusercontent.com/1265588/79538710-28b24980-8085-11ea-8379-1999480d1fb1.png)

Then run:

[code]

Error occured:

[code]

After removing ** "@types/jasminewd2": "~2.0.3",** from **package.json**, deleting **then()** of course and running:

[code]
Visual studio code reported th

[2020-04-17 07:20] fyllekanin commented on #35323
Just checking back, I'm not great at looking at PR's , any progress on this?
Don't know how angular is for backwards compability stuff

[2020-04-17 07:21] rdkmaster commented on #18261
Any updates with this issue now?

[2020-04-17 07:26] t-denis opened #36684 "Production build changes app behavior (some required code is removed from the bundle)"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

### Is this a regression?

Not sure

### Description

Leaflet library contains the following code:
https://github.com/Leaflet/Leaflet/blob/984fedda1c48d141f018ca45ae06738872d7f5dd/src/layer/tile/GridLayer.js#L393-L394
Looks like it's a kind of hack that forces a browser to update a page layout. Used to start the a

[2020-04-17 08:37] daftfox commented on #34421
Forget about the first PR, I fudged that up with some git shenanigans. Inexperience dealing witht he angular repo and forks I reckon.

[2020-04-17 08:47] aron-taiwan opened #36685 "custom element built-in not work"
# 🐞 bug report

### Description

[code]

[code]

## 🔬 Minimal Reproduction
https://developers.google.com/web/fundamentals/web-components/customelements?hl=zh-tw#extendhtml

## 🔥 Exception or Error

I'm pretty sure that I can run custom element built-in provided by the browser on normal web pages, but Angular does not.

I found that Angular seems to have rewritten the properties or methods of the n

[2020-04-17 08:50] baljinder-inmarsat commented on #36673
OMG, finally figured it out sleeping on it over night.
We've got this in the angular.json:
                {
                  "replace": "src/app/api/api.module.ts",
                  "with": "src/app/api/api.module.dev.ts"
                }
If I remove this it works.
but now the issue is, why is this api.module.dev.ts  not work.

@petebacondarwin sincerely would like to thank you for previous co

[2020-04-17 08:59] pkozlowski-opensource commented on #36685
As of today Angular doesn't understand / interpret the `is="..."` attribute. This is already tracked in #6827. Closing as a duplicate of #6827

[2020-04-17 08:59] #36685 closed

[2020-04-17 09:01] petebacondarwin commented on #36673
🤦
Glad you found a step forward. The question next is, what is different between these two files?

[2020-04-17 09:15] baljinder-inmarsat commented on #36673
Cool,
Shorten it out cause it had an awful lot of providers.push(), hope this gives you an idea of it's intentions:
<pre><code>
@NgModule()
export class ApiModule {
  public static forRoot(): ModuleWithProviders<ApiModule> {
    const config = environment.MOCK_DATA || {};
    faker.seed(1);

    const providers: Provider[] = [
      FakeQueryService,
      CompanyService,
      RefDataApiService,

[2020-04-17 09:19] baljinder-inmarsat commented on #36673
FYI, following works. guess the problem is it does not like it being set out side the object.
<pre>
<code>
@NgModule()
export class ApiModule {
  public static forRoot(): ModuleWithProviders<ApiModule> {
    return {
      providers: [],
      ngModule: ApiModule
    };
  }
}
</code>
</pre>

[2020-04-17 09:24] petebacondarwin commented on #36673
OK so this is the heart of the problem. We only support statically analyzing quite simple functions in the compiler. In this case the function must just consist of a single return statement in your working example. You can imagine that it is not viable for the compiler to be able to run arbitrary JS when trying to evaluate what the return value of such a function.

That being said the static analy

[2020-04-17 09:24] #36673 closed

[2020-04-17 09:29] ramtob commented on #31495
@Splaktar @pkozlowski-opensource Hello, it was written above that we need to specify a use case in order to increase the priority of this issue. Well as you can see, a typical use case is for decorators which override component life-cycle hooks handlers (ngOnInit, ngOnDestrory) in order to more easily and safely subscribe to and unsubscribe from various streams. As you can see above, this feature

[2020-04-17 09:36] klemenoslaj commented on #31495
I beg to differ on this not being a regression. It worked in previous versions, Ivy breaks it  - regression. Furthermore, Ivy gets in the way of JS nature/features, like overwriting the prototype method. Make no mistake, this is not limited to the decorators only.

Another popular example is a custom `takeUntilDestroy` rxjs operator, which is nothing else than a function accepting an instance of c

[2020-04-17 09:44] baljinder-inmarsat commented on #36673
@petebacondarwin just to share the outcome what you suggested, it unfortunately didn't work.

Thanks again :)

[2020-04-17 09:59] petebacondarwin commented on #36673
Sorry to hear that.

[2020-04-17 10:12] petebacondarwin commented on #36673
We are going to improve the error message to make this kind of thing less painful to debug.

[2020-04-17 10:32] nikita-fuchs commented on #36558
bump @gkalpak @petebacondarwin , is there any solution to this malforming of the processed module code ?

[2020-04-17 11:20] abadakhshan commented on #31495
I think my scenario is a little bit different.

Take a look at this:
https://github.com/abadakhshan/issue31495/blob/master/src/app/modules/share/general-list/general-list.component.ts

I have a class(GeneralListComponent ) with a decorator(@DynamicForm).
This class is not used anywhere and it is going to be used dynamically.

In this situation, the decorator does not work( It is removed by the com

[2020-04-17 11:56] Martinspire commented on #36350
As far as I can see that isn't using an entryComponent. My issue is when an entire module is being mocked (with NG-Mock's "MockModule", the entryComponent breaks the compiler. While this is fixed in Angular 9+ (because entryComponent is no longer needed), this is still broken on Angular 8. Not everybody can use 9+ because dependencies don't work with Ivy yet

[2020-04-17 11:56] JoostK commented on #31495
@abadakhshan Please see #35314 for that scenario and how to make it work again.

[2020-04-17 12:09] gkalpak commented on #36666
I'm afraid you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please [open a new issue](https://gith

[2020-04-17 12:09] #36666 closed

[2020-04-17 12:12] Borsi92 commented on #36056
@Razgort Have you found any solution for this? I am getting the same error. Any help would be much appreciated!

[2020-04-17 12:45] Stehlert commented on #19934
I have the same issue with Angular 9.1.2

[2020-04-17 13:26] JoJk0 commented on #18891
Any update on the issue? It has been 2 years since this bug has been discovered.

[2020-04-17 13:27] MathewBerg opened #36688 "Querystring removed when useHash is true"
# 🐞 bug report

### Affected Package
Not sure, I'm guessing core.

### Is this a regression?
Nope

### Description

When useHash is set to true the querystring is removed on page load and not maintained when navigating.

## 🔬 Minimal Reproduction
For the router set useHash to true. Then if you load the page such as

http://localhost:4200/?param=value#/example

The querystring gets removed so the n

[2020-04-17 13:42] dmosemann opened #36689 "Components with class selector do not initialize when Ivy is enabled"
# 🐞 bug report

### Affected Package
Not sure which package, related to Ivy

### Is this a regression?
Yes, the previous version in which this bug was not present was: Angular 8, or Angular 9 with Ivy disabled

### Description
A component with a class selector does not initialize if there is also an interpolated variable in the class attribute. Example:

**icon.component.ts**
`@Component { selecto

[2020-04-17 13:42] johanchouquet commented on #34352
Hi there,

What's the status of this issue please ?

Thanks a lot!

[2020-04-17 14:16] angularbeginner opened #36691 "Angular Local host not working"
Hi Coders,
when i open url  : **http://localhost:4200/**   from browser on laptop i get "**This site can’t be reached localhost took too long to respond** ". so i tried installing everything in desktop there also i am getting same issue.

Any idea guys what could be the issue

Below Are versions i am using

Angular CLI: 9.1.1
Node: 12.16.2
OS: win32 x64

Angular:
...
Ivy Workspace:

Package

[2020-04-17 14:19] petebacondarwin commented on #36691
I'm afraid that this is a support request that we do not support in this issue tracker. This is only for reporting bugs or feature requests with the Angular framework. If you need further help please consider other channels such as StackOverflow.

(By the way, have ensured that you have a HTTP server running, e.g. by doing `ng serve`?)

[2020-04-17 14:19] #36691 closed

[2020-04-17 14:23] angularbeginner commented on #36691
ok thanks for quick reply...!!!
Anyways yes i did ng serve

[2020-04-17 14:23] petebacondarwin commented on #36558
We need to investigate why this package is not being compiled by ngcc correctly...

[2020-04-17 14:25] petebacondarwin commented on #36691
In that case you may need to look at whether your OS is setup to allow `localhost` as a domain name?  Perhaps try `0.0.0.0`?

[2020-04-17 14:33] gkalpak commented on #36558
No, unfortunately there is no easy way to perform this check. And excluding the modules from the compilation wouldn't do users much good, since the app would fail at runtime.

##
I looked at your demo (with the only difference being that I updated the `ngcc` command in the `postinstall` script to `ngcc --create-ivy-entry-points --error-on-failed-entry-point --first-only --properties es2015 browser

[2020-04-17 14:50] nikita-fuchs commented on #36558
holy cow @gkalpak , that was more help than I could have asked for, thank you so much. The library is not maintained since some time unfortunately, so I guess I'll have to put a fork in place.  I will give it a try as soon as I find out how to use the output of its `npm run lib:compile` cmd as a module in my project, copy pasting the `dist` folder didn't do the trick.

A breaking change warning wo

[2020-04-17 15:37] cgramme commented on #18271
Here is some simple working code:
`{
        path: 'resources',
        children: [
            {
                path: '',
                component: ResourcesComponent,
            },
            {
                path: 'child-component',
                component: ChildComponent,
            },
        ],
    },`

[2020-04-17 15:51] gkalpak commented on #36558
Well...it's not possible for Angular to know whether not specifying `{descendants: true}` is intentional or not. (It's not wrong to not specify `{descendants: true}`, it just signifies that your component has different requirements.)

BTW, if this was an app, the CLI would have automatically updated `@ContentChildren(...)` to use `{descendants: true}` when upgrading to v9, I guess, but there is no

[2020-04-17 15:52] vmachacek commented on #35788
Yep, the same problem is seen here when updating from 9.0.6 to 9.0.7. Also appears in 9.1.1.

[2020-04-17 16:14] sod opened #36692 "enableProdMode() does not disable ngDevMode in ssr"
# 🐞 bug report

[code]

^ this does not really disable dev mode in ssr. The mere act of doing `require '@angular/core'` in node.js initializes `ngDevMode` inside the umd bundle of `@angular/core`.

What we do right now is including this as the very first line of our server:

[code]

This improves ssr throughput by ~44% in our case (from ~18 renders per second to ~26 renders per second). And of cou

[2020-04-17 16:19] andreElrico commented on #28897
this seems to be working for me:

[code]

[2020-04-17 16:26] oauthentik commented on #7733
I think someone just pulled up a library that and more
[Angular Testing library](https://testing-library.com/docs/angular-testing-library/intro)

[2020-04-17 16:34] #36260 closed

[2020-04-17 16:38] Serginho opened #36693 "Type checking can't understand multiple typescript union types"
# 🐞 bug report

### Affected Package
No

### Is this a regression?
Probably `@angular/language-service`

## 🔬 Minimal Reproduction
[code]

[2020-04-17 16:40] #36693 closed

[2020-04-17 17:05] sonukapoor commented on #35891
@gregmagolan Anything else I can try?

[2020-04-17 17:12] sod commented on #36692
Looking at the example project at https://angular.io/guide/universal, it seems like you remove the debug code via terser at build time. If thats how it's supposed to be done, then I guess I revoke this bug ticket.

[2020-04-17 17:12] #36692 closed

[2020-04-17 17:13] Vikki123 opened #36694 "Object expected error thrown in angular 9.0.x - IE11 application"
i all. I  am developing an angular application which is running on version 9.0.x. The application runs as an ifame of the parent application. There is a signalR connection to the backend and we try to close the connection when the frame is unloading using @microsoft/signalr HubConnection.stop() method.

**What is the problem:**
When the application runs on IE 11, when the above is called , it work

[2020-04-17 17:15] gregmagolan commented on #35891
`cmd` is the way to go for Windows Bazel. It's what I test with on my Windows machine and I believe what the few Angular devs & contributors that are on Windows have used from what I've heard. It also what the Angular CircleCI coverage for Windows (although minimal) is on.

I haven't tried `gitbash` on Windows but seems like it is introducing other issues. I tried using the new linux subsystem at

[2020-04-17 17:16] petrot commented on #35788
I have three Ionic project (with Ionic 5). 2 of them are running without any error (without `import "@angular/compiler"`), but the largest one gives this compiler error. When I put `import "@angular/compiler"` to main.js, ionic serve (ng serve) works, but the prod build fails again.

My largest problem is that I can't find the exact source of the problem. Wrong 3rd party lib (maybe PouchDB)? Wrong

[2020-04-17 17:19] sonukapoor commented on #35891
Thanks a lot for the tips.

I don't have a secondary windows machine to try this out. I will try the verbose option and let you know over the weekend.  👍 If the logs aren't useful we can try a session next week.

[2020-04-17 17:27] souhailharrati opened #36695 "Add FormControl to FormArray"
I have a problem of adding FormControl to FormArray without FormBuilder:
-  the 2 nd FormControl takes the values of the previous FormControl

**in component ts:**
[code]

**In component html**
[code]
- See this link: https://stackblitz.com/edit/add-input-to-formarray-without-frombuilder

but if i use the FormBuilder everything is going well
- example: https://stackblitz.com/edit/add-input-to-form

[2020-04-17 18:18] abadakhshan commented on #31495
@JoostK

Thank you.
#35314 is closed, but I think the problem still exists.

My scenario is exactly like [this ](https://github.com/angular/angular/issues/35314#issuecomment-584878705)

Add Dynamic Components to EntryComponents  Does not work anymore.

What should we do in this situation?

[2020-04-17 18:26] javier-vilares commented on #36644
Hi, have you tried [https://poedit.net](url)? I think this is the tool you are looking for :)

[2020-04-17 18:40] spock123 commented on #36644
Hi @javier-vilares I have been using it but t's not so practical for the free tier. Files have to be downloaded manually, there is no api.

I just wish there was a simpler way, like a simple json file format.

[2020-04-17 18:41] JoostK commented on #31495
@abadakhshan Please see https://github.com/angular/angular/issues/35314#issuecomment-584821399 for how to resolve the problem. The issue is closed because the framework is working as intended.

[2020-04-17 18:53] nikhildhar1992 opened #36696 "Calling the same activated component url , how to get trigger function to get data?"
I have a component loaded, calling modal on top of that and after closing redirecting to same loaded component, but I am not able to trigger any function when 2nd time I am at my component.

[2020-04-17 20:15] #36146 closed

[2020-04-17 20:33] WeslleyDeSouza commented on #15041
you could add a subscription to the app.component which triggers the re-render for all subcomponents.

`      <ng-container *ngIf="show">
          <ng-progress></ng-progress>
          <router-outlet></router-outlet>
      </ng-container>`

` languages.onChange.subscribe(()=>{
            this.show = false;

           // ...(show loading modal or something)

             setTimeout(()=>      thi

[2020-04-17 20:34] AndrewKushnir commented on #36696
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-17 20:34] #36696 closed

[2020-04-17 20:44] zozzz commented on #35891
I have a similar issue (maybe). I think the root of problem is close to that:

`/bin/bash: C:/users/zozzz/_bazel_zozzz/ny5qlrpi/execroot/examples_app/bazel-out/host/bin/external/npm/@bazel/typescript/bin/tsc_wrapped.sh: No such file or directory`

The *tsc_wrapped.bat* try to invoke `C:/Windows/system32/bash.exe C:/users/zozzz/_bazel_zozzz/ny5qlrpi/execroot/examples_app/bazel-out/host/bin/external

[2020-04-17 22:53] AndrewKushnir commented on #36695
Hi @souhailharrati,

I looked at the code and it seems to be working as expected. The problem is that the `EMPLOYEE_FORM` object (and as a result, `FormControl` instances) are reused for all items in the `employees` array. The problem doesn't happen with `FormBuilder`, since new instances of the `FormGroup` are created based on the spec defined as an array.

In order to fix the problem, you can up

[2020-04-17 22:53] #36695 closed

[2020-04-18 00:37] robbiemu commented on #36673
I find the resolution here disheartening and more importantly ambiguous! What exactly is imperative code? I'm finding that I cannot even do:
[code]

nor can I do:
[code]

but yes,
[code]
-- that works just fine

in which case, I am wondering what on earth I am supposed to be able to do in there!

[2020-04-18 01:01] robbiemu commented on #36673
dooh! I finally got it, and I was wrong, it is not that bad. In fact I can do what I wanted, just without a temporary variable:
[code]

[2020-04-18 03:29] sdavids opened #36700 "localization retains copyright in minimized main.js"
# 🐞 bug report

### Affected Package

`@angular/localize`

### Description

When using `@angular/localize` the Google license will not be removed (extracted) from main.js

## 🔬 Minimal Reproduction

[code]

## 🌍  Your Environment

**Angular Version:**

[code]
[code]

angular.json
[code]

[2020-04-18 04:34] Vikki123 opened #36701 "Object doesn't support this action, angular 9 - IE11 in dev mode"
# 🐞 bug report

### Affected Package
Angular dev server - ng serve

### Is this a regression?

No

### Description

 A clear and concise description of the problem...

I have an angular 9  application . I use the application as an iframe inside another parent using the following mock code

< !DOCTYPE html>
    <html>

    <body>

        <button id="add" onclick="add()">Add</button>
        <butto

[2020-04-18 05:04] ajarudingunga commented on #32853
@IgorMinar

Anyhow, we managed in the frontend by editing prod dist files by removing `&& !this.peekStartsWith('//')`. But the workaround is not working for angular/universal APP, It is getting broken.

[2020-04-18 06:27] ajitsinghkaler commented on #35459
@kapunahelewong @sonukapoor

 https://angular.io/guide/dependency-injection-providers
https://angular.io/guide/dependency-injection

Share the example do we need to put same link everywhere or do we need to make a separate example for each one. means put different example codes in different stackblitz.

[2020-04-18 06:41] gurezo commented on #35740
Error getting Bazel occured cli@v10.0.0-next.0.
[code]

[2020-04-18 07:26] nikita-fuchs commented on #36558
Sure, I rather meant something like a warning about new changes of usage, sorry for being unprecise. Still struggling with how to use the library's build output as a module - hold tight, will be back after I figured this out.

[2020-04-18 09:02] SystemR commented on #25865
One way to do this is to create a patched `ngsw-worker.js` with Phil Nash's @philnash code to handle range request here: https://github.com/philnash/philna.sh/blob/ba798a2d5d8364fc7c1dae1819cbd8ef103c8b67/sw.js#L50-L94 (from https://philna.sh/blog/2018/10/23/service-workers-beware-safaris-range-request/)

First copy a `ngsw-worker.js` file from dist and create `ngsw-worker-patched.js`. Then prepen

[2020-04-18 09:10] JoostK commented on #36673
@robbiemu Please see #36415 for some more details. It's kept open for tracking purposes.

[2020-04-18 09:53] tscislo commented on #35871
This works well as expected. Thanks for your help! @petebacondarwin @mhevery

[2020-04-18 10:57] Dzhuneyt opened #36702 "CI environment fails to run tests with /node_modules/__ngcc_entry_points__.json issues"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/....

[code]

### Is this a regression?

We've not seen this error prior to the Angular 9 upgrade.

### Description

While running the tests in a CI environment (GitHub actions), the command above appears to be stuck for 6 hours, after which it's automatically terminated due to a timeout. The message generated AFTER the

[2020-04-18 11:11] petebacondarwin commented on #35871
Great! Thanks for checking in.

[2020-04-18 11:17] petebacondarwin commented on #36702
So this path doesn't look right: `/app/node_modules/@angular/animations` unless your project really is at `/app` directly off the root...

In any case, if you get this warning it means that the previous run of `ngcc` created a manifest that found a package a `/app/node_modules/@angular/animations` but now this path either has no package in it or has an invalid package. When this happens `ngcc` wil

[2020-04-18 11:30] petebacondarwin commented on #36700
This is due to the localization process including the global locale data file (e.g. https://github.com/angular/angular/blob/master/packages/common/locales/global/de.js).

It seems that the minification that is being applied to this file (perhaps before or after it is added to main.js) is not stripping the copyright comment (although the other comment is being stripped).

We recently also had an is

[2020-04-18 11:44] souhailharrati commented on #36695
Hi @AndrewKushnir
everything is clear thank you very much

[2020-04-18 12:34] sdavids opened #36703 "predefined date format constant for ISO8601"
# 🚀 feature request

### Relevant Package

This feature request is for @angular/common

### Description

https://xkcd.com/1179/
<img width="392" alt="iso_8601_2x" src="https://user-images.githubusercontent.com/201931/79637339-00a71100-817f-11ea-93b7-2e4cdb9a22ca.png">

Please provide a predefined constant for ISO8601.

https://angular.io/api/common/DatePipe#pre-defined-format-options

### Describe

[2020-04-18 12:55] rodrigofurlaneti opened #36704 "Insert data without request using javascript ngModel"
I have an Angular / TypeScript application on the frontend, which is not consumed as information from a Web API, back-end that was made on the Asp.Net Core, normally normal. My question is a form in Html, no type of javascript code calculation, no "client", no time to send the form to a WebApi, or a field that "null". If the user enters the value, or the data arrives at the API. However, if I do t

[2020-04-18 13:17] JoostK commented on #36704
I'm sorry but we don't understand the problem you are reporting.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/angular/issues/new/choose) and follow the instructions in the issue template.

[2020-04-18 13:17] #36704 closed

[2020-04-18 14:49] sonukapoor commented on #35459
@ajitsinghkaler The idea for this issue is to use the example from within the doc and place it somewhere near the top to make it easily accessible.

- If you see a guide where an example is mentioned but not provided, then you can always create a new issue and create a PR against that.
- If you find a guide where an example is missing but found one from another guide, then you can link it to the g

[2020-04-18 15:15] souhailharrati commented on #36640
Hi @vinagreti
A quick fix to fix the problem is
you can use the ChangeDetectorRef service to detect the change:

[code]

see this link: https://stackblitz.com/edit/angular-3jq39s

[2020-04-18 15:37] dvlas opened #36705 "A bug after apply routing of Angular 9.1.1"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/9.1.1

### Description

 The error appeared after adding routing.
I read a book on angular: routing (https://angular.io/start/start-routing) and followed the steps to build the application, but this error crashed every time.
Thank you

## 🔥 Exception or Error
<pre><code>

 ERROR Error: Uncaught (in promise): Error: ASSE

[2020-04-18 15:45] mlc-mlapis commented on #36705
@dvlas Please, create a simple online reproduction of it on https://stackblitz.com.

[2020-04-18 15:47] muuvmuuv opened #36706 "Ability to chain multiple Input decorators together to create a single object"
# 🚀 feature request

### Relevant Package

- @angular/core

### Description

I would like to combine multiple input properties together. When a component has a lot of input properties and you want to pass all of them to child components, you need to manually add them where ever components need them and need to remember where you're passing them if you want to add new props.

I have a Card componen

[2020-04-18 15:56] muuvmuuv commented on #36706
An alternative would be something like React have where you can get all props that are passed to a component:

[code]

[2020-04-18 16:41] petebacondarwin commented on #36703
While it is tempting to keep adding options to things in the standard libraries, Angular was designed to make it very easy to customise behaviour by writing your own components, directives and pipes.

It is simple to create an `isoDate` pipe that does just what you want and saves on adding more weight to the bundle size for people who do not need this format. See https://stackblitz.com/edit/ivy-ep

[2020-04-18 17:45] ajarudingunga commented on #32853
The workaround is working for A8 and SSR Universal App.

[2020-04-18 17:50] Raheel4912 opened #36707 "NodeInjector: Not_Found [NgControl] when i used [(ngModel)] in template. (Angular Version 9)"
I included in application module file.
import {FormsModule} from '@angular/forms' and include in imports array.

Waiting for helping response in this regard.
Thanks.

[2020-04-18 18:00] Araknos commented on #36624
Forgot to add I got the following error in the console:

Here is a stackblitz but it's working:
https://stackblitz.com/edit/angular-mqbsjt

[2020-04-18 19:21] sonukapoor commented on #35891
@gregmagolan I was not able to add the log output here, because it was too long for Github's post limitation. I have uploaded the file here:

https://drive.google.com/open?id=1yPdX2T_XU1k7xsjpWH-19zZTRFjKnnyu

[2020-04-18 19:43] dvlas commented on #36705
Thank you.\
Please link: https://stackblitz.com/edit/angular-r2zkqd , but I have another error from stackblitz.com.
<code>ERROR
Error: Uncaught (in promise): Error: No component factory found for ProductDetailsComponent. Did you add it to @NgModule.entryComponents?
Error: No component factory found for ProductDetailsComponent. Did you add it to @NgModule.entryComponents?
at noComponentFactoryError

[2020-04-18 20:05] souhailharrati commented on #36707
Hi @Raheel4912
You need to add ngModelChange event

[2020-04-18 20:19] mlc-mlapis commented on #36705
@dvlas But you don't have `ProductDetailsComponent` in declarations section.
[code]

[2020-04-18 20:28] JoostK commented on #36707
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2020-04-18 20:28] #36707 closed

[2020-04-18 20:38] JoostK commented on #36705
The `ProductDetailsComponent` is missing the `@Component` decorator and as @mlc-mlapis pointed out, it's not listed as a declaration in an NgModule. Once those problems are fixed, it works properly.

[2020-04-18 20:38] #36705 closed

[2020-04-18 20:48] #36703 closed

[2020-04-18 20:52] dvlas commented on #36705
Thank you for answer.
I found my error. Yes, I didnt have @Component in the ProductDetailsComponent!
Thank you!

[2020-04-18 21:09] idwebmedia commented on #36414
I can also confirm these times on 9.1.2. They've doubled. Mine went from 5mins (9.0.7) to 10mins (9.1.2). Multiple libraries with secondary entry points.

[2020-04-18 22:30] BioPhoton commented on #15280
For the let Syntax yes!
with the as Syntax I have problems.

[2020-04-19 00:01] philnash commented on #25865
Hello, I actually had to update that SW code recently (turned out the caches API didn't like storing 206 responses), so I'd check the latest from here: https://github.com/philnash/philna.sh/blob/master/sw.js#L49-L100.

[2020-04-19 00:30] AsmisAlan opened #36709 "Angular library project throws an error if you create enums"
# Angular can't build libraries with enums.

Hello :D Im trying to create an enum to define different types of providers for a login, but when I build the library the console throw an error (check the error below).
This is the enum:

export enum SignInProviderType {
  Google,
  Facebook,
  Email,
  Phone,
  Github,
  Twitter,
}

The temporal solution that i found is an object with values, but I pr

[2020-04-19 02:00] IrunguMunene commented on #35788
Same problem in 9.1.1 when creating a custom validation function with say

`import { FormGroup, FormBuilder, Validators, AbstractControl, ValidatorFn } from '@angular/forms';`

then declaring a function

[code]

and ng serve --open, compiler runs and says compiled successfully but on browser page wont load and in the console I get

Uncaught Error: Angular JIT compilation failed: '@angular/compiler

[2020-04-19 02:09] kathpal commented on #36647
Got it. It was due to the version of assert being used.
Downgrading the assert version to 1.4.* series.I am not using assert directly though some dependencies are using it and upgrading all dependencies cause it to change to 1.5.0
Added 1.4.1 as this was being picked up earlier ,solved the issue.

[2020-04-19 03:20] abadakhshan commented on #33715
I think there is a problem in Angular Ivy related to this issue.

In Angular V 8 there is an `EntryComponent `on `NgModules `that we define dynamic components there.  Some of these components were used by direct reference, some were used without any reference. for example like [this](https://github.com/angular/angular/issues/33715#issuecomment-552551389)

In Angular 9 (Ivy) `EntryComponent ` has b

[2020-04-19 09:24] griosb8711 commented on #36408
I have the similary problem with the example https://angular.io/start/start-routing not show the fields detail product, help me please somebody

[2020-04-19 09:50] ajitsinghkaler commented on #32978
@gkalpak I think we can close this issue

[2020-04-19 10:49] ajitsinghkaler commented on #30906
@gkalpak @kapunahelewong we can close this test bed.get  is deprecated in v9.0.0

[2020-04-19 11:14] ajitsinghkaler commented on #30539
@gkalpak @kapunahelewong I think we can close this issue

[2020-04-19 11:27] ajitsinghkaler commented on #30261
@gkalpak @kapunahelewong I think we can close this issue.

[2020-04-19 11:32] ajitsinghkaler commented on #30098
@gkalpak @kapunahelewong I think we can close this I resolved the issue

[2020-04-19 11:49] ajitsinghkaler commented on #29297
@kapunahelewong @gkalpak I think this issue is resolved

[2020-04-19 12:00] JoostK commented on #36709
Hi, ng-packagr ^9.1.0 requires TypeScript >=3.6 <3.9.0 and is meant to be used with Angular 9.0. Other than that, the `"@angular-devkit/build-ng-packagr` entry in "dependencies" should be removed, as it ought to be a "devDependency" and it's already listed there using the expected version.

[2020-04-19 12:00] #36709 closed

[2020-04-19 13:00] ajitsinghkaler commented on #27969
@gkalpak @kapunahelewong I think we can close this issue.

[2020-04-19 13:10] #27969 closed

[2020-04-19 13:10] ajitsinghkaler commented on #27564
@gkalpak @kapunahelewong I think we can close this issue.

[2020-04-19 13:15] ajitsinghkaler commented on #27520
@gkalpak @kapunahelewong I think this has been corrected please have alook

[2020-04-19 14:18] ajitsinghkaler commented on #27126
@gkalpak @kapunahelewong I think we can close this now these are two very different modules.

[2020-04-19 14:29] ndr commented on #18967
Hi everyone.
I wanted this feature for a long time and decided to write it my own npm package for it.
It can be not perfect and this is one of my first npm packages, but for my project it is working ok (by now). Currently working only with angular 9
I will appreciate your opinion and any comments:
stackblitz:
https://stackblitz.com/edit/angular-v8hdug?embed=1&file=src/app/user/user-routing.module.

[2020-04-19 14:41] ajitsinghkaler commented on #26717
but protractor has most examples for angular 1

[2020-04-19 15:10] ajitsinghkaler commented on #26581
@gkalpak @kapunahelewong I think this can be closed

[2020-04-19 15:22] ajitsinghkaler commented on #26370
@gkalpak @petebacondarwin so should we underline the links. happy to raise a pr for that

[2020-04-19 15:55] ajitsinghkaler commented on #25524
@gkalpak @kapunahelewong this can be closed

[2020-04-19 16:11] aikidave commented on #26370
We should definitely make it obvious that something is a link. Personally, it drives me crazy when I visit a site and I have no way of knowing that I can click on something.

Just curious though: @petebacondarwin, you don't want to highlight links because they're sometimes wrong? That sounds like another issue we should address. 😄 Are the links generated or manually created? Either way, we should

[2020-04-19 16:22] petebacondarwin commented on #26370
We have a dgeni processor that tries to "auto-link" code items. This goes through all the generated code snippets in the rendered HTML and tries to infer if a word in a snippet matches an API item. If so then it creates a link to it. This is quite good but does occasionally get it wrong - either missing an word that could have been linked or linking a word incorrectly. @sonukapoor has recently imp

[2020-04-19 16:27] amurzeau commented on #11447
I've a case where I would want not to set readonly, but a different custom attribute like "isLoading" on a custom component (actually for https://ng.ant.design/components/switch/en).
Maybe that fit in the same global use case. The global idea would be to allow access to any of the attribute of the underlying control from the FormControl.

[2020-04-19 16:41] ajitsinghkaler commented on #24939
@gkalpak @kapunahelewong I think we can close this as #24911 resolves it

[2020-04-19 18:27] jsBrian opened #36711 "Recreating custom element loads wrong route"
# 🐞 bug report

### Affected Package
@angular/elements
@angular/router

### Is this a regression?
No, as far is I know this issue was present in @angular/elements 6, 7, 8 and 9.

### Description
When using custom-elements along with routing, there seems to be an issue when you:
* create a custom element (that has routing) and add it to the page
* do some routing, but make sure to back to the root

[2020-04-19 18:44] bluegrounds commented on #28661
The amount of issues that have been opened, and the comments discussing it, since 2016, is proof enough that this feature is badly needed by many, many people.

Is it difficult to implement such a feature?

[2020-04-19 18:48] nishi90297 commented on #30925
try to change the primeNg version in package.json file, it is compatible with "^8.0.0" version. It worked for me, hope it helps.

[2020-04-19 19:15] juanri0s commented on #36408
Hi try out this stackblitz example and let me know what specific issue you are running into.
https://start-routing-docs-example.stackblitz.io

navigating to https://start-routing-docs-example.stackblitz.io/products/0 in the stackblitz browser should show the first products values since it's index 0.

[2020-04-19 19:21] dariel312 commented on #16352
1+

Documentation literally states that template driven forms should match the attributes with native html validation. This is real desceptive.

[2020-04-19 19:37] Jasonkoolman commented on #21507
@matsko @josephperrott Would you perhaps know of any workaround to pass animations to third-party libraries, or is this impossible during runtime?

Thanks in advance, keep up the great work.

[2020-04-19 20:47] griosb8711 commented on #36408
I found the solution to my error, I only lacked in the view include *ngFor="let product of products; **index as productId**"

[2020-04-19 23:58] karanloona opened #36712 "Error while installing Angular"
I installed node successfully, while installing angular using this command:- >npm install -g @angular/cli , I got this error:-
'CALL "C:\Program Files\nodejs\\node.exe" "C:\Program Files\nodejs\\node_modules\npm\bin\npm-cli.js" prefix -g' is not recognized as an internal or external command,
operable program or batch file.
Error: EINVAL: invalid argument, mkdir 'C:\Users\<User Name>\AppData\Roamin

[2020-04-20 05:09] asajuenitan commented on #36712
Run npm -v, does it give the version?

[2020-04-20 05:22] alireza267 opened #36713 "some elements don't load to page after upgrading to angular9, (Ivy enable, prod mode only)"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core 9.x.x

### Is this a regression?

 Yes, the previous version in which this bug was not present was: @angular/core 8.x.x
although when I disable Ivy compiler I won't see the bug in @angular/core9.x.x

### Description

 We have an Enterprise application was written by angular. everything was ok until we upgraded to a

[2020-04-20 05:36] AndreasGassmann commented on #35788
I'm also experiencing this issue in an Ionic project.

As @petrot mentioned, it's only an issue in a bigger Ionic project. But unlike @petrot, it looks like adding `import "@angular/compiler"` fixes the serve and the prod build.

I still find it odd that in some project the import is needed and in others not. I feel like this is a workaround to overshadow an underlying issue and it would be nice t

[2020-04-20 06:25] luchillo17 commented on #11714
#36644 was recently open by @spock123 probably to push this feature open, but to me, it looks like a duplicate.

[2020-04-20 06:29] luchillo17 commented on #13114
I had to wrap the text itself in a span so I could avoid that whitespace, don't like having to add extra dom elements just for that.

[2020-04-20 06:32] db6edr commented on #13114
That shouldn't be necessary, you can use ``ng-container`` for that:

``<ng-container i18n>Some localized text</ng-container>``

Only the text will show up in the resulting DOM, not the ``ng-container``.
See [the i18n docs](https://angular.io/guide/i18n#translate-text-without-creating-an-element).

[2020-04-20 06:34] luchillo17 commented on #35776
There are no docs about how to configure the locale so `baseHref` is what you expect.

In my case, I wanted to deploy the localized builds to 3 different domains but the `baseHref` was set to each locale like `<base href="/en-US/" />`, thus messing with my deploys.

I had to look into the `angular.json` schema to understand how to configure the locale to not touch the `baseHref`.

[2020-04-20 06:57] luchillo17 opened #36714 "[i18n] $localize extract translation unit & documentation"
# 🚀 feature request

### Relevant Package
This feature request is for @angular/localize

### Description
Currently, the `$localize` API is not documented, and translation text & id is not extracted towards translation file, basically the translation units for a text translated with `$localize` in code have to be put in a translation unit in the file manually.

If you have many items to translate w

[2020-04-20 07:12] luchillo17 commented on #13114
@db6edr That beats the purpose, `ng-container` is longer than `span`, once in the browser is not an issue anymore, it's the longer source code that bothers me.

[2020-04-20 07:15] petebacondarwin commented on #35776
@luchillo17 - as you worked out it is possible to modify the angular.json to change the basehref per locale - https://github.com/angular/angular-cli/issues/17260#issuecomment-601959316.

We should definitely update the guide at https://next.angular.io/guide/i18n to explain this... cc @kapunahelewong

[2020-04-20 07:21] ocombe commented on #36644
The Locl project lets you use `json` with `@angular/localize` if you want https://github.com/loclapp/locl

That being said, it's not going to be free once it's ready for v1 (currently in RC).
The price will be more like $100/year than each month, which might make it more affordable for you.
Also it's free for open source projects.

[2020-04-20 07:22] db6edr commented on #13114
@luchillo17 OK, I assumed it was the extra <span> in the browser's DOM that bothered you.

[2020-04-20 07:35] petebacondarwin commented on #36714
This is being worked on https://github.com/angular/angular/pull/32912

[2020-04-20 07:36] petebacondarwin commented on #36714
And `$localize` as an API was not made public in v9. That is why it is not yet documented. In v9 we just used it internally for template translations. The fact that you can use it in your own TS code is supposed to be a secret 🤫

[2020-04-20 07:52] luchillo17 commented on #36714
🤐

[2020-04-20 08:02] suppadeliux commented on #18967
Thanks for answering. That would be awesome! Looking forward for it.

[2020-04-20 08:19] lazarljubenovic commented on #13114
Erm.

[2020-04-20 08:25] splincode opened #36715 "Support extend angularCompilerOptions in tsconfig from absolute tsconfig"
# 🐞 bug report

@alan-agius4 https://github.com/angular/angular/issues/22684

### Is this a regression?

No

### Description

I know that extends works if we use a config regarding our file system

tsconfig.angular.json

[code]

tsconfig.json

[code]

Works great

But If I put the config in a separate package

[code]

Only inheritance compilerOptions works,  but I expect angularCompilerOptions to

[2020-04-20 08:36] Malte-BMT commented on #20694
Finally! Adding a primary (unnamed), empty router-outlet to my template completely fixed it. Thank you

[2020-04-20 09:08] alan-agius4 commented on #36715
Hi @splincode, since TypeScript supports non rooted extends we should probably do the same.

https://github.com/microsoft/TypeScript/blob/b346f5764e4d500ebdeff7086e43690ea533a305/src/compiler/commandLineParser.ts#L2603-L2628

[2020-04-20 09:19] splincode commented on #36715
@alan-agius4 Glad to hear that!

[2020-04-20 10:42] robertdempsey commented on #18967
@suppadeliux no worries. I'm working on it. But for now, it's quite similar to @ndr 's solution. so you may want to check that out. https://github.com/ndr/ngx-route-params-input

Nice work @ndr :)

[2020-04-20 11:20] ericmartinezr commented on #36713
Sounds like https://github.com/angular/angular-cli/issues/17494

[2020-04-20 11:21] petebacondarwin commented on #36713
I think so... transferring to CLI repo.

[2020-04-20 11:44] ndr commented on #18967
@robertdempsey
I have never used keyof before, but seems we cannot link it to "this" property inside of interface (since interface is not js construction) and I am getting such error:
[code]
Or maybe I haven't understood your point correctly.
In additional or instead, I am thinking of adding the warning (or error) message in case user are trying to pass the property which not exists in the compone

[2020-04-20 11:51] robertdempsey commented on #18967
Yeah, that was just pseudo-code that I wrote. I was struggling with the
proper real code, but I've just figured out how to do it with generics.
I'll show it to you when I finish my article.

Basically what I meant was that it would be good for a compile time error
to be thrown if the property doesn't exist on the component.

On Mon., 20 Apr. 2020, 9:44 pm Andrii Cherepovskyi, <
notifications@githu

[2020-04-20 12:14] martinneumann commented on #30835
I'm trying to deploy to IIS and none of the suggested methods seem to work. I tried to change `outputPath`, but it didn't help. Changing target didn't do anything, either. This is extremely frustrating.

[2020-04-20 12:34] JoostK commented on #35788
@AndreasGassmann

I agree with your assessment here, the error typically occurs when some component was not processed during the AOT compilation process, such that the JIT compiler is requested as fallback. I suspect this happens in one of your libraries, it could be that ngcc is not compiling some libraries. If you do indeed have a reproduction you can share, that would help in identifying the ro

[2020-04-20 12:42] willisd2 commented on #31495
It appears the issue I was running into was the same one that @abadakhshan describes [here](https://github.com/angular/angular/issues/31495#issuecomment-615191260). My app makes heavy use of dynamically instantiated components that often times aren't referenced by the app other than in the NgModule declarations. It appears the reason my custom decorator isn't working is because those components ar

[2020-04-20 13:54] karanloona commented on #36712
@asajuenitan yes it show version. In powershell it show this error:-

npm : File C:\Users\karanloona\AppData\Roaming\npm\npm.ps1 cannot be loaded because running scripts is disabled on
this system. For more information, see about_Execution_Policies at https:/go.microsoft.com/fwlink/?LinkID=135170.
At line:1 char:1
+ npm install -g @angular/cli
+ ~~~
    + CategoryInfo          : SecurityError: (:)

[2020-04-20 13:57] klogeaage commented on #35788
We had this error as well in a big project being updated from Angular8 to 9.1.2, but only in a few places where it would either give the JIT error mentioned here, or sometimes an "Error: Cannot instantiate cyclic dependency!".

There is an issue about the latter in #35225, and a comment there about the depth of import statements having an impact, led us to the solution:

The service causing the pr

[2020-04-20 13:58] petebacondarwin commented on #36712
This looks, to me, like you have installed `npm` in a folder that the current user does not have access.
This is not a bug with the Angular framework but a problem with your local npm setup.

[2020-04-20 14:02] CSchulz opened #36716 "HostBinding and Input decorator collides on same directive field"
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/core probably.

### Is this a regression?
I don't know because it occured with the ivy migration.

### Description
Before Ivy it was possible to have an input and hostbinding decorator on the same field.

With ivy it doesn't work anymore.

## 🔬 Minimal Reproduction
Run "npm test" to see the error. If you comment the input

[2020-04-20 14:03] SchnWalter opened #36717 "[strictNullChecks] AsyncPipe should return undefined instead of null"
# 🚀 feature request

### Relevant Package

This feature request is for `@angular/core`.

### Description

Currently, the `AsyncPipe` uses `null` a possible return type, for a better `strictNullChecks` support , it should return `undefined`.

[code]

To work around this, components that have an optional `@Input()` property have to define the possible types as `T | null | undefined`, instead of just

[2020-04-20 14:27] JoostK commented on #35788
@klogeaage If you can share a reproduction of that cyclic dependency issue, we can investigate.

[2020-04-20 14:53] klogeaage commented on #35788
Sorry, no reproduction. But as I tried to convey, the run-time issue was intermittently reported as either JIT compilation failed or cyclic dependency. These were reported when the code hit the same service and the fix for both was to avoid importing the same package dependencies with different depths in that service.

[2020-04-20 15:00] clydin commented on #30835
The original issue was caused by a defect within the Azure portal's blob storage upload functionality.  The portal was not properly setting content types when performing the upload. When using object storage to host static sites it is important that the tools used perform a complete upload of the files including content type.  First party tools such as the Azure and AWS CLI will do this.  If using

[2020-04-20 15:02] spock123 commented on #36714
@petebacondarwin But is works SO great... we've been able to ditch all runtime translations now, thanks to `$localize` .. it's wonderful

[2020-04-20 15:04] xiaoxiangmoe commented on #36714
@petebacondarwin can we use `$localize` in ng-packagr in Angular 10?

[2020-04-20 15:09] epaitz opened #36718 "Adding Material to a Library Project (Could not find the project main file inside of the workspace config)"
I am trying to build an Angular Library project that has Material installed. It was not working in my original project so I decided to create a new workspace and library project from scratch. Here are the commands I used.
[code]
After this step I was going to add the following...

[code]
...to the peerDependencies of test-workspace\projects\test\package.json but I do not know what do to do with th

[2020-04-20 15:17] petebacondarwin commented on #36714
Once https://github.com/angular/angular/pull/32912 lands and we get it integrated into the CLI then I think we should be fine to use `$localize`.

I don't believe that ng-packagr will do anything with `$localize`. It should just pass them through so that the application can do the translation. This leaves us with a new interesting question of how to best support a library author providing translat

[2020-04-20 15:37] ease opened #36719 "AngularJS $compile equivalent in Angular - compile string to HTML"
# 🚀 feature request

### Relevant Package
`"@angular/core": "9.1.1"` or any Angular 2+ version

### Description
AngularJS had an option to programatically and easily compile HTML out of a string with all the bindings and directives in it. So if we were to compile AngularJS-recognisable HTML out of a string (i.e. `Click here <span ng-click="doSomething({property: 'value'})"></span>`), we could do t

[2020-04-20 15:56] kapunahelewong commented on #35407
Thanks for volunteering, @ajitsinghkaler. I'll have to defer to @aikidave on this one.

[2020-04-20 16:01] mohyeid commented on #36272
I am facing the same issue. It's just stuck at 0% compiling and does not move forward. `"@angular/core": "9.1.2"`  `"@angular/cli": "^9.0.1"`

[2020-04-20 16:32] bossqone opened #36720 "Instance of service from NgModule.imports is not being injected in NgModule constructor or declared components"
# 🐞 bug report

### Affected Package
@angular/core

### Is this a regression?
I don't know

### Description
I have an issue with DI/NgModule. Injected `TranslateService` in `SharedModule` constructor (or `SharedComponent` constructor) is different than expected. From my understanding the nearest instance in DI hierarchy should be injected, which should be an instance registered from `TranslateModu

[2020-04-20 17:32] rdelormeCHS commented on #36060
Hi, I have this issue as well on a new project i created a few days ago. I have a project I created about a month ago that does not have this problem. I notice some differences in behavior but cannot figure out the difference in environment or configuration that is pointing to the problem. I think if this can be identified it will help a lot to solving this issue since i have 2 projects in the sam

[2020-04-20 17:57] #30906 closed

[2020-04-20 17:57] #30539 closed

[2020-04-20 18:03] gkalpak commented on #27126
Agreed. The sections are completely different now (one is an online store, the other a heroes dashboard), so they can't really build on top of each other.

[2020-04-20 18:03] #27126 closed

[2020-04-20 18:04] gkalpak commented on #30098
@ajitsinghkaler, can you please add more info on how/where this issue was resolved?

[2020-04-20 18:05] gkalpak commented on #26581
@ajitsinghkaler, why do think this can be closed?

[2020-04-20 18:05] gkalpak commented on #25524
Fixed with #25762.

[2020-04-20 18:05] #25524 closed

[2020-04-20 18:05] #24939 closed

[2020-04-20 18:08] gkalpak commented on #30261
Fixed with #30976.

[2020-04-20 18:08] #30261 closed

[2020-04-20 18:32] shripatki commented on #22700
I am facing same issue but unable to resolve with the given solution. I am using below configuration

- angular 8.3
- node 10.15
 please help me for this issue

[2020-04-20 18:39] leonardopliski commented on #13764
Any updates on this?

[2020-04-20 19:02] philip-firstorder commented on #11836
I also lost several hours because of this. Any news yet?

[2020-04-20 19:22] pbrissaud commented on #11234
This bug is still here in version `9.1.1`
My code worked fine in 8.2 and when I updated to Angular 9, I had to change the position.

[2020-04-20 19:33] FlashBanistan opened #36725 "Angular 9 during language build causes "No translation found for "<ID>" (" {$ICU} ")."
# 🐞 bug report

### Affected Package
With Ivy disabled the language build succeeds

### Is this a regression?
Yes, this error started appearing after our upgrade from 8.2 to 9.1.1.  Disabling Ivy is our current workaround.

### Description
The issue only appears to affect translations that make use of the ICU select format. After further testing it seems that ivy doesn't like it when a value is pa

[2020-04-20 19:35] kapunahelewong commented on #35459
Yes, just as @sonukapoor says, @ajitsinghkaler. And sometimes there isn't one. It's ok to skip those because we still have to figure out how we want to handle those and some of them might require planning and discussion throughout to get them right (that is, those are way more work 🙂).

[2020-04-20 19:38] kapunahelewong commented on #32978
Thanks, @ajitsinghkaler!

[2020-04-20 19:38] #32978 closed

[2020-04-20 19:38] petebacondarwin commented on #36725
Thanks for the reproduction @FlashBanistan - I will take a look.

[2020-04-20 19:57] petebacondarwin commented on #36725
I just cloned that repo, followed the steps and there were no errors...

[code]

[2020-04-20 19:59] FlashBanistan commented on #36725
@petebacondarwin thats odd
![image](https://user-images.githubusercontent.com/18370758/79794194-151a1380-830f-11ea-8896-15487c0555f0.png)

[2020-04-20 20:01] petebacondarwin commented on #36725
Is that from a clean checkout of the project?
I see you are on Windows.  I ran it on OS/X. Perhaps that is significant?

[2020-04-20 20:02] petebacondarwin commented on #36725
What happens if you use the local `ng` directly? E.g. `node_modules/.bin/ng build --configuration=es`?

[2020-04-20 20:04] FlashBanistan commented on #36725
@petebacondarwin Yes it's a clean checkout.  Being on windows may be a factor. I tried the local ng and I'm still getting the same error.  Can you verify that the value is actually being translated in your compiled project?

[2020-04-20 20:10] petebacondarwin commented on #36725
Yes I can see the translated values: `I18N_1 = "{VAR_SELECT, select, TRUE {Si} FALSE {No}}";`.

So here is an interesting thing... If I set `"enableI18nLegacyMessageIdFormat": false,` in the `tsconfig.json` then I get the same error. Which is expected since the XLIFF 1.2 format files that you have there are using the legacy ids (e.g. `d42e3c2d3aa340581d42f53c46eb49ecb3d3beb4`).

Can you try runnin

[2020-04-20 20:12] petebacondarwin commented on #36725
Trying on Windows...

[2020-04-20 20:17] petebacondarwin commented on #36725
Just ran it on my Windows machine:

[code]

Still works fine...

[2020-04-20 20:17] FlashBanistan commented on #36725
Here's what I see
[code]

[2020-04-20 20:20] FlashBanistan commented on #36725
What else is different about our environments?

[2020-04-20 20:20] petebacondarwin commented on #36725
That's interesting... Do you see that the message IDs are different...

[2020-04-20 20:21] petebacondarwin commented on #36725
git line endings?

[2020-04-20 20:29] petebacondarwin commented on #36725
Can you modify the `node_modules/@angular/compiler/bundles/compiler.umd.js` in your project so that `computeDigest()` looks like:

[code]

Then run `ngc` again... I get

[code]

[2020-04-20 20:30] petebacondarwin commented on #36725
Actually also dump out whether you have `\r` chars in there too:

[code]

[2020-04-20 20:32] FlashBanistan commented on #36725
Here's the output
[code]

[2020-04-20 20:41] HanaaGhasoub commented on #35399
Hi,
What is the final solution for that error?
FYI, its working fine when build locally, **but when run build prod it fails**.
Please help me in that as soon as.
![image](https://user-images.githubusercontent.com/30862539/79797298-4cacae00-8357-11ea-9787-82099759868a.png)

My tsconfig.ts
![image](https://user-images.githubusercontent.com/30862539/79797470-939aa380-8357-11ea-843d-2d0c85ddf896.png)

[2020-04-20 20:56] HanaaGhasoub opened #36727 "Angular9 Upgrade | Build Prod Failed"
Angular Version: 9
After upgrade from 8 to 9 the build its working fine locally, **but when run build prod it fails**.
Please help me with that as soon as.
![image](https://user-images.githubusercontent.com/30862539/79797298-4cacae00-8357-11ea-9787-82099759868a.png)

My tsconfig.ts
![image](https://user-images.githubusercontent.com/30862539/79797470-939aa380-8357-11ea-843d-2d0c85ddf896.png)

Packa

[2020-04-20 21:02] VenomApps opened #36728 "No documentation on how to exclude certain routes from prerender. Angular Universal 9"
# 📚 Docs or angular.io bug report

### Description

 A clear and concise description of the problem...

## 🔬 Minimal Reproduction

### What's the affected URL?**
 https://angular.io/...

### Reproduction Steps**

### Expected vs Actual Behavior**

## 📷Screenshot

## 🔥 Exception or Error
<pre><code>

</code></pre>

## 🌍  Your Environment

### Browser info

### Anything else relevant?

[2020-04-20 21:04] petebacondarwin commented on #36725
Ahah!

[code]

[2020-04-20 21:06] petebacondarwin commented on #36725
So I think we have found the source[sic] of the problem. Traditionally we have had to keep whitespace inside ICU expressions when generating message ids. But it seems that we should be normalizing out the `\r` characters from line-endings. At least it appears that the old ViewEngine message extraction is doing so.

[2020-04-20 21:08] omarmeky commented on #17010
I think this should be higher than `severity2: inconvenient`. If the browser locks up in production, it would be a detrimental user experience and comparable to any other bug. Also, for those using error reporting tools (Airbrake, NewRelic, ...etc), it will spam them and mess with metrics.

My current workaround:

[code]

This though has the limitation of hiding _actual_ multiple occurrences of th

[2020-04-20 21:11] petebacondarwin commented on #36725
By the way, if you were to use `XLIFF 2` or `XMB` formats for your translation files then this is already fixed. Note that the "decimal" ids are the same in both cases. The `XLIFF 1.2` format is using a legacy message id digest that we want to retire.

[2020-04-20 21:13] FlashBanistan commented on #36725
Ok this makes sense.  Thanks for taking a look into it!

[2020-04-20 21:14] petebacondarwin commented on #36725
Tracking internally as FW-2101

[2020-04-20 22:15] richiyang opened #36730 "Angular Material focus styles not applying in Shadow DOM"
# 🐞 bug report

### Affected Package

 This issue is caused by (pull request 18667)[https://github.com/angular/components/pull/18667]

### Is this a regression?

 Yes.

### Description

 Keyboard focus and click focus styles no longer apply to Angular Material components when using Shadow DOM.

## 🔬 Minimal Reproduction

 https://stackblitz.com/edit/no-focus-style-for-interactive-element-shadowdom

[2020-04-21 00:08] AndrewKushnir commented on #36619
Hi @kalsowerus,

I've created a [PR with proposed fix](https://github.com/angular/angular/pull/36649). I tested the fix using the repro that you provided and it seems to be working correctly now. If you get a chance, it'd be great if you could help test this fix with your real app to see if the original problem is also resolved.

To test your app with the changes from PR #36649, you can follow an

[2020-04-21 01:21] AndrewKushnir commented on #36727
Hi HanaaGhasoub,

Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

Could you please provide a minimum rep

[2020-04-21 02:31] ybarbaria opened #36734 "Angular ng build prod convert all percent opacity to 1%"
# 🐞 bug report

### Affected Package
The issue is caused by the cssnano package
related to https://github.com/cssnano/cssnano/pull/881

### Is this a regression?
I don't know I never used percent for opacity since today.

### Description
I have some class where I defined some opacity by percent like this one :
![image](https://user-images.githubusercontent.com/5574663/79817846-70650800-83da-11ea-9

[2020-04-21 02:35] a88zach opened #36735 "Localize build option does not update asset paths correctly"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/cli

### Is this a regression?

 I'm not sure if this is regression as we just started using this option

### Description

 When you build a localized version of the application, the style urls are not updated correctly with the language path

## 🔬 Minimal Reproduction

 TODO: Link once bug is created
 Steps to reproduc

[2020-04-21 05:29] Allcharles opened #36736 "InjectionToken generic type is not considered when assigning instances"
# 🐞 bug report

### Affected Package

The issue is caused by package @angular/core

### Is this a regression?

Unsure if this has worked in previous versions.

### Description

Comparison of InjectionToken's of different types does not fail. This causes an issue when a function requires a typed InjectionToken as an input.

## 🔬 Minimal Reproduction

https://stackblitz.com/edit/angular-issue-repro2

[2020-04-21 08:11] suppadeliux commented on #18967
Hey @ndr , nice work! and thanks for sharing :).

[2020-04-21 08:22] kalsowerus commented on #36619
Hi @AndrewKushnir,

Thank you very much for your response. I ran my tests a few times with your PR artifact and could not reproduce the original error. It seems to be working fine now.

Can I expect to see this fix in 9.1.3?

Thank you.

[2020-04-21 09:35] miguelramos opened #36737 "Submit resources to list on angular website"
It is possible to propose libs to be added to your's resource list on the angular website? If yes how. And what are the requirements to be listed?

Actual resources:

https://angular.io/resources?category=development

[2020-04-21 10:02] vthinkxie opened #36738 "directive host binding not update after Promise.resolve"
# 🐞 bug report

### Affected Package

@angular/core

### Is this a regression?

no

### Description

The `<p>` color should change from red to blue after Promise.resolve(), but the color does not change.

## 🔬 Minimal Reproduction

https://stackblitz.com/edit/angular-x5gd4x?file=src%2Fapp%2Fhello.directive.ts

## 🔥 Exception or Error

the color does not change

## 🌍  Your Environment

**Angular Ve

[2020-04-21 10:19] #36738 closed

[2020-04-21 10:59] jkossis commented on #30695
Any movement on this?

[2020-04-21 12:01] ericmartinezr commented on #36737
https://github.com/angular/angular/blob/master/aio/content/marketing/resources-contributing.md

[2020-04-21 12:04] petebacondarwin commented on #36725
I did some more digging. This is down to how we (and TypeScript) handles line endings in backticked strings.  In the TypeScript `scanTemplateAndSetTokenValue()` function, which is responsible for dealing with such backticked strings there is this comment:

[code]

And then they go ahead and nornalize the line endings in the backticked strings.
You can see this on their AST tokens, which have `text

[2020-04-21 12:08] pkozlowski-opensource commented on #36720
This sounds very similar (duplicate?) to #11281

[2020-04-21 12:40] EpicScope commented on #35788
I have nowhere near the experience with Angular demonstrated in this thread, however I just experienced this issue when performing the basic Angular [TOH app](https://angular.io/tutorial/toh-pt1): I went as far as adding the `HeroesComponent` to my template at which point my browser pulled a blank page--I could access the resources in the dev tools--and the `Error: Angular JIT compilation failed:

[2020-04-21 12:40] jonnysmith1981 opened #36740 "Dynamically created components do not raise reactive form events"
# 🐞 bug report

### Affected Package
@angular/forms

### Is this a regression?

Unknown

### Description

We have a set of custom components that implement the ControlValueAccessor interface. When we add these controls at design-time to a form, all the value accessor and validation functions work fine.
When these controls are created at run time and added to the FormGroup, the initial value is not

[2020-04-21 14:17] #27564 closed

[2020-04-21 14:32] destus90 commented on #36740
I wonder why this should work? It seems, to me, that you just set the input property `formCotnrolName`. The corresponding `FormControlName` directive class  is never created. I think you can create a dynamic component  using it inside the `<ng-template>` element. The working demo can be found here https://stackblitz.com/edit/dynamic-component-validation-r5dxvt?file=src/app/app.component.ts

[2020-04-21 14:33] kapunahelewong commented on #27520
I really like your examination of the definition, @AnthonyPAlicea. I'll close this issue as the glossary has been updated since you filed this. If you feel it's still in need of more clarity, please feel free to re-open and tag me. Thank you!!

[2020-04-21 14:33] #27520 closed

[2020-04-21 14:56] AlesDo commented on #36414
I also have still the approximately the same timings as in my previous post with 9.1.2 version. The library builds are the ones that are much slower the application build is ok in my experience.

[2020-04-21 15:20] syndicatedshannon commented on #23435
My current use-case for something like this is to allow Angular to manage my subscription lifetime.

Given the following template throughout for clarity:

    <select (change)="selected.next($event.target.value)" />

Only in the simplest of use-cases do I get the benefit of the observable pattern:

    export class MyComponent {
        @Output() selected: EventEmitter<string> = new EventEmitter<s

[2020-04-21 15:33] ajitsinghkaler commented on #30098
@gkalpak I resolved it in #34088

[2020-04-21 15:49] jonnysmith1981 commented on #36740
If i need to explicitly put the component into the template then it's no longer dynamic.

[2020-04-21 16:08] #30098 closed

[2020-04-21 16:50] ajitsinghkaler commented on #26581
@gkalpak a lot of changes have been made on the platform after this I don't think this is applicable on current platform

[2020-04-21 16:54] #35700 closed

[2020-04-21 17:03] gkalpak commented on #26581
Hm...I am not sure what you mean by "platform" (😅), but I did a quick search and I couldn't find any specific code-snippets that are missing the `language="sh"` attribute.

Let's close this, then. If you have specific examples in mind, @preethamvishy, please open a new issue.

[2020-04-21 17:03] #26581 closed

[2020-04-21 17:05] ajitsinghkaler commented on #26581
by platform, I meant the angular.io website

[2020-04-21 17:57] mhmdtshref commented on #36060
I got the same problem, I just noticed that I've imported `MatDialog` to my module instead of `MatDialogModule`! So ashamed about this!

[2020-04-21 18:33] AndrewKushnir commented on #36619
Hi @kalsowerus, thanks for your help with testing the change 👍I expect the change to be included into `9.1.3` or `9.1.4` release. Thank you.

[2020-04-21 19:06] bido02 commented on #16649
I found a  solution in this link:
https://stackoverflow.com/questions/59552974/how-can-i-bind-a-linear-gradient-background-property-made-up-of-dynamic-variable

[2020-04-21 19:39] mc-lovin commented on #35576
Thanks @JoostK @solymosi

[2020-04-21 19:48] jpchavat opened #36746 "Confusing parameter docs with type hints in any"
I'm submitting a ...
----------

[code]

Current behavior ...
----------
https://github.com/angular/angular/blob/acf6075ca9aa92121bb0166b2b7560aeb2c167ff/packages/forms/src/form_builder.ts#L57
and
https://github.com/angular/angular/blob/acf6075ca9aa92121bb0166b2b7560aeb2c167ff/packages/forms/src/form_builder.ts#L105

The documentation about the parameter `formState` in the method `control(..)` and

[2020-04-21 19:53] #31148 closed

[2020-04-21 20:00] rahulshinde11 commented on #24466
for me locally it's working fine. but in prod build i get `polyfills.0dd82ec61b0c3f88f791.js:1 Uncaught Error: Zone already loaded`.

has somone found a solution for this

[2020-04-21 20:08] Lonli-Lokli commented on #33395
Seems like it was not fixed?
Is there any plans to fix it in the next 9.x or at least 10.0 ?

[2020-04-21 20:28] petebacondarwin commented on #33395
This is proving to be difficult to resolve. We still don't have a solution for symlinked packages. It is not even clear if we can find a resolution for v10.

[2020-04-21 20:41] Ledzz opened #36747 "ViewRef created by viewContainerRef.createEmbeddedView does not get all the inputs"
### Description
If I create ViewRef by viewContainerRef.createEmbeddedView child components don't get all the inputs properly when changeDetection is OnPush. In the attached example if you uncomment lines in app.component.ts it works properly (rendering Hello World).

## 🔬 Minimal Reproduction

https://stackblitz.com/edit/angular-ledzz-wtf?file=src%2Fapp%2Fapp.component.ts

## 🌍  Your Environment

[2020-04-21 21:02] #36747 closed

[2020-04-21 21:18] zstundys commented on #31337
Workaround that worked for me:

- changing the `compilerOptions.target` property to `es5` in `tsconfig.json`

Although it fixes the `--code-coverage` test runs, it prevents differential (es5, es2015) builds, though - resulting in bigger bundles

[2020-04-21 22:12] nikme commented on #23427
Commenting so the bot does not close tread as this is not fully fixed yet :/

[2020-04-21 23:18] atscott commented on #36688
Hi @MathewBerg - The `HashLocationStrategy` uses the entire fragment as the internal route and ignores the rest: https://github.com/angular/angular/blob/acf6075ca9aa92121bb0166b2b7560aeb2c167ff/packages/common/src/location/hash_location_strategy.ts#L61
The way to set parameters using the hash strategy would be http://localhost:4200/#/example?param=value. Can you format your URL that way or is ther

[2020-04-21 23:21] MathewBerg commented on #36688
@atscott unfortunately not because that does not get passed along in the referer header to external services.

[2020-04-22 00:11] jecorrales3 commented on #31221
In my case I was using a layout for every route, just like

**layout  (authentication)**
  - Login
  - Register

In the module of this layout I was importing the  directives for reactive forms

But, I called again in the principal module of application  **app.module.ts** and that has generated the mistake (half day was lost)

[2020-04-22 00:19] AndrewKushnir commented on #23749
Thanks for reporting this issue @gtranter. This issue is also discussed in #35591, so I'm closing this ticket as a duplicate of #35591. Please subscribe to the #35591 to receive further updates. Thank you.

[2020-04-22 00:19] #23749 closed

[2020-04-22 00:53] atscott commented on #36688
Hmm, I'm not really sure what to recommend other than experiment with implementing your own `LocationStrategy`. The `HashLocationStrategy` is working as intended here. Handling unordered url parts would greatly complicate the handling of the path. Even the URI RFC has a strict order: [path, then query, then fragment](https://tools.ietf.org/html/rfc3986#section-3). Allowing for the path to be after

[2020-04-22 01:58] #36619 closed

[2020-04-22 02:28] vinagreti commented on #36640
@souhailharrati, thank you for your workaround!

Even having ways of working around this issue, it is still an issue.
The state of both components are the same at the same time, but `OnPush` doesn't reflects the state as it should do.

My workaround was enabling `Default` mode on that specific component and wait for this issue to be solved.

[2020-04-22 04:48] goyaltushar92 opened #36752 "In custom date/time format add support for using local date and time sepraters"
# 🚀 feature request

### Relevant Package
 This feature request is for @angular/common

### Description
 According to location date separators varies between
* "/" – stroke (slash)
* "." – dots or full stops/points (periods)
* "-" – hyphens or dashes
* " " – spaces
similarly time separator also changes according to location.

Currently, Angular does not provide any way to use localized date and ti

[2020-04-22 05:36] princemaple commented on #8785
If this specific feature was on Angular survey https://twitter.com/angular/status/1252646001162088448?s=20, I bet it'd be the top voted entry.

[2020-04-22 06:42] petebacondarwin commented on #36752
Thanks for the issue.
Can you tell me, is this information available in the CLDR data source that we use for our localisation information? I cant find any information about it.

If this info isn't available then we would not be able to support it.

Generally we are not adding custom format codes to our date/time formatting features.

[2020-04-22 06:45] klogeaage commented on #33715
@abadakhshan Spot on, we also have a major problem because the `entryComponents `array is now ignored in Angular9 when using Ivy, thus removing the components that are ONLY referenced via a name lookup with a scheme like what is described in #35314. I'm going to attempt a workaround as described [here](https://github.com/angular/angular/issues/35314#issuecomment-584821399).

But it would be nice i

[2020-04-22 07:07] marcoripa96 commented on #36173
I have the same issue in angular 9.1.

[2020-04-22 07:36] mlc-mlapis commented on #33715
@klogeaage @JoostK Yep. You are right. The problem exists. It's a bit surprising for me that the Angular team didn't cover this case in some official solution. Especially from the point of view, that the whole site https://angular.io used this technique some time ago (parsing HTML template code and dynamically creating a pre-defined set of components on the base of their selectors).

It's true tha

[2020-04-22 07:43] montella1507 commented on #33715
@mlc-mlapis  i am going to go deeper... i think it should / may be possible in the future to use lazy-loaded component directly in template with some kind of shield, aka:

`
[LAZY(./something.module)]
 <lazy-component [inputA]="5" (output)="onOutput()"></lazy-component>
`

Because:
1) It should be possible (check ngx-template-streams)
2) It is really needed, NOONE has ever written article about cr

[2020-04-22 07:56] darkbasic commented on #8785
There are tons of features which would be top voted, this one for sure but also using Observables for @output and many others. Unfortunately at the current pace they will never get implemented.

[2020-04-22 07:58] mlc-mlapis commented on #33715
@montella1507 Yep, it would be nice. 👍 But there is still necessary to come in with some clever and flexible way how to register such components somewhere + elegant syntax how to do it. The same role the Web Components (Angular Elements) have, but in our discussed topic those components are integral parts of the whole application, so it is not necessary to cover the complete interface.

[2020-04-22 09:22] Cc0515 opened #36753 "RxJS hypelink no work"

[2020-04-22 10:07] ANadjia opened #36754 "I can't create a new angular project using ng new project"
Hello ! i am trying to create a new angular project and it's not working
i installed ,
Node v : 12.16.2
Npm v : '6.13.4'
Angular v :  latest 9.1.2
This is the output  :
![image](https://user-images.githubusercontent.com/25845658/79969451-d365a600-8491-11ea-80fa-51f04ba713f1.png)

[2020-04-22 10:10] afeef1915 opened #36755 "How to use Ng Build or cli to create new folder inside dist/MyPojectName/assets/angular(ie new folder)"
What I need

* I need to create new folder say angular inside dist/myprojectname/assets folder.

So Folder Structure
  1. Project
  2.  dist
  3. MyProject Name
  4.assets

![image](https://user-images.githubusercontent.com/16572202/79970189-2baba080-84b0-11ea-9916-9dec04951c13.png)

 So when i ran

But it also created new files main.js or pollifils.js outside of assets folder

![image](https://us

[2020-04-22 10:11] pkozlowski-opensource commented on #36753
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists, please [open a new issue](h

[2020-04-22 10:11] #36753 closed

[2020-04-22 10:41] btxtiger opened #36756 "Module not imported when importing Component from other Module in Component"
# 🚀 feature request

### Relevant Package

 This feature request is for @angular/9

### Description
I created a universal module for mat-dialog components. However, when using a dialog-component in a component that opens the dialog, the Angular Language Service (?) does not consider, that it is also necessary to import the corresponding module, whereas inserting in html template using the directiv

[2020-04-22 11:14] xiaoxiangmoe commented on #36714
@petebacondarwin Should I open an issue about *how to best support a library author providing translations for their library*

[2020-04-22 11:20] petebacondarwin commented on #36714
Yes! Please do. This is something that we need to improve.

[2020-04-22 11:21] JiaLiPassion commented on #24466
@rahulshinde11, could you post a reproduce repo?

[2020-04-22 11:39] ericmartinezr commented on #36754
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-22 11:39] ericmartinezr commented on #36755
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2020-04-22 11:43] afeef1915 commented on #36755
Thanks for your reply.

I Just need Angular command which help in creating new folder in assets/angular

Thanks

[2020-04-22 11:57] gkalpak commented on #36754
It looks like a corrupted `package.json` file somewhere. I suggest you remove `node_modules/` and reinstall dependencies.

[2020-04-22 11:57] #36754 closed

[2020-04-22 12:38] nitindig commented on #24567
This is very basic requirement. It would be really great if it start supporting external links as well.

[2020-04-22 12:40] quiquek007 commented on #35788
It helped us turn “optimization” into false in angular.json.

[2020-04-22 12:51] xiaoxiangmoe opened #36757 "[i18n] how to best support a library author providing translations for their library"
We should discuss *how to best support a library author providing translations for their library*.

[2020-04-22 13:08] maroy1986 commented on #36278
I would add something to this. If you're using CircleCI or any other CI utility that allows caching dependencies,  you might want to skip the `ngcc` compile if the binaries are already available from the cache. To do so, change the `postinstall` script to this :

`"postinstall": "ngcc --properties es2015 browser module main --async false --first-only",`

This way, if binaries were restored from th

[2020-04-22 13:11] pawsoj opened #36758 "Angular Universal 9 - run server with local ssl"
# 🐞 bug report

### Affected Package
The issue is caused by packages:
@nguniversal/builders
@nguniversal/express-engine

### Is this a regression?

Yes, the previous version in which this bug was not present was 8.0

### Description

What's the right way to add 'fake' local certificate or just run app locally (browser and server) with https? In previous version (8.0) it was possible to add certifi

[2020-04-22 13:22] itbrandonsilva opened #36759 "Strange, inconsistent behavior using [ngClass] between setting `optimization` flag in build config to true or false."
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/core

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ~8.2.7

### Description

This report is a result of attempting to upgrade to ng9/ivy from ng8/ve.

When setting `optimization: true` in angular.json (which ultimately sets `ngDevMode` to `false`, which is responsible for t